Repository WordPress/gutenberg, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajitbohra, @juanmaguitar, @fabiankaegy, @ndiego, @nerrad, @mmtr, @geriux, @michalczaplinski, @ZebulanStanphill, @artemiomorales, @atimmer, @ellatrix, @tellthemachines, @dmsnell, @alexstine, @getdave, @draganescu, @adamziel, @kevin940726, @luisherranz, @darerodz, @ntwb, @gziolo, @ryanwelcher, @anton-vlasenko, @peterwilsoncc, @swissspidy, @talldan, @adamsilverstein, @desrosj, @ObliviousHarmony, @t-hamano, @spacedmonkey, @timothybjacobs

Docs/interactivity api router package readme (#62062)
  packages/interactivity-router/README.md
Owners: none

Composite: fix legacy implementation passing store prop (#65821)
  packages/components/CHANGELOG.md
  packages/components/src/composite/group-label.tsx
  packages/components/src/composite/group.tsx
  packages/components/src/composite/hover.tsx
  packages/components/src/composite/index.tsx
  packages/components/src/composite/item.tsx
  packages/components/src/composite/row.tsx
  packages/components/src/composite/typeahead.tsx
Owners: @ajitbohra

DataForm - Add combined fields support (#65399)
  packages/dataviews/src/components/dataform-combined-edit/index.tsx
  packages/dataviews/src/components/dataform-combined-edit/style.scss
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/dataforms-layouts/get-visible-fields.ts
  packages/dataviews/src/dataforms-layouts/panel/index.tsx
  packages/dataviews/src/dataforms-layouts/regular/index.tsx
  packages/dataviews/src/normalize-fields.ts
  packages/dataviews/src/style.scss
  packages/dataviews/src/types.ts
  packages/dataviews/src/validation.ts
Owners: none

Customize widgets, edit post: refactor Button to new sizes (#65807)
  packages/customize-widgets/src/components/error-boundary/index.js
  packages/customize-widgets/src/components/inserter/index.js
  packages/customize-widgets/src/components/welcome-guide/index.js
  packages/edit-post/src/components/back-button/fullscreen-mode-close.js
  packages/edit-post/src/components/back-button/test/__snapshots__/fullscreen-mode-close.js.snap
  packages/edit-post/src/components/init-pattern-modal/index.js
  packages/edit-post/src/components/preferences-modal/enable-custom-fields.js
  packages/edit-post/src/components/preferences-modal/test/__snapshots__/enable-custom-fields.js.snap
Owners: none

Support indent and outdent
  packages/block-editor/src/store/selectors.js
  packages/block-library/src/list-item/edit.js
Owners: @ellatrix, @ajitbohra

Fix string splitting
  packages/interactivity/src/vdom.ts
Owners: @luisherranz, @darerodz

Adjust context tests
  packages/e2e-tests/plugins/interactive-blocks/directive-class/render.php
  packages/e2e-tests/plugins/interactive-blocks/directive-class/view.js
  test/e2e/specs/interactivity/directive-class.spec.ts
Owners: @ntwb, @nerrad, @ajitbohra

Add test for unusual class directive characters
  packages/e2e-tests/plugins/interactive-blocks/directive-class/render.php
  test/e2e/specs/interactivity/directive-class.spec.ts
Owners: @ntwb, @nerrad, @ajitbohra

Remove orphaned select ref code
  packages/block-editor/src/components/block-tools/index.js
Owners: @ellatrix

Filter UI: Remove popover max height
  packages/dataviews/src/components/dataviews-filters/style.scss
Owners: none

Fix write mode outdent
  packages/block-editor/src/store/selectors.js
Owners: @ellatrix

Update theme.js
  storybook/theme.js
Owners: none

Format storybook/theme.js
  storybook/theme.js
Owners: none

Typography
  storybook/theme.js
Owners: none

auareyou changes
  storybook/main.js
  storybook/static/wp-org-logo.png
  storybook/theme.js
Owners: none

Image swap
  storybook/static/wp-logo@2x.png
  storybook/static/wp-org-logo.png
Owners: none

Update theme.js
  storybook/theme.js
Owners: none

Logo lossless compression
  storybook/static/wp-logo@2x.png
Owners: none

Fix with classnames instead
  packages/components/src/drop-zone/index.tsx
  packages/compose/src/hooks/use-drop-zone/index.js
Owners: @ajitbohra

Also call onDragLeave in addition to onDragEnd in onDrop
  packages/compose/src/hooks/use-drop-zone/index.js
Owners: @ajitbohra

Revert CSS class change from #62044
  packages/components/src/drop-zone/index.tsx
  packages/components/src/drop-zone/style.scss
Owners: @ajitbohra

Refactor away from helper function and simplify
  packages/block-editor/src/components/block-tools/index.js
Owners: @ellatrix

Move social icons blockProps from li to button
  packages/block-library/src/social-link/edit.js
  packages/block-library/src/social-link/editor.scss
Owners: @ajitbohra

Remove unnecessary css for social icon button focus to make it consistent with other focus styles
  packages/block-library/src/social-link/editor.scss
Owners: @ajitbohra

remove unneeded classname
  packages/block-library/src/social-link/edit.js
Owners: @ajitbohra

Fix last remaining instance
  packages/editor/src/components/post-template/classic-theme.js
Owners: none

Top Toolbar: Show document bar when no block is selected even if block tools are expanded
  packages/editor/src/components/header/index.js
Owners: none

Button: Move to stricter lint rule
  .eslintrc.js
Owners: none

Add role='button' to social icon button to override document role
  packages/block-library/src/social-link/edit.js
Owners: @ajitbohra

Update changelog
  packages/components/CHANGELOG.md
Owners: @ajitbohra

Remove unused class
  packages/components/src/drop-zone/index.tsx
Owners: @ajitbohra

Set width for embed in group block
  packages/block-library/src/embed/style.scss
Owners: @ajitbohra

Update TS type of the stylesheets variable
  packages/interactivity-router/src/head.ts
Owners: none

Replace Array.from() with direct forEach() on NodeList in head.ts:
  packages/interactivity-router/src/head.ts
Owners: none

Add default to `transitionEndFilter`.
  packages/components/src/toggle-group-control/toggle-group-control/component.tsx
Owners: @ajitbohra

Rename `attribute` to `dataAttribute` and improve docs.
  packages/components/src/toggle-group-control/toggle-group-control/component.tsx
Owners: @ajitbohra

Update snapshot tests.
  packages/components/src/toggle-group-control/test/__snapshots__/index.tsx.snap
Owners: @ajitbohra

Check if href is null
  packages/interactivity-router/src/head.ts
Owners: none

Focus section root if no focus and tabbing to zoom out canvas
  packages/block-editor/src/components/writing-flow/use-tab-nav.js
Owners: @ellatrix

Update tools menus with Write / Design order (#65721)
  packages/block-editor/src/components/tool-selector/index.js
Owners: @ellatrix

.github/CODEOWNERS:

# Documentation
/docs                                           @ajitbohra @juanmaguitar @fabiankaegy @ndiego
/packages/interactivity/docs                    @juanmaguitar

# Schemas
/schemas/json

# Data
/packages/api-fetch                             @nerrad @mmtr
/packages/core-data                             @nerrad
/packages/data                                  @nerrad
/packages/redux-routine                         @nerrad
/packages/data-controls                         @nerrad

# Blocks
/packages/block-library                         @ajitbohra
/packages/block-library/src/gallery             @geriux
/packages/block-library/src/comment-template    @michalczaplinski
/packages/block-library/src/comments            @michalczaplinski
/packages/block-library/src/table-of-contents   @ZebulanStanphill
/packages/block-library/src/image               @artemiomorales

# Duotone
/lib/block-supports/duotone.php
/packages/block-editor/src/components/duotone-control
/packages/block-editor/src/hooks/duotone.js
/packages/components/src/duotone-picker

# Editor
/packages/annotations                           @atimmer
/packages/autop
/packages/block-editor                          @ellatrix
/packages/block-editor/src/hooks                @tellthemachines
/packages/block-editor/src/layouts              @tellthemachines
/packages/block-serialization-spec-parser       @dmsnell
/packages/block-serialization-default-parser    @dmsnell
/packages/blocks
/packages/edit-post
/packages/editor
/packages/editor/src/components/post-title @alexstine
/packages/list-reusable-blocks
/packages/shortcode
/packages/block-directory
/packages/interface
/packages/media-utils
/packages/server-side-render
/packages/block-editor/src/components/link-control  @getdave

# Widgets
/packages/edit-widgets                          @draganescu @adamziel @kevin940726
/packages/customize-widgets
/packages/widgets

# Full Site Editing
/packages/edit-site

# Interactivity API
/packages/interactivity                         @luisherranz @darerodz

# Tooling
/bin                                            @ntwb @nerrad @ajitbohra
/bin/api-docs                                   @ntwb @nerrad @ajitbohra
/docs/tool                                      @ajitbohra @ndiego
/packages/babel-plugin-import-jsx-pragma        @ntwb @nerrad @ajitbohra
/packages/babel-plugin-makepot                  @ntwb @nerrad @ajitbohra
/packages/babel-preset-default                  @gziolo @ntwb @nerrad @ajitbohra
/packages/browserslist-config                   @ntwb @nerrad @ajitbohra
/packages/create-block                          @gziolo @ryanwelcher
/packages/create-block-tutorial-template        @gziolo @ryanwelcher
/packages/dependency-extraction-webpack-plugin  @gziolo
/packages/docgen
/packages/e2e-test-utils                        @ntwb @nerrad @ajitbohra
/packages/e2e-tests                             @ntwb @nerrad @ajitbohra
/packages/e2e-test-utils-playwright             @kevin940726
/packages/eslint-plugin                         @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-console                          @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-preset-default                   @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-puppeteer-axe                    @gziolo @ntwb @nerrad @ajitbohra
/packages/npm-package-json-lint-config          @gziolo @ntwb @nerrad @ajitbohra
/packages/postcss-themes                        @ntwb @nerrad @ajitbohra
/packages/prettier-config                       @ntwb @gziolo
/packages/scripts                               @gziolo @ntwb @nerrad @ajitbohra @ryanwelcher
/packages/stylelint-config                      @ntwb
/test/php/gutenberg-coding-standards            @anton-vlasenko

# UI Components
/packages/components                            @ajitbohra
/packages/compose                               @ajitbohra
/packages/element                               @ajitbohra
/packages/notices                               @ajitbohra
/packages/nux                                   @ajitbohra @peterwilsoncc
/packages/viewport                              @ajitbohra
/packages/base-styles
/packages/icons
/packages/primitives

# Utilities
/packages/a11y
/packages/blob
/packages/date
/packages/deprecated
/packages/dom                                   @ellatrix
/packages/dom-ready
/packages/escape-html
/packages/html-entities
/packages/i18n                                  @swissspidy
/packages/is-shallow-equal
/packages/keyboard-shortcuts
/packages/keycodes
/packages/preferences                           @talldan
/packages/priority-queue
/packages/token-list
/packages/url
/packages/wordcount
/packages/warning

# Extensibility
/packages/hooks                                 @adamsilverstein
/packages/plugins                               @gziolo @adamsilverstein

# Rich Text
/packages/format-library                        @ellatrix
/packages/rich-text                             @ellatrix
/packages/block-editor/src/components/rich-text @ellatrix

# Project Management
/.github                                        @desrosj
/packages/project-management-automation
/packages/report-flaky-tests                    @kevin940726

# wp-env
/packages/env                                   @ObliviousHarmony @t-hamano

# PHP
/lib                                            @spacedmonkey
/lib/block-supports/layout.php                  @tellthemachines
/lib/class-wp-theme-json-gutenberg.php          @tellthemachines
/lib/compat/*/html-api                          @dmsnell
/lib/experimental/rest-api.php                  @timothybjacobs
/lib/experimental/class-wp-rest-*               @timothybjacobs
/lib/experimental/class-wp-rest-block-editor-settings-controller.php @timothybjacobs @spacedmonkey @geriux

# Native
/packages/components/src/mobile/global-styles-context                @geriux

# Native (Unowned)
*.native.js
*.android.js
*.ios.js
*.native.scss
*.android.scss
*.ios.scss
