Repository WordPress/gutenberg, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajitbohra, @juanmaguitar, @fabiankaegy, @ndiego, @nerrad, @mmtr, @geriux, @michalczaplinski, @ZebulanStanphill, @artemiomorales, @atimmer, @ellatrix, @tellthemachines, @dmsnell, @alexstine, @getdave, @draganescu, @adamziel, @kevin940726, @luisherranz, @darerodz, @ntwb, @gziolo, @ryanwelcher, @anton-vlasenko, @peterwilsoncc, @swissspidy, @talldan, @adamsilverstein, @desrosj, @ObliviousHarmony, @t-hamano, @spacedmonkey, @timothybjacobs

.github/CODEOWNERS:

# Documentation
/docs                                           @ajitbohra @juanmaguitar @fabiankaegy @ndiego
/packages/interactivity/docs                    @juanmaguitar

# Schemas
/schemas/json

# Data
/packages/api-fetch                             @nerrad @mmtr
/packages/core-data                             @nerrad
/packages/data                                  @nerrad
/packages/redux-routine                         @nerrad
/packages/data-controls                         @nerrad

# Blocks
/packages/block-library                         @ajitbohra
/packages/block-library/src/gallery             @geriux
/packages/block-library/src/comment-template    @michalczaplinski
/packages/block-library/src/comments            @michalczaplinski
/packages/block-library/src/table-of-contents   @ZebulanStanphill
/packages/block-library/src/image               @artemiomorales

# Duotone
/lib/block-supports/duotone.php
/packages/block-editor/src/components/duotone-control
/packages/block-editor/src/hooks/duotone.js
/packages/components/src/duotone-picker

# Editor
/packages/annotations                           @atimmer
/packages/autop
/packages/block-editor                          @ellatrix
/packages/block-editor/src/hooks                @tellthemachines
/packages/block-editor/src/layouts              @tellthemachines
/packages/block-serialization-spec-parser       @dmsnell
/packages/block-serialization-default-parser    @dmsnell
/packages/blocks
/packages/edit-post
/packages/editor
/packages/editor/src/components/post-title @alexstine
/packages/list-reusable-blocks
/packages/shortcode
/packages/block-directory
/packages/interface
/packages/media-utils
/packages/server-side-render
/packages/block-editor/src/components/link-control  @getdave

# Widgets
/packages/edit-widgets                          @draganescu @adamziel @kevin940726
/packages/customize-widgets
/packages/widgets

# Full Site Editing
/packages/edit-site

# Interactivity API
/packages/interactivity                         @luisherranz @darerodz

# Tooling
/bin                                            @ntwb @nerrad @ajitbohra
/bin/api-docs                                   @ntwb @nerrad @ajitbohra
/docs/tool                                      @ajitbohra @ndiego
/packages/babel-plugin-import-jsx-pragma        @ntwb @nerrad @ajitbohra
/packages/babel-plugin-makepot                  @ntwb @nerrad @ajitbohra
/packages/babel-preset-default                  @gziolo @ntwb @nerrad @ajitbohra
/packages/browserslist-config                   @ntwb @nerrad @ajitbohra
/packages/create-block                          @gziolo @ryanwelcher
/packages/create-block-tutorial-template        @gziolo @ryanwelcher
/packages/dependency-extraction-webpack-plugin  @gziolo
/packages/docgen
/packages/e2e-test-utils                        @ntwb @nerrad @ajitbohra
/packages/e2e-tests                             @ntwb @nerrad @ajitbohra
/packages/e2e-test-utils-playwright             @kevin940726
/packages/eslint-plugin                         @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-console                          @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-preset-default                   @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-puppeteer-axe                    @gziolo @ntwb @nerrad @ajitbohra
/packages/npm-package-json-lint-config          @gziolo @ntwb @nerrad @ajitbohra
/packages/postcss-themes                        @ntwb @nerrad @ajitbohra
/packages/prettier-config                       @ntwb @gziolo
/packages/scripts                               @gziolo @ntwb @nerrad @ajitbohra @ryanwelcher
/packages/stylelint-config                      @ntwb
/test/php/gutenberg-coding-standards            @anton-vlasenko

# UI Components
/packages/components                            @ajitbohra
/packages/compose                               @ajitbohra
/packages/element                               @ajitbohra
/packages/notices                               @ajitbohra
/packages/nux                                   @ajitbohra @peterwilsoncc
/packages/viewport                              @ajitbohra
/packages/base-styles
/packages/icons
/packages/primitives

# Utilities
/packages/a11y
/packages/blob
/packages/date
/packages/deprecated
/packages/dom                                   @ellatrix
/packages/dom-ready
/packages/escape-html
/packages/html-entities
/packages/i18n                                  @swissspidy
/packages/is-shallow-equal
/packages/keyboard-shortcuts
/packages/keycodes
/packages/preferences                           @talldan
/packages/priority-queue
/packages/token-list
/packages/url
/packages/wordcount
/packages/warning

# Extensibility
/packages/hooks                                 @adamsilverstein
/packages/plugins                               @gziolo @adamsilverstein

# Rich Text
/packages/format-library                        @ellatrix
/packages/rich-text                             @ellatrix
/packages/block-editor/src/components/rich-text @ellatrix

# Project Management
/.github                                        @desrosj
/packages/project-management-automation
/packages/report-flaky-tests                    @kevin940726

# wp-env
/packages/env                                   @ObliviousHarmony @t-hamano

# PHP
/lib                                            @spacedmonkey
/lib/block-supports/layout.php                  @tellthemachines
/lib/class-wp-theme-json-gutenberg.php          @tellthemachines
/lib/compat/*/html-api                          @dmsnell
/lib/experimental/rest-api.php                  @timothybjacobs
/lib/experimental/class-wp-rest-*               @timothybjacobs
/lib/experimental/class-wp-rest-block-editor-settings-controller.php @timothybjacobs @spacedmonkey @geriux

# Native
/packages/components/src/mobile/global-styles-context                @geriux

# Native (Unowned)
*.native.js
*.android.js
*.ios.js
*.native.scss
*.android.scss
*.ios.scss

Update elevation in the site editor (#65410)
  packages/block-editor/src/components/block-draggable/style.scss
  packages/edit-site/src/components/layout/style.scss
Owners: @ellatrix

Simplify e2e test
  test/e2e/specs/editor/various/copy-cut-paste.spec.js
Owners: none

Skip serialization of border and spacing support
  packages/block-library/src/post-navigation-link/block.json
Owners: @ajitbohra

Apply border and spacing support manully
  packages/block-library/src/post-navigation-link/edit.js
  packages/block-library/src/post-navigation-link/index.php
Owners: @ajitbohra

Update comment texts
  packages/block-library/src/post-navigation-link/edit.js
  packages/block-library/src/post-navigation-link/index.php
Owners: @ajitbohra

adds a color to the test which somehow gets the same color as the babacground after rebase on trunk
  packages/block-editor/src/components/block-list/content.scss
Owners: @ellatrix

Fix coding standards
  packages/block-library/src/post-navigation-link/index.php
Owners: @ajitbohra

Paste Handler: Try to fix pasting text with formatting (#63779)
  packages/block-editor/src/components/rich-text/event-listeners/paste-handler.js
  test/e2e/specs/editor/various/__snapshots__/Copy-cut-paste-should-paste-link-to-formatted-text-1-chromium.txt
  test/e2e/specs/editor/various/copy-cut-paste.spec.js
Owners: @ellatrix

Paste Handler: Try to fix pasting text with formatting (#63779)
  packages/block-editor/src/components/rich-text/event-listeners/paste-handler.js
  test/e2e/specs/editor/various/__snapshots__/Copy-cut-paste-should-paste-link-to-formatted-text-1-chromium.txt
  test/e2e/specs/editor/various/copy-cut-paste.spec.js
Owners: @ellatrix

Make `BlockManager` component reusable
  packages/editor/src/components/block-manager/category.js
  packages/editor/src/components/block-manager/checklist.js
  packages/editor/src/components/block-manager/index.js
  packages/editor/src/components/preferences-modal/block-visibility.js
  packages/editor/src/components/preferences-modal/index.js
Owners: none

Add missing "border" in Windows high contrast mode
  packages/edit-post/src/components/layout/style.scss
Owners: none

Move `flex-shrink` rule to toggle only
  packages/edit-post/src/components/layout/style.scss
Owners: none

Fix rule preserved for non-iframe canvas
  packages/edit-post/src/components/layout/style.scss
Owners: none

Guide: Update finish button to use the new default size
  packages/components/src/guide/index.tsx
Owners: @ajitbohra

CHANGELOG
  packages/components/CHANGELOG.md
Owners: @ajitbohra

ESLint: Fix temp migration rules for the components package
  .eslintrc.js
Owners: none

Add a comment to explain the extra margin
  packages/block-directory/src/components/downloadable-block-list-item/style.scss
Owners: none

Fix indentation
  packages/block-directory/src/components/downloadable-block-list-item/style.scss
Owners: none

Move actions test within reducer to actions test and test with selectors as well
  packages/editor/src/store/actions.js
  packages/editor/src/store/test/actions.js
  packages/editor/src/store/test/reducer.js
Owners: none

Remove unncessary return on dispatch
  packages/editor/src/store/actions.js
Owners: none

Guide: Update finish button to use the new default size (#65680)
  packages/components/CHANGELOG.md
  packages/components/src/guide/index.tsx
Owners: @ajitbohra

BorderControl: Use __next40pxDefaultSize prop for Reset button
  packages/components/src/border-control/border-control-dropdown/component.tsx
  packages/components/src/border-control/styles.ts
Owners: @ajitbohra

CHANGELOG
  packages/components/CHANGELOG.md
Owners: @ajitbohra

Block Directory: Fix downloadable block item alignment (#65677)
  packages/block-directory/src/components/downloadable-block-list-item/style.scss
Owners: none

Block Directory: Fix downloadable block item alignment (#65677)
  packages/block-directory/src/components/downloadable-block-list-item/style.scss
Owners: none

Update block editor selector state tests from insertionPoint to insertionCue
  packages/block-editor/src/store/test/selectors.js
Owners: @ellatrix

BorderControl: Use `__next40pxDefaultSize` prop for Reset button (#65682)
  packages/components/CHANGELOG.md
  packages/components/src/border-control/border-control-dropdown/component.tsx
  packages/components/src/border-control/styles.ts
Owners: @ajitbohra

GH Actions: run the tests against PHP 8.3 (#65357)
  .github/workflows/unit-test.yml
Owners: @desrosj

Composer: prevent a lock file from being created (#65359)
  composer.json
Owners: none

Composer: update minimum required PHPUnit Polyfills (#65355)
  composer.json
Owners: none

Composer: allow composer/installers 2.x (#65356)
  composer.json
Owners: none

Register movie CPT
  packages/e2e-tests/plugins/block-bindings.php
Owners: @ntwb, @nerrad, @ajitbohra

Add first version of block bindings test theme
  test/e2e/specs/editor/various/block-bindings.spec.js
  test/gutenberg-test-themes/block-bindings/index.php
  test/gutenberg-test-themes/block-bindings/style.css
  test/gutenberg-test-themes/block-bindings/templates/custom-template.html
  test/gutenberg-test-themes/block-bindings/templates/index.html
  test/gutenberg-test-themes/block-bindings/templates/single-movie.html
  test/gutenberg-test-themes/block-bindings/templates/single-post.html
  test/gutenberg-test-themes/block-bindings/theme.json
Owners: none

Create structure for tests
  test/e2e/specs/editor/various/block-bindings/block-bindings-sources.spec.js
  test/e2e/specs/editor/various/block-bindings/post-meta-source.spec.js
Owners: none

WIP: Add script to block bindings tests
  packages/e2e-tests/plugins/block-bindings.php
  packages/e2e-tests/plugins/block-bindings/index.js
Owners: @ntwb, @nerrad, @ajitbohra

Add setValues e2e tests
  packages/e2e-tests/plugins/block-bindings/index.js
  test/e2e/specs/editor/various/block-bindings/block-bindings-sources.spec.js
Owners: @ntwb, @nerrad, @ajitbohra

Wrap tests that should lock editing
  test/e2e/specs/editor/various/block-bindings/block-bindings-sources.spec.js
Owners: none

Add `getValues` tests
  packages/e2e-tests/plugins/block-bindings.php
  test/e2e/specs/editor/various/block-bindings/block-bindings-sources.spec.js
Owners: @ntwb, @nerrad, @ajitbohra

Add tests for `getFieldsList`
  packages/e2e-tests/plugins/block-bindings.php
  packages/e2e-tests/plugins/block-bindings/index.js
  test/e2e/specs/editor/various/block-bindings/block-bindings-sources.spec.js
Owners: @ntwb, @nerrad, @ajitbohra

Share data between server and client
  packages/e2e-tests/plugins/block-bindings.php
  packages/e2e-tests/plugins/block-bindings/index.js
Owners: @ntwb, @nerrad, @ajitbohra
