Repository WordPress/gutenberg, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajitbohra, @juanmaguitar, @fabiankaegy, @ndiego, @nerrad, @mmtr, @geriux, @michalczaplinski, @ZebulanStanphill, @artemiomorales, @atimmer, @ellatrix, @tellthemachines, @dmsnell, @alexstine, @getdave, @draganescu, @adamziel, @kevin940726, @luisherranz, @darerodz, @ntwb, @gziolo, @ryanwelcher, @anton-vlasenko, @peterwilsoncc, @swissspidy, @talldan, @adamsilverstein, @desrosj, @ObliviousHarmony, @t-hamano, @spacedmonkey, @timothybjacobs

.github/CODEOWNERS:

# Documentation
/docs                                           @ajitbohra @juanmaguitar @fabiankaegy @ndiego
/packages/interactivity/docs                    @juanmaguitar

# Schemas
/schemas/json

# Data
/packages/api-fetch                             @nerrad @mmtr
/packages/core-data                             @nerrad
/packages/data                                  @nerrad
/packages/redux-routine                         @nerrad
/packages/data-controls                         @nerrad

# Blocks
/packages/block-library                         @ajitbohra
/packages/block-library/src/gallery             @geriux
/packages/block-library/src/comment-template    @michalczaplinski
/packages/block-library/src/comments            @michalczaplinski
/packages/block-library/src/table-of-contents   @ZebulanStanphill
/packages/block-library/src/image               @artemiomorales

# Duotone
/lib/block-supports/duotone.php
/packages/block-editor/src/components/duotone-control
/packages/block-editor/src/hooks/duotone.js
/packages/components/src/duotone-picker

# Editor
/packages/annotations                           @atimmer
/packages/autop
/packages/block-editor                          @ellatrix
/packages/block-editor/src/hooks                @tellthemachines
/packages/block-editor/src/layouts              @tellthemachines
/packages/block-serialization-spec-parser       @dmsnell
/packages/block-serialization-default-parser    @dmsnell
/packages/blocks
/packages/edit-post
/packages/editor
/packages/editor/src/components/post-title @alexstine
/packages/list-reusable-blocks
/packages/shortcode
/packages/block-directory
/packages/interface
/packages/media-utils
/packages/server-side-render
/packages/block-editor/src/components/link-control  @getdave

# Widgets
/packages/edit-widgets                          @draganescu @adamziel @kevin940726
/packages/customize-widgets
/packages/widgets

# Full Site Editing
/packages/edit-site

# Interactivity API
/packages/interactivity                         @luisherranz @darerodz

# Tooling
/bin                                            @ntwb @nerrad @ajitbohra
/bin/api-docs                                   @ntwb @nerrad @ajitbohra
/docs/tool                                      @ajitbohra @ndiego
/packages/babel-plugin-import-jsx-pragma        @ntwb @nerrad @ajitbohra
/packages/babel-plugin-makepot                  @ntwb @nerrad @ajitbohra
/packages/babel-preset-default                  @gziolo @ntwb @nerrad @ajitbohra
/packages/browserslist-config                   @ntwb @nerrad @ajitbohra
/packages/create-block                          @gziolo @ryanwelcher
/packages/create-block-tutorial-template        @gziolo @ryanwelcher
/packages/dependency-extraction-webpack-plugin  @gziolo
/packages/docgen
/packages/e2e-test-utils                        @ntwb @nerrad @ajitbohra
/packages/e2e-tests                             @ntwb @nerrad @ajitbohra
/packages/e2e-test-utils-playwright             @kevin940726
/packages/eslint-plugin                         @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-console                          @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-preset-default                   @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-puppeteer-axe                    @gziolo @ntwb @nerrad @ajitbohra
/packages/npm-package-json-lint-config          @gziolo @ntwb @nerrad @ajitbohra
/packages/postcss-themes                        @ntwb @nerrad @ajitbohra
/packages/prettier-config                       @ntwb @gziolo
/packages/scripts                               @gziolo @ntwb @nerrad @ajitbohra @ryanwelcher
/packages/stylelint-config                      @ntwb
/test/php/gutenberg-coding-standards            @anton-vlasenko

# UI Components
/packages/components                            @ajitbohra
/packages/compose                               @ajitbohra
/packages/element                               @ajitbohra
/packages/notices                               @ajitbohra
/packages/nux                                   @ajitbohra @peterwilsoncc
/packages/viewport                              @ajitbohra
/packages/base-styles
/packages/icons
/packages/primitives

# Utilities
/packages/a11y
/packages/blob
/packages/date
/packages/deprecated
/packages/dom                                   @ellatrix
/packages/dom-ready
/packages/escape-html
/packages/html-entities
/packages/i18n                                  @swissspidy
/packages/is-shallow-equal
/packages/keyboard-shortcuts
/packages/keycodes
/packages/preferences                           @talldan
/packages/priority-queue
/packages/token-list
/packages/url
/packages/wordcount
/packages/warning

# Extensibility
/packages/hooks                                 @adamsilverstein
/packages/plugins                               @gziolo @adamsilverstein

# Rich Text
/packages/format-library                        @ellatrix
/packages/rich-text                             @ellatrix
/packages/block-editor/src/components/rich-text @ellatrix

# Project Management
/.github                                        @desrosj
/packages/project-management-automation
/packages/report-flaky-tests                    @kevin940726

# wp-env
/packages/env                                   @ObliviousHarmony @t-hamano

# PHP
/lib                                            @spacedmonkey
/lib/block-supports/layout.php                  @tellthemachines
/lib/class-wp-theme-json-gutenberg.php          @tellthemachines
/lib/compat/*/html-api                          @dmsnell
/lib/experimental/rest-api.php                  @timothybjacobs
/lib/experimental/class-wp-rest-*               @timothybjacobs
/lib/experimental/class-wp-rest-block-editor-settings-controller.php @timothybjacobs @spacedmonkey @geriux

# Native
/packages/components/src/mobile/global-styles-context                @geriux

# Native (Unowned)
*.native.js
*.android.js
*.ios.js
*.native.scss
*.android.scss
*.ios.scss

Merge custom and theme font families in getFontFamilyFromSetting.
  packages/edit-site/src/components/global-styles/utils.js
Owners: none

Block Bindings: Refactor e2e tests (#65526)
  packages/e2e-tests/plugins/block-bindings.php
  packages/e2e-tests/plugins/block-bindings/index.js
  test/e2e/specs/editor/various/block-bindings.spec.js
  test/e2e/specs/editor/various/block-bindings/custom-sources.spec.js
  test/e2e/specs/editor/various/block-bindings/post-meta.spec.js
  test/gutenberg-test-themes/block-bindings/index.php
  test/gutenberg-test-themes/block-bindings/style.css
  test/gutenberg-test-themes/block-bindings/templates/custom-template.html
  test/gutenberg-test-themes/block-bindings/templates/index.html
  test/gutenberg-test-themes/block-bindings/templates/single-movie.html
  test/gutenberg-test-themes/block-bindings/templates/single.html
  test/gutenberg-test-themes/block-bindings/theme.json
Owners: @ntwb, @nerrad, @ajitbohra

Remove additional Typeset screen and surface typesets in the typography panel (#65579)
  packages/edit-site/src/components/global-styles/screen-typeset.js
  packages/edit-site/src/components/global-styles/screen-typography.js
  packages/edit-site/src/components/global-styles/typeset-button.js
  packages/edit-site/src/components/global-styles/ui.js
Owners: none

Remove additional Typeset screen and surface typesets in the typography panel (#65579)
  packages/edit-site/src/components/global-styles/screen-typeset.js
  packages/edit-site/src/components/global-styles/screen-typography.js
  packages/edit-site/src/components/global-styles/typeset-button.js
  packages/edit-site/src/components/global-styles/ui.js
Owners: none

InspectorControls: Try prop to bypass BaseControl margin
  packages/block-editor/src/components/block-inspector/style.scss
  packages/block-editor/src/components/inspector-controls/fill.js
Owners: @ellatrix

Apply in Post Author block
  packages/block-library/src/editor.scss
  packages/block-library/src/post-author/edit.js
  packages/block-library/src/post-author/editor.scss
Owners: @ajitbohra

Try use select and dispatch instead of registry
  packages/block-editor/src/hooks/use-bindings-attributes.js
  packages/e2e-tests/plugins/block-bindings/index.js
  packages/editor/src/bindings/pattern-overrides.js
  packages/editor/src/bindings/post-meta.js
Owners: @tellthemachines, @ntwb, @nerrad, @ajitbohra

CircleCI Commit
  .circleci/config.yml
Owners: none

Add prompt to zoom out separator (#65392)
  packages/block-editor/src/components/block-list/content.scss
  packages/block-editor/src/components/block-list/zoom-out-separator.js
Owners: @ellatrix

Pass `select` to `canUserEditValue`
  packages/block-editor/src/components/rich-text/index.js
  packages/block-library/src/button/edit.js
  packages/block-library/src/image/edit.js
  packages/block-library/src/image/image.js
Owners: @ellatrix, @ajitbohra, @artemiomorales

Pass `select` to `getFieldsList`
  packages/block-editor/src/hooks/block-bindings.js
Owners: @tellthemachines

Fix `setValues`
  packages/block-editor/src/hooks/use-bindings-attributes.js
Owners: @tellthemachines

Fix in Dataforms layouts
  packages/dataviews/src/dataforms-layouts/panel/index.tsx
  packages/dataviews/src/dataforms-layouts/panel/style.scss
Owners: none

Fix in Patterns header
  packages/list-reusable-blocks/src/components/import-dropdown/index.js
  packages/list-reusable-blocks/src/components/import-dropdown/style.scss
  packages/list-reusable-blocks/src/style.scss
Owners: none

Fix in Patterns import popover
  packages/list-reusable-blocks/src/components/import-form/index.js
  packages/list-reusable-blocks/src/components/import-form/style.scss
Owners: none

Fix in nux
  packages/nux/src/components/dot-tip/index.js
Owners: @ajitbohra, @peterwilsoncc

Fix in ReusableBlockConvertButton
  packages/reusable-blocks/src/components/reusable-blocks-menu-items/reusable-block-convert-button.js
Owners: none

Add forced-colors media query
  packages/block-editor/src/components/list-view/style.scss
Owners: @ellatrix

Buttons: add box-sizing:border-box rule
  packages/block-library/src/buttons/style.scss
Owners: @ajitbohra

Use proper named `File` when uploading external images (#65693)
  packages/block-editor/src/components/inserter/media-tab/media-preview.js
Owners: @ellatrix

Block Bindings UI: Decode HTML entities in Block Bindings UI label
  packages/block-editor/src/hooks/block-bindings.js
Owners: @tellthemachines

Fix output buffering for cross-origin isolation (#65701)
  lib/experimental/media/load.php
Owners: @spacedmonkey

Openverse: prevent multiple insertions during upload
  packages/block-editor/src/components/inserter/media-tab/media-preview.js
Owners: @ellatrix

Added `showDropdownHeader` as deprecated.
  packages/components/src/border-control/border-control/component.tsx
  packages/components/src/border-control/types.ts
Owners: @ajitbohra

Temp fix for scrollbar issue in Style Book tabs.
  packages/edit-site/src/components/editor-canvas-container/style.scss
  packages/edit-site/src/components/style-book/style.scss
Owners: none

Fix scroll bug and clean up a little.
  packages/components/src/tabs/styles.ts
  packages/components/src/tabs/tablist.tsx
Owners: @ajitbohra

Simplify and clean up a bit more.
  packages/components/src/tabs/tablist.tsx
Owners: @ajitbohra

Fix merge issues.
  packages/components/CHANGELOG.md
  packages/edit-site/src/components/editor-canvas-container/style.scss
Owners: @ajitbohra

Fix merge issues again.
  packages/edit-site/src/components/editor-canvas-container/style.scss
Owners: none

Make inserter patterns/media changes more minimal
  packages/block-editor/src/components/inserter/style.scss
Owners: @ellatrix

Fix outdated comment
  packages/components/src/tabs/tablist.tsx
Owners: @ajitbohra

Fix another typo in comment.
  packages/edit-widgets/src/components/sidebar/index.js
Owners: @draganescu, @adamziel, @kevin940726

Minor cleanup.
  packages/components/src/tabs/tablist.tsx
Owners: @ajitbohra

Add chevron and fix a few minor details.
  packages/block-editor/src/components/inserter/category-tabs/index.js
  packages/components/src/tabs/styles.ts
  packages/components/src/tabs/tab.tsx
Owners: @ellatrix, @ajitbohra

Switched to transform strategy.
  packages/components/src/toggle-group-control/toggle-group-control/styles.ts
Owners: @ajitbohra

Fix resizing bug.
  packages/components/src/toggle-group-control/toggle-group-control/component.tsx
Owners: @ajitbohra

Transition border-radius too.
  packages/components/src/toggle-group-control/toggle-group-control/styles.ts
Owners: @ajitbohra

Undo Tabs changes (no longer relevant).
  packages/components/src/tabs/tablist.tsx
Owners: @ajitbohra

DRY animation code.
  packages/components/src/toggle-group-control/toggle-group-control/component.tsx
Owners: @ajitbohra

Avoid useless re-runs in effect.
  packages/components/src/toggle-group-control/toggle-group-control/component.tsx
Owners: @ajitbohra
