Repository WordPress/gutenberg, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajitbohra, @juanmaguitar, @fabiankaegy, @ndiego, @nerrad, @mmtr, @geriux, @michalczaplinski, @ZebulanStanphill, @artemiomorales, @atimmer, @ellatrix, @tellthemachines, @dmsnell, @alexstine, @getdave, @draganescu, @adamziel, @kevin940726, @luisherranz, @darerodz, @ntwb, @gziolo, @ryanwelcher, @anton-vlasenko, @peterwilsoncc, @swissspidy, @talldan, @adamsilverstein, @desrosj, @ObliviousHarmony, @t-hamano, @spacedmonkey, @timothybjacobs

Use lowercase names
  packages/editor/src/store/actions.js
Owners: none

Stabilize the PreSavePost and SavePost filters
  packages/editor/src/store/actions.js
Owners: none

Use async hooks
  packages/edit-post/src/store/actions.js
  packages/editor/src/store/actions.js
Owners: none

Inserter: Fix Block visibility manager
  packages/block-editor/src/components/inserter/hooks/use-patterns-state.js
  packages/block-editor/src/store/selectors.js
Owners: @ellatrix

Fix output buffering for cross-origin isolation
  lib/experimental/media/load.php
Owners: @spacedmonkey

Fix wasm content type in rewrite rules
  lib/experimental/media/load.php
Owners: @spacedmonkey

Remove unused param
  lib/experimental/media/load.php
Owners: @spacedmonkey

Conditionally load babel plugin
  babel.config.js
Owners: none

WPCS
  packages/block-library/src/navigation/index.php
Owners: @ajitbohra

Improve performance by memo postypes slug
  packages/editor/src/components/provider/index.js
Owners: none

Added: DropZone when sitelogo is present (#65596)
  packages/block-library/src/site-logo/edit.js
Owners: @ajitbohra

RichText: Update JSDoc block for to-html-string (#65688)
  packages/rich-text/README.md
  packages/rich-text/src/to-html-string.js
Owners: @ellatrix

bogus change for our pipeline
  readme.txt
Owners: none

revert bogus change for our pipeline to restart
  readme.txt
Owners: none

Add prompt to zoom out separator (#65392)
  packages/block-editor/src/components/block-list/content.scss
  packages/block-editor/src/components/block-list/zoom-out-separator.js
Owners: @ellatrix

List view: fix miscolored icons
  packages/block-editor/src/components/list-view/style.scss
Owners: @ellatrix

Editor Canvas: Tweal close button (#65694)
  packages/edit-site/src/components/editor-canvas-container/index.js
  packages/edit-site/src/components/editor-canvas-container/style.scss
Owners: none

Tweak entity save panel button (#65695)
  packages/editor/src/components/entities-saved-states/index.js
  packages/editor/src/components/entities-saved-states/style.scss
Owners: none

Tweak entity save panel button (#65695)
  packages/editor/src/components/entities-saved-states/index.js
  packages/editor/src/components/entities-saved-states/style.scss
Owners: none

Handle child blocks properly
  packages/block-editor/src/store/selectors.js
Owners: @ellatrix

update screen description
  packages/edit-site/src/components/global-styles/screen-typography.js
Owners: none

Update arrow names
  packages/edit-site/src/components/editor/index.js
  packages/icons/CHANGELOG.md
  packages/icons/src/index.js
  packages/icons/src/library/arrow-down-right.js
  packages/icons/src/library/arrowUpLeft.js
Owners: none

Fix file name
  packages/icons/src/index.js
  packages/icons/src/library/arrow-up-left.js
Owners: none

NavigatorProvider => Navigator (internally)
  packages/components/src/navigator/navigator/README.md
  packages/components/src/navigator/navigator/component.tsx
  packages/components/src/navigator/styles.ts
Owners: @ajitbohra

Remove mentions of the `useNavigator` hook
  packages/components/src/navigator/index.tsx
  packages/components/src/navigator/legacy.ts
  packages/components/src/navigator/navigator-back-button/README.md
  packages/components/src/navigator/navigator-button/README.md
  packages/components/src/navigator/navigator-screen/README.md
  packages/components/src/navigator/navigator/README.md
Owners: @ajitbohra

Fix storybook styles
  packages/components/src/navigator/stories/index.story.tsx
Owners: @ajitbohra

Fixup docs manifest
  docs/manifest.json
Owners: @ajitbohra, @juanmaguitar, @fabiankaegy, @ndiego

Move all READMEs under the main README
  packages/components/src/navigator/navigator-back-button/README.md
  packages/components/src/navigator/navigator-button/README.md
  packages/components/src/navigator/navigator-screen/README.md
  packages/components/src/navigator/navigator/README.md
Owners: @ajitbohra

Clean up unused imports
  packages/components/src/navigator/test/index.tsx
Owners: @ajitbohra

CHANGELOG
  packages/components/CHANGELOG.md
Owners: @ajitbohra

Export stable version from components package
  packages/components/src/index.ts
Owners: @ajitbohra

Restore `NavigatorToParentButton` test
  packages/components/src/navigator/test/index.tsx
Owners: @ajitbohra

NavigatorScreen: update docs
  docs/manifest.json
  packages/components/src/navigator/index.ts
  packages/components/src/navigator/navigator-screen/README.md
  packages/components/src/navigator/navigator-screen/component.tsx
Owners: @ajitbohra, @juanmaguitar, @fabiankaegy, @ndiego

Update types JSDocs to match README
  packages/components/src/navigator/types.ts
Owners: @ajitbohra

Update docs manifest
  docs/manifest.json
Owners: @ajitbohra, @juanmaguitar, @fabiankaegy, @ndiego

Typo
  packages/components/src/navigator/navigator/README.md
Owners: @ajitbohra

Update and align docs
  packages/components/src/navigator/index.tsx
  packages/components/src/navigator/legacy.ts
  packages/components/src/navigator/navigator/README.md
Owners: @ajitbohra

Move README to component's root folder
  packages/components/src/navigator/README.md
Owners: @ajitbohra

Update deprecation warning
  packages/components/src/navigator/navigator-to-parent-button/component.tsx
Owners: @ajitbohra

Fix useContextSystem names
  packages/components/src/navigator/navigator-back-button/hook.ts
  packages/components/src/navigator/navigator-button/hook.ts
  packages/components/src/navigator/navigator-screen/component.tsx
Owners: @ajitbohra

.github/CODEOWNERS:

# Documentation
/docs                                           @ajitbohra @juanmaguitar @fabiankaegy @ndiego
/packages/interactivity/docs                    @juanmaguitar

# Schemas
/schemas/json

# Data
/packages/api-fetch                             @nerrad @mmtr
/packages/core-data                             @nerrad
/packages/data                                  @nerrad
/packages/redux-routine                         @nerrad
/packages/data-controls                         @nerrad

# Blocks
/packages/block-library                         @ajitbohra
/packages/block-library/src/gallery             @geriux
/packages/block-library/src/comment-template    @michalczaplinski
/packages/block-library/src/comments            @michalczaplinski
/packages/block-library/src/table-of-contents   @ZebulanStanphill
/packages/block-library/src/image               @artemiomorales

# Duotone
/lib/block-supports/duotone.php
/packages/block-editor/src/components/duotone-control
/packages/block-editor/src/hooks/duotone.js
/packages/components/src/duotone-picker

# Editor
/packages/annotations                           @atimmer
/packages/autop
/packages/block-editor                          @ellatrix
/packages/block-editor/src/hooks                @tellthemachines
/packages/block-editor/src/layouts              @tellthemachines
/packages/block-serialization-spec-parser       @dmsnell
/packages/block-serialization-default-parser    @dmsnell
/packages/blocks
/packages/edit-post
/packages/editor
/packages/editor/src/components/post-title @alexstine
/packages/list-reusable-blocks
/packages/shortcode
/packages/block-directory
/packages/interface
/packages/media-utils
/packages/server-side-render
/packages/block-editor/src/components/link-control  @getdave

# Widgets
/packages/edit-widgets                          @draganescu @adamziel @kevin940726
/packages/customize-widgets
/packages/widgets

# Full Site Editing
/packages/edit-site

# Interactivity API
/packages/interactivity                         @luisherranz @darerodz

# Tooling
/bin                                            @ntwb @nerrad @ajitbohra
/bin/api-docs                                   @ntwb @nerrad @ajitbohra
/docs/tool                                      @ajitbohra @ndiego
/packages/babel-plugin-import-jsx-pragma        @ntwb @nerrad @ajitbohra
/packages/babel-plugin-makepot                  @ntwb @nerrad @ajitbohra
/packages/babel-preset-default                  @gziolo @ntwb @nerrad @ajitbohra
/packages/browserslist-config                   @ntwb @nerrad @ajitbohra
/packages/create-block                          @gziolo @ryanwelcher
/packages/create-block-tutorial-template        @gziolo @ryanwelcher
/packages/dependency-extraction-webpack-plugin  @gziolo
/packages/docgen
/packages/e2e-test-utils                        @ntwb @nerrad @ajitbohra
/packages/e2e-tests                             @ntwb @nerrad @ajitbohra
/packages/e2e-test-utils-playwright             @kevin940726
/packages/eslint-plugin                         @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-console                          @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-preset-default                   @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-puppeteer-axe                    @gziolo @ntwb @nerrad @ajitbohra
/packages/npm-package-json-lint-config          @gziolo @ntwb @nerrad @ajitbohra
/packages/postcss-themes                        @ntwb @nerrad @ajitbohra
/packages/prettier-config                       @ntwb @gziolo
/packages/scripts                               @gziolo @ntwb @nerrad @ajitbohra @ryanwelcher
/packages/stylelint-config                      @ntwb
/test/php/gutenberg-coding-standards            @anton-vlasenko

# UI Components
/packages/components                            @ajitbohra
/packages/compose                               @ajitbohra
/packages/element                               @ajitbohra
/packages/notices                               @ajitbohra
/packages/nux                                   @ajitbohra @peterwilsoncc
/packages/viewport                              @ajitbohra
/packages/base-styles
/packages/icons
/packages/primitives

# Utilities
/packages/a11y
/packages/blob
/packages/date
/packages/deprecated
/packages/dom                                   @ellatrix
/packages/dom-ready
/packages/escape-html
/packages/html-entities
/packages/i18n                                  @swissspidy
/packages/is-shallow-equal
/packages/keyboard-shortcuts
/packages/keycodes
/packages/preferences                           @talldan
/packages/priority-queue
/packages/token-list
/packages/url
/packages/wordcount
/packages/warning

# Extensibility
/packages/hooks                                 @adamsilverstein
/packages/plugins                               @gziolo @adamsilverstein

# Rich Text
/packages/format-library                        @ellatrix
/packages/rich-text                             @ellatrix
/packages/block-editor/src/components/rich-text @ellatrix

# Project Management
/.github                                        @desrosj
/packages/project-management-automation
/packages/report-flaky-tests                    @kevin940726

# wp-env
/packages/env                                   @ObliviousHarmony @t-hamano

# PHP
/lib                                            @spacedmonkey
/lib/block-supports/layout.php                  @tellthemachines
/lib/class-wp-theme-json-gutenberg.php          @tellthemachines
/lib/compat/*/html-api                          @dmsnell
/lib/experimental/rest-api.php                  @timothybjacobs
/lib/experimental/class-wp-rest-*               @timothybjacobs
/lib/experimental/class-wp-rest-block-editor-settings-controller.php @timothybjacobs @spacedmonkey @geriux

# Native
/packages/components/src/mobile/global-styles-context                @geriux

# Native (Unowned)
*.native.js
*.android.js
*.ios.js
*.native.scss
*.android.scss
*.ios.scss
