Repository WordPress/gutenberg, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajitbohra, @juanmaguitar, @fabiankaegy, @ndiego, @nerrad, @mmtr, @geriux, @michalczaplinski, @ZebulanStanphill, @artemiomorales, @atimmer, @ellatrix, @tellthemachines, @dmsnell, @alexstine, @getdave, @draganescu, @adamziel, @kevin940726, @luisherranz, @darerodz, @ntwb, @gziolo, @ryanwelcher, @anton-vlasenko, @peterwilsoncc, @swissspidy, @talldan, @adamsilverstein, @desrosj, @ObliviousHarmony, @t-hamano, @spacedmonkey, @timothybjacobs

Add stylelint rule to prevent wp-components CSS var usage
  .stylelintrc.json
Owners: none

feat: Replace Toggle Group Controls with Select Control.
  packages/block-library/src/social-links/edit.js
Owners: @ajitbohra

Button: Add `__next40pxDefaultSize` in block-editor 6 (#65742)
  packages/block-editor/src/components/skip-to-selected-block/index.js
  packages/block-editor/src/components/skip-to-selected-block/style.scss
  packages/block-editor/src/components/tool-selector/index.js
  packages/block-editor/src/components/url-input/button.js
  packages/block-editor/src/components/url-input/index.js
  packages/block-editor/src/components/url-input/style.scss
  packages/block-editor/src/layouts/flex.js
Owners: @ellatrix, @tellthemachines

Button: Add `__next40pxDefaultSize` in block-editor 6 (#65742)
  packages/block-editor/src/components/skip-to-selected-block/index.js
  packages/block-editor/src/components/skip-to-selected-block/style.scss
  packages/block-editor/src/components/tool-selector/index.js
  packages/block-editor/src/components/url-input/button.js
  packages/block-editor/src/components/url-input/index.js
  packages/block-editor/src/components/url-input/style.scss
  packages/block-editor/src/layouts/flex.js
Owners: @ellatrix, @tellthemachines

Move hook logic to `useMemo`
  packages/block-editor/src/hooks/use-bindings-attributes.js
Owners: @tellthemachines

Split select in getFieldsList hook
  packages/block-editor/src/hooks/block-bindings.js
Owners: @tellthemachines

Simplify function by removing postType logic
  packages/block-library/src/query/edit/query-content.js
  packages/block-library/src/query/test/utils.js
  packages/block-library/src/query/utils.js
Owners: @ajitbohra

Changes after rebase
  packages/block-editor/src/hooks/block-bindings.js
  packages/block-editor/src/hooks/use-bindings-attributes.js
Owners: @tellthemachines

Add isVisible callback for form fields
  packages/dataviews/src/components/dataform-field-visibility/index.tsx
  packages/dataviews/src/dataforms-layouts/panel/index.tsx
  packages/dataviews/src/dataforms-layouts/regular/index.tsx
  packages/dataviews/src/types.ts
Owners: none

Update storybook to add visibility example
  packages/dataviews/src/components/dataform/stories/index.story.tsx
Owners: none

Navigator: use stable export instead of experimental export (#65753)
  packages/block-editor/src/components/inserter/mobile-tab-navigation.js
  packages/components/src/index.ts
  packages/edit-site/src/components/global-styles-sidebar/index.js
  packages/edit-site/src/components/global-styles/font-library-modal/font-card.js
  packages/edit-site/src/components/global-styles/font-library-modal/font-collection.js
  packages/edit-site/src/components/global-styles/font-library-modal/installed-fonts.js
  packages/edit-site/src/components/global-styles/font-sizes/font-size.js
  packages/edit-site/src/components/global-styles/header.js
  packages/edit-site/src/components/global-styles/navigation-button.js
  packages/edit-site/src/components/global-styles/screen-revisions/index.js
  packages/edit-site/src/components/global-styles/shadows-edit-panel.js
  packages/edit-site/src/components/global-styles/ui.js
  packages/preferences/src/components/preferences-modal-tabs/index.js
Owners: @ellatrix, @ajitbohra, @talldan

Add content roles to file block attributes
  packages/block-library/src/file/block.json
Owners: @ajitbohra

Navigator: fix README heading hierarchy (#65763)
  packages/components/src/navigator/README.md
Owners: @ajitbohra

Check for dragging and show/hide inserters
  packages/block-editor/src/components/block-tools/index.js
Owners: @ellatrix

Global Styles: fix screens crashing on exit animation
  packages/edit-site/src/components/global-styles/font-sizes/font-size.js
  packages/edit-site/src/components/global-styles/shadows-edit-panel.js
Owners: none

Avoid errors when the fontSize is not available
  packages/edit-site/src/components/global-styles/font-sizes/font-size.js
Owners: none

remove goBack
  packages/edit-site/src/components/global-styles/font-sizes/font-size.js
Owners: none

Temp disable test
  test/e2e/specs/editor/blocks/classic.spec.js
Owners: none

Remove editorMode from blockProps (#65326)
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/use-block-props/index.js
  packages/block-editor/src/components/block-list/use-block-props/use-zoom-out-mode-exit.js
Owners: @ellatrix

Add docs to utility.
  packages/components/src/toggle-group-control/toggle-group-control/component.tsx
Owners: @ajitbohra

Added note about border-radius.
  packages/components/src/toggle-group-control/toggle-group-control/styles.ts
Owners: @ajitbohra

Sounds good.
  test/e2e/specs/editor/blocks/classic.spec.js
Owners: none

Add tag to `useBlockBindingsUtils`
  packages/block-editor/README.md
  packages/block-editor/src/utils/block-bindings.js
Owners: @ellatrix

Add since tag to the registration functions
  packages/blocks/README.md
  packages/blocks/src/api/registration.js
Owners: none

Only exit zoom out on double clicking the section itself
  packages/block-editor/src/components/block-list/use-block-props/index.js
  packages/block-editor/src/components/block-list/use-block-props/use-zoom-out-mode-exit.js
Owners: @ellatrix

Temp disable test for Classic Block Media issue (#65793)
  test/e2e/specs/editor/blocks/classic.spec.js
Owners: none

Fix typo
  packages/block-editor/src/store/selectors.js
Owners: @ellatrix

Adds permissions and settings checks to set as homepage action
  packages/editor/src/dataviews/store/private-actions.ts
  packages/fields/src/actions/set-as-homepage.tsx
Owners: none

Adds proper description and handles unpublished pages
  packages/editor/src/dataviews/types.ts
  packages/fields/src/actions/set-as-homepage.tsx
Owners: none

Adds action to set homepage to show latest posts
  packages/fields/src/actions/set-as-homepage.tsx
Owners: none

Doesn't show action if there's a front-page template
  packages/editor/src/dataviews/store/private-actions.ts
  packages/fields/src/actions/set-as-homepage.tsx
Owners: none

Creates page for posts, when specified
  packages/editor/src/dataviews/actions/utils.ts
  packages/fields/src/actions/set-as-homepage.tsx
Owners: none

Refactors modal component
  packages/data/README.md
  packages/data/src/components/use-select/index.js
  packages/fields/src/actions/set-as-homepage.tsx
Owners: @nerrad

BorderControl: Promote to stable (#65475)
  packages/components/CHANGELOG.md
  packages/components/src/border-control/border-control-dropdown/component.tsx
  packages/components/src/border-control/border-control/README.md
  packages/components/src/border-control/border-control/component.tsx
  packages/components/src/border-control/stories/index.story.tsx
  packages/components/src/border-control/test/index.js
  packages/components/src/border-control/types.ts
  packages/components/src/index.ts
  storybook/manager-head.html
Owners: @ajitbohra

Fixes issues from rebase
  packages/editor/src/dataviews/store/private-actions.ts
  packages/fields/README.md
  packages/fields/src/types.ts
Owners: none

ToggleGroupControl: improve animation (#65175)
  packages/components/CHANGELOG.md
  packages/components/src/toggle-group-control/test/__snapshots__/index.tsx.snap
  packages/components/src/toggle-group-control/toggle-group-control-option-base/component.tsx
  packages/components/src/toggle-group-control/toggle-group-control-option-base/styles.ts
  packages/components/src/toggle-group-control/toggle-group-control/as-button-group.tsx
  packages/components/src/toggle-group-control/toggle-group-control/as-radio-group.tsx
  packages/components/src/toggle-group-control/toggle-group-control/component.tsx
  packages/components/src/toggle-group-control/toggle-group-control/styles.ts
  packages/components/src/toggle-group-control/types.ts
  packages/components/src/utils/element-rect.ts
  packages/components/src/utils/hooks/use-on-value-update.ts
Owners: @ajitbohra

Relax client-side iAPI directives matching
  packages/interactivity/src/directives.tsx
  packages/interactivity/src/vdom.ts
Owners: @luisherranz, @darerodz

Fix accidental removal
  packages/block-editor/src/components/block-tools/zoom-out-toolbar.js
Owners: @ellatrix

Fix focus loss when deleting selected block in zoom out mode
  packages/block-editor/src/components/block-tools/zoom-out-toolbar.js
Owners: @ellatrix

Restore entries
  packages/components/CHANGELOG.md
Owners: @ajitbohra

.github/CODEOWNERS:

# Documentation
/docs                                           @ajitbohra @juanmaguitar @fabiankaegy @ndiego
/packages/interactivity/docs                    @juanmaguitar

# Schemas
/schemas/json

# Data
/packages/api-fetch                             @nerrad @mmtr
/packages/core-data                             @nerrad
/packages/data                                  @nerrad
/packages/redux-routine                         @nerrad
/packages/data-controls                         @nerrad

# Blocks
/packages/block-library                         @ajitbohra
/packages/block-library/src/gallery             @geriux
/packages/block-library/src/comment-template    @michalczaplinski
/packages/block-library/src/comments            @michalczaplinski
/packages/block-library/src/table-of-contents   @ZebulanStanphill
/packages/block-library/src/image               @artemiomorales

# Duotone
/lib/block-supports/duotone.php
/packages/block-editor/src/components/duotone-control
/packages/block-editor/src/hooks/duotone.js
/packages/components/src/duotone-picker

# Editor
/packages/annotations                           @atimmer
/packages/autop
/packages/block-editor                          @ellatrix
/packages/block-editor/src/hooks                @tellthemachines
/packages/block-editor/src/layouts              @tellthemachines
/packages/block-serialization-spec-parser       @dmsnell
/packages/block-serialization-default-parser    @dmsnell
/packages/blocks
/packages/edit-post
/packages/editor
/packages/editor/src/components/post-title @alexstine
/packages/list-reusable-blocks
/packages/shortcode
/packages/block-directory
/packages/interface
/packages/media-utils
/packages/server-side-render
/packages/block-editor/src/components/link-control  @getdave

# Widgets
/packages/edit-widgets                          @draganescu @adamziel @kevin940726
/packages/customize-widgets
/packages/widgets

# Full Site Editing
/packages/edit-site

# Interactivity API
/packages/interactivity                         @luisherranz @darerodz

# Tooling
/bin                                            @ntwb @nerrad @ajitbohra
/bin/api-docs                                   @ntwb @nerrad @ajitbohra
/docs/tool                                      @ajitbohra @ndiego
/packages/babel-plugin-import-jsx-pragma        @ntwb @nerrad @ajitbohra
/packages/babel-plugin-makepot                  @ntwb @nerrad @ajitbohra
/packages/babel-preset-default                  @gziolo @ntwb @nerrad @ajitbohra
/packages/browserslist-config                   @ntwb @nerrad @ajitbohra
/packages/create-block                          @gziolo @ryanwelcher
/packages/create-block-tutorial-template        @gziolo @ryanwelcher
/packages/dependency-extraction-webpack-plugin  @gziolo
/packages/docgen
/packages/e2e-test-utils                        @ntwb @nerrad @ajitbohra
/packages/e2e-tests                             @ntwb @nerrad @ajitbohra
/packages/e2e-test-utils-playwright             @kevin940726
/packages/eslint-plugin                         @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-console                          @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-preset-default                   @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-puppeteer-axe                    @gziolo @ntwb @nerrad @ajitbohra
/packages/npm-package-json-lint-config          @gziolo @ntwb @nerrad @ajitbohra
/packages/postcss-themes                        @ntwb @nerrad @ajitbohra
/packages/prettier-config                       @ntwb @gziolo
/packages/scripts                               @gziolo @ntwb @nerrad @ajitbohra @ryanwelcher
/packages/stylelint-config                      @ntwb
/test/php/gutenberg-coding-standards            @anton-vlasenko

# UI Components
/packages/components                            @ajitbohra
/packages/compose                               @ajitbohra
/packages/element                               @ajitbohra
/packages/notices                               @ajitbohra
/packages/nux                                   @ajitbohra @peterwilsoncc
/packages/viewport                              @ajitbohra
/packages/base-styles
/packages/icons
/packages/primitives

# Utilities
/packages/a11y
/packages/blob
/packages/date
/packages/deprecated
/packages/dom                                   @ellatrix
/packages/dom-ready
/packages/escape-html
/packages/html-entities
/packages/i18n                                  @swissspidy
/packages/is-shallow-equal
/packages/keyboard-shortcuts
/packages/keycodes
/packages/preferences                           @talldan
/packages/priority-queue
/packages/token-list
/packages/url
/packages/wordcount
/packages/warning

# Extensibility
/packages/hooks                                 @adamsilverstein
/packages/plugins                               @gziolo @adamsilverstein

# Rich Text
/packages/format-library                        @ellatrix
/packages/rich-text                             @ellatrix
/packages/block-editor/src/components/rich-text @ellatrix

# Project Management
/.github                                        @desrosj
/packages/project-management-automation
/packages/report-flaky-tests                    @kevin940726

# wp-env
/packages/env                                   @ObliviousHarmony @t-hamano

# PHP
/lib                                            @spacedmonkey
/lib/block-supports/layout.php                  @tellthemachines
/lib/class-wp-theme-json-gutenberg.php          @tellthemachines
/lib/compat/*/html-api                          @dmsnell
/lib/experimental/rest-api.php                  @timothybjacobs
/lib/experimental/class-wp-rest-*               @timothybjacobs
/lib/experimental/class-wp-rest-block-editor-settings-controller.php @timothybjacobs @spacedmonkey @geriux

# Native
/packages/components/src/mobile/global-styles-context                @geriux

# Native (Unowned)
*.native.js
*.android.js
*.ios.js
*.native.scss
*.android.scss
*.ios.scss
