Repository WordPress/gutenberg, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajitbohra, @juanmaguitar, @fabiankaegy, @ndiego, @nerrad, @mmtr, @geriux, @michalczaplinski, @ZebulanStanphill, @artemiomorales, @atimmer, @ellatrix, @tellthemachines, @dmsnell, @alexstine, @getdave, @draganescu, @adamziel, @kevin940726, @luisherranz, @darerodz, @ntwb, @gziolo, @ryanwelcher, @anton-vlasenko, @peterwilsoncc, @swissspidy, @talldan, @adamsilverstein, @desrosj, @ObliviousHarmony, @t-hamano, @spacedmonkey, @timothybjacobs

subscribe to state instead of calculating zoom out view state when calculating the anchor
  packages/block-editor/src/components/block-popover/index.js
Owners: @ellatrix

Update packages/block-editor/src/components/block-popover/index.js
  packages/block-editor/src/components/block-popover/index.js
Owners: @ellatrix

check if the block element exists yet before computing the anchor
  packages/block-editor/src/components/block-popover/index.js
Owners: @ellatrix

make zoom out check a dependency of the memoization, improve code readability
  packages/block-editor/src/components/block-popover/index.js
Owners: @ellatrix

Update packages/block-editor/src/components/block-popover/index.js
  packages/block-editor/src/components/block-popover/index.js
Owners: @ellatrix

merged work
  packages/block-editor/src/components/block-tools/index.js
Owners: @ellatrix

Light branding for the reference site (#65764)
  storybook/main.js
  storybook/static/wp-logo@2x.png
  storybook/theme.js
Owners: none

Fix unwanted nested scrollbar in inserter > patterns/media vertical tabs.
  packages/block-editor/CHANGELOG.md
  packages/block-editor/src/components/inserter/style.scss
Owners: @ellatrix

Switch to transform for performance.
  packages/components/src/tabs/styles.ts
Owners: @ajitbohra

Adjust border-radius based on scaling factor.
  packages/components/src/tabs/styles.ts
Owners: @ajitbohra

Apply feedback.
  packages/block-editor/CHANGELOG.md
  packages/block-editor/src/components/inserter/style.scss
Owners: @ellatrix

Composite: add "With Tooltip" storybook example
  packages/components/src/composite/stories/index.story.tsx
Owners: @ajitbohra

Simplify code (no need for custom render)
  packages/components/src/composite/stories/index.story.tsx
Owners: @ajitbohra

Use third item as an example to render with a custom component
  packages/components/src/composite/stories/index.story.tsx
Owners: @ajitbohra

Only use one way to compose Tooltip and Composite
  packages/components/src/composite/stories/index.story.tsx
Owners: @ajitbohra

Rewrite Story JSDocs
  packages/components/src/composite/stories/index.story.tsx
Owners: @ajitbohra

Do not use Button for thir composite item
  packages/components/src/composite/stories/index.story.tsx
Owners: @ajitbohra

Add changelog entry.
  packages/components/CHANGELOG.md
Owners: @ajitbohra

`ToggleGroupControl`: clean up animation logic (#65808)
  packages/components/src/toggle-group-control/test/__snapshots__/index.tsx.snap
  packages/components/src/toggle-group-control/toggle-group-control/component.tsx
  packages/components/src/toggle-group-control/toggle-group-control/styles.ts
Owners: @ajitbohra

Avoid decimals for pixel precision
  packages/block-editor/src/components/iframe/content.scss
  packages/block-editor/src/components/iframe/index.js
Owners: @ellatrix

Composite: add "With Tooltip" storybook example (#65817)
  packages/components/src/composite/stories/index.story.tsx
Owners: @ajitbohra

update: core post term render issue when term_list returns WP_Error
  packages/block-library/src/post-terms/index.php
Owners: @ajitbohra

Fix inline support style issue
  packages/block-library/src/post-navigation-link/index.php
Owners: @ajitbohra

File block: Allow content only editing (#65787)
  packages/block-library/src/file/block.json
Owners: @ajitbohra

Storybook: allow for case-agnostic filtering of icons (#65780)
  packages/icons/src/icon/stories/index.story.js
Owners: none

remove filters from rest API PR
  lib/compat/wordpress-6.7/rest-api.php
Owners: @spacedmonkey

Change variable name to hasBlockSelection
  packages/editor/src/components/header/index.js
Owners: none

use the button width scss variable
  packages/block-editor/src/components/block-tools/style.scss
Owners: @ellatrix

chore: Update block vertical toolbar height in variables and styles
  packages/base-styles/_variables.scss
  packages/components/src/toolbar/toolbar/style.scss
Owners: @ajitbohra

Avoid changes to components package
  packages/block-editor/src/components/block-tools/style.scss
  packages/components/src/toolbar/toolbar/style.scss
Owners: @ellatrix, @ajitbohra

Removed the variable and hardcoded the value.
  packages/base-styles/_variables.scss
  packages/components/src/toolbar/toolbar/style.scss
Owners: @ajitbohra

Try: Use `createSelector`
  packages/block-editor/src/hooks/block-bindings.js
  packages/editor/src/bindings/post-meta.js
Owners: @tellthemachines

Update e2e tests
  test/e2e/specs/editor/various/block-bindings/post-meta.spec.js
Owners: none

Makes spacing consistent in zoom out vertical toolbar (#63994)
  packages/block-editor/src/components/block-tools/style.scss
Owners: @ellatrix

remove autop package and update code according to it
  packages/editor/package.json
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/index.js
Owners: none

remove console statement
  packages/editor/src/components/collab-sidebar/index.js
Owners: none

Filter UI: Remove popover max height (#65835)
  packages/dataviews/src/components/dataviews-filters/style.scss
Owners: none

remove linting error
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/index.js
Owners: none

Composite: make items tabbable when the active element is disconnected
  packages/components/src/composite/item.tsx
Owners: @ajitbohra

Add unit test
  packages/components/src/composite/test/index.tsx
Owners: @ajitbohra

.github/CODEOWNERS:

# Documentation
/docs                                           @ajitbohra @juanmaguitar @fabiankaegy @ndiego
/packages/interactivity/docs                    @juanmaguitar

# Schemas
/schemas/json

# Data
/packages/api-fetch                             @nerrad @mmtr
/packages/core-data                             @nerrad
/packages/data                                  @nerrad
/packages/redux-routine                         @nerrad
/packages/data-controls                         @nerrad

# Blocks
/packages/block-library                         @ajitbohra
/packages/block-library/src/gallery             @geriux
/packages/block-library/src/comment-template    @michalczaplinski
/packages/block-library/src/comments            @michalczaplinski
/packages/block-library/src/table-of-contents   @ZebulanStanphill
/packages/block-library/src/image               @artemiomorales

# Duotone
/lib/block-supports/duotone.php
/packages/block-editor/src/components/duotone-control
/packages/block-editor/src/hooks/duotone.js
/packages/components/src/duotone-picker

# Editor
/packages/annotations                           @atimmer
/packages/autop
/packages/block-editor                          @ellatrix
/packages/block-editor/src/hooks                @tellthemachines
/packages/block-editor/src/layouts              @tellthemachines
/packages/block-serialization-spec-parser       @dmsnell
/packages/block-serialization-default-parser    @dmsnell
/packages/blocks
/packages/edit-post
/packages/editor
/packages/editor/src/components/post-title @alexstine
/packages/list-reusable-blocks
/packages/shortcode
/packages/block-directory
/packages/interface
/packages/media-utils
/packages/server-side-render
/packages/block-editor/src/components/link-control  @getdave

# Widgets
/packages/edit-widgets                          @draganescu @adamziel @kevin940726
/packages/customize-widgets
/packages/widgets

# Full Site Editing
/packages/edit-site

# Interactivity API
/packages/interactivity                         @luisherranz @darerodz

# Tooling
/bin                                            @ntwb @nerrad @ajitbohra
/bin/api-docs                                   @ntwb @nerrad @ajitbohra
/docs/tool                                      @ajitbohra @ndiego
/packages/babel-plugin-import-jsx-pragma        @ntwb @nerrad @ajitbohra
/packages/babel-plugin-makepot                  @ntwb @nerrad @ajitbohra
/packages/babel-preset-default                  @gziolo @ntwb @nerrad @ajitbohra
/packages/browserslist-config                   @ntwb @nerrad @ajitbohra
/packages/create-block                          @gziolo @ryanwelcher
/packages/create-block-tutorial-template        @gziolo @ryanwelcher
/packages/dependency-extraction-webpack-plugin  @gziolo
/packages/docgen
/packages/e2e-test-utils                        @ntwb @nerrad @ajitbohra
/packages/e2e-tests                             @ntwb @nerrad @ajitbohra
/packages/e2e-test-utils-playwright             @kevin940726
/packages/eslint-plugin                         @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-console                          @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-preset-default                   @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-puppeteer-axe                    @gziolo @ntwb @nerrad @ajitbohra
/packages/npm-package-json-lint-config          @gziolo @ntwb @nerrad @ajitbohra
/packages/postcss-themes                        @ntwb @nerrad @ajitbohra
/packages/prettier-config                       @ntwb @gziolo
/packages/scripts                               @gziolo @ntwb @nerrad @ajitbohra @ryanwelcher
/packages/stylelint-config                      @ntwb
/test/php/gutenberg-coding-standards            @anton-vlasenko

# UI Components
/packages/components                            @ajitbohra
/packages/compose                               @ajitbohra
/packages/element                               @ajitbohra
/packages/notices                               @ajitbohra
/packages/nux                                   @ajitbohra @peterwilsoncc
/packages/viewport                              @ajitbohra
/packages/base-styles
/packages/icons
/packages/primitives

# Utilities
/packages/a11y
/packages/blob
/packages/date
/packages/deprecated
/packages/dom                                   @ellatrix
/packages/dom-ready
/packages/escape-html
/packages/html-entities
/packages/i18n                                  @swissspidy
/packages/is-shallow-equal
/packages/keyboard-shortcuts
/packages/keycodes
/packages/preferences                           @talldan
/packages/priority-queue
/packages/token-list
/packages/url
/packages/wordcount
/packages/warning

# Extensibility
/packages/hooks                                 @adamsilverstein
/packages/plugins                               @gziolo @adamsilverstein

# Rich Text
/packages/format-library                        @ellatrix
/packages/rich-text                             @ellatrix
/packages/block-editor/src/components/rich-text @ellatrix

# Project Management
/.github                                        @desrosj
/packages/project-management-automation
/packages/report-flaky-tests                    @kevin940726

# wp-env
/packages/env                                   @ObliviousHarmony @t-hamano

# PHP
/lib                                            @spacedmonkey
/lib/block-supports/layout.php                  @tellthemachines
/lib/class-wp-theme-json-gutenberg.php          @tellthemachines
/lib/compat/*/html-api                          @dmsnell
/lib/experimental/rest-api.php                  @timothybjacobs
/lib/experimental/class-wp-rest-*               @timothybjacobs
/lib/experimental/class-wp-rest-block-editor-settings-controller.php @timothybjacobs @spacedmonkey @geriux

# Native
/packages/components/src/mobile/global-styles-context                @geriux

# Native (Unowned)
*.native.js
*.android.js
*.ios.js
*.native.scss
*.android.scss
*.ios.scss
