Repository WordPress/gutenberg, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajitbohra, @juanmaguitar, @fabiankaegy, @ndiego, @nerrad, @mmtr, @geriux, @michalczaplinski, @ZebulanStanphill, @artemiomorales, @atimmer, @ellatrix, @tellthemachines, @dmsnell, @alexstine, @getdave, @draganescu, @adamziel, @kevin940726, @luisherranz, @darerodz, @ntwb, @gziolo, @ryanwelcher, @anton-vlasenko, @peterwilsoncc, @swissspidy, @talldan, @adamsilverstein, @desrosj, @ObliviousHarmony, @t-hamano, @spacedmonkey, @timothybjacobs

.github/CODEOWNERS:

# Documentation
/docs                                           @ajitbohra @juanmaguitar @fabiankaegy @ndiego
/packages/interactivity/docs                    @juanmaguitar

# Schemas
/schemas/json

# Data
/packages/api-fetch                             @nerrad @mmtr
/packages/core-data                             @nerrad
/packages/data                                  @nerrad
/packages/redux-routine                         @nerrad
/packages/data-controls                         @nerrad

# Blocks
/packages/block-library                         @ajitbohra
/packages/block-library/src/gallery             @geriux
/packages/block-library/src/comment-template    @michalczaplinski
/packages/block-library/src/comments            @michalczaplinski
/packages/block-library/src/table-of-contents   @ZebulanStanphill
/packages/block-library/src/image               @artemiomorales

# Duotone
/lib/block-supports/duotone.php
/packages/block-editor/src/components/duotone-control
/packages/block-editor/src/hooks/duotone.js
/packages/components/src/duotone-picker

# Editor
/packages/annotations                           @atimmer
/packages/autop
/packages/block-editor                          @ellatrix
/packages/block-editor/src/hooks                @tellthemachines
/packages/block-editor/src/layouts              @tellthemachines
/packages/block-serialization-spec-parser       @dmsnell
/packages/block-serialization-default-parser    @dmsnell
/packages/blocks
/packages/edit-post
/packages/editor
/packages/editor/src/components/post-title @alexstine
/packages/list-reusable-blocks
/packages/shortcode
/packages/block-directory
/packages/interface
/packages/media-utils
/packages/server-side-render
/packages/block-editor/src/components/link-control  @getdave

# Widgets
/packages/edit-widgets                          @draganescu @adamziel @kevin940726
/packages/customize-widgets
/packages/widgets

# Full Site Editing
/packages/edit-site

# Interactivity API
/packages/interactivity                         @luisherranz @darerodz

# Tooling
/bin                                            @ntwb @nerrad @ajitbohra
/bin/api-docs                                   @ntwb @nerrad @ajitbohra
/docs/tool                                      @ajitbohra @ndiego
/packages/babel-plugin-import-jsx-pragma        @ntwb @nerrad @ajitbohra
/packages/babel-plugin-makepot                  @ntwb @nerrad @ajitbohra
/packages/babel-preset-default                  @gziolo @ntwb @nerrad @ajitbohra
/packages/browserslist-config                   @ntwb @nerrad @ajitbohra
/packages/create-block                          @gziolo @ryanwelcher
/packages/create-block-tutorial-template        @gziolo @ryanwelcher
/packages/dependency-extraction-webpack-plugin  @gziolo
/packages/docgen
/packages/e2e-test-utils                        @ntwb @nerrad @ajitbohra
/packages/e2e-tests                             @ntwb @nerrad @ajitbohra
/packages/e2e-test-utils-playwright             @kevin940726
/packages/eslint-plugin                         @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-console                          @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-preset-default                   @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-puppeteer-axe                    @gziolo @ntwb @nerrad @ajitbohra
/packages/npm-package-json-lint-config          @gziolo @ntwb @nerrad @ajitbohra
/packages/postcss-themes                        @ntwb @nerrad @ajitbohra
/packages/prettier-config                       @ntwb @gziolo
/packages/scripts                               @gziolo @ntwb @nerrad @ajitbohra @ryanwelcher
/packages/stylelint-config                      @ntwb
/test/php/gutenberg-coding-standards            @anton-vlasenko

# UI Components
/packages/components                            @ajitbohra
/packages/compose                               @ajitbohra
/packages/element                               @ajitbohra
/packages/notices                               @ajitbohra
/packages/nux                                   @ajitbohra @peterwilsoncc
/packages/viewport                              @ajitbohra
/packages/base-styles
/packages/icons
/packages/primitives

# Utilities
/packages/a11y
/packages/blob
/packages/date
/packages/deprecated
/packages/dom                                   @ellatrix
/packages/dom-ready
/packages/escape-html
/packages/html-entities
/packages/i18n                                  @swissspidy
/packages/is-shallow-equal
/packages/keyboard-shortcuts
/packages/keycodes
/packages/preferences                           @talldan
/packages/priority-queue
/packages/token-list
/packages/url
/packages/wordcount
/packages/warning

# Extensibility
/packages/hooks                                 @adamsilverstein
/packages/plugins                               @gziolo @adamsilverstein

# Rich Text
/packages/format-library                        @ellatrix
/packages/rich-text                             @ellatrix
/packages/block-editor/src/components/rich-text @ellatrix

# Project Management
/.github                                        @desrosj
/packages/project-management-automation
/packages/report-flaky-tests                    @kevin940726

# wp-env
/packages/env                                   @ObliviousHarmony @t-hamano

# PHP
/lib                                            @spacedmonkey
/lib/block-supports/layout.php                  @tellthemachines
/lib/class-wp-theme-json-gutenberg.php          @tellthemachines
/lib/compat/*/html-api                          @dmsnell
/lib/experimental/rest-api.php                  @timothybjacobs
/lib/experimental/class-wp-rest-*               @timothybjacobs
/lib/experimental/class-wp-rest-block-editor-settings-controller.php @timothybjacobs @spacedmonkey @geriux

# Native
/packages/components/src/mobile/global-styles-context                @geriux

# Native (Unowned)
*.native.js
*.android.js
*.ios.js
*.native.scss
*.android.scss
*.ios.scss

Fix focus loss when deleting selected block in zoom out mode (#65761)
  packages/block-editor/src/components/block-tools/zoom-out-toolbar.js
Owners: @ellatrix

Social Links: Fix block appender size
  packages/block-library/src/social-links/editor.scss
Owners: @ajitbohra

Exit zoom out mode on enter keypress of selected block
  packages/block-editor/src/components/block-list/use-block-props/use-selected-block-event-handlers.js
Owners: @ellatrix

Remove edit button from zoom out toolbar -- bonus focus loss fix on delete block
  packages/block-editor/src/components/block-tools/zoom-out-toolbar.js
Owners: @ellatrix

Social Links: Fix block appender size (#65769)
  packages/block-library/src/social-links/editor.scss
Owners: @ajitbohra

list all active fonts
  packages/edit-site/src/components/global-styles/font-families.js
Owners: none

Clean up and misc improvements.
  packages/components/src/toggle-group-control/toggle-group-control/component.tsx
  packages/components/src/toggle-group-control/toggle-group-control/styles.ts
Owners: @ajitbohra

Move utility from ToggleGroupControl to utils.
  packages/components/src/toggle-group-control/toggle-group-control/component.tsx
  packages/components/src/utils/hooks/use-animated-offset-rect.ts
Owners: @ajitbohra

Clean up Tabs.Tablist
  packages/components/src/tabs/styles.ts
  packages/components/src/tabs/tablist.tsx
Owners: @ajitbohra

Revert "Temp disable test for Classic Block Media issue (#65793)"
  test/e2e/specs/editor/blocks/classic.spec.js
Owners: none

Revert "Temp disable test for Classic Block Media issue (#65793)" (#65809)
  test/e2e/specs/editor/blocks/classic.spec.js
Owners: none

Restore accidentally removed entries in changelog (components package) (#65804)
  packages/components/CHANGELOG.md
Owners: @ajitbohra

Remnove goTo call in the `onBack` callback for the ScreenHeader since `Navigator.BackButton` already has default back behaviour.
  packages/edit-site/src/components/global-styles/screen-revisions/index.js
Owners: none

Reinstate goTo
  packages/edit-site/src/components/global-styles/font-sizes/font-size.js
Owners: none

Update packages/edit-site/src/components/global-styles/font-sizes/font-size.js
  packages/edit-site/src/components/global-styles/font-sizes/font-size.js
Owners: none

Global style revisions: remove unnecessary `goTo` navigation call (#65810)
  packages/edit-site/src/components/global-styles/screen-revisions/index.js
Owners: none

Factor `frameSize` into scaling and document width styling
  packages/block-editor/src/components/iframe/content.scss
  packages/block-editor/src/components/iframe/index.js
Owners: @ellatrix

only show resize controls in normal rendering mode
  packages/block-library/src/cover/edit/index.js
Owners: @ajitbohra

get block editing mode from hook not prop - misread code elsewhere
  packages/block-library/src/cover/edit/index.js
Owners: @ajitbohra

Block Bindings: Add `@since` tag in bindings apis JSDocs (#65796)
  packages/block-editor/README.md
  packages/block-editor/src/utils/block-bindings.js
  packages/blocks/README.md
  packages/blocks/src/api/registration.js
Owners: @ellatrix

Resize cover block only in normal mode (#65731)
  packages/block-library/src/cover/edit/index.js
Owners: @ajitbohra

Resize cover block only in normal mode (#65731)
  packages/block-library/src/cover/edit/index.js
Owners: @ajitbohra

Use non-capturing group in regexp
  packages/interactivity/src/vdom.ts
Owners: @luisherranz, @darerodz

Inserter: Fix Block visibility manager (#65700)
  packages/block-editor/src/components/inserter/hooks/use-patterns-state.js
  packages/block-editor/src/store/selectors.js
  test/e2e/specs/editor/various/allowed-patterns.spec.js
Owners: @ellatrix

Remove user-select:text
  packages/block-editor/src/components/block-list/content.scss
Owners: @ellatrix

Allow "default" suffix to be used
  packages/interactivity/src/directives.tsx
  packages/interactivity/src/hooks.tsx
  packages/interactivity/src/vdom.ts
Owners: @luisherranz, @darerodz

Improve vdom types
  packages/interactivity/src/vdom.ts
Owners: @luisherranz, @darerodz

Use null for default suffix
  packages/interactivity/src/hooks.tsx
  packages/interactivity/src/vdom.ts
Owners: @luisherranz, @darerodz

Avoid errors when a fontSize preset is not available (#65791)
  packages/edit-site/src/components/global-styles/font-sizes/font-size.js
Owners: none

Avoid errors when a fontSize preset is not available (#65791)
  packages/edit-site/src/components/global-styles/font-sizes/font-size.js
Owners: none

Add test
  packages/e2e-tests/plugins/interactive-blocks/directive-class/render.php
  packages/e2e-tests/plugins/interactive-blocks/directive-class/view.js
  test/e2e/specs/interactivity/directive-class.spec.ts
Owners: @ntwb, @nerrad, @ajitbohra

Global styles: do not navigate twice to home screen when opening the sidebar (#65523)
  packages/edit-site/src/components/global-styles/ui.js
Owners: none

Add changelog entry
  packages/interactivity/CHANGELOG.md
Owners: @luisherranz, @darerodz

Hide Zoom Out inserter buttons when dragging (#65789)
  packages/block-editor/src/components/block-tools/index.js
Owners: @ellatrix

Pass `clientId` to `useBlockBindingsUtils`
  packages/block-editor/README.md
  packages/block-editor/src/utils/block-bindings.js
Owners: @ellatrix

Add unit tests for `useBlockBindingsUtils`
  packages/block-editor/src/utils/test/use-block-bindings-utils.js
Owners: @ellatrix

Testing: Add an e2e test to check the interactions in write mode
  packages/block-editor/src/components/tool-selector/index.js
  packages/e2e-test-utils-playwright/src/editor/index.ts
  packages/e2e-test-utils-playwright/src/editor/switch-editor-tool.ts
  test/e2e/specs/editor/various/write-design-mode.spec.js
Owners: @ellatrix, @kevin940726

Changes per review
  packages/e2e-test-utils-playwright/src/editor/switch-editor-tool.ts
  test/e2e/specs/editor/various/write-design-mode.spec.js
Owners: @kevin940726

Move pattern block block editing state to store selector
  packages/block-editor/src/store/private-selectors.js
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/private-selectors.js
  packages/block-editor/src/store/test/selectors.js
  packages/block-library/src/block/edit.js
Owners: @ellatrix, @ajitbohra

Combine into one selector
  packages/block-editor/src/store/private-selectors.js
  packages/block-editor/src/store/selectors.js
Owners: @ellatrix
