Repository WordPress/gutenberg, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajitbohra, @juanmaguitar, @fabiankaegy, @ndiego, @nerrad, @mmtr, @geriux, @michalczaplinski, @ZebulanStanphill, @artemiomorales, @atimmer, @ellatrix, @tellthemachines, @dmsnell, @alexstine, @getdave, @draganescu, @adamziel, @kevin940726, @luisherranz, @darerodz, @ntwb, @gziolo, @ryanwelcher, @anton-vlasenko, @peterwilsoncc, @swissspidy, @talldan, @adamsilverstein, @desrosj, @ObliviousHarmony, @t-hamano, @spacedmonkey, @timothybjacobs

.github/CODEOWNERS:

# Documentation
/docs                                           @ajitbohra @juanmaguitar @fabiankaegy @ndiego
/packages/interactivity/docs                    @juanmaguitar

# Schemas
/schemas/json

# Data
/packages/api-fetch                             @nerrad @mmtr
/packages/core-data                             @nerrad
/packages/data                                  @nerrad
/packages/redux-routine                         @nerrad
/packages/data-controls                         @nerrad

# Blocks
/packages/block-library                         @ajitbohra
/packages/block-library/src/gallery             @geriux
/packages/block-library/src/comment-template    @michalczaplinski
/packages/block-library/src/comments            @michalczaplinski
/packages/block-library/src/table-of-contents   @ZebulanStanphill
/packages/block-library/src/image               @artemiomorales

# Duotone
/lib/block-supports/duotone.php
/packages/block-editor/src/components/duotone-control
/packages/block-editor/src/hooks/duotone.js
/packages/components/src/duotone-picker

# Editor
/packages/annotations                           @atimmer
/packages/autop
/packages/block-editor                          @ellatrix
/packages/block-editor/src/hooks                @tellthemachines
/packages/block-editor/src/layouts              @tellthemachines
/packages/block-serialization-spec-parser       @dmsnell
/packages/block-serialization-default-parser    @dmsnell
/packages/blocks
/packages/edit-post
/packages/editor
/packages/editor/src/components/post-title @alexstine
/packages/list-reusable-blocks
/packages/shortcode
/packages/block-directory
/packages/interface
/packages/media-utils
/packages/server-side-render
/packages/block-editor/src/components/link-control  @getdave

# Widgets
/packages/edit-widgets                          @draganescu @adamziel @kevin940726
/packages/customize-widgets
/packages/widgets

# Full Site Editing
/packages/edit-site

# Interactivity API
/packages/interactivity                         @luisherranz @darerodz

# Tooling
/bin                                            @ntwb @nerrad @ajitbohra
/bin/api-docs                                   @ntwb @nerrad @ajitbohra
/docs/tool                                      @ajitbohra @ndiego
/packages/babel-plugin-import-jsx-pragma        @ntwb @nerrad @ajitbohra
/packages/babel-plugin-makepot                  @ntwb @nerrad @ajitbohra
/packages/babel-preset-default                  @gziolo @ntwb @nerrad @ajitbohra
/packages/browserslist-config                   @ntwb @nerrad @ajitbohra
/packages/create-block                          @gziolo @ryanwelcher
/packages/create-block-tutorial-template        @gziolo @ryanwelcher
/packages/dependency-extraction-webpack-plugin  @gziolo
/packages/docgen
/packages/e2e-test-utils                        @ntwb @nerrad @ajitbohra
/packages/e2e-tests                             @ntwb @nerrad @ajitbohra
/packages/e2e-test-utils-playwright             @kevin940726
/packages/eslint-plugin                         @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-console                          @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-preset-default                   @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-puppeteer-axe                    @gziolo @ntwb @nerrad @ajitbohra
/packages/npm-package-json-lint-config          @gziolo @ntwb @nerrad @ajitbohra
/packages/postcss-themes                        @ntwb @nerrad @ajitbohra
/packages/prettier-config                       @ntwb @gziolo
/packages/scripts                               @gziolo @ntwb @nerrad @ajitbohra @ryanwelcher
/packages/stylelint-config                      @ntwb
/test/php/gutenberg-coding-standards            @anton-vlasenko

# UI Components
/packages/components                            @ajitbohra
/packages/compose                               @ajitbohra
/packages/element                               @ajitbohra
/packages/notices                               @ajitbohra
/packages/nux                                   @ajitbohra @peterwilsoncc
/packages/viewport                              @ajitbohra
/packages/base-styles
/packages/icons
/packages/primitives

# Utilities
/packages/a11y
/packages/blob
/packages/date
/packages/deprecated
/packages/dom                                   @ellatrix
/packages/dom-ready
/packages/escape-html
/packages/html-entities
/packages/i18n                                  @swissspidy
/packages/is-shallow-equal
/packages/keyboard-shortcuts
/packages/keycodes
/packages/preferences                           @talldan
/packages/priority-queue
/packages/token-list
/packages/url
/packages/wordcount
/packages/warning

# Extensibility
/packages/hooks                                 @adamsilverstein
/packages/plugins                               @gziolo @adamsilverstein

# Rich Text
/packages/format-library                        @ellatrix
/packages/rich-text                             @ellatrix
/packages/block-editor/src/components/rich-text @ellatrix

# Project Management
/.github                                        @desrosj
/packages/project-management-automation
/packages/report-flaky-tests                    @kevin940726

# wp-env
/packages/env                                   @ObliviousHarmony @t-hamano

# PHP
/lib                                            @spacedmonkey
/lib/block-supports/layout.php                  @tellthemachines
/lib/class-wp-theme-json-gutenberg.php          @tellthemachines
/lib/compat/*/html-api                          @dmsnell
/lib/experimental/rest-api.php                  @timothybjacobs
/lib/experimental/class-wp-rest-*               @timothybjacobs
/lib/experimental/class-wp-rest-block-editor-settings-controller.php @timothybjacobs @spacedmonkey @geriux

# Native
/packages/components/src/mobile/global-styles-context                @geriux

# Native (Unowned)
*.native.js
*.android.js
*.ios.js
*.native.scss
*.android.scss
*.ios.scss

Fix bad automatic merge.
  packages/edit-site/src/components/style-book/index.js
Owners: none

ugh, fix again
  packages/edit-site/src/components/style-book/index.js
Owners: none

Fix parent missing when there's no selected option.
  packages/components/src/toggle-group-control/toggle-group-control/component.tsx
Owners: @ajitbohra

Navigator: use stable export instead of experimental export
  packages/block-editor/src/components/inserter/mobile-tab-navigation.js
  packages/edit-site/src/components/global-styles-sidebar/index.js
  packages/edit-site/src/components/global-styles/font-library-modal/font-card.js
  packages/edit-site/src/components/global-styles/font-library-modal/font-collection.js
  packages/edit-site/src/components/global-styles/font-library-modal/installed-fonts.js
  packages/edit-site/src/components/global-styles/font-sizes/font-size.js
  packages/edit-site/src/components/global-styles/header.js
  packages/edit-site/src/components/global-styles/navigation-button.js
  packages/edit-site/src/components/global-styles/screen-revisions/index.js
  packages/edit-site/src/components/global-styles/shadows-edit-panel.js
  packages/edit-site/src/components/global-styles/ui.js
  packages/preferences/src/components/preferences-modal-tabs/index.js
Owners: @ellatrix, @talldan

Only show zoom out inserters on block selection
  packages/block-editor/src/components/block-tools/zoom-out-mode-inserters.js
Owners: @ellatrix

update tools help text
  packages/block-editor/src/components/tool-selector/index.js
Owners: @ellatrix

`Tabs`: tweak sizing and overflow behavior of TabList (#64371)
  packages/block-editor/src/components/inserter/style.scss
  packages/block-editor/src/components/inserter/tabs.js
  packages/block-editor/src/components/inspector-controls-tabs/style.scss
  packages/components/CHANGELOG.md
  packages/components/src/tabs/stories/index.story.tsx
  packages/components/src/tabs/styles.ts
  packages/components/src/tabs/tablist.tsx
  packages/components/src/tabs/use-track-overflow.ts
  packages/components/src/utils/element-rect.ts
  packages/edit-site/src/components/editor-canvas-container/style.scss
  packages/edit-site/src/components/global-styles/font-library-modal/index.js
  packages/edit-site/src/components/global-styles/font-library-modal/style.scss
  packages/edit-site/src/components/style-book/index.js
  packages/edit-site/src/components/style-book/style.scss
  packages/edit-widgets/src/components/sidebar/index.js
Owners: @ellatrix, @ajitbohra, @draganescu, @adamziel, @kevin940726

More clear export of useNavigator
  packages/components/src/index.ts
Owners: @ajitbohra

Remove code related to showing/hiding inserters on hover
  packages/block-editor/src/components/block-tools/style.scss
  packages/block-editor/src/components/block-tools/zoom-out-mode-inserter-button.js
  packages/block-editor/src/components/block-tools/zoom-out-mode-inserters.js
Owners: @ellatrix

Fix merge issues.
  packages/components/src/tabs/styles.ts
Owners: @ajitbohra

Update tools menus with Write / Design order (#65721)
  packages/block-editor/src/components/tool-selector/index.js
Owners: @ellatrix

Only show zoom out inserters on block selection (#65759)
  packages/block-editor/src/components/block-tools/style.scss
  packages/block-editor/src/components/block-tools/zoom-out-mode-inserter-button.js
  packages/block-editor/src/components/block-tools/zoom-out-mode-inserters.js
Owners: @ellatrix

Fix focus indicator (gets cropped with the new overflow auto setting)
  packages/components/src/tabs/styles.ts
Owners: @ajitbohra

Remove editorMode from blockProps
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/use-block-props/index.js
  packages/block-editor/src/components/block-list/use-block-props/use-zoom-out-mode-exit.js
Owners: @ellatrix

Move singular logic to getQueryContext utils function
  packages/block-library/src/query/edit/inspector-controls/index.js
  packages/block-library/src/query/edit/query-content.js
  packages/block-library/src/query/test/utils.js
  packages/block-library/src/query/utils.js
Owners: @ajitbohra

Adds basic action and modal to set page as homepage
  packages/editor/src/dataviews/store/private-actions.ts
  packages/editor/src/store/constants.ts
  packages/fields/src/actions/index.ts
  packages/fields/src/actions/set-as-homepage.tsx
Owners: none

Navigator: fix README heading hierarchy
  packages/components/src/navigator/README.md
Owners: @ajitbohra

Block Bindings: Open the stable editor APIs (#65713)
  packages/block-editor/README.md
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/hooks/block-bindings.js
  packages/block-editor/src/private-apis.js
  packages/block-editor/src/utils/block-bindings.js
  packages/block-editor/src/utils/index.js
  packages/block-library/src/block/edit.js
  packages/block-library/src/button/edit.js
  packages/block-library/src/image/edit.js
  packages/block-library/src/image/image.js
  packages/blocks/README.md
  packages/blocks/src/api/index.js
  packages/blocks/src/api/registration.js
  packages/blocks/src/store/reducer.js
  packages/e2e-tests/plugins/block-bindings/index.js
  packages/editor/src/bindings/api.js
  packages/editor/src/hooks/pattern-overrides.js
  packages/patterns/src/components/pattern-overrides-controls.js
Owners: @ellatrix, @tellthemachines, @ajitbohra, @artemiomorales, @ntwb, @nerrad

Button: Add `__next40pxDefaultSize` in dataviews, reusable-blocks, etc. (#65715)
  packages/dataviews/src/dataforms-layouts/panel/index.tsx
  packages/dataviews/src/dataforms-layouts/panel/style.scss
  packages/list-reusable-blocks/src/components/import-dropdown/index.js
  packages/list-reusable-blocks/src/components/import-dropdown/style.scss
  packages/list-reusable-blocks/src/components/import-form/index.js
  packages/list-reusable-blocks/src/components/import-form/style.scss
  packages/list-reusable-blocks/src/style.scss
  packages/nux/src/components/dot-tip/index.js
  packages/nux/src/components/dot-tip/test/__snapshots__/index.js.snap
  packages/reusable-blocks/src/components/reusable-blocks-menu-items/reusable-block-convert-button.js
Owners: @ajitbohra, @peterwilsoncc

Block Bindings: Refactor e2e tests (#65526)
  packages/e2e-tests/plugins/block-bindings.php
  packages/e2e-tests/plugins/block-bindings/index.js
  test/e2e/specs/editor/various/block-bindings.spec.js
  test/e2e/specs/editor/various/block-bindings/custom-sources.spec.js
  test/e2e/specs/editor/various/block-bindings/post-meta.spec.js
  test/gutenberg-test-themes/block-bindings/index.php
  test/gutenberg-test-themes/block-bindings/style.css
  test/gutenberg-test-themes/block-bindings/templates/custom-template.html
  test/gutenberg-test-themes/block-bindings/templates/index.html
  test/gutenberg-test-themes/block-bindings/templates/single-movie.html
  test/gutenberg-test-themes/block-bindings/templates/single.html
  test/gutenberg-test-themes/block-bindings/theme.json
Owners: @ntwb, @nerrad, @ajitbohra

Block bindings: Refactor passing select and dispatch instead of full Registry. (#65710)
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/hooks/block-bindings.js
  packages/block-editor/src/hooks/use-bindings-attributes.js
  packages/block-library/src/button/edit.js
  packages/block-library/src/image/edit.js
  packages/block-library/src/image/image.js
  packages/e2e-tests/plugins/block-bindings/index.js
  packages/editor/src/bindings/pattern-overrides.js
  packages/editor/src/bindings/post-meta.js
Owners: @ellatrix, @tellthemachines, @ajitbohra, @artemiomorales, @ntwb, @nerrad

Block Bindings: Open the stable editor APIs (#65713)
  packages/block-editor/README.md
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/hooks/block-bindings.js
  packages/block-editor/src/private-apis.js
  packages/block-editor/src/utils/block-bindings.js
  packages/block-editor/src/utils/index.js
  packages/block-library/src/block/edit.js
  packages/block-library/src/button/edit.js
  packages/block-library/src/image/edit.js
  packages/block-library/src/image/image.js
  packages/blocks/README.md
  packages/blocks/src/api/index.js
  packages/blocks/src/api/registration.js
  packages/blocks/src/store/reducer.js
  packages/e2e-tests/plugins/block-bindings/index.js
  packages/editor/src/bindings/api.js
  packages/editor/src/hooks/pattern-overrides.js
  packages/patterns/src/components/pattern-overrides-controls.js
Owners: @ellatrix, @tellthemachines, @ajitbohra, @artemiomorales, @ntwb, @nerrad

chore(release): publish
  package-lock.json
  packages/block-directory/package.json
  packages/block-editor/package.json
  packages/block-library/package.json
  packages/blocks/package.json
  packages/commands/package.json
  packages/components/package.json
  packages/core-commands/package.json
  packages/core-data/package.json
  packages/customize-widgets/package.json
  packages/dataviews/package.json
  packages/e2e-tests/package.json
  packages/edit-post/package.json
  packages/edit-site/package.json
  packages/edit-widgets/package.json
  packages/editor/package.json
  packages/fields/package.json
  packages/format-library/package.json
  packages/interface/package.json
  packages/list-reusable-blocks/package.json
  packages/nux/package.json
  packages/patterns/package.json
  packages/plugins/package.json
  packages/preferences/package.json
  packages/reusable-blocks/package.json
  packages/server-side-render/package.json
  packages/widgets/package.json
Owners: @ellatrix, @ajitbohra, @nerrad, @ntwb, @draganescu, @adamziel, @kevin940726, @peterwilsoncc, @gziolo, @adamsilverstein, @talldan

Update versions-in-wordpress.md
  docs/contributors/versions-in-wordpress.md
Owners: @ajitbohra, @juanmaguitar, @fabiankaegy, @ndiego

List view: fix miscolored icons (#65707)
  packages/block-editor/src/components/list-view/style.scss
Owners: @ellatrix

Buttons: add box-sizing:border-box rule (#65716)
  packages/block-library/src/buttons/style.scss
Owners: @ajitbohra

Fix unwanted chevron.
  packages/components/src/tabs/styles.ts
Owners: @ajitbohra

Remove deprecation warning
  packages/components/src/border-control/border-control/component.tsx
Owners: @ajitbohra

Add ignores to jsdocs.
  packages/components/src/border-control/types.ts
Owners: @ajitbohra

Fix: Shadow/Font size preset panel crashes the editor
  packages/edit-site/src/components/global-styles/font-sizes/font-size.js
  packages/edit-site/src/components/global-styles/shadows-edit-panel.js
Owners: none

Update block-filters.md (#64959)
  docs/reference-guides/filters/block-filters.md
Owners: @ajitbohra, @juanmaguitar, @fabiankaegy, @ndiego

limit zoom out toggle to specific post types (#65732)
  packages/editor/src/components/header/index.js
Owners: none

Fix: zoom out can hide the scrollbar
  packages/block-editor/src/components/iframe/index.js
Owners: @ellatrix

SearchControl: Fix rest props mutation (#65740)
  packages/components/src/search-control/index.tsx
Owners: @ajitbohra

Wording improved
  packages/interactivity-router/README.md
Owners: none

Edit Site: Fix useLink prop mutation (#65739)
  packages/edit-site/src/components/routes/link.js
Owners: none

Edit Mode: Prevent editable text selection on first click
  packages/block-editor/src/store/selectors.js
Owners: @ellatrix

Show zoom-out toolbar even when child blocks are selected
  packages/block-editor/src/components/block-tools/index.js
  packages/block-editor/src/components/block-tools/use-show-block-tools.js
  packages/block-editor/src/store/private-selectors.js
Owners: @ellatrix

Update snapshots
  packages/components/src/toggle-group-control/test/__snapshots__/index.tsx.snap
Owners: @ajitbohra

Storybook: allow for case-agnostic filtering of icons
  packages/icons/src/icon/stories/index.story.js
Owners: none
