Repository WordPress/gutenberg, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajitbohra, @juanmaguitar, @fabiankaegy, @ndiego, @nerrad, @mmtr, @geriux, @michalczaplinski, @ZebulanStanphill, @artemiomorales, @atimmer, @ellatrix, @tellthemachines, @dmsnell, @alexstine, @getdave, @draganescu, @adamziel, @kevin940726, @luisherranz, @darerodz, @ntwb, @gziolo, @ryanwelcher, @anton-vlasenko, @peterwilsoncc, @swissspidy, @talldan, @adamsilverstein, @desrosj, @ObliviousHarmony, @t-hamano, @spacedmonkey, @timothybjacobs

Edit Post: Remove unnecessary effect in InitPatternModal
  packages/edit-post/src/components/init-pattern-modal/index.js
Owners: none

Button: Add `__next40pxDefaultSize` in dataviews, reusable-blocks, etc. (#65715)
  packages/dataviews/src/dataforms-layouts/panel/index.tsx
  packages/dataviews/src/dataforms-layouts/panel/style.scss
  packages/list-reusable-blocks/src/components/import-dropdown/index.js
  packages/list-reusable-blocks/src/components/import-dropdown/style.scss
  packages/list-reusable-blocks/src/components/import-form/index.js
  packages/list-reusable-blocks/src/components/import-form/style.scss
  packages/list-reusable-blocks/src/style.scss
  packages/nux/src/components/dot-tip/index.js
  packages/nux/src/components/dot-tip/test/__snapshots__/index.js.snap
  packages/reusable-blocks/src/components/reusable-blocks-menu-items/reusable-block-convert-button.js
Owners: @ajitbohra, @peterwilsoncc

Fix useInstanceId hook references (#65733)
  packages/block-editor/src/hooks/duotone.js
  packages/block-editor/src/hooks/layout-child.js
  packages/block-editor/src/hooks/position.js
  packages/components/src/autocomplete/index.tsx
Owners: @tellthemachines, @ajitbohra

ToggleGroupControl: Fix arrow key navigation in RTL
  packages/components/src/toggle-group-control/toggle-group-control/as-radio-group.tsx
Owners: @ajitbohra

Add changelog
  packages/components/CHANGELOG.md
Owners: @ajitbohra

Block Editor: use shallow memo for prioritized inserter blocks
  packages/block-editor/src/components/inner-blocks/use-nested-settings-update.js
Owners: @ellatrix

Fix in Skip to selected block
  packages/block-editor/src/components/skip-to-selected-block/index.js
  packages/block-editor/src/components/skip-to-selected-block/style.scss
Owners: @ellatrix

Use `getBlock` instead of ref
  packages/block-editor/src/components/inserter/media-tab/media-preview.js
Owners: @ellatrix

add exhaustive deps to social block edit effect
  packages/block-library/src/social-links/edit.js
Owners: @ajitbohra

Remove comment
  packages/block-editor/src/components/inserter/media-tab/media-preview.js
Owners: @ellatrix

Edit Post: Remove unnecessary effect in InitPatternModal (#65734)
  packages/edit-post/src/components/init-pattern-modal/index.js
Owners: none

Block bindings: Refactor passing select and dispatch instead of full Registry. (#65710)
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/hooks/block-bindings.js
  packages/block-editor/src/hooks/use-bindings-attributes.js
  packages/block-library/src/button/edit.js
  packages/block-library/src/image/edit.js
  packages/block-library/src/image/image.js
  packages/e2e-tests/plugins/block-bindings/index.js
  packages/editor/src/bindings/pattern-overrides.js
  packages/editor/src/bindings/post-meta.js
Owners: @ellatrix, @tellthemachines, @ajitbohra, @artemiomorales, @ntwb, @nerrad

Openverse: prevent multiple insertions during upload (#65719)
  packages/block-editor/src/components/inserter/media-tab/media-preview.js
Owners: @ellatrix

Edit Site: Fix useLink prop mutation
  packages/edit-site/src/components/routes/link.js
Owners: none

Fix in Tool selector
  packages/block-editor/src/components/tool-selector/index.js
Owners: @ellatrix

SearchControl: Fix rest props mutation
  packages/components/src/search-control/index.tsx
Owners: @ajitbohra

Fix in URLInputButton
  packages/block-editor/src/components/url-input/button.js
  packages/block-editor/src/components/url-input/style.scss
Owners: @ellatrix

Fix in URLInput
  packages/block-editor/src/components/url-input/index.js
Owners: @ellatrix

Restrict `getFieldsList` API
  packages/blocks/src/store/reducer.js
Owners: none

Open registration APIs
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/hooks/block-bindings.js
  packages/block-library/src/block/edit.js
  packages/block-library/src/button/edit.js
  packages/block-library/src/image/edit.js
  packages/block-library/src/image/image.js
  packages/blocks/README.md
  packages/blocks/src/api/index.js
  packages/blocks/src/api/registration.js
  packages/e2e-tests/plugins/block-bindings/index.js
  packages/editor/src/bindings/api.js
  packages/editor/src/hooks/pattern-overrides.js
Owners: @ellatrix, @tellthemachines, @ajitbohra, @artemiomorales, @ntwb, @nerrad

Try use select and dispatch instead of registry
  packages/block-editor/src/hooks/use-bindings-attributes.js
Owners: @tellthemachines

Fix `setValues`
  packages/block-editor/src/hooks/use-bindings-attributes.js
Owners: @tellthemachines

Open `useBlockBindingsUtils`
  packages/block-editor/README.md
  packages/block-editor/src/private-apis.js
  packages/block-editor/src/utils/block-bindings.js
  packages/block-editor/src/utils/index.js
  packages/patterns/src/components/pattern-overrides-controls.js
Owners: @ellatrix

Update `useBlockBindingsUtils` docs
  packages/block-editor/README.md
  packages/block-editor/src/utils/block-bindings.js
Owners: @ellatrix

Update register/unregister bindings docs
  packages/blocks/README.md
  packages/blocks/src/api/registration.js
Owners: none

Remove dead code in FlexLayoutVerticalAlignmentControl
  packages/block-editor/src/layouts/flex.js
Owners: @tellthemachines

Simplify API functions examples
  packages/blocks/src/api/registration.js
Owners: none

Update docs
  packages/blocks/README.md
Owners: none

Use templateSlug for additional context in the editor
  packages/block-library/src/query/block.json
  packages/block-library/src/query/edit/query-content.js
Owners: @ajitbohra

ToggleGroupControl: Fix arrow key navigation in RTL (#65735)
  packages/components/CHANGELOG.md
  packages/components/src/toggle-group-control/toggle-group-control/as-radio-group.tsx
Owners: @ajitbohra

ToggleGroupControl: Fix arrow key navigation in RTL (#65735)
  packages/components/CHANGELOG.md
  packages/components/src/toggle-group-control/toggle-group-control/as-radio-group.tsx
Owners: @ajitbohra

MediaPlaceholder: Use InputControl in URL popover (#65656)
  packages/block-editor/src/components/media-placeholder/content.scss
  packages/block-editor/src/components/media-placeholder/index.js
Owners: @ellatrix

Add utility function
  packages/components/src/utils/deprecated-40px-size.ts
Owners: @ajitbohra

BorderBoxControl: Deprecate 36px default size
  packages/components/src/border-box-control/border-box-control/README.md
  packages/components/src/border-box-control/border-box-control/component.tsx
  packages/components/src/border-box-control/border-box-control/hook.ts
  packages/components/src/border-box-control/stories/index.story.tsx
  packages/components/src/border-box-control/test/index.tsx
Owners: @ajitbohra

Fix naming
  packages/components/src/border-box-control/border-box-control/hook.ts
  packages/components/src/utils/deprecated-36px-size.ts
Owners: @ajitbohra

Add changelog
  packages/components/CHANGELOG.md
Owners: @ajitbohra

Rename isTemplate to isSingularTemplate
  packages/block-library/src/query/edit/inspector-controls/index.js
  packages/block-library/src/query/edit/query-content.js
Owners: @ajitbohra

BorderControl: Deprecate 36px default size
  packages/components/src/border-control/border-control/README.md
  packages/components/src/border-control/border-control/component.tsx
  packages/components/src/border-control/border-control/hook.ts
  packages/components/src/border-control/stories/index.story.tsx
  packages/components/src/border-control/test/index.js
Owners: @ajitbohra

Add changelog
  packages/components/CHANGELOG.md
Owners: @ajitbohra

Update comments
  packages/block-editor/src/utils/block-bindings.js
  packages/blocks/README.md
  packages/blocks/src/api/registration.js
Owners: @ellatrix

.github/CODEOWNERS:

# Documentation
/docs                                           @ajitbohra @juanmaguitar @fabiankaegy @ndiego
/packages/interactivity/docs                    @juanmaguitar

# Schemas
/schemas/json

# Data
/packages/api-fetch                             @nerrad @mmtr
/packages/core-data                             @nerrad
/packages/data                                  @nerrad
/packages/redux-routine                         @nerrad
/packages/data-controls                         @nerrad

# Blocks
/packages/block-library                         @ajitbohra
/packages/block-library/src/gallery             @geriux
/packages/block-library/src/comment-template    @michalczaplinski
/packages/block-library/src/comments            @michalczaplinski
/packages/block-library/src/table-of-contents   @ZebulanStanphill
/packages/block-library/src/image               @artemiomorales

# Duotone
/lib/block-supports/duotone.php
/packages/block-editor/src/components/duotone-control
/packages/block-editor/src/hooks/duotone.js
/packages/components/src/duotone-picker

# Editor
/packages/annotations                           @atimmer
/packages/autop
/packages/block-editor                          @ellatrix
/packages/block-editor/src/hooks                @tellthemachines
/packages/block-editor/src/layouts              @tellthemachines
/packages/block-serialization-spec-parser       @dmsnell
/packages/block-serialization-default-parser    @dmsnell
/packages/blocks
/packages/edit-post
/packages/editor
/packages/editor/src/components/post-title @alexstine
/packages/list-reusable-blocks
/packages/shortcode
/packages/block-directory
/packages/interface
/packages/media-utils
/packages/server-side-render
/packages/block-editor/src/components/link-control  @getdave

# Widgets
/packages/edit-widgets                          @draganescu @adamziel @kevin940726
/packages/customize-widgets
/packages/widgets

# Full Site Editing
/packages/edit-site

# Interactivity API
/packages/interactivity                         @luisherranz @darerodz

# Tooling
/bin                                            @ntwb @nerrad @ajitbohra
/bin/api-docs                                   @ntwb @nerrad @ajitbohra
/docs/tool                                      @ajitbohra @ndiego
/packages/babel-plugin-import-jsx-pragma        @ntwb @nerrad @ajitbohra
/packages/babel-plugin-makepot                  @ntwb @nerrad @ajitbohra
/packages/babel-preset-default                  @gziolo @ntwb @nerrad @ajitbohra
/packages/browserslist-config                   @ntwb @nerrad @ajitbohra
/packages/create-block                          @gziolo @ryanwelcher
/packages/create-block-tutorial-template        @gziolo @ryanwelcher
/packages/dependency-extraction-webpack-plugin  @gziolo
/packages/docgen
/packages/e2e-test-utils                        @ntwb @nerrad @ajitbohra
/packages/e2e-tests                             @ntwb @nerrad @ajitbohra
/packages/e2e-test-utils-playwright             @kevin940726
/packages/eslint-plugin                         @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-console                          @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-preset-default                   @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-puppeteer-axe                    @gziolo @ntwb @nerrad @ajitbohra
/packages/npm-package-json-lint-config          @gziolo @ntwb @nerrad @ajitbohra
/packages/postcss-themes                        @ntwb @nerrad @ajitbohra
/packages/prettier-config                       @ntwb @gziolo
/packages/scripts                               @gziolo @ntwb @nerrad @ajitbohra @ryanwelcher
/packages/stylelint-config                      @ntwb
/test/php/gutenberg-coding-standards            @anton-vlasenko

# UI Components
/packages/components                            @ajitbohra
/packages/compose                               @ajitbohra
/packages/element                               @ajitbohra
/packages/notices                               @ajitbohra
/packages/nux                                   @ajitbohra @peterwilsoncc
/packages/viewport                              @ajitbohra
/packages/base-styles
/packages/icons
/packages/primitives

# Utilities
/packages/a11y
/packages/blob
/packages/date
/packages/deprecated
/packages/dom                                   @ellatrix
/packages/dom-ready
/packages/escape-html
/packages/html-entities
/packages/i18n                                  @swissspidy
/packages/is-shallow-equal
/packages/keyboard-shortcuts
/packages/keycodes
/packages/preferences                           @talldan
/packages/priority-queue
/packages/token-list
/packages/url
/packages/wordcount
/packages/warning

# Extensibility
/packages/hooks                                 @adamsilverstein
/packages/plugins                               @gziolo @adamsilverstein

# Rich Text
/packages/format-library                        @ellatrix
/packages/rich-text                             @ellatrix
/packages/block-editor/src/components/rich-text @ellatrix

# Project Management
/.github                                        @desrosj
/packages/project-management-automation
/packages/report-flaky-tests                    @kevin940726

# wp-env
/packages/env                                   @ObliviousHarmony @t-hamano

# PHP
/lib                                            @spacedmonkey
/lib/block-supports/layout.php                  @tellthemachines
/lib/class-wp-theme-json-gutenberg.php          @tellthemachines
/lib/compat/*/html-api                          @dmsnell
/lib/experimental/rest-api.php                  @timothybjacobs
/lib/experimental/class-wp-rest-*               @timothybjacobs
/lib/experimental/class-wp-rest-block-editor-settings-controller.php @timothybjacobs @spacedmonkey @geriux

# Native
/packages/components/src/mobile/global-styles-context                @geriux

# Native (Unowned)
*.native.js
*.android.js
*.ios.js
*.native.scss
*.android.scss
*.ios.scss
