Repository WordPress/gutenberg, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajitbohra, @juanmaguitar, @fabiankaegy, @ndiego, @nerrad, @mmtr, @geriux, @michalczaplinski, @ZebulanStanphill, @artemiomorales, @atimmer, @ellatrix, @tellthemachines, @dmsnell, @alexstine, @getdave, @draganescu, @adamziel, @kevin940726, @luisherranz, @darerodz, @ntwb, @gziolo, @ryanwelcher, @anton-vlasenko, @peterwilsoncc, @swissspidy, @talldan, @adamsilverstein, @desrosj, @ObliviousHarmony, @t-hamano, @spacedmonkey, @timothybjacobs

Rename `activeElement` -> `selectedElement` for clarity.
  packages/components/src/toggle-group-control/toggle-group-control-option-base/component.tsx
  packages/components/src/toggle-group-control/toggle-group-control/as-button-group.tsx
  packages/components/src/toggle-group-control/toggle-group-control/as-radio-group.tsx
  packages/components/src/toggle-group-control/toggle-group-control/component.tsx
  packages/components/src/toggle-group-control/types.ts
Owners: @ajitbohra

Rename `--indicator-` -> `--selected-` for accuracy.
  packages/components/src/toggle-group-control/toggle-group-control/component.tsx
  packages/components/src/toggle-group-control/toggle-group-control/styles.ts
Owners: @ajitbohra

Minor tweak.
  packages/components/src/utils/element-rect.ts
Owners: @ajitbohra

Add safe defaults to CSS custom properties.
  packages/components/src/toggle-group-control/toggle-group-control/styles.ts
Owners: @ajitbohra

Tweak `useSubelementAnimation`.
  packages/components/src/toggle-group-control/toggle-group-control/component.tsx
Owners: @ajitbohra

Hooks: add support for async filters and actions (#64204)
  packages/hooks/CHANGELOG.md
  packages/hooks/README.md
  packages/hooks/src/createCurrentHook.js
  packages/hooks/src/createDoingHook.js
  packages/hooks/src/createHooks.js
  packages/hooks/src/createRunHook.js
  packages/hooks/src/index.js
  packages/hooks/src/test/index.test.js
Owners: @adamsilverstein

Stabilize the PreSavePost and SavePost filters (#64198)
  packages/edit-post/src/store/actions.js
  packages/editor/src/store/actions.js
Owners: none

Add a trailing slash in url in home link block too
  packages/block-library/src/home-link/index.php
Owners: @ajitbohra

Add a trialing slash to home url
  packages/block-library/src/site-title/index.php
Owners: @ajitbohra

Update tools menus: - Write / Design order - Change description copy
  packages/block-editor/src/components/tool-selector/index.js
Owners: @ellatrix

Omit meta boxes on “design” type posts
  packages/edit-post/src/components/layout/index.js
Owners: none

Omit meta boxes on “design” type posts (#64990)
  packages/edit-post/src/components/layout/index.js
Owners: none

Omit meta boxes on “design” type posts (#64990)
  packages/edit-post/src/components/layout/index.js
Owners: none

ArgsTable was removed in v8
  storybook/preview.js
Owners: none

Fix imports
  storybook/stories/playground/box/index.js
  storybook/stories/playground/with-undo-redo/index.js
Owners: none

Update dependencies
  package-lock.json
  package.json
Owners: none

Commit package-lock.json changes
  package-lock.json
Owners: none

Revert
  package-lock.json
  package.json
Owners: none

Fix package-lock.json
  package-lock.json
Owners: none

Keep using react-docgen-typescript
  storybook/main.js
Owners: none

Upgrade to Storybook v8
  package.json
  storybook/main.js
  storybook/manager.js
Owners: none

Re-add plugin
  storybook/main.js
Owners: none

Fix versions
  package-lock.json
  package.json
Owners: none

Fix lockfileVersion
  package-lock.json
Owners: none

postcss-plugins-preset: Do not add IE 10-11 prefixes
  packages/postcss-plugins-preset/CHANGELOG.md
  packages/postcss-plugins-preset/lib/index.js
Owners: none

Trigger `onDeselect`/`onSelect` callbacks directly
  packages/components/src/tools-panel/tools-panel-item/hook.ts
  packages/components/src/tools-panel/tools-panel/hook.ts
  packages/components/src/tools-panel/types.ts
Owners: @ajitbohra

Make toggle callbacks stable
  packages/components/src/tools-panel/tools-panel-item/hook.ts
Owners: @ajitbohra

Blocks: Update '__experimentalHasContentRoleAttribute' deprecation (#65616)
  packages/blocks/src/store/selectors.js
Owners: none

Blocks: Don't memoize 'hasContentRoleAttribute' selector (#65617)
  packages/blocks/src/store/private-selectors.js
Owners: none

Guide: Update finish button to use the new default size (#65680)
  packages/components/CHANGELOG.md
  packages/components/src/guide/index.tsx
Owners: @ajitbohra

Revert "Font Library: Group fonts by source (#63211)" (#65590)
  packages/edit-site/src/components/global-styles/font-families.js
  packages/edit-site/src/components/global-styles/screen-typography.js
Owners: none

Revert "Font Library: Group fonts by source (#63211)" (#65590)
  packages/edit-site/src/components/global-styles/font-families.js
  packages/edit-site/src/components/global-styles/screen-typography.js
Owners: none

updates LayoutTypeSwitcher to use ToggleGroupControl (#65498)
  packages/block-editor/src/hooks/layout.js
Owners: @tellthemachines

updates LayoutTypeSwitcher to use ToggleGroupControl (#65498)
  packages/block-editor/src/hooks/layout.js
Owners: @tellthemachines

Navigation block: Use `apply_block_hooks_to_content()` (#65703)
  packages/block-library/src/navigation/index.php
Owners: @ajitbohra

Navigation block: Use `apply_block_hooks_to_content()` (#65703)
  packages/block-library/src/navigation/index.php
Owners: @ajitbohra

PHP unit tests: remove WP_RUN_CORE_TESTS const (#65631)
  phpunit/bootstrap.php
Owners: none

Tweaking subcategory headings. Guard against empty category examples.
  packages/edit-site/src/components/style-book/constants.js
  packages/edit-site/src/components/style-book/index.js
  packages/edit-site/src/components/style-book/utils.js
Owners: none

Add default category
  packages/edit-site/src/components/style-book/index.js
  packages/edit-site/src/components/style-book/test/utils.js
  packages/edit-site/src/components/style-book/utils.js
Owners: none

Create types for utility functions and constants
  packages/edit-site/src/components/style-book/categories.js
  packages/edit-site/src/components/style-book/categories.ts
  packages/edit-site/src/components/style-book/constants.ts
  packages/edit-site/src/components/style-book/examples.ts
  packages/edit-site/src/components/style-book/types.ts
Owners: none

.github/CODEOWNERS:

# Documentation
/docs                                           @ajitbohra @juanmaguitar @fabiankaegy @ndiego
/packages/interactivity/docs                    @juanmaguitar

# Schemas
/schemas/json

# Data
/packages/api-fetch                             @nerrad @mmtr
/packages/core-data                             @nerrad
/packages/data                                  @nerrad
/packages/redux-routine                         @nerrad
/packages/data-controls                         @nerrad

# Blocks
/packages/block-library                         @ajitbohra
/packages/block-library/src/gallery             @geriux
/packages/block-library/src/comment-template    @michalczaplinski
/packages/block-library/src/comments            @michalczaplinski
/packages/block-library/src/table-of-contents   @ZebulanStanphill
/packages/block-library/src/image               @artemiomorales

# Duotone
/lib/block-supports/duotone.php
/packages/block-editor/src/components/duotone-control
/packages/block-editor/src/hooks/duotone.js
/packages/components/src/duotone-picker

# Editor
/packages/annotations                           @atimmer
/packages/autop
/packages/block-editor                          @ellatrix
/packages/block-editor/src/hooks                @tellthemachines
/packages/block-editor/src/layouts              @tellthemachines
/packages/block-serialization-spec-parser       @dmsnell
/packages/block-serialization-default-parser    @dmsnell
/packages/blocks
/packages/edit-post
/packages/editor
/packages/editor/src/components/post-title @alexstine
/packages/list-reusable-blocks
/packages/shortcode
/packages/block-directory
/packages/interface
/packages/media-utils
/packages/server-side-render
/packages/block-editor/src/components/link-control  @getdave

# Widgets
/packages/edit-widgets                          @draganescu @adamziel @kevin940726
/packages/customize-widgets
/packages/widgets

# Full Site Editing
/packages/edit-site

# Interactivity API
/packages/interactivity                         @luisherranz @darerodz

# Tooling
/bin                                            @ntwb @nerrad @ajitbohra
/bin/api-docs                                   @ntwb @nerrad @ajitbohra
/docs/tool                                      @ajitbohra @ndiego
/packages/babel-plugin-import-jsx-pragma        @ntwb @nerrad @ajitbohra
/packages/babel-plugin-makepot                  @ntwb @nerrad @ajitbohra
/packages/babel-preset-default                  @gziolo @ntwb @nerrad @ajitbohra
/packages/browserslist-config                   @ntwb @nerrad @ajitbohra
/packages/create-block                          @gziolo @ryanwelcher
/packages/create-block-tutorial-template        @gziolo @ryanwelcher
/packages/dependency-extraction-webpack-plugin  @gziolo
/packages/docgen
/packages/e2e-test-utils                        @ntwb @nerrad @ajitbohra
/packages/e2e-tests                             @ntwb @nerrad @ajitbohra
/packages/e2e-test-utils-playwright             @kevin940726
/packages/eslint-plugin                         @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-console                          @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-preset-default                   @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-puppeteer-axe                    @gziolo @ntwb @nerrad @ajitbohra
/packages/npm-package-json-lint-config          @gziolo @ntwb @nerrad @ajitbohra
/packages/postcss-themes                        @ntwb @nerrad @ajitbohra
/packages/prettier-config                       @ntwb @gziolo
/packages/scripts                               @gziolo @ntwb @nerrad @ajitbohra @ryanwelcher
/packages/stylelint-config                      @ntwb
/test/php/gutenberg-coding-standards            @anton-vlasenko

# UI Components
/packages/components                            @ajitbohra
/packages/compose                               @ajitbohra
/packages/element                               @ajitbohra
/packages/notices                               @ajitbohra
/packages/nux                                   @ajitbohra @peterwilsoncc
/packages/viewport                              @ajitbohra
/packages/base-styles
/packages/icons
/packages/primitives

# Utilities
/packages/a11y
/packages/blob
/packages/date
/packages/deprecated
/packages/dom                                   @ellatrix
/packages/dom-ready
/packages/escape-html
/packages/html-entities
/packages/i18n                                  @swissspidy
/packages/is-shallow-equal
/packages/keyboard-shortcuts
/packages/keycodes
/packages/preferences                           @talldan
/packages/priority-queue
/packages/token-list
/packages/url
/packages/wordcount
/packages/warning

# Extensibility
/packages/hooks                                 @adamsilverstein
/packages/plugins                               @gziolo @adamsilverstein

# Rich Text
/packages/format-library                        @ellatrix
/packages/rich-text                             @ellatrix
/packages/block-editor/src/components/rich-text @ellatrix

# Project Management
/.github                                        @desrosj
/packages/project-management-automation
/packages/report-flaky-tests                    @kevin940726

# wp-env
/packages/env                                   @ObliviousHarmony @t-hamano

# PHP
/lib                                            @spacedmonkey
/lib/block-supports/layout.php                  @tellthemachines
/lib/class-wp-theme-json-gutenberg.php          @tellthemachines
/lib/compat/*/html-api                          @dmsnell
/lib/experimental/rest-api.php                  @timothybjacobs
/lib/experimental/class-wp-rest-*               @timothybjacobs
/lib/experimental/class-wp-rest-block-editor-settings-controller.php @timothybjacobs @spacedmonkey @geriux

# Native
/packages/components/src/mobile/global-styles-context                @geriux

# Native (Unowned)
*.native.js
*.android.js
*.ios.js
*.native.scss
*.android.scss
*.ios.scss
