Repository WordPress/gutenberg, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajitbohra, @juanmaguitar, @fabiankaegy, @ndiego, @nerrad, @mmtr, @geriux, @michalczaplinski, @ZebulanStanphill, @artemiomorales, @atimmer, @ellatrix, @tellthemachines, @dmsnell, @alexstine, @getdave, @draganescu, @adamziel, @kevin940726, @luisherranz, @darerodz, @ntwb, @gziolo, @ryanwelcher, @anton-vlasenko, @peterwilsoncc, @swissspidy, @talldan, @adamsilverstein, @desrosj, @ObliviousHarmony, @t-hamano, @spacedmonkey, @timothybjacobs

Navigator: fix README heading hierarchy (#65763)
  packages/components/src/navigator/README.md
Owners: @ajitbohra

Only show zoom out inserters on block selection (#65759)
  packages/block-editor/src/components/block-tools/style.scss
  packages/block-editor/src/components/block-tools/zoom-out-mode-inserter-button.js
  packages/block-editor/src/components/block-tools/zoom-out-mode-inserters.js
Owners: @ellatrix

Update block-filters.md (#64959)
  docs/reference-guides/filters/block-filters.md
Owners: @ajitbohra, @juanmaguitar, @fabiankaegy, @ndiego

ToggleGroupControl: Fix arrow key navigation in RTL (#65735)
  packages/components/CHANGELOG.md
  packages/components/src/toggle-group-control/toggle-group-control/as-radio-group.tsx
Owners: @ajitbohra

SearchControl: Fix rest props mutation (#65740)
  packages/components/src/search-control/index.tsx
Owners: @ajitbohra

List view: fix miscolored icons (#65707)
  packages/block-editor/src/components/list-view/style.scss
Owners: @ellatrix

`Tabs`: tweak sizing and overflow behavior of TabList (#64371)
  packages/block-editor/src/components/inserter/style.scss
  packages/block-editor/src/components/inserter/tabs.js
  packages/block-editor/src/components/inspector-controls-tabs/style.scss
  packages/components/CHANGELOG.md
  packages/components/src/tabs/stories/index.story.tsx
  packages/components/src/tabs/styles.ts
  packages/components/src/tabs/tablist.tsx
  packages/components/src/tabs/use-track-overflow.ts
  packages/components/src/utils/element-rect.ts
  packages/edit-site/src/components/editor-canvas-container/style.scss
  packages/edit-site/src/components/global-styles/font-library-modal/index.js
  packages/edit-site/src/components/global-styles/font-library-modal/style.scss
  packages/edit-site/src/components/style-book/index.js
  packages/edit-site/src/components/style-book/style.scss
  packages/edit-widgets/src/components/sidebar/index.js
Owners: @ellatrix, @ajitbohra, @draganescu, @adamziel, @kevin940726

Update versions-in-wordpress.md
  docs/contributors/versions-in-wordpress.md
Owners: @ajitbohra, @juanmaguitar, @fabiankaegy, @ndiego

Block Bindings: Open the stable editor APIs (#65713)
  packages/block-editor/README.md
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/hooks/block-bindings.js
  packages/block-editor/src/private-apis.js
  packages/block-editor/src/utils/block-bindings.js
  packages/block-editor/src/utils/index.js
  packages/block-library/src/block/edit.js
  packages/block-library/src/button/edit.js
  packages/block-library/src/image/edit.js
  packages/block-library/src/image/image.js
  packages/blocks/README.md
  packages/blocks/src/api/index.js
  packages/blocks/src/api/registration.js
  packages/blocks/src/store/reducer.js
  packages/e2e-tests/plugins/block-bindings/index.js
  packages/editor/src/bindings/api.js
  packages/editor/src/hooks/pattern-overrides.js
  packages/patterns/src/components/pattern-overrides-controls.js
Owners: @ellatrix, @tellthemachines, @ajitbohra, @artemiomorales, @ntwb, @nerrad

Edit Site: Fix useLink prop mutation (#65739)
  packages/edit-site/src/components/routes/link.js
Owners: none

limit zoom out toggle to specific post types (#65732)
  packages/editor/src/components/header/index.js
Owners: none

Navigator: use stable export instead of experimental export (#65753)
  packages/block-editor/src/components/inserter/mobile-tab-navigation.js
  packages/components/src/index.ts
  packages/edit-site/src/components/global-styles-sidebar/index.js
  packages/edit-site/src/components/global-styles/font-library-modal/font-card.js
  packages/edit-site/src/components/global-styles/font-library-modal/font-collection.js
  packages/edit-site/src/components/global-styles/font-library-modal/installed-fonts.js
  packages/edit-site/src/components/global-styles/font-sizes/font-size.js
  packages/edit-site/src/components/global-styles/header.js
  packages/edit-site/src/components/global-styles/navigation-button.js
  packages/edit-site/src/components/global-styles/screen-revisions/index.js
  packages/edit-site/src/components/global-styles/shadows-edit-panel.js
  packages/edit-site/src/components/global-styles/ui.js
  packages/preferences/src/components/preferences-modal-tabs/index.js
Owners: @ellatrix, @ajitbohra, @talldan

Button: Add `__next40pxDefaultSize` in block-editor 6 (#65742)
  packages/block-editor/src/components/skip-to-selected-block/index.js
  packages/block-editor/src/components/skip-to-selected-block/style.scss
  packages/block-editor/src/components/tool-selector/index.js
  packages/block-editor/src/components/url-input/button.js
  packages/block-editor/src/components/url-input/index.js
  packages/block-editor/src/components/url-input/style.scss
  packages/block-editor/src/layouts/flex.js
Owners: @ellatrix, @tellthemachines

Buttons: add box-sizing:border-box rule (#65716)
  packages/block-library/src/buttons/style.scss
Owners: @ajitbohra

Restore accidentally removed entries in changelog (components package) (#65804)
  packages/components/CHANGELOG.md
Owners: @ajitbohra

Social Links: Fix block appender size (#65769)
  packages/block-library/src/social-links/editor.scss
Owners: @ajitbohra

Fix focus loss when deleting selected block in zoom out mode (#65761)
  packages/block-editor/src/components/block-tools/zoom-out-toolbar.js
Owners: @ellatrix

Revert "Temp disable test for Classic Block Media issue (#65793)" (#65809)
  test/e2e/specs/editor/blocks/classic.spec.js
Owners: none

BorderControl: Promote to stable (#65475)
  packages/components/CHANGELOG.md
  packages/components/src/border-control/border-control-dropdown/component.tsx
  packages/components/src/border-control/border-control/README.md
  packages/components/src/border-control/border-control/component.tsx
  packages/components/src/border-control/stories/index.story.tsx
  packages/components/src/border-control/test/index.js
  packages/components/src/border-control/types.ts
  packages/components/src/index.ts
  storybook/manager-head.html
Owners: @ajitbohra

Temp disable test for Classic Block Media issue (#65793)
  test/e2e/specs/editor/blocks/classic.spec.js
Owners: none

ToggleGroupControl: improve animation (#65175)
  packages/components/CHANGELOG.md
  packages/components/src/toggle-group-control/test/__snapshots__/index.tsx.snap
  packages/components/src/toggle-group-control/toggle-group-control-option-base/component.tsx
  packages/components/src/toggle-group-control/toggle-group-control-option-base/styles.ts
  packages/components/src/toggle-group-control/toggle-group-control/as-button-group.tsx
  packages/components/src/toggle-group-control/toggle-group-control/as-radio-group.tsx
  packages/components/src/toggle-group-control/toggle-group-control/component.tsx
  packages/components/src/toggle-group-control/toggle-group-control/styles.ts
  packages/components/src/toggle-group-control/types.ts
  packages/components/src/utils/element-rect.ts
  packages/components/src/utils/hooks/use-on-value-update.ts
Owners: @ajitbohra

Remove editorMode from blockProps (#65326)
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/use-block-props/index.js
  packages/block-editor/src/components/block-list/use-block-props/use-zoom-out-mode-exit.js
Owners: @ellatrix

Global style revisions: remove unnecessary `goTo` navigation call (#65810)
  packages/edit-site/src/components/global-styles/screen-revisions/index.js
Owners: none

Resize cover block only in normal mode (#65731)
  packages/block-library/src/cover/edit/index.js
Owners: @ajitbohra

Inserter: Fix Block visibility manager (#65700)
  packages/block-editor/src/components/inserter/hooks/use-patterns-state.js
  packages/block-editor/src/store/selectors.js
  test/e2e/specs/editor/various/allowed-patterns.spec.js
Owners: @ellatrix

Avoid errors when a fontSize preset is not available (#65791)
  packages/edit-site/src/components/global-styles/font-sizes/font-size.js
Owners: none

Block Bindings: Add `@since` tag in bindings apis JSDocs (#65796)
  packages/block-editor/README.md
  packages/block-editor/src/utils/block-bindings.js
  packages/blocks/README.md
  packages/blocks/src/api/registration.js
Owners: @ellatrix

Hide Zoom Out inserter buttons when dragging (#65789)
  packages/block-editor/src/components/block-tools/index.js
Owners: @ellatrix

Composite: fix legacy implementation passing store prop (#65821)
  packages/components/CHANGELOG.md
  packages/components/src/composite/group-label.tsx
  packages/components/src/composite/group.tsx
  packages/components/src/composite/hover.tsx
  packages/components/src/composite/index.tsx
  packages/components/src/composite/item.tsx
  packages/components/src/composite/row.tsx
  packages/components/src/composite/typeahead.tsx
Owners: @ajitbohra

Composite: always await initial render setup in unit tests (#65823)
  packages/components/src/composite/legacy/test/index.tsx
Owners: @ajitbohra

Fix: Shadow/Font size preset panel crashes the editor (#65765)
  packages/edit-site/src/components/global-styles/font-sizes/font-size.js
  packages/edit-site/src/components/global-styles/shadows-edit-panel.js
Owners: none

Customize widgets, edit post: refactor Button to new sizes (#65807)
  packages/customize-widgets/src/components/error-boundary/index.js
  packages/customize-widgets/src/components/inserter/index.js
  packages/customize-widgets/src/components/welcome-guide/index.js
  packages/edit-post/src/components/back-button/fullscreen-mode-close.js
  packages/edit-post/src/components/back-button/test/__snapshots__/fullscreen-mode-close.js.snap
  packages/edit-post/src/components/init-pattern-modal/index.js
  packages/edit-post/src/components/preferences-modal/enable-custom-fields.js
  packages/edit-post/src/components/preferences-modal/test/__snapshots__/enable-custom-fields.js.snap
Owners: none

Docs/interactivity api router package readme (#62062)
  packages/interactivity-router/README.md
Owners: none

Navigator: mark experimental exports as deprecated (#65802)
  packages/components/CHANGELOG.md
  packages/components/src/index.ts
Owners: @ajitbohra

DataForm - Add combined fields support (#65399)
  packages/dataviews/src/components/dataform-combined-edit/index.tsx
  packages/dataviews/src/components/dataform-combined-edit/style.scss
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/dataforms-layouts/get-visible-fields.ts
  packages/dataviews/src/dataforms-layouts/panel/index.tsx
  packages/dataviews/src/dataforms-layouts/regular/index.tsx
  packages/dataviews/src/normalize-fields.ts
  packages/dataviews/src/style.scss
  packages/dataviews/src/types.ts
  packages/dataviews/src/validation.ts
Owners: none

enable vertical toolbar for non full width elements, anchor based on parent
  packages/block-editor/src/components/block-popover/index.js
  packages/block-editor/src/components/block-tools/use-show-block-tools.js
Owners: @ellatrix

use a selector instead of computing on the fly the parent section
  packages/block-editor/src/components/block-popover/index.js
Owners: @ellatrix

check if the block element exists yet before computing the anchor
  packages/block-editor/src/components/block-popover/index.js
Owners: @ellatrix

get the section wrapper for anchoring instead of the parent
  packages/block-editor/src/components/block-popover/index.js
Owners: @ellatrix

comment typos
  packages/block-editor/src/components/block-popover/index.js
Owners: @ellatrix

.github/CODEOWNERS:

# Documentation
/docs                                           @ajitbohra @juanmaguitar @fabiankaegy @ndiego
/packages/interactivity/docs                    @juanmaguitar

# Schemas
/schemas/json

# Data
/packages/api-fetch                             @nerrad @mmtr
/packages/core-data                             @nerrad
/packages/data                                  @nerrad
/packages/redux-routine                         @nerrad
/packages/data-controls                         @nerrad

# Blocks
/packages/block-library                         @ajitbohra
/packages/block-library/src/gallery             @geriux
/packages/block-library/src/comment-template    @michalczaplinski
/packages/block-library/src/comments            @michalczaplinski
/packages/block-library/src/table-of-contents   @ZebulanStanphill
/packages/block-library/src/image               @artemiomorales

# Duotone
/lib/block-supports/duotone.php
/packages/block-editor/src/components/duotone-control
/packages/block-editor/src/hooks/duotone.js
/packages/components/src/duotone-picker

# Editor
/packages/annotations                           @atimmer
/packages/autop
/packages/block-editor                          @ellatrix
/packages/block-editor/src/hooks                @tellthemachines
/packages/block-editor/src/layouts              @tellthemachines
/packages/block-serialization-spec-parser       @dmsnell
/packages/block-serialization-default-parser    @dmsnell
/packages/blocks
/packages/edit-post
/packages/editor
/packages/editor/src/components/post-title @alexstine
/packages/list-reusable-blocks
/packages/shortcode
/packages/block-directory
/packages/interface
/packages/media-utils
/packages/server-side-render
/packages/block-editor/src/components/link-control  @getdave

# Widgets
/packages/edit-widgets                          @draganescu @adamziel @kevin940726
/packages/customize-widgets
/packages/widgets

# Full Site Editing
/packages/edit-site

# Interactivity API
/packages/interactivity                         @luisherranz @darerodz

# Tooling
/bin                                            @ntwb @nerrad @ajitbohra
/bin/api-docs                                   @ntwb @nerrad @ajitbohra
/docs/tool                                      @ajitbohra @ndiego
/packages/babel-plugin-import-jsx-pragma        @ntwb @nerrad @ajitbohra
/packages/babel-plugin-makepot                  @ntwb @nerrad @ajitbohra
/packages/babel-preset-default                  @gziolo @ntwb @nerrad @ajitbohra
/packages/browserslist-config                   @ntwb @nerrad @ajitbohra
/packages/create-block                          @gziolo @ryanwelcher
/packages/create-block-tutorial-template        @gziolo @ryanwelcher
/packages/dependency-extraction-webpack-plugin  @gziolo
/packages/docgen
/packages/e2e-test-utils                        @ntwb @nerrad @ajitbohra
/packages/e2e-tests                             @ntwb @nerrad @ajitbohra
/packages/e2e-test-utils-playwright             @kevin940726
/packages/eslint-plugin                         @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-console                          @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-preset-default                   @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-puppeteer-axe                    @gziolo @ntwb @nerrad @ajitbohra
/packages/npm-package-json-lint-config          @gziolo @ntwb @nerrad @ajitbohra
/packages/postcss-themes                        @ntwb @nerrad @ajitbohra
/packages/prettier-config                       @ntwb @gziolo
/packages/scripts                               @gziolo @ntwb @nerrad @ajitbohra @ryanwelcher
/packages/stylelint-config                      @ntwb
/test/php/gutenberg-coding-standards            @anton-vlasenko

# UI Components
/packages/components                            @ajitbohra
/packages/compose                               @ajitbohra
/packages/element                               @ajitbohra
/packages/notices                               @ajitbohra
/packages/nux                                   @ajitbohra @peterwilsoncc
/packages/viewport                              @ajitbohra
/packages/base-styles
/packages/icons
/packages/primitives

# Utilities
/packages/a11y
/packages/blob
/packages/date
/packages/deprecated
/packages/dom                                   @ellatrix
/packages/dom-ready
/packages/escape-html
/packages/html-entities
/packages/i18n                                  @swissspidy
/packages/is-shallow-equal
/packages/keyboard-shortcuts
/packages/keycodes
/packages/preferences                           @talldan
/packages/priority-queue
/packages/token-list
/packages/url
/packages/wordcount
/packages/warning

# Extensibility
/packages/hooks                                 @adamsilverstein
/packages/plugins                               @gziolo @adamsilverstein

# Rich Text
/packages/format-library                        @ellatrix
/packages/rich-text                             @ellatrix
/packages/block-editor/src/components/rich-text @ellatrix

# Project Management
/.github                                        @desrosj
/packages/project-management-automation
/packages/report-flaky-tests                    @kevin940726

# wp-env
/packages/env                                   @ObliviousHarmony @t-hamano

# PHP
/lib                                            @spacedmonkey
/lib/block-supports/layout.php                  @tellthemachines
/lib/class-wp-theme-json-gutenberg.php          @tellthemachines
/lib/compat/*/html-api                          @dmsnell
/lib/experimental/rest-api.php                  @timothybjacobs
/lib/experimental/class-wp-rest-*               @timothybjacobs
/lib/experimental/class-wp-rest-block-editor-settings-controller.php @timothybjacobs @spacedmonkey @geriux

# Native
/packages/components/src/mobile/global-styles-context                @geriux

# Native (Unowned)
*.native.js
*.android.js
*.ios.js
*.native.scss
*.android.scss
*.ios.scss
