Repository WordPress/gutenberg, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajitbohra, @juanmaguitar, @fabiankaegy, @ndiego, @nerrad, @mmtr, @geriux, @michalczaplinski, @ZebulanStanphill, @artemiomorales, @atimmer, @ellatrix, @tellthemachines, @dmsnell, @alexstine, @getdave, @draganescu, @adamziel, @kevin940726, @luisherranz, @darerodz, @ntwb, @gziolo, @ryanwelcher, @anton-vlasenko, @peterwilsoncc, @swissspidy, @talldan, @adamsilverstein, @desrosj, @ObliviousHarmony, @t-hamano, @spacedmonkey, @timothybjacobs

.github/CODEOWNERS:

# Documentation
/docs                                           @ajitbohra @juanmaguitar @fabiankaegy @ndiego
/packages/interactivity/docs                    @juanmaguitar

# Schemas
/schemas/json

# Data
/packages/api-fetch                             @nerrad @mmtr
/packages/core-data                             @nerrad
/packages/data                                  @nerrad
/packages/redux-routine                         @nerrad
/packages/data-controls                         @nerrad

# Blocks
/packages/block-library                         @ajitbohra
/packages/block-library/src/gallery             @geriux
/packages/block-library/src/comment-template    @michalczaplinski
/packages/block-library/src/comments            @michalczaplinski
/packages/block-library/src/table-of-contents   @ZebulanStanphill
/packages/block-library/src/image               @artemiomorales

# Duotone
/lib/block-supports/duotone.php
/packages/block-editor/src/components/duotone-control
/packages/block-editor/src/hooks/duotone.js
/packages/components/src/duotone-picker

# Editor
/packages/annotations                           @atimmer
/packages/autop
/packages/block-editor                          @ellatrix
/packages/block-editor/src/hooks                @tellthemachines
/packages/block-editor/src/layouts              @tellthemachines
/packages/block-serialization-spec-parser       @dmsnell
/packages/block-serialization-default-parser    @dmsnell
/packages/blocks
/packages/edit-post
/packages/editor
/packages/editor/src/components/post-title @alexstine
/packages/list-reusable-blocks
/packages/shortcode
/packages/block-directory
/packages/interface
/packages/media-utils
/packages/server-side-render
/packages/block-editor/src/components/link-control  @getdave

# Widgets
/packages/edit-widgets                          @draganescu @adamziel @kevin940726
/packages/customize-widgets
/packages/widgets

# Full Site Editing
/packages/edit-site

# Interactivity API
/packages/interactivity                         @luisherranz @darerodz

# Tooling
/bin                                            @ntwb @nerrad @ajitbohra
/bin/api-docs                                   @ntwb @nerrad @ajitbohra
/docs/tool                                      @ajitbohra @ndiego
/packages/babel-plugin-import-jsx-pragma        @ntwb @nerrad @ajitbohra
/packages/babel-plugin-makepot                  @ntwb @nerrad @ajitbohra
/packages/babel-preset-default                  @gziolo @ntwb @nerrad @ajitbohra
/packages/browserslist-config                   @ntwb @nerrad @ajitbohra
/packages/create-block                          @gziolo @ryanwelcher
/packages/create-block-tutorial-template        @gziolo @ryanwelcher
/packages/dependency-extraction-webpack-plugin  @gziolo
/packages/docgen
/packages/e2e-test-utils                        @ntwb @nerrad @ajitbohra
/packages/e2e-tests                             @ntwb @nerrad @ajitbohra
/packages/e2e-test-utils-playwright             @kevin940726
/packages/eslint-plugin                         @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-console                          @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-preset-default                   @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-puppeteer-axe                    @gziolo @ntwb @nerrad @ajitbohra
/packages/npm-package-json-lint-config          @gziolo @ntwb @nerrad @ajitbohra
/packages/postcss-themes                        @ntwb @nerrad @ajitbohra
/packages/prettier-config                       @ntwb @gziolo
/packages/scripts                               @gziolo @ntwb @nerrad @ajitbohra @ryanwelcher
/packages/stylelint-config                      @ntwb
/test/php/gutenberg-coding-standards            @anton-vlasenko

# UI Components
/packages/components                            @ajitbohra
/packages/compose                               @ajitbohra
/packages/element                               @ajitbohra
/packages/notices                               @ajitbohra
/packages/nux                                   @ajitbohra @peterwilsoncc
/packages/viewport                              @ajitbohra
/packages/base-styles
/packages/icons
/packages/primitives

# Utilities
/packages/a11y
/packages/blob
/packages/date
/packages/deprecated
/packages/dom                                   @ellatrix
/packages/dom-ready
/packages/escape-html
/packages/html-entities
/packages/i18n                                  @swissspidy
/packages/is-shallow-equal
/packages/keyboard-shortcuts
/packages/keycodes
/packages/preferences                           @talldan
/packages/priority-queue
/packages/token-list
/packages/url
/packages/wordcount
/packages/warning

# Extensibility
/packages/hooks                                 @adamsilverstein
/packages/plugins                               @gziolo @adamsilverstein

# Rich Text
/packages/format-library                        @ellatrix
/packages/rich-text                             @ellatrix
/packages/block-editor/src/components/rich-text @ellatrix

# Project Management
/.github                                        @desrosj
/packages/project-management-automation
/packages/report-flaky-tests                    @kevin940726

# wp-env
/packages/env                                   @ObliviousHarmony @t-hamano

# PHP
/lib                                            @spacedmonkey
/lib/block-supports/layout.php                  @tellthemachines
/lib/class-wp-theme-json-gutenberg.php          @tellthemachines
/lib/compat/*/html-api                          @dmsnell
/lib/experimental/rest-api.php                  @timothybjacobs
/lib/experimental/class-wp-rest-*               @timothybjacobs
/lib/experimental/class-wp-rest-block-editor-settings-controller.php @timothybjacobs @spacedmonkey @geriux

# Native
/packages/components/src/mobile/global-styles-context                @geriux

# Native (Unowned)
*.native.js
*.android.js
*.ios.js
*.native.scss
*.android.scss
*.ios.scss

Navigator.Button: update docs
  docs/manifest.json
  packages/components/src/navigator/index.ts
  packages/components/src/navigator/navigator-button/README.md
Owners: @ajitbohra, @juanmaguitar, @fabiankaegy, @ndiego

Update new section of the docs
  packages/components/src/navigator/navigator/README.md
Owners: @ajitbohra

Update docs manifest.json
  docs/manifest.json
Owners: @ajitbohra, @juanmaguitar, @fabiankaegy, @ndiego

Remove @example tag from top-level export
  packages/components/src/navigator/index.tsx
Owners: @ajitbohra

NavigatorToParentButton: delete README
  docs/manifest.json
  packages/components/src/navigator/navigator-to-parent-button/README.md
Owners: @ajitbohra, @juanmaguitar, @fabiankaegy, @ndiego

Navigator: update docs
  packages/components/src/navigator/index.ts
  packages/components/src/navigator/navigator/README.md
  packages/components/src/navigator/navigator/component.tsx
Owners: @ajitbohra

Move legacy exports to separate file
  packages/components/src/navigator/legacy.ts
Owners: @ajitbohra

Fix tests warning checks
  packages/components/src/navigator/test/index.tsx
Owners: @ajitbohra

Use overloaded notation in Storybook
  packages/components/src/navigator/stories/index.story.tsx
Owners: @ajitbohra

Remove unnecessary and mispelled display name for top-level `Navigator`
  packages/components/src/navigator/index.tsx
Owners: @ajitbohra

Navigator.BackButton: update docs
  docs/manifest.json
  packages/components/src/navigator/index.ts
  packages/components/src/navigator/navigator-back-button/README.md
Owners: @ajitbohra, @juanmaguitar, @fabiankaegy, @ndiego

useNavigator JSDocs
  packages/components/src/navigator/use-navigator.ts
Owners: @ajitbohra

Change index.ts extension to tsx to allow Storybook to extract JSDocs better, remove duplicate JSDocs
  packages/components/src/navigator/index.tsx
  packages/components/src/navigator/navigator/component.tsx
Owners: @ajitbohra

Use named export for `NavigatorToParentButton` too
  packages/components/src/navigator/navigator-to-parent-button/component.tsx
Owners: @ajitbohra

Update more docs
  packages/components/src/navigator/navigator-button/README.md
Owners: @ajitbohra

Export overloaded notation
  packages/components/src/navigator/index.ts
Owners: @ajitbohra

Use dot notation in context namespaces too
  packages/components/src/navigator/navigator-back-button/component.tsx
  packages/components/src/navigator/navigator-button/component.tsx
  packages/components/src/navigator/navigator-screen/component.tsx
  packages/components/src/navigator/navigator-to-parent-button/component.tsx
Owners: @ajitbohra

Use overloaded notation in unit tests (skipping deprecated component for now)
  packages/components/src/navigator/test/index.tsx
Owners: @ajitbohra

Remove experimental status from Storybook
  packages/components/src/navigator/stories/index.story.tsx
  storybook/manager-head.html
Owners: @ajitbohra

Fix JSDocs typos, grammar, and broken links.
  packages/components/src/navigator/README.md
  packages/components/src/navigator/test/index.tsx
  packages/components/src/navigator/types.ts
Owners: @ajitbohra

Stabilize the PreSavePost and SavePost filters (#64198)
  packages/edit-post/src/store/actions.js
  packages/editor/src/store/actions.js
Owners: none

Update storybook selector
  packages/components/src/navigator/stories/index.story.tsx
Owners: @ajitbohra

Second try
  packages/editor/src/components/provider/index.js
Owners: none

Remove root dependency on workspaces
  package.json
Owners: none

Navigator: stabilize and export APIs (#64613)
  docs/manifest.json
  packages/components/CHANGELOG.md
  packages/components/src/index.ts
  packages/components/src/navigator/README.md
  packages/components/src/navigator/index.tsx
  packages/components/src/navigator/legacy.ts
  packages/components/src/navigator/navigator-back-button/README.md
  packages/components/src/navigator/navigator-back-button/component.tsx
  packages/components/src/navigator/navigator-back-button/hook.ts
  packages/components/src/navigator/navigator-button/README.md
  packages/components/src/navigator/navigator-button/component.tsx
  packages/components/src/navigator/navigator-button/hook.ts
  packages/components/src/navigator/navigator-provider/README.md
  packages/components/src/navigator/navigator-screen/README.md
  packages/components/src/navigator/navigator-screen/component.tsx
  packages/components/src/navigator/navigator-to-parent-button/README.md
  packages/components/src/navigator/navigator-to-parent-button/component.tsx
  packages/components/src/navigator/navigator/component.tsx
  packages/components/src/navigator/stories/index.story.tsx
  packages/components/src/navigator/styles.ts
  packages/components/src/navigator/test/index.tsx
  packages/components/src/navigator/types.ts
  packages/components/src/navigator/use-navigator.ts
  storybook/manager-head.html
Owners: @ajitbohra, @juanmaguitar, @fabiankaegy, @ndiego

Revert some package-lock changes 🤞
  package-lock.json
Owners: none

Created internal helper function to create description for speak function
  packages/block-editor/src/components/block-tools/index.js
Owners: @ellatrix

update lock
  package-lock.json
Owners: none

Update icon in home button (#65497)
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/editor/style.scss
  packages/icons/CHANGELOG.md
  packages/icons/src/index.js
  packages/icons/src/library/arrow-down-right.js
  packages/icons/src/library/arrow-up-left.js
Owners: none

Update icon in home button (#65497)
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/editor/style.scss
  packages/icons/CHANGELOG.md
  packages/icons/src/index.js
  packages/icons/src/library/arrow-down-right.js
  packages/icons/src/library/arrow-up-left.js
Owners: none

Add dependencies
  packages/editor/src/components/provider/index.js
Owners: none

Make meta boxes container a navigable region
  packages/edit-post/src/components/layout/index.js
  packages/interface/src/components/navigable-region/index.js
Owners: none

Try hiding meta box region contents when not expanded
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/layout/style.scss
Owners: none

Fix hidden conditional
  packages/edit-post/src/components/layout/index.js
Owners: none

use _links in the font resolver
  packages/block-editor/src/components/use-editor-fonts-resolver/index.js
  packages/block-editor/src/components/use-editor-fonts-resolver/utils.js
Owners: @ellatrix

Check post meta in the frontend
  test/e2e/specs/editor/various/block-bindings/post-meta.spec.js
Owners: none

Update theme definition
  test/gutenberg-test-themes/block-bindings/style.css
Owners: none

Populate `setValues`
  packages/e2e-tests/plugins/block-bindings/index.js
Owners: @ntwb, @nerrad, @ajitbohra

Check image title locking
  test/e2e/specs/editor/various/block-bindings/custom-sources.spec.js
Owners: none

Remove additional Typeset screen and surface typesets in the typography panel.
  packages/edit-site/src/components/global-styles/screen-typeset.js
  packages/edit-site/src/components/global-styles/screen-typography.js
  packages/edit-site/src/components/global-styles/typeset-button.js
  packages/edit-site/src/components/global-styles/ui.js
  packages/edit-site/src/components/global-styles/utils.js
Owners: none
