Repository WordPress/gutenberg, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajitbohra, @juanmaguitar, @fabiankaegy, @ndiego, @nerrad, @mmtr, @geriux, @michalczaplinski, @ZebulanStanphill, @artemiomorales, @atimmer, @ellatrix, @tellthemachines, @dmsnell, @alexstine, @getdave, @draganescu, @adamziel, @kevin940726, @luisherranz, @darerodz, @ntwb, @gziolo, @ryanwelcher, @anton-vlasenko, @peterwilsoncc, @swissspidy, @talldan, @adamsilverstein, @desrosj, @ObliviousHarmony, @t-hamano, @spacedmonkey, @timothybjacobs

.github/CODEOWNERS:

# Documentation
/docs                                           @ajitbohra @juanmaguitar @fabiankaegy @ndiego
/packages/interactivity/docs                    @juanmaguitar

# Schemas
/schemas/json

# Data
/packages/api-fetch                             @nerrad @mmtr
/packages/core-data                             @nerrad
/packages/data                                  @nerrad
/packages/redux-routine                         @nerrad
/packages/data-controls                         @nerrad

# Blocks
/packages/block-library                         @ajitbohra
/packages/block-library/src/gallery             @geriux
/packages/block-library/src/comment-template    @michalczaplinski
/packages/block-library/src/comments            @michalczaplinski
/packages/block-library/src/table-of-contents   @ZebulanStanphill
/packages/block-library/src/image               @artemiomorales

# Duotone
/lib/block-supports/duotone.php
/packages/block-editor/src/components/duotone-control
/packages/block-editor/src/hooks/duotone.js
/packages/components/src/duotone-picker

# Editor
/packages/annotations                           @atimmer
/packages/autop
/packages/block-editor                          @ellatrix
/packages/block-editor/src/hooks                @tellthemachines
/packages/block-editor/src/layouts              @tellthemachines
/packages/block-serialization-spec-parser       @dmsnell
/packages/block-serialization-default-parser    @dmsnell
/packages/blocks
/packages/edit-post
/packages/editor
/packages/editor/src/components/post-title @alexstine
/packages/list-reusable-blocks
/packages/shortcode
/packages/block-directory
/packages/interface
/packages/media-utils
/packages/server-side-render
/packages/block-editor/src/components/link-control  @getdave

# Widgets
/packages/edit-widgets                          @draganescu @adamziel @kevin940726
/packages/customize-widgets
/packages/widgets

# Full Site Editing
/packages/edit-site

# Interactivity API
/packages/interactivity                         @luisherranz @darerodz

# Tooling
/bin                                            @ntwb @nerrad @ajitbohra
/bin/api-docs                                   @ntwb @nerrad @ajitbohra
/docs/tool                                      @ajitbohra @ndiego
/packages/babel-plugin-import-jsx-pragma        @ntwb @nerrad @ajitbohra
/packages/babel-plugin-makepot                  @ntwb @nerrad @ajitbohra
/packages/babel-preset-default                  @gziolo @ntwb @nerrad @ajitbohra
/packages/browserslist-config                   @ntwb @nerrad @ajitbohra
/packages/create-block                          @gziolo @ryanwelcher
/packages/create-block-tutorial-template        @gziolo @ryanwelcher
/packages/dependency-extraction-webpack-plugin  @gziolo
/packages/docgen
/packages/e2e-test-utils                        @ntwb @nerrad @ajitbohra
/packages/e2e-tests                             @ntwb @nerrad @ajitbohra
/packages/e2e-test-utils-playwright             @kevin940726
/packages/eslint-plugin                         @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-console                          @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-preset-default                   @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-puppeteer-axe                    @gziolo @ntwb @nerrad @ajitbohra
/packages/npm-package-json-lint-config          @gziolo @ntwb @nerrad @ajitbohra
/packages/postcss-themes                        @ntwb @nerrad @ajitbohra
/packages/prettier-config                       @ntwb @gziolo
/packages/scripts                               @gziolo @ntwb @nerrad @ajitbohra @ryanwelcher
/packages/stylelint-config                      @ntwb
/test/php/gutenberg-coding-standards            @anton-vlasenko

# UI Components
/packages/components                            @ajitbohra
/packages/compose                               @ajitbohra
/packages/element                               @ajitbohra
/packages/notices                               @ajitbohra
/packages/nux                                   @ajitbohra @peterwilsoncc
/packages/viewport                              @ajitbohra
/packages/base-styles
/packages/icons
/packages/primitives

# Utilities
/packages/a11y
/packages/blob
/packages/date
/packages/deprecated
/packages/dom                                   @ellatrix
/packages/dom-ready
/packages/escape-html
/packages/html-entities
/packages/i18n                                  @swissspidy
/packages/is-shallow-equal
/packages/keyboard-shortcuts
/packages/keycodes
/packages/preferences                           @talldan
/packages/priority-queue
/packages/token-list
/packages/url
/packages/wordcount
/packages/warning

# Extensibility
/packages/hooks                                 @adamsilverstein
/packages/plugins                               @gziolo @adamsilverstein

# Rich Text
/packages/format-library                        @ellatrix
/packages/rich-text                             @ellatrix
/packages/block-editor/src/components/rich-text @ellatrix

# Project Management
/.github                                        @desrosj
/packages/project-management-automation
/packages/report-flaky-tests                    @kevin940726

# wp-env
/packages/env                                   @ObliviousHarmony @t-hamano

# PHP
/lib                                            @spacedmonkey
/lib/block-supports/layout.php                  @tellthemachines
/lib/class-wp-theme-json-gutenberg.php          @tellthemachines
/lib/compat/*/html-api                          @dmsnell
/lib/experimental/rest-api.php                  @timothybjacobs
/lib/experimental/class-wp-rest-*               @timothybjacobs
/lib/experimental/class-wp-rest-block-editor-settings-controller.php @timothybjacobs @spacedmonkey @geriux

# Native
/packages/components/src/mobile/global-styles-context                @geriux

# Native (Unowned)
*.native.js
*.android.js
*.ios.js
*.native.scss
*.android.scss
*.ios.scss

Add unit tests
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/selectors.js
Owners: @ellatrix

Add zoom out pattern block editing mode test
  packages/block-editor/src/store/test/selectors.js
Owners: @ellatrix

Await renderAndValidate in legacy tests
  packages/components/src/composite/legacy/test/index.tsx
Owners: @ajitbohra

Try allowing list item insertion in content only mode
  packages/block-editor/src/components/inner-blocks/index.js
  packages/block-editor/src/components/inner-blocks/use-nested-settings-update.js
  packages/block-editor/src/store/selectors.js
  packages/block-library/src/list/edit.js
Owners: @ellatrix, @ajitbohra

Refactor logic
  packages/edit-site/src/components/global-styles/font-sizes/font-size.js
Owners: none

CHANGELOG
  packages/components/CHANGELOG.md
Owners: @ajitbohra

Navigator: mark experimental exports as deprecated
  packages/components/src/index.ts
Owners: @ajitbohra

Update JSDocs deprecation alternatives suggestions
  packages/components/src/index.ts
Owners: @ajitbohra

Update isVisible comment doc
  packages/dataviews/src/types.ts
Owners: none

Fix: Shadow/Font size preset panel crashes the editor (#65765)
  packages/edit-site/src/components/global-styles/font-sizes/font-size.js
  packages/edit-site/src/components/global-styles/shadows-edit-panel.js
Owners: none

Fix test
  packages/e2e-tests/plugins/interactive-blocks/directive-init/view.js
Owners: @ntwb, @nerrad, @ajitbohra

Update docs
  packages/interactivity/src/hooks.tsx
Owners: @luisherranz, @darerodz

Composite: always await initial render setup in unit tests (#65823)
  packages/components/src/composite/legacy/test/index.tsx
Owners: @ajitbohra

Add storybook example
  packages/dataviews/src/components/dataform/stories/index.story.tsx
Owners: none

Replace any usage with generic for getVisibleFields function
  packages/dataviews/src/dataforms-layouts/get-visible-fields.ts
  packages/dataviews/src/dataforms-layouts/panel/index.tsx
  packages/dataviews/src/dataforms-layouts/regular/index.tsx
  packages/dataviews/src/normalize-fields.ts
Owners: none

Remove individual field header
  packages/dataviews/src/components/dataform-combined-edit/index.tsx
Owners: none

Add combined fields option to DataForms
  packages/dataviews/src/components/dataform-combined-edit/index.tsx
  packages/dataviews/src/components/dataform-combined-edit/style.scss
  packages/dataviews/src/dataforms-layouts/panel/index.tsx
  packages/dataviews/src/normalize-fields.ts
  packages/dataviews/src/style.scss
  packages/dataviews/src/types.ts
  packages/dataviews/src/validation.ts
Owners: none

Add support for combined fields in the regular dataform view as well
  packages/dataviews/src/components/dataform-combined-edit/index.tsx
  packages/dataviews/src/components/dataform-combined-edit/style.scss
  packages/dataviews/src/dataforms-layouts/get-visible-fields.ts
  packages/dataviews/src/dataforms-layouts/panel/index.tsx
  packages/dataviews/src/dataforms-layouts/regular/index.tsx
  packages/dataviews/src/types.ts
Owners: none

Always show field labels
  packages/dataviews/src/components/dataform-combined-edit/index.tsx
Owners: none

Added fieldset and updated styling
  packages/dataviews/src/components/dataform-combined-edit/index.tsx
  packages/dataviews/src/components/dataform-combined-edit/style.scss
  packages/dataviews/src/components/dataform/stories/index.story.tsx
Owners: none

Remove 'layout' key from DataForms
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/dataforms-layouts/panel/index.tsx
  packages/dataviews/src/dataforms-layouts/regular/index.tsx
  packages/dataviews/src/types.ts
Owners: none

Navigator: mark experimental exports as deprecated (#65802)
  packages/components/CHANGELOG.md
  packages/components/src/index.ts
Owners: @ajitbohra

Composite: fix legacy implementation passing store prop
  packages/components/src/composite/group-label.tsx
  packages/components/src/composite/group.tsx
  packages/components/src/composite/hover.tsx
  packages/components/src/composite/item.tsx
  packages/components/src/composite/row.tsx
  packages/components/src/composite/typeahead.tsx
Owners: @ajitbohra

Fix another test
  packages/e2e-tests/plugins/interactive-blocks/directive-on-document/view.js
Owners: @ntwb, @nerrad, @ajitbohra

Add single-pass implementation of useShallowMemo
  packages/block-editor/src/components/inner-blocks/use-nested-settings-update.js
Owners: @ellatrix

Removed the border between fields in panel view
  packages/dataviews/src/components/dataform-combined-edit/style.scss
Owners: none

Fix another test
  packages/e2e-tests/plugins/interactive-blocks/directive-on-window/view.js
Owners: @ntwb, @nerrad, @ajitbohra

Fix the remaining tests
  packages/e2e-tests/plugins/interactive-blocks/directive-run/view.js
  packages/e2e-tests/plugins/interactive-blocks/directive-watch/view.js
  packages/e2e-tests/plugins/interactive-blocks/tovdom-islands/view.js
Owners: @ntwb, @nerrad, @ajitbohra

Remove select none rule on post content
  packages/block-library/src/post-content/editor.scss
Owners: @ajitbohra

Simplify code
  packages/components/src/composite/group-label.tsx
  packages/components/src/composite/group.tsx
  packages/components/src/composite/hover.tsx
  packages/components/src/composite/item.tsx
  packages/components/src/composite/row.tsx
  packages/components/src/composite/typeahead.tsx
Owners: @ajitbohra

Improve comment
  packages/components/src/composite/group-label.tsx
  packages/components/src/composite/group.tsx
  packages/components/src/composite/hover.tsx
  packages/components/src/composite/item.tsx
  packages/components/src/composite/row.tsx
  packages/components/src/composite/typeahead.tsx
Owners: @ajitbohra

Apply same fix to the top level Composite too
  packages/components/src/composite/index.tsx
Owners: @ajitbohra

Interactivity API: Update and expand on the interactivity-router docs
  packages/interactivity-router/README.md
Owners: none

Update the inline HTML in the callout
  packages/interactivity-router/README.md
Owners: none

CHANGELOG
  packages/components/CHANGELOG.md
Owners: @ajitbohra

Fix: zoom out mode when switching to code editor
  packages/editor/src/components/zoom-out-toggle/index.js
Owners: none

Customize widgets, edit post: refactor Button usages to new component sizing
  packages/customize-widgets/src/components/error-boundary/index.js
  packages/customize-widgets/src/components/inserter/index.js
  packages/customize-widgets/src/components/welcome-guide/index.js
  packages/edit-post/src/components/back-button/fullscreen-mode-close.js
  packages/edit-post/src/components/init-pattern-modal/index.js
  packages/edit-post/src/components/preferences-modal/enable-custom-fields.js
Owners: none

Update snapshots
  packages/edit-post/src/components/back-button/test/__snapshots__/fullscreen-mode-close.js.snap
  packages/edit-post/src/components/preferences-modal/test/__snapshots__/enable-custom-fields.js.snap
Owners: none

Switch to compact size in the customize widgets welcome guide
  packages/customize-widgets/src/components/welcome-guide/index.js
Owners: none

Remove unused classnames, update snapshots
  packages/customize-widgets/src/components/inserter/index.js
  packages/customize-widgets/src/components/welcome-guide/index.js
  packages/edit-post/src/components/preferences-modal/enable-custom-fields.js
  packages/edit-post/src/components/preferences-modal/test/__snapshots__/enable-custom-fields.js.snap
Owners: none
