Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

Fix: iOS Safari anchor link navigation in mobile Navigation overlay
  packages/block-library/src/navigation/view.js
Labels: [Package] Block library

fix(dataviews): FiltersToggle to handle primary/locked filters visibility
  packages/dataviews/src/components/dataviews-filters/index.tsx
Labels: none

Add initial block
  docs/reference-guides/core-blocks.md
  lib/blocks.php
  packages/block-library/src/index.js
  packages/block-library/src/term-name/block.json
  packages/block-library/src/term-name/edit.js
  packages/block-library/src/term-name/index.js
  packages/block-library/src/term-name/index.php
Labels: [Package] Block library

Rename
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/content.scss
  packages/block-editor/src/components/block-list/use-block-props/index.js
  packages/block-editor/src/store/private-actions.js
  packages/block-editor/src/store/private-selectors.js
  packages/block-editor/src/store/reducer.js
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Block editor, [Package] Editor

Combine useDispatch
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Add tagName attribute
  docs/reference-guides/core-blocks.md
  packages/block-library/src/term-name/block.json
  packages/block-library/src/term-name/edit.js
  packages/block-library/src/term-name/index.php
Labels: [Package] Block library

Fix phpcs
  packages/block-library/src/term-name/index.php
Labels: [Package] Block library

Remove layout from url
  packages/edit-site/src/components/sidebar-dataviews/dataview-item.js
Labels: [Package] Edit Site

Pages Dataviews: Support persistence
  packages/edit-site/src/components/page-templates/index.js
  packages/edit-site/src/components/page-templates/view-utils.js
  packages/edit-site/src/components/post-list/index.js
  packages/edit-site/src/components/post-list/view-utils.js
  packages/edit-site/src/components/posts-app-routes/posts.js
  packages/edit-site/src/components/sidebar-dataviews/default-views.js
  packages/edit-site/src/components/sidebar-dataviews/index.js
  packages/edit-site/src/components/site-editor-routes/pages.js
Labels: [Package] Edit Site

Implement utility functions
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Remove few comments
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Revert "Revert "Fix e2e test""
  packages/editor/src/components/post-template/block-theme.js
Labels: [Package] Editor

Remove ref
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Change button text
  packages/block-editor/src/components/block-allowed-blocks/allowed-blocks-control.js
Labels: [Package] Block editor

Block Comments: Use better locators
  test/e2e/specs/editor/various/block-comments.spec.js
Labels: none

use setAttributes updater function
  packages/block-library/src/terms-query/edit/index.js
Labels: [Package] Block library

Fix e2e tests
  test/e2e/specs/editor/various/pattern-overrides.spec.js
  test/e2e/specs/site-editor/patterns.spec.js
  test/e2e/specs/site-editor/site-editor-url-navigation.spec.js
Labels: none

move usePublicTaxonomies to shared utils file
  packages/block-library/src/terms-query/edit/inspector-controls/index.js
  packages/block-library/src/terms-query/edit/inspector-controls/taxonomy-control.js
  packages/block-library/src/terms-query/utils.js
Labels: [Package] Block library

Add polling to fix flaky test condition
  test/e2e/specs/editor/blocks/navigation.spec.js
Labels: none

taxonomy control single responsibility
  packages/block-library/src/terms-query/edit/inspector-controls/index.js
  packages/block-library/src/terms-query/edit/inspector-controls/taxonomy-control.js
Labels: [Package] Block library

order control single responsibility
  packages/block-library/src/terms-query/edit/inspector-controls/index.js
  packages/block-library/src/terms-query/edit/inspector-controls/order-control.js
  packages/block-library/src/terms-query/edit/inspector-controls/ordering-controls.js
Labels: [Package] Block library

empty terms control single responsibility
  packages/block-library/src/terms-query/edit/inspector-controls/empty-terms-control.js
  packages/block-library/src/terms-query/edit/inspector-controls/index.js
Labels: [Package] Block library

pass onChange directly when possible
  packages/block-library/src/terms-query/edit/inspector-controls/taxonomy-control.js
Labels: [Package] Block library

inherit control single responsibility
  packages/block-library/src/terms-query/edit/inspector-controls/index.js
  packages/block-library/src/terms-query/edit/inspector-controls/inherit-control.js
Labels: [Package] Block library

Use block bindings to dynamically fetch the URL for Navigation Link in the editor and on front end (#71630)
  backport-changelog/6.9/10141.md
  lib/compat/wordpress-6.9/block-bindings.php
  lib/compat/wordpress-6.9/entity-block-bindings.php
  lib/load.php
  packages/block-editor/src/components/link-control/index.js
  packages/block-editor/src/components/link-control/search-input.js
  packages/block-editor/src/components/link-control/style.scss
  packages/block-editor/src/components/link-control/test/index.js
  packages/block-editor/src/components/url-input/index.js
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation-link/link-ui.js
  packages/block-library/src/navigation-link/shared/controls.js
  packages/block-library/src/navigation-link/shared/index.js
  packages/block-library/src/navigation-link/shared/test/controls.js
  packages/block-library/src/navigation-link/shared/test/use-entity-binding.js
  packages/block-library/src/navigation-link/shared/use-entity-binding.js
  packages/block-library/src/navigation-submenu/edit.js
  packages/editor/src/bindings/api.js
  packages/editor/src/bindings/entity.js
  test/e2e/specs/editor/blocks/navigation.spec.js
Labels: [Package] Block editor, [Package] Block library, [Package] Editor

hierarchy control single responsibility
  packages/block-library/src/terms-query/edit/inspector-controls/hierarchy-control.js
  packages/block-library/src/terms-query/edit/inspector-controls/index.js
Labels: [Package] Block library

rename hierarchy control to nested terms control to match empty terms control
  packages/block-library/src/terms-query/edit/inspector-controls/index.js
  packages/block-library/src/terms-query/edit/inspector-controls/nested-terms-control.js
Labels: [Package] Block library

max terms control single responsibility
  packages/block-library/src/terms-query/edit/inspector-controls/index.js
  packages/block-library/src/terms-query/edit/inspector-controls/max-terms-control.js
Labels: [Package] Block library

Testing: Add an e2e test about view persistence to avoid regressions
  test/e2e/specs/site-editor/pages-view-persistence.spec.js
Labels: none

don't repeat labels
  packages/block-library/src/terms-query/edit/inspector-controls/empty-terms-control.js
  packages/block-library/src/terms-query/edit/inspector-controls/index.js
  packages/block-library/src/terms-query/edit/inspector-controls/inherit-control.js
  packages/block-library/src/terms-query/edit/inspector-controls/max-terms-control.js
  packages/block-library/src/terms-query/edit/inspector-controls/nested-terms-control.js
  packages/block-library/src/terms-query/edit/inspector-controls/order-control.js
  packages/block-library/src/terms-query/edit/inspector-controls/taxonomy-control.js
Labels: [Package] Block library

use "value" prop where appropriate
  packages/block-library/src/terms-query/edit/inspector-controls/empty-terms-control.js
  packages/block-library/src/terms-query/edit/inspector-controls/index.js
  packages/block-library/src/terms-query/edit/inspector-controls/inherit-control.js
  packages/block-library/src/terms-query/edit/inspector-controls/max-terms-control.js
  packages/block-library/src/terms-query/edit/inspector-controls/nested-terms-control.js
  packages/block-library/src/terms-query/edit/inspector-controls/taxonomy-control.js
Labels: [Package] Block library

Reorder test setup
  test/e2e/specs/editor/blocks/navigation.spec.js
Labels: none

fix hierarchical=false on front end
  packages/block-library/src/term-template/index.php
Labels: [Package] Block library

Fully clear binding when clearing
  packages/block-editor/README.md
  packages/block-editor/src/utils/block-bindings.js
  packages/block-library/src/navigation-link/shared/use-entity-binding.js
Labels: [Package] Block editor, [Package] Block library

Go with a simpler approach
  packages/block-editor/README.md
  packages/block-editor/src/utils/block-bindings.js
  packages/block-library/src/navigation-link/shared/use-entity-binding.js
Labels: [Package] Block editor, [Package] Block library

Simplify even further
  packages/block-library/src/navigation-link/shared/use-entity-binding.js
Labels: [Package] Block library

Add test coverage
  packages/block-library/src/navigation-link/shared/test/use-entity-binding.js
Labels: [Package] Block library

Add tests for conditional clearBinding and optimize test performance
  packages/block-library/src/navigation-link/shared/test/use-entity-binding.js
Labels: [Package] Block library

Update packages/block-library/src/term-name/block.json
  packages/block-library/src/term-name/block.json
Labels: [Package] Block library

Fix check for specific binding source
  packages/block-library/src/navigation-link/shared/test/use-entity-binding.js
  packages/block-library/src/navigation-link/shared/use-entity-binding.js
Labels: [Package] Block library
