Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

Update comment to refer to actions instead of checkboxes, ensure opacity is set correctly
  packages/dataviews/src/dataviews-layouts/grid/style.scss
Labels: none

Update stories so that the padding of the body doesn't jump when opening popovers
  packages/dataviews/src/components/dataviews/stories/index.story.tsx
Labels: none

Add transition so that it doesn't feel quite as heavy
  packages/dataviews/src/dataviews-layouts/grid/style.scss
Labels: none

Add an explicity is-hovered state to preserve the visibility of the button when popovers are open
  packages/dataviews/src/dataviews-layouts/grid/index.tsx
  packages/dataviews/src/dataviews-layouts/grid/style.scss
Labels: none

Add extra renderedMediaField check
  packages/dataviews/src/dataviews-layouts/grid/index.tsx
Labels: none

Try removing state and using aria-expanded instead
  packages/dataviews/src/dataviews-layouts/grid/index.tsx
  packages/dataviews/src/dataviews-layouts/grid/style.scss
Labels: none

Add tests
  packages/dataviews/src/test/dataviews.tsx
Labels: none

Update classname to be a little more specific
  packages/dataviews/src/dataviews-layouts/grid/index.tsx
  packages/dataviews/src/dataviews-layouts/grid/style.scss
Labels: none

Tidy up some boolean checks
  packages/dataviews/src/dataviews-layouts/grid/index.tsx
Labels: none

Add fields package changelog entry
  packages/fields/CHANGELOG.md
Labels: none

Core Data: Don't return partial data when selecting a complete item
  packages/core-data/src/selectors.ts
Labels: [Package] Core data

Updated CSS for better code readability.
  packages/block-library/src/accordion/style.scss
Labels: [Package] Block library

Accordion Panel: Remove unnecessary wrapper div and simplify save function
  packages/block-library/src/accordion-panel/save.js
Labels: [Package] Block library

Accordion Panel: Remove wrapper div and pass aria prop in blockprops
  packages/block-library/src/accordion-panel/edit.js
Labels: [Package] Block library

Accordion Panel: Remove experimental styling and typographical props
  packages/block-library/src/accordion-panel/edit.js
Labels: [Package] Block library

fix(element): gracefully handle unmatched tags in createInterpolateElement to prevent editor crashes
  packages/element/src/create-interpolate-element.js
  packages/element/src/test/create-interpolate-element.js
Labels: [Package] Element

Add basic integration tests
  packages/core-data/src/test/store.js
Labels: [Package] Core data

fix: Remove the context in interactivity hooks.tsx
  packages/interactivity/src/hooks.tsx
Labels: none

chore: Add changelog entries
  packages/components/CHANGELOG.md
  packages/dataviews/CHANGELOG.md
Labels: [Package] Components

select element support
  lib/class-wp-theme-json-gutenberg.php
Labels: none

changed to add a specific class for select elements so support is opt in
  lib/class-wp-theme-json-gutenberg.php
  packages/block-editor/src/components/global-styles/use-global-styles-output.js
  packages/block-editor/src/elements/index.js
  packages/blocks/src/api/constants.js
Labels: [Package] Block editor, [Package] Blocks

added the selector to the schema
  schemas/json/theme.json
Labels: none

added backport changelog
  backport-changelog/6.9/8961.md
Labels: none

target the element directly instead of using a class
  lib/class-wp-theme-json-gutenberg.php
  packages/block-editor/src/components/global-styles/use-global-styles-output.js
  packages/block-editor/src/elements/index.js
  packages/blocks/src/api/constants.js
Labels: [Package] Block editor, [Package] Blocks

Hide 'Add block' control when Navigation Link block is in contentOnly mode
  packages/block-library/src/navigation-link/link-ui.js
Labels: [Package] Block library

Adjust editing mode check
  packages/block-library/src/navigation-link/link-ui.js
Labels: [Package] Block library

fix/search/border-radius
  packages/block-library/src/search/edit.js
  packages/block-library/src/search/index.php
Labels: [Package] Block library

Move the Styles control to the very top of inspector controls
  packages/block-library/src/term-template/edit.js
Labels: [Package] Block library

fix: Remove CSS from styles.scss related to rtl for accordion block
  packages/block-library/src/accordion/style.scss
Labels: [Package] Block library

Add changelog
  packages/components/CHANGELOG.md
Labels: [Package] Components

Block Editor: Remove duplicate 'InsertionPointOpenRef' context definition
  packages/block-editor/src/components/block-popover/inbetween.js
Labels: [Package] Block editor

handle deletion of empty list items with nested children in merge hook
  packages/block-library/src/list-item/hooks/use-merge.js
Labels: [Package] Block library

lint
  packages/block-library/src/search/index.php
Labels: [Package] Block library

Add key to BlockEdit to avoid remounting
  packages/block-library/src/term-template/edit.js
Labels: [Package] Block library

fix: add color contrast warning for buttons
  packages/block-editor/src/hooks/contrast-checker.js
Labels: [Package] Block editor

refactor: use existing function
  packages/block-editor/src/hooks/contrast-checker.js
Labels: [Package] Block editor

style: update changelog and set proper editor text color for modal content
  packages/components/CHANGELOG.md
  packages/components/src/modal/style.scss
Labels: [Package] Components

chore: remove repeated internal in CHANGELOG
  packages/components/CHANGELOG.md
Labels: [Package] Components

Add test coverage for hook
  packages/compose/src/hooks/use-focus-outside/test/index.js
Labels: [Package] Compose

add textInput to the elements API and implement it to the experimental form block, updated the schema too
  lib/class-wp-theme-json-gutenberg.php
  lib/theme.json
  packages/block-editor/src/components/global-styles/use-global-styles-output.js
  packages/block-editor/src/elements/index.js
  packages/block-library/src/form-input/edit.js
  packages/block-library/src/form-input/save.js
  packages/block-library/src/form-input/style.scss
  packages/blocks/src/api/constants.js
  schemas/json/theme.json
Labels: [Package] Block editor, [Package] Block library, [Package] Blocks
