Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

Update experiment language
  lib/experiments-page.php
Labels: none

Add CRDT persistence support
  packages/core-data/src/actions.js
  packages/sync/src/provider.ts
Labels: [Package] Core data

Fix the undefined type problem with API docgen
  packages/docgen/lib/get-export-entries.js
Labels: [Package] Docgen

Add UndoManager support
  packages/core-data/src/private-selectors.ts
  packages/core-data/src/selectors.ts
  packages/sync/src/provider.ts
  packages/sync/src/undo-manager.ts
  packages/sync/src/y-utilities/LICENSE
  packages/sync/src/y-utilities/y-multidoc-undomanager.js
Labels: [Package] Core data

Update the script dependencies test
  phpunit/script-dependencies-test.php
Labels: none

added comment
  packages/block-library/src/accordion-heading/edit.js
Labels: [Package] Block library

Attempting to fix the build process
  packages/components/tsconfig.json
  tsconfig.base.json
Labels: [Package] Components

Update packages/edit-site/src/components/page-patterns/index.js
  packages/edit-site/src/components/page-patterns/index.js
Labels: [Package] Edit Site

Update packages/edit-site/src/components/page-patterns/index.js
  packages/edit-site/src/components/page-patterns/index.js
Labels: [Package] Edit Site

Navigation: add e2e test for overlay closing on same-page hash links
  test/e2e/specs/editor/blocks/navigation-frontend-interactivity.spec.js
Labels: none

Navigation: remove standalone e2e test - maintainer prefers using existing tests
  test/e2e/specs/editor/blocks/navigation-frontend-interactivity.spec.js
Labels: none

Update packages/edit-site/src/components/page-patterns/index.js
  packages/edit-site/src/components/page-patterns/index.js
Labels: [Package] Edit Site

Update packages/edit-site/src/components/page-patterns/index.js
  packages/edit-site/src/components/page-patterns/index.js
Labels: [Package] Edit Site

Order array by key groups.
  packages/block-editor/src/components/global-styles/get-global-styles-changes.js
Labels: [Package] Block editor

Accordion: add group role and aria-label block support
  docs/reference-guides/core-blocks.md
  packages/block-library/src/accordion/block.json
  packages/block-library/src/accordion/edit.js
  packages/block-library/src/accordion/save.js
Labels: [Package] Block library

Refactor: Move LinkUI components to dedicated /link-ui directory
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation-link/link-ui/block-inserter.js
  packages/block-library/src/navigation-link/link-ui/dialog-wrapper.js
  packages/block-library/src/navigation-link/link-ui/index.js
  packages/block-library/src/navigation-link/link-ui/page-creator.js
  packages/block-library/src/navigation-link/shared/index.js
  packages/block-library/src/navigation-submenu/edit.js
  packages/block-library/src/navigation/edit/menu-inspector-controls.js
Labels: [Package] Block library

Fix linting errors: consolidate duplicate imports and add missing dependencies
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation-submenu/edit.js
Labels: [Package] Block library

Add subtitle and description text
  packages/block-editor/src/components/block-allowed-blocks/modal.js
  packages/block-editor/src/components/block-manager/index.js
  packages/block-editor/src/components/block-manager/style.scss
Labels: [Package] Block editor

Add "Select all" checkbox
  packages/block-editor/src/components/block-allowed-blocks/allowed-blocks-control.js
  packages/block-editor/src/components/block-manager/index.js
  packages/editor/src/components/block-visibility/index.js
Labels: [Package] Block editor, [Package] Editor

Update Block Supports doc
  docs/reference-guides/block-api/block-supports.md
Labels: none

More experiments, still pending some work
  packages/block-editor/src/hooks/block-bindings.js
  packages/editor/src/bindings/post-meta.js
Labels: [Package] Block editor, [Package] Editor

Add a more stable version
  packages/block-editor/src/hooks/block-bindings.js
  packages/editor/src/bindings/post-meta.js
Labels: [Package] Block editor, [Package] Editor

All is working now, still needs some review and tweaks
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/hooks/block-bindings.js
  packages/e2e-tests/plugins/block-bindings/index.js
  test/e2e/specs/editor/various/block-bindings/custom-sources.spec.js
Labels: [Package] Block editor, [Package] E2E Tests

remove not used
  packages/blocks/src/store/reducer.js
Labels: [Package] Blocks

Add editorUI validation and testing
  packages/blocks/src/api/registration.js
  packages/blocks/src/api/test/registration.js
Labels: [Package] Blocks

Update e2e tests
  packages/block-editor/src/hooks/block-bindings.js
  packages/e2e-tests/plugins/block-bindings/index.js
  test/e2e/specs/editor/various/block-bindings/post-meta.spec.js
Labels: [Package] Block editor, [Package] E2E Tests

Add modal e2e test
  packages/e2e-tests/plugins/block-bindings/index.js
  test/e2e/specs/editor/various/block-bindings/custom-sources.spec.js
Labels: [Package] E2E Tests

Works with warnings
  packages/block-editor/src/hooks/block-bindings.js
Labels: [Package] Block editor

Fix post meta not loading, but back to useSelect warning
  packages/block-editor/src/hooks/block-bindings.js
Labels: [Package] Block editor

Need refactor
  packages/block-editor/src/hooks/block-bindings.js
  packages/blocks/src/api/registration.js
  packages/blocks/src/store/private-actions.js
  packages/blocks/src/store/reducer.js
  packages/editor/src/bindings/post-meta.js
Labels: [Package] Block editor, [Package] Blocks, [Package] Editor

Return to edit values
  packages/editor/src/bindings/post-meta.js
Labels: [Package] Editor

Pass update function
  packages/block-editor/src/hooks/block-bindings.js
Labels: [Package] Block editor

Limit post-data only to post-date block
  packages/block-editor/src/hooks/block-bindings.js
  packages/editor/src/bindings/post-data.js
Labels: [Package] Block editor, [Package] Editor

Refactor to simplify the source
  packages/block-editor/src/hooks/block-bindings.js
Labels: [Package] Block editor

Remove extraneous `blockBindingsContext` computation
  packages/block-editor/src/components/rich-text/index.js
Labels: [Package] Block editor

Fix useSelect warning
  packages/block-editor/src/hooks/block-bindings.js
Labels: [Package] Block editor

Put the wrong name on backport
  backport-changelog/6.9/9933.md
Labels: none

Remove temporary format
  packages/blocks/src/api/registration.js
  packages/blocks/src/api/test/registration.js
Labels: [Package] Blocks

Update modal
  packages/block-editor/src/hooks/block-bindings.js
  packages/e2e-tests/plugins/block-bindings/index.js
Labels: [Package] Block editor, [Package] E2E Tests

Fix performance on attribute rendering
  packages/block-editor/src/hooks/block-bindings.js
Labels: [Package] Block editor
