Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

phpcbf
  lib/experimental/block-comments.php
  lib/experimental/class-gutenberg-rest-comment-controller.php
Labels: none

update docs and e2e test.
  packages/fields/README.md
  test/e2e/specs/site-editor/page-list.spec.js
Labels: none

Use YMultiDocUndoManager
  packages/sync/src/provider.ts
  packages/sync/src/undo-manager.ts
  packages/sync/src/y-utilities/LICENSE
  packages/sync/src/y-utilities/y-multidoc-undomanager.js
Labels: none

Simplify origin tracking
  packages/sync/src/provider.ts
  packages/sync/src/undo-manager.ts
Labels: none

Add the clientID and the ignoremotemapchanges back to the undomanager
  packages/sync/src/provider.ts
  packages/sync/src/undo-manager.ts
Labels: none

Remove ignoreRemoteMapChanges override since Y.Text improvements are almost here
  packages/sync/src/undo-manager.ts
Labels: none

Disable adding doc client ID until we have a reproducible use case
  packages/sync/src/undo-manager.ts
Labels: none

Lower captureTimeout changes to 200
  packages/sync/src/undo-manager.ts
Labels: none

Block Comment: Improve comment thread outline
  packages/editor/src/components/collab-sidebar/style.scss
Labels: [Package] Editor

Use v2 for applying the update
  packages/sync/src/provider.ts
Labels: none

Bypass query modifications when parent argument is specified
  lib/experimental/block-comments.php
Labels: none

Switch another one to V2
  packages/sync/src/provider.ts
Labels: none

Time to Read: Simplify edit function
  packages/block-library/src/post-time-to-read/edit.js
Labels: [Package] Block library

Fix: other metadata attributes get stripped when toggling via the toolbar
  packages/block-editor/src/components/block-visibility/toolbar.js
Labels: [Package] Block editor

Show block toolbar button when multiple blocks are selected
  packages/block-editor/src/components/block-toolbar/index.js
  packages/block-editor/src/components/block-visibility/toolbar.js
Labels: [Package] Block editor

Fix incorrect block.json definition
  docs/reference-guides/core-blocks.md
  packages/block-library/src/block/block.json
Labels: [Package] Block library

Apply opacity to hidden and selected blocks
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/content.scss
  packages/block-editor/src/components/block-list/use-block-props/index.js
Labels: [Package] Block editor

Revert "Apply opacity to hidden and selected blocks"
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/content.scss
  packages/block-editor/src/components/block-list/use-block-props/index.js
Labels: [Package] Block editor

Provide blockVilibility metadata to preview context
  packages/block-editor/src/components/block-list/block.js
Labels: [Package] Block editor

don't use promise
  packages/edit-site/src/components/template-save-dialog/index.js
  test/e2e/specs/site-editor/multi-entity-saving.spec.js
Labels: [Package] Edit Site

fix e2e tests
  test/e2e/specs/site-editor/multi-entity-saving.spec.js
  test/e2e/specs/site-editor/pages.spec.js
  test/e2e/specs/site-editor/template-registration.spec.js
Labels: none

Fix in_array
  lib/compat/wordpress-6.9/template-activate.php
Labels: none

Move to an earlier filter
  lib/compat/wordpress-6.9/class-gutenberg-rest-static-templates-controller.php
  lib/compat/wordpress-6.9/template-activate.php
Labels: none

backport
  backport-changelog/6.8/8063.md
Labels: none

Fix static template query
  lib/compat/wordpress-6.9/template-activate.php
Labels: none

Template activation: don't set site option on edit
  packages/core-data/src/actions.js
  packages/edit-site/src/components/layout/index.js
  packages/edit-site/src/components/template-save-dialog/index.js
  packages/editor/src/store/actions.js
Labels: [Package] Core data, [Package] Edit Site, [Package] Editor

Refactor postpublish
  packages/editor/src/components/post-publish-panel/postpublish-next-panel-template.js
  packages/editor/src/components/post-publish-panel/postpublish-next-panel.js
  packages/editor/src/components/post-publish-panel/postpublish-title-panel.js
  packages/editor/src/components/post-publish-panel/postpublish.js
Labels: [Package] Editor

lint
  lib/compat/wordpress-6.9/class-gutenberg-rest-static-templates-controller.php
  lib/compat/wordpress-6.9/template-activate.php
Labels: none

Switch to post-publish panel
  packages/edit-site/src/components/template-save-dialog/index.js
  packages/editor/src/components/post-publish-panel/index.js
  packages/editor/src/components/post-publish-panel/postpublish.js
Labels: [Package] Edit Site, [Package] Editor

Remove activate panel for focused entities
  packages/edit-site/src/components/layout/index.js
  packages/edit-site/src/components/template-save-dialog/index.js
  packages/editor/src/components/post-publish-panel/postpublish.js
  packages/editor/src/components/save-publish-panels/index.js
Labels: [Package] Edit Site, [Package] Editor

Add notice
  packages/editor/src/components/save-publish-panels/index.js
Labels: [Package] Editor

Fix gutenberg_get_registered_block_templates
  lib/compat/wordpress-6.9/template-activate.php
Labels: none

Accordion Header, Accordion Panel: disable blockVisibility support
  docs/reference-guides/core-blocks.md
  packages/block-library/src/accordion-header/block.json
  packages/block-library/src/accordion-panel/block.json
Labels: [Package] Block library

Revert publish panel
  packages/editor/src/components/post-publish-panel/index.js
  packages/editor/src/components/post-publish-panel/postpublish-next-panel-template.js
  packages/editor/src/components/post-publish-panel/postpublish-next-panel.js
  packages/editor/src/components/post-publish-panel/postpublish-title-panel.js
  packages/editor/src/components/post-publish-panel/postpublish.js
Labels: [Package] Editor

Block Comment: Display message when there is no related block
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/style.scss
Labels: [Package] Editor

Fix e2e tests
  test/e2e/specs/site-editor/multi-entity-saving.spec.js
  test/e2e/specs/site-editor/template-registration.spec.js
Labels: none

Use muted variant and weight 500 for message
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Visually hide block
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/content.scss
  packages/block-editor/src/components/block-list/use-block-props/index.js
Labels: [Package] Block editor

update logic
  packages/dataviews/README.md
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/dataforms-layouts/card/index.tsx
  packages/dataviews/src/dataforms-layouts/get-summary-fields.ts
  packages/dataviews/src/dataforms-layouts/panel/index.tsx
  packages/dataviews/src/normalize-form-fields.ts
  packages/dataviews/src/test/normalize-form-fields.ts
  packages/dataviews/src/types.ts
Labels: none

Fix incorrect block editing mode assigned in some cases
  packages/block-editor/src/store/reducer.js
Labels: [Package] Block editor
