Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

try: add an editorial comments column on all posts page
  lib/load.php
Labels: none

Adjust the comments edit screen to properly show block comments
  lib/compat/wordpress-6.9/post-list.php
Labels: none

First pass: add Editorial Comments” screen
  lib/compat/wordpress-6.9/editorial-comments.php
  lib/compat/wordpress-6.9/post-list.php
  lib/load.php
Labels: none

Complete simplified approach
  lib/compat/wordpress-6.9/editorial-comments.php
Labels: none

remove logging
  lib/compat/wordpress-6.9/editorial-comments.php
Labels: none

Fix linting errors
  lib/compat/wordpress-6.9/editorial-comments.php
  lib/compat/wordpress-6.9/post-list.php
Labels: none

Adjust the bulk edit options
  lib/compat/wordpress-6.9/editorial-comments.php
Labels: none

Ensure editorial comments column immediately after comments
  lib/compat/wordpress-6.9/post-list.php
Labels: none

Cleanup
  lib/compat/wordpress-6.9/editorial-comments.php
Labels: none

Simplify approach -> use admin_comment_types_dropdown
  lib/compat/wordpress-6.9/editorial-comments.php
Labels: none

Pull custom event. Per work on core/dialog
  packages/block-library/src/tabs/view.js
Labels: [Package] Block library

Fix: Sync DimensionsTool internal state with external attribute changes
  packages/block-editor/src/components/dimensions-tool/index.js
Labels: [Package] Block editor

Update test
  test/e2e/specs/editor/various/pattern-overrides.spec.js
Labels: none

Block Commenting: Don't show unpinnable sidebar on mobile viewports
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Block Commenting: Change date format depending on comment date
  packages/editor/src/components/collab-sidebar/comment-author-info.js
Labels: [Package] Editor

Regenerate fixtures
  test/integration/fixtures/blocks/core__post-time-to-read.json
Labels: none

Fix PHPCS lint error
  packages/block-library/src/post-time-to-read/index.php
Labels: [Package] Block library

Improve unit tests
  packages/e2e-tests/plugins/interactive-blocks/directive-unique-ids/render.php
  packages/e2e-tests/plugins/interactive-blocks/directive-unique-ids/view.js
  packages/interactivity/src/test/vdom.ts
Labels: [Package] E2E Tests

Export DataViewsPicker from dataviews package
  packages/dataviews/src/index.ts
Labels: none

update changelog
  packages/dataviews/CHANGELOG.md
Labels: none

update with new PR
  packages/dataviews/CHANGELOG.md
Labels: none

Change order of changelog to reflect the timeline
  packages/dataviews/CHANGELOG.md
Labels: none

Replace getBindableAttributes
  packages/block-editor/src/hooks/block-bindings.js
  packages/block-editor/src/utils/block-bindings.js
Labels: [Package] Block editor

Site Editor: Fix the PHP warning for the URL query
  lib/compat/wordpress-6.9/preload.php
Labels: none

Fix preloaded path e2e test
  test/e2e/specs/site-editor/preload.spec.js
Labels: none

Fix creating templates for posts with long slugs
  packages/edit-site/src/components/add-new-template/add-custom-template-modal-content.js
  packages/edit-site/src/components/add-new-template/utils.js
Labels: [Package] Edit Site

Actually expose blockBindingsSupportedAttributes on the client side
  packages/editor/src/components/provider/use-block-editor-settings.js
Labels: [Package] Editor

Replace canBindAttribute
  packages/block-editor/src/components/block-edit/edit.js
  packages/block-editor/src/hooks/block-bindings.js
  packages/block-editor/src/utils/block-bindings.js
Labels: [Package] Block editor

Update the test to edit the link
  test/e2e/specs/editor/various/pattern-overrides.spec.js
Labels: none

Update edit.js
  packages/block-library/src/table-of-contents/edit.js
Labels: [Package] Block library

Update save.js
  packages/block-library/src/table-of-contents/save.js
Labels: [Package] Block library

Updated wrong key
  test/e2e/specs/editor/various/pattern-overrides.spec.js
Labels: none

Get rid of contants and replace regexp with function
  packages/interactivity/src/constants.ts
  packages/interactivity/src/index.ts
  packages/interactivity/src/init.ts
  packages/interactivity/src/vdom.ts
Labels: none

Move test and add invalid chars back
  packages/interactivity/src/test/vdom.ts
  packages/interactivity/src/vdom.ts
Labels: none

Replace canBindBlock
  packages/block-editor/src/components/block-list/use-block-props/index.js
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/utils/block-bindings.js
Labels: [Package] Block editor

Time To Read: Make display as range the default, and allow older blocks to migrate to this setting
  packages/block-library/src/post-time-to-read/block.json
  packages/block-library/src/post-time-to-read/edit.js
Labels: [Package] Block library

update fixtures
  test/integration/fixtures/blocks/core__post-time-to-read.json
Labels: none

More refactoring
  packages/interactivity/src/test/vdom.ts
  packages/interactivity/src/vdom.ts
Labels: none

Rename
  packages/e2e-tests/plugins/interactive-blocks/unique-ids/block.json
  packages/e2e-tests/plugins/interactive-blocks/unique-ids/render.php
  packages/e2e-tests/plugins/interactive-blocks/unique-ids/view.asset.php
  packages/e2e-tests/plugins/interactive-blocks/unique-ids/view.js
  test/e2e/specs/interactivity/unique-ids.spec.ts
Labels: [Package] E2E Tests

Improve comment input labels
  packages/editor/src/components/collab-sidebar/add-comment.js
  packages/editor/src/components/collab-sidebar/comment-form.js
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/index.js
  packages/editor/src/components/collab-sidebar/style.scss
Labels: [Package] Editor

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**
