Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

Update changelog
  packages/icons/CHANGELOG.md
Labels: [Package] Icons

Add spacing presets UI
  lib/block-supports/spacing.php
  lib/class-wp-theme-json-gutenberg.php
  packages/block-editor/src/components/global-styles/get-global-styles-changes.js
  packages/edit-site/src/components/global-styles/screen-layout.js
  packages/edit-site/src/components/global-styles/size-control/index.js
  packages/edit-site/src/components/global-styles/spacing/confirm-delete-spacing-dialog.js
  packages/edit-site/src/components/global-styles/spacing/confirm-reset-spacings-dialog.js
  packages/edit-site/src/components/global-styles/spacing/rename-spacing-dialog.js
  packages/edit-site/src/components/global-styles/spacing/spacing-preview.js
  packages/edit-site/src/components/global-styles/spacing/spacing.js
  packages/edit-site/src/components/global-styles/spacing/spacings-count.js
  packages/edit-site/src/components/global-styles/spacing/spacings.js
  packages/edit-site/src/components/global-styles/spacing/utils.js
  packages/edit-site/src/components/global-styles/style.scss
  packages/edit-site/src/components/global-styles/ui.js
Labels: [Package] Block editor, [Package] Edit Site

prettier
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Badge: Fix styles
  packages/components/src/badge/styles.scss
Labels: [Package] Components

Fix PHPCS errors.
  lib/block-supports/spacing.php
Labels: none

Update comment.
  packages/edit-site/src/components/global-styles/spacing/spacing.js
Labels: [Package] Edit Site

Fix post editor query
  packages/editor/src/components/post-template/hooks.js
Labels: [Package] Editor

Append changelog
  packages/components/CHANGELOG.md
Labels: [Package] Components

handle the case for custom taxonomy with `tag` slug
  packages/block-library/src/terms-query/edit/inspector-controls/index.js
Labels: [Package] Block library

Fix e2e test
  test/e2e/specs/site-editor/template-activate.spec.js
Labels: none

backport
  backport-changelog/6.9/8063.md
Labels: none

minimal nested inheritance support (editor only)
  packages/block-library/src/term-template/block.json
  packages/block-library/src/term-template/edit.js
  packages/block-library/src/terms-query/block.json
  packages/block-library/src/terms-query/edit/inspector-controls/index.js
  packages/block-library/src/terms-query/edit/inspector-controls/inherit-control.js
Labels: [Package] Block library

adjust inherit control label based on context
  packages/block-library/src/terms-query/edit/inspector-controls/index.js
Labels: [Package] Block library

handle front end nesting
  packages/block-library/src/term-template/index.php
Labels: [Package] Block library

reintroduce passing all props to inspector controls
  packages/block-library/src/terms-query/edit/terms-query-content.js
Labels: [Package] Block library

fix merge
  packages/block-library/src/terms-query/block.json
Labels: [Package] Block library

Add tests for crdt and crdt-blocks
  packages/core-data/src/utils/test/crdt-blocks.ts
  packages/core-data/src/utils/test/crdt.ts
Labels: [Package] Core data

Improve CRDT utils with better merge logic
  package-lock.json
  packages/core-data/package.json
  packages/core-data/src/actions.js
  packages/core-data/src/entities.js
  packages/core-data/src/resolvers.js
  packages/core-data/src/sync.ts
  packages/core-data/src/types.ts
  packages/core-data/src/utils/crdt-blocks.ts
  packages/core-data/src/utils/crdt.ts
  packages/sync/README.md
  packages/sync/src/index.ts
  packages/sync/src/manager.ts
  packages/sync/src/types.ts
Labels: [Package] Core data

Update resolver unit test
  packages/core-data/src/test/resolvers.js
Labels: [Package] Core data

Remove unnecessary mocks and improve types of tests
  packages/core-data/src/utils/crdt.ts
  packages/core-data/src/utils/test/crdt-blocks.ts
  packages/core-data/src/utils/test/crdt.ts
Labels: [Package] Core data

Move post type syncConfig to const
  packages/core-data/src/entities.js
Labels: [Package] Core data

Pass current record to syncConfig functions
  packages/sync/src/manager.ts
  packages/sync/src/types.ts
Labels: none

Get type record in resolver and pass through to CRDT utils
  packages/core-data/src/entities.js
  packages/core-data/src/resolvers.js
  packages/core-data/src/test/resolvers.js
  packages/core-data/src/utils/crdt.ts
  packages/core-data/src/utils/test/crdt.ts
  packages/sync/src/manager.ts
  packages/sync/src/types.ts
Labels: [Package] Core data

Add topological sorting to package building in both v1 and v2
  bin/packages/build-v2.mjs
  bin/packages/build.js
  bin/packages/dependency-graph.js
  package-lock.json
  package.json
Labels: none

fit text issue
  packages/block-editor/src/hooks/fit-text.js
Labels: [Package] Block editor

Remove persisted record argument from updateCRDTDoc
  packages/core-data/src/actions.js
  packages/sync/src/manager.ts
  packages/sync/src/types.ts
Labels: [Package] Core data

Remove lib0 as dependency
  package-lock.json
  packages/core-data/package.json
  packages/core-data/src/utils/crdt-blocks.ts
  packages/core-data/src/utils/crdt.ts
Labels: [Package] Core data

Revert "Get type record in resolver and pass through to CRDT utils"
  packages/core-data/src/entities.js
  packages/core-data/src/resolvers.js
  packages/core-data/src/test/resolvers.js
  packages/core-data/src/utils/crdt.ts
  packages/core-data/src/utils/test/crdt.ts
  packages/sync/src/manager.ts
  packages/sync/src/types.ts
Labels: [Package] Core data

Inspect initial record for available fields
  packages/core-data/src/entities.js
  packages/core-data/src/utils/crdt.ts
  packages/core-data/src/utils/test/crdt.ts
  packages/sync/src/manager.ts
  packages/sync/src/types.ts
Labels: [Package] Core data

terms query post inheritance
  packages/block-library/src/term-template/block.json
  packages/block-library/src/term-template/edit.js
  packages/block-library/src/term-template/index.php
  packages/block-library/src/terms-query/block.json
  packages/block-library/src/terms-query/edit/inspector-controls/index.js
  packages/block-library/src/terms-query/edit/inspector-controls/inherit-control.js
Labels: [Package] Block library

indicate why show empty terms is disabled
  packages/block-library/src/terms-query/edit/inspector-controls/index.js
Labels: [Package] Block library

handle post inheritance for single templates
  packages/block-library/src/terms-query/edit/inspector-controls/index.js
Labels: [Package] Block library

remove unnecessary perPage default
  packages/block-library/src/term-template/edit.js
Labels: [Package] Block library

fix inherit control wording
  packages/block-library/src/terms-query/edit/inspector-controls/index.js
Labels: [Package] Block library

use linked term names in variations
  packages/block-library/src/terms-query/variations.js
Labels: [Package] Block library

Move delayedBlockVisibility debounce options out of the component
  packages/block-editor/src/components/block-list/index.js
Labels: [Package] Block editor

Simplify logic
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Notes: Tweak thead style
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/style.scss
Labels: [Package] Editor

just use startsWith
  packages/block-library/src/terms-query/edit/inspector-controls/index.js
Labels: [Package] Block library

Notes: Rename comment type
  lib/experimental/block-comments.php
  lib/experimental/class-gutenberg-rest-comment-controller.php
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/hooks.js
  phpunit/experimental/rest-api-comment-permissions-test.php
  test/e2e/specs/editor/various/block-comments.spec.js
Labels: [Package] Editor

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**
