Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

Style to ensure comments don’t shrink
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/style.scss
Labels: [Package] Editor

Make DataFormLayout spacing customisable
  packages/dataviews/src/dataform-layouts/index.tsx
  packages/dataviews/src/dataform-layouts/normalize-form-fields.ts
  packages/dataviews/src/stories/dataform.story.tsx
  packages/dataviews/src/types/dataform.ts
Labels: none

Update changelog
  packages/dataviews/CHANGELOG.md
Labels: none

Update changelog
  packages/dataviews/CHANGELOG.md
Labels: none

Fix rebasing issues
  packages/dataviews/src/dataform-layouts/index.tsx
Labels: none

Remove spacing from the normalized layouts
  packages/dataviews/src/dataform-layouts/index.tsx
  packages/dataviews/src/dataform-layouts/normalize-form-fields.ts
  packages/dataviews/src/test/normalize-form-fields.ts
  packages/dataviews/src/types/dataform.ts
Labels: none

Remove customisability
  packages/dataviews/src/dataform-layouts/index.tsx
  packages/dataviews/src/dataform-layouts/normalize-form-fields.ts
  packages/dataviews/src/stories/dataform.story.tsx
  packages/dataviews/src/types/dataform.ts
Labels: none

Update test
  packages/dataviews/src/test/normalize-form-fields.ts
Labels: none

Move changelog to the unreleased section
  packages/dataviews/CHANGELOG.md
Labels: none

Post Date: Fix variations for Query Loop
  packages/block-library/src/post-template/edit.js
  packages/block-library/src/query/index.js
  packages/block-library/src/query/variations.js
Labels: [Package] Block library

Notes: Render the sidebar next to the default editor sidebar
  packages/editor/src/components/collab-sidebar/index.js
  packages/editor/src/components/editor/index.js
  packages/editor/src/components/header/index.js
Labels: [Package] Editor

clean up code
  packages/dataviews/src/dataform-layouts/card/index.tsx
  packages/dataviews/src/dataform-layouts/normalize-form-fields.ts
  packages/dataviews/src/stories/dataform.story.tsx
  packages/dataviews/src/test/normalize-form-fields.ts
  packages/dataviews/src/types/dataform.ts
Labels: none

fix unit test
  packages/dataviews/src/test/normalize-form-fields.ts
Labels: none

Fix last e2e test
  packages/edit-site/src/components/global-styles/canvas-link.js
Labels: [Package] Edit Site

Fit text: Remove sizing limitation when the block is selected.
  packages/block-editor/src/hooks/fit-text.js
  packages/block-editor/src/utils/fit-text-utils.js
Labels: [Package] Block editor

lint fixes
  packages/block-editor/src/utils/fit-text-utils.js
Labels: [Package] Block editor

Block Bindings: Add in preview context
  packages/block-editor/src/components/block-list/block.js
Labels: [Package] Block editor

Update packages/block-editor/src/hooks/fit-text.js
  packages/block-editor/src/hooks/fit-text.js
Labels: [Package] Block editor

end to end test updates
  test/e2e/specs/editor/various/change-detection.spec.js
  test/e2e/specs/site-editor/template-registration.spec.js
Labels: none

Remove example in storybook in favor of a setting that can be switched
  packages/dataviews/src/stories/dataform.story.tsx
Labels: none

feat: Add space between header elements
  packages/dataviews/src/dataform-layouts/card/index.tsx
Labels: none

Apply `is-dragging-components-draggable` class changes to the editor iframe's body.
  packages/components/src/draggable/index.tsx
Labels: [Package] Components

Add the native `grabbing` cursor during active drag operations.
  packages/block-editor/src/components/block-mover/style.scss
  packages/block-editor/src/components/list-view/style.scss
  packages/components/src/draggable/index.tsx
Labels: [Package] Block editor, [Package] Components

Improve iframe handling with DRY helper function.
  packages/components/src/draggable/index.tsx
Labels: [Package] Components

Revert "Improve iframe handling with DRY helper function."
  packages/components/src/draggable/index.tsx
Labels: [Package] Components

Add changelog entry.
  packages/components/CHANGELOG.md
Labels: [Package] Components

API reference
  docs/reference-guides/interactivity-api/api-reference.md
Labels: none

PluginSidebar: Fix auto more menu item props
  packages/interface/src/components/complementary-area/index.js
Labels: [Package] Interface

Post Date: Update logic when to show the `edit` control
  packages/block-library/src/post-date/edit.js
  packages/block-library/src/post-date/variations.js
Labels: [Package] Block library

Add source label to the modal title
  packages/block-editor/src/hooks/block-bindings.js
Labels: [Package] Block editor

feedback
  packages/block-library/src/post-date/edit.js
Labels: [Package] Block library

Math: Enable horizontal auto-scrolling
  packages/block-library/src/math/deprecated.js
  packages/block-library/src/math/index.js
  packages/block-library/src/math/save.js
  packages/block-library/src/math/style.scss
  packages/block-library/src/style.scss
  test/integration/fixtures/blocks/core__math.parsed.json
  test/integration/fixtures/blocks/core__math.serialized.html
  test/integration/fixtures/blocks/core__math__deprecated-v1.html
  test/integration/fixtures/blocks/core__math__deprecated-v1.json
  test/integration/fixtures/blocks/core__math__deprecated-v1.parsed.json
  test/integration/fixtures/blocks/core__math__deprecated-v1.serialized.html
Labels: [Package] Block library

Add comment
  packages/block-library/src/math/deprecated.js
Labels: [Package] Block library

Add option to display full comments
  packages/block-library/src/latest-comments/block.json
  packages/block-library/src/latest-comments/edit.js
  packages/block-library/src/latest-comments/index.php
Labels: [Package] Block library

Don't subscribe to store unless fitText option is enabled
  packages/block-editor/src/hooks/fit-text.js
Labels: [Package] Block editor

Add snackbar notices for page creation in Navigation block
  packages/block-library/src/navigation-link/link-ui/page-creator.js
Labels: [Package] Block library

Fix note ordering on new note insertion
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

datetime workaround
  packages/block-editor/src/hooks/block-bindings.js
  packages/editor/src/bindings/post-data.js
Labels: [Package] Block editor, [Package] Editor

Fix nonsense source skip
  packages/block-editor/src/hooks/block-bindings.js
Labels: [Package] Block editor

Try attributes approach
  packages/block-editor/src/hooks/block-bindings.js
  packages/editor/src/bindings/post-data.js
Labels: [Package] Block editor, [Package] Editor

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**
