Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

Move types.ts to types/index.ts
  packages/dataviews/src/types.ts
  packages/dataviews/src/types/index.ts
Labels: none

Remove Data<Item> type.
  packages/dataviews/CHANGELOG.md
  packages/dataviews/src/types.ts
Labels: none

Move private-types to types/private
  packages/dataviews/src/components/dataviews-bulk-actions/index.tsx
  packages/dataviews/src/components/dataviews-context/index.ts
  packages/dataviews/src/components/dataviews-picker/footer.tsx
  packages/dataviews/src/components/dataviews-picker/index.tsx
  packages/dataviews/src/components/dataviews-selection-checkbox/index.tsx
  packages/dataviews/src/components/dataviews/index.tsx
  packages/dataviews/src/dataviews-layouts/grid/index.tsx
  packages/dataviews/src/dataviews-layouts/picker-grid/index.tsx
  packages/dataviews/src/dataviews-layouts/table/index.tsx
  packages/dataviews/src/types.ts
  packages/dataviews/src/types/private.ts
Labels: none

Remove TODOs in code
  lib/compat/wordpress-6.9/entity-block-bindings.php
Labels: none

lint
  backport-changelog/6.9/8063.md
  lib/compat/wordpress-6.9/template-activate.php
Labels: none

Remove comment
  packages/e2e-tests/plugins/server-side-rendered-block.php
Labels: [Package] E2E Tests

Update changelog with PR number
  packages/dataviews/CHANGELOG.md
Labels: none

Add contentRole support to Accordion, Accordion ITem, Accordion Panel
  docs/reference-guides/core-blocks.md
  packages/block-library/src/accordion-item/block.json
  packages/block-library/src/accordion-panel/block.json
  packages/block-library/src/accordion/block.json
  packages/block-library/src/accordion/edit.js
Labels: [Package] Block library

Add e2e test
  test/e2e/specs/site-editor/template-activate.spec.js
Labels: none

Rename to closeModal
  packages/block-editor/src/hooks/block-bindings.js
  packages/e2e-tests/plugins/block-bindings/index.js
Labels: [Package] Block editor, [Package] E2E Tests

fix-accordion-anchor-supports
  docs/reference-guides/core-blocks.md
  packages/block-library/src/accordion/block.json
Labels: [Package] Block library

Template activation: fix /lookup endpoint to use custom resolve fn
  lib/compat/wordpress-6.9/class-gutenberg-rest-old-templates-controller.php
  lib/compat/wordpress-6.9/template-activate.php
Labels: none

Import colors to use gray-300 instead of hardcoding #ddd
  packages/base-styles/_default-custom-properties.scss
Labels: [Package] Base styles

export colors from components as a private api
  packages/components/src/private-apis.ts
  packages/editor/src/components/visual-editor/index.js
Labels: [Package] Components, [Package] Editor

Revert "export colors from components as a private api"
  packages/components/src/private-apis.ts
  packages/editor/src/components/visual-editor/index.js
Labels: [Package] Components, [Package] Editor

Define --wp-editor-canvas-background css var as hardcoded #ddd and use the variable in all locations
  packages/base-styles/_default-custom-properties.scss
  packages/block-editor/src/components/block-canvas/style.scss
  packages/block-editor/src/components/iframe/content.scss
  packages/edit-site/src/components/editor-canvas-container/style.scss
  packages/editor/src/components/visual-editor/index.js
  packages/editor/src/components/visual-editor/style.scss
Labels: [Package] Base styles, [Package] Block editor, [Package] Edit Site, [Package] Editor

Fix changelogs
  packages/components/CHANGELOG.md
  packages/dataviews/CHANGELOG.md
Labels: [Package] Components

Move normalized-form-fields to dataforms-layouts/ where it is used
  packages/dataviews/src/dataforms-layouts/card/index.tsx
  packages/dataviews/src/dataforms-layouts/data-form-layout.tsx
  packages/dataviews/src/dataforms-layouts/normalize-form-fields.ts
  packages/dataviews/src/dataforms-layouts/panel/dropdown.tsx
  packages/dataviews/src/dataforms-layouts/panel/index.tsx
  packages/dataviews/src/dataforms-layouts/panel/modal.tsx
  packages/dataviews/src/dataforms-layouts/regular/index.tsx
  packages/dataviews/src/dataforms-layouts/row/index.tsx
  packages/dataviews/src/test/normalize-form-fields.ts
Labels: none

Rename dataforms-layouts/ to dataform-layout/ for consistency with any other folder in the directory
  packages/dataviews/src/components/dataform/index.tsx
  packages/dataviews/src/dataform-layouts/card/index.tsx
  packages/dataviews/src/dataform-layouts/card/style.scss
  packages/dataviews/src/dataform-layouts/data-form-layout.tsx
  packages/dataviews/src/dataform-layouts/get-summary-fields.ts
  packages/dataviews/src/dataform-layouts/index.tsx
  packages/dataviews/src/dataform-layouts/is-combined-field.ts
  packages/dataviews/src/dataform-layouts/normalize-form-fields.ts
  packages/dataviews/src/dataform-layouts/panel/dropdown.tsx
  packages/dataviews/src/dataform-layouts/panel/index.tsx
  packages/dataviews/src/dataform-layouts/panel/modal.tsx
  packages/dataviews/src/dataform-layouts/panel/style.scss
  packages/dataviews/src/dataform-layouts/panel/summary-button.tsx
  packages/dataviews/src/dataform-layouts/regular/index.tsx
  packages/dataviews/src/dataform-layouts/regular/style.scss
  packages/dataviews/src/dataform-layouts/row/index.tsx
  packages/dataviews/src/dataform-layouts/row/style.scss
  packages/dataviews/src/style.scss
  packages/dataviews/src/test/normalize-form-fields.ts
Labels: none

changelog
  packages/dataviews/CHANGELOG.md
Labels: none

Update lib/experimental/class-custom-wp-posts-list-table.php
  lib/experimental/class-custom-wp-posts-list-table.php
Labels: none

Update lib/experimental/class-custom-wp-posts-list-table.php
  lib/experimental/class-custom-wp-posts-list-table.php
Labels: none

Update lib/experimental/block-comments.php
  lib/experimental/block-comments.php
Labels: none

Update lib/experimental/block-comments.php
  lib/experimental/block-comments.php
Labels: none

Add backport PR info
  backport-changelog/6.9/10141.md
Labels: none

Fix autoformatting breaking changelog
  backport-changelog/6.9/10141.md
Labels: none

Move utils.ts to field-types/utils/render-from-elements.ts
  packages/dataviews/src/field-types/boolean.tsx
  packages/dataviews/src/field-types/color.tsx
  packages/dataviews/src/field-types/date.ts
  packages/dataviews/src/field-types/datetime.tsx
  packages/dataviews/src/field-types/email.tsx
  packages/dataviews/src/field-types/index.tsx
  packages/dataviews/src/field-types/integer.tsx
  packages/dataviews/src/field-types/password.tsx
  packages/dataviews/src/field-types/telephone.tsx
  packages/dataviews/src/field-types/text.tsx
  packages/dataviews/src/field-types/url.tsx
  packages/dataviews/src/field-types/utils/render-from-elements.ts
Labels: none

Fix post template resolution, avoid unbound query
  backport-changelog/6.9/8063.md
  lib/compat/wordpress-6.9/template-activate.php
  packages/core-data/src/private-selectors.ts
Labels: [Package] Core data

Add changelog
  packages/dataviews/CHANGELOG.md
Labels: none

DataForm: disable default empty 'Select item' option when field is required and value selected (use field.isValid.required)
  packages/dataviews/src/dataform-controls/select.tsx
  packages/dataviews/src/types.ts
Labels: none

fix getting taxonomy/term from template slug with special handling from category/tag
  packages/block-library/src/term-template/edit.js
  packages/block-library/src/term-template/index.php
  packages/block-library/src/terms-query/edit/index.js
  packages/block-library/src/terms-query/index.php
Labels: [Package] Block library

First implementation, parallax not working
  lib/compat/wordpress-6.9/block-bindings.php
  packages/block-library/src/cover/block.json
  packages/block-library/src/cover/save.js
Labels: [Package] Block library

Update post-data.js
  packages/editor/src/bindings/post-data.js
Labels: [Package] Editor

Improve e2e test to avoid false positive
  test/e2e/specs/editor/various/post-editor-template-mode.spec.js
Labels: none

Move validation.ts to utils/is-item-valid.ts
  packages/dataviews/src/index.ts
  packages/dataviews/src/stories/dataform.story.tsx
  packages/dataviews/src/test/validation.ts
  packages/dataviews/src/utils/is-item-valid.ts
Labels: none

Move normalize-fields.ts to utils/normalize-fields.ts
  packages/dataviews/src/components/dataform/index.tsx
  packages/dataviews/src/components/dataviews-picker/index.tsx
  packages/dataviews/src/components/dataviews/index.tsx
  packages/dataviews/src/test/normalize-fields.ts
  packages/dataviews/src/utils/filter-sort-and-paginate.ts
  packages/dataviews/src/utils/is-item-valid.ts
  packages/dataviews/src/utils/normalize-fields.ts
Labels: none

Move filter-and-sort-data-view.ts to utils/filter-sort-and-paginate.ts
  packages/dataviews/src/index.ts
  packages/dataviews/src/stories/dataviews-picker.story.tsx
  packages/dataviews/src/stories/dataviews.story.tsx
  packages/dataviews/src/stories/field-types.story.tsx
  packages/dataviews/src/test/dataviews-picker.tsx
  packages/dataviews/src/test/dataviews.tsx
  packages/dataviews/src/test/filter-sort-and-paginate.js
  packages/dataviews/src/utils/filter-sort-and-paginate.ts
Labels: none

Do not export setValueFromId
  packages/dataviews/src/utils/normalize-fields.ts
Labels: none

Remove again the api_version from the tests after wrong conflict resolution
  packages/e2e-tests/plugins/server-side-rendered-block.php
Labels: [Package] E2E Tests

Changelog
  packages/dataviews/CHANGELOG.md
Labels: none
