Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

linting changes
  lib/class-wp-theme-json-gutenberg.php
Labels: none

removed the class and target tags directly
  lib/class-wp-theme-json-gutenberg.php
  packages/block-editor/src/components/global-styles/use-global-styles-output.js
  packages/block-editor/src/elements/index.js
  packages/block-library/src/form-input/edit.js
  packages/block-library/src/form-input/save.js
  packages/blocks/src/api/constants.js
Labels: [Package] Block editor, [Package] Block library, [Package] Blocks

removed duplicated selector
  packages/blocks/src/api/constants.js
Labels: [Package] Blocks

missing typography styles for post comments block
  lib/theme.json
Labels: none

move styles for search block
  lib/theme.json
  packages/block-library/src/search/style.scss
Labels: [Package] Block library

add a color for the borders
  lib/theme.json
Labels: none

linting and moving styles to the specific blocks
  lib/class-wp-theme-json-gutenberg.php
  lib/theme.json
Labels: none

moved styles from blocks into theme.json
  lib/theme.json
  packages/block-library/src/post-comments-form/style.scss
  packages/block-library/src/search/style.scss
Labels: [Package] Block library

backport file
  backport-changelog/6.9/9600.md
Labels: none

Update lib/class-wp-theme-json-gutenberg.php
  lib/class-wp-theme-json-gutenberg.php
Labels: none

added basic styles for the text inputs
  lib/theme.json
  packages/block-library/src/form-input/style.scss
  packages/block-library/src/post-comments-form/style.scss
  packages/block-library/src/search/style.scss
Labels: [Package] Block library

moved styles back to css but with lower specificity
  lib/theme.json
  packages/block-library/src/form-input/style.scss
  packages/block-library/src/post-comments-form/style.scss
  packages/block-library/src/search/style.scss
Labels: [Package] Block library

separate CSS rules to make it work with specificity
  packages/block-library/src/form-input/style.scss
  packages/block-library/src/post-comments-form/style.scss
  packages/block-library/src/search/style.scss
Labels: [Package] Block library

Revert "added basic styles for the text inputs"
  lib/theme.json
  packages/block-library/src/form-input/style.scss
  packages/block-library/src/post-comments-form/style.scss
  packages/block-library/src/search/style.scss
Labels: [Package] Block library

fix commit number
  backport-changelog/6.9/9600.md
Labels: none

format php
  lib/class-wp-theme-json-gutenberg.php
Labels: none

fix: prevent toggle button vertical scrollbar
  packages/block-library/src/accordion/style.scss
Labels: [Package] Block library

Command Palette: Register menu navigation based on Core Menu API
  backport-changelog/6.9/9542.md
  lib/compat/wordpress-6.9/command-palette.php
  packages/core-commands/README.md
  packages/core-commands/src/admin-navigation-commands.js
  packages/core-commands/src/index.js
  test/e2e/specs/site-editor/command-center.spec.js
Labels: none

Release Workflow: Add github.ref validation
  .github/workflows/upload-release-to-plugin-repo.yml
Labels: none

Add page creation functionality to Navigation Link UI
  packages/block-library/src/navigation-link/editor.scss
  packages/block-library/src/navigation-link/link-ui.js
Labels: [Package] Block library

Update icon
  packages/block-library/src/navigation-link/link-ui.js
Labels: [Package] Block library

Fix page creator layout and add cancel button
  packages/block-library/src/navigation-link/editor.scss
  packages/block-library/src/navigation-link/page-creator.js
Labels: [Package] Block library

Refactor page creation flow to use proper WordPress data patterns
  packages/block-library/src/navigation-link/editor.scss
  packages/block-library/src/navigation-link/link-ui.js
  packages/block-library/src/navigation-link/page-creator.js
Labels: [Package] Block library

Navigation Link: Fix focus management in LinkUI back navigation
  packages/block-library/src/navigation-link/link-ui.js
  packages/block-library/src/navigation-link/page-creator.js
Labels: [Package] Block library

Fix page creator layout to match Add block UI exactly
  packages/block-library/src/navigation-link/editor.scss
  packages/block-library/src/navigation-link/page-creator.js
Labels: [Package] Block library

Fix vertical scrollbar in Link UI
  packages/block-library/src/navigation-link/link-ui.js
  packages/block-library/src/navigation-link/style.scss
Labels: [Package] Block library

Add throwOnError option to saveEntityRecord for proper error handling
  packages/block-library/src/navigation-link/page-creator.js
Labels: [Package] Block library

Navigation Link: Add page creation functionality to LinkUI
  packages/block-library/src/navigation-link/editor.scss
  packages/block-library/src/navigation-link/link-ui.js
  packages/block-library/src/navigation-link/page-creator.js
  packages/block-library/src/navigation/constants.js
Labels: [Package] Block library

Use better icon
  packages/block-library/src/navigation-link/link-ui.js
Labels: [Package] Block library

Copy Add block UI back button pattern for page creator
  packages/block-library/src/navigation-link/editor.scss
  packages/block-library/src/navigation-link/page-creator.js
Labels: [Package] Block library

Dramatically simplify page creation flow following data-basics documentation
  packages/block-library/src/navigation-link/page-creator.js
Labels: [Package] Block library

Simplify page creation flow by removing unnecessary hasFinishedSaving
  packages/block-library/src/navigation-link/page-creator.js
Labels: [Package] Block library

Navigation Link: Add automatic focus to PageCreator back button
  packages/block-library/src/navigation-link/page-creator.js
Labels: [Package] Block library

Fix: Update citation markup for HTML validity in pullquote block
  packages/block-library/src/pullquote/block.json
  packages/block-library/src/pullquote/deprecated.js
  packages/block-library/src/pullquote/edit.js
  packages/block-library/src/pullquote/save.js
  packages/block-library/src/pullquote/style.scss
  packages/block-library/src/pullquote/test/__snapshots__/transforms.native.js.snap
  packages/block-library/src/pullquote/test/edit.native.js
  packages/block-library/src/pullquote/test/transforms.native.js
  packages/block-library/src/quote/block.json
  packages/block-library/src/quote/deprecated.js
  packages/block-library/src/quote/edit.js
  packages/block-library/src/quote/save.js
  packages/block-library/src/quote/style.scss
  packages/block-library/src/quote/test/__snapshots__/transforms.native.js.snap
  packages/block-library/src/quote/test/edit.native.js
  packages/block-library/src/quote/test/transforms.native.js
  packages/block-library/src/quote/theme.scss
  test/e2e/specs/editor/blocks/quote.spec.js
  test/integration/fixtures/blocks/core__pullquote.parsed.json
  test/integration/fixtures/blocks/core__quote__style-1.serialized.html
Labels: [Package] Block library

Fix issues introduced by rebase
  packages/block-library/src/navigation-link/link-ui.js
Labels: [Package] Block library

Bump plugin version to 21.6.0-rc.1
  gutenberg.php
  package-lock.json
  package.json
Labels: none

Update Changelog for 21.6.0-rc.1
  changelog.txt
Labels: none

Navigation Link: Change 'Add page' to 'Create page' button text
  packages/block-library/src/navigation-link/link-ui.js
Labels: [Package] Block library

Improve useFocusOutside test with Promise.withResolvers()
  packages/compose/src/hooks/use-focus-outside/test/index.js
Labels: [Package] Compose

Fix Node.js compatibility: replace Promise.withResolvers() with manual deferred pattern
  packages/compose/src/hooks/use-focus-outside/test/index.js
Labels: [Package] Compose
