Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

fix: add non existent checks
  packages/block-library/src/post-featured-image/edit.js
Labels: [Package] Block library

fix: add non existent checks
  packages/block-library/src/post-featured-image/index.php
Labels: [Package] Block library

fix: add caption check for attribute
  packages/block-library/src/post-featured-image/index.php
Labels: [Package] Block library

Port Sites Rest API from https://github.com/WP-API/wp-api-sites-endpoints into experimental features
  lib/experimental/class-wp-rest-site-meta-fields.php
  lib/experimental/class-wp-rest-sites-controller.php
  lib/load.php
  lib/rest-api.php
  phpunit/class-wp-rest-sites-controller-test.php
Labels: none

Update changelog files
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/dataviews/CHANGELOG.md
  packages/dataviews/package.json
Labels: [Package] Components

Refer to the value as blockCommentId
  packages/editor/src/components/collab-sidebar/add-comment.js
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Remove custom playwright util
  packages/e2e-test-utils-playwright/src/editor/open-list-view.ts
  test/e2e/specs/interactivity/instant-search.spec.ts
Labels: none

e2e: Resttore original posts_per_page setting
  test/e2e/specs/interactivity/instant-search.spec.ts
Labels: none

e2e: Use accesible selector
  test/e2e/specs/interactivity/instant-search.spec.ts
Labels: none

Implement add/remove row
  packages/dataviews/src/dataform-controls/table.tsx
Labels: none

Validation story
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/validation.ts
Labels: none

Provide styles for nested data
  packages/dataviews/src/components/dataviews/style.scss
  packages/dataviews/src/field-types/stories/index.story.tsx
Labels: none

Better descriptions
  packages/dataviews/src/dataform-controls/table.tsx
Labels: none

Update examples: panel
  packages/dataviews/src/components/dataform/stories/index.story.tsx
Labels: none

Add story about dynamic data
  packages/dataviews/src/components/dataform/stories/index.story.tsx
Labels: none

Bootstrap nested fields
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/dataform-controls/array-table.tsx
  packages/dataviews/src/dataform-controls/index.tsx
  packages/dataviews/src/field-types/array.tsx
  packages/dataviews/src/normalize-fields.ts
  packages/dataviews/src/types.ts
Labels: none

Update validation story
  packages/dataviews/src/components/dataform/stories/index.story.tsx
Labels: none

Update claude implementation
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/dataform-controls/index.tsx
  packages/dataviews/src/dataform-controls/table.tsx
  packages/dataviews/src/types.ts
Labels: none

Add validation story for array with children
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/validation.ts
Labels: none

Separate string and object implementation of array field type definition
  packages/dataviews/src/dataform-controls/table.tsx
  packages/dataviews/src/field-types/array.tsx
  packages/dataviews/src/field-types/index.tsx
  packages/dataviews/src/normalize-fields.ts
  packages/dataviews/src/types.ts
  packages/dataviews/src/validation.ts
Labels: none

DataViews: array type renders as UL
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/dataform-controls/table.tsx
  packages/dataviews/src/field-types/array.tsx
  packages/dataviews/src/field-types/stories/index.story.tsx
Labels: none

Document children prop
  packages/dataviews/README.md
  packages/dataviews/src/types.ts
Labels: none

Enable delete/add actions to be disabled and modify its labels
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/dataform-controls/table.tsx
  packages/dataviews/src/types.ts
Labels: none

Add reset button for the background image control.
  packages/block-editor/src/components/background-image-control/index.js
  packages/block-editor/src/components/background-image-control/style.scss
Labels: [Package] Block editor

Refactor all E2E tests
  test/e2e/specs/interactivity/instant-search.spec.ts
Labels: none

Stabilize feature
  lib/experimental/editor-settings.php
  lib/experiments-page.php
  packages/block-library/src/search/edit.js
  packages/block-library/src/search/index.js
Labels: [Package] Block library

Remove unnecessary changes
  packages/e2e-test-utils-playwright/src/editor/index.ts
Labels: none

Stabilize feature
  lib/experimental/blocks.php
  packages/block-library/src/search/index.php
  test/e2e/specs/interactivity/instant-search.spec.ts
Labels: [Package] Block library

Revert "Stabilize feature"
  lib/experimental/blocks.php
  packages/block-library/src/search/index.php
  test/e2e/specs/interactivity/instant-search.spec.ts
Labels: [Package] Block library

Revert "Stabilize feature"
  lib/experimental/editor-settings.php
  lib/experiments-page.php
  packages/block-library/src/search/edit.js
  packages/block-library/src/search/index.js
Labels: [Package] Block library

Split style per component
  packages/dataviews/src/dataform-controls/date.scss
  packages/dataviews/src/dataform-controls/datetime.scss
  packages/dataviews/src/dataform-controls/relative-date-control.scss
  packages/dataviews/src/dataform-controls/style.scss
Labels: none

Add table styles
  packages/dataviews/src/dataform-controls/style.scss
  packages/dataviews/src/dataform-controls/table.scss
Labels: none

Remove slashes from a URL string
  packages/block-library/src/search/index.php
Labels: [Package] Block library

Remove restapi.php
  lib/compat/wordpress-6.9/rest-api.php
Labels: none

Remove bootstrap changes
  phpunit/bootstrap.php
Labels: none

Revoke old restapi file
  lib/compat/wordpress-6.9/rest-api.php
Labels: none

Post Editor: Add the back button animation similar to the site editor
  packages/edit-post/src/components/back-button/fullscreen-mode-close.js
  packages/edit-post/src/components/back-button/style.scss
Labels: [Package] Edit Post

Debounce input event
  packages/block-library/src/search/view.js
Labels: [Package] Block library

Remove key prop from Comments component
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Revert "Remove key prop from Comments component"
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**
