Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

Better summaries
  packages/dataviews/src/components/dataform/stories/index.story.tsx
Labels: none

Extract simple suffic component
  packages/block-editor/src/components/link-control/index.js
Labels: [Package] Block editor

Initial commit
  docs/reference-guides/block-api/block-bindings.md
  lib/compat/wordpress-6.9/block-bindings.php
  lib/compat/wordpress-6.9/entity-block-bindings.php
  lib/load.php
  packages/block-editor/src/components/link-control/index.js
  packages/block-editor/src/components/link-control/search-input.js
  packages/block-editor/src/components/link-control/test/index.js
  packages/block-editor/src/components/url-input/index.js
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation-link/link-ui/index.js
  packages/block-library/src/navigation-link/shared/controls.js
  packages/editor/src/bindings/api.js
  packages/editor/src/bindings/entity.js
Labels: [Package] Block editor, [Package] Block library, [Package] Editor

Improve help text as per https://github.com/WordPress/gutenberg/pull/71630\#discussion_r2397328702
  packages/block-editor/src/components/link-control/search-input.js
  packages/block-editor/src/components/link-control/test/index.js
  packages/block-library/src/navigation-link/shared/controls.js
Labels: [Package] Block editor, [Package] Block library

Post rebase fixes
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation-link/shared/controls.js
Labels: [Package] Block library

URLInput: Remove unused ariaDescribedBy prop
  packages/block-editor/src/components/url-input/index.js
Labels: [Package] Block editor

Extract simple component for help text and add tests
  packages/block-library/src/navigation-link/shared/controls.js
  packages/block-library/src/navigation-link/shared/test/controls.js
Labels: [Package] Block library

LinkControl: Add accessibility association for unlink button
  packages/block-editor/src/components/link-control/index.js
  packages/block-editor/src/components/link-control/style.scss
  packages/block-editor/src/components/link-control/test/index.js
Labels: [Package] Block editor

Improve tests to provide coverage for a11y relationship between unsync button and input
  test/e2e/specs/editor/blocks/navigation.spec.js
Labels: none

Implement a11y fixes as per https://github.com/WordPress/gutenberg/pull/71630/files\#r2398999057
  packages/block-library/src/navigation-link/shared/controls.js
  test/e2e/specs/editor/blocks/navigation.spec.js
Labels: [Package] Block library

LinkControl: Clean up URLInput and SearchInput components
  packages/block-editor/src/components/link-control/search-input.js
  packages/block-editor/src/components/url-input/index.js
Labels: [Package] Block editor

Test unlinking entity
  test/e2e/specs/editor/blocks/navigation.spec.js
Labels: none

Initial e2e test coverage
  test/e2e/specs/editor/blocks/navigation.spec.js
Labels: none

Improve error handling in binding
  packages/editor/src/bindings/entity.js
Labels: [Package] Editor

Improve scope of test
  test/e2e/specs/editor/blocks/navigation.spec.js
Labels: none

Remove erroneous isSelected condition for url binding condition
  packages/block-library/src/navigation-link/edit.js
Labels: [Package] Block library

Accordion Heading: Remove the padding from the heading when it has a background color
  packages/block-library/src/accordion-heading/style.scss
Labels: [Package] Block library

Update changelog
  packages/dataviews/CHANGELOG.md
Labels: none

remove layout key
  docs/reference-guides/core-blocks.md
  packages/block-library/src/accordion-item/block.json
  packages/block-library/src/accordion-panel/block.json
Labels: [Package] Block library

Address modal changes requested, add onClose functionç
  packages/block-editor/src/hooks/block-bindings.js
  packages/e2e-tests/plugins/block-bindings/index.js
Labels: [Package] Block editor, [Package] E2E Tests

Reset data-wp-context
  packages/interactivity/src/directives.tsx
Labels: none

Implement bding in Submenu via shared code paths
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation-link/shared/controls.js
  packages/block-library/src/navigation-link/shared/index.js
  packages/block-library/src/navigation-link/shared/test/controls.js
  packages/block-library/src/navigation-link/shared/test/use-entity-binding.js
  packages/block-library/src/navigation-link/shared/use-entity-binding.js
  packages/block-library/src/navigation-submenu/edit.js
Labels: [Package] Block library

Initial commit
  packages/block-library/src/index.js
  packages/e2e-tests/plugins/server-side-rendered-block.php
  test/e2e/specs/editor/plugins/server-side-rendered-block.spec.js
Labels: [Package] Block library, [Package] E2E Tests

Register Submenu bindings
  docs/reference-guides/block-api/block-bindings.md
  lib/compat/wordpress-6.9/block-bindings.php
Labels: none

Revert bindings docs
  docs/reference-guides/block-api/block-bindings.md
Labels: none

Lint and fix
  lib/compat/wordpress-6.9/block-bindings.php
Labels: none

Use proper JSX for the edit function's loading/error/default states wrapping
  packages/block-library/src/index.js
Labels: [Package] Block library

Apply global styles to the button inside the heading
  packages/block-library/src/accordion-heading/block.json
Labels: [Package] Block library

Properly pass the api version to the client
  lib/compat/wordpress-7.0/php-only-blocks.php
  packages/block-library/src/index.js
Labels: [Package] Block library

DataViews: centralize stories for better visibility
  packages/dataviews/src/stories/dataform.story.tsx
  packages/dataviews/src/stories/dataviews-picker.story.tsx
  packages/dataviews/src/stories/dataviews.fixtures.tsx
  packages/dataviews/src/stories/dataviews.story.tsx
  packages/dataviews/src/stories/dataviews.style.css
  packages/dataviews/src/stories/field-types.story.tsx
Labels: none

Update import for fixtures
  packages/dataviews/src/test/filter-and-sort-data-view.js
Labels: none

Add support for multiple default entries to context
  packages/interactivity/src/directives.tsx
  test/e2e/specs/interactivity/directive-context.spec.ts
Labels: none

Fix bad implemented e2e example
  packages/e2e-tests/plugins/block-bindings/index.js
Labels: [Package] E2E Tests

Use the bootstrapped block type in the client to check the apiVersion
  lib/compat/wordpress-7.0/php-only-blocks.php
  packages/block-library/src/index.js
Labels: [Package] Block library

Add basic e2e tests
  test/e2e/specs/editor/various/allowed-blocks.spec.js
Labels: none

Extract types to types/field-api
  packages/dataviews/src/types.ts
  packages/dataviews/src/types/field-api.ts
Labels: none

Import missing dependencies from field-api
  packages/dataviews/src/types/dataform.ts
  packages/dataviews/src/types/dataviews.ts
Labels: none

Extract types to types/dataviews
  packages/dataviews/src/types.ts
  packages/dataviews/src/types/dataviews.ts
Labels: none

Extract types to types/dataform
  packages/dataviews/src/types.ts
  packages/dataviews/src/types/dataform.ts
Labels: none

Re-export types
  packages/dataviews/src/types.ts
Labels: none
