Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

Remove not needed return
  packages/block-editor/src/hooks/block-bindings.js
Labels: [Package] Block editor

Revert Post Date: Update logic when to show the edit control
  packages/block-library/src/post-date/edit.js
  packages/block-library/src/post-date/variations.js
Labels: [Package] Block library

Don't subscribe in layout hasGlobalPadding if we know it doesn't
  packages/block-editor/src/hooks/layout.js
Labels: [Package] Block editor

Don't subscribe BorderPanel if it's not enabled for that block
  packages/block-editor/src/hooks/border.js
Labels: [Package] Block editor

Don't subscribe ColorEdit if it's not enabled for that block
  packages/block-editor/src/hooks/color.js
Labels: [Package] Block editor

Don't subscribe dimensions panel to store if it's disabled
  packages/block-editor/src/hooks/dimensions.js
Labels: [Package] Block editor

Don't subscribe typography panel to store if it's disabled
  packages/block-editor/src/hooks/typography.js
Labels: [Package] Block editor

Notes: Remove custom 'PluginMoreMenuItem' handler
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Don't subscribe PatternRenameModal to core store unless it's open
  packages/editor/src/components/pattern-rename-modal/index.js
Labels: [Package] Editor

Reset refs when comment updated
  packages/editor/src/components/collab-sidebar/hooks.js
Labels: [Package] Editor

Reselect the new note thread when block selection changes
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Apply readonly
  packages/block-editor/src/hooks/block-bindings.js
  packages/editor/src/bindings/post-data.js
Labels: [Package] Block editor, [Package] Editor

Template activation: fix isActive and isCustom values
  packages/edit-site/src/components/page-templates/index.js
Labels: [Package] Edit Site

Readonly block
  packages/block-editor/src/hooks/block-bindings.js
Labels: [Package] Block editor

Navigation: Add underline to navigation links by default
  lib/theme.json
Labels: none

Don't subscribe PatternDuplicateModal to core store unless it's open
  packages/editor/src/components/pattern-duplicate-modal/index.js
Labels: [Package] Editor

Updates
  packages/block-library/src/tab/controls.js
  packages/block-library/src/tab/index.js
  packages/block-library/src/tab/index.php
  packages/block-library/src/tabs/editor.scss
  packages/block-library/src/tabs/index.js
Labels: [Package] Block library

Try disabling template enhancement output buffer to debug server-timing degradation
  packages/e2e-tests/mu-plugins/server-timing.php
Labels: [Package] E2E Tests

Default iAPI script modules to print in footer
  lib/client-assets.php
Labels: none

Don't mount init pattern modal unless on relevant post type
  packages/edit-post/src/components/init-pattern-modal/index.js
  packages/edit-post/src/components/layout/index.js
Labels: [Package] Edit Post

Combine blockEditorStore subscriptionsn for InbetweenInsertionPointPopover
  packages/block-editor/src/components/block-tools/insertion-point.js
Labels: [Package] Block editor

CHANGES MADE AS ASKED
  packages/block-library/src/latest-comments/deprecated.js
  packages/block-library/src/latest-comments/edit.js
  packages/block-library/src/latest-comments/index.js
  packages/block-library/src/latest-comments/index.php
Labels: [Package] Block library

Combine block-tools subscriptions
  packages/block-editor/src/components/block-tools/index.js
Labels: [Package] Block editor

Real-time collaboration: [pr-72373] Implement CRDT persistence
  lib/experimental/synchronization.php
  packages/core-data/src/entities.js
  packages/core-data/src/resolvers.js
  packages/core-data/src/sync.ts
  packages/core-data/src/test/entities.js
  packages/core-data/src/test/resolvers.js
  packages/core-data/src/utils/crdt.ts
  packages/sync/README.md
  packages/sync/src/config.ts
  packages/sync/src/index.ts
  packages/sync/src/manager.ts
  packages/sync/src/persistence.ts
  packages/sync/src/types.ts
  packages/sync/src/utils.ts
Labels: [Package] Core data

Real-time collaboration: [no-pr] Return original blocks when controlledBlocks represent post content
  packages/block-editor/src/components/provider/use-block-sync.js
Labels: [Package] Block editor

Real-time collaboration: [pr-73332] Add support for syncing post meta
  package-lock.json
  packages/core-data/package.json
  packages/core-data/src/utils/crdt-meta.ts
  packages/core-data/src/utils/crdt.ts
  packages/core-data/src/utils/test/crdt.ts
  packages/core-data/tsconfig.json
Labels: [Package] Core data

Real-time collaboration: [pr-72407] Add UndoManager support for collaborative editing
  packages/core-data/src/entities.js
  packages/core-data/src/private-selectors.ts
  packages/core-data/src/selectors.ts
  packages/core-data/src/types.ts
  packages/sync/src/manager.ts
  packages/sync/src/types.ts
  packages/sync/src/undo-manager.ts
  packages/sync/src/y-utilities/LICENSE
  packages/sync/src/y-utilities/y-multidoc-undomanager.js
Labels: [Package] Core data

Real-time collaboration: [pr-72450] Add typings in core-data for @wordpress__blocks
  packages/core-data/src/utils/crdt-blocks.ts
  packages/core-data/tsconfig.json
  packages/core-data/typings/wordpress__blocks.d.ts
Labels: [Package] Core data

Real-time collaboration: [no-pr] Remove @wordpress/sync from bundled packages
  packages/dependency-extraction-webpack-plugin/lib/util.js
  packages/sync/package.json
Labels: [Package] Dependency Extraction Webpack Plugin

Real-time collaboration: [pr-72437] Add Yjs awareness
  packages/core-data/src/entities.js
  packages/sync/src/manager.ts
  packages/sync/src/types.ts
Labels: [Package] Core data

Real-time collaboration: [no-pr] Add <EditorsPresence> SlotFill
  packages/editor/README.md
  packages/editor/src/components/document-bar/style.scss
  packages/editor/src/components/editors-presence/index.js
  packages/editor/src/components/header/index.js
  packages/editor/src/components/header/style.scss
  packages/editor/src/dataviews/fields/content-preview/content-preview-view.tsx
  packages/editor/src/index.js
Labels: [Package] Editor

Real-time collaboration: [no-pr] Add <BlockCanvasCover> and <VisualEditorOverlay>
  packages/block-editor/README.md
  packages/block-editor/src/components/block-canvas/index.js
  packages/block-editor/src/index.js
  packages/editor/src/components/index.js
  packages/editor/src/index.js
Labels: [Package] Block editor, [Package] Editor

Real-time collaboration: [pr-72326] Allow post-locked-modal to be overridden when collaborative-editing is enabled
  packages/editor/src/components/post-locked-modal/index.js
Labels: [Package] Editor

Updated to private store method that we implemented in core/dialog
  packages/block-library/src/tab/index.php
  packages/block-library/src/tabs/controls.js
  packages/block-library/src/tabs/index.php
  packages/block-library/src/tabs/view.js
Labels: [Package] Block library

Read only better approach
  packages/block-editor/src/hooks/block-bindings.js
  test/e2e/specs/editor/various/block-bindings/post-data.spec.js
Labels: [Package] Block editor

Build: Add a step to auto-register scripts in the build tool, avoiding adhoc code
  bin/packages/build.mjs
  bin/packages/templates/index.php.template
  bin/packages/templates/script-registration.php.template
  bin/packages/templates/script-registry.php.template
  lib/client-assets.php
  packages/edit-post/package.json
  packages/edit-site/package.json
  packages/preferences/package.json
  phpunit/class-override-script-test.php
Labels: [Package] Edit Post, [Package] Edit Site, [Package] Preferences

Styles Canvas: Refactor state and rendering
  packages/edit-site/src/components/editor-canvas-container/index.js
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/global-styles-sidebar/index.js
  packages/edit-site/src/components/global-styles/canvas-link.js
  packages/edit-site/src/components/global-styles/index.js
  packages/edit-site/src/components/global-styles/menu.js
  packages/edit-site/src/components/revisions/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-global-styles/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-main/index.js
  packages/edit-site/src/components/style-book/index.js
  packages/edit-site/src/components/styles-canvas/index.js
  packages/edit-site/src/components/styles-canvas/revisions.js
  packages/edit-site/src/components/styles-canvas/style-book.js
  packages/edit-site/src/components/styles-canvas/style.scss
  packages/edit-site/src/hooks/commands/use-common-commands.js
  packages/edit-site/src/hooks/commands/use-set-command-context.js
  packages/edit-site/src/posts.scss
  packages/edit-site/src/store/private-actions.js
  packages/edit-site/src/store/private-selectors.js
  packages/edit-site/src/store/reducer.js
  packages/edit-site/src/style.scss
Labels: [Package] Edit Site

Refactor useShowBlockTools into the single useSelect in BlockTools
  packages/block-editor/src/components/block-tools/index.js
  packages/block-editor/src/components/block-tools/should-show-block-tools.js
Labels: [Package] Block editor

Fix initial mount of tabs and focusing on first tab richtext
  packages/block-library/src/tab/add-tab-toolbar-control.js
  packages/block-library/src/tab/edit.js
  packages/block-library/src/tabs/edit.js
Labels: [Package] Block library

Cleanup
  packages/block-library/src/tabs/editor.scss
Labels: [Package] Block library

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**
