Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

Apply suggestion from @scruffian
  packages/block-library/src/navigation-link/link-ui/page-creator.js
Labels: [Package] Block library

whitespace
  packages/editor/src/components/collab-sidebar/hooks.js
Labels: [Package] Editor

Add changelog
  packages/components/CHANGELOG.md
Labels: [Package] Components

test(latest-comments): add deprecated v1 migration fixtures for block validation
  test/integration/fixtures/blocks/core__latest-comments__deprecated-v1.html
  test/integration/fixtures/blocks/core__latest-comments__deprecated-v1.json
  test/integration/fixtures/blocks/core__latest-comments__deprecated-v1.serialized.html
Labels: none

Correct changelog
  packages/components/CHANGELOG.md
Labels: [Package] Components

Add 'Iteration' label to PR enforcement workflow
  .github/workflows/enforce-pr-labels.yml
Labels: none

Fix proper label
  .github/workflows/enforce-pr-labels.yml
Labels: none

Replaced dynamic tab label with sprintf, replaced hard coded formats list for withoutInteractiveFormatting.
  packages/block-library/src/tab/tabs-list.js
Labels: [Package] Block library

Modify PR label enforcement to use regex
  .github/workflows/enforce-pr-labels.yml
Labels: none

Make markup render correctly when not focused in tabslist
  packages/block-library/src/tab/tabs-list.js
Labels: [Package] Block library

Add StaticLabel component to TabsList for improved tab label rendering
  packages/block-library/src/tab/tabs-list.js
Labels: [Package] Block library

Template activation: remove fake post type for registered templates
  lib/compat/wordpress-6.9/class-gutenberg-rest-static-templates-controller.php
  lib/compat/wordpress-6.9/preload.php
  lib/compat/wordpress-6.9/template-activate.php
  packages/core-data/src/entities.js
  packages/core-data/src/private-selectors.ts
  packages/core-data/src/resolvers.js
  packages/edit-post/src/components/layout/index.js
  packages/edit-site/src/components/page-templates/fields.js
  packages/edit-site/src/components/page-templates/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-templates-browse/content.js
  packages/editor/src/components/provider/index.js
  packages/editor/src/store/actions.js
  packages/fields/src/actions/duplicate-post.tsx
Labels: [Package] Core data, [Package] Edit Post, [Package] Edit Site, [Package] Editor

fix condition
  packages/block-library/src/breadcrumbs/edit.js
Labels: [Package] Block library

lint and fix preload fixture
  lib/compat/wordpress-6.9/class-gutenberg-rest-static-templates-controller.php
  test/e2e/specs/site-editor/preload.spec.js
Labels: none

Change bin script type-checking from allowlist to denylist
  bin/tsconfig.json
  tsconfig.json
Labels: none

backport log
  backport-changelog/6.9/8063.md
Labels: none

Revert changes to root tsconfig
  tsconfig.json
Labels: none

Add comment explaining exclusion
  bin/tsconfig.json
Labels: none

Restore include pattern
  bin/tsconfig.json
Labels: none

Remove useless config keys
  packages/core-data/src/entities.js
Labels: [Package] Core data

Template activation: remove reset action
  packages/fields/src/actions/reset-post.tsx
Labels: none

Remove type
  packages/fields/src/actions/reset-post.tsx
Labels: none

Template activation: initialise old autosave and revisions endpoints
  lib/compat/wordpress-6.9/template-activate.php
Labels: none

typo
  lib/compat/wordpress-6.9/template-activate.php
Labels: none

Extra spacing/indentation in block.json
  packages/block-library/src/latest-comments/block.json
Labels: [Package] Block library

Fix: Made block in alphabetical order and other changes.
  schemas/json/theme.json
Labels: none

Hide reset where there is technically a value set but it isn't visible because the combobox is expanded.
  packages/components/src/combobox-control/index.tsx
Labels: [Package] Components

Remove `allowReset: false` from ComboboxControl story default args.
  packages/components/src/combobox-control/stories/index.story.tsx
Labels: [Package] Components

Remove outdated test.
  packages/components/src/combobox-control/test/index.tsx
Labels: [Package] Components

Remove value set via props as we're simulating the value picking.
  packages/components/src/combobox-control/test/index.tsx
Labels: [Package] Components

Add test to confirm that resetButton is not in document.
  packages/components/src/combobox-control/test/index.tsx
Labels: [Package] Components

Update tests.
  packages/components/src/combobox-control/test/index.tsx
Labels: [Package] Components

Fix: Force LTR direction in Math block textarea for RTL languages
  packages/block-library/src/math/edit.js
Labels: [Package] Block library

removed unnecessary space/indentation
  packages/block-library/src/latest-comments/edit.js
  packages/block-library/src/latest-comments/index.js
Labels: [Package] Block library

Fix code formatting
  packages/block-library/src/latest-comments/block.json
  packages/block-library/src/latest-comments/deprecated.js
  packages/block-library/src/latest-comments/edit.js
  test/integration/fixtures/blocks/core__latest-comments.json
  test/integration/fixtures/blocks/core__latest-comments__deprecated-v1.json
  test/integration/fixtures/blocks/core__latest-comments__deprecated-v1.parsed.json
  test/integration/fixtures/blocks/core__latest-comments__deprecated-v1.serialized.html
Labels: [Package] Block library

Fix code formatting
  packages/block-library/src/latest-comments/index.php
Labels: [Package] Block library

Update packages/block-library/src/latest-comments/index.php
  packages/block-library/src/latest-comments/index.php
Labels: [Package] Block library

Update packages/block-library/src/latest-comments/deprecated.js
  packages/block-library/src/latest-comments/deprecated.js
Labels: [Package] Block library

Update packages/block-library/src/latest-comments/deprecated.js
  packages/block-library/src/latest-comments/deprecated.js
Labels: [Package] Block library

Update packages/block-library/src/latest-comments/edit.js
  packages/block-library/src/latest-comments/edit.js
Labels: [Package] Block library
