Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

Add unit test to make sure figcaption is kept when not empty
  phpunit/blocks/render-block-image-test.php
Labels: none

WPCS STFU
  packages/block-library/src/image/index.php
Labels: [Package] Block library

Use Reflection to get access to serialize_token() method on WP < 6.9
  packages/block-library/src/image/index.php
Labels: [Package] Block library

:zipper_mouth_face: WPCS
  lib/compat/wordpress-6.9/block-bindings.php
Labels: none

WPCS
  phpunit/blocks/render-block-image-test.php
Labels: none

Excise figcaption
  packages/block-library/src/image/index.php
  phpunit/block-bindings-test.php
  phpunit/blocks/render-block-image-test.php
Labels: [Package] Block library

Typo
  packages/block-library/src/image/index.php
Labels: [Package] Block library

Get tests to pass
  packages/block-library/src/image/index.php
Labels: [Package] Block library

Add unit test coverage for ID override in classname
  phpunit/blocks/render-block-image-test.php
Labels: none

Add test coverage
  phpunit/blocks/render-block-image-test.php
Labels: none

Use Tag Processor
  packages/block-library/src/image/index.php
Labels: [Package] Block library

Consider comments inside of <figcaption> as empty
  packages/block-library/src/image/index.php
Labels: [Package] Block library

Fix WPCS warnings
  packages/block-library/src/image/index.php
Labels: [Package] Block library

Deprecate Pullquote block
  docs/reference-guides/core-blocks.md
  packages/block-library/src/pullquote/block.json
  packages/block-library/src/pullquote/transforms.js
  packages/block-library/src/quote/transforms.js
  test/e2e/specs/editor/blocks/pullquote.spec.js
  test/e2e/specs/editor/blocks/quote.spec.js
Labels: [Package] Block library

Block Visibility: show snackbar when hiding block
  packages/block-editor/src/components/block-visibility/menu-item.js
Labels: [Package] Block editor

Template activation: lock templates to themes
  lib/compat/wordpress-6.9/template-activate.php
  packages/edit-site/src/components/dataviews-actions/index.js
  packages/edit-site/src/components/page-templates/fields.js
  packages/edit-site/src/components/page-templates/index.js
Labels: [Package] Edit Site

Update end-to-end test realated to Pullquote block
  test/e2e/specs/editor/plugins/post-type-locking.spec.js
  test/e2e/specs/site-editor/style-book.spec.js
Labels: none

server side
  lib/compat/wordpress-6.9/template-activate.php
Labels: none

Image block: Conditionally remove empty `<figcaption>` (#71893)
  packages/block-library/src/image/index.php
  phpunit/blocks/render-block-image-test.php
Labels: [Package] Block library

Image block: Rename $p variable to $processor
  packages/block-library/src/image/index.php
Labels: [Package] Block library

export colors from components as a private api
  packages/components/src/private-apis.ts
  packages/editor/src/components/visual-editor/index.js
Labels: [Package] Components, [Package] Editor

Move modal
  packages/block-editor/src/hooks/block-bindings.js
Labels: [Package] Block editor

Remove unnecessary React fragment
  packages/block-editor/src/hooks/block-bindings.js
Labels: [Package] Block editor

Remove another unnessecary React fragment
  packages/block-editor/src/hooks/block-bindings.js
Labels: [Package] Block editor

cleanup
  packages/block-library/src/term-template/edit.js
Labels: [Package] Block library

Revert "export colors from components as a private api"
  packages/components/src/private-apis.ts
  packages/editor/src/components/visual-editor/index.js
Labels: [Package] Components, [Package] Editor

Add missing changelog entries
  packages/interactivity-router/CHANGELOG.md
  packages/interactivity/CHANGELOG.md
Labels: none

Allow mixing of readonly and editable attributes
  packages/block-editor/src/hooks/block-bindings.js
Labels: [Package] Block editor

Show attributes without compatible data as read-only
  packages/block-editor/src/hooks/block-bindings.js
Labels: [Package] Block editor

Remove the link control.
  docs/reference-guides/core-blocks.md
  packages/block-library/src/icon/block.json
  packages/block-library/src/icon/edit.js
  packages/block-library/src/icon/save.js
  packages/block-library/src/icon/style.scss
Labels: [Package] Block library

Styles cleanup
  packages/editor/src/components/collab-sidebar/style.scss
Labels: [Package] Editor

Remove width and height attributes.
  docs/reference-guides/core-blocks.md
  packages/block-library/src/icon/block.json
  packages/block-library/src/icon/components/dimension-control/index.js
  packages/block-library/src/icon/edit.js
  packages/block-library/src/icon/save.js
Labels: [Package] Block library

update story
  packages/dataviews/src/components/dataform/stories/index.story.tsx
Labels: none

improve visibility logic
  packages/dataviews/src/dataforms-layouts/card/index.tsx
Labels: none

normalize summary layout
  packages/dataviews/src/dataforms-layouts/get-summary-fields.ts
  packages/dataviews/src/normalize-form-fields.ts
  packages/dataviews/src/types.ts
Labels: none

fix unit test
  packages/dataviews/src/test/normalize-form-fields.ts
Labels: none

Initial commit
  packages/block-library/src/index.js
  packages/e2e-tests/plugins/server-side-rendered-block.php
  test/e2e/specs/editor/plugins/server-side-rendered-block.spec.js
Labels: [Package] Block library, [Package] E2E Tests

Update mobile app unit tests
  packages/block-editor/src/components/block-toolbar/test/__snapshots__/block-toolbar-menu.native.js.snap
  packages/block-editor/src/components/block-toolbar/test/block-toolbar-menu.native.js
  packages/block-library/src/heading/test/__snapshots__/transforms.native.js.snap
  packages/block-library/src/heading/test/transforms.native.js
  packages/block-library/src/paragraph/test/__snapshots__/transforms.native.js.snap
  packages/block-library/src/paragraph/test/transforms.native.js
  packages/block-library/src/pullquote/test/__snapshots__/transforms.native.js.snap
  packages/block-library/src/pullquote/test/edit.native.js
  packages/block-library/src/pullquote/test/transforms.native.js
  packages/block-library/src/quote/test/__snapshots__/transforms.native.js.snap
  packages/block-library/src/quote/test/transforms.native.js
Labels: [Package] Block editor, [Package] Block library

Switch to the Server Side Render hook
  packages/block-library/src/index.js
Labels: [Package] Block library

Fix lint and PHP unit test issue
  packages/core-data/src/actions.js
  phpunit/script-dependencies-test.php
Labels: [Package] Core data

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**
