Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

Remove Storybook for now (punt to follow-up)
  packages/theme/src/stories/index.story.tsx
Labels: none

Remove build scripts to bin
  .eslintrc.js
  packages/theme/bin/build-tokens.js
  packages/theme/bin/generate-primitive-tokens/index.ts
  packages/theme/bin/terrazzo-plugin-ds-tokens-docs/index.ts
  packages/theme/bin/terrazzo-plugin-figma-ds-token-manager/index.ts
  packages/theme/bin/terrazzo-plugin-figma-ds-token-manager/lib.ts
  packages/theme/bin/terrazzo-plugin-known-wpds-css-variables/index.ts
  packages/theme/terrazzo.config.ts
  packages/theme/tsconfig.json
Labels: none

Term Name: Decode HTML entities
  packages/block-library/src/term-name/edit.js
Labels: [Package] Block library

Improve code formatting
  packages/block-library/src/categories/index.php
Labels: [Package] Block library

Give the same treatment to dataview grid
  packages/dataviews/src/dataviews-layouts/grid/style.scss
  packages/dataviews/src/dataviews-layouts/picker-grid/style.scss
Labels: none

The title field element could be a button. Add text-align: start; to overwrite the default text alignment.
  packages/dataviews/src/dataviews-layouts/grid/style.scss
  packages/dataviews/src/dataviews-layouts/picker-grid/style.scss
Labels: none

Notes: Add More Menu Item
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Add proper types for getServerState
  packages/interactivity/src/store.ts
  packages/interactivity/src/test/store.ts
  packages/interactivity/src/utils.ts
Labels: none

Terms Query: Add `include` specific terms support
  packages/block-library/src/term-template/edit.js
  packages/block-library/src/term-template/index.php
  packages/block-library/src/terms-query/block.json
  packages/block-library/src/terms-query/edit/inspector-controls/include-control.js
  packages/block-library/src/terms-query/edit/inspector-controls/index.js
Labels: [Package] Block library

update copy
  packages/block-library/src/terms-query/edit/inspector-controls/index.js
Labels: [Package] Block library

do not display `include` if it inherits
  packages/block-library/src/terms-query/edit/inspector-controls/index.js
Labels: [Package] Block library

decode names
  packages/block-library/src/terms-query/edit/inspector-controls/include-control.js
Labels: [Package] Block library

Trigger invalidations in the router
  packages/interactivity-router/src/index.ts
  packages/interactivity/src/index.ts
  packages/interactivity/src/store.ts
  packages/interactivity/src/utils.ts
Labels: none

Fix circular dependency in CustomSelectControl-v2
  packages/components/src/custom-select-control-v2/custom-select.tsx
Labels: [Package] Components

Add additional context test for resetting context
  packages/e2e-tests/plugins/interactive-blocks/get-server-context/render.php
  test/e2e/specs/interactivity/get-sever-context.spec.ts
Labels: [Package] E2E Tests

Add tests for getServerContext types
  packages/interactivity/src/test/store.ts
Labels: none

Update changelog files
  packages/block-library/CHANGELOG.md
  packages/block-library/package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/dataviews/CHANGELOG.md
  packages/dataviews/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/interactivity/CHANGELOG.md
  packages/interactivity/package.json
Labels: [Package] Block library, [Package] Components, [Package] Icons

Fix the context tests
  packages/e2e-tests/plugins/interactive-blocks/get-server-context/view.js
  packages/interactivity/src/directives.tsx
  packages/interactivity/src/scopes.ts
  packages/interactivity/src/store.ts
Labels: [Package] E2E Tests

Add changelog
  packages/interactivity/CHANGELOG.md
Labels: none

Terms Query: Stabilize the block
  docs/reference-guides/core-blocks.md
  packages/block-library/src/index.js
  packages/block-library/src/term-template/block.json
  packages/block-library/src/terms-query/block.json
  test/integration/fixtures/blocks/core__term-template.json
  test/integration/fixtures/blocks/core__terms-query.json
Labels: [Package] Block library

Don't execute type tests
  packages/interactivity/src/test/store.ts
Labels: none

Update ActionModal to support dynamic modal header text based on selected items
  packages/dataviews/README.md
  packages/dataviews/src/components/dataviews-item-actions/index.tsx
  packages/dataviews/src/types/dataviews.ts
Labels: none

fix story
  packages/dataviews/src/stories/dataviews.fixtures.tsx
Labels: none

Build V2: Cleanup v1 build scripts
  bin/packages/build-worker.js
  bin/packages/build.js
  bin/packages/build.mjs
  bin/packages/get-babel-config.js
  bin/packages/get-packages.js
  bin/packages/v2-packages.js
  bin/packages/watch.js
  lib/client-assets.php
  package-lock.json
  package.json
  packages/dependency-extraction-webpack-plugin/lib/util.js
  tools/webpack/packages.js
  tools/webpack/script-modules.js
Labels: [Package] Dependency Extraction Webpack Plugin

Ensure meta boxes are not hidden when legacy (#72220)
  packages/edit-post/src/components/layout/index.js
Labels: [Package] Edit Post

Bump plugin version to 21.8.2
  gutenberg.php
  package-lock.json
  package.json
Labels: none

add changelog
  packages/dataviews/CHANGELOG.md
Labels: none

Terms Query: Small PHP code quality changes
  packages/block-library/src/term-template/index.php
Labels: [Package] Block library

Build V2: Fix DataViews export file
  packages/dataviews/package.json
Labels: none

Update Changelog for 21.8.2
  changelog.txt
Labels: none

Update changelog files
  packages/block-library/CHANGELOG.md
  packages/block-library/package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/dataviews/CHANGELOG.md
  packages/dataviews/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/interactivity/CHANGELOG.md
  packages/interactivity/package.json
Labels: [Package] Block library, [Package] Components, [Package] Icons

Add quick reference to the release docs
  docs/contributors/code/release/plugin-release.md
Labels: none

Block Transforms: In metadata transform, remove check for block bindings support
  packages/block-library/src/utils/get-transformed-metadata.js
Labels: [Package] Block library

Remove `readOnly` option from proxifyState
  packages/interactivity/src/proxies/state.ts
  packages/interactivity/src/proxies/test/state-proxy.ts
Labels: none

fix changelog
  packages/dataviews/CHANGELOG.md
  packages/dataviews/README.md
Labels: none

Fix PHP lint
  packages/e2e-tests/plugins/interactive-blocks/get-server-context/render.php
Labels: [Package] E2E Tests

Cleanup CSS files copy
  bin/packages/build.mjs
  lib/blocks.php
  tools/webpack/blocks.js
  tools/webpack/packages.js
  tools/webpack/shared.js
Labels: none

Fix PHPUnit
  lib/blocks.php
Labels: none

Update packages/dataviews/CHANGELOG.md
  packages/dataviews/CHANGELOG.md
Labels: none

Simplify build scripts and their dependencies
  .github/workflows/end2end-test.yml
  bin/plugin/commands/performance.js
  docs/contributors/code/testing-overview.md
  package.json
  packages/is-shallow-equal/README.md
Labels: [Package] is-shallow-equal
