Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

Assign default query for subterms option
  packages/block-library/src/terms-query/inspector-controls/display-options.js
Labels: [Package] Block library

Add explanation to subterms option
  packages/block-library/src/terms-query/inspector-controls/display-options.js
Labels: [Package] Block library

Add a guard if terms is null
  packages/block-library/src/term-template/edit.js
Labels: [Package] Block library

Add support for subtree on the frontend
  packages/block-library/src/term-template/index.php
Labels: [Package] Block library

Adjust time range calculation and add average speed input
  packages/block-library/src/post-time-to-read/block.json
  packages/block-library/src/post-time-to-read/edit.js
  packages/block-library/src/post-time-to-read/index.php
Labels: [Package] Block library

Regenerate fixtures
  test/integration/fixtures/blocks/core__form__deprecated-v1-custom-value.serialized.html
  test/integration/fixtures/blocks/core__form__deprecated-v1-preset-value.serialized.html
Labels: none

Fix lint
  packages/block-library/src/term-template/index.php
Labels: [Package] Block library

Feedback changes
  docs/reference-guides/data/data-core-block-editor.md
  packages/block-editor/src/components/index.js
  packages/block-editor/src/private-apis.js
  packages/block-editor/src/store/selectors.js
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Block editor, [Package] Editor

add pseudo elements support for textinput elements
  lib/class-wp-theme-json-gutenberg.php
  phpunit/class-wp-theme-json-test.php
Labels: none

Cleanup single use variable
  packages/edit-post/src/components/layout/index.js
Labels: [Package] Edit Post

Hide rectangular focus outline of resize handle
  packages/edit-post/src/components/layout/style.scss
Labels: [Package] Edit Post

Limit pane’s maximum height only when resizable
  packages/edit-post/src/components/layout/index.js
Labels: [Package] Edit Post

Use half of available height as maximum when user height is unset
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/layout/style.scss
Labels: [Package] Edit Post

Try e2e test fix
  test/e2e/specs/editor/plugins/wp-editor-meta-box.spec.js
Labels: none

Remove unecessarunnecessary effect and new api
  docs/reference-guides/data/data-core-block-editor.md
  packages/block-editor/src/store/selectors.js
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Block editor, [Package] Editor

Block Commenting: Use rendered comment content
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/style.scss
Labels: [Package] Editor

Block Commenting: Make buttons in dialogs translatable and clear
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

fix: disable block commenting when postId is not number
  packages/editor/src/components/collab-sidebar/comment-author-info.js
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Make separator sibling of toggle; revise e2e locator
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/layout/style.scss
  test/e2e/specs/editor/plugins/wp-editor-meta-box.spec.js
Labels: [Package] Edit Post

Remove extraneous properties of `enable` prop
  packages/edit-post/src/components/layout/index.js
Labels: [Package] Edit Post

Alternative flow
  packages/edit-site/src/components/dataviews-actions/index.js
  packages/edit-site/src/components/page-templates/assignments-details.js
  packages/edit-site/src/components/page-templates/assignments-view.js
  packages/edit-site/src/components/page-templates/fields.js
  packages/edit-site/src/components/page-templates/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-templates-browse/content.js
  packages/edit-site/src/components/site-editor-routes/templates.js
  packages/fields/src/actions/duplicate-post.tsx
Labels: [Package] Edit Site

Use Badge component, add rename
  packages/dataviews/src/dataviews-layouts/grid/index.tsx
  packages/dataviews/src/types.ts
  packages/edit-site/src/components/page-templates/fields.js
  packages/fields/src/actions/rename-post.tsx
Labels: [Package] Edit Site

Fix perf test
  test/performance/specs/site-editor.spec.js
Labels: none

Migrate to active templates
  lib/compat/wordpress-6.8/template-activate.php
  packages/edit-site/src/components/page-templates/index.js
Labels: [Package] Edit Site

All theme templates are active by default
  packages/edit-site/src/components/page-templates/fields.js
  packages/edit-site/src/components/page-templates/index.js
Labels: [Package] Edit Site

Fix click handler
  packages/edit-site/src/components/page-templates/index.js
Labels: [Package] Edit Site

Fix setting type
  lib/compat/wordpress-6.8/template-activate.php
Labels: none

Add backport log entry
  backport-changelog/6.8/8063.md
Labels: none

Fix preload check
  lib/compat/wordpress-6.8/preload.php
  test/e2e/specs/site-editor/preload.spec.js
Labels: none

Prevent active_templates from being empty
  lib/compat/wordpress-6.8/template-activate.php
  packages/edit-site/src/components/dataviews-actions/index.js
  test/e2e/specs/site-editor/preload.spec.js
  test/e2e/specs/site-editor/template-activate.spec.js
Labels: [Package] Edit Site

Fix some e2e tests
  packages/edit-site/src/components/editor/use-resolve-edited-entity.js
  packages/edit-site/src/components/page-templates/style.scss
  test/e2e/specs/editor/various/pattern-overrides.spec.js
  test/e2e/specs/site-editor/site-editor-url-navigation.spec.js
  test/e2e/specs/site-editor/template-activate.spec.js
Labels: [Package] Edit Site

Add templates php filter so Woo templates show up
  lib/compat/wordpress-6.8/class-gutenberg-rest-static-templates-controller.php
Labels: none

Make sure static template filtering in dataview is active
  packages/edit-site/src/components/page-templates/index.js
Labels: [Package] Edit Site

Include plugin templates in active tab
  packages/edit-site/src/components/page-templates/fields.js
  packages/edit-site/src/components/page-templates/index.js
Labels: [Package] Edit Site

Move to 6.9 folder
  lib/compat/wordpress-6.9/class-gutenberg-rest-static-templates-controller.php
  lib/compat/wordpress-6.9/class-gutenberg-rest-templates-controller.php
  lib/compat/wordpress-6.9/template-activate.php
  lib/load.php
Labels: none

Make sure hook adding terms runs before default hooks
  lib/compat/wordpress-6.9/template-activate.php
Labels: none

Fix DropdownMenu icon width for Firefox
  packages/components/src/dropdown-menu/style.scss
Labels: [Package] Components

Add Edit contents button for unsynced patterns
  packages/block-editor/src/components/block-card/index.js
  packages/block-editor/src/components/block-inspector/edit-contents-button.js
  packages/block-editor/src/components/block-inspector/index.js
  packages/block-editor/src/components/block-inspector/style.scss
Labels: [Package] Block editor

Update derived block editing modes when adding or removing patternName attribute to a block
  packages/block-editor/src/store/reducer.js
Labels: [Package] Block editor

Add patternName and `name` to newly created patterns
  packages/block-editor/src/store/reducer.js
  packages/patterns/src/components/pattern-convert-button.js
Labels: [Package] Block editor
