Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

Add word count icon
  packages/block-library/src/post-time-to-read/variations.js
  packages/icons/src/library/word-count.svg
Labels: [Package] Block library, [Package] Icons

Refactoring with useFloatingThread
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/hooks.js
  packages/editor/src/components/collab-sidebar/index.js
  packages/editor/src/components/collab-sidebar/style.scss
Labels: [Package] Editor

Custom Views: Remove the experiment (#72123)
  lib/experimental/data-views.php
  lib/experimental/editor-settings.php
  lib/experiments-page.php
  lib/load.php
  packages/edit-site/src/components/post-list/index.js
  packages/edit-site/src/components/posts-app-routes/posts.js
  packages/edit-site/src/components/sidebar-dataviews/add-new-view.js
  packages/edit-site/src/components/sidebar-dataviews/custom-dataviews-list.js
  packages/edit-site/src/components/sidebar-dataviews/dataview-item.js
  packages/edit-site/src/components/sidebar-dataviews/index.js
  packages/edit-site/src/components/sidebar-dataviews/style.scss
  packages/edit-site/src/components/site-editor-routes/pages.js
Labels: [Package] Edit Site

Update check icon to be optically balanced. (#72101)
  packages/block-editor/src/components/color-palette/test/__snapshots__/control.js.snap
  packages/icons/CHANGELOG.md
  packages/icons/src/library/check.svg
  platform-docs/docs/create-block/first-block-type.md
Labels: [Package] Block editor, [Package] Icons

Terms Query: Remove some redundant attributes (#72107)
  docs/reference-guides/core-blocks.md
  packages/block-library/src/term-template/block.json
  packages/block-library/src/term-template/index.php
  packages/block-library/src/terms-query/block.json
  packages/block-library/src/terms-query/edit.js
  packages/block-library/src/terms-query/inspector-controls/display-options.js
  packages/block-library/src/terms-query/terms-query-content.js
  packages/editor/src/bindings/term-data.js
  test/integration/fixtures/blocks/core__terms-query.html
  test/integration/fixtures/blocks/core__terms-query.json
  test/integration/fixtures/blocks/core__terms-query.parsed.json
  test/integration/fixtures/blocks/core__terms-query.serialized.html
Labels: [Package] Block library, [Package] Editor

SearchControl: Normalize styles (#72072)
  packages/block-editor/src/components/inserter/style.scss
  packages/components/CHANGELOG.md
  packages/components/src/search-control/index.tsx
  packages/components/src/search-control/styles.ts
  packages/dataviews/CHANGELOG.md
  packages/dataviews/src/components/dataviews-filters/style.scss
Labels: [Package] Block editor, [Package] Components

Create Block: Enable `alias` package installation (#72079)
  packages/create-block/CHANGELOG.md
  packages/create-block/lib/init-package-json.js
Labels: [Package] Create Block

Block Comments: Fix the canvas re-ordering synchronization (#72112)
  packages/editor/src/components/collab-sidebar/hooks.js
Labels: [Package] Editor

Add contentRole support to Accordion, Accordion Item, Accordion Panel (#72052)
  docs/reference-guides/core-blocks.md
  packages/block-library/src/accordion-item/block.json
  packages/block-library/src/accordion-panel/block.json
  packages/block-library/src/accordion/block.json
  packages/block-library/src/accordion/edit.js
Labels: [Package] Block library

Editor Canvas: Fix background color caused by invalid Sass value (#72117)
  packages/base-styles/_default-custom-properties.scss
Labels: [Package] Base styles

Block API: Add block visibility control in the command center (#72154)
  packages/block-editor/src/components/use-block-commands/index.js
Labels: [Package] Block editor

Add polling to fix flaky test condition (#72132)
  test/e2e/specs/editor/blocks/navigation.spec.js
Labels: none

Introduce block support and UI for allowedBlocks (#71986)
  docs/reference-guides/block-api/block-supports.md
  docs/reference-guides/core-blocks.md
  packages/base-styles/_z-index.scss
  packages/block-editor/src/components/block-allowed-blocks/allowed-blocks-control.js
  packages/block-editor/src/components/block-allowed-blocks/index.js
  packages/block-editor/src/components/block-allowed-blocks/modal.js
  packages/block-editor/src/components/block-allowed-blocks/style.scss
  packages/block-editor/src/components/block-manager/index.js
  packages/block-editor/src/components/block-manager/style.scss
  packages/block-editor/src/components/inspector-controls-tabs/advanced-controls-panel.js
  packages/block-editor/src/components/inspector-controls/groups.js
  packages/block-editor/src/hooks/allowed-blocks.js
  packages/block-editor/src/hooks/index.js
  packages/block-editor/src/style.scss
  packages/block-library/src/group/block.json
  packages/editor/src/components/block-visibility/index.js
  packages/editor/src/components/block-visibility/style.scss
  packages/editor/src/components/preferences-modal/index.js
  packages/editor/src/style.scss
  schemas/json/block.json
  test/e2e/specs/editor/various/allowed-blocks.spec.js
Labels: [Package] Base styles, [Package] Block editor, [Package] Block library, [Package] Editor

Hooks Package: Build using esbuild (#72125)
  bin/packages/build-worker-esbuild.js
  bin/packages/build-worker.js
  package-lock.json
  package.json
  packages/hooks/package.json
Labels: [Package] Hooks

Fix: Prevent custom links from creating empty block bindings (#72134)
  packages/block-library/src/navigation-link/shared/test/use-entity-binding.js
  packages/block-library/src/navigation-link/shared/use-entity-binding.js
Labels: [Package] Block library

Block Comments: Use better locators (#72131)
  test/e2e/specs/editor/various/block-comments.spec.js
Labels: none

Remove most uses of `isNavigationMode` in contentOnly logic (#72043)
  packages/block-editor/src/components/block-settings-menu/block-settings-dropdown.js
  packages/block-editor/src/components/block-toolbar/index.js
  packages/block-editor/src/components/block-tools/style.scss
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/store/private-selectors.js
  packages/block-editor/src/store/selectors.js
  packages/block-library/src/site-logo/edit.js
  packages/block-library/src/site-title/edit.js
  test/e2e/specs/editor/various/write-design-mode.spec.js
  test/e2e/specs/site-editor/zoom-out.spec.js
Labels: [Package] Block editor, [Package] Block library

Terms Query: simplify controls and layout (#72121)
  docs/reference-guides/core-blocks.md
  packages/block-library/src/term-template/block.json
  packages/block-library/src/term-template/edit.js
  packages/block-library/src/term-template/index.php
  packages/block-library/src/terms-query/block.json
  packages/block-library/src/terms-query/edit/index.js
  packages/block-library/src/terms-query/edit/inspector-controls/advanced-controls.js
  packages/block-library/src/terms-query/edit/inspector-controls/empty-terms-control.js
  packages/block-library/src/terms-query/edit/inspector-controls/index.js
  packages/block-library/src/terms-query/edit/inspector-controls/inherit-control.js
  packages/block-library/src/terms-query/edit/inspector-controls/max-terms-control.js
  packages/block-library/src/terms-query/edit/inspector-controls/nested-terms-control.js
  packages/block-library/src/terms-query/edit/inspector-controls/order-control.js
  packages/block-library/src/terms-query/edit/inspector-controls/taxonomy-control.js
  packages/block-library/src/terms-query/inspector-controls/display-options.js
  packages/block-library/src/terms-query/inspector-controls/empty-terms-control.js
  packages/block-library/src/terms-query/inspector-controls/hierarchy-control.js
  packages/block-library/src/terms-query/inspector-controls/index.js
  packages/block-library/src/terms-query/inspector-controls/max-terms-control.js
  packages/block-library/src/terms-query/inspector-controls/ordering-controls.js
  packages/block-library/src/terms-query/inspector-controls/taxonomy-control.js
  packages/block-library/src/terms-query/utils.js
Labels: [Package] Block library

Build: Replace webpack bundling with esbuild for packages marked as v2 (#72140)
  bin/packages/build-v2.mjs
  bin/packages/build-worker-esbuild.js
  bin/packages/build-worker.js
  bin/packages/v2-packages.js
  package.json
  tools/webpack/packages.js
Labels: none

Block Comments: Simplify 'Actions' eligibility logic (#72144)
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Template activation: call get_block_templates filter when short-circuiting (#71840)
  backport-changelog/6.9/8063.md
  lib/compat/wordpress-6.9/template-activate.php
Labels: none

Add aspect ratio control for gallery block (#71116) (#72104)
  docs/reference-guides/core-blocks.md
  packages/block-library/src/gallery/block.json
  packages/block-library/src/gallery/edit.js
  test/integration/fixtures/blocks/core__gallery-with-caption.json
  test/integration/fixtures/blocks/core__gallery.json
  test/integration/fixtures/blocks/core__gallery__columns.json
  test/integration/fixtures/blocks/core__gallery__deprecated-7.json
Labels: [Package] Block library

Template activation: allow empty array to be set (#72011)
  backport-changelog/6.9/8063.md
  lib/compat/wordpress-6.9/template-activate.php
  packages/core-data/src/private-selectors.ts
  packages/edit-site/src/components/dataviews-actions/index.js
  packages/editor/src/components/post-template/block-theme.js
Labels: [Package] Core data, [Package] Edit Site, [Package] Editor

Testing: Add an e2e test about view persistence to avoid regressions (#72133)
  test/e2e/specs/site-editor/pages-view-persistence.spec.js
Labels: none

Editor post featured image: Ensure hidden text is hidden when common.css is not loaded (#72149)
  packages/editor/src/components/post-featured-image/style.scss
Labels: [Package] Editor

Dataviews: Delete the isDestructive prop from the actions (#72111)
  packages/dataviews/CHANGELOG.md
  packages/dataviews/README.md
  packages/dataviews/src/components/dataviews-bulk-actions/index.tsx
  packages/dataviews/src/components/dataviews-item-actions/index.tsx
  packages/dataviews/src/components/dataviews-picker/footer.tsx
  packages/dataviews/src/dataviews-layouts/list/index.tsx
  packages/dataviews/src/test/dataviews.tsx
  packages/dataviews/src/types/dataviews.ts
Labels: none

Fix Dataviews ItemClickable when set to false. (#72078)
  packages/dataviews/CHANGELOG.md
  packages/dataviews/src/dataviews-layouts/utils/item-click-wrapper.tsx
Labels: none

Block Comments: Highlight block with new toggleBlockSpotlight private API (#72126)
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/content.scss
  packages/block-editor/src/components/block-list/use-block-props/index.js
  packages/block-editor/src/store/private-actions.js
  packages/block-editor/src/store/private-selectors.js
  packages/block-editor/src/store/reducer.js
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Block editor, [Package] Editor

Block Comments: Avoid focus loss after creating a comment (#72139)
  packages/editor/src/components/collab-sidebar/add-comment.js
  packages/editor/src/components/collab-sidebar/index.js
  packages/editor/src/components/collab-sidebar/utils.js
  test/e2e/specs/editor/various/block-comments.spec.js
Labels: [Package] Editor

Template activation: redirect theme templates urls to wp_registered_template (#72003)
  backport-changelog/6.9/8063.md
  lib/compat/wordpress-6.9/site-editor-redirect.php
  lib/load.php
Labels: none

Collaborative editing: Make syncing a side-concern instead of a replacement for local state (#72114)
  packages/core-data/src/actions.js
  packages/core-data/src/entities.js
  packages/core-data/src/resolvers.js
Labels: [Package] Core data

Block Comments: Always show comment menu item (#72153)
  packages/editor/src/components/collab-sidebar/comment-menu-item.js
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Templates DataViews: Support persistence (#72113)
  packages/edit-site/src/components/page-patterns/header.js
  packages/edit-site/src/components/page-templates/index.js
  packages/edit-site/src/components/page-templates/view-utils.js
  packages/edit-site/src/components/site-editor-routes/templates.js
  packages/router/src/router.tsx
Labels: [Package] Edit Site

Pages Dataviews: Support persistence (#72127)
  packages/edit-site/src/components/page-templates/index.js
  packages/edit-site/src/components/page-templates/view-utils.js
  packages/edit-site/src/components/post-list/index.js
  packages/edit-site/src/components/post-list/view-utils.js
  packages/edit-site/src/components/posts-app-routes/posts.js
  packages/edit-site/src/components/sidebar-dataviews/dataview-item.js
  packages/edit-site/src/components/sidebar-dataviews/default-views.js
  packages/edit-site/src/components/sidebar-dataviews/index.js
  packages/edit-site/src/components/site-editor-routes/pages.js
Labels: [Package] Edit Site

Block Comments: Extract CRUD actions into a separate hook (#72152)
  packages/editor/src/components/collab-sidebar/hooks.js
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Block Comments: Refactor active sidebar tracking (#72177)
  packages/editor/src/components/collab-sidebar/hooks.js
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Bump plugin version to 21.8.0
  gutenberg.php
  package-lock.json
  package.json
Labels: none

DataForm: Add validation to date time field. (#72060)
  packages/dataviews/CHANGELOG.md
  packages/dataviews/src/dataform-controls/datetime.tsx
  packages/dataviews/src/stories/dataform.story.tsx
Labels: none

Template activation: add meta to all newly created templates (#72156)
  backport-changelog/6.9/8063.md
  lib/compat/wordpress-6.9/template-activate.php
Labels: none

Improve entity "sync configs" (#72145)
  packages/core-data/src/actions.js
  packages/core-data/src/entities.js
  packages/core-data/src/resolvers.js
  packages/core-data/src/test/resolvers.js
  packages/core-data/src/utils/crdt.ts
  packages/sync/README.md
  packages/sync/src/config.ts
  packages/sync/src/connect-indexdb.js
  packages/sync/src/index.ts
  packages/sync/src/provider.js
  packages/sync/src/types.ts
Labels: [Package] Core data
