Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

Make modal private
  package-lock.json
  packages/fields/src/fields/featured-image/featured-image-edit.tsx
  packages/media-utils/CHANGELOG.md
  packages/media-utils/README.md
  packages/media-utils/src/components/index.js
  packages/media-utils/src/private-apis.ts
Labels: [Package] Media Utils

add dataviews styles to editor package
  packages/editor/src/style.scss
Labels: [Package] Editor

Add new filter for the new media modal
  packages/block-editor/src/components/inserter/media-tab/media-tab.js
  packages/block-editor/src/components/media-placeholder/index.js
  packages/block-editor/src/components/media-replace-flow/index.js
  packages/block-editor/src/components/media-upload-modal/index.js
  packages/block-editor/src/private-apis.js
  packages/editor/src/dataviews/fields/content-preview/content-preview-view.tsx
  packages/editor/src/hooks/media-upload.js
Labels: [Package] Block editor, [Package] Editor

Try using DataViewsPicker in an updated media modal
  packages/fields/src/fields/featured-image/featured-image-edit.tsx
  packages/media-utils/CHANGELOG.md
  packages/media-utils/README.md
  packages/media-utils/package.json
  packages/media-utils/src/components/index.js
  packages/media-utils/src/components/media-upload-modal/index.tsx
Labels: [Package] Media Utils

Use experiment in FeaturedImageEdit
  packages/fields/src/fields/featured-image/featured-image-edit.tsx
Labels: none

Improve modal style
  packages/media-utils/src/components/media-upload-modal/index.tsx
Labels: [Package] Media Utils

Persist credentials when cherry-picking commits to a release branch
  .github/workflows/cherry-pick-wp-release.yml
Labels: none

Rename styles directory to style-definitions
  packages/style-engine/src/index.ts
  packages/style-engine/src/style-definitions/background/index.ts
  packages/style-engine/src/style-definitions/border/index.ts
  packages/style-engine/src/style-definitions/color/background.ts
  packages/style-engine/src/style-definitions/color/gradient.ts
  packages/style-engine/src/style-definitions/color/index.ts
  packages/style-engine/src/style-definitions/color/text.ts
  packages/style-engine/src/style-definitions/constants.ts
  packages/style-engine/src/style-definitions/dimensions/index.ts
  packages/style-engine/src/style-definitions/index.ts
  packages/style-engine/src/style-definitions/outline/index.ts
  packages/style-engine/src/style-definitions/shadow/index.ts
  packages/style-engine/src/style-definitions/spacing/index.ts
  packages/style-engine/src/style-definitions/spacing/margin.ts
  packages/style-engine/src/style-definitions/spacing/padding.ts
  packages/style-engine/src/style-definitions/test/utils.js
  packages/style-engine/src/style-definitions/typography/index.ts
  packages/style-engine/src/style-definitions/utils.ts
Labels: [Package] Style Engine

Add filter to edit- and customize-widgets
  packages/customize-widgets/src/filters/replace-media-upload.js
  packages/edit-widgets/src/filters/replace-media-upload.js
Labels: [Package] Edit Widgets

Ensure Yjs imports are inside experimental flag check (#72503)
  packages/core-data/src/actions.js
  packages/core-data/src/entities.js
  packages/core-data/src/resolvers.js
  packages/core-data/src/sync.ts
  packages/core-data/src/test/resolvers.js
Labels: [Package] Core data

Post Date block: In deprecation, add check if source is `core/post-data` (#72518)
  packages/block-library/src/post-date/deprecated.js
Labels: [Package] Block library

Improve output buffer for sending server-timing header (#72536)
  lib/compat/wordpress-6.9/command-palette.php
  packages/e2e-tests/mu-plugins/server-timing.php
Labels: [Package] E2E Tests

Notes: Fix the focus transfer issue when switching the sidebars (#72486)
  packages/editor/src/components/collab-sidebar/hooks.js
  packages/editor/src/components/collab-sidebar/index.js
  test/e2e/specs/editor/various/block-comments.spec.js
Labels: [Package] Editor

Notes: Fix the 'glitch' when selecting a note with a missing block (#72516)
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Fix error with display of Heading block style variations in style book. (#72551)
  packages/edit-site/src/components/style-book/index.js
Labels: [Package] Edit Site

Notes: Fix 'View notes' on mobile screens (#72546)
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Update changelog files
  packages/base-styles/CHANGELOG.md
  packages/base-styles/package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
Labels: [Package] Base styles, [Package] Components

Pattern Overrides: Add support for Image caption attribute
  packages/patterns/src/constants.js
Labels: none

Update overrides control message
  packages/patterns/src/components/pattern-overrides-controls.js
Labels: none

Remove check for caption attribute
  packages/patterns/src/components/pattern-overrides-controls.js
Labels: none

docs: Add PHP function prefixing documentation
  docs/contributors/code/build-system-function-prefixing.md
  docs/contributors/code/testing-overview.md
Labels: none

Update test expectations
  packages/block-library/src/navigation/test/menu-items-to-blocks.js
Labels: [Package] Block library

Fix Classic Menu to Navigation Link conversion with entity bindings
  packages/block-library/src/navigation/menu-items-to-blocks.js
  packages/block-library/src/navigation/test/menu-items-to-blocks.js
Labels: [Package] Block library

Use canonical building of bindings
  packages/block-library/src/navigation/menu-items-to-blocks.js
Labels: [Package] Block library

Add edge case coverage for unsupported kinds
  packages/block-library/src/navigation/test/menu-items-to-blocks.js
Labels: [Package] Block library

Remove new editor logic
  packages/block-library/src/term-template/edit.js
  packages/block-library/src/term-template/use-current-term.js
Labels: [Package] Block library

Fix comment false => true
  packages/dataviews/src/types/dataform.ts
Labels: none

Date block: Update block description
  docs/reference-guides/core-blocks.md
  packages/block-library/src/post-date/block.json
Labels: [Package] Block library

whitespace
  packages/editor/src/components/provider/index.js
Labels: [Package] Editor

Update: Disable font size when fit text is enabled and the opposite.
  packages/block-editor/src/hooks/fit-text.js
  packages/block-editor/src/hooks/typography.js
  test/e2e/specs/editor/blocks/fit-text.spec.js
Labels: [Package] Block editor

test improvement
  test/e2e/specs/editor/blocks/fit-text.spec.js
Labels: none

Block Bindings: In source definitions, turn editorUI into component
  packages/block-editor/README.md
  packages/block-editor/src/components/block-bindings/index.js
  packages/block-editor/src/components/index.js
  packages/block-editor/src/hooks/block-bindings.js
  packages/editor/src/bindings/post-data.js
Labels: [Package] Block editor, [Package] Editor

Make work again
  packages/block-editor/src/hooks/block-bindings.js
Labels: [Package] Block editor

Rename class name
  lib/compat/wordpress-6.9/class-gutenberg-rest-comment-controller-6-9.php
Labels: none

Command Palette: Disable site editor navigation commands on Network Admin
  packages/core-commands/src/site-editor-navigation-commands.js
Labels: none

GitHub Actions: Allow writing PRs when auto-cherry-picking
  .github/workflows/cherry-pick-wp-release.yml
Labels: none

Fix taxonomy link validation in Navigation Link block
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation-link/test/use-is-invalid-link.js
  packages/block-library/src/navigation-link/use-is-invalid-link.js
Labels: [Package] Block library

Improve clarity of early returns
  packages/block-library/src/navigation-link/use-is-invalid-link.js
Labels: [Package] Block library

Reuse wp_script_attributes filter for adding data-wp-router-options attribute to script module (#72489)
  backport-changelog/6.9/10324.md
  backport-changelog/6.9/10357.md
  lib/client-assets.php
  lib/compat/wordpress-6.9/client-assets.php
  lib/compat/wordpress-6.9/script-modules.php
  lib/load.php
  packages/e2e-tests/plugins/interactive-blocks.php
Labels: [Package] E2E Tests

Pattern Overrides: Add support for Image `caption` attribute (#72476)
  packages/patterns/src/components/pattern-overrides-controls.js
  packages/patterns/src/constants.js
Labels: none
