Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

proper clean and plosih
  packages/block-editor/src/hooks/fit-text.js
Labels: [Package] Block editor

Remove theme package's style exports
  packages/theme/package.json
Labels: none

remove unnecessary comments
  packages/block-editor/src/hooks/fit-text.js
Labels: [Package] Block editor

Notes: Fix 'Add note' form position
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Implement design as much as possible
  packages/editor/src/components/collab-sidebar/comment-indicator-toolbar.js
  packages/editor/src/components/collab-sidebar/style.scss
Labels: [Package] Editor

wip
  packages/editor/src/components/sidebar/post-summary.js
  packages/editor/src/components/template-type-panel/index.js
Labels: [Package] Editor

Add type to document panel
  packages/editor/src/components/sidebar/post-summary.js
  packages/editor/src/components/template-type-panel/index.js
  packages/editor/src/components/template-type-panel/style.scss
  packages/editor/src/style.scss
Labels: [Package] Editor

Bump plugin version to 22.0.0-rc.1
  gutenberg.php
  package-lock.json
  package.json
Labels: none

Update Changelog for 22.0.0-rc.1
  changelog.txt
Labels: none

Template activation: inserting template through /templates should always result in active template
  lib/compat/wordpress-6.9/template-activate.php
  test/e2e/specs/site-editor/new-templates-list.spec.js
Labels: none

remove core hook
  lib/compat/wordpress-6.9/template-activate.php
Labels: none

Adjust priority
  lib/compat/wordpress-6.9/template-activate.php
Labels: none

Backport
  backport-changelog/6.9/10425.md
  backport-changelog/6.9/10432.md
Labels: none

Fix e2e
  test/e2e/specs/site-editor/save-entity-record-template-compat.spec.js
Labels: none

Template activation: non-database templates cannot be trashed/edited
  packages/fields/src/actions/rename-post.tsx
  packages/fields/src/actions/trash-post.tsx
Labels: none

Add comment
  packages/fields/src/actions/rename-post.tsx
Labels: none

Temporary commit to figure out types
  packages/sync/src/undo-manager.ts
  packages/sync/src/utils.ts
  packages/sync/tsconfig.json
  packages/sync/typings/wordpress__block-editor.d.ts
  packages/sync/typings/wordpress__editor.d.ts
Labels: none

Fix saving
  packages/editor/src/components/post-excerpt/index.js
  packages/editor/src/components/post-excerpt/panel.js
Labels: [Package] Editor

WIP: Explore `mediaRoles` in block config
  lib/compat/wordpress-7.0/blocks.php
  lib/compat/wordpress-7.0/rest-api.php
  lib/load.php
  packages/block-editor/src/components/list-view/use-list-view-images.js
  packages/block-library/src/audio/block.json
  packages/block-library/src/cover/block.json
  packages/block-library/src/image/block.json
  packages/block-library/src/media-text/block.json
  packages/block-library/src/video/block.json
  packages/blocks/src/api/index.js
  packages/blocks/src/api/registration.js
  packages/blocks/src/api/test/utils.js
  packages/blocks/src/api/utils.js
  packages/blocks/src/store/reducer.js
  packages/editor/src/components/post-publish-panel/maybe-upload-media.js
  schemas/json/block.json
Labels: [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Editor

Fix store type
  packages/sync/typings/wordpress__block-editor.d.ts
Labels: none

Do not render button with children
  packages/dataviews/src/dataviews-layouts/list/index.tsx
Labels: none

Log secondary action activity
  packages/dataviews/src/stories/dataviews.fixtures.tsx
Labels: none

Changelog
  packages/dataviews/CHANGELOG.md
Labels: none

Address feedback
  packages/core-data/src/test/resolvers.js
Labels: [Package] Core data

Theme: Add caching for theme color ramp builders
  package-lock.json
  packages/theme/bin/generate-primitive-tokens/index.ts
  packages/theme/package.json
  packages/theme/src/color-ramps/index.ts
  packages/theme/src/color-ramps/lib/find-color-with-constraints.ts
  packages/theme/src/color-ramps/lib/index.ts
  packages/theme/src/color-ramps/stories/index.story.tsx
  packages/theme/src/use-theme-provider-styles.ts
Labels: none

Address the rest of the feedback
  packages/core-data/src/test/resolvers.js
Labels: [Package] Core data

Prevent sync event warning
  packages/e2e-tests/plugins/interactive-blocks/router-styles-wrapper/view.js
Labels: [Package] E2E Tests

Script: Add default linting for ESM & CJS file extension variations
  packages/scripts/CHANGELOG.md
  packages/scripts/scripts/lint-js.js
Labels: [Package] Scripts

Fix lint errors with mjs files
  bin/api-docs/gen-components-docs/get-subcomponent-descriptions.mjs
  bin/dev.mjs
  package-lock.json
  package.json
  packages/wp-build/src/build.mjs
  packages/wp-build/src/wordpress-externals-plugin.mjs
Labels: none

Exempt vertical properties from logical properties enforcement
  .stylelintrc.js
Labels: none

Only add pattern override block control for selected block
  packages/editor/src/hooks/pattern-overrides.js
Labels: [Package] Editor

Don't mount init pattern modal unless on relevant post type
  packages/edit-post/src/components/init-pattern-modal/index.js
  packages/edit-post/src/components/layout/index.js
Labels: [Package] Edit Post

Don't subscribe PatternDuplicateModal to core store unless it's open
  packages/editor/src/components/pattern-duplicate-modal/index.js
Labels: [Package] Editor

Don't subscribe PatternRenameModal to core store unless it's open
  packages/editor/src/components/pattern-rename-modal/index.js
Labels: [Package] Editor

Generate CSS modules dynamic insertion during build
  packages/wp-build/src/build.mjs
  packages/wp-build/src/template-generator.mjs
  packages/wp-build/templates/css-module.cjs.template
  packages/wp-build/templates/css-module.mjs.template
Labels: none

Append style
  packages/wp-build/src/build.mjs
Labels: none

Remove debug code
  packages/wp-build/src/build.mjs
Labels: none

Ensure assignment to object
  packages/wp-build/src/build.mjs
Labels: none

Fix getPhpReplacements reference
  packages/wp-build/src/build.mjs
Labels: none

Avoid returning unused CSS result
  packages/wp-build/src/build.mjs
Labels: none

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**
