Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

Simplify further
  bin/packages/build.mjs
  packages/admin-ui/package.json
Labels: none

Opensidebar changes
  packages/editor/src/components/collab-sidebar/index.js
  packages/editor/src/components/collab-sidebar/style.scss
Labels: [Package] Editor

Bundled packages should expose their styles as public APIs
  packages/admin-ui/package.json
  packages/interface/package.json
Labels: [Package] Interface

Cleanup clearEntity binding code
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation-link/shared/use-entity-binding.js
  packages/block-library/src/navigation-submenu/edit.js
Labels: [Package] Block library

Feedback changes accpted
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Add block and rich text UI
  docs/reference-guides/core-blocks.md
  package-lock.json
  packages/block-library/package.json
  packages/block-library/src/index.js
  packages/block-library/src/math/block.json
  packages/block-library/src/math/edit.js
  packages/block-library/src/math/index.js
  packages/block-library/src/math/init.js
  packages/block-library/src/math/save.js
  packages/format-library/package.json
  packages/format-library/src/math/index.js
  packages/rich-text/src/to-tree.js
Labels: [Package] Block library, [Package] Format library, [Package] Rich text

fix paste
  packages/blocks/src/api/raw-handling/paste-handler.js
Labels: [Package] Blocks

Remove sourced block attr
  packages/block-library/src/math/block.json
  packages/block-library/src/math/save.js
Labels: [Package] Block library

Create mathml with namespace in rich text
  packages/rich-text/src/test/helpers/index.js
  packages/rich-text/src/test/to-dom.js
  packages/rich-text/src/to-dom.js
Labels: [Package] Rich text

Fix paste
  packages/dom/src/phrasing-content.js
  packages/rich-text/src/to-dom.js
Labels: [Package] DOM, [Package] Rich text

Add icon, add latex to math transform on paste
  packages/block-library/src/math/edit.js
  packages/block-library/src/math/index.js
  packages/blocks/src/api/raw-handling/latex-to-math.js
  packages/blocks/src/api/raw-handling/paste-handler.js
  packages/blocks/src/api/raw-handling/test/latex-to-math.js
  packages/format-library/src/math/index.js
  packages/icons/src/library/math.svg
Labels: [Package] Block library, [Package] Blocks, [Package] Format library, [Package] Icons

Fix bug in rich text white space collapsing
  packages/rich-text/src/create.js
Labels: [Package] Rich text

Add fixture
  test/integration/fixtures/blocks/core__math.html
  test/integration/fixtures/blocks/core__math.json
  test/integration/fixtures/blocks/core__math.parsed.json
  test/integration/fixtures/blocks/core__math.serialized.html
Labels: none

Avoid regex
  packages/format-library/src/math/index.js
Labels: [Package] Format library

Use rich text attr
  packages/format-library/src/math/index.js
Labels: [Package] Format library

Fix ref
  package-lock.json
  packages/block-library/src/math/edit.js
Labels: [Package] Block library

Improve UI
  packages/block-library/src/math/edit.js
  packages/blocks/src/api/raw-handling/paste-handler.js
  packages/format-library/src/math/index.js
Labels: [Package] Block library, [Package] Blocks, [Package] Format library

wip
  packages/format-library/src/default-formats.js
  packages/format-library/src/math/index.js
  packages/rich-text/src/to-tree.js
Labels: [Package] Format library, [Package] Rich text

Dynamic import
  docs/manifest.json
  docs/reference-guides/core-blocks.md
  lib/client-assets.php
  package-lock.json
  packages/block-library/package.json
  packages/block-library/src/math/block.json
  packages/block-library/src/math/edit.js
  packages/block-library/src/math/save.js
  packages/block-library/tsconfig.json
  packages/format-library/package.json
  packages/format-library/src/math/index.js
  packages/latex-to-mathml/CHANGELOG.md
  packages/latex-to-mathml/README.md
  packages/latex-to-mathml/package.json
  packages/latex-to-mathml/src/index.ts
  packages/latex-to-mathml/src/loader.ts
  packages/latex-to-mathml/tsconfig.json
  tsconfig.json
Labels: [Package] Block library, [Package] Format library

Allow caret after non-editable element in Safari and FF
  packages/rich-text/src/to-tree.js
Labels: [Package] Rich text

Tweak kses
  lib/mathml-kses.php
Labels: none

Fix some format selection issues
  packages/block-editor/src/components/rich-text/content.scss
  packages/format-library/src/math/index.js
Labels: [Package] Block editor, [Package] Format library

React renders it after all, nvm
  packages/block-library/src/math/edit.js
  packages/block-library/src/math/save.js
Labels: [Package] Block library

Always set block attributes together in one setAttributes call
  packages/block-library/src/math/edit.js
Labels: [Package] Block library

Fix KSES test issue
  phpunit/class-block-fixture-test.php
Labels: none

Handle initial block with latex only
  packages/block-library/src/math/edit.js
Labels: [Package] Block library

Fix kses again
  phpunit/class-block-fixture-test.php
Labels: none

Fix example, improve paste detection
  packages/block-library/src/math/edit.js
  packages/block-library/src/math/index.js
  packages/blocks/src/api/raw-handling/latex-to-math.js
  packages/blocks/src/api/raw-handling/test/latex-to-math.js
Labels: [Package] Block library, [Package] Blocks

Make math in rich text uneditable
  packages/rich-text/src/create.js
  packages/rich-text/src/test/__snapshots__/to-dom.js.snap
  packages/rich-text/src/test/helpers/index.js
  packages/rich-text/src/to-tree.js
Labels: [Package] Rich text

backport
  backport-changelog/6.9/10307.md
  lib/mathml-kses.php
Labels: none

kses
  lib/load.php
  lib/mathml-kses.php
Labels: none

lint
  phpunit/class-block-fixture-test.php
Labels: none

lint
  lib/mathml-kses.php
Labels: none

Fix fixture
  test/integration/fixtures/blocks/core__math.json
Labels: none

Update packages/block-library/src/navigation-link/shared/controls.js
  packages/block-library/src/navigation-link/shared/controls.js
Labels: [Package] Block library

Build V2: Adhoc script to build vendors and remove webpack
  bin/packages/build-vendors.mjs
  package.json
  tools/webpack/development.js
  tools/webpack/packages.js
  tools/webpack/shared.js
  tools/webpack/vendors.js
  webpack.config.js
Labels: none

Block Bindings: Remove spurious attributes from supported-by-6.8 list
  lib/compat/wordpress-6.9/block-bindings.php
Labels: none

Cleanup logs
  package.json
Labels: none

Add backport changelog
  backport-changelog/6.9/10322.md
Labels: none

Improve invalid binding kind
  packages/block-library/src/navigation-link/shared/test/use-entity-binding.js
  packages/block-library/src/navigation-link/shared/use-entity-binding.js
Labels: [Package] Block library

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**
