Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

restore additional changes
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Pin full-length commit SHA for 3rd-party actions
  .github/workflows/end2end-test.yml
  .github/workflows/enforce-pr-labels.yml
Labels: none

Unsupported Block: Dsiable lock, renaming, blockVisibility support
  docs/reference-guides/core-blocks.md
  packages/block-library/src/missing/block.json
Labels: [Package] Block library

cleanup
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/editor/index.js
  packages/editor/src/components/visual-editor/index.js
Labels: [Package] Editor

docblock
  packages/editor/src/components/visual-editor/index.js
Labels: [Package] Editor

Disable Notes in Code Editor
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

fix: notes help text
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Remove note icon
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Shortcut keys for Notes submit
  packages/editor/src/components/collab-sidebar/comment-form.js
Labels: [Package] Editor

Change 'Sidebars' to 'Panels'
  packages/editor/src/components/more-menu/index.js
Labels: [Package] Editor

Use global state instead of context
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/editor/index.js
  packages/editor/src/components/provider/editor-canvas-context.js
  packages/editor/src/components/visual-editor/index.js
  packages/editor/src/store/private-actions.js
  packages/editor/src/store/private-selectors.js
  packages/editor/src/store/reducer.js
Labels: [Package] Editor

Use ref to access iframe element
  packages/editor/src/components/visual-editor/index.js
Labels: [Package] Editor

Update setCanvasMinHeight call placing
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Use default value
  packages/editor/src/components/collab-sidebar/comment-author-info.js
Labels: [Package] Editor

Group primary action in data views and add separator between primary and regular actions
  packages/dataviews/src/components/dataviews-item-actions/index.tsx
Labels: none

Add changelog entry to dataviews
  packages/dataviews/CHANGELOG.md
Labels: none

TextareaControl: Add min-height to textarea
  packages/components/src/textarea-control/styles/textarea-control-styles.ts
Labels: [Package] Components

Used useMemo hook for better optimization
  packages/dataviews/src/components/dataviews-item-actions/index.tsx
Labels: none

CHANGELOG
  packages/components/CHANGELOG.md
Labels: [Package] Components

Better handling of invalid dates
  packages/dataviews/src/components/dataviews-filters/filter.tsx
  packages/dataviews/src/dataform-controls/datetime.tsx
  packages/dataviews/src/field-types/datetime.tsx
  packages/dataviews/src/field-types/utils/parse-date-time.ts
  packages/dataviews/src/stories/field-types.story.tsx
Labels: none

Move logic to NotesSidebarContainer
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Breadcrumbs: Add fallback for posts with no title
  packages/block-library/src/breadcrumbs/index.php
Labels: [Package] Block library

Remove simple vs combined field types
  packages/dataviews/src/dataform-layouts/card/index.tsx
  packages/dataviews/src/dataform-layouts/data-form-layout.tsx
  packages/dataviews/src/dataform-layouts/is-combined-field.ts
  packages/dataviews/src/dataform-layouts/normalize-form.ts
  packages/dataviews/src/dataform-layouts/panel/dropdown.tsx
  packages/dataviews/src/dataform-layouts/panel/index.tsx
  packages/dataviews/src/dataform-layouts/panel/modal.tsx
  packages/dataviews/src/dataform-layouts/regular/index.tsx
  packages/dataviews/src/dataform-layouts/row/index.tsx
  packages/dataviews/src/hooks/use-form-validity.ts
  packages/dataviews/src/types/dataform.ts
Labels: none

normalizeFormFields: normalize fields at any level
  packages/dataviews/src/components/dataform/index.tsx
  packages/dataviews/src/dataform-layouts/card/index.tsx
  packages/dataviews/src/dataform-layouts/data-form-layout.tsx
  packages/dataviews/src/dataform-layouts/index.tsx
  packages/dataviews/src/dataform-layouts/is-combined-field.ts
  packages/dataviews/src/dataform-layouts/normalize-form.ts
  packages/dataviews/src/dataform-layouts/panel/dropdown.tsx
  packages/dataviews/src/dataform-layouts/panel/index.tsx
  packages/dataviews/src/dataform-layouts/panel/modal.tsx
  packages/dataviews/src/dataform-layouts/regular/index.tsx
  packages/dataviews/src/dataform-layouts/row/index.tsx
  packages/dataviews/src/hooks/use-form-validity.ts
  packages/dataviews/src/test/normalize-form-fields.ts
  packages/dataviews/src/test/normalize-form.ts
  packages/dataviews/src/types/dataform.ts
Labels: none

Update changelog
  packages/dataviews/CHANGELOG.md
Labels: none

Add missing prop
  packages/dataviews/src/dataform-layouts/normalize-form.ts
  packages/dataviews/src/types/dataform.ts
Labels: none

Simplify changes from trunk
  packages/dataviews/src/dataform-layouts/panel/index.tsx
Labels: none

Apply suggestions from code review
  packages/block-library/src/breadcrumbs/index.php
Labels: [Package] Block library

Form layout is only inherited for the top-level fields
  packages/dataviews/src/dataform-layouts/normalize-form.ts
  packages/dataviews/src/test/normalize-form.ts
Labels: none

Notes: spotlight block when clicking add/view notes
  packages/editor/src/components/collab-sidebar/add-comment.js
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Notes: Hide pinned sidebar when there are no notes
  packages/editor/src/components/collab-sidebar/index.js
  packages/editor/src/components/editor/index.js
  test/e2e/specs/editor/various/block-comments.spec.js
Labels: [Package] Editor

WIP: Adjust e2e tests
  test/e2e/specs/editor/various/block-comments.spec.js
Labels: none

Fix visibility
  packages/dataviews/src/dataform-layouts/data-form-layout.tsx
Labels: none

Disable spotlight on blur
  packages/editor/src/components/collab-sidebar/add-comment.js
Labels: [Package] Editor

Theme: Add new caution color ramp
  packages/theme/docs/ds-tokens.md
  packages/theme/src/color-ramps/lib/constants.ts
  packages/theme/src/color-ramps/stories/index.story.tsx
  packages/theme/src/prebuilt/css/design-tokens.css
  packages/theme/src/prebuilt/js/design-tokens.js
  packages/theme/src/prebuilt/json/figma.json
  packages/theme/src/prebuilt/ts/design-tokens.ts
  packages/theme/tokens/color.json
Labels: none

Add documentation for color token scheme
  packages/theme/README.md
Labels: none

Allow package-level devDependencies
  .npmpackagejsonlintrc.json
Labels: none

Update tsconfig validator to allow multi-config packages
  bin/validate-tsconfig.mjs
  package-lock.json
  package.json
Labels: none

Move esbuild-esm-loader as devDependency of theme package
  package-lock.json
  package.json
  packages/theme/package.json
Labels: none

Theme: Generate default ramps at compile time
  package-lock.json
  package.json
  packages/theme/bin/build-tokens.js
  packages/theme/bin/generate-default-ramps/index.ts
  packages/theme/package.json
  packages/theme/src/color-ramps/lib/default-ramps.ts
  packages/theme/tsconfig.bin.json
  packages/theme/tsconfig.json
  packages/theme/tsconfig.src.json
Labels: none

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**
