Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

Fix `getEnabledBlockParents` test
  packages/block-editor/src/store/test/private-selectors.js
Labels: [Package] Block editor

Fix test for explicitly set blockEditingMode
  packages/block-editor/src/store/test/reducer.js
Labels: [Package] Block editor

wire up settings
  lib/experiments-page.php
  packages/edit-site/src/components/experiments-app-routes/experiments.js
  packages/edit-site/src/components/experiments-page/index.js
Labels: [Package] Edit Site

scaffold new experiments screen
  lib/experiments-page.php
  packages/edit-site/src/components/experiments-app-routes/experiments.js
  packages/edit-site/src/components/experiments-app-routes/index.js
  packages/edit-site/src/components/experiments-app/index.js
  packages/edit-site/src/components/experiments-page/index.js
  packages/edit-site/src/components/experiments-page/style.scss
  packages/edit-site/src/experiments.js
  packages/edit-site/src/experiments.scss
Labels: [Package] Edit Site

update e2e test helper to use rest api rather than manual post to settings screen
  packages/e2e-test-utils-playwright/src/request-utils/gutenberg-experiments.ts
Labels: none

fix remove trailing comma
  lib/experiments-page.php
Labels: none

fix use long array syntax
  lib/experiments-page.php
Labels: none

add reset button
  packages/edit-site/src/components/experiments-page/index.js
Labels: [Package] Edit Site

fix simplify entiry record usage
  packages/edit-site/src/components/experiments-page/index.js
  packages/edit-site/src/components/experiments-page/style.scss
Labels: [Package] Edit Site

add missing textdomain
  lib/experiments-page.php
Labels: none

remove boilerplate code
  lib/experiments-page.php
  packages/edit-site/src/experiments.js
Labels: [Package] Edit Site

Feedback changes updated
  packages/editor/src/components/collab-sidebar/add-comment.js
  packages/editor/src/components/collab-sidebar/comment-form.js
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Add @ icon prefix to email control with proper spacing
  packages/components/src/private-apis.ts
  packages/dataviews/src/dataform-controls/email.tsx
Labels: [Package] Components

add icon for url
  packages/dataviews/src/dataform-controls/url.tsx
Labels: none

Refactor icon support by enhancing ValidatedText utility instead of individual controls
  packages/dataviews/src/dataform-controls/email.tsx
  packages/dataviews/src/dataform-controls/utils/validated-text.tsx
Labels: none

remove unneed var
  packages/dataviews/src/dataform-controls/utils/validated-text.tsx
Labels: none

Refactor to explicit icon passing instead of automatic type-based icons
  packages/dataviews/src/dataform-controls/email.tsx
  packages/dataviews/src/dataform-controls/telephone.tsx
  packages/dataviews/src/dataform-controls/utils/validated-text.tsx
Labels: none

Make sure children do not overflow the wrapper
  packages/dataviews/src/dataviews-layouts/grid/style.scss
Labels: none

Fix unit test
  packages/dataviews/src/test/dataform.tsx
Labels: none

Add changelog
  packages/dataviews/CHANGELOG.md
Labels: none

Preserve order when overriding
  packages/core-data/src/reducer.js
Labels: [Package] Core data

Simplify overrides
  packages/core-data/src/reducer.js
Labels: [Package] Core data

Allow entity overrides
  packages/core-data/src/reducer.js
  packages/core-data/src/test/reducer.js
Labels: [Package] Core data

add color validation story
  packages/dataviews/src/components/dataform/stories/index.story.tsx
Labels: none

Update packages/dataviews/src/field-types/stories/index.story.tsx
  packages/dataviews/src/field-types/stories/index.story.tsx
Labels: none

Add color field type and control to DataViews
  packages/components/src/private-apis.ts
  packages/dataviews/package.json
  packages/dataviews/src/dataform-controls/color.tsx
  packages/dataviews/src/dataform-controls/index.tsx
  packages/dataviews/src/field-types/color.tsx
  packages/dataviews/src/field-types/index.tsx
  packages/dataviews/src/field-types/stories/index.story.tsx
  packages/dataviews/src/types.ts
Labels: [Package] Components

post rebase stort fix
  packages/dataviews/src/field-types/stories/index.story.tsx
Labels: none

update package lock
  package-lock.json
Labels: none

post rebase lint fix
  packages/components/src/private-apis.ts
Labels: [Package] Components

feat: update all 'Link rel' label to 'Link Relation' and add help text
  packages/block-library/src/button/edit.js
  packages/block-library/src/button/edit.native.js
  packages/block-library/src/image/edit.native.js
  packages/block-library/src/post-featured-image/edit.js
  packages/block-library/src/post-title/edit.js
  packages/block-library/src/rss/edit.js
  packages/block-library/src/social-link/edit.js
Labels: [Package] Block library

Update changelog files
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/dataviews/CHANGELOG.md
  packages/dataviews/package.json
Labels: [Package] Components

Add unit test for the resolver
  packages/core-data/src/test/resolvers.js
Labels: [Package] Core data

Introduce 'hasEntityRecord' selector
  docs/reference-guides/data/data-core.md
  packages/core-data/README.md
  packages/core-data/src/selectors.ts
Labels: [Package] Core data

Fix record check inside 'getEntityRecord'
  packages/core-data/src/resolvers.js
Labels: [Package] Core data

Add unit tests for the 'hasEntityRecord' selector
  packages/core-data/src/test/selectors.js
Labels: [Package] Core data

Split inspector controls into separate components
  packages/block-library/src/terms-query/inspector-controls.js
Labels: [Package] Block library

Split inspector controls into components
  packages/block-library/src/terms-query/inspector-controls/hide-empty-control.js
  packages/block-library/src/terms-query/inspector-controls/hierarchy-control.js
  packages/block-library/src/terms-query/inspector-controls/index.js
  packages/block-library/src/terms-query/inspector-controls/max-terms-control.js
  packages/block-library/src/terms-query/inspector-controls/order-by-control.js
  packages/block-library/src/terms-query/inspector-controls/order-control.js
  packages/block-library/src/terms-query/inspector-controls/taxonomy-control.js
  packages/block-library/src/terms-query/inspector-controls/top-level-control.js
Labels: [Package] Block library

Replace HTML5 overriding with the delegate solution to match other components
  packages/components/src/validated-form-controls/components/form-token-field.tsx
Labels: [Package] Components

Move changelog to unreleased
  packages/components/CHANGELOG.md
Labels: [Package] Components

Add password field
  packages/dataviews/src/dataform-controls/index.tsx
  packages/dataviews/src/dataform-controls/password.tsx
  packages/dataviews/src/field-types/index.tsx
  packages/dataviews/src/field-types/password.tsx
  packages/dataviews/src/field-types/stories/index.story.tsx
  packages/dataviews/src/types.ts
  packages/dataviews/src/validation.ts
Labels: none

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**
