Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

Cleanup
  packages/block-library/src/tab/edit.js
Labels: [Package] Block library

Remove tests for now
  test/integration/fixtures/blocks/core__tab.html
  test/integration/fixtures/blocks/core__tab.json
  test/integration/fixtures/blocks/core__tab.parsed.json
  test/integration/fixtures/blocks/core__tab.serialized.html
  test/integration/fixtures/blocks/core__tabs.html
  test/integration/fixtures/blocks/core__tabs.json
  test/integration/fixtures/blocks/core__tabs.parsed.json
  test/integration/fixtures/blocks/core__tabs.serialized.html
Labels: none

Cleanup
  packages/block-library/src/tabs/index.php
Labels: [Package] Block library

Cleanup for coding standards
  packages/block-library/src/tab/index.php
Labels: [Package] Block library

Real-time collaboration: [no-pr] Merge fix: Add missing core-data dependency
  package-lock.json
Labels: none

Move VStack back inside add-comment to avoid double wrapping, reposition top text
  packages/editor/src/components/collab-sidebar/add-comment.js
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Moved <EditorsPresence> component to editor-presence
  packages/editor/src/components/editor-presence/index.js
  packages/editor/src/components/header/index.js
  packages/editor/src/index.js
Labels: [Package] Editor

Renamed <EditorsPresence> to <EditorPresence>
  packages/editor/README.md
  packages/editor/src/components/editor-presence/index.js
  packages/editor/src/index.js
Labels: [Package] Editor

Convert <EditorPresence> file to tsx
  packages/editor/src/components/editor-presence/index.tsx
Labels: [Package] Editor

Update EditorPresence Slot to only render one container
  packages/editor/README.md
  packages/editor/src/components/editor-presence/index.tsx
  packages/editor/src/components/header/index.js
  packages/editor/src/components/index.js
Labels: [Package] Editor

Update packages/editor/src/components/editor-presence/index.tsx
  packages/editor/src/components/editor-presence/index.tsx
Labels: [Package] Editor

Update docs for <EditorPresence>
  packages/editor/README.md
Labels: [Package] Editor

Add basic docs for <EditorPresence>
  packages/editor/README.md
  packages/editor/src/components/editor-presence/index.tsx
  packages/editor/src/index.js
Labels: [Package] Editor

Make <EditorPresence> private
  packages/editor/README.md
  packages/editor/src/components/editor-presence/index.tsx
  packages/editor/src/components/index.js
  packages/editor/src/private-apis.js
Labels: [Package] Editor

Whitespace
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Only export Delta from sync package
  packages/sync/README.md
  packages/sync/src/index.ts
Labels: none

Reformat code in quill-delta
  package-lock.json
  package.json
  packages/sync/src/quill-delta/AttributeMap.ts
  packages/sync/src/quill-delta/Delta.ts
  packages/sync/src/quill-delta/Op.ts
  packages/sync/src/quill-delta/OpIterator.ts
Labels: none

Remove "mixed operations" tests because they have hardcoded order assumptions about results
  packages/sync/src/quill-delta/test/Delta.ts
Labels: none

Include quill-delta with fast-diff replacement
  package-lock.json
  packages/core-data/src/utils/crdt-blocks.ts
  packages/core-data/src/utils/crdt.ts
  packages/core-data/src/utils/test/crdt-blocks.ts
  packages/sync/package.json
  packages/sync/src/index.ts
  packages/sync/src/quill-delta/AttributeMap.ts
  packages/sync/src/quill-delta/Delta.ts
  packages/sync/src/quill-delta/LICENSE
  packages/sync/src/quill-delta/Op.ts
  packages/sync/src/quill-delta/OpIterator.ts
  packages/sync/src/quill-delta/test/Delta.ts
Labels: [Package] Core data

Replace non-type-safe comparisons with type-safe comparisons
  packages/sync/src/quill-delta/Delta.ts
Labels: none

Run 'lint:js:fix'
  packages/sync/src/quill-delta/AttributeMap.ts
  packages/sync/src/quill-delta/Delta.ts
  packages/sync/src/quill-delta/Op.ts
  packages/sync/src/quill-delta/OpIterator.ts
Labels: none

Update generated docs
  packages/sync/README.md
Labels: none

Revert type change in mergeCrdtBlocks()
  packages/core-data/src/utils/crdt-blocks.ts
Labels: [Package] Core data

Fix type errors in Delta
  packages/sync/src/quill-delta/Delta.ts
Labels: none

Revert "Reformat code in quill-delta"
  package-lock.json
  package.json
  packages/sync/src/quill-delta/AttributeMap.ts
  packages/sync/src/quill-delta/Delta.ts
  packages/sync/src/quill-delta/Op.ts
  packages/sync/src/quill-delta/OpIterator.ts
Labels: none

Add diff types to sync package
  package-lock.json
  packages/sync/package.json
Labels: none

Fix remaining != vs !== issue
  packages/sync/src/quill-delta/AttributeMap.ts
Labels: none

Comments cleanup
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Add docs comment for Delta export
  packages/sync/README.md
  packages/sync/src/index.ts
Labels: none

Real-time collaboration: [pr-72495] Only render presence UI container one time (#72495)
  packages/editor/README.md
  packages/editor/src/components/editor-presence/index.tsx
  packages/editor/src/components/editors-presence/index.js
  packages/editor/src/components/header/index.js
  packages/editor/src/components/index.js
  packages/editor/src/private-apis.js
Labels: [Package] Editor

Move away from slotfill, can restore if desired.
  packages/block-library/src/tab/edit.js
  packages/block-library/src/tab/slotfill.js
  packages/block-library/src/tab/tabs-list.js
  packages/block-library/src/tabs/controls.js
  packages/block-library/src/tabs/edit.js
Labels: [Package] Block library

Add README to explain quill-delta library fork
  packages/sync/src/quill-delta/README.md
Labels: none

Check for the current attribute existing before proceeding
  packages/core-data/src/utils/crdt-blocks.ts
Labels: [Package] Core data

Real-time collaboration: [pr-72604] Replace fast-diff in quill-delta (with cursor hint) (#72604)
  package-lock.json
  packages/core-data/src/utils/crdt-blocks.ts
  packages/core-data/src/utils/crdt.ts
  packages/core-data/src/utils/test/crdt-blocks.ts
  packages/sync/README.md
  packages/sync/package.json
  packages/sync/src/index.ts
  packages/sync/src/quill-delta/AttributeMap.ts
  packages/sync/src/quill-delta/Delta.ts
  packages/sync/src/quill-delta/LICENSE
  packages/sync/src/quill-delta/Op.ts
  packages/sync/src/quill-delta/OpIterator.ts
  packages/sync/src/quill-delta/README.md
  packages/sync/src/quill-delta/test/Delta.ts
Labels: [Package] Core data

Real-time collaboration: Hide lock modal based on user access to feature
  packages/editor/src/components/post-locked-modal/index.js
Labels: [Package] Editor

Add a test for the new check added
  packages/core-data/src/utils/test/crdt-blocks.ts
Labels: [Package] Core data

Fix irregular shape in not-found icon
  packages/icons/src/library/not-found.svg
Labels: [Package] Icons

Refactor block editor components to remove zoom out mode dependencies
  packages/block-editor/src/components/block-list/index.js
  packages/block-editor/src/components/block-list/use-block-props/use-focus-first-element.js
  packages/block-editor/src/components/block-list/use-in-between-inserter.js
  packages/block-editor/src/components/block-settings-menu/block-settings-dropdown.js
  packages/block-editor/src/components/block-toolbar/index.js
  packages/block-editor/src/components/block-tools/index.js
  packages/block-editor/src/components/block-tools/insertion-point.js
  packages/block-editor/src/components/list-view/appender.js
  packages/block-editor/src/hooks/style.js
  packages/block-editor/src/store/reducer.js
  packages/edit-post/src/components/layout/index.js
Labels: [Package] Block editor, [Package] Edit Post

Updates for edit-post
  packages/edit-post/src/components/layout/index.js
Labels: [Package] Edit Post

Remove zoom out check from useFocusFirstElement
  packages/block-editor/src/components/block-list/use-block-props/use-focus-first-element.js
Labels: [Package] Block editor

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**
