Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

Update descriptions based on feedback
  docs/reference-guides/core-blocks.md
  packages/block-library/src/accordion-heading/block.json
  packages/block-library/src/accordion-item/block.json
  packages/block-library/src/accordion-panel/block.json
  packages/block-library/src/accordion/block.json
Labels: [Package] Block library

Try using DataViewsPicker in an updated media modal (#71944)
  lib/experimental/editor-settings.php
  lib/experiments-page.php
  package-lock.json
  packages/block-editor/src/components/inserter/media-tab/media-tab.js
  packages/block-editor/src/components/media-placeholder/index.js
  packages/block-editor/src/components/media-replace-flow/index.js
  packages/block-editor/src/components/media-upload-modal/index.js
  packages/block-editor/src/private-apis.js
  packages/customize-widgets/src/filters/replace-media-upload.js
  packages/edit-widgets/src/filters/replace-media-upload.js
  packages/editor/src/components/post-featured-image/index.js
  packages/editor/src/dataviews/fields/content-preview/content-preview-view.tsx
  packages/editor/src/hooks/media-upload.js
  packages/editor/src/style.scss
  packages/fields/src/fields/featured-image/featured-image-edit.tsx
  packages/media-utils/package.json
  packages/media-utils/src/components/media-upload-modal/index.tsx
  packages/media-utils/src/private-apis.ts
  packages/media-utils/tsconfig.json
Labels: [Package] Block editor, [Package] Edit Widgets, [Package] Editor, [Package] Media Utils

Notes: Disable floating notes for 'template-locked' mode (#72646)
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Notes: Remove custom 'PluginMoreMenuItem' handler (#72640)
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Styles Canvas: Refactor state and rendering (#72635)
  packages/edit-site/src/components/editor-canvas-container/index.js
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/global-styles-sidebar/index.js
  packages/edit-site/src/components/global-styles/canvas-link.js
  packages/edit-site/src/components/global-styles/index.js
  packages/edit-site/src/components/global-styles/menu.js
  packages/edit-site/src/components/revisions/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-global-styles/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-main/index.js
  packages/edit-site/src/components/style-book/index.js
  packages/edit-site/src/components/styles-canvas/index.js
  packages/edit-site/src/components/styles-canvas/revisions.js
  packages/edit-site/src/components/styles-canvas/style-book.js
  packages/edit-site/src/components/styles-canvas/style.scss
  packages/edit-site/src/hooks/commands/use-common-commands.js
  packages/edit-site/src/hooks/commands/use-set-command-context.js
  packages/edit-site/src/posts.scss
  packages/edit-site/src/store/private-actions.js
  packages/edit-site/src/store/private-selectors.js
  packages/edit-site/src/store/reducer.js
  packages/edit-site/src/style.scss
Labels: [Package] Edit Site

Build: Add a step to auto-register scripts in the build tool, avoiding adhoc code (#72628)
  bin/packages/build.mjs
  bin/packages/templates/index.php.template
  bin/packages/templates/script-registration.php.template
  bin/packages/templates/script-registry.php.template
  lib/client-assets.php
  packages/edit-post/package.json
  packages/edit-site/package.json
  packages/preferences/package.json
  phpunit/class-override-script-test.php
Labels: [Package] Edit Post, [Package] Edit Site, [Package] Preferences

Build: Auto-register script modules (#72541)
  bin/packages/build.mjs
  bin/packages/templates/module-registration.php.template
  bin/packages/templates/module-registry.php.template
  lib/client-assets.php
  lib/load.php
  package.json
Labels: none

Notes: Improve pinned sidebar e2e test (#72652)
  test/e2e/specs/editor/various/block-comments.spec.js
Labels: none

Icons: Fix irregular shape in not-found icon (#72645)
  packages/icons/src/library/not-found.svg
Labels: [Package] Icons

Post Date: Fix variations for Query Loop (#72617)
  packages/block-library/src/post-template/edit.js
  packages/block-library/src/query/index.js
  packages/block-library/src/query/variations.js
Labels: [Package] Block library

Add source label to the modal title (#72632)
  packages/block-editor/src/hooks/block-bindings.js
Labels: [Package] Block editor

Fix selection of font size presets if presets have the same `size` value (#71703)
  packages/block-editor/src/components/global-styles/typography-panel.js
  packages/block-editor/src/hooks/font-size.js
  packages/components/CHANGELOG.md
  packages/components/src/custom-select-control-v2/custom-select.tsx
  packages/components/src/font-size-picker/README.md
  packages/components/src/font-size-picker/font-size-picker-select.tsx
  packages/components/src/font-size-picker/font-size-picker-toggle-group.tsx
  packages/components/src/font-size-picker/index.tsx
  packages/components/src/font-size-picker/styles.ts
  packages/components/src/font-size-picker/test/font-size-picker-select.tsx
  packages/components/src/font-size-picker/test/font-size-picker-toggle-group.tsx
  packages/components/src/font-size-picker/test/index.tsx
  packages/components/src/font-size-picker/types.ts
  packages/components/src/font-size-picker/utils.ts
Labels: [Package] Block editor, [Package] Components

Block Bindings: Add in preview context (#72625)
  packages/block-editor/src/components/block-list/block.js
Labels: [Package] Block editor

Add 'type' property to activeField as boolean in page templates (#72278) (#72648)
  packages/edit-site/src/components/page-templates/fields.js
Labels: [Package] Edit Site

PluginSidebar: Fix auto more menu item props (#72630)
  packages/interface/src/components/complementary-area/index.js
Labels: [Package] Interface

Don't subscribe to store unless fitText option is enabled (#72634)
  packages/block-editor/src/hooks/fit-text.js
Labels: [Package] Block editor

Template activation: fix isActive and isCustom values (#72641)
  packages/edit-site/src/components/page-templates/index.js
Labels: [Package] Edit Site

Block Transforms: Add metadata transformation (#72462)
  packages/block-editor/src/hooks/custom-class-name.js
  packages/block-editor/src/hooks/metadata.js
  packages/block-editor/src/hooks/test/metadata.js
  packages/block-library/src/buttons/transforms.js
  packages/block-library/src/code/transforms.js
  packages/block-library/src/utils/get-transformed-attributes.js
Labels: [Package] Block editor, [Package] Block library

Badge: Add max-width for text truncation (#72653)
  packages/components/CHANGELOG.md
  packages/components/src/badge/styles.scss
Labels: [Package] Components

Notes: Don't collapse note on Escape if the event has been prevented (#72657)
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Fix password suffix alignment (#72524)
  packages/dataviews/CHANGELOG.md
  packages/dataviews/src/dataform-controls/password.tsx
Labels: none

Command Palette: Disable site editor navigation commands on Network Admin (#72572)
  packages/core-commands/src/site-editor-navigation-commands.js
Labels: none

MAKING CHANGES
  packages/block-library/src/latest-comments/block.json
  packages/block-library/src/latest-comments/deprecated.js
  packages/block-library/src/latest-comments/edit.js
  packages/block-library/src/latest-comments/index.php
Labels: [Package] Block library

Apply suggestion from @scruffian
  packages/block-library/src/navigation-link/link-ui/page-creator.js
Labels: [Package] Block library

use checkbox control
  packages/block-library/src/breadcrumbs/edit.js
Labels: [Package] Block library

Breadcrumbs: Add archives support
  docs/reference-guides/core-blocks.md
  packages/block-library/src/breadcrumbs/block.json
  packages/block-library/src/breadcrumbs/edit.js
  packages/block-library/src/breadcrumbs/index.php
Labels: [Package] Block library

Changes made
  packages/block-library/src/latest-comments/block.json
  packages/block-library/src/latest-comments/deprecated.js
  packages/block-library/src/latest-comments/edit.js
  packages/block-library/src/latest-comments/index.php
Labels: [Package] Block library

fixed by removing selectors
  packages/block-library/src/math/editor.scss
Labels: [Package] Block library

Add an attribute to set display UI
  packages/block-editor/src/hooks/block-bindings.js
  packages/block-library/src/button/block.json
  packages/block-library/src/heading/block.json
  packages/block-library/src/image/block.json
  packages/block-library/src/paragraph/block.json
  schemas/json/block.json
Labels: [Package] Block editor, [Package] Block library

Optimize build using shared package cache
  bin/packages/build.mjs
Labels: none

Core Data: Avoid extraneous when creating a new record
  packages/core-data/src/actions.js
  packages/core-data/src/entities.js
Labels: [Package] Core data

Remove post-data UI test, as wont have any UI
  test/e2e/specs/editor/various/block-bindings/post-data.spec.js
Labels: none

Fallback to null packageJson
  bin/packages/build.mjs
Labels: none

Apply suggestion from @scruffian
  packages/block-library/src/navigation-link/link-ui/page-creator.js
Labels: [Package] Block library

feedback
  docs/reference-guides/core-blocks.md
  packages/block-library/src/breadcrumbs/block.json
  packages/block-library/src/breadcrumbs/edit.js
  packages/block-library/src/breadcrumbs/index.php
Labels: [Package] Block library

Remove read-only, as still needs some UI testing
  schemas/json/block.json
Labels: none

php lint
  packages/block-library/src/breadcrumbs/index.php
Labels: [Package] Block library

Apply suggestion from @scruffian
  packages/block-library/src/navigation-link/link-ui/page-creator.js
Labels: [Package] Block library

Components: Stop using rems
  packages/components/src/modal/style.scss
  packages/components/src/tabs/styles.ts
  packages/components/src/validated-form-controls/style.scss
Labels: [Package] Components

Apply suggestion from @scruffian
  packages/block-library/src/navigation-link/link-ui/page-creator.js
Labels: [Package] Block library

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**
