Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

DataForm: support validation in date field type (#72048)
  packages/dataviews/CHANGELOG.md
  packages/dataviews/src/dataform-controls/date.tsx
  packages/dataviews/src/stories/dataform.story.tsx
Labels: none

Build: Move packages that output script modules to v2 pipeline (#72173)
  bin/packages/build-v2.mjs
  bin/packages/v2-packages.js
  lib/client-assets.php
  package-lock.json
  packages/a11y/package.json
  tools/webpack/script-modules.js
Labels: [Package] A11y

fix/accordion-panel-item-disable-html-editing (#72095)
  docs/reference-guides/core-blocks.md
  packages/block-library/src/accordion-item/block.json
  packages/block-library/src/accordion-panel/block.json
Labels: [Package] Block library

Remove manual focus tracking for navigation link blocks (#72142)
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation-submenu/edit.js
  test/e2e/specs/editor/blocks/navigation.spec.js
  test/e2e/specs/editor/blocks/search.spec.js
Labels: [Package] Block library

Build Tool: Move all simple packages to v2 (#72163)
  bin/packages/build-v2.mjs
  bin/packages/v2-packages.js
  package-lock.json
  packages/api-fetch/package.json
  packages/autop/package.json
  packages/blob/package.json
  packages/block-serialization-default-parser/package.json
  packages/date/package.json
  packages/deprecated/package.json
  packages/dom-ready/package.json
  packages/dom/package.json
  packages/escape-html/package.json
  packages/html-entities/package.json
  packages/i18n/package.json
  packages/is-shallow-equal/package.json
  packages/jest-console/package.json
  packages/jest-puppeteer-axe/package.json
  packages/keycodes/package.json
  packages/priority-queue/package.json
  packages/private-apis/package.json
  packages/redux-routine/package.json
  packages/report-flaky-tests/package.json
  packages/server-side-render/package.json
  packages/shortcode/package.json
  packages/style-engine/package.json
  packages/sync/package.json
  packages/token-list/package.json
  packages/undo-manager/package.json
  packages/url/package.json
  packages/warning/package.json
  packages/wordcount/package.json
  phpunit/script-dependencies-test.php
  tools/webpack/packages.js
Labels: [Package] API fetch, [Package] Autop, [Package] Blob, [Package] Date, [Package] Deprecated, [Package] DOM ready, [Package] DOM, [Package] Escape HTML, [Package] HTML entities, [Package] i18n, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest Puppeteer aXe, [Package] Keycodes, [Package] Priority Queue, [Package] Private APIs, [Package] Redux Routine, [Package] Server Side Render, [Package] Style Engine, [Package] Token List, [Package] Url, [Package] Warning, [Package] Word count

Block Comments: Hide actions until the thread is selected (#72179)
  packages/editor/src/components/collab-sidebar/comments.js
  test/e2e/specs/editor/various/block-comments.spec.js
Labels: [Package] Editor

Block Comments: Update REST API permissions for this type (#71919)
  lib/experimental/class-gutenberg-rest-comment-controller.php
  phpunit/bootstrap.php
  phpunit/experimental/rest-api-comment-permissions-test.php
Labels: none

Add: Fit text/stretch text block supports and variations. (#71904)
  backport-changelog/6.9/10190.md
  docs/reference-guides/core-blocks.md
  lib/block-supports/typography.php
  packages/block-editor/package.json
  packages/block-editor/src/hooks/fit-text.js
  packages/block-editor/src/hooks/index.js
  packages/block-editor/src/hooks/typography.js
  packages/block-editor/src/utils/fit-text-frontend.js
  packages/block-editor/src/utils/fit-text-utils.js
  packages/block-library/src/common.scss
  packages/block-library/src/heading/block.json
  packages/block-library/src/heading/index.js
  packages/block-library/src/heading/variations.js
  packages/block-library/src/paragraph/block.json
  packages/block-library/src/paragraph/index.js
  packages/block-library/src/paragraph/variations.js
  test/e2e/specs/editor/blocks/details.spec.js
  test/e2e/specs/editor/blocks/list.spec.js
  test/e2e/specs/editor/plugins/allowed-blocks.spec.js
  test/e2e/specs/editor/plugins/block-variations.spec.js
  test/e2e/specs/editor/plugins/child-blocks.spec.js
  test/e2e/specs/editor/plugins/inner-blocks-allowed-blocks.spec.js
  test/e2e/specs/editor/plugins/post-type-locking.spec.js
  test/e2e/specs/editor/various/autocomplete-and-mentions.spec.js
  test/e2e/specs/editor/various/block-hierarchy-navigation.spec.js
  test/e2e/specs/editor/various/block-switcher.spec.js
  test/e2e/specs/editor/various/block-visibility.spec.js
  test/e2e/specs/editor/various/inserting-blocks.spec.js
  test/e2e/specs/editor/various/list-view.spec.js
  test/e2e/specs/editor/various/navigable-toolbar.spec.js
  test/e2e/specs/widgets/editing-widgets.spec.js
Labels: [Package] Block editor, [Package] Block library

Fix dataviews scroll and footer stickiness (#72150)
  packages/admin-ui/src/page/header.tsx
  packages/admin-ui/src/page/index.tsx
  packages/admin-ui/src/page/style.scss
  packages/edit-site/src/components/page-patterns/index.js
  packages/edit-site/src/components/page-templates/index.js
  packages/edit-site/src/components/post-edit/style.scss
  packages/edit-site/src/components/post-list/index.js
  packages/edit-site/src/components/sidebar-global-styles-wrapper/index.js
  packages/edit-site/src/components/sidebar-global-styles-wrapper/style.scss
Labels: [Package] Edit Site

Update Changelog for 21.8.0
  changelog.txt
Labels: none

Build V2: Handle externals properly, do not bundle them (#72178)
  .github/workflows/bundle-size.yml
  bin/packages/build-v2.mjs
Labels: none

Properly position color panel popover (#72146)
  packages/block-editor/src/components/global-styles/color-panel.js
Labels: [Package] Block editor

Breadcrumbs: Php improvements (#72155)
  packages/block-library/src/breadcrumbs/index.php
Labels: [Package] Block library

Template activation: reduce templates listed as options for post/page (#72141)
  backport-changelog/6.9/8063.md
  lib/compat/wordpress-6.9/template-activate.php
  packages/edit-site/src/components/add-new-template/index.js
  packages/editor/src/components/post-template/hooks.js
Labels: [Package] Edit Site, [Package] Editor

Terms Query: Move variations from `Term template` (#72197)
  docs/reference-guides/core-blocks.md
  packages/block-library/src/style.scss
  packages/block-library/src/term-template/block.json
  packages/block-library/src/term-template/edit.js
  packages/block-library/src/term-template/index.js
  packages/block-library/src/term-template/style.scss
  packages/block-library/src/term-template/variations.js
  packages/block-library/src/terms-query/block.json
  packages/block-library/src/terms-query/edit/index.js
  packages/block-library/src/terms-query/edit/inspector-controls/index.js
  packages/block-library/src/terms-query/edit/terms-query-content.js
  packages/block-library/src/terms-query/edit/terms-query-placeholder.js
  packages/block-library/src/terms-query/index.js
  packages/block-library/src/terms-query/style.scss
  packages/block-library/src/terms-query/variations.js
Labels: [Package] Block library

Accordion Panel Block: Add layout support (#72211)
  docs/reference-guides/core-blocks.md
  packages/block-library/src/accordion-panel/block.json
Labels: [Package] Block library

Pages: use embedded info for feature media (#72213)
  packages/edit-site/src/components/post-list/index.js
  packages/fields/README.md
  packages/fields/src/fields/featured-image/featured-image-edit.tsx
  packages/fields/src/fields/featured-image/featured-image-view.tsx
  packages/fields/src/fields/featured-image/index.ts
  packages/fields/src/types.ts
Labels: [Package] Edit Site

Add Additional CSS Classes setting to Inline Text Link UI (#67560)
  packages/block-editor/src/components/link-control/settings.js
  packages/block-editor/src/components/link-control/style.scss
  packages/block-editor/src/components/link-control/test/index.js
  packages/format-library/src/link/css-classes-setting.js
  packages/format-library/src/link/index.js
  packages/format-library/src/link/inline.js
  packages/format-library/src/link/test/css-classes-setting.js
  packages/format-library/src/link/utils.js
Labels: [Package] Block editor, [Package] Format library

Block Comments: Improve focus management for comment interactions (#71814)
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/style.scss
Labels: [Package] Editor

Don't applySelection change for off-canvas text length changes (#72221)
  packages/rich-text/src/component/index.js
  test/e2e/specs/editor/blocks/navigation.spec.js
Labels: [Package] Rich text

Block Comments: Try alternative method for spotlight (#72194)
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/content.scss
  packages/block-editor/src/components/block-list/index.js
  packages/block-editor/src/components/block-list/use-block-props/index.js
  packages/block-editor/src/store/private-selectors.js
Labels: [Package] Block editor

Remove old pattern overrides back compat code and update tests (#72231)
  packages/blocks/src/api/parser/convert-legacy-block.js
  test/e2e/specs/editor/various/pattern-overrides.spec.js
Labels: [Package] Blocks

Build V2: Support JSX and JSON (#72202)
  bin/packages/build-v2.mjs
  bin/packages/v2-packages.js
  package-lock.json
  package.json
  packages/annotations/package.json
  packages/babel-preset-default/index.js
  packages/babel-preset-default/package.json
  packages/blocks/package.json
  packages/blocks/src/api/registration.js
  packages/compose/package.json
  packages/data-controls/package.json
  packages/data/package.json
  packages/keyboard-shortcuts/package.json
  packages/media-utils/package.json
  packages/notices/package.json
  packages/react-i18n/package.json
  packages/rich-text/package.json
  packages/router/package.json
  packages/viewport/package.json
  phpunit/script-dependencies-test.php
  test/unit/scripts/resolver.js
Labels: [Package] Babel preset, [Package] Blocks, [Package] Compose, [Package] Data Controls, [Package] Data, [Package] Keyboard Shortcuts, [Package] Media Utils, [Package] Notices, [Package] React i18n, [Package] Rich text, [Package] Viewport

Navigation Link: Fix custom links creating empty bindings and severed links retaining bindings (#72162)
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation-link/shared/test/update-attributes.test.js
  packages/block-library/src/navigation-link/shared/update-attributes.js
  packages/block-library/src/navigation-submenu/edit.js
  packages/block-library/src/navigation/edit/menu-inspector-controls.js
Labels: [Package] Block library

Add Term Name block (#72129)
  docs/reference-guides/core-blocks.md
  lib/blocks.php
  packages/block-library/src/index.js
  packages/block-library/src/style.scss
  packages/block-library/src/term-name/block.json
  packages/block-library/src/term-name/edit.js
  packages/block-library/src/term-name/index.js
  packages/block-library/src/term-name/index.php
  packages/block-library/src/term-name/style.scss
  packages/block-library/src/term-name/use-term-name.js
  packages/icons/src/library/term-name.svg
  test/integration/fixtures/blocks/core__term-name.html
  test/integration/fixtures/blocks/core__term-name.json
  test/integration/fixtures/blocks/core__term-name.parsed.json
  test/integration/fixtures/blocks/core__term-name.serialized.html
Labels: [Package] Block library, [Package] Icons

Changelog automation: change "Block Commenting" to "Notes" (#72192)
  bin/plugin/commands/changelog.js
Labels: none

Accordion: Remove headingLevel from Reset All Attributes (#72186)
  packages/block-library/src/accordion/edit.js
Labels: [Package] Block library

Notes: Hide block settings menu items for mulit-selection (#72206)
  packages/block-editor/src/components/block-settings-menu/block-settings-dropdown.js
Labels: [Package] Block editor

Term Description: Fix front end context (#72238)
  packages/block-library/src/term-description/index.php
Labels: [Package] Block library

Add fitText field to block.json schema (#72198)
  schemas/json/block.json
Labels: none

Accordion Item block: add layout support (#72176)
  docs/reference-guides/core-blocks.md
  packages/block-library/src/accordion-item/block.json
Labels: [Package] Block library

Build v2: Improve script modules dependency handling (#72188)
  bin/packages/build-v2.mjs
  bin/packages/v2-packages.js
  lib/client-assets.php
  package-lock.json
  packages/element/package.json
  packages/interactivity-router/package.json
  packages/interactivity/package.json
  packages/preferences-persistence/package.json
Labels: [Package] Element

Fix PHP tests (#72236)
  phpunit/block-supports/background-test.php
Labels: none

Fix block card back arrow in inserter preview (#72199)
  packages/block-editor/src/components/block-card/index.js
  packages/block-editor/src/components/block-inspector/index.js
Labels: [Package] Block editor

Block support: add allowedBlocks support for more blocks (#72191)
  docs/reference-guides/core-blocks.md
  packages/block-library/src/accordion-panel/block.json
  packages/block-library/src/column/block.json
  packages/block-library/src/cover/block.json
  packages/block-library/src/details/block.json
  packages/block-library/src/media-text/block.json
  packages/block-library/src/quote/block.json
  packages/block-library/src/quote/edit.js
Labels: [Package] Block library

Resolving Comments hide reserved space for comments (#72210)
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Fix navigation link URL binding resolution on frontend (#72169)
  packages/block-library/src/navigation-link/index.php
  packages/block-library/src/navigation-submenu/index.php
Labels: [Package] Block library

Block Comments: Try the alt method for transferring focus to sidebar (#72158)
  packages/editor/src/components/collab-sidebar/add-comment.js
  packages/editor/src/components/collab-sidebar/index.js
  packages/editor/src/components/collab-sidebar/utils.js
Labels: [Package] Editor

Add keyboard shortcut toggle block visibility (#72172)
  packages/block-editor/src/components/block-tools/index.js
  packages/block-editor/src/components/keyboard-shortcuts/index.js
  packages/block-editor/src/components/list-view/block.js
Labels: [Package] Block editor

CheckboxControl, RadioControl, ToggleControl: Ensure focus on click (#72115)
  packages/components/CHANGELOG.md
  packages/components/src/checkbox-control/index.tsx
  packages/components/src/form-toggle/index.tsx
  packages/components/src/radio-control/index.tsx
Labels: [Package] Components
