Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

update documentation
  packages/dataviews/README.md
Labels: none

remove export
  packages/dataviews/src/dataforms-layouts/card/index.tsx
Labels: none

fix unit test
  packages/dataviews/src/test/normalize-form-fields.ts
Labels: none

Remove unnecessary CSS
  packages/editor/src/components/collab-sidebar/style.scss
Labels: [Package] Editor

Hide `Paragraph` level option by default.
  packages/block-library/src/query-title/edit.js
  packages/block-library/src/query-title/variations.js
Labels: [Package] Block library

Remove back-compat function
  lib/compat/wordpress-6.9/l10n.php
Labels: none

Sync changes from core PR
  lib/compat/wordpress-6.9/l10n.php
Labels: none

Add backport changelog
  backport-changelog/6.9/4430.md
Labels: none

Add missing @since tag
  packages/block-library/src/post-time-to-read/index.php
Labels: [Package] Block library

Fix examples with elements in field type story
  packages/dataviews/src/field-types/stories/index.story.tsx
Labels: none

Move notice creation to savePost action
  packages/editor/src/components/save-publish-panels/index.js
  packages/editor/src/store/actions.js
Labels: [Package] Editor

fix: make the render function respect default decimal number
  packages/dataviews/src/dataform-controls/number.tsx
  packages/dataviews/src/field-types/number.tsx
Labels: none

feat: add step support
  packages/dataviews/src/dataform-controls/number.tsx
Labels: none

fix: unify validation behavior
  packages/dataviews/src/field-types/number.tsx
  packages/dataviews/src/test/validation.ts
Labels: none

test: add number tests
  packages/dataviews/src/test/dataform.tsx
  packages/dataviews/src/test/filter-and-sort-data-view.js
  packages/dataviews/src/test/normalize-fields.ts
  packages/dataviews/src/test/validation.ts
Labels: none

feat: update field control
  packages/dataviews/src/dataform-controls/number.tsx
Labels: none

feat: update min max of between control
  packages/dataviews/src/dataform-controls/number.tsx
Labels: none

fix: update custom validation trigger condition
  packages/dataviews/src/field-types/number.tsx
Labels: none

dev: story
  packages/dataviews/src/field-types/stories/index.story.tsx
Labels: none

fix: Ensure the value of min max are always different
  packages/dataviews/src/dataform-controls/number.tsx
Labels: none

fix: type consistency
  packages/dataviews/src/types.ts
Labels: none

feat: add suffix and prefix support
  packages/dataviews/src/dataform-controls/number.tsx
Labels: none

chore: restore integer field definition
  packages/dataviews/src/dataform-controls/integer.tsx
  packages/dataviews/src/field-types/integer.tsx
Labels: none

feat: register new field
  packages/dataviews/src/dataform-controls/index.tsx
  packages/dataviews/src/field-types/index.tsx
  packages/dataviews/src/types.ts
Labels: none

refactor: base integer on number
  packages/dataviews/src/dataform-controls/integer.tsx
  packages/dataviews/src/dataform-controls/number.tsx
  packages/dataviews/src/field-types/integer.tsx
  packages/dataviews/src/field-types/number.tsx
Labels: none

fix: simplify the number field for the first iteration, remove steps/prefix/suffix
  packages/dataviews/src/dataform-controls/number.tsx
  packages/dataviews/src/field-types/stories/index.story.tsx
  packages/dataviews/src/types.ts
Labels: none

docs: update README file
  packages/dataviews/README.md
Labels: none

refactor: extract number control into a shared component for number and integer
  packages/dataviews/src/dataform-controls/integer.tsx
  packages/dataviews/src/dataform-controls/number.tsx
  packages/dataviews/src/dataform-controls/utils/validated-number.tsx
Labels: none

fix: remove unused helper
  packages/dataviews/src/field-types/number.tsx
Labels: none

feat: update field type
  packages/dataviews/src/field-types/number.tsx
Labels: none

chore: changelog
  packages/dataviews/CHANGELOG.md
Labels: none

fix: between number onChange callback
  packages/dataviews/src/dataform-controls/number.tsx
Labels: none

fix: number validation logic
  packages/dataviews/src/field-types/number.tsx
Labels: none

fix: remove unused types related to number
  packages/dataviews/src/types.ts
Labels: none

chore: scaffold
  packages/dataviews/src/dataform-controls/number.tsx
  packages/dataviews/src/field-types/number.tsx
Labels: none

feat: update validation
  packages/dataviews/src/types.ts
  packages/dataviews/src/validation.ts
Labels: none

fix: sync the validation with integer
  packages/dataviews/src/field-types/number.tsx
Labels: none

Tweak notice text
  packages/editor/src/store/actions.js
Labels: [Package] Editor

Conflict remaining changes
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

fix logic
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/dataforms-layouts/card/index.tsx
  packages/dataviews/src/dataforms-layouts/get-summary-fields.ts
  packages/dataviews/src/dataforms-layouts/panel/index.tsx
Labels: none
