Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

Restore tabindex and add aria-label text
  packages/editor/src/components/collab-sidebar/add-comment.js
  test/e2e/specs/editor/various/block-comments.spec.js
Labels: [Package] Editor

Notes: Fix strange default sidebar animation
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Block Bindings: Hide Attributes panel for Date, Nav Link, and Nav Submenu blocks
  packages/block-editor/src/hooks/block-bindings.js
Labels: [Package] Block editor

Attempt to fix test
  test/e2e/specs/editor/various/autocomplete-and-mentions.spec.js
Labels: none

Restore unit test
  phpunit/class-override-script-test.php
Labels: none

Revert changes
  .github/workflows/unit-test.yml
Labels: none

Notes: Fix 'children' embedding via REST API
  lib/compat/wordpress-6.9/class-gutenberg-rest-comment-controller-6-9.php
Labels: none

Add backport changelog entry
  backport-changelog/6.9/10420.md
Labels: none

Update e2e test
  test/e2e/specs/editor/various/block-bindings/post-data.spec.js
Labels: none

Validate custom taxonomy exists
  packages/block-library/src/utils/test/use-context-data.js
  packages/block-library/src/utils/use-context-data.js
Labels: [Package] Block library

Components: Fix label markup for 'FocalPointPicker'
  packages/components/src/focal-point-picker/index.tsx
Labels: [Package] Components

Refactor FocalPointPicker to use fieldset markup
  packages/components/src/focal-point-picker/index.tsx
  packages/components/src/focal-point-picker/styles/focal-point-picker-style.ts
Labels: [Package] Components

Fix default inherit mode
  packages/block-library/src/terms-query/edit/inspector-controls/index.js
Labels: [Package] Block library

Make loadView syncronous
  packages/edit-site/src/components/site-editor-routes/templates.js
  packages/router/src/router.tsx
  packages/views/README.md
  packages/views/src/load-view.ts
Labels: [Package] Edit Site

Add e2e tests for template persistance and reset
  test/e2e/specs/site-editor/templates.spec.js
Labels: none

Initial commit
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/hooks/block-bindings.js
  packages/blocks/src/api/registration.js
  packages/blocks/src/api/test/registration.js
  packages/blocks/src/store/private-actions.js
  packages/blocks/src/store/reducer.js
  packages/e2e-tests/plugins/block-bindings/index.js
  packages/editor/src/bindings/post-data.js
  packages/editor/src/bindings/post-meta.js
  packages/editor/src/bindings/term-data.js
  test/e2e/specs/editor/various/block-bindings/custom-sources.spec.js
  test/e2e/specs/editor/various/block-bindings/post-data.spec.js
Labels: [Package] Block editor, [Package] Blocks, [Package] E2E Tests, [Package] Editor

Fix PHP warning
  packages/e2e-tests/plugins/interactive-blocks/router-navigate/render.php
Labels: [Package] E2E Tests

Add failing test
  packages/e2e-tests/plugins/interactive-blocks/router-navigate/render.php
  packages/e2e-tests/plugins/interactive-blocks/router-navigate/view.js
  test/e2e/specs/interactivity/router-navigate.spec.ts
Labels: [Package] E2E Tests

Do not evaluate getters during derivedStateClosures processing
  packages/interactivity/src/store.ts
Labels: none

Override core
  lib/compat/wordpress-6.9/template-activate.php
Labels: none

Simplify check
  packages/interactivity/src/store.ts
Labels: none

Implement CRDT persistence
  lib/experimental/synchronization.php
  packages/core-data/src/entities.js
  packages/core-data/src/resolvers.js
  packages/core-data/src/sync.ts
  packages/core-data/src/test/entities.js
  packages/core-data/src/test/resolvers.js
  packages/core-data/src/utils/crdt.ts
  packages/sync/README.md
  packages/sync/src/config.ts
  packages/sync/src/index.ts
  packages/sync/src/manager.ts
  packages/sync/src/persistence.ts
  packages/sync/src/types.ts
  packages/sync/src/utils.ts
Labels: [Package] Core data

Add tests for SyncManager and CRDT persistence
  packages/sync/src/test/manager.ts
Labels: none

Move the help text above.
  packages/components/src/radio-control/index.tsx
  packages/components/src/radio-control/style.scss
Labels: [Package] Components

Add changelog entry
  packages/interactivity/CHANGELOG.md
Labels: none

Fix PHPCS errors
  packages/e2e-tests/plugins/interactive-blocks/router-navigate/render.php
Labels: [Package] E2E Tests

Remove not needed data
  packages/editor/src/bindings/post-data.js
  packages/editor/src/bindings/post-meta.js
  packages/editor/src/bindings/term-data.js
Labels: [Package] Editor

changelog
  packages/components/CHANGELOG.md
Labels: [Package] Components

Add support for syncing post meta
  packages/core-data/src/utils/crdt-meta.ts
  packages/core-data/src/utils/crdt.ts
  packages/core-data/src/utils/test/crdt.ts
Labels: [Package] Core data

Add test for non-single meta
  packages/core-data/src/utils/test/crdt.ts
Labels: [Package] Core data

Add CRDT persistence meta key to disallowed set
  packages/core-data/src/sync.ts
  packages/core-data/src/utils/crdt.ts
  packages/core-data/src/utils/test/crdt.ts
  packages/sync/README.md
  packages/sync/src/index.ts
Labels: [Package] Core data

Sync all meta by default
  packages/core-data/src/utils/crdt-meta.ts
  packages/core-data/src/utils/crdt.ts
  packages/core-data/src/utils/test/crdt.ts
Labels: [Package] Core data

Make isListView synchronous
  packages/edit-site/src/components/site-editor-routes/pages.js
Labels: [Package] Edit Site

Fix tests by waiting to make sure the DataViews region is loaded
  test/e2e/specs/site-editor/dataviews-list-layout-keyboard.spec.js
  test/e2e/specs/site-editor/homepage-settings.spec.js
  test/e2e/specs/site-editor/page-list.spec.js
  test/e2e/specs/site-editor/pages-view-persistence.spec.js
  test/e2e/specs/site-editor/pages.spec.js
  test/performance/specs/site-editor.spec.js
Labels: none

Switch from selector to useBlockEditingMode for AllowedBlocksControl
  packages/block-editor/src/hooks/allowed-blocks.js
Labels: [Package] Block editor

Back to post data
  packages/editor/src/bindings/post-data.js
  test/e2e/specs/editor/various/block-bindings/post-data.spec.js
Labels: [Package] Editor

Remove not needed test tweak with post-data early return
  test/e2e/specs/editor/various/block-bindings/custom-sources.spec.js
Labels: none

Remove duplicated args
  packages/editor/src/bindings/post-meta.js
Labels: [Package] Editor

Remove duplicated args
  packages/editor/src/bindings/post-data.js
Labels: [Package] Editor

Remove comment
  test/e2e/specs/editor/various/block-bindings/post-data.spec.js
Labels: none
