Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

Update packages/block-library/src/post-time-to-read/index.php
  packages/block-library/src/post-time-to-read/index.php
Labels: [Package] Block library

Apply suggestions from code review
  packages/block-library/src/post-time-to-read/edit.js
Labels: [Package] Block library

Fix preload
  lib/compat/wordpress-6.8/preload.php
  lib/compat/wordpress-6.9/preload.php
  lib/load.php
  packages/core-data/src/private-selectors.ts
Labels: [Package] Core data

php lint
  lib/compat/wordpress-6.9/preload.php
Labels: none

Support arrays in getRegionRootFragment
  packages/interactivity/src/init.ts
Labels: none

Render attachTo regions with the same parent together
  packages/interactivity-router/src/index.ts
Labels: none

Add missing contains method
  packages/interactivity/src/utils.ts
Labels: none

Remove __returnsBadge
  packages/dataviews/src/dataviews-layouts/grid/index.tsx
  packages/dataviews/src/types.ts
  packages/edit-site/src/components/page-templates/fields.js
  packages/edit-site/src/components/page-templates/index.js
Labels: [Package] Edit Site

Remove dataviews changes
  packages/dataviews/src/dataviews-layouts/grid/index.tsx
  packages/dataviews/src/filter-and-sort-data-view.ts
Labels: none

Store nested regions in page.regions
  packages/interactivity-router/src/index.ts
Labels: none

Ensure boolean `isOpen` from preferences in case unset
  packages/edit-post/src/components/layout/index.js
Labels: [Package] Edit Post

Remove maximum height of half available conditioned on unset user height
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/layout/style.scss
Labels: [Package] Edit Post

Hide Spacer resizable box in write mode
  packages/block-library/src/spacer/edit.js
Labels: [Package] Block library

revert storybook file
  packages/dataviews/src/field-types/stories/index.story.tsx
Labels: none

Lazying loading field elements
  packages/dataviews/src/components/dataviews-filters/index.tsx
  packages/dataviews/src/dataform-controls/select.tsx
  packages/dataviews/src/field-types/index.tsx
  packages/dataviews/src/field-types/stories/index.story.tsx
  packages/dataviews/src/field-types/text.tsx
  packages/dataviews/src/normalize-fields.ts
  packages/dataviews/src/types.ts
  packages/dataviews/src/utils.ts
Labels: none

clean up after some experiments
  packages/dataviews/src/field-types/text.tsx
  packages/dataviews/src/utils.ts
Labels: none

add lazy loader to filters
  packages/dataviews/src/components/dataviews-filters/filter.tsx
  packages/dataviews/src/components/dataviews-filters/index.tsx
  packages/dataviews/src/field-types/index.tsx
  packages/dataviews/src/types.ts
Labels: none

fix: prevent DataViews filter button flickering
  packages/dataviews/src/components/dataviews/index.tsx
Labels: none

Make the convert to pattern button only hidden for unsynced patterns when experiment is active
  packages/patterns/src/components/pattern-convert-button.js
Labels: none

Block Commenting: Add block-comments as a new post type support
  lib/experimental/block-comments.php
  packages/editor/src/components/collab-sidebar/index.js
  packages/editor/src/components/header/index.js
Labels: [Package] Editor

refactor: simplify "more replies" button
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/style.scss
Labels: [Package] Editor

phpcs update
  phpunit/class-block-comment-filter-test.php
Labels: none

tests: mirror presets that are actually used
  packages/block-editor/src/components/border-radius-control/test/utils.js
Labels: [Package] Block editor

DataForm toggleGroup control: support validation
  packages/components/src/private-apis.ts
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/dataform-controls/toggle-group.tsx
Labels: [Package] Components

Update changelog
  packages/components/CHANGELOG.md
  packages/dataviews/CHANGELOG.md
  packages/dataviews/src/components/dataform/stories/index.story.tsx
Labels: [Package] Components

Support `undefined` values in `required` check
  packages/components/CHANGELOG.md
  packages/components/src/validated-form-controls/components/toggle-group-control.tsx
Labels: [Package] Components

Remove translation from tests
  packages/block-editor/src/components/border-radius-control/test/utils.js
Labels: [Package] Block editor

Add tests for contentOnly patterns experiment
  packages/block-editor/src/store/test/reducer.js
Labels: [Package] Block editor

Remove copy/pasted comments
  packages/block-editor/src/store/test/reducer.js
Labels: [Package] Block editor

Backport PR added
  backport-changelog/6.9/9912.md
Labels: none

Adjust test selector
  test/e2e/specs/site-editor/template-activate.spec.js
Labels: none

Fix preload
  lib/compat/wordpress-6.8/preload.php
  lib/compat/wordpress-6.9/preload.php
  lib/load.php
Labels: none

i18n: fix "more replies" pluralization in block comments
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

fix(dataviews): disable filter toggle when only primary/locked filters exist
  packages/dataviews/src/components/dataviews-filters/index.tsx
  packages/dataviews/src/components/dataviews/index.tsx
Labels: none

Fix comments in block editing mode tests
  packages/block-editor/src/store/test/reducer.js
Labels: [Package] Block editor

Update packages/block-library/src/post-time-to-read/edit.js
  packages/block-library/src/post-time-to-read/edit.js
Labels: [Package] Block library

Update packages/block-library/src/post-time-to-read/edit.js
  packages/block-library/src/post-time-to-read/edit.js
Labels: [Package] Block library

Block Bindings: Fix back-compat layer
  lib/compat/wordpress-6.9/block-bindings.php
Labels: none

Add backport changelog
  backport-changelog/6.9/9469.md
Labels: none

use config object
  packages/dataviews/src/dataform-controls/index.tsx
  packages/dataviews/src/dataform-controls/text.tsx
  packages/dataviews/src/types.ts
Labels: none

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**
