Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

Warehouse needed types in block-editor typings
  packages/sync/src/undo-manager.ts
  packages/sync/typings/wordpress__block-editor.d.ts
  packages/sync/typings/wordpress__editor.d.ts
Labels: none

Consolidate template with variable exports semantics
  packages/wp-build/src/build.mjs
  packages/wp-build/templates/css-module.js.template
  packages/wp-build/templates/css-module.mjs.template
Labels: none

Fix indentation
  packages/wp-build/src/build.mjs
  packages/wp-build/templates/css-module.js.template
Labels: none

Fix: DataViews modal actions in list layout (#72793)
  packages/dataviews/CHANGELOG.md
  packages/dataviews/src/dataviews-layouts/list/index.tsx
  packages/dataviews/src/stories/dataviews.fixtures.tsx
Labels: none

Build: Bundle CSS in package transpilation phase
  packages/wp-build/src/build.mjs
Labels: none

Add image prefetching for lightbox images
  packages/block-library/src/image/index.php
  packages/block-library/src/image/view.js
Labels: [Package] Block library

feat: add delay before prefetching
  packages/block-library/src/image/index.php
  packages/block-library/src/image/view.js
Labels: [Package] Block library

docs: update docs
  packages/block-library/src/image/index.php
  packages/block-library/src/image/view.js
Labels: [Package] Block library

fix: track prefetched images to avoid duplicate markup
  packages/block-library/src/image/view.js
Labels: [Package] Block library

feat: implement responsive image preloading for lightbox images
  packages/block-library/src/image/index.php
  packages/block-library/src/image/view.js
Labels: [Package] Block library

docs: add context comments
  packages/block-library/src/image/view.js
Labels: [Package] Block library

fix: remove URL validation
  packages/block-library/src/image/view.js
Labels: [Package] Block library

refactor: rectify approach to accurate name
  packages/block-library/src/image/index.php
  packages/block-library/src/image/view.js
Labels: [Package] Block library

docs: add context comment
  packages/block-library/src/image/view.js
Labels: [Package] Block library

refactor: relocate srcset assignment for better readability
  packages/block-library/src/image/view.js
Labels: [Package] Block library

refactor: early return for already fetched images
  packages/block-library/src/image/view.js
Labels: [Package] Block library

refactor: address PR feedback — use Map for preload timers, add preload delay constant
  packages/block-library/src/image/constants.js
  packages/block-library/src/image/view.js
Labels: [Package] Block library

fix: use dynamic lightboxSizes for imagesizes
  packages/block-library/src/image/view.js
Labels: [Package] Block library

refactor: streamline state logic
  packages/block-library/src/image/view.js
Labels: [Package] Block library

Revert "refactor: streamline state logic"
  packages/block-library/src/image/view.js
Labels: [Package] Block library

refactor: destructure image metadata parameter
  packages/block-library/src/image/view.js
Labels: [Package] Block library

refactor: use separate fns to extract common logic
  packages/block-library/src/image/view.js
Labels: [Package] Block library

Fix unresolvable typedefs in dependency-extraction-webpack-plugin
  packages/dependency-extraction-webpack-plugin/package.json
Labels: [Package] Dependency Extraction Webpack Plugin

Use a variable to abort or continue the request
  test/e2e/specs/interactivity/router-styles.spec.ts
Labels: none

Simplify esbuild plugin definitions
  packages/wp-build/src/build.mjs
Labels: none

Try: ensure editor body grows to size of all notes
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

linter
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Classic Block: Disable lock, renaming, blockVisibility support
  docs/reference-guides/core-blocks.md
  packages/block-library/src/freeform/block.json
Labels: [Package] Block library

Pass styles to the column.
  packages/dataviews/src/dataviews-layouts/table/index.tsx
  packages/dataviews/src/stories/dataviews.story.tsx
  packages/dataviews/src/types/dataviews.ts
Labels: none

Block Transforms: Add default transform for allowedBlocks attribute
  packages/block-editor/src/hooks/allowed-blocks.js
  packages/block-editor/src/hooks/test/allowed-blocks.js
  packages/block-library/src/utils/get-transformed-attributes.js
Labels: [Package] Block editor, [Package] Block library

Add styling to all and pass to header and footer.
  packages/dataviews/src/components/dataviews-footer/index.tsx
  packages/dataviews/src/components/dataviews/index.tsx
  packages/dataviews/src/dataviews-layouts/table/index.tsx
  packages/dataviews/src/stories/dataviews.story.tsx
  packages/dataviews/src/types/dataviews.ts
Labels: none

block-editor: Remove types from package.json exports
  packages/block-editor/package.json
Labels: [Package] Block editor

Notes: Return early when there are no notes
  packages/editor/src/components/collab-sidebar/hooks.js
Labels: [Package] Editor

Add failing e2e test for the bug
  test/e2e/specs/editor/various/inserting-blocks.spec.js
Labels: none

Fix the padding appender bug
  packages/edit-post/src/components/layout/use-padding-appender.js
Labels: [Package] Edit Post

Breadcrumbs: Add 404, search and `paged` support for archives
  packages/block-library/src/breadcrumbs/index.php
Labels: [Package] Block library

feedback
  packages/block-library/src/breadcrumbs/index.php
Labels: [Package] Block library

Notes: Remove the pin/unpin button from the sidebar header
  packages/editor/src/components/collab-sidebar/index.js
  test/e2e/specs/editor/various/block-comments.spec.js
Labels: [Package] Editor

Editor: Change the name of the 'Plugins' menu group
  packages/editor/src/components/more-menu/index.js
Labels: [Package] Editor

Remove old polyfills for server block definitions
  packages/blocks/src/api/test/registration.js
  packages/blocks/src/store/reducer.js
Labels: [Package] Blocks

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**
