Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

fix calling of updateHeight
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Remove VisualEditorOverlay
  packages/editor/src/components/visual-editor/index.js
  packages/editor/src/index.js
Labels: [Package] Editor

move edit component and controls into edit folder
  packages/block-library/src/terms-query/edit.js
  packages/block-library/src/terms-query/edit/index.js
  packages/block-library/src/terms-query/edit/inspector-controls/advanced-controls.js
  packages/block-library/src/terms-query/edit/inspector-controls/display-options.js
  packages/block-library/src/terms-query/edit/inspector-controls/empty-terms-control.js
  packages/block-library/src/terms-query/edit/inspector-controls/hierarchy-control.js
  packages/block-library/src/terms-query/edit/inspector-controls/index.js
  packages/block-library/src/terms-query/edit/inspector-controls/max-terms-control.js
  packages/block-library/src/terms-query/edit/inspector-controls/ordering-controls.js
  packages/block-library/src/terms-query/edit/inspector-controls/taxonomy-control.js
Labels: [Package] Block library

remove hierarchical layout control
  packages/block-library/src/terms-query/edit/inspector-controls/hierarchy-control.js
  packages/block-library/src/terms-query/edit/inspector-controls/index.js
Labels: [Package] Block library

Skip write mode and fix zoom out test
  test/e2e/specs/editor/various/write-design-mode.spec.js
  test/e2e/specs/site-editor/zoom-out.spec.js
Labels: none

remove hierarchical layout
  packages/block-library/src/term-template/edit.js
  packages/block-library/src/term-template/index.php
Labels: [Package] Block library

Revert "remove hierarchical layout control"
  packages/block-library/src/terms-query/edit/inspector-controls/hierarchy-control.js
  packages/block-library/src/terms-query/edit/inspector-controls/index.js
Labels: [Package] Block library

fix max terms control all value
  packages/block-library/src/term-template/edit.js
  packages/block-library/src/terms-query/edit/inspector-controls/max-terms-control.js
Labels: [Package] Block library

break up "terms to show" into hierarchical and inherit controls, remove termsToShow
  docs/reference-guides/core-blocks.md
  packages/block-library/src/term-template/block.json
  packages/block-library/src/term-template/edit.js
  packages/block-library/src/term-template/index.php
  packages/block-library/src/terms-query/block.json
  packages/block-library/src/terms-query/edit/inspector-controls/display-options.js
  packages/block-library/src/terms-query/edit/inspector-controls/hierarchy-control.js
  packages/block-library/src/terms-query/edit/inspector-controls/index.js
  packages/block-library/src/terms-query/edit/inspector-controls/inherit-control.js
Labels: [Package] Block library

only include parent in query if not 0
  packages/block-library/src/term-template/edit.js
Labels: [Package] Block library

handle parent and hierarchical as mutually exclusive
  packages/block-library/src/term-template/edit.js
  packages/block-library/src/term-template/index.php
  packages/block-library/src/terms-query/edit/inspector-controls/index.js
Labels: [Package] Block library

turn off hierarchical with inherit
  packages/block-library/src/terms-query/edit/inspector-controls/inherit-control.js
Labels: [Package] Block library

Remove inverted toolbar styles
  packages/block-editor/src/components/block-tools/style.scss
Labels: [Package] Block editor

Focus comments Input field
  packages/editor/src/components/collab-sidebar/comment-form.js
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/index.js
  packages/editor/src/components/collab-sidebar/style.scss
Labels: [Package] Editor

Feedback changes
  packages/editor/src/components/collab-sidebar/add-comment.js
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/style.scss
Labels: [Package] Editor

Feedback changes
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Feedback changes
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Feedback changes
  packages/editor/src/components/collab-sidebar/comment-form.js
Labels: [Package] Editor

Implement utils functionality
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/index.js
  packages/editor/src/components/collab-sidebar/style.scss
Labels: [Package] Editor

Added change log for the fix.
  packages/dataviews/CHANGELOG.md
Labels: none

Index file conflict issue
  packages/editor/src/components/collab-sidebar/index.js
  packages/editor/src/components/collab-sidebar/style.scss
Labels: [Package] Editor

Js Lint issues
  packages/editor/src/components/collab-sidebar/comment-form.js
Labels: [Package] Editor

JS Linting issues
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Update check icon to be optically balanced.
  packages/block-editor/src/components/color-palette/test/__snapshots__/control.js.snap
  packages/icons/src/library/check.svg
  platform-docs/docs/create-block/first-block-type.md
Labels: [Package] Block editor, [Package] Icons

Update changelog.
  packages/icons/CHANGELOG.md
Labels: [Package] Icons

Custom Views: Remove the experiment
  lib/experimental/data-views.php
  lib/experimental/editor-settings.php
  lib/experiments-page.php
  lib/load.php
  packages/edit-site/src/components/post-list/index.js
  packages/edit-site/src/components/posts-app-routes/posts.js
  packages/edit-site/src/components/sidebar-dataviews/add-new-view.js
  packages/edit-site/src/components/sidebar-dataviews/custom-dataviews-list.js
  packages/edit-site/src/components/sidebar-dataviews/dataview-item.js
  packages/edit-site/src/components/sidebar-dataviews/index.js
  packages/edit-site/src/components/site-editor-routes/pages.js
Labels: [Package] Edit Site

Cleanup styles
  packages/edit-site/src/components/sidebar-dataviews/style.scss
Labels: [Package] Edit Site

Hooks Package: Build using esbuild
  bin/packages/build-worker-esbuild.js
  bin/packages/build-worker.js
  package-lock.json
  package.json
  packages/hooks/package.json
Labels: [Package] Hooks

Fix changelog.
  packages/icons/CHANGELOG.md
Labels: [Package] Icons

Templates DataViews: Support persistence
  packages/edit-site/src/components/page-patterns/header.js
  packages/edit-site/src/components/page-templates/index.js
  packages/edit-site/src/components/page-templates/view-utils.js
  packages/edit-site/src/components/site-editor-routes/templates.js
  packages/router/src/router.tsx
Labels: [Package] Edit Site

Update packages/block-library/src/gallery/edit.js
  packages/block-library/src/gallery/edit.js
Labels: [Package] Block library

Fix e2e test
  packages/editor/src/components/post-template/block-theme.js
Labels: [Package] Editor

backport
  backport-changelog/6.9/8063.md
Labels: none

Template activation: allow empty array to be set
  lib/compat/wordpress-6.9/template-activate.php
  packages/edit-site/src/components/dataviews-actions/index.js
Labels: [Package] Edit Site

Block Comments: Highlight block with new toggleBlockCommentSelected private API
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/content.scss
  packages/block-editor/src/components/block-list/use-block-props/index.js
  packages/block-editor/src/store/private-actions.js
  packages/block-editor/src/store/private-selectors.js
  packages/block-editor/src/store/reducer.js
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Block editor, [Package] Editor

fix linting
  packages/block-library/src/gallery/edit.js
Labels: [Package] Block library

Revert changes from #72049, also check registered templates
  packages/core-data/src/private-selectors.ts
Labels: [Package] Core data

Revert "Fix e2e test"
  packages/editor/src/components/post-template/block-theme.js
Labels: [Package] Editor

Cleanup
  packages/edit-site/src/components/page-templates/view-utils.js
Labels: [Package] Edit Site

Build in parallel
  bin/packages/build-worker-esbuild.js
Labels: none
