Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

Replace toggle with checkbox for the starter patterns modal action, adjust height.
  packages/editor/src/components/start-page-options/index.js
  packages/editor/src/components/start-page-options/style.scss
Labels: [Package] Editor

Update preference help text to avoid redundancy.
  packages/editor/src/components/preferences-modal/index.js
Labels: [Package] Editor

Disable html support
  docs/reference-guides/core-blocks.md
  packages/block-library/src/freeform/block.json
Labels: [Package] Block library

Update CHANGELOG.md
  packages/components/CHANGELOG.md
Labels: [Package] Components

Template activation: skip gutenberg_get_registered_block_templates query when no slugs are left to find
  lib/compat/wordpress-6.9/template-activate.php
Labels: none

Backport
  backport-changelog/6.9/10432.md
Labels: none

Tabs: Improve PHP docs
  packages/block-library/src/tabs/index.php
Labels: [Package] Block library

Make padding more specific to heading block
  packages/block-library/src/accordion-heading/style.scss
  packages/block-library/src/heading/style.scss
Labels: [Package] Block library

Revert logical properties changes to stylesheets
  platform-docs/src/components/HomepageBlocks/styles.module.css
  platform-docs/src/components/HomepageFeatures/styles.module.css
  platform-docs/src/components/HomepageThanks/styles.module.css
  platform-docs/src/components/HomepageTrustedBy/styles.module.css
  platform-docs/src/pages/index.module.css
Labels: none

Block Bindings: Add unit test coverage for core/post-meta source
  packages/editor/src/bindings/test/post-meta.js
Labels: [Package] Editor

Add test case for field without label or default
  packages/editor/src/bindings/test/post-meta.js
Labels: [Package] Editor

Fix test fixture
  packages/editor/src/bindings/test/post-meta.js
Labels: [Package] Editor

Differentiate protected field value from default
  packages/editor/src/bindings/test/post-meta.js
Labels: [Package] Editor

Reorganize tests
  packages/editor/src/bindings/test/post-meta.js
Labels: [Package] Editor

Add test coverage with postId set, and some for canUserEditValue
  packages/editor/src/bindings/test/post-meta.js
Labels: [Package] Editor

Add test case for meta field with label only
  packages/editor/src/bindings/test/post-meta.js
Labels: [Package] Editor

Cover canUserEditValue when used with protected fields
  packages/editor/src/bindings/test/post-meta.js
Labels: [Package] Editor

Terser test
  packages/editor/src/bindings/test/post-meta.js
Labels: [Package] Editor

Check that getValues falls back to key for protected fields
  packages/editor/src/bindings/test/post-meta.js
Labels: [Package] Editor

Quick and dirty attempt at empty sidebar state to see if perf improves
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Add test coverage for getFieldsList
  packages/editor/src/bindings/test/post-meta.js
Labels: [Package] Editor

Amend test description
  packages/editor/src/bindings/test/post-meta.js
Labels: [Package] Editor

Fix: Don't load fit text front end scripts on the editor.
  lib/block-supports/typography.php
  test/e2e/specs/editor/blocks/fit-text.spec.js
Labels: none

Update packages/components/src/card/card/README.md
  packages/components/src/card/card/README.md
Labels: [Package] Components

test polish
  test/e2e/specs/editor/blocks/fit-text.spec.js
Labels: none

improve documentation
  packages/components/src/card/card-body/README.md
  packages/components/src/card/card-footer/README.md
  packages/components/src/card/card-header/README.md
  packages/components/src/card/card/README.md
Labels: [Package] Components

improve logic
  packages/components/src/card/get-padding-by-size.ts
  packages/components/src/card/stories/index.story.tsx
  packages/components/src/card/types.ts
Labels: [Package] Components

Block Notes: Adjust comment date tooltip position. This fixes an issue where the comment date tooltip would cover the comment author information.
  packages/editor/src/components/collab-sidebar/comment-author-info.js
Labels: [Package] Editor

implement none
  packages/components/src/card/card-body/README.md
  packages/components/src/card/card-footer/README.md
  packages/components/src/card/card-header/README.md
  packages/components/src/card/card/README.md
  packages/components/src/card/get-padding-by-size.ts
  packages/components/src/card/types.ts
Labels: [Package] Components

Try adding where
  packages/block-library/src/heading/style.scss
Labels: [Package] Block library

fix build
  packages/dataviews/src/dataform-layouts/card/index.tsx
  packages/dataviews/src/stories/dataform.story.tsx
Labels: none

Simplify editor min height calculation
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Try: Enable view-transition navigation: auto for wp-admin
  gutenberg.php
Labels: none

Remove useSelect subscription for data that does not need to be reactive
  packages/block-editor/src/components/block-edit/edit.js
Labels: [Package] Block editor

lint fix
  test/e2e/specs/editor/blocks/fit-text.spec.js
Labels: none

Improve condition
  lib/block-supports/typography.php
Labels: none

add backport changelog
  backport-changelog/6.9/10437.md
Labels: none

Latest Comments: Add option to exclude post author
  packages/block-library/src/latest-comments/block.json
  packages/block-library/src/latest-comments/edit.js
  packages/block-library/src/latest-comments/index.php
Labels: [Package] Block library

first pass at converting to private API
  packages/editor/src/components/provider/editor-canvas-context.js
Labels: [Package] Editor

Include scroll offset in calculation
  packages/editor/src/components/visual-editor/index.js
Labels: [Package] Editor

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**
