Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

Accordion Block: Add additional keypress handlers for navigation
  packages/block-library/src/accordion-content/index.php
  packages/block-library/src/accordion/index.php
  packages/block-library/src/accordion/view.js
Labels: [Package] Block library

Fixed Capitalization in package name
  lib/class-wp-theme-json-resolver-gutenberg.php
  lib/class-wp-theme-json-schema-gutenberg.php
  lib/experimental/posts/load.php
Labels: none

Initial commit
  lib/compat/wordpress-6.9/auto-ssr-blocks.php
  lib/load.php
  packages/block-library/src/index.js
Labels: [Package] Block library

Don't register blocks without a `render_callback`
  lib/compat/wordpress-6.9/auto-ssr-blocks.php
Labels: none

Lint
  lib/compat/wordpress-6.9/auto-ssr-blocks.php
Labels: none

Terms Query: Small fix of not used `__nextHasNoMarginBottom` property causing console errors
  packages/block-library/src/terms-query/inspector-controls/display-options.js
Labels: [Package] Block library

proper fetiching of taxonomis
  packages/block-library/src/terms-query/inspector-controls/index.js
Labels: [Package] Block library

Bootstrap AGENTS.md
  AGENTS.md
Labels: none

Stretch text 2 front end ok
  js-stretchy-text.html
  lib/blocks.php
  packages/block-library/package.json
  packages/block-library/src/group/block.json
  packages/block-library/src/group/index.php
  packages/block-library/src/group/save.js
  packages/block-library/src/group/variations.js
  packages/block-library/src/group/view.js
Labels: [Package] Block library

Remove testing from PR instructions, expand folder explanations
  AGENTS.md
Labels: none

working
  packages/block-library/src/group/edit.js
  packages/block-library/src/group/editor.scss
  packages/block-library/src/group/variations.js
Labels: [Package] Block library

Add contentRole to Page list block
  docs/reference-guides/core-blocks.md
  packages/block-library/src/page-list/block.json
Labels: [Package] Block library

Fix accordion gradient background.
  docs/reference-guides/core-blocks.md
  packages/block-library/src/accordion-content/block.json
  packages/block-library/src/accordion-header/block.json
  packages/block-library/src/accordion-panel/block.json
  packages/block-library/src/accordion/block.json
Labels: [Package] Block library

Accordion Header: Skip serialization correctly
  packages/block-library/src/accordion-header/block.json
  packages/block-library/src/accordion-header/edit.js
  packages/block-library/src/accordion-header/save.js
Labels: [Package] Block library

Fix: Accordion blocks support gradients instead of gradient
  packages/block-library/src/accordion-content/block.json
  packages/block-library/src/accordion-header/block.json
  packages/block-library/src/accordion-panel/block.json
  packages/block-library/src/accordion/block.json
Labels: [Package] Block library

Use the Block Bindings polyfill
  lib/compat/wordpress-6.9/block-bindings.php
  lib/compat/wordpress-6.9/blocks.php
  lib/load.php
Labels: none

Pullquote: Try adding Block Bindings support
  lib/compat/wordpress-6.9/blocks.php
  lib/load.php
  packages/block-editor/src/utils/block-bindings.js
  packages/block-library/src/pullquote/save.js
  packages/block-library/src/utils/get-transformed-metadata.js
  packages/patterns/src/constants.js
Labels: [Package] Block editor, [Package] Block library

Clean up the save method
  packages/block-library/src/pullquote/save.js
Labels: [Package] Block library

Update backport information
  backport-changelog/6.9/9702.md
  backport-changelog/6.9/9990.md
  lib/compat/wordpress-6.9/block-bindings.php
Labels: none

Refactor integration logic
  backport-changelog/6.9/9702.md
  lib/compat/wordpress-6.9/block-bindings.php
  packages/block-library/src/pullquote/save.js
  test/integration/fixtures/blocks/core__pullquote__citation-block-bindings.html
  test/integration/fixtures/blocks/core__pullquote__citation-block-bindings.json
  test/integration/fixtures/blocks/core__pullquote__citation-block-bindings.parsed.json
  test/integration/fixtures/blocks/core__pullquote__citation-block-bindings.serialized.html
Labels: [Package] Block library

Implement unique IDs for Interactivity API directives
  packages/e2e-tests/plugins/interactive-blocks/directive-unique-ids/block.json
  packages/e2e-tests/plugins/interactive-blocks/directive-unique-ids/render.php
  packages/e2e-tests/plugins/interactive-blocks/directive-unique-ids/view.asset.php
  packages/e2e-tests/plugins/interactive-blocks/directive-unique-ids/view.js
  packages/interactivity/src/directives.tsx
  packages/interactivity/src/hooks.tsx
  packages/interactivity/src/test/vdom.ts
  packages/interactivity/src/vdom.ts
  test/e2e/specs/interactivity/directive-unique-ids.spec.ts
Labels: [Package] E2E Tests

DataViews: Fix ListView focus stealing from search input
  packages/dataviews/src/dataviews-layouts/list/index.tsx
Labels: none

Sync the list of partially synced blocks with block bindings
  packages/patterns/src/constants.js
Labels: none

Fix Accordion block width issue
  packages/block-library/src/accordion/style.scss
Labels: [Package] Block library

test: Add comprehensive edge cases for unique IDs regex parsing
  packages/interactivity/src/test/vdom.ts
Labels: none

Working without mutation observer
  packages/block-library/src/group/edit.js
Labels: [Package] Block library

Add example to run a single e2e test
  AGENTS.md
Labels: none

Be more explicit about checking the status of wp-env before starting it
  AGENTS.md
Labels: none

Add example of non-headless e2e testing
  AGENTS.md
Labels: none

Change the commands to use placeholders rather than specific names
  AGENTS.md
Labels: none

style element per block approach
  packages/block-library/src/group/edit.js
Labels: [Package] Block library

Update snapshots
  packages/editor/src/components/post-publish-panel/test/__snapshots__/index.js.snap
Labels: [Package] Editor

Fix is active variation naming
  packages/block-library/src/group/variations.js
Labels: [Package] Block library

CHANGELOG updated with DataView List search focus fix
  packages/dataviews/CHANGELOG.md
Labels: none

add allowed blocks
  packages/block-library/src/group/edit.js
  packages/block-library/src/group/view.js
Labels: [Package] Block library

Improve view.js code
  packages/block-library/src/group/editor.scss
  packages/block-library/src/group/style.scss
  packages/block-library/src/group/view.js
Labels: [Package] Block library

lint fixes
  packages/block-library/src/group/editor.scss
  packages/block-library/src/group/style.scss
Labels: [Package] Block library

Conditional enqueing of the view scripts.
  packages/block-library/src/group/index.php
  packages/block-library/src/group/save.js
Labels: [Package] Block library

php bug fix
  packages/block-library/src/group/index.php
Labels: [Package] Block library

remove html experiment
  js-stretchy-text.html
Labels: none
