Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

Use getSelectedBlockClientId and getBlockAttributes inside callback
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

adjust slotfill class
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

increase minimum editor width required in order to show floating comments
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Update lib/experimental/block-comments.php
  lib/experimental/block-comments.php
Labels: none

Use comment excerpt for aria-label
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/utils.js
Labels: [Package] Editor

Fix: Change Featured Image toggle label to 'Make image a link'
  packages/block-library/src/post-featured-image/edit.js
Labels: [Package] Block library

Block Comment: Improve related block highlighting
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Remove useless unit test
  packages/edit-post/src/components/back-button/test/__snapshots__/fullscreen-mode-close.js.snap
  packages/edit-post/src/components/back-button/test/fullscreen-mode-close.js
Labels: [Package] Edit Post

Remove unnecessary ToggleBlockHighlight
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Remove useCallback
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Added default focus and hover states to accordion header
  packages/block-library/src/accordion-header/style.scss
Labels: [Package] Block library

Destructure state to eliminate redundant store accesses
  packages/e2e-tests/plugins/interactive-blocks/unique-ids/view.js
Labels: [Package] E2E Tests

BlockVariationTransforms: Refactor DropdownMenu with Menu
  packages/block-editor/src/components/block-variation-transforms/index.js
  packages/block-editor/src/components/block-variation-transforms/style.scss
Labels: [Package] Block editor

remove backport changelog until block is no longer experimental
  backport-changelog/6.9/9356.md
Labels: none

Try: add tests for new comment permissions
  phpunit/experimental/rest-api-comment-permissions.php
Labels: none

phpcbf
  phpunit/experimental/rest-api-comment-permissions.php
Labels: none

Correct fixture names
  phpunit/experimental/rest-api-comment-permissions.php
Labels: none

Fix: Make template part icons and text white in Write Mode
  packages/edit-site/src/components/page-patterns/style.scss
Labels: [Package] Edit Site

Apply suggestions from code review.
  packages/block-editor/src/components/background-image-control/index.js
Labels: [Package] Block editor

initial working version
  packages/edit-site/src/components/post-edit/index.js
  packages/editor/src/dataviews/store/private-actions.ts
  packages/fields/src/fields/comment-status/index.tsx
  packages/fields/src/fields/index.ts
  packages/fields/src/fields/ping-status/index.tsx
Labels: [Package] Edit Site, [Package] Editor

add a summary field
  packages/edit-site/src/components/post-edit/index.js
  packages/editor/src/dataviews/store/private-actions.ts
  packages/fields/src/fields/discussion/index.tsx
  packages/fields/src/fields/index.ts
Labels: [Package] Edit Site, [Package] Editor

Slight test updates
  phpunit/experimental/rest-api-comment-permissions.php
Labels: none

Rename test file
  phpunit/experimental/rest-api-comment-permissions-test.php
Labels: none

Cleanup tests
  phpunit/experimental/rest-api-comment-permissions-test.php
Labels: none

Accordion Block: Hide Add button in write mode (#71935)
  packages/block-library/src/accordion/edit.js
Labels: [Package] Block library

try: improve tests
  phpunit/experimental/rest-api-comment-permissions-test.php
Labels: none

phpcbf
  phpunit/experimental/rest-api-comment-permissions-test.php
Labels: none

Promote @wordpress/sync to public package
  packages/dependency-extraction-webpack-plugin/lib/util.js
  tools/webpack/packages.js
Labels: [Package] Dependency Extraction Webpack Plugin

Remove dependency from base package-lock
  package-lock.json
Labels: none

Separate experimental flags for feature and transport
  lib/client-assets.php
  lib/experimental/sync/class-gutenberg-http-signaling-server.php
  lib/experiments-page.php
Labels: none

Add `core.getSyncProvider` filter
  lib/client-assets.php
  package-lock.json
  packages/core-data/package.json
  packages/core-data/src/sync.js
  packages/core-data/src/sync.ts
  packages/core-data/tsconfig.json
  packages/sync/CODE.md
  packages/sync/README.md
  packages/sync/package.json
  packages/sync/src/create-webrtc-connection.js
  packages/sync/src/create-webrtc-connection.ts
  packages/sync/src/index.js
  packages/sync/src/index.ts
  packages/sync/src/types.ts
  packages/sync/tsconfig.json
Labels: [Package] Core data

Restore `register` property, for now.
  packages/sync/src/types.ts
Labels: none

Remove @wordpress/hooks dependency
  packages/sync/package.json
  packages/sync/tsconfig.json
Labels: none

Remove new experimental flag
  lib/experimental/sync/class-gutenberg-http-signaling-server.php
  lib/experiments-page.php
Labels: none

Fix unit test
  phpunit/script-dependencies-test.php
Labels: none

Correctly fall back to no-op sync provider
  packages/core-data/src/sync.ts
Labels: [Package] Core data

Remove conditional loading of @wordpress/sync
  lib/client-assets.php
  packages/core-data/src/sync.ts
  packages/dependency-extraction-webpack-plugin/lib/util.js
  packages/sync/README.md
  packages/sync/src/index.ts
  phpunit/script-dependencies-test.php
  tools/webpack/packages.js
Labels: [Package] Core data, [Package] Dependency Extraction Webpack Plugin

Add Yjs-aware entity config
  package-lock.json
  packages/core-data/package.json
  packages/core-data/src/actions.js
  packages/core-data/src/entities.js
  packages/core-data/src/resolvers.js
  packages/core-data/src/sync.ts
  packages/core-data/tsconfig.json
  packages/dependency-extraction-webpack-plugin/lib/util.js
  packages/sync/CODE.md
  packages/sync/package.json
  packages/sync/src/connect-indexdb.js
  packages/sync/src/create-webrtc-connection.ts
  packages/sync/src/index.ts
  packages/sync/src/provider.js
  packages/sync/src/provider.ts
  packages/sync/src/types.ts
  tools/webpack/packages.js
Labels: [Package] Core data, [Package] Dependency Extraction Webpack Plugin

Remove feature flag check
  packages/core-data/src/reducer.js
Labels: [Package] Core data

Make a separate exported clas for the undo manager coming from the provider
  .vscode/launch.json
  packages/core-data/src/reducer.js
  packages/sync/src/provider.ts
  packages/sync/src/undo-manager.ts
Labels: [Package] Core data
