Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

Template activation: call get_block_templates filter when short-circuiting
  lib/compat/wordpress-6.9/template-activate.php
Labels: none

Template activation: call get_block_templates filter when short-circuiting
  backport-changelog/6.9/8063.md
  lib/compat/wordpress-6.9/template-activate.php
Labels: none

Remove obsolete query
  packages/editor/src/components/post-template/hooks.js
Labels: [Package] Editor

Template activation: reduce templates listed as options for post/page
  lib/compat/wordpress-6.9/template-activate.php
  packages/edit-site/src/components/add-new-template/index.js
  packages/editor/src/components/post-template/hooks.js
Labels: [Package] Edit Site, [Package] Editor

backport
  backport-changelog/6.9/8063.md
Labels: none

Block Comments: Simplify 'Actions' eligibility logic
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Add sync/src/config.ts and convert entrypoint to TypeScript
  packages/sync/README.md
  packages/sync/src/config.ts
  packages/sync/src/index.ts
Labels: none

Update entity sync configs for clarity and utility
  packages/core-data/src/entities.js
  packages/core-data/src/utils/crdt.ts
  packages/sync/src/connect-indexdb.js
  packages/sync/src/provider.js
  packages/sync/src/types.ts
Labels: [Package] Core data

Remove sync configs for __unstableBase and postType
  packages/core-data/src/entities.js
Labels: [Package] Core data

Update dependencies test case
  phpunit/script-dependencies-test.php
Labels: none

Update SyncProvider calling code
  packages/core-data/src/actions.js
  packages/core-data/src/resolvers.js
Labels: [Package] Core data

lint
  lib/compat/wordpress-6.9/template-activate.php
Labels: none

better comment about is_tax() check
  packages/block-library/src/term-template/index.php
Labels: [Package] Block library

cleanup unnecessary comment
  packages/block-library/src/terms-query/edit/inspector-controls/empty-terms-control.js
Labels: [Package] Block library

Add "supports" map to declare future sync feature support
  packages/core-data/src/entities.js
  packages/sync/src/types.ts
Labels: [Package] Core data

set parent from current term id regardless of whether it might be 0
  packages/block-library/src/term-template/index.php
Labels: [Package] Block library

explicitly fall back to parent=0
  packages/block-library/src/term-template/edit.js
Labels: [Package] Block library

Build packages in parallel
  bin/packages/build-v2.mjs
Labels: none

Replace setInterface with setTimeout
  bin/packages/build-v2.mjs
Labels: none

Remove useless mkdir
  bin/packages/build-v2.mjs
Labels: none

Switch to parseArgs
  bin/packages/build-v2.mjs
Labels: none

Update search e2e selector to be the first add block instance
  test/e2e/specs/editor/blocks/search.spec.js
Labels: none

Cleanup per review
  bin/packages/build-v2.mjs
Labels: none

Fix accordion-item block spacing
  docs/reference-guides/core-blocks.md
  packages/block-library/src/accordion-item/block.json
Labels: [Package] Block library

Remove enabled flag in favor of syncConfig presence
  packages/core-data/src/actions.js
  packages/core-data/src/entities.js
  packages/core-data/src/resolvers.js
  packages/sync/src/types.ts
Labels: [Package] Core data

Update getInitialObjectData description
  packages/core-data/src/entities.js
Labels: [Package] Core data

Removed the "This package is being progressively typed" comment
  packages/preferences/tsconfig.json
Labels: [Package] Preferences

Extracted the types for BaseOption into a separate file
  packages/preferences/src/components/preference-base-option/index.tsx
  packages/preferences/src/components/preference-base-option/types.ts
  packages/preferences/src/components/preference-toggle-control/index.tsx
Labels: [Package] Preferences

Extracted the types for PreferencesModal into a separate file
  packages/preferences/src/components/preference-base-option/index.tsx
  packages/preferences/src/components/preferences-modal/index.tsx
  packages/preferences/src/components/preferences-modal/types.ts
Labels: [Package] Preferences

Fix reference to syncConfig.objectType
  packages/core-data/src/actions.js
  packages/core-data/src/resolvers.js
Labels: [Package] Core data

Replaced the ToggleRetArgs type with a @ts-expect-error marker
  packages/preferences/src/store/actions.ts
Labels: [Package] Preferences

Removed the explicit ReactNode imports
  packages/preferences/src/components/preferences-modal-section/index.tsx
  packages/preferences/src/components/preferences-modal-tabs/index.tsx
Labels: [Package] Preferences

Editor post featured image: Ensure hidden text is hidden when common.css is not loaded
  packages/editor/src/components/post-featured-image/style.scss
Labels: [Package] Editor

Update modal title and description text
  packages/block-editor/src/components/block-allowed-blocks/modal.js
Labels: [Package] Block editor

Use BaseControl.VisualLabel instead of label prop
  packages/block-editor/src/components/block-allowed-blocks/allowed-blocks-control.js
Labels: [Package] Block editor

Update focusCommentThread utility
  packages/editor/src/components/collab-sidebar/utils.js
Labels: [Package] Editor

Update e2e test and check for focus
  test/e2e/specs/editor/various/block-comments.spec.js
Labels: none

Block Comments: Avoid focus loss after creating a comment
  packages/editor/src/components/collab-sidebar/add-comment.js
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Add context e2e tests
  packages/e2e-tests/plugins/interactive-blocks/directive-context/render.php
  test/e2e/specs/interactivity/directive-context.spec.ts
Labels: [Package] E2E Tests

Add bind tests
  packages/e2e-tests/plugins/interactive-blocks/directive-bind/render.php
  test/e2e/specs/interactivity/directive-bind.spec.ts
Labels: [Package] E2E Tests
