Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

Real-time collaboration: [pr-72407] Add UndoManager support for collaborative editing
  packages/core-data/src/entities.js
  packages/core-data/src/private-selectors.ts
  packages/core-data/src/selectors.ts
  packages/core-data/src/types.ts
  packages/sync/src/manager.ts
  packages/sync/src/types.ts
  packages/sync/src/undo-manager.ts
  packages/sync/src/y-utilities/LICENSE
  packages/sync/src/y-utilities/y-multidoc-undomanager.js
Labels: [Package] Core data

Real-time collaboration: Add support for syncing post meta (#72332)
  packages/core-data/src/sync.ts
  packages/core-data/src/utils/crdt.ts
  packages/core-data/src/utils/test/crdt.ts
  packages/sync/README.md
  packages/sync/src/index.ts
Labels: [Package] Core data

Real-time collaboration: Implement CRDT persistence for collaborative editing (#72373)
  lib/experimental/synchronization.php
  packages/core-data/src/entities.js
  packages/core-data/src/resolvers.js
  packages/core-data/src/sync.ts
  packages/core-data/src/test/entities.js
  packages/core-data/src/test/resolvers.js
  packages/core-data/src/utils/crdt.ts
  packages/sync/README.md
  packages/sync/src/config.ts
  packages/sync/src/index.ts
  packages/sync/src/manager.ts
  packages/sync/src/persistence.ts
  packages/sync/src/test/manager.ts
  packages/sync/src/types.ts
  packages/sync/src/utils.ts
Labels: [Package] Core data

Real-time collaboration: [no-pr] Remove @wordpress/sync from bundled packages
  packages/dependency-extraction-webpack-plugin/lib/util.js
  packages/sync/package.json
Labels: [Package] Dependency Extraction Webpack Plugin

Real-time collaboration: [pr-72566] Check for the current attribute existing before proceeding (#72566)
  packages/core-data/src/utils/crdt-blocks.ts
  packages/core-data/src/utils/test/crdt-blocks.ts
Labels: [Package] Core data

Real-time collaboration: [pr-72437] Add Yjs awareness
  packages/core-data/src/entities.js
  packages/sync/src/manager.ts
  packages/sync/src/test/manager.ts
  packages/sync/src/types.ts
Labels: [Package] Core data

Real-time collaboration: [no-pr] Remove @wordpress/hooks from core-data
  package-lock.json
Labels: none

Real-time collaboration: [pr-72450] Add typings in core-data for @wordpress__blocks
  packages/core-data/src/utils/crdt-blocks.ts
  packages/core-data/tsconfig.json
  packages/core-data/typings/wordpress__blocks.d.ts
Labels: [Package] Core data

Real-time collaboration: [no-pr] Return original blocks when controlledBlocks represent post content
  packages/block-editor/src/components/provider/use-block-sync.js
Labels: [Package] Block editor

Real-time collaboration: [pr-72495] Only render presence UI container one time (#72495)
  packages/editor/README.md
  packages/editor/src/components/editor-presence/index.tsx
  packages/editor/src/components/editors-presence/index.js
  packages/editor/src/components/header/index.js
  packages/editor/src/components/index.js
  packages/editor/src/private-apis.js
Labels: [Package] Editor

Real-time collaboration: [no-pr] Merge fix: Add missing core-data dependency
  package-lock.json
Labels: none

Real-time collaboration: [pr-72604] Replace fast-diff in quill-delta (with cursor hint) (#72604)
  package-lock.json
  packages/core-data/src/utils/crdt-blocks.ts
  packages/core-data/src/utils/crdt.ts
  packages/core-data/src/utils/test/crdt-blocks.ts
  packages/sync/README.md
  packages/sync/package.json
  packages/sync/src/index.ts
  packages/sync/src/quill-delta/AttributeMap.ts
  packages/sync/src/quill-delta/Delta.ts
  packages/sync/src/quill-delta/LICENSE
  packages/sync/src/quill-delta/Op.ts
  packages/sync/src/quill-delta/OpIterator.ts
  packages/sync/src/quill-delta/README.md
  packages/sync/src/quill-delta/test/Delta.ts
Labels: [Package] Core data

Real-time collaboration: [pr-72326] Allow post-locked-modal to be overridden when collaborative-editing is enabled
  packages/editor/src/components/post-locked-modal/index.js
Labels: [Package] Editor

Real-time collaboration: [no-pr] Add <EditorsPresence> SlotFill
  packages/editor/README.md
  packages/editor/src/components/document-bar/style.scss
  packages/editor/src/components/editors-presence/index.js
  packages/editor/src/components/header/index.js
  packages/editor/src/components/header/style.scss
  packages/editor/src/dataviews/fields/content-preview/content-preview-view.tsx
  packages/editor/src/index.js
Labels: [Package] Editor

Real-time collaboration: [no-pr] Add <BlockCanvasCover> and <VisualEditorOverlay>
  packages/block-editor/README.md
  packages/block-editor/src/components/block-canvas/index.js
  packages/block-editor/src/index.js
  packages/editor/src/components/index.js
  packages/editor/src/index.js
Labels: [Package] Block editor, [Package] Editor

Real-time collaboration: Ensure block attribute is Y.Text
  packages/core-data/src/utils/crdt-blocks.ts
  packages/core-data/src/utils/test/crdt-blocks.ts
Labels: [Package] Core data

Real-time collaboration: Don't sync core/freeform block without content
  packages/core-data/src/utils/crdt-blocks.ts
  packages/core-data/src/utils/test/crdt-blocks.ts
Labels: [Package] Core data

Real-time collaboration: Ensure block attribute is Y.Text (#72731)
  packages/core-data/src/utils/crdt-blocks.ts
  packages/core-data/src/utils/test/crdt-blocks.ts
Labels: [Package] Core data

Real-time collaboration: Don't sync core/freeform block without content (#72732)
  packages/core-data/src/utils/crdt-blocks.ts
  packages/core-data/src/utils/test/crdt-blocks.ts
Labels: [Package] Core data

Feedback and changelog entry
  packages/components/CHANGELOG.md
  packages/components/src/focal-point-picker/index.tsx
  packages/components/src/focal-point-picker/styles/focal-point-picker-style.ts
Labels: [Package] Components

Notes: Remove the red dot
  packages/editor/src/components/collab-sidebar/comment-indicator-toolbar.js
  packages/editor/src/components/collab-sidebar/style.scss
Labels: [Package] Editor

Fix 'has more participants' logic
  packages/editor/src/components/collab-sidebar/comment-indicator-toolbar.js
  packages/editor/src/components/collab-sidebar/hooks.js
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Notes: Update delete confirmation message
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Changes per review
  bin/packages/build.mjs
Labels: none

Move build/index.php load sooner
  lib/load.php
Labels: none

Build: Auto register styles from packages
  bin/packages/build.mjs
  bin/packages/templates/index.php.template
  bin/packages/templates/style-registration.php.template
  bin/packages/templates/style-registry.php.template
  lib/client-assets.php
Labels: none

Fix build && Lint PHP
  bin/packages/build.mjs
  lib/client-assets.php
Labels: none

Restore removing deactivate button for active registered templates
  packages/edit-site/src/components/dataviews-actions/index.js
Labels: [Package] Edit Site

Don't show active custom templates in the active view
  packages/edit-site/src/components/page-templates/index.js
Labels: [Package] Edit Site

Template activation: allow duplicates of 'custom' plugin templates to be activated
  packages/edit-site/src/components/dataviews-actions/index.js
  packages/edit-site/src/components/page-templates/fields.js
  packages/edit-site/src/components/page-templates/index.js
Labels: [Package] Edit Site

Fix build race condition
  bin/packages/build.mjs
Labels: none

Fix pagination problem
  packages/edit-site/src/components/page-templates/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-templates-browse/content.js
Labels: [Package] Edit Site

Fix constant replacement
  bin/packages/build.mjs
Labels: none

Fix typo
  packages/edit-site/src/components/page-templates/fields.js
Labels: [Package] Edit Site

Refactor Card component to use useCardHeader hook to manage the card header state and logic.
  packages/dataviews/src/dataform-layouts/card/index.tsx
Labels: none

Add README update
  packages/dataviews/README.md
Labels: none

Fix default `isOpened` value for card header
  packages/dataviews/src/dataform-layouts/card/index.tsx
Labels: none

Template activation: redirect to 'Create Templates' after duplication
  packages/edit-site/src/components/page-templates/index.js
Labels: [Package] Edit Site

Build: Cleanup the build script
  bin/packages/build.mjs
  bin/packages/dependency-graph.mjs
  bin/packages/lib/package-utils.mjs
  bin/packages/lib/php-generator.mjs
  bin/packages/lib/wordpress-externals-plugin.mjs
  bin/tsconfig.json
Labels: none

Fix e2e tests
  packages/edit-site/src/components/page-templates/index.js
  test/e2e/specs/site-editor/browser-history.spec.js
  test/e2e/specs/site-editor/template-registration.spec.js
Labels: [Package] Edit Site
