Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

Revert "Fix default `isOpened` value for card header"
  packages/dataviews/src/dataform-layouts/card/index.tsx
Labels: none

Fix TS types for e2e-test-utils-playwright package
  packages/e2e-test-utils-playwright/package.json
Labels: none

chore(release): publish
  package-lock.json
  packages/block-directory/package.json
  packages/block-library/package.json
  packages/customize-widgets/package.json
  packages/edit-post/package.json
  packages/edit-site/package.json
  packages/edit-widgets/package.json
  packages/editor/package.json
  packages/fields/package.json
Labels: [Package] Block library, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor

Update changelog files
  packages/dataviews/CHANGELOG.md
  packages/dataviews/package.json
Labels: none

chore(release): publish
  package-lock.json
  packages/block-directory/package.json
  packages/dataviews/package.json
  packages/edit-post/package.json
  packages/edit-site/package.json
  packages/editor/package.json
  packages/fields/package.json
  packages/views/package.json
Labels: [Package] Edit Post, [Package] Edit Site, [Package] Editor

Fix child terms in editor
  packages/block-library/src/term-template/edit.js
  packages/block-library/src/terms-query/edit/inspector-controls/index.js
  packages/block-library/src/utils/use-context-data.js
Labels: [Package] Block library

Fix incorrectly tabbed code blocks.
  docs/reference-guides/interactivity-api/core-concepts/using-typescript.md
Labels: none

Build: Move the build tool to a dedicated package
  bin/build.mjs
  bin/dev.mjs
  docs/manifest.json
  package-lock.json
  package.json
  packages/wp-build/CHANGELOG.md
  packages/wp-build/README.md
  packages/wp-build/package.json
  packages/wp-build/src/build.mjs
  packages/wp-build/src/dependency-graph.mjs
  packages/wp-build/src/package-utils.mjs
  packages/wp-build/src/php-generator.mjs
  packages/wp-build/src/wordpress-externals-plugin.mjs
  packages/wp-build/templates/index.php.template
  packages/wp-build/templates/module-registration.php.template
  packages/wp-build/templates/module-registry.php.template
  packages/wp-build/templates/script-registration.php.template
  packages/wp-build/templates/script-registry.php.template
  packages/wp-build/templates/style-registration.php.template
  packages/wp-build/templates/style-registry.php.template
  packages/wp-build/templates/version.php.template
  packages/wp-build/tsconfig.json
  tsconfig.json
Labels: none

Add main properties to the template package.json files
  packages/create-block-interactive-template/package.json
  packages/create-block-tutorial-template/package.json
Labels: [Package] Create Block

Fix startsWith error
  packages/block-library/src/utils/use-context-data.js
Labels: [Package] Block library

Update changelog files.
  packages/create-block-interactive-template/CHANGELOG.md
  packages/create-block-tutorial-template/CHANGELOG.md
Labels: [Package] Create Block

Restore comment
  packages/block-library/src/terms-query/edit/inspector-controls/index.js
Labels: [Package] Block library

Tidy up comments
  packages/block-library/src/utils/use-context-data.js
Labels: [Package] Block library

Clean up test file
  packages/block-library/src/utils/test/use-context-data.js
Labels: [Package] Block library

Theme: Add Storybook stories
  packages/theme/src/color-ramps/stories/index.stories.tsx
  packages/theme/src/color-ramps/stories/ramp-table.tsx
  packages/theme/src/index.stories.tsx
  packages/theme/src/use-theme-provider-styles.ts
  storybook/main.js
Labels: none

Mark color ramps stories as experimental
  packages/theme/src/color-ramps/stories/index.stories.tsx
Labels: none

use definitely typed for toposort dependency
  package-lock.json
  packages/wp-build/package.json
  packages/wp-build/src/dependency-graph.mjs
Labels: none

Improve package.json resolution and cache
  packages/wp-build/src/package-utils.mjs
Labels: none

Use change-case instead of adhoc function
  package-lock.json
  packages/wp-build/package.json
  packages/wp-build/src/build.mjs
  packages/wp-build/src/package-utils.mjs
  packages/wp-build/src/wordpress-externals-plugin.mjs
Labels: none

Testing: Update guidance around unique element IDs
  .eslintrc.js
  packages/block-editor/src/components/inserter/tips.js
  packages/global-styles-ui/src/hooks.ts
  packages/jest-preset-default/scripts/setup-globals.js
  packages/react-native-editor/.eslintrc.js
  packages/sync/src/providers/webrtc-http-stream-signaling.js
  packages/sync/src/utils.ts
Labels: [Package] Block editor, [Package] Jest preset

Better type for replacements
  packages/wp-build/src/php-generator.mjs
Labels: none

Remove useless argument
  packages/wp-build/src/php-generator.mjs
Labels: none

Remove React reference
  .eslintrc.js
  packages/react-native-editor/.eslintrc.js
Labels: none

Simplify vendor package escaping
  packages/wp-build/src/wordpress-externals-plugin.mjs
Labels: none

Small code style tweak
  packages/wp-build/src/wordpress-externals-plugin.mjs
Labels: none

Share php replacements
  packages/wp-build/src/build.mjs
Labels: none

Reorganize style cascade and combine selectors
  packages/edit-post/src/components/layout/index.js
  packages/editor/src/components/editor-interface/index.js
  packages/editor/src/components/header/index.js
Labels: [Package] Edit Post, [Package] Editor

Improve php generator
  packages/wp-build/src/php-generator.mjs
  packages/wp-build/tsconfig.json
Labels: none

Add specific eslint
  packages/wp-build/.eslintrc.cjs
  packages/wp-build/src/build.mjs
  packages/wp-build/src/dependency-graph.mjs
Labels: none

Upgrade Playwright to v1.56
  package-lock.json
  package.json
  packages/scripts/package.json
  test/e2e/specs/editor/various/pattern-overrides.spec.js
  test/e2e/specs/editor/various/patterns.spec.js
Labels: [Package] Scripts

Move editor styles out of editor settings into own editorStyles selector
  docs/reference-guides/data/data-core-editor.md
  packages/edit-post/src/components/layout/index.js
  packages/edit-site/src/components/block-editor/use-site-editor-settings.js
  packages/editor/src/components/global-styles-renderer/index.js
  packages/editor/src/components/visual-editor/index.js
  packages/editor/src/store/actions.js
  packages/editor/src/store/reducer.js
  packages/editor/src/store/selectors.js
Labels: [Package] Edit Post, [Package] Edit Site, [Package] Editor

Track prior user relative position in UndoManager and restore it on undo
  package-lock.json
  packages/sync/package.json
  packages/sync/src/undo-manager.ts
Labels: none

Use correct ordering for dependency blocks
  packages/theme/src/color-ramps/stories/index.stories.tsx
Labels: none

Wire up theme stylesheet
  storybook/package-styles/config.js
  storybook/package-styles/theme.lazy.scss
Labels: none

Update Story file naming to match conventions
  packages/theme/src/color-ramps/stories/index.story.tsx
  packages/theme/src/stories/index.story.tsx
  storybook/main.js
Labels: none

Add inline comment explaining common stylesheet for theme in RTL helper
  storybook/package-styles/config.js
Labels: none

Test: collabe-sidebar perf debugging
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Testing: Add initial CSS logical properties enforcement (CSS modules)
  .stylelintrc.js
  package-lock.json
  package.json
  platform-docs/src/components/HomepageBlocks/styles.module.css
  platform-docs/src/components/HomepageFeatures/styles.module.css
  platform-docs/src/components/HomepageThanks/styles.module.css
  platform-docs/src/components/HomepageTrustedBy/styles.module.css
  platform-docs/src/pages/index.module.css
Labels: none

Re-add state map specific notifications
  packages/core-data/src/actions.js
  packages/core-data/src/entities.js
  packages/sync/src/config.ts
  packages/sync/src/manager.ts
  packages/sync/src/types.ts
Labels: [Package] Core data

RTLCSS Control Directive Fix + Source Maps
  package-lock.json
  packages/scripts/config/babel-transform.js
  packages/scripts/config/jest-environment-puppeteer/config.js
  packages/scripts/config/jest-github-actions-reporter/index.js
  packages/scripts/config/webpack.config.js
  packages/scripts/package.json
  packages/scripts/plugins/rtlcss-webpack-plugin/index.js
  packages/scripts/scripts/plugin-zip.js
  packages/scripts/utils/config.js
Labels: [Package] Scripts
