Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

try: avatar indicators
  lib/experimental/block-comments.php
Labels: none

Enable on pages or posts
  lib/experimental/block-comments.php
Labels: none

refactor comment discussion indicator as class avoiding globals
  lib/experimental/block-comments.php
  lib/experimental/class-gutenberg-discussion-indicator-manager.php
Labels: none

docs cleanup
  lib/experimental/class-gutenberg-discussion-indicator-manager.php
Labels: none

phpcbf
  lib/experimental/block-comments.php
  lib/experimental/class-gutenberg-discussion-indicator-manager.php
Labels: none

explicitly specify hierarchical = false in term queries
  lib/experimental/terms-query-block.php
  packages/block-library/src/term-template/edit.js
Labels: [Package] Block library

taxonomy should be inherited only if there is a termId in context to inherit from
  packages/block-library/src/terms-query/edit/inspector-controls/index.js
Labels: [Package] Block library

fix hierarchical terms displayed for post context
  packages/block-library/src/term-template/edit.js
Labels: [Package] Block library

DataForm: Add flag to hide 'Select item' option in Select control
  packages/dataviews/src/dataform-controls/select.tsx
  packages/dataviews/src/types.ts
Labels: none

Add node types to the dataviews package
  packages/dataviews/tsconfig.json
  tsconfig.base.json
Labels: none

Update packages/block-editor/src/components/block-visibility/menu-item.js
  packages/block-editor/src/components/block-visibility/menu-item.js
Labels: [Package] Block editor

Update packages/block-editor/src/components/block-visibility/menu-item.js
  packages/block-editor/src/components/block-visibility/menu-item.js
Labels: [Package] Block editor

Stabilize Accordion block
  docs/reference-guides/core-blocks.md
  packages/block-library/src/accordion-heading/block.json
  packages/block-library/src/accordion-item/block.json
  packages/block-library/src/accordion-item/index.php
  packages/block-library/src/accordion-panel/block.json
  packages/block-library/src/accordion/block.json
  packages/block-library/src/accordion/index.php
  packages/block-library/src/index.js
  test/integration/fixtures/blocks/core__accordion-heading.html
  test/integration/fixtures/blocks/core__accordion-heading.json
  test/integration/fixtures/blocks/core__accordion-heading.parsed.json
  test/integration/fixtures/blocks/core__accordion-heading.serialized.html
  test/integration/fixtures/blocks/core__accordion-item.html
  test/integration/fixtures/blocks/core__accordion-item.json
  test/integration/fixtures/blocks/core__accordion-item.parsed.json
  test/integration/fixtures/blocks/core__accordion-item.serialized.html
  test/integration/fixtures/blocks/core__accordion-panel.html
  test/integration/fixtures/blocks/core__accordion-panel.json
  test/integration/fixtures/blocks/core__accordion-panel.parsed.json
  test/integration/fixtures/blocks/core__accordion-panel.serialized.html
  test/integration/fixtures/blocks/core__accordion.html
  test/integration/fixtures/blocks/core__accordion.json
  test/integration/fixtures/blocks/core__accordion.parsed.json
  test/integration/fixtures/blocks/core__accordion.serialized.html
Labels: [Package] Block library

fix nested terms inherited from a post, but breaks nested terms that happen to be on a single page
  packages/block-library/src/term-template/edit.js
  packages/block-library/src/term-template/index.php
Labels: [Package] Block library

Update packages/block-editor/src/components/block-visibility/menu-item.js
  packages/block-editor/src/components/block-visibility/menu-item.js
Labels: [Package] Block editor

Update packages/block-editor/src/components/block-visibility/menu-item.js
  packages/block-editor/src/components/block-visibility/menu-item.js
Labels: [Package] Block editor

Fix e2e test for autocomplete
  test/e2e/specs/editor/various/autocomplete-and-mentions.spec.js
Labels: none

Fix e2e test for Push to Global Styles button
  test/e2e/specs/site-editor/push-to-global-styles.spec.js
Labels: none

fix nested term query context from post or term archive
  packages/block-library/src/term-template/edit.js
  packages/block-library/src/term-template/index.php
  packages/block-library/src/terms-query/edit/index.js
  packages/block-library/src/terms-query/index.php
Labels: [Package] Block library

Switch to overriding Custom_WP_Posts_List_Table
  lib/experimental/block-comments.php
  lib/experimental/class-gutenberg-discussion-indicator-manager.php
Labels: none

restore lib/experimental/class-gutenberg-rest-comment-controller.php
  lib/experimental/class-gutenberg-rest-comment-controller.php
Labels: none

Cleanup
  lib/experimental/block-comments.php
Labels: none

more cleanup
  lib/experimental/block-comments.php
Labels: none

add doc blocks
  lib/experimental/block-comments.php
Labels: none

reduce size
  lib/experimental/block-comments.php
Labels: none

Move class to separate file
  lib/experimental/block-comments.php
  lib/experimental/class-custom-wp-posts-list-table.php
Labels: none

move comment_indicator_avatars into class
  lib/experimental/block-comments.php
  lib/experimental/class-custom-wp-posts-list-table.php
Labels: none

whitespace
  lib/experimental/class-custom-wp-posts-list-table.php
Labels: none

fix logic regarding summary field in the panel layout
  packages/dataviews/README.md
  packages/dataviews/src/dataforms-layouts/panel/index.tsx
  packages/edit-site/src/components/post-edit/index.js
Labels: [Package] Edit Site

update default value
  packages/dataviews/src/normalize-form-fields.ts
Labels: none

update story
  packages/dataviews/src/components/dataform/stories/index.story.tsx
Labels: none

refactor normalization of card summary field for improved clarity and reuse
  packages/dataviews/src/normalize-form-fields.ts
Labels: none

improve changelog
  packages/dataviews/CHANGELOG.md
Labels: none

fix unit test
  packages/dataviews/src/test/normalize-form-fields.ts
Labels: none

add breaking changes section
  packages/dataviews/CHANGELOG.md
Labels: none

Fix type in fixture files
  test/integration/fixtures/blocks/core__accordion-item.html
  test/integration/fixtures/blocks/core__accordion-item.json
  test/integration/fixtures/blocks/core__accordion-item.parsed.json
  test/integration/fixtures/blocks/core__accordion-item.serialized.html
  test/integration/fixtures/blocks/core__accordion-panel.html
  test/integration/fixtures/blocks/core__accordion-panel.json
  test/integration/fixtures/blocks/core__accordion-panel.parsed.json
  test/integration/fixtures/blocks/core__accordion-panel.serialized.html
  test/integration/fixtures/blocks/core__accordion.html
  test/integration/fixtures/blocks/core__accordion.json
  test/integration/fixtures/blocks/core__accordion.parsed.json
  test/integration/fixtures/blocks/core__accordion.serialized.html
Labels: none

Update description
  docs/reference-guides/block-api/block-supports.md
  schemas/json/block.json
Labels: none

Accordion Item and Panel: Remove layout from the block supports
  docs/reference-guides/core-blocks.md
  packages/block-library/src/accordion-item/block.json
  packages/block-library/src/accordion-panel/block.json
Labels: [Package] Block library

Update README
  packages/dataviews/README.md
Labels: none

Remove layout info so highlight summary coming from field ID
  packages/dataviews/src/components/dataform/stories/index.story.tsx
Labels: none

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**
