Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

Remove onSelect
  packages/block-editor/src/hooks/block-bindings.js
  packages/blocks/src/api/registration.js
  packages/e2e-tests/plugins/block-bindings/index.js
  packages/editor/src/bindings/post-data.js
  packages/editor/src/bindings/post-meta.js
  packages/editor/src/bindings/term-data.js
Labels: [Package] Block editor, [Package] Blocks, [Package] E2E Tests, [Package] Editor

Pass attribute to the modal function
  packages/block-editor/src/hooks/block-bindings.js
Labels: [Package] Block editor

Address more fixes
  packages/block-editor/src/components/rich-text/index.js
Labels: [Package] Block editor

Remove deprecated getFieldsList
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/hooks/block-bindings.js
  packages/editor/src/bindings/post-data.js
  packages/editor/src/bindings/post-meta.js
Labels: [Package] Block editor, [Package] Editor

Sourcekey is needed
  packages/block-editor/src/hooks/block-bindings.js
Labels: [Package] Block editor

Add backport changelog
  backport-changelog/6.9/60778.md
Labels: none

Remove context trick, fix post data registration
  lib/compat/wordpress-6.9/post-data-block-bindings.php
  packages/block-editor/src/hooks/block-bindings.js
Labels: [Package] Block editor

Add e2e to post-data binding source
  test/e2e/specs/editor/various/block-bindings/post-data.spec.js
Labels: none

Address feedback
  packages/block-editor/src/components/rich-text/index.js
  packages/blocks/src/api/registration.js
Labels: [Package] Block editor, [Package] Blocks

Forgot to remove that
  packages/blocks/src/api/test/registration.js
Labels: [Package] Blocks

Use item instead of value
  packages/block-editor/src/hooks/block-bindings.js
  packages/blocks/src/api/registration.js
  packages/e2e-tests/plugins/block-bindings/index.js
  packages/editor/src/bindings/post-data.js
  packages/editor/src/bindings/post-meta.js
  packages/editor/src/bindings/term-data.js
Labels: [Package] Block editor, [Package] Blocks, [Package] E2E Tests, [Package] Editor

Remove more getFieldsList uses
  packages/blocks/src/api/registration.js
  packages/editor/src/bindings/post-data.js
  packages/editor/src/bindings/term-data.js
Labels: [Package] Blocks, [Package] Editor

Reduce modal overload
  packages/block-editor/src/hooks/block-bindings.js
Labels: [Package] Block editor

Add ton of changes
  docs/reference-guides/block-api/block-bindings.md
  packages/block-editor/src/hooks/block-bindings.js
  packages/blocks/src/api/registration.js
  packages/blocks/src/api/test/registration.js
  packages/editor/src/bindings/post-data.js
  packages/editor/src/bindings/post-meta.js
  packages/editor/src/bindings/term-data.js
  test/e2e/specs/editor/various/block-bindings/custom-sources.spec.js
  test/e2e/specs/editor/various/block-bindings/post-meta.spec.js
Labels: [Package] Block editor, [Package] Blocks, [Package] Editor

Remove now-obsolete keys from editorUI data items
  packages/editor/src/bindings/post-data.js
  packages/editor/src/bindings/post-meta.js
  packages/editor/src/bindings/term-data.js
Labels: [Package] Editor

Adapt code to new server bindable attributes getter
  packages/block-editor/src/hooks/block-bindings.js
Labels: [Package] Block editor

Add no data available
  packages/block-editor/src/hooks/block-bindings.js
  test/e2e/specs/editor/various/block-bindings/custom-sources.spec.js
Labels: [Package] Block editor

Fix unnecessary double click
  packages/block-editor/src/hooks/block-bindings.js
Labels: [Package] Block editor

Make react key more stable
  packages/block-editor/src/hooks/block-bindings.js
Labels: [Package] Block editor

Update WPBlockBindingsEditorUIDataItem type def
  packages/blocks/src/api/registration.js
Labels: [Package] Blocks

Registration: Remove validation of value field
  packages/blocks/src/api/registration.js
Labels: [Package] Blocks

Move the renderModal to a React component
  packages/block-editor/src/hooks/block-bindings.js
Labels: [Package] Block editor

New approach that simplifies a lot
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/hooks/block-bindings.js
  packages/e2e-tests/plugins/block-bindings/index.js
  packages/editor/src/bindings/post-data.js
  packages/editor/src/bindings/post-meta.js
  packages/editor/src/bindings/term-data.js
  test/e2e/specs/editor/various/block-bindings/post-meta.spec.js
Labels: [Package] Block editor, [Package] E2E Tests, [Package] Editor

Remove more now-obsolete value fields
  packages/blocks/src/api/test/registration.js
  packages/e2e-tests/plugins/block-bindings/index.js
Labels: [Package] Blocks, [Package] E2E Tests

Update docs
  docs/reference-guides/block-api/block-bindings.md
Labels: none

Remove stray dependencies header
  packages/blocks/src/store/private-actions.js
Labels: [Package] Blocks

Fix isSelected checker bug
  packages/block-editor/src/hooks/block-bindings.js
Labels: [Package] Block editor

Fix registration tests
  packages/blocks/src/api/test/registration.js
Labels: [Package] Blocks

Block Comment: Add utility function to focus thead
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/index.js
  packages/editor/src/components/collab-sidebar/utils.js
Labels: [Package] Editor

Not need to deprecate getFieldsList, as it was only in Gutenberg and Core post meta
  docs/reference-guides/block-api/block-bindings.md
  packages/blocks/src/api/registration.js
  packages/blocks/src/api/test/registration.js
Labels: [Package] Blocks

Remove docs and wait for 6.9 beta at least
  docs/reference-guides/block-api/block-bindings.md
Labels: none

Remove extra empty line
  docs/reference-guides/block-api/block-bindings.md
Labels: none

Remove unused ref
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Remove extra traverseBlockTree call in getDerivedBlockEditingModesUpdates
  packages/block-editor/src/store/reducer.js
Labels: [Package] Block editor

Add blockVisibility support to Synced Pattern and Template Part
  docs/reference-guides/core-blocks.md
  packages/block-library/src/block/block.json
  packages/block-library/src/template-part/block.json
Labels: [Package] Block library

Remove <figcaption> node if caption is empty
  lib/compat/wordpress-6.9/block-bindings.php
  packages/block-library/src/image/index.php
Labels: [Package] Block library

Image block: Conditionally remove empty <figcaption>
  packages/block-library/src/image/index.php
Labels: [Package] Block library

Make it self-contained
  lib/compat/wordpress-6.9/block-bindings.php
  packages/block-library/src/image/index.php
  phpunit/block-bindings-test.php
  phpunit/blocks/render-block-image-test.php
Labels: [Package] Block library

Cosmetics
  packages/block-library/src/image/index.php
Labels: [Package] Block library

Better use subclass and overloading to fix visibility
  packages/block-library/src/image/index.php
Labels: [Package] Block library
