Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

add required indication
  packages/dataviews/src/dataform-controls/date.tsx
Labels: none

CalendarDateControl: take DataFormControlProps as input
  packages/dataviews/src/dataform-controls/date.tsx
Labels: none

Add test for multiple posts
  phpunit/experimental/rest-api-comment-permissions-test.php
Labels: none

Add changelog
  packages/dataviews/CHANGELOG.md
Labels: none

Do not use curly braces
  packages/dataviews/src/dataform-controls/date.tsx
Labels: none

e2e fixes
  test/e2e/specs/editor/plugins/block-variations.spec.js
  test/e2e/specs/site-editor/template-part.spec.js
  test/e2e/specs/widgets/editing-widgets.spec.js
Labels: none

Fix php unit test
  phpunit/script-dependencies-test.php
Labels: none

fix lint issue
  test/e2e/specs/editor/plugins/block-variations.spec.js
Labels: none

include backport information
  backport-changelog/6.9/10190.md
Labels: none

minimal nested inheritance support (editor only)
  packages/block-library/src/term-template/block.json
  packages/block-library/src/term-template/edit.js
  packages/block-library/src/terms-query/block.json
  packages/block-library/src/terms-query/edit/index.js
  packages/block-library/src/terms-query/edit/inspector-controls/index.js
  packages/block-library/src/terms-query/edit/inspector-controls/inherit-control.js
Labels: [Package] Block library

Add manual URL binding resolution to navigation blocks
  packages/block-library/src/navigation-link/index.php
  packages/block-library/src/navigation-submenu/index.php
Labels: [Package] Block library

More simple packages
  bin/packages/v2-packages.js
  packages/api-fetch/package.json
  packages/date/package.json
  packages/dom/package.json
  packages/keycodes/package.json
  packages/sync/package.json
  packages/undo-manager/package.json
Labels: [Package] API fetch, [Package] Date, [Package] DOM, [Package] Keycodes

Template activation: adjust saveEntityRecord compat
  packages/core-data/src/actions.js
Labels: [Package] Core data

Fix PHPCS formatting issues in navigation blocks
  packages/block-library/src/navigation-link/index.php
  packages/block-library/src/navigation-submenu/index.php
Labels: [Package] Block library

Add keyboard shortcut toggle block visibility
  packages/block-editor/src/components/block-tools/index.js
  packages/block-editor/src/components/keyboard-shortcuts/index.js
  packages/block-editor/src/components/list-view/block.js
Labels: [Package] Block editor

handle front end nesting
  packages/block-library/src/term-template/index.php
Labels: [Package] Block library

Rename tagName to level
  docs/reference-guides/core-blocks.md
  packages/block-library/src/term-name/block.json
  packages/block-library/src/term-name/edit.js
  packages/block-library/src/term-name/index.php
Labels: [Package] Block library

adjust inherit control label based on context
  packages/block-library/src/terms-query/edit/inspector-controls/index.js
Labels: [Package] Block library

Fix packages that only expose some build targets but not all
  bin/packages/build-v2.mjs
  packages/report-flaky-tests/package.json
Labels: none

Fix navigation link entity handling regression
  packages/block-library/src/navigation-link/link-ui/index.js
  test/e2e/specs/editor/blocks/navigation.spec.js
Labels: [Package] Block library

Pass in object type and object ID instead of computing them
  packages/core-data/src/actions.js
  packages/core-data/src/entities.js
  packages/core-data/src/resolvers.js
  packages/sync/src/provider.js
  packages/sync/src/types.ts
Labels: [Package] Core data

Merge logic
  packages/core-data/src/actions.js
Labels: [Package] Core data

Block Comments: Split 'isSelected' and 'isExpanded' states
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Fix 'x more replies' button
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Derive initial expanded state for newly mounted thread
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

working initial version
  packages/dataviews/src/dataform-controls/datetime.tsx
  packages/dataviews/src/stories/dataform.story.tsx
Labels: none

CalendarDateTimeControl: take DataFormControlProps as input
  packages/dataviews/src/dataform-controls/datetime.tsx
  packages/dataviews/src/stories/dataform.story.tsx
Labels: none

working perfecttly
  packages/dataviews/src/dataform-controls/datetime.tsx
Labels: none

further simplication
  packages/dataviews/src/dataform-controls/datetime.tsx
Labels: none

minor improvemne
  packages/dataviews/src/dataform-controls/datetime.tsx
Labels: none

working perfect way but hacky
  packages/dataviews/src/dataform-controls/datetime.tsx
Labels: none

add required indicator
  packages/dataviews/src/dataform-controls/datetime.tsx
Labels: none

update PR number in changelog
  packages/dataviews/CHANGELOG.md
Labels: none

Add changelog
  packages/dataviews/CHANGELOG.md
Labels: none

update changelog format
  packages/dataviews/CHANGELOG.md
Labels: none

Fix php unit test
  phpunit/script-dependencies-test.php
Labels: none

Update changelog
  packages/dataviews/CHANGELOG.md
Labels: none

Fix: Prevent focus loss in Firefox when typing in sidebar inputs
  packages/rich-text/src/to-dom.js
  test/e2e/specs/editor/blocks/navigation.spec.js
Labels: [Package] Rich text

Add missing rebase
  packages/dataviews/src/stories/dataform.story.tsx
Labels: none

Output the class attribute correctly in HTML
  packages/format-library/src/link/inline.js
  packages/format-library/src/link/utils.js
Labels: [Package] Format library
