Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

Add and edit comments
  packages/block-library/src/navigation-link/shared/controls.js
Labels: [Package] Block library

Update unit test to use userEvents
  packages/block-library/src/navigation-link/shared/test/controls.js
Labels: [Package] Block library

Hide font size when fit text is on.
  packages/block-editor/src/components/global-styles/typography-panel.js
  packages/block-editor/src/hooks/typography.js
Labels: [Package] Block editor

Update lastURLRef within the useEffect as a safeguard
  packages/block-library/src/navigation-link/shared/controls.js
Labels: [Package] Block library

Set allowReRegistration to false for testing
  packages/private-apis/src/implementation.ts
Labels: [Package] Private APIs

Build: Update output folders for scripts and modules
  .github/workflows/bundle-size.yml
  .github/workflows/unit-test.yml
  bin/packages/build-vendors.mjs
  bin/packages/build.mjs
  lib/blocks.php
  lib/client-assets.php
  lib/experimental/posts/load.php
Labels: none

Use the scripts folder for copy
  bin/packages/build.mjs
  lib/blocks.php
Labels: none

Fix notice
  gutenberg.php
Labels: none

Update actions not to use DataForm
  packages/fields/src/actions/duplicate-post.tsx
  packages/fields/src/actions/reorder-page.tsx
Labels: none

Duplicate: use fallback if value is empty
  packages/fields/src/actions/duplicate-post.tsx
Labels: none

Reorder: validate input
  packages/fields/src/actions/reorder-page.tsx
Labels: none

Remove now-obsolete fallback from edit
  packages/block-library/src/post-date/edit.js
Labels: [Package] Block library

Remove now-obsolete fallback from variations
  packages/block-library/src/post-date/variations.js
Labels: [Package] Block library

Fix issue with switching to custom font size and not having the size filled in from selected preset
  packages/components/src/font-size-picker/index.tsx
Labels: [Package] Components

try floating new new
  packages/editor/src/components/collab-sidebar/add-comment.js
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/hooks.js
Labels: [Package] Editor

Remove now-obsolete fallback from post-data source
  packages/editor/src/bindings/post-data.js
Labels: [Package] Editor

fittext end to end test in progress
  test/e2e/specs/editor/blocks/fit-text.spec.js
Labels: none

fix itimout usage
  test/e2e/specs/editor/blocks/fit-text.spec.js
Labels: none

remove unrequired waits
  test/e2e/specs/editor/blocks/fit-text.spec.js
Labels: none

fix frontend test issue
  test/e2e/specs/editor/blocks/fit-text.spec.js
Labels: none

in progress fixes
  test/e2e/specs/editor/blocks/fit-text.spec.js
Labels: none

remove timeouts
  test/e2e/specs/editor/blocks/fit-text.spec.js
Labels: none

selector fixes
  test/e2e/specs/editor/blocks/fit-text.spec.js
Labels: none

improve test by making it match the font size set on inline style
  test/e2e/specs/editor/blocks/fit-text.spec.js
Labels: none

remove unnecessary await
  test/e2e/specs/editor/blocks/fit-text.spec.js
Labels: none

Update style engine php load paths
  lib/load.php
Labels: none

Reorder page: update set logic
  packages/fields/src/actions/reorder-page.tsx
Labels: none

Revert changes to allowReRegistration
  packages/private-apis/src/implementation.ts
Labels: [Package] Private APIs

disable fit text
  packages/block-editor/src/components/global-styles/typography-panel.js
  packages/components/src/font-size-picker/index.tsx
  packages/components/src/font-size-picker/types.ts
Labels: [Package] Block editor, [Package] Components

Fix rendering of Query Loop block for users without permissions to edit the post type
  packages/block-library/src/post-template/edit.js
  packages/block-library/src/post-title/edit.js
  packages/core-data/README.md
  packages/core-data/src/hooks/use-entity-prop.js
Labels: [Package] Block library, [Package] Core data

propagate the disable prop
  packages/components/src/custom-select-control-v2/custom-select.tsx
  packages/components/src/custom-select-control-v2/types.ts
  packages/components/src/custom-select-control/index.tsx
  packages/components/src/custom-select-control/types.ts
  packages/components/src/font-size-picker/font-size-picker-select.tsx
  packages/components/src/font-size-picker/font-size-picker-toggle-group.tsx
  packages/components/src/font-size-picker/index.tsx
Labels: [Package] Components

make bulk actions text based
  packages/dataviews/src/components/dataviews-bulk-actions/index.tsx
Labels: none

Notes: Don't render 'no results' message for floating sidebar (#72484)
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Post Date: Add block deprecation to change source arg to field (#72483)
  packages/block-library/src/post-date/deprecated.js
  packages/block-library/src/post-date/edit.js
  packages/block-library/src/post-date/variations.js
  packages/editor/src/bindings/post-data.js
  test/integration/fixtures/blocks/core__post-date__deprecated-v3.html
  test/integration/fixtures/blocks/core__post-date__deprecated-v3.json
  test/integration/fixtures/blocks/core__post-date__deprecated-v3.parsed.json
  test/integration/fixtures/blocks/core__post-date__deprecated-v3.serialized.html
Labels: [Package] Block library, [Package] Editor

Prevent registering private APIs twice (#72493)
  packages/fields/src/actions/duplicate-post.tsx
  packages/fields/src/actions/reorder-page.tsx
Labels: none

chore(release): publish
  package-lock.json
  packages/block-directory/package.json
  packages/block-library/package.json
  packages/customize-widgets/package.json
  packages/edit-post/package.json
  packages/edit-site/package.json
  packages/edit-widgets/package.json
  packages/editor/package.json
  packages/fields/package.json
Labels: [Package] Block library, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor

Ensure Yjs imports are inside experimental flag check
  packages/core-data/src/actions.js
  packages/core-data/src/entities.js
  packages/core-data/src/resolvers.js
  packages/core-data/src/sync.ts
  packages/core-data/src/test/resolvers.js
Labels: [Package] Core data

remove debug logging
  packages/editor/src/components/collab-sidebar/add-comment.js
  packages/editor/src/components/collab-sidebar/hooks.js
Labels: [Package] Editor

Include quill-delta with fast-diff replacement
  package-lock.json
  packages/core-data/src/utils/crdt-blocks.ts
  packages/core-data/src/utils/crdt.ts
  packages/core-data/src/utils/test/crdt-blocks.ts
  packages/sync/package.json
  packages/sync/src/index.ts
  packages/sync/src/quill-delta/AttributeMap.ts
  packages/sync/src/quill-delta/Delta.ts
  packages/sync/src/quill-delta/LICENSE
  packages/sync/src/quill-delta/Op.ts
  packages/sync/src/quill-delta/OpIterator.ts
  packages/sync/src/quill-delta/test/Delta.ts
Labels: [Package] Core data

Fix build assets path
  .github/workflows/unit-test.yml
Labels: none
