Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

Update packages/block-library/src/latest-comments/index.php
  packages/block-library/src/latest-comments/index.php
Labels: [Package] Block library

Update packages/block-library/src/latest-comments/edit.js
  packages/block-library/src/latest-comments/edit.js
Labels: [Package] Block library

fixtures:regenerate
  test/integration/fixtures/blocks/core__latest-comments__deprecated-v1.json
  test/integration/fixtures/blocks/core__latest-comments__deprecated-v1.serialized.html
Labels: none

style: move LTR direction rule to .wp-block-math__textarea-control selector for clarity
  packages/block-library/src/math/edit.js
  packages/block-library/src/math/editor.scss
Labels: [Package] Block library

fix: add exports field to create-block-interactive-template
  packages/create-block-interactive-template/package.json
Labels: [Package] Create Block

Feedback changes.
  schemas/json/theme.json
Labels: none

Blocks: Add paste handler for Grok AI content
  packages/blocks/src/api/raw-handling/grok-converter.js
  packages/blocks/src/api/raw-handling/paste-handler.js
Labels: [Package] Blocks

Block Editor: Add Enter key navigation from Accordion Heading to Panel
  packages/block-library/src/accordion-heading/block.json
  packages/block-library/src/accordion-heading/edit.js
Labels: [Package] Block library

Load all notes
  packages/editor/src/components/collab-sidebar/hooks.js
Labels: [Package] Editor

Try staggering note loading parents first
  packages/editor/src/components/collab-sidebar/hooks.js
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Packages: Do not limit the exports of the template packages
  packages/create-block-interactive-template/package.json
  packages/create-block-tutorial-template/package.json
Labels: [Package] Create Block

Fix lock file
  package-lock.json
Labels: none

Create ListNode mergeKLists.java
  ListNode mergeKLists.java
Labels: none

Load children after first load completes
  packages/editor/src/components/collab-sidebar/hooks.js
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Staggered loading when over 100 notes
  lib/compat/wordpress-6.9/block-comments.php
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Changes made
  docs/reference-guides/core-blocks.md
Labels: none

Add documentation and schema for contentRole block support
  docs/reference-guides/block-api/block-supports.md
  schemas/json/block.json
Labels: none

Command Palette: Disable site editor navigation commands on Network Admin
  lib/compat/wordpress-6.9/command-palette.php
  packages/core-commands/src/index.js
  packages/core-commands/src/site-editor-navigation-commands.js
Labels: none

Add backport changelog
  backport-changelog/6.9/10422.md
Labels: none

Fix e2e tests
  packages/e2e-tests/plugins/iframed-enqueue-block-editor-settings.php
  packages/edit-site/src/components/sidebar-navigation-screen-global-styles/index.js
  packages/edit-site/src/hooks/commands/use-common-commands.js
  packages/editor/src/components/styles-canvas/revisions.js
  test/e2e/specs/editor/plugins/iframed-enqueue-block-editor-settings.spec.js
  test/e2e/specs/site-editor/block-style-variations.spec.js
  test/e2e/specs/site-editor/styles.spec.js
  test/e2e/specs/site-editor/user-global-styles-revisions.spec.js
Labels: [Package] E2E Tests, [Package] Edit Site, [Package] Editor

Fix e2e
  packages/edit-site/src/components/dataviews-actions/index.js
Labels: [Package] Edit Site

template activation: remove the ability to deactivate default templates
  lib/compat/wordpress-6.9/template-activate.php
  packages/edit-site/src/components/dataviews-actions/index.js
  packages/edit-site/src/components/page-templates/index.js
Labels: [Package] Edit Site

remove option to make the card with border
  packages/dataviews/src/dataform-layouts/card/index.tsx
  packages/dataviews/src/dataform-layouts/normalize-form-fields.ts
  packages/dataviews/src/stories/dataform.story.tsx
  packages/dataviews/src/test/normalize-form-fields.ts
  packages/dataviews/src/types/dataform.ts
Labels: none

backport log
  backport-changelog/6.9/8063.md
Labels: none

Template activation: rename new endpoints
  lib/compat/wordpress-6.9/class-gutenberg-rest-static-templates-controller.php
  lib/compat/wordpress-6.9/template-activate.php
  packages/core-data/src/entities.js
Labels: [Package] Core data

backport log
  backport-changelog/6.9/8063.md
Labels: none

Global Styles: Fix the save panel changes
  docs/private-apis.md
  package-lock.json
  packages/block-editor/src/components/global-styles/index.js
  packages/editor/src/components/entities-saved-states/entity-type-list.js
  packages/global-styles-engine/package.json
  packages/global-styles-engine/src/index.ts
  packages/global-styles-engine/src/test/get-global-styles-changes.test.ts
  packages/global-styles-engine/src/utils/get-global-styles-changes.ts
  packages/global-styles-ui/src/screen-revisions/revisions-buttons.tsx
Labels: [Package] Block editor, [Package] Editor

address feedback
  packages/components/src/card/card-body/README.md
  packages/components/src/card/card-footer/README.md
  packages/components/src/card/card-header/README.md
  packages/components/src/card/card/README.md
  packages/components/src/card/get-padding-by-size.ts
  packages/components/src/card/stories/index.story.tsx
  packages/components/src/card/types.ts
Labels: [Package] Components

Refactor padding options in FormCardField component to use blockStart/blockEnd and inlineStart/inlineEnd instead of top/right/bottom/left for improved layout flexibility
  packages/dataviews/src/dataform-layouts/card/index.tsx
Labels: none

Remove unnecessary tabIndex from the new note form
  packages/editor/src/components/collab-sidebar/add-comment.js
Labels: [Package] Editor

Remove unnecessary wrapper
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Fixed Integration tests to support wp:heading in place of Paragragh.
  test/integration/fixtures/documents/ms-word-online-out.html
Labels: none

Heading Transformer filter added
  packages/blocks/src/api/raw-handling/heading-transformer.js
  packages/blocks/src/api/raw-handling/paste-handler.js
Labels: [Package] Blocks

Updated Readme file with Word Online Headings support
  packages/blocks/src/api/raw-handling/readme.md
Labels: [Package] Blocks

Global Styles: Cleanup the previous global styles private exports in block-editor package
  docs/private-apis.md
  packages/block-editor/src/components/global-styles/index.js
  packages/block-editor/src/components/global-styles/test/utils.js
  packages/block-editor/src/components/global-styles/utils.js
  packages/global-styles-engine/package.json
  packages/global-styles-engine/src/core/equal.ts
  packages/global-styles-engine/src/index.ts
  packages/global-styles-ui/package.json
  packages/global-styles-ui/src/screen-revisions/index.tsx
  packages/global-styles-ui/src/utils.ts
  packages/global-styles-ui/src/variations/variation.tsx
Labels: [Package] Block editor

More cleanup
  package-lock.json
  packages/block-editor/src/components/block-toolbar/switch-section-style.js
  packages/block-editor/src/components/global-styles/context.js
  packages/block-editor/src/components/global-styles/index.js
  packages/block-editor/src/hooks/block-style-variation.js
Labels: [Package] Block editor

Accordion: Dont' show Add button in contentOnly mode
  packages/block-library/src/accordion/edit.js
Labels: [Package] Block library

Enable previous WordPress version tests for pull requests
  .github/workflows/unit-test.yml
Labels: none

Build: Generate plugin version and make the build script plugin agnostic
  bin/build-plugin-zip.sh
  bin/generate-gutenberg-php.php
  bin/packages/build.mjs
  bin/packages/templates/index.php.template
  bin/packages/templates/script-registration.php.template
  bin/packages/templates/version.php.template
  gutenberg.php
  phpcs.xml.dist
Labels: none

Notes: always open histroy sidebar if note is resolved
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor
