Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

CHANGED CHANGELOG.MD ACCORDINGLY
  packages/create-block/CHANGELOG.md
Labels: [Package] Create Block

Fix typo in server-side rendering documentation
  docs/reference-guides/interactivity-api/core-concepts/server-side-rendering.md
Labels: none

Fix typo in link to derived state documentation
  docs/reference-guides/interactivity-api/core-concepts/using-typescript.md
Labels: none

fix taxonomy selector while inherit is true, breaks auto-inherit from template
  packages/block-library/src/terms-query/edit/index.js
Labels: [Package] Block library

Fix PHP 8.5 array offset deprecation warning
  lib/compat/wordpress-6.9/block-bindings.php
Labels: none

Fix ESLint error
  packages/create-block/lib/init-package-json.js
Labels: [Package] Create Block

Fix ESLint error
  packages/create-block/lib/init-package-json.js
Labels: [Package] Create Block

pretier
  packages/block-editor/src/private-apis.js
Labels: [Package] Block editor

Block Comments: Select block when comment is selected
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Add e2e test
  test/e2e/specs/editor/various/block-comments.spec.js
Labels: none

[Do Not Merge] Try to find the cause of e2e test failures
  .github/workflows/end2end-test.yml
Labels: none

Skip some tests
  .github/workflows/build-plugin-zip.yml
  .github/workflows/create-block.yml
  .github/workflows/unit-test.yml
Labels: none

Tweak lightbox button style
  packages/block-library/src/image/style.scss
Labels: [Package] Block library

Apply randomize order setting to lightbox images
  packages/block-library/src/gallery/index.php
  packages/block-library/src/image/view.js
Labels: [Package] Block library

Revert "Use block bindings to dynamically fetch the URL for Navigation Link in the editor and on front end (#71630)"
  backport-changelog/6.9/10141.md
  lib/compat/wordpress-6.9/block-bindings.php
  lib/compat/wordpress-6.9/entity-block-bindings.php
  lib/load.php
  packages/block-editor/src/components/link-control/index.js
  packages/block-editor/src/components/link-control/search-input.js
  packages/block-editor/src/components/link-control/style.scss
  packages/block-editor/src/components/link-control/test/index.js
  packages/block-editor/src/components/url-input/index.js
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation-link/link-ui/index.js
  packages/block-library/src/navigation-link/shared/controls.js
  packages/block-library/src/navigation-link/shared/index.js
  packages/block-library/src/navigation-link/shared/test/controls.js
  packages/block-library/src/navigation-link/shared/test/use-entity-binding.js
  packages/block-library/src/navigation-link/shared/use-entity-binding.js
  packages/block-library/src/navigation-submenu/edit.js
  packages/editor/src/bindings/api.js
  packages/editor/src/bindings/entity.js
  test/e2e/specs/editor/blocks/navigation.spec.js
Labels: [Package] Block editor, [Package] Block library, [Package] Editor

fix:w
  packages/block-editor/src/components/list-view/block.js
  packages/block-editor/src/components/list-view/style.scss
Labels: [Package] Block editor

Refactoring
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Create block: update DocBlock with exposed variables for render.php templates
  packages/create-block/lib/templates/block/render.php.mustache
  packages/create-block/lib/templates/es5/render.php.mustache
Labels: [Package] Create Block

Build: Support watching SVG icons to generate TSX
  bin/packages/build-worker.js
  bin/packages/watch.js
  packages/icons/lib/build-worker-utils.js
  packages/icons/lib/generate-library.js
  packages/icons/package.json
Labels: [Package] Icons

Adjust tests to reflect correct order
  test/e2e/specs/editor/various/block-comments.spec.js
Labels: none

run npm install
  package-lock.json
Labels: none

fix-area-expanded
  packages/block-library/src/page-list-item/edit.js
Labels: [Package] Block library

contentOnly: add getParentSectionBlock to canInsertBlockType dependencies to fix selector caching issues
  packages/block-editor/src/store/utils.js
Labels: [Package] Block editor

Replace with getBlockEditingMode selector
  packages/block-editor/src/store/utils.js
Labels: [Package] Block editor

Update tests to ensure there's at least an empty Map for blockEditingModes
  packages/block-editor/src/store/test/selectors.js
Labels: [Package] Block editor

rename block to post breadcrumbs
  docs/reference-guides/core-blocks.md
  lib/blocks.php
  packages/block-library/src/index.js
  packages/block-library/src/post-breadcrumbs/block.json
  packages/block-library/src/post-breadcrumbs/edit.js
  packages/block-library/src/post-breadcrumbs/index.js
  packages/block-library/src/post-breadcrumbs/index.php
  packages/block-library/src/post-breadcrumbs/style.scss
  packages/block-library/src/style.scss
  test/integration/fixtures/blocks/core__post-breadcrumbs.html
  test/integration/fixtures/blocks/core__post-breadcrumbs.json
  test/integration/fixtures/blocks/core__post-breadcrumbs.parsed.json
  test/integration/fixtures/blocks/core__post-breadcrumbs.serialized.html
Labels: [Package] Block library

add show home page link and fix css
  docs/reference-guides/core-blocks.md
  lib/blocks.php
  packages/block-library/src/post-breadcrumb/block.json
  packages/block-library/src/post-breadcrumb/edit.js
  packages/block-library/src/post-breadcrumb/index.js
  packages/block-library/src/post-breadcrumb/index.php
  packages/block-library/src/post-breadcrumb/style.scss
Labels: [Package] Block library

fix lint php
  lib/blocks.php
  packages/block-library/src/post-breadcrumbs/index.php
Labels: [Package] Block library

feedback part 1
  docs/reference-guides/core-blocks.md
  lib/blocks.php
  packages/block-library/src/breadcrumbs/block.json
  packages/block-library/src/breadcrumbs/edit.js
  packages/block-library/src/breadcrumbs/index.js
  packages/block-library/src/breadcrumbs/index.php
  packages/block-library/src/breadcrumbs/style.scss
  packages/block-library/src/index.js
  packages/block-library/src/style.scss
  packages/editor/src/components/provider/use-hide-blocks-from-inserter.js
  test/integration/fixtures/blocks/core__breadcrumbs.html
  test/integration/fixtures/blocks/core__breadcrumbs.json
  test/integration/fixtures/blocks/core__breadcrumbs.parsed.json
  test/integration/fixtures/blocks/core__breadcrumbs.serialized.html
  test/integration/fixtures/blocks/core__post-breadcrumbs.html
  test/integration/fixtures/blocks/core__post-breadcrumbs.serialized.html
Labels: [Package] Block library, [Package] Editor

Block Library: Add breadcrumb block
  lib/blocks.php
  packages/block-library/src/index.js
  packages/block-library/src/post-breadcrumb/block.json
  packages/block-library/src/post-breadcrumb/edit.js
  packages/block-library/src/post-breadcrumb/index.js
  packages/block-library/src/post-breadcrumb/index.php
  packages/block-library/src/post-breadcrumb/style.scss
  packages/block-library/src/style.scss
Labels: [Package] Block library

feedback
  packages/block-library/src/post-breadcrumbs/edit.js
  packages/block-library/src/post-breadcrumbs/style.scss
Labels: [Package] Block library

php lint
  packages/block-library/src/post-breadcrumbs/index.php
Labels: [Package] Block library

Revert "add terms breadcrumbs variation"
  docs/reference-guides/core-blocks.md
  packages/block-library/src/post-breadcrumbs/block.json
  packages/block-library/src/post-breadcrumbs/edit.js
  packages/block-library/src/post-breadcrumbs/index.js
  packages/block-library/src/post-breadcrumbs/index.php
  packages/block-library/src/post-breadcrumbs/variations.js
  packages/editor/src/components/provider/use-hide-blocks-from-inserter.js
  test/integration/fixtures/blocks/core__post-breadcrumbs.json
Labels: [Package] Block library, [Package] Editor

fix what taxonomy to use
  packages/block-library/src/post-breadcrumbs/index.php
Labels: [Package] Block library

tiny var rename
  packages/block-library/src/post-breadcrumbs/edit.js
Labels: [Package] Block library

add aria-label and inert
  packages/block-library/src/post-breadcrumbs/edit.js
  packages/block-library/src/post-breadcrumbs/index.php
Labels: [Package] Block library

rename to post breadcrumbs
  docs/reference-guides/core-blocks.md
  lib/blocks.php
  packages/block-library/src/index.js
  packages/block-library/src/post-breadcrumbs/block.json
  packages/block-library/src/post-breadcrumbs/edit.js
  packages/block-library/src/post-breadcrumbs/index.js
  packages/block-library/src/post-breadcrumbs/index.php
  packages/block-library/src/post-breadcrumbs/style.scss
  packages/block-library/src/style.scss
  packages/editor/src/components/provider/use-hide-blocks-from-inserter.js
  test/integration/fixtures/blocks/core__breadcrumbs.html
  test/integration/fixtures/blocks/core__breadcrumbs.serialized.html
  test/integration/fixtures/blocks/core__post-breadcrumbs.html
  test/integration/fixtures/blocks/core__post-breadcrumbs.json
  test/integration/fixtures/blocks/core__post-breadcrumbs.parsed.json
  test/integration/fixtures/blocks/core__post-breadcrumbs.serialized.html
Labels: [Package] Block library, [Package] Editor

add terms breadcrumbs variation
  docs/reference-guides/core-blocks.md
  packages/block-library/src/post-breadcrumbs/block.json
  packages/block-library/src/post-breadcrumbs/edit.js
  packages/block-library/src/post-breadcrumbs/index.js
  packages/block-library/src/post-breadcrumbs/index.php
  packages/block-library/src/post-breadcrumbs/variations.js
  packages/editor/src/components/provider/use-hide-blocks-from-inserter.js
  test/integration/fixtures/blocks/core__post-breadcrumbs.json
Labels: [Package] Block library, [Package] Editor

feedback
  docs/reference-guides/core-blocks.md
  packages/block-library/src/breadcrumbs/block.json
  packages/block-library/src/breadcrumbs/edit.js
  packages/block-library/src/breadcrumbs/index.js
  packages/icons/src/library/breadcrumbs.tsx
Labels: [Package] Block library, [Package] Icons

Apply suggestions from code review
  packages/block-library/src/breadcrumbs/block.json
  packages/block-library/src/breadcrumbs/index.php
Labels: [Package] Block library

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**
