Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

Toggle override in context `deepMerge`
  packages/interactivity/src/directives.tsx
Labels: none

Change context text
  test/e2e/specs/interactivity/directive-context.spec.ts
Labels: none

Reverse entries array instead of overriding `deepMerge`
  packages/interactivity/src/directives.tsx
Labels: none

Update changelog files
  packages/block-library/CHANGELOG.md
  packages/block-library/package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/dataviews/CHANGELOG.md
  packages/dataviews/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/interactivity/CHANGELOG.md
  packages/interactivity/package.json
Labels: [Package] Block library, [Package] Components, [Package] Icons

Add hint about keeping trunk for the workflow
  docs/contributors/code/release/plugin-release.md
Labels: none

Breadcrumbs: Make experimental
  docs/reference-guides/core-blocks.md
  packages/block-library/src/breadcrumbs/block.json
Labels: [Package] Block library

add under `__experimentalEnableBlockExperiments`
  packages/block-library/src/index.js
  test/integration/fixtures/blocks/core__breadcrumbs.json
Labels: [Package] Block library

Build v2: Move the php files copying to the v2 script and make the config generic per package
  bin/packages/build.mjs
  packages/block-library/README.md
  packages/block-library/package.json
  packages/edit-widgets/package.json
  packages/style-engine/package.json
  packages/style-engine/src/class-wp-style-engine-css-declarations.php
  packages/style-engine/src/class-wp-style-engine-css-rule.php
  packages/style-engine/src/class-wp-style-engine-css-rules-store.php
  packages/style-engine/src/class-wp-style-engine-processor.php
  packages/style-engine/src/class-wp-style-engine.php
  packages/style-engine/src/style-engine.php
  packages/widgets/package.json
  tools/webpack/blocks.js
  tools/webpack/packages.js
  webpack.config.js
Labels: [Package] Block library, [Package] Edit Widgets, [Package] Style Engine

use max when block is selected
  packages/block-editor/src/hooks/fit-text.js
  packages/block-editor/src/utils/fit-text-utils.js
Labels: [Package] Block editor

Remove uselss script modules webpack handling
  lib/client-assets.php
  tools/webpack/script-modules.js
  webpack.config.js
Labels: none

skip autosave modal when sync is enabled
  packages/editor/src/components/local-autosave-monitor/index.js
  packages/editor/src/components/provider/index.js
Labels: [Package] Editor

Move styled component to styles.ts
  packages/components/src/font-size-picker/font-size-picker-select.tsx
  packages/components/src/font-size-picker/styles.ts
Labels: [Package] Components

Revert "Block Bindings: Move bindable attributes to privateContext. (#72351)"
  packages/block-editor/src/components/block-edit/edit.js
  packages/block-editor/src/components/block-list/block.js
Labels: [Package] Block editor

Revert "Block Bindings: Move bindable attributes to privateContext. (#72351)"
  packages/block-editor/src/components/block-edit/edit.js
  packages/block-editor/src/components/block-list/block.js
Labels: [Package] Block editor

Keep value single source of truth for font size preset selection, introduce valueMode prop
  packages/components/src/font-size-picker/font-size-picker-select.tsx
  packages/components/src/font-size-picker/font-size-picker-toggle-group.tsx
  packages/components/src/font-size-picker/index.tsx
  packages/components/src/font-size-picker/types.ts
Labels: [Package] Components

bindableAttributes is undefined, as we removed the array
  packages/block-editor/src/components/block-edit/edit.js
Labels: [Package] Block editor

Make linter happy
  packages/dataviews/src/hooks/use-form-validity.ts
Labels: none

getCustomValidity: fall through to elements or custom if validity.required is empty
  packages/dataviews/src/dataform-controls/utils/get-custom-validity.ts
Labels: none

Rename useIsFormValid to useFormValidity
  packages/dataviews/README.md
  packages/dataviews/src/hooks/index.ts
  packages/dataviews/src/hooks/test/use-form-validity.ts
  packages/dataviews/src/hooks/use-form-validity.ts
  packages/dataviews/src/index.ts
  packages/dataviews/src/stories/dataform.story.tsx
  packages/fields/src/actions/reorder-page.tsx
Labels: none

Fix unmounting issue with panel dropdown/modal
  packages/dataviews/src/dataform-layouts/data-form-layout.tsx
Labels: none

Document useIsFormValid hook
  packages/dataviews/README.md
Labels: none

DataForm: date control uses validity prop
  packages/dataviews/src/dataform-controls/date.tsx
Labels: none

Update FieldValidity and FormValidity types
  packages/dataviews/src/dataform-layouts/data-form-layout.tsx
  packages/dataviews/src/hooks/use-is-form-valid.ts
  packages/dataviews/src/types/dataform.ts
  packages/dataviews/src/types/field-api.ts
Labels: none

Story: better custom Edit
  packages/dataviews/src/stories/dataform.story.tsx
Labels: none

Move useFormValidity test to proper place
  packages/dataviews/src/test/use-form-validity.ts
Labels: none

Make validation controlled and async
  packages/dataviews/src/components/dataform-context/index.tsx
  packages/dataviews/src/components/dataform/index.tsx
  packages/dataviews/src/dataform-controls/array.tsx
  packages/dataviews/src/dataform-controls/checkbox.tsx
  packages/dataviews/src/dataform-controls/color.tsx
  packages/dataviews/src/dataform-controls/email.tsx
  packages/dataviews/src/dataform-controls/password.tsx
  packages/dataviews/src/dataform-controls/radio.tsx
  packages/dataviews/src/dataform-controls/select.tsx
  packages/dataviews/src/dataform-controls/telephone.tsx
  packages/dataviews/src/dataform-controls/text.tsx
  packages/dataviews/src/dataform-controls/textarea.tsx
  packages/dataviews/src/dataform-controls/toggle-group.tsx
  packages/dataviews/src/dataform-controls/toggle.tsx
  packages/dataviews/src/dataform-controls/url.tsx
  packages/dataviews/src/dataform-controls/utils/validated-input.tsx
  packages/dataviews/src/dataform-controls/utils/validated-number.tsx
  packages/dataviews/src/dataform-layouts/card/index.tsx
  packages/dataviews/src/dataform-layouts/data-form-layout.tsx
  packages/dataviews/src/dataform-layouts/panel/dropdown.tsx
  packages/dataviews/src/dataform-layouts/panel/index.tsx
  packages/dataviews/src/dataform-layouts/panel/modal.tsx
  packages/dataviews/src/dataform-layouts/regular/index.tsx
  packages/dataviews/src/hooks/index.ts
  packages/dataviews/src/hooks/test/use-is-form-valid.test.ts
  packages/dataviews/src/hooks/use-is-form-valid.ts
  packages/dataviews/src/index.ts
  packages/dataviews/src/stories/dataform.story.tsx
  packages/dataviews/src/types/dataform.ts
  packages/dataviews/src/types/field-api.ts
Labels: none

story: remove unnecessary flags
  packages/dataviews/src/stories/dataform.story.tsx
Labels: none

useIsFormValid: update tests
  packages/dataviews/src/hooks/test/use-is-form-valid.test.ts
Labels: none

useFormValidity returns validity and isValid
  packages/dataviews/README.md
  packages/dataviews/src/hooks/test/use-form-validity.ts
  packages/dataviews/src/hooks/use-form-validity.ts
  packages/dataviews/src/stories/dataform.story.tsx
  packages/fields/src/actions/reorder-page.tsx
Labels: none

Update docs
  packages/dataviews/README.md
Labels: none

Create getCustomValidity utility
  packages/dataviews/README.md
  packages/dataviews/src/dataform-controls/array.tsx
  packages/dataviews/src/dataform-controls/checkbox.tsx
  packages/dataviews/src/dataform-controls/color.tsx
  packages/dataviews/src/dataform-controls/radio.tsx
  packages/dataviews/src/dataform-controls/select.tsx
  packages/dataviews/src/dataform-controls/textarea.tsx
  packages/dataviews/src/dataform-controls/toggle-group.tsx
  packages/dataviews/src/dataform-controls/toggle.tsx
  packages/dataviews/src/dataform-controls/utils/get-custom-validity.ts
  packages/dataviews/src/dataform-controls/utils/validated-input.tsx
  packages/dataviews/src/dataform-controls/utils/validated-number.tsx
  packages/dataviews/src/hooks/use-is-form-valid.ts
  packages/dataviews/src/types/field-api.ts
Labels: none

Update README
  packages/dataviews/README.md
Labels: none

Remove isItemValid
  packages/dataviews/README.md
  packages/dataviews/src/index.ts
  packages/dataviews/src/test/validation.ts
  packages/dataviews/src/utils/is-item-valid.ts
  packages/fields/src/actions/reorder-page.tsx
Labels: none

Update tests
  packages/dataviews/src/hooks/test/use-is-form-valid.test.ts
Labels: none

DataForm: datetime control uses validity prop
  packages/dataviews/src/dataform-controls/datetime.tsx
Labels: none

Support combined fields.
  packages/dataviews/src/components/dataform-context/index.tsx
  packages/dataviews/src/components/dataform/index.tsx
  packages/dataviews/src/dataform-layouts/card/index.tsx
  packages/dataviews/src/dataform-layouts/data-form-layout.tsx
  packages/dataviews/src/dataform-layouts/panel/dropdown.tsx
  packages/dataviews/src/dataform-layouts/panel/index.tsx
  packages/dataviews/src/dataform-layouts/panel/modal.tsx
  packages/dataviews/src/dataform-layouts/regular/index.tsx
  packages/dataviews/src/dataform-layouts/row/index.tsx
  packages/dataviews/src/hooks/test/use-form-validity.ts
  packages/dataviews/src/hooks/use-form-validity.ts
  packages/dataviews/src/stories/dataform.story.tsx
  packages/dataviews/src/types/field-api.ts
Labels: none

Add a test for isValid
  packages/dataviews/src/hooks/test/use-form-validity.ts
Labels: none

Test useIsFormValid: port all existing test for isItemValid
  packages/dataviews/src/hooks/test/use-is-form-valid.test.ts
Labels: none

Add changelog
  packages/dataviews/CHANGELOG.md
Labels: none

Update changelog
  packages/dataviews/CHANGELOG.md
Labels: none

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**
