Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

add summary prop to the SimpleFormField
  packages/dataviews/src/types.ts
Labels: none

add summary documentation
  packages/dataviews/README.md
Labels: none

update changelog
  packages/dataviews/CHANGELOG.md
Labels: none

Remove unused classname
  packages/block-library/src/accordion-header/edit.js
  packages/block-library/src/accordion-header/save.js
Labels: [Package] Block library

Content Only: Add the button to the BlockTool bar
  packages/block-editor/src/components/block-inspector/edit-contents-button.js
  packages/block-editor/src/components/block-toolbar/index.js
Labels: [Package] Block editor

Remove textAlign support
  docs/reference-guides/core-blocks.md
  packages/block-library/src/accordion-header/block.json
Labels: [Package] Block library

Feedback Changes
  packages/editor/src/components/collab-sidebar/add-comment.js
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/index.js
  packages/editor/src/components/collab-sidebar/style.scss
Labels: [Package] Editor

clean up code
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/dataforms-layouts/card/index.tsx
  packages/dataviews/src/dataforms-layouts/card/style.scss
  packages/dataviews/src/normalize-form-fields.ts
  packages/dataviews/src/types.ts
Labels: none

fix unit test
  packages/dataviews/src/test/normalize-form-fields.ts
Labels: none

Removed few unwanted periods
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Remove fallback value
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Restore thread id attirbute
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Remove event.stopPropagation
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

WIP
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Check more success messages in e2e test
  test/e2e/specs/editor/various/block-comments.spec.js
Labels: none

Reuse onEditComment action
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

More e2e test coverage
  test/e2e/specs/editor/various/block-comments.spec.js
Labels: none

Remove editor store subscription
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Use same argument pattern with addNewComment callback
  packages/editor/src/components/collab-sidebar/add-comment.js
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Updated the feedback
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Block Comments: Match the comment form UI to the design
  packages/editor/src/components/collab-sidebar/comment-form.js
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/style.scss
Labels: [Package] Editor

Fix Navigation Block List View 'Add submenu link' to use default block attributes
  packages/block-library/src/navigation/edit/leaf-more-menu.js
Labels: [Package] Block library

Fix Navigation Submenu block InnerBlocks to use shared default block attributes
  packages/block-library/src/navigation-submenu/edit.js
Labels: [Package] Block library

Social Icon: color style trim spaces
  packages/block-library/src/social-link/index.php
Labels: [Package] Block library

When calling useBlockElement use existing comment.blockClientId
  packages/editor/src/components/collab-sidebar/index.js
  packages/editor/src/components/collab-sidebar/utils.js
Labels: [Package] Editor

Simplify CommentPopover
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Add EMPTY_ARRAY const and use to have a stable reference
  packages/block-editor/src/components/block-edit/edit.js
Labels: [Package] Block editor

Add role=region to panel
  packages/block-library/src/accordion-panel/edit.js
  packages/block-library/src/accordion-panel/save.js
Labels: [Package] Block library

JS Lint fixes
  packages/editor/src/components/collab-sidebar/add-comment.js
  packages/editor/src/components/collab-sidebar/comment-form.js
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

use a gutenberg_ prefix vs. function_exists check
  lib/experimental/block-comments.php
Labels: none

space
  lib/experimental/block-comments.php
Labels: none

Feedback changes
  packages/editor/src/components/collab-sidebar/comment-form.js
  packages/editor/src/components/collab-sidebar/style.scss
Labels: [Package] Editor

DataViews: Expose FiltersToggled subcomponent.
  packages/dataviews/README.md
  packages/dataviews/src/components/dataviews-filters/filters-toggled.tsx
  packages/dataviews/src/components/dataviews-filters/filters.tsx
  packages/dataviews/src/components/dataviews-filters/index.tsx
  packages/dataviews/src/components/dataviews-filters/toggle.tsx
  packages/dataviews/src/components/dataviews-filters/use-filters.ts
  packages/dataviews/src/components/dataviews-picker/index.tsx
  packages/dataviews/src/components/dataviews/index.tsx
  packages/dataviews/src/components/dataviews/stories/index.story.tsx
Labels: none

use modern string methods
  lib/experimental/block-comments.php
Labels: none

use prefix vs function exists check
  lib/experimental/block-comments.php
Labels: none

enable empty comments for resolve/reopen types
  lib/experimental/block-comments.php
Labels: none

try: add unit test for empty comment capability
  phpunit/experimental/block-comments-test.php
Labels: none

Update CHANGELOG
  packages/dataviews/CHANGELOG.md
Labels: none

Resolving comments in review
  lib/blocks.php
  packages/block-library/src/tab/add-tab-toolbar-control.js
  packages/block-library/src/tabs/block.json
  packages/block-library/src/tabs/controls.js
  packages/block-library/src/tabs/index.php
  packages/icons/src/index.ts
  packages/icons/src/library/tab.js
  packages/icons/src/library/tabs.js
Labels: [Package] Block library, [Package] Icons

Moving to requestAnimationFrame and cancelAnimationFrame for cleaning up requests instead of timeout.
  packages/block-library/src/tab/edit.js
Labels: [Package] Block library

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**
