Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

Fix perf test
  test/performance/specs/site-editor.spec.js
Labels: none

Prevent active_templates from being empty
  lib/compat/wordpress-6.8/template-activate.php
  packages/edit-site/src/components/dataviews-actions/index.js
  test/e2e/specs/site-editor/preload.spec.js
  test/e2e/specs/site-editor/template-activate.spec.js
Labels: [Package] Edit Site

Fix preload check
  lib/compat/wordpress-6.8/preload.php
  test/e2e/specs/site-editor/preload.spec.js
Labels: none

Migrate to active templates
  lib/compat/wordpress-6.8/template-activate.php
  packages/edit-site/src/components/page-templates/index.js
Labels: [Package] Edit Site

Fix click handler
  packages/edit-site/src/components/page-templates/index.js
Labels: [Package] Edit Site

Fix some e2e tests
  packages/edit-site/src/components/editor/use-resolve-edited-entity.js
  packages/edit-site/src/components/page-templates/style.scss
  test/e2e/specs/editor/various/pattern-overrides.spec.js
  test/e2e/specs/site-editor/site-editor-url-navigation.spec.js
  test/e2e/specs/site-editor/template-activate.spec.js
Labels: [Package] Edit Site

remove is-inverted-toolbar
  packages/block-editor/src/components/block-toolbar/index.js
Labels: [Package] Block editor

comment out styles for now
  packages/block-editor/src/components/block-list/content.scss
  packages/block-editor/src/components/block-tools/style.scss
Labels: [Package] Block editor

Update comment now that change landed in core
  lib/client-assets.php
Labels: none

Add summary jobs to Unit tests.
  .github/workflows/unit-test.yml
Labels: none

Add summary job for E2E tests.
  .github/workflows/end2end-test.yml
Labels: none

Remove skipped mobile tests.
  .github/workflows/unit-test.yml
Labels: none

These should fail
  .github/workflows/end2end-test.yml
  .github/workflows/unit-test.yml
Labels: none

Add reference to related GB issue
  lib/client-assets.php
Labels: none

Revert "These should fail"
  .github/workflows/end2end-test.yml
  .github/workflows/unit-test.yml
Labels: none

Update packages/block-library/src/search/index.php
  packages/block-library/src/search/index.php
Labels: [Package] Block library

Update packages/block-library/src/search/index.php
  packages/block-library/src/search/index.php
Labels: [Package] Block library

Remove DataPicker components
  packages/dataviews/src/components/datapicker/grid-layout.tsx
  packages/dataviews/src/components/datapicker/index.tsx
  packages/dataviews/src/components/datapicker/stories/fixtures.tsx
  packages/dataviews/src/components/datapicker/stories/index.story.tsx
  packages/dataviews/src/components/datapicker/style.scss
  packages/dataviews/src/style.scss
  packages/dataviews/src/types.ts
Labels: none

Create DataPicker component as a sibling to DataViews
  packages/dataviews/src/components/datapicker/grid-layout.tsx
  packages/dataviews/src/components/datapicker/index.tsx
  packages/dataviews/src/components/datapicker/stories/fixtures.tsx
  packages/dataviews/src/components/datapicker/stories/index.story.tsx
  packages/dataviews/src/components/datapicker/style.scss
  packages/dataviews/src/components/dataviews-context/index.ts
  packages/dataviews/src/constants.ts
  packages/dataviews/src/dataviews-layouts/grid/index.tsx
  packages/dataviews/src/style.scss
  packages/dataviews/src/types.ts
Labels: none

Add simple isPicker prop to dataviews, and use it to start configuring a picker mode in the grid layout
  packages/components/CHANGELOG.md
  packages/components/src/composite/types.ts
  packages/dataviews/CHANGELOG.md
  packages/dataviews/README.md
  packages/dataviews/src/components/dataviews-bulk-actions/index.tsx
  packages/dataviews/src/components/dataviews-context/index.ts
  packages/dataviews/src/components/dataviews-footer/index.tsx
  packages/dataviews/src/components/dataviews-item-actions/index.tsx
  packages/dataviews/src/components/dataviews-layout/index.tsx
  packages/dataviews/src/components/dataviews-selection-checkbox/index.tsx
  packages/dataviews/src/components/dataviews/index.tsx
  packages/dataviews/src/components/dataviews/stories/index.story.tsx
  packages/dataviews/src/constants.ts
  packages/dataviews/src/dataviews-layouts/grid/index.tsx
  packages/dataviews/src/dataviews-layouts/grid/style.scss
  packages/dataviews/src/test/dataviews-picker.tsx
  packages/dataviews/src/types.ts
Labels: [Package] Components

Split into separate components
  packages/components/CHANGELOG.md
  packages/components/src/composite/types.ts
  packages/dataviews/src/components/dataviews-bulk-actions/index.tsx
  packages/dataviews/src/components/dataviews-context/index.ts
  packages/dataviews/src/components/dataviews-footer/index.tsx
  packages/dataviews/src/components/dataviews-item-actions/index.tsx
  packages/dataviews/src/components/dataviews-picker-actions/index.tsx
  packages/dataviews/src/components/dataviews-picker-layout/index.tsx
  packages/dataviews/src/components/dataviews-picker/index.tsx
  packages/dataviews/src/components/dataviews-picker/stories/index.story.tsx
  packages/dataviews/src/components/dataviews-picker/style.scss
  packages/dataviews/src/components/dataviews-view-config/index.tsx
  packages/dataviews/src/components/dataviews/stories/index.story.tsx
  packages/dataviews/src/constants.ts
  packages/dataviews/src/dataviews-layouts/grid/style.scss
  packages/dataviews/src/dataviews-layouts/index.ts
  packages/dataviews/src/dataviews-layouts/picker-grid/index.tsx
  packages/dataviews/src/dataviews-layouts/picker-grid/preview-size-picker.tsx
  packages/dataviews/src/dataviews-layouts/picker-grid/style.scss
  packages/dataviews/src/test/dataviews-picker.tsx
  packages/dataviews/src/types.ts
Labels: [Package] Components

Fix config type after rebase
  packages/dataviews/src/components/dataviews-picker/index.tsx
Labels: none

Extract grid styling to a shared component
  packages/dataviews/src/dataviews-layouts/grid/index.tsx
  packages/dataviews/src/dataviews-layouts/grid/style.scss
  packages/dataviews/src/dataviews-layouts/picker-grid/index.tsx
  packages/dataviews/src/dataviews-layouts/picker-grid/style.scss
  packages/dataviews/src/dataviews-layouts/utils/grid-items.scss
  packages/dataviews/src/dataviews-layouts/utils/grid-items.tsx
Labels: none

Switch back to a single View type
  packages/dataviews/src/components/dataviews-layout/index.tsx
  packages/dataviews/src/components/dataviews-picker/index.tsx
  packages/dataviews/src/components/dataviews-picker/stories/index.story.tsx
  packages/dataviews/src/components/dataviews/index.tsx
  packages/dataviews/src/components/dataviews/stories/index.story.tsx
  packages/dataviews/src/test/dataviews-picker.tsx
  packages/dataviews/src/test/dataviews.tsx
  packages/dataviews/src/types.ts
Labels: none

Share layout component between picker and regular dataviews
  packages/dataviews/src/components/dataviews-layout/index.tsx
  packages/dataviews/src/components/dataviews-picker-layout/index.tsx
  packages/dataviews/src/components/dataviews-picker/index.tsx
  packages/dataviews/src/components/dataviews-picker/stories/index.story.tsx
  packages/dataviews/src/components/dataviews/index.tsx
  packages/dataviews/src/test/dataviews-picker.tsx
Labels: none

Fix type name
  packages/dataviews/src/components/dataviews-picker-layout/index.tsx
Labels: none

Remove todo from test
  packages/dataviews/src/test/dataviews-picker.tsx
Labels: none

Limit the type of views that can be provided to DataViews and DataViewsPicker to only the relevant types
  packages/dataviews/src/components/dataviews-context/index.ts
  packages/dataviews/src/components/dataviews-layout/index.tsx
  packages/dataviews/src/components/dataviews-picker-layout/index.tsx
  packages/dataviews/src/components/dataviews-picker/index.tsx
  packages/dataviews/src/components/dataviews-picker/stories/index.story.tsx
  packages/dataviews/src/components/dataviews/index.tsx
  packages/dataviews/src/components/dataviews/stories/index.story.tsx
  packages/dataviews/src/test/dataviews-picker.tsx
  packages/dataviews/src/test/dataviews.tsx
Labels: none

Use context for `isPicker` rather than a prop to the layout component. Filter available layouts in switcher component.
  packages/dataviews/src/components/dataviews-context/index.ts
  packages/dataviews/src/components/dataviews-layout/index.tsx
  packages/dataviews/src/components/dataviews-picker/index.tsx
  packages/dataviews/src/components/dataviews-view-config/index.tsx
  packages/dataviews/src/components/dataviews/index.tsx
Labels: none

Use actions API
  packages/dataviews/src/components/dataviews-context/index.ts
  packages/dataviews/src/components/dataviews-picker/footer.tsx
  packages/dataviews/src/components/dataviews-picker/index.tsx
  packages/dataviews/src/components/dataviews-picker/stories/index.story.tsx
  packages/dataviews/src/dataviews-layouts/picker-grid/index.tsx
  packages/dataviews/src/test/dataviews-picker.tsx
Labels: none

Adjust footer styling and update story
  packages/dataviews/src/components/dataviews-picker/footer.tsx
  packages/dataviews/src/components/dataviews-picker/stories/index.story.tsx
Labels: none

Switch to isPicker prop in the view layout config for filtering view types
  packages/dataviews/src/components/dataviews-layout/index.tsx
  packages/dataviews/src/components/dataviews-picker-layout/index.tsx
  packages/dataviews/src/dataviews-layouts/index.ts
Labels: none

Fix story and broken css
  packages/dataviews/src/components/dataviews-picker/stories/index.story.tsx
  packages/dataviews/src/components/dataviews-picker/style.scss
  packages/dataviews/src/dataviews-layouts/picker-grid/index.tsx
  packages/dataviews/src/dataviews-layouts/picker-grid/style.scss
  packages/dataviews/src/style.scss
  packages/dataviews/src/test/dataviews-picker.tsx
  packages/dataviews/src/types.ts
Labels: none

Allow custom content in footer and use multiselect property of picker prop to denote multiselection
  packages/dataviews/src/components/dataviews-context/index.ts
  packages/dataviews/src/components/dataviews-layout/index.tsx
  packages/dataviews/src/components/dataviews-picker-actions/index.tsx
  packages/dataviews/src/components/dataviews-picker/footer.tsx
  packages/dataviews/src/components/dataviews-picker/index.tsx
  packages/dataviews/src/components/dataviews-picker/stories/index.story.tsx
  packages/dataviews/src/components/dataviews-view-config/index.tsx
  packages/dataviews/src/dataviews-layouts/picker-grid/index.tsx
Labels: none

Update tests
  packages/dataviews/src/components/dataviews-picker/index.tsx
  packages/dataviews/src/test/dataviews-picker.tsx
Labels: none

Make a controlled selection required for DataViewsPicker
  packages/dataviews/src/components/dataviews-picker/index.tsx
Labels: none

Update docs
  packages/dataviews/README.md
Labels: none

Add changelog entry
  packages/dataviews/CHANGELOG.md
Labels: none

Filter picker/non-picker layouts in main DataViews components
  packages/dataviews/src/components/dataviews-context/index.ts
  packages/dataviews/src/components/dataviews-layout/index.tsx
  packages/dataviews/src/components/dataviews-picker/index.tsx
  packages/dataviews/src/components/dataviews-picker/stories/index.story.tsx
  packages/dataviews/src/components/dataviews-view-config/index.tsx
  packages/dataviews/src/components/dataviews/index.tsx
  packages/dataviews/src/test/dataviews-picker.tsx
Labels: none

Fix BulkSelectionCheckbox
  packages/dataviews/src/components/dataviews-picker/footer.tsx
Labels: none
