Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

Remove note about importing DataViews
  packages/dataviews/README.md
Labels: none

Remove extra tab stop on fields caused by tooltip
  packages/dataviews/src/dataviews-layouts/picker-grid/index.tsx
Labels: none

Remove selection property from action type
  packages/dataviews/src/types.ts
Labels: none

Tidy up main DataViewsPicker component
  packages/dataviews/src/components/dataviews-picker/index.tsx
Labels: none

Remove picker internal selection state
  packages/dataviews/src/components/dataviews-picker/index.tsx
Labels: none

Share the PreviewSizePicker between grid and pickerGrid
  packages/dataviews/src/dataviews-layouts/index.ts
  packages/dataviews/src/dataviews-layouts/utils/preview-size-picker.tsx
Labels: none

Align footer buttons to the right
  packages/dataviews/src/components/dataviews-picker/footer.tsx
  packages/dataviews/src/components/dataviews-picker/style.scss
  packages/dataviews/src/style.scss
Labels: none

Remove unused props for picker
  packages/dataviews/src/components/dataviews-picker/index.tsx
  packages/dataviews/src/components/dataviews-picker/stories/index.story.tsx
  packages/dataviews/src/test/dataviews-picker.tsx
Labels: none

Update wrapper classname
  packages/dataviews/src/components/dataviews-picker/index.tsx
  packages/dataviews/src/components/dataviews/style.scss
Labels: none

Remove outdated comment
  packages/dataviews/src/components/dataviews/index.tsx
Labels: none

Undo change to defaultLayouts
  packages/dataviews/src/components/dataviews-context/index.ts
Labels: none

Update action button style. Make non-primary button a tertiary variant. Reorder in story to match WordPress dialog button ordering
  packages/dataviews/src/components/dataviews-picker/footer.tsx
  packages/dataviews/src/components/dataviews-picker/stories/index.story.tsx
Labels: none

Align bulk selection to the left on mobile
  packages/dataviews/src/components/dataviews-picker/footer.tsx
  packages/dataviews/src/components/dataviews-picker/style.scss
Labels: none

Move label prop to DataViewsPicker instead of View
  packages/dataviews/README.md
  packages/dataviews/src/components/dataviews-context/index.ts
  packages/dataviews/src/components/dataviews-picker/index.tsx
  packages/dataviews/src/components/dataviews-picker/stories/index.story.tsx
  packages/dataviews/src/dataviews-layouts/index.ts
  packages/dataviews/src/dataviews-layouts/picker-grid/index.tsx
  packages/dataviews/src/test/dataviews-picker.tsx
  packages/dataviews/src/types.ts
Labels: none

Remove promise return type from ActionButton
  packages/dataviews/src/types.ts
Labels: none

Remove change that was reverted in trunk after components diverged (see #71276)
  packages/dataviews/src/components/dataviews-picker/index.tsx
Labels: none

Limit actions to ActionButton via type
  packages/dataviews/src/components/dataviews-picker/index.tsx
  packages/dataviews/src/components/dataviews-picker/stories/index.story.tsx
  packages/dataviews/src/test/dataviews-picker.tsx
Labels: none

Rename label to itemListLabel
  packages/dataviews/src/components/dataviews-context/index.ts
  packages/dataviews/src/components/dataviews-picker/index.tsx
  packages/dataviews/src/components/dataviews-picker/stories/index.story.tsx
  packages/dataviews/src/dataviews-layouts/picker-grid/index.tsx
  packages/dataviews/src/test/dataviews-picker.tsx
Labels: none

This commit tweaks the change design dropdown to resemble the change design dropdown for the zoomed out section toolbar.
  packages/block-library/src/query/edit/query-toolbar.js
  packages/block-library/src/query/editor.scss
Labels: [Package] Block library

Ensure mobile view stacks in full width
  packages/block-library/src/query/editor.scss
Labels: [Package] Block library

Add missing changes to ViewPickerBaseProps
  packages/dataviews/src/types.ts
Labels: none

Update label name in docs
  packages/dataviews/README.md
Labels: none

Remove template part double click focus mode editing in Write Mode
  packages/block-library/src/template-part/edit/inner-blocks.js
Labels: [Package] Block library

Avoid showing Edit buttons on template part and synced pattern block toolbars when in Write Mode
  packages/block-library/src/block/edit.js
  packages/block-library/src/template-part/edit/index.js
Labels: [Package] Block library

Avoid showing EditTemplate double click notification when in Write Mode
  packages/editor/src/components/visual-editor/edit-template-blocks-notification.js
Labels: [Package] Editor

Use multi-line comment
  lib/client-assets.php
Labels: none

fix: prevent commenting on empty blocks
  packages/editor/src/components/collab-sidebar/add-comment.js
Labels: [Package] Editor

Dataform: Add new `telephone` field type and field control
  packages/dataviews/src/dataform-controls/index.tsx
  packages/dataviews/src/dataform-controls/telephone.tsx
  packages/dataviews/src/dataform-controls/text.tsx
  packages/dataviews/src/field-types/index.tsx
  packages/dataviews/src/field-types/stories/index.story.tsx
  packages/dataviews/src/field-types/telephone.tsx
  packages/dataviews/src/types.ts
Labels: none

Handle menu_slug better
  lib/compat/wordpress-6.9/command-palette.php
Labels: none

Minor comment clarification
  lib/compat/wordpress-6.9/block-bindings.php
Labels: none

No need to add filter during setup
  phpunit/block-bindings-test.php
Labels: none

add changelog
  packages/dataviews/CHANGELOG.md
Labels: none

Massage code to look more like Core
  lib/compat/wordpress-6.9/block-bindings.php
Labels: none

Remove attributes that were handled by 6.8 early
  lib/compat/wordpress-6.9/block-bindings.php
Labels: none

Update pattern overrides test to make sure they work with newly supported block attributes
  phpunit/block-bindings-test.php
Labels: none

Implement support for pattern overrides in fallback
  lib/compat/wordpress-6.9/block-bindings.php
Labels: none

Whitespace tweaks
  lib/compat/wordpress-6.9/block-bindings.php
Labels: none

Fix block.json
  packages/block-library/src/term-template/block.json
Labels: [Package] Block library

add input wrapper
  packages/dataviews/src/dataform-controls/email.tsx
  packages/dataviews/src/dataform-controls/input.tsx
  packages/dataviews/src/dataform-controls/telephone.tsx
  packages/dataviews/src/dataform-controls/text.tsx
  packages/dataviews/src/types.ts
Labels: none

move type definition
  packages/dataviews/src/dataform-controls/input.tsx
  packages/dataviews/src/types.ts
Labels: none
