Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

Block Comments: Improve e2e test coverage
  test/e2e/specs/editor/various/block-comments.spec.js
Labels: none

Add 'x more replies' focus test
  test/e2e/specs/editor/various/block-comments.spec.js
Labels: none

const variable assignment
  packages/block-library/src/utils/get-query-context-from-template.js
Labels: [Package] Block library

remove explicit default context
  lib/experimental/term-data-block-bindings.php
Labels: none

Terms Query: Remove some redundant attributes
  docs/reference-guides/core-blocks.md
  packages/block-library/src/term-template/block.json
  packages/block-library/src/term-template/edit.js
  packages/block-library/src/term-template/index.php
  packages/block-library/src/terms-query/block.json
  packages/block-library/src/terms-query/edit.js
  packages/block-library/src/terms-query/inspector-controls/display-options.js
  packages/block-library/src/terms-query/inspector-controls/index.js
  packages/block-library/src/terms-query/inspector-controls/max-terms-control.js
  packages/block-library/src/terms-query/terms-query-content.js
  packages/editor/src/bindings/term-data.js
  test/integration/fixtures/blocks/core__terms-query.html
  test/integration/fixtures/blocks/core__terms-query.json
  test/integration/fixtures/blocks/core__terms-query.parsed.json
  test/integration/fixtures/blocks/core__terms-query.serialized.html
Labels: [Package] Block library, [Package] Editor

Fix typo
  packages/edit-site/src/components/page-patterns/header.js
  packages/edit-site/src/components/page-patterns/index.js
Labels: [Package] Edit Site

Icons: Document breaking changes and fix issues from #71878
  package.json
  packages/icons/CHANGELOG.md
  packages/icons/src/library/edit.svg
Labels: [Package] Icons

Replace usage of extinct icons `edit`, `warning`
  packages/block-editor/src/components/link-control/link-preview.js
  packages/block-editor/src/components/tool-selector/index.js
  packages/block-editor/src/components/url-popover/link-viewer.js
  packages/block-library/src/embed/embed-controls.js
  packages/block-library/src/file/edit.native.js
  packages/block-library/src/post-date/edit.js
  packages/block-library/src/rss/edit.js
  packages/commands/README.md
  packages/commands/src/hooks/use-command.js
  packages/components/CHANGELOG.md
  packages/components/src/toolbar/toolbar-button/README.md
  packages/components/src/toolbar/toolbar-button/index.tsx
  packages/edit-site/src/components/add-new-template/index.js
  packages/edit-site/src/components/dataviews-actions/index.js
  packages/editor/src/components/commands/index.js
Labels: [Package] Block editor, [Package] Block library, [Package] Commands, [Package] Components, [Package] Edit Site, [Package] Editor

Remove unnused setIsEditingControl unit test
  packages/block-library/src/navigation-link/shared/test/controls.js
Labels: [Package] Block library

feedback
  packages/block-library/src/term-template/edit.js
  packages/block-library/src/term-template/index.php
  packages/block-library/src/terms-query/block.json
  packages/block-library/src/terms-query/edit.js
  packages/block-library/src/terms-query/inspector-controls/index.js
  packages/block-library/src/terms-query/inspector-controls/max-terms-control.js
Labels: [Package] Block library

restore indexed blocksWithComments
  packages/editor/src/components/collab-sidebar/hooks.js
Labels: [Package] Editor

Dataviews: Delete the isDestructive prop from the actions
  packages/dataviews/README.md
  packages/dataviews/src/components/dataviews-bulk-actions/index.tsx
  packages/dataviews/src/components/dataviews-item-actions/index.tsx
  packages/dataviews/src/components/dataviews-picker/footer.tsx
  packages/dataviews/src/dataviews-layouts/list/index.tsx
  packages/dataviews/src/test/dataviews.tsx
  packages/dataviews/src/types/dataviews.ts
Labels: none

React to block re-ordering
  packages/editor/src/components/collab-sidebar/hooks.js
Labels: [Package] Editor

Changes made
  packages/dataviews/src/dataform-controls/select.tsx
Labels: none

Add changelogs
  packages/components/CHANGELOG.md
  packages/dataviews/CHANGELOG.md
Labels: [Package] Components

Update changelog
  packages/dataviews/CHANGELOG.md
Labels: none

Template activation: redirect theme templates urls to wp_registered_template
  lib/compat/wordpress-6.9/site-editor-redirect.php
  lib/load.php
Labels: none

Add backport log
  backport-changelog/6.9/8063.md
Labels: none

Revert "React to block re-ordering"
  packages/editor/src/components/collab-sidebar/hooks.js
Labels: [Package] Editor

move height, offsetRefs and other helpers into CommentBoardWrapper
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

fix linter warnings
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Revert "move height, offsetRefs and other helpers into CommentBoardWrapper"
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Fix scrollbar in floating panel mode
  packages/editor/src/components/collab-sidebar/style.scss
Labels: [Package] Editor

Block Comments: Fix the canvas re-ordering synchronization
  packages/editor/src/components/collab-sidebar/hooks.js
Labels: [Package] Editor

Pass containerRef instead of containerElement in <BlockCanvasCover>
  packages/block-editor/src/components/block-canvas/index.js
Labels: [Package] Block editor

Make syncing a side-concern instead of a replacement for local state
  packages/core-data/src/actions.js
  packages/core-data/src/resolvers.js
Labels: [Package] Core data

Update dependencies test case
  phpunit/script-dependencies-test.php
Labels: none

Call the (previously ignored) register method
  packages/core-data/src/resolvers.js
Labels: [Package] Core data

Introduce the synced properties set and limit to `blocks`
  packages/core-data/src/entities.js
Labels: [Package] Core data

CheckboxControl, RadioControl: Ensure focus on click
  packages/components/src/checkbox-control/index.tsx
  packages/components/src/radio-control/index.tsx
Labels: [Package] Components

Revert "Update dependencies test case"
  phpunit/script-dependencies-test.php
Labels: none

Add changelog
  packages/components/CHANGELOG.md
Labels: [Package] Components

Also fix in `ToggleControl`
  packages/components/CHANGELOG.md
  packages/components/src/form-toggle/index.tsx
Labels: [Package] Components

Modernize and improve robustness of Categories dropdown JS
  packages/block-library/src/categories/index.php
Labels: [Package] Block library

Editor Canvas: Fix background color caused by invalid Sass value
  packages/base-styles/_default-custom-properties.scss
Labels: [Package] Base styles

Add sourceURL for JS in build_dropdown_script_block_core_categories()
  packages/block-library/src/categories/index.php
Labels: [Package] Block library

Use value property instead of options
  packages/block-library/src/categories/index.php
Labels: [Package] Block library

Remove most uses of `isNavigationMode` in contentOnly logic
  packages/block-editor/src/components/block-settings-menu/block-settings-dropdown.js
  packages/block-editor/src/components/block-toolbar/index.js
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/store/private-selectors.js
  packages/block-editor/src/store/selectors.js
  packages/block-library/src/site-logo/edit.js
  packages/block-library/src/site-title/edit.js
Labels: [Package] Block editor, [Package] Block library

fix condition
  packages/block-editor/src/components/block-toolbar/index.js
Labels: [Package] Block editor

Remove section root logic
  packages/block-editor/src/store/private-selectors.js
Labels: [Package] Block editor
