Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

Fix useDebounce instead
  packages/block-editor/src/components/block-list/index.js
  packages/compose/src/hooks/use-debounce/index.js
Labels: [Package] Block editor, [Package] Compose

Build V2: Fix emotion transpiling
  bin/packages/build-v2.mjs
  package-lock.json
  package.json
Labels: none

Standardise DataForm Card typography
  packages/dataviews/src/dataform-layouts/card/style.scss
  packages/dataviews/src/dataform-layouts/data-form-layout.tsx
  packages/dataviews/src/dataform-layouts/index.tsx
  packages/dataviews/src/dataform-layouts/style.scss
  packages/dataviews/src/style.scss
Labels: none

Remove await page.pause();
  test/e2e/specs/interactivity/directive-context.spec.ts
Labels: none

Fix ColorPalette to respect clearable property when deselecting colors
  packages/components/src/color-palette/index.tsx
Labels: [Package] Components

Fix split limits
  packages/interactivity/src/directives.tsx
Labels: none

Use warn in warn functions
  packages/interactivity/src/directives.tsx
Labels: none

Fix directive comments and some warns
  packages/interactivity/src/directives.tsx
Labels: none

Fix php unit test
  phpunit/script-dependencies-test.php
Labels: none

Support multipe CSS entry points
  bin/packages/build-v2.mjs
  packages/base-styles/src/admin-schemes.scss
  packages/block-editor/package.json
  packages/block-editor/src/components/block-list/content.scss
  packages/block-editor/src/components/default-block-appender/content.scss
  packages/block-editor/src/components/warning/content.scss
  packages/commands/package.json
  packages/components/package.json
  packages/list-reusable-blocks/package.json
  packages/nux/package.json
  packages/preferences/package.json
Labels: [Package] Base styles, [Package] Block editor, [Package] Commands, [Package] Components, [Package] Preferences

Add failing test
  packages/interactivity/src/test/vdom.ts
Labels: none

Fix test
  packages/interactivity/src/vdom.ts
Labels: none

Fix invalid sources
  packages/block-editor/src/hooks/block-bindings.js
Labels: [Package] Block editor

fix don’t allow unlocking accordion item and panel blocks
  packages/block-library/src/accordion-heading/block.json
  packages/block-library/src/accordion-panel/block.json
Labels: [Package] Block library

Terms Query: Use `perPage` attribute to fetch only required terms
  packages/block-library/src/term-template/edit.js
  packages/block-library/src/term-template/index.php
Labels: [Package] Block library

fix build docs
  docs/reference-guides/core-blocks.md
Labels: none

fix automatically build docs in CI and commit to branch
  .github/workflows/auto-generate-docs.yml
Labels: none

Icons: Bundle generated source code
  packages/icons/.npmignore
Labels: [Package] Icons

Fix z-index imports
  packages/block-editor/src/components/background-image-control/style.scss
  packages/block-editor/src/components/block-allowed-blocks/style.scss
  packages/block-editor/src/components/block-lock/style.scss
  packages/block-editor/src/components/block-manager/style.scss
  packages/block-editor/src/components/block-pattern-setup/style.scss
  packages/block-editor/src/components/block-popover/style.scss
  packages/block-editor/src/components/block-rename/style.scss
  packages/block-editor/src/components/block-styles/style.scss
  packages/block-editor/src/components/block-toolbar/style.scss
  packages/block-editor/src/components/grid/style.scss
  packages/block-editor/src/components/inserter/style.scss
  packages/block-editor/src/components/rich-text/style.scss
  packages/block-editor/src/components/skip-to-selected-block/style.scss
Labels: [Package] Block editor

Use Code block instead of Quote to prevent focus from moving
  test/e2e/specs/editor/various/list-view.spec.js
Labels: none

Update comment
  test/e2e/specs/editor/various/list-view.spec.js
Labels: none

Almost done
  packages/block-editor/src/hooks/block-bindings.js
Labels: [Package] Block editor

Build: Cross-package style dependencies should use built files and not src
  package-lock.json
  packages/edit-post/src/style.scss
  packages/edit-site/src/posts.scss
  packages/edit-site/src/style.scss
  packages/edit-widgets/src/style.scss
  packages/editor/src/style.scss
  packages/interface/src/style.scss
  packages/postcss-plugins-preset/lib/index.js
  packages/postcss-plugins-preset/package.json
Labels: [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Interface, [Package] PostCSS Plugins Preset

Reduce custom styles to move hint to next line
  packages/components/src/font-size-picker/font-size-picker-select.tsx
Labels: [Package] Components

Update components changelog
  packages/components/CHANGELOG.md
Labels: [Package] Components

Terms Query: Use `templateSlug` from context
  packages/block-library/src/terms-query/block.json
  packages/block-library/src/terms-query/edit/inspector-controls/index.js
  packages/block-library/src/terms-query/edit/terms-query-content.js
Labels: [Package] Block library

Switch to using sass-embedded for build-v2
  bin/packages/build-v2.mjs
  package-lock.json
  package.json
Labels: none

WIP
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/style.scss
Labels: [Package] Editor

get_block_templates and entity collection back compat
  lib/compat/wordpress-6.9/template-activate.php
  packages/core-data/src/resolvers.js
  packages/edit-site/src/components/page-templates/index.js
Labels: [Package] Core data, [Package] Edit Site

lint
  lib/compat/wordpress-6.9/template-activate.php
Labels: none

update icons to match variation layouts
  packages/block-library/src/terms-query/variations.js
Labels: [Package] Block library

update variations to use term name and count blocks
  packages/block-library/src/terms-query/variations.js
Labels: [Package] Block library

remove duplicate server-rendered wrapper
  packages/block-library/src/terms-query/index.php
Labels: [Package] Block library

remove terms query render function
  lib/blocks.php
  packages/block-library/src/terms-query/index.php
Labels: [Package] Block library

Don't filter when querying by wp_id
  lib/compat/wordpress-6.9/template-activate.php
Labels: none

Terms Query: Fix check for selected taxonomy and current template.
  packages/block-library/src/terms-query/edit/inspector-controls/index.js
Labels: [Package] Block library

remove setter from useEffect
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

only show privacy notice in pinned sidebar
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

combine useSelect calls
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Seems to be working now
  packages/block-editor/src/hooks/block-bindings.js
Labels: [Package] Block editor

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**
