Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

Make filtering on slot fills private
  packages/block-editor/src/components/block-controls/groups.js
  packages/components/src/private-apis.ts
  packages/components/src/slot-fill/index.tsx
  packages/components/src/slot-fill/slot.tsx
  packages/components/src/slot-fill/types.ts
Labels: [Package] Block editor, [Package] Components

Use fillProps for filtering contentOnly block tools
  packages/block-editor/src/components/block-controls/fill.js
  packages/block-editor/src/components/block-controls/slot.js
Labels: [Package] Block editor

Simplify fill filtering
  packages/block-editor/src/components/block-controls/content-only-filter.js
  packages/block-editor/src/components/block-controls/fill.js
Labels: [Package] Block editor

Remove unneeded category=content from toolbaritem
  packages/block-editor/src/components/block-controls/slot.js
  packages/block-editor/src/components/rich-text/format-toolbar/index.js
Labels: [Package] Block editor

Remove alignment control from write mode
  packages/block-library/src/paragraph/edit.js
Labels: [Package] Block library

Use filtering in block controls slots
  packages/block-editor/src/components/block-controls/slot.js
  packages/block-editor/src/components/rich-text/format-toolbar-container.js
  packages/block-editor/src/components/rich-text/format-toolbar/index.js
  packages/block-library/src/image/image.js
  packages/block-library/src/paragraph/edit.js
Labels: [Package] Block editor, [Package] Block library

Remove bullets from flex layout
  packages/block-library/src/term-template/style.scss
Labels: [Package] Block library

fix: fix the block path in theme in package.json and some clean up
  packages/create-project/lib/attributes-config.js
  packages/create-project/lib/init-package-json.js
Labels: none

add components change log entry
  packages/components/CHANGELOG.md
Labels: [Package] Components

Add more workflow file linting with Octoscan, Zizmor, and Poutine.
  .github/workflows/reusable-workflow-lint.yml
Labels: none

Enhance Term Description Block with Context Support
  packages/block-library/src/term-description/block.json
  packages/block-library/src/term-description/edit.js
  packages/block-library/src/term-description/use-term-description.js
Labels: [Package] Block library

Update Zizmor.
  .github/workflows/reusable-workflow-lint.yml
Labels: none

Calm things down a bit.
  .github/workflows/reusable-workflow-lint.yml
Labels: none

Add comment explaining why a11y is fetchpriority=low
  lib/client-assets.php
Labels: none

Refactor LinkControl to use unified TYPES object for icons and labels
  packages/block-editor/src/components/link-control/search-item.js
Labels: [Package] Block editor

Capitalize labels in TYPES object and test
  packages/block-editor/src/components/link-control/search-item.js
  packages/block-editor/src/components/link-control/test/index.js
Labels: [Package] Block editor

Fix: Prevent empty CSS rules when blockGap is null in theme.json
  lib/class-wp-theme-json-gutenberg.php
Labels: none

Fix: In between inserter logic for the block(gallery block).
  packages/block-editor/src/components/block-list/use-in-between-inserter.js
Labels: [Package] Block editor

Refactored code for the in-between inserter.
  packages/block-editor/src/components/block-list/use-in-between-inserter.js
Labels: [Package] Block editor

Fix yoda condition check
  lib/class-wp-theme-json-gutenberg.php
Labels: none

refactor: combine filter conditions to avoid double iteration
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Feedback
  packages/core-data/src/selectors.ts
Labels: [Package] Core data

Core Data: Always try to resolve entity permissions
  packages/core-data/src/resolvers.js
Labels: [Package] Core data

DataViews: Remove leftover code for Pages
  packages/edit-site/src/components/post-list/index.js
Labels: [Package] Edit Site

Remove period from E2E summary test name per convention.
  .github/workflows/end2end-test.yml
Labels: none

is loading state good enough
  packages/dataviews/src/components/dataviews-filters/filter.tsx
  packages/dataviews/src/dataform-controls/integer.tsx
  packages/dataviews/src/dataform-controls/select.tsx
  packages/dataviews/src/normalize-fields.ts
  packages/dataviews/src/types.ts
  packages/editor/src/components/post-fields/index.ts
Labels: [Package] Editor

Site Editor: Always show Additional CSS button
  packages/edit-site/src/components/global-styles/screen-root.js
Labels: [Package] Edit Site

Editor: Try displaying intermediate results for hierarchical terms
  packages/editor/src/components/post-taxonomies/hierarchical-term-selector.js
Labels: [Package] Editor

Use spinner
  packages/editor/src/components/post-taxonomies/hierarchical-term-selector.js
Labels: [Package] Editor

Try loading text
  packages/editor/src/components/post-taxonomies/hierarchical-term-selector.js
Labels: [Package] Editor

Code Quality: Simplify permission checks
  packages/editor/src/components/post-taxonomies/hierarchical-term-selector.js
Labels: [Package] Editor

Improve spinner styling
  packages/editor/src/components/post-taxonomies/hierarchical-term-selector.js
Labels: [Package] Editor

Fix failing unit test
  packages/edit-post/src/components/back-button/test/fullscreen-mode-close.js
Labels: [Package] Edit Post

Feedback
  packages/editor/src/components/post-taxonomies/hierarchical-term-selector.js
Labels: [Package] Editor

Gallery Block: Add E2E test for image randomization
  test/e2e/specs/editor/blocks/gallery.spec.js
Labels: none

Update derived block editing modes to support content only template locking
  packages/block-editor/src/store/private-selectors.js
  packages/block-editor/src/store/reducer.js
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/private-selectors.js
  packages/block-editor/src/store/test/reducer.js
  packages/block-editor/src/store/test/selectors.js
Labels: [Package] Block editor

Add missing selector unit tests
  packages/core-data/src/test/selectors.js
Labels: [Package] Core data

Remove integration tests, for now
  packages/core-data/src/test/store.js
Labels: [Package] Core data

Use actually uploaded media
  test/e2e/specs/editor/blocks/gallery.spec.js
Labels: none

Remove defunct code
  packages/block-editor/src/store/reducer.js
Labels: [Package] Block editor
