Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

Fix E2E test block configuration
  packages/e2e-tests/plugins/interactive-blocks/directive-unique-ids/block.json
Labels: [Package] E2E Tests

Feedback changes updated
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Removing rotate, flipHor, flipVert, and percentWidth attributes and related controls.
  docs/reference-guides/core-blocks.md
  packages/block-library/src/icon/block.json
  packages/block-library/src/icon/edit.js
  packages/block-library/src/icon/save.js
Labels: [Package] Block library

Remove itemsJustification attribute and related controls.
  docs/reference-guides/core-blocks.md
  packages/block-library/src/icon/block.json
Labels: [Package] Block library

Add Linux Foundation health score badge to README
  README.md
Labels: none

Remove iconColor and iconColorValue attributes and related controls.
  docs/reference-guides/core-blocks.md
  packages/block-library/src/icon/block.json
  packages/block-library/src/icon/edit.js
  packages/block-library/src/icon/save.js
Labels: [Package] Block library

Remove remaining color based attributes and related controls.
  docs/reference-guides/core-blocks.md
  packages/block-library/src/icon/block.json
  packages/block-library/src/icon/edit.js
  packages/block-library/src/icon/save.js
Labels: [Package] Block library

Don't show the link rel if there is not a link defined.
  packages/block-library/src/icon/edit.js
Labels: [Package] Block library

Update tests to check new valid router regions
  packages/e2e-tests/plugins/interactive-blocks/router-regions/render.php
  test/e2e/specs/interactivity/router-regions.spec.ts
Labels: [Package] E2E Tests

Update router region CSS selectors
  packages/interactivity-router/src/index.ts
Labels: none

Inject previous scope inside `router-region` directive
  packages/interactivity/src/directives.tsx
Labels: none

Clean up `renderPage` code
  packages/interactivity-router/src/index.ts
Labels: none

Document `routerRegions`
  packages/interactivity/src/directives.tsx
Labels: none

Refactor and document `cloneRouterRegionContent`
  packages/interactivity-router/src/index.ts
Labels: none

Add tests for exclusions.
  phpunit/experimental/block-comments-test.php
Labels: none

DataViews: Try adding an option to require at least one locked field to be visible
  packages/dataviews/src/components/dataviews-view-config/index.tsx
  packages/dataviews/src/components/dataviews/stories/index.story.tsx
  packages/dataviews/src/types.ts
Labels: none

Add changelog entry
  packages/dataviews/CHANGELOG.md
Labels: none

Remove flag, and also lock last visible unlocked visible field if there are no locked visible fields
  packages/dataviews/CHANGELOG.md
  packages/dataviews/src/components/dataviews-view-config/index.tsx
  packages/dataviews/src/components/dataviews/stories/index.story.tsx
  packages/dataviews/src/types.ts
Labels: none

Textarea Component: Add default resize vertical rule
  packages/components/src/textarea-control/styles/textarea-control-styles.ts
Labels: [Package] Components

Add changelog entry
  packages/components/CHANGELOG.md
Labels: [Package] Components

Fix changelog entry
  packages/components/CHANGELOG.md
Labels: [Package] Components

Update packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Merge sub-properties
  gutenberg.php
  lib/experimental/block-comments.php
  packages/editor/src/components/header/index.js
Labels: [Package] Editor

Accordion Header: Don't use flex-direction:reverse
  packages/block-library/src/accordion-header/block.json
  packages/block-library/src/accordion-header/edit.js
  packages/block-library/src/accordion-header/save.js
  packages/block-library/src/accordion/save.js
  packages/block-library/src/accordion/style.scss
Labels: [Package] Block library

fix: use withoutInteractiveFormatting instead of hardcoded formats
  packages/block-library/src/accordion-header/edit.js
Labels: [Package] Block library

Move it to the view.
  packages/dataviews/src/dataviews-layouts/table/index.tsx
  packages/dataviews/src/dataviews-layouts/table/style.scss
  packages/dataviews/src/types.ts
Labels: none

Details Block: remove accordion keyword to avoid confusion with Accordion block
  packages/block-library/src/details/block.json
Labels: [Package] Block library

Try adding content roles to navigation blocks
  docs/reference-guides/core-blocks.md
  packages/block-library/src/navigation-link/block.json
  packages/block-library/src/navigation-submenu/block.json
  packages/block-library/src/navigation/block.json
Labels: [Package] Block library

Clean up rendundant checks
  packages/block-editor/src/components/block-inspector/index.js
Labels: [Package] Block editor

fix: hide accordion icon position setting when show icon is disabled
  packages/block-library/src/accordion/edit.js
Labels: [Package] Block library

Flashblock and scroll updates added
  docs/reference-guides/data/data-core-block-editor.md
  packages/block-editor/src/store/actions.js
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Block editor, [Package] Editor

Use the view layout instead of default.
  packages/dataviews/README.md
  packages/dataviews/src/components/dataviews/stories/index.story.tsx
  packages/dataviews/src/dataviews-layouts/table/index.tsx
  packages/dataviews/src/dataviews-layouts/table/style.scss
  packages/dataviews/src/types.ts
Labels: none

Remove extra storybook code.
  packages/dataviews/src/components/dataviews/stories/index.story.tsx
Labels: none

Remove new line.
  packages/dataviews/src/dataviews-layouts/table/style.scss
Labels: none

Remove unnecessary selector call
  packages/block-editor/src/components/block-inspector/index.js
Labels: [Package] Block editor

Remove unused verticalAlign.
  packages/dataviews/src/dataviews-layouts/table/index.tsx
Labels: none

fix: hide "Add" button when multiple blocks are selected
  packages/block-library/src/accordion/edit.js
Labels: [Package] Block library

Block Inspector: Add content tab for section blocks
  packages/block-editor/src/components/block-inspector/index.js
  packages/block-editor/src/components/inspector-controls-tabs/content-tab.js
  packages/block-editor/src/components/inspector-controls-tabs/index.js
  packages/block-editor/src/components/inspector-controls-tabs/styles-tab.js
  packages/block-editor/src/components/inspector-controls-tabs/use-inspector-controls-tabs.js
  packages/block-editor/src/components/inspector-controls-tabs/utils.js
Labels: [Package] Block editor

Removing FlashBlock API changes
  docs/reference-guides/data/data-core-block-editor.md
  packages/block-editor/src/store/actions.js
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Block editor, [Package] Editor

Flashblock API changes
  docs/reference-guides/data/data-core-block-editor.md
  packages/block-editor/src/store/actions.js
Labels: [Package] Block editor

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**
