Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

lint fixes
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/dataform-controls/email.tsx
  packages/dataviews/src/dataform-controls/index.tsx
  packages/dataviews/src/dataform-controls/telephone.tsx
  packages/dataviews/src/dataform-controls/text.tsx
  packages/dataviews/src/dataform-controls/url.tsx
Labels: none

simplify prefix and suffix logic
  packages/dataviews/src/dataform-controls/text.tsx
Labels: none

move story place
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/field-types/stories/index.story.tsx
Labels: none

make types stricter
  packages/dataviews/src/types.ts
Labels: none

Add: Field config object to dataforms fields.
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/dataform-controls/index.tsx
  packages/dataviews/src/dataform-controls/text.tsx
  packages/dataviews/src/dataform-controls/textarea.tsx
  packages/dataviews/src/types.ts
Labels: none

lint fixes
  packages/dataviews/src/dataform-controls/index.tsx
  packages/dataviews/src/dataform-controls/text.tsx
Labels: none

add suffix support
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/dataform-controls/text.tsx
  packages/dataviews/src/types.ts
Labels: none

refactor to use simple prefix and suffix props
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/dataform-controls/email.tsx
  packages/dataviews/src/dataform-controls/telephone.tsx
  packages/dataviews/src/dataform-controls/text.tsx
  packages/dataviews/src/dataform-controls/url.tsx
  packages/dataviews/src/dataform-controls/utils/validated-input.tsx
Labels: none

fix prop name
  packages/dataviews/src/components/dataform/stories/index.story.tsx
Labels: none

type fixes
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/dataform-controls/text.tsx
  packages/dataviews/src/types.ts
Labels: none

rows config fix
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/dataform-controls/textarea.tsx
  packages/dataviews/src/types.ts
Labels: none

rename to control
  packages/dataviews/src/dataform-controls/index.tsx
  packages/dataviews/src/types.ts
Labels: none

remove unnecessary story and add changelog
  packages/dataviews/CHANGELOG.md
  packages/dataviews/src/field-types/stories/index.story.tsx
Labels: none

Remove `function_exists` check
  lib/experimental/block-comments.php
Labels: none

Ensure the edited post id is a string
  packages/edit-site/src/components/editor/use-resolve-edited-entity.js
Labels: [Package] Edit Site

Remove support from schema and docs
  docs/reference-guides/block-api/block-supports.md
  schemas/json/block.json
Labels: none

Add experiments setting
  lib/experimental/editor-settings.php
  lib/experiments-page.php
Labels: none

Add typing to iAPI's getConfig()
  packages/interactivity/src/store.ts
Labels: none

Make Block Visibility as experiment feature
  docs/reference-guides/core-blocks.md
  lib/experiments-page.php
  lib/load.php
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-settings-menu-controls/index.js
  packages/block-editor/src/components/block-toolbar/index.js
  packages/block-editor/src/components/block-visibility/toolbar.js
  packages/block-editor/src/components/list-view/block-select-button.js
  packages/block-editor/src/components/list-view/block.js
  packages/block-editor/src/components/use-block-drop-zone/index.js
  packages/block-library/src/block/block.json
  packages/block-library/src/pattern/block.json
  packages/block-library/src/template-part/block.json
  packages/block-library/src/utils/get-transformed-metadata.js
Labels: [Package] Block editor, [Package] Block library

initial example story
  packages/dataviews/src/components/dataform/stories/index.story.tsx
Labels: none

Add summary property for combined fields allow a custom render for the composed field.
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/dataforms-layouts/panel/index.tsx
  packages/dataviews/src/types.ts
Labels: none

add support for multiple summaries
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/dataforms-layouts/panel/dropdown.tsx
  packages/dataviews/src/dataforms-layouts/panel/index.tsx
  packages/dataviews/src/dataforms-layouts/panel/modal.tsx
  packages/dataviews/src/types.ts
Labels: none

Remove code duplication by using a util component
  packages/dataviews/src/dataforms-layouts/panel/dropdown.tsx
  packages/dataviews/src/dataforms-layouts/panel/modal.tsx
  packages/dataviews/src/dataforms-layouts/panel/summary-button.tsx
Labels: none

lint fix
  packages/dataviews/src/dataforms-layouts/panel/index.tsx
Labels: none

reorder stories
  packages/dataviews/src/components/dataform/stories/index.story.tsx
Labels: none

move story
  packages/dataviews/src/components/dataform/stories/index.story.tsx
Labels: none

Update packages/dataviews/src/dataforms-layouts/panel/index.tsx
  packages/dataviews/src/dataforms-layouts/panel/index.tsx
Labels: none

lint fixes
  packages/dataviews/src/dataforms-layouts/panel/index.tsx
Labels: none

Update packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/components/dataform/stories/index.story.tsx
Labels: none

remove duplication of button
  packages/dataviews/src/dataforms-layouts/panel/dropdown.tsx
  packages/dataviews/src/dataforms-layouts/panel/modal.tsx
  packages/dataviews/src/dataforms-layouts/panel/summary-button.tsx
Labels: none

add changelog
  packages/dataviews/CHANGELOG.md
Labels: none

fix: remove transforms for synced patterns
  packages/block-editor/src/components/block-switcher/index.js
Labels: [Package] Block editor

useClipboardHandler: Prevent file paste for users without media upload permissions
  packages/block-editor/src/components/writing-flow/use-clipboard-handler.js
Labels: [Package] Block editor

useUploadMediaFromBlobURL: Check if mediaUpload is defined
  packages/block-library/src/utils/hooks.js
Labels: [Package] Block library

Update packages/edit-site/src/components/global-styles/screen-css.js
  packages/edit-site/src/components/global-styles/screen-css.js
Labels: [Package] Edit Site

Update packages/edit-site/src/components/global-styles/screen-css.js
  packages/edit-site/src/components/global-styles/screen-css.js
Labels: [Package] Edit Site

refactor: code quality
  packages/block-editor/src/components/block-switcher/index.js
Labels: [Package] Block editor

refactor: code quality
  packages/block-editor/src/components/block-switcher/index.js
Labels: [Package] Block editor

Block Comments: Improve core data error handling
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

fix: add blank icon for suggestions without an icon
  packages/block-editor/src/components/link-control/search-item.js
  packages/icons/src/index.ts
  packages/icons/src/library/blank.tsx
Labels: [Package] Block editor, [Package] Icons

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**
