Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

DataForm: date control attaches different class depending on type
  packages/dataviews/src/dataform-controls/date.tsx
Labels: none

Improve useFormValidity hook
  packages/dataviews/src/hooks/use-form-validity.ts
Labels: none

Changes made
  packages/block-editor/src/hooks/fit-text.js
Labels: [Package] Block editor

Move to prebuild folder
  packages/theme/package.json
  packages/theme/prebuilt/css/design-tokens.css
  packages/theme/prebuilt/js/design-tokens.js
  packages/theme/prebuilt/json/figma.json
  packages/theme/terrazzo.config.ts
  packages/theme/tsconfig.json
Labels: none

Lint all prebuild files
  packages/theme/package.json
  packages/theme/prebuilt/json/figma.json
Labels: none

Move `design-tokens.ts` file to prebuild folder
  packages/theme/package.json
  packages/theme/prebuilt/js/design-tokens.ts
  packages/theme/src/use-theme-provider-styles.ts
  packages/theme/terrazzo.config.ts
Labels: none

Fixup
  packages/theme/package.json
  packages/theme/prebuild/css/design-tokens.css
  packages/theme/prebuild/js/design-tokens.js
  packages/theme/prebuild/js/design-tokens.ts
  packages/theme/prebuild/json/figma.json
  packages/theme/src/use-theme-provider-styles.ts
  packages/theme/terrazzo.config.ts
  packages/theme/tsconfig.json
Labels: none

apply feedback and lint fixes
  packages/block-editor/src/hooks/fit-text.js
  packages/block-editor/src/utils/fit-text-utils.js
Labels: [Package] Block editor

fix comment
  packages/block-editor/src/utils/fit-text-utils.js
Labels: [Package] Block editor

Template activation: clear notice on post change
  packages/editor/src/components/provider/index.js
  packages/editor/src/store/actions.js
Labels: [Package] Editor

Prebuild as part of root build process
  packages/theme/package.json
Labels: none

Rename types tests to types
  packages/interactivity/src/test/store.ts
  packages/interactivity/src/test/types.ts
  packages/interactivity/tsconfig.test.json
Labels: none

Use `Record<string, unknown>` type for non-generic in getServerState
  packages/interactivity/src/store.ts
  packages/interactivity/src/test/types.ts
Labels: none

Use `Record<string, unknown>` type for non-generic in getServerContext
  packages/interactivity/src/scopes.ts
  packages/interactivity/src/test/types.ts
Labels: none

Reverse on array creation
  packages/interactivity/src/directives.tsx
Labels: none

Add changelog
  packages/interactivity/CHANGELOG.md
Labels: none

Update changelog
  packages/interactivity/CHANGELOG.md
Labels: none

add logic for custom color boolean for borders
  packages/block-editor/src/components/global-styles/border-panel.js
Labels: [Package] Block editor

Eslint: Ignore `build-wp`
  .eslintignore
Labels: none

add tests to verify color picker is visible or not visible
  packages/components/src/border-box-control/test/index.tsx
Labels: [Package] Components

Return original blocks when controlledBlocks represent post content in a template for UUID-based awareness features to work
  packages/block-editor/src/components/provider/use-block-sync.js
Labels: [Package] Block editor

Try resolving floating point differences
  packages/theme/src/color-ramps/test/__snapshots__/index.test.ts.snap
  packages/theme/src/color-ramps/test/index.test.ts
Labels: none

Update packages/block-editor/src/hooks/fit-text.js
  packages/block-editor/src/hooks/fit-text.js
Labels: [Package] Block editor

Update readme
  packages/theme/README.md
Labels: none

Remove layers from stylesheet
  packages/theme/src/style.module.css
Labels: none

Paragraph and Heading Block: Remove stretchy text variation
  packages/block-library/src/heading/index.js
  packages/block-library/src/paragraph/index.js
  packages/block-library/src/paragraph/variations.js
  test/e2e/specs/editor/blocks/details.spec.js
  test/e2e/specs/editor/blocks/list.spec.js
  test/e2e/specs/editor/plugins/allowed-blocks.spec.js
  test/e2e/specs/editor/plugins/block-variations.spec.js
  test/e2e/specs/editor/plugins/child-blocks.spec.js
  test/e2e/specs/editor/plugins/inner-blocks-allowed-blocks.spec.js
  test/e2e/specs/editor/plugins/post-type-locking.spec.js
  test/e2e/specs/editor/various/autocomplete-and-mentions.spec.js
  test/e2e/specs/editor/various/block-hierarchy-navigation.spec.js
  test/e2e/specs/editor/various/block-switcher.spec.js
  test/e2e/specs/editor/various/block-visibility.spec.js
  test/e2e/specs/editor/various/inserting-blocks.spec.js
  test/e2e/specs/editor/various/list-view.spec.js
  test/e2e/specs/editor/various/navigable-toolbar.spec.js
  test/e2e/specs/widgets/editing-widgets.spec.js
Labels: [Package] Block library

Notes: Update snackbar text
  packages/editor/src/components/collab-sidebar/hooks.js
Labels: [Package] Editor

Update e2e test
  test/e2e/specs/editor/various/block-comments.spec.js
Labels: none

Notes: Change metadata key
  packages/block-library/src/utils/get-transformed-metadata.js
  packages/editor/src/components/collab-sidebar/add-comment.js
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/hooks.js
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Block library, [Package] Editor

improve sync function handling
  packages/interactivity/src/hooks.tsx
Labels: none

Breadcrumbs: Add terms breadcrumbs support
  docs/reference-guides/core-blocks.md
  packages/block-library/src/breadcrumbs/block.json
  packages/block-library/src/breadcrumbs/edit.js
  packages/block-library/src/breadcrumbs/index.php
  packages/editor/src/components/provider/use-hide-blocks-from-inserter.js
Labels: [Package] Block library, [Package] Editor

add Spinner when loading
  packages/block-library/src/breadcrumbs/edit.js
Labels: [Package] Block library

rename breadcrumb types
  packages/block-library/src/breadcrumbs/block.json
  packages/block-library/src/breadcrumbs/edit.js
  packages/block-library/src/breadcrumbs/index.php
Labels: [Package] Block library

fix from rebase
  packages/block-library/src/breadcrumbs/index.php
Labels: [Package] Block library

include `is_front_page` check not to render anything
  packages/block-library/src/breadcrumbs/index.php
Labels: [Package] Block library

change copy and fix php lint
  packages/block-library/src/breadcrumbs/edit.js
  packages/block-library/src/breadcrumbs/index.php
Labels: [Package] Block library

Invalidate useServerSideRender cache upon saving
  packages/block-library/src/breadcrumbs/edit.js
Labels: [Package] Block library

Remove heading/variation.js
  packages/block-library/src/heading/variations.js
Labels: [Package] Block library

Rename commentId to noteId
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Add clear comments for backwards compat
  lib/compat/wordpress-6.9/post-data-block-bindings.php
  lib/compat/wordpress-6.9/term-data-block-bindings.php
  packages/editor/src/bindings/post-data.js
  packages/editor/src/bindings/term-data.js
Labels: [Package] Editor

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**
