Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

Remove the icon-container class from edit. Remove more unused styles.
  packages/block-library/src/icon/edit.js
  packages/block-library/src/icon/style.scss
Labels: [Package] Block library

Don't apply selection change for off-canvas text length changes
  packages/rich-text/src/component/index.js
Labels: [Package] Rich text

reintroduce passing all props to inspector controls
  packages/block-library/src/terms-query/edit/terms-query-content.js
Labels: [Package] Block library

Change selector to root class icon attribute. Remove edit icon that was causing inserter to crash.
  docs/reference-guides/core-blocks.md
  packages/block-library/src/icon/block.json
  packages/block-library/src/icon/icons/index.js
Labels: [Package] Block library

Remove ariaLabel true until I know how it works.
  docs/reference-guides/core-blocks.md
  packages/block-library/src/icon/block.json
Labels: [Package] Block library

Add test in firefox to prevent regression of navigation block bug
  test/e2e/specs/editor/blocks/navigation.spec.js
Labels: none

Simplify logic for when to skip selection tracking
  packages/rich-text/src/component/index.js
Labels: [Package] Rich text

FeaturedImage field: leverage embed instead of triggering a request per item
  packages/edit-site/src/components/post-list/index.js
  packages/fields/README.md
  packages/fields/src/fields/featured-image/featured-image-edit.tsx
  packages/fields/src/fields/featured-image/featured-image-view.tsx
  packages/fields/src/fields/featured-image/index.ts
  packages/fields/src/types.ts
Labels: [Package] Edit Site

FeaturedMedia Edit: trigger request to get the media
  packages/fields/src/fields/featured-image/featured-image-edit.tsx
Labels: none

Template activation: improve back compat
  lib/compat/wordpress-6.9/template-activate.php
  packages/core-data/src/actions.js
  packages/core-data/src/resolvers.js
  packages/core-data/src/selectors.ts
  packages/e2e-test-utils-playwright/src/request-utils/templates.ts
  test/e2e/specs/site-editor/save-entity-record-template-compat.spec.js
Labels: [Package] Core data

lint
  lib/compat/wordpress-6.9/template-activate.php
  packages/e2e-test-utils-playwright/src/request-utils/templates.ts
Labels: none

fix override
  lib/compat/wordpress-6.9/template-activate.php
Labels: none

Simplify
  packages/rich-text/src/component/index.js
Labels: [Package] Rich text

todo
  packages/core-data/src/actions.js
  packages/core-data/src/resolvers.js
  test/e2e/specs/site-editor/preload.spec.js
Labels: [Package] Core data

fix accordion-heading remove-toggle-icon-typography
  packages/block-library/src/accordion-heading/block.json
  packages/block-library/src/accordion-heading/deprecated.js
  packages/block-library/src/accordion-heading/edit.js
  packages/block-library/src/accordion-heading/index.js
  packages/block-library/src/accordion-heading/save.js
  test/integration/fixtures/blocks/core__accordion-heading__deprecated-v1.html
  test/integration/fixtures/blocks/core__accordion-heading__deprecated-v1.json
  test/integration/fixtures/blocks/core__accordion-heading__deprecated-v1.parsed.json
  test/integration/fixtures/blocks/core__accordion-heading__deprecated-v1.serialized.html
Labels: [Package] Block library

Adds link color support
  docs/reference-guides/core-blocks.md
  packages/block-library/src/table/block.json
Labels: [Package] Block library

Fixed unit tests
  test/integration/fixtures/blocks/core__table__deprecated-1.serialized.html
Labels: none

Fix unit test HTML escaping after core change
  phpunit/block-supports/background-test.php
Labels: none

Removing focus changes
  packages/editor/src/components/collab-sidebar/add-comment.js
  packages/editor/src/components/collab-sidebar/comment-form.js
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Huh?
  phpunit/block-supports/background-test.php
Labels: none

Revert "Huh?"
  phpunit/block-supports/background-test.php
Labels: none

Use assertEqualHTML
  phpunit/block-supports/background-test.php
Labels: none

Switch to assertSame to match core test
  phpunit/block-supports/background-test.php
Labels: none

Try to fix PHP tests
  phpunit/block-supports/background-test.php
Labels: none

try 2
  phpunit/block-supports/background-test.php
Labels: none

Address PR feedbacks
  packages/block-library/src/pullquote/test/edit.native.js
  packages/block-library/src/pullquote/transforms.js
  test/e2e/specs/editor/blocks/__snapshots__/Pullquote-can-be-converted-to-a-Quote-block-1-chromium.txt
  test/e2e/specs/editor/blocks/pullquote.spec.js
Labels: [Package] Block library

try 3
  phpunit/block-supports/background-test.php
Labels: none

Style changes
  packages/editor/src/components/collab-sidebar/style.scss
Labels: [Package] Editor

Update svg
  packages/icons/src/library/term-name.svg
Labels: [Package] Icons

Fix term description context
  packages/block-library/src/term-description/index.php
Labels: [Package] Block library

Fix error
  packages/block-library/src/term-description/index.php
Labels: [Package] Block library

Remove old pattern overrides back compat code and update tests
  packages/blocks/src/api/parser/convert-legacy-block.js
  test/e2e/specs/editor/various/pattern-overrides.spec.js
Labels: [Package] Blocks

Add theme field to non db templates
  lib/compat/wordpress-6.9/template-activate.php
  test/e2e/specs/site-editor/save-entity-record-template-compat.spec.js
Labels: none

Fix TS errors
  package.json
Labels: none

Fix unit tests
  test/unit/scripts/resolver.js
Labels: none

Define the env variables properly
  bin/packages/build-v2.mjs
Labels: none

Build V2: Support JSX and JSON
  bin/packages/build-v2.mjs
  bin/packages/v2-packages.js
  package-lock.json
  package.json
  packages/annotations/package.json
  packages/babel-preset-default/index.js
  packages/babel-preset-default/package.json
  packages/blocks/package.json
  packages/blocks/src/api/registration.js
  packages/compose/package.json
  packages/data-controls/package.json
  packages/data/package.json
  packages/keyboard-shortcuts/package.json
  packages/media-utils/package.json
  packages/notices/package.json
  packages/react-i18n/package.json
  packages/rich-text/package.json
  packages/router/package.json
  packages/viewport/package.json
Labels: [Package] Babel preset, [Package] Blocks, [Package] Compose, [Package] Data Controls, [Package] Data, [Package] Keyboard Shortcuts, [Package] Media Utils, [Package] Notices, [Package] React i18n, [Package] Rich text, [Package] Viewport

Fix phpunit test
  phpunit/script-dependencies-test.php
Labels: none

Update packages/block-library/src/accordion-heading/block.json
  packages/block-library/src/accordion-heading/block.json
Labels: [Package] Block library

Completely deprecate Pullquote block
  docs/contributors/documentation/copy-guide.md
  packages/block-editor/src/components/block-switcher/block-transformations-menu.native.js
  packages/edit-site/src/components/style-book/examples.tsx
  platform-docs/docs/basic-concepts/block-library.md
  post-content.php
  test/e2e/specs/editor/various/list-view.spec.js
Labels: [Package] Block editor, [Package] Edit Site
