Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

Revert "Filter comment clause based on current query. (#71712)"
  lib/experimental/block-comments.php
Labels: none

DataForm Textarea: Add support for resize property
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/dataform-controls/textarea.tsx
  packages/dataviews/src/types.ts
Labels: none

Tests for block comments filter.
  phpunit/bootstrap.php
  phpunit/experimental/block-comments-test.php
Labels: none

Add changelog entry
  packages/dataviews/CHANGELOG.md
Labels: none

fix: hide non-hideable fields from the hidden properties
  packages/dataviews/CHANGELOG.md
  packages/dataviews/src/components/dataviews-view-config/index.tsx
  packages/dataviews/src/types.ts
Labels: none

Test using the test object.
  phpunit/experimental/block-comments-test.php
Labels: none

Modify filter to use pre_get_comments hook.
  lib/experimental/block-comments.php
Labels: none

Backport log.
  backport-changelog/6.9/9946.md
Labels: none

Docblock for shared fixtures.
  phpunit/experimental/block-comments-test.php
Labels: none

Block Switcher: Refactor section block detection to use `clientIds` directly, simplifying the logic for identifying section blocks in the selection.
  packages/block-editor/src/components/block-switcher/index.js
Labels: [Package] Block editor

Block Switcher: Update section block detection to support multiple selected blocks by utilizing `getSelectedBlockClientIds`.
  packages/block-editor/src/components/block-switcher/index.js
Labels: [Package] Block editor

Block Inspector: Enhance selection handling by introducing support for multiple selected blocks and updating section block checks.
  packages/block-editor/src/components/block-inspector/index.js
Labels: [Package] Block editor

Test comment IDs are included/excluded as expected.
  phpunit/experimental/block-comments-test.php
Labels: none

Block Inspector and Block Switcher: Refactor section block detection to improve handling of multiple selected blocks, ensuring accurate identification of section blocks in selection.
  packages/block-editor/src/components/block-inspector/index.js
  packages/block-editor/src/components/block-switcher/index.js
Labels: [Package] Block editor

Rename function to match file name
  packages/block-library/src/terms-query/inspector-controls/max-terms-controls.js
Labels: [Package] Block library

Consolidate the Styles slots
  packages/block-editor/src/components/block-inspector/index.js
  packages/block-editor/src/components/block-inspector/style-inspector-slots.js
Labels: [Package] Block editor

Remove ContentPanel component and inline its functionality
  packages/block-editor/src/components/block-inspector/index.js
Labels: [Package] Block editor

Remove unused onSelect prop from ContentPanel
  packages/block-editor/src/components/block-inspector/index.js
Labels: [Package] Block editor

Remove className prop from StyleInspectorSlots
  packages/block-editor/src/components/block-inspector/index.js
Labels: [Package] Block editor

Refactor block-inspector: extract and inline StyleInspectorSlots and ContentPanel components
  packages/block-editor/src/components/block-inspector/index.js
Labels: [Package] Block editor

Restore import order
  packages/block-editor/src/components/block-inspector/index.js
Labels: [Package] Block editor

Fix multi-selection mode inspector slot rendering
  packages/block-editor/src/components/block-inspector/index.js
Labels: [Package] Block editor

Consolidate vars
  packages/block-editor/src/components/block-inspector/index.js
  packages/block-editor/src/components/block-inspector/style-inspector-slots.js
Labels: [Package] Block editor

Rename __experimentalBlockVisibility to blockVisibility
  docs/reference-guides/core-blocks.md
  packages/block-editor/src/components/block-settings-menu-controls/index.js
  packages/block-editor/src/components/block-visibility/toolbar.js
  packages/block-library/src/block/block.json
  packages/block-library/src/pattern/block.json
  packages/block-library/src/template-part/block.json
  packages/block-library/src/utils/get-transformed-metadata.js
Labels: [Package] Block editor, [Package] Block library

Rename MaxTermsControls to MaxTermsControl to make it consistent with the rest of inspector controls
  packages/block-library/src/terms-query/inspector-controls/index.js
  packages/block-library/src/terms-query/inspector-controls/max-terms-control.js
Labels: [Package] Block library

Add changes to use the new getValue/setValue API
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/dataform-controls/array.tsx
Labels: none

Fix race condition in context e2e tests
  packages/e2e-tests/plugins/interactive-blocks/directive-context/render.php
  packages/e2e-tests/plugins/interactive-blocks/directive-context/view.js
  test/e2e/specs/interactivity/directive-context.spec.ts
Labels: [Package] E2E Tests

Accordion Header: Remove hardcoded inline styles and unused CSS class
  packages/block-library/src/accordion-content/icons.js
  packages/block-library/src/accordion-header/edit.js
  packages/block-library/src/accordion-header/save.js
  packages/block-library/src/accordion/style.scss
Labels: [Package] Block library

Update packages/dataviews/CHANGELOG.md
  packages/dataviews/CHANGELOG.md
Labels: none

Remove validateToken from onChange
  packages/dataviews/src/dataform-controls/array.tsx
Labels: none

Added flashblock and updated highlight issues
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Remove customInvalidMessage and messages
  packages/dataviews/src/dataform-controls/array.tsx
Labels: none

Fix linting
  packages/components/src/private-apis.ts
Labels: [Package] Components

Moves changelog entries to Unreleased
  packages/components/CHANGELOG.md
  packages/dataviews/CHANGELOG.md
Labels: [Package] Components

Update packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

remove post status condition
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Move Additional CSS button into elipsis menu item
  packages/edit-site/src/components/global-styles/screen-css.js
  packages/edit-site/src/components/global-styles/screen-root.js
  packages/edit-site/src/components/sidebar-global-styles-wrapper/index.js
Labels: [Package] Edit Site

Feedback changes
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Add support for multiple identical directives with unique IDs
  packages/interactivity/src/directives.tsx
  packages/interactivity/src/hooks.tsx
  packages/interactivity/src/test/unique-ids.test.ts
  packages/interactivity/src/vdom.ts
Labels: none

Add E2E tests for unique IDs functionality
  packages/e2e-tests/plugins/interactive-blocks/directive-unique-ids/block.json
  packages/e2e-tests/plugins/interactive-blocks/directive-unique-ids/render.php
  packages/e2e-tests/plugins/interactive-blocks/directive-unique-ids/view.asset.php
  packages/e2e-tests/plugins/interactive-blocks/directive-unique-ids/view.js
  test/e2e/specs/interactivity/directive-unique-ids.spec.ts
Labels: [Package] E2E Tests

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**
