Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

linter fixes
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/utils.js
Labels: [Package] Editor

Move all functionality to lib/experimental/block-comments.php
  lib/compat/wordpress-6.9/editorial-comments.php
  lib/compat/wordpress-6.9/post-list.php
  lib/experimental/block-comments.php
  lib/load.php
Labels: none

Remove textAlignment attribute
  docs/reference-guides/core-blocks.md
  packages/block-library/src/accordion-header/block.json
Labels: [Package] Block library

Remove textAlign logic
  packages/block-library/src/accordion-header/edit.js
  packages/block-library/src/accordion-header/save.js
Labels: [Package] Block library

Remove clsx
  packages/block-library/src/accordion-header/edit.js
  packages/block-library/src/accordion-header/save.js
Labels: [Package] Block library

Lint
  lib/compat/wordpress-6.9/php-only-blocks.php
Labels: none

Add e2e tests
  packages/block-library/src/index.js
  packages/e2e-tests/plugins/server-side-rendered-block.php
  test/e2e/specs/editor/plugins/server-side-rendered-block.spec.js
Labels: [Package] Block library, [Package] E2E Tests

Restore test fixtures
  test/integration/fixtures/blocks/core__table-of-contents__empty.html
  test/integration/fixtures/blocks/core__table-of-contents__empty.json
  test/integration/fixtures/blocks/core__table-of-contents__empty.parsed.json
  test/integration/fixtures/blocks/core__table-of-contents__empty.serialized.html
Labels: none

Revert changes to other test fixtures
  test/integration/fixtures/blocks/core__table-of-contents.html
  test/integration/fixtures/blocks/core__table-of-contents.json
  test/integration/fixtures/blocks/core__table-of-contents.parsed.json
  test/integration/fixtures/blocks/core__table-of-contents.serialized.html
Labels: none

Bump plugin version to 21.7.0
  gutenberg.php
  package-lock.json
  package.json
Labels: none

Block Comments: Update 'Actions' menu design
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/style.scss
Labels: [Package] Editor

Update Changelog for 21.7.0
  changelog.txt
Labels: none

Update packages/block-library/src/post-time-to-read/edit.js
  packages/block-library/src/post-time-to-read/edit.js
Labels: [Package] Block library

Update packages/block-library/src/post-time-to-read/edit.js
  packages/block-library/src/post-time-to-read/edit.js
Labels: [Package] Block library

Update packages/block-library/src/post-time-to-read/index.php
  packages/block-library/src/post-time-to-read/index.php
Labels: [Package] Block library

Update packages/block-library/src/post-time-to-read/index.php
  packages/block-library/src/post-time-to-read/index.php
Labels: [Package] Block library

Update packages/block-library/src/post-time-to-read/index.php
  packages/block-library/src/post-time-to-read/index.php
Labels: [Package] Block library

Add basic readme for test scaffold
  usability-test/README.md
Labels: none

Cleanup, add pages
  lib/experimental/block-comments.php
Labels: none

Fixes for phpcs
  lib/experimental/block-comments.php
Labels: none

Fix bad condition
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

fix word count
  phpunit/blocks/render-post-time-to-read-test.php
Labels: none

Update e2e tests
  test/e2e/specs/editor/various/block-comments.spec.js
Labels: none

phpcbf
  lib/experimental/block-comments.php
Labels: none

whitespace
  lib/experimental/block-comments.php
Labels: none

Cleanup after merge
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

remove use of useEntityBlockEditor
  packages/editor/src/components/collab-sidebar/index.js
  packages/editor/src/components/collab-sidebar/utils.js
Labels: [Package] Editor

Block Comments: Make commment thread focusable
  packages/editor/src/components/collab-sidebar/add-comment.js
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/index.js
  packages/editor/src/components/collab-sidebar/style.scss
  test/e2e/specs/editor/various/block-comments.spec.js
Labels: [Package] Editor

Block Comments: Match the show more replies button UI to the design
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/style.scss
Labels: [Package] Editor

Feedback
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Update packages/block-library/src/table-of-contents/index.php
  packages/block-library/src/table-of-contents/index.php
Labels: [Package] Block library

Add aria-label to the composite item when a title field is provided
  packages/dataviews/src/dataviews-layouts/picker-grid/index.tsx
Labels: none

Add configuration for layout type
  packages/fields/src/stories/index.story.tsx
Labels: none

Updated feedback changes
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Added missing functions
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Block Comments: Update editing flow
  packages/editor/src/components/collab-sidebar/comment-form.js
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Misc
  packages/editor/src/components/collab-sidebar/comment-form.js
Labels: [Package] Editor

Update string in e2e tests
  test/e2e/specs/editor/various/block-comments.spec.js
Labels: none

replace summaryField specific for the Card Layout with the summary field
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/dataforms-layouts/card/index.tsx
  packages/dataviews/src/dataforms-layouts/get-summary-fields.ts
  packages/dataviews/src/dataforms-layouts/panel/index.tsx
  packages/dataviews/src/normalize-form-fields.ts
  packages/dataviews/src/types.ts
Labels: none

update documentation
  packages/dataviews/README.md
Labels: none
