Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

Block Bindings: Add blockBindingsSupportedAttributes to editor settings
  lib/compat/wordpress-6.9/block-bindings.php
Labels: none

Making tabs & tab blocks experimental
  docs/reference-guides/core-blocks.md
  packages/block-library/src/index.js
  packages/block-library/src/tab/block.json
  packages/block-library/src/tabs/block.json
Labels: [Package] Block library

add an attribute so site owners can filter the value, and fix the JS time calculations
  docs/reference-guides/core-blocks.md
  packages/block-library/src/post-time-to-read/block.json
  packages/block-library/src/post-time-to-read/edit.js
  packages/block-library/src/post-time-to-read/index.php
Labels: [Package] Block library

Enable empty comments by substituting a placeholder
  lib/compat/wordpress-6.9/rest-api.php
Labels: none

Fix tabs experimental placement
  packages/block-library/src/index.js
Labels: [Package] Block library

Sub placeholder for sent empties
  lib/compat/wordpress-6.9/rest-api.php
Labels: none

phpcbf
  lib/compat/wordpress-6.9/rest-api.php
Labels: none

remove unnecessary const
  packages/block-library/src/post-time-to-read/edit.js
Labels: [Package] Block library

Update packages/block-library/src/post-time-to-read/index.php
  packages/block-library/src/post-time-to-read/index.php
Labels: [Package] Block library

Accordion Blocks: Standardize CSS class names
  packages/block-library/src/accordion-content/block.json
  packages/block-library/src/accordion-content/index.php
  packages/block-library/src/accordion-content/save.js
  packages/block-library/src/accordion-content/style.scss
  packages/block-library/src/accordion-header/block.json
  packages/block-library/src/accordion-header/edit.js
  packages/block-library/src/accordion-header/save.js
  packages/block-library/src/accordion-header/style.scss
  packages/block-library/src/accordion-panel/block.json
  packages/block-library/src/accordion-panel/style.scss
  packages/block-library/src/accordion/block.json
  packages/block-library/src/accordion/style.scss
  packages/block-library/src/style.scss
Labels: [Package] Block library

Add backport changelog
  backport-changelog/6.9/9992.md
Labels: none

Enable empty comments when the comment_type is 'block_comment'
  lib/compat/wordpress-6.9/rest-api.php
Labels: none

remove placeholder filtering
  lib/compat/wordpress-6.9/rest-api.php
Labels: none

phpcbf
  lib/compat/wordpress-6.9/rest-api.php
Labels: none

Update packages/block-library/src/post-time-to-read/index.php
  packages/block-library/src/post-time-to-read/index.php
Labels: [Package] Block library

Improve filter doc block
  lib/compat/wordpress-6.9/rest-api.php
Labels: none

Pass both parameters to the filter
  lib/compat/wordpress-6.9/rest-api.php
Labels: none

Change return type of `useTemplateBasedTermData` to string
  packages/block-library/src/term-description/use-term-description.js
Labels: [Package] Block library

Add periods at the end of comments
  packages/block-library/src/term-description/use-term-description.js
Labels: [Package] Block library

feat(block-library): Organize accordion block supports
  packages/block-library/src/accordion-content/block.json
  packages/block-library/src/accordion-header/block.json
  packages/block-library/src/accordion-panel/block.json
  packages/block-library/src/accordion/block.json
Labels: [Package] Block library

Prevent Esc Executing the Change Event in Category widget Dropdown
  packages/block-library/src/categories/index.php
Labels: [Package] Block library

Prevent Esc Executing the Change Event in Category widget Dropdown
  packages/block-library/src/categories/index.php
Labels: [Package] Block library

Prevent Esc Executing the Change Event in Category widget Dropdown
  packages/block-library/src/categories/index.php
Labels: [Package] Block library

docs: Update core-blocks.md after build
  docs/reference-guides/core-blocks.md
Labels: none

Prevent Esc Executing the Change Event in Category widget Dropdown
  packages/block-library/src/categories/index.php
Labels: [Package] Block library

Prevent Esc Executing the Change Event in Category widget Dropdown
  packages/block-library/src/categories/index.php
Labels: [Package] Block library

Fix PHPCS Issue
  packages/block-library/src/categories/index.php
Labels: [Package] Block library

Use multiple paths for menu icon
  packages/block-library/src/navigation/index.php
Labels: [Package] Block library

Use multiple rect for menu icon
  packages/block-library/src/navigation/index.php
Labels: [Package] Block library

Use path for all navigation toogle icons
  packages/block-library/src/navigation/index.php
Labels: [Package] Block library

Move changelog note under "Unreleased"
  packages/components/CHANGELOG.md
Labels: [Package] Components

Fix richtext basically not working
  packages/block-editor/src/components/rich-text/index.js
Labels: [Package] Block editor

Fix pattern override bug, first attempt
  packages/block-editor/src/components/rich-text/index.js
Labels: [Package] Block editor

Add e2e test
  test/e2e/specs/editor/various/pattern-overrides.spec.js
Labels: none

Docs: Add Learn more link to Interactivity API reference
  docs/reference-guides/interactivity-api/api-reference.md
Labels: none

Fine tuning, remove logging
  lib/compat/wordpress-6.9/post-list.php
Labels: none

improve links
  lib/compat/wordpress-6.9/post-list.php
Labels: none

phpcs
  lib/compat/wordpress-6.9/post-list.php
Labels: none

try: add an editorial comments column on all posts page
  lib/compat/wordpress-6.9/post-list.php
Labels: none

linter fixes
  lib/compat/wordpress-6.9/post-list.php
Labels: none

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**
