Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

Update post-data.js
  packages/editor/src/bindings/post-data.js
Labels: [Package] Editor

Update changelog: disable 'Select item' when required
  packages/dataviews/CHANGELOG.md
Labels: none

test story
  packages/dataviews/src/stories/dataform.story.tsx
Labels: none

Update post-data.js
  packages/editor/src/bindings/post-data.js
Labels: [Package] Editor

implementation
  packages/dataviews/src/dataform-layouts/normalize-form-fields.ts
  packages/dataviews/src/dataform-layouts/row/index.tsx
  packages/dataviews/src/types/dataform.ts
Labels: none

Fix changelog entry format for Select item option
  packages/dataviews/CHANGELOG.md
Labels: none

Update changelog: disable 'Select item' when required
  packages/dataviews/CHANGELOG.md
Labels: none

Add <BlockCanvasCover> and <VisualEditorOverlay>
  packages/block-editor/src/components/block-canvas/index.js
  packages/block-editor/src/index.js
  packages/editor/src/components/visual-editor/index.js
  packages/editor/src/index.js
Labels: [Package] Block editor, [Package] Editor

Move changelog entry to Unreleased section
  packages/dataviews/CHANGELOG.md
Labels: none

Update story
  packages/dataviews/src/stories/dataform.story.tsx
Labels: none

Add changelog
  packages/dataviews/CHANGELOG.md
Labels: none

Initial commit
  docs/getting-started/fundamentals/registration-of-a-block.md
  docs/getting-started/fundamentals/static-dynamic-rendering.md
  docs/reference-guides/block-api/block-supports.md
Labels: none

Ensure sort order matches blocks
  packages/editor/src/components/collab-sidebar/hooks.js
Labels: [Package] Editor

Flip search icons depending on placement
  packages/commands/src/components/command-menu.js
  packages/commands/src/components/style.scss
  packages/components/src/search-control/index.tsx
  packages/components/src/search-control/styles.ts
  packages/dataviews/src/components/dataviews-filters/style.scss
Labels: [Package] Commands, [Package] Components

fix data setup issue
  packages/editor/src/components/collab-sidebar/hooks.js
Labels: [Package] Editor

Add changelogs
  packages/components/CHANGELOG.md
  packages/dataviews/CHANGELOG.md
Labels: [Package] Components

Teach lint tools to handle these generated files
  package.json
  packages/icons/bin/generate-library.js
  packages/icons/package.json
  packages/icons/src/index.ts
Labels: [Package] Icons

Icons: Remove `clean` script
  packages/icons/package.json
Labels: [Package] Icons

Updated CHANGELOG.md
  packages/dataviews/CHANGELOG.md
Labels: none

Update CHANGELOG.md
  packages/icons/CHANGELOG.md
Labels: [Package] Icons

SearchControl: Normalize styles
  packages/block-editor/src/components/inserter/style.scss
  packages/components/src/search-control/index.tsx
  packages/components/src/search-control/styles.ts
Labels: [Package] Block editor, [Package] Components

issue solved by making the tabIndex to -1.
  packages/block-library/src/accordion-heading/edit.js
  packages/block-library/src/accordion/edit.js
Labels: [Package] Block library

Update styles in DataViews search widget
  packages/dataviews/src/components/dataviews-filters/style.scss
Labels: none

fix(create-block): support npm alias type in checkDependency
  packages/create-block/lib/init-package-json.js
Labels: [Package] Create Block

Remove setEditingControls state
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation-link/shared/controls.js
Labels: [Package] Block library

Match avatar border color pickling code to client
  lib/experimental/block-comments.php
  lib/experimental/class-custom-wp-posts-list-table.php
Labels: none

ensure unique class names and remove style conditional
  lib/experimental/block-comments.php
  lib/experimental/class-custom-wp-posts-list-table.php
Labels: none

Add tooltip to images
  lib/experimental/class-custom-wp-posts-list-table.php
Labels: none

Improve doc blocks
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Cleanup
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

remove unused new comment state for now
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

remove unused active comment state
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Improve doc blocks 2
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Fix all warns in directives
  packages/interactivity/src/directives.tsx
Labels: none

Changelog automation: add "Collaboration" mapping
  bin/plugin/commands/changelog.js
Labels: none

Update class-custom-wp-posts-list-table.php
  lib/experimental/class-custom-wp-posts-list-table.php
Labels: none

Remove previous implementation as no longer needed
  packages/block-library/src/accordion-heading/edit.js
Labels: [Package] Block library

Fix Dataviews ItemClickable when set to false.
  packages/dataviews/src/dataviews-layouts/utils/item-click-wrapper.tsx
Labels: none

created block support alias
  packages/create-block/lib/init-package-json.js
Labels: [Package] Create Block

updated changelog
  packages/create-block/CHANGELOG.md
Labels: [Package] Create Block
