Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

move in utils
  packages/dataviews/src/dataform-controls/email.tsx
  packages/dataviews/src/dataform-controls/telephone.tsx
  packages/dataviews/src/dataform-controls/text.tsx
  packages/dataviews/src/dataform-controls/utils/validated-text.tsx
Labels: none

refactor: extract shared BackButton component from LinkUI
  packages/block-library/src/navigation-link/link-ui.js
  packages/block-library/src/navigation-link/page-creator.js
Labels: [Package] Block library

refactor: extract useDialogIds hook for dialog accessibility IDs
  packages/block-library/src/navigation-link/link-ui.js
Labels: [Package] Block library

refactor: create DialogWrapper component with minimal API
  packages/block-library/src/navigation-link/link-ui.js
  packages/block-library/src/navigation-link/page-creator.js
Labels: [Package] Block library

refactor: extract LinkUIBlockInserter to separate file and consolidate BackButton
  packages/block-library/src/navigation-link/block-inserter.js
  packages/block-library/src/navigation-link/dialog-wrapper.js
  packages/block-library/src/navigation-link/link-ui.js
  packages/block-library/src/navigation-link/page-creator.js
Labels: [Package] Block library

refactor: simplify DialogWrapper instance ID generation
  packages/block-library/src/navigation-link/dialog-wrapper.js
Labels: [Package] Block library

remove tel regex validation
  packages/dataviews/src/field-types/telephone.tsx
Labels: none

Standardise ID generation in Dialog
  packages/block-library/src/navigation-link/dialog-wrapper.js
Labels: [Package] Block library

Add control to show visible text fo three buttons
  docs/reference-guides/core-blocks.md
  packages/block-library/src/gallery/block.json
  packages/block-library/src/gallery/edit.js
  packages/block-library/src/image/block.json
  packages/block-library/src/image/index.php
  packages/block-library/src/image/style.scss
Labels: [Package] Block library

update validation story
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/field-types/stories/index.story.tsx
Labels: none

Enhance text of Enlarge button
  packages/block-library/src/gallery/index.php
  packages/block-library/src/image/index.php
Labels: [Package] Block library

chore: add entry to changelog.md
  packages/components/CHANGELOG.md
Labels: [Package] Components

fix: add left and right align support for avatar block on the frontend
  packages/block-library/src/avatar/style.scss
Labels: [Package] Block library

Regenerate fixtures
  test/integration/fixtures/blocks/core__gallery-with-caption.json
  test/integration/fixtures/blocks/core__gallery.json
  test/integration/fixtures/blocks/core__gallery__columns.json
  test/integration/fixtures/blocks/core__gallery__deprecated-7.json
Labels: none

fix: add alignment support for avatar block in the editor
  packages/block-library/src/avatar/editor.scss
Labels: [Package] Block library

Add smart block appender labels using __experimentalLabel
  packages/block-editor/src/components/button-block-appender/index.js
  packages/block-editor/src/components/inserter/index.js
  packages/block-library/src/navigation-link/index.js
Labels: [Package] Block editor, [Package] Block library

chore: correct pull request reference in changelog for Modal text color fix
  packages/components/CHANGELOG.md
Labels: [Package] Components

Update context test to make sure they work with newly supported block attributes
  phpunit/block-bindings-test.php
Labels: none

Add block_bindings_supported_attributes filter during setup, absorb test into data provider
  phpunit/block-bindings-test.php
Labels: none

Whitespace
  lib/compat/wordpress-6.9/block-bindings.php
Labels: none

fix: restore "View Post" link visibility when switching from non-viewable to viewable post types
  packages/edit-post/src/components/editor-initialization/listener-hooks.js
Labels: [Package] Edit Post

Switch another test to test/block
  phpunit/block-bindings-test.php
Labels: none

Remove unnecessary source declaration
  phpunit/block-bindings-test.php
Labels: none

Merge context tests
  phpunit/block-bindings-test.php
Labels: none

Localize labels in getVisualTypeName() for link control search items
  packages/block-editor/src/components/link-control/search-item.js
  packages/block-editor/src/components/link-control/style.scss
Labels: [Package] Block editor

Add comprehensive tests for smart block appender labels
  packages/block-editor/src/components/button-block-appender/test/index.js
  packages/block-editor/src/components/inserter/test/default-render-toggle.js
  packages/block-library/src/navigation-link/test/block-labelling.js
Labels: [Package] Block editor, [Package] Block library

Remove irrelevant ButtonBlockAppender tests
  packages/block-editor/src/components/button-block-appender/test/index.js
Labels: [Package] Block editor

Merge tests for different get_value_callbacks
  phpunit/block-bindings-test.php
Labels: none

Update LinkControl tests to expect localized post type labels
  packages/block-editor/src/components/link-control/test/index.js
Labels: [Package] Block editor

Fix merge conflict
  docs/reference-guides/core-blocks.md
Labels: none

Fix imports
  packages/block-library/src/term-template/edit.js
Labels: [Package] Block library

Remove withIllustration prop and related className from Placeholder.
  packages/block-library/src/icon/components/icon-placeholder/index.js
Labels: [Package] Block library

Fix setting type
  lib/compat/wordpress-6.8/template-activate.php
Labels: none

Move block_bindings_supported_attributes filter to set_up()
  phpunit/block-bindings-test.php
Labels: none

Add PHPDoc for set_up
  phpunit/block-bindings-test.php
Labels: none

Add PHPDoc
  lib/compat/wordpress-6.9/command-palette.php
Labels: none

Add templates php filter so Woo templates show up
  lib/compat/wordpress-6.8/class-gutenberg-rest-static-templates-controller.php
Labels: none

Make sure static template filtering in dataview is active
  packages/edit-site/src/components/page-templates/index.js
Labels: [Package] Edit Site

Make navigation button appearance more configurable
  docs/reference-guides/core-blocks.md
  packages/block-library/src/gallery/block.json
  packages/block-library/src/gallery/edit.js
  packages/block-library/src/image/block.json
  packages/block-library/src/image/index.php
  packages/block-library/src/image/style.scss
Labels: [Package] Block library

Update fixtures
  test/integration/fixtures/blocks/core__gallery-with-caption.json
  test/integration/fixtures/blocks/core__gallery.json
  test/integration/fixtures/blocks/core__gallery__columns.json
  test/integration/fixtures/blocks/core__gallery__deprecated-7.json
Labels: none
