Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

Don't use setter for navigation bindings
  packages/editor/src/bindings/post-data.js
Labels: [Package] Editor

Use correct sources
  packages/block-library/src/navigation-link/link-ui/index.js
  packages/block-library/src/navigation-link/shared/test/use-entity-binding.js
  packages/block-library/src/navigation-link/shared/use-entity-binding.js
Labels: [Package] Block library

Tweak comments
  packages/editor/src/bindings/post-data.js
Labels: [Package] Editor

Tone down backward compat comments
  packages/editor/src/bindings/post-data.js
  packages/editor/src/bindings/term-data.js
Labels: [Package] Editor

Match tests to new implementation
  packages/block-library/src/navigation-link/shared/test/use-entity-binding.js
Labels: [Package] Block library

Fix Submenu using wrong binding
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation-link/shared/test/update-attributes.test.js
  packages/block-library/src/navigation-link/shared/update-attributes.js
  packages/block-library/src/navigation-link/shared/use-entity-binding.js
  packages/block-library/src/navigation-submenu/edit.js
Labels: [Package] Block library

Fix https://github.com/WordPress/gutenberg/pull/72165\#pullrequestreview-3339486543
  packages/editor/src/bindings/post-data.js
  packages/editor/src/bindings/term-data.js
Labels: [Package] Editor

Remove count from term count string
  lib/compat/wordpress-6.9/term-data-block-bindings.php
Labels: none

Use correct error handling
  lib/compat/wordpress-6.9/post-data-block-bindings.php
  lib/compat/wordpress-6.9/term-data-block-bindings.php
Labels: none

Clean up Nav block conditionals
  packages/editor/src/bindings/post-data.js
  packages/editor/src/bindings/term-data.js
Labels: [Package] Editor

Add backport changelog
  backport-changelog/6.9/10305.md
Labels: none

await error notice in link control test
  packages/block-editor/src/components/link-control/test/index.js
Labels: [Package] Block editor

Handle all binding types when clearing url
  packages/block-library/src/navigation-link/shared/controls.js
  packages/block-library/src/navigation-link/shared/use-entity-binding.js
Labels: [Package] Block library

Improve consistency of use-entity-binding
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation-link/shared/use-entity-binding.js
  packages/block-library/src/navigation-submenu/edit.js
  packages/block-library/src/navigation/edit/menu-inspector-controls.js
Labels: [Package] Block library

Avoid dding clientId arg
  packages/editor/src/bindings/post-data.js
Labels: [Package] Editor

Fix bug with sidebar Link field not clearing
  packages/block-library/src/navigation-link/shared/controls.js
Labels: [Package] Block library

Reduce comment verbosity in PHP
  lib/compat/wordpress-6.9/post-data-block-bindings.php
  lib/compat/wordpress-6.9/term-data-block-bindings.php
Labels: none

Block Bindings: Move support for Navigation blocks url attribute to correct place
  lib/compat/wordpress-6.9/block-bindings.php
Labels: none

Fix faulty entity binding clearing logic
  packages/block-library/src/navigation-link/shared/test/use-entity-binding.js
  packages/block-library/src/navigation-link/shared/use-entity-binding.js
Labels: [Package] Block library

Revert "Fix navigation link URL binding resolution on frontend (#72169)"
  packages/block-library/src/navigation-link/index.php
  packages/block-library/src/navigation-submenu/index.php
Labels: [Package] Block library

WPCS
  lib/compat/wordpress-6.9/block-bindings.php
Labels: none

Tweak entity binding tests again
  packages/block-library/src/navigation-link/shared/test/use-entity-binding.js
  packages/block-library/src/navigation-link/shared/use-entity-binding.js
Labels: [Package] Block library

Terms Query: Fix display all terms in editor
  packages/block-library/src/term-template/edit.js
Labels: [Package] Block library

Notes: Relocate privacy info text
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Notes: Show orhan notes in archive sidebar
  packages/editor/src/components/collab-sidebar/hooks.js
Labels: [Package] Editor

Add backport changelog
  backport-changelog/6.9/10322.md
Labels: none

Do not open comments canvas for adding comments
  packages/editor/src/components/collab-sidebar/add-comment.js
Labels: [Package] Editor

Lint JS
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Open floating sidebar
  packages/editor/src/components/collab-sidebar/add-comment.js
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

DataForm: reorganize validation tests (#72330)
  packages/dataviews/src/test/validation.ts
Labels: none

Time to Read: Don't use `wp_word_count()` function (#72091)
  lib/load.php
Labels: none

iAPI: Add official support for unique IDs (#72161)
  packages/interactivity/CHANGELOG.md
  packages/interactivity/src/directives.tsx
  test/e2e/specs/interactivity/directive-context.spec.ts
Labels: none

Notes: Avoid losing sidebar reference (#72342)
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Open floating sidebar on adding notes
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Remove unnecessary code
  packages/block-library/src/utils/get-transformed-attributes.js
Labels: [Package] Block library

Fix remaining `selectedSlug` instances
  packages/block-editor/src/components/global-styles/typography-panel.js
  packages/block-editor/src/hooks/font-size.js
  packages/components/CHANGELOG.md
Labels: [Package] Block editor, [Package] Components

Remove old file
  packages/block-library/src/utils/get-transformed-metadata.js
Labels: [Package] Block library

Combine orphaned comments without considering their status
  packages/editor/src/components/collab-sidebar/hooks.js
Labels: [Package] Editor

Resolve conflicts
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Notes: Remove 'isDefaultEmptyBlock' condition
  packages/editor/src/components/collab-sidebar/add-comment.js
Labels: [Package] Editor

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**
