Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

Include termsSelection attribute
  docs/reference-guides/core-blocks.md
  packages/block-library/src/terms-query/block.json
Labels: [Package] Block library

Make the hierarchy of controls
  packages/block-library/src/terms-query/inspector-controls/index.js
  packages/block-library/src/terms-query/inspector-controls/show-subtree-control.js
  packages/block-library/src/terms-query/inspector-controls/taxonomy-control.js
  packages/block-library/src/terms-query/inspector-controls/term-selection-control.js
  packages/block-library/src/terms-query/inspector-controls/top-level-control.js
Labels: [Package] Block library

Fix rendering condition
  packages/block-library/src/terms-query/inspector-controls/index.js
Labels: [Package] Block library

Improve conditions
  packages/block-library/src/terms-query/inspector-controls/index.js
  packages/block-library/src/terms-query/inspector-controls/show-subtree-control.js
Labels: [Package] Block library

i18n: remove unnecessary JS file
  packages/i18n/src/index.js
Labels: [Package] i18n

Apply feedback
  packages/dataviews/CHANGELOG.md
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/dataform-controls/email.tsx
  packages/dataviews/src/dataform-controls/password.tsx
  packages/dataviews/src/dataform-controls/telephone.tsx
  packages/dataviews/src/dataform-controls/text.tsx
  packages/dataviews/src/dataform-controls/url.tsx
  packages/dataviews/src/dataform-controls/utils/validated-input.tsx
  packages/dataviews/src/field-types/password.tsx
Labels: none

Move changelog entries to the right place
  packages/components/CHANGELOG.md
  packages/dataviews/CHANGELOG.md
Labels: [Package] Components

Add changelog entries
  packages/components/CHANGELOG.md
  packages/dataviews/CHANGELOG.md
Labels: [Package] Components

DataForm: Try adding a textarea control with custom editProps to support setting a row value
  packages/components/src/private-apis.ts
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/dataform-controls/index.tsx
  packages/dataviews/src/dataform-controls/textarea.tsx
  packages/dataviews/src/dataforms-layouts/regular/index.tsx
  packages/dataviews/src/field-types/index.tsx
  packages/dataviews/src/field-types/stories/index.story.tsx
  packages/dataviews/src/field-types/textarea.tsx
  packages/dataviews/src/types.ts
Labels: [Package] Components

Scale this back to just a separate control, but not a separate field type, remove editProps
  packages/dataviews/CHANGELOG.md
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/dataform-controls/textarea.tsx
  packages/dataviews/src/field-types/index.tsx
  packages/dataviews/src/field-types/stories/index.story.tsx
  packages/dataviews/src/field-types/textarea.tsx
  packages/dataviews/src/types.ts
Labels: none

Update validation story
  packages/dataviews/src/components/dataform/stories/index.story.tsx
Labels: none

Site Editor: make less prominent Addtional CSS UI
  packages/edit-site/src/components/global-styles/screen-css.js
  packages/edit-site/src/components/global-styles/screen-root.js
Labels: [Package] Edit Site

Block Editor: Fix stale insertion point reference
  packages/block-editor/src/components/block-tools/insertion-point.js
Labels: [Package] Block editor

Global styles: add element support for text related inputs (#70378)
  backport-changelog/6.9/9600.md
  lib/class-wp-theme-json-gutenberg.php
  packages/block-library/src/form-input/style.scss
  packages/block-library/src/post-comments-form/style.scss
  packages/block-library/src/search/style.scss
  packages/blocks/src/api/constants.js
  schemas/json/theme.json
Labels: [Package] Block library, [Package] Blocks

Unwrap custom dataviews empty element from paragraph tags
  packages/dataviews/CHANGELOG.md
  packages/dataviews/README.md
  packages/dataviews/src/components/dataviews-layout/index.tsx
  packages/dataviews/src/components/dataviews/stories/index.story.tsx
  packages/dataviews/src/dataviews-layouts/grid/index.tsx
  packages/dataviews/src/dataviews-layouts/list/index.tsx
  packages/dataviews/src/dataviews-layouts/picker-grid/index.tsx
  packages/dataviews/src/dataviews-layouts/table/index.tsx
Labels: none

Update test title
  test/e2e/specs/editor/blocks/gallery.spec.js
Labels: none

fix(element): Handle unmatched closing tags in createInterpolateElement
  packages/element/README.md
  packages/element/src/create-interpolate-element.js
  packages/element/src/create-interpolate-element.test.tsx
  packages/element/src/test/create-interpolate-element.js
Labels: [Package] Element

Add error styles
  packages/components/src/validated-form-controls/style.scss
Labels: [Package] Components

Implement groupBy for list layout
  packages/dataviews/src/dataviews-layouts/list/index.tsx
  packages/dataviews/src/dataviews-layouts/list/style.scss
Labels: none

Update changelog
  packages/dataviews/CHANGELOG.md
Labels: none

Move the export down for alphabetical order
  packages/components/src/validated-form-controls/components/index.ts
Labels: [Package] Components

revert changes in input-control story
  packages/components/src/validated-form-controls/components/stories/input-control.story.tsx
Labels: [Package] Components

Remove unnecessary use of name attribute
  packages/components/src/validated-form-controls/components/form-token-field.tsx
Labels: [Package] Components

Revert passing required down
  packages/components/src/form-token-field/index.tsx
  packages/components/src/form-token-field/types.ts
Labels: [Package] Components

Add __experimentalExpandOnFocus for discoverability
  packages/components/src/validated-form-controls/components/stories/form-token-field.story.tsx
Labels: [Package] Components

Extract to getDataByGroup
  packages/dataviews/src/dataviews-layouts/grid/index.tsx
  packages/dataviews/src/dataviews-layouts/list/index.tsx
  packages/dataviews/src/dataviews-layouts/picker-grid/index.tsx
  packages/dataviews/src/dataviews-layouts/table/index.tsx
  packages/dataviews/src/dataviews-layouts/utils/get-data-by-group.ts
Labels: none

Simplifie return value of `useTabIndentation` hook to a single ref
  packages/block-library/src/code/edit.js
  packages/block-library/src/code/hook.js
Labels: [Package] Block library

Fix experimental block setting
  packages/block-library/src/index.js
Labels: [Package] Block library

Increase taxonomy limit for Category List dropdown
  packages/block-library/src/categories/edit.js
Labels: [Package] Block library

Lint fix
  packages/block-library/src/categories/edit.js
Labels: [Package] Block library

Try adding a `contentRole` block support to content container blocks.
  docs/reference-guides/core-blocks.md
  packages/block-library/src/buttons/block.json
  packages/block-library/src/social-links/block.json
  packages/blocks/src/api/utils.js
Labels: [Package] Block library, [Package] Blocks

Try enabling appender if block can be added to
  packages/block-editor/src/components/block-list/index.js
Labels: [Package] Block editor

DataForms: Remove label style overrides as they cause inconsistent results
  packages/dataviews/src/dataforms-layouts/regular/style.scss
Labels: none

Add changelog entry
  packages/dataviews/CHANGELOG.md
Labels: none

Move Term Template to experimental array
  packages/block-library/src/index.js
Labels: [Package] Block library

DataForm - Card Layout: implement summary field
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/dataforms-layouts/card/index.tsx
  packages/dataviews/src/normalize-form-fields.ts
  packages/dataviews/src/types.ts
Labels: none

Update test fixtures
  test/integration/fixtures/blocks/core__term-template.json
  test/integration/fixtures/blocks/core__terms-query.json
Labels: none

Fix test
  packages/block-editor/src/store/test/selectors.js
Labels: [Package] Block editor

Consider blocks with `patternName` as sections
  packages/block-editor/src/store/private-selectors.js
Labels: [Package] Block editor

Hide variation selector for section blocks
  packages/block-editor/src/components/block-variation-transforms/index.js
Labels: [Package] Block editor
