Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

Rename post type support key
  lib/experimental/block-comments.php
  lib/experimental/class-gutenberg-rest-comment-controller.php
  packages/editor/src/components/header/index.js
Labels: [Package] Editor

WPCS
  lib/experimental/class-gutenberg-rest-comment-controller.php
Labels: none

Notes: Audit and update translation strings
  lib/experimental/class-gutenberg-rest-comment-controller.php
  packages/editor/src/components/collab-sidebar/add-comment.js
  packages/editor/src/components/collab-sidebar/comment-author-info.js
  packages/editor/src/components/collab-sidebar/comment-form.js
  packages/editor/src/components/collab-sidebar/comment-indicator-toolbar.js
  packages/editor/src/components/collab-sidebar/comment-menu-item.js
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/hooks.js
  packages/editor/src/components/collab-sidebar/index.js
  test/e2e/specs/editor/various/block-comments.spec.js
Labels: [Package] Editor

Note: Fix the error when creating a new note
  packages/editor/src/components/collab-sidebar/comment-form.js
  packages/editor/src/components/collab-sidebar/hooks.js
  packages/editor/src/components/collab-sidebar/utils.js
Labels: [Package] Editor

Ensure stable ref for reflowComments
  packages/editor/src/components/collab-sidebar/hooks.js
Labels: [Package] Editor

Try to stabilise dataviews search in e2e
  test/e2e/specs/site-editor/template-registration.spec.js
Labels: none

Remove redundant id prop
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Add changelog
  packages/interactivity/CHANGELOG.md
Labels: none

Change modal notice
  packages/block-library/src/query/edit/enhanced-pagination-modal.js
Labels: [Package] Block library

Packages Build: Fix watch mode for style files
  bin/packages/build.js
Labels: none

Notes: improve REST API checks for resolution notes
  lib/experimental/block-comments.php
  lib/experimental/class-gutenberg-rest-comment-controller.php
  phpunit/experimental/rest-api-comment-permissions-test.php
Labels: none

Feedback.
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Improve auth_callback check
  lib/experimental/block-comments.php
Labels: none

Try e2e
  packages/e2e-tests/plugins/block-bindings.php
  test/e2e/specs/editor/various/block-bindings/custom-sources.spec.js
Labels: [Package] E2E Tests

Build v2: Migrate DataViews and Admin UI
  bin/packages/v2-packages.js
  package-lock.json
  packages/admin-ui/package.json
  packages/admin-ui/src/page/style.scss
  packages/admin-ui/src/style.scss
  packages/babel-preset-default/package.json
  packages/create-block/package.json
  packages/dataviews/package.json
  packages/dataviews/src/components/dataviews-bulk-actions/style.scss
  packages/dataviews/src/components/dataviews-filters/style.scss
  packages/dataviews/src/components/dataviews-footer/style.scss
  packages/dataviews/src/components/dataviews-item-actions/style.scss
  packages/dataviews/src/components/dataviews-pagination/style.scss
  packages/dataviews/src/components/dataviews-picker/style.scss
  packages/dataviews/src/components/dataviews-selection-checkbox/style.scss
  packages/dataviews/src/components/dataviews-view-config/style.scss
  packages/dataviews/src/components/dataviews/style.scss
  packages/dataviews/src/dataform-controls/style.scss
  packages/dataviews/src/dataform-layouts/card/style.scss
  packages/dataviews/src/dataform-layouts/panel/style.scss
  packages/dataviews/src/dataform-layouts/regular/style.scss
  packages/dataviews/src/dataviews-layouts/grid/style.scss
  packages/dataviews/src/dataviews-layouts/list/style.scss
  packages/dataviews/src/dataviews-layouts/picker-grid/style.scss
  packages/dataviews/src/dataviews-layouts/table/style.scss
  packages/dataviews/src/dataviews-layouts/utils/grid-items.scss
  packages/dataviews/src/style.scss
  packages/postcss-plugins-preset/package.json
  packages/upload-media/package.json
Labels: [Package] Babel preset, [Package] Create Block, [Package] PostCSS Plugins Preset

Fix
  packages/block-library/src/code/transforms.js
Labels: [Package] Block library

Block Transforms: use new getTransformedAttributes() function
  packages/block-library/src/buttons/transforms.js
  packages/block-library/src/code/transforms.js
  packages/block-library/src/heading/transforms.js
  packages/block-library/src/utils/get-transformed-attributes.js
  packages/block-library/src/utils/get-transformed-metadata.js
Labels: [Package] Block library

Move the PHP-only auto-registration section under the PHP registration section
  docs/getting-started/fundamentals/registration-of-a-block.md
Labels: none

Add link to PHP-only blocks
  docs/reference-guides/block-api/block-supports.md
Labels: none

Notes: Allow creating duplicate comments for all notes
  lib/experimental/block-comments.php
  phpunit/experimental/rest-api-comment-permissions-test.php
Labels: none

Initial navigate to template part
  docs/reference-guides/core-blocks.md
  lib/blocks.php
  lib/experimental/blocks.php
  lib/experimental/navigation-overlay.php
  package-lock.json
  packages/block-library/package.json
  packages/block-library/src/index.js
  packages/block-library/src/navigation-overlay-close/block.json
  packages/block-library/src/navigation-overlay-close/edit.js
  packages/block-library/src/navigation-overlay-close/index.js
  packages/block-library/src/navigation-overlay-close/index.php
  packages/block-library/src/navigation-overlay-close/init.js
  packages/block-library/src/navigation-overlay-close/style.scss
  packages/block-library/src/navigation/block.json
  packages/block-library/src/navigation/constants.js
  packages/block-library/src/navigation/edit/edit-overlay-button.js
  packages/block-library/src/navigation/edit/index.js
  packages/block-library/src/navigation/edit/menu-inspector-controls.js
  packages/block-library/src/navigation/edit/use-go-to-overlay-editor.js
  packages/block-library/src/navigation/edit/use-is-within-overlay.js
  packages/block-library/src/navigation/edit/use-overlay.js
  packages/block-library/src/navigation/editor.scss
  packages/block-library/src/navigation/style.scss
  packages/block-library/src/style.scss
  packages/edit-site/src/components/block-editor/editor-canvas.js
  packages/edit-site/src/components/block-editor/use-is-navigation-overlay.js
Labels: [Package] Block library, [Package] Edit Site

fix: add white backing layer behind editor canvas
  packages/editor/src/components/visual-editor/style.scss
Labels: [Package] Editor

Adapt the white backling layer fix to zoomed-out mode
  packages/block-editor/src/components/iframe/content.scss
Labels: [Package] Block editor

Minimise the changes by setting the iframe background
  packages/editor/src/components/visual-editor/style.scss
Labels: [Package] Editor

Ensure white backing layer for block previews
  packages/block-editor/src/components/block-preview/content.scss
Labels: [Package] Block editor

Reset files
  package-lock.json
  packages/block-library/package.json
Labels: [Package] Block library

Anothe reset
  docs/reference-guides/core-blocks.md
Labels: none

Update tests
  packages/e2e-tests/plugins/block-bindings.php
  test/e2e/specs/editor/various/block-bindings/custom-sources.spec.js
Labels: [Package] E2E Tests

Compute bindableAttributes separately
  packages/block-editor/src/hooks/block-bindings.js
Labels: [Package] Block editor

Move up context computation
  packages/block-editor/src/hooks/block-bindings.js
Labels: [Package] Block editor

Remove source prop from BlockBindingsAttribute and ReadOnlyBlockBindingsPanelItem
  packages/block-editor/src/hooks/block-bindings.js
Labels: [Package] Block editor

Turn editorUI into component
  packages/block-editor/README.md
  packages/block-editor/src/components/block-bindings/index.js
  packages/block-editor/src/components/index.js
  packages/block-editor/src/hooks/block-bindings.js
  packages/editor/src/bindings/post-data.js
Labels: [Package] Block editor, [Package] Editor

Start moving variables around
  packages/block-editor/src/hooks/block-bindings.js
Labels: [Package] Block editor

Migrate views, interface and format-library
  bin/packages/v2-packages.js
  package-lock.json
  packages/format-library/package.json
  packages/format-library/src/image/style.scss
  packages/format-library/src/link/style.scss
  packages/format-library/src/style.scss
  packages/format-library/src/text-color/style.scss
  packages/interface/package.json
  packages/interface/src/components/complementary-area-header/style.scss
  packages/interface/src/components/complementary-area/style.scss
  packages/interface/src/components/fullscreen-mode/style.scss
  packages/interface/src/components/interface-skeleton/style.scss
  packages/interface/src/components/pinned-items/style.scss
  packages/interface/src/style.scss
  packages/views/package.json
Labels: [Package] Format library, [Package] Interface

Inline getPostDataFields
  packages/editor/src/bindings/post-data.js
Labels: [Package] Editor

Fix z-index resolution
  packages/dataviews/src/components/dataviews-footer/style.scss
  packages/dataviews/src/components/dataviews-item-actions/style.scss
  packages/dataviews/src/dataform-layouts/panel/style.scss
  packages/dataviews/src/dataviews-layouts/grid/style.scss
  packages/dataviews/src/dataviews-layouts/picker-grid/style.scss
  packages/dataviews/src/dataviews-layouts/table/style.scss
  packages/nux/src/components/dot-tip/style.scss
Labels: none

DataViews and interface and more are not scripts
  packages/dataviews/package.json
  packages/fields/package.json
  packages/icons/package.json
  packages/interface/package.json
  packages/sync/package.json
  packages/upload-media/package.json
Labels: [Package] Icons, [Package] Interface

fixup! Ensure white backing layer for block previews
  packages/block-editor/src/components/block-preview/content.scss
Labels: [Package] Block editor

Don't return nested objects from useSelect()
  packages/editor/src/bindings/post-data.js
Labels: [Package] Editor

Fix undefined css var --wp-editor-canvas-background
  packages/block-editor/src/components/iframe/content.scss
Labels: [Package] Block editor

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**
