Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

Fix DimensionsTool test expectations to match current behavior
  packages/block-editor/src/components/dimensions-tool/test/index.js
Labels: [Package] Block editor

DataViewsPicker Grid layout: Support hiding the title
  packages/dataviews/src/dataviews-layouts/picker-grid/index.tsx
Labels: none

Add changelog entry
  packages/dataviews/CHANGELOG.md
Labels: none

Block Commenting: combine selectors
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Block Comments: Add general e2e test coverage
  packages/e2e-test-utils-playwright/src/request-utils/comments.ts
  test/e2e/specs/editor/various/block-comments.spec.js
Labels: none

Extract utility methods
  test/e2e/specs/editor/various/block-comments.spec.js
Labels: none

Feedback
  test/e2e/specs/editor/various/block-comments.spec.js
Labels: none

Add block comment selection test
  test/e2e/specs/editor/various/block-comments.spec.js
Labels: none

Block Bindings: Fix pattern override bug, editing was allowed on non enabled overrides blocks. (#71813)
  packages/block-editor/src/components/rich-text/index.js
  test/e2e/specs/editor/various/pattern-overrides.spec.js
Labels: [Package] Block editor

Bump plugin version to 21.7.0-rc.2
  gutenberg.php
  package-lock.json
  package.json
Labels: none

Fix minor regression
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Revert schema changes
  schemas/json/block.json
Labels: none

Fixes block visibility when the panel is collapsed
  packages/block-library/src/accordion/style.scss
Labels: [Package] Block library

Update Changelog for 21.7.0-rc.2
  changelog.txt
Labels: none

Remove file from branch
  packages/block-library/src/accordion/style.scss
Labels: [Package] Block library

Update snapshots
  packages/scripts/scripts/test/__snapshots__/build-blocks-manifest.js.snap
Labels: [Package] Scripts

Fix: navigationButtonType doesn't work properly when there are multiple galleries
  packages/block-library/src/image/index.php
  packages/block-library/src/image/view.js
Labels: [Package] Block library

Output aria-label only when there is no visible text
  packages/block-library/src/image/index.php
  packages/block-library/src/image/view.js
Labels: [Package] Block library

update styles for accordion
  packages/block-library/src/accordion-content/style.scss
  packages/block-library/src/accordion-panel/style.scss
Labels: [Package] Block library

Try server-side rendering the block
  lib/blocks.php
  packages/block-library/src/table-of-contents/index.js
  packages/block-library/src/table-of-contents/index.php
  packages/block-library/src/table-of-contents/save.js
  test/integration/fixtures/blocks/core__table-of-contents.html
  test/integration/fixtures/blocks/core__table-of-contents.parsed.json
  test/integration/fixtures/blocks/core__table-of-contents.serialized.html
Labels: [Package] Block library

Prefix var with __experimental
  lib/compat/wordpress-6.9/block-bindings.php
  packages/block-editor/src/components/block-edit/edit.js
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/hooks/block-bindings.js
  packages/editor/src/components/provider/use-block-editor-settings.js
Labels: [Package] Block editor, [Package] Editor

Block Comments: Extract current data querying logic into a hook
  packages/editor/src/components/collab-sidebar/hooks.js
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

useBlockComment: Optimize block selection
  packages/editor/src/components/collab-sidebar/hooks.js
  packages/editor/src/components/collab-sidebar/index.js
  packages/editor/src/components/collab-sidebar/utils.js
Labels: [Package] Editor

Add failing test
  packages/e2e-tests/plugins/interactive-blocks/directive-each/render.php
  test/e2e/specs/interactivity/directive-each.spec.ts
Labels: [Package] E2E Tests

:abc:
  packages/editor/src/components/provider/use-block-editor-settings.js
Labels: [Package] Editor

Shadow previous items with the same key
  packages/interactivity/src/directives.tsx
Labels: none

Fix race condition in context e2e tests
  packages/e2e-tests/plugins/interactive-blocks/directive-context/render.php
  packages/e2e-tests/plugins/interactive-blocks/directive-context/view.js
  test/e2e/specs/interactivity/directive-context.spec.ts
Labels: [Package] E2E Tests

Reduce icon size when button has text
  packages/block-library/src/image/index.php
  packages/block-library/src/image/style.scss
Labels: [Package] Block library

Fix coding standards errors
  packages/block-library/src/table-of-contents/index.php
Labels: [Package] Block library

Use thread.blockClientId
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/hooks.js
Labels: [Package] Editor

Fix phpcs error
  packages/e2e-tests/plugins/interactive-blocks/directive-context/render.php
Labels: [Package] E2E Tests

Simplify server-side approach
  packages/block-library/src/table-of-contents/index.js
  packages/block-library/src/table-of-contents/index.php
  packages/block-library/src/table-of-contents/save.js
Labels: [Package] Block library

Regenerate test fixtures
  test/integration/fixtures/blocks/core__table-of-contents.html
  test/integration/fixtures/blocks/core__table-of-contents.json
  test/integration/fixtures/blocks/core__table-of-contents.parsed.json
  test/integration/fixtures/blocks/core__table-of-contents.serialized.html
  test/integration/fixtures/blocks/core__table-of-contents__empty.html
  test/integration/fixtures/blocks/core__table-of-contents__empty.json
  test/integration/fixtures/blocks/core__table-of-contents__empty.parsed.json
  test/integration/fixtures/blocks/core__table-of-contents__empty.serialized.html
Labels: none

Add focus on Comment deletion
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Updated feedback
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Fix comment counts with filter
  lib/experimental/block-comments.php
Labels: none

Simplify $aria_label
  packages/block-library/src/table-of-contents/index.php
Labels: [Package] Block library

Cleanup
  lib/experimental/block-comments.php
Labels: none

unchange rest-api
  lib/compat/wordpress-6.9/rest-api.php
Labels: none

enable unset comment_type
  lib/experimental/block-comments.php
Labels: none

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**
