Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

Await for active sidebar
  packages/editor/src/components/collab-sidebar/comment-indicator-toolbar.js
  packages/editor/src/components/collab-sidebar/comment-menu-item.js
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Fix rebase
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

try: fix overlapping part 1
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Terms Query: Move variations from `Term template`
  docs/reference-guides/core-blocks.md
  packages/block-library/src/style.scss
  packages/block-library/src/term-template/block.json
  packages/block-library/src/term-template/edit.js
  packages/block-library/src/term-template/index.js
  packages/block-library/src/term-template/style.scss
  packages/block-library/src/term-template/variations.js
  packages/block-library/src/terms-query/block.json
  packages/block-library/src/terms-query/edit/index.js
  packages/block-library/src/terms-query/edit/inspector-controls/index.js
  packages/block-library/src/terms-query/edit/terms-query-content.js
  packages/block-library/src/terms-query/edit/terms-query-placeholder.js
  packages/block-library/src/terms-query/index.js
  packages/block-library/src/terms-query/style.scss
  packages/block-library/src/terms-query/variations.js
Labels: [Package] Block library

Remove 'core/pullquote' from transformation categories
  packages/block-library/src/utils/transformation-categories.native.js
Labels: [Package] Block library

Add fitText field to block.json schema
  schemas/json/block.json
Labels: none

Fix block card back arrow in inserter preview
  packages/block-editor/src/components/block-card/index.js
  packages/block-editor/src/components/block-inspector/index.js
Labels: [Package] Block editor

Add apply_filters back
  packages/block-library/src/term-name/index.php
Labels: [Package] Block library

markdown updated
  docs/reference-guides/core-blocks.md
Labels: none

Use embedded info to render authors
  packages/fields/src/fields/author/author-view.tsx
Labels: none

Disable filter for discussion field
  packages/fields/src/fields/discussion/index.tsx
Labels: none

Update accordion header defult styling
  packages/block-library/src/accordion-heading/style.scss
  packages/block-library/src/accordion-panel/style.scss
Labels: [Package] Block library

Notes: Hide block settings menu items for mulit-selection
  packages/block-editor/src/components/block-settings-menu/block-settings-dropdown.js
Labels: [Package] Block editor

Add new icon
  packages/block-library/src/term-name/index.js
  packages/icons/src/library/term-name.svg
Labels: [Package] Block library, [Package] Icons

Remove comments message
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Accordion Panel Block: Add layout support
  docs/reference-guides/core-blocks.md
  packages/block-library/src/accordion-panel/block.json
Labels: [Package] Block library

Move fitText to supports.typography.fitText location
  schemas/json/block.json
Labels: none

Apply suggestions from code review
  packages/block-library/src/term-template/edit.js
Labels: [Package] Block library

Controller: Support _fields, search, and add single-item route
  lib/experimental/class-wp-rest-icons-controller.php
Labels: none

Remove fill from svg
  packages/icons/src/library/term-name.svg
Labels: [Package] Icons

Add term title keyword
  packages/block-library/src/term-name/block.json
Labels: [Package] Block library

Remove experimental flag
  docs/reference-guides/core-blocks.md
  packages/block-library/src/index.js
  packages/block-library/src/term-name/block.json
Labels: [Package] Block library

Fix spacing
  packages/block-library/src/term-name/index.php
Labels: [Package] Block library

Keep icon registration private, core-only
  lib/experimental/class-wp-icons-registry.php
  lib/experimental/icon.php
  lib/load.php
Labels: none

Remove apply_filters
  packages/block-library/src/term-name/index.php
Labels: [Package] Block library

Add test fixture
  test/integration/fixtures/blocks/core__term-name.html
  test/integration/fixtures/blocks/core__term-name.json
  test/integration/fixtures/blocks/core__term-name.parsed.json
  test/integration/fixtures/blocks/core__term-name.serialized.html
Labels: none

Add style import
  packages/block-library/src/style.scss
Labels: [Package] Block library

Fix: Prevent focus loss in Firefox when typing in sidebar inputs
  packages/rich-text/src/to-dom.js
  test/e2e/specs/editor/blocks/navigation.spec.js
Labels: [Package] Rich text

Always call focus() to force browsers to re-synchronize the visual caret in rich-text selection updates
  packages/rich-text/src/component/index.js
Labels: [Package] Rich text

Update packages/block-library/src/icon/icons/index.js
  packages/block-library/src/icon/icons/index.js
Labels: [Package] Block library

Update packages/block-library/src/icon/components/index.js
  packages/block-library/src/icon/components/index.js
Labels: [Package] Block library

Update packages/block-library/src/icon/block.json
  packages/block-library/src/icon/block.json
Labels: [Package] Block library

Update packages/block-library/src/icon/components/icon-dropzone/index.js
  packages/block-library/src/icon/components/icon-dropzone/index.js
Labels: [Package] Block library

Update packages/block-library/src/icon/components/custom-inserter/index.js
  packages/block-library/src/icon/components/custom-inserter/index.js
Labels: [Package] Block library

Update packages/block-library/src/icon/components/custom-inserter/index.js
  packages/block-library/src/icon/components/custom-inserter/index.js
Labels: [Package] Block library

Simplify to-dom check
  packages/rich-text/src/to-dom.js
Labels: [Package] Rich text

Ensure meta boxes are not hidden when legacy
  packages/edit-post/src/components/layout/index.js
Labels: [Package] Edit Post

Add cautionFilled to the imports.
  packages/block-library/src/icon/icons/index.js
Labels: [Package] Block library

Remove the need for an inner wrapper. Move all styles and classes to main div.
  packages/block-library/src/icon/block.json
  packages/block-library/src/icon/save.js
Labels: [Package] Block library

Clean up css to remove outer div and rotation/flip rules.
  packages/block-library/src/icon/style.scss
Labels: [Package] Block library
