Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

Block Bindings: Support Image block caption attribute
  lib/compat/wordpress-6.9/block-bindings.php
Labels: none

Add contentRole to Query block
  docs/reference-guides/core-blocks.md
  packages/block-library/src/query/block.json
Labels: [Package] Block library

Always replace a Query block with another Query block
  packages/block-library/src/query/edit/pattern-selection.js
Labels: [Package] Block library

Hide Post Date toolbar when child of Query in contentOnly mode
  packages/block-library/src/post-date/edit.js
Labels: [Package] Block library

remove console.log lol
  packages/block-library/src/query/edit/pattern-selection.js
Labels: [Package] Block library

Make sure "add page" button label only appears once
  packages/block-editor/src/components/block-toolbar/style.scss
  packages/block-library/src/navigation/edit/index.js
Labels: [Package] Block editor, [Package] Block library

Filter comment clause based on current query.
  lib/experimental/block-comments.php
Labels: none

Block Commenting: Prevent unnecessary API requests when post ID is not integer
  packages/editor/src/components/collab-sidebar/index.js
  packages/editor/src/components/header/index.js
Labels: [Package] Editor

Add content attribute controls to block quick navigation
  packages/block-editor/src/components/block-quick-navigation/index.js
Labels: [Package] Block editor

Add Navigator-based sub-view for blocks with multiple content attributes
  packages/block-editor/src/components/block-quick-navigation/index.js
Labels: [Package] Block editor

Tweak title
  packages/block-editor/src/components/block-quick-navigation/index.js
Labels: [Package] Block editor

Remove isPressed state so it does not lock a dark background when returning from deeper level
  packages/block-editor/src/components/block-quick-navigation/index.js
Labels: [Package] Block editor

Use attribute name for label input titles
  packages/block-editor/src/components/block-quick-navigation/index.js
Labels: [Package] Block editor

Tweaked display to align stuff
  packages/block-editor/src/components/block-quick-navigation/index.js
Labels: [Package] Block editor

Use alternative hook to get corect blockTitlte
  packages/block-editor/src/components/block-quick-navigation/index.js
Labels: [Package] Block editor

Initial effort at using DataForm as suggested in another PR by @youknowriad
  packages/block-editor/package.json
  packages/block-editor/src/components/block-quick-navigation/index.js
Labels: [Package] Block editor

Align back button
  packages/block-editor/src/components/block-quick-navigation/index.js
Labels: [Package] Block editor

Correct field labels and layout
  packages/block-editor/src/components/block-quick-navigation/index.js
Labels: [Package] Block editor

WIP: Editor inception - content only editor for sidebar
  packages/block-editor/src/components/block-quick-navigation/index.js
  packages/block-editor/src/components/content-only-editor/index.js
Labels: [Package] Block editor

Remove role: content from some button and image attributes that should not be write mode editable
  packages/block-editor/src/components/block-quick-navigation/index.js
  packages/block-library/src/button/block.json
  packages/block-library/src/image/block.json
Labels: [Package] Block editor, [Package] Block library

Add media selector for images in content attributes
  packages/block-editor/src/components/block-quick-navigation/index.js
Labels: [Package] Block editor

Don't fetch if postId is not a number
  packages/editor/src/components/collab-sidebar/index.js
  packages/editor/src/components/header/index.js
Labels: [Package] Editor

Remove unintentionally added comment
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Update changelog files
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/dataviews/CHANGELOG.md
  packages/dataviews/package.json
Labels: [Package] Components

Add PHP compatibility check: minimum PHP version with admin notice and safe deactivation
  gutenberg.php
Labels: none

Move hint text code outside of the component
  packages/components/src/font-size-picker/font-size-picker-select.tsx
  packages/components/src/font-size-picker/types.ts
  packages/components/src/font-size-picker/utils.ts
Labels: [Package] Components

_wp_static_template => wp_registered_template
  lib/compat/wordpress-6.9/class-gutenberg-rest-static-templates-controller.php
  lib/compat/wordpress-6.9/preload.php
  lib/compat/wordpress-6.9/template-activate.php
  packages/core-commands/src/site-editor-navigation-commands.js
  packages/core-data/src/entities.js
  packages/core-data/src/resolvers.js
  packages/core-data/src/selectors.ts
  packages/edit-post/src/components/layout/index.js
  packages/edit-site/src/components/editor/use-resolve-edited-entity.js
  packages/edit-site/src/components/page-templates/fields.js
  packages/edit-site/src/components/page-templates/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-templates-browse/content.js
  packages/edit-site/src/components/site-editor-routes/template-item.js
  packages/editor/src/components/post-template/hooks.js
  packages/editor/src/components/provider/index.js
  packages/fields/src/actions/duplicate-post.tsx
  test/e2e/specs/editor/blocks/image.spec.js
  test/e2e/specs/editor/blocks/post-comments-form.spec.js
  test/e2e/specs/editor/various/block-bindings/post-meta.spec.js
  test/e2e/specs/editor/various/pattern-overrides.spec.js
  test/e2e/specs/editor/various/write-design-mode.spec.js
  test/e2e/specs/site-editor/block-removal.spec.js
  test/e2e/specs/site-editor/browser-history.spec.js
  test/e2e/specs/site-editor/font-library.spec.js
  test/e2e/specs/site-editor/global-styles-sidebar.spec.js
  test/e2e/specs/site-editor/iframe-rendering.spec.js
  test/e2e/specs/site-editor/multi-entity-saving.spec.js
  test/e2e/specs/site-editor/push-to-global-styles.spec.js
  test/e2e/specs/site-editor/settings-sidebar.spec.js
  test/e2e/specs/site-editor/site-editor-export.spec.js
  test/e2e/specs/site-editor/style-variations.spec.js
  test/e2e/specs/site-editor/title.spec.js
  test/e2e/specs/site-editor/zoom-out.spec.js
Labels: [Package] Core data, [Package] Edit Post, [Package] Edit Site, [Package] Editor

Fix merge conflicts
  packages/block-library/src/terms-query/inspector-controls/ordering-controls.js
Labels: [Package] Block library

Make code more defensive
  packages/block-library/src/term-template/index.php
Labels: [Package] Block library

Simplify the condition
  packages/block-library/src/terms-query/inspector-controls/display-options.js
Labels: [Package] Block library

Add end dot to comment
  packages/block-library/src/terms-query/inspector-controls/max-terms-controls.js
Labels: [Package] Block library

Fix lint
  packages/block-library/src/term-template/index.php
Labels: [Package] Block library

Bump plugin version to 21.7.0-rc.1
  gutenberg.php
  package-lock.json
  package.json
Labels: none

Update Changelog for 21.7.0-rc.1
  changelog.txt
Labels: none

Fixed feedback issues
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Try a popover slot
  packages/block-editor/src/components/block-edit/index.js
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Block editor, [Package] Editor

continue popover comment inlineing
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/index.js
  packages/editor/src/components/collab-sidebar/utils.js
Labels: [Package] Editor

popover fine tuning
  packages/block-editor/src/components/block-edit/index.js
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/style.scss
Labels: [Package] Block editor, [Package] Editor

popover fine tuning 2
  packages/editor/src/components/collab-sidebar/style.scss
Labels: [Package] Editor

Use “Close Comments”
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**
