Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

Fix wrong conflict resolution
  packages/dataviews/src/dataform-controls/select.tsx
Labels: none

fix: suppress class and lint warning for link variant
  packages/components/src/button/index.tsx
Labels: [Package] Components

unit tests: update snapshots
  packages/components/src/notice/test/__snapshots__/index.tsx.snap
  packages/nux/src/components/dot-tip/test/__snapshots__/index.js.snap
Labels: [Package] Components

Adds small fix to select font size preset if they're presented as S - M - L - XL - XXL, where having the same size wasn't possible to select either
  packages/components/src/font-size-picker/font-size-picker-toggle-group.tsx
  packages/components/src/font-size-picker/index.tsx
  packages/components/src/font-size-picker/types.ts
Labels: [Package] Components

fix: the selection logic to accomodate multipage selections
  packages/dataviews/src/components/dataviews/index.tsx
Labels: none

Add test coverage for the bug that this PR is fixing
  phpunit/block-bindings-test.php
Labels: none

e2e file changes revert
  test/e2e/specs/editor/various/patterns.spec.js
Labels: none

Fix onChange for date related controls
  packages/dataviews/src/dataform-controls/date.tsx
  packages/dataviews/src/dataform-controls/datetime.tsx
  packages/dataviews/src/dataform-controls/relative-date-control.tsx
Labels: none

WIP: disable husky
  packages/editor/src/components/collab-sidebar/comment-author-info.js
  packages/editor/src/components/collab-sidebar/style.scss
  packages/editor/src/dataviews/fields/content-preview/content-preview-view.tsx
Labels: [Package] Editor

Comment form focus on user clicks
  packages/editor/src/components/collab-sidebar/add-comment.js
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Replace NumberControl with RangeControl
  docs/reference-guides/core-blocks.md
  packages/block-library/src/post-time-to-read/block.json
  packages/block-library/src/post-time-to-read/edit.js
Labels: [Package] Block library

fixes lint error
  packages/editor/src/components/collab-sidebar/comment-author-info.js
  packages/editor/src/dataviews/fields/content-preview/content-preview-view.tsx
Labels: [Package] Editor

Update test fixtures
  test/integration/fixtures/blocks/core__post-time-to-read.json
Labels: none

Fix Button block regression
  lib/compat/wordpress-6.9/block-bindings.php
Labels: none

Improve comments panel label
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

start: wrap threads in popover when not in pinned sidebar
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Improve close label for comment sidebar
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

try: finding and using anchor for popover
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

restore from trunk
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Improve internal types used in date control: DateRange
  packages/dataviews/src/dataform-controls/date.tsx
Labels: none

Add Name with Link markup binding
  lib/compat/wordpress-6.9/term-data-block-bindings.php
  packages/block-editor/src/hooks/block-bindings.js
  packages/editor/src/bindings/term-data.js
Labels: [Package] Block editor, [Package] Editor

Improve internal types used in Date control: DateRelative
  packages/dataviews/src/dataform-controls/date.tsx
  packages/dataviews/src/dataform-controls/datetime.tsx
  packages/dataviews/src/dataform-controls/relative-date-control.tsx
Labels: none

Datetime: fix relative filter
  packages/dataviews/src/dataform-controls/datetime.tsx
Labels: none

Integer control: improve internal types and checks
  packages/dataviews/src/dataform-controls/integer.tsx
Labels: none

Fix interval time format typo in API reference
  docs/reference-guides/interactivity-api/api-reference.md
Labels: none

ToggleControl: fix validation
  packages/dataviews/src/dataform-controls/toggle-group.tsx
Labels: none

Add changelog entry
  packages/dataviews/CHANGELOG.md
Labels: none

DataForm panel: fix modal (changes accumulate)
  packages/dataviews/src/dataforms-layouts/panel/modal.tsx
Labels: none

Add gift icon
  packages/icons/src/index.ts
  packages/icons/src/library/gift.tsx
Labels: [Package] Icons

DataForm radio control: support validation and description
  packages/components/src/private-apis.ts
  packages/dataviews/src/dataform-controls/radio.tsx
  packages/dataviews/src/field-types/stories/index.story.tsx
Labels: [Package] Components

Add changelogs
  packages/components/CHANGELOG.md
  packages/dataviews/CHANGELOG.md
Labels: [Package] Components

Update validation story
  packages/dataviews/src/components/dataform/stories/index.story.tsx
Labels: none

Move down to make order a bit easier to grasp
  lib/compat/wordpress-6.9/block-bindings.php
Labels: none

Use new block-agnostic filter
  lib/compat/wordpress-6.9/block-bindings.php
Labels: none

Image block: Save `<figcaption>` if `caption` attr is bound
  packages/block-library/src/image/save.js
Labels: [Package] Block library

Image Block: Save figcaption if block has pattern overrides
  packages/block-library/src/image/save.js
Labels: [Package] Block library

Block Bindings: Support Image block's caption attr
  packages/block-editor/src/utils/block-bindings.js
Labels: [Package] Block editor

Add test fixture
  test/integration/fixtures/blocks/core__image__caption-block-bindings.html
  test/integration/fixtures/blocks/core__image__caption-block-bindings.json
  test/integration/fixtures/blocks/core__image__caption-block-bindings.parsed.json
  test/integration/fixtures/blocks/core__image__caption-block-bindings.serialized.html
Labels: none

Image block: Enable caption control if attribute is bound
  packages/block-library/src/image/image.js
Labels: [Package] Block library

Add backport changelog
  backport-changelog/6.9/9702.md
Labels: none
