Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

refactor based on query-total
  packages/block-library/src/term-count/edit.js
Labels: [Package] Block library

tweak description
  docs/reference-guides/core-blocks.md
  packages/block-library/src/term-count/block.json
Labels: [Package] Block library

remove parens inspector controls in favor of block controls, add icons
  packages/block-library/src/term-count/edit.js
  packages/block-library/src/term-count/icons.js
Labels: [Package] Block library

sentence case
  packages/block-library/src/term-count/edit.js
Labels: [Package] Block library

remove vestigial tag name
  packages/block-library/src/term-count/index.php
Labels: [Package] Block library

remove redundant svg attributes
  packages/block-library/src/term-count/icons.js
Labels: [Package] Block library

refactor for range of bracket types
  docs/reference-guides/core-blocks.md
  packages/block-library/src/term-count/block.json
  packages/block-library/src/term-count/edit.js
  packages/block-library/src/term-count/icons.js
  packages/block-library/src/term-count/index.php
Labels: [Package] Block library

remove alignment features and vestigial link styles
  docs/reference-guides/core-blocks.md
  packages/block-library/src/term-count/block.json
  packages/block-library/src/term-count/edit.js
  packages/block-library/src/term-count/index.php
Labels: [Package] Block library

Update changelog
  packages/icons/CHANGELOG.md
Labels: [Package] Icons

Test CI
  packages/block-editor/src/hooks/block-bindings.js
Labels: [Package] Block editor

fix baseurl
  packages/core-data/src/actions.js
  packages/core-data/src/resolvers.js
Labels: [Package] Core data

typo
  packages/core-data/src/resolvers.js
Labels: [Package] Core data

Don't show edit navigation button if navigation block is in disabled editing mode
  packages/editor/src/hooks/template-part-navigation-edit-button.js
Labels: [Package] Editor

add fixtures
  test/integration/fixtures/blocks/core__term-count.html
  test/integration/fixtures/blocks/core__term-count.json
  test/integration/fixtures/blocks/core__term-count.parsed
  test/integration/fixtures/blocks/core__term-count.serialized.html
Labels: none

Apply suggestions from code review
  packages/dataviews/CHANGELOG.md
  packages/dataviews/README.md
  packages/dataviews/src/dataform-controls/select.tsx
Labels: none

Update packages/dataviews/CHANGELOG.md
  packages/dataviews/CHANGELOG.md
Labels: none

Add @wordpress/hooks to @wordpress/sync dependencies
  package-lock.json
  packages/sync/package.json
  packages/sync/tsconfig.json
Labels: none

Revert private-api usage
  package-lock.json
  packages/core-data/src/sync.ts
  packages/sync/README.md
  packages/sync/package.json
  packages/sync/src/index.ts
  packages/sync/src/lock-unlock.ts
  packages/sync/src/private-apis.ts
  packages/sync/tsconfig.json
Labels: [Package] Core data

Expose createSyncManager and constants under private API
  package-lock.json
  packages/core-data/src/actions.js
  packages/core-data/src/resolvers.js
  packages/core-data/src/test/resolvers.js
  packages/core-data/src/utils/crdt.ts
  packages/private-apis/src/implementation.ts
  packages/sync/README.md
  packages/sync/package.json
  packages/sync/src/index.ts
  packages/sync/src/lock-unlock.ts
  packages/sync/tsconfig.json
Labels: [Package] Core data, [Package] Private APIs

Refactor SyncProvider into createSyncManager factory function
  packages/core-data/src/actions.js
  packages/core-data/src/resolvers.js
  packages/core-data/src/sync.js
  packages/core-data/src/sync.ts
  packages/core-data/src/test/resolvers.js
  packages/sync/CODE.md
  packages/sync/README.md
  packages/sync/src/config.ts
  packages/sync/src/connect-indexdb.js
  packages/sync/src/create-webrtc-connection.js
  packages/sync/src/index.ts
  packages/sync/src/manager.ts
  packages/sync/src/private-apis.ts
  packages/sync/src/provider.js
  packages/sync/src/providers.ts
  packages/sync/src/types.ts
  packages/sync/src/utils.ts
Labels: [Package] Core data

fix file extension
  test/integration/fixtures/blocks/core__term-count.parsed.json
Labels: none

Improve perf for removing navigation block descendent client ids in content only sidebar
  packages/block-editor/src/components/block-inspector/index.js
Labels: [Package] Block editor

Revert "properly cleanup"
  .claude/settings.local.json
  .vscode/settings.json
  packages/block-editor/src/hooks/fit-text.js
Labels: [Package] Block editor

tune animation
  packages/block-editor/src/hooks/fit-text.js
Labels: [Package] Block editor

properly clean
  packages/block-editor/src/hooks/fit-text.js
Labels: [Package] Block editor

don't trigger animations onload
  packages/block-editor/src/hooks/fit-text.js
Labels: [Package] Block editor

code simplification
  packages/block-editor/src/hooks/fit-text.js
  packages/block-editor/src/utils/fit-text-utils.js
Labels: [Package] Block editor

simplify delay logic
  packages/block-editor/src/hooks/fit-text.js
Labels: [Package] Block editor

Initial working animation
  packages/block-editor/src/hooks/fit-text.js
  packages/block-editor/src/utils/fit-text-utils.js
Labels: [Package] Block editor

properly cleanup
  .claude/settings.local.json
  .vscode/settings.json
  packages/block-editor/src/hooks/fit-text.js
Labels: [Package] Block editor

Div story
  packages/components/src/badge/stories/index.story.tsx
Labels: [Package] Components

updates
  packages/components/src/badge/index.tsx
  packages/components/src/badge/styles.scss
  packages/fields/src/fields/title/style.scss
Labels: [Package] Components

initial version
  packages/components/src/badge/stories/index.story.tsx
  packages/components/src/badge/styles.scss
  packages/fields/src/fields/title/style.scss
Labels: [Package] Components

add test cases to story
  packages/components/src/badge/stories/index.story.tsx
Labels: [Package] Components

enhancements
  packages/components/src/badge/styles.scss
  packages/fields/src/fields/title/style.scss
Labels: [Package] Components

add changelog
  packages/components/CHANGELOG.md
Labels: [Package] Components

remove test stories
  packages/components/src/badge/stories/index.story.tsx
Labels: [Package] Components

Move providers into subfolder
  packages/sync/src/providers/index.ts
  packages/sync/src/providers/indexeddb-provider.js
  packages/sync/src/providers/webrtc-http-stream-signaling.js
  packages/sync/src/providers/webrtc-provider.js
  packages/sync/src/providers/y-webrtc/crypto.js
  packages/sync/src/providers/y-webrtc/y-webrtc.js
Labels: none

Add "collaborative-editing" post type supports
  lib/experimental/synchronization.php
Labels: none

Check for "collaborative-editing" post type support in entity config
  packages/core-data/src/entities.js
Labels: [Package] Core data
