Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

Ensure selector is available before calling it
  packages/block-editor/src/components/inner-blocks/index.js
Labels: [Package] Block editor

Site editor: Fix save shortcut
  packages/edit-site/src/components/keyboard-shortcuts/global.js
  packages/edit-site/src/components/layout/index.js
Labels: [Package] Edit Site

Remove meetings
  docs/contributors/code/README.md
Labels: none

update documentation
  packages/dataviews/README.md
Labels: none

Use same viewport as when the zoom button shows - correction
  packages/block-editor/src/components/inserter/menu.js
Labels: [Package] Block editor

Set placeholder's fb as null and update tests
  packages/block-editor/src/components/link-control/index.js
  packages/block-editor/src/components/link-control/search-input.js
  test/e2e/specs/editor/blocks/links.spec.js
  test/e2e/specs/editor/various/block-bindings/custom-sources.spec.js
Labels: [Package] Block editor

UseAnimatedOffsetRect: add roundRect option
  packages/components/src/utils/hooks/use-animated-offset-rect.ts
Labels: [Package] Components

Round tablist indicator size
  packages/components/src/tabs/tablist.tsx
Labels: [Package] Components

Round ToggleGroupControl indicator
  packages/components/src/toggle-group-control/toggle-group-control/component.tsx
Labels: [Package] Components

Global Styles: Remove more menu item
  packages/edit-site/src/components/global-styles-sidebar/default-sidebar.js
  packages/edit-site/src/components/global-styles-sidebar/index.js
Labels: [Package] Edit Site

Remove meetings (#66421)
  docs/contributors/code/README.md
Labels: none

Try different ways of setting the scroll position
  packages/block-editor/src/components/iframe/index.js
Labels: [Package] Block editor

CHANGELOG
  packages/components/CHANGELOG.md
Labels: [Package] Components

Add back some of the missing utils
  package-lock.json
  packages/upload-media/package.json
  packages/upload-media/src/store/actions.ts
  packages/upload-media/src/store/private-actions.ts
  packages/upload-media/src/store/types.ts
  packages/upload-media/src/utils.ts
Labels: none

Add back some of the missing utils
  package-lock.json
  packages/upload-media/package.json
  packages/upload-media/src/store/actions.ts
  packages/upload-media/src/store/private-actions.ts
  packages/upload-media/src/store/types.ts
  packages/upload-media/src/utils.ts
Labels: none

Update docs now
  packages/upload-media/README.md
Labels: none

Document package requirements for bundling
  packages/README.md
Labels: none

Document script-module process for block-library
  packages/block-library/README.md
Labels: [Package] Block library

Fix typos and errors
  packages/README.md
Labels: none

rename to SaveKeyboardShortcut
  packages/edit-site/src/components/keyboard-shortcuts/register.js
  packages/edit-site/src/components/layout/index.js
  packages/edit-site/src/components/save-keyboard-shortcut/index.js
Labels: [Package] Edit Site

Added color support for page list block
  packages/block-library/src/page-list/block.json
Labels: [Package] Block library

Site editor: remove default admin CSS
  lib/compat/wordpress-6.8/remove-default-css.php
  lib/load.php
Labels: none

Doc Build
  docs/reference-guides/core-blocks.md
Labels: none

Doc Build
  docs/reference-guides/core-blocks.md
Labels: none

Add inherited context to search block
  packages/block-library/src/search/block.json
Labels: [Package] Block library

Remove state and add the search to context in Search block
  packages/block-library/src/search/index.php
Labels: [Package] Block library

Doc Build
  docs/reference-guides/core-blocks.md
Labels: none

Try different approach: don't use query to get the templates reference to use for filtering
  lib/compat/wordpress-6.6/block-template-utils.php
  lib/compat/wordpress-6.7/compat.php
Labels: none

Add compat for query loop vars
  lib/compat/wordpress-6.7/blocks.php
Labels: none

Doc Build
  docs/reference-guides/core-blocks.md
Labels: none

Allow drill down to contentOnly blocks with back arrow to navigate back to parent
  packages/block-editor/src/components/block-card/index.js
  packages/block-editor/src/components/block-inspector/index.js
  packages/block-editor/src/components/block-quick-navigation/index.js
  packages/block-editor/src/components/inspector-controls/fill.js
  packages/block-editor/src/components/inspector-controls/groups.js
  packages/block-editor/src/components/multi-selection-inspector/index.js
  packages/block-editor/src/store/private-actions.js
  packages/block-editor/src/store/private-selectors.js
  packages/block-editor/src/store/reducer.js
  packages/block-library/src/image/image.js
Labels: [Package] Block editor, [Package] Block library

php lint
  lib/compat/wordpress-6.8/remove-default-css.php
Labels: none

update: added required block context for feature image control
  packages/block-library/src/image/block.json
Labels: [Package] Block library

update: set feature image control as per suggestion
  packages/block-library/src/image/image.js
Labels: [Package] Block library

Add backport
  backport-changelog/6.8/7642.md
Labels: none

remove: unnessary isFeature image attribute
  docs/reference-guides/core-blocks.md
  packages/block-library/src/image/block.json
Labels: [Package] Block library

rename: feature image control
  packages/block-library/src/image/image.js
Labels: [Package] Block library

Fix: query loop issue
  packages/block-library/src/image/image.js
Labels: [Package] Block library

Fix: typo in set featured image
  packages/block-library/src/image/image.js
Labels: [Package] Block library

Site Editor: remove content styles outside canvas
  lib/client-assets.php
Labels: none

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**
