Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

Refactor tabs, pulling the latest out of prc-block-library/tabs for Gutenberg Core.
  docs/reference-guides/core-blocks.md
  packages/block-library/src/tab/add-tab-toolbar-control.js
  packages/block-library/src/tab/block.json
  packages/block-library/src/tab/controls.js
  packages/block-library/src/tab/edit.js
  packages/block-library/src/tab/icon.js
  packages/block-library/src/tab/index.js
  packages/block-library/src/tab/index.php
  packages/block-library/src/tab/slotfill.js
  packages/block-library/src/tab/style.scss
  packages/block-library/src/tabs/block.json
  packages/block-library/src/tabs/controls.js
  packages/block-library/src/tabs/edit.js
  packages/block-library/src/tabs/gap-styles.js
  packages/block-library/src/tabs/icon.js
  packages/block-library/src/tabs/index.js
  packages/block-library/src/tabs/index.php
  packages/block-library/src/tabs/style-engine.js
  packages/block-library/src/tabs/style.scss
  packages/block-library/src/tabs/use-color-supports.js
  packages/block-library/src/tabs/view.js
Labels: [Package] Block library

Update included context to match core block library pattern
  packages/block-library/src/tab/block.json
  packages/block-library/src/tabs/block.json
Labels: [Package] Block library

Fix potential errors; Remove extraneous fragment
  packages/edit-post/src/components/layout/index.js
Labels: [Package] Edit Post

WIP
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/layout/style.scss
Labels: [Package] Edit Post

Fixup integrated pane; try separator inside toggle button
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/layout/style.scss
Labels: [Package] Edit Post

Support toggling expanded/collapsed while resizable
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/layout/style.scss
Labels: [Package] Edit Post

elements will always be an array
  packages/dataviews/src/components/dataviews-filters/index.tsx
Labels: none

Optional chain pattern properties
  packages/block-editor/src/store/utils.js
Labels: [Package] Block editor

DataForms regular layout: Use BaseControl visual label for readonly fields when in top labelPosition
  packages/dataviews/src/dataforms-layouts/regular/index.tsx
Labels: none

Update changelog
  packages/dataviews/CHANGELOG.md
Labels: none

Table Of Contents: Use getEditedPostSlug instead of permalink
  packages/block-library/src/table-of-contents/hooks.js
Labels: [Package] Block library

remove unnecessary refactoring
  packages/block-library/src/table-of-contents/hooks.js
Labels: [Package] Block library

remove unnecessary changes
  packages/block-library/src/table-of-contents/hooks.js
Labels: [Package] Block library

Add displayTransform and __experimentalRenderItem
  packages/dataviews/src/dataform-controls/array.tsx
Labels: none

Replace arrays for display const and remove unused findElementByValue
  packages/dataviews/src/dataform-controls/array.tsx
Labels: none

support all permalink types
  packages/block-library/src/table-of-contents/hooks.js
Labels: [Package] Block library

add some comments
  packages/block-library/src/table-of-contents/hooks.js
Labels: [Package] Block library

Adapt suggestions to pass values
  packages/dataviews/src/dataform-controls/array.tsx
Labels: none

Add customValidity and onFocus
  packages/dataviews/src/dataform-controls/array.tsx
Labels: none

Add validation with validateTokens
  packages/dataviews/src/dataform-controls/array.tsx
Labels: none

Rename function
  packages/dataviews/src/validation.ts
Labels: none

Add changelogs
  packages/components/CHANGELOG.md
  packages/dataviews/CHANGELOG.md
Labels: [Package] Components

Core Commands: Introduce new useCommands hook
  packages/commands/README.md
  packages/commands/src/hooks/use-command.js
  packages/commands/src/index.js
  packages/core-commands/src/admin-navigation-commands.js
Labels: [Package] Commands

linting
  packages/block-library/src/table-of-contents/hooks.js
Labels: [Package] Block library

Change changelog for components
  packages/components/CHANGELOG.md
Labels: [Package] Components

Add example
  packages/commands/README.md
  packages/commands/src/hooks/use-command.js
Labels: [Package] Commands

Call onInputChange after reseting the input
  packages/components/src/form-token-field/index.tsx
Labels: [Package] Components

Pass an onInputChange instead of onFocus
  packages/dataviews/src/dataform-controls/array.tsx
Labels: none

Time To Read: Add a range option
  docs/reference-guides/core-blocks.md
  packages/block-library/src/post-time-to-read/block.json
  packages/block-library/src/post-time-to-read/edit.js
  packages/block-library/src/post-time-to-read/index.php
Labels: [Package] Block library

Bump babel-related dependencies
  package-lock.json
  package.json
Labels: none

Feedback changes
  packages/block-editor/README.md
  packages/block-editor/src/components/index.js
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Block editor, [Package] Editor

Remove validation for elements as it is replaced by control-level validation
  packages/dataviews/src/field-types/array.tsx
Labels: none

php linting
  packages/block-library/src/post-time-to-read/index.php
Labels: [Package] Block library

php linting
  packages/block-library/src/post-time-to-read/index.php
Labels: [Package] Block library

regenerate fixtures
  test/integration/fixtures/blocks/core__post-time-to-read.json
Labels: none

linting fix
  packages/block-library/src/post-time-to-read/index.php
Labels: [Package] Block library

Remove default example, as it is already covered
  packages/dataviews/src/components/dataform/stories/index.story.tsx
Labels: none

Block Bindings: Add support for Media & Text block image
  packages/block-library/src/media-text/block.json
Labels: [Package] Block library

Docs: Fix broken links in Gutenberg release checklist
  .github/ISSUE_TEMPLATE/New_release.md
Labels: none

Modify the "Term Description" block to add a fallback that displays the author description if the archive is in the author template (via an is_author condition).
  packages/block-library/src/term-description/block.json
  packages/block-library/src/term-description/index.php
Labels: [Package] Block library

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**
