Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

Fix Nav Block Link UI regression for blocks with id but no binding (#72171)
  packages/block-library/src/navigation-link/link-ui/index.js
  test/e2e/specs/editor/blocks/navigation.spec.js
Labels: [Package] Block library

Pages: reuse embedded info for authors (#72200)
  packages/fields/src/fields/author/author-view.tsx
Labels: none

Move time to read icon to icon lib
  packages/block-library/src/post-time-to-read/icon.js
  packages/block-library/src/post-time-to-read/index.js
  packages/block-library/src/post-time-to-read/variations.js
  packages/icons/src/library/time-to-read.svg
Labels: [Package] Block library, [Package] Icons

DataFor: stop auto-injecting select placeholder
  packages/dataviews/CHANGELOG.md
  packages/dataviews/README.md
  packages/dataviews/src/dataform-controls/select.tsx
Labels: none

Update changelog files
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/dataviews/CHANGELOG.md
  packages/dataviews/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: [Package] Components, [Package] Icons

DataForm: stop auto-injecting select placeholder
  packages/dataviews/README.md
  packages/dataviews/src/dataform-controls/select.tsx
Labels: none

Invalidate site setting on template update
  packages/core-data/src/resolvers.js
Labels: [Package] Core data

CHANGELOG.md
  packages/dataviews/CHANGELOG.md
Labels: none

Feedback changes
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Fix package.lock
  package-lock.json
Labels: none

Minor change
  packages/edit-site/src/components/style-book/examples.tsx
Labels: [Package] Edit Site

Merge changes published in the Gutenberg plugin "trunk" branch
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/dataviews/CHANGELOG.md
  packages/dataviews/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: [Package] Components, [Package] Icons

Update changelog files
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/dataviews/CHANGELOG.md
  packages/dataviews/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: [Package] Components, [Package] Icons

Remove unwanted comments
  packages/block-library/src/template-part/edit/index.js
Labels: [Package] Block library

Add content role to Navigation Link and Submenu label attributes
  packages/block-library/src/template-part/edit/index.js
Labels: [Package] Block library

Address review comments
  packages/editor/src/hooks/template-part-navigation-edit-button.js
Labels: [Package] Editor

Add divider
  packages/editor/src/hooks/template-part-navigation-edit-button.js
Labels: [Package] Editor

Improve naming
  packages/editor/src/hooks/index.js
  packages/editor/src/hooks/template-part-navigation-edit-button.js
Labels: [Package] Editor

optimize perf
  packages/editor/src/hooks/template-part-navigation-edit-button.js
Labels: [Package] Editor

Refactor: Move Edit Navigation button to editor hook
  packages/block-library/src/template-part/edit/index.js
  packages/editor/src/hooks/index.js
  packages/editor/src/hooks/template-part-navigation-button.js
Labels: [Package] Block library, [Package] Editor

Block Editor: Hide Navigation block children from Content sidebar in contentOnly mode
  packages/block-editor/src/components/block-inspector/index.js
Labels: [Package] Block editor

Fix storybook build
  packages/components/package.json
  storybook/main.js
  storybook/stories/docs/components/contributing.mdx
  storybook/stories/docs/components/readme.mdx
Labels: [Package] Components

LinkControl: Fix entity binding not cleared when unsyncing and entering custom URL
  packages/block-editor/src/components/link-control/index.js
  packages/block-editor/src/components/link-control/test/index.js
Labels: [Package] Block editor

Consistently reset all values to undefined
  packages/block-editor/src/components/link-control/index.js
Labels: [Package] Block editor

Fix the undefined type problem with api docgen for typescript files
  packages/docgen/lib/get-export-entries.js
  packages/docgen/test/get-export-entries.js
Labels: [Package] Docgen

make sure to only invalidate after updates
  packages/core-data/src/resolvers.js
Labels: [Package] Core data

Dataviews Filter: Showing error when sort-by filter changes to Status
  packages/dataviews/src/field-types/email.tsx
  packages/dataviews/src/field-types/index.tsx
  packages/dataviews/src/field-types/text.tsx
  packages/dataviews/src/field-types/url.tsx
Labels: none

Use old entities for site editor root
  packages/edit-site/src/components/editor/use-resolve-edited-entity.js
  packages/editor/src/store/actions.js
  test/e2e/specs/site-editor/preload.spec.js
Labels: [Package] Edit Site, [Package] Editor

Notes: Remove unnecessary horizontal scrollbar
  packages/editor/src/components/collab-sidebar/style.scss
Labels: [Package] Editor

emove unused file
  packages/block-library/src/term-count/save.js
Labels: [Package] Block library

refactor to simplify
  packages/block-library/src/term-count/edit.js
  packages/block-library/src/term-count/icons.js
Labels: [Package] Block library

remove tagName attribute, count alone doesn't make sense as a heading
  docs/reference-guides/core-blocks.md
  packages/block-library/src/term-count/block.json
  packages/block-library/src/term-count/edit.js
Labels: [Package] Block library

cleanup
  packages/block-library/src/term-count/index.php
Labels: [Package] Block library

register term count block
  lib/blocks.php
  packages/block-library/src/index.js
Labels: [Package] Block library

remove unnecessary component
  packages/block-library/src/term-count/edit.js
Labels: [Package] Block library

import term count block styles
  packages/block-library/src/style.scss
Labels: [Package] Block library

sentence case
  packages/block-library/src/term-count/edit.js
Labels: [Package] Block library

term count block based on term name block work by @mikachan
  docs/reference-guides/core-blocks.md
  packages/block-library/src/term-count/block.json
  packages/block-library/src/term-count/edit.js
  packages/block-library/src/term-count/index.js
  packages/block-library/src/term-count/index.php
  packages/block-library/src/term-count/init.js
  packages/block-library/src/term-count/save.js
  packages/block-library/src/term-count/style.scss
  packages/block-library/src/term-count/use-term-count.js
Labels: [Package] Block library

add icons to BRACKET_TYPES
  packages/block-library/src/term-count/edit.js
  packages/block-library/src/term-count/icons.js
Labels: [Package] Block library

remove experimental flag
  docs/reference-guides/core-blocks.md
  packages/block-library/src/term-count/block.json
Labels: [Package] Block library

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**
