Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

Accordion: Add example block preview
  packages/block-library/src/accordion/index.js
Labels: [Package] Block library

Accordion: Make example preview texts translatable and generic
  packages/block-library/src/accordion/index.js
Labels: [Package] Block library

Fix duplicated taxonomies when showing all and hierarchical
  packages/block-library/src/term-template/index.php
Labels: [Package] Block library

Do not show list tab for section blocks
  packages/block-editor/src/components/inspector-controls-tabs/use-inspector-controls-tabs.js
Labels: [Package] Block editor

refactor: use isSelected prop for Add button conditional rendering
  packages/block-library/src/accordion/edit.js
Labels: [Package] Block library

Remove duplicate handleCommentSelect
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Remove label from Add button
  packages/block-library/src/accordion/edit.js
Labels: [Package] Block library

handleCommentSelect to Thread Component
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Updating feedback
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Accordion Header: Add content role to title attribute
  packages/block-library/src/accordion-header/block.json
Labels: [Package] Block library

FlashBlock after scroll
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Add role attribute to title selector in accordion-header block
  packages/block-library/src/accordion-header/block.json
Labels: [Package] Block library

Accordion Block: Simplify script module enqueueing
  packages/block-library/src/accordion/index.php
Labels: [Package] Block library

Use `viewScriptModule` field
  packages/block-library/src/accordion/block.json
  packages/block-library/src/accordion/index.php
Labels: [Package] Block library

Fix lint
  packages/block-library/src/term-template/index.php
Labels: [Package] Block library

Replace build module path
  lib/experimental/script-modules.php
Labels: none

PostTypeSupportCheck: Handle support keys sub-features
  packages/editor/src/components/post-type-support-check/index.js
  packages/editor/src/components/post-type-support-check/test/index.js
Labels: [Package] Editor

RestAPI Documentation for Block Commenting
  docs/reference-guides/block-api/block-commenting-rest-api-docs.md
Labels: none

Add inline comment
  packages/editor/src/components/post-type-support-check/index.js
Labels: [Package] Editor

Change viewScriptModule field value and revert some changes
  lib/experimental/script-modules.php
  packages/block-library/src/accordion/block.json
Labels: [Package] Block library

Improve attachTo e2e tests
  test/e2e/specs/interactivity/router-regions.spec.ts
Labels: none

Inject previousScope only to components
  packages/interactivity/src/directives.tsx
Labels: none

Block Comments: Unfold custom styles
  packages/editor/src/components/collab-sidebar/style.scss
Labels: [Package] Editor

Render new attachTo regions after updating signals
  packages/interactivity-router/src/index.ts
Labels: none

Update viewScriptModule ID
  packages/block-library/src/accordion/block.json
Labels: [Package] Block library

Remove input logic
  packages/components/src/form-token-field/index.tsx
  packages/dataviews/src/dataform-controls/array.tsx
Labels: [Package] Components

Example to highlight visibility control with select
  packages/dataviews/src/components/dataform/stories/index.story.tsx
Labels: none

Fix phpcs error
  packages/e2e-tests/plugins/interactive-blocks/directive-context/render.php
Labels: [Package] E2E Tests

Template activation: add back compat for saveEntityRecord wp_template
  lib/compat/wordpress-6.9/template-activate.php
  packages/core-data/src/actions.js
Labels: [Package] Core data

Update message by including tokens
  packages/dataviews/src/dataform-controls/array.tsx
Labels: none

lint
  lib/compat/wordpress-6.9/template-activate.php
Labels: none

Only consider router-regions with data-wp-interactive
  packages/interactivity-router/src/index.ts
Labels: none

Better e2e tests
  packages/e2e-tests/plugins/interactive-blocks/router-regions/render.php
  test/e2e/specs/interactivity/router-regions.spec.ts
Labels: [Package] E2E Tests

Post Author Block: Add useDefaultAvatar fallback to display avatar placeholder outside postId context
  packages/block-library/src/avatar/hooks.js
  packages/block-library/src/post-author/edit.js
  packages/block-library/src/utils/hooks.js
Labels: [Package] Block library

Use PostTypeSupportCheck
  packages/editor/src/components/header/index.js
Labels: [Package] Editor

Post Author Block: Update alt text for default avatar to improve accessibility
  packages/block-library/src/post-author/edit.js
Labels: [Package] Block library

Bootstrap table layout
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/dataforms-layouts/index.tsx
  packages/dataviews/src/dataforms-layouts/table/index.tsx
  packages/dataviews/src/dataforms-layouts/table/style.scss
  packages/dataviews/src/normalize-form-fields.ts
  packages/dataviews/src/style.scss
  packages/dataviews/src/types.ts
Labels: none

fix(accordion): add aria-hidden to accordion toggle icon
  packages/block-library/src/accordion-header/edit.js
  packages/block-library/src/accordion-header/save.js
Labels: [Package] Block library

Restore postId check conditional statement
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Update packages/editor/src/components/collab-sidebar/index.js
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor
