Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

Refactor title field handling in grid and picker layouts to enhance text overflow management. Adjust styles to ensure proper display and prevent overflow issues.
  packages/dataviews/src/dataviews-layouts/grid/index.tsx
  packages/dataviews/src/dataviews-layouts/grid/style.scss
  packages/dataviews/src/dataviews-layouts/picker-grid/style.scss
Labels: none

Revert space
  packages/dataviews/src/dataviews-layouts/grid/style.scss
Labels: none

All other properties are inherited
  packages/dataviews/src/dataviews-layouts/picker-grid/style.scss
Labels: none

align-content: center;
  packages/dataviews/src/dataviews-layouts/picker-grid/style.scss
Labels: none

update tests
  packages/dataviews/src/test/filter-sort-and-paginate.js
Labels: none

ch ch chaaange log
  packages/dataviews/CHANGELOG.md
Labels: none

Add failing e2e test
  test/e2e/specs/editor/various/block-comments.spec.js
Labels: none

Refactor GridItem title field to remove unnecessary span and adjust styles for better overflow management in picker grid layout.
  packages/dataviews/src/dataviews-layouts/picker-grid/index.tsx
  packages/dataviews/src/dataviews-layouts/picker-grid/style.scss
Labels: none

Move focus to the parent thread when a reply was deleted
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Notes: Avoid losing sidebar reference
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Terms Query: Update `inherit` control and functionality
  packages/block-library/src/term-template/index.php
  packages/block-library/src/terms-query/edit/inspector-controls/index.js
  packages/block-library/src/terms-query/edit/inspector-controls/inherit-control.js
Labels: [Package] Block library

Notes: Graduate from experiments
  lib/compat/wordpress-6.9/block-comments.php
  lib/compat/wordpress-6.9/class-gutenberg-rest-comment-controller.php
  lib/experimental/editor-settings.php
  lib/experiments-page.php
  lib/load.php
  packages/block-library/src/utils/get-transformed-metadata.js
  packages/editor/src/components/header/index.js
  phpunit/bootstrap.php
  test/e2e/specs/editor/various/block-comments.spec.js
Labels: [Package] Block library, [Package] Editor

Add failing test for non-changing props
  packages/e2e-tests/plugins/interactive-blocks/get-server-state/render.php
  packages/e2e-tests/plugins/interactive-blocks/get-server-state/view.js
  test/e2e/specs/interactivity/get-sever-state.spec.ts
Labels: [Package] E2E Tests

Add failing test for props that only exist in some pages
  packages/e2e-tests/plugins/interactive-blocks/get-server-state/render.php
  packages/e2e-tests/plugins/interactive-blocks/get-server-state/view.js
  test/e2e/specs/interactivity/get-sever-state.spec.ts
Labels: [Package] E2E Tests

Add backport changelog entry
  backport-changelog/6.9/10280.md
Labels: none

Add failing test for non-changing props (context)
  packages/e2e-tests/plugins/interactive-blocks/get-server-context/render.php
  packages/e2e-tests/plugins/interactive-blocks/get-server-context/view.js
  test/e2e/specs/interactivity/get-sever-context.spec.ts
Labels: [Package] E2E Tests

Add failing test for props that only exist in some pages (context)
  packages/e2e-tests/plugins/interactive-blocks/get-server-context/render.php
  packages/e2e-tests/plugins/interactive-blocks/get-server-context/view.js
  test/e2e/specs/interactivity/get-sever-context.spec.ts
Labels: [Package] E2E Tests

Breadcrumbs: Do not allow empty separator
  packages/block-library/src/breadcrumbs/edit.js
  packages/block-library/src/breadcrumbs/index.php
Labels: [Package] Block library

Fix existing tests (state)
  packages/e2e-tests/plugins/interactive-blocks/get-server-state/view.js
  test/e2e/specs/interactivity/get-sever-state.spec.ts
Labels: [Package] E2E Tests

Make getFielsList only working in Gutenberg plugin
  packages/block-editor/src/hooks/block-bindings.js
  packages/blocks/src/api/registration.js
  packages/blocks/src/store/private-actions.js
  packages/blocks/src/store/reducer.js
  packages/editor/src/bindings/post-data.js
  packages/editor/src/bindings/post-meta.js
Labels: [Package] Block editor, [Package] Blocks, [Package] Editor

Address changes
  packages/blocks/src/api/registration.js
  packages/blocks/src/store/private-actions.js
Labels: [Package] Blocks

Update changelog files
  packages/block-library/CHANGELOG.md
  packages/block-library/package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/dataviews/CHANGELOG.md
  packages/dataviews/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/interactivity/CHANGELOG.md
  packages/interactivity/package.json
Labels: [Package] Block library, [Package] Components, [Package] Icons

Fix script modules discovery
  lib/client-assets.php
Labels: none

Fix getServerState tests
  packages/interactivity/src/proxies/state.ts
  packages/interactivity/src/store.ts
  packages/interactivity/src/utils.ts
Labels: none

switch to getCurrentPostType
  packages/editor/src/components/post-locked-modal/index.js
Labels: [Package] Editor

prettier fix
  packages/editor/src/components/post-locked-modal/index.js
Labels: [Package] Editor

Build v2: Fix block-editor default colors
  packages/block-editor/src/content.scss
  packages/block-editor/src/style.scss
Labels: [Package] Block editor

Avoid setBoardOffsets class when there're no offsets
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Move bindable attributes to privateContext
  packages/block-editor/src/components/block-edit/edit.js
  packages/block-editor/src/components/block-list/block.js
Labels: [Package] Block editor

Notes: Update button labels
  packages/editor/src/components/collab-sidebar/add-comment.js
  packages/editor/src/components/collab-sidebar/comment-menu-item.js
  packages/editor/src/components/collab-sidebar/comments.js
  test/e2e/specs/editor/various/block-comments.spec.js
Labels: [Package] Editor

Fix transpilation warnings
  packages/e2e-test-utils-playwright/src/lighthouse/index.ts
  packages/e2e-test-utils-playwright/src/test.ts
Labels: none

Warning due to empty array
  packages/block-editor/src/components/block-list/block.js
Labels: [Package] Block editor

update displayInheritControl check
  packages/block-library/src/terms-query/edit/inspector-controls/index.js
Labels: [Package] Block library

Fix php unit test
  phpunit/script-dependencies-test.php
Labels: none

Add remaining packages
  bin/packages/v2-packages.js
  package-lock.json
  packages/react-native-editor/package.json
  packages/vips/package.json
Labels: none

Fix phpcs
  phpunit/script-dependencies-test.php
Labels: none

Remove deepImmutable in favor of deepReadOnly
  packages/interactivity/src/scopes.ts
  packages/interactivity/src/utils.ts
Labels: none

Export deepReadOnly in the private APIs
  packages/interactivity/src/index.ts
Labels: none

Relative date control: field prop
  packages/dataviews/src/dataform-controls/date.tsx
  packages/dataviews/src/dataform-controls/datetime.tsx
  packages/dataviews/src/dataform-controls/relative-date-control.tsx
Labels: none

Relative date control: onChange prop
  packages/dataviews/src/dataform-controls/date.tsx
  packages/dataviews/src/dataform-controls/datetime.tsx
  packages/dataviews/src/dataform-controls/relative-date-control.tsx
Labels: none
