Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

Template activation: fix saveEntityRecord with theme ID
  packages/core-data/src/actions.js
Labels: [Package] Core data

site editor - disabled preview by default in Templates and Patterns menus
  packages/edit-site/src/components/page-patterns/index.js
  packages/edit-site/src/components/page-templates/index.js
Labels: [Package] Edit Site

Post Quick Edit: Fix bulk edit field filtering logic
  packages/edit-site/src/components/post-edit/index.js
Labels: [Package] Edit Site

Update story components to prevent conflicts with global namespace
  packages/dataviews/src/field-types/stories/index.story.tsx
Labels: none

fix: update number with element story
  packages/dataviews/src/field-types/stories/index.story.tsx
Labels: none

Add e2e test
  test/e2e/specs/site-editor/save-entity-record-template-compat.spec.js
Labels: none

i18n: Audit translation strings in collab-sidebar component
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Focus comments on deletion
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Check behavior without authorview user
  packages/fields/src/fields/author/author-view.tsx
Labels: none

Try swapping getEditedEntityRecord for getEntityRecord
  packages/block-library/src/post-author-name/edit.js
Labels: [Package] Block library

Accordion: rename block names
  docs/reference-guides/core-blocks.md
  lib/blocks.php
  packages/block-library/src/accordion-heading/block.json
  packages/block-library/src/accordion-heading/edit.js
  packages/block-library/src/accordion-heading/icon.js
  packages/block-library/src/accordion-heading/index.js
  packages/block-library/src/accordion-heading/init.js
  packages/block-library/src/accordion-heading/save.js
  packages/block-library/src/accordion-heading/style.scss
  packages/block-library/src/accordion-item/block.json
  packages/block-library/src/accordion-item/edit.js
  packages/block-library/src/accordion-item/icon.js
  packages/block-library/src/accordion-item/index.js
  packages/block-library/src/accordion-item/index.php
  packages/block-library/src/accordion-item/init.js
  packages/block-library/src/accordion-item/save.js
  packages/block-library/src/accordion-item/style.scss
  packages/block-library/src/accordion-panel/block.json
  packages/block-library/src/accordion/block.json
  packages/block-library/src/accordion/edit.js
  packages/block-library/src/accordion/index.js
  packages/block-library/src/accordion/index.php
  packages/block-library/src/accordion/view.js
  packages/block-library/src/index.js
  packages/block-library/src/style.scss
Labels: [Package] Block library

Fix PHP lint error
  packages/block-library/src/accordion-item/index.php
Labels: [Package] Block library

Simplify tests
  phpunit/experimental/rest-api-comment-permissions-test.php
Labels: none

Update validation story to cover number field type
  packages/dataviews/src/components/dataform/stories/index.story.tsx
Labels: none

step 1. restore placement in sidebar
  packages/block-editor/src/private-apis.js
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Block editor, [Package] Editor

Committing the potentially-breaking renames separately
  packages/preferences/src/components/preference-base-option/index.tsx
  packages/preferences/src/components/preferences-modal/index.tsx
  packages/preferences/src/store/actions.ts
  packages/preferences/src/store/selectors.ts
Labels: [Package] Preferences

SearchControl: Move search icon to prefix
  packages/components/src/search-control/index.tsx
  packages/components/src/search-control/styles.ts
Labels: [Package] Components

Converted the preferences package to TypeScript
  docs/reference-guides/data/data-core-preferences.md
  packages/block-editor/tsconfig.json
  packages/edit-site/tsconfig.json
  packages/editor/tsconfig.json
  packages/preferences/README.md
  packages/preferences/package.json
  packages/preferences/src/components/index.ts
  packages/preferences/src/components/preference-base-option/index.tsx
  packages/preferences/src/components/preference-toggle-control/index.tsx
  packages/preferences/src/components/preference-toggle-menu-item/index.tsx
  packages/preferences/src/components/preferences-modal-section/index.tsx
  packages/preferences/src/components/preferences-modal-tabs/index.tsx
  packages/preferences/src/components/preferences-modal/index.tsx
  packages/preferences/src/index.ts
  packages/preferences/src/lock-unlock.ts
  packages/preferences/src/private-apis.ts
  packages/preferences/src/store/actions.ts
  packages/preferences/src/store/constants.ts
  packages/preferences/src/store/index.ts
  packages/preferences/src/store/reducer.ts
  packages/preferences/src/store/selectors.ts
  packages/preferences/src/store/test/actions.ts
  packages/preferences/src/store/test/reducer.ts
  packages/preferences/src/store/test/selectors.ts
  packages/preferences/src/store/types.ts
  packages/preferences/tsconfig.json
  packages/upload-media/tsconfig.json
  tsconfig.json
Labels: [Package] Block editor, [Package] Edit Site, [Package] Editor, [Package] Preferences

Fixed a linter issue
  packages/preferences/src/components/preference-toggle-menu-item/index.tsx
Labels: [Package] Preferences

Update to match linter requirements
  packages/preferences/package.json
Labels: [Package] Preferences

Added a changelog entry
  packages/preferences/CHANGELOG.md
Labels: [Package] Preferences

Added a changelog entry to the components package
  packages/components/CHANGELOG.md
Labels: [Package] Components

Replaced the "as any" + TODO with @ts-expect-error
  packages/preferences/src/components/preferences-modal-tabs/index.tsx
Labels: [Package] Preferences

Move in command menu
  packages/commands/src/components/command-menu.js
Labels: [Package] Commands

Move in DataViews filter
  packages/dataviews/src/components/dataviews-filters/style.scss
Labels: none

Use camel case
  packages/block-library/src/accordion/edit.js
Labels: [Package] Block library

fix alignment
  packages/editor/src/components/collab-sidebar/index.js
  packages/editor/src/components/collab-sidebar/style.scss
Labels: [Package] Editor

cleanup
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Add tests for the actions#editEntityRecord changes
  packages/core-data/src/test/actions.js
Labels: [Package] Core data

cleanup
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Add tests for actions#editEntityRecord
  packages/core-data/src/test/actions.js
Labels: [Package] Core data

Introduces block support and UI for allowedBlocks
  docs/reference-guides/core-blocks.md
  packages/base-styles/_z-index.scss
  packages/block-editor/src/components/block-allowed-blocks/allowed-blocks-control.js
  packages/block-editor/src/components/block-allowed-blocks/index.js
  packages/block-editor/src/components/block-allowed-blocks/modal.js
  packages/block-editor/src/components/block-allowed-blocks/style.scss
  packages/block-editor/src/components/block-allowed-blocks/use-block-allowed-blocks.js
  packages/block-editor/src/components/block-settings-menu-controls/index.js
  packages/block-editor/src/hooks/allowed-blocks.js
  packages/block-editor/src/hooks/index.js
  packages/block-editor/src/style.scss
  packages/block-library/src/group/block.json
  schemas/json/block.json
Labels: [Package] Base styles, [Package] Block editor, [Package] Block library

Add the trunk gutenberg code back in order to get the cache working properly
  packages/core-data/src/resolvers.js
Labels: [Package] Core data

Ensure a tab is selected when clicking Edit contents
  packages/block-editor/src/components/inspector-controls-tabs/index.js
Labels: [Package] Block editor

Add tests for entities changes
  packages/core-data/src/test/entities.js
Labels: [Package] Core data

Obey the initialTabName
  packages/block-editor/src/components/inspector-controls-tabs/index.js
Labels: [Package] Block editor

Add tests for resolvers
  packages/core-data/src/test/resolvers.js
Labels: [Package] Core data

Add the sync package to the polyfills test
  phpunit/script-dependencies-test.php
Labels: none

Stabilize feature
  lib/experimental/editor-settings.php
  lib/experiments-page.php
  lib/load.php
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/use-block-props/index.js
  packages/block-editor/src/components/block-settings-menu-controls/index.js
  packages/block-editor/src/components/block-toolbar/index.js
  packages/block-editor/src/components/list-view/block-select-button.js
  packages/block-editor/src/components/list-view/block.js
  packages/block-editor/src/components/use-block-drop-zone/index.js
  packages/block-library/src/utils/get-transformed-metadata.js
Labels: [Package] Block editor, [Package] Block library

Reverse the previous script change
  phpunit/script-dependencies-test.php
Labels: none
