Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

Fix e2e tests
  packages/block-editor/src/hooks/block-style-variation.js
Labels: [Package] Block editor

Fix block variations
  packages/global-styles-engine/src/core/render.tsx
  packages/global-styles-engine/src/utils/common.ts
Labels: none

Fix docs manifest
  docs/manifest.json
Labels: none

Add clarifying comments
  packages/global-styles-engine/src/utils/common.ts
  packages/global-styles-engine/src/utils/object.ts
  packages/global-styles-engine/src/utils/typography.ts
Labels: none

Fix preact/debug
  packages/interactivity/package.json
  packages/interactivity/src/index.ts
Labels: none

Build: Fix script_debug modules and scripts
  bin/packages/build.mjs
  lib/client-assets.php
  packages/interactivity/package.json
  packages/interactivity/src/debug.ts
  packages/interactivity/src/index.ts
Labels: none

Clarify script debug
  bin/packages/build.mjs
Labels: none

Notes: Fix the 'glitch' when selecting a note with a missing block
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Don't render the 'Back to block' button
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Use 'thread.blockClientId' for missing block checks
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Real-time collaboration: Add YMultiDocUndoManager
  packages/core-data/src/entities.js
  packages/core-data/src/private-selectors.ts
  packages/core-data/src/selectors.ts
  packages/core-data/src/types.ts
  packages/sync/src/manager.ts
  packages/sync/src/types.ts
  packages/sync/src/undo-manager.ts
  packages/sync/src/y-utilities/LICENSE
  packages/sync/src/y-utilities/y-multidoc-undomanager.js
Labels: [Package] Core data

Add changelog
  packages/dataviews/CHANGELOG.md
Labels: none

Update test cases
  packages/dataviews/src/test/normalize-form-fields.ts
Labels: none

Notes: Fix the focus transfer issue when switching the sidebars
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Fix 'useEnableFloatingSidebar' logic
  packages/editor/src/components/collab-sidebar/hooks.js
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Add e2e test coverage
  test/e2e/specs/editor/various/block-comments.spec.js
Labels: none

Use effect cleanup to disable floating sidebar
  packages/editor/src/components/collab-sidebar/hooks.js
Labels: [Package] Editor

Use more strict check for active sidebar
  packages/editor/src/components/collab-sidebar/hooks.js
Labels: [Package] Editor

add changelog
  packages/components/CHANGELOG.md
Labels: [Package] Components

add size to footer
  packages/components/src/card/types.ts
Labels: [Package] Components

fix changelog
  packages/components/CHANGELOG.md
Labels: [Package] Components

fix changelog
  packages/components/CHANGELOG.md
Labels: [Package] Components

Notes: Fix 'View notes' on mobile screens
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Refactor and include term count
  packages/block-library/src/query-title/edit.js
  packages/block-library/src/term-count/use-term-count.js
  packages/block-library/src/term-description/use-term-description.js
  packages/block-library/src/term-name/edit.js
  packages/block-library/src/utils/use-context-data.js
Labels: [Package] Block library

Use default popover placement for image format popover
  packages/format-library/src/image/index.js
Labels: [Package] Format library

Move grid experiment changelog to 7.0 folder
  backport-changelog/7.0/6910.md
Labels: none

Check blur event in popover instead of dropdown
  packages/components/src/dropdown/index.tsx
  packages/components/src/popover/index.tsx
Labels: [Package] Components

Fix Dropdown closing unexpectedly when a Menu inside it is closed.
  packages/components/src/dropdown/index.tsx
Labels: [Package] Components

changelog update
  packages/components/CHANGELOG.md
Labels: [Package] Components

Add some stories for testing
  packages/components/src/menu/stories/index.story.tsx
Labels: [Package] Components

Preserve previous logic
  packages/components/src/popover/index.tsx
Labels: [Package] Components

Remove story and update changelog.
  packages/components/CHANGELOG.md
  packages/components/src/menu/stories/index.story.tsx
Labels: [Package] Components

Fix error with display of Heading block style variations in style book.
  packages/edit-site/src/components/style-book/index.js
Labels: [Package] Edit Site

update changelog _again_
  packages/components/CHANGELOG.md
Labels: [Package] Components

List View: Fix sub-pixel gap in background of selected rows
  packages/block-editor/src/components/list-view/style.scss
Labels: [Package] Block editor

Notes: Backport REST API changes in core
  lib/compat/wordpress-6.9/class-gutenberg-rest-comment-controller.php
  phpunit/experimental/class-wp-rest-comments-controller-gutenberg.php
Labels: none

Use monospaced font for LaTeX input
  packages/block-library/src/math/edit.js
Labels: [Package] Block library

Add media modal experiment and adapter
  lib/experimental/editor-settings.php
  lib/experiments-page.php
  packages/editor/src/dataviews/fields/content-preview/content-preview-view.tsx
  packages/editor/src/hooks/media-upload.js
Labels: [Package] Editor

more grammar
  lib/experiments-page.php
Labels: none

ignore the stupid error
  packages/editor/src/dataviews/fields/content-preview/content-preview-view.tsx
Labels: [Package] Editor
