Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

add a doc block
  packages/dataviews/src/components/dataviews-filters/index.tsx
  packages/dataviews/src/dataform-controls/select.tsx
  packages/dataviews/src/field-types/index.tsx
  packages/dataviews/src/field-types/stories/index.story.tsx
Labels: none

Make block-comments part of editor support
  gutenberg.php
  lib/experimental/block-comments.php
  packages/editor/src/components/header/index.js
Labels: [Package] Editor

Display better error messages
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Update packages/block-library/src/post-time-to-read/edit.js
  packages/block-library/src/post-time-to-read/edit.js
Labels: [Package] Block library

Update packages/block-library/src/post-time-to-read/edit.js
  packages/block-library/src/post-time-to-read/edit.js
Labels: [Package] Block library

Update packages/block-library/src/post-time-to-read/edit.js
  packages/block-library/src/post-time-to-read/edit.js
Labels: [Package] Block library

Update packages/block-library/src/post-time-to-read/edit.js
  packages/block-library/src/post-time-to-read/edit.js
Labels: [Package] Block library

Update packages/block-library/src/post-time-to-read/edit.js
  packages/block-library/src/post-time-to-read/edit.js
Labels: [Package] Block library

Fixes font size preset picker to select individual preset without falling back to one, also design update
  packages/block-editor/src/components/global-styles/typography-panel.js
  packages/block-editor/src/hooks/font-size.js
  packages/components/src/font-size-picker/font-size-picker-select.tsx
  packages/components/src/font-size-picker/font-size-picker-toggle-group.tsx
  packages/components/src/font-size-picker/index.tsx
  packages/components/src/font-size-picker/types.ts
Labels: [Package] Block editor, [Package] Components

Default getConfig type to any
  packages/interactivity/src/store.ts
Labels: none

REST API: Add post type support check
  lib/experimental/class-gutenberg-rest-comment-controller.php
Labels: none

Temp: Add story with nested data for DataForm
  packages/dataviews/src/components/dataform/stories/index.story.tsx
Labels: none

Initial implementation
  packages/dataviews/src/components/dataviews-filters/input-widget.tsx
  packages/dataviews/src/dataform-controls/utils/validated-input.tsx
  packages/dataviews/src/normalize-fields.ts
  packages/dataviews/src/test/normalize-fields.test.ts
  packages/dataviews/src/types.ts
Labels: none

TEMP: Change fixtures to use nested data
  packages/dataviews/src/components/dataviews/stories/fixtures.tsx
Labels: none

Disable validation in filter controls
  packages/dataviews/src/components/dataviews-filters/input-widget.tsx
  packages/dataviews/src/components/dataviews/stories/fixtures.tsx
Labels: none

Use Item instead of DeepPartial<Item> as parameter to getValue and setValue
  packages/dataviews/src/types.ts
Labels: none

Fix tests
  packages/dataviews/src/test/filter-and-sort-data-view.js
Labels: none

Update custom Edit to match the DeepPartial shape of onChange
  packages/fields/src/fields/featured-image/featured-image-edit.tsx
  packages/fields/src/fields/parent/parent-edit.tsx
  packages/fields/src/fields/password/edit.tsx
  packages/fields/src/fields/slug/slug-edit.tsx
  packages/fields/src/fields/template/template-edit.tsx
Labels: none

Change approach to typing an item and update usage
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/components/dataviews-filters/input-widget.tsx
  packages/dataviews/src/components/dataviews/stories/fixtures.tsx
  packages/dataviews/src/components/dataviews/stories/index.story.tsx
  packages/dataviews/src/components/stories/index.story.tsx
  packages/dataviews/src/dataform-controls/array.tsx
  packages/dataviews/src/dataform-controls/checkbox.tsx
  packages/dataviews/src/dataform-controls/datetime.tsx
  packages/dataviews/src/dataform-controls/integer.tsx
  packages/dataviews/src/dataform-controls/radio.tsx
  packages/dataviews/src/dataform-controls/select.tsx
  packages/dataviews/src/dataform-controls/toggle-group.tsx
  packages/dataviews/src/dataform-controls/toggle.tsx
  packages/dataviews/src/dataform-controls/utils/validated-input.tsx
  packages/dataviews/src/test/filter-and-sort-data-view.js
  packages/dataviews/src/types.ts
Labels: none

Allow `DeepPartial< Item >` to accept full `Item`
  packages/dataviews/src/types.ts
Labels: none

Rely on `DeepPartial` in `setValue`
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/components/dataviews-filters/input-widget.tsx
  packages/dataviews/src/components/dataviews/stories/fixtures.tsx
  packages/dataviews/src/types.ts
Labels: none

Add setValue to boolean field in the stories
  packages/dataviews/src/components/dataviews/stories/fixtures.tsx
Labels: none

Update story and fix the DeepPartial type definition.
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/types.ts
Labels: none

Filters: prepare data and field
  packages/dataviews/src/components/dataviews-filters/input-widget.tsx
Labels: none

Fix modal with nested data
  package-lock.json
  packages/dataviews/package.json
  packages/dataviews/src/dataforms-layouts/panel/modal.tsx
Labels: none

Revert changes to fields
  packages/fields/src/fields/featured-image/featured-image-edit.tsx
  packages/fields/src/fields/parent/parent-edit.tsx
  packages/fields/src/fields/password/edit.tsx
  packages/fields/src/fields/slug/slug-edit.tsx
  packages/fields/src/fields/template/template-edit.tsx
Labels: none

Port new tests to existing test file
  packages/dataviews/src/test/normalize-fields.test.ts
  packages/dataviews/src/test/normalize-fields.ts
Labels: none

Remove unused import, finer scope for useCallback dependencies
  packages/dataviews/src/dataform-controls/utils/validated-input.tsx
Labels: none

Add comment for DeepPartial type
  packages/dataviews/src/types.ts
Labels: none

Doc changes
  packages/dataviews/README.md
Labels: none

Adapt new places after rebase
  packages/dataviews/src/components/dataviews-picker/stories/index.story.tsx
  packages/dataviews/src/components/dataviews/stories/fixtures.tsx
  packages/dataviews/src/components/stories/index.story.tsx
  packages/dataviews/src/dataform-controls/color.tsx
  packages/dataviews/src/dataform-controls/textarea.tsx
Labels: none

Fix author field in DataForm story
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/components/dataviews-filters/input-widget.tsx
Labels: none

Filters: setValue should return a partial
  packages/dataviews/src/components/dataviews-filters/input-widget.tsx
Labels: none

Use setValue for custom validation functions item argument
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/dataform-controls/checkbox.tsx
  packages/dataviews/src/dataform-controls/color.tsx
  packages/dataviews/src/dataform-controls/integer.tsx
  packages/dataviews/src/dataform-controls/textarea.tsx
  packages/dataviews/src/dataform-controls/toggle.tsx
  packages/dataviews/src/dataform-controls/utils/validated-input.tsx
  packages/dataviews/src/types.ts
Labels: none

Revert "Update readme after validation changes"
  packages/dataviews/README.md
Labels: none

Update readme after validation changes
  packages/dataviews/README.md
Labels: none

Story: return partial, not item
  packages/dataviews/src/components/dataform/stories/index.story.tsx
Labels: none

Do not make password required in a custom rule
  packages/dataviews/src/components/dataform/stories/index.story.tsx
Labels: none

Use full item for custom validation functions
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/dataform-controls/checkbox.tsx
  packages/dataviews/src/dataform-controls/color.tsx
  packages/dataviews/src/dataform-controls/integer.tsx
  packages/dataviews/src/dataform-controls/textarea.tsx
  packages/dataviews/src/dataform-controls/toggle.tsx
  packages/dataviews/src/dataform-controls/utils/validated-input.tsx
  packages/dataviews/src/types.ts
Labels: none

Fix preload e2e test
  test/e2e/specs/site-editor/preload.spec.js
Labels: none
