Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

Fix expected binding in tests and rename for clarity
  packages/block-library/src/page-list/test/convert-to-navigation-links.js
Labels: [Package] Block library

Fix Page List to Navigation Link conversion with entity bindings
  packages/block-library/src/navigation-link/shared/index.js
  packages/block-library/src/navigation-link/shared/test/use-entity-binding.js
  packages/block-library/src/navigation-link/shared/use-entity-binding.js
  packages/block-library/src/page-list/test/convert-to-links-modal.js
  packages/block-library/src/page-list/use-convert-to-navigation-links.js
Labels: [Package] Block library

Refactor to accommodate changes from trunk
  packages/block-library/src/navigation-link/shared/use-entity-binding.js
  packages/block-library/src/page-list/use-convert-to-navigation-links.js
  test/e2e/specs/editor/blocks/navigation.spec.js
Labels: [Package] Block library

Remove updatedAttributes param from clearBinding in inspector controls
  packages/block-library/src/navigation/edit/menu-inspector-controls.js
Labels: [Package] Block library

Tweak tab name for database templates
  packages/edit-site/src/components/sidebar-navigation-screen-templates-browse/content.js
Labels: [Package] Edit Site

Radio can handle empty elements
  packages/dataviews/src/dataform-controls/radio.tsx
Labels: none

Document getElements
  packages/dataviews/README.md
  packages/dataviews/src/utils/has-elements.ts
Labels: none

Ignore responses that arrived after the component unmounted
  packages/dataviews/src/hooks/use-elements.ts
Labels: none

Add changelog
  packages/dataviews/CHANGELOG.md
Labels: none

RenderFromElements as a component
  packages/dataviews/src/field-types/boolean.tsx
  packages/dataviews/src/field-types/color.tsx
  packages/dataviews/src/field-types/date.tsx
  packages/dataviews/src/field-types/datetime.tsx
  packages/dataviews/src/field-types/email.tsx
  packages/dataviews/src/field-types/index.tsx
  packages/dataviews/src/field-types/integer.tsx
  packages/dataviews/src/field-types/number.tsx
  packages/dataviews/src/field-types/password.tsx
  packages/dataviews/src/field-types/telephone.tsx
  packages/dataviews/src/field-types/text.tsx
  packages/dataviews/src/field-types/url.tsx
Labels: none

Introduce getElements API and use it in author field
  packages/dataviews/src/components/dataviews-filters/filter.tsx
  packages/dataviews/src/components/dataviews-filters/search-widget.tsx
  packages/dataviews/src/components/dataviews-filters/style.scss
  packages/dataviews/src/components/dataviews-filters/use-filters.ts
  packages/dataviews/src/dataform-controls/array.tsx
  packages/dataviews/src/dataform-controls/index.tsx
  packages/dataviews/src/dataform-controls/radio.tsx
  packages/dataviews/src/dataform-controls/select.tsx
  packages/dataviews/src/dataform-controls/toggle-group.tsx
  packages/dataviews/src/dataviews-layouts/table/column-header-menu.tsx
  packages/dataviews/src/field-types/boolean.tsx
  packages/dataviews/src/field-types/color.tsx
  packages/dataviews/src/field-types/date.tsx
  packages/dataviews/src/field-types/datetime.tsx
  packages/dataviews/src/field-types/email.tsx
  packages/dataviews/src/field-types/index.tsx
  packages/dataviews/src/field-types/integer.tsx
  packages/dataviews/src/field-types/number.tsx
  packages/dataviews/src/field-types/password.tsx
  packages/dataviews/src/field-types/telephone.tsx
  packages/dataviews/src/field-types/text.tsx
  packages/dataviews/src/field-types/url.tsx
  packages/dataviews/src/field-types/utils/render-from-elements.ts
  packages/dataviews/src/hooks/use-elements.tsx
  packages/dataviews/src/stories/field-types.story.tsx
  packages/dataviews/src/types/dataviews.ts
  packages/dataviews/src/types/field-api.ts
  packages/dataviews/src/utils/has-elements.ts
  packages/dataviews/src/utils/normalize-fields.ts
  packages/edit-site/src/components/post-edit/index.js
  packages/edit-site/src/components/post-list/index.js
  packages/editor/src/components/post-fields/index.ts
  packages/fields/src/fields/author/index.tsx
Labels: [Package] Edit Site, [Package] Editor

Improve field type number render
  packages/dataviews/src/field-types/number.tsx
Labels: none

Refactor useElements to take an object as input
  packages/dataviews/src/components/dataviews-filters/filter.tsx
  packages/dataviews/src/components/dataviews-filters/search-widget.tsx
  packages/dataviews/src/dataform-controls/array.tsx
  packages/dataviews/src/dataform-controls/radio.tsx
  packages/dataviews/src/dataform-controls/select.tsx
  packages/dataviews/src/dataform-controls/toggle-group.tsx
  packages/dataviews/src/field-types/utils/render-from-elements.ts
  packages/dataviews/src/hooks/use-elements.tsx
Labels: none

Select can handle empty elements
  packages/dataviews/src/dataform-controls/select.tsx
Labels: none

Rename some files
  packages/dataviews/src/field-types/utils/render-from-elements.tsx
  packages/dataviews/src/hooks/use-elements.ts
Labels: none

Fix rebase issues
  packages/dataviews/src/dataform-controls/array.tsx
  packages/dataviews/src/dataform-controls/radio.tsx
Labels: none

fix rebase
  packages/dataviews/src/dataform-controls/select.tsx
Labels: none

Rename class name for clarity
  packages/dataviews/src/components/dataviews-filters/search-widget.tsx
  packages/dataviews/src/components/dataviews-filters/style.scss
Labels: none

useFormValidity: consider async elements
  packages/dataviews/src/hooks/use-form-validity.ts
Labels: none

Remove unnecessary prop
  packages/dataviews/src/components/dataviews-filters/filter.tsx
  packages/dataviews/src/components/dataviews-filters/search-widget.tsx
Labels: none

Validation story: toggle on/off elements validation
  packages/dataviews/src/stories/dataform.story.tsx
Labels: none

Remove unnecessary icon field
  packages/edit-site/src/components/dataviews-actions/index.js
Labels: [Package] Edit Site

Fix useFormValidity test
  packages/dataviews/src/test/use-form-validity.ts
Labels: none

Update lock file
  package-lock.json
Labels: none

Move changelog
  packages/components/CHANGELOG.md
Labels: [Package] Components

DropdownMenu: Keep normal weight
  packages/components/src/dropdown-menu/style.scss
Labels: [Package] Components

Add test
  test/e2e/specs/site-editor/save-entity-record-template-compat.spec.js
Labels: none

Remove displaying latex as a fallback
  packages/block-library/src/math/edit.js
  packages/block-library/src/math/save.js
Labels: [Package] Block library

DatePicker: Keep normal weight
  packages/components/src/date-time/date/styles.ts
Labels: [Package] Components

TabPanel: Update font-weight in tabs to match new Tabs
  packages/components/src/tab-panel/style.scss
Labels: [Package] Components

Build v2: Cleanup and simplify build and dev scripts
  .github/workflows/static-checks.yml
  bin/build.mjs
  bin/dev.mjs
  package.json
Labels: none

Add typings in core-data for @wordpress__blocks
  packages/core-data/src/utils/crdt-blocks.ts
  packages/core-data/tsconfig.json
  packages/core-data/typings/wordpress__blocks.d.ts
Labels: [Package] Core data

BlockQuickNavigation: Keep normal weight
  packages/block-editor/src/components/block-quick-navigation/index.js
  packages/block-editor/src/components/block-quick-navigation/style.scss
  packages/block-editor/src/style.scss
Labels: [Package] Block editor

Update readme
  packages/components/CHANGELOG.md
Labels: [Package] Components

Use Sass vars for weight
  packages/components/src/menu-item/style.scss
  packages/editor/src/components/post-panel-row/style.scss
Labels: [Package] Components, [Package] Editor

Fix async elements
  packages/dataviews/src/hooks/use-form-validity.ts
  packages/dataviews/src/stories/dataform.story.tsx
Labels: none

Revert TabPanel changes (will do separately)
  packages/components/CHANGELOG.md
  packages/components/src/tab-panel/style.scss
Labels: [Package] Components

Update packages/editor/src/components/provider/index.js
  packages/editor/src/components/provider/index.js
Labels: [Package] Editor

Build v2: Fix watch of nested dependencies
  bin/packages/build.mjs
  bin/packages/dependency-graph.js
Labels: none

Update unit
  phpunit/blocks/render-block-core-post-date.php
Labels: none
