Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

Re-instate recalculating derived block editing modes when zoom level changes
  packages/block-editor/src/store/reducer.js
Labels: [Package] Block editor

Remove unused zoom-out mode checks from __unstableHasActiveBlockOverlayActive block overlay logic in selectors.js
  packages/block-editor/src/store/selectors.js
Labels: [Package] Block editor

Document 'valueMode' prop in README
  packages/components/src/font-size-picker/README.md
Labels: [Package] Components

Add new modal to post featured image
  packages/editor/src/components/post-featured-image/index.js
Labels: [Package] Editor

Update BlockPopoverCover to use getBoundingClientRect to account for scaling
  packages/block-editor/src/components/block-popover/cover.js
Labels: [Package] Block editor

Remove unused variables
  packages/block-editor/src/store/reducer.js
Labels: [Package] Block editor

Update tests
  packages/block-editor/src/store/test/reducer.js
Labels: [Package] Block editor

Keep the behaviour where we don't allow dragging horizontally to group while zoomed out
  packages/block-editor/src/components/block-tools/insertion-point.js
Labels: [Package] Block editor

Keep the behaviour that eagerly displays the switch style button
  packages/block-editor/src/components/block-toolbar/index.js
Labels: [Package] Block editor

Try updating e2e tests
  test/e2e/specs/editor/various/pattern-overrides.spec.js
  test/e2e/specs/site-editor/zoom-out.spec.js
Labels: none

Refactor: Update components to use forwardRef for improved ref handling
  packages/edit-site/src/components/revisions/index.js
  packages/edit-site/src/components/style-book/index.js
  packages/edit-site/src/components/styles-canvas/index.js
  packages/edit-site/src/components/styles-canvas/revisions.js
  packages/edit-site/src/components/styles-canvas/style-book.js
Labels: [Package] Edit Site

Moved the onCloseCanvas and closeOnEscape functions inside the StylesCanvas component
  packages/edit-site/src/components/styles-canvas/index.js
Labels: [Package] Edit Site

Notes: Disable floating notes for 'template-locked' mode
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Fix e2e test and cleanup
  packages/editor/src/components/collab-sidebar/add-comment.js
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Hide the new note form onBlur
  packages/editor/src/components/collab-sidebar/add-comment.js
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Add 'type' property to activeField as boolean in page templates (#72278)
  packages/edit-site/src/components/page-templates/fields.js
Labels: [Package] Edit Site

Notes: Improve accesibility tree
  packages/editor/src/components/collab-sidebar/add-comment.js
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/index.js
  packages/editor/src/components/collab-sidebar/utils.js
  test/e2e/specs/editor/various/block-comments.spec.js
Labels: [Package] Editor

Notes: Improve pinned sidebar e2e test
  test/e2e/specs/editor/various/block-comments.spec.js
Labels: none

"New Note" to "New note"
  packages/editor/src/components/collab-sidebar/add-comment.js
  test/e2e/specs/editor/various/block-comments.spec.js
Labels: [Package] Editor

Remove unnecessary cleanEmptyObject
  packages/block-editor/src/hooks/metadata.js
Labels: [Package] Block editor

Fixup button attrs
  packages/dataviews/src/dataform-controls/password.tsx
Labels: none

Fix password suffix alignment
  packages/dataviews/src/dataform-controls/password.tsx
Labels: none

Add changelog entry
  packages/dataviews/CHANGELOG.md
Labels: none

Fix new note position blink
  packages/editor/src/components/collab-sidebar/add-comment.js
Labels: [Package] Editor

update types
  packages/components/src/card/types.ts
Labels: [Package] Components

move padding style in get-padding-by-size file
  packages/components/src/card/get-padding-by-size.ts
  packages/components/src/card/styles.ts
  packages/components/src/utils/config-values.js
Labels: [Package] Components

update story documentation
  packages/components/src/card/stories/index.story.tsx
Labels: [Package] Components

update documentation
  packages/components/src/card/card-body/README.md
  packages/components/src/card/card-footer/README.md
  packages/components/src/card/card-header/README.md
  packages/components/src/card/card/README.md
Labels: [Package] Components

Badge: Add max-width for text truncation
  packages/components/src/badge/styles.scss
Labels: [Package] Components

Update changelog
  packages/components/CHANGELOG.md
Labels: [Package] Components

Notes: Don't collapse note on Escape if the event has been prevented
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

DataForm: set spacing for regular and card layouts (#72249)
  packages/dataviews/CHANGELOG.md
  packages/dataviews/src/dataform-layouts/index.tsx
  packages/dataviews/src/dataform-layouts/normalize-form-fields.ts
  packages/dataviews/src/stories/dataform.story.tsx
  packages/dataviews/src/test/normalize-form-fields.ts
Labels: none

Initial commit, still e2e tests not updated
  packages/block-editor/src/hooks/block-bindings.js
  packages/blocks/src/store/reducer.js
Labels: [Package] Block editor, [Package] Blocks

Add guard for null refs in `setButtonStyles` callback
  packages/block-library/src/image/view.js
Labels: [Package] Block library

Badge: Add max-width for text truncation (#72653)
  packages/components/CHANGELOG.md
  packages/components/src/badge/styles.scss
Labels: [Package] Components

Attempt to handle multiple dashes
  packages/block-library/src/utils/test/use-context-data.js
  packages/block-library/src/utils/use-context-data.js
Labels: [Package] Block library

Template activation: revert to old endpoint for post template picker
  packages/editor/src/components/post-template/hooks.js
Labels: [Package] Editor

Categories Block: Add taxonomy css class
  packages/block-library/src/categories/edit.js
  packages/block-library/src/categories/index.php
Labels: [Package] Block library

Only show in the UI sourced attributes
  packages/block-editor/src/hooks/block-bindings.js
  test/e2e/specs/editor/various/block-bindings/custom-sources.spec.js
  test/e2e/specs/editor/various/block-bindings/post-data.spec.js
Labels: [Package] Block editor

Update block descriptions
  docs/reference-guides/core-blocks.md
  packages/block-library/src/accordion-heading/block.json
  packages/block-library/src/accordion-item/block.json
  packages/block-library/src/accordion-panel/block.json
  packages/block-library/src/accordion/block.json
Labels: [Package] Block library
