Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

Migrate post-data and post-date block
  lib/compat/wordpress-6.9/post-data-block-bindings.php
  packages/block-library/src/post-date/edit.js
  packages/block-library/src/post-date/index.php
  packages/block-library/src/post-date/variations.js
  packages/editor/src/bindings/post-data.js
Labels: [Package] Block library, [Package] Editor

Address changes
  lib/compat/wordpress-6.9/post-data-block-bindings.php
  packages/block-library/src/post-date/edit.js
  packages/block-library/src/post-date/variations.js
Labels: [Package] Block library

Update conditional that compares key/field to 'link'
  lib/compat/wordpress-6.9/post-data-block-bindings.php
Labels: none

Add backport md
  backport-changelog/6.9/10304.md
Labels: none

Revert "Update unit"
  phpunit/blocks/render-block-core-post-date.php
Labels: none

More replacements
  packages/block-library/src/post-date/deprecated.js
  test/e2e/specs/editor/various/block-bindings/post-data.spec.js
Labels: [Package] Block library

Update core/term-data source to use field instead of key
  lib/compat/wordpress-6.9/term-data-block-bindings.php
  packages/editor/src/bindings/term-data.js
Labels: [Package] Editor

Replace in useEntityBinding
  packages/block-library/src/navigation-link/shared/test/use-entity-binding.js
  packages/block-library/src/navigation-link/shared/use-entity-binding.js
Labels: [Package] Block library

One more instance
  packages/block-library/src/page-list/test/convert-to-navigation-links.js
Labels: [Package] Block library

Update snapshots
  test/integration/fixtures/blocks/core__image__caption-block-bindings.html
  test/integration/fixtures/blocks/core__image__caption-block-bindings.json
  test/integration/fixtures/blocks/core__image__caption-block-bindings.parsed.json
  test/integration/fixtures/blocks/core__image__caption-block-bindings.serialized.html
  test/integration/fixtures/blocks/core__post-date.json
  test/integration/fixtures/blocks/core__post-date.serialized.html
  test/integration/fixtures/blocks/core__post-date__deprecated-v2.json
  test/integration/fixtures/blocks/core__post-date__deprecated-v2.serialized.html
  test/integration/fixtures/blocks/core__query__deprecated-3.json
  test/integration/fixtures/blocks/core__query__deprecated-3.serialized.html
Labels: none

Fix e2e snapshots
  test/e2e/specs/editor/various/__snapshots__/Inserting-blocks-firefox-webkit-inserts-p-59603-ragging-and-dropping-from-the-global-inserter-1-chromium.txt
  test/e2e/specs/editor/various/__snapshots__/Inserting-blocks-firefox-webkit-inserts-p-59603-ragging-and-dropping-from-the-global-inserter-1-webkit.txt
Labels: none

Real-time collaboration: [pr-73332] Add support for syncing post meta
  package-lock.json
  packages/core-data/package.json
  packages/core-data/src/utils/crdt-meta.ts
  packages/core-data/src/utils/crdt.ts
  packages/core-data/src/utils/test/crdt.ts
  packages/core-data/tsconfig.json
Labels: [Package] Core data

Real-time collaboration: [pr-72326] Allow post-locked-modal to be overridden when collaborative-editing is enabled
  packages/editor/src/components/post-locked-modal/index.js
Labels: [Package] Editor

Real-time collaboration: [no-pr] Remove @wordpress/sync from bundled packages
  packages/dependency-extraction-webpack-plugin/lib/util.js
  packages/sync/package.json
Labels: [Package] Dependency Extraction Webpack Plugin

Real-time collaboration: [pr-72373] Implement CRDT persistence
  lib/experimental/synchronization.php
  packages/core-data/src/entities.js
  packages/core-data/src/resolvers.js
  packages/core-data/src/sync.ts
  packages/core-data/src/test/entities.js
  packages/core-data/src/test/resolvers.js
  packages/core-data/src/utils/crdt.ts
  packages/sync/README.md
  packages/sync/src/config.ts
  packages/sync/src/index.ts
  packages/sync/src/manager.ts
  packages/sync/src/persistence.ts
  packages/sync/src/types.ts
  packages/sync/src/utils.ts
Labels: [Package] Core data

Real-time collaboration: [no-pr] Return original blocks when controlledBlocks represent post content
  packages/block-editor/src/components/provider/use-block-sync.js
Labels: [Package] Block editor

Real-time collaboration: [pr-72437] Inject awareness WIP
  packages/core-data/src/entities.js
  packages/sync/src/manager.ts
  packages/sync/src/types.ts
Labels: [Package] Core data

Real-time collaboration: [no-pr] Add YMultiDocUndoManager
  packages/core-data/src/entities.js
  packages/core-data/src/private-selectors.ts
  packages/core-data/src/selectors.ts
  packages/core-data/src/types.ts
  packages/sync/src/manager.ts
  packages/sync/src/types.ts
  packages/sync/src/undo-manager.ts
  packages/sync/src/y-utilities/LICENSE
  packages/sync/src/y-utilities/y-multidoc-undomanager.js
Labels: [Package] Core data

Real-time collaboration: [no-pr] Add <EditorsPresence> SlotFill
  packages/editor/README.md
  packages/editor/src/components/document-bar/style.scss
  packages/editor/src/components/editors-presence/index.js
  packages/editor/src/components/header/index.js
  packages/editor/src/components/header/style.scss
  packages/editor/src/dataviews/fields/content-preview/content-preview-view.tsx
  packages/editor/src/index.js
Labels: [Package] Editor

Real-time collaboration: [pr-72450] Add typings in core-data for @wordpress__blocks
  packages/core-data/src/utils/crdt-blocks.ts
  packages/core-data/tsconfig.json
  packages/core-data/typings/wordpress__blocks.d.ts
Labels: [Package] Core data

Real-time collaboration: [no-pr] Add <BlockCanvasCover> and <VisualEditorOverlay>
  packages/block-editor/README.md
  packages/block-editor/src/components/block-canvas/index.js
  packages/block-editor/src/index.js
  packages/editor/src/components/index.js
  packages/editor/src/index.js
Labels: [Package] Block editor, [Package] Editor

avoid notes cut off by overflowing bottom border
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

TabPanel: Update tab font-weight
  packages/components/src/tab-panel/style.scss
Labels: [Package] Components

Add changelog
  packages/components/CHANGELOG.md
Labels: [Package] Components

Reduce color ramp tests
  packages/theme/src/color-ramps/test/__snapshots__/index.test.ts.snap
  packages/theme/src/color-ramps/test/index.test.ts
Labels: none

Build: Fix primitives package warning
  packages/primitives/package.json
Labels: [Package] Primitives

Remove specific logger in test environments
  packages/blocks/src/api/test/validation.js
  packages/blocks/src/api/validation/logger.js
Labels: [Package] Blocks

Move prebuild files into src (fixes types)
  packages/theme/package.json
  packages/theme/src/prebuild/css/design-tokens.css
  packages/theme/src/prebuild/js/design-tokens.js
  packages/theme/src/prebuild/json/figma.json
  packages/theme/src/prebuild/ts/design-tokens.ts
  packages/theme/src/types/css-modules.d.ts
  packages/theme/src/use-theme-provider-styles.ts
  packages/theme/terrazzo.config.ts
  packages/theme/tsconfig.json
Labels: none

Allow theme package to participate in private APIs
  packages/private-apis/src/implementation.ts
Labels: [Package] Private APIs

Removed the explicit ReactNode imports
  packages/preferences/src/components/preference-base-option/types.ts
  packages/preferences/src/components/preferences-modal/types.ts
Labels: [Package] Preferences

Added a reference to preferences to views/tsconfig.json
  packages/views/tsconfig.json
Labels: none

can-disable-block-note-supports
  docs/reference-guides/core-blocks.md
  packages/block-editor/src/components/block-settings-menu/block-settings-dropdown.js
  packages/block-library/src/freeform/block.json
  packages/block-library/src/missing/block.json
  schemas/json/block.json
  test/e2e/specs/editor/various/block-comments.spec.js
Labels: [Package] Block editor, [Package] Block library

iAPI: Update deprecated usage of data-wp-on-async in core blocks
  packages/block-library/src/image/index.php
  packages/block-library/src/image/view.js
  packages/block-library/src/navigation/index.php
  packages/block-library/src/navigation/view.js
  packages/block-library/src/query-pagination-next/index.php
  packages/block-library/src/query-pagination-previous/index.php
  packages/block-library/src/search/index.php
  packages/block-library/src/search/view.js
  packages/e2e-tests/plugins/interactive-blocks/router-script-modules-wrapper/render.php
  packages/e2e-tests/plugins/interactive-blocks/router-styles-wrapper/render.php
  phpunit/blocks/render-query-test.php
Labels: [Package] Block library, [Package] E2E Tests

WIP
  packages/block-library/src/image/view.js
  packages/block-library/src/navigation/view.js
Labels: [Package] Block library

Block Transforms: Add metadata transformation
  packages/block-editor/src/hooks/custom-class-name.js
  packages/block-editor/src/hooks/metadata.js
  packages/block-editor/src/hooks/test/metadata.js
  packages/block-library/src/buttons/transforms.js
  packages/block-library/src/utils/get-transformed-attributes.js
Labels: [Package] Block editor, [Package] Block library

Add your own "Posts per page" setting to the templates. Update UI.
  packages/editor/src/components/posts-per-page/index.js
Labels: [Package] Editor

Add "Posts per page" setting to more templates.
  packages/editor/src/components/posts-per-page/index.js
Labels: [Package] Editor

Make templatePostsPerPage effective in the query.
  packages/block-library/src/query/edit/query-content.js
Labels: [Package] Block library

TS
  packages/core-data/src/entity-types/wp-template.ts
Labels: [Package] Core data

Fix e2e tests
  packages/block-library/src/buttons/transforms.js
  packages/block-library/src/code/transforms.js
Labels: [Package] Block library

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**
