Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

Fix React Hook dependency warnings in Navigation Submenu
  packages/block-library/src/navigation-submenu/edit.js
Labels: [Package] Block library

Add border-box
  packages/block-library/src/term-name/block.json
  packages/block-library/src/term-name/style.scss
Labels: [Package] Block library

Remove term from isLink render logic
  docs/reference-guides/core-blocks.md
  packages/block-library/src/term-name/edit.js
Labels: [Package] Block library

fetch attrs inside callback
  packages/block-library/src/navigation-submenu/edit.js
Labels: [Package] Block library

Add: Fit text/stretch text block supports and variation.
  docs/reference-guides/core-blocks.md
  lib/block-supports/typography.php
  packages/block-editor/package.json
  packages/block-editor/src/content.scss
  packages/block-editor/src/hooks/fit-text.js
  packages/block-editor/src/hooks/fit-text.scss
  packages/block-editor/src/hooks/index.js
  packages/block-editor/src/hooks/typography.js
  packages/block-editor/src/style.scss
  packages/block-editor/src/utils/fit-text-frontend.js
  packages/block-editor/src/utils/fit-text-utils.js
  packages/block-library/src/common.scss
  packages/block-library/src/heading/block.json
  packages/block-library/src/paragraph/block.json
  packages/block-library/src/paragraph/index.js
  packages/block-library/src/paragraph/variations.js
Labels: [Package] Block editor, [Package] Block library

simplification
  packages/block-editor/src/utils/fit-text-utils.js
Labels: [Package] Block editor

feedback round 2
  packages/block-editor/src/hooks/fit-text.js
  packages/block-editor/src/utils/fit-text-frontend.js
  packages/block-editor/src/utils/fit-text-utils.js
Labels: [Package] Block editor

feedback round 1
  lib/block-supports/typography.php
  packages/block-editor/src/hooks/fit-text.js
  packages/block-editor/src/utils/fit-text-frontend.js
  packages/block-editor/src/utils/fit-text-utils.js
Labels: [Package] Block editor

Improve calculation logic
  packages/block-editor/src/utils/fit-text-utils.js
Labels: [Package] Block editor

Make maximum stretching of font size of 600
  packages/block-editor/src/utils/fit-text-utils.js
Labels: [Package] Block editor

remove css duplication
  packages/block-editor/src/content.scss
  packages/block-editor/src/hooks/fit-text.scss
  packages/block-editor/src/style.scss
  packages/block-library/src/common.scss
Labels: [Package] Block editor, [Package] Block library

Update HTML element selector
  packages/block-library/src/term-name/edit.js
Labels: [Package] Block library

Update test to use steps
  test/e2e/specs/editor/blocks/navigation.spec.js
Labels: none

Remove usage of openedBy and rely on baseline tooling. Only handle focus on escape keypress
  packages/block-library/src/navigation-link/edit.js
Labels: [Package] Block library

Select parent block when creatign new navigation link
  packages/block-library/src/navigation-link/edit.js
Labels: [Package] Block library

Cleanup
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation-submenu/edit.js
Labels: [Package] Block library

If a new link is created, select the new link block after creation
  packages/block-library/src/navigation-link/edit.js
Labels: [Package] Block library

Apply changes to navigation-submenu also
  packages/block-library/src/navigation-submenu/edit.js
Labels: [Package] Block library

Only handle moving focus to new link if it's a new link
  packages/block-library/src/navigation-link/edit.js
Labels: [Package] Block library

Select parent submenu block if navigation link is within a submenu when creating a link
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation-submenu/edit.js
Labels: [Package] Block library

Remove isNewLink tracking. Send focus back to appender after new link created
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation-submenu/edit.js
Labels: [Package] Block library

Fix submenu navigation tests
  test/e2e/specs/editor/blocks/navigation.spec.js
Labels: none

Remove unnused escape key tracking
  packages/block-library/src/navigation-link/edit.js
Labels: [Package] Block library

Determine isNewLink by if it's selected on mount
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation-submenu/edit.js
Labels: [Package] Block library

Remove linting fixes for submenus as those are being resolved by #72098
  packages/block-library/src/navigation-submenu/edit.js
Labels: [Package] Block library

feedback application
  packages/block-editor/src/hooks/fit-text.js
  packages/block-editor/src/utils/fit-text-frontend.js
  packages/block-library/src/paragraph/variations.js
Labels: [Package] Block editor, [Package] Block library

Added Stretchy Heading variation.
  packages/block-library/src/heading/index.js
  packages/block-library/src/heading/variations.js
Labels: [Package] Block library

Increase delay between typing and text fitting
  packages/block-editor/src/hooks/fit-text.js
Labels: [Package] Block editor

fixtures update
  test/integration/fixtures/blocks/core__accordion-item.json
  test/integration/fixtures/blocks/core__accordion-panel.json
  test/integration/fixtures/blocks/core__accordion.json
Labels: none

more verbose comment about setting parent vs nested terms
  packages/block-library/src/term-template/edit.js
Labels: [Package] Block library

Revert changes to edit component
  packages/block-library/src/terms-query/edit/index.js
Labels: [Package] Block library

add inherit=false to default termQuery
  packages/block-library/src/terms-query/block.json
Labels: [Package] Block library

simplify current_term_id conditional
  packages/block-library/src/term-template/index.php
Labels: [Package] Block library

Build: Replace webpack bundling with esbuild for packages marked as v2
  bin/packages/build-v2.mjs
  bin/packages/build-worker-esbuild.mjs
  bin/packages/build-worker.js
  bin/packages/v2-packages.js
  package.json
  tools/webpack/packages.js
Labels: none

Update post-data.js
  packages/editor/src/bindings/post-data.js
Labels: [Package] Editor

Merge the two files and simplify
  bin/packages/build-v2.mjs
  bin/packages/build-worker-esbuild.mjs
Labels: none

Select parent navigation block when creating new navigation link
  packages/block-library/src/navigation-link/edit.js
Labels: [Package] Block library

Update post-data.js
  packages/editor/src/bindings/post-data.js
Labels: [Package] Editor

Remove openedBy tracking from navigation submenu
  packages/block-library/src/navigation-submenu/edit.js
Labels: [Package] Block library

Update navigation tests to match new flow
  test/e2e/specs/editor/blocks/navigation.spec.js
Labels: none
