Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

Improve comments
  packages/block-library/src/navigation-link/use-is-invalid-link.js
Labels: [Package] Block library

Handle async resolution of entities
  packages/block-library/src/navigation-link/test/use-is-invalid-link.js
  packages/block-library/src/navigation-link/use-is-invalid-link.js
Labels: [Package] Block library

Treat missing post entities as invalid not just trashed
  packages/block-library/src/navigation-link/test/use-is-invalid-link.js
  packages/block-library/src/navigation-link/use-is-invalid-link.js
Labels: [Package] Block library

Correctly load controller
  lib/load.php
Labels: none

Share functionality with Submenu block
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation-link/shared/index.js
  packages/block-library/src/navigation-link/shared/test/use-is-invalid-link.js
  packages/block-library/src/navigation-link/shared/use-is-invalid-link.js
  packages/block-library/src/navigation-submenu/edit.js
Labels: [Package] Block library

Revert "Notes: Backport REST API changes in core (#72554)"
  lib/compat/wordpress-6.9/class-gutenberg-rest-comment-controller.php
  lib/load.php
  phpunit/experimental/rest-api-comment-permissions-test.php
Labels: none

Add end to end tests for Fit Text (#72406)
  test/e2e/specs/editor/blocks/fit-text.spec.js
Labels: none

Update: Disable font size when fit text is enabled and the opposite. (#72533)
  packages/block-editor/src/hooks/fit-text.js
  packages/block-editor/src/hooks/typography.js
  test/e2e/specs/editor/blocks/fit-text.spec.js
Labels: [Package] Block editor

fix padding
  packages/dataviews/src/dataform-layouts/card/index.tsx
Labels: none

Add back const that was lost during rebase
  packages/editor/src/bindings/post-data.js
Labels: [Package] Editor

add: Missing JSON Schema for blocks.
  schemas/json/theme.json
Labels: none

iAPI: Don't use deprecated data-wp-on-sync in docs
  docs/reference-guides/interactivity-api/core-concepts/server-side-rendering.md
  docs/reference-guides/interactivity-api/core-concepts/undestanding-global-state-local-context-and-derived-state.md
Labels: none

Bump plugin version to 21.9.0
  gutenberg.php
  package-lock.json
  package.json
Labels: none

Check for RichText bindings from context instead of new subscription
  packages/block-editor/src/components/rich-text/index.js
Labels: [Package] Block editor

ComboboxControl: Show reset button only when there is a value
  packages/components/CHANGELOG.md
  packages/components/src/combobox-control/index.tsx
Labels: [Package] Components

Update Changelog for 21.9.0
  changelog.txt
Labels: none

Fix reset button tests.
  packages/components/src/combobox-control/test/index.tsx
Labels: [Package] Components

Add tests for the reset button when value is not set and when allowReset is false.
  packages/components/src/combobox-control/test/index.tsx
Labels: [Package] Components

Update: Label of "Move to trash" action to "Trash".
  packages/dataviews/README.md
  packages/fields/src/actions/trash-post.tsx
Labels: none

revert add-comments changes
  packages/editor/src/components/collab-sidebar/add-comment.js
Labels: [Package] Editor

Remove primary action buttons on mobile
  packages/dataviews/src/components/dataviews-item-actions/index.tsx
Labels: none

Update breakping
  packages/dataviews/src/components/dataviews-item-actions/index.tsx
Labels: none

try: add comment in floating thread
  packages/editor/src/components/collab-sidebar/add-comment.js
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

feat (block-library): adds caption position option to the Table block
  docs/reference-guides/core-blocks.md
  packages/block-library/src/table/block.json
  packages/block-library/src/table/deprecated.js
  packages/block-library/src/table/edit.js
  packages/block-library/src/table/save.js
  packages/block-library/src/table/style.scss
Labels: [Package] Block library

feat (block-library): adds scope attribute to table header cells
  packages/block-library/src/table/state.js
  packages/block-library/src/table/transforms.js
Labels: [Package] Block library

Try adding attributes to private block context
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-title/use-block-display-title.js
  packages/block-editor/src/components/use-block-display-information/index.js
Labels: [Package] Block editor

Ensure new comment inserted in correct thread index
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Build: Auto-register script modules
  bin/packages/build.mjs
  bin/packages/templates/module-registration.php
  bin/packages/templates/module-registry.php
  lib/client-assets.php
  lib/load.php
  package.json
Labels: none

Update changelog link with PR reference.
  packages/components/CHANGELOG.md
Labels: [Package] Components

Try adding blockType to context to improve performance
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-title/test/index.js
  packages/block-editor/src/components/block-title/use-block-display-title.js
  packages/block-editor/src/components/use-block-display-information/index.js
Labels: [Package] Block editor

Rename templates to .php.template
  bin/packages/build.mjs
  bin/packages/templates/module-registration.php.template
  bin/packages/templates/module-registry.php.template
Labels: none

Fix build
  packages/global-styles-ui/src/global-styles-ui.tsx
Labels: none

Move unit tests to the new package
  packages/global-styles-ui/src/test/shadow-utils.spec.js
  packages/global-styles-ui/src/test/utils.spec.js
Labels: none

Format files
  packages/block-library/src/accordion-item/block.json
  packages/global-styles-ui/src/color-palette-panel.tsx
  packages/global-styles-ui/src/confirm-reset-shadow-dialog.tsx
  packages/global-styles-ui/src/font-families.tsx
  packages/global-styles-ui/src/font-family-item.tsx
  packages/global-styles-ui/src/font-library-modal/installed-fonts.tsx
  packages/global-styles-ui/src/font-library-modal/utils/constants.ts
  packages/global-styles-ui/src/font-sizes/confirm-reset-font-sizes-dialog.tsx
  packages/global-styles-ui/src/font-sizes/font-sizes.tsx
  packages/global-styles-ui/src/hooks.ts
  packages/global-styles-ui/src/palette.tsx
  packages/global-styles-ui/src/root-menu.tsx
  packages/global-styles-ui/src/screen-block-list.tsx
  packages/global-styles-ui/src/screen-colors.tsx
  packages/global-styles-ui/src/screen-css.tsx
  packages/global-styles-ui/src/screen-header.tsx
  packages/global-styles-ui/src/screen-layout.tsx
  packages/global-styles-ui/src/screen-root.tsx
  packages/global-styles-ui/src/screen-style-variations.tsx
  packages/global-styles-ui/src/shadows-edit-panel.tsx
  packages/global-styles-ui/src/typography-variations.tsx
  packages/interactivity-router/tsconfig.json
Labels: [Package] Block library

Changes made as asked
  packages/block-editor/src/hooks/fit-text.js
Labels: [Package] Block editor

Update build to use versioned WordPress globals
  bin/packages/build.mjs
  lib/client-assets.php
Labels: none

Fix storybook build
  packages/global-styles-ui/src/stories/index.story.js
  storybook/main.js
Labels: none

Fix docs build
  docs/manifest.json
Labels: none

Bring back latest updates to global-styles-ui
  packages/global-styles-ui/src/font-library-modal/context.tsx
  packages/global-styles-ui/src/font-library-modal/style.scss
  packages/global-styles-ui/src/screen-root.tsx
  packages/global-styles-ui/src/style.scss
Labels: none

fix the font declaration
  packages/block-library/src/editor.scss
  packages/block-library/src/math/edit.js
  packages/block-library/src/math/editor.scss
Labels: [Package] Block library

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**
