Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

Site editor: remove "default" admin CSS (#66431)
  backport-changelog/6.8/7642.md
  lib/compat/wordpress-6.8/remove-default-css.php
  lib/load.php
Labels: none

Add backport
  backport-changelog/6.8/7643.md
Labels: none

Added color support for spacer block
  docs/reference-guides/core-blocks.md
  packages/block-library/src/spacer/block.json
Labels: [Package] Block library

Add --targetDir flag to allow targeting a directory where to scaffold the plugin/files.
  packages/create-block/lib/index.js
  packages/create-block/lib/init-block.js
  packages/create-block/lib/init-package-json.js
  packages/create-block/lib/init-wp-scripts.js
  packages/create-block/lib/output.js
  packages/create-block/lib/scaffold.js
  packages/create-block/lib/templates.js
Labels: [Package] Create Block

Not using the targetDir when in --no-plugin mode
  packages/create-block/lib/init-block.js
Labels: [Package] Create Block

Change the name of the flag to match others and update changelog.
  packages/create-block/CHANGELOG.md
  packages/create-block/lib/index.js
Labels: [Package] Create Block

Use a proper debounce and take into account the multiple query blocks
  packages/block-library/src/post-template/index.php
  packages/block-library/src/search/index.php
  packages/block-library/src/search/view.js
Labels: [Package] Block library

simplify how we enqueue search/view module
  packages/block-library/src/search/index.php
Labels: [Package] Block library

WIP commit.
  packages/create-block/lib/scaffold.js
Labels: [Package] Create Block

Annotate
  lib/block-template-utils.php
Labels: none

Use assets dir instead
  lib/block-template-utils.php
Labels: none

$is_assets_folder_created is superfluous thanks to `$zip->locateName`
  lib/block-template-utils.php
Labels: none

Revert "Add the has-modal-open to the editor reproducing the same behavior of the frontend"
  packages/block-library/src/navigation/edit/index.js
Labels: [Package] Block library

The linter of DOOM
  lib/block-template-utils.php
Labels: none

Search: Replace ButtonGroup usage with ToggleGroupControl (#65340)
  packages/block-library/src/search/edit.js
Labels: [Package] Block library

Add logic to generate the paths for the root and block files in one place.
  packages/create-block/lib/scaffold.js
Labels: [Package] Create Block

Add a new parameter to allow passing the path once rather than generating it in the function.
  packages/create-block/lib/output.js
Labels: [Package] Create Block

Modify the other functions to use the generated paths.
  packages/create-block/lib/init-block.js
  packages/create-block/lib/init-package-json.js
  packages/create-block/lib/init-wp-env.js
  packages/create-block/lib/init-wp-scripts.js
Labels: [Package] Create Block

Update the command description.
  packages/create-block/lib/index.js
Labels: [Package] Create Block

Activate zoom out only on large viewport
  packages/block-editor/src/hooks/use-zoom-out.js
Labels: [Package] Block editor

Remove viewport check from useZoomOut hook
  packages/block-editor/src/components/inserter/menu.js
  packages/block-editor/src/hooks/use-zoom-out.js
Labels: [Package] Block editor

Simplify `useViewportMatch` hook
  packages/block-editor/src/components/inserter/menu.js
Labels: [Package] Block editor

Fix lint error
  packages/block-editor/src/components/inner-blocks/index.js
Labels: [Package] Block editor

Update wp-env readme for https
  packages/env/README.md
Labels: [Package] Env

Update bin/api-docs/gen-theme-reference.mjs
  bin/api-docs/gen-theme-reference.mjs
Labels: none

add With Component Labels story
  packages/components/src/radio-control/stories/index.story.tsx
Labels: [Package] Components

radio control label accepts ReactNode type
  packages/components/src/radio-control/types.ts
Labels: [Package] Components

Update packages/components/src/radio-control/types.ts
  packages/components/src/radio-control/types.ts
Labels: [Package] Components

update radio control Readme doc
  packages/components/src/radio-control/README.md
Labels: [Package] Components

add title to story labels
  packages/components/src/radio-control/stories/index.story.tsx
Labels: [Package] Components

Update packages/components/src/radio-control/README.md
  packages/components/src/radio-control/README.md
Labels: [Package] Components

improve the label TS type definition
  packages/components/src/radio-control/types.ts
Labels: [Package] Components

simplify RadioControl with component label story
  packages/components/src/radio-control/stories/index.story.tsx
Labels: [Package] Components

Update packages/components/src/radio-control/README.md
  packages/components/src/radio-control/README.md
Labels: [Package] Components

Update packages/components/src/radio-control/types.ts
  packages/components/src/radio-control/types.ts
Labels: [Package] Components

Filter on has_archive rather than fickle presence of archive_link
  packages/core-data/src/fetch/__experimental-fetch-link-suggestions.ts
Labels: [Package] Core data

DataViews Grid: Try a titleless grid with actions available on hover
  packages/dataviews/src/components/dataviews/stories/fixtures.tsx
  packages/dataviews/src/components/dataviews/stories/index.story.tsx
  packages/dataviews/src/dataviews-layouts/grid/index.tsx
  packages/dataviews/src/dataviews-layouts/grid/style.scss
  packages/fields/src/fields/title/index.ts
Labels: none

Add changelog entry
  packages/dataviews/CHANGELOG.md
Labels: none

Remove custom story
  packages/dataviews/src/components/dataviews/stories/index.story.tsx
Labels: none

Don't force show actions when grid card is selected
  packages/dataviews/src/dataviews-layouts/grid/style.scss
Labels: none
