Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

Remove `Post Content` in Query Loop
  phpunit/blocks/render-query-test.php
Labels: none

Use pseudo link
  packages/block-library/src/term-name/edit.js
Labels: [Package] Block library

Fix other unit test
  phpunit/blocks/render-query-test.php
Labels: none

Remove unit test
  phpunit/blocks/render-query-test.php
Labels: none

Update changelog
  packages/block-library/CHANGELOG.md
Labels: [Package] Block library

Allow block to be used outside of terms query
  packages/block-library/src/term-name/edit.js
  packages/block-library/src/term-name/index.php
  packages/block-library/src/term-name/use-term-name.js
Labels: [Package] Block library

some e2e test fixes using exactmatch on a selector
  test/e2e/specs/editor/blocks/details.spec.js
  test/e2e/specs/editor/blocks/list.spec.js
  test/e2e/specs/editor/plugins/allowed-blocks.spec.js
  test/e2e/specs/editor/plugins/block-variations.spec.js
  test/e2e/specs/editor/plugins/post-type-locking.spec.js
  test/e2e/specs/editor/various/block-hierarchy-navigation.spec.js
  test/e2e/specs/editor/various/block-switcher.spec.js
  test/e2e/specs/editor/various/inserting-blocks.spec.js
  test/e2e/specs/editor/various/list-view.spec.js
  test/e2e/specs/editor/various/navigable-toolbar.spec.js
  test/e2e/specs/site-editor/template-part.spec.js
  test/e2e/specs/widgets/editing-widgets.spec.js
Labels: none

Navigation Link: Fix custom links creating empty block bindings
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation-link/shared/test/update-attributes.test.js
  packages/block-library/src/navigation-link/shared/update-attributes.js
  packages/block-library/src/navigation-submenu/edit.js
Labels: [Package] Block library

Remove apply_filters
  packages/block-library/src/term-name/index.php
Labels: [Package] Block library

Fix meta query
  lib/compat/wordpress-6.9/template-activate.php
Labels: none

Template activation: add meta to all newly created templates
  lib/compat/wordpress-6.9/template-activate.php
Labels: none

Build Tool: Move all simple packages to v2
  bin/packages/build-v2.mjs
  bin/packages/v2-packages.js
  package-lock.json
  packages/api-fetch/package.json
  packages/autop/package.json
  packages/blob/package.json
  packages/block-serialization-default-parser/package.json
  packages/deprecated/package.json
  packages/dom-ready/package.json
  packages/escape-html/package.json
  packages/html-entities/package.json
  packages/i18n/package.json
  packages/is-shallow-equal/package.json
  packages/jest-console/package.json
  packages/jest-puppeteer-axe/package.json
  packages/priority-queue/package.json
  packages/private-apis/package.json
  packages/redux-routine/package.json
  packages/report-flaky-tests/package.json
  packages/server-side-render/package.json
  packages/shortcode/package.json
  packages/style-engine/package.json
  packages/token-list/package.json
  packages/url/package.json
  packages/warning/package.json
  packages/wordcount/package.json
  tools/webpack/packages.js
Labels: [Package] API fetch, [Package] Autop, [Package] Blob, [Package] Deprecated, [Package] DOM ready, [Package] Escape HTML, [Package] HTML entities, [Package] i18n, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest Puppeteer aXe, [Package] Priority Queue, [Package] Private APIs, [Package] Redux Routine, [Package] Server Side Render, [Package] Style Engine, [Package] Token List, [Package] Url, [Package] Warning, [Package] Word count

backport log
  backport-changelog/6.9/8063.md
Labels: none

Fix changelog example to match standard format
  packages/README.md
Labels: none

additional e2e fixes
  test/e2e/specs/editor/plugins/block-variations.spec.js
  test/e2e/specs/site-editor/template-part.spec.js
  test/e2e/specs/widgets/editing-widgets.spec.js
Labels: none

Fix: Use isEntityLink metadata for binding decisions in Navigation blocks
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation/edit/menu-inspector-controls.js
Labels: [Package] Block library

e2e fixes
  test/e2e/specs/editor/plugins/block-variations.spec.js
  test/e2e/specs/editor/plugins/child-blocks.spec.js
  test/e2e/specs/editor/plugins/inner-blocks-allowed-blocks.spec.js
  test/e2e/specs/editor/various/autocomplete-and-mentions.spec.js
  test/e2e/specs/editor/various/block-visibility.spec.js
  test/e2e/specs/editor/various/inserting-blocks.spec.js
  test/e2e/specs/site-editor/template-part.spec.js
Labels: none

Adjust checks
  lib/experimental/class-gutenberg-rest-comment-controller.php
Labels: none

Bootstrap block comments experiment
  phpunit/bootstrap.php
Labels: none

Block Comments: Update REST API permissions for this type
  lib/experimental/class-gutenberg-rest-comment-controller.php
Labels: none

Basic unit test coverage
  phpunit/experimental/rest-api-comment-permissions-test.php
Labels: none

Add missing text domains
  lib/experimental/class-gutenberg-rest-comment-controller.php
Labels: none

Use better naming
  phpunit/experimental/rest-api-comment-permissions-test.php
Labels: none

Check edit permissions for individual posts
  lib/experimental/class-gutenberg-rest-comment-controller.php
Labels: none

WPCS
  lib/experimental/class-gutenberg-rest-comment-controller.php
  phpunit/experimental/rest-api-comment-permissions-test.php
Labels: none

Edit context permission tests
  phpunit/experimental/rest-api-comment-permissions-test.php
Labels: none

Add more tests and fix contributor case
  lib/experimental/class-gutenberg-rest-comment-controller.php
  phpunit/experimental/rest-api-comment-permissions-test.php
Labels: none

remove unrequired changes
  packages/dataviews/src/dataform-controls/date.tsx
  packages/dataviews/src/stories/dataform.story.tsx
Labels: none

revert range
  packages/dataviews/src/dataform-controls/date.tsx
Labels: none

working for single date
  packages/dataviews/src/dataform-controls/date.tsx
  packages/dataviews/src/dataform-controls/date.tsx.backup
Labels: none

working
  packages/dataviews/src/dataform-controls/date.tsx
  packages/dataviews/src/stories/dataform.story.tsx
Labels: none

remove temporary file
  packages/dataviews/src/dataform-controls/date.tsx.backup
Labels: none

use effect on both
  packages/dataviews/src/dataform-controls/date.tsx
Labels: none

revert
  packages/dataviews/src/dataform-controls/date.tsx
Labels: none

working validation on single and range
  packages/dataviews/src/dataform-controls/date.tsx
Labels: none

use effect on both
  packages/dataviews/src/dataform-controls/date.tsx
Labels: none

in progress
  packages/dataviews/src/dataform-controls/date.tsx
Labels: none

simplification and duplication removal
  packages/dataviews/src/dataform-controls/date.tsx
Labels: none

CalendarDateRangeControl: take DataFormControlProps as input
  packages/dataviews/src/dataform-controls/date.tsx
Labels: none

fix codepath return bug
  packages/dataviews/src/dataform-controls/date.tsx
Labels: none

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**
