Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

Attempt to solve the Static Analysis problem
  packages/editor/src/components/posts-per-page/index.js
Labels: [Package] Editor

ove AddComment from index to Comments so it can float
  packages/editor/src/components/collab-sidebar/add-comment.js
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Package] Editor

Fix. Failure.
  packages/block-library/src/query/edit/query-content.js
  packages/editor/src/components/posts-per-page/index.js
Labels: [Package] Block library, [Package] Editor

Output combined stylesheet
  bin/packages/build.mjs
Labels: none

Fix. Failure.
  packages/editor/src/components/posts-per-page/index.js
Labels: [Package] Editor

Button: Pin font weight for `link` variant
  packages/components/src/button/style.scss
Labels: [Package] Components

Move changelog
  packages/components/CHANGELOG.md
Labels: [Package] Components

Move changelog
  packages/components/CHANGELOG.md
Labels: [Package] Components

Update values in Sass files
  packages/block-directory/src/components/compact-list/style.scss
  packages/block-editor/src/components/block-card/style.scss
  packages/block-editor/src/components/block-navigation/style.scss
  packages/block-editor/src/components/block-switcher/style.scss
  packages/block-editor/src/components/inserter/style.scss
  packages/block-editor/src/components/multi-selection-inspector/style.scss
  packages/block-library/src/navigation-link/editor.scss
  packages/block-library/src/video/editor.scss
  packages/components/src/button/style.scss
  packages/components/src/menu-group/style.scss
  packages/components/src/panel/style.scss
  packages/dataviews/src/components/dataviews-bulk-actions/style.scss
  packages/dataviews/src/components/dataviews-filters/style.scss
  packages/dataviews/src/components/dataviews-pagination/style.scss
  packages/dataviews/src/components/dataviews/style.scss
  packages/dataviews/src/dataviews-layouts/table/style.scss
  packages/edit-site/src/components/global-styles-sidebar/style.scss
  packages/edit-site/src/components/global-styles/font-library-modal/style.scss
  packages/edit-site/src/components/global-styles/style.scss
  packages/edit-site/src/components/sidebar-navigation-screen-patterns/style.scss
  packages/edit-site/src/components/sidebar-navigation-screen/style.scss
  packages/edit-site/src/components/site-hub/style.scss
  packages/editor/src/components/collab-sidebar/style.scss
  packages/editor/src/components/editor-help/style.scss
  packages/editor/src/components/post-last-revision/style.scss
  packages/editor/src/components/post-publish-panel/style.scss
  packages/interface/src/components/complementary-area/style.scss
  packages/widgets/src/blocks/legacy-widget/editor.scss
Labels: [Package] Block editor, [Package] Block library, [Package] Components, [Package] Edit Site, [Package] Editor, [Package] Interface

Update values in emotion styles
  packages/components/src/color-palette/styles.ts
  packages/components/src/palette-edit/styles.ts
  packages/components/src/tools-panel/styles.ts
  packages/components/src/utils/base-label.ts
  packages/components/src/utils/config-values.js
Labels: [Package] Components

Base styles: Tweak `font-weight-medium` value
  packages/base-styles/_variables.scss
Labels: [Package] Base styles

Remove content only settings menu items
  packages/editor/src/components/block-settings-menu/content-only-settings-menu.js
  packages/editor/src/components/block-settings-menu/content-only-settings-menu.native.js
  packages/editor/src/components/provider/index.js
Labels: [Package] Editor

Move backport to 7.0 because it was punted to future release
  backport-changelog/7.0/8014.md
Labels: none

Add changelogs
  packages/base-styles/CHANGELOG.md
  packages/components/CHANGELOG.md
Labels: [Package] Base styles, [Package] Components

Add changelog for DataViews
  packages/dataviews/CHANGELOG.md
Labels: none

Update snapshots
  packages/block-editor/src/components/color-palette/test/__snapshots__/control.js.snap
  packages/components/src/dimension-control/test/__snapshots__/index.test.js.snap
  packages/components/src/toggle-group-control/test/__snapshots__/index.tsx.snap
  packages/editor/src/components/post-publish-panel/test/__snapshots__/index.js.snap
Labels: [Package] Block editor, [Package] Components, [Package] Editor

Fix global styles font size preset selection
  packages/block-editor/src/components/global-styles/typography-panel.js
Labels: [Package] Block editor

Button: Ensure that icons don't shrink
  packages/components/src/button/style.scss
Labels: [Package] Components

Add changelog
  packages/components/CHANGELOG.md
Labels: [Package] Components

Use useMemo for selectedOption constant
  packages/components/src/font-size-picker/font-size-picker-select.tsx
Labels: [Package] Components

Enqueue non-minified JS files when SCRIPT_DEBUG is enabled
  lib/client-assets.php
Labels: none

improve styles
  packages/dataviews/src/components/dataviews-item-actions/index.tsx
  packages/dataviews/src/components/dataviews-item-actions/style.scss
Labels: none

initial
  packages/dataviews/src/components/dataviews-item-actions/index.tsx
  packages/dataviews/src/dataviews-layouts/list/index.tsx
Labels: none

spacing enhacement
  packages/dataviews/src/components/dataviews-item-actions/style.scss
Labels: none

not tottaly broken styles
  packages/dataviews/src/components/dataviews-item-actions/style.scss
  packages/dataviews/src/dataviews-layouts/table/style.scss
Labels: none

Action styling
  packages/dataviews/src/components/dataviews-item-actions/index.tsx
  packages/dataviews/src/components/dataviews-item-actions/style.scss
Labels: none

updte end to end test
  test/e2e/specs/site-editor/dataviews-list-layout-keyboard.spec.js
Labels: none

add changelog
  packages/dataviews/CHANGELOG.md
Labels: none

fix changelog
  packages/dataviews/CHANGELOG.md
Labels: none

Post Date: Add block deprecation to change source arg to field
  packages/block-library/src/post-date/deprecated.js
  test/integration/fixtures/blocks/core__post-date__deprecated-v3.html
  test/integration/fixtures/blocks/core__post-date__deprecated-v3.json
  test/integration/fixtures/blocks/core__post-date__deprecated-v3.parsed.json
  test/integration/fixtures/blocks/core__post-date__deprecated-v3.serialized.html
Labels: [Package] Block library

Add explanatory comment
  packages/block-library/src/post-date/deprecated.js
Labels: [Package] Block library

Cast to bool
  packages/block-library/src/post-date/deprecated.js
Labels: [Package] Block library

Add unit tests for font size picker changes
  packages/components/src/font-size-picker/index.tsx
  packages/components/src/font-size-picker/test/font-size-picker-select.tsx
  packages/components/src/font-size-picker/test/font-size-picker-toggle-group.tsx
  packages/components/src/font-size-picker/test/index.tsx
Labels: [Package] Components

Notes: Don't render 'no results' message for floating sidebar
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Editor

Add comment for better clarification
  lib/client-assets.php
Labels: none

Storybook: Fix `dev` script
  .gitignore
  bin/dev.mjs
  package-lock.json
  package.json
Labels: none

Fix focus loss on unsync and edit from navigation link inspector
  packages/block-library/src/navigation-link/shared/controls.js
Labels: [Package] Block library

Update test to match new behavior
  test/e2e/specs/editor/blocks/navigation.spec.js
Labels: none

Fix unit tests
  packages/block-library/src/navigation-link/shared/test/controls.js
Labels: [Package] Block library

Fix empty url value from unbinding entity from inspector sidebar
  packages/block-library/src/navigation-link/shared/controls.js
Labels: [Package] Block library

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**
