Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

Tweak Plugin
  packages/e2e-tests/plugins/pretty-permalinks.php
Labels: [Package] E2E Tests

Simplify test plugin
  packages/e2e-tests/plugins/gutenberg-test-pretty-permalinks.php
Labels: [Package] E2E Tests

e2e(Navigation): enable pretty permalinks only for Navigation Link Entity bindings via temporary plugin; activate in beforeAll/deactivate in afterAll; remove debug logs
  packages/e2e-tests/plugins/gutenberg-test-pretty-permalinks.php
  test/e2e/specs/editor/blocks/navigation.spec.js
Labels: [Package] E2E Tests

Add Link UI tests for entity-bound navigation links and refactor with test.step()
  test/e2e/specs/editor/blocks/navigation.spec.js
Labels: none

Reduce timeout
  test/e2e/specs/editor/blocks/navigation.spec.js
Labels: none

Fix pretty permalinks for navigation link binding test
  packages/e2e-tests/plugins/pretty-permalinks.php
  test/e2e/specs/editor/blocks/navigation.spec.js
Labels: [Package] E2E Tests

Improve comment explanation
  test/e2e/specs/editor/blocks/navigation.spec.js
Labels: none

Quick test
  packages/block-library/src/navigation-link/edit.js
Labels: [Package] Block library

Update plugin file name
  packages/e2e-tests/plugins/pretty-permalinks.php
Labels: [Package] E2E Tests

Add tests
  packages/core-data/src/test/resolvers.js
Labels: [Package] Core data

Rename the test
  packages/core-data/src/test/resolvers.js
Labels: [Package] Core data

Reword comments
  packages/core-data/src/test/resolvers.js
Labels: [Package] Core data

Use a different entity for the tests
  packages/core-data/src/test/resolvers.js
Labels: [Package] Core data

Fix php unit tests
  phpunit/script-dependencies-test.php
Labels: none

Revert "Quick test"
  packages/block-library/src/navigation-link/edit.js
Labels: [Package] Block library

Remove not needed comment
  packages/block-editor/src/hooks/block-bindings.js
Labels: [Package] Block editor

Clean comments
  packages/block-editor/src/hooks/block-bindings.js
Labels: [Package] Block editor

Change permalink update method
  packages/e2e-tests/plugins/pretty-permalinks.php
Labels: [Package] E2E Tests

Fix zoom-out: use position:relative
  packages/block-editor/src/components/block-list/use-block-props/use-selected-block-event-handlers.js
Labels: [Package] Block editor

Drag and drop: for direct drag, move block instead (no drag chip)
  packages/block-editor/src/components/block-draggable/content.scss
  packages/block-editor/src/components/block-list/use-block-props/use-selected-block-event-handlers.js
Labels: [Package] Block editor

Address feedback
  packages/block-editor/src/components/block-list/content.scss
  packages/block-editor/src/components/block-list/use-block-props/use-selected-block-event-handlers.js
Labels: [Package] Block editor

Remove obsolete rules
  packages/block-editor/src/components/block-list/content.scss
Labels: [Package] Block editor

Provide cursor feedback on what is draggable
  packages/block-editor/src/components/block-list/content.scss
Labels: [Package] Block editor

Reset styles on drag end
  packages/block-editor/src/components/block-list/use-block-props/use-selected-block-event-handlers.js
Labels: [Package] Block editor

Add test to ensure permalink slug updates
  packages/e2e-tests/plugins/pretty-permalinks.php
  test/e2e/specs/editor/blocks/navigation.spec.js
Labels: [Package] E2E Tests

Remove ts extensions
  packages/theme/scripts/generate-primitive-tokens/index.ts
  packages/theme/scripts/terrazzo-plugin-figma-ds-token-manager/index.ts
  packages/theme/src/color-ramps/index.ts
  packages/theme/src/color-ramps/lib/constants.ts
  packages/theme/src/color-ramps/lib/find-color-with-constraints.ts
  packages/theme/src/color-ramps/lib/index.ts
  packages/theme/src/color-ramps/lib/ramp-configs.ts
  packages/theme/src/color-ramps/lib/utils.ts
  packages/theme/terrazzo.config.ts
  packages/theme/tsconfig.json
Labels: none

Handle CSS modules
  bin/packages/build-v2.mjs
  package-lock.json
  package.json
  packages/theme/package.json
Labels: none

Fix bg color issue
  packages/block-editor/src/components/block-list/use-block-props/use-selected-block-event-handlers.js
Labels: [Package] Block editor

Update package lock
  package-lock.json
Labels: none

Make modal private
  package-lock.json
  packages/fields/src/fields/featured-image/featured-image-edit.tsx
  packages/media-utils/CHANGELOG.md
  packages/media-utils/README.md
  packages/media-utils/src/components/index.js
  packages/media-utils/src/private-apis.ts
Labels: [Package] Media Utils

Improve modal style
  packages/media-utils/src/components/media-upload-modal/index.tsx
Labels: [Package] Media Utils

Try using DataViewsPicker in an updated media modal
  packages/fields/src/fields/featured-image/featured-image-edit.tsx
  packages/media-utils/CHANGELOG.md
  packages/media-utils/README.md
  packages/media-utils/package.json
  packages/media-utils/src/components/index.js
  packages/media-utils/src/components/media-upload-modal/index.tsx
Labels: [Package] Media Utils

try nesting things inside other things to see if they break
  packages/editor/src/dataviews/fields/content-preview/content-preview-view.tsx
  packages/editor/src/hooks/media-upload.js
  packages/fields/src/fields/featured-image/featured-image-edit.tsx
  packages/media-utils/src/components/media-upload-modal/index.tsx
Labels: [Package] Editor, [Package] Media Utils

revert type change
  packages/editor/src/dataviews/fields/content-preview/content-preview-view.tsx
Labels: [Package] Editor

Update PHP docblock
  packages/block-library/src/post-time-to-read/index.php
Labels: [Package] Block library

Icons: Make tracked file checker work in more environments
  packages/icons/lib/generate-library.js
Labels: [Package] Icons

Allow public documentation
  docs/manifest.json
  docs/tool/manifest.js
Labels: none

For grid layouts, wrap title field in a span so that text overflow ellipsis works. text-overflow: ellipsis only works on block containers, not flex containers.
  packages/dataviews/src/dataviews-layouts/grid/index.tsx
  packages/dataviews/src/dataviews-layouts/grid/style.scss
  packages/dataviews/src/stories/dataviews.fixtures.tsx
Labels: none

Refactor title field in grid and picker layouts to improve text overflow handling by wrapping in a span. Update styles to ensure ellipsis works correctly for flex containers.
  packages/dataviews/src/dataviews-layouts/grid/index.tsx
  packages/dataviews/src/dataviews-layouts/grid/style.scss
  packages/dataviews/src/dataviews-layouts/picker-grid/index.tsx
  packages/dataviews/src/dataviews-layouts/picker-grid/style.scss
Labels: none

Editor: Don't use deprecated '__experimentalGetDefaultTemplateType' selector
  packages/editor/src/components/post-excerpt/panel.js
Labels: [Package] Editor
