Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**

Show shuffle styles for any section in any mode
  packages/block-editor/src/components/block-toolbar/index.js
Labels: [Package] Block editor

Hide transforms for sections when experiment is active
  packages/block-editor/src/components/block-switcher/index.js
Labels: [Package] Block editor

Guard behind an experiment
  lib/experimental/editor-settings.php
  lib/experiments-page.php
  packages/block-editor/src/store/private-selectors.js
  packages/block-editor/src/store/reducer.js
Labels: [Package] Block editor

Fix failing test by adding some back compat
  packages/block-editor/src/store/reducer.js
Labels: [Package] Block editor

Insert parsed patterns via the slash inserter
  packages/block-editor/src/autocompleters/block.js
  packages/block-editor/src/store/private-selectors.js
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/utils.js
Labels: [Package] Block editor

Update derived block editing modes to support content only template locking
  packages/block-editor/src/store/test/private-selectors.js
Labels: [Package] Block editor

Combine select calls
  packages/block-editor/src/components/block-variation-transforms/index.js
Labels: [Package] Block editor

Fix `getEnabledBlockParents` test
  packages/block-editor/src/store/test/private-selectors.js
Labels: [Package] Block editor

Use experiment flag for a couple of changes
  packages/block-editor/src/components/block-toolbar/index.js
  packages/block-editor/src/components/block-variation-transforms/index.js
Labels: [Package] Block editor

Make unsynced patterns contentOnly by default
  packages/block-editor/src/store/reducer.js
Labels: [Package] Block editor

Boilerplate
  packages/block-editor/src/components/content-only-controls/index.js
  packages/block-library/src/heading/block.json
  packages/block-library/src/paragraph/block.json
Labels: [Package] Block editor, [Package] Block library

Fixes
  packages/block-editor/src/components/block-inspector/index.js
  packages/block-editor/src/components/content-only-controls/index.js
Labels: [Package] Block editor

v1
  packages/block-editor/src/components/content-only-controls/index.js
  packages/block-library/src/heading/block.json
Labels: [Package] Block editor, [Package] Block library

Small improvements: - Pass paneId to tools panel items so that reset works. - set shownByDefault consistently.
  packages/block-editor/src/components/content-only-controls/index.js
  packages/block-library/src/paragraph/block.json
Labels: [Package] Block editor, [Package] Block library

add documentation
  packages/dataviews/CHANGELOG.md
  packages/dataviews/README.md
Labels: none

Add block icon
  packages/block-editor/src/components/content-only-controls/index.js
Labels: [Package] Block editor

Remove forward ref functionality
  packages/components/src/form-token-field/index.tsx
  packages/components/src/validated-form-controls/components/form-token-field.tsx
Labels: [Package] Components

Bump plugin version to 21.6.0
  gutenberg.php
  package-lock.json
  package.json
Labels: none

Add forwardedRef to div
  packages/components/src/validated-form-controls/components/form-token-field.tsx
Labels: [Package] Components

Update Changelog for 21.6.0
  changelog.txt
Labels: none

DataForm: Sort day, month, and year of DateTime control according to locale
  packages/dataviews/src/dataform-controls/datetime.tsx
Labels: none

Add changelog
  packages/dataviews/CHANGELOG.md
Labels: none

Feedback changes added
  packages/block-editor/README.md
  packages/block-editor/src/components/index.js
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Package] Block editor, [Package] Editor

Expose ValidatedFormTokenField from private API
  packages/components/src/private-apis.ts
Labels: [Package] Components

Remove customValidation
  packages/dataviews/src/components/dataform/stories/index.story.tsx
Labels: none

Import ValidatedFormTokenField and use it in Array
  packages/dataviews/src/dataform-controls/array.tsx
Labels: none

Remove experimental flag
  docs/reference-guides/core-blocks.md
  packages/block-library/src/post-time-to-read/block.json
Labels: [Package] Block library

refactor: update help text for 'Link Relation' to use interpolated elements
  packages/block-editor/src/components/url-popover/image-url-input-ui.js
  packages/block-library/src/button/edit.js
  packages/block-library/src/post-featured-image/edit.js
  packages/block-library/src/post-title/edit.js
  packages/block-library/src/rss/edit.js
  packages/block-library/src/social-link/edit.js
Labels: [Package] Block editor, [Package] Block library

Move l10n.php to 6.9 compat dir
  lib/compat/wordpress-6.9/l10n.php
  lib/load.php
Labels: none

Add taxonomy pagination tests
  packages/core-data/src/test/entities.js
  packages/core-data/src/test/resolvers.js
Labels: [Package] Core data

Implement router-region directive
  packages/interactivity/src/directives.tsx
  packages/interactivity/src/index.ts
Labels: none

Use `routerRegions` to update regions content
  packages/interactivity-router/src/index.ts
Labels: none

Added aria label to the nav element
  docs/reference-guides/core-blocks.md
  packages/block-library/src/table-of-contents/block.json
  packages/block-library/src/table-of-contents/edit.js
  packages/block-library/src/table-of-contents/save.js
Labels: [Package] Block library

fix: multiline paste in synced pattern overrides to use inline mode
  packages/block-editor/src/components/writing-flow/use-clipboard-handler.js
Labels: [Package] Block editor

Make list type control consistent with List block
  docs/reference-guides/core-blocks.md
  packages/block-library/src/table-of-contents/block.json
  packages/block-library/src/table-of-contents/edit.js
  packages/block-library/src/table-of-contents/list.tsx
  packages/block-library/src/table-of-contents/save.js
Labels: [Package] Block library

Update test fixtures
  test/integration/fixtures/blocks/core__table-of-contents.json
  test/integration/fixtures/blocks/core__table-of-contents__empty.json
Labels: none

fixed fixtures to include the new attr
  test/integration/fixtures/blocks/core__table-of-contents.html
  test/integration/fixtures/blocks/core__table-of-contents.parsed.json
  test/integration/fixtures/blocks/core__table-of-contents.serialized.html
Labels: none

recovering old branch
  packages/dataviews/src/components/dataviews-filters/index.tsx
  packages/dataviews/src/dataform-controls/select.tsx
  packages/dataviews/src/field-types/index.tsx
  packages/dataviews/src/field-types/stories/index.story.tsx
  packages/dataviews/src/normalize-fields.ts
  packages/dataviews/src/types.ts
Labels: none

Set per_page to unlimited
  packages/block-library/src/categories/edit.js
Labels: [Package] Block library

Update CODEOWNERS to remove ndiego
  .github/CODEOWNERS
Labels: none
