Repository WordPress/gutenberg, changes with the labels that .github/labeler.yml gives for each.
All labels: [Package] A11y, [Package] API fetch, [Package] Autop, [Package] Babel plugin import JSX pragma, [Package] Babel plugin makepot, [Package] Babel preset, [Package] Base styles, [Package] Blob, [Package] Block editor, [Package] Block library, [Package] Blocks, [Package] Browserslist config, [Package] Commands, [Package] Components, [Package] Compose, [Package] Core data, [Package] Create Block, [Package] Data Controls, [Package] Data, [Package] Date, [Package] Dependency Extraction Webpack Plugin, [Package] Deprecated, [Package] Docgen, [Package] DOM ready, [Package] DOM, [Package] E2E Test Utils, [Package] E2E Tests, [Package] Edit Post, [Package] Edit Site, [Package] Edit Widgets, [Package] Editor, [Package] Element, [Package] Env, [Package] Escape HTML, [Package] ESLint plugin, [Package] Format library, [Package] Hooks, [Package] HTML entities, [Package] i18n, [Package] Icons, [Package] Interface, [Package] is-shallow-equal, [Package] Jest console, [Package] Jest preset, [Package] Jest Puppeteer aXe, [Package] Keyboard Shortcuts, [Package] Keycodes, [Package] Lazy import, [Package] Media Utils, [Package] Notices, [Package] npm-package-json-lint-config, [Package] Plugins, [Package] PostCSS Plugins Preset, [Package] Preferences, [Package] Prettier config, [Package] Primitives, [Package] Priority Queue, [Package] Private APIs, [Package] Project management automation, [Package] React i18n, [Package] Readable JS Assets Webpack Plugin, [Package] Redux Routine, [Package] Rich text, [Package] Scripts, [Package] Server Side Render, [Package] Style Engine, [Package] stylelint config, [Package] Token List, [Package] Url, [Package] Viewport, [Package] Warning, [Package] Word count

Try layout.allowSwitching
  docs/reference-guides/core-blocks.md
  packages/block-library/src/term-template/block.json
  packages/block-library/src/term-template/edit.js
Labels: [Package] Block library

refactor: eliminate prop drilling for directInsert in PrivateListView
  packages/block-editor/src/components/list-view/appender.js
  packages/block-editor/src/components/list-view/branch.js
  packages/block-editor/src/components/list-view/index.js
  packages/block-library/src/navigation/edit/menu-inspector-controls.js
Labels: [Package] Block editor, [Package] Block library

Use original const def
  packages/block-library/src/navigation/edit/menu-inspector-controls.js
Labels: [Package] Block library

Revert changes to menu controls
  packages/block-library/src/navigation/edit/menu-inspector-controls.js
Labels: [Package] Block library

Revert branch component to match trunk
  packages/block-editor/src/components/list-view/branch.js
Labels: [Package] Block editor

Revert another file to trunk
  packages/block-editor/src/components/list-view/index.js
Labels: [Package] Block editor

Pass entire block to callback
  packages/block-editor/src/components/inserter/index.js
  packages/block-library/src/navigation/edit/menu-inspector-controls.js
Labels: [Package] Block editor, [Package] Block library

Access setting directly in appender
  packages/block-editor/src/components/list-view/appender.js
  packages/block-editor/src/components/list-view/branch.js
Labels: [Package] Block editor

Use block list settings api
  packages/block-editor/src/components/list-view/appender.js
  packages/block-editor/src/components/list-view/branch.js
  packages/block-editor/src/components/list-view/index.js
  packages/block-library/src/navigation/edit/menu-inspector-controls.js
Labels: [Package] Block editor, [Package] Block library

Remove hacky fix to onClose failure
  packages/block-library/src/navigation/edit/menu-inspector-controls.js
  packages/compose/src/hooks/use-focus-outside/index.ts
Labels: [Package] Block library, [Package] Compose

fix: clean up original nav link block when selecting different block in list view
  packages/block-library/src/navigation/edit/menu-inspector-controls.js
Labels: [Package] Block library

fix: add iframe-aware cleanup for LinkUI in Navigation block List View
  packages/block-library/src/navigation/edit/menu-inspector-controls.js
Labels: [Package] Block library

Allow for setting blocks inserterd by Add block Quick Inserter
  packages/block-library/src/navigation-link/link-ui.js
  packages/block-library/src/navigation/edit/menu-inspector-controls.js
Labels: [Package] Block library

fix: prevent focus stealing when selecting blocks in Navigation list view
  packages/block-library/src/navigation/edit/menu-inspector-controls.js
Labels: [Package] Block library

Revert alteration to hook
  packages/compose/src/hooks/use-focus-outside/index.ts
Labels: [Package] Compose

fix: add iframe-aware cleanup for LinkUI in Navigation block List View
  packages/block-library/src/navigation/edit/menu-inspector-controls.js
Labels: [Package] Block library

refactor: rename setInsertedBlock prop to onBlockInsert for better clarity
  packages/block-library/src/navigation-link/link-ui.js
  packages/block-library/src/navigation/edit/leaf-more-menu.js
  packages/block-library/src/navigation/edit/menu-inspector-controls.js
Labels: [Package] Block library

Optimise useSelect calls
  packages/block-editor/src/components/list-view/appender.js
Labels: [Package] Block editor

Simplify cleanup function to avoid passing functions around
  packages/block-library/src/navigation/edit/menu-inspector-controls.js
Labels: [Package] Block library

tweak comments
  test/e2e/specs/editor/blocks/navigation-list-view.spec.js
Labels: none

Fix test to expect directly inserted page link
  test/e2e/specs/editor/blocks/navigation-list-view.spec.js
Labels: none

Properly handle cleanup if no link selected
  packages/block-library/src/navigation/edit/menu-inspector-controls.js
Labels: [Package] Block library

Fix another test to expect direct inserted Page block
  packages/block-library/src/navigation/edit/leaf-more-menu.js
  test/e2e/specs/editor/blocks/navigation-list-view.spec.js
Labels: [Package] Block library

Fix mess up from rebase
  packages/compose/src/hooks/use-focus-outside/index.ts
Labels: [Package] Compose

Refactor to make DataFormLayout agnostic from the form.type
  packages/dataviews/src/dataforms-layouts/card/index.tsx
  packages/dataviews/src/dataforms-layouts/data-form-layout.tsx
  packages/dataviews/src/dataforms-layouts/index.tsx
  packages/dataviews/src/dataforms-layouts/row/index.tsx
Labels: none

Move Navigation Add Page Button from hook to Navigation block
  packages/block-library/src/navigation/edit/index.js
  packages/editor/src/hooks/index.js
  packages/editor/src/hooks/navigation-add-page-button.js
Labels: [Package] Block library, [Package] Editor

Fix Navigation Link Block to use contentOnly mode
  packages/editor/src/hooks/navigation-add-page-button.js
Labels: [Package] Editor

Add Add page button to Navigation block toolbar
  packages/editor/src/hooks/index.js
  packages/editor/src/hooks/navigation-add-page-button.js
Labels: [Package] Editor

Use DEFAULT_BLOCK constant from constants.js for createBlock
  packages/block-library/src/navigation/edit/index.js
Labels: [Package] Block library

Use DEFAULT_BLOCK attributes when creating navigation link block
  packages/block-library/src/navigation/edit/index.js
Labels: [Package] Block library

Pull in correct attributes for new block
  packages/block-library/src/navigation/edit/index.js
Labels: [Package] Block library

Navigation Link: Hide 'Add block' button in Write Mode
  packages/block-library/src/navigation-link/link-ui.js
Labels: [Package] Block library

Add test coverage for new Block Bindings features
  phpunit/block-bindings-test.php
Labels: none

Apply new Block Bindings logic to core/button block
  lib/compat/wordpress-6.9/block-bindings.php
Labels: none

Move remove_filter() from tear_down to wpTearDownAfterClass
  phpunit/block-bindings-test.php
Labels: none

Guard render_callback against unset attribute
  phpunit/block-bindings-test.php
Labels: none

Remove event scroll container caching; test containment
  packages/block-editor/src/components/block-popover/use-popover-scroll.js
Labels: [Package] Block editor

Use Badge component, add rename
  packages/dataviews/src/dataviews-layouts/grid/index.tsx
  packages/dataviews/src/types.ts
  packages/edit-site/src/components/page-templates/fields.js
  packages/fields/src/actions/rename-post.tsx
Labels: [Package] Edit Site

All theme templates are active by default
  packages/edit-site/src/components/page-templates/fields.js
  packages/edit-site/src/components/page-templates/index.js
Labels: [Package] Edit Site

Add backport log entry
  backport-changelog/6.8/8063.md
Labels: none

.github/labeler.yml:

# Package labeling rules

"[Package] A11y":
- packages/a11y/**
#"[Package] ":
#- packages/annotations/**
"[Package] API fetch":
- packages/api-fetch/**
"[Package] Autop":
- packages/autop/**
"[Package] Babel plugin import JSX pragma":
- packages/babel-plugin-import-jsx-pragma/**
"[Package] Babel plugin makepot":
- packages/babel-plugin-makepot/**
"[Package] Babel preset":
- packages/babel-preset-default/**
"[Package] Base styles":
- packages/base-styles/**
"[Package] Blob":
- packages/blob/**
#"[Package] Block directory":
#- packages/block directory/**
"[Package] Block editor":
- packages/block-editor/**
"[Package] Block library":
- packages/block-library/**
#"":
#- packages/block-serialization-default-parser/**
#"":
#- packages/block-serialization-spec-parser/**
"[Package] Blocks":
- packages/blocks/**
"[Package] Browserslist config":
- packages/browserslist-config/**
"[Package] Commands":
- packages/commands/**
"[Package] Components":
- packages/components/**
"[Package] Compose":
- packages/compose/**
#"":
#- packages/core-commands/**
"[Package] Core data":
- packages/core-data/**
"[Package] Create Block":
- packages/create-block-interactive-template/**
- packages/create-block-tutorial-template/**
- packages/create-block/**
#"":
#- packages/customize-widgets/**
"[Package] Data Controls":
- packages/data-controls/**
"[Package] Data":
- packages/data/**
"[Package] Date":
- packages/date/**
"[Package] Dependency Extraction Webpack Plugin":
- packages/dependency-extraction-webpack-plugin/**
"[Package] Deprecated":
- packages/deprecated/**
"[Package] Docgen":
- packages/docgen/**
"[Package] DOM ready":
- packages/dom-ready/**
"[Package] DOM":
- packages/dom/**
"[Package] E2E Test Utils":
- packages/e2e-tests-utils-playwright/**
- packages/e2e-test-utils/**
"[Package] E2E Tests":
- packages/e2e-tests/**
"[Package] Edit Post":
- packages/edit-post/**
"[Package] Edit Site":
- packages/edit-site/**
"[Package] Edit Widgets":
- packages/edit-widgets/**
"[Package] Editor":
- packages/editor/**
"[Package] Element":
- packages/element/**
"[Package] Env":
- packages/env/**
"[Package] Escape HTML":
- packages/escape-html/**
"[Package] ESLint plugin":
- packages/eslint-plugin/**
"[Package] Format library":
- packages/format-library/**
"[Package] Hooks":
- packages/hooks/**
"[Package] HTML entities":
- packages/html-entities/**
"[Package] i18n":
- packages/i18n/**
"[Package] Icons":
- packages/icons/**
#"":
#- packages/interactivity/**
"[Package] Interface":
- packages/interface/**
"[Package] is-shallow-equal":
- packages/is-shallow-equal/**
"[Package] Jest console":
- packages/jest-console/**
"[Package] Jest preset":
- packages/jest-preset-default/**
"[Package] Jest Puppeteer aXe":
- packages/jest-puppeteer-axe/**
"[Package] Keyboard Shortcuts":
- packages/keyboard-shortcuts/**
"[Package] Keycodes":
- packages/keycodes/**
"[Package] Lazy import":
- packages/lazy-import/**
#"":
#- packages/list-reusable-blocks/**
"[Package] Media Utils":
- packages/media-utils/**
"[Package] Notices":
- packages/notices/**
"[Package] npm-package-json-lint-config":
- packages/npm-package-json-lint-config/**
"[Package] Plugins":
- packages/plugins/**
"[Package] PostCSS Plugins Preset":
- packages/postcss-plugins-preset/**
#"":
#- packages/postcss-themes/**
#"":
#- packages/preferences-persistence/**
"[Package] Preferences":
- packages/preferences/**
"[Package] Prettier config":
- packages/prettier-config/**
"[Package] Primitives":
- packages/primitives/**
"[Package] Priority Queue":
- packages/priority-queue/**
"[Package] Private APIs":
- packages/private-apis/**
"[Package] Project management automation":
- packages/project-management-automation/**
"[Package] React i18n":
- packages/react-i18n/**
#"":
#- packages/react-native-aztec/**
#"":
#- packages/react-native-bridge/**
#"":
#- packages/react-native-editor/**
"[Package] Readable JS Assets Webpack Plugin":
- packages/readable-js-assets-webpack-plugin/**
"[Package] Redux Routine":
- packages/redux-routine/**
#"":
#- packages/report-flaky-tests/**
#"":
#- packages/reusable-blocks/**
"[Package] Rich text":
- packages/rich-text/**
#"":
#- packages/router/**
"[Package] Scripts":
- packages/scripts/**
"[Package] Server Side Render":
- packages/server-side-render/**
#"":
#- packages/shortcode/**
"[Package] Style Engine":
- packages/style-engine/**
"[Package] stylelint config":
- packages/stylelint-config/**
"[Package] Token List":
- packages/token-list/**
"[Package] Url":
- packages/url/**
"[Package] Viewport":
- packages/viewport/**
"[Package] Warning":
- packages/warning/**
#"":
#- packages/widgets/**
"[Package] Word count":
- packages/wordcount/**
