Repository WordPress/gutenberg, pull requests merged in 2018-09, with the labels that each got.

#9540 Update/docs
  packages/components/src/clipboard-button/README.md
  packages/components/src/menu-item/README.md
Labels: Documentation

#9552 Fix broken link in documentation inside element/README.md
  packages/element/README.md
Labels: Documentation

#9513 Editor: PostTextEditor: Fix case where empty state value defers to prop
  packages/editor/CHANGELOG.md
  packages/editor/src/components/post-text-editor/index.js
  packages/editor/src/components/post-text-editor/test/index.js
Labels: Code Editor, [Type] Bug

#9311 Refactor Draggable to decouple drag handle from the DOM node being dragged
  docs/reference/deprecated.md
  packages/components/CHANGELOG.md
  packages/components/src/draggable/README.md
  packages/components/src/draggable/index.js
  packages/editor/src/components/block-list/block-draggable.js
  packages/editor/src/components/block-list/block.js
Labels: Breaking Change, Drag and Drop

#9565 Components: Adds AccessibleSVG component and use consistently for block icons
  docs/block-api.md
  edit-post/components/sidebar/plugin-post-publish-panel/test/__snapshots__/index.js.snap
  edit-post/components/sidebar/plugin-pre-publish-panel/test/__snapshots__/index.js.snap
  packages/block-library/src/archives/index.js
  packages/block-library/src/audio/index.js
  packages/block-library/src/button/index.js
  packages/block-library/src/categories/index.js
  packages/block-library/src/code/index.js
  packages/block-library/src/columns/index.js
  packages/block-library/src/cover-image/index.js
  packages/block-library/src/embed/index.js
  packages/block-library/src/file/index.js
  packages/block-library/src/gallery/index.js
  packages/block-library/src/heading/index.js
  packages/block-library/src/image/index.js
  packages/block-library/src/latest-comments/index.js
  packages/block-library/src/latest-posts/index.js
  packages/block-library/src/list/index.js
  packages/block-library/src/more/index.js
  packages/block-library/src/nextpage/index.js
  packages/block-library/src/paragraph/index.js
  packages/block-library/src/preformatted/index.js
  packages/block-library/src/pullquote/index.js
  packages/block-library/src/quote/index.js
  packages/block-library/src/separator/index.js
  packages/block-library/src/shortcode/index.js
  packages/block-library/src/spacer/index.js
  packages/block-library/src/subhead/index.js
  packages/block-library/src/table/index.js
  packages/block-library/src/verse/index.js
  packages/block-library/src/video/index.js
  packages/components/CHANGELOG.md
  packages/components/src/accessible-svg/README.md
  packages/components/src/accessible-svg/index.js
  packages/components/src/form-toggle/index.js
  packages/components/src/index.js
  packages/components/src/panel/body.js
  packages/components/src/panel/test/body.js
  packages/editor/src/components/block-icon/index.js
  packages/editor/src/components/block-mover/arrows.js
  packages/editor/src/components/block-switcher/index.js
Labels: Accessibility, [Package] Components

#9419 Make Archives Block display correct empty message
  packages/block-library/src/archives/index.php
Labels: [Type] Bug

#9603 Fix separator BG.
  packages/block-library/src/separator/style.scss
Labels: [Type] Enhancement

#9008 Styles: add Editor Styles support
  docs/extensibility/theme-support.md
  docs/manifest.json
  docs/reference/faq.md
  edit-post/components/visual-editor/style.scss
  lib/client-assets.php
  package-lock.json
  packages/block-library/src/heading/editor.scss
  packages/editor/CHANGELOG.md
  packages/editor/package.json
  packages/editor/src/components/provider/index.js
  packages/editor/src/editor-styles.scss
  packages/editor/src/editor-styles/ast/index.js
  packages/editor/src/editor-styles/ast/parse.js
  packages/editor/src/editor-styles/ast/stringify/compiler.js
  packages/editor/src/editor-styles/ast/stringify/compress.js
  packages/editor/src/editor-styles/ast/stringify/identity.js
  packages/editor/src/editor-styles/ast/stringify/index.js
  packages/editor/src/editor-styles/index.js
  packages/editor/src/editor-styles/test/__snapshots__/traverse.js.snap
  packages/editor/src/editor-styles/test/traverse.js
  packages/editor/src/editor-styles/transforms/editor-width.js
  packages/editor/src/editor-styles/transforms/test/__snapshots__/editor-width.js.snap
  packages/editor/src/editor-styles/transforms/test/__snapshots__/url-rewrite.js.snap
  packages/editor/src/editor-styles/transforms/test/__snapshots__/wrap.js.snap
  packages/editor/src/editor-styles/transforms/test/editor-width.js
  packages/editor/src/editor-styles/transforms/test/url-rewrite.js
  packages/editor/src/editor-styles/transforms/test/wrap.js
  packages/editor/src/editor-styles/transforms/url-rewrite.js
  packages/editor/src/editor-styles/transforms/wrap.js
  packages/editor/src/editor-styles/traverse.js
  packages/postcss-themes/src/index.js
  test/unit/jest.config.json
Labels: Customization, Extensibility, [Type] Task

#9623 Remove all deprecations scheduled for 3.8 release
  core-blocks/index.js
  docs/reference/deprecated.md
  lib/client-assets.php
  packages/components/CHANGELOG.md
  packages/components/src/higher-order/with-context/README.md
  packages/components/src/higher-order/with-context/index.js
  packages/components/src/higher-order/with-context/test/index.js
  packages/components/src/index.js
  packages/editor/CHANGELOG.md
  packages/editor/src/components/document-title/index.js
  packages/editor/src/components/index.js
  packages/editor/src/store/selectors.js
  webpack.config.js
Labels: Breaking Change, Code Quality

#9572 Move the block settings menu to the block toolbar
  block-library/freeform/editor.scss
  edit-post/assets/stylesheets/_z-index.scss
  edit-post/components/header/header-toolbar/style.scss
  edit-post/components/header/more-menu/test/__snapshots__/index.js.snap
  edit-post/components/sidebar/plugin-post-publish-panel/test/__snapshots__/index.js.snap
  edit-post/components/sidebar/plugin-post-status-info/test/__snapshots__/index.js.snap
  edit-post/components/sidebar/plugin-pre-publish-panel/test/__snapshots__/index.js.snap
  packages/components/src/button/index.js
  packages/components/src/dropdown/index.js
  packages/components/src/icon-button/index.js
  packages/components/src/slot-fill/slot.js
  packages/components/src/slot-fill/test/slot.js
  packages/components/src/toolbar/index.js
  packages/components/src/toolbar/style.scss
  packages/editor/src/components/block-actions/index.js
  packages/editor/src/components/block-inspector/index.js
  packages/editor/src/components/block-list/block-mobile-toolbar.js
  packages/editor/src/components/block-list/block.js
  packages/editor/src/components/block-list/multi-controls.js
  packages/editor/src/components/block-settings-menu/index.js
  packages/editor/src/components/block-settings-menu/style.scss
  packages/editor/src/components/block-toolbar/index.js
  packages/editor/src/components/block-toolbar/style.scss
  packages/editor/src/components/editor-global-keyboard-shortcuts/index.js
  test/e2e/specs/block-deletion.test.js
  test/e2e/specs/editor-modes.test.js
Labels: Needs Design Feedback

#9567 UI: Add a fullscreen mode
  edit-post/assets/stylesheets/_mixins.scss
  edit-post/assets/stylesheets/main.scss
  edit-post/components/fullscreen-mode/index.js
  edit-post/components/fullscreen-mode/style.scss
  edit-post/components/header/feature-toggle/index.js
  edit-post/components/header/fullscreen-mode-close/index.js
  edit-post/components/header/fullscreen-mode-close/style.scss
  edit-post/components/header/header-toolbar/index.js
  edit-post/components/header/style.scss
  edit-post/components/header/writing-menu/index.js
  edit-post/components/layout/index.js
  edit-post/components/sidebar/style.scss
  edit-post/components/text-editor/style.scss
  gutenberg.php
  packages/components/src/modal/style.scss
Labels: Chrome, Needs Design Feedback

#9600 Move video caption styles to style.scss
  packages/block-library/src/embed/style.scss
  packages/block-library/src/theme.scss
  packages/block-library/src/video/style.scss
  packages/block-library/src/video/theme.scss
Labels: [Type] Enhancement

#9566 Fix image caption margins
  edit-post/assets/stylesheets/_mixins.scss
  packages/block-library/src/image/style.scss
Labels: Regression, [Type] Bug

#9539 Fixing post visibility radio button alignment
  packages/editor/src/components/post-visibility/style.scss
Labels: [Type] Bug

#9371 Components: Improve empty elements filters in Slot implementation
  packages/components/src/slot-fill/slot.js
  packages/components/src/slot-fill/test/utils.js
  packages/components/src/slot-fill/utils.js
Labels: Code Quality, [Package] Components

#9588 Reusable blocks: Add UI for bulk deleting blocks
  gutenberg.php
  lib/register.php
  packages/components/src/icon-button/style.scss
  packages/editor/src/components/inserter/menu.js
  packages/editor/src/components/inserter/style.scss
Labels: Reusable Blocks, [Type] Enhancement

#9592 Fix: hasSelectedInnerBlock does not accounts for multi selected innerBlocks
  packages/editor/src/components/block-list/block.js
  packages/editor/src/store/selectors.js
  packages/editor/src/store/test/selectors.js
Labels: [Type] Bug

#9584 Treat Verse lines consistently on the front end
  packages/block-library/src/style.scss
  packages/block-library/src/verse/style.scss
Labels: Blocks, Needs Design Feedback

#9644 docs: Remove deprecated selectors
  docs/data/data-core-editor.md
Labels: Documentation

#8083 Parser: Propose new hand-coded parser
  docs/extensibility.md
  docs/extensibility/parser.md
  docs/manifest.json
  lib/blocks.php
  lib/client-assets.php
  lib/load.php
  package-lock.json
  package.json
  packages/block-serialization-default-parser/.npmrc
  packages/block-serialization-default-parser/CHANGELOG.md
  packages/block-serialization-default-parser/README.md
  packages/block-serialization-default-parser/package.json
  packages/block-serialization-default-parser/parser.php
  packages/block-serialization-default-parser/src/index.js
  packages/block-serialization-default-parser/test/index.js
  packages/blocks/package.json
  packages/blocks/src/api/parser.js
  phpunit/class-parsing-test.php
  test/integration/full-content/full-content.spec.js
  webpack.config.js
Labels: [Component] Parsing, [Type] Enhancement

#9651 Fix the PostTitle font size
  packages/editor/src/components/post-title/style.scss
Labels: [Type] Bug

#9635 Taxonomies: Load all taxonomies
  lib/client-assets.php
  packages/core-data/src/index.js
  packages/editor/src/components/post-taxonomies/index.js
Labels: [Type] Bug

#9654 Fix small visual regression in the inspector
  packages/editor/src/components/block-inspector/index.js
Labels: [Type] Bug

#9645 Make outline level 'Title' translatable
  packages/editor/src/components/document-outline/index.js
Labels: i18n

#9613 Fix: Shortcut inserter on invalid paragraphs
  packages/editor/src/components/block-list/block.js
  packages/editor/src/components/default-block-appender/index.js
Labels: Blocks, [Type] Bug

#9668 Editor: Restore isCleanNewPost selector
  docs/data/data-core-editor.md
  docs/reference/deprecated.md
  packages/editor/CHANGELOG.md
  packages/editor/src/store/selectors.js
  packages/editor/src/store/test/selectors.js
Labels: [Type] Plugin / Theme Interoperability

#9663 Update plugin version to 3.8 (RC1)
  gutenberg.php
  package-lock.json
  package.json
Labels: [Component] Plugin

#9679 Docs: Update examples for components to look according to guidelines
  packages/components/src/README.md
  packages/components/src/draggable/README.md
Labels: Documentation

#9735 Adjust margin rules for nested blocks.
  packages/block-library/src/columns/editor.scss
  packages/editor/src/components/block-list/style.scss
Labels: [Type] Bug

#9683 Add dark editor style support
  docs/extensibility/theme-support.md
  gutenberg.php
Labels: [Type] Enhancement, [Type] Plugin / Theme Interoperability

#9622 Improve galleries for IE11.
  packages/block-library/src/gallery/editor.scss
  packages/block-library/src/gallery/style.scss
Labels: Browser Issues, [Type] Bug

#9736 Fix notice styling regression
  packages/components/src/notice/style.scss
Labels: [Type] Bug

#9733 RNMobile - Do not propagate eventCount to components
  packages/block-library/src/heading/edit.native.js
  packages/block-library/src/paragraph/edit.native.js
  packages/editor/src/components/rich-text/index.native.js
Labels: Mobile App Compatibility, [Type] Enhancement

#9743 Image Block: Convert back and forth from a cover image block
  packages/block-library/src/cover-image/index.js
Labels: Blocks, Media

#9711 Do not assume that singular form in _n() is used just for single item
  edit-post/components/sidebar/settings-header/index.js
  packages/editor/src/components/block-switcher/index.js
Labels: i18n

#9742 Adjust unified block toolbar padding at medium breakpoints.
  edit-post/components/header/header-toolbar/style.scss
Labels: [Component] Mobile, [Type] Bug

#9741 Save level to heading block attributes or parse will fail.
  packages/block-library/src/heading/edit.native.js
Labels: [Type] Bug

#9673 Fix selection of small table cells
  packages/block-library/src/table/edit.js
  packages/block-library/src/table/editor.scss
Labels: Blocks, [Type] Bug

#9756 Tooling: Improve docs build to consider memoized selectors
  docs/data/data-core-blocks.md
  docs/data/data-core-edit-post.md
  docs/data/data-core-editor.md
  docs/data/data-core-nux.md
  docs/data/data-core.md
  docs/tool/parser.js
Labels: Build Tooling, Documentation, [Type] Bug

#8785 [Task] Update RichText usage to avoid inline elements
  packages/block-library/src/pullquote/editor.scss
  packages/block-library/src/pullquote/index.js
  packages/block-library/src/pullquote/theme.scss
  packages/block-library/src/quote/editor.scss
  packages/block-library/src/quote/index.js
  packages/block-library/src/quote/theme.scss
Labels: [Component] Rich Text

#9781 Docs: Correct the markdown_source for outreach/articles
  docs/manifest.json
Labels: Documentation

#9765 Suspected typo on theme documentation page
  docs/extensibility/theme-support.md
Labels: Documentation

#9777 Editor package: fix block settings menu appearance
  packages/editor/src/components/block-settings-menu/style.scss
Labels: [Package] Editor, [Type] Bug

#9744 Taxonomies: Fix error when a taxonomy has no attached post type
  packages/editor/src/components/post-publish-panel/maybe-tags-panel.js
Labels: [Type] Bug

#9782 Fix regression with appender.
  edit-post/components/visual-editor/style.scss
  packages/editor/src/components/block-list/style.scss
Labels: Regression, [Type] Bug

#9799 Build Tooling: Include block serialization default parser in plugin
  bin/build-plugin-zip.sh
Labels: Build Tooling, [Type] Bug

#9798 Removing wrapper div from the categories block
  packages/block-library/src/categories/index.php
Labels: Blocks

#9696 Fix Archives block alignment and custom class bugs
  packages/block-library/src/archives/index.js
  packages/block-library/src/archives/index.php
  test/integration/full-content/fixtures/core__archives.html
  test/integration/full-content/fixtures/core__archives.json
  test/integration/full-content/fixtures/core__archives.parsed.json
  test/integration/full-content/fixtures/core__archives__showPostCounts.html
  test/integration/full-content/fixtures/core__archives__showPostCounts.json
  test/integration/full-content/fixtures/core__archives__showPostCounts.parsed.json
  test/integration/full-content/server-registered.json
Labels: Blocks

#9813 Add new default block icon
  packages/blocks/src/api/test/registration.js
  packages/blocks/src/api/utils.js
Labels: [Type] Enhancement

#9812 Block Toolbar: Hide the block toolbar if no block is selected
  packages/editor/src/components/block-toolbar/index.js
Labels: [Type] Bug

#9814 Align the close, chevrons, and ellipsis icons
  edit-post/components/header/style.scss
  edit-post/components/sidebar/settings-header/style.scss
  edit-post/components/sidebar/style.scss
Labels: Needs Design Feedback

#9732 Support reusable blocks for multi-selection
  block-library/index.js
  packages/block-library/src/index.js
  packages/block-library/src/template/index.js
  packages/editor/src/components/block-settings-menu/index.js
  packages/editor/src/components/block-settings-menu/reusable-block-convert-button.js
  packages/editor/src/store/actions.js
  packages/editor/src/store/effects/reusable-blocks.js
  packages/editor/src/store/test/actions.js
  test/e2e/specs/__snapshots__/reusable-blocks.test.js.snap
  test/e2e/specs/reusable-blocks.test.js
  test/integration/full-content/full-content.spec.js
Labels: Reusable Blocks, Templates API

#9599 Add aside wrapper to pullquote
  packages/block-library/src/pullquote/editor.scss
  packages/block-library/src/pullquote/index.js
  packages/block-library/src/pullquote/style.scss
  packages/block-library/src/pullquote/test/__snapshots__/index.js.snap
  test/integration/full-content/fixtures/core__pullquote.html
  test/integration/full-content/fixtures/core__pullquote.json
  test/integration/full-content/fixtures/core__pullquote.parsed.json
  test/integration/full-content/fixtures/core__pullquote.serialized.html
  test/integration/full-content/fixtures/core__pullquote__multi-paragraph.html
  test/integration/full-content/fixtures/core__pullquote__multi-paragraph.json
  test/integration/full-content/fixtures/core__pullquote__multi-paragraph.parsed.json
  test/integration/full-content/fixtures/core__pullquote__multi-paragraph.serialized.html
Labels: [Type] Enhancement

#9511 Fix drag and drop in chrome when the document has iframes
  packages/components/src/draggable/index.js
Labels: Drag and Drop, [Type] Bug

#9727 Rename the Speaker block to Speaker Deck
  packages/block-library/src/embed/index.js
Labels: [Package] Block library, [Type] Bug

#9794 Framework: Add wp-polyfill as central polyfill
  lib/client-assets.php
Labels: Browser Issues, Framework

#9680 Polish Classic block.
  block-library/freeform/editor.scss
Labels: [Type] Enhancement

#9830 Update handbook
  docs/block-api.md
  docs/design.md
  docs/extensibility/extending-blocks.md
  docs/readme.md
Labels: Documentation

#9681 Element: Add isEmptyElement utility function
  packages/components/src/slot-fill/slot.js
  packages/element/CHANGELOG.md
  packages/element/src/index.js
  packages/element/src/test/utils.js
  packages/element/src/utils.js
Labels: [Package] Element

#9841 Plugin: Remove deprecations slated for 3.9 removal
  packages/blocks/CHANGELOG.md
  packages/blocks/src/api/index.js
  packages/blocks/src/api/registration.js
  packages/editor/CHANGELOG.md
  packages/editor/src/components/colors/index.js
  packages/editor/src/components/colors/utils.js
  packages/editor/src/components/colors/with-colors.js
  packages/editor/src/components/rich-text/index.js
  packages/editor/src/components/rich-text/test/index.js
Labels: [Component] Plugin

#9323 Send post_id to the REST API in the ServerSideRender component within the Editor
  packages/block-library/src/archives/edit.js
  packages/block-library/src/latest-comments/edit.js
  packages/components/src/server-side-render/index.js
  packages/components/src/server-side-render/test/index.js
  packages/editor/src/components/index.js
  packages/editor/src/components/server-side-render/README.md
  packages/editor/src/components/server-side-render/index.js
Labels: [Component] ServerSideRender, [Type] Enhancement

#9837 Docs: Add simplified block grammar spec to handbook
  docs/manifest.json
  packages/block-serialization-default-parser/README.md
  packages/block-serialization-spec-parser/README.md
Labels: Documentation, [Component] Parsing

#9818 Move the reusable UI to the top
  packages/block-library/src/block/edit-panel/style.scss
  packages/block-library/src/block/edit.js
  packages/block-library/src/block/indicator/style.scss
  test/e2e/specs/reusable-blocks.test.js
Labels: [Type] Enhancement

#9473 Block: fix invalid block scrim overflowing toolbar on mobile
  packages/editor/src/components/block-list/block.js
  packages/editor/src/components/block-list/style.scss
Labels: Blocks

#7995 Block comparison: show difference between invalid block conversion options
  package-lock.json
  packages/components/package.json
  packages/editor/src/components/block-compare/README.md
  packages/editor/src/components/block-compare/block-view.js
  packages/editor/src/components/block-compare/index.js
  packages/editor/src/components/block-compare/style.scss
  packages/editor/src/components/block-compare/test/__snapshots__/block-view.js.snap
  packages/editor/src/components/block-compare/test/block-view.js
  packages/editor/src/components/block-list/block-invalid-warning.js
  packages/editor/src/style.scss
Labels: Block Conversion, Blocks

#9546 Dont trigger invalid block on empty HTML content
  packages/editor/src/components/block-list/block-html.js
  packages/editor/src/components/block-list/test/block-html.js
Labels: Blocks

#9582 Add shortcut aria label for unreadable shortcuts
  edit-post/components/header/index.js
  edit-post/components/keyboard-shortcut-help-modal/config.js
  edit-post/components/keyboard-shortcut-help-modal/index.js
  edit-post/components/keyboard-shortcut-help-modal/test/__snapshots__/index.js.snap
  edit-post/components/sidebar/sidebar-header/index.js
  edit-post/components/visual-editor/block-inspector-button.js
  edit-post/keyboard-shortcuts.js
  packages/components/src/menu-item/index.js
  packages/components/src/menu-item/shortcut.js
  packages/components/src/menu-item/test/__snapshots__/index.js.snap
  packages/components/src/shortcut/index.js
  packages/components/src/shortcut/test/index.js
  packages/components/src/tooltip/index.js
  packages/components/src/tooltip/test/index.js
  packages/keycodes/src/index.js
  packages/keycodes/src/test/index.js
Labels: Accessibility

#9762 Adjust gallery caption flex alignment
  packages/block-library/src/gallery/editor.scss
  packages/block-library/src/gallery/style.scss
Labels: Blocks, [Type] Bug

#9851 Clean up event count setting.
  packages/editor/src/components/rich-text/index.native.js
Labels: [Type] Bug

#9793 Use a pseudo element to prevent inspector tab width from changing when selected
  edit-post/components/sidebar/settings-header/index.js
  edit-post/components/sidebar/settings-header/style.scss
Labels: Accessibility, [Component] Inspector, [Type] Enhancement

#9671 RichText Native: Adds onEnter callback and function placeholder.
  packages/editor/src/components/rich-text/index.native.js
Labels: Mobile App Compatibility

#9847 Editor: Flatten BlockListLayout into base BlockList
  packages/editor/src/components/block-list/index.js
  packages/editor/src/components/block-list/layout.js
Labels: Code Quality

#9615 Testing: Add lint rule for path on Lodash property functions
  .eslintrc.js
  packages/editor/src/store/test/selectors.js
  packages/viewport/src/index.js
Labels: Automated Testing

#7451 add depends_on prop for images.
  docker-compose.yml
Labels: Build Tooling

#9887 docs: Update release docs to include RC
  docs/reference/release.md
Labels: Documentation

#9569 Add/drag handle
  edit-post/assets/stylesheets/_z-index.scss
  packages/editor/src/components/block-draggable/index.js
  packages/editor/src/components/block-list/block-draggable.js
  packages/editor/src/components/block-list/block.js
  packages/editor/src/components/block-list/index.js
  packages/editor/src/components/block-list/style.scss
  packages/editor/src/components/block-mover/drag-handle.js
  packages/editor/src/components/block-mover/icons.js
  packages/editor/src/components/block-mover/index.js
  packages/editor/src/components/block-mover/style.scss
  packages/editor/src/components/block-mover/test/index.js
Labels: Drag and Drop, [Type] Enhancement

#9687 Collapsible panels for the block's toolbar
  edit-post/assets/stylesheets/_mixins.scss
  packages/components/src/dropdown-menu/index.js
  packages/components/src/dropdown-menu/style.scss
  packages/components/src/toolbar/index.js
  packages/editor/src/components/alignment-toolbar/index.js
  packages/editor/src/components/alignment-toolbar/test/__snapshots__/index.js.snap
  packages/editor/src/components/alignment-toolbar/test/index.js
  packages/editor/src/components/block-alignment-toolbar/index.js
  packages/editor/src/components/block-alignment-toolbar/test/__snapshots__/index.js.snap
  packages/editor/src/components/block-switcher/style.scss
Labels: [Type] Task

#9772 HeaderToolbar: Pluralize "kind" to fix typo.
  edit-post/components/header/header-toolbar/index.js
Labels: Copy, Good First Issue, Needs Copy Review, Priority Low, [Type] Bug

#9903 Fix incorrect unlink shortcut
  packages/editor/src/components/rich-text/format-toolbar/index.js
  packages/editor/src/components/rich-text/formatting-controls.js
Labels: [Type] Bug

#9875 Add needed attributes to kses allowed tags for the Gallery block
  gutenberg.php
Labels: [Component] Saving, [Type] Bug

#9895 Fix camelCase and cross-component class name
  packages/editor/src/components/block-compare/block-view.js
  packages/editor/src/components/block-compare/style.scss
  packages/editor/src/components/block-compare/test/__snapshots__/block-view.js.snap
Labels: Blocks

#9337 Fix: Don't show stacked icon on parent blocks if all of its children are hidden from the inserter
  packages/blocks/src/api/index.js
  packages/blocks/src/api/registration.js
  packages/blocks/src/store/selectors.js
  packages/editor/src/components/block-switcher/index.js
  packages/editor/src/components/block-types-list/index.js
  packages/editor/src/store/selectors.js
  packages/editor/src/store/test/selectors.js
Labels: [Component] Inserter

#9523 Columns: Disable inserter on column block; Don't show stacked icon on columns
  packages/block-library/src/columns/column.js
Labels: [Component] Inserter

#9800 Apply consistent spacing on the post visibility popover
  packages/editor/src/components/post-visibility/index.js
  packages/editor/src/components/post-visibility/style.scss
Labels: Chrome, Needs Design Feedback, [Type] Enhancement

#9788 Reusable Blocks: Support importing and exporting reusable blocks
  docs/manifest.json
  edit-post/components/header/more-menu/index.js
  gutenberg.php
  lib/client-assets.php
  package-lock.json
  packages/components/src/menu-item/index.js
  packages/list-reusable-blocks/.npmrc
  packages/list-reusable-blocks/README.md
  packages/list-reusable-blocks/package.json
  packages/list-reusable-blocks/src/components/import-dropdown/index.js
  packages/list-reusable-blocks/src/components/import-dropdown/style.scss
  packages/list-reusable-blocks/src/components/import-form/index.js
  packages/list-reusable-blocks/src/components/import-form/style.scss
  packages/list-reusable-blocks/src/index.js
  packages/list-reusable-blocks/src/style.scss
  packages/list-reusable-blocks/src/utils/export.js
  packages/list-reusable-blocks/src/utils/file.js
  packages/list-reusable-blocks/src/utils/import.js
  test/e2e/assets/greeting-reusable-block.json
  test/e2e/specs/manage-reusable-blocks.test.js
  webpack.config.js
Labels: Reusable Blocks

#9888 RNMobile: Image Block vol 02
  packages/block-library/src/image/edit.native.js
  packages/editor/src/components/index.native.js
  packages/editor/src/components/media-placeholder/index.native.js
  packages/editor/src/components/media-placeholder/styles.native.scss
Labels: Mobile App Compatibility

#9872 Modal: Prevent onMouseDown events propagating beyond the modal overlay
  packages/components/src/modal/index.js
  packages/editor/src/components/block-list/block-invalid-warning.js
Labels: UI Components, [Type] Bug

#9913 Update plugin version to 3.9 RC.
  gutenberg.php
  package-lock.json
  package.json
Labels: [Component] Plugin

#9948 Fix draghandle color
  packages/editor/src/components/block-mover/style.scss
Labels: [Type] Bug

#9507 Data Module: Support controls in resolvers
  lib/client-assets.php
  package-lock.json
  packages/data/src/plugins/async-generator/index.js
  packages/data/src/plugins/async-generator/middleware.js
  packages/data/src/plugins/controls/index.js
  packages/data/src/plugins/index.js
  packages/data/src/promise-middleware.js
  packages/data/src/registry.js
  packages/data/src/test/registry.js
  packages/redux-routine/CHANGELOG.md
  packages/redux-routine/README.md
  packages/redux-routine/package.json
  packages/redux-routine/src/index.js
  packages/redux-routine/src/runtime.js
  packages/redux-routine/src/test/index.js
  test/unit/__mocks__/@wordpress/data.js
Labels: [Package] Data

#9951 Spotlight mode: Fix inactive block's styling regression
  packages/editor/src/components/block-list/style.scss
Labels: [Type] Bug

#9921 Framework: Pass editor initial settings as direct argument
  lib/client-assets.php
Labels: Framework

#9750 Framework: Replace element-closest with registered vendor script
  lib/client-assets.php
  package-lock.json
  packages/blocks/package.json
  packages/blocks/src/api/raw-handling/index.js
  packages/components/package.json
  packages/components/src/autocomplete/index.js
  packages/dom/package.json
  packages/dom/src/focusable.js
  packages/editor/package.json
  packages/editor/src/components/block-list/index.js
  packages/editor/src/components/rich-text/index.js
  packages/editor/src/utils/dom.js
  packages/scripts/CHANGELOG.md
  packages/scripts/README.md
  packages/scripts/scripts/check-licenses.js
  packages/scripts/utils/index.js
  test/unit/jest.config.json
Labels: Browser Issues, Code Quality, Framework

#9922 Fix: Mobile: Space block layout on small screens < 600px
  packages/block-library/src/spacer/editor.scss
  packages/block-library/src/spacer/index.js
Labels: [Type] Bug

#9808 Editor: Consider single unmodified default block as empty content
  packages/editor/src/store/selectors.js
  packages/editor/src/store/test/selectors.js
  test/e2e/specs/__snapshots__/splitting-merging.test.js.snap
  test/e2e/specs/splitting-merging.test.js
Labels: [Component] Saving, [Package] Editor

#9916 State: Set template validity on block reset
  docs/reference/deprecated.md
  packages/editor/CHANGELOG.md
  packages/editor/src/components/post-text-editor/index.js
  packages/editor/src/store/actions.js
  packages/editor/src/store/effects.js
  packages/editor/src/store/test/effects.js
Labels: Templates API

#9988 Fix post-publish close button in other locales
  edit-post/components/layout/style.scss
  packages/editor/src/components/post-publish-panel/index.js
  packages/editor/src/components/post-publish-panel/style.scss
Labels: [Type] Bug

#9993 Fix: Spacer Block: Make block work on unified toolbar and spotlight mode
  packages/block-library/src/spacer/editor.scss
  packages/block-library/src/spacer/index.js
Labels: Blocks, [Type] Bug

#9995 Fix custom classNames for dynamic blocks
  packages/editor/src/hooks/custom-class-name.js
  packages/editor/src/hooks/test/custom-class-name.js
Labels: [Type] Bug

#10000 Fix export block as JSON in IE11 and Firefox
  packages/list-reusable-blocks/src/utils/file.js
Labels: Browser Issues, [Type] Bug

#7757 Replaced shown with visible
  packages/block-library/src/file/inspector.js
Labels: Copy, Needs Copy Review

#9984 Parser (Fix): Output freeform content before void blocks
  packages/block-serialization-default-parser/CHANGELOG.md
  packages/block-serialization-default-parser/parser.php
  packages/block-serialization-default-parser/src/index.js
  packages/block-serialization-default-parser/test/index.js
Labels: [Component] Parsing, [Type] Bug

#9805 Fix: Image Block: Link Settings - None has a redundant URL field
  packages/block-library/src/image/edit.js
Labels: [Type] Bug

#9803 Fix: Page Attributes: Order field does not allow negative numbers
  packages/editor/src/components/page-attributes/order.js
  packages/editor/src/components/page-attributes/style.scss
  packages/editor/src/components/page-attributes/test/order.js
Labels: [Type] Bug

#7958 Fix: Blocks: Make backspace behavior of quote, verse and performated consistent
  packages/block-library/src/preformatted/index.js
  packages/block-library/src/quote/index.js
  packages/block-library/src/verse/index.js
Labels: Blocks, Writing Flow

#10014 Docs: Fix grammar.md manifest entry; (chore) update data docs
  docs/data/data-core-editor.md
  docs/manifest.json
  docs/root-manifest.json
Labels: Documentation

#9946 Check the return value of glob()
  lib/load.php
Labels: [Type] Bug

#9989 Fix menu item hover colors.
  edit-post/assets/stylesheets/_mixins.scss
  packages/components/src/menu-item/style.scss
  packages/editor/src/components/block-settings-menu/style.scss
Labels: [Type] Enhancement

#9760 Add option to skip PublishSidebar on publishing
  edit-post/components/header/index.js
  edit-post/components/header/more-menu/index.js
  edit-post/components/header/publish-sidebar-toggle/index.js
  packages/editor/src/components/post-publish-panel/index.js
  packages/editor/src/components/post-publish-panel/style.scss
  packages/editor/src/store/actions.js
  packages/editor/src/store/defaults.js
  packages/editor/src/store/reducer.js
  packages/editor/src/store/selectors.js
  packages/editor/src/store/test/reducer.js
  packages/editor/src/store/test/selectors.js
  test/e2e/specs/publishing.test.js
  test/e2e/support/utils.js
Labels: [Type] Enhancement

#9986 Fix: Prepublish text for scheduled posts
  packages/editor/src/components/post-publish-panel/prepublish.js
Labels: Copy, Needs Copy Review

#10022 Try fixing the embed scrollbar.
  packages/components/src/sandbox/index.js
Labels: Regression, [Type] Bug

#10037 Need to define isRichTextValueEmpty for mobile too
  packages/editor/src/components/rich-text/index.js
  packages/editor/src/components/rich-text/index.native.js
  packages/editor/src/components/rich-text/utils.js
Labels: Mobile App Compatibility

#9838 Replace the fullscreen "x" icon with a back arrow
  edit-post/components/header/fullscreen-mode-close/index.js
Labels: Needs Design Feedback

#9828 Enforce a default icon size to allow flex alignment + fix unaligned labels
  edit-post/assets/stylesheets/_mixins.scss
  packages/components/src/dropdown-menu/style.scss
  packages/editor/src/components/autocompleters/style.scss
  packages/editor/src/components/block-icon/index.js
  packages/editor/src/components/block-icon/style.scss
  packages/editor/src/components/block-inspector/style.scss
  packages/editor/src/components/block-switcher/style.scss
  packages/editor/src/components/block-types-list/style.scss
Labels: Needs Design Feedback, [Type] Enhancement

#9674 Fix: InnerBlock templates sync conditions to avoid a forced locking
  packages/editor/src/components/inner-blocks/index.js
  test/e2e/specs/__snapshots__/inner-blocks-templates.test.js.snap
  test/e2e/specs/inner-blocks-templates.test.js
  test/e2e/test-plugins/inner-blocks-templates.php
  test/e2e/test-plugins/inner-blocks-templates/index.js
Labels: [Component] Nested / Inner Blocks, [Type] Bug

#9877 more/edit.native.js: Update section title
  packages/block-library/src/code/edit.native.js
  packages/block-library/src/more/edit.native.js
Labels: Mobile App Compatibility

#10017 Fix focused header layout for IE11
  edit-post/components/header/style.scss
Labels: Browser Issues

#10071 Fix minor punctuation typo in comment
  edit-post/components/header/style.scss
Labels: Code Quality

#10019 Paste: Omit <style> tags
  packages/blocks/src/api/raw-handling/head-remover.js
  packages/blocks/src/api/raw-handling/index.js
  test/integration/blocks-raw-handling.spec.js
  test/integration/fixtures/gutenberg-in.html
  test/integration/fixtures/gutenberg-out.html
  test/integration/fixtures/ms-word-styled-in.html
  test/integration/fixtures/ms-word-styled-out.html
Labels: [Component] Raw Handling, [Type] Bug

#9958 Data Module: update the resolvers to rely on controls instead of async generators
  docs/reference/deprecated.md
  lib/client-assets.php
  package-lock.json
  packages/core-data/src/controls.js
  packages/core-data/src/entities.js
  packages/core-data/src/index.js
  packages/core-data/src/resolvers.js
  packages/core-data/src/test/entities.js
  packages/core-data/src/test/resolvers.js
  packages/data/CHANGELOG.md
  packages/data/package.json
  packages/data/src/plugins/async-generator/middleware.js
  packages/data/src/test/registry.js
  packages/editor/CHANGELOG.md
  packages/editor/src/store/effects/test/utils.js
  packages/redux-routine/src/runtime.js
  test/unit/__mocks__/@wordpress/data.js
Labels: [Package] Core data

#10008 Change keyboard shortcut to access + z
  docs/reference/faq.md
  edit-post/components/keyboard-shortcut-help-modal/config.js
  edit-post/components/keyboard-shortcut-help-modal/test/__snapshots__/index.js.snap
  packages/editor/src/components/editor-global-keyboard-shortcuts/index.js
  packages/editor/src/components/rich-text/index.js
  test/e2e/specs/block-deletion.test.js
Labels: Blocks, Needs Testing, [Type] Bug

#10063 Make drag handle visible on hover in nested
  packages/editor/src/components/block-mover/style.scss
Labels: [Type] Enhancement

#10094 Update plugin version to 3.9
  gutenberg.php
  package-lock.json
  package.json
Labels: [Component] Plugin

#9924 Testing: Add E2E test to verify demo errors
  packages/jest-console/CHANGELOG.md
  packages/jest-console/src/index.js
  packages/jest-console/src/test/index.test.js
  post-content.php
  test/e2e/specs/demo.test.js
Labels: Automated Testing, [Package] Jest console

#5476 Pass tab object to tab-panel child function
  packages/components/src/tab-panel/README.md
  packages/components/src/tab-panel/index.js
  packages/components/src/tab-panel/test/index.js
Labels: Breaking Change, UI Components

#10116 Fix(with-select): Rename parameter from `mapStateToProps` to `mapSelectToProps`.
  packages/data/src/components/with-select/index.js
  packages/data/src/components/with-select/test/index.js
Labels: Code Quality, [Package] Data

#9738 Update @wordpress/api-fetch README.md
  packages/api-fetch/README.md
Labels: Documentation

#9836 Update Panel Component Documentation
  packages/components/src/panel/README.md
Labels: Documentation

#10142 Fix: Block alignment css rules affecting nested blocks
  packages/editor/src/components/block-list/style.scss
Labels: [Type] Bug

#10153 chore: Remove deprecations scheduled for 4.0.0 release
  docs/reference/deprecated.md
  lib/client-assets.php
  packages/components/CHANGELOG.md
  packages/components/src/draggable/index.js
  packages/editor/CHANGELOG.md
  packages/editor/src/components/index.js
  packages/editor/src/components/provider/index.js
  packages/editor/src/components/rich-text/provider.js
  packages/i18n/CHANGELOG.md
  packages/i18n/src/index.js
Labels: Code Quality

#10061 Add "Exit Code Editor" toolbar.
  edit-post/components/text-editor/index.js
  edit-post/components/text-editor/style.scss
Labels: Needs Design Feedback, [Status] In Progress, [Type] Enhancement

#10134 Try different title/appender margin fix.
  edit-post/components/visual-editor/style.scss
  packages/editor/src/components/block-list/style.scss
Labels: [Type] Enhancement

#10087 Placeholder: Consistent input field width
  packages/components/src/placeholder/style.scss
Labels: Needs Design Feedback

#10155 Promise middleware: Avoid dispatching undefined results
  packages/data/src/promise-middleware.js
Labels: Automated Testing

#9904 Update CONTRIBUTORS.md
  CONTRIBUTORS.md
Labels: Documentation

#10160 Fix regression with Button placeholder text
  packages/block-library/src/button/editor.scss
Labels: Regression, [Type] Bug

#10070 Add a hover state to sidebar panel headers
  edit-post/components/sidebar/block-sidebar/style.scss
  packages/components/src/panel/style.scss
Labels: Needs Design Feedback, [Type] Enhancement

#10027 Try a simpler spacing setup for gallery items
  packages/block-library/src/cover-image/editor.scss
  packages/block-library/src/gallery/editor.scss
  packages/block-library/src/gallery/style.scss
  packages/block-library/src/image/editor.scss
  packages/components/src/placeholder/style.scss
Labels: [Type] Enhancement

#9653 Remove additional side padding from blocks.
  block-library/freeform/editor.scss
  edit-post/assets/stylesheets/_variables.scss
  edit-post/assets/stylesheets/_z-index.scss
  edit-post/components/visual-editor/style.scss
  packages/block-library/src/block/edit-panel/style.scss
  packages/block-library/src/block/indicator/style.scss
  packages/editor/src/components/block-list/style.scss
  packages/editor/src/components/post-title/style.scss
Labels: [Type] Enhancement

#9488 Link to add_theme_support docs
  docs/extensibility/theme-support.md
Labels: Documentation

#10171 Fix: Paragraph: Link colors
  packages/block-library/src/paragraph/edit.js
  packages/block-library/src/paragraph/index.js
  packages/block-library/src/paragraph/style.scss
Labels: [Type] Bug

#10190 Update string. fix #10053
  edit-post/components/header/writing-menu/index.js
Labels: Needs Copy Review

#10189 Fix/docs links
  docs/data/data-core-editor.md
  edit-post/README.md
  packages/plugins/README.md
Labels: Documentation

#10135 Editor: Changed createObjectUrl to createBlobURL
  packages/editor/src/utils/media-upload/media-upload.js
Labels: Code Quality

#9685 Rename AccessibleSVG to SVG and make it work with React Native
  docs/manifest.json
  docs/reference/deprecated.md
  docs/tool/config.js
  docs/tool/manifest.js
  edit-post/components/header/more-menu/test/__snapshots__/index.js.snap
  edit-post/components/sidebar/plugin-post-publish-panel/test/__snapshots__/index.js.snap
  edit-post/components/sidebar/plugin-pre-publish-panel/test/__snapshots__/index.js.snap
  package.json
  packages/components/CHANGELOG.md
  packages/components/src/accessible-svg/README.md
  packages/components/src/accessible-svg/index.js
  packages/components/src/form-toggle/index.js
  packages/components/src/index.js
  packages/components/src/panel/body.js
  packages/components/src/panel/test/body.js
  packages/components/src/primitives/svg/README.md
  packages/components/src/primitives/svg/index.js
  packages/components/src/primitives/svg/index.native.js
  packages/editor/src/components/block-icon/index.js
  packages/editor/src/components/block-mover/icons.js
  packages/editor/src/components/block-switcher/index.js
Labels: Mobile App Compatibility, [Package] Components

#10194 Edit post: Convert tools more menu group into internal plugin
  edit-post/components/header/mode-switcher/index.js
  edit-post/components/header/more-menu/index.js
  edit-post/components/header/tools-more-menu-group/index.js
  edit-post/components/header/writing-menu/index.js
  edit-post/hooks/index.js
  edit-post/hooks/more-menu/index.js
  edit-post/index.js
  edit-post/plugins/copy-content-menu-item/index.js
  edit-post/plugins/index.js
  edit-post/plugins/keyboard-shortcuts-help-menu-item/index.js
  edit-post/plugins/publish-sidebar-toggle-menu-item/index.js
  edit-post/plugins/tips-toggle-menu-item/index.js
  package-lock.json
  packages/components/src/menu-group/index.js
  packages/components/src/menu-group/test/__snapshots__/index.js.snap
Labels: Code Quality, Extensibility

#9763 Add another pullquote style
  packages/block-library/src/pullquote/edit.js
  packages/block-library/src/pullquote/editor.scss
  packages/block-library/src/pullquote/index.js
  packages/block-library/src/pullquote/style.scss
  packages/block-library/src/pullquote/theme.scss
  packages/editor/src/components/colors/utils.js
  packages/editor/src/components/colors/with-colors.js
Labels: Blocks, [Type] Enhancement

#9707 Media: Refactor MediaUpload, MediaPlaceholder and mediaUpload to support arrays with multiple supported types.
  edit-post/hooks/components/media-upload/index.js
  packages/block-library/src/audio/edit.js
  packages/block-library/src/cover-image/index.js
  packages/block-library/src/file/edit.js
  packages/block-library/src/gallery/edit.js
  packages/block-library/src/gallery/index.js
  packages/block-library/src/image/edit.js
  packages/block-library/src/video/edit.js
  packages/editor/src/components/media-placeholder/index.js
  packages/editor/src/components/media-upload/README.md
  packages/editor/src/components/post-featured-image/index.js
  packages/editor/src/components/rich-text/core-tokens/image/index.js
  packages/editor/src/utils/media-upload/index.js
  packages/editor/src/utils/media-upload/media-upload.js
  packages/editor/src/utils/media-upload/test/media-upload.js
Labels: Media, [Type] Enhancement

#10221 Fix gallery margin while typing
  packages/block-library/src/gallery/style.scss
Labels: Blocks, [Type] Bug

#10228 Fix wide regression
  packages/block-library/src/image/style.scss
  packages/editor/src/components/block-list/style.scss
Labels: [Type] Bug
