Repository WordPress/gutenberg, pull requests merged in 2018-08, with the labels that each got.

#8210 Update documentation on extending blocks to use lodash.assign for broader browser compatibility
  docs/extensibility/extending-blocks.md
Labels: Documentation

#8330 Saving: Open preview window before setting URL
  packages/editor/src/components/post-preview-button/index.js
  packages/editor/src/components/post-preview-button/test/index.js
  test/e2e/specs/preview.test.js
Labels: Automated Testing, Priority High, [Component] Saving, [Type] Bug

#8324 Remove title attributes from the Classic Editor warning
  lib/compat.php
Labels: Accessibility

#8300 Use a unique querystring package instead of three different ones
  core-blocks/embed/index.js
  core-blocks/latest-posts/edit.js
  package-lock.json
  package.json
  packages/components/package.json
  packages/components/src/server-side-render/index.js
  packages/editor/package.json
  packages/editor/src/components/page-attributes/parent.js
  packages/editor/src/components/post-taxonomies/flat-term-selector.js
  packages/editor/src/components/post-taxonomies/hierarchical-term-selector.js
  packages/editor/src/components/url-input/index.js
  packages/url/package.json
  packages/url/src/index.js
  packages/url/src/test/index.test.js
Labels: Code Quality

#8339 Add inline comment that explains a stopPropagation()
  packages/nux/src/components/dot-tip/index.js
Labels: Code Quality

#8290 Use standard label for Alt Text input
  core-blocks/image/edit.js
Labels: Accessibility

#8283 Try uncollapsing margins on the columns block.
  core-blocks/columns/editor.scss
Labels: [Type] Enhancement

#8169 Remove filler spaces from empty constructs.
  packages/components/src/navigable-container/test/index.js
  packages/editor/src/components/block-list/breadcrumb.js
  packages/editor/src/utils/media-upload/test/media-upload.js
Labels: Code Quality

#8031 Tags autocompleter keyboard interaction improvements.
  packages/components/src/form-token-field/index.js
  packages/components/src/form-token-field/test/index.js
  packages/components/src/form-token-field/test/lib/token-field-wrapper.js
Labels: Accessibility, Needs Design Feedback

#7864 Align timepicker to calendar
  packages/components/src/date-time/style.scss
Labels: UI Components

#8226 Docs: Button component
  packages/components/src/button/README.md
Labels: Documentation

#8087 Page Attributes: Fix: Parent-Dropdown missing for custom post-type.
  lib/rest-api.php
Labels: Regression, [Type] Bug

#8231 Introduces RichText component for mobile and ports Para block for mobile
  core-blocks/index.native.js
  core-blocks/paragraph/edit.js
  core-blocks/paragraph/edit.native.js
  core-blocks/paragraph/index.js
  packages/blocks/src/api/index.native.js
  packages/blocks/src/api/raw-handling/figure-content-reducer.js
  packages/blocks/src/api/raw-handling/index.js
  packages/blocks/src/api/raw-handling/index.native.js
  packages/blocks/src/api/raw-handling/is-inline-content.js
  packages/blocks/src/api/raw-handling/normalise-blocks.js
  packages/blocks/src/api/raw-handling/phrasing-content-reducer.js
  packages/blocks/src/api/raw-handling/phrasing-content.js
  packages/blocks/src/api/raw-handling/test/utils.js
  packages/blocks/src/api/raw-handling/utils.js
  packages/editor/src/components/font-sizes/index.native.js
  packages/editor/src/components/index.native.js
  packages/editor/src/components/rich-text/index.native.js
Labels: Mobile App Compatibility

#8311 Remove jQuery dependency from @wordpress/api-fetch
  lib/client-assets.php
  package-lock.json
  packages/api-fetch/package.json
  packages/api-fetch/src/middlewares/nonce.js
Labels: [Package] API fetch, [Type] Enhancement

#8267 Add components examples in README.md files - Part 1
  packages/components/src/autocomplete/README.md
  packages/components/src/base-control/README.md
  packages/components/src/button-group/README.md
  packages/components/src/button/README.md
  packages/components/src/checkbox-control/README.md
  packages/components/src/clipboard-button/README.md
  packages/components/src/color-indicator/README.md
  packages/components/src/color-palette/README.md
  packages/components/src/dashicon/README.md
  packages/components/src/date-time/README.md
  packages/components/src/disabled/README.md
  packages/components/src/draggable/README.md
  packages/components/src/drop-zone/README.md
  packages/components/src/dropdown-menu/README.md
  packages/components/src/dropdown/README.md
  packages/components/src/external-link/README.md
  packages/components/src/focusable-iframe/README.md
  packages/components/src/font-size-picker/README.md
  packages/components/src/form-file-upload/README.md
  packages/components/src/form-toggle/README.md
  packages/components/src/form-token-field/README.md
  packages/components/src/icon-button/README.md
  packages/components/src/keyboard-shortcuts/README.md
  packages/components/src/menu-group/README.md
  packages/components/src/menu-item/README.md
  packages/components/src/menu-items-choice/README.md
Labels: Documentation, UI Components, [Package] Components

#8358 Introduce a new 'Extending Editor' document specific to Editor filters
  docs/extensibility/extending-blocks.md
  docs/extensibility/extending-editor.md
  docs/root-manifest.json
Labels: Documentation

#8225 Feature/filter post taxonomies component output
  packages/editor/src/components/post-taxonomies/README.md
  packages/editor/src/components/post-taxonomies/flat-term-selector.js
  packages/editor/src/components/post-taxonomies/hierarchical-term-selector.js
Labels: Extensibility

#8011 Block Movers: Hide movers if there are no blocks before and after.
  packages/editor/src/components/block-mover/index.js
Labels: [Type] Enhancement

#8380 Add watch support for stylesheets in packages
  bin/packages/build.js
  bin/packages/watch.js
Labels: Build Tooling

#8386 Packages: Generate source maps and read those from the webpack build
  bin/packages/build.js
  package-lock.json
  package.json
  webpack.config.js
Labels: Build Tooling, Packages

#8341 Data: Add persistence via data plugin interface
  edit-post/index.js
  edit-post/store/index.js
  lib/client-assets.php
  packages/data/src/deprecated.js
  packages/data/src/index.js
  packages/data/src/persist.js
  packages/data/src/plugins/README.md
  packages/data/src/plugins/index.js
  packages/data/src/plugins/persistence/README.md
  packages/data/src/plugins/persistence/index.js
  packages/data/src/plugins/persistence/storage/default.js
  packages/data/src/plugins/persistence/storage/object.js
  packages/data/src/plugins/persistence/storage/test/object.js
  packages/data/src/plugins/persistence/test/index.js
  packages/data/src/registry.js
  packages/data/src/test/persist.js
  packages/data/src/test/registry.js
  packages/editor/src/store/index.js
  packages/nux/src/store/index.js
Labels: [Package] Data

#8332 Allow transitioning status from scheduled to draft
  packages/editor/src/components/post-saved-state/index.js
  packages/editor/src/components/post-switch-to-draft-button/index.js
Labels: [Component] Saving

#8457 Adds export getBlockTypes to be used in react native
  packages/blocks/src/api/index.native.js
Labels: Mobile App Compatibility

#8546 Fix link to server-side-render component
  docs/blocks/creating-dynamic-blocks.md
Labels: Documentation

#8555 Export the description for server-registered blocks
  lib/client-assets.php
Labels: Block API

#8572 Docs: Update links to resourced moved to packages folder
  packages/data/README.md
  packages/nux/README.md
Labels: Documentation

#8385 Polish focus and active styles, and do cleanups
  core-blocks/block/indicator/style.scss
  core-blocks/code/editor.scss
  core-blocks/freeform/editor.scss
  core-blocks/gallery/editor.scss
  core-blocks/html/editor.scss
  core-blocks/image/editor.scss
  core-blocks/table/editor.scss
  core-blocks/text-columns/editor.scss
  edit-post/assets/stylesheets/_colors.scss
  edit-post/assets/stylesheets/_mixins.scss
  edit-post/assets/stylesheets/_variables.scss
  edit-post/assets/stylesheets/main.scss
  edit-post/components/header/header-toolbar/style.scss
  edit-post/components/header/more-menu/style.scss
  edit-post/components/header/style.scss
  edit-post/components/layout/style.scss
  edit-post/components/meta-boxes/meta-boxes-area/style.scss
  edit-post/components/sidebar/block-sidebar/style.scss
  edit-post/components/sidebar/style.scss
  edit-post/components/text-editor/style.scss
  packages/components/src/color-palette/style.scss
  packages/components/src/dropdown-menu/style.scss
  packages/components/src/form-toggle/style.scss
  packages/components/src/form-token-field/style.scss
  packages/components/src/icon-button/style.scss
  packages/components/src/modal/style.scss
  packages/components/src/panel/style.scss
  packages/components/src/popover/style.scss
  packages/components/src/toolbar/style.scss
  packages/editor/src/components/block-inspector/style.scss
  packages/editor/src/components/block-list/style.scss
  packages/editor/src/components/block-mover/style.scss
  packages/editor/src/components/block-preview/style.scss
  packages/editor/src/components/block-settings-menu/style.scss
  packages/editor/src/components/block-styles/style.scss
  packages/editor/src/components/block-switcher/style.scss
  packages/editor/src/components/block-types-list/style.scss
  packages/editor/src/components/default-block-appender/style.scss
  packages/editor/src/components/inserter-with-shortcuts/style.scss
  packages/editor/src/components/inserter/style.scss
  packages/editor/src/components/post-featured-image/style.scss
  packages/editor/src/components/post-permalink/style.scss
  packages/editor/src/components/post-publish-panel/style.scss
  packages/editor/src/components/post-text-editor/style.scss
  packages/editor/src/components/post-title/style.scss
  packages/editor/src/components/rich-text/format-toolbar/style.scss
  packages/editor/src/components/warning/style.scss
Labels: Accessibility

#8357 Data Module: Adding The queried data handling into the entities abstraction
  lib/client-assets.php
  package-lock.json
  packages/core-data/package.json
  packages/core-data/src/actions.js
  packages/core-data/src/queried-data/actions.js
  packages/core-data/src/queried-data/get-query-parts.js
  packages/core-data/src/queried-data/index.js
  packages/core-data/src/queried-data/reducer.js
  packages/core-data/src/queried-data/selectors.js
  packages/core-data/src/queried-data/test/get-query-parts.js
  packages/core-data/src/queried-data/test/reducer.js
  packages/core-data/src/queried-data/test/selectors.js
  packages/core-data/src/reducer.js
  packages/core-data/src/resolvers.js
  packages/core-data/src/selectors.js
  packages/core-data/src/test/reducer.js
  packages/core-data/src/test/resolvers.js
  packages/core-data/src/test/selectors.js
  packages/core-data/src/utils/if-matching-action.js
  packages/core-data/src/utils/index.js
  packages/core-data/src/utils/on-sub-key.js
  packages/core-data/src/utils/replace-action.js
  packages/core-data/src/utils/test/if-matching-action.js
  packages/core-data/src/utils/test/on-sub-key.js
  packages/core-data/src/utils/test/replace-action.js
  packages/core-data/src/utils/test/with-weak-map-cache.js
  packages/core-data/src/utils/with-weak-map-cache.js
Labels: [Package] Data

#8578 DomReady: Fix race condition
  packages/dom-ready/src/index.js
  packages/dom-ready/src/test/index.test.js
Labels: [Type] Bug

#8591 Fix awkward capitalisation in demo post content; fixes #8590.
  post-content.php
Labels: Copy

#8584 API: Replace all withAPIData usage and deprecate the HoC
  core-blocks/latest-posts/edit.js
  docs/blocks/creating-dynamic-blocks.md
  docs/reference/deprecated.md
  packages/components/src/higher-order/with-api-data/index.js
  packages/components/src/higher-order/with-api-data/test/index.js
  packages/core-data/src/entities.js
  packages/editor/src/components/page-attributes/parent.js
Labels: Code Quality

#8587 Inserter: Try making the inline tokens less important
  packages/editor/src/components/inserter/menu.js
  packages/editor/src/components/inserter/results-portal.js
  packages/editor/src/components/inserter/style.scss
  packages/editor/src/components/rich-text/tokens/ui/index.js
  test/e2e/specs/adding-inline-tokens.test.js
  test/e2e/support/utils.js
Labels: Needs Design Feedback

#7751 Do not show separator in block settings menu if template is locked
  packages/editor/src/components/block-settings-menu/style.scss
Labels: Chrome

#8598 Avoid using elt.remove because it's unavailable in ie11
  gutenberg.php
Labels: Browser Issues, [Type] Bug

#8465 TinyMCE: Remove container assignment hack
  packages/editor/src/components/rich-text/tinymce.js
  test/e2e/specs/__snapshots__/rich-text.test.js.snap
  test/e2e/specs/rich-text.test.js
Labels: [Component] TinyMCE

#8154 Add a note about handling blocks with `save`
  docs/block-api.md
Labels: Documentation, [Type] Enhancement

#8461 DOM: Restore horizontal edge traversal implementation
  packages/dom/src/dom.js
  test/e2e/specs/__snapshots__/splitting-merging.test.js.snap
  test/e2e/specs/splitting-merging.test.js
Labels: [Component] Rich Text, [Package] DOM

#8630 swaps out the CSS2 :before with the CSS3 ::before
  core-blocks/cover-image/editor.scss
  core-blocks/cover-image/style.scss
  core-blocks/freeform/editor.scss
  core-blocks/more/editor.scss
  core-blocks/nextpage/editor.scss
  core-blocks/pullquote/editor.scss
  core-blocks/separator/style.scss
  edit-post/assets/stylesheets/_z-index.scss
  edit-post/assets/stylesheets/main.scss
  edit-post/components/meta-boxes/meta-boxes-area/style.scss
  packages/components/src/color-palette/style.scss
  packages/components/src/dropdown-menu/style.scss
  packages/components/src/form-toggle/style.scss
  packages/components/src/popover/style.scss
  packages/components/src/toolbar/style.scss
  packages/components/src/tooltip/style.scss
  packages/editor/src/components/block-list/style.scss
  packages/editor/src/components/block-settings-menu/style.scss
  packages/editor/src/components/document-outline/style.scss
  packages/nux/src/components/dot-tip/style.scss
Labels: Code Quality

#8646 Fix issue with link dialog.
  packages/editor/src/components/url-input/style.scss
Labels: [Type] Bug

#8096 Data: Add redux-routine package for synchronous generator flow
  lib/client-assets.php
  package-lock.json
  package.json
  packages/data/README.md
  packages/data/package.json
  packages/data/src/plugins/controls/index.js
  packages/data/src/plugins/index.js
  packages/data/src/registry.js
  packages/redux-routine/.npmrc
  packages/redux-routine/README.md
  packages/redux-routine/package.json
  packages/redux-routine/src/cast-error.js
  packages/redux-routine/src/index.js
  packages/redux-routine/src/is-generator.js
  packages/redux-routine/src/test/cast-error.js
  packages/redux-routine/src/test/index.js
  packages/redux-routine/src/test/is-generator.js
  webpack.config.js
Labels: Framework, Packages, [Package] Core data, [Package] Data

#7895 Block settings extensibility
  edit-post/README.md
  edit-post/components/block-settings-menu/plugin-block-settings-menu-group.js
  edit-post/components/block-settings-menu/plugin-block-settings-menu-item.js
  edit-post/components/visual-editor/index.js
  edit-post/index.js
  packages/editor/src/components/block-settings-menu/block-settings-menu-plugins-extension.js
  packages/editor/src/components/block-settings-menu/index.js
  packages/editor/src/components/index.js
Labels: Extensibility

#6678 Move embed API call out of block and into data
  core-blocks/embed/index.js
  core-blocks/embed/test/index.js
  packages/core-data/src/actions.js
  packages/core-data/src/reducer.js
  packages/core-data/src/resolvers.js
  packages/core-data/src/selectors.js
  packages/core-data/src/test/reducer.js
  packages/core-data/src/test/resolvers.js
  packages/core-data/src/test/selectors.js
Labels: Blocks, [Status] In Progress

#8661 Packages: Redux Routine: Remove fake timers from tests
  packages/redux-routine/src/test/index.js
Labels: Automated Testing, [Package] Redux Routine

#8682 Initialize the Autosaves controller, even if revisions are disabled
  lib/rest-api.php
Labels: REST API Interaction, [Component] Saving, [Type] Bug

#8454 Move CI back to latest WordPress version and bump minimum version to 4.9.8
  .travis.yml
  bin/install-wordpress.sh
  docker-compose.yml
  gutenberg.php
  lib/rest-api.php
  phpunit/class-gutenberg-rest-api-test.php
Labels: Automated Testing, Breaking Change

#8323 Add `gutenberg_can_edit_post` filter
  lib/register.php
  phpunit/class-admin-test.php
Labels: Extensibility, [Type] Enhancement

#8700 Update `package-lock.json`
  package-lock.json
  packages/editor/src/components/default-block-appender/test/__snapshots__/index.js.snap
Labels: Automated Testing

#8586 Set babel dependencies to fixed version and added core-js2 support
  package-lock.json
  package.json
  packages/a11y/package.json
  packages/api-fetch/package.json
  packages/autop/package.json
  packages/babel-plugin-import-jsx-pragma/package.json
  packages/babel-plugin-makepot/package.json
  packages/babel-preset-default/index.js
  packages/babel-preset-default/package.json
  packages/blob/package.json
  packages/blocks/package.json
  packages/components/package.json
  packages/compose/package.json
  packages/core-data/package.json
  packages/custom-templated-path-webpack-plugin/package.json
  packages/data/package.json
  packages/date/package.json
  packages/deprecated/package.json
  packages/dom-ready/package.json
  packages/dom/package.json
  packages/editor/package.json
  packages/element/package.json
  packages/hooks/package.json
  packages/html-entities/package.json
  packages/i18n/package.json
  packages/is-shallow-equal/package.json
  packages/jest-console/package.json
  packages/keycodes/package.json
  packages/library-export-default-webpack-plugin/package.json
  packages/nux/package.json
  packages/plugins/package.json
  packages/postcss-themes/package.json
  packages/shortcode/package.json
  packages/url/package.json
  packages/viewport/package.json
  packages/wordcount/package.json
Labels: Packages, [Type] Bug

#8660 Packages: Redux Routine: Add Babel runtime dependency
  package-lock.json
  packages/editor/src/components/default-block-appender/test/__snapshots__/index.js.snap
  packages/jest-preset-default/package.json
  packages/redux-routine/package.json
Labels: [Package] Redux Routine

#8250 Remove unused terms, taxonomies and categories code
  docs/data/data-core.md
  docs/reference/deprecated.md
  packages/core-data/README.md
  packages/core-data/src/actions.js
  packages/core-data/src/resolvers.js
  packages/core-data/src/selectors.js
  packages/core-data/src/test/resolvers.js
  packages/core-data/src/test/selectors.js
Labels: Breaking Change

#8691 DOM: Abort selection range set on unset range target
  packages/dom/src/dom.js
  test/e2e/specs/__snapshots__/splitting-merging.test.js.snap
  test/e2e/specs/splitting-merging.test.js
Labels: Writing Flow, [Type] Bug

#8640 Add a warning when Cloudflare blocks REST API requests
  lib/compat.php
  packages/api-fetch/src/index.js
  packages/api-fetch/src/test/index.js
  packages/editor/src/store/effects/posts.js
Labels: Priority High, [Type] Enhancement

#8301 Try to rewrite e2e tests using jest-puppeter preset
  .travis.yml
  package-lock.json
  package.json
  test/e2e/jest.config.json
  test/e2e/puppeteer.config.js
  test/e2e/specs/__snapshots__/undo.test.js.snap
  test/e2e/specs/a11y.test.js
  test/e2e/specs/adding-blocks.test.js
  test/e2e/specs/adding-inline-tokens.test.js
  test/e2e/specs/block-icons.test.js
  test/e2e/specs/block-mover.test.js
  test/e2e/specs/change-detection.test.js
  test/e2e/specs/classic-editor.test.js
  test/e2e/specs/formatting-controls.test.js
  test/e2e/specs/hello.test.js
  test/e2e/specs/hooks-api.test.js
  test/e2e/specs/managing-links.test.js
  test/e2e/specs/meta-boxes.test.js
  test/e2e/specs/multi-block-selection.test.js
  test/e2e/specs/nux.test.js
  test/e2e/specs/plugins-api.test.js
  test/e2e/specs/preview.test.js
  test/e2e/specs/publishing.test.js
  test/e2e/specs/reusable-blocks.test.js
  test/e2e/specs/rich-text.test.js
  test/e2e/specs/sidebar-behaviour.test.js
  test/e2e/specs/splitting-merging.test.js
  test/e2e/specs/style-variation.test.js
  test/e2e/specs/templates.test.js
  test/e2e/specs/undo.test.js
  test/e2e/specs/writing-flow.test.js
  test/e2e/support/bootstrap.js
  test/e2e/support/plugins.js
  test/e2e/support/setup-test-framework.js
  test/e2e/support/utils.js
Labels: Automated Testing

#8337 Add "components" docs
  docs/data/data-core-editor.md
  docs/data/data-core.md
  docs/manifest.json
  docs/root-manifest.json
  docs/tool/config.js
  docs/tool/index.js
  docs/tool/manifest.js
  package-lock.json
  package.json
Labels: Build Tooling, Documentation

#8642 NUX: Prevent duplicate DotTips from appearing
  packages/editor/src/components/default-block-appender/test/__snapshots__/index.js.snap
  packages/editor/src/components/post-preview-button/test/__snapshots__/index.js.snap
  packages/nux/src/components/dot-tip/README.md
  packages/nux/src/components/dot-tip/index.js
  packages/nux/src/components/dot-tip/test/index.js
  packages/nux/src/store/actions.js
  packages/nux/src/store/reducer.js
  packages/nux/src/store/selectors.js
  packages/nux/src/store/test/actions.js
  packages/nux/src/store/test/reducer.js
  packages/nux/src/store/test/selectors.js
Labels: [Package] NUX, [Type] Bug

#8588 Polish the checkbox, update switch documentation
  edit-post/assets/stylesheets/main.scss
  packages/components/src/base-control/style.scss
  packages/components/src/checkbox-control/style.scss
  packages/components/src/form-toggle/README.md
  packages/editor/src/components/post-comments/index.js
  packages/editor/src/components/post-pending-status/index.js
  packages/editor/src/components/post-pingbacks/index.js
  packages/editor/src/components/post-sticky/index.js
  packages/editor/src/components/post-taxonomies/style.scss
  test/e2e/specs/change-detection.test.js
Labels: Accessibility

#8451 Blocks: Render Button RichText as div
  core-blocks/button/edit.js
  core-blocks/button/test/__snapshots__/index.js.snap
Labels: Blocks, [Type] Bug

#8706 onWriting Flow: Remove the provisional block behavior
  docs/data/data-core-editor.md
  packages/editor/src/store/actions.js
  packages/editor/src/store/effects.js
  packages/editor/src/store/reducer.js
  packages/editor/src/store/selectors.js
  packages/editor/src/store/test/effects.js
  packages/editor/src/store/test/reducer.js
  packages/editor/src/store/test/selectors.js
  test/e2e/specs/adding-blocks.test.js
  test/e2e/specs/writing-flow.test.js
Labels: Writing Flow, [Type] Bug

#8464 Bug fixes for full/wide image alignments.
  core-blocks/image/edit.js
Labels: Blocks, Media, [Type] Bug

#8335 Expand date filter select box width
  edit-post/assets/stylesheets/main.scss
Labels: [Type] Bug

#7879 Improve pre-publish panel styling
  packages/editor/src/components/post-publish-panel/prepublish.js
  packages/editor/src/components/post-publish-panel/style.scss
Labels: Writing Flow

#8730 Packages: update api-fetch package documentation
  packages/api-fetch/README.md
Labels: Packages, [Package] API fetch

#8728 Prevent Travis from running when changes are only made to .md files
  .travis.yml
Labels: Build Tooling

#8005 Additional keyboard shortcuts for the navigateRegions component
  packages/components/src/higher-order/navigate-regions/index.js
Labels: Accessibility

#8400 Meta boxes absent when script enqueued in head depends on `wp-edit-post`
  lib/meta-box-partial-page.php
Labels: [Component] Meta Boxes, [Type] Bug

#8755 Sort strikethrough after link
  packages/editor/src/components/rich-text/format-toolbar/index.js
Labels: [Type] Enhancement

#8741 Fix 'Prevent duplicate DotTips from appearing' feedback
  packages/nux/src/store/actions.js
  packages/nux/src/store/reducer.js
Labels: Code Quality, NUX

#8721 Testing: Trigger E2E test failure on console logging
  test/e2e/specs/change-detection.test.js
  test/e2e/support/setup-test-framework.js
  test/e2e/support/utils.js
Labels: Automated Testing

#8759 Update Lerna to 3.0.0-rc.0
  package-lock.json
  package.json
Labels: Build Tooling

#8688 Publishes unknown-type handler methods for mobile.
  packages/blocks/src/api/index.native.js
Labels: Block API, Mobile App Compatibility, [Type] Enhancement

#8775 Element: Improve validation for attribute names in serializer
  packages/element/src/serialize.js
  packages/element/src/test/serialize.js
Labels: [Package] Element

#8735 RichText: Fix empty value delete behaviors
  packages/editor/src/components/rich-text/index.js
  test/e2e/specs/__snapshots__/splitting-merging.test.js.snap
  test/e2e/specs/splitting-merging.test.js
  test/e2e/support/utils.js
Labels: Writing Flow, [Component] Rich Text, [Type] Bug

#8784 Update plugin version to 3.5
  gutenberg.php
  package-lock.json
  package.json
Labels: [Component] Plugin

#8279 Add new keyboard shortcuts for block settings menu
  edit-post/components/header/fixed-toolbar-toggle/index.js
  edit-post/components/header/index.js
  edit-post/components/header/mode-switcher/index.js
  edit-post/components/header/plugin-sidebar-more-menu-item/index.js
  edit-post/components/header/tips-toggle/index.js
  edit-post/components/keyboard-shortcuts/index.js
  edit-post/components/sidebar/sidebar-header/index.js
  edit-post/components/visual-editor/block-inspector-button.js
  edit-post/components/visual-editor/index.js
  edit-post/keyboard-shortcuts.js
  packages/components/src/menu-item/index.js
  packages/components/src/menu-item/style.scss
  packages/components/src/menu-item/test/__snapshots__/index.js.snap
  packages/components/src/menu-item/test/index.js
  packages/components/src/menu-items-choice/index.js
  packages/editor/src/components/block-list/block.js
  packages/editor/src/components/block-settings-menu/block-convert-button.js
  packages/editor/src/components/block-settings-menu/block-duplicate-button.js
  packages/editor/src/components/block-settings-menu/block-mode-toggle.js
  packages/editor/src/components/block-settings-menu/block-remove-button.js
  packages/editor/src/components/block-settings-menu/index.js
  packages/editor/src/components/block-settings-menu/reusable-block-convert-button.js
  packages/editor/src/components/block-settings-menu/reusable-block-delete-button.js
  packages/editor/src/components/block-settings-menu/test/__snapshots__/block-remove-button.js.snap
  packages/editor/src/components/block-settings-menu/test/__snapshots__/reusable-block-delete-button.js.snap
  packages/editor/src/components/block-settings-menu/test/block-mode-toggle.js
  packages/editor/src/components/block-settings-menu/test/block-remove-button.js
  packages/editor/src/components/block-settings-menu/test/reusable-block-convert-button.js
  packages/editor/src/components/block-settings-menu/test/reusable-block-delete-button.js
  packages/keycodes/src/index.js
  packages/keycodes/src/test/index.js
Labels: Accessibility, Blocks, [Type] Enhancement

#8316 Add new keyboard shortcuts help modal
  core-blocks/freeform/edit.js
  edit-post/components/header/keyboard-shortcuts-help-menu-item/index.js
  edit-post/components/header/more-menu/index.js
  edit-post/components/keyboard-shortcut-help-modal/config.js
  edit-post/components/keyboard-shortcut-help-modal/index.js
  edit-post/components/keyboard-shortcut-help-modal/style.scss
  edit-post/components/keyboard-shortcut-help-modal/test/__snapshots__/index.js.snap
  edit-post/components/keyboard-shortcut-help-modal/test/index.js
  edit-post/components/layout/index.js
  edit-post/store/actions.js
  edit-post/store/reducer.js
  edit-post/store/selectors.js
  edit-post/store/test/actions.js
  edit-post/store/test/reducer.js
  edit-post/store/test/selectors.js
  packages/components/src/menu-item/style.scss
  packages/keycodes/src/index.js
  packages/keycodes/src/test/index.js
  test/e2e/specs/change-detection.test.js
  test/e2e/specs/formatting-controls.test.js
  test/e2e/specs/multi-block-selection.test.js
  test/e2e/specs/shortcut-help.test.js
  test/e2e/specs/splitting-merging.test.js
  test/e2e/specs/undo.test.js
  test/e2e/specs/writing-flow.test.js
  test/e2e/support/utils.js
Labels: Accessibility, [Type] Enhancement

#8758 Pad menus
  packages/components/src/menu-group/style.scss
  packages/editor/src/components/block-settings-menu/index.js
  packages/editor/src/components/block-settings-menu/style.scss
Labels: [Type] Enhancement

#8774 Port heading block to mobile
  core-blocks/heading/edit.native.js
  core-blocks/index.native.js
  core-blocks/paragraph/edit.native.js
  packages/editor/src/components/rich-text/index.native.js
Labels: Blocks, Mobile App Compatibility

#8820 Audio Block: Avoid scrollbars when shown full-width
  core-blocks/audio/editor.scss
Labels: Blocks

#8819 Make active pill button look pressed.
  edit-post/assets/stylesheets/_z-index.scss
  packages/components/src/button-group/style.scss
Labels: [Type] Enhancement

#8831 Framework: Remove client-side document title updates
  edit-post/components/layout/index.js
  gutenberg.php
  packages/editor/src/components/document-title/index.js
  packages/editor/src/store/selectors.js
  packages/editor/src/store/test/selectors.js
Labels: Backwards Compatibility, Framework

#8850 Ensure meta box functions are available in Gutenberg context
  gutenberg.php
Labels: Backwards Compatibility, [Type] Bug, [Type] Plugin / Theme Interoperability

#8811 Update Dashicons component.
  packages/components/src/dashicon/index.js
Labels: [Type] Enhancement

#8808 Add a license checker script
  package-lock.json
  package.json
  packages/scripts/package.json
  packages/scripts/scripts/check-licenses.js
Labels: [Package] Scripts

#8834 Fix unhandled error dialog styling
  packages/editor/src/components/block-list/style.scss
  packages/editor/src/components/error-boundary/index.js
  packages/editor/src/components/error-boundary/style.scss
  packages/editor/src/components/warning/index.js
  packages/editor/src/components/warning/style.scss
  packages/editor/src/style.scss
Labels: [Type] Bug

#8801 Add styles for Spinner component
  block-library/html/test/__snapshots__/index.js.snap
  edit-post/assets/stylesheets/_animations.scss
  edit-post/components/meta-boxes/meta-boxes-area/style.scss
  packages/block-library/src/gallery/editor.scss
  packages/components/src/spinner/index.js
  packages/components/src/spinner/style.scss
  packages/components/src/style.scss
  packages/editor/src/components/post-featured-image/style.scss
  packages/editor/src/components/post-publish-panel/style.scss
  packages/editor/src/components/url-input/style.scss
Labels: Needs Design Feedback, [Package] Components

#8662 URLInput: Pass the the search result object to props.onChange
  packages/editor/src/components/url-input/README.md
  packages/editor/src/components/url-input/index.js
Labels: [Type] Enhancement

#8837 IE11: Fix default appender placeholder
  edit-post/components/visual-editor/style.scss
  packages/editor/src/components/default-block-appender/style.scss
Labels: Browser Issues, [Type] Bug

#8908 Data Module: Correctly handle per_page=-1 in the queried data state
  edit-post/hooks/components/media-upload/index.js
  packages/core-data/src/queried-data/get-query-parts.js
  packages/core-data/src/queried-data/selectors.js
  packages/core-data/src/queried-data/test/get-query-parts.js
  packages/core-data/src/queried-data/test/reducer.js
Labels: [Package] Core data, [Type] Bug

#8923 Test: Ensure the full content integration test is run
  test/integration/full-content/full-content.spec.js
Labels: Automated Testing

#8771 i18n: Use argument swapping instead of named arguments for string placeholders
  packages/editor/src/components/block-mover/mover-description.js
Labels: i18n

#8928 Remove the workaround for intermittent multiple-tab preview test failure
  test/e2e/specs/preview.test.js
Labels: Automated Testing

#8915 Fix paragraph splits on RN
  packages/block-library/package.json
  packages/editor/src/components/rich-text/index.native.js
Labels: Mobile App Compatibility, [Type] Bug

#8805 Add remove block keyboard shortcut
  edit-post/components/keyboard-shortcut-help-modal/config.js
  edit-post/components/keyboard-shortcut-help-modal/test/__snapshots__/index.js.snap
  packages/editor/src/components/block-settings-menu/index.js
  packages/editor/src/components/rich-text/index.js
Labels: [Type] Enhancement

#8924 Update & flesh out design handbook
  docs/design.md
  docs/design/block-design.md
  docs/design/design-patterns.md
  docs/design/design-resources.md
  docs/manifest.json
  docs/reference.md
  docs/reference/design-principles.md
  docs/root-manifest.json
Labels: Documentation

#8189 Components: Deprecate `withContext` HOC and remove its usage
  docs/reference/deprecated.md
  packages/blocks/src/block-content-provider/index.js
  packages/blocks/src/index.js
  packages/components/src/higher-order/with-context/index.js
  packages/components/src/higher-order/with-context/test/index.js
  packages/editor/src/components/inner-blocks/index.js
  packages/element/src/serialize.js
  packages/element/src/test/serialize.js
Labels: Breaking Change, [Package] Components

#8922 Fix the shortcode block UI in IE11
  packages/block-library/src/shortcode/editor.scss
Labels: Browser Issues, [Type] Bug

#8918 Tags: Fix the tags input in IE11
  packages/components/src/form-token-field/style.scss
Labels: Browser Issues, [Type] Bug

#8004 [Enhancement] Change color of links in gallery block caption
  packages/block-library/src/gallery/editor.scss
Labels: Blocks, Needs Design Feedback, [Type] Enhancement

#8967 Fix our custom element serializer in IE11
  packages/element/src/serialize.js
Labels: Browser Issues, [Type] Bug

#8909 Add new Insert Before/After menu items and shortcuts
  edit-post/components/keyboard-shortcut-help-modal/config.js
  edit-post/components/keyboard-shortcut-help-modal/test/__snapshots__/index.js.snap
  packages/editor/src/components/block-settings-menu/index.js
Labels: Blocks, [Type] Enhancement

#8446 Preview: Open new window if prior preview window closed
  packages/editor/src/components/post-preview-button/index.js
Labels: [Component] Saving

#8998 Element: Create dummy context components for type switch
  packages/element/src/serialize.js
Labels: Browser Issues, Code Quality, [Package] Element

#9014 Fix canvas jumb when navigation regions
  edit-post/components/layout/style.scss
Labels: [Type] Bug

#9015 Bring the preview tab to the front when clicking the preview button.
  packages/editor/src/components/post-preview-button/index.js
  packages/editor/src/components/post-preview-button/test/index.js
Labels: [Type] Bug

#8913 toAsyncIterable: remove Promise.resolve call that's already done by the JS runtime
  packages/data/src/registry.js
Labels: Code Quality, [Package] Data

#8995 Edit Post: Reset active sidebar tab on initial load
  docs/data/data-core-edit-post.md
  edit-post/store/defaults.js
  edit-post/store/reducer.js
  edit-post/store/selectors.js
  edit-post/store/test/reducer.js
  edit-post/store/test/selectors.js
  test/e2e/specs/preferences.test.js
Labels: Chrome, [Type] Bug

#8631 Add generic has_blocks function
  lib/blocks.php
  lib/compat.php
  lib/plugin-compat.php
  lib/register.php
  phpunit/class-admin-test.php
  phpunit/class-registration-test.php
Labels: Templates API, [Type] Enhancement

#9024 Publish button: Avoid changing the label of the "publish" button if an auto-save is being performed
  packages/editor/src/components/post-publish-button/label.js
Labels: Needs Design Feedback

#9010 Polish permalink UI and make it responsive
  edit-post/assets/stylesheets/main.scss
  packages/editor/src/components/block-list/style.scss
  packages/editor/src/components/post-permalink/editor.js
  packages/editor/src/components/post-permalink/style.scss
Labels: [Type] Bug

#8914 Release font-size for code.
  packages/editor/src/components/rich-text/style.scss
Labels: [Type] Bug

#8856 Add styles for Notice component
  edit-post/components/layout/style.scss
  packages/components/src/notice/README.md
  packages/components/src/notice/index.js
  packages/components/src/notice/style.scss
  packages/components/src/notice/test/__snapshots__/index.js.snap
  packages/editor/src/components/block-list/style.scss
  packages/editor/src/components/contrast-checker/style.scss
  packages/editor/src/components/contrast-checker/test/__snapshots__/index.js.snap
  test/e2e/specs/change-detection.test.js
  test/e2e/specs/preview.test.js
  test/e2e/specs/reusable-blocks.test.js
  test/e2e/support/utils.js
Labels: [Package] Components, [Type] Enhancement

#8964 IE11: Fix The metaboxes area position (overlapping the content)
  edit-post/components/layout/style.scss
Labels: Browser Issues, [Type] Bug

#8962 Fix the block styles in IE11
  packages/editor/src/components/block-styles/style.scss
  packages/editor/src/components/block-switcher/style.scss
  packages/editor/src/components/inserter/style.scss
Labels: Browser Issues, [Type] Bug

#8840 Fix the heading level buttons in IE11
  packages/components/src/toolbar/style.scss
  packages/editor/src/components/block-list/style.scss
  packages/editor/src/components/block-toolbar/style.scss
Labels: Browser Issues, [Type] Bug

#8993 Framework: Remove deprecations slated for 3.6 removal
  .eslintrc.js
  docs/reference/deprecated.md
  edit-post/index.js
  lib/client-assets.php
  packages/blocks/CHANGELOG.md
  packages/blocks/src/api/index.js
  packages/blocks/src/api/registration.js
  packages/data/CHANGELOG.md
  packages/data/src/deprecated.js
  packages/data/src/index.js
  packages/editor/CHANGELOG.md
  packages/editor/src/hooks/align.js
  packages/editor/src/store/actions.js
  packages/editor/src/store/selectors.js
  packages/editor/src/utils/index.js
  utils/index.js
  utils/mediaupload.js
  webpack.config.js
Labels: Breaking Change, Framework

#8916 Custom Block Icons
  block-library/freeform/index.js
  block-library/html/index.js
  edit-post/assets/stylesheets/_mixins.scss
  edit-post/assets/stylesheets/_variables.scss
  edit-post/components/sidebar/plugin-post-publish-panel/test/__snapshots__/index.js.snap
  edit-post/components/sidebar/plugin-pre-publish-panel/test/__snapshots__/index.js.snap
  packages/block-library/src/archives/index.js
  packages/block-library/src/audio/index.js
  packages/block-library/src/button/index.js
  packages/block-library/src/categories/index.js
  packages/block-library/src/code/index.js
  packages/block-library/src/columns/index.js
  packages/block-library/src/cover-image/index.js
  packages/block-library/src/embed/index.js
  packages/block-library/src/embed/test/__snapshots__/index.js.snap
  packages/block-library/src/file/index.js
  packages/block-library/src/gallery/index.js
  packages/block-library/src/heading/index.js
  packages/block-library/src/image/index.js
  packages/block-library/src/latest-comments/index.js
  packages/block-library/src/latest-posts/index.js
  packages/block-library/src/list/index.js
  packages/block-library/src/more/index.js
  packages/block-library/src/nextpage/index.js
  packages/block-library/src/paragraph/index.js
  packages/block-library/src/preformatted/index.js
  packages/block-library/src/pullquote/index.js
  packages/block-library/src/quote/index.js
  packages/block-library/src/separator/index.js
  packages/block-library/src/shortcode/index.js
  packages/block-library/src/spacer/index.js
  packages/block-library/src/subhead/index.js
  packages/block-library/src/table/index.js
  packages/block-library/src/verse/index.js
  packages/block-library/src/video/index.js
  packages/blocks/src/api/registration.js
  packages/blocks/src/api/test/registration.js
  packages/blocks/src/api/utils.js
  packages/components/src/panel/body.js
  packages/components/src/panel/style.scss
  packages/components/src/panel/test/body.js
  packages/editor/src/components/autocompleters/block.js
  packages/editor/src/components/autocompleters/style.scss
  packages/editor/src/components/block-icon/index.js
  packages/editor/src/components/block-icon/style.scss
  packages/editor/src/components/block-icon/test/index.js
  packages/editor/src/components/block-inspector/style.scss
  packages/editor/src/components/block-styles/style.scss
  packages/editor/src/components/block-switcher/style.scss
  packages/editor/src/components/block-types-list/index.js
  packages/editor/src/components/block-types-list/style.scss
  packages/editor/src/components/default-block-appender/style.scss
  packages/editor/src/components/inserter-with-shortcuts/style.scss
  packages/editor/src/components/inserter/style.scss
  packages/editor/src/components/rich-text/core-tokens/image/index.js
  test/e2e/specs/block-icons.test.js
Labels: [Component] Inserter

#8984 Introduce strip_dynamic_blocks() for excerpts
  lib/blocks.php
  phpunit/class-blocks-api-test.php
Labels: Block API, [Type] Enhancement

#9058 Add has_block function and unit tests for it
  lib/register.php
  phpunit/class-block-type-test.php
Labels: Block API, [Type] Enhancement

#9069 Move MoreMenu-specific styling away from Popover CSS
  edit-post/components/header/more-menu/index.js
  edit-post/components/header/more-menu/style.scss
  edit-post/components/header/more-menu/test/__snapshots__/index.js.snap
  packages/components/src/popover/style.scss
Labels: [Type] Bug

#9068 Fix recents hover style
  packages/editor/src/components/default-block-appender/style.scss
Labels: [Type] Bug

#9064 Leaner code for the native mobile Toolbar
  packages/components/src/button/index.native.js
  packages/components/src/dashicon/index.js
  packages/components/src/dashicon/path.js
  packages/components/src/dashicon/path.native.js
  packages/components/src/dashicon/svg.js
  packages/components/src/dashicon/svg.native.js
  packages/components/src/icon-button/index.native.js
  packages/components/src/index.native.js
  packages/components/src/toolbar/index.js
  packages/components/src/toolbar/index.native.js
  packages/components/src/toolbar/toolbar-button-container.js
  packages/components/src/toolbar/toolbar-button-container.native.js
  packages/components/src/toolbar/toolbar-container.js
  packages/components/src/toolbar/toolbar-container.native.js
  packages/components/src/tooltip/index.native.js
  packages/editor/src/components/rich-text/format-toolbar/index.native.js
  packages/editor/src/components/rich-text/index.native.js
  packages/keycodes/src/platform.js
  packages/keycodes/src/platform.native.js
Labels: Framework, Mobile App Compatibility

#9071 Fix issues with drag and drop over text
  packages/components/src/drop-zone/style.scss
  packages/editor/src/components/block-drop-zone/style.scss
Labels: [Type] Bug

#9052 Update version of the plugin to 3.6.0.
  gutenberg.php
  package-lock.json
  package.json
Labels: [Component] Plugin

#9082 Fix to allow publishing pages
  packages/editor/src/components/post-publish-panel/maybe-tags-panel.js
Labels: [Type] Bug

#9081 Fix issue with block menu
  packages/editor/src/components/block-settings-menu/style.scss
Labels: [Type] Bug

#9086 Restore min-width to popover.
  packages/components/src/popover/style.scss
Labels: [Type] Bug

#9083 Fix wide toolbar regression.
  packages/editor/src/components/block-list/style.scss
Labels: [Type] Bug

#9090 Add e2e test for publishing a page
  test/e2e/specs/publishing.test.js
Labels: Automated Testing

#9093 Framework: Fix typo for removing excerpt block stripping
  lib/blocks.php
Labels: Framework

#9094 chore: Release 3.6.2
  gutenberg.php
  package-lock.json
  package.json
Labels: [Component] Plugin

#9144 chore: update `stylelint` to `9.5.0` and `stylelint-config-wordpress` to `13.1.0`
  package-lock.json
  package.json
Labels: Build Tooling

#9152 Update icons for Paragraph, Heading and Subheading for clarity
  packages/block-library/src/heading/index.js
  packages/block-library/src/paragraph/index.js
  packages/block-library/src/subhead/index.js
Labels: [Type] Enhancement

#7721 Revisit image floats.
  edit-post/assets/stylesheets/_z-index.scss
  packages/block-library/src/image/edit.js
  packages/block-library/src/image/editor.scss
  packages/block-library/src/image/index.js
  packages/block-library/src/image/style.scss
  packages/editor/src/components/block-list/style.scss
  phpunit/fixtures/long-content.html
  post-content.php
  test/integration/full-content/fixtures/core__image__center-caption.html
  test/integration/full-content/fixtures/core__image__center-caption.json
  test/integration/full-content/fixtures/core__image__center-caption.parsed.json
  test/integration/full-content/fixtures/core__image__center-caption.serialized.html
  test/integration/full-content/fixtures/core__latest-posts.json
  test/integration/full-content/fixtures/core__latest-posts__displayPostDate.json
  test/integration/full-content/server-registered.json
Labels: Media

#9155 Documentation: document block style variations
  docs/extensibility/extending-blocks.md
Labels: Documentation

#9161 Hotfix for publishing pages
  packages/editor/src/components/post-publish-panel/maybe-tags-panel.js
Labels: [Type] Bug

#9159 Update Heading icon
  packages/block-library/src/heading/index.js
  packages/block-library/src/subhead/index.js
Labels: [Type] Enhancement

#9166 Fix Eslint issues found in block-serialization-spec-parser packages
  .eslintignore
  packages/block-serialization-spec-parser/test/__snapshots__/index.js.snap
  packages/block-serialization-spec-parser/test/index.js
Labels: Code Quality

#9105 Blocks: Fix excess whitespace in block style class name (new package: TokenList)
  docs/manifest.json
  lib/client-assets.php
  packages/editor/package.json
  packages/editor/src/components/block-styles/index.js
  packages/editor/src/components/block-styles/test/index.js
  packages/token-list/.npmrc
  packages/token-list/CHANGELOG.md
  packages/token-list/README.md
  packages/token-list/package.json
  packages/token-list/src/index.js
  packages/token-list/src/test/index.js
  test/e2e/specs/__snapshots__/style-variation.test.js.snap
  webpack.config.js
Labels: Blocks, Packages

#9106 RichText: Mark onSetup, getSettings as unstable APIs
  docs/reference/deprecated.md
  packages/block-library/src/list/index.js
  packages/block-library/src/table/table-block.js
  packages/editor/src/components/rich-text/index.js
  packages/editor/src/components/rich-text/test/index.js
Labels: Breaking Change, [Component] Rich Text, [Component] TinyMCE

#8466 Ignore leading slash when searching blocks in block inserter
  packages/editor/src/components/inserter/menu.js
  packages/editor/src/components/inserter/test/menu.js
Labels: [Component] Inserter

#7986 Enhancements to the color mechanism in accordance with the latest changes
  docs/reference/deprecated.md
  packages/block-library/src/button/edit.js
  packages/block-library/src/button/index.js
  packages/block-library/src/paragraph/edit.js
  packages/block-library/src/paragraph/index.js
  packages/editor/src/components/color-palette/control.js
  packages/editor/src/components/colors/index.js
  packages/editor/src/components/colors/utils.js
  packages/editor/src/components/colors/with-colors.js
  packages/editor/src/components/panel-color-settings/index.js
  packages/editor/src/components/panel-color/index.js
Labels: Breaking Change, [Type] Enhancement

#9157 IE11 flexbox fix for keyboard shortcuts help
  edit-post/components/keyboard-shortcut-help-modal/style.scss
Labels: Browser Issues, [Type] Bug

#8807 Rich Text: Indicate which text will be turned into a link
  packages/editor/src/components/rich-text/index.js
  packages/editor/src/components/rich-text/test/index.js
  test/e2e/specs/__snapshots__/links.test.js.snap
  test/e2e/specs/links.test.js
  test/e2e/specs/managing-links.test.js
Labels: [Component] Rich Text, [Type] Bug

#8955 Pass title attribute when uploading an image
  packages/editor/src/utils/media-upload/media-upload.js
Labels: Media

#9178 Update Facebook icon SVG
  packages/block-library/src/embed/index.js
Labels: [Type] Bug

#8304 Fix block validation: wrap in exception handler for malformed HTML
  packages/blocks/src/api/test/validation.js
  packages/blocks/src/api/validation.js
Labels: Block API, Blocks

#7929 Support 'preload' attribute for Video Block
  packages/block-library/src/audio/edit.js
  packages/block-library/src/video/edit.js
  packages/block-library/src/video/index.js
  test/integration/full-content/fixtures/core__video.json
Labels: Blocks, Media, [Type] Enhancement

#9091 Remove TinyMCE paste plugin
  lib/client-assets.php
  packages/blocks/src/api/raw-handling/index.js
  packages/editor/src/components/rich-text/index.js
  packages/editor/src/components/rich-text/tinymce.js
Labels: Performance, [Component] Rich Text, [Component] TinyMCE

#9182 Allow dynamic blocks to create loops
  lib/blocks.php
  phpunit/class-dynamic-blocks-render-test.php
Labels: Block API, [Type] Enhancement

#9162 List: Convert single paragraph into one item per line
  packages/block-library/src/list/index.js
  packages/block-library/src/list/split-on-line-break.js
  packages/block-library/src/list/test/split-on-line-break.js
  packages/blocks/src/api/children.js
  packages/blocks/src/api/node.js
Labels: Block Conversion, Blocks, Writing Flow
