Repository WordPress/gutenberg, pull requests merged in 2018-07, with the labels that each got.

#7594 Remove unused block-transformations component
  editor/components/block-settings-menu/block-transformations.js
Labels: Code Quality

#7597 Ensure ellipsis icon button is visible when block settings menu is open
  editor/components/block-settings-menu/index.js
  editor/components/block-settings-menu/style.scss
Labels: [Type] Bug

#7659 chore(release): publish
  packages/api-request/package.json
  packages/babel-plugin-import-jsx-pragma/package.json
  packages/blob/package.json
  packages/core-data/package.json
  packages/data/package.json
  packages/date/package.json
  packages/deprecated/package.json
  packages/dom/package.json
  packages/element/package.json
  packages/keycodes/package.json
  packages/library-export-default-webpack-plugin/package.json
  packages/plugins/package.json
  packages/postcss-themes/package.json
  packages/shortcode/package.json
Labels: Packages

#7658 Fix typo in video block description - "an video" -> "a video"
  core-blocks/video/index.js
Labels: Blocks, Needs Copy Review, [Type] Bug

#7644 Rich Text: Detect handled horizontal navigation by preventDefault
  editor/components/rich-text/index.js
  editor/components/writing-flow/index.js
  test/e2e/specs/writing-flow.test.js
Labels: [Component] Rich Text

#7642 Block List: Reenable pointer events on insertion point hover
  editor/components/block-list/insertion-point.js
  editor/components/block-list/style.scss
Labels: [Component] Inserter

#6991 Add InnerBlocks locking
  editor/components/block-drop-zone/index.js
  editor/components/block-list/block.js
  editor/components/block-list/insertion-point.js
  editor/components/block-mover/index.js
  editor/components/block-settings-menu/block-duplicate-button.js
  editor/components/block-settings-menu/block-remove-button.js
  editor/components/block-switcher/index.js
  editor/components/default-block-appender/index.js
  editor/components/editor-global-keyboard-shortcuts/index.js
  editor/components/inner-blocks/index.js
  editor/components/inserter-with-shortcuts/index.js
  editor/store/selectors.js
  editor/store/test/selectors.js
Labels: [Type] Enhancement

#7622 Implement File block
  components/clipboard-button/index.js
  core-blocks/file/edit.js
  core-blocks/file/editable-link.js
  core-blocks/file/editor.scss
  core-blocks/file/index.js
  core-blocks/file/inspector.js
  core-blocks/file/style.scss
  core-blocks/index.js
  core-blocks/test/fixtures/core__file__new-window.html
  core-blocks/test/fixtures/core__file__new-window.json
  core-blocks/test/fixtures/core__file__new-window.parsed.json
  core-blocks/test/fixtures/core__file__new-window.serialized.html
  core-blocks/test/fixtures/core__file__no-download-button.html
  core-blocks/test/fixtures/core__file__no-download-button.json
  core-blocks/test/fixtures/core__file__no-download-button.parsed.json
  core-blocks/test/fixtures/core__file__no-download-button.serialized.html
  core-blocks/test/fixtures/core__file__no-text-link.html
  core-blocks/test/fixtures/core__file__no-text-link.json
  core-blocks/test/fixtures/core__file__no-text-link.parsed.json
  core-blocks/test/fixtures/core__file__no-text-link.serialized.html
  editor/utils/editor-media-upload/index.js
  utils/mediaupload.js
Labels: Blocks, [Type] Enhancement

#7674 Docs: Change closing </div> to </p>
  docs/block-api/deprecated-blocks.md
Labels: Documentation

#7665 update documentation for generating blocks (change url and repo for ahmads gutenberg repo)
  docs/blocks/generate-blocks-with-wp-cli.md
Labels: Documentation

#7319 Introduce colors slugs to ensure i18n
  docs/extensibility/theme-support.md
  editor/components/colors/utils.js
  editor/components/colors/with-colors.js
  editor/store/defaults.js
  lib/client-assets.php
Labels: Extensibility, [Type] Plugin / Theme Interoperability

#7552 Improve publish panel accessibility; Add new publish landmark region;
  edit-post/assets/stylesheets/_z-index.scss
  edit-post/components/layout/index.js
  edit-post/components/layout/style.scss
  editor/components/post-publish-button/index.js
  editor/components/post-publish-panel/index.js
Labels: Accessibility

#7605 Include all image sizes on the media upload object (if they exist)
  utils/mediaupload.js
Labels: Extensibility, Media

#7675 Leave out .js so Metro can resolve native variant
  packages/element/package.json
Labels: Mobile App Compatibility, [Package] Element

#7533 Make the button group button selector more specific
  components/button-group/style.scss
Labels: [Type] Bug

#7671 docs: Add link to supported browsers
  docs/reference/faq.md
Labels: Documentation

#7234 Blocks: Render columns as nested column (wrapper)
  blocks/api/parser.js
  blocks/api/templates.js
  blocks/api/test/parser.js
  blocks/api/test/templates.js
  core-blocks/columns/column.js
  core-blocks/columns/editor.scss
  core-blocks/columns/index.js
  core-blocks/columns/style.scss
  core-blocks/index.js
  core-blocks/test/fixtures/core__column.html
  core-blocks/test/fixtures/core__column.json
  core-blocks/test/fixtures/core__column.parsed.json
  core-blocks/test/fixtures/core__column.serialized.html
  core-blocks/test/fixtures/core__columns.html
  core-blocks/test/fixtures/core__columns.json
  core-blocks/test/fixtures/core__columns.parsed.json
  core-blocks/test/fixtures/core__columns.serialized.html
  core-blocks/test/fixtures/core__pullquote__multi-paragraph.json
  docs/block-api/deprecated-blocks.md
  editor/components/inner-blocks/index.js
  test/e2e/specs/__snapshots__/templates.test.js.snap
  test/e2e/specs/__snapshots__/writing-flow.test.js.snap
  test/e2e/specs/writing-flow.test.js
  test/e2e/test-plugins/templates.php
Labels: Blocks, [Component] Nested / Inner Blocks

#7649 Rich Text: Remove isEmpty condition from getContent
  editor/components/rich-text/index.js
Labels: Performance, [Component] Rich Text

#7650 Rich Text: Remove createUndoLevel for split, merge
  editor/components/editor-history/redo.js
  editor/components/rich-text/index.js
  test/e2e/specs/undo.test.js
Labels: Performance, [Component] Rich Text

#7651 RichText: Remove focusPosition state
  editor/components/rich-text/format-toolbar/index.js
  editor/components/rich-text/format-toolbar/positioned-at-selection.js
  editor/components/rich-text/index.js
  packages/dom/src/dom.js
Labels: Performance, [Component] Rich Text

#7391 Always show "new gallery item" below the gallery
  core-blocks/gallery/edit.js
  core-blocks/gallery/style.scss
Labels: Needs Design Feedback, [Type] Enhancement

#7676 Fix CSS property serialization
  packages/element/src/serialize.js
  packages/element/src/test/serialize.js
Labels: [Package] Element, [Type] Bug

#7541 Make NUX tips stay open when the user clicks outside
  nux/components/dot-tip/index.js
Labels: NUX

#6261 Modal component
  components/higher-order/with-global-events/index.js
  components/higher-order/with-global-events/test/index.js
  components/index.js
  components/modal/README.md
  components/modal/aria-helper.js
  components/modal/frame.js
  components/modal/header.js
  components/modal/index.js
  components/modal/style.scss
  components/modal/test/aria-helper.js
  edit-post/assets/stylesheets/_variables.scss
  edit-post/assets/stylesheets/_z-index.scss
  editor/components/provider/index.js
Labels: Priority High, UI Components

#7705 Typo in Modal example
  components/modal/README.md
Labels: Documentation

#7697 Build: Packages: Ignore non-JS file events
  bin/packages/watch.js
Labels: Build Tooling, [Type] Bug

#7701 Build: Invert JSX pragma application condition
  bin/packages/get-babel-config.js
  package.json
Labels: Build Tooling, [Type] Bug

#7699 Data: Optimize withSelect to avoid generating merge props on equal props
  packages/data/src/index.js
  packages/data/src/test/index.js
Labels: Framework, Performance, Priority High

#7349 Block API: Deprecate `property` source
  blocks/api/parser.js
  core-blocks/code/index.js
  core-blocks/heading/edit.js
  core-blocks/heading/index.js
  core-blocks/heading/test/index.js
  core-blocks/list/index.js
  core-blocks/test/fixtures/core__heading__h2-em.json
  core-blocks/test/fixtures/core__heading__h2.json
  core-blocks/test/fixtures/core__list__ul.json
  docs/reference/deprecated.md
  editor/components/block-switcher/test/index.js
  editor/components/document-outline/index.js
  editor/components/document-outline/test/index.js
  post-content.js
  test/integration/fixtures/apple-out.html
  test/integration/fixtures/evernote-out.html
  test/integration/fixtures/google-docs-out.html
  test/integration/fixtures/markdown-out.html
  test/integration/fixtures/ms-word-online-out.html
  test/integration/fixtures/ms-word-out.html
  test/integration/fixtures/wordpress-out.html
Labels: Block API, Blocks

#7710 fix: Check for forwardedRef in withGlobalEvents
  components/higher-order/with-global-events/index.js
Labels: Priority High, [Type] Bug

#7704 Fix CSS vendor-prefixed property serialization
  packages/element/src/serialize.js
  packages/element/src/test/serialize.js
Labels: [Package] Element, [Type] Bug

#7714 Update HOCs to use createHigherOrderComponent
  components/higher-order/navigate-regions/index.js
  components/higher-order/with-context/index.js
  components/higher-order/with-fallback-styles/index.js
  components/higher-order/with-focus-outside/index.js
  components/higher-order/with-focus-return/index.js
  components/higher-order/with-instance-id/index.js
  components/higher-order/with-spoken-messages/index.js
  core-blocks/more/test/__snapshots__/edit.js.snap
Labels: Framework, [Type] Refactoring

#7715 Add documentation to InnerBlocks props that missed it
  docs/templates.md
  editor/components/inner-blocks/README.md
Labels: Documentation

#7656 Do not allow negative values in image dimensions
  core-blocks/image/edit.js
Labels: Blocks, [Type] Enhancement

#7486 Make sure autocompleted values make it into the block's saved content
  components/autocomplete/index.js
Labels: Writing Flow, [Component] Rich Text

#7480 Fix arrows navigation in the block more options menu
  components/navigable-container/README.md
  components/navigable-container/index.js
  components/navigable-container/test/index.js
  components/slot-fill/slot.js
  components/slot-fill/test/slot.js
  edit-post/components/sidebar/plugin-post-publish-panel/test/__snapshots__/index.js.snap
  edit-post/components/sidebar/plugin-post-status-info/test/__snapshots__/index.js.snap
  edit-post/components/sidebar/plugin-pre-publish-panel/test/__snapshots__/index.js.snap
  editor/components/navigable-toolbar/index.js
Labels: Accessibility, [Type] Bug

#7732 Inner Blocks: Respecting locking in display of default block appender
  editor/components/block-list/layout.js
  editor/components/inner-blocks/index.js
Labels: Templates API, [Component] Nested / Inner Blocks

#7657 Show images inside recently created gallery by dropping on insertion point
  core-blocks/gallery/index.js
Labels: Media, [Type] Enhancement

#7691 Expose the grammar parser to the mobile app
  blocks/api/index.native.js
  blocks/api/parser.js
  blocks/api/post-grammar-parser-pre-generated.js
  blocks/api/post-parser.js
  blocks/api/post-parser.native.js
  blocks/api/test/parser.js
  packages/element/src/index-common.js
  packages/element/src/index.js
  packages/element/src/index.native.js
Labels: Mobile App Compatibility, [Component] Parsing, [Package] Element

#7731 Fix: Make ⌘A's select all the blocks again
  editor/components/writing-flow/index.js
  test/e2e/specs/multi-block-selection.test.js
Labels: [Type] Bug

#7624 Move "opinionated" Gutenberg block styles to theme.scss
  core-blocks/code/edit.js
  core-blocks/code/theme.scss
  core-blocks/embed/index.js
  core-blocks/embed/style.scss
  core-blocks/embed/theme.scss
  core-blocks/gallery/style.scss
  core-blocks/image/index.js
  core-blocks/image/style.scss
  core-blocks/image/theme.scss
  core-blocks/preformatted/editor.scss
  core-blocks/preformatted/index.js
  core-blocks/preformatted/theme.scss
  core-blocks/pullquote/index.js
  core-blocks/pullquote/style.scss
  core-blocks/pullquote/theme.scss
  core-blocks/quote/style.scss
  core-blocks/quote/theme.scss
  core-blocks/table/index.js
  core-blocks/table/style.scss
  core-blocks/table/theme.scss
  core-blocks/video/index.js
  core-blocks/video/style.scss
  core-blocks/video/theme.scss
  edit-post/assets/stylesheets/_mixins.scss
Labels: Extensibility, Needs Design Feedback

#7746 Data: Schedule render by store update via setState
  packages/data/src/index.js
Labels: Framework, Priority High, [Type] Bug

#7747 Framework: Drop deprecations slated for 3.2 removal
  docs/data/data-core-editor.md
  docs/reference/deprecated.md
  editor/components/image-placeholder/index.js
  editor/components/index.js
  editor/store/selectors.js
  package.json
  packages/data/src/index.js
  packages/data/src/persist.js
  utils/deprecated.js
Labels: Breaking Change, Framework

#7703 Preview: Open preview to previewLink if not autosaveable
  editor/components/post-preview-button/index.js
  editor/components/post-preview-button/test/index.js
  test/e2e/specs/preview.test.js
Labels: [Component] Saving, [Type] Bug

#7745 Update plugin version to 3.2.
  gutenberg.php
  package-lock.json
Labels: [Component] Plugin

#7798 Switch tests away from using enzyme.shallow (components/higher-order/with-api-data/test/index.js)
  components/higher-order/with-api-data/test/index.js
Labels: Automated Testing

#7796 Switch tests away from enzyme.mount (components/higher-order/with-context/test/index.js)
  components/higher-order/with-context/test/index.js
Labels: Automated Testing

#7737 Add a canTransform method to the block transform api, and use it to prevent file blocks from transforming unless the uploaded file type matches
  blocks/api/factory.js
  blocks/api/test/factory.js
  core-blocks/file/index.js
  docs/block-api.md
Labels: Block API, Block Conversion, [Type] Enhancement

#7748 NUX: Avoid popover refresh on tip mount
  editor/components/post-type-support-check/README.md
  editor/components/post-type-support-check/index.js
  editor/components/post-type-support-check/test/index.js
  nux/components/dot-tip/index.js
Labels: NUX

#7670 Documentation: Coding Guidelines: Prescribe specific camelCasing behaviors
  docs/reference/coding-guidelines.md
Labels: Code Quality, Documentation

#7823 Add a basic test for shortcode transformation
  blocks/api/raw-handling/test/shortcode-converter.js
Labels: Automated Testing, Shortcodes, [Component] Raw Handling

#7313 Framework: Use clearer filenames for saved vendor scripts
  lib/client-assets.php
  phpunit/class-vendor-script-filename-test.php
Labels: Build Tooling, Framework

#7752 Convert some enzyme tests that involve HOCs to react-test-renderer (align.js)
  editor/hooks/test/align.js
Labels: Automated Testing

#7815 Switch away from using enzyme for tests (components/higher-order/with-focus-return/test/index.js)
  components/higher-order/with-focus-return/test/index.js
Labels: Automated Testing, [Type] Refactoring

#7835 remove tests from being skipped (components/disabled/test/index.js)
  components/disabled/test/index.js
Labels: Automated Testing, [Type] Refactoring

#7834 Remove test from being skipped for button.js
  components/button/test/index.js
Labels: Automated Testing, [Type] Refactoring

#7793 Switch away from using enzyme.mount in tests (components/higher-order/with-filters/test/index.js)
  components/higher-order/with-filters/test/index.js
Labels: Automated Testing

#7840 Packages: Deprecated: Log message maximum once per session
  packages/deprecated/src/index.js
  packages/deprecated/src/test/index.js
Labels: [Package] Deprecated, [Type] Enhancement

#7667 Add "Convert to blocks" option in HTML block
  editor/components/block-settings-menu/html-converter.js
  editor/components/block-settings-menu/index.js
  editor/store/selectors.js
  editor/store/test/selectors.js
  lib/rest-api.php
  phpunit/class-gutenberg-rest-api-test.php
Labels: Blocks, Extensibility, [Component] Raw Handling

#7589 Add end 2 end test to block icons
  test/e2e/specs/block-icons.test.js
  test/e2e/support/utils.js
  test/e2e/test-plugins/block-icons.php
  test/e2e/test-plugins/block-icons/index.js
Labels: Automated Testing, Blocks

#7226 Hide insertion point if it is not possible to insert the default block
  editor/components/block-list/insertion-point.js
Labels: [Type] Bug

#7844 Update spacing in prepublish panel titles
  editor/components/post-publish-panel/prepublish.js
  editor/components/post-publish-panel/style.scss
Labels: Accessibility, i18n

#7847 Update local install instructions and add add more verbose instructions when node versions don't match
  CONTRIBUTING.md
  bin/install-node-nvm.sh
Labels: Build Tooling, Documentation

#7617 Rich Text: Remove NewBlock event handling
  editor/components/rich-text/index.js
Labels: [Component] Rich Text

#7669 Block API: Deprecate `id` prop in favor of `clientId`
  docs/reference/deprecated.md
  edit-post/index.js
  editor/components/block-list/block.js
Labels: Block API, Breaking Change

#7867 Framework: Reorder package.json devDependencies alphabetically
  package.json
Labels: Framework

#7849 Fix exception to do with saving a new shared block
  core-blocks/block/edit.js
Labels: Shared Blocks, [Type] Bug

#7881 Update node-sass
  package-lock.json
  package.json
Labels: Build Tooling

#7882 Hide 'Convert to Shared Block' button on Classic blocks
  editor/components/block-settings-menu/html-converter.js
  editor/components/block-settings-menu/shared-block-convert-button.js
  editor/components/block-settings-menu/test/shared-block-convert-button.js
  editor/components/block-settings-menu/unknown-converter.js
Labels: Shared Blocks, [Type] Bug

#7839 Fix: getInserterItems caching bug; Add: new test case;
  editor/store/selectors.js
  editor/store/test/selectors.js
Labels: [Type] Bug

#7869 Block Edit: Remove legacy context API child context
  core-blocks/test/helpers/index.js
  editor/components/block-edit/index.js
  editor/components/rich-text/index.js
Labels: Code Quality, [Component] Rich Text

#7799 Fix spacer block resizing
  core-blocks/spacer/index.js
Labels: Blocks, [Type] Bug

#7846 Properly convert successive shortcodes
  blocks/api/raw-handling/test/shortcode-converter.js
  packages/shortcode/src/index.js
Labels: [Component] Raw Handling, [Type] Bug

#7590 Support 'preload' attribute for Audio Block
  core-blocks/audio/edit.js
  core-blocks/audio/index.js
Labels: Backwards Compatibility, Blocks

#7889 Backup and restore global `$post` when preloading API data
  lib/client-assets.php
Labels: Framework, [Type] Bug, [Type] Plugin / Theme Interoperability

#7898 Components: Update Dashicon to latest build
  components/dashicon/index.js
Labels: UI Components

#7903 Fix small typos
  blocks/api/raw-handling/test/shortcode-converter.js
  components/slot-fill/test/index.js
  core-blocks/file/edit.js
  core-blocks/test/helpers/index.js
  editor/components/block-list/block.js
  editor/components/block-settings-menu/test/shared-block-convert-button.js
  editor/components/inner-blocks/README.md
  editor/store/test/selectors.js
  packages/babel-plugin-import-jsx-pragma/src/index.js
  test/e2e/support/utils.js
  test/e2e/test-plugins/block-icons/index.js
Labels: Code Quality

#7778 [Enhancement] Allow transformation of image block to file block and vice-versa
  core-blocks/file/index.js
Labels: Block Conversion, Blocks, [Type] Enhancement

#7928 Docs: Regenerate docs using docs:build command
  docs/data/data-core-editor.md
  docs/manifest.json
Labels: Documentation

#7780 Convert enzyme tests to use React.TestUtilities (components/dropdown/test/index.js)
  components/dropdown/test/index.js
Labels: Automated Testing

#7784 Switch test away from enzyme.mount usage (components/dropdown-menu/test/index.js )
  components/dropdown-menu/test/index.js
Labels: Automated Testing

#7782 Convert ‘it closes by blur’ test to use React.TestUtils ( editor/components/autocomplete/test/index.js)
  components/autocomplete/test/index.js
Labels: Automated Testing

#7829 Switch tests away from using enzyme.mount (components/higher-order/with-state/test/index.js)
  components/higher-order/with-state/test/index.js
Labels: Automated Testing, [Type] Refactoring

#7788 convert all tests to use React.TestRenderer (viewport/test/if-viewport-matches.js)
  viewport/test/if-viewport-matches.js
Labels: Automated Testing

#7797 Switch tests away from using enzyme.mount (components/toggle-control/test/index.js)
  components/toggle-control/test/index.js
Labels: Automated Testing

#7777 Converts tests for FormTokenField to use React.TestUtils
  components/form-token-field/test/index.js
Labels: Automated Testing

#7794 Switch tests from using enzyme.mount (components/tab-panel/test/index.js)
  components/tab-panel/test/index.js
Labels: Automated Testing

#7828 Switch away from using enzyme.mount in tests (viewport/test/with-viewport-match.js)
  viewport/test/with-viewport-match.js
Labels: Automated Testing, [Type] Refactoring

#7790 Switch tests away form using enzyme.mount (components/popover/test/index.js)
  components/popover/test/index.js
Labels: Automated Testing

#7901 chore: Columns: Documentation: Add documentation to ALLOWED_BLOCKS
  core-blocks/columns/index.js
Labels: Documentation

#7527 Data Module: Introduce the "registry" concept
  packages/data/src/components/registry-provider/index.js
  packages/data/src/components/remountOnPropChange/index.js
  packages/data/src/components/remountOnPropChange/test/index.js
  packages/data/src/components/with-dispatch/index.js
  packages/data/src/components/with-dispatch/test/index.js
  packages/data/src/components/with-select/index.js
  packages/data/src/components/with-select/test/index.js
  packages/data/src/default-registry.js
  packages/data/src/index.js
  packages/data/src/registry.js
  packages/data/src/store/index.js
  packages/data/src/test/index.js
  packages/data/src/test/registry.js
  viewport/test/if-viewport-matches.js
Labels: [Package] Data

#7870 Block List: Insert blocks after as default block
  editor/components/block-list/block.js
  test/e2e/specs/__snapshots__/adding-blocks.test.js.snap
  test/e2e/specs/adding-blocks.test.js
  test/e2e/specs/adding-inline-tokens.test.js
  test/e2e/specs/formatting-controls.test.js
  test/e2e/specs/splitting-merging.test.js
  test/e2e/specs/style-variation.test.js
  test/e2e/specs/undo.test.js
  test/e2e/specs/writing-flow.test.js
  test/e2e/support/utils.js
Labels: Writing Flow, [Type] Bug

#7454 Remove the "Extended Settings" meta box wrapper
  edit-post/components/meta-boxes/index.js
  edit-post/components/meta-boxes/meta-boxes-panel/index.js
  edit-post/components/meta-boxes/meta-boxes-panel/style.scss
  edit-post/components/sidebar/document-sidebar/index.js
Labels: [Component] Meta Boxes

#7874 chore: Add e2e tests for the NUX tips
  test/e2e/specs/nux.test.js
Labels: Automated Testing, NUX

#7944 Update `package-lock.json` with `eslint-scope` version `3.7.3`
  package-lock.json
Labels: Build Tooling

#7827 Switch tests away from using enzyme.mount (components/higher-order/with-focus-outside/test/index.js)
  components/higher-order/with-focus-outside/test/index.js
Labels: Automated Testing, [Type] Refactoring

#7933 Fix files configuration entry in package.json for @wordpress/babel-preset-default
  packages/babel-preset-default/package.json
Labels: Build Tooling, Framework, Priority High, [Package] Babel Preset, [Type] Bug

#7756 Convert snapshots to use react-test-renderer/shallow (core-blocks/more/test/edit.js)
  core-blocks/more/test/edit.js
Labels: Automated Testing

#7949 Add Archives block
  core-blocks/archives/edit.js
  core-blocks/archives/index.js
  core-blocks/archives/index.php
  core-blocks/index.js
  core-blocks/test/fixtures/core__archives.html
  core-blocks/test/fixtures/core__archives.json
  core-blocks/test/fixtures/core__archives.parsed.json
  core-blocks/test/fixtures/core__archives.serialized.html
  core-blocks/test/fixtures/core__archives__showPostCounts.html
  core-blocks/test/fixtures/core__archives__showPostCounts.json
  core-blocks/test/fixtures/core__archives__showPostCounts.parsed.json
  core-blocks/test/fixtures/core__archives__showPostCounts.serialized.html
Labels: New Block, [Status] In Progress

#7981 Testing: Remove data-test attribute from UrlInputButton output
  editor/components/url-input/button.js
  editor/components/url-input/test/button.js
Labels: Automated Testing

#7983 Entities: Rename baseUrl entities property as baseURL
  packages/core-data/src/entities.js
  packages/core-data/src/resolvers.js
  packages/core-data/src/test/entities.js
  packages/core-data/src/test/resolvers.js
Labels: Code Quality, Framework

#7984 remove unnecessary default prop from test (inserter/test/menu.js)
  editor/components/inserter/test/menu.js
Labels: Automated Testing, [Type] Enhancement

#7947 Add E2E tests for shared blocks
  test/e2e/specs/shared-blocks.test.js
Labels: Automated Testing, Shared Blocks

#7566 Packages: Replace the apiRequest module with api-fetch module
  .eslintrc.js
  core-blocks/embed/index.js
  edit-post/store/effects.js
  editor/components/autocompleters/user.js
  editor/components/post-taxonomies/flat-term-selector.js
  editor/components/post-taxonomies/hierarchical-term-selector.js
  editor/components/url-input/index.js
  editor/store/effects.js
  editor/store/test/effects.js
  lib/client-assets.php
  package-lock.json
  package.json
  packages/api-fetch/.npmrc
  packages/api-fetch/README.md
  packages/api-fetch/package.json
  packages/api-fetch/src/index.js
  packages/api-fetch/src/middlewares/http-v1.js
  packages/api-fetch/src/middlewares/namespace-endpoint.js
  packages/api-fetch/src/middlewares/nonce.js
  packages/api-fetch/src/middlewares/preloading.js
  packages/api-fetch/src/middlewares/root-url.js
  packages/api-fetch/src/middlewares/test/http-v1.js
  packages/api-fetch/src/middlewares/test/namespace-endpoint.js
  packages/api-fetch/src/middlewares/test/nonce.js
  packages/api-fetch/src/middlewares/test/preloading.js
  packages/api-fetch/src/middlewares/test/root-url.js
  packages/api-request/README.md
  packages/api-request/src/index.js
  packages/components/src/higher-order/with-api-data/request.js
  packages/components/src/higher-order/with-api-data/test/request.js
  packages/components/src/server-side-render/index.js
  packages/core-data/package.json
  packages/core-data/src/entities.js
  packages/core-data/src/resolvers.js
  packages/core-data/src/test/entities.js
  packages/core-data/src/test/resolvers.js
  packages/data/README.md
  test/unit/setup-mocks.js
  utils/mediaupload.js
  webpack.config.js
Labels: Packages

#7999 Add `wp-deprecated` dependency to `wp-element`
  lib/client-assets.php
Labels: [Type] Bug

#7982 Framework: Rename `MediaPlaceholder` `onSelectUrl` prop as `onSelectURL`
  core-blocks/audio/edit.js
  core-blocks/video/edit.js
  docs/reference/deprecated.md
  editor/components/media-placeholder/index.js
Labels: Framework

#7902 Writing Flow: Correct caret placement when merging to inline boundary
  editor/components/block-list/block.js
  packages/dom/src/dom.js
  test/e2e/specs/__snapshots__/splitting-merging.test.js.snap
  test/e2e/specs/splitting-merging.test.js
Labels: Writing Flow, [Type] Bug

#7998 Add link to support forum
  gutenberg.php
Labels: [Type] Enhancement

#8013 chore: Improve eslint checks for deep imports
  .eslintrc.js
Labels: Automated Testing

#8014 Components: Fix wrong dependency
  package-lock.json
  packages/components/package.json
Labels: [Package] Components, [Type] Bug

#8002 Api Fetch: Fix metaboxes save request (parse: false)
  edit-post/store/effects.js
  packages/api-fetch/src/index.js
  packages/api-fetch/src/test/index.js
Labels: [Type] Bug

#7985 Testing: Update test for babel-preset-default
  packages/babel-preset-default/test/__snapshots__/index.js.snap
  packages/babel-preset-default/test/fixtures/input.js
  packages/babel-preset-default/test/index.js
Labels: Automated Testing, [Package] Babel preset

#8042 Give File block a low files transform priority
  core-blocks/file/index.js
Labels: Blocks, [Type] Bug

#7664 Packages: Create new `spec-parser` package
  .eslintignore
  .eslintrc.js
  bin/create-php-parser.js
  bin/generate-public-grammar.js
  blocks/api/parser.js
  blocks/api/post-parser.js
  blocks/api/post-parser.native.js
  blocks/api/test/parser.js
  core-blocks/test/full-content.js
  lib/client-assets.php
  package-lock.json
  package.json
  packages/block-serialization-spec-parser/.npmrc
  packages/block-serialization-spec-parser/README.md
  packages/block-serialization-spec-parser/grammar.pegjs
  packages/block-serialization-spec-parser/index.js
  packages/block-serialization-spec-parser/package.json
  packages/block-serialization-spec-parser/test/index.js
  test/unit/jest.config.json
  test/unit/pegjs-transform.js
  webpack.config.js
Labels: Packages

#7545 Fix box sizing for pseudo elements.
  core-blocks/image/editor.scss
  core-blocks/spacer/editor.scss
  core-blocks/text-columns/style.scss
  edit-post/assets/stylesheets/main.scss
  edit-post/components/meta-boxes/meta-boxes-area/style.scss
  editor/components/post-permalink/style.scss
  packages/components/src/color-palette/style.scss
  packages/components/src/form-toggle/style.scss
  packages/components/src/range-control/style.scss
Labels: [Type] Enhancement

#7979 Framework: Rename `UrlInput` component as `URLInput`
  core-blocks/button/edit.js
  core-blocks/image/edit.js
  docs/reference/deprecated.md
  editor/components/index.js
  editor/components/rich-text/format-toolbar/index.js
  editor/components/url-input/button.js
  editor/components/url-input/index.js
  editor/components/url-input/test/button.js
Labels: Framework

#8019 Blocks: Use do_blocks to render core blocks content
  core-blocks/block/index.php
Labels: Blocks, [Component] Nested / Inner Blocks

#8049 Components: Mimic URLInput request abort on fetch
  editor/components/url-input/index.js
Labels: UI Components

#7941 Add latest comments block
  core-blocks/index.js
  core-blocks/latest-comments/edit.js
  core-blocks/latest-comments/editor.scss
  core-blocks/latest-comments/index.js
  core-blocks/latest-comments/index.php
  core-blocks/latest-comments/style.scss
  core-blocks/test/fixtures/core__latest-comments.html
  core-blocks/test/fixtures/core__latest-comments.json
  core-blocks/test/fixtures/core__latest-comments.parsed.json
  core-blocks/test/fixtures/core__latest-comments.serialized.html
Labels: New Block

#8036 Remove Text Columns block from insertion menus
  core-blocks/text-columns/index.js
  core-blocks/text-columns/test/index.js
  docs/reference/deprecated.md
Labels: Blocks

#8057 Add @babel/runtime as a dependency to @wordpress/components
  packages/components/package.json
Labels: [Package] Components

#7618 Rich Text: Remove restoreContentAndSplit
  editor/components/rich-text/index.js
Labels: Performance, [Component] Rich Text

#8058 Remove unused autocompleter backcompat case
  packages/components/src/autocomplete/index.js
Labels: Code Quality, Extensibility

#7856 Change the text label from "Source Type" to "Image Size"
  core-blocks/image/edit.js
Labels: Copy, Needs Copy Review

#8043 Improve IntelliSense support when using VS Code
  jsconfig.json
Labels: Build Tooling

#8016 Packages: Extract `@wordpress/nux` package
  .eslintrc.js
  docs/manifest.json
  docs/tool/config.js
  nux/index.js
  package-lock.json
  package.json
  packages/nux/.npmrc
  packages/nux/README.md
  packages/nux/package.json
  packages/nux/src/components/dot-tip/README.md
  packages/nux/src/components/dot-tip/index.js
  packages/nux/src/components/dot-tip/style.scss
  packages/nux/src/components/dot-tip/test/__snapshots__/index.js.snap
  packages/nux/src/components/dot-tip/test/index.js
  packages/nux/src/index.js
  packages/nux/src/store/actions.js
  packages/nux/src/store/index.js
  packages/nux/src/store/reducer.js
  packages/nux/src/store/selectors.js
  packages/nux/src/store/test/actions.js
  packages/nux/src/store/test/reducer.js
  packages/nux/src/store/test/selectors.js
  packages/nux/src/style.scss
  test/unit/jest.config.json
Labels: Packages

#8062 Add @babel/runtime as a dependency for packages
  package-lock.json
  packages/a11y/package.json
  packages/api-fetch/package.json
  packages/autop/package.json
  packages/babel-plugin-import-jsx-pragma/package.json
  packages/babel-plugin-makepot/package.json
  packages/babel-preset-default/package.json
  packages/blob/package.json
  packages/components/package.json
  packages/compose/package.json
  packages/core-data/package.json
  packages/custom-templated-path-webpack-plugin/package.json
  packages/data/package.json
  packages/date/package.json
  packages/deprecated/package.json
  packages/dom-ready/package.json
  packages/dom/package.json
  packages/element/package.json
  packages/hooks/package.json
  packages/html-entities/package.json
  packages/i18n/package.json
  packages/is-shallow-equal/package.json
  packages/jest-console/package.json
  packages/keycodes/package.json
  packages/library-export-default-webpack-plugin/package.json
  packages/npm-package-json-lint-config/package.json
  packages/nux/package.json
  packages/plugins/package.json
  packages/postcss-themes/package.json
  packages/shortcode/package.json
  packages/url/package.json
  packages/viewport/package.json
  packages/wordcount/package.json
Labels: Packages

#7841 Framework: Deprecate inner blocks layouts
  docs/reference/deprecated.md
  editor/components/block-list/index.js
  editor/components/inner-blocks/README.md
Labels: Framework, [Component] Nested / Inner Blocks

#7934 Rich Text: Formalize RichText children value abstraction
  core-blocks/heading/index.js
  core-blocks/paragraph/index.js
  core-blocks/test/fixtures/core__heading__h2-em.json
  core-blocks/test/fixtures/core__list__ul.json
  core-blocks/test/fixtures/core__preformatted.json
  core-blocks/test/fixtures/core__pullquote.json
  core-blocks/test/fixtures/core__pullquote__multi-paragraph.json
  core-blocks/test/fixtures/core__quote__style-1.json
  core-blocks/test/fixtures/core__quote__style-2.json
  core-blocks/test/fixtures/core__subhead.json
  core-blocks/test/fixtures/core__table.json
  core-blocks/test/fixtures/core__text__converts-to-paragraph.json
  core-blocks/test/fixtures/core__verse.json
  docs/reference/deprecated.md
  editor/components/rich-text/README.md
  editor/components/rich-text/format.js
  editor/components/rich-text/index.js
  editor/components/rich-text/test/__snapshots__/format.js.snap
  editor/components/rich-text/test/format.js
  editor/components/rich-text/test/index.js
  packages/blocks/src/api/children.js
  packages/blocks/src/api/index.js
  packages/blocks/src/api/matchers.js
  packages/blocks/src/api/node.js
  packages/blocks/src/api/test/children.js
  packages/blocks/src/api/test/node.js
  packages/element/src/serialize.js
  packages/element/src/test/serialize.js
  test/e2e/specs/__snapshots__/writing-flow.test.js.snap
  test/e2e/specs/adding-inline-tokens.test.js
  test/e2e/specs/writing-flow.test.js
Labels: Block API, Framework, [Component] Rich Text

#8082 Framework: Drop deprecations slated for 3.3 removal
  docs/reference/deprecated.md
  editor/components/colors/with-colors-deprecated.js
  editor/components/colors/with-colors.js
  packages/blocks/src/api/registration.js
  packages/blocks/src/deprecated-hooks.js
  packages/blocks/src/index.js
  packages/element/src/serialize.js
  packages/element/src/test/serialize.js
Labels: Framework

#8089 Update plugin version to 3.3.
  gutenberg.php
  package-lock.json
  package.json
Labels: [Component] Plugin

#7851 Fix references that should be for Speaker Deck
  core-blocks/embed/index.js
  core-blocks/test/fixtures/core-embed__speaker.html
  core-blocks/test/fixtures/core-embed__speaker.json
  core-blocks/test/fixtures/core-embed__speaker.parsed.json
  core-blocks/test/fixtures/core-embed__speaker.serialized.html
  core-blocks/test/fixtures/core-embed__speakerdeck.html
  core-blocks/test/fixtures/core-embed__speakerdeck.json
  core-blocks/test/fixtures/core-embed__speakerdeck.parsed.json
  core-blocks/test/fixtures/core-embed__speakerdeck.serialized.html
Labels: Blocks

#8108 Fix: Color palette button, :focus state issue
  packages/components/src/color-palette/style.scss
Labels: [Component] Inspector, [Type] Bug

#8095 Fix: Regression on the color picker width
  packages/components/src/color-palette/style.scss
Labels: Regression, [Type] Bug

#8105 Add missing aria-label to audio and video blocks input fields
  core-blocks/audio/test/__snapshots__/index.js.snap
  core-blocks/video/test/__snapshots__/index.js.snap
  editor/components/media-placeholder/index.js
Labels: Accessibility

#8121 Improve JS package descriptions
  packages/a11y/package.json
  packages/api-fetch/package.json
  packages/babel-plugin-import-jsx-pragma/package.json
  packages/babel-plugin-makepot/package.json
  packages/blob/package.json
  packages/browserslist-config/package.json
  packages/components/package.json
  packages/compose/package.json
  packages/dom-ready/package.json
  packages/dom/package.json
  packages/hooks/package.json
  packages/html-entities/package.json
  packages/i18n/package.json
  packages/keycodes/package.json
  packages/npm-package-json-lint-config/package.json
  packages/wordcount/package.json
Labels: Code Quality, Documentation

#8091 Docs: Add example for registerBlockType hook
  docs/extensibility/extending-blocks.md
Labels: Documentation, Extensibility

#8132 Update is-shallow-equal to use ES5 code as before
  packages/is-shallow-equal/.eslintrc.json
  packages/is-shallow-equal/arrays.js
  packages/is-shallow-equal/index.js
  packages/is-shallow-equal/objects.js
  packages/is-shallow-equal/package.json
  packages/is-shallow-equal/test/index.js
  webpack.config.js
Labels: Code Quality, [Package] is-shallow-equal, [Type] Bug

#7100 Update block alignment setting to use "supports: align" block alignment hook instead of "align" attribute
  core-blocks/button/edit.js
  core-blocks/button/index.js
  core-blocks/embed/index.js
  core-blocks/gallery/edit.js
  core-blocks/gallery/index.js
  core-blocks/pullquote/index.js
  core-blocks/table/index.js
  core-blocks/test/fixtures/core__gallery.html
  core-blocks/test/fixtures/core__gallery.json
  core-blocks/test/fixtures/core__gallery.parsed.json
  core-blocks/test/fixtures/core__gallery.serialized.html
  core-blocks/test/fixtures/core__gallery__columns.html
  core-blocks/test/fixtures/core__gallery__columns.json
  core-blocks/test/fixtures/core__gallery__columns.parsed.json
  core-blocks/test/fixtures/core__gallery__columns.serialized.html
  core-blocks/test/fixtures/core__pullquote.html
  core-blocks/test/fixtures/core__pullquote.json
  core-blocks/test/fixtures/core__pullquote.parsed.json
  core-blocks/test/fixtures/core__pullquote.serialized.html
  core-blocks/test/fixtures/core__pullquote__multi-paragraph.html
  core-blocks/test/fixtures/core__pullquote__multi-paragraph.json
  core-blocks/test/fixtures/core__pullquote__multi-paragraph.parsed.json
  core-blocks/test/fixtures/core__pullquote__multi-paragraph.serialized.html
  test/integration/fixtures/wordpress-out.html
Labels: Blocks

#7795 Fix placeholder in the tag field was being cut off with long text
  packages/components/src/form-token-field/style.scss
Labels: UI Components

#8066 File block: Handle drag-and-drop errors
  core-blocks/file/edit.js
Labels: Blocks, [Type] Bug

#8122 Added video block creation by dropping
  core-blocks/video/edit.js
  core-blocks/video/index.js
Labels: Blocks, [Type] Enhancement

#7883 Add an icon and visually hidden a11y text to links that open in a new tab
  edit-post/components/header/style.scss
  editor/components/post-permalink/index.js
  editor/components/post-preview-button/index.js
  editor/components/post-preview-button/test/__snapshots__/index.js.snap
  editor/components/post-preview-button/test/index.js
  editor/components/rich-text/format-toolbar/index.js
  packages/components/src/button/index.js
  packages/components/src/external-link/index.js
  packages/components/src/external-link/style.scss
Labels: Accessibility, [Component] Button, [Component] Rich Text, [Type] Bug, [Type] Task

#7894 Implement forward-compatible REST API search controller
  editor/components/url-input/index.js
  lib/class-wp-rest-post-search-handler.php
  lib/class-wp-rest-search-controller.php
  lib/class-wp-rest-search-handler.php
  lib/load.php
  lib/rest-api.php
  phpcs.xml.dist
  phpunit/bootstrap.php
  phpunit/class-rest-search-controller-test.php
  phpunit/class-wp-rest-dummy-search-handler.php
Labels: Core REST API Task

#7866 Blocks: update warning style
  edit-post/assets/stylesheets/_z-index.scss
  editor/components/block-list/block-invalid-warning.js
  editor/components/block-list/block.js
  editor/components/block-list/style.scss
  editor/components/warning/index.js
  editor/components/warning/style.scss
  editor/components/warning/test/__snapshots__/index.js.snap
Labels: Blocks

#8144 Blocks: Rename wideAlign to alignWide
  core-blocks/button/index.js
  docs/block-api.md
  docs/reference/deprecated.md
  editor/hooks/align.js
  editor/hooks/test/align.js
  phpunit/fixtures/long-content.html
  post-content.js
Labels: Block API, Breaking Change, Documentation

#8072 Editor: Expose custom class name hook for mobile
  editor/hooks/custom-class-name.native.js
  editor/hooks/index.native.js
  editor/index.native.js
  editor/store/index.native.js
  editor/utils/index.native.js
  packages/blocks/src/api/index.native.js
  packages/element/src/index.js
  packages/element/src/index.native.js
  packages/element/src/raw-html.js
  packages/element/src/react-platform.js
  packages/element/src/react-platform.native.js
  packages/element/src/react.js
  packages/element/src/test/index.js
  packages/element/src/test/raw-html.js
Labels: Code Quality, Mobile App Compatibility, [Package] Element

#8146 Data module: Add built-in support for persisting stores
  edit-post/index.js
  edit-post/store/index.js
  editor/store/index.js
  editor/utils/with-history/index.js
  editor/utils/with-history/test/index.js
  packages/data/src/deprecated.js
  packages/data/src/index.js
  packages/data/src/persist.js
  packages/data/src/registry.js
  packages/data/src/test/persist.js
  packages/nux/src/store/index.js
Labels: Breaking Change, [Package] Data

#8125 Allow the target attribute on <a> tags.
  packages/blocks/src/api/raw-handling/phrasing-content-reducer.js
  packages/blocks/src/api/raw-handling/test/phrasing-content-reducer.js
  packages/blocks/src/api/raw-handling/test/utils.js
  packages/blocks/src/api/raw-handling/utils.js
  test/integration/fixtures/ms-word-online-out.html
Labels: [Component] Raw Handling

#8076 Docs: Transforms - file and priority example
  docs/block-api.md
Labels: Block API, Documentation
