Repository WordPress/gutenberg, pull requests merged in 2018-06, with the labels that each got.

#7050 Fix issue with rich text toolbar being gone in captions
  core-blocks/gallery/editor.scss
Labels: Design

#6773 Try a new hover and select approach to improve nested block selection
  core-blocks/columns/editor.scss
  core-blocks/columns/style.scss
  core-blocks/freeform/editor.scss
  edit-post/assets/stylesheets/_animations.scss
  edit-post/assets/stylesheets/_colors.scss
  edit-post/assets/stylesheets/_mixins.scss
  edit-post/assets/stylesheets/_variables.scss
  edit-post/assets/stylesheets/_z-index.scss
  edit-post/components/visual-editor/style.scss
  editor/components/block-edit/index.js
  editor/components/block-list/block.js
  editor/components/block-list/breadcrumb.js
  editor/components/block-list/style.scss
  editor/components/block-mover/style.scss
  editor/components/block-settings-menu/style.scss
  editor/components/block-switcher/style.scss
  editor/components/block-toolbar/style.scss
  editor/components/default-block-appender/style.scss
  editor/components/inner-blocks/index.js
  editor/components/inner-blocks/style.scss
  editor/components/post-title/style.scss
  editor/components/writing-flow/index.js
  editor/store/selectors.js
  editor/store/test/selectors.js
  editor/utils/dom.js
  editor/utils/test/dom.js
  test/e2e/specs/__snapshots__/writing-flow.test.js.snap
  test/e2e/specs/writing-flow.test.js
Labels: Blocks, Chrome, Needs Design Feedback, [Component] Nested / Inner Blocks, [Type] Enhancement

#7073 Fix issue with normal buttons with icons
  components/form-file-upload/style.scss
  components/icon-button/style.scss
Labels: [Type] Bug

#6710 Testing: Add global guard against ZWSP in E2E content retrieval
  test/e2e/support/utils.js
Labels: Automated Testing

#7067 State: Avoid URL redirect for published post autosave
  editor/store/effects.js
  editor/store/test/effects.js
Labels: [Type] Bug

#7074 Fix issues with new inserter
  edit-post/assets/stylesheets/_mixins.scss
  editor/components/inserter/item-list.js
  editor/components/inserter/style.scss
Labels: [Type] Enhancement

#7085 Docs: Fix rich-text markdown source
  docs/manifest.json
Labels: Documentation

#7091 Shared Blocks: Preview should be rendered outside the scrollable container
  editor/components/inserter/menu.js
Labels: [Type] Bug

#7090 Fix alignment issue with hover label on wide and fullwide
  core-blocks/block/edit-panel/style.scss
  core-blocks/block/indicator/style.scss
  editor/components/block-list/style.scss
Labels: [Type] Enhancement

#3871 Reload the page after webpack watch compile
  lib/client-assets.php
  package-lock.json
  package.json
  webpack.config.js
Labels: Build Tooling, Framework, [Status] Stale

#7077 Shared Blocks: Fix editing paragraph blocks
  editor/hooks/default-autocompleters.js
Labels: [Type] Bug

#7058 Simplify the Inserter accessibility
  editor/components/inserter/item-list.js
  editor/components/inserter/style.scss
Labels: Accessibility, [Component] Inserter

#7062 Use new "theme" style mechanism to restore Quote styles on the front.
  core-blocks/quote/editor.scss
  core-blocks/quote/index.js
  core-blocks/quote/style.scss
  core-blocks/quote/theme.scss
Labels: Blocks, Customization, Design

#7068 Add API to configure icon colors
  blocks/README.md
  blocks/api/registration.js
  blocks/api/test/registration.js
  blocks/api/utils.js
  docs/block-api.md
  editor/components/autocompleters/block.js
  editor/components/autocompleters/test/block.js
  editor/components/block-inspector/index.js
  editor/components/block-settings-menu/block-transformations.js
  editor/components/block-switcher/index.js
  editor/components/inserter-with-shortcuts/index.js
  editor/components/inserter/child-blocks.js
  editor/components/inserter/item-list.js
  editor/store/test/selectors.js
Labels: Block API, Needs Design Feedback, [Type] Enhancement

#4218 Show autosave message when autosave exists
  editor/components/provider/index.js
  editor/store/actions.js
  editor/store/effects.js
  editor/store/test/actions.js
  editor/store/test/effects.js
  lib/client-assets.php
Labels: [Component] Post Settings

#7122 Post Editor: Refactor URL redirect as BrowserURL component
  edit-post/components/browser-url/README.md
  edit-post/components/browser-url/index.js
  edit-post/components/browser-url/test/index.js
  edit-post/components/layout/index.js
  editor/store/effects.js
  editor/store/reducer.js
  editor/store/test/effects.js
  editor/store/test/reducer.js
  editor/utils/url.js
Labels: Framework

#7116 Update plugin to version 3.0.
  gutenberg.php
  package-lock.json
  package.json
Labels: [Component] Plugin

#7128 Fix columns block style on the frontend
  core-blocks/columns/editor.scss
  core-blocks/columns/style.scss
Labels: [Type] Bug

#7001 Build tooling: Add linting for package.json files
  package-lock.json
  package.json
  packages/blob/package.json
  packages/data/package.json
  packages/date/package.json
  packages/deprecated/package.json
  packages/dom/package.json
  packages/element/package.json
  packages/library-export-default-webpack-plugin/package.json
  packages/postcss-themes/package.json
Labels: Build Tooling, Code Quality

#7140 Fix svg block icons
  blocks/api/registration.js
  blocks/api/test/registration.js
  blocks/api/utils.js
  packages/element/src/index.js
Labels: Block API, [Type] Bug

#7153 Update plugin to version 3.0.1
  gutenberg.php
  package-lock.json
  package.json
Labels: [Component] Plugin

#7146 chore(release): publish
  packages/blob/package.json
  packages/data/package.json
  packages/date/package.json
  packages/deprecated/package.json
  packages/dom/package.json
  packages/element/package.json
  packages/library-export-default-webpack-plugin/package.json
  packages/postcss-themes/package.json
Labels: Packages

#7112 Try optimizing the default column width
  edit-post/assets/stylesheets/_variables.scss
  edit-post/components/text-editor/style.scss
Labels: Needs Design Feedback

#7111 Theme the hover outlines
  editor/components/block-list/style.scss
  editor/components/post-title/style.scss
  webpack.config.js
Labels: Design, Needs Design Feedback

#6384 Refactor the initialization of the editor, require only a post ID
  core-data/actions.js
  core-data/entities.js
  core-data/index.js
  core-data/name.js
  core-data/reducer.js
  core-data/resolvers.js
  core-data/selectors.js
  core-data/test/entities.js
  core-data/test/reducer.js
  core-data/test/resolvers.js
  core-data/test/selectors.js
  edit-post/editor.js
  edit-post/index.js
  lib/client-assets.php
  post-content.js
Labels: Framework

#7171 Convert strikethrough in Markdown
  blocks/api/raw-handling/markdown-converter.js
  test/integration/fixtures/markdown-in.txt
  test/integration/fixtures/markdown-out.html
Labels: [Component] Raw Handling

#7167 Fix regression with formatting toolbar
  edit-post/components/header/header-toolbar/style.scss
  editor/components/block-list/style.scss
  editor/components/block-switcher/style.scss
  editor/components/block-toolbar/style.scss
Labels: [Type] Bug

#7038 Add yAxis=middle support to Popover
  components/popover/README.md
  components/popover/index.js
  components/popover/style.scss
  components/popover/test/utils.js
  components/popover/utils.js
Labels: UI Components, [Type] Enhancement

#6631 New User Experience (NUX)
  .eslintrc.js
  components/popover/utils.js
  components/tooltip/style.scss
  edit-post/assets/stylesheets/_z-index.scss
  edit-post/components/header/index.js
  edit-post/index.js
  editor/components/default-block-appender/index.js
  editor/components/default-block-appender/style.scss
  editor/components/default-block-appender/test/__snapshots__/index.js.snap
  editor/components/post-preview-button/index.js
  editor/components/post-publish-panel/toggle.js
  lib/client-assets.php
  nux/README.md
  nux/components/dot-tip/README.md
  nux/components/dot-tip/index.js
  nux/components/dot-tip/style.scss
  nux/components/dot-tip/test/__snapshots__/index.js.snap
  nux/components/dot-tip/test/index.js
  nux/index.js
  nux/store/actions.js
  nux/store/index.js
  nux/store/reducer.js
  nux/store/selectors.js
  nux/store/test/actions.js
  nux/store/test/reducer.js
  nux/store/test/selectors.js
  test/e2e/support/utils.js
  test/unit/jest.config.json
  webpack.config.js
Labels: Nux, [Type] Enhancement

#7166 Prevent autocompleter from letting users insert two More blocks
  components/autocomplete/README.md
  components/autocomplete/index.js
  components/autocomplete/test/index.js
  editor/components/autocompleters/block.js
  editor/components/autocompleters/test/block.js
Labels: [Component] Inserter, [Type] Bug

#7165 Add NUX E2E tests
  test/e2e/specs/nux.test.js
  test/e2e/support/utils.js
Labels: Automated Testing, Nux

#7138 Force HTML blocks to be in preview mode when in a shared block
  components/disabled/README.md
  components/disabled/index.js
  components/disabled/test/index.js
  core-blocks/html/index.js
Labels: Blocks, Shared Blocks, [Type] Enhancement

#6867 Edit Post: Wrap PluginPostStatusInfo with PanelRow rather than Slot
  edit-post/README.md
  edit-post/components/sidebar/plugin-post-status-info/index.js
  edit-post/components/sidebar/plugin-post-status-info/test/__snapshots__/index.js.snap
  edit-post/components/sidebar/plugin-post-status-info/test/index.js
  edit-post/components/sidebar/post-status/index.js
Labels: Extensibility, [Type] Bug

#7018 Add a new `@wordpress/api-request` package
  .eslintrc.js
  components/higher-order/with-api-data/request.js
  components/higher-order/with-api-data/test/request.js
  core-blocks/embed/index.js
  edit-post/index.js
  edit-post/store/effects.js
  editor/components/autocompleters/user.js
  editor/components/post-taxonomies/flat-term-selector.js
  editor/components/post-taxonomies/hierarchical-term-selector.js
  editor/components/url-input/index.js
  editor/store/effects.js
  editor/store/test/effects.js
  lib/client-assets.php
  lib/compat.php
  package-lock.json
  package.json
  packages/api-request/.npmrc
  packages/api-request/README.md
  packages/api-request/package.json
  packages/api-request/src/index.js
  packages/api-request/src/middlewares/http-v1.js
  packages/api-request/src/middlewares/namespace-endpoint.js
  packages/api-request/src/middlewares/nonce.js
  packages/api-request/src/middlewares/preloading.js
  packages/api-request/src/middlewares/root-url.js
  packages/api-request/src/middlewares/test/http-v1.js
  packages/api-request/src/middlewares/test/namespace-endpoint.js
  packages/api-request/src/middlewares/test/nonce.js
  packages/api-request/src/middlewares/test/preloading.js
  packages/api-request/src/middlewares/test/root-url.js
  test/unit/jest.config.json
  test/unit/setup-mocks.js
  utils/mediaupload.js
  webpack.config.js
Labels: Packages

#7196 Fix a tiny typographical nicety
  core-blocks/cover-image/index.js
Labels: [Type] Enhancement

#7197 Tweak hover outline colors for Midnight & Sunrise
  webpack.config.js
Labels: Design

#7198 Update the default width in the default JS components
  editor/store/defaults.js
Labels: [Type] Bug

#6408 Try compensating nested blocks for block padding
  core-blocks/columns/editor.scss
  editor/components/block-list/style.scss
Labels: [Type] Enhancement

#7158 Remove 'who'=>'authors' compatibility shim
  lib/rest-api.php
  phpunit/class-gutenberg-rest-api-test.php
Labels: Core REST API Task

#7269 Testing: Add e2e tests for Plugins API
  .eslintignore
  .gitignore
  test/e2e/specs/__snapshots__/plugins-api.test.js.snap
  test/e2e/specs/plugins-api.test.js
  test/e2e/specs/templates.test.js
  test/e2e/support/utils.js
  test/e2e/test-plugins/plugins-api.php
  test/e2e/test-plugins/plugins-api/index.js
Labels: Automated Testing, Extensibility

#7286 Fix code comments typos
  bin/packages/build.js
  bin/packages/get-packages.js
  blocks/api/templates.js
  components/autocomplete/index.js
  components/code-editor/README.md
  components/dropdown/index.js
  components/higher-order/with-api-data/index.js
  components/keyboard-shortcuts/README.md
  components/popover/utils.js
  components/slot-fill/provider.js
  docs/reference/design-principles.md
  docs/reference/repository-management.md
  edit-post/store/actions.js
  packages/core-data/src/selectors.js
Labels: Documentation

#7273 Exclude focused block from block completer options
  editor/components/autocompleters/block.js
  editor/components/autocompleters/test/block.js
Labels: [Type] Bug

#7278 Polish mobile toolbar
  edit-post/assets/stylesheets/_variables.scss
  editor/components/block-list/style.scss
  editor/components/block-settings-menu/index.js
  editor/components/block-toolbar/style.scss
Labels: Needs Design Feedback, [Component] Mobile, [Type] Enhancement

#7294 Add end 2 end test to blocks.BlockEdit filter
  test/e2e/specs/hooks-api.test.js
  test/e2e/test-plugins/hooks-api.php
  test/e2e/test-plugins/hooks-api/index.js
Labels: Automated Testing

#7290 Add es5 samples to edit-post and plugins
  edit-post/README.md
  plugins/README.md
Labels: Documentation

#7089 Update drop-cap design to better balance line length.
  core-blocks/paragraph/style.scss
Labels: Blocks, Design

#7219 Improve DotTip positioning fix
  components/popover/README.md
  components/popover/index.js
  nux/components/dot-tip/index.js
Labels: Nux

#7304 Update block-controls-toolbars-and-inspector.md
  docs/blocks/block-controls-toolbars-and-inspector.md
Labels: Documentation

#7303 Update introducing-attributes-and-editable-fields.md
  docs/blocks/introducing-attributes-and-editable-fields.md
Labels: Documentation

#7293 Block API: Move useOnce to supports.useOnce
  blocks/api/registration.js
  core-blocks/more/index.js
  core-blocks/subhead/index.js
  docs/block-api.md
  docs/reference/deprecated.md
  edit-post/hooks/index.js
  edit-post/hooks/validate-multiple-use/index.js
  editor/components/block-settings-menu/block-duplicate-button.js
  editor/store/selectors.js
  editor/store/test/selectors.js
Labels: Block API

#7336 Hide disabled blocks from shortcut inserter
  editor/components/inserter-with-shortcuts/index.js
Labels: [Component] Inserter

#7291 Update icon color example
  docs/block-api.md
Labels: Documentation

#7347 Don't error if autosave runs and there are no changes to save
  editor/store/effects.js
  editor/store/test/effects.js
  lib/class-wp-rest-autosaves-controller.php
Labels: Framework

#6957 Add error notices mechanism directly to media placeholder
  core-blocks/gallery/edit.js
  core-blocks/image/edit.js
  editor/components/media-placeholder/index.js
Labels: Blocks, Media, [Type] Enhancement

#7104 Fix #7082 multiple hover styles
  components/toolbar/style.scss
Labels: Needs Design Feedback, UI Components

#7206 Data Module: Refactor Higher-order components to avoid the use of componentWillMount
  packages/data/src/index.js
Labels: [Package] Data

#7280 WithAPIData: Avoid deprecated React Lifecycle hooks
  components/higher-order/with-api-data/index.js
Labels: Code Quality

#7282 React: Remove the usage of the componentWillMount lifecycle
  components/higher-order/with-focus-return/index.js
  components/slot-fill/fill.js
  core-blocks/embed/index.js
  docs/reference/deprecated.md
  packages/element/package.json
  packages/element/src/serialize.js
  packages/element/src/test/serialize.js
Labels: Code Quality

#7185 Fix gallery attachment page link
  core-blocks/gallery/edit.js
Labels: [Type] Bug

#7264 Documentation: Generate Docs for the data module
  docs/data/core-blocks.md
  docs/data/core-edit-post.md
  docs/data/core-editor.md
  docs/data/core-nux.md
  docs/data/core-viewport.md
  docs/data/core.md
  docs/data/index.md
  docs/data/tool/config.js
  docs/data/tool/generator.js
  docs/data/tool/index.js
  docs/data/tool/parser.js
  package.json
Labels: Documentation

#7069 Try transform multiple blocks to a quote
  core-blocks/quote/index.js
Labels: Block Conversion, [Component] Raw Handling

#7339 Improve serialising JSON to PHP-compatible query strings
  components/server-side-render/index.js
  components/server-side-render/test/index.js
  package-lock.json
  package.json
Labels: Framework

#7379 Blocks: Update demo content to avoid dirtying embed
  post-content.js
Labels: Blocks

#6729 Fix: Publishing UX for contributors
  editor/components/post-publish-panel/prepublish.js
  editor/components/post-publish-panel/test/toggle.js
  editor/components/post-publish-panel/toggle.js
Labels: Needs Copy Review, Needs Design Feedback, REST API Interaction, Writing Flow, [Type] Bug

#6620 Element: Avoid double-escaping valid character references
  packages/element/src/serialize.js
  packages/element/src/test/serialize.js
Labels: Framework

#7235 Packages: Move Plugins module to packages
  lib/client-assets.php
  packages/plugins/.npmrc
  packages/plugins/README.md
  packages/plugins/package.json
  packages/plugins/src/api/index.js
  packages/plugins/src/api/test/index.js
  packages/plugins/src/components/index.js
  packages/plugins/src/components/plugin-area/index.js
  packages/plugins/src/components/plugin-context/index.js
  packages/plugins/src/index.js
  test/unit/jest.config.json
  webpack.config.js
Labels: Code Quality, Packages

#7228 Effects: Move trash post URL change to the BrowserUrl component
  edit-post/components/browser-url/index.js
  edit-post/components/browser-url/test/index.js
  editor/store/effects.js
Labels: Code Quality, Framework

#7393 Upgrade React 16.3.2 to React 16.4.1
  lib/client-assets.php
  package-lock.json
  package.json
  packages/element/package.json
  phpunit/class-vendor-script-filename-test.php
Labels: Framework, [Type] Enhancement

#7263 Add BlockIconWithColors component; Use the component in the inspector.
  editor/components/block-icon/index.js
  editor/components/block-icon/style.scss
  editor/components/block-inspector/index.js
  editor/components/inserter/child-blocks.js
  editor/components/inserter/style.scss
Labels: [Type] Enhancement

#7130 State: Trigger autosave as standard save for draft by current user
  editor/components/post-preview-button/index.js
  editor/components/post-preview-button/test/index.js
  editor/store/actions.js
  editor/store/effects.js
  editor/store/reducer.js
  editor/store/selectors.js
  editor/store/test/actions.js
  editor/store/test/effects.js
  editor/store/test/reducer.js
  editor/store/test/selectors.js
  lib/class-wp-rest-autosaves-controller.php
  lib/rest-api.php
  phpunit/class-gutenberg-rest-api-test.php
  phpunit/class-rest-autosaves-controller-test.php
  test/e2e/specs/change-detection.test.js
  test/e2e/specs/preview.test.js
  test/e2e/specs/publishing.test.js
  test/e2e/support/utils.js
Labels: [Type] Bug

#7192 Block List: Remove createInnerBlockList utility / context
  core-blocks/test/helpers/index.js
  editor/components/block-edit/context.js
  editor/components/block-edit/index.js
  editor/components/block-list/block.js
  editor/components/block-preview/index.js
  editor/components/inner-blocks/index.js
  editor/utils/block-list.js
Labels: Code Quality, Performance, [Component] Nested / Inner Blocks

#6619 Block API: Replace JSON-escaped quotation mark with unicode escape sequence
  blocks/api/serializer.js
  blocks/api/test/parser.js
  blocks/api/test/serializer.js
Labels: Block API

#7200 Try to improve the accessibility of featured images
  components/button/index.js
  components/button/style.scss
  editor/components/post-featured-image/index.js
  editor/components/post-featured-image/style.scss
Labels: Accessibility, [Type] Enhancement

#7410 Editor: Rename all the hooks moved from blocks to editor
  blocks/deprecated-hooks.js
  blocks/index.js
  docs/extensibility/autocomplete.md
  docs/extensibility/extending-blocks.md
  docs/reference/deprecated.md
  edit-post/hooks/components/index.js
  edit-post/hooks/components/media-upload/index.js
  edit-post/hooks/index.js
  edit-post/hooks/validate-multiple-use/index.js
  editor/components/autocomplete/README.md
  editor/components/autocomplete/index.js
  editor/components/autocomplete/test/index.js
  editor/components/block-edit/edit.js
  editor/components/media-upload/README.md
  editor/components/media-upload/index.js
  editor/hooks/align.js
  editor/hooks/anchor.js
  editor/hooks/custom-class-name.js
  editor/hooks/default-autocompleters.js
  editor/hooks/test/align.js
  editor/hooks/test/default-autocompleters.js
  test/e2e/test-plugins/hooks-api/index.js
Labels: Code Quality, Extensibility

#7399 Regenerate integrity checks to sha512
  package-lock.json
Labels: Build Tooling

#7223 Fix issues with floats and the side UI on wide and fullwide
  edit-post/assets/stylesheets/_variables.scss
  edit-post/components/visual-editor/style.scss
  editor/components/block-list/style.scss
  editor/components/default-block-appender/style.scss
  editor/components/post-title/style.scss
Labels: [Type] Bug

#7395 Remove the componentWillReceiveProps lifecycle usage
  components/date-time/time.js
  components/dropdown/index.js
  components/form-token-field/index.js
  components/server-side-render/index.js
  components/slot-fill/fill.js
  components/slot-fill/slot.js
  core-blocks/gallery/edit.js
  core-blocks/gallery/gallery-image.js
  core-blocks/image/edit.js
  editor/components/block-list/block-html.js
  editor/components/block-list/block.js
  editor/components/document-title/index.js
  editor/components/post-publish-panel/index.js
  editor/components/post-taxonomies/flat-term-selector.js
  editor/components/post-text-editor/index.js
  editor/components/preserve-scroll-in-reorder/index.js
  editor/components/rich-text/format-toolbar/index.js
  editor/components/rich-text/index.js
  editor/components/rich-text/tinymce.js
  packages/data/src/index.js
  packages/data/src/test/index.js
Labels: Code Quality

#7201 Improve translatable strings containing "%s" to have a translator comment
  components/color-palette/index.js
  components/server-side-render/index.js
  core-blocks/block/indicator/index.js
  core-blocks/embed/index.js
  core-blocks/heading/edit.js
  editor/components/inserter-with-shortcuts/index.js
  editor/components/media-placeholder/index.js
  utils/mediaupload.js
Labels: i18n

#7419 Framework: Drop deprecations slated for 3.1 removal
  blocks/api/registration.js
  docs/data/core-editor.md
  docs/reference/deprecated.md
  edit-post/index.js
  editor/components/post-excerpt/index.js
  editor/deprecated.js
  editor/index.js
  editor/store/selectors.js
  editor/store/test/selectors.js
  lib/client-assets.php
  utils/deprecated.js
Labels: Framework, Priority High

#7386 Fix bug where server side upload errors disappear automatically
  core-blocks/audio/edit.js
  core-blocks/cover-image/index.js
  core-blocks/gallery/edit.js
  core-blocks/image/edit.js
  core-blocks/video/edit.js
  editor/components/media-placeholder/index.js
Labels: Media, [Type] Bug

#7429 RTL: Fix block inserter popver in RTL mode by telling RTLCSS to ignore the relevent props
  components/popover/style.scss
Labels: [Type] Bug, i18n

#7430 fix: Don't change cursor for disabled Button
  components/button/style.scss
Labels: Needs Design Feedback

#7431 Data: Refactor withSelect to use getDerivedStateFromProps
  packages/data/src/index.js
  packages/data/src/test/index.js
Labels: Framework, Performance

#7402 Update plugin version to 3.1.
  gutenberg.php
  package-lock.json
  package.json
Labels: [Component] Plugin

#7459 Polish region focus style
  components/higher-order/navigate-regions/style.scss
  edit-post/assets/stylesheets/_animations.scss
Labels: Accessibility, Design

#7434 Display server error message when one exists
  utils/mediaupload.js
Labels: Media, REST API Interaction

#7522 Polish library just a teeeeensy bit
  components/panel/style.scss
  editor/components/inserter/style.scss
Labels: Design

#7477 Blocks: Remove wrapping div from paragraph block
  core-blocks/paragraph/index.js
  core-blocks/paragraph/test/__snapshots__/index.js.snap
Labels: Blocks, Code Quality, Performance

#7496 Remove post type 'viewable' compatibility shim
  lib/rest-api.php
Labels: Core REST API Task

#7532 Fix broken links in documentation
  docs/extensibility.md
  edit-post/README.md
Labels: Documentation

#7502 Only save metaboxes when it's not an autosave
  edit-post/store/effects.js
Labels: [Component] Saving, [Type] Bug

#6877 Add end 2 end test sidebar behaviours on mobile and desktop.
  test/e2e/specs/sidebar-behaviour.test.js
  test/e2e/support/utils.js
Labels: Automated Testing

#7284 Testing: Add e2e test for PluginPostStatusInfo
  test/e2e/specs/__snapshots__/plugins-api.test.js.snap
  test/e2e/specs/plugins-api.test.js
  test/e2e/specs/templates.test.js
  test/e2e/support/utils.js
  test/e2e/test-plugins/plugins-api.php
  test/e2e/test-plugins/plugins-api/index.js
  test/e2e/test-plugins/plugins-api/post-status-info.js
  test/e2e/test-plugins/plugins-api/publish-panel.js
  test/e2e/test-plugins/plugins-api/sidebar.js
Labels: Automated Testing, Extensibility, Plugins API

#7495 Implement core style of including revisions data on Post response
  editor/store/selectors.js
  editor/store/test/selectors.js
  lib/rest-api.php
  phpunit/class-gutenberg-rest-api-test.php
Labels: REST API Interaction, [Component] Saving

#7472 Fix text wrapping in Firefox.
  editor/components/block-list/style.scss
Labels: [Type] Bug

#7125 Verify if block icon background and foreground colors are readable
  blocks/api/registration.js
  blocks/api/test/registration.js
  blocks/api/utils.js
Labels: Accessibility, Block API

#6885 Components: Tab Panel: add initialTabIndex prop
  components/tab-panel/README.md
  components/tab-panel/index.js
  components/tab-panel/test/index.js
Labels: UI Components, [Type] Enhancement

#7470 Fix colors of plugin icons.
  components/menu-item/style.scss
  edit-post/components/header/pinned-plugins/style.scss
Labels: [Type] Bug

#7544 Use withSafeTimeout in NUX tips
  components/higher-order/with-safe-timeout/README.md
  components/higher-order/with-safe-timeout/index.js
  editor/components/default-block-appender/test/__snapshots__/index.js.snap
  nux/components/dot-tip/index.js
  nux/components/dot-tip/test/index.js
Labels: NUX, [Type] Bug

#7362 Block API: Add block styles variations API
  components/disabled/index.js
  core-blocks/button/editor.scss
  core-blocks/button/index.js
  core-blocks/button/style.scss
  core-blocks/quote/index.js
  core-blocks/quote/style.scss
  core-blocks/quote/theme.scss
  core-blocks/separator/index.js
  core-blocks/separator/style.scss
  core-blocks/separator/theme.scss
  core-blocks/test/fixtures/core__quote__style-1.html
  core-blocks/test/fixtures/core__quote__style-1.json
  core-blocks/test/fixtures/core__quote__style-1.parsed.json
  core-blocks/test/fixtures/core__quote__style-2.html
  core-blocks/test/fixtures/core__quote__style-2.json
  core-blocks/test/fixtures/core__quote__style-2.parsed.json
  core-blocks/test/fixtures/core__quote__style-2.serialized.html
  edit-post/assets/stylesheets/_z-index.scss
  edit-post/components/visual-editor/style.scss
  editor/components/block-icon/style.scss
  editor/components/block-inspector/style.scss
  editor/components/block-preview/index.js
  editor/components/block-preview/style.scss
  editor/components/block-styles/index.js
  editor/components/block-styles/style.scss
  editor/components/block-styles/test/index.js
  editor/components/block-switcher/index.js
  editor/components/block-switcher/style.scss
  editor/components/block-switcher/test/__snapshots__/index.js.snap
  editor/components/block-switcher/test/index.js
  editor/components/block-types-list/index.js
  editor/components/block-types-list/style.scss
  editor/components/inserter/child-blocks.js
  editor/components/inserter/menu.js
  editor/components/inserter/style.scss
  editor/components/inserter/test/menu.js
  test/e2e/specs/__snapshots__/style-variation.test.js.snap
  test/e2e/specs/style-variation.test.js
Labels: Block API

#7493 Framework: Add package: @wordpress/babel-plugin-import-jsx-pragma
  bin/packages/get-babel-config.js
  bin/packages/get-packages.js
  eslint/config.js
  package.json
  packages/babel-plugin-import-jsx-pragma/.npmrc
  packages/babel-plugin-import-jsx-pragma/README.md
  packages/babel-plugin-import-jsx-pragma/package.json
  packages/babel-plugin-import-jsx-pragma/src/index.js
  packages/babel-plugin-import-jsx-pragma/test/index.js
  packages/data/src/index.js
  packages/data/src/test/index.js
  packages/element/README.md
  packages/element/src/test/serialize.js
  packages/plugins/src/components/plugin-area/index.js
  packages/plugins/src/components/plugin-context/index.js
Labels: Framework, Packages

#7577 Add keycodes package
  .eslintrc.js
  components/autocomplete/index.js
  components/autocomplete/test/index.js
  components/code-editor/editor.js
  components/dropdown-menu/index.js
  components/dropdown-menu/test/index.js
  components/navigable-container/index.js
  components/navigable-container/test/index.js
  components/popover/index.js
  core-blocks/block/edit-panel/index.js
  core-blocks/freeform/edit.js
  core-blocks/gallery/gallery-image.js
  docs/reference/deprecated.md
  edit-post/keyboard-shortcuts.js
  editor/components/block-list/block.js
  editor/components/block-switcher/index.js
  editor/components/block-switcher/test/index.js
  editor/components/editor-global-keyboard-shortcuts/index.js
  editor/components/editor-history/redo.js
  editor/components/editor-history/undo.js
  editor/components/navigable-toolbar/index.js
  editor/components/observe-typing/index.js
  editor/components/post-saved-state/index.js
  editor/components/post-title/index.js
  editor/components/rich-text/format-toolbar/index.js
  editor/components/rich-text/index.js
  editor/components/rich-text/patterns.js
  editor/components/rich-text/tinymce.js
  editor/components/url-input/index.js
  editor/components/writing-flow/index.js
  lib/client-assets.php
  packages/keycodes/.npmrc
  packages/keycodes/README.md
  packages/keycodes/package.json
  packages/keycodes/src/index.js
  packages/keycodes/src/test/index.js
  test/unit/jest.config.json
  utils/deprecated.js
  utils/index.js
  webpack.config.js
Labels: Packages

#7322 Support 'Autoplay' and 'Loop' in Audio Block 'Playback Controls'
  blocks/api/parser.js
  blocks/api/test/parser.js
  core-blocks/audio/edit.js
  core-blocks/audio/index.js
  core-blocks/test/fixtures/core__audio.json
Labels: Blocks, [Type] Bug

#7585 Own package for keycodes
  components/code-editor/editor.js
Labels: Packages

#7581 Add shortcode package
  blocks/api/raw-handling/shortcode-converter.js
  lib/client-assets.php
  packages/shortcode/README.md
  packages/shortcode/package.json
  packages/shortcode/src/index.js
  packages/shortcode/src/test/index.js
  test/integration/fixtures/wordpress-in.html
  test/integration/fixtures/wordpress-out.html
  test/unit/jest.config.json
  webpack.config.js
Labels: Packages, [Component] Raw Handling

#7587 Update import from @wordpress/deprecated
  editor/components/colors/with-colors.js
Labels: Packages

#7543 Move the remove icon button to the ellipsis menu as a menu button
  editor/components/block-settings-menu/block-remove-button.js
  editor/components/block-settings-menu/index.js
  editor/components/block-settings-menu/shared-block-convert-button.js
  editor/components/block-settings-menu/shared-block-delete-button.js
  editor/components/block-settings-menu/test/__snapshots__/block-remove-button.js.snap
  editor/components/block-settings-menu/test/__snapshots__/shared-block-delete-button.js.snap
  editor/components/block-settings-menu/test/block-remove-button.js
  editor/components/block-settings-menu/test/shared-block-convert-button.js
  editor/components/block-settings-menu/test/shared-block-delete-button.js
Labels: Blocks, [Type] Enhancement

#7411 Documentation: Generates the manifest dynamically to include the data module docs in the handbook
  docs/data/README.md
  docs/data/core-edit-post.md
  docs/data/core-nux.md
  docs/data/core.md
  docs/data/tool/index.js
  docs/manifest.json
  docs/root-manifest.json
  docs/tool/config.js
  docs/tool/generator.js
  docs/tool/index.js
  docs/tool/manifest.js
  docs/tool/parser.js
  package.json
Labels: Documentation

#7570 Force the display of hidden meta boxes
  lib/register.php
Labels: Backwards Compatibility

#6987 Add a higher order component to constrain Tab keyboard navigation.
  components/higher-order/with-constrained-tabbing/README.md
  components/higher-order/with-constrained-tabbing/index.js
  components/index.js
  components/popover/index.js
Labels: UI Components

#6959 Add Inline Images and Inline Blocks API
  blocks/api/index.js
  components/slot-fill/slot.js
  core-blocks/gallery/style.scss
  core-blocks/image/editor.scss
  edit-post/hooks/components/media-upload/index.js
  editor/components/block-types-list/index.js
  editor/components/inserter/index.js
  editor/components/inserter/menu.js
  editor/components/inserter/results-portal.js
  editor/components/rich-text/core-tokens/image/editor.scss
  editor/components/rich-text/core-tokens/image/index.js
  editor/components/rich-text/core-tokens/index.js
  editor/components/rich-text/index.js
  editor/components/rich-text/style.scss
  editor/components/rich-text/tokens/index.js
  editor/components/rich-text/tokens/ui/index.js
  editor/components/rich-text/tokens/ui/style.scss
  editor/store/actions.js
  editor/store/index.js
  editor/store/reducer.js
  editor/store/selectors.js
  package.json
  test/e2e/assets/10x10_e2e_test_image_z9T8jK.png
  test/e2e/specs/adding-blocks.test.js
  test/e2e/specs/adding-inline-tokens.test.js
  test/e2e/specs/splitting-merging.test.js
  test/e2e/support/utils.js
Labels: Block API, Media

#7610 Parser: Fix boolean attribute explicit string value result
  blocks/api/parser.js
  blocks/api/test/parser.js
Labels: Block API, [Component] Parsing, [Type] Bug

#7578 Correctly handle case where 'post-thumbnails' is array of post types
  editor/components/theme-support-check/index.js
  editor/components/theme-support-check/test/index.js
  lib/rest-api.php
  phpunit/class-gutenberg-rest-api-test.php
Labels: REST API Interaction, [Component] Post Settings, [Type] Bug

#7376 Fix/resizing images by dragging
  core-blocks/image/edit.js
  core-blocks/image/editor.scss
Labels: Media

#7606 Blocks: Add a way to manage block categories
  blocks/api/categories.js
  blocks/api/index.js
  blocks/store/actions.js
  blocks/store/reducer.js
  blocks/store/test/reducer.js
  docs/extensibility/extending-blocks.md
  lib/client-assets.php
Labels: Blocks, Extensibility

#7615 Build: Use cross-env for plugin build scripts
  package.json
Labels: Build Tooling

#7538 Parser: Parse superfluous classes as custom classes
  blocks/api/index.js
  blocks/api/parser.js
  docs/extensibility/extending-blocks.md
  editor/hooks/custom-class-name.js
  editor/hooks/test/custom-class-name.js
Labels: Blocks, [Component] Parsing

#7627 Data Module: Move the data reference to the root level
  docs/data/README.md
  docs/data/core-blocks.md
  docs/data/core-editor.md
  docs/manifest.json
  docs/tool/generator.js
  docs/tool/manifest.js
Labels: Documentation

#7632 Documentation: Adding the packages READMEs to the handbook
  docs/manifest.json
  docs/packages.md
  docs/root-manifest.json
  docs/tool/config.js
  docs/tool/index.js
  docs/tool/manifest.js
Labels: Documentation

#7418 Inner Blocks: Refactor treatment of block settings
  editor/components/inner-blocks/index.js
  editor/store/reducer.js
  editor/store/selectors.js
  editor/store/test/reducer.js
  editor/store/test/selectors.js
Labels: [Component] Nested / Inner Blocks

#6712 Writing Flow: Consider horizontal handled by stopPropagation in RichText
  editor/components/rich-text/index.js
  editor/components/writing-flow/index.js
  test/e2e/specs/__snapshots__/writing-flow.test.js.snap
  test/e2e/specs/writing-flow.test.js
  test/e2e/support/utils.js
Labels: Writing Flow, [Component] Rich Text, [Type] Bug

#7482 Blocks: Avoid setAttributes on end-of-paragraph split
  core-blocks/paragraph/index.js
  editor/components/rich-text/index.js
Labels: Blocks, Code Quality, Performance, [Component] Rich Text

#7641 Framework: Regenerate package-lock.json
  package-lock.json
Labels: Framework
