Repository WordPress/gutenberg, pull requests merged in 2018-11, with the labels that each got.

#11198 Remove code coverage setup
  .eslintignore
  .gitignore
  README.md
  codecov.yml
  docs/reference/testing-overview.md
  jsconfig.json
  package-lock.json
  package.json
  packages/jest-preset-default/CHANGELOG.md
  packages/jest-preset-default/README.md
  packages/jest-preset-default/jest-preset.json
  test/unit/jest.config.json
Labels: Build Tooling

#11254 Use source_url for media file link URL in image block
  packages/block-library/src/image/edit.js
Labels: [Block] Image, [Type] Bug

#11350 Remove Cloudflare warning
  lib/compat.php
  packages/api-fetch/CHANGELOG.md
  packages/api-fetch/src/index.js
  packages/api-fetch/src/test/index.js
  packages/editor/CHANGELOG.md
  packages/editor/src/store/effects/posts.js
Labels: [Type] Task

#11342 Remove _wpGutenbergCodeEditorSettings
  lib/client-assets.php
Labels: Code Quality

#8180 Fix: make meta+A behaviour of selecting all blocks work on safari and firefox
  packages/editor/src/components/writing-flow/index.js
Labels: Accessibility, Writing Flow, [Type] Bug

#11168 Try avoiding the deprecated findDOMNode API from DropZone Provider
  packages/components/src/drop-zone/provider.js
  packages/components/src/drop-zone/style.scss
  test/e2e/specs/adding-blocks.test.js
Labels: Code Quality

#11363 Remove findDOMNode usage from the inserter
  packages/block-library/src/more/test/__snapshots__/edit.js.snap
  packages/components/CHANGELOG.md
  packages/components/src/panel/body.js
  packages/components/src/panel/test/__snapshots__/color.js.snap
  packages/components/src/panel/test/body.js
  packages/edit-post/src/components/sidebar/plugin-post-publish-panel/test/__snapshots__/index.js.snap
  packages/edit-post/src/components/sidebar/plugin-post-publish-panel/test/index.js
  packages/edit-post/src/components/sidebar/plugin-pre-publish-panel/test/__snapshots__/index.js.snap
  packages/edit-post/src/components/sidebar/plugin-pre-publish-panel/test/index.js
  packages/editor/CHANGELOG.md
  packages/editor/src/components/inserter/menu.js
  packages/editor/src/components/panel-color-settings/test/__snapshots__/index.js.snap
Labels: Code Quality

#11372 Remove duplicated word "page".
  docs/extensibility/meta-box.md
Labels: Documentation

#11336 api-fetch: Add Accept json header to l10n requests
  packages/api-fetch/src/index.js
Labels: REST API Interaction, [Type] Bug, i18n

#11213 Docs: custom block category add icon info
  docs/extensibility/extending-blocks.md
Labels: Documentation

#11084 Advanced Panels: Add support for the 'Custom Fields' meta box
  lib/client-assets.php
  lib/meta-box-partial-page.php
  packages/edit-post/src/components/options-modal/index.js
  packages/edit-post/src/components/options-modal/meta-boxes-section.js
  packages/edit-post/src/components/options-modal/options.js
  packages/edit-post/src/components/options-modal/options/base.js
  packages/edit-post/src/components/options-modal/options/deferred.js
  packages/edit-post/src/components/options-modal/options/enable-custom-fields.js
  packages/edit-post/src/components/options-modal/options/enable-panel.js
  packages/edit-post/src/components/options-modal/options/enable-publish-sidebar.js
  packages/edit-post/src/components/options-modal/options/enable-tips.js
  packages/edit-post/src/components/options-modal/options/index.js
  packages/edit-post/src/components/options-modal/test/__snapshots__/index.js.snap
  test/e2e/specs/nux.test.js
Labels: Backwards Compatibility, [Component] Meta Boxes

#11321 Update/shortcuts docs
  docs/reference/faq.md
  packages/edit-post/src/components/keyboard-shortcut-help-modal/config.js
  packages/edit-post/src/components/keyboard-shortcut-help-modal/test/__snapshots__/index.js.snap
Labels: [Type] Bug

#11391 Fix design doc do's and don'ts links
  docs/design/block-design.md
Labels: [Type] Bug

#11205 Try: Make gallery keyboardable
  packages/block-library/src/gallery/editor.scss
  packages/block-library/src/gallery/gallery-image.js
Labels: Accessibility

#11379 fix: Use aria-disabled instead of disabled for undo/redo
  packages/editor/src/components/editor-history/redo.js
  packages/editor/src/components/editor-history/undo.js
  test/e2e/specs/new-post.test.js
  test/e2e/specs/undo.test.js
Labels: Accessibility

#11170 Leverage forwardRef to remove findDOMNode from the block component
  packages/editor/CHANGELOG.md
  packages/editor/src/components/block-list/block.js
  packages/editor/src/components/ignore-nested-events/index.js
  packages/editor/src/components/ignore-nested-events/test/index.js
Labels: Code Quality

#11356 Use the image sizes names filter
  lib/client-assets.php
  packages/block-library/src/image/edit.js
  packages/editor/src/store/defaults.js
Labels: Backwards Compatibility, Media

#11314 Update tests so we can migrate SlotFill component to the stable context API
  packages/components/src/popover/test/__snapshots__/index.js.snap
  packages/components/src/popover/test/index.js
  packages/components/src/slot-fill/test/__snapshots__/slot.js.snap
  packages/components/src/slot-fill/test/slot.js
  packages/components/src/tooltip/test/index.js
  packages/edit-post/src/components/sidebar/plugin-post-status-info/test/__snapshots__/index.js.snap
  packages/edit-post/src/components/sidebar/plugin-post-status-info/test/index.js
Labels: Automated Testing, Framework

#11395 Revert refactoring hierarchical term selector using the data module
  docs/data/data-core-editor.md
  packages/editor/src/components/post-taxonomies/hierarchical-term-selector.js
  packages/editor/src/store/actions.js
  packages/editor/src/store/effects.js
  packages/editor/src/store/effects/terms.js
Labels: Regression, [Type] Bug

#11123 Update SlotFillProvider to the new context API
  packages/components/src/popover/index.js
  packages/components/src/slot-fill/context.js
  packages/components/src/slot-fill/fill.js
  packages/components/src/slot-fill/index.js
  packages/components/src/slot-fill/slot.js
  packages/components/src/slot-fill/test/slot.js
Labels: Framework

#11344 Blocks: Upgrade hpq from 1.2.0 to 1.3.0
  package-lock.json
  packages/blocks/package.json
Labels: Performance, [Package] Blocks

#11429 Parser: Pass-through PHP errors in tests
  packages/block-serialization-spec-parser/shared-tests.js
Labels: [Component] Parsing

#11332 API Fetch: Avoid unnecessary options shallow clone on unhandled method
  packages/api-fetch/src/middlewares/http-v1.js
  packages/api-fetch/src/middlewares/test/http-v1.js
Labels: Code Quality, [Package] API fetch

#10103 Editor: Debounce autosave on last edit
  docs/data/data-core-editor.md
  packages/editor/src/components/autosave-monitor/index.js
  packages/editor/src/components/autosave-monitor/test/index.js
  packages/editor/src/store/selectors.js
  packages/editor/src/store/test/selectors.js
Labels: [Component] Saving

#11437 API Fetch: Fix non-JSON apiFetch body request
  packages/api-fetch/README.md
  packages/api-fetch/src/index.js
  packages/api-fetch/src/test/index.js
Labels: [Package] API fetch, [Type] Bug

#11328 Update CONTRIBUTORS.md
  CONTRIBUTORS.md
Labels: Documentation

#11369 Parser: Optimize JSON-attribute parsing
  packages/block-serialization-default-parser/parser.php
  packages/block-serialization-default-parser/src/index.js
  packages/block-serialization-spec-parser/shared-tests.js
Labels: [Component] Parsing, [Type] Bug

#11187 Post Preview Button: Use an <a> instead of a <button>
  packages/editor/src/components/post-preview-button/index.js
  packages/editor/src/components/post-preview-button/test/__snapshots__/index.js.snap
  packages/editor/src/components/post-preview-button/test/index.js
Labels: Accessibility, Needs Accessibility Feedback

#11475 Fixes #11474
  packages/components/src/button/style.scss
Labels: [Type] Enhancement

#11397 Editor: Stop re-rendering all blocks when navigating with arrow keys
  packages/editor/src/components/block-list/index.js
Labels: Performance, Writing Flow

#11403 PostPublishPanel: constraint tabbing within panel
  packages/editor/src/components/post-publish-panel/index.js
  test/e2e/specs/publish-panel.test.js
Labels: Accessibility

#11483 Editor: Use store to always have up to date list of format types
  packages/editor/src/components/rich-text/format-edit.js
  packages/editor/src/index.js
  packages/rich-text/src/index.js
Labels: [Component] Rich Text, [Package] Editor, [Type] Enhancement

#11466 Add aria label to images in Gallery block during edit mode.
  packages/block-library/CHANGELOG.md
  packages/block-library/src/gallery/edit.js
  packages/block-library/src/gallery/gallery-image.js
Labels: Accessibility

#11500 RichText: Fix applying formats on multiline values without wrapper tags
  packages/rich-text/src/test/__snapshots__/to-dom.js.snap
  packages/rich-text/src/test/create.js
  packages/rich-text/src/test/helpers/index.js
  packages/rich-text/src/to-tree.js
Labels: [Component] Rich Text

#11476 Hide custom fields option when the meta box is disabled
  packages/edit-post/src/components/options-modal/meta-boxes-section.js
  packages/edit-post/src/components/options-modal/options/enable-custom-fields.js
  packages/edit-post/src/components/options-modal/options/test/__snapshots__/enable-custom-fields.js.snap
  packages/edit-post/src/components/options-modal/options/test/enable-custom-fields.js
  packages/edit-post/src/components/options-modal/test/__snapshots__/meta-boxes-section.js.snap
  packages/edit-post/src/components/options-modal/test/meta-boxes-section.js
Labels: [Component] Meta Boxes, [Type] Bug

#11521 Update contributors.md
  CONTRIBUTORS.md
Labels: Documentation

#11401 Remove findDOMNode usage from the NavigableToolbar component
  package-lock.json
  packages/block-library/package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/components/src/menu-group/test/__snapshots__/index.js.snap
  packages/components/src/navigable-container/container.js
  packages/components/src/navigable-container/index.js
  packages/components/src/navigable-container/menu.js
  packages/components/src/navigable-container/tabbable.js
  packages/components/src/navigable-container/test/menu.js
  packages/components/src/navigable-container/test/tabbable.js
  packages/components/src/panel/test/__snapshots__/color.js.snap
  packages/components/src/scroll-lock/test/index.js
  packages/compose/package.json
  packages/data/package.json
  packages/edit-post/package.json
  packages/edit-post/src/components/keyboard-shortcut-help-modal/test/__snapshots__/index.js.snap
  packages/editor/CHANGELOG.md
  packages/editor/package.json
  packages/editor/src/components/block-compare/test/__snapshots__/block-view.js.snap
  packages/editor/src/components/navigable-toolbar/index.js
  packages/editor/src/components/panel-color-settings/test/__snapshots__/index.js.snap
  packages/editor/src/components/post-saved-state/test/__snapshots__/index.js.snap
  packages/editor/src/components/post-taxonomies/test/index.js
  packages/element/package.json
  packages/jest-preset-default/package.json
  packages/nux/package.json
Labels: Code Quality

#11418 Remove moment from the public API of the date module
  docs/reference/deprecated.md
  packages/date/CHANGELOG.md
  packages/date/src/index.js
  packages/editor/src/store/selectors.js
  packages/editor/src/store/test/selectors.js
Labels: [Package] Date

#10792 Don’t auto-select a pullquote text colour for regular style
  packages/block-library/src/pullquote/edit.js
Labels: Blocks

#11422 feat: Add multi-block selection announcement
  packages/editor/src/store/effects.js
  test/e2e/specs/multi-block-selection.test.js
Labels: Accessibility

#11407 Remove findDomNode from withHoverAreas by making a render prop component
  packages/editor/src/components/block-list/block.js
  packages/editor/src/components/block-list/hover-area.js
  packages/editor/src/components/block-list/with-hover-areas.js
Labels: Code Quality

#11514 Fix: Translator comments are not included for quote and pullquote placeholders
  packages/block-library/src/pullquote/edit.js
  packages/block-library/src/quote/index.js
Labels: [Type] Bug, i18n

#11217 Fix: Embeds: Clicking on a WordPress embed does not select the block.
  packages/block-library/src/embed/embed-preview.js
  packages/block-library/src/embed/wp-embed-preview.js
Labels: [Block] Embed, [Type] Bug

#11489 Post publish panel: focus the post link
  packages/editor/src/components/post-publish-panel/index.js
  packages/editor/src/components/post-publish-panel/postpublish.js
  packages/editor/src/components/post-publish-panel/test/__snapshots__/index.js.snap
  test/e2e/specs/publish-panel.test.js
Labels: Accessibility

#11524 Fetch all terms linked to a post, rather than just first 100
  packages/editor/src/components/post-taxonomies/flat-term-selector.js
Labels: REST API Interaction, [Type] Bug

#11545 Import Format API components instead of passing as props
  packages/editor/src/components/index.js
  packages/editor/src/components/rich-text/format-edit.js
  packages/editor/src/components/rich-text/index.js
  packages/editor/src/components/rich-text/inserter-list-item.js
  packages/editor/src/components/rich-text/shortcut.js
  packages/editor/src/components/rich-text/toolbar-button.js
  packages/format-library/src/bold/index.js
  packages/format-library/src/code/index.js
  packages/format-library/src/image/index.js
  packages/format-library/src/italic/index.js
  packages/format-library/src/link/index.js
  packages/format-library/src/strikethrough/index.js
Labels: [Component] Rich Text

#11511 RNmobile: Trigger media library picker
  packages/block-library/src/image/edit.native.js
Labels: Mobile App Compatibility

#11488 Rich Text: Fix Format Type Assignment During Parsing
  packages/format-library/src/bold/index.js
  packages/format-library/src/code/index.js
  packages/format-library/src/image/index.js
  packages/format-library/src/italic/index.js
  packages/format-library/src/link/index.js
  packages/format-library/src/strikethrough/index.js
  packages/rich-text/src/create.js
  packages/rich-text/src/register-format-type.js
  packages/rich-text/src/store/selectors.js
  packages/rich-text/src/test/create.js
  packages/rich-text/src/test/helpers/index.js
  packages/rich-text/src/test/register-format-type.js
  packages/rich-text/src/test/to-html-string.js
  packages/rich-text/src/to-tree.js
Labels: Priority High, [Component] Rich Text

#11267 Editor: Factor initial edits to own state
  docs/data/data-core-editor.md
  lib/client-assets.php
  packages/edit-post/src/editor.js
  packages/edit-post/src/index.js
  packages/editor/src/components/provider/index.js
  packages/editor/src/store/actions.js
  packages/editor/src/store/defaults.js
  packages/editor/src/store/effects.js
  packages/editor/src/store/reducer.js
  packages/editor/src/store/selectors.js
  packages/editor/src/store/test/reducer.js
  packages/editor/src/store/test/selectors.js
  packages/url/src/test/index.test.js
  test/e2e/specs/change-detection.test.js
  test/e2e/specs/demo.test.js
  test/e2e/specs/new-post.test.js
  test/e2e/support/utils.js
Labels: Framework, [Package] Editor

#11537 [RNMobile] Remove delayed call to `onChange` method
  packages/editor/src/components/rich-text/index.native.js
Labels: Mobile App Compatibility

#11481 Only show the image sizes with names
  lib/client-assets.php
  packages/block-library/src/image/edit.js
  packages/editor/src/store/defaults.js
Labels: Backwards Compatibility, Media

#11539 Separate Paste Handler
  packages/blocks/src/api/index.js
  packages/blocks/src/api/raw-handling/index.js
  packages/editor/src/components/block-drop-zone/index.js
  packages/editor/src/components/block-list/block-invalid-warning.js
  packages/editor/src/components/block-settings-menu/block-html-convert-button.js
  packages/editor/src/components/block-settings-menu/block-unknown-convert-button.js
  packages/editor/src/components/rich-text/index.js
  test/integration/__snapshots__/blocks-raw-handling.spec.js.snap
  test/integration/blocks-raw-handling.spec.js
  test/integration/fixtures/wordpress-convert.html
Labels: [Component] Raw Handling

#11359 Run the E2E tests as a user with the author role
  .travis.yml
  bin/install-wordpress.sh
  bin/run-e2e-tests.sh
  packages/block-library/src/latest-posts/edit.js
  test/e2e/specs/change-detection.test.js
  test/e2e/specs/templates.test.js
  test/e2e/support/plugins.js
  test/e2e/support/setup-test-framework.js
  test/e2e/support/utils.js
Labels: Automated Testing

#11486 Expose @wordpress/editor to Gutenberg mobile
  packages/blocks/src/api/index.native.js
  packages/components/src/index.native.js
  packages/date/package.json
  packages/editor/src/components/block-edit/edit.native.js
  packages/editor/src/components/index.native.js
  packages/editor/src/index.native.js
  packages/editor/src/store/index.native.js
Labels: Mobile App Compatibility

#11262 Fix: "View as" link is not updated after the post is updated and the permalink is changed
  packages/edit-post/src/store/effects.js
Labels: Permalinks, [Type] Bug

#11550 Allow a block to disable being converted into a reusable block; Fix: Column block
  docs/block-api.md
  packages/block-library/src/classic/index.js
  packages/block-library/src/columns/column.js
  packages/block-library/src/missing/index.js
  packages/editor/src/components/block-settings-menu/reusable-block-convert-button.js
Labels: Block API, Blocks, [Component] Reusable Blocks, [Type] Bug

#10696 Add mechanism to avoid forced child selection on blocks with templates.
  docs/data/data-core-editor.md
  packages/editor/src/components/inner-blocks/README.md
  packages/editor/src/components/inner-blocks/index.js
  packages/editor/src/store/actions.js
  packages/editor/src/store/reducer.js
  packages/editor/src/store/test/actions.js
  packages/editor/src/store/test/reducer.js
Labels: Accessibility, [Type] Bug

#11115 Slot/Fill pattern with Toolbar #199
  packages/block-library/src/code/edit.native.js
  packages/block-library/src/code/theme.android.scss
  packages/block-library/src/code/theme.ios.scss
  packages/block-library/src/heading/edit.native.js
  packages/block-library/src/paragraph/edit.native.js
  packages/block-library/src/paragraph/style.native.scss
  packages/components/src/button/index.native.js
  packages/components/src/index.native.js
  packages/components/src/toolbar/toolbar-container.native.js
  packages/editor/src/components/index.native.js
  packages/editor/src/components/rich-text/index.native.js
Labels: Mobile App Compatibility

#11572 Fix the isBeingScheduled Selector.
  packages/date/src/index.js
  packages/date/src/test/index.js
  packages/editor/src/store/selectors.js
Labels: [Package] Date, [Type] Bug

#11216 Rename wp-polyfill-ecmascript
  docs/reference/scripts.md
  lib/client-assets.php
Labels: Framework

#11207 Paste: Google Docs: fix nested formatting, sub, sup and del
  packages/blocks/src/api/raw-handling/phrasing-content-reducer.js
  packages/blocks/src/api/raw-handling/test/phrasing-content-reducer.js
  packages/dom/src/dom.js
  test/integration/fixtures/google-docs-in.html
  test/integration/fixtures/google-docs-out.html
Labels: [Component] Raw Handling

#10838 Fix regressions and improve the insert link search field and suggestions list
  packages/editor/src/components/url-input/index.js
  packages/editor/src/components/url-input/style.scss
  packages/format-library/src/link/inline.js
Labels: Accessibility, Regression, [Type] Bug

#11565 Gallery: Upload images one at a time
  packages/editor/src/utils/media-upload/media-upload.js
  packages/editor/src/utils/media-upload/test/media-upload.js
Labels: Media, Priority High, [Block] Gallery, [Type] Bug

#11605 Block API: Remove undefined className argument from save() methods
  docs/blocks/applying-styles-with-stylesheets.md
  docs/blocks/block-controls-toolbars-and-inspector.md
  docs/blocks/introducing-attributes-and-editable-fields.md
  packages/block-library/src/cover/index.js
  packages/block-library/src/subhead/index.js
  packages/block-library/src/verse/index.js
Labels: Block API, Documentation, [Block] Cover

#11576 [RNMobile] Make sure the native side is refreshed after blocks Merging
  packages/editor/src/components/rich-text/index.native.js
Labels: Mobile App Compatibility

#11459 Change aria-checked to only be used on matching ARIA roles for MenuItem.
  packages/components/CHANGELOG.md
  packages/components/src/menu-item/README.md
  packages/components/src/menu-item/index.js
  packages/components/src/menu-item/test/index.js
  packages/editor/CHANGELOG.md
  packages/editor/src/components/block-navigation/index.js
Labels: Accessibility

#11263 Fix: Cover image tooltips for alignment are duplicated
  packages/editor/src/components/alignment-toolbar/index.js
  packages/editor/src/components/alignment-toolbar/test/__snapshots__/index.js.snap
  packages/editor/src/components/alignment-toolbar/test/index.js
Labels: Accessibility, Copy, [Type] Enhancement

#11633 Components: Restore click-to-close behavior of Dropdown toggle
  packages/components/src/dropdown/index.js
  test/e2e/specs/demo.test.js
  test/e2e/specs/popovers.test.js
Labels: Regression, UI Components

#11636 Fix save lock control (length check on object)
  packages/editor/src/store/selectors.js
  packages/editor/src/store/test/selectors.js
Labels: [Component] Saving

#11257 Auto-refresh Popovers
  docs/reference/deprecated.md
  packages/components/CHANGELOG.md
  packages/components/src/dropdown/index.js
  packages/components/src/popover/index.js
  packages/components/src/popover/test/index.js
Labels: [Package] Components, [Type] Bug

#11630 Support passing a context variable to the custom format prepareEditTreeValue
  packages/block-library/src/heading/edit.js
  packages/block-library/src/list/index.js
  packages/block-library/src/paragraph/edit.js
  packages/block-library/src/quote/index.js
  packages/editor/src/components/rich-text/index.js
  packages/rich-text/src/register-format-type.js
Labels: [Component] Rich Text

#11490 Block API: Normalize block type function argument
  packages/block-library/src/heading/index.js
  packages/block-library/src/image/index.js
  packages/block-library/src/list/index.js
  packages/blocks/CHANGELOG.md
  packages/blocks/src/api/factory.js
  packages/blocks/src/api/parser.js
  packages/blocks/src/api/raw-handling/index.js
  packages/blocks/src/api/serializer.js
  packages/blocks/src/api/test/factory.js
  packages/blocks/src/api/test/parser.js
  packages/blocks/src/api/test/serializer.js
  packages/blocks/src/api/test/validation.js
  packages/blocks/src/api/utils.js
  packages/blocks/src/api/validation.js
  packages/editor/src/components/block-compare/index.js
  packages/editor/src/components/inner-blocks/test/index.js
Labels: Block API, Code Quality

#11600 Always show icon in block toolbar
  packages/editor/src/components/block-switcher/index.js
  packages/editor/src/components/block-switcher/style.scss
Labels: Blocks, [Type] Task

#10964 Make the kitchensink button removable from plugins
  lib/client-assets.php
  packages/block-library/src/classic/edit.js
Labels: [Block] Classic, [Component] Rich Text, [External Package] TinyMCE

#11620 Try: Improve columns block
  assets/stylesheets/_z-index.scss
  packages/block-library/src/block/edit-panel/style.scss
  packages/block-library/src/columns/editor.scss
  packages/components/src/disabled/style.scss
  packages/editor/src/components/block-list/style.scss
Labels: [Block] Columns, [Type] Bug, [Type] Enhancement

#11656 Fix grammatical error in the CONTRIBUTORS.md file
  CONTRIBUTORS.md
Labels: Documentation

#11635 Update media url only if it exists
  packages/block-library/src/image/edit.native.js
Labels: Mobile App Compatibility

#11532 Update the block styles registration to avoid timing issues
  docs/data/data-core-blocks.md
  packages/blocks/CHANGELOG.md
  packages/blocks/src/api/registration.js
  packages/blocks/src/api/test/registration.js
  packages/blocks/src/store/actions.js
  packages/blocks/src/store/reducer.js
  packages/blocks/src/store/selectors.js
  packages/blocks/src/store/test/reducer.js
  packages/editor/CHANGELOG.md
  packages/editor/src/components/block-inspector/index.js
  packages/editor/src/components/block-styles/index.js
  packages/editor/src/components/block-switcher/index.js
Labels: Code Quality, Extensibility

#11584 Disabled conditions for publish buttons
  packages/edit-post/src/components/header/post-publish-button-or-toggle.js
  packages/editor/src/components/post-publish-button/index.js
  packages/editor/src/components/post-publish-button/test/index.js
  packages/editor/src/components/post-publish-panel/test/toggle.js
  packages/editor/src/components/post-publish-panel/toggle.js
  test/e2e/specs/publish-button.test.js
Labels: [Type] Bug

#11627 Restore native backspace behaviour
  packages/editor/src/components/rich-text/index.js
  packages/editor/src/components/rich-text/tinymce.js
  test/e2e/specs/writing-flow.test.js
Labels: Writing Flow, [Type] Bug

#11661 Update the last occurrence of home page with homepage
  packages/block-library/src/more/index.js
Labels: Copy, [Type] Bug

#11420 Add image and video transformations in Media & Text block
  packages/block-library/src/media-text/index.js
Labels: Block Conversion, [Block] Media & Text

#11666 Update Lerna to the latest version
  package-lock.json
  package.json
Labels: Build Tooling, Code Quality

#11286 Add validation to link format in RichText component
  packages/format-library/src/link/inline.js
  packages/format-library/src/link/style.scss
  packages/format-library/src/link/test/utils.js
  packages/format-library/src/link/utils.js
  packages/url/CHANGELOG.md
  packages/url/README.md
  packages/url/src/index.js
  packages/url/src/test/index.test.js
  test/e2e/specs/links.test.js
Labels: Accessibility, [Component] Rich Text

#11404 Update: Font Size Picker component documentation
  packages/components/src/font-size-picker/README.md
  packages/components/src/font-size-picker/index.js
Labels: Documentation, [Package] Components, [Type] Enhancement

#11659 Further improve columns block.
  packages/block-library/src/columns/editor.scss
  packages/editor/src/components/default-block-appender/index.js
  packages/editor/src/components/default-block-appender/style.scss
  packages/editor/src/components/default-block-appender/test/__snapshots__/index.js.snap
  packages/editor/src/components/default-block-appender/test/index.js
Labels: [Type] Enhancement

#11357 Try: Refactor contextual toolbar to work better with floats
  packages/block-library/src/classic/editor.scss
  packages/block-library/src/columns/editor.scss
  packages/edit-post/src/components/visual-editor/style.scss
  packages/editor/src/components/block-list/block.js
  packages/editor/src/components/block-list/style.scss
  test/e2e/specs/block-icons.test.js
Labels: [Type] Enhancement

#11495 Avoid unnecessary re-renders when navigating between blocks
  packages/editor/src/components/block-list/block.js
  packages/editor/src/components/block-list/index.js
Labels: Performance, Writing Flow, [Type] Enhancement

#7718 Annotation API
  docs/data/README.md
  docs/data/data-core-annotations.md
  docs/extensibility/annotations.md
  docs/manifest.json
  docs/root-manifest.json
  docs/tool/config.js
  lib/client-assets.php
  package-lock.json
  package.json
  packages/annotations/.npmrc
  packages/annotations/CHANGELOG.md
  packages/annotations/README.md
  packages/annotations/package.json
  packages/annotations/src/block/index.js
  packages/annotations/src/format/annotation.js
  packages/annotations/src/format/index.js
  packages/annotations/src/index.js
  packages/annotations/src/store/actions.js
  packages/annotations/src/store/index.js
  packages/annotations/src/store/reducer.js
  packages/annotations/src/store/selectors.js
  packages/annotations/src/store/test/reducer.js
  packages/blocks/package.json
  packages/components/package.json
  packages/editor/src/components/block-list/block.js
  packages/editor/src/components/rich-text/index.js
  test/e2e/specs/__snapshots__/plugins-api.test.js.snap
  test/e2e/specs/plugins-api.test.js
  test/e2e/test-plugins/plugins-api.php
  test/e2e/test-plugins/plugins-api/sidebar.js
  webpack.config.js
Labels: Extensibility, Technical Prototype, [Component] Rich Text

#11607 Fix: Blocks: Alt+F10 should navigate to block toolbar regardless of visibility
  packages/editor/CHANGELOG.md
  packages/editor/src/components/block-list/block-contextual-toolbar.js
  packages/editor/src/components/block-list/block.js
  packages/editor/src/components/navigable-toolbar/index.js
  test/e2e/specs/navigable-toolbar.test.js
Labels: Accessibility, Priority High, [Type] Task

#11543 PostPublishPanel: return focus to element that opened the panel
  docs/reference/deprecated.md
  packages/edit-post/src/components/header/index.js
  packages/edit-post/src/components/header/post-publish-button-or-toggle.js
  packages/edit-post/src/components/header/test/__snapshots__/index.js.snap
  packages/editor/CHANGELOG.md
  packages/editor/src/components/post-publish-button/index.js
  packages/editor/src/components/post-publish-button/test/index.js
  packages/editor/src/components/post-publish-panel/index.js
  packages/editor/src/components/post-publish-panel/test/toggle.js
  packages/editor/src/components/post-publish-panel/toggle.js
  test/e2e/specs/preview.test.js
  test/e2e/specs/publish-button.test.js
Labels: Accessibility

#11684 Editor: Resolve macOS Firefox / Safari sibling inserter behavior
  packages/editor/src/components/block-list/insertion-point.js
Labels: Browser Issues, [Component] Inserter, [Type] Bug

#11696 Build Tooling: Move wp-polyfill-ecmascript override to scripts registration
  lib/client-assets.php
Labels: Build Tooling

#11655 Fetch all attachments when opening a gallery in the Media Library
  packages/edit-post/src/hooks/components/media-upload/index.js
Labels: Block API, Media, REST API Interaction, [Type] Bug

#11675 📦 NEW: Add my name to CONTRIBUTORS.md file
  CONTRIBUTORS.md
Labels: Documentation

#10973 RTL: Set code editor as RTL
  packages/editor/src/components/post-text-editor/index.js
Labels: Code Editor, Needs Accessibility Feedback, i18n

#11678 Parser: Fix default PHP parser to cast inner blocks as arrays
  packages/block-serialization-default-parser/parser.php
Labels: [Component] Parsing

#11434 Parser: Fix JS/PHP inconsistencies with empty attributes
  lib/parser.php
  packages/block-serialization-default-parser/parser.php
  packages/block-serialization-default-parser/src/index.js
  packages/block-serialization-default-parser/test/__snapshots__/index.js.snap
  packages/block-serialization-spec-parser/grammar.pegjs
  packages/block-serialization-spec-parser/parser.js
  packages/block-serialization-spec-parser/shared-tests.js
  packages/block-serialization-spec-parser/test/__snapshots__/index.js.snap
Labels: [Component] Parsing

#11141 Parsing: Use full parser in `do_blocks` with nested block support
  lib/blocks.php
  phpunit/class-do-blocks-test.php
  phpunit/class-dynamic-blocks-render-test.php
  phpunit/fixtures/do-blocks-expected.html
Labels: [Component] Parsing

#11731 Add @luehrsen to contributors.md
  CONTRIBUTORS.md
Labels: Documentation

#11721 Avoid calling missing get_current_screen function
  gutenberg.php
Labels: [Component] Plugin, [Type] Bug

#11749 Add min-width to audio block.
  packages/block-library/CHANGELOG.md
  packages/block-library/src/audio/editor.scss
  packages/block-library/src/audio/style.scss
Labels: [Type] Bug

#11751 Only refresh the popover if the anchor position changes
  packages/components/CHANGELOG.md
  packages/components/src/popover/index.js
Labels: Regression, [Type] Bug

#11748 Fix multiselection for float elements
  packages/editor/CHANGELOG.md
  packages/editor/src/components/block-list/index.js
Labels: [Component] Multi-Select, [Type] Bug

#11710 Use apostrophe instead of single-quote character.
  packages/block-library/src/missing/index.js
Labels: Copy

#11649 Remove obsolete props being passed through to DatePicker component
  packages/components/CHANGELOG.md
  packages/components/src/date-time/README.md
  packages/components/src/date-time/index.js
  packages/editor/CHANGELOG.md
  packages/editor/src/components/post-schedule/index.js
Labels: Code Quality, [Package] Components

#11761 fix incorrect changelog entries
  packages/components/CHANGELOG.md
  packages/editor/CHANGELOG.md
Labels: Code Quality

#11660 Add toolbar to image block
  packages/block-library/src/image/edit.native.js
  packages/components/src/index.native.js
Labels: Mobile App Compatibility

#11218 adds default alt values in editing context
  packages/block-library/src/image/edit.js
Labels: Accessibility, Media

#8952 Copy guidelines formatting tweaks
  docs/reference/copy-guide.md
Labels: Documentation, Needs Copy Review

#11750 Fix the text/code editor width
  packages/edit-post/src/components/text-editor/style.scss
Labels: [Type] Enhancement

#11785 Exclude HTML editing from Columns and Column blocks.
  packages/block-library/src/columns/column.js
  packages/block-library/src/columns/index.js
Labels: [Block] Columns

#11734 Make the Blocks navigation a nested list to better communicate the blocks nesting level
  packages/block-library/src/embed/test/__snapshots__/index.js.snap
  packages/components/src/navigable-container/menu.js
  packages/editor/src/components/block-icon/index.js
  packages/editor/src/components/block-icon/test/index.js
  packages/editor/src/components/block-navigation/index.js
  packages/editor/src/components/block-navigation/style.scss
Labels: Accessibility, Block Navigation Menu

#11777 Data: Rerun selection if state changed during mount
  packages/data/CHANGELOG.md
  packages/data/src/components/with-select/index.js
  packages/data/src/components/with-select/test/index.js
Labels: [Package] Data, [Type] Bug

#11765 Docs: Correct `registerBlockType` docs to omit function support
  packages/blocks/README.md
Labels: Block API, Documentation

#11642 Add message if JavaScript is disabled
  gutenberg.php
  packages/edit-post/src/components/fullscreen-mode/style.scss
Labels: Needs Copy Review, Needs Design Feedback

#11838 Update design docs to fix typos and linebreaks.
  docs/design/block-design.md
Labels: Documentation

#11814 Tests: add e2e test for invalid blocks
  test/e2e/specs/invalid-block.test.js
Labels: Automated Testing

#11590 Fix 'undefined' in link popover when no href is provided
  packages/format-library/src/link/inline.js
Labels: [Component] Rich Text

#11844 Refactor selectors used in copy-handler
  packages/editor/src/components/copy-handler/index.js
Labels: Performance

#11752 Code Quality: Improve prefix, better scope, for animations
  assets/stylesheets/_animations.scss
  packages/block-library/src/file/editor.scss
  packages/block-library/src/gallery/editor.scss
  packages/block-library/src/gallery/style.scss
  packages/block-library/src/image/editor.scss
  packages/components/src/higher-order/navigate-regions/style.scss
  packages/components/src/modal/style.scss
  packages/components/src/spinner/style.scss
  packages/edit-post/src/components/fullscreen-mode/style.scss
  packages/edit-post/src/components/layout/style.scss
  packages/edit-post/src/style.scss
  packages/editor/src/components/block-list/style.scss
  packages/editor/src/components/block-mover/style.scss
  packages/editor/src/components/post-saved-state/style.scss
  packages/editor/src/editor-styles/transforms/test/__snapshots__/wrap.js.snap
  packages/editor/src/editor-styles/transforms/test/wrap.js
Labels: Code Quality

#11701 Separate e2e test utils functions into their own files
  test/e2e/support/utils.js
  test/e2e/support/utils/accept-page-dialog.js
  test/e2e/support/utils/are-pre-publish-checks-enabled.js
  test/e2e/support/utils/clear-local-storage.js
  test/e2e/support/utils/click-block-appender.js
  test/e2e/support/utils/click-on-close-modal-button.js
  test/e2e/support/utils/click-on-more-menu-item.js
  test/e2e/support/utils/config.js
  test/e2e/support/utils/convert-block.js
  test/e2e/support/utils/disable-pre-publish-checks.js
  test/e2e/support/utils/enable-page-dialog-accept.js
  test/e2e/support/utils/enable-pre-publish-checks.js
  test/e2e/support/utils/ensure-sidebar-opened.js
  test/e2e/support/utils/get-all-blocks.js
  test/e2e/support/utils/get-edited-post-content.js
  test/e2e/support/utils/get-json-response.js
  test/e2e/support/utils/get-url.js
  test/e2e/support/utils/go-to-wp-path.js
  test/e2e/support/utils/index.js
  test/e2e/support/utils/insert-block.js
  test/e2e/support/utils/is-embedding.js
  test/e2e/support/utils/is-wp-path.js
  test/e2e/support/utils/json-response.js
  test/e2e/support/utils/login.js
  test/e2e/support/utils/match-url.js
  test/e2e/support/utils/meta-key.js
  test/e2e/support/utils/mock-or-transform.js
  test/e2e/support/utils/new-post.js
  test/e2e/support/utils/observe-focus-loss.js
  test/e2e/support/utils/open-document-settings-sidebar.js
  test/e2e/support/utils/open-publish-panel.js
  test/e2e/support/utils/parameter-equals.js
  test/e2e/support/utils/press-times.js
  test/e2e/support/utils/press-with-modifier.js
  test/e2e/support/utils/promise-sequence.js
  test/e2e/support/utils/publish-post-without-pre-publish-checks.js
  test/e2e/support/utils/publish-post.js
  test/e2e/support/utils/save-draft.js
  test/e2e/support/utils/search-for-block.js
  test/e2e/support/utils/select-block-by-client-id.js
  test/e2e/support/utils/set-post-content.js
  test/e2e/support/utils/set-up-response-mocking.js
  test/e2e/support/utils/set-viewport.js
  test/e2e/support/utils/switch-to-admin-user.js
  test/e2e/support/utils/switch-to-editor.js
  test/e2e/support/utils/switch-to-test-user.js
  test/e2e/support/utils/toggle-option.js
  test/e2e/support/utils/visit-admin.js
  test/e2e/support/utils/wait-for-page-dimensions.js
Labels: Automated Testing, Code Quality

#11840 Update to React 16.6.3
  lib/client-assets.php
  package-lock.json
  package.json
  packages/block-library/package.json
  packages/components/package.json
  packages/compose/package.json
  packages/data/package.json
  packages/editor/package.json
  packages/element/package.json
  packages/viewport/package.json
  phpunit/class-vendor-script-filename-test.php
Labels: Framework

#11843 Refactor the BlockToolbar compoonent to avoid getSelectedBlock
  docs/data/data-core-editor.md
  packages/editor/src/components/block-toolbar/index.js
  packages/editor/src/store/selectors.js
Labels: Performance

#11493 i18n: Replace Jed with Tannin
  package-lock.json
  packages/i18n/package.json
  packages/i18n/src/index.js
  packages/i18n/src/test/index.js
Labels: Code Quality, Performance, [Package] i18n, i18n

#11816 Fix/issue 1387 sidebar icons nvda
  packages/components/src/panel/body.js
  packages/components/src/panel/test/body.js
  packages/edit-post/src/components/sidebar/plugin-post-publish-panel/test/__snapshots__/index.js.snap
  packages/edit-post/src/components/sidebar/plugin-pre-publish-panel/test/__snapshots__/index.js.snap
Labels: Accessibility

#10590 Helping README readability and fixing minor typo/grammar issues
  README.md
Labels: Documentation, Needs Copy Review

#11456 Improve the block toolbar aria-label
  packages/edit-post/src/components/header/header-toolbar/index.js
  packages/editor/src/components/block-list/block-contextual-toolbar.js
Labels: Accessibility, Copy, Needs Copy Review

#11867 i18n: Add CHANGELOG entry for Tannin refactor
  packages/i18n/CHANGELOG.md
Labels: [Package] i18n

#11513 REST API: Avoid resetting parent field in draft update
  packages/editor/src/store/effects/posts.js
Labels: REST API Interaction

#10744 RichText: absorb internal list controls
  packages/block-library/src/list/index.js
  packages/editor/src/components/rich-text/index.js
  packages/editor/src/components/rich-text/list-edit.js
  packages/editor/src/components/rich-text/test/index.js
  packages/editor/src/components/rich-text/tinymce.js
Labels: [Component] Rich Text

#11859 RichText: fix inserting line separator without previous formats
  packages/rich-text/src/insert-line-separator.js
  packages/rich-text/src/test/insert-line-separator.js
Labels: [Component] Rich Text

#11876 Update image loading state to use a spinner and a faded static image.
  packages/block-library/src/gallery/editor.scss
  packages/block-library/src/gallery/gallery-image.js
  packages/block-library/src/image/edit.js
  packages/block-library/src/image/editor.scss
Labels: Media, [Block] Gallery, [Block] Image

#11842 Refactor the block inspector component to avoid getSelectedBlock
  packages/editor/src/components/block-inspector/index.js
Labels: Performance

#4155 Verify 'upload_files' capability when displaying upload UI in media blocks
  docs/data/data-core.md
  lib/client-assets.php
  packages/api-fetch/src/middlewares/preloading.js
  packages/core-data/src/actions.js
  packages/core-data/src/reducer.js
  packages/core-data/src/resolvers.js
  packages/core-data/src/selectors.js
  packages/editor/src/components/index.js
  packages/editor/src/components/media-placeholder/index.js
  packages/editor/src/components/media-upload/check.js
  packages/editor/src/components/post-featured-image/index.js
  packages/format-library/src/image/index.js
Labels: Block API, Media

#11846 Fix issues with image initial size
  packages/block-library/src/image/edit.js
Labels: Custom Editor Styles

#11804 Stop propagating to DOM elements the `focusOnMount` prop from `NavigableToolbar` components
  packages/editor/CHANGELOG.md
  packages/editor/src/components/navigable-toolbar/index.js
Labels: [Package] Editor, [Type] Bug

#11857 [RN mobile] pass isSelected to RichText components
  packages/block-library/src/heading/edit.native.js
  packages/block-library/src/paragraph/edit.native.js
  packages/editor/src/components/rich-text/index.native.js
Labels: Mobile App Compatibility, [Component] Mobile

#11903 Remove checks for store existance in withSelect HOCs for media components
  packages/editor/src/components/media-placeholder/index.js
  packages/editor/src/components/media-placeholder/test/index.js
  packages/editor/src/components/media-upload/check.js
Labels: Code Quality

#11914 REST API: Switch away from using `parent` as the path argument name
  lib/class-wp-rest-autosaves-controller.php
  phpunit/class-rest-autosaves-controller-test.php
Labels: REST API Interaction, [Type] Bug

#11757 Polish appender in mobile and nested contexts.
  packages/edit-post/src/components/visual-editor/style.scss
  packages/editor/src/components/default-block-appender/style.scss
  packages/editor/src/components/rich-text/style.scss
Labels: [Type] Enhancement

#11911 Update: Don't focus paragraph on media & text block.
  packages/block-library/src/media-text/edit.js
Labels: Accessibility, [Block] Media & Text

#11893 Avoid using the getSelectedBlock selector in autocompleters
  packages/editor/src/components/autocompleters/block.js
Labels: Performance

#11894 Avoid getBlock selector in the DefaultBlockAppender and EditorKeyboardShortcuts components
  packages/editor/src/components/default-block-appender/index.js
  packages/editor/src/components/editor-global-keyboard-shortcuts/index.js
Labels: Performance

#11898 Fix block selection when removing blocks
  packages/editor/src/store/effects.js
Labels: Performance

#11902 Format toolbar: prevent mousedown triggering selection
  packages/editor/src/components/rich-text/index.js
Labels: UI Components, [Component] Rich Text

#11682 Always prefer "large" image size
  packages/block-library/src/cover/index.js
  packages/block-library/src/gallery/edit.js
  packages/block-library/src/image/edit.js
  packages/block-library/src/media-text/edit.js
Labels: Media

#11907 Post/page title: add word-break keep-all
  packages/editor/src/components/post-title/style.scss
Labels: [Type] Bug

#11908 RichText: Don't update live DOM on composition
  packages/editor/src/components/rich-text/index.js
  packages/editor/src/components/rich-text/tinymce.js
Labels: [Component] Rich Text, [Type] Bug

#11886 Update: Keep ratio on cover video backgrounds
  packages/block-library/src/cover/style.scss
Labels: [Block] Cover, [Type] Enhancement
