Repository WordPress/gutenberg, pull requests merged in 2018-02, with the labels that each got.

#4974 Update deprecated BlockDescription in Subhead
  blocks/library/subhead/index.js
Labels: Blocks

#4870 Fixed bug when pasting in a paragraph block with custom styles.
  blocks/library/paragraph/index.js
Labels: [Component] Rich Text, [Type] Bug

#4882 Fix Word paste
  blocks/rich-text/index.js
Labels: [Component] Copy/Paste

#4839 Add withSafeTimeout higher-order component
  blocks/rich-text/index.js
  blocks/rich-text/patterns.js
  blocks/rich-text/test/index.js
  components/higher-order/with-safe-timeout/README.md
  components/higher-order/with-safe-timeout/index.js
  components/index.js
Labels: Framework, [Type] Question

#4878 Correct Slack Markdown code block variant
  blocks/api/raw-handling/index.js
  blocks/api/raw-handling/slack-markdown-variant-corrector.js
  blocks/api/raw-handling/test/slack-markdown-variant-corrector.js
Labels: [Component] Copy/Paste

#4970 Fix centering
  blocks/library/freeform/editor.scss
  blocks/library/image/editor.scss
  edit-post/assets/stylesheets/main.scss
Labels: [Type] Bug

#4957 Build: Consolidate module build JS, CSS, map inclusion
  bin/build-plugin-zip.sh
Labels: Build Tooling, Priority High, [Type] Bug

#4975 Update the Dashicons component
  components/dashicon/index.js
Labels: Chrome

#5004 Replaced focus with isSelected verification on hooks.
  blocks/hooks/anchor.js
  blocks/hooks/custom-class-name.js
Labels: [Type] Bug

#4955 RichText Trigger onChange on input
  blocks/rich-text/index.js
Labels: [Component] Rich Text

#4966 Build: Assign `edit-post` global as `wp.editPost`
  lib/client-assets.php
  webpack.config.js
Labels: Build Tooling, Framework

#5005 Set customClassName support to false on freeform block.
  blocks/library/freeform/index.js
Labels: [Type] Bug

#5024 Performance: Use isTypingInBlock to avoid unnecessary block rerenders
  editor/components/block-list/block.js
Labels: Performance

#4903 Made gallery images unselect when clicking outside the block or selecting other image.
  blocks/library/gallery/block.js
  blocks/library/gallery/gallery-image.js
Labels: [Type] Enhancement

#5018 State: Use trivial block count check to determine emptiness
  editor/store/selectors.js
  editor/store/test/selectors.js
Labels: Framework, Performance

#5015 Components: Remove Popover isOpen prop, render by presence
  components/autocomplete/index.js
  components/autocomplete/test/index.js
  components/dropdown-menu/test/index.js
  components/dropdown/index.js
  components/dropdown/test/index.js
  components/popover/README.md
  components/popover/index.js
  components/popover/test/index.js
  components/tooltip/index.js
  components/tooltip/test/index.js
Labels: Performance, UI Components

#5013 Fixed image caption select behaviour.
  blocks/library/image/block.js
Labels: [Type] Bug

#5007 Data: Expose registered selectors as functions
  data/README.md
  data/index.js
  data/test/index.js
  edit-post/components/sidebar/featured-image/index.js
  edit-post/components/sidebar/header.js
  edit-post/components/sidebar/page-attributes/index.js
  editor/hooks/copy-content/index.js
Labels: Extensibility, Framework

#5025 Block: Avoid rerendering when the previous/next block updates
  editor/components/block-list/block.js
  editor/components/writing-flow/index.js
  editor/store/actions.js
  editor/store/effects.js
  editor/store/selectors.js
  editor/store/test/actions.js
  editor/store/test/effects.js
  editor/store/test/selectors.js
Labels: Performance

#5021 Block List: Extract copy, scroll-into-view logic to separate non-visual components
  edit-post/components/modes/visual-editor/index.js
  editor/components/block-list/block.js
  editor/components/block-list/layout.js
  editor/components/copy-handler/index.js
  editor/components/index.js
  editor/components/multi-select-scroll-into-view/index.js
  editor/store/index.js
  editor/utils/dom.js
Labels: Performance

#5050 Blocks: The movers and the block settings menu visible for selected empty default block
  editor/components/block-list/block.js
Labels: [Type] Bug

#5043 Nesting: Fix broken nested content caused by overly aggressive cache
  editor/store/selectors.js
  editor/store/test/selectors.js
Labels: Blocks, Priority High

#5045 Block List: Pass selection start as UID
  editor/components/block-list/layout.js
Labels: Performance, [Component] Multi-Select

#5044 Blocks: Disable Convert to Reusable for nested blocks
  editor/components/block-settings-menu/reusable-block-settings.js
Labels: Blocks

#5020 Block List: Refactor to use minimal block UIDs array
  editor/components/block-list/index.js
  editor/components/block-list/layout.js
  editor/components/default-block-appender/index.js
  editor/components/default-block-appender/test/index.js
Labels: Performance

#5016 Components: Refactor TableOfContents panel to separate component
  editor/components/table-of-contents/index.js
  editor/components/table-of-contents/panel.js
  editor/store/index.js
Labels: Performance, UI Components

#4940 Blocks: Cache columns layouts configurations
  blocks/library/columns/index.js
Labels: Blocks, Performance

#5026 Writing Flow: Clicking the default appender, triggers the isTyping mode
  editor/components/default-block-appender/index.js
Labels: Needs Design Feedback, Writing Flow

#5035 Fixed RichText placeholder whitespace.
  blocks/library/button/test/__snapshots__/index.js.snap
  blocks/library/heading/test/__snapshots__/index.js.snap
  blocks/library/list/test/__snapshots__/index.js.snap
  blocks/library/paragraph/test/__snapshots__/index.js.snap
  blocks/library/preformatted/test/__snapshots__/index.js.snap
  blocks/library/pullquote/test/__snapshots__/index.js.snap
  blocks/library/quote/test/__snapshots__/index.js.snap
  blocks/library/text-columns/test/__snapshots__/index.js.snap
  blocks/library/verse/test/__snapshots__/index.js.snap
  blocks/rich-text/tinymce.js
Labels: [Type] Bug

#4978 Collapse the publish sidebar when making edits to a published post
  editor/components/post-publish-panel/index.js
Labels: Writing Flow, [Component] Post Settings

#5042 Framework: Strip comment demarcations in content filtering
  lib/blocks.php
  phpunit/class-do-blocks-test.php
  phpunit/fixtures/do-blocks-expected.html
  phpunit/fixtures/do-blocks-original.html
Labels: Framework

#5060 Writing Flow: Pass selected block UID as string
  editor/components/writing-flow/index.js
Labels: Performance, Writing Flow

#4985 build tools: add an `eslint --fix` Git precommit hook
  package-lock.json
  package.json
Labels: Build Tooling

#4069 Block API: Reimplement align as common extension
  blocks/api/index.js
  blocks/api/registration.js
  blocks/api/test/registration.js
  blocks/hooks/align.js
  blocks/hooks/index.js
  blocks/hooks/test/align.js
  blocks/library/audio/index.js
  editor/components/block-list/block.js
Labels: Block API, Extensibility

#4956 Proposal: history "buffer"/overwrite, sync RichText history records
  blocks/rich-text/index.js
  blocks/rich-text/provider.js
  blocks/rich-text/test/index.js
  editor/components/provider/index.js
  editor/store/actions.js
  editor/store/reducer.js
  editor/store/test/reducer.js
  editor/utils/with-history/index.js
  editor/utils/with-history/test/index.js
Labels: Priority High, [Component] Rich Text, [Component] TinyMCE

#4991 Implemented mechanism to allow themes to disable custom colors
  blocks/color-palette/index.js
  blocks/color-palette/test/__snapshots__/index.js.snap
  blocks/color-palette/test/index.js
  docs/themes.md
  lib/client-assets.php
Labels: Extensibility, [Type] Enhancement

#2863 Keyboard Shortcuts: Bind Cmd/Ctrl+S as save
  editor/components/editor-global-keyboard-shortcuts/index.js
Labels: Writing Flow

#5078 State: Replace global hover state with local component state
  editor/components/block-list/block.js
  editor/store/reducer.js
  editor/store/selectors.js
  editor/store/test/reducer.js
  editor/store/test/selectors.js
Labels: Performance

#5058 State: Access state paths directly in selector dependants
  editor/store/selectors.js
  editor/store/test/selectors.js
Labels: Performance

#5053 State: Refactor insertion point to include rootUID, layout
  editor/components/block-list/block.js
  editor/components/block-list/insertion-point.js
  editor/components/inserter/index.js
  editor/store/selectors.js
  editor/store/test/selectors.js
Labels: Priority High, [Component] Inserter, [Type] Bug

#5089 State: Set new post status to draft in initialization
  editor/components/post-saved-state/index.js
  editor/components/post-saved-state/test/index.js
  editor/store/effects.js
  editor/store/test/effects.js
  editor/store/test/selectors.js
Labels: Framework

#5102 Writing Flow: Move selected block focus to BlockListBlock
  editor/components/block-list/block.js
  editor/components/writing-flow/index.js
Labels: Writing Flow, [Type] Bug

#5046 Block List: Restore missing selectionStart props
  editor/components/block-list/layout.js
Labels: [Component] Multi-Select, [Type] Bug

#5106 Block List: Hide hover effects when typing
  editor/components/block-list/block.js
Labels: Chrome, [Type] Bug

#5109 Fixed gallery link attribute selector.
  blocks/library/gallery/index.js
Labels: Blocks, [Type] Bug

#5112 Block: Ignore focus if explicitOriginalTarget is not node (Firefox)
  editor/components/block-list/block.js
Labels: [Type] Bug

#5108 Update version to 2.2.0.
  gutenberg.php
  package-lock.json
  package.json
Labels: [Component] Plugin

#5104 Improved gallery caption CSS.
  blocks/library/gallery/editor.scss
Labels: Blocks, [Type] Enhancement

#5076 Blocks: Move filter for registering block types before validation happens
  blocks/api/registration.js
  blocks/api/test/registration.js
Labels: Block API, Extensibility, [Type] Bug

#5143 Gallery BLock: Backspace/delete removes the selected image in a gallery block
  blocks/library/gallery/block.js
  blocks/library/gallery/gallery-image.js
Labels: Blocks

#5082 Block List: Include consistent block margin for default appender
  editor/components/block-list/layout.js
  editor/components/block-list/style.scss
Labels: Design, Priority Low, [Type] Bug

#5146 Compat: Remove unnecessary api-request shim
  lib/client-assets.php
  lib/compat.php
Labels: Framework, REST API Interaction

#4897 Add "convert to blocks" to invalid block message
  editor/components/block-list/invalid-block-warning.js
Labels: Needs Design Feedback

#5135 Fixed a bug in paragraph affecting content writing when block is left/right aligned.
  blocks/library/paragraph/index.js
Labels: [Type] Bug

#4983 Rename TermTreeSelecte to TreeSelect and moved it to wordpress/components
  blocks/index.js
  blocks/query-panel/category-select.js
  blocks/term-tree-select/index.js
  components/index.js
  components/tree-select/README.md
  components/tree-select/index.js
  editor/components/page-attributes/parent.js
Labels: [Type] Enhancement

#4986 Components: Dry up 'No saved blocks' and 'No blocks found' messages
  editor/components/inserter/menu.js
  editor/components/inserter/no-blocks.js
  editor/components/inserter/style.scss
Labels: UI Components

#5141 Framework: Support nested templates
  editor/store/effects.js
Labels: Extensibility, Templates API

#5156 Update _Code is Poetry_ image and formatting
  README.md
Labels: Documentation

#5151 Tests: Improve string cast render test
  phpunit/class-dynamic-blocks-render-test.php
Labels: Automated Testing

#5136 Removed DefaultBlockAppender when a template Lock exits.
  editor/components/default-block-appender/index.js
Labels: [Type] Bug

#4889 Fixes #4772 - don't change $current_screen
  lib/register.php
Labels: [Type] Bug

#5160 Used TreeSelect in HierarchicalTermSelector.
  editor/components/post-taxonomies/hierarchical-term-selector.js
Labels: [Type] Enhancement

#4777 Add an API to add a plugin sidebar (new)
  edit-post/api/index.js
  edit-post/api/sidebar.js
  edit-post/components/header/index.js
  edit-post/components/layout/index.js
  edit-post/components/modes/visual-editor/block-inspector-button.js
  edit-post/components/plugins-panel/index.js
  edit-post/components/plugins-panel/style.scss
  edit-post/components/sidebar/discussion-panel/index.js
  edit-post/components/sidebar/document-outline-panel/index.js
  edit-post/components/sidebar/featured-image/index.js
  edit-post/components/sidebar/header.js
  edit-post/components/sidebar/index.js
  edit-post/components/sidebar/page-attributes/index.js
  edit-post/components/sidebar/post-excerpt/index.js
  edit-post/components/sidebar/post-status/index.js
  edit-post/components/sidebar/post-taxonomies/index.js
  edit-post/components/sidebar/style.scss
  edit-post/index.js
  edit-post/store/actions.js
  edit-post/store/defaults.js
  edit-post/store/index.js
  edit-post/store/reducer.js
  edit-post/store/selectors.js
  edit-post/store/test/actions.js
  edit-post/store/test/reducer.js
  edit-post/store/test/selectors.js
  edit-post/utils/mobile/README.md
  edit-post/utils/mobile/index.js
Labels: Extensibility, Framework

#5161 Edit Post: Refactor More (Ellipsis) Menu
  components/index.js
  components/menu-items/menu-items-choice.js
  components/menu-items/menu-items-group.js
  components/menu-items/style.scss
  components/menu-items/test/__snapshots__/menu-items-group.js.snap
  components/menu-items/test/menu-items-group.js
  edit-post/components/header/editor-actions/index.js
  edit-post/components/header/ellipsis-menu/style.scss
  edit-post/components/header/fixed-toolbar-toggle/index.js
  edit-post/components/header/index.js
  edit-post/components/header/mode-switcher/index.js
  edit-post/components/header/more-menu/index.js
  edit-post/components/header/more-menu/style.scss
  edit-post/hooks/index.js
  edit-post/hooks/more-menu/copy-content-menu-item/index.js
  edit-post/hooks/more-menu/index.js
  edit-post/index.js
  editor/index.js
  test/e2e/integration/002-adding-blocks.js
  test/e2e/integration/004-managing-links.js
Labels: Extensibility, UI Components

#5142 Try refactoring floats
  blocks/library/button/index.js
  blocks/library/embed/editor.scss
  blocks/library/image/editor.scss
  blocks/library/pullquote/editor.scss
  blocks/library/separator/style.scss
  blocks/library/table/editor.scss
  edit-post/assets/stylesheets/_z-index.scss
  editor/components/block-list/style.scss
Labels: Needs Testing

#5187 State: Cascade inner blocks removal
  editor/store/reducer.js
  editor/store/test/reducer.js
Labels: Framework, [Type] Bug

#5188 State: Refactor reducer enhancers as higher-order reducer creators
  editor/store/reducer.js
  editor/utils/with-change-detection/index.js
  editor/utils/with-change-detection/test/index.js
  editor/utils/with-history/index.js
  editor/utils/with-history/test/index.js
Labels: Framework

#4554 Insert a block on start for some post formats.
  blocks/api/index.js
  blocks/api/registration.js
  editor/store/effects.js
Labels: [Type] Enhancement

#5137 Framework: Support registering and invoking actions in the data module
  data/README.md
  data/index.js
  data/test/__snapshots__/index.js.snap
  data/test/index.js
  editor/components/inserter/index.js
  editor/index.js
  editor/store/index.js
Labels: Extensibility

#5175 MetaBoxes: Moving meta boxes out of the generic editor module
  edit-post/assets/stylesheets/_z-index.scss
  edit-post/components/header/index.js
  edit-post/components/layout/index.js
  edit-post/components/layout/style.scss
  edit-post/components/meta-boxes/index.js
  edit-post/components/meta-boxes/meta-boxes-area/index.js
  edit-post/components/meta-boxes/meta-boxes-area/style.scss
  edit-post/components/meta-boxes/meta-boxes-panel/index.js
  edit-post/components/meta-boxes/meta-boxes-panel/style.scss
  edit-post/components/sidebar/post-settings/index.js
  edit-post/index.js
  edit-post/store/actions.js
  edit-post/store/effects.js
  edit-post/store/index.js
  edit-post/store/middlewares.js
  edit-post/store/reducer.js
  edit-post/store/selectors.js
  edit-post/store/test/actions.js
  edit-post/store/test/reducer.js
  edit-post/store/test/selectors.js
  edit-post/utils/meta-boxes.js
  editor/components/index.js
  editor/components/post-saved-state/index.js
  editor/components/provider/index.js
  editor/components/unsaved-changes-warning/index.js
  editor/store/actions.js
  editor/store/effects.js
  editor/store/reducer.js
  editor/store/selectors.js
  editor/store/test/actions.js
  editor/store/test/effects.js
  editor/store/test/reducer.js
  editor/store/test/selectors.js
Labels: [Component] Meta Boxes

#5200 Chore: Update wordpress packages to the latest versions
  package-lock.json
  package.json
Labels: Build Tooling, Framework

#5199 Show the block appender even if the last block is non empty paragraph
  editor/components/default-block-appender/index.js
Labels: Writing Flow

#5189 Add documentation describing block transforms
  docs/block-api.md
Labels: Documentation

#5212 Fix issue with floated block toolbar on adjecent floats
  edit-post/assets/stylesheets/_z-index.scss
  editor/components/block-list/style.scss
Labels: [Type] Enhancement

#5138 Add focus styles for Windows High Contrast mode
  components/menu-items/style.scss
  components/panel/style.scss
  components/toolbar/style.scss
  edit-post/assets/stylesheets/_mixins.scss
  edit-post/components/sidebar/last-revision/style.scss
  edit-post/components/sidebar/style.scss
  editor/components/block-list/style.scss
  editor/components/block-settings-menu/style.scss
  editor/components/inserter/style.scss
  editor/components/post-last-revision/style.scss
Labels: Accessibility

#5215 Data: Refactor query HOC usage with withSelect
  edit-post/components/sidebar/featured-image/index.js
  edit-post/components/sidebar/header.js
  edit-post/components/sidebar/page-attributes/index.js
  edit-post/hooks/more-menu/copy-content-menu-item/index.js
  editor/components/multi-select-scroll-into-view/index.js
  editor/components/table-of-contents/index.js
  editor/components/table-of-contents/panel.js
Labels: UI Components

#5218 Edit Post: Refactor class names in More Menu component
  components/menu-items/menu-items-group.js
  components/menu-items/style.scss
  components/menu-items/test/__snapshots__/menu-items-group.js.snap
  edit-post/components/header/more-menu/style.scss
Labels: UI Components

#5166 Flow for adding in images in the gallery without going through the media library
  blocks/library/gallery/block.js
  blocks/library/gallery/editor.scss
  components/form-file-upload/index.js
Labels: Blocks, Needs Design Feedback, [Type] Enhancement

#5061 Parser: Remove specific support for <!--more--> tag
  blocks/api/post.pegjs
  blocks/api/raw-handling/index.js
  blocks/api/raw-handling/special-comment-converter.js
  blocks/api/raw-handling/test/special-comment-converter.js
  blocks/api/serializer.js
  blocks/api/test/serializer.js
  blocks/library/more/index.js
  blocks/test/fixtures/core__more.html
  blocks/test/fixtures/core__more.json
  blocks/test/fixtures/core__more.parsed.json
  blocks/test/fixtures/core__more.serialized.html
  blocks/test/fixtures/core__more__custom-text-teaser.html
  blocks/test/fixtures/core__more__custom-text-teaser.json
  blocks/test/fixtures/core__more__custom-text-teaser.parsed.json
  blocks/test/fixtures/core__more__custom-text-teaser.serialized.html
  lib/parser.php
Labels: Blocks, [Component] Parsing

#5031 Add hook to validate `useOnce` blocks
  edit-post/hooks/index.js
  edit-post/hooks/validate-use-once/index.js
Labels: Block API, Blocks, Needs Design Feedback, [Type] Enhancement

#5252 RichText: comment isEqual checks to avoid regressing in the future
  blocks/rich-text/index.js
Labels: [Component] Rich Text

#5139 Nested blocks: Show the side inserter on empty paragraphs
  blocks/api/utils.js
  blocks/hooks/layout.js
  blocks/hooks/test/layout.js
Labels: [Type] Bug

#5257 Image block: Fix duplicate upload on drag
  blocks/library/image/index.js
Labels: Blocks, [Type] Bug

#5098 Block Settings Menu: Adding a duplicate block button
  editor/components/block-list/block-mobile-toolbar.js
  editor/components/block-list/block.js
  editor/components/block-list/multi-controls.js
  editor/components/block-settings-menu/block-duplicate-button.js
  editor/components/block-settings-menu/index.js
  editor/store/selectors.js
Labels: Block API, Blocks, [Type] Task

#5259 Update README, add mockups link
  docs/readme.md
Labels: Documentation

#5198 Inserter: Try showing a "line" between two blocks on hover to insert a new empty block
  edit-post/assets/stylesheets/_z-index.scss
  edit-post/components/modes/visual-editor/style.scss
  editor/components/block-list/block.js
  editor/components/block-list/insertion-point.js
  editor/components/block-list/layout.js
  editor/components/block-list/style.scss
  editor/components/default-block-appender/index.js
  editor/components/writing-flow/index.js
  editor/store/actions.js
  editor/store/effects.js
Labels: [Component] Inserter

#5079 Framework: Remove invalid reference to WeakMap polyfill
  lib/client-assets.php
Labels: Framework

#5086 Tests: Remove unused wpautop fixture files
  phpunit/fixtures/wpautop-expected.html
  phpunit/fixtures/wpautop-original.html
Labels: Automated Testing

#5093 Post Editor: Flatten components modes directory
  edit-post/components/keyboard-shortcuts/index.js
  edit-post/components/layout/index.js
  edit-post/components/text-editor/index.js
  edit-post/components/text-editor/style.scss
  edit-post/components/visual-editor/block-inspector-button.js
  edit-post/components/visual-editor/index.js
  edit-post/components/visual-editor/style.scss
Labels: Framework, Priority Low

#4348 Add CodeMirror to the HTML block
  blocks/library/html/editor.scss
  blocks/library/html/index.js
  blocks/library/html/test/__snapshots__/index.js.snap
  components/code-editor/README.md
  components/code-editor/editor.js
  components/code-editor/index.js
  components/code-editor/test/__snapshots__/editor.js.snap
  components/code-editor/test/editor.js
  components/index.js
  edit-post/assets/stylesheets/_z-index.scss
  lib/client-assets.php
Labels: Blocks, [Type] Enhancement

#5262 Table Block: Fix toolbars
  blocks/library/table/index.js
Labels: [Type] Bug

#5250 Documentation: Nested templates support
  docs/templates.md
Labels: Documentation

#5261 Increment the block usage when replacing blocks
  editor/store/reducer.js
Labels: [Type] Bug

#5264 Taxonomies: Consider term names as case insensitive
  editor/components/post-taxonomies/flat-term-selector.js
  editor/components/post-taxonomies/hierarchical-term-selector.js
Labels: [Type] Bug

#5271 Writing Flow: Remove onBottomReached handling
  editor/components/writing-flow/index.js
Labels: Writing Flow

#5165 Fixed a series of z-index sidebar related issues
  edit-post/assets/stylesheets/_z-index.scss
  edit-post/components/sidebar/style.scss
Labels: [Component] Mobile, [Type] Bug

#5206 Framework: Add viewport module (data module experiments, proof-of-concept)
  .eslintrc.json
  bin/build-plugin-zip.sh
  components/higher-order/if-condition/README.md
  components/higher-order/if-condition/index.js
  components/index.js
  data/index.js
  data/test/index.js
  edit-post/components/header/fixed-toolbar-toggle/index.js
  edit-post/components/header/header-toolbar/index.js
  edit-post/components/visual-editor/index.js
  edit-post/store/actions.js
  edit-post/store/constants.js
  edit-post/store/defaults.js
  edit-post/store/index.js
  edit-post/store/mobile.js
  edit-post/store/reducer.js
  edit-post/store/selectors.js
  edit-post/store/test/actions.js
  edit-post/store/test/reducer.js
  edit-post/store/test/selectors.js
  lib/client-assets.php
  package-lock.json
  package.json
  test/unit/setup-wp-aliases.js
  viewport/README.md
  viewport/if-viewport-matches.js
  viewport/index.js
  viewport/store/actions.js
  viewport/store/index.js
  viewport/store/reducer.js
  viewport/store/selectors.js
  viewport/store/test/reducer.js
  viewport/store/test/selectors.js
  viewport/test/if-viewport-matches.js
  viewport/test/with-viewport-match.js
  viewport/with-viewport-match.js
  webpack.config.js
Labels: Extensibility, Framework

#4877 Compat: Shim fix for apiRequest with plain permalinks
  lib/compat.php
Labels: Framework

#5282 Inserter: Fix the in-between inserter on nested blocks
  editor/components/block-list/block.js
  editor/components/block-list/layout.js
  editor/components/block-list/style.scss
Labels: [Component] Inserter

#5263 Accessibility: Fix mover icons accessibility
  editor/components/block-mover/index.js
Labels: Accessibility

#5253 Framework: Use a single way to call APIs: wp.apiRequest
  blocks/autocompleters/index.js
  blocks/library/embed/index.js
  blocks/url-input/index.js
  edit-post/store/effects.js
  editor/components/post-taxonomies/flat-term-selector.js
  editor/components/post-taxonomies/hierarchical-term-selector.js
  editor/store/effects.js
  editor/store/test/effects.js
  lib/client-assets.php
  utils/mediaupload.js
Labels: Framework

#5285 Add documentation for the edit post API
  edit-post/api/README.md
Labels: Documentation, Extensibility

#5221 Removed non-functional custom taxonomies meta boxes.
  lib/meta-box-partial-page.php
Labels: [Component] Meta Boxes, [Type] Bug

#5266 Data: Fix issue with in-stack unsubscribe
  data/index.js
  data/test/index.js
Labels: Framework

#5295 Inserter: Remove margin from initial insertion point
  editor/components/block-list/style.scss
Labels: [Component] Inserter

#5296 Inserter: Fix unmodified default block replace, insert after selected
  editor/components/inserter/index.js
Labels: [Component] Inserter, [Type] Bug

#5305 Fix sidebar tab padding
  edit-post/components/sidebar/style.scss
  editor/components/block-inspector/style.scss
Labels: Design

#5288 Fix conflicts with markdown plugins
  lib/plugin-compat.php
Labels: [Type] Plugin / Extension Conflict

#5300 Try polishing/simpilfying the header area
  components/dashicon/index.js
  components/icon-button/style.scss
  edit-post/components/header/style.scss
  editor/components/post-preview-button/index.js
  editor/components/post-saved-state/index.js
  editor/components/post-saved-state/test/__snapshots__/index.js.snap
  editor/components/post-saved-state/test/index.js
  editor/components/post-switch-to-draft-button/index.js
Labels: Design

#5203 Disable post format input if the theme does not support post formats.
  editor/components/post-format/check.js
  lib/client-assets.php
Labels: [Component] Post Settings, [Type] Bug

#5293 Blocks: Remove is- prefix from embed alignment class
  blocks/library/embed/index.js
Labels: Blocks
