Repository WordPress/gutenberg, pull requests merged in 2018-12, with the labels that each got.

#12309 Allow links in Plugins group in the More Menu
  package-lock.json
  packages/edit-post/src/README.md
  packages/edit-post/src/components/header/plugin-more-menu-item/index.js
  packages/edit-post/src/components/header/plugin-more-menu-item/test/__snapshots__/index.js.snap
  packages/edit-post/src/components/header/plugin-more-menu-item/test/index.js
  packages/edit-post/src/components/header/plugin-sidebar-more-menu-item/index.js
  packages/edit-post/src/index.js
Labels: Extensibility, [Type] Enhancement

#12534 Docs: Stop using `el` variable in edit post docs
  packages/edit-post/README.md
  packages/edit-post/src/README.md
Labels: [Type] Documentation

#12434 Make a simple version of DefaultBlockAppender for mobile
  packages/editor/src/components/default-block-appender/index.native.js
  packages/editor/src/components/default-block-appender/style.native.scss
  packages/editor/src/components/index.native.js
Labels: Mobile App Compatibility

#12452 Restore missing handbook pages after #12411
  docs/designers-developers/developers/README.md
  docs/designers-developers/developers/tutorials/block-tutorial/readme.md
  docs/designers-developers/developers/tutorials/readme.md
  docs/designers-developers/faq.md
  docs/manifest.json
  docs/root-manifest.json
  docs/toc.json
  docs/tool/config.js
  docs/tool/index.js
  docs/tool/manifest.js
Labels: [Type] Documentation

#12574 Docs: Make contributors history links clcikable
  docs/contributors/history.md
Labels: [Type] Documentation

#12459 Fix: Upload permissions error on end 2 end inline tokens test
  bin/install-wordpress.sh
  test/e2e/specs/adding-inline-tokens.test.js
Labels: Automated Testing

#12543 Editor: Fix regression introduced in CopyHandler
  packages/editor/src/components/copy-handler/index.js
Labels: Regression, [Type] Bug

#12576 Handbook: drastically improve I18N docs
  docs/designers-developers/developers/internationalization.md
Labels: [Type] Documentation, [Type] Enhancement, i18n

#11882 docs: Remove "1440" line
  README.md
Labels: [Type] Documentation

#12594 Update CONTRIBUTORS.md
  CONTRIBUTORS.md
Labels: [Type] Documentation

#12550 Testing: add e2e test for the HTML block
  test/e2e/specs/blocks/__snapshots__/html.test.js.snap
  test/e2e/specs/blocks/html.test.js
Labels: Automated Testing, [Block] HTML

#12589 Removed Link from ## User Handbook Section
  docs/readme.md
Labels: [Type] Documentation

#12595 Docs: Add details on installing/using packages
  docs/designers-developers/developers/packages.md
Labels: [Type] Documentation

#12486 Docs: Taking a stab at updating FAQ
  docs/designers-developers/faq.md
Labels: [Type] Documentation

#12607 RichText: fix onSetup doc
  packages/editor/src/components/rich-text/index.js
Labels: [Type] Documentation

#12660 Update broken links
  docs/designers-developers/developers/block-api/README.md
Labels: [Type] Documentation

#12479 Docs: Update Glossary
  docs/designers-developers/glossary.md
Labels: [Type] Documentation, [Type] Enhancement

#12570 Add documentation for `safeDecodeURI()` and `filterURLForDisplay()`
  packages/url/README.md
Labels: [Type] Documentation

#12661 Update theme-support.md
  docs/designers-developers/developers/themes/theme-support.md
Labels: [Type] Documentation

#12567 Fix: Undoing Image Selection from Media Library in Image Block breaks it
  packages/block-library/src/image/edit.js
Labels: History, [Type] Bug

#12542 Optimize isViewportMatch
  packages/viewport/src/store/selectors.js
Labels: [Component] Mobile, [Type] Performance

#12521 Cache createBlock call in isUnmodifiedDefaultBlock
  packages/blocks/src/api/test/utils.js
  packages/blocks/src/api/utils.js
Labels: [Type] Performance

#12372 Font Size Picker: Use a menuitemradio role and better labels.
  packages/components/src/font-size-picker/index.js
Labels: Accessibility, UI Components

#12466 Set document title for preview interstitial
  packages/editor/src/components/post-preview-button/index.js
Labels: General Interface

#12715 Fix e2e tests after the WordPress 5.0 upgrade
  phpunit/class-parsing-test.php
  phpunit/class-rest-block-renderer-controller-test.php
  phpunit/class-rest-blocks-controller-test.php
  phpunit/class-rest-search-controller-test.php
  test/e2e/specs/classic-editor.test.js
  test/e2e/specs/font-size-picker.test.js
  test/e2e/specs/new-post.test.js
  test/e2e/specs/templates.test.js
  test/e2e/specs/writing-flow.test.js
  test/e2e/support/plugins.js
  test/e2e/test-plugins/post-formats.php
Labels: Automated Testing

#12628 Meta Boxes: Don't hide disabled meta boxes by modifying DOM
  packages/edit-post/src/components/meta-boxes/meta-box-visibility.js
  packages/edit-post/src/components/meta-boxes/meta-boxes-area/style.scss
Labels: [Component] Meta Boxes, [Type] Bug

#11890 Add a word-wrap style to the facebook embed preview screen
  packages/block-library/src/embed/editor.scss
Labels: [Block] Embed

#12706 Make media & text block placeholder translatable
  packages/block-library/src/media-text/edit.js
Labels: [Block] Media & Text, [Type] Bug, i18n

#12619 Fix: Problems on Media & Text block resizing; Load wp-block-library styles before wp-edit-blocks
  lib/client-assets.php
Labels: [Block] Media & Text, [Type] Bug

#12510 Performance: BlockListAppender: 1.7x increase on key press
  packages/editor/src/components/default-block-appender/index.js
  packages/editor/src/components/default-block-appender/test/__snapshots__/index.js.snap
Labels: [Component] Inserter, [Type] Performance

#12536 Fix issue where default appender has icons overlaying the text
  packages/block-library/src/paragraph/editor.scss
Labels: [Component] Inserter, [Type] Bug

#12415 Classic Block: set correct focus back after blur
  packages/block-library/src/classic/edit.js
  test/e2e/specs/blocks/__snapshots__/classic.test.js.snap
  test/e2e/specs/blocks/classic.test.js
Labels: Priority High, [Block] Classic

#12547 RichText: only replace range and nodes if different
  packages/rich-text/src/to-dom.js
  test/e2e/specs/__snapshots__/rich-text.test.js.snap
  test/e2e/specs/rich-text.test.js
Labels: [Component] Rich Text, [Type] Performance

#12734 Mark temporary eslint-config package as private
  packages/eslint-config/package.json
Labels: Packages

#12326 Rename functions, removing gutenberg_ prefix
  lib/load.php
  packages/block-library/src/latest-comments/index.php
Labels: [Block] Latest Comments, [Package] Block library, [Type] Code Quality

#12741 Annotations: Apply annotation className as string
  packages/annotations/src/block/index.js
Labels: [Type] Performance

#12737 RichText: Ensure instance is selected before setting back selection
  packages/editor/src/components/rich-text/index.js
Labels: [Component] Rich Text

#12752 Update plugin version to 4.7.0-rc.1
  gutenberg.php
  package-lock.json
  package.json
Labels: [Component] Plugin

#10224 Add an error state to the image block to allow upload errors to display
  packages/block-library/src/image/edit.js
Labels: Media, [Block] Image, [Type] Bug

#12745 Organizing images in designers-developers documentation
  docs/designers-developers/assets/inspector.png
  docs/designers-developers/assets/toolbar-text.png
  docs/designers-developers/developers/tutorials/block-tutorial/block-controls-toolbars-and-inspector.md
Labels: [Type] Documentation

#12751 Rename backwards compatiblity to backward compatibility
  CONTRIBUTING.md
  README.md
  docs/designers-developers/developers/README.md
  docs/designers-developers/developers/backward-compatibility/README.md
  docs/designers-developers/developers/backward-compatibility/deprecations.md
  docs/designers-developers/developers/backward-compatibility/meta-box.md
  docs/designers-developers/developers/backwards-compatibility/README.md
  docs/manifest.json
  docs/toc.json
  lib/client-assets.php
  packages/components/src/server-side-render/README.md
  packages/edit-post/src/store/effects.js
Labels: [Type] Documentation

#12541 Update node-sass to 4.11.0 to support Node.js 11
  package-lock.json
  package.json
Labels: [Type] Build Tooling

#12765 [RNMobile] Hide keyboard when non textual block is selected
  packages/editor/src/components/plain-text/index.native.js
  packages/editor/src/components/rich-text/index.native.js
Labels: Mobile App Compatibility

#12793 Add attributes to ServerSideRender readme
  packages/components/src/server-side-render/README.md
Labels: [Type] Documentation

#12721 Scripts: Add check-engines script to the package
  package-lock.json
  package.json
  packages/scripts/CHANGELOG.md
  packages/scripts/README.md
  packages/scripts/package.json
  packages/scripts/scripts/check-engines.js
Labels: [Package] Scripts, [Type] Build Tooling

#12720 Move devDependencies to root package.json file
  package-lock.json
  package.json
  packages/babel-plugin-import-jsx-pragma/package.json
  packages/babel-plugin-makepot/package.json
  packages/block-library/package.json
  packages/block-serialization-default-parser/package.json
  packages/block-serialization-spec-parser/package.json
  packages/blocks/package.json
  packages/browserslist-config/package.json
  packages/components/package.json
  packages/compose/package.json
  packages/core-data/package.json
  packages/custom-templated-path-webpack-plugin/package.json
  packages/data/package.json
  packages/edit-post/package.json
  packages/editor/package.json
  packages/element/package.json
  packages/hooks/package.json
  packages/i18n/package.json
  packages/is-shallow-equal/package.json
  packages/library-export-default-webpack-plugin/package.json
  packages/notices/package.json
  packages/npm-package-json-lint-config/package.json
  packages/nux/package.json
  packages/postcss-themes/package.json
  packages/redux-routine/package.json
  packages/rich-text/package.json
  packages/viewport/package.json
Labels: Packages, [Type] Build Tooling

#12815 [RNMobile] Fix undo/redo on new blocks
  packages/editor/src/components/rich-text/index.native.js
Labels: Mobile App Compatibility

#12817 RichText: Fix React warning shown when unmounting a currently selected RichText
  packages/editor/src/components/rich-text/index.js
Labels: [Component] Rich Text

#12763 Packages: Reimplement ESLint config as plugin
  .eslintrc.js
  docs/manifest.json
  package-lock.json
  package.json
  packages/eslint-config/README.md
  packages/eslint-config/configs/es5.js
  packages/eslint-config/configs/esnext.js
  packages/eslint-config/configs/rules/es5.js
  packages/eslint-config/configs/rules/esnext.js
  packages/eslint-plugin/.npmrc
  packages/eslint-plugin/README.md
  packages/eslint-plugin/configs/custom.js
  packages/eslint-plugin/configs/es5.js
  packages/eslint-plugin/configs/esnext.js
  packages/eslint-plugin/configs/index.js
  packages/eslint-plugin/configs/jsx-a11y.js
  packages/eslint-plugin/configs/react.js
  packages/eslint-plugin/configs/recommended.js
  packages/eslint-plugin/index.js
  packages/eslint-plugin/package.json
Labels: Packages

#12643 Grammatical mistakes & Missing spaces
  docs/designers-developers/developers/filters/block-filters.md
Labels: [Type] Documentation

#12636 Some content format issues
  packages/editor/README.md
Labels: [Type] Documentation

#12776 Fix incorrect values for __back_compat_meta_box in docs
  docs/designers-developers/developers/backward-compatibility/meta-box.md
Labels: [Type] Documentation

#12902 Docs: Fix Typo in block filters
  docs/designers-developers/developers/filters/block-filters.md
Labels: [Type] Documentation

#12905 Docs: Fix Typo in designers-developers/read.md
  docs/designers-developers/readme.md
Labels: [Type] Documentation

#12918 Docs: Fix Typo in designers-developers/key-concepts.md
  docs/designers-developers/key-concepts.md
Labels: [Type] Documentation

#12910 Add content to Contributors index page
  docs/contributors/readme.md
Labels: [Type] Documentation

#12689 Getting Started with JavaScript
  docs/designers-developers/assets/fancy-quote-in-inspector.png
  docs/designers-developers/assets/fancy-quote-with-style.png
  docs/designers-developers/assets/js-tutorial-console-log-error.png
  docs/designers-developers/assets/js-tutorial-console-log-success.png
  docs/designers-developers/assets/js-tutorial-error-blocks-undefined.png
  docs/designers-developers/developers/tutorials/javascript/extending-the-block-editor.md
  docs/designers-developers/developers/tutorials/javascript/loading-javascript.md
  docs/designers-developers/developers/tutorials/javascript/plugins-background.md
  docs/designers-developers/developers/tutorials/javascript/readme.md
  docs/designers-developers/developers/tutorials/javascript/troubleshooting.md
  docs/designers-developers/developers/tutorials/javascript/versions-and-building.md
  docs/designers-developers/developers/tutorials/readme.md
  docs/manifest.json
  docs/toc.json
Labels: [Type] Documentation

#12943 Restore block prop for BlockListBlock filter
  packages/editor/CHANGELOG.md
  packages/editor/src/components/block-list/block.js
  packages/editor/src/hooks/align.js
  packages/editor/src/store/selectors.js
Labels: [Type] Bug

#12949 Fix JS error when removing a block
  packages/editor/src/components/block-list/block.js
Labels: [Type] Bug

#12906 Fixed incorrect example code
  packages/data/README.md
Labels: [Package] Data, [Type] Documentation

#12983 Build tooling: Fix Travis failures with Docker instances
  bin/install-wordpress.sh
  docs/manifest.json
Labels: [Type] Bug, [Type] Build Tooling

#12811 Add section to setAttributes documentation about immutability of attributes
  docs/designers-developers/developers/block-api/block-edit-save.md
Labels: [Type] Documentation

#12995 Fix alignment of property assignments in the `__construct()` function
  packages/block-serialization-default-parser/parser.php
Labels: [Type] Code Quality

#12845 Update recommended config provided for lint-js script
  package-lock.json
  packages/scripts/CHANGELOG.md
  packages/scripts/README.md
  packages/scripts/config/.eslintrc.js
  packages/scripts/package.json
Labels: [Package] Scripts

#12437 Scripts: Add test-e2e script to wp-scripts
  package-lock.json
  package.json
  packages/babel-preset-default/package.json
  packages/scripts/CHANGELOG.md
  packages/scripts/README.md
  packages/scripts/config/jest-e2e.config.js
  packages/scripts/config/jest-unit.config.js
  packages/scripts/config/jest.config.js
  packages/scripts/config/puppeteer.config.js
  packages/scripts/package.json
  packages/scripts/scripts/test-e2e.js
  packages/scripts/scripts/test-unit-jest.js
  packages/scripts/utils/cli.js
  packages/scripts/utils/config.js
  packages/scripts/utils/file.js
  packages/scripts/utils/index.js
Labels: Automated Testing, Packages, [Type] Task

#12582 Get the last mobile changes back in master
  packages/block-library/src/more/edit.native.js
  packages/block-library/src/more/editor.native.scss
  packages/block-library/src/nextpage/edit.native.js
  packages/components/src/primitives/svg/index.native.js
  packages/editor/src/components/default-block-appender/index.native.js
  packages/editor/src/components/default-block-appender/style.native.scss
  packages/editor/src/components/index.native.js
  packages/editor/src/components/plain-text/index.native.js
  packages/editor/src/components/rich-text/index.native.js
Labels: Mobile App Compatibility

#13005 Designer/Developer Docs: Fix Typo
  docs/designers-developers/key-concepts.md
Labels: [Type] Documentation

#12722 Scripts: Add lint-style script based on stylelint
  package-lock.json
  package.json
  packages/scripts/CHANGELOG.md
  packages/scripts/README.md
  packages/scripts/config/.stylelintrc.json
  packages/scripts/package.json
  packages/scripts/scripts/lint-style.js
Labels: [Package] Scripts, [Type] Build Tooling

#12578 Tests: Enabled popular plugins on Travis when running e2e test suite
  .travis.yml
  bin/install-wordpress.sh
Labels: Automated Testing, [Type] Plugin / Theme Interoperability

#12540 Merge similar strings
  packages/editor/src/components/url-input/index.js
  packages/format-library/src/link/inline.js
Labels: [Type] Copy

#12719 Fix RTL support for datepicker
  packages/components/src/date-time/date.js
  packages/components/src/date-time/style.scss
Labels: [Package] Components, i18n

#12725 Fix for latest posts time class
  packages/block-library/src/latest-posts/edit.js
Labels: [Block] Latest Posts

#12312 Improve typing performance by splitting attributes in state tree.
  packages/editor/src/store/reducer.js
  packages/editor/src/store/selectors.js
  packages/editor/src/store/test/reducer.js
  packages/editor/src/store/test/selectors.js
Labels: User Experience (UX), [Package] Editor, [Type] Performance

#12556 Remove wp-polyfill-ecmascript BC workaround
  lib/client-assets.php
Labels: [Type] Build Tooling

#12499 Disable clipboard button in file block during upload
  packages/block-library/src/file/edit.js
Labels: [Block] File

#12566 Fix “align center” button in Latest Posts block to add data-align="center" in the editor
  packages/block-library/src/latest-posts/index.js
Labels: [Block] Latest Posts, [Type] Bug

#12849 Data: Optimize partial application of runSelector
  packages/data/CHANGELOG.md
  packages/data/src/namespace-store.js
Labels: [Package] Data, [Type] Performance

#13016 Expand PHPCS scanning to all PHP in Gutenberg
  packages/block-serialization-default-parser/parser.php
  packages/block-serialization-default-parser/test/test-parser.php
  packages/block-serialization-spec-parser/test/test-parser.php
  phpcs.xml.dist
  post-content.php
  test/e2e/test-mu-plugins/disable-login-autofocus.php
  test/e2e/test-plugins/align-hook.php
  test/e2e/test-plugins/block-icons.php
  test/e2e/test-plugins/container-without-paragraph.php
  test/e2e/test-plugins/default-post-content.php
  test/e2e/test-plugins/deprecated-node-matcher.php
  test/e2e/test-plugins/hooks-api.php
  test/e2e/test-plugins/inner-blocks-templates.php
  test/e2e/test-plugins/meta-box.php
  test/e2e/test-plugins/post-formats.php
  test/e2e/test-plugins/templates.php
  test/e2e/test-plugins/wp-editor-metabox.php
Labels: [Type] Build Tooling, [Type] Code Quality

#12315 Fix converting caption shortcode with link
  packages/block-library/src/image/index.js
  test/integration/__snapshots__/blocks-raw-handling.spec.js.snap
  test/integration/blocks-raw-handling.spec.js
  test/integration/fixtures/caption-shortcode-out.html
  test/integration/fixtures/shortcode-caption-with-caption-link.html
  test/integration/fixtures/shortcode-caption-with-link.html
  test/integration/fixtures/shortcode-caption.html
Labels: Backwards Compatibility, [Component] Raw Handling, [Type] Bug

#13036 [RNMobile] Temporarily disable link formatting for alpha
  packages/editor/src/components/rich-text/index.native.js
Labels: Mobile App Compatibility

#12971 Fix: Only 10 taxonomies with 'show_in_rest' available in the editor's sidebar
  packages/editor/src/components/post-taxonomies/check.js
Labels: [Package] Editor, [Type] Bug

#12970 Docs: Release: Clarify pinging core team members
  docs/contributors/release.md
Labels: [Type] Documentation

#13032 Add my name to CONTRIBUTORS.md file (#12918)
  CONTRIBUTORS.md
Labels: [Type] Documentation

#12989 Small typo in the Range Control's readme
  packages/components/src/range-control/README.md
Labels: [Type] Documentation

#12985 Update block design guidelines to include info on setup states
  docs/designers-developers/designers/block-design.md
Labels: Needs Design Feedback, [Type] Documentation

#13043 Tests: Disable a fragile link e2e test until it is improved
  test/e2e/specs/links.test.js
Labels: Automated Testing

#13033 Docs: Remove shortname from fontsizes
  docs/designers-developers/developers/themes/theme-support.md
Labels: [Type] Documentation

#11657 Improve documentation in CONTRIBUTING.md file
  CONTRIBUTING.md
Labels: Needs Copy Review, [Type] Documentation

#13030 Docs: Update all local links in README files to work with npm
  packages/block-serialization-default-parser/README.md
  packages/block-serialization-spec-parser/README.md
  packages/blocks/README.md
  packages/components/src/menu-item/README.md
  packages/components/src/tooltip/README.md
  packages/core-data/README.md
  packages/data/README.md
  packages/edit-post/README.md
  packages/editor/src/components/autocompleters/README.md
  packages/editor/src/components/media-upload/README.md
  packages/element/README.md
  packages/i18n/README.md
  packages/notices/README.md
  packages/plugins/README.md
  packages/viewport/README.md
Labels: Packages, [Type] Documentation

#13048 Make sure RichText resigns focus when unmounted
  packages/editor/src/components/rich-text/index.native.js
Labels: Mobile App Compatibility

#11068 Make help text more in line with other help texts
  packages/block-library/src/embed/embed-preview.js
Labels: Needs Copy Review, [Block] Embed, [Type] Copy

#12803 URL: Return querystring fragment from addQueryArgs when URL undefined
  packages/url/CHANGELOG.md
  packages/url/src/index.js
  packages/url/src/test/index.test.js
Labels: [Package] Url

#12885 Exit early from onClick handler when isButtonDisabled
  packages/editor/src/components/post-publish-button/index.js
  packages/editor/src/components/post-publish-button/test/index.js
Labels: [Type] Bug

#12820 Editor: Handle block merge in withDispatch callback
  packages/editor/src/components/block-list/block.js
Labels: [Type] Code Quality, [Type] Performance

#12847 Reduce rerendering on startup
  packages/core-data/CHANGELOG.md
  packages/core-data/src/reducer.js
  packages/core-data/src/test/reducer.js
  packages/viewport/CHANGELOG.md
  packages/viewport/src/index.js
Labels: [Type] Performance

#12852 Components: Render DropZone children only if dragging over element
  packages/block-library/src/audio/test/__snapshots__/index.js.snap
  packages/block-library/src/cover/test/__snapshots__/index.js.snap
  packages/block-library/src/gallery/test/__snapshots__/index.js.snap
  packages/block-library/src/video/test/__snapshots__/index.js.snap
  packages/components/src/drop-zone/index.js
  packages/components/src/drop-zone/style.scss
Labels: Drag and Drop, UI Components, [Package] Components, [Type] Performance

#12485 Added MenuItem readme
  docs/designers-developers/designers/menu-item.md
Labels: UI Components, [Type] Documentation

#11226 Radio documentation: updating radio readme
  packages/components/src/radio-control/README.md
Labels: UI Components, [Type] Documentation

#13060 Add: End 2 End tests on the sidebar link panel for CPT's.
  test/e2e/specs/sidebar-permalink-panel.test.js
  test/e2e/test-plugins/custom-post-types.php
Labels: Automated Testing

#12644 Try: Improve scrolling of navigation menu on small screens
  packages/edit-post/src/components/layout/style.scss
  test/e2e/specs/__snapshots__/writing-flow.test.js.snap
  test/e2e/specs/writing-flow.test.js
Labels: General Interface, [Type] Enhancement

#13094 Avoid PHP notices in e2e tests plugins
  test/e2e/test-plugins/align-hook.php
  test/e2e/test-plugins/block-icons.php
  test/e2e/test-plugins/container-without-paragraph.php
  test/e2e/test-plugins/deprecated-node-matcher.php
  test/e2e/test-plugins/hooks-api.php
  test/e2e/test-plugins/inner-blocks-templates.php
  test/e2e/test-plugins/plugins-api.php
Labels: Automated Testing

#13095 Add an e2e test for blocks with meta attributes
  test/e2e/specs/__snapshots__/meta-attribute-block.test.js.snap
  test/e2e/specs/meta-attribute-block.test.js
  test/e2e/test-plugins/meta-attribute-block.php
  test/e2e/test-plugins/meta-attribute-block/index.js
Labels: Automated Testing
