Repository WordPress/gutenberg, pull requests merged in 2019-09, with the labels that each got.

#17077 Introduce disableDropZone prop for MediaPlaceholder component.
  packages/block-editor/src/components/media-placeholder/README.md
  packages/block-editor/src/components/media-placeholder/index.js
Labels: First-time Contributor, Media, [Type] Enhancement

#17285 Fix: Fixture generation documentation.
  packages/e2e-tests/fixtures/blocks/README.md
Labels: [Type] Documentation

#17292 Update URL to WP Plugin Basics
  docs/designers-developers/developers/tutorials/javascript/plugins-background.md
Labels: [Type] Documentation

#17286 Remove: Repeated documentation file designers-developers/designers/menu-item.md
  docs/designers-developers/designers/menu-item.md
Labels: [Type] Documentation

#17288 Chore: Code improvements to block PHP files.
  packages/block-library/src/archives/index.php
  packages/block-library/src/categories/index.php
  packages/block-library/src/latest-comments/index.php
  packages/block-library/src/latest-posts/index.php
Labels: [Type] Code Quality

#17287 Enable declaration-block-no-duplicate-properties style lint rule; Fix existing case.
  .stylelintrc.json
  packages/block-library/src/block/edit-panel/editor.scss
Labels: [Type] Code Quality

#17253 Add: Border radius feature to button and update button styles.
  packages/block-library/src/button/block.json
  packages/block-library/src/button/deprecated.js
  packages/block-library/src/button/edit.js
  packages/block-library/src/button/index.js
  packages/block-library/src/button/save.js
  packages/block-library/src/button/style.scss
  packages/e2e-tests/fixtures/block-transforms.js
  packages/e2e-tests/fixtures/blocks/core__button__squared.html
  packages/e2e-tests/fixtures/blocks/core__button__squared.json
  packages/e2e-tests/fixtures/blocks/core__button__squared.parsed.json
  packages/e2e-tests/fixtures/blocks/core__button__squared.serialized.html
Labels: [Block] Button, [Type] Enhancement

#17304 Fix typo: Scrollalbe => Scrollable
  packages/components/src/popover/index.js
Labels: [Type] Code Quality

#17283 Add link to fixtures in Testing Overview
  docs/contributors/testing-overview.md
Labels: [Type] Documentation

#17296 Scripts: Add WordPress folder to the list of ignores in configs
  .stylelintignore
  packages/e2e-tests/jest.config.js
  packages/jest-preset-default/CHANGELOG.md
  packages/jest-preset-default/jest-preset.json
  packages/scripts/CHANGELOG.md
  packages/scripts/config/.eslintignore
  packages/scripts/config/.npmpackagejsonlintignore
  packages/scripts/config/.stylelintignore
  packages/scripts/config/jest-e2e.config.js
  test/native/jest.config.js
  test/unit/jest.config.js
Labels: [Package] Scripts, [Type] Bug

#17218 Use darker form field borders
  assets/stylesheets/_mixins.scss
  packages/block-library/src/search/editor.scss
Labels: Accessibility, Needs Accessibility Feedback

#17216 Try a pill-shaped block mover
  assets/stylesheets/_z-index.scss
  packages/block-editor/src/components/block-list/style.scss
  packages/block-editor/src/components/block-mover/style.scss
Labels: Needs Design Feedback, [Type] Enhancement

#16956 Enable customizer legacy widgets only if set
  lib/customizer.php
  lib/widgets-page.php
  packages/edit-widgets/src/index.js
Labels: [Package] Edit Widgets, [Type] Bug

#17310 Update Husky & Lint-staged to the latest versions
  package-lock.json
  package.json
Labels: [Type] Build Tooling

#17297 Fix modal escape key propagation
  packages/components/src/modal/frame.js
  packages/components/src/modal/index.js
Labels: Accessibility, UI Components, [Package] Components, [Type] Bug

#17171 Revert "Build: remove global install of latest npm since we want to use the paired node/npm version"
  .travis.yml
Labels: [Type] Build Tooling

#17320 Fix: Packages\Url: Trim leading and trailing whitespaces
  packages/url/src/index.js
  packages/url/src/test/index.test.js
Labels: [Package] Url, [Type] Bug

#17140 [Tiny PR] Paste: do not force blocks for empty rich text
  packages/block-editor/src/components/rich-text/index.js
  packages/block-library/src/paragraph/edit.js
Labels: Good First Review, [Component] Raw Handling, [Type] Bug

#17325 Remove redundant bg color within button appender
  packages/block-editor/src/components/button-block-appender/styles.native.scss
Labels: Mobile App Compatibility

#17309 [RNMobile] DarkMode improvements
  packages/block-editor/src/components/block-list-appender/style.native.scss
  packages/block-editor/src/components/block-list/index.native.js
  packages/block-editor/src/components/block-list/style.native.scss
  packages/block-editor/src/components/inserter/index.native.js
  packages/block-editor/src/components/inserter/menu.native.js
  packages/block-editor/src/components/media-placeholder/index.native.js
  packages/block-editor/src/components/warning/index.native.js
  packages/block-library/src/code/edit.native.js
  packages/block-library/src/image/edit.native.js
  packages/block-library/src/missing/edit.native.js
  packages/block-library/src/more/edit.native.js
  packages/block-library/src/nextpage/edit.native.js
  packages/block-library/src/video/edit.native.js
  packages/components/src/mobile/bottom-sheet/cell.native.js
  packages/components/src/mobile/bottom-sheet/index.native.js
  packages/components/src/mobile/dark-mode/index.native.js
  packages/components/src/mobile/html-text-input/index.native.js
  packages/components/src/mobile/html-text-input/test/index.native.js
  packages/components/src/toolbar/toolbar-container.native.js
  packages/edit-post/src/components/header/header-toolbar/index.native.js
  packages/edit-post/src/components/layout/index.native.js
  packages/edit-post/src/components/visual-editor/index.native.js
  packages/rich-text/src/component/index.native.js
  packages/rich-text/src/component/test/index.native.js
Labels: Mobile App Compatibility

#17265 Add navigator for nav block
  packages/block-editor/README.md
  packages/block-editor/src/components/block-navigation/index.js
  packages/block-editor/src/components/block-navigation/list.js
  packages/block-editor/src/components/index.js
  packages/block-library/src/navigation-menu/edit.js
  packages/block-library/src/navigation-menu/use-block-navigator.js
Labels: Block Navigation Menu, [Block] Navigation Menu, [Type] Enhancement

#17128 Remove: Child blocks from block manager
  packages/edit-post/src/components/manage-blocks-modal/manager.js
Labels: [Package] Edit Post, [Type] Enhancement

#17349 Docs(block-api/block-registration/): Minor layout fixes
  docs/designers-developers/developers/block-api/block-registration.md
Labels: First-time Contributor, [Type] Documentation

#16249 Add a post autosave lock
  docs/designers-developers/developers/data/data-core-editor.md
  packages/editor/src/store/reducer.js
  packages/editor/src/store/selectors.js
  packages/editor/src/store/test/reducer.js
  packages/editor/src/store/test/selectors.js
Labels: Extensibility, [Type] Enhancement

#17343 Fix issue with defaults not being applied for dynamic blocks
  lib/compat.php
  packages/block-library/src/search/index.php
Labels: Blocks, Priority OMGWTFBBQ, Regression, [Type] Bug

#17323 Fix styling of classic block's block controls
  packages/block-library/src/classic/editor.scss
Labels: [Block] Classic, [Type] Bug

#17353 Fix: Group side menu option hide/show logic
  packages/editor/src/components/convert-to-group-buttons/convert-button.js
Labels: [Type] Bug

#17342 Fix incorrect nesting of buttons within a button
  packages/editor/src/components/post-publish-button/index.js
  packages/editor/src/components/post-publish-button/test/index.js
Labels: NUX, [Package] NUX, [Type] Bug

#17354 Ensure withFocusReturn's context props are not passed to wrappedElement
  packages/components/src/higher-order/with-focus-return/index.js
  packages/components/src/higher-order/with-focus-return/test/index.js
Labels: [Package] Components, [Type] Bug

#16378 PluginPrePublishPanel uses icon property and inherits from registerPlugin
  packages/edit-post/README.md
  packages/edit-post/src/components/sidebar/plugin-pre-publish-panel/index.js
Labels: Extensibility, Needs Accessibility Feedback, Needs Design Feedback

#17316 Align Gallery block movers with the standard block mover style
  packages/block-library/src/gallery/edit.js
  packages/block-library/src/gallery/editor.scss
  packages/block-library/src/gallery/gallery-image.js
  packages/block-library/src/gallery/icon.js
  packages/block-library/src/gallery/icons.js
  packages/block-library/src/gallery/index.js
Labels: Needs Design Feedback, [Block] Gallery, [Type] Enhancement

#17374 Fix: Gallery placeholder icon does not appears
  packages/block-library/src/gallery/edit.js
Labels: [Block] Gallery, [Type] Bug

#17365 Fix: Cover Block: Default height cuts off taller content.
  packages/block-library/src/cover/edit.js
  packages/block-library/src/cover/editor.scss
  packages/block-library/src/cover/shared.js
Labels: [Block] Cover, [Type] Bug

#16915 Update reviewing and merging documentation
  docs/contributors/repository-management.md
Labels: Project Management, [Type] Documentation

#17363 Add notification for social link(s) blocks
  .github/CODEOWNERS
Labels: Project Management

#16383 PluginPostPublishPanel uses icon and inherits from registerPlugin
  packages/edit-post/README.md
  packages/edit-post/src/components/sidebar/plugin-post-publish-panel/index.js
Labels: Extensibility

#17375 Remove repeating enabled action for checkboxes
  packages/e2e-test-utils/src/disable-pre-publish-checks.js
  packages/e2e-test-utils/src/enable-pre-publish-checks.js
  packages/e2e-tests/specs/nux.test.js
  packages/edit-post/src/components/options-modal/index.js
  packages/edit-post/src/components/options-modal/test/__snapshots__/index.js.snap
Labels: [Type] Enhancement, [a11y] Labelling

#16964 Accessibility: Move focus back to the modal dialog to More Menu when it was used to get there
  packages/components/src/dropdown/index.js
  packages/e2e-test-utils/README.md
  packages/e2e-test-utils/src/click-on-more-menu-item.js
  packages/e2e-test-utils/src/index.js
  packages/e2e-test-utils/src/switch-editor-mode-to.js
  packages/e2e-test-utils/src/toggle-more-menu.js
  packages/e2e-test-utils/src/toggle-screen-option.js
  packages/e2e-tests/specs/adding-blocks.test.js
  packages/e2e-tests/specs/editor-modes.test.js
  packages/e2e-tests/specs/fullscreen-mode.test.js
  packages/e2e-tests/specs/plugins/allowed-blocks.test.js
  packages/e2e-tests/specs/plugins/container-blocks.test.js
  packages/e2e-tests/specs/preview.test.js
  packages/edit-post/src/components/header/more-menu/index.js
  packages/edit-post/src/components/header/options-menu-item/index.js
  packages/edit-post/src/plugins/keyboard-shortcuts-help-menu-item/index.js
  packages/edit-post/src/plugins/manage-blocks-menu-item/index.js
Labels: Accessibility, Needs Accessibility Feedback, [Type] Enhancement, [a11y] Keyboard & Focus

#13919 Fix: Permalink editor rtl languages
  packages/edit-post/src/components/sidebar/post-link/index.js
  packages/edit-post/src/components/sidebar/post-link/style.scss
  packages/editor/src/components/post-permalink/style.scss
Labels: Internationalization (i18n), [Component] Permalink, [Type] Bug

#17380 Polish Social Links block
  packages/block-library/src/social-link/editor.scss
  packages/block-library/src/social-links/editor.scss
  packages/block-library/src/social-links/style.scss
Labels: [Type] Bug

#14367 Try refactoring the reusable blocks to use a separate block editor
  packages/block-editor/src/index.js
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/selectors.js
  packages/block-library/src/block/edit.js
  packages/block-library/src/block/editor.scss
  packages/block-library/src/editor.scss
  packages/block-library/src/index.js
  packages/block-library/src/index.native.js
  packages/block-library/src/template/block.json
  packages/block-library/src/template/edit.js
  packages/block-library/src/template/icon.js
  packages/block-library/src/template/index.js
  packages/block-library/src/template/save.js
  packages/e2e-tests/specs/reusable-blocks.test.js
  packages/editor/src/store/actions.js
  packages/editor/src/store/effects.js
  packages/editor/src/store/effects/reusable-blocks.js
  packages/editor/src/store/effects/test/reusable-blocks.js
  packages/editor/src/store/reducer.js
  packages/editor/src/store/test/reducer.js
Labels: [Component] Reusable Blocks, [Type] Code Quality, [Type] Enhancement

#17117 Add disable support to PostStatus settings panel
  packages/e2e-tests/specs/sidebar.test.js
  packages/edit-post/src/components/sidebar/post-status/index.js
Labels: Extensibility, First-time Contributor, General Interface, [Type] Bug

#17402 Social Links: Change default state to WordPress link instead of mail
  packages/block-library/src/social-links/edit.js
Labels: [Block] Social

#17417 add eslint 6.x as peer dependency to eslint-plugin
  packages/eslint-plugin/package.json
Labels: [Package] ESLint plugin

#17336 Use sentence case for tooltips
  packages/block-editor/src/components/block-navigation/dropdown.js
  packages/block-editor/src/components/block-navigation/index.js
  packages/block-editor/src/components/rich-text/format-toolbar/index.js
  packages/block-editor/src/components/url-input/button.js
  packages/block-editor/src/components/url-popover/index.js
  packages/block-editor/src/components/url-popover/test/__snapshots__/index.js.snap
  packages/block-library/src/button/edit.js
  packages/block-library/src/file/inspector.js
  packages/block-library/src/gallery/gallery-image.js
  packages/block-library/src/image/edit.js
  packages/block-library/src/latest-posts/edit.js
  packages/block-library/src/rss/edit.js
  packages/e2e-tests/specs/adding-inline-tokens.test.js
  packages/e2e-tests/specs/block-hierarchy-navigation.test.js
  packages/e2e-tests/specs/blocks/columns.test.js
  packages/e2e-tests/specs/links.test.js
  packages/e2e-tests/specs/plugins/format-api.test.js
  packages/format-library/src/image/index.js
  packages/format-library/src/link/modal.native.js
Labels: General Interface, Needs Testing

#16982 update react & react-dom & react-test-renderer to 16.9.0
  lib/client-assets.php
  package-lock.json
  package.json
  packages/element/CHANGELOG.md
  packages/element/package.json
  phpunit/class-vendor-script-filename-test.php
Labels: Needs Dev Note, [Package] Element, [Type] Enhancement

#17433 Remove space from string end.
  packages/block-editor/src/components/inserter/menu.js
Labels: [Type] Copy

#17427 Editor: Save post after deletion so that its status is refreshed and redirection happens.
  packages/editor/src/store/actions.js
  packages/editor/src/store/test/actions.js
Labels: Priority High, [Package] Editor, [Release] Do Not Punt, [Type] Bug

#17431 Add block directory to inserter menu
  docs/manifest-devhub.json
  lib/class-wp-rest-block-directory-controller.php
  lib/client-assets.php
  lib/experiments-page.php
  lib/load.php
  lib/rest-api.php
  package-lock.json
  package.json
  packages/block-directory/.npmrc
  packages/block-directory/CHANGELOG.md
  packages/block-directory/README.md
  packages/block-directory/package.json
  packages/block-directory/src/components/block-ratings/index.js
  packages/block-directory/src/components/block-ratings/stars.js
  packages/block-directory/src/components/block-ratings/style.scss
  packages/block-directory/src/components/downloadable-block-author-info/index.js
  packages/block-directory/src/components/downloadable-block-author-info/style.scss
  packages/block-directory/src/components/downloadable-block-header/index.js
  packages/block-directory/src/components/downloadable-block-header/style.scss
  packages/block-directory/src/components/downloadable-block-info/index.js
  packages/block-directory/src/components/downloadable-block-info/style.scss
  packages/block-directory/src/components/downloadable-block-list-item/index.js
  packages/block-directory/src/components/downloadable-block-list-item/style.scss
  packages/block-directory/src/components/downloadable-blocks-list/index.js
  packages/block-directory/src/components/downloadable-blocks-list/style.scss
  packages/block-directory/src/components/downloadable-blocks-panel/index.js
  packages/block-directory/src/components/downloadable-blocks-panel/style.scss
  packages/block-directory/src/index.js
  packages/block-directory/src/store/actions.js
  packages/block-directory/src/store/controls.js
  packages/block-directory/src/store/index.js
  packages/block-directory/src/store/reducer.js
  packages/block-directory/src/store/resolvers.js
  packages/block-directory/src/store/selectors.js
  packages/block-directory/src/style.scss
  packages/block-editor/README.md
  packages/block-editor/src/components/index.js
  packages/block-editor/src/components/inserter-menu-extension/index.js
  packages/block-editor/src/components/inserter/menu.js
  packages/block-editor/src/store/defaults.js
  packages/editor/package.json
  packages/editor/src/components/inserter-menu-downloadable-blocks-panel/index.js
  packages/editor/src/components/provider/index.js
Labels: Backport to WP Core, Block Directory, [Type] Enhancement

#17403 Docs: Add the docs for the `onClose` property.
  packages/block-editor/src/components/media-upload/README.md
Labels: Media, [Type] Documentation

#17420 Editor: Don't edit the post when autosaving.
  packages/editor/src/store/actions.js
  packages/editor/src/store/test/actions.js
Labels: [Package] Editor, [Type] Bug

#17435 Add i18n support for title `Content Blocks`.
  packages/block-editor/src/components/inserter/menu.js
Labels: [Type] Copy

#17421 Rich Text: Add missing deprecated set focused element prop.
  package-lock.json
  packages/rich-text/package.json
  packages/rich-text/src/component/index.js
Labels: Backwards Compatibility, [Component] Rich Text, [Package] Rich text, [Type] Bug

#17415 Remove the forced gray scale from the category icons
  packages/components/src/panel/style.scss
Labels: [Release] Do Not Punt

#17419 Heading block: move alignment controls to toolbar (#2)
  packages/block-library/src/heading/edit.js
  packages/block-library/src/heading/heading-level-icon.js
  packages/block-library/src/heading/heading-toolbar.js
Labels: [Block] Heading, [Package] Block library, [Type] Enhancement

#17436 Docs: Fix Typos
  packages/block-directory/src/store/controls.js
  packages/block-directory/src/store/selectors.js
Labels: [Type] Documentation

#17410 Fix featured image modal
  packages/editor/src/components/post-featured-image/index.js
  packages/media-utils/src/components/media-upload/index.js
Labels: [Release] Do Not Punt

#17439 Rich Text: Add missing keep placeholder on focus prop.
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/components/rich-text/style.scss
Labels: Backwards Compatibility, [Component] Rich Text, [Package] Rich text, [Release] Do Not Punt, [Type] Bug

#17445 Rich Text: Add missing keep placeholder on focus prop documentation.
  packages/block-editor/src/components/rich-text/README.md
Labels: [Component] Rich Text, [Package] Rich text, [Type] Documentation

#17446 Make BlockNavigationList component experimental
  packages/block-editor/README.md
  packages/block-editor/src/components/index.js
  packages/block-library/src/navigation-menu/use-block-navigator.js
Labels: [Type] Task

#17315 Try showing move controls only for the selected block.
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/hover-area.js
Labels: [Type] Enhancement

#17259 Block Editor: Fix undo level inconsistencies.
  package-lock.json
  packages/core-data/package.json
  packages/core-data/src/reducer.js
  packages/e2e-tests/specs/__snapshots__/undo.test.js.snap
  packages/e2e-tests/specs/undo.test.js
  packages/editor/src/store/actions.js
Labels: [Package] Block editor, [Package] Editor, [Release] Do Not Punt

#17450 RichText: fix invisible caret for placeholder on focus
  packages/rich-text/src/component/index.js
Labels: Browser Issues, [Package] Rich text

#17298 Build Tooling: Generate asset file in PHP format with the list dependencies
  lib/client-assets.php
  package-lock.json
  packages/dependency-extraction-webpack-plugin/CHANGELOG.md
  packages/dependency-extraction-webpack-plugin/README.md
  packages/dependency-extraction-webpack-plugin/index.js
  packages/dependency-extraction-webpack-plugin/package.json
  packages/dependency-extraction-webpack-plugin/test/__snapshots__/build.js.snap
  packages/dependency-extraction-webpack-plugin/test/build.js
  packages/dependency-extraction-webpack-plugin/test/fixtures/output-format-json/index.js
  packages/dependency-extraction-webpack-plugin/test/fixtures/output-format-json/webpack.config.js
  packages/scripts/CHANGELOG.md
Labels: Priority High, [Package] Scripts, [Type] Build Tooling, [Type] Enhancement

#17452 Editor: Ignore save edit in undo history.
  docs/designers-developers/developers/data/data-core-editor.md
  docs/designers-developers/developers/data/data-core.md
  packages/core-data/README.md
  packages/core-data/src/actions.js
  packages/core-data/src/reducer.js
  packages/e2e-tests/specs/undo.test.js
  packages/editor/src/components/post-publish-button/index.js
  packages/editor/src/store/actions.js
  packages/editor/src/store/test/actions.js
Labels: [Package] Core data, [Package] Editor

#17381 Fix: Flipped color picker in RTL
  packages/components/src/color-picker/style.scss
Labels: [Package] Components, [Type] Bug

#17455 Core Data: Merge merged edits with the edited record value instead of the persisted one.
  packages/core-data/src/actions.js
Labels: [Package] Core data, [Type] Bug

#17453 RichText: mark component in rich-text package experimental
  packages/block-editor/src/components/rich-text/index.js
  packages/rich-text/README.md
  packages/rich-text/src/index.js
Labels: [Package] Rich text

#16490 Editor: Add sessionStorage autosave mechanism
  docs/designers-developers/developers/data/data-core-editor.md
  docs/designers-developers/developers/data/data-core.md
  packages/core-data/README.md
  packages/core-data/src/selectors.js
  packages/core-data/src/test/selectors.js
  packages/e2e-tests/specs/autosave.test.js
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/editor.js
  packages/edit-post/src/store/actions.js
  packages/edit-post/src/store/defaults.js
  packages/edit-post/src/store/reducer.js
  packages/editor/src/components/autosave-monitor/index.js
  packages/editor/src/components/index.js
  packages/editor/src/components/local-autosave-monitor/index.js
  packages/editor/src/store/selectors.js
  packages/editor/src/store/test/selectors.js
Labels: Backwards Compatibility, Offline, Priority High, [Component] Saving

#17329 [RNMobile] Add autosave to mobile apps
  packages/edit-post/src/components/layout/index.native.js
  packages/editor/src/components/index.native.js
  packages/editor/src/store/actions.native.js
  packages/editor/src/store/reducer.native.js
  packages/editor/src/store/selectors.native.js
  test/native/setup.js
Labels: Mobile App Compatibility

#17494 Fix: social links registration logic.
  lib/blocks.php
Labels: [Type] Bug

#17482 Stabilise List E2E tests
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/store/effects.js
  packages/block-editor/src/store/reducer.js
  packages/block-editor/src/store/selectors.js
  packages/e2e-tests/specs/blocks/__snapshots__/list.test.js.snap
  packages/e2e-tests/specs/blocks/list.test.js
  packages/e2e-tests/specs/rich-text.test.js
Labels: Automated Testing, [Package] Block editor, [Type] Bug

#17489 Add dependency management section
  docs/designers-developers/developers/tutorials/javascript/js-build-setup.md
Labels: [Type] Documentation

#17490 Add end to end test to the date picker UI next&previous month butons
  packages/e2e-tests/specs/scheduling.test.js
Labels: Automated Testing

#17492 Check for persistedRecord before evaluating status property to prevent uncaught type error
  packages/core-data/src/actions.js
Labels: [Type] Bug

#17499 Wording and other text updates for JS tutorial
  docs/designers-developers/developers/tutorials/javascript/js-build-setup.md
Labels: [Type] Documentation

#17487 Editor: Don't dirty the post when forcing an undo level creation.
  packages/core-data/src/actions.js
  packages/core-data/src/reducer.js
  packages/e2e-tests/specs/change-detection.test.js
  packages/editor/src/store/actions.js
Labels: History, Priority High, [Type] Bug

#17075 Fix: UI: Post Publish Panel overlaps the user profile dropdown menu
  assets/stylesheets/_z-index.scss
  packages/edit-post/src/components/layout/style.scss
Labels: [Component] Saving, [Type] Bug

#17506 Editor: Fix and align collapsing logic for "Save Draft" and "Saved" button states.
  packages/editor/src/components/post-saved-state/index.js
  packages/editor/src/components/post-saved-state/style.scss
Labels: Priority High, [Component] Saving, [Type] Bug

#17514 Fix extra parentheses in code example
  packages/dependency-extraction-webpack-plugin/README.md
Labels: [Package] Dependency Extraction Webpack Plugin, [Type] Documentation

#14364 Media & Text: Turn Stack on mobile toggle on by default
  packages/block-library/src/media-text/block.json
  packages/block-library/src/media-text/deprecated.js
  packages/e2e-tests/fixtures/blocks/core__media-text.html
  packages/e2e-tests/fixtures/blocks/core__media-text.json
  packages/e2e-tests/fixtures/blocks/core__media-text.parsed.json
  packages/e2e-tests/fixtures/blocks/core__media-text.serialized.html
  packages/e2e-tests/fixtures/blocks/core__media-text__image-alt-no-align.html
  packages/e2e-tests/fixtures/blocks/core__media-text__image-alt-no-align.json
  packages/e2e-tests/fixtures/blocks/core__media-text__image-alt-no-align.parsed.json
  packages/e2e-tests/fixtures/blocks/core__media-text__image-alt-no-align.serialized.html
  packages/e2e-tests/fixtures/blocks/core__media-text__image-fill-no-focal-point-selected.html
  packages/e2e-tests/fixtures/blocks/core__media-text__image-fill-no-focal-point-selected.json
  packages/e2e-tests/fixtures/blocks/core__media-text__image-fill-no-focal-point-selected.parsed.json
  packages/e2e-tests/fixtures/blocks/core__media-text__image-fill-no-focal-point-selected.serialized.html
  packages/e2e-tests/fixtures/blocks/core__media-text__image-fill-with-focal-point-selected.html
  packages/e2e-tests/fixtures/blocks/core__media-text__image-fill-with-focal-point-selected.json
  packages/e2e-tests/fixtures/blocks/core__media-text__image-fill-with-focal-point-selected.parsed.json
  packages/e2e-tests/fixtures/blocks/core__media-text__image-fill-with-focal-point-selected.serialized.html
  packages/e2e-tests/fixtures/blocks/core__media-text__is-stacked-on-mobile.html
  packages/e2e-tests/fixtures/blocks/core__media-text__is-stacked-on-mobile.json
  packages/e2e-tests/fixtures/blocks/core__media-text__is-stacked-on-mobile.parsed.json
  packages/e2e-tests/fixtures/blocks/core__media-text__is-stacked-on-mobile.serialized.html
  packages/e2e-tests/fixtures/blocks/core__media-text__media-right-custom-width.html
  packages/e2e-tests/fixtures/blocks/core__media-text__media-right-custom-width.json
  packages/e2e-tests/fixtures/blocks/core__media-text__media-right-custom-width.parsed.json
  packages/e2e-tests/fixtures/blocks/core__media-text__media-right-custom-width.serialized.html
  packages/e2e-tests/fixtures/blocks/core__media-text__vertical-align-bottom.html
  packages/e2e-tests/fixtures/blocks/core__media-text__vertical-align-bottom.json
  packages/e2e-tests/fixtures/blocks/core__media-text__vertical-align-bottom.parsed.json
  packages/e2e-tests/fixtures/blocks/core__media-text__vertical-align-bottom.serialized.html
  packages/e2e-tests/fixtures/blocks/core__media-text__video.html
  packages/e2e-tests/fixtures/blocks/core__media-text__video.json
  packages/e2e-tests/fixtures/blocks/core__media-text__video.parsed.json
  packages/e2e-tests/fixtures/blocks/core__media-text__video.serialized.html
  packages/e2e-tests/specs/__snapshots__/block-transforms.test.js.snap
Labels: First-time Contributor, [Block] Media & Text, [Type] Enhancement

#17153 Editor: Implement `EntityProvider` and use it to refactor custom sources with a backwards compatibility hook for meta sources.
  package-lock.json
  packages/core-data/package.json
  packages/core-data/src/entity-provider.js
  packages/core-data/src/index.js
  packages/editor/src/components/provider/index.js
  packages/editor/src/hooks/custom-sources-backwards-compatibility.js
  packages/editor/src/hooks/index.js
  packages/editor/src/store/actions.js
  packages/editor/src/store/block-sources/README.md
  packages/editor/src/store/block-sources/__mocks__/index.js
  packages/editor/src/store/block-sources/index.js
  packages/editor/src/store/block-sources/meta.js
  packages/editor/src/store/test/actions.js
Labels: [Package] Block editor, [Package] Core data, [Package] Editor

#17507 Update docs with example attributes for Inspector previews
  docs/designers-developers/developers/block-api/README.md
  docs/designers-developers/developers/block-api/block-registration.md
  docs/designers-developers/developers/tutorials/block-tutorial/applying-styles-with-stylesheets.md
  docs/designers-developers/developers/tutorials/block-tutorial/block-controls-toolbar-and-sidebar.md
  docs/designers-developers/developers/tutorials/block-tutorial/introducing-attributes-and-editable-fields.md
  docs/designers-developers/developers/tutorials/block-tutorial/writing-your-first-block-type.md
Labels: Block API, Needs Dev Note, [Type] Documentation

#17530 Fix: Remove "Reusable block" name and descrip. from the inserter
  packages/block-editor/src/components/inserter/menu.js
Labels: Priority High, [Component] Inserter, [Component] Reusable Blocks, [Type] Bug

#16729 [RNMobile] Add rounded corners on media placeholder and unsupported blocks
  packages/block-editor/src/components/media-placeholder/styles.native.scss
  packages/block-editor/src/components/warning/style.native.scss
  packages/block-library/src/missing/style.native.scss
Labels: Mobile App Compatibility

#17526 Mark the Social Links plugin as experimental.
  packages/block-library/src/index.js
Labels: Backport to WP Core, Blocks, Priority High, [Block] Social

#17531 Fix: Twenty Seventeen theme has issues with preview panel
  packages/block-editor/src/components/block-styles/style.scss
  packages/block-editor/src/components/inserter/style.scss
Labels: Themes, [Type] Bug

#17504 Image Block: Improve performance by only requesting image metadata if selected.
  packages/block-library/src/image/edit.js
Labels: Priority High, [Block] Image, [Type] Performance

#17566 Update E2E tests for Twenty Twenty theme
  packages/e2e-tests/specs/blocks/__snapshots__/heading.test.js.snap
  packages/e2e-tests/specs/blocks/heading.test.js
  packages/e2e-tests/specs/font-size-picker.test.js
  packages/e2e-tests/specs/manage-reusable-blocks.test.js
  packages/e2e-tests/specs/preview.test.js
  packages/e2e-tests/specs/typewriter.test.js
Labels: Automated Testing

#17545 Only show help panel when launched from top bar
  packages/block-editor/src/components/inserter/index.js
  packages/block-editor/src/components/inserter/menu.js
  packages/edit-post/src/components/header/header-toolbar/index.js
Labels: [Component] Inserter, [Type] Task

#17528 Chore: Align the version of lodash with WordPress core
  lib/client-assets.php
  package-lock.json
  package.json
  packages/annotations/package.json
  packages/babel-plugin-makepot/package.json
  packages/block-directory/package.json
  packages/block-editor/package.json
  packages/block-library/package.json
  packages/blocks/package.json
  packages/components/package.json
  packages/compose/package.json
  packages/core-data/package.json
  packages/data/package.json
  packages/dependency-extraction-webpack-plugin/test/__snapshots__/build.js.snap
  packages/docgen/package.json
  packages/dom/package.json
  packages/e2e-test-utils/package.json
  packages/e2e-tests/package.json
  packages/edit-post/package.json
  packages/edit-widgets/package.json
  packages/editor/package.json
  packages/element/package.json
  packages/format-library/package.json
  packages/i18n/package.json
  packages/jest-console/package.json
  packages/keycodes/package.json
  packages/library-export-default-webpack-plugin/package.json
  packages/list-reusable-blocks/package.json
  packages/media-utils/package.json
  packages/notices/package.json
  packages/nux/package.json
  packages/plugins/package.json
  packages/redux-routine/package.json
  packages/rich-text/package.json
  packages/scripts/package.json
  packages/server-side-render/package.json
  packages/shortcode/package.json
  packages/token-list/package.json
  packages/viewport/package.json
  packages/wordcount/package.json
Labels: Packages, [Type] Code Quality

#17195 Add isAppender functionality on mobile
  packages/block-editor/CHANGELOG.md
  packages/block-editor/src/components/media-placeholder/README.md
  packages/block-editor/src/components/media-placeholder/index.js
  packages/block-editor/src/components/media-placeholder/index.native.js
  packages/block-editor/src/components/media-placeholder/styles.native.scss
  packages/block-library/src/gallery/edit.js
  packages/block-library/src/image/edit.js
Labels: First-time Contributor, Mobile App Compatibility, [Package] Block editor, [Package] Block library, [Type] Enhancement

#17548 [RNMobile] Improve autosave on mobile and ping the native at each keystroke
  packages/editor/src/store/reducer.native.js
Labels: Mobile App Compatibility

#17300 Add phpcs rule to detect unused variables; Fix existing issues
  composer.json
  composer.lock
  gutenberg.php
  lib/class-wp-rest-block-directory-controller.php
  lib/class-wp-rest-widget-areas-controller.php
  lib/class-wp-rest-widget-updater-controller.php
  lib/client-assets.php
  lib/experiments-page.php
  phpcs.xml.dist
Labels: [Type] Code Quality

#17552 [RNMobile] Refactor Dark Mode HOC
  packages/block-editor/src/components/block-list/index.native.js
  packages/block-editor/src/components/inserter/index.native.js
  packages/block-editor/src/components/inserter/menu.native.js
  packages/block-editor/src/components/media-placeholder/index.native.js
  packages/block-editor/src/components/warning/index.native.js
  packages/block-library/src/code/edit.native.js
  packages/block-library/src/image/edit.native.js
  packages/block-library/src/missing/edit.native.js
  packages/block-library/src/more/edit.native.js
  packages/block-library/src/nextpage/edit.native.js
  packages/block-library/src/video/edit.native.js
  packages/components/src/index.native.js
  packages/components/src/mobile/bottom-sheet/cell.native.js
  packages/components/src/mobile/bottom-sheet/index.native.js
  packages/components/src/mobile/dark-mode/index.native.js
  packages/components/src/mobile/html-text-input/index.native.js
  packages/components/src/mobile/html-text-input/test/index.native.js
  packages/components/src/toolbar/toolbar-container.native.js
  packages/compose/src/higher-order/with-preferred-color-scheme/index.native.js
  packages/compose/src/hooks/use-preferred-color-scheme/index.native.js
  packages/compose/src/index.native.js
  packages/edit-post/src/components/header/header-toolbar/index.native.js
  packages/edit-post/src/components/layout/index.native.js
  packages/edit-post/src/components/visual-editor/index.native.js
  packages/format-library/src/link/test/modal.native.js
  packages/rich-text/src/component/index.native.js
  packages/rich-text/src/component/test/index.native.js
  test/native/setup.js
Labels: Mobile App Compatibility

#17561 Gallery Block: Don't show gradient overlay unless image is selected or a caption is set.
  packages/block-library/src/gallery/gallery-image.js
Labels: [Block] Gallery, [Type] Bug

#17532 Core Data: Support server side save filters.
  packages/core-data/src/actions.js
  packages/core-data/src/selectors.js
  packages/core-data/src/test/actions.js
Labels: [Package] Core data

#17467 Block Editor: Simplify Selection Reducer
  docs/designers-developers/developers/data/data-core-block-editor.md
  packages/block-editor/src/store/reducer.js
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/effects.js
  packages/block-editor/src/store/test/reducer.js
  packages/block-editor/src/store/test/selectors.js
Labels: [Package] Block editor, [Type] Code Quality

#17502 Convert examples to use import syntax
  docs/designers-developers/developers/internationalization.md
  docs/designers-developers/developers/richtext.md
  docs/designers-developers/developers/tutorials/block-tutorial/applying-styles-with-stylesheets.md
  docs/designers-developers/developers/tutorials/block-tutorial/block-controls-toolbar-and-sidebar.md
  docs/designers-developers/developers/tutorials/block-tutorial/creating-dynamic-blocks.md
  docs/designers-developers/developers/tutorials/block-tutorial/introducing-attributes-and-editable-fields.md
  docs/designers-developers/developers/tutorials/block-tutorial/writing-your-first-block-type.md
  docs/designers-developers/developers/tutorials/format-api/1-register-format.md
  docs/designers-developers/developers/tutorials/format-api/2-toolbar-button.md
  docs/designers-developers/developers/tutorials/format-api/3-apply-format.md
  docs/designers-developers/developers/tutorials/javascript/js-build-setup.md
  docs/designers-developers/developers/tutorials/metabox/meta-block-3-add.md
Labels: [Type] Documentation

#17503 Local autosave: Expand E2E tests
  packages/e2e-tests/specs/autosave.test.js
Labels: Automated Testing, [Component] Saving

#17546 i18n: Remove text domain
  packages/block-directory/src/components/block-ratings/stars.js
Labels: Internationalization (i18n), [Type] Bug

#17533 Add missing header options on mobile
  packages/block-library/src/heading/edit.native.js
Labels: Mobile App Compatibility, [Component] Mobile

#17586 Gallery Block: Stop reflows from breaking custom alignment layouts.
  packages/block-library/src/gallery/style.scss
Labels: [Block] Gallery, [Type] Bug

#17572 Fix invalid block warning
  packages/block-editor/src/components/block-list/block-invalid-warning.js
  packages/block-editor/src/components/warning/style.scss
Labels: General Interface, Regression, [Type] Bug

#17595 Docs: Fix typos - PHP code
  lib/class-experimental-wp-widget-blocks-manager.php
  lib/class-wp-rest-widget-areas-controller.php
Labels: [Type] Documentation

#17591 i18n: Remove incorrect text domain
  packages/block-directory/src/components/downloadable-block-author-info/index.js
Labels: Internationalization (i18n), [Type] Bug

#17573 Only animate the blocks that changed index
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/index.js
  packages/block-editor/src/components/block-list/moving-animation.js
  packages/block-editor/src/components/preserve-scroll-in-reorder/index.js
  packages/edit-post/src/components/layout/index.js
Labels: Browser Issues, [Type] Performance

#17517 Fix inserter / block directory issues
  packages/block-editor/src/components/inserter/menu.js
  packages/editor/src/components/inserter-menu-downloadable-blocks-panel/index.js
Labels: Backport to WP Core, Block Directory, Good First Review, [Component] Inserter, [Type] Bug

#17599 Fix docs after #17482
  packages/block-editor/src/store/reducer.js
  packages/block-editor/src/store/selectors.js
Labels: [Package] Block editor, [Type] Documentation

#17371 Show Height control in Cover if we only selected an image
  packages/block-library/src/cover/edit.js
Labels: [Block] Cover, [Type] Bug

#17580 RichText: remove Autocomplete wrappers
  packages/block-editor/src/components/autocomplete/index.js
  packages/block-editor/src/components/autocomplete/test/index.js
  packages/block-editor/src/components/rich-text/index.js
  packages/components/src/autocomplete/index.js
  packages/editor/src/hooks/default-autocompleters.js
  packages/editor/src/hooks/test/default-autocompleters.js
  packages/rich-text/src/component/index.js
Labels: [Component] Rich Text, [Package] Rich text, [Status] In Progress, [Type] Code Quality, [Type] Performance

#17550 Fix list filter on paste for RN mobile.
  packages/blocks/src/api/raw-handling/list-reducer.js
  packages/blocks/src/api/validation.js
  packages/components/src/disabled/test/index.js
  packages/components/src/draggable/index.js
  packages/components/src/higher-order/navigate-regions/index.js
  packages/dom/src/focusable.js
  packages/edit-post/src/components/admin-notices/index.js
Labels: Mobile App Compatibility, [Type] Bug

#17610 RichText: run input rule on composition end
  packages/rich-text/src/component/index.js
Labels: [Package] Rich text, [Type] Bug

#17616 Remove margin-top from block placeholder input field
  packages/components/src/placeholder/style.scss
Labels: First-time Contributor

#17392 [RNMobile] Move MediaUploadPorgress to its own component folder
  packages/block-editor/src/components/index.native.js
  packages/block-editor/src/components/media-upload-progress/README.md
  packages/block-editor/src/components/media-upload-progress/image-size.native.js
  packages/block-editor/src/components/media-upload-progress/index.native.js
  packages/block-editor/src/components/media-upload-progress/styles.native.scss
  packages/block-editor/src/components/media-upload-progress/test/index.native.js
  packages/block-library/src/image/edit.native.js
  packages/block-library/src/image/styles.native.scss
  packages/block-library/src/video/edit.native.js
Labels: Mobile App Compatibility

#17513 Introduce `wp_template` post type and use it for full-site templates
  lib/experiments-page.php
  lib/load.php
  lib/templates.php
Labels: Customization, Framework

#17634 Update: Use minimum height instead of height for cover minimum height label
  packages/block-library/src/cover/edit.js
Labels: [Block] Cover, [Type] Enhancement

#17613 Update class specificity of publish radio buttons
  packages/editor/src/components/post-visibility/style.scss
Labels: First-time Contributor

#17601 Tidy up button vertical align styles
  packages/block-editor/src/components/block-list/style.scss
  packages/block-editor/src/components/warning/style.scss
  packages/components/src/button/style.scss
Labels: [Component] Button, [Type] Task

#17643 Update browserslist dependency
  package-lock.json
  package.json
  packages/babel-preset-default/test/index.js
Labels: [Type] Task

#17633 Core Data: Clear auto-draft titles on save if not changed explicitly.
  packages/core-data/src/actions.js
  packages/e2e-tests/specs/change-detection.test.js
Labels: Backwards Compatibility, [Package] Core data

#17602 Fix block crash boundary
  packages/block-editor/src/components/block-list/block-crash-warning.js
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/style.scss
  packages/block-editor/src/components/warning/style.scss
Labels: Blocks, Regression, [Type] Bug

#17646 Fix select element sizing in publish date picker
  assets/stylesheets/_mixins.scss
  packages/components/src/date-time/style.scss
Labels: [Type] Bug

#17611 RichText: allow emoji panel at list item start
  packages/block-editor/src/components/rich-text/index.js
  packages/e2e-tests/specs/blocks/__snapshots__/list.test.js.snap
  packages/e2e-tests/specs/blocks/list.test.js
  packages/rich-text/src/component/index.js
Labels: [Block] List, [Package] Rich text

#17631 Rnmobile/fix link editing on start
  packages/format-library/src/link/index.native.js
Labels: Mobile App Compatibility

#17645 Update button styling to match WP 5.3
  bin/packages/post-css-config.js
  packages/components/src/button/style.scss
  packages/edit-post/src/components/fullscreen-mode/style.scss
  packages/editor/src/components/post-trash/style.scss
Labels: Accessibility, [Component] Button, [Package] Components, [Type] Enhancement

#17279 [RNMobile] refactor InspectorControls
  packages/block-editor/src/components/block-list/block-mobile-toolbar.native.js
  packages/block-editor/src/components/block-settings/button.native.js
  packages/block-editor/src/components/block-settings/container.native.js
  packages/block-editor/src/components/block-settings/index.native.js
  packages/block-editor/src/components/index.native.js
  packages/block-editor/src/components/inspector-controls/index.native.js
  packages/block-library/src/image/edit.native.js
  packages/block-library/src/video/edit.native.js
  packages/components/src/index.native.js
  packages/components/src/panel/body.native.js
  packages/edit-post/src/components/layout/index.native.js
Labels: Mobile App Compatibility

#17651 Ensure button border transitions respect reduce motion settings
  packages/components/src/button/style.scss
Labels: Accessibility

#17493 Add block examples for all core blocks
  packages/block-editor/src/components/block-styles/index.js
  packages/block-editor/src/components/block-switcher/index.js
  packages/block-editor/src/components/inserter/menu.js
  packages/block-library/src/button/index.js
  packages/block-library/src/calendar/index.js
  packages/block-library/src/code/index.js
  packages/block-library/src/columns/index.js
  packages/block-library/src/cover/index.js
  packages/block-library/src/gallery/index.js
  packages/block-library/src/group/index.js
  packages/block-library/src/heading/index.js
  packages/block-library/src/html/index.js
  packages/block-library/src/image/index.js
  packages/block-library/src/list/index.js
  packages/block-library/src/media-text/index.js
  packages/block-library/src/more/index.js
  packages/block-library/src/nextpage/index.js
  packages/block-library/src/paragraph/index.js
  packages/block-library/src/preformatted/index.js
  packages/block-library/src/pullquote/index.js
  packages/block-library/src/quote/index.js
  packages/block-library/src/rss/index.js
  packages/block-library/src/search/index.js
  packages/block-library/src/separator/index.js
  packages/block-library/src/social-links/index.js
  packages/block-library/src/table/index.js
  packages/block-library/src/verse/index.js
  packages/blocks/README.md
  packages/blocks/src/api/factory.js
  packages/blocks/src/api/index.js
Labels: Backport to WP Core

#17319 Use entities on the widget screen
  packages/core-data/src/entities.js
  packages/edit-widgets/src/components/customizer-edit-widgets-initializer/sync-customizer.js
  packages/edit-widgets/src/components/edit-widgets-initializer/index.js
  packages/edit-widgets/src/components/save-button/index.js
  packages/edit-widgets/src/components/widget-area/index.js
  packages/edit-widgets/src/components/widget-areas/index.js
  packages/edit-widgets/src/index.js
  packages/edit-widgets/src/store/actions.js
  packages/edit-widgets/src/store/constants.js
  packages/edit-widgets/src/store/index.js
  packages/edit-widgets/src/store/reducer.js
  packages/edit-widgets/src/store/selectors.js
  packages/edit-widgets/src/store/test/actions.js
  packages/edit-widgets/src/store/test/reducer.js
  packages/edit-widgets/src/store/test/selectors.js
Labels: Widgets, [Package] Edit Widgets

#17661 Add Travis Runs for `wp/trunk`
  .travis.yml
Labels: [Type] Build Tooling

#17501 Autosave: fix conflict between remote and local autosaves
  packages/e2e-test-utils/README.md
  packages/e2e-test-utils/src/index.js
  packages/e2e-test-utils/src/offline-mode.js
  packages/e2e-tests/config/setup-test-framework.js
  packages/e2e-tests/specs/autosave.test.js
  packages/editor/src/components/local-autosave-monitor/index.js
  packages/editor/src/store/actions.js
  packages/editor/src/store/controls.js
Labels: Offline, [Component] Saving

#17665 Fix: include plural version in remove block(s) label
  packages/block-editor/src/components/block-settings-menu/index.js
Labels: Internationalization (i18n), [Type] Bug
