Repository WordPress/gutenberg, pull requests merged in 2019-06, with the labels that each got.

#15879 Build: Improve setup of package.json files
  bin/packages/get-packages.js
  packages/browserslist-config/package.json
  packages/custom-templated-path-webpack-plugin/package.json
  packages/dom-ready/package.json
  packages/eslint-plugin/package.json
  packages/html-entities/package.json
  packages/is-shallow-equal/package.json
  packages/jest-preset-default/package.json
  packages/library-export-default-webpack-plugin/package.json
  packages/npm-package-json-lint-config/CHANGELOG.md
  packages/npm-package-json-lint-config/index.js
  packages/npm-package-json-lint-config/package.json
  packages/plugins/package.json
  packages/token-list/package.json
  packages/wordcount/package.json
Labels: [Type] Build Tooling, [Type] Code Quality

#14843 UI Components: Refactor BlockSettingsMenu and MoreMenu as DropdownMenu
  packages/block-editor/CHANGELOG.md
  packages/block-editor/src/components/block-settings-menu/index.js
  packages/block-editor/src/components/block-settings-menu/style.scss
  packages/components/CHANGELOG.md
  packages/components/src/dropdown-menu/README.md
  packages/components/src/dropdown-menu/index.js
  packages/components/src/dropdown-menu/style.scss
  packages/components/src/dropdown-menu/test/index.js
  packages/components/src/menu-group/index.js
  packages/components/src/menu-group/test/__snapshots__/index.js.snap
  packages/components/src/menu-item/style.scss
  packages/e2e-test-utils/src/click-on-more-menu-item.js
  packages/e2e-test-utils/src/switch-editor-mode-to.js
  packages/e2e-tests/specs/adding-blocks.test.js
  packages/e2e-tests/specs/block-deletion.test.js
  packages/e2e-tests/specs/blocks/preformatted.test.js
  packages/e2e-tests/specs/editor-modes.test.js
  packages/e2e-tests/specs/keyboard-navigable-blocks.test.js
  packages/e2e-tests/specs/nux.test.js
  packages/e2e-tests/specs/plugins/annotations.test.js
  packages/e2e-tests/specs/reusable-blocks.test.js
  packages/edit-post/src/components/header/more-menu/index.js
  packages/edit-post/src/components/header/more-menu/style.scss
  packages/edit-post/src/components/header/more-menu/test/__snapshots__/index.js.snap
  packages/edit-post/src/components/header/plugin-more-menu-item/test/__snapshots__/index.js.snap
Labels: Accessibility, Needs Design Feedback, UI Components, [Package] Block editor, [Package] Components

#15913 Port KeyboardAvoidingView, KeyboardAwareFlatList and ReadableContentView to @wordpress/components
  packages/components/src/index.native.js
  packages/components/src/mobile/keyboard-avoiding-view/index.android.js
  packages/components/src/mobile/keyboard-avoiding-view/index.ios.js
  packages/components/src/mobile/keyboard-aware-flat-list/index.android.js
  packages/components/src/mobile/keyboard-aware-flat-list/index.ios.js
  packages/components/src/mobile/readable-content-view/index.native.js
  packages/components/src/mobile/readable-content-view/style.native.scss
Labels: Mobile App Compatibility, [Status] In Progress

#15940 Remove the use of popular plugins in e2e tests
  .travis.yml
  bin/install-wordpress.sh
  packages/e2e-tests/specs/block-transforms.test.js
Labels: Automated Testing

#15389 Fix: DateTimePicker styles don't load as expected outside WordPress context
  packages/components/src/date-time/style.scss
Labels: Good First Review, UI Components, [Type] Bug

#15850 Modify reduce-motion mixin so that it works for transitions too.
  assets/stylesheets/_animations.scss
  assets/stylesheets/_mixins.scss
  packages/block-editor/src/components/block-list/style.scss
  packages/block-editor/src/components/block-switcher/style.scss
  packages/block-editor/src/components/block-toolbar/style.scss
  packages/block-editor/src/components/default-block-appender/style.scss
  packages/block-editor/src/components/inserter-list-item/style.scss
  packages/block-editor/src/components/inserter/style.scss
  packages/block-editor/src/components/url-input/style.scss
  packages/block-library/src/classic/editor.scss
  packages/components/src/animate/style.scss
  packages/components/src/button/style.scss
  packages/components/src/color-palette/style.scss
  packages/components/src/color-picker/style.scss
  packages/components/src/drop-zone/style.scss
  packages/components/src/form-toggle/style.scss
  packages/components/src/form-token-field/style.scss
  packages/components/src/modal/style.scss
  packages/components/src/panel/style.scss
  packages/components/src/resizable-box/style.scss
  packages/edit-post/src/components/fullscreen-mode/style.scss
  packages/edit-post/src/components/layout/style.scss
  packages/edit-post/src/components/sidebar/settings-header/style.scss
  packages/edit-post/src/components/sidebar/style.scss
  packages/editor/src/components/post-featured-image/style.scss
  packages/editor/src/components/post-title/style.scss
Labels: Accessibility

#15950 Framework: Update download link for Docker Desktop
  bin/install-docker.sh
Labels: Framework

#15908 Add media query hooks and animation to snackbar notices
  bin/setup-travis-e2e-tests.sh
  package-lock.json
  packages/components/package.json
  packages/components/src/snackbar/index.js
  packages/components/src/snackbar/list.js
  packages/components/src/snackbar/style.scss
  packages/compose/CHANGELOG.md
  packages/compose/README.md
  packages/compose/src/higher-order/if-condition/README.md
  packages/compose/src/higher-order/if-condition/index.js
  packages/compose/src/higher-order/pure/index.js
  packages/compose/src/higher-order/pure/test/index.js
  packages/compose/src/higher-order/with-global-events/README.md
  packages/compose/src/higher-order/with-global-events/index.js
  packages/compose/src/higher-order/with-global-events/listener.js
  packages/compose/src/higher-order/with-global-events/test/index.js
  packages/compose/src/higher-order/with-global-events/test/listener.js
  packages/compose/src/higher-order/with-instance-id/README.md
  packages/compose/src/higher-order/with-instance-id/index.js
  packages/compose/src/higher-order/with-instance-id/test/index.js
  packages/compose/src/higher-order/with-safe-timeout/README.md
  packages/compose/src/higher-order/with-safe-timeout/index.js
  packages/compose/src/higher-order/with-state/README.md
  packages/compose/src/higher-order/with-state/index.js
  packages/compose/src/higher-order/with-state/test/index.js
  packages/compose/src/hooks/use-media-query/index.js
  packages/compose/src/hooks/use-reduced-motion/index.js
  packages/compose/src/index.js
  packages/compose/src/utils/create-higher-order-component/index.js
  packages/compose/src/utils/create-higher-order-component/test/index.js
  webpack.config.js
Labels: Needs Accessibility Feedback, Needs Design Feedback, UI Components

#15959 Adds check for attributes in block settings
  packages/block-editor/src/hooks/anchor.js
  packages/block-editor/src/hooks/test/anchor.js
Labels: Block API, Extensibility, [Type] Enhancement

#15884 Fix spacer deselection after dragging
  packages/block-library/src/spacer/edit.js
  packages/e2e-test-utils/README.md
  packages/e2e-test-utils/src/drag-and-resize.js
  packages/e2e-test-utils/src/index.js
  packages/e2e-tests/specs/blocks/__snapshots__/spacer.test.js.snap
  packages/e2e-tests/specs/blocks/spacer.test.js
Labels: [Block] Spacer, [Type] Bug

#15589 [RNMobile] Moving native tests to gutenberg repo
  packages/block-editor/src/components/media-upload/test/index.native.js
  packages/block-editor/src/components/rich-text/test/index.native.js
  packages/block-library/src/code/test/edit.native.js
  packages/block-library/src/image/test/media-upload-progress.native.js
  packages/block-library/src/paragraph/test/edit.native.js
  packages/format-library/src/link/test/modal.native.js
  test/unit/jest.config.js
Labels: Mobile App Compatibility

#15861 Fix inline docs and add tests for color utils
  packages/block-editor/README.md
  packages/block-editor/src/components/colors/test/utils.js
  packages/block-editor/src/components/colors/utils.js
Labels: Priority Low, [Package] Block editor, [Type] Bug, [Type] Documentation

#15903 Redesign Table Block Placeholder
  packages/block-library/src/table/edit.js
  packages/block-library/src/table/editor.scss
  packages/components/src/placeholder/README.md
  packages/components/src/placeholder/index.js
  packages/components/src/placeholder/style.scss
  packages/e2e-tests/specs/blocks/table.test.js
Labels: [Block] Table, [Type] Enhancement

#15871 Media+Text block: Remove `break-all` styling
  packages/block-library/src/media-text/editor.scss
Labels: Good First Review, [Block] Media & Text

#15977 Scripts: Ignore linting files located in build folders by default
  packages/scripts/CHANGELOG.md
  packages/scripts/README.md
  packages/scripts/config/.eslintignore
  packages/scripts/config/.npmpackagejsonlintignore
  packages/scripts/config/.stylelintignore
  packages/scripts/scripts/lint-js.js
  packages/scripts/scripts/lint-pkg-json.js
  packages/scripts/scripts/lint-style.js
Labels: [Package] Scripts, [Type] Bug

#15583 adds selection persistence on sidebar tab switch
  docs/designers-developers/developers/data/data-core-block-editor.md
  packages/block-editor/src/components/block-selection-clearer/index.js
  packages/block-editor/src/store/actions.js
  packages/block-editor/src/store/reducer.js
  packages/block-editor/src/store/test/actions.js
  packages/block-editor/src/store/test/reducer.js
  packages/e2e-tests/specs/a11y.test.js
  packages/edit-post/src/components/sidebar/settings-header/index.js
  packages/edit-post/src/store/effects.js
Labels: Accessibility, Good First Review

#14908 Enables Block Grouping/UnGrouping using core/group
  docs/designers-developers/developers/block-api/block-registration.md
  packages/block-editor/src/components/block-actions/index.js
  packages/block-library/src/group/index.js
  packages/blocks/CHANGELOG.md
  packages/blocks/README.md
  packages/blocks/src/api/factory.js
  packages/blocks/src/api/test/factory.js
  packages/e2e-tests/fixtures/block-transforms.js
  packages/e2e-tests/specs/__snapshots__/block-grouping.test.js.snap
  packages/e2e-tests/specs/__snapshots__/block-transforms.test.js.snap
  packages/e2e-tests/specs/block-deletion.test.js
  packages/e2e-tests/specs/block-grouping.test.js
  packages/e2e-tests/specs/block-switcher.test.js
  packages/e2e-tests/specs/block-transforms.test.js
  packages/editor/src/components/convert-to-group-buttons/convert-button.js
  packages/editor/src/components/convert-to-group-buttons/icons.js
  packages/editor/src/components/convert-to-group-buttons/index.js
  packages/editor/src/components/provider/index.js
Labels: [Block] Group, [Status] In Progress

#15890 Scripts: Add default file patterns for linting scripts
  package-lock.json
  package.json
  packages/scripts/CHANGELOG.md
  packages/scripts/README.md
  packages/scripts/package.json
  packages/scripts/scripts/lint-js.js
  packages/scripts/scripts/lint-pkg-json.js
  packages/scripts/scripts/lint-style.js
  packages/scripts/utils/cli.js
  packages/scripts/utils/index.js
Labels: [Package] Scripts, [Type] Enhancement

#15990 Style quotes in the mobile app
  packages/block-editor/src/components/rich-text/index.native.js
  packages/components/src/primitives/block-quotation/index.native.js
  packages/components/src/primitives/block-quotation/style.native.scss
Labels: Mobile App Compatibility

#15946 Refactor remove line separator to method in the rich-text package.
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/components/rich-text/index.native.js
  packages/rich-text/src/index.js
  packages/rich-text/src/remove-line-separator.js
Labels: [Component] Rich Text, [Package] Rich text

#15635 Extract ServerSideRender component to an independent package
  docs/manifest-devhub.json
  lib/client-assets.php
  package-lock.json
  package.json
  packages/block-library/package.json
  packages/block-library/src/archives/edit.js
  packages/block-library/src/latest-comments/edit.js
  packages/block-library/src/legacy-widget/edit/index.js
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/components/src/index.js
  packages/editor/CHANGELOG.md
  packages/editor/src/components/deprecated.js
  packages/editor/src/components/index.js
  packages/editor/src/components/server-side-render/README.md
  packages/editor/src/components/server-side-render/index.js
  packages/server-side-render/.npmrc
  packages/server-side-render/CHANGELOG.md
  packages/server-side-render/README.md
  packages/server-side-render/package.json
  packages/server-side-render/src/index.js
  packages/server-side-render/src/server-side-render.js
  packages/server-side-render/src/test/index.js
  webpack.config.js
Labels: Packages, Priority High, Widgets, [Package] Components, [Type] Code Quality

#15991 Video block has black background when upload is in progress or upload has failed
  packages/block-library/src/video/edit.native.js
  packages/block-library/src/video/style.ios.scss
  packages/block-library/src/video/style.native.scss
Labels: Mobile App Compatibility

#15778 Allow passing style to `Icon` for mobile
  packages/block-library/src/image/edit.native.js
  packages/block-library/src/image/icon-retry.js
  packages/block-library/src/image/icon-retry.native.js
  packages/block-library/src/image/icon.js
  packages/block-library/src/image/styles.native.scss
  packages/block-library/src/video/edit.native.js
  packages/block-library/src/video/icon-retry.js
  packages/block-library/src/video/icon-retry.native.js
  packages/block-library/src/video/icon.js
  packages/block-library/src/video/style.native.scss
  packages/components/src/icon/README.md
  packages/components/src/icon/index.js
  packages/components/src/icon/test/index.js
Labels: Mobile App Compatibility

#16000 [Mobile]Prevent rendering of settings button on Video block until it has an action
  packages/block-library/src/video/edit.native.js
Labels: Mobile App Compatibility

#15997 [Mobile]Enable sound on video block
  packages/block-library/src/video/edit.native.js
  packages/block-library/src/video/video-player.android.js
  packages/block-library/src/video/video-player.ios.js
Labels: Mobile App Compatibility

#15998 [Mobile]Start playback immediately after video goes full screen
  packages/block-library/src/video/video-player.ios.js
Labels: Mobile App Compatibility

#15951 Fix: When adding a button block, Button receives focus first #15859
  packages/block-library/src/button/edit.js
  packages/e2e-tests/specs/blocks/__snapshots__/button.test.js.snap
  packages/e2e-tests/specs/blocks/button.test.js
Labels: First-time Contributor, Good First Review, [Type] Bug

#16013 Fix mobile quotes insertion and removal of empty lines
  packages/block-editor/src/components/rich-text/index.native.js
Labels: Mobile App Compatibility

#15864 Always show side inserter on the last empty paragraph
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/style.scss
  packages/block-editor/src/components/default-block-appender/style.scss
Labels: [Component] Inserter

#15537 Selecting Parent Blocks: Try clickthrough
  assets/stylesheets/_z-index.scss
  packages/block-editor/src/components/block-list/block-async-mode-provider.js
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/index.js
  packages/block-editor/src/components/block-list/style.scss
  packages/block-editor/src/components/inner-blocks/index.js
  packages/block-editor/src/components/inner-blocks/style.scss
  packages/block-library/src/block/edit-panel/editor.scss
  packages/block-library/src/columns/editor.scss
  packages/e2e-tests/specs/reusable-blocks.test.js
Labels: General Interface, [Component] Nested / Inner Blocks, [Type] Enhancement

#15225 [Mobile] Move unselected block accessibility handling to block-holder (v2)
  packages/block-library/src/heading/edit.native.js
  packages/block-library/src/heading/index.native.js
  packages/block-library/src/image/edit.native.js
  packages/block-library/src/image/index.native.js
  packages/block-library/src/missing/edit.native.js
  packages/block-library/src/paragraph/edit.native.js
  packages/block-library/src/paragraph/index.native.js
Labels: Mobile App Compatibility

#16005 [Mobile] Modified More block to be read-only
  packages/block-library/src/more/edit.native.js
  packages/block-library/src/more/editor.native.scss
  packages/block-library/src/more/index.native.js
  packages/block-library/src/nextpage/edit.native.js
  packages/block-library/src/nextpage/editor.native.scss
Labels: Mobile App Compatibility

#16018 [RNMobile] Fix crash when deleting all content of RichText based block
  packages/block-editor/src/components/rich-text/index.native.js
Labels: Mobile App Compatibility

#15038 Refactor the hovered area component to a hook
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/hover-area.js
Labels: [Type] Code Quality, [Type] Performance

#15826 Framework: Introduce "Milestone It" GitHub action
  .github/actions/milestone-it/Dockerfile
  .github/actions/milestone-it/entrypoint.sh
Labels: Framework, Project Management

#15191 Format Library: Remove secondary (access) shortcuts
  packages/e2e-tests/specs/__snapshots__/rich-text.test.js.snap
  packages/e2e-tests/specs/rich-text.test.js
  packages/edit-post/src/components/keyboard-shortcut-help-modal/config.js
  packages/edit-post/src/components/keyboard-shortcut-help-modal/test/__snapshots__/index.js.snap
  packages/format-library/src/code/index.js
  packages/format-library/src/link/index.js
  packages/format-library/src/strikethrough/index.js
Labels: Accessibility, [Package] Format library

#16019 Adds an is-busy state to the save button of the widgets page
  packages/edit-widgets/src/components/header/index.js
  packages/edit-widgets/src/components/save-button/index.js
Labels: Widgets

#16021 [RNMobile] Fix for extra BR tag on Title field on Android
  packages/editor/src/components/post-title/index.native.js
Labels: Mobile App Compatibility

#16031 [Mobile]Open video/quote/more blocks to public
  packages/edit-post/src/index.native.js
Labels: Mobile App Compatibility

#15948 Add: Format library to the widget screen.
  lib/widgets-page.php
Labels: Widgets, [Type] Bug

#15495 Fix: DateTimePicker passes current seconds as the selected seconds value
  packages/components/CHANGELOG.md
  packages/components/src/date-time/date.js
  packages/components/src/date-time/time.js
Labels: Good First Review, [Component] Post Settings, [Type] Bug

#16001 Add improved "Group" and "Ungroup" icons
  packages/block-library/src/group/icon.js
  packages/editor/src/components/convert-to-group-buttons/icons.js
Labels: Needs Design Feedback, [Block] Group, [Type] Enhancement

#15874 Spacer block: Add clear:both; to clear any floats around it
  packages/block-library/src/spacer/editor.scss
  packages/block-library/src/spacer/style.scss
  packages/block-library/src/style.scss
Labels: Good First Review, Needs Design Feedback, [Block] Spacer

#16034 Remove @wordpress/format-library dependency from edit-post
  packages/edit-post/package.json
Labels: [Package] Edit Post, [Type] Code Quality

#16043 Update increase tooltip selector specificity
  packages/components/src/tooltip/style.scss
Labels: [Type] Code Quality, [Type] Enhancement

#16047 Block API: Downgrade `convert` API to experimental
  packages/block-library/src/group/index.js
  packages/blocks/CHANGELOG.md
  packages/blocks/src/api/factory.js
  packages/blocks/src/api/test/factory.js
Labels: Block API, [Release] Do Not Punt

#16042 Revert "adds selection persistence on sidebar tab switch"
  docs/designers-developers/developers/data/data-core-block-editor.md
  packages/block-editor/src/components/block-selection-clearer/index.js
  packages/block-editor/src/store/actions.js
  packages/block-editor/src/store/reducer.js
  packages/block-editor/src/store/test/actions.js
  packages/block-editor/src/store/test/reducer.js
  packages/e2e-tests/specs/a11y.test.js
  packages/edit-post/src/components/sidebar/settings-header/index.js
  packages/edit-post/src/store/effects.js
Labels: [Release] Do Not Punt

#15983 Add availability checks to widget related code
  lib/widgets.php
Labels: Priority High, Widgets, [Block] Legacy Widget, [Type] Bug

#15999 [RNMobile] keyboard focus issues
  packages/block-editor/src/components/rich-text/index.native.js
  packages/block-library/src/heading/edit.native.js
  packages/block-library/src/image/edit.native.js
  packages/block-library/src/paragraph/edit.native.js
  packages/editor/src/components/post-title/index.native.js
Labels: Mobile App Compatibility

#16061 [docs] document missing prop in MenuItem
  packages/components/src/menu-item/README.md
Labels: [Type] Documentation

#16059 [docs] fix incorect prop name in KeyboardShortcuts
  packages/components/src/keyboard-shortcuts/README.md
Labels: [Package] Block editor, [Type] Documentation

#15770 Deprecated the selectors/actions and components that moved to the block editor module
  packages/e2e-test-utils/README.md
  packages/e2e-test-utils/src/get-all-blocks.js
  packages/e2e-test-utils/src/select-block-by-client-id.js
  packages/e2e-test-utils/src/set-post-content.js
  packages/e2e-tests/plugins/align-hook.php
  packages/e2e-tests/plugins/align-hook/index.js
  packages/e2e-tests/plugins/block-icons.php
  packages/e2e-tests/plugins/block-icons/index.js
  packages/e2e-tests/plugins/container-without-paragraph.php
  packages/e2e-tests/plugins/container-without-paragraph/index.js
  packages/e2e-tests/plugins/deprecated-node-matcher.php
  packages/e2e-tests/plugins/deprecated-node-matcher/index.js
  packages/e2e-tests/plugins/format-api.php
  packages/e2e-tests/plugins/format-api/index.js
  packages/e2e-tests/plugins/hooks-api.php
  packages/e2e-tests/plugins/hooks-api/index.js
  packages/e2e-tests/plugins/inner-blocks-allowed-blocks.php
  packages/e2e-tests/plugins/inner-blocks-allowed-blocks/index.js
  packages/e2e-tests/plugins/inner-blocks-templates.php
  packages/e2e-tests/plugins/inner-blocks-templates/index.js
  packages/e2e-tests/plugins/plugins-api.php
  packages/e2e-tests/plugins/plugins-api/annotations-sidebar.js
  packages/e2e-tests/plugins/plugins-api/sidebar.js
  packages/e2e-tests/specs/reusable-blocks.test.js
  packages/editor/CHANGELOG.md
  packages/editor/src/components/deprecated.js
  packages/editor/src/store/actions.js
  packages/editor/src/store/selectors.js
Labels: Framework, [Package] Block editor

#16066 Update browserslist dependency to fix unit tests
  package-lock.json
  package.json
Labels: Automated Testing

#14721 Update for MediaPlaceholder component: don't stack error messages when re-uploading
  packages/block-library/src/audio/edit.js
  packages/block-library/src/cover/edit.js
  packages/block-library/src/file/edit.js
  packages/block-library/src/gallery/edit.js
  packages/block-library/src/image/edit.js
  packages/block-library/src/media-text/media-container.js
  packages/block-library/src/video/edit.js
Labels: General Interface, Media, [Type] Enhancement

#15989 Editor: Create own sub-registry in default EditorProvider use
  packages/block-editor/README.md
  packages/block-editor/src/index.js
  packages/block-editor/src/store/index.js
  packages/edit-post/src/editor.js
  packages/editor/src/components/provider/index.js
  packages/editor/src/components/provider/with-registry-provider.js
  packages/editor/src/index.js
  packages/editor/src/store/index.js
Labels: [Package] Editor

#16032 Docs: Change register_meta to register_post_meta
  docs/designers-developers/developers/block-api/block-attributes.md
  docs/designers-developers/developers/tutorials/metabox/meta-block-2-register-meta.md
  docs/designers-developers/developers/tutorials/sidebar-tutorial/plugin-sidebar-3-register-meta.md
Labels: [Type] Documentation

#16071 [RNMobile] iOS Image block caption multiline fix
  packages/block-editor/src/components/rich-text/index.native.js
  packages/block-editor/src/components/rich-text/test/index.native.js
Labels: Mobile App Compatibility

#16072 Make sure no div elements get in the content of quotes.
  packages/block-editor/src/components/rich-text/index.native.js
  packages/components/src/primitives/block-quotation/index.native.js
Labels: Mobile App Compatibility

#16016 Rnmobile/change colors on rich text mobile
  packages/block-editor/src/components/rich-text/index.native.js
  packages/block-editor/src/components/rich-text/style.native.scss
Labels: Mobile App Compatibility

#16079 Scripts: Fix default use of lint-js file patterns
  packages/block-editor/src/components/media-upload/test/index.native.js
  packages/block-editor/src/components/rich-text/test/index.native.js
  packages/block-library/src/heading/edit.native.js
  packages/block-library/src/video/video-player.android.js
  packages/scripts/scripts/lint-js.js
  packages/scripts/scripts/lint-pkg-json.js
  packages/scripts/scripts/lint-style.js
Labels: [Package] Scripts, [Type] Bug

#16081 fix(components/tab-panel): improve className safety by using 'classnames'
  packages/components/src/tab-panel/README.md
  packages/components/src/tab-panel/index.js
Labels: [Package] Components, [Type] Code Quality

#16074 remove defaultProp from required property in components/modal
  packages/components/src/modal/index.js
Labels: [Type] Documentation

#16083 docs(components/text-control): Fix incorrectly documented "value" prop
  packages/components/src/text-control/README.md
Labels: [Type] Documentation

#16037 [RN Mobile] Fix v1.6.0 crash when pasting on Title Block
  packages/block-editor/src/components/rich-text/index.native.js
Labels: Mobile App Compatibility

#15548 Fix: Remove editor usage from media blocks.
  packages/block-library/src/audio/edit.js
  packages/block-library/src/file/edit.js
  packages/block-library/src/gallery/edit.js
  packages/block-library/src/gallery/transforms.js
  packages/block-library/src/image/edit.js
  packages/block-library/src/video/edit.js
Labels: Media, Priority High, Widgets, [Type] Enhancement

#15947 Fix: Playground build; Remove @babel/polyfill import from the playground
  playground/src/index.js
Labels: [Type] Bug, [Type] Build Tooling

#16084 Project management: Fix milestone version selection when RC is included in version
  .github/actions/milestone-it/entrypoint.sh
Labels: Project Management

#16096 Correct group icon prop names
  packages/block-library/src/group/icon.js
  packages/editor/src/components/convert-to-group-buttons/icons.js
Labels: [Block] Group, [Type] Bug

#16073 [docs] fix incorrect prop documentation for components/date-time
  packages/components/src/date-time/README.md
Labels: [Type] Documentation

#16087 Update link to permalink documentation.
  packages/edit-post/src/components/sidebar/post-link/index.js
Labels: [Component] Permalink, [Component] Post Settings, [Type] Bug

#16107 Fix: For passing the PHP Coding Standards
  packages/block-library/src/rss/index.php
  packages/block-library/src/tag-cloud/index.php
Labels: [Type] Code Quality

#16085 Fix horizontal scrollbar on full-wide blocks with nesting.
  packages/block-editor/src/components/inner-blocks/style.scss
  packages/block-library/src/columns/editor.scss
Labels: Regression, [Type] Bug

#16116 [RNMobile] Fix pasting text on Post Title
  packages/block-editor/src/components/rich-text/index.native.js
  packages/editor/src/components/post-title/index.native.js
Labels: Mobile App Compatibility

#16102 Update toolbar-text.png
  docs/designers-developers/assets/toolbar-text.png
Labels: [Type] Documentation

#16135 Improve placeholder text phrasing for media blocks
  packages/block-editor/src/components/media-placeholder/index.js
  packages/block-library/src/cover/edit.js
  packages/block-library/src/file/edit.js
  packages/block-library/src/image/edit.js
Labels: Blocks, Needs Copy Review, [Block] Audio, [Block] Cover, [Block] File, [Block] Image, [Block] Media & Text, [Block] Video

#16140 Add mention of on Figma to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: Needs Design Feedback, [Type] Documentation

#16145 docs(block-editor/components/inspector-controls): fix image path
  packages/block-editor/src/components/inspector-controls/README.md
Labels: [Type] Documentation

#16143 docs(components/with-focus-return): fix typo in README.md
  packages/components/src/higher-order/with-focus-return/README.md
Labels: [Type] Documentation

#16144 docs(components/higher-order/with-spoken-messages): fix issue in example code
  packages/components/src/higher-order/with-spoken-messages/README.md
Labels: [Type] Documentation

#16149 [Mobile] Disable Video block on Android for v1.7.0 release
  packages/edit-post/src/index.native.js
Labels: Mobile App Compatibility

#16114 Add native support for Inserter (Ported from gutenberg-mobile)
  packages/block-editor/src/components/index.native.js
  packages/block-editor/src/components/inserter/index.native.js
  packages/block-editor/src/components/inserter/style.native.scss
  packages/blocks/src/api/index.native.js
Labels: Mobile App Compatibility

#16151 [RNMobile] Narrow down blur on unmount to replaceable only
  packages/block-editor/src/components/rich-text/index.native.js
Labels: Mobile App Compatibility

#16091 Scripts: Fix naming conventions for function containing CLI keyword
  packages/scripts/bin/wp-scripts.js
  packages/scripts/scripts/check-engines.js
  packages/scripts/scripts/check-licenses.js
  packages/scripts/scripts/lint-js.js
  packages/scripts/scripts/lint-pkg-json.js
  packages/scripts/scripts/lint-style.js
  packages/scripts/scripts/test-e2e.js
  packages/scripts/scripts/test-unit-jest.js
  packages/scripts/utils/cli.js
  packages/scripts/utils/config.js
  packages/scripts/utils/index.js
  packages/scripts/utils/process.js
  packages/scripts/utils/test/index.js
Labels: [Package] Scripts, [Type] Code Quality

#16166 Build Tooling: Use "full" `npm install` for Build Artifacts Travis task
  .travis.yml
Labels: [Type] Build Tooling

#16152 Editor: Fix the issue where statics for deprecated components were not hoisted
  packages/editor/src/components/deprecated.js
Labels: Backwards Compatibility, Regression, [Package] Editor, [Type] Bug

#16161 Make calendar block resilient against editor module not being present
  packages/block-library/src/calendar/edit.js
Labels: Needs Dev Note, [Block] Calendar, [Type] Bug

#16035 Block library: Refactor Heading block to use class names for text align
  packages/block-library/src/heading/deprecated.js
  packages/block-library/src/heading/edit.js
  packages/block-library/src/heading/index.js
  packages/block-library/src/heading/save.js
  packages/block-library/src/style.scss
  packages/e2e-tests/fixtures/block-transforms.js
  packages/e2e-tests/fixtures/blocks/core__heading__deprecated-1.html
  packages/e2e-tests/fixtures/blocks/core__heading__deprecated-1.json
  packages/e2e-tests/fixtures/blocks/core__heading__deprecated-1.parsed.json
  packages/e2e-tests/fixtures/blocks/core__heading__deprecated-1.serialized.html
  packages/e2e-tests/fixtures/blocks/core__heading__h2-em.html
  packages/e2e-tests/fixtures/blocks/core__heading__h2-em.serialized.html
  packages/e2e-tests/fixtures/blocks/core__heading__h4-em.html
  packages/e2e-tests/fixtures/blocks/core__heading__h4-em.json
  packages/e2e-tests/fixtures/blocks/core__heading__h4-em.parsed.json
  packages/e2e-tests/fixtures/blocks/core__heading__h4-em.serialized.html
  packages/e2e-tests/specs/__snapshots__/block-transforms.test.js.snap
Labels: Technical Prototype, [Block] Heading, [Package] Block library, [Type] Enhancement

#15982 Scripts: Document and simplify changing file entry and output of build scripts
  packages/scripts/CHANGELOG.md
  packages/scripts/README.md
  packages/scripts/utils/cli.js
  packages/scripts/utils/config.js
  packages/scripts/utils/index.js
Labels: [Package] Scripts, [Type] Enhancement

#16156 [RNMobile] Native mobile release v1.7.0
  packages/block-editor/src/components/rich-text/index.native.js
  packages/edit-post/src/index.native.js
Labels: Mobile App Compatibility

#16089 [Mobile]Update video player to open the URL by browser on Android
  packages/block-library/src/video/video-player.android.js
  packages/block-library/src/video/video-player.ios.js
  packages/block-library/src/video/video-player.native.js
  packages/block-library/src/video/video-player.native.scss
Labels: Mobile App Compatibility

#16180 Support forwardRef components in save functions
  packages/element/src/serialize.js
  packages/element/src/test/serialize.js
Labels: Regression, [Type] Bug

#16020 Adding snackbar notices support to the new widgets page
  packages/edit-widgets/package.json
  packages/edit-widgets/src/components/layout/index.js
  packages/edit-widgets/src/components/notices/index.js
  packages/edit-widgets/src/components/notices/style.scss
  packages/edit-widgets/src/index.js
  packages/edit-widgets/src/store/actions.js
  packages/edit-widgets/src/store/test/actions.js
  packages/edit-widgets/src/style.scss
Labels: Widgets

#16168 Re-enable the menu item hover state on small screens
  packages/components/src/menu-item/style.scss
Labels: Accessibility, General Interface, [Type] Enhancement

#15974 Try: Make the modal overlay scrim darker
  packages/components/src/modal/style.scss
Labels: Accessibility, Needs Design Feedback, UI Components

#15988 Edit Post: Remove SlotFillProvider as rendered by block editor
  packages/block-editor/CHANGELOG.md
  packages/block-editor/src/components/provider/index.js
  packages/edit-post/src/editor.js
  playground/src/index.js
Labels: [Package] Block editor, [Package] Edit Post

#15210 Try adding an inner container to the Group block.
  packages/block-library/src/group/deprecated.js
  packages/block-library/src/group/edit.js
  packages/block-library/src/group/editor.scss
  packages/block-library/src/group/index.js
  packages/block-library/src/group/save.js
  packages/e2e-tests/fixtures/blocks/core__group.html
  packages/e2e-tests/fixtures/blocks/core__group.json
  packages/e2e-tests/fixtures/blocks/core__group.parsed.json
  packages/e2e-tests/fixtures/blocks/core__group.serialized.html
  packages/e2e-tests/fixtures/blocks/core__group__deprecated.html
  packages/e2e-tests/fixtures/blocks/core__group__deprecated.json
  packages/e2e-tests/fixtures/blocks/core__group__deprecated.parsed.json
  packages/e2e-tests/fixtures/blocks/core__group__deprecated.serialized.html
  packages/e2e-tests/specs/blocks/__snapshots__/group.test.js.snap
Labels: [Block] Group, [Type] Enhancement

#16202 Update Group block transform snapshots
  packages/e2e-tests/specs/__snapshots__/block-grouping.test.js.snap
  packages/e2e-tests/specs/__snapshots__/block-transforms.test.js.snap
Labels: [Block] Group, [Type] Bug

#13693 Add the block registration RFC
  docs/rfc/block-registration.md
Labels: Block API, Block Directory, Framework, [Type] RFC

#16213 Add native support for BlockToolbar to @wordpress/block-editor (Ported from gutenberg mobile)
  packages/block-editor/src/components/block-toolbar/index.native.js
  packages/block-editor/src/components/block-toolbar/style.native.scss
  packages/block-editor/src/components/index.native.js
Labels: Mobile App Compatibility

#14867 Add popoverProps property to DropDown component
  packages/components/CHANGELOG.md
  packages/components/src/dropdown/README.md
  packages/components/src/dropdown/index.js
Labels: UI Components, [Package] Components

#15949 Fix: Popover positions on the widget screen
  packages/edit-widgets/src/components/layout/index.js
Labels: Widgets, [Type] Bug

#15470 Fix: Block toolbar does not appear and movers can not be used on block editor without editor module
  packages/edit-widgets/src/components/widget-area/index.js
Labels: Needs Technical Feedback, Widgets, [Type] Bug

#16177 Add native version of BlockMobileToolbar (Ported from gutenberg-mobile)
  packages/block-editor/src/components/block-list/block-mobile-toolbar.native.js
  packages/block-editor/src/components/block-list/block-mobile-toolbar.native.scss
  packages/block-editor/src/components/block-mover/index.native.js
  packages/block-editor/src/components/index.native.js
  packages/block-library/src/image/edit.native.js
  packages/block-library/src/video/edit.native.js
Labels: Mobile App Compatibility

#15464 Update Image Block's image classes with dimensions
  packages/block-library/src/image/block.json
  packages/block-library/src/image/edit.js
  packages/block-library/src/image/save.js
Labels: [Block] Image

#15774 Registers the core/group Block as the default block for handling "grouping" interactions
  docs/designers-developers/developers/data/data-core-blocks.md
  packages/block-library/src/index.js
  packages/blocks/README.md
  packages/blocks/src/api/index.js
  packages/blocks/src/api/registration.js
  packages/blocks/src/api/test/registration.js
  packages/blocks/src/store/actions.js
  packages/blocks/src/store/reducer.js
  packages/blocks/src/store/selectors.js
  packages/blocks/src/store/test/reducer.js
  packages/blocks/src/store/test/selectors.js
Labels: Block API, [Type] Task

#16173 Update type specifiers in validation logging
  packages/blocks/src/api/validation.js
Labels: [Package] Blocks, [Type] Bug

#16223 Add native support for BlockListBlock (Ported from Gutenberg mobile)
  packages/block-editor/src/components/block-list/block.native.js
  packages/block-editor/src/components/block-list/block.native.scss
  packages/block-editor/src/components/index.native.js
  packages/block-library/src/missing/index.native.js
Labels: Mobile App Compatibility

#16220 Update/16128 add attribute types documentation
  docs/designers-developers/developers/block-api/block-attributes.md
Labels: [Type] Documentation

#16231 Legacy widget: Remove custom class
  packages/block-library/src/legacy-widget/index.js
  packages/block-library/src/legacy-widget/index.php
Labels: [Block] Legacy Widget

#16232 Update block-design.md
  docs/designers-developers/designers/block-design.md
Labels: [Type] Documentation

#16121 Remove deprecated note about controls being an opt-in feature
  packages/data/README.md
Labels: Good First Review, [Package] Core data, [Type] Documentation

#16235 Update faq.md
  docs/designers-developers/faq.md
Labels: [Type] Documentation

#16226 Add native component HTMLTextInput
  packages/components/src/index.native.js
  packages/components/src/mobile/html-text-input/container.android.js
  packages/components/src/mobile/html-text-input/container.ios.js
  packages/components/src/mobile/html-text-input/index.native.js
  packages/components/src/mobile/html-text-input/style-common.native.scss
  packages/components/src/mobile/html-text-input/style.android.scss
  packages/components/src/mobile/html-text-input/style.ios.scss
  packages/components/src/mobile/html-text-input/test/index.native.js
Labels: Mobile App Compatibility

#16215 Re-enable Video block on Android after Android X migration
  packages/edit-post/src/index.native.js
Labels: Mobile App Compatibility

#16239 Add native support for BlockList to @wordpress/block-editor (Ported from gutenberg mobile)
  packages/block-editor/src/components/block-list/block.native.js
  packages/block-editor/src/components/block-list/index.native.js
  packages/block-editor/src/components/block-list/style.native.scss
  packages/block-editor/src/components/index.native.js
  packages/components/src/mobile/html-text-input/index.native.js
  packages/components/src/mobile/html-text-input/test/index.native.js
  packages/edit-post/src/components/visual-editor/index.native.js
  packages/edit-post/src/components/visual-editor/style.native.scss
  packages/edit-post/src/index.native.js
Labels: Mobile App Compatibility

#15394 Update the text as Gutenberg was officially released.
  docs/designers-developers/faq.md
Labels: First-time Contributor, [Type] Documentation

#16253 Fix h1 heading typo so h1 is same size as title
  packages/editor/src/components/post-title/style.scss
Labels: [Type] Code Quality

#16236 Makes cleanForSlug more robust when receiving falsy values.
  packages/editor/src/utils/test/url.js
  packages/editor/src/utils/url.js
Labels: First-time Contributor, [Package] Editor, [Type] Bug

#15984 Correct text zoom issue in the Content Structure popover
  packages/editor/src/components/table-of-contents/style.scss
Labels: Accessibility, [Component] Document Outline, [a11y] Zooming

#16129 Add Columns template options, support InnerBlock templateOptions
  packages/block-editor/src/components/inner-blocks/README.md
  packages/block-editor/src/components/inner-blocks/index.js
  packages/block-editor/src/components/inner-blocks/style.scss
  packages/block-editor/src/components/inner-blocks/template-picker.js
  packages/block-library/src/columns/block.json
  packages/block-library/src/columns/deprecated.js
  packages/block-library/src/columns/edit.js
  packages/block-library/src/columns/save.js
  packages/block-library/src/columns/test/utils.js
  packages/block-library/src/columns/utils.js
  packages/e2e-tests/fixtures/blocks/core__columns.html
  packages/e2e-tests/fixtures/blocks/core__columns.json
  packages/e2e-tests/fixtures/blocks/core__columns.parsed.json
  packages/e2e-tests/fixtures/blocks/core__columns.serialized.html
  packages/e2e-tests/fixtures/blocks/core__columns__deprecated.json
  packages/e2e-tests/fixtures/blocks/core__columns__deprecated.serialized.html
  packages/e2e-tests/plugins/templates.php
  packages/e2e-tests/specs/__snapshots__/block-hierarchy-navigation.test.js.snap
  packages/e2e-tests/specs/__snapshots__/writing-flow.test.js.snap
  packages/e2e-tests/specs/block-hierarchy-navigation.test.js
  packages/e2e-tests/specs/blocks/columns.test.js
  packages/e2e-tests/specs/plugins/__snapshots__/templates.test.js.snap
  packages/e2e-tests/specs/writing-flow.test.js
  test/integration/full-content/server-registered.json
Labels: Needs Accessibility Feedback, Needs Dev Note, [Block] Columns, [Component] Nested / Inner Blocks, [Package] Block editor, [Package] Block library, [Type] Enhancement

#16267 change unit to e2e tests in parts of scripts package README
  packages/scripts/README.md
Labels: [Package] Scripts, [Type] Documentation

#16265 Snackbar notification for "Copy All Content
  packages/edit-post/src/plugins/copy-content-menu-item/index.js
Labels: UI Components

#16201 Fix/add check for null in gutenberg is block editor function
  lib/widgets.php
Labels: First-time Contributor, [Type] Bug, [Type] Code Quality

#16203 Add block inspector to the widget screen
  packages/block-editor/src/components/block-inspector/index.js
  packages/edit-widgets/src/components/layout/index.js
  packages/edit-widgets/src/components/sidebar/index.js
  packages/edit-widgets/src/components/sidebar/style.scss
  packages/edit-widgets/src/components/widget-area/index.js
  packages/edit-widgets/src/components/widget-area/selection-observer.js
  packages/edit-widgets/src/components/widget-areas/index.js
Labels: [Package] Block editor, [Package] Edit Widgets, [Type] Task

#16153 Fix missing closing tag for RegistryConsumer example
  packages/data/README.md
  packages/data/src/components/registry-provider/context.js
Labels: [Package] Data, [Type] Documentation

#16170 docs(components/autocomplete): prune outdated props and function params from README.md
  packages/components/src/autocomplete/README.md
  packages/components/src/autocomplete/index.js
Labels: [Type] Documentation

#16242 Switched to regular function in shortcode replace callback
  packages/shortcode/src/index.js
  packages/shortcode/src/test/index.js
Labels: First-time Contributor, Shortcodes, [Type] Bug

#16041 Update permalink panel text to be 'View [postType]' instead of 'Preview'
  packages/edit-post/src/components/sidebar/post-link/index.js
Labels: [Component] Permalink, [Type] Copy

#16219 Move rich text native to separate package
  packages/block-editor/src/components/rich-text/format-toolbar/index.native.js
  packages/block-editor/src/components/rich-text/index.native.js
  packages/editor/src/components/post-title/index.native.js
  packages/editor/src/components/post-title/style.native.scss
  packages/rich-text/src/component/index.native.js
  packages/rich-text/src/component/style.native.scss
  packages/rich-text/src/component/test/index.native.js
Labels: Mobile App Compatibility

#16287 Add global Inserter to the widget screen
  packages/edit-widgets/src/components/header/index.js
  packages/edit-widgets/src/components/inserter/index.js
  packages/edit-widgets/src/components/widget-area/index.js
Labels: Widgets, [Component] Inserter, [Package] Edit Widgets

#15212 Framework: split RichText component (part 1)
  package-lock.json
  packages/block-editor/src/components/rich-text/format-toolbar/index.js
  packages/block-editor/src/components/rich-text/format-toolbar/index.native.js
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/components/rich-text/index.native.js
  packages/block-editor/src/components/rich-text/patterns.js
  packages/block-editor/src/components/rich-text/style.scss
  packages/e2e-tests/plugins/deprecated-node-matcher/index.js
  packages/editor/src/components/post-title/index.native.js
  packages/editor/src/components/post-title/style.native.scss
  packages/rich-text/README.md
  packages/rich-text/package.json
  packages/rich-text/src/component/aria.js
  packages/rich-text/src/component/editable.js
  packages/rich-text/src/component/format-edit.js
  packages/rich-text/src/component/index.js
  packages/rich-text/src/component/index.native.js
  packages/rich-text/src/component/style.native.scss
  packages/rich-text/src/component/test/index.js
  packages/rich-text/src/component/test/index.native.js
  packages/rich-text/src/index.js
Labels: [Component] Rich Text, [Package] Rich text, [Type] Code Quality

#15444 Refactor: Add data component for editor initialization to replace __unstableInitialize action. (fixes #15403)
  packages/edit-post/CHANGELOG.md
  packages/edit-post/src/components/editor-initialization/index.js
  packages/edit-post/src/components/editor-initialization/listener-hooks.js
  packages/edit-post/src/components/editor-initialization/test/listener-hooks.js
  packages/edit-post/src/components/editor-initialization/utils.js
  packages/edit-post/src/editor.js
  packages/edit-post/src/index.js
  packages/edit-post/src/store/actions.js
  packages/edit-post/src/store/constants.js
  packages/edit-post/src/store/controls.js
  packages/edit-post/src/store/test/actions.js
Labels: [Package] Edit Post, [Type] Code Quality, [Type] Enhancement

#16260 Add Editor and Layout in @wordpress/edit-post (Ported from Gutenberg Mobile)
  packages/edit-post/src/components/layout/index.native.js
  packages/edit-post/src/components/layout/style.native.scss
  packages/edit-post/src/editor.native.js
  packages/edit-post/src/index.native.js
  packages/edit-post/src/test/editor.native.js
Labels: Mobile App Compatibility

#16291 Blocks: Remove unused asType internal parser utility
  packages/blocks/src/api/parser.js
  packages/blocks/src/api/test/parser.js
Labels: [Package] Blocks, [Type] Code Quality

#16292 ESLint Plugin: react-no-unsafe-timeout: Consider variable assignment as valid
  packages/components/src/snackbar/index.js
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/rules/__tests__/react-no-unsafe-timeout.js
  packages/eslint-plugin/rules/react-no-unsafe-timeout.js
Labels: [Package] ESLint plugin, [Type] Bug

#16150 Add support for watching block.json files when running `npm run dev`
  bin/packages/build.js
Labels: [Type] Bug, [Type] Build Tooling

#16299 RichText: fix inline toolbar position
  packages/block-editor/src/components/rich-text/index.js
Labels: Good First Review, Regression, [Component] Rich Text, [Type] Bug

#16290 Blocks: Fix error from tag source of non-matching selector
  packages/blocks/src/api/parser.js
  packages/blocks/src/api/test/parser.js
Labels: Block API, [Package] Blocks, [Type] Bug

#16312 Update link in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: [Type] Documentation

#16286 Copy All Content button: Hide if is no content
  packages/edit-post/src/plugins/copy-content-menu-item/index.js
Labels: Accessibility, UI Components

#16325 Update re-resizable dependency to the last version
  package-lock.json
  packages/components/package.json
  packages/components/src/resizable-box/index.js
Labels: UI Components, [Type] Bug

#16207 Scope the data-block CSS selector.
  packages/block-library/src/editor.scss
Labels: Regression, [Type] Bug

#16126 Remove: experimental status from blockEditor.transformStyles
  packages/block-editor/README.md
  packages/block-editor/src/utils/index.js
  packages/block-editor/src/utils/transform-styles/index.js
  packages/block-library/src/html/edit.js
  packages/editor/src/components/provider/index.js
  packages/editor/src/index.js
Labels: [Type] Code Quality

#15657 Add error message from api request.
  packages/e2e-tests/specs/change-detection.test.js
  packages/editor/src/store/test/actions.js
  packages/editor/src/store/utils/notice-builder.js
  packages/editor/src/store/utils/test/notice-builder.js
Labels: REST API Interaction

#16339 Placeholder instructions: Make texts more consistent
  packages/block-library/src/image/edit.js
Labels: Good First Review, [Type] Copy

#16344 [RNMobile] Native mobile release v1.8.0
  packages/block-editor/src/components/block-list/block-mobile-toolbar.native.js
  packages/block-library/src/image/edit.native.js
  packages/block-library/src/video/edit.native.js
  packages/edit-post/src/index.native.js
Labels: Mobile App Compatibility

#16337 i18n: Bump Tannin dependency to 1.1.0
  package-lock.json
  packages/i18n/package.json
  packages/i18n/src/index.js
Labels: [Package] i18n, [Type] Performance

#16332 Add logic to prevent ungroup option when there are no inner blocks
  packages/e2e-tests/specs/block-grouping.test.js
  packages/editor/src/components/convert-to-group-buttons/convert-button.js
Labels: Good First Review, [Block] Group, [Type] Bug

#16228 Expand explanation of uses for dynamic blocks
  docs/designers-developers/developers/tutorials/block-tutorial/creating-dynamic-blocks.md
Labels: First-time Contributor, Needs Technical Feedback, [Type] Documentation
