Repository WordPress/gutenberg, pull requests merged in 2019-11, with the labels that each got.

#18222 Colors Selector: replace `Aa` text by SVG icon
  packages/block-library/src/navigation-menu/block-colors-selector.js
  packages/block-library/src/navigation-menu/editor.scss
Labels: [Block] Navigation Menu, [Feature] Block Navigation Menu

#18215 Fix handling of pasted images and prevent thumbnail uploads
  packages/block-library/src/image/edit.native.js
  packages/block-library/src/media-text/media-container.native.js
Labels: Mobile App Compatibility

#18230 Fix mover for floats.
  packages/block-editor/src/components/block-list/style.scss
Labels: [Type] Bug

#16790 Add experimental `ResponsiveBlockControl` component
  packages/block-editor/src/components/index.js
  packages/block-editor/src/components/responsive-block-control/README.md
  packages/block-editor/src/components/responsive-block-control/index.js
  packages/block-editor/src/components/responsive-block-control/label.js
  packages/block-editor/src/components/responsive-block-control/style.scss
  packages/block-editor/src/components/responsive-block-control/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/responsive-block-control/test/index.js
  packages/block-editor/src/style.scss
Labels: [Feature] UI Components, [Package] Block editor

#17896 [RNMobile] Add mobile Spacer component
  packages/block-library/src/index.native.js
  packages/block-library/src/spacer/edit.native.js
  packages/block-library/src/spacer/editor.native.scss
  packages/components/src/mobile/bottom-sheet/cell.native.js
  packages/components/src/mobile/bottom-sheet/range-cell.native.js
  packages/components/src/mobile/bottom-sheet/range-cell.native.scss
  packages/components/src/mobile/slider/index.native.js
Labels: Mobile App Compatibility

#18234 Enables horizontal movers in social blocks
  packages/block-library/src/social-links/edit.js
  packages/block-library/src/social-links/editor.scss
Labels: [Block] Social, [Type] Enhancement

#11070 Add "Image Title Attribute" as an editable attribute on the image block
  packages/block-library/src/image/block.json
  packages/block-library/src/image/edit.js
  packages/block-library/src/image/save.js
  packages/block-library/src/image/transforms.js
Labels: Accessibility (a11y), Needs Copy Review, Needs Design Feedback, [Block] Image, [Type] Enhancement

#17841 Add editor-gradient-presets to get_theme_support
  docs/designers-developers/developers/themes/theme-support.md
  lib/experiments-page.php
  packages/editor/src/components/provider/index.js
Labels: [Feature] Themes, [Package] Block editor, [Package] Components, [Type] Enhancement

#18245 Add a README file for storybook directory
  packages/components/storybook/README.md
Labels: Storybook, [Type] Documentation

#18247 Template Loader: Add theme block template resolution.
  lib/template-loader.php
Labels: Customization, Framework, [Feature] Full Site Editing

#18261 [rnmobile] Release 1.16.0 to master
  .travis.yml
  packages/block-library/src/image/edit.native.js
  packages/block-library/src/media-text/media-container.native.js
Labels: Mobile App Compatibility

#18165 Components: Switch screen-reader-text to VisuallyHidden
  packages/components/src/base-control/index.js
  packages/components/src/form-token-field/token.js
  packages/e2e-tests/specs/editor/various/taxonomies.test.js
Labels: [Package] Components, [Type] Code Quality

#18183 Fix postmeta radio regression.
  packages/edit-post/src/components/meta-boxes/meta-boxes-area/style.scss
Labels: [Type] Bug, [Type] Regression

#15844 Fix default featured image size
  packages/editor/src/components/post-featured-image/index.js
Labels: First-time Contributor, Good First Review, [Feature] Media, [Type] Bug

#18194 Fix: setting a preset color on pullquote default style makes the block invalid
  packages/block-library/src/pullquote/deprecated.js
  packages/block-library/src/pullquote/edit.js
  packages/block-library/src/pullquote/save.js
  packages/e2e-tests/fixtures/block-transforms.js
  packages/e2e-tests/fixtures/blocks/core__pullquote__deprecated-3.html
  packages/e2e-tests/fixtures/blocks/core__pullquote__deprecated-3.json
  packages/e2e-tests/fixtures/blocks/core__pullquote__deprecated-3.parsed.json
  packages/e2e-tests/fixtures/blocks/core__pullquote__deprecated-3.serialized.html
  packages/e2e-tests/fixtures/blocks/core__pullquote__main-color.html
  packages/e2e-tests/fixtures/blocks/core__pullquote__main-color.json
  packages/e2e-tests/fixtures/blocks/core__pullquote__main-color.parsed.json
  packages/e2e-tests/fixtures/blocks/core__pullquote__main-color.serialized.html
  packages/e2e-tests/specs/experimental/__snapshots__/block-transforms.test.js.snap
Labels: [Priority] High, [Type] Bug

#18214 Update: Default gradients
  packages/block-editor/src/store/defaults.js
Labels: [Type] Enhancement

#18275 Editor: Fix move to trash redirect save race conditions.
  packages/edit-post/src/components/browser-url/index.js
  packages/editor/src/components/unsaved-changes-warning/index.js
Labels: [Package] Editor, [Type] Bug

#18287 Revert img, iframe styles to block editor container scope
  packages/base-styles/_mixins.scss
  packages/block-library/src/audio/style.scss
  packages/block-library/src/embed/style.scss
  packages/block-library/src/image/style.scss
  packages/block-library/src/style.scss
  packages/block-library/src/video/style.scss
  packages/edit-post/src/style.scss
Labels: [Type] Bug

#18279 Use URL in clipboard, if available, to create a new link
  packages/format-library/src/link/index.native.js
Labels: Mobile App Compatibility

#18138 [RN Mobile] Fix Rich-Text setSelection call on Android when BR tags at the end of content
  packages/rich-text/src/component/index.native.js
Labels: Mobile App Compatibility

#18225 link-control: implement onEdit mode
  packages/block-editor/src/components/link-control/README.md
  packages/block-editor/src/components/link-control/index.js
  packages/block-editor/src/components/link-control/test/index.js
Labels: [Block] Navigation Menu, [Feature] Block Navigation Menu, [Type] Enhancement

#18100 Add appender to Block Navigator
  packages/block-editor/src/components/block-navigation/list.js
  packages/block-editor/src/components/block-navigation/style.scss
  packages/block-editor/src/components/button-block-appender/index.js
  packages/block-editor/src/components/inserter/index.js
  packages/block-editor/src/components/inserter/menu.js
  packages/block-library/src/navigation-menu-item/edit.js
  packages/block-library/src/navigation-menu-item/editor.scss
  packages/block-library/src/navigation-menu/block-navigation-list.js
Labels: Needs Design Feedback, [Block] Navigation Menu, [Feature] Block Navigation Menu, [Type] Enhancement

#18294 Handle non-existant wp-env.json file
  packages/env/lib/resolve-dependencies.js
Labels: [Package] Env, [Type] Bug

#18062 NavigationMenu: <LinkControl /> integration.
  packages/block-editor/src/components/link-control/README.md
  packages/block-library/src/navigation-menu-item/block.json
  packages/block-library/src/navigation-menu-item/edit.js
  packages/block-library/src/navigation-menu-item/editor.scss
  packages/block-library/src/navigation-menu/edit.js
  packages/block-library/src/navigation-menu/index.php
Labels: [Block] Navigation Menu

#18264 [RNMobile] Gallery - Button
  packages/block-library/src/gallery/gallery-button.native.js
Labels: Mobile App Compatibility, [Block] Gallery

#17937 Block Merge: guard for undefined attribute definition
  packages/block-editor/src/store/effects.js
Labels: [Package] Block editor, [Type] Bug

#18036 [RNMobile] RangeControl markup
  packages/block-library/src/spacer/edit.native.js
  packages/components/src/index.native.js
  packages/components/src/mobile/bottom-sheet/range-cell.native.js
  packages/components/src/range-control/README.md
  packages/components/src/range-control/index.native.js
Labels: [Type] Enhancement

#18172 navigation-menu: apply colors correctly in edition mode
  packages/block-library/src/navigation-menu-item/editor.scss
  packages/block-library/src/navigation-menu/block-colors-selector.js
  packages/block-library/src/navigation-menu/edit.js
  packages/block-library/src/navigation-menu/editor.scss
Labels: [Block] Navigation Menu, [Type] Enhancement

#18285 Update `LinkControl` component to utilitse dynamic settings for additional settings "drawer"
  packages/block-editor/src/components/link-control/README.md
  packages/block-editor/src/components/link-control/index.js
  packages/block-editor/src/components/link-control/settings-drawer.js
  packages/block-editor/src/components/link-control/style.scss
  packages/block-editor/src/components/link-control/test/index.js
  packages/block-library/src/navigation-menu-item/edit.js
Labels: [Package] Block editor

#18289 Show new block indicator in default appender too
  packages/block-editor/src/components/block-list/index.native.js
Labels: Mobile App Compatibility

#17577 [RNMobile] Add content alignment options to paragraph block
  packages/block-editor/src/components/alignment-toolbar/index.native.js
  packages/block-library/src/paragraph/edit.native.js
Labels: Mobile App Compatibility

#18286 Fix: useColors crash when themes remove the color pallete
  packages/block-editor/src/components/colors/use-colors.js
Labels: [Block] Heading, [Type] Bug

#18346 navigation-menu-item: rename link ID to `id`
  packages/block-library/src/navigation-menu-item/block.json
  packages/block-library/src/navigation-menu/edit.js
Labels: [Block] Navigation Menu, [Type] Enhancement

#18284 Remove custom paragraph options for media-text
  packages/block-library/src/media-text/edit.native.js
Labels: Mobile App Compatibility

#17877 Try: Remove/refactor complex left/right block margins
  packages/base-styles/_variables.scss
  packages/block-editor/src/components/block-list/style.scss
  packages/block-editor/src/components/block-mover/style.scss
  packages/block-library/src/columns/editor.scss
  packages/edit-post/src/components/visual-editor/style.scss
Labels: Needs Dev Note, [Type] Code Quality

#17994 Escape Editable HTML
  package-lock.json
  packages/block-library/package.json
  packages/block-library/src/code/edit.js
  packages/block-library/src/code/save.js
  packages/block-library/src/code/test/utils.js
  packages/block-library/src/code/utils.js
  packages/escape-html/README.md
  packages/escape-html/src/index.js
  packages/escape-html/src/test/index.js
  packages/rich-text/src/to-html-string.js
Labels: [Block] Code, [Package] Rich text

#18376 Navigation Menu: apply colors using block attributes
  packages/block-library/src/navigation-menu/block-colors-selector.js
  packages/block-library/src/navigation-menu/edit.js
Labels: [Block] Navigation Menu, [Type] Enhancement

#17819 List Block: disable indent/outdent buttons
  packages/block-library/src/list/edit.js
  packages/rich-text/src/can-indent-list-items.js
  packages/rich-text/src/can-outdent-list-items.js
  packages/rich-text/src/indent-list-items.js
  packages/rich-text/src/index.js
  packages/rich-text/src/outdent-list-items.js
  packages/rich-text/src/test/can-indent-list-items.js
  packages/rich-text/src/test/can-outdent-list-items.js
Labels: [Block] List, [Package] Rich text

#18292 Link UI: Fix focus styles w/ suggestions showing
  packages/block-editor/src/components/link-control/style.scss
Labels: Good First Review, [Type] Bug

#18365 (i18n) Verse: Example: Fix string concatenation, add `translators` string
  packages/block-library/src/verse/index.js
Labels: Internationalization (i18n), [Block] Verse

#18378 [RNMobile] Instruct haste/jest to look for modules in RN/Libraries/Utilities too
  test/native/jest.config.js
Labels: Mobile App Compatibility

#18374 Navigation Menu Item: fix showing input placeholder
  packages/block-library/src/navigation-menu-item/editor.scss
Labels: [Block] Navigation Menu

#18290 Change Detection: Add a test case for post trashing.
  packages/e2e-test-utils/src/is-current-url.js
  packages/e2e-tests/specs/editor/various/change-detection.test.js
Labels: Automated Testing, [Package] Editor

#18270 Blocks: Add initial API for Block Patterns
  packages/blocks/src/api/index.js
  packages/blocks/src/api/registration.js
  packages/blocks/src/store/actions.js
  packages/blocks/src/store/reducer.js
  packages/blocks/src/store/selectors.js
  packages/blocks/src/store/test/actions.js
  packages/blocks/src/store/test/reducer.js
  packages/eslint-plugin/configs/jsdoc.js
Labels: [Feature] Block API, [Feature] Extensibility, [Package] Blocks, [Type] Technical Prototype

#18268 [RNMobile] Block title in unsupported block
  packages/block-library/src/missing/edit.native.js
  packages/block-library/src/missing/style.native.scss
  packages/block-library/src/missing/test/__snapshots__/edit.native.js.snap
  packages/block-library/src/missing/test/edit.native.js
  test/native/__mocks__/styleMock.js
Labels: Mobile App Compatibility

#18391 Fix watching e2e tests
  package.json
Labels: Automated Testing, [Type] Bug

#15468 Include PR template check for .native.js refactorings
  .github/PULL_REQUEST_TEMPLATE.md
  docs/contributors/develop.md
  docs/contributors/document.md
  docs/contributors/native-mobile.md
  docs/manifest-devhub.json
  docs/toc.json
Labels: Mobile App Compatibility, [Type] Project Management

#18367 Preserves style of menu items when in edit mode
  packages/block-library/src/navigation-menu-item/editor.scss
Labels: [Block] Navigation Menu, [Type] Bug

#18300 [RNMobile] Media & Text alignment options
  packages/block-editor/src/components/block-list/index.native.js
  packages/block-editor/src/components/block-list/style.native.scss
  packages/block-library/src/media-text/edit.native.js
  packages/block-library/src/media-text/media-container.native.js
  packages/components/src/mobile/keyboard-aware-flat-list/index.ios.js
Labels: Mobile App Compatibility, [Block] Media & Text

#18386 Add Snackbar component to Storybook
  packages/components/src/snackbar/stories/index.js
Labels: Good First Review, Storybook, [Feature] UI Components

#18388 Add toggle control component to Storybook
  packages/components/src/toggle-control/stories/index.js
Labels: Good First Review, Storybook, [Feature] UI Components

#18350 [wip] Navigation Menu: sub menu items design
  packages/block-library/src/navigation-menu/style.scss
  packages/block-library/src/navigation-menu/theme.scss
  packages/block-library/src/theme.scss
Labels: Needs Design Feedback, [Block] Navigation Menu, [Type] Enhancement

#18405 LinkControl: Open popup with cmd+k shortcut
  packages/block-library/src/navigation-menu-item/edit.js
Labels: [Package] Block editor, [Status] In Progress

#18097 Components: ResizableBox, add showHandle prop
  packages/components/src/resizable-box/README.md
  packages/components/src/resizable-box/index.js
  packages/components/src/resizable-box/stories/index.js
  packages/components/src/resizable-box/style.scss
Labels: Good First Review, Storybook, [Feature] UI Components

#18412 Fixes to append items via toolbar
  packages/block-library/src/navigation-menu-item/edit.js
Labels: [Block] Navigation Menu

#18363 Nav Block - improving initial state by adding Block placeholder
  packages/block-library/src/navigation-menu/edit.js
  packages/components/src/placeholder/style.scss
Labels: Needs Technical Feedback, [Block] Navigation Menu

#18400 Docs: Snackbar `actions` remove className
  packages/components/src/snackbar/README.md
Labels: [Feature] UI Components, [Type] Documentation

#18410 Fix excess theme styling on Social Links block links
  packages/block-library/src/social-links/style.scss
Labels: First-time Contributor, [Block] Social

#18435 Update/nav menu item add link style
  packages/block-library/src/navigation-menu-item/edit.js
  packages/block-library/src/navigation-menu-item/editor.scss
  packages/block-library/src/navigation-menu/edit.js
Labels: Needs Design Feedback, [Block] Navigation Menu, [Feature] Block Navigation Menu

#18404 Storybook: Snackbar - Add Actions prop story
  packages/components/src/snackbar/stories/index.js
Labels: Storybook, [Feature] UI Components

#18449 Fix typo_ appropriately
  packages/env/README.md
  packages/env/lib/cli.js
Labels: [Type] Documentation

#18452 Fix modal component usage example code
  packages/components/src/modal/README.md
Labels: [Type] Documentation

#18191 Storybook: Try to integrate the playground into Storybook
  .travis.yml
  docs/contributors/getting-started.md
  package-lock.json
  package.json
  packages/components/src/animate/stories/index.js
  packages/components/src/button-group/stories/index.js
  packages/components/src/button/stories/index.js
  packages/components/src/checkbox-control/stories/index.js
  packages/components/src/clipboard-button/stories/index.js
  packages/components/src/color-indicator/stories/index.js
  packages/components/src/color-palette/stories/index.js
  packages/components/src/color-picker/stories/index.js
  packages/components/src/dashicon/stories/index.js
  packages/components/src/draggable/stories/index.js
  packages/components/src/external-link/stories/index.js
  packages/components/src/font-size-picker/stories/index.js
  packages/components/src/icon-button/stories/index.js
  packages/components/src/icon/stories/index.js
  packages/components/src/modal/stories/index.js
  packages/components/src/range-control/stories/index.js
  packages/components/src/resizable-box/stories/index.js
  packages/components/src/scroll-lock/stories/index.js
  packages/components/src/snackbar/stories/index.js
  packages/components/src/spinner/stories/index.js
  packages/components/src/toggle-control/stories/index.js
  packages/components/src/visually-hidden/stories/index.js
  packages/components/storybook/.babelrc
  packages/components/storybook/README.md
  packages/components/storybook/config.js
  packages/components/storybook/webpack.config.js
  playground/.babelrc
  playground/src/index.html
  playground/src/index.js
  storybook/.babelrc
  storybook/.sassrc
  storybook/README.md
  storybook/addons.js
  storybook/config.js
  storybook/presets.js
  storybook/preview-head.html
  storybook/stories/docs/introduction.story.mdx
  storybook/stories/playground/editor-styles.scss
  storybook/stories/playground/index.js
  storybook/stories/playground/reset.scss
  storybook/stories/playground/style.scss
  storybook/webpack.config.js
Labels: Automated Testing, Storybook, [Type] Technical Prototype

#15809 Increase WordPress minimum to 5.2.0
  gutenberg.php
  phpcs.xml.dist
Labels: Gutenberg Plugin, [Type] Task

#18347 Fix hidden nested images in content column
  packages/block-library/src/media-text/style.scss
Labels: [Block] Media & Text, [Type] Bug

#18455 Navigation block: prevent error in Firefox when removing the navigation block
  packages/block-editor/src/components/block-navigation/list.js
Labels: [Block] Navigation Menu, [Type] Bug

#17779 RichText: remove Editable & allow React to diff editable element
  packages/rich-text/src/component/aria.js
  packages/rich-text/src/component/editable.js
  packages/rich-text/src/component/index.js
  packages/rich-text/src/component/test/index.js
Labels: [Package] Rich text, [Type] Code Quality, [Type] Performance

#18358 Fixed the top margin and border for the first item in the keyboard shortcuts modal
  packages/edit-post/src/components/keyboard-shortcut-help-modal/style.scss
Labels: General Interface

#18125 Update: Refactor paragraph block to be a functional component
  packages/block-library/src/paragraph/edit.js
Labels: [Type] Code Quality, [Type] Enhancement

#18402 Storybook: Add TabPanel
  packages/components/src/tab-panel/stories/index.js
Labels: Good First Review, Storybook, [Feature] UI Components

#18457 eslint-plugin: Include WordPress plugin in React ruleset
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/configs/react.js
Labels: [Package] ESLint plugin, [Type] Bug

#17906 Activate preformatted block in the RN app
  packages/block-editor/src/components/rich-text/index.js
  packages/block-library/src/index.native.js
  packages/block-library/src/preformatted/edit.js
  packages/block-library/src/preformatted/edit.native.js
  packages/block-library/src/preformatted/styles.native.scss
Labels: Mobile App Compatibility

#15669 Add Label Support for URLInput Component
  packages/block-editor/CHANGELOG.md
  packages/block-editor/src/components/link-control/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/url-input/README.md
  packages/block-editor/src/components/url-input/index.js
  packages/block-editor/src/components/url-input/style.scss
  packages/block-editor/src/components/url-popover/style.scss
  packages/block-library/src/button/edit.js
  packages/e2e-tests/specs/editor/various/links.test.js
Labels: Accessibility (a11y), Good First Review, [Type] Enhancement

#18465 Navigation: Have submenu inherit background color
  packages/block-library/src/navigation-menu/style.scss
Labels: [Block] Navigation Menu, [Feature] Block Navigation Menu, [Type] Bug

#18407 Try/navigation menu group
  packages/block-library/src/navigation-menu/block-colors-selector.js
  packages/block-library/src/navigation-menu/edit.js
  packages/block-library/src/navigation-menu/editor.scss
  packages/block-library/src/navigation-menu/index.php
Labels: Needs Design Feedback, [Block] Navigation Menu, [Feature] Block Navigation Menu

#17963 Components: Add Card Component
  babel.config.js
  docs/manifest-devhub.json
  package-lock.json
  package.json
  packages/components/package.json
  packages/components/src/card/README.md
  packages/components/src/card/body.js
  packages/components/src/card/context.js
  packages/components/src/card/divider.js
  packages/components/src/card/docs/body.md
  packages/components/src/card/docs/divider.md
  packages/components/src/card/docs/footer.md
  packages/components/src/card/docs/header.md
  packages/components/src/card/docs/media.md
  packages/components/src/card/footer.js
  packages/components/src/card/header.js
  packages/components/src/card/index.js
  packages/components/src/card/media.js
  packages/components/src/card/stories/_index.js
  packages/components/src/card/stories/_utils.js
  packages/components/src/card/stories/body.js
  packages/components/src/card/stories/divider.js
  packages/components/src/card/stories/footer.js
  packages/components/src/card/stories/header.js
  packages/components/src/card/stories/media.js
  packages/components/src/card/styles/card-styles.js
  packages/components/src/card/test/body.js
  packages/components/src/card/test/divider.js
  packages/components/src/card/test/footer.js
  packages/components/src/card/test/header.js
  packages/components/src/card/test/index.js
  packages/components/src/card/test/media.js
  packages/components/src/index.js
  packages/components/src/utils/colors-values.js
  packages/components/src/utils/colors.js
  storybook/.babelrc
Labels: Needs Design Feedback, [Package] Components, [Type] Technical Prototype

#18484 Colors Selector: set icon background-color
  packages/block-library/src/navigation-menu/block-colors-selector.js
  packages/block-library/src/navigation-menu/editor.scss
Labels: [Block] Navigation Menu, [Feature] Block Navigation Menu

#18485 Removes background shadow on drop down menu
  packages/block-library/src/navigation-menu/style.scss
Labels: [Feature] Block Navigation Menu

#18488 Link Control: fix setting rich-text placeholder
  packages/block-editor/src/components/link-control/style.scss
  packages/block-library/src/navigation-menu-item/editor.scss
Labels: [Block] Navigation Menu, [Feature] Block Navigation Menu

#18474 Storybook: Add radiocontrol component
  packages/components/src/radio-control/stories/index.js
Labels: Storybook, [Feature] UI Components

#18303 [RNMobile] Simplify bridge requestMediaPick methods
  packages/block-editor/src/components/media-upload/index.native.js
  packages/block-editor/src/components/media-upload/test/index.native.js
  test/native/setup.js
Labels: Mobile App Compatibility

#17726 Fix off center post-publish button
  packages/edit-post/src/components/layout/style.scss
  packages/editor/src/components/post-publish-panel/index.js
  packages/editor/src/components/post-publish-panel/style.scss
  packages/editor/src/components/post-publish-panel/test/__snapshots__/index.js.snap
Labels: First-time Contributor, [Type] Bug

#18507 Docs: Fix typo at "Block Gradient Presets"
  docs/designers-developers/developers/themes/theme-support.md
Labels: [Type] Documentation

#18479 Fix paste in post title in GB-mobile.
  packages/editor/src/components/post-title/index.native.js
Labels: Mobile App Compatibility

#18059 Docgen: Add @typedef and @property tags
  docs/designers-developers/developers/data/data-core-block-editor.md
  packages/block-editor/README.md
  packages/block-editor/src/store/defaults.js
  packages/docgen/src/markdown/formatter.js
Labels: [Package] Block editor, [Package] Docgen, [Type] Enhancement

#18433 [RNMobile] Add content alignment options to paragraph block (updating release branch)
  packages/block-editor/src/components/alignment-toolbar/index.native.js
  packages/block-library/src/paragraph/edit.native.js
Labels: Mobile App Compatibility

#18116 Update: Refactor cover edit method to be a functional component
  packages/block-library/src/cover/edit.js
Labels: [Type] Code Quality, [Type] Enhancement

#18516 Documentation: Add more detailed steps for releasing packages to npm
  docs/contributors/release.md
Labels: Npm Packages, [Type] Documentation

#17911 Enhancements to key-concepts.md
  docs/designers-developers/key-concepts.md
Labels: [Type] Documentation, [Type] Enhancement

#18514 Playground: Fix useEffect to only registerCoreBlocks once
  storybook/stories/playground/index.js
Labels: Storybook, [Type] Bug

#18499 Add a backward compatibility document
  docs/designers-developers/developers/backward-compatibility/README.md
Labels: [Type] Documentation

#18526 chore: Fix: Paragraph block isRTL may not be boolean
  packages/block-library/src/paragraph/edit.js
Labels: [Block] Paragraph, [Type] Bug

#18461 Block Library: Add Post Content and Title Blocks.
  lib/blocks.php
  lib/compat.php
  packages/block-library/src/index.js
  packages/block-library/src/post-content/block.json
  packages/block-library/src/post-content/edit.js
  packages/block-library/src/post-content/icon.js
  packages/block-library/src/post-content/index.js
  packages/block-library/src/post-content/index.php
  packages/block-library/src/post-title/block.json
  packages/block-library/src/post-title/edit.js
  packages/block-library/src/post-title/icon.js
  packages/block-library/src/post-title/index.js
  packages/block-library/src/post-title/index.php
  packages/e2e-tests/fixtures/blocks/core__post-content.html
  packages/e2e-tests/fixtures/blocks/core__post-content.json
  packages/e2e-tests/fixtures/blocks/core__post-content.parsed.json
  packages/e2e-tests/fixtures/blocks/core__post-content.serialized.html
  packages/e2e-tests/fixtures/blocks/core__post-title.html
  packages/e2e-tests/fixtures/blocks/core__post-title.json
  packages/e2e-tests/fixtures/blocks/core__post-title.parsed.json
  packages/e2e-tests/fixtures/blocks/core__post-title.serialized.html
  test/integration/full-content/server-registered.json
Labels: [Feature] Full Site Editing, [Package] Block library

#18454 Block on mobile unit tests fail and instructions on how to debug
  .travis.yml
  docs/contributors/native-mobile.md
  docs/contributors/testing-overview.md
  package.json
  test/native/jest.config.js
Labels: Automated Testing, Mobile App Compatibility, Needs Technical Feedback

#18528 Fix: Widget screen margins
  packages/edit-widgets/src/components/widget-area/style.scss
Labels: [Feature] Widgets, [Package] Edit Widgets, [Type] Bug

#18543 Fix: End 2 end tests failure; Update transforms structure
  packages/e2e-tests/fixtures/block-transforms.js
Labels: Automated Testing, [Type] Bug

#18539 Fix crash which occurs after deleting image or page break block
  packages/element/src/platform.android.js
  packages/element/src/platform.ios.js
Labels: Mobile App Compatibility

#18422 Rename "Navigation Menu Item" to "Link".
  packages/block-library/src/editor.scss
  packages/block-library/src/index.js
  packages/block-library/src/navigation-link/block.json
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation-link/editor.scss
  packages/block-library/src/navigation-link/index.js
  packages/block-library/src/navigation-link/save.js
  packages/block-library/src/navigation-menu/edit.js
  packages/block-library/src/navigation-menu/editor.scss
  packages/block-library/src/navigation-menu/index.php
  packages/e2e-tests/fixtures/block-transforms.js
  packages/e2e-tests/fixtures/blocks/core__navigation-link.html
  packages/e2e-tests/fixtures/blocks/core__navigation-link.json
  packages/e2e-tests/fixtures/blocks/core__navigation-link.parsed.json
  packages/e2e-tests/fixtures/blocks/core__navigation-link.serialized.html
  packages/e2e-tests/fixtures/blocks/core__navigation-menu-item.html
  packages/e2e-tests/fixtures/blocks/core__navigation-menu-item.serialized.html
Labels: [Block] Navigation Menu

#18237 Use Colors: Enhance contrast checking API.
  packages/block-editor/src/components/colors/use-colors.js
  packages/block-library/src/heading/edit.js
Labels: [Feature] Block API, [Feature] Extensibility

#18544 Update: Return the color value on useColors
  packages/block-editor/src/components/colors/use-colors.js
Labels: [Type] Enhancement

#18157 [RNMobile] RangeCell styling refactor
  packages/block-library/src/spacer/edit.native.js
  packages/components/src/mobile/bottom-sheet/borderStyles.android.scss
  packages/components/src/mobile/bottom-sheet/borderStyles.ios.scss
  packages/components/src/mobile/bottom-sheet/cell.native.js
  packages/components/src/mobile/bottom-sheet/range-cell.native.js
  packages/components/src/mobile/bottom-sheet/range-cell.native.scss
  packages/components/src/mobile/bottom-sheet/styles.native.scss
Labels: Mobile App Compatibility, [Block] Spacer

#18545 Add: isRTL setting to the widget screen.
  lib/widgets-page.php
Labels: Internationalization (i18n), [Feature] Widgets, [Package] Edit Widgets

#18540 Remove unnecessary color attributes from navigation block
  packages/block-library/src/navigation-menu/block-colors-selector.js
  packages/block-library/src/navigation-menu/edit.js
  packages/block-library/src/navigation-menu/index.php
Labels: [Block] Navigation Menu, [Type] Bug, [Type] Code Quality, [Type] Enhancement

#18466 Navigation: Allow additional CSS classes
  packages/block-library/src/navigation-menu/index.php
Labels: [Block] Navigation Menu, [Feature] Block Navigation Menu, [Type] Bug

#17376 New Feature: Introduce __experimentalCreateInterpolateElement
  packages/element/CHANGELOG.md
  packages/element/src/create-interpolate-element.js
  packages/element/src/index.js
  packages/element/src/test/create-interpolate-element.js
Labels: Internationalization (i18n), [Package] Element, [Type] Enhancement

#18558 Documentation: Fix command to add upstream
  docs/contributors/git-workflow.md
Labels: [Type] Documentation

#18235 Polish datetime popover.
  packages/components/src/date-time/style.scss
  packages/edit-post/src/components/sidebar/post-schedule/style.scss
  packages/editor/src/components/post-publish-panel/style.scss
Labels: [Type] Code Quality, [Type] Enhancement

#18469 Fix full-wide on mobile regression.
  packages/block-editor/src/components/block-list/style.scss
Labels: [Type] Bug, [Type] Regression

#17983 create a screen-reader-text label for search block (fix #17351)
  packages/block-library/src/search/index.php
Labels: Accessibility (a11y), [Block] Search, [Type] Bug, [a11y] Labelling

#18533 [Tiny PR] Text patterns: fix undo after mouse move
  packages/block-editor/src/store/reducer.js
  packages/e2e-tests/specs/editor/blocks/__snapshots__/list.test.js.snap
  packages/e2e-tests/specs/editor/blocks/list.test.js
Labels: [Package] Block editor, [Type] Bug

#18587 [DOCS] Bump @wordpress/scripts version
  docs/designers-developers/developers/tutorials/javascript/js-build-setup.md
Labels: [Type] Documentation

#18588 Bring changes from rnmobile/release-v1.17.0 back to master
  packages/block-editor/src/components/alignment-toolbar/index.native.js
  packages/block-editor/src/components/media-upload/index.native.js
  packages/block-editor/src/components/media-upload/test/index.native.js
  packages/block-editor/src/components/rich-text/index.js
  packages/block-library/src/image/edit.native.js
  packages/block-library/src/image/styles.native.scss
  packages/block-library/src/index.native.js
  packages/block-library/src/paragraph/edit.native.js
  packages/block-library/src/preformatted/edit.js
  packages/block-library/src/preformatted/edit.native.js
  packages/block-library/src/preformatted/styles.native.scss
  packages/editor/src/components/post-title/index.native.js
  packages/element/src/platform.android.js
  packages/element/src/platform.ios.js
  test/native/setup.js
Labels: Mobile App Compatibility

#18592 Fix incorrect example for ServerSideRender docs
  packages/server-side-render/README.md
Labels: [Package] Server Side Render, [Type] Documentation

#18534 Components: Add accessible Toolbar
  package-lock.json
  packages/components/package.json
  packages/components/src/dropdown-menu/index.js
  packages/components/src/index.js
  packages/components/src/index.native.js
  packages/components/src/style.scss
  packages/components/src/toolbar-button/accessible-toolbar-button-container.js
  packages/components/src/toolbar-button/accessible-toolbar-button-container.native.js
  packages/components/src/toolbar-button/index.js
  packages/components/src/toolbar-button/style.scss
  packages/components/src/toolbar-context/index.js
  packages/components/src/toolbar-group/index.js
  packages/components/src/toolbar-group/stories/index.js
  packages/components/src/toolbar-group/style.native.scss
  packages/components/src/toolbar-group/style.scss
  packages/components/src/toolbar-group/test/index.js
  packages/components/src/toolbar-group/toolbar-group-collapsed.js
  packages/components/src/toolbar-group/toolbar-group-collapsed.native.js
  packages/components/src/toolbar-group/toolbar-group-container.js
  packages/components/src/toolbar-group/toolbar-group-container.native.js
  packages/components/src/toolbar/index.js
  packages/components/src/toolbar/stories/index.js
  packages/components/src/toolbar/style.scss
  packages/components/src/toolbar/test/index.js
  packages/components/src/toolbar/toolbar-container.js
  packages/components/src/toolbar/toolbar-container.native.js
Labels: Accessibility (a11y), First-time Contributor, Mobile App Compatibility, [Feature] UI Components, [Type] Enhancement

#18459 Transforms: Shortcode: Support `isMatch` predicate
  docs/designers-developers/developers/block-api/block-registration.md
  packages/blocks/src/api/raw-handling/shortcode-converter.js
  test/integration/blocks-raw-handling.test.js
  test/integration/fixtures/shortcode-matching-in.html
  test/integration/fixtures/shortcode-matching-out.html
  test/integration/shortcode-converter.test.js
Labels: [Feature] Block API, [Feature] Block Conversion, [Feature] Extensibility, [Feature] Raw Handling, [Feature] Shortcodes

#15054 Fix: Contributors can not use drag & drop
  packages/block-editor/src/components/block-drop-zone/index.js
  packages/components/src/drop-zone/index.js
Labels: [Feature] Drag and Drop, [Type] Bug

#18551 Navigation: Drop menu suffix
  lib/blocks.php
  packages/block-library/src/editor.scss
  packages/block-library/src/index.js
  packages/block-library/src/navigation-link/editor.scss
  packages/block-library/src/navigation-link/index.js
  packages/block-library/src/navigation/block-colors-selector.js
  packages/block-library/src/navigation/block-navigation-list.js
  packages/block-library/src/navigation/edit.js
  packages/block-library/src/navigation/editor.scss
  packages/block-library/src/navigation/index.js
  packages/block-library/src/navigation/index.php
  packages/block-library/src/navigation/save.js
  packages/block-library/src/navigation/style.scss
  packages/block-library/src/navigation/theme.scss
  packages/block-library/src/navigation/use-block-navigator.js
  packages/block-library/src/style.scss
  packages/block-library/src/theme.scss
  packages/e2e-tests/fixtures/block-transforms.js
  packages/e2e-tests/fixtures/blocks/core__navigation-menu.html
  packages/e2e-tests/fixtures/blocks/core__navigation-menu.serialized.html
  packages/e2e-tests/fixtures/blocks/core__navigation.html
  packages/e2e-tests/fixtures/blocks/core__navigation.json
  packages/e2e-tests/fixtures/blocks/core__navigation.parsed.json
  packages/e2e-tests/fixtures/blocks/core__navigation.serialized.html
  test/integration/full-content/server-registered.json
Labels: [Block] Navigation Menu, [Feature] Block Navigation Menu, [Type] Task

#18253 Escape spaces in file paths
  bin/update-readmes.js
  docs/tool/update-data.js
Labels: [Type] Build Tooling, [Type] Documentation

#18590 Update: Use gradient classes in cover block
  packages/block-library/src/cover/block.json
  packages/block-library/src/cover/edit.js
  packages/block-library/src/cover/save.js
Labels: [Block] Cover, [Type] Enhancement

#18601 Move the view section of the More Menu to the options panel
  packages/e2e-tests/specs/editor/various/fullscreen-mode.test.js
  packages/edit-post/src/components/header/more-menu/index.js
  packages/edit-post/src/components/header/writing-menu/index.js
  packages/edit-post/src/components/options-modal/index.js
  packages/edit-post/src/components/options-modal/options/base.js
  packages/edit-post/src/components/options-modal/style.scss
  packages/edit-post/src/components/options-modal/test/__snapshots__/index.js.snap
Labels: General Interface

#17226 Fix: Image Block: Update media link when image is replaced
  packages/block-library/src/image/edit.js
Labels: [Block] Image, [Type] Bug

#18096 Components: Popover, add story
  packages/components/src/popover/stories/_utils.js
  packages/components/src/popover/stories/index.js
Labels: Storybook, [Feature] UI Components

#18339 Lib: Add template part CPTs and their theme resolution logic.
  lib/load.php
  lib/template-loader.php
  lib/template-parts.php
Labels: Customization, Framework, [Feature] Full Site Editing

#18599 Switch require_once to require for loading asset files
  lib/client-assets.php
Labels: [Type] Bug

#18616 Post Title: fix special chars
  packages/editor/src/components/post-title/index.js
Labels: [Type] Bug

#17979 [RNMobile] Implement getMedia on Image block.
  packages/api-fetch/src/index.native.js
  packages/block-library/src/image/edit.native.js
Labels: Mobile App Compatibility

#18623 Inserter: Add keyboard shortcut styling to "/" in the default tip
  packages/block-editor/src/components/inserter/menu.js
Labels: [Feature] Inserter, [Type] Enhancement

#18607 Navigation: Fix issue creating front-end markup
  packages/block-library/src/navigation/index.php
Labels: [Block] Navigation, [Feature] Block Navigation

#18626 Jest Puppeteer Axe: Add babel/runtime dependency
  package-lock.json
  packages/jest-puppeteer-axe/package.json
Labels: First-time Contributor, [Package] Jest Puppeteer aXe, [Type] Bug

#18044 Refactor the layout component to separate the UI from the content.
  packages/base-styles/_mixins.scss
  packages/base-styles/_z-index.scss
  packages/components/src/higher-order/navigate-regions/style.scss
  packages/e2e-tests/specs/editor/various/block-hierarchy-navigation.test.js
  packages/e2e-tests/specs/editor/various/sidebar.test.js
  packages/edit-post/src/components/editor-regions/index.js
  packages/edit-post/src/components/editor-regions/style.scss
  packages/edit-post/src/components/header/header-toolbar/style.scss
  packages/edit-post/src/components/header/index.js
  packages/edit-post/src/components/header/style.scss
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/layout/style.scss
  packages/edit-post/src/components/sidebar/index.js
  packages/edit-post/src/components/sidebar/plugin-sidebar/index.js
  packages/edit-post/src/components/sidebar/settings-header/style.scss
  packages/edit-post/src/components/sidebar/settings-sidebar/index.js
  packages/edit-post/src/components/sidebar/style.scss
  packages/edit-post/src/components/text-editor/style.scss
  packages/edit-post/src/components/visual-editor/style.scss
  packages/edit-post/src/style.scss
  packages/edit-widgets/src/components/sidebar/style.scss
Labels: Needs Accessibility Feedback, Needs Design Feedback, [Type] Code Quality

#17824 Record selection changes in history (undo)
  docs/designers-developers/developers/data/data-core-block-editor.md
  docs/designers-developers/developers/data/data-core-editor.md
  packages/block-editor/src/components/provider/index.js
  packages/block-editor/src/store/actions.js
  packages/core-data/src/entities.js
  packages/e2e-tests/specs/editor/various/undo.test.js
  packages/editor/src/components/provider/index.js
  packages/editor/src/store/actions.js
  packages/editor/src/store/selectors.js
  packages/rich-text/src/component/index.js
Labels: [Feature] History, [Package] Block editor, [Package] Editor, [Package] Rich text

#18559 Core Data: Add checks to actions and selectors to avoid throwing errors when the relevant config is not loaded.
  packages/core-data/src/actions.js
  packages/core-data/src/selectors.js
  packages/core-data/src/test/actions.js
  packages/core-data/src/test/selectors.js
Labels: [Package] Core data, [Type] Bug

#18629 Navigation: fix adding CSS custom class issue
  packages/block-library/src/navigation/index.php
Labels: [Block] Navigation

#18643 Add documentation for wp-env.json config file
  packages/env/README.md
Labels: [Type] Documentation

#18594 Navigation: Remove from experimental
  lib/experiments-page.php
  packages/block-editor/README.md
  packages/block-editor/src/store/defaults.js
  packages/block-library/src/index.js
  packages/block-library/src/navigation/index.js
  packages/block-library/src/navigation/index.php
  packages/e2e-tests/specs/experimental/block-transforms.test.js
  packages/editor/src/components/provider/index.js
  test/integration/full-content/full-content.test.js
Labels: [Block] Navigation, [Feature] Block Navigation, [Type] Task

#18631 Align Dropdown and DropdownMenu styles
  packages/components/src/color-palette/test/__snapshots__/index.js.snap
  packages/components/src/dropdown-menu/style.scss
  packages/components/src/dropdown/index.js
  packages/components/src/dropdown/stories/index.js
  packages/components/src/dropdown/style.scss
  packages/components/src/style.scss
  packages/components/src/toolbar-button/style.scss
  packages/edit-post/src/components/header/more-menu/test/__snapshots__/index.js.snap
Labels: Needs Design Feedback, [Feature] UI Components

#18638 [Tiny PR] Linkedin => LinkedIn
  packages/block-library/src/social-link/social-list.js
  packages/e2e-tests/fixtures/block-transforms.js
Labels: [Type] Copy

#18618 [RNMobile] Enables native image fullscreen preview on iOS
  packages/block-library/src/image/edit.native.js
Labels: Mobile App Compatibility

#18658 Fix hidden post schedule popover on mobile
  packages/components/src/date-time/style.scss
Labels: General Interface, [Type] Bug

#18542 Add storybook for Tip component
  packages/components/src/tip/stories/index.js
Labels: Good First Review, Storybook, [Feature] UI Components

#14911 Remove max-width setting on image-block
  packages/block-library/src/image/style.scss
Labels: [Block] Image

#18627 [RNMobile] Image Size improvements mark I
  packages/block-library/src/image/edit.native.js
Labels: Mobile App Compatibility

#18671 Storybook: Categorize "Other" components
  packages/components/src/popover/stories/index.js
  packages/components/src/tab-panel/stories/index.js
Labels: Storybook

#18673 Audio Block: add a few keywords to improve discovery.
  packages/block-library/src/audio/index.js
Labels: [Block] Audio

#18591 Remove CollegeHumor from embed providers
  packages/block-library/src/embed/core-embeds.js
Labels: Needs Dev Note, [Block] Embed, [Package] Block library

#17917 Editor: Test that consecutive edits to the same attribute after saving are considered "persistent".
  packages/e2e-tests/specs/editor/various/change-detection.test.js
Labels: Automated Testing, [Package] Editor

#18683 Fix the snackbar notices position
  packages/edit-post/src/components/layout/style.scss
Labels: General Interface, Good First Review, Needs Dev Note, [Type] Bug, [Type] Regression

#18642 Core Data: Test entity undo reducer.
  packages/core-data/src/reducer.js
  packages/core-data/src/test/reducer.js
Labels: Automated Testing, [Feature] History, [Package] Core data

#18009 Show video preview on cover media settings panel
  packages/block-library/src/cover/edit.js
Labels: Needs Design Feedback, [Block] Cover, [Type] Enhancement

#18446 Updates to Documentation
  docs/contributors/getting-started.md
  docs/designers-developers/developers/tutorials/javascript/js-build-setup.md
Labels: Good First Review, [Type] Documentation
