Repository WordPress/gutenberg, pull requests merged in 2019-03, with the labels that each got.

#14184 RichText: fix wordwise selection on Windows
  packages/editor/src/components/rich-text/index.js
Labels: Accessibility, [Component] Rich Text

#14192 Framework: Update package-lock.json for new Enzyme adapter
  package-lock.json
Labels: Framework

#14177 Notices: Remove inaccurate createNotice sole argument feature
  packages/notices/CHANGELOG.md
Labels: Good First Review, [Package] Notices, [Type] Documentation

#14137 Paste: preserve empty table cells
  packages/block-library/src/table/index.js
  packages/blocks/src/api/raw-handling/utils.js
  test/integration/fixtures/markdown-in.txt
  test/integration/fixtures/markdown-out.html
Labels: Good First Review, [Component] Raw Handling

#14176 Plugin: Remove wp-editor-font stylesheet override
  lib/client-assets.php
Labels: [Component] Plugin

#12559 Bring i18n functionality up to date
  .gitignore
  babel.config.js
  bin/build-plugin-zip.sh
  docs/designers-developers/developers/backward-compatibility/deprecations.md
  gutenberg.php
  languages/README.md
  lib/client-assets.php
  lib/i18n.php
  phpcs.xml.dist
  phpunit/class-i18n-functions-test.php
  phpunit/class-override-script-test.php
Labels: Internationalisation (i18n), [Type] Build Tooling

#14082 Clarify the block editor settings from the post editor settings
  docs/designers-developers/developers/data/data-core-block-editor.md
  docs/designers-developers/developers/data/data-core-editor.md
  packages/block-editor/src/components/provider/index.js
  packages/block-editor/src/index.js
  packages/block-editor/src/store/actions.js
  packages/block-editor/src/store/defaults.js
  packages/block-editor/src/store/reducer.js
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/effects.js
  packages/block-library/src/html/edit.js
  packages/block-library/src/image/edit.js
  packages/block-library/src/paragraph/edit.js
  packages/block-library/src/pullquote/index.js
  packages/edit-post/src/components/header/header-toolbar/index.js
  packages/edit-post/src/components/header/mode-switcher/index.js
  packages/edit-post/src/components/keyboard-shortcuts/index.js
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/options-modal/meta-boxes-section.js
  packages/edit-post/src/components/options-modal/options/enable-custom-fields.js
  packages/edit-post/src/components/text-editor/index.js
  packages/editor/src/components/alignment-toolbar/index.js
  packages/editor/src/components/autosave-monitor/index.js
  packages/editor/src/components/block-alignment-toolbar/index.js
  packages/editor/src/components/block-list/block.js
  packages/editor/src/components/block-list/hover-area.js
  packages/editor/src/components/color-palette/with-color-context.js
  packages/editor/src/components/colors/with-colors.js
  packages/editor/src/components/default-block-appender/index.js
  packages/editor/src/components/default-block-appender/index.native.js
  packages/editor/src/components/font-sizes/font-size-picker.js
  packages/editor/src/components/font-sizes/with-font-sizes.js
  packages/editor/src/components/media-placeholder/index.js
  packages/editor/src/components/page-attributes/check.js
  packages/editor/src/components/page-attributes/template.js
  packages/editor/src/components/post-format/check.js
  packages/editor/src/components/post-locked-modal/index.js
  packages/editor/src/components/post-title/index.js
  packages/editor/src/components/provider/index.js
  packages/editor/src/hooks/align.js
  packages/editor/src/store/actions.js
  packages/editor/src/store/defaults.js
  packages/editor/src/store/reducer.js
  packages/editor/src/store/selectors.js
  packages/editor/src/utils/media-upload/index.js
Labels: Framework

#14200 Add repository.directory linting rule (fixes #13947)
  package-lock.json
  package.json
  packages/docgen/package.json
  packages/npm-package-json-lint-config/CHANGELOG.md
  packages/npm-package-json-lint-config/index.js
  packages/npm-package-json-lint-config/package.json
  packages/scripts/CHANGELOG.md
  packages/scripts/package.json
Labels: Packages, [Type] Code Quality, [Type] Task

#14144 Plugin: Remove deprecated `_wpLoadGutenbergEditor`, `gutenberg` theme supports
  lib/client-assets.php
Labels: [Component] Plugin

#14212 Packages: Add missing expect-puppeteer dependency to e2e-tests package
  package-lock.json
  packages/e2e-tests/package.json
Labels: Packages, [Type] Code Quality

#14164 Rnmobile/refactor rich text sizing code
  packages/block-library/src/heading/edit.native.js
  packages/block-library/src/paragraph/edit.native.js
  packages/editor/src/components/post-title/index.native.js
  packages/editor/src/components/rich-text/index.native.js
Labels: Mobile App Compatibility

#14130 Babel Preset Default: Avoid disabling regenerator option
  packages/babel-preset-default/CHANGELOG.md
  packages/babel-preset-default/index.js
  packages/babel-preset-default/test/__snapshots__/index.js.snap
  packages/scripts/config/webpack.config.js
Labels: [Package] Babel preset, [Package] Scripts, [Type] Build Tooling

#14219 Testing: Await E2E promise interactions
  packages/e2e-tests/plugins/disable-animations.php
  packages/e2e-tests/specs/block-hierarchy-navigation.test.js
  packages/e2e-tests/specs/change-detection.test.js
  packages/e2e-tests/specs/demo.test.js
  packages/e2e-tests/specs/manage-reusable-blocks.test.js
  packages/e2e-tests/specs/taxonomies.test.js
Labels: Automated Testing, [Type] Bug

#13873 Fix: Calendar block: Always show current month for non post types on the editor
  packages/block-library/src/calendar/edit.js
  packages/block-library/src/calendar/index.php
Labels: [Package] Blocks, [Type] Bug

#14229 Fix allowed_block_types regression
  packages/block-editor/src/store/defaults.js
  packages/e2e-tests/plugins/allowed-blocks.php
  packages/e2e-tests/specs/plugins/allowed-blocks.test.js
  packages/editor/src/components/provider/index.js
Labels: [Type] Bug

#14109 Fix: Latest posts: Title is clickable across the full width of the row
  packages/block-library/src/latest-posts/editor.scss
Labels: [Block] Latest Posts, [Type] Bug

#14122 Blocks: Regenerate RSS, Search block fixtures
  packages/e2e-tests/fixtures/blocks/core__rss.html
  packages/e2e-tests/fixtures/blocks/core__rss.json
  packages/e2e-tests/fixtures/blocks/core__rss.parsed.json
  packages/e2e-tests/fixtures/blocks/core__rss.serialized.html
  packages/e2e-tests/fixtures/blocks/core__search.json
  packages/e2e-tests/fixtures/blocks/core__search__custom-text.json
  packages/e2e-tests/fixtures/blocks/core__search__custom-text.parsed.json
  packages/e2e-tests/fixtures/blocks/core__search__custom-text.serialized.html
  test/integration/full-content/server-registered.json
Labels: Automated Testing, Blocks

#14230 Component: date-time: Remove comparison to "now" when testing getMomentDate
  packages/components/src/date-time/test/date.js
Labels: Automated Testing, [Package] Date

#13917 RichText: Fix undo after pattern
  packages/e2e-tests/specs/blocks/__snapshots__/list.test.js.snap
  packages/editor/src/components/rich-text/index.js
  packages/editor/src/components/rich-text/patterns.js
Labels: [Component] Rich Text, [Type] Bug

#13850 RichText: don't use DOM to add line padding
  packages/e2e-tests/specs/__snapshots__/writing-flow.test.js.snap
  packages/e2e-tests/specs/blocks/__snapshots__/list.test.js.snap
  packages/editor/src/components/rich-text/index.js
  packages/rich-text/src/create.js
  packages/rich-text/src/insert-line-break.js
  packages/rich-text/src/test/__snapshots__/to-dom.js.snap
  packages/rich-text/src/test/helpers/index.js
  packages/rich-text/src/to-dom.js
  packages/rich-text/src/to-tree.js
Labels: [Component] Rich Text, [Type] Bug

#14216 Use a central script instead of one per package to generate docs
  bin/update-readmes.js
  package.json
  packages/docgen/bin/cli.js
  packages/docgen/src/index.js
  packages/docgen/src/markdown/formatter.js
  packages/docgen/src/test/formatter-markdown.js
  packages/e2e-test-utils/README.md
  packages/e2e-test-utils/package.json
Labels: [Type] Documentation

#14118 Mobile: Fix pasting in header
  packages/block-library/src/heading/edit.native.js
  packages/editor/src/components/rich-text/index.native.js
Labels: Mobile App Compatibility

#14247 Update: Use escape key press instead of mouse movement to show block toolbar
  packages/e2e-tests/specs/blocks/list.test.js
  packages/e2e-tests/specs/invalid-block.test.js
  packages/e2e-tests/specs/links.test.js
  packages/e2e-tests/specs/plugins/format-api.test.js
  packages/e2e-tests/specs/reusable-blocks.test.js
  packages/e2e-tests/specs/style-variation.test.js
Labels: Automated Testing

#14250 Switch the Travis badge from travis-ci.org to travis-ci.com
  README.md
Labels: [Type] Task

#14136 Update the npm packages release process
  docs/contributors/release.md
Labels: [Type] Documentation

#14254 Add clickBlockToolbarButton end to end test util
  packages/e2e-test-utils/README.md
  packages/e2e-test-utils/src/click-block-toolbar-button.js
  packages/e2e-test-utils/src/index.js
  packages/e2e-tests/specs/blocks/list.test.js
  packages/e2e-tests/specs/invalid-block.test.js
  packages/e2e-tests/specs/links.test.js
  packages/e2e-tests/specs/plugins/format-api.test.js
  packages/e2e-tests/specs/reusable-blocks.test.js
  packages/e2e-tests/specs/style-variation.test.js
Labels: Automated Testing

#14269 element: set up autogenerated API docs
  bin/update-readmes.js
  packages/element/README.md
  packages/element/src/react.js
Labels: Good First Review, [Package] Element, [Type] Documentation

#14244 Testing: Trash existing posts as admin user
  packages/e2e-tests/config/setup-test-framework.js
Labels: Automated Testing

#14268 escape-html: set up autogenerated API docs
  bin/update-readmes.js
  packages/escape-html/README.md
Labels: Good First Review, [Type] Documentation

#14267 html-entities: set up auto-generated API docs
  bin/update-readmes.js
  packages/html-entities/README.md
  packages/html-entities/src/index.js
Labels: Good First Review, [Package] HTML entities, [Type] Documentation

#14265 keycodes: set up auto-generated API docs
  bin/update-readmes.js
  packages/keycodes/README.md
  packages/keycodes/src/index.js
Labels: Good First Review, [Package] Keycodes, [Type] Documentation

#14257 Fix placeholder icon color
  packages/components/src/placeholder/style.scss
Labels: UI Components, [Type] Bug

#14270 Mobile: Avoid adding empty link to text.
  packages/block-library/src/heading/edit.native.js
  packages/editor/src/components/rich-text/index.native.js
  packages/format-library/src/link/modal.native.js
Labels: Mobile App Compatibility

#14288 a11y: set up auto-generated API docs
  bin/update-readmes.js
  packages/a11y/README.md
  packages/a11y/src/index.js
Labels: Good First Review, [Package] A11y, [Type] Documentation

#14286 blob: set up auto-generated API docs
  bin/update-readmes.js
  packages/blob/README.md
Labels: Good First Review, [Package] Blob, [Type] Documentation

#14282 block-library: set up auto-generated API docs
  bin/update-readmes.js
  packages/block-library/README.md
  packages/block-library/src/index.js
Labels: Good First Review, [Package] Block library, [Type] Documentation

#14278 compose: set up auto-generated API docs
  bin/update-readmes.js
  packages/compose/README.md
Labels: Good First Review, [Package] Compose, [Type] Documentation

#14273 dom: set up auto-generated API docs
  bin/update-readmes.js
  packages/dom/README.md
  packages/dom/src/index.js
Labels: Good First Review, [Package] DOM, [Type] Documentation

#14266 i18n: set up auto-generated API docs
  bin/update-readmes.js
  packages/i18n/README.md
  packages/i18n/src/index.js
Labels: Good First Review, [Package] i18n, [Type] Documentation

#14260 Clarify that we should rebase the branch when preparing the npm release branches
  docs/contributors/release.md
Labels: Project Management

#14287 autop: set up auto-generated API docs
  bin/update-readmes.js
  packages/autop/README.md
  packages/autop/src/index.js
Labels: Good First Review, [Package] Autop, [Type] Documentation

#14272 dom-ready: set up autogenerated API docs
  bin/update-readmes.js
  packages/dom-ready/README.md
  packages/dom-ready/src/index.js
Labels: Good First Review, [Package] DOM ready, [Type] Documentation

#14285 block-editor: set up auto-generated API docs
  bin/update-readmes.js
  packages/block-editor/README.md
Labels: Good First Review, [Package] Block editor, [Type] Documentation

#13455 Adding an e2e test verifying simple keyboard navigation through blocks
  packages/e2e-tests/specs/keyboard-navigable-blocks.test.js
Labels: Accessibility, Automated Testing

#13822 Add nested blocks inside cover block
  assets/stylesheets/_z-index.scss
  package-lock.json
  packages/block-library/package.json
  packages/block-library/src/cover/edit.js
  packages/block-library/src/cover/editor.scss
  packages/block-library/src/cover/index.js
  packages/block-library/src/cover/style.scss
  packages/e2e-tests/fixtures/blocks/core__cover.html
  packages/e2e-tests/fixtures/blocks/core__cover.json
  packages/e2e-tests/fixtures/blocks/core__cover.parsed.json
  packages/e2e-tests/fixtures/blocks/core__cover.serialized.html
  packages/e2e-tests/fixtures/blocks/core__cover__video-overlay.html
  packages/e2e-tests/fixtures/blocks/core__cover__video-overlay.json
  packages/e2e-tests/fixtures/blocks/core__cover__video-overlay.parsed.json
  packages/e2e-tests/fixtures/blocks/core__cover__video-overlay.serialized.html
  packages/e2e-tests/fixtures/blocks/core__cover__video.html
  packages/e2e-tests/fixtures/blocks/core__cover__video.json
  packages/e2e-tests/fixtures/blocks/core__cover__video.parsed.json
  packages/e2e-tests/fixtures/blocks/core__cover__video.serialized.html
  packages/editor/src/components/block-mover/style.scss
  post-content.php
Labels: Needs Design Feedback, [Block] Cover, [Package] Blocks, [Type] Enhancement

#14220 rich-text: set up autogenerated API docs
  bin/update-readmes.js
  packages/rich-text/README.md
  packages/rich-text/src/apply-format.js
  packages/rich-text/src/char-at.js
  packages/rich-text/src/create.js
  packages/rich-text/src/get-active-format.js
  packages/rich-text/src/get-selection-end.js
  packages/rich-text/src/get-selection-start.js
  packages/rich-text/src/indent-list-items.js
  packages/rich-text/src/insert-line-separator.js
  packages/rich-text/src/insert-object.js
  packages/rich-text/src/insert.js
  packages/rich-text/src/is-collapsed.js
  packages/rich-text/src/join.js
  packages/rich-text/src/register-format-type.js
  packages/rich-text/src/remove-format.js
  packages/rich-text/src/remove.js
  packages/rich-text/src/slice.js
  packages/rich-text/src/special-characters.js
  packages/rich-text/src/split.js
  packages/rich-text/src/to-dom.js
  packages/rich-text/src/to-html-string.js
  packages/rich-text/src/toggle-format.js
  packages/rich-text/src/unregister-format-type.js
Labels: Good First Review, [Package] Rich text, [Type] Documentation

#14316 Add link to WordPress Support documentation
  docs/readme.md
Labels: [Type] Documentation

#14295 docgen: Generate package docs in parallel
  bin/update-readmes.js
Labels: [Package] docgen

#14225 Add new actions for invalidating resolution caches
  packages/data/CHANGELOG.md
  packages/data/src/store/actions.js
  packages/data/src/store/reducer.js
  packages/data/src/store/test/reducer.js
Labels: [Package] Data, [Type] Enhancement

#14279 blocks: set up auto-generated API docs
  bin/update-readmes.js
  packages/blocks/README.md
Labels: Good First Review, [Package] Blocks, [Type] Documentation

#14275 deprecated: set up auto-generated API docs
  bin/update-readmes.js
  packages/deprecated/README.md
  packages/deprecated/src/index.js
Labels: Good First Review, [Package] Deprecated, [Type] Documentation

#14262 priority-queue: set-up auto-generated API docs
  bin/update-readmes.js
  packages/priority-queue/README.md
  packages/priority-queue/src/index.js
Labels: Good First Review, [Type] Documentation

#14218 shortcode: set up autogenerated API docs
  bin/update-readmes.js
  packages/shortcode/README.md
Labels: Good First Review, [Type] Documentation

#14214 viewport: set up autogenerated API docs in README
  bin/update-readmes.js
  packages/viewport/README.md
  packages/viewport/src/if-viewport-matches.js
  packages/viewport/src/with-viewport-match.js
Labels: Good First Review, [Package] Viewport, [Type] Documentation

#14217 url: set up autogenerated API docs
  bin/update-readmes.js
  packages/url/README.md
  packages/url/src/index.js
Labels: Good First Review, [Package] Url, [Type] Documentation

#14228 redux-routine: set up autogenerated API docs
  bin/update-readmes.js
  packages/redux-routine/README.md
Labels: Good First Review, [Package] Redux Routine, [Type] Documentation

#14276 date: set up auto-generated API docs
  bin/update-readmes.js
  packages/date/README.md
Labels: Good First Review, [Package] Date, [Type] Documentation

#14280 block-serialization-default-parser: set up auto-generated API docs
  bin/update-readmes.js
  packages/block-serialization-default-parser/README.md
  packages/block-serialization-default-parser/src/index.js
Labels: Good First Review, [Type] Documentation

#14233 RichText: collapse toolbar
  packages/components/src/dropdown-menu/index.js
  packages/e2e-tests/specs/adding-inline-tokens.test.js
  packages/e2e-tests/specs/keyboard-navigable-blocks.test.js
  packages/e2e-tests/specs/plugins/__snapshots__/format-api.test.js.snap
  packages/e2e-tests/specs/plugins/format-api.test.js
  packages/editor/src/components/index.js
  packages/editor/src/components/inserter/inline-elements.js
  packages/editor/src/components/inserter/menu.js
  packages/editor/src/components/rich-text/format-toolbar/index.js
  packages/editor/src/components/rich-text/format-toolbar/style.scss
  packages/editor/src/components/rich-text/index.js
  packages/editor/src/components/rich-text/inserter-list-item.js
  packages/format-library/src/code/index.js
  packages/format-library/src/image/index.js
  packages/format-library/src/strikethrough/index.js
Labels: [Component] Rich Text, [Package] Format library, [Type] Enhancement

#14259 Docs: Release: Suggest lighter SVN checkout
  docs/contributors/release.md
Labels: [Type] Documentation

#14263 plugins: set up auto-generated API docs
  bin/update-readmes.js
  packages/plugins/README.md
  packages/plugins/src/api/index.js
  packages/plugins/src/components/plugin-area/index.js
Labels: Good First Review, [Package] Plugins, [Type] Documentation

#14213 wordcount: set up autogenerated API docs
  bin/update-readmes.js
  packages/wordcount/README.md
  packages/wordcount/src/index.js
Labels: Good First Review, [Package] Word count, [Type] Documentation

#14077 Update packages used by eslint plugin to remove warnings
  package-lock.json
  packages/block-library/src/categories/edit.js
  packages/block-library/src/latest-posts/edit.js
  packages/components/src/external-link/index.js
  packages/eslint-plugin/configs/custom.js
  packages/eslint-plugin/package.json
Labels: [Package] ESLint plugin, [Type] Build Tooling

#13511 Try Legacy widget block
  gutenberg.php
  lib/class-wp-rest-widget-updater-controller.php
  lib/client-assets.php
  lib/load.php
  lib/rest-api.php
  packages/block-editor/README.md
  packages/block-editor/src/store/defaults.js
  packages/block-library/README.md
  packages/block-library/src/editor.scss
  packages/block-library/src/index.js
  packages/block-library/src/legacy-widget/WidgetEditDomManager.js
  packages/block-library/src/legacy-widget/WidgetEditHandler.js
  packages/block-library/src/legacy-widget/edit.js
  packages/block-library/src/legacy-widget/editor.scss
  packages/block-library/src/legacy-widget/index.js
  packages/block-library/src/legacy-widget/index.php
  packages/e2e-tests/fixtures/blocks/core__legacy-widget.html
  packages/e2e-tests/fixtures/blocks/core__legacy-widget.json
  packages/e2e-tests/fixtures/blocks/core__legacy-widget.parsed.json
  packages/e2e-tests/fixtures/blocks/core__legacy-widget.serialized.html
  packages/editor/src/components/provider/index.js
Labels: Accessibility, Blocks, REST API Interaction, Widgets

#14339 Update changelog for eslint-plugin
  packages/eslint-plugin/CHANGELOG.md
Labels: [Package] ESLint plugin, [Type] Documentation

#14088 CSS to remove the clipping of the toolbar in RTL languages
  packages/block-library/src/classic/editor.scss
Labels: Internationalisation (i18n), [Block] Classic, [Type] Bug

#14173 added the more tag via the old editor's image
  packages/block-library/src/classic/editor.scss
Labels: [Block] Classic, [Type] Bug

#14344 Set minHeight based on fontSize or style.
  packages/editor/src/components/rich-text/index.native.js
  packages/editor/src/components/rich-text/style.native.scss
Labels: Mobile App Compatibility

#13938 Simplify hierarchical term selector strings
  packages/editor/src/components/post-taxonomies/hierarchical-term-selector.js
Labels: Good First Review, [Type] Copy

#14191 Add: End to end test to verify that when all blocks are removed the default block gets selected
  packages/e2e-test-utils/README.md
  packages/e2e-test-utils/src/index.js
  packages/e2e-test-utils/src/is-in-default-block.js
  packages/e2e-tests/specs/block-deletion.test.js
  packages/e2e-tests/specs/splitting-merging.test.js
Labels: Automated Testing

#14073 Added testcases for isKeyboardEvent in keycodes module
  packages/keycodes/src/test/index.js
Labels: Automated Testing, Good First Review, [Package] Keycodes

#14348 Fix: Quote to heading transform; Add end 2 end tests for the transform.
  packages/block-library/src/quote/index.js
  packages/e2e-tests/specs/blocks/__snapshots__/quote.test.js.snap
  packages/e2e-tests/specs/blocks/quote.test.js
Labels: Automated Testing, Good First Review, [Block] Quote, [Package] Block library, [Type] Bug

#11411 Latest Comments block: use align supports flag + code cleanup
  packages/block-library/src/latest-comments/edit.js
  packages/block-library/src/latest-comments/index.js
  packages/block-library/src/latest-comments/index.php
  packages/e2e-tests/fixtures/blocks/core__rss.html
  packages/e2e-tests/fixtures/blocks/core__rss.serialized.html
  packages/e2e-tests/fixtures/blocks/core__search__custom-text.html
  packages/e2e-tests/fixtures/blocks/core__search__custom-text.serialized.html
  packages/e2e-tests/fixtures/blocks/core__tag-cloud__showTagCounts.html
  packages/e2e-tests/fixtures/blocks/core__tag-cloud__showTagCounts.serialized.html
  test/integration/full-content/server-registered.json
Labels: Good First Review, [Block] Latest Comments, [Type] Code Quality

#13804 ToggleControl allows setting custom classes
  packages/components/src/toggle-control/README.md
  packages/components/src/toggle-control/index.js
Labels: Good First Review, UI Components, [Type] Enhancement

#14347 Edited post-locked-modal button text to be actionable
  packages/editor/src/components/post-locked-modal/index.js
Labels: Good First Review, Needs Copy Review, Needs Design Feedback

#14349 Block library: Remove all test snapshots for blocks
  packages/block-library/src/audio/test/__snapshots__/index.js.snap
  packages/block-library/src/audio/test/index.js
  packages/block-library/src/button/test/__snapshots__/index.js.snap
  packages/block-library/src/button/test/index.js
  packages/block-library/src/classic/test/__snapshots__/index.js.snap
  packages/block-library/src/classic/test/index.js
  packages/block-library/src/code/test/__snapshots__/index.js.snap
  packages/block-library/src/code/test/index.js
  packages/block-library/src/cover/test/__snapshots__/index.js.snap
  packages/block-library/src/cover/test/index.js
  packages/block-library/src/gallery/test/__snapshots__/index.js.snap
  packages/block-library/src/gallery/test/index.js
  packages/block-library/src/heading/test/__snapshots__/index.js.snap
  packages/block-library/src/heading/test/index.js
  packages/block-library/src/html/test/__snapshots__/index.js.snap
  packages/block-library/src/html/test/index.js
  packages/block-library/src/list/test/__snapshots__/index.js.snap
  packages/block-library/src/list/test/index.js
  packages/block-library/src/more/test/__snapshots__/index.js.snap
  packages/block-library/src/more/test/index.js
  packages/block-library/src/nextpage/test/__snapshots__/index.js.snap
  packages/block-library/src/nextpage/test/index.js
  packages/block-library/src/paragraph/test/__snapshots__/index.js.snap
  packages/block-library/src/paragraph/test/index.js
  packages/block-library/src/preformatted/test/__snapshots__/index.js.snap
  packages/block-library/src/preformatted/test/index.js
  packages/block-library/src/pullquote/test/__snapshots__/index.js.snap
  packages/block-library/src/pullquote/test/index.js
  packages/block-library/src/quote/test/__snapshots__/index.js.snap
  packages/block-library/src/quote/test/index.js
  packages/block-library/src/separator/test/__snapshots__/index.js.snap
  packages/block-library/src/separator/test/index.js
  packages/block-library/src/shortcode/test/__snapshots__/index.js.snap
  packages/block-library/src/shortcode/test/index.js
  packages/block-library/src/table/test/__snapshots__/index.js.snap
  packages/block-library/src/table/test/index.js
  packages/block-library/src/test/helpers/index.js
  packages/block-library/src/text-columns/test/__snapshots__/index.js.snap
  packages/block-library/src/text-columns/test/index.js
  packages/block-library/src/verse/test/__snapshots__/index.js.snap
  packages/block-library/src/verse/test/index.js
  packages/block-library/src/video/test/__snapshots__/index.js.snap
  packages/block-library/src/video/test/index.js
Labels: Automated Testing, [Package] Block library, [Type] Code Quality

#13884 Fix: Inserter impossible to collapse panels while searching.
  packages/block-editor/src/components/inserter/menu.js
Labels: Good First Review, [Component] Inserter, [Type] Bug

#14340 Make taxonomies test relieable
  packages/e2e-tests/specs/taxonomies.test.js
Labels: Automated Testing

#14271 edit-post: set up autogenerated API docs
  bin/update-readmes.js
  packages/edit-post/README.md
  packages/edit-post/src/components/block-settings-menu/plugin-block-settings-menu-item.js
  packages/edit-post/src/components/header/plugin-more-menu-item/index.js
  packages/edit-post/src/components/header/plugin-sidebar-more-menu-item/index.js
  packages/edit-post/src/components/sidebar/plugin-post-publish-panel/index.js
  packages/edit-post/src/components/sidebar/plugin-post-status-info/index.js
  packages/edit-post/src/components/sidebar/plugin-pre-publish-panel/index.js
  packages/edit-post/src/components/sidebar/plugin-sidebar/index.js
Labels: Good First Review, [Type] Documentation

#14353 Plugin: Remove postinstall step
  .travis.yml
  package.json
Labels: [Component] Plugin

#13981 Add check to the merge function in heading and paragraph blocks
  packages/block-library/src/heading/index.js
  packages/block-library/src/paragraph/index.js
Labels: Block Conversion

#13909 Update internationalization process with complete updated example.
  docs/designers-developers/developers/internationalization.md
  packages/i18n/README.md
Labels: [Type] Documentation

#14374 E2E Test Utils: Add missing babel/runtime dependency
  package-lock.json
  packages/e2e-test-utils/package.json
Labels: Packages, [Package] E2E Test Utils, [Type] Bug

#14352 Build: Only prompt clean if unclean
  bin/build-plugin-zip.sh
Labels: [Type] Build Tooling

#14382 Docs: Fix i18n tool names
  docs/designers-developers/developers/internationalization.md
Labels: [Type] Documentation

#14370 Add withRegistry HigherOrderComponent
  packages/block-editor/src/components/provider/index.js
  packages/data/src/components/with-registry/index.js
  packages/data/src/index.js
Labels: [Package] Data

#13499 Fix block validation error message
  packages/blocks/README.md
  packages/blocks/src/api/validation.js
Labels: Block API, Good First Review

#14020 Fix: Global inserter does not validates block insert restrictions
  packages/block-editor/src/components/inserter/menu.js
Labels: Good First Review, Priority High, [Component] Inserter, [Type] Bug

#13877 Teach build and start commands to use Webpack default if none is provided
  packages/scripts/CHANGELOG.md
  packages/scripts/README.md
  packages/scripts/scripts/build.js
  packages/scripts/scripts/start.js
  packages/scripts/utils/config.js
  packages/scripts/utils/index.js
Labels: [Package] Scripts, [Type] Build Tooling

#14338 Rnmobile/clean up styles
  packages/block-library/src/heading/style.native.scss
  packages/block-library/src/paragraph/style.native.scss
  packages/editor/src/components/post-title/style.native.scss
Labels: Mobile App Compatibility

#14388 Add missing module entry point to notices package.json file
  packages/notices/package.json
Labels: Packages, [Package] Notices

#14380 Plugin: Remove PHP functions slated for 5.3 removal
  lib/load.php
  lib/register.php
Labels: [Component] Plugin, [Release] Do Not Punt

#14386 [Mobile]Fix placeholder position of block appender
  packages/editor/src/components/default-block-appender/index.native.js
  packages/editor/src/components/default-block-appender/style.native.scss
Labels: Mobile App Compatibility

#14317 [Mobile]Update caret position on insert link
  packages/editor/src/components/rich-text/index.native.js
  packages/format-library/src/link/modal.native.js
Labels: Mobile App Compatibility

#13948 RichText: change value to have separate keys for line and object formats
  packages/block-editor/src/components/rich-text/format-edit.js
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/components/rich-text/index.native.js
  packages/format-library/src/image/index.js
  packages/rich-text/README.md
  packages/rich-text/src/apply-format.js
  packages/rich-text/src/apply-format.native.js
  packages/rich-text/src/change-list-type.js
  packages/rich-text/src/concat.js
  packages/rich-text/src/create.js
  packages/rich-text/src/get-active-object.js
  packages/rich-text/src/get-last-child-index.js
  packages/rich-text/src/get-parent-line-index.js
  packages/rich-text/src/indent-list-items.js
  packages/rich-text/src/index.js
  packages/rich-text/src/insert-line-separator.js
  packages/rich-text/src/insert-object.js
  packages/rich-text/src/insert.js
  packages/rich-text/src/join.js
  packages/rich-text/src/normalise-formats.js
  packages/rich-text/src/normalise-formats.native.js
  packages/rich-text/src/outdent-list-items.js
  packages/rich-text/src/remove-format.js
  packages/rich-text/src/remove-format.native.js
  packages/rich-text/src/replace.js
  packages/rich-text/src/slice.js
  packages/rich-text/src/split.js
  packages/rich-text/src/test/__snapshots__/to-dom.js.snap
  packages/rich-text/src/test/apply-format.js
  packages/rich-text/src/test/change-list-type.js
  packages/rich-text/src/test/concat.js
  packages/rich-text/src/test/create.js
  packages/rich-text/src/test/get-active-object.js
  packages/rich-text/src/test/get-last-child-index.js
  packages/rich-text/src/test/get-parent-line-index.js
  packages/rich-text/src/test/helpers/index.js
  packages/rich-text/src/test/indent-list-items.js
  packages/rich-text/src/test/insert-line-separator.js
  packages/rich-text/src/test/insert-object.js
  packages/rich-text/src/test/insert.js
  packages/rich-text/src/test/join.js
  packages/rich-text/src/test/outdent-list-items.js
  packages/rich-text/src/test/replace.js
  packages/rich-text/src/test/slice.js
  packages/rich-text/src/test/split.js
  packages/rich-text/src/test/to-dom.js
  packages/rich-text/src/to-dom.js
  packages/rich-text/src/to-html-string.js
  packages/rich-text/src/to-tree.js
  packages/rich-text/src/toggle-format.js
Labels: [Component] Rich Text, [Package] Rich text

#14409 Ensure sourcemaps published to npm contain safe relative paths
  bin/packages/build.js
Labels: Packages, [Type] Bug, [Type] Build Tooling

#14194 Components: update Button readme to add design guidelines
  packages/components/src/button/README.md
Labels: [Component] Button, [Type] Documentation, [Type] Enhancement

#10815 Document outline: Use links not buttons
  packages/editor/src/components/document-outline/index.js
  packages/editor/src/components/document-outline/item.js
  packages/editor/src/components/document-outline/style.scss
  packages/editor/src/components/document-outline/test/__snapshots__/index.js.snap
  packages/editor/src/components/document-outline/test/index.js
  packages/editor/src/components/table-of-contents/index.js
  packages/editor/src/components/table-of-contents/panel.js
Labels: Accessibility, Needs Decision

#14054 Add: End 2 end test to InnerBlocks allowed block restrictions
  packages/e2e-test-utils/CHANGELOG.md
  packages/e2e-test-utils/README.md
  packages/e2e-test-utils/src/get-all-block-inserter-item-titles.js
  packages/e2e-test-utils/src/index.js
  packages/e2e-test-utils/src/open-all-block-inserter-categories.js
  packages/e2e-test-utils/src/open-global-block-inserter.js
  packages/e2e-test-utils/src/search-for-block.js
  packages/e2e-tests/plugins/inner-blocks-allowed-blocks.php
  packages/e2e-tests/plugins/inner-blocks-allowed-blocks/index.js
  packages/e2e-tests/specs/blocks/__snapshots__/media-text.test.js.snap
  packages/e2e-tests/specs/blocks/columns.test.js
  packages/e2e-tests/specs/blocks/media-text.test.js
  packages/e2e-tests/specs/plugins/inner-blocks-allowed-blocks.test.js
Labels: Automated Testing, [Component] Inserter

#13569 Plugin: Remove replace_editor filter, extend core editor
  docs/designers-developers/developers/backward-compatibility/deprecations.md
  gutenberg.php
  lib/client-assets.php
  lib/load.php
  lib/widgets.php
  packages/e2e-tests/specs/plugins/meta-boxes.test.js
  phpunit/class-core-block-theme-test.php
Labels: Good First Review, Priority High, [Component] Plugin

#14425 Add docs for React hooks
  packages/element/README.md
  packages/element/src/react.js
Labels: [Package] Element, [Type] Documentation

#14418 Align Spinner circles in RTL locales
  packages/components/src/spinner/style.scss
Labels: Internationalisation (i18n)

#14404 [RNmobile] Bring Placeholder text back working on Heading blocks
  packages/block-editor/src/components/rich-text/index.native.js
  packages/block-library/src/heading/edit.native.js
  packages/block-library/src/heading/editor.native.scss
Labels: Mobile App Compatibility

#14432 Improve handling of transpiled packages in unit tests
  package.json
  packages/block-serialization-default-parser/test/index.js
  packages/components/src/disabled/test/index.js
  test/unit/jest.config.js
  test/unit/jest.config.json
Labels: Automated Testing, [Type] Code Quality

#14168 Scripts: use default babel if none is found in project
  bin/packages/build.js
  bin/packages/get-babel-config.js
  package.json
  packages/babel-preset-default/index.js
  packages/scripts/config/webpack.config.js
  packages/scripts/utils/config.js
Labels: [Package] Scripts, [Type] Build Tooling

#14415 Use only one button for Set featured image and image preview.
  packages/editor/src/components/post-featured-image/index.js
Labels: Accessibility, Media

#14439 Docs: Add anchor link to section in scripts readme
  packages/scripts/README.md
Labels: [Type] Documentation

#14224 Edit Post: Add block management modal
  docs/designers-developers/developers/data/data-core-blocks.md
  docs/designers-developers/developers/data/data-core-edit-post.md
  packages/blocks/src/store/selectors.js
  packages/blocks/src/store/test/selectors.js
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/manage-blocks-modal/category.js
  packages/edit-post/src/components/manage-blocks-modal/checklist.js
  packages/edit-post/src/components/manage-blocks-modal/index.js
  packages/edit-post/src/components/manage-blocks-modal/manager.js
  packages/edit-post/src/components/manage-blocks-modal/show-all.js
  packages/edit-post/src/components/manage-blocks-modal/style.scss
  packages/edit-post/src/components/options-modal/style.scss
  packages/edit-post/src/editor.js
  packages/edit-post/src/plugins/index.js
  packages/edit-post/src/plugins/manage-blocks-menu-item/index.js
  packages/edit-post/src/store/actions.js
  packages/edit-post/src/store/defaults.js
  packages/edit-post/src/store/reducer.js
  packages/edit-post/src/store/test/reducer.js
  packages/edit-post/src/style.scss
  packages/editor/src/store/defaults.js
Labels: Accessibility, Blocks, Needs Copy Review, Priority High

#14129 Update/e2e tests options
  packages/scripts/scripts/test-e2e.js
  packages/scripts/utils/index.js
  packages/scripts/utils/process.js
Labels: Automated Testing, [Type] Enhancement

#14435 Add new prop to rich text to disable the iOS managed formatting controls
  packages/block-editor/src/components/rich-text/index.native.js
  packages/editor/src/components/post-title/index.native.js
Labels: Mobile App Compatibility

#14390 Fix: Regression: Template lock option is not taken into consideration
  packages/e2e-tests/plugins/cpt-locking.php
  packages/e2e-tests/specs/plugins/__snapshots__/cpt-locking.test.js.snap
  packages/e2e-tests/specs/plugins/cpt-locking.test.js
  packages/editor/src/components/provider/index.js
Labels: Automated Testing, Priority High, Regression, Templates API, [Release] Do Not Punt, [Type] Bug

#14449 RichText: remove selection change listener during composition
  packages/block-editor/src/components/rich-text/editable.js
  packages/block-editor/src/components/rich-text/index.js
Labels: Regression, [Component] Rich Text, [Release] Do Not Punt

#14448 Input Interaction: fix buffer for the triggering of multi-select
  packages/dom/src/dom.js
  packages/e2e-tests/specs/__snapshots__/multi-block-selection.test.js.snap
  packages/e2e-tests/specs/multi-block-selection.test.js
Labels: Good First Review, Input Interaction, [Package] DOM

#14451 Docs: Fix typos
  docs/contributors/release.md
  docs/designers-developers/developers/tutorials/format-api/1-register-format.md
  docs/designers-developers/developers/tutorials/format-api/2-toolbar-button.md
  docs/designers-developers/developers/tutorials/javascript/loading-javascript.md
  docs/designers-developers/developers/tutorials/javascript/scope-your-code.md
Labels: [Type] Documentation

#14450 Input Interaction: only consider selection at edge if directed towards it
  packages/dom/src/dom.js
  packages/e2e-tests/specs/__snapshots__/multi-block-selection.test.js.snap
  packages/e2e-tests/specs/multi-block-selection.test.js
Labels: Input Interaction, [Package] DOM

#14153 Components: update CheckboxControl readme
  packages/components/src/checkbox-control/README.md
Labels: Needs Accessibility Feedback, Needs Design Feedback, Needs Technical Feedback, [Type] Documentation, [Type] Enhancement

#14145 Try using left borders for hover + selection states
  assets/stylesheets/_variables.scss
  assets/stylesheets/_z-index.scss
  packages/block-editor/src/components/block-list/style.scss
  packages/block-editor/src/components/block-toolbar/style.scss
  packages/block-editor/src/components/warning/style.scss
  packages/block-library/src/block/edit-panel/style.scss
  packages/block-library/src/block/indicator/style.scss
  packages/block-library/src/classic/editor.scss
  packages/edit-post/src/components/visual-editor/style.scss
  packages/editor/src/components/post-permalink/style.scss
  packages/editor/src/components/post-title/style.scss
Labels: Needs Accessibility Feedback, Needs Design Feedback, [Release] Do Not Punt, [Type] Enhancement

#14453 Input Interaction: allow outer vertical edge to be selected
  packages/block-editor/src/components/writing-flow/index.js
  packages/e2e-tests/specs/__snapshots__/multi-block-selection.test.js.snap
  packages/e2e-tests/specs/multi-block-selection.test.js
Labels: Input Interaction

#14128 DOM: Limit single tabbable radio input by name
  packages/dom/CHANGELOG.md
  packages/dom/src/tabbable.js
  packages/dom/src/test/tabbable.js
Labels: Accessibility, [Package] DOM

#14465 Add MenuItemsChoice design documentation
  packages/components/src/menu-items-choice/README.md
Labels: Needs Design Feedback, [Type] Documentation

#14466 Add MenuGroup design documentation
  packages/components/src/menu-group/README.md
Labels: Needs Design Feedback, [Type] Documentation

#14322 Fix: use checkValidity() to perform the validation in RangeControl
  packages/block-library/src/columns/index.js
  packages/block-library/src/cover/edit.js
  packages/block-library/src/gallery/edit.js
  packages/block-library/src/latest-comments/edit.js
  packages/block-library/src/latest-posts/edit.js
  packages/block-library/src/rss/edit.js
  packages/block-library/src/text-columns/index.js
  packages/components/CHANGELOG.md
  packages/components/src/query-controls/index.js
  packages/components/src/range-control/index.js
  packages/components/src/range-control/test/index.js
Labels: [Package] Components, [Release] Do Not Punt, [Type] Bug

#14471 Fix typo on hooks package readme.
  packages/hooks/README.md
Labels: [Type] Documentation

#14470 Updated text in tooltip on block transformations to include style
  packages/block-editor/src/components/block-switcher/index.js
  packages/e2e-tests/specs/style-variation.test.js
Labels: Good First Review, [Type] Copy

#14365 Fix: Pasting captions without an image fails
  packages/block-library/src/image/index.js
  packages/block-library/src/image/test/index.js
Labels: Good First Review, [Block] Image, [Component] Raw Handling

#14444 Components: Add onFocusLoss option to withFocusReturn
  packages/components/src/higher-order/with-focus-return/README.md
  packages/components/src/higher-order/with-focus-return/context.js
  packages/components/src/higher-order/with-focus-return/index.js
  packages/components/src/higher-order/with-focus-return/test/index.js
  packages/components/src/index.js
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/sidebar/index.js
Labels: Accessibility, General Interface, UI Components, [Release] Do Not Punt

#14440 Docs: Update JavaScript build and setup with wp-scripts updates
  docs/designers-developers/developers/tutorials/javascript/js-build-setup.md
Labels: [Release] Do Not Punt, [Type] Documentation

#14430 Raw handling: update strikethrough
  packages/blocks/src/api/raw-handling/phrasing-content-reducer.js
  packages/blocks/src/api/raw-handling/phrasing-content.js
Labels: Good First Review

#14045 [Enhancement] Add ability to transform audio shortcodes to audio blocks
  packages/block-library/src/audio/index.js
Labels: Good First Review, Shortcodes, [Block] Audio, [Type] Enhancement

#9963 Add greater than symbol to attribute escaping
  packages/element/src/test/index.js
  packages/element/src/test/serialize.js
  packages/escape-html/CHANGELOG.md
  packages/escape-html/README.md
  packages/escape-html/package.json
  packages/escape-html/src/escape-greater.js
  packages/escape-html/src/index.js
  packages/escape-html/src/test/index.js
Labels: [Package] HTML entities, [Type] Bug

#14021 Begin adding support for the `prefers-reduced-motion` setting, Add a11y notes to the animation docs.
  assets/stylesheets/_animations.scss
  assets/stylesheets/_mixins.scss
  docs/designers-developers/designers/animation.md
  packages/components/src/animate/style.scss
  packages/components/src/modal/style.scss
  packages/edit-post/src/components/fullscreen-mode/style.scss
  packages/edit-post/src/components/layout/style.scss
Labels: Accessibility, [Type] Documentation

#14482 Docs: Include clarification about using @wordpress/babel-plugin-import-jsx-pragma with @wordpress/babel-preset-default
  packages/babel-plugin-import-jsx-pragma/README.md
  packages/babel-preset-default/CHANGELOG.md
Labels: [Type] Documentation

#14460 Improve openAllBlockInserterCategories function;
  packages/e2e-test-utils/src/open-all-block-inserter-categories.js
  packages/e2e-tests/specs/plugins/inner-blocks-allowed-blocks.test.js
Labels: Automated Testing

#14485 Fix the webpack shortcode config
  webpack.config.js
Labels: [Type] Bug

#14484 Docs: Polish @wordpress/scripts README and related tutorial
  docs/designers-developers/developers/tutorials/javascript/js-build-setup.md
  packages/scripts/README.md
Labels: [Type] Documentation

#14488 Docs: Update @wordpress/scripts with language improvements
  docs/designers-developers/developers/tutorials/javascript/js-build-setup.md
  packages/scripts/README.md
Labels: [Type] Documentation

#12441 Fix missing CSS in the Classic Block
  packages/block-library/src/classic/editor.scss
Labels: [Block] Classic, [Type] Bug

#14468 Exculde test files when rebuilding packages
  bin/packages/watch.js
Labels: [Type] Build Tooling, [Type] Enhancement

#14291 Update: Use new action REPLACE_INNER_BLOCKS for InnerBlocks replacement
  docs/designers-developers/developers/data/data-core-block-editor.md
  packages/block-editor/src/components/inner-blocks/index.js
  packages/block-editor/src/store/actions.js
  packages/block-editor/src/store/reducer.js
  packages/block-editor/src/store/test/actions.js
  packages/block-editor/src/store/test/reducer.js
Labels: [Package] Block editor, [Type] Enhancement

#14490 Minor: Formatting fix in MenuGroup Readme
  packages/components/src/menu-group/README.md
Labels: Good First Review, [Type] Documentation

#13899 Core Columns Block - adds ability to vertically align all the columns
  packages/block-editor/README.md
  packages/block-editor/src/components/block-vertical-alignment-toolbar/README.md
  packages/block-editor/src/components/block-vertical-alignment-toolbar/icons.js
  packages/block-editor/src/components/block-vertical-alignment-toolbar/index.js
  packages/block-editor/src/components/block-vertical-alignment-toolbar/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/block-vertical-alignment-toolbar/test/index.js
  packages/block-editor/src/components/index.js
  packages/block-library/CHANGELOG.md
  packages/block-library/src/columns/column.js
  packages/block-library/src/columns/deprecated.js
  packages/block-library/src/columns/edit.js
  packages/block-library/src/columns/editor.scss
  packages/block-library/src/columns/index.js
  packages/block-library/src/columns/style.scss
  packages/block-library/src/columns/utils.js
  packages/e2e-tests/specs/block-hierarchy-navigation.test.js
Labels: [Block] Columns, [Package] Block library, [Package] Editor, [Type] Enhancement

#14391 [React Native] request cancel image upload
  packages/block-library/src/image/edit.native.js
Labels: Media, Mobile App Compatibility

#14504 Panel: Add design documentation to readme
  packages/components/src/panel/README.md
Labels: [Type] Documentation

#14516 Added missing reference to lodash
  docs/designers-developers/developers/block-api/block-deprecation.md
Labels: [Type] Documentation

#14523 Update plugin version to 5.3
  gutenberg.php
  package-lock.json
  package.json
Labels: Project Management

#14510 Blocks API: Add default implementation for save setting
  docs/designers-developers/developers/block-api/block-edit-save.md
  docs/designers-developers/developers/tutorials/block-tutorial/creating-dynamic-blocks.md
  packages/block-library/src/archives/index.js
  packages/block-library/src/calendar/index.js
  packages/block-library/src/categories/index.js
  packages/block-library/src/latest-comments/index.js
  packages/block-library/src/latest-posts/index.js
  packages/block-library/src/legacy-widget/index.js
  packages/block-library/src/rss/index.js
  packages/block-library/src/search/index.js
  packages/block-library/src/tag-cloud/index.js
  packages/blocks/src/api/registration.js
  packages/blocks/src/api/test/registration.js
Labels: Block API, Block Directory, [Type] Enhancement

#14501 Try: Improve appearance of hover on colored backgrounds.
  packages/block-editor/src/components/block-list/style.scss
  packages/editor/src/components/post-title/style.scss
Labels: Needs Design Feedback, [Type] Enhancement

#14530 Docs: Clarify usage of @wordpress/babel-plugin-import-jsx-pragma with WordPress Babel preset
  packages/babel-plugin-import-jsx-pragma/README.md
Labels: [Package] Babel plugin import JSX pragma, [Type] Documentation

#14537 Update WP trunk package changelog
  packages/components/CHANGELOG.md
  packages/e2e-test-utils/CHANGELOG.md
  packages/escape-html/CHANGELOG.md
  packages/eslint-plugin/CHANGELOG.md
  packages/scripts/CHANGELOG.md
Labels: Project Management

#14538 Update package versions; Update unreleased change log versions.
  packages/a11y/package.json
  packages/annotations/package.json
  packages/api-fetch/package.json
  packages/autop/package.json
  packages/babel-plugin-import-jsx-pragma/package.json
  packages/babel-preset-default/package.json
  packages/blob/package.json
  packages/block-editor/package.json
  packages/block-library/package.json
  packages/block-serialization-default-parser/package.json
  packages/blocks/package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/compose/package.json
  packages/core-data/package.json
  packages/data/package.json
  packages/date/package.json
  packages/deprecated/package.json
  packages/docgen/package.json
  packages/dom-ready/package.json
  packages/dom/package.json
  packages/e2e-test-utils/CHANGELOG.md
  packages/e2e-test-utils/package.json
  packages/e2e-tests/package.json
  packages/edit-post/package.json
  packages/edit-widgets/package.json
  packages/editor/package.json
  packages/element/package.json
  packages/escape-html/CHANGELOG.md
  packages/escape-html/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/format-library/package.json
  packages/hooks/package.json
  packages/html-entities/package.json
  packages/i18n/package.json
  packages/keycodes/package.json
  packages/list-reusable-blocks/package.json
  packages/notices/package.json
  packages/nux/package.json
  packages/plugins/package.json
  packages/priority-queue/package.json
  packages/redux-routine/package.json
  packages/rich-text/package.json
  packages/scripts/CHANGELOG.md
  packages/scripts/package.json
  packages/shortcode/package.json
  packages/url/package.json
  packages/viewport/package.json
  packages/wordcount/package.json
Labels: Project Management
