Repository WordPress/gutenberg, pull requests merged in 2019-02, with the labels that each got.

#13159 Fix the editor save keyboard shortcut not working in code editor view
  packages/edit-post/CHANGELOG.md
  packages/edit-post/src/components/text-editor/index.js
  packages/edit-post/src/components/visual-editor/index.js
  packages/editor/CHANGELOG.md
  packages/editor/src/components/block-settings-menu/index.js
  packages/editor/src/components/global-keyboard-shortcuts/save-shortcut.js
  packages/editor/src/components/global-keyboard-shortcuts/text-editor-shortcuts.js
  packages/editor/src/components/global-keyboard-shortcuts/visual-editor-shortcuts.js
  packages/editor/src/components/index.js
Labels: Code Editor, [Type] Bug

#13623 Increase bottom padding on gallery image caption
  packages/block-library/src/gallery/style.scss
Labels: Blocks, [Block] Gallery

#13543 Fix Google Docs table paste
  packages/blocks/src/api/raw-handling/phrasing-content-reducer.js
  packages/blocks/src/api/raw-handling/test/phrasing-content-reducer.js
  packages/blocks/src/api/raw-handling/test/utils.js
  packages/blocks/src/api/raw-handling/utils.js
  test/integration/blocks-raw-handling.spec.js
  test/integration/fixtures/google-docs-table-in.html
  test/integration/fixtures/google-docs-table-out.html
Labels: Good First Review, [Component] Raw Handling

#8814 [Enhancement] Introduce left and right float alignment options to latest posts block
  packages/block-library/src/latest-posts/edit.js
Labels: [Block] Latest Posts

#12199 Remove unintentional right-margin on last odd-item.
  packages/block-library/src/columns/editor.scss
  packages/block-library/src/columns/style.scss
Labels: [Block] Columns, [Type] Bug

#13612 Mobile bottom sheet component
  packages/block-library/src/image/edit.native.js
  packages/editor/src/components/index.native.js
  packages/editor/src/components/mobile/bottom-sheet/button.native.js
  packages/editor/src/components/mobile/bottom-sheet/cell.native.js
  packages/editor/src/components/mobile/bottom-sheet/index.native.js
  packages/editor/src/components/mobile/bottom-sheet/styles.scss
Labels: Mobile App Compatibility

#12941 Try alternate list item jump fix.
  packages/editor/src/editor-styles.scss
Labels: [Type] Enhancement

#13633 Mobile: BottomSheet design tweaks
  packages/block-library/src/image/edit.native.js
  packages/editor/src/components/mobile/bottom-sheet/cell.native.js
  packages/editor/src/components/mobile/bottom-sheet/index.native.js
  packages/editor/src/components/mobile/bottom-sheet/styles.scss
Labels: [Component] Mobile

#13630 Add Hide teaser help text in More block.
  packages/block-library/src/more/edit.js
  packages/block-library/src/more/index.js
  packages/block-library/src/more/test/__snapshots__/edit.js.snap
Labels: Accessibility, [Type] Copy

#13628 Remaps some font names so that they work in iOS.
  packages/block-library/src/code/edit.native.js
  packages/block-library/src/code/theme.android.scss
  packages/block-library/src/code/theme.native.scss
  packages/block-library/src/nextpage/editor.native.scss
  packages/editor/src/components/plain-text/index.native.js
  packages/editor/src/components/plain-text/style.native.scss
  packages/editor/src/components/rich-text/index.native.js
  packages/editor/src/components/rich-text/style.native.scss
Labels: Mobile App Compatibility

#12955 Fix/issue 12501 menu item aria label
  packages/components/src/menu-item/index.js
  packages/components/src/menu-item/test/__snapshots__/index.js.snap
  packages/components/src/menu-item/test/index.js
  packages/edit-post/src/components/header/plugin-more-menu-item/test/__snapshots__/index.js.snap
Labels: Accessibility, [Type] Enhancement

#13264 Fix: Font size picker max width on mobile
  packages/components/src/font-size-picker/style.scss
Labels: Needs Design Feedback, [Component] Mobile, [Package] Editor, [Type] Enhancement

#13644 Remove "we" from messages
  packages/block-library/src/embed/embed-placeholder.js
  packages/block-library/src/embed/embed-preview.js
Labels: Needs Copy Review, [Type] Copy

#12747 12647 fix css color picker
  packages/components/src/color-picker/style.scss
Labels: Needs Design Feedback, [Package] Components, [Type] Bug

#7687 [Image Block] Set default values of the width and height input fields according to the actual image dimensions
  packages/block-library/src/image/edit.js
Labels: [Block] Image, [Type] Bug

#13602 Fix: Allow years lower than 1970 in DateTime component.
  packages/components/CHANGELOG.md
  packages/components/src/date-time/time.js
Labels: [Package] Components, [Type] Bug

#13631 Alt image setting
  packages/block-library/src/image/edit.native.js
  packages/components/src/base-control/index.native.js
  packages/components/src/index.native.js
  packages/components/src/textarea-control/index.native.js
  packages/editor/src/components/mobile/bottom-sheet/cell.native.js
  packages/editor/src/components/mobile/bottom-sheet/index.native.js
  packages/editor/src/components/mobile/bottom-sheet/styles.scss
Labels: [Component] Mobile

#13578 Update edit-save documentation
  docs/designers-developers/developers/block-api/block-edit-save.md
Labels: [Type] Documentation

#13639 Add a mobile minimum size for form fields
  packages/block-library/src/code/editor.scss
  packages/block-library/src/html/editor.scss
  packages/block-library/src/preformatted/theme.scss
  packages/components/src/form-token-field/style.scss
  packages/edit-post/src/components/text-editor/style.scss
  packages/edit-post/src/style.scss
  packages/editor/src/components/post-text-editor/style.scss
  packages/editor/src/components/url-input/style.scss
Labels: Blocks, Code Editor, [Component] Mobile

#13604 Workflow: Add repository CODEOWNERS file
  .github/CODEOWNERS
Labels: Project Management

#13576 Plugin: Remove jQuery heartbeat-to-hooks proxying
  lib/client-assets.php
Labels: [Component] Plugin

#13667 Add more reviewers to CODEOWNERS.md file
  .github/CODEOWNERS
Labels: Project Management, [Type] Documentation

#13671 chore: Fix: Linting problem in modal example code
  packages/components/src/modal/README.md
Labels: [Type] Documentation, [Type] Enhancement

#12185 Disable navigation block for text mode.
  packages/editor/src/components/block-navigation/dropdown.js
Labels: Accessibility, Code Editor

#13669 Make the modal title styling consistent
  packages/components/src/modal/style.scss
  packages/edit-post/src/components/keyboard-shortcut-help-modal/index.js
  packages/edit-post/src/components/keyboard-shortcut-help-modal/style.scss
  packages/edit-post/src/components/keyboard-shortcut-help-modal/test/__snapshots__/index.js.snap
  packages/edit-post/src/components/options-modal/index.js
  packages/edit-post/src/components/options-modal/style.scss
  packages/edit-post/src/components/options-modal/test/__snapshots__/index.js.snap
Labels: UI Components, [Type] Code Quality, [Type] Enhancement

#13593 Mention how 'core/notices' data store is accessed
  packages/notices/README.md
Labels: [Package] Notices, [Type] Documentation

#13548 [RNMobile] Use RichText component on Title block
  packages/block-library/src/code/edit.native.js
  packages/block-library/src/code/theme.android.scss
  packages/block-library/src/code/theme.native.scss
  packages/block-library/src/image/edit.native.js
  packages/block-library/src/nextpage/editor.native.scss
  packages/editor/src/components/plain-text/index.native.js
  packages/editor/src/components/plain-text/style.native.scss
  packages/editor/src/components/post-title/index.native.js
  packages/editor/src/components/rich-text/index.native.js
  packages/editor/src/components/rich-text/style.native.scss
Labels: Mobile App Compatibility

#13675 Project: Avoid additional native-file code owner notification
  .github/CODEOWNERS
Labels: Project Management

#12758 Try: Restore block mover for floats.
  assets/stylesheets/_z-index.scss
  packages/editor/src/components/block-list/block.js
  packages/editor/src/components/block-list/style.scss
  packages/editor/src/components/block-mover/style.scss
Labels: [Type] Enhancement

#13662 Introduce the concept of registry selectors
  packages/core-data/src/selectors.js
  packages/data/src/factory.js
  packages/data/src/index.js
  packages/data/src/namespace-store.js
  packages/data/src/test/registry.js
Labels: [Package] Data

#12385 FormToggle: component styles for external use
  packages/components/src/form-toggle/style.scss
Labels: Good First Review, Needs Design Feedback, [Package] Components, [Type] Enhancement

#13181 Update sidebar spacing
  packages/components/src/base-control/style.scss
  packages/edit-post/src/components/sidebar/settings-sidebar/style.scss
Labels: General Interface, [Type] Enhancement

#13677 [RNMobile] Do not use hard coded `fontFamily` in Image block
  packages/block-library/src/image/edit.native.js
  packages/block-library/src/image/styles.native.scss
Labels: Mobile App Compatibility

#11788 Use block icons in media placeholders
  packages/block-library/src/audio/edit.js
  packages/block-library/src/audio/icon.js
  packages/block-library/src/audio/index.js
  packages/block-library/src/audio/test/__snapshots__/index.js.snap
  packages/block-library/src/cover/icon.js
  packages/block-library/src/cover/index.js
  packages/block-library/src/cover/test/__snapshots__/index.js.snap
  packages/block-library/src/file/edit.js
  packages/block-library/src/file/icon.js
  packages/block-library/src/file/index.js
  packages/block-library/src/gallery/edit.js
  packages/block-library/src/gallery/icon.js
  packages/block-library/src/gallery/index.js
  packages/block-library/src/gallery/test/__snapshots__/index.js.snap
  packages/block-library/src/image/edit.js
  packages/block-library/src/image/icon.js
  packages/block-library/src/image/index.js
  packages/block-library/src/media-text/icon.js
  packages/block-library/src/media-text/index.js
  packages/block-library/src/media-text/media-container-icon.js
  packages/block-library/src/media-text/media-container.js
  packages/block-library/src/video/edit.js
  packages/block-library/src/video/icon.js
  packages/block-library/src/video/index.js
  packages/block-library/src/video/test/__snapshots__/index.js.snap
  packages/components/src/placeholder/style.scss
Labels: Media, Needs Design Feedback

#13544 Plugin: Remove lingering references to integrated classic editor
  docs/designers-developers/developers/backward-compatibility/deprecations.md
  docs/designers-developers/developers/backward-compatibility/meta-box.md
  gutenberg.php
  lib/client-assets.php
  lib/register.php
  phpunit/class-admin-test.php
Labels: Good First Review, [Component] Plugin

#13583 Add search block
  lib/load.php
  packages/block-library/CHANGELOG.md
  packages/block-library/src/editor.scss
  packages/block-library/src/index.js
  packages/block-library/src/search/edit.js
  packages/block-library/src/search/editor.scss
  packages/block-library/src/search/index.js
  packages/block-library/src/search/index.php
  packages/block-library/src/search/style.scss
  packages/block-library/src/search/theme.scss
  packages/block-library/src/style.scss
  packages/block-library/src/theme.scss
  test/integration/full-content/fixtures/core__search.html
  test/integration/full-content/fixtures/core__search.json
  test/integration/full-content/fixtures/core__search.parsed.json
  test/integration/full-content/fixtures/core__search.serialized.html
  test/integration/full-content/fixtures/core__search__custom-text.html
  test/integration/full-content/fixtures/core__search__custom-text.json
  test/integration/full-content/fixtures/core__search__custom-text.parsed.json
  test/integration/full-content/fixtures/core__search__custom-text.serialized.html
Labels: Accessibility, Blocks, New Block, Widgets

#13703 Add a developer tutorial for displaying notices
  docs/designers-developers/developers/tutorials/notices/README.md
  docs/designers-developers/developers/tutorials/notices/block-editor-notice.png
  docs/designers-developers/developers/tutorials/notices/classic-editor-notice.png
  docs/designers-developers/developers/tutorials/readme.md
  docs/manifest.json
  docs/toc.json
Labels: [Type] Documentation, [Type] Enhancement

#13711 Docs: Fix typo - numbered list (testing-overview.md)
  docs/contributors/testing-overview.md
Labels: [Type] Documentation

#11984 render_block_core_latest_posts() use get_posts() instead of wp_get_recen…
  packages/block-library/src/latest-posts/index.php
Labels: [Block] Latest Posts

#13659 Fix rounded corners in block icons
  packages/block-library/src/archives/index.js
  packages/block-library/src/button/index.js
  packages/block-library/src/columns/index.js
  packages/block-library/src/embed/icons.js
  packages/block-library/src/file/icon.js
  packages/block-library/src/gallery/icon.js
  packages/block-library/src/gallery/test/__snapshots__/index.js.snap
  packages/block-library/src/latest-comments/index.js
  packages/block-library/src/table/index.js
  packages/block-library/src/video/icon.js
  packages/block-library/src/video/test/__snapshots__/index.js.snap
Labels: Blocks, Needs Design Feedback

#13724 Add a few contributors
  CONTRIBUTORS.md
Labels: [Type] Documentation

#13699 [RNMobile] Make placeholder text working on RichText
  packages/editor/src/components/rich-text/index.native.js
Labels: Mobile App Compatibility

#12911 Editor: Fix second welcome tip instructs the user to open a control that's already open.
  packages/edit-post/src/components/header/index.js
Labels: NUX, Needs Copy Review, [Type] Copy

#13120 Update Wording of Sticky Checkbox
  packages/editor/src/components/post-sticky/index.js
Labels: Needs Copy Review, [Type] Copy

#13734 CODEOWNERS: Add RichText component to Rich Text section
  .github/CODEOWNERS
Labels: Project Management

#13738 Adds placeholder coloring support for mobile's rich text component.
  packages/editor/src/components/rich-text/index.native.js
Labels: Mobile App Compatibility, [Type] Enhancement

#13714 Switch a bunch of documentation titles to title case
  docs/designers-developers/developers/internationalization.md
  docs/designers-developers/developers/packages.md
  docs/designers-developers/developers/tutorials/format-api/1-register-format.md
  docs/designers-developers/developers/tutorials/format-api/2-toolbar-button.md
  docs/designers-developers/developers/tutorials/format-api/3-apply-format.md
  docs/designers-developers/developers/tutorials/format-api/README.md
  docs/designers-developers/developers/tutorials/javascript/scope-your-code.md
  docs/designers-developers/developers/tutorials/javascript/troubleshooting.md
  docs/designers-developers/developers/tutorials/javascript/versions-and-building.md
  docs/designers-developers/developers/tutorials/sidebar-tutorial/plugin-sidebar-0.md
  docs/designers-developers/developers/tutorials/sidebar-tutorial/plugin-sidebar-1-up-and-running.md
  docs/designers-developers/developers/tutorials/sidebar-tutorial/plugin-sidebar-3-register-meta.md
  docs/designers-developers/developers/tutorials/sidebar-tutorial/plugin-sidebar-4-initialize-input.md
  docs/designers-developers/developers/tutorials/sidebar-tutorial/plugin-sidebar-5-update-meta.md
  docs/designers-developers/developers/tutorials/sidebar-tutorial/plugin-sidebar-6-finishing-touches.md
  docs/manifest.json
Labels: [Type] Bug, [Type] Documentation

#13617 Try menu appear animation & start work on handbook
  docs/designers-developers/designers/animation.md
  docs/manifest.json
  docs/toc.json
  packages/components/CHANGELOG.md
  packages/components/src/animate/README.md
  packages/components/src/animate/index.js
  packages/components/src/animate/style.scss
  packages/components/src/index.js
  packages/components/src/popover/index.js
  packages/components/src/popover/test/__snapshots__/index.js.snap
  packages/components/src/style.scss
  packages/components/src/tooltip/index.js
  packages/e2e-test-utils/src/click-on-more-menu-item.js
  packages/e2e-test-utils/src/index.js
  packages/e2e-test-utils/src/search-for-block.js
  packages/e2e-test-utils/src/switch-editor-mode-to.js
  packages/e2e-test-utils/src/transform-block-to.js
  packages/e2e-test-utils/src/wait-for-animation.js
  packages/e2e-tests/specs/block-deletion.test.js
  packages/e2e-tests/specs/block-hierarchy-navigation.test.js
  packages/e2e-tests/specs/editor-modes.test.js
  packages/e2e-tests/specs/font-size-picker.test.js
  packages/e2e-tests/specs/invalid-block.test.js
  packages/e2e-tests/specs/links.test.js
  packages/e2e-tests/specs/nux.test.js
  packages/e2e-tests/specs/plugins/annotations.test.js
  packages/e2e-tests/specs/plugins/container-blocks.test.js
  packages/e2e-tests/specs/reusable-blocks.test.js
Labels: Needs Design Feedback, [Type] Documentation

#9440 Babel Makepot: Translator comments have been extracted from the file
  packages/babel-plugin-makepot/CHANGELOG.md
  packages/babel-plugin-makepot/src/index.js
  packages/babel-plugin-makepot/test/index.js
  packages/i18n/tools/pot-to-php.js
Labels: [Package] Babel plugin makepot, i18n

#13629 Add JavaScript Documentation around setting up Webpack, Babel, and Building
  docs/designers-developers/developers/tutorials/javascript/js-build-setup.md
  docs/designers-developers/developers/tutorials/javascript/versions-and-building.md
  docs/manifest.json
  docs/toc.json
Labels: [Type] Documentation

#13728 [Mobile] UI for size image settings
  packages/block-library/src/image/edit.native.js
  packages/editor/src/components/mobile/bottom-sheet/cell.native.js
  packages/editor/src/components/mobile/bottom-sheet/index.native.js
  packages/editor/src/components/mobile/bottom-sheet/picker-cell.native.js
  packages/editor/src/components/mobile/bottom-sheet/styles.native.scss
  packages/editor/src/components/mobile/picker/index.android.js
  packages/editor/src/components/mobile/picker/index.ios.js
  packages/editor/src/components/mobile/picker/styles.android.scss
Labels: Mobile App Compatibility

#13746 Fix typo
  packages/url/src/index.js
Labels: [Type] Documentation

#13742 Update JSDoc
  packages/rich-text/src/concat.js
Labels: [Component] Rich Text, [Type] Documentation

#13733 Update meta box docs
  docs/designers-developers/developers/backward-compatibility/meta-box.md
Labels: [Component] Meta Boxes, [Type] Documentation

#13722 Add registry-aware controls
  packages/core-data/src/controls.js
  packages/data/src/factory.js
  packages/data/src/index.js
  packages/data/src/namespace-store.js
  packages/data/src/plugins/controls/index.js
  packages/data/src/plugins/controls/test/index.js
Labels: Framework, [Package] Data

#13744 Escape HTML characters
  packages/autop/src/index.js
Labels: Good First Review, [Type] Documentation

#13766 Update codeowners
  .github/CODEOWNERS
Labels: Project Management

#13752 RichText Readme - Adding missing props to save function inside ES5 Example
  packages/editor/src/components/rich-text/README.md
Labels: [Type] Documentation

#13574 Update Gutenberg lifecycle clarity and grammar
  docs/designers-developers/key-concepts.md
Labels: [Type] Documentation

#13745 Use example tag
  packages/e2e-test-utils/src/mocks/set-up-response-mocking.js
Labels: Good First Review, [Type] Documentation

#13769 Add a plugin to disable the CSS animation for more stable e2e tests
  packages/e2e-test-utils/src/activate-plugin.js
  packages/e2e-test-utils/src/click-on-more-menu-item.js
  packages/e2e-test-utils/src/index.js
  packages/e2e-test-utils/src/search-for-block.js
  packages/e2e-test-utils/src/switch-editor-mode-to.js
  packages/e2e-test-utils/src/transform-block-to.js
  packages/e2e-test-utils/src/wait-for-animation.js
  packages/e2e-tests/config/setup-test-framework.js
  packages/e2e-tests/plugins/disable-animations.php
  packages/e2e-tests/specs/block-deletion.test.js
  packages/e2e-tests/specs/block-hierarchy-navigation.test.js
  packages/e2e-tests/specs/editor-modes.test.js
  packages/e2e-tests/specs/font-size-picker.test.js
  packages/e2e-tests/specs/invalid-block.test.js
  packages/e2e-tests/specs/links.test.js
  packages/e2e-tests/specs/nux.test.js
  packages/e2e-tests/specs/plugins/annotations.test.js
  packages/e2e-tests/specs/plugins/container-blocks.test.js
  packages/e2e-tests/specs/reusable-blocks.test.js
Labels: Automated Testing

#13768 [Mobile]Release 0.3.5 updates
  packages/editor/src/components/post-title/index.native.js
  packages/editor/src/components/rich-text/index.native.js
Labels: Mobile App Compatibility

#13779 Disable animations completely in e2e tests
  packages/e2e-tests/plugins/disable-animations.php
Labels: Automated Testing

#12998 Make editor p tag "go with the flow".
  packages/editor/src/editor-styles.scss
Labels: Custom Editor Styles, Needs Design Feedback

#13719 Remove stroke from CSS rules that colorize plugin icons
  packages/edit-post/src/components/header/pinned-plugins/style.scss
Labels: General Interface, Needs Design Feedback

#13697 RichText: Format boundaries without DOM
  docs/designers-developers/developers/tutorials/block-tutorial/introducing-attributes-and-editable-fields.md
  docs/designers-developers/faq.md
  docs/designers-developers/glossary.md
  lib/packages-dependencies.php
  package-lock.json
  packages/block-library/src/button/editor.scss
  packages/block-library/src/button/test/__snapshots__/index.js.snap
  packages/block-library/src/cover/editor.scss
  packages/block-library/src/gallery/editor.scss
  packages/block-library/src/heading/editor.scss
  packages/block-library/src/heading/test/__snapshots__/index.js.snap
  packages/block-library/src/list/editor.scss
  packages/block-library/src/list/test/__snapshots__/index.js.snap
  packages/block-library/src/paragraph/editor.scss
  packages/block-library/src/paragraph/test/__snapshots__/index.js.snap
  packages/block-library/src/preformatted/test/__snapshots__/index.js.snap
  packages/block-library/src/pullquote/editor.scss
  packages/block-library/src/pullquote/test/__snapshots__/index.js.snap
  packages/block-library/src/quote/test/__snapshots__/index.js.snap
  packages/block-library/src/text-columns/editor.scss
  packages/block-library/src/text-columns/test/__snapshots__/index.js.snap
  packages/block-library/src/verse/test/__snapshots__/index.js.snap
  packages/dom/CHANGELOG.md
  packages/dom/src/dom.js
  packages/e2e-test-utils/src/get-edited-post-content.js
  packages/e2e-tests/specs/__snapshots__/rich-text.test.js.snap
  packages/e2e-tests/specs/__snapshots__/undo.test.js.snap
  packages/e2e-tests/specs/__snapshots__/writing-flow.test.js.snap
  packages/e2e-tests/specs/links.test.js
  packages/e2e-tests/specs/navigable-toolbar.test.js
  packages/e2e-tests/specs/plugins/annotations.test.js
  packages/e2e-tests/specs/rich-text.test.js
  packages/e2e-tests/specs/splitting-merging.test.js
  packages/e2e-tests/specs/writing-flow.test.js
  packages/editor/CHANGELOG.md
  packages/editor/package.json
  packages/editor/src/components/rich-text/editable.js
  packages/editor/src/components/rich-text/index.js
  packages/editor/src/components/rich-text/style.scss
  packages/editor/src/components/rich-text/tinymce.js
  packages/editor/src/components/writing-flow/index.js
  packages/rich-text/CHANGELOG.md
  packages/rich-text/README.md
  packages/rich-text/src/apply-format.js
  packages/rich-text/src/create.js
  packages/rich-text/src/get-active-format.js
  packages/rich-text/src/get-active-formats.js
  packages/rich-text/src/special-characters.js
  packages/rich-text/src/test/__snapshots__/to-dom.js.snap
  packages/rich-text/src/test/apply-format.js
  packages/rich-text/src/test/create.js
  packages/rich-text/src/test/get-active-format.js
  packages/rich-text/src/test/helpers/index.js
  packages/rich-text/src/test/to-dom.js
  packages/rich-text/src/to-dom.js
  packages/rich-text/src/to-tree.js
Labels: [Component] Rich Text, [Package] Rich text

#12963 Datepicker: Allow null value for currentDate on mounting
  packages/components/CHANGELOG.md
  packages/components/src/date-time/README.md
  packages/components/src/date-time/date.js
  packages/components/src/date-time/test/date.js
Labels: Priority High, [Package] Date

#13781 Use codetabs to label ESNext code as such
  packages/components/src/button/README.md
Labels: [Type] Documentation

#13808 Update test filename to match renamed source code filename
  packages/eslint-plugin/rules/__tests__/dependency-group.js
Labels: [Type] Code Quality

#12981 Require an initial click on embed previews for interactivity
  packages/block-library/src/embed/editor.scss
  packages/block-library/src/embed/embed-preview.js
  packages/components/src/sandbox/index.js
Labels: [Block] Embed

#13025 Reduce paragraph block CSS specificity
  packages/block-library/src/paragraph/style.scss
Labels: Needs Design Feedback, [Block] Paragraph

#13756 ESLint Plugin: Add rule valid-sprintf
  packages/block-library/src/embed/settings.js
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/README.md
  packages/eslint-plugin/configs/custom.js
  packages/eslint-plugin/docs/rules/valid-sprintf.md
  packages/eslint-plugin/rules/__tests__/valid-sprintf.js
  packages/eslint-plugin/rules/valid-sprintf.js
  packages/i18n/src/test/index.js
Labels: Internationalisation (i18n), [Package] ESLint plugin

#13750 Mobile: Remove size settings
  packages/block-library/src/image/edit.native.js
Labels: Mobile App Compatibility

#13817 Assign default font and font size styles to the notice component
  packages/components/src/notice/style.scss
Labels: Needs Design Feedback, [Package] Notices

#13694 Update release docs to document the need for a temporary brach
  docs/contributors/release.md
Labels: [Type] Documentation

#13785 ESLint Plugin: Restrict tolerances as fixable error
  packages/annotations/src/store/index.js
  packages/block-library/src/gallery/edit.js
  packages/block-library/src/gallery/gallery-image.js
  packages/block-library/src/latest-comments/index.js
  packages/components/src/draggable/index.js
  packages/components/src/higher-order/navigate-regions/index.js
  packages/components/src/modal/header.js
  packages/components/src/navigable-container/container.js
  packages/components/src/navigable-container/menu.js
  packages/components/src/navigable-container/tabbable.js
  packages/components/src/responsive-wrapper/index.js
  packages/components/src/server-side-render/index.js
  packages/components/src/slot-fill/test/slot.js
  packages/e2e-test-utils/src/create-url.js
  packages/e2e-test-utils/src/is-current-url.js
  packages/e2e-test-utils/src/visit-admin-page.js
  packages/e2e-tests/specs/adding-inline-tokens.test.js
  packages/e2e-tests/specs/manage-reusable-blocks.test.js
  packages/edit-post/src/components/fullscreen-mode/test/index.js
  packages/edit-post/src/components/header/feature-toggle/index.js
  packages/edit-post/src/components/header/fullscreen-mode-close/index.js
  packages/edit-post/src/components/header/options-menu-item/index.js
  packages/edit-post/src/components/header/post-publish-button-or-toggle.js
  packages/edit-post/src/components/header/test/index.js
  packages/edit-post/src/components/header/writing-menu/index.js
  packages/edit-post/src/components/sidebar/index.js
  packages/edit-post/src/components/sidebar/post-status/index.js
  packages/edit-post/src/components/sidebar/post-taxonomies/taxonomy-panel.js
  packages/edit-post/src/components/sidebar/settings-sidebar/index.js
  packages/edit-post/src/hooks/components/media-upload/index.js
  packages/edit-post/src/plugins/keyboard-shortcuts-help-menu-item/index.js
  packages/edit-post/src/store/index.js
  packages/editor/src/components/block-drop-zone/index.js
  packages/editor/src/components/block-inspector/index.js
  packages/editor/src/components/block-list/block-html.js
  packages/editor/src/components/block-toolbar/index.js
  packages/editor/src/components/multi-selection-inspector/index.js
  packages/editor/src/components/post-permalink/index.js
  packages/editor/src/components/post-publish-panel/index.js
  packages/editor/src/components/post-publish-panel/maybe-post-format-panel.js
  packages/editor/src/components/post-publish-panel/postpublish.js
  packages/editor/src/components/post-publish-panel/prepublish.js
  packages/editor/src/components/post-taxonomies/check.js
  packages/editor/src/components/post-taxonomies/index.js
  packages/editor/src/components/post-visibility/index.js
  packages/editor/src/components/post-visibility/label.js
  packages/editor/src/components/post-visibility/utils.js
  packages/editor/src/components/provider/index.js
  packages/editor/src/components/server-side-render/index.js
  packages/editor/src/components/skip-to-selected-block/index.js
  packages/editor/src/editor-styles/ast/stringify/index.js
  packages/editor/src/store/actions.js
  packages/editor/src/store/index.js
  packages/editor/src/utils/media-upload/media-upload.js
  packages/eslint-plugin/rules/__tests__/dependency-group.js
  packages/eslint-plugin/rules/dependency-group.js
  packages/is-shallow-equal/test/index.js
  packages/wordcount/src/test/index.test.js
Labels: [Package] ESLint plugin, [Type] Code Quality

#13782 Stop displaying FontSizePicker dropdown when there are no fonts.
  packages/components/src/font-size-picker/index.js
Labels: [Block] Paragraph, [Type] Enhancement

#13818 Fix recursion in sync routine.
  packages/redux-routine/CHANGELOG.md
  packages/redux-routine/src/runtime.js
  packages/redux-routine/src/test/index.js
Labels: [Package] Redux Routine, [Type] Bug

#13721 Try: Show background and increased opacity on disabled switcher
  packages/editor/src/components/block-switcher/style.scss
Labels: Accessibility, Needs Accessibility Feedback, Needs Design Feedback, [Type] Enhancement

#13635 Try: Add animation to sidebar.
  packages/components/src/animate/README.md
  packages/components/src/animate/index.js
  packages/components/src/animate/style.scss
  packages/e2e-test-utils/src/find-sidebar-panel-with-title.js
  packages/edit-post/src/components/layout/style.scss
  packages/edit-post/src/components/sidebar/index.js
Labels: General Interface

#13824 Fix: Impossible to set empty array on editor-font-sizes.
  lib/client-assets.php
Labels: [Type] Bug, [Type] WP Core Bug

#13825 Check if thumbnail_url is set in getPhotoHtml
  packages/block-library/src/embed/util.js
Labels: [Block] Embed

#13546 WIP: make shift+enter work in lists
  packages/e2e-tests/specs/blocks/__snapshots__/list.test.js.snap
  packages/e2e-tests/specs/blocks/list.test.js
  packages/editor/src/components/rich-text/index.js
  packages/rich-text/src/index.js
  packages/rich-text/src/insert-line-break.js
Labels: [Component] Rich Text, [Package] Rich text

#13832 List Block: Do not split on line breaks when multiple blocks are transformed
  packages/block-library/src/list/index.js
  packages/e2e-tests/specs/blocks/__snapshots__/list.test.js.snap
  packages/e2e-tests/specs/blocks/list.test.js
Labels: Good First Review, [Block] List, [Type] Enhancement

#13821 Restore more specific CSS for paragraph block custom color classes
  packages/block-library/src/paragraph/style.scss
Labels: [Block] Paragraph, [Type] Bug

#13753 Mobile: Implementing `Clear All Settings` button on Image Settings
  packages/block-library/src/image/edit.native.js
  packages/block-library/src/image/styles.native.scss
Labels: Mobile App Compatibility

#13705 Mobile - Remove unnecessary forceUpdate
  packages/editor/src/components/rich-text/index.native.js
Labels: Mobile App Compatibility

#13248 Enhancing Quote block styling for different text alignments
  packages/block-library/src/quote/theme.scss
Labels: Needs Design Feedback, [Block] Quote

#13820 Project: Update code owners (Parser modules, RichText component)
  .github/CODEOWNERS
Labels: Project Management

#13815 Mobile: Fix BottomSheet TextInput Cell alignment issue for RTL layout.
  packages/editor/src/components/mobile/bottom-sheet/cell.native.js
  packages/editor/src/components/mobile/bottom-sheet/styles.native.scss
Labels: Mobile App Compatibility

#13830 Gallery: translate string, not results of sprintf
  packages/block-library/src/gallery/edit.js
Labels: Good First Review, Internationalisation (i18n)

#13767 Fix icon size regression in Switcher
  packages/editor/src/components/block-switcher/index.js
Labels: [Type] Bug, [Type] Enhancement

#12959 Fix/issue 12033 url label
  packages/edit-post/src/components/sidebar/post-link/index.js
Labels: [Component] Permalink, [Type] Enhancement

#13848 Remove the limit of 3 keywords for the block registration
  docs/designers-developers/developers/block-api/block-registration.md
  packages/blocks/src/api/registration.js
  packages/blocks/src/api/test/registration.js
Labels: Block API, [Type] Enhancement

#13844 Do not render font size picker when no font sizes are available and custom font sizes are disabled
  packages/components/src/font-size-picker/index.js
Labels: Good First Review, [Package] Components, [Type] Bug

#13846 Quote Block: Remove left padding from quote block when its centred
  packages/block-library/src/quote/theme.scss
Labels: Good First Review, [Block] Quote, [Type] Bug

#13732 Add background color to menu items being hovered
  assets/stylesheets/_mixins.scss
  packages/components/src/autocomplete/style.scss
  packages/components/src/font-size-picker/style.scss
  packages/components/src/menu-group/style.scss
  packages/components/src/menu-item/style.scss
  packages/components/src/panel/style.scss
  packages/editor/src/components/block-settings-menu/style.scss
Labels: Accessibility, [Type] Enhancement

#13758 FlatTermSelector: Set Correct Loading State
  packages/editor/src/components/post-taxonomies/flat-term-selector.js
Labels: General Interface, Good First Review, [Type] Bug

#13854 Project: Add styles and project management groups to CODEOWNERS file
  .github/CODEOWNERS
Labels: Project Management

#13800 Fixed Component URLInput not honouring className
  packages/editor/src/components/url-input/README.md
  packages/editor/src/components/url-input/index.js
Labels: Good First Review, [Type] Enhancement

#13614 Make notices push down content
  assets/stylesheets/_z-index.scss
  packages/components/src/notice/list.js
  packages/components/src/notice/test/list.js
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/layout/style.scss
  packages/editor/src/components/block-list/style.scss
  packages/editor/src/components/editor-notices/index.js
  packages/editor/src/components/editor-notices/test/index.js
Labels: [Package] Notices, [Type] Enhancement

#13590 Try to add a min-width to embeds.
  packages/block-library/src/embed/editor.scss
Labels: [Block] Embed

#12624 Editor: Avoid scheduling autosave if same edit reference as last completion
  packages/editor/src/components/autosave-monitor/index.js
  packages/editor/src/components/autosave-monitor/test/index.js
Labels: Priority High, [Component] Saving, [Type] Bug

#13470 Plugin: Deprecate gutenberg_can_edit_* functions
  docs/designers-developers/developers/backward-compatibility/deprecations.md
  gutenberg.php
  lib/register.php
  phpunit/class-admin-test.php
Labels: [Component] Plugin

#13834 Fix: missing className on latest comments block
  packages/block-library/src/latest-comments/index.php
Labels: Good First Review, [Block] Latest Comments, [Package] Block library, [Type] Bug

#13772 Add calendar block v1
  lib/load.php
  packages/block-library/src/calendar/edit.js
  packages/block-library/src/calendar/index.js
  packages/block-library/src/calendar/index.php
  packages/block-library/src/calendar/style.scss
  packages/block-library/src/index.js
  packages/block-library/src/style.scss
  test/integration/full-content/fixtures/core__calendar.html
  test/integration/full-content/fixtures/core__calendar.json
  test/integration/full-content/fixtures/core__calendar.parsed.json
  test/integration/full-content/fixtures/core__calendar.serialized.html
Labels: Blocks, Needs Accessibility Feedback, Needs Design Feedback, Widgets

#13871 RichText: remove obsolete rule from stylesheet
  packages/editor/src/components/rich-text/style.scss
Labels: [Type] Code Quality, [Type] Enhancement

#13129 Add end 2 end test tag creation
  packages/e2e-test-utils/src/find-sidebar-panel-toggle-button-with-title.js
  packages/e2e-test-utils/src/find-sidebar-panel-with-title.js
  packages/e2e-test-utils/src/index.js
  packages/e2e-tests/specs/new-post-default-content.test.js
  packages/e2e-tests/specs/plugins/meta-boxes.test.js
  packages/e2e-tests/specs/taxonomies.test.js
Labels: Automated Testing

#13867 Remove unused line height style for mce-content-body
  packages/editor/src/components/rich-text/style.scss
  packages/editor/src/editor-styles.scss
Labels: [Package] Editor

#13670 Rename default block styles to "Default"
  packages/block-library/src/button/index.js
  packages/block-library/src/pullquote/index.js
  packages/block-library/src/quote/index.js
  packages/block-library/src/separator/index.js
  packages/block-library/src/table/index.js
Labels: Blocks

#13656 Mobile: Implemented media options sheet
  packages/block-library/src/image/edit.native.js
  packages/editor/src/components/index.native.js
  packages/editor/src/components/media-placeholder/index.native.js
  packages/editor/src/components/media-placeholder/styles.native.scss
  packages/editor/src/components/mobile/bottom-sheet/index.native.js
  packages/editor/src/components/mobile/picker/index.android.js
Labels: Mobile App Compatibility

#13609 Shortcode block: Change source of `text` attribute to `html`
  packages/block-library/src/shortcode/index.js
Labels: Shortcodes, [Component] Raw Handling

#13874 Implement setRef for post-title in Gutenberg Mobile.
  packages/editor/src/components/post-title/index.native.js
  packages/editor/src/components/rich-text/index.native.js
Labels: Mobile App Compatibility, [Component] Mobile

#13876 Run npm audit fix to get rid of vulnerabilities
  lib/client-assets.php
  package-lock.json
  package.json
  packages/a11y/package.json
  packages/annotations/package.json
  packages/api-fetch/package.json
  packages/autop/package.json
  packages/babel-plugin-import-jsx-pragma/package.json
  packages/babel-plugin-makepot/package.json
  packages/babel-preset-default/package.json
  packages/blob/package.json
  packages/block-library/package.json
  packages/block-serialization-default-parser/package.json
  packages/blocks/package.json
  packages/components/package.json
  packages/compose/package.json
  packages/core-data/package.json
  packages/custom-templated-path-webpack-plugin/package.json
  packages/data/package.json
  packages/date/package.json
  packages/deprecated/package.json
  packages/dom-ready/package.json
  packages/dom/package.json
  packages/e2e-test-utils/package.json
  packages/e2e-tests/package.json
  packages/edit-post/package.json
  packages/editor/package.json
  packages/element/package.json
  packages/escape-html/package.json
  packages/format-library/package.json
  packages/hooks/package.json
  packages/html-entities/package.json
  packages/i18n/package.json
  packages/is-shallow-equal/package.json
  packages/jest-console/package.json
  packages/keycodes/package.json
  packages/library-export-default-webpack-plugin/package.json
  packages/list-reusable-blocks/package.json
  packages/notices/package.json
  packages/nux/package.json
  packages/plugins/package.json
  packages/postcss-themes/package.json
  packages/priority-queue/package.json
  packages/redux-routine/package.json
  packages/rich-text/package.json
  packages/shortcode/package.json
  packages/token-list/package.json
  packages/url/package.json
  packages/viewport/package.json
  packages/wordcount/package.json
Labels: [Type] Build Tooling

#11209 Always check selection range when creating undo levels
  packages/editor/src/components/rich-text/index.js
Labels: [Component] Rich Text, [Type] Bug

#8554 Navigate regions landmarks style and position improvements
  assets/stylesheets/_z-index.scss
  packages/components/src/higher-order/navigate-regions/style.scss
  packages/edit-post/src/components/layout/style.scss
  packages/edit-post/src/components/sidebar/style.scss
Labels: Accessibility

#13853 Documentation: update install commands and babel config
  docs/designers-developers/developers/tutorials/javascript/js-build-setup.md
Labels: [Type] Documentation

#13324 Add feature flags for Phase 2
  docs/designers-developers/developers/feature-flags.md
  docs/manifest.json
  docs/toc.json
  package-lock.json
  package.json
  packages/e2e-tests/config/gutenberg-phase.js
  packages/e2e-tests/jest.config.js
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/README.md
  packages/eslint-plugin/configs/custom.js
  packages/eslint-plugin/docs/rules/gutenberg-phase.md
  packages/eslint-plugin/rules/__tests__/gutenberg-phase.js
  packages/eslint-plugin/rules/gutenberg-phase.js
  test/unit/config/gutenberg-phase.js
  test/unit/jest.config.json
  webpack.config.js
Labels: Framework, [Type] Build Tooling, [Type] Task

#13856 Add API docs to e2e-test-utils package
  packages/e2e-test-utils/README.md
Labels: [Type] Documentation

#13889 Only expose the select function in registry selectors
  packages/core-data/src/selectors.js
  packages/data/src/namespace-store.js
  packages/data/src/test/registry.js
Labels: [Package] Data

#13897 Fix small regression introduced in the region navigation styles
  packages/components/src/higher-order/navigate-regions/style.scss
Labels: Accessibility, [Type] Bug

#7875 Blocks: Tag Cloud
  lib/load.php
  packages/block-library/src/editor.scss
  packages/block-library/src/index.js
  packages/block-library/src/tag-cloud/edit.js
  packages/block-library/src/tag-cloud/editor.scss
  packages/block-library/src/tag-cloud/index.js
  packages/block-library/src/tag-cloud/index.php
  test/integration/full-content/fixtures/core__tag-cloud.html
  test/integration/full-content/fixtures/core__tag-cloud.json
  test/integration/full-content/fixtures/core__tag-cloud.parsed.json
  test/integration/full-content/fixtures/core__tag-cloud.serialized.html
  test/integration/full-content/fixtures/core__tag-cloud__showTagCounts.html
  test/integration/full-content/fixtures/core__tag-cloud__showTagCounts.json
  test/integration/full-content/fixtures/core__tag-cloud__showTagCounts.parsed.json
  test/integration/full-content/fixtures/core__tag-cloud__showTagCounts.serialized.html
  test/integration/full-content/server-registered.json
Labels: Blocks, Needs Accessibility Feedback, Needs Design Feedback, Widgets

#13896 RichText: don't set selection during selectionchange
  packages/e2e-tests/specs/__snapshots__/rich-text.test.js.snap
  packages/e2e-tests/specs/rich-text.test.js
  packages/editor/src/components/rich-text/index.js
  packages/rich-text/src/to-dom.js
Labels: [Component] Rich Text

#13869 Fix issue with mover colors in dark themes.
  packages/editor/src/components/block-mover/style.scss
Labels: [Type] Bug, [Type] Enhancement

#13833 RichText: Fix browser formatting buttons
  packages/editor/src/components/index.js
  packages/editor/src/components/rich-text/index.js
  packages/editor/src/components/rich-text/input-event.js
  packages/format-library/src/bold/index.js
  packages/format-library/src/italic/index.js
  packages/format-library/src/underline/index.js
Labels: Browser Issues, [Component] Rich Text, [Package] Format library, [Type] Bug

#13737 WIP: Add inline image resizing UI
  lib/packages-dependencies.php
  package-lock.json
  packages/components/src/index.js
  packages/components/src/positioned-at-selection/index.js
  packages/editor/src/components/rich-text/editable.js
  packages/editor/src/components/rich-text/index.js
  packages/format-library/package.json
  packages/format-library/src/image/index.js
  packages/format-library/src/image/style.scss
  packages/format-library/src/link/inline.js
  packages/format-library/src/style.scss
Labels: [Package] Format library

#13625 Plugin: Extract block editor styles replacement as filter
  lib/client-assets.php
  phpunit/class-extend-styles-test.php
Labels: [Component] Plugin

#13551 Decode permalinks with URL encoding
  packages/edit-post/src/components/sidebar/post-link/index.js
  packages/editor/src/components/post-permalink/index.js
  packages/editor/src/components/post-publish-panel/postpublish.js
  packages/url/src/index.js
Labels: Good First Review, Internationalisation (i18n)

#13906 Slightly improve documentation navigation
  docs/readme.md
Labels: [Type] Documentation

#13777 Have a image placeholder while image size is being calculated.
  packages/block-library/src/image/edit.native.js
Labels: Mobile App Compatibility, [Component] Mobile

#13764 Media upload change thumb on progress
  packages/block-library/src/image/edit.native.js
  packages/editor/src/components/mobile/bottom-sheet/index.native.js
Labels: Mobile App Compatibility

#13294 onReplace: select the last block
  packages/editor/src/store/reducer.js
  packages/editor/src/store/test/reducer.js
Labels: Input Interaction, [Component] Raw Handling

#12249 Use format-library in gutenberg-mobile
  packages/block-library/src/heading/edit.native.js
  packages/block-library/src/paragraph/edit.native.js
  packages/editor/src/components/index.native.js
  packages/editor/src/components/rich-text/format-toolbar/index.native.js
  packages/editor/src/components/rich-text/index.native.js
  packages/editor/src/components/rich-text/shortcut.native.js
  packages/editor/src/components/url-input/index.native.js
  packages/format-library/src/default-formats.js
  packages/format-library/src/default-formats.native.js
  packages/format-library/src/index.js
  packages/format-library/src/link/button.native.js
  packages/format-library/src/link/index.native.js
  packages/format-library/src/link/inline.js
  packages/format-library/src/link/modal.native.js
  packages/format-library/src/link/modal.native.scss
  packages/format-library/src/link/utils.js
  packages/rich-text/src/apply-format.native.js
  packages/rich-text/src/get-active-format.native.js
  packages/rich-text/src/normalise-formats.native.js
  packages/rich-text/src/remove-format.native.js
Labels: Mobile App Compatibility

#13920 Fixed typo in theme-support.md
  docs/designers-developers/developers/themes/theme-support.md
Labels: [Type] Documentation

#13912 Bootstrap the widgets page playground
  .eslintrc.js
  .github/CODEOWNERS
  docs/manifest.json
  gutenberg.php
  lib/client-assets.php
  lib/load.php
  lib/packages-dependencies.php
  lib/widgets-page.php
  package-lock.json
  package.json
  packages/edit-widgets/.npmrc
  packages/edit-widgets/CHANGELOG.md
  packages/edit-widgets/README.md
  packages/edit-widgets/package.json
  packages/edit-widgets/src/index.js
  packages/edit-widgets/src/style.scss
Labels: Customization

#13929 Don't do anything in RichTextInputEvent on native mobile
  packages/editor/src/components/index.native.js
  packages/editor/src/components/rich-text/index.native.js
  packages/editor/src/components/rich-text/input-event.native.js
Labels: Mobile App Compatibility

#13855 Mobile: BottomSheet design tweaks v2
  packages/block-library/src/image/edit.native.js
  packages/editor/src/components/mobile/bottom-sheet/cell.native.js
  packages/editor/src/components/mobile/bottom-sheet/cellStyles.android.scss
  packages/editor/src/components/mobile/bottom-sheet/cellStyles.ios.scss
  packages/editor/src/components/mobile/bottom-sheet/index.native.js
  packages/editor/src/components/mobile/bottom-sheet/styles.native.scss
  packages/editor/src/components/mobile/picker/index.android.js
  packages/editor/src/components/mobile/picker/styles.android.scss
Labels: Mobile App Compatibility

#12952 Fix: RangeControl does not validates the min and max properties
  packages/components/CHANGELOG.md
  packages/components/src/range-control/README.md
  packages/components/src/range-control/index.js
  packages/components/src/range-control/test/index.js
Labels: UI Components, [Type] Bug

#13940 Update readme wording
  packages/editor/src/components/media-upload/README.md
Labels: [Package] Editor, [Type] Documentation

#13937 Testing: Remove custom ESLint rules for import paths
  .eslintrc.js
Labels: [Type] Build Tooling, [Type] Code Quality

#13880 Update default placeholder for the default block appender component
  packages/editor/src/components/default-block-appender/index.native.js
Labels: Mobile App Compatibility

#12757 Try: Fix issue where block fails validation when a default attribute is deprecated
  packages/blocks/src/api/parser.js
  packages/blocks/src/api/test/parser.js
Labels: Block API, [Package] Blocks, [Type] Bug

#13882 Mobile BottomSheet: Adding max-width and centering.
  packages/editor/src/components/mobile/bottom-sheet/index.native.js
  packages/editor/src/components/mobile/bottom-sheet/styles.native.scss
Labels: Mobile App Compatibility

#13622 Fix: Display HTML in titles of latest posts block.
  packages/block-library/src/latest-posts/edit.js
  packages/block-library/src/latest-posts/index.php
Labels: [Block] Latest Posts, [Package] Block library, [Type] Bug

#13841 Implement pasting external content with plain and styled text
  packages/block-library/src/paragraph/edit.native.js
  packages/blocks/src/api/index.native.js
  packages/blocks/src/api/raw-handling/index.js
  packages/blocks/src/api/raw-handling/index.native.js
  packages/blocks/src/api/raw-handling/paste-handler.js
  packages/blocks/src/api/raw-handling/phrasing-content-reducer.js
  packages/blocks/src/api/raw-handling/utils.js
  packages/dom/package.json
  packages/editor/src/components/rich-text/index.native.js
  packages/shortcode/package.json
Labels: Mobile App Compatibility

#13941 Fix column moved in itself error
  packages/editor/src/components/block-drop-zone/index.js
Labels: Drag and Drop, Good First Review, [Block] Columns, [Type] Bug

#13933 Update button wording
  packages/block-library/src/button/index.js
Labels: Needs Copy Review, [Block] Button, [Type] Task

#13708 Switch the custom color control to a text link, fix padding for color picker.
  packages/components/src/color-palette/index.js
  packages/components/src/color-palette/style.scss
  packages/components/src/color-palette/test/__snapshots__/index.js.snap
  packages/components/src/color-palette/test/index.js
  packages/components/src/color-picker/style.scss
Labels: Needs Accessibility Feedback, Needs Design Feedback, [Type] Enhancement

#11555 Match height of font range control with the size select.
  packages/components/src/font-size-picker/style.scss
  packages/components/src/range-control/style.scss
  packages/edit-post/src/style.scss
Labels: Needs Design Feedback, UI Components

#13951 Data: Fix persistence initial state merging behavior
  packages/data/CHANGELOG.md
  packages/data/README.md
  packages/data/src/namespace-store.js
  packages/data/src/plugins/persistence/README.md
  packages/data/src/plugins/persistence/index.js
  packages/data/src/plugins/persistence/test/index.js
  packages/data/src/test/registry.js
Labels: [Package] Data, [Type] Bug
