Repository WordPress/gutenberg, pull requests merged in 2019-07, with the labels that each got.

#16371 Allow inner block template options to wrap
  packages/block-editor/src/components/inner-blocks/style.scss
Labels: Needs Design Feedback, [Component] Nested / Inner Blocks, [Type] Bug

#16329 isShallowEqual: Account for implicit undefined of second object
  packages/is-shallow-equal/CHANGELOG.md
  packages/is-shallow-equal/README.md
  packages/is-shallow-equal/objects.js
  packages/is-shallow-equal/test/index.js
Labels: [Package] is-shallow-equal, [Type] Bug, [Type] Performance

#16381 PHPCS: Use strict comparisons
  lib/client-assets.php
  packages/block-library/src/latest-posts/index.php
  packages/block-library/src/rss/index.php
Labels: [Type] Code Quality

#16380 Remove merged files from phpcs config
  phpcs.xml.dist
Labels: [Type] Code Quality

#16387 Upgrade composer dependencies (WPCS)
  composer.json
  composer.lock
  phpcs.xml.dist
Labels: [Type] Build Tooling

#16275 use theme color for all shadows for focus state in primary button
  packages/components/src/button/style.scss
Labels: First-time Contributor, Needs Accessibility Feedback, UI Components, [Package] Components

#13361 Introduces PluginSettingsSidebar slotfill to the Document sidebar.
  packages/e2e-tests/plugins/plugins-api.php
  packages/e2e-tests/plugins/plugins-api/document-setting.js
  packages/e2e-tests/specs/plugins/__snapshots__/plugins-api.test.js.snap
  packages/e2e-tests/specs/plugins/plugins-api.test.js
  packages/edit-post/README.md
  packages/edit-post/src/components/sidebar/plugin-document-setting-panel/index.js
  packages/edit-post/src/components/sidebar/settings-sidebar/index.js
  packages/edit-post/src/index.js
Labels: Extensibility, Needs Design Feedback, [Type] Task

#16366 Document the plugin release tool
  docs/contributors/release.md
Labels: [Type] Documentation

#16065 Implement a block reordering animation
  package-lock.json
  packages/block-editor/package.json
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/index.js
  packages/block-editor/src/components/block-list/moving-animation.js
  packages/block-editor/src/components/ignore-nested-events/index.js
  packages/compose/src/hooks/use-reduced-motion/index.js
  packages/e2e-tests/specs/block-deletion.test.js
Labels: Needs Accessibility Feedback, Writing Flow, [Type] Enhancement

#16303 Editor: Resolve Publish button busy state styling regression
  packages/components/CHANGELOG.md
  packages/components/src/button/index.js
  packages/components/src/button/test/index.js
  packages/editor/src/components/post-publish-button/index.js
Labels: UI Components, [Component] Button, [Component] Saving, [Type] Bug

#16250 Make top bar accessible when zoomed in.
  assets/stylesheets/_breakpoints.scss
  assets/stylesheets/_mixins.scss
  packages/edit-post/src/components/header/style.scss
Labels: Accessibility, Needs Design Feedback, [Type] Bug, [a11y] Zooming

#16255 Fix/sticky warning reflow
  packages/components/src/notice/style.scss
Labels: Accessibility, Needs Design Feedback, [Type] Bug, [a11y] Zooming

#15570 Add link UI with autocomplete to the image block
  packages/block-editor/src/components/url-popover/index.js
  packages/block-editor/src/components/url-popover/style.scss
  packages/block-editor/src/components/url-popover/test/__snapshots__/index.js.snap
  packages/block-library/src/image/edit.js
  packages/format-library/src/link/inline.js
Labels: Accessibility, Media, [Type] Enhancement

#16409 Avoid a console warning when running performance tests
  packages/e2e-tests/specs/performance.test.js
Labels: Automated Testing, Good First Review

#16390 Fix: Block icon on the block switcher may become unreadable.
  packages/block-editor/src/components/block-switcher/style.scss
Labels: [Type] Bug

#16348 Run registerBlockType hook over deprecated settings
  docs/designers-developers/developers/filters/block-filters.md
  packages/blocks/CHANGELOG.md
  packages/blocks/src/api/registration.js
  packages/blocks/src/api/test/registration.js
  packages/e2e-tests/fixtures/blocks/core__group__deprecated.html
  packages/e2e-tests/fixtures/blocks/core__group__deprecated.json
  packages/e2e-tests/fixtures/blocks/core__group__deprecated.parsed.json
  packages/e2e-tests/fixtures/blocks/core__group__deprecated.serialized.html
Labels: Block API, [Type] Bug

#16410 Fix adding/deleting table columns across sections
  packages/block-library/CHANGELOG.md
  packages/block-library/src/table/edit.js
  packages/block-library/src/table/state.js
  packages/block-library/src/table/test/state.js
  packages/e2e-tests/specs/blocks/__snapshots__/table.test.js.snap
  packages/e2e-tests/specs/blocks/table.test.js
Labels: [Block] Table, [Type] Bug

#16398 Fix: Image resizer does not work if only one dimension is changed
  packages/block-library/src/image/edit.js
Labels: [Block] Image, [Type] Bug

#16204 Customizer: Add widget blocks section.
  lib/class-experimental-wp-widget-blocks-manager.php
  lib/class-wp-customize-widget-blocks-control.php
  lib/customizer.php
  lib/load.php
  lib/widgets-page.php
  packages/edit-widgets/src/components/customizer-edit-widgets-initializer/index.js
  packages/edit-widgets/src/components/customizer-edit-widgets-initializer/style.scss
  packages/edit-widgets/src/components/customizer-edit-widgets-initializer/sync-customizer.js
  packages/edit-widgets/src/index.js
  packages/edit-widgets/src/style.scss
Labels: Customization, Widgets

#16125 Fix: Image block does not retain the dimensions when opening the media library
  packages/block-library/src/image/edit.js
  packages/block-library/src/image/test/edit.js
Labels: Media, [Block] Image, [Type] Bug

#16424 Fix: Show pre publish panel items for contributors
  packages/editor/src/components/post-publish-panel/prepublish.js
Labels: [Type] Bug

#16154 Add rudimentary support for table block cell scope attributes
  packages/block-library/src/table/block.json
  packages/block-library/src/table/edit.js
  packages/block-library/src/table/save.js
  packages/block-library/src/table/transforms.js
  packages/e2e-tests/fixtures/block-transforms.js
  packages/e2e-tests/fixtures/blocks/core__table__scope-attribute.html
  packages/e2e-tests/fixtures/blocks/core__table__scope-attribute.json
  packages/e2e-tests/fixtures/blocks/core__table__scope-attribute.parsed.json
  packages/e2e-tests/fixtures/blocks/core__table__scope-attribute.serialized.html
Labels: Accessibility, Good First Review, [Block] Table, [Type] Enhancement

#16419 Merging blocks: clone blocks to safely insert selection tracking character
  packages/block-editor/src/store/effects.js
  packages/block-editor/src/store/test/effects.js
Labels: [Package] Block editor, [Type] Bug

#16392 Track the parent block to optimize hierarchy selectors
  packages/block-editor/src/store/reducer.js
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/reducer.js
  packages/block-editor/src/store/test/selectors.js
Labels: [Type] Performance

#16407 Adds a cache key to the blocks reducer in order to optimize the getBlock selector
  docs/designers-developers/developers/data/data-core-block-editor.md
  packages/block-editor/src/store/reducer.js
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/reducer.js
  packages/block-editor/src/store/test/selectors.js
Labels: [Type] Performance

#16138 Fix inconsistent references to Settings Sidebar
  docs/contributors/principles/the-block.md
  docs/designers-developers/designers/block-design.md
  docs/designers-developers/developers/tutorials/block-tutorial/block-controls-toolbar-and-sidebar.md
  docs/manifest-devhub.json
  docs/manifest.json
  docs/toc.json
  packages/edit-post/src/components/sidebar/settings-header/index.js
Labels: [Type] Documentation

#16277 Move post permalink to beneath title on mobile.
  packages/editor/src/components/post-permalink/style.scss
  packages/editor/src/components/post-title/style.scss
Labels: Accessibility, [Type] Bug, [a11y] Zooming

#16142 Update HTML anchor explaination text
  packages/block-editor/src/hooks/anchor.js
  packages/block-editor/src/hooks/anchor.scss
  packages/block-editor/src/style.scss
Labels: [Block] Heading

#15381 Fix: Publish date not announced in voice over; Redundant duplicate labels;
  packages/edit-post/src/components/sidebar/post-schedule/index.js
  packages/edit-post/src/components/sidebar/post-schedule/style.scss
Labels: Accessibility, Good First Review, [Type] Bug, [Type] Code Quality

#16461 Build Tooling: Wait for MySQL availability before install
  bin/install-wp-tests.sh
Labels: Automated Testing, [Type] Bug, [Type] Build Tooling

#16438 Update documentation for consistent Settings Sidebar terminology
  docs/designers-developers/developers/block-api/block-registration.md
  docs/designers-developers/glossary.md
Labels: [Type] Documentation

#16455 Docs: Fix typo in sanitize_title()
  packages/editor/src/utils/url.js
Labels: [Type] Documentation

#16468 Docs: Fix typos
  docs/designers-developers/developers/data/data-core-blocks.md
  docs/designers-developers/developers/slotfills/README.md
  packages/blocks/src/store/selectors.js
Labels: [Type] Documentation

#16459 Update composer lock file
  composer.lock
Labels: Automated Testing, Priority Low

#16148 Change font-size-picker markup to use select
  packages/block-editor/src/components/font-sizes/with-font-sizes.js
  packages/components/src/base-control/index.js
  packages/components/src/font-size-picker/index.js
  packages/components/src/font-size-picker/style.scss
  packages/components/src/select-control/index.js
  packages/e2e-tests/specs/editor-modes.test.js
  packages/e2e-tests/specs/font-size-picker.test.js
Labels: Accessibility, Needs Design Feedback

#16331 [Mobile]Fix video upload
  packages/block-library/src/video/edit.native.js
Labels: Mobile App Compatibility

#16434 [RN Mobile] Track unsupported blocks list
  packages/edit-post/src/editor.native.js
  packages/edit-post/src/test/editor.native.js
Labels: Mobile App Compatibility

#16456 Docs: Add playground URL from GitHub Pages
  docs/contributors/getting-started.md
Labels: [Type] Documentation

#16470 Remove ./node_modules/ from require in example
  packages/scripts/README.md
Labels: [Type] Documentation

#16477 Fix using the classic block in nested contexts
  packages/blocks/README.md
  packages/blocks/src/api/serializer.js
  packages/blocks/src/api/test/serializer.js
  packages/blocks/src/block-content-provider/index.js
Labels: Framework, [Block] Classic, [Component] Serializer, [Type] Bug

#14443 Block API: Support nesting (InnerBlocks) in unknown block types
  packages/blocks/src/api/parser.js
  packages/blocks/src/api/test/parser.js
Labels: [Component] Nested / Inner Blocks, [Component] Parsing

#16469 Make capitalization of block names consistent per #16118
  docs/designers-developers/designers/block-design.md
  docs/designers-developers/developers/block-api/block-annotations.md
  docs/designers-developers/developers/block-api/block-deprecation.md
  docs/designers-developers/developers/block-api/block-registration.md
  docs/designers-developers/developers/tutorials/block-tutorial/block-controls-toolbar-and-sidebar.md
  docs/designers-developers/developers/tutorials/format-api/2-toolbar-button.md
  docs/designers-developers/developers/tutorials/metabox/meta-block-4-use-data.md
  docs/designers-developers/key-concepts.md
Labels: [Type] Documentation

#16278 Update to allow alternative Blocks to handle Grouping interactions
  packages/block-editor/src/components/block-actions/index.js
  packages/blocks/src/api/factory.js
  packages/blocks/src/api/test/factory.js
  packages/e2e-tests/plugins/custom-grouping-block.php
  packages/e2e-tests/plugins/custom-grouping-block/index.js
  packages/e2e-tests/specs/__snapshots__/block-grouping.test.js.snap
  packages/e2e-tests/specs/block-grouping.test.js
  packages/editor/src/components/convert-to-group-buttons/convert-button.js
Labels: Block API, Needs Technical Feedback, [Block] Group

#10128 [Enhancement] Introduce Link Target in Button Block
  packages/block-editor/src/components/url-input/index.js
  packages/block-editor/src/components/url-input/style.scss
  packages/block-library/src/button/block.json
  packages/block-library/src/button/deprecated.js
  packages/block-library/src/button/edit.js
  packages/block-library/src/button/editor.scss
  packages/block-library/src/button/save.js
Labels: Accessibility, [Block] Button, [Type] Enhancement

#16309 Framework: split block logic out of RichText (part 2)
  package-lock.json
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/components/rich-text/patterns.js
  packages/format-library/package.json
  packages/format-library/src/code/index.js
  packages/format-library/src/link/index.js
  packages/rich-text/package.json
  packages/rich-text/src/component/index.js
Labels: Framework, [Component] Rich Text, [Type] Code Quality

#16187 Resizable HTML block.
  packages/block-library/src/html/editor.scss
Labels: [Block] HTML, [Type] Enhancement

#16496 Show Preview button on mobile viewports
  packages/edit-post/src/components/header/style.scss
  packages/editor/src/components/post-saved-state/test/__snapshots__/index.js.snap
  packages/editor/src/components/post-switch-to-draft-button/index.js
Labels: General Interface, Good First Review, Needs Design Feedback, [Component] Mobile, [Type] Enhancement

#16184 Remove usage of select editor from the block editor module
  packages/block-editor/README.md
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/store/defaults.js
  packages/editor/src/components/provider/index.js
Labels: [Type] Code Quality, [Type] Enhancement

#16511 Project Management: Milestone It: Read version from master branch package.json
  .github/actions/milestone-it/entrypoint.sh
Labels: Project Management

#16402 Editor: Implement meta as custom source
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/provider/README.md
  packages/block-editor/src/components/provider/index.js
  packages/block-editor/src/store/reducer.js
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/reducer.js
  packages/block-editor/src/store/test/selectors.js
  packages/blocks/CHANGELOG.md
  packages/blocks/README.md
  packages/blocks/src/api/registration.js
  packages/blocks/src/api/test/registration.js
  packages/blocks/src/api/utils.js
  packages/editor/src/components/provider/index.js
  packages/editor/src/store/actions.js
  packages/editor/src/store/block-sources/README.md
  packages/editor/src/store/block-sources/__mocks__/index.js
  packages/editor/src/store/block-sources/index.js
  packages/editor/src/store/block-sources/meta.js
  packages/editor/src/store/controls.js
  packages/editor/src/store/index.js
  packages/editor/src/store/reducer.js
  packages/editor/src/store/test/actions.js
Labels: [Package] Editor

#16497 Document and rename showSuggestionsOverride to something more sensible
  packages/block-editor/src/components/url-input/README.md
  packages/block-editor/src/components/url-input/index.js
  packages/block-library/src/button/edit.js
Labels: [Type] Code Quality, [Type] Documentation

#14972 Expose position prop in DotTip component
  packages/nux/src/components/dot-tip/README.md
  packages/nux/src/components/dot-tip/index.js
Labels: Good First Review, NUX, Needs Design Feedback

#15956 Add documentation for the RichText component to the Block Editor Handbook
  docs/designers-developers/developers/richtext.md
  docs/manifest-devhub.json
  docs/toc.json
Labels: First-time Contributor, [Type] Documentation

#16526 JSX Tag Name is not same | Snipped works now
  packages/edit-post/README.md
  packages/edit-post/src/components/sidebar/plugin-document-setting-panel/index.js
Labels: [Type] Documentation

#16530 Fix issue where the toolbar can be hidden for the block after a wide aligned image
  packages/block-editor/src/components/block-list/moving-animation.js
Labels: [Type] Bug

#16531 Document the disabled prop for Button
  packages/components/src/button/README.md
Labels: [Component] Button, [Type] Documentation

#16103 Match the primary button disabled state to Core's color contrast
  packages/components/src/button/style.scss
Labels: Accessibility

#16518 Blocks: Include pre-filter settings in block type registration deprecation filter applications.
  packages/blocks/src/api/constants.js
  packages/blocks/src/api/parser.js
  packages/blocks/src/api/registration.js
  packages/blocks/src/api/test/registration.js
Labels: Block API, [Type] Bug

#16528 Docs: Add title attribute to PluginDocumentSettingPanel example
  packages/edit-post/README.md
  packages/edit-post/src/components/sidebar/plugin-document-setting-panel/index.js
Labels: [Type] Documentation

#16544 Edit Widgets: Don't run Customizer setup on every preview refresh.
  packages/edit-widgets/src/components/customizer-edit-widgets-initializer/sync-customizer.js
Labels: Customization, Widgets, [Package] Edit Widgets, [Type] Bug

#16558 Fix focusing on video block
  packages/block-library/src/video/edit.native.js
Labels: Mobile App Compatibility

#16547 Build Tooling: Avoid Docker container automatic restart
  docker-compose.yml
Labels: [Type] Build Tooling

#16545 Try improving and standardizing the block styles focus + active states
  assets/stylesheets/_mixins.scss
  packages/block-editor/src/components/block-styles/style.scss
  packages/block-editor/src/components/block-types-list/style.scss
  packages/block-editor/src/components/inserter-list-item/style.scss
Labels: Accessibility, Needs Accessibility Feedback, [Component] Inserter, [Type] Enhancement

#16563 chore: Remove duplicate switch cases in packages/block-editor/src/store/reducer.js
  packages/block-editor/src/store/reducer.js
Labels: [Package] Block editor, [Type] Code Quality

#16567 Framework: Bump Lodash dependencies to 4.17.14
  lib/client-assets.php
  package-lock.json
  package.json
  packages/annotations/package.json
  packages/babel-plugin-makepot/package.json
  packages/block-library/package.json
  packages/blocks/package.json
  packages/components/package.json
  packages/compose/package.json
  packages/core-data/package.json
  packages/data/package.json
  packages/dom/package.json
  packages/e2e-test-utils/package.json
  packages/e2e-tests/package.json
  packages/edit-post/package.json
  packages/editor/package.json
  packages/element/package.json
  packages/i18n/package.json
  packages/jest-console/package.json
  packages/keycodes/package.json
  packages/library-export-default-webpack-plugin/package.json
  packages/list-reusable-blocks/package.json
  packages/media-utils/package.json
  packages/notices/package.json
  packages/nux/package.json
  packages/plugins/package.json
  packages/rich-text/package.json
  packages/server-side-render/package.json
  packages/shortcode/package.json
  packages/token-list/package.json
  packages/viewport/package.json
  packages/wordcount/package.json
Labels: Framework

#16476 Hide the columns count control on empty columns block
  packages/block-library/src/columns/edit.js
Labels: Good First Review, [Block] Columns, [Type] Bug

#16579 Fix: Block Movers disappear on middle breakpoints for full/wide blocks.
  packages/block-editor/src/components/block-list/style.scss
Labels: Blocks, [Type] Bug

#16593 Codeowners: update assignments for gziolo
  .github/CODEOWNERS
Labels: Project Management

#16577 [RNMobile] Replace use of deprecated componentWillReceiveProps in ImageEdit
  packages/block-library/src/image/edit.native.js
Labels: Mobile App Compatibility

#16585 Fix typo with RichTextWrapper
  packages/block-editor/src/components/rich-text/index.js
Labels: Good First Review, [Component] Rich Text, [Type] Code Quality

#16234 Try to improve triage docs
  CONTRIBUTING.md
  docs/contributors/repository-management.md
Labels: Project Management, [Type] Documentation

#16610 Tiny documentation improvement
  docs/designers-developers/developers/filters/block-filters.md
Labels: [Type] Documentation

#16589 Slimmer top/bottom spacing inside notices
  packages/components/src/notice/style.scss
Labels: Needs Design Feedback, [Package] Notices, [Type] Enhancement

#16450 Update dynamic blocks documentation
  docs/designers-developers/developers/tutorials/block-tutorial/creating-dynamic-blocks.md
Labels: [Type] Documentation

#16581 Fix disabled menu item button styles
  packages/components/src/dropdown-menu/style.scss
Labels: Accessibility, [Component] Button, [Type] Bug

#16588 Fix: Converting video shortcode results in empty block
  packages/block-library/src/video/tranforms.js
Labels: Shortcodes, [Block] Video, [Type] Bug

#16539 [RNMobile] Show "add block here" placeholder when adding block from title
  packages/block-editor/src/components/block-list/index.native.js
Labels: Mobile App Compatibility

#16676 Don't show theme blocks on post content
  lib/blocks.php
  packages/block-library/src/post-content/block.json
  packages/block-library/src/post-content/edit.js
  packages/block-library/src/post-title/block.json
  packages/blocks/src/store/reducer.js
Labels: [Component] Inserter, [Component] Nested / Inner Blocks

#16642 [RNMobile] Blur post title any time another block is selected
  packages/edit-post/src/components/visual-editor/index.native.js
  packages/editor/src/components/post-title/index.native.js
Labels: Mobile App Compatibility

#16665 Localize "Read More" link
  packages/block-library/src/latest-posts/edit.js
Labels: Internationalization (i18n), [Type] Bug

#16702 Project Management: Update Milestone It reference date
  .github/actions/milestone-it/entrypoint.sh
  .github/main.workflow
Labels: Project Management

#16029 Fix `npm run docs:build` on Windows environments
  bin/update-readmes.js
  docs/tool/index.js
  docs/tool/update-data.js
  package.json
  packages/docgen/CHANGELOG.md
  packages/docgen/src/get-jsdoc-from-token.js
Labels: [Type] Bug, [Type] Build Tooling, [Type] Documentation

#16453 Fix issue with inconsistent nesting appender
  packages/block-editor/src/components/block-list/style.scss
Labels: Regression, [Type] Bug

#14542 RichText: add withoutInteractiveFormatting prop
  package-lock.json
  packages/block-editor/CHANGELOG.md
  packages/block-editor/package.json
  packages/block-editor/src/components/rich-text/README.md
  packages/block-editor/src/components/rich-text/index.js
  packages/block-library/src/button/edit.js
  packages/block-library/src/file/edit.js
  packages/block-library/src/search/edit.js
  packages/rich-text/src/component/format-edit.js
  packages/rich-text/src/component/index.js
Labels: Good First Review, Regression, [Component] Rich Text, [Type] Bug

#16722 [RNMobile] Fix loss of center alignment in image captions on Android
  packages/block-library/src/image/edit.native.js
Labels: Mobile App Compatibility

#16686 Apply inline-flex to all buttons within a ButtonGroup
  packages/components/src/button-group/style.scss
Labels: Good First Review, [Component] Button, [Type] Bug

#16734 Project Management: Update aduth's code ownership
  .github/CODEOWNERS
Labels: Project Management

#16395 Remove "Change Permalinks" button when permalink is not editable
  packages/editor/src/components/post-permalink/index.js
Labels: [Component] Permalink, [Type] Enhancement

#16737 ESLint Plugin: Exempt React hooks from no-unused-vars-before-return
  packages/components/src/font-size-picker/index.js
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/configs/react.js
  packages/eslint-plugin/configs/recommended.js
  packages/eslint-plugin/docs/rules/no-unused-vars-before-return.md
  packages/eslint-plugin/rules/__tests__/no-unused-vars-before-return.js
  packages/eslint-plugin/rules/no-unused-vars-before-return.js
Labels: [Package] ESLint plugin

#16421 Use Portal-based slots for the block toolbar
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-toolbar/index.js
  packages/block-editor/src/components/block-toolbar/style.scss
  packages/block-editor/src/components/block-vertical-alignment-toolbar/index.js
  packages/block-editor/src/components/navigable-toolbar/index.js
  packages/components/src/navigable-container/container.js
  packages/components/src/navigable-container/test/menu.js
  packages/components/src/navigable-container/test/tabbable.js
  packages/components/src/slot-fill/README.md
  packages/components/src/slot-fill/context.js
  packages/components/src/slot-fill/fill.js
  packages/components/src/slot-fill/slot.js
  packages/e2e-tests/specs/block-hierarchy-navigation.test.js
Labels: Framework, [Type] Code Quality

#16752 Framework: Restrict combineReducers usage to data module
  .eslintrc.js
  packages/core-data/src/queried-data/reducer.js
Labels: Automated Testing, [Package] Core data, [Type] Code Quality

#16704 Move the post title selection state to the store and update PostTitle
  packages/edit-post/src/components/visual-editor/index.native.js
  packages/editor/src/components/post-title/index.native.js
  packages/editor/src/store/actions.native.js
  packages/editor/src/store/reducer.native.js
  packages/editor/src/store/selectors.native.js
  packages/editor/src/store/test/actions.native.js
  packages/editor/src/store/test/reducer.native.js
  packages/editor/src/store/test/selectors.native.js
Labels: [Package] Editor, [Type] Enhancement

#16717 Fix pasting content into inner blocks
  packages/block-editor/src/store/reducer.js
  packages/block-editor/src/store/test/reducer.js
Labels: Priority High, Regression, [Component] Nested / Inner Blocks, [Package] Block editor, [Type] Bug

#16701 Support `hideLabelFromVision` prop for components using `BaseControl`
  packages/components/CHANGELOG.md
  packages/components/src/base-control/README.md
  packages/components/src/select-control/README.md
  packages/components/src/text-control/README.md
  packages/components/src/text-control/index.js
  packages/components/src/textarea-control/README.md
  packages/components/src/textarea-control/index.js
Labels: Accessibility, [Package] Components

#16620 Fix/plugin document setting panel docs
  docs/designers-developers/developers/slotfills/README.md
  docs/designers-developers/developers/slotfills/plugin-document-setting-panel.md
  docs/manifest-devhub.json
  docs/toc.json
Labels: Extensibility, [Type] Documentation

#16356 Add: Simple way to register block styles.
  lib/blocks.php
  lib/class-wp-block-styles-registry.php
  lib/load.php
Labels: Block API, [Component] Style Variations, [Type] Enhancement

#16750 Fix race condition in block moving animation.
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/moving-animation.js
Labels: General Interface, [Type] Bug

#14846 RichText/Input Interaction: use ZWNBSP as padding
  packages/dom/src/dom.js
  packages/e2e-tests/specs/__snapshots__/writing-flow.test.js.snap
  packages/e2e-tests/specs/blocks/__snapshots__/list.test.js.snap
  packages/e2e-tests/specs/blocks/list.test.js
  packages/e2e-tests/specs/plugins/__snapshots__/hooks-api.test.js.snap
  packages/e2e-tests/specs/plugins/hooks-api.test.js
  packages/e2e-tests/specs/writing-flow.test.js
  packages/rich-text/src/create.js
  packages/rich-text/src/special-characters.js
  packages/rich-text/src/test/__snapshots__/to-dom.js.snap
  packages/rich-text/src/test/helpers/index.js
  packages/rich-text/src/to-tree.js
Labels: Writing Flow, [Package] Rich text

#16751 Relax Cover and Media+Text inner blocks restrictions
  packages/block-library/src/cover/edit.js
  packages/block-library/src/media-text/edit.js
  packages/e2e-tests/specs/blocks/__snapshots__/media-text.test.js.snap
  packages/e2e-tests/specs/blocks/media-text.test.js
Labels: Good First Review, [Block] Cover, [Block] Media & Text, [Type] Enhancement

#16557 Try: Always collapse block alignments.
  packages/block-editor/src/components/alignment-toolbar/index.js
  packages/block-editor/src/components/alignment-toolbar/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/block-alignment-toolbar/index.js
  packages/block-editor/src/components/block-alignment-toolbar/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/block-vertical-alignment-toolbar/README.md
  packages/block-editor/src/components/block-vertical-alignment-toolbar/index.js
  packages/block-editor/src/components/block-vertical-alignment-toolbar/test/__snapshots__/index.js.snap
  packages/block-library/src/heading/edit.js
  packages/block-library/src/table/edit.js
  packages/components/src/dropdown-menu/README.md
  packages/components/src/dropdown-menu/index.js
  packages/components/src/toolbar/index.js
  packages/e2e-tests/specs/block-deletion.test.js
  packages/e2e-tests/specs/block-grouping.test.js
  packages/e2e-tests/specs/blocks/__snapshots__/table.test.js.snap
  packages/e2e-tests/specs/blocks/table.test.js
  packages/e2e-tests/specs/keyboard-navigable-blocks.test.js
  packages/e2e-tests/specs/plugins/align-hook.test.js
Labels: Blocks, General Interface

#16753 Framework: Ignore more transient directories for lint
  .eslintignore
Labels: Automated Testing, Framework, [Type] Performance

#16693 Data: Document WPDataRegistry properties
  packages/data/src/namespace-store/index.js
  packages/data/src/registry.js
  packages/data/src/resolvers-cache-middleware.js
Labels: Good First Review, [Package] Data, [Type] Code Quality, [Type] Documentation

#16773 Revert "When inserting block from title, replace block if appropriate"
  packages/block-editor/src/components/block-list/index.native.js
Labels: Mobile App Compatibility

#16733 Improved rich text placeholder
  docs/designers-developers/developers/richtext.md
  packages/block-editor/src/components/rich-text/README.md
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/components/rich-text/index.native.js
  packages/block-editor/src/components/rich-text/style.scss
  packages/block-library/src/button/edit.js
  packages/block-library/src/button/editor.scss
  packages/block-library/src/file/edit.js
  packages/block-library/src/gallery/editor.scss
  packages/block-library/src/paragraph/editor.scss
  packages/block-library/src/search/edit.js
  packages/edit-post/src/components/visual-editor/style.scss
  packages/edit-widgets/src/components/customizer-edit-widgets-initializer/style.scss
  packages/rich-text/src/component/editable.js
  packages/rich-text/src/component/index.js
  packages/rich-text/src/create.js
  packages/rich-text/src/to-dom.js
  packages/rich-text/src/to-tree.js
Labels: [Component] Rich Text, [Package] Rich text, [Type] Bug

#16769 Components: Restore default opacity to buttons
  packages/components/src/button/style.scss
  packages/components/src/dropdown-menu/style.scss
Labels: Needs Design Feedback, UI Components, [Type] Bug

#16775 [RNMobile] Native mobile release v1.10.0
  packages/block-editor/src/components/block-list/index.native.js
Labels: Mobile App Compatibility

#16259 Configure Babel to target your current version of Node with Jest
  package-lock.json
  package.json
  packages/babel-preset-default/CHANGELOG.md
  packages/babel-preset-default/index.js
  packages/babel-preset-default/package.json
  packages/scripts/CHANGELOG.md
  packages/scripts/package.json
Labels: [Package] Babel preset, [Package] Scripts, [Type] Bug

#16783 Add placeholder to the Button Block
  packages/block-library/src/button/block.json
  packages/block-library/src/button/edit.js
Labels: [Block] Button, [Type] Enhancement

#16772 Testing: Whitelist specific files for PHPCS
  phpcs.xml.dist
Labels: Automated Testing, [Type] Build Tooling

#16763 Fix: Image size labels don't appear on the widget screen
  lib/widgets-page.php
Labels: Media, Widgets, [Type] Bug

#16787 Docs: Update helphub links
  docs/contributors/getting-started.md
  packages/edit-post/src/components/header/post-publish-button-or-toggle.js
Labels: [Type] Documentation

#16700 Project Management: Assign issues 'fixed' by a PR to the author of th…
  .github/actions/assign-fixed-issues/Dockerfile
  .github/actions/assign-fixed-issues/entrypoint.sh
  .github/main.workflow
Labels: Framework

#16770 Editor: Avoid passing event object to save button onSave prop
  packages/editor/src/components/post-saved-state/index.js
  packages/editor/src/components/post-saved-state/test/__snapshots__/index.js.snap
  packages/editor/src/components/post-saved-state/test/index.js
Labels: [Package] Editor, [Type] Bug

#16212 Avoid usage of unguarded getRangeAt and add eslint rule
  packages/components/src/autocomplete/index.js
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/README.md
  packages/eslint-plugin/configs/custom.js
  packages/eslint-plugin/docs/rules/no-unguarded-get-range-at.md
  packages/eslint-plugin/rules/__tests__/no-unguarded-get-range-at.js
  packages/eslint-plugin/rules/no-unguarded-get-range-at.js
Labels: Browser Issues, First-time Contributor, [Package] Components, [Type] Task

#16554 Visible focus and active styles for Windows high contrast mode
  assets/stylesheets/_mixins.scss
  packages/block-editor/src/components/inserter-list-item/style.scss
  packages/components/src/color-palette/style.scss
  packages/components/src/date-time/style.scss
  packages/components/src/toolbar-button/style.scss
Labels: Accessibility, Needs Design Feedback, [a11y] Color Contrast

#16739 Fix: Close "Block Styles" section on transformBlockTo e2e test helper.
  packages/e2e-test-utils/src/transform-block-to.js
Labels: Automated Testing, [Type] Enhancement

#16759 [RNMobile] Prevent always dismissing keyboard when switching away from empty image caption
  packages/block-library/src/image/edit.native.js
Labels: Mobile App Compatibility

#14961 Try additional borders and padding for nested blocks
  assets/stylesheets/_z-index.scss
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/style.scss
  packages/block-library/src/columns/editor.scss
  packages/block-library/src/group/editor.scss
  packages/e2e-tests/specs/__snapshots__/writing-flow.test.js.snap
  packages/e2e-tests/specs/writing-flow.test.js
Labels: Needs Design Feedback, [Component] Nested / Inner Blocks, [Type] Enhancement

#16793 Clean up Gallery block move/remove UI
  packages/block-library/src/gallery/editor.scss
Labels: Needs Design Feedback, [Block] Gallery, [Type] Bug, [Type] Enhancement

#16819 Block Editor: Merge block wrapper props by reassignment
  packages/block-editor/src/components/block-list/block.js
Labels: [Block] Columns, [Type] Bug

#16800 Components: Avoid displaying tooltip on focus from mousedown
  packages/components/src/color-picker/test/__snapshots__/index.js.snap
  packages/components/src/tooltip/index.js
  packages/components/src/tooltip/test/index.js
  packages/edit-post/src/components/header/more-menu/test/__snapshots__/index.js.snap
Labels: Needs Accessibility Feedback, UI Components, [Package] Components, [Type] Bug

#16823 Core Data: Add util for minimally modifying items.
  packages/core-data/src/utils/conservative-map-item.js
  packages/core-data/src/utils/index.js
  packages/core-data/src/utils/test/conservative-map-item.js
Labels: [Package] Core data

#16762 First-time contributor github action
  .github/actions/first-time-contributor/Dockerfile
  .github/actions/first-time-contributor/entrypoint.sh
  .github/main.workflow
Labels: Project Management, [Type] Enhancement

#16111 Add table block column alignment
  packages/block-editor/src/components/alignment-toolbar/index.js
  packages/block-library/src/table/block.json
  packages/block-library/src/table/edit.js
  packages/block-library/src/table/save.js
  packages/block-library/src/table/state.js
  packages/block-library/src/table/test/state.js
  packages/e2e-tests/specs/blocks/__snapshots__/table.test.js.snap
  packages/e2e-tests/specs/blocks/table.test.js
Labels: [Block] Table, [Type] Enhancement

#16653 Fix table block cell selection
  packages/block-library/src/table/edit.js
  packages/e2e-tests/specs/blocks/__snapshots__/table.test.js.snap
  packages/e2e-tests/specs/blocks/table.test.js
Labels: [Block] Table, [Type] Bug

#15976 Add support for disabled drop down items in SelectControl
  packages/block-library/src/tag-cloud/edit.js
  packages/components/src/select-control/README.md
  packages/components/src/select-control/index.js
Labels: Accessibility, First-time Contributor, Good First Review, UI Components, [Package] Components, [Type] Enhancement

#16799 ESLint Plugin: no-unused-vars-before-return: Exempt destructuring only if to multiple properties
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/rules/__tests__/no-unused-vars-before-return.js
  packages/eslint-plugin/rules/no-unused-vars-before-return.js
  packages/eslint-plugin/rules/react-no-unsafe-timeout.js
Labels: [Package] ESLint plugin, [Type] Enhancement

#15004 adds simple logic that keeps authored captions in galleries
  packages/block-library/src/gallery/edit.js
Labels: Media, [Block] Gallery, [Type] Enhancement

#14819 Fix FormTokenField rendering
  packages/components/src/form-token-field/index.js
  packages/components/src/form-token-field/test/index.js
  packages/components/src/form-token-field/test/lib/fixtures.js
  packages/components/src/form-token-field/test/lib/token-field-wrapper.js
Labels: Good First Review, UI Components, [Package] Components, [Type] Enhancement

#16774 Deprecated: Output an informational message for deprecation when no version provided
  packages/deprecated/CHANGELOG.md
  packages/deprecated/src/index.js
  packages/deprecated/src/test/index.js
Labels: [Package] Deprecated, [Type] Enhancement

#16777 Block library: Refactor Verse block to use class names for text align
  packages/block-library/CHANGELOG.md
  packages/block-library/src/style.scss
  packages/block-library/src/verse/deprecated.js
  packages/block-library/src/verse/edit.js
  packages/block-library/src/verse/index.js
  packages/block-library/src/verse/save.js
  packages/e2e-tests/fixtures/blocks/core__verse__deprecated.html
  packages/e2e-tests/fixtures/blocks/core__verse__deprecated.json
  packages/e2e-tests/fixtures/blocks/core__verse__deprecated.parsed.json
  packages/e2e-tests/fixtures/blocks/core__verse__deprecated.serialized.html
Labels: Needs Dev Note, [Block] Verse, [Package] Block library, [Type] Enhancement

#16839 Editor: Optimize common dependencies bail-out
  packages/editor/src/store/actions.js
Labels: [Package] Editor, [Type] Performance

#16033 Update BlockPreview component to accept multiple Blocks to preview
  packages/block-editor/src/components/block-preview/index.js
  packages/block-editor/src/components/block-styles/index.js
  packages/block-editor/src/components/block-switcher/index.js
  packages/block-editor/src/components/inserter/menu.js
Labels: Good First Review, Needs Technical Feedback, [Type] Enhancement

#16784 add color support to separator block
  packages/block-library/src/separator/block.json
  packages/block-library/src/separator/edit.js
  packages/block-library/src/separator/save.js
  packages/block-library/src/separator/style.scss
  packages/block-library/src/separator/theme.scss
Labels: Needs Design Feedback, Needs Dev Note, [Block] Separator, [Type] Enhancement

#16692 Data: Create registry selector with self-contained registry proxying
  packages/data/src/factory.js
  packages/data/src/namespace-store/index.js
  packages/data/src/test/registry.js
  packages/editor/src/store/test/selectors.js
Labels: [Package] Data
