Repository WordPress/gutenberg, pull requests merged in 2019-12, with the labels that each got.

#18105 Try: Remove dashed outlines for child and parent blocks.
  packages/block-editor/src/components/block-list/style.scss
  packages/block-library/src/columns/editor.scss
  packages/block-library/src/group/editor.scss
Labels: General Interface

#18052 Experimental page template selector
  lib/experiments-page.php
  packages/block-editor/README.md
  packages/block-editor/src/components/block-list-footer/index.js
  packages/block-editor/src/components/block-list/index.js
  packages/block-editor/src/components/block-list/index.native.js
  packages/block-editor/src/components/index.js
  packages/block-editor/src/components/index.native.js
  packages/block-editor/src/components/page-template-picker/button.js
  packages/block-editor/src/components/page-template-picker/button.native.js
  packages/block-editor/src/components/page-template-picker/container.js
  packages/block-editor/src/components/page-template-picker/container.native.js
  packages/block-editor/src/components/page-template-picker/default-templates.js
  packages/block-editor/src/components/page-template-picker/index.js
  packages/block-editor/src/components/page-template-picker/picker.js
  packages/block-editor/src/components/page-template-picker/use-page-template-picker-visible.js
  packages/block-editor/src/components/page-template-picker/with-page-template-picker-visible.js
  packages/block-editor/src/store/defaults.js
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/layout/index.native.js
  packages/editor/src/components/provider/index.js
Labels: Mobile App Compatibility

#18689 Split @wordpress/url into modules.
  packages/url/src/add-query-args.js
  packages/url/src/filter-url-for-display.js
  packages/url/src/get-authority.js
  packages/url/src/get-fragment.js
  packages/url/src/get-path.js
  packages/url/src/get-protocol.js
  packages/url/src/get-query-arg.js
  packages/url/src/get-query-string.js
  packages/url/src/has-query-arg.js
  packages/url/src/index.js
  packages/url/src/is-email.js
  packages/url/src/is-url.js
  packages/url/src/is-valid-authority.js
  packages/url/src/is-valid-fragment.js
  packages/url/src/is-valid-path.js
  packages/url/src/is-valid-protocol.js
  packages/url/src/is-valid-query-string.js
  packages/url/src/prepend-http.js
  packages/url/src/remove-query-args.js
  packages/url/src/safe-decode-uri-component.js
  packages/url/src/safe-decode-uri.js
Labels: [Package] Url, [Type] Enhancement

#18865 Fix padding regression with appender
  packages/block-editor/src/components/block-list-appender/style.scss
  packages/block-library/src/columns/editor.scss
Labels: [Block] Columns, [Block] Group, [Feature] Inserter, [Type] Bug

#18041 Implement welcome guide modal
  docs/manifest-devhub.json
  packages/components/CHANGELOG.md
  packages/components/src/guide/README.md
  packages/components/src/guide/finish-button.js
  packages/components/src/guide/icons.js
  packages/components/src/guide/index.js
  packages/components/src/guide/page-control.js
  packages/components/src/guide/page.js
  packages/components/src/guide/stories/index.js
  packages/components/src/guide/style.scss
  packages/components/src/guide/test/finish-button.js
  packages/components/src/guide/test/index.js
  packages/components/src/guide/test/page-control.js
  packages/components/src/index.js
  packages/components/src/style.scss
  packages/e2e-test-utils/README.md
  packages/e2e-test-utils/src/create-new-post.js
  packages/e2e-test-utils/src/index.js
  packages/e2e-test-utils/src/observe-focus-loss.js
  packages/e2e-tests/specs/editor/various/nux.test.js
  packages/e2e-tests/specs/editor/various/sidebar.test.js
  packages/edit-post/src/components/editor-initialization/index.js
  packages/edit-post/src/components/header/header-toolbar/index.js
  packages/edit-post/src/components/header/index.js
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/options-modal/index.js
  packages/edit-post/src/components/options-modal/options/deferred.js
  packages/edit-post/src/components/options-modal/options/enable-tips.js
  packages/edit-post/src/components/options-modal/options/index.js
  packages/edit-post/src/components/options-modal/test/__snapshots__/index.js.snap
  packages/edit-post/src/components/welcome-guide/images.js
  packages/edit-post/src/components/welcome-guide/index.js
  packages/edit-post/src/components/welcome-guide/style.scss
  packages/edit-post/src/plugins/index.js
  packages/edit-post/src/plugins/welcome-guide-menu-item/index.js
  packages/edit-post/src/style.scss
  packages/editor/src/components/post-preview-button/index.js
  packages/editor/src/components/post-preview-button/test/__snapshots__/index.js.snap
  packages/editor/src/components/post-publish-button/index.js
  storybook/test/__snapshots__/index.js.snap
Labels: [Feature] NUX, [Package] NUX, [Type] Enhancement

#18868 Fix #18825: Styles for the toggled state in the ToolbarButton added back
  packages/components/src/toolbar-button/style.scss
Labels: General Interface, [Feature] Blocks, [Type] Bug, [Type] Regression

#18847 Block Editor: Fix multi-select inspector padding
  packages/block-editor/src/components/multi-selection-inspector/style.scss
Labels: [Feature] Block Multi Selection, [Package] Block editor, [Type] Bug

#18732 Writing Flow: Stretch "Click Redirect" to occupy full height of content
  packages/block-editor/src/components/typewriter/index.js
  packages/e2e-test-utils/CHANGELOG.md
  packages/e2e-test-utils/README.md
  packages/e2e-test-utils/src/set-browser-viewport.js
  packages/e2e-tests/specs/editor/various/adding-blocks.test.js
  packages/edit-post/src/components/editor-regions/style.scss
  packages/edit-post/src/components/visual-editor/style.scss
Labels: [Feature] Writing Flow, [Type] Bug

#18785 Rnmobile/368 improve code block
  packages/block-editor/src/components/plain-text/index.native.js
  packages/block-library/src/code/edit.native.js
  packages/block-library/src/code/theme.native.scss
Labels: Mobile App Compatibility

#18834 Fix: Private post with future date becomes public on update
  packages/e2e-tests/specs/editor/various/post-visibility.test.js
  packages/editor/src/components/post-publish-button/index.js
Labels: [Feature] Document Settings, [Priority] High, [Type] Bug

#18882 Fix typo in developer handbook: 'support' -> 'supports'
  docs/designers-developers/developers/block-api/block-deprecation.md
Labels: [Type] Documentation

#18158 Fix example code in README.md
  packages/components/src/draggable/README.md
Labels: First-time Contributor, [Type] Documentation

#18621 Remove clearing the block selection on sidebar tab switch
  packages/edit-post/src/components/sidebar/settings-header/index.js
Labels: Accessibility (a11y), Needs Accessibility Feedback, [Package] Block editor, [Type] Enhancement

#18431 Fix Nav Menu overflow using flex-wrap approach
  packages/block-library/src/navigation-link/editor.scss
  packages/block-library/src/navigation/editor.scss
Labels: Needs Design Feedback, [Block] Navigation

#18676 Storybook: Components: Apply style changes
  package.json
  storybook/config.js
  storybook/stories/playground/index.js
  storybook/style.scss
  storybook/webpack.config.js
Labels: Storybook

#18862 Try: Remove hover styles
  packages/block-editor/src/components/block-list/style.scss
  packages/block-library/src/classic/editor.scss
  packages/block-library/src/navigation/editor.scss
  packages/block-library/src/social-links/editor.scss
  packages/editor/src/components/post-title/style.scss
Labels: Needs Design Feedback

#18817 Components: Enforce consistent usage of Button and ToolbarGroup components
  .eslintrc.js
  packages/block-editor/src/components/inserter-list-item/index.js
  packages/block-editor/src/components/inserter-list-item/style.scss
  packages/block-editor/src/components/link-control/search-item.js
  packages/block-editor/src/components/skip-to-selected-block/index.js
  packages/block-editor/src/components/url-input/index.js
  packages/block-library/src/audio/edit.js
  packages/block-library/src/cover/edit.js
  packages/block-library/src/embed/embed-controls.js
  packages/block-library/src/file/edit.js
  packages/block-library/src/heading/heading-toolbar.js
  packages/block-library/src/html/edit.js
  packages/block-library/src/image/edit.js
  packages/block-library/src/image/edit.native.js
  packages/block-library/src/latest-posts/edit.js
  packages/block-library/src/legacy-widget/edit/index.js
  packages/block-library/src/list/edit.js
  packages/block-library/src/media-text/edit.js
  packages/block-library/src/media-text/edit.native.js
  packages/block-library/src/media-text/media-container.js
  packages/block-library/src/media-text/media-container.native.js
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation/block-colors-selector.js
  packages/block-library/src/navigation/edit.js
  packages/block-library/src/paragraph/edit.js
  packages/block-library/src/rss/edit.js
  packages/block-library/src/table/edit.js
  packages/block-library/src/video/edit.js
  packages/block-library/src/video/edit.native.js
  packages/components/src/circular-option-picker/index.js
  packages/components/src/color-palette/test/__snapshots__/index.js.snap
  packages/components/src/color-picker/saturation.js
  packages/components/src/color-picker/test/__snapshots__/index.js.snap
  packages/components/src/font-size-picker/index.js
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/sidebar/post-schedule/index.js
  packages/edit-post/src/components/sidebar/post-visibility/index.js
  packages/edit-post/src/components/sidebar/settings-header/index.js
  packages/edit-post/src/components/sidebar/settings-header/style.scss
  packages/edit-post/src/components/sidebar/style.scss
  packages/list-reusable-blocks/src/components/import-dropdown/index.js
  storybook/test/__snapshots__/index.js.snap
Labels: Accessibility (a11y), General Interface, [Type] Code Quality

#18808 ESLint plugin: Remove temporary listed types for TypeScript validation (p. 1)
  packages/block-editor/src/components/provider/index.js
  packages/block-editor/src/components/provider/index.native.js
  packages/block-editor/src/components/typewriter/index.js
  packages/data/src/factory.js
  packages/data/src/plugins/persistence/index.js
  packages/data/src/resolvers-cache-middleware.js
  packages/date/README.md
  packages/date/src/index.js
  packages/e2e-test-utils/README.md
  packages/e2e-test-utils/src/enable-page-dialog-accept.js
  packages/e2e-test-utils/src/find-sidebar-panel-toggle-button-with-title.js
  packages/e2e-test-utils/src/find-sidebar-panel-with-title.js
  packages/e2e-tests/specs/editor/various/adding-blocks.test.js
  packages/e2e-tests/specs/editor/various/preview.test.js
  packages/editor/src/components/autocompleters/block.js
  packages/editor/src/components/autocompleters/user.js
  packages/element/src/react.js
  packages/eslint-plugin/configs/jsdoc.js
  packages/jest-puppeteer-axe/src/index.js
  packages/notices/src/store/selectors.js
  packages/rich-text/src/component/index.js
  packages/rich-text/src/unregister-format-type.js
Labels: [Package] ESLint plugin, [Type] Enhancement

#18148 Use colors hook in paragraph
  packages/block-library/src/paragraph/edit.js
Labels: [Type] Code Quality, [Type] Enhancement

#18379 Prevent focus steal on clicking the inserter
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/inserter/index.js
  packages/e2e-tests/specs/editor/blocks/navigation.test.js
Labels: Needs Design Feedback, [Block] Navigation

#18609 Moves <TextHighlight /> component to @wordpress/components package
  docs/manifest-devhub.json
  packages/block-editor/src/components/link-control/search-item.js
  packages/components/src/index.js
  packages/components/src/text-highlight/README.md
  packages/components/src/text-highlight/index.js
  packages/components/src/text-highlight/stories/index.js
  packages/components/src/text-highlight/test/index.js
  storybook/test/__snapshots__/index.js.snap
Labels: Needs Technical Feedback, [Feature] UI Components, [Package] Block editor, [Package] Components

#18879 Docs: Include TypeScript type checking in Testing Overview
  docs/contributors/testing-overview.md
Labels: Automated Testing, [Type] Documentation

#18873 Edit Post: Render metaboxes as single seamless unit
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/layout/style.scss
Labels: [Feature] Meta Boxes, [Feature] Themes, [Package] Edit Post

#18871 Editor: Separate editor notices by border instead of margin
  packages/editor/src/components/editor-notices/style.scss
Labels: [Feature] Themes, [Type] Plugin Interoperability

#18536 [RNMobile] Fix saving changes when exiting from HTML mode
  packages/components/src/mobile/html-text-input/index.native.js
  packages/editor/src/components/provider/index.native.js
Labels: Mobile App Compatibility

#16755 Test: Collapse passed tests in Travis.
  package-lock.json
  packages/jest-preset-default/jest-preset.json
  packages/jest-preset-default/package.json
  packages/jest-preset-default/scripts/travis-fold-passes-reporter.js
Labels: Automated Testing, [Type] Build Tooling

#18842 Fixes the FontSizePicker Custom option
  packages/components/src/font-size-picker/index.js
Labels: Backport to WP Core, [Feature] Themes, [Type] Bug

#18896 Follow-up: Test: Collapse passed tests in Travis.
  packages/jest-preset-default/jest-preset.js
  packages/jest-preset-default/jest-preset.json
  packages/jest-preset-default/scripts/travis-fold-passes-reporter.js
  packages/scripts/config/jest-e2e.config.js
Labels: Automated Testing, [Type] Build Tooling

#18893 Template Loader: Use `glob` constant instead of numeric value.
  lib/template-loader.php
Labels: [Feature] Full Site Editing, [Feature] Templates API

#18904 Simplify the condition to show the block name
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/style.scss
Labels: General Interface, [Type] Code Quality

#18155 [RNMobile] Gallery - GalleryImage component
  packages/block-library/src/gallery/gallery-button.native.js
  packages/block-library/src/gallery/gallery-image-style.native.scss
  packages/block-library/src/gallery/gallery-image.native.js
  packages/rich-text/src/component/index.native.js
Labels: Mobile App Compatibility, [Block] Gallery

#18130 [RNMobile] Gallery - Tiles component
  packages/block-library/src/gallery/tiles-styles.native.scss
  packages/block-library/src/gallery/tiles.native.js
Labels: Mobile App Compatibility, [Block] Gallery

#18176 [RNMobile] Gallery - Native gallery component draft
  packages/block-editor/src/components/media-placeholder/index.native.js
  packages/block-editor/src/components/media-placeholder/styles.native.scss
  packages/block-library/src/gallery/gallery-styles.native.scss
  packages/block-library/src/gallery/gallery.native.js
  packages/block-library/src/index.native.js
Labels: Mobile App Compatibility, [Block] Gallery

#18910 [Mobile] Disable gallery block for now
  packages/block-library/src/index.native.js
Labels: Mobile App Compatibility, [Block] Gallery

#18813 Popover: smoothly reposition on scroll
  packages/block-editor/src/components/link-control/test/__snapshots__/index.js.snap
  packages/components/src/isolated-event-container/index.js
  packages/components/src/popover/index.js
  packages/components/src/popover/style.scss
  packages/components/src/popover/test/__snapshots__/index.js.snap
  packages/components/src/popover/test/utils.js
  packages/components/src/popover/utils.js
  packages/components/src/tooltip/style.scss
  packages/nux/src/components/dot-tip/style.scss
  storybook/test/__snapshots__/index.js.snap
Labels: [Feature] UI Components, [Package] Components, [Type] Bug

#18748 Add list props to rich text in native.
  packages/block-editor/src/components/rich-text/index.js
  packages/block-library/src/list/ordered-list-settings.native.js
  packages/components/src/mobile/bottom-sheet/cell.native.js
  packages/rich-text/src/component/index.native.js
Labels: Mobile App Compatibility

#18916 Docs: MediaPlaceholder - Change import package.
  packages/block-editor/src/components/media-placeholder/README.md
Labels: [Type] Documentation

#18736 Block Library: Add core template part block.
  lib/blocks.php
  packages/block-library/src/index.js
  packages/block-library/src/template-part/block.json
  packages/block-library/src/template-part/edit.js
  packages/block-library/src/template-part/index.js
  packages/block-library/src/template-part/index.php
  packages/e2e-tests/fixtures/blocks/core__template-part.html
  packages/e2e-tests/fixtures/blocks/core__template-part.json
  packages/e2e-tests/fixtures/blocks/core__template-part.parsed.json
  packages/e2e-tests/fixtures/blocks/core__template-part.serialized.html
  test/integration/full-content/server-registered.json
Labels: [Feature] Full Site Editing, [Package] Block library

#17486 Editor: Allow drag and drop in the featured image box.
  packages/editor/src/components/post-featured-image/index.js
  packages/editor/src/components/post-featured-image/style.scss
Labels: [Feature] Drag and Drop, [Feature] Media, [Package] Editor

#18912 [Tiny PR] Multi select: fix nested blocks
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/index.js
  packages/e2e-tests/specs/editor/various/multi-block-selection.test.js
Labels: [Feature] Block Multi Selection, [Feature] Writing Flow, [Type] Bug

#18761 E2E Tests: Fix theme colors and font sizes.
  packages/e2e-tests/mu-plugins/normalize-theme.php
  packages/e2e-tests/specs/editor/blocks/__snapshots__/heading.test.js.snap
  packages/e2e-tests/specs/editor/blocks/heading.test.js
  packages/e2e-tests/specs/editor/various/editor-modes.test.js
  packages/e2e-tests/specs/editor/various/font-size-picker.test.js
Labels: Automated Testing, Framework

#18921 Remove block hover border accidentally reintroduced by #18867.
  packages/block-editor/src/components/block-list/style.scss
Labels: [Type] Bug, [Type] Regression

#18827 Custom Select: Change prop names to align better with other components.
  packages/components/src/custom-select/index.js
  packages/components/src/custom-select/stories/index.js
  packages/components/src/font-size-picker/index.js
Labels: [Package] Components

#18911 Add side effects property to components package.json
  packages/components/package.json
Labels: Npm Packages, [Package] Components, [Type] Performance

#18686 Try: Fixed Mobile Toolbar, Yet Again
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/block.native.js
  packages/block-editor/src/components/block-mobile-toolbar/index.js
  packages/block-editor/src/components/block-mobile-toolbar/index.native.js
  packages/block-editor/src/components/block-mobile-toolbar/index.native.scss
  packages/block-editor/src/components/block-mobile-toolbar/style.scss
  packages/block-editor/src/components/block-toolbar/index.js
  packages/block-editor/src/style.scss
  packages/edit-post/src/components/editor-regions/style.scss
  packages/edit-post/src/components/header/header-toolbar/index.js
  packages/edit-post/src/components/header/header-toolbar/style.scss
  packages/edit-post/src/index.js
Labels: Mobile Web, Needs Technical Feedback

#18816 Add useViewportMatch react hook alternative to withViewportMatch
  packages/block-editor/src/components/block-mobile-toolbar/index.js
  packages/block-editor/src/components/tool-selector/index.js
  packages/components/src/popover/index.js
  packages/compose/README.md
  packages/compose/src/hooks/use-viewport-match/index.js
  packages/compose/src/index.js
  packages/edit-post/src/components/header/header-toolbar/index.js
  packages/edit-post/src/components/header/post-publish-button-or-toggle.js
  packages/edit-post/src/components/header/test/__snapshots__/index.js.snap
  packages/edit-post/src/components/header/test/index.js
  packages/edit-post/src/components/header/writing-menu/index.js
  packages/edit-post/src/components/layout/index.js
  packages/editor/src/components/post-saved-state/test/__snapshots__/index.js.snap
  packages/editor/src/components/post-switch-to-draft-button/index.js
Labels: Mobile Web, [Type] Code Quality

#18890 Start an initial documentation about the block based themes
  docs/designers-developers/developers/themes/block-based-themes.md
  docs/manifest-devhub.json
  docs/manifest.json
  docs/toc.json
Labels: [Feature] Full Site Editing, [Feature] Themes, [Type] Documentation

#18806 [RNMobile] Replace Slider
  packages/components/src/mobile/bottom-sheet/range-cell.native.js
  test/native/setup.js
Labels: Mobile App Compatibility, [Block] Gallery, [Block] Spacer

#18933 Add a `type=submit` to the search suggestion buttons
  packages/block-editor/src/components/link-control/search-item.js
Labels: [Block] Navigation, [Type] Bug

#18935 Correct styles import in block mobile toolbar
  packages/block-editor/src/components/block-mobile-toolbar/index.native.js
  packages/block-editor/src/components/block-mobile-toolbar/style.native.scss
Labels: Mobile App Compatibility

#18938 Repository management: Add option to perform the legacy patch release
  package.json
  packages/README.md
Labels: Npm Packages, [Type] Project Management

#18756 Refactor the draggable component to avoid passing around unnecessary props
  docs/designers-developers/developers/data/data-core-block-editor.md
  packages/block-editor/src/components/block-draggable/index.js
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/index.js
  packages/block-editor/src/components/block-mover/drag-handle.js
  packages/block-editor/src/components/block-mover/index.js
  packages/block-editor/src/components/block-mover/test/index.js
  packages/block-editor/src/store/actions.js
  packages/block-editor/src/store/reducer.js
  packages/block-editor/src/store/selectors.js
  packages/e2e-tests/specs/editor/various/keyboard-navigable-blocks.test.js
Labels: Needs Dev Note, [Feature] Drag and Drop

#18902 Fix reusable blocks being too tall
  packages/block-library/src/block/editor.scss
Labels: [Feature] Reusable Blocks, [Type] Bug, [Type] Regression

#18905 Social Links: Use URLInput
  docs/contributors/coding-guidelines.md
  packages/block-library/src/social-link/edit.js
Labels: [Type] Code Quality

#18903 Improve and simplify reusable block styles
  packages/block-editor/src/components/block-list/style.scss
  packages/block-library/src/block/edit-panel/editor.scss
  packages/block-library/src/block/edit.js
  packages/block-library/src/block/indicator/editor.scss
  packages/block-library/src/block/indicator/index.js
  packages/block-library/src/editor.scss
Labels: [Feature] Reusable Blocks

#18831 Fix: Drop Cap + alignment produces a gap between paragraphs
  packages/block-library/src/paragraph/edit.js
  packages/block-library/src/paragraph/editor.scss
  packages/block-library/src/paragraph/style.scss
Labels: [Block] Paragraph, [Type] Bug

#18924 Framework: Remove unused Travis install dependencies
  .travis.yml
Labels: Automated Testing, [Type] Code Quality

#18944 Components: Rename `CustomSelect` to `CustomSelectControl`.
  packages/components/src/custom-select-control/index.js
  packages/components/src/custom-select-control/stories/index.js
  packages/components/src/custom-select-control/style.scss
  packages/components/src/font-size-picker/index.js
  packages/components/src/index.js
  packages/components/src/style.scss
  packages/e2e-tests/specs/editor/various/change-detection.test.js
  packages/e2e-tests/specs/editor/various/editor-modes.test.js
  packages/e2e-tests/specs/editor/various/font-size-picker.test.js
  storybook/test/__snapshots__/index.js.snap
Labels: [Package] Components

#18909 Nav Block: adds basic items justification controls
  packages/block-library/src/navigation/edit.js
  packages/block-library/src/navigation/editor.scss
  packages/block-library/src/navigation/icons.js
  packages/block-library/src/navigation/index.php
  packages/block-library/src/navigation/style.scss
Labels: [Block] Navigation, [Package] Block library

#18920 Docs: Add Gutenberg-specific JSDoc recommendations
  docs/contributors/coding-guidelines.md
Labels: [Type] Documentation

#18936 Popover: fix expandOnMobile
  packages/block-editor/src/components/block-switcher/style.scss
  packages/block-editor/src/components/inserter/style.scss
  packages/block-library/src/navigation-link/editor.scss
  packages/components/src/popover/index.js
  packages/components/src/popover/style.scss
  packages/components/src/tooltip/style.scss
  packages/editor/src/components/table-of-contents/style.scss
  packages/nux/src/components/dot-tip/style.scss
Labels: [Feature] UI Components, [Package] Components, [Type] Bug

#18731 Fix: wrong link to attachment page when replacing image.
  packages/block-library/src/image/edit.js
Labels: [Block] Image, [Type] Bug

#18954 Fix: Video block crashes right after insert
  packages/block-library/src/video/edit.js
Labels: [Priority] High, [Type] Bug

#18023 Fix: Cover to video and image transforms
  packages/block-library/src/cover/transforms.js
  packages/e2e-tests/fixtures/blocks/core__cover__solid-color.html
  packages/e2e-tests/fixtures/blocks/core__cover__solid-color.json
  packages/e2e-tests/fixtures/blocks/core__cover__solid-color.parsed.json
  packages/e2e-tests/fixtures/blocks/core__cover__solid-color.serialized.html
Labels: [Block] Cover, [Type] Bug

#17603 Add custom gradient component
  lib/experiments-page.php
  package-lock.json
  packages/block-editor/src/components/color-palette/control.scss
  packages/block-editor/src/components/gradient-picker/control.js
  packages/block-editor/src/components/gradient-picker/control.scss
  packages/block-editor/src/components/gradient-picker/index.js
  packages/block-editor/src/style.scss
  packages/block-library/src/cover/edit.js
  packages/block-library/src/cover/editor.scss
  packages/components/package.json
  packages/components/src/circular-option-picker/index.js
  packages/components/src/circular-option-picker/style.scss
  packages/components/src/custom-gradient-picker/constants.js
  packages/components/src/custom-gradient-picker/control-points.js
  packages/components/src/custom-gradient-picker/index.js
  packages/components/src/custom-gradient-picker/serializer.js
  packages/components/src/custom-gradient-picker/style.scss
  packages/components/src/custom-gradient-picker/test/serializer.js
  packages/components/src/custom-gradient-picker/utils.js
  packages/components/src/dropdown/index.js
  packages/components/src/index.js
  packages/components/src/style.scss
  packages/editor/src/components/provider/index.js
Labels: Needs Accessibility Feedback, Needs Design Feedback

#18926 Use correct classnames for navigation link block save output
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation/index.php
Labels: [Block] Navigation, [Type] Bug

#18861 Table Block - Ensure empty classname is not output onto table element
  packages/block-library/src/table/save.js
  packages/e2e-tests/fixtures/blocks/core__table.serialized.html
  packages/e2e-tests/fixtures/blocks/core__table__caption.html
  packages/e2e-tests/fixtures/blocks/core__table__caption.json
  packages/e2e-tests/fixtures/blocks/core__table__caption.parsed.json
  packages/e2e-tests/fixtures/blocks/core__table__caption.serialized.html
  packages/e2e-tests/fixtures/blocks/core__table__deprecated-1.serialized.html
  packages/e2e-tests/fixtures/blocks/core__table__scope-attribute.serialized.html
  packages/e2e-tests/specs/editor/blocks/__snapshots__/table.test.js.snap
  test/integration/fixtures/apple-out.html
  test/integration/fixtures/evernote-out.html
  test/integration/fixtures/google-docs-out.html
  test/integration/fixtures/google-docs-table-out.html
  test/integration/fixtures/google-docs-table-with-comments-out.html
  test/integration/fixtures/google-docs-with-comments-out.html
  test/integration/fixtures/markdown-out.html
  test/integration/fixtures/ms-word-online-out.html
  test/integration/fixtures/ms-word-out.html
Labels: [Block] Table, [Type] Bug

#18937 Fix sidebar on mobile.
  packages/edit-post/src/components/editor-regions/style.scss
  packages/edit-post/src/components/sidebar/settings-header/style.scss
  packages/edit-post/src/components/sidebar/style.scss
Labels: [Type] Bug

#18948 Removes the inspector controls for the navigation block
  packages/block-library/src/navigation/edit.js
  packages/block-library/src/navigation/index.php
  packages/e2e-tests/fixtures/blocks/core__navigation.json
  test/integration/full-content/server-registered.json
Labels: [Block] Navigation, [Type] Bug

#18943 Multi select: onSelectionStart may trigger too much
  packages/block-editor/src/components/block-list/block.js
Labels: [Feature] Block Multi Selection, [Package] Block editor, [Type] Bug

#18915 Multi block selection: more responsive UI
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/index.js
  packages/block-editor/src/components/multi-select-scroll-into-view/index.js
Labels: [Feature] Block Multi Selection, [Feature] Writing Flow, [Type] Enhancement

#18968 Convert BlockHTML component from class component to React hooks
  packages/block-editor/src/components/block-list/block-html.js
  packages/block-editor/src/components/block-list/test/block-html.js
Labels: [Type] Code Quality

#18958 Fix reusable block dark theme select tool outline
  packages/block-editor/src/components/block-list/style.scss
  packages/block-library/src/block/edit-panel/editor.scss
Labels: [Feature] Reusable Blocks, [Type] Bug

#18265 Extract Gallery component for semi-cross-platform Gallery block
  packages/block-editor/src/components/media-placeholder/index.native.js
  packages/block-editor/src/components/media-upload/index.native.js
  packages/block-library/src/gallery/edit.js
  packages/block-library/src/gallery/gallery-image.native.js
  packages/block-library/src/gallery/gallery.js
  packages/block-library/src/gallery/shared-icon.js
  packages/block-library/src/gallery/shared-icon.native.js
  packages/block-library/src/gallery/styles.native.scss
  packages/block-library/src/index.native.js
  packages/editor/src/utils/index.native.js
  packages/editor/src/utils/media-upload/index.native.js
Labels: Mobile App Compatibility, [Block] Gallery

#18923 Docs: Reintroduce LTS support commitment
  docs/contributors/getting-started.md
Labels: Framework, [Type] Documentation

#18946 Social Links: Add disableSuggetions to URLInput
  packages/block-library/src/social-link/edit.js
Labels: [Block] Social

#18907 [RNMobile] Media & Text - Adds missing imageFillStyles
  packages/block-library/src/media-text/media-container.native.js
Labels: Mobile App Compatibility, [Type] Bug

#18821 BlockList: use hooks
  packages/block-editor/src/components/block-list/index.js
  packages/block-editor/src/components/block-list/use-multi-selection.js
Labels: [Package] Block editor, [Type] Code Quality

#18975 BlockInsertionPoint: use hooks
  packages/block-editor/src/components/block-list/insertion-point.js
Labels: [Package] Block editor, [Type] Code Quality

#18963 Block Editor: Flatten, shortcut align hook rendering if unaligned
  packages/block-editor/src/hooks/align.js
  packages/block-editor/src/hooks/test/align.js
Labels: [Package] Block editor, [Type] Performance

#18746 Writing flow: allow paste on multiple selected blocks
  packages/block-editor/src/components/copy-handler/index.js
  packages/block-editor/src/utils/get-paste-event-data.js
  packages/e2e-test-utils/src/press-key-with-modifier.js
  packages/e2e-tests/specs/editor/various/__snapshots__/multi-block-selection.test.js.snap
  packages/e2e-tests/specs/editor/various/__snapshots__/rich-text.test.js.snap
  packages/e2e-tests/specs/editor/various/multi-block-selection.test.js
  packages/e2e-tests/specs/editor/various/rich-text.test.js
  packages/rich-text/src/component/index.js
Labels: [Feature] Block Multi Selection, [Feature] Writing Flow, [Package] Block editor

#18703 Env: Run tests using the same version used for development.
  package-lock.json
  packages/env/lib/create-docker-compose-config.js
  packages/env/lib/env.js
  packages/env/package.json
Labels: [Package] Env, [Type] Bug, [Type] Build Tooling

#18960 Editor: Shim meta attribute source on registered `edit` component
  packages/e2e-tests/plugins/meta-attribute-block.php
  packages/editor/src/hooks/custom-sources-backwards-compatibility.js
Labels: Backwards Compatibility, [Type] Performance

#18950 Refactor withViewportMatch to use useViewportMatch
  packages/viewport/src/test/if-viewport-matches.js
  packages/viewport/src/test/with-viewport-match.js
  packages/viewport/src/with-viewport-match.js
  test/unit/config/global-mocks.js
  test/unit/jest.config.js
Labels: [Type] Code Quality, [Type] Enhancement

#16200 Media flow component for media replace
  packages/block-editor/README.md
  packages/block-editor/src/components/index.js
  packages/block-editor/src/components/media-replace-flow/index.js
  packages/block-editor/src/components/media-replace-flow/style.scss
  packages/block-editor/src/style.scss
  packages/block-library/src/image/edit.js
Labels: Needs Technical Feedback, [Feature] Media, [Package] Block library

#18964 Fix #18151
  packages/block-library/src/code/index.js
Labels: Good First Review, Internationalization (i18n), [Block] Code

#18770 E2E Tests: Add CPU/Network slowdown configuration options
  docs/contributors/testing-overview.md
  packages/e2e-tests/CHANGELOG.md
  packages/e2e-tests/config/setup-test-framework.js
Labels: Automated Testing, [Type] Enhancement

#18839 Token List: Add type checking
  packages/token-list/src/index.js
  tsconfig.json
Labels: Automated Testing, [Package] Token List, [Type] Code Quality

#18973 [Tiny PR] Multi selection: fix scroll alter select
  packages/block-editor/README.md
  packages/block-editor/src/components/multi-select-scroll-into-view/index.js
Labels: [Feature] Block Multi Selection, [Package] Block editor, [Type] Bug

#19001 Add "__" accidentally deleted
  packages/block-library/src/code/index.js
Labels: Internationalization (i18n), [Block] Code, [Type] Bug

#18993 i18n: Add ‘translators’ note to Code block example
  packages/block-library/src/code/index.js
Labels: Good First Review, Internationalization (i18n), [Block] Code

#18945 Mobile fixed toolbar: prevent whitespace and toolbar being scrolled off-screen
  packages/edit-post/src/index.js
Labels: Mobile Web

#19008 Block Editor: Align Hook: Pass empty deps to useSelect
  packages/block-editor/src/hooks/align.js
Labels: [Package] Block editor, [Type] Performance

#18828 Add changelog.txt and readme.txt to GitHub repository
  bin/build-plugin-zip.sh
  bin/commander.js
  changelog.txt
  readme.txt
Labels: [Type] Enhancement, [Type] Project Management

#19014 Mobile fixed toolbar: Scroll focused element into view
  packages/edit-post/src/index.js
Labels: Mobile Web

#19012 Docs: Update ServerSideRender import
  docs/designers-developers/developers/tutorials/block-tutorial/creating-dynamic-blocks.md
Labels: [Type] Documentation

#18777 [RNMobile] Activate preformat on android
  packages/block-library/src/index.native.js
  packages/rich-text/src/component/index.native.js
  packages/rich-text/src/component/test/index.native.js
Labels: Mobile App Compatibility

#19005 fix: Import WritingFlow and ObserveTyping
  packages/block-editor/README.md
Labels: [Type] Documentation

#18995 Adding keyword 'download' to the file block for easier searching.
  packages/block-library/src/file/index.js
Labels: [Block] File, [Feature] Inserter, [Type] Enhancement

#18750 Support reduced-motion for Social Links transitions
  packages/block-library/src/social-links/editor.scss
  packages/block-library/src/social-links/style.scss
Labels: [Block] Social, [Type] Enhancement

#19023 Fix: Customiser block editor crashes because setSelectedArea is missing
  packages/edit-widgets/src/components/customizer-edit-widgets-initializer/index.js
  packages/edit-widgets/src/components/widget-areas/index.js
Labels: [Package] Edit Widgets, [Type] Bug

#19022 docs: Correct babel plugin name
  packages/babel-plugin-import-jsx-pragma/README.md
Labels: [Package] Babel plugin import JSX pragma, [Type] Documentation

#17748 Components: Allow to apply isPressed prop to Button and SVG components to indicate the state of the button
  packages/base-styles/_z-index.scss
  packages/block-editor/src/components/link-control/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/media-placeholder/index.js
  packages/block-editor/src/components/responsive-block-control/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/url-input/button.js
  packages/block-editor/src/components/url-input/test/button.js
  packages/block-library/src/code/editor.scss
  packages/block-library/src/heading/heading-level-icon.js
  packages/block-library/src/heading/heading-toolbar.js
  packages/block-library/src/html/edit.js
  packages/block-library/src/image/edit.js
  packages/block-library/src/legacy-widget/edit/index.js
  packages/components/src/button/README.md
  packages/components/src/button/index.js
  packages/components/src/button/index.native.js
  packages/components/src/button/stories/index.js
  packages/components/src/button/test/index.js
  packages/components/src/circular-option-picker/index.js
  packages/components/src/circular-option-picker/style.scss
  packages/components/src/color-palette/test/__snapshots__/index.js.snap
  packages/components/src/color-palette/test/index.js
  packages/components/src/date-time/style.scss
  packages/components/src/date-time/test/__snapshots__/time.js.snap
  packages/components/src/date-time/time.js
  packages/components/src/primitives/svg/index.js
  packages/components/src/primitives/svg/index.native.js
  packages/components/src/primitives/svg/style.native.scss
  packages/components/src/toolbar-button/index.js
  packages/components/src/toolbar-button/style.scss
  packages/components/src/toolbar/style.scss
  packages/e2e-tests/specs/editor/plugins/__snapshots__/plugins-api.test.js.snap
  packages/edit-post/src/components/header/index.js
  packages/edit-post/src/components/header/pinned-plugins/style.scss
  packages/edit-post/src/components/header/style.scss
  packages/edit-post/src/components/sidebar/plugin-post-publish-panel/test/__snapshots__/index.js.snap
  packages/edit-post/src/components/sidebar/plugin-pre-publish-panel/test/__snapshots__/index.js.snap
  packages/edit-post/src/components/sidebar/plugin-sidebar/index.js
  storybook/test/__snapshots__/index.js.snap
Labels: Accessibility (a11y), Mobile App Compatibility, [Package] Block library, [Package] Components

#18260 Limit of Next Page (Page Break) block to root level only
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/selectors.js
  packages/block-library/src/nextpage/index.js
Labels: [Block] More, [Block] Page Break, [Feature] Block API, [Type] Bug

#19027 [RNMobile] Fork native variant of withViewportMatch HOC to use withSelect again
  packages/viewport/src/with-viewport-match.native.js
Labels: Mobile App Compatibility, [Package] Viewport

#19019 Add unit tests to hooks useViewportMatch and useMediaQuery
  packages/compose/src/hooks/use-media-query/test/index.js
  packages/compose/src/hooks/use-viewport-match/test/index.js
Labels: Automated Testing, [Package] Compose

#19029 Fix: Drag & Drop does not work on the widgets screen
  packages/edit-widgets/src/components/layout/index.js
  packages/edit-widgets/src/components/widget-area/style.scss
Labels: [Feature] Widgets, [Type] Bug

#14429 Raw handling: update phrasing content schema
  packages/block-library/src/heading/transforms.js
  packages/block-library/src/html/transforms.js
  packages/block-library/src/image/transforms.js
  packages/block-library/src/list/transforms.js
  packages/block-library/src/paragraph/transforms.js
  packages/block-library/src/preformatted/transforms.js
  packages/block-library/src/quote/transforms.js
  packages/block-library/src/table/transforms.js
  packages/blocks/README.md
  packages/blocks/src/api/raw-handling/index.js
  packages/blocks/src/api/raw-handling/paste-handler.js
  packages/blocks/src/api/raw-handling/phrasing-content.js
  packages/blocks/src/api/raw-handling/utils.js
  test/integration/__snapshots__/blocks-raw-handling.test.js.snap
  test/integration/blocks-raw-handling.test.js
Labels: [Feature] Raw Handling, [Type] Enhancement

#19032 Add missing i18n to "Latest Posts" block settings strings
  packages/block-library/src/latest-posts/edit.js
Labels: Internationalization (i18n), [Block] Latest Posts, [Package] Block library

#19035 Paste: remove trailing br elements
  packages/blocks/src/api/raw-handling/br-remover.js
  packages/blocks/src/api/raw-handling/empty-paragraph-remover.js
  packages/blocks/src/api/raw-handling/html-formatting-remover.js
  packages/blocks/src/api/raw-handling/paste-handler.js
  packages/blocks/src/api/raw-handling/utils.js
  test/integration/__snapshots__/blocks-raw-handling.test.js.snap
  test/integration/blocks-raw-handling.test.js
  test/integration/fixtures/evernote-out.html
  test/integration/fixtures/google-docs-blank-lines.html
  test/integration/fixtures/google-docs-out.html
  test/integration/fixtures/google-docs-with-comments-out.html
  test/integration/fixtures/plain-out.html
Labels: [Feature] Raw Handling, [Type] Bug

#19040 Paste: remove windows paste markers
  packages/blocks/src/api/raw-handling/paste-handler.js
  test/integration/__snapshots__/blocks-raw-handling.test.js.snap
  test/integration/blocks-raw-handling.test.js
  test/integration/fixtures/windows.html
Labels: [Feature] Raw Handling, [Type] Bug

#19043 Paste: strip HTML formatting space for inline text
  packages/blocks/src/api/raw-handling/paste-handler.js
  test/integration/__snapshots__/blocks-raw-handling.test.js.snap
  test/integration/blocks-raw-handling.test.js
  test/integration/fixtures/inline-with-html-formatting-space.html
Labels: [Feature] Raw Handling, [Type] Bug

#19046 Fix: useColors crashes on storybook
  packages/block-editor/src/components/colors/use-colors.js
Labels: [Block] Heading, [Block] Paragraph, [Type] Bug, [a11y] Color Contrast

#19042 E2E Tests: Validate embed rendering before proceeding to next
  packages/e2e-tests/specs/editor/various/embedding.test.js
Labels: Automated Testing

#19048 Block examples: concatenate strings and add translators notes
  packages/block-library/src/image/index.js
  packages/block-library/src/preformatted/index.js
  packages/block-library/src/pullquote/index.js
  packages/block-library/src/verse/index.js
Labels: Internationalization (i18n), [Block] Image, [Block] Preformatted, [Block] Pullquote

#19053 Rich Text: fix format across 2 other formats
  packages/rich-text/src/test/__snapshots__/to-dom.js.snap
  packages/rich-text/src/test/helpers/index.js
  packages/rich-text/src/to-tree.js
Labels: [Feature] Rich Text, [Type] Bug

#19044 Define useSelect dependencies properly
  packages/block-editor/src/components/block-list/block-async-mode-provider.js
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/index.js
  packages/block-editor/src/components/block-list/insertion-point.js
  packages/block-editor/src/components/block-list/use-multi-selection.js
  packages/block-editor/src/components/block-toolbar/index.js
  packages/block-editor/src/components/block-toolbar/index.native.js
  packages/block-editor/src/components/gradient-picker/control.js
  packages/block-editor/src/components/gradient-picker/index.js
  packages/block-editor/src/components/gradient-picker/panel.js
  packages/block-editor/src/components/gradients/index.js
  packages/block-editor/src/components/media-replace-flow/index.js
  packages/block-editor/src/components/multi-select-scroll-into-view/index.js
  packages/block-editor/src/components/page-template-picker/use-page-template-picker-visible.js
  packages/block-editor/src/components/tool-selector/index.js
  packages/block-library/src/columns/edit.js
  packages/block-library/src/paragraph/edit.js
  packages/data/README.md
  packages/data/src/components/async-mode-provider/context.js
  packages/data/src/components/use-dispatch/use-dispatch.js
  packages/edit-post/src/components/header/header-toolbar/index.js
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/welcome-guide/index.js
  packages/edit-widgets/src/components/notices/index.js
  packages/editor/src/components/local-autosave-monitor/index.js
Labels: [Type] Code Quality, [Type] Performance

#17547 [RNMobile] Inner Block Navigate down through hierarchy
  docs/designers-developers/developers/data/data-core-block-editor.md
  packages/base-styles/_variables.scss
  packages/block-editor/src/components/block-list/block-mobile-floating-toolbar.native.js
  packages/block-editor/src/components/block-list/block-mobile-floating-toolbar.native.scss
  packages/block-editor/src/components/block-list/block.native.js
  packages/block-editor/src/components/block-list/block.native.scss
  packages/block-editor/src/components/block-list/index.native.js
  packages/block-editor/src/components/block-list/style.native.scss
  packages/block-editor/src/components/button-block-appender/index.native.js
  packages/block-editor/src/components/button-block-appender/styles.native.scss
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/selectors.js
  packages/block-library/src/group/edit.native.js
  packages/block-library/src/group/editor.native.scss
  packages/block-library/src/media-text/edit.native.js
  packages/block-library/src/media-text/style.native.scss
  packages/edit-post/src/components/visual-editor/style.native.scss
  packages/editor/src/components/post-title/index.native.js
  packages/editor/src/components/post-title/style.native.scss
Labels: Mobile App Compatibility, Needs Design Feedback

#19060 Fix: Gallery crashes on contributor roles
  packages/block-library/src/gallery/edit.js
Labels: [Block] Gallery, [Type] Bug

#19064 Paste: don't unwrap inline images
  packages/blocks/src/api/raw-handling/figure-content-reducer.js
  packages/blocks/src/api/raw-handling/is-inline-content.js
  packages/blocks/src/api/raw-handling/phrasing-content.js
  packages/blocks/src/api/raw-handling/test/figure-content-reducer.js
  test/integration/fixtures/wordpress-in.html
  test/integration/fixtures/wordpress-out.html
Labels: [Feature] Raw Handling, [Type] Bug

#18997 Priority Queue: Enable types with enhanced JSDoc type details
  package-lock.json
  package.json
  packages/priority-queue/README.md
  packages/priority-queue/src/index.js
  tsconfig.json
Labels: [Package] Priority Queue, [Type] Code Quality

#14815 Paste: apply active formats when pasting inline
  packages/block-editor/src/components/rich-text/index.js
  packages/e2e-tests/specs/editor/various/__snapshots__/rich-text.test.js.snap
  packages/e2e-tests/specs/editor/various/rich-text.test.js
  packages/rich-text/src/component/index.js
Labels: Good First Review, [Feature] Rich Text

#19072 Bin: Include demo block templates in build ZIP.
  bin/build-plugin-zip.sh
Labels: [Feature] Full Site Editing

#17085 Add mechanism to set a width on withViewportMatch
  packages/compose/README.md
  packages/compose/src/hooks/use-media-query/index.js
  packages/compose/src/hooks/use-media-query/test/index.js
  packages/compose/src/hooks/use-viewport-match/index.js
  packages/compose/src/hooks/use-viewport-match/test/index.js
  packages/edit-post/src/editor.js
Labels: Mobile Web, [Feature] Widgets

#19075 Revert: File unintentionally merged in PR#17085
  packages/edit-post/src/editor.js
Labels: [Type] Bug

#19059 Raw handling: Skip shortcode if not on its own line
  packages/blocks/src/api/raw-handling/shortcode-converter.js
  test/integration/shortcode-converter.test.js
Labels: [Feature] Raw Handling, [Feature] Shortcodes

#19097 Convert to blocks: preserve alignment
  packages/block-library/src/heading/transforms.js
  packages/block-library/src/paragraph/transforms.js
  packages/blocks/src/api/raw-handling/paste-handler.js
  packages/blocks/src/api/raw-handling/utils.js
  test/integration/__snapshots__/blocks-raw-handling.test.js.snap
  test/integration/blocks-raw-handling.test.js
Labels: [Feature] Raw Handling, [Type] Enhancement

#19099 i18n: Add types
  packages/i18n/README.md
  packages/i18n/src/index.js
  tsconfig.json
Labels: [Package] i18n, [Type] Code Quality

#19039 [RNMobile] Remove Reset button from Spacer settings
  packages/components/src/mobile/bottom-sheet/range-cell.native.js
Labels: Mobile App Compatibility, [Block] Spacer

#19090 Is Shallow Equal: Add types
  packages/is-shallow-equal/arrays.js
  packages/is-shallow-equal/index.js
  packages/is-shallow-equal/objects.js
  tsconfig.json
Labels: [Package] is-shallow-equal, [Type] Code Quality

#19091 New hook: useInstanceId (alternative)
  packages/block-editor/src/components/responsive-block-control/label.js
  packages/block-editor/src/components/url-input/index.native.js
  packages/block-library/src/shortcode/edit.js
  packages/components/src/checkbox-control/index.js
  packages/components/src/custom-gradient-picker/control-points.js
  packages/components/src/dimension-control/test/__snapshots__/index.test.js.snap
  packages/components/src/font-size-picker/index.js
  packages/components/src/form-token-field/token.js
  packages/components/src/menu-group/index.js
  packages/components/src/radio-control/index.js
  packages/components/src/select-control/index.js
  packages/components/src/text-control/index.js
  packages/components/src/textarea-control/index.js
  packages/compose/README.md
  packages/compose/src/higher-order/with-instance-id/index.js
  packages/compose/src/hooks/use-instance-id/README.md
  packages/compose/src/hooks/use-instance-id/index.js
  packages/compose/src/hooks/use-instance-id/test/index.js
  packages/compose/src/index.js
  packages/edit-post/src/components/manage-blocks-modal/show-all.js
  packages/editor/src/components/post-publish-panel/test/__snapshots__/index.js.snap
Labels: [Type] Code Quality

#19089 Dom Ready: Add types
  packages/dom-ready/README.md
  packages/dom-ready/src/index.js
  tsconfig.json
Labels: [Package] DOM ready, [Type] Code Quality

#19105 Added 'top-level' to the label of create navigation
  packages/block-library/src/navigation/edit.js
Labels: [Block] Navigation, [Type] Enhancement

#19092 Blob: Add types
  packages/blob/README.md
  packages/blob/src/index.js
  tsconfig.json
Labels: [Package] Blob, [Type] Code Quality

#18029 Explore Multi-Entity Saving
  docs/designers-developers/developers/data/data-core-editor.md
  docs/designers-developers/developers/data/data-core.md
  package-lock.json
  packages/core-data/README.md
  packages/core-data/src/selectors.js
  packages/core-data/src/test/selectors.js
  packages/editor/package.json
  packages/editor/src/components/entities-saved-states/index.js
  packages/editor/src/components/entities-saved-states/style.scss
  packages/editor/src/components/index.js
  packages/editor/src/components/post-publish-button/index.js
  packages/editor/src/components/post-publish-button/label.js
  packages/editor/src/components/post-publish-button/style.scss
  packages/editor/src/store/selectors.js
  packages/editor/src/store/test/selectors.js
  packages/editor/src/style.scss
Labels: Needs Design Feedback, [Feature] Full Site Editing

#18929 Add end-to-end tests for Navigation block
  packages/e2e-test-utils/src/press-key-with-modifier.js
  packages/e2e-tests/specs/editor/blocks/__snapshots__/navigation.test.js.snap
  packages/e2e-tests/specs/editor/blocks/navigation.test.js
Labels: Automated Testing, [Block] Navigation, [Type] Task

#19094 Multi-select: Polish further, try new style.
  packages/block-editor/src/components/block-list/style.scss
Labels: [Type] Enhancement

#18440 Experimental: allow parent Block to consume child Block's toolbar
  packages/block-editor/src/components/block-list/block-child-toolbar.js
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/style.scss
  packages/block-editor/src/components/inner-blocks/README.md
  packages/block-editor/src/components/inner-blocks/index.js
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/selectors.js
  packages/data/src/registry.js
Labels: [Package] Block editor, [Type] Enhancement

#19123 Assign an explicit color to buttons
  packages/components/src/button/style.scss
Labels: [Feature] UI Components

#19121 Refine multiselect.
  packages/base-styles/_colors.scss
  packages/block-editor/src/components/block-list/style.scss
Labels: [Type] Enhancement

#18927 Framework: Resolve WordPress package type imports
  tsconfig.json
Labels: Automated Testing, [Status] In Progress

#19131 Try a narrow trash button
  packages/editor/src/components/post-trash/style.scss
Labels: Needs Design Feedback

#19096 A11y: Add types
  packages/a11y/src/addContainer.js
  packages/a11y/src/index.js
  tsconfig.json
Labels: [Package] A11y, [Type] Code Quality

#19047 [RNMobile] Merge mobile release v1.19.0 back into master
  packages/viewport/src/with-viewport-match.native.js
Labels: Mobile App Compatibility

#19146 Update package changelog with note about dependency file name changing
  packages/dependency-extraction-webpack-plugin/CHANGELOG.md
Labels: [Package] Dependency Extraction Webpack Plugin, [Type] Documentation

#19138 Trying move to trash as a link
  packages/editor/src/components/post-trash/index.js
Labels: Needs Design Feedback

#19159 Base Styles: Import colors into variables
  packages/base-styles/CHANGELOG.md
  packages/base-styles/_variables.scss
Labels: [Type] Bug

#19157 Try: Default cursor for Select Tool
  packages/block-editor/src/components/block-list/style.scss
Labels: [Type] Enhancement

#19126 Refactor the MediaReplaceFlow component to use Dropdown
  packages/block-editor/src/components/media-replace-flow/index.js
  packages/block-editor/src/components/media-replace-flow/style.scss
Labels: [Type] Code Quality

#19028 Image Block: Revert circle mask, add "rounded"
  packages/block-library/src/image/index.js
  packages/block-library/src/image/style.scss
Labels: [Type] Bug, [Type] Enhancement
