Repository WordPress/gutenberg, pull requests merged in 2020-11, with the labels that each got.

#26586 Removes extra fullstop from preferences
  packages/edit-post/src/components/preferences-modal/index.js
  packages/edit-post/src/components/preferences-modal/test/__snapshots__/index.js.snap
Labels: Backport to WP Beta/RC, Good First Review

#26569 Cover block: Restore default overlay background
  packages/block-library/CHANGELOG.md
  packages/block-library/src/cover/style.scss
Labels: Backport to WP Beta/RC, [Block] Cover, [Package] Block library, [Type] Bug, [Type] Regression

#26312 Change replaceInnerBlocks updateSelection property to false
  docs/designers-developers/developers/data/data-core-block-editor.md
  packages/block-editor/src/components/block-variation-picker/index.native.js
  packages/block-editor/src/components/inner-blocks/README.md
  packages/block-editor/src/components/provider/test/use-block-sync.js
  packages/block-editor/src/components/provider/use-block-sync.js
  packages/block-editor/src/store/actions.js
  packages/block-editor/src/store/test/actions.js
  packages/block-library/src/buttons/edit.js
  packages/block-library/src/buttons/edit.native.js
  packages/block-library/src/columns/edit.js
  packages/block-library/src/columns/edit.native.js
  packages/block-library/src/cover/edit.js
  packages/block-library/src/cover/edit.native.js
  packages/block-library/src/media-text/edit.js
  packages/block-library/src/media-text/edit.native.js
  packages/block-library/src/navigation/edit.js
  packages/block-library/src/query-loop/edit.js
  packages/block-library/src/query/edit/index.js
  packages/e2e-tests/plugins/block-context/index.js
  packages/e2e-tests/plugins/inner-blocks-templates/index.js
Labels: Needs Dev Note, [Package] Block editor

#26552 Interface Skeleton: Limit the Editor Interface to max-width: 100%
  packages/interface/src/components/interface-skeleton/style.scss
Labels: Backport to WP Beta/RC, General Interface, [Package] Interface, [Type] Bug

#26268 FSE: Strip post ids from template part blocks on export.
  lib/edit-site-export.php
  phpunit/bootstrap.php
  phpunit/class-edit-site-export-test.php
Labels: Automated Testing, [Feature] Full Site Editing

#26625 Restore opacity controls
  packages/block-library/CHANGELOG.md
  packages/block-library/src/cover/edit.js
Labels: Backport to WP Beta/RC, [Block] Cover, [Package] Block library, [Type] Regression

#26500 Automatically enable FSE for FSE themes
  gutenberg.php
  lib/blocks.php
  lib/experiments-page.php
  lib/full-site-editing.php
  lib/load.php
  lib/template-loader.php
  lib/template-parts.php
  lib/templates.php
  packages/block-editor/README.md
  packages/block-editor/src/store/defaults.js
  packages/block-library/src/index.js
  packages/block-library/src/site-logo/index.php
  packages/e2e-test-utils/src/themes.js
  packages/e2e-tests/specs/experiments/multi-entity-editing.test.js
  packages/e2e-tests/specs/experiments/multi-entity-saving.test.js
  packages/e2e-tests/specs/experiments/template-part.test.js
  packages/e2e-tests/specs/performance/site-editor.test.js
  packages/edit-navigation/src/index.js
  packages/edit-post/src/index.js
  packages/edit-site/src/index.js
  packages/edit-widgets/src/index.js
  packages/editor/src/components/provider/index.js
  packages/editor/src/store/selectors.js
  packages/editor/src/store/test/selectors.js
  test/integration/full-content/full-content.test.js
Labels: [Feature] Full Site Editing

#26594 Disable customizer and widgets from FSE
  gutenberg.php
  lib/full-site-editing.php
Labels: [Feature] Full Site Editing, [Type] Experimental

#26553 Update Version in WordPress doc for 5.5.2 and 5.6
  docs/contributors/versions-in-wordpress.md
Labels: [Type] Documentation

#26478 Update glossary to include more block based terminology
  docs/designers-developers/glossary.md
Labels: [Type] Documentation, [Type] Enhancement

#26508 Fix RTL e2e tests
  packages/e2e-tests/specs/editor/various/__snapshots__/rtl.test.js.snap
  packages/e2e-tests/specs/editor/various/rtl.test.js
Labels: Automated Testing, [Type] Code Quality

#26631 Make the allowed blocks test more stable
  packages/e2e-tests/specs/editor/plugins/allowed-blocks.test.js
Labels: Automated Testing

#26643 Return menu order in filter
  lib/full-site-editing.php
Labels: [Feature] Full Site Editing, [Type] Bug

#26376 Fix image block centering when resizing to a smaller size
  packages/block-library/src/image/editor.scss
  packages/block-library/src/image/style.scss
Labels: Backport to WP Beta/RC, CSS Styling, [Block] Image, [Type] Regression

#26597 Allow adding a header by typing /h1, /h2 etc
  packages/block-library/src/heading/transforms.js
Labels: [Block] Heading, [Type] Enhancement

#26637 Allow editing of extracted excerpt
  packages/block-library/src/post-excerpt/edit.js
Labels: [Block] Post Excerpt, [Package] Block library, [Type] Enhancement

#26447 Memoize getEntityRecords to prevent infinite re-renders
  packages/core-data/src/selectors.js
  packages/core-data/src/test/selectors.js
  packages/edit-widgets/src/components/widget-areas-block-editor-provider/index.js
Labels: [Feature] Widgets Screen, [Type] Bug, [Type] Performance

#26575 Resolve per-entity resolvers after receiving a list of records
  packages/core-data/src/resolvers.js
  packages/core-data/src/test/integration.js
  packages/core-data/src/test/resolvers.js
Labels: [Package] Core data, [Package] Data

#26627 Do not invalidate the entity record during optimistic update in saveEntityRecord
  packages/core-data/src/actions.js
  packages/core-data/src/test/actions.js
Labels: [Package] Core data

#26466 Mobile Release v1.40.0
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App Android/iOS

#26609 Fix: Global styles: Hide Block panels without content
  packages/edit-site/src/components/sidebar/color-panel.js
  packages/edit-site/src/components/sidebar/global-styles-sidebar.js
  packages/edit-site/src/components/sidebar/typography-panel.js
Labels: Global Styles, [Type] Enhancement

#26319 Update global styles reference preset variables on colors and gradients
  lib/global-styles.php
  packages/edit-site/src/components/editor/global-styles-renderer.js
  packages/edit-site/src/components/editor/utils.js
  packages/edit-site/src/components/sidebar/color-panel.js
Labels: Global Styles, [Type] Enhancement

#26647 Update the order of settings and filters in the sidebar
  packages/block-library/src/query/edit/query-inspector-controls.js
Labels: [Block] Query

#26145 Gallery: use API v2
  packages/block-library/src/gallery/block.json
  packages/block-library/src/gallery/edit.js
  packages/block-library/src/gallery/gallery.js
  packages/block-library/src/gallery/save.js
Labels: [Block] Gallery, [Type] Code Quality

#26610 Site Editor: reorder template creation dropdown
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/new-template-dropdown.js
  packages/edit-site/src/utils/get-template-info/constants.js
  packages/edit-site/src/utils/get-template-info/index.js
Labels: [Feature] Full Site Editing, [Package] Edit Site

#26430 Hooks: Type package
  .eslintignore
  packages/block-editor/tsconfig.json
  packages/components/tsconfig.json
  packages/hooks/CHANGELOG.md
  packages/hooks/package.json
  packages/hooks/src/createAddHook.js
  packages/hooks/src/createCurrentHook.js
  packages/hooks/src/createDidHook.js
  packages/hooks/src/createDoingHook.js
  packages/hooks/src/createHasHook.js
  packages/hooks/src/createHooks.js
  packages/hooks/src/createRemoveHook.js
  packages/hooks/src/createRunHook.js
  packages/hooks/src/index.js
  packages/hooks/tsconfig.json
  tsconfig.json
  typings/gutenberg-env/index.d.ts
Labels: Npm Packages, [Package] Hooks, [Type] Code Quality

#26507 wp-env: Add support for custom WP_HOME port
  packages/env/lib/config/config.js
  packages/env/lib/config/test/config.js
Labels: [Package] Env, [Type] Enhancement

#26060 Block Support: Add text transform block support using CSS variables
  lib/block-supports/typography.php
  lib/experimental-default-theme.json
  lib/global-styles.php
  packages/block-editor/src/components/text-decoration-and-transform/index.js
  packages/block-editor/src/components/text-decoration-and-transform/style.scss
  packages/block-editor/src/components/text-transform-control/index.js
  packages/block-editor/src/components/text-transform-control/style.scss
  packages/block-editor/src/hooks/text-transform.js
  packages/block-editor/src/hooks/typography.js
  packages/block-editor/src/style.scss
  packages/block-library/src/navigation/block.json
  packages/blocks/src/api/constants.js
  packages/edit-site/src/components/editor/utils.js
  packages/icons/src/index.js
  packages/icons/src/library/format-capitalize.js
  packages/icons/src/library/format-lowercase.js
  packages/icons/src/library/format-uppercase.js
Labels: [Feature] Design Tools

#26263 Fix responsive embeds on widget screen
  lib/widgets-page.php
Labels: [Block] Embed, [Feature] Widgets Screen, [Type] Bug

#26659 [Mobile] - InnerBlocks - Support for LayoutProvider
  packages/block-editor/src/components/inner-blocks/index.native.js
  packages/block-editor/src/hooks/align.native.js
Labels: Mobile App Android/iOS, [Type] Bug

#26653 FSE: Enhance multiple saved entities titles
  packages/core-data/src/entities.js
  packages/core-data/src/selectors.js
Labels: [Feature] Full Site Editing

#26663 Add docs for AutosaveMonitor
  packages/editor/src/components/autosave-monitor/index.js
Labels: [Package] Editor

#26676 Gallery: Remove caption fallback for alt attribute
  packages/block-library/src/gallery/save.js
Labels: Backport to WP Beta/RC, [Block] Gallery, [Type] Bug

#26201 Try useAnimate for all <Animate /> cases, lightening the React tree
  packages/components/src/navigation/index.js
  packages/components/src/popover/index.js
  packages/editor/src/components/post-saved-state/index.js
  packages/interface/src/components/complementary-area/index.js
Labels: [Type] Code Quality

#26257 add typography options to list component
  packages/block-library/src/list/block.json
Labels: [Block] List

#24868 Add: Font Family picking mechanism
  lib/block-supports/typography.php
  lib/global-styles.php
  packages/block-editor/src/components/font-family/index.js
  packages/block-editor/src/components/index.js
  packages/block-editor/src/hooks/font-family.js
  packages/block-editor/src/hooks/typography.js
  packages/block-library/src/navigation/block.json
  packages/block-library/src/post-title/block.json
  packages/block-library/src/site-tagline/block.json
  packages/block-library/src/site-title/block.json
  packages/blocks/src/api/constants.js
  packages/edit-site/src/components/editor/utils.js
  packages/edit-site/src/components/sidebar/typography-panel.js
Labels: Global Styles, Needs Accessibility Feedback, Needs Design Feedback, [Feature] Themes

#26613 Fix Nav Panel template part bugs (and failing template part e2e for "cannot find 'header'")
  packages/e2e-tests/specs/experiments/multi-entity-editing.test.js
  packages/edit-site/src/components/navigation-sidebar/index.js
  packages/edit-site/src/components/navigation-sidebar/navigation-toggle/index.js
Labels: Automated Testing, [Feature] Full Site Editing

#26699 Site Editor: Replace incorrect `find` with `filter` in the sidebar
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/menus/templates-posts.js
Labels: [Feature] Full Site Editing, [Type] Bug

#26523 Navigation Component: Update styles to reference grid spacing helper
  packages/components/src/navigation/styles/navigation-styles.js
Labels: [Feature] Full Site Editing, [Type] Code Quality

#26684 Try: Use currentColor to design quote blocks
  packages/block-library/src/pullquote/theme.scss
  packages/block-library/src/quote/theme.scss
Labels: [Block] Pullquote, [Block] Quote, [Type] Bug

#26456 Polish shortcode block.
  packages/block-library/src/shortcode/editor.scss
Labels: CSS Styling, [Feature] Shortcodes, [Package] Block library, [Type] Enhancement

#26353 Movers: Small positioning refactor.
  packages/block-editor/src/components/block-list/style.scss
  packages/block-editor/src/components/block-mover/style.scss
Labels: [Type] Code Quality

#26705 Fix: Font size picker does not correctly handles big font sizes.
  packages/components/src/font-size-picker/index.js
Labels: [Type] Bug

#26680 Fix quote block alignment
  packages/block-library/src/quote/style.scss
Labels: [Block] Quote, [Type] Regression

#25218 Try: Remove menu item min-width.
  package-lock.json
  packages/block-editor/src/autocompleters/style.scss
  packages/block-editor/src/components/tool-selector/style.scss
  packages/components/src/autocomplete/style.scss
  packages/components/src/dropdown-menu/style.scss
  packages/components/src/menu-item/index.js
  packages/components/src/menu-item/style.scss
  packages/components/src/menu-item/test/__snapshots__/index.js.snap
  packages/components/src/popover/style.scss
  packages/e2e-test-utils/CHANGELOG.md
  packages/e2e-test-utils/README.md
  packages/e2e-test-utils/src/click-menu-item.js
  packages/e2e-test-utils/src/click-on-more-menu-item.js
  packages/e2e-test-utils/src/index.js
  packages/e2e-test-utils/src/switch-editor-mode-to.js
  packages/e2e-tests/specs/editor/blocks/preformatted.test.js
  packages/e2e-tests/specs/editor/plugins/annotations.test.js
  packages/e2e-tests/specs/editor/plugins/cpt-locking.test.js
  packages/e2e-tests/specs/editor/various/block-grouping.test.js
  packages/e2e-tests/specs/editor/various/duplicating-blocks.test.js
  packages/e2e-tests/specs/editor/various/editor-modes.test.js
  packages/e2e-tests/specs/editor/various/invalid-block.test.js
  packages/e2e-tests/specs/editor/various/reusable-blocks.test.js
Labels: [Type] Enhancement

#26719 Update package lock
  package-lock.json
Labels: Automated Testing

#26709 Fix improper e2e assertion in template-part.test
  packages/e2e-tests/specs/experiments/template-part.test.js
Labels: Automated Testing, [Feature] Full Site Editing, [Package] E2E Tests

#26682 Revert "Fix #22892 and print classnames in spacer block on editor sid…
  packages/block-library/src/spacer/edit.js
Labels: [Block] Spacer

#26602 File Block: Copy url button is moved to Block toolbar
  packages/block-library/CHANGELOG.md
  packages/block-library/src/file/edit.js
  packages/block-library/src/file/editor.scss
  packages/components/CHANGELOG.md
  packages/e2e-tests/specs/local/demo.test.js
Labels: Needs Design Feedback, [Block] File, [Type] Enhancement

#26712 Update nodegit to 0.27.0 in @wordpress/env
  package-lock.json
  packages/env/package.json
Labels: [Package] Env

#26708 Full Site Editing: Use template and template parts entities titles
  packages/core-data/src/entities.js
  packages/e2e-tests/specs/experiments/multi-entity-editing.test.js
Labels: [Feature] Full Site Editing

#26657 Document should be specified for getBlockDOMNode
  packages/block-editor/src/components/block-list/block-popover.js
  packages/block-editor/src/components/block-list/insertion-point.js
  packages/block-editor/src/components/block-list/use-multi-selection.js
  packages/block-editor/src/components/multi-select-scroll-into-view/index.js
  packages/block-editor/src/components/skip-to-selected-block/index.js
  packages/block-editor/src/components/writing-flow/focus-capture.js
  packages/block-editor/src/components/writing-flow/index.js
  packages/block-editor/src/hooks/color-panel.js
  packages/block-editor/src/utils/dom.js
Labels: [Type] Code Quality

#23751 Lazy Import: Allow local paths as an option when importing
  packages/is-shallow-equal/benchmark/index.js
  packages/lazy-import/CHANGELOG.md
  packages/lazy-import/README.md
  packages/lazy-import/lib/index.js
Labels: [Package] Lazy import, [Type] New API

#26737 FocusableIframe: use hooks and avoid withGlobalEvents
  packages/components/src/focusable-iframe/index.js
Labels: [Type] Code Quality

#26728 Popover: allow sticky boundary element to be specified (unstable API)
  packages/block-editor/src/components/block-list/block-popover.js
  packages/components/src/popover/index.js
  packages/components/src/popover/utils.js
Labels: [Package] Components, [Type] Enhancement

#26683 Update material lib to v1.2.1
  packages/react-native-bridge/android/build.gradle
Labels: Mobile App Android/iOS

#26601 Add wide and full alignment options to the post/site title blocks
  packages/block-library/src/post-title/block.json
  packages/block-library/src/site-title/block.json
Labels: [Block] Post Title, [Block] Site Title, [Feature] Full Site Editing, [Feature] Themes, [Type] Enhancement

#26021 Try: Make site editor responsive.
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/editor/style.scss
  packages/edit-site/src/components/header/index.js
  packages/edit-site/src/components/header/style.scss
  packages/edit-site/src/components/left-sidebar/index.js
  packages/edit-site/src/components/left-sidebar/inserter-panel/index.js
  packages/edit-site/src/components/left-sidebar/inserter-panel/style.scss
  packages/edit-site/src/components/save-button/index.js
  packages/edit-site/src/style.scss
  packages/interface/src/components/interface-skeleton/style.scss
Labels: Mobile Web, [Feature] Full Site Editing, [Type] Enhancement

#26736 Gallery: Remove obsolete deprecation entry
  packages/block-library/src/gallery/deprecated.js
Labels: Backport to WP Beta/RC, [Block] Gallery, [Package] Block library

#23712 Create block: Add support for external templates installed from npm
  package-lock.json
  packages/create-block/CHANGELOG.md
  packages/create-block/README.md
  packages/create-block/lib/index.js
  packages/create-block/lib/init-wp-scripts.js
  packages/create-block/lib/templates.js
  packages/create-block/package.json
Labels: [Package] Create Block, [Type] New API

#26761 Fix horizontal mover icon position.
  packages/block-editor/src/components/block-list/style.scss
  packages/block-editor/src/components/block-mover/style.scss
Labels: [Type] Bug, [Type] Regression

#26704 [RNMobile] iOS side of bridge for media collection blocks
  packages/react-native-bridge/ios/Gutenberg.swift
  packages/react-native-bridge/ios/GutenbergBridgeDelegate.swift
  packages/react-native-bridge/ios/RNReactNativeGutenbergBridge.m
  packages/react-native-bridge/ios/RNReactNativeGutenbergBridge.swift
  packages/react-native-editor/ios/GutenbergDemo/GutenbergViewController.swift
Labels: Mobile App Android/iOS

#26750 Chore: Fix: Font families property passing on TypographyPanel
  packages/edit-site/src/components/sidebar/typography-panel.js
Labels: [Type] Bug

#26567 Try: Windows 10 high contrast mode improvements.
  packages/components/src/button/style.scss
  packages/components/src/select-control/styles/select-control-styles.js
Labels: Accessibility (a11y)

#24626 Do not apply text color if it is being overriden
  packages/block-library/src/button/style.scss
Labels: CSS Styling, [Block] Buttons, [Feature] Themes, [Package] Block library

#26707 Fix: Preset colors don't work on button block style outline
  packages/block-library/src/button/style.scss
Labels: Backport to WP Beta/RC, [Block] Buttons, [Type] Bug

#26767 Add support for line height at the global level
  docs/designers-developers/developers/themes/theme-json.md
  lib/global-styles.php
Labels: Global Styles

#26768 [RNMobile] Fix - Check if fontStyles exists inside useIsFontAppearanceDisabled
  packages/block-editor/src/hooks/font-appearance.js
Labels: Mobile App Android/iOS, [Type] Bug

#26774 Tests: Add fixture for Column deprecation
  packages/block-library/src/column/deprecated.js
  packages/e2e-tests/fixtures/blocks/core__column__deprecated-1.html
  packages/e2e-tests/fixtures/blocks/core__column__deprecated-1.json
  packages/e2e-tests/fixtures/blocks/core__column__deprecated-1.parsed.json
  packages/e2e-tests/fixtures/blocks/core__column__deprecated-1.serialized.html
Labels: Automated Testing, [Block] Columns, [Package] Block library

#26778 Fix: LineHeightControl is not disabled at the global styles block level
  packages/edit-site/src/components/sidebar/typography-panel.js
Labels: Global Styles, [Type] Bug

#26692 Add useStoreSelectors hook
  package-lock.json
  package.json
  packages/data/CHANGELOG.md
  packages/data/README.md
  packages/data/src/components/use-store-selectors/index.js
  packages/data/src/components/use-store-selectors/test/index.js
  packages/data/src/index.js
Labels: Needs Dev Note, [Package] Core data, [Package] Data

#25921 Social Links: Add ability to change social icon sizes
  packages/block-library/src/social-link/editor.scss
  packages/block-library/src/social-links/block.json
  packages/block-library/src/social-links/edit.js
  packages/block-library/src/social-links/editor.scss
  packages/block-library/src/social-links/save.js
  packages/block-library/src/social-links/style.scss
Labels: [Block] Social

#26691 Updating some native mobile UI tests
  packages/react-native-editor/__device-tests__/gutenberg-editor-paragraph.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-paste.test.js
  packages/react-native-editor/__device-tests__/pages/editor-page.js
Labels: Mobile App Android/iOS

#26779 Format library: use hooks for all components
  package-lock.json
  packages/format-library/package.json
  packages/format-library/src/image/index.js
  packages/format-library/src/link/index.js
Labels: [Type] Code Quality

#26784 Chore: Fix: Pass clearable setting on ColorGradientControl.
  packages/block-editor/src/components/colors-gradients/control.js
Labels: [Type] Bug

#26649 Build Tooling: Rebuild stylesheets when imported styles are modified
  bin/packages/build.js
Labels: Needs Technical Feedback, [Type] Build Tooling

#26726 Update token field icon
  packages/components/src/form-token-field/style.scss
  packages/components/src/form-token-field/token.js
Labels: General Interface

#26732 [RNMobile] Use Hermes bytecode
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/package.json
Labels: Mobile App Android/iOS

#26793 Typos in getting-started.md
  docs/contributors/getting-started.md
Labels: [Type] Documentation

#26790 Typo in data-flow.md
  docs/architecture/data-flow.md
Labels: [Type] Documentation

#26792 Typo in document.md
  docs/contributors/document.md
Labels: [Type] Documentation

#26618 Correct the docblock for the `widget_comments_args` filter
  packages/block-library/src/latest-comments/index.php
Labels: [Feature] Extensibility, [Type] Documentation

#26801 Format library: add Keyboard Input (<kbd>)
  packages/format-library/src/default-formats.js
  packages/format-library/src/keyboard/index.js
Labels: [Package] Format library, [Type] Feature

#26797 Typo in block-transforms.md
  docs/designers-developers/developers/block-api/block-transforms.md
Labels: [Type] Documentation

#26796 Typo in block-annotations.md
  docs/designers-developers/developers/block-api/block-annotations.md
Labels: [Type] Documentation

#26795 Typo in animation.md
  docs/designers-developers/designers/animation.md
Labels: [Type] Documentation

#26782 Format library: introduce useAnchorRef
  packages/format-library/src/image/index.js
  packages/format-library/src/link/index.js
  packages/format-library/src/link/inline.js
  packages/format-library/src/text-color/index.js
  packages/format-library/src/text-color/inline.js
  packages/rich-text/README.md
  packages/rich-text/src/component/format-edit.js
  packages/rich-text/src/component/index.js
  packages/rich-text/src/component/use-anchor-ref.js
  packages/rich-text/src/index.js
Labels: [Package] Format library

#24346 [Android] Image block - upload multiple
  packages/react-native-bridge/android/src/main/java/org/wordpress/mobile/WPAndroidGlue/WPAndroidGlueCode.java
  packages/react-native-editor/CHANGELOG.md
Labels: Mobile App Android/iOS, [Block] Image, [Feature] Media, [Status] In Progress

#24831 cleanup unnecessary code
  lib/blocks.php
Labels: [Feature] Blocks, [Type] Code Quality

#26650 Fix REST API auto-draft creation
  docs/architecture/fse-templates.md
  docs/architecture/readme.md
  docs/designers-developers/developers/themes/block-based-themes.md
  docs/manifest.json
  docs/toc.json
  lib/edit-site-export.php
  lib/load.php
  lib/template-loader.php
  lib/template-parts.php
  lib/templates-sync.php
  lib/templates.php
Labels: REST API Interaction, [Feature] Full Site Editing, [Type] Experimental

#26777 [RNMobile] Remove flex from range cell container
  packages/components/src/mobile/bottom-sheet/range-cell.native.scss
Labels: [Type] Bug

#26720 Tweak some menu items.
  packages/block-editor/src/components/block-navigation/style.scss
  packages/edit-site/src/components/header/document-actions/style.scss
Labels: [Feature] Full Site Editing, [Package] Edit Site, [Type] Enhancement

#26806 Append missing </div> to post-excerpt block (#26581)
  packages/block-library/src/post-excerpt/index.php
Labels: [Block] Post Excerpt, [Type] Bug

#26357 Try: Wider vanilla column width.
  packages/base-styles/_variables.scss
Labels: Needs Design Feedback, [Type] Enhancement

#26623 Provide a minimum of code wrapping for the code block.
  packages/block-library/src/code/style.scss
  packages/block-library/src/style.scss
Labels: CSS Styling, Needs Design Feedback, [Block] Code

#26813 Error when trying to get selection directly with window global
  packages/block-editor/src/components/rich-text/index.js
  packages/components/src/autocomplete/index.js
  packages/eslint-plugin/configs/custom.js
  packages/rich-text/src/component/use-anchor-ref.js
Labels: [Type] Code Quality

#26776 PostAuthor: Safeguard to wait for authors to load.
  packages/block-library/src/post-author/edit.js
Labels: [Block] Post Author, [Type] Bug

#24821 Use 2-pass terser compression
  packages/scripts/config/webpack.config.js
  webpack.config.js
Labels: [Type] Build Tooling, [Type] Performance

#26517 Site Editor: Rename left sidebar → block library
  packages/block-editor/src/components/block-icon/README.md
  packages/edit-post/src/components/layout/index.js
  packages/edit-site/src/components/editor/index.js
  packages/edit-widgets/src/components/layout/interface.js
  packages/interface/src/components/interface-skeleton/index.js
  packages/interface/src/components/interface-skeleton/style.scss
Labels: General Interface, [Feature] Full Site Editing

#26757 Fix/column width units
  packages/block-library/src/column/edit.js
  packages/block-library/src/column/save.js
  packages/block-library/src/columns/edit.js
  packages/block-library/src/columns/test/utils.js
  packages/block-library/src/columns/utils.js
Labels: Backport to WP Beta/RC, [Block] Columns, [Type] Bug

#26814 Focus return: make document.activeElement relative to ref
  packages/components/src/higher-order/with-focus-return/context.js
  packages/components/src/higher-order/with-focus-return/index.js
  packages/components/src/higher-order/with-focus-return/test/index.js
Labels: [Type] Code Quality

#26551 Iterations to link interface
  packages/block-editor/src/components/link-control/search-create-button.js
  packages/block-editor/src/components/link-control/style.scss
  packages/block-editor/src/components/link-control/test/__snapshots__/index.js.snap
  packages/icons/src/library/keyboard-return.js
Labels: Needs Design Feedback

#26209 TextControl: Forward refs
  packages/components/src/text-control/index.js
  packages/components/tsconfig.json
Labels: [Package] Components, [Type] Enhancement

#26820 PostTitle: rewrite with hooks (+ avoid globals)
  package-lock.json
  packages/block-editor/package.json
  packages/block-editor/src/components/default-block-appender/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/default-block-appender/test/index.js
  packages/editor/package.json
  packages/editor/src/components/post-title/index.js
Labels: [Type] Code Quality

#26628 Add new hook for Gutenberg latest posts block
  packages/block-library/src/latest-posts/index.php
Labels: Needs Dev Note, [Block] Latest Posts, [Feature] Extensibility

#25663 fix undefined index notice in Social Link Block
  packages/block-library/src/social-link/index.php
Labels: [Block] Social, [Type] Code Quality

#26769 Adds in missing styling for toolbar when using text-only setting
  packages/edit-post/src/components/header/header-toolbar/style.scss
Labels: Backport to WP Beta/RC, [Type] Bug

#26443 Inserter: Fix 'Browse All' in Quick Inserter
  docs/designers-developers/developers/data/data-core-block-editor.md
  packages/block-editor/src/components/inserter/hooks/use-insertion-point.js
  packages/block-editor/src/components/inserter/quick-inserter.js
  packages/block-editor/src/store/actions.js
  packages/block-editor/src/store/reducer.js
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/actions.js
  packages/block-editor/src/store/test/reducer.js
  packages/block-editor/src/store/test/selectors.js
  packages/e2e-tests/specs/editor/various/__snapshots__/adding-blocks.test.js.snap
  packages/e2e-tests/specs/editor/various/adding-blocks.test.js
Labels: Backport to WP Beta/RC, [Feature] Inserter, [Type] Bug

#23598 Replace `dirname( __FILE__ )` with `__DIR__`
  bin/generate-gutenberg-php.php
  bin/get-vendor-scripts.php
  docs/designers-developers/developers/platform/custom-block-editor/tutorial.md
  docs/designers-developers/developers/tutorials/create-block/wp-plugin.md
  gutenberg.php
  lib/blocks.php
  lib/client-assets.php
  lib/load.php
  lib/widgets.php
  packages/block-serialization-default-parser/test/test-parser.php
  packages/block-serialization-spec-parser/test/test-parser.php
  packages/create-block/lib/templates/es5/$slug.php.mustache
  packages/create-block/lib/templates/esnext/$slug.php.mustache
  phpunit/bootstrap.php
Labels: [Type] Code Quality

#26826 Interface: Add deprecation logic for leftSidebar prop
  docs/designers-developers/developers/backward-compatibility/deprecations.md
  package-lock.json
  packages/interface/CHANGELOG.md
  packages/interface/package.json
  packages/interface/src/components/interface-skeleton/index.js
Labels: [Package] Interface

#25349 Improved 'bad' example for the Strings section
  docs/contributors/coding-guidelines.md
Labels: [Type] Documentation

#26841 Update Legacy Widget toolbar button font to match UI when displayed in Widget Screen
  packages/edit-widgets/src/components/widget-areas-block-editor-content/style.scss
Labels: [Block] Legacy Widget, [Feature] Widgets Screen

#26389 [core data] State locks for concurrency control
  package-lock.json
  packages/core-data/package.json
  packages/core-data/src/actions.js
  packages/core-data/src/index.js
  packages/core-data/src/locks/README.md
  packages/core-data/src/locks/actions.js
  packages/core-data/src/locks/index.js
  packages/core-data/src/locks/reducer.js
  packages/core-data/src/locks/selectors.js
  packages/core-data/src/locks/test/actions.js
  packages/core-data/src/locks/test/reducer.js
  packages/core-data/src/locks/test/selectors.js
  packages/core-data/src/locks/test/utils.js
  packages/core-data/src/locks/utils.js
  packages/core-data/src/reducer.js
  packages/core-data/src/resolvers.js
  packages/core-data/src/test/actions.js
  packages/core-data/src/test/integration.js
  packages/core-data/src/test/resolvers.js
  packages/data-controls/README.md
  packages/data-controls/src/index.js
  packages/e2e-tests/specs/experiments/multi-entity-saving.test.js
Labels: [Package] Core data, [Package] Data, [Package] Data Controls

#26161 [RNMobile] Add mobile equivalent UnitControl
  packages/block-library/src/column/column-preview.native.js
  packages/block-library/src/column/edit.js
  packages/block-library/src/column/edit.native.js
  packages/block-library/src/column/editor.native.scss
  packages/block-library/src/columns/edit.native.js
  packages/block-library/src/columns/editor.native.scss
  packages/block-library/src/columns/utils.js
  packages/block-library/src/cover/edit.native.js
  packages/block-library/src/cover/shared.js
  packages/components/src/index.native.js
  packages/components/src/mobile/bottom-sheet/range-cell.native.js
  packages/components/src/mobile/bottom-sheet/range-cell.native.scss
  packages/components/src/mobile/bottom-sheet/range-text-input.native.js
  packages/components/src/mobile/bottom-sheet/stepper-cell/index.native.js
  packages/components/src/mobile/bottom-sheet/stepper-cell/stepper.android.js
  packages/components/src/mobile/bottom-sheet/stepper-cell/stepper.ios.js
  packages/components/src/mobile/bottom-sheet/stepper-cell/style.native.scss
  packages/components/src/mobile/bottom-sheet/styles.native.scss
  packages/components/src/mobile/utils/use-unit-converter-to-mobile.native.js
  packages/components/src/unit-control/index.native.js
  packages/components/src/unit-control/style.native.scss
  packages/react-native-editor/CHANGELOG.md
Labels: Mobile App Android/iOS, [Block] Columns, [Block] Cover, [Feature] UI Components

#26661 [Concurrency issues] More integration tests
  packages/core-data/src/index.js
  packages/core-data/src/resolvers.js
  packages/core-data/src/test/integration.js
  packages/data-controls/src/index.js
Labels: Automated Testing, [Package] Core data, [Package] Data

#26835 Update workflows to use Node 14.x
  .github/workflows/create-block.yml
  .github/workflows/end2end-test.yml
  .github/workflows/performance.yml
  .github/workflows/static-checks.yml
  .github/workflows/storybook-pages.yml
  .github/workflows/unit-test.yml
Labels: Automated Testing, [Type] Code Quality

#26853 Add default block widths to the full-site editor
  packages/base-styles/_mixins.scss
  packages/base-styles/_variables.scss
  packages/edit-post/src/style.scss
  packages/edit-site/src/style.scss
  packages/editor/src/editor-styles.scss
  storybook/stories/playground/editor-styles.scss
Labels: [Feature] Full Site Editing, [Feature] Themes, [Type] Bug

#26834 activeElement: error if accessed with a global
  packages/block-library/src/gallery/gallery-image.js
  packages/components/src/angle-picker-control/angle-circle.js
  packages/components/src/date-time/date.js
  packages/components/src/date-time/index.js
  packages/components/src/guide/finish-button.js
  packages/components/src/guide/test/finish-button.js
  packages/components/src/index.js
  packages/editor/src/components/post-schedule/index.js
  packages/eslint-plugin/configs/custom.js
  packages/eslint-plugin/rules/__tests__/no-global-active-element.js
  packages/eslint-plugin/rules/__tests__/no-global-get-selection.js
  packages/eslint-plugin/rules/no-global-active-element.js
  packages/eslint-plugin/rules/no-global-get-selection.js
Labels: [Package] ESLint plugin, [Type] Code Quality

#26857 I18n: Add changelog entry for #26171
  packages/i18n/CHANGELOG.md
Labels: Npm Packages, [Package] i18n, [Type] Code Quality, [Type] Documentation

#26771 Document the supports style properties that were deemed stable during 5.6 cycle
  docs/designers-developers/developers/block-api/block-supports.md
Labels: [Feature] Block API, [Type] Documentation

#26850 Add command to format PHP files
  package.json
Labels: [Type] Build Tooling

#26788 Add template part conversion e2e tests
  packages/e2e-tests/specs/experiments/template-part.test.js
Labels: [Feature] Full Site Editing, [Package] E2E Tests

#26810 Add eslint rule to warn against using globals for addEventListener
  packages/block-library/src/navigation-link/edit.js
  packages/components/src/sandbox/index.js
  packages/edit-widgets/src/blocks/widget-area/edit/index.js
  packages/eslint-plugin/configs/custom.js
  packages/eslint-plugin/rules/__tests__/no-global-event-listener.js
  packages/eslint-plugin/rules/no-global-event-listener.js
Labels: [Type] Code Quality

#26721 Media files collection block mobile
  packages/base-styles/_colors.native.scss
  packages/block-editor/src/components/block-media-update-progress/README.md
  packages/block-editor/src/components/block-media-update-progress/index.native.js
  packages/block-editor/src/components/block-media-update-progress/styles.native.scss
  packages/block-editor/src/components/block-media-update-progress/test/index.native.js
  packages/block-editor/src/components/index.native.js
  packages/edit-post/src/editor.native.js
  packages/react-native-bridge/android/build.gradle
  packages/react-native-bridge/android/src/main/java/org/wordpress/mobile/ReactNativeGutenbergBridge/GutenbergBridgeJS2Parent.java
  packages/react-native-bridge/android/src/main/java/org/wordpress/mobile/ReactNativeGutenbergBridge/RNReactNativeGutenbergBridgeModule.java
  packages/react-native-bridge/android/src/main/java/org/wordpress/mobile/WPAndroidGlue/DeferredEventEmitter.java
  packages/react-native-bridge/android/src/main/java/org/wordpress/mobile/WPAndroidGlue/GutenbergProps.kt
  packages/react-native-bridge/android/src/main/java/org/wordpress/mobile/WPAndroidGlue/WPAndroidGlueCode.java
  packages/react-native-bridge/index.js
  packages/react-native-bridge/ios/Gutenberg.swift
  packages/react-native-bridge/ios/GutenbergBridgeDelegate.swift
  packages/react-native-bridge/ios/RNReactNativeGutenbergBridge.m
  packages/react-native-bridge/ios/RNReactNativeGutenbergBridge.swift
  packages/react-native-editor/android/app/src/main/java/com/gutenberg/MainApplication.java
  packages/react-native-editor/ios/GutenbergDemo/GutenbergViewController.swift
  test/native/setup.js
Labels: Mobile App Android/iOS, [Type] Enhancement

#26863 Update changelog in env package for nodegit update
  packages/env/CHANGELOG.md
Labels: [Package] Env, [Type] Documentation

#25782 Use date-fns and date-fns-tz instead of moment
  package-lock.json
  packages/date/README.md
  packages/date/package.json
  packages/date/src/index.js
  packages/date/src/test/index.js
  packages/editor/src/components/post-schedule/index.js
  packages/editor/src/components/post-schedule/label.js
Labels: [Package] Date, [Type] Enhancement

#26873 Render template part preview as div
  packages/block-library/src/template-part/edit/selection/template-part-previews.js
Labels: [Block] Template-Part, [Feature] Full Site Editing, [Package] Edit Site, [Type] Bug

#26876 Run assign fixed issues and first time contributor label tasks for PRs from forks
  .github/workflows/pull-request-automation.yml
  packages/project-management-automation/lib/if-not-fork.js
  packages/project-management-automation/lib/index.js
  packages/project-management-automation/lib/tasks/first-time-contributor-account-link/README.md
  packages/project-management-automation/lib/tasks/first-time-contributor-account-link/index.js
  packages/project-management-automation/lib/tasks/first-time-contributor-account-link/test/index.js
  packages/project-management-automation/lib/tasks/first-time-contributor-label/README.md
  packages/project-management-automation/lib/tasks/first-time-contributor-label/index.js
  packages/project-management-automation/lib/tasks/first-time-contributor-label/test/index.js
Labels: [Package] Project management automation

#26869 Block drag and drop: add e2e test
  packages/components/src/drop-zone/provider.js
  packages/e2e-tests/specs/editor/various/__snapshots__/draggable-block.test.js.snap
  packages/e2e-tests/specs/editor/various/draggable-block.test.js
Labels: [Feature] Drag and Drop, [Type] Code Quality

#26891 Update theme.json docs with new properties added
  docs/designers-developers/developers/themes/theme-json.md
Labels: Global Styles, [Type] Documentation

#26893 Drop zone: rewrite with hooks and simplify
  packages/block-editor/src/components/use-on-block-drop/index.js
  packages/components/src/drop-zone/index.js
  packages/components/src/drop-zone/provider.js
  packages/compose/README.md
  packages/compose/src/hooks/use-debounce/index.js
  packages/compose/src/hooks/use-throttle/index.js
  packages/compose/src/index.js
Labels: [Feature] Drag and Drop, [Type] Code Quality

#26898 [RNMobile] Fix Shortcode, Code, and Preformatted background colors
  packages/react-native-editor/sass-transformer.js
Labels: Mobile App Android/iOS

#26842 Sandbox: increase selector scope when targeting to iframe element
  packages/components/src/sandbox/index.js
Labels: [Type] Enhancement

#26224 Global styles: Add preset classes generation on the client side.
  packages/edit-site/src/components/editor/global-styles-renderer.js
  packages/edit-site/src/components/editor/utils.js
Labels: Global Styles

#26845 Site Editor: Remove dashboard button focus on mount
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/templates-navigation.js
Labels: [Feature] Full Site Editing

#26919 More appropriate docs for the locks module
  packages/core-data/src/locks/README.md
Labels: [Package] Core data, [Type] Documentation

#26859 Update docs for custom spacing
  docs/designers-developers/developers/themes/theme-support.md
Labels: [Type] Documentation

#26572 Reduces padding on highlight for drop down
  package-lock.json
  packages/block-editor/src/components/inserter/style.scss
Labels: [Block] Navigation

#26868 Add: Font appearance control on global styles
  packages/block-editor/src/components/index.js
  packages/edit-site/src/components/sidebar/typography-panel.js
Labels: Global Styles

#26931 Update block supports documentation for text and background colors
  docs/designers-developers/developers/block-api/block-supports.md
Labels: [Type] Documentation

#26930 Template navigation: Reverse menu order of drilldowns / links
  package-lock.json
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/menus/templates.js
Labels: [Feature] Full Site Editing

#26928 Navigation block: fix color support declaration
  packages/block-library/src/navigation/block.json
Labels: [Block] Navigation, [Feature] Design Tools, [Type] Bug

#26741 Components: Fix FormTokenField input position when typing
  packages/components/src/form-token-field/style.scss
Labels: General Interface, [Package] Components, [Type] Bug

#26933 Update the spacing around menu items with descriptions in the template navigation
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/style.scss
Labels: [Feature] Full Site Editing

#26786 Update: Use theme and core styles as defaults on the global styles
  packages/edit-site/src/components/editor/global-styles-provider.js
  packages/edit-site/src/components/editor/utils.js
  packages/edit-site/src/components/sidebar/color-panel.js
  packages/edit-site/src/components/sidebar/typography-panel.js
Labels: Global Styles

#26846 Site Editor: Add navigation panel back button slot
  docs/designers-developers/developers/slotfills/main-dashboard-button.md
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/templates-navigation.js
Labels: [Feature] Full Site Editing

#26664 Store screenshots of CI e2e failures as CI artifacts
  .github/workflows/end2end-test.yml
  packages/e2e-tests/config/setup-debug-artifacts.js
  packages/e2e-tests/jest.config.js
Labels: Automated Testing

#26605 Code & Preformatted Blocks: delete on backspace from an empty block
  packages/block-library/CHANGELOG.md
  packages/block-library/src/code/edit.js
  packages/block-library/src/preformatted/edit.js
Labels: [Block] Code, [Block] Preformatted, [Feature] Writing Flow, [Type] Enhancement

#26921 Writing flow: improve vertical edge checking
  packages/dom/src/dom.js
  packages/e2e-tests/specs/editor/various/__snapshots__/multi-block-selection.test.js.snap
  packages/e2e-tests/specs/editor/various/__snapshots__/writing-flow.test.js.snap
  packages/e2e-tests/specs/editor/various/multi-block-selection.test.js
  packages/e2e-tests/specs/editor/various/writing-flow.test.js
Labels: [Feature] Writing Flow, [Type] Bug

#26942 Edit Site - make nav panel mount on load again.
  packages/edit-site/src/components/navigation-sidebar/index.js
  packages/edit-site/src/components/navigation-sidebar/navigation-toggle/index.js
Labels: [Feature] Full Site Editing
