Repository WordPress/gutenberg, pull requests merged in 2020-12, with the labels that each got.

#27379 Search Block: Remove the button only option from the UI
  packages/block-library/src/search/edit.js
Labels: Backport to WP Beta/RC, [Block] Search

#27367 Fix combobox suggestion list closure when clicking scrollbar
  packages/components/src/combobox-control/index.js
Labels: Backport to WP Beta/RC, [Feature] UI Components, [Type] Regression

#27271 Reveal block boundaries on hover in the Site Editor
  packages/block-editor/src/components/block-list/style.scss
  packages/block-library/src/template-part/editor.scss
  packages/edit-site/src/components/block-editor/style.scss
Labels: Needs Design Feedback, [Feature] Full Site Editing, [Type] Discussion

#27123 Animate: type getAnimateClassName
  packages/block-library/src/file/edit.js
  packages/components/CHANGELOG.md
  packages/components/src/animate/index.js
  packages/components/src/index.js
  packages/components/src/navigation/index.js
  packages/components/src/navigation/menu/menu-title.js
  packages/components/src/popover/index.js
  packages/components/tsconfig.json
  packages/editor/src/components/post-saved-state/index.js
Labels: [Package] Components, [Type] Code Quality

#20703 Add example preview to video block.
  packages/block-library/src/video/index.js
Labels: [Block] Video

#18692 [RNMobile] Add shallow rendering tests for native version of Preformatted block
  packages/block-library/src/preformatted/edit.native.js
  packages/block-library/src/preformatted/test/__snapshots__/edit.native.js.snap
  packages/block-library/src/preformatted/test/edit.native.js
Labels: Automated Testing, Mobile App Android/iOS, [Status] Stale

#27297 Buttons: Add variations for vertical layout
  packages/block-library/src/buttons/block.json
  packages/block-library/src/buttons/edit.js
  packages/block-library/src/buttons/editor.scss
  packages/block-library/src/buttons/index.js
  packages/block-library/src/buttons/save.js
  packages/block-library/src/buttons/style.scss
  packages/block-library/src/buttons/variations.js
  packages/e2e-tests/fixtures/blocks/core__buttons.json
  packages/e2e-tests/fixtures/blocks/core_buttons__simple__deprecated.json
Labels: [Block] Buttons, [Type] Feature

#27435 CI: Update bundle size workflow to use the latest version
  .github/workflows/bundle-size.yml
Labels: Automated Testing

#27332 Verse Block: Add support for font family
  docs/designers-developers/developers/themes/theme-json.md
  packages/block-library/src/style.scss
  packages/block-library/src/verse/block.json
  packages/block-library/src/verse/editor.scss
  packages/block-library/src/verse/style.scss
Labels: Global Styles, [Block] Verse

#27437 Expand the multi-entity saving panel by default
  packages/e2e-tests/specs/experiments/multi-entity-editing.test.js
  packages/e2e-tests/specs/experiments/multi-entity-saving.test.js
  packages/editor/src/components/entities-saved-states/index.js
  packages/editor/src/components/entities-saved-states/style.scss
Labels: Needs Design Feedback, [Feature] Full Site Editing, [Type] Experimental

#27342 Tag Cloud: Add CSS for block alignments
  packages/block-library/src/style.scss
  packages/block-library/src/tag-cloud/style.scss
Labels: [Block] Tag Cloud, [Feature] Full Site Editing, [Feature] Themes

#27440 Documentation: Fix typo in attributes.md
  docs/designers-developers/developers/tutorials/create-block/attributes.md
Labels: First-time Contributor, [Type] Documentation

#27431 Try fixing combobox a11y issues
  packages/components/src/combobox-control/index.js
Labels: Accessibility (a11y), Needs Accessibility Feedback, [Type] Bug

#26582 Give editable fields in blocks better aria-labels.
  packages/block-library/src/audio/edit.js
  packages/block-library/src/button/edit.js
  packages/block-library/src/file/edit.js
  packages/block-library/src/gallery/gallery-image.js
  packages/block-library/src/gallery/gallery.js
  packages/block-library/src/heading/edit.js
  packages/block-library/src/image/image.js
  packages/block-library/src/list/edit.js
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/post-author/edit.js
  packages/block-library/src/post-excerpt/edit.js
  packages/block-library/src/preformatted/edit.js
  packages/block-library/src/pullquote/edit.js
  packages/block-library/src/quote/edit.js
  packages/block-library/src/shortcode/edit.js
  packages/block-library/src/site-tagline/edit.js
  packages/block-library/src/site-title/edit/index.js
  packages/block-library/src/subhead/edit.js
  packages/block-library/src/table/edit.js
  packages/block-library/src/text-columns/edit.js
  packages/block-library/src/verse/edit.js
  packages/block-library/src/video/edit.js
Labels: Accessibility (a11y), Needs Accessibility Feedback, [Package] Block library, [Type] Bug, [a11y] Labelling

#27436 Packages: Improve the script that automates version bumps
  bin/plugin/commands/common.js
  bin/plugin/commands/packages.js
  bin/plugin/commands/test/common.js
Labels: Npm Packages, [Type] Project Management

#26355 Zoom-out to the template level in the post editor
  docs/designers-developers/developers/data/data-core-edit-post.md
  lib/client-assets.php
  packages/block-library/src/post-content/edit.js
  packages/core-data/src/controls.js
  packages/core-data/src/index.js
  packages/core-data/src/resolvers.js
  packages/core-data/src/selectors.js
  packages/e2e-test-utils/README.md
  packages/e2e-test-utils/src/index.js
  packages/e2e-test-utils/src/preview.js
  packages/e2e-tests/specs/editor/plugins/block-context.test.js
  packages/e2e-tests/specs/editor/various/preview.test.js
  packages/e2e-tests/specs/experiments/post-editor-template-mode.test.js
  packages/edit-post/src/components/header/header-toolbar/index.js
  packages/edit-post/src/components/header/header-toolbar/style.scss
  packages/edit-post/src/components/header/index.js
  packages/edit-post/src/components/header/template-save-button/index.js
  packages/edit-post/src/components/header/template-title/index.js
  packages/edit-post/src/components/header/template-title/style.scss
  packages/edit-post/src/components/layout/actions-panel.js
  packages/edit-post/src/components/sidebar/post-status/index.js
  packages/edit-post/src/components/sidebar/post-template/index.js
  packages/edit-post/src/components/sidebar/post-template/style.scss
  packages/edit-post/src/components/visual-editor/index.js
  packages/edit-post/src/editor.js
  packages/edit-post/src/store/actions.js
  packages/edit-post/src/store/reducer.js
  packages/edit-post/src/store/selectors.js
  packages/edit-post/src/style.scss
  packages/editor/src/components/entities-saved-states/index.js
  packages/editor/src/components/entities-saved-states/style.scss
  packages/editor/src/components/provider/index.js
  packages/editor/src/store/actions.js
  packages/editor/src/store/selectors.js
Labels: [Feature] Full Site Editing, [Type] Technical Prototype

#27449 Update: Global Styles: Do not pass selectors and supports information to the client
  lib/class-wp-theme-json.php
  phpunit/class-wp-theme-json-test.php
Labels: Global Styles

#27439 Testing: Make image size test more stable
  packages/e2e-test-utils/src/open-document-settings-sidebar.js
  packages/e2e-tests/specs/editor/plugins/image-size.test.js
Labels: Automated Testing

#27441 Upgrade wp-prettier to 2.2.1
  package-lock.json
  package.json
  packages/block-library/src/query/test/utils.js
  packages/core-data/src/locks/test/selectors.js
  packages/data/src/types.d.ts
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/scripts/CHANGELOG.md
  packages/scripts/package.json
  packages/shortcode/src/index.js
  packages/url/src/test/index.test.js
Labels: [Package] Scripts, [Type] Build Tooling

#27445 Popover: Fix issue with undefined getBoundingClientRect
  packages/components/src/popover/index.js
Labels: [Package] Components, [Type] Bug, [Type] Regression

#27463 Block editor: move block focus listener to block props hook
  packages/block-editor/src/components/block-list/block-wrapper.js
  packages/block-editor/src/components/block-list/root-container.js
  packages/block-library/src/block/edit.js
Labels: [Type] Code Quality

#27413 Support gradients with omitted stop positions in CustomGradientPicker
  packages/components/src/custom-gradient-picker/utils.js
Labels: [Type] Bug

#27479 Multi selection: move hook to WritingFlow with other multi selection logic
  packages/block-editor/src/components/block-list/block-wrapper.js
  packages/block-editor/src/components/block-list/root-container.js
  packages/block-editor/src/components/writing-flow/index.js
  packages/block-editor/src/components/writing-flow/use-multi-selection.js
Labels: [Type] Code Quality

#27472 Insertion indicator: render after last block if none is specified
  packages/block-editor/src/components/block-list-appender/index.js
  packages/block-editor/src/components/block-list/index.js
  packages/block-editor/src/components/block-list/insertion-point.js
  packages/components/src/popover/index.js
  packages/components/src/popover/utils.js
Labels: [Type] Code Quality

#27018 Update Navigation block placeholder
  packages/block-library/src/navigation/edit.js
  packages/block-library/src/navigation/editor.scss
  packages/block-library/src/navigation/placeholder.js
  packages/e2e-tests/specs/experiments/navigation.test.js
Labels: [Block] Navigation

#27079 Drop zone provider: option to avoid wrapper element
  packages/components/src/drop-zone/provider.js
  packages/components/src/index.js
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/editor.js
Labels: [Type] Code Quality

#27482 Writing flow: isolate multi select focus element
  packages/block-editor/src/components/writing-flow/index.js
Labels: [Feature] Block Multi Selection, [Type] Code Quality

#27019 Make zip-based URL parsing more general
  packages/env/lib/config/parse-config.js
  packages/env/lib/config/test/config.js
  packages/env/lib/download-sources.js
Labels: [Package] Env, [Type] Bug

#27447 Update the rich text control titles to sentence case structure
  packages/format-library/src/code/index.js
  packages/format-library/src/keyboard/index.js
  packages/format-library/src/text-color/index.js
Labels: General Interface, [Feature] Rich Text, [Type] Copy

#27356 Change the Labels of the Vertical Align options
  packages/block-editor/src/components/block-vertical-alignment-toolbar/index.js
  packages/block-editor/src/components/block-vertical-alignment-toolbar/test/__snapshots__/index.js.snap
Labels: First-time Contributor, Good First Review, [Type] Copy

#27089 Refactor image block's image editing tools into separate components.
  packages/block-library/src/image/image-editing/aspect-ratio-dropdown.js
  packages/block-library/src/image/image-editing/constants.js
  packages/block-library/src/image/image-editing/context.js
  packages/block-library/src/image/image-editing/cropper.js
  packages/block-library/src/image/image-editing/form-controls.js
  packages/block-library/src/image/image-editing/index.js
  packages/block-library/src/image/image-editing/rotation-button.js
  packages/block-library/src/image/image-editing/use-save-image.js
  packages/block-library/src/image/image-editing/use-transform-image.js
  packages/block-library/src/image/image-editing/zoom-dropdown.js
  packages/block-library/src/image/image-editor.js
  packages/block-library/src/image/image.js
Labels: [Block] Image, [Type] Code Quality

#27493 Stabilize adding blocks end to end test
  packages/e2e-tests/specs/editor/various/adding-blocks.test.js
Labels: Automated Testing

#27497 Load the block patterns in the site editor
  lib/edit-site-page.php
  packages/e2e-test-utils/src/inserter.js
Labels: [Feature] Full Site Editing, [Feature] Patterns, [Type] Experimental

#27489 Writing flow: consider events only from DOM descendents
  packages/block-editor/src/components/block-list/block-popover.js
  packages/block-editor/src/components/block-list/block-selection-button.js
  packages/block-editor/src/components/block-list/block-wrapper.js
  packages/block-editor/src/components/block-list/style.scss
  packages/block-editor/src/components/inserter/menu.js
  packages/block-editor/src/components/inserter/quick-inserter.js
  packages/block-editor/src/components/url-input/index.js
  packages/block-editor/src/components/url-popover/image-url-input-ui.js
  packages/block-editor/src/components/writing-flow/index.js
  packages/block-editor/src/store/reducer.js
  packages/format-library/src/image/index.js
Labels: [Feature] Writing Flow, [Package] Block editor, [Type] Code Quality

#27453 Update: Global Styles: Make client preset metadata match server.
  packages/edit-site/src/components/editor/global-styles-renderer.js
  packages/edit-site/src/components/editor/utils.js
Labels: Global Styles

#27503 Block wrapper: isolate functionality into smaller hooks
  packages/block-editor/src/components/block-list/block-wrapper.js
  packages/block-editor/src/components/block-list/block-wrapper.native.js
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/index.js
  packages/block-editor/src/components/block-list/use-block-props/index.js
  packages/block-editor/src/components/block-list/use-block-props/index.native.js
  packages/block-editor/src/components/block-list/use-block-props/use-block-moving-mode-class-names.js
  packages/block-editor/src/components/block-list/use-block-props/use-event-handlers.js
  packages/block-editor/src/components/block-list/use-block-props/use-focus-first-element.js
  packages/block-editor/src/components/block-list/use-block-props/use-is-hovered.js
  packages/block-editor/src/components/index.js
  packages/block-editor/src/components/index.native.js
  packages/block-editor/src/components/writing-flow/index.js
Labels: [Type] Code Quality

#27499 Add an outline mode and use it both Site Editor and Template mode
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/style.scss
  packages/edit-site/src/components/block-editor/style.scss
  packages/edit-site/src/store/selectors.js
  packages/edit-site/src/store/test/selectors.js
  packages/editor/src/components/provider/index.js
Labels: [Feature] Full Site Editing, [Type] Experimental, [Type] New API

#27471 ComboboxControl/FormTokenField: Fix iOS zooming for input
  packages/components/src/combobox-control/style.scss
  packages/components/src/form-token-field/style.scss
Labels: Mobile Web, [Feature] UI Components, [Package] Components, [Type] Bug

#27376 [RNMobile] Add test for native gradient logic
  packages/components/src/mobile/gradient/index.native.js
  packages/components/src/mobile/gradient/test/index.native.js
Labels: Mobile App Android/iOS, [Type] Enhancement

#27124 Site Editor - add query args for current context.
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/url-query-controller/index.js
  packages/edit-site/src/store/actions.js
  packages/edit-site/src/store/index.js
  packages/edit-site/src/store/reducer.js
Labels: [Feature] Full Site Editing, [Type] Enhancement

#27487 GitHub Actions: Use a build matrix for the e2e tests GH action
  .github/workflows/build-plugin-zip.yml
  .github/workflows/end2end-test.yml
Labels: Automated Testing, [Package] E2E Tests

#27228 [RNMobile] Implementing UI test for File block
  packages/block-editor/src/components/media-upload-progress/index.native.js
  packages/block-editor/src/components/media-upload-progress/styles.native.scss
  packages/block-editor/src/components/media-upload/index.native.js
  packages/block-library/src/file/edit.native.js
  packages/block-library/src/file/style.native.scss
  packages/block-library/src/file/test/__snapshots__/edit.native.js.snap
  packages/block-library/src/file/test/edit.native.js
  packages/block-library/src/index.native.js
  packages/react-native-bridge/android/src/main/java/org/wordpress/mobile/WPAndroidGlue/WPAndroidGlueCode.java
  packages/react-native-editor/__device-tests__/gutenberg-editor-file.test.js
  packages/react-native-editor/__device-tests__/helpers/test-data.js
  packages/react-native-editor/ios/GutenbergDemo/GutenbergViewController.swift
  test/native/__mocks__/styleMock.js
Labels: Mobile App Android/iOS

#27341 Verse Block: Adds support for custom padding
  docs/designers-developers/developers/themes/theme-json.md
  packages/block-library/src/verse/block.json
  packages/block-library/src/verse/editor.scss
  packages/e2e-tests/fixtures/blocks/core__verse.html
  packages/e2e-tests/fixtures/blocks/core__verse.json
  packages/e2e-tests/fixtures/blocks/core__verse.parsed.json
  packages/e2e-tests/fixtures/blocks/core__verse.serialized.html
Labels: [Block] Verse

#27298 Block editor: refactor effect.js to controls
  docs/designers-developers/developers/data/data-core-block-editor.md
  package-lock.json
  packages/block-editor/package.json
  packages/block-editor/src/components/provider/with-registry-provider.js
  packages/block-editor/src/store/actions.js
  packages/block-editor/src/store/controls.js
  packages/block-editor/src/store/effects.js
  packages/block-editor/src/store/index.js
  packages/block-editor/src/store/middlewares.js
  packages/block-editor/src/store/test/actions.js
  packages/block-editor/src/store/test/effects.js
Labels: [Package] Block editor, [Type] Code Quality, [Type] Enhancement

#27531 Block editor: merge RootContainer with BlockList
  packages/block-editor/src/components/block-list/block-popover.js
  packages/block-editor/src/components/block-list/index.js
  packages/block-editor/src/components/block-list/root-container.js
  packages/block-editor/src/components/block-list/use-block-props/index.js
Labels: [Type] Code Quality

#27468 Block editor: rewrite selection clearer
  packages/block-editor/src/components/block-selection-clearer/index.js
  packages/e2e-tests/specs/editor/various/keyboard-navigable-blocks.test.js
  packages/edit-post/src/components/visual-editor/index.js
  packages/edit-site/src/components/block-editor/index.js
  packages/edit-site/src/components/editor/index.js
Labels: [Type] Code Quality

#27498 Mobile Release v1.42.1
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App Android/iOS

#27466 Fallback to regular subscribe if the store doesn't exist in useSelect
  packages/data/src/components/use-select/test/index.js
  packages/data/src/registry.js
Labels: [Package] Data, [Type] Bug

#27539 Capitalize JavaScript in accordance with the word mark.
  changelog.txt
  packages/block-directory/src/store/controls.js
  packages/block-serialization-default-parser/src/index.js
  packages/react-native-aztec/README.md
Labels: First-time Contributor, [Type] Documentation

#27541 Avoid cancelling other e2e test jobs when one fails.
  .github/workflows/end2end-test.yml
Labels: Automated Testing

#27464 Move the templates prePersist logic to core-data
  packages/core-data/src/actions.js
  packages/core-data/src/entities.js
  packages/core-data/src/test/entities.js
  packages/edit-post/src/components/header/template-save-button/index.js
  packages/edit-site/src/components/editor/index.js
Labels: [Feature] Full Site Editing, [Type] Experimental

#27502 Make the inserter in the site editor behave as a popover
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/editor/popover-wrapper.js
  packages/edit-site/src/components/editor/style.scss
  packages/edit-site/src/components/header/index.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/index.js
Labels: Accessibility (a11y), [Feature] Full Site Editing, [Type] Experimental

#26730 Components: Introduce a isDisabled prop to the Disabled component
  packages/components/src/disabled/README.md
  packages/components/src/disabled/index.js
  packages/components/src/disabled/stories/index.js
  packages/components/src/disabled/test/index.js
Labels: [Package] Components, [Type] Feature

#27101 Add element selector to template-part block
  packages/block-library/src/template-part/edit/index.js
Labels: [Block] Template-Part

#27546 Removing @etoledom from code owners
  .github/CODEOWNERS
Labels: Mobile App Android/iOS

#27550 Revert date changes from branch 'replace-moment'
  package-lock.json
  packages/date/README.md
  packages/date/package.json
  packages/date/src/index.js
  packages/date/src/test/index.js
  packages/editor/src/components/post-schedule/index.js
  packages/editor/src/components/post-schedule/label.js
Labels: [Package] Date, [Type] Bug

#27544 Add a useConstrainedTabbing hook
  package-lock.json
  packages/components/src/higher-order/with-constrained-tabbing/index.js
  packages/compose/README.md
  packages/compose/package.json
  packages/compose/src/hooks/use-constrained-tabbing/README.md
  packages/compose/src/hooks/use-constrained-tabbing/index.js
  packages/compose/src/hooks/use-constrained-tabbing/index.native.js
  packages/compose/src/index.js
  packages/compose/src/index.native.js
Labels: [Type] New API

#27211 Fix Media & Text “crop image to fill” to work with linked media
  packages/block-library/src/media-text/edit.js
  packages/block-library/src/media-text/style.scss
Labels: [Block] Media & Text

#27561 Revert "Verse Block: Adds support for custom padding"
  docs/designers-developers/developers/themes/theme-json.md
  packages/block-library/src/verse/block.json
  packages/block-library/src/verse/editor.scss
  packages/e2e-tests/fixtures/blocks/core__verse.html
  packages/e2e-tests/fixtures/blocks/core__verse.json
  packages/e2e-tests/fixtures/blocks/core__verse.parsed.json
  packages/e2e-tests/fixtures/blocks/core__verse.serialized.html
Labels: Mobile App Android/iOS

#27465 Update the backup icon to better align with WordPress icon package dna
  packages/icons/src/library/backup.js
Labels: Needs Design Feedback, [Package] Icons

#27542 useMediaQuery: make it safe for SSR environments without window
  packages/compose/src/hooks/use-media-query/index.js
Labels: [Package] Compose, [Type] Bug

#27128 Query block: Allow inheriting the global query arguments
  packages/block-library/src/query-loop/edit.js
  packages/block-library/src/query-loop/index.php
  packages/block-library/src/query/block.json
  packages/block-library/src/query/edit/query-inspector-controls.js
  packages/e2e-tests/fixtures/blocks/core__query.json
Labels: Needs Design, [Block] Query, [Feature] Full Site Editing

#27533 Add webpack 5 support to dependency-extraction-webpack-plugin
  package-lock.json
  packages/dependency-extraction-webpack-plugin/CHANGELOG.md
  packages/dependency-extraction-webpack-plugin/lib/index.js
  packages/dependency-extraction-webpack-plugin/lib/types.d.ts
  packages/dependency-extraction-webpack-plugin/lib/util.js
  packages/dependency-extraction-webpack-plugin/package.json
  packages/dependency-extraction-webpack-plugin/test/__snapshots__/build.js.snap
  packages/dependency-extraction-webpack-plugin/test/build.js
  packages/dependency-extraction-webpack-plugin/test/fixtures/with-externs/index.js
  packages/dependency-extraction-webpack-plugin/test/fixtures/with-externs/webpack.config.js
  packages/dependency-extraction-webpack-plugin/tsconfig.json
  tsconfig.json
Labels: [Package] Dependency Extraction Webpack Plugin, [Type] Build Tooling

#27574 Extract the focusOnMount hook from the Popover component
  packages/components/src/popover/index.js
  packages/compose/README.md
  packages/compose/src/hooks/use-focus-on-mount/README.md
  packages/compose/src/hooks/use-focus-on-mount/index.js
  packages/compose/src/index.js
Labels: [Type] New API

#27523 Fixes the width on the circle color picker popover
  packages/components/src/circular-option-picker/style.scss
Labels: [Feature] UI Components

#27558 e2e tests: Run datepicker and scheduling tests in different timezones
  packages/e2e-test-utils/README.md
  packages/e2e-test-utils/src/change-site-timezone.js
  packages/e2e-test-utils/src/index.js
  packages/e2e-tests/specs/editor/various/datepicker.test.js
  packages/e2e-tests/specs/editor/various/scheduling.test.js
Labels: [Package] E2E Test Utils, [Package] E2E Tests, [Type] New API

#27552 CI: Run package/date unit tests in different timezones
  .github/workflows/unit-test.yml
Labels: Automated Testing, [Package] Date, [Status] In Progress

#27583 [Mobile] Treat a string that only contains the formatting marker as empty for block formatting
  packages/react-native-aztec/android/src/main/java/org/wordpress/mobile/ReactNativeAztec/ReactAztecManager.java
  packages/react-native-editor/CHANGELOG.md
Labels: Mobile App Android/iOS

#27576 Add missing @wordpress/components/CHANGELOG.md entry
  packages/components/CHANGELOG.md
Labels: [Package] Components, [Type] Documentation

#27571 Minor changes to release docs for clarity.
  docs/contributors/release.md
Labels: [Type] Documentation

#27346 wp-env: Xdebug support
  .vscode/launch.json
  packages/env/CHANGELOG.md
  packages/env/README.md
  packages/env/lib/build-docker-compose-config.js
  packages/env/lib/cli.js
  packages/env/lib/commands/start.js
  packages/env/lib/init-config.js
  packages/env/lib/parse-xdebug-mode.js
  packages/env/test/parse-xdebug-mode.js
Labels: [Package] Env, [Type] Enhancement

#21392 Remove default icon from PluginBlockSettingsMenuItem
  packages/edit-post/src/components/block-settings-menu/plugin-block-settings-menu-item.js
Labels: [Feature] Extensibility, [Package] Edit Post

#27459 Packages: Make it possible to select minimum version bump for publishing
  bin/plugin/commands/packages.js
Labels: Npm Packages, [Type] Project Management

#26100 Update the registration examples to use apiVersion 2
  docs/designers-developers/developers/internationalization.md
  docs/designers-developers/developers/richtext.md
  docs/designers-developers/developers/tutorials/block-tutorial/applying-styles-with-stylesheets.md
  docs/designers-developers/developers/tutorials/block-tutorial/block-controls-toolbar-and-sidebar.md
  docs/designers-developers/developers/tutorials/block-tutorial/creating-dynamic-blocks.md
  docs/designers-developers/developers/tutorials/block-tutorial/introducing-attributes-and-editable-fields.md
  docs/designers-developers/developers/tutorials/block-tutorial/nested-blocks-inner-blocks.md
  docs/designers-developers/developers/tutorials/block-tutorial/writing-your-first-block-type.md
  docs/designers-developers/developers/tutorials/create-block/block-anatomy.md
  docs/designers-developers/developers/tutorials/create-block/block-code.md
  docs/designers-developers/developers/tutorials/create-block/wp-plugin.md
  docs/designers-developers/developers/tutorials/metabox/meta-block-3-add.md
  docs/designers-developers/developers/tutorials/metabox/meta-block-4-use-data.md
  packages/block-editor/src/components/block-vertical-alignment-toolbar/README.md
  packages/block-editor/src/components/inner-blocks/README.md
  packages/block-editor/src/components/inspector-controls/README.md
  packages/blocks/README.md
  packages/server-side-render/README.md
Labels: [Feature] Block API, [Type] Documentation

#26592 Document the useBlockWrapper hook in the block registration docs
  docs/designers-developers/developers/block-api/block-edit-save.md
Labels: [Type] Documentation

#27578 Remove autoFocus prop from URLInput and from the inserter search form
  packages/block-editor/src/components/inserter/menu.js
  packages/block-editor/src/components/inserter/quick-inserter.js
  packages/block-editor/src/components/inserter/search-form.js
  packages/block-editor/src/components/link-control/index.js
  packages/block-editor/src/components/link-control/test/index.js
  packages/block-editor/src/components/url-input/README.md
  packages/block-editor/src/components/url-input/index.js
  packages/block-library/src/navigation-link/edit.js
  packages/e2e-tests/specs/editor/blocks/buttons.test.js
  packages/edit-post/src/components/layout/popover-wrapper.js
  packages/edit-site/src/components/editor/popover-wrapper.js
  packages/edit-widgets/src/components/layout/popover-wrapper.js
  packages/format-library/src/link/inline.js
Labels: Accessibility (a11y), Needs Dev Note

#27377 Increase radio dimensions to match checkboxes
  packages/base-styles/_mixins.scss
  packages/base-styles/_variables.scss
  packages/editor/src/components/post-visibility/style.scss
Labels: Accessibility (a11y), General Interface

#26098 Create block: Use Block API version 2
  packages/create-block/CHANGELOG.md
  packages/create-block/README.md
  packages/create-block/lib/init-block-json.js
  packages/create-block/lib/scaffold.js
  packages/create-block/lib/templates.js
  packages/create-block/lib/templates/es5/index.js.mustache
  packages/create-block/lib/templates/es5/readme.txt.mustache
  packages/create-block/lib/templates/esnext/readme.txt.mustache
  packages/create-block/lib/templates/esnext/src/edit.js.mustache
  packages/create-block/lib/templates/esnext/src/index.js.mustache
Labels: [Package] Create Block, [Type] New API

#27548 Code Quality: Use store definition instead of string for notices packages
  packages/block-directory/src/index.js
  packages/block-directory/src/store/actions.js
  packages/block-directory/src/store/test/actions.js
  packages/block-editor/src/components/copy-handler/index.js
  packages/block-editor/src/components/inserter/hooks/use-patterns-state.js
  packages/block-editor/src/components/media-replace-flow/index.js
  packages/block-editor/src/index.js
  packages/block-library/src/block/edit.js
  packages/block-library/src/image/image-editing/use-save-image.js
  packages/block-library/src/image/image.js
  packages/block-library/src/index.js
  packages/block-library/src/template-part/edit/selection/template-part-previews.js
  packages/edit-navigation/src/components/header/add-menu-form.js
  packages/edit-navigation/src/components/layout/use-menu-notifications.js
  packages/edit-navigation/src/components/notices/index.js
  packages/edit-navigation/src/index.js
  packages/edit-navigation/src/store/actions.js
  packages/edit-navigation/src/store/test/actions.js
  packages/edit-post/src/components/admin-notices/index.js
  packages/edit-post/src/index.js
  packages/edit-post/src/index.native.js
  packages/edit-post/src/plugins/copy-content-menu-item/index.js
  packages/edit-site/src/components/notices/index.js
  packages/edit-site/src/index.js
  packages/edit-widgets/src/components/notices/index.js
  packages/edit-widgets/src/index.js
  packages/edit-widgets/src/store/actions.js
  packages/editor/src/components/editor-notices/index.js
  packages/editor/src/components/local-autosave-monitor/index.js
  packages/editor/src/components/provider/index.js
  packages/editor/src/index.js
  packages/editor/src/store/actions.js
  packages/editor/src/store/test/actions.js
  packages/notices/src/store/index.js
  packages/reusable-blocks/src/components/reusable-blocks-menu-items/reusable-block-convert-button.js
  packages/reusable-blocks/src/index.js
Labels: [Package] Notices, [Type] Code Quality

#27634 Fix uncaught error with a custom generic store without a unsubscribe function in useSelect
  packages/data/src/components/use-select/index.js
  packages/data/src/components/use-select/test/index.js
Labels: [Package] Data, [Type] Bug

#27369 Refactor withFocusOutside to hook
  packages/components/src/higher-order/with-focus-outside/index.js
  packages/components/src/higher-order/with-focus-outside/index.native.js
  packages/compose/src/hooks/use-focus-outside/index.js
  packages/compose/src/hooks/use-focus-outside/index.native.js
  packages/compose/src/hooks/use-focus-outside/test/index.js
  packages/compose/src/index.js
  packages/compose/src/index.native.js
Labels: [Package] Compose, [Type] Experimental

#27605 Refactor the EditorProvider component and extract hooks
  packages/editor/src/components/provider/index.js
  packages/editor/src/components/provider/use-block-editor-settings.js
  packages/editor/src/components/provider/use-post-content-editor.js
Labels: [Type] Code Quality

#27638 Fix changelog for 9.5.2
  changelog.txt
Labels: [Type] Task

#27572 Add a useFocusReturn hook
  packages/components/src/higher-order/with-focus-return/README.md
  packages/components/src/higher-order/with-focus-return/context.js
  packages/components/src/higher-order/with-focus-return/index.js
  packages/components/src/higher-order/with-focus-return/test/index.js
  packages/components/src/modal/frame.js
  packages/compose/README.md
  packages/compose/src/hooks/use-constrained-tabbing/README.md
  packages/compose/src/hooks/use-focus-return/README.md
  packages/compose/src/hooks/use-focus-return/index.js
  packages/compose/src/index.js
  packages/edit-navigation/src/components/layout/index.js
  packages/edit-post/src/components/layout/index.js
  packages/edit-site/src/components/editor/index.js
  packages/edit-widgets/src/components/widget-areas-block-editor-provider/index.js
Labels: [Type] New API

#27619 Adjust mobile margins for the Query block's grid view
  packages/block-library/src/query-loop/style.scss
Labels: [Block] Query, [Type] Bug

#27637 Allow Query Loop only inside Query block
  packages/block-library/src/query-loop/index.js
Labels: [Block] Query

#27610 Precise that element ref returned by the hooks that return a ref can change between function or object
  packages/compose/README.md
  packages/compose/src/hooks/use-constrained-tabbing/README.md
  packages/compose/src/hooks/use-constrained-tabbing/index.js
  packages/compose/src/hooks/use-focus-on-mount/README.md
  packages/compose/src/hooks/use-focus-on-mount/index.js
Labels: [Type] Documentation

#26277 Add a document explaining the different block API versions
  docs/designers-developers/developers/block-api/versions.md
  docs/manifest.json
  docs/toc.json
Labels: [Type] Documentation

#27623 Site Logo: Remove line height
  packages/block-library/src/site-logo/style.scss
Labels: [Block] Site Logo, [Feature] Themes, [Type] Bug

#27621 Site Logo: Add a rounded block style
  packages/block-library/src/site-logo/index.js
  packages/block-library/src/site-logo/style.scss
Labels: [Block] Site Logo, [Feature] Themes, [Type] Enhancement

#27600 CI: Run date test timezone and locale variations using bash script
  .github/workflows/unit-test.yml
  bin/unit-test-date.sh
  package.json
Labels: Automated Testing, [Package] Date

#27603 [Documentation] Add escaping functions to code examples
  docs/designers-developers/developers/themes/theme-support.md
Labels: First-time Contributor, [Type] Documentation

#16358 fix(shortcode): replace function should handle empty string callback return
  packages/shortcode/src/index.js
  packages/shortcode/src/test/index.js
Labels: [Feature] Shortcodes

#27659 Fix: Font Weight and Style don't work independently on global styles.
  packages/edit-site/src/components/sidebar/typography-panel.js
Labels: Global Styles, [Type] Bug

#25791 Block Support: Add border radius support
  lib/block-supports/border.php
  lib/class-wp-theme-json.php
  lib/experimental-default-theme.json
  lib/load.php
  packages/block-editor/src/hooks/border-radius.js
  packages/block-editor/src/hooks/border.js
  packages/block-editor/src/hooks/style.js
  packages/block-editor/src/hooks/test/style.js
  packages/blocks/src/api/constants.js
Labels: Global Styles, [Block] Search, [Feature] Design Tools, [Type] Enhancement

#27592 Button: is-busy state candybar animation fixed
  packages/components/src/button/style.scss
Labels: First-time Contributor

#27643 Add a useDialog hook and replace the duplicated PopoverWrapper
  package-lock.json
  packages/compose/package.json
  packages/compose/src/hooks/use-dialog/README.md
  packages/compose/src/hooks/use-dialog/index.js
  packages/compose/src/hooks/use-focus-on-mount/index.js
  packages/compose/src/index.js
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/layout/popover-wrapper.js
  packages/edit-post/src/components/layout/style.scss
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/editor/popover-wrapper.js
  packages/edit-site/src/components/editor/style.scss
  packages/edit-widgets/src/components/layout/interface.js
  packages/edit-widgets/src/components/layout/popover-wrapper.js
  packages/edit-widgets/src/components/layout/style.scss
Labels: [Type] Experimental

#27649 Scope image block style variations to only the image block
  packages/block-library/src/image/style.scss
Labels: [Block] Image, [Feature] Themes, [Type] Code Quality

#27672 Remove CSS Custom Property in code block
  packages/block-library/src/code/style.scss
Labels: CSS Styling, [Block] Code, [Type] Bug

#27223 Try: Update readme screenshot
  README.md
Labels: Needs Design Feedback, [Type] Documentation

#27680 Update docs to show how a theme can have FSE automatically enabled.
  docs/designers-developers/developers/themes/block-based-themes.md
Labels: [Feature] Full Site Editing, [Feature] Themes, [Type] Documentation, [Type] Enhancement

#27683 [Mobile] - Fix crash when deleting a block
  packages/block-editor/src/components/gradients/use-gradient.js
  packages/block-editor/src/components/use-editor-feature/index.js
Labels: Mobile App Android/iOS, [Type] Bug

#27524 Add GitHub support document
  .github/SUPPORT.md
Labels: [Type] Project Management

#27700 Popover: use focus outside hook
  packages/components/src/popover/detect-outside.js
  packages/components/src/popover/index.js
  packages/components/src/popover/test/__snapshots__/index.js.snap
  packages/components/src/popover/test/index.js
Labels: [Type] Code Quality

#27679 Template-part padding: use variables
  packages/block-library/src/template-part/theme.scss
Labels: [Block] Template-Part, [Type] Code Quality

#27573 [RNMobile] Avoid rerenders in gallery, improve android KeyboardAvoidingView
  packages/block-editor/src/components/block-list/index.native.js
  packages/block-library/src/gallery/edit.js
Labels: Mobile App Android/iOS, [Type] Performance

#27710 add useCallbackRef to avoid calling the ref multiple times with the same node
  package-lock.json
  packages/compose/package.json
  packages/compose/src/hooks/use-callback-ref/index.js
  packages/compose/src/hooks/use-constrained-tabbing/index.js
  packages/compose/src/hooks/use-dialog/index.js
  packages/compose/src/hooks/use-focus-return/index.js
Labels: [Type] Bug

#26827 Audit variables stylesheet.
  packages/base-styles/_variables.scss
  packages/block-editor/src/components/block-compare/style.scss
  packages/block-editor/src/components/block-list-appender/style.scss
  packages/block-editor/src/components/block-list/style.scss
  packages/block-library/src/button/editor.native.scss
  packages/block-library/src/file/style.native.scss
  packages/edit-post/src/components/visual-editor/style.scss
  packages/edit-site/src/components/header/style.scss
Labels: [Type] Code Quality

#27555 Remove Font style, weight, decoration, and transform presets
  docs/designers-developers/developers/themes/theme-json.md
  lib/class-wp-theme-json.php
  lib/experimental-default-theme.json
  packages/block-editor/src/components/font-appearance-control/index.js
  packages/block-editor/src/components/text-decoration-control/index.js
  packages/block-editor/src/components/text-transform-control/index.js
  packages/block-editor/src/hooks/font-appearance.js
  packages/block-editor/src/hooks/text-decoration.js
  packages/block-editor/src/hooks/text-transform.js
  packages/block-library/src/navigation/deprecated.js
  packages/block-library/src/navigation/index.php
  packages/e2e-tests/fixtures/blocks/core__navigation__deprecated.html
  packages/e2e-tests/fixtures/blocks/core__navigation__deprecated.json
  packages/e2e-tests/fixtures/blocks/core__navigation__deprecated.parsed.json
  packages/e2e-tests/fixtures/blocks/core__navigation__deprecated.serialized.html
  packages/edit-site/src/components/editor/utils.js
  packages/edit-site/src/components/sidebar/typography-panel.js
  phpunit/class-wp-theme-json-test.php
Labels: Global Styles

#27703 Popover/Modal: remove and deprecate IsolatedEventContainer
  packages/components/src/isolated-event-container/README.md
  packages/components/src/isolated-event-container/index.js
  packages/components/src/isolated-event-container/test/index.js
  packages/components/src/modal/frame.js
  packages/components/src/popover/index.js
Labels: [Type] Code Quality

#27626 BoxControl: Add custom units
  packages/block-editor/src/hooks/padding.js
Labels: Global Styles, [Feature] Full Site Editing, [Feature] Themes

#27713 Release script: Set draft status, and only remove after uploading asset
  bin/plugin/commands/release.js
Labels: [Type] Build Tooling

#27705 Try: simplify focus return
  packages/compose/src/hooks/use-focus-return/index.js
Labels: [Type] Code Quality

#27693 RN: Fixes rel link stickiness issue
  packages/components/src/mobile/link-settings/index.native.js
Labels: Mobile App Android/iOS, [Block] Buttons, [Type] Bug

#27641 Fix adding single use block from main inserter causes focus loss and menu to be stuck open
  packages/block-editor/src/components/inserter-list-item/index.js
  packages/e2e-tests/specs/editor/various/adding-blocks.test.js
Labels: Accessibility (a11y), Needs Accessibility Feedback, [Feature] Inserter, [Type] Bug, [a11y] Keyboard & Focus

#27718 Update font-weight names
  packages/block-editor/src/components/font-appearance-control/index.js
Labels: [Feature] Design Tools

#27725 useDialog: remove mousedown propagation stopping
  packages/compose/src/hooks/use-dialog/index.js
Labels: [Type] Code Quality

#27735 Verse Block: Add support for Font Size
  docs/designers-developers/developers/themes/theme-json.md
  packages/block-library/src/verse/block.json
  packages/block-library/src/verse/editor.scss
Labels: [Block] Verse

#27584 Preformatted block: Add support for font sizes
  docs/designers-developers/developers/themes/theme-json.md
  packages/block-library/src/preformatted/block.json
  packages/block-library/src/preformatted/style.scss
  packages/block-library/src/style.scss
Labels: First-time Contributor

#26634 Add inserter performance measures
  bin/plugin/commands/performance.js
  packages/e2e-tests/config/performance-reporter.js
  packages/e2e-tests/specs/performance/post-editor.test.js
  packages/e2e-tests/specs/performance/site-editor.test.js
Labels: Automated Testing, [Package] E2E Tests, [Status] In Progress

#27714 Apply hover class in outline mode
  packages/block-editor/src/components/block-list/use-block-props/use-is-hovered.js
Labels: [Feature] Blocks, [Feature] Full Site Editing

#27673 add comment-form block styles
  packages/block-library/src/post-comments-form/block.json
  packages/block-library/src/post-comments-form/style.scss
  packages/block-library/src/style.scss
Labels: CSS Styling, [Block] Post Comments Form, [Feature] Full Site Editing, [Type] Bug

#27734 Verse Block: Update CSS for frontend and editor
  packages/block-library/src/verse/editor.scss
  packages/block-library/src/verse/style.scss
Labels: [Block] Verse

#27334 [RNMobile] Extract duplicate e2e test setup to jest config
  packages/react-native-editor/__device-tests__/.eslintrc.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-block-insertion.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-columns.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-cover.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-file.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-gallery.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-heading.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-image.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-latest-posts.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-lists-canary.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-lists-end.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-lists.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-more.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-paragraph.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-paste.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-rotation.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-separator.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-spacer.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-unsupported-blocks.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-verse.test.js
  packages/react-native-editor/__device-tests__/helpers/appium-local.js
  packages/react-native-editor/__device-tests__/helpers/caps.js
  packages/react-native-editor/__device-tests__/helpers/utils.js
  packages/react-native-editor/__device-tests__/pages/editor-page.js
  packages/react-native-editor/jest_ui.config.js
  packages/react-native-editor/jest_ui_setup_after_env.js
  packages/react-native-editor/jest_ui_test_environment.js
  packages/react-native-editor/package.json
Labels: Mobile App Android/iOS

#27742 Documentation: Add missing dependency to code example
  docs/designers-developers/developers/tutorials/metabox/meta-block-3-add.md
Labels: First-time Contributor, [Type] Documentation

#27733 [Embed block]: Add html and reusable support back
  packages/block-library/src/embed/block.json
Labels: Backport to WP Minor Release, [Block] Embed, [Type] Regression

#27739 Remove: Missed unused weights and style translation code.
  lib/class-wp-theme-json-resolver.php
Labels: [Type] Code Quality

#27682 refactor: tooltip component from classical to functional with hooks
  packages/components/src/tooltip/index.js
  packages/components/src/tooltip/test/index.js
Labels: [Package] Components, [Type] Code Quality

#27732 Add new post link to Query
  packages/block-library/src/query/edit/query-inspector-controls.js
  packages/block-library/src/query/editor.scss
Labels: [Block] Query

#27754 Fix useFocusOnMount
  packages/components/src/modal/frame.js
  packages/compose/src/hooks/use-focus-on-mount/index.js
Labels: [Type] Bug

#27648 Fix popover flickering on small screens
  packages/components/src/popover/test/utils.js
  packages/components/src/popover/utils.js
Labels: [Package] Components, [Type] Bug

#27408 Buttons block: Change position of the link popover
  packages/block-library/src/button/edit.js
Labels: [Block] Buttons, [Type] Enhancement

#27681 Correct getRedistributedColumnWidths and related tests
  packages/block-library/src/columns/test/utils.js
  packages/block-library/src/columns/utils.js
Labels: [Block] Columns, [Type] Bug

#27755 Widget screen: fix block select on focus
  packages/block-editor/src/components/block-list/use-block-props/use-event-handlers.js
Labels: [Type] Bug

#27669 Allow dragging blocks from the inserter the canvas
  packages/block-editor/src/components/block-draggable/draggable-chip.js
  packages/block-editor/src/components/block-draggable/index.js
  packages/block-editor/src/components/block-mover/index.js
  packages/block-editor/src/components/block-navigation/block-contents.js
  packages/block-editor/src/components/block-types-list/index.js
  packages/block-editor/src/components/inserter-list-item/draggable.js
  packages/block-editor/src/components/inserter-list-item/index.js
  packages/block-editor/src/components/inserter-list-item/style.scss
  packages/block-editor/src/components/inserter/quick-inserter.js
  packages/block-editor/src/components/inserter/search-results.js
  packages/block-editor/src/components/inserter/test/block-types-tab.js
  packages/block-editor/src/components/inserter/test/reusable-blocks-tab.js
  packages/block-editor/src/components/use-on-block-drop/index.js
  packages/block-editor/src/components/use-on-block-drop/test/index.js
Labels: General Interface, [Feature] Drag and Drop, [Feature] Inserter, [Type] Feature

#27414 Edit Post: Replace store name string with exposed store definition
  packages/block-directory/src/components/downloadable-blocks-list/index.js
  packages/edit-post/README.md
  packages/edit-post/src/components/device-preview/index.js
  packages/edit-post/src/components/header/feature-toggle/index.js
  packages/edit-post/src/components/header/fullscreen-mode-close/index.js
  packages/edit-post/src/components/header/header-toolbar/index.js
  packages/edit-post/src/components/header/header-toolbar/index.native.js
  packages/edit-post/src/components/header/index.js
  packages/edit-post/src/components/header/mode-switcher/index.js
  packages/edit-post/src/components/header/post-publish-button-or-toggle.js
  packages/edit-post/src/components/header/preferences-menu-item/index.js
  packages/edit-post/src/components/keyboard-shortcut-help-modal/index.js
  packages/edit-post/src/components/keyboard-shortcuts/index.js
  packages/edit-post/src/components/layout/actions-panel.js
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/layout/index.native.js
  packages/edit-post/src/components/manage-blocks-modal/category.js
  packages/edit-post/src/components/manage-blocks-modal/index.js
  packages/edit-post/src/components/manage-blocks-modal/manager.js
  packages/edit-post/src/components/meta-boxes/index.js
  packages/edit-post/src/components/meta-boxes/meta-box-visibility.js
  packages/edit-post/src/components/meta-boxes/meta-boxes-area/index.js
  packages/edit-post/src/components/preferences-modal/index.js
  packages/edit-post/src/components/preferences-modal/meta-boxes-section.js
  packages/edit-post/src/components/preferences-modal/options/enable-feature.js
  packages/edit-post/src/components/preferences-modal/options/enable-panel.js
  packages/edit-post/src/components/sidebar/discussion-panel/index.js
  packages/edit-post/src/components/sidebar/featured-image/index.js
  packages/edit-post/src/components/sidebar/page-attributes/index.js
  packages/edit-post/src/components/sidebar/plugin-document-setting-panel/index.js
  packages/edit-post/src/components/sidebar/plugin-sidebar/index.js
  packages/edit-post/src/components/sidebar/post-excerpt/index.js
  packages/edit-post/src/components/sidebar/post-link/index.js
  packages/edit-post/src/components/sidebar/post-status/index.js
  packages/edit-post/src/components/sidebar/post-taxonomies/taxonomy-panel.js
  packages/edit-post/src/components/sidebar/settings-header/index.js
  packages/edit-post/src/components/sidebar/settings-sidebar/index.js
  packages/edit-post/src/components/text-editor/index.js
  packages/edit-post/src/components/visual-editor/block-inspector-button.js
  packages/edit-post/src/components/visual-editor/index.js
  packages/edit-post/src/components/welcome-guide/index.js
  packages/edit-post/src/editor.js
  packages/edit-post/src/editor.native.js
  packages/edit-post/src/index.js
  packages/edit-post/src/index.native.js
  packages/edit-post/src/plugins/keyboard-shortcuts-help-menu-item/index.js
  packages/edit-post/src/plugins/manage-blocks-menu-item/index.js
  packages/edit-post/src/plugins/welcome-guide-menu-item/index.js
  packages/edit-post/src/store/actions.js
Labels: Mobile App Android/iOS, [Package] Edit Post, [Type] Code Quality

#27691 Fix for bug #21989, #21650
  packages/block-library/src/gallery/edit.js
Labels: First-time Contributor

#27758 Raw handling: remove duplicate code
  packages/blocks/src/api/raw-handling/get-raw-transforms.js
  packages/blocks/src/api/raw-handling/html-to-blocks.js
  packages/blocks/src/api/raw-handling/index.js
  packages/blocks/src/api/raw-handling/paste-handler.js
  packages/blocks/src/api/raw-handling/test/utils.js
  packages/blocks/src/api/raw-handling/utils.js
Labels: [Type] Code Quality

#27776 Create Block: Fix support for external templates hosted on npm
  packages/create-block/CHANGELOG.md
  packages/create-block/lib/templates.js
Labels: [Package] Create Block, [Type] Bug

#27689 [RNMobile] Audio Block: Proper caption field
  packages/block-library/src/audio/edit.native.js
Labels: Mobile App Android/iOS

#26626 Try removing axe testing
  packages/e2e-tests/config/setup-test-framework.js
Labels: Automated Testing

#27784 Create Block: Another try to fix support for external templates
  package-lock.json
  packages/create-block/CHANGELOG.md
  packages/create-block/lib/templates.js
  packages/create-block/package.json
Labels: [Package] Create Block, [Type] Bug

#27786 Storybook: Perform cleanup in the Storybook setup
  .eslintignore
  .github/workflows/storybook-pages.yml
  .gitignore
  docs/contributors/testing-overview.md
  package-lock.json
  package.json
  storybook/.babelrc
  test/unit/config/register-context.js
  test/unit/jest.config.js
Labels: Storybook, [Type] Code Quality, [Type] Documentation

#27794 Storybook: Fix broken import statements for DateTime component
  packages/components/src/date-time/stories/index.js
  packages/components/src/date-time/stories/with-days-highlighted.js
Labels: Storybook, [Type] Bug

#22777 Add new package `@wordpress/stylelint config`
  docs/manifest.json
  packages/stylelint-config/.npmrc
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/LICENSE
  packages/stylelint-config/README.md
  packages/stylelint-config/index.js
  packages/stylelint-config/package.json
  packages/stylelint-config/scss.js
  packages/stylelint-config/test/.stylelintrc.json
  packages/stylelint-config/test/__snapshots__/commenting.js.snap
  packages/stylelint-config/test/__snapshots__/functions.js.snap
  packages/stylelint-config/test/__snapshots__/index.js.snap
  packages/stylelint-config/test/__snapshots__/media-queries.js.snap
  packages/stylelint-config/test/__snapshots__/properties.js.snap
  packages/stylelint-config/test/__snapshots__/selectors-scss.js.snap
  packages/stylelint-config/test/__snapshots__/selectors.js.snap
  packages/stylelint-config/test/__snapshots__/structure.js.snap
  packages/stylelint-config/test/__snapshots__/values.js.snap
  packages/stylelint-config/test/commenting-invalid.css
  packages/stylelint-config/test/commenting-valid.css
  packages/stylelint-config/test/commenting.js
  packages/stylelint-config/test/css-invalid.css
  packages/stylelint-config/test/css-valid.css
  packages/stylelint-config/test/functions-invalid.css
  packages/stylelint-config/test/functions-valid.css
  packages/stylelint-config/test/functions.js
  packages/stylelint-config/test/index.js
  packages/stylelint-config/test/media-queries-invalid.css
  packages/stylelint-config/test/media-queries-valid.css
  packages/stylelint-config/test/media-queries.js
  packages/stylelint-config/test/properties-invalid.css
  packages/stylelint-config/test/properties-valid.css
  packages/stylelint-config/test/properties.js
  packages/stylelint-config/test/scss-invalid.scss
  packages/stylelint-config/test/scss-valid.scss
  packages/stylelint-config/test/scss.js
  packages/stylelint-config/test/selectors-invalid.css
  packages/stylelint-config/test/selectors-invalid.scss
  packages/stylelint-config/test/selectors-scss.js
  packages/stylelint-config/test/selectors-valid.css
  packages/stylelint-config/test/selectors-valid.scss
  packages/stylelint-config/test/selectors.js
  packages/stylelint-config/test/structure-invalid.css
  packages/stylelint-config/test/structure-valid.css
  packages/stylelint-config/test/structure.js
  packages/stylelint-config/test/themes-valid.css
  packages/stylelint-config/test/themes.js
  packages/stylelint-config/test/values-invalid.css
  packages/stylelint-config/test/values-valid.css
  packages/stylelint-config/test/values.js
  packages/stylelint-config/test/vendor-prefixes-valid.css
  packages/stylelint-config/test/vendor-prefixes.js
Labels: [Package] stylelint config

#27767 RSS Block: Add border-box CSS
  packages/block-library/src/rss/editor.scss
  packages/block-library/src/rss/style.scss
Labels: [Block] RSS, [Feature] Full Site Editing, [Feature] Themes

#27802 [e2e tests]: Remove assertions number check
  packages/e2e-tests/specs/experiments/multi-entity-saving.test.js
Labels: Automated Testing

#27807 Update the minimum required WordPress version to 5.5
  lib/block-directory.php
  lib/block-patterns.php
  lib/class-wp-block-list.php
  lib/class-wp-block-pattern-categories-registry.php
  lib/class-wp-block-patterns-registry.php
  lib/class-wp-block.php
  lib/class-wp-rest-block-directory-controller.php
  lib/class-wp-rest-block-types-controller.php
  lib/class-wp-rest-image-editor-controller.php
  lib/class-wp-rest-plugins-controller.php
  lib/compat.php
  lib/edit-site-page.php
  lib/load.php
  lib/patterns/heading-paragraph.php
  lib/patterns/large-header-button.php
  lib/patterns/large-header.php
  lib/patterns/quote.php
  lib/patterns/text-three-columns-buttons.php
  lib/patterns/text-two-columns-with-images.php
  lib/patterns/text-two-columns.php
  lib/patterns/three-buttons.php
  lib/patterns/two-buttons.php
  lib/patterns/two-images.php
  lib/rest-api.php
  phpunit/class-register-block-type-from-metadata-test.php
  phpunit/class-wp-block-list-test.php
  phpunit/class-wp-block-test.php
  readme.txt
Labels: Gutenberg Plugin, [Type] Code Quality

#27797 Remove optimistic updates to solve the template revert issue
  packages/core-data/src/actions.js
  packages/core-data/src/test/actions.js
  packages/edit-post/src/components/sidebar/post-template/index.js
  packages/edit-post/src/editor.js
  packages/editor/src/store/selectors.js
Labels: Framework, [Feature] Full Site Editing, [Feature] Saving

#27813 Storybook: Updgrade to the latest version
  package-lock.json
  package.json
Labels: Storybook
