Repository WordPress/gutenberg, pull requests merged in 2020-03, with the labels that each got.

#20538 Add missing accessibility attributes in the svg icons
  packages/block-library/src/social-link/index.php
Labels: Backport to WP Core

#20520 @wordpress/env: Fix accidental quotes in Site Title
  packages/env/lib/env.js
Labels: [Package] Env, [Type] Bug

#20529 Cleanup CSS variables
  packages/base-styles/_variables.scss
  packages/block-directory/src/components/downloadable-block-header/style.scss
  packages/block-editor/src/components/block-breadcrumb/style.scss
  packages/block-editor/src/components/block-card/style.scss
  packages/block-editor/src/components/block-mobile-toolbar/style.scss
  packages/block-editor/src/components/block-navigation/style.scss
  packages/block-editor/src/components/block-toolbar/style.scss
  packages/block-editor/src/components/button-block-appender/styles.native.scss
  packages/block-editor/src/components/colors-gradients/style.scss
  packages/block-editor/src/components/default-block-appender/style.scss
  packages/block-editor/src/components/link-control/style.scss
  packages/block-editor/src/components/media-placeholder/styles.native.scss
  packages/block-editor/src/components/multi-selection-inspector/style.scss
  packages/block-editor/src/components/rich-text/style.scss
  packages/block-editor/src/components/url-input/style.scss
  packages/block-library/src/buttons/style.scss
  packages/block-library/src/columns/editor.scss
  packages/block-library/src/columns/style.scss
  packages/block-library/src/more/editor.scss
  packages/block-library/src/navigation-link/editor.scss
  packages/block-library/src/navigation/style.scss
  packages/block-library/src/nextpage/editor.scss
  packages/block-library/src/search/editor.scss
  packages/block-library/src/table/editor.scss
  packages/components/src/angle-picker-control/style.scss
  packages/components/src/button/style.scss
  packages/components/src/custom-gradient-picker/style.scss
  packages/components/src/dropdown-menu/style.scss
  packages/components/src/modal/style.scss
  packages/components/src/notice/style.scss
  packages/components/src/resizable-box/style.scss
  packages/components/src/toolbar-group/style.scss
  packages/edit-post/src/components/layout/style.scss
  packages/edit-post/src/components/preview-options/style.scss
  packages/edit-post/src/style.scss
  packages/editor/src/components/post-saved-state/style.scss
  packages/editor/src/components/post-title/style.scss
Labels: [Type] Code Quality

#20571 Revert/top toolbar tab order
  packages/e2e-tests/specs/editor/various/a11y.test.js
  packages/edit-post/src/components/header/index.js
  packages/edit-post/src/components/header/style.scss
Labels: Accessibility (a11y), Backport to WP Core

#20546 Block Editor: Clear toolbar timeout by ref on unmount
  packages/block-editor/src/components/block-toolbar/utils.js
Labels: Backport to WP Core, [Package] Block editor, [Type] Bug

#20577 Block: consistent focus behaviour on mount
  packages/block-editor/src/components/block-list/block-wrapper.js
Labels: [Type] Code Quality

#20495 Avoid rendering fills if empty elements inside
  packages/e2e-tests/specs/editor/various/reusable-blocks.test.js
  packages/editor/src/components/convert-to-group-buttons/convert-button.js
  packages/editor/src/components/convert-to-group-buttons/index.js
  packages/editor/src/components/reusable-blocks-buttons/index.js
  packages/editor/src/components/reusable-blocks-buttons/reusable-block-convert-button.js
  packages/editor/src/components/reusable-blocks-buttons/reusable-block-delete-button.js
  packages/editor/src/components/reusable-blocks-buttons/test/__snapshots__/reusable-block-delete-button.js.snap
  packages/editor/src/components/reusable-blocks-buttons/test/reusable-block-convert-button.js
  packages/editor/src/components/reusable-blocks-buttons/test/reusable-block-delete-button.js
Labels: [Type] Bug

#20507 Block Editor: Add closing parenthesis on selector
  packages/block-editor/src/components/editor-skeleton/index.js
Labels: Backport to WP Core, Browser Issues, [Type] Bug

#20313 [LatestPosts] Fixes the excerpt length
  packages/block-library/src/latest-posts/index.php
Labels: [Block] Latest Posts, [Type] Bug

#20594 Rich Text: Avoid activeElement focus call
  packages/rich-text/src/to-dom.js
Labels: Backport to WP Core, Browser Issues, [Type] Bug

#20597 Block Library: Columns: Force 50% column width at mid-range viewport
  packages/block-library/src/columns/style.scss
Labels: Backport to WP Core, [Block] Columns, [Type] Bug

#20578 Try: G2 polish
  packages/block-editor/src/components/alignment-toolbar/index.js
  packages/block-editor/src/components/alignment-toolbar/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/block-switcher/style.scss
  packages/block-editor/src/components/rich-text/format-toolbar/index.js
  packages/components/src/notice/style.scss
  packages/components/src/placeholder/style.scss
  packages/editor/src/components/editor-notices/style.scss
  packages/editor/src/components/post-publish-button/index.js
  packages/editor/src/components/post-publish-button/label.js
Labels: [Type] Enhancement

#20382 Docs: Correctness: Grammar
  docs/contributors/develop.md
Labels: [Type] Documentation

#20386 Docs: Typo improved: Correctness grammar
  docs/contributors/git-workflow.md
Labels: [Type] Documentation

#20539 Media & Text Block: Fix frontend styles when "Crop image to fill" is selected
  packages/block-library/src/media-text/edit.js
  packages/block-library/src/media-text/editor.scss
  packages/block-library/src/media-text/style.scss
Labels: [Block] Media & Text, [Type] Bug

#20611 Make the editor fullscreen by default
  packages/e2e-test-utils/src/create-new-post.js
  packages/edit-post/src/store/defaults.js
Labels: Backport to WP Core, General Interface, Needs Design Feedback, [Type] Enhancement

#20613 Cherry pick: fullscreen by default into wp-trunk
  packages/e2e-test-utils/src/create-new-post.js
  packages/edit-post/src/store/defaults.js
Labels: [Type] Project Management

#20527 [RNMobile] Revert "enable FloatingToolbar for all blocks"
  packages/block-editor/src/components/block-list/block.native.js
Labels: [Feature] Block API

#20572 [RNMobile] hide "⤴️" button from FloatingToolbar for root list blocks
  packages/block-editor/src/components/block-list/block.native.js
  packages/block-editor/src/components/block-list/breadcrumb.native.js
  packages/block-editor/src/components/block-list/breadcrumb.native.scss
Labels: [Block] Group, [Feature] Nested / Inner Blocks

#20535 [RNMobile] Fix BlockCaption padding visibility
  packages/block-editor/src/components/block-caption/index.native.js
  packages/block-editor/src/components/block-caption/styles.native.scss
Labels: [Block] Gallery, [Block] Image, [Block] Video, [Type] Bug

#20498 Lighter block DOM: List
  packages/block-editor/src/components/block-list/block-wrapper.js
  packages/block-library/src/list/edit.js
  packages/block-library/src/list/index.js
  packages/rich-text/src/component/index.js
Labels: [Block] List, [Type] Code Quality, [Type] Enhancement

#20576 Use a light wrapper for the image block
  packages/block-editor/src/components/block-list/block-wrapper.js
  packages/block-editor/src/components/block-list/style.scss
  packages/block-library/src/image/edit.js
  packages/block-library/src/image/index.js
  packages/block-library/src/image/test/edit.js
  packages/block-library/src/paragraph/index.js
  packages/e2e-tests/specs/editor/blocks/image.test.js
  packages/edit-post/src/style.scss
  storybook/stories/playground/editor-styles.scss
Labels: [Block] Image, [Type] Code Quality

#20608 Update the edit site save modal UI
  docs/designers-developers/developers/data/data-core.md
  package-lock.json
  packages/components/src/base-control/style.scss
  packages/components/src/color-picker/style.scss
  packages/core-data/README.md
  packages/core-data/package.json
  packages/core-data/src/entities.js
  packages/core-data/src/selectors.js
  packages/core-data/src/test/selectors.js
  packages/edit-site/package.json
  packages/edit-site/src/components/save-button/index.js
  packages/editor/package.json
  packages/editor/src/components/entities-saved-states/index.js
  packages/editor/src/components/post-publish-button/index.js
  packages/editor/src/store/selectors.js
  packages/editor/src/store/test/selectors.js
Labels: Needs Design Feedback, [Feature] Full Site Editing

#20603 Improve the Back to WP button in Fullscreen Mode
  package-lock.json
  packages/e2e-tests/specs/editor/various/fullscreen-mode.test.js
  packages/edit-post/package.json
  packages/edit-post/src/components/header/fullscreen-mode-close/index.js
  packages/edit-post/src/components/header/fullscreen-mode-close/style.scss
  packages/edit-post/src/components/header/index.js
  packages/edit-post/src/components/header/style.scss
Labels: [Type] Bug, [Type] Enhancement

#20526 Make the inserter full height
  packages/block-editor/README.md
  packages/block-editor/src/components/inserter/menu.js
  packages/block-editor/src/components/inserter/style.scss
  packages/block-editor/src/store/defaults.js
  packages/edit-post/src/components/options-modal/index.js
  packages/edit-post/src/components/options-modal/options/enable-feature.js
  packages/edit-post/src/components/options-modal/options/index.js
  packages/edit-post/src/components/options-modal/test/__snapshots__/index.js.snap
  packages/edit-post/src/editor.js
  packages/edit-post/src/store/defaults.js
  packages/editor/src/components/provider/index.js
Labels: [Feature] Inserter, [Package] Block library

#20662 docs(env): ports must be integers
  packages/env/README.md
Labels: [Package] Env, [Type] Documentation

#20587 Add natural columns pattern
  lib/client-assets.php
  lib/patterns/natural-columns.json
Labels: [Feature] Patterns, [Type] Enhancement

#20648 Save database on wp-env.
  packages/env/lib/build-docker-compose-config.js
Labels: [Package] Env, [Type] Build Tooling

#20672 Add 4 columns footer pattern
  lib/client-assets.php
  lib/patterns/columns4-footer.json
Labels: [Feature] Patterns

#20663 Try, fix inserter being hidden.
  packages/block-editor/src/components/default-block-appender/style.scss
Labels: [Type] Bug

#20604 Fix incorrectly displayed preview option for private post types
  packages/e2e-tests/plugins/custom-post-types.php
  packages/e2e-tests/specs/editor/various/preview.test.js
  packages/edit-post/src/components/preview-options/index.js
  packages/edit-post/src/components/preview-options/style.scss
Labels: General Interface, [Type] Bug

#20668 E2E Tests: Await embed error placeholder size class
  packages/e2e-tests/specs/editor/various/embedding.test.js
Labels: Automated Testing, [Package] E2E Tests

#20664 Block Editor: Use full labels for directional block movers
  packages/block-editor/src/components/block-mover/index.js
Labels: Backport to WP Core, Internationalization (i18n), [Package] Block editor, [Type] Bug, [Type] Regression

#20680 Fix widgets screen inserter
  packages/block-editor/src/components/block-list/style.scss
  packages/block-editor/src/components/default-block-appender/style.scss
  packages/edit-post/src/components/header/style.scss
  packages/edit-widgets/src/components/header/style.scss
  packages/edit-widgets/src/components/widget-area/index.js
Labels: [Feature] Inserter, [Feature] Widgets

#20679 Polish G2
  packages/block-editor/src/components/block-navigation/dropdown.js
  packages/block-editor/src/components/tool-selector/index.js
  packages/block-editor/src/components/tool-selector/style.scss
  packages/block-editor/src/components/url-popover/test/__snapshots__/index.js.snap
  packages/components/src/color-picker/test/__snapshots__/index.js.snap
  packages/components/src/menu-items-choice/style.scss
  packages/edit-post/src/components/sidebar/plugin-post-publish-panel/test/__snapshots__/index.js.snap
  packages/edit-post/src/components/sidebar/plugin-pre-publish-panel/test/__snapshots__/index.js.snap
  packages/icons/src/library/chevron-down.js
  packages/icons/src/library/chevron-left.js
  packages/icons/src/library/chevron-right.js
  packages/icons/src/library/chevron-up.js
  storybook/test/__snapshots__/index.js.snap
Labels: [Type] Enhancement

#20410 Docs: add tutorial for creating a custom block editor instance
  docs/designers-developers/developers/platform/README.md
  docs/designers-developers/developers/platform/custom-block-editor/README.md
  docs/designers-developers/developers/platform/custom-block-editor/tutorial.md
  docs/designers-developers/developers/tutorials/readme.md
Labels: Needs Technical Feedback, [Type] Documentation

#20676 Fix spacing and alignment in different block placeholders
  packages/block-editor/src/components/block-variation-picker/style.scss
  packages/block-library/src/rss/edit.js
  packages/block-library/src/rss/editor.scss
  packages/block-library/src/table/edit.js
  packages/block-library/src/table/editor.scss
  packages/editor/src/editor-styles.scss
Labels: [Feature] Blocks, [Type] Bug

#20639 Site Editor - extension point filter list for Site Editor init hook.
  lib/edit-site-page.php
Labels: [Feature] Full Site Editing

#20628 Plugin: Bump minimum WordPress version to 5.3
  gutenberg.php
  lib/client-assets.php
  lib/compat.php
  phpunit/class-extend-preload-paths-test.php
  readme.txt
Labels: Gutenberg Plugin

#20709 Update browserslist to fix out-of-date caniuse-lite messages
  package-lock.json
  package.json
Labels: Npm Packages, [Type] Code Quality

#20673 Check for match in stylesheet host and protocol
  packages/block-editor/src/components/use-simulated-media-query/index.js
Labels: [Type] Bug

#20612 Fix: Custom color formatter may end up "bouncing"
  packages/format-library/src/text-color/inline.js
Labels: Backport to WP Core, [Package] Format library

#20686 Docs: Fixes links in platform and custom block editor tutorial
  docs/designers-developers/developers/platform/README.md
  docs/designers-developers/developers/platform/custom-block-editor/README.md
Labels: [Type] Documentation

#20712 Correct link to list of WP's supported browsers
  packages/dom-ready/README.md
Labels: [Type] Documentation

#20717 Block library: Use block.json consistently for FSE blocks
  packages/block-library/src/post-author/index.php
  packages/block-library/src/post-comments-count/index.php
  packages/block-library/src/post-comments-form/index.php
  packages/block-library/src/post-content/index.php
  packages/block-library/src/post-date/index.php
  packages/block-library/src/post-excerpt/index.php
  packages/block-library/src/post-featured-image/index.php
  packages/block-library/src/post-tags/index.php
  packages/block-library/src/post-title/index.php
  packages/block-library/src/site-title/index.php
Labels: [Package] Block library, [Type] Code Quality

#20690 Block Library: Flatten width calculation of gallery columns
  packages/block-library/src/gallery/style.scss
Labels: Browser Issues, [Block] Gallery, [Type] Bug

#20715 Adapt the height of the block preview container to its content
  package-lock.json
  packages/block-editor/package.json
  packages/block-editor/src/components/block-patterns/index.js
  packages/block-editor/src/components/block-patterns/style.scss
  packages/block-editor/src/components/block-preview/auto.js
  packages/block-editor/src/components/block-preview/index.js
  packages/block-editor/src/components/block-preview/scaled.js
  packages/block-editor/src/components/block-preview/style.scss
Labels: [Feature] Patterns, [Type] Enhancement

#20724 Add basic patterns
  lib/client-assets.php
  lib/patterns/columns4-footer.json
  lib/patterns/cover-abc.json
  lib/patterns/natural-columns.json
  lib/patterns/teams.json
  lib/patterns/testimonial.json
  lib/patterns/text-two-columns.json
Labels: [Feature] Patterns

#20720 Try: Classic document outline
  packages/edit-post/src/components/header/header-toolbar/index.js
  packages/edit-post/src/components/layout/index.js
  packages/icons/src/library/info.js
  storybook/test/__snapshots__/index.js.snap
Labels: [Type] Enhancement

#20722 Docs: update tutorials link to point at new platform section
  docs/designers-developers/developers/tutorials/readme.md
Labels: [Type] Documentation

#20670 GradientPicker: Fix control point UI and drag interaction
  packages/components/src/angle-picker-control/index.js
  packages/components/src/custom-gradient-picker/style.scss
Labels: [Package] Components

#20726 Add a pattern showing two buttons with styles.
  lib/client-assets.php
  lib/patterns/two-buttons.json
Labels: [Feature] Patterns

#20727 Docs/SlotFills: Small correction + prettify code examples
  docs/designers-developers/developers/slotfills/README.md
  docs/designers-developers/developers/slotfills/plugin-block-settings-menu-item.md
  docs/designers-developers/developers/slotfills/plugin-document-setting-panel.md
  docs/designers-developers/developers/slotfills/plugin-post-publish-panel.md
  docs/designers-developers/developers/slotfills/plugin-post-status-info.md
  docs/designers-developers/developers/slotfills/plugin-pre-publish-panel.md
  docs/designers-developers/developers/slotfills/plugin-sidebar-more-menu-item.md
  docs/designers-developers/developers/slotfills/plugin-sidebar.md
Labels: [Type] Documentation

#20725 Add two images side by side pattern
  lib/client-assets.php
  lib/patterns/two-images.json
Labels: [Feature] Patterns

#20736 Build: Include entire `lib/` folder in plugin bundle
  bin/build-plugin-zip.sh
Labels: [Type] Build Tooling

#20247 RangeControl: Fix Reset and initialPosition
  packages/components/src/range-control/index.js
  packages/components/src/range-control/styles/range-control-styles.js
  packages/components/src/range-control/test/index.js
  packages/components/src/range-control/utils.js
  storybook/test/__snapshots__/index.js.snap
Labels: [Package] Components, [Type] Bug

#20694 Expand create block options and add readme.txt template
  packages/create-block/lib/prompts.js
  packages/create-block/lib/scaffold.js
  packages/create-block/lib/templates.js
  packages/create-block/lib/templates/es5/readme.txt.mustache
  packages/create-block/lib/templates/esnext/readme.txt.mustache
Labels: First-time Contributor, [Package] Create Block, [Type] Enhancement

#20753 Try: Show inserter only when block selected for nesting contexts.
  packages/block-editor/src/components/block-list-appender/style.scss
Labels: [Type] Enhancement

#20754 Polish poster image button arrangement.
  packages/block-library/src/video/edit.js
  packages/block-library/src/video/editor.scss
  packages/components/src/base-control/style.scss
Labels: [Block] Video

#20767 Docs/SlotFills: Small update for consistency
  docs/designers-developers/developers/slotfills/README.md
  docs/designers-developers/developers/slotfills/plugin-block-settings-menu-item.md
Labels: [Type] Documentation

#20624 Removed the textarea width restriction for the Shortcode block
  packages/block-library/src/shortcode/editor.scss
Labels: Needs Testing, [Feature] Shortcodes

#20667 Add codeowners for env package
  .github/CODEOWNERS
Labels: [Package] Env, [Type] Enhancement

#20763 Update Navigation Menu Item icon
  packages/block-editor/src/components/block-switcher/style.scss
  packages/block-library/src/navigation-link/index.js
  packages/icons/src/library/map-marker.js
  storybook/test/__snapshots__/index.js.snap
Labels: [Block] Navigation

#20772 Implement mock block-wrapper for mobile version.
  packages/block-editor/src/components/block-list/block-wrapper.native.js
  packages/block-editor/src/components/index.native.js
Labels: Mobile App Compatibility

#20782 Polish a few broken things in the sidebar.
  packages/block-editor/src/components/block-styles/style.scss
  packages/block-library/src/table/editor.scss
  packages/components/src/base-control/style.scss
  packages/components/src/button-group/style.scss
Labels: [Type] Enhancement

#20776 Gallery: Update UI of controls
  packages/block-library/src/gallery/editor.scss
  packages/block-library/src/gallery/gallery-image.js
  packages/block-library/src/gallery/icons.js
Labels: [Block] Gallery

#20780 Fix auto-hiding appender regression.
  packages/block-editor/src/components/block-list-appender/style.scss
Labels: [Type] Bug, [Type] Regression

#20301 [RNMobile] Latest Posts Block v1 Support in Mobile
  packages/block-library/src/index.native.js
  packages/block-library/src/latest-posts/block.json
  packages/block-library/src/latest-posts/constants.js
  packages/block-library/src/latest-posts/edit.js
  packages/block-library/src/latest-posts/edit.native.js
  packages/block-library/src/latest-posts/index.js
  packages/block-library/src/latest-posts/index.php
  packages/block-library/src/latest-posts/style.native.scss
  packages/components/src/index.native.js
  packages/components/src/query-controls/category-select.js
  packages/components/src/query-controls/index.js
Labels: Mobile App Compatibility, [Block] Latest Posts, [Type] Enhancement

#20537 URL: Use test data from web-platform-tests for isURL spec conformance
  package-lock.json
  packages/url/package.json
  packages/url/scripts/download-wpt-data.js
  packages/url/src/is-url.native.js
  packages/url/src/test/fixtures/README.md
  packages/url/src/test/fixtures/wpt-data.json
  packages/url/src/test/index.native.js
  packages/url/src/test/index.test.js
  tsconfig.json
Labels: Automated Testing, [Package] Url, [Type] Enhancement

#20756 Create block: Improve how prompts and values provided are handled
  packages/create-block/CHANGELOG.md
  packages/create-block/lib/init-wp-scripts.js
  packages/create-block/lib/prompts.js
  packages/create-block/lib/templates/es5/$slug.php.mustache
  packages/create-block/lib/templates/es5/readme.txt.mustache
  packages/create-block/lib/templates/esnext/$slug.php.mustache
  packages/create-block/lib/templates/esnext/readme.txt.mustache
Labels: [Package] Create Block, [Type] Enhancement

#20463 [RNMobile] Cover block - Support adding video background from media library
  packages/block-library/src/cover/edit.native.js
Labels: Mobile App Compatibility, [Block] Cover

#20817 Update the inserter's block preview to use the AutoHeightPreview
  packages/block-editor/src/components/inserter/menu.js
  packages/block-editor/src/components/inserter/style.scss
Labels: [Feature] Inserter, [Type] Bug

#19504 Adds always on display of media URL
  packages/block-editor/src/components/link-control/README.md
  packages/block-editor/src/components/link-control/index.js
  packages/block-editor/src/components/media-replace-flow/index.js
  packages/block-editor/src/components/media-replace-flow/style.scss
Labels: [Feature] Media, [Type] Enhancement

#20822 Fix drag and drop into the Columns block
  packages/components/src/drop-zone/index.js
  packages/components/src/drop-zone/provider.js
Labels: [Block] Columns, [Feature] Drag and Drop, [Type] Bug

#20823 Fix columns block selection
  packages/block-editor/src/utils/dom.js
Labels: [Block] Columns, [Type] Bug, [Type] Regression

#20824 Polish date-picker component
  packages/components/src/button-group/style.scss
  packages/components/src/date-time/style.scss
  packages/components/src/date-time/test/__snapshots__/time.js.snap
  packages/components/src/date-time/time.js
  packages/editor/src/components/post-publish-panel/style.scss
Labels: [Type] Enhancement

#20818 Fix applying backgrounds and colors to the columns block in the editor
  packages/block-editor/src/components/colors/use-colors.js
  packages/block-library/src/columns/edit.js
Labels: [Block] Columns, [Type] Bug, [Type] Regression

#20481 E2E Tests: Mock Embed response for InnerBlocks locking test
  packages/e2e-tests/specs/editor/plugins/innerblocks-locking-all-embed.js
Labels: Automated Testing, [Package] E2E Tests, [Status] In Progress

#20811 E2E Test Utils: Improve durability of embedding matcher
  packages/e2e-test-utils/src/mocks/create-embedding-matcher.js
Labels: [Package] E2E Test Utils, [Type] Code Quality

#20738 URL: Fix getQueryString incorrect handling of hash fragment
  packages/url/CHANGELOG.md
  packages/url/README.md
  packages/url/src/get-query-string.js
  packages/url/src/test/index.test.js
Labels: [Package] Url, [Type] Bug

#20737 ESLint Plugin: Relax `prefer-const` for destructuring assignment
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/configs/esnext.js
Labels: [Package] ESLint plugin

#20746 Refactor spacer block to share edit method with the web.
  packages/block-library/src/spacer/edit.js
  packages/block-library/src/spacer/edit.native.js
  packages/components/src/index.native.js
  packages/components/src/resizable-box/index.native.js
  packages/components/src/resizable-box/style.native.scss
Labels: Mobile App Compatibility

#20802 Improve performance testing
  packages/e2e-tests/config/performance-reporter.js
  packages/e2e-tests/specs/performance/performance.test.js
Labels: [Package] E2E Tests, [Type] Performance

#20503 Improves RTL style conversion
  packages/components/src/utils/rtl.js
  packages/components/src/utils/test/rtl.js
Labels: [Package] Components

#20828 Revert "Framework: Travis: Avoid skipping Puppeteer download"
  .travis.yml
Labels: Framework

#19823 Framework: Use WHATWG URL in place of legacy url module
  package-lock.json
  packages/block-editor/src/utils/transform-styles/transforms/url-rewrite.js
  packages/block-library/package.json
  packages/block-library/src/embed/embed-preview.js
  packages/e2e-test-utils/src/create-url.js
  packages/e2e-test-utils/src/is-current-url.js
  packages/e2e-tests/specs/editor/various/preview.test.js
Labels: Framework, [Type] Code Quality, [Type] Performance

#20225 Compat: Use core-js-url-browser for URL polyfill
  lib/client-assets.php
  lib/compat.php
Labels: Browser Issues, [Package] Url, [Type] Bug

#20649 Fix visually hidden classnames
  packages/components/src/visually-hidden/index.js
  packages/components/src/visually-hidden/stories/index.js
  storybook/test/__snapshots__/index.js.snap
Labels: [Package] Components, [Type] Task

#20844 Dependencies webpack plugin: Let the output file be specified when output is combined
  packages/dependency-extraction-webpack-plugin/CHANGELOG.md
  packages/dependency-extraction-webpack-plugin/README.md
  packages/dependency-extraction-webpack-plugin/index.js
Labels: [Package] Dependency Extraction Webpack Plugin, [Type] Enhancement

#20784 Add ESNext example for unregisterBlockType
  docs/designers-developers/developers/filters/block-filters.md
Labels: [Type] Documentation

#19244 Show errors in the media replace control
  packages/block-editor/src/components/media-replace-flow/index.js
  packages/block-editor/src/components/media-replace-flow/style.scss
Labels: Accessibility (a11y), Needs Design Feedback, [Block] Image

#20842 [RNMobile]: Refine block settings' separator margin
  packages/block-library/src/video/edit-common-settings.js
  packages/components/src/mobile/bottom-sheet/cell.native.js
Labels: Mobile App Compatibility

#20718 Remove feature flag for mobile page templates
  packages/block-editor/README.md
  packages/block-editor/src/components/page-template-picker/templates/contact.native.js
  packages/block-editor/src/components/page-template-picker/templates/services.native.js
  packages/block-editor/src/components/page-template-picker/use-page-template-picker-visible.js
  packages/block-editor/src/store/defaults.js
  packages/editor/src/components/provider/index.js
Labels: Mobile App Compatibility

#19918 [RNMobile] Create cross platform `useResizeObserver()` hook
  package-lock.json
  packages/block-library/src/embed/test/__snapshots__/index.js.snap
  packages/components/package.json
  packages/components/src/placeholder/index.js
  packages/components/src/placeholder/test/index.js
  packages/compose/README.md
  packages/compose/package.json
  packages/compose/src/hooks/use-resize-observer/index.js
  packages/compose/src/hooks/use-resize-observer/index.native.js
  packages/compose/src/hooks/use-resize-observer/test/index.native.js
  packages/compose/src/index.js
  packages/compose/src/index.native.js
  storybook/test/__snapshots__/index.js.snap
  test/unit/config/global-mocks.js
Labels: [Package] Hooks, [Type] New API

#20871 Edit Post: Register block patterns as separate plugin
  packages/edit-post/src/plugins/index.js
Labels: [Feature] Patterns, [Type] Plugin Interoperability

#20841 RNMobile - Replace Icon for media editing
  packages/block-library/src/cover/edit-media-icon.native.js
  packages/block-library/src/cover/edit.native.js
  packages/block-library/src/image/edit.native.js
  packages/block-library/src/image/icon.js
  packages/block-library/src/media-text/media-container.native.js
  packages/block-library/src/video/edit.native.js
  packages/icons/src/index.js
  packages/icons/src/library/replace.js
  storybook/test/__snapshots__/index.js.snap
Labels: [Type] Enhancement

#20026 Add Prettier shared config package
  docs/manifest.json
  package-lock.json
  package.json
  packages/prettier-config/.npmrc
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/README.md
  packages/prettier-config/lib/index.js
  packages/prettier-config/package.json
  packages/prettier-config/test/index.js
  packages/scripts/CHANGELOG.md
  packages/scripts/config/.prettierrc.js
  packages/scripts/package.json
Labels: Npm Packages, [Package] Prettier config

#20854 Patterns: Make adding patterns easier
  lib/client-assets.php
Labels: [Feature] Patterns, [Type] Enhancement

#20878 [RNMobile] Update cellRowStyles to add flex-shrink back and fix a disapearing stepper in bottom sheets
  packages/components/src/mobile/bottom-sheet/stepper-cell/style.native.scss
Labels: Mobile App Compatibility

#20872 Add default styles to the TabPanel component
  packages/components/src/style.scss
  packages/components/src/tab-panel/index.js
  packages/components/src/tab-panel/stories/index.js
  packages/components/src/tab-panel/style.scss
  storybook/test/__snapshots__/index.js.snap
Labels: Good First Review, [Feature] UI Components

#20830 [RNMobile] Remove left border of the toolbar
  packages/edit-post/src/components/header/header-toolbar/index.native.js
Labels: Mobile App Compatibility

#20683 Preview Button: Remove the separator and border, and reduce the size of the icon.
  packages/block-library/src/embed/test/__snapshots__/index.js.snap
  packages/edit-post/src/components/preview-options/index.js
  packages/edit-post/src/components/preview-options/style.scss
  packages/icons/src/library/external.js
  storybook/test/__snapshots__/index.js.snap
Labels: First-time Contributor

#20334 [RNMobile] Adding global toolbar height to auto-scroll calculations
  packages/base-styles/_variables.scss
  packages/block-editor/src/components/block-list/index.native.js
  packages/block-editor/src/components/block-list/style.native.scss
  packages/block-editor/src/components/block-mobile-toolbar/style.native.scss
  packages/components/src/mobile/keyboard-aware-flat-list/index.ios.js
  packages/edit-post/src/components/header/header-toolbar/style.native.scss
  test/native/__mocks__/styleMock.js
Labels: Mobile App Compatibility

#20886 Site Editor: style resets for top level page
  lib/edit-site-page.php
  lib/global-styles.php
  lib/widgets.php
  packages/edit-site/src/style.scss
Labels: [Feature] Full Site Editing

#20890 Block Patterns: Update text-two-columns.json
  lib/patterns/text-two-columns.json
Labels: First-time Contributor, Needs Testing

#20911 Docs: Correct 2nd param of useViewportMatch() usage
  packages/compose/README.md
Labels: [Type] Documentation

#20913 Update README.md
  packages/components/src/checkbox-control/README.md
Labels: First-time Contributor, [Type] Documentation

#20786 [RNMobile] Adding unit test to ListEdit
  packages/block-library/src/list/test/edit.native.js
Labels: Mobile App Compatibility

#20892 Fix: ResponsiveWrapper can not handle cases with small dimensions
  packages/components/src/responsive-wrapper/index.js
  packages/components/src/responsive-wrapper/style.scss
Labels: Backport to WP Core, [Type] Bug

#20865 Avoid page templates overwriting page title
  packages/block-editor/src/components/page-template-picker/picker.js
Labels: Mobile App Compatibility

#20838 [RNMobile] Add `useResizeObserver()` to Column Block
  packages/block-library/src/column/edit.native.js
  packages/block-library/src/columns/edit.native.js
Labels: Mobile App Compatibility, [Block] Columns

#20633 Mobile: Add accessibility label to Block List Footer
  packages/block-editor/src/components/block-list/index.native.js
Labels: Mobile App Compatibility

#20916 Scripts: Update all webpack related dependencies
  package-lock.json
  package.json
  packages/scripts/CHANGELOG.md
  packages/scripts/package.json
Labels: [Package] Scripts, [Type] Enhancement

#20678 Document default login credentials and `wp-env run` command
  packages/env/README.md
  packages/env/lib/cli.js
Labels: [Type] Documentation

#20889 Block Editor: Use useResizeObserver in place of direct react-resize-aware dependency
  package-lock.json
  packages/block-editor/package.json
  packages/block-editor/src/components/block-preview/auto.js
Labels: [Package] Block editor, [Type] Code Quality

#20691 Site Editor: add Fullscreen mode
  packages/block-editor/src/components/fullscreen-mode/index.js
  packages/block-editor/src/components/fullscreen-mode/style.scss
  packages/block-editor/src/components/fullscreen-mode/test/index.js
  packages/block-editor/src/components/index.js
  packages/block-editor/src/style.scss
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/style.scss
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/index.js
  packages/edit-site/src/store/actions.js
  packages/edit-site/src/store/constants.js
  packages/edit-site/src/store/controls.js
  packages/edit-site/src/store/defaults.js
  packages/edit-site/src/store/index.js
  packages/edit-site/src/store/reducer.js
  packages/edit-site/src/store/selectors.js
  packages/edit-site/src/store/test/actions.js
  packages/edit-site/src/store/test/reducer.js
  packages/edit-site/src/store/test/selectors.js
Labels: [Feature] Full Site Editing

#20921 Fix: Cover block does not contain a class for predefined gradients
  packages/block-library/src/cover/deprecated.js
  packages/block-library/src/cover/save.js
  packages/e2e-tests/fixtures/blocks/core__cover__deprecated-5.html
  packages/e2e-tests/fixtures/blocks/core__cover__deprecated-5.json
  packages/e2e-tests/fixtures/blocks/core__cover__deprecated-5.parsed.json
  packages/e2e-tests/fixtures/blocks/core__cover__deprecated-5.serialized.html
Labels: [Block] Cover

#20438 FSE: Get current template part correctly for auto drafts
  lib/template-loader.php
Labels: [Feature] Full Site Editing, [Type] Bug

#20617 Styles Panel: Don't force it to be closed by default.
  packages/block-editor/src/components/block-inspector/index.js
Labels: Needs Design Feedback, [Feature] Style Variations

#20607 Fix/screen reader text
  packages/block-editor/src/components/block-navigation/list.js
  packages/block-editor/src/components/button-block-appender/index.js
  packages/block-editor/src/components/inserter/menu.js
  packages/block-editor/src/components/link-control/settings-drawer.js
  packages/block-editor/src/components/link-control/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/responsive-block-control/label.js
  packages/block-editor/src/components/responsive-block-control/test/__snapshots__/index.js.snap
  packages/block-library/src/categories/edit.js
  packages/block-library/src/gallery/gallery.js
  packages/components/src/button/style.scss
  packages/components/src/custom-gradient-picker/control-points.js
  packages/components/src/custom-select-control/index.js
  packages/components/src/font-size-picker/index.js
  packages/editor/src/components/post-preview-button/index.js
  packages/editor/src/components/post-preview-button/test/__snapshots__/index.js.snap
  packages/editor/src/components/post-text-editor/index.js
  packages/editor/src/components/post-title/index.js
  packages/editor/src/components/post-visibility/index.js
  storybook/stories/playground/reset.scss
  storybook/test/__snapshots__/index.js.snap
Labels: Accessibility (a11y), First-time Contributor, [Feature] UI Components, [Type] Task

#20880 Refactor the inserter menu component and split into multiple smaller components
  packages/block-editor/src/components/inserter/block-list.js
  packages/block-editor/src/components/inserter/menu.js
  packages/block-editor/src/components/inserter/preview-panel.js
  packages/block-editor/src/components/inserter/search-form.js
  packages/block-editor/src/components/inserter/test/block-list.js
Labels: [Feature] Inserter, [Type] Code Quality

#20939 Compat: Conditionally filter editor settings for image dimensions
  lib/client-assets.php
  lib/compat.php
Labels: [Block] Latest Posts, [Type] Bug, [Type] Plugin Interoperability

#20965 RNMobile - Disable Cover for production
  packages/block-library/src/index.native.js
Labels: Mobile App Compatibility

#20976 Remove iframe from content elements
  packages/blocks/src/api/raw-handling/phrasing-content.js
Labels: [Type] Code Quality, [Type] Task

#20977 Update Search/RSS block render method
  packages/block-library/src/rss/index.php
  packages/block-library/src/search/index.php
Labels: [Type] Code Quality, [Type] Task

#20968 Lowercase visual editor and code editor to match block editor and classic editor
  docs/designers-developers/developers/filters/editor-filters.md
  docs/designers-developers/developers/themes/block-based-themes.md
  docs/designers-developers/faq.md
  packages/components/src/menu-items-choice/README.md
  packages/e2e-tests/specs/editor/plugins/container-blocks.test.js
  packages/edit-post/src/components/keyboard-shortcuts/index.js
  packages/edit-post/src/components/text-editor/index.js
  packages/edit-post/src/components/text-editor/style.scss
Labels: [Type] Documentation

#20789 RNMobile - FloatingToolbar - Make children accessible
  packages/block-editor/src/components/block-list/block-mobile-floating-toolbar.native.js
Labels: [Type] Bug

#19581 Block Library: Add a Post Comments block.
  lib/blocks.php
  packages/block-library/src/index.js
  packages/block-library/src/post-comments/block.json
  packages/block-library/src/post-comments/edit.js
  packages/block-library/src/post-comments/index.js
  packages/block-library/src/post-comments/index.php
  packages/core-data/src/entities.js
  packages/e2e-tests/fixtures/blocks/core__post-comments.html
  packages/e2e-tests/fixtures/blocks/core__post-comments.json
  packages/e2e-tests/fixtures/blocks/core__post-comments.parsed.json
  packages/e2e-tests/fixtures/blocks/core__post-comments.serialized.html
Labels: Needs Design Feedback, New Block, [Feature] Full Site Editing

#19789 Add visible labels to BlockPatternPicker pattern selection buttons
  packages/block-editor/src/components/block-variation-picker/index.js
  packages/block-editor/src/components/block-variation-picker/style.scss
  packages/block-library/src/columns/variations.js
Labels: [Feature] Block API, [Type] Enhancement, [a11y] Labelling

#20549 Add things required to load custom blocks to Site Editor page
  lib/edit-site-page.php
  lib/template-loader.php
Labels: [Feature] Full Site Editing

#20980 Polish a few icons
  packages/icons/src/library/format-bold.js
  packages/icons/src/library/format-indent.js
  packages/icons/src/library/format-italic.js
  packages/icons/src/library/format-outdent.js
  packages/icons/src/library/format-strikethrough.js
  packages/icons/src/library/resize-corner-n-e.js
  storybook/test/__snapshots__/index.js.snap
Labels: [Type] Enhancement

#20946 Fix mobile header.
  packages/edit-post/src/components/header/style.scss
  packages/edit-post/src/components/layout/style.scss
  packages/editor/src/components/post-saved-state/style.scss
Labels: [Type] Regression

#12009 Try: Improve permalink editing
  docs/designers-developers/developers/data/data-core-editor.md
  lib/rest-api.php
  packages/e2e-tests/specs/editor/various/sidebar-permalink-panel.test.js
  packages/edit-post/src/components/sidebar/post-link/index.js
  packages/editor/src/components/post-permalink/index.js
  packages/editor/src/store/selectors.js
  packages/editor/src/store/test/selectors.js
Labels: [Feature] Permalink, [Type] Enhancement

#20987 [RNMobile] apply flex to prevent caption overlap in Gallery block
  packages/block-library/src/gallery/gallery.native.js
Labels: Mobile App Compatibility, [Block] Gallery, [Type] Bug

#20699 Convert _experimentalCreateInterpolateElement to a stable api.
  packages/block-editor/src/components/inserter/tips.js
  packages/block-editor/src/components/link-control/search-create-button.js
  packages/components/src/text-highlight/index.js
  packages/edit-post/src/components/welcome-guide/index.js
  packages/element/CHANGELOG.md
  packages/element/README.md
  packages/element/src/index.js
Labels: Needs Dev Note, [Package] Element

#20927 [RNmobile] Improve "take video" icon
  packages/block-editor/src/components/media-upload/index.native.js
  packages/icons/src/index.js
  packages/icons/src/library/capture-photo.js
  packages/icons/src/library/capture-video.js
  storybook/test/__snapshots__/index.js.snap
Labels: Mobile App Compatibility, Needs Design Feedback

#20978 Try: Nicer block footprint for social links.
  packages/block-library/src/social-links/editor.scss
Labels: [Type] Enhancement

#20986 Rnmobile/fix space max2
  packages/block-library/src/spacer/edit.js
Labels: Mobile App Compatibility

#20948 Make the inner button block not allowed as a reusable block or editable as HTML
  packages/block-library/src/button/index.js
Labels: [Block] Buttons, [Type] Bug

#20917 [ Latest Posts ] Fix link for read more markup
  packages/block-library/src/latest-posts/edit.js
Labels: Good First Review, [Block] Latest Posts, [Type] Bug

#20934 Update glossary
  docs/designers-developers/glossary.md
Labels: [Type] Copy, [Type] Documentation

#21003 Fix link control search results spacing.
  packages/block-editor/src/components/link-control/style.scss
Labels: [Type] Bug

#20723 RangeControl: Improve disabled rendering and interactions
  packages/components/src/range-control/index.js
  packages/components/src/range-control/rail.js
  packages/components/src/range-control/stories/index.js
  packages/components/src/range-control/styles/range-control-styles.js
  storybook/test/__snapshots__/index.js.snap
Labels: [Package] Components

#19983 Block Styles: Remove the block margin in the style selector
  packages/block-editor/src/components/block-list/style.scss
Labels: [Feature] Style Variations

#20620 Blocks: Allow the Default Style selector to be hidden.
  docs/designers-developers/developers/block-api/block-registration.md
  packages/block-editor/src/components/block-inspector/index.js
  packages/block-editor/src/store/actions.js
  packages/blocks/CHANGELOG.md
Labels: [Feature] Block API, [Feature] Style Variations

#20850 Project Management Automation: Add TypeScript type-checking
  package-lock.json
  package.json
  packages/project-management-automation/lib/add-first-time-contributor-label.js
  packages/project-management-automation/lib/add-milestone.js
  packages/project-management-automation/lib/assign-fixed-issues.js
  packages/project-management-automation/lib/if-not-fork.js
  packages/project-management-automation/lib/index.js
  tsconfig.json
Labels: [Package] Project management automation, [Type] Code Quality

#19293 [RNMobile] - Implements Dark Mode on Android platform
  packages/compose/src/hooks/use-preferred-color-scheme/index.android.js
  packages/compose/src/hooks/use-preferred-color-scheme/index.ios.js
  test/native/setup.js
Labels: Mobile App Compatibility

#20962 Autocomplete: Add support for results with long titles
  packages/components/src/autocomplete/style.scss
Labels: [Feature] Inserter, [Package] Components, [Type] Bug, [Type] Regression

#20983 Paste: replace iframes with url
  packages/block-editor/src/components/rich-text/index.js
  packages/block-library/src/html/index.js
  packages/block-library/src/html/transforms.js
  packages/blocks/README.md
  packages/blocks/src/api/raw-handling/iframe-remover.js
  packages/blocks/src/api/raw-handling/paste-handler.js
  test/integration/blocks-raw-handling.test.js
  test/integration/fixtures/iframe-embed-out.html
Labels: [Feature] Raw Handling

#18361 Editable Component
  packages/block-editor/README.md
  packages/block-editor/src/components/editable/README.md
  packages/block-editor/src/components/editable/index.js
  packages/block-editor/src/components/index.js
  packages/block-editor/src/components/rich-text/index.js
  packages/block-library/src/site-title/edit.js
  packages/rich-text/src/component/index.js
Labels: Needs Dev Note, [Feature] Block API, [Type] Enhancement
