Repository WordPress/gutenberg, pull requests merged in 2020-02, with the labels that each got.

#19989 Lib: Limit `pre_render_block` extension.
  lib/compat.php
Labels: Framework, [Priority] High

#19966 Blocks: Rename patterns to variations in the Block API
  packages/block-editor/src/components/block-types-list/index.js
  packages/block-editor/src/components/block-variation-picker/index.js
  packages/block-editor/src/components/block-variation-picker/style.scss
  packages/block-editor/src/components/index.js
  packages/block-editor/src/components/inserter/index.js
  packages/block-editor/src/components/inserter/search-items.js
  packages/block-editor/src/components/inserter/test/fixtures/index.js
  packages/block-editor/src/components/inserter/test/search-items.js
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/selectors.js
  packages/block-editor/src/style.scss
  packages/block-library/src/columns/edit.js
  packages/block-library/src/columns/index.js
  packages/block-library/src/columns/variations.js
  packages/blocks/src/api/index.js
  packages/blocks/src/api/registration.js
  packages/blocks/src/api/test/registration.js
  packages/blocks/src/store/actions.js
  packages/blocks/src/store/reducer.js
  packages/blocks/src/store/selectors.js
  packages/blocks/src/store/test/actions.js
  packages/blocks/src/store/test/reducer.js
  packages/blocks/src/store/test/selectors.js
Labels: [Feature] Block API, [Type] Code Quality

#19941 [Mobile] Fix gallery upload sync
  packages/block-editor/src/components/media-placeholder/index.native.js
  packages/block-library/src/gallery/gallery-image.native.js
  packages/block-library/src/gallery/gallery.native.js
Labels: Mobile App Compatibility, [Block] Gallery, [Feature] Media

#19960 [RNMobile] Adjust vertical margins in InnerBlock
  packages/base-styles/_variables.scss
  packages/block-editor/src/components/block-list/block.native.js
  packages/block-editor/src/components/block-list/block.native.scss
Labels: [Feature] Nested / Inner Blocks, [Type] Bug

#19462 Try the link control in the link format
  packages/block-editor/src/components/link-control/index.js
  packages/block-editor/src/components/link-control/test/index.js
  packages/e2e-tests/specs/editor/various/links.test.js
  packages/format-library/src/link/index.js
  packages/format-library/src/link/inline.js
  packages/format-library/src/link/test/inline.js
Labels: [Package] Format library, [Type] Code Quality

#19937 Block Library: Stop gallery images from creating undo levels as they load.
  packages/block-library/src/gallery/gallery-image.js
  packages/e2e-tests/specs/editor/blocks/classic.test.js
Labels: [Block] Gallery, [Type] Bug

#19991 Do advanced rendering by hooking into render_block for navigation block
  lib/compat.php
  packages/block-library/src/navigation/index.php
Labels: [Block] Navigation

#20009 Project Management Automation: Avoid gracefully handling error
  packages/project-management-automation/lib/index.js
Labels: [Type] Bug, [Type] Project Management

#20012 Project Management Automation: Call core setFailed with error message
  packages/project-management-automation/lib/index.js
Labels: [Type] Bug, [Type] Project Management

#20011 Project Management Automation: Tolerate duplicate milestone
  packages/project-management-automation/lib/add-milestone.js
Labels: [Type] Bug, [Type] Project Management

#20013 Edit Post: Hide block drag handle in top toolbar.
  packages/block-editor/src/components/block-mover/index.js
  packages/block-editor/src/components/block-toolbar/index.js
  packages/edit-post/src/components/header/header-toolbar/index.js
Labels: General Interface, Needs Design Feedback, [Type] Bug

#20014 Project Management Automation: Check error object for parsed errors
  packages/project-management-automation/lib/add-milestone.js
Labels: [Type] Bug, [Type] Project Management

#19877 Switch social link icons to import svg parts from primitives
  package-lock.json
  packages/block-library/package.json
  packages/block-library/src/social-link/icons/amazon.js
  packages/block-library/src/social-link/icons/bandcamp.js
  packages/block-library/src/social-link/icons/behance.js
  packages/block-library/src/social-link/icons/chain.js
  packages/block-library/src/social-link/icons/codepen.js
  packages/block-library/src/social-link/icons/deviantart.js
  packages/block-library/src/social-link/icons/dribbble.js
  packages/block-library/src/social-link/icons/dropbox.js
  packages/block-library/src/social-link/icons/etsy.js
  packages/block-library/src/social-link/icons/facebook.js
  packages/block-library/src/social-link/icons/feed.js
  packages/block-library/src/social-link/icons/fivehundredpx.js
  packages/block-library/src/social-link/icons/flickr.js
  packages/block-library/src/social-link/icons/foursquare.js
  packages/block-library/src/social-link/icons/github.js
  packages/block-library/src/social-link/icons/goodreads.js
  packages/block-library/src/social-link/icons/google.js
  packages/block-library/src/social-link/icons/instagram.js
  packages/block-library/src/social-link/icons/lastfm.js
  packages/block-library/src/social-link/icons/linkedin.js
  packages/block-library/src/social-link/icons/mail.js
  packages/block-library/src/social-link/icons/mastodon.js
  packages/block-library/src/social-link/icons/medium.js
  packages/block-library/src/social-link/icons/meetup.js
  packages/block-library/src/social-link/icons/pinterest.js
  packages/block-library/src/social-link/icons/pocket.js
  packages/block-library/src/social-link/icons/reddit.js
  packages/block-library/src/social-link/icons/skype.js
  packages/block-library/src/social-link/icons/snapchat.js
  packages/block-library/src/social-link/icons/soundcloud.js
  packages/block-library/src/social-link/icons/spotify.js
  packages/block-library/src/social-link/icons/tumblr.js
  packages/block-library/src/social-link/icons/twitch.js
  packages/block-library/src/social-link/icons/twitter.js
  packages/block-library/src/social-link/icons/vimeo.js
  packages/block-library/src/social-link/icons/vk.js
  packages/block-library/src/social-link/icons/wordpress.js
  packages/block-library/src/social-link/icons/yelp.js
  packages/block-library/src/social-link/icons/youtube.js
Labels: Good First Review, [Block] Social

#19681 Navigation: Implement new design for sub-menus
  packages/base-styles/_colors.scss
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation-link/editor.scss
  packages/block-library/src/navigation-link/icons.js
  packages/block-library/src/navigation/edit.js
  packages/block-library/src/navigation/editor.scss
  packages/block-library/src/navigation/index.php
  packages/block-library/src/navigation/style.scss
Labels: Needs Design Feedback, [Feature] Block Navigation, [Type] Enhancement

#19735 Block Library: Button: Remove title attribute handling
  packages/block-library/src/button/edit.js
  packages/block-library/src/button/save.js
  packages/e2e-tests/specs/editor/blocks/__snapshots__/buttons.test.js.snap
Labels: Accessibility (a11y), [Block] Buttons

#19800 [Mobile] Fix blank image size labels on mobile
  packages/block-editor/src/store/defaults.js
Labels: Mobile App Compatibility, [Block] Gallery

#20018 Navigation: rename background color CSS class
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation/edit.js
  packages/block-library/src/navigation/index.php
  packages/block-library/src/navigation/style.scss
Labels: [Block] Navigation

#20021 Pull Request Automation: Avoid automation tasks for forked repository
  packages/project-management-automation/lib/if-not-fork.js
  packages/project-management-automation/lib/index.js
Labels: [Type] Bug, [Type] Project Management

#20028 Add prettier dependency to @wordpress/eslint-plugin
  package-lock.json
  packages/eslint-plugin/package.json
Labels: [Package] ESLint plugin

#19726 Accessibility: Show open button when the sidebar is closed and tabbingg out of the content
  packages/edit-post/src/components/editor-regions/style.scss
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/layout/style.scss
Labels: Accessibility (a11y), Needs Design Feedback, [Feature] Writing Flow, [Type] Bug

#20030 Github: Remove PR template's extra period.
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Framework

#20032 NavigationLink: fix getting Navigation parent block
  docs/designers-developers/developers/data/data-core-block-editor.md
  packages/block-editor/src/store/selectors.js
  packages/block-library/src/navigation-link/edit.js
Labels: [Block] Navigation, [Type] Enhancement

#19871 URL: Conform to URL Living Standard definition of valid URL
  lib/compat.php
  packages/block-editor/src/components/link-control/index.js
  packages/url/CHANGELOG.md
  packages/url/README.md
  packages/url/src/is-url.js
  packages/url/src/test/index.test.js
Labels: [Package] Url, [Type] Bug

#20034 Project Management Automation: Log skipped tasks and retain wrapped task names.
  packages/project-management-automation/lib/if-not-fork.js
Labels: [Package] Project management automation, [Type] Enhancement

#19965 Automatically render category keyboard shortcuts
  docs/designers-developers/developers/data/data-core-keyboard-shortcuts.md
  packages/block-editor/src/components/keyboard-shortcuts/index.js
  packages/edit-post/src/components/keyboard-shortcut-help-modal/index.js
  packages/edit-post/src/components/keyboard-shortcut-help-modal/test/__snapshots__/index.js.snap
  packages/keyboard-shortcuts/src/store/selectors.js
Labels: [Feature] Extensibility, [Type] Enhancement

#19959 Move the ellipsis and close icons to the icons library
  package-lock.json
  packages/block-editor/src/components/block-settings-menu/index.js
  packages/block-editor/src/components/block-settings-menu/style.scss
  packages/block-editor/src/components/link-control/search-input.js
  packages/block-editor/src/components/link-control/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/warning/index.js
  packages/block-editor/src/components/warning/style.scss
  packages/block-library/src/gallery/gallery-image.js
  packages/block-library/src/gallery/gallery-image.native.js
  packages/components/src/modal/header.js
  packages/components/src/notice/index.js
  packages/components/src/notice/test/__snapshots__/index.js.snap
  packages/components/src/popover/index.js
  packages/e2e-tests/specs/editor/plugins/__snapshots__/plugins-api.test.js.snap
  packages/edit-post/src/components/header/more-menu/index.js
  packages/edit-post/src/components/header/more-menu/style.scss
  packages/edit-post/src/components/header/more-menu/test/__snapshots__/index.js.snap
  packages/edit-post/src/components/sidebar/sidebar-header/index.js
  packages/edit-post/src/components/text-editor/index.js
  packages/editor/src/components/post-publish-panel/index.js
  packages/editor/src/components/post-publish-panel/test/__snapshots__/index.js.snap
  packages/icons/src/index.js
  packages/icons/src/library/close.js
  packages/icons/src/library/more-horizontal.js
  packages/nux/package.json
  packages/nux/src/components/dot-tip/index.js
  packages/nux/src/components/dot-tip/test/__snapshots__/index.js.snap
  storybook/test/__snapshots__/index.js.snap
Labels: [Type] Code Quality

#20049 Project Management Automation: Avoid milestone task for forks
  packages/project-management-automation/lib/index.js
Labels: [Package] Project management automation, [Type] Bug

#20025 Fix Broken Link in Glossary Page
  docs/designers-developers/glossary.md
Labels: [Type] Documentation

#19964 Fix plain text selection/focus
  packages/block-editor/src/components/plain-text/index.native.js
Labels: Mobile App Compatibility, [Type] Bug

#19990 Block Library: Navigation: Remove title attribute from navigation link
  packages/block-library/src/navigation-link/block.json
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation/edit.js
  packages/block-library/src/navigation/index.php
  packages/e2e-tests/specs/editor/blocks/__snapshots__/navigation.test.js.snap
Labels: Accessibility (a11y), [Block] Navigation

#20004 [RNMobile] Remove devOnly flag from Group block
  packages/block-library/src/index.native.js
Labels: [Block] Group, [Feature] Blocks

#20053 Core Data: Mark the `getEntityRecordNoResolver` selector as experimental.
  docs/designers-developers/developers/data/data-core.md
  packages/core-data/README.md
  packages/core-data/src/actions.js
  packages/core-data/src/selectors.js
  packages/core-data/src/test/actions.js
  packages/core-data/src/test/selectors.js
Labels: [Package] Core data

#20058 Project Management Automation: Support adding milestones for fork PRs.
  .github/workflows/pull-request-automation.yml
  packages/project-management-automation/lib/add-milestone.js
  packages/project-management-automation/lib/index.js
  packages/project-management-automation/lib/test/add-milestone.js
Labels: [Package] Project management automation, [Type] Enhancement

#20045 [Mobile] Fix blank image size labels on mobile - 1.22.0
  packages/block-editor/src/store/defaults.js
Labels: Mobile App Compatibility

#20055 Create block: Remove line wrapping in readme
  packages/create-block/README.md
Labels: [Package] Create Block, [Type] Documentation

#19641 Checks if caption is empty in media lib and keeps the one written
  packages/block-library/src/image/edit.js
Labels: [Block] Image

#20022 NavigationLink: improve colors handling
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation/deprecated.js
  packages/block-library/src/navigation/edit.js
  packages/block-library/src/navigation/index.js
  packages/block-library/src/navigation/index.php
Labels: [Block] Navigation, [Type] Bug, [Type] Enhancement

#20036 Prettier: Update format-js to use default config, and update editor docs usage
  docs/contributors/getting-started.md
  packages/scripts/scripts/format-js.js
Labels: [Package] Prettier config, [Type] Documentation

#20065 Intermitent test failures while running the tests on Core patch
  packages/e2e-test-utils/src/open-publish-panel.js
  packages/e2e-tests/specs/editor/various/editor-modes.test.js
  packages/e2e-tests/specs/editor/various/font-size-picker.test.js
Labels: Automated Testing

#18823 [RNMobile] Button Block
  packages/block-editor/src/components/index.native.js
  packages/block-library/src/button/color-background.native.js
  packages/block-library/src/button/edit.native.js
  packages/block-library/src/button/editor.native.scss
  packages/block-library/src/button/index.native.js
  packages/block-library/src/button/link-rel.native.js
  packages/block-library/src/button/rich-text.android.scss
  packages/block-library/src/button/rich-text.ios.scss
  packages/block-library/src/index.native.js
  packages/components/src/index.native.js
  packages/components/src/mobile/bottom-sheet/cell.native.js
  packages/components/src/mobile/bottom-sheet/index.native.js
  packages/components/src/mobile/bottom-sheet/styles.native.scss
  packages/components/src/mobile/bottom-sheet/unsupported-footer-cell.native.js
  packages/components/src/panel/body.native.scss
  packages/components/src/unsupported-footer-control/index.native.js
  packages/rich-text/src/component/index.native.js
  test/native/setup.js
Labels: Mobile App Compatibility, [Block] Buttons

#20038 Navigation: set inherit color to anchor elements
  packages/block-library/src/navigation/style.scss
Labels: [Block] Navigation, [Type] Enhancement

#20075 NavigationLink: set width in order to show caret
  packages/block-library/src/navigation/editor.scss
Labels: [Block] Navigation, [Type] Enhancement

#20077 Docs: Fix broken link
  packages/data/README.md
Labels: [Type] Documentation

#20063 Add/transform button to buttons
  packages/block-library/src/buttons/index.js
  packages/block-library/src/buttons/transforms.js
Labels: First-time Contributor, [Block] Buttons, [Type] Enhancement

#20002 Add .wp-env.json support to wp-env
  .wp-env.json
  package-lock.json
  packages/env/CHANGELOG.md
  packages/env/README.md
  packages/env/lib/build-docker-compose-config.js
  packages/env/lib/cli.js
  packages/env/lib/config.js
  packages/env/lib/create-docker-compose-config.js
  packages/env/lib/detect-directory-type.js
  packages/env/lib/download-source.js
  packages/env/lib/env.js
  packages/env/lib/resolve-dependencies.js
  packages/env/package.json
  packages/env/test/cli.js
  packages/env/test/config.js
Labels: Needs Dev Note, [Package] Env, [Type] Build Tooling

#20071 Scripts: Ensure the default Prettier config is used with `lint-js` when needed
  packages/scripts/CHANGELOG.md
  packages/scripts/config/.eslintrc.js
  packages/scripts/scripts/format-js.js
  packages/scripts/utils/config.js
  packages/scripts/utils/index.js
Labels: [Package] Scripts, [Type] Bug

#20074 Social Link: Fix server-side rendering for legacy format
  packages/block-library/src/social-link/index.php
Labels: Backwards Compatibility, [Block] Social, [Type] Bug

#20072 Move more format library icons to the icons package
  package-lock.json
  packages/block-editor/src/components/media-replace-flow/index.js
  packages/block-editor/src/components/url-input/button.js
  packages/block-editor/src/components/url-popover/image-url-input-ui.js
  packages/block-library/src/button/edit.js
  packages/block-library/src/button/edit.native.js
  packages/block-library/src/image/edit.native.js
  packages/block-library/src/navigation-link/edit.js
  packages/components/src/button/stories/index.js
  packages/components/src/toolbar-group/stories/index.js
  packages/components/src/toolbar/stories/index.js
  packages/editor/src/components/post-permalink/index.js
  packages/format-library/package.json
  packages/format-library/src/bold/index.js
  packages/format-library/src/code/index.js
  packages/format-library/src/italic/index.js
  packages/format-library/src/link/index.js
  packages/format-library/src/link/index.native.js
  packages/format-library/src/link/modal.native.js
  packages/format-library/src/strikethrough/index.js
  packages/icons/src/index.js
  packages/icons/src/library/format-bold.js
  packages/icons/src/library/format-italic.js
  packages/icons/src/library/format-strikethrough.js
  packages/icons/src/library/link-off.js
  packages/icons/src/library/link.js
  storybook/test/__snapshots__/index.js.snap
Labels: [Type] Code Quality

#20050 EditorRegions: Move to block-editor package, rename to __experimentalEditorSkeleton
  packages/base-styles/_z-index.scss
  packages/block-editor/src/components/editor-skeleton/index.js
  packages/block-editor/src/components/editor-skeleton/style.scss
  packages/block-editor/src/components/index.js
  packages/block-editor/src/style.scss
  packages/e2e-tests/specs/editor/various/adding-blocks.test.js
  packages/e2e-tests/specs/editor/various/keyboard-navigable-blocks.test.js
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/index.js
  packages/edit-post/src/style.scss
Labels: [Package] Editor

#20068 Blocks: Promote block variations to stable API
  docs/designers-developers/developers/data/data-core-blocks.md
  packages/block-editor/src/components/inserter/index.js
  packages/block-library/src/columns/edit.js
  packages/blocks/README.md
  packages/blocks/src/api/index.js
  packages/blocks/src/api/registration.js
  packages/blocks/src/store/actions.js
  packages/blocks/src/store/selectors.js
  packages/blocks/src/store/test/actions.js
  packages/blocks/src/store/test/reducer.js
  packages/blocks/src/store/test/selectors.js
Labels: Needs Dev Note, [Feature] Block API

#20087 Update some existing dashicons usage to their equivalent icon in the icons package
  docs/contributors/coding-guidelines.md
  packages/block-editor/src/components/url-popover/image-url-input-ui.js
  packages/block-editor/src/components/url-popover/index.js
  packages/block-editor/src/components/url-popover/test/__snapshots__/index.js.snap
  packages/block-library/src/rss/edit.js
  packages/components/src/button/stories/index.js
  packages/components/src/color-picker/inputs.js
  packages/components/src/color-picker/test/__snapshots__/index.js.snap
  packages/components/src/custom-select-control/index.js
  packages/components/src/toolbar/stories/index.js
  packages/editor/src/components/reusable-blocks-buttons/reusable-block-delete-button.js
  packages/editor/src/components/reusable-blocks-buttons/test/__snapshots__/reusable-block-delete-button.js.snap
  storybook/test/__snapshots__/index.js.snap
Labels: [Type] Code Quality

#20089 Reduce codeowner entries
  .github/CODEOWNERS
Labels: [Type] Project Management

#20091 Move more dashicons to the icons package
  package-lock.json
  packages/block-directory/package.json
  packages/block-directory/src/components/downloadable-block-info/index.js
  packages/block-editor/src/components/alignment-toolbar/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/alignment-toolbar/test/index.js
  packages/block-editor/src/components/block-controls/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/block-controls/test/index.js
  packages/block-editor/src/components/block-mover/index.native.js
  packages/block-editor/src/components/block-settings/button.native.js
  packages/block-editor/src/components/media-edit/index.native.js
  packages/block-editor/src/components/media-placeholder/index.js
  packages/block-editor/src/components/media-replace-flow/index.js
  packages/block-editor/src/components/url-input/button.js
  packages/block-editor/src/components/url-popover/README.md
  packages/block-editor/src/components/url-popover/link-editor.js
  packages/block-editor/src/components/url-popover/link-viewer.js
  packages/block-library/src/embed/embed-controls.js
  packages/block-library/src/gallery/gallery-image.native.js
  packages/block-library/src/legacy-widget/edit/index.js
  packages/block-library/src/media-text/media-container.native.js
  packages/block-library/src/rss/edit.js
  packages/block-library/src/social-link/edit.js
  packages/block-library/src/video/edit.native.js
  packages/components/src/drop-zone/index.js
  packages/components/src/drop-zone/style.scss
  packages/components/src/dropdown-menu/README.md
  packages/components/src/dropdown-menu/test/index.js
  packages/components/src/dropdown/stories/index.js
  packages/components/src/mobile/bottom-sheet/stepper-cell/stepper.android.js
  packages/edit-post/src/components/header/fullscreen-mode-close/index.js
  packages/edit-post/src/components/header/header-toolbar/index.native.js
  packages/edit-post/src/components/header/index.js
  packages/edit-post/src/components/visual-editor/block-inspector-button.js
  packages/editor/src/components/editor-history/redo.js
  packages/editor/src/components/editor-history/undo.js
  packages/format-library/src/image/index.js
  packages/icons/src/index.js
  packages/icons/src/library/arrow-down.js
  packages/icons/src/library/arrow-left.js
  packages/icons/src/library/arrow-right.js
  packages/icons/src/library/arrow-up.js
  packages/icons/src/library/chevron-left.js
  packages/icons/src/library/chevron-right.js
  packages/icons/src/library/cog.js
  packages/icons/src/library/keyboard-return.js
  packages/icons/src/library/pencil.js
  packages/icons/src/library/redo.js
  packages/icons/src/library/undo.js
  packages/icons/src/library/update.js
  packages/icons/src/library/upload.js
Labels: [Type] Code Quality

#20094 Prefer @wordpress/icons over dashicons in docs and tests
  docs/designers-developers/developers/block-api/block-registration.md
  docs/designers-developers/developers/slotfills/plugin-more-menu-item.md
  docs/designers-developers/developers/slotfills/plugin-sidebar-more-menu-item.md
  docs/designers-developers/developers/slotfills/plugin-sidebar.md
  packages/block-editor/src/components/block-icon/test/index.js
  packages/components/src/button/test/index.js
  packages/components/src/draggable/README.md
  packages/components/src/draggable/stories/index.js
  packages/components/src/dropdown-menu/README.md
  packages/components/src/dropdown/stories/index.js
  packages/components/src/icon/README.md
  packages/components/src/menu-item/test/__snapshots__/index.js.snap
  packages/components/src/menu-item/test/index.js
  packages/components/src/mobile/stepper-control/README.md
  packages/components/src/panel/README.md
  packages/components/src/placeholder/README.md
  packages/components/src/placeholder/test/index.js
  packages/edit-post/README.md
  packages/edit-post/src/components/header/plugin-more-menu-item/index.js
  packages/edit-post/src/components/header/plugin-more-menu-item/test/__snapshots__/index.js.snap
  packages/edit-post/src/components/header/plugin-more-menu-item/test/index.js
  packages/edit-post/src/components/header/plugin-sidebar-more-menu-item/index.js
  packages/edit-post/src/components/sidebar/plugin-sidebar/index.js
  packages/plugins/README.md
  packages/plugins/src/api/index.js
  storybook/test/__snapshots__/index.js.snap
Labels: [Type] Code Quality

#19824 Remove: Alignment options from button nested inside buttons
  packages/block-editor/src/hooks/align.js
  packages/block-editor/src/hooks/index.js
  packages/block-editor/src/index.js
  packages/block-library/src/buttons/edit.js
Labels: [Block] Buttons, [Type] Bug

#16014 Add option to add text color to specific text inside RichText
  package-lock.json
  packages/block-editor/src/components/rich-text/format-toolbar/index.js
  packages/format-library/package.json
  packages/format-library/src/default-formats.js
  packages/format-library/src/style.scss
  packages/format-library/src/text-color/index.js
  packages/format-library/src/text-color/inline.js
  packages/format-library/src/text-color/style.scss
Labels: First-time Contributor, Needs Accessibility Feedback, [Feature] Rich Text, [Status] In Progress

#19582 Add type and angle picking to the custom gradient component
  packages/components/src/custom-gradient-picker/constants.js
  packages/components/src/custom-gradient-picker/custom-gradient-bar.js
  packages/components/src/custom-gradient-picker/icons.js
  packages/components/src/custom-gradient-picker/index.js
  packages/components/src/custom-gradient-picker/style.scss
  packages/components/src/custom-gradient-picker/utils.js
  packages/primitives/src/svg/index.js
  packages/primitives/src/svg/index.native.js
Labels: Needs Design Feedback, [Block] Buttons, [Block] Cover, [Package] Components, [Type] Enhancement

#20057 BlockEditor: refactoring getBlockParentsByBlockName() selector
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/selectors.js
Labels: [Package] Block editor, [Type] Enhancement

#20095 [RNMobile] Enable Dismiss on PlainText in Android
  packages/block-editor/src/components/plain-text/index.native.js
Labels: [Type] Bug

#20096 Multi select: remove inserter between selected blocks
  packages/block-editor/src/components/block-list/insertion-point.js
  packages/block-editor/src/components/block-list/root-container.js
Labels: [Type] Bug

#20098 Compat: Social Links: Remove legacy renderers from packages
  lib/blocks.php
  packages/block-library/src/social-link/index.php
Labels: Backwards Compatibility, [Block] Social

#20099 CustomGradientPicker / Cover: Update UI
  packages/block-editor/src/components/color-palette/test/__snapshots__/control.js.snap
  packages/block-editor/src/components/colors-gradients/control.js
  packages/block-editor/src/components/colors-gradients/style.scss
  packages/block-editor/src/components/colors-gradients/test/control.js
  packages/block-library/src/cover/edit.js
  packages/components/src/custom-gradient-picker/icons.js
  packages/components/src/custom-gradient-picker/index.js
  packages/components/src/custom-gradient-picker/style.scss
Labels: [Block] Cover, [Package] Components

#15745 Components: Speak Notice message
  docs/designers-developers/developers/data/data-core-notices.md
  npm
  packages/block-editor/src/components/contrast-checker/index.js
  packages/block-editor/src/components/contrast-checker/test/index.js
  packages/components/CHANGELOG.md
  packages/components/src/notice/README.md
  packages/components/src/notice/index.js
  packages/components/src/notice/test/__snapshots__/index.js.snap
  packages/components/src/notice/test/index.js
  packages/components/src/snackbar/README.md
  packages/components/src/snackbar/index.js
  packages/e2e-tests/specs/editor/plugins/cpt-locking.test.js
  packages/editor/src/components/template-validation-notice/index.js
  packages/notices/CHANGELOG.md
  packages/notices/src/store/actions.js
  packages/notices/src/store/index.js
  packages/notices/src/store/selectors.js
  packages/notices/src/store/test/actions.js
  packages/notices/src/store/test/reducer.js
Labels: Accessibility (a11y), [Feature] UI Components, [Package] Components, [Package] Notices

#20107 Stabilise gradient theme API's
  docs/designers-developers/developers/themes/theme-support.md
  lib/experiments-page.php
Labels: Backport to WP Core

#19738 Block Editor: Update BEM syntax to CSS modifer guidelines
  packages/block-editor/src/components/link-control/index.js
  packages/block-editor/src/components/responsive-block-control/index.js
  packages/block-editor/src/components/responsive-block-control/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/responsive-block-control/test/index.js
Labels: [Package] Block editor, [Type] Code Quality

#20082 Fix issue #20069: Block Editor: Warning when rendering InnerBlocks
  packages/block-editor/src/components/block-list/index.js
Labels: [Feature] Nested / Inner Blocks, [Package] Block editor, [Type] Bug

#20112 Fix: experimentalUseColors: labels are not translatable
  packages/block-editor/src/components/colors/use-colors.js
Labels: Internationalization (i18n), [Type] Bug

#20113 wp-env: fix syntax error where spread operator could fail
  packages/env/lib/build-docker-compose-config.js
Labels: [Package] Env, [Type] Bug

#17151 Add featured images to Latest Posts block
  lib/client-assets.php
  packages/block-library/src/latest-posts/edit.js
  packages/block-library/src/latest-posts/index.php
  packages/block-library/src/latest-posts/style.scss
  packages/editor/src/components/provider/index.js
Labels: Backport to WP Core, [Block] Latest Posts, [Feature] Media, [Type] Enhancement

#19470 use import statement instead of deconstruction in docs
  packages/block-editor/src/components/media-placeholder/README.md
Labels: [Type] Documentation

#19345 Add support for TikTok video Embeds
  packages/block-library/src/embed/core-embeds.js
Labels: New Block, [Block] Embed, [Status] In Progress, [Type] Enhancement

#15639 Target docs to manifest.json
  docs/manifest.json
  docs/tool/index.js
Labels: [Type] Documentation

#20132 EditorSkeleton: Add Changelog entries, drop backwards-compat class names
  packages/block-editor/CHANGELOG.md
  packages/block-editor/src/components/editor-skeleton/index.js
  packages/edit-post/CHANGELOG.md
Labels: [Package] Block editor

#20110 Compat: Add DOMRect polyfill
  lib/compat.php
Labels: Backport to WP Core, Browser Issues, [Type] Bug

#20100 Fix MediaReplaceFlow to select media in media library on replace
  packages/block-editor/src/components/media-replace-flow/index.js
  packages/block-library/src/audio/edit.js
  packages/block-library/src/cover/edit.js
  packages/block-library/src/file/edit.js
  packages/block-library/src/image/edit.js
  packages/block-library/src/media-text/media-container.js
  packages/block-library/src/video/edit.js
Labels: [Type] Regression

#20128 Fix: Featured image appears cropped
  packages/editor/src/components/post-featured-image/style.scss
Labels: [Type] Bug

#20119 Fix: Predefined group text colors don't work on the frontend
  packages/block-library/src/group/deprecated.js
  packages/block-library/src/group/save.js
  packages/e2e-tests/fixtures/blocks/core__group__deprecated-2.html
  packages/e2e-tests/fixtures/blocks/core__group__deprecated-2.json
  packages/e2e-tests/fixtures/blocks/core__group__deprecated-2.parsed.json
  packages/e2e-tests/fixtures/blocks/core__group__deprecated-2.serialized.html
Labels: [Block] Group, [Type] Bug

#20131 @wordpress/env: Fix GitHub source pattern
  packages/env/lib/config.js
  packages/env/test/config.js
Labels: [Package] Env, [Type] Bug

#20101 Social Links: Consistently rebrand as Social Icons
  packages/block-library/src/social-links/index.js
  packages/e2e-tests/fixtures/block-transforms.js
Labels: [Block] Social

#20133 Hide the navigation block behind feature flag
  packages/block-library/src/index.js
Labels: [Block] Navigation

#20135 Move the e2e tests to the right folders
  packages/e2e-tests/specs/editor/plugins/__snapshots__/inner-blocks-render-appender.test.js.snap
  packages/e2e-tests/specs/editor/plugins/inner-blocks-render-appender.test.js
  packages/e2e-tests/specs/experiments/__snapshots__/navigation.test.js.snap
  packages/e2e-tests/specs/experiments/navigation.test.js
Labels: Automated Testing

#20044 Getting Started Docs: Update to use `wp-env`
  README.md
  docs/contributors/getting-started.md
Labels: [Type] Build Tooling, [Type] Documentation

#20016 Add text color support to Columns block
  packages/block-library/src/columns/block.json
  packages/block-library/src/columns/edit.js
  packages/block-library/src/columns/save.js
Labels: Needs Design Feedback, [Block] Columns

#20052 Block Editor: LinkControl: Incorporate settings in edit state
  packages/base-styles/_variables.scss
  packages/block-editor/src/components/link-control/README.md
  packages/block-editor/src/components/link-control/index.js
  packages/block-editor/src/components/link-control/search-input.js
  packages/block-editor/src/components/link-control/settings-drawer.js
  packages/block-editor/src/components/link-control/style.scss
  packages/block-editor/src/components/link-control/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/link-control/test/index.js
  packages/components/src/spinner/style.scss
  packages/e2e-tests/specs/editor/various/__snapshots__/links.test.js.snap
  packages/e2e-tests/specs/editor/various/links.test.js
  packages/format-library/src/link/index.js
  packages/format-library/src/link/inline.js
Labels: Accessibility (a11y), [Package] Block editor

#19515 Block Library: Avoid column width auto-adjustment when sibling width changes
  packages/block-library/src/column/edit.js
  packages/block-library/src/column/index.js
  packages/block-library/src/columns/editor.scss
  packages/block-library/src/columns/style.scss
  packages/block-library/src/columns/test/utils.js
  packages/block-library/src/columns/utils.js
Labels: Needs Accessibility Feedback, [Block] Columns, [Type] Enhancement

#20118 Stabilize and document the angle picker component; Rename to AnglePickerControl;
  docs/manifest-devhub.json
  docs/manifest.json
  package-lock.json
  packages/components/src/angle-picker-control/README.md
  packages/components/src/angle-picker-control/index.js
  packages/components/src/angle-picker-control/stories/index.js
  packages/components/src/angle-picker-control/style.scss
  packages/components/src/custom-gradient-picker/index.js
  packages/components/src/index.js
  packages/components/src/style.scss
  storybook/test/__snapshots__/index.js.snap
Labels: [Feature] UI Components, [Package] Components, [Type] Documentation

#20143 Fix: Use array form for contrast checkers.
  packages/block-library/src/columns/edit.js
  packages/block-library/src/group/edit.js
Labels: [Type] Bug

#19743 Update main project README
  README.md
  readme.txt
Labels: [Type] Documentation

#19939 Docs: Contributor Guide update subpages
  docs/contributors/design.md
  docs/contributors/develop.md
  docs/contributors/document.md
  docs/contributors/readme.md
  docs/manifest-devhub.json
  docs/manifest.json
Labels: [Type] Documentation

#20147 Project Management Automation: Guard against non-matching commits in `addMilestone`.
  packages/project-management-automation/lib/add-milestone.js
Labels: [Package] Project management automation, [Type] Bug

#20085 Block Library: Try to standardize PHP function names used
  lib/blocks.php
  packages/block-library/src/legacy-widget/index.php
  packages/block-library/src/navigation/index.php
  packages/block-library/src/social-link/index.php
Labels: [Package] Block library, [Type] Code Quality

#20150 Block Library: Social Link: Consistently rename sites to services
  packages/block-library/src/social-link/index.php
Labels: [Block] Social, [Type] Code Quality

#20148 Core Data: Remove unused `__experimentalUseEntitySaving` hook.
  packages/core-data/src/entity-provider.js
Labels: [Package] Core data

#20122 Data: Log first-pass `mapSelect` errors.
  packages/data/src/components/use-select/index.js
Labels: [Package] Data, [Type] Enhancement

#20097 [RNMobile]Fix layout issue in Shortcode
  packages/block-library/src/shortcode/edit.native.js
Labels: [Type] Bug

#20155 [RNMobile] Bring release v1.22.0 to master
  .travis.yml
  packages/block-editor/src/components/plain-text/index.native.js
Labels: Mobile App Compatibility

#20137 Remove Starter Page Templates code for web
  lib/experiments-page.php
  packages/block-editor/README.md
  packages/block-editor/src/components/block-list-footer/index.js
  packages/block-editor/src/components/block-list/index.js
  packages/block-editor/src/components/block-list/index.native.js
  packages/block-editor/src/components/index.js
  packages/block-editor/src/components/page-template-picker/button.js
  packages/block-editor/src/components/page-template-picker/container.js
  packages/block-editor/src/components/page-template-picker/index.native.js
  packages/block-editor/src/components/page-template-picker/preview.js
  packages/block-editor/src/components/page-template-picker/use-page-template-picker-visible.js
  packages/block-editor/src/store/defaults.js
  packages/edit-post/src/components/layout/index.js
  packages/editor/src/components/provider/index.js
Labels: Mobile App Compatibility

#20064 [RNMobile] refine Block borders
  packages/block-editor/src/components/block-list/block.native.js
  packages/block-editor/src/components/block-list/block.native.scss
  packages/block-editor/src/components/block-list/index.native.js
  packages/block-editor/src/components/inner-blocks/index.native.js
  packages/edit-post/src/components/layout/index.native.js
  packages/edit-post/src/components/visual-editor/index.native.js
  packages/edit-post/src/components/visual-editor/style.native.scss
Labels: Mobile App Compatibility, [Feature] Blocks, [Type] Enhancement

#20169 Block Library: Columns: Fix equal column growth for unassigned-width columns
  packages/block-library/src/columns/editor.scss
  packages/block-library/src/columns/style.scss
Labels: [Block] Columns, [Priority] High, [Type] Bug, [Type] Regression

#19850 Navigation: Show suggestions panel automatically when editing a link
  packages/block-editor/src/components/link-control/search-input.js
  packages/block-editor/src/components/link-control/test/index.js
  packages/block-editor/src/components/url-input/index.js
Labels: [Block] Navigation

#19082 Resizable editor experiment
  docs/designers-developers/developers/data/data-core-block-editor.md
  package-lock.json
  packages/block-editor/README.md
  packages/block-editor/package.json
  packages/block-editor/src/components/editor-skeleton/style.scss
  packages/block-editor/src/components/index.js
  packages/block-editor/src/components/inserter/style.scss
  packages/block-editor/src/components/simulate-media-query/index.js
  packages/block-editor/src/store/actions.js
  packages/block-editor/src/store/reducer.js
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/style.scss
  packages/block-library/src/editor.scss
  packages/block-library/src/style.scss
  packages/block-library/src/theme.scss
  packages/e2e-tests/specs/editor/various/preview.test.js
  packages/edit-post/src/components/header/index.js
  packages/edit-post/src/components/preview-options/index.js
  packages/edit-post/src/components/preview-options/style.scss
  packages/edit-post/src/components/resize-canvas/index.js
  packages/edit-post/src/components/text-editor/style.scss
  packages/edit-post/src/components/visual-editor/index.js
  packages/edit-post/src/components/visual-editor/style.scss
  packages/edit-post/src/style.scss
  packages/editor/src/components/post-preview-button/index.js
Labels: Needs Accessibility Feedback, Needs Design Feedback, Needs Dev Note, Needs Technical Feedback

#20175 Remove the devhub manifest file
  docs/contributors/document.md
  docs/manifest-devhub.json
Labels: [Type] Documentation

#19232 [RNMobile] Update image size UI control
  packages/block-library/src/image/edit.native.js
  packages/components/src/index.native.js
  packages/components/src/mobile/bottom-sheet/cycle-picker-cell.native.js
  packages/components/src/mobile/bottom-sheet/index.native.js
  packages/components/src/mobile/cycle-select-control/README.md
  packages/components/src/mobile/cycle-select-control/index.native.js
Labels: Mobile App Compatibility

#19947 [RNMobile] - Replace Slider with Stepper for columns settings on Gallery block
  packages/block-library/src/gallery/edit.js
  packages/components/src/mobile/bottom-sheet/stepper-cell/index.native.js
  packages/components/src/mobile/bottom-sheet/stepper-cell/style.native.scss
  packages/components/src/mobile/stepper-control/README.md
  packages/components/src/mobile/stepper-control/index.native.js
Labels: Mobile App Compatibility

#18574 [RNMobile] Adjust bottom-sheet
  packages/block-editor/src/components/inserter/menu.native.js
  packages/block-editor/src/components/inserter/style.native.scss
  packages/components/src/mobile/bottom-sheet/index.native.js
  packages/components/src/mobile/bottom-sheet/styles.native.scss
Labels: Mobile App Compatibility

#20184 Fix missing i18n in custom gradient picker
  packages/components/src/custom-gradient-picker/index.js
Labels: Internationalization (i18n), [Type] Bug

#20182 Dry up `<LinkControl>` "unit" tests
  packages/block-editor/src/components/link-control/test/index.js
Labels: [Feature] Link Editing

#20164 Fix group block editor block class name
  packages/block-library/src/group/edit.js
Labels: [Block] Group, [Type] Regression

#19954 Block Library: Add a Post Comments Form block.
  lib/blocks.php
  packages/block-library/src/index.js
  packages/block-library/src/post-comments-form/block.json
  packages/block-library/src/post-comments-form/edit.js
  packages/block-library/src/post-comments-form/index.js
  packages/block-library/src/post-comments-form/index.php
  packages/e2e-tests/fixtures/blocks/core__post-comments-form.html
  packages/e2e-tests/fixtures/blocks/core__post-comments-form.json
  packages/e2e-tests/fixtures/blocks/core__post-comments-form.parsed.json
  packages/e2e-tests/fixtures/blocks/core__post-comments-form.serialized.html
Labels: New Block, [Feature] Full Site Editing

#20190 Avoid coupling `LinkControl` test to css class
  packages/block-editor/src/components/link-control/test/index.js
Labels: [Feature] Link Editing

#19953 Block Library: Add a Post Comments Count block.
  lib/blocks.php
  packages/block-library/src/index.js
  packages/block-library/src/post-comments-count/block.json
  packages/block-library/src/post-comments-count/edit.js
  packages/block-library/src/post-comments-count/index.js
  packages/block-library/src/post-comments-count/index.php
  packages/e2e-tests/fixtures/blocks/core__post-comments-count.html
  packages/e2e-tests/fixtures/blocks/core__post-comments-count.json
  packages/e2e-tests/fixtures/blocks/core__post-comments-count.parsed.json
  packages/e2e-tests/fixtures/blocks/core__post-comments-count.serialized.html
Labels: New Block, [Feature] Full Site Editing

#20043 [Mobile] Enable gallery upload options in production
  packages/block-editor/src/components/media-upload/index.native.js
  packages/block-library/src/gallery/gallery-image-style.native.scss
Labels: [Block] Gallery, [Feature] Media

#20157 wp-env: no longer show error message twice
  packages/env/lib/cli.js
  packages/env/test/cli.js
Labels: [Package] Env, [Type] Bug

#20158 wp-env: Add custom port numbers to .wp-env.json
  packages/env/CHANGELOG.md
  packages/env/README.md
  packages/env/lib/build-docker-compose-config.js
  packages/env/lib/config.js
  packages/env/test/config.js
Labels: [Package] Env, [Type] Enhancement

#20084 Fix gallery to image transform and inconsistent types used in gallery block
  packages/block-library/src/gallery/block.json
  packages/block-library/src/gallery/edit.js
  packages/block-library/src/gallery/gallery-image.js
  packages/block-library/src/gallery/transforms.js
Labels: [Block] Gallery, [Block] Image, [Type] Bug

#19916 RangeControls: Improve UI + UX
  packages/components/src/font-size-picker/index.js
  packages/components/src/font-size-picker/style.scss
  packages/components/src/range-control/README.md
  packages/components/src/range-control/index.js
  packages/components/src/range-control/mark.js
  packages/components/src/range-control/rail.js
  packages/components/src/range-control/stories/index.js
  packages/components/src/range-control/style.scss
  packages/components/src/range-control/styles/range-control-styles.js
  packages/components/src/range-control/tooltip.js
  packages/components/src/style.scss
  packages/components/src/utils/colors-values.js
  packages/components/src/utils/reduce-motion.js
  packages/components/src/utils/rtl.js
  packages/components/src/utils/style-mixins.js
  packages/e2e-tests/specs/editor/various/font-size-picker.test.js
  storybook/test/__snapshots__/index.js.snap
Labels: Accessibility (a11y), [Package] Components

#20163 Add a rotating list of tips to the inserter help panel
  packages/block-editor/src/components/inserter/menu.js
  packages/block-editor/src/components/inserter/tips.js
Labels: Needs Copy Review, [Feature] Inserter, [Type] Enhancement

#18742 Format library: link: remove aria-label
  packages/e2e-tests/specs/editor/various/__snapshots__/links.test.js.snap
  packages/format-library/src/link/inline.js
  packages/format-library/src/link/utils.js
Labels: Backport to WP Core, Needs Accessibility Feedback, [Package] Format library, [Type] Bug

#20210 Edit-site Package: Make public, set version to 1.3.0-alpha.0
  packages/edit-site/package.json
Labels: Npm Packages

#20230 Make navigation button expand to fit longer nav link text
  packages/block-editor/src/components/block-navigation/style.scss
Labels: [Block] Navigation, [Type] Bug

#20047 Consolidate overall Global Styles mechanics in the server
  experimental-default-global-styles.json
  lib/edit-site-page.php
  lib/global-styles.php
  packages/block-library/src/button/style.scss
  packages/editor/src/components/provider/index.js
Labels: Global Styles

#20172 [RNMobile] Fix isURL
  packages/url/src/is-url.native.js
  packages/url/src/test/index.native.js
Labels: Mobile App Compatibility

#20202 RNMobile: Only fetch image data if image url is not a local file
  packages/block-library/src/image/edit.native.js
Labels: Mobile App Compatibility

#20241 [RNMobile] Correct add icon appearance
  packages/block-editor/src/components/inserter/style.native.scss
Labels: [Type] Bug

#20245 Fix: Conditionaly apply Editor Skeleton html element styles
  packages/block-editor/src/components/editor-skeleton/index.js
  packages/block-editor/src/components/editor-skeleton/style.scss
Labels: Backport to WP Core, [Type] Bug

#20224 Embeds: Improve find-ability for social/video embeds
  packages/block-library/src/embed/core-embeds.js
Labels: Needs Decision, [Block] Embed, [Feature] Inserter, [Package] Block library, [Type] Enhancement

#20220 Improve URLInput onFocus method implementation
  packages/block-editor/src/components/link-control/search-input.js
  packages/block-editor/src/components/url-input/index.js
Labels: [Type] Code Quality

#20228 wp-env: Fix issue where docker & wp had different URLs
  packages/env/lib/config.js
  packages/env/lib/env.js
  packages/env/test/config.js
Labels: [Package] Env, [Type] Bug

#17641 17642 adds edit state to frames to fix new tab issue
  packages/media-utils/src/components/media-upload/index.js
Labels: Accessibility (a11y), Backport to WP Core, [Feature] Media, [Type] Enhancement

#20238 [RNMobile] Fix item width inside Inserter
  packages/block-editor/src/components/inserter/menu.native.js
  packages/components/src/mobile/bottom-sheet/index.native.js
  packages/components/src/mobile/bottom-sheet/styles.native.scss
Labels: Mobile App Compatibility, [Type] Bug

#20232 Fix: Inline image width pop-up 'wanders' down page
  packages/format-library/src/image/index.js
Labels: [Package] Format library, [Type] Bug

#19775 Nav Block - enable page creation from within Block
  packages/block-editor/src/components/link-control/README.md
  packages/block-editor/src/components/link-control/index.js
  packages/block-editor/src/components/link-control/search-create-button.js
  packages/block-editor/src/components/link-control/search-input.js
  packages/block-editor/src/components/link-control/style.scss
  packages/block-editor/src/components/link-control/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/link-control/test/index.js
  packages/block-editor/src/components/url-input/index.js
  packages/block-library/src/navigation-link/edit.js
  packages/e2e-tests/specs/experiments/__snapshots__/navigation.test.js.snap
  packages/e2e-tests/specs/experiments/navigation.test.js
Labels: Needs Technical Feedback, [Block] Navigation

#20222 Fix: Color formatter appears when color choosing is not possible
  packages/format-library/src/text-color/index.js
Labels: [Package] Format library, [Type] Bug

#20209 Make label `Open in new tab` consistent.
  packages/block-editor/src/components/link-control/README.md
  packages/block-editor/src/components/link-control/settings-drawer.js
  packages/block-editor/src/components/link-control/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/link-control/test/index.js
  packages/block-editor/src/components/url-popover/README.md
  packages/block-editor/src/components/url-popover/image-url-input-ui.js
  packages/e2e-tests/specs/editor/various/links.test.js
Labels: Internationalization (i18n)

#20239 Lib: Show error when resolved block template is empty.
  lib/template-loader.php
Labels: [Feature] Full Site Editing

#20277 Template Loader: Localize empty template message.
  lib/template-loader.php
Labels: [Feature] Full Site Editing

#20258 ColorPalette: Make selected color more obvious
  packages/block-editor/src/components/color-palette/test/__snapshots__/control.js.snap
  packages/components/src/circular-option-picker/index.js
  packages/components/src/circular-option-picker/style.scss
  packages/components/src/color-palette/index.js
  packages/components/src/color-palette/test/__snapshots__/index.js.snap
  storybook/test/__snapshots__/index.js.snap
Labels: [Feature] UI Components

#20266 Add a basic storybook story listing all the @wordpress/icons
  packages/icons/src/icon/stories/index.js
  storybook/test/__snapshots__/index.js.snap
Labels: [Type] Documentation

#20267 [FIX] Add view with accessibility label on top of floating toolbar
  packages/block-editor/src/components/block-list/block.native.js
Labels: Mobile App Compatibility

#20279 Render the post comments form properly
  packages/block-library/src/post-comments-form/index.php
Labels: [Feature] Full Site Editing, [Type] Bug

#20281 Social Icons: Add missing icon
  packages/block-library/src/social-link/block.json
  packages/block-library/src/social-links/index.js
Labels: [Block] Social

#20287 Media: Fix flow for gallery creation and editing
  packages/media-utils/src/components/media-upload/index.js
Labels: Backport to WP Core, [Feature] Media, [Type] Bug

#20291 Make sure that all strong tags are removed from title.
  packages/editor/src/components/post-title/index.native.js
Labels: Mobile App Compatibility, [Type] Bug

#20233 Block Editor: Introduce stable BlockSettingsMenuControls slot
  packages/block-editor/README.md
  packages/block-editor/src/components/block-settings-menu-controls/README.md
  packages/block-editor/src/components/block-settings-menu-controls/index.js
  packages/block-editor/src/components/block-settings-menu/block-settings-menu-plugins-extension.js
  packages/block-editor/src/components/block-settings-menu/index.js
  packages/block-editor/src/components/index.js
  packages/edit-post/src/components/block-settings-menu/plugin-block-settings-menu-group.js
  packages/edit-post/src/components/block-settings-menu/plugin-block-settings-menu-item.js
  packages/edit-post/src/components/visual-editor/index.js
  packages/editor/src/components/convert-to-group-buttons/index.js
  packages/editor/src/components/reusable-blocks-buttons/index.js
Labels: [Feature] Extensibility, [Package] Block editor

#20145 Docs: Add docs for variations in the block registration section
  docs/designers-developers/developers/block-api/block-registration.md
  packages/blocks/src/api/registration.js
Labels: [Feature] Block API, [Type] Documentation

#20296 Spacer block: fix background color for dark themes
  packages/block-library/src/spacer/editor.scss
Labels: Good First Review, [Block] Spacer, [Type] Bug

#19715 Block Library: Add features to the Post Excerpt block.
  packages/block-library/src/editor.scss
  packages/block-library/src/post-excerpt/block.json
  packages/block-library/src/post-excerpt/edit.js
  packages/block-library/src/post-excerpt/editor.scss
  packages/block-library/src/post-excerpt/index.php
  packages/core-data/src/entity-provider.js
  packages/e2e-tests/fixtures/blocks/core__post-excerpt.json
  test/integration/full-content/server-registered.json
Labels: Needs Design Feedback, [Feature] Full Site Editing

#20248 Fix missing label on heading toolbar.
  packages/block-library/src/heading/heading-toolbar.js
Labels: Accessibility (a11y), [Block] Heading, [Type] Bug, [a11y] Labelling

#20305 Try adding bundle size github action
  .github/workflows/bundle-size.yml
Labels: Automated Testing

#20312 Add stylesheets checks to the bundle size Github action
  .github/workflows/bundle-size.yml
Labels: Automated Testing
