Repository WordPress/gutenberg, pull requests merged in 2020-10, with the labels that each got.

#25560 Gallery: Add labels to img, figure and figcaption elements for accessibility
  packages/block-library/src/gallery/deprecated.js
  packages/block-library/src/gallery/save.js
Labels: Accessibility (a11y), Needs Accessibility Feedback, [Block] Gallery, [a11y] Labelling

#25634 [RNMobile] Gallery Block - Shows "Choose images" instead of "Choose image"
  packages/block-editor/src/components/media-upload/index.native.js
Labels: Mobile App Android/iOS

#25695 Mark the font size support flag as stable
  lib/block-supports/typography.php
  lib/global-styles.php
  packages/block-editor/src/hooks/font-size.js
  packages/block-library/src/heading/block.json
  packages/block-library/src/navigation/block.json
  packages/block-library/src/paragraph/block.json
  packages/block-library/src/post-author/block.json
  packages/block-library/src/post-comments-count/block.json
  packages/block-library/src/post-comments-form/block.json
  packages/block-library/src/post-comments/block.json
  packages/block-library/src/post-date/block.json
  packages/block-library/src/post-excerpt/block.json
  packages/block-library/src/post-hierarchical-terms/block.json
  packages/block-library/src/post-tags/block.json
  packages/block-library/src/post-title/block.json
  packages/block-library/src/site-tagline/block.json
  packages/block-library/src/site-title/block.json
  packages/edit-navigation/src/index.js
  phpunit/class-block-supported-styles-test.php
Labels: Needs Dev Note, [Feature] Block API, [Type] New API

#25362 Data: Build the basic data controls into every store
  packages/block-directory/src/store/test/actions.js
  packages/block-editor/src/store/actions.js
  packages/block-editor/src/store/controls.js
  packages/block-editor/src/store/test/actions.js
  packages/core-data/src/test/actions.js
  packages/data-controls/CHANGELOG.md
  packages/data-controls/README.md
  packages/data-controls/src/index.js
  packages/data-controls/src/test/index.js
  packages/data/README.md
  packages/data/src/controls.js
  packages/data/src/factory.js
  packages/data/src/index.js
  packages/data/src/namespace-store/index.js
  packages/data/src/test/controls.js
  packages/data/src/test/registry.js
  packages/edit-site/src/store/test/actions.js
Labels: [Package] Block editor, [Package] Data, [Package] Data Controls, [Type] Code Quality

#25769 Add/line height support flag stable
  lib/block-supports/typography.php
  lib/global-styles.php
  packages/block-editor/README.md
  packages/block-editor/src/components/index.js
  packages/block-editor/src/components/index.native.js
  packages/block-editor/src/hooks/line-height.js
  packages/block-library/src/heading/block.json
  packages/block-library/src/paragraph/block.json
  packages/block-library/src/post-author/block.json
  packages/block-library/src/post-comments-count/block.json
  packages/block-library/src/post-comments-form/block.json
  packages/block-library/src/post-comments/block.json
  packages/block-library/src/post-date/block.json
  packages/block-library/src/post-excerpt/block.json
  packages/block-library/src/post-hierarchical-terms/block.json
  packages/block-library/src/post-tags/block.json
  packages/block-library/src/post-title/block.json
  packages/block-library/src/site-tagline/block.json
  packages/block-library/src/site-title/block.json
  packages/edit-site/src/components/sidebar/typography-panel.js
  phpunit/class-block-supported-styles-test.php
Labels: Needs Dev Note, [Feature] Block API, [Type] New API

#22324 Add storybook story for the FocusableIframe component
  packages/components/src/focusable-iframe/stories/index.js
Labels: Storybook, [Package] Components

#25704 UnitControl: Enable keyboard access (via tab) to unit select by default
  packages/components/src/unit-control/index.js
Labels: [Package] Components, [a11y] Keyboard & Focus

#25779 Docs: Fix typo in Git Workflow
  docs/contributors/git-workflow.md
Labels: [Type] Documentation

#25719 Document Settings: Fix document title hover and select animations
  packages/edit-site/src/components/header/document-actions/index.js
  packages/edit-site/src/components/header/document-actions/style.scss
  packages/edit-site/src/components/header/style.scss
Labels: [Feature] Full Site Editing, [Type] Bug

#22494 Add more writing flow options: Reduced UI, theme styles, spotlight
  lib/client-assets.php
  packages/block-editor/src/components/block-list/insertion-point.js
  packages/block-editor/src/components/block-toolbar/index.js
  packages/block-editor/src/components/block-toolbar/style.scss
  packages/components/src/button/style.scss
  packages/edit-post/src/components/header/header-toolbar/index.js
  packages/edit-post/src/components/header/header-toolbar/style.scss
  packages/edit-post/src/components/header/index.js
  packages/edit-post/src/components/header/style.scss
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/options-modal/index.js
  packages/edit-post/src/components/options-modal/test/__snapshots__/index.js.snap
  packages/edit-post/src/editor.js
  packages/edit-post/src/store/defaults.js
  packages/editor/src/components/provider/index.js
  packages/interface/src/components/complementary-area/index.js
Labels: General Interface, Needs Design Feedback, [Type] Enhancement

#25658 [RNMobile] Show button settings when the Button block is initially added
  packages/block-library/src/button/edit.native.js
Labels: Mobile App Android/iOS

#25291 Gallery: Add a margin declarion
  packages/block-library/src/gallery/style.scss
Labels: CSS Styling, [Feature] Themes

#25492 Fix React error in @wordpress/block-editor docs usage example caused by applying args to setState call
  packages/block-editor/README.md
Labels: [Package] Block editor, [Type] Documentation

#25788 Make the custom spacing theme support flag and block support API stable
  docs/designers-developers/developers/themes/theme-json.md
  docs/designers-developers/developers/themes/theme-support.md
  lib/global-styles.php
  packages/block-editor/src/hooks/padding.js
  packages/block-editor/src/hooks/style.js
  packages/block-library/src/cover/block.json
  packages/block-library/src/group/block.json
Labels: Needs Design Feedback, Needs Dev Note, [Feature] Design Tools, [Type] New API

#25266 [Mobile] Create endpoint to post notices from host apps
  packages/editor/src/components/provider/index.native.js
  packages/react-native-bridge/index.js
  packages/react-native-bridge/ios/Gutenberg.swift
  packages/react-native-bridge/ios/RNReactNativeGutenbergBridge.swift
  test/native/setup.js
Labels: Mobile App Android/iOS

#25796 Add a dark mode to the post title
  packages/editor/src/components/post-title/style.scss
Labels: CSS Styling, [Feature] Themes

#25801 Document Actions: Fix Block Editor Inserter Overlap with Document Titles
  packages/edit-site/src/components/header/style.scss
Labels: [Feature] Full Site Editing, [Type] Bug

#25686 Mobile Release v1.38.0
  packages/react-native-aztec/android/build.gradle
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App Android/iOS

#25792 Include edit-widgets php files in build
  bin/build-plugin-zip.sh
Labels: [Priority] High, [Type] Bug, [Type] Build Tooling

#25813 Fixes #25812 - Correct bool to boolean to avoid Notices
  packages/block-library/src/search/block.json
Labels: [Block] Search, [Type] Bug

#25797 Fix/php warining in widget utils controller
  lib/class-wp-rest-widget-utils-controller.php
Labels: First-time Contributor, [Feature] Widgets Screen, [Type] Bug

#25401 Cover Block: Show spinner while uploading
  packages/blob/CHANGELOG.md
  packages/blob/README.md
  packages/blob/src/index.js
  packages/blob/src/test/index.js
  packages/block-library/src/cover/edit.js
  packages/block-library/src/cover/editor.scss
  packages/block-library/src/cover/shared.js
Labels: Needs Design Feedback, [Block] Cover, [Type] Bug

#25736 Initialize the state before rendering widgets editor
  packages/edit-widgets/src/components/edit-widgets-initializer/index.js
  packages/edit-widgets/src/store/actions.js
  packages/edit-widgets/src/store/resolvers.js
  packages/edit-widgets/src/store/utils.js
Labels: [Feature] Widgets Screen, [Package] Edit Widgets

#25758 Widgets editor: Add basic options for extensibility
  packages/edit-widgets/src/components/sidebar/block-areas.js
  packages/edit-widgets/src/components/widget-areas-block-editor-provider/index.js
Labels: [Feature] Extensibility, [Feature] Widgets Screen, [Type] Enhancement

#25697 [RNMobile] Refactor ui strings using filters
  packages/block-library/src/missing/edit.native.js
  packages/components/src/index.native.js
  packages/components/src/mobile/ui-strings/index.native.js
  packages/react-native-editor/ios/gutenberg/GutenbergViewController.swift
Labels: Mobile App Android/iOS

#25830 Bring the block-based theme tutorial up to date
  docs/designers-developers/developers/tutorials/block-based-themes/README.md
  docs/designers-developers/developers/tutorials/block-based-themes/block-based-themes-2-adding-blocks.md
Labels: [Type] Documentation, [Type] Enhancement

#25702 [RNMobile] Rename example iOS project to GutenbergDemo
  .github/workflows/rnmobile-ios-runner.yml
  packages/react-native-editor/__device-tests__/helpers/utils.js
  packages/react-native-editor/ios/GutenbergDemo.xcodeproj/project.pbxproj
  packages/react-native-editor/ios/GutenbergDemo.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/react-native-editor/ios/GutenbergDemo.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/react-native-editor/ios/GutenbergDemo.xcodeproj/xcshareddata/xcschemes/GutenbergDemo.xcscheme
  packages/react-native-editor/ios/GutenbergDemo.xcworkspace/contents.xcworkspacedata
  packages/react-native-editor/ios/GutenbergDemo.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/react-native-editor/ios/GutenbergDemo.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  packages/react-native-editor/ios/GutenbergDemo/AppDelegate.swift
  packages/react-native-editor/ios/GutenbergDemo/Base.lproj/LaunchScreen.xib
  packages/react-native-editor/ios/GutenbergDemo/GutenbergViewController.swift
  packages/react-native-editor/ios/GutenbergDemo/Images.xcassets/AppIcon.appiconset/Contents.json
  packages/react-native-editor/ios/GutenbergDemo/Images.xcassets/Contents.json
  packages/react-native-editor/ios/GutenbergDemo/Images.xcassets/aztec.imageset/Contents.json
  packages/react-native-editor/ios/GutenbergDemo/Images.xcassets/aztec.imageset/aztec.png
  packages/react-native-editor/ios/GutenbergDemo/Info.plist
  packages/react-native-editor/ios/GutenbergDemo/MediaPickCoordinator.swift
  packages/react-native-editor/ios/GutenbergDemo/MediaProvider.swift
  packages/react-native-editor/ios/GutenbergDemo/MediaUploadCoordinator.swift
  packages/react-native-editor/ios/GutenbergDemo/WebViewController.swift
  packages/react-native-editor/ios/Podfile
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/ios/gutenberg-tvOS/Info.plist
  packages/react-native-editor/ios/gutenberg-tvOSTests/Info.plist
  packages/react-native-editor/ios/gutenberg.xcodeproj/xcshareddata/xcschemes/gutenberg-tvOS.xcscheme
  packages/react-native-editor/package.json
Labels: Mobile App Android/iOS

#23462 Add a description to the Site Title block.
  packages/block-library/src/site-title/index.js
Labels: Needs Copy Review, Needs Design Feedback, [Block] Site Title

#24892 Upgrade TypeScript to v4
  bin/tsconfig.json
  package-lock.json
  package.json
Labels: Needs Technical Feedback, Npm Packages

#25727 [Widgets Editor] Fix insertion point in widget areas
  packages/block-editor/src/components/inserter/hooks/use-insertion-point.js
  packages/block-editor/src/components/inserter/library.js
  packages/block-editor/src/components/inserter/menu.js
  packages/edit-widgets/src/components/header/index.js
  packages/edit-widgets/src/components/layout/index.js
  packages/edit-widgets/src/components/layout/interface.js
  packages/edit-widgets/src/hooks/use-last-selected-root-id.js
  packages/edit-widgets/src/hooks/use-last-selected-widget-area.js
  packages/edit-widgets/src/hooks/use-widget-library-insertion-point.js
Labels: [Feature] Widgets Screen, [Type] Bug

#25794 [RNMobile] Update masked-view version
  package-lock.json
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App Android/iOS

#25672 InnerBlocks: add select dependencies
  packages/block-editor/src/components/inner-blocks/index.js
Labels: [Feature] Nested / Inner Blocks, [Type] Code Quality

#25844 Remove non-core blocks from default editor content
  packages/react-native-editor/src/initial-html.js
Labels: Mobile App Android/iOS, [Type] Enhancement

#22195 Media links: fix linking for images inserted from URL.
  packages/block-editor/src/components/url-popover/image-url-input-ui.js
  packages/block-library/src/image/image.js
Labels: [Feature] Media, [Type] Bug

#25739 Site Editor: Navigation templates
  lib/template-loader.php
  lib/templates.php
  packages/e2e-tests/experimental-features.js
  packages/e2e-tests/specs/experiments/multi-entity-editing.test.js
  packages/e2e-tests/specs/experiments/multi-entity-saving.test.js
  packages/e2e-tests/specs/experiments/template-part.test.js
  packages/edit-site/src/components/left-sidebar/navigation-panel/constants.js
  packages/edit-site/src/components/left-sidebar/navigation-panel/index.js
  packages/edit-site/src/components/left-sidebar/navigation-panel/menus/template-parts.js
  packages/edit-site/src/components/left-sidebar/navigation-panel/menus/templates-all.js
  packages/edit-site/src/components/left-sidebar/navigation-panel/menus/templates-pages.js
  packages/edit-site/src/components/left-sidebar/navigation-panel/menus/templates-posts.js
  packages/edit-site/src/components/left-sidebar/navigation-panel/menus/templates.js
  packages/edit-site/src/components/left-sidebar/navigation-panel/style.scss
  packages/edit-site/src/components/left-sidebar/navigation-panel/template-navigation-items.js
  packages/edit-site/src/components/left-sidebar/navigation-panel/template-preview.js
  packages/edit-site/src/components/left-sidebar/navigation-panel/template-switcher/index.js
  packages/edit-site/src/components/left-sidebar/navigation-panel/template-switcher/style.scss
  packages/edit-site/src/components/left-sidebar/navigation-panel/template-switcher/template-preview.js
  packages/edit-site/src/components/left-sidebar/navigation-panel/template-switcher/theme-preview.js
  packages/edit-site/src/style.scss
Labels: [Feature] Full Site Editing, [Feature] Navigation Component, [Status] In Progress

#25558 Add documentation for useResizeCanvas
  packages/block-editor/src/components/use-resize-canvas/README.md
Labels: [Type] Documentation

#25567 Add documentation for colors component
  packages/block-editor/src/components/colors/README.md
Labels: [Type] Documentation

#25867 Add meaningful labels for the Widgets screen ARIA landmarks.
  packages/edit-widgets/src/components/layout/interface.js
Labels: Accessibility (a11y), [Feature] Widgets Screen

#24882 Add/block navigation component readme
  packages/block-editor/src/components/block-navigation/README.md
Labels: [Type] Documentation

#25887 Propose navigation and widgets code owners
  .github/CODEOWNERS
Labels: [Feature] Navigation Screen, [Feature] Widgets Screen, [Type] Project Management

#25826 [Widgets editor] Load custom block assets
  lib/widgets-page.php
Labels: [Feature] Widgets Screen, [Package] Edit Widgets

#25096 REST API: Introduce batch controller
  lib/class-wp-rest-batch-controller.php
  lib/class-wp-rest-menu-items-controller.php
  lib/load.php
  lib/rest-api.php
  phpunit/class-rest-batch-controller-test.php
Labels: Core REST API Task, REST API Interaction, [Feature] Navigation Screen

#25897 Site Editor: Add missing localization to the templates sidebar
  packages/edit-site/src/components/left-sidebar/navigation-panel/constants.js
  packages/edit-site/src/components/left-sidebar/navigation-panel/index.js
  packages/edit-site/src/components/left-sidebar/navigation-panel/menus/template-parts.js
  packages/edit-site/src/components/left-sidebar/navigation-panel/menus/templates-all.js
  packages/edit-site/src/components/left-sidebar/navigation-panel/menus/templates-pages.js
  packages/edit-site/src/components/left-sidebar/navigation-panel/menus/templates-posts.js
  packages/edit-site/src/components/left-sidebar/navigation-panel/menus/templates.js
Labels: [Feature] Full Site Editing

#25923 Fix e2e tests related to template parts
  packages/e2e-tests/specs/experiments/multi-entity-editing.test.js
  packages/e2e-tests/specs/experiments/template-part.test.js
  packages/edit-site/src/components/left-sidebar/navigation-panel/menus/template-parts.js
Labels: [Package] E2E Tests, [Type] Bug

#24886 [edit-widgets] Test for storing raw html in widgets
  phpunit/class-rest-sidebars-controller-test.php
Labels: [Feature] Widgets Screen

#25881 Template part selection component - fix keyboard controls.
  package-lock.json
  packages/block-library/package.json
  packages/block-library/src/template-part/edit/selection/index.js
  packages/block-library/src/template-part/edit/selection/template-part-previews.js
  packages/block-library/src/template-part/editor.scss
Labels: [Feature] Full Site Editing, [a11y] Keyboard & Focus

#25874 FSE Document actions - wrap with heading
  packages/edit-site/src/components/header/document-actions/index.js
  packages/edit-site/src/components/header/document-actions/style.scss
Labels: Accessibility (a11y), [Feature] Full Site Editing, [a11y] Labelling

#25556 Navigation component: Add back button click handler
  packages/components/src/navigation/README.md
  packages/components/src/navigation/back-button/index.js
  packages/components/src/navigation/menu/index.js
  packages/components/src/navigation/stories/more-examples.js
Labels: [Feature] Navigation Component

#25870 Site editor: Mount both wp_template and wp_template_part EntityProviders to avoid remounting
  packages/edit-site/src/components/editor/index.js
Labels: [Feature] Full Site Editing

#25944 [Widgets Editor] Add save keyboard shortcut
  packages/edit-widgets/src/components/keyboard-shortcuts/index.js
Labels: Accessibility (a11y), [Feature] Widgets Screen, [Type] Bug

#25939 [Widgets Editor] Remove default hover background in panel title
  packages/edit-widgets/src/blocks/widget-area/editor.scss
Labels: [Feature] Widgets Screen, [Type] Bug

#25906 Site editor: Store navigation panel's active menu state in the store
  packages/edit-site/src/components/left-sidebar/navigation-panel/index.js
  packages/edit-site/src/store/actions.js
  packages/edit-site/src/store/reducer.js
  packages/edit-site/src/store/selectors.js
Labels: [Feature] Full Site Editing

#25917 Heading block: add wide and full width options
  packages/block-library/src/heading/block.json
Labels: [Block] Heading, [Feature] Design Tools

#25899 Prevent network requests related to ephemeral posts in the widgets editor
  packages/edit-widgets/src/components/edit-widgets-initializer/index.js
  packages/edit-widgets/src/index.js
  packages/edit-widgets/src/store/actions.js
  packages/edit-widgets/src/store/index.js
  packages/edit-widgets/src/store/selectors.js
Labels: [Feature] Widgets Screen, [Package] Edit Widgets

#25849 Fix blue line indicator not showing at the end
  packages/block-editor/src/components/block-list-appender/index.js
  packages/block-editor/src/components/block-list/index.js
  packages/block-editor/src/components/block-list/insertion-point.js
  packages/block-editor/src/components/block-list/style.scss
  packages/e2e-tests/specs/editor/various/adding-blocks.test.js
  packages/edit-widgets/src/blocks/widget-area/edit/inner-blocks.js
Labels: [Feature] Inserter, [Type] Bug

#25147 Add Align support to Separator block
  packages/block-library/src/separator/block.json
Labels: [Block] Separator

#25692 Add a button to allow resetting the ComboboxControl value
  packages/block-editor/src/components/responsive-block-control/test/__snapshots__/index.js.snap
  packages/components/src/combobox-control/index.js
  packages/components/src/combobox-control/style.scss
  packages/components/src/flex/styles/flex-styles.js
  packages/editor/src/components/post-author/index.js
Labels: [Feature] UI Components, [Type] New API

#25930 [RNMobile] Update Preview handling for better Android support
  packages/edit-post/src/editor.native.js
  packages/edit-post/src/index.native.js
Labels: Mobile App Android/iOS

#25924 Social Link: Rename mail to email
  packages/block-library/src/social-link/variations.js
Labels: [Block] Social

#25954 Update colors readme with additional definitions
  packages/block-editor/src/components/colors/README.md
Labels: [Type] Documentation

#25633 Inner blocks: try hook approach
  packages/block-editor/src/components/block-list/index.js
  packages/block-editor/src/components/index.js
  packages/block-editor/src/components/inner-blocks/index.js
  packages/block-library/src/buttons/edit.js
  packages/block-library/src/column/edit.js
  packages/block-library/src/columns/edit.js
  packages/block-library/src/cover/edit.js
  packages/block-library/src/group/edit.js
  packages/block-library/src/media-text/edit.js
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation/edit.js
  packages/block-library/src/social-links/edit.js
  packages/block-library/src/template-part/edit/inner-blocks.js
Labels: [Feature] Block API, [Feature] Nested / Inner Blocks, [Type] Experimental, [Type] New API

#25184 [Mobile] - Full-width/wide alignment support for more blocks
  packages/block-editor/src/components/block-list/block.native.js
  packages/block-editor/src/components/block-list/block.native.scss
  packages/block-editor/src/hooks/align.native.js
  packages/block-library/src/gallery/gallery-styles.native.scss
  packages/block-library/src/gallery/gallery.native.js
  packages/components/src/mobile/readable-content-view/index.native.js
  packages/components/src/mobile/utils/alignments.native.js
  packages/react-native-editor/CHANGELOG.md
Labels: Mobile App Android/iOS

#25829 Transform multiple selected blocks to Columns block
  packages/block-editor/src/autocompleters/block.js
  packages/block-editor/src/components/block-variation-picker/index.native.js
  packages/block-editor/src/components/inserter/hooks/use-block-types-state.js
  packages/block-library/src/columns/edit.js
  packages/block-library/src/columns/index.js
  packages/block-library/src/columns/transforms.js
  packages/blocks/README.md
  packages/blocks/src/api/factory.js
  packages/blocks/src/api/index.js
  packages/blocks/src/api/test/factory.js
  packages/e2e-tests/specs/editor/various/block-switcher.test.js
Labels: [Block] Columns, [Package] Blocks, [Type] Enhancement

#25903 Add Custom Post Types support in Query block
  packages/block-library/src/query-loop/edit.js
  packages/block-library/src/query-loop/index.php
  packages/block-library/src/query/block.json
  packages/block-library/src/query/edit/index.js
  packages/block-library/src/query/edit/query-inspector-controls.js
  packages/e2e-tests/fixtures/blocks/core__query.json
Labels: [Block] Query, [Feature] Full Site Editing, [Type] Feature

#25683 Rename "Options" modal to "Preferences".
  packages/e2e-test-utils/src/toggle-screen-option.js
  packages/e2e-tests/specs/editor/various/preview.test.js
  packages/edit-post/src/components/header/more-menu/index.js
  packages/edit-post/src/components/header/preferences-menu-item/index.js
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/options-modal/section.js
  packages/edit-post/src/components/preferences-modal/index.js
  packages/edit-post/src/components/preferences-modal/meta-boxes-section.js
  packages/edit-post/src/components/preferences-modal/options/base.js
  packages/edit-post/src/components/preferences-modal/options/enable-custom-fields.js
  packages/edit-post/src/components/preferences-modal/options/enable-feature.js
  packages/edit-post/src/components/preferences-modal/options/enable-panel.js
  packages/edit-post/src/components/preferences-modal/options/enable-plugin-document-setting-panel.js
  packages/edit-post/src/components/preferences-modal/options/enable-publish-sidebar.js
  packages/edit-post/src/components/preferences-modal/options/index.js
  packages/edit-post/src/components/preferences-modal/options/test/__snapshots__/enable-custom-fields.js.snap
  packages/edit-post/src/components/preferences-modal/options/test/enable-custom-fields.js
  packages/edit-post/src/components/preferences-modal/section.js
  packages/edit-post/src/components/preferences-modal/style.scss
  packages/edit-post/src/components/preferences-modal/test/__snapshots__/index.js.snap
  packages/edit-post/src/components/preferences-modal/test/__snapshots__/meta-boxes-section.js.snap
  packages/edit-post/src/components/preferences-modal/test/index.js
  packages/edit-post/src/components/preferences-modal/test/meta-boxes-section.js
  packages/edit-post/src/components/sidebar/plugin-document-setting-panel/index.js
  packages/edit-post/src/style.scss
Labels: Accessibility (a11y), [Type] Enhancement

#25893 Fix insertion indicator margin
  packages/block-editor/src/components/block-list/style.scss
Labels: [Type] Bug

#25838 [Mobile] - Gallery - Allow removing image when it's in failed state
  packages/block-library/src/gallery/gallery-image-style.native.scss
  packages/block-library/src/gallery/gallery-image.native.js
  packages/components/src/mobile/image/index.native.js
  packages/components/src/mobile/image/style.native.scss
Labels: Mobile App Android/iOS

#25974 Performance: Remove transition on block selection indicator.
  packages/block-editor/src/components/block-list/style.scss
Labels: [Type] Enhancement, [Type] Performance

#25952 Document isMultiBlock param for block transforms
  docs/designers-developers/developers/block-api/block-transforms.md
Labels: [Feature] Raw Handling, [Type] Documentation

#25984 Add no results placeholder in Query block
  packages/block-library/src/query-loop/edit.js
Labels: [Block] Query, [Feature] Full Site Editing

#25977 Show all widget areas on widget screen
  lib/widgets-page.php
  packages/edit-widgets/src/store/utils.js
Labels: [Feature] Widgets Screen, [Type] Bug

#25976 Fix block editor example in storybook
  packages/block-editor/src/hooks/font-size.js
Labels: [Package] Block editor, [Type] Bug

#25979 Fallback for dropcap when __experimentalFeatures is not present
  packages/block-editor/src/components/use-editor-feature/index.js
Labels: [Block] Paragraph

#25656 Try adding a 'spotlight mode' type effect when template part or child is selected.
  docs/designers-developers/developers/data/data-core-block-editor.md
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/index.js
  packages/block-editor/src/components/block-list/style.scss
  packages/block-editor/src/store/defaults.js
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/selectors.js
  packages/edit-site/src/components/header/document-actions/index.js
  packages/edit-site/src/index.js
Labels: [Feature] Full Site Editing

#25757 Add very basic template information dropdown
  packages/components/src/dropdown/index.js
  packages/edit-site/src/components/header/document-actions/index.js
  packages/edit-site/src/components/header/document-actions/style.scss
  packages/edit-site/src/components/header/index.js
  packages/edit-site/src/components/left-sidebar/navigation-panel/constants.js
  packages/edit-site/src/components/left-sidebar/navigation-panel/template-navigation-items.js
  packages/edit-site/src/components/template-details/index.js
  packages/edit-site/src/components/template-details/style.scss
  packages/edit-site/src/style.scss
  packages/edit-site/src/utils/get-template-info/constants.js
  packages/edit-site/src/utils/get-template-info/index.js
  packages/edit-site/src/utils/get-template-info/test/__snapshots__/index.js.snap
  packages/edit-site/src/utils/get-template-info/test/index.js
  packages/edit-site/src/utils/index.js
Labels: [Feature] Full Site Editing, [Type] Enhancement

#25995 Fix template part theme identifier
  lib/template-parts.php
  packages/block-library/src/template-part/edit/selection/template-part-previews.js
  packages/block-library/src/template-part/index.php
Labels: [Feature] Full Site Editing

#25399 Don't allow duplicate selectors in styles
  .stylelintrc.json
  packages/block-editor/src/components/block-list/style.scss
  packages/block-editor/src/components/block-mover/style.scss
  packages/block-editor/src/components/block-navigation/style.scss
  packages/block-editor/src/components/block-switcher/style.scss
  packages/block-editor/src/components/link-control/style.scss
  packages/block-library/src/columns/style.scss
  packages/block-library/src/cover/style.scss
  packages/block-library/src/gallery/style.scss
  packages/block-library/src/navigation/editor.scss
  packages/block-library/src/table/editor.scss
  packages/components/src/mobile/color-settings/style.native.scss
  packages/components/src/resizable-box/style.scss
  packages/edit-post/src/components/header/style.scss
  packages/edit-post/src/components/layout/style.scss
  packages/edit-site/src/components/editor/style.scss
  packages/edit-site/src/components/header/style.scss
  packages/edit-widgets/src/components/header/style.scss
  packages/editor/src/editor-styles.scss
Labels: CSS Styling

#26018 Fix widget area title font
  packages/edit-widgets/src/blocks/widget-area/editor.scss
Labels: [Feature] Widgets Screen, [Type] Bug

#26016 Make edit-widgets package public.
  packages/edit-widgets/package.json
Labels: [Feature] Widgets Screen, [Package] Edit Widgets

#20149 API: Stabilize localAutosave() as autosave( { local: true } )
  docs/designers-developers/developers/data/data-core-editor.md
  packages/e2e-tests/specs/editor/various/autosave.test.js
  packages/editor/src/components/local-autosave-monitor/index.js
  packages/editor/src/store/actions.js
Labels: [Feature] Extensibility, [Feature] Saving, [Type] New API

#26017 Info panel design force wrapping
  packages/editor/src/components/table-of-contents/style.scss
Labels: [Type] Enhancement

#25660 [RNMobile] Align Range Control (Android Slider component) to the left of it's container
  packages/components/src/mobile/bottom-sheet/range-cell.native.js
  packages/components/src/mobile/bottom-sheet/range-cell.native.scss
Labels: Mobile App Android/iOS

#26006 [RN Mobile] - Fix UBE issue: cannot view or interact with the classic block on Jetack sites
  packages/react-native-bridge/android/src/main/java/org/wordpress/mobile/ReactNativeGutenbergBridge/GutenbergWebViewActivity.java
Labels: Mobile App Android/iOS

#25873 [RN Mobile] Unsupported block bottom sheet is triggered when device is rotated #13052
  packages/block-library/src/missing/edit.native.js
Labels: Mobile App Android/iOS

#26001 Cover: Add repeated background option
  packages/block-library/src/cover/block.json
  packages/block-library/src/cover/edit.js
  packages/block-library/src/cover/save.js
  packages/block-library/src/cover/style.scss
Labels: Needs Design Feedback, [Block] Cover, [Type] Enhancement

#25916 Social Links: Avoid conflict with themes ul text-indent
  packages/block-library/src/social-links/style.scss
Labels: [Block] Social

#26044 Fix unit tests by updating cover block fixtures
  packages/e2e-tests/fixtures/blocks/core__cover.json
  packages/e2e-tests/fixtures/blocks/core__cover__gradient-image.json
  packages/e2e-tests/fixtures/blocks/core__cover__gradient-video.json
  packages/e2e-tests/fixtures/blocks/core__cover__gradient.json
  packages/e2e-tests/fixtures/blocks/core__cover__solid-color.json
  packages/e2e-tests/fixtures/blocks/core__cover__video-overlay.json
  packages/e2e-tests/fixtures/blocks/core__cover__video.json
Labels: [Block] Cover

#25957 Site Editor: Clear the active menu state when closing the sidebar
  packages/edit-site/src/components/header/navigation-toggle/index.js
  packages/edit-site/src/components/header/navigation-toggle/test/index.js
Labels: [Feature] Full Site Editing

#26004 Document Actions: Fix unexpected label wrapping
  packages/edit-site/src/components/header/document-actions/style.scss
  packages/edit-site/src/components/header/style.scss
Labels: [Feature] Full Site Editing, [Type] Bug

#26048 editor: remove two unused registry controls
  packages/editor/src/store/controls.js
Labels: [Package] Editor, [Type] Code Quality

#25943 Widgets editor: Display Widget Area's name and description in the sidebar
  packages/edit-widgets/src/components/sidebar/block-areas.js
  packages/edit-widgets/src/components/sidebar/index.js
  packages/edit-widgets/src/components/sidebar/style.scss
  packages/edit-widgets/src/components/sidebar/widget-areas.js
Labels: Needs Copy Review, [Feature] Widgets Screen, [Type] Enhancement

#26053 Restrict legacy widget block to only being a child of widget area
  packages/edit-widgets/src/blocks/legacy-widget/block.json
Labels: [Block] Legacy Widget, [Feature] Widgets Screen, [Type] Bug

#26051 Fix drag and drop in empty widget area
  packages/edit-widgets/src/blocks/widget-area/editor.scss
Labels: [Feature] Drag and Drop, [Feature] Widgets Screen, [Type] Bug

#26055 HTML block: use hooks and API v2
  packages/block-library/src/html/block.json
  packages/block-library/src/html/edit.js
Labels: [Type] Code Quality

#25566 InspectorAdvancedControls: Add README.md
  packages/block-editor/README.md
  packages/block-editor/src/components/inspector-advanced-controls/README.md
  packages/block-editor/src/components/inspector-advanced-controls/index.js
Labels: [Type] Documentation

#26026 Site Editor: Navigation panel replace hardcoded menu strings with constants
  packages/edit-site/src/components/left-sidebar/navigation-panel/constants.js
  packages/edit-site/src/components/left-sidebar/navigation-panel/index.js
  packages/edit-site/src/components/left-sidebar/navigation-panel/menus/template-parts.js
  packages/edit-site/src/components/left-sidebar/navigation-panel/menus/templates-all.js
  packages/edit-site/src/components/left-sidebar/navigation-panel/menus/templates-pages.js
  packages/edit-site/src/components/left-sidebar/navigation-panel/menus/templates-posts.js
  packages/edit-site/src/components/left-sidebar/navigation-panel/menus/templates.js
Labels: [Feature] Full Site Editing, [Type] Code Quality

#26057 Docs: Getting started: MAMP: Add tip to fix WP-CLI
  docs/contributors/getting-started.md
Labels: [Type] Documentation

#25636 Refactor Buttons block native edit component to use hooks.
  packages/block-library/src/buttons/edit.native.js
Labels: Mobile App Android/iOS, [Block] Buttons, [Package] Block library, [Type] Code Quality

#25806 Refactor Categories to function component
  packages/block-library/src/categories/edit.js
Labels: [Block] Categories, [Type] Code Quality

#21427 Refactor reusable block edit component using hooks (and fix interactions with multiple instances of the same reusable block)
  packages/block-library/src/block/edit.js
Labels: [Block] Block, [Feature] Reusable Blocks, [Package] Block library, [Type] Bug, [Type] Code Quality

#26019 Upgrade autoprefixer to fix fit-content in firefox
  package-lock.json
  packages/editor/src/components/editor-notices/style.scss
  packages/postcss-plugins-preset/package.json
Labels: [Feature] Widgets Screen, [Type] Bug

#25958 Add separate widgets endpoint
  lib/class-wp-rest-sidebars-controller.php
  lib/class-wp-rest-widgets-controller.php
  lib/load.php
  lib/rest-api.php
  packages/edit-widgets/src/store/actions.js
  packages/edit-widgets/src/store/utils.js
  phpunit/class-rest-sidebars-controller-test.php
  phpunit/class-rest-widgets-controller-test.php
Labels: Core REST API Task, REST API Interaction, [Feature] Widgets Screen, [Package] Edit Widgets, [Priority] High, [Type] Breaking Change

#26042 Add widget type endpoint.
  lib/class-wp-rest-widget-types-controller.php
  lib/load.php
  lib/rest-api.php
  phpunit/class-rest-widget-types-controller-test.php
Labels: Core REST API Task, REST API Interaction, [Feature] Widgets Screen, [Priority] High

#25907 Update CI status badge in README
  README.md
Labels: [Type] Documentation

#26054 Update all blocks to API v2
  packages/block-library/src/archives/block.json
  packages/block-library/src/archives/edit.js
  packages/block-library/src/calendar/block.json
  packages/block-library/src/calendar/edit.js
  packages/block-library/src/classic/block.json
  packages/block-library/src/classic/edit.js
  packages/block-library/src/embed/block.json
  packages/block-library/src/embed/edit.js
  packages/block-library/src/embed/save.js
  packages/block-library/src/embed/test/__snapshots__/index.js.snap
  packages/block-library/src/embed/test/index.js
  packages/block-library/src/missing/block.json
  packages/block-library/src/missing/edit.js
  packages/block-library/src/more/block.json
  packages/block-library/src/more/edit.js
  packages/block-library/src/more/test/__snapshots__/edit.js.snap
  packages/block-library/src/more/test/edit.js
  packages/block-library/src/nextpage/block.json
  packages/block-library/src/nextpage/edit.js
  packages/block-library/src/post-comment-author/block.json
  packages/block-library/src/post-comment-author/edit.js
  packages/block-library/src/post-comment-content/block.json
  packages/block-library/src/post-comment-content/edit.js
  packages/block-library/src/post-comment-date/block.json
  packages/block-library/src/post-comment/block.json
  packages/block-library/src/post-comment/edit.js
  packages/block-library/src/post-comment/save.js
  packages/block-library/src/post-content/block.json
  packages/block-library/src/post-content/edit.js
  packages/block-library/src/post-featured-image/block.json
  packages/block-library/src/post-featured-image/edit.js
  packages/block-library/src/query-pagination/block.json
  packages/block-library/src/query-pagination/edit.js
  packages/block-library/src/rss/block.json
  packages/block-library/src/rss/edit.js
  packages/block-library/src/separator/block.json
  packages/block-library/src/separator/edit.js
  packages/block-library/src/separator/save.js
  packages/block-library/src/shortcode/block.json
  packages/block-library/src/shortcode/edit.js
  packages/block-library/src/spacer/block.json
  packages/block-library/src/spacer/edit.js
  packages/block-library/src/spacer/save.js
  packages/block-library/src/subhead/block.json
  packages/block-library/src/subhead/edit.js
  packages/block-library/src/subhead/save.js
  packages/block-library/src/tag-cloud/block.json
  packages/block-library/src/tag-cloud/edit.js
  packages/block-library/src/text-columns/block.json
  packages/block-library/src/text-columns/edit.js
  packages/block-library/src/text-columns/save.js
Labels: [Package] Block library, [Type] Code Quality

#26061 Make sure Global Styles CPT includes a theme reference
  lib/global-styles.php
Labels: Global Styles, [Type] Bug

#26065 Table block: use hooks + API v2
  packages/block-library/src/table/block.json
  packages/block-library/src/table/edit.js
  packages/block-library/src/table/save.js
  packages/e2e-tests/specs/editor/blocks/table.test.js
Labels: [Block] Table, [Package] Block library, [Type] Code Quality, [Type] Enhancement

#26063 File block: use hooks + API v2
  packages/block-library/src/file/block.json
  packages/block-library/src/file/edit.js
  packages/block-library/src/file/save.js
  packages/components/src/animate/index.js
  packages/components/src/index.js
Labels: [Block] File, [Package] Block library, [Package] Components, [Type] Code Quality

#25859 Extract @wordpress/reusable-blocks from @wordpress/editor
  docs/manifest.json
  package-lock.json
  package.json
  packages/block-editor/src/components/inserter/hooks/use-block-types-state.js
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/selectors.js
  packages/block-library/package.json
  packages/block-library/src/block/edit-panel/index.js
  packages/block-library/src/block/edit.js
  packages/block-library/src/index.js
  packages/e2e-test-utils/src/inserter.js
  packages/e2e-tests/specs/editor/various/change-detection.test.js
  packages/e2e-tests/specs/editor/various/reusable-blocks.test.js
  packages/edit-post/package.json
  packages/edit-post/src/index.js
  packages/edit-post/src/index.native.js
  packages/editor/package.json
  packages/editor/src/components/provider/index.js
  packages/editor/src/components/provider/with-registry-provider.js
  packages/editor/src/components/reusable-blocks-buttons/reusable-block-delete-button.js
  packages/editor/src/index.js
  packages/editor/src/store/actions.js
  packages/editor/src/store/effects.js
  packages/editor/src/store/effects/reusable-blocks.js
  packages/editor/src/store/effects/test/reusable-blocks.js
  packages/editor/src/store/index.js
  packages/editor/src/store/middlewares.js
  packages/editor/src/store/reducer.js
  packages/editor/src/store/reducer.native.js
  packages/editor/src/store/selectors.js
  packages/editor/src/store/test/actions.js
  packages/editor/src/store/test/reducer.js
  packages/editor/src/store/test/selectors.js
  packages/reusable-blocks/.npmrc
  packages/reusable-blocks/CHANGELOG.md
  packages/reusable-blocks/README.md
  packages/reusable-blocks/package.json
  packages/reusable-blocks/src/components/index.js
  packages/reusable-blocks/src/components/reusable-blocks-buttons/index.js
  packages/reusable-blocks/src/components/reusable-blocks-buttons/index.native.js
  packages/reusable-blocks/src/components/reusable-blocks-buttons/reusable-block-convert-button.js
  packages/reusable-blocks/src/components/reusable-blocks-buttons/reusable-block-delete-button.js
  packages/reusable-blocks/src/index.js
  packages/reusable-blocks/src/index.native.js
  packages/reusable-blocks/src/store/actions.js
  packages/reusable-blocks/src/store/constants.js
  packages/reusable-blocks/src/store/controls.js
  packages/reusable-blocks/src/store/index.js
  packages/reusable-blocks/src/store/reducer.js
  packages/reusable-blocks/src/store/selectors.js
  packages/reusable-blocks/src/store/test/actions.js
  packages/reusable-blocks/src/store/test/controls.js
  packages/reusable-blocks/src/store/test/reducer.js
  packages/reusable-blocks/src/store/test/selectors.js
Labels: [Block] Block, [Feature] Reusable Blocks, [Package] Editor

#26068 Pullquote block: use hooks + API v2
  packages/block-library/src/pullquote/block.json
  packages/block-library/src/pullquote/edit.js
  packages/block-library/src/pullquote/save.js
Labels: [Block] Pullquote, [Package] Block library, [Type] Code Quality

#25901 Export and document LinkControl's building blocks
  packages/block-editor/src/components/index.js
  packages/block-editor/src/components/link-control/README.md
Labels: [Feature] Link Editing

#26103 FullscreenMode: remove the is-fullscreen-mode CSS class from body on unmount
  packages/interface/src/components/fullscreen-mode/index.js
  packages/interface/src/components/fullscreen-mode/test/index.js
Labels: [Package] Interface, [Type] Bug

#26095 [RNMobile] Prepare mobile columns for different units
  packages/block-library/src/column/edit.native.js
  packages/block-library/src/columns/edit.native.js
Labels: Mobile App Android/iOS, [Block] Columns

#23557 Refactor Latest Comments block to use function component
  packages/block-library/src/latest-comments/edit.js
Labels: [Block] Latest Comments, [Package] Block library, [Type] Code Quality

#26066 Components: Start adding types progressively
  packages/components/src/dashicon/index.js
  packages/components/tsconfig.json
  tsconfig.base.json
  tsconfig.json
Labels: [Package] Components, [Type] Code Quality

#26093 Embed widget type.
  lib/class-wp-rest-widgets-controller.php
Labels: Core REST API Task, REST API Interaction, [Feature] Widgets Screen, [Package] Edit Widgets

#26005 Mobile Stories block (part3: refactor / rename)
  packages/block-editor/src/components/block-media-update-progress/README.md
  packages/block-editor/src/components/block-media-update-progress/index.native.js
  packages/block-editor/src/components/block-media-update-progress/styles.native.scss
  packages/block-editor/src/components/index.native.js
  packages/react-native-bridge/android/src/main/java/org/wordpress/mobile/ReactNativeGutenbergBridge/GutenbergBridgeJS2Parent.java
  packages/react-native-bridge/android/src/main/java/org/wordpress/mobile/ReactNativeGutenbergBridge/RNReactNativeGutenbergBridgeModule.java
  packages/react-native-bridge/android/src/main/java/org/wordpress/mobile/WPAndroidGlue/DeferredEventEmitter.java
  packages/react-native-bridge/android/src/main/java/org/wordpress/mobile/WPAndroidGlue/WPAndroidGlueCode.java
  packages/react-native-bridge/index.js
  packages/react-native-bridge/ios/RNReactNativeGutenbergBridge.m
  packages/react-native-bridge/ios/RNReactNativeGutenbergBridge.swift
  packages/react-native-editor/android/app/src/main/java/com/gutenberg/MainApplication.java
Labels: Mobile App Android/iOS, [Type] Enhancement

#26099 Rename ReusableBlocksButtons to ReusableBlocksMenuItems
  packages/block-editor/src/components/block-settings-menu-controls/README.md
  packages/editor/src/components/provider/index.js
  packages/reusable-blocks/README.md
  packages/reusable-blocks/src/components/index.js
  packages/reusable-blocks/src/components/reusable-blocks-menu-items/index.js
  packages/reusable-blocks/src/components/reusable-blocks-menu-items/index.native.js
  packages/reusable-blocks/src/components/reusable-blocks-menu-items/reusable-block-convert-button.js
  packages/reusable-blocks/src/components/reusable-blocks-menu-items/reusable-block-delete-button.js
Labels: [Feature] Widgets Screen, [Package] Edit Widgets, [Type] Code Quality

#25620 Site Editor: Move page switcher to navigation panel
  packages/edit-site/src/components/header/index.js
  packages/edit-site/src/components/left-sidebar/navigation-panel/constants.js
  packages/edit-site/src/components/left-sidebar/navigation-panel/content-navigation.js
  packages/edit-site/src/components/left-sidebar/navigation-panel/index.js
  packages/edit-site/src/components/left-sidebar/navigation-panel/menus/content-categories.js
  packages/edit-site/src/components/left-sidebar/navigation-panel/menus/content-pages.js
  packages/edit-site/src/components/left-sidebar/navigation-panel/menus/content-posts.js
  packages/edit-site/src/components/left-sidebar/navigation-panel/navigation-entity-items.js
  packages/edit-site/src/components/left-sidebar/navigation-panel/style.scss
  packages/edit-site/src/components/left-sidebar/navigation-panel/templates-navigation.js
  packages/edit-site/src/components/page-switcher/index.js
  packages/edit-site/src/components/page-switcher/style.scss
  packages/edit-site/src/style.scss
Labels: [Feature] Full Site Editing, [Feature] Navigation Component, [Status] In Progress

#26071 [RN Mobile] UBE - Inject css on both page visible and page started
  packages/react-native-bridge/android/src/main/java/org/wordpress/mobile/ReactNativeGutenbergBridge/GutenbergWebViewActivity.java
Labels: Mobile App Android/iOS

#25549 [RNMobile] Improve block inserter accessibility
  packages/block-editor/src/components/inserter/index.native.js
  packages/components/src/mobile/inserter-button/index.native.js
  packages/react-native-editor/__device-tests__/pages/editor-page.js
Labels: Mobile App Android/iOS

#25771 Mobile Stories block (part2: on done)
  packages/block-editor/src/components/block-media-update-progress/README.md
  packages/block-editor/src/components/block-media-update-progress/index.native.js
  packages/block-editor/src/components/block-media-update-progress/styles.native.scss
  packages/block-editor/src/components/index.native.js
  packages/react-native-bridge/android/src/main/java/org/wordpress/mobile/ReactNativeGutenbergBridge/GutenbergBridgeJS2Parent.java
  packages/react-native-bridge/android/src/main/java/org/wordpress/mobile/ReactNativeGutenbergBridge/RNReactNativeGutenbergBridgeModule.java
  packages/react-native-bridge/android/src/main/java/org/wordpress/mobile/WPAndroidGlue/DeferredEventEmitter.java
  packages/react-native-bridge/android/src/main/java/org/wordpress/mobile/WPAndroidGlue/WPAndroidGlueCode.java
  packages/react-native-bridge/index.js
  packages/react-native-bridge/ios/RNReactNativeGutenbergBridge.m
  packages/react-native-bridge/ios/RNReactNativeGutenbergBridge.swift
  packages/react-native-editor/android/app/src/main/java/com/gutenberg/MainApplication.java
  test/native/setup.js
Labels: Mobile App Android/iOS, [Type] Enhancement

#26081 Add unsaved changes warning to widgets screen
  packages/edit-widgets/src/components/layout/index.js
  packages/edit-widgets/src/components/layout/unsaved-changes-warning.js
Labels: General Interface, [Feature] Widgets Screen, [Type] Enhancement

#26011 Hide parent selector in widget area
  packages/block-editor/src/components/block-parent-selector/index.js
  packages/edit-widgets/src/blocks/widget-area/index.js
Labels: [Feature] Widgets Screen, [Type] Bug

#26138 Show the legacy widget name in list view
  packages/edit-widgets/src/blocks/legacy-widget/block.json
  packages/edit-widgets/src/blocks/legacy-widget/index.js
  packages/edit-widgets/src/store/transformers.js
Labels: [Feature] List View, [Feature] Widgets Screen, [Type] Enhancement

#26140 PostCSS Plugins Preset: Update vulnerable dependency
  package-lock.json
  packages/postcss-plugins-preset/CHANGELOG.md
  packages/postcss-plugins-preset/package.json
Labels: [Package] PostCSS Plugins Preset, [Type] Security

#26129 Fix icons type annotation
  packages/icons/src/icon/index.js
Labels: [Package] Icons, [Type] Code Quality

#26113 Latest comments: API v2
  packages/block-library/src/latest-comments/block.json
  packages/block-library/src/latest-comments/edit.js
Labels: [Block] Latest Comments, [Package] Block library, [Type] Code Quality

#26112 Categories block: use API v2
  packages/block-library/src/categories/block.json
  packages/block-library/src/categories/edit.js
Labels: [Block] Categories, [Package] Block library, [Type] Code Quality

#26088 Gallery block: use hooks
  packages/block-library/src/gallery/edit.js
Labels: [Block] Gallery, [Package] Block library, [Type] Code Quality

#26143 Fix Cover width regression
  packages/block-library/src/cover/style.scss
Labels: [Block] Cover, [Type] Bug, [Type] Regression

#26015 [Widgets Screen] Fix WP Admin Bar Widgets screen link
  gutenberg.php
Labels: [Feature] Widgets Screen, [Type] Bug

#26122 Latest posts: use hooks + API v2
  packages/block-library/src/latest-posts/edit.js
Labels: [Block] Latest Posts, [Package] Block library, [Type] Code Quality

#26139 Fix tabbing in widgets not triggering auto-scrolling
  packages/edit-widgets/src/components/widget-areas-block-editor-content/index.js
  packages/edit-widgets/src/components/widget-areas-block-editor-content/style.scss
  packages/edit-widgets/src/style.scss
Labels: Accessibility (a11y), [Feature] Widgets Screen, [Type] Bug

#26149 Global Styles sidebar (blocks tab): protect against not registered blocks
  packages/edit-site/src/components/sidebar/global-styles-sidebar.js
Labels: Global Styles, [Type] Bug

#26144 Fix editing Legacy Widgets doesn't enable "Save" button
  packages/edit-widgets/src/blocks/legacy-widget/edit/dom-manager.js
Labels: [Feature] Widgets Screen, [Type] Bug

#26142 Add legacy widget inspector card component
  packages/edit-widgets/src/blocks/legacy-widget/edit/index.js
  packages/edit-widgets/src/blocks/legacy-widget/edit/inspector-card.js
  packages/edit-widgets/src/blocks/legacy-widget/editor.scss
Labels: [Block] Legacy Widget, [Type] Enhancement

#26136 Minor updates to @wordpress/edit-widgets for easier Core integration
  lib/widget-preview-template.php
  lib/widgets.php
  packages/block-editor/README.md
  packages/block-editor/src/store/defaults.js
  packages/edit-widgets/src/blocks/legacy-widget/edit/index.js
  packages/edit-widgets/src/blocks/legacy-widget/edit/placeholder.js
  packages/edit-widgets/src/blocks/legacy-widget/edit/widget-preview.js
  packages/edit-widgets/src/index.js
  packages/edit-widgets/src/style.scss
  packages/editor/src/components/provider/index.js
Labels: [Feature] Widgets Screen

#25884 FSE Navigation Sidebar: Move navigation sidebar in DOM hierarchy
  packages/base-styles/_variables.scss
  packages/base-styles/_z-index.scss
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/header/index.js
  packages/edit-site/src/components/header/style.scss
  packages/edit-site/src/components/left-sidebar/index.js
  packages/edit-site/src/components/navigation-sidebar/index.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/constants.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/content-navigation.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/index.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/menus/content-categories.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/menus/content-pages.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/menus/content-posts.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/menus/template-parts.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/menus/templates-all.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/menus/templates-pages.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/menus/templates-posts.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/menus/templates.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/navigation-entity-items.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/style.scss
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/template-navigation-items.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/template-preview.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/templates-navigation.js
  packages/edit-site/src/components/navigation-sidebar/navigation-toggle/index.js
  packages/edit-site/src/components/navigation-sidebar/navigation-toggle/style.scss
  packages/edit-site/src/components/navigation-sidebar/navigation-toggle/test/index.js
  packages/edit-site/src/index.js
  packages/edit-site/src/store/reducer.js
  packages/edit-site/src/style.scss
  packages/interface/src/components/interface-skeleton/index.js
  packages/interface/src/components/interface-skeleton/style.scss
Labels: [Feature] Full Site Editing, [a11y] Keyboard & Focus

#25837 Iterations on options modal
  packages/e2e-test-utils/src/disable-pre-publish-checks.js
  packages/e2e-test-utils/src/enable-pre-publish-checks.js
  packages/edit-post/src/components/preferences-modal/index.js
  packages/edit-post/src/components/preferences-modal/options/base.js
  packages/edit-post/src/components/preferences-modal/section.js
  packages/edit-post/src/components/preferences-modal/style.scss
  packages/edit-post/src/components/preferences-modal/test/__snapshots__/index.js.snap
Labels: Needs Copy Review, Needs Design Feedback

#26043 Refactor document actions to handle template part titles
  packages/edit-site/src/components/header/document-actions/index.js
  packages/edit-site/src/components/header/index.js
Labels: [Feature] Full Site Editing, [Package] Edit Site, [Type] Code Quality, [Type] Enhancement

#26168 [RN Mobile] Ube cannot view or interact with the classic block on jetpack sites
  packages/react-native-bridge/android/src/main/java/org/wordpress/mobile/ReactNativeGutenbergBridge/GutenbergWebViewActivity.java
Labels: Mobile App Android/iOS

#26132 Add dropdown button to view templates in sidebar
  packages/block-editor/src/components/inserter/style.scss
  packages/edit-site/src/components/header/document-actions/index.js
  packages/edit-site/src/components/header/document-actions/style.scss
  packages/edit-site/src/components/header/index.js
  packages/edit-site/src/components/template-details/index.js
  packages/edit-site/src/components/template-details/style.scss
Labels: [Feature] Full Site Editing, [Package] Edit Site, [Type] Enhancement

#26038 Tweak styles of the document actions area
  packages/components/src/text/styles/text-mixins.js
  packages/edit-site/src/components/header/document-actions/index.js
  packages/edit-site/src/components/header/document-actions/style.scss
  packages/edit-site/src/components/template-details/index.js
  packages/edit-site/src/components/template-details/style.scss
Labels: [Feature] Full Site Editing, [Type] Code Quality

#24065 Add single column functionality to the Columns block
  packages/block-library/src/columns/edit.js
  packages/block-library/src/columns/variations.js
Labels: [Block] Columns, [Type] Enhancement

#26157 Fix separator and spacer blocks after api v2 refactoring.
  packages/block-library/src/separator/edit.js
  packages/block-library/src/spacer/edit.js
  packages/primitives/src/index.js
  packages/primitives/src/view/README.md
  packages/primitives/src/view/index.js
  packages/primitives/src/view/index.native.js
Labels: Mobile App Android/iOS, [Type] Bug

#25267 Page parent selector with ComboboxControl.
  packages/components/src/combobox-control/index.js
  packages/core-data/src/queried-data/get-query-parts.js
  packages/core-data/src/queried-data/selectors.js
  packages/core-data/src/queried-data/test/get-query-parts.js
  packages/core-data/src/queried-data/test/selectors.js
  packages/core-data/src/selectors.js
  packages/e2e-tests/specs/editor/plugins/custom-post-types.test.js
  packages/editor/src/components/page-attributes/parent.js
Labels: Accessibility (a11y)

#26185 Allow tranform to Columns from a single block
  packages/block-library/src/columns/transforms.js
  packages/e2e-tests/specs/editor/various/block-switcher.test.js
Labels: [Block] Columns

#25795 Edit: Pass editor features dynamically
  packages/edit-site/src/components/editor/global-styles-provider.js
  packages/edit-site/src/components/editor/global-styles-renderer.js
  packages/edit-site/src/store/actions.js
Labels: Global Styles, [Type] Enhancement

#26200 [RNMobile] Add missing color
  packages/base-styles/_colors.native.scss
Labels: Mobile App Android/iOS
