Repository WordPress/gutenberg, pull requests merged in 2020-08, with the labels that each got.

#24307 Improve rootClientId comparison in useBlockDropZone
  packages/block-editor/src/components/use-block-drop-zone/index.js
Labels: [Feature] Drag and Drop, [Type] Code Quality

#24296 Fix link color style property name in global styles
  lib/blocks.php
  lib/global-styles.php
Labels: Global Styles

#24324 RichText: back compat for multiline root tag
  packages/rich-text/src/component/index.js
Labels: Backport to WP Core

#24327 Add link to WordPress Data guide
  packages/data/README.md
Labels: [Package] Data, [Type] Documentation

#24317 Block patterns: Fix translatable strings
  lib/patterns/large-header-button.php
  lib/patterns/large-header.php
  lib/patterns/quote.php
  lib/patterns/two-images.php
Labels: Backport to WP Core, Internationalization (i18n), [Feature] Patterns, [Type] Bug

#24299 Announce block selection changes manually on windows
  packages/block-editor/src/components/block-list/block-selection-button.js
Labels: Accessibility (a11y), Backport to WP Core, [Type] Bug

#23759 Mover control: Remove drag cursor.
  packages/block-editor/src/components/block-list/style.scss
  packages/block-editor/src/components/block-toolbar/style.scss
Labels: Accessibility (a11y), Backport to WP Core

#24279 Prefix useSimulatedMediaQuery __experimental
  packages/block-editor/README.md
  packages/block-editor/src/components/index.js
  packages/edit-widgets/src/components/customizer-edit-widgets-initializer/index.js
Labels: Backport to WP Core

#23072 Refactor CalendarEdit component
  packages/block-library/src/calendar/edit.js
Labels: [Block] Calendar, [Package] Block library, [Type] Code Quality

#24333 Add arrow navigation to Warning dropdown menu
  packages/block-editor/src/components/warning/index.js
Labels: Accessibility (a11y), [Feature] Block Validation/Deprecation, [a11y] Keyboard & Focus

#24082 Post Tags: Fix bug where no tags are rendered
  packages/block-library/src/post-tags/block.json
  packages/block-library/src/post-tags/edit.js
  packages/block-library/src/post-tags/index.php
Labels: [Feature] Full Site Editing

#24340 Docs: Fix a typo, use plural 1st person, and reword a paragraph.
  docs/designers-developers/developers/tutorials/create-block/author-experience.md
  docs/designers-developers/developers/tutorials/create-block/block-anatomy.md
  docs/designers-developers/developers/tutorials/create-block/block-code.md
Labels: [Type] Documentation

#24172 Block Directory: Decode entities in block title & description
  package-lock.json
  packages/block-directory/package.json
  packages/block-directory/src/components/downloadable-block-header/index.js
  packages/block-directory/src/components/downloadable-block-info/index.js
Labels: [Feature] Block Directory

#24069 Post Tags: Feature Parity for Customization
  packages/block-library/src/post-tags/block.json
  packages/block-library/src/post-tags/edit.js
  packages/block-library/src/post-tags/index.php
Labels: [Feature] Full Site Editing

#24144 Add full parameters for emulateNetworkConditions
  docs/contributors/testing-overview.md
  packages/e2e-tests/config/setup-test-framework.js
Labels: Automated Testing, [Type] Bug

#24349 Fix block movers overlapping
  packages/block-editor/src/components/block-list/style.scss
Labels: [Type] Bug

#24338 [RNMobile] E2E Android - Use swipe gesture to scroll inserter menu
  packages/react-native-editor/__device-tests__/helpers/utils.js
  packages/react-native-editor/__device-tests__/pages/editor-page.js
Labels: Mobile App Android/iOS

#24343 Image Editing: Fix alignment of aspect-ratio button
  packages/block-library/src/image/editor.scss
Labels: [Block] Image

#24298 Add support for more style properties in the global context
  lib/global-styles.php
Labels: Global Styles

#24353 Set autosaveInterval to 1 on mobile
  packages/editor/src/store/reducer.native.js
Labels: Mobile App Android/iOS, [Type] Bug

#24355 Remove duplicate question in FAQ
  docs/designers-developers/faq.md
Labels: [Type] Documentation

#24244 Docs: Switch doc file name, confusion with publishing
  docs/designers-developers/developers/tutorials/create-block/attributes.md
  docs/designers-developers/developers/tutorials/create-block/block-anatomy.md
  docs/designers-developers/developers/tutorials/create-block/readme.md
  docs/manifest.json
  docs/toc.json
Labels: [Type] Documentation

#24361 Docs: fix typos
  docs/designers-developers/designers/design-resources.md
  docs/designers-developers/developers/filters/block-filters.md
  docs/designers-developers/developers/platform/README.md
  docs/designers-developers/developers/slotfills/main-dashboard-button.md
  docs/designers-developers/developers/themes/theme-support.md
  docs/designers-developers/developers/tutorials/block-tutorial/nested-blocks-inner-blocks.md
  docs/designers-developers/developers/tutorials/create-block/readme.md
  docs/designers-developers/developers/tutorials/create-block/wp-plugin.md
  docs/designers-developers/developers/tutorials/devenv/readme.md
  docs/designers-developers/developers/tutorials/metabox/meta-block-1-intro.md
  docs/designers-developers/developers/tutorials/readme.md
Labels: [Type] Documentation

#24357 Docs: Add instructions for disabling the Block Directory
  docs/designers-developers/developers/filters/editor-filters.md
Labels: [Feature] Block Directory, [Type] Documentation

#24017 Set error state when there is an upload error in during file upload
  packages/block-library/src/file/edit.js
Labels: [Type] Bug

#24302 Full Site Editing: Fix Site Title Save Bug
  packages/edit-site/src/components/editor/index.js
Labels: [Type] Bug

#24366 don't use hardcoded values for separator styles
  packages/block-library/src/separator/style.scss
  packages/block-library/src/separator/theme.scss
Labels: CSS Styling, [Block] Separator, [Feature] Themes, [Type] Enhancement

#24388 Revert "[RNMobile] Fix jumping toolbar"
  packages/block-library/src/button/edit.native.js
  packages/components/src/mobile/keyboard-avoiding-view/index.ios.js
  packages/edit-post/src/components/layout/index.native.js
Labels: Mobile App Android/iOS

#24382 Remove "experimental" from title of editor filters
  docs/designers-developers/developers/filters/editor-filters.md
  docs/manifest.json
Labels: [Type] Documentation

#23797 Run wp-env start before PHP unit tests in package scripts
  docs/contributors/getting-started.md
  docs/contributors/testing-overview.md
  package.json
  packages/env/README.md
  packages/env/lib/wordpress.js
Labels: [Package] Env, [Type] Build Tooling

#24390 FSE: Move settings registration to init, remove API name param
  lib/edit-site-page.php
Labels: [Feature] Full Site Editing, [Type] Code Quality

#24396 add e2e regression test
  packages/e2e-tests/specs/editor/various/__snapshots__/adding-blocks.test.js.snap
  packages/e2e-tests/specs/editor/various/adding-blocks.test.js
Labels: [Package] E2E Tests, [Type] Regression

#24351 Refactor server-side block support flags support
  lib/block-supports/align.php
  lib/block-supports/colors.php
  lib/block-supports/index.php
  lib/block-supports/typography.php
  lib/blocks.php
  lib/global-styles.php
  lib/load.php
  packages/block-library/src/archives/block.json
  packages/block-library/src/calendar/block.json
  packages/block-library/src/latest-comments/block.json
  packages/block-library/src/rss/block.json
  packages/block-library/src/tag-cloud/block.json
Labels: Global Styles, [Feature] Full Site Editing, [Type] Code Quality

#23971 Block toolbar: split switcher from mover and simplify styles.
  packages/block-editor/src/components/block-list/style.scss
  packages/block-editor/src/components/block-toolbar/index.js
  packages/block-editor/src/components/block-toolbar/style.scss
Labels: Accessibility (a11y), Backport to WP Core, General Interface, [Type] Enhancement

#24421 Add undocumented blocks & properties
  docs/designers-developers/developers/themes/theme-json.md
Labels: Global Styles, [Type] Documentation

#24418 Remove unnecessary selector
  packages/block-library/src/post-title/block.json
Labels: Global Styles, [Block] Post Title

#24420 Update Preview, Save and Switch to Draft button labels blue
  packages/edit-post/src/components/header/style.scss
Labels: Accessibility (a11y), Backport to WP Core, Needs Design Feedback

#24434 Add an example to the buttons block to avoid focus loss issue
  packages/block-library/src/buttons/index.js
Labels: Accessibility (a11y), [Feature] Inserter, [Type] Bug, [a11y] Keyboard & Focus

#24306 [RNMobile] Unify HTML in SocialIcons
  packages/block-editor/src/store/selectors.js
  packages/blocks/src/api/parser.js
Labels: Mobile App Android/iOS, [Block] Social

#24428 React Native: Fix @-mentions UI to allow @ character in posts
  packages/react-native-aztec/ios/RNTAztecView/RCTAztecView.swift
  packages/react-native-editor/RELEASE-NOTES.txt
Labels: [Type] Bug

#23828 [RNMobile] Support percentage in columns
  packages/block-editor/src/components/block-variation-picker/index.native.js
  packages/block-editor/src/components/block-variation-picker/style.native.scss
  packages/block-editor/src/components/index.native.js
  packages/block-editor/src/components/inserter/menu-item.native.js
  packages/block-library/src/column/column-preview.native.js
  packages/block-library/src/column/edit.native.js
  packages/block-library/src/column/editor.native.scss
  packages/block-library/src/columns/edit.native.js
  packages/components/src/mobile/bottom-sheet/footer-message-cell.native.js
  packages/components/src/mobile/bottom-sheet/index.native.js
  packages/components/src/mobile/bottom-sheet/range-cell.native.js
  packages/components/src/mobile/bottom-sheet/styles.native.scss
  packages/components/src/mobile/link-settings/index.native.js
  packages/components/src/notice/list.native.js
Labels: Mobile App Android/iOS, [Block] Columns

#24271 Make the list of widgets excluded from the legacy widget block extensible via a filter
  lib/widgets.php
Labels: [Block] Legacy Widget, [Feature] Widgets, [Package] Edit Widgets

#24448 [RNMobile] Merge release 1.33.1 to master
  packages/react-native-aztec/ios/RNTAztecView/RCTAztecView.swift
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App Android/iOS

#24182 Load FSE php files only if experiment is enabled
  lib/load.php
  lib/template-loader.php
  lib/template-parts.php
  lib/templates.php
  lib/widgets.php
Labels: [Feature] Full Site Editing

#23897 Refactored PostTextEditor to use React Hook
  packages/editor/src/components/post-text-editor/index.js
  packages/editor/src/components/post-text-editor/test/index.js
Labels: [Type] Code Quality

#24429 Make the inserter behave as a popover
  packages/block-editor/src/components/inserter/quick-inserter.js
  packages/e2e-test-utils/src/inserter.js
  packages/e2e-tests/specs/editor/plugins/align-hook.test.js
  packages/e2e-tests/specs/editor/various/adding-blocks.test.js
  packages/e2e-tests/specs/editor/various/keyboard-navigable-blocks.test.js
  packages/edit-post/src/components/header/header-toolbar/index.js
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/layout/popover-wrapper.js
  packages/edit-post/src/components/layout/style.scss
Labels: Accessibility (a11y), Backport to WP Core, [Type] Bug

#23760 Movers: Add bigger visible focus rectangle.
  packages/block-editor/src/components/block-list/style.scss
  packages/block-editor/src/components/block-mover/style.scss
Labels: Accessibility (a11y), Backport to WP Core

#23761 Movers: Add bigger mobile touch targets.
  packages/block-editor/src/components/block-mover/style.scss
  packages/components/src/toolbar-group/style.scss
Labels: Accessibility (a11y), Mobile Web

#24459 [RNMobile] Correct using block attributes
  packages/block-editor/src/store/selectors.js
Labels: Mobile App Android/iOS

#24081 Fix retrying of post-processing of edited images
  lib/class-wp-rest-image-editor-controller.php
  packages/block-library/src/image/image-editor.js
Labels: [Block] Image, [Priority] High

#24090 Refactor embed block to single block with block variations
  packages/block-editor/src/components/block-types-list/index.js
  packages/block-editor/src/components/inserter/block-types-tab.js
  packages/block-editor/src/components/inserter/quick-inserter.js
  packages/block-editor/src/components/inserter/test/fixtures/index.js
  packages/block-editor/src/components/inserter/test/utils.js
  packages/block-editor/src/components/inserter/utils.js
  packages/block-editor/src/store/test/reducer.js
  packages/block-library/src/embed/block.json
  packages/block-library/src/embed/constants.js
  packages/block-library/src/embed/core-embeds.js
  packages/block-library/src/embed/deprecated.js
  packages/block-library/src/embed/edit.js
  packages/block-library/src/embed/embed-controls.js
  packages/block-library/src/embed/embed-placeholder.js
  packages/block-library/src/embed/index.js
  packages/block-library/src/embed/save.js
  packages/block-library/src/embed/settings.js
  packages/block-library/src/embed/style.scss
  packages/block-library/src/embed/test/__snapshots__/index.js.snap
  packages/block-library/src/embed/test/index.js
  packages/block-library/src/embed/transforms.js
  packages/block-library/src/embed/util.js
  packages/block-library/src/embed/variations.js
  packages/block-library/src/index.js
  packages/block-library/src/index.native.js
  packages/blocks/src/api/parser.js
  packages/blocks/src/api/serializer.js
  packages/e2e-tests/fixtures/blocks/core__embed.html
  packages/e2e-tests/fixtures/blocks/core__embed.json
  packages/e2e-tests/specs/editor/various/__snapshots__/embedding.test.js.snap
  packages/e2e-tests/specs/editor/various/embedding.test.js
  packages/editor/src/store/selectors.js
  packages/editor/src/store/test/selectors.js
  post-content.php
  test/integration/blocks-raw-handling.test.js
  test/integration/full-content/full-content.test.js
Labels: [Block] Embed, [Type] Task

#24325 Docs: Indicate custom-fields support is required for registering meta
  docs/designers-developers/developers/tutorials/metabox/meta-block-2-register-meta.md
  docs/designers-developers/developers/tutorials/sidebar-tutorial/plugin-sidebar-3-register-meta.md
Labels: [Type] Documentation

#23545 Documentation: Add block submission guidelines.
  docs/designers-developers/developers/tutorials/create-block/submitting-to-block-directory.md
Labels: [Feature] Block Directory, [Type] Documentation

#24467 [RNMobile] Merge 1.34.0 release to master
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App Android/iOS

#24450 Template Part: Move "title" to block toolbar
  packages/block-library/src/template-part/edit/index.js
  packages/block-library/src/template-part/editor.scss
  packages/e2e-tests/specs/experiments/multi-entity-editing.test.js
Labels: [Feature] Full Site Editing, [Package] Blocks, [Type] Enhancement

#24465 Add arrow navigation in Preview menu
  packages/block-editor/src/components/preview-options/index.js
  packages/block-editor/src/components/preview-options/style.scss
  packages/edit-post/src/components/device-preview/index.js
  packages/editor/src/components/post-preview-button/index.js
Labels: Accessibility (a11y), [Type] Bug

#24447 Block Supports: Add missing UTF-8 conversion
  lib/block-supports/index.php
  phpunit/class-block-supported-styles-test.php
Labels: [Priority] High, [Type] Bug

#24400 Register the block attributes server-side for blocks with support flags
  lib/block-supports/align.php
  lib/block-supports/colors.php
  lib/block-supports/index.php
  lib/block-supports/typography.php
Labels: Global Styles, [Feature] Block API, [Type] Code Quality

#23316 Make accessible toolbar stable and deprecate old usage
  docs/manifest.json
  packages/block-editor/src/components/block-mover/index.js
  packages/block-editor/src/components/block-settings-menu/index.js
  packages/block-editor/src/components/block-switcher/index.js
  packages/block-editor/src/components/navigable-toolbar/index.js
  packages/block-editor/src/components/rich-text/format-toolbar/index.js
  packages/block-library/src/classic/edit.js
  packages/block-library/src/heading/heading-level-dropdown.js
  packages/block-library/src/image/image-editor.js
  packages/block-library/src/table/edit.js
  packages/components/src/index.js
  packages/components/src/index.native.js
  packages/components/src/toolbar-button/README.md
  packages/components/src/toolbar-button/index.js
  packages/components/src/toolbar-button/stories/index.js
  packages/components/src/toolbar-group/README.md
  packages/components/src/toolbar-group/index.js
  packages/components/src/toolbar-group/toolbar-group-collapsed.js
  packages/components/src/toolbar-item/README.md
  packages/components/src/toolbar-item/index.js
  packages/components/src/toolbar/README.md
  packages/components/src/toolbar/index.js
  packages/components/src/toolbar/stories/index.js
  packages/components/src/toolbar/test/index.js
  packages/components/src/toolbar/toolbar-container.js
  packages/e2e-tests/specs/editor/various/is-typing.test.js
  packages/edit-post/src/components/header/header-toolbar/index.js
Labels: Accessibility (a11y), Needs Dev Note, [Status] In Progress, [Type] Enhancement, [a11y] Keyboard & Focus

#24439 Remove editor styles from front-facing stylesheets
  packages/base-styles/_mixins.scss
  packages/block-library/src/editor.scss
  packages/block-library/src/latest-posts/editor.scss
  packages/block-library/src/latest-posts/style.scss
  packages/block-library/src/style.scss
Labels: CSS Styling, [Feature] Themes

#24468 Fix: Media Text: Always show images on top on mobile.
  packages/block-library/src/media-text/style.scss
Labels: Needs Design Feedback, Needs Dev Note, [Type] Enhancement

#24470 Fix: Custom gradient picker unable to change predefined gradients with hex colors
  packages/components/src/custom-gradient-picker/serializer.js
  packages/components/src/custom-gradient-picker/test/serializer.js
Labels: [Type] Bug

#24424 Removes hardcoded body text color from some block patterns
  lib/patterns/heading-paragraph.php
  lib/patterns/text-three-columns-buttons.php
  lib/patterns/text-two-columns-with-images.php
  lib/patterns/text-two-columns.php
Labels: [Feature] Patterns, [Feature] Themes

#24490 Fix: Cover block: Impossible to reset the minimum height value
  packages/block-library/src/cover/edit.js
  packages/components/src/unit-control/index.js
Labels: [Type] Bug

#24266 Make nav components more atomic
  packages/components/src/navigation/index.js
  packages/components/src/navigation/item.js
  packages/components/src/navigation/menu-item.js
  packages/components/src/navigation/menu.js
  packages/components/src/navigation/stories/index.js
  packages/components/src/navigation/style.scss
Labels: [Feature] Navigation Component

#24491 Docs: Fix missing quote in Prettier config code sample
  packages/prettier-config/README.md
Labels: First-time Contributor, [Type] Documentation

#24500 Fix Template Part renaming error.
  packages/block-library/src/template-part/edit/name-panel.js
Labels: [Feature] Full Site Editing, [Type] Bug

#24478 Fix tiny editor preview when using Mobile or Tablet options with metaboxes enabled
  packages/block-editor/src/components/use-resize-canvas/index.js
Labels: CSS Styling, General Interface, [Type] Bug

#23867 Add store icon
  packages/icons/src/index.js
  packages/icons/src/library/store.js
Labels: Needs Accessibility Feedback, Needs Design Feedback

#24410 Recent Comments block: remove hardcoded color
  packages/block-library/src/latest-comments/style.scss
Labels: CSS Styling, Needs Design Feedback, [Block] Latest Comments, [Feature] Themes, [Package] Block library, [Type] Enhancement

#24511 Docs: fix links to block metadata docs
  docs/designers-developers/developers/tutorials/create-block/submitting-to-block-directory.md
Labels: [Type] Documentation

#24397 Prevent <a> tag from being focusable (via tabbing) when inside <Disabled> component.
  packages/components/src/disabled/index.js
Labels: [a11y] Keyboard & Focus

#24492 Fix: has-huge-font-size smaller than on editor when using default styling
  packages/block-editor/src/store/defaults.js
Labels: [Type] Bug

#24487 Fix: Post preview button only appears on small screens
  packages/block-editor/src/components/preview-options/style.scss
  packages/edit-post/src/components/header/style.scss
Labels: [Type] Bug

#24514 Fix canInsertBlockType selector returning true for blocks that don't allow inner blocks
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/selectors.js
Labels: [Feature] Drag and Drop, [Feature] Inserter, [Package] Block editor, [Type] Bug

#24481 Fill quick inserter results with available variations if limit is set and items are less.
  packages/block-editor/src/components/inserter/test/fixtures/index.js
  packages/block-editor/src/components/inserter/test/utils.js
  packages/block-editor/src/components/inserter/utils.js
Labels: [Feature] Block Variations, [Feature] Inserter, [Type] Bug

#24290 First stab at sidebars_widgets-based widget management
  gutenberg.php
  lib/class-experimental-wp-widget-blocks-manager.php
  lib/class-wp-rest-sidebars-controller.php
  lib/class-wp-rest-widget-areas-controller.php
  lib/class-wp-rest-widget-utils-controller.php
  lib/class-wp-widget-block.php
  lib/customizer.php
  lib/load.php
  lib/rest-api.php
  lib/widgets-page.php
  lib/widgets.php
  packages/block-library/src/legacy-widget/edit/dom-manager.js
  packages/block-library/src/legacy-widget/edit/handler.js
  packages/block-library/src/legacy-widget/edit/index.js
  packages/block-library/src/widget-area/edit/index.js
  packages/block-library/src/widget-area/edit/inner-blocks.js
  packages/core-data/src/entities.js
  packages/edit-widgets/src/components/customizer-edit-widgets-initializer/index.js
  packages/edit-widgets/src/components/layout/index.js
  packages/edit-widgets/src/components/save-button/index.js
  packages/edit-widgets/src/components/widget-areas-block-editor-content/index.js
  packages/edit-widgets/src/components/widget-areas-block-editor-provider/index.js
  packages/edit-widgets/src/index.js
  packages/edit-widgets/src/store/actions.js
  packages/edit-widgets/src/store/controls.js
  packages/edit-widgets/src/store/index.js
  packages/edit-widgets/src/store/reducer.js
  packages/edit-widgets/src/store/resolvers.js
  packages/edit-widgets/src/store/selectors.js
  packages/edit-widgets/src/store/transformers.js
  packages/edit-widgets/src/store/utils.js
  phpunit/class-rest-sidebars-controller-test.php
Labels: [Block] Legacy Widget, [Feature] Widgets, [Package] Edit Widgets

#24461 [RNMobile] Use multiple sliders in column parent
  packages/block-library/src/columns/edit.native.js
  packages/block-library/src/columns/editor.native.scss
  packages/components/src/mobile/bottom-sheet/range-cell.native.js
  packages/react-native-editor/CHANGELOG.md
Labels: Mobile App Android/iOS, [Block] Columns

#24414 [RNMobile] another approach to fix jumping toolbar
  packages/block-library/src/button/edit.native.js
  packages/components/src/mobile/keyboard-avoiding-view/index.ios.js
  packages/components/src/mobile/keyboard-avoiding-view/styles.native.scss
  packages/edit-post/src/components/layout/index.native.js
Labels: Mobile App Android/iOS

#24533 Fix incorrect aria description in List View
  packages/block-editor/src/components/block-navigation/block-contents.js
  packages/block-editor/src/components/block-navigation/block-select-button.js
  packages/block-editor/src/components/block-navigation/block-slot.js
  packages/block-editor/src/components/block-navigation/block.js
  packages/block-editor/src/components/block-navigation/branch.js
Labels: Backport to WP Core, [Feature] Block Navigation, [Type] Regression

#21289 Upgrade React version to 16.13.1
  lib/client-assets.php
  package-lock.json
  package.json
  packages/components/src/tooltip/test/index.js
  packages/components/src/unit-control/index.js
  packages/data/src/namespace-store/index.js
  packages/data/src/namespace-store/test/index.js
  packages/data/src/test/registry.js
  packages/e2e-test-utils/src/click-block-appender.js
  packages/e2e-test-utils/src/create-new-post.js
  packages/e2e-test-utils/src/find-sidebar-panel-with-title.js
  packages/e2e-tests/plugins/plugins-api/document-setting.js
  packages/e2e-tests/specs/editor/plugins/meta-attribute-block.test.js
  packages/e2e-tests/specs/editor/plugins/plugins-api.test.js
  packages/e2e-tests/specs/editor/plugins/templates.test.js
  packages/e2e-tests/specs/editor/plugins/wp-editor-meta-box.test.js
  packages/e2e-tests/specs/editor/various/adding-blocks.test.js
  packages/e2e-tests/specs/editor/various/autosave.test.js
  packages/e2e-tests/specs/editor/various/new-post.test.js
  packages/e2e-tests/specs/editor/various/nux.test.js
  packages/e2e-tests/specs/editor/various/preferences.test.js
  packages/e2e-tests/specs/editor/various/sidebar-permalink-panel.test.js
  packages/e2e-tests/specs/editor/various/sidebar.test.js
  packages/e2e-tests/specs/editor/various/undo.test.js
  packages/e2e-tests/specs/experiments/navigation.test.js
  packages/e2e-tests/specs/experiments/template-part.test.js
  packages/e2e-tests/specs/performance/post-editor.test.js
  packages/element/package.json
  phpunit/class-vendor-script-filename-test.php
Labels: Framework, Mobile App Android/iOS, [Package] Element

#24486 Server Styles - fix deduplication of style rules.
  lib/block-supports/index.php
  phpunit/class-block-supported-styles-test.php
Labels: [Type] Bug

#24499 i18n: make a string translatable inside large-header-button pattern
  lib/patterns/large-header-button.php
Labels: Internationalization (i18n)

#23847 Use blockLabel for BlockTitle component
  packages/block-editor/src/components/block-title/index.js
  packages/block-editor/src/components/block-title/test/index.js
Labels: Needs Design Feedback, [Feature] Full Site Editing, [Package] Block editor, [Type] Enhancement

#24083 Display children of inner block controllers in the block navigator
  docs/designers-developers/developers/data/data-core-block-editor.md
  packages/block-editor/src/components/block-navigation/index.js
  packages/block-editor/src/store/selectors.js
Labels: [Feature] Full Site Editing, [Type] Experimental

#24531 Add experimental font size attribute to Navigation block
  packages/block-library/src/navigation/block.json
  packages/block-library/src/navigation/edit.js
Labels: Global Styles, [Block] Navigation, [Type] Feature

#24427 Preview menu: Remove redundant "opens in a new tab" hidden text
  packages/editor/src/components/post-preview-button/index.js
Labels: Accessibility (a11y), First-time Contributor

#24540 Safari Bugfix: Caption jumps when hovering resize handles
  packages/components/src/resizable-box/style.scss
Labels: Browser Issues, Needs Design Feedback, [Type] Bug

#24088 [Mobile] Gallery - Media editing
  packages/block-library/src/gallery/gallery-image-style.native.scss
  packages/block-library/src/gallery/gallery-image.native.js
  packages/components/src/mobile/image/index.native.js
  packages/components/src/mobile/image/style.native.scss
  packages/components/src/mobile/media-edit/index.native.js
  packages/react-native-editor/CHANGELOG.md
Labels: Mobile App Android/iOS

#24466 Fixing duplicated wp-block classes in block-list
  packages/block-editor/src/components/block-list/block-wrapper.js
Labels: First-time Contributor, [Feature] Blocks, [Type] Bug

#24348 Refactor <TimePicker> to function component
  packages/components/src/date-time/stories/time.js
  packages/components/src/date-time/test/__snapshots__/time.js.snap
  packages/components/src/date-time/test/time.js
  packages/components/src/date-time/time.js
Labels: Storybook, [Package] Components, [Type] Code Quality

#24510 [RNMobile - iOS] Fix empty rich-text with no height on RTL layout
  packages/react-native-aztec/ios/RNTAztecView/RCTAztecView.swift
  packages/react-native-editor/CHANGELOG.md
Labels: Mobile App Android/iOS

#23782 [RNMobile] Navigation in bottom-sheet
  docs/manifest.json
  package-lock.json
  packages/block-editor/src/components/block-settings/container.native.js
  packages/block-editor/src/components/block-settings/index.native.js
  packages/block-editor/src/components/colors-gradients/panel-color-gradient-settings.native.js
  packages/block-editor/src/components/index.native.js
  packages/block-library/src/cover/edit.native.js
  packages/components/src/color-palette/index.native.js
  packages/components/src/color-picker/index.native.js
  packages/components/src/custom-gradient-picker/index.native.js
  packages/components/src/index.native.js
  packages/components/src/mobile/bottom-sheet/bottom-sheet-context.native.js
  packages/components/src/mobile/bottom-sheet/bottom-sheet-navigation/README.md
  packages/components/src/mobile/bottom-sheet/bottom-sheet-navigation/bottom-sheet-navigation-context.native.js
  packages/components/src/mobile/bottom-sheet/bottom-sheet-navigation/navigation-container.native.js
  packages/components/src/mobile/bottom-sheet/bottom-sheet-navigation/navigation-screen.native.js
  packages/components/src/mobile/bottom-sheet/bottom-sheet-navigation/styles.native.scss
  packages/components/src/mobile/bottom-sheet/index.native.js
  packages/components/src/mobile/bottom-sheet/range-cell.native.js
  packages/components/src/mobile/bottom-sheet/range-cell.native.scss
  packages/components/src/mobile/color-settings/gradient-picker-screen.native.js
  packages/components/src/mobile/color-settings/index.native.js
  packages/components/src/mobile/color-settings/palette.screen.native.js
  packages/components/src/mobile/color-settings/picker-screen.native.js
  packages/components/src/mobile/color-settings/utils.native.js
  packages/react-native-bridge/android/build.gradle
  packages/react-native-bridge/android/src/main/java/org/wordpress/mobile/WPAndroidGlue/WPAndroidGlueCode.java
  packages/react-native-editor/android/app/build.gradle
  packages/react-native-editor/android/app/src/main/java/com/gutenberg/MainApplication.java
  packages/react-native-editor/android/settings.gradle
  packages/react-native-editor/babel.config.js
  packages/react-native-editor/index.js
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/ios/gutenberg.xcodeproj/project.pbxproj
  packages/react-native-editor/package.json
  test/native/__mocks__/fileMock.js
  test/native/jest.config.js
  test/native/setup.js
Labels: Mobile App Android/iOS

#24232 InnerBlocks: introduce prop to specify render callback for each block.
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/index.js
  packages/block-editor/src/components/block-list/index.native.js
  packages/block-editor/src/components/inner-blocks/index.js
  packages/block-editor/src/components/inner-blocks/index.native.js
  packages/block-editor/src/components/use-block-drop-zone/index.js
  packages/block-editor/src/components/use-block-drop-zone/test/index.js
  packages/blocks/src/api/serializer.js
  packages/blocks/src/block-content-provider/index.js
Labels: Needs Technical Feedback, [Feature] Nested / Inner Blocks, [Type] Experimental

#21068 Prevent an error in `<ServerSideRender>` by allowing `POST` request
  packages/server-side-render/CHANGELOG.md
  packages/server-side-render/README.md
  packages/server-side-render/src/server-side-render.js
Labels: Good First Review, [Package] Server Side Render

#24586 Upgrade eslint-plugin-jsdoc to latest version
  package-lock.json
  packages/block-editor/src/components/link-control/index.js
  packages/element/src/raw-html.js
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/icons/src/icon/index.js
  packages/is-shallow-equal/.eslintrc.json
  packages/prettier-config/lib/index.js
  packages/primitives/src/svg/index.js
  packages/priority-queue/src/index.js
Labels: [Package] ESLint plugin

#24436 Remove` --wp-admin-theme-color` reference from front-facing styles
  packages/block-library/src/calendar/style.scss
Labels: CSS Styling, [Block] Calendar, [Feature] Themes, [Package] Block library, [Type] Bug

#24483 Implement the custom classname support hook in the server
  lib/block-supports/custom-classname.php
  lib/block-supports/index.php
  lib/load.php
  lib/utils.php
  packages/block-library/src/archives/block.json
  packages/block-library/src/archives/index.php
  packages/block-library/src/calendar/block.json
  packages/block-library/src/calendar/index.php
  packages/block-library/src/categories/block.json
  packages/block-library/src/categories/index.php
  packages/block-library/src/latest-comments/block.json
  packages/block-library/src/latest-comments/index.php
  packages/block-library/src/latest-posts/block.json
  packages/block-library/src/latest-posts/index.php
  packages/block-library/src/navigation/block.json
  packages/block-library/src/navigation/index.php
  packages/block-library/src/rss/block.json
  packages/block-library/src/rss/index.php
  packages/block-library/src/search/block.json
  packages/block-library/src/search/index.php
  packages/block-library/src/tag-cloud/block.json
  packages/block-library/src/tag-cloud/index.php
  phpunit/class-block-supported-styles-test.php
Labels: Needs Dev Note, [Feature] Block API, [Type] New API

#24293 Consider any user changes to global styles as publishable
  lib/global-styles.php
Labels: Global Styles

#24554 Fix inserter expecting experimental settings to exist in the context
  packages/block-editor/README.md
  packages/block-editor/src/store/defaults.js
Labels: [Feature] Inserter, [Package] Block editor, [Type] Bug

#24546 Add generated block classname to dynamic blocks
  lib/block-supports/generated-classname.php
  lib/block-supports/index.php
  lib/load.php
  packages/block-library/src/archives/index.php
  packages/block-library/src/calendar/index.php
  packages/block-library/src/categories/index.php
  packages/block-library/src/latest-comments/index.php
  packages/block-library/src/latest-posts/index.php
  packages/block-library/src/navigation-link/index.php
  packages/block-library/src/navigation/index.php
  packages/block-library/src/post-author/index.php
  packages/block-library/src/post-comments-count/index.php
  packages/block-library/src/post-comments-form/index.php
  packages/block-library/src/post-comments/index.php
  packages/block-library/src/post-date/index.php
  packages/block-library/src/post-excerpt/index.php
  packages/block-library/src/post-tags/index.php
  packages/block-library/src/post-title/index.php
  packages/block-library/src/rss/index.php
  packages/block-library/src/search/index.php
  packages/block-library/src/site-logo/index.php
  packages/block-library/src/site-tagline/index.php
  packages/block-library/src/site-title/index.php
  packages/block-library/src/tag-cloud/index.php
  packages/block-library/src/template-part/index.php
  phpunit/class-block-supported-styles-test.php
Labels: Needs Dev Note, [Feature] Block API, [Type] New API

#24579 [RNMobile] Correct removing columns block
  packages/block-library/src/columns/edit.native.js
Labels: [Block] Columns

#24537 Hide Preview menu on small viewports and fix regression for FSE preview
  packages/block-editor/src/components/preview-options/index.js
  packages/block-editor/src/components/preview-options/style.scss
  packages/edit-post/src/components/header/style.scss
Labels: CSS Styling, Needs Accessibility Feedback, [Type] Bug, [Type] Regression

#24602 Content is in the `content` attr for the classic block (#24569)
  packages/block-library/src/missing/edit.native.js
Labels: Mobile App Android/iOS

#24590 Allow local Prettier configuration to take precedence in recommended ESLint configuration
  package-lock.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/configs/recommended.js
  packages/eslint-plugin/package.json
Labels: [Package] ESLint plugin, [Type] Bug

#24522 Use css-in-js for styling in navigation component
  packages/components/src/navigation/index.js
  packages/components/src/navigation/menu-item.js
  packages/components/src/navigation/menu.js
  packages/components/src/navigation/style.scss
  packages/components/src/navigation/styles/navigation-styles.js
  packages/components/src/style.scss
Labels: [Feature] Navigation Component

#24528 Add nav badges
  packages/components/src/navigation/menu-item.js
  packages/components/src/navigation/stories/index.js
  packages/components/src/navigation/styles/navigation-styles.js
Labels: [Feature] Navigation Component

#24609 Fix missing selected block highlighting in list view
  packages/block-editor/src/components/block-navigation/style.scss
  packages/edit-navigation/src/components/navigation-editor/style.scss
Labels: Backport to WP Core, [Feature] List View, [Feature] Navigation Screen, [Type] Regression

#24619 Change font size label from Preset size
  packages/components/src/font-size-picker/index.js
Labels: Needs Copy Review, [Type] Copy

#24618 Move DOM utility functions from @wordpress/blocks to @wordpress/dom
  package-lock.json
  packages/blocks/README.md
  packages/blocks/package.json
  packages/blocks/src/api/index.js
  packages/blocks/src/api/raw-handling/figure-content-reducer.js
  packages/blocks/src/api/raw-handling/index.js
  packages/blocks/src/api/raw-handling/index.native.js
  packages/blocks/src/api/raw-handling/is-inline-content.js
  packages/blocks/src/api/raw-handling/normalise-blocks.js
  packages/blocks/src/api/raw-handling/paste-handler.js
  packages/blocks/src/api/raw-handling/test/utils.js
  packages/blocks/src/api/raw-handling/utils.js
  packages/dom/README.md
  packages/dom/src/dom.js
  packages/dom/src/index.js
  packages/dom/src/phrasing-content.js
  packages/dom/src/test/dom.js
Labels: [Package] DOM

#24599 Fix specificity for buttons with outline style and background colors
  packages/block-library/src/button/style.scss
Labels: Backport to WP Core, CSS Styling, [Block] Buttons, [Type] Bug

#24503 Navigation screen: Add opt-in Navigation block rendering
  lib/class-wp-rest-menu-items-controller.php
  lib/class-wp-widget-block.php
  lib/compat.php
  lib/load.php
  lib/navigation-page.php
  lib/navigation.php
  packages/edit-navigation/src/index.js
  packages/edit-navigation/src/store/actions.js
  packages/edit-navigation/src/store/resolvers.js
  phpunit/class-rest-nav-menu-items-controller-test.php
Labels: [Feature] Navigation Screen

#24548 Add option for adding link in featured image [ Latest Posts block ]
  packages/block-library/src/latest-posts/block.json
  packages/block-library/src/latest-posts/edit.js
  packages/block-library/src/latest-posts/index.php
  packages/block-library/src/latest-posts/style.scss
  packages/e2e-tests/fixtures/blocks/core__latest-posts.json
  packages/e2e-tests/fixtures/blocks/core__latest-posts__displayPostDate.json
Labels: Needs Technical Feedback, [Block] Latest Posts, [Type] Enhancement

#24553 Improve native editor installing instructions
  packages/react-native-editor/README.md
Labels: Mobile App Android/iOS, [Type] Documentation

#24628 Grammar: add comma to (1A)
  docs/designers-developers/developers/tutorials/create-block/wp-plugin.md
Labels: [Type] Documentation

#24633 Update Template Part Block Placeholder Button Styles
  packages/block-library/src/template-part/edit/placeholder/index.js
Labels: [Feature] Full Site Editing

#24641 Navigation: Fix invalid textarea markup
  lib/navigation.php
Labels: [Feature] Navigation Screen, [Type] Code Quality

#24629 Fix: Crash after undo with top toolbar on
  packages/block-editor/src/components/block-settings-menu-controls/index.js
Labels: [Type] Bug

#24627 Fix: Double border on metabox panel
  packages/edit-post/src/components/meta-boxes/meta-boxes-area/style.scss
Labels: [Feature] Meta Boxes, [Type] Bug

#24471 Fix: Image Block: Alt and caption written during image upload are discarded
  packages/block-library/src/image/edit.js
Labels: [Type] Bug

#24600 Fix Pullquote text color after unsetting main color
  packages/block-library/src/pullquote/edit.js
Labels: Needs Design Feedback, [Block] Pullquote, [Type] Bug

#24655 Fix styling of image alignment controls in Latest posts block
  packages/block-library/src/latest-posts/edit.js
  packages/block-library/src/latest-posts/style.scss
Labels: CSS Styling, [Block] Latest Posts

#24603 Adds icons and descriptions to Post blocks.
  packages/block-library/src/post-comments-count/index.js
  packages/block-library/src/post-comments-form/index.js
  packages/block-library/src/post-comments/index.js
  packages/block-library/src/post-featured-image/index.js
  packages/icons/src/index.js
  packages/icons/src/library/post-comments-count.js
  packages/icons/src/library/post-comments-form.js
  packages/icons/src/library/post-comments.js
  packages/icons/src/library/post-featured-image.js
Labels: [Block] Post Comments, [Block] Post Comments Count, [Block] Post Comments Form, [Block] Post Featured Image, [Package] Icons

#24567 Remove references to `$default-font` from front-facing styles
  packages/block-library/src/calendar/style.scss
  packages/block-library/src/navigation-link/style.scss
Labels: CSS Styling, [Feature] Themes, [Package] Block library, [Type] Bug

#24570 Add custom nav link props to Navigation component
  packages/components/src/navigation/menu-item.js
  packages/components/src/navigation/stories/index.js
Labels: [Feature] Navigation Component

#24462 Remove hardcoded colors from nav block
  packages/block-library/src/navigation/style.scss
Labels: CSS Styling, [Block] Navigation, [Feature] Themes, [Package] Block library, [Type] Enhancement

#24636 Add ToggleControl at related components section
  packages/components/src/form-toggle/README.md
Labels: First-time Contributor, [Type] Documentation

#24452 Fix the unicode character used to represent the macOS Control key
  packages/keycodes/src/index.js
  packages/keycodes/src/test/index.js
Labels: Accessibility (a11y), [Type] Bug

#24496 Only update state if we have a valid reference
  packages/block-editor/src/components/block-toolbar/utils.js
Labels: [Type] Code Quality

#24650 Inline docs: `$block_type` is an object, not an array
  lib/block-supports/align.php
  lib/block-supports/colors.php
  lib/block-supports/custom-classname.php
  lib/block-supports/generated-classname.php
  lib/block-supports/typography.php
Labels: [Type] Documentation

#24516 Fix regression bug for category select in QueryControls component
  packages/components/src/query-controls/index.js
Labels: Backport to WP Core, [Type] Bug

#24479 Support drag-and-drop for submenus of navigation blocks
  packages/block-editor/src/components/block-draggable/style.scss
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/style.scss
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation/editor.scss
Labels: Needs Design Feedback, [Block] Navigation

#24659 [Feature] Alert when trying to leave the Site Editor with unsaved changes
  packages/edit-post/src/components/layout/index.js
  packages/edit-site/src/components/editor/index.js
  packages/editor/CHANGELOG.md
  packages/editor/src/components/unsaved-changes-warning/index.js
Labels: [Feature] Full Site Editing, [Type] Enhancement

#24695 Update readme.md
  docs/designers-developers/developers/tutorials/create-block/readme.md
Labels: [Type] Documentation

#24498 Template Part block - add border states in editor.
  packages/block-library/src/template-part/editor.scss
Labels: Needs Design Feedback, [Feature] Full Site Editing

#24649 Refactor block drop event handlers into a single hook to support drag and drop in List View
  packages/block-editor/src/components/use-block-drop-zone/index.js
  packages/block-editor/src/components/use-on-block-drop/index.js
  packages/block-editor/src/components/use-on-block-drop/test/index.js
Labels: [Feature] Drag and Drop, [Type] Task

#24707 Don't use an offset when dragging using draggable chip
  packages/block-editor/src/components/block-draggable/style.scss
  packages/components/src/draggable/index.js
Labels: [Feature] Drag and Drop, [Type] Bug

#19498 Core Data: Implement `_fields` data reuse for entities
  docs/designers-developers/developers/data/data-core.md
  packages/core-data/README.md
  packages/core-data/src/queried-data/get-query-parts.js
  packages/core-data/src/queried-data/reducer.js
  packages/core-data/src/queried-data/selectors.js
  packages/core-data/src/queried-data/test/get-query-parts.js
  packages/core-data/src/queried-data/test/reducer.js
  packages/core-data/src/queried-data/test/selectors.js
  packages/core-data/src/resolvers.js
  packages/core-data/src/selectors.js
  packages/core-data/src/test/reducer.js
  packages/core-data/src/test/selectors.js
  packages/core-data/src/utils/conservative-map-item.js
  packages/core-data/src/utils/get-normalized-comma-separable.js
  packages/core-data/src/utils/index.js
  packages/core-data/src/utils/test/conservative-map-item.js
  packages/core-data/src/utils/test/get-normalized-comma-separable.js
Labels: Needs Dev Note, REST API Interaction, [Package] Core data, [Type] Performance

#24756 Update browserlist dependency
  package-lock.json
  package.json
Labels: Automated Testing

#24547 Block Variations: Center-align the variation buttons
  packages/block-editor/src/components/block-variation-picker/style.scss
Labels: CSS Styling, [Feature] Block Variations, [Type] Bug

#24755 Add picture keyword in Image block
  packages/block-library/src/image/index.js
Labels: [Block] Image, [Type] Enhancement

#24669 Add block inspector to nav screen
  package-lock.json
  packages/edit-navigation/package.json
  packages/edit-navigation/src/components/navigation-editor/block-editor-area.js
  packages/edit-navigation/src/components/navigation-editor/style.scss
Labels: Needs Design Feedback, [Feature] Navigation Screen

#24648 make sure the template-part exists before using it
  packages/block-library/src/template-part/index.php
Labels: [Feature] Full Site Editing, [Type] Bug

#22421 [RNMobile] Update Slider to reflect changes immediately
  packages/components/src/mobile/bottom-sheet/range-cell.native.js
  packages/react-native-editor/CHANGELOG.md
Labels: Mobile App Android/iOS

#24719 Unify UnsavedChangesWarning's isDirty check
  packages/edit-post/src/components/layout/index.js
  packages/edit-site/src/components/editor/index.js
  packages/editor/CHANGELOG.md
  packages/editor/src/components/unsaved-changes-warning/index.js
Labels: [Type] Code Quality

#24717 Correct BoxControl values in readme examples
  packages/components/src/box-control/README.md
Labels: [Type] Documentation

#24686 Fix: Warning on text color formatter
  packages/format-library/src/text-color/index.js
  packages/format-library/src/text-color/inline.js
Labels: [Type] Bug

#24697 Inserter: Update the search form placeholder text when changing tabs
  packages/block-editor/src/components/inserter/menu.js
  packages/block-editor/src/components/inserter/search-form.js
  packages/block-editor/src/components/inserter/tabs.js
Labels: [Feature] Inserter

#22600 Adds suggestions for categories and formats to LinkControl
  lib/class-wp-rest-post-format-search-handler.php
  lib/class-wp-rest-term-search-handler.php
  lib/load.php
  lib/rest-api.php
  packages/edit-navigation/src/index.js
  packages/editor/src/components/provider/index.js
  phpunit/class-wp-rest-post-format-search-handler-test.php
  phpunit/class-wp-rest-term-search-handler-test.php
Labels: Needs Design Feedback, REST API Interaction, [Block] Navigation, [Feature] Link Editing

#21693 Inserting a tag with Apostrophe throws an error
  packages/e2e-tests/specs/editor/various/taxonomies.test.js
  packages/editor/src/components/post-taxonomies/flat-term-selector.js
Labels: [Feature] Document Settings, [Type] Bug
