Repository WordPress/gutenberg, pull requests merged in 2020-07, with the labels that each got.

#23577 Remove DropZone position argument from documentation to reflect removal in WP5.4
  packages/components/src/drop-zone/README.md
Labels: [Feature] Drag and Drop, [Package] Components, [Type] Documentation

#23546 Add option to keep caret inside block in edit mode
  packages/block-editor/README.md
  packages/block-editor/src/components/writing-flow/index.js
  packages/block-editor/src/store/defaults.js
  packages/edit-post/src/components/options-modal/index.js
  packages/edit-post/src/components/options-modal/test/__snapshots__/index.js.snap
  packages/edit-post/src/editor.js
  packages/editor/src/components/provider/index.js
Labels: Accessibility (a11y), [Feature] Writing Flow, [a11y] Keyboard & Focus

#23418 Image tools: Polish zoom slider
  packages/block-library/src/image/editor.scss
  packages/block-library/src/image/image-editor.js
Labels: [Type] Enhancement

#23584 Hide block list appender in a reusable block if is not editing
  packages/block-library/src/block/editor.scss
Labels: [Feature] Reusable Blocks, [Type] Bug

#23602 Sync Block Context changes from core to compat to avoid a PHP Warning
  lib/compat.php
Labels: Backwards Compatibility, [Feature] Block API

#23364 Add block variations to the slash inserter
  packages/block-editor/src/autocompleters/block.js
  packages/block-editor/src/autocompleters/test/block.js
  packages/block-editor/src/components/block-types-list/index.js
  packages/block-editor/src/components/inserter/utils.js
Labels: General Interface, [Type] Enhancement

#23528 Block Directory: Update endpoints to remove `__experimental` namespace
  lib/class-wp-rest-block-directory-controller.php
  lib/class-wp-rest-plugins-controller.php
  package-lock.json
  packages/block-directory/package.json
  packages/block-directory/src/store/actions.js
  packages/block-directory/src/store/controls.js
  packages/block-directory/src/store/resolvers.js
  packages/block-directory/src/store/test/actions.js
  packages/e2e-tests/specs/editor/plugins/block-directory-add.test.js
  phpunit/class-wp-rest-block-directory-controller-test.php
  phpunit/class-wp-rest-plugins-controller-test.php
Labels: [Feature] Block Directory

#23588 Tests: Run e2e tests only as an admin
  .github/workflows/end2end-test.yml
Labels: Automated Testing

#23456 [Mobile] Media-Text: Removed the block type limitation when adding blocks
  packages/block-library/src/media-text/edit.native.js
Labels: Mobile App Android/iOS

#23432 Fix Cropper setState warning
  packages/block-library/src/image/image-editor.js
Labels: [Block] Image

#23590 Fix typos in theme support documentation
  docs/designers-developers/developers/themes/theme-support.md
Labels: [Type] Documentation

#23592 Unsupported block editor is on all mobile builds
  packages/block-library/src/missing/edit.native.js
  packages/components/src/mobile/site-capabilities/index.js
  packages/react-native-bridge/android/src/main/java/org/wordpress/mobile/WPAndroidGlue/WPAndroidGlueCode.java
  packages/react-native-editor/RELEASE-NOTES.txt
Labels: Mobile App Android/iOS

#21063 Block editor: use vanilla JS Array.prototype.includes instead of Lodash
  packages/block-editor/src/components/inserter/menu.js
  packages/block-editor/src/components/observe-typing/index.js
  packages/block-editor/src/hooks/align.js
  packages/block-editor/src/store/actions.js
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/utils/transform-styles/transforms/wrap.js
Labels: [Package] Block editor, [Type] Code Quality

#23631 [RNMobile] Activate Unsupported block editor on demo app
  packages/react-native-editor/android/app/src/main/java/com/gutenberg/MainActivity.java
  packages/react-native-editor/ios/gutenberg/GutenbergViewController.swift
Labels: Mobile App Android/iOS

#23297 Update navigation placeholder label
  packages/block-library/src/navigation/editor.scss
  packages/block-library/src/navigation/placeholder.js
  packages/block-library/src/navigation/style.scss
  packages/e2e-tests/specs/experiments/navigation.test.js
Labels: Accessibility (a11y), Needs Accessibility Feedback, Needs Design Feedback, [Block] Navigation, [a11y] Labelling

#23416 Stabilize __experimentalMoverDirection InnerBlocks prop and rename to orientation
  packages/block-editor/src/components/block-list/block-popover.js
  packages/block-editor/src/components/block-list/block-selection-button.js
  packages/block-editor/src/components/block-list/index.js
  packages/block-editor/src/components/block-list/index.native.js
  packages/block-editor/src/components/block-mover/button.js
  packages/block-editor/src/components/block-toolbar/index.js
  packages/block-editor/src/components/inner-blocks/index.js
  packages/block-editor/src/components/inner-blocks/index.native.js
  packages/block-editor/src/components/inner-blocks/use-nested-settings-update.js
  packages/block-editor/src/components/use-block-drop-zone/index.js
  packages/block-library/src/buttons/edit.js
  packages/block-library/src/buttons/edit.native.js
  packages/block-library/src/columns/edit.js
  packages/block-library/src/columns/edit.native.js
  packages/block-library/src/navigation/edit.js
  packages/block-library/src/social-links/edit.js
Labels: [Type] New API

#23548 Revert "Remove the style CSS class when the default style variation is chosen"
  packages/block-editor/src/components/block-styles/index.js
Labels: [Feature] Style Variations, [Type] Regression

#23360 fix: [#23258] Nav text size is no longer overwritten
  packages/block-library/src/navigation/style.scss
Labels: [Block] Navigation, [Type] Bug

#23634 Remove unused getBlockIndex selector from useBlockDropZone hook
  packages/block-editor/src/components/use-block-drop-zone/index.js
Labels: [Feature] Drag and Drop, [Type] Code Quality

#23640 Fix horizontal Block Mover Layout
  packages/block-editor/src/components/block-mover/index.js
Labels: [Feature] Blocks, [Type] Regression

#23578 Polish sidebar controls
  packages/base-styles/_mixins.scss
  packages/components/src/button/style.scss
  packages/components/src/checkbox-control/style.scss
  packages/components/src/form-toggle/style.scss
  packages/components/src/panel/style.scss
  packages/edit-post/src/components/layout/style.scss
  packages/edit-post/src/components/sidebar/post-schedule/index.js
  packages/edit-post/src/components/sidebar/post-schedule/style.scss
  packages/edit-post/src/components/sidebar/post-visibility/index.js
  packages/edit-post/src/components/sidebar/post-visibility/style.scss
  packages/edit-post/src/components/sidebar/settings-header/style.scss
  packages/editor/src/components/post-trash/index.js
  packages/editor/src/components/post-trash/style.scss
Labels: [Type] Enhancement

#23586 Fix clicking Gallery items buttons on Safari
  packages/block-library/src/gallery/gallery-image.js
Labels: Browser Issues, [Block] Gallery, [Type] Bug

#23565 Image block: allow uploading external image if image host allows it
  packages/block-library/src/image/edit.js
  packages/block-library/src/image/image.js
Labels: [Block] Image, [Type] Enhancement

#23609 Polish drag chip
  packages/block-editor/src/components/block-draggable/draggable-chip.js
  packages/block-editor/src/components/block-draggable/style.scss
  packages/block-editor/src/components/block-switcher/index.js
  packages/block-editor/src/components/block-switcher/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/multi-selection-inspector/index.js
  packages/icons/src/index.js
  packages/icons/src/library/stack.js
Labels: [Type] Enhancement

#23419 Adds back removed props and behavior back to Query Controls
  packages/components/src/query-controls/README.md
  packages/components/src/query-controls/index.js
Labels: Backwards Compatibility, [Feature] UI Components

#23622 Rich text: fix soft line break in caption on enter
  packages/block-editor/src/components/rich-text/index.js
  packages/e2e-tests/specs/editor/blocks/image.test.js
Labels: [Feature] Rich Text, [Package] Block editor, [Type] Regression

#23625 Block Directory: Fix double border in block list
  packages/block-directory/src/components/downloadable-block-list-item/style.scss
Labels: [Feature] Block Directory

#23558 Add modern color scheme.
  packages/base-styles/_mixins.scss
Labels: [Type] Enhancement

#23286 Docs: Add documentation for setting up Prettier for markdown
  docs/contributors/document.md
  docs/contributors/getting-started.md
Labels: [Type] Documentation

#23623 Block Library: Add template part block keyword.
  packages/block-library/src/template-part/index.js
Labels: [Feature] Full Site Editing

#23650 Update wp-env Ubuntu docs
  docs/contributors/env-ubuntu.md
Labels: [Package] Env, [Type] Documentation

#23641 Add docs for InnerBlocks orientation prop
  docs/designers-developers/developers/tutorials/block-tutorial/nested-blocks-inner-blocks.md
  packages/block-editor/src/components/inner-blocks/README.md
Labels: [Feature] Nested / Inner Blocks, [Type] Documentation

#23547 Classic block: Add height: auto to content wrapper
  packages/block-library/src/classic/editor.scss
Labels: [Block] Classic, [Type] Bug

#23544 Classic block: Add scroll to last edit position
  packages/block-library/src/classic/edit.js
Labels: [Block] Classic, [Type] Bug

#23624 Block Directory: Remove custom permission check in favor of `canUser`
  packages/block-directory/src/components/downloadable-blocks-panel/index.js
  packages/block-directory/src/store/actions.js
  packages/block-directory/src/store/reducer.js
  packages/block-directory/src/store/resolvers.js
  packages/block-directory/src/store/selectors.js
  packages/block-directory/src/store/test/reducer.js
  packages/e2e-tests/specs/editor/plugins/block-directory-add.test.js
Labels: [Feature] Block Directory

#22656 Navigation: Allow Search block to be added alongside links
  lib/class-wp-rest-menu-items-controller.php
  lib/compat.php
  packages/block-library/src/navigation/edit.js
  packages/e2e-tests/specs/experiments/navigation.test.js
  packages/edit-navigation/src/store/actions.js
  packages/edit-navigation/src/store/resolvers.js
  phpunit/class-rest-nav-menu-items-controller-test.php
Labels: [Block] Navigation, [Feature] Navigation Screen, [Feature] REST API Interaction

#21075 Try extracting Navigation Link rendering from the Navigation Block
  lib/blocks.php
  packages/block-library/src/navigation-link/block.json
  packages/block-library/src/navigation-link/index.php
  packages/block-library/src/navigation-link/style.scss
  packages/block-library/src/navigation/block.json
  packages/block-library/src/navigation/index.php
  packages/block-library/src/navigation/style.scss
  packages/block-library/src/style.scss
Labels: [Block] Navigation, [Status] In Progress, [Type] Code Quality, [Type] Task

#23659 Image editing: add original aspect to dropdown
  packages/block-library/src/image/image-editor.js
Labels: [Block] Image

#23672 Fix empty block list appender visibility on aligned blocks
  packages/block-editor/src/components/block-list/style.scss
Labels: [Block] Media & Text, [Type] Regression

#23638 Fix invisible drop target indicator caused by is-drop-target class being applied to dragged block
  packages/block-editor/src/components/use-block-drop-zone/index.js
  packages/block-editor/src/components/use-block-drop-zone/test/index.js
Labels: [Feature] Drag and Drop, [Type] Bug

#23296 Add reusable block tab to inserter.
  packages/block-editor/src/components/inserter/block-types-tab.js
  packages/block-editor/src/components/inserter/menu.js
  packages/block-editor/src/components/inserter/reusable-blocks-tab.js
  packages/block-editor/src/components/inserter/style.scss
  packages/block-editor/src/components/inserter/tabs.js
  packages/block-editor/src/components/inserter/test/block-types-tab.js
  packages/block-editor/src/components/inserter/test/reusable-blocks-tab.js
  packages/e2e-test-utils/README.md
  packages/e2e-test-utils/src/index.js
  packages/e2e-test-utils/src/inserter.js
  packages/e2e-test-utils/src/posts.js
  packages/e2e-tests/config/setup-test-framework.js
  packages/e2e-tests/specs/editor/various/reusable-blocks.test.js
  packages/e2e-tests/specs/experiments/multi-entity-editing.test.js
  packages/e2e-tests/specs/experiments/multi-entity-saving.test.js
  packages/e2e-tests/specs/experiments/template-part.test.js
Labels: Needs Technical Feedback, [Feature] Inserter, [Feature] Reusable Blocks, [Type] Enhancement

#23562 Add pullquote tranformations
  packages/block-library/src/list/transforms.js
  packages/block-library/src/pullquote/index.js
  packages/block-library/src/pullquote/transforms.js
  packages/e2e-tests/specs/editor/various/block-switcher.test.js
Labels: [Block] Pullquote, [Feature] Block Conversion

#23677 Image editing: move zoom control to toolbar dropdown
  packages/block-library/src/image/editor.scss
  packages/block-library/src/image/image-editor.js
  packages/components/src/dropdown/index.js
Labels: [Block] Image

#23439 Block Directory: Throw error if we have an issue registering blocks.
  packages/block-directory/src/components/downloadable-block-header/index.js
  packages/block-directory/src/components/downloadable-block-header/test/index.js
  packages/block-directory/src/components/downloadable-block-list-item/index.js
  packages/block-directory/src/components/downloadable-block-list-item/test/__snapshots__/index.js.snap
  packages/block-directory/src/components/downloadable-block-list-item/test/index.js
  packages/block-directory/src/components/downloadable-block-notice/index.js
  packages/block-directory/src/components/downloadable-block-notice/test/index.js
  packages/block-directory/src/store/actions.js
  packages/block-directory/src/store/reducer.js
  packages/block-directory/src/store/selectors.js
  packages/block-directory/src/store/test/actions.js
  packages/block-directory/src/store/test/reducer.js
  packages/block-directory/src/store/test/selectors.js
Labels: [Feature] Block Directory, [Type] Bug

#23655 Add .markdownlint.json config extending scripts config
  .markdownlint.json
Labels: Automated Testing, [Type] Code Quality, [Type] Documentation

#23633 Annotations: use optional chaining and nullish coalescing instead of Lodash.get.
  packages/annotations/src/store/reducer.js
  packages/annotations/src/store/selectors.js
Labels: Good First Review, [Feature] Annotations, [Type] Code Quality

#23654 Docs: Update Create a Block including block.json details
  docs/designers-developers/developers/tutorials/create-block/block-anatomy.md
  docs/designers-developers/developers/tutorials/create-block/block-attributes.md
  docs/designers-developers/developers/tutorials/create-block/devenv.md
  docs/designers-developers/developers/tutorials/create-block/finishing.md
  docs/designers-developers/developers/tutorials/create-block/readme.md
  docs/designers-developers/developers/tutorials/create-block/wp-plugin.md
  package-lock.json
Labels: [Type] Documentation

#23616 [RNMobile] Correct Buttons block width
  packages/react-native-aztec/src/AztecView.js
Labels: Mobile App Android/iOS, [Type] Bug

#22356 Fix editor colors for themes not loading color palettes
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/hooks/color.js
Labels: Needs Dev Note, [Feature] Themes, [Type] Bug

#23608 Clean the patterns list to include in core
  lib/client-assets.php
  lib/patterns/cover-abc.php
  lib/patterns/features-services.php
  lib/patterns/hero-right-column.php
  lib/patterns/hero-two-columns.php
  lib/patterns/its-time.php
  lib/patterns/large-header-paragraph.php
  lib/patterns/large-header.php
  lib/patterns/numbered-features.php
  lib/patterns/quote.php
  lib/patterns/testimonials.php
  lib/patterns/text-three-columns-buttons.php
  lib/patterns/text-two-columns-with-images.php
  lib/patterns/text-two-columns.php
  lib/patterns/three-buttons.php
  lib/patterns/two-buttons.php
  packages/e2e-tests/specs/editor/various/adding-patterns.test.js
Labels: [Feature] Patterns, [Type] Code Quality

#23643 Avoid ordering block types per frecency inside block categories
  packages/block-editor/src/components/inserter/block-types-tab.js
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/selectors.js
Labels: [Feature] Inserter, [Type] Enhancement

#23708 Release: WordPress 5.5 beta 1 finishing touches
  lib/block-directory.php
  lib/client-assets.php
  lib/compat.php
  lib/rest-api.php
Labels: Gutenberg Plugin, [Feature] Block API, [Type] Documentation

#23692 Fix quote left border color in dark mode.
  packages/primitives/src/block-quotation/index.native.js
  packages/primitives/src/block-quotation/style.native.scss
Labels: Mobile App Android/iOS, [Type] Bug

#23600 Add "engines" to the package.json and "engine-strict = true" to the .…
  .npmrc
  package.json
Labels: [Type] Build Tooling, [Type] Enhancement

#22990 Scripts: add custom TerserPlugin configuration
  package-lock.json
  package.json
  packages/scripts/CHANGELOG.md
  packages/scripts/config/webpack.config.js
  packages/scripts/package.json
  webpack.config.js
Labels: [Package] Scripts, [Type] Enhancement

#23710 Scripts: Fix build script with style.css files
  packages/scripts/CHANGELOG.md
  packages/scripts/config/fix-style-webpack-plugin/index.js
Labels: [Package] Scripts, [Type] Bug

#23711 Scripts: Exclude node_modules from source map processing in start script
  packages/scripts/CHANGELOG.md
  packages/scripts/config/webpack.config.js
Labels: [Package] Scripts, [Type] Bug

#22668 Inline font-sizes to fix themes that don't enqueue the preset classes
  packages/block-editor/src/hooks/font-size.js
Labels: [Type] Bug

#23696 Popover: allow scrolling over
  packages/block-editor/src/components/block-list/insertion-point.js
  packages/block-editor/src/components/block-list/style.scss
  packages/components/src/popover/index.js
  packages/components/src/popover/test/__snapshots__/index.js.snap
  packages/components/src/popover/utils.js
Labels: [Type] Bug

#23688 Block Directory: Return inactive plugins in search results
  lib/class-wp-rest-block-directory-controller.php
  packages/block-directory/src/store/actions.js
  packages/block-directory/src/store/test/actions.js
  packages/block-directory/src/store/utils/get-plugin-url.js
  packages/e2e-tests/specs/editor/plugins/block-directory-add.test.js
Labels: [Feature] Block Directory

#23656 Try: Add line height rule to the post title
  packages/editor/src/components/post-title/style.scss
Labels: [Type] Enhancement

#23618 Mobile - Buttons block - Update block appender logic
  packages/block-editor/src/components/block-list/index.native.js
  packages/block-library/src/buttons/edit.native.js
Labels: Mobile App Android/iOS

#23630 Update device-tests readme with monorepo commands.
  packages/react-native-editor/__device-tests__/README.md
Labels: Automated Testing, Mobile App Android/iOS

#23717 Inline font-sizes: avoid modifying the BlockListBlock props object
  packages/block-editor/src/hooks/font-size.js
Labels: [Type] Bug

#23508 Enable add row/column buttons after having added one
  packages/block-library/src/table/edit.js
Labels: [Block] Table, [Type] Bug

#23694 Re-adding jsc-android to fix android demo build
  package-lock.json
  packages/react-native-editor/package.json
Labels: Mobile App Android/iOS

#22893 Edit Site: Remove templateIds state
  lib/edit-site-page.php
  lib/template-loader.php
  packages/edit-site/src/store/actions.js
  packages/edit-site/src/store/reducer.js
  packages/edit-site/src/store/selectors.js
  packages/edit-site/src/store/test/actions.js
  packages/edit-site/src/store/test/reducer.js
  packages/edit-site/src/store/test/selectors.js
Labels: [Feature] Full Site Editing

#23676 [Experimental navigation screen] Show block appender by default
  packages/edit-navigation/src/components/navigation-editor/navigation-structure-area.js
Labels: [Feature] Navigation Screen

#23675 Use global registry on the experimental navigation screen
  packages/edit-navigation/src/components/navigation-editor/index.js
Labels: [Feature] Navigation Screen

#23680 [Navigation screen] Restore block movers for blocks with just one sibling
  packages/block-editor/src/components/block-navigation/block.js
Labels: [Feature] Navigation Screen

#23706 Fix radio control in Windows High Contrast mode.
  packages/base-styles/_mixins.scss
Labels: [Type] Enhancement

#23738 Add more space for german.
  packages/edit-post/src/components/sidebar/post-schedule/style.scss
  packages/edit-post/src/components/sidebar/post-visibility/style.scss
Labels: [Type] Bug

#23587 Cancel previous running workflows when a new commit is made
  .github/workflows/cancel.yml
Labels: Automated Testing

#23613 [Try] Customizable toolbar contents
  package-lock.json
  packages/block-editor/package.json
  packages/block-editor/src/components/block-controls/index.js
  packages/block-editor/src/components/block-toolbar/expanded-block-controls-container.js
  packages/block-editor/src/components/block-toolbar/index.js
  packages/block-editor/src/components/block-toolbar/style.scss
  packages/edit-navigation/src/components/navigation-editor/block-editor-area.js
Labels: [Feature] Blocks, [Feature] Navigation Screen

#23747 Fix package lock file
  package-lock.json
Labels: Automated Testing, [Type] Build Tooling

#23743 Tool Selector: Render the edit icon as an Icon component
  packages/block-editor/src/components/tool-selector/index.js
Labels: [Type] Bug

#23671 Refactor MediaPlaceholder to function component
  packages/block-editor/src/components/media-placeholder/index.js
  packages/block-editor/src/components/media-placeholder/test/index.js
  packages/block-editor/src/components/media-upload/check.js
  packages/e2e-tests/specs/editor/various/block-deletion.test.js
Labels: [Feature] Media, [Package] Block editor, [Type] Code Quality

#23754 CODEOWNERS: Add mkaz to create-block
  .github/CODEOWNERS
Labels: [Type] Project Management

#23690 Block Library: Standardize post block placeholders.
  packages/block-library/src/post-author/edit.js
  packages/block-library/src/post-comments-count/edit.js
  packages/block-library/src/post-comments-form/edit.js
  packages/block-library/src/post-comments/edit.js
  packages/block-library/src/post-excerpt/edit.js
  packages/block-library/src/post-featured-image/edit.js
  packages/block-library/src/post-tags/edit.js
  packages/block-library/src/post-title/edit.js
Labels: [Feature] Full Site Editing, [Type] Bug

#23752 Docs: Clarify the interactive mode for create-block
  docs/designers-developers/developers/tutorials/create-block/readme.md
  packages/create-block/README.md
Labels: [Package] Create Block, [Type] Documentation

#23748 Link to theme-experiments repo in block-based theme documentation.
  docs/designers-developers/developers/themes/block-based-themes.md
Labels: [Feature] Themes, [Type] Documentation, [Type] Enhancement

#23521 UnitControl: Fix internal unit parsing to handle incoming unit prop
  packages/components/src/unit-control/index.js
  packages/components/src/unit-control/test/index.js
Labels: [Block] Cover, [Package] Components, [Type] Bug

#23516 Edit Site: Integrate quick inserter.
  packages/edit-site/src/components/block-editor/index.js
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/store/selectors.js
  packages/edit-site/src/store/test/selectors.js
Labels: [Feature] Full Site Editing, [Type] Enhancement

#23765 Change references to section back to template part
  packages/block-library/src/template-part/edit/placeholder/index.js
  packages/block-library/src/template-part/index.js
  packages/e2e-tests/specs/experiments/multi-entity-editing.test.js
  packages/e2e-tests/specs/experiments/multi-entity-saving.test.js
  packages/e2e-tests/specs/experiments/template-part.test.js
Labels: [Feature] Full Site Editing, [Type] Enhancement

#23668 Fix issue where block inserted in wrong place when selection is in nested block list, but root appender is used.
  packages/block-editor/src/components/inserter/index.js
  packages/e2e-tests/specs/editor/various/__snapshots__/adding-blocks.test.js.snap
  packages/e2e-tests/specs/editor/various/adding-blocks.test.js
Labels: [Feature] Inserter, [Type] Bug

#22568 wp-env: Add support for different options in each environment
  .github/workflows/end2end-test.yml
  .github/workflows/unit-test.yml
  .wp-env.json
  packages/env/CHANGELOG.md
  packages/env/README.md
  packages/env/lib/build-docker-compose-config.js
  packages/env/lib/commands/start.js
  packages/env/lib/config.js
  packages/env/lib/config/config.js
  packages/env/lib/config/detect-directory-type.js
  packages/env/lib/config/index.js
  packages/env/lib/config/parse-config.js
  packages/env/lib/config/read-raw-config-file.js
  packages/env/lib/config/test/__snapshots__/config.js.snap
  packages/env/lib/config/test/config.js
  packages/env/lib/config/test/read-raw-config-file.js
  packages/env/lib/config/validate-config.js
  packages/env/lib/download-sources.js
  packages/env/lib/wordpress.js
  packages/env/test/build-docker-compose-config.js
  packages/env/test/config.js
Labels: [Package] Env, [Status] In Progress, [Type] Enhancement

#23776 Env: Add breaking change to changelog
  packages/env/CHANGELOG.md
  packages/env/lib/config/test/__snapshots__/config.js.snap
  packages/env/lib/config/test/config.js
Labels: [Package] Env, [Type] Enhancement

#23779 Fix block movers in navigator on experimental navigation page displaying horizontally
  packages/block-editor/src/components/block-mobile-toolbar/index.js
  packages/block-editor/src/components/block-navigation/block.js
Labels: [Feature] Blocks, [Feature] Navigation Screen, [Type] Bug

#23777 Search: Fix attribute defaults
  packages/block-library/src/search/index.php
Labels: Backport to WP Core, [Block] Search, [Type] Bug

#23746 Fix duplicated patterns list
  lib/client-assets.php
Labels: Gutenberg Plugin

#23666 Fix an issue where dragging while the page has no scrollbar results in a console error
  packages/block-editor/src/components/block-draggable/use-scroll-when-dragging.js
Labels: [Feature] Drag and Drop, [Type] Task

#23772 Merge rnmobile 1.31.1 to master
  packages/react-native-editor/RELEASE-NOTES.txt
  packages/react-native-editor/package.json
Labels: Mobile App Android/iOS

#23784 Fix error triggered when a tab is removed from TabPanel component
  packages/components/src/tab-panel/index.js
  packages/components/src/tab-panel/test/index.js
Labels: Backport to WP Core, [Feature] Inserter, [Feature] UI Components, [Type] Regression

#23742 Image Edit endpoint: Load remote image if local not present
  lib/class-wp-rest-image-editor-controller.php
Labels: [Block] Image, [Feature] REST API Interaction, [Type] Bug

#23744 apply the reset mixin to the inserter panel
  packages/block-editor/src/components/block-preview/style.scss
  packages/edit-post/src/style.scss
Labels: Backport to WP Core, [Type] Bug

#23750 Expand and update Block-based Themes documentation page
  docs/designers-developers/developers/themes/block-based-themes.md
Labels: [Feature] Themes, [Type] Documentation, [Type] Enhancement

#23774 Block Library: Translate post block placeholders.
  packages/block-library/src/post-author/edit.js
  packages/block-library/src/post-comments-count/edit.js
  packages/block-library/src/post-comments-form/edit.js
  packages/block-library/src/post-comments/edit.js
  packages/block-library/src/post-date/edit.js
  packages/block-library/src/post-excerpt/edit.js
  packages/block-library/src/post-featured-image/edit.js
  packages/block-library/src/post-tags/edit.js
  packages/block-library/src/post-title/edit.js
Labels: [Feature] Full Site Editing, [Type] Enhancement

#22788 [Mobile] - Media & Text: Allow media to be selected and render focal point
  packages/block-editor/src/components/index.native.js
  packages/block-editor/src/components/media-upload-progress/README.md
  packages/block-editor/src/components/media-upload-progress/image-size.native.js
  packages/block-editor/src/components/media-upload-progress/index.native.js
  packages/block-editor/src/components/media-upload-progress/test/index.native.js
  packages/block-library/src/image/edit.native.js
  packages/block-library/src/image/styles.native.scss
  packages/block-library/src/media-text/edit.native.js
  packages/block-library/src/media-text/media-container.native.js
  packages/block-library/src/media-text/style.native.scss
  packages/components/src/index.native.js
  packages/components/src/mobile/image-with-focalpoint/index.native.js
  packages/components/src/mobile/image/icon-customize.native.js
  packages/components/src/mobile/image/icon-retry.native.js
  packages/components/src/mobile/image/index.native.js
  packages/components/src/mobile/image/style.native.scss
  packages/components/src/mobile/media-edit/index.native.js
  packages/react-native-editor/RELEASE-NOTES.txt
Labels: Mobile App Android/iOS

#23289 [Mobile] Correct Color for RichText links in Dark Mode
  packages/react-native-aztec/android/src/main/java/org/wordpress/mobile/ReactNativeAztec/ReactAztecManager.java
  packages/react-native-aztec/ios/RNTAztecView/RCTAztecView.swift
  packages/react-native-aztec/ios/RNTAztecView/RCTAztecViewManager.m
  packages/react-native-editor/ios/Podfile
  packages/react-native-editor/ios/Podfile.lock
  packages/rich-text/src/component/index.native.js
Labels: Mobile App Android/iOS

#23805 Integrate Aztec 1.19.3
  packages/react-native-aztec/RNTAztecView.podspec
  packages/react-native-editor/ios/Podfile
  packages/react-native-editor/ios/Podfile.lock
Labels: Mobile App Android/iOS

#23806 Env: Improve install performance
  packages/env/CHANGELOG.md
  packages/env/lib/commands/start.js
  packages/env/lib/wordpress.js
Labels: [Package] Env, [Type] Build Tooling, [Type] Performance

#23704 Classic Block: Move the convert to blocks option from menu to own toolbar button
  packages/block-editor/src/components/block-settings-menu/block-settings-dropdown.js
  packages/block-editor/src/components/block-settings-menu/block-unknown-convert-button.js
  packages/block-library/src/classic/convert-to-blocks-button.js
  packages/block-library/src/classic/edit.js
  packages/e2e-test-utils/README.md
  packages/e2e-test-utils/src/click-block-toolbar-button.js
  packages/e2e-tests/specs/editor/blocks/classic.test.js
Labels: [Block] Classic, [Type] Enhancement

#23758 Refactor more block
  packages/block-library/src/more/edit.js
  packages/block-library/src/more/save.js
Labels: [Block] More, [Type] Code Quality

#23341 added readme to matrix alignment toolbar
  packages/block-editor/src/components/block-alignment-matrix-toolbar/README.md
Labels: Needs Copy Review, [Type] Documentation

#23817 Improve the performance tests setup
  packages/e2e-tests/config/setup-performance-test.js
  packages/e2e-tests/jest.performance.config.js
Labels: [Type] Build Tooling

#23824 [InputControl] Add prefix prop
  packages/components/src/input-control/README.md
  packages/components/src/input-control/index.js
  packages/components/src/input-control/stories/index.js
  packages/components/src/input-control/styles/input-control-styles.js
Labels: [Feature] UI Components

#23400 Date: Add timezone hint
  lib/compat.php
  package-lock.json
  packages/components/package.json
  packages/components/src/date-time/style.scss
  packages/components/src/date-time/test/__snapshots__/time.js.snap
  packages/components/src/date-time/time.js
  packages/components/src/date-time/timezone.js
  packages/date/src/index.js
Labels: [Feature] Document Settings, [Package] Components, [Type] Enhancement

#21181 Refactor ReusableBlockEditPanel to use hooks (and add type info)
  packages/block-library/src/block/edit-panel/index.js
Labels: Needs Technical Feedback, [Block] Block, [Feature] Reusable Blocks, [Package] Block library, [Type] Code Quality

#23038 Convert PostSavedState to functional component
  packages/editor/src/components/post-saved-state/index.js
  packages/editor/src/components/post-saved-state/test/index.js
Labels: [Package] Editor, [Type] Code Quality

#23825 Small performance tweaks
  packages/block-editor/src/components/block-draggable/index.js
  packages/block-editor/src/components/spacing-panel-control/index.js
  packages/block-editor/src/components/use-block-drop-zone/index.js
Labels: Backport to WP Core, [Type] Performance

#23683 [RNMobile] Correct post title focus
  packages/editor/src/components/post-title/index.native.js
Labels: Mobile App Android/iOS, [Type] Bug

#23725 Docs: Move ESNext to JavaScript tutorial
  docs/designers-developers/developers/tutorials/create-block/block-anatomy.md
  docs/designers-developers/developers/tutorials/create-block/readme.md
  docs/designers-developers/developers/tutorials/create-block/wp-plugin.md
  docs/designers-developers/developers/tutorials/javascript/esnext-js.md
  docs/designers-developers/developers/tutorials/javascript/js-build-setup.md
  docs/designers-developers/developers/tutorials/javascript/readme.md
  docs/designers-developers/developers/tutorials/javascript/versions-and-building.md
  docs/manifest.json
  docs/toc.json
Labels: [Type] Documentation

#23829 Avoid rerendering the PostSavedState component on each change
  packages/compose/README.md
  packages/compose/src/hooks/use-warn-on-change/index.js
  packages/compose/src/index.js
  packages/editor/src/components/post-saved-state/index.js
Labels: [Type] Performance

#23834 Automation: Limit tests to not run on docs only changes
  .github/workflows/end2end-test.yml
  .github/workflows/performance.yml
  .github/workflows/rnmobile-android-runner.yml
  .github/workflows/rnmobile-ios-runner.yml
  docs/readme.md
Labels: [Package] Project management automation

#23017 [RNMobile] Social icons
  packages/block-editor/src/components/block-list/block-selection-button.native.js
  packages/block-editor/src/components/block-list/index.native.js
  packages/block-editor/src/components/inner-blocks/index.native.js
  packages/block-library/src/index.native.js
  packages/block-library/src/social-link/edit.native.js
  packages/block-library/src/social-link/editor.native.scss
  packages/block-library/src/social-link/socials-with-bg.scss
  packages/block-library/src/social-link/socials-without-bg.scss
  packages/block-library/src/social-links/edit.native.js
  packages/block-library/src/social-links/editor.native.scss
  packages/block-library/src/social-links/style.scss
  packages/blocks/src/api/parser.js
  packages/primitives/src/svg/index.native.js
Labels: [Block] Social

#23843 Switch workflows to use paths-ignore and **.md
  .github/workflows/end2end-test.yml
  .github/workflows/performance.yml
  .github/workflows/rnmobile-android-runner.yml
  .github/workflows/rnmobile-ios-runner.yml
Labels: [Package] Project management automation

#23830 Enable unsupported block editor on Atomic sites
  packages/react-native-bridge/android/src/main/java/org/wordpress/mobile/WPAndroidGlue/WPAndroidGlueCode.java
Labels: Mobile App Android/iOS

#23844 Fix action GitHub action workflow yml syntax errors
  .github/workflows/performance.yml
  .github/workflows/rnmobile-android-runner.yml
  .github/workflows/rnmobile-ios-runner.yml
Labels: Automated Testing

#23845 Add paths-ignore **.md for unit tests checks
  .github/workflows/unit-test.yml
Labels: [Package] Project management automation

#23773 [Documentation] Create new page listing Gutenberg releases in each WordPress version
  docs/contributors/versions-in-wordpress.md
  docs/manifest.json
  docs/toc.json
Labels: [Type] Documentation

#23850 Docs: Title and markdown formatting for table
  docs/contributors/versions-in-wordpress.md
  docs/manifest.json
Labels: [Type] Documentation

#23862 [RNMobile] Update RELEASE-NOTES
  packages/react-native-editor/RELEASE-NOTES.txt
Labels: Mobile App Android/iOS

#23815 [Mobile] Remove block - Show notice message
  packages/block-editor/src/components/block-mobile-toolbar/block-actions-menu.native.js
Labels: Mobile App Android/iOS

#23840 Update documentation contributors guide
  docs/contributors/document.md
Labels: [Type] Documentation

#23851 Add ODC-By-1.0 as a supported license.
  packages/scripts/scripts/check-licenses.js
Labels: [Package] Scripts

#23855 Updates text, buttons colors and labels
  lib/patterns/text-three-columns-buttons.php
Labels: [Feature] Patterns

#23857 Update 'Large header' pattern
  lib/patterns/large-header.php
Labels: [Feature] Patterns

#23853 Update layout and text of 'Text two columns' pattern
  lib/patterns/text-two-columns.php
Labels: [Feature] Patterns

#23854 Updates image size to match columns width
  lib/patterns/text-two-columns-with-images.php
Labels: [Feature] Patterns

#23703 When editing, pass the edited image src.
  lib/class-wp-rest-image-editor-controller.php
  packages/block-library/src/image/image-editor.js
Labels: Backport to WP Core, [Block] Image, [Priority] High

#23083 Add title to image and video selection sheets
  packages/block-editor/src/components/media-placeholder/index.native.js
  packages/block-editor/src/components/media-upload/index.native.js
  packages/block-library/src/cover/edit.native.js
  packages/block-library/src/image/edit.native.js
  packages/block-library/src/media-text/media-container.native.js
  packages/block-library/src/video/edit.native.js
Labels: Mobile App Android/iOS

#23883 Merge gutenberg-mobile 1.32.0 release to master
  packages/react-native-bridge/android/src/main/java/org/wordpress/mobile/WPAndroidGlue/WPAndroidGlueCode.java
  packages/react-native-editor/RELEASE-NOTES.txt
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App Android/iOS

#23827 Hide inserter's block preview when searching
  packages/block-editor/src/components/inserter/block-types-tab.js
  packages/block-editor/src/components/inserter/menu.js
  packages/block-editor/src/components/inserter/test/block-types-tab.js
Labels: [Feature] Inserter, [Type] Bug

#23859 Autocomplete: Fix closing slash inserter with ESC
  packages/components/src/autocomplete/index.js
Labels: Backport to WP Core, [Feature] Rich Text, [Feature] UI Components, [Type] Bug

#23901 Fix block merging regression
  packages/block-editor/src/components/block-list/block-wrapper.js
  packages/block-editor/src/components/keyboard-shortcuts/index.js
  packages/e2e-tests/specs/editor/blocks/image.test.js
  packages/e2e-tests/specs/editor/various/__snapshots__/writing-flow.test.js.snap
  packages/e2e-tests/specs/editor/various/writing-flow.test.js
Labels: Backport to WP Core, [Type] Bug

#23896 Set quick inserter content width to 100% on screens below 782px
  packages/block-editor/src/components/inserter/style.scss
Labels: Backport to WP Core, [Type] Bug

#23007 Site Title: Add support settings for colors, fonts, and line height
  docs/designers-developers/developers/themes/theme-json.md
  lib/blocks.php
  lib/global-styles.php
  packages/block-library/src/site-title/block.json
  phpunit/class-block-context-test.php
  phpunit/class-block-supported-styles-test.php
Labels: [Block] Site Title, [Feature] Full Site Editing

#23900 order quick inserter items by frecency
  packages/block-editor/src/components/inserter/quick-inserter.js
Labels: Backport to WP Core, [Type] Bug

#23314 [Mobile] Changed the columns per row from 2 two 3
  packages/block-editor/src/components/block-list/style.native.scss
  packages/block-library/src/columns/edit.native.js
Labels: First-time Contributor, Mobile App Android/iOS

#23887 Button: Properly handle border radius reset
  packages/block-library/src/button/edit.js
Labels: [Block] Buttons

#23858 Update 'Large header and a paragraph' pattern
  lib/patterns/large-header-paragraph.php
Labels: Backport to WP Core, [Feature] Patterns

#22952 Editor: Display Site Icon (if one is set) in Gutenberg Fullscreen Mode
  gutenberg.php
  lib/compat.php
  lib/edit-site-page.php
  packages/core-data/src/entities.js
  packages/edit-post/src/components/header/fullscreen-mode-close/index.js
  packages/edit-post/src/components/header/fullscreen-mode-close/style.scss
  packages/edit-post/src/components/header/fullscreen-mode-close/test/index.js
  packages/edit-site/src/components/header/fullscreen-mode-close/index.js
  packages/edit-site/src/components/header/fullscreen-mode-close/style.scss
  packages/edit-site/src/components/header/fullscreen-mode-close/test/index.js
Labels: General Interface, Needs Design Feedback, [Type] Enhancement

#21581 Types: Improve project setup
  packages/priority-queue/tsconfig.json
  packages/project-management-automation/tsconfig.json
  packages/warning/tsconfig.json
  tsconfig.base.json
  typings/gutenberg-env/index.d.ts
Labels: Needs Technical Feedback, [Type] Code Quality

#23848 Update labels of buttons of 'Two buttons' pattern
  lib/patterns/two-buttons.php
  packages/e2e-tests/specs/editor/various/__snapshots__/adding-patterns.test.js.snap
Labels: Backport to WP Core, [Feature] Patterns

#23912 Fix comment capitalization/punctuation.
  packages/block-editor/src/components/inserter/block-types-tab.js
Labels: Good First Review, [Package] Block editor, [Type] Code Quality

#23736 Navigation screen: Add .editor-styles-wrapper
  packages/edit-navigation/src/components/navigation-editor/block-editor-area.js
Labels: CSS Styling, [Feature] Navigation Screen, [Type] Bug

#23794 [Mobile] Cover: Adds Clear media button in block settings
  packages/block-library/src/cover/edit.native.js
  packages/block-library/src/cover/style.native.scss
Labels: Mobile App Android/iOS, [Block] Cover, [Type] Enhancement

#23880 REST API: Check for WP5.5 and skip registering routes
  lib/rest-api.php
Labels: [Block] Image, [Feature] REST API Interaction

#23916 Fix drag and drop for aligned blocks
  packages/block-editor/src/components/use-block-drop-zone/index.js
  packages/block-editor/src/components/use-block-drop-zone/test/index.js
Labels: Backport to WP Core, [Feature] Drag and Drop, [Type] Regression

#23923 Fix drag and drop to empty block lists
  packages/block-editor/src/components/use-block-drop-zone/index.js
Labels: Backport to WP Core, [Feature] Drag and Drop, [Type] Regression
