Repository WordPress/gutenberg, pull requests merged in 2020-04, with the labels that each got.

#18669 Fix Nav Block bug as Contributor user via fix to `*loadPostTypeEntities`
  package-lock.json
  packages/api-fetch/package.json
  packages/api-fetch/src/index.js
  packages/block-library/src/navigation/edit.js
Labels: [Block] Navigation, [Type] Bug

#21141 Unify focus styles, and pave the way for them to be customizable
  packages/base-styles/_mixins.scss
  packages/base-styles/_variables.scss
  packages/block-editor/src/components/block-breadcrumb/style.scss
  packages/block-editor/src/components/block-list/style.scss
  packages/block-editor/src/components/block-patterns/style.scss
  packages/block-editor/src/components/block-styles/style.scss
  packages/block-editor/src/components/inserter-list-item/style.scss
  packages/block-editor/src/components/url-input/style.scss
  packages/components/src/button/style.scss
  packages/components/src/custom-select-control/style.scss
  packages/components/src/form-toggle/style.scss
  packages/components/src/panel/style.scss
  packages/components/src/placeholder/style.scss
  packages/components/src/tab-panel/style.scss
  packages/edit-post/src/components/header/fullscreen-mode-close/style.scss
  packages/edit-post/src/components/header/style.scss
  packages/edit-post/src/components/preview-options/style.scss
  packages/edit-post/src/components/sidebar/settings-header/style.scss
  packages/edit-post/src/components/sidebar/style.scss
  packages/edit-site/src/components/header/fullscreen-mode-close/style.scss
  packages/editor/src/components/document-outline/style.scss
  packages/editor/src/components/post-last-revision/style.scss
  packages/editor/src/components/table-of-contents/style.scss
Labels: Accessibility (a11y), [Type] Code Quality, [Type] Enhancement

#21278 Add a few icons, update "Share" icon
  packages/block-library/src/social-link/block.json
  packages/block-library/src/social-link/index.js
  packages/block-library/src/social-link/index.php
  packages/block-library/src/social-links/block.json
  packages/block-library/src/social-links/index.js
  packages/icons/src/index.js
  packages/icons/src/library/button.js
  packages/icons/src/library/create.js
  packages/icons/src/library/html.js
  packages/icons/src/library/info.js
  packages/icons/src/library/search.js
  packages/icons/src/library/share.js
  storybook/test/__snapshots__/index.js.snap
Labels: [Type] Enhancement

#21280 Prevent template switcher jumpiness
  packages/edit-site/src/components/template-switcher/index.js
  packages/edit-site/src/components/template-switcher/style.scss
Labels: Good First Review

#21053 Prettier Config: Add type-checking
  package-lock.json
  package.json
  packages/prettier-config/lib/index.js
  packages/prettier-config/package.json
  packages/prettier-config/tsconfig.json
Labels: [Package] Prettier config, [Status] Blocked, [Type] Enhancement

#21318 Avoid creating an empty paragraph when selecting the parent's group block
  packages/block-editor/src/components/block-list/block-wrapper.js
  packages/e2e-tests/specs/editor/various/__snapshots__/block-hierarchy-navigation.test.js.snap
  packages/e2e-tests/specs/editor/various/block-hierarchy-navigation.test.js
Labels: [Block] Group, [Type] Bug

#21221 Project Management: Prompt user to link GitHub account to WordPress.org profile
  package-lock.json
  package.json
  packages/project-management-automation/CHANGELOG.md
  packages/project-management-automation/README.md
  packages/project-management-automation/lib/add-first-time-contributor-label.js
  packages/project-management-automation/lib/add-milestone.js
  packages/project-management-automation/lib/first-time-contributor.js
  packages/project-management-automation/lib/get-associated-pull-request.js
  packages/project-management-automation/lib/has-wordpress-profile.js
  packages/project-management-automation/lib/index.js
  packages/project-management-automation/lib/test/add-first-time-contributor-label.js
  packages/project-management-automation/lib/test/add-milestone.js
  packages/project-management-automation/lib/test/first-time-contributor.js
  packages/project-management-automation/lib/test/get-associated-pull-request.js
  packages/project-management-automation/lib/test/has-wordpress-profile.js
Labels: [Package] Project management automation, [Type] Enhancement, [Type] Project Management

#21329 Update tumblr icon
  packages/block-library/src/embed/icons.js
  packages/block-library/src/social-link/icons/tumblr.js
  packages/block-library/src/social-link/index.php
Labels: [Type] Enhancement

#21328 Add top level inserter to the edit site screen
  packages/edit-site/src/components/header/index.js
  packages/edit-site/src/components/header/style.scss
Labels: [Feature] Full Site Editing

#21240 Insert post title instead of URL, when adding a link to an existing post
  packages/e2e-tests/specs/editor/various/links.test.js
  packages/format-library/src/link/inline.js
Labels: First-time Contributor, [Feature] Link Editing, [Type] Enhancement

#21070 Fix the latest-posts block when `imageDimensions` is empty
  packages/block-library/src/latest-posts/edit.js
Labels: [Block] Latest Posts, [Type] Bug

#21314 Implement initial styling of navigation menu screen
  packages/edit-navigation/src/components/layout/index.js
  packages/edit-navigation/src/components/layout/style.scss
  packages/edit-navigation/src/components/menu-editor/index.js
  packages/edit-navigation/src/components/menu-editor/style.scss
  packages/edit-navigation/src/components/menus-editor/index.js
  packages/edit-navigation/src/components/menus-editor/style.scss
  packages/edit-navigation/src/style.scss
Labels: Needs Design Feedback, [Block] Navigation, [Type] Enhancement

#21338 Fix editor shortcuts in Nav Menus page.
  packages/edit-navigation/src/components/menu-editor/index.js
Labels: [Block] Navigation, [Type] Bug

#21323 [RNMobile] remove additional padding from first paragraph block
  packages/block-editor/src/components/default-block-appender/index.native.js
  packages/edit-post/src/components/visual-editor/style.native.scss
Labels: Mobile App Compatibility

#20884 Navigation block: show color controls in toolbar only.
  packages/block-library/src/navigation/edit.js
Labels: Needs Design Feedback, [Block] Navigation

#21159 Update entity saved states to be selected by default and partitioned by type.
  packages/block-library/src/template-part/edit/placeholder.js
  packages/core-data/src/entities.js
  packages/e2e-tests/specs/experiments/multi-entity-saving.test.js
  packages/edit-site/src/components/save-button/index.js
  packages/editor/src/components/entities-saved-states/index.js
  packages/editor/src/components/entities-saved-states/style.scss
  packages/editor/src/components/post-publish-button/index.js
Labels: Needs Design Feedback, [Feature] Full Site Editing

#21345 Restore default width for patterns preview viewport.
  packages/block-editor/src/components/block-patterns/index.js
Labels: [Feature] Patterns

#21317 Fix block duplication using keyboard shortcut
  packages/block-editor/src/components/block-list/use-multi-selection.js
  packages/e2e-tests/specs/editor/various/__snapshots__/duplicating-blocks.test.js.snap
  packages/e2e-tests/specs/editor/various/duplicating-blocks.test.js
Labels: Backport to WP Core, [Type] Bug

#21252 Add a generic style to the toolbar buttons
  packages/block-editor/src/components/block-list/breadcrumb.js
  packages/block-editor/src/components/block-list/style.scss
  packages/block-editor/src/components/block-mover/style.scss
  packages/block-editor/src/components/block-toolbar/style.scss
  packages/components/src/toolbar-button/index.js
  packages/components/src/toolbar-group/style.scss
  packages/components/src/toolbar/stories/index.js
  packages/components/src/toolbar/style.scss
  packages/interface/src/components/complementary-area/style.scss
  storybook/test/__snapshots__/index.js.snap
Labels: [Feature] UI Components

#21296 Adds vertical variation to navigation menu
  packages/block-library/src/navigation/edit.js
  packages/block-library/src/navigation/editor.scss
  packages/block-library/src/navigation/index.js
  packages/block-library/src/navigation/index.php
  packages/block-library/src/navigation/style.scss
  packages/e2e-tests/specs/experiments/__snapshots__/navigation.test.js.snap
Labels: Needs Design, Needs Design Feedback

#21324 Fix the TS used for the GB-Mobile project.
  tsconfig.base.json
Labels: Mobile App Compatibility

#21308 WP-env: Add reference to docker log command to show error logs in terminal
  packages/env/README.md
Labels: [Package] Env, [Type] Documentation

#21274 Site Editor: add block breadcrumb
  packages/edit-site/src/components/editor/index.js
Labels: [Feature] Full Site Editing

#21361 Block Editor: Skip focusTabbable if no active element
  packages/block-editor/src/components/block-list/block-wrapper.js
Labels: Browser Issues, [Package] Block editor, [Type] Bug

#21364 Fix wrong script name in documentation
  packages/scripts/README.md
Labels: [Type] Documentation

#21342 Add save shortcut for navigation menu screen
  package-lock.json
  packages/edit-navigation/package.json
  packages/edit-navigation/src/components/menu-editor/index.js
  packages/edit-navigation/src/components/menu-editor/shortcuts.js
Labels: [Block] Navigation, [Type] Enhancement

#20574 Extend valid-sprintf ESLint rule to catch placeholders that should be numbered
  packages/blocks/src/api/utils.js
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/rules/__tests__/i18n-no-placeholders-only.js
  packages/eslint-plugin/rules/__tests__/valid-sprintf.js
  packages/eslint-plugin/rules/i18n-no-placeholders-only.js
  packages/eslint-plugin/rules/i18n-translator-comments.js
  packages/eslint-plugin/rules/valid-sprintf.js
  packages/eslint-plugin/utils/constants.js
  packages/eslint-plugin/utils/index.js
  packages/scripts/utils/env.js
Labels: Internationalization (i18n), [Package] ESLint plugin

#21322 Parse patterns one by one
  package-lock.json
  packages/block-editor/package.json
  packages/block-editor/src/components/block-patterns/index.js
  packages/block-editor/src/components/block-patterns/style.scss
  packages/block-editor/src/components/block-patterns/use-async-list.js
  packages/block-editor/src/components/block-preview/auto.js
  packages/block-editor/src/components/block-preview/index.js
  packages/priority-queue/README.md
  packages/priority-queue/src/index.js
Labels: [Feature] Patterns, [Type] Performance

#21352 [RNMobile] Dark mode on Android put on the v1.25.0 native release
  packages/compose/src/hooks/use-preferred-color-scheme/index.android.js
  packages/compose/src/hooks/use-preferred-color-scheme/index.ios.js
  test/native/setup.js
Labels: Mobile App Compatibility

#21369 Fix overly verbose aria-label in Social Link block
  packages/block-library/src/social-link/index.php
Labels: Accessibility (a11y), [Block] Social

#21231 Avoid recomputing the scrollble container on selection change
  packages/block-editor/src/components/block-list/moving-animation.js
Labels: [Type] Performance

#21362 Block Editor: Add type-checking for block editor (DOM utils only)
  packages/block-editor/src/utils/dom.js
  packages/block-editor/tsconfig.json
  tsconfig.json
Labels: [Package] Block editor

#18998 Framework: Configure ESLint JSDoc plugin to target TypeScript mode
  .eslintrc.js
Labels: Automated Testing, Framework

#21366 Blocks: Raw Handling: Find closest PRE by stepping through parents
  packages/blocks/src/api/raw-handling/html-formatting-remover.js
  packages/blocks/src/api/raw-handling/test/html-formatting-remover.js
Labels: Browser Issues, [Feature] Raw Handling, [Package] Blocks, [Type] Bug

#21381 Testing: Include Prettier Config package in root type checking
  tsconfig.json
Labels: Framework, [Package] Prettier config

#21248 Element: Add types
  package-lock.json
  package.json
  packages/element/CHANGELOG.md
  packages/element/README.md
  packages/element/package.json
  packages/element/src/create-interpolate-element.js
  packages/element/src/raw-html.js
  packages/element/src/react-platform.js
  packages/element/src/react.js
  packages/element/src/serialize.js
  packages/element/tsconfig.json
  packages/eslint-plugin/configs/jsdoc.js
  tsconfig.json
Labels: Needs Technical Feedback, [Package] Element, [Type] Code Quality

#21405 [docgen-ts] Move <caption>ES(5|Next)</caption> to next line.
  packages/edit-post/src/components/block-settings-menu/plugin-block-settings-menu-item.js
  packages/edit-post/src/components/header/plugin-more-menu-item/index.js
  packages/edit-post/src/components/header/plugin-sidebar-more-menu-item/index.js
  packages/edit-post/src/components/sidebar/plugin-document-setting-panel/index.js
  packages/edit-post/src/components/sidebar/plugin-post-publish-panel/index.js
  packages/edit-post/src/components/sidebar/plugin-post-status-info/index.js
  packages/edit-post/src/components/sidebar/plugin-pre-publish-panel/index.js
  packages/edit-post/src/components/sidebar/plugin-sidebar/index.js
  packages/plugins/src/api/index.js
  packages/plugins/src/components/plugin-area/index.js
Labels: [Type] Documentation

#20231 [RNMobile] - Gallery Block: Columns Control
  packages/block-library/src/gallery/columns-control/index.js
  packages/block-library/src/gallery/columns-control/index.native.js
  packages/block-library/src/gallery/edit.js
Labels: Npm Packages, [Block] Gallery, [Type] Bug

#21400 Plugin: Bump tested up to info to WP 5.4
  readme.txt
Labels: Gutenberg Plugin, [Type] Documentation

#21417 Interface: Prepare the package for publishing to npm
  packages/interface/.npmrc
  packages/interface/CHANGELOG.md
  packages/interface/README.md
  packages/interface/package.json
Labels: Npm Packages, [Package] Interface, [Type] Documentation

#21418 Fix two typos in lib rest menu controller
  lib/class-wp-rest-menu-items-controller.php
Labels: [Feature] REST API Interaction

#21383 Delete editor-styles that are no longer needed
  packages/editor/src/editor-styles.scss
Labels: Global Styles

#20428 Add react-testing-library
  package-lock.json
  package.json
  packages/components/src/slot-fill/test/__snapshots__/slot.js.snap
  packages/components/src/slot-fill/test/slot.js
Labels: Automated Testing, [Type] Enhancement

#21394 Env: Await test result of testPortNumberValidation
  packages/env/test/config.js
Labels: [Package] Env, [Type] Bug

#21425 Create a stable version of @wordpress/interface components for mobile
  packages/interface/src/components/index.native.js
Labels: Mobile App Compatibility

#21153 Make font size an implicit attribute of the block
  packages/block-editor/README.md
  packages/block-editor/src/components/font-sizes/index.js
  packages/block-editor/src/components/font-sizes/utils.js
  packages/block-editor/src/hooks/color.js
  packages/block-editor/src/hooks/font-size.js
  packages/block-editor/src/hooks/index.js
  packages/block-editor/src/hooks/line-height.js
  packages/block-editor/src/hooks/style.js
  packages/block-library/src/paragraph/block.json
  packages/block-library/src/paragraph/deprecated.js
  packages/block-library/src/paragraph/edit.js
  packages/block-library/src/paragraph/editor.scss
  packages/block-library/src/paragraph/index.js
  packages/block-library/src/paragraph/style.scss
  packages/block-library/src/style.scss
  packages/e2e-tests/specs/editor/various/__snapshots__/font-size-picker.test.js.snap
  packages/editor/src/editor-styles.scss
  storybook/stories/playground/editor-styles.scss
Labels: [Block] Paragraph

#21384 Project Management Automation: Mention user by name in prompt
  packages/project-management-automation/lib/first-time-contributor.js
Labels: [Package] Project management automation

#21398 Env: Swap out deprecated dep `request`
  package-lock.json
  packages/env/lib/download-source.js
  packages/env/package.json
  packages/scripts/package.json
  packages/scripts/utils/env.js
Labels: [Package] Env, [Type] Code Quality

#21290 [RNMobile] - Layout Template Modal & Button block - Orientation fixes
  packages/block-editor/src/components/page-template-picker/preview.native.js
  packages/block-library/src/button/edit.native.js
Labels: Mobile App Compatibility

#20922 [RNMobile] Change ripple effect n BottomSheet settings
  packages/components/src/mobile/bottom-sheet/cell.native.js
  packages/components/src/mobile/bottom-sheet/cellStyles.ios.scss
  packages/components/src/mobile/bottom-sheet/range-cell.native.js
Labels: Mobile App Compatibility

#21421 Prevent typing on a Popover from closing the block toolbar
  packages/block-editor/src/components/observe-typing/index.js
  packages/e2e-tests/specs/editor/various/is-typing.test.js
Labels: Backport to WP Core, [Feature] Writing Flow, [Type] Bug

#21460 Only scroll page for multi-selections
  packages/block-editor/src/components/multi-select-scroll-into-view/index.js
Labels: Backport to WP Core, [Feature] Writing Flow, [Type] Bug

#13452 Testing: Fail E2E when page displays warning notices
  packages/e2e-test-utils/CHANGELOG.md
  packages/e2e-test-utils/README.md
  packages/e2e-test-utils/src/get-page-error.js
  packages/e2e-test-utils/src/index.js
  packages/e2e-test-utils/src/test/get-page-error.js
  packages/e2e-test-utils/src/visit-admin-page.js
Labels: Automated Testing, Good First Review

#21373 [RNMobile] - Layout picker - Update emoji
  packages/block-editor/src/components/page-template-picker/templates/contact.native.js
  packages/block-editor/src/components/page-template-picker/templates/services.native.js
Labels: Mobile App Compatibility, [Type] Bug

#21428 Use inline styles instead of CSS variables for the style attribute
  lib/patterns/its-time.json
  lib/patterns/numbered-features.json
  packages/block-editor/src/hooks/style.js
  packages/block-editor/src/hooks/test/style.js
  packages/block-library/src/button/style.scss
  packages/block-library/src/columns/style.scss
  packages/block-library/src/group/style.scss
  packages/block-library/src/heading/style.scss
  packages/block-library/src/media-text/style.scss
  packages/block-library/src/paragraph/save.js
  packages/block-library/src/paragraph/style.scss
  packages/block-library/src/style.scss
  packages/e2e-tests/fixtures/blocks/core__heading__deprecated-3.serialized.html
  packages/e2e-tests/specs/editor/blocks/__snapshots__/heading.test.js.snap
  packages/e2e-tests/specs/editor/various/__snapshots__/font-size-picker.test.js.snap
  packages/editor/src/editor-styles.scss
  storybook/stories/playground/editor-styles.scss
Labels: Global Styles

#21431 Add font size control for heading block
  packages/block-library/src/heading/index.js
Labels: Global Styles, [Type] Feature

#21481 Add the possibility to support gradients using the experimental color support flag
  packages/block-editor/README.md
  packages/block-editor/src/components/gradients/index.js
  packages/block-editor/src/hooks/color-panel.js
  packages/block-editor/src/hooks/color.js
  packages/block-editor/src/hooks/style.js
Labels: [Type] New API

#21474 Update and massage social links colors.
  packages/block-library/src/social-links/style.scss
Labels: [Block] Social, [Type] Enhancement

#21463 [RNMobile] - Layout Picker - Keyboard visibility improvements
  packages/block-editor/src/components/page-template-picker/picker.native.js
Labels: Mobile App Compatibility

#21375 Add gradients support to Group, columns and media & text blocks
  packages/block-library/src/columns/index.js
  packages/block-library/src/group/index.js
  packages/block-library/src/media-text/index.js
Labels: [Block] Columns, [Block] Group, [Block] Media & Text, [Type] Feature

#19013 [RNMobile] Column block
  packages/block-editor/src/components/block-list/block.native.js
  packages/block-editor/src/components/block-list/index.native.js
  packages/block-editor/src/components/block-list/style.native.scss
  packages/block-editor/src/components/block-mobile-toolbar/index.native.js
  packages/block-editor/src/components/block-mover/index.native.js
  packages/block-editor/src/components/button-block-appender/index.native.js
  packages/block-editor/src/components/inner-blocks/button-block-appender.js
  packages/block-editor/src/components/inner-blocks/index.native.js
  packages/block-library/src/column/edit.native.js
  packages/block-library/src/column/editor.native.scss
  packages/block-library/src/column/index.native.js
  packages/block-library/src/columns/edit.native.js
  packages/block-library/src/columns/editor.native.scss
  packages/block-library/src/group/edit.native.js
  packages/block-library/src/index.native.js
  packages/components/src/mobile/keyboard-aware-flat-list/index.ios.js
  packages/components/src/mobile/readable-content-view/index.native.js
Labels: Mobile App Compatibility, [Block] Columns, [Type] Feature

#20805 Add radio option to ButtonGroup
  docs/manifest.json
  packages/components/src/button-group/index.js
  packages/components/src/date-time/test/__snapshots__/time.js.snap
  packages/components/src/index.js
  packages/components/src/radio-context/index.js
  packages/components/src/radio-control/README.md
  packages/components/src/radio-group/README.md
  packages/components/src/radio-group/index.js
  packages/components/src/radio-group/stories/index.js
  packages/components/src/radio/index.js
  packages/components/src/radio/stories/index.js
  storybook/test/__snapshots__/index.js.snap
Labels: [Package] Components

#21312 Fix reusable block horizontal padding regression.
  packages/block-library/src/block/edit-panel/editor.scss
  packages/block-library/src/block/editor.scss
Labels: [Type] Regression

#21306 Framework: Add package-lock precommit check for latest NPM
  bin/check-latest-npm.js
  bin/tsconfig.json
  package-lock.json
  package.json
  packages/create-block/package.json
  packages/e2e-tests/package.json
  packages/env/package.json
  packages/eslint-plugin/configs/jsdoc.js
  packages/scripts/package.json
Labels: Framework

#21426 [RNMobile] - Blog layout template
  packages/block-editor/src/components/page-template-picker/default-templates.native.js
  packages/block-editor/src/components/page-template-picker/templates/blog.native.js
  packages/block-editor/src/components/page-template-picker/templates/index.native.js
Labels: Mobile App Compatibility

#18858 Fix Snackbar notice bottom margin.
  packages/edit-post/src/components/layout/style.scss
Labels: [Package] Components, [Type] Enhancement

#20794 Block API: Add new utility to register block types from metadata in PHP
  lib/compat.php
  packages/block-library/src/post-author/index.php
  packages/block-library/src/post-comments-count/index.php
  packages/block-library/src/post-comments-form/index.php
  packages/block-library/src/post-content/index.php
  packages/block-library/src/post-date/index.php
  packages/block-library/src/post-excerpt/index.php
  packages/block-library/src/post-featured-image/index.php
  packages/block-library/src/post-tags/index.php
  packages/block-library/src/post-title/index.php
  packages/block-library/src/shortcode/index.php
  packages/block-library/src/site-title/index.php
  packages/block-library/src/social-link/index.php
  phpunit/class-register-block-type-from-metadata-test.php
  phpunit/fixtures/block.json
Labels: Needs Dev Note, [Feature] Block API, [Package] Block library, [Type] Enhancement

#21424 ESLint Plugin: Update ESLint and related deps to 6.8.x
  .eslintrc.js
  package-lock.json
  package.json
  packages/README.md
  packages/block-editor/src/components/page-template-picker/use-page-template-picker.native.js
  packages/block-editor/src/components/page-template-picker/with-page-template-picker.native.js
  packages/block-serialization-spec-parser/.eslintrc.json
  packages/data/src/namespace-store/test/index.js
  packages/data/src/test/registry.js
  packages/env/test/config.js
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/jest-console/src/test/index.test.js
  packages/redux-routine/src/test/index.js
  packages/scripts/CHANGELOG.md
  packages/scripts/package.json
Labels: [Package] ESLint plugin, [Package] Scripts

#20766 Jest Preset: Major version upgrade for Jest in all packages
  package-lock.json
  package.json
  packages/README.md
  packages/components/src/higher-order/with-focus-return/test/index.js
  packages/components/src/navigable-container/test/menu.js
  packages/components/src/navigable-container/test/tabbable.js
  packages/components/src/popover/test/index.js
  packages/components/src/sandbox/test/index.js
  packages/components/src/toolbar-group/test/index.js
  packages/components/src/toolbar/test/index.js
  packages/create-block/package.json
  packages/e2e-tests/package.json
  packages/env/package.json
  packages/jest-console/package.json
  packages/jest-preset-default/CHANGELOG.md
  packages/jest-preset-default/package.json
  packages/scripts/CHANGELOG.md
  packages/scripts/package.json
  storybook/test/index.js
Labels: Automated Testing, [Package] Jest preset, [Package] Scripts

#21197 [Mobile] Cover block upload progress
  packages/block-editor/src/components/media-upload-progress/styles.native.scss
  packages/block-library/src/cover/edit.native.js
  packages/components/src/mobile/image-with-focalpoint/index.native.js
Labels: [Block] Cover, [Feature] Media

#17709 Document getAnchorRect prop for Popover component.
  packages/components/src/popover/README.md
Labels: [Type] Documentation

#20904 Fix: `$black` background-color remains visible when there is no backg…
  packages/block-library/src/cover/style.scss
Labels: [Block] Cover, [Type] Bug

#21196 [Mobile] Enable cover block uploads - dev only
  packages/block-editor/src/components/media-upload-progress/styles.native.scss
  packages/block-editor/src/components/media-upload/index.native.js
  packages/block-library/src/cover/edit.native.js
  packages/components/src/mobile/image-with-focalpoint/index.native.js
Labels: [Block] Cover, [Feature] Media

#21266 Update the buttons block to use the new color support flag.
  packages/block-library/src/button/block.json
  packages/block-library/src/button/deprecated.js
  packages/block-library/src/button/edit.js
  packages/block-library/src/button/editor.scss
  packages/block-library/src/button/index.js
  packages/block-library/src/button/save.js
  packages/block-library/src/button/style.scss
  packages/block-library/src/buttons/style.scss
  packages/e2e-tests/fixtures/blocks/core__button__center.serialized.html
  packages/e2e-tests/fixtures/blocks/core__button__center__deprecated.html
  packages/e2e-tests/fixtures/blocks/core__button__center__deprecated.json
  packages/e2e-tests/fixtures/blocks/core__button__center__deprecated.parsed.json
  packages/e2e-tests/fixtures/blocks/core__button__center__deprecated.serialized.html
  packages/e2e-tests/fixtures/blocks/core__button__squared.html
  packages/e2e-tests/fixtures/blocks/core__button__squared.json
  packages/e2e-tests/fixtures/blocks/core__button__squared.parsed.json
  packages/e2e-tests/fixtures/blocks/core__button__squared.serialized.html
  packages/e2e-tests/fixtures/blocks/core__buttons.html
  packages/e2e-tests/fixtures/blocks/core__buttons.json
  packages/e2e-tests/fixtures/blocks/core__buttons.parsed.json
  packages/e2e-tests/fixtures/blocks/core__buttons.serialized.html
  packages/e2e-tests/specs/editor/blocks/__snapshots__/buttons.test.js.snap
Labels: Needs Design Feedback, Needs Dev Note, [Block] Buttons, [Type] Code Quality

#18982 Make dateI18n returns be affected by `gmt` parameter
  packages/date/README.md
  packages/date/src/index.js
  packages/date/src/test/index.js
Labels: [Package] Date, [Type] Bug

#21471 Make navigation block submenus usable on mobile.
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation/index.php
  packages/block-library/src/navigation/style.scss
  packages/block-library/src/navigation/theme.scss
Labels: Accessibility (a11y), Mobile Web, Needs Design Feedback, [Block] Navigation, [Type] Bug

#21436 Fullscreen Mode: Add a new keyboard shortcut to toggle Fullscreen Mode.
  packages/edit-post/src/components/keyboard-shortcuts/index.js
Labels: Needs Accessibility Feedback, [a11y] Keyboard & Focus

#21521 Build Tooling: Check Latest NPM: Advise additional npm install
  bin/check-latest-npm.js
Labels: [Type] Build Tooling, [Type] Enhancement

#21525 Skip RTL for Separator spacing
  packages/block-library/src/separator/style.scss
Labels: Needs Dev Note, [Block] Separator, [Type] Bug

#21501 Docs: Add section in block RFC about register_block_type_from_metadata
  docs/rfc/block-registration.md
  lib/compat.php
Labels: [Feature] Block API, [Type] Documentation

#21491 Typescript: Exclude native files
  tsconfig.base.json
Labels: Mobile App Compatibility

#21151 Enable prettier for JSX files
  packages/scripts/scripts/format-js.js
Labels: First-time Contributor, [Package] Scripts, [Type] Enhancement

#21472 Allow reusable block top and bottom paddings to collapse.
  packages/block-library/src/block/editor.scss
Labels: [Type] Enhancement

#21498 Try: Inset borders.
  packages/block-editor/src/components/block-list/style.scss
  packages/components/src/placeholder/style.scss
Labels: Needs Design Feedback

#21527 Rnmobile/fix font size breakage
  packages/block-editor/src/hooks/index.native.js
  packages/block-editor/src/hooks/line-height.js
  packages/block-editor/src/hooks/style.js
Labels: Mobile App Compatibility

#21482 Primitives: Add types
  package-lock.json
  package.json
  packages/block-editor/src/components/color-palette/test/__snapshots__/control.js.snap
  packages/components/src/color-palette/test/__snapshots__/index.js.snap
  packages/components/src/color-picker/test/__snapshots__/index.js.snap
  packages/edit-post/src/components/header/more-menu/test/__snapshots__/index.js.snap
  packages/edit-post/src/components/header/plugin-more-menu-item/test/__snapshots__/index.js.snap
  packages/edit-post/src/components/options-modal/options/test/__snapshots__/enable-custom-fields.js.snap
  packages/primitives/CHANGELOG.md
  packages/primitives/package.json
  packages/primitives/src/svg/index.js
  packages/primitives/tsconfig.json
  storybook/test/__snapshots__/index.js.snap
  tsconfig.json
Labels: Npm Packages, [Type] Code Quality

#21353 Refactor env commands into separate files
  packages/env/lib/commands/clean.js
  packages/env/lib/commands/index.js
  packages/env/lib/commands/run.js
  packages/env/lib/commands/start.js
  packages/env/lib/commands/stop.js
  packages/env/lib/env.js
  packages/env/lib/init-config.js
  packages/env/lib/retry.js
  packages/env/lib/wordpress.js
Labels: [Package] Env, [Type] Code Quality

#21354 ESLint Plugin: Continue considering unused variables after encountering exception
  packages/block-editor/src/components/block-inspector/index.js
  packages/block-editor/src/components/line-height-control/index.js
  packages/block-library/src/navigation/edit.js
  packages/block-library/src/social-link/edit.js
  packages/edit-post/src/components/header/mode-switcher/index.js
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/rules/__tests__/no-unused-vars-before-return.js
  packages/eslint-plugin/rules/no-unused-vars-before-return.js
Labels: Good First Review, [Package] ESLint plugin, [Type] Bug

#21487 Icons: Add types
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/icons/src/icon/index.js
  packages/icons/src/icon/stories/index.js
  packages/icons/tsconfig.json
  packages/primitives/src/svg/index.js
  tsconfig.json
Labels: Npm Packages, [Type] Code Quality

#21476 G2 visual followup
  packages/block-editor/src/components/alignment-toolbar/index.js
  packages/block-editor/src/components/alignment-toolbar/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/block-navigation/style.scss
  packages/block-editor/src/components/block-settings-menu/index.js
  packages/block-editor/src/components/block-switcher/index.js
  packages/block-editor/src/components/block-switcher/style.scss
  packages/block-editor/src/components/block-switcher/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/button-block-appender/index.js
  packages/block-editor/src/components/rich-text/format-toolbar/index.js
  packages/block-library/src/paragraph/editor.scss
  packages/components/src/button/style.scss
  packages/components/src/dropdown-menu/style.scss
  packages/components/src/dropdown/index.js
  packages/components/src/notice/style.scss
  packages/components/src/popover/index.js
  packages/components/src/popover/style.scss
  packages/components/src/toolbar/style.scss
  packages/icons/src/library/post-list.js
  storybook/test/__snapshots__/index.js.snap
Labels: Needs Design Feedback, [Type] Code Quality

#21556 Fix inserter popover direction.
  packages/block-editor/src/components/block-list/insertion-point.js
  packages/block-editor/src/components/button-block-appender/index.js
Labels: [Type] Enhancement

#21451 Correct slider step accordingly to the platform
  packages/block-library/src/spacer/edit.js
Labels: Mobile App Compatibility, [Block] Spacer

#21533 Import the interface stylesheet into the widgets page
  packages/edit-widgets/src/style.scss
Labels: Good First Review, [Feature] Widgets

#21455 [iOS] Use react native 0.62 hook for dark mode
  packages/compose/src/hooks/use-preferred-color-scheme/index.ios.js
  test/native/setup.js
Labels: Mobile App Compatibility

#21453 Menu REST API: Delete empty spaces
  lib/class-wp-rest-menu-items-controller.php
Labels: Good First Review

#21562 Update the "patterns" to reflect "user interface" instead
  docs/designers-developers/designers/user-interface.md
  docs/manifest.json
  docs/toc.json
Labels: [Type] Documentation

#21572 Restore default button styles
  packages/block-library/src/button/style.scss
Labels: [Block] Buttons, [Type] Bug

#21574 Improve the performance of the BlockPreview component
  packages/block-editor/src/components/block-preview/auto.js
  packages/block-editor/src/components/block-preview/index.js
Labels: [Type] Performance

#21564 Update bug report template to identify the editor version better
  .github/ISSUE_TEMPLATE/Bug_report.md
Labels: [Type] Project Management

#21571 Hide stepper arrows in cover height control (Firefox)
  packages/components/src/unit-control/styles/unit-control-styles.js
  storybook/test/__snapshots__/index.js.snap
Labels: Browser Issues, [Type] Bug

#21410 fix: [#20954] Scheduled posts display the correct url
  packages/editor/src/components/post-publish-panel/postpublish.js
Labels: Backport to WP Core, [Type] Bug

#17126 Link Format: collapse selection to end after insert
  packages/e2e-tests/specs/editor/various/links.test.js
  packages/format-library/src/link/inline.js
Labels: Good First Review, [Package] Format library

#21596 Chore: Update npm dependencies that warn
  package-lock.json
  packages/e2e-tests/config/setup-test-framework.js
  packages/jest-puppeteer-axe/CHANGELOG.md
  packages/jest-puppeteer-axe/package.json
Labels: Automated Testing, [Package] Jest Puppeteer aXe

#21534 Bundle the block autocompleter in the block-editor package
  packages/block-editor/src/autocompleters/block.js
  packages/block-editor/src/autocompleters/style.scss
  packages/block-editor/src/autocompleters/test/block.js
  packages/block-editor/src/components/autocomplete/index.js
  packages/block-editor/src/style.scss
  packages/editor/src/components/autocompleters/index.js
  packages/editor/src/components/autocompleters/style.scss
  packages/editor/src/hooks/default-autocompleters.js
Labels: [Feature] Inserter

#21603 [RNMobile] Correct colors usage in Button
  packages/block-library/src/button/edit.native.js
  packages/block-library/src/button/editor.native.scss
Labels: Mobile App Compatibility, [Block] Buttons

#21597 Update npm-package-json-lint from 4.0.3 to 5.0.0
  package-lock.json
  packages/scripts/CHANGELOG.md
  packages/scripts/package.json
Labels: [Package] Scripts

#21613 Types: Hide element, primitives, icons declarations
  packages/element/CHANGELOG.md
  packages/element/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/primitives/CHANGELOG.md
  packages/primitives/package.json
  tsconfig.json
Labels: [Package] Element, [Package] Icons, [Package] Primitives

#21602 ESLint Plugin: Add the recommended Prettier config to enforce WP coding styles
  .prettierrc.js
  package-lock.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/configs/recommended.js
  packages/eslint-plugin/package.json
  packages/scripts/config/.eslintrc.js
  packages/scripts/scripts/format-js.js
Labels: [Package] ESLint plugin, [Package] Scripts, [Type] Bug

#21465 [RNMobile] Adjust Range-Control to add the stepper control and allow type selection
  packages/block-library/src/columns/edit.native.js
  packages/block-library/src/gallery/columns-control/index.js
  packages/block-library/src/gallery/columns-control/index.native.js
  packages/block-library/src/gallery/edit.js
  packages/components/src/index.native.js
  packages/components/src/mobile/stepper-control/README.md
  packages/components/src/mobile/stepper-control/index.native.js
  packages/components/src/range-control/README.md
  packages/components/src/range-control/index.native.js
Labels: Mobile App Compatibility

#21350 Create document for contributing with triage
  docs/contributors/triage.md
Labels: [Type] Documentation

#21621 Improve URLPopover code in accordance with a review received
  packages/block-editor/src/components/url-popover/link-viewer-url.js
  packages/block-editor/src/components/url-popover/link-viewer.js
Labels: [Package] Components, [Type] Code Quality

#21612 Fix: Media Text padding on inner blocks
  packages/block-library/src/media-text/editor.scss
Labels: [Block] Media & Text, [Type] Bug

#21545 env: Expose port 3306 of mysql container
  packages/env/lib/build-docker-compose-config.js
Labels: [Package] Env

#21600 Fix/calendar focus
  packages/components/src/date-time/style.scss
Labels: Accessibility (a11y)

#21625 Docs: Update Getting Started instructions for remote server
  docs/contributors/getting-started.md
Labels: [Type] Documentation

#21505 [RNMobile] elevate scrollEnabled prop to BlockList
  packages/block-editor/src/components/block-list/index.native.js
  packages/block-editor/src/components/inner-blocks/index.native.js
  packages/block-library/src/column/edit.native.js
  packages/block-library/src/columns/edit.native.js
  packages/block-library/src/group/edit.native.js
Labels: Mobile App Compatibility, [Feature] Nested / Inner Blocks

#21007 Update cleanForSlug() to remove additional non-word characters
  packages/editor/src/utils/test/url.js
  packages/editor/src/utils/url.js
  packages/url/README.md
  packages/url/src/clean-for-slug.js
  packages/url/src/test/index.test.js
Labels: [Package] Url, [Type] Enhancement

#20540 Snackbar: Replace incorrect 'label' attribute with 'aria-label'
  packages/components/src/snackbar/index.js
  storybook/test/__snapshots__/index.js.snap
Labels: [Package] Components, [Type] Bug

#21636 Template Part: Add extra validation when loading template parts
  packages/block-library/src/template-part/index.php
Labels: [Feature] Full Site Editing, [Package] Block library, [Type] Bug

#21629 Docs: Update triage links to new document
  CONTRIBUTING.md
  docs/contributors/readme.md
  docs/contributors/repository-management.md
  docs/manifest.json
  docs/toc.json
Labels: [Type] Documentation

#21340 Try a fixed toolbar in the navigation page
  package-lock.json
  packages/edit-navigation/package.json
  packages/edit-navigation/src/components/layout/index.js
  packages/edit-navigation/src/components/menu-editor/block-editor-panel.js
  packages/edit-navigation/src/components/menu-editor/index.js
  packages/edit-navigation/src/components/menu-editor/navigation-structure-panel.js
  packages/edit-navigation/src/components/menu-editor/style.scss
Labels: [Block] Navigation, [Type] Enhancement

#21633 Fix panel collapsing in navigation page
  packages/edit-navigation/src/components/menu-editor/block-editor-panel.js
  packages/edit-navigation/src/components/menu-editor/navigation-structure-panel.js
  packages/edit-navigation/src/components/menu-editor/style.scss
Labels: [Block] Navigation, [Type] Bug

#21615 Fix: Remove unrequired margins from the columns block
  packages/block-library/src/columns/editor.scss
Labels: [Block] Columns, [Type] Bug

#21642 Fix buttons styling for old markup
  packages/block-library/src/button/style.scss
Labels: [Block] Buttons, [Type] Bug

#21363 Update e2e test for multi-entity saving in site editor
  packages/e2e-test-utils/src/open-global-block-inserter.js
  packages/e2e-tests/config/setup-test-framework.js
  packages/e2e-tests/specs/experiments/multi-entity-saving.test.js
Labels: [Feature] Full Site Editing

#21645 Fix: Make sidebars pinned by default.
  packages/e2e-tests/specs/editor/plugins/__snapshots__/plugins-api.test.js.snap
  packages/edit-post/src/components/sidebar/settings-sidebar/index.js
  packages/interface/src/components/complementary-area/index.js
  packages/interface/src/store/defaults.js
  packages/interface/src/store/reducer.js
  packages/interface/src/store/selectors.js
Labels: [Package] Interface, [Priority] High, [Type] Bug, [Type] Regression

#21626 Remove storyshot integration for storybook
  docs/contributors/testing-overview.md
  package-lock.json
  package.json
  packages/components/src/slot-fill/stories/index.js
  storybook/README.md
  storybook/test/__snapshots__/index.js.snap
  storybook/test/index.js
Labels: Automated Testing, Storybook

#21470 Simplify Reusable Block description.
  packages/block-library/src/block/index.js
Labels: [Block] Block, [Type] Copy

#20545 Add storybook story for Notice component
  packages/components/src/notice/stories/index.js
Labels: Storybook, [Package] Components

#21654 Docs: Add location for components style.css
  docs/designers-developers/developers/platform/README.md
  packages/components/README.md
Labels: [Feature] UI Components, [Type] Documentation

#20974 Add storybook story for the ToolbarButton component
  packages/components/src/toolbar-button/stories/index.js
Labels: Storybook, [Package] Components

#21122 Add storybook story for DropdownMenu component
  packages/components/src/dropdown-menu/stories/index.js
Labels: Storybook, [Package] Components

#21588 Add the storybook story for the GradientPicker component
  packages/components/src/gradient-picker/stories/index.js
Labels: Storybook, [Package] Components

#21591 Add the storybook story for the CustomGradientPicker component
  packages/components/src/custom-gradient-picker/stories/index.js
Labels: Storybook, [Package] Components

#21632 Allow wrapping for Navigation block links
  packages/block-library/src/navigation/style.scss
Labels: [Block] Navigation, [Type] Bug

#18085 Storybook: Adds FormToggle component
  packages/components/src/form-toggle/stories/index.js
Labels: Storybook, [Feature] UI Components

#21578 Template Switcher: Add current theme
  docs/designers-developers/developers/data/data-core.md
  lib/rest-api.php
  packages/core-data/README.md
  packages/core-data/src/actions.js
  packages/core-data/src/reducer.js
  packages/core-data/src/resolvers.js
  packages/core-data/src/selectors.js
  packages/edit-site/src/components/template-switcher/index.js
Labels: [Feature] Full Site Editing

#21630 Fix the JSDoc return type for getEntityRecords
  docs/designers-developers/developers/data/data-core.md
  packages/core-data/README.md
  packages/core-data/src/selectors.js
Labels: [Package] Data, [Type] Documentation

#21652 Add end to end test for pinned items
  packages/e2e-tests/plugins/plugins-api/sidebar.js
  packages/e2e-tests/specs/editor/plugins/__snapshots__/plugins-api.test.js.snap
  packages/e2e-tests/specs/editor/plugins/plugins-api.test.js
Labels: Automated Testing, [Feature] Plugins API

#21682 Make useMediaQuery return the correct value on the first render
  packages/compose/src/hooks/use-media-query/index.js
  packages/compose/src/hooks/use-media-query/test/index.js
Labels: [Type] Bug

#21467 Block API: Add Block Context support
  docs/designers-developers/developers/block-api/block-context.md
  docs/designers-developers/developers/tutorials/block-tutorial/creating-dynamic-blocks.md
  docs/designers-developers/developers/tutorials/metabox/meta-block-4-use-data.md
  docs/manifest.json
  docs/toc.json
  lib/class-wp-block.php
  lib/compat.php
  lib/load.php
  package-lock.json
  packages/block-editor/README.md
  packages/block-editor/src/components/block-context/README.md
  packages/block-editor/src/components/block-context/index.js
  packages/block-editor/src/components/block-edit/edit.js
  packages/block-editor/src/components/block-edit/test/edit.js
  packages/block-editor/src/components/index.js
  packages/block-editor/src/components/index.native.js
  packages/block-editor/src/components/inner-blocks/index.js
  packages/block-library/src/post-title/block.json
  packages/block-library/src/post-title/edit.js
  packages/block-library/src/post-title/index.php
  packages/core-data/package.json
  packages/core-data/src/resolvers.js
  packages/core-data/src/utils/if-not-resolved.js
  packages/core-data/src/utils/index.js
  packages/core-data/src/utils/test/if-not-resolved.js
  packages/e2e-tests/plugins/block-context.php
  packages/e2e-tests/plugins/block-context/index.js
  packages/e2e-tests/specs/editor/plugins/block-context.test.js
  packages/editor/src/components/provider/index.js
  packages/eslint-plugin/configs/jsdoc.js
  phpunit/class-block-context-test.php
  phpunit/class-wp-block-test.php
Labels: [Feature] Block API, [Type] New API

#21537 Build Tools: Install Composer dependencies as pre-lint step
  .travis.yml
  package.json
Labels: [Type] Build Tooling

#21489 Build Tooling: Configure Webpack to watch only build files
  webpack.config.js
Labels: [Type] Build Tooling, [Type] Performance

#20733 Keycodes: Test modifiers for keyboard event as exclusive set
  packages/keycodes/CHANGELOG.md
  packages/keycodes/src/index.js
  packages/keycodes/src/test/index.js
Labels: Browser Issues, [Package] Keycodes, [Type] Bug

#20599 Components: Fix focus loss for Guide Finish button in IE
  packages/components/src/guide/finish-button.js
  packages/editor/src/components/post-title/index.js
Labels: Accessibility (a11y), Browser Issues, [Type] Bug

#21358 ESLint Plugin: Fix no-unused-vars-before-return JSX identifier reference
  packages/block-library/src/social-link/edit.js
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/rules/__tests__/no-unused-vars-before-return.js
  packages/eslint-plugin/rules/no-unused-vars-before-return.js
Labels: [Package] ESLint plugin, [Type] Bug

#21586 Fix: Legacy widgets z-index issue
  packages/block-library/src/legacy-widget/editor.scss
Labels: [Block] Legacy Widget, [Feature] Widgets, [Package] Edit Widgets, [Type] Bug

#20215 Scripts: Install Chromium on demand together with `test-e2e`
  .travis.yml
  bin/build-plugin-zip.sh
  package-lock.json
  package.json
  packages/e2e-tests/specs/editor/various/links.test.js
  packages/media-utils/src/utils/upload-media.js
  packages/scripts/CHANGELOG.md
  packages/scripts/package.json
  packages/scripts/scripts/test-e2e.js
Labels: [Package] Scripts, [Type] Enhancement

#21514 Change wp_make_content_images_responsive to wp_filter_content_tags
  lib/template-loader.php
  packages/block-library/src/template-part/index.php
Labels: Backwards Compatibility, [Type] Task

#20605 e2e test for reusable block after refresh.
  packages/e2e-tests/specs/editor/various/reusable-blocks.test.js
Labels: Automated Testing, [Feature] Reusable Blocks
