Repository WordPress/gutenberg, pull requests merged in 2020-06, with the labels that each got.

#20522 @wordpress/env: Make JSDoc conform to coding guidelines
  packages/env/lib/build-docker-compose-config.js
  packages/env/lib/commands/clean.js
  packages/env/lib/config.js
  packages/env/lib/download-source.js
  packages/env/lib/init-config.js
  packages/env/lib/wordpress.js
Labels: [Package] Env, [Type] Code Quality, [Type] Documentation

#22710 Extract inserter state into reusable hooks
  packages/block-editor/src/components/inserter/block-list.js
  packages/block-editor/src/components/inserter/block-patterns.js
  packages/block-editor/src/components/inserter/hooks/use-block-types-state.js
  packages/block-editor/src/components/inserter/hooks/use-insertion-point.js
  packages/block-editor/src/components/inserter/hooks/use-patterns-state.js
  packages/block-editor/src/components/inserter/menu.js
Labels: [Feature] Inserter, [Type] Code Quality

#22735 Scripts: Add support for postcss.config.js
  packages/scripts/CHANGELOG.md
  packages/scripts/config/webpack.config.js
  packages/scripts/utils/config.js
  packages/scripts/utils/index.js
Labels: [Package] Scripts, [Type] Enhancement

#22785 Env: Update Source type to WPSource
  packages/env/lib/config.js
Labels: [Type] Bug, [Type] Code Quality

#22790 Align navigator icon and buttons to top
  packages/block-editor/src/components/block-navigation/style.scss
Labels: [Feature] Block Navigation, [Feature] Navigation Screen

#22768 RNMobile: merge 1.29.0 release to master
  packages/block-library/src/index.native.js
Labels: Mobile App Compatibility

#22811 E2E Tests: Specify icon for block context test blocks
  packages/e2e-tests/plugins/block-context/index.js
Labels: [Package] E2E Tests, [Priority] High, [Type] Bug

#21024 Add Rich image editing capabilities to Gutenberg
  lib/class-wp-rest-image-editor-controller.php
  lib/image-editor/class-image-editor-crop.php
  lib/image-editor/class-image-editor-flip.php
  lib/image-editor/class-image-editor-rotate.php
  lib/image-editor/class-image-editor.php
  lib/load.php
  lib/rest-api.php
  package-lock.json
  packages/block-library/package.json
  packages/block-library/src/editor.scss
  packages/block-library/src/index.js
  packages/block-library/src/rich-image/constants.js
  packages/block-library/src/rich-image/editor.scss
  packages/block-library/src/rich-image/index.js
  packages/block-library/src/rich-image/rich-image/api.js
  packages/block-library/src/rich-image/rich-image/icon.js
  packages/block-library/src/rich-image/rich-image/index.js
Labels: Core REST API Task, [Block] Image, [Feature] Media, [Feature] REST API Interaction, [Type] Enhancement

#22794 Fix JSDoc for __experimentalAddAnnotation()
  packages/annotations/src/store/actions.js
Labels: [Feature] Annotations

#22593 Add icons for image tools, other, and update list icons
  packages/icons/src/index.js
  packages/icons/src/library/aspect-ratio.js
  packages/icons/src/library/asterisk.js
  packages/icons/src/library/crop.js
  packages/icons/src/library/flip-horizontal.js
  packages/icons/src/library/flip-vertical.js
  packages/icons/src/library/format-list-bullets-rtl.js
  packages/icons/src/library/format-list-bullets.js
  packages/icons/src/library/format-list-numbered-rtl.js
  packages/icons/src/library/format-list-numbered.js
  packages/icons/src/library/fullscreen.js
  packages/icons/src/library/rotate-left.js
  packages/icons/src/library/rotate-right.js
Labels: [Package] Icons, [Type] Enhancement

#22695 REST API: Update default values for fields in the block type schema
  docs/rfc/block-registration.md
  lib/class-wp-rest-block-types-controller.php
  phpunit/class-wp-rest-block-types-controller-test.php
Labels: Core REST API Task, [Feature] Blocks, [Type] Bug

#22498 Dependency Extraction Webpack Plugin: Add types
  package-lock.json
  package.json
  packages/dependency-extraction-webpack-plugin/CHANGELOG.md
  packages/dependency-extraction-webpack-plugin/lib/.eslintrc.json
  packages/dependency-extraction-webpack-plugin/lib/index.js
  packages/dependency-extraction-webpack-plugin/lib/util.js
  packages/dependency-extraction-webpack-plugin/package.json
  packages/dependency-extraction-webpack-plugin/test/util.js
  packages/dependency-extraction-webpack-plugin/tsconfig.json
  tsconfig.json
  webpack.config.js
Labels: [Package] Dependency Extraction Webpack Plugin, [Status] In Progress, [Type] Code Quality

#22739 [Navigation screen] Retain block IDs on save
  packages/edit-navigation/src/components/menu-editor/use-navigation-blocks.js
Labels: [Feature] Block Navigation, [Feature] Navigation Screen

#16169 Added ability to filter latest posts by author
  packages/block-library/src/latest-posts/block.json
  packages/block-library/src/latest-posts/edit.js
  packages/block-library/src/latest-posts/index.php
  packages/block-library/src/latest-posts/style.scss
  packages/components/src/query-controls/author-select.js
  packages/components/src/query-controls/index.js
  packages/e2e-tests/fixtures/block-transforms.js
  packages/e2e-tests/fixtures/blocks/core__latest-posts.html
  packages/e2e-tests/fixtures/blocks/core__latest-posts.json
  packages/e2e-tests/fixtures/blocks/core__latest-posts.parsed.json
  packages/e2e-tests/fixtures/blocks/core__latest-posts__displayPostDate.json
Labels: [Block] Latest Posts, [Feature] UI Components, [Type] Enhancement

#22825 Separate concerns in useNavigationBlocks
  packages/edit-navigation/src/components/menu-editor/helpers.js
  packages/edit-navigation/src/components/menu-editor/index.js
  packages/edit-navigation/src/components/menu-editor/use-create-missing-menu-items.js
  packages/edit-navigation/src/components/menu-editor/use-debounced-value.js
  packages/edit-navigation/src/components/menu-editor/use-menu-items.js
  packages/edit-navigation/src/components/menu-editor/use-navigation-blocks.js
Labels: [Feature] Navigation Screen

#22698 Take block data for Global Styles from block.json
  docs/designers-developers/developers/themes/theme-json.md
  lib/global-styles.php
  packages/block-library/src/heading/block.json
  packages/block-library/src/paragraph/block.json
Labels: Global Styles

#22792 Disable the navigator toolbar button on the experimental navigation screen
  packages/block-library/src/navigation/edit.js
  packages/edit-navigation/src/index.js
Labels: [Block] Navigation, [Feature] Navigation Screen

#22381 Update: Remove static defaults from complementary areas active area
  packages/edit-post/src/components/sidebar/settings-sidebar/index.js
  packages/edit-site/src/components/sidebar/index.js
  packages/edit-widgets/src/components/sidebar/index.js
  packages/interface/src/components/complementary-area/index.js
  packages/interface/src/store/defaults.js
  packages/interface/src/store/defaults.native.js
  packages/interface/src/store/reducer.js
  packages/interface/src/store/selectors.js
Labels: [Package] Interface, [Type] Enhancement

#22828 Use Panel for navigation structure on small screens only
  packages/edit-navigation/src/components/menu-editor/index.js
  packages/edit-navigation/src/components/menu-editor/navigation-structure-area.js
  packages/edit-navigation/src/components/menu-editor/navigation-structure-panel.js
  packages/edit-navigation/src/components/menu-editor/style.scss
Labels: [Feature] Navigation Screen

#22293 adds default text for appender
  packages/block-editor/src/components/button-block-appender/index.js
  packages/block-editor/src/components/button-block-appender/style.scss
Labels: [Feature] Nested / Inner Blocks, [Type] Enhancement

#21492 Cover: Add Padding Styles
  docs/manifest.json
  lib/client-assets.php
  packages/block-editor/src/components/spacing-panel-control/index.js
  packages/block-editor/src/components/unit-control/index.js
  packages/block-editor/src/hooks/padding.js
  packages/block-editor/src/hooks/style.js
  packages/block-library/src/cover/block.json
  packages/block-library/src/cover/edit.js
  packages/components/src/box-control/README.md
  packages/components/src/box-control/all-input-control.js
  packages/components/src/box-control/icon.js
  packages/components/src/box-control/index.js
  packages/components/src/box-control/input-controls.js
  packages/components/src/box-control/linked-button.js
  packages/components/src/box-control/stories/index.js
  packages/components/src/box-control/styles/box-control-icon-styles.js
  packages/components/src/box-control/styles/box-control-styles.js
  packages/components/src/box-control/styles/box-control-visualizer-styles.js
  packages/components/src/box-control/unit-control.js
  packages/components/src/box-control/utils.js
  packages/components/src/box-control/visualizer.js
  packages/components/src/button/style.scss
  packages/components/src/flex/README.md
  packages/components/src/flex/block.js
  packages/components/src/flex/index.js
  packages/components/src/flex/item.js
  packages/components/src/flex/stories/index.js
  packages/components/src/flex/stories/style.css
  packages/components/src/flex/styles/flex-styles.js
  packages/components/src/index.js
  packages/editor/src/components/provider/index.js
Labels: Needs Accessibility Feedback, [Block] Cover, [Feature] Design Tools, [Status] In Progress

#22590 Block Navigator: Use default block appender
  packages/block-editor/src/components/block-navigation/appender.js
  packages/block-editor/src/components/block-navigation/style.scss
Labels: Needs Design Feedback, [Feature] Block Navigation, [Feature] Inserter, [Feature] Navigation Screen

#22197 [RNMobile] Support Theme Colors and Gradients
  packages/block-editor/src/components/block-settings/container.native.js
  packages/block-library/src/button/edit.native.js
  packages/edit-post/src/editor.native.js
  packages/editor/src/components/provider/index.native.js
  test/native/setup.js
Labels: Mobile App Compatibility

#22684 Add new package `@wordpress/lazy-import` for lazily installed packages
  docs/manifest.json
  package-lock.json
  package.json
  packages/create-block/package.json
  packages/eslint-plugin/configs/jsdoc.js
  packages/is-shallow-equal/benchmark/index.js
  packages/lazy-import/.npmrc
  packages/lazy-import/CHANGELOG.md
  packages/lazy-import/README.md
  packages/lazy-import/lib/index.js
  packages/lazy-import/package.json
  packages/lazy-import/tsconfig.json
  tsconfig.json
Labels: Npm Packages, [Type] New API, [Type] Performance

#22844 Edit Site: Refactor business logic into store.
  lib/edit-site-page.php
  package-lock.json
  packages/block-editor/src/components/provider/use-block-sync.js
  packages/data/src/plugins/persistence/index.js
  packages/edit-site/package.json
  packages/edit-site/src/components/block-editor/index.js
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/header/index.js
  packages/edit-site/src/components/navigate-to-link/index.js
  packages/edit-site/src/components/page-switcher/index.js
  packages/edit-site/src/components/save-button/index.js
  packages/edit-site/src/components/template-switcher/index.js
  packages/edit-site/src/index.js
  packages/edit-site/src/store/actions.js
  packages/edit-site/src/store/controls.js
  packages/edit-site/src/store/index.js
  packages/edit-site/src/store/reducer.js
  packages/edit-site/src/store/selectors.js
  packages/edit-site/src/store/test/actions.js
  packages/edit-site/src/store/test/controls.js
  packages/edit-site/src/store/test/reducer.js
  packages/edit-site/src/store/test/selectors.js
  packages/edit-site/src/utils/find-template.js
  packages/edit-site/src/utils/index.js
  packages/edit-site/src/utils/test/find-template.js
  packages/format-library/src/link/utils.js
  packages/url/CHANGELOG.md
  packages/url/README.md
  packages/url/src/get-path-and-query-string.js
  packages/url/src/index.js
  packages/url/src/test/index.test.js
Labels: [Feature] Full Site Editing, [Type] Code Quality

#22613 wp-env: correct multisite support
  .travis.yml
  composer.lock
  packages/env/lib/build-docker-compose-config.js
  packages/env/lib/config.js
  packages/env/lib/wordpress.js
  phpunit/bootstrap.php
  phpunit/class-phpunit-environment-setup-test.php
Labels: [Package] Env, [Type] Bug

#22849 Blocks: Skip null values returned from the server during registration
  lib/class-wp-rest-block-types-controller.php
  packages/blocks/src/api/registration.js
  packages/blocks/src/api/test/registration.js
Labels: [Feature] Block API, [Package] Blocks, [Type] Bug

#22727 Create Block: Integrate CSS import in JS with esnext template
  packages/create-block/CHANGELOG.md
  packages/create-block/lib/templates/esnext/$slug.php.mustache
  packages/create-block/lib/templates/esnext/src/edit.js.mustache
  packages/create-block/lib/templates/esnext/src/editor.scss.mustache
  packages/create-block/lib/templates/esnext/src/index.js.mustache
  packages/create-block/lib/templates/esnext/src/style.scss.mustache
Labels: [Package] Create Block, [Type] Enhancement

#22721 Add data-handle to all script tags in the admin.
  lib/block-directory.php
Labels: [Feature] Block Directory, [Type] Task

#22882 Rename the navigation mode BlockBreadcrumb component to BlockSelectionButton
  packages/base-styles/_z-index.scss
  packages/block-editor/src/components/block-list/block-popover.js
  packages/block-editor/src/components/block-list/block-selection-button.js
  packages/block-editor/src/components/block-list/block-selection-button.native.js
  packages/block-editor/src/components/block-list/block-selection-button.native.scss
  packages/block-editor/src/components/block-list/style.scss
  packages/block-editor/src/components/floating-toolbar/index.native.js
Labels: [Package] Block editor, [Type] Code Quality

#22868 Remove aria-label from iframe resizers
  package-lock.json
  packages/compose/package.json
Labels: Accessibility (a11y), [Package] Compose, [Type] Bug

#22764 Warn about open issues in milestone before starting release
  bin/plugin/commands/changelog.js
  bin/plugin/commands/release.js
  bin/plugin/config.js
  bin/plugin/lib/milestone.js
  bin/tsconfig.json
Labels: [Type] Build Tooling, [Type] Enhancement

#22748 Docs: Default Meta Box Tutorial to ESNext
  docs/designers-developers/developers/tutorials/metabox/meta-block-3-add.md
Labels: [Type] Documentation

#22786 Scripts: Split webpack loader rules for CSS and Sass files
  packages/scripts/CHANGELOG.md
  packages/scripts/config/webpack.config.js
Labels: [Package] Scripts, [Type] Bug

#22793 CopyHandler: Fix unintended Copy override when copying from input or textarea elements
  packages/block-editor/src/components/copy-handler/index.js
  packages/dom/CHANGELOG.md
  packages/dom/README.md
  packages/dom/src/dom.js
  packages/e2e-tests/specs/editor/various/__snapshots__/copy-cut-paste-whole-blocks.test.js.snap
  packages/e2e-tests/specs/editor/various/copy-cut-paste-whole-blocks.test.js
Labels: [Feature] Writing Flow, [Type] Bug

#22771 ESLint Plugin/Scripts: Update ESLint and related deps to 7.1.0
  .eslintrc.js
  package-lock.json
  packages/README.md
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/eslint-plugin/rules/gutenberg-phase.js
  packages/eslint-plugin/rules/no-unused-vars-before-return.js
  packages/scripts/CHANGELOG.md
  packages/scripts/package.json
Labels: [Package] ESLint plugin, [Package] Scripts, [Type] Breaking Change

#22827 Use Card instead of Panel for the block editor
  packages/edit-navigation/src/components/menu-editor/block-editor-area.js
  packages/edit-navigation/src/components/menu-editor/index.js
  packages/edit-navigation/src/components/menu-editor/style.scss
Labels: [Feature] Navigation Screen

#22696 Implement roving tabindex on the Image block
  packages/block-editor/src/components/block-alignment-matrix-toolbar/index.js
  packages/block-editor/src/components/media-replace-flow/index.js
  packages/block-editor/src/components/url-popover/image-url-input-ui.js
  packages/block-library/src/rich-image/rich-image/index.js
Labels: Accessibility (a11y), [Package] Block editor

#22841 Fix: Legacy Widgets: Widgets with special chars on classname did not load
  lib/class-wp-rest-widget-forms.php
  packages/block-library/src/legacy-widget/edit/handler.js
Labels: [Block] Legacy Widget, [Feature] Widgets, [Type] Bug

#22899 Refactor ImageSizeControl to functional components.
  packages/block-editor/src/components/image-size-control/index.js
Labels: Good First Review, [Package] Block editor, [Type] Code Quality

#22896 Fix font size picker reset button
  packages/components/src/font-size-picker/style.scss
Labels: Good First Review, Internationalization (i18n), Needs Design Feedback, [Type] Bug

#22911 Env: Remove unused options.hasTests param from JSDoc
  packages/env/lib/config.js
Labels: [Package] Env

#22913 Format library: Remove unused options.text param from JSDoc for createLinkFormat()
  packages/format-library/src/link/utils.js
Labels: [Package] Format library

#22856 LinkControl - avoid showing "Recently updated" when there are no recently updated Pages from the API
  packages/block-editor/src/components/link-control/index.js
  packages/block-editor/src/components/link-control/test/index.js
  packages/block-editor/src/components/url-input/index.js
Labels: [Feature] Link Editing, [Type] Bug

#22722 Add link color picking in global styles
  lib/global-styles.php
  packages/block-editor/src/hooks/color.js
  packages/block-editor/src/hooks/style.js
  packages/block-library/src/columns/block.json
  packages/block-library/src/group/block.json
  packages/block-library/src/heading/block.json
  packages/block-library/src/media-text/block.json
  packages/block-library/src/paragraph/block.json
  packages/block-library/src/style.scss
Labels: Global Styles, Needs Dev Note, [Feature] Themes

#22926 Fix CustomSelectControl items to use default cursor style
  packages/components/src/custom-select-control/style.scss
Labels: [Package] Components, [Type] Bug

#22909 Refactor BlockCompare block to use React hooks
  packages/block-editor/src/components/block-compare/index.js
Labels: Good First Review, [Package] Block editor, [Type] Code Quality

#22925 Fix Custom select control component dropdown arrow spacing
  packages/components/src/custom-select-control/stories/index.js
  packages/components/src/custom-select-control/style.scss
Labels: [Package] Components, [Type] Bug

#22622 Docs: Extend details about features integration with `theme.json`
  docs/designers-developers/developers/themes/theme-json.md
Labels: [Feature] Block API, [Feature] Extensibility, [Feature] Themes, [Type] Documentation

#22898 Adds a heading to the block inserters tips (#22863)
  packages/block-editor/src/components/inserter/menu.js
Labels: Accessibility (a11y), Good First Review, Needs Accessibility Feedback, Needs Copy Review, [Type] Enhancement

#22903 Add semantic headings to block inserter groups #22859
  packages/block-editor/src/components/inserter/panel.js
  packages/block-editor/src/components/inserter/style.scss
Labels: Accessibility (a11y), Good First Review, Needs Accessibility Feedback, [Feature] Inserter

#22894 Refactor FormFileUpload to use React hooks
  packages/components/src/form-file-upload/index.js
Labels: Good First Review, [Feature] Media, [Package] Components, [Type] Code Quality

#22910 useSelect for block-title .
  docs/contributors/coding-guidelines.md
  packages/block-editor/README.md
  packages/block-editor/src/components/block-title/index.js
  packages/block-editor/src/components/block-title/test/index.js
Labels: [Package] Block editor, [Type] Code Quality

#22901 Refactor AudioEdit block to use React hooks
  packages/block-library/src/audio/edit.js
Labels: [Block] Audio, [Package] Block library, [Type] Code Quality

#22917 Polish ImageSizeControl.
  packages/block-editor/src/components/image-size-control/index.js
  packages/e2e-tests/specs/editor/blocks/image.test.js
Labels: Good First Review, [Package] Block editor, [Type] Code Quality

#22746 Clean up block padding rules for group block children
  packages/block-library/src/group/editor.scss
Labels: [Block] Group, [Type] Regression

#22905 Remove ifBlockEditSelected internal higher-order component
  packages/block-editor/src/components/block-controls/index.js
  packages/block-editor/src/components/block-controls/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/block-edit/context.js
  packages/block-editor/src/components/block-format-controls/index.js
  packages/block-editor/src/components/inspector-advanced-controls/index.js
  packages/block-editor/src/components/inspector-controls/index.js
  packages/block-editor/src/components/inspector-controls/index.native.js
  packages/block-library/src/more/test/__snapshots__/edit.js.snap
Labels: Good First Review, [Package] Block editor, [Type] Code Quality, [Type] Performance

#22906 Use React hooks for TabPanel component
  packages/components/src/tab-panel/index.js
Labels: Good First Review, [Package] Components, [Type] Code Quality

#22876 Edit Site: Avoid dirtying un-customized templates on first load.
  packages/block-library/src/template-part/edit/index.js
  packages/block-library/src/template-part/edit/inner-blocks.js
  packages/e2e-tests/specs/experiments/multi-entity-editing.test.js
  packages/e2e-tests/specs/experiments/template-part.test.js
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/save-button/index.js
  packages/editor/src/components/entities-saved-states/index.js
Labels: [Feature] Full Site Editing, [Type] Bug

#22843 Site Title Block: Add alignment and tag level support
  packages/block-library/src/site-title/block.json
  packages/block-library/src/site-title/edit.js
  packages/block-library/src/site-title/index.php
Labels: [Block] Site Title, [Feature] Full Site Editing, [Type] Enhancement

#21843 Docs: initial improvement of reusable blocks documentation
  docs/designers-developers/key-concepts.md
Labels: [Type] Documentation

#22577 Try: removing the multi-block type check to make __experimentalConvert more useful
  packages/blocks/src/api/factory.js
  packages/blocks/src/api/test/factory.js
Labels: [Feature] Block API, [Package] Blocks

#21150 [RNMobile] Unsupported fallback spike
  packages/block-library/src/missing/edit.native.js
  packages/block-library/src/missing/style.native.scss
  packages/block-library/src/missing/test/edit.native.js
  packages/editor/src/components/provider/index.native.js
  test/native/setup.js
Labels: Mobile App Compatibility

#22335 Update triage to include release instructions
  docs/contributors/triage.md
Labels: [Type] Documentation

#21430 Add mechanism to render complementary areas on edit site
  packages/edit-post/src/components/header/more-menu/index.js
  packages/edit-post/src/components/header/plugin-more-menu-item/index.js
  packages/edit-post/src/components/header/plugin-more-menu-item/test/__snapshots__/index.js.snap
  packages/edit-post/src/components/header/plugin-more-menu-item/test/index.js
  packages/edit-post/src/components/header/plugin-sidebar-more-menu-item/index.js
  packages/edit-post/src/components/header/plugins-more-menu-group/index.js
  packages/edit-site/src/components/header/more-menu/index.js
  packages/edit-site/src/components/sidebar/index.js
  packages/interface/src/components/action-item/README.md
  packages/interface/src/components/action-item/index.js
  packages/interface/src/components/complementary-area-context/index.js
  packages/interface/src/components/complementary-area-header/index.js
  packages/interface/src/components/complementary-area-more-menu-item/README.md
  packages/interface/src/components/complementary-area-more-menu-item/index.js
  packages/interface/src/components/complementary-area-toggle/README.md
  packages/interface/src/components/complementary-area-toggle/index.js
  packages/interface/src/components/complementary-area/README.md
  packages/interface/src/components/complementary-area/index.js
  packages/interface/src/components/index.js
Labels: [Feature] Extensibility, [Package] Interface, [Type] Enhancement

#22661 Update block fixture README to use shorter friendlier version of command
  packages/e2e-tests/fixtures/blocks/README.md
Labels: Automated Testing, [Type] Documentation

#22961 Make ToolbarButton API consistent
  packages/components/src/toolbar-button/index.js
Labels: [Package] Components, [Type] Enhancement

#22937 Fix: Latest posts - display Author
  packages/block-library/src/latest-posts/edit.js
Labels: [Block] Latest Posts, [Type] Bug

#22943 Blocks: Add missing param docs for BlockContentProvider and registerBlockCollection()
  packages/blocks/README.md
  packages/blocks/src/api/registration.js
  packages/blocks/src/block-content-provider/index.js
Labels: [Package] Blocks, [Type] Bug

#22934 Add caption split at end to all caption blocks
  packages/block-editor/src/components/rich-text/index.js
  packages/block-library/src/audio/edit.js
  packages/block-library/src/embed/edit.js
  packages/block-library/src/embed/embed-preview.js
  packages/block-library/src/gallery/edit.js
  packages/block-library/src/gallery/gallery.js
  packages/block-library/src/pullquote/edit.js
  packages/block-library/src/quote/edit.js
  packages/block-library/src/table/edit.js
  packages/block-library/src/video/edit.js
Labels: [Block] Audio, [Block] Embed, [Block] Gallery, [Block] Pullquote, [Block] Table, [Block] Video, [Package] Block library, [Type] Enhancement

#22948 E2E Test Utils: Add missing param docs for createNewPost()
  packages/e2e-test-utils/README.md
  packages/e2e-test-utils/src/create-new-post.js
Labels: [Package] E2E Test Utils, [Type] Bug

#22944 Edit Post: Add missing param docs for PluginBlockSettingsMenuItem and PluginPostStatusInfo.
  packages/edit-post/README.md
  packages/edit-post/src/components/block-settings-menu/plugin-block-settings-menu-item.js
  packages/edit-post/src/components/sidebar/plugin-post-status-info/index.js
Labels: [Package] Edit Post, [Type] Bug

#22964 Interface: Add missing param docs for singleEnableItems() and multipleEnableItems()
  packages/interface/src/store/reducer.js
Labels: [Package] Interface, [Type] Bug

#22945 Docs: Fix links for dynamic blocks page
  docs/designers-developers/developers/tutorials/block-tutorial/creating-dynamic-blocks.md
Labels: [Type] Documentation

#22973 Docs: Move ESNext to default view
  docs/designers-developers/developers/tutorials/block-tutorial/nested-blocks-inner-blocks.md
Labels: Good First Review, [Type] Documentation

#22966 Core Data: Add missing param doc for saveEntityRecord()
  docs/designers-developers/developers/data/data-core.md
  packages/core-data/README.md
  packages/core-data/src/actions.js
Labels: [Package] Core data, [Type] Bug

#22971 Components: Add missing @param docs
  packages/components/src/menu-item/index.js
  packages/components/src/placeholder/index.js
  packages/components/src/range-control/utils.js
  packages/components/src/toolbar-group/index.js
  packages/components/src/toolbar/index.js
  packages/components/src/tree-grid/index.js
  packages/components/src/tree-grid/roving-tab-index.js
  packages/components/src/unit-control/unit-select-control.js
  packages/components/src/visually-hidden/index.js
Labels: [Package] Components, [Type] Bug

#22960 Upgrade Reakit
  package-lock.json
  packages/block-library/src/heading/heading-level-dropdown.js
  packages/components/package.json
Labels: [Feature] Drag and Drop, [Package] Components, [Type] Regression

#22978 Create Block: Enhancements for the upcoming npm release
  packages/create-block/lib/prompts.js
  packages/create-block/lib/templates/esnext/src/edit.js.mustache
  packages/create-block/lib/templates/esnext/src/index.js.mustache
Labels: [Package] Create Block, [Type] Enhancement

#22974 Docs: Add code examples section
  docs/contributors/document.md
Labels: [Type] Documentation

#22953 Scripts: Remove legacy env scripts and packages.
  bin/setup-local-env.sh
  docs/contributors/env-ubuntu.md
  package-lock.json
  package.json
  packages/scripts/CHANGELOG.md
  packages/scripts/README.md
  packages/scripts/package.json
  packages/scripts/scripts/env.js
  packages/scripts/scripts/env/cli.js
  packages/scripts/scripts/env/connect.js
  packages/scripts/scripts/env/docker-run.js
  packages/scripts/scripts/env/install.js
  packages/scripts/scripts/env/lint-php.js
  packages/scripts/scripts/env/reinstall.js
  packages/scripts/scripts/env/start.js
  packages/scripts/scripts/env/stop.js
  packages/scripts/scripts/env/test-php.js
  packages/scripts/scripts/env/update.js
  packages/scripts/utils/env.js
  packages/scripts/utils/index.js
Labels: [Package] Scripts, [Type] Breaking Change

#22980 Fix env readme
  packages/env/README.md
Labels: [Type] Documentation

#22981 Block Editor: Add missing @param docs
  packages/block-editor/README.md
  packages/block-editor/src/components/color-style-selector/index.js
  packages/block-editor/src/components/inserter/index.native.js
  packages/block-editor/src/components/writing-flow/index.js
Labels: [Package] Block editor

#22982 Block Library: Add missing @param docs
  packages/block-library/src/navigation/block-colors-selector.js
  packages/block-library/src/table/edit.js
  packages/block-library/src/table/state.js
Labels: [Package] Block library

#22881 Update the block directory state to store the installing status per block id.
  packages/block-directory/src/components/downloadable-block-header/index.js
  packages/block-directory/src/components/downloadable-block-header/test/index.js
  packages/block-directory/src/components/downloadable-block-list-item/index.js
  packages/block-directory/src/components/downloadable-block-list-item/test/__snapshots__/index.js.snap
  packages/block-directory/src/components/downloadable-block-list-item/test/index.js
  packages/block-directory/src/store/actions.js
  packages/block-directory/src/store/reducer.js
  packages/block-directory/src/store/selectors.js
  packages/block-directory/src/store/test/actions.js
  packages/block-directory/src/store/test/selectors.js
Labels: [Feature] Block Directory, [Type] Bug

#22929 Document link color feature
  docs/designers-developers/developers/themes/theme-json.md
Labels: [Feature] Themes, [Type] Documentation

#22942 Remove withBlockEditContext internal higher-order component
  packages/block-editor/src/components/autocomplete/index.js
  packages/block-editor/src/components/block-alignment-toolbar/index.js
  packages/block-editor/src/components/block-edit/context.js
  packages/block-editor/src/components/inner-blocks/with-client-id.js
Labels: [Package] Block editor, [Type] Code Quality, [Type] Performance

#22885 Fix Block Navigation Settings Menu keyboard navigation in Navigation Menus page
  packages/block-editor/src/components/block-navigation/block.js
  packages/components/src/dropdown-menu/README.md
  packages/components/src/dropdown-menu/index.js
Labels: [Feature] Block Navigation, [Feature] Navigation Screen, [Type] Bug, [a11y] Keyboard & Focus

#22970 Components: ToolbarButton use forwardRef.
  packages/block-editor/src/components/block-switcher/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/block-switcher/test/index.js
  packages/components/src/toolbar-button/index.js
Labels: [Package] Components

#22870 Image: Add rich image editing option to experiments page
  lib/experiments-page.php
  lib/rest-api.php
  packages/block-editor/README.md
  packages/block-editor/src/store/defaults.js
  packages/block-library/src/index.js
Labels: [Block] Image, [Feature] Media, [Feature] REST API Interaction, [Type] Experimental

#22751 Bootstrap the architecture documentation
  docs/architecture/automated-testing.md
  docs/architecture/index.md
  docs/architecture/modularity.md
  docs/architecture/performance.md
  docs/manifest.json
  docs/toc.json
Labels: [Type] Documentation

#22516 Fix dark menus in canvas, not in top toolbar
  packages/block-editor/src/components/block-alignment-matrix-toolbar/index.js
  packages/block-editor/src/components/block-alignment-toolbar/index.js
  packages/block-editor/src/components/block-alignment-toolbar/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/block-vertical-alignment-toolbar/index.js
  packages/block-editor/src/components/block-vertical-alignment-toolbar/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/media-replace-flow/index.js
  packages/components/src/dropdown/index.js
Labels: [Type] Regression

#22354 Implement roving tabindex on the header toolbar
  packages/block-editor/src/components/block-navigation/dropdown.js
  packages/block-editor/src/components/tool-selector/index.js
  packages/components/src/toolbar-item/index.js
  packages/edit-post/src/components/header/header-toolbar/index.js
  packages/edit-post/src/components/header/header-toolbar/style.scss
  packages/editor/src/components/editor-history/redo.js
  packages/editor/src/components/editor-history/undo.js
  packages/editor/src/components/table-of-contents/index.js
Labels: Accessibility (a11y), [Package] Block editor, [Package] Editor

#22994 Release tool: add missing parenthesis
  bin/plugin/commands/release.js
Labels: [Type] Build Tooling

#22634 Add block transform to transform preformatted block into code block
  packages/block-library/src/preformatted/transforms.js
  packages/e2e-tests/fixtures/block-transforms.js
Labels: [Block] Code, [Block] Preformatted, [Package] Block library, [Type] Enhancement

#22819 Image: Update Rich Image Icons
  packages/block-library/src/rich-image/rich-image/icon.js
  packages/block-library/src/rich-image/rich-image/index.js
Labels: [Block] Image, [Type] Enhancement

#22872 Post Title Block: Add alignment and heading level support
  packages/block-library/src/post-title/block.json
  packages/block-library/src/post-title/edit.js
  packages/block-library/src/post-title/index.php
  packages/e2e-tests/fixtures/blocks/core__post-title.json
Labels: [Block] Post Title, [Feature] Full Site Editing

#22817 Image: Consolidate crop ratios
  packages/block-library/src/rich-image/rich-image/index.js
Labels: [Block] Image, [Type] Enhancement

#22877 Update post author block functionality and visual parity
  packages/block-library/src/post-author/block.json
  packages/block-library/src/post-author/edit.js
  packages/block-library/src/post-author/editor.scss
  packages/block-library/src/post-author/index.php
  packages/block-library/src/post-author/style.scss
  packages/e2e-tests/fixtures/blocks/core__post-author.json
Labels: [Feature] Full Site Editing

#22928 RNMobile - Insert a new Paragraph block when pressing Enter on end of captions
  packages/block-editor/src/components/block-caption/index.native.js
  packages/block-editor/src/components/caption/index.native.js
  packages/block-library/src/gallery/gallery.native.js
  packages/block-library/src/image/edit.native.js
  packages/block-library/src/video/edit.native.js
Labels: Mobile App Compatibility

#22673 Show movers next to block switcher
  packages/block-editor/src/components/block-draggable/index.js
  packages/block-editor/src/components/block-list/style.scss
  packages/block-editor/src/components/block-mover/button.js
  packages/block-editor/src/components/block-mover/icons.js
  packages/block-editor/src/components/block-mover/index.js
  packages/block-editor/src/components/block-mover/style.scss
  packages/block-editor/src/components/block-parent-selector/style.scss
  packages/block-editor/src/components/block-switcher/style.scss
  packages/block-editor/src/components/block-toolbar/index.js
  packages/block-editor/src/components/block-toolbar/style.scss
  packages/components/src/draggable/index.js
  packages/components/src/draggable/style.scss
  packages/components/src/toolbar/style.scss
  packages/e2e-tests/specs/editor/various/keyboard-navigable-blocks.test.js
Labels: General Interface, [Type] Enhancement

#22954 Edit Site: Fix template lookup
  lib/edit-site-page.php
  lib/template-loader.php
Labels: [Feature] Full Site Editing, [Type] Bug

#23001 Remove Gutenberg plugin's deprected APIs for version 8.3.0
  lib/class-wp-block-patterns-registry.php
  lib/compat.php
Labels: [Type] Code Quality

#23016 Fix drag and drop for blocks that don't use `__experimentalTagName` for their inner blocks
  packages/block-editor/src/components/inner-blocks/index.js
Labels: [Feature] Drag and Drop, [Type] Bug

#22936 Block: remove animation component so it is just a hook
  packages/block-editor/src/components/block-list/block-wrapper.js
  packages/block-editor/src/components/use-moving-animation/index.js
Labels: [Feature] Blocks, [Package] Block editor, [Type] Enhancement

#23025 Fix link color style rule
  lib/global-styles.php
Labels: Global Styles, [Type] Bug

#21878 Edit Site: Fetch template parts in Template Switcher from REST API
  lib/template-loader.php
  lib/template-parts.php
  packages/edit-site/src/components/header/index.js
  packages/edit-site/src/components/template-switcher/index.js
Labels: [Feature] Full Site Editing

#23018 Better readme for the edit-navigation package
  packages/edit-navigation/README.md
Labels: [Feature] Navigation Screen

#22998 [Navigation screen] Only show appender for the currently selected block
  packages/block-editor/src/components/block-navigation/branch.js
Labels: [Feature] Block Navigation, [Feature] Navigation Screen

#22470 Enable multi select block attribute controls
  docs/designers-developers/developers/data/data-core-block-editor.md
  docs/designers-developers/developers/tutorials/block-tutorial/block-controls-toolbar-and-sidebar.md
  packages/block-editor/src/components/block-controls/index.js
  packages/block-editor/src/components/block-inspector/index.js
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-toolbar/index.js
  packages/block-editor/src/components/inspector-controls/index.js
  packages/block-editor/src/components/use-display-block-controls/index.js
  packages/block-editor/src/store/actions.js
  packages/block-editor/src/store/reducer.js
  packages/block-editor/src/store/test/actions.js
  packages/block-editor/src/store/test/reducer.js
  packages/e2e-tests/specs/editor/various/__snapshots__/multi-block-selection.test.js.snap
  packages/e2e-tests/specs/editor/various/multi-block-selection.test.js
Labels: [Feature] Block Multi Selection, [Type] Enhancement

#23002 Handbook: update release docs
  docs/contributors/release.md
Labels: [Type] Documentation

#23022 Remove navigator from the navigation block inspector
  packages/block-library/src/navigation/edit.js
Labels: [Block] Navigation, [Feature] Block Navigation

#22121 Bump dependencies for WordPress 5.2
  packages/block-library/src/rss/index.php
  packages/block-library/src/search/index.php
Labels: Backport to WP Core

#22120 Bump dependencies for WordPress 5.3.
  packages/block-library/src/rss/index.php
  packages/block-library/src/search/index.php
Labels: Backport to WP Core

#23041 Cover: Padding: Fix reset + Visualize on hover
  packages/block-editor/src/hooks/padding.js
  packages/block-editor/src/hooks/style.js
  packages/block-library/src/cover/edit.js
  packages/components/src/box-control/README.md
  packages/components/src/box-control/all-input-control.js
  packages/components/src/box-control/index.js
  packages/components/src/box-control/input-controls.js
  packages/components/src/box-control/stories/index.js
  packages/components/src/box-control/unit-control.js
  packages/components/src/box-control/utils.js
  packages/components/src/box-control/visualizer.js
Labels: [Block] Cover, [Package] Components

#22995 MediaReplaceFlow: improve error customization
  packages/block-editor/src/components/media-replace-flow/README.md
  packages/block-editor/src/components/media-replace-flow/index.js
Labels: Needs Technical Feedback, [Feature] Media, [Type] Enhancement

#23045 Enable custom classnames on `<CustomSelectControl>` options
  packages/components/src/custom-select-control/README.md
  packages/components/src/custom-select-control/index.js
  packages/components/src/custom-select-control/stories/index.js
Labels: [Package] Components

#22454 Add plugins endpoints
  lib/class-wp-rest-block-directory-controller.php
  lib/class-wp-rest-plugins-controller.php
  lib/load.php
  lib/rest-api.php
  package.json
  phpunit.xml.dist
  phpunit/bootstrap.php
  phpunit/class-wp-rest-block-directory-controller-test.php
  phpunit/class-wp-rest-plugins-controller-test.php
  phpunit/multisite.xml
Labels: Core REST API Task, [Feature] Block Directory, [Feature] REST API Interaction

#23084 Fix group block moving animation not working correctly.
  packages/block-editor/src/components/use-moving-animation/index.js
Labels: [Feature] Blocks, [Type] Bug

#23080 Remove padding inheritance on lists in editor-styles
  packages/editor/src/editor-styles.scss
Labels: [Feature] Custom Editor Styles

#22918 Block Directory: Uninstall unused block types
  packages/block-directory/src/components/auto-block-uninstaller/index.js
  packages/block-directory/src/plugins/index.js
  packages/block-directory/src/plugins/installed-blocks-pre-publish-panel/index.js
  packages/block-directory/src/store/actions.js
  packages/block-directory/src/store/selectors.js
  packages/block-directory/src/store/test/actions.js
  packages/block-directory/src/store/test/fixtures/index.js
  packages/block-directory/src/store/test/reducer.js
  packages/block-directory/src/store/test/selectors.js
  packages/block-directory/src/store/utils/has-block-type.js
  packages/block-directory/src/store/utils/test/has-block-type.js
Labels: [Feature] Block Directory

#22605 Fix Typography panel rendering from style hooks
  packages/block-editor/src/components/line-height-control/index.js
  packages/block-editor/src/hooks/font-size.js
  packages/block-editor/src/hooks/line-height.js
  packages/block-editor/src/hooks/style.js
  packages/block-editor/src/hooks/typography.js
Labels: [Block] Heading, [Block] Paragraph, [Status] In Progress, [Type] Bug

#23097 API description: Use a period at the end.
  lib/class-wp-rest-block-types-controller.php
Labels: Internationalization (i18n)

#23037 Image Edit: REST API Code Cleanup
  lib/class-wp-rest-image-editor-controller.php
  lib/image-editor/class-image-editor-crop.php
  lib/image-editor/class-image-editor-flip.php
  lib/image-editor/class-image-editor.php
  packages/block-library/src/rich-image/rich-image/index.js
Labels: [Block] Image, [Feature] REST API Interaction, [Type] Code Quality

#23019 Remove child space in Tooltip.
  packages/block-editor/src/components/button-block-appender/index.js
Labels: [Package] Components, [Type] Bug

#23091 Simplify useImageSizes
  packages/block-library/src/image/image-size.js
  packages/block-library/src/image/image.js
  packages/block-library/src/image/use-client-width.js
  packages/block-library/src/image/utils.js
Labels: [Block] Image, [Type] Code Quality

#22508 Select Tool: Show block borders on `:hover` while using the Select tool
  packages/block-editor/src/components/block-list/block-wrapper.js
  packages/block-editor/src/components/block-list/style.scss
Labels: [Type] Enhancement

#23101 Remove volumes and networks in wp-env destroy
  packages/env/CHANGELOG.md
  packages/env/README.md
  packages/env/lib/cli.js
  packages/env/lib/commands/destroy.js
Labels: [Package] Env, [Type] Build Tooling

#22394 Bug fix "Cannot read property 'end' of undefined" on babel-plugin-makepot #21466
  packages/babel-plugin-makepot/src/index.js
Labels: [Package] Babel plugin makepot, [Type] Bug

#22519 Block API: Extend `register_block_type_from_metadata` to handle assets
  docs/rfc/block-registration.md
  lib/compat.php
  phpunit/class-register-block-type-from-metadata-test.php
  phpunit/class-wp-rest-block-types-controller-test.php
  phpunit/fixtures/block.asset.php
  phpunit/fixtures/block.css
  phpunit/fixtures/block.js
  phpunit/fixtures/block.json
Labels: [Feature] Block API, [Feature] Block Directory, [Type] New API

#23053 Image editing: move to image block
  packages/block-library/src/editor.scss
  packages/block-library/src/image/editor.scss
  packages/block-library/src/image/image-editor.js
  packages/block-library/src/image/image.js
  packages/block-library/src/index.js
  packages/block-library/src/rich-image/constants.js
  packages/block-library/src/rich-image/editor.scss
  packages/block-library/src/rich-image/index.js
  packages/block-library/src/rich-image/rich-image/api.js
  packages/editor/src/components/provider/index.js
Labels: [Block] Image

#23046 Try: Reduced inserter hover delay.
  packages/block-editor/src/components/block-list/style.scss
Labels: [Type] Enhancement

#23099 Add i18n to padding 'reset' button
  packages/components/src/box-control/index.js
Labels: Internationalization (i18n), [Type] Bug

#23063 Build: Replace "release" with "build" in script for building a package
  bin/build-plugin-zip.sh
  docs/contributors/getting-started.md
  docs/contributors/release.md
  package.json
Labels: [Type] Build Tooling

#23113 Add Notice view for Copy/Cut blocks
  packages/block-editor/src/components/block-list/index.native.js
  packages/block-editor/src/components/block-mobile-toolbar/block-actions-menu.native.js
  packages/components/src/index.native.js
  packages/components/src/notice/index.native.js
  packages/components/src/notice/list.native.js
  packages/components/src/notice/style.native.scss
  packages/edit-post/src/components/layout/index.native.js
  packages/editor/src/store/actions.native.js
  packages/editor/src/store/reducer.native.js
  packages/editor/src/store/selectors.native.js
Labels: Mobile App Compatibility

#23120 Docs: use deny/allow list
  docs/designers-developers/developers/filters/block-filters.md
Labels: [Type] Documentation

#23117 Docs: Move ESNext as default code example
  docs/designers-developers/developers/block-api/block-attributes.md
  docs/designers-developers/developers/block-api/block-deprecation.md
  docs/designers-developers/developers/block-api/block-edit-save.md
  docs/designers-developers/developers/block-api/block-transforms.md
  docs/designers-developers/developers/filters/autocomplete-filters.md
  docs/designers-developers/developers/filters/block-filters.md
  docs/designers-developers/developers/internationalization.md
  docs/designers-developers/developers/richtext.md
Labels: [Type] Documentation

#23104 Add check theme support is an array before indexing
  lib/global-styles.php
  lib/utils.php
Labels: Global Styles, [Type] Bug

#23108 Fix updateSlot missing from default SlotFillContext
  packages/components/src/slot-fill/bubbles-virtually/slot-fill-context.js
  packages/components/src/slot-fill/bubbles-virtually/slot-fill-provider.js
  packages/components/src/slot-fill/test/__snapshots__/slot.js.snap
  packages/components/src/slot-fill/test/slot.js
Labels: [Package] Components, [Type] Bug

#22754 Enqueue assets for rendered blocks only
  lib/class-wp-block.php
  lib/compat.php
Labels: Framework, [Feature] Block API, [Type] Performance

#23132 RichText: rewrite with hooks
  packages/block-editor/src/components/rich-text/index.js
  packages/e2e-tests/specs/editor/various/undo.test.js
  packages/rich-text/src/component/index.js
  packages/rich-text/src/component/use-boundary-style.js
  packages/rich-text/src/component/use-inline-warning.js
Labels: [Feature] Rich Text, [Package] Rich text, [Type] Code Quality

#23109 Extract and refactor placeholder from navigation block edit function
  packages/block-library/src/navigation/edit.js
  packages/block-library/src/navigation/placeholder.js
Labels: [Block] Navigation, [Type] Code Quality

#23127 Scripts: Fix style.css handling in the build and start commands
  packages/create-block/lib/templates/esnext/$slug.php.mustache
  packages/scripts/CHANGELOG.md
  packages/scripts/README.md
  packages/scripts/config/fix-style-webpack-plugin/index.js
  packages/scripts/config/webpack.config.js
Labels: [Package] Create Block, [Package] Scripts, [Type] Bug

#23135 Scripts: Clean up the build folder via clean-webpack-plugin
  package-lock.json
  packages/scripts/CHANGELOG.md
  packages/scripts/config/webpack.config.js
  packages/scripts/package.json
Labels: [Package] Scripts, [Type] Build Tooling

#23114 Scripts: Update stylelint dependencies to latest versions
  package-lock.json
  package.json
  packages/scripts/CHANGELOG.md
  packages/scripts/package.json
Labels: [Package] Scripts, [Type] Build Tooling

#22915 Scripts: Remove temporary workaround in ESLint config
  packages/scripts/config/.eslintrc.js
Labels: [Package] Scripts

#23157 [ Navigation screen ] Fix saving on navigation screen
  packages/edit-navigation/src/components/menu-editor/index.js
Labels: [Feature] Navigation Screen, [Type] Bug

#23116 Refactor ToggleControl to use functional component
  packages/block-library/src/more/test/__snapshots__/edit.js.snap
  packages/components/src/toggle-control/index.js
  packages/components/src/toggle-control/test/index.js
Labels: [Feature] UI Components, [Package] Components, [Type] Code Quality

#23075 [RNMobile] Fix issues with gradients on Button Block and resetting themes
  packages/block-library/src/button/edit.native.js
  packages/editor/src/components/provider/index.native.js
Labels: Mobile App Compatibility

#23164 Fix: Improve JSDoc comment in ESNext template in edit.js file
  packages/create-block/CHANGELOG.md
  packages/create-block/lib/templates/esnext/src/edit.js.mustache
Labels: [Package] Create Block, [Type] Bug
