Repository WordPress/gutenberg, pull requests merged in 2021-01, with the labels that each got.

#27940 Fix duplicate reusable blocks loading in Safari
  packages/block-editor/src/components/provider/use-block-sync.js
  packages/e2e-test-utils/src/save-draft.js
  packages/e2e-tests/specs/editor/various/reusable-blocks.test.js
Labels: [Type] Bug

#27949 Fix create-block PHP template files according to WordPress standards
  packages/create-block/lib/templates/es5/$slug.php.mustache
  packages/create-block/lib/templates/esnext/$slug.php.mustache
Labels: First-time Contributor, [Type] Code Quality

#27951 Update copyright year to 2021 in `license.md`
  LICENSE.md
Labels: [Type] Documentation

#27950 Prevent focus loss on reusable block edition
  packages/core-data/src/entity-provider.js
  packages/e2e-tests/specs/editor/various/reusable-blocks.test.js
  packages/editor/src/store/actions.js
Labels: [Feature] Reusable Blocks, [Type] Bug

#27948 Only enable the template mode for viewable post types
  packages/edit-post/src/components/sidebar/post-template/index.js
  packages/edit-post/src/editor.js
Labels: [Feature] Full Site Editing, [Type] Experimental

#27955 Fix PHPCS warning: undefined variable $i
  lib/utils.php
Labels: [Type] Code Quality

#27956 Scripts: Upgrade Jest to the new major version (26.x)
  package-lock.json
  package.json
  packages/README.md
  packages/components/src/sandbox/test/index.js
  packages/e2e-test-utils/package.json
  packages/e2e-tests/package.json
  packages/edit-navigation/src/store/test/actions.js
  packages/edit-navigation/src/store/test/resolvers.js
  packages/jest-console/CHANGELOG.md
  packages/jest-console/package.json
  packages/jest-preset-default/CHANGELOG.md
  packages/jest-preset-default/jest-preset.js
  packages/jest-preset-default/package.json
  packages/jest-preset-default/scripts/travis-fold-passes-reporter.js
  packages/jest-puppeteer-axe/CHANGELOG.md
  packages/jest-puppeteer-axe/package.json
  packages/scripts/CHANGELOG.md
  packages/scripts/package.json
  packages/url/src/test/fixtures/wpt-data.json
  packages/url/src/test/index.js
  packages/url/src/test/index.native.js
  packages/url/src/test/is-url.native.js
Labels: Automated Testing, [Package] Jest preset, [Package] Scripts, [Type] Breaking Change

#27810 Use @wordpress/stylelint-config in @wordpress/scripts
  .stylelintrc.json
  package-lock.json
  package.json
  packages/e2e-tests/fixtures/blocks/core__query.json
  packages/scripts/CHANGELOG.md
  packages/scripts/README.md
  packages/scripts/config/.stylelintrc.json
  packages/scripts/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/index.js
  packages/stylelint-config/package.json
  packages/stylelint-config/test/.stylelintrc.json
  packages/stylelint-config/test/__snapshots__/selectors.js.snap
  packages/stylelint-config/test/__snapshots__/values.js.snap
  packages/stylelint-config/test/scss-invalid.scss
Labels: [Package] Scripts, [Type] Breaking Change

#27387 ESLint Plugin: Enable import rules used in Gutenberg
  .eslintrc.js
  package-lock.json
  package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/configs/recommended-with-formatting.js
  packages/scripts/CHANGELOG.md
  packages/scripts/package.json
Labels: [Package] ESLint plugin, [Package] Scripts, [Type] Breaking Change, [Type] New API

#27327 Eslint: Add no-unsafe-wp-apis to recommended config
  .eslintrc.js
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/configs/custom.js
Labels: [Package] ESLint plugin, [Type] Breaking Change

#26382 Upgrade webpack to version 5
  package-lock.json
  package.json
  packages/custom-templated-path-webpack-plugin/package.json
  packages/dependency-extraction-webpack-plugin/test/__snapshots__/build.js.snap
  packages/library-export-default-webpack-plugin/package.json
  packages/scripts/CHANGELOG.md
  packages/scripts/config/webpack.config.js
  packages/scripts/package.json
  webpack.config.js
Labels: [Package] Scripts, [Type] Breaking Change, [Type] Build Tooling

#27791 Theme JSON: Add border radius to the theme styles schema
  docs/designers-developers/developers/themes/theme-json.md
  lib/class-wp-theme-json.php
  lib/experimental-default-theme.json
  packages/block-editor/src/hooks/border-radius.js
  packages/block-editor/src/hooks/border.js
Labels: Global Styles, [Feature] Design Tools

#27242 [Mobile] Copy/Paste improvement
  packages/block-editor/src/components/block-mobile-toolbar/block-actions-menu.native.js
  packages/block-editor/src/components/inserter/menu.native.js
  packages/components/src/index.native.js
  packages/components/src/mobile/clipboard/index.native.js
  packages/components/src/notice/list.native.js
  packages/editor/src/components/provider/index.native.js
  packages/editor/src/store/actions.native.js
  packages/editor/src/store/selectors.native.js
Labels: Mobile App Android/iOS

#27965 Scripts: ESLint minor version upgrade to 7.17.0
  package-lock.json
  packages/api-fetch/src/middlewares/test/fetch-all-middleware.js
  packages/block-directory/src/store/test/selectors.js
  packages/block-editor/src/components/responsive-block-control/test/index.js
  packages/block-editor/src/store/test/selectors.js
  packages/block-serialization-spec-parser/shared-tests.js
  packages/blocks/src/api/test/registration.js
  packages/components/src/color-picker/test/input.js
  packages/components/src/external-link/index.js
  packages/components/src/form-token-field/test/index.js
  packages/compose/src/utils/create-higher-order-component/test/index.js
  packages/core-data/src/test/resolvers.js
  packages/data/src/redux-store/test/index.js
  packages/e2e-tests/config/setup-debug-artifacts.js
  packages/e2e-tests/specs/editor/blocks/__snapshots__/heading.test.js.snap
  packages/e2e-tests/specs/editor/blocks/heading.test.js
  packages/e2e-tests/specs/editor/plugins/__snapshots__/container-blocks.test.js.snap
  packages/e2e-tests/specs/editor/plugins/__snapshots__/inner-blocks-render-appender.test.js.snap
  packages/e2e-tests/specs/editor/plugins/container-blocks.test.js
  packages/e2e-tests/specs/editor/plugins/custom-post-types.test.js
  packages/e2e-tests/specs/editor/plugins/inner-blocks-allowed-blocks.test.js
  packages/e2e-tests/specs/editor/plugins/inner-blocks-render-appender.test.js
  packages/e2e-tests/specs/editor/various/__snapshots__/block-hierarchy-navigation.test.js.snap
  packages/e2e-tests/specs/editor/various/block-grouping.test.js
  packages/e2e-tests/specs/editor/various/block-hierarchy-navigation.test.js
  packages/e2e-tests/specs/editor/various/datepicker.test.js
  packages/e2e-tests/specs/editor/various/scheduling.test.js
  packages/e2e-tests/specs/experiments/navigation.test.js
  packages/editor/src/store/test/actions.js
  packages/editor/src/store/test/selectors.js
  packages/editor/src/store/utils/test/notice-builder.js
  packages/env/lib/config/test/config.js
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/hooks/src/test/index.test.js
  packages/react-native-editor/__device-tests__/.eslintrc.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-cover.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-file.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-image.test.js
  packages/react-native-editor/jest_ui_setup_after_env.js
  packages/redux-routine/src/test/index.js
  packages/rich-text/src/test/create.js
  packages/rich-text/src/test/is-format-equal.js
  packages/rich-text/src/test/to-dom.js
  packages/rich-text/src/test/to-html-string.js
  packages/scripts/CHANGELOG.md
  packages/scripts/package.json
  packages/server-side-render/src/test/index.js
  packages/stylelint-config/test/__snapshots__/scss.js.snap
  packages/stylelint-config/test/scss.js
  packages/warning/test/babel-plugin.js
  test/integration/blocks-raw-handling.test.js
  test/integration/full-content/full-content.test.js
Labels: [Package] ESLint plugin, [Package] Scripts, [Type] Breaking Change

#27946 Don't close the block inserter when clicking the scrollbar or an empty area.
  packages/compose/src/hooks/use-dialog/index.js
Labels: [Feature] Inserter, [Type] Bug

#27800 Box control units: Ensure custom units are preserved.
  packages/components/src/box-control/utils.js
Labels: Global Styles, [Feature] Full Site Editing, [Feature] Themes

#27942 Fix unexpected autosave for published posts
  packages/editor/src/components/autosave-monitor/index.js
  packages/editor/src/components/autosave-monitor/test/index.js
Labels: [Feature] Saving, [Type] Bug

#27970 Fix editor crash when registering a block pattern without `categories`
  packages/block-editor/src/components/inserter/block-patterns-tab.js
Labels: Backport to WP Minor Release, [Feature] Inserter, [Feature] Patterns, [Type] Bug

#27974 Revert "Upgrade webpack to version 5"
  package-lock.json
  package.json
  packages/custom-templated-path-webpack-plugin/package.json
  packages/dependency-extraction-webpack-plugin/test/__snapshots__/build.js.snap
  packages/library-export-default-webpack-plugin/package.json
  packages/scripts/CHANGELOG.md
  packages/scripts/config/webpack.config.js
  packages/scripts/package.json
  webpack.config.js
Labels: [Package] Scripts, [Type] Build Tooling

#27591 GH Actions: Add action to upload release to SVN repo
  .github/workflows/upload-release-to-plugin-repo.yml
  bin/plugin/commands/release.js
  bin/plugin/lib/svn.js
Labels: [Type] Build Tooling

#27774 Add primary destructive button style
  packages/components/src/button/stories/index.js
  packages/components/src/button/style.scss
Labels: Needs Design Feedback, [Feature] UI Components, [Package] Components

#27985 Scripts: Fix multiple build runtimes conflicting when using globals
  packages/scripts/CHANGELOG.md
  packages/scripts/config/webpack.config.js
  packages/scripts/utils/index.js
  packages/scripts/utils/package.js
Labels: [Package] Scripts, [Type] Bug

#27988 Create Block: Print the block class name in the `save` method
  packages/create-block/CHANGELOG.md
  packages/create-block/lib/templates/es5/index.js.mustache
  packages/create-block/lib/templates/esnext/src/save.js.mustache
Labels: [Package] Create Block, [Type] Bug

#27990 Chore: Update Lerna dependency
  package-lock.json
  package.json
Labels: Npm Packages

#27945 Fix AlignmentMatrixControl focus issue
  packages/components/src/alignment-matrix-control/index.js
Labels: [Feature] UI Components, [Type] Bug

#27947 Fix the RTL editor styles and the theme styles option
  lib/client-assets.php
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/editor.js
Labels: Backport to WP Beta/RC, Internationalization (i18n), [Feature] Themes, [Type] Bug

#27987 [RNMobile] Fix crash when editing a component that uses RangeControl
  packages/components/src/mobile/bottom-sheet/range-cell.native.js
Labels: First-time Contributor, Mobile App Android/iOS

#27907 wp-env: Ensure the environment is used with the logs command.
  packages/env/lib/cli.js
Labels: [Type] Build Tooling

#27997 [Mobile] - Link settings - Fix updating settings when closing the bottom sheet
  packages/components/src/mobile/link-settings/index.native.js
Labels: Mobile App Android/iOS

#27986 Fix the border radius in the site editor.
  packages/block-editor/src/components/block-list/style.scss
Labels: [Type] Enhancement

#27934 Tools: Update the minimum Node.js version to 12
  package-lock.json
  packages/babel-plugin-import-jsx-pragma/CHANGELOG.md
  packages/babel-plugin-import-jsx-pragma/README.md
  packages/babel-plugin-import-jsx-pragma/package.json
  packages/babel-plugin-makepot/CHANGELOG.md
  packages/babel-plugin-makepot/README.md
  packages/babel-plugin-makepot/package.json
  packages/babel-preset-default/CHANGELOG.md
  packages/babel-preset-default/README.md
  packages/babel-preset-default/package.json
  packages/browserslist-config/CHANGELOG.md
  packages/browserslist-config/README.md
  packages/browserslist-config/package.json
  packages/create-block/CHANGELOG.md
  packages/create-block/README.md
  packages/create-block/package.json
  packages/custom-templated-path-webpack-plugin/CHANGELOG.md
  packages/custom-templated-path-webpack-plugin/README.md
  packages/custom-templated-path-webpack-plugin/package.json
  packages/dependency-extraction-webpack-plugin/CHANGELOG.md
  packages/dependency-extraction-webpack-plugin/README.md
  packages/dependency-extraction-webpack-plugin/package.json
  packages/e2e-test-utils/CHANGELOG.md
  packages/e2e-test-utils/README.md
  packages/e2e-tests/CHANGELOG.md
  packages/e2e-tests/README.md
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/README.md
  packages/eslint-plugin/package.json
  packages/jest-console/CHANGELOG.md
  packages/jest-console/README.md
  packages/jest-preset-default/README.md
  packages/jest-puppeteer-axe/CHANGELOG.md
  packages/jest-puppeteer-axe/README.md
  packages/library-export-default-webpack-plugin/CHANGELOG.md
  packages/library-export-default-webpack-plugin/README.md
  packages/library-export-default-webpack-plugin/package.json
  packages/npm-package-json-lint-config/CHANGELOG.md
  packages/npm-package-json-lint-config/README.md
  packages/npm-package-json-lint-config/package.json
  packages/postcss-plugins-preset/CHANGELOG.md
  packages/postcss-plugins-preset/README.md
  packages/postcss-plugins-preset/package.json
  packages/postcss-themes/CHANGELOG.md
  packages/postcss-themes/README.md
  packages/postcss-themes/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/README.md
  packages/prettier-config/package.json
  packages/scripts/CHANGELOG.md
  packages/scripts/README.md
  packages/scripts/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/README.md
  packages/stylelint-config/package.json
Labels: Npm Packages, [Package] Scripts, [Type] Breaking Change

#28002 Scripts: Make it possible to transpile `.jsx` files with build command
  packages/scripts/CHANGELOG.md
  packages/scripts/config/webpack.config.js
Labels: [Package] Scripts

#27906 Fix RadioGroup to support zero as a Radio value
  packages/components/src/radio-group/index.js
  packages/components/src/radio-group/stories/index.js
Labels: [Feature] UI Components, [Type] Bug

#28005 Update Quickstart guide for the Development Environment documentation.
  docs/designers-developers/developers/tutorials/devenv/readme.md
Labels: First-time Contributor, [Type] Documentation

#28019 Docs: Switch heading to Quick Start for consistency
  docs/designers-developers/developers/tutorials/devenv/readme.md
Labels: [Type] Documentation

#28015 Reusable blocks: Fix dismiss notice after error
  packages/list-reusable-blocks/src/components/import-form/index.js
  packages/list-reusable-blocks/src/components/import-form/style.scss
Labels: [Feature] Reusable Blocks, [Type] Bug

#28007 Fix locked template not updating when inner blocks template prop changes
  packages/block-editor/src/components/inner-blocks/use-inner-block-template-sync.js
  packages/e2e-tests/plugins/inner-blocks-templates/index.js
  packages/e2e-tests/specs/editor/plugins/__snapshots__/container-blocks.test.js.snap
  packages/e2e-tests/specs/editor/plugins/container-blocks.test.js
Labels: [Feature] Nested / Inner Blocks, [Feature] Templates API, [Type] Regression

#28030 Block Directory: Fix "missing" block when the block can be installed from the directory
  packages/block-directory/src/plugins/get-install-missing/index.js
Labels: [Feature] Block Directory

#28013 Upgrade Reakit to version 1.3.4
  package-lock.json
  packages/block-editor/package.json
  packages/block-editor/src/components/block-types-list/index.js
  packages/block-library/package.json
  packages/components/package.json
  packages/edit-widgets/package.json
Labels: [Type] Code Quality

#28034 Interface: Remove deprecated prop from InterfaceSkeleton
  packages/interface/CHANGELOG.md
  packages/interface/src/components/interface-skeleton/index.js
Labels: [Package] Interface, [Type] Breaking Change

#27903 Display matching variation icon in Block Switcher
  packages/block-editor/src/components/block-switcher/index.js
  packages/block-editor/src/components/block-switcher/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/block-switcher/test/index.js
Labels: [Feature] Block Variations, [Type] Enhancement

#28037 Create Block: Update the demo included in the README file
  packages/create-block/CHANGELOG.md
  packages/create-block/README.md
Labels: [Package] Create Block, [Type] Documentation

#25956 block-directory: simplify the LOAD_ASSETS flow by making it an async function
  packages/block-directory/src/store/controls.js
Labels: [Feature] Block Directory, [Type] Code Quality

#28039 Mobile - Link settings - Check for onClose
  packages/components/src/mobile/link-settings/index.native.js
Labels: Mobile App Android/iOS

#28006 Fix: Add Image style settings for hotlinked images
  packages/block-library/src/image/edit.native.js
Labels: Mobile App Android/iOS, [Block] Image

#28048 Build Plugin Workflow: Bump node version to 14
  .github/workflows/build-plugin-zip.yml
Labels: [Type] Build Tooling

#28026 Performance tests: Fix
  bin/plugin/commands/performance.js
Labels: Automated Testing, [Type] Bug

#27730 Change the week header and left button style to meet the date spacing
  packages/components/src/date-time/datepicker.scss
  packages/components/src/date-time/style.scss
Labels: Needs Design Feedback, [Package] Components, [Type] Bug

#28052 Docs: Improve README file for `@wordpress/create-block`
  packages/create-block/README.md
Labels: [Package] Create Block, [Type] Documentation

#28050 Readme: Increase tested Version up to WP 5.6
  readme.txt
Labels: Gutenberg Plugin

#28042 Update CHANGELOG.md to correct order of items
  packages/react-native-editor/CHANGELOG.md
Labels: Mobile App Android/iOS

#27867 [Mobile] Use react-native-url-polyfill in globals
  packages/react-native-editor/src/globals.js
  packages/url/src/is-url.native.js
  packages/url/src/test/index.native.js
Labels: Mobile App Android/iOS, [Feature] Link Editing

#27381 [RNMobile] Add block insertion flow e2e test
  packages/block-editor/src/components/block-list/index.native.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-block-insertion-2.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-file-@canary.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-heading-@canary.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-image-@canary.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-lists-@canary.test.js
  packages/react-native-editor/__device-tests__/helpers/utils.js
  packages/react-native-editor/__device-tests__/pages/editor-page.js
  packages/react-native-editor/jest_ui_setup_after_env.js
  packages/react-native-editor/package.json
Labels: Mobile App Android/iOS

#27640 [Mobile] - Remove old Layout Picker
  packages/block-editor/src/components/block-list/block-list-item.native.js
  packages/block-editor/src/components/block-list/block.native.js
  packages/block-editor/src/components/block-list/index.native.js
  packages/block-editor/src/components/index.native.js
  packages/block-editor/src/components/page-template-picker/button.native.js
  packages/block-editor/src/components/page-template-picker/container.native.js
  packages/block-editor/src/components/page-template-picker/default-templates.native.js
  packages/block-editor/src/components/page-template-picker/index.native.js
  packages/block-editor/src/components/page-template-picker/picker.native.js
  packages/block-editor/src/components/page-template-picker/preview.native.js
  packages/block-editor/src/components/page-template-picker/styles.native.scss
  packages/block-editor/src/components/page-template-picker/templates/about.native.js
  packages/block-editor/src/components/page-template-picker/templates/blog.native.js
  packages/block-editor/src/components/page-template-picker/templates/contact.native.js
  packages/block-editor/src/components/page-template-picker/templates/index.native.js
  packages/block-editor/src/components/page-template-picker/templates/portfolio.native.js
  packages/block-editor/src/components/page-template-picker/templates/services.native.js
  packages/block-editor/src/components/page-template-picker/templates/team.native.js
  packages/block-editor/src/components/page-template-picker/tooltip/index.native.js
  packages/block-editor/src/components/page-template-picker/tooltip/style.native.scss
  packages/block-editor/src/components/page-template-picker/use-page-template-picker.native.js
  packages/block-editor/src/components/page-template-picker/with-page-template-picker.native.js
  packages/components/src/index.native.js
  packages/components/src/mobile/modal-header-bar/README.md
  packages/components/src/mobile/modal-header-bar/button.android.scss
  packages/components/src/mobile/modal-header-bar/button.ios.scss
  packages/components/src/mobile/modal-header-bar/button.native.js
  packages/components/src/mobile/modal-header-bar/button.native.scss
  packages/components/src/mobile/modal-header-bar/close-icon.js
  packages/components/src/mobile/modal-header-bar/index.native.js
  packages/components/src/mobile/modal-header-bar/styles.native.scss
  packages/components/src/mobile/preview/index.native.js
  packages/components/src/mobile/preview/styles.native.scss
  packages/edit-post/src/components/layout/index.native.js
  packages/edit-post/src/editor.native.js
  packages/react-native-bridge/android/src/main/java/org/wordpress/mobile/ReactNativeGutenbergBridge/GutenbergBridgeJS2Parent.java
  packages/react-native-bridge/android/src/main/java/org/wordpress/mobile/ReactNativeGutenbergBridge/RNReactNativeGutenbergBridgeModule.java
  packages/react-native-bridge/android/src/main/java/org/wordpress/mobile/WPAndroidGlue/GutenbergProps.kt
  packages/react-native-bridge/android/src/main/java/org/wordpress/mobile/WPAndroidGlue/WPAndroidGlueCode.java
  packages/react-native-bridge/index.js
  packages/react-native-bridge/ios/GutenbergBridgeDelegate.swift
  packages/react-native-bridge/ios/RNReactNativeGutenbergBridge.m
  packages/react-native-bridge/ios/RNReactNativeGutenbergBridge.swift
  packages/react-native-editor/android/app/src/main/java/com/gutenberg/MainApplication.java
  packages/react-native-editor/ios/GutenbergDemo/GutenbergViewController.swift
Labels: Mobile App Android/iOS

#28038 Create block: Add support for static assets
  packages/create-block/CHANGELOG.md
  packages/create-block/README.md
  packages/create-block/lib/scaffold.js
  packages/create-block/lib/templates.js
Labels: [Package] Create Block, [Type] New API

#28023 Compose: Export useIsomorphicLayoutEffect and use it
  packages/compose/CHANGELOG.md
  packages/compose/README.md
  packages/compose/src/hooks/use-dragging/index.js
  packages/compose/src/hooks/use-isomorphic-layout-effect/index.js
  packages/compose/src/index.js
  packages/compose/src/index.native.js
  packages/data/src/components/use-dispatch/use-dispatch-with-map.js
  packages/data/src/components/use-select/index.js
Labels: [Package] Compose, [Type] New API

#28008 Docs: A wether, as it turns out, is a castrated ram
  packages/block-editor/src/components/writing-flow/index.js
  packages/blocks/src/api/raw-handling/utils.js
  packages/dom/README.md
  packages/dom/src/dom.js
  packages/rich-text/src/is-active-list-type.js
  packages/rich-text/src/to-tree.js
Labels: First-time Contributor, [Type] Documentation

#28044 Edit Widgets: Replace store name string with exposed store definition
  packages/edit-widgets/src/blocks/legacy-widget/edit/index.js
  packages/edit-widgets/src/blocks/legacy-widget/edit/widget-select-control.js
  packages/edit-widgets/src/blocks/widget-area/edit/index.js
  packages/edit-widgets/src/components/header/index.js
  packages/edit-widgets/src/components/keyboard-shortcuts/index.js
  packages/edit-widgets/src/components/layout/interface.js
  packages/edit-widgets/src/components/save-button/index.js
  packages/edit-widgets/src/components/sidebar/index.js
  packages/edit-widgets/src/components/sidebar/widget-areas.js
  packages/edit-widgets/src/components/widget-areas-block-editor-provider/index.js
  packages/edit-widgets/src/store/actions.js
  packages/edit-widgets/src/store/constants.js
  packages/edit-widgets/src/store/controls.js
  packages/edit-widgets/src/store/index.js
  packages/edit-widgets/src/store/selectors.js
Labels: [Package] Edit Widgets, [Type] Code Quality

#28043 Scripts: Add support for static assets in build commands
  package-lock.json
  packages/scripts/CHANGELOG.md
  packages/scripts/README.md
  packages/scripts/config/webpack.config.js
  packages/scripts/package.json
Labels: [Package] Scripts, [Type] New API

#28072 URL: Remove redundant array coercion
  packages/url/src/build-query-string.js
Labels: [Package] Url

#27526 Core Data: Normalize `_fields` value for use in `stableKey`
  packages/core-data/src/queried-data/get-query-parts.js
  packages/core-data/src/queried-data/test/get-query-parts.js
  packages/core-data/src/queried-data/test/selectors.js
  packages/core-data/src/test/selectors.js
Labels: Backport to WP Minor Release, [Package] Core data, [Type] Bug

#28074 Update changelog for stylelint-config
  packages/stylelint-config/CHANGELOG.md
Labels: [Package] stylelint config, [Type] Documentation

#27665 Group Block: Add border radius
  docs/designers-developers/developers/themes/theme-json.md
  packages/block-library/src/group/block.json
Labels: [Block] Group, [Type] Enhancement

#28073 Testing: Fix randomly failing E2E test
  packages/e2e-tests/specs/experiments/multi-entity-editing.test.js
Labels: Automated Testing

#28055 Upgrade puppeteer to 5.5.0
  package-lock.json
  package.json
  packages/e2e-test-utils/src/change-site-timezone.js
  packages/scripts/CHANGELOG.md
  packages/scripts/package.json
Labels: [Package] Scripts, [Type] Breaking Change, [Type] Enhancement

#27727 Add aria labels to box control component inputs/button
  packages/components/src/box-control/index.js
  packages/components/src/box-control/linked-button.js
  packages/components/src/box-control/unit-control.js
  packages/components/src/unit-control/index.js
Labels: Backport to WP Minor Release, [Feature] UI Components, [Package] Components, [Type] Bug, [a11y] Labelling

#26348 Improve Inserter block hover performance
  packages/block-editor/src/components/inserter-list-item/index.js
  packages/block-editor/src/components/inserter/hooks/use-block-types-state.js
  packages/block-editor/src/components/inserter/hooks/use-insertion-point.js
  packages/block-editor/src/components/inserter/menu.js
  packages/block-editor/src/components/inserter/tabs.js
Labels: [Feature] Inserter, [Type] Performance

#28046 GH Actions: Compare Performance upon Release
  .github/workflows/performance.yml
Labels: Automated Testing

#27687 Use clientWidth when no width is available for cropper
  packages/block-library/src/image/image-editing/cropper.js
Labels: [Block] Image, [Type] Bug

#28096 FocalPointPicker: Fix rendering and dragging experience
  packages/components/src/focal-point-picker/focal-point.js
  packages/components/src/focal-point-picker/index.js
  packages/components/src/input-control/utils.js
Labels: [Package] Components, [Type] Bug

#27954 Consolidate block editor initializations
  packages/blocks/src/api/index.js
  packages/blocks/src/api/serializer.js
  packages/core-data/src/entity-provider.js
  packages/e2e-tests/specs/editor/various/reusable-blocks.test.js
  packages/editor/src/components/provider/index.js
  packages/editor/src/components/provider/use-post-content-editor.js
  packages/editor/src/store/actions.js
  packages/editor/src/store/selectors.js
  packages/editor/src/store/utils/serialize-blocks.js
Labels: [Type] Code Quality

#28080 Fix navigation editor
  packages/block-editor/src/components/block-navigation/block-select-button.js
  packages/e2e-tests/specs/experiments/__snapshots__/navigation-editor.test.js.snap
  packages/e2e-tests/specs/experiments/__snapshots__/navigation.test.js.snap
  packages/e2e-tests/specs/experiments/blocks/navigation.test.js
  packages/e2e-tests/specs/experiments/navigation-editor.test.js
  packages/edit-navigation/src/components/layout/index.js
Labels: [Feature] Navigation Screen, [Type] Regression

#28078 Widgets: Temporary fix for saving widgets
  packages/block-editor/src/components/provider/use-block-sync.js
  packages/edit-widgets/src/blocks/widget-area/edit/inner-blocks.js
  packages/edit-widgets/src/store/actions.js
  packages/edit-widgets/src/store/controls.js
Labels: [Feature] Widgets Screen, [Type] Regression

#27488 GitHub Actions: Create Release Draft when tagging version
  .github/workflows/build-plugin-zip.yml
  bin/plugin/commands/release.js
Labels: [Type] Build Tooling

#25775 Full site editor: load content in iframe
  lib/client-assets.php
  package-lock.json
  packages/block-editor/package.json
  packages/block-editor/src/components/block-list/block-popover.js
  packages/block-editor/src/components/block-list/block-selection-button.js
  packages/block-editor/src/components/iframe/index.js
  packages/block-editor/src/components/index.js
  packages/block-editor/src/components/observe-typing/index.js
  packages/block-editor/src/components/use-resize-canvas/index.js
  packages/block-editor/src/style.scss
  packages/components/src/popover/index.js
  packages/e2e-test-utils/README.md
  packages/e2e-test-utils/src/canvas.js
  packages/e2e-test-utils/src/index.js
  packages/e2e-test-utils/src/inserter.js
  packages/e2e-test-utils/src/show-block-toolbar.js
  packages/e2e-tests/specs/experiments/multi-entity-editing.test.js
  packages/e2e-tests/specs/experiments/multi-entity-saving.test.js
  packages/e2e-tests/specs/experiments/template-part.test.js
  packages/e2e-tests/specs/performance/site-editor.test.js
  packages/edit-site/src/components/block-editor/index.js
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/editor/style.scss
Labels: CSS Styling, Needs Accessibility Feedback, [Feature] Full Site Editing, [Feature] Themes

#27977 Mobile Release v1.44.0
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App Android/iOS

#28109 Verse: Fix line-wrap rendering on front-end of site
  packages/block-library/src/verse/style.scss
Labels: [Block] Verse, [Type] Bug

#28107 E2E FSE: Fix intermittent errors in multi entity editing test
  packages/e2e-tests/specs/experiments/multi-entity-editing.test.js
Labels: Automated Testing, [Package] E2E Tests

#28060 Mobile: Remove RN CHANGELOGs from npm release automation
  bin/plugin/commands/packages.js
Labels: Mobile App Android/iOS, [Type] Documentation

#28103 Try: Transparent spacer.
  packages/block-library/src/spacer/editor.scss
Labels: [Type] Enhancement

#27207 create draft and don't render drafts on the server
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation-link/index.php
Labels: Needs Design Feedback, [Block] Navigation

#28085 Components: Expose composite API from Reakit
  package-lock.json
  packages/block-editor/package.json
  packages/block-editor/src/components/block-types-list/index.js
  packages/block-editor/src/components/inserter-list-item/index.js
  packages/block-library/package.json
  packages/block-library/src/template-part/edit/selection/template-part-previews.js
  packages/components/src/alignment-matrix-control/cell.js
  packages/components/src/alignment-matrix-control/index.js
  packages/components/src/composite/index.js
  packages/components/src/disclosure/index.js
  packages/components/src/index.js
  packages/edit-widgets/src/blocks/widget-area/edit/index.js
Labels: [Package] Components, [Type] Performance

#28136 Fix block error when transforming blocks with Link Popover opened
  packages/rich-text/src/component/use-anchor-ref.js
Labels: [Package] Rich text, [Type] Bug

#28095 Testing: Prevent a direct usage of Reakit
  .eslintrc.js
  packages/components/src/composite/index.js
  packages/components/src/disclosure/index.js
Labels: Automated Testing, [Type] Code Quality

#28105 Create Block: Allow using locally installed packages with templates
  packages/create-block/CHANGELOG.md
  packages/create-block/lib/templates.js
Labels: [Package] Create Block, [Type] New API

#28143 Scripts: Align default engines for `check-engines` with the package
  packages/scripts/CHANGELOG.md
  packages/scripts/README.md
  packages/scripts/scripts/check-engines.js
Labels: [Package] Scripts, [Type] Bug

#27380 Add theme.json i18n mechanism and JSON file specifying which theme.json paths are translatable
  lib/class-wp-theme-json-resolver.php
  lib/experimental-i18n-theme.json
Labels: Global Styles, Internationalization (i18n)

#28122 BlockSwitcher: Fix crash due to null reference
  packages/block-editor/src/components/block-switcher/index.js
  packages/block-editor/src/components/block-switcher/test/index.js
Labels: Mobile Web, [Feature] Blocks, [Type] Bug

#28029 List View: Reduce whitespace and always show nested blocks
  packages/block-editor/src/components/block-navigation/appender.js
  packages/block-editor/src/components/block-navigation/block-select-button.js
  packages/block-editor/src/components/block-navigation/block.js
  packages/block-editor/src/components/block-navigation/indentation.js
  packages/block-editor/src/components/block-navigation/index.js
  packages/block-editor/src/components/block-navigation/style.scss
Labels: Needs Design Feedback, [Feature] List View

#27746 Modified isMatch to permit multiple links to be pasted without triggering embed block(#27551)
  packages/block-library/src/embed/transforms.js
Labels: First-time Contributor

#27392 Try: Fix appender margins again.
  packages/block-editor/src/components/block-list-appender/style.scss
Labels: CSS Styling, [Type] Enhancement

#28087 Fix invalid cover block transforms
  packages/block-library/src/cover/transforms.js
Labels: [Block] Cover, [Block] Image, [Block] Video, [Type] Regression

#28126 Show an error message when a reusable block has gone missing.
  packages/block-library/src/block/edit.js
  packages/core-data/src/resolvers.js
  packages/e2e-tests/specs/editor/various/reusable-blocks.test.js
Labels: [Feature] Reusable Blocks, [Type] Bug

#28130 Prevent link paste in RichText components in Button and Navigation blocks
  packages/rich-text/src/component/format-edit.js
  packages/rich-text/src/component/index.js
  packages/rich-text/src/component/index.native.js
  packages/rich-text/src/component/use-format-types.js
Labels: [Feature] Link Editing, [Feature] Rich Text, [Type] Bug

#28156 Annotations: Replace store name string with exposed store definition
  packages/annotations/src/block/index.js
  packages/annotations/src/format/annotation.js
  packages/annotations/src/store/constants.js
  packages/annotations/src/store/index.js
Labels: [Type] Code Quality

#28162 Remove effects test file and remove unused refx dependency
  package-lock.json
  packages/block-editor/src/store/test/actions.js
  packages/block-editor/src/store/test/effects.js
  packages/editor/package.json
Labels: [Type] Code Quality

#27972 Decouple query from edit site
  packages/block-library/src/query-loop/block.json
  packages/block-library/src/query-loop/edit.js
  packages/block-library/src/query/edit/index.js
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/template-navigation-item.js
  packages/edit-site/src/store/actions.js
  packages/edit-site/src/store/test/actions.js
Labels: [Block] Query, [Feature] Full Site Editing

#28128 Hide the theme without comments.php deprecation message
  packages/block-library/src/post-comments/index.php
Labels: [Feature] Full Site Editing, [Type] Experimental

#28003 Making the sidebar inspector's tabs stick when scrolling.
  packages/edit-post/src/components/layout/style.scss
  packages/interface/src/components/complementary-area/style.scss
  packages/interface/src/components/interface-skeleton/style.scss
Labels: General Interface

#28164 Delete unused options while upgrading the plugin
  lib/upgrade.php
Labels: [Feature] Full Site Editing, [Type] Experimental

#28000 [RNMobile] Fix File block E2E test
  packages/react-native-editor/__device-tests__/gutenberg-editor-file-@canary.test.js
Labels: Mobile App Android/iOS

#28127 Fix floating date status inferred for posts where the status has been edited
  packages/editor/src/components/post-schedule/label.js
  packages/editor/src/store/selectors.js
  packages/editor/src/store/test/selectors.js
Labels: [Feature] Saving, [Type] Bug

#27845 Update the layout of the title in the top bar while template editing
  packages/e2e-tests/specs/experiments/multi-entity-editing.test.js
  packages/edit-site/src/components/header/document-actions/index.js
  packages/edit-site/src/components/header/document-actions/style.scss
Labels: [Feature] Full Site Editing

#28182 Remove @talldan from some codeowners paths
  .github/CODEOWNERS
Labels: [Type] Project Management

#28171 Update/simplify case transforms
  lib/class-wp-theme-json.php
Labels: [Type] Code Quality

#28129 Try: Show spacer background even on hover.
  packages/block-library/src/spacer/editor.scss
Labels: [Feature] Full Site Editing, [Type] Enhancement

#28160 Add some basic e2e tests for the widgets screen
  packages/e2e-tests/specs/widgets/adding-widgets.test.js
Labels: Automated Testing, [Feature] Widgets Screen, [Type] Enhancement

#26816 Only consider legal block types for the block list when transforming files to blocks
  packages/block-editor/src/components/use-on-block-drop/index.js
  packages/block-editor/src/components/use-on-block-drop/test/index.js
Labels: [Feature] Raw Handling, [Type] Enhancement

#28189 Update nosolosw notifs
  .github/CODEOWNERS
Labels: [Type] Project Management

#28188 Remove code no longer necessary
  lib/class-wp-theme-json-resolver.php
  lib/class-wp-theme-json.php
  phpunit/class-wp-theme-json-test.php
Labels: [Type] Code Quality

#27611 Expose group/ungroup buttons in site editor
  packages/block-editor/src/components/block-settings-menu-controls/index.js
  packages/block-editor/src/components/convert-to-group-buttons/index.js
  packages/block-editor/src/components/convert-to-group-buttons/index.native.js
  packages/block-editor/src/store/selectors.js
  packages/editor/src/components/convert-to-group-buttons/index.js
  packages/editor/src/components/provider/index.js
Labels: [Feature] Full Site Editing, [Type] Bug

#27995 Try: Make empty paragraphs take up the same space on the frontend, as in the editor
  packages/block-library/src/paragraph/style.scss
Labels: Needs Design Feedback

#28121 [RNMobile] Fix crash in mobile paragraph blocks with custom font size
  packages/rich-text/src/component/index.native.js
Labels: Mobile App Android/iOS

#28088 Template Parts: Fix loading issue
  lib/full-site-editing/block-templates.php
  lib/full-site-editing/edit-site-export.php
  phpunit/class-block-templates-test.php
  phpunit/class-edit-site-export-test.php
Labels: [Feature] Full Site Editing

#27866 Change the block editor inserter quick inserter border color
  packages/block-editor/src/components/inserter/style.scss
Labels: Needs Design Feedback

#28150 Inserter: Fix left padding on Block Pattern Inserter dropdown
  packages/block-editor/src/components/inserter/style.scss
Labels: First-time Contributor

#25926 Block Directory: Filter out disallowed blocks before showing available blocks
  packages/block-directory/src/components/downloadable-blocks-panel/index.js
  packages/block-directory/src/plugins/inserter-menu-downloadable-blocks-panel/index.js
  packages/block-editor/src/components/inserter/search-results.js
  packages/block-editor/src/store/selectors.js
Labels: [Feature] Block Directory

#27936 Refactor out CSS gradient from custom-gradient-bar
  packages/components/src/custom-gradient-bar/constants.js
  packages/components/src/custom-gradient-bar/control-points.js
  packages/components/src/custom-gradient-bar/index.js
  packages/components/src/custom-gradient-bar/utils.js
  packages/components/src/custom-gradient-picker/constants.js
  packages/components/src/custom-gradient-picker/index.js
  packages/components/src/custom-gradient-picker/index.native.js
  packages/components/src/custom-gradient-picker/utils.js
Labels: [Package] Components, [Type] Code Quality

#28209 [RNMobile] Fixed crash introduced from recent fontSize fix
  packages/rich-text/src/component/index.native.js
Labels: Mobile App Android/iOS

#21598 Clear block selection if needed when dispatching resetBlocks
  packages/block-editor/src/store/reducer.js
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/reducer.js
  packages/block-editor/src/store/test/selectors.js
Labels: [Package] Block editor, [Type] Bug

#27881 New Package: Gutenpride Template to use with the tutorial
  docs/manifest.json
  packages/create-block-tutorial-template/.npmrc
  packages/create-block-tutorial-template/CHANGELOG.md
  packages/create-block-tutorial-template/README.md
  packages/create-block-tutorial-template/package.json
  packages/create-block-tutorial-template/src/$slug.php.mustache
  packages/create-block-tutorial-template/src/assets/gilbert-color.otf
  packages/create-block-tutorial-template/src/index.js
  packages/create-block-tutorial-template/src/readme.txt.mustache
  packages/create-block-tutorial-template/src/src/edit.js.mustache
  packages/create-block-tutorial-template/src/src/editor.scss.mustache
  packages/create-block-tutorial-template/src/src/index.js.mustache
  packages/create-block-tutorial-template/src/src/save.js.mustache
  packages/create-block-tutorial-template/src/src/style.scss.mustache
Labels: First-time Contributor, [Package] Create Block

#28212 FSE: fix iframe error in Firefox
  packages/block-editor/src/components/iframe/index.js
Labels: [Feature] Full Site Editing, [Type] Bug

#28202 Add theme.json escaping tests
  phpunit/class-wp-theme-json-test.php
Labels: Automated Testing, Global Styles

#28222 Fix the nav menu justify controls menu style.
  packages/block-library/src/navigation/edit.js
Labels: [Block] Navigation, [Type] Enhancement

#28226 Block Card: Update readme
  packages/block-editor/src/components/block-card/README.md
Labels: [Type] Documentation

#28215 Create Block: Enhancements to Gutenpride tutorial template
  package-lock.json
  package.json
  packages/create-block-tutorial-template/README.md
  packages/create-block-tutorial-template/assets/gilbert-color.otf
  packages/create-block-tutorial-template/index.js
  packages/create-block-tutorial-template/package.json
  packages/create-block-tutorial-template/src/index.js
  packages/create-block-tutorial-template/src/src/style.scss.mustache
  packages/create-block-tutorial-template/templates/$slug.php.mustache
  packages/create-block-tutorial-template/templates/readme.txt.mustache
  packages/create-block-tutorial-template/templates/src/edit.js.mustache
  packages/create-block-tutorial-template/templates/src/editor.scss.mustache
  packages/create-block-tutorial-template/templates/src/index.js.mustache
  packages/create-block-tutorial-template/templates/src/save.js.mustache
  packages/create-block-tutorial-template/templates/src/style.scss.mustache
  packages/create-block/lib/templates/es5/index.js.mustache
  packages/create-block/lib/templates/esnext/src/index.js.mustache
Labels: [Package] Create Block

#28231 Scripts: Prevent mangle of translation functions
  packages/scripts/config/webpack.config.js
  webpack.config.js
Labels: Gutenberg Plugin, Internationalization (i18n), [Package] Scripts, [Type] Build Tooling

#28232 Chore: Add changelog for 28231
  packages/scripts/CHANGELOG.md
Labels: [Type] Documentation

#28223 Fix backwards compatibility issue with Inline Image format
  packages/format-library/src/image/index.js
Labels: Backwards Compatibility, [Package] Format library, [Type] Bug

#28017 Fix non static method WP_Block_Parser::freeform called statically
  packages/block-serialization-default-parser/parser.php
Labels: [Feature] Parsing, [Type] Code Quality

#27312 Adjust borders on gallery to prevent overlap
  packages/block-library/src/gallery/editor.scss
Labels: [Block] Gallery

#28230 Navigation component: Fix button outline
  packages/components/src/navigation/styles/navigation-styles.js
Labels: [Feature] Navigation Component

#28239 Fix entity spotlight system.
  packages/block-editor/src/components/block-list/style.scss
Labels: [Feature] Full Site Editing, [Type] Bug

#28179 Add stale issue workflow for issues with need info requested
  .github/workflows/stale-issue-needs-info.yml
Labels: [Type] Project Management

#26135 Show text labels in block toolbars when option is set.
  packages/block-editor/src/components/alignment-toolbar/index.js
  packages/block-editor/src/components/alignment-toolbar/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/block-alignment-toolbar/index.js
  packages/block-editor/src/components/block-alignment-toolbar/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/block-mover/index.js
  packages/block-editor/src/components/block-settings-menu/block-settings-dropdown.js
  packages/block-editor/src/components/block-switcher/index.js
  packages/block-editor/src/components/block-switcher/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/block-toolbar/style.scss
  packages/block-editor/src/components/color-palette/test/__snapshots__/control.js.snap
  packages/block-editor/src/components/rich-text/format-toolbar-container.js
  packages/block-editor/src/components/rich-text/format-toolbar/index.js
  packages/block-editor/src/components/rich-text/format-toolbar/style.scss
  packages/block-library/src/list/edit.js
  packages/components/src/button/index.js
  packages/components/src/button/test/index.js
  packages/components/src/color-palette/test/__snapshots__/index.js.snap
  packages/components/src/color-palette/test/index.js
  packages/components/src/color-picker/test/__snapshots__/index.js.snap
  packages/components/src/toolbar-group/toolbar-group-collapsed.js
  packages/components/src/toolbar/stories/index.js
  packages/e2e-tests/specs/editor/blocks/list.test.js
  packages/e2e-tests/specs/editor/blocks/preformatted.test.js
  packages/e2e-tests/specs/editor/plugins/align-hook.test.js
  packages/e2e-tests/specs/editor/plugins/annotations.test.js
  packages/e2e-tests/specs/editor/plugins/cpt-locking.test.js
  packages/e2e-tests/specs/editor/plugins/format-api.test.js
  packages/e2e-tests/specs/editor/various/adding-inline-tokens.test.js
  packages/e2e-tests/specs/editor/various/block-deletion.test.js
  packages/e2e-tests/specs/editor/various/block-grouping.test.js
  packages/e2e-tests/specs/editor/various/duplicating-blocks.test.js
  packages/e2e-tests/specs/editor/various/editor-modes.test.js
  packages/e2e-tests/specs/editor/various/invalid-block.test.js
  packages/e2e-tests/specs/editor/various/keyboard-navigable-blocks.test.js
  packages/e2e-tests/specs/editor/various/multi-block-selection.test.js
  packages/e2e-tests/specs/editor/various/reusable-blocks.test.js
  packages/e2e-tests/specs/editor/various/style-variation.test.js
  packages/e2e-tests/specs/editor/various/toolbar-roving-tabindex.test.js
  packages/e2e-tests/specs/editor/various/writing-flow.test.js
  packages/e2e-tests/specs/experiments/template-part.test.js
  packages/edit-post/src/components/header/more-menu/test/__snapshots__/index.js.snap
  packages/edit-post/src/components/header/style.scss
  packages/edit-post/src/components/preferences-modal/options/test/__snapshots__/enable-custom-fields.js.snap
Labels: Accessibility (a11y), Needs Accessibility Feedback, Needs Design Feedback, [a11y] Labelling

#27695 Fix for: [Interface Skeleton] Limit the editor width to prevent some blocks to grow infinitely wide
  packages/interface/src/components/interface-skeleton/style.scss
Labels: CSS Styling, [Package] Interface

#26822 Try: System font for vanilla editor styles.
  lib/client-assets.php
  lib/full-site-editing/edit-site-page.php
  packages/base-styles/_variables.scss
  packages/edit-post/src/components/welcome-guide/style.scss
  packages/editor/src/components/post-title/style.scss
  packages/editor/src/editor-styles.scss
  storybook/preview-head.html
  storybook/stories/playground/editor-styles.scss
Labels: Needs Design Feedback, [Type] Enhancement

#28190 Fix navigation editor error
  packages/e2e-tests/specs/experiments/__snapshots__/navigation-editor.test.js.snap
  packages/e2e-tests/specs/experiments/navigation-editor.test.js
  packages/edit-navigation/src/components/layout/use-navigation-block-editor.js
Labels: [Feature] Navigation Screen, [Type] Regression

#28266 Fix file formatting
  packages/e2e-tests/plugins/inner-blocks-templates/index.js
Labels: [Type] Task

#28234 Create Block: Add optional support for wp-env
  packages/create-block/CHANGELOG.md
  packages/create-block/README.md
  packages/create-block/lib/index.js
  packages/create-block/lib/init-wp-env.js
  packages/create-block/lib/scaffold.js
  packages/create-block/lib/templates.js
Labels: [Package] Create Block, [Type] New API

#26947 Navigation Block: Placeholder empty state
  packages/block-library/src/navigation/edit.js
  packages/block-library/src/navigation/editor.scss
  packages/block-library/src/navigation/placeholder-preview.js
  packages/block-library/src/navigation/placeholder.js
Labels: Needs Design Feedback, [Block] Navigation

#28219 Polish the appender focus style.
  packages/block-editor/src/components/button-block-appender/style.scss
  packages/block-library/src/navigation/editor.scss
Labels: [Block] Navigation, [Type] Enhancement

#27461 Button component: Add margin around the dash icon
  packages/components/src/button/style.scss
Labels: [Block] Buttons, [Type] Bug

#28272 Site Editor: Hide resize handle.
  packages/block-editor/src/components/default-block-appender/style.scss
Labels: [Feature] Full Site Editing, [Type] Bug

#28282 Fix allowedFormats in RichText component
  packages/rich-text/src/component/use-format-types.js
Labels: [Package] Rich text, [Type] Regression

#28279 Fix isRTL check by loading the ltr string explilcitely
  lib/client-assets.php
Labels: Backport to WP Beta/RC, [Type] Bug

#28287 Fix cover regression
  packages/block-library/src/cover/style.scss
Labels: [Block] Cover, [Type] Regression

#28068 Fix toolbar keyboard navigation after pressing alt+F10
  packages/block-editor/src/components/block-list/block-popover.js
  packages/e2e-tests/specs/editor/various/toolbar-roving-tabindex.test.js
Labels: [Type] Regression, [a11y] Keyboard & Focus

#28283 Try: Show reusable block parent border when child selected.
  packages/block-editor/src/components/block-list/style.scss
Labels: [Block] Block

#28203 Mobile Release v1.44.1
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App Android/iOS
