Repository WordPress/gutenberg, pull requests merged in 2021-11, with the labels that each got.

#36064 Move and rename the site editor menu item
  lib/client-assets.php
  lib/full-site-editing/edit-site-page.php
  lib/full-site-editing/full-site-editing.php
  lib/init.php
  packages/e2e-tests/experimental-features.js
  packages/edit-site/src/style.scss
Labels: [Type] Enhancement, [Feature] Full Site Editing

#35656 Embed: Add Wolfram Cloud as an embed provider
  packages/block-library/src/embed/icons.js
  packages/block-library/src/embed/variations.js
Labels: [Type] Enhancement, [Package] Block library, [Block] Embed

#36097 Typo: translated site properties
  packages/editor/src/components/entities-saved-states/index.js
Labels: [Type] Copy, [Package] Editor

#35979 Mark FSE blocks as non experimental
  packages/block-library/src/index.js
  packages/customize-widgets/src/index.js
  packages/edit-widgets/src/index.js
  tools/webpack/blocks.js
Labels: [Feature] Blocks, [Type] Build Tooling, Gutenberg Plugin

#35981 Add delete nav menu button to nav block
  packages/block-library/src/navigation/edit/index.js
  packages/block-library/src/navigation/edit/navigation-menu-delete-control.js
  packages/block-library/src/navigation/editor.scss
Labels: [Type] Enhancement, [Block] Navigation

#36106 Fix dropdown indicator.
  packages/block-library/src/navigation/editor.scss
Labels: [Type] Bug, [Block] Navigation

#36109 Fix a small typo in the "Getting started" documentation
  docs/getting-started/devenv/README.md
Labels: [Type] Documentation, developer-docs

#33950 Try: Show drag slot instead of hiding the item being dragged.
  packages/block-editor/src/components/block-draggable/style.scss
Labels: [Feature] Drag and Drop

#36108 [Patterns]: Add a flag to hide patterns from UI
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/selectors.js
Labels: [Feature] Themes, [Feature] Patterns, [Block] Pattern

#35992 Move getStablePath function into the wordrpess/url package
  packages/api-fetch/CHANGELOG.md
  packages/api-fetch/src/middlewares/preloading.js
  packages/api-fetch/src/middlewares/test/preloading.js
  packages/edit-navigation/CHANGELOG.md
  packages/edit-navigation/src/utils/index.js
  packages/url/CHANGELOG.md
  packages/url/README.md
  packages/url/src/index.js
  packages/url/src/normalize-path.js
  packages/url/src/test/index.js
Labels: [Package] Url, [Package] API fetch, [Package] Edit Navigation

#36003 [Block Editor]: Add `flex-wrap` control to `flex` layout
  lib/block-supports/layout.php
  packages/block-editor/src/hooks/layout.scss
  packages/block-editor/src/layouts/flex.js
Labels: [Type] Enhancement, [Package] Block editor

#35998 Add schemas package
  schemas/CHANGELOG.md
  schemas/README.md
  schemas/json/block.json
  schemas/json/theme.json
Labels: [Type] Code Quality

#34813 fix: backtick added around `<textarea>` input tag in readme file
  packages/dom/README.md
  packages/dom/src/dom/document-has-text-selection.js
  packages/dom/src/dom/document-has-uncollapsed-selection.js
Labels: [Type] Documentation, First-time Contributor

#35993 Navigation Editor: show a warning when trying to save unsupported blocks
  packages/edit-navigation/src/store/actions.js
Labels: [Feature] Navigation Screen, [Package] Edit Navigation, Developer Experience

#36009 Use Heading component on NavigationMenu and NavigationGroup components
  packages/components/src/navigation/group/index.js
  packages/components/src/navigation/menu/menu-title.js
  packages/components/src/navigation/styles/navigation-styles.js
Labels: First-time Contributor

#35634 Navigation Block: Add missing menu item attributes to core/navigation
  packages/block-library/src/navigation-link/index.php
  packages/block-library/src/navigation/index.php
Labels: [Type] Enhancement, First-time Contributor, [Block] Navigation Link

#36105 Fix navigation justifications.
  packages/block-library/src/navigation/style.scss
Labels: [Type] Bug, [Block] Navigation

#36032 Block Library: Deprecate the Post Comment block
  packages/block-library/src/post-comment-author-avatar/block.json
  packages/block-library/src/post-comment-author/block.json
  packages/block-library/src/post-comment-author/edit.js
  packages/block-library/src/post-comment-content/block.json
  packages/block-library/src/post-comment-content/edit.js
  packages/block-library/src/post-comment-date/block.json
  packages/block-library/src/post-comment-date/edit.js
  packages/block-library/src/post-comment-edit/block.json
  packages/block-library/src/post-comment-reply-link/block.json
  packages/block-library/src/post-comment/block.json
Labels: [Type] Enhancement, [Block] Comments Query Loop, [Block] Comment Template, [Block] Post Comments

#36125 [Block Library - Search]: Add contextual defaults when inserted in Navigation block
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation-link/transforms.js
  packages/block-library/src/search/edit.js
Labels: [Package] Block library, [Block] Search, [Block] Navigation Link

#36044 Improve the initial loading of the site editor
  docs/reference-guides/data/data-core.md
  lib/full-site-editing/edit-site-page.php
  packages/api-fetch/src/middlewares/preloading.js
  packages/core-data/README.md
  packages/core-data/src/actions.js
  packages/core-data/src/entities.js
  packages/core-data/src/reducer.js
  packages/core-data/src/resolvers.js
  packages/core-data/src/selectors.js
  packages/core-data/src/utils/forward-resolver.js
  packages/core-data/src/utils/if-not-resolved.js
  packages/core-data/src/utils/index.js
  packages/core-data/src/utils/test/if-not-resolved.js
  packages/data/src/redux-store/index.js
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/global-styles/global-styles-provider.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/menus/content-categories.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/menus/content-pages.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/menus/content-posts.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/menus/templates.js
  packages/edit-site/src/store/selectors.js
Labels: [Type] Enhancement, [Priority] High, [Type] Performance, [Type] Code Quality

#33459 Refactor FlatTermSelector into a functional component
  packages/editor/src/components/post-taxonomies/flat-term-selector.js
Labels: General Interface, [Type] Code Quality, [Package] Editor

#36137 theme.json docs: add missing settings & styles
  docs/how-to-guides/themes/theme-json.md
Labels: [Type] Documentation, Global Styles

#35985 Add Theme's base global styles endpoint
  lib/class-wp-rest-block-editor-settings-controller.php
  lib/compat/wordpress-5.9/class-gutenberg-rest-global-styles-controller.php
  lib/global-styles.php
  packages/core-data/src/actions.js
  packages/core-data/src/reducer.js
  packages/core-data/src/resolvers.js
  packages/core-data/src/selectors.js
  packages/edit-site/src/components/global-styles/global-styles-provider.js
  packages/editor/src/components/provider/use-block-editor-settings.js
Labels: Core REST API Task, [Type] Code Quality

#36139 Docs: theme.json - fix typo
  docs/how-to-guides/themes/theme-json.md
Labels: [Type] Documentation

#36090 Pattern block: remove wrapping div
  packages/block-library/src/pattern/edit.js
  packages/block-library/src/pattern/index.php
Labels: [Block] Pattern

#36140 Block Library: Fix incorrect attributes definitions
  packages/block-library/src/column/block.json
  packages/block-library/src/cover/block.json
  packages/block-library/src/group/block.json
Labels: [Type] Bug, [Package] Block library

#36138 Site Editor: Enable the "Save" keyboard shortcut
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/keyboard-shortcuts/index.js
Labels: [Type] Enhancement, [a11y] Keyboard & Focus, [Feature] Site Editor

#35877 Add fallback handling for plugins or themes using the Customizer
  lib/full-site-editing/full-site-editing.php
Labels: [Type] Bug, First-time Contributor, [Feature] Full Site Editing

#33793 Remove invalid buttons block CSS property
  packages/block-library/src/separator/style.scss
Labels: [Type] Code Quality, CSS Styling

#36054 Fix presets data for themes that do not provide any preset
  lib/class-wp-theme-json-resolver-gutenberg.php
  lib/global-styles.php
  phpunit/class-wp-theme-json-resolver-test.php
Labels: [Type] Bug, Global Styles

#35611 Tests: Run block fixtures through KSES.
  phpunit/class-block-fixture-test.php
  test/integration/fixtures/blocks/core__html.html
  test/integration/fixtures/blocks/core__html.json
  test/integration/fixtures/blocks/core__html.parsed.json
  test/integration/fixtures/blocks/core__html.serialized.html
Labels: Automated Testing, [Type] Code Quality

#36132 Mark Post Comments as stable and Comments Query Loop as experimental
  packages/block-library/src/index.js
Labels: [Feature] Blocks, Gutenberg Plugin

#35533 Embed block integration tests part 2
  packages/block-library/src/embed/test/__snapshots__/index.native.js.snap
  packages/block-library/src/embed/test/index.native.js
  test/native/__mocks__/styleMock.js
Labels: Mobile App - i.e. Android or iOS

#35945 Post Template Block: Move inner blocks container to separate component
  packages/block-library/src/post-template/edit.js
Labels: [Type] Bug, [Block] Post Template

#36163 Mark Post Navigation Link and Term Description blocks as stable
  packages/block-library/src/index.js
Labels: [Feature] Blocks

#35896 Add announcement on formatting change for screen readers
  package-lock.json
  packages/block-editor/src/components/rich-text/format-toolbar/index.js
  packages/format-library/src/bold/index.js
  packages/format-library/src/code/index.js
  packages/format-library/src/italic/index.js
  packages/format-library/src/keyboard/index.js
  packages/format-library/src/strikethrough/index.js
  packages/format-library/src/subscript/index.js
  packages/format-library/src/superscript/index.js
  packages/format-library/src/text-color/index.js
  packages/format-library/src/underline/index.js
  packages/rich-text/package.json
  packages/rich-text/src/toggle-format.js
Labels: Accessibility (a11y), Needs Accessibility Feedback

#36024 Try creating nav menu on pattern insertion or when the block has uncontrolled inner blocks
  packages/block-library/src/navigation/edit/index.js
  packages/block-library/src/navigation/edit/navigation-menu-name-modal.js
  packages/block-library/src/navigation/edit/navigation-menu-publish-button.js
  packages/block-library/src/navigation/edit/placeholder/index.js
  packages/block-library/src/navigation/edit/unsaved-inner-blocks.js
  packages/block-library/src/navigation/editor.scss
  packages/block-library/src/navigation/save.js
  packages/block-library/src/navigation/use-navigation-menu.js
  packages/editor/src/components/entities-saved-states/index.js
Labels: [Type] Enhancement, [Block] Navigation

#36154 Update `theme.json` schema migrations
  lib/class-wp-theme-json-gutenberg.php
  lib/class-wp-theme-json-schema-v0-to-v1.php
  lib/class-wp-theme-json-schema-v1-remove-custom-prefixes.php
  lib/interface-wp-theme-json-schema.php
  lib/load.php
  phpunit/class-wp-theme-json-schema-v0-to-v1-test.php
  phpunit/class-wp-theme-json-schema-v1-remove-custom-prefixes-test.php
Labels: [Type] Code Quality, Global Styles

#36145 Schemas: Theme.json - Add `title` to templateParts
  schemas/json/theme.json
Labels: [Type] Code Quality

#36157 Docs: Fix schema file url
  schemas/README.md
Labels: [Type] Documentation

#35970 Update: Show all color and gradient origins (core, theme, and user).
  packages/block-editor/src/components/colors-gradients/control.js
  packages/block-editor/src/components/colors-gradients/panel-color-gradient-settings.js
  packages/block-editor/src/hooks/color-panel.js
  packages/block-library/src/cover/edit.js
  packages/block-library/src/navigation/edit/index.js
  packages/block-library/src/separator/separator-settings.js
  packages/block-library/src/social-links/edit.js
  packages/components/src/color-palette/index.js
  packages/components/src/color-palette/styles.js
  packages/components/src/color-palette/test/__snapshots__/index.js.snap
  packages/components/src/gradient-picker/index.js
  packages/edit-site/src/components/global-styles/hooks.js
  packages/edit-site/src/components/global-styles/screen-background-color.js
  packages/edit-site/src/components/global-styles/screen-link-color.js
  packages/edit-site/src/components/global-styles/screen-text-color.js
Labels: Needs Design Feedback, Global Styles

#36173 Hotfix for leftovers of `WP_Theme_JSON_Resolver::get_merged_data`
  lib/compat/wordpress-5.9/class-gutenberg-rest-global-styles-controller.php
  lib/compat/wordpress-5.9/get-global-styles-and-settings.php
Labels: [Type] Bug, Global Styles

#34846 Add Media File and Attachment Page options to the native Image block Link To menu
  packages/block-editor/src/components/block-list/index.native.js
  packages/block-editor/src/components/block-settings/container.native.js
  packages/block-editor/src/components/block-styles/preview.native.js
  packages/block-library/src/image/edit.native.js
  packages/block-library/src/image/test/edit.native.js
  packages/components/src/index.native.js
  packages/components/src/mobile/bottom-sheet/cell.native.js
  packages/components/src/mobile/bottom-sheet/cellStyles.android.scss
  packages/components/src/mobile/bottom-sheet/cellStyles.ios.scss
  packages/components/src/mobile/bottom-sheet/link-cell.native.js
  packages/components/src/mobile/link-settings/image-link-destinations-screen.native.js
  packages/components/src/mobile/link-settings/index.native.js
  packages/components/src/mobile/link-settings/link-settings-screen.native.js
  packages/components/src/mobile/link-settings/style.native.scss
  packages/react-native-editor/CHANGELOG.md
  test/native/setup.js
Labels: Mobile App - i.e. Android or iOS, [Block] Image, [Type] Feature

#36174 Comment Template: Move inner blocks container to separate components
  packages/block-library/src/comment-template/edit.js
Labels: [Type] Bug, [Block] Comment Template

#36175 Blocks: Add view script to block schema and docs
  docs/reference-guides/block-api/block-metadata.md
  schemas/json/block.json
Labels: [Feature] Block API, [Type] Documentation

#36155 Migrate theme.json v1 to v2
  docs/how-to-guides/themes/create-block-theme.md
  docs/how-to-guides/themes/theme-json.md
  lib/class-wp-theme-json-gutenberg.php
  lib/class-wp-theme-json-schema-v1-to-v2.php
  lib/global-styles.php
  lib/load.php
  lib/theme.json
  packages/block-editor/src/components/use-setting/index.js
  packages/block-editor/src/hooks/border.js
  packages/block-editor/src/hooks/line-height.js
  packages/block-editor/src/hooks/margin.js
  packages/block-editor/src/hooks/padding.js
  packages/edit-site/src/components/global-styles/border-panel.js
  packages/edit-site/src/components/global-styles/dimensions-panel.js
  packages/edit-site/src/components/global-styles/typography-panel.js
  phpunit/class-wp-theme-json-resolver-test.php
  phpunit/class-wp-theme-json-schema-v1-to-v2-test.php
  phpunit/class-wp-theme-json-test.php
  schemas/json/theme.json
Labels: Global Styles

#36011 Full Site Editing: Use SearchControl component inside nav menu
  packages/components/src/navigation/menu/menu-title-search.js
  packages/components/src/navigation/menu/menu-title.js
  packages/components/src/navigation/styles/navigation-styles.js
  packages/components/src/search-control/index.js
  packages/components/src/utils/hooks/index.js
  packages/components/src/utils/hooks/use-combined-ref.ts
Labels: [a11y] Color Contrast, First-time Contributor

#34064 Typography block support: add typography support and defaults
  packages/block-library/src/button/block.json
  packages/block-library/src/code/block.json
  packages/block-library/src/heading/block.json
  packages/block-library/src/list/block.json
  packages/block-library/src/navigation/block.json
  packages/block-library/src/paragraph/block.json
  packages/block-library/src/post-author/block.json
  packages/block-library/src/post-comment-date/block.json
  packages/block-library/src/post-comments-count/block.json
  packages/block-library/src/post-comments-form/block.json
  packages/block-library/src/post-comments-link/block.json
  packages/block-library/src/post-comments/block.json
  packages/block-library/src/post-date/block.json
  packages/block-library/src/post-excerpt/block.json
  packages/block-library/src/post-navigation-link/block.json
  packages/block-library/src/post-terms/block.json
  packages/block-library/src/post-title/block.json
  packages/block-library/src/preformatted/block.json
  packages/block-library/src/pullquote/block.json
  packages/block-library/src/query-pagination-next/block.json
  packages/block-library/src/query-pagination-previous/block.json
  packages/block-library/src/query-title/block.json
  packages/block-library/src/quote/block.json
  packages/block-library/src/site-tagline/block.json
  packages/block-library/src/site-title/block.json
  packages/block-library/src/table/block.json
  packages/block-library/src/term-description/block.json
  packages/block-library/src/verse/block.json
Labels: [Type] Enhancement, [Feature] Design Tools

#36189 Revert "Always display Customizer menu item"
  lib/full-site-editing/full-site-editing.php
Labels: [Feature] Full Site Editing

#35476 [RNMobile][Embed block] Integration tests
  packages/block-editor/src/components/rich-text/embed-handler-picker.native.js
  packages/block-library/src/audio/test/edit.native.js
  packages/block-library/src/embed/embed-bottom-sheet.native.js
  packages/block-library/src/embed/embed-no-preview.native.js
  packages/block-library/src/embed/test/__snapshots__/index.native.js.snap
  packages/block-library/src/embed/test/index.native.js
  packages/block-library/src/file/test/edit.native.js
  packages/block-library/src/index.native.js
  packages/block-library/src/search/test/edit.native.js
  packages/components/src/mobile/link-settings/link-settings-navigation.native.js
  packages/components/src/mobile/picker/index.android.js
  packages/react-native-editor/package.json
  test/native/__mocks__/@wordpress/react-native-aztec/index.js
  test/native/__mocks__/styleMock.js
  test/native/helpers.js
  test/native/setup.js
Labels: Mobile App - i.e. Android or iOS, [Block] Embed

#36182 Refactor theme.json migrations to be a single class
  lib/class-wp-theme-json-gutenberg.php
  lib/class-wp-theme-json-schema-gutenberg.php
  lib/class-wp-theme-json-schema-v1-remove-custom-prefixes.php
  lib/class-wp-theme-json-schema-v1-to-v2.php
  lib/interface-wp-theme-json-schema.php
  lib/load.php
  phpunit/class-wp-theme-json-schema-gutenberg-test.php
  phpunit/class-wp-theme-json-schema-v0-to-v1-test.php
  phpunit/class-wp-theme-json-schema-v1-remove-custom-prefixes-test.php
  phpunit/class-wp-theme-json-schema-v1-to-v2-test.php
Labels: [Type] Code Quality, Global Styles

#36203 Fix navigation in global styles sidebar
  packages/edit-site/src/components/global-styles/screen-colors.js
Labels: [Type] Bug, Global Styles

#36181 [RNMobile] Disable automatically managed signing for RN editor Xcode project.
  packages/react-native-editor/ios/GutenbergDemo.xcodeproj/project.pbxproj
Labels: [Type] Build Tooling, Mobile App - i.e. Android or iOS

#36177 Improve unit test coverage for REST API menus endpoints.
  lib/class-wp-rest-menu-items-controller.php
  lib/class-wp-rest-menu-locations-controller.php
  phpunit/class-rest-nav-menu-items-controller-test.php
  phpunit/class-rest-nav-menu-locations-test.php
  phpunit/class-rest-nav-menus-controller-test.php
Labels: Core REST API Task, REST API Interaction, [Block] Navigation, [Feature] Navigation Screen

#35783 Update: Implement new color palette editor component
  packages/components/src/color-edit/index.js
  packages/components/src/color-edit/style.scss
  packages/components/src/color-edit/styles.js
  packages/edit-site/src/components/global-styles/color-palette-panel.js
Labels: Needs Design Feedback, [Package] Components, Global Styles

#35701 [Columns]: Add padding support
  packages/block-library/src/columns/block.json
  packages/block-library/src/columns/style.scss
Labels: [Block] Columns

#35850 Core Data uses hardcoded baseURL prefix for taxonomies and post types
  packages/core-data/src/entities.js
Labels: [Type] Bug, [Package] Core data

#36195 Fix fatal error in Site Logo block in WP 5.9
  packages/block-library/src/site-logo/index.php
Labels: [Type] Bug, Gutenberg Plugin, [Block] Site Logo

#36194 Remove navigation panel in site editor
  lib/init.php
  packages/base-styles/_z-index.scss
  packages/e2e-tests/specs/experiments/document-settings.test.js
  packages/e2e-tests/specs/experiments/multi-entity-editing.test.js
  packages/e2e-tests/specs/experiments/multi-entity-saving.test.js
  packages/e2e-tests/specs/experiments/settings-sidebar.test.js
  packages/e2e-tests/specs/experiments/template-part.test.js
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/header/index.js
  packages/edit-site/src/components/header/navigation-link/index.js
  packages/edit-site/src/components/header/navigation-link/style.scss
  packages/edit-site/src/components/template-details/index.js
  packages/edit-site/src/components/template-details/style.scss
  packages/edit-site/src/style.scss
Labels: [Feature] Site Editor

#35999 Classic Block: Fix select all blocks side effect
  packages/block-library/src/freeform/edit.js
Labels: [Type] Bug, [Priority] High, [Block] Classic

#36226 Remove "security" verbiage from warning when filetype does not pass on upload.
  packages/media-utils/src/utils/upload-media.js
Labels: [Type] Enhancement, [Feature] Media

#36126 Provide a way to manage wp_navigation posts from wp-admin
  lib/navigation.php
  phpunit/navigation-test.php
Labels: [Type] Enhancement, [Block] Navigation

#35538 Fix relative URLs for inlined styles
  lib/blocks.php
Labels: [Type] Bug

#36213 Update - Add spacing to comment author name to have same options as post author name
  packages/block-library/src/comment-author-name/block.json
Labels: [Type] Enhancement, [Block] Comment Template

#36239 Skip broken widgets test
  packages/e2e-tests/specs/widgets/editing-widgets.test.js
Labels: Automated Testing

#36210 Show the placeholder again when moving from a valid menu to non-existing menu
  packages/block-library/src/navigation/edit/index.js
  packages/block-library/src/navigation/use-navigation-menu.js
Labels: [Block] Navigation, [Package] Edit Navigation

#36178 Navigation Area block
  lib/blocks.php
  lib/class-wp-rest-block-navigation-areas-controller.php
  lib/full-site-editing/edit-site-page.php
  lib/load.php
  lib/navigation.php
  lib/rest-api.php
  packages/block-library/src/index.js
  packages/block-library/src/navigation-area/block.json
  packages/block-library/src/navigation-area/edit.js
  packages/block-library/src/navigation-area/index.js
  packages/block-library/src/navigation-area/index.php
  packages/block-library/src/navigation-area/inner-blocks.js
  packages/block-library/src/navigation-area/save.js
  packages/block-library/src/navigation/block.json
  packages/block-library/src/navigation/edit/index.js
  packages/block-library/src/navigation/editor.scss
  packages/block-library/src/navigation/index.php
  packages/core-data/src/entities.js
  test/integration/fixtures/blocks/core__navigation-area.html
  test/integration/fixtures/blocks/core__navigation-area.json
  test/integration/fixtures/blocks/core__navigation-area.parsed.json
  test/integration/fixtures/blocks/core__navigation-area.serialized.html
Labels: New Block, [Block] Navigation, Needs Dev Note, [Feature] Navigation Screen, [Feature] Navigation Component

#31081 Apply borders to canvas rather than other UI elements
  packages/edit-post/src/components/visual-editor/index.js
  packages/interface/src/components/interface-skeleton/style.scss
Labels: General Interface, Needs Design Feedback

#32320 Fix the update of link and suggestions in LinkControl
  packages/block-editor/src/components/link-control/index.js
  packages/block-editor/src/components/url-input/index.js
Labels: First-time Contributor, [Feature] Link Editing

#36232 Fix: Show user colors on palette indicator.
  packages/edit-site/src/components/global-styles/palette.js
Labels: Global Styles

#36233 Fix: Crash when resetting user color palette.
  packages/components/src/color-edit/index.js
Labels: Global Styles

#35996 Remove slug and status columns from templates list in Appearance > Templates
  lib/full-site-editing/templates-utils.php
Labels: [Feature] Full Site Editing

#36245 Add create new menu button to nav block
  packages/block-library/src/navigation/edit/index.js
  packages/block-library/src/navigation/edit/navigation-menu-selector.js
Labels: [Type] Enhancement, [Block] Navigation

#36253 Make sure tests are pure
  phpunit/class-wp-theme-json-test.php
Labels: [Type] Code Quality

#36198 Fix navigation block link control zero value in it
  packages/block-editor/src/components/link-control/index.js
Labels: [Type] Bug, [Block] Navigation

#36238 Update navigation block entity automatic name generation and refine naming UI
  packages/block-library/src/navigation/edit/index.js
  packages/block-library/src/navigation/edit/navigation-menu-name-control.js
  packages/block-library/src/navigation/edit/unsaved-inner-blocks.js
  packages/block-library/src/navigation/editor.scss
  packages/block-library/src/navigation/use-template-part-area-label.js
Labels: [Type] Enhancement, [Block] Navigation

#36257 Disable ability to edit menus via `Appearance -> Navigation Menus` for non-FSE themes
  lib/navigation.php
Labels: [Type] Bug, [Block] Navigation

#36218 Blocks: Document changes to style and editorStyle in `block.json`
  docs/reference-guides/block-api/block-metadata.md
  schemas/json/block.json
Labels: [Feature] Block API, [Type] Documentation

#35975 Image Block: Add data-id attribute on server side render for core galleries
  lib/blocks.php
  packages/block-library/src/gallery/index.php
  packages/block-library/src/image/index.php
Labels: [Type] Bug, Backwards Compatibility, [Block] Image, [Block] Gallery

#36255 Migrate classic menus to block-based menus on theme switch
  lib/navigation.php
Labels: [Block] Navigation

#35773 [Patterns]: Browse Patterns in a Modal
  packages/block-editor/src/components/block-patterns-list/index.js
  packages/block-editor/src/components/block-patterns-list/style.scss
  packages/block-editor/src/components/inserter/block-patterns-explorer/explorer.js
  packages/block-editor/src/components/inserter/block-patterns-explorer/patterns-list.js
  packages/block-editor/src/components/inserter/block-patterns-explorer/sidebar.js
  packages/block-editor/src/components/inserter/block-patterns-tab.js
  packages/block-editor/src/components/inserter/pattern-panel.js
  packages/block-editor/src/components/inserter/style.scss
  packages/components/src/modal/README.md
  packages/components/src/modal/index.js
  packages/components/src/modal/style.scss
Labels: [Type] Enhancement, [Feature] Patterns

#36271 Disable BottomSheet swipe gesture to navigate backwards
  packages/editor/src/components/editor-help/index.native.js
Labels: Mobile App - i.e. Android or iOS, [Type] Feature

#36261 Components: Modal: Wrap the modal contents in a StyleProvider
  packages/components/src/modal/index.js
Labels: [Package] Components, CSS Styling

#36199 added specific links to agenda and notes posts related to core editor meetings
  README.md
Labels: [Type] Documentation

#36012 Gallery block: Add a dismissible warning about the need for versions >=18.2 of the mobile app
  package-lock.json
  packages/block-library/package.json
  packages/block-library/src/gallery/edit.js
  packages/block-library/src/gallery/editor.scss
  packages/block-library/src/gallery/use-mobile-warning.js
  packages/edit-post/src/index.js
Labels: [Type] Enhancement, [Block] Gallery

#36072 [Android] Synchronize content retrieval over the bridge
  packages/react-native-bridge/android/react-native-bridge/src/main/java/org/wordpress/mobile/WPAndroidGlue/WPAndroidGlueCode.java
  packages/react-native-editor/CHANGELOG.md
Labels: Mobile App - i.e. Android or iOS

#36281 Chore: Add comment to Remove filter to allow WP variables after min version is 5.8.
  lib/global-styles.php
Labels: Global Styles

#36290 Fix submenus not opening on click
  packages/block-library/src/navigation/view.js
Labels: [Type] Bug, [Block] Navigation, Backport to WP Beta/RC, [Block] Submenu

#36146 Site Editor: Change ToolsMoreMenuGroup slot-fill name
  packages/edit-site/src/components/header/tools-more-menu-group/index.js
Labels: [Type] Bug, Backport to WP Beta/RC, [Feature] Site Editor

#36280 Chore: Update: Centralize safe_style_css usages.
  lib/compat.php
  lib/global-styles.php
Labels: Global Styles

#36295 Schema: Allow block.json attribute type to be an array
  schemas/json/block.json
Labels: [Type] Enhancement, [Feature] Block API

#34742 Force remount LinkControl when moving between links within same richtext block
  packages/format-library/src/link/inline.js
  packages/format-library/src/link/use-link-instance-key.js
Labels: [Type] Bug, [Feature] Link Editing

#36220 Change all the uses of "website" to "site"
  packages/block-library/src/site-tagline/block.json
  packages/block-library/src/social-link/block.json
  packages/block-library/src/social-links/block.json
  packages/edit-site/src/components/global-styles/screen-background-color.js
  packages/edit-site/src/components/global-styles/screen-colors.js
  packages/edit-site/src/components/global-styles/screen-typography.js
Labels: [Type] Copy, Needs Copy Review

#36284 postcss-themes: Fix PostCSS 8 deprecation warning
  packages/postcss-themes/index.js
Labels: [Type] Code Quality, [Package] PostCSS Plugins Preset

#36285 DEWP: Fix deprecation warning
  packages/dependency-extraction-webpack-plugin/test/build.js
Labels: [Type] Bug, [Package] Dependency Extraction Webpack Plugin

#36294 Change edit links for templates and template parts
  lib/full-site-editing/template-loader.php
  phpunit/full-site-editing/template-loader-test.php
Labels: [Feature] Template Editing Mode

#36312 Cover Block: Fix default background dim
  packages/block-library/src/cover/style.scss
Labels: [Block] Cover

#36289 Image block: Make sure the Image block border radius is inherited if the image is linked
  packages/block-library/src/image/style.scss
Labels: [Block] Image

#36179 Docs: Schemastore - $schema is VS Code-specific
  docs/how-to-guides/themes/theme-json.md
Labels: [Type] Documentation

#36206 Respect fields param for global styles REST API requests.
  lib/compat/wordpress-5.9/class-gutenberg-rest-global-styles-controller.php
Labels: Core REST API Task, REST API Interaction

#36316 Schemas: Update schema URL to wp.org domain
  docs/reference-guides/block-api/block-metadata.md
  packages/create-block/README.md
  packages/create-block/lib/templates.js
Labels: [Package] Create Block

#36300 Data: clean up registerGenericStore param names
  packages/data/README.md
  packages/data/src/index.js
  packages/data/src/registry.js
Labels: [Package] Data

#36343 Add pattern to `name` key in block.json Schema
  schemas/json/block.json
Labels: [Feature] Block API, Developer Experience

#36347 Fix Gutenberg 11.8.2 in WordPress trunk
  lib/class-wp-theme-json-schema-v0.php
  lib/interface-wp-theme-json-schema.php
  packages/block-library/src/calendar/index.php
Labels: Backport to WP Beta/RC

#36341 fix schema to allow for custom blocks in theme.json
  schemas/json/theme.json
Labels: Developer Experience

#36217 "npm install" suggestion provides a better learning experience
  docs/contributors/code/getting-started-with-code-contribution.md
Labels: [Type] Documentation

#36333 Fix .wp-env.json to WP 5.8.1
  .wp-env.json
  phpunit/class-block-fixture-test.php
  phpunit/class-wp-theme-json-resolver-test.php
Labels: [Type] Build Tooling, Gutenberg Plugin

#36326 Make sure the mobile warning notice only runs when images are added to a new gallery block
  packages/block-library/src/gallery/edit.js
  packages/block-library/src/gallery/use-mobile-warning.js
Labels: [Type] Bug, [Block] Gallery, Backport to WP Beta/RC

#36332 Update theme.json schema to refer to wp.org URL
  docs/how-to-guides/themes/theme-json.md
Labels: [Type] Documentation

#36336 Prepare navigation php code for core patch
  lib/load.php
  lib/navigation-theme-opt-in.php
  lib/navigation.php
  packages/block-library/src/navigation/index.php
Labels: [Type] Code Quality, [Block] Navigation, Backport to WP Beta/RC, [Feature] Navigation Screen

#36292 Fix Navigation accessibility issues
  lib/block-supports/layout.php
  packages/block-editor/src/layouts/flex.js
  packages/block-library/src/navigation-submenu/style.scss
  packages/block-library/src/navigation/block.json
  packages/block-library/src/navigation/edit/responsive-wrapper.js
  packages/block-library/src/navigation/index.php
  packages/block-library/src/navigation/style.scss
  packages/block-library/src/page-list/style.scss
Labels: [Type] Bug, [Block] Navigation, Backport to WP Beta/RC

#36192 Address deprecation issues from Buttons flex layout PR.
  packages/block-library/src/buttons/deprecated.js
  packages/block-library/src/buttons/edit.js
  test/integration/fixtures/blocks/core__buttons__deprecated-1.json
  test/integration/fixtures/blocks/core__buttons__deprecated-1.serialized.html
  test/integration/fixtures/blocks/core__buttons__deprecated-2.json
  test/integration/fixtures/blocks/core_buttons__simple__deprecated.json
  test/integration/fixtures/blocks/core_buttons__simple__deprecated.serialized.html
Labels: [Type] Bug, [Block] Buttons, Backport to WP Beta/RC

#36264 Block Library: Fix incorrect attributes definitions
  packages/block-library/src/column/block.json
  packages/block-library/src/cover/block.json
  packages/block-library/src/group/block.json
  packages/blocks/src/api/parser/test/get-block-attributes.js
Labels: [Type] Bug, [Package] Block library, Backport to WP Beta/RC

#36357 Link editing: Account for link anchor no longer being present when generating unique link instance key
  packages/format-library/src/link/use-link-instance-key.js
Labels: [Type] Bug, Backport to WP Beta/RC, [Feature] Link Editing

#36313 Site Editor: Update back button URL
  lib/full-site-editing/template-parts.php
  lib/full-site-editing/templates.php
  packages/edit-site/src/components/header/navigation-link/index.js
Labels: [Type] Enhancement, [Feature] Site Editor

#36256 Group - Fix inner container regexes using fixed div tag
  lib/block-supports/layout.php
Labels: [Type] Bug, [Block] Group, Backport to WP Beta/RC, First-time Contributor

#36317 [RNMobile] Address `act` warnings on embed block integration tests
  packages/block-library/src/embed/test/index.native.js
Labels: Mobile App - i.e. Android or iOS

#36353 Fix getEntityRecords to ensure resolution on REST API failure
  packages/core-data/src/resolvers.js
Labels: [Type] Bug, [Package] Core data, Backport to WP Beta/RC

#36358 Navigation: Hide post attributes meta box
  lib/navigation.php
Labels: [Type] Bug, [Block] Navigation, Backport to WP Beta/RC

#36355 Ensure menus before map operation in Nav block
  packages/block-library/src/navigation/edit/placeholder/index.js
Labels: [Type] Bug, [Block] Navigation, Backport to WP Beta/RC

#36368 Fix failing tests and compatibility with 5.9.
  .wp-env.json
  lib/class-wp-rest-menu-items-controller.php
  lib/class-wp-rest-menu-locations-controller.php
  lib/class-wp-rest-menus-controller.php
  lib/navigation-page.php
  packages/core-data/src/entities.js
  packages/e2e-test-utils/src/menus.js
  packages/e2e-tests/specs/editor/blocks/classic.test.js
  packages/e2e-tests/specs/editor/plugins/image-size.test.js
  packages/e2e-tests/specs/editor/various/adding-inline-tokens.test.js
  packages/e2e-tests/specs/experiments/blocks/navigation.test.js
  packages/edit-navigation/src/hooks/use-menu-locations.js
  packages/edit-navigation/src/store/test/resolvers.js
  phpunit/class-block-fixture-test.php
  phpunit/class-rest-nav-menu-items-controller-test.php
  phpunit/class-rest-nav-menu-locations-test.php
  phpunit/class-rest-nav-menus-controller-test.php
  phpunit/navigation-page-test.php
Labels: Automated Testing, Backport to WP Beta/RC

#36369 Fix missing `<MainDashboardButton>` slot fill in site editor
  packages/edit-site/src/components/header/index.js
Labels: [Type] Bug, Backport to WP Beta/RC, [Feature] Full Site Editing

#36318 FSE: Add template_type guards
  lib/compat/wordpress-5.9/block-template-utils.php
Labels: [Feature] Full Site Editing

#36321 E2E: Add more Cover block tests
  packages/e2e-tests/specs/editor/blocks/cover.test.js
Labels: Automated Testing, [Package] E2E Tests

#36324 Template Part Block: Add some guards
  packages/block-library/src/template-part/index.php
Labels: [Type] Bug, Backport to WP Beta/RC, [Feature] Full Site Editing

#36351 Tests: Add integration tests with core blocks schema validation
  package-lock.json
  package.json
  packages/block-library/src/comment-author-avatar/block.json
  packages/block-library/src/comment-edit-link/block.json
  packages/block-library/src/comment-reply-link/block.json
  packages/block-library/src/comment-template/block.json
  packages/block-library/src/comments-query-loop/block.json
  packages/block-library/src/navigation-area/block.json
  packages/block-library/src/pattern/block.json
  schemas/json/block.json
  test/integration/blocks-schema.test.js
Labels: Automated Testing, [Package] Block library

#36298 Navigation: Small fixes
  packages/block-library/src/navigation-link/editor.scss
  packages/block-library/src/navigation-submenu/style.scss
  packages/block-library/src/navigation/editor.scss
  packages/block-library/src/navigation/style.scss
Labels: [Type] Bug, [Block] Navigation, Backport to WP Beta/RC

#36342 Site Editor: Remove duplicate menu item
  lib/full-site-editing/full-site-editing.php
Labels: [Type] Bug, [Feature] Site Editor

#36019 Use firstChild and lastChild when parsing lists from MS Word
  packages/blocks/src/api/raw-handling/ms-list-converter.js
Labels: [Status] In Progress, Mobile App - i.e. Android or iOS

#34522 Block Styles: Show style preview when hovered or focused
  docs/reference-guides/block-api/block-supports.md
  packages/block-editor/README.md
  packages/block-editor/src/components/block-inspector/index.js
  packages/block-editor/src/components/block-styles/index.js
  packages/block-editor/src/components/block-styles/menu-items.js
  packages/block-editor/src/components/block-styles/preview-panel.js
  packages/block-editor/src/components/block-styles/style.scss
  packages/block-editor/src/components/block-styles/test/utils.js
  packages/block-editor/src/components/block-styles/use-styles-for-block.js
  packages/block-editor/src/components/block-styles/utils.js
  packages/block-editor/src/components/block-switcher/block-styles-menu.js
  packages/block-editor/src/components/default-style-picker/index.js
  packages/block-editor/src/components/default-style-picker/style.scss
  packages/block-editor/src/components/index.js
  packages/block-editor/src/style.scss
  packages/edit-post/src/components/layout/index.js
Labels: [Type] Enhancement, [Feature] Style Variations

#36374 Move WP_REST_Block_Navigation_Areas_Controller from Gutenberg to Core.
  lib/class-wp-rest-block-navigation-areas-controller.php
  lib/navigation.php
  packages/core-data/src/entities.js
  packages/core-data/src/test/actions.js
Labels: [Type] Enhancement, [Block] Navigation

#36221 Group - Fix overzealous regex when restoring inner containers
  lib/block-supports/layout.php
Labels: [Type] Bug, [Block] Group, Backport to WP Beta/RC

#36390 Fix site editor reset styles in WP 5.9
  packages/edit-site/src/style.scss
Labels: [Type] Bug, Backport to WP Beta/RC, [Feature] Site Editor

#36356 Strip meta tags from pasted links in Chromium
  packages/block-editor/src/components/rich-text/use-paste-handler.js
Labels: [Type] Bug, [Feature] Rich Text, [Feature] Raw Handling, Backport to WP Beta/RC

#36340 Fix submenu justification and spacer orientation.
  packages/block-library/src/navigation/edit/index.js
  packages/block-library/src/navigation/editor.scss
  packages/block-library/src/navigation/index.php
Labels: [Type] Bug, [Block] Navigation, [Block] Spacer, Backport to WP Beta/RC

#36375 Navigation: Refactor and simplify setup state.
  packages/block-library/src/navigation/edit/placeholder/index.js
  packages/block-library/src/navigation/editor.scss
Labels: [Block] Navigation

#36363 Hide visilibility and status for navigation posts
  lib/navigation.php
Labels: [Type] Bug, [Block] Navigation

#36397 Nav block menu switcher - decode HTML entities and utilise accessible markup pattern
  packages/block-library/src/navigation/edit/navigation-menu-selector.js
  packages/block-library/src/navigation/edit/placeholder/index.js
Labels: [Type] Bug, [Block] Navigation, Backport to WP Beta/RC

#36297 Polish metabox container.
  packages/edit-post/src/components/layout/style.scss
  packages/edit-post/src/components/meta-boxes/meta-boxes-area/style.scss
Labels: [Type] Bug, Backport to WP Beta/RC

#36260 Scripts: Add TypeScript for builds and tests
  package-lock.json
  package.json
  packages/create-block/package.json
  packages/jest-preset-default/CHANGELOG.md
  packages/jest-preset-default/README.md
  packages/jest-preset-default/jest-preset.js
  packages/scripts/CHANGELOG.md
  packages/scripts/README.md
  packages/scripts/config/jest-e2e.config.js
  packages/scripts/config/jest-unit.config.js
  packages/scripts/config/webpack.config.js
  packages/scripts/package.json
Labels: [Type] Enhancement, [Type] Build Tooling, Automated Testing, [Package] Scripts, [Package] Jest preset

#36400 Mobile Release v1.66.0
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS

#36388 Gallery block: Fix issue with columns and link destination not copying across when gallery updated to v2 format
  packages/block-library/src/gallery/edit.js
  packages/block-library/src/gallery/v1/update-gallery-modal.js
Labels: [Block] Gallery

#36215 Navigation: Fix click-button size, submenu directions, scrollbars.
  packages/block-library/src/navigation/style.scss
Labels: [Type] Bug, [Block] Navigation, Backport to WP Beta/RC

#36282 Update theme styles for the code block
  packages/block-library/src/code/theme.scss
Labels: [Block] Code, CSS Styling

#36099 [RNMobile] Embed block - Link in Block Settings
  packages/block-editor/src/components/block-settings/container.native.js
  packages/block-library/src/embed/edit.native.js
  packages/block-library/src/embed/embed-bottom-sheet.native.js
  packages/block-library/src/embed/embed-controls.native.js
  packages/block-library/src/embed/embed-link-settings.native.js
  packages/block-library/src/embed/embed-placeholder.native.js
  packages/block-library/src/embed/test/__snapshots__/index.native.js.snap
  packages/block-library/src/embed/test/index.native.js
  packages/components/src/mobile/link-settings/index.native.js
  packages/react-native-editor/CHANGELOG.md
Labels: Mobile App - i.e. Android or iOS

#36156 Update Versions in WordPress to include 5.9
  docs/contributors/versions-in-wordpress.md
Labels: [Type] Enhancement, [Type] Documentation

#36454 Mobile Release v1.65.1
  packages/react-native-editor/CHANGELOG.md
Labels: Mobile App - i.e. Android or iOS

#36456 Docs: Update GIF image in docs with wp.org schema URL
  docs/how-to-guides/themes/theme-json.md
Labels: [Type] Documentation

#35703 Post title block default CSS: add a break-word rule by default
  packages/block-library/src/post-title/style.scss
Labels: [Type] Bug, [Block] Post Title

#36463 Fix Performance CI tests and make them always use the latest major as base branch
  .github/workflows/performance.yml
Labels: Automated Testing
