Repository WordPress/gutenberg, pull requests merged in 2021-09, with the labels that each got.

#34370 DateTime Component: Fix sizing of help info
  packages/components/src/date-time/style.scss
Labels: [Type] Bug, [Feature] UI Components

#34402 Gallery block: Fix problem with overflowing captions on new gallery block format
  packages/block-library/src/gallery/style.scss
Labels: [Type] Bug, [Block] Gallery

#34346 Block Editor: Ensure that `blockType` is defined when accessing `apiVersion`
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/use-block-props/use-block-custom-class-name.js
Labels: [Type] Code Quality, [Package] Block editor

#23589 Fix build hang on Windows 10
  bin/packages/build.js
Labels: [Type] Bug, [Type] Build Tooling

#34169 [Block Editor]: Fix caret position on block merging
  packages/block-editor/src/store/actions.js
  packages/block-editor/src/store/reducer.js
  packages/block-editor/src/store/test/reducer.js
  packages/e2e-tests/specs/editor/various/splitting-merging.test.js
Labels: [Type] Bug, [Feature] Rich Text, [Package] Block editor

#34373 Tools: Update TypeScript to the 4.4.x version
  bin/plugin/commands/changelog.js
  package-lock.json
  package.json
  packages/components/src/input-control/reducer/actions.ts
  packages/components/src/input-control/reducer/reducer.ts
  packages/components/src/input-control/reducer/state.ts
  packages/components/tsconfig.json
  packages/compose/README.md
  packages/compose/package.json
  packages/compose/src/hooks/use-debounce/index.js
  packages/compose/src/hooks/use-throttle/index.js
  packages/dom/src/dom/caret-range-from-point.js
  packages/i18n/src/sprintf.js
  packages/lazy-import/tsconfig.json
  packages/project-management-automation/lib/tasks/add-milestone/index.js
  packages/project-management-automation/lib/tasks/first-time-contributor-account-link/index.js
Labels: [Type] Build Tooling, [Type] Code Quality

#34423 Testing Overview: update JS example to use React Testing Library
  docs/contributors/code/testing-overview.md
Labels: [Type] Documentation, Automated Testing

#34350 Blocks: Register block when invalid value provided for the icon
  package-lock.json
  packages/blocks/CHANGELOG.md
  packages/blocks/package.json
  packages/blocks/src/api/constants.js
  packages/blocks/src/api/registration.js
  packages/blocks/src/api/test/registration.js
  packages/blocks/src/api/utils.js
Labels: [Feature] Block API, Backwards Compatibility, [Type] Regression, [Package] Blocks

#34374 core-data: move locks state from store to local variable
  packages/core-data/src/actions.js
  packages/core-data/src/index.js
  packages/core-data/src/locks/actions.js
  packages/core-data/src/locks/engine.js
  packages/core-data/src/locks/index.js
  packages/core-data/src/locks/reducer.js
  packages/core-data/src/locks/selectors.js
  packages/core-data/src/locks/test/actions.js
  packages/core-data/src/locks/test/engine.js
  packages/core-data/src/locks/test/reducer.js
  packages/core-data/src/locks/test/selectors.js
  packages/core-data/src/reducer.js
  packages/core-data/src/resolvers.js
  packages/core-data/src/test/actions.js
  packages/core-data/src/test/resolvers.js
Labels: [Package] Core data

#34455 [Docs]: Update block variations documentation about `block` scope
  docs/reference-guides/block-api/block-variations.md
  packages/block-editor/src/components/block-variation-picker/README.md
Labels: [Type] Documentation, [Feature] Block Variations

#34411 Video Block: Fix TypeError when removing poster.
  packages/block-library/src/video/edit.js
Labels: [Type] Bug, [Block] Video

#34386 Refactor deleteEntityRecord to use thunks instead of generators
  docs/reference-guides/data/data-core.md
  packages/core-data/README.md
  packages/core-data/src/actions.js
  packages/core-data/src/test/actions.js
Labels: [Package] Core data

#33851 [RNMobile][Embed block] Alignment options
  packages/block-library/src/embed/edit.native.js
  packages/block-library/src/embed/embed-preview.native.js
  packages/block-library/src/embed/styles.native.scss
  packages/components/src/sandbox/index.native.js
  packages/components/src/sandbox/style.native.scss
Labels: Mobile App - i.e. Android or iOS, [Block] Embed

#34048 Upgrade gradle to 7.1.1 agp to 4.2.2
  package-lock.json
  packages/react-native-aztec/android/build.gradle
  packages/react-native-aztec/android/gradle/wrapper/gradle-wrapper.jar
  packages/react-native-aztec/android/gradle/wrapper/gradle-wrapper.properties
  packages/react-native-aztec/android/gradlew
  packages/react-native-aztec/android/settings.gradle
  packages/react-native-bridge/android/build.gradle
  packages/react-native-bridge/android/gradle/wrapper/gradle-wrapper.jar
  packages/react-native-bridge/android/gradle/wrapper/gradle-wrapper.properties
  packages/react-native-bridge/android/gradlew
  packages/react-native-bridge/android/react-native-bridge/build.gradle
  packages/react-native-bridge/android/react-native-bridge/src/main/res/drawable/ic_check_24px.xml
  packages/react-native-bridge/android/react-native-bridge/src/main/res/drawable/ic_close_24px.xml
  packages/react-native-bridge/android/react-native-bridge/src/main/res/layout/activity_gutenberg_web_view.xml
  packages/react-native-bridge/android/settings.gradle
  packages/react-native-editor/android/build.gradle
  packages/react-native-editor/android/gradle/wrapper/gradle-wrapper.jar
  packages/react-native-editor/android/gradle/wrapper/gradle-wrapper.properties
  packages/react-native-editor/android/gradlew.bat
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS

#34222 Block Styles: Fix long strings of text without spaces overflow the block
  packages/block-library/src/button/style.scss
  packages/block-library/src/embed/style.scss
  packages/block-library/src/heading/style.scss
  packages/block-library/src/list/style.scss
  packages/block-library/src/paragraph/style.scss
  packages/block-library/src/pullquote/style.scss
  packages/block-library/src/quote/style.scss
Labels: [Type] Enhancement, Needs Design Feedback, [Block] Heading, [Block] Paragraph, CSS Styling

#34458 Update bug form to use drop downs
  .github/ISSUE_TEMPLATE/Bug_report.yml
Labels: [Type] Enhancement, [Type] Project Management

#32367 Navigation: Use gap instead of margin.
  packages/block-library/src/navigation/editor.scss
  packages/block-library/src/navigation/style.scss
Labels: [Type] Code Quality, [Block] Navigation, CSS Styling

#34446 [RNMobile][Embed block] Enable embed preview for a list of providers
  packages/block-library/src/embed/edit.native.js
  packages/block-library/src/embed/embed-preview.native.js
  packages/react-native-editor/CHANGELOG.md
Labels: Mobile App - i.e. Android or iOS, [Block] Embed

#34407 Consolidate the PATHS_WITH_MERGE constant to one instance
  packages/block-editor/src/components/use-setting/index.js
  packages/blocks/src/api/constants.js
  packages/blocks/src/api/index.js
  packages/edit-site/src/components/editor/utils.js
Labels: [Type] Enhancement, [Type] Code Quality

#34424 [RNMobile][Embed block] Fix bottom sheet link color in dark mode
  packages/components/src/mobile/bottom-sheet/footer-message-link/footer-message-link.native.js
Labels: [Type] Bug, Mobile App - i.e. Android or iOS, [Block] Embed

#34394 Scripts: Only use svgr/webpack in js files
  packages/scripts/CHANGELOG.md
  packages/scripts/config/webpack.config.js
Labels: [Type] Bug, [Package] Scripts

#34492 Rich text: replace global event handlers with local ones
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/components/rich-text/input-event.js
  packages/block-editor/src/components/rich-text/shortcut.js
  packages/block-editor/src/components/rich-text/use-input-events.js
  packages/block-editor/src/components/rich-text/use-shortcuts.js
Labels: [Type] Code Quality

#34475 Update the Table block description to be concise
  packages/block-library/src/table/block.json
Labels: [Type] Enhancement, [Block] Table

#34408 Post Author Block: add duotone suport
  packages/block-library/src/post-author/block.json
Labels: [Block] Post Author

#34495 [RNMobile] Mention the embed variant the preview of which is WIP
  packages/block-library/src/embed/embed-no-preview.native.js
Labels: Mobile App - i.e. Android or iOS, [Block] Embed

#34504 Fix title missing in bug report form
  .github/ISSUE_TEMPLATE/Bug_report.yml
Labels: [Type] Enhancement, [Type] Project Management

#34490 Components: fix selected value computation in `CustomSelectControl` when no initial `value` is set
  packages/components/src/custom-select-control/index.js
Labels: [Type] Bug, [Package] Components, Storybook, [Feature] Component System

#34371 Gallery block: fix bug with stalled upload when image size too large
  packages/block-library/src/gallery/editor.scss
  packages/block-library/src/gallery/use-get-media.js
  packages/block-library/src/image/edit.js
Labels: [Type] Bug, [Block] Gallery

#33991 Block Support: Add gap block support feature
  lib/block-supports/spacing.php
  lib/class-wp-theme-json-gutenberg.php
  lib/theme.json
  packages/block-editor/src/hooks/dimensions.js
  packages/block-editor/src/hooks/gap.js
  packages/block-editor/src/hooks/style.js
  packages/block-editor/src/hooks/test/style.js
  packages/blocks/src/api/constants.js
  packages/edit-site/src/components/sidebar/dimensions-panel.js
  phpunit/block-supports/spacing-test.php
Labels: [Status] In Progress, [Feature] Design Tools

#34515 Letter Spacing: Group letter spacing correctly under typography supports
  packages/block-editor/src/hooks/letter-spacing.js
  packages/blocks/src/api/constants.js
Labels: [Type] Bug, [Feature] Design Tools

#34471 Update Site Logo block description to be concise
  packages/block-library/src/site-logo/block.json
Labels: [Type] Enhancement, [Block] Site Logo

#34516 Border Support: Fix check for displaying border support panel
  packages/edit-site/src/components/sidebar/border-panel.js
Labels: [Type] Bug, [Feature] Design Tools

#34513 [RNMobile] Set a min height on the inserter menu
  packages/block-editor/src/components/inserter/menu.native.js
Labels: [Priority] High, Mobile App - i.e. Android or iOS

#34406 MenuItem: Add right padding for unchecked radio and checkbox items
  packages/components/src/menu-item/style.scss
  packages/components/src/tools-panel/stories/index.js
Labels: [Type] Enhancement, [Feature] UI Components

#34520 Font Appearance Control: Fix error in global styles for Site Title in TT1-Blocks
  packages/block-editor/src/components/font-appearance-control/index.js
  packages/components/src/custom-select-control/index.js
Labels: [Type] Bug, Global Styles

#32054 Rich text (core): onFocus method can be replaced with HTMLElement.focus
  packages/block-editor/src/components/rich-text/index.js
  packages/rich-text/src/component/index.js
  packages/rich-text/src/component/use-input-and-selection.js
Labels: [Type] Code Quality, [Package] Rich text

#34459 Block Editor: Migrate `lightBlockWrapper` support to `apiVersion` for blocks
  packages/block-editor/src/components/block-edit/edit.js
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/use-block-props/index.js
  packages/block-editor/src/components/block-list/use-block-props/use-block-custom-class-name.js
  packages/block-editor/src/components/block-list/use-block-props/use-block-default-class-name.js
  packages/block-editor/src/hooks/compat.js
  packages/block-editor/src/hooks/index.js
  packages/block-editor/src/hooks/index.native.js
  packages/blocks/src/api/serializer.js
Labels: Backwards Compatibility, [Type] Code Quality, [Package] Block editor

#34439 Add default editor styles applied to themes without theme.json and without editor styles
  lib/compat/wordpress-5.9/default-editor-styles.php
  lib/global-styles.php
  lib/load.php
  packages/block-editor/src/components/editor-styles/index.js
  packages/block-editor/src/default-editor-styles.scss
  packages/edit-post/src/editor.js
Labels: [Type] Enhancement, [Feature] Themes

#34502 Remove extraction of raw values in saveEntityRecords
  packages/core-data/src/actions.js
Labels: [Package] Core data

#34388 Add isRawAttribute to entity config
  packages/core-data/src/entities.js
  packages/core-data/src/selectors.js
  packages/core-data/src/test/selectors.js
  packages/core-data/src/utils/index.js
  packages/core-data/src/utils/is-raw-attribute.js
  packages/core-data/src/utils/test/is-raw-attribute.js
  packages/editor/src/components/provider/index.native.js
Labels: [Package] Core data

#34428 Fix various React warnings in development log
  packages/components/src/color-palette/style.native.scss
  packages/components/src/query-controls/index.native.js
Labels: [Type] Bug, Mobile App - i.e. Android or iOS, [Block] Latest Posts

#34523 Mobile Release v1.61.0
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Gemfile.lock
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS

#34532 Fix text-menu min widths.
  packages/block-editor/src/components/media-placeholder/style.scss
  packages/components/CHANGELOG.md
  packages/components/src/menu-item/style.scss
Labels: [Type] Regression

#34489 Post title: remove class from old div to fix alignment
  packages/e2e-tests/specs/editor/various/block-deletion.test.js
  packages/e2e-tests/specs/editor/various/block-mover.test.js
  packages/e2e-tests/specs/editor/various/splitting-merging.test.js
  packages/edit-post/src/components/text-editor/style.scss
  packages/editor/src/components/post-title/index.js
Labels: [Type] Bug, [Type] Regression, Needs Dev Note

#34004 [RNMobile][Embed block] Implement WP embed preview component
  packages/block-library/src/embed/edit.native.js
  packages/block-library/src/embed/embed-preview.native.js
  packages/block-library/src/embed/wp-embed-preview.native.js
  packages/components/src/sandbox/index.native.js
Labels: Mobile App - i.e. Android or iOS, [Block] Embed

#33975 [RNMobile] Resolve Text Entry Issues/Errors in Alt Text Settings
  packages/components/src/mobile/bottom-sheet-text-control/index.native.js
Labels: [Type] Bug, [Type] Code Quality, Mobile App - i.e. Android or iOS, [Block] Image

#34186 [Mobile] - add CSS Unit parser to px
  packages/block-editor/src/utils/parse-css-unit-to-px.js
  packages/block-editor/src/utils/test/parse-css-unit-to-px.js
Labels: Framework, Mobile App - i.e. Android or iOS, [Package] Block editor

#34385 CustomSelectControl: Add describedBy fallback
  packages/components/src/custom-select-control/index.js
Labels: [Type] Bug, [Package] Components

#20506 Expose ThemeSupportCheck component
  packages/editor/src/components/index.js
Labels: [Package] Editor, [Feature] Themes

#34277 Remove redundant css selector
  packages/block-library/src/gallery/save.js
  packages/block-library/src/gallery/style.scss
Labels: [Type] Code Quality, [Block] Gallery

#34517 Fix Page List styles inside responsive Navigation.
  packages/block-library/src/navigation/style.scss
Labels: [Type] Bug, [Block] Navigation, [Block] Page List

#34533 Add undo redo buttons in navigation editor
  package-lock.json
  packages/edit-navigation/package.json
  packages/edit-navigation/src/components/header/index.js
  packages/edit-navigation/src/components/header/redo-button.js
  packages/edit-navigation/src/components/header/style.scss
  packages/edit-navigation/src/components/header/undo-button.js
Labels: [Type] Enhancement, [Feature] Navigation Screen

#34528 Linting: remove global event listener warning
  packages/admin-manifest/src/index.js
  packages/components/src/ui/utils/use-responsive-value.ts
  packages/eslint-plugin/configs/custom.js
  packages/eslint-plugin/rules/__tests__/no-global-event-listener.js
  packages/eslint-plugin/rules/no-global-event-listener.js
Labels: [Package] ESLint plugin

#34570 Try: Title block gap.
  packages/edit-post/src/components/visual-editor/style.scss
Labels: [Type] Enhancement

#34491 Allow themes with theme.json to opt-out of block gap styles
  lib/block-supports/layout.php
  lib/class-wp-theme-json-gutenberg.php
  lib/theme.json
  packages/block-editor/src/layouts/flex.js
  packages/block-editor/src/layouts/flow.js
  phpunit/class-wp-theme-json-schema-v0-test.php
  phpunit/class-wp-theme-json-test.php
Labels: Needs Dev Note, [Feature] Themes, [Type] New API, [Feature] Design Tools

#34536 Update the minimum supported WordPress version to 5.7
  .github/ISSUE_TEMPLATE/Bug_report_mobile.md
  gutenberg.php
  lib/block-supports/align.php
  lib/block-supports/custom-classname.php
  lib/block-supports/generated-classname.php
  lib/client-assets.php
  lib/load.php
Labels: Gutenberg Plugin, Backwards Compatibility

#34572 Components: check if in browser env before calling `CSS.supports`
  packages/components/CHANGELOG.md
  packages/components/src/ui/utils/space.ts
Labels: [Type] Bug, Automated Testing, [Package] Components, [Feature] Component System

#34353 Limit FSE admin notices to the Themes screen
  lib/full-site-editing/full-site-editing.php
Labels: [Type] Enhancement, [Feature] Full Site Editing

#34576 Migrate getEntityRecord resolver to thunks
  packages/core-data/src/resolvers.js
  packages/core-data/src/test/resolvers.js
Labels: [Package] Core data

#34578 Migrate getEntityRecords resolver to thunks
  packages/core-data/src/resolvers.js
  packages/core-data/src/test/integration.js
  packages/core-data/src/test/resolvers.js
Labels: [Package] Core data

#34497 [Components - ToggleGroupControl]: Update stories to use knobs
  packages/components/src/toggle-group-control/stories/index.js
  packages/components/src/toggle-group-control/types.ts
Labels: [Package] Components, Storybook

#33614 Prevent focus trap in Legacy Widget block’s preview iframe
  packages/widgets/src/blocks/legacy-widget/edit/preview.js
Labels: [Feature] Widgets Screen, [Block] Legacy Widget, [Feature] Widgets Customizer

#34484 Add 'Widget Group' block to widgets screens
  docs/reference-guides/block-api/block-transforms.md
  lib/blocks.php
  packages/blocks/CHANGELOG.md
  packages/blocks/src/api/factory.js
  packages/blocks/src/api/test/factory.js
  packages/customize-widgets/src/index.js
  packages/edit-widgets/src/index.js
  packages/widgets/src/blocks/widget-group/block.json
  packages/widgets/src/blocks/widget-group/edit.js
  packages/widgets/src/blocks/widget-group/editor.scss
  packages/widgets/src/blocks/widget-group/index.js
  packages/widgets/src/blocks/widget-group/index.php
  packages/widgets/src/blocks/widget-group/save.js
  packages/widgets/src/index.js
  packages/widgets/src/style.scss
Labels: [Type] Enhancement, [Feature] Widgets Screen, Backport to WP Minor Release, [Feature] Widgets Customizer

#34565 Fix undo/redo 'trap' in navigation link block
  packages/block-library/src/navigation-link/edit.js
Labels: [Type] Bug, [Block] Navigation Link

#34600 [Prettier] Updated README.md file with the correct syntax
  packages/prettier-config/README.md
Labels: [Type] Documentation, First-time Contributor, [Package] Prettier config

#34562 Gallery block: add docblock comments to the new gallery hooks
  packages/block-library/src/gallery/use-get-media.js
  packages/block-library/src/gallery/use-get-new-images.js
  packages/block-library/src/gallery/use-image-sizes.js
  packages/block-library/src/gallery/use-short-code-transform.js
Labels: [Block] Gallery

#34584 Use resolveSelect instead of select in saveEntityRecord
  packages/core-data/src/actions.js
Labels: [Package] Core data

#34581 Migrate getAutosaves resolver to thunks
  packages/core-data/src/resolvers.js
  packages/core-data/src/test/resolvers.js
Labels: [Package] Core data

#34494 Fix DuotonePicker docs
  packages/components/src/duotone-picker/README.md
Labels: [Type] Documentation, First-time Contributor

#34090 Combobox Component: Only force expanded state if the input has focus
  packages/components/src/combobox-control/index.js
Labels: [Package] Components

#34322 Remove confusing punctuation
  packages/env/lib/config/parse-config.js
Labels: First-time Contributor

#34415 Video Block: Use existing video poster image on insert.
  packages/block-library/src/video/edit.js
Labels: [Type] Enhancement, [Block] Video

#34593 Remove duplicated `useValidAlignment` hook
  packages/block-editor/src/hooks/align.js
Labels: [Type] Performance

#34549 Documentation: Replace withSelect references with useSelect
  docs/how-to-guides/block-tutorial/creating-dynamic-blocks.md
  docs/how-to-guides/format-api/2-toolbar-button.md
  docs/how-to-guides/sidebar-tutorial/plugin-sidebar-0.md
  docs/how-to-guides/sidebar-tutorial/plugin-sidebar-4-initialize-input.md
  docs/how-to-guides/sidebar-tutorial/plugin-sidebar-5-update-meta.md
  docs/how-to-guides/sidebar-tutorial/plugin-sidebar-6-finishing-touches.md
  docs/manifest.json
  docs/toc.json
Labels: [Type] Documentation, [Feature] Extensibility

#34595 Components: fix `ToggleGroupControlBackdrop` not updating size when `isAdaptiveWidth` prop changes
  packages/components/CHANGELOG.md
  packages/components/src/toggle-group-control/component.tsx
  packages/components/src/toggle-group-control/toggle-group-control-backdrop.tsx
  packages/components/src/toggle-group-control/types.ts
Labels: [Type] Bug, [Package] Components, [Feature] Component System

#33656 [Block Library - Query Pagination Next/Previous]: Add an arrow attribute and sync next/previous block's arrow
  lib/compat/wordpress-5.8/index.php
  packages/block-library/src/query-pagination-next/block.json
  packages/block-library/src/query-pagination-next/edit.js
  packages/block-library/src/query-pagination-next/index.php
  packages/block-library/src/query-pagination-previous/block.json
  packages/block-library/src/query-pagination-previous/edit.js
  packages/block-library/src/query-pagination-previous/index.php
  packages/block-library/src/query-pagination/block.json
  packages/block-library/src/query-pagination/edit.js
  packages/block-library/src/query-pagination/query-pagination-arrow-controls.js
  packages/block-library/src/query-pagination/style.scss
  test/integration/fixtures/blocks/core__query-pagination.json
Labels: [Type] Enhancement, [Package] Block library, [Block] Query Pagination

#34583 Core Data: Adds 'include' to the query key
  packages/core-data/src/queried-data/get-query-parts.js
  packages/core-data/src/queried-data/test/get-query-parts.js
  packages/core-data/src/queried-data/test/selectors.js
Labels: [Type] Bug, [Package] Core data

#31107 Keep id on paste if internal link points to it
  packages/blocks/src/api/raw-handling/phrasing-content-reducer.js
  packages/blocks/src/api/raw-handling/readme.md
  packages/dom/src/phrasing-content.js
  test/integration/fixtures/documents/ms-word-in.html
  test/integration/fixtures/documents/ms-word-out.html
Labels: [Type] Bug, [Feature] Raw Handling, First-time Contributor

#29138 Media Placeholder: Change media URL input type to allow a local URL path
  packages/block-editor/src/components/media-placeholder/index.js
Labels: [Type] Enhancement, First-time Contributor, [Feature] Link Editing

#34586 Add wide alignment control only if theme provides `layout.wideSize`
  packages/block-editor/src/layouts/flow.js
Labels: [Feature] Design Tools

#34420 Allow disabling `text` and `background` color via `theme.json`
  docs/how-to-guides/themes/theme-json.md
  lib/class-wp-theme-json-gutenberg.php
  lib/theme.json
  packages/block-editor/src/hooks/color.js
  packages/edit-site/src/components/sidebar/color-panel.js
Labels: [Feature] Themes, Global Styles

#34580 Migrate canUser resolver to thunks
  packages/core-data/src/resolvers.js
  packages/core-data/src/test/resolvers.js
Labels: [Package] Core data

#34579 Migrate resolvers to thunks: getAuthors,_getCurrentUser,__getCurrentTheme,__getThemeSupports
  packages/core-data/src/resolvers.js
  packages/core-data/src/test/resolvers.js
Labels: [Package] Core data

#34456 Use blockGap between Columns blocks
  packages/block-library/src/columns/editor.scss
  packages/block-library/src/columns/style.scss
Labels: [Type] Enhancement, [Block] Columns

#34535 Group block: Add a row variation
  lib/block-supports/layout.php
  packages/block-library/src/group/edit.js
  packages/block-library/src/group/index.js
  packages/block-library/src/group/variations.js
Labels: [Block] Group, [Type] Feature

#34309 [Mobile] Update the bottom sheet header
  packages/components/src/font-size-picker/index.native.js
  packages/components/src/mobile/bottom-sheet-select-control/index.native.js
  packages/components/src/mobile/bottom-sheet-text-control/index.native.js
  packages/components/src/mobile/bottom-sheet/index.native.js
  packages/components/src/mobile/bottom-sheet/nav-bar/README.md
  packages/components/src/mobile/bottom-sheet/nav-bar/action-button.native.js
  packages/components/src/mobile/bottom-sheet/nav-bar/apply-button.native.js
  packages/components/src/mobile/bottom-sheet/nav-bar/back-button.native.js
  packages/components/src/mobile/bottom-sheet/nav-bar/heading.native.js
  packages/components/src/mobile/bottom-sheet/nav-bar/index.native.js
  packages/components/src/mobile/bottom-sheet/nav-bar/styles.native.scss
  packages/components/src/mobile/bottom-sheet/navigation-header.native.js
  packages/components/src/mobile/bottom-sheet/sub-sheet/README.md
  packages/components/src/mobile/color-settings/gradient-picker-screen.native.js
  packages/components/src/mobile/color-settings/palette.screen.native.js
  packages/components/src/mobile/focal-point-settings-panel/index.native.js
  packages/components/src/mobile/link-picker/index.native.js
  packages/editor/src/components/editor-help/help-detail-navigation-screen.native.js
  packages/editor/src/components/editor-help/index.native.js
Labels: Mobile App - i.e. Android or iOS

#34493 [Block Library - Social Links]: Use the new `flex` layout
  lib/block-supports/layout.php
  packages/block-editor/src/hooks/layout.js
  packages/block-editor/src/layouts/flex.js
  packages/block-editor/src/layouts/flow.js
  packages/block-library/src/social-links/block.json
  packages/block-library/src/social-links/deprecated.js
  packages/block-library/src/social-links/edit.js
  packages/block-library/src/social-links/save.js
  packages/block-library/src/social-links/style.scss
  test/integration/fixtures/blocks/core__social-links__deprecated-1.html
  test/integration/fixtures/blocks/core__social-links__deprecated-1.json
  test/integration/fixtures/blocks/core__social-links__deprecated-1.parsed.json
  test/integration/fixtures/blocks/core__social-links__deprecated-1.serialized.html
Labels: [Block] Social, [Type] Experimental

#34567 Gap block support: force gap change to cause the block to re-render (fix Safari issue)
  packages/block-editor/src/hooks/gap.js
Labels: [Type] Enhancement, [Feature] Design Tools

#34624 Fix/update docs alignment matrix control
  packages/components/src/alignment-matrix-control/README.md
Labels: [Type] Documentation, [Package] Components, [Feature] Component System

#34614 Remove horizontal and vertical navigation block variations from inserter
  packages/block-library/src/navigation/block.json
  packages/block-library/src/navigation/edit.js
  packages/block-library/src/navigation/variations.js
  packages/e2e-tests/specs/experiments/blocks/__snapshots__/navigation.test.js.snap
  test/integration/fixtures/blocks/core__navigation.json
  test/integration/fixtures/blocks/core__navigation__deprecated.serialized.html
Labels: [Type] Enhancement, [Block] Navigation, [Feature] Block Variations

#34467 Border Controls: Display color indicator and check selected color
  packages/block-editor/src/hooks/border-color.js
  packages/edit-site/src/components/sidebar/border-panel.js
Labels: [Feature] Design Tools

#34629 Gallery block: Fix media placeholder height in site editor
  packages/block-library/src/gallery/editor.scss
Labels: [Type] Bug, [Block] Gallery

#34615 Only capture toolbars on parent Nav block when not in vertical mode
  packages/block-library/src/navigation/edit.js
Labels: Needs Design Feedback, [Block] Navigation, [Feature] Navigation Screen

#28389 Refactor the `core-data` store to thunks
  package-lock.json
  packages/core-data/package.json
  packages/core-data/src/actions.js
  packages/core-data/src/controls.js
  packages/core-data/src/index.js
  packages/core-data/src/resolvers.js
  packages/core-data/src/test/actions.js
Labels: [Status] In Progress, [Type] Code Quality, [Package] Core data

#34560 Bump jest-dev-server to v5
  package-lock.json
  packages/scripts/package.json
Labels: [Package] Scripts, First-time Contributor

#34657 Scripts: Add CHANGELOG entry for `jest-dev-server` upgrade
  package-lock.json
  packages/scripts/CHANGELOG.md
Labels: [Type] Documentation, [Type] Code Quality, [Package] Scripts

#34338 ESLint Plugin: Update eslint jsdoc dependency
  package-lock.json
  packages/block-editor/src/store/actions.js
  packages/block-editor/src/store/selectors.js
  packages/block-library/src/gallery/v1/tiles.native.js
  packages/components/src/animate/index.js
  packages/components/src/ui/context/use-context-system.js
  packages/dom/src/dom/caret-range-from-point.js
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/configs/jsdoc.js
  packages/eslint-plugin/package.json
Labels: [Type] Enhancement, [Package] Scripts, [Package] ESLint plugin

#34144 [Mobile] - Global styles - Add support to render font sizes and line height
  packages/block-editor/src/components/block-list/block.native.js
  packages/block-library/src/file/test/__snapshots__/edit.native.js.snap
  packages/block-library/src/search/test/__snapshots__/edit.native.js.snap
  packages/components/src/mobile/global-styles-context/index.native.js
  packages/components/src/mobile/global-styles-context/utils.native.js
  packages/react-native-aztec/android/src/main/java/org/wordpress/mobile/ReactNativeAztec/ReactAztecManager.java
  packages/react-native-aztec/ios/RNTAztecView/RCTAztecView.swift
  packages/react-native-aztec/ios/RNTAztecView/RCTAztecViewManager.m
  packages/react-native-aztec/src/AztecView.js
  packages/rich-text/src/component/index.native.js
Labels: Mobile App - i.e. Android or iOS

#34634 Fix disabled blocks logical error on Widgets screen
  packages/edit-widgets/src/index.js
Labels: [Type] Bug, [Feature] Widgets Screen

#34633 Mobile - Allow disabling text and background color via theme.json
  packages/block-editor/src/store/defaults.native.js
  packages/components/src/mobile/global-styles-context/test/utils.native.js
  packages/components/src/mobile/global-styles-context/utils.native.js
Labels: [Status] In Progress, Mobile App - i.e. Android or iOS

#34661 Keep Navigation Editor snackbar from overflowing notices.
  packages/edit-navigation/src/components/notices/style.scss
Labels: [Type] Bug, [Package] Edit Navigation

#34639 Fix social links deprecation
  packages/block-library/src/social-links/deprecated.js
Labels: [Type] Bug, [Block] Social

#34644 Block Editor: Rename experimental prop used in `BlockControls`
  packages/block-editor/src/components/block-controls/fill.js
  packages/block-editor/src/components/block-controls/hook.js
  packages/block-editor/src/hooks/align.js
  packages/block-editor/src/hooks/duotone.js
  packages/block-editor/src/layouts/flex.js
  packages/block-library/src/buttons/edit.js
Labels: [Type] Code Quality, [Package] Block editor

#34651 Update justication control in `flex` layout
  packages/block-editor/src/hooks/layout.scss
  packages/block-editor/src/layouts/flex.js
Labels: [Type] Enhancement

#34264 Scripts: Convert legacy entry point arguments for compatibility with webpack 5
  packages/scripts/CHANGELOG.md
  packages/scripts/config/webpack.config.js
  packages/scripts/utils/config.js
Labels: [Type] Bug, Backwards Compatibility, [Package] Scripts

#34207 [RNMobile] [Embed block] Fix content disappearing on Android when switching light/dark mode
  packages/components/src/sandbox/index.native.js
  packages/react-native-editor/CHANGELOG.md
Labels: [Type] Bug, Mobile App - i.e. Android or iOS, [Block] Embed

#33960 Update `@wordpress/components` package's contributing guidelines
  packages/components/CONTRIBUTING.md
  packages/components/README.md
Labels: [Type] Documentation, [Status] In Progress, [Package] Components, [Feature] Component System

#33120 ESLint Plugin: Use Jest related rules only when the package is installed
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/configs/recommended-with-formatting.js
Labels: [Type] Bug, [Package] ESLint plugin

#34687 Chore: Move `react-native-url-polyfill` to dev dependencies
  package-lock.json
  package.json
  packages/url/CHANGELOG.md
  packages/url/package.json
Labels: [Type] Bug, [Package] Url

#34685 Chore: Update caniuse package to the latest version
  package-lock.json
Labels: [Type] Build Tooling

#34662 Update AlignmentMatrixControl docs post merge.
  packages/components/src/alignment-matrix-control/README.md
Labels: [Type] Documentation, [Feature] Component System

#33858 [RNMobile][Embed block] Add device's locale to preview content
  packages/block-library/src/embed/embed-preview.native.js
  packages/components/src/sandbox/index.native.js
  packages/editor/src/components/provider/index.native.js
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/src/index.js
Labels: Mobile App - i.e. Android or iOS, [Block] Embed

#34700 Remove `.has-link-color` class upon clearing the link color
  packages/block-editor/src/hooks/color.js
Labels: [Type] Bug, [Feature] Design Tools

#34715 Fix native Latest Posts e2e device tests
  packages/react-native-editor/__device-tests__/pages/editor-page.js
Labels: Automated Testing, Mobile App - i.e. Android or iOS

#34632 ToolsPanel: Allow SlotFill injection of panel items
  packages/components/src/index.js
  packages/components/src/tools-panel/index.js
  packages/components/src/tools-panel/stories/index.js
  packages/components/src/tools-panel/test/index.js
  packages/components/src/tools-panel/tools-panel-header/README.md
  packages/components/src/tools-panel/tools-panel-header/component.js
  packages/components/src/tools-panel/tools-panel-item/README.md
  packages/components/src/tools-panel/tools-panel-item/hook.js
  packages/components/src/tools-panel/tools-panel/README.md
  packages/components/src/tools-panel/tools-panel/component.js
  packages/components/src/tools-panel/tools-panel/hook.js
Labels: [Type] Bug, [Type] Enhancement, [Feature] UI Components, [Package] Components, [Feature] Design Tools

#34606 Gallery block: add toolbar button to convert old galleries to new format
  packages/block-library/src/gallery/editor.scss
  packages/block-library/src/gallery/v1/edit.js
  packages/block-library/src/gallery/v1/update-gallery-modal.js
Labels: [Type] Enhancement, [Block] Gallery

#34157 InspectorControls: Wrap block support slots in ToolsPanel
  packages/block-editor/src/components/block-inspector/index.js
  packages/block-editor/src/components/inspector-controls/block-support-tools-panel.js
  packages/block-editor/src/components/inspector-controls/groups.js
  packages/block-editor/src/components/inspector-controls/slot.js
  packages/block-editor/src/hooks/dimensions.js
  packages/components/src/tools-panel/tools-panel/hook.js
  packages/edit-site/src/components/sidebar/dimensions-panel.js
Labels: [Feature] Block API, [Package] Block editor, [Type] New API, [Feature] Design Tools

#34065 Cover: Move cover min-height into dimensions panel via SlotFill
  packages/block-library/src/cover/edit.js
Labels: [Type] Enhancement, [Block] Cover, [Feature] Design Tools

#34726 ToolsPanel: Remove / re-register panel items if the panelId changes
  packages/components/src/tools-panel/tools-panel-item/hook.js
Labels: [Type] Bug, [Feature] Design Tools

#32457 Introduce Block type level lock control
  docs/reference-guides/block-api/block-supports.md
  docs/reference-guides/block-api/block-templates.md
  docs/reference-guides/data/data-core-block-editor.md
  packages/block-editor/src/components/block-actions/index.js
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-mover/index.js
  packages/block-editor/src/components/block-mover/index.native.js
  packages/block-editor/src/components/block-mover/test/__snapshots__/index.native.js.snap
  packages/block-editor/src/components/block-mover/test/index.native.js
  packages/block-editor/src/components/block-settings-menu/block-settings-dropdown.js
  packages/block-editor/src/components/block-switcher/index.js
  packages/block-editor/src/components/block-switcher/test/index.js
  packages/block-editor/src/hooks/index.js
  packages/block-editor/src/hooks/lock.js
  packages/block-editor/src/store/actions.js
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/actions.js
Labels: [Type] Enhancement, [Feature] Block API, [Feature] Nested / Inner Blocks, [Package] Block editor, Needs Dev Note

#34704 Cache global stylesheet keyed by theme
  lib/global-styles.php
Labels: [Type] Bug, Global Styles

#21892 Format toolbar: visual clue for hidden active items
  packages/block-editor/src/components/alignment-control/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/alignment-control/ui.js
  packages/block-editor/src/components/block-alignment-control/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/block-alignment-control/ui.js
  packages/block-editor/src/components/rich-text/format-toolbar/index.js
  packages/format-library/src/text-color/index.js
  packages/format-library/src/text-color/style.scss
Labels: [Type] Enhancement, [Package] Block editor

#34734 Storybook: Remove G2 prefix from the Components section
  packages/components/src/flex/stories/index.js
  packages/components/src/h-stack/stories/index.js
  packages/components/src/heading/stories/index.js
  packages/components/src/truncate/stories/index.js
  packages/components/src/ui/context/stories/ComponentsProvider.stories.js
  packages/components/src/ui/control-label/stories/index.js
  packages/components/src/ui/form-group/stories/index.js
  packages/components/src/ui/spinner/stories/index.js
  packages/components/src/ui/tooltip/stories/index.js
Labels: [Package] Components, Storybook

#33976 Add information about selected element types for Group Block
  packages/block-library/src/group/edit.js
Labels: [Block] Group

#34736 Snackbar: fix focus loss on dismiss
  packages/components/src/snackbar/index.js
  packages/components/src/snackbar/list.js
  packages/e2e-tests/specs/widgets/editing-widgets.test.js
Labels: [a11y] Keyboard & Focus

#34739 [Block Library - Query Pagination]: Fix `center` alignment
  packages/block-library/src/query-pagination/editor.scss
  packages/block-library/src/query-pagination/style.scss
Labels: [Type] Bug, [Package] Block library, [Block] Query Pagination

#34617 [RNMobile] Scroll header toolbar to end when RTL
  packages/edit-post/src/components/header/header-toolbar/index.native.js
  packages/react-native-editor/CHANGELOG.md
Labels: Mobile App - i.e. Android or iOS

#33007 Iframed editor: add jQuery integration e2e test
  packages/e2e-tests/plugins/iframed-block.php
  packages/e2e-tests/plugins/iframed-block/block.json
  packages/e2e-tests/plugins/iframed-block/editor.css
  packages/e2e-tests/plugins/iframed-block/editor.js
  packages/e2e-tests/plugins/iframed-block/jquery.test.js
  packages/e2e-tests/plugins/iframed-block/script.js
  packages/e2e-tests/plugins/iframed-block/style.css
  packages/e2e-tests/specs/editor/plugins/__snapshots__/iframed-block.test.js.snap
  packages/e2e-tests/specs/editor/plugins/iframed-block.test.js
Labels: [Package] E2E Tests

#34697 Add Compound Components section to components CONTRIBUTING.md
  packages/components/CONTRIBUTING.md
Labels: [Type] Documentation, [Package] Components

#34626 [RNMobile] [Embed block] Generic “No Preview” Embed preview UI
  packages/block-library/src/embed/edit.native.js
  packages/block-library/src/embed/embed-no-preview.native.js
  packages/block-library/src/embed/embed-preview.native.js
  packages/react-native-editor/CHANGELOG.md
Labels: Mobile App - i.e. Android or iOS, [Block] Embed

#34733 [Mobile] Disable gallery conversion option on mobile
  packages/block-library/src/gallery/v1/edit.js
Labels: Mobile App - i.e. Android or iOS, [Block] Gallery

#34281 Update navigation editor to support new submenu block
  packages/e2e-tests/specs/experiments/__snapshots__/navigation-editor.test.js.snap
  packages/e2e-tests/specs/experiments/navigation-editor.test.js
  packages/edit-navigation/src/components/editor/style.scss
  packages/edit-navigation/src/filters/disable-inserting-non-navigation-blocks.js
  packages/edit-navigation/src/store/menu-items-to-blocks.js
  packages/edit-navigation/src/store/test/menu-items-to-blocks.js
  packages/edit-navigation/src/store/utils.js
Labels: [Type] Enhancement, [Block] Navigation, [Feature] Navigation Screen

#34678 Fix navigation editor missing appender not showing appender when no blocks selected
  packages/block-editor/src/components/inner-blocks/button-block-appender.js
  packages/block-library/src/navigation/edit.js
  packages/e2e-tests/specs/experiments/navigation-editor.test.js
  packages/edit-navigation/src/components/editor/style.scss
  packages/edit-navigation/src/filters/add-navigation-editor-custom-appender.js
  packages/edit-navigation/src/filters/add-navigation-editor-placeholder.js
  packages/edit-navigation/src/filters/index.js
Labels: [Type] Bug, [Feature] Navigation Screen

#34714 Navigation Editor: Fix saving locations using the "Manage Locations" popup
  lib/class-wp-rest-menus-controller.php
  packages/edit-navigation/src/components/sidebar/manage-locations.js
  packages/edit-navigation/src/components/sidebar/style.scss
  phpunit/class-rest-nav-menus-controller-test.php
Labels: [Type] Bug, [Feature] Saving, [Feature] Navigation Screen

#34756 [Components - ToogleGroupControl]: Fix update when unmounted
  packages/components/src/toggle-group-control/toggle-group-control-backdrop.tsx
Labels: [Type] Bug, [Package] Components

#34767 Fix flaky navigation editor test by waiting for required elements
  packages/e2e-tests/specs/experiments/navigation-editor.test.js
Labels: Automated Testing, [Feature] Navigation Screen, [Type] Flaky Test

#30481 Writing Flow: merge place caret at edge functions
  packages/dom/README.md
  packages/dom/src/dom/place-caret-at-edge.js
  packages/dom/src/dom/place-caret-at-horizontal-edge.js
  packages/dom/src/dom/place-caret-at-vertical-edge.js
Labels: [Type] Code Quality

#34432 Try reporting flaky tests to issues
  .github/report-flaky-tests/action.yml
  .github/report-flaky-tests/index.js
  .github/workflows/end2end-test.yml
  .github/workflows/flaky-tests.yml
  package-lock.json
  package.json
  packages/e2e-tests/config/flaky-tests-reporter.js
  packages/e2e-tests/config/setup-test-framework.js
  packages/e2e-tests/jest.config.js
  packages/e2e-tests/package.json
Labels: Automated Testing

#34508 Components: ColorPicker: replace global shortcut event handlers with local ones
  packages/components/src/color-picker/alpha.js
  packages/components/src/color-picker/hue.js
  packages/components/src/color-picker/saturation.js
  packages/components/src/color-picker/test/__snapshots__/index.js.snap
  packages/keycodes/README.md
  packages/keycodes/src/index.js
Labels: [Type] Code Quality, [Package] Components

#34689 Fix for link color in containers
  lib/block-supports/elements.php
  packages/block-editor/src/hooks/style.js
  packages/block-library/src/paragraph/style.scss
  phpunit/class-elements-test.php
Labels: [Type] Bug, Needs Dev Note, [Feature] Themes, Global Styles, [Feature] Design Tools, CSS Styling

#29403 Latest Comments: Add missing parameter to widget_comments_args
  packages/block-library/src/latest-comments/index.php
Labels: [Type] Code Quality, [Block] Latest Comments

#34777 [RNMobile] Column block: Translate column width's control labels
  packages/block-library/src/columns/edit.native.js
  packages/react-native-editor/CHANGELOG.md
Labels: [Type] Bug, Mobile App - i.e. Android or iOS, [Block] Columns

#34708 ItemGroup: add story showcasing more complex layouts
  packages/components/src/item-group/stories/index.js
Labels: [Package] Components, Storybook, [Feature] Component System

#34791 [Docs] Fix typography.customLineHeight value in the compatibility table
  docs/how-to-guides/themes/theme-json.md
Labels: [Type] Documentation, First-time Contributor

#30979 Block Editor: update react-spring to 9.2.4
  .eslintrc.js
  package-lock.json
  packages/block-editor/package.json
  packages/block-editor/src/components/list-view/leaf.js
  packages/block-editor/src/components/use-moving-animation/index.js
Labels: [Type] Bug, Browser Issues, [Package] Block editor

#34793 [RNMobile] Check if inserter should be fullscreen on first render
  packages/block-editor/src/components/inserter/menu.native.js
Labels: Mobile App - i.e. Android or iOS

#34789 Update versions to include 5.8.1
  docs/contributors/versions-in-wordpress.md
Labels: [Type] Enhancement, [Type] Documentation

#34798 Open link control if submenu parent is link.
  packages/block-library/src/navigation-submenu/edit.js
Labels: [Type] Bug, [Block] Navigation, [Feature] Navigation Screen, [Block] Submenu

#34705 Update block description of columns block
  packages/block-library/src/columns/block.json
Labels: [Type] Copy, [Block] Columns

#34721 Font Appearance Control: Fix selectedItem downshift uncontrolled prop warning
  packages/block-editor/src/components/font-appearance-control/index.js
Labels: [Type] Bug, [Feature] Design Tools
