Repository WordPress/gutenberg, pull requests merged in 2021-05, with the labels that each got.

#31388 Mobile Release v1.52.0
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS

#31395 FSE: fix popover/inspector scrolling
  packages/edit-site/src/components/block-editor/index.js
Labels: [Type] Bug

#31358 Multi-selection: move shift+click logic to hook
  packages/block-editor/src/components/block-list/use-block-props/use-multi-selection.js
  packages/block-editor/src/components/writing-flow/index.js
Labels: [Type] Code Quality

#31368 Fix issue with missing styles for Page List in navigation.
  packages/block-library/src/navigation-link/style.scss
  packages/block-library/src/navigation/style.scss
Labels: [Block] Navigation, [Block] Page List, [Type] Bug, [Type] Regression

#31409 Rich text: move format boundaries to ref callback and separate file
  packages/rich-text/src/component/index.js
  packages/rich-text/src/component/use-format-boundaries.js
Labels: [Package] Rich text

#31354 Workflows: Run tests on release branches
  .github/workflows/end2end-test.yml
  .github/workflows/static-checks.yml
  .github/workflows/unit-test.yml
Labels: Automated Testing

#31419 Remove the block wrapper component
  packages/block-editor/src/components/block-list/block-wrapper-elements.js
  packages/block-editor/src/components/block-list/block-wrapper.js
  packages/block-editor/src/components/block-list/block-wrapper.native.js
  packages/block-editor/src/components/index.js
  packages/block-editor/src/components/index.native.js
Labels: [Type] Code Quality

#31227 E2E wpDataSelect: Explain why it returns undefined sometimes
  packages/e2e-test-utils/README.md
  packages/e2e-test-utils/src/wp-data-select.js
Labels: [Package] E2E Test Utils

#31439 Update Versions in WordPress to include 5.7.1 & 5.8
  docs/contributors/versions-in-wordpress.md
Labels: [Type] Documentation

#31441 Moves hermes and react-native mirror to S3
  packages/react-native-aztec/android/build.gradle
  packages/react-native-bridge/android/build.gradle
  packages/react-native-bridge/android/publish-aztec-and-bridge.sh
  packages/react-native-bridge/android/react-native-bridge/build.gradle
  packages/react-native-editor/android/build.gradle
Labels: Mobile App - i.e. Android or iOS

#31405 Fix Legacy Widget block in Customizer
  docs/manifest.json
  package-lock.json
  package.json
  packages/customize-widgets/package.json
  packages/customize-widgets/src/components/move-to-sidebar/index.js
  packages/customize-widgets/src/components/sidebar-block-editor/index.js
  packages/customize-widgets/src/components/sidebar-block-editor/sidebar-adapter.js
  packages/customize-widgets/src/components/sidebar-block-editor/use-sidebar-block-editor.js
  packages/customize-widgets/src/filters/move-to-sidebar.js
  packages/customize-widgets/src/index.js
  packages/edit-widgets/package.json
  packages/edit-widgets/src/filters/move-to-widget-area.js
  packages/edit-widgets/src/index.js
  packages/widgets/.npmrc
  packages/widgets/CHANGELOG.md
  packages/widgets/README.md
  packages/widgets/package.json
  packages/widgets/src/components/index.js
  packages/widgets/src/components/move-to-widget-area/index.js
  packages/widgets/src/index.js
  packages/widgets/src/register-legacy-widget-variations.js
Labels: [Block] Legacy Widget, [Feature] Widgets Customizer, [Type] Bug

#31411 Remove widget screen dead code
  lib/class-wp-widget-block.php
  lib/widgets-page.php
Labels: [Feature] Widgets Screen, [Type] Code Quality

#31404 Fix entity deletion in widgets screen
  packages/edit-widgets/src/store/actions.js
Labels: [Feature] Widgets Screen, [Type] Bug

#31421 [Block Library - Query]: Add semantic wrapper element
  packages/block-library/src/query/block.json
  packages/block-library/src/query/edit/index.js
  packages/block-library/src/query/save.js
  packages/e2e-tests/fixtures/blocks/core__query.json
Labels: [Block] Query, [Package] Block library, [Type] Enhancement

#31027 Plugin: Call deprecated hooks only when new filters not present
  lib/block-editor.php
  lib/blocks.php
  lib/client-assets.php
  lib/editor-settings.php
  lib/global-styles.php
  lib/widgets.php
  phpunit/block-editor-test.php
Labels: Backwards Compatibility, Gutenberg Plugin, [Type] Bug

#29969 Add a new endpoint that exposes block editor settings through the REST API
  lib/class-wp-rest-block-editor-settings-controller.php
  lib/load.php
  lib/rest-api.php
Labels: Core REST API Task, Global Styles, Mobile App - i.e. Android or iOS, REST API Interaction

#31423 Block Library: Stabilize some theme blocks for WP 5.8 release
  packages/block-library/src/index.js
Labels: [Feature] Blocks, [Package] Block library, [Type] Feature

#31004 Standardise and fix parsing and serialization of blocks and nav menu items
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation/map-menu-items-to-blocks.js
  packages/block-library/src/navigation/placeholder.js
  packages/e2e-tests/specs/experiments/__snapshots__/navigation-editor.test.js.snap
  packages/e2e-tests/specs/experiments/blocks/__snapshots__/navigation.test.js.snap
  packages/edit-navigation/src/store/resolvers.js
  packages/edit-navigation/src/store/test/resolvers.js
  packages/edit-navigation/src/store/test/utils.js
  packages/edit-navigation/src/store/utils.js
Labels: [Block] Navigation, [Feature] Navigation Screen, [Package] Edit Navigation

#31308 Focus control in widgets customizer
  lib/widgets-customize.php
  package-lock.json
  packages/customize-widgets/src/components/customize-widgets/index.js
  packages/customize-widgets/src/components/focus-control/index.js
  packages/customize-widgets/src/components/focus-control/use-blocks-focus-control.js
  packages/customize-widgets/src/components/sidebar-block-editor/sidebar-adapter.js
  packages/customize-widgets/src/components/sidebar-block-editor/sidebar-editor-provider.js
  packages/customize-widgets/src/components/sidebar-block-editor/use-sidebar-block-editor.js
  packages/customize-widgets/src/components/sidebar-controls/index.js
  packages/customize-widgets/src/controls/sidebar-control.js
  packages/customize-widgets/src/controls/sidebar-section.js
  packages/customize-widgets/src/filters/move-to-sidebar.js
  packages/customize-widgets/src/index.js
  packages/customize-widgets/src/utils.js
  packages/e2e-tests/package.json
  packages/e2e-tests/specs/experiments/customizing-widgets.test.js
  packages/edit-widgets/src/filters/move-to-widget-area.js
  packages/edit-widgets/src/store/actions.js
  packages/edit-widgets/src/store/selectors.js
  packages/edit-widgets/src/store/transformers.js
  packages/widgets/src/components/move-to-widget-area/index.js
  packages/widgets/src/index.js
  packages/widgets/src/utils.js
Labels: [Feature] Widgets Customizer, [Type] Bug

#31085 Add experimental util to allow fetch remote url data from REST API
  packages/core-data/src/fetch/__experimental-fetch-remote-url-data.js
  packages/core-data/src/fetch/index.js
  packages/editor/src/components/provider/use-block-editor-settings.js
Labels: [Package] Core data, [Type] Experimental

#31398 Docs: Minor design updates using callout
  docs/getting-started/tutorials/create-block/block-anatomy.md
  docs/how-to-guides/internationalization.md
  docs/how-to-guides/themes/theme-support.md
  docs/reference-guides/block-api/block-annotations.md
Labels: [Type] Documentation

#31431 Remove tools dropdown menu from medium viewport when text labels mode is active
  packages/edit-post/src/components/header/header-toolbar/index.js
Labels: General Interface

#31463 Update "trash" icon.
  packages/icons/src/library/trash.js
Labels: [Package] Icons

#31336 FSE: Fix template loading order for child themes when no explicit template exists
  lib/full-site-editing/template-loader.php
Labels: [Feature] Full Site Editing

#31469 Fix selection clearer ref passed to motion.div
  packages/block-editor/src/components/block-selection-clearer/index.js
Labels: [Type] Bug

#31407 Widgets editor: Improve theme switching experience
  lib/widgets-customize.php
  lib/widgets.php
Labels: [Feature] Widgets Customizer, [Feature] Widgets Screen, [Type] Bug

#31406 Show blocks from plugins in the widget customizer
  lib/widgets-customize.php
  lib/widgets-page.php
Labels: [Feature] Widgets Customizer, [Feature] Widgets Screen, [Package] Edit Widgets, [Type] Bug

#31320 Navigation Editor: Move selected menu ID to the store
  packages/edit-navigation/src/components/layout/index.js
  packages/edit-navigation/src/components/name-display/index.js
  packages/edit-navigation/src/components/name-editor/index.js
  packages/edit-navigation/src/hooks/index.js
  packages/edit-navigation/src/hooks/use-menu-locations.js
  packages/edit-navigation/src/hooks/use-navigation-editor.js
  packages/edit-navigation/src/hooks/use-selected-menu-data.js
  packages/edit-navigation/src/hooks/use-selected-menu-id.js
  packages/edit-navigation/src/store/actions.js
  packages/edit-navigation/src/store/index.js
  packages/edit-navigation/src/store/reducer.js
  packages/edit-navigation/src/store/selectors.js
  packages/edit-navigation/src/store/test/actions.js
  packages/edit-navigation/src/store/test/reducer.js
  packages/edit-navigation/src/store/test/selectors.js
Labels: [Feature] Navigation Screen, [Package] Edit Navigation, [Type] Enhancement

#31455 Post Content: Prevent infinite recursion
  packages/block-library/src/post-content/edit.js
  packages/block-library/src/post-content/index.php
Labels: [Block] Post Content, [Feature] Full Site Editing, [Type] Bug

#31444 Legacy Widget: Refactor Form to not use React
  packages/block-library/src/legacy-widget/edit/control.js
  packages/block-library/src/legacy-widget/edit/form-wrapper.js
  packages/block-library/src/legacy-widget/edit/form.js
  packages/block-library/src/legacy-widget/edit/index.js
  packages/block-library/src/legacy-widget/edit/use-form.js
Labels: [Block] Legacy Widget, [Type] Bug

#31486 Use gutenberg_get_block_categories for getting block categories in widgets screen
  lib/widgets-page.php
Labels: [Feature] Widgets Screen, [Type] Task

#31485 Legacy Widget: Ensure the control form's IDs have a consistent number
  lib/class-wp-rest-widget-types-controller.php
  packages/block-library/src/legacy-widget/edit/control.js
  phpunit/class-rest-widget-types-controller-test.php
Labels: [Block] Legacy Widget, [Type] Bug

#31484 Fix unable to publish edited legacy widgets in the customizer
  packages/customize-widgets/src/components/sidebar-block-editor/use-sidebar-block-editor.js
Labels: [Type] Bug

#30541 Changes to theme.json
  docs/how-to-guides/themes/theme-support.md
  lib/block-supports/layout.php
  lib/class-wp-theme-json-resolver.php
  lib/class-wp-theme-json-schema-v0.php
  lib/class-wp-theme-json.php
  lib/experimental-default-theme.json
  lib/experimental-i18n-theme.json
  lib/global-styles.php
  packages/block-editor/src/components/use-editor-feature/index.js
  packages/block-library/src/common.scss
  packages/block-library/src/heading/block.json
  packages/block-library/src/post-title/block.json
  packages/block-library/src/query-title/block.json
  packages/blocks/src/api/constants.js
  packages/edit-site/src/components/editor/global-styles-provider.js
  packages/edit-site/src/components/editor/global-styles-renderer.js
  packages/edit-site/src/components/editor/test/global-styles-renderer.js
  packages/edit-site/src/components/editor/utils.js
  packages/edit-site/src/components/sidebar/color-palette-panel.js
  packages/edit-site/src/components/sidebar/global-styles-sidebar.js
  phpunit/class-wp-theme-json-resolver-test.php
  phpunit/class-wp-theme-json-schema-v0-test.php
  phpunit/class-wp-theme-json-test.php
  phpunit/data/themedir1/fse/experimental-theme.json
Labels: Global Styles

#31414 Fix submenu direction justification regression
  packages/block-library/src/navigation/style.scss
Labels: [Block] Navigation, [Type] Regression

#31410 Nav block placeholder, fix font inheritance
  packages/block-library/src/navigation/editor.scss
Labels: [Block] Navigation, [Type] Bug

#31487 Add customize widgets editor white background
  packages/customize-widgets/src/components/sidebar-block-editor/style.scss
Labels: CSS Styling, [Feature] Widgets Customizer, [Type] Enhancement

#31467 [Mobile] - Bottom Sheet - Move back icon to component folder
  packages/components/src/mobile/bottom-sheet/chevron-back.native.js
  packages/components/src/mobile/bottom-sheet/navigation-header.native.js
  packages/icons/src/index.js
Labels: Mobile App - i.e. Android or iOS

#31490 Fix adding new legacy widget in customizer
  packages/customize-widgets/src/components/sidebar-block-editor/use-sidebar-block-editor.js
Labels: [Feature] Widgets Customizer, [Type] Bug

#31445 'Move to widget area' iterations and fixes
  packages/customize-widgets/src/filters/move-to-sidebar.js
  packages/edit-widgets/src/filters/move-to-widget-area.js
  packages/edit-widgets/src/store/selectors.js
Labels: [Feature] Widgets Customizer, [Feature] Widgets Screen, [Type] Bug

#31492 Make the entire customize widgets editor sidebar have a white background
  packages/customize-widgets/src/components/sidebar-block-editor/style.scss
  packages/customize-widgets/src/controls/sidebar-section.js
  packages/customize-widgets/src/controls/style.scss
  packages/customize-widgets/src/style.scss
Labels: CSS Styling, [Feature] Widgets Customizer

#31420 Mark the __experimentalBlockSettingsMenuFirstItem slot as unstable
  packages/block-editor/src/components/block-settings-menu/block-settings-dropdown.js
  packages/block-editor/src/components/block-settings-menu/block-settings-menu-first-item.js
  packages/block-editor/src/components/index.js
  packages/customize-widgets/src/components/sidebar-block-editor/index.js
  packages/edit-post/src/components/visual-editor/index.js
  packages/edit-site/src/components/block-editor/index.js
Labels: [Type] Code Quality

#31494 Fix 'move to widget area' item checkmark in standalone editor
  packages/edit-widgets/src/filters/move-to-widget-area.js
Labels: [Feature] Widgets Screen, [Type] Regression

#31430 Rename "Modes" to "Tools" in the header.
  packages/block-editor/src/components/tool-selector/index.js
Labels: General Interface

#31458 Unify the post tags and post categories block under a unique post terms block.
  lib/blocks.php
  packages/block-library/src/index.js
  packages/block-library/src/post-hierarchical-terms/block.json
  packages/block-library/src/post-tags/edit.js
  packages/block-library/src/post-tags/index.js
  packages/block-library/src/post-tags/index.php
  packages/block-library/src/post-terms/block.json
  packages/block-library/src/post-terms/edit.js
  packages/block-library/src/post-terms/index.js
  packages/block-library/src/post-terms/index.php
  packages/block-library/src/post-terms/use-term-links.js
  packages/block-library/src/post-terms/variations.js
  packages/e2e-tests/fixtures/blocks/core__post-hierarchical-terms.html
  packages/e2e-tests/fixtures/blocks/core__post-hierarchical-terms.serialized.html
  packages/e2e-tests/fixtures/blocks/core__post-tags.html
  packages/e2e-tests/fixtures/blocks/core__post-tags.json
  packages/e2e-tests/fixtures/blocks/core__post-tags.parsed.json
  packages/e2e-tests/fixtures/blocks/core__post-tags.serialized.html
  packages/e2e-tests/fixtures/blocks/core__post-terms.html
  packages/e2e-tests/fixtures/blocks/core__post-terms.json
  packages/e2e-tests/fixtures/blocks/core__post-terms.parsed.json
  packages/e2e-tests/fixtures/blocks/core__post-terms.serialized.html
Labels: [Feature] Blocks, [Feature] Full Site Editing, [Package] Block library, [Type] Feature

#31473 Fix e2e's failing on expected site tagline snapshot.
  packages/e2e-tests/specs/experiments/multi-entity-saving.test.js
Labels: [Package] E2E Tests

#31499 Mark the loginout block as stable for 5.8 release
  packages/block-library/src/index.js
Labels: [Feature] Blocks, [Type] Feature

#31497 Remove specificify for link color
  lib/class-wp-theme-json.php
  packages/edit-site/src/components/editor/test/global-styles-renderer.js
  packages/edit-site/src/components/editor/utils.js
  phpunit/class-wp-theme-json-schema-v0-test.php
  phpunit/class-wp-theme-json-test.php
Labels: Global Styles, [Type] Bug

#31119 Navigation Editor: Indicate unsaved changes
  packages/edit-navigation/src/components/header/save-button.js
Labels: [Feature] Navigation Screen, [Feature] Saving

#31500 Navigation Screen: Correctly display menu used on location text
  packages/edit-navigation/src/components/inspector-additions/manage-locations.js
Labels: [Feature] Navigation Screen, [Type] Regression

#31503 Block Library: Remove no longer necessary render_callback for Cover block
  lib/blocks.php
  packages/block-library/src/cover/index.php
Labels: [Block] Cover, [Package] Block library, [Type] Code Quality

#30598 Editor: Display ten most used terms
  packages/editor/src/components/post-taxonomies/flat-term-selector.js
  packages/editor/src/components/post-taxonomies/most-used-terms.js
  packages/editor/src/components/post-taxonomies/style.scss
  packages/editor/src/utils/terms.js
Labels: [Feature] Document Settings, [Package] Editor, [Type] Enhancement

#29981 Rename experimental-theme.json to theme.json and add a fallback for backwards-compatibility
  docs/getting-started/full-site-editing.md
  docs/how-to-guides/themes/block-theme-overview.md
  docs/how-to-guides/themes/create-block-theme.md
  docs/how-to-guides/themes/theme-json.md
  docs/how-to-guides/themes/theme-support.md
  lib/class-wp-theme-json-resolver.php
Labels: Global Styles, [Feature] Full Site Editing, [Feature] Themes

#31375 Iframe the template editor
  lib/client-assets.php
  packages/edit-post/src/components/visual-editor/index.js
  packages/edit-post/src/store/selectors.js
Labels: Needs Dev Note, [Feature] Full Site Editing

#31389 Handbook: Add a deprecation notice to meta block attribute sources
  docs/reference-guides/block-api/block-attributes.md
Labels: [Type] Documentation

#31507 Update docs for theme.json
  docs/how-to-guides/themes/theme-json.md
Labels: Global Styles, [Type] Documentation

#31426 Expand the site tagline block description.
  packages/block-library/src/site-tagline/block.json
Labels: [Block] Site Tagline

#31341 compose: Add types to withInstanceId and corresponding hook
  packages/compose/README.md
  packages/compose/src/higher-order/with-instance-id/index.js
  packages/compose/src/higher-order/with-instance-id/index.tsx
  packages/compose/src/hooks/use-instance-id/index.js
  packages/compose/src/utils/create-higher-order-component/index.ts
  packages/compose/tsconfig.json
Labels: [Package] Compose, [Type] Code Quality

#31506 placeCaretAtHorizontalEdge: allow scrolling on initial call
  packages/dom/README.md
  packages/dom/src/dom/place-caret-at-horizontal-edge.js
Labels: [Feature] Block Multi Selection, [Type] Bug

#31393 [RNMobile] Fix Issue with Search block stealing focus after media updated for image block
  packages/block-library/src/search/edit.native.js
  packages/block-library/src/search/test/__snapshots__/edit.native.js.snap
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/__device-tests__/gutenberg-editor-search.test.js
  packages/react-native-editor/__device-tests__/pages/editor-page.js
Labels: Mobile App - i.e. Android or iOS, [Block] Search

#30555 Gallery Block: Use better key for gallery list items
  packages/block-library/src/gallery/gallery.js
  packages/block-library/src/gallery/gallery.native.js
Labels: [Block] Gallery, [Type] Bug

#31338 Fix: Allow post comment button to inherit button & global styles automatically
  packages/block-library/src/post-comments-form/index.php
  packages/block-library/src/post-comments-form/style.scss
Labels: CSS Styling, [Block] Post Comments Form, [Feature] Themes

#31493 Fix nav screen margin.
  packages/edit-navigation/src/components/editor/style.scss
Labels: CSS Styling, [Feature] Navigation Screen

#31300 components: Promote VStack and HStack
  docs/manifest.json
  packages/components/src/alignment-matrix-control/cell.js
  packages/components/src/base-control/index.js
  packages/components/src/button/index.js
  packages/components/src/button/test/index.js
  packages/components/src/color-picker/hue.js
  packages/components/src/color-picker/inputs.js
  packages/components/src/color-picker/saturation.js
  packages/components/src/custom-gradient-bar/control-points.js
  packages/components/src/external-link/index.js
  packages/components/src/font-size-picker/index.js
  packages/components/src/form-token-field/token.js
  packages/components/src/h-stack/README.md
  packages/components/src/h-stack/component.js
  packages/components/src/h-stack/hook.js
  packages/components/src/h-stack/index.js
  packages/components/src/h-stack/stories/index.js
  packages/components/src/h-stack/test/__snapshots__/index.js.snap
  packages/components/src/h-stack/test/index.js
  packages/components/src/h-stack/types.ts
  packages/components/src/h-stack/utils.js
  packages/components/src/index.js
  packages/components/src/input-control/label.js
  packages/components/src/navigation/menu/menu-title-search.js
  packages/components/src/ui/__storybook-utils/example-grid.js
  packages/components/src/ui/__storybook-utils/page.js
  packages/components/src/ui/card/stories/index.js
  packages/components/src/ui/context/stories/ComponentsProvider.stories.js
  packages/components/src/ui/elevation/stories/index.js
  packages/components/src/ui/form-group/form-group-content.js
  packages/components/src/ui/form-group/form-group-label.js
  packages/components/src/ui/index.js
  packages/components/src/v-stack/README.md
  packages/components/src/v-stack/component.js
  packages/components/src/v-stack/hook.js
  packages/components/src/v-stack/index.js
  packages/components/src/v-stack/test/__snapshots__/index.js.snap
  packages/components/src/v-stack/test/index.js
  packages/components/src/v-stack/types.ts
  packages/components/src/visually-hidden/index.js
  packages/components/src/visually-hidden/test/index.js
  packages/components/tsconfig.json
Labels: [Feature] Component System, [Package] Components

#31162 Site logo: Add link toggle option
  packages/block-library/src/site-logo/block.json
  packages/block-library/src/site-logo/edit.js
  packages/block-library/src/site-logo/index.php
  packages/e2e-tests/fixtures/blocks/core__site-logo.json
Labels: [Block] Site Logo

#31516 Remove color.link from valid styles and alphabetize the rest
  lib/class-wp-theme-json.php
Labels: Global Styles

#31371 Improve the navigation block setup state / placeholder.
  packages/block-library/src/navigation/editor.scss
  packages/block-library/src/navigation/placeholder-preview.js
  packages/block-library/src/navigation/placeholder.js
  packages/components/src/placeholder/index.js
  packages/components/src/placeholder/test/index.js
Labels: [Block] Navigation

#30828 Add reset button to Layout controls
  packages/block-editor/src/hooks/layout.js
  packages/block-editor/src/hooks/layout.scss
Labels: [Type] Enhancement

#30291 [RNMobile] Bottom-sheet: Add custom header
  packages/block-editor/src/components/inserter/menu.native.js
  packages/block-editor/src/components/inserter/search-form.native.js
  packages/block-editor/src/components/inserter/search-results.native.js
  packages/components/src/mobile/bottom-sheet/index.native.js
  packages/react-native-editor/CHANGELOG.md
Labels: Mobile App - i.e. Android or iOS, [Type] Bug

#31460 Add ToolbarDropdownMenu to render dropdown menus properly inside toolbars
  docs/manifest.json
  packages/block-editor/src/components/alignment-control/ui.js
  packages/block-editor/src/components/block-alignment-control/ui.js
  packages/block-editor/src/components/block-vertical-alignment-control/ui.js
  packages/block-editor/src/components/justify-content-control/ui.js
  packages/block-editor/src/components/navigable-toolbar/index.js
  packages/block-library/src/paragraph/edit.js
  packages/block-library/src/site-title/edit/level-toolbar.js
  packages/components/src/dropdown-menu/index.js
  packages/components/src/index.js
  packages/components/src/toolbar-dropdown-menu/README.md
  packages/components/src/toolbar-dropdown-menu/index.js
Labels: [Feature] Component System, [Feature] UI Components, [Type] Code Quality

#31534 Fix global styles settings retrieval for REST
  lib/global-styles.php
Labels: Global Styles, REST API Interaction, [Type] Bug

#31532 Scripts: Fix the CHANGELOG for `@wordpress/scripts` package
  packages/scripts/CHANGELOG.md
Labels: [Package] Scripts, [Type] Documentation

#31512 Docs: Fix link to ESNext in callout
  docs/getting-started/tutorials/create-block/block-anatomy.md
Labels: [Type] Documentation

#31468 Docgen: split `getIntermediateRepresentation` unit tests in smaller tests
  packages/docgen/test/get-intermediate-representation.js
Labels: Automated Testing, First-time Contributor, [Type] Code Quality

#31347 [RNMobile] Add Featured Banner to Image Block (iOS Only)
  packages/components/src/mobile/badge/style.scss
  packages/react-native-bridge/index.js
  packages/react-native-bridge/ios/Gutenberg.swift
  packages/react-native-bridge/ios/GutenbergBridgeDataSource.swift
  packages/react-native-bridge/ios/RNReactNativeGutenbergBridge.swift
  packages/react-native-editor/ios/GutenbergDemo/GutenbergViewController.swift
Labels: Mobile App - i.e. Android or iOS

#31513 [Block Library - Site Logo]: Return nothing if logo is not set
  packages/block-library/src/site-logo/index.php
Labels: [Block] Site Logo, [Package] Block library

#31509 components: Add Spacer
  docs/manifest.json
  packages/components/src/index.js
  packages/components/src/spacer/README.md
  packages/components/src/spacer/component.ts
  packages/components/src/spacer/hook.ts
  packages/components/src/spacer/index.ts
  packages/components/src/spacer/test/__snapshots__/index.js.snap
  packages/components/src/spacer/test/index.js
  packages/components/tsconfig.json
Labels: [Feature] Component System, [Package] Components

#31544 [Block Library - Site Logo]: Fix `supports` declaration
  packages/block-library/src/site-logo/block.json
  packages/block-library/src/site-logo/index.js
Labels: [Block] Site Logo, [Package] Block library, [Type] Bug

#31549 Capitalize GitHub properly in contributors README
  docs/contributors/README.md
Labels: First-time Contributor

#31535 Fix removing legacy widget not working in customizer
  packages/customize-widgets/src/components/sidebar-block-editor/sidebar-adapter.js
Labels: [Feature] Widgets Customizer, [Type] Bug

#31541 Typo in edit-navigation layout translators note
  packages/edit-navigation/src/components/layout/index.js
Labels: First-time Contributor

#31553 Block editor styles: memoize transform
  packages/block-editor/src/components/editor-styles/index.js
Labels: [Type] Performance

#31566 [RN Mobile][Global Styles] Adds new Prop for Global Styles Settings and renames the theme update event
  packages/editor/src/components/provider/index.native.js
  packages/react-native-bridge/android/react-native-bridge/src/main/java/org/wordpress/mobile/ReactNativeGutenbergBridge/RNReactNativeGutenbergBridgeModule.java
  packages/react-native-bridge/index.js
  packages/react-native-bridge/ios/Gutenberg.swift
  packages/react-native-bridge/ios/GutenbergBridgeDataSource.swift
  packages/react-native-bridge/ios/RNReactNativeGutenbergBridge.swift
  test/native/setup.js
Labels: Mobile App - i.e. Android or iOS

#31572 Multi-select: use writing flow container for focus
  packages/block-editor/src/components/writing-flow/index.js
Labels: [Feature] Block Multi Selection, [Type] Code Quality

#31570 Add required “directory” prop to package.json template in packages docs
  packages/README.md
Labels: developer-docs, npm Packages

#31578 Widget Screen: Add default notices support
  packages/edit-widgets/src/components/notices/index.js
  packages/edit-widgets/src/components/notices/style.scss
Labels: [Feature] Widgets Screen, [Type] Bug

#31581 [Mobile] - Add missing ToolbarDropdownMenu import
  packages/components/src/index.native.js
Labels: Mobile App - i.e. Android or iOS

#31417 Mark the inserter slot as unstable
  packages/block-directory/README.md
  packages/block-directory/src/plugins/inserter-menu-downloadable-blocks-panel/index.js
  packages/block-editor/src/components/index.js
  packages/block-editor/src/components/inserter-menu-extension/index.js
  packages/block-editor/src/components/inserter/search-results.js
Labels: [Type] Code Quality

#30994 Fixes color picker segmented control rendering and scrolling issues
  packages/components/src/color-palette/index.native.js
  packages/components/src/color-palette/style.native.scss
  packages/react-native-editor/CHANGELOG.md
Labels: [Type] Bug

#31523 compose: Add types useAsyncList
  packages/compose/README.md
  packages/compose/src/hooks/use-async-list/index.ts
  packages/compose/tsconfig.json
Labels: [Package] Compose, [Type] Code Quality

#31598 Improve packages docs - document root package json and public API knowledge
  packages/README.md
Labels: developer-docs, npm Packages

#31559 components: Promote Grid
  docs/manifest.json
  packages/components/src/grid/README.md
  packages/components/src/grid/component.js
  packages/components/src/grid/hook.js
  packages/components/src/grid/index.js
  packages/components/src/grid/stories/index.js
  packages/components/src/grid/test/grid.js
  packages/components/src/grid/types.ts
  packages/components/src/grid/utils.js
  packages/components/src/index.js
  packages/components/src/ui/__storybook-utils/example-grid.js
  packages/components/src/ui/card/stories/index.js
  packages/components/src/ui/control-group/component.js
  packages/components/src/ui/elevation/stories/index.js
  packages/components/src/ui/form-group/form-group.js
  packages/components/src/ui/form-group/types.ts
  packages/components/src/ui/index.js
Labels: Storybook, [Feature] Component System, [Package] Components

#30959 Post excerpt: Update read more placeholder text
  packages/block-library/src/post-excerpt/edit.js
Labels: Good First Review, [Block] Post Excerpt

#31552 Improve `get_merged_data` API so it requires less knowledge from the consumer
  lib/class-wp-theme-json-resolver.php
  lib/global-styles.php
Labels: Global Styles, [Type] Code Quality

#31588 Cover against a block being unregistered
  packages/edit-site/src/components/editor/global-styles-renderer.js
Labels: Global Styles, [Feature] Site Editor, [Type] Bug

#31542 components: Promote View
  docs/tool/manifest.js
  packages/block-editor/src/components/link-control/test/__snapshots__/index.js.snap
  packages/components/src/color-picker/test/__snapshots__/index.js.snap
  packages/components/src/flex/flex/component.js
  packages/components/src/flex/stories/index.js
  packages/components/src/flex/test/__snapshots__/index.js.snap
  packages/components/src/flex/test/index.js
  packages/components/src/grid/README.md
  packages/components/src/grid/component.js
  packages/components/src/grid/stories/index.js
  packages/components/src/grid/test/grid.js
  packages/components/src/h-stack/README.md
  packages/components/src/h-stack/component.js
  packages/components/src/h-stack/stories/index.js
  packages/components/src/h-stack/test/index.js
  packages/components/src/heading/hook.ts
  packages/components/src/ui/__storybook-utils/example-grid.js
  packages/components/src/ui/__storybook-utils/page.js
  packages/components/src/ui/card/body.js
  packages/components/src/ui/card/component.js
  packages/components/src/ui/card/inner-body.js
  packages/components/src/ui/card/test/__snapshots__/index.js.snap
  packages/components/src/ui/elevation/stories/index.js
  packages/components/src/ui/form-group/form-group.js
  packages/components/src/ui/index.js
  packages/components/src/ui/popover/component.js
  packages/components/src/ui/popover/content.js
  packages/components/src/ui/popover/test/__snapshots__/index.js.snap
  packages/components/src/ui/scrollable/component.js
  packages/components/src/ui/scrollable/stories/index.js
  packages/components/src/ui/surface/test/__snapshots__/index.js.snap
  packages/components/src/ui/tooltip/content.js
  packages/components/src/ui/utils/create-component.tsx
  packages/components/src/v-stack/README.md
  packages/components/src/v-stack/component.js
  packages/components/src/v-stack/test/index.js
  packages/components/src/view/README.md
  packages/components/src/view/component.js
  packages/components/src/view/index.js
  packages/components/src/view/test/__snapshots__/index.js.snap
  packages/components/src/view/test/index.js
  packages/components/tsconfig.json
Labels: [Feature] Component System, [Package] Components

#31556 components: Promote Divider and use readable prop names
  docs/manifest.json
  packages/components/src/divider/README.md
  packages/components/src/divider/component.tsx
  packages/components/src/divider/index.ts
  packages/components/src/divider/stories/index.js
  packages/components/src/divider/styles.ts
  packages/components/src/divider/test/__snapshots__/index.js.snap
  packages/components/src/divider/test/index.js
  packages/components/src/index.js
  packages/components/src/ui/__storybook-utils/page.js
  packages/components/src/ui/index.js
Labels: [Feature] Component System, [Package] Components

#31525 Update Glossary with more FSE terminology
  docs/getting-started/glossary.md
Labels: [Type] Documentation

#31595 [Block Library - Post Featured Image]: Change wrapper element to `figure`
  packages/block-library/src/post-featured-image/edit.js
  packages/block-library/src/post-featured-image/index.php
  packages/block-library/src/post-featured-image/style.scss
Labels: [Block] Post Featured Image, [Package] Block library, [Type] Enhancement

#31609 Mobile Release v1.52.1
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS

#30382 Post Comments: Add some basic CSS to the post comments block
  packages/block-library/src/post-comments/block.json
  packages/block-library/src/post-comments/style.scss
  packages/block-library/src/style.scss
Labels: [Block] Post Comments, [Feature] Full Site Editing, [Feature] Themes, [Type] Experimental

#31577 First pass at docs for the Widgets Block Editor
  docs/how-to-guides/widgets/README.md
  docs/how-to-guides/widgets/legacy-widget-block.md
  docs/how-to-guides/widgets/opting-out.md
  docs/how-to-guides/widgets/overview.md
  docs/manifest.json
  docs/toc.json
Labels: [Block] Legacy Widget, [Feature] Widgets Customizer, [Feature] Widgets Screen, [Type] Documentation

#31530 Clear selected block when focusing on element outside the editor
  packages/customize-widgets/src/components/customize-widgets/index.js
  packages/customize-widgets/src/components/customize-widgets/use-clear-selected-block.js
  packages/customize-widgets/src/components/sidebar-block-editor/index.js
  packages/e2e-tests/specs/experiments/customizing-widgets.test.js
Labels: [Feature] Widgets Customizer, [Type] Bug

#31635 Rich text: consolidate applying from props
  packages/rich-text/src/component/index.js
Labels: [Type] Code Quality

#31132 Navigation Editor: Introduce useMenuEntityProp hook
  packages/edit-navigation/src/components/header/index.js
  packages/edit-navigation/src/components/name-display/index.js
  packages/edit-navigation/src/components/name-editor/index.js
  packages/edit-navigation/src/hooks/index.js
  packages/edit-navigation/src/hooks/use-menu-entity-prop.js
Labels: [Package] Edit Navigation, [Type] Enhancement

#31655 [RNMobile] Bottom-sheet: Limit layout animation to header changes
  packages/components/src/mobile/bottom-sheet/index.native.js
Labels: Mobile App - i.e. Android or iOS, [Type] Bug

#31602 Bring implementations of convert nav menu items to blocks back into sync
  packages/block-library/src/navigation/map-menu-items-to-blocks.js
  packages/edit-navigation/src/store/test/resolvers.js
  packages/edit-navigation/src/store/test/utils.js
  packages/edit-navigation/src/store/utils.js
Labels: [Block] Navigation, [Feature] Navigation Screen, [Type] Bug

#31594 Navigation Editor: Fix menu location assignment
  packages/edit-navigation/src/hooks/use-menu-locations.js
Labels: [Feature] Navigation Screen, [Package] Edit Navigation, [Type] Bug

#31583 Add padding for nav screen.
  packages/edit-navigation/src/components/layout/style.scss
Labels: [Package] Edit Navigation

#31055 Handbook: Add dedicated Block Styles page under Block API directory
  docs/manifest.json
  docs/reference-guides/block-api/block-styles.md
  docs/reference-guides/filters/block-filters.md
  docs/toc.json
Labels: [Feature] Block API, [Type] Documentation

#31644 Rich text: remove implementation specific delete and enter handling
  packages/block-editor/src/components/rich-text/index.js
  packages/rich-text/src/component/index.js
Labels: [Type] Code Quality

#31643 Navigation Editor: "Add new pages" use menu entity
  packages/edit-navigation/src/components/inspector-additions/auto-add-pages.js
Labels: [Feature] Navigation Screen, [Package] Edit Navigation, [Type] Enhancement

#31436 Update: Use wp_theme taxonomy for wp_global_styles cpt.
  lib/class-wp-theme-json-resolver.php
  lib/full-site-editing/templates.php
Labels: Global Styles

#30926 Block Library: Add home link block
  lib/blocks.php
  packages/block-library/src/home-link/block.json
  packages/block-library/src/home-link/edit.js
  packages/block-library/src/home-link/index.js
  packages/block-library/src/home-link/index.php
  packages/block-library/src/home-link/save.js
  packages/block-library/src/home-link/style.scss
  packages/block-library/src/index.js
  packages/block-library/src/navigation/edit.js
  packages/block-library/src/style.scss
  packages/e2e-tests/fixtures/blocks/core__home-link.html
  packages/e2e-tests/fixtures/blocks/core__home-link.json
  packages/e2e-tests/fixtures/blocks/core__home-link.parsed.json
  packages/e2e-tests/fixtures/blocks/core__home-link.serialized.html
Labels: [Block] Navigation, [Package] Block library

#31674 Rich text: move implementation specific attributes
  packages/block-editor/src/components/rich-text/index.js
  packages/rich-text/src/component/index.js
  packages/rich-text/src/component/use-input-and-selection.js
Labels: [Type] Code Quality

#31676 Rich text: extract implementation specific undo handling of automatic changes
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/components/rich-text/use-undo-automatic-change.js
  packages/rich-text/src/component/index.js
Labels: [Type] Code Quality

#31679 Rich text: remove tag name dependency
  packages/block-editor/src/components/rich-text/index.js
  packages/block-library/src/list/edit.js
  packages/rich-text/src/component/index.js
  packages/rich-text/src/component/use-indent-list-item-on-space.js
Labels: [Type] Code Quality

#31546 Fix core-block-patterns support on GB
  lib/block-patterns.php
Labels: [Feature] Patterns, [Type] Bug, [Type] Regression

#30608 Spacing Support: Add margin block support with configurable sides
  docs/how-to-guides/themes/theme-json.md
  docs/reference-guides/block-api/block-supports.md
  lib/block-supports/layout.php
  lib/class-wp-theme-json.php
  lib/experimental-default-theme.json
  packages/block-editor/src/components/block-list/layout.js
  packages/block-editor/src/hooks/margin.js
  packages/block-editor/src/hooks/spacing.js
  packages/block-editor/src/hooks/test/style.js
  packages/blocks/src/api/constants.js
  packages/edit-site/src/components/sidebar/spacing-panel.js
Labels: [Feature] Design Tools, [Type] Enhancement

#31592 Edit Post: Prevent rendering self also when the wrapper block matches the inserted block
  packages/block-editor/src/components/use-no-recursive-renders/index.js
  packages/edit-post/src/components/visual-editor/index.js
Labels: [Package] Edit Post, [Type] Bug

#31687 [Inserter]: Hide patterns tab if no patterns are available
  packages/block-editor/src/components/inserter/menu.js
Labels: [Feature] Inserter, [Type] Bug

#31587 Rename and stabilize useEditorFeature as useSetting
  packages/block-editor/README.md
  packages/block-editor/src/components/block-list/block.native.js
  packages/block-editor/src/components/color-palette/with-color-context.js
  packages/block-editor/src/components/colors-gradients/control.js
  packages/block-editor/src/components/colors-gradients/panel-color-gradient-settings.js
  packages/block-editor/src/components/colors/use-colors.js
  packages/block-editor/src/components/colors/with-colors.js
  packages/block-editor/src/components/font-family/index.js
  packages/block-editor/src/components/font-sizes/font-size-picker.js
  packages/block-editor/src/components/font-sizes/with-font-sizes.js
  packages/block-editor/src/components/gradient-picker/control.js
  packages/block-editor/src/components/gradient-picker/index.js
  packages/block-editor/src/components/gradient-picker/panel.js
  packages/block-editor/src/components/gradients/use-gradient.js
  packages/block-editor/src/components/index.js
  packages/block-editor/src/components/index.native.js
  packages/block-editor/src/components/unit-control/index.js
  packages/block-editor/src/components/use-setting/index.js
  packages/block-editor/src/hooks/border-color.js
  packages/block-editor/src/hooks/border.js
  packages/block-editor/src/hooks/color.js
  packages/block-editor/src/hooks/duotone.js
  packages/block-editor/src/hooks/font-appearance.js
  packages/block-editor/src/hooks/font-family.js
  packages/block-editor/src/hooks/font-size.js
  packages/block-editor/src/hooks/layout.js
  packages/block-editor/src/hooks/line-height.js
  packages/block-editor/src/hooks/margin.js
  packages/block-editor/src/hooks/padding.js
  packages/block-editor/src/hooks/text-decoration.js
  packages/block-editor/src/hooks/text-transform.js
  packages/block-editor/src/hooks/use-border-props.js
  packages/block-editor/src/hooks/use-color-props.js
  packages/block-library/src/button/color-edit.js
  packages/block-library/src/cover/edit.native.js
  packages/block-library/src/cover/overlay-color-settings.native.js
  packages/block-library/src/group/edit.js
  packages/block-library/src/paragraph/edit.js
  packages/block-library/src/post-content/edit.js
  packages/block-library/src/template-part/edit/inner-blocks.js
  packages/edit-post/src/components/visual-editor/index.js
  packages/edit-site/src/components/editor/utils.js
  packages/edit-site/src/components/sidebar/border-panel.js
  packages/edit-site/src/components/sidebar/color-palette-panel.js
  packages/edit-site/src/components/sidebar/color-panel.js
  packages/edit-site/src/components/sidebar/spacing-panel.js
  packages/edit-site/src/components/sidebar/typography-panel.js
  packages/format-library/src/text-color/index.js
Labels: Needs Dev Note, [Type] New API

#31520 Fix template part selection searches to use title/area instead of slug/theme.
  packages/block-library/src/template-part/edit/index.js
  packages/block-library/src/template-part/edit/placeholder/index.js
  packages/block-library/src/template-part/edit/selection/index.js
  packages/block-library/src/template-part/edit/selection/template-part-previews.js
Labels: [Block] Template-Part, [Feature] Full Site Editing, [Type] Bug

#31711 Post Comments: Make CSS less specific
  packages/block-library/src/post-comments/style.scss
Labels: [Block] Post Comments

#31709 Fix Post Featured Image placeholder regression
  packages/block-library/src/post-featured-image/edit.js
Labels: [Block] Post Featured Image, [Type] Regression

#31703 Editor: Debounce flat term search
  packages/editor/src/components/post-taxonomies/flat-term-selector.js
Labels: [Package] Editor, [Type] Enhancement

#30592 [RNMobile] Generic Embed Block placeholder UI
  packages/block-editor/src/components/block-list/use-block-props/index.native.js
  packages/block-library/src/embed/edit.js
  packages/block-library/src/embed/embed-placeholder.native.js
  packages/block-library/src/embed/styles.native.scss
Labels: Mobile App - i.e. Android or iOS

#31002 Media & Text: Add media width control
  packages/block-library/src/media-text/edit.js
Labels: [Block] Media & Text, [Type] Enhancement

#31718 Rich text: simplify with hooks
  packages/block-editor/src/components/autocomplete/index.js
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/components/rich-text/use-caret-in-format.js
  packages/components/src/autocomplete/index.js
  packages/components/src/index.js
  packages/rich-text/src/component/index.js
  packages/rich-text/src/index.js
Labels: [Type] Code Quality

#31186 [RNMobile] Add `enableCaching` param to fetch request on Android
  packages/react-native-bridge/android/react-native-bridge/src/main/java/org/wordpress/mobile/ReactNativeGutenbergBridge/RNReactNativeGutenbergBridgeModule.java
  packages/react-native-bridge/android/react-native-bridge/src/main/java/org/wordpress/mobile/WPAndroidGlue/RequestExecutor.java
  packages/react-native-bridge/android/react-native-bridge/src/main/java/org/wordpress/mobile/WPAndroidGlue/WPAndroidGlueCode.java
  packages/react-native-bridge/index.js
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/android/app/src/main/java/com/gutenberg/MainApplication.java
  packages/react-native-editor/src/api-fetch-setup.js
  packages/react-native-editor/src/test/api-fetch-setup.test.js
Labels: Mobile App - i.e. Android or iOS, [Type] Enhancement

#31547 Docgen: replace assertions for `getIntermediateRepresentation` unit tests with snapshots
  packages/docgen/test/get-intermediate-representation.js
Labels: [Package] Docgen, [Type] Code Quality

#31645 Polish the switcher for horizontal blocks.
  packages/block-editor/src/components/block-switcher/style.scss
  packages/block-editor/src/components/block-toolbar/style.scss
Labels: CSS Styling

#31752 Rich text core: remove dependency on block client ID
  packages/block-editor/src/components/rich-text/format-edit.js
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/components/rich-text/use-format-types.js
  packages/block-editor/src/components/rich-text/use-input-rules.js
  packages/block-editor/src/components/rich-text/use-paste-handler.js
  packages/rich-text/src/component/index.js
  packages/rich-text/src/component/use-input-and-selection.js
  packages/rich-text/src/component/use-paste-handler.js
Labels: [Type] Code Quality

#31735 Navigation Editor: Clear 'stub' navigation post edits on save
  packages/edit-navigation/src/store/actions.js
  packages/edit-navigation/src/store/test/actions.js
Labels: [Feature] Navigation Screen, [Package] Edit Navigation, [Type] Bug

#30047 Responsive Navigation
  package-lock.json
  packages/block-library/package.json
  packages/block-library/src/navigation-link/block.json
  packages/block-library/src/navigation/block.json
  packages/block-library/src/navigation/edit.js
  packages/block-library/src/navigation/editor.scss
  packages/block-library/src/navigation/frontend.js
  packages/block-library/src/navigation/index.php
  packages/block-library/src/navigation/responsive-wrapper.js
  packages/block-library/src/navigation/style.scss
  packages/block-library/src/page-list/style.scss
  packages/e2e-tests/fixtures/blocks/core__navigation.json
  packages/e2e-tests/specs/experiments/blocks/navigation.test.js
  packages/icons/src/library/menu.js
Labels: [Block] Navigation

#31760 Rich text: extract persistent change marking
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/components/rich-text/use-mark-persistent.js
  packages/rich-text/src/component/index.js
  packages/rich-text/src/component/use-input-and-selection.js
Labels: [Type] Code Quality

#31759 [RNMobile] Disable mentions when editing menu is disabled
  packages/rich-text/src/component/index.native.js
Labels: Mobile App - i.e. Android or iOS

#31498 FSE: Add template loader unit tests
  phpunit/class-template-loader-test.php
  phpunit/fixtures/themes/test-theme-child/block-templates/page-1.html
  phpunit/fixtures/themes/test-theme-child/page-home.php
  phpunit/fixtures/themes/test-theme-child/style.css
  phpunit/fixtures/themes/test-theme/block-templates/index.html
  phpunit/fixtures/themes/test-theme/block-templates/page-home.html
  phpunit/fixtures/themes/test-theme/block-templates/page.html
  phpunit/fixtures/themes/test-theme/page-1.php
  phpunit/fixtures/themes/test-theme/style.css
Labels: Automated Testing

#31625 [Mobile] Refactor is container related function
  packages/components/src/mobile/utils/alignments.native.js
  packages/components/src/mobile/utils/test/index.native.js
Labels: Mobile App - i.e. Android or iOS, [Package] Components

#31671 Template Loader: Make templates arg required
  lib/full-site-editing/template-loader.php
  phpunit/class-template-loader-test.php
Labels: [Feature] Full Site Editing

#31402 Show Cover block placeholder only if it has no inner blocks
  packages/block-library/src/cover/edit.js
Labels: [Block] Cover, [Type] Bug

#31776 Margin Support: Fix custom units
  packages/block-editor/src/hooks/margin.js
Labels: [Feature] Design Tools, [Type] Bug

#30890 Add transform for group block to cover block.
  packages/block-library/src/cover/transforms.js
Labels: [Block] Cover, [Block] Group, [Type] Enhancement

#31681 [RNMobile] Disable featured image banner on iOS
  packages/block-library/src/image/edit.native.js
  packages/react-native-editor/CHANGELOG.md
Labels: Mobile App - i.e. Android or iOS

#31197 Navigation Screen: warn the user about unsaved changes
  packages/e2e-tests/specs/experiments/navigation-editor.test.js
  packages/edit-navigation/src/components/layout/index.js
  packages/edit-navigation/src/components/layout/unsaved-changes-warning.js
Labels: [Feature] Navigation Screen, [Package] Edit Navigation, [Type] Enhancement

#31762 Return consolidated global styles in REST Request
  lib/global-styles.php
Labels: Global Styles, Mobile App - i.e. Android or iOS, REST API Interaction

#31790 Fix lint issues
  lib/class-wp-theme-json-resolver.php
  lib/global-styles.php
Labels: [Type] Code Quality

#31770 Rich text: move autocomplete key handler to ref callback
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/components/rich-text/use-enter.js
  packages/components/src/autocomplete/index.js
  packages/e2e-tests/specs/editor/various/multi-block-selection.test.js
  packages/rich-text/src/component/index.js
Labels: [Type] Code Quality

#31673 Site Logo block: Only request media entity when we have a site logo chosen
  packages/block-library/src/site-logo/edit.js
Labels: [Block] Site Logo, [Type] Bug

#31758 Update codeowners for Navigation Editor
  .github/CODEOWNERS
Labels: [Feature] Navigation Screen, [Package] Edit Navigation
