Repository WordPress/gutenberg, pull requests merged in 2021-06, with the labels that each got.

#32300 Fix legacy widget block preview iframe
  lib/blocks.php
  packages/block-library/src/legacy-widget/index.php
Labels: Backport to WP Beta/RC, [Block] Legacy Widget, [Type] Bug

#31878 Refactor nav block paddings/margins to inherit global styles.
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation-link/index.php
  packages/block-library/src/navigation/editor.scss
  packages/block-library/src/navigation/style.scss
  packages/block-library/src/page-list/style.scss
Labels: CSS Styling, [Block] Navigation, [Block] Page List, [Feature] Navigation Screen

#32144 [RNMobile] Updates Android Gradle Plugin to 4.0.2
  packages/react-native-aztec/android/build.gradle
  packages/react-native-bridge/android/build.gradle
  packages/react-native-bridge/android/react-native-bridge/build.gradle
  packages/react-native-editor/android/build.gradle
Labels: [Type] Build Tooling

#32349 Remove usages of withState from edit-post and editor
  packages/block-editor/src/components/font-sizes/README.MD
  packages/block-editor/src/components/image-size-control/README.md
  packages/components/src/clipboard-button/README.md
  packages/components/src/color-palette/README.md
  packages/edit-post/src/components/manage-blocks-modal/manager.js
  packages/edit-post/src/components/sidebar/post-link/index.js
  packages/editor/src/components/page-attributes/order.js
Labels: [Type] Code Quality

#32351 Mobile - Gallery block - Fix gallery images caption text formatting
  packages/block-library/src/gallery/gallery-image.native.js
  packages/react-native-editor/CHANGELOG.md
Labels: Mobile App - i.e. Android or iOS, [Type] Bug

#32352 Generate classes from preset slugs in the same way (server & client)
  lib/class-wp-theme-json-gutenberg.php
  packages/block-editor/README.md
  packages/block-editor/src/components/colors/test/utils.js
  packages/block-editor/src/components/colors/utils.js
  packages/block-editor/src/components/font-sizes/utils.js
  packages/edit-site/src/components/editor/global-styles-renderer.js
Labels: Backport to WP Beta/RC, [Type] Bug

#32042 Update the appearance of the template details popover
  packages/edit-post/src/components/header/template-title/delete-template.js
  packages/edit-post/src/components/header/template-title/edit-template-title.js
  packages/edit-post/src/components/header/template-title/style.scss
Labels: Needs Design Feedback, [Feature] Template Editing Mode

#32359 Widgets editor: Fix error when saving empty Legacy Widget block
  packages/edit-widgets/src/store/transformers.js
Labels: Backport to WP Beta/RC, [Feature] Widgets Screen, [Type] Bug

#32170 compose: Add types to `useThrottle` and typecheck `useFocusOutside`
  packages/compose/README.md
  packages/compose/src/hooks/use-throttle/index.js
  packages/compose/tsconfig.json
Labels: [Package] Compose, [Type] Code Quality

#32368 Compose: Deprecate `withState` in favor of `useState`
  packages/compose/CHANGELOG.md
  packages/compose/README.md
  packages/compose/src/higher-order/with-state/README.md
  packages/compose/src/higher-order/with-state/index.js
  packages/compose/src/higher-order/with-state/test/index.js
Labels: [Package] Compose

#32310 Add Convert to Regular Blocks button to ellipsis Dropdown
  packages/reusable-blocks/src/components/reusable-blocks-menu-items/reusable-blocks-manage-button.js
Labels: [Feature] Reusable Blocks, [Type] Enhancement

#32356 Buttons: move options to constants to avoid unneeded renders
  packages/block-library/src/buttons/edit.js
Labels: [Block] Buttons, [Type] Performance

#32372 Avoid enqueuing global styles twice when running on WordPress 5.8
  lib/global-styles.php
Labels: Global Styles, [Type] Code Quality

#32361 Fix deselecting block when inspector is opened
  packages/customize-widgets/src/components/customize-widgets/use-clear-selected-block.js
Labels: Backport to WP Beta/RC, [Feature] Widgets Customizer, [Type] Bug

#32344 SuggestionsList: Try to use a unique "key"
  packages/components/src/form-token-field/suggestions-list.js
Labels: [Package] Components, [Type] Bug

#32393 Fix image border radius.
  packages/block-library/src/image/editor.scss
Labels: CSS Styling, [Block] Image

#32341 Prevent saving the post before previewing in locked/read-only mode.
  packages/editor/src/components/post-preview-button/index.js
Labels: Backport to WP Beta/RC, [Type] Bug

#32376 Fix allowed patterns check
  packages/block-editor/src/components/block-pattern-setup/use-patterns-setup.js
  packages/block-editor/src/components/block-switcher/use-transformed-patterns.js
  packages/block-editor/src/store/selectors.js
Labels: Backport to WP Beta/RC, [Feature] Patterns, [Type] Bug

#32397 Remove duplicated ComboboxControl component
  packages/components/src/form-token-field/combobox.js
Labels: [Package] Components, [Type] Code Quality

#32242 Fix mispelling in the Widgets Block Editor section
  docs/how-to-guides/widgets/overview.md
Labels: First-time Contributor

#31901 UnitControl: Fixed documentation for `units` attribute
  packages/components/src/unit-control/README.md
  packages/components/src/unit-control/stories/index.js
Labels: First-time Contributor

#32384 Page List: Fix css bleed from navigation.
  packages/block-library/src/navigation/style.scss
Labels: [Block] Navigation, [Block] Page List, [Type] Bug, [Type] Regression

#32238 Try: Fix notices below block toolbars.
  packages/base-styles/_z-index.scss
  packages/components/src/notice/style.scss
  packages/editor/src/components/editor-notices/style.scss
Labels: Backport to WP Beta/RC, [Package] Notices, [Type] Bug, [Type] Regression

#31277 Align block hover and select styles across list view, site editor, select mode
  packages/block-editor/src/components/block-list/style.scss
Labels: General Interface, Needs Design Feedback, [Feature] Full Site Editing

#32350 File Block: Add an example preview
  packages/block-library/src/file/index.js
Labels: [Block] File, [Type] Bug

#32380 Experimental Layout: pass the same object when no data changes
  packages/block-library/src/group/edit.js
  packages/block-library/src/post-content/edit.js
  packages/block-library/src/query/edit/index.js
  packages/block-library/src/template-part/edit/inner-blocks.js
  packages/edit-post/src/components/visual-editor/index.js
  packages/edit-site/src/components/block-editor/index.js
Labels: Backport to WP Beta/RC, [Type] Performance

#32252 Update: Typography supports shape.
  lib/block-supports/typography.php
  lib/blocks.php
  packages/block-editor/src/hooks/font-appearance.js
  packages/block-editor/src/hooks/font-family.js
  packages/block-editor/src/hooks/font-size.js
  packages/block-editor/src/hooks/line-height.js
  packages/block-editor/src/hooks/text-decoration.js
  packages/block-editor/src/hooks/text-transform.js
  packages/block-library/src/button/block.json
  packages/block-library/src/code/block.json
  packages/block-library/src/heading/block.json
  packages/block-library/src/list/block.json
  packages/block-library/src/loginout/block.json
  packages/block-library/src/navigation/block.json
  packages/block-library/src/paragraph/block.json
  packages/block-library/src/post-author/block.json
  packages/block-library/src/post-comments-count/block.json
  packages/block-library/src/post-comments-form/block.json
  packages/block-library/src/post-comments-link/block.json
  packages/block-library/src/post-comments/block.json
  packages/block-library/src/post-date/block.json
  packages/block-library/src/post-excerpt/block.json
  packages/block-library/src/post-terms/block.json
  packages/block-library/src/post-title/block.json
  packages/block-library/src/preformatted/block.json
  packages/block-library/src/query-pagination-next/block.json
  packages/block-library/src/query-pagination-previous/block.json
  packages/block-library/src/query-title/block.json
  packages/block-library/src/site-tagline/block.json
  packages/block-library/src/site-title/block.json
  packages/block-library/src/term-description/block.json
  packages/block-library/src/verse/block.json
  packages/blocks/src/api/constants.js
Labels: Backport to WP Beta/RC, Global Styles, [Feature] Block API

#30820 React Native Editor: Update CHANGELOG.md
  packages/react-native-editor/CHANGELOG.md
Labels: Mobile App - i.e. Android or iOS, [Type] Documentation

#32421 [RNMobile] Add `1.54.0` section to react-native-editor changelog
  packages/react-native-editor/CHANGELOG.md
Labels: Mobile App - i.e. Android or iOS

#31705 [RNMobile] Add "Set as Featured Image" Button to Image Block (Android Only)
  packages/block-library/src/image/constants.js
  packages/block-library/src/image/edit.native.js
  packages/block-library/src/image/styles.native.scss
  packages/react-native-bridge/android/react-native-bridge/src/main/java/org/wordpress/mobile/ReactNativeGutenbergBridge/GutenbergBridgeJS2Parent.java
  packages/react-native-bridge/android/react-native-bridge/src/main/java/org/wordpress/mobile/ReactNativeGutenbergBridge/RNReactNativeGutenbergBridgeModule.java
  packages/react-native-bridge/android/react-native-bridge/src/main/java/org/wordpress/mobile/WPAndroidGlue/WPAndroidGlueCode.java
  packages/react-native-bridge/index.js
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/android/app/src/main/java/com/gutenberg/MainApplication.java
Labels: Mobile App - i.e. Android or iOS, [Type] Enhancement

#32388 Fixed Random Collapse of Colors Setting Section
  packages/block-editor/src/hooks/style.js
Labels: Backport to WP Beta/RC, [Type] Bug

#31966 [RNMobile] Audio block capability now enables/disables media upload's media sources
  packages/block-editor/src/components/media-upload/index.native.js
  packages/block-editor/src/components/media-upload/test/index.native.js
  packages/react-native-bridge/android/react-native-bridge/src/main/java/org/wordpress/mobile/WPAndroidGlue/GutenbergProps.kt
  packages/react-native-bridge/ios/GutenbergBridgeDelegate.swift
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/android/app/src/main/java/com/gutenberg/MainActivity.java
  packages/react-native-editor/ios/GutenbergDemo/GutenbergViewController.swift
  packages/react-native-editor/src/index.js
Labels: Mobile App - i.e. Android or iOS

#32313 Alternative fix: set persisted menu id when no menus or missing menu
  packages/e2e-tests/specs/experiments/navigation-editor.test.js
  packages/edit-navigation/src/hooks/use-menu-entity.js
  packages/edit-navigation/src/hooks/use-navigation-editor.js
  packages/edit-navigation/src/store/reducer.js
  packages/edit-navigation/src/store/selectors.js
  packages/edit-navigation/src/store/test/reducer.js
  packages/edit-navigation/src/store/test/selectors.js
Labels: [Feature] Navigation Screen

#32401 Storybook: fix misc warnings
  packages/components/src/ui/context/stories/ComponentsProvider.stories.js
  packages/components/src/ui/item-group/item-group.tsx
  packages/components/src/ui/scrollable/stories/index.js
Labels: Storybook, [Feature] Component System, [Package] Components

#32425 Fix the layout definition in the template mode
  packages/block-editor/src/hooks/duotone.js
  packages/block-editor/src/hooks/style.js
  packages/edit-post/src/components/sidebar/template/actions.js
  packages/edit-post/src/components/visual-editor/index.js
Labels: Backport to WP Beta/RC, [Type] Bug

#32424 Fix block toolbar overlap with header
  packages/block-editor/src/components/block-tools/style.scss
Labels: [Package] Block editor, [Type] Bug

#32387 Simplify frontend script for button-only search
  packages/block-library/src/search/edit.js
  packages/block-library/src/search/editor.scss
  packages/block-library/src/search/frontend.js
  packages/block-library/src/search/index.php
  packages/block-library/src/search/style.scss
  packages/block-library/src/search/utils.js
Labels: [Block] Search, [Type] Enhancement

#32406 Header toolbar: useCallback to avoid unnecessary rerenders
  packages/edit-post/src/components/header/header-toolbar/index.js
  packages/edit-site/src/components/header/index.js
Labels: [Type] Performance

#32420 Don't show widgets in menu without theme support
  lib/init.php
Labels: [Feature] Widgets Screen, [Type] Bug

#32370 Fix site-logo not getting removed on remove_theme_mod
  packages/block-library/src/site-logo/index.php
Labels: Backport to WP Beta/RC

#32371 Icons: add new icons
  packages/block-library/src/post-author/icon.js
  packages/block-library/src/post-author/index.js
  packages/block-library/src/post-comment-author/icon.js
  packages/block-library/src/post-comment-author/index.js
  packages/icons/src/index.js
  packages/icons/src/library/add-card.js
  packages/icons/src/library/bug.js
  packages/icons/src/library/key.js
  packages/icons/src/library/people.js
  packages/icons/src/library/post-author.js
  packages/icons/src/library/remove-bug.js
  packages/icons/src/library/shield.js
Labels: First-time Contributor, Needs Figma Update

#32354 Icons: tweak people icon
  packages/icons/src/library/people.js
Labels: First-time Contributor, Needs Design Feedback, Needs Figma Update, [Package] Icons

#32440 Fix duotone support docs
  docs/reference-guides/block-api/block-supports.md
Labels: [Type] Documentation

#32404 Make syntax errors in `theme.json` visible to users
  lib/class-wp-theme-json-resolver-gutenberg.php
Labels: Backport to WP Beta/RC, Global Styles

#32396 Mobile - Floating Toolbar - Disable touch events when its hidden
  packages/block-editor/src/components/floating-toolbar/index.native.js
Labels: Mobile App - i.e. Android or iOS, [Type] Bug

#32444 Update: Skip typography serialization
  lib/block-supports/typography.php
  packages/block-editor/src/hooks/font-size.js
  packages/block-editor/src/hooks/style.js
  packages/block-editor/src/hooks/typography.js
Labels: Backport to WP Beta/RC

#32459 Letter spacing should also respect skip serialization flag
  lib/block-supports/typography.php
Labels: Global Styles, [Type] Bug

#31483 Block Support: Update border support to allow non-pixel units
  lib/block-supports/border.php
  packages/block-editor/src/hooks/border-radius.js
  packages/block-editor/src/hooks/border-width.js
  packages/block-editor/src/hooks/border.js
  packages/block-editor/src/hooks/border.scss
  packages/block-editor/src/hooks/test/style.js
  packages/block-editor/src/style.scss
  packages/block-library/src/button/edit.js
  packages/block-library/src/button/save.js
  packages/block-library/src/search/edit.js
  packages/block-library/src/search/index.php
Labels: [Feature] Design Tools, [Type] Enhancement

#32474 Quality: Fix different typos in inline comments, deprecation warnings and variable names
  packages/editor/src/components/local-autosave-monitor/index.js
  packages/editor/src/components/provider/index.js
  packages/editor/src/store/actions.js
  packages/editor/src/store/selectors.js
Labels: [Type] Code Quality

#32454 Fix alligned blocks
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/use-block-props/index.js
  packages/block-editor/src/utils/dom.js
  packages/block-library/src/navigation/edit.js
Labels: Backport to WP Beta/RC, [Type] Bug

#32480 [Code Quality]: Fix typos
  packages/core-data/src/resolvers.js
Labels: [Type] Code Quality

#32432 Fixed loss of list content when switching list types.
  packages/block-editor/src/components/rich-text/index.js
  packages/e2e-tests/specs/editor/blocks/__snapshots__/list.test.js.snap
  packages/e2e-tests/specs/editor/blocks/list.test.js
Labels: [Package] Rich text, [Type] Bug

#32158 Update documentation for render_block_core_loginout function
  packages/block-library/src/loginout/index.php
Labels: [Type] Code Quality

#32429 Handbook: Detail the Gutenberg release post process
  docs/contributors/code/release.md
Labels: [Type] Documentation

#32450 Fix inspector opening on click outside widget area
  packages/edit-widgets/src/components/sidebar/index.js
Labels: Backport to WP Beta/RC, [Feature] Widgets Screen, [Type] Bug

#32483 Show all heading levels in toolbar group
  packages/block-library/src/heading/editor.scss
Labels: [Block] Heading, [Block] Post Title, [Block] Query Title, [Type] Regression

#32453 Avoid keeping the same client ID when transforming blocks
  packages/blocks/src/api/factory.js
  packages/blocks/src/api/test/factory.js
Labels: Backport to WP Beta/RC, Framework, [Type] Bug

#32446 Components: promote `Scrollable`
  docs/manifest.json
  packages/components/src/index.js
  packages/components/src/scrollable/README.md
  packages/components/src/scrollable/component.js
  packages/components/src/scrollable/hook.js
  packages/components/src/scrollable/index.js
  packages/components/src/scrollable/stories/index.js
  packages/components/src/scrollable/styles.js
  packages/components/src/scrollable/test/__snapshots__/index.js.snap
  packages/components/src/scrollable/test/index.js
  packages/components/src/scrollable/types.ts
  packages/components/src/ui/card/body.js
  packages/components/src/ui/scrollable/stories/index.js
  packages/components/tsconfig.json
Labels: [Feature] Component System, [Package] Components

#32477 Assume light theme when editor canvas background color isn't set
  packages/block-editor/src/components/editor-styles/index.js
Labels: Backport to WP Beta/RC, [Feature] Widgets Screen, [Type] Bug

#32431 Unhide the classic menu widget
  lib/widgets.php
Labels: [Block] Navigation, [Package] Edit Widgets

#31792 Add ESLint import resolver
  .eslintrc.js
  .github/workflows/static-checks.yml
  package-lock.json
  package.json
  packages/react-native-editor/.eslintrc.js
  test/lint/import-resolver.js
Labels: [Type] Enhancement

#32077 Build: Upgrade husky package to the latest version
  .husky/.gitignore
  .husky/pre-commit
  package-lock.json
  package.json
Labels: First-time Contributor, [Type] Build Tooling

#32377 Enqueue global styles in editor only once
  lib/global-styles.php
Labels: Global Styles, [Type] Code Quality

#32439 Components: promote `Surface`
  docs/manifest.json
  packages/components/src/elevation/component.js
  packages/components/src/index.js
  packages/components/src/surface/README.md
  packages/components/src/surface/component.js
  packages/components/src/surface/hook.js
  packages/components/src/surface/index.js
  packages/components/src/surface/stories/index.js
  packages/components/src/surface/styles.js
  packages/components/src/surface/test/__snapshots__/index.js.snap
  packages/components/src/surface/test/index.js
  packages/components/src/surface/types.ts
  packages/components/src/text/stories/index.js
  packages/components/src/ui/__storybook-utils/example-grid.js
  packages/components/src/ui/card/hook.js
  packages/components/src/ui/card/types.ts
  packages/components/tsconfig.json
Labels: [Feature] Component System, [Package] Components

#32275 Allow themes to add inline styles for all blocks when using lazy styles loading
  lib/blocks.php
  lib/compat/wordpress-5.8/block-editor.php
Labels: [Feature] Themes

#32505 [Block Library - Post blocks]: Make post blocks uneditable when inside Query block
  packages/block-library/src/post-author/edit.js
  packages/block-library/src/post-content/edit.js
  packages/block-library/src/post-date/edit.js
  packages/block-library/src/post-excerpt/edit.js
  packages/block-library/src/post-featured-image/edit.js
  packages/block-library/src/post-title/edit.js
  packages/block-library/src/utils/hooks.js
Labels: Backport to WP Beta/RC, [Block] Post Title, [Block] Query

#31810 Monopolize navigation in Site Editor
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/content-navigation.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/index.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/menus/index.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/templates-navigation.js
Labels: [Package] Edit Site, [Type] Enhancement

#32514 [Block Library]Rename QueryLoop to PostTemplate and change Query label
  lib/block-patterns.php
  lib/blocks.php
  packages/block-library/src/editor.scss
  packages/block-library/src/index.js
  packages/block-library/src/post-template/block.json
  packages/block-library/src/post-template/edit.js
  packages/block-library/src/post-template/editor.scss
  packages/block-library/src/post-template/index.js
  packages/block-library/src/post-template/index.php
  packages/block-library/src/post-template/save.js
  packages/block-library/src/post-template/style.scss
  packages/block-library/src/query-loop/index.php
  packages/block-library/src/query/block.json
  packages/block-library/src/query/edit/index.js
  packages/block-library/src/query/variations.js
  packages/block-library/src/style.scss
  packages/blocks/src/api/parser.js
  packages/e2e-tests/fixtures/blocks/core__post-template.html
  packages/e2e-tests/fixtures/blocks/core__post-template.json
  packages/e2e-tests/fixtures/blocks/core__post-template.parsed.json
  packages/e2e-tests/fixtures/blocks/core__post-template.serialized.html
  packages/e2e-tests/fixtures/blocks/core__query-loop.html
  packages/e2e-tests/fixtures/blocks/core__query-loop.serialized.html
  packages/e2e-tests/plugins/query-block.php
Labels: Backport to WP Beta/RC, [Block] Query, [Package] Block library

#32518 edit-post: Fix no-string-literals warning
  packages/edit-post/src/store/actions.js
Labels: [Type] Code Quality

#32513 Plugin: Fix PHPCS Warnings
  lib/class-wp-rest-block-editor-settings-controller.php
  lib/class-wp-rest-pattern-directory-controller.php
Labels: Gutenberg Plugin, [Type] Code Quality

#32485 Edit Post: Prevent locking users in saving state when saving meta boxes fails
  packages/edit-post/src/store/actions.js
Labels: [Package] Edit Post, [Type] Bug

#32338 Added onDismiss option in createInfoNotice
  packages/components/src/notice/README.md
  packages/components/src/notice/index.js
  packages/notices/src/store/actions.js
  packages/notices/src/store/test/actions.js
  packages/notices/src/store/test/reducer.js
Labels: [Package] Components, [Type] Enhancement

#32528 Editor Breadcrumb: add a `rootLabelText` prop
  packages/block-editor/README.md
  packages/block-editor/src/components/block-breadcrumb/README.md
  packages/block-editor/src/components/block-breadcrumb/index.js
  packages/block-editor/src/components/block-breadcrumb/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/block-breadcrumb/test/index.js
Labels: [Feature] UI Components, [Package] Block editor, [Type] Enhancement

#32536 Fix block multi selection in nested blocks
  packages/block-editor/src/store/actions.js
  packages/block-editor/src/store/test/actions.js
  packages/e2e-tests/specs/editor/various/multi-block-selection.test.js
Labels: Backport to WP Beta/RC, [Feature] Block Multi Selection, [Type] Bug

#32534 Save deleted and restored widgets.
  packages/edit-widgets/src/store/actions.js
Labels: Backport to WP Beta/RC, [Feature] Widgets Screen, [Type] Bug

#32498 Widgets editor: Add Breadcrumbs Block
  packages/edit-widgets/src/components/layout/interface.js
Labels: Backport to WP Beta/RC, [Feature] Widgets Screen

#31464 Enhance link control UI with rich URL previews
  packages/block-editor/src/components/link-control/index.js
  packages/block-editor/src/components/link-control/link-preview.js
  packages/block-editor/src/components/link-control/style.scss
  packages/block-editor/src/components/link-control/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/link-control/test/index.js
  packages/block-editor/src/components/link-control/use-remote-url-data.js
  packages/core-data/src/fetch/__experimental-fetch-remote-url-data.js
  packages/e2e-tests/specs/editor/various/links.test.js
  packages/editor/src/components/provider/use-block-editor-settings.js
  packages/format-library/src/link/inline.js
Labels: [Feature] Link Editing

#32378 [Block Library - Columns] Fix deprecation caused when adding a column
  packages/block-library/src/columns/edit.js
  packages/block-library/src/columns/edit.native.js
  packages/block-library/src/columns/test/utils.js
  packages/block-library/src/columns/utils.js
Labels: [Block] Columns, [Package] Block library, [Type] Bug

#32543 Try: Alternate spacer min-height fix.
  packages/block-library/src/spacer/editor.scss
Labels: CSS Styling, [Block] Spacer

#32553 Site editor: add typing performance test
  packages/e2e-tests/experimental-features.js
  packages/e2e-tests/specs/performance/post-editor.test.js
  packages/e2e-tests/specs/performance/site-editor.test.js
  packages/e2e-tests/specs/performance/utils.js
Labels: [Type] Performance

#32358 Enqueue core and theme colors by using separate structures per origin.
  lib/class-wp-theme-json-gutenberg.php
  lib/class-wp-theme-json-resolver-gutenberg.php
  lib/experimental-default-theme.json
  lib/global-styles.php
  packages/block-editor/src/components/use-setting/index.js
  packages/edit-site/src/components/editor/global-styles-provider.js
  packages/edit-site/src/components/editor/global-styles-renderer.js
  packages/edit-site/src/components/editor/test/global-styles-renderer.js
  packages/edit-site/src/components/editor/utils.js
  packages/edit-site/src/components/sidebar/color-palette-panel.js
  phpunit/class-wp-theme-json-schema-v0-test.php
  phpunit/class-wp-theme-json-test.php
Labels: Global Styles

#32552 Refactor LinkControl component to support React 17
  packages/block-editor/src/components/link-control/index.js
  packages/block-editor/src/components/link-control/search-input.js
  packages/block-editor/src/components/link-control/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/link-control/test/index.js
  packages/block-editor/src/components/url-input/index.js
Labels: [Feature] UI Components

#32557 Card: refactor subcomponents folder structure
  docs/manifest.json
  packages/components/src/card/card-body/README.md
  packages/components/src/card/card-body/index.js
  packages/components/src/card/card-divider/README.md
  packages/components/src/card/card-divider/index.js
  packages/components/src/card/card-footer/README.md
  packages/components/src/card/card-footer/index.js
  packages/components/src/card/card-header/README.md
  packages/components/src/card/card-header/index.js
  packages/components/src/card/card-media/README.md
  packages/components/src/card/card-media/index.js
  packages/components/src/card/card/README.md
  packages/components/src/card/card/index.js
  packages/components/src/card/index.js
  packages/components/src/card/stories/_index.js
  packages/components/src/card/stories/body.js
  packages/components/src/card/stories/divider.js
  packages/components/src/card/stories/footer.js
  packages/components/src/card/stories/header.js
  packages/components/src/card/stories/media.js
  packages/components/src/card/styles.js
  packages/components/src/card/test/body.js
  packages/components/src/card/test/divider.js
  packages/components/src/card/test/footer.js
  packages/components/src/card/test/header.js
  packages/components/src/card/test/index.js
  packages/components/src/card/test/media.js
  packages/components/src/index.js
Labels: [Feature] Component System, [Package] Components

#31896 Drop indicator: show around dragged block and show above selected block for file drop
  packages/block-editor/src/components/block-list/use-in-between-inserter.js
  packages/block-editor/src/components/block-tools/block-popover.js
  packages/block-editor/src/components/block-tools/insertion-point.js
  packages/block-editor/src/components/block-tools/style.scss
  packages/block-editor/src/components/use-block-drop-zone/index.js
  packages/block-editor/src/components/use-block-drop-zone/test/index.js
  packages/compose/src/hooks/use-drop-zone/index.js
Labels: Backport to WP Beta/RC, [Feature] Drag and Drop, [Type] Bug

#32582 Docs: Update references to `register_block_type_from_metadata`
  docs/reference-guides/block-api/block-metadata.md
  packages/block-library/README.md
  packages/block-library/src/navigation-link/fallback-variations.js
  packages/block-library/src/navigation-link/hooks.js
Labels: [Feature] Block API, [Type] Documentation

#32561 Card: add types
  packages/components/src/card/card-body/index.js
  packages/components/src/card/card-divider/index.js
  packages/components/src/card/card-footer/index.js
  packages/components/src/card/card-header/index.js
  packages/components/src/card/card-media/index.js
  packages/components/src/card/card/index.js
  packages/components/src/card/types.ts
  packages/components/tsconfig.json
Labels: [Feature] Component System, [Package] Components

#32355 [Block Conversion - Embed]: Fix embed to paragraph transform when caption has rich text formats
  packages/block-library/src/embed/transforms.js
Labels: [Block] Embed, [Feature] Block Conversion, [Type] Bug

#31732 Generate minified .min.js and unminified .js files for GB js entry points when building
  .github/workflows/bundle-size.yml
  docs/manifest.json
  lib/client-assets.php
  package-lock.json
  package.json
  packages/dependency-extraction-webpack-plugin/lib/index.js
  packages/dependency-extraction-webpack-plugin/test/__snapshots__/build.js.snap
  packages/dependency-extraction-webpack-plugin/test/fixtures/has-extension-suffix/index.js
  packages/dependency-extraction-webpack-plugin/test/fixtures/has-extension-suffix/webpack.config.js
  packages/readable-js-assets-webpack-plugin/.npmrc
  packages/readable-js-assets-webpack-plugin/CHANGELOG.md
  packages/readable-js-assets-webpack-plugin/README.md
  packages/readable-js-assets-webpack-plugin/index.js
  packages/readable-js-assets-webpack-plugin/package.json
  packages/readable-js-assets-webpack-plugin/test/__snapshots__/build.js.snap
  packages/readable-js-assets-webpack-plugin/test/build.js
  packages/readable-js-assets-webpack-plugin/test/fixtures/frontend.js
  packages/readable-js-assets-webpack-plugin/test/fixtures/index.js
  packages/readable-js-assets-webpack-plugin/test/fixtures/webpack.config.js
  webpack.config.js
Labels: [Type] Build Tooling, [Type] New API, npm Packages

#32573 Widgets editor: Fix dirty state after adding new block
  packages/e2e-tests/specs/widgets/editing-widgets.test.js
  packages/edit-widgets/src/store/actions.js
Labels: Backport to WP Beta/RC, [Feature] Widgets Screen, [Type] Bug

#32585 Widget Editor: Fix button spacing in header
  packages/edit-widgets/src/components/header/style.scss
Labels: Backport to WP Beta/RC, [Feature] Widgets Screen, [Type] Bug

#32501 Move Legacy Widget block to @wordpress/widgets
  docs/how-to-guides/widgets/legacy-widget-block.md
  lib/blocks.php
  lib/client-assets.php
  lib/widgets-page.php
  lib/widgets.php
  package-lock.json
  packages/block-library/CHANGELOG.md
  packages/block-library/src/editor.scss
  packages/block-library/src/index.js
  packages/customize-widgets/src/index.js
  packages/e2e-tests/fixtures/blocks/core__legacy-widget.html
  packages/e2e-tests/fixtures/blocks/core__legacy-widget.json
  packages/e2e-tests/fixtures/blocks/core__legacy-widget.parsed.json
  packages/e2e-tests/fixtures/blocks/core__legacy-widget.serialized.html
  packages/e2e-tests/specs/editor/plugins/__snapshots__/wp-editor-meta-box.test.js.snap
  packages/edit-widgets/src/index.js
  packages/widgets/package.json
  packages/widgets/src/blocks/legacy-widget/README.md
  packages/widgets/src/blocks/legacy-widget/block.json
  packages/widgets/src/blocks/legacy-widget/edit/control.js
  packages/widgets/src/blocks/legacy-widget/edit/convert-to-blocks-button.js
  packages/widgets/src/blocks/legacy-widget/edit/form.js
  packages/widgets/src/blocks/legacy-widget/edit/index.js
  packages/widgets/src/blocks/legacy-widget/edit/inspector-card.js
  packages/widgets/src/blocks/legacy-widget/edit/no-preview.js
  packages/widgets/src/blocks/legacy-widget/edit/preview.js
  packages/widgets/src/blocks/legacy-widget/edit/widget-type-selector.js
  packages/widgets/src/blocks/legacy-widget/editor.scss
  packages/widgets/src/blocks/legacy-widget/index.js
  packages/widgets/src/blocks/legacy-widget/index.php
  packages/widgets/src/blocks/legacy-widget/transforms.js
  packages/widgets/src/index.js
  packages/widgets/src/style.scss
  webpack.config.js
Labels: Backport to WP Beta/RC, [Block] Legacy Widget

#32572 [Widgets screen] Don't add undo levels when editing records on save
  packages/e2e-tests/specs/widgets/editing-widgets.test.js
  packages/edit-widgets/src/store/actions.js
Labels: Backport to WP Beta/RC, [Feature] Widgets Screen, [Type] Bug

#32124 [Icons] Expose `trendingDown` and `trendindUp` icons
  packages/icons/src/index.js
Labels: [Package] Icons

#32589 Drop zone: fix horizontal indicator
  packages/block-editor/src/components/use-block-drop-zone/index.js
Labels: Backport to WP Beta/RC, [Feature] Drag and Drop, [Type] Bug

#32442 FSE: Template resolution for new posts and pages
  lib/full-site-editing/template-loader.php
  packages/edit-post/src/store/selectors.js
Labels: [Feature] Full Site Editing, [Type] Enhancement

#32580 Use button block appender in widget areas
  packages/block-editor/CHANGELOG.md
  packages/block-editor/README.md
  packages/block-editor/src/components/block-list/index.js
  packages/block-editor/src/components/button-block-appender/index.js
  packages/block-editor/src/components/index.js
  packages/customize-widgets/src/components/sidebar-block-editor/index.js
  packages/e2e-tests/specs/widgets/editing-widgets.test.js
  packages/edit-widgets/src/blocks/widget-area/edit/inner-blocks.js
Labels: Backport to WP Beta/RC, [Feature] Widgets Screen, [Type] Bug, [Type] Enhancement

#32581 Fix Safari 13 issue.
  packages/edit-post/src/components/visual-editor/index.js
  packages/edit-post/src/components/visual-editor/style.scss
Labels: Backport to WP Beta/RC, Browser Issues, [Type] Bug

#31832 Post terms: Add a CSS class to identify the taxonomy
  packages/block-library/src/post-terms/edit.js
  packages/block-library/src/post-terms/index.php
Labels: [Block] Post Hierarchical Terms, [Block] Post Tags

#31239 Split `theme.css` styles loading
  bin/packages/build.js
  lib/blocks.php
  webpack.config.js
Labels: [Feature] Full Site Editing, [Feature] Themes, [Type] Performance

#32611 Plugin: Copy `wp_should_load_separate_core_block_assets` function from core
  lib/blocks.php
  lib/client-assets.php
  lib/compat.php
Labels: Backwards Compatibility, Gutenberg Plugin

#32609 Post Editor: use the post type singular_name as the root Block Breadcrumb label
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/sidebar/settings-header/index.js
  packages/editor/src/store/selectors.js
  packages/editor/src/store/test/selectors.js
Labels: [Feature] Block Breadcrumbs, [Type] Enhancement

#32563 Correct the format used for duplicate hook docs
  packages/block-library/src/latest-comments/index.php
Labels: [Block] Latest Comments, [Type] Code Quality

#32623 Edit Post: Add metaBoxUpdatesFailure action
  packages/edit-post/src/store/actions.js
  packages/edit-post/src/store/reducer.js
Labels: [Package] Edit Post

#32592 Remove snapshots from tests for LinkControl
  packages/block-editor/src/components/link-control/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/link-control/test/index.js
Labels: [Feature] Link Editing

#32567 Performance: Remove `is-typing` root class
  packages/block-editor/src/components/block-list/index.js
  packages/block-editor/src/components/block-list/style.scss
  packages/block-editor/src/components/block-list/use-block-props/use-block-class-names.js
Labels: Backport to WP Beta/RC, [Type] Performance

#32625 Widgets: Try to fix color inheritance for social links.
  packages/block-library/src/social-links/style.scss
Labels: Backport to WP Beta/RC, [Block] Social, [Feature] Themes

#31504 Calendar: Add loading and empty state
  packages/block-library/src/calendar/edit.js
  packages/block-library/src/calendar/index.php
Labels: [Block] Calendar, [Package] Block library, [Type] Enhancement

#32619 Mobile Release v1.55.0
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS

#32634 Chore: Remove check for core files on typography supports migration.
  lib/blocks.php
Labels: Global Styles, [Type] Code Quality

#32068 Mobile - fix default inserter for tablet
  packages/block-editor/src/components/block-list/block-list-item.native.js
  packages/block-editor/src/components/block-list/block.native.js
  packages/block-editor/src/components/block-list/block.native.scss
  packages/block-editor/src/components/block-list/style.native.scss
  packages/block-editor/src/components/default-block-appender/style.native.scss
  packages/block-library/src/column/edit.native.js
  packages/block-library/src/column/editor.native.scss
  packages/block-library/src/columns/edit.native.js
  packages/block-library/src/columns/editor.native.scss
  packages/block-library/src/group/edit.native.js
  packages/block-library/src/group/editor.native.scss
Labels: General Interface, Mobile App - i.e. Android or iOS, [Feature] Inserter, [Feature] Writing Flow

#32569 Widgets Editor: add show block bread crumbs feature toggle to more menu
  packages/edit-widgets/src/components/layout/interface.js
  packages/edit-widgets/src/components/more-menu/index.js
  packages/edit-widgets/src/store/defaults.js
  packages/edit-widgets/src/store/test/selectors.js
Labels: Backport to WP Beta/RC, [Feature] Widgets Screen, [Type] Enhancement

#32427 Update the template creation modal
  packages/edit-post/src/components/sidebar/template/actions.js
  packages/edit-post/src/components/sidebar/template/style.scss
Labels: Needs Design Feedback, [Feature] Template Editing Mode

#31742 Code block: Try an experimentalSelector
  packages/block-library/src/code/block.json
Labels: [Block] Code

#32451 Only add skip-link for block themes & templates on the frontend
  lib/full-site-editing/templates.php
Labels: Backport to WP Beta/RC, [Type] Bug

#32622 Update WP_Theme_JSON API so presets are always keyed by origin
  lib/class-wp-theme-json-gutenberg.php
  lib/class-wp-theme-json-resolver-gutenberg.php
  lib/global-styles.php
  phpunit/class-wp-theme-json-resolver-test.php
  phpunit/class-wp-theme-json-schema-v0-test.php
  phpunit/class-wp-theme-json-test.php
Labels: Backport to WP Beta/RC, Global Styles

#32088 useSelect: silently error (for block zombie children)
  packages/data/src/components/use-select/index.js
Labels: Backport to WP Beta/RC, [Type] Bug

#32627 Allow theme authors hook into the preset classes generated by global styles
  lib/class-wp-theme-json-gutenberg.php
  packages/edit-site/src/components/editor/global-styles-renderer.js
  packages/edit-site/src/components/editor/test/global-styles-renderer.js
  phpunit/class-wp-theme-json-schema-v0-test.php
  phpunit/class-wp-theme-json-test.php
Labels: Backport to WP Beta/RC, Global Styles, [Feature] Themes

#32656 E2e tests: ignore JQMIGRATE (jQuery migrate) deprecation warnings
  packages/e2e-tests/config/setup-test-framework.js
Labels: Automated Testing

#32639 Update welcome guide language for the template editor
  packages/edit-post/src/components/welcome-guide/template.js
Labels: General Interface, [Feature] Template Editing Mode, [Type] Enhancement

#32326 compose: Type `withState` as any
  packages/compose/README.md
  packages/compose/src/higher-order/with-state/index.js
  packages/compose/tsconfig.json
Labels: [Package] Compose, [Type] Code Quality

#32675 Components: Sort entries in `packages/components/tsconfig.json`
  packages/components/tsconfig.json
Labels: [Feature] Component System, [Package] Components, [Type] Code Quality

#32661 wp-env: Bump TT1 Blocks to v0.4.7
  .wp-env.json
Labels: [Type] Build Tooling

#32503 Widgets editor: decode HTML entities for name and description props
  lib/class-wp-rest-widget-types-controller.php
Labels: [Feature] Widgets Screen, [Type] Bug

#32655 Try: Fix vertical scroll in horizontal toolbar.
  packages/block-editor/src/components/block-toolbar/style.scss
Labels: CSS Styling

#32605 Legacy Widget: Don't display "No preview" when widget has image tags
  packages/widgets/src/blocks/legacy-widget/edit/control.js
Labels: Backport to WP Beta/RC, [Block] Legacy Widget, [Type] Bug

#32679 Allow presets to provide an empty set of values
  lib/class-wp-theme-json-gutenberg.php
Labels: Backport to WP Beta/RC, Global Styles, [Type] Bug

#32452 [Mobile] - Slash inserter - Don't show disabled items
  packages/components/src/autocomplete/autocompleter-ui.native.js
Labels: Mobile App - i.e. Android or iOS, [Type] Bug

#32686 Fix Post Title e2e test
  packages/e2e-tests/specs/editor/blocks/post-title.test.js
Labels: Automated Testing, Backport to WP Beta/RC

#32674 compose: Add types to `withSafeTimeout`
  packages/compose/README.md
  packages/compose/src/higher-order/with-safe-timeout/index.js
  packages/compose/src/higher-order/with-safe-timeout/index.tsx
  packages/compose/tsconfig.json
Labels: [Package] Compose, [Type] Code Quality

#32117 List View: allow expanding and collapsing of nested blocks
  packages/block-editor/src/components/block-navigation/block-contents.js
  packages/block-editor/src/components/block-navigation/block-select-button.js
  packages/block-editor/src/components/block-navigation/block-slot.js
  packages/block-editor/src/components/block-navigation/block.js
  packages/block-editor/src/components/block-navigation/branch.js
  packages/block-editor/src/components/block-navigation/expander.js
  packages/block-editor/src/components/block-navigation/style.scss
  packages/block-editor/src/components/block-navigation/tree.js
  packages/components/src/tree-grid/index.js
  packages/edit-post/src/components/secondary-sidebar/style.scss
  packages/icons/src/index.js
  packages/icons/src/library/chevron-right-small.js
Labels: [Feature] List View, [Type] Feature

#32676 compose: Add types to `useDialog` and `useFocusOnMount`
  packages/compose/CHANGELOG.md
  packages/compose/README.md
  packages/compose/package.json
  packages/compose/src/hooks/use-constrained-tabbing/index.js
  packages/compose/src/hooks/use-dialog/index.js
  packages/compose/src/hooks/use-focus-on-mount/index.js
  packages/compose/tsconfig.json
  tsconfig.json
Labels: [Package] Compose, [Type] Code Quality

#32666 Image Block: Fix cover block exists check
  packages/block-library/src/image/image.js
Labels: [Block] Cover, [Block] Image, [Type] Bug

#32647 Template Mode: Translate delete template confirmation message
  packages/edit-post/src/components/header/template-title/delete-template.js
Labels: [Feature] Template Editing Mode

#32628 Fix component inspector error in React Native
  packages/react-native-editor/src/index.js
Labels: Mobile App - i.e. Android or iOS

#32576 Fix insertion point displaying when there are no inserter items
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/selectors.js
Labels: Backport to WP Beta/RC, [Feature] Inserter, [Type] Bug

#32690 Widget Editor: Hide some settings from the "Options" menu on small screens
  packages/edit-widgets/src/components/more-menu/index.js
Labels: Backport to WP Beta/RC, [Feature] Widgets Screen, [Type] Bug

#32532 Remove unusued select block function
  packages/block-editor/src/components/writing-flow/use-multi-selection.js
Labels: [Feature] Block Multi Selection, [Type] Code Quality

#32691 Try fixing add milestone github action
  package-lock.json
  package.json
  packages/project-management-automation/lib/index.js
  packages/project-management-automation/lib/tasks/add-milestone/index.js
  packages/project-management-automation/lib/tasks/add-milestone/test/index.js
  packages/project-management-automation/lib/tasks/assign-fixed-issues/index.js
  packages/project-management-automation/lib/tasks/assign-fixed-issues/test/index.js
  packages/project-management-automation/lib/tasks/first-time-contributor-account-link/index.js
  packages/project-management-automation/lib/tasks/first-time-contributor-account-link/test/index.js
  packages/project-management-automation/lib/tasks/first-time-contributor-label/index.js
  packages/project-management-automation/lib/tasks/first-time-contributor-label/test/index.js
  packages/project-management-automation/package.json
Labels: [Package] Project management automation, [Type] Bug, [Type] Project Management

#32608 Widgets: Don't delete a widget if it is moved to a different area
  lib/class-wp-rest-widgets-controller.php
  packages/edit-widgets/src/store/actions.js
Labels: Backport to WP Beta/RC, [Feature] Widgets Screen, [Type] Bug

#32658 Make link UI rich previews target agnostic and fix unwanted preview for internal URLs
  packages/block-editor/src/components/link-control/link-preview.js
  packages/block-editor/src/components/link-control/test/index.js
  packages/block-editor/src/components/link-control/use-rich-url-data.js
  packages/editor/src/components/provider/use-block-editor-settings.js
Labels: [Feature] Link Editing, [Type] Bug

#32697 e2e Tests: Add more user auto-completer (mentions) coverage
  packages/e2e-test-utils/CHANGELOG.md
  packages/e2e-test-utils/README.md
  packages/e2e-test-utils/src/create-user.js
  packages/e2e-test-utils/src/delete-user.js
  packages/e2e-test-utils/src/index.js
  packages/e2e-tests/specs/editor/various/__snapshots__/mentions.test.js.snap
  packages/e2e-tests/specs/editor/various/mentions.test.js
Labels: [Package] E2E Test Utils, [Package] E2E Tests

#32694 Add helpful text to Query Loop block
  packages/block-library/src/post-template/block.json
  packages/block-library/src/query/block.json
  packages/block-library/src/query/edit/query-inspector-controls.js
Labels: Backport to WP Beta/RC, [Block] Query Loop, [Type] Copy

#32727 [E2E Tests]: Update mentions tests to use `toMatchInlineSnapshot`
  packages/e2e-tests/specs/editor/various/__snapshots__/mentions.test.js.snap
  packages/e2e-tests/specs/editor/various/mentions.test.js
Labels: Automated Testing, [Package] E2E Tests, [Type] Code Quality

#32700 Prevent duplicate queries
  lib/full-site-editing/block-templates.php
Labels: Backport to WP Beta/RC, [Feature] Full Site Editing, [Type] Performance

#28033 Update linting and formatting for test plugin files.
  .eslintignore
  packages/e2e-tests/plugins/align-hook/index.js
  packages/e2e-tests/plugins/block-icons/index.js
  packages/e2e-tests/plugins/block-variations/index.js
  packages/e2e-tests/plugins/child-blocks/index.js
  packages/e2e-tests/plugins/container-without-paragraph/index.js
  packages/e2e-tests/plugins/custom-grouping-block/index.js
  packages/e2e-tests/plugins/deprecated-node-matcher/index.js
  packages/e2e-tests/plugins/format-api/index.js
  packages/e2e-tests/plugins/hooks-api/index.js
  packages/e2e-tests/plugins/inner-blocks-allowed-blocks/index.js
  packages/e2e-tests/plugins/inner-blocks-locking-all-embed/index.js
  packages/e2e-tests/plugins/inner-blocks-render-appender/index.js
  packages/e2e-tests/plugins/inner-blocks-templates/index.js
  packages/e2e-tests/plugins/meta-attribute-block/early.js
  packages/e2e-tests/plugins/meta-attribute-block/late.js
  packages/e2e-tests/plugins/plugins-api/annotations-sidebar.js
  packages/e2e-tests/plugins/plugins-api/document-setting.js
  packages/e2e-tests/plugins/plugins-api/post-status-info.js
  packages/e2e-tests/plugins/plugins-api/publish-panel.js
  packages/e2e-tests/plugins/plugins-api/sidebar.js
Labels: Automated Testing, [Type] Code Quality

#32726 Update Legacy Widget docs with new info on `show_instance_in_rest` feature
  docs/how-to-guides/widgets/legacy-widget-block.md
Labels: [Block] Legacy Widget, [Feature] Widgets Screen

#32731 Reduce code duplication for defined units
  packages/components/src/unit-control/utils.js
Labels: [Type] Enhancement

#32662 Limit latest-post authors dropdown to users with published posts
  lib/rest-api.php
  packages/block-library/src/latest-posts/edit.js
  phpunit/class-wp-test-rest-users-controller.php
Labels: REST API Interaction, [Type] Enhancement

#32736 Avoid generic function names for page list block internal functions
  packages/block-library/src/page-list/index.php
Labels: Backport to WP Beta/RC, [Block] Page List, [Type] Code Quality

#32471 [RNMobile] Android Only - Fix Gboard enter detection in EnterPressedWatcher
  packages/react-native-aztec/android/src/main/kotlin/org/wordpress/mobile/ReactNativeAztec/EnterPressedWatcher.kt
Labels: Mobile App - i.e. Android or iOS
