Repository WordPress/gutenberg, pull requests merged in 2021-08, with the labels that each got.

#33750 Scripts: Use cssnano to minimize CSS files with build
  package-lock.json
  package.json
  packages/scripts/CHANGELOG.md
  packages/scripts/config/webpack.config.js
  packages/scripts/package.json
  packages/scripts/utils/config.js
  packages/scripts/utils/index.js
Labels: [Package] Scripts, [Type] Enhancement

#33771 Add error boundaries to widget screens
  packages/customize-widgets/src/components/customize-widgets/index.js
  packages/customize-widgets/src/components/error-boundary/index.js
  packages/edit-widgets/src/components/error-boundary/index.js
  packages/edit-widgets/src/components/error-boundary/style.scss
  packages/edit-widgets/src/components/layout/index.js
  packages/edit-widgets/src/index.js
  packages/edit-widgets/src/style.scss
Labels: Backport to WP Minor Release, [Feature] Widgets Customizer, [Package] Edit Widgets, [Type] Enhancement

#33796 update: add space in add_theme_support docs code
  docs/how-to-guides/themes/theme-support.md
Labels: First-time Contributor, [Type] Documentation

#33800 Fix gutenberg_resolve_template() return documentation
  lib/full-site-editing/template-loader.php
Labels: [Feature] Full Site Editing, [Type] Documentation

#33760 Readme: Tested up to WP 5.8
  readme.txt
Labels: Gutenberg Plugin, [Type] Task

#33802 Fix insertion point in Widgets editors
  packages/customize-widgets/src/components/inserter/index.js
  packages/customize-widgets/src/components/inserter/use-inserter.js
  packages/customize-widgets/src/components/sidebar-block-editor/index.js
  packages/customize-widgets/src/controls/inserter-outer-section.js
  packages/customize-widgets/src/controls/sidebar-control.js
  packages/customize-widgets/src/store/actions.js
  packages/customize-widgets/src/store/reducer.js
  packages/customize-widgets/src/store/selectors.js
  packages/edit-widgets/src/hooks/use-widget-library-insertion-point.js
  packages/edit-widgets/src/store/selectors.js
Labels: [Feature] Widgets Customizer, [Feature] Widgets Screen, [Type] Bug

#33785 Readable JS assets Plugin: Fix webpack 5 support
  packages/readable-js-assets-webpack-plugin/index.js
Labels: [Package] Readable JS Assets Webpack Plugin, [Type] Bug, [Type] Build Tooling

#30542 Refactor MetaBoxesArea to to functional components using hooks.
  packages/edit-post/src/components/meta-boxes/meta-boxes-area/index.js
Labels: [Package] Edit Post, [Type] Code Quality

#31345 [RNMobile] Parent PR: Add Setting to Set/Remove a Featured Image Directly from Image Block (iOS Only)
  packages/block-library/src/image/edit.native.js
  packages/components/src/mobile/badge/style.scss
  packages/react-native-bridge/index.js
  packages/react-native-bridge/ios/Gutenberg.swift
  packages/react-native-bridge/ios/GutenbergBridgeDataSource.swift
  packages/react-native-bridge/ios/GutenbergBridgeDelegate.swift
  packages/react-native-bridge/ios/RNReactNativeGutenbergBridge.m
  packages/react-native-bridge/ios/RNReactNativeGutenbergBridge.swift
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/GutenbergDemo/GutenbergViewController.swift
Labels: Mobile App - i.e. Android or iOS, [Block] Image, [Type] Enhancement

#33739 Fix justification for button block when selected
  packages/block-editor/src/components/block-list-appender/style.scss
Labels: [Block] Buttons

#33784 components: Convert Select to TypeScript
  packages/components/src/base-control/index.js
  packages/components/src/select-control/index.tsx
  packages/components/src/select-control/styles/select-control-styles.ts
  packages/components/src/select-control/types.ts
Labels: [Package] Components, [Type] Code Quality

#33740 [RNMobile] Fix UBE's Inaccessible "More" Toolbar Item on Android
  packages/react-native-bridge/common/gutenberg-web-single-block/editor-style-overrides.css
  packages/react-native-editor/CHANGELOG.md
Labels: CSS Styling, Mobile App - i.e. Android or iOS, [Type] Bug

#33816 [Mobile] Renames Gallery v2 Flag to __unstableGalleryWithImageBlocks
  packages/editor/src/components/provider/index.native.js
  packages/react-native-bridge/ios/Gutenberg.swift
  packages/react-native-bridge/ios/GutenbergBridgeDataSource.swift
  packages/react-native-editor/src/index.js
Labels: [Type] Enhancement

#33829 Fix Metro local static image paths
  packages/react-native-editor/metro.config.js
  patches/react-native+0.64.0.patch
Labels: Mobile App - i.e. Android or iOS

#33790 [RNMobile] Editor Onboarding: "The Basics" help section - Details Part 1
  packages/editor/src/components/editor-help/add-blocks.native.js
  packages/editor/src/components/editor-help/customize-blocks.native.js
  packages/editor/src/components/editor-help/help-detail-navigation-screen.native.js
  packages/editor/src/components/editor-help/help-topic-row.native.js
  packages/editor/src/components/editor-help/images/add-blocks.png
  packages/editor/src/components/editor-help/images/customize-blocks.png
  packages/editor/src/components/editor-help/images/cut-copy-duplicate-blocks.png
  packages/editor/src/components/editor-help/images/edit-or-replace-media.png
  packages/editor/src/components/editor-help/images/intro-blocks-1.png
  packages/editor/src/components/editor-help/images/intro-blocks-2.png
  packages/editor/src/components/editor-help/images/intro-blocks-3.png
  packages/editor/src/components/editor-help/images/intro-blocks-4.png
  packages/editor/src/components/editor-help/images/move-blocks.png
  packages/editor/src/components/editor-help/images/remove-blocks.png
  packages/editor/src/components/editor-help/images/what-is-a-block.png
  packages/editor/src/components/editor-help/index.native.js
  packages/editor/src/components/editor-help/intro-to-blocks.native.js
  packages/editor/src/components/editor-help/move-blocks.native.js
  packages/editor/src/components/editor-help/remove-blocks.native.js
  packages/editor/src/components/editor-help/style.scss
  packages/editor/src/components/editor-help/view-sections.native.js
  packages/react-native-editor/metro.config.js
Labels: Mobile App - i.e. Android or iOS

#33738 Example for rest_endpoints filter in PHP
  packages/server-side-render/README.md
Labels: First-time Contributor, [Type] Documentation

#33840 Editor: Safer isPreviewingPost check
  packages/editor/src/store/selectors.js
Labels: [Package] Editor, [Type] Bug

#33782 [RNMobile] Fix crash caused by column block with padding having paragraph as a child
  packages/components/src/mobile/global-styles-context/index.native.js
Labels: Mobile App - i.e. Android or iOS, [Type] Bug

#33777 Enable ability to remove a link from the Nav Link block in the Nav Block
  packages/block-library/src/navigation-link/edit.js
Labels: [Block] Navigation

#33746 ESLint Plugin: Include .jsx extenstion when linting import statements
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/configs/react.js
Labels: [Package] ESLint plugin, [Type] Bug

#33842 Polish the focus style for the segmented control.
  packages/components/src/base-field/test/__snapshots__/index.js.snap
  packages/components/src/segmented-control/test/__snapshots__/index.js.snap
  packages/components/src/utils/config-values.js
Labels: [Package] Components

#33831 Components: Fix RTL on custom gradient picker
  packages/components/src/custom-gradient-picker/style.scss
Labels: Internationalization (i18n), [Package] Components, [Type] Bug

#33737 Site Editor: Implement a settings object filter
  lib/full-site-editing/edit-site-page.php
Labels: [Feature] Full Site Editing, [Feature] Site Editor

#33844 Global Styles: Fix Global Styles transient key clash
  lib/global-styles.php
Labels: Global Styles

#33657 RNMobile: Try unifying the unit test command on mobile
  .github/workflows/unit-test.yml
  docs/contributors/code/testing-overview.md
  package.json
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS

#33845 [RNMobile] Fix BottomSheet.SubSheet/TextInput Conflict
  packages/components/src/mobile/bottom-sheet/sub-sheet/index.native.js
Labels: Mobile App - i.e. Android or iOS, [Block] Image, [Type] Bug

#33734 Block patterns: Add translation context on titles
  lib/block-patterns.php
Labels: Internationalization (i18n), [Feature] Patterns, [Type] Enhancement

#33119 [RNMobile] Add new block type badge to block inserter list
  packages/block-editor/src/components/inserter/block-types-tab.native.js
  packages/block-editor/src/components/inserter/hooks/use-block-type-impressions.native.js
  packages/block-editor/src/components/inserter/index.native.js
  packages/block-editor/src/components/inserter/search-results.native.js
  packages/block-editor/src/components/inserter/test/block-types-tab.native.js
  packages/block-library/src/index.native.js
  packages/components/src/mobile/inserter-button/index.native.js
  packages/components/src/mobile/inserter-button/style.native.scss
  packages/editor/src/components/provider/index.native.js
  packages/icons/src/index.js
  packages/icons/src/library/sparkles.js
  packages/react-native-bridge/android/react-native-bridge/src/main/java/org/wordpress/mobile/ReactNativeGutenbergBridge/GutenbergBridgeJS2Parent.java
  packages/react-native-bridge/android/react-native-bridge/src/main/java/org/wordpress/mobile/ReactNativeGutenbergBridge/RNReactNativeGutenbergBridgeModule.java
  packages/react-native-bridge/android/react-native-bridge/src/main/java/org/wordpress/mobile/WPAndroidGlue/GutenbergProps.kt
  packages/react-native-bridge/android/react-native-bridge/src/main/java/org/wordpress/mobile/WPAndroidGlue/WPAndroidGlueCode.java
  packages/react-native-bridge/index.js
  packages/react-native-bridge/ios/GutenbergBridgeDelegate.swift
  packages/react-native-bridge/ios/RNReactNativeGutenbergBridge.m
  packages/react-native-bridge/ios/RNReactNativeGutenbergBridge.swift
  packages/react-native-editor/android/app/src/main/java/com/gutenberg/MainActivity.java
  packages/react-native-editor/android/app/src/main/java/com/gutenberg/MainApplication.java
  packages/react-native-editor/ios/GutenbergDemo/GutenbergViewController.swift
  test/native/setup.js
Labels: Mobile App - i.e. Android or iOS, [Feature] Inserter, [Type] Feature

#33863 Image Block: Fix issue with canInsertCover not being set to false for empty arrays
  packages/block-library/src/image/image.js
Labels: [Block] Image, [Type] Bug

#33843 Navigation Editor: Avoid React warning when creating a new menu
  packages/edit-navigation/src/components/add-menu/index.js
Labels: [Feature] Navigation Screen, [Package] Edit Navigation, [Type] Bug

#33860 Correct spelling and grammar in documentation
  docs/how-to-guides/themes/block-theme-overview.md
Labels: [Type] Documentation

#33847 [RNMobile] Disables supportsLayout by default on mobile
  packages/block-editor/src/store/defaults.native.js
Labels: [Type] Bug

#33627 Fix some JAWS bugs
  packages/block-editor/src/components/block-list/use-block-props/index.js
  packages/block-editor/src/components/block-tools/block-selection-button.js
  packages/e2e-tests/specs/widgets/customizing-widgets.test.js
  packages/e2e-tests/specs/widgets/editing-widgets.test.js
Labels: Accessibility (a11y), First-time Contributor, Needs Accessibility Feedback, [Status] In Progress, [Type] Bug

#33780 fix: broken link in documentation to block support mechanism
  docs/how-to-guides/themes/theme-json.md
Labels: [Type] Bug, [Type] Documentation

#33848 Add search performance measure and make other measures more stable
  bin/plugin/commands/performance.js
  packages/e2e-test-utils/src/get-all-block-inserter-item-titles.js
  packages/e2e-tests/config/performance-reporter.js
  packages/e2e-tests/specs/performance/post-editor.test.js
  packages/e2e-tests/specs/performance/site-editor.test.js
Labels: [Type] Performance

#33833 RNMobile: Add integration test guide
  docs/assets/xcode-accessibility-inspector-screenshot.png
  docs/contributors/code/README.md
  docs/contributors/code/native-mobile-integration-test-guide.md
  docs/contributors/code/testing-overview.md
Labels: Mobile App - i.e. Android or iOS

#33882 Components utils: `rtl()` return type, `rtl.watch()` utility
  packages/components/src/utils/rtl.js
Labels: [Feature] Component System, [Package] Components, [Type] Code Quality

#33870 Mobile Release v1.58.2
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS

#33817 Fix Safari 13 metaboxes from overlapping the content.
  packages/edit-post/src/components/visual-editor/index.js
  packages/edit-post/src/components/visual-editor/style.scss
Labels: Browser Issues, [Feature] Meta Boxes, [Type] Bug

#33890 Try to fix flaky customizer inspector test
  packages/e2e-tests/specs/widgets/customizing-widgets.test.js
Labels: [Feature] Widgets Customizer

#33868 Lazy render the inserter search results
  packages/block-editor/src/components/inserter/search-results.js
  packages/compose/README.md
  packages/compose/src/hooks/use-async-list/index.ts
Labels: [Feature] Inserter, [Type] Performance

#33894 Fix available alignments and layout for the post editor
  packages/edit-post/src/components/visual-editor/index.js
Labels: [Type] Bug

#33513 Correct `function_exists()` check typo introduced in #33331.
  lib/compat/wordpress-5.8/index.php
Labels: [Type] Bug

#33895 Fix block appender position in classic themes
  packages/block-editor/src/components/block-list-appender/index.js
Labels: [Type] Bug

#33717 Components: update snackbar to use framer motion instead of react spring
  .eslintrc.js
  package-lock.json
  packages/components/package.json
  packages/components/src/animation/index.js
  packages/components/src/index.js
  packages/components/src/snackbar/list.js
  packages/edit-post/package.json
  packages/edit-post/src/components/visual-editor/index.js
Labels: [Type] Enhancement, [Package] Components, [Package] Edit Post

#33901 Plugin: Fix `jsdoc/check-line-alignment` ESLint warnings
  packages/block-editor/src/hooks/use-spacing-props.js
  packages/block-library/src/navigation-link/edit.js
  packages/components/src/flyout/flyout-content/component.js
  packages/components/src/unit-control/utils.js
  packages/dom/src/dom/is-entirely-selected.js
  packages/react-native-bridge/index.js
Labels: Gutenberg Plugin, [Type] Code Quality

#33893 Fix positioning discrepancy with draggable chip.
  packages/block-editor/src/components/block-tools/style.scss
Labels: General Interface

#33902 `useBreakpointIndex`: attach `resize` event listener to `window` instead of `document`
  packages/components/CHANGELOG.md
  packages/components/src/ui/utils/use-responsive-value.ts
Labels: [Type] Bug, [Package] Components, [Feature] Component System

#33925 Remove the experimental prefix and rename `theme.json` files
  .github/CODEOWNERS
  lib/class-wp-theme-json-resolver-gutenberg.php
  lib/theme-i18n.json
  lib/theme.json
Labels: [Type] Code Quality, Global Styles

#33824 components: Use updated range styles
  packages/components/CHANGELOG.md
  packages/components/src/range-control/index.js
  packages/components/src/range-control/styles/range-control-styles.js
Labels: [Type] Enhancement, [Package] Components, [a11y] Keyboard & Focus

#33930 Add documentation to disable remote calls for block patterns
  docs/reference-guides/filters/editor-filters.md
Labels: [Type] Documentation, [Feature] Pattern Directory

#33913 Mobile Release v1.59.0
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/GutenbergDemo.xcodeproj/project.pbxproj
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS

#33906 Closing the block inserter decrements block type impressions
  packages/block-editor/src/components/inserter/index.native.js
  packages/block-library/src/index.native.js
  test/native/setup.js
Labels: [Feature] Inserter, Mobile App - i.e. Android or iOS

#32659 Try: Reduce specificity of reset & classic styles.
  packages/block-library/src/reset.scss
  packages/edit-post/src/classic.scss
Labels: CSS Styling

#33945 Scripts: Fix typo in format change message.
  packages/scripts/scripts/format-js.js
Labels: [Type] Code Quality, [Package] Scripts

#33943 Featured Image: Use getMedia shorthand
  packages/block-library/src/post-featured-image/edit.js
  packages/editor/src/components/post-featured-image/index.js
Labels: General Interface, [Type] Code Quality, [Block] Post Featured Image

#33880 Docs: add more details about block attributes
  docs/reference-guides/block-api/block-attributes.md
Labels: [Feature] Block API, [Type] Documentation, [Status] In Progress

#33904 No longer read from `experimental-theme.json`
  lib/class-wp-theme-json-resolver-gutenberg.php
  phpunit/data/themedir1/fse/theme.json
Labels: [Type] Code Quality, Global Styles

#33896 Fix the site editor breaking in firefox
  packages/block-editor/src/components/writing-flow/use-multi-selection.js
Labels: [Type] Bug, [Feature] Site Editor

#33629 [Block Library - Query Pagination Numbers]: Fix first page's link
  packages/block-library/src/query-pagination-numbers/index.php
Labels: [Type] Bug, [Block] Query Pagination

#33057 [RNMobile] Prevent "Undo Level" after Setting Featured Image via Image Block
  packages/block-library/src/image/edit.native.js
  packages/block-library/src/image/styles.native.scss
  packages/components/src/panel/body.native.js
  packages/edit-post/src/editor.native.js
Labels: [Type] Bug, Mobile App - i.e. Android or iOS, [Package] Block library, [Block] Image, [Feature] History

#33921 Site Editor: Add error boundary
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/error-boundary/index.js
  packages/edit-site/src/index.js
Labels: [Type] Enhancement, [Feature] Site Editor

#33814 Widgets: Allow HTML tags in description
  package-lock.json
  packages/edit-widgets/package.json
  packages/edit-widgets/src/components/sidebar/widget-areas.js
Labels: [Type] Bug, [Feature] Widgets Screen

#33951 Site editor: fix presets for blocks with multiple selectors
  packages/edit-site/src/components/editor/global-styles-renderer.js
  packages/edit-site/src/components/editor/test/global-styles-renderer.js
Labels: [Type] Bug, Global Styles, [Feature] Site Editor

#33788 [RNMobile] Fix Xcode Demo app build
  packages/react-native-editor/ios/GutenbergDemo.xcodeproj/project.pbxproj
Labels: [Type] Build Tooling, Mobile App - i.e. Android or iOS

#33392 Template: Only show post template actions to users with correct capabilities
  packages/edit-post/src/components/sidebar/template/index.js
Labels: [Type] Bug, [Feature] Template Editing Mode

#33963 Fix navigation block placeholder preview markup
  packages/block-library/src/navigation/editor.scss
  packages/block-library/src/navigation/placeholder-preview.js
Labels: [Type] Bug, [Block] Navigation, CSS Styling

#33964 Fix navigation block appender invalid html
  packages/block-library/src/navigation/edit.js
Labels: [Type] Bug, [Block] Navigation

#33818 Scripts: Update webpack to v5 (try 2)
  package-lock.json
  package.json
  packages/dependency-extraction-webpack-plugin/test/__snapshots__/build.js.snap
  packages/library-export-default-webpack-plugin/CHANGELOG.md
  packages/library-export-default-webpack-plugin/README.md
  packages/library-export-default-webpack-plugin/test/fixtures/boo/index.js
  packages/library-export-default-webpack-plugin/test/fixtures/foo/index.js
  packages/library-export-default-webpack-plugin/test/fixtures/webpack.config.js
  packages/library-export-default-webpack-plugin/test/index.js
  packages/readable-js-assets-webpack-plugin/test/__snapshots__/build.js.snap
  packages/readable-js-assets-webpack-plugin/test/build.js
  packages/readable-js-assets-webpack-plugin/test/fixtures/index.js
  packages/readable-js-assets-webpack-plugin/test/fixtures/view.js
  packages/readable-js-assets-webpack-plugin/test/fixtures/webpack.config.js
  packages/scripts/CHANGELOG.md
  packages/scripts/README.md
  packages/scripts/config/fix-style-webpack-plugin/index.js
  packages/scripts/config/webpack.config.js
  packages/scripts/package.json
  storybook/main.js
  storybook/webpack.config.js
  tools/webpack/packages.js
  tools/webpack/shared.js
Labels: [Type] Build Tooling, [Package] Scripts, Storybook

#33965 Try to fix flaky customizer inspector test 2nd try
  packages/e2e-tests/specs/widgets/customizing-widgets.test.js
Labels: [Feature] Widgets Customizer

#33961 Search Block: Removed components class from icon button and polished css
  packages/block-library/src/search/edit.js
  packages/block-library/src/search/editor.scss
  packages/block-library/src/search/style.scss
Labels: [Block] Search

#33903 Improve the performance of the parser by removing the automatic custom classnames handling.
  packages/block-editor/src/hooks/custom-class-name.js
  packages/block-editor/src/hooks/custom-class-name.native.js
  packages/block-editor/src/hooks/test/custom-class-name.js
  packages/blocks/README.md
  packages/blocks/src/api/index.js
  packages/blocks/src/api/parser.js
  packages/blocks/src/api/parser/apply-block-deprecated-versions.js
  packages/blocks/src/api/parser/apply-built-in-validation-fixes.js
  packages/blocks/src/api/parser/convert-legacy-block.js
  packages/blocks/src/api/parser/fix-custom-classname.js
  packages/blocks/src/api/parser/get-block-attributes.js
  packages/blocks/src/api/parser/index.js
  packages/blocks/src/api/parser/serialize-raw-block.js
  packages/blocks/src/api/parser/test/apply-block-deprecated-versions.js
  packages/blocks/src/api/parser/test/fix-custom-classname.js
  packages/blocks/src/api/parser/test/get-block-attributes.js
  packages/blocks/src/api/parser/test/index.js
  packages/blocks/src/api/parser/test/serialize-raw-block.js
  packages/blocks/src/api/raw-handling/html-to-blocks.js
  packages/blocks/src/api/raw-handling/index.js
  packages/blocks/src/api/raw-handling/paste-handler.js
  packages/blocks/src/api/raw-handling/shortcode-converter.js
  packages/blocks/src/api/registration.js
  packages/blocks/src/api/templates.js
  packages/blocks/src/api/test/parser.js
  packages/blocks/src/api/test/validation.js
  packages/blocks/src/api/validation/index.js
  packages/e2e-tests/specs/editor/various/__snapshots__/adding-patterns.test.js.snap
  packages/e2e-tests/specs/editor/various/invalid-block.test.js
  test/integration/fixtures/blocks/core__pullquote__deprecated-4.json
  test/integration/fixtures/blocks/core__pullquote__deprecated-4.serialized.html
Labels: [Feature] Parsing, [Type] Performance

#33021 Fix navigation margin collapsing.
  packages/block-library/src/columns/editor.scss
Labels: [Block] Columns, [Block] Navigation

#33714 components: Add new ColorPicker
  package-lock.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/components/src/button/deprecated.js
  packages/components/src/button/index.js
  packages/components/src/input-control/input-field.tsx
  packages/components/src/input-control/reducer/reducer.ts
  packages/components/src/input-control/types.ts
  packages/components/src/number-control/index.js
  packages/components/src/number-control/styles/number-control-styles.js
  packages/components/src/popover/index.js
  packages/components/src/popover/utils.js
  packages/components/src/range-control/index.js
  packages/components/src/range-control/input-range.js
  packages/components/src/range-control/mark.js
  packages/components/src/range-control/rail.js
  packages/components/src/range-control/styles/range-control-styles.js
  packages/components/src/range-control/tooltip.js
  packages/components/src/range-control/utils.js
  packages/components/src/select-control/index.tsx
  packages/components/src/select-control/styles/select-control-styles.ts
  packages/components/src/slot-fill/bubbles-virtually/fill.js
  packages/components/src/slot-fill/bubbles-virtually/slot-fill-context.js
  packages/components/src/slot-fill/bubbles-virtually/slot-fill-provider.js
  packages/components/src/slot-fill/bubbles-virtually/slot.js
  packages/components/src/slot-fill/bubbles-virtually/use-slot.js
  packages/components/src/slot-fill/context.js
  packages/components/src/slot-fill/fill.js
  packages/components/src/slot-fill/index.js
  packages/components/src/slot-fill/provider.js
  packages/components/src/slot-fill/slot.js
  packages/components/src/slot-fill/use-slot.js
  packages/components/src/tooltip/index.js
  packages/components/src/ui/color-picker/README.md
  packages/components/src/ui/color-picker/color-display.tsx
  packages/components/src/ui/color-picker/color-input.tsx
  packages/components/src/ui/color-picker/component.tsx
  packages/components/src/ui/color-picker/hex-input.tsx
  packages/components/src/ui/color-picker/hsl-input.tsx
  packages/components/src/ui/color-picker/index.ts
  packages/components/src/ui/color-picker/input-with-slider.tsx
  packages/components/src/ui/color-picker/picker.tsx
  packages/components/src/ui/color-picker/rgb-input.tsx
  packages/components/src/ui/color-picker/stories/index.js
  packages/components/src/ui/color-picker/styles.ts
  packages/components/src/ui/color-picker/types.ts
  packages/components/src/utils/hooks/test/use-controlled-value.js
  packages/components/src/utils/hooks/use-controlled-value.ts
  packages/components/tsconfig.json
  packages/compose/README.md
  packages/compose/src/hooks/use-copy-to-clipboard/index.js
Labels: [Type] Enhancement, [Feature] UI Components, [Package] Components, Storybook, [Feature] Component System

#33974 Improve the rendering/update performance of the image block
  packages/block-library/src/image/image.js
Labels: [Type] Performance, [Block] Image

#32392 Dimensions Panel: Add new ToolsPanel component and update spacing supports
  docs/manifest.json
  lib/block-supports/dimensions.php
  lib/load.php
  packages/block-editor/src/hooks/dimensions.js
  packages/block-editor/src/hooks/index.js
  packages/block-editor/src/hooks/margin.js
  packages/block-editor/src/hooks/padding.js
  packages/block-editor/src/hooks/spacing.js
  packages/block-editor/src/hooks/style.js
  packages/components/src/index.js
  packages/components/src/tools-panel/context.js
  packages/components/src/tools-panel/index.js
  packages/components/src/tools-panel/stories/index.js
  packages/components/src/tools-panel/styles.js
  packages/components/src/tools-panel/test/index.js
  packages/components/src/tools-panel/tools-panel-header/README.md
  packages/components/src/tools-panel/tools-panel-header/component.js
  packages/components/src/tools-panel/tools-panel-header/hook.js
  packages/components/src/tools-panel/tools-panel-header/index.js
  packages/components/src/tools-panel/tools-panel-item/README.md
  packages/components/src/tools-panel/tools-panel-item/component.js
  packages/components/src/tools-panel/tools-panel-item/hook.js
  packages/components/src/tools-panel/tools-panel-item/index.js
  packages/components/src/tools-panel/tools-panel/README.md
  packages/components/src/tools-panel/tools-panel/component.js
  packages/components/src/tools-panel/tools-panel/hook.js
  packages/components/src/tools-panel/tools-panel/index.js
  packages/edit-site/src/components/sidebar/dimensions-panel.js
  packages/edit-site/src/components/sidebar/global-styles-sidebar.js
Labels: [Type] Enhancement, [Feature] Block API, Global Styles, [Feature] Design Tools

#33992 Site Logo: Use getMedia shorthand
  packages/block-library/src/site-logo/edit.js
Labels: [Type] Code Quality, [Block] Site Logo

#33982 Components: use the `__unsafe_useEmotionCache` in the `useCx` hook
  package-lock.json
  packages/components/package.json
  packages/components/src/utils/hooks/emotion.d.ts
  packages/components/src/utils/hooks/use-cx.ts
Labels: [Type] Code Quality, [Package] Components, [Feature] Component System

#33426 [RNMobile] Embed block: Implement specific Embed preview
  package-lock.json
  packages/block-library/src/embed/edit.native.js
  packages/block-library/src/embed/embed-preview.native.js
  packages/components/src/index.native.js
  packages/components/src/sandbox/index.native.js
  packages/components/src/sandbox/style.native.scss
  packages/react-native-bridge/android/react-native-bridge/build.gradle
  packages/react-native-bridge/android/react-native-bridge/src/main/java/org/wordpress/mobile/WPAndroidGlue/WPAndroidGlueCode.java
  packages/react-native-bridge/android/settings.gradle
  packages/react-native-editor/android/app/src/main/java/com/gutenberg/MainApplication.java
  packages/react-native-editor/ios/GutenbergDemo.xcodeproj/project.pbxproj
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS, [Block] Embed

#34002 Try new icons for reusable blocks and template parts.
  packages/block-editor/src/store/selectors.js
  packages/block-library/src/block/index.js
  packages/block-library/src/template-part/index.js
  packages/icons/src/index.js
  packages/icons/src/library/symbol-filled.js
  packages/icons/src/library/symbol.js
Labels: [Feature] Reusable Blocks, [Package] Icons, [Block] Template-Part

#33924 Do not add to the block-library CSS bundle the colors that come from `theme.json`
  packages/base-styles/CHANGELOG.md
  packages/base-styles/_mixins.scss
  packages/block-library/CHANGELOG.md
  packages/block-library/src/common.scss
  packages/block-library/src/editor.scss
Labels: [Type] Performance, [Package] Block library, [Package] Base styles

#33076 Template Mode: Add busy state to template creation modal
  packages/edit-post/src/components/sidebar/template/actions.js
  packages/edit-post/src/store/actions.js
Labels: [Type] Enhancement, [Feature] Template Editing Mode

#34000 [Mobile] - Global styles - Add color to the block styles filter list
  packages/components/src/mobile/global-styles-context/utils.native.js
Labels: Mobile App - i.e. Android or iOS

#33861 Gallery block: Add a filter to automatically convert transforms to and from 3rd party blocks
  packages/block-library/src/gallery/transforms.js
Labels: [Block] Gallery

#33944 Latest Comments in-editor preview of comment excerpts match front-end
  packages/block-library/src/latest-comments/edit.js
Labels: [Type] Bug, [Block] Latest Comments

#34025 Search Block: Fix bug with missing color when border color added
  packages/block-library/src/search/index.php
Labels: [Type] Bug, [Feature] Design Tools

#34030 Dimensions Support: Switch dimensions block support back to using spacing key
  lib/block-supports/dimensions.php
Labels: [Type] Bug, [Feature] Block API

#34024 Webpack: Fix watch on `.json` and `.php` files
  tools/webpack/shared.js
Labels: [Type] Bug, [Type] Build Tooling

#33414 [Experiment] Use REST API in e2e tests to build up states
  bin/plugin/commands/performance.js
  bin/plugin/lib/utils.js
  package-lock.json
  packages/e2e-test-utils/package.json
  packages/e2e-test-utils/src/index.js
  packages/e2e-test-utils/src/plugins.js
  packages/e2e-test-utils/src/rest-api.js
  packages/e2e-test-utils/src/widgets.js
  packages/e2e-tests/jest.performance.config.js
  packages/e2e-tests/plugins/classic-widgets.php
  packages/e2e-tests/specs/widgets/customizing-widgets.test.js
  packages/e2e-tests/specs/widgets/editing-widgets.test.js
Labels: [Type] Technical Prototype, Automated Testing

#33941 Make font size dropdown more accessible.
  packages/components/src/custom-select-control/README.md
  packages/components/src/custom-select-control/index.js
  packages/components/src/font-size-picker/index.js
Labels: Accessibility (a11y), Needs Accessibility Feedback

#33919 Global Styles: Add slashes back to the Theme JSON
  lib/global-styles.php
  phpunit/global-styles-test.php
Labels: Global Styles

#33607 Fix unwanted additional spaces added around pasted text on Windows
  packages/block-editor/src/components/rich-text/use-paste-handler.js
Labels: [Type] Bug, [Feature] Rich Text, [Feature] Raw Handling, [Type] Regression

#34034 Core Data: getEntityRecords return items even if some included IDs don't exist
  packages/core-data/src/queried-data/selectors.js
Labels: [Type] Bug, [Status] In Progress, [Package] Core data

#34031 Mobile Release v1.58.3
  packages/react-native-editor/CHANGELOG.md
Labels: Mobile App - i.e. Android or iOS

#34014 components: Add deprecated props adapter for ColorPicker
  packages/components/src/ui/color-picker/component.tsx
  packages/components/src/ui/color-picker/index.ts
  packages/components/src/ui/color-picker/legacy-adapter.tsx
  packages/components/src/ui/color-picker/stories/index.js
  packages/components/src/ui/color-picker/test/index.js
  packages/components/src/ui/color-picker/use-deprecated-props.ts
Labels: [Type] Enhancement, [Package] Components, Storybook, [Feature] Component System

#33859 Button: update spacing support to use axial padding
  docs/reference-guides/block-api/block-supports.md
  packages/block-editor/src/hooks/dimensions.js
  packages/block-editor/src/hooks/margin.js
  packages/block-editor/src/hooks/padding.js
  packages/block-library/src/button/block.json
  packages/edit-site/src/components/sidebar/dimensions-panel.js
Labels: [Block] Buttons

#34037 Automated changelog: remove `Uncategorized` header in output and place items at top
  bin/plugin/commands/changelog.js
Labels: [Type] Build Tooling

#33918 Add generic classnames to children of Navigation
  packages/block-library/src/home-link/edit.js
  packages/block-library/src/home-link/index.php
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation-link/index.php
  packages/block-library/src/page-list/block.json
  packages/block-library/src/page-list/edit.js
  packages/block-library/src/page-list/index.php
  packages/e2e-tests/specs/experiments/__snapshots__/navigation-editor.test.js.snap
  packages/e2e-tests/specs/experiments/blocks/__snapshots__/navigation.test.js.snap
Labels: [Block] Navigation, [Block] Page List, [Block] Navigation Link

#34039 Mobile Release v1.59.1
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS

#34059 Spacing/Dimensions Supports: Separate spacing from dimensions for compatibility purposes
  lib/block-supports/dimensions.php
  lib/block-supports/spacing.php
  lib/load.php
Labels: [Type] Bug, [Feature] Block API

#34007 GitHub Form Templates: Simplify the bug report form template
  .github/ISSUE_TEMPLATE/Bug_report.yml
Labels: [Type] Project Management

#34055 Eslint plugin: Use @typescript-eslint/no-duplicate-imports in TS projects
  packages/components/src/divider/component.tsx
  packages/components/src/heading/hook.ts
  packages/components/src/spacer/hook.ts
  packages/components/src/ui/shortcut/component.tsx
  packages/components/src/ui/utils/create-component.tsx
  packages/components/src/z-stack/component.tsx
  packages/compose/src/higher-order/if-condition/index.tsx
  packages/compose/src/higher-order/pure/index.tsx
  packages/compose/src/higher-order/with-instance-id/index.tsx
  packages/compose/src/higher-order/with-safe-timeout/index.tsx
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/configs/recommended.js
  packages/react-i18n/src/index.tsx
Labels: [Type] Bug, [Package] ESLint plugin

#34042 Auto changelog - force group all docs tasks under `Documentation`
  bin/plugin/commands/changelog.js
Labels: [Type] Build Tooling

#34066 Remove extra props from Cover deprecations
  packages/block-library/src/cover/deprecated.js
  test/integration/fixtures/blocks/core__cover__deprecated-4.json
  test/integration/fixtures/blocks/core__cover__deprecated-5.json
  test/integration/fixtures/blocks/core__cover__deprecated-6.json
Labels: Automated Testing, [Block] Cover

#34049 Test: Add snapshot test for changelog formatting
  bin/plugin/commands/changelog.js
  bin/plugin/commands/test/__snapshots__/changelog.js.snap
  bin/plugin/commands/test/changelog.js
  bin/plugin/commands/test/fixtures/pull-requests.json
Labels: Automated Testing

#33226 Cover Block: Allow alt text
  packages/block-library/src/cover/block.json
  packages/block-library/src/cover/edit.js
  packages/block-library/src/cover/save.js
  packages/block-library/src/cover/shared.js
  packages/block-library/src/cover/transforms.js
  test/integration/fixtures/blocks/core__cover.json
  test/integration/fixtures/blocks/core__cover__deprecated-1.serialized.html
  test/integration/fixtures/blocks/core__cover__deprecated-2.serialized.html
  test/integration/fixtures/blocks/core__cover__deprecated-3.serialized.html
  test/integration/fixtures/blocks/core__cover__deprecated-4.serialized.html
  test/integration/fixtures/blocks/core__cover__deprecated-5.serialized.html
  test/integration/fixtures/blocks/core__cover__deprecated-6.json
  test/integration/fixtures/blocks/core__cover__deprecated-6.serialized.html
  test/integration/fixtures/blocks/core__cover__gradient-image.json
  test/integration/fixtures/blocks/core__cover__gradient-video.json
  test/integration/fixtures/blocks/core__cover__gradient.json
  test/integration/fixtures/blocks/core__cover__solid-color.json
  test/integration/fixtures/blocks/core__cover__video-overlay.json
  test/integration/fixtures/blocks/core__cover__video.json
Labels: [Type] Enhancement, Accessibility (a11y), [Block] Cover

#34070 Post date Block: Add font weight support to the block
  packages/block-library/src/post-date/block.json
Labels: [Block] Post Date

#33654 [RNMobile][Embed block] Block settings
  packages/block-editor/src/components/inserter/block-types-tab.native.js
  packages/block-editor/src/components/inserter/test/block-types-tab.native.js
  packages/block-library/src/embed/edit.js
  packages/block-library/src/embed/edit.native.js
  packages/block-library/src/embed/embed-controls.js
  packages/block-library/src/embed/embed-controls.native.js
  packages/block-library/src/embed/embed-no-preview.native.js
  packages/block-library/src/embed/embed-placeholder.native.js
  packages/block-library/src/embed/styles.native.scss
  packages/block-library/src/embed/variations.native.js
  packages/components/src/toggle-control/index.native.js
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/src/api-fetch-setup.js
Labels: Mobile App - i.e. Android or iOS, [Block] Embed

#34085 ToolsPanel: Add tools panel item deregistration
  packages/components/src/tools-panel/tools-panel-item/hook.js
  packages/components/src/tools-panel/tools-panel/hook.js
Labels: [Type] Bug, [Feature] UI Components, [Feature] Design Tools

#34071 Automated Changelog: Sort feature groups by issue name
  bin/plugin/commands/changelog.js
  bin/plugin/commands/test/__snapshots__/changelog.js.snap
Labels: [Type] Build Tooling

#33729 Components: Fix RTL on `Flex` component
  packages/components/CHANGELOG.md
  packages/components/src/base-field/test/__snapshots__/index.js.snap
  packages/components/src/card/test/__snapshots__/index.js.snap
  packages/components/src/flex/flex/README.md
  packages/components/src/flex/flex/hook.js
  packages/components/src/flex/test/__snapshots__/index.js.snap
  packages/components/src/flex/types.ts
  packages/components/src/h-stack/test/__snapshots__/index.js.snap
  packages/components/src/ui/control-group/test/__snapshots__/index.js.snap
  packages/components/src/v-stack/test/__snapshots__/index.js.snap
Labels: [Type] Bug, [Package] Components

#34029 Unit Control: add some tests for getValidParsedUnit util method
  packages/components/src/unit-control/test/utils.js
Labels: [Type] Code Quality, [Package] Components

#34083 Fix - Remove interactive formatting from post excerpt block
  packages/block-library/src/post-excerpt/edit.js
Labels: [Block] Post Excerpt

#34012 Remove extra dom element used for template part overlay
  packages/block-editor/src/components/block-content-overlay/index.js
  packages/block-editor/src/components/block-content-overlay/style.scss
  packages/block-editor/src/components/block-list/use-in-between-inserter.js
Labels: [Block] Template-Part, [Feature] Site Editor

#34086 Remove the ENVIRONMENT_DIRECTORY env variable that was added to the performance jobs
  bin/plugin/commands/performance.js
  packages/e2e-tests/jest.performance.config.js
Labels: Automated Testing

#34017 [Components - Segmented Control]: Use BaseControl as a wrapper and add `help` property
  packages/block-library/src/post-featured-image/dimension-controls.js
  packages/block-library/src/post-featured-image/editor.scss
  packages/components/src/base-control/index.js
  packages/components/src/segmented-control/README.md
  packages/components/src/segmented-control/component.tsx
  packages/components/src/segmented-control/stories/index.js
  packages/components/src/segmented-control/test/__snapshots__/index.js.snap
  packages/components/src/segmented-control/test/index.js
  packages/components/src/segmented-control/types.ts
Labels: [Type] Enhancement, [Package] Components

#34084 Docs: update incorrect Settings examples in "Global Settings & Styles"
  docs/how-to-guides/themes/theme-json.md
Labels: [Type] Documentation, First-time Contributor

#33932 Site editor: fix for how CSS Custom Properties are generated
  packages/edit-site/src/components/editor/global-styles-renderer.js
Labels: [Type] Bug, Global Styles, [Feature] Site Editor

#34077 Navigation block: Add missing closing tag
  packages/block-library/src/navigation/index.php
Labels: [Type] Bug, [Block] Navigation

#34026 Dimensions Panel: add padding tool as default for blocks where this is common setting
  packages/block-library/src/column/block.json
  packages/block-library/src/cover/block.json
  packages/block-library/src/group/block.json
Labels: [Feature] Design Tools

#34078 Inserter: Prevent non-deterministic order of inserter items
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/selectors.js
Labels: [Type] Bug, [Feature] Inserter, [Package] Block editor

#34093 Automated Changelog: Rename "Editor" grouping to "Post Editor" to avoid ambiguity with other editors
  bin/plugin/commands/changelog.js
  bin/plugin/commands/test/__snapshots__/changelog.js.snap
Labels: [Type] Build Tooling, [Type] Project Management

#34046 Data: Add a batch function to the data module to batch actions
  packages/data/CHANGELOG.md
  packages/data/README.md
  packages/data/src/components/registry-provider/use-registry.js
  packages/data/src/registry.js
  packages/data/src/test/registry.js
  packages/data/src/types.d.ts
  packages/data/src/utils/emitter.js
  packages/data/tsconfig.json
  packages/rich-text/src/component/index.js
Labels: [Type] Performance, [Package] Data, Needs Dev Note, [Type] New API

#33978 Docs: Use block.json to add attributes in create block tutorial
  docs/getting-started/tutorials/create-block/attributes.md
Labels: [Type] Enhancement, [Type] Documentation

#34116 [RNMobile] Fix missing block title of core/latest-posts block
  packages/block-library/src/latest-posts/edit.native.js
Labels: [Type] Bug, Mobile App - i.e. Android or iOS

#33872 Add documentation for mobile components directory
  packages/components/src/mobile/README.md
Labels: [Type] Documentation, Mobile App - i.e. Android or iOS

#33774 Refactor editor 'feature' preferences to interface package
  package-lock.json
  packages/data/CHANGELOG.md
  packages/data/src/plugins/persistence/index.js
  packages/data/src/plugins/persistence/test/index.js
  packages/e2e-tests/specs/widgets/editing-widgets.test.js
  packages/edit-widgets/src/components/layout/interface.js
  packages/edit-widgets/src/components/more-menu/index.js
  packages/edit-widgets/src/components/welcome-guide/index.js
  packages/edit-widgets/src/components/widget-areas-block-editor-content/index.js
  packages/edit-widgets/src/components/widget-areas-block-editor-provider/index.js
  packages/edit-widgets/src/index.js
  packages/edit-widgets/src/store/actions.js
  packages/edit-widgets/src/store/defaults.js
  packages/edit-widgets/src/store/reducer.js
  packages/edit-widgets/src/store/selectors.js
  packages/edit-widgets/src/store/test/selectors.js
  packages/interface/CHANGELOG.md
  packages/interface/README.md
  packages/interface/package.json
  packages/interface/src/components/index.js
  packages/interface/src/components/more-menu-dropdown/README.md
  packages/interface/src/components/more-menu-dropdown/index.js
  packages/interface/src/components/more-menu-dropdown/style.scss
  packages/interface/src/components/more-menu-feature-toggle/README.md
  packages/interface/src/components/more-menu-feature-toggle/index.js
  packages/interface/src/index.js
  packages/interface/src/store/actions.js
  packages/interface/src/store/index.js
  packages/interface/src/store/reducer.js
  packages/interface/src/store/selectors.js
  packages/interface/src/store/test/selectors.js
  packages/interface/src/style.scss
Labels: [Feature] Extensibility, [Package] Edit Widgets, [Type] New API, [Package] Interface

#34112 Scripts: Add missing fallback for target in webpack 5 config
  package-lock.json
  packages/scripts/CHANGELOG.md
  packages/scripts/config/.browserslistrc
  packages/scripts/config/webpack.config.js
  packages/scripts/package.json
Labels: [Type] Bug, [Package] Scripts

#34114 Tools: Remove obsolete step that pushes tags in npm publishing flow
  bin/plugin/commands/packages.js
Labels: npm Packages, [Type] Project Management

#34109 Mobile Release v1.59.2
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS

#34137 [Blocks]: Fix single block selection by holding `shift` key
  packages/block-editor/src/components/block-list/use-block-props/use-multi-selection.js
  packages/e2e-tests/specs/editor/various/multi-block-selection.test.js
Labels: [Type] Bug, [Feature] Blocks, [Feature] Block Multi Selection

#34117 [Mobile] - Autocomplete - Show icons for embed suggestions
  packages/components/src/autocomplete/autocompleter-ui.native.js
Labels: Mobile App - i.e. Android or iOS

#34139 Fix block inserter scroll view height
  packages/block-editor/src/components/inserter/menu.native.js
  packages/block-editor/src/components/inserter/style.native.scss
Labels: [Type] Bug, [Feature] Inserter, Mobile App - i.e. Android or iOS

#34113 Add duotone to Post Featured Image block
  packages/block-library/src/post-featured-image/block.json
Labels: [Block] Post Featured Image

#34018 Editor Onboarding: "The Basics" help section - Details Part 2
  packages/components/src/mobile/bottom-sheet/index.native.js
  packages/components/src/mobile/bottom-sheet/navigation-header.native.js
  packages/components/src/mobile/bottom-sheet/styles.native.scss
  packages/components/src/panel/body.native.js
  packages/editor/src/components/editor-help/add-blocks.native.js
  packages/editor/src/components/editor-help/customize-blocks.native.js
  packages/editor/src/components/editor-help/help-detail-navigation-screen.native.js
  packages/editor/src/components/editor-help/help-topic-row.native.js
  packages/editor/src/components/editor-help/images/add-blocks.png
  packages/editor/src/components/editor-help/images/add-blocks@2x.png
  packages/editor/src/components/editor-help/images/add-blocks@3x.png
  packages/editor/src/components/editor-help/images/customize-blocks.png
  packages/editor/src/components/editor-help/images/customize-blocks@2x.png
  packages/editor/src/components/editor-help/images/customize-blocks@3x.png
  packages/editor/src/components/editor-help/images/cut-copy-duplicate-blocks.png
  packages/editor/src/components/editor-help/images/cut-copy-duplicate-blocks@2x.png
  packages/editor/src/components/editor-help/images/cut-copy-duplicate-blocks@3x.png
  packages/editor/src/components/editor-help/images/edit-or-replace-media.png
  packages/editor/src/components/editor-help/images/edit-or-replace-media@2x.png
  packages/editor/src/components/editor-help/images/edit-or-replace-media@3x.png
  packages/editor/src/components/editor-help/images/intro-blocks-1.png
  packages/editor/src/components/editor-help/images/intro-blocks-1@2x.png
  packages/editor/src/components/editor-help/images/intro-blocks-1@3x.png
  packages/editor/src/components/editor-help/images/intro-blocks-2.png
  packages/editor/src/components/editor-help/images/intro-blocks-2@2x.png
  packages/editor/src/components/editor-help/images/intro-blocks-2@3x.png
  packages/editor/src/components/editor-help/images/intro-blocks-3.png
  packages/editor/src/components/editor-help/images/intro-blocks-3@2x.png
  packages/editor/src/components/editor-help/images/intro-blocks-3@3x.png
  packages/editor/src/components/editor-help/images/intro-blocks-4.png
  packages/editor/src/components/editor-help/images/intro-blocks-4@2x.png
  packages/editor/src/components/editor-help/images/intro-blocks-4@3x.png
  packages/editor/src/components/editor-help/images/move-blocks.png
  packages/editor/src/components/editor-help/images/move-blocks@2x.png
  packages/editor/src/components/editor-help/images/move-blocks@3x.png
  packages/editor/src/components/editor-help/images/remove-blocks.png
  packages/editor/src/components/editor-help/images/remove-blocks@2x.png
  packages/editor/src/components/editor-help/images/remove-blocks@3x.png
  packages/editor/src/components/editor-help/images/what-is-a-block.png
  packages/editor/src/components/editor-help/index.native.js
  packages/editor/src/components/editor-help/intro-to-blocks.native.js
  packages/editor/src/components/editor-help/move-blocks.native.js
  packages/editor/src/components/editor-help/remove-blocks.native.js
  packages/editor/src/components/editor-help/style.scss
  packages/editor/src/components/editor-help/view-sections.native.js
  packages/editor/src/components/provider/index.native.js
Labels: Mobile App - i.e. Android or iOS, [Package] Editor, [Type] Feature

#34133 [WIP] Refactor/gallery to nested image blocks bug fix
  packages/block-editor/src/components/block-list/use-block-props/index.js
  packages/block-editor/src/components/block-list/use-block-props/use-block-custom-class-name.js
  packages/block-editor/src/components/block-list/use-block-props/use-block-default-class-name.js
  packages/blocks/src/api/registration.js
Labels: [Status] In Progress, [Block] Gallery

#33973 [Mobile] - Color settings - Update label and show the selected color value
  packages/components/src/mobile/color-settings/palette.screen.native.js
  packages/components/src/mobile/color-settings/style.native.scss
Labels: Mobile App - i.e. Android or iOS

#34135 Migrate customize widgets feature preferences to interface package
  package-lock.json
  packages/customize-widgets/package.json
  packages/customize-widgets/src/components/more-menu/feature-toggle.js
  packages/customize-widgets/src/components/more-menu/index.js
  packages/customize-widgets/src/components/sidebar-block-editor/index.js
  packages/customize-widgets/src/components/welcome-guide/index.js
  packages/customize-widgets/src/index.js
  packages/customize-widgets/src/store/actions.js
  packages/customize-widgets/src/store/defaults.js
  packages/customize-widgets/src/store/index.js
  packages/customize-widgets/src/store/reducer.js
  packages/customize-widgets/src/store/selectors.js
  packages/data/src/plugins/persistence/index.js
  packages/e2e-tests/specs/widgets/customizing-widgets.test.js
  packages/edit-widgets/src/store/index.js
  packages/interface/src/components/more-menu-dropdown/README.md
  packages/interface/src/components/more-menu-dropdown/index.js
Labels: [Type] Enhancement, [Feature] Widgets Customizer

#34076 Text for dropdown fields within legacy widgets in the Customizer is off centered
  packages/widgets/src/blocks/legacy-widget/editor.scss
Labels: [Type] Bug, [Block] Legacy Widget, [Feature] Widgets Customizer

#34142 Post terms: add font weight support to the block
  packages/block-library/src/post-terms/block.json
Labels: [Block] Post Terms

#33995 Remove a popover menu min-width.
  packages/block-editor/src/components/media-replace-flow/style.scss
  packages/components/src/dropdown-menu/style.scss
  packages/components/src/dropdown/style.scss
Labels: [Type] Code Quality

#34155 Fix post editor's API for pinning plugin items
  docs/reference-guides/data/data-core-edit-post.md
  packages/edit-post/src/store/actions.js
  packages/edit-post/src/store/selectors.js
Labels: [Type] Bug, [Package] Edit Post

#34158 Add contextual help text to the Scale property in featured image block.
  packages/block-library/src/post-featured-image/dimension-controls.js
Labels: [Feature] Design Tools, [Block] Post Featured Image

#34038 Try: Fix multiselect toolbar indent.
  packages/block-editor/src/components/block-tools/block-contextual-toolbar.js
Labels: [Type] Bug, [Feature] Block Multi Selection

#34170 Data: Allow passing store definitions to controls
  packages/block-directory/src/store/actions.js
  packages/block-directory/src/store/test/actions.js
  packages/data/CHANGELOG.md
  packages/data/src/controls.js
  packages/edit-navigation/src/store/selectors.js
  packages/edit-navigation/src/store/test/selectors.js
  packages/edit-post/src/store/actions.js
  packages/edit-site/src/store/actions.js
  packages/edit-widgets/src/store/actions.js
  packages/editor/src/store/actions.js
Labels: [Type] Code Quality, [Package] Data, [Type] New API

#34163 Hide the deprecation logs under a console group
  packages/blocks/src/api/parser/index.js
Labels: [Type] Enhancement, [Feature] Parsing

#34173 Fix: indentation followup
  packages/block-editor/src/components/block-tools/block-contextual-toolbar.js
Labels: [Type] Code Quality

#33812 Add block spacing gap config to theme.json and add support for this CSS variable to the "flow/default" layout.
  docs/how-to-guides/themes/theme-json.md
  lib/block-supports/layout.php
  lib/class-wp-theme-json-gutenberg.php
  lib/theme.json
  packages/block-editor/src/hooks/layout.js
  packages/block-editor/src/layouts/flex.js
  packages/block-editor/src/layouts/flow.js
  packages/block-library/src/group/block.json
  packages/block-library/src/group/theme.scss
  packages/blocks/src/api/constants.js
  packages/edit-post/src/components/visual-editor/index.js
  packages/edit-site/src/components/block-editor/index.js
  packages/edit-site/src/components/editor/global-styles-renderer.js
  packages/edit-site/src/components/editor/test/global-styles-renderer.js
  phpunit/class-wp-theme-json-schema-v0-test.php
  phpunit/class-wp-theme-json-test.php
Labels: Customization, Needs Dev Note, [Feature] Themes, [Feature] Full Site Editing, [Type] New API

#34159 Mobile Release v1.60.0
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS

#34165 Add "controls" icon.
  packages/icons/src/library/settings.js
Labels: [Package] Icons
