Repository WordPress/gutenberg, pull requests merged in 2021-03, with the labels that each got.

#29328 Move the setting of the default attributes on new blocks to a single useEffect
  packages/block-library/src/gallery/edit.js
  packages/block-library/src/gallery/use-get-media.js
  packages/block-library/src/gallery/use-get-new-images.js
Labels: [Block] Gallery

#29364 Refactored Gallery: Tidy up gallery attribute snackbar notices
  packages/block-library/src/gallery/edit.js
Labels: [Block] Gallery, [Type] Enhancement

#29277 Add enableCustomSpacing to block editor settings
  packages/editor/src/components/provider/use-block-editor-settings.js
Labels: Backport to WP Beta/RC, [Type] Bug

#29410 Documentation: Fix typo in block-based-themes.md
  docs/designers-developers/developers/themes/block-based-themes.md
Labels: [Type] Documentation

#29384 Adjusted padding on additional controls in the link popover for Image…
  packages/block-editor/src/components/url-input/style.scss
  packages/block-editor/src/components/url-popover/style.scss
Labels: First-time Contributor

#28685 Improve dropcap behavior
  packages/block-library/src/paragraph/edit.js
  packages/block-library/src/paragraph/style.scss
Labels: [Feature] Rich Text

#29379 Packages: Update the publishing command for npm with next dist tag
  bin/plugin/commands/packages.js
Labels: [Type] Bug, npm Packages

#28433 Docs/Tools/CI: Update references from `master` to `trunk`
  .github/workflows/build-plugin-zip.yml
  .github/workflows/create-block.yml
  .github/workflows/end2end-test.yml
  .github/workflows/performance.yml
  .github/workflows/pull-request-automation.yml
  .github/workflows/rnmobile-android-runner.yml
  .github/workflows/rnmobile-ios-runner.yml
  .github/workflows/static-checks.yml
  .github/workflows/storybook-pages.yml
  .github/workflows/unit-test.yml
  README.md
  bin/plugin/commands/performance.js
  bin/plugin/commands/release.js
  bin/plugin/lib/git.js
  bin/test-create-block.sh
  changelog.txt
  docs/contributors/getting-started.md
  docs/contributors/git-workflow.md
  docs/contributors/release.md
  docs/contributors/repository-management.md
  docs/contributors/testing-overview.md
  packages/components/src/ui/text/utils.js
  packages/customize-widgets/CHANGELOG.md
  packages/customize-widgets/package.json
  packages/e2e-tests/specs/editor/plugins/inner-blocks-allowed-blocks.test.js
  packages/env/README.md
  packages/env/lib/config/test/config.js
  packages/project-management-automation/CHANGELOG.md
  packages/project-management-automation/README.md
  packages/project-management-automation/lib/tasks/add-milestone/index.js
  packages/project-management-automation/lib/tasks/add-milestone/test/index.js
  packages/project-management-automation/lib/tasks/first-time-contributor-account-link/index.js
  packages/project-management-automation/lib/tasks/first-time-contributor-account-link/test/index.js
  packages/project-management-automation/lib/test/get-associated-pull-request.js
  packages/react-native-aztec/.gitignore
  packages/react-native-bridge/android/src/main/java/org/wordpress/mobile/ReactNativeGutenbergBridge/GutenbergBridgeJS2Parent.java
  packages/react-native-bridge/ios/GutenbergBridgeDelegate.swift
  packages/url/scripts/download-wpt-data.js
Labels: [Type] Project Management

#29451 Docs: Fix deprecation message to be clear
  docs/designers-developers/developers/tutorials/block-tutorial/generate-blocks-with-wp-cli.md
Labels: [Type] Documentation

#29133 Make Spacer block width adjustable and add it to Navigation block
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation/block.json
  packages/block-library/src/navigation/edit.js
  packages/block-library/src/spacer/block.json
  packages/block-library/src/spacer/edit.js
  packages/block-library/src/spacer/editor.scss
  packages/block-library/src/spacer/save.js
  packages/e2e-tests/fixtures/blocks/core__spacer__horizontal.html
  packages/e2e-tests/fixtures/blocks/core__spacer__horizontal.json
  packages/e2e-tests/fixtures/blocks/core__spacer__horizontal.parsed.json
  packages/e2e-tests/fixtures/blocks/core__spacer__horizontal.serialized.html
Labels: Needs Design Feedback, [Block] Navigation, [Block] Spacer

#29424 Handle missing categories/tags in Query block
  packages/block-library/src/query/edit/query-inspector-controls.js
Labels: [Block] Query, [Type] Bug

#29432 [Query block] Remove exclusion of current page id
  packages/block-library/src/query/block.json
  packages/block-library/src/query/edit/index.js
Labels: [Block] Query, [Type] Bug

#29273 Buttons: Fix links inside links
  packages/block-library/src/button/edit.js
  packages/block-library/src/file/edit.js
Labels: [Block] Buttons, [Block] File, [Type] Bug

#28637 Site Editor: Persistent List View
  packages/block-editor/src/components/block-navigation/block.js
  packages/block-editor/src/components/block-navigation/context.js
  packages/block-editor/src/components/block-navigation/dropdown.js
  packages/block-editor/src/components/block-navigation/tree.js
  packages/block-library/src/navigation/use-block-navigator.js
  packages/e2e-tests/specs/editor/blocks/columns.test.js
  packages/e2e-tests/specs/editor/blocks/cover.test.js
  packages/e2e-tests/specs/editor/various/block-hierarchy-navigation.test.js
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/editor/style.scss
  packages/edit-site/src/components/header/index.js
  packages/edit-site/src/components/keyboard-shortcuts/index.js
  packages/edit-site/src/components/secondary-sidebar/inserter-sidebar.js
  packages/edit-site/src/components/secondary-sidebar/list-view-sidebar.js
  packages/edit-site/src/components/secondary-sidebar/style.scss
  packages/edit-site/src/store/actions.js
  packages/edit-site/src/store/reducer.js
  packages/edit-site/src/store/selectors.js
  packages/edit-site/src/store/test/actions.js
  packages/edit-site/src/store/test/reducer.js
  packages/edit-site/src/store/test/selectors.js
  packages/edit-site/src/style.scss
  packages/icons/src/index.js
  packages/icons/src/library/list-view.js
Labels: Accessibility (a11y), Needs Accessibility Feedback, Needs Design Feedback, [Feature] List View, [Feature] Site Editor

#29378 Global Styles: fix specificity conflict of blocks with single classes as selectors
  lib/class-wp-theme-json.php
  phpunit/class-wp-theme-json-test.php
Labels: Global Styles, [Type] Bug

#29084 Components: Add Popover
  package-lock.json
  packages/components/package.json
  packages/components/src/ui/card/body.js
  packages/components/src/ui/card/component.js
  packages/components/src/ui/card/footer.js
  packages/components/src/ui/card/header.js
  packages/components/src/ui/card/test/__snapshots__/index.js.snap
  packages/components/src/ui/control-group/test/__snapshots__/index.js.snap
  packages/components/src/ui/control-label/test/__snapshots__/index.js.snap
  packages/components/src/ui/elevation/test/__snapshots__/index.js.snap
  packages/components/src/ui/flex/test/__snapshots__/index.js.snap
  packages/components/src/ui/font-size-control/use-font-size-control.js
  packages/components/src/ui/form-group/test/__snapshots__/index.js.snap
  packages/components/src/ui/h-stack/test/__snapshots__/index.js.snap
  packages/components/src/ui/popover/README.md
  packages/components/src/ui/popover/component.js
  packages/components/src/ui/popover/content.js
  packages/components/src/ui/popover/context.js
  packages/components/src/ui/popover/index.js
  packages/components/src/ui/popover/stories/index.js
  packages/components/src/ui/popover/styles.js
  packages/components/src/ui/popover/test/__snapshots__/index.js.snap
  packages/components/src/ui/popover/test/index.js
  packages/components/src/ui/popover/types.ts
  packages/components/src/ui/popover/utils.js
  packages/components/src/ui/scrollable/test/__snapshots__/index.js.snap
  packages/components/src/ui/spinner/test/__snapshots__/index.js.snap
  packages/components/src/ui/surface/test/__snapshots__/index.js.snap
  packages/components/src/ui/text/test/__snapshots__/text.js.snap
  packages/components/src/ui/utils/index.js
  packages/components/src/ui/utils/types.ts
  packages/components/src/ui/utils/use-isomorphic-layout-effect.js
  packages/components/src/ui/v-stack/test/__snapshots__/index.js.snap
  packages/components/src/ui/view/test/__snapshots__/index.js.snap
  packages/components/src/ui/visually-hidden/test/__snapshots__/index.js.snap
Labels: Storybook, [Feature] Component System, [Package] Components

#29233 Component Systems: Update references to external module
  packages/components/src/ui/font-size-control/font-size-control.js
  packages/components/src/ui/font-size-control/slider.js
  packages/components/src/ui/form-group/stories/index.js
  packages/components/src/ui/h-stack/README.md
  packages/components/src/ui/visually-hidden/README.md
  packages/components/src/ui/visually-hidden/component.js
Labels: [Feature] Component System, [Package] Components, [Type] Documentation

#29301 Component System: Add tests for color utils
  packages/components/src/ui/utils/colors.js
  packages/components/src/ui/utils/test/colors.js
Labels: [Feature] Component System

#29474 Pass block settings to the client for all blocks
  lib/class-wp-theme-json.php
Labels: Global Styles, [Type] Bug

#29454 Components: Update Elevation story
  packages/components/src/ui/__storybook-utils/example-grid.js
  packages/components/src/ui/__storybook-utils/index.js
  packages/components/src/ui/__storybook-utils/page.js
  packages/components/src/ui/elevation/stories/index.js
  packages/components/tsconfig.json
Labels: [Feature] Component System

#25521 Block Directory: Update search results list UI
  packages/block-directory/src/components/block-ratings/index.js
  packages/block-directory/src/components/block-ratings/stars.js
  packages/block-directory/src/components/block-ratings/style.scss
  packages/block-directory/src/components/downloadable-block-author-info/index.js
  packages/block-directory/src/components/downloadable-block-author-info/style.scss
  packages/block-directory/src/components/downloadable-block-header/index.js
  packages/block-directory/src/components/downloadable-block-header/style.scss
  packages/block-directory/src/components/downloadable-block-header/test/index.js
  packages/block-directory/src/components/downloadable-block-icon/index.js
  packages/block-directory/src/components/downloadable-block-icon/style.scss
  packages/block-directory/src/components/downloadable-block-icon/test/__snapshots__/index.js.snap
  packages/block-directory/src/components/downloadable-block-icon/test/index.js
  packages/block-directory/src/components/downloadable-block-info/index.js
  packages/block-directory/src/components/downloadable-block-info/style.scss
  packages/block-directory/src/components/downloadable-block-info/test/index.js
  packages/block-directory/src/components/downloadable-block-list-item/index.js
  packages/block-directory/src/components/downloadable-block-list-item/style.scss
  packages/block-directory/src/components/downloadable-block-list-item/test/__snapshots__/index.js.snap
  packages/block-directory/src/components/downloadable-block-list-item/test/fixtures/index.js
  packages/block-directory/src/components/downloadable-block-list-item/test/index.js
  packages/block-directory/src/components/downloadable-block-notice/index.js
  packages/block-directory/src/components/downloadable-block-notice/style.scss
  packages/block-directory/src/components/downloadable-block-notice/test/__snapshots__/index.js.snap
  packages/block-directory/src/components/downloadable-block-notice/test/fixtures/index.js
  packages/block-directory/src/components/downloadable-block-notice/test/index.js
  packages/block-directory/src/components/downloadable-blocks-list/index.js
  packages/block-directory/src/components/downloadable-blocks-list/style.scss
  packages/block-directory/src/components/downloadable-blocks-list/test/__snapshots__/index.js.snap
  packages/block-directory/src/components/downloadable-blocks-list/test/fixtures/index.js
  packages/block-directory/src/components/downloadable-blocks-list/test/index.js
  packages/block-directory/src/components/downloadable-blocks-panel/index.js
  packages/block-directory/src/components/downloadable-blocks-panel/inserter-panel.js
  packages/block-directory/src/components/downloadable-blocks-panel/no-results.js
  packages/block-directory/src/components/downloadable-blocks-panel/style.scss
  packages/block-directory/src/components/test/fixtures/index.js
  packages/block-directory/src/plugins/inserter-menu-downloadable-blocks-panel/index.js
  packages/block-directory/src/store/actions.js
  packages/block-directory/src/store/test/actions.js
  packages/block-directory/src/style.scss
  packages/e2e-test-utils/src/inserter.js
  packages/e2e-tests/specs/editor/plugins/block-directory-add.test.js
Labels: Needs Design Feedback, [Feature] Block Directory

#29479 [RNMobile] Fix missing context prop in BlockEdit component
  packages/block-editor/src/components/block-edit/edit.native.js
  packages/block-editor/src/components/block-edit/test/edit.native.js
Labels: Mobile App - i.e. Android or iOS, [Type] Bug

#29435 useFocusFirstElement: include useRef
  packages/block-editor/src/components/block-list/use-block-props/index.js
  packages/block-editor/src/components/block-list/use-block-props/use-focus-first-element.js
Labels: [Package] Block editor, [Type] Code Quality

#29385 Components: Add Tooltip and Shortcut
  packages/components/src/tooltip/index.js
  packages/components/src/tooltip/next.js
  packages/components/src/ui/index.js
  packages/components/src/ui/shortcut/component.tsx
  packages/components/src/ui/shortcut/index.ts
  packages/components/src/ui/shortcut/test/__snapshots__/index.js.snap
  packages/components/src/ui/shortcut/test/index.js
  packages/components/src/ui/tooltip/README.md
  packages/components/src/ui/tooltip/component.js
  packages/components/src/ui/tooltip/content.js
  packages/components/src/ui/tooltip/context.js
  packages/components/src/ui/tooltip/index.js
  packages/components/src/ui/tooltip/stories/index.js
  packages/components/src/ui/tooltip/styles.js
  packages/components/src/ui/tooltip/test/__snapshots__/index.js.snap
  packages/components/src/ui/tooltip/test/index.js
  packages/components/src/ui/tooltip/types.ts
Labels: Storybook, [Feature] Component System, [Package] Components

#29096 [RNMobile] Search block: Add button position UI support
  packages/block-library/src/search/edit.native.js
  packages/block-library/src/search/rich-text.android.scss
  packages/block-library/src/search/rich-text.ios.scss
  packages/block-library/src/search/style.native.scss
Labels: Mobile App - i.e. Android or iOS, [Block] Search

#28998 Border Radius Support: Fix application of zero radius values
  packages/block-editor/src/hooks/border-radius.js
Labels: [Feature] Design Tools, [Type] Bug

#29365 Experiment: Temporary hack to render blocks in customizer
  lib/widgets-customize.php
  packages/customize-widgets/src/components/sidebar-block-editor/sidebar-adapter.js
  packages/customize-widgets/src/components/sidebar-block-editor/use-sidebar-block-editor.js
Labels: [Feature] Widgets Customizer, [Type] Experimental

#29282 Fix shortcode not showing in the widgets screen
  lib/class-wp-widget-block.php
  packages/e2e-tests/specs/widgets/adding-widgets.test.js
Labels: [Feature] Widgets Screen, [Type] Bug

#29382 Button block: add color support via block.json
  packages/block-library/src/button/block.json
  packages/block-library/src/button/edit.js
Labels: Global Styles, [Block] Buttons

#29230 Components: Add next Button, ButtonGroup
  packages/components/src/ui/base-button/component.js
  packages/components/src/ui/base-button/hook.js
  packages/components/src/ui/base-button/index.js
  packages/components/src/ui/base-button/loading-overlay.js
  packages/components/src/ui/base-button/styles.js
  packages/components/src/ui/base-button/test/__snapshots__/index.js.snap
  packages/components/src/ui/base-button/test/index.js
  packages/components/src/ui/base-button/types.ts
  packages/components/src/ui/button-group/README.md
  packages/components/src/ui/button-group/component.js
  packages/components/src/ui/button-group/context.js
  packages/components/src/ui/button-group/index.js
  packages/components/src/ui/button-group/stories/index.js
  packages/components/src/ui/button-group/styles.js
  packages/components/src/ui/button-group/test/__snapshots__/index.js.snap
  packages/components/src/ui/button-group/test/index.js
  packages/components/src/ui/button-group/types.ts
  packages/components/src/ui/button/README.md
  packages/components/src/ui/button/component.js
  packages/components/src/ui/button/index.js
  packages/components/src/ui/button/stories/index.js
  packages/components/src/ui/button/styles.js
  packages/components/src/ui/button/test/__snapshots__/index.js.snap
  packages/components/src/ui/button/test/index.js
  packages/components/src/ui/flex/test/__snapshots__/index.js.snap
  packages/components/src/ui/scrollable/test/__snapshots__/index.js.snap
  packages/components/src/ui/utils/types.ts
  packages/components/tsconfig.json
  test/unit/config/matchers/to-match-style-diff-snapshot.js
Labels: Storybook, [Feature] Component System, [Package] Components

#29320 Component System: Add basic tests for style system
  packages/components/package.json
  packages/components/src/ui/styles/test/css.js
  packages/components/src/ui/styles/test/styled.js
Labels: [Feature] Component System

#29532 Update Versions in WordPress to include release notes
  docs/contributors/versions-in-wordpress.md
Labels: [Type] Documentation, [Type] Enhancement

#29499 Fix solid-color only cover has small gray border in the editor only
  packages/block-library/src/cover/edit.js
Labels: [Block] Cover, [Type] Bug

#29515 Extract block variations API into its own handbook page
  docs/architecture/key-concepts.md
  docs/designers-developers/developers/block-api/README.md
  docs/designers-developers/developers/block-api/block-registration.md
  docs/designers-developers/developers/block-api/block-variations.md
  docs/designers-developers/faq.md
  docs/manifest.json
  docs/toc.json
Labels: Backport to WP Beta/RC, [Feature] Block Variations, [Type] Documentation

#29400 Update title, description, and icon of Post Categories
  packages/block-library/src/post-hierarchical-terms/variations.js
Labels: [Block] Post Hierarchical Terms

#29287 Components: Try to make the order of fills stable in regular slots
  package-lock.json
  packages/components/src/slot-fill/context.js
  packages/components/src/slot-fill/fill.js
  packages/components/src/slot-fill/slot.js
  packages/components/src/slot-fill/test/__snapshots__/slot.js.snap
  packages/components/src/slot-fill/test/slot.js
  packages/plugins/package.json
  packages/plugins/src/components/plugin-area/index.js
Labels: [Feature] Extensibility, [Type] Enhancement

#29531 Update template descriptions for clarity and humanity.
  lib/full-site-editing/default-template-types.php
  packages/e2e-tests/specs/experiments/settings-sidebar.test.js
  phpunit/class-block-templates-test.php
  phpunit/class-wp-rest-template-controller-test.php
Labels: [Feature] Full Site Editing, [Feature] Themes

#29553 Update the category icons.
  packages/block-library/src/post-hierarchical-terms/variations.js
  packages/icons/src/index.js
  packages/icons/src/library/category.js
  packages/icons/src/library/post-categories.js
Labels: [Package] Icons

#29557 Custom Link Color: Do not apply to buttons
  packages/block-library/src/common.scss
Labels: Global Styles, [Feature] Themes

#29533 Fix specificity issue between theme and user styles
  lib/class-wp-theme-json.php
  phpunit/class-wp-theme-json-test.php
Labels: Global Styles, [Type] Bug

#29555 Navigation block: Allow very thin menus.
  packages/block-library/src/navigation/editor.scss
  packages/block-library/src/page-list/editor.scss
  packages/components/src/placeholder/style.scss
Labels: CSS Styling, [Block] Navigation, [Block] Page List

#29521 Print nothing in the front end if there are no results in Query block
  packages/block-library/src/query-loop/index.php
Labels: [Block] Query, [Feature] Full Site Editing, [Type] Bug

#29502 [Mobile] - Fix splitting/merging of Paragraph and Heading
  packages/rich-text/src/component/index.native.js
Labels: Mobile App - i.e. Android or iOS

#29545 [RNMobile] Audio block snapshot test - fixed the "not wrapped in act(...)" warning
  packages/block-library/src/audio/test/edit.native.js
Labels: Mobile App - i.e. Android or iOS

#29433 Components: Add Divider
  packages/components/src/ui/divider/README.md
  packages/components/src/ui/divider/component.tsx
  packages/components/src/ui/divider/index.ts
  packages/components/src/ui/divider/stories/index.js
  packages/components/src/ui/divider/styles.ts
  packages/components/src/ui/divider/test/__snapshots__/index.js.snap
  packages/components/src/ui/divider/test/index.js
  packages/components/src/ui/index.js
Labels: Storybook, [Feature] Component System, [Package] Components

#29257 Template Part: Update switching trigger
  packages/block-library/src/template-part/edit/index.js
Labels: Needs Design Feedback, [Block] Template-Part, [Feature] Site Editor

#29333 Block edit: avoid memoized block context in favour of useSelect
  packages/block-editor/src/components/block-controls/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/block-edit/context.js
  packages/block-editor/src/components/block-edit/index.js
Labels: [Package] Block editor, [Type] Code Quality

#29542 Fix cover block content position not migrating correctly from deprecated version
  packages/block-library/CHANGELOG.md
  packages/block-library/src/cover/deprecated.js
  packages/e2e-tests/fixtures/blocks/core__cover__deprecated-6.html
  packages/e2e-tests/fixtures/blocks/core__cover__deprecated-6.json
  packages/e2e-tests/fixtures/blocks/core__cover__deprecated-6.parsed.json
  packages/e2e-tests/fixtures/blocks/core__cover__deprecated-6.serialized.html
Labels: Backport to WP Beta/RC, [Block] Cover, [Type] Regression

#29567 Drop zone: fix media lib duplicate issue
  packages/components/src/drop-zone/provider.js
  packages/edit-post/src/components/layout/index.js
Labels: Backport to WP Beta/RC

#29415 Add Columns transform from Media & Text
  packages/block-library/src/columns/transforms.js
Labels: [Block] Columns, [Block] Media & Text, [Feature] Block Conversion, [Type] Enhancement

#29550 Remove base control negative help text margin
  packages/components/src/base-control/style.scss
  packages/components/src/base-control/styles/base-control-styles.js
Labels: CSS Styling, [Feature] UI Components, [Package] Components, [Type] Task

#29579 Try updating the minimum required WordPress version for the plugin
  readme.txt
Labels: Backwards Compatibility, [Type] Task

#29028 Docs: Add info about npm release types and their schedule
  docs/contributors/release.md
Labels: [Type] Documentation, [Type] Project Management, npm Packages

#29189 docgen: Add TypeScript support
  packages/data-controls/README.md
  packages/data-controls/src/index.js
  packages/docgen/CHANGELOG.md
  packages/docgen/README.md
  packages/docgen/lib/get-jsdoc-from-token.js
  packages/docgen/lib/get-type-annotation.js
  packages/docgen/lib/get-type-as-string.js
  packages/docgen/test/fixtures/type-annotations/arrays-generic-types-unions-intersections/example.ts
  packages/docgen/test/fixtures/type-annotations/arrays-generic-types-unions-intersections/get-node.js
  packages/docgen/test/fixtures/type-annotations/exported-variable-declaration/example.ts
  packages/docgen/test/fixtures/type-annotations/exported-variable-declaration/get-node.js
  packages/docgen/test/fixtures/type-annotations/imports-parameterized-rest-operator-predicate-indexers/example.ts
  packages/docgen/test/fixtures/type-annotations/imports-parameterized-rest-operator-predicate-indexers/get-node.js
  packages/docgen/test/fixtures/type-annotations/literal-values/example.ts
  packages/docgen/test/fixtures/type-annotations/literal-values/get-node.js
  packages/docgen/test/fixtures/type-annotations/missing-types/example.ts
  packages/docgen/test/fixtures/type-annotations/missing-types/get-node.js
  packages/docgen/test/fixtures/type-annotations/named-export/example.ts
  packages/docgen/test/fixtures/type-annotations/named-export/get-node.js
  packages/docgen/test/fixtures/type-annotations/simple-types/example.ts
  packages/docgen/test/fixtures/type-annotations/simple-types/get-node.js
  packages/docgen/test/fixtures/type-annotations/type-literals/example.ts
  packages/docgen/test/fixtures/type-annotations/type-literals/get-node.js
  packages/docgen/test/get-type-annotation.js
  packages/docgen/test/get-type-as-string.js
  packages/react-i18n/README.md
  packages/react-i18n/src/index.tsx
Labels: First-time Contributor, [Package] Docgen, developer-docs

#29252 WP Block Styles: Only load in the editor if a theme opts in
  lib/client-assets.php
Labels: [Feature] Custom Editor Styles, [Feature] Themes

#29394 Table of Contents block: fix links when in archive loop or when using "Plain" permalink structure.
  packages/block-library/src/table-of-contents/index.php
Labels: Needs Technical Feedback, [Block] Table of contents, [Type] Bug

#29601 Temporary skip flaky test
  packages/e2e-tests/specs/widgets/adding-widgets.test.js
Labels: Automated Testing

#28275 Hide writing prompt from subsequent empty paragraphs
  packages/block-library/src/paragraph/edit.js
  packages/block-library/src/paragraph/editor.scss
Labels: [Type] Enhancement

#29591 Group Block: Add support for custom border settings
  docs/designers-developers/developers/themes/theme-json.md
  packages/block-library/src/group/block.json
Labels: Global Styles

#29612 Add i18n support for template part variations' descriptions
  packages/block-library/src/template-part/variations.js
Labels: Internationalization (i18n), [Block] Template-Part

#29202 Update navigation editor menu selection dropdown
  packages/base-styles/_z-index.scss
  packages/components/src/menu-group/index.js
  packages/components/src/menu-group/style.scss
  packages/components/src/menu-item/style.scss
  packages/components/src/menu-items-choice/index.js
  packages/e2e-tests/specs/experiments/__snapshots__/navigation-editor.test.js.snap
  packages/e2e-tests/specs/experiments/navigation-editor.test.js
  packages/edit-navigation/src/components/add-menu/index.js
  packages/edit-navigation/src/components/header/index.js
  packages/edit-navigation/src/components/header/style.scss
  packages/edit-navigation/src/components/layout/empty-state.js
  packages/edit-navigation/src/components/menu-switcher/index.js
  packages/edit-navigation/src/components/menu-switcher/style.scss
  packages/edit-navigation/src/style.scss
Labels: [Feature] Navigation Screen, [Type] Enhancement

#29110 Add expandOnFocus, showHowTo and validateInput experimental props to FormTokenField
  packages/components/src/combobox-control/stories/index.js
  packages/components/src/form-token-field/README.md
  packages/components/src/form-token-field/index.js
  packages/components/src/form-token-field/stories/index.js
  packages/components/src/form-token-field/style.scss
  packages/components/src/form-token-field/test/index.js
  packages/components/src/form-token-field/test/lib/token-field-wrapper.js
Labels: Needs Accessibility Feedback, [Feature] UI Components, [Package] Components, [Type] Enhancement

#29367 Fix: Invert gallery gravity.
  packages/block-library/src/gallery/style.scss
Labels: CSS Styling, [Block] Gallery, [Type] Enhancement

#29012 Navigation Editor: Allow menu renaming
  packages/edit-navigation/src/components/header/manage-locations.js
  packages/edit-navigation/src/components/inspector-additions/index.js
  packages/edit-navigation/src/components/layout/index.js
  packages/edit-navigation/src/components/name-display/index.js
  packages/edit-navigation/src/components/name-editor/index.js
  packages/edit-navigation/src/components/name-editor/style.scss
  packages/edit-navigation/src/filters/add-menu-name-editor.js
  packages/edit-navigation/src/filters/disable-inserting-non-navigation-blocks.js
  packages/edit-navigation/src/filters/index.js
  packages/edit-navigation/src/filters/remove-edit-unsupported-features.js
  packages/edit-navigation/src/filters/remove-settings-unsupported-features.js
  packages/edit-navigation/src/hooks/index.js
  packages/edit-navigation/src/hooks/use-menu-entity.js
  packages/edit-navigation/src/hooks/use-menu-locations.js
  packages/edit-navigation/src/hooks/use-menu-notifications.js
  packages/edit-navigation/src/hooks/use-navigation-block-editor.js
  packages/edit-navigation/src/hooks/use-navigation-editor.js
  packages/edit-navigation/src/hooks/use-selected-menu-data.js
  packages/edit-navigation/src/index.js
  packages/edit-navigation/src/store/actions.js
  packages/edit-navigation/src/store/resolvers.js
  packages/edit-navigation/src/store/selectors.js
  packages/edit-navigation/src/store/test/actions.js
  packages/edit-navigation/src/store/test/resolvers.js
  packages/edit-navigation/src/store/test/selectors.js
  packages/edit-navigation/src/store/utils.js
  packages/edit-navigation/src/utils/constants.js
  packages/edit-navigation/src/utils/fetch-link-suggestions.js
Labels: [Feature] Navigation Screen, [Package] Edit Navigation, [Type] Feature

#29587 Revert "[Mobile] - Fix splitting/merging of Paragraph and Heading"
  packages/rich-text/src/component/index.native.js
Labels: Mobile App - i.e. Android or iOS

#29554 Fix inline block styles minification issues with calc()
  lib/blocks.php
  phpunit/class-gutenberg-utils-test.php
Labels: [Feature] Themes, [Type] Bug

#29517 Restore the margins of blocks relying on the figure element
  packages/block-library/src/audio/style.scss
  packages/block-library/src/embed/style.scss
  packages/block-library/src/image/style.scss
  packages/block-library/src/pullquote/style.scss
  packages/block-library/src/table/style.scss
  packages/block-library/src/video/style.scss
Labels: [Feature] Blocks, [Feature] Themes, [Type] Enhancement

#29583 Prevent clicking on tag and category links in the site editor
  packages/block-library/src/post-hierarchical-terms/use-hierarchical-term-links.js
  packages/block-library/src/post-tags/edit.js
Labels: [Block] Post Hierarchical Terms, [Feature] Full Site Editing, [Type] Bug

#28456 Template Part: Prevent infinite recursion
  packages/block-editor/src/components/use-no-recursive-renders/index.js
  packages/block-editor/src/components/use-no-recursive-renders/test/use-no-recursive-renders.js
  packages/block-library/src/block/index.php
  packages/block-library/src/template-part/edit/index.js
  packages/block-library/src/template-part/index.php
Labels: [Block] Template-Part, [Feature] Full Site Editing, [Type] Bug

#29622 Site Title: Add text decoration and text transform controls
  docs/designers-developers/developers/themes/theme-json.md
  packages/block-library/src/site-title/block.json
Labels: [Block] Site Title, [Feature] Full Site Editing, [Feature] Themes

#29624 Skip CSS minification via PHP
  lib/blocks.php
  phpunit/class-gutenberg-utils-test.php
Labels: [Type] Enhancement, [Type] Performance

#29617 i18n: Fix the template area unassigned type string
  lib/full-site-editing/template-parts.php
Labels: Good First Review, [Feature] Full Site Editing, [Type] Experimental

#28291 Site Editor: Browsing sidebar templates menu restructure
  packages/e2e-tests/specs/experiments/multi-entity-editing.test.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/constants.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/menus/templates-pages.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/menus/templates-posts.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/menus/templates-sub.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/menus/templates.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/template-hierarchy.js
Labels: [Feature] Site Editor

#29608 Revert moving is-typing class
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/use-block-props/use-block-class-names.js
Labels: [Type] Bug, [Type] Regression

#29095 Navigation: Try adding navigation link variants via server
  packages/block-library/src/navigation-link/block.json
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation-link/fallback-variations.js
  packages/block-library/src/navigation-link/hooks.js
  packages/block-library/src/navigation-link/index.js
  packages/block-library/src/navigation-link/index.php
  phpunit/class-block-library-navigation-link-test.php
Labels: [Block] Navigation

#29552 Try: Remove important on disabled switcher state.
  packages/block-editor/src/components/block-switcher/style.scss
Labels: CSS Styling

#29626 [RNMobile] Reduce the number of items per page when fetching reusable blocks
  packages/editor/src/components/provider/use-block-editor-settings.js
Labels: Mobile App - i.e. Android or iOS, [Type] Bug

#29418 Scripts: Fork jest-environment-puppeteer to use puppeteer-core directly
  package-lock.json
  package.json
  packages/README.md
  packages/scripts/CHANGELOG.md
  packages/scripts/config/jest-e2e.config.js
  packages/scripts/config/jest-environment-puppeteer/config.js
  packages/scripts/config/jest-environment-puppeteer/global.js
  packages/scripts/config/jest-environment-puppeteer/index.js
  packages/scripts/config/jest-environment-puppeteer/setup.js
  packages/scripts/config/jest-environment-puppeteer/teardown.js
  packages/scripts/package.json
  packages/scripts/scripts/test-e2e.js
Labels: Automated Testing, [Package] Scripts, [Type] Enhancement

#29633 Components: Add types to Shortcut
  packages/components/src/shortcut/index.js
  packages/components/tsconfig.json
Labels: [Package] Components, npm Packages

#29627 Remove the subheading block
  lib/blocks.php
  packages/block-library/src/cover/style.scss
  packages/block-library/src/editor.scss
  packages/block-library/src/index.js
  packages/block-library/src/index.native.js
  packages/block-library/src/style.scss
  packages/block-library/src/subhead/block.json
  packages/block-library/src/subhead/edit.js
  packages/block-library/src/subhead/editor.scss
  packages/block-library/src/subhead/index.js
  packages/block-library/src/subhead/save.js
  packages/block-library/src/subhead/style.scss
  packages/block-library/src/subhead/transforms.js
  packages/e2e-tests/fixtures/blocks/core__subhead.html
  packages/e2e-tests/fixtures/blocks/core__subhead.json
  packages/e2e-tests/fixtures/blocks/core__subhead.parsed.json
  packages/e2e-tests/fixtures/blocks/core__subhead.serialized.html
Labels: Needs Dev Note, [Feature] Blocks, [Type] Code Quality

#29618 Make border work on the site editor
  packages/blocks/src/api/constants.js
Labels: Global Styles, [Type] Bug

#29660 Yelp.
  packages/block-library/src/social-link/socials-without-bg.scss
Labels: [Block] Social, [Type] Bug

#29589 [RNMobile] Fixes for e2e tests (Gutenberg demo build cache + error logging in setup)
  .github/workflows/rnmobile-ios-runner.yml
  packages/react-native-editor/jest_ui_test_environment.js
Labels: Mobile App - i.e. Android or iOS, [Type] Bug

#29590 Reset all WP Admin styles in the wrapper of the editor styles.
  lib/client-assets.php
  lib/full-site-editing/edit-site-page.php
  packages/editor/src/editor-styles.scss
Labels: [Feature] Themes, [Type] Technical Prototype

#29569 [RNMobile] Use BlockEdit component when testing component rendering
  packages/block-library/src/audio/test/edit.native.js
  packages/block-library/src/code/test/edit.native.js
  packages/block-library/src/shortcode/test/edit.native.js
  packages/block-library/src/verse/test/edit.native.js
Labels: Mobile App - i.e. Android or iOS, [Type] Bug

#29275 [RNMobile] Search Block: Settings
  packages/block-library/src/search/edit.js
  packages/block-library/src/search/edit.native.js
  packages/block-library/src/search/utils.js
Labels: Mobile App - i.e. Android or iOS, [Block] Search

#29682 Dom: Add type-checking to data-transfer
  packages/dom/README.md
  packages/dom/src/data-transfer.js
  packages/dom/tsconfig.json
  tsconfig.json
Labels: [Package] DOM, npm Packages

#29625 Fix in between inserter edge case
  packages/block-editor/src/components/inserter/index.js
Labels: [Feature] Inserter, [Type] Bug

#29701 Update the minimum WordPress version required by the gutenberg plugin too 5.6
  lib/block-supports/align.php
  lib/block-supports/border.php
  lib/block-supports/colors.php
  lib/block-supports/custom-classname.php
  lib/block-supports/generated-classname.php
  lib/block-supports/typography.php
  lib/class-wp-block-supports.php
  lib/class-wp-rest-post-format-search-handler.php
  lib/class-wp-rest-term-search-handler.php
  lib/class-wp-theme-json-resolver.php
  lib/class-wp-theme-json.php
  lib/client-assets.php
  lib/compat.php
  lib/global-styles.php
  lib/load.php
  lib/rest-api.php
  lib/utils.php
  phpunit/class-wp-rest-post-format-search-handler-test.php
  phpunit/class-wp-rest-term-search-handler-test.php
  readme.txt
Labels: [Type] Code Quality

#29366 Make navigation placeholder state visible in dark themes.
  packages/block-library/src/navigation/editor.scss
Labels: [Block] Navigation, [a11y] Color Contrast

#29614 Fix the button component styles when used with a dashicon
  packages/components/src/button/style.scss
Labels: Good First Review, [Type] Bug

#29669 Mobile Release v1.47.1
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS

#29476 Update the visual design of the Sidebar Menu
  packages/components/src/navigation/styles/navigation-styles.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/style.scss
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/template-navigation-item.js
Labels: Needs Design Feedback, [Feature] Navigation Component, [Feature] Site Editor

#29465 Refactor and simplify navigation block CSS.
  packages/base-styles/_z-index.scss
  packages/block-library/src/navigation-link/editor.scss
  packages/block-library/src/navigation-link/style.scss
  packages/block-library/src/navigation/editor.scss
  packages/block-library/src/navigation/style.scss
  packages/block-library/src/navigation/theme.scss
  packages/block-library/src/theme.scss
Labels: [Block] Navigation

#29674 Documentation: Remove mid-paragraph newlines
  packages/dependency-extraction-webpack-plugin/README.md
Labels: [Type] Documentation

#29631 Components: Ensure that SlotFill does not use portals in React Native
  packages/components/src/slot-fill/context.js
  packages/components/src/slot-fill/fill.js
  packages/components/src/slot-fill/index.js
  packages/components/src/slot-fill/index.native.js
  packages/components/src/slot-fill/provider.js
  packages/components/src/slot-fill/slot.js
  packages/components/src/slot-fill/use-slot.js
Labels: Mobile App - i.e. Android or iOS, [Feature] Extensibility, [Package] Components, [Type] Code Quality

#29704 Add theme styles in the site editor
  lib/full-site-editing/edit-site-page.php
Labels: [Feature] Custom Editor Styles, [Type] Bug

#29703 Rename load_separate_block_styles to load_separate_block_assets
  lib/blocks.php
  lib/client-assets.php
  lib/compat.php
Labels: [Feature] Themes, [Type] Code Quality

#29684 docgen: Incrementally add types
  packages/docgen/lib/get-leading-comments.js
  packages/docgen/tsconfig.json
  tsconfig.json
Labels: [Package] Docgen, npm Packages

#29712 Global Styles: do not add padding sub-properties if there's no values in theme.json
  packages/edit-site/src/components/editor/global-styles-renderer.js
Labels: Global Styles, [Feature] Site Editor, [Type] Bug

#29686 Mobile Release v1.48.0
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS

#29702 Update Readme of Animate Component to remove todo comment
  packages/components/src/animate/README.md
Labels: [Type] Documentation

#29725 Add block variations page to Block API summary
  docs/reference-guides/README.md
  docs/reference-guides/block-api/README.md
Labels: [Type] Documentation

#29534 Accessibility improvement on #29530 issue
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/index.js
Labels: Accessibility (a11y)

#29717 Add check for button text before rendering button block
  packages/block-library/src/button/deprecated.js
  packages/block-library/src/button/save.js
Labels: [Block] Buttons, [Type] Enhancement

#29718 deregister TOC block until issues are resolved
  lib/blocks.php
  packages/block-library/src/index.js
  packages/e2e-tests/fixtures/blocks/core__table-of-contents.html
  packages/e2e-tests/fixtures/blocks/core__table-of-contents.json
  packages/e2e-tests/fixtures/blocks/core__table-of-contents.parsed.json
  packages/e2e-tests/fixtures/blocks/core__table-of-contents.serialized.html
Labels: [Block] Table of contents

#29744 Fix test plugin clash
  packages/e2e-tests/plugins/inner-blocks-locking-all-embed.php
Labels: Automated Testing

#29745 Fix another e2e test function name
  packages/e2e-tests/plugins/inner-blocks-templates.php
Labels: Automated Testing

#29707 Fix navigation editor link search suggestions
  packages/e2e-tests/specs/experiments/navigation-editor.test.js
  packages/edit-navigation/src/index.js
Labels: [Feature] Navigation Screen, [Type] Regression

#29748 Fix navigation block styles in the navigation editor
  packages/edit-navigation/src/components/editor/style.scss
Labels: CSS Styling, [Feature] Navigation Screen, [Package] Edit Navigation, [Type] Regression

#29724 Fix React warning in Text Control
  packages/block-editor/src/hooks/anchor.js
  packages/components/src/text-control/index.native.js
Labels: Good First Review, Mobile App - i.e. Android or iOS, [Type] Bug

#29753 Docs: Fix rebase error.
  docs/how-to-guides/block-based-theme/README.md
Labels: [Type] Bug, [Type] Documentation

#29613 Add term-description block
  lib/blocks.php
  packages/block-library/src/editor.scss
  packages/block-library/src/index.js
  packages/block-library/src/term-description/block.json
  packages/block-library/src/term-description/edit.js
  packages/block-library/src/term-description/editor.scss
  packages/block-library/src/term-description/index.js
  packages/block-library/src/term-description/index.php
  packages/e2e-tests/fixtures/blocks/core__term-description.html
  packages/e2e-tests/fixtures/blocks/core__term-description.json
  packages/e2e-tests/fixtures/blocks/core__term-description.parsed.json
  packages/e2e-tests/fixtures/blocks/core__term-description.serialized.html
  packages/icons/src/index.js
  packages/icons/src/library/term-description.js
Labels: New Block

#29749 Fix navigation editor saving
  packages/edit-navigation/src/store/actions.js
  packages/edit-navigation/src/store/test/actions.js
Labels: [Feature] Navigation Screen, [Type] Regression

#29750 Storybook playground - Fix block editor shortcuts
  storybook/stories/playground/index.js
Labels: First-time Contributor, Storybook, [Type] Bug

#29757 Create block: Require WordPress 5.7 by default and source it from the main plugin file
  packages/create-block-tutorial-template/CHANGELOG.md
  packages/create-block-tutorial-template/templates/$slug.php.mustache
  packages/create-block-tutorial-template/templates/readme.txt.mustache
  packages/create-block-tutorial-template/templates/src/index.js.mustache
  packages/create-block/CHANGELOG.md
  packages/create-block/lib/templates/es5/$slug.php.mustache
  packages/create-block/lib/templates/es5/readme.txt.mustache
  packages/create-block/lib/templates/esnext/$slug.php.mustache
  packages/create-block/lib/templates/esnext/readme.txt.mustache
  packages/create-block/lib/templates/esnext/src/index.js.mustache
Labels: [Package] Create Block, [Type] Enhancement

#28701 Add preload_paths filter for widgets screen and full site editing
  lib/editor-settings.php
  lib/full-site-editing/edit-site-page.php
  lib/navigation-page.php
  lib/widgets-page.php
Labels: [Feature] Extensibility, [Feature] Full Site Editing, [Feature] Navigation Screen, [Feature] Widgets Screen, [Type] Enhancement

#29599 [RNMobile]: Remove the cancel button from settings options
  packages/block-library/src/audio/edit.native.js
  packages/block-library/src/file/edit.native.js
  packages/block-library/src/gallery/edit.js
  packages/block-library/src/video/edit-common-settings.js
  packages/components/src/query-controls/index.native.js
Labels: Mobile App - i.e. Android or iOS, [Feature] Block settings menu

#29600 Site Editor: prevent navigation panel focus when hidden
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/style.scss
  packages/edit-site/src/components/navigation-sidebar/navigation-toggle/style.scss
Labels: First-time Contributor, [Feature] Site Editor

#29781 Button block: use early return to optimize save.js.
  packages/block-library/src/button/save.js
Labels: [Block] Buttons, [Package] Block library, [Type] Performance

#29428 Query title block - Archive Title
  lib/blocks.php
  packages/block-library/src/editor.scss
  packages/block-library/src/index.js
  packages/block-library/src/query-title/block.json
  packages/block-library/src/query-title/edit.js
  packages/block-library/src/query-title/editor.scss
  packages/block-library/src/query-title/index.js
  packages/block-library/src/query-title/index.php
  packages/block-library/src/query-title/variations.js
  packages/e2e-tests/fixtures/blocks/core__query-title.html
  packages/e2e-tests/fixtures/blocks/core__query-title.json
  packages/e2e-tests/fixtures/blocks/core__query-title.parsed.json
  packages/e2e-tests/fixtures/blocks/core__query-title.serialized.html
  packages/icons/src/index.js
  packages/icons/src/library/archive-title.js
Labels: New Block, [Feature] Full Site Editing

#28815 Try/add drag handle to select mode
  packages/block-editor/src/components/block-draggable/style.scss
  packages/block-editor/src/components/block-list/block-selection-button.js
  packages/block-editor/src/components/block-list/style.scss
Labels: Needs Design Feedback, [Feature] Drag and Drop

#29713 Keep submenus open onselect in the editor.
  packages/block-library/src/navigation-link/editor.scss
  packages/block-library/src/navigation-link/style.scss
  packages/block-library/src/navigation/style.scss
Labels: [Block] Navigation

#29715 [RNMobile] Add iOS platform version to iOS local e2e capabilities
  packages/react-native-editor/__device-tests__/helpers/caps.js
  packages/react-native-editor/__device-tests__/helpers/utils.js
Labels: Mobile App - i.e. Android or iOS, [Type] Bug

#29816 Update block design principles with a new section on how to group controls
  docs/how-to-guides/designers/block-design.md
Labels: [Type] Documentation

#26938 Improve block inserter keyboard navigation
  packages/block-editor/src/components/block-types-list/index.js
  packages/block-editor/src/components/block-types-list/style.scss
  packages/block-editor/src/components/inserter-list-item/index.js
  packages/block-editor/src/components/inserter-listbox/context.js
  packages/block-editor/src/components/inserter-listbox/group.js
  packages/block-editor/src/components/inserter-listbox/index.js
  packages/block-editor/src/components/inserter-listbox/item.js
  packages/block-editor/src/components/inserter-listbox/row.js
  packages/block-editor/src/components/inserter/block-types-tab.js
  packages/block-editor/src/components/inserter/search-results.js
  packages/e2e-tests/specs/editor/various/adding-blocks.test.js
Labels: Accessibility (a11y), Needs Accessibility Feedback, [Package] Block editor, [Type] Enhancement, [a11y] Keyboard & Focus

#29754 Hint the lowercase icon by 0.15px to correct the font weight appearance
  packages/icons/src/library/format-lowercase.js
Labels: [Package] Icons

#28297 Refactor ServerSideRender to use React hooks.
  package-lock.json
  packages/server-side-render/package.json
  packages/server-side-render/src/server-side-render.js
Labels: [Package] Server Side Render, [Type] Code Quality

#28833 Try: Allow vertical inserter in the nav block.
  packages/block-library/src/navigation-link/style.scss
  packages/block-library/src/navigation/editor.scss
  packages/block-library/src/navigation/style.scss
Labels: [Block] Navigation, [Status] In Progress

#29787 dom: Add types to focusable
  packages/dom/src/focusable.js
  packages/dom/tsconfig.json
Labels: [Package] DOM, npm Packages

#29489 Site Editor: Always use full screen mode
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/header/more-menu/index.js
  packages/edit-site/src/components/header/style.scss
  packages/edit-site/src/components/navigation-sidebar/navigation-toggle/index.js
  packages/edit-site/src/components/navigation-sidebar/navigation-toggle/style.scss
  packages/edit-site/src/store/defaults.js
Labels: First-time Contributor, [Feature] Site Editor

#29819 [RNMobile] Merge release 1.48.1 to trunk
  packages/react-native-aztec/package.json
  packages/react-native-bridge/ios/Gutenberg.swift
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS

#29809 Revert: Show empty paragraphs on fronted.
  packages/block-library/src/paragraph/style.scss
Labels: [Block] Paragraph, [Feature] Shortcodes

#29629 Don't display Guide's page control if there is only one page
  packages/components/src/guide/index.js
  packages/components/src/guide/style.scss
  packages/components/src/guide/test/index.js
  packages/edit-post/src/components/welcome-guide/style.scss
Labels: [Package] Components

#29699 i18n: Replace dead link in README.md.
  packages/i18n/README.md
  packages/i18n/src/sprintf.js
Labels: First-time Contributor

#29738 Keep post publishing popover open when a date is clicked
  packages/components/src/date-time/README.md
  packages/components/src/date-time/date.js
  packages/components/src/date-time/index.js
  packages/editor/src/components/post-schedule/index.js
Labels: First-time Contributor, [Feature] Saving, [Type] Bug

#29646 update "requires at least" value to 5.6
  gutenberg.php
  readme.txt
Labels: Gutenberg Plugin

#29796 Docs: Fix broken link to developer resources in README.md. (#29795)
  README.md
Labels: First-time Contributor

#29756 Social Links: Improve selected state of empty block
  packages/block-library/src/social-links/editor.scss
Labels: [Block] Social

#29247 Cover Block: Normalize the block toolbar
  packages/block-editor/src/components/block-alignment-matrix-control/README.md
  packages/block-editor/src/components/block-alignment-matrix-control/index.js
  packages/block-editor/src/components/block-alignment-matrix-control/style.scss
  packages/block-editor/src/components/block-alignment-matrix-toolbar/README.md
  packages/block-editor/src/components/block-controls/fill.js
  packages/block-editor/src/components/block-controls/groups.js
  packages/block-editor/src/components/block-controls/index.js
  packages/block-editor/src/components/block-controls/slot.js
  packages/block-editor/src/components/block-controls/slot.native.js
  packages/block-editor/src/components/block-format-controls/README.md
  packages/block-editor/src/components/block-format-controls/index.js
  packages/block-editor/src/components/block-full-height-alignment-control/README.md
  packages/block-editor/src/components/block-full-height-alignment-control/index.js
  packages/block-editor/src/components/block-full-height-alignment-toolbar/index.js
  packages/block-editor/src/components/block-toolbar/index.js
  packages/block-editor/src/components/block-toolbar/index.native.js
  packages/block-editor/src/components/block-toolbar/style.scss
  packages/block-editor/src/components/index.js
  packages/block-editor/src/components/index.native.js
  packages/block-editor/src/components/rich-text/format-toolbar-container.js
  packages/block-editor/src/components/rich-text/format-toolbar-container.native.js
  packages/block-editor/src/components/rich-text/format-toolbar/index.js
  packages/block-editor/src/components/rich-text/format-toolbar/index.native.js
  packages/block-editor/src/components/rich-text/format-toolbar/style.scss
  packages/block-editor/src/components/rich-text/style.scss
  packages/block-editor/src/hooks/align.js
  packages/block-editor/src/style.scss
  packages/block-library/src/cover/edit.js
  packages/block-library/src/cover/edit.native.js
  packages/components/src/slot-fill/index.js
  packages/components/src/toolbar-group/style.scss
Labels: Needs Dev Note, [Block] Cover, [Feature] Block API, [Type] Enhancement, [Type] New API

#29823 Gallery Block: Fix the crop images setting
  packages/block-library/src/gallery/style.scss
Labels: [Block] Gallery

#29769 List View: Visual and design improvements
  packages/base-styles/_variables.scss
  packages/block-editor/src/components/block-navigation/style.scss
  packages/block-library/src/navigation/use-block-navigator.js
  packages/components/src/modal/header.js
  packages/components/src/modal/style.scss
  packages/edit-post/src/components/manage-blocks-modal/style.scss
Labels: [Block] Navigation, [Feature] List View

#29820 Verse block: Add support for the padding to the verse block
  packages/block-library/src/verse/block.json
  packages/block-library/src/verse/editor.scss
Labels: Global Styles, [Block] Verse, [Feature] Full Site Editing

#29439 Update template details popover
  packages/edit-site/src/components/template-details/index.js
  packages/edit-site/src/components/template-details/style.scss
Labels: [Feature] Site Editor

#29872 Site icon: Simplify focus style.
  packages/edit-post/src/components/header/fullscreen-mode-close/style.scss
Labels: CSS Styling

#29873 Testing: Allow TypeScript modules for transpiled packages
  test/unit/jest.config.js
Labels: Automated Testing

#29510 Try: Fix overzealous aspect ratio scaling for embeds
  packages/block-library/src/embed/test/index.js
  packages/block-library/src/embed/util.js
  packages/e2e-tests/specs/editor/various/__snapshots__/embedding.test.js.snap
Labels: [Block] Embed, [Type] Bug

#29659 Try: more accessible labels.
  packages/block-library/src/social-link/index.php
Labels: [Block] Social

#29889 Fix mover width/size regressions
  packages/block-editor/src/components/block-list/style.scss
  packages/block-editor/src/components/block-mover/style.scss
Labels: [Type] Bug, [Type] Regression

#29592 Components: Add Heading
  package-lock.json
  packages/components/package.json
  packages/components/src/ui/control-group/test/__snapshots__/index.js.snap
  packages/components/src/ui/control-label/test/__snapshots__/index.js.snap
  packages/components/src/ui/form-group/test/__snapshots__/index.js.snap
  packages/components/src/ui/heading/README.md
  packages/components/src/ui/heading/component.ts
  packages/components/src/ui/heading/hook.ts
  packages/components/src/ui/heading/index.ts
  packages/components/src/ui/heading/stories/index.js
  packages/components/src/ui/heading/test/__snapshots__/index.js.snap
  packages/components/src/ui/heading/test/index.js
  packages/components/src/ui/index.js
  packages/components/src/ui/text/test/__snapshots__/text.js.snap
Labels: Storybook, [Feature] Component System, [Package] Components
