Repository WordPress/gutenberg, pull requests merged in 2021-12, with the labels that each got.

#36940 Custom color palette: add default color name
  packages/components/src/palette-edit/index.js
Labels: [Type] Enhancement, [Status] In Progress, Backport to WP Beta/RC, Global Styles

#36895 ToolsPanel: Prevent tools panel menu increasing empty panel height
  packages/components/CHANGELOG.md
  packages/components/src/tools-panel/styles.ts
Labels: [Feature] UI Components, CSS Styling

#36993 Fix wordbreak for URLs
  packages/block-editor/src/components/link-control/style.scss
Labels: [Type] Bug, Backport to WP Beta/RC, [Feature] Link Editing

#36949 [Edit Post]: Remove EditPostSettings context provider
  packages/edit-post/src/components/block-manager/category.js
  packages/edit-post/src/components/edit-post-settings/index.js
  packages/edit-post/src/editor.js
Labels: [Type] Code Quality, [Package] Edit Post

#36990 Navigation: Try removing absorb toolbar prop.
  packages/block-library/src/navigation-submenu/edit.js
  packages/block-library/src/navigation/edit/inner-blocks.js
Labels: [Type] Bug, [Block] Navigation, Backport to WP Beta/RC

#36978 Move Global Styles code to `lib/compat/wordpress-5.9` folder
  .github/CODEOWNERS
  lib/compat/wordpress-5.9/class-wp-theme-json-gutenberg.php
  lib/compat/wordpress-5.9/class-wp-theme-json-resolver-gutenberg.php
  lib/compat/wordpress-5.9/class-wp-theme-json-schema-gutenberg.php
  lib/compat/wordpress-5.9/theme-i18n.json
  lib/compat/wordpress-5.9/theme.json
  lib/load.php
Labels: [Type] Code Quality, Backport to WP Beta/RC, Global Styles

#37024 Remove useless bubblesVirtually prop from BlockInspector
  packages/block-editor/src/components/block-inspector/index.js
  packages/block-editor/src/components/inspector-controls/block-support-slot-container.js
  packages/block-editor/src/components/inspector-controls/slot.js
Labels: [Type] Code Quality, [Package] Block editor

#37015 Add: Corners to custom color picker popover
  packages/components/src/color-palette/style.scss
Labels: Backport to WP Beta/RC, Global Styles

#37016 Add: Missing margin to the color picker clear button
  packages/components/src/circular-option-picker/style.scss
Labels: Backport to WP Beta/RC, Global Styles

#36579 Components: improve `vertical` and RTL support for `Divider`
  packages/components/CHANGELOG.md
  packages/components/src/card/test/__snapshots__/index.js.snap
  packages/components/src/divider/README.md
  packages/components/src/divider/component.tsx
  packages/components/src/divider/stories/index.js
  packages/components/src/divider/styles.ts
  packages/components/src/divider/test/__snapshots__/index.js.snap
  packages/components/src/divider/test/index.js
  packages/components/src/divider/types.ts
Labels: [Type] Enhancement, [Package] Components, [Feature] Component System

#37022 Site editor: remove extra border radius.
  packages/edit-site/src/components/block-editor/style.scss
Labels: [Type] Enhancement, [Feature] Site Editor

#36991 Navigation: Fix navigation justifications.
  packages/block-library/src/navigation/style.scss
Labels: [Type] Bug, [Block] Navigation, Backport to WP Beta/RC

#37026 Remove the deprecated navigation area block from the inserter
  packages/block-library/src/navigation-area/block.json
Labels: [Block] Navigation, [Block] Navigation Area

#37025 [RNMobile] Add context to `Add block` string
  packages/block-editor/src/components/inserter/index.native.js
Labels: [Type] Enhancement, Mobile App - i.e. Android or iOS

#36801 Add tests for the new gallery hooks
  packages/block-library/src/gallery/test/use-get-new-images.js
Labels: Automated Testing, [Block] Gallery

#36984 Fix returning empty array in getEntityRecords for unknown entities
  packages/core-data/CHANGELOG.md
  packages/core-data/src/selectors.js
  packages/core-data/src/test/selectors.js
Labels: [Type] Bug, [Package] Core data

#37033 Fix color issue for captions with hyperlinks in Gallery block
  packages/block-library/src/gallery/style.scss
Labels: [Block] Gallery, First-time Contributor

#36898 Use core version of template and template part post types and REST endpoints for WP 5.9, with back compat for 5.8
  lib/compat/wordpress-5.9/block-template-utils.php
  lib/compat/wordpress-5.9/class-gutenberg-block-template.php
  lib/compat/wordpress-5.9/class-gutenberg-rest-templates-controller.php
  lib/compat/wordpress-5.9/template-parts.php
  lib/compat/wordpress-5.9/templates.php
  lib/full-site-editing/template-loader.php
  lib/full-site-editing/template-parts.php
  lib/full-site-editing/templates.php
  lib/load.php
  phpunit/class-block-templates-test.php
  phpunit/class-gutenberg-rest-global-styles-controller-test.php
  phpunit/class-gutenberg-rest-template-controller-test.php
Labels: [Type] Bug, Core REST API Task, Backport to WP Beta/RC, [Block] Template Part

#37004 Template revert flow: Make label description source agnostic
  packages/edit-site/src/components/list/actions/index.js
  packages/edit-site/src/components/template-details/index.js
  packages/edit-site/src/components/template-details/template-areas.js
Labels: Backport to WP Beta/RC, [Feature] Full Site Editing, [Feature] Site Editor

#37057 [ Comments Pagination Block ] - Add default styling on the editor
  packages/block-library/src/style.scss
Labels: [Type] Bug, [Block] Comment Template

#37028 Polish color indicator and itemgroup.
  packages/block-editor/src/components/colors-gradients/style.scss
  packages/components/CHANGELOG.md
  packages/components/src/color-indicator/style.scss
  packages/edit-site/src/components/global-styles/style.scss
Labels: [Package] Components, [Feature] Component System

#36681 query-pagination-next and previous: Changing the markup on the first and last pages of a pagination
  lib/block-supports/layout.php
  packages/block-library/src/query-pagination-next/index.php
  packages/block-library/src/query-pagination-previous/index.php
  packages/block-library/src/query-pagination/style.scss
Labels: First-time Contributor, [Block] Query Pagination

#36283 ESLint v8 (#35576)
  package-lock.json
  packages/api-fetch/src/test/index.js
  packages/block-editor/src/components/link-control/test/index.js
  packages/block-library/src/navigation/menu-items-to-blocks.js
  packages/block-serialization-default-parser/test/index.js
  packages/block-serialization-spec-parser/shared-tests.js
  packages/block-serialization-spec-parser/test/index.js
  packages/env/lib/config/test/config.js
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/configs/recommended.js
  packages/eslint-plugin/package.json
  packages/eslint-plugin/rules/data-no-store-string-literals.js
  packages/jest-preset-default/CHANGELOG.md
  packages/jest-preset-default/jest-preset.js
  packages/redux-routine/src/test/index.js
  packages/scripts/CHANGELOG.md
  packages/scripts/package.json
Labels: [Type] Breaking Change, [Package] ESLint plugin

#36900 Gradients: Enable adding custom gradient when gradients are disabled
  packages/block-editor/src/components/colors/with-colors.js
  packages/block-editor/src/components/gradients/use-gradient.js
  packages/block-editor/src/hooks/color.js
  packages/block-editor/src/hooks/use-color-props.js
  packages/components/CHANGELOG.md
  packages/components/src/gradient-picker/index.js
  packages/components/src/gradient-picker/stories/index.js
Labels: [Type] Bug, Backport to WP Beta/RC, [Feature] Design Tools

#37091 [Block Library]: Rename Query Pagination blocks
  packages/block-library/src/query-pagination-next/block.json
  packages/block-library/src/query-pagination-numbers/block.json
  packages/block-library/src/query-pagination-previous/block.json
  packages/block-library/src/query-pagination/block.json
Labels: [Package] Block library, [Block] Query Pagination

#37009 [Block Library - Navigation]: Fix vertical layout
  lib/block-supports/layout.php
Labels: [Type] Regression, [Block] Navigation, Backport to WP Beta/RC

#37051 Gradient: Fix clearing a custom gradient from throwing a React warning
  packages/block-editor/src/hooks/color.js
  packages/block-editor/src/hooks/test/color.js
Labels: [Type] Bug, Backport to WP Beta/RC, [Feature] Design Tools

#37100 Block fixtures: Change port to 8889 to placate KSES
  test/integration/fixtures/blocks/core__file__pdf-preview.html
  test/integration/fixtures/blocks/core__file__pdf-preview.json
  test/integration/fixtures/blocks/core__file__pdf-preview.parsed.json
  test/integration/fixtures/blocks/core__file__pdf-preview.serialized.html
  test/integration/fixtures/blocks/core__file__pdf-preview__deprecated-1.html
  test/integration/fixtures/blocks/core__file__pdf-preview__deprecated-1.json
  test/integration/fixtures/blocks/core__file__pdf-preview__deprecated-1.parsed.json
  test/integration/fixtures/blocks/core__file__pdf-preview__deprecated-1.serialized.html
Labels: [Type] Bug, Automated Testing

#36689 Docs: Update documenation contributors guide with doc types
  docs/contributors/documentation/README.md
Labels: [Type] Documentation

#36887 Block Editor: Mark last change as persistent on save
  packages/e2e-tests/specs/site-editor/multi-entity-saving.test.js
  packages/editor/src/components/entities-saved-states/index.js
Labels: [Type] Bug, [Feature] Block settings menu

#37122 PHP Unit Tests: Use global transients
  lib/class-wp-rest-url-details-controller.php
  phpunit/class-wp-rest-url-details-controller-test.php
Labels: Automated Testing, Backport to WP Beta/RC

#36424 Remove CSS that causes conflict with theme.json
  packages/block-library/src/columns/editor.scss
Labels: [Type] Bug, [Block] Columns, Backport to WP Beta/RC, Global Styles

#36884 Add actions which fire during the loading process of block template parts
  packages/block-library/src/template-part/index.php
Labels: [Type] Task, Backport to WP Beta/RC, [Block] Template Part

#37108 Fix usage of useSetting('color.palette')
  packages/block-editor/src/components/colors/with-colors.js
  packages/block-editor/src/hooks/color.js
  packages/block-editor/src/hooks/use-color-props.js
Labels: Automated Testing, Backport to WP Beta/RC

#36837 Update micromodal, include click-through fix
  package-lock.json
  packages/block-library/package.json
Labels: [Type] Bug, [Block] Navigation, Backport to WP Beta/RC

#37021 Fix gutenberg prefixed function references in core
  lib/full-site-editing/edit-site-page.php
  lib/load.php
  lib/navigation.php
  packages/block-library/src/navigation/index.php
Labels: [Type] Bug, [Block] Navigation, Backport to WP Beta/RC

#37050 Gallery: remove placeholder border
  packages/block-library/src/gallery/editor.scss
Labels: [Type] Bug, [Block] Gallery

#37012 Block Styles: add preview pane to widget editor
  packages/block-editor/src/components/block-inspector/index.js
  packages/edit-post/src/components/layout/index.js
  packages/edit-widgets/src/components/layout/interface.js
Labels: [Type] Enhancement, [Package] Edit Widgets, [Feature] Block Variations

#37134 Gallery block: enable the new gallery block by default if running in core
  packages/block-library/src/gallery/shared.js
Labels: Gutenberg Plugin, [Block] Gallery, Backport to WP Beta/RC

#37097 `Card`: support the `extraSmall` option for the `size` prop
  packages/components/CHANGELOG.md
  packages/components/src/card/styles.js
  packages/components/src/card/test/__snapshots__/index.js.snap
  packages/components/src/card/test/index.js
  packages/components/src/card/types.ts
Labels: [Type] Bug, [Package] Components, Backport to WP Beta/RC, [Feature] Component System

#36997 Site Editor: Remove unused PHP code
  lib/compat/wordpress-5.9/template-parts.php
  lib/compat/wordpress-5.9/templates.php
  lib/full-site-editing/template-loader.php
  lib/full-site-editing/templates-utils.php
  lib/load.php
  phpunit/full-site-editing/template-loader-test.php
Labels: [Type] Code Quality, Backport to WP Beta/RC, [Feature] Site Editor

#37136 E2E Tests: Increase delay in image block e2e test to fix intermittent failure when clearing url field
  packages/e2e-tests/specs/editor/blocks/image.test.js
Labels: [Type] Code Quality, [Package] E2E Tests

#37137 Fix mistake in _remove_theme_attribute_in_block_template_content
  lib/compat/wordpress-5.9/block-template-utils.php
Labels: [Type] Bug, [Feature] Templates API, Backport to WP Beta/RC

#37098 Remove some labels from the experiments sections of the changelog
  bin/plugin/commands/changelog.js
  bin/plugin/commands/test/__snapshots__/changelog.js.snap
Labels: [Type] Build Tooling

#37135 Switch to addEventListener for load event in the navigation block view script
  packages/block-library/src/navigation/view.js
Labels: [Type] Bug, [Block] Navigation, Backport to WP Beta/RC

#36065 Comment Template block: Handle nested comments
  packages/block-library/src/comment-template/block.json
  packages/block-library/src/comment-template/edit.js
  packages/block-library/src/comment-template/index.php
  packages/block-library/src/comment-template/style.scss
  packages/block-library/src/comment-template/test/index.js
  packages/block-library/src/comment-template/util.js
  packages/block-library/src/comments-query-loop/block.json
  packages/block-library/src/style.scss
  phpunit/class-block-library-comment-template-test.php
  test/integration/fixtures/blocks/core__comments-query-loop.json
Labels: [Type] Enhancement, [Block] Comment Template

#36720 Navigation: Add clearance for appender in submenus.
  packages/block-library/src/navigation-submenu/edit.js
  packages/block-library/src/navigation/editor.scss
Labels: [Block] Navigation, Backport to WP Beta/RC

#37132 Fix docs and function naming for gallery block registration in PHP
  packages/block-library/src/gallery/index.php
  packages/block-library/src/image/index.php
Labels: [Block] Gallery, Backport to WP Beta/RC

#37142 Move the block page templates hook into compat/5.9 folder
  lib/compat/wordpress-5.9/wp-theme-get-post-templates.php
  lib/load.php
Labels: [Type] Code Quality, Backport to WP Beta/RC

#37074 FSE: Fix template resolution to give precedence to child theme PHP templates over parent theme block templates with equal specificity
  lib/full-site-editing/template-loader.php
Labels: Backport to WP Beta/RC, [Feature] Full Site Editing

#37129 Remove the semicolons from the JSON examples
  docs/reference-guides/block-api/block-supports.md
Labels: First-time Contributor

#37112 Storybook: Fix deprecated `disabled` key
  packages/components/src/alignment-matrix-control/stories/index.js
  packages/components/src/base-control/stories/index.js
  packages/components/src/button/stories/index.js
  packages/components/src/card/stories/index.js
  packages/components/src/checkbox-control/stories/index.js
  packages/components/src/color-indicator/stories/index.js
  packages/components/src/color-palette/stories/index.js
  packages/components/src/color-picker/stories/index.js
  packages/components/src/confirm-dialog/stories/index.js
  packages/components/src/date-time/stories/index.js
  packages/components/src/date-time/stories/time.js
  packages/components/src/dropdown-menu/stories/index.js
  packages/components/src/elevation/stories/index.js
  packages/components/src/external-link/stories/index.js
  packages/components/src/font-size-picker/stories/index.js
  packages/components/src/form-token-field/stories/index.js
  packages/components/src/gradient-picker/stories/index.js
  packages/components/src/grid/stories/index.js
  packages/components/src/guide/stories/index.js
  packages/components/src/icon/stories/index.js
  packages/components/src/input-control/stories/index.js
  packages/components/src/item-group/stories/index.js
  packages/components/src/modal/stories/index.js
  packages/components/src/notice/stories/index.js
  packages/components/src/number-control/stories/index.js
  packages/components/src/panel/stories/index.js
  packages/components/src/placeholder/stories/index.js
  packages/components/src/popover/stories/index.js
  packages/components/src/range-control/stories/index.js
  packages/components/src/resizable-box/stories/index.js
  packages/components/src/scrollable/stories/index.js
  packages/components/src/search-control/stories/index.js
  packages/components/src/select-control/stories/index.js
  packages/components/src/slot-fill/stories/index.js
  packages/components/src/snackbar/stories/index.js
  packages/components/src/spacer/stories/index.js
  packages/components/src/surface/stories/index.js
  packages/components/src/tab-panel/stories/index.js
  packages/components/src/text-control/stories/index.js
  packages/components/src/text-highlight/stories/index.js
  packages/components/src/textarea-control/stories/index.js
  packages/components/src/tip/stories/index.js
  packages/components/src/toggle-control/stories/index.js
  packages/components/src/toggle-group-control/stories/index.js
  packages/components/src/toolbar-button/stories/index.js
  packages/components/src/tooltip/stories/index.js
  packages/components/src/tree-select/stories/index.js
  packages/components/src/truncate/stories/index.js
  packages/components/src/unit-control/stories/index.js
  packages/components/src/z-stack/stories/index.js
  storybook/preview.js
Labels: [Type] Bug, [Type] Documentation, Storybook

#37139 E2E Tests: Update Multi Entity Saving test to improve reliability
  packages/e2e-test-utils/CHANGELOG.md
  packages/e2e-test-utils/README.md
  packages/e2e-test-utils/src/get-option.js
  packages/e2e-test-utils/src/index.js
  packages/e2e-test-utils/src/set-option.js
  packages/e2e-tests/specs/editor/blocks/site-title.test.js
  packages/e2e-tests/specs/site-editor/multi-entity-saving.test.js
Labels: [Type] Code Quality, [Package] E2E Test Utils, [Package] E2E Tests

#37161 Refactor the `gutenberg_is_fse_theme` function to use `wp_is_block_theme`
  lib/compat/wordpress-5.9/template-parts.php
  lib/compat/wordpress-5.9/templates.php
  lib/full-site-editing/full-site-editing.php
Labels: [Type] Enhancement, [Feature] Themes

#37121 Docs: update broken links
  docs/reference-guides/block-api/block-attributes.md
  docs/reference-guides/block-api/block-deprecation.md
Labels: [Type] Documentation, First-time Contributor

#36387 ToolsPanel: Standardize input control label margin
  packages/components/CHANGELOG.md
  packages/components/src/tools-panel/styles.ts
Labels: [Type] Enhancement, [Feature] UI Components, [Feature] Design Tools

#37062 Format library: fix unsetting highlight color
  packages/e2e-tests/specs/editor/various/format-library/__snapshots__/text-color.test.js.snap
  packages/e2e-tests/specs/editor/various/format-library/text-color.test.js
  packages/format-library/src/text-color/index.js
  packages/format-library/src/text-color/inline.js
Labels: [Type] Bug, [Package] Format library, Backport to WP Beta/RC

#37141 Better synchronisation between Gutenberg and Core code
  lib/compat/wordpress-5.9/theme-templates.php
  lib/full-site-editing/default-template-types.php
  lib/full-site-editing/edit-site-page.php
  lib/full-site-editing/template-loader.php
  lib/load.php
Labels: [Type] Code Quality, Backport to WP Beta/RC

#37150 Specify the WP versions where API were deprecated
  packages/block-editor/src/components/block-tools/back-compat.js
  packages/block-editor/src/components/button-block-appender/index.js
  packages/block-editor/src/components/selection-scroll-into-view/index.js
  packages/block-editor/src/store/actions.js
  packages/components/src/checkbox-control/index.js
  packages/components/src/clipboard-button/index.js
  packages/components/src/drop-zone/provider.js
  packages/components/src/focusable-iframe/index.js
  packages/compose/src/higher-order/with-state/index.js
  packages/compose/src/hooks/use-copy-on-click/index.js
  packages/editor/src/store/selectors.js
Labels: [Type] Code Quality

#37175 Site Editor: Elevate "Editor" menu item
  lib/full-site-editing/full-site-editing.php
Labels: [Type] Enhancement, [Feature] Site Editor

#37149 Moves to the template loader hooks and functions into lib/compat folder
  lib/compat/wordpress-5.9/block-template.php
  lib/compat/wordpress-5.9/template-canvas.php
  lib/load.php
Labels: [Type] Code Quality, Backport to WP Beta/RC

#37165 Remove versioning in theme schema descriptions
  schemas/json/theme.json
Labels: [Type] Documentation

#37184 Site Editor: Fix failing E2E test
  packages/e2e-tests/specs/site-editor/settings-sidebar.test.js
Labels: [Type] Bug, Automated Testing, [Feature] Site Editor

#36694 Docs: Add how to guide documentation template
  docs/contributors/documentation/README.md
  docs/contributors/documentation/how-to-guide-template.md
Labels: [Type] Documentation

#36925 ColorPalette: Improving accessibility and visibility
  packages/block-editor/src/components/color-palette/test/__snapshots__/control.js.snap
  packages/components/CHANGELOG.md
  packages/components/src/color-palette/index.js
  packages/components/src/color-palette/style.scss
  packages/components/src/color-palette/test/__snapshots__/index.js.snap
Labels: Accessibility (a11y), [Feature] UI Components, [Package] Components

#36851 Fix CSS Custom Properties for presets in the site editor
  lib/global-styles.php
  packages/block-editor/src/utils/transform-styles/index.js
  packages/edit-site/src/components/global-styles/use-global-styles-output.js
Labels: [Type] Bug, Backport to WP Beta/RC, Global Styles, [Feature] Site Editor

#37131 Site Editor: Display a notice if export fails
  packages/edit-site/src/plugins/index.js
  packages/edit-site/src/plugins/site-export.js
Labels: [Type] Bug, Backport to WP Beta/RC, [Feature] Site Editor

#37191 Docs: Fix link to how to guide template
  docs/contributors/documentation/README.md
Labels: [Type] Documentation

#36685 Docs: Consolidate React Native documentation
  docs/contributors/code/README.md
  docs/contributors/code/react-native/README.md
  docs/contributors/code/react-native/getting-started-react-native.md
  docs/contributors/code/react-native/integration-test-guide.md
  docs/contributors/code/react-native/osx-setup-guide.md
  docs/contributors/code/testing-overview.md
  docs/manifest.json
  docs/toc.json
  packages/react-native-editor/README.md
Labels: [Type] Documentation

#37017 [@wordpress/data]: Refactor use-select in preparation for adding types
  packages/data/README.md
  packages/data/src/components/use-select/index.js
Labels: [Type] Code Quality, [Package] Data

#37186 Hide remove control point when removing would break gradient control
  packages/components/src/custom-gradient-bar/control-points.js
Labels: [Type] Bug, [Package] Components, Backport to WP Beta/RC

#37133 Block Styles: remove duplicate styles
  packages/block-editor/src/components/block-styles/style.scss
Labels: [Type] Code Quality, CSS Styling, [Feature] Block Variations

#37048 Border panel: Update the value of the ColorPicker when color is cleared
  packages/block-editor/src/hooks/border-color.js
Labels: [Type] Bug, [Feature] Design Tools

#37212 Remove Navigation Menus from WP Admin sidebar
  lib/navigation.php
  packages/block-library/src/navigation/edit/navigation-menu-selector.js
Labels: Needs Design Feedback, [Block] Navigation, Backport to WP Beta/RC

#37176 Site Editor: Update support doc URL in Welcome Guide
  packages/edit-site/src/components/welcome-guide/styles.js
Labels: [Type] Task, Backport to WP Beta/RC, [Feature] Site Editor

#37215 Site Editor: Use server definition for the Template Areas
  packages/edit-site/src/components/sidebar/template-card/template-areas.js
  packages/edit-site/src/components/template-details/template-areas.js
  packages/edit-site/src/store/constants.js
Labels: [Type] Bug, [Priority] High, Backport to WP Beta/RC, [Feature] Site Editor

#37187 Don't request the deprecated navigation areas endpoint outside of the Gutenberg plugin
  packages/block-library/src/navigation/edit/index.js
Labels: [Type] Bug, [Block] Navigation, Backport to WP Beta/RC, [Block] Navigation Area

#37218 Synchronize wp_is_block_theme and block-templates block support with Core
  lib/client-assets.php
  lib/compat.php
  lib/compat/wordpress-5.8/block-editor.php
  lib/compat/wordpress-5.9/block-template.php
  lib/compat/wordpress-5.9/default-theme-supports.php
  lib/compat/wordpress-5.9/move-theme-editor-menu-item.php
  lib/compat/wordpress-5.9/template-parts.php
  lib/compat/wordpress-5.9/templates.php
  lib/compat/wordpress-5.9/theme-templates.php
  lib/compat/wordpress-5.9/theme.php
  lib/compat/wordpress-5.9/wp-theme-get-post-templates.php
  lib/editor-settings.php
  lib/full-site-editing/full-site-editing.php
  lib/global-styles.php
  lib/init.php
  lib/load.php
  lib/navigation.php
Labels: [Type] Code Quality, Backport to WP Beta/RC

#37151 Fix HTML drop issues with the Windows browsers
  packages/block-editor/src/components/use-on-block-drop/index.js
  packages/components/src/drop-zone/index.js
Labels: First-time Contributor

#37180 Global Styles: Add Welcome Guide toggle
  packages/edit-site/src/components/sidebar/global-styles-sidebar.js
  packages/edit-site/src/components/welcome-guide/editor.js
  packages/edit-site/src/components/welcome-guide/index.js
  packages/edit-site/src/components/welcome-guide/styles.js
  packages/edit-site/src/plugins/welcome-guide-menu-item.js
Labels: [Type] Enhancement, Global Styles

#37226 Fix theme requirement validation with WP 5.8
  lib/compat/wordpress-5.9/theme.php
Labels: [Type] Regression, [Feature] Themes

#37213 Site Editor: Hide the block appender in the Template Part editor
  packages/edit-site/src/components/block-editor/index.js
Labels: [Type] Bug, Backport to WP Beta/RC, [Feature] Site Editor

#37219 E2E: Retry login again after a bad nonce request to prevent intermittent test failures
  packages/e2e-test-utils/src/rest-api.js
Labels: [Type] Enhancement, Automated Testing, Backport to WP Beta/RC

#37214 Re-enable most of the navigation block e2e tests
  packages/e2e-test-utils/src/ensure-sidebar-opened.js
  packages/e2e-test-utils/src/open-publish-panel.js
  packages/e2e-test-utils/src/publish-post.js
  packages/e2e-tests/specs/editor/blocks/__snapshots__/navigation.test.js.snap
  packages/e2e-tests/specs/editor/blocks/navigation.test.js
  packages/e2e-tests/specs/editor/fixtures/menu-items-request-fixture.json
Labels: Automated Testing, [Block] Navigation

#37242 Search Block: Fix application of border color class in the editor
  packages/block-library/src/search/edit.js
Labels: [Block] Search, CSS Styling

#37235 Fix WP 5.9 check for conditionally running code
  lib/compat/wordpress-5.9/template-parts.php
  lib/compat/wordpress-5.9/templates.php
Labels: [Type] Bug, Core REST API Task, [Feature] Templates API, Backport to WP Beta/RC

#36488 Add client side routing for Site Editor
  lib/full-site-editing/edit-site-page.php
  package-lock.json
  packages/edit-site/package.json
  packages/edit-site/src/components/add-new-template/new-template-part.js
  packages/edit-site/src/components/add-new-template/new-template.js
  packages/edit-site/src/components/app/index.js
  packages/edit-site/src/components/block-editor/back-button.js
  packages/edit-site/src/components/create-template-part-modal/index.js
  packages/edit-site/src/components/edit-template-part-menu-button/index.js
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/list/index.js
  packages/edit-site/src/components/list/style.scss
  packages/edit-site/src/components/list/table.js
  packages/edit-site/src/components/navigation-sidebar/index.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/index.js
  packages/edit-site/src/components/routes/index.js
  packages/edit-site/src/components/routes/link.js
  packages/edit-site/src/components/routes/use-title.js
  packages/edit-site/src/components/template-details/index.js
  packages/edit-site/src/components/template-details/template-areas.js
  packages/edit-site/src/components/template-part-converter/convert-to-template-part.js
  packages/edit-site/src/components/url-query-controller/index.js
  packages/edit-site/src/index.js
  packages/edit-site/src/store/actions.js
  packages/edit-site/src/store/reducer.js
  packages/edit-site/src/store/selectors.js
  packages/edit-site/src/store/test/reducer.js
  packages/edit-site/src/store/test/selectors.js
  packages/edit-site/src/utils/get-is-list-page.js
  packages/edit-site/src/utils/history.js
Labels: Needs Accessibility Feedback, Backport to WP Beta/RC, [Feature] Full Site Editing

#37249 Site Editor: Fix edit template part link in header dropdown
  packages/edit-site/src/components/template-details/template-areas.js
Labels: [Type] Bug, Backport to WP Beta/RC, [Feature] Site Editor

#37027 Mobile - RichText - Fix issue with font sizes with decimal values
  packages/block-editor/src/utils/parse-css-unit-to-px.js
  packages/block-editor/src/utils/test/parse-css-unit-to-px.js
  packages/rich-text/src/component/index.native.js
  packages/rich-text/src/test/index.native.js
Labels: Mobile App - i.e. Android or iOS

#37224 [Components - ToggleGroupControl]: Fix extra update on incoming change
  packages/components/CHANGELOG.md
  packages/components/src/toggle-group-control/toggle-group-control/component.tsx
Labels: [Type] Bug, [Package] Components

#37008 Do not remove theme presets if defaults are hidden
  lib/compat/wordpress-5.9/class-wp-theme-json-gutenberg.php
  phpunit/class-wp-theme-json-test.php
Labels: [Type] Bug, Backport to WP Beta/RC, [Feature] Themes, Global Styles

#36028 Mobile - Highlight words
  packages/components/src/button/index.native.js
  packages/components/src/mobile/color-settings/index.native.js
  packages/components/src/mobile/color-settings/palette.screen.native.js
  packages/components/src/mobile/color-settings/style.native.scss
  packages/format-library/src/default-formats.native.js
  packages/format-library/src/text-color/index.native.js
  packages/format-library/src/text-color/inline.js
  packages/format-library/src/text-color/inline.native.js
  packages/format-library/src/text-color/style.native.scss
  packages/react-native-aztec/RNTAztecView.podspec
  packages/react-native-aztec/android/build.gradle
  packages/react-native-aztec/android/src/main/java/org/wordpress/mobile/ReactNativeAztec/ReactAztecText.java
  packages/react-native-aztec/ios/RNTAztecView/RCTAztecView.swift
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Podfile.lock
  packages/rich-text/src/component/index.native.js
  packages/rich-text/src/get-format-colors.native.js
Labels: Mobile App - i.e. Android or iOS

#36960 Allow selector ordering to ensure theme.json root selector margin takes precedence
  lib/compat/wordpress-5.9/class-wp-theme-json-gutenberg.php
  phpunit/class-wp-theme-json-test.php
Labels: [Type] Bug, Backport to WP Beta/RC, Global Styles

#36934 Radio's still experimental but was loaded directly
  packages/components/src/radio-group/README.md
Labels: [Type] Documentation, [Package] Components, First-time Contributor

#36800 Fix missing link for shortcut documentation
  packages/components/src/menu-item/README.md
Labels: [Type] Documentation

#36555 Add information about skip links to the block theme overview
  docs/how-to-guides/themes/block-theme-overview.md
Labels: [Type] Documentation

#36405 Add a documentation note about inner blocks and excerpts
  packages/block-editor/src/components/inner-blocks/README.md
Labels: [Type] Documentation

#37049 Border panel: Don't restore deselected border color when width changed from zero
  packages/block-editor/src/hooks/border-width.js
Labels: [Type] Bug, [Feature] Design Tools

#35787 Image block: Set image display to grid when no alignment sent to properly align caption on resize
  packages/block-library/src/image/editor.scss
  packages/e2e-tests/specs/editor/blocks/cover.test.js
  packages/e2e-tests/specs/editor/blocks/image.test.js
Labels: [Type] Bug, [Block] Image, Backport to WP Beta/RC

#36362 Fix "type" for Prefix transformation
  docs/reference-guides/block-api/block-transforms.md
Labels: [Type] Documentation, First-time Contributor

#36662 DuotonePicker typo fix
  packages/components/src/duotone-picker/README.md
Labels: [Type] Documentation, First-time Contributor

#37233 Update QueryControls README.md
  packages/components/src/query-controls/README.md
Labels: [Type] Documentation, First-time Contributor

#37157 Remove template parts from post content inserter an __unstable filter
  packages/block-editor/src/store/selectors.js
  packages/block-library/src/template-part/index.js
  packages/e2e-tests/specs/site-editor/multi-entity-saving.test.js
  packages/e2e-tests/specs/site-editor/template-part.test.js
  packages/edit-post/src/index.js
Labels: [Package] Edit Post, [Block] Template Part, [Package] Edit Site

#37244 Border Style Control: Update styling for consistency with border width control
  packages/block-editor/src/components/border-style-control/style.scss
Labels: [Type] Bug, [Package] Components, [Feature] Design Tools

#34061 Border controls: add defaults in the ToolPanel
  packages/block-library/src/button/block.json
  packages/block-library/src/code/block.json
  packages/block-library/src/group/block.json
  packages/block-library/src/image/block.json
  packages/block-library/src/pullquote/block.json
  packages/block-library/src/pullquote/style.scss
  packages/block-library/src/search/block.json
  packages/block-library/src/search/edit.js
  packages/block-library/src/search/index.php
  packages/block-library/src/table/block.json
  packages/block-library/src/table/style.scss
Labels: [Status] In Progress, [Status] Blocked, [Block] Image, [Block] Table, [Block] Buttons, [Block] Pullquote, [Block] Group, [Block] Search, [Feature] Design Tools

#37268 Docs: Fix code formating for card components
  packages/components/src/card/card/README.md
Labels: [Type] Documentation

#37270 Revert "Site Editor: Set the <title> on the list page to be same as the CPT name"
  lib/full-site-editing/edit-site-page.php
Labels: [Type] Code Quality, Backport to WP Beta/RC, [Feature] Site Editor

#37271 Site Editor: Document Actions: add SR text to heading 1
  packages/e2e-tests/specs/site-editor/document-settings.test.js
  packages/edit-site/src/components/header/document-actions/index.js
Labels: [Type] Enhancement, Accessibility (a11y), Backport to WP Beta/RC, [Feature] Full Site Editing, [Package] Edit Site, [Feature] Site Editor

#37254 Fix how `appearanceTools` works
  lib/compat/wordpress-5.9/class-wp-theme-json-gutenberg.php
  phpunit/class-wp-theme-json-test.php
Labels: [Type] Bug, [Status] In Progress, Backport to WP Beta/RC, Global Styles

#37257 Move WP 5.9 wp-admin menus compatibility code to lib/compat folder
  lib/compat/wordpress-5.9/admin-menu.php
  lib/full-site-editing/edit-site-page.php
  lib/load.php
Labels: [Type] Code Quality, Backport to WP Beta/RC

#37245 Fix form-submit styles by adding button classes to the submit-button in post-comments block
  packages/block-library/src/post-comments/block.json
  packages/block-library/src/post-comments/index.php
Labels: [Type] Bug, Backport to WP Beta/RC, [Block] Post Comments

#37238 Fix post comment form input width
  packages/block-library/src/post-comments-form/style.scss
  packages/block-library/src/post-comments/style.scss
Labels: [Type] Bug, Backport to WP Beta/RC, [Block] Post Comments Form, [Block] Post Comments

#37192 Docs: DimentionControl Importing From Wrong Package
  packages/components/src/dimension-control/README.md
Labels: [Type] Documentation

#37284 Link Control: Hide Transforms when no options are available
  packages/block-library/src/navigation-link/edit.js
Labels: [Type] Bug, [Block] Navigation Link

#37281 Updated typo in example
  packages/block-editor/src/components/link-control/README.md
Labels: First-time Contributor

#37282 Do not register global styles CPT in WordPress 5.9
  lib/compat/wordpress-5.9/register-global-styles-cpt.php
  lib/global-styles.php
  lib/init.php
Labels: [Type] Code Quality, Global Styles

#37115 Update: Make the color popover on the gradient picker appear as expected
  packages/block-editor/src/components/colors-gradients/control.js
  packages/components/src/color-palette/index.js
  packages/components/src/color-palette/test/__snapshots__/index.js.snap
  packages/components/src/custom-gradient-bar/constants.js
  packages/components/src/custom-gradient-bar/control-points.js
  packages/components/src/custom-gradient-bar/index.js
  packages/components/src/custom-gradient-picker/index.js
  packages/components/src/gradient-picker/index.js
  packages/components/src/palette-edit/index.js
Labels: Backport to WP Beta/RC, Global Styles

#37294 Update README.md
  schemas/README.md
Labels: [Type] Documentation

#37269 Backport JSON schemas for WP 5.8
  schemas/CHANGELOG.md
  schemas/README.md
  schemas/json/block.json
  schemas/json/theme.json
Labels: [Type] Documentation

#37307 Corrected 404 in contributors doc README for Copy Guidelines
  docs/contributors/documentation/README.md
Labels: First-time Contributor

#37193 Block editor: iframe: use block settings to pass assets
  lib/client-assets.php
  packages/block-editor/src/components/block-preview/auto.js
  packages/block-editor/src/components/iframe/index.js
  packages/block-editor/src/store/defaults.js
  packages/edit-post/src/components/visual-editor/index.js
  packages/edit-site/src/components/block-editor/resizable-editor.js
  packages/editor/src/components/provider/use-block-editor-settings.js
Labels: [Type] Code Quality

#37296 Fix styles for previews and patterns
  lib/global-styles.php
Labels: [Type] Bug, Backport to WP Beta/RC, Global Styles, [Feature] Patterns

#37253 Move duotone palette to the bottom of global styles gradients
  packages/edit-site/src/components/global-styles/gradients-palette-panel.js
Labels: Backport to WP Beta/RC, Global Styles

#37210 Image: Fix resizer controls being hidden in Safari when switching between alignments
  packages/block-library/src/image/image.js
Labels: [Type] Bug, [Block] Image, Backport to WP Beta/RC

#36950 Add/navigation blocks post processing after migration from menu items
  packages/block-library/src/navigation/menu-items-to-blocks.js
Labels: [Block] Navigation, Backport to WP Beta/RC

#36842 Global Styles: Move the 'Edit colors' button to a standard menu item
  packages/components/src/palette-edit/index.js
  packages/components/src/palette-edit/style.scss
Labels: Backport to WP Beta/RC, Global Styles

#37189 Fix: Build failure on Windows
  bin/packages/build-worker.js
  bin/packages/build.js
Labels: [Type] Build Tooling

#37315 Only use block markup for comment form button when using a block theme
  packages/block-library/src/post-comments-form/index.php
  packages/block-library/src/post-comments/index.php
Labels: [Type] Bug, Backport to WP Beta/RC, [Block] Post Comments Form, [Block] Post Comments

#37290 Heading and Text Components are experimental
  packages/components/src/card/card/README.md
Labels: [Type] Documentation, [Package] Components

#37280 Fix content loss when ungrouping template parts or reusable blocks
  packages/block-editor/src/store/reducer.js
  packages/e2e-tests/specs/editor/various/block-grouping.test.js
Labels: [Type] Bug, [Feature] Reusable Blocks, Backport to WP Beta/RC, [Block] Template Part

#37283 Simplify the RESET_BLOCK action to fix template part focus mode content loss
  packages/block-editor/src/store/reducer.js
Labels: [Type] Bug, Backport to WP Beta/RC

#37293 [Global Styles]: Make Blocks section more distinguishable
  packages/edit-site/src/components/global-styles/screen-root.js
Labels: Backport to WP Beta/RC, Global Styles

#37229 Remove 4 instances of 'gutenberg' text domain from WordPress core
  packages/block-library/src/navigation-submenu/index.php
  packages/block-library/src/page-list/index.php
Labels: [Type] Bug, Internationalization (i18n), Backport to WP Beta/RC

#37259 Mobile Release v1.68.0
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS

#36910 Templates: Search for old template names in the parent theme too
  lib/compat/wordpress-5.9/block-template-utils.php
  packages/block-library/src/template-part/index.php
Labels: [Type] Bug, Backport to WP Beta/RC

#37323 Navigation: Refactor modal padding to be simpler and more flexible.
  packages/block-library/src/navigation/style.scss
Labels: [Type] Enhancement, [Block] Navigation

#37196 Comments Query Loop: Improve context handling in inner blocks
  lib/blocks.php
  lib/compat/experimental/blocks.php
  lib/load.php
  packages/block-library/src/comment-template/block.json
  packages/block-library/src/comment-template/edit.js
  packages/block-library/src/comment-template/index.php
  packages/block-library/src/comments-pagination-numbers/block.json
  packages/block-library/src/comments-pagination-numbers/index.php
  packages/block-library/src/comments-query-loop/block.json
  packages/block-library/src/comments-query-loop/edit.js
  packages/block-library/src/comments-query-loop/toolbar.js
  phpunit/class-block-library-comment-template-test.php
  test/integration/fixtures/blocks/core__comments-query-loop.json
Labels: [Type] Enhancement, [Block] Comments Query Loop, [Block] Comment Template

#37298 Docs: Update Format API how to guide
  docs/how-to-guides/format-api.md
  docs/how-to-guides/format-api/1-register-format.md
  docs/how-to-guides/format-api/2-toolbar-button.md
  docs/how-to-guides/format-api/3-apply-format.md
  docs/how-to-guides/format-api/README.md
  docs/manifest.json
  docs/toc.json
Labels: [Type] Documentation

#37321 Navigation: Fix vertical alignment of page list in modal.
  packages/block-library/src/navigation/style.scss
Labels: [Block] Navigation, Backport to WP Beta/RC, [Block] Page List

#37332 Fix: ToggleGroupControl active state
  packages/components/src/toggle-group-control/toggle-group-control-option/styles.ts
Labels: [Feature] UI Components, Backport to WP Beta/RC

#37338 Docs: Add closing ticks for blockGap code example
  docs/how-to-guides/themes/theme-json.md
Labels: [Type] Documentation

#37341 Remove gutenberg_ prefix from @wordpress/block-library
  packages/block-library/src/post-comments-form/index.php
  packages/block-library/src/post-comments/index.php
Labels: [Type] Code Quality, [Package] Block library, Backport to WP Beta/RC

#37349 Navigation: Remove hardcoded typography units
  packages/block-library/src/home-link/index.php
  packages/block-library/src/navigation-link/index.php
  packages/block-library/src/navigation-submenu/index.php
  packages/block-library/src/page-list/index.php
Labels: [Type] Bug, [Block] Navigation, Backport to WP Beta/RC, [Block] Navigation Link

#37334 Port global styles code to `lib/compat/wordpress-5.9`: css custom properties
  lib/compat/wordpress-5.9/global-styles-css-custom-properties.php
  lib/global-styles.php
  lib/load.php
Labels: [Type] Code Quality, Global Styles

#28273 Scripts: Enable React Fast Refresh for block development
  lib/client-assets.php
  package-lock.json
  package.json
  packages/dependency-extraction-webpack-plugin/lib/util.js
  packages/scripts/CHANGELOG.md
  packages/scripts/README.md
  packages/scripts/config/webpack.config.js
  packages/scripts/package.json
  packages/scripts/scripts/start.js
  tools/webpack/development.js
  webpack.config.js
Labels: [Type] Build Tooling, [Package] Scripts

#37335 Port global styles code to `lib/compat/wordpress-5.9`: front assets
  lib/compat/wordpress-5.9/script-loader.php
  lib/global-styles.php
  lib/load.php
Labels: [Type] Code Quality, Global Styles

#37209 Site editor: Handle parsed request.
  packages/edit-site/src/plugins/site-export.js
Labels: Backport to WP Beta/RC

#37328 Packages: Include `@babel/core` as a dependency where applicable
  package-lock.json
  packages/eslint-plugin/package.json
  packages/jest-preset-default/package.json
  packages/scripts/package.json
Labels: [Type] Bug, [Package] Scripts, [Package] Jest preset, [Package] ESLint plugin

#37364 Data: Ensure that `redux` is listed as a dependency
  package-lock.json
  package.json
  packages/data/CHANGELOG.md
  packages/data/package.json
  packages/redux-routine/package.json
Labels: [Type] Code Quality, [Package] Data, [Package] Redux Routine

#37359 Template Editor Mode: Hide editor mode switcher
  packages/edit-post/src/components/header/mode-switcher/index.js
Labels: [Type] Bug, [Feature] Template Editing Mode
