Repository WordPress/gutenberg, pull requests merged in 2021-02, with the labels that each got.

#28513 Add eslint rules to guard against unexpected imports/exports
  .eslintrc.js
  package-lock.json
  package.json
  packages/block-editor/src/store/test/actions.js
  packages/components/src/form-token-field/test/lib/token-field-wrapper.js
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/configs/recommended-with-formatting.js
Labels: [Package] ESLint plugin, [Type] Bug

#28625 Render nothing if featured image doesn't exist
  packages/block-library/src/post-featured-image/index.php
Labels: [Block] Post Featured Image, [Type] Bug

#28523 [RNMobile] Correct displaying full-width Buttons block
  packages/block-library/src/button/edit.native.js
  packages/block-library/src/buttons/edit.native.js
Labels: Mobile App Android/iOS, [Block] Buttons

#28629 Fix lint issues (proper number of spaces)
  lib/class-wp-rest-pattern-directory-controller.php
  lib/class-wp-theme-json.php
  lib/global-styles.php
Labels: Automated Testing

#28628 Fix legacy settings tests for custom spacing
  phpunit/class-wp-theme-json-legacy-settings-test.php
Labels: Automated Testing

#28623 Try updating composer packages
  composer.json
  composer.lock
Labels: [Type] Task

#27467 [RNMobile] Audio Player UI for audio block
  packages/base-styles/_colors.native.scss
  packages/block-editor/src/components/media-upload-progress/index.native.js
  packages/block-library/src/audio/edit.native.js
  packages/block-library/src/audio/style.native.scss
  packages/block-library/src/file/test/__snapshots__/edit.native.js.snap
  packages/components/src/index.native.js
  packages/components/src/mobile/audio-player/index.native.js
  packages/components/src/mobile/audio-player/styles.scss
  packages/components/src/spinner/index.native.js
Labels: Mobile App Android/iOS

#28635 [RNMobile] Correct condition in setting blockWidth
  packages/block-editor/src/components/block-list/block.native.js
Labels: Mobile App Android/iOS

#28627 add `minHeightUnit` to latest core/cover deprecation
  packages/block-library/CHANGELOG.md
  packages/block-library/src/cover/deprecated.js
  packages/e2e-tests/fixtures/blocks/core__cover__deprecated-6.html
  packages/e2e-tests/fixtures/blocks/core__cover__deprecated-6.json
  packages/e2e-tests/fixtures/blocks/core__cover__deprecated-6.parsed.json
  packages/e2e-tests/fixtures/blocks/core__cover__deprecated-6.serialized.html
Labels: First-time Contributor, [Block] Cover, [Type] Regression

#28632 [RNMobile] Fix height of the bottom-sheet after using back button
  packages/components/src/mobile/bottom-sheet/bottom-sheet-navigation/navigation-container.native.js
Labels: Mobile App Android/iOS

#28594 [RNMobile] Enable Audio Block
  packages/block-library/src/index.native.js
  packages/react-native-editor/CHANGELOG.md
Labels: Mobile App Android/iOS

#28595 Mobile - Link - Fix clipboard keeping previous state
  packages/format-library/src/link/index.native.js
Labels: Mobile App Android/iOS

#28638 Fix e2e failures on 'Front Page' template.
  packages/e2e-tests/specs/experiments/multi-entity-editing.test.js
  packages/e2e-tests/specs/experiments/multi-entity-saving.test.js
  packages/e2e-tests/specs/experiments/template-part.test.js
Labels: Automated Testing, [Package] E2E Tests

#18042 Add URL Details endpoint to REST API to allow retrieval of info about a remote URL
  lib/class-wp-rest-url-details-controller.php
  lib/load.php
  lib/rest-api.php
  phpunit/class-wp-rest-url-details-controller-test.php
  phpunit/fixtures/example-website.html
Labels: REST API Interaction, [Block] Navigation, [Type] Enhancement

#28569 Contact info inner blocks disappearing
  packages/block-editor/src/components/block-list/index.native.js
Labels: Mobile App Android/iOS

#28382 Clear block selection in the navigation editor when clicking editor canvas
  packages/block-editor/src/components/skip-to-selected-block/index.js
  packages/e2e-tests/specs/experiments/navigation-editor.test.js
  packages/edit-navigation/src/components/editor/block-view.js
  packages/edit-navigation/src/components/editor/style.scss
  packages/edit-navigation/src/components/layout/style.scss
Labels: CSS Styling, [Feature] Navigation Screen, [Type] Enhancement

#28583 Try: New Buttons icon.
  packages/block-library/src/buttons/index.js
  packages/icons/src/index.js
  packages/icons/src/library/button.js
  packages/icons/src/library/buttons.js
Labels: [Block] Buttons, [Package] Icons

#28576 Add element-selector to group block
  packages/block-library/src/group/edit.js
  packages/block-library/src/template-part/edit/index.js
Labels: [Block] Group, [Package] Block library, [Type] Enhancement

#28649 [RNMobile] Update unsupported block test data for UI tests
  packages/react-native-editor/__device-tests__/helpers/test-data.js
Labels: Mobile App Android/iOS, [Type] Bug

#28639 Update theme.json docs
  docs/designers-developers/developers/themes/theme-json.md
Labels: Global Styles, [Type] Documentation

#28598 Make parent block selector visible and offset the toolbar.
  packages/block-editor/src/components/block-list/block-contextual-toolbar.js
  packages/block-editor/src/components/block-parent-selector/index.js
  packages/block-editor/src/components/block-toolbar/index.js
  packages/block-editor/src/components/block-toolbar/style.scss
  packages/e2e-tests/specs/editor/various/toolbar-roving-tabindex.test.js
Labels: [Feature] Nested / Inner Blocks, [Status] In Progress

#28655 Fix codetabs use in theme.json docs
  docs/designers-developers/developers/themes/theme-json.md
Labels: [Type] Bug, [Type] Documentation

#28651 Update layout icon to use g2 design language
  packages/icons/src/library/layout.js
Labels: [Package] Icons

#28657 theme.json docs: expand use of codetabs
  docs/designers-developers/developers/themes/theme-json.md
Labels: Global Styles, [Type] Documentation

#28351 Allow the query block to work on singular pages when inheriting the global query
  packages/block-library/src/query-loop/index.php
Labels: [Block] Query, [Feature] Full Site Editing

#28235 [RNMobile] Performance improvements in Cover related controls
  packages/block-editor/src/components/colors-gradients/panel-color-gradient-settings.native.js
  packages/block-library/src/cover/edit.native.js
  packages/block-library/src/cover/overlay-color-settings.native.js
Labels: Mobile App Android/iOS, [Type] Performance

#28626 [Navigation Link]: Add block variation matcher to display information from a found match
  packages/block-library/src/navigation-link/index.js
  packages/block-library/src/navigation-link/variations.js
Labels: [Block] Navigation

#28413 Site Editor: Fix gray screen on refresh when editing pages and posts
  packages/edit-site/src/store/actions.js
Labels: [Feature] Full Site Editing

#27715 E2E Tests: Document Settings
  packages/e2e-tests/specs/experiments/document-settings.test.js
Labels: [Feature] Full Site Editing, [Package] E2E Tests

#28439 Abstract Justification Toolbar to it's own block-editor component
  packages/block-editor/CHANGELOG.md
  packages/block-editor/README.md
  packages/block-editor/src/components/index.js
  packages/block-editor/src/components/justify-toolbar/README.md
  packages/block-editor/src/components/justify-toolbar/index.js
  packages/block-editor/src/components/justify-toolbar/style.scss
  packages/block-editor/src/style.scss
  packages/block-library/src/navigation/edit.js
  packages/block-library/src/navigation/style.scss
Labels: [Block] Navigation, [Package] Block editor

#28621 Fix issue where gallery block requests all attachments when empty
  packages/media-utils/src/components/media-upload/index.js
Labels: Backport to WP Minor Release, [Feature] Media, [Type] Bug, [Type] Performance

#28667 Fix a typo in a link of the handbook page
  docs/contributors/document.md
Labels: developer-docs

#28660 Interim fix for Latest Posts focus on load
  packages/block-library/src/latest-posts/edit.js
Labels: [Block] Latest Posts, [Type] Bug

#28603 Padding Edit: Fix handling of custom unit theme setting
  packages/block-editor/src/hooks/padding.js
Labels: [Feature] Design Tools, [Type] Bug

#28653 Try: Cover position fix round 2
  packages/block-library/src/embed/style.scss
Labels: Backport to WP Beta/RC, [Block] Cover, [Block] Embed, [Type] Bug

#28448 Fixed Social Icons shape, and horizontal and vertical alignments (fixes #28340)
  packages/block-library/src/social-links/style.scss
Labels: First-time Contributor, [Block] Navigation, [Block] Social, [Type] Bug

#28698 [RNMobile] Move custom indicator to be rendered above the colors
  packages/components/src/color-palette/index.native.js
  packages/components/src/color-palette/style.native.scss
Labels: Mobile App Android/iOS, [Type] Bug

#28609 Components: Add G2 Flex
  packages/components/src/flex/block.js
  packages/components/src/flex/index.js
  packages/components/src/flex/item.js
  packages/components/src/flex/next.js
  packages/components/src/flex/styles/flex-styles.js
  packages/components/src/font-size-picker/index.js
  packages/components/src/input-control/input-base.js
  packages/components/src/input-control/styles/input-control-styles.js
  packages/components/src/text/index.js
  packages/components/src/text/next.js
  packages/components/src/ui/context/with-next.js
  packages/components/src/ui/flex/README.md
  packages/components/src/ui/flex/flex-block.js
  packages/components/src/ui/flex/flex-item.js
  packages/components/src/ui/flex/flex-styles.js
  packages/components/src/ui/flex/flex.js
  packages/components/src/ui/flex/index.js
  packages/components/src/ui/flex/stories/index.js
  packages/components/src/ui/flex/test/__snapshots__/index.js.snap
  packages/components/src/ui/flex/test/index.js
  packages/components/src/ui/flex/types.ts
  packages/components/src/ui/flex/use-flex-block.js
  packages/components/src/ui/flex/use-flex-item.js
  packages/components/src/ui/flex/use-flex.js
  packages/components/src/ui/index.js
  packages/components/src/ui/utils/types.ts
  packages/components/tsconfig.json
Labels: [Feature] Component System, [Package] Components

#28641 Update Versions in WordPress to include 5.6.1 & 5.7
  docs/contributors/versions-in-wordpress.md
Labels: [Type] Documentation, [Type] Enhancement

#28694 Fix insertUsage persistence in block-editor store
  packages/data/src/plugins/persistence/index.js
Labels: Backport to WP Beta/RC, [Package] Data, [Type] Regression

#28508 Transform paragraph block to buttons block
  packages/block-library/src/buttons/transforms.js
Labels: [Block] Buttons

#28590 Site Editor: Fix inserter can't be closed
  packages/e2e-tests/specs/experiments/site-editor-inserter.test.js
  packages/edit-site/src/components/header/index.js
Labels: [Feature] Full Site Editing

#28592 E2E tests: Handle upgrade screen
  packages/e2e-test-utils/src/visit-admin-page.js
Labels: Automated Testing, [Package] E2E Test Utils

#28695 Site Editor: Replace core/edit-site store name with store object
  packages/edit-site/src/components/block-editor/index.js
  packages/edit-site/src/components/editor/global-styles-provider.js
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/editor/utils.js
  packages/edit-site/src/components/header/feature-toggle/index.js
  packages/edit-site/src/components/header/index.js
  packages/edit-site/src/components/navigation-sidebar/index.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/content-navigation.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/index.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/menus/content-posts.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/navigation-entity-items.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/new-template-dropdown.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/template-navigation-item.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/templates-navigation.js
  packages/edit-site/src/components/navigation-sidebar/navigation-toggle/index.js
  packages/edit-site/src/components/sidebar/color-palette-panel.js
  packages/edit-site/src/components/template-details/index.js
  packages/edit-site/src/components/url-query-controller/index.js
  packages/edit-site/src/store/actions.js
  packages/edit-site/src/store/index.js
  packages/edit-site/src/store/test/actions.js
  packages/edit-site/src/store/test/reducer.js
  packages/edit-site/src/store/test/selectors.js
Labels: [Feature] Site Editor, [Type] Code Quality

#28704 [RNMobile] Move back disabled style for button in File block
  packages/block-library/src/file/style.native.scss
Labels: Mobile App Android/iOS, [Type] Bug

#28724 build-worker: extract the functions that build CSS and JS
  bin/packages/build-worker.js
Labels: [Type] Build Tooling

#28723 build-worker: call callback with error when no task for extension
  bin/packages/build-worker.js
Labels: [Type] Bug, [Type] Build Tooling

#28721 Fix label only mode parent selector.
  packages/block-editor/src/components/block-toolbar/style.scss
Labels: [Type] Bug, [Type] Regression

#28663 Calculate frecency for block variations properly
  packages/block-editor/src/store/reducer.js
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/reducer.js
  packages/e2e-tests/specs/editor/plugins/block-variations.test.js
Labels: [Feature] Block Variations, [Feature] Inserter

#28544 Data: graduate the __experimentalResolveSelect function to a stable status
  package-lock.json
  packages/data/CHANGELOG.md
  packages/data/README.md
  packages/data/src/controls.js
  packages/data/src/index.js
  packages/data/src/redux-store/index.js
  packages/data/src/registry.js
  packages/edit-navigation/src/store/controls.js
  packages/edit-navigation/src/store/test/controls.js
  packages/edit-widgets/src/store/controls.js
Labels: Needs Dev Note, [Package] Data, [Type] New API

#28725 Hooks: export the defaultHooks singleton instance
  packages/hooks/CHANGELOG.md
  packages/hooks/README.md
  packages/hooks/src/index.js
Labels: [Package] Hooks

#28727 Fix post title icon color
  packages/icons/src/library/post-title.js
Labels: [Type] Bug

#28696 Unit Tests Workflow: Enable for documentation-only PRs
  .github/workflows/unit-test.yml
Labels: Automated Testing

#28729 Code Quality: Relax JSDoc validation for typed packages
  .eslintrc.js
  packages/components/src/ui/utils/create-component.js
  packages/i18n/src/create-i18n.js
  packages/keycodes/src/index.js
  packages/token-list/src/index.js
  packages/url/src/get-query-arg.js
Labels: [Type] Code Quality

#28732 Site and Widgets Editor: Fix complementary area not opening
  packages/edit-site/src/components/editor/index.js
  packages/edit-widgets/src/components/layout/interface.js
  packages/edit-widgets/src/components/sidebar/index.js
Labels: [Feature] Site Editor, [Feature] Widgets Screen, [Package] Edit Site, [Package] Edit Widgets, [Type] Regression

#28691 Use display title for template part block type toolbar anchor.
  packages/block-editor/src/components/block-switcher/index.js
  packages/block-editor/src/components/block-switcher/style.scss
  packages/block-editor/src/components/block-title/index.js
  packages/block-editor/src/components/block-title/test/index.js
  packages/blocks/README.md
  packages/blocks/src/api/index.js
  packages/blocks/src/api/registration.js
Labels: [Block] Template-Part

#28677 [RNMobile] Audio Block shallow rendering tests
  packages/block-library/src/audio/test/__snapshots__/edit.native.js.snap
  packages/block-library/src/audio/test/edit.native.js
Labels: Mobile App Android/iOS, [Block] Audio

#28752 Full Site Editing: Fix template parts loading on frontend
  packages/block-library/src/template-part/index.php
Labels: Backport to WP Beta/RC, [Feature] Full Site Editing, [Type] Bug

#28759 Refactored Gallery: Fix gallery gutter size css variable
  packages/block-library/src/gallery/edit.js
  packages/block-library/src/gallery/save.js
Labels: [Block] Gallery

#28762 Docs: Replacing 'below' typo in documentation
  changelog.txt
  packages/base-styles/_z-index.scss
  packages/block-library/src/cover/style.scss
  packages/interface/README.md
  packages/interface/src/components/action-item/README.md
Labels: [Type] Documentation

#28610 [RNMobile] Show "Add to beginning" and "Add to end" option always
  packages/block-editor/src/components/inserter/index.native.js
  packages/react-native-editor/CHANGELOG.md
Labels: Mobile App Android/iOS

#28602 [New block] Post Navigation Link
  lib/blocks.php
  packages/block-library/src/index.js
  packages/block-library/src/post-navigation-link/block.json
  packages/block-library/src/post-navigation-link/edit.js
  packages/block-library/src/post-navigation-link/index.js
  packages/block-library/src/post-navigation-link/index.php
  packages/block-library/src/post-navigation-link/variations.js
  packages/e2e-tests/fixtures/blocks/core__post-navigation-link.html
  packages/e2e-tests/fixtures/blocks/core__post-navigation-link.json
  packages/e2e-tests/fixtures/blocks/core__post-navigation-link.parsed.json
  packages/e2e-tests/fixtures/blocks/core__post-navigation-link.serialized.html
  packages/icons/src/index.js
  packages/icons/src/library/next.js
  packages/icons/src/library/previous.js
Labels: Needs Design Feedback, New Block, [Feature] Full Site Editing

#28731 Fix global styles in iframed site editor
  packages/block-editor/src/components/iframe/index.js
  packages/edit-site/src/components/block-editor/index.js
Labels: Global Styles, [Feature] Site Editor, [Type] Bug

#28631 Components: Allow extra props for RadioControl component
  packages/components/src/radio-control/index.js
Labels: First-time Contributor, [Package] Components, [Type] Enhancement

#28485 Try: Fix buttons faux space-between.
  packages/base-styles/_variables.scss
  packages/block-library/src/button/style.scss
  packages/block-library/src/buttons/editor.scss
  packages/block-library/src/buttons/style.scss
Labels: Backport to WP Beta/RC, [Block] Buttons, [Type] Bug

#28697 Categories block: display message instead of empty content
  packages/block-library/src/categories/edit.js
Labels: First-time Contributor, [Block] Categories, [Type] Enhancement

#28700 Load page templates via theme.json abstractions
  lib/class-wp-theme-json-resolver.php
  lib/class-wp-theme-json.php
  lib/full-site-editing/page-templates.php
  lib/load.php
  phpunit/class-wp-theme-json-test.php
Labels: Global Styles, [Feature] Full Site Editing

#28733 i18n hooks: don't use typeof to check value falsiness
  packages/i18n/src/create-i18n.js
Labels: [Package] i18n

#28634 Mobile Release v1.46.0
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App Android/iOS

#28025 Update `npm run native start` to include cleanup
  docs/contributors/getting-started-native-mobile.md
  packages/react-native-editor/package.json
Labels: Mobile App Android/iOS

#28786 Improve performance on file access of `experimental-theme.json`
  lib/global-styles.php
Labels: Global Styles, [Type] Performance

#28788 Move theme.json support check to class
  lib/class-wp-theme-json-resolver.php
  lib/global-styles.php
Labels: Global Styles, [Type] Code Quality

#27944 [RNMobile] Using deferredEventEmitter to wait for the Editor to be mounted before issuing replaceBlock signal
  packages/react-native-bridge/android/src/main/java/org/wordpress/mobile/ReactNativeGutenbergBridge/GutenbergBridgeJS2Parent.java
  packages/react-native-bridge/android/src/main/java/org/wordpress/mobile/ReactNativeGutenbergBridge/RNReactNativeGutenbergBridgeModule.java
  packages/react-native-bridge/android/src/main/java/org/wordpress/mobile/WPAndroidGlue/DeferredEventEmitter.java
  packages/react-native-bridge/android/src/main/java/org/wordpress/mobile/WPAndroidGlue/WPAndroidGlueCode.java
  packages/react-native-bridge/index.js
  packages/react-native-bridge/ios/GutenbergBridgeDelegate.swift
  packages/react-native-bridge/ios/RNReactNativeGutenbergBridge.m
  packages/react-native-bridge/ios/RNReactNativeGutenbergBridge.swift
  packages/react-native-editor/android/app/src/main/java/com/gutenberg/MainApplication.java
  packages/react-native-editor/ios/GutenbergDemo/GutenbergViewController.swift
Labels: Mobile App Android/iOS, [Type] Enhancement

#28666 Fix sidebar settings block card icon shrinking
  packages/block-editor/src/components/block-card/style.scss
Labels: [Type] Bug

#28722 Site Editor: Expose edit-site store
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/index.js
  packages/edit-site/src/store/index.js
  packages/edit-site/src/store/test/actions.js
  packages/edit-site/src/store/test/reducer.js
  packages/edit-site/src/store/test/selectors.js
Labels: [Package] Edit Site, [Type] Code Quality

#28707 Components: Add G2 HStack
  package-lock.json
  packages/components/package.json
  packages/components/src/ui/flex/types.ts
  packages/components/src/ui/h-stack/README.md
  packages/components/src/ui/h-stack/h-stack-utils.js
  packages/components/src/ui/h-stack/h-stack.js
  packages/components/src/ui/h-stack/index.js
  packages/components/src/ui/h-stack/stories/HStack.stories.js
  packages/components/src/ui/h-stack/test/__snapshots__/index.js.snap
  packages/components/src/ui/h-stack/test/index.js
  packages/components/src/ui/h-stack/types.ts
  packages/components/src/ui/h-stack/use-h-stack.js
  packages/e2e-tests/specs/editor/various/font-size-picker.test.js
Labels: [Feature] Component System, [Package] Components

#28794 Pattern Directory API: Add a `keyword` filter parameter
  lib/class-wp-rest-pattern-directory-controller.php
  phpunit/class-wp-rest-pattern-directory-controller-test.php
  phpunit/fixtures/rest-api/pattern-directory/browse-keyword-11.json
Labels: [Feature] Pattern Directory

#28770 [RNMobile] Invert the expect matcher values of the e2e tests
  packages/react-native-editor/__device-tests__/gutenberg-editor-block-insertion.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-image-@canary.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-lists-@canary.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-lists-end.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-lists.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-paste.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-rotation.test.js
Labels: Mobile App Android/iOS, [Type] Task

#28816 RangeControl: Fix input / slider widths
  packages/components/src/range-control/styles/range-control-styles.js
Labels: [Feature] UI Components, [Package] Components, [Type] Bug

#28764 Navigation screen: Fix failing request for menu items
  packages/edit-navigation/src/components/header/index.js
  packages/edit-navigation/src/components/layout/index.js
  packages/edit-navigation/src/components/layout/use-navigation-editor.js
  packages/edit-navigation/src/components/toolbar/save-button.js
  packages/edit-navigation/src/store/resolvers.js
  packages/edit-navigation/src/store/test/resolvers.js
Labels: [Feature] Navigation Screen, [Type] Bug

#28772 Adjust defaults for COMPONENT_SYSTEM_PHASE variable
  package.json
  webpack.config.js
Labels: [Type] Task

#28265 Add basic pages block
  lib/blocks.php
  packages/block-library/src/editor.scss
  packages/block-library/src/index.js
  packages/block-library/src/navigation/edit.js
  packages/block-library/src/navigation/placeholder.js
  packages/block-library/src/page-list/block.json
  packages/block-library/src/page-list/edit.js
  packages/block-library/src/page-list/editor.scss
  packages/block-library/src/page-list/index.js
  packages/block-library/src/page-list/index.php
  packages/block-library/src/page-list/style.scss
  packages/block-library/src/style.scss
  packages/e2e-tests/fixtures/blocks/core__page-list.html
  packages/e2e-tests/fixtures/blocks/core__page-list.json
  packages/e2e-tests/fixtures/blocks/core__page-list.parsed.json
  packages/e2e-tests/fixtures/blocks/core__page-list.serialized.html
  packages/e2e-tests/specs/experiments/__snapshots__/navigation-editor.test.js.snap
  packages/e2e-tests/specs/experiments/navigation-editor.test.js
  packages/icons/src/index.js
  packages/icons/src/library/pages.js
Labels: New Block, [Type] Feature

#28118 Add a welcome comment to first time contributor PR
  packages/project-management-automation/lib/tasks/first-time-contributor-label/index.js
  packages/project-management-automation/lib/tasks/first-time-contributor-label/test/index.js
Labels: [Package] Project management automation, [Type] Enhancement, [Type] Project Management

#28675 Navigation Screen: Design Iteration
  packages/e2e-tests/specs/experiments/__snapshots__/navigation-editor.test.js.snap
  packages/e2e-tests/specs/experiments/navigation-editor.test.js
  packages/edit-navigation/src/components/editor/block-view.js
  packages/edit-navigation/src/components/editor/index.js
  packages/edit-navigation/src/components/editor/list-view.js
  packages/edit-navigation/src/components/editor/style.scss
  packages/edit-navigation/src/components/header/add-menu-form.js
  packages/edit-navigation/src/components/header/index.js
  packages/edit-navigation/src/components/header/save-button.js
  packages/edit-navigation/src/components/header/style.scss
  packages/edit-navigation/src/components/inspector-additions/style.scss
  packages/edit-navigation/src/components/layout/index.js
  packages/edit-navigation/src/components/layout/style.scss
  packages/edit-navigation/src/components/toolbar/block-inspector-dropdown.js
  packages/edit-navigation/src/components/toolbar/index.js
  packages/edit-navigation/src/components/toolbar/style.scss
  packages/edit-navigation/src/store/resolvers.js
  packages/edit-navigation/src/store/test/resolvers.js
  packages/edit-navigation/src/style.scss
Labels: Accessibility (a11y), Needs Design Feedback, [Feature] Navigation Screen, [Package] Edit Navigation

#28464 Improve button block appender.
  packages/block-editor/src/components/block-list-appender/style.scss
  packages/block-editor/src/components/button-block-appender/style.scss
  packages/block-library/src/navigation/editor.scss
  packages/block-library/src/social-links/editor.scss
Labels: [Block] Buttons, [Block] Navigation, [Block] Social, [Type] Bug, [Type] Code Quality

#28514 Polish Buttons block radius, and size.
  packages/block-library/src/button/style.scss
  packages/block-library/src/post-comments-form/style.scss
Labels: [Block] Buttons

#28777 block-directory package: Replace hardcoded store name strings
  package-lock.json
  packages/block-directory/package.json
  packages/block-directory/src/components/auto-block-uninstaller/index.js
  packages/block-directory/src/components/downloadable-blocks-panel/index.js
  packages/block-directory/src/plugins/get-install-missing/index.js
  packages/block-directory/src/plugins/get-install-missing/install-button.js
  packages/block-directory/src/store/selectors.js
Labels: [Feature] Block Directory, [Type] Code Quality

#28238 [RNMobile] Performance improvements in Buttons, Image and SocialLinks related controls
  packages/block-editor/src/components/block-styles/index.native.js
  packages/block-editor/src/components/block-styles/preview.native.js
  packages/block-library/src/button/color-edit.js
  packages/block-library/src/button/edit.native.js
  packages/block-library/src/buttons/content-justification-dropdown.js
  packages/block-library/src/buttons/edit.native.js
  packages/block-library/src/image/edit.native.js
  packages/block-library/src/missing/edit.native.js
  packages/block-library/src/social-link/edit.native.js
  packages/components/src/mobile/cycle-select-control/index.native.js
  packages/components/src/mobile/link-settings/index.native.js
  packages/components/src/mobile/link-settings/link-settings-navigation.native.js
  packages/components/src/mobile/link-settings/link-settings-screen.native.js
  packages/components/src/panel/actions.native.js
Labels: Mobile App Android/iOS, [Type] Performance

#26727 [RNMobile] Fix a11y issue in Cover block
  packages/block-library/src/cover/edit.native.js
  packages/components/src/mobile/image/image-editing-button.native.js
Labels: Accessibility (a11y), Mobile App Android/iOS

#28792 Bugfix: enqueue preset classes in the front-end
  lib/class-wp-theme-json.php
  phpunit/class-wp-theme-json-test.php
Labels: Global Styles, [Type] Bug

#28832 Fix top toolbar arrow gap
  packages/block-editor/src/components/block-list/style.scss
Labels: [Type] Enhancement

#28839 Add a description to the template part block.
  packages/block-library/src/template-part/index.js
Labels: [Block] Template-Part

#28828 Blocks: Move the logic for Template Part label to the block
  packages/block-library/src/template-part/index.js
  packages/blocks/src/api/utils.js
Labels: [Block] Template-Part, [Feature] Block API, [Type] Code Quality

#27446 [RNMobile] performance improvements
  package.json
  packages/block-editor/src/components/block-list/index.native.js
  packages/block-editor/src/components/block-variation-picker/index.native.js
  packages/block-editor/src/components/inserter/index.native.js
  packages/block-library/src/button/edit.native.js
  packages/block-library/src/buttons/edit.native.js
  packages/block-library/src/columns/edit.native.js
  packages/block-library/src/file/edit.native.js
  packages/block-library/src/media-text/edit.native.js
  packages/block-library/src/paragraph/edit.native.js
  packages/components/src/mobile/link-settings/index.native.js
  packages/edit-post/src/components/layout/index.native.js
  packages/react-native-editor/babel.config.js
  packages/rich-text/src/component/index.native.js
Labels: Mobile App Android/iOS, [Type] Performance

#27768 Try: useMergeRefs
  package-lock.json
  packages/block-editor/package.json
  packages/block-editor/src/components/iframe/index.js
  packages/components/package.json
  packages/components/src/modal/frame.js
  packages/components/src/panel/body.js
  packages/components/src/popover/index.js
  packages/compose/README.md
  packages/compose/package.json
  packages/compose/src/hooks/use-callback-ref/index.js
  packages/compose/src/hooks/use-constrained-tabbing/index.js
  packages/compose/src/hooks/use-dialog/index.js
  packages/compose/src/hooks/use-focus-on-mount/index.js
  packages/compose/src/hooks/use-focus-return/index.js
  packages/compose/src/hooks/use-merge-refs/index.js
  packages/compose/src/hooks/use-merge-refs/test/index.js
  packages/compose/src/index.js
  packages/edit-post/package.json
  packages/edit-post/src/components/visual-editor/index.js
  packages/interface/package.json
  packages/interface/src/components/interface-skeleton/index.js
Labels: [Package] Compose, [Type] New API

#28830 Rename pageTemplates config to customTemplates in theme.json
  docs/designers-developers/developers/themes/theme-json.md
  lib/class-wp-theme-json.php
  lib/full-site-editing/page-templates.php
  phpunit/class-wp-theme-json-test.php
Labels: [Feature] Full Site Editing, [Type] Experimental

#28824 Fix npm 7 compatability
  patches/patch-xcode.js
Labels: [Type] Bug, [Type] Build Tooling

#28799 Pattern Directory API: Return the block pattern value as content
  lib/class-wp-rest-pattern-directory-controller.php
  phpunit/fixtures/rest-api/pattern-directory/browse-all.json
  phpunit/fixtures/rest-api/pattern-directory/browse-category-2.json
  phpunit/fixtures/rest-api/pattern-directory/browse-keyword-11.json
  phpunit/fixtures/rest-api/pattern-directory/search-button.json
Labels: [Feature] Pattern Directory

#28798 Components: Add G2 VStack
  packages/components/src/ui/h-stack/stories/index.js
  packages/components/src/ui/index.js
  packages/components/src/ui/v-stack/README.md
  packages/components/src/ui/v-stack/index.js
  packages/components/src/ui/v-stack/test/__snapshots__/index.js.snap
  packages/components/src/ui/v-stack/test/index.js
  packages/components/src/ui/v-stack/types.ts
  packages/components/src/ui/v-stack/use-v-stack.js
  packages/components/src/ui/v-stack/v-stack.js
Labels: [Feature] UI Components, [Package] Components

#28866 Allow blank GitHub issues again
  .github/ISSUE_TEMPLATE/config.yml
Labels: [Type] Project Management

#28784 i18n: add new APIs for React bindings
  packages/i18n/CHANGELOG.md
  packages/i18n/README.md
  packages/i18n/src/create-i18n.js
  packages/i18n/src/default-i18n.js
  packages/i18n/src/index.js
  packages/i18n/src/test/create-i18n.js
  packages/i18n/src/test/subscribe-i18n.js
Labels: Internationalization (i18n), [Package] i18n

#28618 Add experimental flag and enable widgets screen in customizer
  docs/manifest.json
  lib/class-wp-sidebar-block-editor-control.php
  lib/class-wp-widget-block.php
  lib/client-assets.php
  lib/experiments-page.php
  lib/load.php
  lib/widgets-customize.php
  lib/widgets-page.php
  package-lock.json
  package.json
  packages/customize-widgets/.npmrc
  packages/customize-widgets/CHANGELOG.md
  packages/customize-widgets/README.md
  packages/customize-widgets/package.json
  packages/customize-widgets/src/components/sidebar-block-editor/index.js
  packages/customize-widgets/src/components/sidebar-block-editor/sidebar-adapter.js
  packages/customize-widgets/src/components/sidebar-block-editor/use-sidebar-block-editor.js
  packages/customize-widgets/src/create-sidebar-control.js
  packages/customize-widgets/src/index.js
  packages/customize-widgets/src/style.scss
  packages/edit-widgets/src/blocks/legacy-widget/edit/widget-preview.js
  packages/edit-widgets/src/components/layout/interface.js
  packages/edit-widgets/src/style.scss
Labels: [Feature] Widgets Customizer, [Type] Experimental

#28747 [Mobile] - Fix link selection
  packages/format-library/src/link/modal-screens/link-settings-screen.native.js
Labels: Mobile App Android/iOS

#28459 Show patterns in inserter for non-root level insert destinations
  packages/block-editor/src/components/inserter/block-patterns-tab.js
  packages/block-editor/src/components/inserter/hooks/use-patterns-state.js
  packages/block-editor/src/components/inserter/menu.js
  packages/block-editor/src/components/inserter/quick-inserter.js
  packages/block-editor/src/components/inserter/search-results.js
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/selectors.js
  packages/edit-post/src/editor.js
  packages/edit-site/src/components/editor/index.js
Labels: [Feature] Inserter

#27280 Navigation panel: Add search to content menus
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/constants.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/content-navigation-item.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/menus/content-categories.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/menus/content-pages.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/menus/content-posts.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/search-results.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/use-debounced-search.js
Labels: [Feature] Full Site Editing

#28838 Try darker social links state for dark themes.
  packages/block-library/src/social-links/editor.scss
Labels: CSS Styling, [Block] Social, [Feature] Themes, [Package] Block library, [Type] Enhancement

#28726 Add eslint rule for preventing string literals in select/dispatch/useDispatch
  .eslintrc.js
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/README.md
  packages/eslint-plugin/docs/rules/data-no-store-string-literals.md
  packages/eslint-plugin/rules/__tests__/data-no-store-string-literals.js
  packages/eslint-plugin/rules/data-no-store-string-literals.js
Labels: [Package] ESLint plugin, [Type] Code Quality, [Type] New API

#28836 Polish social links when inside navigation.
  packages/block-library/src/navigation/style.scss
  packages/block-library/src/social-links/editor.scss
Labels: [Block] Navigation, [Block] Social

#28229 FSE Navigation sidebar: Show single post template in posts templates
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/constants.js
Labels: [Feature] Full Site Editing

#28741 wp-env.json: Pin tt1-blocks dependency to v0.4.3
  .wp-env.json
  packages/env/lib/config/test/config.js
Labels: Automated Testing

#28246 Global Styles: Use context when translating entries in theme.json
  lib/class-wp-theme-json-resolver.php
  lib/experimental-i18n-theme.json
  phpunit/class-wp-theme-json-resolver-test.php
Labels: Global Styles, Internationalization (i18n)

#28894 Update React Native intro paragraph - minor docs edit
  docs/contributors/getting-started-native-mobile.md
Labels: [Type] Documentation

#28898 Text: Fix import in example of README file
  packages/components/src/text/README.md
Labels: [Package] Components, [Type] Documentation

#28766 [RNMobile] Change mediaFiles from string to a dictionary
  packages/react-native-bridge/ios/GutenbergBridgeDelegate.swift
  packages/react-native-bridge/ios/RNReactNativeGutenbergBridge.m
  packages/react-native-bridge/ios/RNReactNativeGutenbergBridge.swift
Labels: First-time Contributor, Mobile App Android/iOS

#28871 Fix block insertion a11y string
  packages/block-editor/src/components/inserter/hooks/use-insertion-point.js
Labels: Accessibility (a11y), Backport to WP Beta/RC, Internationalization (i18n), [Type] Bug

#28855 Iterate on the public API of WP_Theme_JSON_Resolver
  lib/class-wp-theme-json-resolver.php
  lib/full-site-editing/page-templates.php
  lib/global-styles.php
  phpunit/class-wp-theme-json-test.php
Labels: Global Styles, [Type] Code Quality

#28492 Components: Set a default for the ComboboxControl onFilterValueChange
  packages/components/src/combobox-control/index.js
  packages/components/src/combobox-control/stories/index.js
Labels: [Package] Components, [Type] Bug

#28904 Fix transparent navigation block submenus
  packages/block-library/src/navigation-link/editor.scss
  packages/block-library/src/navigation/style.scss
Labels: [Block] Navigation, [Type] Regression

#28882 Site Editor: Fix empty content when creating a new template
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/new-template-dropdown.js
  packages/edit-site/src/store/actions.js
Labels: [Feature] Full Site Editing, [Feature] Site Editor, [Type] Bug

#28520 [Inserter]: Add keyboard navigation in Patterns
  packages/block-editor/src/components/block-patterns-list/README.md
  packages/block-editor/src/components/block-patterns-list/index.js
  packages/block-editor/src/components/block-patterns-list/style.scss
  packages/block-editor/src/components/inserter/block-patterns-tab.js
  packages/block-editor/src/components/inserter/style.scss
  packages/e2e-test-utils/src/inserter.js
Labels: [Feature] Inserter, [Feature] Patterns

#28909 List all dependencies when checking licenses in NPM 7
  packages/scripts/CHANGELOG.md
  packages/scripts/scripts/check-licenses.js
Labels: [Package] Scripts, [Type] Bug, [Type] Build Tooling

#28835 Move template part title field to the block inspector.
  packages/block-library/src/template-part/edit/index.js
  packages/block-library/src/template-part/edit/name-panel.js
  packages/block-library/src/template-part/editor.scss
  packages/e2e-tests/specs/experiments/multi-entity-editing.test.js
  packages/e2e-tests/specs/experiments/multi-entity-saving.test.js
  packages/e2e-tests/specs/experiments/template-part.test.js
Labels: [Block] Template-Part

#28857 Docs: Fix the header links, add link to user docs
  docs/readme.md
Labels: [Type] Documentation

#28897 Testing: Try adding snapshot-diff
  package-lock.json
  package.json
  packages/components/src/ui/flex/test/__snapshots__/index.js.snap
  packages/components/src/ui/flex/test/index.js
  test/unit/config/matchers/to-match-style-diff-snapshot.js
  test/unit/config/testing-library.js
Labels: Automated Testing, [Package] Components

#28837 Remove duplication of editor styles
  packages/block-editor/src/components/editor-styles/index.js
  packages/block-editor/src/components/iframe/index.js
  packages/block-editor/src/components/index.js
  packages/edit-post/src/components/visual-editor/index.js
  packages/edit-site/src/components/block-editor/index.js
  packages/edit-widgets/src/components/layout/interface.js
  packages/edit-widgets/src/components/widget-areas-block-editor-content/index.js
Labels: [Type] Code Quality

#28337 Add note to indicate why priority queue callbacks may be undefined
  packages/priority-queue/src/index.js
Labels: [Package] Priority Queue, [Type] Bug

#28787 Combobox Control: update API doc
  packages/components/src/combobox-control/README.md
Labels: [Type] Enhancement, developer-docs

#28905 Make the __experimentalCaptureToolbars option work reliably
  packages/block-editor/src/components/block-list/block-popover.js
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/selectors.js
Labels: [Feature] Nested / Inner Blocks, [Type] Bug

#28868 Fix inline style inheritance in Navigation block
  packages/block-library/src/navigation-link/block.json
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation-link/index.php
  packages/block-library/src/navigation/block.json
  packages/block-library/src/navigation/editor.scss
  packages/block-library/src/page-list/block.json
  packages/block-library/src/page-list/edit.js
  packages/block-library/src/page-list/index.php
Labels: [Block] Navigation, [Type] Bug

#28918 WP_Theme_JSON: simplify code by not passing tree by reference
  lib/class-wp-theme-json.php
Labels: Global Styles, [Type] Code Quality

#28879 Build: add support for native TypeScript
  bin/api-docs/update-api-docs.js
  bin/packages/build-worker.js
  bin/packages/build.js
  package-lock.json
  packages/babel-plugin-makepot/test/index.js
  packages/babel-preset-default/CHANGELOG.md
  packages/babel-preset-default/index.js
  packages/babel-preset-default/package.json
  packages/babel-preset-default/test/index.js
  packages/docgen/src/engine.js
Labels: [Package] Babel plugin makepot, [Package] Babel preset, [Package] Docgen, [Type] Build Tooling

#28925 Components: Update color-picker snapshot tests to use diff matching
  packages/components/src/color-picker/test/__snapshots__/index.js.snap
  packages/components/src/color-picker/test/index.js
Labels: Automated Testing, [Package] Components

#28934 Fix positioning of nested submenus in Nav screen
  packages/edit-navigation/src/components/editor/style.scss
Labels: [Feature] Navigation Screen, [Type] Bug

#28630 Site Editor: Offset insertion point in iframe
  packages/components/src/popover/index.js
  packages/components/src/popover/test/utils.js
  packages/components/src/popover/utils.js
Labels: [Feature] Full Site Editing, [Type] Bug, [Type] Experimental

#28936 Make navigation editor end-to-end tests more robust
  packages/e2e-tests/specs/experiments/navigation-editor.test.js
Labels: Automated Testing, [Feature] Navigation Screen

#28796 Cover: Add missing align attr to deprecation
  packages/block-library/src/cover/deprecated.js
  packages/e2e-tests/fixtures/blocks/core__cover__deprecated-6.json
  packages/e2e-tests/fixtures/blocks/core__cover__deprecated-6.serialized.html
Labels: [Block] Cover, [Type] Bug

#28940 Make get_blocks_metadata() call static
  lib/class-wp-theme-json.php
Labels: [Type] Code Quality

#28465 Add react-i18n package with i18n React bindings
  docs/manifest.json
  package-lock.json
  package.json
  packages/react-i18n/README.md
  packages/react-i18n/package.json
  packages/react-i18n/src/index.tsx
  packages/react-i18n/tsconfig.json
  tsconfig.json
Labels: Internationalization (i18n), [Package] i18n

#28911 babel-plugin-makepot: don't transpile the package code
  package-lock.json
  packages/babel-plugin-makepot/index.js
  packages/babel-plugin-makepot/package.json
  packages/babel-plugin-makepot/test/index.js
Labels: [Type] Build Tooling, [Type] Code Quality

#28876 Add navigation editor block deselection when clicking canvas background
  packages/e2e-tests/specs/experiments/navigation-editor.test.js
  packages/edit-navigation/src/components/editor/style.scss
  packages/edit-navigation/src/components/header/style.scss
  packages/edit-navigation/src/components/layout/index.js
  packages/edit-navigation/src/components/layout/style.scss
Labels: [Feature] Navigation Screen, [Type] Regression

#28191 Avoid focusing blocks when inserting them into the canvas
  docs/designers-developers/developers/data/data-core-block-editor.md
  docs/designers-developers/developers/data/data-core-editor.md
  packages/block-editor/src/components/block-list/index.js
  packages/block-editor/src/components/block-list/use-block-props/use-focus-first-element.js
  packages/block-editor/src/components/block-navigation/appender.js
  packages/block-editor/src/components/button-block-appender/index.js
  packages/block-editor/src/components/index.js
  packages/block-editor/src/components/inner-blocks/use-inner-block-template-sync.js
  packages/block-editor/src/components/inserter-list-item/index.js
  packages/block-editor/src/components/inserter/hooks/use-block-types-state.js
  packages/block-editor/src/components/inserter/hooks/use-insertion-point.js
  packages/block-editor/src/components/inserter/index.js
  packages/block-editor/src/components/inserter/library.js
  packages/block-editor/src/components/inserter/menu.js
  packages/block-editor/src/components/inserter/quick-inserter.js
  packages/block-editor/src/components/inserter/search-results.js
  packages/block-editor/src/components/provider/test/use-block-sync.js
  packages/block-editor/src/components/provider/use-block-sync.js
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/components/selection-scroll-into-view/index.js
  packages/block-editor/src/components/use-on-block-drop/index.js
  packages/block-editor/src/store/actions.js
  packages/block-editor/src/store/reducer.js
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/actions.js
  packages/block-editor/src/store/test/reducer.js
  packages/core-data/src/entities.js
  packages/core-data/src/entity-provider.js
  packages/e2e-test-utils/src/inserter.js
  packages/e2e-tests/specs/editor/plugins/inner-blocks-allowed-blocks.test.js
  packages/e2e-tests/specs/editor/various/writing-flow.test.js
  packages/e2e-tests/specs/widgets/adding-widgets.test.js
  packages/edit-post/src/components/visual-editor/index.js
  packages/editor/src/components/provider/index.js
  packages/editor/src/components/provider/index.native.js
  packages/editor/src/store/actions.js
  packages/editor/src/store/selectors.js
Labels: Needs Accessibility Feedback, Needs Design Feedback, [Feature] Inserter

#28949 Components: Add createComponent unit tests
  packages/components/src/ui/utils/test/create-component.js
Labels: Automated Testing, [Feature] Component System, [Package] Components

#28950 Site Editor: Fix e2e test errors introduced by template sidebar
  packages/e2e-tests/specs/experiments/settings-sidebar.test.js
Labels: Automated Testing

#28410 Add an 'area' term for Template Parts.
  lib/class-wp-theme-json.php
  lib/full-site-editing/block-templates.php
  lib/full-site-editing/class-wp-rest-templates-controller.php
  lib/full-site-editing/template-parts.php
  phpunit/class-block-templates-test.php
  phpunit/class-wp-rest-template-controller-test.php
  phpunit/class-wp-theme-json-test.php
Labels: [Feature] Full Site Editing

#28715 Block Editor: Fix is-hovered event listener
  packages/block-editor/src/components/block-list/use-block-props/use-is-hovered.js
Labels: [Feature] Full Site Editing, [Type] Bug

#28944 WP_Theme_JSON_Resolver: update translate terminology
  lib/class-wp-theme-json-resolver.php
Labels: [Type] Code Quality

#28593 Component System: Add Elevation Component
  packages/components/src/ui/elevation/README.md
  packages/components/src/ui/elevation/elevation-styles.js
  packages/components/src/ui/elevation/elevation.js
  packages/components/src/ui/elevation/index.js
  packages/components/src/ui/elevation/stories/index.js
  packages/components/src/ui/elevation/test/__snapshots__/index.js.snap
  packages/components/src/ui/elevation/test/index.js
  packages/components/src/ui/elevation/types.ts
  packages/components/src/ui/elevation/use-elevation.js
  packages/components/src/ui/index.js
Labels: Needs Accessibility Feedback, [Feature] Component System, [Package] Components

#28929 Updates to Outreach Page
  docs/contributors/outreach.md
Labels: [Type] Documentation, [Type] Enhancement

#28947 Add accessibility testing instructions
  .github/PULL_REQUEST_TEMPLATE.md
  docs/contributors/accessibility-testing.md
  docs/contributors/develop.md
Labels: [Type] Documentation

#28958 Fix spacing in new contributor welcome message
  packages/project-management-automation/lib/tasks/first-time-contributor-label/index.js
  packages/project-management-automation/lib/tasks/first-time-contributor-label/test/index.js
Labels: [Package] Project management automation, [Type] Enhancement, [Type] Project Management
