Repository WordPress/gutenberg, pull requests merged in 2022-12, with the labels that each got.

#46211 Mobile Release v1.85.1
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS

#46185 Avoid paint on inserter animation
  packages/block-editor/src/components/block-tools/insertion-point.js
  packages/block-editor/src/components/block-tools/style.scss
Labels: [Feature] Inserter, [Type] Performance, [Package] Block editor, First-time Contributor

#46186 [Inserter]: Update mobile tab navigation styles
  packages/block-editor/src/components/inserter/block-patterns-tab.js
  packages/block-editor/src/components/inserter/media-tab/media-tab.js
  packages/block-editor/src/components/inserter/mobile-tab-navigation.js
  packages/block-editor/src/components/inserter/style.scss
Labels: [Feature] Inserter, Needs Design Feedback, [Type] Code Quality

#46172 Table block: Make `figcaption` styles consistent between editor and front end
  packages/block-library/src/table/editor.scss
Labels: [Block] Table, CSS Styling

#46216 Adds reminder to use Node.js v14 in Quick Start
  docs/getting-started/create-block/README.md
Labels: [Type] Developer Documentation, Developer Experience

#46204 Refactor the block-editor byClientId redux state to use maps instead of plain objects.
  packages/block-editor/src/store/reducer.js
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/performance.js
  packages/block-editor/src/store/test/reducer.js
  packages/block-editor/src/store/test/selectors.js
  packages/reusable-blocks/src/store/test/actions.js
Labels: [Type] Performance

#46200 Lodash: Replace `_.isEqual()` with `fastDeepEqual`
  .eslintrc.js
  package-lock.json
  packages/block-editor/package.json
  packages/block-editor/src/components/inner-blocks/use-inner-block-template-sync.js
  packages/block-editor/src/store/reducer.js
  packages/block-library/package.json
  packages/block-library/src/table-of-contents/edit.js
  packages/blocks/package.json
  packages/blocks/src/api/validation/index.js
  packages/components/package.json
  packages/components/src/duotone-picker/duotone-picker.js
  packages/components/src/higher-order/with-fallback-styles/index.js
  packages/components/src/mobile/keyboard-aware-flat-list/index.ios.js
  packages/components/src/ui/context/context-system-provider.js
  packages/core-data/package.json
  packages/core-data/src/actions.js
  packages/core-data/src/reducer.js
  packages/core-data/src/utils/conservative-map-item.js
  packages/customize-widgets/package.json
  packages/customize-widgets/src/components/sidebar-block-editor/use-sidebar-block-editor.js
  packages/edit-site/package.json
  packages/edit-site/src/components/global-styles/hooks.js
  packages/edit-site/src/components/global-styles/screen-style-variations.js
  packages/is-shallow-equal/README.md
  packages/server-side-render/package.json
  packages/server-side-render/src/server-side-render.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Server Side Render, [Package] Core data, [Package] Components, [Package] Blocks, [Package] Block library, [Package] Block editor, [Package] Edit Site, [Feature] Widgets Customizer

#40778 Add a current-menu-ancestor class to navigation items
  packages/block-library/src/navigation-submenu/index.php
Labels: [Type] Enhancement, [Block] Navigation

#46153 Block Editor: Improve inserter search performance
  packages/block-editor/src/components/inserter/hooks/use-debounced-input.js
  packages/block-editor/src/components/inserter/media-tab/hooks.js
  packages/block-editor/src/components/inserter/media-tab/media-panel.js
  packages/block-editor/src/components/inserter/menu.js
  packages/e2e-test-utils/src/inserter.js
Labels: [Feature] Inserter, [Type] Performance, [Package] Block editor

#46237 withFilters: Use 'act' from React Testing Library
  packages/components/src/higher-order/with-filters/test/index.js
Labels: [Type] Code Quality, [Package] Components

#46239 Tests: Fix `toBePositionedPopover` matcher message function
  test/unit/config/matchers/to-be-positioned-popover.js
Labels: [Type] Enhancement, Automated Testing

#46220 [Mobile] - Update Heading block E2E test
  packages/block-library/src/block/test/edit.native.js
  packages/block-library/src/heading/test/__snapshots__/index.native.js.snap
  packages/block-library/src/heading/test/index.native.js
  packages/react-native-editor/__device-tests__/helpers/test-data.js
Labels: Mobile App - i.e. Android or iOS, Mobile App - Automation

#46238 Block Editor: Fix memoized pattern selector dependant arguments
  packages/block-editor/src/store/selectors.js
Labels: [Type] Bug, [Package] Block editor

#46226 Fix some usages of useSelect that return unstable results
  packages/block-editor/src/components/block-mobile-toolbar/block-actions-menu.native.js
  packages/block-editor/src/components/ungroup-button/index.native.js
  packages/block-editor/src/store/selectors.js
Labels: [Package] Block editor

#46247 Adds Github Action to validate Gradle Wrapper
  .github/workflows/gradle-wrapper-validation.yml
Labels: [Type] Build Tooling, Mobile App - i.e. Android or iOS

#46188 Avoid paint on list view item hover
  packages/block-editor/src/components/list-view/style.scss
Labels: [Type] Performance, [Package] Block editor, First-time Contributor

#45976 Navigation block: add location->primary to fallback nav creation for classic menus.
  packages/block-library/src/navigation/edit/index.js
  packages/block-library/src/navigation/index.php
Labels: [Block] Navigation

#46255 Add a css style to theme.json to allow setting of custom css strings
  docs/reference-guides/theme-json-reference/theme-json-living.md
  schemas/json/theme.json
Labels: Global Styles

#46018 Tag Processor: Add bookmark system for tracking semantic locations in document
  lib/experimental/html/class-wp-html-span.php
  lib/experimental/html/class-wp-html-tag-processor.php
  lib/experimental/html/index.php
  phpunit/html/wp-html-tag-processor-bookmark-test.php
  phpunit/html/wp-html-tag-processor-test.php
Labels: [Feature] Parsing, [Type] Experimental, [Type] New API

#45995 Global styles: move border from layout to own menu
  packages/edit-site/src/components/global-styles/context-menu.js
  packages/edit-site/src/components/global-styles/screen-border.js
  packages/edit-site/src/components/global-styles/screen-layout.js
  packages/edit-site/src/components/global-styles/ui.js
  packages/icons/src/index.js
  packages/icons/src/library/border.js
  packages/icons/src/library/shadow.js
Labels: [Type] Enhancement, Global Styles, [Feature] Layout

#46243 Fix Nav Submenu block Link UI text control
  packages/block-editor/src/components/link-control/index.js
  packages/block-library/src/navigation-submenu/edit.js
Labels: [Type] Bug, [Block] Navigation Link

#46221 Refactor the "order" state in the block editor reducer to use a map instead of a plain object
  packages/block-editor/src/store/reducer.js
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/performance.js
  packages/block-editor/src/store/test/reducer.js
  packages/block-editor/src/store/test/selectors.js
Labels: [Type] Performance

#46225 Refactor the block-editor parents state to use maps instead of objects.
  packages/block-editor/src/store/reducer.js
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/performance.js
  packages/block-editor/src/store/test/reducer.js
  packages/block-editor/src/store/test/selectors.js
Labels: [Type] Performance

#46197 Avoid paint on circular option hover
  packages/components/src/circular-option-picker/style.scss
Labels: [Type] Performance, [Package] Components, First-time Contributor

#46268 E2E: Fix performance tests by making inserter search container waiting optional
  packages/e2e-test-utils/src/inserter.js
Labels: [Type] Performance, [Package] E2E Test Utils

#45819 Reusable block: Pluralize the message "Convert to regular blocks" depending on the number of blocks contained.
  packages/block-editor/src/components/block-mobile-toolbar/block-actions-menu.native.js
  packages/block-library/src/block/edit.js
  packages/block-library/src/block/edit.native.js
  packages/e2e-tests/specs/editor/various/reusable-blocks.test.js
  packages/reusable-blocks/src/components/reusable-blocks-menu-items/reusable-blocks-manage-button.js
Labels: [Type] Enhancement, [Block] Block, First-time Contributor

#46266 List View: Use default parameters instead of defaultProps
  packages/block-editor/src/components/list-view/branch.js
  packages/block-editor/src/components/off-canvas-editor/branch.js
Labels: [Type] Code Quality, [Package] Block editor

#46267 Summary panel: Try improving spacing and grid.
  packages/edit-post/src/components/sidebar/post-schedule/style.scss
  packages/edit-post/src/components/sidebar/post-status/index.js
  packages/edit-post/src/components/sidebar/post-template/style.scss
  packages/edit-post/src/components/sidebar/post-url/style.scss
  packages/edit-post/src/components/sidebar/post-visibility/style.scss
Labels: [Type] Enhancement, [Feature] Inspector Controls

#46229 Refactor the block-editor "tree" state to use maps instead of objects
  packages/block-editor/src/store/reducer.js
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/reducer.js
  packages/block-editor/src/store/test/selectors.js
Labels: [Type] Performance

#46269 Page List: Prevent users from adding inner blocks to Page List
  packages/block-library/src/page-list/edit.js
Labels: [Block] Page List

#46279 Recursively remove Navigation block’s from appearing inside Navigation block on front of site
  packages/block-library/src/navigation/edit/inner-blocks.js
  packages/block-library/src/navigation/index.php
Labels: [Type] Bug, [Block] Navigation

#46196 Avoid paint on resizable-box handles
  packages/components/CHANGELOG.md
  packages/components/src/resizable-box/style.scss
Labels: [Type] Performance, [Package] Components, First-time Contributor

#46228 Try: Augmented shadows for modals and popovers
  packages/base-styles/_variables.scss
Labels: General Interface, Needs Design Feedback, Needs Figma Update

#46139 Layout child fixed size should not be fixed by default and should always have a value set
  lib/block-supports/layout.php
  packages/block-editor/src/hooks/child-layout.js
  packages/block-editor/src/hooks/layout.js
Labels: [Block] Group, [Feature] Layout

#46296 Docs: update reference to IE 11
  docs/explanations/faq.md
Labels: [Type] Developer Documentation

#45960 Add Style Book to Global Styles
  packages/block-editor/src/components/block-preview/README.md
  packages/block-editor/src/components/block-preview/auto.js
  packages/block-editor/src/components/block-preview/index.js
  packages/edit-site/src/components/block-editor/editor-canvas.js
  packages/edit-site/src/components/block-editor/index.js
  packages/edit-site/src/components/block-editor/resizable-editor.js
  packages/edit-site/src/components/global-styles/ui.js
  packages/edit-site/src/components/header-edit-mode/index.js
  packages/edit-site/src/components/sidebar-edit-mode/global-styles-sidebar.js
  packages/edit-site/src/components/style-book/index.js
  packages/edit-site/src/components/style-book/style.scss
  packages/edit-site/src/style.scss
  packages/icons/src/index.js
  packages/icons/src/library/seen.js
  test/e2e/specs/site-editor/style-book.spec.js
Labels: [Type] Feature, Global Styles

#46290 Docs: fix missing link to `primitives` package
  docs/reference-guides/block-api/block-metadata.md
  docs/reference-guides/block-api/block-registration.md
Labels: [Type] Developer Documentation

#46288 Site Editor: Remove invalid CSS
  packages/edit-site/src/components/layout/style.scss
Labels: [Type] Code Quality, [Package] Edit Site

#46061 Clarify inline comment about switching to `safecss_filter_attr`
  lib/block-supports/layout.php
Labels: [Type] Code Quality, [Feature] Layout

#46201 Avoid paint on popover when hovering content
  packages/components/CHANGELOG.md
  packages/components/src/popover/style.scss
Labels: [Type] Performance, [Package] Components, First-time Contributor

#46305 Adds details of how to find the .zip file
  docs/how-to-guides/block-tutorial/README.md
Labels: [Type] Developer Documentation

#45924 Dashicon: refactor to TypeScript
  packages/components/CHANGELOG.md
  packages/components/src/dashicon/index.tsx
  packages/components/src/dashicon/types.ts
Labels: [Package] Components

#46170 BaseControl: Add convenience hook to generate id-related props
  packages/components/CHANGELOG.md
  packages/components/src/base-control/README.md
  packages/components/src/base-control/hooks.ts
  packages/components/src/base-control/index.tsx
  packages/components/src/base-control/stories/index.tsx
  packages/components/src/base-control/test/index.tsx
  packages/components/src/base-control/types.ts
  packages/components/src/index.js
Labels: [Package] Components

#46304 Fix template title in `summary` panel and requests for low privileged users
  packages/edit-post/src/components/sidebar/post-template/index.js
Labels: [Type] Bug, [Feature] Document Settings

#46070 Navigation: Removes the header from the navigation list view in the experiment
  packages/block-library/src/navigation/edit/menu-inspector-controls.js
  packages/block-library/src/navigation/edit/navigation-menu-selector.js
Labels: [Block] Navigation

#46171 Strip markup from link label data in inspector
  packages/block-library/src/navigation-link/edit.js
Labels: [Type] Bug, Good First Review, [Block] Navigation Link

#46314 [Site Editor]: Add default white background for themes with no `background color` set
  packages/block-editor/src/components/block-list/content.scss
Labels: [Type] Bug, [Feature] Site Editor

#46095 PaletteEdit: add changelog
  packages/components/CHANGELOG.md
  packages/components/src/palette-edit/test/index.js
Labels: [Type] Code Quality, Global Styles

#46319 Child Layout controls: Fix help text for height
  packages/block-editor/src/hooks/child-layout.js
Labels: [Type] Bug, [Feature] Layout

#45089 Expose before filter hook in useSettings and the block metadata for CSS classes generation
  packages/block-editor/src/components/use-setting/index.js
  packages/block-editor/src/components/use-setting/test/index.js
Labels: First-time Contributor, Global Styles

#46282 Serialize the map objects properly in the Redux dev tools
  packages/data/src/redux-store/index.js
Labels: [Type] Build Tooling

#46302 Prevent api-fetch and core-data from being imported in the block editor package
  .eslintrc.js
  packages/block-editor/src/autocompleters/link.js
  packages/block-editor/src/components/block-mobile-toolbar/block-actions-menu.native.js
  packages/block-editor/src/components/image-editor/use-save-image.js
Labels: [Type] Build Tooling

#46284 Heading Block: Don't rely on the experimental selector anymore
  packages/block-library/src/heading/block.json
  phpunit/class-wp-theme-json-test.php
Labels: [Block] Heading

#46324 Video: Avoid an error when removal is locked
  packages/block-library/src/video/edit.js
Labels: [Type] Bug, [Block] Video

#46321 Sidebar Tabs: Use editor settings to override display
  lib/experimental/class-wp-rest-block-editor-settings-controller.php
  packages/block-editor/src/components/block-inspector/index.js
  packages/block-editor/src/components/inspector-controls-tabs/use-inspector-controls-tabs.js
  packages/block-library/src/navigation-link/index.php
  packages/block-library/src/navigation-submenu/index.php
  packages/editor/src/components/provider/use-block-editor-settings.js
Labels: [Type] Enhancement, [Feature] Inspector Controls, [Package] Block editor, [Block] Navigation Link

#46223 Fix auto Nav menu creation due to page list inner blocks
  packages/block-library/src/navigation/edit/unsaved-inner-blocks.js
Labels: [Type] Regression, [Block] Navigation

#46112 Remove usage of get_default_block_editor_settings
  lib/compat/wordpress-6.1/get-global-styles-and-settings.php
  lib/experimental/class-wp-theme-json-resolver-gutenberg.php
Labels: [Type] Performance, Backport to WP Minor Release, Needs PHP backport

#46310 Components: Fix `no-node-access` violations in `Theme`
  packages/components/src/theme/test/index.tsx
Labels: [Type] Code Quality, [Package] Components

#46311 Components: Fix `no-node-access` violations in `Popover`
  packages/components/src/popover/test/index.tsx
Labels: [Type] Code Quality, [Package] Components

#46312 Components: Fix `no-node-access` violations in `FocalPointPicker` tests
  packages/components/src/focal-point-picker/test/media.js
Labels: [Type] Code Quality, [Package] Components

#46331 Hide page list edit button if no pages available
  packages/block-library/src/page-list/edit.js
Labels: [Type] Enhancement, [Block] Page List

#46329 Add tests for Nav block uncontrolled blocks dirty state checking
  packages/block-library/src/navigation/edit/are-blocks-dirty.js
  packages/block-library/src/navigation/edit/test/are-blocks-dirty.js
  packages/block-library/src/navigation/edit/unsaved-inner-blocks.js
Labels: [Type] Code Quality, [Block] Navigation

#46252 Components: Lighten borders to gray-600
  packages/base-styles/CHANGELOG.md
  packages/base-styles/_mixins.scss
  packages/components/CHANGELOG.md
  packages/components/src/base-field/styles.ts
  packages/components/src/base-field/test/__snapshots__/index.tsx.snap
  packages/components/src/dimension-control/test/__snapshots__/index.test.js.snap
  packages/components/src/form-token-field/style.scss
  packages/components/src/utils/colors-values.js
  packages/components/src/utils/config-values.js
  packages/components/src/utils/theme-variables.scss
Labels: [Package] Components, [Package] Base styles

#46162 AlignmentMatrixControl: refactor to TypeScript
  packages/components/CHANGELOG.md
  packages/components/src/alignment-matrix-control/README.md
  packages/components/src/alignment-matrix-control/cell.tsx
  packages/components/src/alignment-matrix-control/icon.tsx
  packages/components/src/alignment-matrix-control/index.tsx
  packages/components/src/alignment-matrix-control/stories/index.tsx
  packages/components/src/alignment-matrix-control/styles/alignment-matrix-control-icon-styles.ts
  packages/components/src/alignment-matrix-control/styles/alignment-matrix-control-styles.ts
  packages/components/src/alignment-matrix-control/test/index.tsx
  packages/components/src/alignment-matrix-control/types.ts
  packages/components/src/alignment-matrix-control/utils.tsx
  packages/components/tsconfig.json
Labels: [Type] Code Quality, [Package] Components

#46297 Fix duplication of synced block colors in CSS output
  packages/base-styles/_colors.scss
  packages/base-styles/_default-custom-properties.scss
Labels: [Type] Bug, Global Styles

#46341 Make style book label font size 11px
  packages/edit-site/src/components/style-book/style.scss
Labels: [Type] Bug, Global Styles

#46349 MaybeCategoryPanel: Avoid 403 requests for users with low permissions
  packages/editor/src/components/post-publish-panel/maybe-category-panel.js
Labels: [Type] Bug, General Interface

#46340 [RNMobile] Temporarily skip failing copy/paste tests
  packages/react-native-editor/__device-tests__/gutenberg-editor-drag-and-drop.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-paste.test.js
Labels: Mobile App - i.e. Android or iOS

#45719 Add block preview component in global styles
  docs/reference-guides/block-api/block-registration.md
  packages/block-library/src/audio/index.js
  packages/block-library/src/paragraph/index.js
  packages/block-library/src/search/index.js
  packages/block-library/src/site-logo/index.js
  packages/block-library/src/site-title/index.js
  packages/block-library/src/table/index.js
  packages/edit-site/src/components/global-styles/block-preview-panel.js
  packages/edit-site/src/components/global-styles/screen-block.js
  packages/edit-site/src/components/global-styles/style.scss
Labels: [Type] Enhancement, Global Styles

#46346 Sidebar Tabs: Refine use of inspector tabs and disable filters for Nav blocks
  packages/block-editor/src/components/block-inspector/index.js
  packages/block-editor/src/components/inspector-controls-tabs/use-inspector-controls-tabs.js
  packages/block-library/src/navigation-link/index.php
  packages/block-library/src/navigation-submenu/index.php
Labels: [Type] Enhancement, [Feature] Inspector Controls, [Block] Navigation Link

#46106 Remove small APIs marked to be removed in WP 6.2
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/components/rich-text/index.native.js
  packages/block-editor/src/components/rich-text/utils.js
  packages/server-side-render/src/index.js
Labels: [Type] Code Quality, Needs Dev Note

#46352 Page List: add convert panel to Inspector Controls when within Nav block
  packages/block-library/src/page-list/edit.js
Labels: [Block] Navigation, [Block] Page List

#46364 Fixes adding a submenu
  packages/block-library/src/navigation-submenu/edit.js
Labels: [Type] Bug, [Block] Navigation

#46377 Handle innerContent too when removing innerBlocks
  packages/block-library/src/navigation/index.php
Labels: [Type] Bug, [Block] Navigation

#46361 Permalink: Hide edit field for users without publishing capabilities
  packages/editor/src/components/post-url/index.js
Labels: [Type] Bug, [Feature] Document Settings, [Feature] Permalink

#46276 Tabs: Try a simpler tab focus style, alt
  packages/base-styles/_z-index.scss
  packages/components/CHANGELOG.md
  packages/components/src/tab-panel/style.scss
  packages/edit-navigation/src/components/sidebar/style.scss
  packages/edit-post/src/components/sidebar/settings-header/style.scss
  packages/edit-site/src/components/sidebar-edit-mode/settings-header/style.scss
  packages/edit-widgets/src/components/sidebar/style.scss
Labels: [Type] Enhancement, [Feature] UI Components, [Package] Components, [a11y] Keyboard & Focus, CSS Styling

#46102 Update the Gutenberg plugin to require at least the WP 6.0 version
  gutenberg.php
  lib/client-assets.php
  lib/compat/wordpress-6.0/block-editor-settings.php
  lib/compat/wordpress-6.0/block-gallery.php
  lib/compat/wordpress-6.0/block-patterns-update.php
  lib/compat/wordpress-6.0/block-patterns.php
  lib/compat/wordpress-6.0/block-template-utils.php
  lib/compat/wordpress-6.0/blocks.php
  lib/compat/wordpress-6.0/class-gutenberg-rest-edit-site-export-controller.php
  lib/compat/wordpress-6.0/class-gutenberg-rest-global-styles-controller.php
  lib/compat/wordpress-6.0/class-gutenberg-rest-pattern-directory-controller-6-0.php
  lib/compat/wordpress-6.0/class-wp-rest-block-pattern-categories-controller.php
  lib/compat/wordpress-6.0/class-wp-theme-json-6-0.php
  lib/compat/wordpress-6.0/class-wp-theme-json-resolver-6-0.php
  lib/compat/wordpress-6.0/client-assets.php
  lib/compat/wordpress-6.0/edit-form-blocks.php
  lib/compat/wordpress-6.0/functions.php
  lib/compat/wordpress-6.0/get-global-styles-and-settings.php
  lib/compat/wordpress-6.0/post-lock.php
  lib/compat/wordpress-6.0/render-svg-filters.php
  lib/compat/wordpress-6.0/rest-api.php
  lib/compat/wordpress-6.0/site-editor.php
  lib/compat/wordpress-6.0/theme-i18n.json
  lib/compat/wordpress-6.0/theme.json
  lib/compat/wordpress-6.1/class-wp-theme-json-6-1.php
  lib/compat/wordpress-6.1/class-wp-theme-json-resolver-6-1.php
  lib/compat/wordpress-6.2/class-gutenberg-rest-pattern-directory-controller-6-2.php
  lib/experiments-page.php
  lib/load.php
  packages/block-library/src/gallery/shared.js
Labels: Gutenberg Plugin

#46307 useInnerBlockTemplateSync: cancel template sync on innerBlocks change or unmount
  packages/block-editor/src/components/inner-blocks/use-inner-block-template-sync.js
Labels: [Package] Block editor

#46370 Shared standard Link UI component between Nav Link and Submenu blocks
  packages/block-library/src/navigation-submenu/edit.js
Labels: [Type] Code Quality, [Block] Submenu

#46399 [Block Editor]: Add initial view mode in `BlockPatternSetup`
  packages/block-editor/src/components/block-pattern-setup/index.js
Labels: [Package] Block editor, [Feature] Patterns

#46336 Adds a longdash tree to the parent selector
  packages/block-library/src/page-list/edit.js
Labels: [Type] Enhancement, [Block] Page List

#46396 Block editor: restore draggable chip styles
  packages/block-editor/src/style.scss
Labels: [Type] Bug

#46365 Simplify Page List convert to links function API
  packages/block-library/src/page-list/convert-to-links-modal.js
  packages/block-library/src/page-list/convert-to-navigation-links.js
  packages/block-library/src/page-list/edit.js
  packages/block-library/src/page-list/test/convert-to-links-modal.js
Labels: [Type] Code Quality, [Block] Page List

#46402 Paste handler: remove styles on inline paste
  packages/blocks/src/api/raw-handling/paste-handler.js
  test/integration/__snapshots__/blocks-raw-handling.test.js.snap
  test/integration/blocks-raw-handling.test.js
Labels: [Type] Bug

#46406 Fix flaky Block Switcher tests
  packages/e2e-tests/specs/editor/various/block-switcher.test.js
Labels: Automated Testing, [Package] E2E Tests, [Type] Flaky Test

#46387 Prevent circular references in navigation block rendering
  packages/block-library/src/navigation/edit/inner-blocks.js
  packages/block-library/src/navigation/index.php
Labels: [Type] Bug, [Block] Navigation

#46084 Media & Text Block: create undo history when media width is changed
  packages/block-library/src/media-text/edit.js
Labels: [Block] Media & Text

#46408 Block Editor: Fix `no-node-access` violations in `BlockSelectionClearer`
  packages/block-editor/src/components/block-selection-clearer/test/index.js
Labels: [Type] Code Quality, [Package] Block editor

#46405 Doc: Fix description and documentation for link color support
  docs/reference-guides/block-api/block-supports.md
  schemas/json/block.json
Labels: [Type] Developer Documentation

#46390 Only pass parentLayout to block edit if not empty
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/inner-blocks/index.js
Labels: [Type] Bug, [Feature] Layout

#42069 Add missing useState import in color picker docs.
  packages/components/src/color-picker/README.md
Labels: [Type] Developer Documentation

#42071 Add missing useState import in confirm dialog docs.
  packages/components/src/confirm-dialog/README.md
Labels: [Type] Developer Documentation

#42067 Add missing useState import in BorderBoxControl documentation.
  packages/components/src/border-box-control/border-box-control/README.md
Labels: [Type] Developer Documentation

#46298 Block editor: hide fixed contextual toolbar
  packages/edit-site/src/components/block-editor/index.js
  packages/edit-site/src/components/block-editor/style.scss
Labels: [Type] Enhancement, [Package] Block editor

#46389 Mobile Release v1.86.0
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS

#46418 Group: Remove unnecessary 'useCallback'
  packages/block-library/src/group/edit.js
Labels: [Type] Code Quality, [Block] Group

#46420 Template Parts: Remove unnecessary 'useCallback'
  packages/block-library/src/template-part/edit/selection-modal.js
Labels: [Type] Code Quality, [Block] Template Part

#44086 Rich text: add button to clear unknown format
  packages/block-editor/src/components/rich-text/format-toolbar/index.js
  packages/format-library/src/default-formats.js
  packages/format-library/src/unknown/index.js
  packages/rich-text/src/create.js
  packages/rich-text/src/remove-unregistered-formatting.js
  packages/rich-text/src/store/selectors.js
  packages/rich-text/src/test/helpers/index.js
  packages/rich-text/src/to-tree.js
  test/e2e/specs/editor/plugins/format-api.spec.js
Labels: [Package] Format library, [Package] Rich text

#45100 Try template drill down on shell sidebar (browse mode)
  packages/base-styles/_mixins.scss
  packages/e2e-tests/specs/experiments/blocks/post-comments-form.test.js
  packages/edit-site/src/components/layout/style.scss
  packages/edit-site/src/components/sidebar-navigation-item/index.js
  packages/edit-site/src/components/sidebar-navigation-item/style.scss
  packages/edit-site/src/components/sidebar-navigation-root/index.js
  packages/edit-site/src/components/sidebar-navigation-root/style.scss
  packages/edit-site/src/components/sidebar-navigation-screen-main/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-templates/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-templates/style.scss
  packages/edit-site/src/components/sidebar-navigation-screen/index.js
  packages/edit-site/src/components/sidebar-navigation-screen/style.scss
  packages/edit-site/src/components/sidebar-navigation-title/index.js
  packages/edit-site/src/components/sidebar-navigation-title/style.scss
  packages/edit-site/src/components/sidebar/index.js
  packages/edit-site/src/components/sidebar/style.scss
  packages/edit-site/src/style.scss
Labels: [Status] In Progress, [Feature] Site Editor

#46421 Template Parts: Fix modal search stacking context
  packages/base-styles/_z-index.scss
Labels: [Type] Bug, [Block] Template Part

#46423 [Block Library - Group]: Remove placeholder leftovers
  packages/block-library/src/group/placeholder.js
Labels: [Type] Code Quality, [Package] Block library, [Block] Group

#46424 Query: Cleanup variation picker component
  packages/block-library/src/query/edit/query-placeholder.js
Labels: [Type] Code Quality, [Package] Block library, [Block] Query Loop

#46429 Popover: check positioning by adding and testing is-positioned class
  packages/block-editor/src/components/url-popover/test/__snapshots__/index.js.snap
  packages/components/src/popover/index.tsx
  packages/nux/src/components/dot-tip/test/__snapshots__/index.js.snap
  test/unit/config/matchers/to-be-positioned-popover.js
Labels: [Package] Components

#46422 [Mobile] - Updates packages to not use Git HTTPS URLs
  package-lock.json
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS

#46283 Adds clarifications and clears up inaccuracies
  docs/getting-started/create-block/attributes.md
  docs/getting-started/create-block/block-anatomy.md
Labels: [Type] Developer Documentation, Developer Experience

#46335 Navigation: Add a 'open list view' button
  packages/edit-post/src/plugins/index.js
  packages/edit-post/src/plugins/navigation-list-view-menu-item.js
  packages/edit-site/src/components/block-editor/index.js
Labels: [Block] Navigation

#46452 E2E tests: Add width and color test to button block
  test/e2e/specs/editor/blocks/buttons.spec.js
Labels: Automated Testing

#46391 Style Book: Clear Global Styles navigation history when selecting a block
  packages/components/CHANGELOG.md
  packages/components/src/navigator/navigator-provider/component.tsx
  packages/edit-site/src/components/global-styles/palette.js
  packages/edit-site/src/components/global-styles/screen-block-list.js
  packages/edit-site/src/components/global-styles/screen-block.js
  packages/edit-site/src/components/global-styles/screen-colors.js
  packages/edit-site/src/components/global-styles/ui.js
  test/e2e/specs/site-editor/style-book.spec.js
Labels: [Type] Bug, Global Styles

#46442 Update the synced block hover styles in Inserter
  packages/block-editor/src/components/inserter-list-item/style.scss
Labels: [Type] Enhancement, [Feature] Inserter, Needs Design Feedback

#46428 Lodash: Refactor `blocks` away from `_.find()`
  packages/blocks/src/store/reducer.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Blocks

#46432 Lodash: Refactor post editor away from `_.find()`
  packages/edit-post/src/hooks/validate-multiple-use/index.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Edit Post

#46433 Synchronize the sidebar state in the url
  docs/reference-guides/data/data-core-edit-site.md
  packages/edit-site/src/components/block-editor/index.js
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/navigate-to-link/index.js
  packages/edit-site/src/components/sidebar/index.js
  packages/edit-site/src/components/sync-state-with-url/use-init-edited-entity-from-url.js
  packages/edit-site/src/components/sync-state-with-url/use-sync-sidebar-path-with-url.js
  packages/edit-site/src/store/actions.js
  packages/edit-site/src/store/reducer.js
  packages/edit-site/src/store/selectors.js
  packages/edit-site/src/store/test/actions.js
  packages/edit-site/src/store/test/reducer.js
  packages/edit-site/src/store/test/selectors.js
Labels: [Type] Enhancement

#46403 Columns mobile block: avoid returning unstable innerWidths from useSelect
  packages/block-library/src/columns/edit.native.js
Labels: Mobile App - i.e. Android or iOS

#46144 [Patterns]: Add new pattern categories
  lib/compat/wordpress-6.1/class-gutenberg-rest-block-patterns-controller-6-1.php
  lib/compat/wordpress-6.1/rest-api.php
  lib/compat/wordpress-6.2/block-patterns.php
  lib/compat/wordpress-6.2/class-gutenberg-rest-block-patterns-controller-6-2.php
  lib/compat/wordpress-6.2/rest-api.php
  lib/load.php
  packages/block-editor/src/components/inserter/block-patterns-tab.js
  phpunit/class-gutenberg-rest-block-patterns-controller-test.php
Labels: Core REST API Task, [Feature] Patterns

#46187 Avoid paint on popovers when scrolling
  packages/block-editor/src/components/url-popover/test/__snapshots__/index.js.snap
  packages/components/CHANGELOG.md
  packages/components/src/popover/index.tsx
  packages/components/src/popover/style.scss
  packages/nux/src/components/dot-tip/test/__snapshots__/index.js.snap
  test/e2e/specs/editor/blocks/paragraph.spec.js
Labels: [Type] Performance, [Package] Components, First-time Contributor

#46439 [Navigation List View]: Remove empty cell when there is no edit button
  packages/block-editor/src/components/off-canvas-editor/block.js
Labels: [Block] Navigation, [Type] Experimental

#46458 Allow adding new templates and template parts directly from the sidebar
  packages/edit-site/src/components/add-new-template/index.js
  packages/edit-site/src/components/add-new-template/new-template-part.js
  packages/edit-site/src/components/add-new-template/new-template.js
  packages/edit-site/src/components/add-new-template/style.scss
  packages/edit-site/src/components/layout/style.scss
  packages/edit-site/src/components/list/header.js
  packages/edit-site/src/components/sidebar-navigation-screen-main/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-templates/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-templates/style.scss
  packages/edit-site/src/components/sidebar-navigation-screen/style.scss
Labels: [Type] Enhancement, [Feature] Site Editor

#46388 Global styles: Allow indirect properties when unfiltered_html is not allowed
  lib/compat/wordpress-6.2/class-wp-theme-json-6-2.php
  lib/experimental/kses.php
  lib/load.php
  phpunit/class-wp-theme-json-test.php
Labels: [Type] Bug, Needs Dev Note, Global Styles, [Feature] Layout

#46486 Global Styles: Fix Reset to defaults action by moving fills to be within context provider
  packages/edit-site/src/components/editor/index.js
Labels: [Type] Regression, Global Styles

#46453 Modal: Fix unexpected modal closing in IME Composition
  packages/components/CHANGELOG.md
  packages/components/src/modal/index.tsx
  packages/components/src/modal/stories/index.tsx
  packages/components/src/modal/test/index.tsx
Labels: [Type] Bug, [Package] Components

#46147 Query: Remove color block supports
  docs/reference-guides/core-blocks.md
  packages/block-library/src/post-template/block.json
  packages/block-library/src/query/block.json
  packages/block-library/src/query/deprecated.js
  test/integration/fixtures/blocks/core__query__deprecated-3.html
  test/integration/fixtures/blocks/core__query__deprecated-3.json
  test/integration/fixtures/blocks/core__query__deprecated-3.parsed.json
  test/integration/fixtures/blocks/core__query__deprecated-3.serialized.html
Labels: [Package] Block library, Needs Dev Note, [Feature] Design Tools, [Block] Query Loop, [Block] Post Template

#46460 [Mobile] - Inserter - Remove `.done()` usage
  packages/block-editor/src/components/inserter/index.native.js
Labels: Mobile App - i.e. Android or iOS

#46493 Add "custom-css" as an acceptable value in the docs for gutenberg_get_global_stylesheet
  lib/compat/wordpress-6.2/get-global-styles-and-settings.php
Labels: [Type] Code Quality, Global Styles

#46494 Fix content locked patterns
  packages/block-editor/src/store/selectors.js
  test/e2e/specs/editor/various/__snapshots__/Content-only-lock-should-be-able-to-edit-the-content-of-blocks-with-content-only-lock-1-chromium.txt
  test/e2e/specs/editor/various/content-only-lock.spec.js
Labels: [Type] Bug

#46464 Lodash: Refactor editor away from `_.find()`
  packages/editor/src/components/page-attributes/parent.js
  packages/editor/src/components/post-format/index.js
  packages/editor/src/components/post-publish-panel/maybe-post-format-panel.js
  packages/editor/src/components/post-taxonomies/flat-term-selector.js
  packages/editor/src/components/post-taxonomies/hierarchical-term-selector.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Editor

#46468 Lodash: Refactor `core-data` away from `_.find()`
  packages/core-data/src/actions.js
  packages/core-data/src/entities.js
  packages/core-data/src/selectors.ts
Labels: [Type] Performance, [Type] Code Quality, [Package] Core data

#46500 ESLint: Fix warning in `getBlockAttribute` documentation
  packages/blocks/src/api/parser/get-block-attributes.js
Labels: [Priority] Low, [Type] Code Quality, [Package] Blocks

#46501 Components: Also ignore `no-node-access` for some components
  packages/components/src/range-control/test/index.tsx
  packages/components/src/tooltip/test/index.js
  packages/components/src/unit-control/test/index.tsx
Labels: [Type] Code Quality, [Package] Components

#46488 Fix fatal error by checking if block_type asset properties are set
  lib/compat/wordpress-6.2/script-loader.php
Labels: [Type] Bug

#46499 ESLint: Fix warnings in the data package
  packages/data/src/plugins/persistence/test/index.js
  packages/data/src/test/registry.js
Labels: [Type] Code Quality, [Package] Data

#46524 Site Editor: Keep edited entity in sync when Editor canvas isn't mounted
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/layout/index.js
Labels: [Type] Bug, [Feature] Site Editor

#46522 Query: Add migration of colors to v2 deprecation
  packages/block-library/src/query/deprecated.js
  test/integration/fixtures/blocks/core__query__deprecated-2-with-colors.html
  test/integration/fixtures/blocks/core__query__deprecated-2-with-colors.json
  test/integration/fixtures/blocks/core__query__deprecated-2-with-colors.parsed.json
  test/integration/fixtures/blocks/core__query__deprecated-2-with-colors.serialized.html
Labels: [Type] Bug, [Block] Query Loop

#46533 Site Editor: Fix the top bar 'exit' animation
  packages/edit-site/src/components/layout/index.js
Labels: [Type] Bug, [Feature] Site Editor

#46527 Fix typing performance issue for container blocks
  packages/block-editor/src/components/inner-blocks/index.js
Labels: [Type] Performance

#46426 Add page list to Link UI transforms in Nav block
  packages/block-editor/src/components/off-canvas-editor/link-ui.js
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation-link/link-ui.js
  packages/block-library/src/navigation-link/transforms.js
  packages/block-library/src/navigation-submenu/edit.js
Labels: [Block] Navigation, [Block] Page List, [Block] Navigation Link, [Block] Submenu

#46539 Lodash: Refactor `edit-site` away from `_.find()`
  packages/edit-site/src/components/global-styles/utils.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Edit Site

#46430 Lodash: Refactor block library away from `_.find()`
  packages/block-library/src/gallery/edit.js
  packages/block-library/src/gallery/v1/edit.js
  packages/block-library/src/social-link/social-list.js
  packages/block-library/src/template-part/edit/utils/hooks.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Block library

#46542 [Mobile] - Disable Unsupported Block Editor Tests (Android)
  packages/react-native-editor/__device-tests__/gutenberg-editor-unsupported-blocks.test.js
Labels: Mobile App - i.e. Android or iOS

#46503 Nav offcanvas - handle non-direct insert block inserter
  packages/block-editor/src/components/inserter/hooks/use-insertion-point.js
  packages/block-editor/src/components/inserter/index.js
  packages/block-editor/src/components/inserter/quick-inserter.js
  packages/block-editor/src/components/inserter/search-results.js
  packages/block-editor/src/components/off-canvas-editor/appender.js
Labels: [Block] Navigation, [Type] Experimental

#46438 Page List: Update the icon to demonstrate that the pages are automatically updated
  packages/block-editor/src/components/block-icon/index.js
  packages/block-editor/src/components/off-canvas-editor/block-select-button.js
  packages/block-library/src/page-list/index.js
Labels: [Block] Page List

#46555 Clarifying the npm package release process for the RC release.
  docs/contributors/code/release.md
Labels: [Type] Developer Documentation, [Type] Build Tooling, Developer Experience

#46487 [`customize-widgets/utils/widgetToBlock`] Initialize a widget's `raw_content.content` to an empty string if it's `undefined`
  packages/customize-widgets/src/utils.js
Labels: [Type] Bug

#46342 Add rough animation to navigation and links
  lib/experimental/class-wp-rest-block-editor-settings-controller.php
  packages/block-editor/src/components/block-inspector/index.js
  packages/block-library/src/navigation-link/index.php
  packages/block-library/src/navigation-submenu/index.php
  packages/block-library/src/navigation/index.php
Labels: [Package] Block editor, [Type] Experimental

#46561 Global Styles REST API endpoint: check custom CSS is included before attempting to validate
  lib/compat/wordpress-6.2/class-gutenberg-rest-global-styles-controller-6-2.php
Labels: [Type] Bug, Global Styles, Backport to Gutenberg RC

#45509 Template Parts: Add an option to import widgets from the sidebars
  lib/compat/wordpress-6.2/rest-api.php
  lib/compat/wordpress-6.2/theme.php
  lib/compat/wordpress-6.2/widgets.php
  lib/load.php
  package-lock.json
  packages/block-library/src/template-part/edit/advanced-controls.js
  packages/block-library/src/template-part/edit/import-controls.js
  packages/block-library/src/template-part/edit/index.js
  packages/block-library/src/template-part/edit/utils/transformers.js
  packages/edit-post/package.json
  packages/edit-post/src/index.js
  packages/edit-site/package.json
  packages/edit-site/src/index.js
  packages/widgets/src/index.js
Labels: [Type] Enhancement, [Block] Template Part

#46530 Change SpacingSizesControl ARIA from region to group
  packages/block-editor/CHANGELOG.md
  packages/block-editor/src/components/spacing-sizes-control/index.js
Labels: Accessibility (a11y), [Package] Block editor

#46564 Update copy of off canvas editor 'add submenu item' option
  packages/block-editor/src/components/off-canvas-editor/block.js
Labels: [Type] Copy, [Block] Navigation

#46562 Fix Off Canvas Editor add submenu item option
  packages/block-editor/src/components/off-canvas-editor/block.js
Labels: [Type] Bug, [Block] Navigation

#46416 Try making page list a controlled block
  packages/block-library/src/page-list/edit.js
Labels: [Type] Code Quality, [Block] Navigation

#46566 Style Engine: Add support for text columns (column-count)
  packages/style-engine/class-wp-style-engine.php
  packages/style-engine/src/styles/typography/index.ts
  packages/style-engine/src/test/index.js
  packages/style-engine/src/types.ts
  phpunit/style-engine/style-engine-test.php
Labels: [Type] Enhancement, [Feature] Design Tools, [Package] Style Engine, [Feature] Typography
