Repository WordPress/gutenberg, pull requests merged in 2022-05, with the labels that each got.

#40748 Fixes the Icon component mobile icon
  packages/icons/src/library/mobile.js
Labels: [Type] Enhancement, [Package] Icons

#40637 Preferences persistence - mark modified property as not readonly in schema
  lib/compat/wordpress-6.1/persisted-preferences.php
Labels: [Type] Code Quality

#40761 Update @testing-library/user-event to stable version (14.1.1)
  package-lock.json
  package.json
Labels: Automated Testing, [Type] Code Quality

#40717 [components] Use internal `Icon` component for `ToggleGroupControlOptionIcon`
  packages/components/CHANGELOG.md
  packages/components/src/toggle-group-control/toggle-group-control-option-icon/component.tsx
Labels: [Package] Components

#40737 SelectControl: Finish typescript migration
  packages/components/CHANGELOG.md
  packages/components/src/dimension-control/test/__snapshots__/index.test.js.snap
  packages/components/src/select-control/README.md
  packages/components/src/select-control/index.tsx
  packages/components/src/select-control/stories/index.js
  packages/components/src/select-control/stories/index.tsx
  packages/components/src/select-control/styles/select-control-styles.ts
  packages/components/src/select-control/test/select-control.tsx
  packages/components/src/select-control/types.ts
Labels: [Package] Components

#40716 Improve tools panel accessibility
  packages/components/CHANGELOG.md
  packages/components/src/button/index.js
  packages/components/src/button/test/index.js
  packages/components/src/menu-item/style.scss
  packages/components/src/tools-panel/test/__snapshots__/index.js.snap
  packages/components/src/tools-panel/test/index.js
  packages/components/src/tools-panel/tools-panel-header/component.tsx
  packages/components/src/tools-panel/types.ts
  test/e2e/specs/widgets/customizing-widgets.spec.js
Labels: [Type] Enhancement, Accessibility (a11y), [Feature] UI Components, [Package] Components, Needs Accessibility Feedback, [a11y] Keyboard & Focus, [a11y] Labelling

#40666 Maintain text color transforming from media to cover
  packages/block-library/src/media-text/transforms.js
Labels: [Type] Enhancement, [Block] Cover, [Block] Media & Text

#40772 Remove require editor hooks line from full-content test setup
  test/integration/full-content/full-content.test.js
Labels: Automated Testing, [Type] Code Quality

#40760 Tests: restore real timers after using Jest's fake timers
  packages/components/src/mobile/bottom-sheet/bottom-sheet-navigation/test/navigation-container.native.js
  packages/components/src/mobile/link-settings/test/link-settings-navigation.native.js
  packages/components/src/tooltip/test/index.js
  packages/core-data/src/hooks/test/use-entity-record.js
  packages/core-data/src/hooks/test/use-entity-records.js
  packages/core-data/src/hooks/test/use-query-select.js
  packages/core-data/src/test/actions.js
  packages/core-data/src/test/entities.js
  packages/core-data/src/test/resolvers.js
  packages/data/src/test/registry.js
  packages/edit-post/src/test/editor.native.js
  packages/editor/src/components/autosave-monitor/test/index.js
  packages/format-library/src/link/test/index.native.js
  packages/preferences-persistence/src/create/test/debounce-async.js
Labels: Automated Testing, [Type] Code Quality

#40729 Mobile - Draggable - Add onTouchesCancelled callback
  packages/components/src/draggable/index.native.js
Labels: [Feature] Drag and Drop, Mobile App - i.e. Android or iOS

#40735 [Gradient Tool]: Fix closing of popover when the angle control is clicked
  packages/components/src/angle-picker-control/angle-circle.js
Labels: [Type] Bug, [Package] Components, Backport to WP Beta/RC, [Feature] Design Tools

#40722 Fix Nav Sidebar Site Editor error
  packages/edit-site/src/components/block-editor/index.js
  packages/edit-site/src/components/sidebar/index.js
Labels: [Type] Bug, [Priority] High, Backport to WP Beta/RC, [Feature] Navigation Menu Sidebar

#40645 Remove Navigation Area block
  docs/reference-guides/core-blocks.md
  lib/experimental/class-wp-rest-block-navigation-areas-controller.php
  lib/experimental/rest-api.php
  lib/load.php
  packages/block-library/src/index.js
  packages/block-library/src/navigation-area/block.json
  packages/block-library/src/navigation-area/edit.js
  packages/block-library/src/navigation-area/index.js
  packages/block-library/src/navigation-area/index.php
  packages/block-library/src/navigation-area/inner-blocks.js
  packages/block-library/src/navigation-area/save.js
  packages/block-library/src/navigation/block.json
  packages/block-library/src/navigation/edit/index.js
  packages/core-data/src/entities.ts
  packages/core-data/src/entity-types/index.ts
  packages/core-data/src/entity-types/navigation-area.ts
  packages/core-data/src/test/actions.js
  test/integration/fixtures/blocks/core__navigation-area.html
  test/integration/fixtures/blocks/core__navigation-area.json
  test/integration/fixtures/blocks/core__navigation-area.parsed.json
  test/integration/fixtures/blocks/core__navigation-area.serialized.html
Labels: [Block] Navigation, [Block] Navigation Area

#40763 Comments Query Loop block: Rename to Comments (but keep ID)
  .github/CODEOWNERS
  docs/reference-guides/core-blocks.md
  lib/blocks.php
  packages/block-library/src/comments/block.json
  packages/block-library/src/comments/edit.js
  packages/block-library/src/comments/edit/comments-inspector-controls.js
  packages/block-library/src/comments/editor.scss
  packages/block-library/src/comments/index.js
  packages/block-library/src/comments/save.js
  packages/block-library/src/editor.scss
  packages/block-library/src/index.js
  packages/block-library/src/post-comment/block.json
  packages/block-library/src/post-comments/block.json
  packages/block-library/src/post-comments/edit.js
  packages/e2e-tests/specs/editor/blocks/comments.test.js
Labels: Backport to WP Beta/RC, [Block] Comments Query Loop

#40779 Migrate paragraph test to Playwright
  test/e2e/specs/editor/blocks/paragraph.spec.js
Labels: Automated Testing

#40697 UnitControl: rewrite tests in TypeScript
  packages/components/CHANGELOG.md
  packages/components/src/unit-control/stories/index.tsx
  packages/components/src/unit-control/test/__snapshots__/index.tsx.snap
  packages/components/src/unit-control/test/index.tsx
  packages/components/src/unit-control/test/utils.ts
  packages/components/src/unit-control/utils.ts
Labels: [Type] Bug, [Type] Enhancement, Automated Testing, [Package] Components, [Feature] Component System

#39625 Close overlay menu when clicking an anchor link
  packages/block-library/src/navigation/view-modal.js
Labels: [Type] Bug, Backport to WP Beta/RC, First-time Contributor

#40725 [RNMobile] Buttons block: Display formatting buttons after closing the block settings (only Android)
  packages/block-library/src/button/edit.native.js
  packages/react-native-editor/CHANGELOG.md
Labels: [Type] Bug, Mobile App - i.e. Android or iOS, [Block] Buttons, Mobile App - Automation

#40731 Rename list view prop `expandNested` to `isExpanded`
  packages/block-editor/src/components/list-view/branch.js
  packages/block-editor/src/components/list-view/index.js
  packages/edit-site/src/components/sidebar/navigation-menu-sidebar/navigation-menu.js
Labels: [Type] Code Quality, [Feature] List View

#40613 Fix an alignment issue with the post comments form
  packages/block-library/src/post-comments-form/index.php
Labels: [Type] Bug, [Block] Post Comments Form

#40759 Comment Template: With pagination, make sure to request page 1 if there are no comments
  lib/compat/wordpress-6.0/blocks.php
  phpunit/class-block-library-comment-template-test.php
Labels: [Type] Bug, [Block] Comment Template

#40793 Comments block e2e test: Remove now-obsolete Post Comments Form block
  packages/e2e-tests/specs/editor/blocks/comments.test.js
Labels: Automated Testing, [Package] E2E Tests, [Block] Comments Query Loop, [Block] Post Comments Form

#40691 [RNMobile] Cover block: Support `isDark` attribute
  packages/block-library/src/cover/edit.js
  packages/block-library/src/cover/edit.native.js
  packages/block-library/src/cover/style.native.scss
  packages/block-library/src/cover/test/__snapshots__/edit.native.js.snap
  packages/block-library/src/cover/use-cover-is-dark.js
  packages/block-library/src/cover/use-cover-is-dark.native.js
  packages/react-native-editor/CHANGELOG.md
Labels: Mobile App - i.e. Android or iOS, [Block] Cover, Mobile App - Automation

#40790 Fix async timing in tests using `user-event`
  packages/components/CHANGELOG.md
  packages/components/src/form-file-upload/test/index.js
  packages/components/src/unit-control/test/index.tsx
Labels: [Type] Enhancement, Automated Testing, [Package] Components, [Feature] Component System

#40730 Text Editor: Avoid content loss
  packages/editor/src/components/post-text-editor/index.js
Labels: [Type] Bug, [Priority] High, [Feature] Code Editor, Backport to WP Beta/RC

#40796 UnitControl: avoid calling onChange callback twice when unit changes
  packages/components/CHANGELOG.md
  packages/components/src/unit-control/index.tsx
  packages/components/src/unit-control/test/index.tsx
Labels: [Type] Bug, [Package] Components, [Feature] Component System

#40293 Cover: Avoid adding a wrapper Group block when transforming to Group, where possible
  packages/block-library/src/cover/test/transforms.js
  packages/block-library/src/cover/transforms.js
Labels: [Type] Bug, [Block] Cover, [Block] Group

#40644 Refactor image-size test to follow Playwright's best practices
  .eslintrc.js
  packages/e2e-test-utils-playwright/src/request/index.ts
  packages/e2e-test-utils-playwright/src/request/media.ts
  test/e2e/specs/editor/plugins/image-size.spec.js
Labels: Automated Testing

#40777 Tidy list view props and deprecate `BlockNavigationDropdown`
  package-lock.json
  packages/block-editor/CHANGELOG.md
  packages/block-editor/src/components/block-navigation/dropdown.js
  packages/block-editor/src/components/list-view/block.js
  packages/block-editor/src/components/list-view/branch.js
  packages/block-editor/src/components/list-view/context.js
  packages/block-editor/src/components/list-view/index.js
  packages/edit-post/src/components/secondary-sidebar/list-view-sidebar.js
  packages/edit-site/src/components/secondary-sidebar/list-view-sidebar.js
  packages/edit-site/src/components/sidebar/navigation-menu-sidebar/navigation-menu.js
  packages/edit-widgets/package.json
  packages/edit-widgets/src/components/secondary-sidebar/list-view-sidebar.js
Labels: [Type] Code Quality, [Feature] List View

#40776 Post Author: Switch byline to use kses so that rich text elements are rendered correctly
  packages/block-library/src/post-author/index.php
Labels: [Type] Bug, Backport to WP Beta/RC, [Block] Post Author

#40671 Navigation block "Open on click": Inherit font style and font weight
  packages/block-library/src/navigation/style.scss
Labels: [Type] Bug, [Block] Navigation

#40136 Allow using a custom domainpath for viewscripts
  lib/compat/wordpress-6.1/blocks.php
Labels: [Feature] Block API

#40754 Add `DatePicker` tests using React Testing Library
  packages/components/CHANGELOG.md
  packages/components/src/date-time/stories/index.js
  packages/components/src/date-time/test/date.js
Labels: [Type] Code Quality, [Package] Components

#40797 [Components]: Update changelog for #40735
  packages/components/CHANGELOG.md
Labels: [Package] Components

#40785 Site Editor: Use default cursor for non-editable text blocks
  packages/block-editor/src/components/block-list/style.scss
Labels: Needs Design Feedback

#40784 `UnitControl`: show unit label when `units` prop has only one unit
  packages/components/CHANGELOG.md
  packages/components/src/unit-control/index.tsx
  packages/components/src/unit-control/stories/index.tsx
  packages/components/src/unit-control/test/index.tsx
Labels: [Type] Bug, [Package] Components, [Feature] Component System

#40705 [RNMobile] Group grid block properties in BlockListItem component
  packages/block-editor/src/components/block-list/block-list-item.native.js
  packages/block-editor/src/components/block-list/index.native.js
Labels: Mobile App - i.e. Android or iOS, Mobile App - Automation

#40825 Interface: Fix deprecation messages
  packages/edit-post/src/store/selectors.js
  packages/interface/src/store/actions.js
  packages/interface/src/store/selectors.js
Labels: [Type] Code Quality

#40802 Add eslint warning about use of waitForTimeout to playwright eslint
  .eslintrc.js
Labels: Automated Testing, [Package] E2E Tests

#40816 Build Tools: Update actions/setup-node GitHub action
  .github/workflows/build-plugin-zip.yml
  .github/workflows/bundle-size.yml
  .github/workflows/create-block.yml
  .github/workflows/end2end-test-playwright.yml
  .github/workflows/end2end-test.yml
  .github/workflows/flaky-tests.yml
  .github/workflows/performance.yml
  .github/workflows/pull-request-automation.yml
  .github/workflows/rnmobile-android-runner.yml
  .github/workflows/rnmobile-ios-runner.yml
  .github/workflows/static-checks.yml
  .github/workflows/storybook-pages.yml
  .github/workflows/unit-test.yml
Labels: [Type] Build Tooling, Automated Testing

#40801 Update `react-dates` to 21.8.0
  package-lock.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/components/src/date-time/test/date.js
Labels: [Type] Code Quality, [Package] Components

#40782 Add missing "type" to the search field on the editor
  packages/block-library/src/search/edit.js
Labels: [Type] Bug, Needs Accessibility Feedback, [Block] Search

#40503 Dependency Extraction Webpack Plugin: Use OpenSSL provider supported in Node 17+
  packages/dependency-extraction-webpack-plugin/CHANGELOG.md
  packages/dependency-extraction-webpack-plugin/lib/index.js
Labels: [Type] Bug, [Package] Dependency Extraction Webpack Plugin

#40835 Return immediately from Avatar block's render_callback if `$comment` is null
  packages/block-library/src/avatar/index.php
Labels: [Type] Bug, [Package] Block library, [Block] Avatar

#40810 [RNMobile] Fix Android crash when closing the editor while dragging
  package-lock.json
  packages/react-native-bridge/android/react-native-bridge/build.gradle
  packages/react-native-editor/android/app/build.gradle
  packages/react-native-editor/package.json
Labels: [Type] Bug, [Feature] Drag and Drop, Mobile App - i.e. Android or iOS

#40798 useRefEffect: Replace undefined with void in callback return type
  packages/compose/CHANGELOG.md
  packages/compose/README.md
  packages/compose/src/hooks/use-ref-effect/index.ts
Labels: [Type] Code Quality, [Package] Compose

#40753 Packages [Dependency Extraction Webpack Plugin]: add new line at the end of *.assets.php
  packages/dependency-extraction-webpack-plugin/lib/index.js
  packages/dependency-extraction-webpack-plugin/test/__snapshots__/build.js.snap
Labels: [Type] Code Quality, [Package] Dependency Extraction Webpack Plugin

#40732 useSelect: add unit tests for usage without deps
  packages/data/src/components/use-select/test/index.js
Labels: [Package] Data

#40839 Setup user-event inline once per test
  packages/components/CHANGELOG.md
  packages/components/src/form-file-upload/test/index.js
  packages/components/src/unit-control/test/index.tsx
Labels: Automated Testing, [Type] Code Quality, [Package] Components

#40842 Fix the styles compatibility hook for the editor iframes
  packages/block-editor/src/components/iframe/index.js
Labels: [Type] Bug, Backport to WP Beta/RC

#40589 Add "How To Get Your Pull Request Reviewed?" to developer handbook
  docs/contributors/code/how-to-get-your-pull-request-reviewed.md
  docs/contributors/repository-management.md
  docs/manifest.json
  docs/toc.json
Labels: [Type] Documentation, Developer Experience

#40025 Convert core-data selectors from jsDoc annotations into TypeScript type signatures
  docs/reference-guides/data/data-core.md
  packages/core-data/README.md
  packages/core-data/src/selectors.ts
Labels: [Type] Code Quality, [Package] Core data, Developer Experience

#40162 Stabilize useEntityRecord and useEntityRecords
  packages/block-library/src/block/edit.js
  packages/block-library/src/categories/edit.js
  packages/block-library/src/navigation/use-navigation-entities.js
  packages/block-library/src/page-list/convert-to-links-modal.js
  packages/block-library/src/page-list/edit.js
  packages/core-data/src/hooks/constants.ts
  packages/core-data/src/hooks/use-entity-record.ts
  packages/core-data/src/hooks/use-entity-records.ts
  packages/core-data/src/index.js
  packages/edit-navigation/src/components/block-placeholder/use-navigation-entities.js
  packages/edit-site/src/components/list/table.js
  packages/widgets/src/blocks/legacy-widget/edit/index.js
Labels: [Package] Core data, Needs Dev Note, Developer Experience

#40596 Try a single icon for title blocks
  packages/block-library/src/comments-title/index.js
  packages/block-library/src/navigation-link/fallback-variations.js
  packages/block-library/src/navigation-link/hooks.js
  packages/block-library/src/navigation-link/test/__snapshots__/hooks.js.snap
  packages/block-library/src/post-title/index.js
  packages/block-library/src/query-title/index.js
  packages/block-library/src/query-title/variations.js
  packages/icons/CHANGELOG.md
  packages/icons/src/index.js
  packages/icons/src/library/archive-title.js
  packages/icons/src/library/comment-title.js
  packages/icons/src/library/post-title.js
  packages/icons/src/library/query-title.js
  packages/icons/src/library/title.js
Labels: Needs Design Feedback, [Block] Post Title, [Block] Query Title, [Block] Comments Title

#40837 Site editor: preset custom color duplicates
  packages/components/src/palette-edit/index.js
  packages/components/src/palette-edit/test/index.js
Labels: [Type] Bug, Global Styles, [Feature] Site Editor

#40841 Site Editor: Avoid previous content flash when a new template is created
  packages/edit-site/src/components/add-new-template/new-template.js
Labels: [Type] Bug, [Feature] Site Editor

#40804 Migrate and refactor image block e2e tests to Playwright
  packages/e2e-tests/specs/editor/blocks/__snapshots__/image.test.js.snap
  packages/e2e-tests/specs/editor/blocks/image.test.js
  test/e2e/assets/10x10_e2e_test_image_z9T8jK.png
  test/e2e/specs/editor/blocks/__snapshots__/Image-allows-changing-aspect-ratio-using-the-crop-tools-1-chromium.txt
  test/e2e/specs/editor/blocks/__snapshots__/Image-allows-rotating-using-the-crop-tools-1-chromium.txt
  test/e2e/specs/editor/blocks/__snapshots__/Image-allows-zooming-using-the-crop-tools-1-chromium.txt
  test/e2e/specs/editor/blocks/image.spec.js
Labels: Automated Testing

#40872 Gallery block: Include image caption when converting a classic block gallery
  packages/block-library/src/gallery/use-short-code-transform.js
Labels: [Block] Gallery

#40858 Button: add text transform control.
  packages/block-library/src/button/block.json
Labels: [Block] Buttons, [Feature] Design Tools

#40817 Comments Title: Make non-editable
  docs/reference-guides/core-blocks.md
  packages/block-library/src/comments-title/block.json
  packages/block-library/src/comments-title/deprecated.js
  packages/block-library/src/comments-title/edit.js
  packages/block-library/src/comments-title/index.js
  packages/block-library/src/comments-title/index.php
  test/integration/fixtures/blocks/core__comments-title__deprecated-v1.html
  test/integration/fixtures/blocks/core__comments-title__deprecated-v1.json
  test/integration/fixtures/blocks/core__comments-title__deprecated-v1.parsed.json
  test/integration/fixtures/blocks/core__comments-title__deprecated-v1.serialized.html
Labels: [Type] Bug, Internationalization (i18n), [Block] Comments Title

#40593 [Block Library - Latest Posts]: Prevent opening the links in editor
  packages/block-library/src/latest-posts/edit.js
Labels: [Type] Bug, Accessibility (a11y), [Package] Block library, [Block] Latest Posts, Backport to WP Beta/RC

#40828 Search Block: remove id attribute from svg
  packages/block-library/src/search/index.php
Labels: [Block] Search

#40788 Mobile - AztecView - Trigger notifyInputChange on focus/blur
  packages/block-editor/src/components/block-draggable/index.native.js
  packages/react-native-aztec/src/AztecInputState.js
  packages/react-native-aztec/src/AztecView.js
Labels: [Feature] Drag and Drop, Mobile App - i.e. Android or iOS

#29739 ToC block: re-enable + use static markup and only support core Heading and Page Break blocks
  .github/CODEOWNERS
  docs/reference-guides/core-blocks.md
  lib/blocks.php
  packages/block-library/src/heading/edit.js
  packages/block-library/src/index.js
  packages/block-library/src/list/transforms.js
  packages/block-library/src/table-of-contents/block.json
  packages/block-library/src/table-of-contents/edit.js
  packages/block-library/src/table-of-contents/index.js
  packages/block-library/src/table-of-contents/index.php
  packages/block-library/src/table-of-contents/list.js
  packages/block-library/src/table-of-contents/list.tsx
  packages/block-library/src/table-of-contents/save.js
  packages/block-library/src/table-of-contents/utils.js
  packages/block-library/src/table-of-contents/utils.ts
  packages/block-library/tsconfig.json
  packages/e2e-tests/specs/editor/various/block-switcher.test.js
  packages/e2e-tests/specs/editor/various/inserting-blocks.test.js
  test/integration/fixtures/blocks/core__table-of-contents.html
  test/integration/fixtures/blocks/core__table-of-contents.json
  test/integration/fixtures/blocks/core__table-of-contents.parsed.json
  test/integration/fixtures/blocks/core__table-of-contents.serialized.html
  test/integration/fixtures/blocks/core__table-of-contents__empty.html
  test/integration/fixtures/blocks/core__table-of-contents__empty.json
  test/integration/fixtures/blocks/core__table-of-contents__empty.parsed.json
  test/integration/fixtures/blocks/core__table-of-contents__empty.serialized.html
Labels: [Block] Table of contents

#40853 Use `get_the_post_thumbnail` function in the cover block.
  packages/block-library/src/cover/index.php
Labels: [Type] Bug, [Type] Performance, [Block] Cover, Backport to WP Beta/RC

#40572 Ensure that post thumbnail is cached in post template block.
  packages/block-library/src/post-template/index.php
Labels: [Type] Performance, Backport to WP Beta/RC, [Block] Post Template

#40887 Fix: Global Styles are always resettable.
  packages/edit-site/src/components/global-styles/hooks.js
Labels: [Type] Bug, Backport to WP Beta/RC, Global Styles

#40192 DOM: Allow copying text from non-text input elements
  packages/dom/README.md
  packages/dom/src/dom/document-has-selection.js
  packages/dom/src/dom/document-has-uncollapsed-selection.js
  packages/dom/src/dom/input-field-has-uncollapsed-selection.js
  packages/dom/src/dom/is-html-input-element.js
  packages/dom/src/dom/is-text-field.js
  packages/dom/src/test/dom.js
Labels: [Type] Bug, [Package] DOM

#40849 Post Comments Block: Allow placeholders to reorder items in translations
  packages/block-library/src/post-comments/edit.js
Labels: [Type] Bug, Internationalization (i18n), Backport to WP Beta/RC, [Block] Post Comments

#40888 Fix: Global Styles: Impossible to open welcome guide if global styles are empty.
  packages/edit-site/src/components/sidebar/global-styles-sidebar.js
Labels: [Type] Bug, Backport to WP Beta/RC, Global Styles

#40867 Add link to npm release details to the release docs
  docs/contributors/code/release.md
Labels: [Type] Documentation, [Type] Project Management

#40655 Declare blocks as __experimental in block.json to automate syncing Gutenberg packages to WordPress
  babel.config.js
  packages/block-library/CHANGELOG.md
  packages/block-library/README.md
  packages/block-library/babel-plugin.js
  packages/block-library/src/comment-author-avatar/block.json
  packages/block-library/src/index.js
  packages/block-library/src/is-block-metadata-experimental.js
  packages/block-library/src/list-item/block.json
  packages/block-library/src/post-author-name/block.json
  packages/block-library/src/post-comment/block.json
  packages/block-library/src/post-comments-count/block.json
  packages/block-library/src/post-comments-link/block.json
  packages/block-library/test/babel-plugin.js
  schemas/json/block.json
  test/unit/config/is-gutenberg-plugin.js
Labels: Gutenberg Plugin, [Type] Code Quality, [Package] Block library

#39910 Migrated popovers.test.js to Playwright
  packages/e2e-tests/specs/editor/various/popovers.test.js
  test/e2e/specs/editor/various/popovers.spec.js
Labels: Automated Testing, First-time Contributor

#40899 Table of Contents block: remove editor-only wrapper `<div>`.
  packages/block-library/src/table-of-contents/edit.js
Labels: [Type] Enhancement, Good First Review, [Package] Block editor, CSS Styling, [Block] Table of contents

#40904 Improve function name for finding navigation links that use the featured image
  packages/block-library/src/post-template/index.php
Labels: [Type] Code Quality, Backport to WP Beta/RC

#40905 Mark Table of Contents block as experimental using `block.json` flag.
  packages/block-library/src/table-of-contents/block.json
Labels: [Type] Task, [Block] Table of contents

#40803 Post Terms: Add wp_kses_post to prefix/suffix for consistency
  packages/block-library/src/post-terms/edit.js
  packages/block-library/src/post-terms/index.php
Labels: [Type] Code Quality, [Block] Post Terms

#40917 BorderControl: Make reset to default button only display when required
  packages/components/CHANGELOG.md
  packages/components/src/border-control/border-control-dropdown/component.tsx
Labels: [Type] Enhancement, [Feature] UI Components

#38458 Add transform between cover and media & text
  packages/block-library/src/media-text/transforms.js
Labels: [Type] Enhancement, [Block] Cover, [Block] Media & Text

#34969 dependency-extraction-webpack-plugin: Calculate vendor hash from file output rather than Webpack internal state
  packages/dependency-extraction-webpack-plugin/CHANGELOG.md
  packages/dependency-extraction-webpack-plugin/lib/index.js
  packages/dependency-extraction-webpack-plugin/test/__snapshots__/build.js.snap
Labels: [Type] Enhancement, First-time Contributor, [Package] Dependency Extraction Webpack Plugin

#40889 Theme Json: Don't output double selectors for elements inside blocks
  lib/compat/wordpress-5.9/class-wp-theme-json-5-9.php
  lib/compat/wordpress-6.0/class-wp-theme-json-6-0.php
  lib/compat/wordpress-6.1/class-wp-theme-json-6-1.php
  lib/experimental/class-wp-theme-json-gutenberg.php
  lib/load.php
Labels: [Block] Heading, [Feature] Themes, Global Styles

#40911 DevicePreview: Remove unnecessary div tag
  packages/edit-post/src/components/device-preview/index.js
Labels: [Type] Enhancement, [Package] Edit Post

#40890 Make the useDisabled hook stable
  packages/block-editor/src/components/block-list/use-block-props/index.js
  packages/block-editor/src/components/block-preview/index.js
  packages/block-library/src/post-comments-form/form.js
  packages/block-library/src/post-comments/edit.js
  packages/block-library/src/table-of-contents/edit.js
  packages/components/src/disabled/index.js
  packages/compose/CHANGELOG.md
  packages/compose/README.md
  packages/compose/src/hooks/use-disabled/index.js
  packages/compose/src/index.js
Labels: [Type] Code Quality, [Package] Compose, [Type] New API

#40569 Corrected the order in the code tabs
  docs/how-to-guides/block-tutorial/writing-your-first-block-type.md
Labels: [Type] Documentation, First-time Contributor

#40795 Fix Comments Form Title text alignment
  packages/block-library/src/post-comments-form/style.scss
  packages/block-library/src/post-comments/style.scss
Labels: [Type] Bug, Backport to WP Beta/RC, [Block] Post Comments Form

#40886 [RNMobile] Allow dragging from block toolbar
  packages/block-editor/src/components/block-draggable/index.native.js
  packages/block-editor/src/components/block-list/block.native.js
  packages/block-editor/src/components/block-mobile-toolbar/index.native.js
Labels: [Type] Enhancement, [Feature] Drag and Drop, Mobile App - i.e. Android or iOS

#40812 Image Editor: Remove HTML from error messages
  packages/block-editor/src/components/image-editor/use-save-image.js
Labels: [Type] Bug, [Block] Image, [Package] Block editor

#40752 Navigation link: prime caches for all posts in menu items
  packages/block-library/src/navigation/index.php
  phpunit/blocks/render-block-navigation-test.php
Labels: [Type] Performance, [Block] Navigation, Backport to WP Beta/RC, [Block] Navigation Link

#37261 Add suspense support to the data module
  packages/data/README.md
  packages/data/src/components/use-select/index.js
  packages/data/src/components/use-select/test/suspense.js
  packages/data/src/index.js
  packages/data/src/redux-store/index.js
  packages/data/src/registry.js
Labels: [Type] Technical Prototype, Framework, [Package] Data

#40919 Fix the position of the inbetween inserter
  packages/block-editor/src/components/block-popover/inbetween.js
Labels: [Type] Bug, [Feature] Inserter

#40921 BorderControl: Make border color consistent with other controls
  packages/components/src/border-control/styles.ts
Labels: [Type] Enhancement, [Feature] UI Components, [Feature] Design Tools

#40918 Styles hook: swap out lodash methods with their JS equivalents
  packages/block-editor/src/hooks/style.js
Labels: [Type] Code Quality

#40945 useShortCodeTransform: Fetch media data in single request
  packages/block-library/src/gallery/use-get-media.js
  packages/block-library/src/gallery/use-short-code-transform.js
Labels: [Type] Performance, [Block] Gallery

#40939 [List v2]: Fix outdent on empty list item if we press enter
  packages/block-library/src/list-item/hooks/use-enter.js
Labels: [Type] Bug, [Block] List, [Type] Experimental

#40757 Block list: Add option in editor settings to show open list view as default
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/preferences-modal/index.js
  packages/edit-post/src/components/preferences-modal/test/__snapshots__/index.js.snap
  packages/edit-post/src/index.js
  packages/edit-site/src/components/preferences-modal/index.js
  packages/edit-site/src/index.js
  test/e2e/README.md
  test/e2e/specs/site-editor/block-list-panel-preference.spec.js
Labels: [Type] Enhancement, [Feature] List View

#40954 Block Library: Replace hardcoded core/paragraph with getDefaultBlockName in onSplitAtEnd callbacks
  packages/block-library/src/audio/edit.js
  packages/block-library/src/embed/embed-preview.js
  packages/block-library/src/gallery/gallery.js
  packages/block-library/src/gallery/v1/gallery.js
  packages/block-library/src/image/image.js
  packages/block-library/src/pullquote/edit.js
  packages/block-library/src/pullquote/edit.native.js
  packages/block-library/src/quote/edit.js
  packages/block-library/src/quote/v2/edit.js
  packages/block-library/src/table/edit.js
  packages/block-library/src/video/edit.js
Labels: [Type] Code Quality, [Package] Block library, [Block] Embed, [Block] Image, [Block] Gallery, [Block] Table, [Block] Video, [Block] Quote, [Block] Audio, [Block] Pullquote

#40920 BorderControl: Make height consistent with other controls
  packages/components/CHANGELOG.md
  packages/components/src/border-box-control/border-box-control-linked-button/hook.ts
  packages/components/src/border-box-control/border-box-control-split-controls/component.tsx
  packages/components/src/border-box-control/border-box-control-visualizer/hook.ts
  packages/components/src/border-box-control/border-box-control/component.tsx
  packages/components/src/border-box-control/stories/index.js
  packages/components/src/border-box-control/styles.ts
  packages/components/src/border-box-control/types.ts
  packages/components/src/border-control/border-control-dropdown/hook.ts
  packages/components/src/border-control/border-control/component.tsx
  packages/components/src/border-control/border-control/hook.ts
  packages/components/src/border-control/stories/index.js
  packages/components/src/border-control/styles.ts
  packages/components/src/border-control/types.ts
Labels: [Type] Enhancement, [Feature] UI Components, [Feature] Design Tools

#40956 Site Editor: Decode entities in the site title
  packages/edit-site/src/components/routes/use-title.js
Labels: [Type] Bug, [Feature] Site Editor

#40509 Update react-resize-aware with use-resize-observer
  package-lock.json
  package.json
  packages/components/package.json
  packages/components/src/flyout/test/__snapshots__/index.js.snap
  packages/components/src/flyout/utils.js
  packages/components/src/placeholder/test/index.js
  packages/components/src/popover/test/__snapshots__/index.js.snap
  packages/components/src/resizable-box/resize-tooltip/utils.ts
  packages/components/src/toggle-group-control/test/__snapshots__/index.js.snap
  packages/components/src/toggle-group-control/toggle-group-control/component.tsx
  packages/compose/CHANGELOG.md
  packages/compose/README.md
  packages/compose/package.json
  packages/compose/src/hooks/use-resize-observer/index.js
  packages/compose/src/hooks/use-resize-observer/index.native.js
  packages/compose/src/hooks/use-resize-observer/index.tsx
  test/unit/config/global-mocks.js
Labels: [Type] Code Quality

#40734 Docs: Git.io deprecation - Replace links
  .github/workflows/rnmobile-android-runner.yml
  bin/plugin/commands/test/fixtures/pull-requests.json
  packages/block-editor/src/components/inserter/index.native.js
  packages/block-editor/src/hooks/anchor.js
  packages/block-library/src/block/test/edit.native.js
  packages/block-library/src/cover/controls.native.js
  packages/block-library/src/cover/focal-point-settings-button.native.js
  packages/block-library/src/image/test/edit.native.js
  packages/components/src/focal-point-picker/index.native.js
  packages/components/src/mobile/bottom-sheet/bottom-sheet-navigation/navigation-screen.native.js
  packages/components/src/mobile/bottom-sheet/bottom-sheet-navigation/test/navigation-container.native.js
  packages/components/src/mobile/bottom-sheet/index.native.js
  packages/components/src/sandbox/index.native.js
  packages/components/src/tooltip/test/index.native.js
  packages/editor/src/components/editor-help/test/index.native.js
  packages/react-native-editor/ios/Podfile
  packages/react-native-editor/metro.config.js
  packages/react-native-editor/src/setup.js
  packages/react-native-editor/src/test/index.test.js
  test/native/helpers.js
  test/native/setup.js
Labels: [Type] Documentation

#40739 Comment Template: Reorganize block tests to ease backport process
  phpunit/class-block-library-comment-template-test.php
Labels: Automated Testing, [Block] Comment Template, Backport from WordPress Core

#40571 Ensure that post thumbnail is cached in latest post block.
  packages/block-library/src/latest-posts/index.php
  phpunit/blocks/render-last-posts-test.php
Labels: [Type] Performance, [Block] Latest Posts, Backport to WP Beta/RC

#40932 Document useEntityRecord/s in README.md and CHANGELOG.md
  packages/core-data/CHANGELOG.md
  packages/core-data/README.md
  packages/core-data/src/hooks/index.ts
  packages/core-data/src/hooks/use-entity-record.ts
  packages/core-data/src/index.js
Labels: [Type] Documentation, [Package] Core data, Developer Experience

#40947 [RNMobile] Fix broken "Link To" settings and add "Image Size" settings
  packages/block-library/src/gallery/use-get-media.js
  packages/block-library/src/gallery/use-short-code-transform.js
  packages/react-native-editor/CHANGELOG.md
Labels: Mobile App - i.e. Android or iOS, [Block] Gallery, Mobile App - Automation

#40959 Template List: Fix word break for the 'Added by' column
  packages/edit-site/src/components/list/style.scss
Labels: [Type] Bug, [Feature] Site Editor

#40972 Comments Title: Fix post title translation
  packages/block-library/src/comments-title/index.php
Labels: [Type] Bug, [Package] i18n, Backport to WP Beta/RC, [Block] Comments Title

#32944 Test block insertion after title post blur
  packages/edit-post/src/components/visual-editor/test/index.native.js
Labels: Automated Testing, [Feature] Writing Flow, Mobile App - i.e. Android or iOS

#40930 Dependency extraction: improve calculation of contentHash
  packages/dependency-extraction-webpack-plugin/lib/index.js
  packages/dependency-extraction-webpack-plugin/test/__snapshots__/build.js.snap
Labels: [Type] Code Quality, [Package] Dependency Extraction Webpack Plugin

#40894 [RNMobile] Bump AztecAndroid version
  packages/react-native-aztec/android/build.gradle
Labels: Mobile App - i.e. Android or iOS, Mobile App - Automation

#40958 BorderRadiusControl: Tweak spacing between input and range control to line up with BorderControl
  packages/block-editor/src/components/border-radius-control/style.scss
Labels: [Type] Enhancement, [Package] Block editor, CSS Styling

#40951 BorderControl: Fix focus styling
  packages/components/CHANGELOG.md
  packages/components/src/border-control/styles.ts
Labels: [Type] Enhancement, [Feature] UI Components, CSS Styling

#40981 Editor preferences: update order and copy
  packages/edit-post/src/components/preferences-modal/index.js
  packages/edit-post/src/components/preferences-modal/test/__snapshots__/index.js.snap
  packages/edit-site/src/components/preferences-modal/index.js
Labels: [Type] Enhancement, General Interface

#40983 BorderRadiusControl: Add tooltips to split border radius controls
  packages/block-editor/src/components/border-radius-control/input-controls.js
  packages/block-editor/src/components/border-radius-control/style.scss
Labels: [Type] Enhancement, [Feature] Design Tools

#40957 Add jest-console typings and convert DateTimePicker tests to TypeScript
  packages/components/CHANGELOG.md
  packages/components/src/date-time/test/date.tsx
  packages/components/src/date-time/test/time.tsx
  packages/components/src/date-time/test/utils.ts
  packages/components/src/date-time/utils.ts
  packages/components/tsconfig.json
  packages/jest-console/CHANGELOG.md
  packages/jest-console/package.json
  packages/jest-console/types/index.d.ts
Labels: [Type] Code Quality, [Package] Jest console, [Package] Components

#40977 Dependency extraction: respect hashDigestLength option for version field
  packages/dependency-extraction-webpack-plugin/lib/index.js
  packages/dependency-extraction-webpack-plugin/test/__snapshots__/build.js.snap
Labels: [Type] Code Quality, [Package] Dependency Extraction Webpack Plugin

#40962 [List v2]: Outdent list item when pressing `Backspace` at the start
  packages/block-library/src/list-item/edit.js
  packages/block-library/src/list-item/hooks/index.js
  packages/block-library/src/list-item/hooks/use-backspace.js
  packages/block-library/src/list-item/hooks/use-enter.js
Labels: [Package] Block library, [Block] List, [Type] Experimental

#39949 Add: Space to indent list item
  packages/block-library/src/list-item/edit.js
  packages/block-library/src/list-item/hooks/index.js
  packages/block-library/src/list-item/hooks/use-space.js
Labels: [Block] List

#40970 Heading block - add font family support
  packages/block-library/src/heading/block.json
Labels: [Package] Block library, [Block] Heading, [Feature] Full Site Editing, [Feature] Webfonts

#39837 [Block Library - Post Terms]: Add dynamic variations of custom taxonomies
  docs/reference-guides/core-blocks.md
  packages/block-library/package.json
  packages/block-library/src/categories/block.json
  packages/block-library/src/post-terms/hooks.js
  packages/block-library/src/post-terms/index.js
  packages/block-library/src/post-terms/index.php
  packages/block-library/src/post-terms/variations.js
Labels: [Type] Enhancement, [Package] Block library, [Block] Post Terms

#40568 Finish making `InputControl` et al. more controllable
  packages/components/src/input-control/reducer/actions.ts
  packages/components/src/input-control/reducer/reducer.ts
  packages/components/src/input-control/reducer/state.ts
  packages/components/src/range-control/index.js
  packages/components/src/range-control/rail.js
  packages/components/src/range-control/test/index.js
  packages/components/src/range-control/utils.js
  packages/components/src/unit-control/index.tsx
  packages/components/src/unit-control/test/index.js
Labels: [Type] Bug, [Feature] UI Components, [Package] Components

#40424 [RNMobile] Drag & drop blocks feature
  package-lock.json
  packages/block-editor/src/components/block-draggable/draggable-chip.native.js
  packages/block-editor/src/components/block-draggable/dropping-insertion-point.native.js
  packages/block-editor/src/components/block-draggable/dropping-insertion-point.native.scss
  packages/block-editor/src/components/block-draggable/index.native.js
  packages/block-editor/src/components/block-draggable/style.native.scss
  packages/block-editor/src/components/block-draggable/use-scroll-when-dragging.native.js
  packages/block-editor/src/components/block-list/block-list-context.native.js
  packages/block-editor/src/components/block-list/block-list-item-cell.native.js
  packages/block-editor/src/components/block-list/block.native.js
  packages/block-editor/src/components/block-list/index.native.js
  packages/block-editor/src/components/block-list/test/block-list-context.native.js
  packages/block-editor/src/components/block-list/test/fixtures/block-list-context.native.js
  packages/block-editor/src/components/block-mobile-toolbar/index.native.js
  packages/block-editor/src/components/block-mover/index.native.js
  packages/block-editor/src/components/block-mover/test/__snapshots__/index.native.js.snap
  packages/block-editor/src/components/use-block-drop-zone/index.native.js
  packages/block-editor/src/components/use-on-block-drop/index.native.js
  packages/block-library/src/cover/controls.native.js
  packages/block-library/src/cover/edit.native.js
  packages/block-library/src/file/edit.native.js
  packages/block-library/src/image/edit.native.js
  packages/block-library/src/media-text/edit.native.js
  packages/block-library/src/media-text/media-container.native.js
  packages/components/src/button/index.native.js
  packages/components/src/draggable/index.native.js
  packages/components/src/draggable/style.native.scss
  packages/components/src/index.native.js
  packages/components/src/mobile/html-text-input/container.android.js
  packages/components/src/mobile/html-text-input/container.ios.js
  packages/components/src/mobile/html-text-input/index.native.js
  packages/components/src/mobile/html-text-input/style.android.scss
  packages/components/src/mobile/html-text-input/style.ios.scss
  packages/components/src/mobile/html-text-input/style.scss
  packages/components/src/mobile/keyboard-aware-flat-list/index.android.js
  packages/components/src/mobile/keyboard-aware-flat-list/index.ios.js
  packages/compose/src/index.native.js
  packages/editor/src/components/provider/index.native.js
  packages/react-native-aztec/CHANGELOG.md
  packages/react-native-aztec/android/src/main/java/org/wordpress/mobile/ReactNativeAztec/ReactAztecText.java
  packages/react-native-aztec/src/AztecInputState.js
  packages/react-native-aztec/src/AztecView.js
  packages/react-native-aztec/src/test/AztecInputState.test.js
  packages/react-native-bridge/android/react-native-bridge/build.gradle
  packages/react-native-bridge/android/react-native-bridge/src/main/AndroidManifest.xml
  packages/react-native-bridge/android/react-native-bridge/src/main/java/org/wordpress/mobile/ReactNativeGutenbergBridge/RNReactNativeGutenbergBridgeModule.java
  packages/react-native-bridge/index.js
  packages/react-native-bridge/ios/RNReactNativeGutenbergBridge.m
  packages/react-native-bridge/ios/RNReactNativeGutenbergBridge.swift
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/__device-tests__/gutenberg-editor-cover.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-spacer.test.js
  packages/react-native-editor/__device-tests__/pages/editor-page.js
  packages/react-native-editor/android/app/build.gradle
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
  test/native/__mocks__/@wordpress/react-native-aztec/index.js
  test/native/__mocks__/styleMock.js
  test/native/setup.js
Labels: [Feature] Drag and Drop, Mobile App - i.e. Android or iOS

#40965 Tests: Remove comment template unit tests
  phpunit/class-block-library-comment-template-test.php
Labels: Automated Testing, [Block] Comment Template

#40399 Table block: Fix focus loss after Create Table button is selected
  packages/block-library/src/table/edit.js
  packages/e2e-tests/specs/editor/blocks/table.test.js
  packages/e2e-tests/specs/editor/various/writing-flow.test.js
Labels: [Type] Bug, Accessibility (a11y), [Package] Block library, Needs Accessibility Feedback, [Block] Table, [a11y] Keyboard & Focus, [Package] E2E Tests

#40832 Cover block: Refactor controls
  packages/block-library/src/cover/edit.js
  packages/block-library/src/cover/edit/block-controls.js
  packages/block-library/src/cover/edit/cover-placeholder.js
  packages/block-library/src/cover/edit/index.js
  packages/block-library/src/cover/edit/inspector-controls.js
  packages/block-library/src/cover/edit/resizeable-cover.js
  packages/block-library/src/cover/edit/use-cover-is-dark.js
  packages/block-library/src/cover/shared.js
  packages/block-library/src/cover/test/block-controls.js
Labels: [Status] In Progress, [Type] Code Quality, [Block] Cover

#40834 Post saved draft button: overwrite default button component margin
  packages/editor/src/components/post-saved-state/style.scss
Labels: [Type] Bug, Internationalization (i18n), [Package] Editor

#40990 CircularOptionPicker: Fix focused styles
  packages/components/CHANGELOG.md
  packages/components/src/circular-option-picker/style.scss
Labels: [Type] Enhancement, [Feature] UI Components, CSS Styling

#40994 Tools: Improve configuration for formatting files
  .editorconfig
  .github/ISSUE_TEMPLATE/Bug_report.yml
  .npmpackagejsonlintrc.json
  .prettierignore
  bin/plugin/commands/test/fixtures/bot-pull-requests.json
  docs/toc.json
  lib/compat/wordpress-6.0/theme-i18n.json
  package-lock.json
  package.json
  packages/block-library/src/avatar/block.json
  packages/block-library/src/list-item/block.json
  packages/block-library/src/tag-cloud/block.json
  packages/block-serialization-spec-parser/.eslintrc.json
  packages/compose/tsconfig.json
  packages/create-block/CHANGELOG.md
  packages/create-block/lib/templates/es5/.editorconfig.mustache
  packages/create-block/lib/templates/plugin/.editorconfig.mustache
  packages/data/tsconfig.json
  packages/dependency-extraction-webpack-plugin/lib/types.d.ts
  packages/dom/tsconfig.json
  packages/e2e-test-utils-playwright/tsconfig.json
  packages/e2e-tests/specs/editor/fixtures/menu-items-response-fixture.json
  packages/prettier-config/tsconfig.json
  packages/scripts/CHANGELOG.md
  packages/scripts/README.md
  packages/scripts/config/.markdownlint.json
  packages/scripts/scripts/format.js
  packages/stylelint-config/test/.stylelintrc.json
  schemas/json/block.json
  test/e2e/tsconfig.json
Labels: Gutenberg Plugin, [Type] Code Quality, [Package] Scripts

#40982 Add an explicit error message if an image block fails to load the image
  packages/block-library/src/image/edit.js
Labels: [Type] Enhancement, [Block] Image

#40985 Select Component: Remove the lineheight setting to fix issue with font descenders being cut off
  packages/components/src/select-control/styles/select-control-styles.ts
Labels: [Feature] UI Components

#40084 Color Controls: Merge color dropdown components
  packages/block-editor/src/components/colors-gradients/dropdown.js
  packages/block-editor/src/components/colors-gradients/style.scss
  packages/block-editor/src/components/colors-gradients/tools-panel-color-dropdown.js
  packages/block-editor/src/components/index.js
  packages/block-editor/src/hooks/color-panel.js
  packages/block-editor/src/hooks/color.scss
Labels: [Type] Enhancement, [Feature] Design Tools

#40815 Reorganize playwright utils and make canvas utils usable in the site editor
  packages/e2e-test-utils-playwright/README.md
  packages/e2e-test-utils-playwright/src/admin/create-new-post.js
  packages/e2e-test-utils-playwright/src/admin/get-page-error.ts
  packages/e2e-test-utils-playwright/src/admin/index.ts
  packages/e2e-test-utils-playwright/src/admin/visit-admin-page.ts
  packages/e2e-test-utils-playwright/src/admin/visit-site-editor.ts
  packages/e2e-test-utils-playwright/src/editor/click-block-options-menu-item.ts
  packages/e2e-test-utils-playwright/src/editor/click-block-toolbar-button.ts
  packages/e2e-test-utils-playwright/src/editor/get-edited-post-content.ts
  packages/e2e-test-utils-playwright/src/editor/index.ts
  packages/e2e-test-utils-playwright/src/editor/insert-block.ts
  packages/e2e-test-utils-playwright/src/editor/open-document-settings-sidebar.ts
  packages/e2e-test-utils-playwright/src/editor/preview.ts
  packages/e2e-test-utils-playwright/src/editor/select-block-by-client-id.ts
  packages/e2e-test-utils-playwright/src/editor/show-block-toolbar.ts
  packages/e2e-test-utils-playwright/src/editor/site-editor.ts
  packages/e2e-test-utils-playwright/src/index.ts
  packages/e2e-test-utils-playwright/src/page-utils/index.ts
  packages/e2e-test-utils-playwright/src/page-utils/is-current-url.ts
  packages/e2e-test-utils-playwright/src/page-utils/press-key-times.js
  packages/e2e-test-utils-playwright/src/page-utils/press-key-with-modifier.ts
  packages/e2e-test-utils-playwright/src/page-utils/set-browser-viewport.js
  packages/e2e-test-utils-playwright/src/page/index.ts
  packages/e2e-test-utils-playwright/src/page/is-current-url.js
  packages/e2e-test-utils-playwright/src/request-utils/blocks.js
  packages/e2e-test-utils-playwright/src/request-utils/index.ts
  packages/e2e-test-utils-playwright/src/request-utils/login.ts
  packages/e2e-test-utils-playwright/src/request-utils/media.ts
  packages/e2e-test-utils-playwright/src/request-utils/plugins.ts
  packages/e2e-test-utils-playwright/src/request-utils/posts.js
  packages/e2e-test-utils-playwright/src/request-utils/preferences.ts
  packages/e2e-test-utils-playwright/src/request-utils/rest.ts
  packages/e2e-test-utils-playwright/src/request-utils/templates.ts
  packages/e2e-test-utils-playwright/src/request-utils/themes.ts
  packages/e2e-test-utils-playwright/src/request-utils/widgets.js
  packages/e2e-test-utils-playwright/src/test.ts
  test/e2e/MIGRATION.md
  test/e2e/specs/editor/blocks/image.spec.js
  test/e2e/specs/editor/blocks/paragraph.spec.js
  test/e2e/specs/editor/blocks/quote.spec.js
  test/e2e/specs/editor/plugins/block-api.spec.js
  test/e2e/specs/editor/plugins/image-size.spec.js
  test/e2e/specs/editor/various/copy-cut-paste.spec.js
  test/e2e/specs/editor/various/new-post.spec.js
  test/e2e/specs/editor/various/popovers.spec.js
  test/e2e/specs/editor/various/post-editor-template-mode.spec.js
  test/e2e/specs/editor/various/style-variation.spec.js
  test/e2e/specs/site-editor/block-list-panel-preference.spec.js
  test/e2e/specs/site-editor/title.spec.js
  test/e2e/specs/widgets/customizing-widgets.spec.js
Labels: Automated Testing

#40991 [List v2]: Indent multiple list items
  packages/block-library/src/list-item/hooks/use-indent-list-item.js
  packages/block-library/src/list-item/utils.js
Labels: [Package] Block library, [Block] List, [Type] Experimental

#40855 Separator Block: add border property for dots style to editor stylesheet
  packages/block-library/src/separator/editor.scss
Labels: [Block] Separator

#41013 [RNMobile] Add ruby version file.
  packages/react-native-editor/ios/.ruby-version
Labels: Mobile App - i.e. Android or iOS

#41018 Layout: Remove double output of align-items in horizontal layouts
  lib/block-supports/layout.php
Labels: [Type] Bug, [Feature] Design Tools

#41005 Mobile Release v1.76.0
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/GutenbergDemo.xcodeproj/project.pbxproj
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS

#40935 Template Editor: Use the label 'Clear customizations' when changes are revertable
  packages/edit-post/src/components/header/template-title/delete-template.js
  packages/edit-post/src/components/header/template-title/edit-template-title.js
  packages/edit-post/src/components/header/template-title/style.scss
  packages/edit-post/src/components/header/template-title/template-description.js
Labels: [Type] Enhancement, [Feature] Template Editing Mode

#40787 Only allow template part to be replaced if its a header or footer
  packages/block-library/src/template-part/edit/index.js
Labels: [Block] Template Part

#40830 Create single template via site editor if not existing
  packages/edit-site/src/components/add-new-template/new-template.js
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/constants.js
  packages/editor/src/components/post-slug/test/index.js
Labels: [Type] Bug, First-time Contributor, [Feature] Site Editor, [Feature] Template Editing Mode

#41044 Fix pull-request-automation CI check (temporarily until an upstream fix lands)
  package-lock.json
  packages/project-management-automation/package.json
Labels: [Type] Project Management, [Package] Project management automation

#41045 Update package-lock.json
  package-lock.json
  package.json
Labels: [Type] Project Management

#40933 [Block Library - Query Loop]: Add `parents` filter
  lib/compat/wordpress-6.0/blocks.php
  packages/block-library/src/post-template/edit.js
  packages/block-library/src/query/block.json
  packages/block-library/src/query/edit/inspector-controls/index.js
  packages/block-library/src/query/edit/inspector-controls/parent-control.js
  packages/block-library/src/query/utils.js
  test/integration/fixtures/blocks/core__query.json
Labels: [Type] Enhancement, [Package] Block library, [Block] Query Loop

#41051 [List v2]: Focus new list item added from sibling inserter
  packages/block-library/src/list/v2/edit.js
Labels: [Type] Bug, [Block] List, [Type] Experimental

#41036 [RNMobile] Improve text read by screen readers for BottomSheetSelectControl
  packages/components/src/mobile/bottom-sheet-select-control/index.native.js
  packages/react-native-editor/CHANGELOG.md
Labels: Accessibility (a11y), Mobile App - i.e. Android or iOS, Mobile App - Automation

#41058 [bug] Theme Export: Use basename when determining the theme slug
  lib/compat/wordpress-6.0/class-gutenberg-rest-edit-site-export-controller.php
Labels: [Type] Bug, [Feature] Themes, [Feature] Full Site Editing

#40670 [RNMobile] - E2E Simplify heading and lists blocks functions
  packages/react-native-editor/__device-tests__/gutenberg-editor-heading-@canary.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-lists-@canary.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-lists-end.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-lists.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-paragraph.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-paste.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-rotation.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-slash-inserter-@canary.test.js
  packages/react-native-editor/__device-tests__/helpers/utils.js
  packages/react-native-editor/__device-tests__/pages/editor-page.js
Labels: Mobile App - i.e. Android or iOS, Mobile App - Automation

#41064 fix typo in the test description didPostSaveRequestSucceed
  packages/editor/src/store/test/selectors.js
Labels: [Package] Editor

#40998 Reduce active tab accent weight
  packages/base-styles/_variables.scss
  packages/components/src/tab-panel/style.scss
  packages/edit-post/src/components/sidebar/settings-header/style.scss
Labels: General Interface, Needs Design Feedback

#40906 Prevent navigation on url input suggestion selection via enter key
  packages/block-editor/src/components/url-input/index.js
Labels: [Type] Bug, Accessibility (a11y), [a11y] Keyboard & Focus, [Feature] Link Editing

#41025 Remove mid-paragraph line breaks from 2-building-a-list-of-pages.md markdown
  docs/how-to-guides/data-basics/2-building-a-list-of-pages.md
Labels: [Type] Documentation, [Package] Core data
