Repository WordPress/gutenberg, pull requests merged in 2022-01, with the labels that each got.

#37683 Improve successful draft save notification for screen readers
  packages/editor/src/store/test/actions.js
  packages/editor/src/store/utils/notice-builder.js
  packages/editor/src/store/utils/test/notice-builder.js
Labels: [Type] Enhancement, Accessibility (a11y), [Package] Editor

#37689 Update copyright year to 2022 in `license.md`.
  LICENSE.md
Labels: [Type] Documentation

#37688 Docs: Fix type of saved $content
  packages/block-library/src/home-link/index.php
  packages/block-library/src/navigation-link/index.php
  packages/block-library/src/navigation/index.php
  packages/block-library/src/page-list/index.php
Labels: [Type] Documentation

#37679 Docs: Update stylesheets guide with using block.json file
  docs/how-to-guides/block-tutorial/applying-styles-with-stylesheets.md
  docs/manifest.json
Labels: [Type] Documentation

#37569 Docs: Add automated theme.json reference documentation
  bin/api-docs/gen-theme-reference.js
  docs/manifest.json
  docs/reference-guides/theme-json-reference.md
  docs/toc.json
  package.json
  schemas/json/theme.json
Labels: [Type] Documentation

#32755 wp-env: Show `--help` when no subcommand is passed.
  packages/env/bin/wp-env
Labels: [Type] Enhancement, [Package] Env

#37687 Scripts: Add `plugin-zip` command to create a zip file for a WordPress plugin
  bin/test-create-block.sh
  package-lock.json
  packages/create-block/CHANGELOG.md
  packages/create-block/lib/init-package-json.js
  packages/create-block/lib/templates/esnext/.gitignore.mustache
  packages/scripts/CHANGELOG.md
  packages/scripts/README.md
  packages/scripts/package.json
  packages/scripts/scripts/plugin-zip.js
Labels: [Package] Scripts, [Type] New API, [Package] Create Block

#37701 Post Content: No need to pass default get_the_content args
  packages/block-library/src/post-content/index.php
Labels: [Type] Code Quality, [Block] Post Content

#37702 Docs: Fix broken URL on block variation page
  docs/reference-guides/block-api/block-variations.md
Labels: [Type] Documentation

#37073 [RNMobile] Refactor native editor initialization
  packages/edit-post/src/index.native.js
  packages/element/src/react-platform.native.js
  packages/react-native-bridge/android/react-native-bridge/src/main/java/org/wordpress/mobile/WPAndroidGlue/GutenbergProps.kt
  packages/react-native-editor/.eslintrc.js
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/android/app/src/main/java/com/gutenberg/MainActivity.java
  packages/react-native-editor/index.js
  packages/react-native-editor/src/index.js
  packages/react-native-editor/src/setup-locale.js
  packages/react-native-editor/src/setup.js
  packages/react-native-editor/src/test/index.test.js
  packages/react-native-editor/src/test/setup-locale.test.js
  test/native/setup.js
Labels: Mobile App - i.e. Android or iOS

#37650 Site Editor: Add keyboard shortcut help modal
  packages/edit-site/src/components/header/more-menu/index.js
  packages/edit-site/src/components/header/more-menu/site-export.js
  packages/edit-site/src/components/header/more-menu/welcome-guide-menu-item.js
  packages/edit-site/src/components/header/tools-more-menu-group/index.js
  packages/edit-site/src/components/keyboard-shortcut-help-modal/config.js
  packages/edit-site/src/components/keyboard-shortcut-help-modal/dynamic-shortcut.js
  packages/edit-site/src/components/keyboard-shortcut-help-modal/index.js
  packages/edit-site/src/components/keyboard-shortcut-help-modal/shortcut.js
  packages/edit-site/src/components/keyboard-shortcut-help-modal/style.scss
  packages/edit-site/src/components/keyboard-shortcuts/index.js
  packages/edit-site/src/index.js
  packages/edit-site/src/plugins/index.js
  packages/edit-site/src/style.scss
Labels: [Type] Enhancement, Backport to WP Minor Release, [Feature] Site Editor

#37722 OSX Setup guide: wrap `lts/*` in quotes for `nvm` commands
  docs/contributors/code/react-native/osx-setup-guide.md
Labels: [Type] Documentation, [Type] Code Quality

#37530 Mobile - Text color formatting - Adds integration tests
  packages/format-library/src/text-color/inline.native.js
  packages/format-library/src/text-color/test/__snapshots__/index.native.js.snap
  packages/format-library/src/text-color/test/index.native.js
Labels: Mobile App - i.e. Android or iOS

#37638 Updated ColorIndicator readme
  packages/components/src/color-indicator/README.md
Labels: [Type] Documentation, [Package] Components

#37482 [RNMobile] Add i18n scripts for improving the translation pipeline
  package-lock.json
  packages/react-native-editor/bin/extract-files-from-sourcemap.js
  packages/react-native-editor/bin/extract-used-strings.js
  packages/react-native-editor/bin/generate-pot-files.sh
  packages/react-native-editor/bin/i18n-translations-download.js
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS

#37696 Navigation: Set the default for --navigation-layout-align to "flex-start" when using vertical orientation
  packages/block-library/src/navigation/style.scss
Labels: [Type] Regression, [Block] Navigation

#37676 [RNMobile] Fix text formatting mode lost after backspace is used
  packages/react-native-aztec/RNTAztecView.podspec
  packages/react-native-aztec/android/build.gradle
  packages/react-native-aztec/ios/RNTAztecView/RCTAztecView.swift
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Podfile.lock
Labels: [Type] Bug, Mobile App - i.e. Android or iOS

#37723 Inserter: Update categories for theme blocks
  docs/reference-guides/core-blocks.md
  packages/block-library/src/post-template/block.json
  packages/block-library/src/query-pagination-next/block.json
  packages/block-library/src/query-pagination-numbers/block.json
  packages/block-library/src/query-pagination-previous/block.json
  packages/block-library/src/query-pagination/block.json
Labels: [Type] Enhancement, [Feature] Inserter

#37720 Template Mode: Trim long post titles in large viewports
  packages/edit-post/src/components/header/template-title/style.scss
Labels: [Type] Bug, [Feature] Template Editing Mode

#37711 [Block Library - Query Loop]: Use `gap` for the `grid` view
  packages/block-library/src/post-template/style.scss
Labels: [Type] Bug, [Package] Block library, [Block] Query Loop

#37729 Marking test that consistently fails as skipped.
  packages/e2e-tests/specs/editor/blocks/navigation.test.js
Labels: [Package] E2E Tests

#37436 Columns: Avoid using CSS variables for block gap styles
  docs/reference-guides/core-blocks.md
  packages/block-library/src/columns/block.json
  packages/block-library/src/columns/editor.scss
  packages/block-library/src/columns/style.scss
Labels: [Type] Bug, [Block] Columns

#37718 Update page list flex variables to match navigation.
  packages/block-library/src/page-list/style.scss
Labels: [Type] Bug, [Block] Navigation, Backport to WP Beta/RC, [Block] Page List

#36746 Update theme.json schema to allow for per-block management of settings.
  bin/api-docs/gen-theme-reference.js
  schemas/json/theme.json
Labels: Developer Experience

#37646 Improve user experience with blocks editor when a block is not registered
  packages/blocks/src/api/templates.js
  packages/blocks/src/api/test/templates.js
Labels: [Type] Bug, [Feature] Templates API, [Package] Blocks, First-time Contributor

#37665 [WP 5.9] Fix: HTML tags like inline images in nav links break submenu layout
  packages/block-library/src/navigation-submenu/index.php
  packages/block-library/src/page-list/index.php
Labels: [Block] Navigation

#37740 Docs: Fix type of saved content - part two
  lib/class-wp-widget-block.php
  packages/block-library/src/image/index.php
Labels: [Type] Documentation

#37713 Replace `clipboard.js` with native Clipboard API
  package-lock.json
  packages/compose/CHANGELOG.md
  packages/compose/package.json
  packages/compose/src/hooks/use-copy-on-click/index.js
  packages/compose/src/hooks/use-copy-on-click/test/index.js
  packages/compose/src/hooks/use-copy-to-clipboard/index.js
  packages/compose/src/hooks/use-copy-to-clipboard/test/index.js
Labels: [Type] Code Quality, [Package] Compose

#37733 Site logo: Fix range control on landscape logos
  packages/block-library/src/site-logo/edit.js
Labels: [Type] Bug, [Block] Site Logo

#37301 Add menu-item-home class to Navigation for front page
  packages/block-library/src/page-list/edit.js
  packages/block-library/src/page-list/index.php
Labels: [Block] Navigation, [Block] Page List

#37741 Restore canvas padding for classic themes
  packages/edit-post/src/classic.scss
Labels: [Type] Regression, Backport to WP Beta/RC

#37750 Docs: Add link to block source for reference
  bin/api-docs/gen-block-lib-list.js
  docs/reference-guides/core-blocks.md
Labels: [Type] Documentation

#36924 Refactor SuggestionsList to use hooks and change class to function component
  packages/components/CHANGELOG.md
  packages/components/src/form-token-field/suggestions-list.js
  packages/components/src/form-token-field/test/index.js
Labels: [Type] Code Quality, [Package] Components

#37745 Use useCallback hook from @wordpress/elements in color-picker
  packages/components/src/color-picker/component.tsx
Labels: [Type] Bug, [Feature] Colors

#37703 Suggest picking a category on the pre-publish panel
  packages/editor/src/components/post-publish-panel/maybe-category-panel.js
  packages/editor/src/components/post-publish-panel/prepublish.js
Labels: [Type] Enhancement, General Interface

#37357 Accessibility improvements for Block Inserter
  packages/edit-post/src/components/secondary-sidebar/inserter-sidebar.js
  packages/edit-post/src/components/secondary-sidebar/style.scss
  packages/edit-site/src/components/secondary-sidebar/inserter-sidebar.js
  packages/edit-site/src/components/secondary-sidebar/style.scss
  packages/edit-widgets/src/components/layout/style.scss
  packages/edit-widgets/src/components/secondary-sidebar/inserter-sidebar.js
Labels: [Type] Enhancement, Accessibility (a11y), [Feature] Inserter, [Package] Compose, [Package] Edit Post, [a11y] Keyboard & Focus

#37771 ConfirmDialog: Use hooks from @wordpress/elements
  packages/components/src/confirm-dialog/component.tsx
Labels: [Type] Bug, [Package] Components

#37739 Audio: Add uploading state
  packages/block-library/src/audio/edit.js
  packages/block-library/src/audio/editor.scss
Labels: [Type] Enhancement, [Block] Audio

#37775 Change the performance job folder structure to avoid nested node_modules
  bin/plugin/commands/performance.js
  bin/plugin/utils/.wp-env.performance.json
  docs/explanations/architecture/performance.md
Labels: Automated Testing

#37762 Schema: Fix appearanceTools in theme.json schema
  schemas/json/theme.json
Labels: Developer Experience

#37779 Revert "Replace `clipboard.js` with native Clipboard API"
  package-lock.json
  packages/compose/CHANGELOG.md
  packages/compose/package.json
  packages/compose/src/hooks/use-copy-on-click/index.js
  packages/compose/src/hooks/use-copy-on-click/test/index.js
  packages/compose/src/hooks/use-copy-to-clipboard/index.js
  packages/compose/src/hooks/use-copy-to-clipboard/test/index.js
Labels: [Type] Bug

#37782 Fix LinkPicker freeze when virtual keyboard is hidden
  packages/components/src/mobile/bottom-sheet/index.native.js
  packages/components/src/mobile/bottom-sheet/test/index.native.js
  packages/react-native-editor/CHANGELOG.md
Labels: [Type] Bug, Mobile App - i.e. Android or iOS, [Feature] Link Editing

#37672 Check for nextpage to display page links for paginated posts
  packages/block-library/src/post-content/index.php
Labels: [Type] Bug, First-time Contributor, [Block] Post Content

#37655 Remove "experimental" from full site editing docs
  docs/explanations/architecture/full-site-editing-templates.md
  docs/explanations/glossary.md
  docs/how-to-guides/themes/block-theme-overview.md
  docs/how-to-guides/themes/create-block-theme.md
Labels: [Type] Documentation

#37767 Mobile Release v1.69.0
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS

#37747 BaseControl: Fix VisualLabel styles
  packages/block-editor/src/components/color-palette/test/__snapshots__/control.js.snap
  packages/components/CHANGELOG.md
  packages/components/src/base-control/index.js
  packages/components/src/base-control/styles/base-control-styles.js
  packages/components/src/toggle-group-control/test/__snapshots__/index.js.snap
Labels: [Type] Regression, [Package] Components

#37486 Show UI warning if Pages cannot be retrieved in Page List block
  packages/block-library/src/page-list/edit.js
  packages/block-library/src/page-list/editor.scss
Labels: [Type] Bug, [Block] Navigation, Backport to WP Minor Release, [Block] Page List

#37816 Remove color from code theme.scss.
  packages/block-library/src/code/theme.scss
Labels: [Type] Bug

#37788 Comments Pagination Next block: fix accidental division by zero
  packages/block-library/src/comments-pagination-next/index.php
Labels: [Type] Bug, [Block] Comments Query Loop

#37815 Revert "[Paragraph Block] add font family support"
  packages/block-library/src/paragraph/block.json
Labels: [Block] Paragraph

#37791 Fix: Impossible to clear colors if color palettes are removed.
  packages/components/src/color-palette/index.js
Labels: [Type] Bug, Backport to WP Beta/RC, [Feature] Colors

#37777 RichText: Fix dead key input on Windows
  packages/rich-text/src/component/use-space.js
Labels: [Type] Bug, [Feature] Rich Text, Browser Issues, [Type] Regression, [Package] Rich text

#37674 Docs: Update create block type how to guide for block.json
  docs/how-to-guides/block-tutorial/writing-your-first-block-type.md
  docs/manifest.json
  packages/create-block-tutorial-template/CHANGELOG.md
  packages/create-block-tutorial-template/templates/$slug.php.mustache
  packages/create-block/CHANGELOG.md
  packages/create-block/lib/templates/esnext/$slug.php.mustache
Labels: [Type] Documentation, [Package] Create Block, Developer Experience

#37821 Try: Polish post takeover modal.
  packages/editor/src/components/post-locked-modal/index.js
  packages/editor/src/components/post-locked-modal/style.scss
Labels: [Type] Enhancement

#37824 Fix overlay menu errant focus style on scrim.
  packages/block-library/src/navigation/style.scss
Labels: [Type] Bug, [Block] Navigation

#37825 Fix issue template typo
  .github/PULL_REQUEST_TEMPLATE.md
Labels: [Type] Documentation

#37827 Docs: Add mising end tag for codetabs in stylesheet guide
  docs/how-to-guides/block-tutorial/applying-styles-with-stylesheets.md
Labels: [Type] Documentation

#37829 Update: Improve escaping on the search block
  packages/block-library/src/search/index.php
Labels: [Type] Enhancement, Backport to WP Beta/RC, [Block] Search

#37763 Block API: Separate validation stage during block parsing
  packages/blocks/src/api/parser/apply-block-deprecated-versions.js
  packages/blocks/src/api/parser/index.js
Labels: [Feature] Parsing, [Type] Code Quality

#37818 Try: Polish code styles to properly apply border properties.
  packages/block-library/src/code/theme.scss
Labels: [Type] Bug, [Block] Code

#36975 Link control: Translate empty link string
  packages/block-editor/src/components/link-control/link-preview.js
Labels: Internationalization (i18n), [Package] Block editor, [Feature] Link Editing

#37709 Tidy up Post Comments default styling
  packages/block-library/src/post-comments/style.scss
Labels: [Type] Bug, [Block] Post Comments

#37819 Reduce specificity of legacy font sizes defined by core
  packages/block-library/src/common.scss
  packages/block-library/src/editor.scss
Labels: [Type] Bug, Backport to WP Beta/RC, Global Styles

#37812 Gallery block: pass any custom attributes through the gallery v2 migration script
  packages/block-library/src/gallery/deprecated.js
  test/integration/fixtures/blocks/core__gallery__deprecated-1.json
  test/integration/fixtures/blocks/core__gallery__deprecated-1.serialized.html
  test/integration/fixtures/blocks/core__gallery__deprecated-2.json
  test/integration/fixtures/blocks/core__gallery__deprecated-2.serialized.html
  test/integration/fixtures/blocks/core__gallery__deprecated-3.json
  test/integration/fixtures/blocks/core__gallery__deprecated-3.serialized.html
  test/integration/fixtures/blocks/core__gallery__deprecated-4.json
  test/integration/fixtures/blocks/core__gallery__deprecated-4.serialized.html
Labels: [Type] Bug, [Block] Gallery, Backport to WP Beta/RC

#37774 Spacer: Fix unit settings filter
  packages/block-library/src/spacer/controls.js
Labels: [Type] Bug, [Block] Spacer

#37813 Fix aria-modal attribution with multiple navs on page
  packages/block-library/src/navigation/view.js
Labels: [Type] Bug, Accessibility (a11y), [Block] Navigation, Backport to WP Beta/RC

#37843 Fix Home template description typo
  lib/compat/wordpress-5.9/block-template-utils.php
Labels: Internationalization (i18n), [Feature] Templates API

#37846 Update wp-plugin.md
  docs/getting-started/create-block/wp-plugin.md
Labels: [Type] Documentation

#37849 fix typo (hanle -> handle)
  lib/blocks.php
Labels: [Type] Bug, Backport to WP Beta/RC

#37612 Create Block: Allow custom folder name for a block
  docs/reference-guides/block-api/block-metadata.md
  package-lock.json
  package.json
  packages/create-block/CHANGELOG.md
  packages/create-block/README.md
  packages/create-block/lib/index.js
  packages/create-block/lib/init-block.js
  packages/create-block/lib/output.js
  packages/create-block/lib/scaffold.js
  packages/create-block/lib/templates.js
  packages/create-block/lib/templates/esnext/block/edit.js.mustache
  packages/create-block/lib/templates/esnext/block/editor.scss.mustache
  packages/create-block/lib/templates/esnext/block/index.js.mustache
  packages/create-block/lib/templates/esnext/block/save.js.mustache
  packages/create-block/lib/templates/esnext/block/style.scss.mustache
  packages/create-block/lib/templates/esnext/plugin/$slug.php.mustache
  packages/create-block/lib/templates/esnext/plugin/.editorconfig.mustache
  packages/create-block/lib/templates/esnext/plugin/.gitignore.mustache
  packages/create-block/lib/templates/esnext/plugin/readme.txt.mustache
  packages/scripts/CHANGELOG.md
  packages/scripts/config/webpack.config.js
  packages/scripts/package.json
Labels: [Type] Enhancement, [Package] Scripts, [Package] Create Block, Developer Experience

#37661 Scripts: Scan `block.json` files to detect entry points for the build process
  packages/scripts/CHANGELOG.md
  packages/scripts/README.md
  packages/scripts/config/jest-e2e.config.js
  packages/scripts/config/jest-github-actions-reporter/index.js
  packages/scripts/config/jest-unit.config.js
  packages/scripts/config/webpack.config.js
  packages/scripts/utils/config.js
  packages/scripts/utils/index.js
  test/unit/jest.config.js
Labels: [Type] Enhancement, [Package] Scripts, Developer Experience

#37837 PostLockedModal: Update action buttons markup
  packages/editor/src/components/post-locked-modal/index.js
  packages/editor/src/components/post-locked-modal/style.scss
Labels: [Type] Code Quality, [Package] Editor

#30557 Stop keypresses being caught by other elements when they happen in a CustomSelectControl
  packages/components/CHANGELOG.md
  packages/components/src/custom-select-control/index.js
  packages/components/src/custom-select-control/test/index.js
Labels: [Type] Bug, [Package] Components, Backport to WP Beta/RC, First-time Contributor, [Feature] Component System

#37835 Categories block escape late
  packages/block-library/src/categories/index.php
Labels: [Type] Code Quality, [Block] Categories, [Type] Security

#37092 Tag Cloud Block: Add outline style
  packages/block-library/src/tag-cloud/index.php
  packages/block-library/src/tag-cloud/style.scss
Labels: Needs Design Feedback, [Block] Tag Cloud

#37836 Update the Post Author block description
  docs/reference-guides/core-blocks.md
  packages/block-library/src/post-author/block.json
Labels: [Block] Post Author

#37859 ExternalLink: Update icon to be smaller, have no margin.
  packages/components/CHANGELOG.md
  packages/components/src/external-link/styles/external-link-styles.js
Labels: [Type] Enhancement, [Package] Components

#37848 Fix enqueueing additional styles for blocks only when rendered
  lib/blocks.php
Labels: [Type] Bug, Backport to WP Beta/RC

#37834 Move escaping to point of output in Archives block
  packages/block-library/src/archives/index.php
Labels: [Type] Code Quality, [Block] Archives, [Type] Security

#37867 [Block Library - Query Loop]: Check for `zero` `queryId` on initialization
  packages/block-library/src/query/edit/index.js
Labels: [Type] Bug, [Package] Block library, [Block] Query Loop

#37857 Simplify and unify a few modal dialogs.
  packages/block-library/src/gallery/editor.scss
  packages/block-library/src/page-list/editor.scss
  packages/editor/src/components/post-locked-modal/style.scss
Labels: [Type] Bug, [Type] Code Quality

#37793 Try possibly better method for Block Inserter Search focus
  packages/block-editor/src/components/inserter/library.js
  packages/block-editor/src/components/inserter/menu.js
  packages/edit-post/src/components/secondary-sidebar/inserter-sidebar.js
  packages/edit-site/src/components/secondary-sidebar/inserter-sidebar.js
  packages/edit-widgets/src/components/secondary-sidebar/inserter-sidebar.js
Labels: [Type] Enhancement, Accessibility (a11y), [Feature] Inserter, [Package] Block editor, [Package] Edit Post, [a11y] Keyboard & Focus, [Package] Edit Widgets, [Package] Edit Site

#37852 PostLockedModal: Display preview link as part of the text
  packages/editor/src/components/post-locked-modal/index.js
Labels: [Type] Enhancement, [Package] Editor

#37855 Add unlock icon.
  packages/icons/src/index.js
  packages/icons/src/library/unlock.js
Labels: [Package] Icons

#37787 [RNMobile] Introduce improvements to i18n related scripts
  packages/react-native-editor/bin/generate-pot-files.sh
  packages/react-native-editor/bin/i18n-translations-download.js
Labels: [Type] Enhancement, Mobile App - i.e. Android or iOS

#37882 Late escape Table of Contents block
  packages/block-library/src/table-of-contents/index.php
Labels: [Type] Code Quality, [Type] Security, [Block] Table of contents

#37888 Update copy on Snackbar that appears when a template is deleted
  packages/edit-site/src/store/actions.js
Labels: [Feature] Site Editor

#37895 Site Editor: Fix broken 'Redo' by removing faulty logic for discarding unsaved Logo changes
  packages/block-library/src/site-logo/edit.js
Labels: [Type] Bug, [Feature] History, [Feature] Site Editor

#37842 Gallery block: Remove warning notice about mobile version required
  package-lock.json
  packages/block-library/package.json
  packages/block-library/src/gallery/edit.js
  packages/block-library/src/gallery/use-mobile-warning.js
  packages/edit-post/src/index.js
Labels: [Type] Bug, [Block] Gallery, Backport to WP Beta/RC

#37873 Late escape Page List block
  packages/block-library/src/page-list/index.php
Labels: [Type] Code Quality, [Type] Security, [Block] Page List

#37877 Late escape Query blocks
  packages/block-library/src/query-pagination-next/index.php
  packages/block-library/src/query-pagination-previous/index.php
Labels: [Type] Code Quality, [Type] Security, [Block] Query Pagination, [Block] Query Title

#37854 Add the WP version in which some JS APIs will be removed
  packages/editor/src/components/deprecated.js
  packages/editor/src/store/actions.js
  packages/editor/src/store/selectors.js
  packages/server-side-render/src/index.js
Labels: [Type] Code Quality, Needs Dev Note

#37840 [History]: Fix redo after update/publish with transient edits
  packages/core-data/src/reducer.js
  packages/e2e-tests/specs/editor/various/undo.test.js
  packages/e2e-tests/specs/site-editor/template-revert.test.js
  test/emptytheme/block-templates/index.html
Labels: [Type] Bug, [Feature] History

#37901 Fix flaky test by using waitForResponse to ensure the url details request completes
  packages/e2e-tests/specs/editor/blocks/navigation.test.js
Labels: Automated Testing

#37798 Accessibility improvements for List View Part 1
  packages/block-editor/src/components/list-view/block.js
  packages/e2e-tests/specs/site-editor/document-settings.test.js
  packages/e2e-tests/specs/site-editor/multi-entity-saving.test.js
  packages/edit-post/src/components/secondary-sidebar/list-view-sidebar.js
  packages/edit-site/src/components/secondary-sidebar/list-view-sidebar.js
  packages/edit-widgets/src/components/secondary-sidebar/list-view-sidebar.js
Labels: [Type] Enhancement, Accessibility (a11y), Needs Accessibility Feedback, [Package] Block editor, [Package] Edit Post, [a11y] Keyboard & Focus, [a11y] Labelling, [Package] Edit Widgets, [Package] Edit Site

#37879 Late escape search block
  packages/block-library/src/search/index.php
Labels: [Type] Code Quality, [Block] Search, [Type] Security

#37889 Mobile - Gallery block - Fix bug when migrating from V1
  packages/block-library/src/gallery/deprecated.js
  packages/block-library/src/gallery/gallery.native.js
Labels: Mobile App - i.e. Android or iOS, [Block] Gallery

#37878 Late escape RSS block
  packages/block-library/src/rss/index.php
Labels: [Type] Code Quality, [Block] RSS, [Type] Security

#37913 Backport block.json schema changes to `wp/5.8`
  schemas/json/block.json
Labels: [Type] Documentation

#34902 [RNMobile] Add Contrast Checker to Text-Based Blocks
  packages/base-styles/_colors.native.scss
  packages/block-editor/src/components/colors-gradients/panel-color-gradient-settings.native.js
  packages/block-editor/src/components/contrast-checker/index.native.js
  packages/block-editor/src/components/contrast-checker/style.native.scss
  packages/block-editor/src/components/index.native.js
  packages/block-editor/src/hooks/color-panel.native.js
  packages/react-native-editor/CHANGELOG.md
Labels: [Type] Enhancement, Accessibility (a11y), Mobile App - i.e. Android or iOS

#37885 Load the global styles before the theme styles in the editor
  lib/global-styles.php
Labels: [Feature] Style Variations, Global Styles

#33151 E2E Tests: Add coverage for reusable blocks save button state regression
  packages/e2e-tests/specs/editor/various/reusable-blocks.test.js
Labels: [Feature] Reusable Blocks, [Block] Block, [Package] E2E Tests

#37543 Navigation Block : try not using css variable for block gap support
  docs/reference-guides/core-blocks.md
  packages/block-library/src/navigation/block.json
  packages/block-library/src/navigation/style.scss
Labels: [Block] Navigation

#37933 Fix flaky classic block conversion undo test
  packages/e2e-tests/specs/editor/blocks/classic.test.js
Labels: Automated Testing

#37875 Late escape comments link block
  packages/block-library/src/post-comments-link/index.php
Labels: [Type] Code Quality, [Package] Block library, [Type] Security

#37874 Late escape post author blocks
  packages/block-library/src/post-author-name/index.php
  packages/block-library/src/post-author/index.php
Labels: [Type] Code Quality, [Block] Post Author, [Type] Security

#37920 Add transform between core/site-logo and core/site-title blocks
  packages/block-library/src/site-logo/index.js
  packages/block-library/src/site-logo/transforms.js
  packages/block-library/src/site-title/index.js
  packages/block-library/src/site-title/transforms.js
Labels: [Type] Enhancement, [Block] Site Title, [Block] Site Logo

#36299 Add documentation for useBlockEditContext hook
  packages/block-editor/README.md
  packages/block-editor/src/components/block-edit/index.js
Labels: [Type] Documentation, [Package] Block editor

#37925 Remove properties not available in v1 for wp 5.8
  schemas/json/theme.json
Labels: [Type] Documentation

#37921 Fix erroneous react-dom usage in native tests
  packages/element/src/react-platform.native.js
  packages/react-native-editor/src/index.js
  packages/react-native-editor/src/test/index.test.js
Labels: [Type] Bug, Automated Testing, Mobile App - i.e. Android or iOS

#37945 [Block Library - Post Featured Image]: Show all the controls when inside a Query Loop
  packages/block-library/src/post-featured-image/edit.js
Labels: [Package] Block library, [Block] Post Featured Image

#37937 Remove warning for enqueued styles in Editor
  packages/block-editor/src/components/iframe/index.js
  packages/e2e-tests/specs/editor/plugins/iframed-inline-styles.test.js
  packages/e2e-tests/specs/editor/plugins/iframed-multiple-block-stylesheets.test.js
  packages/e2e-tests/specs/widgets/customizing-widgets.test.js
  packages/e2e-tests/specs/widgets/editing-widgets.test.js
Labels: [Type] Bug, [Package] Block editor, Backport to WP Beta/RC

#37860 Late escape comment blocks
  packages/block-library/src/comment-date/index.php
Labels: [Type] Code Quality, [Type] Security, [Block] Comment Template

#37876 Late escape Post blocks
  packages/block-library/src/post-date/index.php
  packages/block-library/src/post-excerpt/index.php
  packages/block-library/src/post-featured-image/index.php
  packages/block-library/src/post-navigation-link/index.php
  packages/block-library/src/post-template/index.php
  packages/block-library/src/post-terms/index.php
  packages/block-library/src/post-title/index.php
Labels: [Type] Code Quality, [Block] Post Excerpt, [Block] Post Title, [Block] Post Featured Image, [Block] Post Tags, [Type] Security, [Block] Post Navigation Link, [Block] Post Template

#37931 Improve flaky draft creation navigation block e2e test
  packages/e2e-tests/specs/editor/blocks/navigation.test.js
Labels: Automated Testing

#37781 Add: Copy all content to edit site
  packages/edit-site/src/components/header/more-menu/copy-content-menu-item.js
  packages/edit-site/src/components/header/more-menu/index.js
Labels: [Type] Feature, [Package] Edit Site

#37844 Label components: improve consistency by setting to 8px margin-bottom
  packages/block-editor/src/components/border-radius-control/style.scss
  packages/components/CHANGELOG.md
  packages/components/src/box-control/styles/box-control-styles.js
  packages/components/src/custom-gradient-picker/style.scss
  packages/components/src/form-token-field/style.scss
  packages/components/src/input-control/styles/input-control-styles.tsx
  packages/components/src/tools-panel/styles.ts
Labels: [Type] Bug, [Feature] UI Components, [Type] Code Quality, [Package] Components

#37952 Fix/preview draft
  packages/e2e-tests/specs/editor/various/preview.test.js
  packages/editor/src/store/selectors.js
Labels: [Type] Bug, [Feature] Saving, [Feature] History, First-time Contributor

#37886 Add theme.json v1 reference and v1 to v2 migration docs
  bin/api-docs/gen-theme-reference.js
  docs/manifest.json
  docs/reference-guides/README.md
  docs/reference-guides/theme-json-reference/README.md
  docs/reference-guides/theme-json-reference/theme-json-living.md
  docs/reference-guides/theme-json-reference/theme-json-migrations.md
  docs/reference-guides/theme-json-reference/theme-json-v1.md
  docs/toc.json
Labels: [Type] Documentation, Global Styles

#37474 Fix empty gray circle when site has no logo on template list page
  packages/edit-site/src/components/list/added-by.js
Labels: [Type] Bug, Backport to WP Minor Release, [Feature] Site Editor

#37924 Update versions for 5.8.2 and 5.8.3
  docs/contributors/versions-in-wordpress.md
Labels: [Type] Enhancement, [Type] Documentation

#37866 Late escape Latest Posts block
  packages/block-library/src/latest-posts/index.php
Labels: [Type] Code Quality, [Block] Latest Posts, [Type] Security

#37949 [Block Library - Query Loop]: Reorganise inspector controls + `order` selection bug
  packages/block-library/src/query/edit/index.js
  packages/block-library/src/query/edit/inspector-controls/index.js
  packages/block-library/src/query/edit/inspector-controls/order-control.js
Labels: [Type] Bug, [Type] Code Quality, [Package] Block library, [Block] Query Loop

#37865 Late escape latest comments block
  packages/block-library/src/latest-comments/index.php
Labels: [Type] Code Quality, [Block] Latest Comments, [Type] Security

#37221 [RNMobile] Hide help button from UBE
  packages/react-native-bridge/android/react-native-bridge/src/main/java/org/wordpress/mobile/ReactNativeGutenbergBridge/GutenbergWebViewActivity.java
  packages/react-native-bridge/ios/GutenbergWebFallback/FallbackJavascriptInjection.swift
  packages/react-native-bridge/ios/GutenbergWebFallback/GutenbergWebSingleBlockViewController.swift
  packages/react-native-bridge/ios/SourceFile.swift
  packages/react-native-editor/CHANGELOG.md
Labels: Mobile App - i.e. Android or iOS

#37980 Show menus selection in placeholder only if available
  packages/block-library/src/navigation/edit/placeholder/index.js
Labels: [Block] Navigation

#37951 [Mobile] - RichText - Use parsed font size values when comparing new changes
  packages/rich-text/src/component/index.native.js
  packages/rich-text/src/test/__snapshots__/index.native.js.snap
  packages/rich-text/src/test/index.native.js
Labels: Mobile App - i.e. Android or iOS

#37870 Late escape Navigation blocks
  packages/block-library/src/navigation-submenu/index.php
  packages/block-library/src/navigation/index.php
Labels: [Type] Code Quality, [Block] Navigation, [Type] Security, [Block] Navigation Link, [Block] Submenu

#37881 Late escape Social block
  packages/block-library/src/social-link/index.php
Labels: [Type] Code Quality, [Block] Social, [Type] Security

#37979 Post Lock: Adjust avatar design and update message
  packages/editor/src/components/post-locked-modal/index.js
  packages/editor/src/components/post-locked-modal/style.scss
Labels: [Type] Enhancement, [Package] Editor

#37887 [RNMobile] Buttons block: Fix content justification attribute
  packages/block-editor/src/hooks/index.native.js
  packages/block-editor/src/hooks/layout.native.js
  packages/block-library/src/buttons/edit.native.js
  packages/block-library/src/buttons/test/__snapshots__/edit.native.js.snap
  packages/block-library/src/buttons/test/edit.native.js
  packages/react-native-editor/CHANGELOG.md
Labels: [Type] Bug, Mobile App - i.e. Android or iOS, [Block] Buttons

#37956 [RNmobile] Trim feature image copy
  packages/block-library/src/image/edit.native.js
  packages/react-native-editor/CHANGELOG.md
Labels: Mobile App - i.e. Android or iOS

#38005 Rich text: Use file on internal dependencies
  package-lock.json
  packages/rich-text/package.json
Labels: [Package] Rich text

#37963 Temporarily remove text decoration from Nav block
  packages/block-library/src/navigation/block.json
Labels: [Type] Bug, [Block] Navigation, Backport to WP Beta/RC

#38017 Fix empty secondary sidebar overlapping widget editor content on mobile viewports
  packages/e2e-tests/specs/widgets/editing-widgets.test.js
  packages/edit-widgets/src/components/layout/interface.js
Labels: [Type] Regression, [Feature] Widgets Screen, Backport to WP Beta/RC, [Package] Edit Widgets

#37939 Add context to font style and font weight related translation strings
  packages/block-editor/src/components/font-appearance-control/index.js
Labels: [Type] Bug, Internationalization (i18n), Backport to WP Beta/RC

#38010 Component: update color-picker documentation
  packages/components/src/color-picker/README.md
Labels: [Type] Documentation, [Package] Components

#37685 Load the entities list using the view context
  packages/core-data/src/entities.js
Labels: [Type] Bug, Core REST API Task, [Package] Core data

#37985 Fix double escaping in blocks
  packages/block-library/src/archives/index.php
  packages/block-library/src/categories/index.php
  packages/block-library/src/rss/index.php
  packages/block-library/src/search/index.php
Labels: [Type] Code Quality, [Block] Archives, [Block] Categories, [Block] RSS, [Block] Search, [Type] Security

#38019 Fix hiding the bottom of tablet/mobile preview in Site Editor
  packages/edit-site/src/components/block-editor/style.scss
  packages/edit-site/src/components/editor/style.scss
Labels: [Type] Bug, Backport to WP Beta/RC, [Feature] Site Editor

#38004 Add temporary workaround to fix broken common js import of mini-css-extract-plugin
  package-lock.json
  packages/scripts/CHANGELOG.md
  packages/scripts/config/webpack.config.js
  packages/scripts/package.json
Labels: [Type] Bug, [Package] Scripts

#37704 i18n: Create new function `addLocaleData` to merge domain configuration
  packages/i18n/CHANGELOG.md
  packages/i18n/src/create-i18n.js
  packages/i18n/src/test/create-i18n.js
Labels: [Package] i18n

#38023 Fix Post Date block escaping of date HTML
  packages/block-library/src/post-date/index.php
Labels: [Type] Bug, [Block] Post Date

#37880 Late escape site blocks
  packages/block-library/src/site-logo/index.php
  packages/block-library/src/site-tagline/index.php
  packages/block-library/src/site-title/index.php
Labels: [Type] Code Quality, [Block] Site Title, [Block] Site Tagline, [Block] Site Logo, [Type] Security

#37954 Fix duotone render in non-fse themes
  lib/block-supports/duotone.php
Labels: [Type] Bug, [Block] Image, Backport to WP Beta/RC

#38006 Social Icons: Fix color picker bug when set to Logos Only
  packages/block-library/src/social-links/edit.js
Labels: [Type] Bug, [Block] Social

#37962 Add: Hover and Selected states to the palette editor.
  packages/components/src/palette-edit/index.js
  packages/components/src/palette-edit/styles.js
Labels: [Type] Enhancement

#36493 Identify the site frontpage in link UI search results
  packages/block-editor/src/components/link-control/search-item.js
  packages/block-editor/src/components/link-control/search-results.js
  packages/block-editor/src/components/link-control/style.scss
  packages/block-editor/src/components/link-control/use-search-handler.js
  packages/editor/src/components/provider/use-block-editor-settings.js
Labels: [Type] Enhancement, Needs Technical Feedback, [Feature] Link Editing

#37884 Fetch classic Menus and Pages using view (readonly) context
  packages/block-library/src/navigation/use-navigation-entities.js
Labels: [Block] Navigation

#37914 Editor: Fix post lock data inconsistency
  lib/compat/wordpress-6.0/post-lock.php
  lib/load.php
  packages/editor/src/components/post-locked-modal/index.js
Labels: [Type] Bug, [Package] Editor
