Repository WordPress/gutenberg, pull requests merged in 2022-08, with the labels that each got.

#42800 ResizableBox: Change tooltip background to match other tooltips
  packages/components/CHANGELOG.md
  packages/components/src/resizable-box/resize-tooltip/styles/resize-tooltip.styles.js
Labels: [Type] Enhancement, [Feature] UI Components, [Package] Components

#42806 Fix drag and drop performance when dragging over the insertion point
  packages/block-editor/src/components/block-popover/inbetween.js
  packages/block-editor/src/components/block-popover/style.scss
Labels: [Feature] Blocks, [Type] Regression, [Feature] Drag and Drop

#42793 InputControl: Fix incorrect size prop passing to `Text`
  packages/components/CHANGELOG.md
  packages/components/src/input-control/input-base.tsx
Labels: [Type] Bug, [Package] Components

#42412 Update theme-json.md to include new element support and :ref
  docs/how-to-guides/themes/theme-json.md
Labels: [Type] Developer Documentation

#42842 Site Editor: Don't disable the Save button
  packages/edit-site/src/components/save-button/index.js
Labels: [Type] Bug, Accessibility (a11y), [a11y] Keyboard & Focus, [Package] Edit Site

#42821 Rich text: fix error when attempting to remove placeholder on composition start
  packages/rich-text/src/component/use-input-and-selection.js
Labels: [Type] Bug, [Package] Rich text

#42743 Nav block: extract hook for inner blocks
  packages/block-library/src/navigation/edit/index.js
  packages/block-library/src/navigation/edit/use-inner-blocks.js
Labels: [Type] Code Quality, [Block] Navigation

#42706 Normalize usage of Notifications in Nav block
  packages/block-library/src/navigation/edit/index.js
Labels: [Type] Code Quality, [Block] Navigation

#42853 [Block Library Post Featured Image]: Add link target and rel attributes
  docs/reference-guides/core-blocks.md
  packages/block-library/src/post-featured-image/block.json
  packages/block-library/src/post-featured-image/edit.js
  packages/block-library/src/post-featured-image/index.php
  test/integration/fixtures/blocks/core__post-featured-image.json
Labels: [Type] Enhancement, [Package] Block library, [Block] Post Featured Image

#42852 Page List: Fix indentation in PHP file
  packages/block-library/src/page-list/index.php
Labels: [Type] Task, [Block] Page List

#42469 Rich text: add character shortcuts for wrapping selection
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/components/rich-text/use-before-input-rules.js
  packages/e2e-tests/specs/editor/various/__snapshots__/rich-text.test.js.snap
  packages/e2e-tests/specs/editor/various/rich-text.test.js
Labels: [Type] Enhancement, [Feature] Rich Text, [Feature] Writing Flow

#42808 Quote: unwrap on Backspace at start
  packages/block-editor/src/components/block-list/block.js
  packages/e2e-tests/specs/editor/blocks/quote.test.js
Labels: [Feature] Writing Flow, [Block] Quote, [Block] Group

#42849 Navigation: Fix `current-menu-item` class logic
  packages/block-library/src/navigation-link/index.php
  packages/block-library/src/navigation-submenu/index.php
Labels: [Block] Navigation Link, [Block] Submenu

#42000 UnitControl: Update unit dropdown design
  packages/components/CHANGELOG.md
  packages/components/src/unit-control/stories/index.tsx
  packages/components/src/unit-control/styles/unit-control-styles.ts
  packages/components/src/unit-control/types.ts
Labels: [Package] Components

#42452 Style engine: enqueue block support styles
  lib/block-supports/elements.php
  lib/block-supports/layout.php
  packages/style-engine/class-wp-style-engine-css-rule.php
  packages/style-engine/class-wp-style-engine-css-rules-store.php
  packages/style-engine/class-wp-style-engine-processor.php
  packages/style-engine/class-wp-style-engine.php
  packages/style-engine/phpunit/class-wp-style-engine-css-rules-store-test.php
  packages/style-engine/phpunit/class-wp-style-engine-processor-test.php
  packages/style-engine/phpunit/class-wp-style-engine-test.php
Labels: [Status] In Progress, Needs Dev Note, [Type] Experimental, [Package] Style Engine

#42844 Components: Add missing font sizes
  packages/components/CHANGELOG.md
  packages/components/src/custom-select-control/style.scss
  packages/components/src/date-time/time/styles.ts
  packages/components/src/ui/tooltip/styles.js
  packages/components/src/ui/tooltip/test/__snapshots__/index.js.snap
Labels: [Package] Components

#42259 External link component: Add a check for on page anchor links
  packages/components/CHANGELOG.md
  packages/components/src/external-link/index.tsx
Labels: [Type] Bug, [Feature] UI Components, [Feature] Link Editing

#42839 Create Block: update document links in templates
  packages/create-block-tutorial-template/block-templates/edit.js.mustache
  packages/create-block-tutorial-template/block-templates/save.js.mustache
  packages/create-block/lib/templates/block/edit.js.mustache
  packages/create-block/lib/templates/block/save.js.mustache
  packages/create-block/lib/templates/es5/index.js.mustache
Labels: [Type] Developer Documentation, [Package] Create Block

#42858 List v2: fix Cmd+A
  packages/block-editor/src/components/writing-flow/use-select-all.js
Labels: [Type] Bug

#42877 Prevent multiselection via dragging when already dragging blocks
  packages/block-editor/src/components/writing-flow/use-drag-selection.js
Labels: [Type] Bug, [Feature] Drag and Drop

#42764 Query Pagination: Correctly position the "next" link on the first page.
  packages/block-library/src/query-pagination/style.scss
Labels: [Block] Query Pagination

#41838 Update color button style
  packages/block-editor/src/components/colors-gradients/dropdown.js
  packages/block-editor/src/components/colors-gradients/style.scss
  packages/edit-site/src/components/global-styles/screen-colors.js
  packages/edit-site/src/components/global-styles/style.scss
Labels: [Type] Enhancement, Needs Accessibility Feedback, Needs Figma Update, [Feature] Colors

#42360 Lodash: Refactor away from `_.flatMap()`
  .eslintrc.js
  packages/block-library/src/list/v2/transforms.js
  tools/webpack/packages.js
Labels: [Type] Build Tooling, [Type] Performance, [Type] Code Quality, [Package] Block library

#42865 Navigation block: Extract navigation block utils
  packages/block-library/src/navigation/edit/index.js
  packages/block-library/src/navigation/edit/utils.js
Labels: [Block] Navigation

#42874 Popover: fix arrow placement and design
  packages/components/CHANGELOG.md
  packages/components/src/popover/index.js
  packages/components/src/popover/style.scss
Labels: [Type] Bug, [Feature] UI Components, [Package] Components

#42892 Try: Tab style subpixel fix.
  packages/components/src/panel/style.scss
Labels: [Type] Enhancement, CSS Styling

#42830 Change shortcut text for redo tooltip on Windows
  packages/customize-widgets/src/components/header/index.js
  packages/edit-navigation/src/components/header/redo-button.js
  packages/edit-site/src/components/header/undo-redo/redo.js
  packages/edit-widgets/src/components/header/undo-redo/redo.js
  packages/editor/src/components/editor-history/redo.js
Labels: Accessibility (a11y), Needs Design Feedback, [Package] Keycodes

#42508 Lodash: Refactor away from `_.isPlainObject()`
  .eslintrc.js
  package-lock.json
  packages/blocks/package.json
  packages/blocks/src/store/actions.js
  packages/components/src/text/hook.js
  packages/data/package.json
  packages/data/src/plugins/persistence/index.js
  packages/element/package.json
  packages/element/src/serialize.js
  packages/npm-package-json-lint-config/test/index.test.js
  packages/prettier-config/test/index.js
  packages/redux-routine/package.json
  packages/redux-routine/src/is-action.js
  test/native/jest.config.js
  test/unit/jest.config.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Element, [Package] Data, [Package] npm-package-json-lint-config, [Package] Components, [Package] Blocks, [Package] Redux Routine, [Package] Prettier config

#42875 Nav block: Move overlay colors to the responsive wrapper
  packages/block-library/src/navigation/edit/index.js
  packages/block-library/src/navigation/edit/responsive-wrapper.js
Labels: [Block] Navigation

#42855 [Block Library - Post Title]: Do not add `rel` attribute if empty
  packages/block-library/src/post-title/index.php
Labels: [Block] Post Title

#42165 Add: Author nicename template creation ability
  packages/edit-site/src/components/add-new-template/new-template.js
  packages/edit-site/src/components/add-new-template/utils.js
Labels: [Type] Enhancement, [Feature] Site Editor

#42901 Docs: Fix return type of of home link attribute function.
  packages/block-library/src/home-link/index.php
Labels: [Type] Developer Documentation

#42091 Post Template: Update template title selector
  packages/edit-post/src/components/sidebar/post-template/index.js
Labels: [Type] Enhancement, [Feature] Document Settings

#42889 BaseControl: Add `box-sizing` resets
  packages/block-editor/src/components/color-palette/test/__snapshots__/control.js.snap
  packages/components/CHANGELOG.md
  packages/components/src/base-control/styles/base-control-styles.ts
  packages/components/src/focal-point-picker/styles/focal-point-picker-style.js
  packages/components/src/focal-point-picker/styles/focal-point-style.js
  packages/components/src/range-control/styles/range-control-styles.ts
  packages/components/src/select-control/styles/select-control-styles.ts
  packages/components/src/toggle-group-control/test/__snapshots__/index.js.snap
  packages/edit-post/src/components/preferences-modal/options/test/__snapshots__/enable-custom-fields.js.snap
Labels: [Package] Components

#42878 Style engine: add optimize flag and combine functions into wp_style_engine_get_stylesheet
  lib/block-supports/elements.php
  lib/block-supports/layout.php
  packages/style-engine/class-wp-style-engine-processor.php
  packages/style-engine/class-wp-style-engine.php
  packages/style-engine/phpunit/class-wp-style-engine-processor-test.php
  packages/style-engine/phpunit/class-wp-style-engine-test.php
Labels: [Package] Style Engine

#42906 Layout: Ensure defaultEditorStyles are still output in Classic themes
  lib/compat/wordpress-6.1/block-editor-settings.php
Labels: [Type] Regression, [Feature] Custom Editor Styles, Global Styles, Backport to Gutenberg RC

#42898 Lodash: Remove completely from `@wordpress/element` package
  package-lock.json
  packages/element/package.json
  packages/element/src/serialize.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Element

#42900 [Mobile] - Image - Workaround for Android and orientation changes
  packages/components/src/mobile/image/index.native.js
Labels: Mobile App - i.e. Android or iOS

#42702 [Mobile] List V2 Support
  packages/block-editor/src/components/block-list/index.native.js
  packages/block-editor/src/components/rich-text/index.native.js
  packages/block-library/src/audio/test/__snapshots__/edit.native.js.snap
  packages/block-library/src/file/test/__snapshots__/edit.native.js.snap
  packages/block-library/src/index.native.js
  packages/block-library/src/list-item/edit.js
  packages/block-library/src/list-item/edit.native.js
  packages/block-library/src/list-item/icons.native.js
  packages/block-library/src/list-item/list-style-type.native.js
  packages/block-library/src/list-item/style.native.scss
  packages/block-library/src/list/index.js
  packages/block-library/src/list/test/__snapshots__/edit.native.js.snap
  packages/block-library/src/list/test/edit.native.js
  packages/block-library/src/list/v2/edit.js
  packages/block-library/src/list/v2/tag-name.js
  packages/block-library/src/list/v2/tag-name.native.js
  packages/block-library/src/preformatted/test/__snapshots__/edit.native.js.snap
  packages/block-library/src/search/test/__snapshots__/edit.native.js.snap
  packages/components/src/mobile/global-styles-context/utils.native.js
  packages/compose/src/index.native.js
  packages/edit-post/src/test/editor.native.js
  packages/react-native-bridge/android/react-native-bridge/src/main/java/org/wordpress/mobile/WPAndroidGlue/GutenbergProps.kt
  packages/react-native-bridge/ios/Gutenberg.swift
  packages/react-native-bridge/ios/GutenbergBridgeDataSource.swift
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/src/setup.js
  packages/rich-text/src/component/index.native.js
  packages/rich-text/src/test/__snapshots__/index.native.js.snap
  test/native/__mocks__/styleMock.js
Labels: Mobile App - i.e. Android or iOS

#42909 Style engine: prettify output
  packages/style-engine/class-wp-style-engine-css-declarations.php
  packages/style-engine/class-wp-style-engine-css-rule.php
  packages/style-engine/class-wp-style-engine-processor.php
  packages/style-engine/class-wp-style-engine.php
  packages/style-engine/phpunit/class-wp-style-engine-css-declarations-test.php
  packages/style-engine/phpunit/class-wp-style-engine-css-rule-test.php
  packages/style-engine/phpunit/class-wp-style-engine-css-rules-store-test.php
  packages/style-engine/phpunit/class-wp-style-engine-processor-test.php
  packages/style-engine/phpunit/class-wp-style-engine-test.php
  phpunit/block-supports/border-test.php
  phpunit/block-supports/colors-test.php
  phpunit/block-supports/spacing-test.php
  phpunit/block-supports/typography-test.php
Labels: [Type] Enhancement, [Status] In Progress, [Package] Style Engine

#42886 Popover: make sure that ownerDocument is always defined
  packages/components/CHANGELOG.md
  packages/components/src/popover/index.js
  packages/components/src/popover/test/index.js
Labels: [Type] Bug, [Feature] UI Components, [Package] Components

#42921 [Documentation] Add examples for core/viewport package
  docs/reference-guides/data/data-core-viewport.md
  packages/viewport/src/store/actions.js
  packages/viewport/src/store/selectors.js
Labels: [Type] Developer Documentation, [Package] Viewport, Developer Experience

#42918 Rename solid color
  packages/block-editor/src/components/colors-gradients/control.js
  packages/block-editor/src/components/colors-gradients/test/control.js
  packages/edit-site/src/components/global-styles/screen-color-palette.js
Labels: [Type] Enhancement, CSS Styling

#42947 Fix: Just another E2E test
  packages/e2e-tests/specs/site-editor/multi-entity-saving.test.js
Labels: [Type] Bug, Automated Testing

#42733 BoxControl: Export `applyValueToSides` util function
  packages/components/CHANGELOG.md
  packages/components/src/box-control/all-input-control.js
  packages/components/src/box-control/index.js
  packages/components/src/box-control/utils.js
  packages/components/src/index.js
Labels: [Type] Enhancement, [Package] Components

#42939 Layout: fix flex direction column
  lib/block-supports/layout.php
Labels: [Type] Bug

#42936 Release Docs: Troubleshooting failed "Bump version" job
  docs/contributors/code/release.md
Labels: [Type] Developer Documentation

#42944 Popover: tidy up code 🧹 , add more comments
  packages/components/CHANGELOG.md
  packages/components/src/popover/index.js
Labels: [Feature] UI Components, [Package] Components

#42520 [Site Editor]: Add fallback template content on creation
  lib/compat/wordpress-6.1/block-template-utils.php
  lib/compat/wordpress-6.1/class-gutenberg-rest-templates-controller.php
  packages/edit-site/src/components/add-new-template/add-custom-template-modal.js
  packages/edit-site/src/components/add-new-template/new-template.js
  packages/edit-site/src/components/add-new-template/utils.js
  phpunit/block-template-utils-test.php
  phpunit/class-gutenberg-rest-templates-controller-test.php
  test/emptytheme/block-templates/category.html
  test/emptytheme/block-templates/index.html
  test/emptytheme/block-templates/singular.html
Labels: [Type] Enhancement, Core REST API Task, [Feature] Site Editor

#42926 Lodash: Refactor away from `_.zip()`
  .eslintrc.js
  packages/core-data/src/batch/create-batch.js
  packages/edit-navigation/src/store/actions.js
  packages/edit-navigation/src/store/transform.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Core data, [Package] Edit Navigation

#42954 Fix styles declarations returning before all properties output
  packages/edit-site/src/components/global-styles/test/use-global-styles-output.js
  packages/edit-site/src/components/global-styles/use-global-styles-output.js
Labels: [Type] Bug, Global Styles

#42903 Popover: rewrite Storybook examples using controls
  packages/components/CHANGELOG.md
  packages/components/src/popover/stories/_utils.js
  packages/components/src/popover/stories/index.js
  packages/components/src/popover/style.scss
Labels: [Package] Components, Storybook

#42863 Elements: Update the load order of the CSS in the Site Editor
  packages/edit-site/src/components/global-styles/test/use-global-styles-output.js
  packages/edit-site/src/components/global-styles/use-global-styles-output.js
Labels: Global Styles

#42929 Navigation: Overlay: Fix link inheritance
  packages/block-library/src/navigation/style.scss
Labels: [Block] Navigation

#42957 REST API: Add the missing 'site_icon_url' to the index
  lib/compat/wordpress-6.1/rest-api.php
Labels: General Interface, [Type] Regression, [Block] Site Logo

#42959 Search Block: Remove margins from the input
  packages/block-library/src/search/style.scss
Labels: [Block] Search

#42915 Mobile Release v1.80.1
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS

#42932 Document the cherry-picking automation
  docs/contributors/code/auto-cherry-picking.md
  docs/contributors/code/release.md
  docs/manifest.json
  docs/toc.json
Labels: [Type] Developer Documentation, Developer Experience

#42885 Writing flow: fix Shift+Arrow partial selection for lists & quote
  packages/block-editor/src/components/writing-flow/use-arrow-nav.js
Labels: [Type] Bug, [Block] List, [Block] Quote

#43003 Style engine: prettify combined selectors
  packages/style-engine/class-wp-style-engine-css-rule.php
  packages/style-engine/class-wp-style-engine-processor.php
  packages/style-engine/phpunit/class-wp-style-engine-css-rule-test.php
  packages/style-engine/phpunit/class-wp-style-engine-css-rules-store-test.php
  packages/style-engine/phpunit/class-wp-style-engine-processor-test.php
Labels: [Type] Enhancement, [Package] Style Engine

#42857 Site Title: Use home_url instead of get_bloginfo
  packages/block-library/src/site-title/index.php
Labels: [Type] Code Quality, [Block] Site Title

#42951 Mobile Release v1.81.0
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS

#42966 Lodash: Refactor away from `_.delay()`
  .eslintrc.js
  packages/block-editor/src/components/inserter/index.native.js
  packages/block-editor/src/components/media-upload/index.native.js
  packages/block-library/src/columns/edit.native.js
  packages/block-library/src/image/test/edit.native.js
  packages/components/src/mobile/link-picker/link-picker-screen.native.js
  packages/format-library/src/link/modal-screens/link-picker-screen.native.js
Labels: [Type] Performance, [Type] Code Quality, Mobile App - i.e. Android or iOS, [Package] Components, [Package] Block library, [Block] Columns, [Package] Block editor, Mobile App - Automation

#42789 Update control labels to the new uppercase styles
  packages/block-editor/src/components/border-radius-control/index.js
  packages/block-editor/src/components/color-palette/test/__snapshots__/control.js.snap
  packages/block-editor/src/components/text-decoration-control/index.js
  packages/block-editor/src/components/text-transform-control/index.js
  packages/components/CHANGELOG.md
  packages/components/src/base-control/index.tsx
  packages/components/src/base-control/stories/index.tsx
  packages/components/src/base-control/styles/base-control-styles.ts
  packages/components/src/base-control/types.ts
  packages/components/src/box-control/index.js
  packages/components/src/box-control/styles/box-control-styles.js
  packages/components/src/custom-gradient-picker/style.scss
  packages/components/src/custom-select-control/index.js
  packages/components/src/custom-select-control/style.scss
  packages/components/src/date-time/time/index.tsx
  packages/components/src/date-time/time/styles.ts
  packages/components/src/font-size-picker/index.js
  packages/components/src/form-token-field/index.tsx
  packages/components/src/form-token-field/style.scss
  packages/components/src/input-control/styles/input-control-styles.tsx
  packages/components/src/placeholder/style.scss
  packages/components/src/toggle-group-control/test/__snapshots__/index.js.snap
  packages/components/src/tools-panel/styles.ts
  packages/components/src/tools-panel/test/__snapshots__/index.js.snap
  packages/components/src/utils/base-label.ts
  packages/components/src/utils/style-mixins.js
Labels: [Package] Components, [Package] Block editor

#42997 List View Expander: Fix icon in RTL mode
  packages/block-editor/src/components/list-view/expander.js
  packages/icons/src/index.js
  packages/icons/src/library/chevron-left-small.js
Labels: [Type] Enhancement, Internationalization (i18n), [Feature] List View

#43021 Navigation Menu Sidebar: Remove unnecessary Fragment
  packages/edit-site/src/components/sidebar/navigation-menu-sidebar/navigation-menu.js
Labels: [Type] Code Quality, [Feature] Site Editor

#43024 Home Link: Use 'sprintf' in the render callback
  packages/block-library/src/home-link/index.php
Labels: [Type] Code Quality, [Block] Home Link

#42716 FontSizePicker: Add 40px size variant
  packages/components/CHANGELOG.md
  packages/components/src/font-size-picker/index.js
  packages/components/src/font-size-picker/stories/index.js
Labels: [Package] Components

#43015 Release docs: Update performance test instructions
  docs/contributors/code/release.md
Labels: [Type] Developer Documentation

#42162 Swatch: Convert component to TypeScript
  packages/components/CHANGELOG.md
  packages/components/src/swatch/index.tsx
  packages/components/src/swatch/types.ts
  packages/components/tsconfig.json
Labels: [Type] Enhancement, [Feature] UI Components, [Type] Code Quality, [Package] Components

#42176 Global Styles: Heading element UI controls
  packages/edit-site/src/components/global-styles/screen-colors.js
  packages/edit-site/src/components/global-styles/screen-heading-color.js
  packages/edit-site/src/components/global-styles/screen-typography-element.js
  packages/edit-site/src/components/global-styles/screen-typography.js
  packages/edit-site/src/components/global-styles/style.scss
  packages/edit-site/src/components/global-styles/typography-panel.js
  packages/edit-site/src/components/global-styles/ui.js
  packages/edit-site/src/components/global-styles/utils.js
Labels: Needs Design Feedback, Global Styles

#42969 [Gutenberg Data Tutorial] Adjust the image URLs and whitespace to render correctly in the Handbook
  docs/how-to-guides/data-basics/4-building-a-create-page-form.md
  docs/manifest.json
Labels: [Type] Developer Documentation

#43028 Remove the emoji characters to fix the handbook rendering
  docs/contributors/code/auto-cherry-picking.md
Labels: [Type] Developer Documentation

#43051 Style engine: disable stylesheet optimization temporarily
  packages/style-engine/class-wp-style-engine.php
Labels: [Type] Bug, [Package] Style Engine

#40663 Try: Fix issue with floated featured images overflowing focus style
  packages/block-library/src/latest-posts/editor.scss
Labels: [Type] Enhancement, [Block] Latest Posts

#43035 Create Block: Remove i18n references from save properties
  packages/create-block/lib/templates/block/save.js.mustache
  packages/create-block/lib/templates/es5/index.js.mustache
Labels: [Package] Create Block

#39595 Add mutations data and helper functions to useEntityRecord
  packages/core-data/README.md
  packages/core-data/src/hooks/test/use-entity-record.js
  packages/core-data/src/hooks/use-entity-record.ts
Labels: [Type] Code Quality, [Package] Core data

#42930 Document Settings: Decode the post URL for the button label
  packages/editor/src/components/post-url/label.js
Labels: [Type] Bug, [Feature] Document Settings

#43058 [Mobile] - Fix dynamic React Native version
  packages/react-native-editor/android/app/build.gradle
  packages/react-native-editor/android/gradle.properties
Labels: Mobile App - i.e. Android or iOS

#42368 Tools: Standardize script naming in main package.json
  .github/workflows/build-plugin-zip.yml
  .github/workflows/end2end-test-playwright.yml
  .github/workflows/static-checks.yml
  .github/workflows/unit-test.yml
  bin/api-docs/are-api-docs-unstaged.js
  bin/plugin/commands/performance.js
  bin/plugin/commands/test/changelog.js
  bin/unit-test-date.sh
  docs/contributors/code/auto-cherry-picking.md
  docs/contributors/code/coding-guidelines.md
  docs/contributors/code/getting-started-with-code-contribution.md
  docs/contributors/code/react-native/internationalization-guide.md
  docs/contributors/code/react-native/osx-setup-guide.md
  docs/contributors/code/testing-overview.md
  package.json
  packages/e2e-tests/README.md
  packages/scripts/README.md
  test/e2e/README.md
Labels: [Type] Build Tooling, [Type] Code Quality

#42629 [Block Library - Query Loop]: Try filters with ToolsPanel
  packages/block-library/src/query/edit/inspector-controls/index.js
  packages/block-library/src/query/edit/inspector-controls/taxonomy-controls.js
  packages/block-library/src/query/editor.scss
Labels: Needs Design Feedback, [Package] Block library, [Block] Query Loop

#41765 [Full Site Editing]: Update `clear customizations` copy for templates
  packages/edit-post/src/components/header/template-title/delete-template.js
  packages/edit-site/src/components/list/actions/index.js
  packages/edit-site/src/components/sidebar/template-card/template-actions.js
  packages/edit-site/src/components/template-details/index.js
  packages/edit-site/src/components/template-details/template-areas.js
Labels: [Type] Copy, Needs Copy Review, [Feature] Full Site Editing

#42662 Add a search title variation to the query title block
  docs/reference-guides/core-blocks.md
  packages/block-library/src/query-title/block.json
  packages/block-library/src/query-title/edit.js
  packages/block-library/src/query-title/index.php
  packages/block-library/src/query-title/variations.js
  test/integration/fixtures/blocks/core__query-title.json
Labels: [Type] Enhancement, [Block] Query Title

#42982 Alternative: fix Nav block invalid permissions warning by avoiding using trashed wp_navigation posts (JS implementation)
  packages/block-library/src/navigation/edit/index.js
  packages/block-library/src/navigation/index.php
  packages/block-library/src/navigation/use-navigation-menu.js
Labels: [Block] Navigation

#43017 Fixed alignment issue of tagcloud block when align center
  packages/block-library/src/tag-cloud/style.scss
Labels: [Type] Bug, [Block] Tag Cloud, First-time Contributor

#42996 [RNMobile] Set tintColor for ActionSheetIOS
  packages/components/src/mobile/picker/index.ios.js
  packages/components/src/mobile/picker/styles.native.scss
Labels: Mobile App - i.e. Android or iOS, Mobile App - Automation

#43018 ColorGradientControl: Fix awkward padding in popover
  packages/block-editor/src/components/color-palette/test/__snapshots__/control.js.snap
  packages/block-editor/src/components/colors-gradients/control.js
  packages/block-editor/src/components/colors-gradients/dropdown.js
  packages/block-editor/src/components/colors-gradients/style.scss
  packages/edit-site/src/components/global-styles/style.scss
Labels: [Package] Block editor, [Package] Edit Site

#42745 [Documentation] Adding `@example` entries to the public API exposed in `core/blocks`
  packages/blocks/README.md
  packages/blocks/src/api/categories.js
  packages/blocks/src/api/registration.js
Labels: [Type] Developer Documentation, [Package] Blocks, Developer Experience

#43026 Block Directory: Modernize `DownloadableBlockListItem` tests
  packages/block-directory/src/components/downloadable-block-list-item/test/index.js
Labels: [Type] Enhancement, [Feature] Block Directory

#43065 Fixed broken external link to Mozilla Developer Docs
  docs/reference-guides/block-api/block-attributes.md
Labels: [Type] Developer Documentation

#42797 Global Styles: Add block spacing to root block support UI
  packages/edit-site/src/components/global-styles/dimensions-panel.js
  packages/edit-site/src/components/global-styles/hooks.js
Labels: Global Styles, [Feature] Design Tools

#42795 Typography Panel: Fix font appearance control width
  packages/block-editor/src/components/font-appearance-control/index.js
  packages/components/CHANGELOG.md
  packages/components/src/tools-panel/styles.ts
  packages/components/src/tools-panel/test/__snapshots__/index.js.snap
  packages/components/src/tools-panel/tools-panel/hook.ts
Labels: [Feature] UI Components, [Feature] Design Tools

#42967 Navigation: Try to keep :where just for paddings
  packages/block-library/src/navigation/style.scss
Labels: [Block] Navigation, CSS Styling

#43057 Add separate callbacks for selecting a classic or navigation menu in the nav block
  packages/block-library/src/navigation/edit/index.js
  packages/block-library/src/navigation/edit/navigation-menu-selector.js
  packages/block-library/src/navigation/edit/placeholder/index.js
Labels: [Type] Code Quality, [Block] Navigation

#43075 Docs: fix textual consistency about block attributes
  docs/reference-guides/block-api/block-attributes.md
Labels: [Feature] Block API, [Type] Developer Documentation

#43044 Format Library: Add missing keyboard shortcut description in customizer widget
  packages/customize-widgets/src/components/keyboard-shortcut-help-modal/config.js
Labels: [Feature] Widgets Customizer

#43004 Style Engine: Include 6.1 CSS filter, ensure style engine can output CSS functions like clamp
  lib/compat/wordpress-6.1/blocks.php
  packages/style-engine/class-wp-style-engine-css-declarations.php
  packages/style-engine/phpunit/class-wp-style-engine-css-declarations-test.php
  packages/style-engine/phpunit/class-wp-style-engine-test.php
Labels: [Type] Bug, [Package] Style Engine

#42971 Popover: anchor correctly to parent node when no explicit anchor is passed
  packages/block-editor/src/components/url-popover/image-url-input-ui.js
  packages/components/CHANGELOG.md
  packages/components/src/popover/index.js
  packages/components/src/popover/style.scss
Labels: [Type] Bug, [Feature] UI Components, [Package] Components

#43032 Make template part and reusable block creation language consistent
  docs/reference-guides/filters/i18n-filters.md
  packages/e2e-test-utils/src/create-reusable-block.js
  packages/e2e-tests/specs/editor/various/block-editor-keyboard-shortcuts.test.js
  packages/e2e-tests/specs/editor/various/reusable-blocks.test.js
  packages/edit-site/src/components/template-part-converter/convert-to-template-part.js
  packages/reusable-blocks/src/components/reusable-blocks-menu-items/reusable-block-convert-button.js
  test/e2e/specs/site-editor/template-part.spec.js
Labels: Needs Design Feedback, [Feature] Reusable Blocks, [Block] Template Part

#42992 ColorPicker: fix layout overflow
  packages/components/CHANGELOG.md
  packages/components/src/color-picker/styles.ts
Labels: [Type] Bug, [Feature] UI Components, [Package] Components

#42917 useGlobalStylesOutput: Use memo for derived values
  packages/edit-site/src/components/global-styles/use-global-styles-output.js
Labels: [Type] Code Quality, Global Styles, [Package] Edit Site

#42975 Block Styles: Truncate long button labels
  packages/block-editor/src/components/block-styles/index.js
  packages/block-editor/src/components/block-styles/style.scss
Labels: [Type] Bug, [Package] Block editor

#43089 Fix: script name error in main package.json
  package.json
Labels: [Type] Bug, [Type] Build Tooling

#42718 Global Styles: Upsize typography panel components
  packages/block-editor/src/components/font-appearance-control/index.js
  packages/block-editor/src/components/letter-spacing-control/index.js
  packages/block-editor/src/components/line-height-control/index.js
  packages/edit-site/src/components/global-styles/style.scss
  packages/edit-site/src/components/global-styles/typography-panel.js
Labels: Global Styles

#43029 Block Library: Refactor Calendar block away from `moment`
  package-lock.json
  packages/block-library/package.json
  packages/block-library/src/calendar/edit.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Block library, [Block] Calendar

#43019 Lodash: Refactor away from `_.startsWith()`
  .eslintrc.js
  packages/block-editor/src/components/link-control/is-url-like.js
  packages/block-editor/src/components/link-control/use-search-handler.js
  packages/blocks/src/api/serializer.js
  packages/components/src/mobile/global-styles-context/utils.native.js
  packages/edit-site/src/components/global-styles/use-global-styles-output.js
  test/integration/full-content/full-content.test.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Components, [Package] Blocks, [Package] Block editor, [Package] Edit Site

#42912 Lodash: Remove completely from `@wordpress/dom` package
  package-lock.json
  packages/dom/package.json
  packages/dom/src/dom/clean-node-list.js
  packages/dom/src/phrasing-content.js
  packages/dom/src/tabbable.js
Labels: [Type] Performance, [Type] Code Quality, [Package] DOM

#42914 Lodash: Refactor away from `_.maxBy()`
  .eslintrc.js
  packages/block-editor/src/components/colors/utils.js
  packages/blocks/src/api/utils.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Blocks, [Package] Block editor, [a11y] Color Contrast

#42990 Placeholder: Convert component to TypeScript
  packages/components/CHANGELOG.md
  packages/components/src/placeholder/README.md
  packages/components/src/placeholder/index.tsx
  packages/components/src/placeholder/stories/index.js
  packages/components/src/placeholder/stories/index.tsx
  packages/components/src/placeholder/types.ts
  packages/components/tsconfig.json
Labels: [Type] Enhancement, [Type] Code Quality, [Package] Components

#43094 Update broken internal link
  docs/reference-guides/block-api/block-metadata.md
Labels: [Type] Developer Documentation

#43099 Cover: Fix rendered content PHPDoc type
  packages/block-library/src/cover/index.php
Labels: [Type] Developer Documentation, [Package] Block library

#42826 Use git for `wp-env`'s default WordPress version
  packages/env/CHANGELOG.md
  packages/env/README.md
  packages/env/lib/config/config.js
  packages/env/lib/config/test/__snapshots__/config.js.snap
  packages/env/lib/config/test/config.js
  packages/env/lib/wordpress.js
Labels: [Type] Enhancement, [Package] Env

#43073 Global styles: specify priority in remove_action
  lib/compat/wordpress-6.1/script-loader.php
Labels: [Type] Bug, Global Styles

#43052 Layout: merge CSS rule for block gap
  lib/block-supports/layout.php
Labels: [Type] Bug, CSS Styling, [Package] Style Engine

#42880 Style engine: enqueue block supports styles in Gutenberg
  lib/compat/wordpress-6.1/script-loader.php
  packages/style-engine/README.md
  packages/style-engine/class-wp-style-engine-processor.php
  packages/style-engine/class-wp-style-engine.php
  packages/style-engine/phpunit/class-wp-style-engine-test.php
  phpunit/script-loader.php
Labels: [Status] In Progress, Needs Dev Note, [Type] New API, [Package] Style Engine, [Type] User Documentation

#43101 Spacing presets: Prevent % spacing size units being stripped by sanitize_title
  lib/compat/wordpress-6.1/class-wp-theme-json-6-1.php
Labels: [Type] Bug, Global Styles

#43079 Remove duplicate speak calls from navigation block
  packages/block-library/src/navigation/edit/index.js
Labels: [Type] Code Quality, [Block] Navigation

#43025 Add a control to make Archives block's dropdown label invisible
  docs/reference-guides/core-blocks.md
  packages/block-library/src/archives/block.json
  packages/block-library/src/archives/edit.js
  packages/block-library/src/archives/index.php
  test/integration/fixtures/blocks/core__archives.json
  test/integration/fixtures/blocks/core__archives__showPostCounts.json
Labels: [Type] Enhancement, [Block] Archives

#42801 Migrate group block tests to Playwright
  packages/e2e-tests/specs/editor/blocks/__snapshots__/group.test.js.snap
  packages/e2e-tests/specs/editor/blocks/group.test.js
  test/e2e/specs/editor/blocks/__snapshots__/Group-can-be-created-using-the-block-inserter-1-chromium.txt
  test/e2e/specs/editor/blocks/__snapshots__/Group-can-be-created-using-the-slash-inserter-1-chromium.txt
  test/e2e/specs/editor/blocks/__snapshots__/Group-can-have-other-blocks-appended-to-it-using-the-button-appender-1-chromium.txt
  test/e2e/specs/editor/blocks/group.spec.js
Labels: Automated Testing

#41680 Migrate missing block tests to Playwright
  packages/e2e-tests/specs/editor/blocks/missing.test.js
  test/e2e/specs/editor/blocks/missing.spec.js
Labels: Automated Testing

#42759 Migrate deprecated node matcher tests to playwright
  packages/e2e-tests/specs/editor/plugins/__snapshots__/deprecated-node-matcher.test.js.snap
  packages/e2e-tests/specs/editor/plugins/deprecated-node-matcher.test.js
  test/e2e/specs/editor/plugins/__snapshots__/Deprecated-Node-Matcher-should-insert-block-with-children-source-1-chromium.txt
  test/e2e/specs/editor/plugins/__snapshots__/Deprecated-Node-Matcher-should-insert-block-with-node-source-1-chromium.txt
  test/e2e/specs/editor/plugins/deprecated-node-matcher.spec.js
Labels: Automated Testing

#42597 ComboboxControl and FormTokenField: enhance components with custom render callback for options
  packages/components/CHANGELOG.md
  packages/components/src/combobox-control/README.md
  packages/components/src/combobox-control/index.js
  packages/components/src/combobox-control/stories/index.js
  packages/components/src/form-token-field/README.md
  packages/components/src/form-token-field/index.tsx
  packages/components/src/form-token-field/stories/index.tsx
  packages/components/src/form-token-field/suggestions-list.tsx
  packages/components/src/form-token-field/types.ts
Labels: [Type] Enhancement, [Feature] UI Components, [Package] Components

#43093 Quote: fix raw transform handler
  packages/block-library/src/quote/transforms.js
  packages/blocks/src/api/raw-handling/html-to-blocks.js
  packages/blocks/src/api/raw-handling/index.js
  packages/blocks/src/api/raw-handling/paste-handler.js
  test/integration/blocks-raw-handling.test.js
  test/integration/fixtures/documents/slack-quote-in.html
  test/integration/fixtures/documents/slack-quote-out.html
Labels: [Type] Bug, [Feature] Raw Handling, [Block] Quote

#43022 Buttons: Update selectors to work better with button elements
  lib/blocks.php
  packages/block-library/src/button/block.json
  packages/block-library/src/button/style.scss
Labels: [Block] Buttons

#43100 Lodash: Remove completely from `@wordpress/docgen` package
  package-lock.json
  packages/docgen/lib/get-export-entries.js
  packages/docgen/lib/get-intermediate-representation.js
  packages/docgen/lib/get-leading-comments.js
  packages/docgen/lib/index.js
  packages/docgen/package.json
Labels: [Type] Performance, [Type] Code Quality, [Package] Docgen

#42466 Lodash: Refactor pascal case usages away from Lodash
  docs/tool/manifest.js
  package-lock.json
  package.json
  packages/compose/package.json
  packages/compose/src/utils/create-higher-order-component/index.ts
  packages/core-data/package.json
  packages/core-data/src/entities.ts
  packages/create-block/lib/scaffold.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Compose, [Package] Core data, [Package] Create Block

#42465 Lodash: Refactor away from `_.capitalize()`
  .eslintrc.js
  package-lock.json
  packages/e2e-test-utils-playwright/package.json
  packages/e2e-test-utils-playwright/src/page-utils/press-key-with-modifier.ts
  packages/e2e-test-utils/src/press-key-with-modifier.js
  packages/keycodes/package.json
  packages/keycodes/src/index.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Keycodes, [Package] E2E Test Utils

#43116 Site Editor: Fix error in compileStyleValue
  packages/edit-site/src/components/global-styles/use-global-styles-output.js
Labels: [Type] Bug, [Package] Edit Site, [Feature] Site Editor

#42467 Lodash: Refactor away from `_.words()`
  .eslintrc.js
  package-lock.json
  packages/block-editor/package.json
  packages/block-editor/src/components/inserter/search-items.js
Labels: [Feature] Inserter, [Type] Performance, [Type] Code Quality, [Package] Block editor

#43045 Enable alpha (opacity) in Global Styles color pickers.
  packages/components/src/palette-edit/index.js
Labels: [Type] Enhancement, Global Styles, Backport to Gutenberg RC

#42859 Reset focalPoint after replacing the cover image
  packages/block-library/src/cover/shared.js
Labels: [Type] Enhancement, [Package] Block library, [Block] Cover

#43122 [Style Engine]: Defensive guarding for when style does not define the 'individual' property
  packages/style-engine/class-wp-style-engine.php
Labels: [Type] Bug, [Package] Style Engine

#43109 Border Support: Fix disabling of border style control
  packages/block-editor/src/hooks/border.js
  packages/edit-site/src/components/global-styles/border-panel.js
Labels: [Type] Bug, [Feature] Design Tools

#41519 Migrate wp editor meta box test to Playwright
  packages/e2e-tests/specs/editor/plugins/wp-editor-meta-box.test.js
  test/e2e/specs/editor/plugins/wp-editor-meta-box.spec.js
Labels: Automated Testing, First-time Contributor

#42502 Editor: Remove Lodash from store code
  packages/editor/src/store/actions.js
  packages/editor/src/store/reducer.js
  packages/editor/src/store/selectors.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Editor

#43134 List View: Ensure long anchors don't cause the List View to extend
  packages/block-editor/src/components/list-view/block-select-button.js
  packages/block-editor/src/components/list-view/style.scss
Labels: [Type] Bug, [Feature] List View

#43135 Fix drag and drop indicator before first block and after last block
  packages/block-editor/src/components/block-popover/inbetween.js
  packages/e2e-tests/specs/editor/various/__snapshots__/draggable-block.test.js.snap
  packages/e2e-tests/specs/editor/various/draggable-block.test.js
Labels: [Type] Regression, [Feature] Drag and Drop

#43119 [Blocks] Paragraph and Heading: add gradient support
  docs/reference-guides/core-blocks.md
  packages/block-library/src/heading/block.json
  packages/block-library/src/paragraph/block.json
Labels: [Block] Paragraph

#42983 Partial select: fix selecting into image
  packages/block-editor/src/components/writing-flow/use-selection-observer.js
  packages/e2e-tests/specs/editor/various/__snapshots__/multi-block-selection.test.js.snap
  packages/e2e-tests/specs/editor/various/multi-block-selection.test.js
Labels: [Type] Bug, [Feature] Block Multi Selection

#42312 Post date: Add option to display as the last modified date
  docs/reference-guides/core-blocks.md
  packages/block-library/src/post-date/block.json
  packages/block-library/src/post-date/edit.js
  packages/block-library/src/post-date/index.php
  test/integration/fixtures/blocks/core__post-date.json
Labels: [Type] Enhancement, [Block] Post Date

#43137 Keycodes: Fix display of symbols in keyboard shortcut modal
  packages/keycodes/src/index.js
Labels: [Type] Bug, [Package] Keycodes

#42962 (Custom)SelectControl: Refresh and refactor chevron
  packages/components/CHANGELOG.md
  packages/components/src/custom-select-control/index.js
  packages/components/src/custom-select-control/style.scss
  packages/components/src/custom-select-control/styles.ts
  packages/components/src/select-control/chevron-down.tsx
  packages/components/src/select-control/index.tsx
  packages/components/src/select-control/styles/select-control-styles.ts
Labels: [Type] Enhancement, [Package] Components

#43148 Components: Refactor `Guide` `PageControl` tests to @testing-library/react
  packages/components/src/guide/test/page-control.js
Labels: [Type] Enhancement, [Package] Components

#42976 Fix dynamic references on the site editor
  packages/edit-site/src/components/global-styles/hooks.js
  packages/edit-site/src/components/global-styles/test/utils.js
  packages/edit-site/src/components/global-styles/use-global-styles-output.js
  packages/edit-site/src/components/global-styles/utils.js
Labels: Global Styles

#43088 Pseudo elements supports on button elements
  lib/compat/wordpress-6.1/class-wp-theme-json-6-1.php
Labels: [Type] Enhancement, Global Styles

#43131 PHPCS: Exclude PHPUnit tests from file and class name sniffs (for Core parity)
  phpcs.xml.dist
Labels: Automated Testing

#43112 Home Link: Fix undo trap
  packages/block-library/src/home-link/edit.js
Labels: [Type] Bug, [Block] Home Link

#43068 Swatch: Remove component in favor of ColorIndicator
  packages/components/CHANGELOG.md
  packages/components/src/color-list-picker/index.js
  packages/components/src/color-list-picker/style.scss
  packages/components/src/duotone-picker/duotone-swatch.js
  packages/components/src/style.scss
  packages/components/src/swatch/index.tsx
  packages/components/src/swatch/style.scss
  packages/components/src/swatch/types.ts
  packages/components/tsconfig.json
Labels: [Type] Code Quality, [Package] Components

#43060 ToggleGroupControl: Improve styling for icon options
  packages/components/CHANGELOG.md
  packages/components/src/toggle-group-control/stories/index.js
  packages/components/src/toggle-group-control/test/__snapshots__/index.tsx.snap
  packages/components/src/toggle-group-control/test/index.tsx
  packages/components/src/toggle-group-control/toggle-group-control-option-base/component.tsx
  packages/components/src/toggle-group-control/toggle-group-control-option-base/styles.ts
  packages/components/src/toggle-group-control/toggle-group-control-option-icon/README.md
  packages/components/src/toggle-group-control/toggle-group-control-option-icon/component.tsx
  packages/components/src/toggle-group-control/toggle-group-control-option/component.tsx
  packages/components/src/toggle-group-control/toggle-group-control/component.tsx
  packages/components/src/toggle-group-control/toggle-group-control/styles.ts
  packages/components/src/toggle-group-control/types.ts
Labels: [Type] Enhancement, [Package] Components

#43160 AnglePickerControl: Add flag to remove bottom margin
  packages/components/CHANGELOG.md
  packages/components/src/angle-picker-control/index.js
  packages/components/src/angle-picker-control/stories/index.js
  packages/components/src/angle-picker-control/styles/angle-picker-control-styles.js
Labels: [Package] Components
