Repository WordPress/gutenberg, pull requests merged in 2022-03, with the labels that each got.

#39017 Don't filter 'theme_templates' when running WP 5.9
  lib/compat/wordpress-5.9/wp-theme-get-post-templates.php
Labels: [Type] Code Quality, [Feature] Themes

#39091 Avoid error when 'styles' settings are removed
  packages/edit-post/src/editor.js
  packages/edit-site/src/components/editor/global-styles-renderer.js
Labels: [Type] Bug, [Package] Edit Post, Backport to WP Minor Release

#39094 [Block Conversion]: Show `group` option in `Group` blocks
  packages/block-editor/src/components/convert-to-group-buttons/use-convert-to-group-button-props.js
  packages/block-library/src/group/index.js
  packages/block-library/src/group/transforms.js
  packages/e2e-tests/specs/editor/various/block-grouping.test.js
Labels: [Feature] Block Conversion, [Block] Group

#38955 Add e2e testing for experimental nav menu deletion
  packages/e2e-tests/specs/experiments/navigation-editor.test.js
Labels: Automated Testing, [Package] E2E Tests

#38969 Components: Normalize font-family
  packages/components/CHANGELOG.md
  packages/components/src/button/style.scss
  packages/components/src/color-palette/style.scss
  packages/components/src/combobox-control/style.scss
  packages/components/src/date-time/style.scss
  packages/components/src/date-time/time.js
  packages/components/src/form-token-field/style.scss
  packages/components/src/input-control/styles/input-control-styles.tsx
  packages/components/src/select-control/styles/select-control-styles.ts
  packages/components/src/toggle-group-control/test/__snapshots__/index.js.snap
  packages/components/src/toggle-group-control/toggle-group-control-option/styles.ts
Labels: [Package] Components

#39139 Icons: Update Pin icon, add new Post icon.
  packages/icons/CHANGELOG.md
  packages/icons/src/index.js
  packages/icons/src/library/pin.js
  packages/icons/src/library/post.js
Labels: [Package] Icons

#38936 Render SVG props that have dashes correctly
  packages/element/src/serialize.js
  packages/element/src/test/serialize.js
Labels: [Type] Bug, [Package] Element, First-time Contributor

#39141 Element: add changelog notes for serialize attribute casing
  packages/element/CHANGELOG.md
Labels: [Package] Element

#38842 Storybook: Support proper extraction of TypeScript prop types
  packages/components/src/divider/component.tsx
  packages/components/src/divider/stories/index.js
  packages/components/src/divider/stories/index.tsx
  packages/components/src/divider/types.ts
  packages/components/src/heading/component.tsx
  packages/components/src/heading/stories/index.js
  packages/components/src/heading/stories/index.tsx
  packages/components/src/text/types.ts
  packages/components/src/ui/context/context-connect.ts
  packages/components/src/ui/context/index.ts
  packages/components/src/ui/context/wordpress-component.ts
  packages/components/tsconfig.json
  storybook/main.js
  storybook/preview.js
Labels: [Type] Documentation, [Package] Components, Storybook

#38571 [RNMobile] Gallery block: Add integration tests related to its manual tests
  packages/block-editor/src/components/index.native.js
  packages/block-editor/src/components/media-placeholder/index.native.js
  packages/block-editor/src/components/media-upload/index.native.js
  packages/block-library/src/gallery/test/__snapshots__/index.native.js.snap
  packages/block-library/src/gallery/test/helpers.native.js
  packages/block-library/src/gallery/test/index.native.js
  test/native/helpers.js
  test/native/jest.config.js
  test/native/matchers/to-be-visible.js
  test/native/setup.js
Labels: Mobile App - i.e. Android or iOS

#38968 Update drag gesture of `InputControl`-based controls with axial constraint
  packages/components/CHANGELOG.md
  packages/components/src/input-control/input-field.tsx
Labels: [Type] Bug, [Type] Enhancement, Browser Issues, [Package] Components

#39027 Social Icons - Begin Automating Existing Manual Test Cases.
  package-lock.json
  packages/block-library/src/social-link/edit.native.js
  packages/block-library/src/social-link/test/index.native.js
  packages/compose/src/utils/create-higher-order-component/index.ts
  packages/data/src/redux-store/metadata/actions.js
  packages/react-native-editor/ios/Podfile.lock
Labels: [Block] Social

#39012 Fix Global styles overriding block's element styles
  packages/block-editor/src/hooks/style.js
Labels: First-time Contributor

#39146 Missing `,toggleFormat` from last code block
  docs/how-to-guides/format-api.md
Labels: First-time Contributor

#39151 Fix navigation menu error when menus are not yet fetched
  packages/block-library/src/navigation/edit/navigation-menu-selector.js
Labels: [Type] Bug, [Block] Navigation

#39115 Migrate post editor feature preferences to use new preferences package
  docs/reference-guides/data/data-core-edit-post.md
  package-lock.json
  packages/base-styles/_z-index.scss
  packages/data/src/plugins/persistence/index.js
  packages/e2e-test-utils/src/click-on-more-menu-item.js
  packages/e2e-test-utils/src/toggle-more-menu.js
  packages/e2e-tests/specs/editor/various/popovers.test.js
  packages/e2e-tests/specs/editor/various/post-editor-template-mode.test.js
  packages/edit-post/package.json
  packages/edit-post/src/components/header/more-menu/index.js
  packages/edit-post/src/components/header/more-menu/style.scss
  packages/edit-post/src/components/header/style.scss
  packages/edit-post/src/components/header/writing-menu/index.js
  packages/edit-post/src/index.js
  packages/edit-post/src/plugins/welcome-guide-menu-item/index.js
  packages/edit-post/src/store/actions.js
  packages/edit-post/src/store/selectors.js
  packages/edit-post/src/store/test/actions.js
  packages/edit-post/src/style.scss
  packages/nux/src/components/dot-tip/style.scss
Labels: [Type] Enhancement, [Package] Edit Post

#38994 Enhance/confirmdialog add custom button text
  packages/components/CHANGELOG.md
  packages/components/src/confirm-dialog/README.md
  packages/components/src/confirm-dialog/component.tsx
  packages/components/src/confirm-dialog/stories/index.js
  packages/components/src/confirm-dialog/test/index.js
  packages/components/src/confirm-dialog/types.ts
Labels: [Type] Enhancement, [Package] Components, [Feature] Component System

#38727 FontSizePicker: Refactor stories to use Controls
  packages/components/src/font-size-picker/README.md
  packages/components/src/font-size-picker/stories/index.js
Labels: [Package] Components, Storybook

#39048 Site Editor: Add theme.json to export file
  lib/compat/wordpress-5.9/block-template-utils.php
  lib/compat/wordpress-6.0/block-template-utils.php
  lib/compat/wordpress-6.0/class-gutenberg-rest-edit-site-export-controller.php
  lib/compat/wordpress-6.0/class-wp-theme-json-gutenberg.php
  lib/compat/wordpress-6.0/rest-api.php
  lib/load.php
  lib/rest-api.php
  packages/edit-site/src/components/header/more-menu/site-export.js
  phpunit/class-wp-theme-json-test.php
Labels: [Type] Enhancement, Global Styles, [Feature] Site Editor

#38907 Improve Nav block loading and placeholder states
  packages/block-library/src/navigation/edit/index.js
  packages/block-library/src/navigation/edit/inner-blocks.js
  packages/block-library/src/navigation/edit/navigation-menu-selector.js
  packages/block-library/src/navigation/edit/placeholder/index.js
  packages/block-library/src/navigation/edit/placeholder/placeholder-preview.js
  packages/block-library/src/navigation/editor.scss
  packages/block-library/src/navigation/use-navigation-menu.js
  packages/e2e-tests/specs/editor/blocks/__snapshots__/navigation.test.js.snap
  packages/e2e-tests/specs/editor/blocks/navigation.test.js
Labels: [Type] Code Quality, Needs Technical Feedback, [Block] Navigation

#39144 [RNMobile] Prevent unhandled promise rejection warning related to canUser resolver
  packages/core-data/src/resolvers.js
Labels: [Type] Bug, Mobile App - i.e. Android or iOS

#38581 [Gutenberg Data Tutorial] Part 3: Building an edit form
  docs/how-to-guides/data-basics/1-data-basics-setup.md
  docs/how-to-guides/data-basics/2-building-a-list-of-pages.md
  docs/how-to-guides/data-basics/3-building-an-edit-form.md
  docs/how-to-guides/data-basics/README.md
  docs/how-to-guides/data-basics/media/edit-form/edit-button.png
  docs/how-to-guides/data-basics/media/edit-form/form-editable.png
  docs/how-to-guides/data-basics/media/edit-form/form-error.png
  docs/how-to-guides/data-basics/media/edit-form/form-finished.png
  docs/how-to-guides/data-basics/media/edit-form/form-inactive.png
  docs/how-to-guides/data-basics/media/edit-form/form-populated.png
  docs/how-to-guides/data-basics/media/edit-form/form-scaffold.png
  docs/how-to-guides/data-basics/media/edit-form/form-spinner.png
  docs/how-to-guides/data-basics/media/edit-form/modal-initial.png
Labels: [Type] Documentation, [Package] Core data

#39169 Components: move recent CHANGELOG entry to `Unreleased` section
  packages/components/CHANGELOG.md
Labels: [Type] Documentation, [Type] Code Quality, [Package] Components, [Feature] Component System

#38999 Components: update framer motion to 6.2.8
  package-lock.json
  packages/components/package.json
  packages/components/src/animation/index.js
Labels: [Type] Enhancement, [Package] Components

#39164 Change location of block support styles in `<head>`
  lib/compat/wordpress-5.9/script-loader.php
Labels: [Type] Bug, CSS Styling

#39132 Migrate hidden block types (block manager data) to new preferences packages
  docs/reference-guides/data/data-core-edit-post.md
  packages/data/src/plugins/persistence/index.js
  packages/data/src/plugins/persistence/test/index.js
  packages/edit-post/src/components/block-manager/category.js
  packages/edit-post/src/components/block-manager/index.js
  packages/edit-post/src/editor.js
  packages/edit-post/src/editor.native.js
  packages/edit-post/src/index.js
  packages/edit-post/src/store/actions.js
  packages/edit-post/src/store/reducer.js
  packages/edit-post/src/store/selectors.js
  packages/edit-post/src/store/test/actions.js
  packages/edit-post/src/store/test/reducer.js
Labels: [Type] Enhancement, [Package] Edit Post

#38817 Site Editor: Resolve homepage template on server-side
  lib/compat/wordpress-6.0/block-template.php
  lib/full-site-editing/edit-site-page.php
  lib/load.php
  packages/edit-site/src/components/navigation-sidebar/navigation-panel/index.js
  packages/edit-site/src/components/routes/redirect-to-homepage.js
  packages/edit-site/src/index.js
Labels: [Type] Enhancement, [Feature] Site Editor

#39105 Create Block: Add confirm prompt before showing the plugin options
  packages/create-block/lib/index.js
  packages/create-block/lib/templates.js
Labels: [Package] Create Block, Developer Experience

#39098 [RNMobile] Update gesture handler and reanimated libraries
  package-lock.json
  packages/react-native-bridge/android/react-native-bridge/src/main/java/org/wordpress/mobile/WPAndroidGlue/WPAndroidGlueCode.java
  packages/react-native-bridge/ios/Gutenberg.swift
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/android/app/src/main/java/com/gutenberg/MainActivity.java
  packages/react-native-editor/android/app/src/main/java/com/gutenberg/MainApplication.java
  packages/react-native-editor/babel.config.js
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
  packages/react-native-editor/src/setup.js
  test/native/setup.js
Labels: Mobile App - i.e. Android or iOS

#39171 Change copying PHP files to dist directory to opt-in via a CLI flag.
  packages/scripts/CHANGELOG.md
  packages/scripts/README.md
  packages/scripts/config/webpack.config.js
  packages/scripts/scripts/build.js
  packages/scripts/scripts/start.js
Labels: [Type] Enhancement, [Package] Scripts, Developer Experience

#39199 Packages: Automatically acceppt all Lerna commands when run with CI flag
  bin/plugin/commands/packages.js
Labels: [Type] Bug, npm Packages

#39173 Theme Export: Add index.php and style.css
  lib/compat/wordpress-6.0/block-template-utils.php
  lib/compat/wordpress-6.0/class-gutenberg-rest-edit-site-export-controller.php
  packages/edit-site/src/components/header/more-menu/site-export.js
Labels: [Feature] Themes, [Feature] Site Editor

#39145 [Block Library - Cover]: Fix keep selected unit on deleting minHeight value
  packages/block-library/src/cover/deprecated.js
  packages/block-library/src/cover/edit.js
  packages/block-library/src/cover/save.js
  test/integration/fixtures/blocks/core__cover__deprecated-9.html
  test/integration/fixtures/blocks/core__cover__deprecated-9.json
  test/integration/fixtures/blocks/core__cover__deprecated-9.parsed.json
  test/integration/fixtures/blocks/core__cover__deprecated-9.serialized.html
Labels: [Type] Bug, [Package] Block library, [Block] Cover

#39213 File: Don't display loading animation on upload error
  packages/block-library/src/file/edit.js
Labels: [Type] Bug, [Block] File

#29172 Add a link completer for inline links to posts
  packages/block-editor/src/autocompleters/link.js
  packages/block-editor/src/autocompleters/style.scss
  packages/block-editor/src/components/autocomplete/index.js
  packages/edit-post/src/components/keyboard-shortcut-help-modal/config.js
  packages/edit-post/src/components/keyboard-shortcut-help-modal/test/__snapshots__/index.js.snap
Labels: [Type] Enhancement, [Package] Block editor, [Feature] Link Editing

#39215 File: Fix the undo trap
  packages/block-library/src/file/edit.js
Labels: [Type] Bug, [Block] File

#38320 Post author name: Add "post" prefix to CSS class
  packages/block-library/src/index.js
  packages/block-library/src/post-author-name/edit.js
  packages/block-library/src/post-author-name/index.php
Labels: [Block] Post Author

#39198 Mobile Release v1.71.3
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS

#39156 fix: code example in flyout component
  packages/components/src/flyout/flyout/README.md
Labels: [Type] Documentation, [Package] Components, First-time Contributor, [Feature] Component System

#39212 Core data: Fix some typing issues
  docs/reference-guides/data/data-core.md
  packages/core-data/README.md
  packages/core-data/src/actions.js
Labels: [Type] Code Quality, [Package] Core data

#39214 Core data: Fix some typing issues
  packages/core-data/src/batch/create-batch.js
Labels: [Type] Code Quality, [Package] Core data

#39101 Docs: Emphasized requirement to enclose in quotation marks wp-env run…
  packages/env/README.md
Labels: [Type] Documentation, First-time Contributor

#39234 [Documentation]: Spelling error in `JustifyContentControl` example
  packages/block-editor/src/components/justify-content-control/README.md
Labels: [Type] Bug, [Type] Documentation, [Package] Block editor, First-time Contributor

#38996 Adding a GIF badge to image blocks with gifs in them
  packages/block-library/src/image/edit.native.js
  packages/react-native-editor/CHANGELOG.md
Labels: Mobile App - i.e. Android or iOS, [Block] Image

#39241 Fix `npm run docs:build` crashing when a `block.json` lacks `supports` key.
  bin/api-docs/gen-block-lib-list.js
Labels: [Type] Bug, [Type] Build Tooling

#39245 Media & Text: Display errors after failed upload
  packages/block-library/src/media-text/edit.js
Labels: [Type] Bug, [Block] Media & Text

#39197 MediaReplaceFlow: Add 'onError' prop to handle error notifications
  packages/block-editor/src/components/media-replace-flow/README.md
  packages/block-editor/src/components/media-replace-flow/index.js
Labels: [Type] Enhancement, [Feature] Media

#38858 Refactor classic menu conversion process
  packages/block-library/src/navigation/edit/index.js
  packages/block-library/src/navigation/edit/navigation-menu-selector.js
  packages/block-library/src/navigation/edit/use-convert-classic-menu-to-block-menu.js
  packages/block-library/src/navigation/edit/use-navigation-notice.js
  packages/block-library/src/navigation/use-convert-classic-menu.js
Labels: Needs Design Feedback, Needs Accessibility Feedback, [Block] Navigation

#39165 Storybook: Add webpack loader for easier story descriptions
  packages/components/src/font-size-picker/stories/index.js
  storybook/webpack.config.js
  storybook/webpack/description-loader.js
Labels: Storybook

#39225 Core Data: Rename `types` directory to `entity-types`
  packages/core-data/src/entity-types/README.md
  packages/core-data/src/entity-types/attachment.ts
  packages/core-data/src/entity-types/base-entity-types.ts
  packages/core-data/src/entity-types/comment.ts
  packages/core-data/src/entity-types/helpers.ts
  packages/core-data/src/entity-types/index.ts
  packages/core-data/src/entity-types/menu-location.ts
  packages/core-data/src/entity-types/nav-menu-item.ts
  packages/core-data/src/entity-types/nav-menu.ts
  packages/core-data/src/entity-types/navigation-area.ts
  packages/core-data/src/entity-types/page.ts
  packages/core-data/src/entity-types/plugin.ts
  packages/core-data/src/entity-types/post.ts
  packages/core-data/src/entity-types/settings.ts
  packages/core-data/src/entity-types/sidebar.ts
  packages/core-data/src/entity-types/taxonomy.ts
  packages/core-data/src/entity-types/theme.ts
  packages/core-data/src/entity-types/type.ts
  packages/core-data/src/entity-types/user.ts
  packages/core-data/src/entity-types/widget-type.ts
  packages/core-data/src/entity-types/widget.ts
  packages/core-data/src/entity-types/wp-template-part.ts
  packages/core-data/src/entity-types/wp-template.ts
  packages/core-data/src/index.js
Labels: [Type] Code Quality, [Package] Core data

#39238 Code owners: Remove users without write access and fix typos
  .github/CODEOWNERS
Labels: [Type] Project Management

#38669 Handle resolution errors in @wordpress/data
  packages/data/CHANGELOG.md
  packages/data/src/redux-store/index.js
  packages/data/src/redux-store/metadata/actions.js
  packages/data/src/redux-store/metadata/reducer.ts
  packages/data/src/redux-store/metadata/selectors.js
  packages/data/src/redux-store/metadata/test/reducer.js
  packages/data/src/redux-store/metadata/test/selectors.js
  packages/data/src/redux-store/test/index.js
  packages/data/src/resolvers-cache-middleware.js
Labels: [Package] Data, Needs Dev Note, Developer Experience

#39221 useBlockEditorSettings: remove unused unstableBase fetch
  packages/editor/src/components/provider/use-block-editor-settings.js
Labels: [Package] Editor

#39224 [RNMobile] Use internal `initializeEditor` for integration tests
  test/native/helpers.js
Labels: Mobile App - i.e. Android or iOS, Mobile App - Automation

#39204 Block Library: Fix Comments Pagination Number with no pagination settings
  lib/compat/experimental/blocks.php
  packages/block-library/src/comments-pagination-numbers/index.php
  phpunit/class-block-library-comment-template-test.php
Labels: [Type] Bug, [Block] Comments Query Loop

#39178 Image: Display errors after failed upload
  packages/block-library/src/image/edit.js
Labels: [Type] Bug, [Block] Image

#39110 Block settings dropdown: use block display title in remove label
  packages/block-editor/README.md
  packages/block-editor/src/components/block-breadcrumb/index.js
  packages/block-editor/src/components/block-list/block-selection-button.native.js
  packages/block-editor/src/components/block-settings-menu/block-settings-dropdown.js
  packages/block-editor/src/components/block-switcher/index.js
  packages/block-editor/src/components/block-title/README.md
  packages/block-editor/src/components/block-title/index.js
  packages/block-editor/src/components/block-title/test/index.js
  packages/block-editor/src/components/block-title/use-block-display-title.js
  packages/block-editor/src/components/block-tools/block-selection-button.js
  packages/block-editor/src/components/list-view/block-select-button.js
Labels: [Type] Enhancement, [a11y] Labelling, [Feature] Block settings menu

#39153 Add reusable preferences modal to interface package.
  packages/interface/src/components/index.js
  packages/interface/src/components/preferences-modal-base-option/README.md
  packages/interface/src/components/preferences-modal-base-option/index.js
  packages/interface/src/components/preferences-modal-base-option/style.scss
  packages/interface/src/components/preferences-modal-section/README.md
  packages/interface/src/components/preferences-modal-section/index.js
  packages/interface/src/components/preferences-modal-section/style.scss
  packages/interface/src/components/preferences-modal-tabs/README.md
  packages/interface/src/components/preferences-modal-tabs/index.js
  packages/interface/src/components/preferences-modal-tabs/style.scss
  packages/interface/src/components/preferences-modal/README.md
  packages/interface/src/components/preferences-modal/index.js
  packages/interface/src/components/preferences-modal/style.scss
  packages/interface/src/style.scss
Labels: [Package] Interface

#39265 Add Home/End keyboard E2E test for List View
  packages/e2e-tests/specs/editor/various/list-view.test.js
Labels: [Type] Enhancement, [Package] E2E Tests

#38510 Widget Group: Make `save()` markup the same as `render_callback` markup
  packages/widgets/src/blocks/widget-group/deprecated.js
  packages/widgets/src/blocks/widget-group/index.js
  packages/widgets/src/blocks/widget-group/save.js
Labels: [Type] Bug, [Block] Widget Group

#39158 Migrate site editor to use new preferences package
  package-lock.json
  packages/base-styles/_z-index.scss
  packages/data/src/plugins/persistence/index.js
  packages/e2e-test-utils/CHANGELOG.md
  packages/e2e-test-utils/README.md
  packages/e2e-test-utils/src/click-on-more-menu-item.js
  packages/e2e-test-utils/src/site-editor.js
  packages/e2e-test-utils/src/toggle-more-menu.js
  packages/edit-site/package.json
  packages/edit-site/src/components/header/feature-toggle/index.js
  packages/edit-site/src/components/header/more-menu/index.js
  packages/edit-site/src/components/header/more-menu/style.scss
  packages/edit-site/src/components/header/more-menu/welcome-guide-menu-item.js
  packages/edit-site/src/components/sidebar/global-styles-sidebar.js
  packages/edit-site/src/components/welcome-guide/editor.js
  packages/edit-site/src/components/welcome-guide/styles.js
  packages/edit-site/src/index.js
  packages/edit-site/src/store/actions.js
  packages/edit-site/src/store/defaults.js
  packages/edit-site/src/store/index.js
  packages/edit-site/src/store/reducer.js
  packages/edit-site/src/store/selectors.js
  packages/edit-site/src/store/test/actions.js
  packages/edit-site/src/store/test/reducer.js
  packages/edit-site/src/store/test/selectors.js
  packages/edit-site/src/style.scss
Labels: [Type] Enhancement, [Package] Edit Site, [Feature] Site Editor

#39229 Simplify Pull Request template
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: [Type] Project Management

#38827 Refactor useSelect usages to useEntityRecords
  packages/block-library/src/block/edit.js
  packages/block-library/src/categories/edit.js
  packages/block-library/src/navigation/use-navigation-entities.js
  packages/block-library/src/page-list/convert-to-links-modal.js
  packages/block-library/src/page-list/edit.js
  packages/core-data/src/hooks/use-entity-records.ts
  packages/edit-navigation/src/components/block-placeholder/use-navigation-entities.js
  packages/edit-site/src/components/list/table.js
  packages/widgets/src/blocks/legacy-widget/edit/index.js
Labels: [Status] In Progress, [Type] Code Quality

#39295 Image block: Add additional selector to account for the move of is-style classes
  packages/block-library/src/image/style.scss
Labels: [Type] Bug, [Block] Image

#39042 Remove rename rn UI tests
  packages/react-native-editor/__device-tests__/gutenberg-editor-block-insertion.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-more.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-paragraph.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-separator.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-spacer.test.js
Labels: Mobile App - i.e. Android or iOS, First-time Contributor, Mobile App - Automation

#39240 Add a resolvable JavaScript entry point to base-styles
  packages/base-styles/index.js
Labels: First-time Contributor, [Package] Base styles

#39219 Improve create new UI feedback in Nav block
  packages/block-library/src/navigation/edit/index.js
  packages/block-library/src/navigation/edit/placeholder/index.js
  packages/block-library/src/navigation/edit/unsaved-inner-blocks.js
  packages/block-library/src/navigation/edit/use-convert-classic-menu-to-block-menu.js
  packages/block-library/src/navigation/edit/use-create-navigation-menu.js
  packages/e2e-tests/specs/editor/blocks/navigation.test.js
Labels: [Type] Enhancement, Needs Accessibility Feedback, [Block] Navigation

#39176 Add interface preferences modal to edit post.
  packages/e2e-tests/specs/editor/various/preview.test.js
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/preferences-modal/index.js
  packages/edit-post/src/components/preferences-modal/meta-boxes-section.js
  packages/edit-post/src/components/preferences-modal/options/base.js
  packages/edit-post/src/components/preferences-modal/options/enable-custom-fields.js
  packages/edit-post/src/components/preferences-modal/options/enable-feature.js
  packages/edit-post/src/components/preferences-modal/options/enable-panel.js
  packages/edit-post/src/components/preferences-modal/options/enable-publish-sidebar.js
  packages/edit-post/src/components/preferences-modal/options/test/__snapshots__/enable-custom-fields.js.snap
  packages/edit-post/src/components/preferences-modal/options/test/enable-custom-fields.js
  packages/edit-post/src/components/preferences-modal/section.js
  packages/edit-post/src/components/preferences-modal/style.scss
  packages/edit-post/src/components/preferences-modal/test/__snapshots__/index.js.snap
  packages/edit-post/src/components/preferences-modal/test/index.js
  packages/edit-post/src/style.scss
Labels: [Type] Enhancement, [Package] Edit Post

#39275 Media & Text: Display media while uploading
  packages/block-library/src/media-text/edit.js
Labels: [Type] Enhancement, [Block] Media & Text

#39300 Try fixing performance tests
  packages/e2e-test-utils/src/site-editor.js
Labels: [Type] Bug, Automated Testing

#38951 [RNMobile] Small refinements to upload error message
  packages/block-editor/src/components/media-upload-progress/index.native.js
  packages/block-library/src/file/style.native.scss
  packages/block-library/src/media-text/style.native.scss
  packages/block-library/src/video/style.native.scss
  packages/components/src/mobile/image/style.native.scss
  packages/react-native-editor/CHANGELOG.md
Labels: Mobile App - i.e. Android or iOS, Mobile App - Automation

#38893 Raise z-index of content div relative to sidebars
  packages/base-styles/_z-index.scss
Labels: [Type] Enhancement, General Interface, First-time Contributor

#38681 Fix default duotone preset SVG and style generation
  docs/reference-guides/theme-json-reference/theme-json-living.md
  lib/compat/wordpress-5.9/class-wp-theme-json-5-9.php
  lib/compat/wordpress-5.9/class-wp-theme-json-resolver-5-9.php
  lib/compat/wordpress-5.9/render-svg-filters.php
  lib/compat/wordpress-5.9/theme.json
  lib/compat/wordpress-6.0/get-global-styles-and-settings.php
  packages/block-editor/src/hooks/duotone.js
  schemas/json/theme.json
Labels: [Type] Bug, Global Styles, Backport to WP Minor Release

#39302 Add some tests for TreeGrid. Update README to reflect latest functionality.
  packages/components/CHANGELOG.md
  packages/components/src/tree-grid/README.md
  packages/components/src/tree-grid/index.js
  packages/components/src/tree-grid/test/index.js
Labels: [Type] Enhancement, [Package] Components

#39328 Block Title: update docs
  packages/block-editor/src/components/block-title/README.md
Labels: [Type] Documentation

#39318 Gallery block: disable edit as html support
  docs/reference-guides/core-blocks.md
  packages/block-library/CHANGELOG.md
  packages/block-library/src/gallery/block.json
Labels: [Type] Bug, [Block] Gallery

#39333 Fix performance tests - attempt 2
  packages/e2e-test-utils/src/site-editor.js
Labels: [Type] Bug, Automated Testing

#39331 Templates page: reduce z-index of content area
  packages/base-styles/_z-index.scss
  packages/edit-site/src/components/list/style.scss
Labels: [Type] Bug, CSS Styling

#38816 Layout: use CSS logical properties for margin top and bottom
  lib/block-supports/layout.php
  lib/compat/wordpress-6.0/class-wp-theme-json-gutenberg.php
  packages/block-editor/src/layouts/flow.js
  phpunit/class-wp-theme-json-test.php
Labels: [Type] Enhancement, CSS Styling

#39319 Fix Image block link rel handling
  packages/block-editor/src/components/url-popover/image-url-input-ui.js
Labels: [Type] Code Quality

#39256 Optimize preload paths for post and site editors
  lib/compat/wordpress-6.0/edit-form-blocks.php
  lib/full-site-editing/edit-site-page.php
  lib/load.php
  packages/core-data/src/entities.js
Labels: [Type] Performance

#39321 Use block specific filters for the backward compatibility markup hooks
  lib/block-supports/layout.php
Labels: [Type] Code Quality

#39340 Image: Restore baseline responsiveness in the block.
  packages/block-library/src/image/style.scss
Labels: [Type] Bug, [Block] Image

#39252 Icons: Update lock and unlock icons to be smaller.
  packages/icons/src/library/lock.js
  packages/icons/src/library/unlock.js
Labels: [Package] Icons

#39342 Update drag handle footprint.
  packages/icons/CHANGELOG.md
  packages/icons/src/library/drag-handle.js
Labels: [Type] Code Quality, [Package] Icons

#39364 Block Editor: Improve Global Styles filtering order.
  lib/global-styles.php
Labels: [Type] Enhancement

#39365 getQueryArgs: Improvement to prototype handling.
  packages/url/src/get-query-args.js
Labels: [Type] Enhancement

#39180 Migrate post editor `editorMode` to use preferences store and remove `localAutosaveInterval` preference
  lib/compat/wordpress-5.9/block-editor-settings.php
  lib/compat/wordpress-6.0/block-editor-settings.php
  lib/editor-settings.php
  packages/data/src/plugins/persistence/index.js
  packages/e2e-tests/specs/editor/various/autosave.test.js
  packages/e2e-tests/specs/performance/post-editor.test.js
  packages/edit-post/src/editor.js
  packages/edit-post/src/index.js
  packages/edit-post/src/index.native.js
  packages/edit-post/src/store/actions.js
  packages/edit-post/src/store/defaults.js
  packages/edit-post/src/store/reducer.js
  packages/edit-post/src/store/selectors.js
  packages/edit-post/src/store/test/actions.js
  packages/edit-post/src/store/test/reducer.js
  packages/edit-post/src/store/test/selectors.js
  packages/editor/src/components/local-autosave-monitor/README.md
  packages/editor/src/components/local-autosave-monitor/index.js
  packages/editor/src/store/defaults.js
Labels: [Type] Enhancement, [Package] Edit Post

#39345 [Components - ToggleGroupControlOption]: Calculate width from button content and remove `LabelPlaceholderView`
  packages/components/CHANGELOG.md
  packages/components/src/font-size-picker/test/index.js
  packages/components/src/toggle-group-control/test/__snapshots__/index.js.snap
  packages/components/src/toggle-group-control/toggle-group-control-option/component.tsx
  packages/components/src/toggle-group-control/toggle-group-control-option/styles.ts
Labels: [Type] Code Quality, [Package] Components

#39244 ESLint Plugin: Make Prettier integration optional
  package-lock.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/README.md
  packages/eslint-plugin/configs/recommended.js
  packages/eslint-plugin/package.json
Labels: [Type] Breaking Change, [Package] ESLint plugin

#39315 [RNMobile] Increase editor ready timeout in Android e2e tests
  packages/react-native-editor/__device-tests__/helpers/utils.js
Labels: [Type] Bug, Mobile App - i.e. Android or iOS

#39337 Migrate post editor preferred style variations to preferences store
  docs/reference-guides/data/data-core-edit-post.md
  packages/data/src/plugins/persistence/index.js
  packages/edit-post/src/index.js
  packages/edit-post/src/index.native.js
  packages/edit-post/src/store/actions.js
  packages/edit-post/src/store/defaults.js
  packages/edit-post/src/store/reducer.js
  packages/edit-post/src/store/selectors.js
  packages/edit-post/src/store/test/actions.js
Labels: [Type] Enhancement, [Feature] Style Variations, [Package] Edit Post

#39161 Add aria label to Nav block on front of site
  packages/block-library/src/navigation/index.php
  packages/e2e-tests/specs/editor/blocks/navigation.test.js
Labels: Accessibility (a11y), Needs Accessibility Feedback, [Block] Navigation

#39369 Remove unused npm scripts
  package.json
Labels: npm Packages

#39349 Use consistent terminology across @wordpress/core-data
  docs/reference-guides/data/data-core.md
  packages/core-data/README.md
  packages/core-data/src/actions.js
  packages/core-data/src/entities.js
  packages/core-data/src/entity-provider.js
  packages/core-data/src/index.js
  packages/core-data/src/locks/test/selectors.js
  packages/core-data/src/queried-data/reducer.js
  packages/core-data/src/reducer.js
  packages/core-data/src/resolvers.js
  packages/core-data/src/selectors.js
  packages/core-data/src/test/actions.js
  packages/core-data/src/test/entities.js
  packages/core-data/src/test/reducer.js
  packages/core-data/src/test/resolvers.js
  packages/core-data/src/test/selectors.js
  packages/core-data/src/utils/conservative-map-item.js
  packages/core-data/src/utils/is-raw-attribute.js
  packages/core-data/src/utils/test/is-raw-attribute.js
  packages/edit-site/src/store/actions.js
  packages/editor/src/components/entities-saved-states/entity-type-list.js
Labels: [Type] Code Quality, [Package] Core data

#39317 [core-data] Do not suppress errors in the getEntityRecord and getEntityRecords resolvers
  packages/core-data/src/resolvers.js
  packages/editor/src/store/test/actions.js
Labels: [Package] Core data

#39251 [Consistency] Use the word "record" for the entity record TypeScript types
  packages/core-data/src/entity-types/attachment.ts
  packages/core-data/src/entity-types/base-entity-records.ts
  packages/core-data/src/entity-types/comment.ts
  packages/core-data/src/entity-types/helpers.ts
  packages/core-data/src/entity-types/index.ts
  packages/core-data/src/entity-types/menu-location.ts
  packages/core-data/src/entity-types/nav-menu-item.ts
  packages/core-data/src/entity-types/nav-menu.ts
  packages/core-data/src/entity-types/navigation-area.ts
  packages/core-data/src/entity-types/page.ts
  packages/core-data/src/entity-types/plugin.ts
  packages/core-data/src/entity-types/post.ts
  packages/core-data/src/entity-types/settings.ts
  packages/core-data/src/entity-types/sidebar.ts
  packages/core-data/src/entity-types/taxonomy.ts
  packages/core-data/src/entity-types/theme.ts
  packages/core-data/src/entity-types/type.ts
  packages/core-data/src/entity-types/user.ts
  packages/core-data/src/entity-types/widget-type.ts
  packages/core-data/src/entity-types/widget.ts
  packages/core-data/src/entity-types/wp-template-part.ts
  packages/core-data/src/entity-types/wp-template.ts
Labels: [Type] Code Quality, [Package] Core data

#39362 Env: Fix PHP unit tests for "non-standard" cloned directories
  .wp-env.json
  packages/env/lib/build-docker-compose-config.js
Labels: [Type] Bug, [Package] Env

#31716 Flag invalid Navigation Link items.
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation-link/editor.scss
  packages/e2e-tests/specs/editor/blocks/navigation.test.js
Labels: [Block] Navigation

#39325 BaseControl: Add opt-in prop for margin-free styles
  packages/components/CHANGELOG.md
  packages/components/src/base-control/README.md
  packages/components/src/base-control/index.js
  packages/components/src/base-control/stories/index.js
  packages/components/src/base-control/styles/base-control-styles.js
Labels: [Package] Components

#39316 Divider: Improve default behavior when in vertical orientation
  packages/components/CHANGELOG.md
  packages/components/src/divider/stories/index.tsx
  packages/components/src/divider/styles.ts
  packages/components/src/divider/types.ts
Labels: [Type] Enhancement, [Type] Documentation, [Package] Components, Storybook

#39353 Site Editor: Add more template types
  lib/compat/wordpress-5.9/block-template-utils.php
  packages/edit-site/src/components/add-new-template/new-template.js
  packages/icons/src/index.js
  packages/icons/src/library/block-meta.js
  packages/icons/src/library/not-found.js
Labels: Needs Design Feedback, [Feature] Themes, [Feature] Site Editor

#39428 Cover: Use Snackbar to display upload errors
  packages/block-library/src/cover/edit.js
Labels: [Type] Enhancement, [Block] Cover

#38923 Blocks: Remember raw source block for invalid blocks.
  packages/block-editor/src/components/block-list/block.js
  packages/blocks/README.md
  packages/blocks/src/api/index.js
  packages/blocks/src/api/parser/index.js
  packages/blocks/src/api/parser/serialize-raw-block.js
Labels: [Feature] Block API, [Feature] Block Validation/Deprecation, [Type] New API

#38794 Blocks: Deprecate `isValidBlockContent`
  docs/contributors/code/deprecations.md
  packages/block-editor/src/components/block-list/block-html.js
  packages/blocks/README.md
  packages/blocks/src/api/index.js
  packages/blocks/src/api/test/validation.js
  packages/blocks/src/api/validation/index.js
  packages/blocks/src/api/validation/logger.js
  test/integration/is-valid-block.test.js
Labels: [Feature] Block API, [Package] Blocks, [Type] New API

#39262 Drop `composeStateReducers`
  packages/block-editor/src/components/line-height-control/index.js
  packages/components/CHANGELOG.md
  packages/components/src/input-control/reducer/reducer.ts
  packages/components/src/number-control/index.js
  packages/components/src/unit-control/index.tsx
Labels: [Type] Code Quality, [Package] Components

#39440 Add @michalczaplinski to codeowners
  .github/CODEOWNERS
Labels: [Type] Project Management

#39294 Use android artifacts for react-native libraries in react-native-bridge
  packages/react-native-aztec/android/build.gradle
  packages/react-native-bridge/android/build.gradle
  packages/react-native-bridge/android/extractPackageVersion.gradle
  packages/react-native-bridge/android/react-native-bridge/build.gradle
  packages/react-native-bridge/android/settings.gradle
  packages/react-native-editor/android/app/build.gradle
  packages/react-native-editor/android/build.gradle
Labels: Mobile App - i.e. Android or iOS, Mobile App - Automation

#39377 [RN Mobile] - Add helper to wait for screen to load before continuing test
  packages/react-native-editor/__device-tests__/helpers/utils.js
  packages/react-native-editor/__device-tests__/pages/editor-page.js
Labels: Automated Testing, Mobile App - i.e. Android or iOS, Mobile App - Automation

#39320 `UnitControl`: convert Storybook example to TypeScript and Controls
  .eslintrc.js
  package-lock.json
  package.json
  packages/components/src/unit-control/README.md
  packages/components/src/unit-control/index.tsx
  packages/components/src/unit-control/stories/index.js
  packages/components/src/unit-control/stories/index.tsx
  packages/components/src/unit-control/types.ts
  packages/components/src/unit-control/unit-select-control.tsx
  storybook/main.js
Labels: [Type] Documentation, [Type] Code Quality, [Package] Components, [Feature] Component System

#39450 Components: Fixup changelog entry in wrong version
  packages/components/CHANGELOG.md
Labels: [Package] Components

#39354 [RNMobile] Pass the ol start and reversed to native RichText too
  packages/block-editor/src/components/rich-text/index.native.js
Labels: Mobile App - Automation

#39383 [Block Library]: Use `UnitControl` from `components` package in Cover and Search blocks
  packages/block-library/src/cover/edit.js
  packages/block-library/src/search/edit.js
Labels: [Type] Bug, [Feature] UI Components, [Package] Block library, [Block] Cover, [Block] Search

#37934 Fix useFocusFirstElement in non-contenteditable Blocks
  packages/block-editor/src/components/block-list/use-block-props/use-focus-first-element.js
  packages/block-editor/src/components/list-view/block.js
  packages/e2e-tests/specs/editor/various/__snapshots__/writing-flow.test.js.snap
  packages/e2e-tests/specs/editor/various/block-deletion.test.js
  packages/e2e-tests/specs/editor/various/keyboard-navigable-blocks.test.js
  packages/e2e-tests/specs/editor/various/list-view.test.js
  packages/e2e-tests/specs/editor/various/multi-block-selection.test.js
  packages/e2e-tests/specs/editor/various/toolbar-roving-tabindex.test.js
  packages/e2e-tests/specs/editor/various/writing-flow.test.js
Labels: Accessibility (a11y), Needs Accessibility Feedback, [Feature] List View, [Package] Block editor, [a11y] Keyboard & Focus

#39422 Fix center aligned images styles
  lib/block-supports/layout.php
  packages/block-editor/src/layouts/flow.js
  packages/block-library/src/column/block.json
  packages/block-library/src/image/style.scss
Labels: [Type] Bug, [Block] Image

#39183 Block Editor: Introduce block locking UI
  packages/base-styles/_z-index.scss
  packages/block-editor/src/components/block-lock/index.js
  packages/block-editor/src/components/block-lock/menu-item.js
  packages/block-editor/src/components/block-lock/modal.js
  packages/block-editor/src/components/block-lock/style.scss
  packages/block-editor/src/components/block-lock/toolbar.js
  packages/block-editor/src/components/block-settings-menu-controls/index.js
  packages/block-editor/src/components/block-toolbar/index.js
  packages/block-editor/src/components/block-toolbar/style.scss
  packages/block-editor/src/style.scss
  packages/e2e-tests/specs/editor/various/block-locking.test.js
Labels: [Feature] Blocks, [Package] Block editor, [Type] Feature

#39202 Theme Export: Export the whole theme
  lib/compat/wordpress-6.0/block-template-utils.php
  packages/edit-site/src/components/header/more-menu/site-export.js
Labels: [Feature] Themes, [Feature] Site Editor

#39360 Add `@testing-library/user-event` to the project
  docs/contributors/code/testing-overview.md
  package-lock.json
  package.json
  packages/components/CHANGELOG.md
  packages/components/src/input-control/input-field.tsx
  packages/components/src/unit-control/index.tsx
  packages/components/src/unit-control/test/index.js
Labels: [Type] Enhancement, Automated Testing, [Package] Components

#39386 `ColorPalette`: refine custom color button's label
  packages/base-styles/_variables.scss
  packages/block-editor/src/components/color-palette/test/__snapshots__/control.js.snap
  packages/block-editor/src/components/colors-gradients/control.js
  packages/block-editor/src/components/colors-gradients/style.scss
  packages/components/CHANGELOG.md
  packages/components/src/color-palette/index.js
  packages/components/src/color-palette/stories/index.js
  packages/components/src/color-palette/style.scss
  packages/components/src/color-palette/test/__snapshots__/index.js.snap
  packages/components/src/color-palette/test/index.js
  packages/e2e-tests/specs/editor/blocks/heading.test.js
Labels: [Type] Enhancement, [Feature] UI Components, [Package] Components, [Package] Block editor

#39416 Block Title: remove truncate discrimination
  docs/getting-started/create-block/block-anatomy.md
  docs/reference-guides/block-api/block-metadata.md
  docs/reference-guides/block-api/block-registration.md
  packages/block-editor/src/components/block-title/README.md
  packages/block-editor/src/components/block-title/test/index.js
  packages/block-editor/src/components/block-title/use-block-display-title.js
Labels: [Type] Enhancement, [Package] Block editor

#39031 Prevent focus loss after removing a block from List View
  packages/block-editor/src/components/block-settings-menu/block-settings-dropdown.js
  packages/block-editor/src/components/list-view/block.js
  packages/e2e-tests/specs/editor/various/list-view.test.js
Labels: Accessibility (a11y), Needs Accessibility Feedback, [Feature] List View, [Package] Block editor, [a11y] Keyboard & Focus

#39418 Deprecate interface package's preference APIs
  package-lock.json
  packages/data/src/plugins/persistence/index.js
  packages/data/src/plugins/persistence/test/index.js
  packages/interface/package.json
  packages/interface/src/store/actions.js
  packages/interface/src/store/index.js
  packages/interface/src/store/reducer.js
  packages/interface/src/store/selectors.js
  packages/interface/src/store/test/actions.js
  packages/interface/src/store/test/selectors.js
Labels: [Type] Task, [Package] Interface

#39469 } was missing
  packages/block-editor/src/components/link-control/README.md
Labels: [Type] Documentation, First-time Contributor

#39459 Add an empty list block v2
  lib/compat/experimental/blocks.php
  lib/experiments-page.php
  packages/block-library/src/list/index.js
  packages/block-library/src/list/v2/edit.js
  packages/block-library/src/list/v2/index.js
  packages/block-library/src/list/v2/save.js
Labels: [Block] List, [Type] Experimental

#39387 Fix how the Handbook renders the Create your First App with Gutenberg Data tutorial
  docs/how-to-guides/data-basics/1-data-basics-setup.md
  docs/how-to-guides/data-basics/2-building-a-list-of-pages.md
  docs/how-to-guides/data-basics/README.md
  docs/toc.json
Labels: [Type] Documentation

#39348 [RNMobile] Use original repository for some `react-native-editor` dependencies
  package-lock.json
  packages/react-native-bridge/android/react-native-bridge/build.gradle
  packages/react-native-editor/android/app/build.gradle
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS

#39227 Fix Comments blocks pagination
  lib/compat/experimental/blocks.php
Labels: [Type] Bug, First-time Contributor, [Block] Comments Query Loop

#39288 Add an "enabled" option to useEntityRecord and useEntityRecords
  packages/block-library/src/navigation/use-navigation-entities.js
  packages/core-data/src/hooks/use-entity-record.ts
  packages/core-data/src/hooks/use-entity-records.ts
Labels: [Type] Code Quality, [Package] Core data

#39487 Implement the nested block behavior in list block v2
  docs/reference-guides/core-blocks.md
  packages/block-library/src/index.js
  packages/block-library/src/list-item/block.json
  packages/block-library/src/list-item/edit.js
  packages/block-library/src/list-item/index.js
  packages/block-library/src/list-item/save.js
  packages/block-library/src/list/v2/edit.js
  packages/block-library/src/list/v2/save.js
  test/integration/fixtures/blocks/core__list-item.html
  test/integration/fixtures/blocks/core__list-item.json
  test/integration/fixtures/blocks/core__list-item.parsed.json
  test/integration/fixtures/blocks/core__list-item.serialized.html
Labels: [Block] List, [Type] Experimental

#39493 [Patterns]: Load theme patterns only in block and site editor
  lib/compat/wordpress-6.0/block-patterns.php
Labels: [Type] Bug, [Feature] Patterns

#39258 [core-data] throwOnError option for saveEntityRecord and deleteEntityRecord actions
  docs/reference-guides/data/data-core.md
  packages/core-data/CHANGELOG.md
  packages/core-data/README.md
  packages/core-data/src/actions.js
  packages/core-data/src/test/actions.js
  packages/edit-navigation/src/store/actions.js
  packages/edit-post/src/components/header/template-title/delete-template.js
  packages/edit-site/src/components/add-new-template/new-template-part.js
  packages/edit-site/src/components/add-new-template/new-template.js
  packages/edit-site/src/components/list/actions/rename-menu-item.js
  packages/edit-widgets/src/store/actions.js
Labels: [Type] Code Quality, [Package] Core data, Needs Dev Note

#39299 Set $name on WP_Block_Editor_Context
  lib/class-wp-rest-block-editor-settings-controller.php
  lib/full-site-editing/edit-site-page.php
  lib/navigation-page.php
Labels: [Type] Enhancement, [Feature] Extensibility

#39330 Image Block: Move any is-style and custom classnames up to deprecated alignment wrapper
  lib/block-supports/layout.php
  phpunit/block-supports/layout-test.php
Labels: [Type] Bug

#38164 Gallery block: add gap support
  docs/reference-guides/core-blocks.md
  packages/block-library/src/gallery/block.json
  packages/block-library/src/gallery/deprecated.scss
  packages/block-library/src/gallery/edit.js
  packages/block-library/src/gallery/editor.scss
  packages/block-library/src/gallery/gallery.js
  packages/block-library/src/gallery/gap-styles.js
  packages/block-library/src/gallery/index.php
  packages/block-library/src/gallery/style.scss
Labels: [Block] Gallery, Needs Dev Note

#39269 Gallery block: fix image upload bug
  packages/block-library/src/gallery/edit.js
  packages/e2e-tests/specs/editor/blocks/gallery.test.js
Labels: [Type] Bug, [Block] Gallery

#39276 Social Icons: Avoid loss of previously selected background color when switching back from "Logos Only" style
  packages/block-library/CHANGELOG.md
  packages/block-library/src/social-links/edit.js
Labels: [Type] Enhancement, First-time Contributor, [Block] Social

#39514 `Search` block: stop using `UnitControl`'s deprecated `unit` prop
  packages/block-library/src/search/edit.js
Labels: [Type] Code Quality, [Package] Block library, [Block] Search

#39504 `FocalPointPicker`: stop using `UnitControl`'s deprecated `unit` prop
  packages/components/CHANGELOG.md
  packages/components/src/focal-point-picker/controls.js
Labels: [Type] Enhancement, [Package] Components, [Feature] Component System

#39537 BlockSettingsMenuControls: Don't render empty MenuGroup
  packages/block-editor/src/components/block-settings-menu-controls/index.js
Labels: [Type] Bug, [Feature] Blocks, [Package] Block editor

#39424 Optimize block parser by avoiding repeated HTML parsing and matcher creation
  package-lock.json
  packages/block-editor/src/hooks/anchor.js
  packages/blocks/README.md
  packages/blocks/package.json
  packages/blocks/src/api/parser/fix-custom-classname.js
  packages/blocks/src/api/parser/get-block-attributes.js
Labels: [Feature] Parsing, [Type] Performance

#39389 Packages: Finalize the revised strategy for npm publishing
  .github/workflows/build-plugin-zip.yml
  .github/workflows/create-block.yml
  .github/workflows/upload-release-to-plugin-repo.yml
  bin/plugin/commands/packages.js
  docs/contributors/code/release.md
Labels: npm Packages, [Type] Project Management

#39542 [List v2]: Simple list item splitting/merging
  packages/block-library/src/list-item/edit.js
  packages/block-library/src/list-item/index.js
Labels: [Package] Block library, [Type] Experimental

#39494 Add id prop to ListView
  packages/block-editor/src/components/list-view/index.js
Labels: [Feature] List View

#39541 Blocks: Disable Grouping when block removal is locked
  packages/block-editor/src/components/block-settings-menu-controls/index.js
Labels: [Type] Bug, [Feature] Block Conversion, [Package] Block editor

#39430 [RNMobile] Update `react-native-reanimated` version to `2.4.1`
  package-lock.json
  packages/react-native-bridge/android/react-native-bridge/src/main/java/org/wordpress/mobile/WPAndroidGlue/WPAndroidGlueCode.java
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS

#39089 [Mobile] - Drag & drop blocks - Fetch and share blocks layout size and position coordinates
  packages/block-editor/src/components/block-list/block-list-context.native.js
  packages/block-editor/src/components/block-list/block-list-item-cell.native.js
  packages/block-editor/src/components/block-list/index.native.js
  packages/block-editor/src/components/block-list/test/block-list-context.native.js
  packages/block-editor/src/components/block-list/test/fixtures/block-list-context.native.js
Labels: Mobile App - i.e. Android or iOS, Mobile App - Automation

#39498 Add Navigation menu to known entities
  packages/core-data/src/entities.js
Labels: [Package] Core data

#39511 `BoxControl`: stop using `UnitControl`'s deprecated `unit` prop
  packages/components/CHANGELOG.md
  packages/components/src/box-control/all-input-control.js
  packages/components/src/box-control/axial-input-controls.js
  packages/components/src/box-control/input-controls.js
  packages/components/src/box-control/utils.js
Labels: [Type] Enhancement, [Package] Components, [Feature] Component System

#39532 Flex Layout: Fix visibility control of allowOrientation
  packages/block-editor/src/layouts/flex.js
Labels: [Type] Bug, [Feature] Design Tools

#39528 Embeds: Update the Wolfram embed name
  packages/block-library/src/embed/variations.js
Labels: [Block] Embed
