Repository WordPress/gutenberg, pull requests merged in 2022-06, with the labels that each got.

#41389 Upgrade Playwright and use the official role selector engine
  package-lock.json
  package.json
  packages/e2e-test-utils-playwright/package.json
  packages/e2e-test-utils-playwright/src/index.ts
  packages/e2e-test-utils-playwright/tsconfig.json
  test/e2e/README.md
Labels: Automated Testing

#41457 [Block Editor]: Fix block variation registration when `icon` is an `object` and contains `transform` scope
  packages/block-editor/src/components/block-variation-transforms/index.js
Labels: [Type] Bug, [Package] Block editor, [Feature] Block Variations

#41461 ColorPalette: Update label correctly when value is CSS variable
  packages/components/CHANGELOG.md
  packages/components/src/color-palette/index.js
  packages/components/src/color-palette/stories/index.js
  packages/components/src/color-palette/test/utils.ts
Labels: [Type] Bug, [Package] Components

#41483 Fixed failing DateTimePicker Unit test.
  packages/components/src/date-time/date/test/index.tsx
Labels: [Type] Bug, [Package] Components

#41488 Post sidebar: use flex-start to align items
  packages/edit-post/src/components/sidebar/post-schedule/style.scss
  packages/edit-post/src/components/sidebar/post-visibility/style.scss
Labels: [Type] Bug, General Interface, CSS Styling

#41367 RNMobile - Update clicks to use clickIfClickable() when possible
  packages/react-native-editor/__device-tests__/gutenberg-editor-block-insertion-2.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-image-@canary.test.js
  packages/react-native-editor/__device-tests__/helpers/utils.js
  packages/react-native-editor/__device-tests__/pages/editor-page.js
Labels: Mobile App - i.e. Android or iOS, Mobile App - Automation

#41482 [RNMobile] Bump `react-native-reanimated` version to `2.4.1-wp-3`
  package-lock.json
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: [Type] Bug, Mobile App - i.e. Android or iOS

#41470 Components: refactor `DateDayPicker` to pass `exhaustive-deps`
  packages/components/CHANGELOG.md
  packages/components/src/date-time/date/index.tsx
Labels: [Type] Code Quality, [Package] Components, [Feature] Component System

#41216 Rewrite `<FormTokenField>` to functional component and Typescript.
  packages/components/CHANGELOG.md
  packages/components/src/form-token-field/index.js
  packages/components/src/form-token-field/index.tsx
  packages/components/src/form-token-field/stories/index.js
  packages/components/src/form-token-field/stories/index.tsx
  packages/components/src/form-token-field/suggestions-list.tsx
  packages/components/src/form-token-field/test/index.js
  packages/components/src/form-token-field/test/lib/token-field-wrapper.tsx
  packages/components/src/form-token-field/token-input.js
  packages/components/src/form-token-field/token-input.tsx
  packages/components/src/form-token-field/token.tsx
  packages/components/src/form-token-field/types.ts
  packages/components/tsconfig.json
  typings/dom-scroll-into-view/index.d.ts
Labels: [Type] Code Quality, [Package] Components

#41498 Mobile Release v1.76.3
  packages/react-native-editor/CHANGELOG.md
Labels: Mobile App - i.e. Android or iOS

#40987 Style engine: elements backend support
  lib/block-supports/elements.php
  packages/style-engine/class-wp-style-engine.php
  packages/style-engine/phpunit/class-wp-style-engine-test.php
Labels: [Status] In Progress, [Type] Experimental, [Package] Style Engine

#41524 Tooltip: Fix jitter at edge of screen by enabling __unstableShift
  packages/components/CHANGELOG.md
  packages/components/src/tooltip/index.js
Labels: [Type] Bug, [Feature] UI Components, [Package] Components

#41497 Mobile Release v1.77.1
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS

#41529 Mobile - Skip some of the Drag & Drop E2E on iOS
  packages/react-native-editor/__device-tests__/gutenberg-editor-drag-and-drop.test.js
Labels: Mobile App - i.e. Android or iOS

#41235 Entity-aware type signature for getEntityRecord and getEntityRecords
  docs/reference-guides/data/data-core.md
  packages/core-data/README.md
  packages/core-data/src/entity-types/index.ts
  packages/core-data/src/selectors.ts
Labels: [Type] Code Quality, [Package] Core data, Developer Experience

#41496 Avoid including null values in blocks list
  packages/block-library/src/index.js
Labels: [Type] Regression, First-time Contributor, Storybook

#41504 Block-Editor: Add tooltip on replace image's URL
  packages/block-editor/src/components/media-replace-flow/index.js
Labels: [Type] Enhancement, [Feature] Media, Needs Design Feedback, [Package] Block editor, First-time Contributor

#41522 Docs: feature flag refresh
  docs/how-to-guides/feature-flags.md
Labels: [Type] Documentation

#41561 Style engine: allow for zero values for CSS properties in the style engine
  packages/style-engine/class-wp-style-engine.php
  packages/style-engine/phpunit/class-wp-style-engine-test.php
Labels: [Type] Bug, [Type] Experimental, [Package] Style Engine

#41563 Testing: Remove snapshot from Post Editor Template Mode test and target expected string instead
  test/e2e/specs/editor/various/__snapshots__/Post-Editor-Template-mode-Allow-creating-custom-block-templates-in-classic-themes-1-chromium.txt
  test/e2e/specs/editor/various/post-editor-template-mode.spec.js
Labels: Automated Testing, [Type] Code Quality

#41566 Add label to Preview options dropdown menu
  packages/block-editor/src/components/preview-options/index.js
Labels: [Type] Enhancement, Accessibility (a11y), [a11y] Labelling

#41102 Cover: Move overlay and opacity controls to color panel
  packages/block-editor/src/components/index.js
  packages/block-library/src/cover/edit/inspector-controls.js
  packages/block-library/src/cover/editor.scss
Labels: [Type] Enhancement, [Block] Cover, [Feature] Design Tools

#41569 Webfonts: increase priority of init hook to account for block reregistration
  lib/experimental/register-webfonts-from-theme-json.php
Labels: [Type] Bug, [Feature] Design Tools, [Feature] Webfonts

#41570 Schema: Fix typo in block schema description
  schemas/json/block.json
Labels: [Feature] Block API, [Type] Documentation

#41393 File, Search Blocks: Lower CSS specificity
  packages/block-library/src/file/style.scss
  packages/block-library/src/search/style.scss
Labels: [Block] File, [Feature] Themes, [Block] Search

#41568 RadioControl: Convert component to TypeScript
  packages/components/CHANGELOG.md
  packages/components/src/radio-control/README.md
  packages/components/src/radio-control/index.js
  packages/components/src/radio-control/index.tsx
  packages/components/src/radio-control/stories/index.js
  packages/components/src/radio-control/stories/index.tsx
  packages/components/src/radio-control/types.ts
  packages/components/tsconfig.json
Labels: [Type] Enhancement, [Feature] UI Components, [Type] Code Quality, [Package] Components

#41538 Writing flow: Fix focus trap on certain input types
  packages/block-editor/CHANGELOG.md
  packages/block-editor/src/components/writing-flow/test/index.js
  packages/block-editor/src/components/writing-flow/use-arrow-nav.js
Labels: Accessibility (a11y), [Feature] Writing Flow, [Package] Block editor, [a11y] Keyboard & Focus

#41507 Components: refactor `Flex` to pass `exhaustive-deps`
  packages/components/CHANGELOG.md
  packages/components/src/flex/flex/hook.js
Labels: [Type] Code Quality, [Package] Components, [Feature] Component System

#41460 Adds placeholder when feature image is in use
  packages/block-library/src/cover/edit/index.js
  packages/block-library/src/cover/editor.scss
Labels: [Type] Enhancement, Needs Design Feedback, [Block] Cover

#41536 TreeSelect Convert to Typescript.
  packages/components/CHANGELOG.md
  packages/components/src/select-control/stories/index.tsx
  packages/components/src/tree-select/README.md
  packages/components/src/tree-select/index.js
  packages/components/src/tree-select/index.tsx
  packages/components/src/tree-select/stories/index.js
  packages/components/src/tree-select/stories/index.tsx
  packages/components/src/tree-select/types.ts
  packages/components/tsconfig.json
Labels: [Type] Code Quality, [Package] Components, [Feature] Component System

#41463 Components: refactor `CustomGradientBar` to pass `exhaustive-deps`
  packages/components/CHANGELOG.md
  packages/components/src/custom-gradient-bar/control-points.js
Labels: [Type] Code Quality, [Package] Components, [Feature] Component System

#41505 Components: refactor`Dropdown` to pass `exhaustive-deps`
  packages/components/CHANGELOG.md
  packages/components/src/dropdown/index.js
Labels: [Type] Code Quality, [Package] Components, [Feature] Component System

#41499 Components: refactor`Draggable` to pass `exhaustive-deps`
  packages/components/CHANGELOG.md
  packages/components/src/draggable/index.native.js
Labels: [Type] Code Quality, [Package] Components, [Feature] Component System

#41585 Storybook: Update to the version 6.5
  package-lock.json
  package.json
Labels: Storybook

#41595 [TypeScript] Add default context types to Entity Records in core-data
  packages/core-data/src/entity-types/attachment.ts
  packages/core-data/src/entity-types/comment.ts
  packages/core-data/src/entity-types/menu-location.ts
  packages/core-data/src/entity-types/nav-menu-item.ts
  packages/core-data/src/entity-types/nav-menu.ts
  packages/core-data/src/entity-types/page.ts
  packages/core-data/src/entity-types/plugin.ts
  packages/core-data/src/entity-types/post.ts
  packages/core-data/src/entity-types/settings.ts
  packages/core-data/src/entity-types/sidebar.ts
  packages/core-data/src/entity-types/taxonomy.ts
  packages/core-data/src/entity-types/theme.ts
  packages/core-data/src/entity-types/type.ts
  packages/core-data/src/entity-types/user.ts
  packages/core-data/src/entity-types/widget-type.ts
  packages/core-data/src/entity-types/widget.ts
  packages/core-data/src/entity-types/wp-template-part.ts
  packages/core-data/src/entity-types/wp-template.ts
Labels: [Package] Core data, Developer Experience

#40531 Style Engine: add border to backend
  lib/block-supports/border.php
  packages/style-engine/README.md
  packages/style-engine/class-wp-style-engine.php
  packages/style-engine/phpunit/class-wp-style-engine-test.php
  phpunit/block-supports/border-test.php
Labels: [Status] In Progress, [Type] Experimental, CSS Styling, [Package] Style Engine

#41362 Extract header used in PostVisibility and PublishDateTimePicker to a new InspectorPopoverHeader component
  packages/block-editor/src/components/index.js
  packages/block-editor/src/components/inspector-popover-header/README.md
  packages/block-editor/src/components/inspector-popover-header/index.js
  packages/block-editor/src/components/inspector-popover-header/style.scss
  packages/block-editor/src/components/publish-date-time-picker/README.md
  packages/block-editor/src/components/publish-date-time-picker/index.js
  packages/block-editor/src/components/publish-date-time-picker/style.scss
  packages/block-editor/src/style.scss
  packages/e2e-tests/specs/editor/various/datepicker.test.js
  packages/edit-post/src/components/sidebar/post-visibility/style.scss
  packages/editor/src/components/post-visibility/index.js
  packages/editor/src/components/post-visibility/style.scss
Labels: [Feature] Document Settings, [Type] Code Quality

#41600 Components: refactor `FontSizePicker` to pass `exhaustive-deps`
  packages/components/CHANGELOG.md
  packages/components/src/font-size-picker/index.js
Labels: [Type] Code Quality, [Package] Components, [Feature] Component System

#41624 Lodash: Refactor away from `_.isUndefined()`
  packages/block-library/src/latest-posts/edit.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Block library, [Block] Latest Posts

#41626 Lodash: Refactor `SlotComponent` away from `_.negate()`
  packages/components/src/slot-fill/slot.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Components

#41615 edit-post/sidebar/template: Fix lack of context on action buttons and improve A11Y
  packages/edit-post/src/components/sidebar/template/actions.js
  test/e2e/specs/editor/various/post-editor-template-mode.spec.js
Labels: [Type] Bug, Accessibility (a11y), Needs Accessibility Feedback, Good First Review, [Package] Edit Post, [a11y] Labelling

#41605 Placeholder: Add an illustration option to the Placeholder component
  packages/block-library/src/cover/edit/index.js
  packages/block-library/src/cover/editor.scss
  packages/block-library/src/post-featured-image/edit.js
  packages/block-library/src/post-featured-image/editor.scss
  packages/block-library/src/site-logo/edit.js
  packages/block-library/src/site-logo/editor.scss
  packages/components/src/placeholder/README.md
  packages/components/src/placeholder/index.js
  packages/components/src/placeholder/style.scss
Labels: [Package] Components

#41493 [RNMobile] Add 'Insert from URL' option to Video block
  packages/block-editor/src/components/media-upload/index.native.js
  packages/block-library/src/video/edit.native.js
  packages/react-native-editor/CHANGELOG.md
Labels: Mobile App - i.e. Android or iOS

#41472 AnglePickerControl: Use NumberControl as input field
  packages/components/CHANGELOG.md
  packages/components/src/angle-picker-control/index.js
Labels: [Type] Enhancement, [Feature] UI Components, [Package] Components

#41556 FormTokenField: Added Padding to resolve close button overlap issue
  packages/components/CHANGELOG.md
  packages/components/src/form-token-field/style.scss
Labels: [Type] Bug, [Package] Components

#41633 Lodash: Refactor away from `_.sum()`
  packages/e2e-tests/specs/performance/post-editor.test.js
Labels: [Type] Performance, [Type] Code Quality, [Package] E2E Tests

#41635 Lodash: Refactor away from `_.findIndex`
  packages/components/src/mobile/bottom-sheet/cycle-picker-cell.native.js
Labels: [Type] Performance, [Type] Code Quality, Mobile App - i.e. Android or iOS, [Package] Components

#41487 Add utility classnames back to blocks that have layout attributes specified
  lib/block-supports/layout.php
  packages/block-editor/src/hooks/layout.js
Labels: CSS Styling, Backport to WP Minor Release

#41476 Adds featured image toggle to media replace flow
  packages/block-editor/src/components/media-replace-flow/index.js
  packages/block-library/src/cover/edit/block-controls.js
Labels: [Type] Enhancement, [Feature] Media, [Block] Cover

#41631 Comment Author and Date blocks: aligned editor markup with the frontend
  packages/block-library/src/comment-author-name/edit.js
  packages/block-library/src/comment-date/edit.js
Labels: [Type] Code Quality, Backport to WP Minor Release, [Block] Comment Author, [Block] Comment Date

#41630 [Full Site Editing]: Include theme's templates in template list in post editor
  lib/compat/wordpress-6.1/wp-theme-get-post-templates.php
Labels: [Type] Regression, [Feature] Full Site Editing, [Feature] Template Editing Mode

#41634 Lodash: Refactor away from `_.random()`
  packages/e2e-tests/specs/editor/various/taxonomies.test.js
Labels: [Type] Performance, [Type] Code Quality, [Package] E2E Tests

#41632 Lodash: Refactor `useArrowNav()` away from `_.reverse()` and `_.find()`
  packages/block-editor/src/components/writing-flow/use-arrow-nav.js
Labels: [Type] Performance, [Feature] Writing Flow, [Type] Code Quality, [Package] Block editor

#41625 Lodash: Refactor away from `_.stubTrue` and `_.stubFalse`
  packages/blocks/src/api/parser/apply-block-deprecated-versions.js
  packages/blocks/src/api/validation/index.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Blocks, [Feature] Block Validation/Deprecation

#41591 Theme variations UI: ensure that equality check takes into account all default theme properties
  packages/edit-site/src/components/global-styles/screen-style-variations.js
Labels: [Type] Bug, General Interface, [Feature] Site Editor

#41629 Lodash: Refactor away from `_.differenceWith()` in the inserter
  packages/block-editor/src/components/inserter/search-items.js
Labels: [Feature] Inserter, [Type] Performance, [Type] Code Quality, [Package] Block editor

#41593 [TypeScript] Improve type definitions in @wordpress/core-data
  packages/core-data/src/entities.ts
  packages/core-data/src/entity-types/entities.ts
  packages/core-data/src/entity-types/index.ts
  packages/core-data/src/hooks/use-entity-record.ts
  packages/core-data/src/selectors.ts
Labels: [Package] Core data, Developer Experience

#41658 Draggable: add clarifying inline comment after the recent hook dependency changes
  packages/components/src/draggable/index.native.js
Labels: [Type] Code Quality, [Package] Components, [Feature] Component System

#41651 ESLint: Restrict removed Lodash functions
  .eslintrc.js
Labels: [Type] Enhancement, [Type] Code Quality

#41652 Lodash: Refactor away from `_.isArray()`
  .eslintrc.js
  packages/block-editor/src/components/list-view/utils.js
  packages/block-editor/src/store/selectors.js
  packages/blocks/src/api/registration.js
  packages/blocks/src/api/templates.js
  packages/components/src/button/index.native.js
  packages/edit-post/src/components/block-manager/index.js
  packages/editor/src/components/theme-support-check/index.js
  packages/element/src/utils.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Element, [Package] Components, [Package] Blocks, [Package] Editor, [Package] Block editor, [Package] Edit Post

#41454 Filters hidden blocks to only count those which are still registered
  packages/edit-post/src/components/block-manager/index.js
Labels: [Type] Bug, [Package] Preferences

#41675 Bump caniuse-lite version
  package-lock.json
  packages/dependency-extraction-webpack-plugin/test/__snapshots__/build.js.snap
  packages/readable-js-assets-webpack-plugin/test/__snapshots__/build.js.snap
Labels: [Type] Build Tooling

#41653 Lodash: Refactor away from `_.concat()`
  .eslintrc.js
  packages/block-library/src/gallery/edit.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Block library, [Block] Gallery

#41654 Lodash: Refactor away from `_.dropRight()`
  .eslintrc.js
  packages/block-library/src/columns/edit.js
  packages/block-library/src/columns/edit.native.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Block library, [Block] Columns

#41650 Mobile Release v1.78.0
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS

#41672 Lodash: Refactor away from `_.isFinite()`
  .eslintrc.js
  packages/block-library/src/paragraph/deprecated.js
  packages/components/src/range-control/index.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Components, [Package] Block library, [Block] Paragraph

#41688 Lodash: Refactor away from `_.sumBy()`
  .eslintrc.js
  packages/block-library/src/columns/utils.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Block library

#41689 Block CSS: Move CSS from the stylesheet to the block definition
  packages/block-library/src/audio/block.json
  packages/block-library/src/audio/style.scss
  packages/block-library/src/embed/block.json
  packages/block-library/src/embed/style.scss
  packages/block-library/src/image/block.json
  packages/block-library/src/image/style.scss
  packages/block-library/src/table/block.json
  packages/block-library/src/table/style.scss
  packages/block-library/src/video/block.json
  packages/block-library/src/video/style.scss
Labels: [Block] Embed, [Block] Image, [Block] Table, [Block] Video, [Block] Archives, Global Styles

#41112 Inserter: Adds CTA and external link to block inserter flow
  packages/block-directory/src/components/downloadable-blocks-panel/no-results.js
Labels: [Type] Enhancement, [Feature] Inserter, Needs Design Feedback, Needs Design, [Feature] Block Directory

#41687 URL: Remove all of Lodash from the package
  package-lock.json
  packages/url/package.json
  packages/url/src/clean-for-slug.js
  packages/url/src/test/index.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Url

#41692 Lodash: Refactor away from `_.take()`
  .eslintrc.js
  packages/block-editor/src/components/link-control/test/fixtures/index.js
  packages/components/src/form-token-field/index.tsx
  packages/components/src/mobile/segmented-control/index.native.js
Labels: [Type] Performance, [Type] Code Quality, Mobile App - i.e. Android or iOS, [Package] Components, [Package] Block editor

#41703 Lodash: Refactor away from `_.isFunction()`
  .eslintrc.js
  package-lock.json
  packages/block-editor/src/components/link-control/search-create-button.js
  packages/block-editor/src/components/url-input/index.js
  packages/blocks/src/api/raw-handling/utils.js
  packages/blocks/src/api/utils.js
  packages/blocks/src/store/actions.js
  packages/components/src/dimension-control/index.js
  packages/components/src/dropdown-menu/index.js
  packages/components/src/dropdown-menu/index.native.js
  packages/components/src/higher-order/with-spoken-messages/test/index.js
  packages/components/src/navigable-container/container.js
  packages/components/src/slot-fill/fill.js
  packages/components/src/slot-fill/slot.js
  packages/components/src/toggle-control/index.js
  packages/components/src/toggle-control/index.native.js
  packages/core-data/src/batch/create-batch.js
  packages/plugins/src/api/index.js
  packages/reusable-blocks/package.json
  packages/reusable-blocks/src/store/actions.js
Labels: [Type] Performance, [Feature] Reusable Blocks, [Type] Code Quality, [Package] Core data, [Package] Plugins, [Package] Components, [Package] Blocks, [Package] Block editor

#41690 [Block Library - Query Loop]: Render `replace` button only if eligible patterns exist
  packages/block-editor/src/components/block-pattern-setup/index.js
  packages/block-library/src/query/edit/index.js
  packages/block-library/src/query/edit/query-toolbar.js
Labels: [Type] Bug, [Package] Block library, [Block] Query Loop

#41378 Post Navigation Link: add design controls (color, text decoration, and font family)
  docs/reference-guides/core-blocks.md
  packages/block-library/src/post-navigation-link/block.json
Labels: [Block] Post Navigation Link

#41706 Lodash: Refactor away from `_.defaultTo()`
  .eslintrc.js
  packages/customize-widgets/src/components/sidebar-block-editor/index.js
  packages/edit-widgets/src/components/widget-areas-block-editor-provider/index.js
  packages/editor/src/components/provider/use-block-editor-settings.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Editor, [Package] Edit Widgets, [Feature] Widgets Customizer

#41710 Update testing-library deps to latest version
  package-lock.json
  package.json
Labels: Framework, [Type] Build Tooling, Automated Testing

#41685 [RNMobile] Fix missing translations for locales that include region (only on Android)
  packages/react-native-editor/src/setup-locale.js
Labels: [Type] Bug, Mobile App - i.e. Android or iOS, Mobile App - Automation

#41701 Lodash: Refactor away from `_.isObjectLike()`
  .eslintrc.js
  packages/blocks/src/api/factory.js
  packages/core-data/src/utils/with-weak-map-cache.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Core data, [Package] Blocks

#41604 Components: limit `Dropdown` cleanup to renders where the menu has actually been opened
  packages/components/CHANGELOG.md
  packages/components/src/dropdown/index.js
Labels: [Type] Code Quality, [Package] Components, [Feature] Component System

#41533 [RNMobile] Gallery block: Re-introduce `v1`
  packages/block-library/src/gallery/shared.js
Labels: [Type] Bug, Mobile App - i.e. Android or iOS, [Block] Gallery, Mobile App - Automation

#41719 Lodash: Remove from plugins package
  package-lock.json
  packages/plugins/package.json
  packages/plugins/src/components/plugin-area/index.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Plugins

#41657 Clarify updateNavigationLinkBlockAttributes
  packages/block-library/src/navigation-link/edit.js
Labels: [Block] Navigation Link, Developer Experience

#41702 Lodash: Refactor away from `_.trim()`
  .eslintrc.js
  package-lock.json
  packages/block-library/package.json
  packages/block-library/src/heading/autogenerate-anchors.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Block library

#41681 ExternalLink: Convert component to TypeScript
  packages/components/CHANGELOG.md
  packages/components/src/external-link/README.md
  packages/components/src/external-link/index.tsx
  packages/components/src/external-link/stories/index.js
  packages/components/src/external-link/stories/index.tsx
  packages/components/src/external-link/styles/external-link-styles.ts
  packages/components/src/external-link/types.ts
  packages/components/tsconfig.json
Labels: [Type] Enhancement, [Feature] UI Components, [Type] Code Quality, [Package] Components

#41694 ZStack: Convert component story to TypeScript and add inline docs
  packages/components/CHANGELOG.md
  packages/components/src/z-stack/README.md
  packages/components/src/z-stack/component.tsx
  packages/components/src/z-stack/stories/index.js
  packages/components/src/z-stack/stories/index.tsx
  packages/components/src/z-stack/types.ts
Labels: [Type] Code Quality, [Package] Components

#41647 Highlight today's date in DatePicker
  packages/components/src/date-time/date/style.scss
Labels: [Type] Enhancement, [Feature] Document Settings, Needs Design Feedback

#41521 Plural has been used instead of single in 1st parameter
  packages/block-library/src/comments-title/edit.js
  packages/block-library/src/comments-title/index.php
Labels: First-time Contributor, [Block] Comments Title

#41731 Lodash: Refactor away from `_.each()`
  .eslintrc.js
  packages/block-library/src/image/utils.js
  packages/components/src/form-token-field/index.tsx
  packages/components/src/navigable-container/test/menu.js
  packages/components/src/navigable-container/test/tabbable.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Components, [Package] Block library, [Block] Gallery

#41737 Components: Fix `ComboboxControl` post-reset focus
  packages/components/src/combobox-control/index.js
Labels: [Type] Bug, [Package] Components, [Priority] Normal

#41668 `Navigation`: add controlled unit test, use modern Testing Library features
  packages/components/CHANGELOG.md
  packages/components/src/navigation/stories/controlled-state.js
  packages/components/src/navigation/test/index.js
Labels: Automated Testing, [Package] Components, [Feature] Component System

#41354 Block Library: Fix JS Error in Avatar Block
  packages/block-library/src/avatar/hooks.js
Labels: [Type] Bug, [Status] In Progress, [Package] Block library, First-time Contributor, [Block] Avatar

#41139 Split useNavigationMenu into bite-size functions and add unit tests
  packages/block-library/src/navigation/test/use-navigation-menu.js
  packages/block-library/src/navigation/use-navigation-menu.js
  packages/e2e-tests/specs/editor/blocks/navigation.test.js
Labels: [Block] Navigation, Developer Experience

#41745 Components: add missing CHANGELOG entry
  packages/components/CHANGELOG.md
Labels: [Type] Documentation, [Package] Components

#41742 Cover Block: Move components to variables so they can be shared
  packages/block-library/src/cover/edit/index.js
Labels: [Block] Cover

#41648 Make date picker respect site's 'Week Starts On' setting
  lib/compat/wordpress-6.1/date-settings.php
  lib/load.php
  packages/block-editor/src/components/publish-date-time-picker/index.js
  packages/components/src/date-time/README.md
  packages/components/src/date-time/date-time/index.tsx
  packages/components/src/date-time/date/index.tsx
  packages/components/src/date-time/types.ts
  packages/date/src/index.js
Labels: [Type] Bug, [Feature] Document Settings, [Package] Components

#41754 Fix link to "Good First Review" issues in README
  docs/contributors/code/README.md
Labels: [Type] Documentation, Good First Review, First-time Contributor

#41721 [Block editor]: Remove `startBlankComponent` from __experimentalBlockPatternSetup
  packages/block-editor/src/components/block-pattern-setup/index.js
  packages/block-editor/src/components/block-pattern-setup/setup-toolbar.js
Labels: [Type] Code Quality, [Package] Block editor

#41733 Lodash: Refactor away from `_.flatten()`
  .eslintrc.js
  packages/edit-post/src/store/selectors.js
  packages/editor/src/components/page-attributes/parent.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Editor, [Package] Edit Post

#41735 Lodash: Refactor away from `_.clamp()`
  .eslintrc.js
  packages/components/src/focal-point-picker/index.native.js
  packages/components/src/range-control/index.js
  packages/components/src/range-control/utils.js
  packages/components/src/utils/math.js
  packages/components/src/utils/test/math.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Components

#41678 Set Default state to media library for library button in image block
  packages/block-editor/src/components/media-placeholder/index.js
  packages/block-editor/src/components/media-upload/README.md
  packages/media-utils/src/components/media-upload/index.js
Labels: [Feature] Media, [Package] Components

#41763 serializeBlock fix ESLint warning
  packages/blocks/src/api/serializer.js
Labels: [Type] Task, [Package] Blocks

#41753 Elements: Add an API make it easier to get class names
  lib/compat/wordpress-6.1/class-wp-theme-json-6-1.php
  packages/block-editor/src/elements/index.js
  packages/block-editor/src/elements/test/index.js
  packages/block-library/src/button/edit.js
  packages/block-library/src/button/save.js
  packages/block-library/src/file/edit.js
  packages/block-library/src/file/save.js
  packages/block-library/src/post-comments-form/form.js
  packages/block-library/src/post-comments-form/index.php
  packages/block-library/src/post-comments/index.php
  packages/block-library/src/search/edit.js
  packages/block-library/src/search/index.php
  phpunit/class-wp-theme-json-test.php
Labels: [Type] Enhancement, [Type] Code Quality, Needs Technical Feedback, [Block] Buttons, Developer Experience

#41705 Lodash: Refactor away from `_.keys()`
  .eslintrc.js
  bin/api-docs/gen-block-lib-list.js
  bin/api-docs/gen-theme-reference.js
  packages/block-editor/src/store/reducer.js
  packages/editor/src/store/reducer.js
  packages/nux/src/store/selectors.js
Labels: [Type] Performance, [Type] Code Quality, [Package] NUX, [Package] Editor, [Package] Block editor

#41380 Refactor preview e2e tests to use Playwright.
  packages/e2e-test-utils-playwright/src/editor/index.ts
  packages/e2e-test-utils-playwright/src/editor/publish-post.ts
  packages/e2e-tests/specs/editor/various/preview.test.js
  test/e2e/specs/editor/various/preview.spec.js
Labels: Automated Testing

#41589 Add supports to basic sample code.
  docs/reference-guides/block-api/block-deprecation.md
Labels: First-time Contributor

#38785 Add __experimentalUseResourcePermissions
  packages/block-library/src/navigation/test/use-navigation-menu.js
  packages/block-library/src/navigation/use-navigation-menu.js
  packages/core-data/src/hooks/test/use-resource-permissions.js
  packages/core-data/src/hooks/use-resource-permissions.ts
  packages/core-data/src/index.js
  packages/e2e-tests/specs/editor/blocks/navigation.test.js
Labels: [Package] Core data, [Type] New API, Developer Experience

#41421 `InputControl`: Add tests and update to use @testing-library/user-event
  packages/components/CHANGELOG.md
  packages/components/src/input-control/test/index.js
Labels: Automated Testing, [Type] Code Quality, [Package] Components

#41734 Columns block: Change title of one third/two thirds column variation to 66/33
  packages/block-library/src/columns/variations.js
Labels: [Block] Columns

#41766 BlockPreview: Fix 'Infinity' is invalid 'minHeight' value warning
  packages/block-editor/src/components/block-preview/auto.js
Labels: [Type] Bug, [Package] Block editor

#41767 Mobile Release v1.78.1
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS

#41776 Lodash: Refactor away from `_.isNumber()`
  .eslintrc.js
  packages/annotations/src/store/reducer.js
  packages/components/src/box-control/utils.js
  packages/element/src/utils.js
  packages/shortcode/src/index.js
Labels: [Type] Performance, [Feature] Shortcodes, [Type] Code Quality, [Package] Element, [Package] Components, [Feature] Annotations

#41193 Fix PHP 8.1 deprecation in the gallery block
  packages/block-library/src/gallery/index.php
Labels: [Type] Bug

#41693 Fixed issue of background min height
  packages/block-library/src/cover/index.php
Labels: [Type] Bug, [Block] Cover

#41782 Lodash: Refactor away from `_.toString()`
  .eslintrc.js
  packages/block-library/src/gallery/transforms.js
  packages/block-library/src/gallery/v1/edit.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Block library, [Block] Gallery

#41775 Only use the post-title if the featured image is a link
  packages/block-library/src/post-featured-image/index.php
Labels: [Type] Bug, [Block] Post Featured Image

#41540 Spinner: Convert component to TypeScript
  packages/components/CHANGELOG.md
  packages/components/src/spinner/index.tsx
  packages/components/src/spinner/stories/index.js
  packages/components/src/spinner/stories/index.tsx
  packages/components/src/spinner/styles.ts
  packages/editor/src/components/post-publish-panel/test/__snapshots__/index.js.snap
Labels: [Type] Enhancement, [Package] Components, [Feature] Component System

#41603 Post Comments Form: Add button that enables commenting to warning
  packages/block-library/src/post-comments-form/edit.js
  packages/block-library/src/post-comments-form/editor.scss
Labels: [Block] Post Comments Form

#41646 ColorPicker: Remove horizontal scrollbar when using HSL or RGB color input types
  packages/components/CHANGELOG.md
  packages/components/src/color-picker/component.tsx
  packages/components/src/color-picker/input-with-slider.tsx
  packages/components/src/color-picker/styles.ts
Labels: [Type] Bug, [Feature] UI Components, [Package] Components, [Feature] Design Tools

#41779 Block Library (Avatar Block): Remove Unnecessary '&& check' as 'optional chaining (authorDetails?.avatar_urls) check' is already used
  packages/block-library/src/avatar/hooks.js
Labels: [Type] Code Quality, First-time Contributor, [Block] Avatar

#41427 E2E Tests: Migrate style variations tests to Playwright
  .wp-env.json
  packages/e2e-test-utils-playwright/src/editor/site-editor.ts
  packages/e2e-test-utils-playwright/src/request-utils/themes.ts
  packages/e2e-tests/specs/site-editor/style-variations.test.js
  packages/edit-site/src/components/global-styles/context-menu.js
  packages/edit-site/src/components/global-styles/palette.js
  packages/edit-site/src/components/global-styles/screen-block-list.js
  packages/edit-site/src/components/global-styles/screen-colors.js
  packages/edit-site/src/components/global-styles/screen-root.js
  packages/edit-site/src/components/global-styles/screen-typography.js
  test/e2e/specs/site-editor/style-variations.spec.js
  test/gutenberg-test-themes/style-variations/block-templates/index.html
  test/gutenberg-test-themes/style-variations/index.php
  test/gutenberg-test-themes/style-variations/style.css
  test/gutenberg-test-themes/style-variations/styles/pink.json
  test/gutenberg-test-themes/style-variations/styles/yellow.json
  test/gutenberg-test-themes/style-variations/theme.json
Labels: [Package] E2E Test Utils, [Package] E2E Tests

#41792 Change case
  packages/block-editor/src/layouts/flex.js
Labels: [Type] Bug, [Package] Block editor, First-time Contributor

#41738 Abbreviate post schedule date when possible
  packages/e2e-tests/specs/editor/various/datepicker.test.js
  packages/edit-post/src/components/sidebar/post-schedule/index.js
  packages/edit-post/src/components/sidebar/post-schedule/style.scss
  packages/editor/src/components/index.js
  packages/editor/src/components/post-schedule/label.js
  packages/editor/src/components/post-schedule/test/label.js
Labels: [Type] Enhancement, [Feature] Document Settings

#41788 BlockSettingsMenuControls: Fix 'showLockButton' check
  packages/block-editor/src/components/block-settings-menu-controls/index.js
Labels: [Type] Bug, [Package] Block editor, [Feature] Block Locking

#41785 Lodash: Refactor away from `_.isNil()`
  .eslintrc.js
  packages/blocks/src/api/registration.js
  packages/components/src/elevation/hook.js
  packages/components/src/h-stack/utils.js
  packages/components/src/truncate/utils.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Components, [Package] Blocks

#41777 Lodash: Refactor away from `_.chunk()`
  .eslintrc.js
  packages/core-data/src/batch/default-processor.js
  packages/e2e-test-utils-playwright/src/request-utils/rest.ts
Labels: Automated Testing, [Type] Performance, [Type] Code Quality, [Package] Core data

#41590 Migrate spacer test to playwright
  packages/e2e-tests/specs/editor/blocks/__snapshots__/spacer.test.js.snap
  packages/e2e-tests/specs/editor/blocks/spacer.test.js
  test/e2e/specs/editor/blocks/__snapshots__/Spacer-can-be-created-by-typing-spacer-1-chromium.txt
  test/e2e/specs/editor/blocks/__snapshots__/Spacer-can-be-resized-using-the-drag-handle-and-remains-selected-after-being-dragged-1-chromium.txt
  test/e2e/specs/editor/blocks/spacer.spec.js
Labels: Automated Testing

#39564 Add ability to unset duotone in themes with default duotone set
  lib/block-supports/duotone.php
  packages/block-editor/src/components/duotone-control/index.js
  packages/block-editor/src/components/duotone-control/style.scss
  packages/block-editor/src/hooks/duotone.js
  packages/components/src/duotone-picker/duotone-picker.js
  packages/components/src/duotone-picker/style.scss
  packages/components/src/style.scss
Labels: [Feature] Themes

#41829 Skip flaky nav e2e test
  packages/e2e-tests/specs/editor/blocks/navigation.test.js
Labels: [Type] Bug

#41819 Lodash: Refactor away from `_.isString()` in `@wordpress/element`
  packages/element/src/react.js
  packages/element/src/utils.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Element

#41751 Lodash: Remove a bunch of usages from tests
  packages/block-editor/src/components/link-control/test/fixtures/index.js
  packages/block-editor/src/components/link-control/test/index.js
  packages/block-editor/src/components/responsive-block-control/test/index.js
  packages/block-editor/src/store/test/reducer.js
  packages/block-editor/src/store/test/selectors.js
  packages/blocks/src/api/test/factory.js
  packages/blocks/src/api/test/registration.js
  packages/blocks/src/store/test/selectors.js
  packages/components/src/dimension-control/test/index.test.js
  packages/components/src/form-token-field/test/index.js
  packages/components/src/form-token-field/test/lib/token-field-wrapper.tsx
  packages/components/src/slot-fill/test/slot.js
  packages/core-data/src/test/reducer.js
  packages/data/src/test/registry.js
  packages/editor/src/store/test/selectors.js
  packages/npm-package-json-lint-config/test/index.test.js
  packages/prettier-config/test/index.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Data, [Package] npm-package-json-lint-config, [Package] Core data, [Package] Components, [Package] Blocks, [Package] Editor, [Package] Block editor, [Package] Prettier config

#41817 Lodash: Remove completely from `@wordpress/nux` package
  package-lock.json
  packages/nux/package.json
  packages/nux/src/store/selectors.js
Labels: [Type] Performance, [Type] Code Quality, [Package] NUX

#41815 Lodash: Refactor away from `_.overEvery()`
  .eslintrc.js
  bin/packages/get-packages.js
Labels: [Type] Build Tooling, [Type] Performance, [Type] Code Quality

#41810 Lodash: Refactor away from `_.size()`
  .eslintrc.js
  packages/block-editor/src/components/inserter/index.js
  packages/create-block/lib/init-package-json.js
  packages/edit-post/src/editor.js
  packages/edit-post/src/editor.native.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Block editor, [Package] Edit Post, [Package] Create Block

#41806 Lodash: Refactor away from `_.findKey()`
  .eslintrc.js
  packages/block-editor/src/components/rich-text/use-input-rules.js
  packages/block-editor/src/store/actions.js
  packages/block-editor/src/utils/selection.js
  packages/block-editor/src/utils/test/selection.js
Labels: [Type] Performance, [Feature] Writing Flow, [Type] Code Quality, [Package] Block editor

#41808 Try to fix the image rotating flaky test
  test/e2e/specs/editor/blocks/image.spec.js
Labels: [Type] Bug

#41516 #30930 - Make it easier to select "Edit visually" when in "Edit as HTML
  packages/block-editor/src/components/block-settings-menu/block-edit-visually-button.js
  packages/block-editor/src/components/block-settings-menu/index.js
Labels: [Feature] Blocks, Needs Design Feedback, [Package] Block editor, First-time Contributor

#41809 Lodash: Refactor away from `_.findLast()`
  .eslintrc.js
  packages/blocks/src/store/selectors.js
  packages/docgen/lib/markdown/embed.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Blocks, [Package] Docgen

#41587 ColorIndicator: Convert component to TypeScript
  packages/components/CHANGELOG.md
  packages/components/src/color-indicator/README.md
  packages/components/src/color-indicator/index.js
  packages/components/src/color-indicator/index.tsx
  packages/components/src/color-indicator/stories/index.js
  packages/components/src/color-indicator/stories/index.tsx
  packages/components/src/color-indicator/test/__snapshots__/index.js.snap
  packages/components/src/color-indicator/test/__snapshots__/index.tsx.snap
  packages/components/src/color-indicator/test/index.tsx
  packages/components/src/color-indicator/types.ts
Labels: [Type] Enhancement, [Feature] UI Components, [Type] Code Quality, [Package] Components

#41774 Navigation submenus: Allow Escape key to close the submenu and focus trigger
  packages/block-library/src/navigation-submenu/view.js
  packages/block-library/src/navigation/view.js
Labels: [Type] Bug, Accessibility (a11y), [Package] Block library, Needs Accessibility Feedback, [Block] Navigation

#41803 Style engine: add border to frontend
  packages/blocks/src/api/constants.js
  packages/style-engine/src/styles/border/index.ts
  packages/style-engine/src/styles/index.ts
  packages/style-engine/src/styles/spacing/margin.ts
  packages/style-engine/src/styles/spacing/padding.ts
  packages/style-engine/src/styles/utils.ts
  packages/style-engine/src/test/index.js
  packages/style-engine/src/test/utils.js
  packages/style-engine/src/types.ts
Labels: [Type] Experimental, CSS Styling, [Package] Style Engine

#41006 Add Pocket Casts embed block variation
  packages/block-library/src/embed/icons.js
  packages/block-library/src/embed/variations.js
Labels: [Block] Embed, First-time Contributor, [Feature] Block Variations

#41828 [RNMobile] Bump AztecAndroid version to v1.5.9
  packages/react-native-aztec/android/build.gradle
Labels: Mobile App - i.e. Android or iOS, Mobile App - Automation

#41812 Lodash: Refactor away from `_.uniqWith()`
  .eslintrc.js
  packages/block-editor/src/components/media-placeholder/index.native.js
Labels: [Feature] Media, [Type] Performance, [Type] Code Quality, Mobile App - i.e. Android or iOS, [Block] Gallery, [Package] Block editor

#41816 Format Library: Add keyboard shortcut for inline code
  packages/edit-post/src/components/keyboard-shortcut-help-modal/config.js
  packages/edit-post/src/components/keyboard-shortcut-help-modal/test/__snapshots__/index.js.snap
  packages/edit-site/src/components/keyboard-shortcut-help-modal/config.js
  packages/edit-widgets/src/components/keyboard-shortcut-help-modal/config.js
  packages/format-library/src/code/index.js
Labels: [Type] Enhancement, [Package] Format library

#41856 Lodash: Remove completely from `@wordpress/annotations` package
  package-lock.json
  packages/annotations/package.json
  packages/annotations/src/store/reducer.js
  packages/annotations/src/store/selectors.js
Labels: [Type] Performance, [Type] Code Quality, [Feature] Annotations

#41863 Lodash: Remove completely from `@wordpress/wordcount` package
  package-lock.json
  packages/wordcount/package.json
  packages/wordcount/src/index.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Word count

#41864 Lodash: Remove completely from `@wordpress/token-list` package
  package-lock.json
  packages/token-list/package.json
  packages/token-list/src/index.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Token List

#41822 Elements: Button - Fix element selectors
  lib/compat/wordpress-6.1/class-wp-theme-json-6-1.php
  lib/compat/wordpress-6.1/class-wp-theme-json-resolver-6-1.php
  lib/compat/wordpress-6.1/theme.json
  lib/experimental/class-wp-theme-json-resolver-gutenberg.php
  lib/load.php
  packages/block-library/src/button/block.json
  packages/block-library/src/file/block.json
  packages/block-library/src/file/style.scss
  packages/block-library/src/search/style.scss
  packages/blocks/src/api/constants.js
  packages/edit-site/src/components/global-styles/hooks.js
  packages/edit-site/src/components/global-styles/screen-button-color.js
  packages/edit-site/src/components/global-styles/screen-colors.js
  packages/edit-site/src/components/global-styles/screen-typography-element.js
  packages/edit-site/src/components/global-styles/screen-typography.js
  packages/edit-site/src/components/global-styles/style.scss
  packages/edit-site/src/components/global-styles/ui.js
  packages/edit-site/src/components/global-styles/use-global-styles-output.js
  packages/edit-site/src/components/global-styles/utils.js
Labels: [Type] Enhancement, [Feature] Blocks, Customization, Needs Dev Note, Global Styles, Developer Experience

#41468 Block attributes docs: minor documentation inconsistencies
  docs/reference-guides/block-api/block-attributes.md
Labels: [Type] Documentation, First-time Contributor

#41659 Elements: Add UI for button elements
  packages/edit-site/src/components/global-styles/screen-button-color.js
  packages/edit-site/src/components/global-styles/screen-colors.js
  packages/edit-site/src/components/global-styles/style.scss
Labels: [Type] Enhancement, Needs Design Feedback, Needs Dev Note, Global Styles
