Repository WordPress/gutenberg, pull requests merged in 2022-10, with the labels that each got.

#44629 useMergeRefs: don't call/mutate refs passed if unused
  packages/compose/src/hooks/use-merge-refs/index.js
  packages/compose/src/hooks/use-merge-refs/test/index.js
Labels: [Package] Compose

#44630 Query Loop: Fix condition for displaying 'parents' control
  packages/block-library/src/query/edit/inspector-controls/index.js
Labels: [Type] Regression, Backport to WP Beta/RC, [Block] Query Loop

#44634 Quote block: stop slash inserter popup showing in citation
  packages/block-library/src/quote/block.json
Labels: [Type] Bug, [Block] Quote, Backport to WP Beta/RC

#44613 Edit-post: Remove right border when sidebars are closed.
  packages/edit-post/src/style.scss
Labels: [Type] Enhancement, [Package] Edit Post

#42670 Post Author block now includes option to link author archive
  docs/reference-guides/core-blocks.md
  packages/block-library/src/post-author/block.json
  packages/block-library/src/post-author/edit.js
  packages/block-library/src/post-author/index.php
  test/integration/fixtures/blocks/core__post-author.json
Labels: [Type] Enhancement, First-time Contributor, [Block] Post Author

#44583 Fix comment typo in document generation tools
  bin/api-docs/gen-block-lib-list.js
  bin/api-docs/gen-theme-reference.js
Labels: [Type] Code Quality

#44641 Query Loop: Hide instructions for FormTokenField
  packages/block-library/src/query/edit/inspector-controls/author-control.js
  packages/block-library/src/query/edit/inspector-controls/parent-control.js
  packages/block-library/src/query/edit/inspector-controls/taxonomy-controls.js
Labels: [Type] Enhancement, [Block] Query Loop

#44550 CS: always use parentheses when instantiating objects
  packages/block-library/src/latest-posts/index.php
  phpunit/navigation-page-test.php
Labels: [Type] Code Quality

#44549 CS: use pre-increment instead of post-increment
  lib/compat/wordpress-6.1/class-wp-theme-json-6-1.php
  lib/experimental/html/class-wp-html-tag-processor.php
  packages/block-library/src/categories/index.php
  packages/block-library/src/comment-reply-link/index.php
  packages/block-library/src/page-list/index.php
Labels: [Type] Code Quality

#44333 Fix Site Title: link color not applied in editor #37071
  packages/block-library/src/site-title/block.json
  packages/block-library/src/site-title/editor.scss
  packages/block-library/src/site-title/style.scss
  packages/block-library/src/style.scss
Labels: [Type] Bug, [Block] Site Title

#44551 CS/QA: various minor fixes
  lib/block-supports/duotone.php
  lib/compat/wordpress-6.1/persisted-preferences.php
  lib/experimental/editor-settings.php
  packages/block-library/src/comment-template/index.php
  packages/block-library/src/cover/index.php
  packages/block-library/src/page-list/index.php
  phpunit/blocks/render-block-cover-test.php
  phpunit/blocks/render-comments-test.php
  phpunit/blocks/render-last-posts-test.php
  phpunit/html/wp-html-tag-processor-standalone-test.php
Labels: [Type] Code Quality

#44239 Site Editor: Fix bug where focus moved erroneously in navigation screens.
  packages/components/CHANGELOG.md
  packages/components/src/navigator/navigator-screen/component.tsx
  packages/components/src/navigator/test/index.js
Labels: [Type] Bug, [Package] Components, [Feature] Component System

#44519 Script loader: remove 6.1 wp actions
  lib/client-assets.php
  lib/compat/wordpress-6.1/script-loader.php
Labels: Backwards Compatibility, CSS Styling, [Package] Style Engine

#44637 Resizable editor: fix height setting bug
  packages/edit-site/src/components/block-editor/resizable-editor.js
Labels: [Type] Bug, Backport to WP Beta/RC

#44635 Add extra guarding against legacy widget preview errors
  packages/widgets/src/blocks/legacy-widget/edit/preview.js
Labels: [Type] Bug, [Block] Legacy Widget

#44612 Style cards: Fix focus style.
  packages/edit-site/src/components/global-styles/style.scss
Labels: [Type] Bug, Global Styles

#44650 Fix empty links being created for the author's name comment
  packages/block-library/src/comment-author-name/index.php
Labels: [Type] Bug, First-time Contributor, [Block] Comment Author

#44652 Block Editor: Fix block search for non-Latin characters
  .eslintrc.js
  package-lock.json
  packages/block-editor/package.json
  packages/block-editor/src/components/inserter/search-items.js
  packages/block-editor/src/components/inserter/test/search-items.js
Labels: [Feature] Inserter, Internationalization (i18n), [Type] Regression, [Package] Block editor

#44548 QA: no control structures with empty body
  lib/experimental/html/class-wp-html-tag-processor.php
  packages/block-serialization-default-parser/parser.php
Labels: [Type] Code Quality

#44571 Lodash: Remove completely from `@wordpress/library-export-default-webpack-plugin` package
  packages/library-export-default-webpack-plugin/index.js
  packages/library-export-default-webpack-plugin/package.json
Labels: [Type] Performance, [Type] Code Quality, [Package] Library Export Default Webpack Plugin

#44669 Block Editor: Refactor `ResponsiveBlockControl` tests to use `@testing-library/react`
  packages/block-editor/src/components/responsive-block-control/test/index.js
Labels: [Type] Enhancement, [Package] Block editor

#44098 Fix: Content blocks with nested blocks always appear as top level.
  packages/block-editor/src/components/block-inspector/index.js
Labels: [Type] Bug, [Package] Block editor, Backport to WP Beta/RC

#44667 Edit Post: Refactor `PluginPostPublishPanel` tests to use RTL render
  packages/edit-post/src/components/sidebar/plugin-post-publish-panel/test/__snapshots__/index.js.snap
  packages/edit-post/src/components/sidebar/plugin-post-publish-panel/test/index.js
Labels: [Type] Enhancement, [Package] Edit Post

#44056 [Docs] Add callout for experimental packages
  docs/reference-guides/data/data-core-annotations.md
  docs/reference-guides/data/data-core-reusable-blocks.md
Labels: [Type] Developer Documentation, [Feature] Reusable Blocks, [Feature] Annotations

#44645 Revert/add 43862 dynamic template names descriptions
  lib/compat/wordpress-6.1/block-template-utils.php
  packages/edit-site/src/components/add-new-template/utils.js
Labels: Backport to WP Beta/RC

#44642 Improve Slot/Fill performance
  package-lock.json
  packages/block-editor/src/components/block-controls/slot.js
  packages/block-editor/src/components/block-inspector/index.js
  packages/block-editor/src/components/inspector-controls/slot.js
  packages/components/package.json
  packages/components/src/index.js
  packages/components/src/slot-fill/bubbles-virtually/slot-fill-context.js
  packages/components/src/slot-fill/bubbles-virtually/slot-fill-provider.js
  packages/components/src/slot-fill/bubbles-virtually/use-slot-fills.js
  packages/components/src/slot-fill/bubbles-virtually/use-slot.js
  packages/components/src/slot-fill/index.js
  packages/edit-post/src/components/header/main-dashboard-button/index.js
  packages/edit-site/src/components/main-dashboard-button/index.js
Labels: [Type] Performance, [Package] Components

#44670 Components: Refactor `AlignmentMatrixControl` tests to use `@testing-library/react`
  packages/components/src/alignment-matrix-control/test/index.js
Labels: [Type] Enhancement, [Package] Components

#44658 Avoid calling get_blocks_metadata in WP_Theme_JSON constructor
  lib/compat/wordpress-6.1/class-wp-theme-json-6-1.php
Labels: [Type] Code Quality

#44661 Layout: backport code quality changes from core to Gutenberg
  lib/block-supports/layout.php
  phpunit/block-supports/layout-test.php
Labels: [Type] Code Quality, [Feature] Layout

#44660 Legacy Group inner block wrapper should work with constrained layout.
  lib/block-supports/layout.php
  packages/block-editor/src/components/button-block-appender/style.scss
  packages/block-library/src/group/edit.js
Labels: [Type] Bug, [Type] Regression, [Block] Group, Backport to WP Beta/RC

#44685 Fix typo in WP_Navigation_Page_Test
  phpunit/navigation-page-test.php
Labels: [Type] Bug

#43452 Tag Cloud: Add typography supports (except font size)
  docs/reference-guides/core-blocks.md
  packages/block-library/src/tag-cloud/block.json
Labels: Needs Testing, [Block] Tag Cloud

#44150 Try: Refresh selection styles
  packages/block-editor/src/components/block-list/style.scss
Labels: [Priority] High, [Feature] Block Multi Selection, Backport to WP Beta/RC

#42619 Layout: Document the current state of the layout block support
  docs/explanations/architecture/styles.md
Labels: [Type] Developer Documentation, Global Styles, [Feature] Layout

#44676 Fix: Hide list items from content area of content locked blocks
  packages/block-editor/src/components/block-inspector/index.js
Labels: [Type] Bug, Backport to WP Beta/RC, [Feature] Patterns

#44697 Components: Refactor `withState` to `@testing-library/react`
  packages/compose/src/higher-order/with-state/test/index.js
Labels: [Type] Enhancement, [Package] Components

#44698 Components: Refactor `useFocusOutside` to `@testing-library/react`
  packages/compose/src/hooks/use-focus-outside/test/index.js
Labels: [Type] Enhancement, [Package] Components

#39717 Modify Frame animation of styles grid
  packages/edit-site/src/components/global-styles/preview.js
  packages/edit-site/src/components/global-styles/screen-style-variations.js
Labels: Global Styles

#44704 Prevent empty block toolbars from showing empty slots
  packages/components/src/slot-fill/bubbles-virtually/slot-fill-provider.js
Labels: [Type] Bug

#44707 Cover: Fix erroneous focus style in editor.
  packages/block-library/src/cover/editor.scss
Labels: [Type] Enhancement, [Block] Cover

#44709 Multi-select: Fix 1px indent.
  packages/block-editor/src/components/block-list/style.scss
Labels: [Type] Enhancement

#44620 package(prettier-config): update docs
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/README.md
Labels: [Type] Developer Documentation, First-time Contributor, [Package] Prettier config

#44415 Removes __unstableMaxPages attribute from Page List block (and Nav block)
  docs/reference-guides/core-blocks.md
  packages/block-library/src/navigation/index.php
  packages/block-library/src/page-list/block.json
  packages/block-library/src/page-list/index.php
Labels: [Type] Bug, [Block] Navigation, Backport to WP Beta/RC, [Block] Page List

#44705 Rich Text: use fallback icon for highlight format
  packages/format-library/src/text-color/index.js
Labels: [Type] Enhancement, [Feature] Rich Text

#44463 Fix: Follow discussion settings in the comments block edit
  packages/block-library/src/comment-template/edit.js
  packages/block-library/src/comments-title/edit.js
Labels: [Type] Bug, Backport to WP Beta/RC, [Block] Comments

#44680 Add support for React 18 and later to jest-preset-default
  packages/jest-preset-default/package.json
Labels: [Type] Enhancement, [Package] Jest preset, First-time Contributor

#44695 Components: Refactor `withFocusOutside` to `@testing-library/react`
  packages/components/src/higher-order/with-focus-outside/test/index.js
Labels: [Type] Enhancement, [Package] Components

#44646 Dynamic Templates Names and Descriptions: Code parity with wp/6.1
  lib/compat/wordpress-6.1/block-template-utils.php
Labels: [Type] Code Quality, [Feature] Site Editor

#44702 Fix insertion point showing up unexpectedly
  docs/reference-guides/data/data-core-block-editor.md
  packages/block-editor/src/components/block-list/use-in-between-inserter.js
  packages/block-editor/src/components/block-tools/insertion-point.js
  packages/block-editor/src/store/actions.js
  packages/block-editor/src/store/test/actions.js
Labels: [Type] Bug

#44719 Layout Docs: Fix broken link in table of contents
  docs/explanations/architecture/styles.md
Labels: [Type] Developer Documentation, [Feature] Layout

#44592 BorderBoxControl: Omit unit select when values are mixed
  packages/components/CHANGELOG.md
  packages/components/src/border-box-control/border-box-control/component.tsx
  packages/components/src/border-box-control/border-box-control/hook.ts
  packages/components/src/border-box-control/test/index.js
  packages/components/src/border-control/border-control/README.md
  packages/components/src/border-control/border-control/component.tsx
  packages/components/src/border-control/types.ts
Labels: [Type] Enhancement, [Package] Components

#44696 Group, Row, Stack, Columns. Fix missing border regression
  packages/block-editor/src/components/button-block-appender/style.scss
  packages/block-library/src/group/editor.scss
  packages/block-library/src/navigation/editor.scss
Labels: [Type] Bug, [Type] Regression, [Block] Columns, [Block] Group

#44703 [Documentation]: Update Extending the Query Loop block docs
  docs/how-to-guides/block-tutorial/extending-the-query-loop-block.md
Labels: [Type] User Documentation

#44699 [Documentation]: Connect extend Query Loop documentation
  docs/how-to-guides/README.md
  docs/manifest.json
  docs/toc.json
Labels: [Type] User Documentation

#44173 Navigation: Fallback to a classic menu if one is available
  packages/block-library/src/navigation/edit/index.js
  packages/block-library/src/navigation/edit/use-convert-classic-menu-to-block-menu.js
  packages/block-library/src/navigation/edit/use-create-navigation-menu.js
  packages/block-library/src/navigation/index.php
Labels: [Block] Navigation

#44713 Docs: Fix some typos
  docs/how-to-guides/block-tutorial/applying-styles-with-stylesheets.md
  docs/how-to-guides/javascript/versions-and-building.md
  docs/how-to-guides/platform/custom-block-editor/tutorial.md
  docs/how-to-guides/propagating-updates.md
  docs/manifest.json
  packages/env/README.md
Labels: [Type] Developer Documentation

#44545 Performance: remove unnecessary repeated function call
  lib/experimental/html/class-wp-html-tag-processor.php
Labels: [Type] Performance, [Type] Code Quality

#44722 Style Engine: move PHP unit tests to Gutenberg
  packages/style-engine/CHANGELOG.md
  phpunit.xml.dist
  phpunit/style-engine/class-wp-style-engine-css-declarations-test.php
  phpunit/style-engine/class-wp-style-engine-css-rule-test.php
  phpunit/style-engine/class-wp-style-engine-css-rules-store-test.php
  phpunit/style-engine/class-wp-style-engine-processor-test.php
  phpunit/style-engine/style-engine-test.php
Labels: [Type] Build Tooling, [Package] Style Engine

#44584 Avoid querying block templates during installation
  packages/block-library/src/template-part/index.php
Labels: [Type] Bug, Backport to WP Beta/RC, [Block] Template Part

#44766 Viewport: Refactor ifViewportMatches to use RTL
  packages/viewport/src/test/if-viewport-matches.js
Labels: [Type] Enhancement, [Package] Viewport

#44769 Viewport: Refactor withViewportMatch to use RTL
  packages/viewport/src/test/with-viewport-match.js
Labels: [Type] Enhancement, [Package] Viewport

#44491 ServerSideRender: add new `skipBlockSupportAttributes` prop
  packages/server-side-render/CHANGELOG.md
  packages/server-side-render/README.md
  packages/server-side-render/src/server-side-render.js
  packages/server-side-render/src/test/index.js
Labels: [Type] Enhancement, [Package] Server Side Render

#44732 Mobile - Update editor initial HTML test for iOS and update Appium
  .github/workflows/rnmobile-ios-runner.yml
  package-lock.json
  package.json
  packages/react-native-editor/__device-tests__/gutenberg-editor-initial-html.test.js
  packages/react-native-editor/__device-tests__/helpers/caps.js
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS, Mobile App - Automation

#44649 [Create Block] Allows custom keys to be generated in block.json files and package.json files
  packages/create-block/CHANGELOG.md
  packages/create-block/docs/external-template.md
  packages/create-block/lib/init-block.js
  packages/create-block/lib/init-package-json.js
  packages/create-block/lib/scaffold.js
Labels: [Package] Create Block, Developer Experience

#44783 Avoid PHP warning when getting dynamic template data
  lib/compat/wordpress-6.1/block-template-utils.php
Labels: [Type] Bug, [Feature] Templates API

#44731 Buttons: Add specificity for the editor
  lib/compat/wordpress-6.1/script-loader.php
Labels: [Type] Bug, [Block] Buttons, Backport to WP Beta/RC

#44438 Archive Block: Prevent spacing styles and additional CSS classes from being printed twice
  packages/block-library/src/archives/edit.js
  packages/block-library/src/archives/style.scss
Labels: [Block] Archives, [Feature] Design Tools, [Feature] Typography

#44765 Make custom font sizes appear fluid in the block editor when fluid typography is enabled
  packages/block-editor/README.md
  packages/block-editor/src/components/font-sizes/fluid-utils.js
  packages/block-editor/src/components/font-sizes/index.js
  packages/block-editor/src/components/font-sizes/test/fluid-utils.js
  packages/block-editor/src/hooks/font-size.js
  packages/edit-site/src/components/global-styles/test/typography-utils.js
  packages/edit-site/src/components/global-styles/typography-utils.js
Labels: [Type] Bug, [Priority] High, Backport to WP Beta/RC, [Feature] Typography

#44807 Fluid typography: covert font size number values to pixels
  lib/block-supports/typography.php
  packages/block-editor/src/components/font-sizes/fluid-utils.js
  packages/edit-site/src/components/global-styles/test/typography-utils.js
  phpunit/block-supports/typography-test.php
Labels: [Type] Bug, Backport to WP Beta/RC, [Feature] Typography

#44562 QueryInspectorControls: avoid rerender of TaxonomyControls on every keystroke
  packages/block-library/src/query/edit/inspector-controls/index.js
  packages/block-library/src/query/edit/inspector-controls/taxonomy-controls.js
Labels: [Type] Performance, [Block] Query Loop

#44801 Components: Refactor Notice tests to use RTL
  packages/components/src/notice/test/__snapshots__/index.js.snap
  packages/components/src/notice/test/index.js
Labels: [Type] Enhancement, [Package] Components

#44803 Interface: Refactor FullscreenMode component tests to use RTL
  packages/interface/src/components/fullscreen-mode/test/index.js
Labels: [Type] Enhancement, [Package] Interface

#44666 Icons: Fix arrow icons being misaligned.
  packages/icons/src/library/arrow-down.js
  packages/icons/src/library/arrow-left.js
  packages/icons/src/library/arrow-right.js
  packages/icons/src/library/arrow-up.js
Labels: [Type] Bug, [Package] Icons

#44814 Hide the inbetween inserter consistently as you move the mouse
  packages/block-editor/src/components/block-list/use-in-between-inserter.js
  packages/block-editor/src/components/block-tools/insertion-point.js
Labels: [Type] Bug

#44817 Fix clickable placeholder upload button
  packages/components/src/placeholder/style.scss
Labels: [Type] Bug

#44804 Element: Refactor 'createInterpolateElement' tests to use RTL
  packages/element/src/test/create-interpolate-element.js
Labels: [Type] Enhancement, [Package] Element

#44818 Compose: Refactor `useInstanceId` tests to RTL
  packages/compose/src/hooks/use-instance-id/test/index.js
Labels: [Type] Enhancement, [Package] Compose

#44819 Compose: Refactor `useViewportMatch` tests to RTL
  packages/compose/src/hooks/use-viewport-match/test/index.js
Labels: [Type] Enhancement, [Package] Compose

#44821 Components: Refactor `TreeGrid`'s `RovingTabIndexItem` tests to RTL
  packages/components/src/tree-grid/test/__snapshots__/roving-tab-index-item.js.snap
  packages/components/src/tree-grid/test/roving-tab-index-item.js
Labels: [Type] Enhancement, [Package] Components

#44802 Data: Refactor 'useDispatch' tests to use RTL
  packages/data/src/components/use-dispatch/test/use-dispatch.js
Labels: [Type] Enhancement, [Package] Data

#43181 Merge inner blocks if wrappers are equal
  packages/block-editor/src/components/block-list/block.js
  packages/block-library/src/list-item/edit.js
  packages/block-library/src/list-item/hooks/use-merge.js
  packages/block-library/src/list/transforms.js
  packages/e2e-tests/specs/editor/various/block-switcher.test.js
  packages/e2e-tests/specs/editor/various/splitting-merging.test.js
  test/e2e/specs/editor/blocks/list.spec.js
Labels: [Feature] Writing Flow, [Block] List, [Block] Quote, [Block] Group, Backport to WP Beta/RC

#41740 Introduce distraction free mode
  packages/block-editor/src/components/block-list/use-in-between-inserter.js
  packages/block-editor/src/components/block-parent-selector/index.js
  packages/block-editor/src/components/block-settings-menu/block-settings-dropdown.js
  packages/block-editor/src/components/block-toolbar/index.js
  packages/block-editor/src/components/block-tools/insertion-point.js
  packages/block-editor/src/components/block-tools/selected-block-popover.js
  packages/edit-post/src/components/header/index.js
  packages/edit-post/src/components/header/more-menu/index.js
  packages/edit-post/src/components/header/style.scss
  packages/edit-post/src/components/header/writing-menu/index.js
  packages/edit-post/src/components/keyboard-shortcuts/index.js
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/layout/style.scss
  packages/edit-post/src/components/preferences-modal/index.js
  packages/edit-post/src/components/preferences-modal/options/enable-feature.js
  packages/edit-post/src/components/preferences-modal/test/__snapshots__/index.js.snap
  packages/edit-post/src/components/preferences-modal/test/index.js
  packages/edit-post/src/editor.js
  packages/editor/src/components/provider/use-block-editor-settings.js
  packages/interface/src/components/interface-skeleton/index.js
  packages/keycodes/src/index.js
  packages/preferences/src/components/preference-toggle-menu-item/index.js
Labels: [Type] Enhancement, General Interface, Needs Design Feedback, [Feature] Writing Flow, Needs Technical Feedback, Needs Accessibility Feedback

#44640 Only include theme.css if the theme declares support for wp-block-styles
  lib/client-assets.php
Labels: Backport to WP Beta/RC

#44794 Make `spacingScale` description more accurate in theme.json schema
  schemas/json/theme.json
Labels: [Type] Developer Documentation, Developer Experience

#44827 [Block Settings]: Show `move to` on nested blocks when only one root block
  packages/block-editor/src/components/block-settings-menu/block-settings-dropdown.js
Labels: [Type] Bug, [Feature] Block settings menu

#44764 Fluid typography: convert font size inline style attributes to fluid values
  lib/block-supports/typography.php
  phpunit/block-supports/typography-test.php
  phpunit/data/themedir1/block-theme-child-with-fluid-typography/theme.json
Labels: [Type] Bug, CSS Styling, [Feature] Typography

#44761 Fluid Typography: Fix bug in global styles where fluid clamp rules were not calculated for custom values
  lib/compat/wordpress-6.1/class-wp-theme-json-6-1.php
  packages/components/CHANGELOG.md
  packages/components/src/font-size-picker/test/utils.ts
  packages/components/src/font-size-picker/utils.ts
  packages/edit-site/src/components/global-styles/test/typography-utils.js
  packages/edit-site/src/components/global-styles/test/use-global-styles-output.js
  packages/edit-site/src/components/global-styles/typography-panel.js
  packages/edit-site/src/components/global-styles/typography-utils.js
  packages/edit-site/src/components/global-styles/use-global-styles-output.js
Labels: [Type] Bug, [Priority] High, Backport to WP Beta/RC, Global Styles, [Feature] Typography

#44762 Fluid typography: convert server-side block support values
  lib/block-supports/typography.php
  packages/block-library/src/navigation-link/index.php
  packages/block-library/src/navigation-submenu/index.php
  packages/block-library/src/page-list/index.php
  packages/block-library/src/search/index.php
  phpunit/block-supports/typography-test.php
Labels: [Type] Bug, Backport to WP Beta/RC, [Feature] Typography

#44439 Tag Cloud Block: Prevent block support styles and additional CSS classes from being printed twice
  packages/block-library/src/tag-cloud/edit.js
  packages/block-library/src/tag-cloud/style.scss
Labels: [Block] Tag Cloud, [Feature] Design Tools

#44847 Fluid typography: ensure fontsizes are strings or integers
  lib/block-supports/typography.php
  packages/block-editor/CHANGELOG.md
  packages/block-editor/README.md
  packages/block-editor/src/components/font-sizes/fluid-utils.js
  packages/block-editor/src/components/font-sizes/test/fluid-utils.js
  packages/edit-site/src/components/global-styles/test/typography-utils.js
  packages/edit-site/src/components/global-styles/typography-utils.js
  phpunit/block-supports/typography-test.php
Labels: [Type] Bug, [Priority] High, Backport to WP Beta/RC, [Feature] Typography

#44852 Search block: ensure font sizes values are converted to fluid in the editor
  packages/block-editor/CHANGELOG.md
  packages/block-editor/README.md
  packages/block-editor/src/hooks/test/use-typography-props.js
  packages/block-editor/src/hooks/use-typography-props.js
  packages/block-library/src/search/edit.js
Labels: [Type] Bug, [Priority] High, Backport to WP Beta/RC, [Feature] Typography

#44825 Simplify BlockStyles preview by removing the slot
  packages/block-editor/src/components/block-inspector/index.js
  packages/block-editor/src/components/block-styles/index.js
  packages/edit-post/src/components/layout/index.js
  packages/edit-site/src/components/editor/index.js
  packages/edit-widgets/src/components/layout/interface.js
Labels: [Type] Code Quality

#44823 Ensure style card effect doesn't cause scrollbars to appear.
  packages/edit-site/src/components/global-styles/preview.js
Labels: [Type] Bug, Global Styles

#44824 Components: Refactor `TreeGridRow` tests to RTL
  packages/components/src/tree-grid/test/__snapshots__/row.js.snap
  packages/components/src/tree-grid/test/row.js
Labels: [Type] Enhancement, [Package] Components

#44826 Components: Refactor `TreeGridCell` tests to RTL
  packages/components/src/tree-grid/test/__snapshots__/cell.js.snap
  packages/components/src/tree-grid/test/cell.js
Labels: [Type] Enhancement, [Package] Components

#44856 Data: Cleanup `useDispatch` tests
  packages/data/src/components/use-dispatch/test/use-dispatch.js
Labels: [Type] Code Quality, [Package] Data

#44860 [Site Editor]: Toggle Navigation Menus Sidebar
  packages/edit-site/src/components/block-editor/index.js
Labels: [Type] Bug, [Block] Navigation

#44861 Site logo: Fix centered state, for upload button
  packages/block-library/src/site-logo/editor.scss
Labels: [Type] Bug, [Block] Site Logo

#44701 Placeholder: Fix hover style.
  packages/block-editor/src/components/block-list/style.scss
  packages/components/src/placeholder/style.scss
Labels: [Type] Bug, [Type] Regression

#44830 [Mobile] - RangeCell - Migrate from React Test Render to React Native Testing Library
  packages/components/src/mobile/bottom-sheet/test/range-cell.native.js
Labels: Mobile App - i.e. Android or iOS

#44831 Mobile - Tooltip - Migrate from React Test Render to React Native Testing Library
  packages/components/src/tooltip/test/index.native.js
Labels: Mobile App - i.e. Android or iOS

#44835 Edit Post: Refactor 'PluginPostStatusInfo' tests to use RTL
  packages/edit-post/src/components/sidebar/plugin-post-status-info/test/__snapshots__/index.js.snap
  packages/edit-post/src/components/sidebar/plugin-post-status-info/test/index.js
Labels: [Type] Enhancement, [Package] Edit Post

#44833 Mobile - Code block - Migrate from React Test Render to React Native Testing Library
  packages/block-library/src/code/test/__snapshots__/edit.native.js.snap
  packages/block-library/src/code/test/edit.native.js
Labels: Mobile App - i.e. Android or iOS

#44868 WP 6.1: backport fluid typography
  lib/block-supports/typography.php
  lib/compat/wordpress-6.1/class-wp-theme-json-6-1.php
  packages/block-editor/CHANGELOG.md
  packages/block-editor/README.md
  packages/block-editor/src/components/font-sizes/fluid-utils.js
  packages/block-editor/src/components/font-sizes/index.js
  packages/block-editor/src/components/font-sizes/test/fluid-utils.js
  packages/block-editor/src/hooks/font-size.js
  packages/block-editor/src/hooks/test/use-typography-props.js
  packages/block-editor/src/hooks/use-typography-props.js
  packages/block-library/src/navigation-link/index.php
  packages/block-library/src/navigation-submenu/index.php
  packages/block-library/src/page-list/index.php
  packages/block-library/src/search/edit.js
  packages/block-library/src/search/index.php
  packages/components/CHANGELOG.md
  packages/components/src/font-size-picker/test/utils.js
  packages/components/src/font-size-picker/utils.js
  packages/edit-site/src/components/global-styles/test/typography-utils.js
  packages/edit-site/src/components/global-styles/test/use-global-styles-output.js
  packages/edit-site/src/components/global-styles/typography-panel.js
  packages/edit-site/src/components/global-styles/typography-utils.js
  packages/edit-site/src/components/global-styles/use-global-styles-output.js
  phpunit/block-supports/typography-test.php
  phpunit/data/themedir1/block-theme-child-with-fluid-typography/theme.json
Labels: [Type] Bug, [Feature] Typography

#43486 [Mobile] - React Native 0.69.4 Upgrade - Android
  packages/edit-post/src/editor.native.js
  packages/react-native-aztec/android/build.gradle
  packages/react-native-bridge/android/react-native-bridge/build.gradle
  packages/react-native-bridge/android/react-native-bridge/src/main/java/org/wordpress/mobile/WPAndroidGlue/WPAndroidGlueCode.java
  packages/react-native-editor/android/app/build.gradle
  packages/react-native-editor/android/app/src/debug/AndroidManifest.xml
  packages/react-native-editor/android/app/src/main/AndroidManifest.xml
  packages/react-native-editor/android/app/src/main/java/com/gutenberg/MainActivity.java
  packages/react-native-editor/android/app/src/main/java/com/gutenberg/newarchitecture/MainApplicationReactNativeHost.java
  packages/react-native-editor/android/app/src/main/java/com/gutenberg/newarchitecture/components/MainComponentsRegistry.java
  packages/react-native-editor/android/app/src/main/java/com/gutenberg/newarchitecture/modules/MainApplicationTurboModuleManagerDelegate.java
  packages/react-native-editor/android/app/src/main/jni/Android.mk
  packages/react-native-editor/android/app/src/main/jni/MainApplicationModuleProvider.cpp
  packages/react-native-editor/android/app/src/main/jni/MainApplicationModuleProvider.h
  packages/react-native-editor/android/app/src/main/jni/MainApplicationTurboModuleManagerDelegate.cpp
  packages/react-native-editor/android/app/src/main/jni/MainApplicationTurboModuleManagerDelegate.h
  packages/react-native-editor/android/app/src/main/jni/MainComponentsRegistry.cpp
  packages/react-native-editor/android/app/src/main/jni/MainComponentsRegistry.h
  packages/react-native-editor/android/app/src/main/jni/OnLoad.cpp
  packages/react-native-editor/android/app/src/main/res/drawable/rn_edit_text_material.xml
  packages/react-native-editor/android/app/src/main/res/values/styles.xml
  packages/react-native-editor/android/build.gradle
  packages/react-native-editor/android/gradle.properties
  packages/react-native-editor/android/settings.gradle
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS

#44855 Data: Refactor 'withDispatch' tests to use RTL
  packages/data/src/components/with-dispatch/test/index.js
Labels: [Type] Enhancement, [Package] Data

#44809 Fix list outdents on Enter in quote block
  packages/block-library/src/list-item/hooks/use-outdent-list-item.js
  test/e2e/specs/editor/blocks/list.spec.js
Labels: [Block] Quote, Backport to WP Beta/RC, First-time Contributor

#44869 Block Editor: Refactor `ColorPaletteControl` tests to RTL
  packages/block-editor/src/components/colors-gradients/test/control.js
Labels: [Type] Enhancement, [Package] Block editor

#44870 Block Editor: Refactor `ColorPalette` tests to RTL
  packages/block-editor/src/components/color-palette/test/__snapshots__/control.js.snap
  packages/block-editor/src/components/color-palette/test/control.js
Labels: [Type] Enhancement, [Package] Block editor

#44871 Block Editor: Refactor `useBlockSync` tests to RTL
  packages/block-editor/src/components/provider/test/use-block-sync.js
Labels: [Type] Enhancement, [Package] Block editor

#44872 Editor: Refactor PostTypeSupportCheck test to use RTL
  packages/editor/src/components/post-type-support-check/test/index.js
Labels: [Type] Enhancement, [Package] Editor

#44828 Fix: PHP 8.1 Deprecation messages
  lib/compat/plugin/edit-site-routes-backwards-compat.php
Labels: [Type] Code Quality

#44873 cleanForSlug: Replace multiple hyphens with a single one
  packages/url/src/clean-for-slug.js
  packages/url/src/test/index.js
Labels: [Type] Bug, [Package] Url

#44754 Combine stale issue gardening workflows into one.
  .github/workflows/stale-issue-add-needs-testing.yml
  .github/workflows/stale-issue-flaky-test.yml
  .github/workflows/stale-issue-gardening.yml
  .github/workflows/stale-issue-mark-stale.yml
  .github/workflows/stale-issue-needs-info.yml
Labels: [Type] Project Management

#44867 Update visually hidden docs to mention stacking context
  packages/components/CHANGELOG.md
  packages/components/src/visually-hidden/README.md
Labels: [Package] Components, [Type] User Documentation

#44887 wp-env: Use case insensitive regex when checking WP version string
  packages/env/lib/download-wp-phpunit.js
Labels: [Type] Bug, [Priority] High, Automated Testing, [Package] Env

#44890 Cherry Pick Script: Restore retrieval of merge_commit_sha
  bin/cherry-pick.mjs
Labels: [Type] Bug, Developer Experience, Backport to Gutenberg RC

#44779 Fix the block toolbar styling when the 'Show button text labels' preference is enabled
  packages/block-editor/src/components/block-mover/style.scss
  packages/block-editor/src/components/block-toolbar/style.scss
Labels: Accessibility (a11y), [Package] Block editor

#44590 FontSizePicker: Fix header order in RTL languages
  packages/components/CHANGELOG.md
  packages/components/src/font-size-picker/styles.ts
Labels: [Type] Bug, [Package] Components, Global Styles

#44865 Use inert attribute instead of useDisabled
  lib/compat/wordpress-6.2/script-loader.php
  lib/load.php
  package-lock.json
  package.json
  packages/block-editor/src/components/block-preview/auto.js
  packages/block-editor/src/components/block-preview/live.js
  packages/block-editor/src/components/block-preview/test/index.js
  packages/block-editor/src/components/block-tools/back-compat.js
  packages/block-library/src/comments/edit/placeholder.js
  packages/block-library/src/post-comments-form/form.js
  packages/block-library/src/table-of-contents/edit.js
  packages/components/src/disabled/index.tsx
  packages/components/src/disabled/test/index.tsx
  packages/compose/README.md
  packages/compose/src/hooks/use-disabled/index.js
  packages/compose/src/hooks/use-disabled/index.ts
  packages/compose/src/hooks/use-disabled/test/index.js
  packages/scripts/scripts/check-licenses.js
  tools/webpack/packages.js
Labels: [Type] Bug

#44895 ESLint: Fix `jest-dom/prefer-enabled-disabled` rule violations
  packages/components/src/button/test/index.js
  packages/editor/src/components/post-preview-button/test/index.js
  test/e2e/specs/widgets/customizing-widgets.spec.js
Labels: [Type] Code Quality

#44896 ESLint: Fix `jest-dom/prefer-empty` rule violations
  packages/block-directory/src/components/downloadable-blocks-list/test/index.js
  packages/block-editor/src/components/panel-color-settings/test/index.js
  packages/block-editor/src/components/responsive-block-control/test/index.js
  packages/components/src/shortcut/test/index.tsx
  packages/components/src/toolbar-group/test/index.js
Labels: [Type] Code Quality

#44892 Lodash: Refactor away from `_.every()` in block editor
  packages/block-editor/src/components/colors-gradients/control.js
  packages/block-editor/src/components/colors-gradients/panel-color-gradient-settings.js
  packages/block-editor/src/hooks/utils.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Block editor

#44894 Lodash: Refactor away from `_.every()` in block library
  packages/block-library/src/gallery/transforms.js
  packages/block-library/src/gallery/v1/edit.js
  packages/block-library/src/image/transforms.js
  packages/block-library/src/table/state.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Block library, [Block] Image, [Block] Gallery, [Block] Table

#44668 Components: Try color theming
  docs/manifest.json
  packages/components/CHANGELOG.md
  packages/components/CONTRIBUTING.md
  packages/components/src/button/style.scss
  packages/components/src/index.js
  packages/components/src/style.scss
  packages/components/src/theme/README.md
  packages/components/src/theme/index.tsx
  packages/components/src/theme/stories/index.tsx
  packages/components/src/theme/styles.ts
  packages/components/src/theme/test/index.tsx
  packages/components/src/theme/types.ts
  packages/components/src/utils/theme-variables.scss
Labels: [Package] Components

#44882 Performance tests: Install locked dependencies without resolution
  bin/plugin/commands/performance.js
Labels: [Type] Build Tooling, [Type] Performance

#44910 Ensure stale github actions workflow only runs for particular issue labels
  .github/workflows/stale-issue-gardening.yml
Labels: [Type] Project Management

#44858 Spacing Sizes Control: Try improving layout spacing
  packages/block-editor/src/components/spacing-sizes-control/spacing-input-control.js
  packages/block-editor/src/components/spacing-sizes-control/style.scss
Labels: [Type] Bug, [Feature] UI Components, Backport to WP Beta/RC, [Feature] Design Tools

#44902 ESLint: Fix `jest-dom/prefer-to-have-class` rule violations
  packages/components/src/date-time/time/test/index.tsx
Labels: [Type] Code Quality

#44901 Lodash: Refactor away from `_.every()`
  .eslintrc.js
  packages/blocks/src/api/utils.js
  packages/components/src/higher-order/with-fallback-styles/index.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Components, [Package] Blocks

#44739 Adds content locking to navigation block
  docs/reference-guides/core-blocks.md
  packages/block-editor/src/components/block-lock/modal.js
  packages/block-library/src/navigation/block.json
  packages/block-library/src/navigation/edit/index.js
  packages/block-library/src/navigation/edit/inner-blocks.js
Labels: [Type] Enhancement, [Block] Navigation, [Feature] Block Locking

#44573 SuggestionList: use requestAnimationFrame instead of setTimeout when scrolling selected item into view
  packages/components/CHANGELOG.md
  packages/components/src/form-token-field/suggestions-list.tsx
Labels: [Type] Enhancement, [Feature] UI Components, [Package] Components

#44914 Fix typo for word occurred
  packages/block-library/src/navigation/edit/index.js
  packages/edit-navigation/src/store/actions.js
Labels: [Type] Task, [Package] Block library

#44832 Mobile - useResizeObserver - Migrate from React Test Render to React Native Testing Library
  packages/compose/src/hooks/use-resize-observer/index.native.js
  packages/compose/src/hooks/use-resize-observer/test/index.native.js
Labels: Mobile App - i.e. Android or iOS

#44923 Editor: Refactor PostTextEditor tests to RTL
  packages/editor/src/components/post-text-editor/test/index.js
Labels: [Type] Enhancement, [Package] Editor

#44912 Compose: Refactor useMediaQuery tests to RTL
  packages/compose/src/hooks/use-media-query/test/index.js
Labels: [Type] Enhancement, [Package] Compose

#44647 Refactor dropzone for unmodified default blocks with `useBlockDropZone` and `InsertionPoint`
  docs/reference-guides/data/data-core-block-editor.md
  packages/block-editor/CHANGELOG.md
  packages/block-editor/src/components/block-popover/drop-zone.js
  packages/block-editor/src/components/block-popover/style.scss
  packages/block-editor/src/components/block-tools/insertion-point.js
  packages/block-editor/src/components/index.js
  packages/block-editor/src/components/list-view/use-list-view-drop-zone.js
  packages/block-editor/src/components/use-block-drop-zone/index.js
  packages/block-editor/src/components/use-block-drop-zone/test/index.js
  packages/block-editor/src/components/use-on-block-drop/index.js
  packages/block-editor/src/components/use-on-block-drop/types.ts
  packages/block-editor/src/store/actions.js
  packages/block-editor/src/store/reducer.js
  packages/block-editor/src/utils/math.js
  packages/block-library/CHANGELOG.md
  packages/block-library/src/paragraph/drop-zone.js
  packages/block-library/src/paragraph/edit.js
  packages/block-library/src/paragraph/editor.scss
  packages/components/src/index.js
  packages/e2e-test-utils-playwright/src/editor/index.ts
  packages/e2e-test-utils-playwright/src/editor/set-content.ts
  packages/e2e-test-utils-playwright/src/page-utils/drag-files.ts
  packages/e2e-test-utils-playwright/src/test.ts
  test/e2e/specs/editor/blocks/paragraph.spec.js
Labels: [Type] Enhancement, [Package] Block editor

#44929 Migrate `nonce.test.js` to Playwright
  packages/e2e-tests/plugins/nonce.php
  packages/e2e-tests/specs/editor/plugins/nonce.test.js
  test/e2e/specs/editor/plugins/nonce.spec.js
Labels: Automated Testing

#44928 ESLint: Fix `jest-dom/prefer-to-have-style` rule violations
  packages/components/src/form-file-upload/test/index.tsx
Labels: [Type] Code Quality

#44930 ESLint: Fix `jest-dom/prefer-to-have-attribute` rule violations
  packages/a11y/src/test/add-container.test.js
  packages/block-directory/src/components/downloadable-block-list-item/test/index.js
  packages/block-editor/src/components/link-control/test/index.js
  packages/components/src/disabled/test/index.tsx
  packages/components/src/dropdown/test/index.js
  packages/components/src/input-control/test/index.js
  packages/components/src/panel/test/body.js
  packages/components/src/sandbox/test/index.js
  packages/components/src/toolbar-group/test/index.js
  packages/components/src/ui/shortcut/test/index.js
  packages/compose/src/hooks/use-disabled/test/index.js
Labels: [Type] Code Quality

#44933 E2E Tests: Make attributes and innerblocks optional in insertBlock
  packages/e2e-test-utils-playwright/src/editor/insert-block.ts
Labels: Automated Testing, [Type] Code Quality

#44938 Add `.eslintcache` to `.gitignore`
  .gitignore
Labels: [Priority] Low, [Type] Build Tooling

#44936 Documentation: Remove duplicate img tag
  docs/reference-guides/filters/editor-filters.md
Labels: [Type] Developer Documentation

#44610 [RNMobile] Upgrade compile and target sdk version to Android API 31
  package-lock.json
  packages/react-native-aztec/android/build.gradle
  packages/react-native-aztec/android/src/main/res/values/template-dimens.xml
  packages/react-native-bridge/android/react-native-bridge/build.gradle
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/android/app/src/main/AndroidManifest.xml
  packages/react-native-editor/android/build.gradle
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS, Mobile App - Automation

#44715 Storybook: Add theme switcher tool
  storybook/decorators/with-theme.js
  storybook/preview.js
Labels: Storybook

#43071 Style engine: permit wp custom CSS properties
  packages/style-engine/class-wp-style-engine-css-declarations.php
  phpunit/style-engine/class-wp-style-engine-css-declarations-test.php
Labels: [Type] Enhancement, [Package] Style Engine

#44958 Fluid Typography: add missing style.css file to test theme
  phpunit/data/themedir1/block-theme-child-with-fluid-typography/style.css
Labels: [Type] Code Quality, [Feature] Typography

#44962 Update 6.1 CSS filter to match core
  lib/compat/wordpress-6.1/blocks.php
Labels: [Type] Code Quality, [Package] Style Engine

#44940 Update the names of filters for global styles data
  docs/reference-guides/filters/global-styles-filters.md
  lib/compat/wordpress-6.1/class-wp-theme-json-resolver-6-1.php
  lib/experimental/class-wp-theme-json-resolver-gutenberg.php
Labels: Backport from WordPress Core

#44974 Rename header and sidebar components in edit-site
  packages/base-styles/_z-index.scss
  packages/block-editor/src/components/preview-options/style.scss
  packages/e2e-test-utils/src/inserter.js
  packages/e2e-test-utils/src/list-view.js
  packages/e2e-test-utils/src/site-editor.js
  packages/e2e-tests/specs/site-editor/multi-entity-saving.test.js
  packages/e2e-tests/specs/site-editor/settings-sidebar.test.js
  packages/e2e-tests/specs/site-editor/site-editor-inserter.test.js
  packages/edit-site/src/components/block-editor/block-inspector-button.js
  packages/edit-site/src/components/block-editor/index.js
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/header-edit-mode/document-actions/index.js
  packages/edit-site/src/components/header-edit-mode/document-actions/style.scss
  packages/edit-site/src/components/header-edit-mode/index.js
  packages/edit-site/src/components/header-edit-mode/mode-switcher/index.js
  packages/edit-site/src/components/header-edit-mode/more-menu/copy-content-menu-item.js
  packages/edit-site/src/components/header-edit-mode/more-menu/index.js
  packages/edit-site/src/components/header-edit-mode/more-menu/site-export.js
  packages/edit-site/src/components/header-edit-mode/more-menu/welcome-guide-menu-item.js
  packages/edit-site/src/components/header-edit-mode/plugin-more-menu-item/index.js
  packages/edit-site/src/components/header-edit-mode/plugin-sidebar-more-menu-item/index.js
  packages/edit-site/src/components/header-edit-mode/style.scss
  packages/edit-site/src/components/header-edit-mode/tools-more-menu-group/index.js
  packages/edit-site/src/components/header-edit-mode/undo-redo/redo.js
  packages/edit-site/src/components/header-edit-mode/undo-redo/undo.js
  packages/edit-site/src/components/keyboard-shortcuts/index.js
  packages/edit-site/src/components/sidebar-edit-mode/constants.js
  packages/edit-site/src/components/sidebar-edit-mode/default-sidebar.js
  packages/edit-site/src/components/sidebar-edit-mode/global-styles-sidebar.js
  packages/edit-site/src/components/sidebar-edit-mode/index.js
  packages/edit-site/src/components/sidebar-edit-mode/navigation-menu-sidebar/index.js
  packages/edit-site/src/components/sidebar-edit-mode/navigation-menu-sidebar/navigation-inspector.js
  packages/edit-site/src/components/sidebar-edit-mode/navigation-menu-sidebar/navigation-menu.js
  packages/edit-site/src/components/sidebar-edit-mode/navigation-menu-sidebar/style.scss
  packages/edit-site/src/components/sidebar-edit-mode/plugin-sidebar/index.js
  packages/edit-site/src/components/sidebar-edit-mode/settings-header/index.js
  packages/edit-site/src/components/sidebar-edit-mode/settings-header/style.scss
  packages/edit-site/src/components/sidebar-edit-mode/style.scss
  packages/edit-site/src/components/sidebar-edit-mode/template-card/index.js
  packages/edit-site/src/components/sidebar-edit-mode/template-card/style.scss
  packages/edit-site/src/components/sidebar-edit-mode/template-card/template-actions.js
  packages/edit-site/src/components/sidebar-edit-mode/template-card/template-areas.js
  packages/edit-site/src/index.js
  packages/edit-site/src/style.scss
Labels: [Feature] Site Editor
