Repository WordPress/gutenberg, pull requests merged in 2022-02, with the labels that each got.

#38202 Rename `GUTENBERG_PHASE` to `IS_GUTENBERG_PLUGIN`
  .eslintrc.js
  docs/how-to-guides/feature-flags.md
  package.json
  packages/block-library/CHANGELOG.md
  packages/block-library/src/gallery/shared.js
  packages/block-library/src/index.js
  packages/block-library/src/navigation/edit/index.js
  packages/customize-widgets/CHANGELOG.md
  packages/customize-widgets/src/index.js
  packages/e2e-tests/config/gutenberg-phase.js
  packages/e2e-tests/config/is-gutenberg-plugin.js
  packages/e2e-tests/jest.config.js
  packages/e2e-tests/jest.performance.config.js
  packages/edit-navigation/src/index.js
  packages/edit-post/CHANGELOG.md
  packages/edit-post/src/index.js
  packages/edit-site/CHANGELOG.md
  packages/edit-site/src/index.js
  packages/edit-widgets/CHANGELOG.md
  packages/edit-widgets/src/index.js
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/README.md
  packages/eslint-plugin/docs/rules/gutenberg-phase.md
  packages/eslint-plugin/docs/rules/is-gutenberg-plugin.md
  packages/eslint-plugin/rules/__tests__/gutenberg-phase.js
  packages/eslint-plugin/rules/__tests__/is-gutenberg-plugin.js
  packages/eslint-plugin/rules/gutenberg-phase.js
  packages/eslint-plugin/rules/is-gutenberg-plugin.js
  test/integration/full-content/full-content.test.js
  test/unit/config/gutenberg-phase.js
  test/unit/config/is-gutenberg-plugin.js
  test/unit/jest.config.js
  tools/webpack/shared.js
Labels: [Type] Build Tooling, Gutenberg Plugin

#38282 Audio: Avoid error when locked
  packages/block-library/src/audio/edit.js
Labels: [Type] Bug, [Block] Audio

#38379 Update explanation of block.json file scanning
  packages/scripts/README.md
Labels: [Type] Documentation, [Package] Scripts

#38295 Code block: add `core/paragraph` in transforms object
  packages/block-library/src/code/transforms.js
Labels: [Type] Enhancement, [Block] Paragraph, [Block] Code

#38020 `ComboBox`: fix `reset` button's height
  packages/components/CHANGELOG.md
  packages/components/src/combobox-control/stories/index.js
  packages/components/src/combobox-control/style.scss
Labels: [Type] Bug, [Package] Components, Storybook

#38273 Update the minimum supported version to WordPress 5.8
  docs/how-to-guides/themes/create-block-theme.md
  gutenberg.php
  lib/blocks.php
  lib/class-wp-rest-block-editor-settings-controller.php
  lib/class-wp-rest-pattern-directory-controller.php
  lib/class-wp-rest-sidebars-controller.php
  lib/class-wp-rest-widget-types-controller.php
  lib/class-wp-rest-widgets-controller.php
  lib/class-wp-sidebar-block-editor-control.php
  lib/class-wp-widget-block.php
  lib/client-assets.php
  lib/compat.php
  lib/compat/wordpress-5.8.1/index.php
  lib/compat/wordpress-5.8/block-editor.php
  lib/compat/wordpress-5.8/block-patterns.php
  lib/compat/wordpress-5.8/blocks.php
  lib/compat/wordpress-5.8/class-wp-block-editor-context.php
  lib/compat/wordpress-5.8/index.php
  lib/compat/wordpress-5.8/utils.php
  lib/compat/wordpress-5.9/class-wp-theme-json-resolver-gutenberg.php
  lib/compat/wordpress-5.9/widget-render-api-endpoint/class-gb-rest-widget-render-endpoint-polyfill.php
  lib/compat/wordpress-5.9/widget-render-api-endpoint/index.php
  lib/editor-settings.php
  lib/experiments-page.php
  lib/full-site-editing/edit-site-page.php
  lib/global-styles.php
  lib/init.php
  lib/load.php
  lib/navigation-page.php
  lib/rest-api.php
  lib/widgets-api.php
  lib/widgets-customize.php
  lib/widgets-page.php
  lib/widgets.php
  packages/widgets/src/blocks/legacy-widget/index.php
  phpunit/class-block-editor-test.php
  phpunit/class-wp-rest-pattern-directory-controller-test.php
  phpunit/class-wp-theme-json-test.php
  phpunit/fixtures/rest-api/pattern-directory/browse-all.json
  phpunit/fixtures/rest-api/pattern-directory/browse-category-2.json
  phpunit/fixtures/rest-api/pattern-directory/browse-keyword-11.json
  phpunit/fixtures/rest-api/pattern-directory/search-button.json
Labels: [Type] Code Quality

#36778 Navigation: Try inheriting orientation in setup state.
  packages/block-library/src/navigation/editor.scss
Labels: [Type] Bug, [Block] Navigation

#38377 Declare package visibility to query URL handler apps
  packages/react-native-bridge/CHANGELOG.md
  packages/react-native-bridge/android/react-native-bridge/src/main/AndroidManifest.xml
Labels: Mobile App - i.e. Android or iOS, Mobile App - Automation

#38372 Changelog: append a generated list of first time contributors by PR label
  bin/plugin/commands/changelog.js
  bin/plugin/commands/test/__snapshots__/changelog.js.snap
  bin/plugin/commands/test/changelog.js
Labels: [Type] Build Tooling

#38402 Latest Posts: Avoid unnecessary re-renders
  packages/block-library/src/latest-posts/edit.js
Labels: [Type] Performance, [Block] Latest Posts

#38269 Add post author biography block
  docs/reference-guides/core-blocks.md
  lib/blocks.php
  packages/block-library/src/index.js
  packages/block-library/src/post-author-biography/block.json
  packages/block-library/src/post-author-biography/edit.js
  packages/block-library/src/post-author-biography/index.js
  packages/block-library/src/post-author-biography/index.php
  test/integration/fixtures/blocks/core__post-author-biography.html
  test/integration/fixtures/blocks/core__post-author-biography.json
  test/integration/fixtures/blocks/core__post-author-biography.parsed.json
  test/integration/fixtures/blocks/core__post-author-biography.serialized.html
Labels: New Block, [Block] Post Author

#37551 Update the Spinner design
  packages/base-styles/_variables.scss
  packages/block-editor/src/components/link-control/style.scss
  packages/components/CHANGELOG.md
  packages/components/src/spinner/README.md
  packages/components/src/spinner/index.js
  packages/components/src/spinner/stories/index.js
  packages/components/src/spinner/styles.js
  packages/components/src/spinner/styles/spinner-styles.js
  packages/components/src/utils/config-values.js
Labels: [Type] Enhancement, [Package] Components

#38324 Add transform between calendar and archives
  packages/block-library/src/calendar/index.js
  packages/block-library/src/calendar/transforms.js
Labels: [Type] Enhancement, [Block] Calendar

#38403 Tag Cloud: Add the style to the block.json file
  packages/block-library/src/tag-cloud/block.json
  packages/block-library/src/tag-cloud/index.php
Labels: [Block] Tag Cloud

#38388 Remove unused dependencies
  package-lock.json
  packages/block-directory/CHANGELOG.md
  packages/block-directory/package.json
  packages/block-editor/CHANGELOG.md
  packages/block-editor/package.json
  packages/block-library/CHANGELOG.md
  packages/block-library/package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/customize-widgets/CHANGELOG.md
  packages/customize-widgets/package.json
  packages/data/CHANGELOG.md
  packages/data/package.json
  packages/edit-navigation/CHANGELOG.md
  packages/edit-navigation/package.json
  packages/edit-post/CHANGELOG.md
  packages/edit-post/package.json
  packages/edit-site/CHANGELOG.md
  packages/edit-site/package.json
  packages/edit-widgets/CHANGELOG.md
  packages/edit-widgets/package.json
  packages/editor/CHANGELOG.md
  packages/editor/package.json
  packages/format-library/CHANGELOG.md
  packages/format-library/package.json
  packages/interface/CHANGELOG.md
  packages/interface/package.json
  packages/keyboard-shortcuts/CHANGELOG.md
  packages/keyboard-shortcuts/package.json
  packages/reusable-blocks/CHANGELOG.md
  packages/reusable-blocks/package.json
  packages/rich-text/CHANGELOG.md
  packages/rich-text/package.json
  packages/widgets/CHANGELOG.md
  packages/widgets/package.json
Labels: [Type] Code Quality, npm Packages

#37034 Block Editor: Handle the absence of href attrib in links
  packages/block-editor/src/components/link-control/link-preview.js
Labels: [Type] Bug, [Package] Block editor, [Feature] Link Editing

#38362 Cover block :Add back missing styles
  packages/block-library/src/cover/style.scss
Labels: [Type] Bug, [Block] Cover, Backport to WP Minor Release

#38399 Images: Try moving responsive rule to common.scss.
  packages/block-library/src/common.scss
  packages/block-library/src/image/style.scss
Labels: [Block] Image, [Block] Classic, CSS Styling

#38432 Remove the aria-label from the site title block
  packages/block-library/src/site-title/index.php
Labels: [Block] Site Title

#38424 Add Tip icon to library and use in the Tip component
  packages/components/src/tip/index.js
  packages/icons/src/index.js
  packages/icons/src/library/tip.js
Labels: [Package] Icons

#38352 WP Env: Fix infinite redirection with custom site URL
  packages/env/lib/wordpress.js
Labels: [Package] Env

#38419 Editor: Export FlatTermSelector and HierarchicalTermSelector
  packages/editor/CHANGELOG.md
  packages/editor/src/components/index.js
  packages/editor/src/components/post-taxonomies/README.md
Labels: [Type] Enhancement, [Package] Editor

#38418 [RNMobile] Remove end-to-end test of Gallery block
  docs/contributors/code/react-native/getting-started-react-native.md
  docs/contributors/code/react-native/osx-setup-guide.md
  packages/react-native-editor/__device-tests__/gutenberg-editor-gallery.test.js
Labels: Automated Testing, Mobile App - i.e. Android or iOS, Mobile App - Automation

#38344 Silence editor initialization act warnings triggered by asynchronous resolvers during unmount
  packages/block-library/src/block/test/edit.native.js
  packages/block-library/src/buttons/test/edit.native.js
  packages/block-library/src/cover/test/edit.native.js
  packages/block-library/src/embed/test/index.native.js
  packages/block-library/src/gallery/test/index.native.js
  packages/block-library/src/image/test/edit.native.js
  packages/block-library/src/missing/test/edit-integration.native.js
  packages/components/src/mobile/link-settings/test/edit.native.js
  packages/format-library/src/text-color/test/index.native.js
  packages/react-native-editor/src/test/index.test.js
  packages/rich-text/src/test/index.native.js
  test/native/helpers.js
Labels: [Type] Bug, Automated Testing, Mobile App - i.e. Android or iOS, Mobile App - Automation

#34666 Prompt to keep or replace Featured Image when replacing Image block media that is set as the Featured Image
  packages/block-library/src/image/edit.native.js
  packages/block-library/src/image/test/edit.native.js
  packages/react-native-editor/CHANGELOG.md
  test/native/setup.js
Labels: Mobile App - i.e. Android or iOS, [Block] Image

#38270 Navigation: Try fixing issue with submenu button in dark contexts.
  packages/block-library/src/navigation/editor.scss
Labels: [Type] Bug, [Block] Navigation

#38276 Mobile Release v1.70.1
  packages/react-native-aztec/package.json
  packages/react-native-bridge/CHANGELOG.md
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS

#38429 UnitControl: Add __unstableInputWidth to prop types
  packages/components/src/unit-control/types.ts
Labels: [Type] Bug, [Feature] UI Components

#38393 Avoid first time contributor workflows for bots
  packages/project-management-automation/lib/tasks/first-time-contributor-account-link/index.js
  packages/project-management-automation/lib/tasks/first-time-contributor-account-link/test/index.js
  packages/project-management-automation/lib/tasks/first-time-contributor-label/index.js
  packages/project-management-automation/lib/tasks/first-time-contributor-label/test/index.js
Labels: [Type] Bug, [Package] Project management automation

#38433 ColorIndicator: Add ts-nocheck to color indicator
  packages/components/src/color-indicator/index.js
Labels: [Feature] UI Components, [Type] Code Quality

#38467 First Time Contributor check: update args for getByUsername
  packages/project-management-automation/lib/tasks/first-time-contributor-account-link/index.js
  packages/project-management-automation/lib/tasks/first-time-contributor-account-link/test/index.js
Labels: [Type] Bug, Automated Testing

#38459 Don't ignore legitimate files when pasting mixed content
  packages/block-editor/src/components/rich-text/use-paste-handler.js
Labels: [Type] Bug, [Feature] Raw Handling, Browser Issues

#38431 Dropdown: Tweak prop destructuring to be TypeScript friendly
  packages/components/src/dropdown/index.js
Labels: [Type] Enhancement, [Feature] UI Components, [Type] Code Quality

#38430 ColorPicker: Fix typing errors
  packages/components/src/circular-option-picker/index.js
  packages/components/src/color-palette/index.js
  packages/components/src/color-picker/color-display.tsx
  packages/components/src/color-picker/color-input.tsx
  packages/components/src/color-picker/component.tsx
  packages/components/src/color-picker/use-deprecated-props.ts
  packages/components/tsconfig.json
Labels: [Feature] UI Components, [Type] Code Quality

#38469 Changelog: Add missed entries for recent typing fixes and tweaks
  packages/components/CHANGELOG.md
Labels: [Type] Documentation, [Feature] UI Components

#38397 Plugins: Add error boundary
  packages/e2e-tests/plugins/plugins-api/error-boundary.js
  packages/e2e-tests/plugins/plugins-error-boundary.php
  packages/e2e-tests/specs/editor/plugins/plugins-api.test.js
  packages/edit-post/src/components/layout/index.js
  packages/edit-site/src/components/editor/index.js
  packages/edit-widgets/src/components/layout/index.js
  packages/plugins/src/components/plugin-area/index.js
  packages/plugins/src/components/plugin-error-boundary/index.js
Labels: [Type] Enhancement, [Feature] Extensibility, [Feature] Plugins API, Developer Experience

#38452 Show the block supports for static blocks tutorial in the handbook
  docs/how-to-guides/block-tutorial/block-controls-toolbar-and-sidebar.md
  docs/how-to-guides/block-tutorial/block-supports-in-static-blocks.md
  docs/manifest.json
  docs/toc.json
Labels: [Type] Bug, [Type] Documentation

#38475 [Block Library - Site Tagline]: Disable line breaks
  packages/block-library/src/site-tagline/edit.js
Labels: [Package] Block library, [Block] Site Tagline

#38208 Add a high-level intro to styles in the block editor
  docs/explanations/architecture/assets/global-styles-input-output.excalidraw
  docs/explanations/architecture/assets/global-styles-input-output.png
  docs/explanations/architecture/key-concepts.md
  docs/explanations/architecture/styles.md
  docs/explanations/glossary.md
  docs/manifest.json
  docs/toc.json
Labels: [Type] Documentation, Global Styles, [Feature] Design Tools, CSS Styling

#38480 Provide proper path to image in the handbook
  docs/explanations/architecture/styles.md
Labels: [Type] Bug, [Type] Documentation

#38482 Testing: Minor retouches to test-create-block script
  .github/workflows/create-block.yml
  bin/test-create-block.sh
Labels: Automated Testing, [Type] Code Quality, [Package] Scripts, [Package] Create Block

#38486 Tests: Enable post type UI for templates and template parts
  packages/e2e-tests/mu-plugins/enable-templates-ui.php
Labels: [Type] Bug, Automated Testing

#38474 Mobile - Rich Text - Validate link colors
  packages/rich-text/src/component/index.native.js
Labels: Mobile App - i.e. Android or iOS, Mobile App - Automation

#38484 Chore: Fix: Remove isReversed usage.
  packages/edit-site/src/components/global-styles/palette.js
Labels: [Type] Code Quality

#38488 Mobile Release v1.70.2
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS

#36839 [Docs]: Add docs for `schema` in block API
  docs/reference-guides/block-api/block-transforms.md
Labels: [Feature] Block API, [Type] Documentation

#38476 Mobile Release v1.71.0
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS

#38503 Guard against undefined entity in site editor page setter
  packages/edit-site/src/store/actions.js
Labels: [Type] Bug, [Package] Edit Site

#38366 Ensure placeholder description is read by VoiceOver
  packages/components/src/placeholder/index.js
  packages/components/src/placeholder/style.scss
  packages/components/src/placeholder/test/index.js
Labels: Accessibility (a11y), Needs Accessibility Feedback

#38478 Search Block: Fix border radius reset
  packages/block-library/src/search/edit.js
Labels: [Type] Bug, [Feature] Design Tools

#38505 Image Block: explicitly check for false from strpos()
  packages/block-library/src/image/index.php
Labels: [Type] Code Quality, [Block] Image

#38463 Refactor Site Editor test utils to the `e2e-test-utils` package
  packages/e2e-test-utils/README.md
  packages/e2e-test-utils/src/click-on-more-menu-item.js
  packages/e2e-test-utils/src/disable-pre-publish-checks.js
  packages/e2e-test-utils/src/enable-pre-publish-checks.js
  packages/e2e-test-utils/src/index.js
  packages/e2e-test-utils/src/shared/types.d.ts
  packages/e2e-test-utils/src/site-editor.js
  packages/e2e-test-utils/src/switch-editor-mode-to.js
  packages/e2e-test-utils/src/toggle-more-menu.js
  packages/e2e-tests/specs/editor/plugins/block-variations.test.js
  packages/e2e-tests/specs/editor/various/fullscreen-mode.test.js
  packages/e2e-tests/specs/performance/site-editor.test.js
  packages/e2e-tests/specs/site-editor/document-settings.test.js
  packages/e2e-tests/specs/site-editor/multi-entity-editing.test.js
  packages/e2e-tests/specs/site-editor/multi-entity-saving.test.js
  packages/e2e-tests/specs/site-editor/settings-sidebar.test.js
  packages/e2e-tests/specs/site-editor/site-editor-export.test.js
  packages/e2e-tests/specs/site-editor/site-editor-inserter.test.js
  packages/e2e-tests/specs/site-editor/template-part.test.js
  packages/e2e-tests/specs/site-editor/template-revert.test.js
  packages/e2e-tests/specs/site-editor/utils.js
Labels: [Type] Enhancement, [Package] E2E Test Utils, First-time Contributor, [Package] E2E Tests

#37637 Navigation: Try always showing appender even when child is selected.
  packages/block-library/src/navigation/edit/index.js
  packages/block-library/src/navigation/edit/inner-blocks.js
  packages/block-library/src/navigation/editor.scss
Labels: [Block] Navigation

#38513 Most Used Terms: Update show terms condition
  packages/editor/src/components/post-taxonomies/most-used-terms.js
Labels: [Type] Enhancement, [Feature] Document Settings, [Package] Editor

#37649 [Block Library]: Add new `Read More` block (post link)
  docs/reference-guides/core-blocks.md
  lib/blocks.php
  packages/block-library/src/index.js
  packages/block-library/src/read-more/block.json
  packages/block-library/src/read-more/edit.js
  packages/block-library/src/read-more/index.js
  packages/block-library/src/read-more/index.php
  packages/block-library/src/read-more/style.scss
  packages/block-library/src/style.scss
  test/integration/fixtures/blocks/core__read-more.html
  test/integration/fixtures/blocks/core__read-more.json
  test/integration/fixtures/blocks/core__read-more.parsed.json
  test/integration/fixtures/blocks/core__read-more.serialized.html
Labels: New Block, [Package] Block library

#38514 Update theme support docs
  docs/how-to-guides/themes/theme-support.md
Labels: [Type] Documentation

#38517 Fix latest posts excerpt escaping
  packages/block-library/src/latest-posts/index.php
Labels: [Type] Regression, [Block] Latest Posts

#38179 Consolidate select menus dropdown in Nav block code
  packages/block-library/src/navigation/edit/existing-menus-options.js
  packages/block-library/src/navigation/edit/index.js
  packages/block-library/src/navigation/edit/navigation-menu-selector.js
  packages/block-library/src/navigation/edit/placeholder/index.js
Labels: [Type] Code Quality, [Block] Navigation

#38519 Fix escaping to consider addition of pagination arrow in Query Loop
  packages/block-library/src/query-pagination-next/index.php
  packages/block-library/src/query-pagination-previous/index.php
Labels: [Type] Regression, [Block] Query Pagination

#37602 Migrate post privacy confirmation from `confirm()` to `ConfirmDialog`
  packages/e2e-tests/specs/editor/various/post-visibility.test.js
  packages/editor/src/components/post-visibility/index.js
Labels: [Package] Components, [Feature] Component System

#38250 Tutorial: Create your First App with Gutenberg Data
  docs/how-to-guides/data-basics/1-setup.md
  docs/how-to-guides/data-basics/2-building-a-list-of-pages.md
  docs/how-to-guides/data-basics/README.md
  docs/how-to-guides/data-basics/media/finished-app.jpg
  docs/how-to-guides/data-basics/media/list-of-pages/fetch-the-data.jpg
  docs/how-to-guides/data-basics/media/list-of-pages/filter-field.jpg
  docs/how-to-guides/data-basics/media/list-of-pages/filter.jpg
  docs/how-to-guides/data-basics/media/list-of-pages/indicator.jpg
  docs/how-to-guides/data-basics/media/list-of-pages/make-a-table.jpg
  docs/how-to-guides/data-basics/media/list-of-pages/no-results.jpg
  docs/how-to-guides/data-basics/media/list-of-pages/pages-list.jpg
  docs/how-to-guides/data-basics/media/list-of-pages/part1-finished.jpg
  docs/how-to-guides/data-basics/media/list-of-pages/simple-list.jpg
  docs/how-to-guides/data-basics/media/list-of-pages/unclear-status.jpg
  docs/how-to-guides/data-basics/media/setup/hello-from-js.jpg
Labels: [Type] Documentation, [Package] Core data

#38485 Add: End to end tests for style variations.
  .wp-env.json
  lib/compat/wordpress-6.0/class-gutenberg-rest-global-styles-controller.php
  packages/e2e-test-utils/README.md
  packages/e2e-test-utils/src/index.js
  packages/e2e-test-utils/src/site-editor.js
  packages/e2e-tests/specs/site-editor/style-variations.test.js
  packages/e2e-tests/themes/style-variations/block-templates/index.html
  packages/e2e-tests/themes/style-variations/index.php
  packages/e2e-tests/themes/style-variations/style.css
  packages/e2e-tests/themes/style-variations/styles/pink.json
  packages/e2e-tests/themes/style-variations/styles/yellow.json
  packages/e2e-tests/themes/style-variations/theme.json
Labels: Automated Testing

#38531 Scripts: Fix copypasta typo in README file
  packages/scripts/README.md
Labels: [Type] Documentation, [Package] Scripts, First-time Contributor

#38530 Adding the "env" script when --wp-env or wpEnv is present.
  packages/create-block/CHANGELOG.md
  packages/create-block/README.md
  packages/create-block/lib/init-package-json.js
  packages/create-block/lib/scaffold.js
Labels: [Type] Enhancement, [Package] Create Block, Developer Experience

#38225 ESLint Plugin: Add flanking whitespace and hyphenated range rules
  packages/eslint-plugin/README.md
  packages/eslint-plugin/configs/custom.js
  packages/eslint-plugin/docs/rules/i18n-hyphenated-range.md
  packages/eslint-plugin/docs/rules/i18n-no-flanking-whitespace.md
  packages/eslint-plugin/rules/__tests__/i18n-hyphenated-range.js
  packages/eslint-plugin/rules/__tests__/i18n-no-flanking-whitespace.js
  packages/eslint-plugin/rules/i18n-hyphenated-range.js
  packages/eslint-plugin/rules/i18n-no-flanking-whitespace.js
Labels: Internationalization (i18n), [Package] ESLint plugin, [Type] New API

#37807 Docs: Move design docs to user interface explanations
  docs/contributors/design/reference.md
  docs/explanations/user-interface/README.md
  docs/explanations/user-interface/animation.md
  docs/explanations/user-interface/block-design.md
  docs/explanations/user-interface/design-resources.md
  docs/how-to-guides/designers/README.md
  docs/how-to-guides/designers/assets/advanced-settings-do.png
  docs/how-to-guides/designers/assets/block-controls-do.png
  docs/how-to-guides/designers/assets/block-controls-dont.png
  docs/how-to-guides/designers/assets/block-descriptions-do.png
  docs/how-to-guides/designers/assets/block-descriptions-dont.png
  docs/how-to-guides/designers/assets/blocks-do.png
  docs/how-to-guides/designers/assets/blocks-dont.png
  docs/how-to-guides/designers/assets/placeholder-do.png
  docs/how-to-guides/designers/assets/placeholder-dont.png
  docs/manifest.json
  docs/toc.json
Labels: [Type] Documentation

#37654 Move backward compatibility docs under Contributors Guide
  docs/contributors/code/backward-compatibility.md
  docs/contributors/code/deprecations.md
  docs/manifest.json
  docs/toc.json
  packages/components/CONTRIBUTING.md
Labels: [Type] Documentation

#38477 Site Editor: Update footer breadcrumb text
  packages/edit-site/src/components/editor/index.js
Labels: [Type] Enhancement, [Feature] Site Editor

#38521 Update pagination icons, add new query title and post terms icons
  packages/block-library/src/post-terms/index.js
  packages/block-library/src/query-title/index.js
  packages/icons/CHANGELOG.md
  packages/icons/src/index.js
  packages/icons/src/library/post-terms.js
  packages/icons/src/library/query-pagination-next.js
  packages/icons/src/library/query-pagination-numbers.js
  packages/icons/src/library/query-pagination-previous.js
  packages/icons/src/library/query-pagination.js
  packages/icons/src/library/query-title.js
Labels: [Package] Icons

#38451 Site Editor: Remove extra div on post content
  packages/block-library/src/post-content/edit.js
Labels: [Feature] Full Site Editing, [Feature] Site Editor

#38326 Fix: npm script error on Windows (api-docs:ref)
  bin/api-docs/update-api-docs.js
Labels: [Type] Documentation, [Type] Build Tooling, Gutenberg Plugin

#38564 Remove APIs deprecated on WordPress 5.4
  docs/reference-guides/data/data-core-editor.md
  packages/block-editor/README.md
  packages/block-editor/src/components/index.js
  packages/block-editor/src/components/media-placeholder/index.js
  packages/block-editor/src/components/preserve-scroll-in-reorder/index.js
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/components/rich-text/index.native.js
  packages/block-editor/src/components/rich-text/utils.js
  packages/components/src/button/deprecated.js
  packages/components/src/button/index.js
  packages/components/src/modal/index.js
  packages/data/src/plugins/controls/index.js
  packages/data/src/plugins/index.js
  packages/data/src/registry.js
  packages/editor/src/components/deprecated.js
  packages/editor/src/store/selectors.js
  packages/nux/src/index.js
Labels: [Type] Code Quality, Needs Dev Note

#38566 [Block Library]: Add transform between `Tag Cloud` and `Categories`
  packages/block-library/src/tag-cloud/index.js
  packages/block-library/src/tag-cloud/transforms.js
Labels: [Type] Enhancement, [Package] Block library, [Block] Categories, [Block] Tag Cloud

#38541 Add `cx` as a dependency of `useMemo` across `@wordpress/components` package
  packages/components/CHANGELOG.md
  packages/components/src/base-field/hook.js
  packages/components/src/card/card-body/hook.js
  packages/components/src/card/card-divider/hook.js
  packages/components/src/card/card-footer/hook.js
  packages/components/src/card/card-header/hook.js
  packages/components/src/card/card-media/hook.js
  packages/components/src/card/card/component.js
  packages/components/src/card/card/hook.js
  packages/components/src/elevation/hook.js
  packages/components/src/flex/flex/hook.js
  packages/components/src/grid/hook.js
  packages/components/src/item-group/item/hook.ts
  packages/components/src/item-group/stories/index.js
  packages/components/src/navigator/navigator-provider/component.tsx
  packages/components/src/navigator/navigator-screen/component.tsx
  packages/components/src/scrollable/hook.js
  packages/components/src/surface/hook.js
  packages/components/src/text/hook.js
  packages/components/src/toggle-group-control/toggle-group-control/component.tsx
  packages/components/src/tools-panel/tools-panel-header/hook.ts
  packages/components/src/tools-panel/tools-panel-item/hook.ts
  packages/components/src/tools-panel/tools-panel/hook.ts
  packages/components/src/truncate/hook.js
  packages/components/src/utils/hooks/stories/use-cx.js
Labels: [Type] Bug, [Package] Components, [Feature] Component System

#38149 `Navigator`: add focus restoration
  packages/components/CHANGELOG.md
  packages/components/src/navigator/navigator-provider/README.md
  packages/components/src/navigator/navigator-provider/component.tsx
  packages/components/src/navigator/navigator-screen/component.tsx
  packages/components/src/navigator/stories/index.js
  packages/components/src/navigator/test/index.js
  packages/components/src/navigator/types.ts
  packages/edit-post/src/components/preferences-modal/index.js
  packages/edit-site/src/components/global-styles/navigation-button.js
Labels: [Type] Enhancement, [Package] Components, [Feature] Component System

#38535 Introduce the `customScripts` property to allow templates to define additional scripts in package.json
  packages/create-block/CHANGELOG.md
  packages/create-block/README.md
  packages/create-block/lib/init-package-json.js
  packages/create-block/lib/scaffold.js
  packages/create-block/lib/templates.js
Labels: Good First Review, [Type] New API, [Package] Create Block, Developer Experience

#38100 Contrast Checker: check link color
  packages/block-editor/src/components/contrast-checker/index.js
  packages/block-editor/src/components/contrast-checker/test/index.js
  packages/block-editor/src/hooks/color-panel.js
Labels: [Type] Enhancement, [Status] In Progress, [a11y] Color Contrast, [Feature] Design Tools

#38590 Include tests-mysql port in dev:start output
  packages/env/lib/commands/start.js
Labels: [Type] Enhancement, [Package] Env

#38596 Build workflow: Don't update version in readme.txt
  .github/workflows/build-plugin-zip.yml
Labels: [Type] Build Tooling

#34027 Color Block Support: Switch to ToolsPanel for displaying UI
  packages/block-editor/src/components/block-inspector/index.js
  packages/block-editor/src/components/colors-gradients/tools-panel-color-dropdown.js
  packages/block-editor/src/components/index.js
  packages/block-editor/src/components/inspector-controls/block-support-tools-panel.js
  packages/block-editor/src/components/inspector-controls/groups.js
  packages/block-editor/src/hooks/border-color.js
  packages/block-editor/src/hooks/color-panel.js
  packages/block-editor/src/hooks/color.js
  packages/block-editor/src/hooks/color.scss
  packages/block-editor/src/style.scss
  packages/e2e-test-utils/README.md
  packages/e2e-test-utils/src/index.js
  packages/e2e-test-utils/src/open-color-tools-panel-menu.js
  packages/e2e-tests/specs/editor/blocks/heading.test.js
  packages/e2e-tests/specs/editor/various/keep-styles-on-block-transforms.test.js
Labels: [Type] Enhancement, [Feature] Block API, Global Styles, [Feature] Design Tools

#38511 Block Support: Update color panel default controls
  packages/block-library/src/button/block.json
  packages/block-library/src/code/block.json
  packages/block-library/src/column/block.json
  packages/block-library/src/columns/block.json
  packages/block-library/src/comment-author-avatar/block.json
  packages/block-library/src/comment-author-name/block.json
  packages/block-library/src/comment-content/block.json
  packages/block-library/src/comment-date/block.json
  packages/block-library/src/comment-edit-link/block.json
  packages/block-library/src/comment-reply-link/block.json
  packages/block-library/src/comments-pagination-next/block.json
  packages/block-library/src/comments-pagination-previous/block.json
  packages/block-library/src/comments-pagination/block.json
  packages/block-library/src/comments-query-loop/block.json
  packages/block-library/src/group/block.json
  packages/block-library/src/heading/block.json
  packages/block-library/src/list/block.json
  packages/block-library/src/media-text/block.json
  packages/block-library/src/paragraph/block.json
  packages/block-library/src/post-author-biography/block.json
  packages/block-library/src/post-author-name/block.json
  packages/block-library/src/post-author/block.json
  packages/block-library/src/post-comments-count/block.json
  packages/block-library/src/post-comments-form/block.json
  packages/block-library/src/post-comments-link/block.json
  packages/block-library/src/post-comments/block.json
  packages/block-library/src/post-date/block.json
  packages/block-library/src/post-excerpt/block.json
  packages/block-library/src/post-terms/block.json
  packages/block-library/src/post-title/block.json
  packages/block-library/src/preformatted/block.json
  packages/block-library/src/pullquote/block.json
  packages/block-library/src/query-pagination-next/block.json
  packages/block-library/src/query-pagination-previous/block.json
  packages/block-library/src/query-pagination/block.json
  packages/block-library/src/query-title/block.json
  packages/block-library/src/query/block.json
  packages/block-library/src/search/block.json
  packages/block-library/src/site-tagline/block.json
  packages/block-library/src/site-title/block.json
  packages/block-library/src/table/block.json
  packages/block-library/src/term-description/block.json
  packages/block-library/src/verse/block.json
  packages/e2e-test-utils/README.md
  packages/e2e-test-utils/src/index.js
  packages/e2e-test-utils/src/open-color-tools-panel-menu.js
  packages/e2e-tests/specs/editor/blocks/heading.test.js
  packages/e2e-tests/specs/editor/various/keep-styles-on-block-transforms.test.js
Labels: [Type] Enhancement, [Feature] Design Tools

#38605 Fix components package README contributing link and duplicate footers
  packages/components/README.md
  packages/docgen/README.md
  packages/edit-widgets/README.md
  packages/interface/README.md
Labels: [Type] Documentation

#38584 Scripts: Improve the handling for build entry points
  packages/scripts/utils/config.js
Labels: [Type] Bug, [Package] Scripts, Developer Experience

#38358 Accessibility improvements for List View Part 2
  packages/block-editor/src/components/list-view/block-contents.js
  packages/block-editor/src/components/list-view/block-select-button.js
  packages/block-editor/src/components/list-view/block.js
  packages/components/CHANGELOG.md
  packages/components/src/tree-grid/index.js
Labels: [Type] Enhancement, Accessibility (a11y), [Type] Breaking Change, [Package] Components, Needs Accessibility Feedback, [Feature] List View, [Package] Block editor, [a11y] Keyboard & Focus

#38609 Fix relative links in main package READMEs so that they work in npm
  packages/block-serialization-default-parser/README.md
  packages/block-serialization-spec-parser/README.md
  packages/blocks/README.md
  packages/core-data/README.md
  packages/create-block-tutorial-template/README.md
  packages/create-block/README.md
  packages/data-controls/README.md
  packages/data/README.md
  packages/edit-post/README.md
  packages/edit-post/src/components/header/plugin-more-menu-item/index.js
  packages/element/README.md
  packages/eslint-plugin/README.md
  packages/notices/README.md
  packages/react-native-editor/README.md
  packages/scripts/README.md
  packages/viewport/README.md
Labels: [Type] Documentation

#38612 Template Editing Mode: Fix horizontal scrollbar
  packages/edit-post/src/components/visual-editor/style.scss
Labels: [Type] Bug, [Feature] Template Editing Mode

#38565 Add more detailed instructions to point release docs
  docs/contributors/code/release.md
Labels: [Type] Documentation

#38607 Page for Posts: Display notice in template panel
  lib/full-site-editing/edit-site-page.php
  packages/edit-post/src/components/sidebar/template/actions.js
  packages/edit-post/src/components/sidebar/template/index.js
  packages/edit-post/src/components/sidebar/template/style.scss
Labels: [Type] Bug, General Interface

#38585 Editor store: remove createUndoLevel and refreshPost actions
  docs/reference-guides/data/data-core-editor.md
  packages/editor/CHANGELOG.md
  packages/editor/src/store/actions.js
  packages/editor/src/store/test/actions.js
Labels: [Package] Editor

#38616 [Inserter]: Prioritize core blocks over core block variations when they have the same rank
  packages/block-editor/src/components/inserter/search-items.js
Labels: [Type] Enhancement, [Feature] Inserter

#36202 [Block: Group] Add transform to row variation
  packages/block-library/src/group/variations.js
Labels: [Type] Enhancement, [Block] Group

#38626 Update attributes.md
  docs/getting-started/create-block/attributes.md
Labels: [Type] Documentation, First-time Contributor

#38604 Heading: Omit anchor when transforming to paragraph
  packages/block-library/src/heading/transforms.js
  packages/e2e-tests/specs/editor/various/__snapshots__/keep-styles-on-block-transforms.test.js.snap
Labels: [Type] Enhancement, [Block] Heading, [Block] Paragraph

#38642 Gallery block: copy all attributes when transforming to Image blocks
  packages/block-library/src/gallery/transforms.js
Labels: [Type] Bug, [Block] Gallery, Backport to WP Minor Release

#38587 Add the Gutenberg data tutorial to the block editor handbook
  docs/how-to-guides/data-basics/1-data-basics-setup.md
  docs/how-to-guides/data-basics/2-building-a-list-of-pages.md
  docs/how-to-guides/data-basics/README.md
  docs/manifest.json
  docs/toc.json
Labels: [Type] Documentation, [Package] Core data

#38641 VisuallyHidden: Remove stray readme file
  packages/components/src/ui/visually-hidden/README.md
Labels: [Type] Documentation, [Package] Components

#38516 Block preview: fix resize listener
  packages/block-editor/src/components/block-preview/auto.js
Labels: [Type] Bug, Backport to WP Minor Release

#38650 Fix filtering of content when rendering read more block
  packages/block-library/src/read-more/index.php
Labels: [Type] Bug, [Block] Read More

#38649 Fix search block html handling for label and button text
  packages/block-library/src/search/index.php
Labels: [Type] Bug, [Block] Search, Backport to WP Minor Release

#38645 Refresh `object-keys` version in package-lock
  package-lock.json
Labels: [Package] Scripts, [Package] Components, [Package] ESLint plugin

#38263 Comment Template: Improve UX of inner block selection
  packages/block-library/src/comment-template/edit.js
Labels: [Type] Bug, [Package] Block library, [Block] Comment Template

#38639 TreeGrid accessibility: Improve browser support for Left Arrow focus to parent row in child row
  packages/components/src/tree-grid/index.js
Labels: [Type] Bug, Accessibility (a11y), [Package] Components, Needs Accessibility Feedback, [a11y] Keyboard & Focus

#37078 Scripts: Update Puppeteer to v13
  package-lock.json
  packages/e2e-tests/specs/editor/blocks/__snapshots__/image.test.js.snap
  packages/e2e-tests/specs/editor/blocks/cover.test.js
  packages/scripts/CHANGELOG.md
  packages/scripts/package.json
Labels: Automated Testing, [Type] Breaking Change, [Package] Scripts

#38635 Separator block: Remove width from wide style
  packages/block-library/src/separator/style.scss
Labels: [Block] Separator

#38625 Allow child classes to use the private methods and constants
  lib/compat/wordpress-5.9/class-wp-theme-json-gutenberg.php
  lib/compat/wordpress-5.9/class-wp-theme-json-resolver-gutenberg.php
Labels: Global Styles, Backport to WP Minor Release

#38654 Block Manager: Announce search results
  packages/edit-post/src/components/block-manager/index.js
Labels: [Type] Bug, Accessibility (a11y), General Interface

#38663 Use the theme.json classes defined by the plugin in the REST controller
  lib/compat/wordpress-5.9/class-wp-rest-global-styles-controller.php
Labels: Global Styles

#38661 Components: add CHANGELOG entries for recent `TreeGrid` improvements
  packages/components/CHANGELOG.md
Labels: [Type] Documentation, [Package] Components, [Feature] Component System

#38652 RichText: Reverse disableLineBreaks to determine aria-multiline state
  packages/block-editor/src/components/rich-text/index.js
Labels: [Type] Enhancement, Accessibility (a11y), [Feature] Rich Text, [Package] Block editor

#38640 Storybook: Move experimental components to correct section
  packages/components/src/alignment-matrix-control/README.md
  packages/components/src/alignment-matrix-control/stories/index.js
  packages/components/src/box-control/stories/index.js
  packages/components/src/input-control/stories/index.js
  packages/components/src/navigation/stories/index.js
  packages/components/src/number-control/stories/index.js
  packages/components/src/radio-group/stories/index.js
  packages/components/src/radio/stories/index.js
  packages/components/src/toggle-group-control/stories/index.js
  packages/components/src/tree-grid/stories/index.js
  packages/components/src/unit-control/stories/index.js
  storybook/preview.js
Labels: [Type] Documentation, [Package] Components, Storybook

#38665 Replace no-shadow eslint rule with @typescript-eslint/no-shadow
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/configs/recommended.js
Labels: Automated Testing, [Type] Code Quality, [Package] ESLint plugin, Developer Experience

#38679 TreeGrid: Add Home/End keys to jump to start/end of grid
  packages/components/CHANGELOG.md
  packages/components/src/tree-grid/index.js
Labels: [Type] Enhancement, Accessibility (a11y), [Package] Components, Needs Accessibility Feedback, [a11y] Keyboard & Focus

#38683 Documentation: Try and clarify deprecations documentation
  docs/reference-guides/block-api/block-deprecation.md
Labels: [Type] Documentation

#38072 Update/show placeholder comments no context (on site editor)
  lib/compat/experimental/blocks.php
  packages/block-library/src/comment-author-avatar/edit.js
  packages/block-library/src/comment-author-avatar/editor.scss
  packages/block-library/src/comment-template/edit.js
  packages/block-library/src/comment-template/util.js
  packages/block-library/src/editor.scss
Labels: [Type] Enhancement, [Block] Comments Query Loop

#38657 Remove the div wrapper from the aligned image blocks
  lib/block-supports/layout.php
  packages/block-library/src/image/deprecated.js
  packages/block-library/src/image/save.js
  test/integration/fixtures/blocks/core__image__center-caption.html
  test/integration/fixtures/blocks/core__image__center-caption.parsed.json
  test/integration/fixtures/blocks/core__image__center-caption.serialized.html
  test/integration/fixtures/blocks/core__image__deprecated-1.serialized.html
  test/integration/fixtures/blocks/core__image__deprecated-2.serialized.html
  test/integration/fixtures/blocks/core__image__deprecated-3.serialized.html
  test/integration/fixtures/blocks/core__image__deprecated-align-wrapper.html
  test/integration/fixtures/blocks/core__image__deprecated-align-wrapper.json
  test/integration/fixtures/blocks/core__image__deprecated-align-wrapper.parsed.json
  test/integration/fixtures/blocks/core__image__deprecated-align-wrapper.serialized.html
  test/integration/fixtures/documents/wordpress-out.html
Labels: [Type] Enhancement, [Block] Image, Needs Dev Note, [Feature] Themes

#38700 [Documentation]: Add docs about the `patterns` field of `theme.json`
  docs/how-to-guides/themes/theme-json.md
Labels: [Type] Documentation

#38696 Prefer kses to blanket esc_html on label
  packages/block-library/src/post-navigation-link/index.php
Labels: [Type] Code Quality, [Type] Regression, [Block] Post Navigation Link

#38701 Fix for classic themes using default presets
  lib/compat/wordpress-5.9/get-global-styles-and-settings.php
Labels: Global Styles, Backport from WordPress Core

#38540 Add docs for deprecating styles
  packages/components/CONTRIBUTING.md
Labels: [Type] Documentation, [Package] Components

#38680 Mobile Release v1.70.3
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/GutenbergDemo.xcodeproj/project.pbxproj
Labels: Mobile App - i.e. Android or iOS

#38689 Gallery: register gallery in block_names dynamic block array
  lib/blocks.php
  packages/block-library/src/gallery/index.php
Labels: [Type] Code Quality, [Block] Gallery

#33718 Generate sourcemap for production plugin builds
  bin/build-plugin-zip.sh
  tools/webpack/shared.js
Labels: [Type] Enhancement, [Type] Build Tooling

#38655 Add site editor initial redirect error handling
  packages/edit-site/src/components/error-boundary/index.js
  packages/edit-site/src/components/error-boundary/warning.js
  packages/edit-site/src/components/routes/redirect-to-homepage.js
  packages/edit-site/src/index.js
Labels: [Type] Bug, [Feature] Site Editor

#38715 Scripts: Copy PHP files from `src` into `build`
  packages/scripts/CHANGELOG.md
  packages/scripts/config/webpack.config.js
Labels: [Type] Enhancement, [Package] Scripts

#37003 Navigation: Try unifying submenu arrow positioning.
  packages/block-library/src/navigation-link/index.php
  packages/block-library/src/navigation-submenu/edit.js
  packages/block-library/src/navigation-submenu/index.php
  packages/block-library/src/navigation/style.scss
  packages/block-library/src/page-list/edit.js
  packages/block-library/src/page-list/index.php
Labels: [Type] Enhancement, [Status] In Progress, [Block] Navigation

#38671 Allow to extend the `WP_Theme_JSON_Gutenberg` class
  lib/compat/wordpress-5.9/class-wp-theme-json-5-9.php
Labels: Global Styles, Backport to WP Minor Release

#38697 Block Directory: Fix the block activation when metadata registered on server
  package-lock.json
  packages/block-directory/package.json
  packages/block-directory/src/store/actions.js
  packages/block-directory/src/store/test/actions.js
  packages/e2e-tests/specs/editor/plugins/block-directory-add.test.js
Labels: [Type] Bug, [Feature] Block Directory

#38524 Tests: Use REST API to delete templates and template parts
  packages/e2e-test-utils/README.md
  packages/e2e-test-utils/src/index.js
  packages/e2e-test-utils/src/templates.js
  packages/e2e-tests/mu-plugins/enable-templates-ui.php
  packages/e2e-tests/specs/editor/various/post-editor-template-mode.test.js
  packages/e2e-tests/specs/performance/site-editor.test.js
  packages/e2e-tests/specs/site-editor/document-settings.test.js
  packages/e2e-tests/specs/site-editor/multi-entity-editing.test.js
  packages/e2e-tests/specs/site-editor/multi-entity-saving.test.js
  packages/e2e-tests/specs/site-editor/settings-sidebar.test.js
  packages/e2e-tests/specs/site-editor/site-editor-export.test.js
  packages/e2e-tests/specs/site-editor/site-editor-inserter.test.js
  packages/e2e-tests/specs/site-editor/template-part.test.js
  packages/e2e-tests/specs/site-editor/template-revert.test.js
Labels: [Type] Technical Prototype, Automated Testing

#38737 Scripts: Do not exit `build` when no entry found in `src` directory
  packages/scripts/CHANGELOG.md
  packages/scripts/utils/config.js
Labels: [Type] Bug, [Package] Scripts

#38561 Only apply the social links block migration if there's a need for a migration
  packages/block-library/src/social-links/deprecated.js
  test/integration/fixtures/blocks/core__social-links.json
  test/integration/fixtures/blocks/core__social-links__deprecated-1.html
  test/integration/fixtures/blocks/core__social-links__deprecated-1.json
  test/integration/fixtures/blocks/core__social-links__deprecated-1.parsed.json
  test/integration/fixtures/blocks/core__social-links__deprecated-1.serialized.html
Labels: [Type] Bug, [Block] Social, Backport to WP Minor Release

#38203 Add revert button to submenu block
  packages/block-library/src/navigation-submenu/edit.js
  packages/e2e-tests/specs/editor/blocks/navigation.test.js
  packages/icons/src/index.js
  packages/icons/src/library/remove-submenu.js
Labels: [Type] Enhancement, Needs Design Feedback, [Block] Submenu

#38745 Fix global styles loading logic
  lib/compat/wordpress-5.9/script-loader.php
Labels: [Type] Bug, Global Styles

#38721 Mobile Release v1.71.1
  packages/e2e-tests/mu-plugins/enable-templates-ui.php
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS

#38725 Testing: Fix file block full content fixture
  test/integration/fixtures/blocks/core__file__pdf-preview__deprecated-1.html
  test/integration/fixtures/blocks/core__file__pdf-preview__deprecated-1.json
  test/integration/fixtures/blocks/core__file__pdf-preview__deprecated-1.parsed.json
  test/integration/fixtures/blocks/core__file__pdf-preview__deprecated-1.serialized.html
Labels: [Type] Bug, Automated Testing, [Block] File

#38656 Edit Site: Add template check to 'setPage' action
  packages/edit-site/src/store/actions.js
Labels: [Type] Bug, [Package] Edit Site

#38732 Update wp_kses usage to be consistent in navigation blocks (use wp_kses_post)
  packages/block-library/src/home-link/index.php
  packages/block-library/src/navigation-link/index.php
  packages/block-library/src/navigation-submenu/index.php
  packages/block-library/src/page-list/index.php
Labels: [Type] Code Quality, [Block] Navigation, [Block] Page List, [Block] Navigation Link, [Block] Submenu, [Block] Home Link

#38775 Fix list view error when deleting first item in canvas
  packages/block-editor/src/components/list-view/block.js
  packages/e2e-tests/specs/editor/various/list-view.test.js
Labels: [Type] Bug, [Feature] List View

#38760 Fix: Select block after duplicate
  packages/block-editor/src/components/list-view/block.js
Labels: [Feature] List View

#38613 Remove data-align divs for themes that support layout
  lib/block-supports/layout.php
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/style.scss
  packages/block-editor/src/layouts/flow.js
  packages/block-library/src/image/editor.scss
  packages/block-library/src/image/style.scss
  packages/e2e-tests/specs/editor/blocks/image.test.js
Labels: [Type] Enhancement, Mobile App - Automation

#38722 Change Gallery block code ownership
  .github/CODEOWNERS
Labels: [Block] Gallery

#38627 Nav block menu select dropdown encapsulation and further consolidation
  packages/block-library/src/navigation/edit/existing-menus-options.js
  packages/block-library/src/navigation/edit/index.js
  packages/block-library/src/navigation/edit/navigation-menu-selector.js
  packages/block-library/src/navigation/edit/placeholder/index.js
  packages/e2e-tests/specs/editor/blocks/navigation.test.js
Labels: [Type] Code Quality, [Block] Navigation

#38522 useEntityRecord (experimental)
  package-lock.json
  packages/core-data/package.json
  packages/core-data/src/hooks/constants.ts
  packages/core-data/src/hooks/memoize.js
  packages/core-data/src/hooks/test/use-entity-record.js
  packages/core-data/src/hooks/test/use-query-select.js
  packages/core-data/src/hooks/use-entity-record.ts
  packages/core-data/src/hooks/use-query-select.ts
  packages/core-data/src/index.js
Labels: [Package] Core data, [Type] New API, Developer Experience

#35929 Migrate editor store to thunks
  docs/reference-guides/data/data-core-editor.md
  package-lock.json
  packages/core-data/src/actions.js
  packages/editor/package.json
  packages/editor/src/components/local-autosave-monitor/index.js
  packages/editor/src/store/actions.js
  packages/editor/src/store/actions.native.js
  packages/editor/src/store/index.js
  packages/editor/src/store/local-autosave.js
  packages/editor/src/store/test/actions.js
  packages/editor/src/store/utils/notice-builder.js
  packages/editor/src/store/utils/test/notice-builder.js
Labels: [Package] Editor

#38778 Add semantic patterns documentation
  docs/reference-guides/block-api/block-patterns.md
Labels: [Type] Documentation, [Feature] Patterns

#38741 BaseControl: Refactor stories to use Controls
  packages/components/src/base-control/stories/index.js
Labels: [Package] Components, Storybook

#38633 [RNMobile] Prevent bold headings after autocorrection
  packages/react-native-aztec/RNTAztecView.podspec
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Podfile.lock
Labels: [Type] Bug, Mobile App - i.e. Android or iOS

#37978 Add initial version of the style engine
  docs/manifest.json
  package-lock.json
  package.json
  packages/block-editor/package.json
  packages/block-editor/src/hooks/style.js
  packages/blocks/src/api/constants.js
  packages/dependency-extraction-webpack-plugin/lib/util.js
  packages/edit-site/package.json
  packages/edit-site/src/components/global-styles/use-global-styles-output.js
  packages/style-engine/.npmrc
  packages/style-engine/CHANGELOG.md
  packages/style-engine/README.md
  packages/style-engine/package.json
  packages/style-engine/src/index.ts
  packages/style-engine/src/styles/index.ts
  packages/style-engine/src/styles/padding.ts
  packages/style-engine/src/styles/utils.ts
  packages/style-engine/src/test/index.js
  packages/style-engine/src/types.ts
  packages/style-engine/tsconfig.json
  tools/webpack/packages.js
Labels: [Type] Experimental, Global Styles, [Feature] Design Tools

#38790 Enable tooltip for the main dashboard button
  packages/edit-post/src/components/header/index.js
Labels: [Type] Enhancement, General Interface, [Package] Edit Post

#38781 Scripts: Fix Entry points are not detected in Windows OS
  packages/scripts/CHANGELOG.md
  packages/scripts/utils/config.js
Labels: [Type] Regression, [Package] Scripts

#38776 Avoid duplicate labels for "Save Draft" and "Save as pending" buttons
  packages/editor/src/components/post-saved-state/index.js
Labels: [Type] Bug, General Interface, [a11y] Labelling
