Repository WordPress/gutenberg, pull requests merged in 2023-04, with the labels that each got.

#49533 Update redirected support link
  packages/editor/src/components/post-excerpt/index.js
Labels: [Type] Enhancement

#48983 Remove rootTagsToEliminate prop from native Rich Text component
  packages/block-editor/src/components/caption/index.native.js
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/components/rich-text/index.native.js
  packages/block-library/src/file/edit.native.js
  packages/rich-text/src/component/index.native.js
Labels: Mobile App - i.e. Android or iOS, Mobile App - Automation

#49545 Fix site editor isFeatureActive deprecation
  docs/reference-guides/data/data-core-edit-site.md
  packages/edit-site/src/store/selectors.js
Labels: [Type] Code Quality

#49530 Columns Block: Prevent removal of locked columns from the column count change UI
  packages/block-library/src/columns/edit.js
  test/e2e/specs/editor/blocks/columns.spec.js
Labels: [Block] Columns

#49543 Docs: Update outdated references in react-native-editor documentation
  docs/contributors/code/react-native/getting-started-react-native.md
  packages/react-native-editor/__device-tests__/CONTRIBUTING.md
  packages/react-native-editor/__device-tests__/helpers/utils.js
Labels: [Type] Developer Documentation

#49487 Update the template title in the details panel
  packages/edit-site/src/components/sidebar-navigation-screen/index.js
  packages/edit-site/src/components/sidebar-navigation-screen/style.scss
Labels: Needs Design Feedback, [Feature] Site Editor

#49526 Add blockGap as a default control on Columns/Column blocks
  packages/block-library/src/column/block.json
  packages/block-library/src/columns/block.json
Labels: [Type] Enhancement, [Block] Columns

#49553 Site editor: remove unused keyboard shortcut registration code
  packages/edit-site/src/components/keyboard-shortcuts/index.js
Labels: [Type] Code Quality

#49454 Add section about integration testing to testing docs
  docs/contributors/code/testing-overview.md
Labels: [Type] Enhancement, [Type] Developer Documentation

#49558 [RNMobile] Add GlotPress project slug parameter to translations pipeline
  packages/react-native-editor/bin/extract-used-strings.js
  packages/react-native-editor/bin/generate-pot-files.sh
  packages/react-native-editor/bin/i18n-translations-download.js
Labels: Mobile App - i.e. Android or iOS

#49512 Update Edit icon to be more consistent with other icons
  packages/icons/src/library/pencil.js
Labels: Needs Design Feedback, Needs Figma Update, [Package] Icons

#49555 Small improvements for the Document Overview labelling
  packages/edit-post/src/components/secondary-sidebar/list-view-sidebar.js
  test/e2e/specs/editor/various/list-view.spec.js
Labels: [Type] Enhancement, [Package] Edit Post, [a11y] Labelling

#49517 DropZone: Smooth animation
  packages/components/CHANGELOG.md
  packages/components/src/drop-zone/index.tsx
  packages/components/src/drop-zone/style.scss
Labels: [Feature] Drag and Drop

#49518 Add support for hiding breadcrumbs in the Site Editor
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/preferences-modal/index.js
  packages/edit-site/src/index.js
Labels: [Type] Enhancement, [Feature] Site Editor, [Feature] Block Breadcrumbs

#44002 Add spacing presets to the spacer block
  packages/block-editor/README.md
  packages/block-editor/src/components/index.js
  packages/block-editor/src/components/spacing-sizes-control/spacing-input-control.js
  packages/block-editor/src/components/spacing-sizes-control/style.scss
  packages/block-library/src/spacer/controls.js
  packages/block-library/src/spacer/edit.js
  packages/block-library/src/spacer/editor.scss
  packages/block-library/src/spacer/save.js
Labels: [Type] Enhancement, [Block] Spacer

#49573 Remove pointer cursor on style variation preview
  packages/edit-site/src/components/global-styles/preview.js
Labels: [Type] Regression, Global Styles

#49562 Docs: Fix Create a Block Tutorial link on blocks package README.md
  packages/blocks/README.md
  packages/blocks/src/api/registration.js
Labels: [Type] Developer Documentation, First-time Contributor

#49596 Style Variation picker: restore pointer cursor when withHover is in use
  packages/edit-site/src/components/global-styles/preview.js
Labels: [Type] Regression, Global Styles

#49588 Components: Simplify `CustomGradientPicker`'s utility props
  packages/components/src/custom-gradient-picker/serializer.ts
  packages/components/src/custom-gradient-picker/types.ts
Labels: [Type] Code Quality, [Package] Components

#49586 Update components package's CHANGELOG
  packages/components/CHANGELOG.md
Labels: [Type] Developer Documentation, [Package] Components

#49371 [RNMobile] Support POST requests
  packages/react-native-bridge/android/react-native-bridge/src/main/java/org/wordpress/mobile/ReactNativeGutenbergBridge/RNReactNativeGutenbergBridgeModule.java
  packages/react-native-bridge/android/react-native-bridge/src/main/java/org/wordpress/mobile/WPAndroidGlue/RequestExecutor.java
  packages/react-native-bridge/android/react-native-bridge/src/main/java/org/wordpress/mobile/WPAndroidGlue/WPAndroidGlueCode.java
  packages/react-native-bridge/index.js
  packages/react-native-bridge/ios/GutenbergBridgeDelegate.swift
  packages/react-native-bridge/ios/RNReactNativeGutenbergBridge.m
  packages/react-native-bridge/ios/RNReactNativeGutenbergBridge.swift
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/android/app/src/main/java/com/gutenberg/MainApplication.java
  packages/react-native-editor/ios/GutenbergDemo/GutenbergViewController.swift
  packages/react-native-editor/src/api-fetch-setup.js
  packages/react-native-editor/src/test/api-fetch-setup.test.js
Labels: Mobile App - i.e. Android or iOS

#49571 Refactor the effects panel as a generic UI Styles component
  packages/block-editor/src/components/global-styles/effects-panel.js
  packages/block-editor/src/components/global-styles/hooks.js
  packages/block-editor/src/components/global-styles/index.js
  packages/block-editor/src/components/global-styles/style.scss
  packages/block-editor/src/style.scss
  packages/edit-site/src/components/global-styles/context-menu.js
  packages/edit-site/src/components/global-styles/effects-panel.js
  packages/edit-site/src/components/global-styles/screen-effects.js
  packages/edit-site/src/components/global-styles/shadow-panel.js
  packages/edit-site/src/components/global-styles/style.scss
Labels: [Type] Code Quality, Global Styles

#49581 [RNMobile] Expand supported endpoints with WP hook
  packages/react-native-editor/src/api-fetch-setup.js
  packages/react-native-editor/src/test/api-fetch-setup.test.js
Labels: Mobile App - i.e. Android or iOS

#49618 Streamlining the New Release Issue Template.
  .github/ISSUE_TEMPLATE/New_release.md
Labels: [Type] Enhancement, [Type] Project Management

#49604 Navigate to `editor` when clicking `Edit` in a template part
  packages/edit-site/src/hooks/template-part-edit.js
Labels: [Type] Bug, [Feature] Site Editor

#49443 Add workflow to check for expected @wordpress/components CHANGELOG updates
  .github/workflows/check-components-changelog.yml
Labels: [Package] Components, GitHub Actions

#49523 Update media and video icons
  packages/block-library/src/media-text/media-container-icon.js
  packages/block-library/src/media-text/media-container.js
  packages/block-library/src/media-text/media-container.native.js
  packages/icons/src/library/media.js
Labels: [Block] Media & Text, [Package] Icons

#49221 Add Reassure mobile performance testing library
  .gitignore
  package-lock.json
  package.json
  packages/eslint-plugin/configs/test-unit.js
  packages/react-native-editor/package.json
  packages/rich-text/src/test/performance/rich-text.native.js
  test/native/helpers.js
Labels: Mobile App - i.e. Android or iOS, Mobile App - Automation

#49611 List View: Allow horizontal scroll in panels in the post editor
  packages/edit-post/src/components/secondary-sidebar/style.scss
Labels: [Type] Bug, [Feature] List View, First-time Contributor

#45055 Add Details/summary block
  docs/reference-guides/core-blocks.md
  lib/blocks.php
  lib/experimental/editor-settings.php
  lib/experiments-page.php
  packages/block-library/src/details-content/block.json
  packages/block-library/src/details-content/edit.js
  packages/block-library/src/details-content/index.js
  packages/block-library/src/details-content/save.js
  packages/block-library/src/details-summary/block.json
  packages/block-library/src/details-summary/edit.js
  packages/block-library/src/details-summary/editor.scss
  packages/block-library/src/details-summary/index.js
  packages/block-library/src/details-summary/save.js
  packages/block-library/src/details-summary/style.scss
  packages/block-library/src/details/block.json
  packages/block-library/src/details/edit.js
  packages/block-library/src/details/index.js
  packages/block-library/src/details/save.js
  packages/block-library/src/details/style.scss
  packages/block-library/src/editor.scss
  packages/block-library/src/index.js
  packages/block-library/src/style.scss
  packages/icons/CHANGELOG.md
  packages/icons/src/index.js
  packages/icons/src/library/details.js
Labels: [Type] Enhancement, New Block, [Package] Block library

#44768 Docs: Fix line break issue in Schemas and Content Models section
  docs/reference-guides/block-api/block-transforms.md
Labels: [Type] Developer Documentation

#49475 List View: Add a rootClientId prop
  packages/block-editor/src/components/list-view/README.md
  packages/block-editor/src/components/list-view/index.js
  packages/block-editor/src/components/list-view/use-list-view-client-ids.js
Labels: [Type] Enhancement, [Feature] List View

#49598 Block level settings: remove WP filters in Gutenberg
  lib/block-supports/settings.php
Labels: [Type] Bug, [Block] Group, Global Styles

#49625 Fix Xcode spelling across the codebase
  docs/contributors/code/react-native/osx-setup-guide.md
  packages/react-native-bridge/README.md
  packages/react-native-editor/.gitignore
  packages/react-native-editor/__device-tests__/README.md
Labels: [Type] Developer Documentation, First-time Contributor

#49609 [Post Featured Image]: Show all controls when in context without `postId`
  packages/block-library/src/post-featured-image/edit.js
Labels: [Type] Bug, [Block] Post Featured Image

#49350 Global Styles: Link to the block type panel when selecting a block with Styles open
  packages/components/CHANGELOG.md
  packages/components/src/navigator/navigator-provider/component.tsx
  packages/components/src/navigator/navigator-screen/component.tsx
  packages/components/src/navigator/stories/index.tsx
  packages/components/src/navigator/test/index.tsx
  packages/components/src/navigator/types.ts
  packages/edit-site/src/components/global-styles/screen-block-list.js
  packages/edit-site/src/components/global-styles/ui.js
Labels: [Type] Enhancement, [Package] Components, Global Styles

#49603 Border Panel: Move global styles forcing of split borders to relevant panel's onChange
  packages/block-editor/src/components/global-styles/border-panel.js
  packages/block-editor/src/hooks/border.js
  packages/edit-site/src/components/global-styles/border-panel.js
Labels: [Type] Bug, [Type] Regression, [Block] Table, Global Styles, [Feature] Design Tools

#49637 Lodash: Remove `_.mapValues()` from various blocks
  packages/block-library/src/columns/utils.js
  packages/block-library/src/navigation/deprecated.js
  packages/block-library/src/table/state.js
  packages/block-library/src/utils/clean-empty-object.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Block library

#49529 Tweak remove block label to make it simpler
  packages/block-editor/src/components/block-settings-menu/block-settings-dropdown.js
  packages/e2e-tests/specs/editor/plugins/cpt-locking.test.js
  packages/e2e-tests/specs/editor/various/reusable-blocks.test.js
  test/e2e/specs/editor/various/block-deletion.spec.js
  test/e2e/specs/editor/various/block-locking.spec.js
  test/e2e/specs/editor/various/list-view.spec.js
  test/e2e/specs/widgets/customizing-widgets.spec.js
Labels: [Feature] Block settings menu

#49638 Lodash: Remove `_.mapValues()` from block editor
  packages/block-editor/src/hooks/utils.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Block editor

#49639 Lodash: Remove `_.mapValues()` from `edit-site`
  packages/edit-site/src/components/global-styles/global-styles-provider.js
Labels: [Type] Performance, [Type] Code Quality, Global Styles, [Package] Edit Site

#49329 Adds to gitignore a playwright.config.override.ts entry
  .gitignore
  docs/contributors/code/e2e/README.md
Labels: [Type] Enhancement, Automated Testing, Developer Experience

#49557 fix: Avoid empty Gallery block error
  packages/block-library/src/gallery/test/use-get-media.native.js
  packages/block-library/src/gallery/use-get-media.native.js
  packages/react-native-editor/CHANGELOG.md
Labels: [Type] Bug, Mobile App - i.e. Android or iOS, [Block] Gallery, Mobile App - Automation

#49669 Docs: Fix e2e command typos
  packages/scripts/README.md
Labels: [Type] Developer Documentation, First-time Contributor

#49495 Post excerpt > Ensure the postId from the block context is used to get_the_excerpt
  packages/block-library/src/post-excerpt/index.php
Labels: [Type] Bug, First-time Contributor, [Block] Post Excerpt

#49676 e2e: fix flaky columns test
  test/e2e/specs/editor/blocks/columns.spec.js
Labels: [Package] E2E Tests

#49685 Site Editor: Decode the site title properly
  packages/edit-site/src/components/site-hub/index.js
Labels: [Type] Bug, [Feature] Site Editor

#48791 [Mobile] Remove Keyboard Aware Flatlist
  package-lock.json
  packages/block-editor/src/components/block-list/index.native.js
  packages/block-editor/src/components/rich-text/index.native.js
  packages/block-editor/src/components/rich-text/use-native-props.js
  packages/block-editor/src/components/rich-text/use-native-props.native.js
  packages/components/CHANGELOG.md
  packages/components/src/mobile/keyboard-aware-flat-list/index.android.js
  packages/components/src/mobile/keyboard-aware-flat-list/index.ios.js
  packages/components/src/mobile/keyboard-aware-flat-list/test/use-keyboard-offset.native.js
  packages/components/src/mobile/keyboard-aware-flat-list/test/use-scroll-to-text-input.native.js
  packages/components/src/mobile/keyboard-aware-flat-list/test/use-text-input-caret-position.native.js
  packages/components/src/mobile/keyboard-aware-flat-list/test/use-text-input-offset.native.js
  packages/components/src/mobile/keyboard-aware-flat-list/use-keyboard-offset.native.js
  packages/components/src/mobile/keyboard-aware-flat-list/use-scroll-to-text-input.native.js
  packages/components/src/mobile/keyboard-aware-flat-list/use-text-input-caret-position.native.js
  packages/components/src/mobile/keyboard-aware-flat-list/use-text-input-offset.native.js
  packages/edit-post/src/components/visual-editor/index.native.js
  packages/react-native-aztec/ios/RNTAztecView/RCTAztecView.swift
  packages/react-native-aztec/src/AztecInputState.js
  packages/react-native-aztec/src/AztecView.js
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/__device-tests__/gutenberg-editor-block-insertion-@canary.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-paragraph.test.js
  packages/react-native-editor/__device-tests__/pages/editor-page.js
  packages/react-native-editor/ios/GutenbergDemo.xcodeproj/project.pbxproj
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
  packages/rich-text/src/component/index.native.js
  patches/react-native-keyboard-aware-scroll-view+0.8.8-wp-1.patch
Labels: Mobile App - i.e. Android or iOS

#49635 Docgen: Replace line breaks with spaces and remove line-ending hyphens
  docs/reference-guides/data/data-core-block-directory.md
  docs/reference-guides/data/data-core-block-editor.md
  docs/reference-guides/data/data-core-blocks.md
  docs/reference-guides/data/data-core-edit-post.md
  docs/reference-guides/data/data-core-edit-site.md
  docs/reference-guides/data/data-core-edit-widgets.md
  docs/reference-guides/data/data-core-editor.md
  docs/reference-guides/data/data-core-notices.md
  docs/reference-guides/data/data-core-preferences.md
  docs/reference-guides/data/data-core-rich-text.md
  docs/reference-guides/data/data-core.md
  packages/a11y/README.md
  packages/autop/README.md
  packages/blob/README.md
  packages/block-directory/README.md
  packages/block-editor/README.md
  packages/block-editor/src/store/actions.js
  packages/blocks/README.md
  packages/compose/README.md
  packages/core-data/README.md
  packages/data-controls/README.md
  packages/data/README.md
  packages/date/README.md
  packages/deprecated/README.md
  packages/docgen/lib/markdown/formatter.js
  packages/docgen/test/formatter-markdown.js
  packages/dom/README.md
  packages/e2e-test-utils/README.md
  packages/edit-post/README.md
  packages/element/README.md
  packages/escape-html/README.md
  packages/i18n/README.md
  packages/keycodes/README.md
  packages/plugins/README.md
  packages/preferences-persistence/README.md
  packages/preferences/README.md
  packages/priority-queue/README.md
  packages/react-i18n/README.md
  packages/redux-routine/README.md
  packages/rich-text/README.md
  packages/shortcode/README.md
  packages/url/README.md
  packages/viewport/README.md
Labels: [Type] Developer Documentation, [Package] Docgen

#49686 Mobile Release v1.92.1
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS

#49663 [RNMobile] Update Sandbox component
  packages/components/src/sandbox/index.native.js
Labels: Mobile App - i.e. Android or iOS

#39384 A margin option is added to the Embeded preview block
  docs/reference-guides/core-blocks.md
  packages/block-library/src/embed/block.json
Labels: [Type] Enhancement, [Block] Embed, First-time Contributor

#49665 Make InspectorControls tab labels translatable
  packages/block-editor/src/components/inspector-controls-tabs/utils.js
Labels: Internationalization (i18n)

#49565 Try fixing post editor layout for wide/full Post Content blocks
  packages/edit-post/src/components/visual-editor/index.js
Labels: [Type] Bug, [Package] Edit Post, Backport to WP Minor Release, [Feature] Layout

#49631 List View: Add tests for some of the drag and drop logic
  packages/block-editor/src/components/list-view/test/use-list-view-drop-zone.js
  packages/block-editor/src/components/list-view/use-list-view-drop-zone.js
Labels: [Type] Code Quality, [Feature] List View

#49703 Only show alignment info when parent layout is constrained.
  packages/block-editor/src/layouts/utils.js
Labels: [Type] Bug, Backport to WP Minor Release, [Feature] Layout

#49628 Image block: fix image size control percentage selection
  packages/block-editor/src/components/image-size-control/use-dimension-handler.js
Labels: [Type] Bug, [Block] Image

#49659 Consistent labels for the WP logo and back links.
  packages/edit-site/src/components/sidebar-navigation-screen/index.js
  packages/edit-site/src/components/site-hub/index.js
Labels: [Type] Bug, [a11y] Labelling

#49683 Fix inbetween-inserter position in RTL languages
  packages/block-editor/src/components/block-list/use-in-between-inserter.js
  packages/block-editor/src/components/block-popover/inbetween.js
Labels: [Type] Bug

#49334 Add missing focus style to start template options previews.
  packages/edit-site/src/components/start-template-options/style.scss
Labels: [Type] Bug, [a11y] Keyboard & Focus, [Package] Edit Site

#49654 Lodash: Remove `_.mapValues()` from editor package
  packages/editor/src/hooks/custom-sources-backwards-compatibility.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Editor

#49688 Components: exclude mobile-only PRs from CHANGELOG update CI check
  .github/workflows/check-components-changelog.yml
Labels: [Package] Components, GitHub Actions

#49724 Lodash: Remove `_.mapValues()` from `core-data` package
  packages/core-data/src/queried-data/reducer.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Core data

#49725 Lodash: Remove `_.groupBy()` from `core-data` package
  packages/core-data/src/reducer.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Core data

#49723 Shortcode: Prevent external styling of editing UI
  packages/block-library/src/shortcode/editor.scss
Labels: [Type] Bug, [Block] Shortcode

#49720 Add some documentation about the Styles UI components
  packages/block-editor/src/components/global-styles/README.md
Labels: [Type] Developer Documentation

#49691 [RNMobile] Disable block's touchable component when is focused
  packages/block-editor/src/components/block-list/block.native.js
Labels: Mobile App - i.e. Android or iOS, Mobile App - Automation

#49540 Adjust copy of Site Logo Block
  docs/reference-guides/core-blocks.md
  packages/block-library/src/site-logo/block.json
Labels: First-time Contributor, [Block] Site Logo

#49762 Update README.md
  packages/data/README.md
Labels: [Type] Developer Documentation

#49699 [RNMobile] Add viewport optional props
  packages/components/src/sandbox/index.native.js
Labels: Mobile App - i.e. Android or iOS

#49767 Remove frame shadow in edit view
  packages/edit-site/src/components/layout/style.scss
Labels: General Interface

#48250 Update theme.json reference docs to include more sections
  bin/api-docs/gen-theme-reference.js
  docs/reference-guides/theme-json-reference/theme-json-living.md
Labels: [Type] Developer Documentation

#49783 Group block: remove innerprops from placeholder wrapper
  packages/block-library/src/group/edit.js
Labels: [Type] Bug, [Block] Group

#49374 Fix editor canvas detaching error in e2e tests
  packages/e2e-test-utils-playwright/src/admin/visit-site-editor.ts
Labels: [Type] Bug

#48449 Fix screen flash when deleting templates in templates list
  packages/edit-site/src/components/list/table.js
Labels: [Type] Bug, First-time Contributor, [Block] Template Part, [Feature] Site Editor

#49427 Update preset styles to use Selectors API
  lib/block-supports/settings.php
Labels: Global Styles

#49471 Add "block-selectors" docs to TOC and manifest.
  docs/manifest.json
  docs/reference-guides/block-api/block-selectors.md
  docs/toc.json
Labels: [Feature] Block API, [Type] Developer Documentation

#49755 Lodash: Refactor away from `_.groupBy()`
  .eslintrc.js
  bin/plugin/commands/changelog.js
  packages/block-editor/src/components/inserter/block-types-tab.js
  packages/editor/src/components/entities-saved-states/index.js
Labels: [Feature] Inserter, [Type] Performance, [Type] Code Quality, [Package] Editor, [Package] Block editor

#47973 Document the separation between private APIs and experimental APIs
  docs/contributors/code/coding-guidelines.md
Labels: [Type] Developer Documentation, [Type] Experimental, Developer Experience

#49643 Re-write of the landing page
  docs/README.md
  docs/assets/overview-block-editor-2023.png
Labels: [Type] Developer Documentation, Developer Experience

#49788 Mobile Release v1.93.0
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS

#49682 Snackbar: Fix insufficient color contrast on hover
  packages/components/CHANGELOG.md
  packages/components/src/snackbar/style.scss
Labels: Accessibility (a11y), [Package] Components, First-time Contributor, CSS Styling

#49792 Docs: Improve the learning experience for writing blocks
  docs/how-to-guides/block-tutorial/writing-your-first-block-type.md
  docs/manifest.json
  docs/reference-guides/block-api/README.md
  docs/reference-guides/block-api/block-edit-save.md
  docs/reference-guides/block-api/block-metadata.md
  docs/reference-guides/block-api/block-registration.md
  docs/reference-guides/block-api/block-selectors.md
  docs/reference-guides/block-api/block-templates.md
  packages/blocks/README.md
  packages/blocks/src/api/registration.js
Labels: [Feature] Block API, [Type] Developer Documentation

#49823 [Mobile] - Fix React Native iOS E2E tests
  .github/workflows/rnmobile-ios-runner.yml
Labels: Mobile App - i.e. Android or iOS

#49825 Update IS_GUTENBERG_PLUGIN to process.env.IS_GUTENBERG_PLUGIN in coding guidelines
  docs/contributors/code/coding-guidelines.md
Labels: [Type] Bug, [Type] Developer Documentation

#49798 Autocomplete: Add heading and fix type for `onReplace` in README
  packages/components/CHANGELOG.md
  packages/components/src/autocomplete/README.md
Labels: [Type] Developer Documentation, [Package] Components

#48461 List view: Refactor ARIA attributes
  packages/block-editor/src/components/list-view/block-select-button.js
  packages/block-editor/src/components/list-view/block.js
  packages/block-editor/src/components/list-view/leaf.js
  packages/block-editor/src/components/list-view/style.scss
  packages/block-editor/src/components/list-view/use-block-selection.js
  packages/components/CHANGELOG.md
  packages/components/src/tree-grid/index.tsx
  test/e2e/specs/editor/blocks/columns.spec.js
  test/e2e/specs/editor/various/list-view.spec.js
  test/e2e/specs/editor/various/multi-block-selection.spec.js
Labels: [Type] Enhancement, Accessibility (a11y), [Package] Components, Needs Accessibility Feedback, [Feature] List View, [Package] Block editor

#49695 Spinner: Enforce no background.
  packages/components/CHANGELOG.md
  packages/components/src/spinner/styles.ts
  packages/editor/src/components/post-publish-panel/test/__snapshots__/index.js.snap
Labels: [Type] Enhancement, [Feature] UI Components

#49787 DOM: Update getScrollContainer to be aware of horizontal scroll
  packages/dom/README.md
  packages/dom/src/dom/get-scroll-container.js
Labels: [Type] Bug, [Package] DOM

#49851 Fix broken link and update title of Localizing Gutenberg doc
  docs/contributors/localizing.md
  docs/manifest.json
Labels: [Type] Developer Documentation

#49722 Increase pattern modal dimensions when creating a new template
  packages/edit-site/src/components/start-template-options/style.scss
Labels: Needs Design Feedback, [Feature] Site Editor

#46801 Add support in `check-license` for conjunctive (AND) licenses.
  packages/scripts/CHANGELOG.md
  packages/scripts/scripts/check-licenses.js
  packages/scripts/scripts/test/check-licenses.js
  packages/scripts/scripts/test/licenses/apache2-mit.txt
  packages/scripts/scripts/test/licenses/apache2.txt
  packages/scripts/scripts/test/licenses/bsd3clause.txt
  packages/scripts/scripts/test/licenses/mit.txt
  packages/scripts/scripts/test/licenses/w3cbsd.txt
Labels: [Type] Enhancement, [Package] Scripts

#49556 Fix block toolbar height and rounded corners of parent selector button when text label mode
  packages/block-editor/src/components/block-toolbar/style.scss
Labels: [Feature] Blocks, CSS Styling

#49831 Base Styles: Add the editor input reset with increased specificity
  packages/base-styles/_mixins.scss
  packages/block-library/src/html/editor.scss
  packages/block-library/src/shortcode/editor.scss
Labels: [Type] Enhancement, [Package] Base styles

#49826 Add docs for `variations` key in `theme.json`
  docs/how-to-guides/themes/theme-json.md
Labels: [Type] Developer Documentation, Global Styles

#49863 Revert PR 49646: "[Font API] Use registered fonts for Block Editor iframe."
  lib/compat/wordpress-6.2/script-loader.php
Labels: [Feature] Fonts API, Backport to Gutenberg RC

#49847 Block Toolbar: Fix incorrect switcher button width in text mode
  packages/block-editor/src/components/block-toolbar/style.scss
Labels: [Type] Bug, Accessibility (a11y), [Package] Block editor

#49864 Block highlight: Fix radius issue.
  packages/block-editor/src/components/block-list/content.scss
Labels: [Type] Bug, [Type] Code Quality

#49786 List View: Update drop indicator width to be aware of scroll containers
  packages/block-editor/src/components/list-view/drop-indicator.js
Labels: [Type] Bug, [Feature] Drag and Drop, [Feature] List View

#49876 Fix broken link and minor tweaks to formatting and verbiage in the Gutenberg Release Process doc.
  docs/contributors/code/release.md
Labels: [Type] Developer Documentation

#49807 Do not add unregistered style variations to the theme.json schema
  lib/class-wp-theme-json-gutenberg.php
  phpunit/class-wp-theme-json-test.php
Labels: [Type] Bug, Global Styles

#49881 Fix quick inserter going off-screen in some situations
  packages/block-editor/src/components/inserter/index.js
Labels: [Type] Bug, [Priority] High, [Feature] Inserter, Backport to WP Minor Release

#49681 Update the design of the command center
  packages/commands/src/components/command-menu.js
  packages/commands/src/components/style.scss
  packages/commands/src/store/actions.js
  packages/commands/src/store/reducer.js
  packages/edit-site/src/hooks/commands/use-navigation-commands.js
  packages/edit-site/src/hooks/commands/use-wp-admin-commands.js
Labels: [Type] Enhancement, General Interface

#47389 Add `home` to list of new templates
  packages/edit-site/src/components/add-new-template/new-template.js
Labels: [Feature] Site Editor, [Feature] Template Editing Mode

#49700 Port colord to PHP
  lib/block-supports/duotone.php
  lib/class-wp-duotone-gutenberg.php
Labels: [Type] Bug, [Type] Code Quality

#49870 Increase modal radius
  packages/components/CHANGELOG.md
  packages/components/src/modal/style.scss
Labels: Needs Design Feedback, [Package] Components, Needs Figma Update

#49859 Increase dimensions of the pattern modal that appears when creating a new page
  packages/edit-post/src/components/start-page-options/style.scss
Labels: Needs Design Feedback, [Feature] Patterns

#49698 Components: update `ColorPicker` unit tests
  packages/components/src/color-picker/test/index.tsx
Labels: [Package] Components, [Feature] Component System

#49804 test: Rich text test helpers mimic user events
  packages/block-editor/src/components/block-mobile-toolbar/test/block-actions-menu.native.js
  packages/block-editor/src/components/block-mover/test/index.native.js
  packages/block-library/src/buttons/test/edit.native.js
  packages/block-library/src/gallery/test/index.native.js
  packages/block-library/src/list/test/edit.native.js
  packages/block-library/src/paragraph/test/edit.native.js
  packages/block-library/src/preformatted/test/edit.native.js
  packages/block-library/src/pullquote/test/edit.native.js
  packages/block-library/src/quote/test/edit.native.js
  packages/block-library/src/verse/test/edit.native.js
  packages/rich-text/src/test/performance/rich-text.native.js
  test/native/integration-test-helpers/index.js
  test/native/integration-test-helpers/rich-text-change-text.js
  test/native/integration-test-helpers/rich-text-select-range.js
  test/native/integration-test-helpers/rich-text-type.js
  test/native/integration/editor-history.native.js
Labels: Automated Testing, Mobile App - i.e. Android or iOS

#49861 Fix the site editor loading in multi-site installs
  packages/edit-site/src/components/sync-state-with-url/use-init-edited-entity-from-url.js
Labels: [Type] Bug, Backport to WP Minor Release, [Feature] Site Editor, Backport to Gutenberg RC

#49896 Remove unused screenshot from docs folder.
  docs/contributors/release-screenshot.png
Labels: [Type] Developer Documentation

#49890 Equalize modal internal padding
  packages/components/CHANGELOG.md
  packages/components/src/modal/style.scss
Labels: Needs Design Feedback, [Package] Components

#49702 Deprecate remaining global duotone functions
  lib/block-supports/duotone.php
  lib/class-wp-duotone-gutenberg.php
Labels: [Type] Code Quality

#49892 Add parameters to custom-scrollbars-on-hover
  packages/base-styles/_mixins.scss
  packages/edit-site/src/components/sidebar/style.scss
Labels: [Feature] List View

#49895 [RNMobile] Remove new block types
  packages/block-library/src/index.native.js
Labels: Mobile App - i.e. Android or iOS

#49705 Group duotone outputs and refactor rendering
  lib/block-supports/duotone.php
  lib/class-wp-duotone-gutenberg.php
Labels: [Type] Bug, [Type] Code Quality

#49848 Fix: Demo content cover block alignment not respected
  post-content.php
Labels: [Type] Bug, [Feature] Blocks

#49569 Image: Display custom borders on placeholder
  packages/block-library/src/image/block.json
  packages/block-library/src/image/edit.js
  phpunit/class-wp-theme-json-test.php
Labels: [Type] Enhancement, [Block] Image, [Feature] Design Tools

#49738 Borders: Fix border style on color/width clearing and global styles fallback logic
  packages/block-editor/src/components/global-styles/border-panel.js
  packages/edit-site/src/components/global-styles/border-panel.js
Labels: [Type] Bug, Global Styles

#49736 Add script which checks published types for non-checked JS packages
  bin/packages/check-build-type-declaration-files.js
  package-lock.json
  package.json
  packages/annotations/package.json
  packages/block-editor/package.json
  packages/blocks/package.json
  packages/commands/package.json
  packages/core-data/package.json
  packages/edit-post/package.json
  packages/edit-site/package.json
  packages/editor/package.json
  packages/keyboard-shortcuts/package.json
  packages/react-native-editor/jest_ui.config.js
  packages/react-native-editor/metro.config.js
  packages/rich-text/package.json
Labels: [Type] Build Tooling

#49362 Adapt flex child controls for Spacer.
  packages/block-editor/README.md
  packages/block-editor/src/components/index.js
  packages/block-library/src/spacer/edit.js
Labels: [Block] Spacer, [Feature] Layout

#49882 Fix editor crash caused by missing type conversion in EditorStyles component
  packages/block-editor/README.md
  packages/block-editor/src/components/editor-styles/index.js
  packages/block-editor/src/utils/transform-styles/index.js
Labels: [Type] Bug, [Package] Block editor

#49747 Block Mover: Make text labels for left/right move buttons legible
  packages/block-editor/src/components/block-mover/style.scss
  packages/block-editor/src/components/block-toolbar/style.scss
Labels: [Type] Bug, Accessibility (a11y), [Block] Group

#49907 List View: Add aria-description
  packages/block-editor/src/components/list-view/index.js
Labels: Accessibility (a11y), [Feature] List View

#49819 Query: Fix add new post link position via private SlotFill
  packages/block-editor/src/components/block-info-slot-fill/index.js
  packages/block-editor/src/components/block-inspector/index.js
  packages/block-editor/src/private-apis.js
  packages/block-library/src/query/edit/inspector-controls/create-new-post-link.js
  packages/block-library/src/query/edit/inspector-controls/index.js
  packages/block-library/src/query/hooks.js
  packages/block-library/src/query/index.js
  packages/components/CHANGELOG.md
  packages/components/src/private-apis.ts
  packages/components/src/slot-fill/index.js
Labels: [Type] Bug, [Feature] UI Components, [Package] Components, [Block] Query Loop

#49893 Allow adding posts and pages with custom titles from the command menu
  packages/edit-site/src/hooks/commands/use-wp-admin-commands.js
Labels: [Type] Enhancement

#49634 Updates the behavior of the top toolbar fixed setting
  packages/block-editor/src/components/block-toolbar/index.js
  packages/block-editor/src/components/block-toolbar/style.scss
  packages/block-editor/src/components/block-tools/block-contextual-toolbar.js
  packages/block-editor/src/components/block-tools/style.scss
  packages/e2e-tests/specs/editor/various/navigable-toolbar.test.js
  packages/edit-post/src/components/layout/style.scss
  packages/edit-site/src/components/layout/index.js
  packages/edit-site/src/components/layout/style.scss
  packages/icons/src/index.js
  packages/icons/src/library/level-up.js
Labels: [Type] Enhancement, General Interface, Needs Accessibility Feedback

#49906 Components: Update CHANGELOG CI check to support forked repos
  .github/workflows/check-components-changelog.yml
Labels: [Package] Components, GitHub Actions

#49779 Components: Improve output of CHANGELOG CI check
  .github/workflows/check-components-changelog.yml
Labels: [Package] Components, GitHub Actions

#49763 Update Reakit dep to 1.3.11
  package-lock.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/components/tsconfig.json
Labels: [Package] Components

#49858 [RNMobile] Update native Video block to check if MediaPlaceholder should be displayed
  packages/block-library/src/video/edit.native.js
Labels: Mobile App - i.e. Android or iOS, Mobile App - Automation

#49812 Docgen: Fix issue where function token can't be found
  packages/docgen/lib/get-jsdoc-from-token.js
  packages/docgen/test/get-jsdoc-from-token.js
Labels: [Type] Build Tooling, [Package] Docgen

#49913 Cover block: Try removing overflow hidden rule
  packages/block-library/src/cover/editor.scss
  packages/block-library/src/cover/style.scss
Labels: [Type] Bug, [Block] Cover

#49943 Cover: Reduce z-index for inner blocks container
  packages/base-styles/_z-index.scss
Labels: [Type] Bug, [Type] Regression, [Block] Cover, CSS Styling

#49794 Lodash: Remove remaining Lodash from `@wordpress/components` package
  package-lock.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/components/src/mobile/bottom-sheet/cell.native.js
  packages/components/src/mobile/global-styles-context/utils.native.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Components

#49799 Lodash: Remove from `@wordpress/editor` package
  package-lock.json
  packages/editor/package.json
  packages/editor/src/components/post-template/index.js
  packages/editor/src/hooks/custom-sources-backwards-compatibility.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Editor

#46839 Only display the modified post date if the post has been modified
  packages/block-library/src/post-date/edit.js
  packages/block-library/src/post-date/index.php
Labels: [Type] Enhancement, [Block] Post Date

#49921 Correctly return 'isResolving' from 'useAlternativeTemplateParts' hook
  packages/block-library/src/template-part/edit/utils/hooks.js
Labels: [Type] Code Quality, [Block] Template Part

#49950 Borders: Maintain radius in Global Styles
  packages/edit-site/src/components/global-styles/border-panel.js
Labels: [Type] Bug, Global Styles

#49894 Update full screen modal dimensions, and pattern grids
  packages/block-library/src/query/edit/pattern-selection-modal.js
  packages/block-library/src/query/editor.scss
  packages/block-library/src/template-part/edit/index.js
  packages/block-library/src/template-part/editor.scss
  packages/components/CHANGELOG.md
  packages/components/src/modal/style.scss
  packages/edit-post/src/components/start-page-options/index.js
  packages/edit-post/src/components/start-page-options/style.scss
  packages/edit-site/src/components/start-template-options/index.js
  packages/edit-site/src/components/start-template-options/style.scss
Labels: Needs Design Feedback

#49128 Group: Add allowedBlocks attribute and pass it to innerBlockProps
  docs/reference-guides/core-blocks.md
  packages/block-library/src/group/block.json
  packages/block-library/src/group/edit.js
Labels: [Type] Enhancement, [Block] Group, First-time Contributor

#49951 [RNMobile] Revert "Disable block's touchable component when is focused"
  packages/block-editor/src/components/block-list/block.native.js
Labels: Mobile App - i.e. Android or iOS

#49952 [Social Icon]: Update the `link` and `mail` block variation's icons
  packages/block-library/src/social-link/icons/chain.js
  packages/block-library/src/social-link/icons/mail.js
  packages/block-library/src/social-link/index.php
Labels: [Package] Icons

#49641 [Post Featured Image]: Fix some sizing issues
  packages/block-library/src/post-featured-image/edit.js
  packages/block-library/src/post-featured-image/index.php
Labels: [Type] Bug, [Block] Post Featured Image

#49954 Fix the condition for the modal to choose the initial template pattern
  packages/edit-site/src/components/start-template-options/index.js
Labels: [Type] Bug, [Package] Edit Site, [Feature] Site Editor

#49877 Adds PHPUnit tests for gutenberg_register_fonts_from_theme_json().
  phpunit/data/themedir1/fonts-block-theme/assets/fonts/dm-sans/DMSans-Bold-Italic.woff2
  phpunit/data/themedir1/fonts-block-theme/assets/fonts/dm-sans/DMSans-Bold.woff2
  phpunit/data/themedir1/fonts-block-theme/assets/fonts/dm-sans/DMSans-Medium.ttf
  phpunit/data/themedir1/fonts-block-theme/assets/fonts/dm-sans/DMSans-MediumItalic.ttf
  phpunit/data/themedir1/fonts-block-theme/assets/fonts/dm-sans/DMSans-Regular-Italic.woff2
  phpunit/data/themedir1/fonts-block-theme/assets/fonts/dm-sans/DMSans-Regular.woff2
  phpunit/data/themedir1/fonts-block-theme/assets/fonts/dm-sans/LICENSE.txt
  phpunit/data/themedir1/fonts-block-theme/assets/fonts/open-sans/OFL.txt
  phpunit/data/themedir1/fonts-block-theme/assets/fonts/open-sans/OpenSans-Italic-VariableFont_wdth,wght.ttf
  phpunit/data/themedir1/fonts-block-theme/assets/fonts/open-sans/OpenSans-VariableFont_wdth,wght.ttf
  phpunit/data/themedir1/fonts-block-theme/assets/fonts/source-serif-pro/LICENSE.md
  phpunit/data/themedir1/fonts-block-theme/assets/fonts/source-serif-pro/SourceSerif4Variable-Italic.otf.woff2
  phpunit/data/themedir1/fonts-block-theme/assets/fonts/source-serif-pro/SourceSerif4Variable-Italic.ttf.woff2
  phpunit/data/themedir1/fonts-block-theme/assets/fonts/source-serif-pro/SourceSerif4Variable-Roman.otf.woff2
  phpunit/data/themedir1/fonts-block-theme/assets/fonts/source-serif-pro/SourceSerif4Variable-Roman.ttf.woff2
  phpunit/data/themedir1/fonts-block-theme/style.css
  phpunit/data/themedir1/fonts-block-theme/styles/variation-duplicate-fonts.json
  phpunit/data/themedir1/fonts-block-theme/styles/variation-new-font-family.json
  phpunit/data/themedir1/fonts-block-theme/styles/variation-new-font-variations.json
  phpunit/data/themedir1/fonts-block-theme/styles/variation-no-fonts.json
  phpunit/data/themedir1/fonts-block-theme/theme.json
  phpunit/fonts-api/gutenbergRegisterFontsFromThemeJson-test.php
Labels: Automated Testing, [Feature] Fonts API

#49838 Duotone: add block controls on the inspector
  packages/block-editor/src/components/global-styles/filters-panel.js
  packages/block-editor/src/components/global-styles/style.scss
  packages/block-editor/src/components/inspector-controls-tabs/styles-tab.js
  packages/block-editor/src/components/inspector-controls/groups.js
  packages/block-editor/src/hooks/duotone.js
  packages/block-editor/src/hooks/utils.js
  packages/edit-site/src/components/global-styles/filters-panel.js
Labels: [Feature] Design Tools

#49917 [Mobile] - Fix regression with the Color hook and ColorPanel
  packages/block-editor/src/components/global-styles/color-panel.native.js
  packages/block-editor/src/hooks/color-panel.native.js
  packages/block-library/src/buttons/test/__snapshots__/edit.native.js.snap
  packages/block-library/src/buttons/test/edit.native.js
  packages/block-library/src/heading/test/__snapshots__/index.native.js.snap
  packages/block-library/src/heading/test/index.native.js
  packages/block-library/src/paragraph/test/edit.native.js
  packages/components/src/color-palette/index.native.js
  packages/components/src/custom-gradient-picker/index.native.js
  packages/components/src/mobile/color-settings/palette.screen.native.js
  packages/components/src/mobile/segmented-control/index.native.js
  test/native/integration-test-helpers/get-global-styles.js
  test/native/integration-test-helpers/initialize-editor.js
Labels: Mobile App - i.e. Android or iOS

#49929 [RNMobile] Add embed linkst to disable cache list
  packages/react-native-editor/src/api-fetch-setup.js
Labels: Mobile App - i.e. Android or iOS

#49781 [RNMobile] Listen for post save events
  packages/react-native-bridge/android/react-native-bridge/src/main/java/org/wordpress/mobile/ReactNativeGutenbergBridge/RNReactNativeGutenbergBridgeModule.java
  packages/react-native-bridge/android/react-native-bridge/src/main/java/org/wordpress/mobile/WPAndroidGlue/WPAndroidGlueCode.java
  packages/react-native-bridge/index.js
  packages/react-native-bridge/ios/Gutenberg.swift
  packages/react-native-bridge/ios/RNReactNativeGutenbergBridge.swift
  test/native/setup.js
Labels: Mobile App - i.e. Android or iOS, Mobile App - Automation
