Repository WordPress/gutenberg, pull requests merged in 2023-08, with the labels that each got.

#53203 Enforce Labels Workflow: Treat "Backports from WordPress Core" as allowable label
  .github/workflows/enforce-pr-labels.yml
Labels: [Type] Build Tooling

#53204 Site editor: conditionally render global styles revisions footer in sidebar
  packages/edit-site/src/components/sidebar-navigation-screen-global-styles/index.js
  packages/edit-site/src/components/sidebar-navigation-screen/index.js
  packages/edit-site/src/components/sidebar-navigation-screen/style.scss
Labels: [Type] Enhancement, Backport to WP Beta/RC, Global Styles

#52940 Fix regression with Edit site Navigate regions
  packages/edit-site/src/components/layout/index.js
  packages/edit-site/src/components/layout/style.scss
Labels: [Type] Bug, [Type] Accessibility (a11y), [Type] Regression, Backport to WP Beta/RC, [Package] Edit Site

#53169 Fix not expanding pattern in page editor
  packages/block-library/src/pattern/edit.js
  packages/edit-site/src/components/page-content-focus-manager/disable-non-page-content-blocks.js
Labels: [Type] Bug, Backport to WP Beta/RC, [Feature] Patterns, [Feature] Site Editor, [Feature] Template Editing Mode

#53072 Footnotes: fix published preview
  packages/block-library/src/footnotes/index.php
  packages/core-data/src/actions.js
  packages/editor/src/store/selectors.js
  test/e2e/specs/editor/various/footnotes.spec.js
Labels: [Type] Bug, Backport to WP Beta/RC, [Block] Footnotes

#53135 Footnotes: add missing _ in revision field filter
  packages/block-library/src/footnotes/index.php
Labels: [Type] Code Quality, Backport to WP Beta/RC, [Block] Footnotes

#53110 Fix block top toolbar artefact in navigation isolation
  packages/block-editor/src/components/block-tools/block-contextual-toolbar.js
Labels: [Type] Bug, Needs Technical Feedback, Backport to WP Beta/RC, [Feature] Site Editor, [Feature] Navigation Menus

#53206 Pattern: Add getBlockRootClientId call
  packages/block-library/src/pattern/edit.js
Labels: [Type] Bug, Backport to WP Beta/RC, [Feature] Patterns, [Block] Pattern

#53205 Patterns: fix color and behavior of unsynced patterns in block inserter when searching for `reusable`
  packages/block-editor/src/components/inserter-list-item/index.js
  packages/block-editor/src/components/inserter/hooks/use-block-types-state.js
Labels: [Type] Bug, [Feature] Patterns

#52476 Try adding further details to template part panel
  packages/edit-site/src/components/sidebar-navigation-screen-details-panel/style.scss
  packages/edit-site/src/components/sidebar-navigation-screen-pattern/use-pattern-details.js
Labels: [Type] Enhancement, [Feature] Site Editor

#52736 [RNMobile] Add e2e util `addBlockUsingAppender`
  packages/react-native-editor/__device-tests__/helpers/test-data.js
  packages/react-native-editor/__device-tests__/pages/editor-page.js
Labels: [Type] Automated Testing, Mobile App - i.e. Android or iOS

#53232 Edit Post: Use hooks instead of HoCs in `DiscussionPanel`
  packages/edit-post/src/components/sidebar/discussion-panel/index.js
Labels: [Type] Enhancement, [Priority] Low, [Package] Edit Post

#53125 test: Enable jest-console for native tests
  packages/block-editor/src/components/block-draggable/test/index.native.js
  packages/block-editor/src/components/block-list/test/block-invalid-warning.native.js
  packages/block-library/src/buttons/test/edit.native.js
  packages/block-library/src/cover/test/edit.native.js
  packages/block-library/src/embed/test/index.native.js
  packages/block-library/src/heading/test/index.native.js
  packages/block-library/src/image/test/edit.native.js
  packages/block-library/src/paragraph/test/edit.native.js
  packages/components/src/draggable/test/index.native.js
  packages/edit-post/src/test/editor.native.js
  packages/format-library/src/text-color/test/index.native.js
  packages/react-native-editor/src/setup-locale.js
  packages/react-native-editor/src/test/index.test.js
  packages/rich-text/src/test/index.native.js
  test/native/setup-after-env.js
Labels: [Type] Automated Testing, Mobile App - i.e. Android or iOS

#53235 Editor: Use hooks instead of HoCs in `PostTypeSupportCheck`
  packages/editor/src/components/post-author/test/check.js
  packages/editor/src/components/post-type-support-check/index.js
  packages/editor/src/components/post-type-support-check/test/index.js
Labels: [Type] Enhancement, [Priority] Low, [Package] Editor

#53218 Block Editor: Fix ESLint warning for the 'useBlockEditingMode' hook
  packages/block-editor/src/components/block-editing-mode/index.js
Labels: [Type] Code Quality, [Package] Block editor

#53171 Migrate Allowed Block Test to Playwright
  packages/e2e-tests/specs/editor/plugins/allowed-blocks.test.js
  test/e2e/specs/editor/plugins/allowed-blocks.spec.js
Labels: [Type] Automated Testing, [Package] E2E Tests

#53254 Docs: Clarify that blockGap support depends on layout support
  docs/how-to-guides/themes/theme-json.md
  docs/reference-guides/block-api/block-supports.md
Labels: [Type] Developer Documentation, [Feature] Layout

#53226 Temporarily skip widget import e2e test
  test/e2e/specs/site-editor/template-part.spec.js
Labels: [Type] Automated Testing, [Package] E2E Tests

#53207 Fix: Snack bar not fixed on certain pages in the Site Editor
  packages/base-styles/_z-index.scss
  packages/edit-site/src/components/page-patterns/style.scss
  packages/edit-site/src/components/page/index.js
  packages/edit-site/src/components/page/style.scss
  packages/edit-site/src/components/table/style.scss
Labels: [Type] Bug, [Feature] Patterns, [Feature] Site Editor

#53227 Block Editor: Simplify check in 'withBlockControls' styles hook
  packages/block-editor/src/hooks/style.js
Labels: [Type] Code Quality, [Package] Block editor

#53030 Components: Introduce a basic ProgressBar component
  docs/tool/manifest.js
  packages/components/CHANGELOG.md
  packages/components/src/private-apis.ts
  packages/components/src/progress-bar/README.md
  packages/components/src/progress-bar/index.tsx
  packages/components/src/progress-bar/stories/index.tsx
  packages/components/src/progress-bar/styles.ts
  packages/components/src/progress-bar/test/index.tsx
  packages/components/src/progress-bar/types.ts
Labels: Needs Design Feedback, [Package] Components, Needs Technical Feedback, Needs Accessibility Feedback, Storybook, [Type] Feature

#53221 Update document title buttons radius
  packages/edit-site/src/components/header-edit-mode/document-actions/style.scss
Labels: [Type] Bug, Needs Design Feedback, [Feature] Site Editor

#53240 Interactivity API: remove the `wp-show` directive temporarily
  packages/e2e-tests/plugins/interactive-blocks/directive-effect/render.php
  packages/e2e-tests/plugins/interactive-blocks/directive-effect/view.js
  packages/e2e-tests/plugins/interactive-blocks/directive-show/block.json
  packages/e2e-tests/plugins/interactive-blocks/directive-show/render.php
  packages/e2e-tests/plugins/interactive-blocks/directive-show/view.js
  packages/e2e-tests/plugins/interactive-blocks/tovdom-islands/render.php
  packages/e2e-tests/plugins/interactive-blocks/tovdom-islands/view.js
  packages/interactivity/CHANGELOG.md
  packages/interactivity/src/directives.js
  test/e2e/specs/interactivity/directives-show.spec.ts
Labels: [Type] Experimental, [Feature] Interactivity API

#52948 API Reference Docs for Interactivity API
  packages/interactivity/docs/2-api-reference.md
  packages/interactivity/docs/assets/state-directives.png
  packages/interactivity/docs/assets/store-server-client.png
Labels: [Type] Developer Documentation, [Feature] Interactivity API

#53167 Remove duplicated display URL in LinkControl
  packages/block-editor/src/components/link-control/link-preview.js
  packages/block-editor/src/components/link-control/style.scss
Labels: [Type] Enhancement, [Package] Block editor

#52989 Add context to the "Reset template" "Delete template" and "Edit template" commands
  packages/edit-site/src/hooks/commands/use-edit-mode-commands.js
Labels: [Type] Enhancement, [Package] Commands

#52799 Link Control: persist advanced settings toggle state to preferences if available
  packages/block-editor/src/components/link-control/README.md
  packages/block-editor/src/components/link-control/index.js
  packages/block-editor/src/components/link-control/test/index.js
  test/e2e/specs/editor/blocks/links.spec.js
Labels: [Type] Feature, [Feature] Link Editing

#53269 Migrate 'iframed inline styles' e2e tests to Playwright
  packages/e2e-tests/specs/editor/plugins/iframed-equeue-block-assets.test.js
  test/e2e/specs/editor/plugins/iframed-equeue-block-assets.spec.js
Labels: [Type] Automated Testing, [Package] E2E Tests

#53263 Improve the efficiency of the useDebouncedInput hook
  packages/block-editor/src/components/inserter/hooks/use-debounced-input.js
  packages/edit-site/src/utils/use-debounced-input.js
Labels: [Type] Enhancement

#52133 `TabPanel`: implement Ariakit internally
  packages/components/CHANGELOG.md
  packages/components/src/tab-panel/index.tsx
  packages/components/src/tab-panel/stories/index.tsx
  packages/components/src/tab-panel/test/index.tsx
  packages/components/src/tab-panel/types.ts
  packages/edit-post/src/components/preferences-modal/test/__snapshots__/index.js.snap
  packages/edit-post/src/components/preferences-modal/test/index.js
Labels: [Type] Enhancement, [Package] Components, [Feature] Component System

#53237 Mobile - KeyboardAwareFlatList - Avoid VirtualizedList console error
  packages/components/src/mobile/keyboard-aware-flat-list/index.ios.js
Labels: [Type] Enhancement, Mobile App - i.e. Android or iOS, Mobile App - Automation

#53270 [RNMobile] Avoid navigation container dismissing the keyboard
  packages/components/src/mobile/bottom-sheet/bottom-sheet-navigation/navigation-container.native.js
Labels: [Type] Regression, Mobile App - i.e. Android or iOS, Mobile App - Automation

#53117 Try updated command palette styling
  packages/commands/src/components/command-menu.js
  packages/commands/src/components/style.scss
Labels: [Type] Enhancement, [Package] Commands

#53242 Commands: Use the same Preview target tab
  packages/edit-post/src/hooks/commands/use-common-commands.js
Labels: [Type] Enhancement, [Package] Edit Post

#53257 Footnotes: Fix recursion into updating attributes when attributes is not an object
  packages/core-data/src/entity-provider.js
Labels: [Type] Bug, [Package] Core data, Backport to WP Beta/RC, [Block] Footnotes

#53259 Don't add root padding to children of flex and grid layout blocks.
  lib/class-wp-theme-json-gutenberg.php
  packages/block-editor/src/components/global-styles/use-global-styles-output.js
  phpunit/class-wp-theme-json-test.php
Labels: [Type] Bug, [Feature] Layout

#53256 Cover block: Add integration tests to check isDark settings
  packages/block-library/src/cover/test/edit.js
Labels: [Type] Automated Testing, [Block] Cover

#53243 Fix: Sync status overlaps for some languages in Patterns post type page
  packages/editor/src/components/post-sync-status/style.scss
Labels: [Type] Bug, Internationalization (i18n), Needs Design Feedback, [Feature] Patterns, Backport to WP Minor Release

#52965 Global styles revisions: add a reset to default revision
  packages/edit-site/src/components/global-styles/screen-revisions/index.js
  packages/edit-site/src/components/global-styles/screen-revisions/revisions-buttons.js
  packages/edit-site/src/components/global-styles/screen-revisions/test/use-global-styles-revisions.js
  packages/edit-site/src/components/global-styles/screen-revisions/use-global-styles-revisions.js
  packages/edit-site/src/components/global-styles/ui.js
  test/e2e/specs/site-editor/user-global-styles-revisions.spec.js
Labels: [Type] Enhancement, Needs Design Feedback, Global Styles

#53162 Add README to the useSetting component
  packages/block-editor/src/components/use-setting/README.md
Labels: [Type] Developer Documentation

#53217 Mobile - Fix iOS Focus loop for RichText components
  packages/block-editor/src/components/block-list/index.native.js
  packages/block-editor/src/components/default-block-appender/index.native.js
  packages/react-native-aztec/src/AztecInputState.js
  packages/react-native-aztec/src/AztecView.js
  packages/react-native-editor/CHANGELOG.md
Labels: [Type] Bug, Mobile App - i.e. Android or iOS

#53183 Auto-inserting blocks: Minor fixes to address feedback
  lib/experimental/auto-inserting-blocks.php
Labels: [Type] Code Quality

#53291 Plugins: Introduce the 'usePluginContext' hook
  packages/plugins/README.md
  packages/plugins/src/components/index.js
  packages/plugins/src/components/plugin-context/index.tsx
Labels: [Type] Enhancement, [Package] Plugins

#53159 Consolidate and update the Building a block editor guide
  docs/how-to-guides/platform/custom-block-editor.md
  docs/how-to-guides/platform/custom-block-editor/README.md
  docs/how-to-guides/platform/custom-block-editor/tutorial.md
  docs/manifest.json
  docs/toc.json
Labels: [Type] Developer Documentation

#53268 refactor: Reduce server log verbosity
  packages/react-native-aztec/src/AztecView.js
  packages/react-native-editor/src/setup.js
  packages/react-native-editor/src/test/index.test.js
Labels: [Type] Code Quality, Mobile App - i.e. Android or iOS

#53293 Mobile Release v1.100.2
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: [Type] Build Tooling, Mobile App - i.e. Android or iOS

#53274 Image block: Fix stretched images constrained by max-width
  packages/block-library/src/image/block.json
  packages/block-library/src/image/deprecated.js
  packages/block-library/src/image/image.js
  packages/block-library/src/image/save.js
  test/integration/fixtures/blocks/core__image__deprecated-v2-add-is-resized-class.serialized.html
  test/integration/fixtures/blocks/core__image__deprecated-v3-add-align-wrapper.serialized.html
  test/integration/fixtures/blocks/core__image__deprecated-v4-remove-align-wrapper.serialized.html
  test/integration/fixtures/blocks/core__image__deprecated-v6-add-style-width-height.serialized.html
  test/integration/fixtures/blocks/core__image__deprecated-v7-string-width-height-attributes.html
  test/integration/fixtures/blocks/core__image__deprecated-v7-string-width-height-attributes.json
  test/integration/fixtures/blocks/core__image__deprecated-v7-string-width-height-attributes.parsed.json
  test/integration/fixtures/blocks/core__image__deprecated-v7-string-width-height-attributes.serialized.html
Labels: [Type] Bug, [Block] Image, Backport to WP Beta/RC

#53294 Mobile Release v1.101.0
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: [Type] Task, Mobile App - i.e. Android or iOS

#48254 Rich text: copy tag name on internal paste
  docs/reference-guides/core-blocks.md
  packages/block-editor/src/components/rich-text/use-paste-handler.js
  packages/block-library/src/heading/block.json
  packages/blocks/README.md
  packages/blocks/src/api/raw-handling/paste-handler.js
  packages/e2e-tests/specs/editor/various/__snapshots__/rich-text.test.js.snap
  packages/e2e-tests/specs/editor/various/rich-text.test.js
  packages/rich-text/src/component/use-copy-handler.js
  test/integration/blocks-raw-handling.test.js
Labels: [Type] Bug

#53281 Global styles revisions: reduce visibility check from 2 to 1 revision
  packages/edit-site/src/components/global-styles/ui.js
  packages/edit-site/src/components/sidebar-navigation-screen-global-styles/index.js
  test/e2e/specs/site-editor/user-global-styles-revisions.spec.js
Labels: [Type] Enhancement, Global Styles

#51414 [RNMobile] Display custom color value in mobile Cover Block color picker
  packages/block-library/src/cover/edit.native.js
  packages/block-library/src/cover/style.native.scss
  packages/block-library/src/cover/test/edit.native.js
  packages/block-library/src/missing/edit.native.js
  packages/react-native-editor/CHANGELOG.md
  test/native/__mocks__/styleMock.js
  test/native/setup.js
Labels: [Type] Enhancement, Mobile App - i.e. Android or iOS, Mobile App - Automation

#45107 File block: Add spacing support
  docs/reference-guides/core-blocks.md
  packages/block-library/src/file/block.json
  packages/block-library/src/file/style.scss
Labels: [Type] Enhancement, [Status] Blocked, [Block] File

#53266 Migrate 'Block variations' e2e tests to Playwright
  packages/e2e-tests/specs/editor/plugins/block-variations.test.js
  test/e2e/specs/editor/plugins/block-variations.spec.js
Labels: [Type] Automated Testing, [Package] E2E Tests

#53081 Fluid typography: add min and max viewport width configurable options
  lib/block-supports/typography.php
  packages/block-editor/src/components/global-styles/test/typography-utils.js
  packages/block-editor/src/components/global-styles/typography-utils.js
  phpunit/block-supports/typography-test.php
  phpunit/data/themedir1/block-theme-child-with-fluid-typography-config/theme.json
  schemas/json/theme.json
Labels: [Type] Enhancement, [Status] In Progress, Needs PHP backport, [Feature] Typography

#53282 Add layout and block spacing to details block
  docs/reference-guides/core-blocks.md
  packages/block-library/src/details/block.json
  packages/block-library/src/details/style.scss
Labels: [Type] Enhancement, [Feature] Layout, [Block] Details

#53275 Add some missing internal peer dependencies
  packages/annotations/package.json
  packages/commands/package.json
  packages/core-commands/package.json
  packages/core-data/package.json
  packages/data-controls/package.json
  packages/notices/package.json
  packages/plugins/package.json
Labels: [Type] Build Tooling

#53262 Components: Expose `Theme` via private APIs
  packages/components/CHANGELOG.md
  packages/components/src/private-apis.ts
  packages/components/src/theme/README.md
  packages/components/src/theme/index.tsx
Labels: [Type] Enhancement, [Package] Components

#53337 Interactivity API: Add support for underscores and leading dashes in the suffix part of the directive
  packages/e2e-tests/plugins/interactive-blocks/directive-class/render.php
  packages/interactivity/CHANGELOG.md
  packages/interactivity/src/vdom.js
  test/e2e/specs/interactivity/directives-class.spec.ts
Labels: [Type] Bug, [Feature] Interactivity API

#53044 Footnotes: Add typography, dimensions, and border block supports
  docs/reference-guides/core-blocks.md
  packages/block-library/src/footnotes/block.json
Labels: [Type] Enhancement, [Package] Block library, Backport to Gutenberg RC, [Block] Footnotes

#49538 Media & Text Block: Fix deprecation with `isStackOnMobile` default value changed
  packages/block-library/src/media-text/deprecated.js
  test/integration/fixtures/blocks/core__media-text__deprecated-v2.html
  test/integration/fixtures/blocks/core__media-text__deprecated-v2.json
  test/integration/fixtures/blocks/core__media-text__deprecated-v2.parsed.json
  test/integration/fixtures/blocks/core__media-text__deprecated-v2.serialized.html
Labels: [Type] Bug, [Block] Media & Text, [Feature] Block Validation/Deprecation

#53312 docs: Note the preios setup script
  docs/contributors/code/react-native/getting-started-react-native.md
Labels: [Type] Developer Documentation, Mobile App - i.e. Android or iOS

#52953 Components: Remove unused components from `/ui`
  packages/components/CHANGELOG.md
  packages/components/src/ui/README.md
  packages/components/src/ui/control-group/README.md
  packages/components/src/ui/control-group/component.js
  packages/components/src/ui/control-group/context.js
  packages/components/src/ui/control-group/hook.js
  packages/components/src/ui/control-group/index.js
  packages/components/src/ui/control-group/styles.js
  packages/components/src/ui/control-group/test/__snapshots__/index.js.snap
  packages/components/src/ui/control-group/test/index.js
  packages/components/src/ui/control-group/types.ts
  packages/components/src/ui/control-label/README.md
  packages/components/src/ui/control-label/component.js
  packages/components/src/ui/control-label/hook.js
  packages/components/src/ui/control-label/index.js
  packages/components/src/ui/control-label/stories/index.js
  packages/components/src/ui/control-label/styles.js
  packages/components/src/ui/control-label/test/__snapshots__/index.js.snap
  packages/components/src/ui/control-label/test/index.js
  packages/components/src/ui/control-label/types.ts
  packages/components/src/ui/form-group/README.md
  packages/components/src/ui/form-group/form-group-content.js
  packages/components/src/ui/form-group/form-group-context.js
  packages/components/src/ui/form-group/form-group-help.js
  packages/components/src/ui/form-group/form-group-label.js
  packages/components/src/ui/form-group/form-group-styles.js
  packages/components/src/ui/form-group/form-group.js
  packages/components/src/ui/form-group/index.js
  packages/components/src/ui/form-group/stories/index.js
  packages/components/src/ui/form-group/test/__snapshots__/index.js.snap
  packages/components/src/ui/form-group/test/index.js
  packages/components/src/ui/form-group/types.ts
  packages/components/src/ui/form-group/use-form-group.js
  packages/components/src/ui/index.js
  packages/components/src/ui/spinner/README.md
  packages/components/src/ui/spinner/component.js
  packages/components/src/ui/spinner/index.js
  packages/components/src/ui/spinner/stories/index.js
  packages/components/src/ui/spinner/styles.js
  packages/components/src/ui/spinner/test/__snapshots__/index.js.snap
  packages/components/src/ui/spinner/test/index.js
  packages/components/src/ui/spinner/utils.js
Labels: [Type] Code Quality, [Package] Components

#53342 Add code requirements to Interactivity API Docs
  packages/interactivity/docs/1-getting-started.md
Labels: [Type] Developer Documentation, [Feature] Interactivity API

#53090 MenuGroup: Add Storybook stories
  packages/components/src/menu-group/stories/index.tsx
Labels: [Type] Developer Documentation, Storybook

#53341 Safari: fix ArrowUp on empty paragraph
  packages/rich-text/src/to-tree.js
  test/e2e/specs/editor/various/__snapshots__/Writing-Flow-should-navigate-empty-paragraphs-1-chromium.txt
  test/e2e/specs/editor/various/writing-flow.spec.js
Labels: [Type] Bug, Browser Issues, [Feature] Writing Flow

#53181 Image Block: Don't render `DimensionsTool` if it is not resizable
  packages/block-library/src/image/image.js
Labels: [Type] Bug, [Block] Image, [Package] Block editor

#53290 Edit Post: Use hooks instead of HoC in 'PluginDocumentSettingPanel'
  packages/edit-post/README.md
  packages/edit-post/src/components/sidebar/plugin-document-setting-panel/index.js
Labels: [Type] Enhancement, [Package] Edit Post

#53302 Edit Post: Replace 'withPluginContext' in the 'PluginPostPublishPanel'
  packages/edit-post/README.md
  packages/edit-post/src/components/sidebar/plugin-post-publish-panel/index.js
Labels: [Type] Enhancement, [Package] Edit Post

#53304 Edit Post: Replace 'withPluginContext' in the 'PluginPrePublishPanel'
  packages/edit-post/README.md
  packages/edit-post/src/components/sidebar/plugin-pre-publish-panel/index.js
Labels: [Type] Enhancement, [Package] Edit Post

#53330 Migrate PostTypeSupportCheck usages from withSelect to hooks
  packages/editor/src/components/page-attributes/order.js
  packages/editor/src/components/page-attributes/test/order.js
  packages/editor/src/components/post-excerpt/check.js
  packages/editor/src/components/post-featured-image/check.js
  packages/editor/src/components/post-format/check.js
  packages/editor/src/components/post-last-revision/check.js
  packages/editor/src/components/post-last-revision/index.js
  packages/editor/src/components/post-last-revision/test/check.js
  packages/editor/src/components/post-type-support-check/index.js
  packages/editor/src/components/post-type-support-check/test/index.js
Labels: [Type] Code Quality, [Package] Editor

#53376 Footnotes: Add some test coverage for footnotes logic in useEntityBlockEditor
  packages/core-data/src/entity-provider.js
  packages/core-data/src/test/entity-provider.js
Labels: [Type] Code Quality, [Package] Core data, [Block] Footnotes

#51610 Details Block: Rmove unnecessary comment attributes
  packages/block-library/src/details/block.json
  test/integration/fixtures/blocks/core__details.serialized.html
Labels: [Type] Code Quality, [Feature] Block Validation/Deprecation, [Block] Details

#43164 Add documentation for keyboard shortcut selecting text across multiple blocks
  docs/explanations/faq.md
  packages/block-editor/src/components/keyboard-shortcuts/index.js
  packages/edit-post/src/components/keyboard-shortcut-help-modal/test/__snapshots__/index.js.snap
Labels: [Type] Enhancement, First-time Contributor

#53325 Add stretch alignment to Column block.
  packages/block-library/src/column/edit.js
  packages/block-library/src/columns/style.scss
Labels: [Type] Enhancement, [Block] Columns

#53347 ProgressBar: Use the theme system accent for indicator color
  packages/components/CHANGELOG.md
  packages/components/src/progress-bar/styles.ts
Labels: [Type] Enhancement, [Package] Components

#41486 Add some missing package dependencies
  package-lock.json
  packages/preferences/package.json
  packages/reusable-blocks/package.json
  packages/viewport/package.json
Labels: [Type] Bug, npm Packages

#53349 ProgressBar: Use gray 300 for track color
  packages/components/CHANGELOG.md
  packages/components/src/progress-bar/styles.ts
Labels: [Type] Enhancement, [Package] Components

#53372 Quality: remove unnecessary `as` prop from `SiteHub` component
  packages/edit-site/src/components/layout/index.js
Labels: [Type] Code Quality, [Feature] Site Editor

#51971 Fix wp-scripts watch mode failing when `block.json` contains malformed JSON
  packages/scripts/CHANGELOG.md
  packages/scripts/utils/config.js
Labels: [Type] Bug, [Package] Scripts, Developer Experience

#52535 Add README for `BlockCaption` component
  packages/block-editor/src/components/block-caption/README.md
Labels: [Type] Developer Documentation

#53324 Custom fields: insert path and query args to form before submitting
  packages/edit-post/src/components/preferences-modal/options/enable-custom-fields.js
  packages/edit-post/src/components/preferences-modal/options/test/enable-custom-fields.js
Labels: [Type] Bug, [Feature] Custom Fields

#53387 Editor: Use hooks instead of HoCs in `PostPendingStatus`
  packages/editor/src/components/post-pending-status/index.js
Labels: [Type] Enhancement, [Priority] Low, [Package] Editor

#53389 Editor: Use hooks instead of HoCs in `PostPendingStatusCheck`
  packages/editor/src/components/post-pending-status/check.js
  packages/editor/src/components/post-pending-status/test/check.js
Labels: [Type] Enhancement, [Priority] Low, [Package] Editor

#53339 Aspect Ratio: Reset height when selecting the original aspect ratio
  packages/block-editor/src/components/dimensions-tool/index.js
Labels: [Type] Bug, [Block] Image

#53123 Don't allow access to Styles-related pages via the command palette in the hybrid theme
  packages/core-commands/src/admin-navigation-commands.js
  packages/core-commands/src/hooks.js
  packages/core-commands/src/site-editor-navigation-commands.js
  packages/edit-site/src/hooks/commands/use-common-commands.js
Labels: [Type] Bug, [Feature] Themes, [Package] Core commands

#53373 Search Block: Fix unintended wrapping of button text in "Button only" style
  packages/block-library/src/search/style.scss
Labels: [Type] Accessibility (a11y), [Block] Search

#53388 Update Interactivity API package README with clear references to docs
  packages/interactivity/README.md
Labels: [Type] Developer Documentation, [Feature] Interactivity API

#52469 Interactivity API: Add JSDoc comments to the public API
  packages/interactivity/CHANGELOG.md
  packages/interactivity/src/hooks.js
  packages/interactivity/src/store.js
Labels: [Type] Code Quality, [Feature] Interactivity API

#53394 Docs/Gutenberg release process - Better table of contents
  docs/contributors/code/release.md
Labels: [Type] Developer Documentation

#53398 Update curating the editor to include starter patterns for templates
  docs/how-to-guides/curating-the-editor-experience.md
Labels: [Type] Developer Documentation

#53253 Cover block: fix flickering when inserted in templates and also fix isDark calculation bugs
  packages/block-library/src/cover/edit/index.js
  packages/block-library/src/cover/edit/inspector-controls.js
  packages/block-library/src/cover/edit/use-cover-is-dark.js
  packages/block-library/src/cover/shared.js
  packages/block-library/src/cover/test/edit.js
  packages/e2e-tests/specs/editor/various/__snapshots__/inserting-blocks.test.js.snap
Labels: [Type] Bug, [Block] Cover

#53327 Fix Synced Patterns' color in quick inserter
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/selectors.js
Labels: [Type] Bug, [Feature] Inserter, [Feature] Synced Patterns

#53331 Hide pattern previews on hover in inserter
  packages/block-editor/src/components/inserter/menu.js
  packages/block-editor/src/components/inserter/search-results.js
Labels: [Type] Bug, [Feature] Inserter, [Feature] Patterns

#53404 Include namespace in layout classname for non-core blocks
  lib/block-supports/layout.php
  packages/block-editor/src/hooks/layout.js
Labels: [Type] Bug, [Feature] Layout

#53409 Fix the typo when setting the preview device type to 'Desktop'
  packages/edit-site/src/components/header-edit-mode/index.js
  packages/edit-site/src/components/site-hub/index.js
Labels: [Type] Bug, [Package] Edit Post, [Package] Edit Site

#53395 [Mobile] - Update LaunchScreen logo and app icon
  packages/react-native-editor/ios/GutenbergDemo/Images.xcassets/AppIcon.appiconset/120 1.png
  packages/react-native-editor/ios/GutenbergDemo/Images.xcassets/AppIcon.appiconset/120.png
  packages/react-native-editor/ios/GutenbergDemo/Images.xcassets/AppIcon.appiconset/167.png
  packages/react-native-editor/ios/GutenbergDemo/Images.xcassets/AppIcon.appiconset/180.png
  packages/react-native-editor/ios/GutenbergDemo/Images.xcassets/AppIcon.appiconset/80.png
  packages/react-native-editor/ios/GutenbergDemo/Images.xcassets/AppIcon.appiconset/Contents.json
  packages/react-native-editor/ios/GutenbergDemo/Images.xcassets/GutenbergLogo.imageset/Contents.json
  packages/react-native-editor/ios/GutenbergDemo/Images.xcassets/GutenbergLogo.imageset/GutenbergLogo.png
  packages/react-native-editor/ios/GutenbergDemo/Images.xcassets/GutenbergLogo.imageset/GutenbergLogo@2x.png
  packages/react-native-editor/ios/GutenbergDemo/Images.xcassets/GutenbergLogo.imageset/GutenbergLogo@3x.png
  packages/react-native-editor/ios/LaunchScreen.storyboard
Labels: [Type] Enhancement, Mobile App - i.e. Android or iOS

#53410 Fix missing Replace button in content-locked Image blocks
  packages/block-editor/src/components/block-controls/use-has-block-controls.js
  packages/block-editor/src/components/block-tools/block-contextual-toolbar.js
  packages/block-editor/src/components/block-tools/style.scss
Labels: [Type] Regression, [Block] Image, [Block] Post Featured Image, [Feature] Page Content Focus, [Feature] Navigation Menus

#53413 Docs: complimentary > complementary
  packages/interface/src/components/complementary-area/README.md
Labels: [Type] Developer Documentation

#52562 Documentation: Add the auto-generated commands store documentation
  docs/reference-guides/data/README.md
  docs/reference-guides/data/data-core-commands.md
  packages/commands/src/store/selectors.js
Labels: [Type] Developer Documentation

#53412 Adds site editor mobile block settings and styles
  packages/edit-site/src/components/header-edit-mode/document-actions/style.scss
  packages/edit-site/src/components/header-edit-mode/style.scss
  packages/edit-site/src/components/sidebar-edit-mode/default-sidebar.js
  packages/interface/src/components/pinned-items/style.scss
Labels: [Type] Bug, Mobile Web, [Feature] Site Editor

#53408 Remove "go to" for terms and posts
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menus/leaf-more-menu.js
Labels: [Type] Bug, Backport to WP Minor Release, [Feature] Template Editing Mode, [Feature] Focus Mode

#53390 Project management: Remove automation that checks-in ANY issue without activity in 180 days
  .github/workflows/stale-issue-gardening.yml
Labels: [Type] Project Management

#53419 Revert Fix entity cache misses for single posts due to string as recordKey
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menu/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-page/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-pattern/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-pattern/use-pattern-details.js
  packages/edit-site/src/components/sync-state-with-url/use-init-edited-entity-from-url.js
  packages/edit-site/src/components/use-edited-entity-record/index.js
  packages/edit-site/src/utils/normalize-record-key.js
Labels: [Type] Regression

#47150 Update npx commands in create-block README.md
  packages/create-block/README.md
Labels: [Type] Developer Documentation, First-time Contributor, [Package] Create Block

#53356 LinkControl: prevent overflow when the title is a URL
  packages/block-editor/src/components/link-control/link-preview.js
  packages/block-editor/src/components/link-control/style.scss
Labels: [Type] Bug, [Feature] Link Editing

#53348 LinkControl/LinkUI: Remove unused `className` prop
  packages/block-library/src/button/edit.js
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation-link/link-ui.js
  packages/block-library/src/navigation-submenu/edit.js
Labels: [Type] Code Quality, [Package] Blocks, [Package] Block editor

#53014 Remove Firefox work-around to type Space in RichText components inside button/summary
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/components/rich-text/use-firefox-compat.js
Labels: [Feature] Rich Text, Browser Issues, [Type] Code Quality, [Package] Block editor

#53418 Multi-select: restore pre-Playwright migration test for failed selection attempt
  test/e2e/specs/editor/various/multi-block-selection.spec.js
Labels: [Type] Code Quality

#53421 Remove effect dep in Link Control
  packages/block-editor/src/components/link-control/index.js
Labels: [Type] Code Quality, [Feature] Link Editing

#53371 Type labels GH Action: Fix accessibility issues in error message
  .github/workflows/enforce-pr-labels.yml
Labels: [Type] Accessibility (a11y), GitHub Actions

#53445 Add storybook typescript plugin for compatibility with Typescript 5
  package-lock.json
  package.json
  storybook/main.js
Labels: [Priority] High, [Type] Build Tooling

#53377 [RNMobile] Add outline around selected Social Link block
  packages/block-editor/src/components/block-list/block-outline.native.js
  packages/block-library/src/social-link/edit.native.js
  packages/block-library/src/social-link/editor.native.scss
  packages/block-library/src/social-links/edit.native.js
  packages/block-library/src/social-links/editor.native.scss
  packages/react-native-editor/CHANGELOG.md
Labels: [Type] Enhancement, Mobile App - i.e. Android or iOS, Mobile App - Automation

#53411 Button: add `:disabled` selector to reset hover color for disabled buttons
  packages/components/CHANGELOG.md
  packages/components/src/button/style.scss
Labels: [Type] Bug, [Package] Components, Needs Accessibility Feedback

#53328 Modal: add `headerActions` prop to render buttons in the header
  packages/components/CHANGELOG.md
  packages/components/src/modal/README.md
  packages/components/src/modal/index.tsx
  packages/components/src/modal/stories/index.tsx
  packages/components/src/modal/test/index.tsx
  packages/components/src/modal/types.ts
Labels: [Type] Enhancement, [Status] In Progress, Needs Design, [Package] Components

#52094 Make useBlockEditingMode() public
  docs/reference-guides/data/data-core-block-editor.md
  packages/block-editor/README.md
  packages/block-editor/src/components/block-editing-mode/index.js
  packages/block-editor/src/components/block-inspector/index.js
  packages/block-editor/src/components/block-list-appender/index.js
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/use-in-between-inserter.js
  packages/block-editor/src/components/block-parent-selector/index.js
  packages/block-editor/src/components/block-toolbar/index.js
  packages/block-editor/src/components/block-tools/block-contextual-toolbar.js
  packages/block-editor/src/components/index.js
  packages/block-editor/src/components/list-view/block.js
  packages/block-editor/src/components/use-block-drop-zone/index.js
  packages/block-editor/src/private-apis.js
  packages/block-editor/src/store/actions.js
  packages/block-editor/src/store/private-actions.js
  packages/block-editor/src/store/private-selectors.js
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/actions.js
  packages/block-editor/src/store/test/private-actions.js
  packages/block-editor/src/store/test/private-selectors.js
  packages/block-editor/src/store/test/selectors.js
  packages/block-library/src/image/edit.js
  packages/block-library/src/media-text/edit.js
  packages/block-library/src/navigation/edit/index.js
  packages/block-library/src/pattern/edit.js
  packages/block-library/src/post-title/edit.js
  packages/edit-site/src/components/block-editor/providers/navigation-block-editor-provider.js
  packages/edit-site/src/components/page-content-focus-manager/disable-non-page-content-blocks.js
  packages/edit-site/src/hooks/navigation-menu-edit.js
  packages/edit-site/src/hooks/push-changes-to-global-styles/index.js
Labels: [Feature] Extensibility, Needs Dev Note, [Type] New API, [Feature] Page Content Focus

#53378 Allow layout controls to be disabled per block from theme.json
  docs/reference-guides/theme-json-reference/theme-json-living.md
  lib/class-wp-theme-json-gutenberg.php
  packages/block-editor/src/hooks/layout.js
  schemas/json/theme.json
Labels: [Type] Enhancement, [Feature] Themes, [Feature] Layout

#53311 Column: exit on Enter
  packages/block-library/src/column/block.json
  packages/block-library/src/paragraph/use-enter.js
  test/e2e/specs/editor/blocks/columns.spec.js
Labels: [Type] Enhancement

#52974 Site Editor: Fix document actions label helper method
  packages/edit-site/src/components/header-edit-mode/document-actions/index.js
  test/e2e/specs/site-editor/title.spec.js
Labels: [Type] Bug, Internationalization (i18n), [Feature] Site Editor

#53429 Selection: restore focus after dragging out of the block repeatedly
  packages/block-editor/src/components/writing-flow/use-drag-selection.js
  test/e2e/specs/editor/various/multi-block-selection.spec.js
Labels: [Type] Bug

#53426 minimal node and npm upgrade
  .github/workflows/create-block.yml
  .github/workflows/end2end-test.yml
  .github/workflows/performance.yml
  .github/workflows/pull-request-automation.yml
  .github/workflows/unit-test.yml
  .npmrc
  .nvmrc
  bin/plugin/commands/performance.js
  bin/validate-package-lock.js
  package-lock.json
  package.json
  packages/babel-plugin-import-jsx-pragma/test/index.js
  packages/babel-preset-default/test/__snapshots__/index.js.snap
  packages/jest-preset-default/scripts/setup-globals.js
  packages/project-management-automation/package.json
  packages/react-native-editor/__device-tests__/helpers/serverConfigs.js
Labels: [Type] Build Tooling

#53454 Safari: fix vertical arrow keys not moving
  packages/dom/README.md
  packages/dom/src/dom/is-edge.js
  packages/dom/src/dom/is-horizontal-edge.js
  packages/dom/src/dom/is-vertical-edge.js
  packages/dom/src/dom/place-caret-at-edge.js
  packages/dom/src/dom/scroll-if-no-range.js
Labels: [Type] Bug, Browser Issues, [Feature] Writing Flow

#53458 Writing flow: add e2e tests for webkit and firefox
  test/e2e/specs/editor/various/__snapshots__/Writing-Flow-Should-navigate-inner-blocks-with-arrow-keys-1-chromium.txt
  test/e2e/specs/editor/various/__snapshots__/Writing-Flow-should-create-valid-paragraph-blocks-when-rapidly-pressing-Enter-1-chromium.txt
  test/e2e/specs/editor/various/__snapshots__/Writing-Flow-should-navigate-around-inline-boundaries-1-chromium.txt
  test/e2e/specs/editor/various/__snapshots__/Writing-Flow-should-navigate-contenteditable-with-normal-line-height-1-chromium.txt
  test/e2e/specs/editor/various/__snapshots__/Writing-Flow-should-navigate-contenteditable-with-padding-1-chromium.txt
  test/e2e/specs/editor/various/__snapshots__/Writing-Flow-should-navigate-contenteditable-with-side-padding-1-chromium.txt
  test/e2e/specs/editor/various/__snapshots__/Writing-Flow-should-not-prematurely-multi-select-1-chromium.txt
  test/e2e/specs/editor/various/__snapshots__/splitting-and-merging-blocks-should-split-and-merge-paragraph-blocks-using-Enter-and-Backspace-1-chromium.txt
  test/e2e/specs/editor/various/__snapshots__/splitting-and-merging-blocks-should-undo-split-in-one-go-1-chromium.txt
  test/e2e/specs/editor/various/__snapshots__/splitting-and-merging-blocks-test-restore-sele-18edb-roduces-more-than-one-block-on-forward-delete-2-chromium.txt
  test/e2e/specs/editor/various/__snapshots__/splitting-and-merging-blocks-test-restore-sele-2a1ee-roduces-more-than-one-block-on-forward-delete-1-chromium.txt
  test/e2e/specs/editor/various/__snapshots__/splitting-and-merging-blocks-test-restore-sele-46dfa-rge-produces-more-than-one-block-on-backspace-2-chromium.txt
  test/e2e/specs/editor/various/__snapshots__/splitting-and-merging-blocks-test-restore-sele-92273-rge-produces-more-than-one-block-on-backspace-1-chromium.txt
  test/e2e/specs/editor/various/splitting-merging.spec.js
  test/e2e/specs/editor/various/writing-flow.spec.js
Labels: [Type] Automated Testing, [Feature] Writing Flow

#53456 Interface: Fix ESLint warnings
  packages/interface/src/components/complementary-area-toggle/index.js
  packages/interface/src/components/complementary-area/index.js
  packages/interface/src/components/more-menu-feature-toggle/index.js
Labels: [Type] Code Quality, [Package] Interface

#53393 Edit Post: Update 'PluginDocumentSettingPanel' documentation
  packages/edit-post/README.md
  packages/edit-post/src/components/sidebar/plugin-document-setting-panel/index.js
Labels: [Type] Developer Documentation, [Package] Edit Post

#53464 [RNMobile] [iOS] Run timers sooner in `addBlock` integration test helper to ensure block insertion is done properly
  test/native/integration-test-helpers/add-block.js
Labels: [Type] Automated Testing

#53241 Experiment/add custom connections inspector control
  lib/experimental/editor-settings.php
  lib/experiments-page.php
  packages/block-editor/src/hooks/custom-fields.js
  packages/block-editor/src/hooks/index.js
  packages/block-library/src/paragraph/block.json
Labels: [Feature] Block API, [Type] Experimental, [Feature] Custom Fields

#52952 Interactivity API: Add missing tests for `body`, `init` and `on` directives
  packages/e2e-tests/plugins/interactive-blocks/directive-body/block.json
  packages/e2e-tests/plugins/interactive-blocks/directive-body/render.php
  packages/e2e-tests/plugins/interactive-blocks/directive-body/view.js
  packages/e2e-tests/plugins/interactive-blocks/directive-init/block.json
  packages/e2e-tests/plugins/interactive-blocks/directive-init/render.php
  packages/e2e-tests/plugins/interactive-blocks/directive-init/view.js
  packages/e2e-tests/plugins/interactive-blocks/directive-on/block.json
  packages/e2e-tests/plugins/interactive-blocks/directive-on/render.php
  packages/e2e-tests/plugins/interactive-blocks/directive-on/view.js
  packages/interactivity/src/directives.js
  test/e2e/specs/interactivity/directive-init.spec.ts
  test/e2e/specs/interactivity/directive-on.spec.ts
  test/e2e/specs/interactivity/directives-body.spec.ts
Labels: [Type] Automated Testing, [Feature] Interactivity API

#53439 Image: Clear aspect ratio when wide aligned
  packages/block-library/src/image/image.js
Labels: [Type] Bug, [Block] Image, Backport to WP Minor Release

#53182 Popover: Fix iframe story and add test
  packages/components/src/popover/stories/index.tsx
  packages/components/src/popover/test/index.tsx
  packages/components/src/popover/test/utils/index.tsx
Labels: [Type] Developer Documentation, [Package] Components, Storybook

#53499 Update package-lock.json to match 16.4.0 version number
  package-lock.json
Labels: [Type] Code Quality

#53132 `MenuItem`: Refactor to TypeScript
  packages/components/CHANGELOG.md
  packages/components/src/menu-item/index.tsx
  packages/components/src/menu-item/types.ts
  packages/components/src/menu-items-choice/index.tsx
  packages/components/src/tools-panel/tools-panel-header/component.tsx
Labels: [Type] Code Quality, [Package] Components

#53406 Fix memory leaks in `<Iframe>`
  packages/block-editor/src/components/iframe/index.js
  packages/components/src/style-provider/index.tsx
Labels: [Feature] Inserter, [Type] Performance, [Feature] Patterns

#53449 Classic block: increase dimensions of modal and allow toggling fullscreen
  packages/block-library/src/freeform/editor.scss
  packages/block-library/src/freeform/modal.js
Labels: [Type] Enhancement, [Block] Classic

#53472 Button: Replace the 'isSmall' deprecated prop in the 'WidthPanel'
  packages/block-library/src/button/edit.js
Labels: [Type] Code Quality, [Package] Block library, [Block] Buttons

#53474 RichText: Remove 'Footnotes' when interactive formatting is disabled
  packages/block-editor/src/components/rich-text/use-format-types.js
  packages/block-library/src/footnotes/format.js
  packages/rich-text/src/register-format-type.js
Labels: [Type] Bug, [Feature] Rich Text, [Package] Block editor, Backport to WP Minor Release

#53440 Safari: fix Shift+Click multi select
  packages/block-editor/src/components/copy-handler/index.js
  packages/block-editor/src/components/rich-text/index.js
  test/e2e/specs/editor/various/multi-block-selection.spec.js
Labels: [Type] Bug, [Feature] Rich Text, [Feature] Writing Flow

#53504 Adds import for internationalization
  docs/how-to-guides/block-tutorial/block-supports-in-dynamic-blocks.md
Labels: [Type] Developer Documentation, First-time Contributor

#53478 Remove @types/classnames deprecated package
  package-lock.json
  package.json
Labels: [Type] Code Quality, Good First Review

#53515 Upgrade Lerna to the latest version
  lerna.json
  package-lock.json
  package.json
Labels: [Type] Build Tooling

#53358 Interactivity API: add short-cirtuit to `useSignalEffect`
  packages/e2e-tests/plugins/interactive-blocks/directive-effect/render.php
  packages/e2e-tests/plugins/interactive-blocks/directive-effect/view.js
  packages/interactivity/CHANGELOG.md
  packages/interactivity/src/utils.js
  test/e2e/specs/interactivity/directive-effect.spec.ts
Labels: [Type] Bug, [Feature] Interactivity API

#53523 Update: Developer documentation to refer to Node 16 instead of 14.
  docs/getting-started/devenv/README.md
  packages/lazy-import/README.md
Labels: [Type] Developer Documentation

#53479 test: Enable jest-watch-typeahead for UI tests
  packages/react-native-editor/jest_ui.config.js
Labels: [Type] Automated Testing, Mobile App - i.e. Android or iOS

#53529 Update mkdirp dependency
  package-lock.json
  package.json
  packages/dependency-extraction-webpack-plugin/test/build.js
  packages/readable-js-assets-webpack-plugin/test/build.js
Labels: [Type] Build Tooling

#53434 [RNMobile] Initialize E2E tests with initial HTML
  packages/react-native-bridge/android/react-native-bridge/src/main/java/org/wordpress/mobile/WPAndroidGlue/GutenbergProps.kt
  packages/react-native-editor/__device-tests__/gutenberg-editor-block-insertion-@canary.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-device-actions.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-drag-and-drop.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-heading-@canary.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-initial-html-@canary.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-media-blocks-@canary.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-paragraph.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-rendering-media-blocks.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-rendering-other-blocks.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-rendering-text-blocks.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-search.test.js
  packages/react-native-editor/__device-tests__/helpers/caps.js
  packages/react-native-editor/__device-tests__/helpers/utils.js
  packages/react-native-editor/__device-tests__/pages/editor-page.js
  packages/react-native-editor/android/app/src/main/java/com/gutenberg/MainActivity.java
  packages/react-native-editor/ios/GutenbergDemo/GutenbergViewController.swift
  packages/react-native-editor/jest_ui_test_environment.js
Labels: [Type] Automated Testing, Mobile App - i.e. Android or iOS

#53172 Update Card component document
  packages/components/src/card/card/README.md
  packages/components/src/card/card/component.tsx
Labels: [Type] Developer Documentation, [Package] Components

#53527 Code Quality: Remove `gutenberg_initialize_editor`
  lib/experimental/editor-settings.php
Labels: [Type] Code Quality

#53501 Add accordion and toggle keywords to details block
  packages/block-library/src/details/block.json
Labels: [Type] Enhancement, [Block] Details

#53248 Snackbar design and motion improvements
  packages/components/CHANGELOG.md
  packages/components/src/snackbar/list.tsx
  packages/components/src/snackbar/style.scss
Labels: [Type] Enhancement

#53497 Command palette: Fix metrics for resting and no results view
  packages/commands/src/components/style.scss
Labels: [Type] Bug, [Package] Commands

#53503 Github Workflow: Update update plugin version to also update nested version in package-lock.json
  .github/workflows/build-plugin-zip.yml
Labels: [Type] Code Quality
