Repository WordPress/gutenberg, pull requests merged in 2023-07, with the labels that each got.

#52198 i18n: Add context to the word "Filters"
  packages/block-editor/src/components/global-styles/filters-panel.js
Labels: Internationalization (i18n), [Block] Image, Backport to WP Beta/RC

#52159 Patterns: Include template parts for custom areas in Uncategorized category
  packages/edit-site/src/components/page-patterns/use-patterns.js
Labels: [Type] Bug, Backport to WP Beta/RC, [Feature] Patterns

#52098 Move grid function kses patch into 6.3 compat folder.
  lib/compat/wordpress-6.3/kses.php
  lib/experimental/kses.php
  lib/load.php
Labels: Backport from WordPress Core, [Feature] Layout

#52229 Patterns: fix issue in 16.1 with wrong sync status set in Site Editor
  bin/plugin/commands/performance.js
  packages/block-editor/src/store/selectors.js
  packages/edit-site/src/components/create-pattern-modal/index.js
  packages/edit-site/src/components/page-library/use-patterns.js
  packages/editor/src/components/post-sync-status/index.js
  phpunit/block-template-utils-test.php
  phpunit/bootstrap.php
Labels: [Type] Bug, [Type] Enhancement, [Feature] Patterns, Backport to Gutenberg Minor Release

#52230 Patterns: Remove ability for user to toggle sync status after pattern creation in 16.1 release
  packages/editor/src/components/post-sync-status/index.js
  packages/editor/src/components/post-sync-status/style.scss
Labels: [Feature] Patterns

#52014 Page Content Focus: Add welcome guides
  packages/components/CHANGELOG.md
  packages/components/src/guide/icons.tsx
  packages/components/src/guide/index.tsx
  packages/components/src/guide/page-control.tsx
  packages/components/src/guide/style.scss
  packages/e2e-test-utils-playwright/src/admin/visit-site-editor.ts
  packages/e2e-test-utils/src/site-editor.js
  packages/edit-site/src/components/welcome-guide/editor.js
  packages/edit-site/src/components/welcome-guide/index.js
  packages/edit-site/src/components/welcome-guide/page.js
  packages/edit-site/src/components/welcome-guide/style.scss
  packages/edit-site/src/components/welcome-guide/styles.js
  packages/edit-site/src/components/welcome-guide/template.js
  packages/edit-site/src/index.js
Labels: [Type] Enhancement, [Feature] NUX, Backport to WP Beta/RC, [Feature] Site Editor, [Feature] Page Content Focus

#52231 Add basic test for the page content focus flow
  test/e2e/specs/site-editor/pages.spec.js
Labels: [Type] Code Quality, [Feature] Page Content Focus

#52184 [Edit Post]: Add toggle fullscreen mode and list view commands
  packages/edit-post/src/hooks/commands/use-common-commands.js
Labels: [Type] Bug, Backport to WP Beta/RC

#52168 [Command Palette]: Remove suggestion for deleting templates/parts
  packages/edit-site/src/hooks/commands/use-edit-mode-commands.js
Labels: [Type] Bug, Backport to WP Beta/RC

#52236 Add confirmation step when deleting a Template
  packages/edit-site/src/components/template-actions/index.js
Labels: [Type] Bug, Backport to WP Beta/RC, [Feature] Site Editor

#52193 Page List: Fix parent block selection when converting to link
  packages/block-library/src/page-list/edit.js
  packages/block-library/src/page-list/use-convert-to-navigation-links.js
Labels: [Type] Bug, [Block] Navigation, [Block] Page List

#52117 Turn off DFM for style book and style editing
  packages/edit-site/src/components/sidebar-navigation-screen-global-styles/index.js
Labels: [Type] Bug, Backport to WP Beta/RC

#52186 Hide word count and reading time meta data for the Posts Page details panel
  packages/edit-site/src/components/sidebar-navigation-screen-page/page-details.js
Labels: [Type] Bug, [Feature] Site Editor

#52211 Fix unit control not escaping units
  packages/components/CHANGELOG.md
  packages/components/src/unit-control/index.tsx
  packages/components/src/unit-control/test/index.tsx
Labels: [Type] Bug, [Package] Components

#52153 Command palette: rename
  packages/commands/README.md
  packages/commands/src/components/command-menu.js
  packages/commands/src/hooks/use-command-context.js
  packages/commands/src/hooks/use-command-loader.js
  packages/commands/src/hooks/use-command.js
  packages/commands/src/store/actions.js
  packages/commands/src/store/reducer.js
  packages/edit-site/src/components/layout/index.js
  packages/edit-site/src/components/site-hub/index.js
  test/e2e/specs/site-editor/command-center.spec.js
Labels: Backport to WP Beta/RC, [Package] Commands

#52232 Patterns: rename sync_status postmeta to pattern_post_sync_status
  lib/blocks.php
  lib/compat/wordpress-6.3/blocks.php
  packages/block-editor/src/store/selectors.js
  packages/edit-site/src/components/create-pattern-modal/index.js
  packages/edit-site/src/components/page-library/use-patterns.js
  packages/editor/src/components/post-sync-status/index.js
  packages/reusable-blocks/src/store/actions.js
Labels: Backport to WP Beta/RC, [Feature] Patterns, Needs PHP backport

#52226 Site Editor: Default to showing status slug in sidebar
  packages/edit-site/src/components/sidebar-navigation-screen-page/status-label.js
Labels: [Type] Bug, Backport to WP Beta/RC, [Feature] Site Editor

#52208 Editor: Avoid remounting pre-publish sidebar contents during autosave
  packages/editor/src/components/post-publish-panel/index.js
Labels: [Type] Bug, [Feature] Saving, [Package] Editor

#52115 Navigation: Remove one preloaded endpoint
  lib/compat/wordpress-6.3/navigation-block-preloading.php
Labels: [Type] Bug, [Block] Navigation, Backport to WP Beta/RC, Backport to Gutenberg RC

#51956 Try restoring the site editor animation
  packages/edit-site/src/components/layout/index.js
Labels: [Type] Regression, [Feature] Site Editor

#52267 Page List: Fix ESLint warnings
  packages/block-library/src/page-list/edit.js
Labels: [Type] Code Quality, [Block] Page List

#52262 Site Editor Frame: Ignore Spotlight in view mode
  packages/edit-site/src/components/block-editor/use-site-editor-settings.js
Labels: [Type] Bug, Backport to WP Beta/RC, [Feature] Site Editor

#52256 Fix default block dimensions visibility
  packages/block-library/src/archives/block.json
  packages/block-library/src/audio/block.json
  packages/block-library/src/categories/block.json
  packages/block-library/src/code/block.json
  packages/block-library/src/details/block.json
  packages/block-library/src/gallery/block.json
  packages/block-library/src/heading/block.json
  packages/block-library/src/list/block.json
  packages/block-library/src/post-time-to-read/block.json
  packages/block-library/src/site-logo/block.json
  packages/block-library/src/site-tagline/block.json
  packages/block-library/src/site-title/block.json
  packages/block-library/src/social-links/block.json
  packages/block-library/src/table/block.json
  packages/block-library/src/verse/block.json
  packages/block-library/src/video/block.json
Labels: [Type] Bug, [Feature] Blocks, Backport to WP Beta/RC

#52283 Fix flaky Site Editor pages e2e test
  test/e2e/specs/site-editor/pages.spec.js
Labels: [Type] Bug, [Package] E2E Tests

#52141 Add @example tags to the customize-widgets package
  docs/reference-guides/data/data-core-customize-widgets.md
  packages/customize-widgets/src/store/actions.js
  packages/customize-widgets/src/store/selectors.js
Labels: [Type] Enhancement, [Feature] Widgets Customizer

#52190 Export the store for the core/edit-widgets pacakage
  packages/edit-widgets/src/index.js
Labels: [Package] Edit Widgets

#52167 Navigation: Fix sidebar title
  packages/edit-site/src/components/sidebar-navigation-screen-pattern/template-part-navigation-menu.js
Labels: [Block] Navigation

#52146 Patterns: rename sync_status and move to top level field on rest return instead of a meta field
  lib/blocks.php
  lib/compat/wordpress-6.3/blocks.php
  lib/compat/wordpress-6.3/class-gutenberg-rest-blocks-controller.php
  lib/load.php
  packages/block-editor/src/store/selectors.js
  packages/edit-site/src/components/create-pattern-modal/index.js
  packages/edit-site/src/components/page-patterns/use-patterns.js
  packages/edit-site/src/components/sidebar-navigation-screen-pattern/use-pattern-details.js
  packages/editor/src/components/post-sync-status/index.js
  packages/reusable-blocks/src/store/actions.js
Labels: [Type] Bug, [Type] Enhancement, Backport to WP Beta/RC, [Feature] Patterns, Needs PHP backport

#52263 Fix incorrect aria-describedby attributes for theme patterns
  packages/edit-site/src/components/page-patterns/grid-item.js
Labels: [Type] Bug, Accessibility (a11y), Backport to WP Beta/RC, [Feature] Patterns

#52264 Hide parent selector when parent's block editing mode is 'disabled' or 'contentOnly'
  packages/block-editor/src/components/block-parent-selector/index.js
  packages/block-editor/src/components/block-tools/block-contextual-toolbar.js
Labels: [Type] Bug, Backport to WP Beta/RC, [Feature] Page Content Focus

#52308 Navigation: Fix e2e test failures caused by sidebar title change
  packages/edit-site/src/components/sidebar-navigation-screen-pattern/template-part-navigation-menu.js
Labels: [Type] Bug, [Block] Navigation

#52306 Check randomizer experiment is enabled before rendering button
  packages/edit-site/src/components/global-styles/palette.js
Labels: [Type] Bug, Backport to WP Beta/RC, Global Styles

#52271 Site Editor: update headings hierarchy in the 'Manage all' screens
  packages/edit-site/src/components/page-template-parts/index.js
  packages/edit-site/src/components/page-templates/index.js
  packages/edit-site/src/components/page/header.js
Labels: [Type] Bug, Accessibility (a11y), Backport to WP Beta/RC, [Feature] Site Editor

#51771 Patterns: add a hint about the rename of reusable blocks to menu and inserter
  packages/block-editor/README.md
  packages/block-editor/src/components/index.js
  packages/block-editor/src/components/inserter/reusable-block-rename-hint.js
  packages/block-editor/src/components/inserter/reusable-blocks-tab.js
  packages/block-editor/src/components/inserter/style.scss
  packages/e2e-test-utils/src/create-reusable-block.js
  packages/e2e-tests/specs/editor/various/block-editor-keyboard-shortcuts.test.js
  packages/e2e-tests/specs/editor/various/reusable-blocks.test.js
  packages/edit-site/src/components/page-patterns/patterns-list.js
  packages/reusable-blocks/src/components/reusable-blocks-menu-items/reusable-block-convert-button.js
Labels: [Feature] Reusable Blocks, Needs Accessibility Feedback, Backport to WP Beta/RC, [Feature] Patterns

#52300 Guide: Place focus on the guide's container instead of its first tabbable
  packages/components/CHANGELOG.md
  packages/components/src/guide/index.tsx
Labels: Accessibility (a11y), [Feature] NUX, [Type] Regression, Backport to WP Beta/RC

#52315 Check if experiment enabled for realsies this time
  packages/edit-site/src/components/global-styles/palette.js
Labels: [Type] Bug, Backport to WP Beta/RC, Global Styles

#52282 Polish welcome guide copy for page / template editing
  packages/edit-site/src/components/welcome-guide/page.js
  packages/edit-site/src/components/welcome-guide/template.js
Labels: [Type] Copy, Backport to WP Beta/RC, [Feature] Site Editor

#52248 Adjust the position of sticky headings in preferences modal
  packages/edit-post/src/components/block-manager/style.scss
Labels: [Type] Bug, [Type] Regression, Backport to WP Beta/RC

#52116 Page List: Change modal text
  packages/block-library/src/page-list/convert-to-links-modal.js
Labels: [Block] Page List

#52170 Navigation block: Do not toggle aria-expanded on hover when the overlay menu is opened
  package-lock.json
  packages/block-library/package.json
  packages/block-library/src/navigation/index.php
  packages/block-library/src/navigation/view.js
  packages/interactivity/package.json
Labels: Accessibility (a11y), [Block] Navigation, [Feature] Interactivity API

#52222 Style Book: Show tabs and make blocks clickable when entering edit mode from the Styles menu
  packages/edit-site/src/components/sidebar-navigation-screen-global-styles/index.js
Labels: [Type] Enhancement, Global Styles

#52286 Respect custom aspect ratio
  packages/block-library/src/image/deprecated.js
  packages/block-library/src/image/save.js
  test/integration/fixtures/blocks/core__image__deprecated-v1-add-responsive-class.json
  test/integration/fixtures/blocks/core__image__deprecated-v2-add-is-resized-class.json
  test/integration/fixtures/blocks/core__image__deprecated-v2-add-is-resized-class.serialized.html
  test/integration/fixtures/blocks/core__image__deprecated-v3-add-align-wrapper.serialized.html
  test/integration/fixtures/blocks/core__image__deprecated-v4-remove-align-wrapper.serialized.html
Labels: [Type] Bug

#52123 Update fixed block toolbar
  packages/block-editor/src/components/block-tools/block-contextual-toolbar.js
  packages/block-editor/src/components/block-tools/style.scss
  packages/edit-post/src/components/header/header-toolbar/index.js
  packages/edit-site/src/components/header-edit-mode/document-actions/style.scss
  packages/edit-site/src/components/header-edit-mode/index.js
  packages/edit-site/src/components/layout/style.scss
  test/e2e/specs/editor/various/shortcut-focus-toolbar.spec.js
Labels: [Type] Bug, General Interface, Backport to WP Beta/RC, Blessed for major release

#51644 Update the behavior of the cached undo/redo stack
  docs/explanations/architecture/entities.md
  packages/core-data/src/actions.js
  packages/core-data/src/entity-provider.js
  packages/core-data/src/reducer.js
  packages/core-data/src/test/reducer.js
  packages/data/src/registry.js
  packages/data/src/test/registry.js
Labels: [Type] Bug, [Type] Enhancement, [Feature] History, Backport to WP Beta/RC

#52327 Block Editor: Add README for `PanelColorSettings` component
  packages/block-editor/src/components/panel-color-settings/README.md
Labels: [Type] Developer Documentation, [Package] Block editor

#52277 Post editor: Require confirmation before removing Footnotes
  packages/block-editor/src/components/block-removal-warning-modal/index.js
  packages/edit-post/src/components/layout/index.js
  packages/edit-site/src/components/editor/index.js
Labels: [Type] Bug, Backport to WP Beta/RC, [Block] Footnotes

#52334 Block Editor: Add README for `RecursionProvider`
  packages/block-editor/src/components/recursion-provider/README.md
Labels: [Type] Developer Documentation, [Package] Block editor

#52177 Navigation block: Don't close submenu when it has focus
  packages/block-library/src/navigation/index.php
  packages/block-library/src/navigation/view.js
Labels: Accessibility (a11y), [Block] Navigation, [Feature] Interactivity API

#51824 Have `createNewPost` wait for editor canvas contents
  packages/e2e-test-utils-playwright/src/admin/create-new-post.js
  packages/e2e-tests/plugins/block-api.php
  packages/e2e-tests/plugins/block-api/index.js
  packages/e2e-tests/plugins/deprecated-node-matcher.php
  packages/e2e-tests/plugins/deprecated-node-matcher/index.js
  packages/e2e-tests/plugins/inner-blocks-allowed-blocks/index.js
  packages/e2e-tests/plugins/inner-blocks-templates/index.js
  packages/e2e-tests/specs/editor/plugins/container-blocks.test.js
  test/e2e/specs/editor/plugins/block-api.spec.js
  test/e2e/specs/editor/plugins/deprecated-node-matcher.spec.js
  test/e2e/specs/editor/plugins/wp-editor-meta-box.spec.js
  test/e2e/specs/editor/various/inner-blocks-templates.spec.js
Labels: Automated Testing

#49082 [Github-Actions-Workflows][Plugin-Release] Allow shipping a point-release for an older stable release
  .github/workflows/build-plugin-zip.yml
  .github/workflows/upload-release-to-plugin-repo.yml
Labels: GitHub Actions

#52345 Drops PHP 5.6 CI jobs
  .github/workflows/unit-test.yml
  phpcs.xml.dist
Labels: Automated Testing

#52235 Exit template focus when opening the W menu
  packages/edit-site/src/store/private-actions.js
Labels: [Type] Bug, Backport to WP Beta/RC, [Feature] Page Content Focus

#52343 Fix font printing regression when metabox exists
  lib/experimental/fonts-api/fonts-api.php
Labels: [Type] Regression, [Feature] Fonts API, [Feature] Typography

#52340 Update pattern library copy
  packages/edit-site/src/components/page-patterns/patterns-list.js
  packages/edit-site/src/components/sidebar-navigation-screen-pattern/use-pattern-details.js
  packages/edit-site/src/components/sidebar-navigation-screen-patterns/index.js
Labels: Backport to WP Beta/RC, [Feature] Site Editor

#52346 Patterns: Add handling of sync status to the wp-admin patterns list page
  packages/list-reusable-blocks/src/components/import-form/index.js
  packages/list-reusable-blocks/src/index.js
  packages/list-reusable-blocks/src/utils/export.js
  packages/list-reusable-blocks/src/utils/import.js
  test/e2e/specs/editor/various/manage-reusable-blocks.spec.js
Labels: [Type] Bug, [Type] Enhancement, Backport to WP Beta/RC, [Feature] Patterns, Needs PHP backport

#52358 Query Pagination: Set 'clientId' as useSelect dependency
  packages/block-library/src/query-pagination/edit.js
Labels: [Type] Code Quality, [Block] Query Pagination

#52356 Fix react-dropdown-menu version to avoid breaking change from one of …
  package-lock.json
  packages/components/CHANGELOG.md
  packages/components/package.json
Labels: [Type] Bug, [Package] Components

#52320 [RNMobile] Fix a crash related to Reanimated when closing the editor
  packages/block-editor/src/components/block-draggable/index.native.js
  packages/block-editor/src/components/use-block-drop-zone/index.native.js
  packages/react-native-editor/CHANGELOG.md
Labels: [Type] Bug, Mobile App - i.e. Android or iOS, Mobile App - Automation

#52330 Template Parts: Set attributes 'area' as useSelect dependency
  packages/block-library/src/template-part/edit/index.js
Labels: [Type] Code Quality, [Block] Template Part

#52366 Block Editor: Add README for `BlockControls`
  packages/block-editor/src/components/block-controls/README.md
Labels: [Type] Developer Documentation, [Package] Block editor

#52020 Migrate Adding Inline Token test to Playwright
  packages/e2e-tests/specs/editor/various/adding-inline-tokens.test.js
  test/e2e/specs/editor/various/adding-inline-tokens.spec.js
Labels: Automated Testing

#52369 Post Title: The changes should be reflected when previewing a post
  packages/block-library/src/post-title/index.php
Labels: [Type] Regression, Backport to WP Beta/RC, [Block] Post Title

#52372 Migrate site editor multi-entity save flow tests
  packages/e2e-tests/specs/site-editor/multi-entity-saving.test.js
  test/e2e/specs/site-editor/multi-entity-saving.spec.js
Labels: [Type] Bug, [Package] E2E Tests

#52368 Mobile Release v1.99.0
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS

#52289 [Mobile] Moves block settings and more button to the toolbar
  packages/block-editor/src/components/block-draggable/test/index.native.js
  packages/block-editor/src/components/block-list/block.native.js
  packages/block-editor/src/components/block-list/block.native.scss
  packages/block-editor/src/components/block-mobile-toolbar/index.native.js
  packages/block-editor/src/components/block-mobile-toolbar/style.native.scss
  packages/block-editor/src/components/block-mover/index.native.js
  packages/block-editor/src/components/block-mover/test/__snapshots__/index.native.js.snap
  packages/block-editor/src/components/block-settings/button.native.js
  packages/block-editor/src/components/block-toolbar/block-toolbar-menu.native.js
  packages/block-editor/src/components/block-toolbar/index.native.js
  packages/block-editor/src/components/block-toolbar/test/__snapshots__/block-toolbar-menu.native.js.snap
  packages/block-editor/src/components/block-toolbar/test/block-toolbar-menu.native.js
  packages/block-editor/src/components/inspector-controls/fill.native.js
  packages/block-library/src/gallery/test/index.native.js
  packages/edit-post/src/components/header/header-toolbar/index.native.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-block-insertion-@canary.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-device-actions.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-media-blocks-@canary.test.js
  packages/react-native-editor/__device-tests__/pages/editor-page.js
Labels: Mobile App - i.e. Android or iOS

#52384 Revert phpcs testVersion back to PHP 5.6
  phpcs.xml.dist
Labels: [Type] Build Tooling, Automated Testing, Backport to WP Beta/RC

#52319 Allow developers to opt out of auto-creation of Navigation fallback
  lib/compat/wordpress-6.3/class-gutenberg-navigation-fallback.php
  phpunit/class-gutenberg-navigation-fallback-gutenberg-test.php
Labels: [Type] Bug, [Block] Navigation, Backport to WP Beta/RC, Backport to Gutenberg RC

#52012 Patterns: stop endless snackbars appearing
  packages/e2e-test-utils/src/create-reusable-block.js
  packages/e2e-tests/specs/editor/various/reusable-blocks.test.js
  packages/reusable-blocks/src/components/reusable-blocks-menu-items/reusable-block-convert-button.js
Labels: [Type] Enhancement, Backport to WP Beta/RC, [Feature] Patterns

#52382 Patterns: distinguish between theme patterns and template parts in category list
  packages/edit-site/src/components/sidebar-navigation-screen-patterns/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-patterns/style.scss
Labels: [Type] Enhancement, Needs Design Feedback, Backport to WP Beta/RC, [Feature] Site Editor, Backport to Gutenberg RC

#52351 Page Content Focus: Ignore page content within a Query Loop block
  packages/block-editor/src/components/block-edit/edit.js
  packages/block-editor/src/components/block-edit/test/edit.js
  packages/block-editor/src/components/list-view/use-list-view-client-ids.js
  packages/block-editor/src/store/private-selectors.js
  packages/block-editor/src/store/test/private-selectors.js
  packages/edit-site/src/components/page-content-focus-manager/constants.js
  packages/edit-site/src/components/page-content-focus-manager/disable-non-page-content-blocks.js
  packages/edit-site/src/components/sidebar-edit-mode/page-panels/page-content.js
Labels: [Type] Bug, [Feature] Extensibility, Backport to WP Beta/RC, [Feature] Page Content Focus

#52355 Patterns: Display all custom template part areas in sidebar nav
  packages/edit-site/src/components/page-patterns/use-patterns.js
  packages/edit-site/src/components/sidebar-navigation-screen-patterns/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-patterns/use-template-part-areas.js
Labels: Backport to WP Beta/RC, [Feature] Patterns

#52280 Block Editor: Add support for arrays to `setImmutably` util
  packages/block-editor/src/utils/object.js
  packages/block-editor/src/utils/test/object.js
Labels: [Type] Enhancement, [Package] Block editor

#52270 Patterns: Add renaming, duplication, and deletion options
  packages/edit-site/src/components/create-pattern-modal/index.js
  packages/edit-site/src/components/page-patterns/duplicate-menu-item.js
  packages/edit-site/src/components/page-patterns/grid-item.js
  packages/edit-site/src/components/page-patterns/rename-menu-item.js
  packages/edit-site/src/components/page-patterns/style.scss
  packages/edit-site/src/components/page-patterns/use-patterns.js
Labels: [Type] Enhancement, Backport to WP Beta/RC, [Feature] Patterns, Blessed for major release

#52403 Patterns: Update manage pattern links to go to site editor if available
  packages/edit-post/src/plugins/index.js
  packages/reusable-blocks/src/components/reusable-blocks-menu-items/reusable-blocks-manage-button.js
Labels: Backport to WP Beta/RC, [Feature] Patterns

#52404 Lodash: Refactor away from `_.set()` in `PushChangesToGlobalStylesControl`
  packages/core-data/src/utils/set-nested-value.js
  packages/edit-site/src/hooks/push-changes-to-global-styles/index.js
Labels: [Type] Performance, [Type] Code Quality, Global Styles, [Package] Edit Site, [Feature] Site Editor

#51902 Edit Site: Add delay and fade-in animation to loading spinner
  packages/edit-site/src/components/canvas-spinner/style.scss
Labels: [Type] Enhancement, Needs Design Feedback, [Package] Edit Site, [Feature] Site Editor

#52413 Make `query` optional in `visitAdminPage`
  packages/e2e-test-utils-playwright/src/admin/visit-admin-page.ts
Labels: [Type] Enhancement, [Package] E2E Tests

#52406 Fix entering edit mode in site editor
  packages/edit-site/src/components/block-editor/editor-canvas.js
Labels: [Type] Bug, Backport to WP Beta/RC, [Feature] Site Editor

#52160 Fix: Patterns & template parts: remove "apply globally" option from block settings
  packages/edit-site/src/hooks/push-changes-to-global-styles/index.js
Labels: [Type] Enhancement, Backport to WP Beta/RC, [Feature] Patterns

#52332 Top Toolbar: Move the preferences selection into the main useSelect
  packages/edit-post/src/components/header/header-toolbar/index.js
  packages/edit-site/src/components/header-edit-mode/index.js
Labels: [Type] Bug, General Interface

#52373 Fix renaming in Site View sidebar rename saves all edits for Template Parts and Navigation Menus
  packages/core-data/src/actions.js
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menu/use-navigation-menu-handlers.js
  packages/edit-site/src/components/template-actions/rename-menu-item.js
Labels: [Type] Bug, [Package] Core data, [Feature] Patterns, [Feature] Pattern Directory, [Feature] Navigation in Site View, [Feature] Navigation Menus

#52293 fix: Paragraphs inherit parent text alignment
  packages/block-editor/src/components/block-list/block-list-item.native.js
  packages/block-library/src/paragraph/test/edit.native.js
Labels: Mobile App - i.e. Android or iOS, [Block] Paragraph, [Block] Quote

#52427 Patterns: Enable focus mode editing
  packages/edit-site/src/components/block-editor/constants.js
Labels: [Type] Enhancement, [Feature] Patterns, [Feature] Site Editor

#51869 test: Enable jest-watch-typeahead for native tests
  .github/workflows/unit-test.yml
  .gitignore
  docs/contributors/code/react-native/getting-started-react-native.md
  docs/contributors/code/react-native/osx-setup-guide.md
  docs/contributors/code/testing-overview.md
  package.json
  packages/react-native-editor/package.json
  test/native/jest.config.js
Labels: Automated Testing, Mobile App - i.e. Android or iOS, Mobile App - Automation

#51222 [RNMobile] Update native BlockOutline component styles
  packages/block-editor/src/components/block-list/block-outline.native.js
  packages/block-editor/src/components/block-list/block.native.js
  packages/block-editor/src/components/block-list/block.native.scss
  packages/block-editor/src/components/block-list/style.native.scss
  packages/block-library/src/column/edit.native.js
  packages/block-library/src/column/editor.native.scss
  packages/edit-post/src/components/visual-editor/header.native.js
  packages/edit-post/src/components/visual-editor/style.native.scss
  packages/editor/src/components/post-title/style.native.scss
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/__device-tests__/gutenberg-editor-media-blocks-@canary.test.js
Labels: Mobile App - i.e. Android or iOS

#52376 Fix Site editor page when JS support is disabled
  packages/edit-post/src/style.scss
  packages/edit-site/src/style.scss
  packages/edit-widgets/src/style.scss
Labels: [Type] Bug, [Package] Edit Post, Backport to WP Beta/RC, [Package] Edit Widgets, [Package] Edit Site

#52425 Footnotes: Fix incorrect anchor position in Firefox
  packages/block-library/src/footnotes/style.scss
Labels: [Type] Bug, Browser Issues, Backport to WP Beta/RC, [Block] Footnotes

#52439 Footnotes: fix lingering format boundary attr
  packages/rich-text/src/to-tree.js
  test/e2e/specs/editor/various/footnotes.spec.js
Labels: [Type] Bug, [Block] Footnotes

#52303 [Patterns] Separate sync status into a filter control
  packages/edit-site/src/components/page-patterns/grid-item.js
  packages/edit-site/src/components/page-patterns/grid.js
  packages/edit-site/src/components/page-patterns/header.js
  packages/edit-site/src/components/page-patterns/index.js
  packages/edit-site/src/components/page-patterns/patterns-list.js
  packages/edit-site/src/components/page-patterns/style.scss
  packages/edit-site/src/components/page-patterns/use-patterns.js
  packages/edit-site/src/components/sidebar-navigation-screen-patterns/use-my-patterns.js
Labels: Backport to WP Beta/RC, [Feature] Patterns

#52266 Site Editor Pages: load the appropriate template if posts page set
  packages/edit-site/src/components/sidebar-navigation-screen-pages/index.js
Labels: [Type] Bug, [Feature] Site Editor

#52357 Patterns: alternative grid layout to improve keyboard accessibility
  packages/edit-site/src/components/page-patterns/grid-item.js
  packages/edit-site/src/components/page-patterns/grid.js
  packages/edit-site/src/components/page-patterns/style.scss
Labels: Accessibility (a11y), Backport to WP Beta/RC, [Feature] Patterns

#52449 Patterns: Add missing decoding entities processing in Patterns and Template/Parts pages
  packages/edit-site/src/components/page-patterns/use-patterns.js
  packages/edit-site/src/components/template-actions/index.js
  packages/edit-site/src/components/template-actions/rename-menu-item.js
Labels: [Type] Bug, Backport to WP Beta/RC, [Block] Template Part, [Feature] Pattern Directory

#52458 add sync tooltip
  packages/edit-site/src/components/page-patterns/grid-item.js
Labels: Backport to WP Beta/RC

#51809 Quote block: Add transform to paragraph
  packages/block-library/src/quote/test/__snapshots__/transforms.native.js.snap
  packages/block-library/src/quote/test/transforms.native.js
  packages/block-library/src/quote/transforms.js
Labels: [Type] Bug, [Block] Quote, Backport to WP Beta/RC

#52424 Fix document title icon appearance
  packages/edit-site/src/components/header-edit-mode/document-actions/style.scss
Labels: [Type] Bug, Backport to WP Beta/RC, [Feature] Site Editor

#52278 Lodash: Refactor away from `_.set()` in `getNodesWithSettings()`
  packages/block-editor/src/components/global-styles/use-global-styles-output.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Block editor, Global Styles

#52279 Lodash: Refactor away from `_.set()` in global styles
  packages/block-editor/src/components/global-styles/hooks.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Block editor, Global Styles

#52214 Make use of accessing private APIs from thunks directly
  packages/block-editor/src/store/actions.js
  packages/block-editor/src/store/test/actions.js
  packages/core-data/src/actions.js
  packages/core-data/src/index.js
Labels: [Type] Code Quality

#52465 Update Dashboard button tooltips in the site editor
  packages/edit-site/src/components/sidebar-navigation-screen/index.js
  packages/edit-site/src/components/site-hub/index.js
Labels: Backport to WP Beta/RC, [Feature] Site Editor

#52428 Fix: Focus loss on navigation link label editing on Firefox.
  packages/block-library/src/navigation-link/edit.js
Labels: [Type] Bug

#52407 Lodash: Deprecate `_.set()`
  .eslintrc.js
Labels: [Type] Performance, [Type] Code Quality

#52241 RichText/Footnotes: make getRichTextValues work with InnerBlocks.Content
  packages/block-editor/src/components/rich-text/content.js
  packages/block-editor/src/components/rich-text/get-rich-text-values.js
  packages/block-editor/src/private-apis.js
  test/e2e/specs/editor/various/footnotes.spec.js
Labels: [Type] Bug, [Release] Do Not Punt, Backport to WP Beta/RC, [Block] Footnotes

#52447 [RNMobile] Fix Fixed warning in `clean` script
  packages/react-native-aztec/package.json
  packages/react-native-editor/package.json
Labels: Automated Testing, Mobile App - i.e. Android or iOS

#52251 Navigation block: Add notice on reduced accessibility
  packages/block-library/src/navigation/edit/index.js
Labels: Accessibility (a11y), [Block] Navigation

#52033 added README for the "caption" component
  packages/block-editor/src/components/caption/README.md
Labels: [Type] Developer Documentation

#51770 Font Face: to generate and print font-face styles for theme.json fonts
  lib/class-wp-theme-json-resolver-gutenberg.php
  lib/compat/wordpress-6.3/script-loader.php
  lib/experimental/fonts-api/fonts-api.php
  lib/experimental/fonts/class-wp-font-face-resolver.php
  lib/experimental/fonts/class-wp-font-face.php
  lib/experimental/fonts/fonts.php
  lib/load.php
  phpunit/fonts/wp-font-face-testcase.php
  phpunit/fonts/wp-font-face-tests-dataset.php
  phpunit/fonts/wpFontFace/generateAndPrint-test.php
  phpunit/fonts/wpFontFaceResolver/getFontsFromThemeJson-test.php
  phpunit/fonts/wpPrintFontFaces-test.php
Labels: [Feature] Fonts API, [Feature] Typography

#46920 Removed line break within the code block
  docs/explanations/architecture/styles.md
Labels: [Type] Developer Documentation

#52405 Iframe: avoid asset parsing & fix script localisation
  packages/block-editor/src/components/iframe/index.js
  packages/e2e-tests/plugins/iframed-enqueue-block-assets.php
  packages/e2e-tests/plugins/iframed-enqueue-block-assets/script.js
  packages/e2e-tests/specs/editor/plugins/iframed-equeue-block-assets.test.js
Labels: [Type] Plugin Interoperability, [Type] Performance, [Type] Code Quality, Backport to WP Beta/RC, Backport to Gutenberg RC

#49968 (readme.md) Document the new process for releasing point releases for old release branches
  docs/contributors/code/release.md
Labels: [Type] Developer Documentation

#52468 Update descriptions in Pattern library
  packages/edit-site/src/components/page-patterns/patterns-list.js
Labels: Backport to WP Beta/RC, [Feature] Site Editor

#52473 Ensure that the unsaved title is not persisted when reopening the modal
  packages/edit-site/src/components/template-actions/rename-menu-item.js
Labels: [Type] Regression, Backport to WP Beta/RC, [Block] Template Part, [Feature] Pattern Directory

#52398 Rename block theme activation nonce variable.
  lib/compat/wordpress-6.3/theme-previews.php
  packages/edit-site/src/utils/use-activate-theme.js
Labels: Backport to WP Beta/RC

#51898 Library - make pattern title clickable
  packages/edit-site/src/components/page-patterns/grid-item.js
  packages/edit-site/src/components/page-patterns/style.scss
Labels: [Type] Bug, [Type] Enhancement, Needs Design Feedback, Backport to WP Beta/RC, Backport to Gutenberg RC

#52472 List block: Fix selected numbering style option
  packages/block-library/src/list/edit.js
Labels: [Type] Bug, [Block] List, Backport to WP Beta/RC

#52494 Patterns: Check that core hasn't already moved sync status meta before moving and unsetting
  lib/compat/wordpress-6.3/class-gutenberg-rest-blocks-controller.php
Labels: [Type] Bug, [Feature] Patterns, Backport to Gutenberg RC

#52480 Lodash: Remove completely from site editor
  package-lock.json
  packages/edit-site/package.json
  packages/edit-site/src/components/add-new-template/utils.js
  packages/edit-site/src/hooks/push-changes-to-global-styles/index.js
Labels: [Type] Performance, [Type] Code Quality, Global Styles, [Package] Edit Site, [Feature] Site Editor

#52496 Patterns: Rename edit label to Edit Block Pattern to resolve edge case in Chrome
  lib/compat/wordpress-6.3/blocks.php
Labels: [Type] Bug, [Feature] Patterns, Backport from WordPress Core

#52352 Patterns: add option to set sync status when adding from wp-admin patterns list
  packages/edit-post/src/components/layout/index.js
  packages/editor/src/components/index.js
  packages/editor/src/components/post-sync-status/index.js
Labels: [Type] Bug, [Type] Enhancement, Backport to WP Beta/RC, [Feature] Patterns

#52502 Block Editor: Display variation icon in the 'BlockDraggable' component
  packages/block-editor/src/components/block-draggable/index.js
Labels: [Type] Bug, [Package] Block editor

#52506 Allow editing existing footnote from RichText formats toolbar
  packages/block-library/src/footnotes/format.js
Labels: [Type] Bug, [Block] Footnotes

#51293 Theme JSON schema: Add missing block names and unify block properties
  schemas/json/theme.json
Labels: [Type] Developer Documentation, [Feature] Themes

#52483 Global font sizes: Ensure sizes are unique
  packages/block-editor/src/components/global-styles/typography-panel.js
Labels: [Type] Bug, Global Styles

#52517 LinkControl: Fix mark highlight to bold
  packages/block-editor/src/components/link-control/style.scss
Labels: [Type] Bug, Backport to WP Beta/RC, [Feature] Link Editing

#52257 Use next40pxDefaultSize on RangeControl components
  packages/block-library/src/avatar/edit.js
  packages/block-library/src/columns/edit.js
  packages/block-library/src/comment-author-avatar/edit.js
  packages/block-library/src/file/inspector.js
  packages/block-library/src/gallery/edit.js
  packages/block-library/src/latest-comments/edit.js
  packages/block-library/src/latest-posts/edit.js
  packages/block-library/src/rss/edit.js
  packages/block-library/src/site-logo/edit.js
  packages/block-library/src/tag-cloud/edit.js
  packages/block-library/src/text-columns/edit.js
  packages/components/src/query-controls/index.native.js
  packages/components/src/query-controls/index.tsx
Labels: [Feature] Inspector Controls, [Block] Gallery

#52513 Try fixing block context e2e test failure
  packages/e2e-tests/plugins/block-context.php
Labels: [Type] Bug, [Package] E2E Tests

#52010 Patterns: update the title of Pattern block in the block inspector card
  docs/reference-guides/core-blocks.md
  packages/block-editor/src/components/use-block-display-information/index.js
  packages/block-library/src/block/block.json
  packages/e2e-tests/specs/editor/various/reusable-blocks.test.js
Labels: [Type] Bug, [Type] Enhancement, Backport to WP Beta/RC, [Feature] Patterns

#52529 Site Editor: Restore quick inserter 'Browse all' button
  packages/edit-site/src/components/block-editor/index.js
  packages/edit-site/src/components/block-editor/use-site-editor-settings.js
Labels: [Feature] Inserter, [Type] Regression, Backport to WP Beta/RC, [Feature] Site Editor

#52547 Site Editor Patterns: Ensure sidebar does not shrink when long pattern titles are used
  packages/edit-site/src/components/layout/style.scss
Labels: [Type] Bug, Backport to WP Beta/RC, [Feature] Site Editor

#52477 Update navigation menu title size & weight in detail panels
  packages/edit-site/src/components/sidebar-navigation-screen-pattern/template-part-navigation-menu.js
  packages/edit-site/src/components/sidebar-navigation-screen-pattern/template-part-navigation-menus.js
Labels: Backport to WP Beta/RC, [Feature] Site Editor

#52532 Fix "Manage all patterns" link appearance
  packages/edit-site/src/components/sidebar-navigation-item/style.scss
Labels: Backport to WP Beta/RC, [Feature] Site Editor

#52338 Fix entity cache misses for single posts due to string as recordKey
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menu/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-page/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-pattern/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-pattern/use-pattern-details.js
  packages/edit-site/src/components/sync-state-with-url/use-init-edited-entity-from-url.js
  packages/edit-site/src/components/use-edited-entity-record/index.js
  packages/edit-site/src/utils/normalize-record-key.js
Labels: [Type] Bug, [Type] Performance, [Feature] Site Editor

#52557 Fix md5 class messed up with new block key
  lib/experimental/interactivity-api/class-wp-directive-processor.php
  lib/experimental/interactivity-api/directive-processing.php
Labels: [Type] Bug, [Package] Style Engine, Backport to Gutenberg RC, [Feature] Interactivity API

#52546 Block Editor: Ensure synced patterns are accounted for in 'getAllowedBlocks'
  packages/block-editor/src/store/selectors.js
Labels: [Type] Bug, [Feature] Inserter, [Package] Block editor

#52518 Trim footnote anchors from excerpts
  lib/compat/wordpress-6.3/footnotes.php
  lib/load.php
Labels: [Type] Bug, Backport to WP Beta/RC, Backport to Gutenberg RC, [Block] Footnotes

#52566 Site Editor: Reset device preview type when exiting the editing mode
  packages/edit-site/src/components/site-hub/index.js
Labels: [Type] Bug, Backport to WP Beta/RC, [Feature] Site Editor

#52269 [RNMobile] Update Editor block inserter button styles and default text input placeholder/selection styles
  packages/block-editor/src/components/inserter/index.native.js
  packages/block-editor/src/components/inserter/style.native.scss
  packages/block-library/src/audio/test/__snapshots__/edit.native.js.snap
  packages/block-library/src/file/test/__snapshots__/edit.native.js.snap
  packages/block-library/src/paragraph/test/__snapshots__/edit.native.js.snap
  packages/block-library/src/preformatted/test/__snapshots__/edit.native.js.snap
  packages/block-library/src/search/test/__snapshots__/edit.native.js.snap
  packages/components/src/button/index.native.js
  packages/edit-post/src/components/header/header-toolbar/index.native.js
  packages/react-native-editor/CHANGELOG.md
  packages/rich-text/src/component/index.native.js
  packages/rich-text/src/component/style.native.scss
  test/native/__mocks__/styleMock.js
Labels: Mobile App - i.e. Android or iOS

#52523 Add maxLength to LinkControl search item URLs
  packages/block-editor/src/components/link-control/search-item.js
Labels: [Feature] Link Editing

#52028 Adding support for defined IDs in `TextControl` component
  packages/components/CHANGELOG.md
  packages/components/src/text-control/index.tsx
  packages/components/src/text-control/test/text-control.tsx
Labels: First-time Contributor

#52581 Copy tweak for the reusable block rename hint
  packages/block-editor/src/components/inserter/reusable-block-rename-hint.js
Labels: [Type] Copy, Backport to WP Beta/RC

#52542 Fix missing Add Template Part button in Template Parts page
  packages/edit-site/src/components/page-template-parts/add-new-template-part.js
  packages/edit-site/src/components/page-template-parts/index.js
Labels: [Type] Bug, Backport to WP Beta/RC, [Feature] Site Editor

#52543 Add 'reusable' keyword to Pattern blocks
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/selectors.js
  packages/block-library/src/block/block.json
Labels: [Type] Bug, [Feature] Inserter, [Feature] Reusable Blocks, Backport to WP Beta/RC

#52567 SiteHub: Combine site data selector hooks
  packages/edit-site/src/components/site-hub/index.js
Labels: [Type] Code Quality, [Feature] Site Editor

#52456 Site Editor: Make sidebar back button go *back* instead of *up* if possible
  packages/components/CHANGELOG.md
  packages/components/src/navigator/navigator-provider/component.tsx
  packages/components/src/navigator/types.ts
  packages/edit-site/src/components/sidebar-navigation-screen/index.js
  packages/edit-site/src/components/sync-state-with-url/use-sync-path-with-url.js
Labels: [Type] Bug, [Package] Components, Backport to WP Beta/RC, [Feature] Site Editor

#52538 Patterns: Add client side pagination to patterns list
  packages/edit-site/src/components/page-patterns/grid.js
  packages/edit-site/src/components/page-patterns/patterns-list.js
  packages/edit-site/src/components/page-patterns/style.scss
Labels: [Type] Enhancement, [Type] Performance, Backport to WP Beta/RC, [Feature] Patterns

#52588 Avoid errors in Dimension visualizers when switching between iframed and non-iframed editors
  packages/block-editor/src/hooks/margin.js
  packages/block-editor/src/hooks/padding.js
Labels: [Type] Bug, [Package] Block editor, Backport to WP Beta/RC

#52578 correct a typo: sapce -> space
  packages/editor/src/components/post-schedule/label.js
Labels: [Type] Task, [Package] Editor

#52592 Site Editor: Fix navigation menu sidebar actions order and label
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menu/more-menu.js
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menu/single-navigation-menu.js
Labels: [Type] Bug, Accessibility (a11y), [a11y] Labelling, Backport to WP Beta/RC, [Feature] Site Editor

#52573 Fix importing classic menus
  packages/block-library/src/navigation/edit/index.js
  packages/block-library/src/navigation/edit/use-convert-classic-menu-to-block-menu.js
Labels: [Type] Bug, Backport to WP Beta/RC

#52599 Make Pattern title text clickable for 6.3 release
  packages/edit-site/src/components/page-patterns/grid-item.js
  packages/edit-site/src/components/page-patterns/style.scss
Labels: [Type] Bug, [Feature] Patterns, Backport to Gutenberg RC

#52591 Fix console warning by improving error handling in Nav block classic menu conversion
  packages/block-library/src/navigation/edit/use-convert-classic-menu-to-block-menu.js
Labels: [Type] Bug, [Block] Navigation
