Repository WordPress/gutenberg, pull requests merged in 2023-09, with the labels that each got.

#54103 Font Face & Font Library: Load PHP files only if the main class does not exist.
  lib/load.php
Labels: [Type] Bug

#54088 Workflow: Fix the issue with npm publishing for WP major version
  .github/workflows/publish-npm-packages.yml
Labels: [Type] Bug, npm Packages

#54104 Columns: Adopt button and heading element colors
  docs/reference-guides/core-blocks.md
  packages/block-library/src/column/block.json
  packages/block-library/src/columns/block.json
Labels: [Type] Enhancement, [Block] Columns, [Feature] Design Tools

#53175 Text orientation: Rotate vertical text when the text is aligned (Upside down text)
  packages/block-library/src/paragraph/editor.scss
  packages/block-library/src/paragraph/style.scss
  packages/block-library/src/post-navigation-link/index.php
  packages/block-library/src/post-navigation-link/style.scss
Labels: [Type] Enhancement, Needs Design Feedback, Needs Design, [Block] Paragraph

#54105 Adds removal notice to view.js.mustache
  packages/create-block/lib/templates/block/view.js.mustache
Labels: [Type] Enhancement, [Package] Create Block, Developer Experience

#53735 Rename Group blocks in the Editor via Modal
  packages/base-styles/_z-index.scss
  packages/block-editor/src/components/list-view/block.js
  packages/block-editor/src/components/use-block-display-information/index.js
  packages/block-editor/src/hooks/block-rename-ui.js
  packages/block-editor/src/hooks/block-rename-ui.scss
  packages/block-editor/src/hooks/index.js
  packages/block-editor/src/style.scss
  packages/block-library/src/group/block.json
  test/e2e/specs/editor/various/block-renaming.spec.js
Labels: Needs Design Feedback, [Type] Feature

#54086 Mobile Release v1.103.0
  package-lock.json
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: [Type] Task, Mobile App - i.e. Android or iOS

#54108 Pass correct content argument to enter transforms
  docs/reference-guides/block-api/block-transforms.md
  packages/block-library/src/heading/transforms.js
Labels: [Type] Bug, [Package] Block editor

#54070 Changelog tool: update Automated Testing label
  bin/plugin/commands/changelog.js
  bin/plugin/commands/test/__snapshots__/changelog.js.snap
Labels: [Type] Build Tooling

#54122 Font Library: changing the upload directory to wp-content/fonts
  lib/experimental/fonts/font-library/class-wp-font-library.php
  phpunit/tests/fonts/font-library/wpFontFamily/base.php
  phpunit/tests/fonts/font-library/wpFontFamily/install.php
  phpunit/tests/fonts/font-library/wpFontFamily/uninstall.php
  phpunit/tests/fonts/font-library/wpFontLibrary/getFontsDir.php
  phpunit/tests/fonts/font-library/wpFontLibrary/setUploadDir.php
  phpunit/tests/fonts/font-library/wpRestFontLibraryController/installFonts.php
Labels: [Type] Task

#54111 Perf Tests: Update base point to compare
  .github/workflows/performance.yml
Labels: [Type] Task, Gutenberg Plugin

#53451 Plugin: require minimum WordPress 6.2
  gutenberg.php
  lib/block-supports/elements.php
  lib/block-supports/settings.php
  lib/compat/wordpress-6.2/block-editor.php
  lib/compat/wordpress-6.2/block-patterns.php
  lib/compat/wordpress-6.2/block-template-utils.php
  lib/compat/wordpress-6.2/blocks.php
  lib/compat/wordpress-6.2/class-gutenberg-rest-block-pattern-categories-controller.php
  lib/compat/wordpress-6.2/class-gutenberg-rest-block-patterns-controller-6-2.php
  lib/compat/wordpress-6.2/class-gutenberg-rest-pattern-directory-controller-6-2.php
  lib/compat/wordpress-6.2/default-filters.php
  lib/compat/wordpress-6.2/get-global-styles-and-settings.php
  lib/compat/wordpress-6.2/html-api/class-wp-html-attribute-token.php
  lib/compat/wordpress-6.2/html-api/class-wp-html-span.php
  lib/compat/wordpress-6.2/html-api/class-wp-html-tag-processor.php
  lib/compat/wordpress-6.2/html-api/class-wp-html-text-replacement.php
  lib/compat/wordpress-6.2/menu.php
  lib/compat/wordpress-6.2/rest-api.php
  lib/compat/wordpress-6.2/script-loader.php
  lib/compat/wordpress-6.2/site-editor.php
  lib/compat/wordpress-6.2/theme.php
  lib/compat/wordpress-6.2/widgets.php
  lib/compat/wordpress-6.3/block-patterns.php
  lib/compat/wordpress-6.3/class-gutenberg-rest-block-patterns-controller-6-3.php
  lib/load.php
  phpunit/block-template-utils-test.php
  phpunit/class-wp-rest-pattern-directory-controller-test.php
  tools/webpack/blocks.js
Labels: Gutenberg Plugin, Backwards Compatibility, [Type] Code Quality

#54118 Add missing dependency of `@wordpress/patterns` on `@babel/runtime`
  package-lock.json
  packages/patterns/package.json
Labels: [Type] Code Quality, [Feature] Patterns

#54134 Incorrect file extension?
  docs/how-to-guides/enqueueing-assets-in-the-editor.md
Labels: [Type] Developer Documentation

#54130 Storybook: update doc param values for ConfirmDialog
  packages/components/src/confirm-dialog/stories/index.story.js
Labels: [Type] Bug, Storybook

#54141 EditPostPreferencesModal: refactor to remove snapshots for index.js
  packages/edit-post/src/components/preferences-modal/test/__snapshots__/index.js.snap
  packages/edit-post/src/components/preferences-modal/test/index.js
Labels: [Type] Code Quality, [Package] Preferences

#54128 package(e2e-test-utils): update fixtures
  packages/e2e-test-utils/CHANGELOG.md
  packages/e2e-test-utils/src/activate-plugin.js
  packages/e2e-test-utils/src/activate-theme.js
  packages/e2e-test-utils/src/login-user.js
Labels: [Type] Enhancement, [Package] E2E Test Utils

#53975 Update typescript-eslint to v6
  package-lock.json
  package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/configs/recommended.js
  packages/eslint-plugin/package.json
Labels: [Type] Breaking Change, [Package] ESLint plugin

#54094 Table of Contents: Use a custom store subscription for observing headings
  packages/block-library/src/table-of-contents/block.json
  packages/block-library/src/table-of-contents/edit.js
  packages/block-library/src/table-of-contents/hooks.js
  test/integration/fixtures/blocks/core__table-of-contents__empty.json
Labels: [Type] Performance, [Package] Block library, [Block] Table of contents

#54029 Auto-inserting blocks: Add block icon to block inspector panel toggles
  packages/block-editor/src/hooks/auto-inserting-blocks.js
  packages/block-editor/src/hooks/auto-inserting-blocks.scss
  packages/block-editor/src/style.scss
Labels: [Feature] Block API, Needs Design Feedback, [Type] Experimental

#54034 PaletteEdit: Fix padding in RTL mode
  packages/components/CHANGELOG.md
  packages/components/src/palette-edit/styles.js
Labels: [Type] Bug, [Package] Components

#54024 Auto-inserting blocks: Remove toggle if block is present elsewhere
  packages/block-editor/src/hooks/auto-inserting-blocks.js
Labels: [Feature] Block API, [Type] Experimental

#54080 Make the shortcuts provider optional
  packages/block-editor/src/components/iframe/index.js
  packages/customize-widgets/src/components/customize-widgets/index.js
  packages/edit-post/src/components/keyboard-shortcut-help-modal/test/index.js
  packages/edit-post/src/editor.js
  packages/edit-site/src/components/app/index.js
  packages/edit-widgets/src/components/widget-areas-block-editor-provider/index.js
  packages/keyboard-shortcuts/README.md
  packages/keyboard-shortcuts/src/components/shortcut-provider.js
  packages/keyboard-shortcuts/src/context.js
  packages/keyboard-shortcuts/src/hooks/use-shortcut.js
  storybook/stories/playground/index.story.js
  test/integration/helpers/integration-test-editor.js
Labels: [Type] Enhancement, [Package] Keyboard Shortcuts

#52255 Making Circular Option Picker a `listbox`
  packages/block-editor/src/components/color-palette/test/__snapshots__/control.js.snap
  packages/block-library/src/cover/test/edit.js
  packages/components/CHANGELOG.md
  packages/components/src/border-control/test/index.js
  packages/components/src/circular-option-picker/index.tsx
  packages/components/src/circular-option-picker/types.ts
  packages/components/src/color-palette/index.tsx
  packages/components/src/color-palette/stories/index.story.tsx
  packages/components/src/color-palette/test/__snapshots__/index.tsx.snap
  packages/components/src/color-palette/test/index.tsx
  packages/components/src/color-palette/types.ts
  packages/components/src/duotone-picker/duotone-picker.tsx
  packages/components/src/duotone-picker/types.ts
  packages/components/src/gradient-picker/index.tsx
  packages/components/src/gradient-picker/types.ts
  test/e2e/specs/editor/blocks/buttons.spec.js
  test/e2e/specs/editor/blocks/cover.spec.js
  test/e2e/specs/editor/blocks/heading.spec.js
  test/e2e/specs/editor/blocks/navigation-colors.spec.js
  test/e2e/specs/editor/various/keep-styles-on-block-transforms.spec.js
  test/e2e/specs/editor/various/list-view.spec.js
  test/e2e/specs/editor/various/rich-text.spec.js
  test/e2e/specs/site-editor/style-variations.spec.js
  test/e2e/specs/site-editor/user-global-styles-revisions.spec.js
Labels: [Type] Accessibility (a11y), [Package] Components, First-time Contributor

#54154 Plugin: Remove 'Footnotes' and 'Comments' from the non-dynamic block registration list
  lib/blocks.php
Labels: [Type] Task, Gutenberg Plugin

#54075 Block Supports: Re-use instance of Tag Processor when adding layout classes.
  lib/block-supports/layout.php
Labels: [Type] Enhancement, [Feature] Layout, [Feature] HTML API

#48708 List View: Allow Escape key to deselect blocks if blocks are selected
  packages/block-editor/src/components/list-view/block.js
  packages/block-editor/src/components/list-view/use-block-selection.js
  test/e2e/specs/editor/various/list-view.spec.js
Labels: [Type] Enhancement, [Feature] List View

#54082 Site editor sidebar: abstracting footer so it can be used across details screens
  packages/edit-site/src/components/sidebar-navigation-screen-details-footer/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-details-footer/style.scss
  packages/edit-site/src/components/sidebar-navigation-screen-details-panel/sidebar-navigation-screen-details-panel-row.js
  packages/edit-site/src/components/sidebar-navigation-screen-global-styles/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-global-styles/style.scss
  packages/edit-site/src/components/sidebar-navigation-screen-page/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-pattern/use-pattern-details.js
  packages/edit-site/src/components/sidebar-navigation-screen-template/index.js
  packages/edit-site/src/style.scss
Labels: [Type] Enhancement, [Feature] Site Editor

#54166 Revisions: remove 'gutenberg' query param from revisions.php
  packages/edit-site/src/components/sidebar-edit-mode/template-panel/last-revision.js
  packages/editor/src/components/post-last-revision/index.js
Labels: [Type] Code Quality

#54133 Command Palette: Fix duplicate Patterns command
  packages/core-commands/src/admin-navigation-commands.js
  packages/core-commands/src/site-editor-navigation-commands.js
Labels: [Type] Bug, [Feature] Patterns, [Package] Commands

#54100 [RNMobile] Fix social icons block alignment
  packages/block-library/src/social-link/edit.native.js
  packages/block-library/src/social-link/editor.native.scss
  packages/react-native-editor/CHANGELOG.md
Labels: [Type] Bug, Mobile App - i.e. Android or iOS, Mobile App - Automation

#54119 Footnotes: enlarge rich text footnote target
  packages/block-library/src/footnotes/edit.js
Labels: [Type] Bug, Backport to WP Minor Release, [Block] Footnotes

#54159 PostSyncStatus: Derive sync status inside the selector
  packages/editor/src/components/post-sync-status/index.js
Labels: [Type] Code Quality, [Package] Editor

#54171 Backport tools: filter PRs to be cherry picked by merged date
  bin/cherry-pick.mjs
Labels: [Type] Build Tooling

#54158 Edit Post: Avoid fetching the edited template for non-viewable posts
  packages/edit-post/src/components/visual-editor/index.js
Labels: [Type] Bug, [Package] Edit Post

#54157 Performance: Use median instead of average to stabilize First Block metric
  test/performance/config/performance-reporter.ts
Labels: [Type] Performance

#54085 Improve code commenting around focus mount behaviour of rich text Link UI
  packages/format-library/src/link/inline.js
Labels: [Type] Code Quality, [Feature] Link Editing

#54028 Composite: refactor to TypeScript
  packages/components/CHANGELOG.md
  packages/components/src/composite/index.ts
Labels: [Type] Code Quality, [Package] Components

#54181 List e2e: run all tests with iframe
  test/e2e/specs/editor/blocks/list.spec.js
Labels: [Type] Code Quality

#54178 Popover: set is-positioned class only after animation has finished
  packages/components/CHANGELOG.md
  packages/components/src/popover/index.tsx
  packages/components/src/popover/types.ts
  packages/nux/src/components/dot-tip/test/__snapshots__/index.js.snap
Labels: [Type] Bug, [Package] Components

#54183 RichText: remove __unstableOnSplitMiddle
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/components/rich-text/split-value.js
  packages/block-editor/src/components/rich-text/use-enter.js
  packages/block-editor/src/components/rich-text/use-paste-handler.js
Labels: [Type] Code Quality

#54162 Running npm run format:php may result in an error
  package.json
Labels: [Type] Build Tooling

#53979 FocusableIframe: refactor to TypeScript
  packages/components/CHANGELOG.md
  packages/components/src/focusable-iframe/index.tsx
  packages/components/src/focusable-iframe/types.ts
Labels: [Type] Code Quality, [Package] Components

#53943 Fix: InnerBlocks allowed blocks change with different sizes.
  packages/block-editor/src/components/inner-blocks/use-nested-settings-update.js
  packages/e2e-tests/plugins/inner-blocks-allowed-blocks/index.js
  test/e2e/specs/editor/plugins/inner-blocks-allowed-blocks.spec.js
Labels: [Type] Bug, [Feature] Nested / Inner Blocks

#54188 Performance: Fix first block locator's page reference
  test/performance/specs/post-editor.spec.js
  test/performance/specs/site-editor.spec.js
Labels: [Type] Bug, [Type] Performance

#54191 Annotations: run e2e tests with iframe
  packages/e2e-tests/specs/editor/plugins/annotations.test.js
Labels: [Type] Code Quality

#54036 DropdownMenu v2: Fix submenu chevron direction in RTL languages
  packages/components/CHANGELOG.md
  packages/components/src/dropdown-menu-v2/styles.ts
Labels: [Type] Bug, [Package] Components

#50278 ToggleGroupControl: rewrite backdrop animation with framer motion shared layout animations
  packages/block-editor/src/components/inspector-controls/block-support-slot-container.js
  packages/block-editor/src/components/inspector-controls/fill.js
  packages/block-editor/src/components/inspector-controls/slot.js
  packages/components/CHANGELOG.md
  packages/components/src/animation/index.tsx
  packages/components/src/index.ts
  packages/components/src/toggle-group-control/test/__snapshots__/index.tsx.snap
  packages/components/src/toggle-group-control/test/index.tsx
  packages/components/src/toggle-group-control/toggle-group-control-option-base/component.tsx
  packages/components/src/toggle-group-control/toggle-group-control-option-base/styles.ts
  packages/components/src/toggle-group-control/toggle-group-control/README.md
  packages/components/src/toggle-group-control/toggle-group-control/as-button-group.tsx
  packages/components/src/toggle-group-control/toggle-group-control/as-radio-group.tsx
  packages/components/src/toggle-group-control/toggle-group-control/component.tsx
  packages/components/src/toggle-group-control/toggle-group-control/styles.ts
  packages/components/src/toggle-group-control/toggle-group-control/toggle-group-control-backdrop.tsx
  packages/components/src/toggle-group-control/toggle-group-control/utils.ts
  packages/components/src/toggle-group-control/types.ts
Labels: [Type] Enhancement, [Package] Components

#54101 `Popover`: update `positionToPlacement` types
  packages/components/CHANGELOG.md
  packages/components/src/popover/utils.ts
Labels: [Type] Enhancement, [Package] Components

#54192 Fix "Blog title" input border radius in Index / Home details panel
  packages/edit-site/src/components/sidebar-navigation-screen/style.scss
Labels: [Type] Enhancement, [Feature] Site Editor

#54079 Allow overriding the iOS platform destination for RN E2E testing
  packages/react-native-editor/bin/build_e2e_ios_app
  packages/react-native-editor/ios/.ruby-version
  packages/react-native-editor/ios/GutenbergDemo.xcodeproj/project.pbxproj
  packages/react-native-editor/package.json
Labels: [Type] Build Tooling

#54168 JS unit tests: update popover matcher
  packages/block-editor/src/components/media-replace-flow/test/index.js
  packages/components/src/border-control/test/index.js
  packages/components/src/color-palette/test/index.tsx
  packages/components/src/toggle-group-control/test/index.tsx
  packages/components/src/tooltip/test/index.js
  packages/nux/src/components/dot-tip/test/index.js
  test/unit/config/matchers/to-be-positioned-popover.js
Labels: [Type] Code Quality

#54204 Fluid typography: backporting Core @since annotations
  lib/block-supports/typography.php
Labels: [Type] Code Quality

#54196 Make `CircularOptionPicker` focus styles resilient to button size changes
  packages/components/CHANGELOG.md
  packages/components/src/circular-option-picker/style.scss
Labels: [Type] Bug, [Package] Components

#54149 BlockEditor: Add BlockCanvas component = Iframe + BlockList + WritingFlow
  docs/how-to-guides/platform/custom-block-editor.md
  packages/block-editor/README.md
  packages/block-editor/src/components/block-canvas/index.js
  packages/block-editor/src/components/iframe/index.js
  packages/block-editor/src/components/index.js
  packages/block-editor/src/private-apis.js
  packages/customize-widgets/src/components/sidebar-block-editor/index.js
  packages/edit-post/src/components/visual-editor/index.js
  packages/edit-site/src/components/block-editor/editor-canvas.js
  packages/edit-site/src/components/block-editor/site-editor-canvas.js
  packages/edit-widgets/src/components/widget-areas-block-editor-content/index.js
  storybook/stories/playground/editor-styles.js
  storybook/stories/playground/editor-styles.scss
  storybook/stories/playground/index.story.js
  storybook/stories/playground/style.lazy.scss
  test/integration/helpers/integration-test-editor.js
Labels: Framework, [Type] New API

#54198 Query block: Move "Enhance pagination" toggle under Settings
  packages/block-library/src/query/edit/inspector-controls/index.js
Labels: [Type] Enhancement, [Block] Query Loop, Backport to Gutenberg RC, [Feature] Interactivity API

#53350 Try: allow `multiple` attribute to be a string in upload components
  packages/block-editor/src/components/media-placeholder/README.md
  packages/block-editor/src/components/media-placeholder/index.js
  packages/block-editor/src/components/media-replace-flow/index.js
  packages/block-editor/src/components/media-upload/README.md
Labels: [Type] Enhancement, [Package] Block editor

#54208 Auto-inserting blocks: Remove obsolete TODO, fix REST API field description
  lib/experimental/auto-inserting-blocks.php
  packages/block-editor/src/hooks/auto-inserting-blocks.js
Labels: [Feature] Block API, [Type] Code Quality, Backport to Gutenberg RC

#53634 Documentation: Add the Commands Data page to Handbook
  docs/manifest.json
  docs/toc.json
Labels: [Type] Developer Documentation

#47178 Fix bullet hierarchy
  packages/components/src/theme/README.md
Labels: [Type] Developer Documentation

#54207 Bundle the block copy handler within the BlockCanvas component
  packages/block-editor/src/components/block-canvas/index.js
  packages/customize-widgets/src/components/sidebar-block-editor/index.js
  packages/edit-post/src/components/visual-editor/index.js
  packages/edit-site/src/components/block-editor/site-editor-canvas.js
  packages/edit-widgets/src/components/widget-areas-block-editor-provider/index.js
Labels: [Type] Enhancement, Framework

#54209 Bundle the block selection clearer hook into the BlockCanvas component
  packages/block-editor/src/components/block-canvas/index.js
  packages/customize-widgets/src/components/sidebar-block-editor/index.js
  packages/edit-post/src/components/visual-editor/index.js
  packages/edit-widgets/src/components/widget-areas-block-editor-content/index.js
Labels: [Type] Enhancement

#54096 feat: Insert from URL leverages a bottom sheet
  package-lock.json
  packages/block-editor/src/components/index.native.js
  packages/block-editor/src/components/media-placeholder/index.native.js
  packages/block-editor/src/components/media-upload/constants.js
  packages/block-editor/src/components/media-upload/index.native.js
  packages/block-editor/src/components/media-upload/style.native.scss
  packages/block-editor/src/components/media-upload/test/index.native.js
  packages/components/src/mobile/bottom-sheet/index.native.js
  packages/react-native-bridge/android/react-native-bridge/build.gradle
  packages/react-native-bridge/android/react-native-bridge/src/main/java/org/wordpress/mobile/WPAndroidGlue/WPAndroidGlueCode.java
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/android/app/build.gradle
  packages/react-native-editor/android/app/src/main/java/com/gutenberg/MainApplication.java
  packages/react-native-editor/package.json
Labels: [Type] Enhancement, Mobile App - i.e. Android or iOS, Mobile App - Automation

#53506 Image Editor: Fix ESLint warnings and remove unnecessary dependencies
  packages/block-editor/src/components/image-editor/use-save-image.js
  packages/block-editor/src/components/image-editor/use-transform-image.js
Labels: [Type] Code Quality, [Package] Block editor

#54213 Fix long-press gestures not working in `RichText` component [Android]
  packages/block-library/src/audio/test/__snapshots__/edit.native.js.snap
  packages/block-library/src/file/test/__snapshots__/edit.native.js.snap
  packages/block-library/src/search/test/__snapshots__/edit.native.js.snap
  packages/react-native-aztec/src/AztecView.js
Labels: [Type] Bug, [Feature] Rich Text, Mobile App - i.e. Android or iOS, Mobile App - Automation

#54172 Top Toolbar: Prevent the focus outline of the button from being cut off
  packages/block-editor/src/components/block-tools/block-contextual-toolbar.js
  packages/edit-post/src/style.scss
Labels: Needs Design Feedback, [Package] Block editor, [Package] Edit Post

#54201 Interactivity API: Override unfinished `navigate` calls
  packages/e2e-tests/plugins/interactive-blocks/router-navigate/block.json
  packages/e2e-tests/plugins/interactive-blocks/router-navigate/render.php
  packages/e2e-tests/plugins/interactive-blocks/router-navigate/view.js
  packages/interactivity/CHANGELOG.md
  packages/interactivity/src/router.js
  test/e2e/specs/interactivity/router-navigate.spec.ts
Labels: [Type] Enhancement, [Feature] Interactivity API

#48083 Set the timezone correctly.
  packages/date/src/index.js
Labels: [Type] Bug, [Package] Date, First-time Contributor

#52620 Add keyboardReturn submit button back to LinkControl
  packages/block-editor/src/components/link-control/index.js
  packages/block-editor/src/components/link-control/style.scss
  packages/block-editor/src/components/link-control/test/index.js
Labels: [Type] Regression, [Feature] Link Editing

#54117 Docs: Move the FAQ page to Getting Started.
  docs/README.md
  docs/contributors/design/reference.md
  docs/getting-started/README.md
  docs/getting-started/faq.md
  docs/manifest.json
  docs/toc.json
  packages/interactivity/README.md
  packages/interactivity/docs/README.md
Labels: [Type] Developer Documentation

#53966 Navigation block: Add `core/buttons` to the allowed blocks.
  packages/block-library/src/navigation-link/transforms.js
  packages/block-library/src/navigation/constants.js
Labels: [Type] Enhancement, [Block] Navigation, [Block] Navigation Link

#54167 Add edits data to the useEntityRecord
  packages/core-data/src/hooks/test/use-entity-record.js
  packages/core-data/src/hooks/use-entity-record.ts
Labels: [Type] Enhancement, [Package] Core data

#54125 Docs: Add note about enqueueing assets in the iframe and trim whitespace.
  docs/how-to-guides/enqueueing-assets-in-the-editor.md
Labels: [Type] Developer Documentation

#49176 Updated Related Components Links
  packages/components/src/toolbar/toolbar-group/README.md
Labels: [Type] Developer Documentation

#54120 Docs: Move Glossary page to Getting Started.
  docs/README.md
  docs/contributors/design/reference.md
  docs/getting-started/README.md
  docs/getting-started/glossary.md
  docs/manifest.json
  docs/toc.json
  packages/block-library/README.md
  packages/create-block/README.md
Labels: [Type] Developer Documentation

#54184 Update nofollow control label
  packages/format-library/src/link/inline.js
Labels: [Type] Bug, [Type] Accessibility (a11y), [Feature] Link Editing

#54229 Fix: Broken links on ToolbarGroup documentation.
  packages/components/src/toolbar/toolbar-group/README.md
Labels: [Type] Developer Documentation

#54221 Copy: End the Templates page description in the Site Editor with a period
  packages/edit-site/src/components/sidebar-navigation-screen-templates/index.js
Labels: [Type] Copy, [Feature] Site Editor

#53842 Patterns: Update empty template part label
  packages/edit-site/src/components/page-patterns/grid-item.js
  packages/edit-site/src/components/sidebar-navigation-screen-pattern/use-pattern-details.js
Labels: [Type] Enhancement, [Feature] Patterns

#54235 Add `set -o pipefail` to script that builds iOS E2E version
  packages/react-native-editor/bin/build_e2e_ios_app
Labels: [Type] Build Tooling, Mobile App - i.e. Android or iOS

#53767 Data: Introduce `countSelectorsByStatus` redux metadata selector
  package-lock.json
  packages/data/package.json
  packages/data/src/redux-store/index.js
  packages/data/src/redux-store/metadata/selectors.js
  packages/data/src/redux-store/metadata/test/selectors.js
Labels: [Package] Data, Needs Technical Feedback, [Type] New API

#54206 Allow using a button element for button blocks
  docs/reference-guides/core-blocks.md
  packages/block-library/src/button/block.json
  packages/block-library/src/button/edit.js
  packages/block-library/src/button/save.js
  test/integration/fixtures/blocks/core__button__squared.json
  test/integration/fixtures/blocks/core__buttons.html
  test/integration/fixtures/blocks/core__buttons.json
  test/integration/fixtures/blocks/core__buttons.parsed.json
  test/integration/fixtures/blocks/core__buttons.serialized.html
Labels: [Type] Enhancement, [Block] Buttons

#54217 Mobile Release v1.103.1
  package-lock.json
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: [Type] Task, Mobile App - i.e. Android or iOS

#53399 Edit Site: Update progress bar to determinate
  packages/edit-site/src/components/canvas-loader/index.js
  packages/edit-site/src/components/canvas-loader/style.scss
Labels: [Type] Enhancement, [Status] Blocked, Needs Technical Feedback, [Package] Edit Site

#48440 ToolTip: refactor using ariakit
  packages/base-styles/_z-index.scss
  packages/block-editor/src/components/color-palette/test/__snapshots__/control.js.snap
  packages/block-editor/src/components/link-control/test/index.js
  packages/components/CHANGELOG.md
  packages/components/src/button/test/index.tsx
  packages/components/src/color-palette/test/index.tsx
  packages/components/src/spinner/index.tsx
  packages/components/src/tab-panel/test/index.tsx
  packages/components/src/toggle-group-control/test/__snapshots__/index.tsx.snap
  packages/components/src/toggle-group-control/test/index.tsx
  packages/components/src/toggle-group-control/types.ts
  packages/components/src/tooltip/README.md
  packages/components/src/tooltip/index.js
  packages/components/src/tooltip/index.tsx
  packages/components/src/tooltip/stories/index.story.js
  packages/components/src/tooltip/stories/index.story.tsx
  packages/components/src/tooltip/style.scss
  packages/components/src/tooltip/test/index.js
  packages/components/src/tooltip/test/index.tsx
  packages/components/src/tooltip/test/utils/index.tsx
  packages/components/src/tooltip/types.ts
  packages/editor/src/components/post-publish-panel/test/__snapshots__/index.js.snap
  packages/editor/src/components/post-saved-state/test/index.js
Labels: [Type] Enhancement, [Package] Components

#53116 Dependabot settings: remove the `Automated testing` label.
  .github/dependabot.yml
Labels: [Type] Project Management, GitHub Actions

#54228 Font Face: remove static instance in wp_print_font_faces()
  lib/compat/wordpress-6.4/fonts/fonts.php
Labels: [Type] Code Quality, Needs PHP backport, [Feature] Typography

#51065 Docs: Consolidated design Reference with the main Design Contributions doc.
  docs/contributors/assets/gutenberg-logo-black.svg
  docs/contributors/design/README.md
  docs/contributors/design/reference.md
  docs/manifest.json
  docs/toc.json
Labels: [Type] Developer Documentation

#54258 Docs - Contribution Triage: Formatted text and changed some titles and structure
  docs/contributors/triage.md
Labels: [Type] Developer Documentation

#54173 Template parts: use the template actions component for template parts patterns
  packages/edit-site/src/components/sidebar-navigation-screen-pattern/index.js
  packages/edit-site/src/components/template-actions/index.js
Labels: [Type] Enhancement, [Block] Template Part

#53864 Post Content: Ensure layout classnames are applied in readonly preview
  packages/block-library/src/post-content/edit.js
Labels: [Type] Bug, [Block] Post Content, [Feature] Layout

#54277 Site editor: bump the z-index of the rename modal
  packages/base-styles/_z-index.scss
  packages/edit-site/src/components/list/style.scss
  packages/edit-site/src/components/page-patterns/rename-menu-item.js
Labels: [Type] Bug, [Feature] Site Editor

#53934 Block Supports: Add background image support to Group block
  docs/reference-guides/core-blocks.md
  docs/reference-guides/theme-json-reference/theme-json-living.md
  lib/block-supports/background.php
  lib/class-wp-theme-json-gutenberg.php
  lib/load.php
  packages/block-editor/src/components/block-inspector/index.js
  packages/block-editor/src/components/inspector-controls-tabs/styles-tab.js
  packages/block-editor/src/components/inspector-controls/groups.js
  packages/block-editor/src/hooks/background.js
  packages/block-editor/src/hooks/background.scss
  packages/block-editor/src/hooks/style.js
  packages/block-editor/src/style.scss
  packages/block-library/src/group/block.json
  packages/style-engine/class-wp-style-engine.php
  packages/style-engine/src/styles/background/index.ts
  packages/style-engine/src/styles/index.ts
  packages/style-engine/src/styles/utils.ts
  packages/style-engine/src/types.ts
  phpunit/style-engine/style-engine-test.php
  schemas/json/block.json
  schemas/json/theme.json
Labels: [Type] Enhancement, Needs Design Feedback, [Block] Group, [Feature] Design Tools, [Package] Style Engine

#54254 Edit site: prevent enqueuing entire stylesheet in iframe
  lib/compat/wordpress-6.4/script-loader.php
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menus/style.scss
Labels: [Type] Performance, Needs PHP backport

#54247 Storybook: Restore previous URL for the introduction docs page
  storybook/stories/docs/introduction.mdx
Labels: [Type] Bug, Storybook

#54212 Scripts: Correctly resolve entry points when the directory is symlinked
  packages/scripts/CHANGELOG.md
  packages/scripts/config/webpack.config.js
  packages/scripts/utils/config.js
Labels: [Type] Bug, [Package] Scripts

#54297 Remove `gutenberg_should_block_use_interactivity_api ` and the old implementation of interactive blocks
  docs/reference-guides/core-blocks.md
  lib/experimental/blocks.php
  package-lock.json
  packages/block-library/package.json
  packages/block-library/src/file/block.json
  packages/block-library/src/file/index.php
  packages/block-library/src/file/utils/index.js
  packages/block-library/src/file/view-interactivity.js
  packages/block-library/src/file/view.js
  packages/block-library/src/navigation/block.json
  packages/block-library/src/navigation/index.php
  packages/block-library/src/navigation/view-interactivity.js
  packages/block-library/src/navigation/view-modal.js
  packages/block-library/src/navigation/view.js
Labels: [Type] Code Quality, [Block] File, [Block] Navigation, [Feature] Interactivity API

#51071 Docs: Remove unneeded block theme docs.
  docs/explanations/architecture/full-site-editing-templates.md
  docs/getting-started/README.md
  docs/getting-started/faq.md
  docs/getting-started/full-site-editing.md
  docs/how-to-guides/themes/README.md
  docs/how-to-guides/themes/block-theme-overview.md
  docs/how-to-guides/themes/create-block-theme.md
  docs/manifest.json
  docs/toc.json
Labels: [Type] Developer Documentation

#54302 Fix incorrect image src in Design Contributions doc
  docs/contributors/design/README.md
Labels: [Type] Developer Documentation

#51328 Fix createI18n package import location
  packages/react-i18n/README.md
Labels: [Type] Developer Documentation, First-time Contributor

#54299 Fix navigation block submenu focus when closing menu with the ESC key
  packages/block-library/src/navigation/index.php
Labels: [Type] Bug, [Block] Navigation

#54245 StartPageOptions: improve conditions to show modal only on a brand new page
  packages/edit-post/src/components/start-page-options/index.js
Labels: [Type] Bug, [Package] Block editor

#54050 Make matrix position behave like valign
  packages/block-library/src/cover/style.scss
Labels: [Type] Enhancement, Needs Design Feedback, [Block] Cover

#54257 Support controlling open/closed state for Dropdown and DropdownMenu
  packages/components/CHANGELOG.md
  packages/components/src/dropdown-menu/README.md
  packages/components/src/dropdown-menu/index.tsx
  packages/components/src/dropdown-menu/stories/index.story.tsx
  packages/components/src/dropdown-menu/types.ts
  packages/components/src/dropdown/README.md
  packages/components/src/dropdown/index.tsx
  packages/components/src/dropdown/stories/index.story.tsx
  packages/components/src/dropdown/types.ts
Labels: [Type] Enhancement, [Package] Components

#54312 Tooltip: render tooltip markup in the DOM only when open
  packages/block-editor/src/components/color-palette/test/__snapshots__/control.js.snap
  packages/block-editor/src/components/link-control/test/index.js
  packages/components/CHANGELOG.md
  packages/components/src/button/test/index.tsx
  packages/components/src/spinner/index.tsx
  packages/components/src/tab-panel/test/index.tsx
  packages/components/src/toggle-group-control/test/__snapshots__/index.tsx.snap
  packages/components/src/tooltip/index.tsx
  packages/components/src/tooltip/test/index.tsx
  packages/editor/src/components/post-publish-panel/test/__snapshots__/index.js.snap
Labels: [Type] Performance, [Package] Components

#54282 Add block gap to Post Content block.
  docs/reference-guides/core-blocks.md
  packages/block-library/src/post-content/block.json
Labels: [Type] Enhancement, [Feature] Design Tools, [Block] Post Content

#54333 Site Editor: Clarify the "Entity" message of the snackbar
  packages/edit-site/src/components/page-patterns/rename-menu-item.js
  packages/edit-site/src/components/template-actions/index.js
  packages/edit-site/src/components/template-actions/rename-menu-item.js
Labels: [Type] Accessibility (a11y), [Type] Copy, [Feature] Site Editor

#54316 IsolatedEventContainer to Typescript (just test file)
  packages/components/CHANGELOG.md
  packages/components/src/isolated-event-container/test/index.tsx
Labels: [Type] Code Quality, [Package] Components

#53980 with-focus-outside: Convert to TypeScript
  packages/components/CHANGELOG.md
  packages/components/src/combobox-control/index.tsx
  packages/components/src/higher-order/with-focus-outside/index.tsx
  packages/components/src/higher-order/with-focus-outside/test/index.tsx
  packages/compose/src/hooks/use-focus-outside/index.ts
Labels: [Type] Code Quality, [Package] Components

#54321 Toolbar/ToolbarDropdownMenu Typescript Conversion
  packages/components/CHANGELOG.md
  packages/components/src/toolbar/toolbar-dropdown-menu/index.tsx
  packages/components/src/ui/context/wordpress-component.ts
Labels: [Type] Code Quality, [Package] Components

#54292 Extract undo/redo as a separate package
  docs/manifest.json
  docs/reference-guides/data/data-core.md
  package-lock.json
  package.json
  packages/core-data/README.md
  packages/core-data/package.json
  packages/core-data/src/actions.js
  packages/core-data/src/private-selectors.ts
  packages/core-data/src/reducer.js
  packages/core-data/src/selectors.ts
  packages/core-data/src/test/reducer.js
  packages/core-data/src/test/selectors.js
  packages/core-data/tsconfig.json
  packages/dependency-extraction-webpack-plugin/lib/util.js
  packages/undo-manager/.npmrc
  packages/undo-manager/CHANGELOG.md
  packages/undo-manager/README.md
  packages/undo-manager/package.json
  packages/undo-manager/src/index.js
  packages/undo-manager/src/test/index.js
  packages/undo-manager/src/types.ts
  packages/undo-manager/tsconfig.json
  tools/webpack/packages.js
  tsconfig.json
Labels: Framework, [Type] New API

#54244 Adds animation state for DFM off to post editor header
  packages/edit-post/src/components/header/index.js
Labels: [Type] Bug, General Interface

#53908 Make order of pinned items consistent
  packages/e2e-tests/specs/editor/plugins/__snapshots__/plugins-api.test.js.snap
  packages/edit-post/src/components/layout/index.js
  packages/interface/src/components/complementary-area-toggle/index.js
  packages/interface/src/components/complementary-area/index.js
  packages/interface/src/components/pinned-items/style.scss
Labels: [Type] Bug

#54281 [RNMobile] Fix issue with missing characters in Add Media placeholder button
  packages/block-editor/src/components/media-placeholder/index.native.js
  packages/block-library/src/file/edit.native.js
  packages/block-library/src/gallery/edit.js
  packages/react-native-editor/CHANGELOG.md
Labels: [Type] Bug, Mobile App - i.e. Android or iOS, Mobile App - Automation

#54310 RichText: replace deprecated multiline prop with simple multiple instances
  docs/reference-guides/block-api/block-attributes.md
  packages/block-editor/CHANGELOG.md
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/components/rich-text/index.native.js
  packages/block-editor/src/components/rich-text/multiline.js
  packages/block-editor/src/components/rich-text/split-value.js
  packages/block-editor/src/components/rich-text/use-enter.js
  packages/block-editor/src/components/rich-text/use-paste-handler.js
  packages/block-editor/src/store/utils.js
  packages/block-library/src/pullquote/deprecated.js
  packages/editor/README.md
  packages/rich-text/README.md
  packages/rich-text/src/component/index.js
  packages/rich-text/src/component/index.native.js
  packages/rich-text/src/component/use-copy-handler.js
  packages/rich-text/src/component/use-delete.js
  packages/rich-text/src/create.js
  packages/rich-text/src/get-text-content.js
  packages/rich-text/src/index.ts
  packages/rich-text/src/insert-line-separator.js
  packages/rich-text/src/is-empty.js
  packages/rich-text/src/remove-line-separator.js
  packages/rich-text/src/special-characters.js
  packages/rich-text/src/split.js
  packages/rich-text/src/test/__snapshots__/to-dom.js.snap
  packages/rich-text/src/test/create.js
  packages/rich-text/src/test/helpers/index.js
  packages/rich-text/src/test/insert-line-separator.js
  packages/rich-text/src/test/is-empty.js
  packages/rich-text/src/test/split.js
  packages/rich-text/src/test/to-dom.js
  packages/rich-text/src/test/to-html-string.js
  packages/rich-text/src/to-dom.js
  packages/rich-text/src/to-html-string.js
  packages/rich-text/src/to-tree.js
  schemas/json/block.json
  test/e2e/specs/editor/various/rich-text-deprecated-multiline.spec.js
Labels: [Feature] Rich Text, [Type] Code Quality, [Package] Block editor, Needs Dev Note, Mobile App - Automation

#54329 Edit Widgets: Fix invisible action area when the top toolbar is enabled
  packages/block-editor/src/components/block-tools/block-contextual-toolbar.js
  packages/edit-widgets/src/components/header/style.scss
Labels: [Type] Bug, [Package] Edit Widgets

#54348 Fix: Remove unrequired code from BorderControl documentation.
  packages/components/src/border-control/border-control/README.md
Labels: [Type] Developer Documentation

#54343 Add manual SSR to the Interactivity API blocks
  packages/block-library/src/file/index.php
  packages/block-library/src/file/style.scss
  packages/block-library/src/file/view.js
  packages/block-library/src/navigation/index.php
Labels: [Type] Enhancement, [Block] File, [Block] Navigation, [Feature] Interactivity API

#54216 Add aspect ratio to image placeholder
  packages/block-library/src/image/edit.js
  packages/block-library/src/image/image.js
  packages/components/src/placeholder/index.tsx
  packages/components/src/placeholder/style.scss
Labels: [Type] Enhancement, [Block] Image

#53343 Search block: switch interactivity to the Interactivity API
  docs/reference-guides/core-blocks.md
  packages/block-library/src/search/block.json
  packages/block-library/src/search/index.php
  packages/block-library/src/search/view.js
Labels: [Type] Code Quality, [Block] Search, [Feature] Interactivity API

#54355 Remove accidental addition of perf test results
  packages/e2e-tests/specs/performance/site-editor.test.results.json
Labels: [Type] Code Quality

#54318 Use solid accent color selection in command palette
  packages/commands/src/components/style.scss
Labels: [Type] Accessibility (a11y), [Package] Commands

#54353 Mobile Release v1.103.2
  package-lock.json
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: [Type] Task, Mobile App - i.e. Android or iOS

#53783 Buttons Block: Show inserter if button have variations (#53498)
  packages/block-library/src/buttons/edit.js
Labels: [Type] Enhancement, [Block] Buttons

#46752 Iframe: skip scoping styles
  packages/block-editor/src/components/block-canvas/index.js
  packages/block-editor/src/components/block-list/content.scss
  packages/block-editor/src/components/editor-styles/index.js
  packages/block-library/src/reset.scss
  packages/edit-site/src/components/block-editor/style.scss
Labels: [Type] Plugin Interoperability, [Type] Performance, [Type] Code Quality, [Feature] Themes

#54338 Patterns: Remove experimental prefixes from patterns package
  packages/patterns/src/components/create-pattern-modal.js
  packages/patterns/src/components/patterns-manage-button.js
  packages/patterns/src/store/actions.js
  packages/patterns/src/store/selectors.js
Labels: [Type] Code Quality, [Feature] Patterns

#54263 Navigation Link: restore tooltip
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation-link/editor.scss
Labels: [Type] Bug, Needs Design Feedback, [Package] Block library, [Block] Navigation Link

#54324 Table block: Fix semantic structure for screen readers on back-end
  packages/block-library/src/table/edit.js
Labels: [Type] Accessibility (a11y), Needs Accessibility Feedback, [Block] Table

#54358 Change dialogdescription for renaming group block
  packages/block-editor/src/hooks/block-rename-ui.js
Labels: Needs Design Feedback, [Type] Copy, [Block] Group

#54284 PreviewOptions: Fix critical error when children not passed
  packages/block-editor/src/components/preview-options/README.md
  packages/block-editor/src/components/preview-options/index.js
Labels: [Type] Bug, [Package] Block editor

#54356 Extract WordPress specific styles from the BlockTools component
  packages/block-editor/src/components/block-tools/style.scss
  packages/edit-post/src/components/visual-editor/style.scss
  packages/edit-site/src/components/block-editor/style.scss
  packages/edit-widgets/src/components/widget-areas-block-editor-content/style.scss
  storybook/stories/playground/index.story.js
Labels: [Type] Enhancement

#54286 Popover: remove custom frame scroll/resize listeners
  package-lock.json
  packages/components/CHANGELOG.md
  packages/components/src/popover/index.tsx
  packages/components/src/popover/utils.ts
Labels: [Type] Code Quality, [Package] Components

#54242 Theme Previews: Make the back button customizable
  lib/compat/wordpress-6.4/theme-previews.php
  lib/load.php
  packages/edit-site/src/components/sidebar-navigation-screen/index.js
Labels: [Type] Enhancement, [Feature] Themes

#53314 Add children back to toolbar item render for rendered components
  packages/components/CHANGELOG.md
  packages/components/src/toolbar/toolbar-item/index.tsx
Labels: [Type] Regression, [Package] Components

#54372 Edit Widgets: Fix broken layout
  packages/edit-widgets/src/components/widget-areas-block-editor-content/index.js
  packages/edit-widgets/src/components/widget-areas-block-editor-content/style.scss
  packages/edit-widgets/src/components/widget-areas-block-editor-provider/index.js
Labels: [Type] Bug, [Package] Edit Widgets

#45831 Deprecated `get_file_path_from_theme` method.
  lib/class-wp-theme-json-resolver-gutenberg.php
Labels: Backport from WordPress Core

#54341 Background Image block support: Add reset menu item
  packages/block-editor/src/hooks/background.js
Labels: [Type] Enhancement, [Block] Group, [Feature] Design Tools

#51477 [Site Editor - Page Inspector]: Add ability to switch templates
  docs/reference-guides/data/data-core-edit-site.md
  packages/base-styles/_z-index.scss
  packages/core-data/src/hooks/use-entity-record.ts
  packages/edit-site/src/components/sidebar-edit-mode/page-panels/edit-template.js
  packages/edit-site/src/components/sidebar-edit-mode/page-panels/hooks.js
  packages/edit-site/src/components/sidebar-edit-mode/page-panels/index.js
  packages/edit-site/src/components/sidebar-edit-mode/page-panels/page-summary.js
  packages/edit-site/src/components/sidebar-edit-mode/page-panels/reset-default-template.js
  packages/edit-site/src/components/sidebar-edit-mode/page-panels/style.scss
  packages/edit-site/src/components/sidebar-edit-mode/page-panels/swap-template-button.js
  packages/edit-site/src/store/actions.js
  test/e2e/specs/site-editor/pages.spec.js
  test/emptytheme/templates/custom-template.html
  test/emptytheme/theme.json
Labels: [Type] Enhancement, [Feature] Site Editor

#54359 Remove `wp_store` from query block
  packages/block-library/src/query/index.php
  packages/block-library/src/query/view.js
Labels: [Type] Experimental, [Block] Query Loop, [Feature] Interactivity API

#53998 Tweak border control button to proper metrics and simpler action
  packages/components/CHANGELOG.md
  packages/components/src/border-control/border-control-dropdown/component.tsx
  packages/components/src/border-control/styles.ts
  packages/components/src/border-control/test/index.js
Labels: [Type] Enhancement, [Package] Components

#54260 Button: Update test assertion to match test name
  packages/components/src/button/test/index.tsx
Labels: [Type] Automated Testing, [Package] Components

#49201 refactor(blob): type url parameter as optional
  packages/blob/README.md
  packages/blob/src/index.js
Labels: [Package] Blob, First-time Contributor

#54313 Ensure font-face styles are printed in iframe editors.
  lib/compat/wordpress-6.4/fonts/fonts.php
  lib/load.php
Labels: [Type] Bug, Gutenberg Plugin

#54161 Indicate nested paths on __experimentalSaveSpecifiedEntityEdits
  packages/core-data/src/actions.js
  packages/core-data/src/utils/get-nested-value.js
  packages/core-data/src/utils/index.js
  packages/core-data/src/utils/set-nested-value.js
  packages/core-data/src/utils/test/get-nested-value.js
  packages/core-data/src/utils/test/set-nested-value.js
Labels: [Type] Enhancement, [Package] Core data

#54371 Try using fallback layout instead of default in post editor
  packages/edit-post/src/components/visual-editor/index.js
Labels: [Type] Bug, [Package] Edit Post, [Feature] Layout

#54373 Don't output root padding when editing patterns.
  packages/block-editor/src/components/global-styles/use-global-styles-output.js
Labels: [Type] Bug, [Feature] Patterns, [Feature] Layout

#54404 Export ProgressBar to allow it to be used
  packages/components/CHANGELOG.md
  packages/components/src/index.ts
Labels: [Type] Enhancement

#53976 Components: FormTokenField - add prop to allow saving of tokens onBlur
  packages/components/CHANGELOG.md
  packages/components/src/form-token-field/README.md
  packages/components/src/form-token-field/index.tsx
  packages/components/src/form-token-field/test/index.tsx
  packages/components/src/form-token-field/types.ts
  packages/patterns/src/components/category-selector.js
Labels: [Type] Enhancement, [Package] Components

#54259 Mobile - RichText - Update logic for the placeholder text color
  packages/block-editor/src/components/default-block-appender/index.native.js
  packages/react-native-editor/CHANGELOG.md
  packages/rich-text/src/component/index.native.js
Labels: [Type] Enhancement, Mobile App - i.e. Android or iOS

#54347 Query Loop: Allow "enhanced pagination" only with core blocks
  packages/block-library/src/query/edit/enhanced-pagination-modal.js
  packages/block-library/src/query/edit/inspector-controls/enhanced-pagination-control.js
  packages/block-library/src/query/edit/inspector-controls/index.js
  packages/block-library/src/query/edit/query-content.js
  packages/block-library/src/query/editor.scss
  packages/block-library/src/query/utils.js
Labels: [Type] Enhancement, Needs Design Feedback, [Block] Query Loop, [Feature] Interactivity API
