Repository WordPress/gutenberg, pull requests merged in 2023-05, with the labels that each got.

#50185 Enqueue the registered assets
  lib/compat/wordpress-6.2/default-filters.php
Labels: [Type] Code Quality

#50209 Cover: Re-instate overflow:hidden rule to fix issue with border radius
  packages/block-library/src/cover/style.scss
Labels: [Type] Regression, [Block] Cover, Backport to Gutenberg RC

#50138 Command Center: Fix a style glitch on Safari
  packages/commands/src/components/style.scss
Labels: [Type] Bug, Browser Issues

#50212 Rich text: rename index.js > index.ts for type-only exports
  packages/rich-text/src/index.ts
Labels: [Type] Build Tooling

#49965 Components: Update `Autocomplete` usage example
  packages/components/CHANGELOG.md
  packages/components/src/autocomplete/README.md
Labels: [Package] Components

#50215 Fix issue with margin collapsing when selecting blocks
  packages/block-editor/src/components/block-list/content.scss
Labels: [Type] Bug, [Feature] Block Multi Selection, [Type] Regression

#50213 Fix command menu not re-opening after closing it
  packages/commands/src/components/command-menu.js
Labels: [Type] Bug, General Interface

#50217 Improve "switch to draft" placement
  packages/edit-post/src/components/sidebar/post-status/index.js
  packages/edit-post/src/components/sidebar/post-trash/index.js
  packages/editor/src/components/post-saved-state/index.js
  packages/editor/src/components/post-saved-state/test/__snapshots__/index.js.snap
  packages/editor/src/components/post-saved-state/test/index.js
  packages/editor/src/components/post-switch-to-draft-button/index.js
  packages/editor/src/components/post-trash/style.scss
  test/e2e/specs/editor/various/switch-to-draft.spec.js
Labels: [Status] In Progress, [Package] Edit Post

#50115 Cover: Only show overlay controls when color support enabled
  packages/block-editor/src/components/colors-gradients/use-multiple-origin-colors-and-gradients.js
  packages/block-library/src/cover/edit/inspector-controls.js
  packages/block-library/src/cover/test/edit.js
Labels: [Type] Enhancement, [Block] Cover, [Feature] Colors

#50196 Add `wp-env` After Setup Command
  packages/env/CHANGELOG.md
  packages/env/README.md
  packages/env/lib/cache.js
  packages/env/lib/cli.js
  packages/env/lib/commands/clean.js
  packages/env/lib/commands/destroy.js
  packages/env/lib/commands/index.js
  packages/env/lib/commands/install-path.js
  packages/env/lib/commands/logs.js
  packages/env/lib/commands/run.js
  packages/env/lib/commands/start.js
  packages/env/lib/commands/stop.js
  packages/env/lib/config/add-or-replace-port.js
  packages/env/lib/config/db-env.js
  packages/env/lib/config/get-config-from-environment-vars.js
  packages/env/lib/config/index.js
  packages/env/lib/config/load-config.js
  packages/env/lib/config/parse-config.js
  packages/env/lib/config/post-process-config.js
  packages/env/lib/config/test/__snapshots__/config-integration.js.snap
  packages/env/lib/config/test/add-or-replace-port.js
  packages/env/lib/config/test/config-integration.js
  packages/env/lib/config/test/parse-config.js
  packages/env/lib/config/test/parse-source-string.js
  packages/env/lib/config/test/post-process-config.js
  packages/env/lib/config/test/read-raw-config-file.js
  packages/env/lib/config/test/validate-config.js
  packages/env/lib/config/validate-config.js
  packages/env/lib/env.js
  packages/env/lib/execute-after-setup.js
  packages/env/lib/get-host-user.js
  packages/env/lib/init-config.js
  packages/env/lib/md5.js
  packages/env/lib/parse-xdebug-mode.js
  packages/env/lib/retry.js
  packages/env/lib/test/__snapshots__/md5.js.snap
  packages/env/lib/test/build-docker-compose-config.js
  packages/env/lib/test/cache.js
  packages/env/lib/test/cli.js
  packages/env/lib/test/execute-after-setup.js
  packages/env/lib/test/md5.js
  packages/env/lib/test/parse-xdebug-mode.js
  packages/env/lib/wordpress.js
Labels: [Package] Env, [Type] Feature

#49742 List View: Allow dragging to all levels of the block hierarchy
  packages/block-editor/src/components/list-view/style.scss
  packages/block-editor/src/components/list-view/test/use-list-view-drop-zone.js
  packages/block-editor/src/components/list-view/use-list-view-drop-zone.js
Labels: [Type] Enhancement, [Feature] Drag and Drop, [Feature] List View

#50085 Migrate PullQuote test case to playwright
  packages/e2e-tests/specs/editor/blocks/pullquote.test.js
  test/e2e/specs/editor/blocks/pullquote.spec.js
Labels: Automated Testing

#50234 Global styles revisions: remove human time diff and custom author fields from the API response
  lib/experimental/class-gutenberg-rest-global-styles-revisions-controller.php
  phpunit/class-gutenberg-rest-global-styles-revisions-controller-test.php
Labels: [Type] Enhancement, Global Styles

#50198 BlockControls, InspectorControls: remove useSlot, unify behavior on bad group
  packages/block-editor/src/components/block-controls/slot.js
  packages/block-editor/src/components/block-controls/slot.native.js
  packages/block-editor/src/components/inspector-controls/fill.js
  packages/block-editor/src/components/inspector-controls/fill.native.js
  packages/block-editor/src/components/inspector-controls/slot.js
  packages/block-editor/src/components/inspector-controls/slot.native.js
Labels: [Type] Code Quality, [Package] Block editor

#49500 Fix template part area variation matching
  packages/block-library/src/template-part/index.php
Labels: [Type] Regression, [Block] Template Part

#50127 Fix incorrect focus style widths
  packages/base-styles/_mixins.scss
  packages/base-styles/_variables.scss
  packages/block-directory/src/components/downloadable-block-list-item/style.scss
  packages/block-editor/src/components/block-breadcrumb/style.scss
  packages/block-editor/src/components/block-pattern-setup/style.scss
  packages/block-editor/src/components/block-patterns-list/style.scss
  packages/components/CHANGELOG.md
  packages/components/src/checkbox-control/style.scss
  packages/components/src/custom-gradient-picker/style.scss
  packages/components/src/form-toggle/style.scss
  packages/edit-post/src/components/start-page-options/style.scss
  packages/edit-site/src/components/start-template-options/style.scss
  packages/editor/src/components/post-taxonomies/style.scss
Labels: [Feature] UI Components, [Type] Code Quality, CSS Styling

#50218 Display device icon on "preview" and "view" buttons
  packages/block-editor/src/components/preview-options/index.js
Labels: [Package] Edit Post

#50099 Remove `start blank` option in template pattern suggestions and add `skip` button
  packages/base-styles/_z-index.scss
  packages/components/CHANGELOG.md
  packages/components/src/modal/index.tsx
  packages/edit-post/src/components/keyboard-shortcut-help-modal/test/__snapshots__/index.js.snap
  packages/edit-post/src/components/preferences-modal/test/__snapshots__/index.js.snap
  packages/edit-site/src/components/start-template-options/index.js
  packages/edit-site/src/components/start-template-options/style.scss
Labels: [Type] Enhancement, [Feature] Template Editing Mode

#50133 SlotFill: some code cleanups of the bubblesVirtually version
  packages/components/CHANGELOG.md
  packages/components/src/slot-fill/bubbles-virtually/fill.js
  packages/components/src/slot-fill/bubbles-virtually/slot-fill-provider.js
  packages/components/src/slot-fill/bubbles-virtually/use-slot.js
Labels: [Type] Code Quality, [Package] Components

#49190 Refactor/toolbar item component to typescript
  packages/components/CHANGELOG.md
  packages/components/src/toolbar/stories/index.tsx
  packages/components/src/toolbar/toolbar-button/index.tsx
  packages/components/src/toolbar/toolbar-item/index.tsx
Labels: [Type] Code Quality, [Package] Components, First-time Contributor

#50208 Changelog automation: apply proper top-level categorization precedence to meta PRs
  bin/plugin/commands/changelog.js
  bin/plugin/commands/test/__snapshots__/changelog.js.snap
  bin/plugin/commands/test/changelog.js
Labels: [Type] Build Tooling

#50201 Fix incorrect label in contributor docs.
  docs/contributors/documentation/README.md
Labels: [Type] Developer Documentation

#50247 Add changelog for eslint-plugin validating dependencies in `useSelect` and `useSuspenseSelect` hooks
  packages/eslint-plugin/CHANGELOG.md
Labels: [Type] Developer Documentation

#50202 Fix minor formatting issues in Performance doc.
  docs/explanations/architecture/performance.md
Labels: [Type] Developer Documentation

#50225 [Fonts API] Remove global from wp_print_fonts()
  lib/experimental/fonts-api/fonts-api.php
  phpunit/fonts-api/wpPrintFonts-test.php
Labels: [Type] Enhancement, [Type] Code Quality, [Feature] Fonts API

#50228 Center align button text in editor
  packages/block-library/src/search/editor.scss
Labels: [Type] Bug, [Type] Enhancement, [Block] Search

#50237 Cover: Use overflow: clip, falling back to overflow: hidden to allow sticky children (technically)
  packages/block-library/src/cover/style.scss
Labels: [Type] Bug, [Block] Cover

#50264 Remove fill="none" from levelUp icon
  packages/icons/src/library/level-up.js
Labels: [Package] Icons

#50270 Global styles revisions: ensure the revisions endpoint permissions match the global styles controller
  lib/experimental/class-gutenberg-rest-global-styles-revisions-controller.php
  phpunit/class-gutenberg-rest-global-styles-revisions-controller-test.php
Labels: [Type] Code Quality, Global Styles

#50268 Layout: Fix issue where saving user global styles included layout definitions in layout settings
  packages/edit-site/src/components/global-styles/dimensions-panel.js
Labels: [Type] Regression, Global Styles, Backport to Gutenberg RC, [Feature] Layout

#50274 Edit Post: Don't export Slot/Fill constants separately
  packages/edit-post/src/components/sidebar/plugin-document-setting-panel/index.js
  packages/edit-post/src/components/sidebar/plugin-post-status-info/index.js
Labels: [Type] Code Quality, [Package] Edit Post

#50164 [Mobile] - Adds useEditorWrapperStyles hook (#49616)
  packages/block-editor/src/hooks/test/use-editor-wrapper-styles.native.js
  packages/block-editor/src/hooks/use-editor-wrapper-styles.native.js
  packages/block-editor/src/hooks/use-editor-wrapper-styles.native.scss
Labels: Mobile App - i.e. Android or iOS

#50257 Introduce new PluginTemplateSettingPanel slot
  packages/edit-site/src/components/plugin-template-setting-panel/index.js
  packages/edit-site/src/components/sidebar-edit-mode/index.js
  packages/edit-site/src/components/sidebar-edit-mode/template-card/index.js
  packages/edit-site/src/components/sidebar-edit-mode/template-revisions/index.js
  packages/edit-site/src/index.js
Labels: [Feature] Extensibility, [Feature] Site Editor

#50104 Add missing tooltip to Site Editor navigation Back icon button
  packages/edit-site/src/components/sidebar-navigation-screen/index.js
Labels: [Type] Bug, Accessibility (a11y), [a11y] Labelling, [Package] Edit Site

#49614 Small improvements for the sidebars and Close buttons labelling
  docs/explanations/faq.md
  packages/e2e-test-utils-playwright/src/editor/open-document-settings-sidebar.ts
  packages/e2e-test-utils-playwright/src/editor/site-editor.ts
  packages/e2e-tests/plugins/plugins-api/annotations-sidebar.js
  packages/e2e-tests/plugins/plugins-api/sidebar.js
  packages/e2e-tests/specs/editor/plugins/__snapshots__/plugins-api.test.js.snap
  packages/e2e-tests/specs/editor/plugins/annotations.test.js
  packages/e2e-tests/specs/editor/plugins/plugins-api.test.js
  packages/e2e-tests/specs/editor/various/preferences.test.js
  packages/e2e-tests/specs/site-editor/multi-entity-saving.test.js
  packages/edit-post/src/components/keyboard-shortcuts/index.js
  packages/edit-post/src/components/sidebar/settings-sidebar/index.js
  packages/edit-site/src/components/keyboard-shortcuts/register.js
  packages/edit-site/src/components/layout/index.js
  packages/edit-site/src/components/save-panel/index.js
  packages/edit-site/src/components/secondary-sidebar/list-view-sidebar.js
  packages/edit-site/src/components/sidebar-edit-mode/global-styles-sidebar.js
  packages/edit-site/src/components/sidebar-edit-mode/index.js
  packages/edit-site/src/components/site-hub/index.js
  packages/edit-widgets/src/components/secondary-sidebar/list-view-sidebar.js
  packages/edit-widgets/src/components/sidebar/index.js
  test/e2e/specs/site-editor/title.spec.js
Labels: Accessibility (a11y), [a11y] Labelling

#50143 Update some visual details in the add-template modal(s)
  packages/edit-site/src/components/add-new-template/add-custom-template-modal.js
  packages/edit-site/src/components/add-new-template/style.scss
Labels: Needs Design Feedback

#50276 Remove custom padding for tertiary buttons
  packages/components/CHANGELOG.md
  packages/components/src/button/style.scss
Labels: [Package] Components, Needs Figma Update

#50286 Use alert callout in the block deprecation docs
  docs/reference-guides/block-api/block-deprecation.md
Labels: [Type] Developer Documentation

#50285 Lodash: Refactor away from `_.mapValues()`
  .eslintrc.js
  bin/plugin/commands/performance.js
  packages/blocks/src/api/parser/get-block-attributes.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Blocks

#50253 Add missing closing parenthesis in code example
  packages/api-fetch/README.md
Labels: [Type] Developer Documentation, [Package] API fetch

#50289 Add ndiego as codeowner for docs.
  .github/CODEOWNERS
Labels: [Type] Project Management

#50252 test: Add BlockList coverage
  packages/block-editor/src/components/block-list/block-list-item.native.js
  packages/block-editor/src/components/block-list/index.native.js
  packages/block-editor/src/components/block-list/insertion-point.native.js
  packages/block-editor/src/components/block-list/test/index.native.js
  packages/block-library/src/index.native.js
  test/native/__mocks__/styleMock.js
Labels: [Feature] Blocks, Automated Testing, [Feature] Nested / Inner Blocks, Mobile App - i.e. Android or iOS, [Block] Archives, Mobile App - Automation

#50186 Remove extraneous "Link" copy from PanelBody components
  packages/block-library/src/comment-author-name/edit.js
  packages/block-library/src/comment-edit-link/edit.js
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation-submenu/edit.js
  packages/block-library/src/post-author-name/edit.js
  packages/block-library/src/post-title/edit.js
  packages/block-library/src/read-more/edit.js
  packages/block-library/src/site-title/edit/index.js
  packages/block-library/src/social-links/edit.js
  test/e2e/specs/editor/blocks/navigation.spec.js
Labels: [Type] Enhancement

#50284 Save Button: Fix the label in the disabled state
  packages/e2e-test-utils-playwright/src/editor/site-editor.ts
  packages/edit-site/src/components/save-button/index.js
Labels: [Type] Bug, [Feature] Site Editor

#50077 [Fonts API] Separate BC Layer
  lib/experimental/fonts-api/bc-layer/class-gutenberg-fonts-api-bc-layer.php
  lib/experimental/fonts-api/bc-layer/class-wp-web-fonts.php
  lib/experimental/fonts-api/bc-layer/class-wp-webfonts-provider-local.php
  lib/experimental/fonts-api/bc-layer/class-wp-webfonts-provider.php
  lib/experimental/fonts-api/bc-layer/class-wp-webfonts-utils.php
  lib/experimental/fonts-api/bc-layer/class-wp-webfonts.php
  lib/experimental/fonts-api/bc-layer/webfonts-deprecations.php
  lib/experimental/fonts-api/class-wp-fonts.php
  lib/experimental/fonts-api/fonts-api.php
  lib/load.php
  phpunit/fonts-api/bc-layer/bc-layer-tests-dataset.php
  phpunit/fonts-api/bc-layer/fonts-bc-layer-testcase.php
  phpunit/fonts-api/bc-layer/gutenbergFontsApiBcLayer/isDeprecatedStructure-test.php
  phpunit/fonts-api/bc-layer/gutenbergFontsApiBcLayer/migrateDeprecatedStructure-test.php
  phpunit/fonts-api/bc-layer/wpRegisterWebfonts-test.php
  phpunit/fonts-api/bc-layer/wpWebfonts/getAllWebfonts-test.php
  phpunit/fonts-api/bc-layer/wpWebfonts/getFontSlug-test.php
  phpunit/fonts-api/bc-layer/wpWebfonts/getRegisteredWebfonts-test.php
  phpunit/fonts-api/bc-layer/wpWebfonts/registerWebfont-test.php
  phpunit/fonts-api/wpRegisterFonts-test.php
Labels: [Type] Enhancement, [Feature] Fonts API

#49975 Global Styles: Fix palette color popovers
  packages/components/CHANGELOG.md
  packages/components/src/palette-edit/index.tsx
  packages/components/src/palette-edit/stories/index.tsx
  packages/components/src/palette-edit/types.ts
  packages/edit-site/src/components/global-styles/color-palette-panel.js
Labels: [Feature] UI Components, [Package] Components, Global Styles, [Feature] Colors

#50233 Global Styles: Fix positioning of gradient palette popovers on mobile
  packages/edit-site/src/components/global-styles/gradients-palette-panel.js
Labels: [Package] Edit Site

#49673 Allow dragging-and-dropping images from the inserter to image blocks
  packages/block-editor/CHANGELOG.md
  packages/block-editor/src/components/block-draggable/index.js
  packages/block-editor/src/components/inserter-draggable-blocks/index.js
  packages/block-editor/src/components/media-placeholder/index.js
  packages/block-library/src/gallery/editor.scss
  packages/components/CHANGELOG.md
  packages/components/src/draggable/index.tsx
  test/e2e/specs/editor/blocks/image.spec.js
Labels: [Feature] Inserter, [Feature] Media, [Feature] Drag and Drop, [Block] Image, [Block] Gallery

#50275 Social Icons: Hide color controls when color support is disabled
  packages/block-library/src/social-links/edit.js
Labels: [Type] Enhancement, [Block] Social, [Feature] Colors

#48917 LineHeightControl: Fix application of zero values in editor
  packages/block-editor/src/components/global-styles/typography-panel.js
  packages/block-editor/src/components/line-height-control/index.js
  packages/block-editor/src/components/line-height-control/stories/index.js
Labels: [Type] Bug, [Feature] Design Tools, [Feature] Typography

#50206 create-block script includes link to documentation in render.php file
  packages/create-block-tutorial-template/block-templates/render.php.mustache
  packages/create-block/lib/templates/block/render.php.mustache
  packages/create-block/lib/templates/es5/render.php.mustache
Labels: [Type] Developer Documentation, First-time Contributor

#50292 Don't remount the block when the 'templateLock' is set to 'contentOnly'
  packages/block-editor/src/hooks/content-lock-ui.js
Labels: [Type] Bug, [Feature] Nested / Inner Blocks, [Feature] Block Locking

#50279 Comment Template Block: Set `commentId` context via filter
  packages/block-library/src/comment-template/index.php
Labels: [Block] Comment Template

#28530 Update image editor to use new REST API
  packages/block-editor/src/components/image-editor/use-save-image.js
Labels: REST API Interaction, [Block] Image

#50032 Use Core Data for Nav fallbacks and side load resulting entity into state
  docs/reference-guides/data/data-core.md
  lib/experimental/navigation-fallback.php
  lib/load.php
  packages/block-library/src/navigation/edit/index.js
  packages/core-data/README.md
  packages/core-data/src/actions.js
  packages/core-data/src/reducer.js
  packages/core-data/src/resolvers.js
  packages/core-data/src/selectors.ts
Labels: [Block] Navigation

#50261 FormTokenField, ComboboxControl: Add opt-in prop for next 40px default size
  packages/components/CHANGELOG.md
  packages/components/src/combobox-control/index.tsx
  packages/components/src/combobox-control/stories/index.tsx
  packages/components/src/combobox-control/styles.ts
  packages/components/src/combobox-control/types.ts
  packages/components/src/form-token-field/index.tsx
  packages/components/src/form-token-field/styles.ts
  packages/components/src/form-token-field/types.ts
  packages/components/src/utils/use-deprecated-props.ts
Labels: [Package] Components

#49765 [Mobile] - Refactor BlockListItem
  packages/block-editor/src/components/block-list/block-list-item.native.js
Labels: Mobile App - i.e. Android or iOS

#49509 Refactor around missing dependency in Link Control internal value sync effect
  packages/block-editor/src/components/link-control/test/index.js
  packages/block-editor/src/components/link-control/use-internal-input-value.js
Labels: [Type] Code Quality, [Feature] Link Editing

#50318 Ensure imported Classic Menu dirty state to include in Editor entity changes list
  packages/block-library/src/navigation/edit/use-convert-classic-menu-to-block-menu.js
Labels: [Type] Regression, [Block] Navigation

#49160 Enable Loginout block in Nav block
  docs/reference-guides/core-blocks.md
  packages/block-library/src/loginout/block.json
  packages/block-library/src/navigation/edit/inner-blocks.js
  packages/block-library/src/navigation/edit/unsaved-inner-blocks.js
Labels: [Block] Navigation, [Block] Login/out

#50207 Remove gutenberg plugin mention in schema
  schemas/json/theme.json
Labels: [Type] Bug

#50328 Move deprecated Nav block functions to bottom of render file
  packages/block-library/src/navigation/index.php
Labels: [Type] Code Quality, [Block] Navigation

#50312 [Post Title]: Insert default block on Enter at end
  packages/block-library/src/post-title/edit.js
Labels: [Type] Bug, [Block] Post Title

#50329 Display conditionally the `styles` in sidebar main navigation screen
  packages/edit-site/src/components/sidebar-navigation-screen-main/index.js
Labels: [Type] Bug, [Feature] Site Editor

#50331 Post Featured Image: Hide overlay controls when color support is disabled
  packages/block-library/src/post-featured-image/overlay.js
Labels: [Type] Enhancement, [Block] Post Featured Image, [Feature] Colors

#50226 Components: Consolidate and add docs to Storybook
  packages/components/CHANGELOG.md
  packages/components/CONTRIBUTING.md
  packages/components/README.md
  packages/components/src/CONTRIBUTING.md
  packages/components/src/README.md
  storybook/main.js
  storybook/stories/docs/components/contributing.story.mdx
  storybook/stories/docs/components/readme.story.mdx
  storybook/stories/docs/introduction.story.mdx
Labels: [Package] Components, Storybook

#50216 [RNMobile] Extend non-cached endpoints on Android
  packages/react-native-editor/src/api-fetch-setup.js
  packages/react-native-editor/src/test/api-fetch-setup.test.js
Labels: Mobile App - i.e. Android or iOS, [Package] API fetch

#48970 Remove white background on Site Editor 'Frame'
  packages/edit-site/src/components/block-editor/style.scss
  packages/edit-site/src/components/layout/style.scss
Labels: [Feature] Site Editor

#50277 Update has-text has-icon button spacing
  packages/components/CHANGELOG.md
  packages/components/src/button/style.scss
Labels: [Package] Components, Needs Figma Update

#50355 Simplify cover block description
  docs/reference-guides/core-blocks.md
  packages/block-library/src/cover/block.json
  packages/block-library/src/cover/variations.js
Labels: [Type] Enhancement, [Block] Cover

#43998 Prerelease E2E Test Utils for Playwright
  docs/manifest.json
  packages/e2e-test-utils-playwright/CHANGELOG.md
  packages/e2e-test-utils-playwright/README.md
  packages/e2e-test-utils-playwright/package.json
Labels: Automated Testing, npm Packages

#50360 Update the tested up to version for the gutenberg plugin
  readme.txt
Labels: [Type] Task, Gutenberg Plugin

#50283 Polish confirm dialog padding.
  packages/components/CHANGELOG.md
  packages/components/src/modal/style.scss
Labels: [Type] Enhancement, CSS Styling

#49428 Unify the global block styles panel with the block inspector panels
  packages/edit-site/src/components/global-styles/block-preview-panel.js
  packages/edit-site/src/components/global-styles/border-panel.js
  packages/edit-site/src/components/global-styles/context-menu.js
  packages/edit-site/src/components/global-styles/custom-css.js
  packages/edit-site/src/components/global-styles/dimensions-panel.js
  packages/edit-site/src/components/global-styles/effects-panel.js
  packages/edit-site/src/components/global-styles/filters-panel.js
  packages/edit-site/src/components/global-styles/root-menu.js
  packages/edit-site/src/components/global-styles/screen-block-list.js
  packages/edit-site/src/components/global-styles/screen-block.js
  packages/edit-site/src/components/global-styles/screen-border.js
  packages/edit-site/src/components/global-styles/screen-colors.js
  packages/edit-site/src/components/global-styles/screen-css.js
  packages/edit-site/src/components/global-styles/screen-effects.js
  packages/edit-site/src/components/global-styles/screen-filters.js
  packages/edit-site/src/components/global-styles/screen-layout.js
  packages/edit-site/src/components/global-styles/screen-root.js
  packages/edit-site/src/components/global-styles/screen-typography-element.js
  packages/edit-site/src/components/global-styles/screen-typography.js
  packages/edit-site/src/components/global-styles/screen-variations.js
  packages/edit-site/src/components/global-styles/typography-panel.js
  packages/edit-site/src/components/global-styles/ui.js
  packages/edit-site/src/components/global-styles/variations-panel.js
  test/e2e/specs/site-editor/push-to-global-styles.spec.js
  test/e2e/specs/site-editor/style-book.spec.js
Labels: [Type] Enhancement, Global Styles

#50191 Centralize constants for the navigation block.
  packages/block-library/src/navigation/constants.js
  packages/block-library/src/navigation/edit/inner-blocks.js
  packages/block-library/src/navigation/edit/unsaved-inner-blocks.js
Labels: [Type] Code Quality, [Block] Navigation

#50364 Plugin: Ensure that view scripts are correctly registered for core blocks
  lib/blocks.php
Labels: [Type] Bug, Gutenberg Plugin

#49994 Add Interactivity API runtime
  lib/client-assets.php
  lib/experimental/interactivity-api/script-loader.php
  lib/load.php
  package-lock.json
  packages/block-library/package.json
  packages/block-library/src/utils/interactivity/constants.js
  packages/block-library/src/utils/interactivity/directives.js
  packages/block-library/src/utils/interactivity/hooks.js
  packages/block-library/src/utils/interactivity/hydration.js
  packages/block-library/src/utils/interactivity/index.js
  packages/block-library/src/utils/interactivity/store.js
  packages/block-library/src/utils/interactivity/utils.js
  packages/block-library/src/utils/interactivity/vdom.js
  tools/webpack/blocks.js
  webpack.config.js
Labels: [Package] Block library, [Feature] Interactivity API

#50193 Components: Update default accent color
  bin/packages/build-worker.js
  packages/components/CHANGELOG.md
  packages/components/src/button/style.scss
  packages/components/src/style.scss
  packages/components/src/theme/color-algorithms.ts
  packages/components/src/theme/stories/index.tsx
  packages/components/src/theme/test/color-algorithms.ts
  packages/components/src/toggle-group-control/test/__snapshots__/index.tsx.snap
  packages/components/src/utils/colors-values.js
  packages/components/src/utils/theme-variables.scss
  packages/edit-post/src/components/preferences-modal/test/__snapshots__/index.js.snap
  packages/editor/src/components/post-publish-panel/test/__snapshots__/index.js.snap
  storybook/decorators/with-theme.js
  storybook/preview.js
  storybook/style.scss
Labels: [Package] Components

#50368 Navigation: Hide color controls when color support is disabled
  packages/block-library/src/navigation/edit/index.js
Labels: [Type] Enhancement, [Block] Navigation, [Feature] Colors

#50113 File Block: Defer hiding PDF embeds for unsupported browsers until the page has loaded
  packages/block-library/src/file/view.js
Labels: [Type] Bug, [Block] File, Good First Review

#50381 [RNMobile] Wait for delayed block insertion in the add block test helper
  test/native/integration-test-helpers/add-block.js
Labels: Mobile App - i.e. Android or iOS

#50382 [RNMobile] Add Picker test helper
  packages/block-library/src/gallery/test/index.native.js
  test/native/__mocks__/styleMock.js
  test/native/integration-test-helpers/README.md
  test/native/integration-test-helpers/index.js
  test/native/integration-test-helpers/setup-picker.js
  test/native/setup.js
Labels: Mobile App - i.e. Android or iOS

#50344 Fix Multiple Tooltips from Focus Toolbar Shortcut on Widget Editor
  packages/block-editor/src/components/block-tools/selected-block-popover.js
  packages/block-editor/src/utils/use-should-contextual-toolbar-show.js
  packages/edit-post/src/components/header/header-toolbar/index.js
  packages/edit-widgets/src/components/header/index.js
Labels: [a11y] Keyboard & Focus

#50296 Site Editor Keyboard Navigation Flow
  packages/edit-site/src/components/block-editor/editor-canvas.js
  packages/edit-site/src/components/block-editor/style.scss
  packages/edit-site/src/components/site-hub/index.js
Labels: [a11y] Keyboard & Focus

#50411 wp-env fix exec command in CI
  packages/env/lib/commands/run.js
  phpunit/class-override-script-test.php
Labels: [Type] Bug, [Package] Env, GitHub Actions

#50269 Post Featured Image: New design for Replace and Remove buttons
  packages/editor/src/components/post-featured-image/index.js
  packages/editor/src/components/post-featured-image/style.scss
Labels: [Type] Enhancement, [Feature] Document Settings, Needs Design Feedback

#49815 Fluid typography: use layout.wideSize as max viewport width
  lib/block-supports/typography.php
  packages/block-editor/README.md
  packages/block-editor/src/hooks/test/use-typography-props.js
  packages/block-editor/src/hooks/use-typography-props.js
  packages/block-library/src/search/edit.js
  phpunit/block-supports/typography-test.php
  phpunit/data/themedir1/block-theme-child-with-fluid-typography-config/theme.json
  schemas/json/theme.json
Labels: [Type] Enhancement, Global Styles, [Feature] Typography

#50089 Global styles: add revisions UI
  docs/reference-guides/data/data-core.md
  package-lock.json
  packages/block-editor/src/components/global-styles/color-panel.js
  packages/block-editor/src/components/global-styles/index.js
  packages/block-editor/src/components/global-styles/test/utils.js
  packages/block-editor/src/components/global-styles/use-global-styles-output.js
  packages/block-editor/src/components/global-styles/utils.js
  packages/core-data/README.md
  packages/core-data/src/actions.js
  packages/core-data/src/reducer.js
  packages/core-data/src/resolvers.js
  packages/core-data/src/selectors.ts
  packages/date/README.md
  packages/date/src/index.js
  packages/date/src/test/index.js
  packages/e2e-test-utils-playwright/src/request-utils/index.ts
  packages/e2e-test-utils-playwright/src/request-utils/themes.ts
  packages/edit-site/package.json
  packages/edit-site/src/components/editor-canvas-container/index.js
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/global-styles/screen-revisions/index.js
  packages/edit-site/src/components/global-styles/screen-revisions/revisions-buttons.js
  packages/edit-site/src/components/global-styles/screen-revisions/style.scss
  packages/edit-site/src/components/global-styles/screen-revisions/test/use-global-styles-revisions.js
  packages/edit-site/src/components/global-styles/screen-revisions/use-global-styles-revisions.js
  packages/edit-site/src/components/global-styles/style-variations-container.js
  packages/edit-site/src/components/global-styles/ui.js
  packages/edit-site/src/components/revisions/index.js
  packages/edit-site/src/components/sidebar-edit-mode/sidebar-fixed-bottom.js
  packages/edit-site/src/components/sidebar-edit-mode/style.scss
  packages/edit-site/src/style.scss
  test/e2e/specs/editor/blocks/buttons.spec.js
  test/e2e/specs/editor/various/keep-styles-on-block-transforms.spec.js
  test/e2e/specs/site-editor/push-to-global-styles.spec.js
  test/e2e/specs/site-editor/style-variations.spec.js
  test/e2e/specs/site-editor/user-global-styles-revisions.spec.js
Labels: [Type] Feature, Global Styles

#50356 Multi-select: capitalise B in blocks
  packages/block-editor/src/components/multi-selection-inspector/index.js
Labels: [Type] Enhancement, [Type] Copy

#50361 Update background color of post editor when viewing mobile or tablet viewports, or in template mode
  packages/edit-post/src/components/visual-editor/style.scss
  packages/edit-site/src/style.scss
Labels: [Type] Enhancement, [Package] Edit Post

#50363 Gallery: Fix inner block selection
  packages/block-library/src/gallery/edit.js
  test/e2e/specs/editor/blocks/classic.spec.js
Labels: [Type] Bug, [Block] Gallery

#50353 Templates: Sort by the rendered title instead of the slug
  packages/edit-site/src/components/list/table.js
  packages/edit-site/src/components/sidebar-navigation-screen-templates/index.js
Labels: [Type] Enhancement, [Feature] Templates API, [Feature] Site Editor

#50425 Command center: Add a button to open it from the site editor view mode
  packages/edit-site/src/components/layout/style.scss
  packages/edit-site/src/components/site-hub/index.js
  packages/edit-site/src/components/site-hub/style.scss
Labels: [Type] Enhancement

#50427 [Post Featured Image]: Revert maxWidth addition
  packages/block-library/src/post-featured-image/edit.js
  packages/block-library/src/post-featured-image/index.php
Labels: [Type] Regression, [Block] Post Featured Image

#50424 [Group]: Remove Quote transform
  packages/block-library/src/quote/transforms.js
Labels: [Type] Bug, [Block] Quote, [Block] Group

#50391 [RNMobile] Add API fetch test helper
  packages/block-library/src/image/test/edit.native.js
  test/native/integration-test-helpers/README.md
  test/native/integration-test-helpers/index.js
  test/native/integration-test-helpers/setup-api-fetch.js
Labels: Mobile App - i.e. Android or iOS

#50293 refactor: BlockList uses Hooks
  packages/block-editor/src/components/block-list/block-list-item-cell.native.js
  packages/block-editor/src/components/block-list/index.native.js
  packages/block-editor/src/components/block-list/test/index.native.js
  test/native/integration-test-helpers/wait-for-store-resolvers.js
Labels: [Feature] Blocks, [Type] Code Quality, Mobile App - i.e. Android or iOS, Mobile App - Automation

#49846 `NavigableContailer`: do not trap focus in `TabbableContainer`
  packages/components/CHANGELOG.md
  packages/components/src/navigable-container/container.tsx
  packages/components/src/navigable-container/test/tababble-container.tsx
Labels: [Type] Bug, [Package] Components

#49808 More intuitive Details block with summary and innerBlocks content
  docs/reference-guides/core-blocks.md
  lib/blocks.php
  packages/block-library/src/details-content/block.json
  packages/block-library/src/details-content/edit.js
  packages/block-library/src/details-content/index.js
  packages/block-library/src/details-content/save.js
  packages/block-library/src/details-summary/block.json
  packages/block-library/src/details-summary/edit.js
  packages/block-library/src/details-summary/editor.scss
  packages/block-library/src/details-summary/index.js
  packages/block-library/src/details-summary/save.js
  packages/block-library/src/details-summary/style.scss
  packages/block-library/src/details/block.json
  packages/block-library/src/details/edit.js
  packages/block-library/src/details/editor.scss
  packages/block-library/src/details/index.js
  packages/block-library/src/details/save.js
  packages/block-library/src/details/style.scss
  packages/block-library/src/editor.scss
  packages/block-library/src/index.js
  packages/block-library/src/style.scss
  packages/icons/src/library/details.js
Labels: [Type] Enhancement, [Block] Details

#50410 Update Template Parts icon to use the symbol
  packages/edit-site/src/components/sidebar-navigation-screen-main/index.js
Labels: [Block] Template Part

#50345 Docs: remove mention of perf testing from release docs
  docs/contributors/code/release.md
Labels: [Type] Developer Documentation, Gutenberg Plugin, [Type] Project Management

#50437 Doc: Don't use markdown in the callout section
  docs/how-to-guides/themes/theme-json.md
  packages/blocks/README.md
  packages/e2e-test-utils-playwright/README.md
Labels: [Type] Developer Documentation

#50434 List View: Update the expanded text color so that it works in both a dark and light context
  packages/block-editor/src/components/list-view/style.scss
Labels: [Feature] List View

#50151 [Fonts API] Relocate which fonts to print into wp_print_fonts()
  lib/compat/wordpress-6.2/script-loader.php
  lib/compat/wordpress-6.3/script-loader.php
  lib/experimental/fonts-api/fonts-api.php
  phpunit/fonts-api/wpPrintFonts-test.php
Labels: [Type] Enhancement, [Type] Code Quality, [Feature] Fonts API, Backport to Gutenberg Minor Release

#50265 [RNMobile] Expose WebView prop.onLoadEnd to Sandbox
  packages/components/src/sandbox/index.native.js
Labels: Mobile App - i.e. Android or iOS

#50445 Fix wp-env destroy
  packages/env/lib/commands/destroy.js
Labels: [Type] Bug, [Package] Env

#50408 Remove PHPUnit and Composer packages
  package.json
  packages/env/CHANGELOG.md
  packages/env/lib/build-docker-compose-config.js
  packages/env/lib/commands/run.js
  packages/env/lib/init-config.js
  packages/env/lib/test/build-docker-compose-config.js
Labels: [Type] Enhancement, [Package] Env

#50454 E2E tests: try to fix flaky global styles revisions tests
  packages/edit-site/src/components/global-styles/screen-revisions/index.js
  test/e2e/specs/site-editor/style-book.spec.js
  test/e2e/specs/site-editor/user-global-styles-revisions.spec.js
Labels: [Package] E2E Tests, Global Styles

#50400 [Mobile] - Update Header component to use the `useEditorWrapperStyles` hook
  packages/block-editor/src/hooks/index.native.js
  packages/block-editor/src/index.native.js
  packages/edit-post/src/components/visual-editor/header.native.js
Labels: Mobile App - i.e. Android or iOS

#50374 Site editor: remove canvas box shadow
  packages/edit-site/src/components/block-editor/style.scss
  packages/edit-site/src/components/layout/style.scss
  packages/edit-site/src/components/list/style.scss
Labels: [Type] Bug, [Feature] Site Editor

#50464 Release: Fix CI checks on the 'wp/6.2' branch
  lib/compat/wordpress-6.2/default-filters.php
  test/e2e/specs/site-editor/site-editor-url-navigation.spec.js
Labels: [Type] Task

#50244 Post Terms: Use publicly_queryable to query taxonomies used to register variations
  packages/block-library/src/post-terms/index.php
Labels: [Type] Bug, [Block] Post Terms

#50462 Add tests coverage for the navigation block frontend interactivity
  packages/e2e-test-utils-playwright/src/editor/site-editor.ts
  test/e2e/specs/editor/blocks/navigation.spec.js
Labels: Automated Testing, [Block] Navigation

#50465 List View: Adds a renderAdditionalBlockUI prop to ListView
  packages/block-editor/src/components/list-view/block-contents.js
  packages/block-editor/src/components/list-view/block.js
  packages/block-editor/src/components/list-view/index.js
Labels: [Feature] List View

#50467 Command center: Update the experiment label
  lib/experiments-page.php
Labels: [Type] Enhancement

#50254 Button: Add opt-in prop for next 40px default size
  packages/base-styles/_variables.scss
  packages/components/CHANGELOG.md
  packages/components/src/button/index.tsx
  packages/components/src/button/style.scss
  packages/components/src/button/types.ts
Labels: [Package] Components

#50435 DimensionControl: Use WordPress package instead of react in code example
  packages/components/CHANGELOG.md
  packages/components/src/dimension-control/index.tsx
Labels: [Package] Components

#50287 Replace OffCanvasEditor in browse mode with the List View component
  packages/block-editor/src/components/list-view/block-select-button.js
  packages/block-editor/src/components/list-view/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menus/navigation-menu-content.js
Labels: [Type] Code Quality, [Feature] List View

#50444 Tweak copy for block settings menu "Insert..." to "Add..."
  packages/block-editor/src/components/block-settings-menu/block-settings-dropdown.js
Labels: [Feature] Block settings menu

#50297 [Fonts API] Automatically enqueue user-selected fonts
  lib/experimental/fonts-api/class-wp-fonts-resolver.php
  lib/experimental/fonts-api/fonts-api.php
  lib/load.php
  phpunit/fonts-api/wpFontsResolver/enqueueUserSelectedFonts-test.php
Labels: [Type] Enhancement, [Feature] Fonts API

#50453 Block settings menu: rearrange items
  packages/block-editor/src/components/block-settings-menu-controls/index.js
  packages/block-editor/src/components/block-settings-menu/block-settings-dropdown.js
Labels: [Type] Enhancement

#50455 Spacing: Fix reset of spacing sizes control
  packages/block-editor/src/components/spacing-sizes-control/spacing-input-control.js
Labels: [Type] Bug, [Feature] UI Components, [Type] Regression, [Block] Spacer, [Feature] Design Tools

#50490 wp-env: Add better default PHPunit settings, fix Xdebug, and update docs
  packages/env/CHANGELOG.md
  packages/env/README.md
  packages/env/lib/build-docker-compose-config.js
  packages/env/lib/init-config.js
Labels: [Type] Bug, [Type] Enhancement, [Package] Env

#50471 Lodash: Remove from blocks store reducer
  packages/blocks/src/store/reducer.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Blocks

#50366 Fix/wp get global styles for custom props returns internal variable
  lib/class-wp-theme-json-gutenberg.php
  lib/compat/wordpress-6.3/get-global-styles-and-settings.php
  lib/experimental/block-editor-settings-mobile.php
  phpunit/class-wp-theme-json-test.php
Labels: First-time Contributor, Global Styles

#50222 Site Editor: Improve loading experience (v3)
  packages/data/src/redux-store/metadata/selectors.js
  packages/data/src/redux-store/metadata/test/selectors.js
  packages/data/src/redux-store/test/index.js
  packages/e2e-test-utils/src/site-editor.js
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/layout/style.scss
Labels: Needs Design Feedback, [Type] Performance, [Type] Experimental, [Package] Edit Site, [Feature] Site Editor

#50472 Add test to verify image appears on frontend
  test/e2e/specs/editor/blocks/image.spec.js
Labels: Automated Testing, [Block] Image

#50475 [RNMobile] Disable regular blocks conversion if the reusable block is empty
  packages/block-editor/src/components/block-mobile-toolbar/block-actions-menu.native.js
  packages/react-native-editor/CHANGELOG.md
Labels: [Type] Bug, Mobile App - i.e. Android or iOS

#50497 Block Toolbar: Don't use effects for focus management
  packages/block-editor/src/components/block-tools/block-contextual-toolbar.js
Labels: [Type] Bug, [Package] Block editor

#50398 [RNMobile] Update setup media picker helper
  packages/components/src/sandbox/index.native.js
  test/native/integration-test-helpers/setup-media-picker.js
  test/native/integration-test-helpers/setup-media-upload.js
Labels: Mobile App - i.e. Android or iOS

#50506 Block Editor: Directly import useShouldContextualToolbarShow hook
  packages/block-editor/src/components/block-tools/selected-block-popover.js
Labels: [Type] Code Quality, [Package] Block editor

#50513 Block Editor: Add names for the 'editor.BlockListBlock' filter HoCs
  packages/block-editor/src/hooks/align.js
  packages/block-editor/src/hooks/border.js
  packages/block-editor/src/hooks/color.js
  packages/block-editor/src/hooks/layout.js
  packages/block-editor/src/hooks/position.js
  packages/block-editor/src/hooks/style.js
Labels: [Type] Task, [Package] Block editor

#50041 Experimental: Navigation block with the Interactivity API
  lib/experimental/editor-settings.php
  lib/experimental/interactivity-api/navigation-block-interactivity.php
  lib/experimental/interactivity-api/script-loader.php
  lib/experiments-page.php
  lib/load.php
  packages/block-library/src/navigation/interactivity.js
  tools/webpack/blocks.js
Labels: [Type] Experimental, [Feature] Interactivity API

#50511 Edit Site: Move loading logic to a separate hook
  packages/edit-site/src/components/editor/index.js
Labels: [Type] Enhancement, [Package] Edit Site

#50519 Try fixing flaky CPT e2e test
  test/e2e/specs/editor/plugins/custom-post-types.spec.js
Labels: [Type] Bug, Automated Testing

#50440 [RNMobile] Add embed webview for Android
  packages/react-native-bridge/android/react-native-bridge/src/main/AndroidManifest.xml
  packages/react-native-bridge/android/react-native-bridge/src/main/java/org/wordpress/mobile/ReactNativeGutenbergBridge/GutenbergBridgeJS2Parent.java
  packages/react-native-bridge/android/react-native-bridge/src/main/java/org/wordpress/mobile/ReactNativeGutenbergBridge/GutenbergEmbedWebViewActivity.java
  packages/react-native-bridge/android/react-native-bridge/src/main/java/org/wordpress/mobile/ReactNativeGutenbergBridge/RNReactNativeGutenbergBridgeModule.java
  packages/react-native-bridge/android/react-native-bridge/src/main/java/org/wordpress/mobile/WPAndroidGlue/WPAndroidGlueCode.java
  packages/react-native-bridge/android/react-native-bridge/src/main/res/layout/activity_gutenberg_embed_web_view.xml
  packages/react-native-bridge/index.js
  packages/react-native-editor/android/app/src/main/java/com/gutenberg/MainApplication.java
Labels: Mobile App - i.e. Android or iOS

#50530 Add @ObliviousHarmony to wp-env codeowners
  .github/CODEOWNERS
Labels: [Type] Task

#50442 In CI, verify that PHPunit is actually running
  .github/workflows/unit-test.yml
Labels: Automated Testing, GitHub Actions

#50498 Global Styles: Add back the global styles logic that forces the solid border when color or width applied.
  packages/edit-site/src/components/global-styles/border-panel.js
  packages/edit-site/src/components/global-styles/screen-block.js
Labels: [Type] Bug

#50509 Navigation: Unlock private APIs outside of the component
  packages/block-library/src/navigation/edit/menu-inspector-controls.js
Labels: [Type] Code Quality, [Block] Navigation

#50326 Remove the loader from sidebar navigation screen.
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menus/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menus/loader.js
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menus/navigation-menu-content.js
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menus/style.scss
Labels: [Type] Bug, [Feature] Site Editor

#50534 Edit Site: Unlock private APIs outside of the component
  packages/edit-site/src/components/secondary-sidebar/list-view-sidebar.js
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menus/navigation-menu-content.js
Labels: [Type] Code Quality, [Package] Edit Site

#49161 Navigation: Remove the check for draft navigation menus from the UnsavedInnerBlocks component
  packages/block-library/src/navigation/edit/unsaved-inner-blocks.js
Labels: [Type] Code Quality, [Block] Navigation

#50349 Fix Multiple Tooltips from Focus Toolbar Shortcut on Site Editor
  packages/edit-site/src/components/header-edit-mode/index.js
Labels: [a11y] Keyboard & Focus

#48683 Improve Nav block loading UX by preloading Navigation menu requests
  lib/compat/wordpress-6.3/navigation-block-preloading.php
  lib/load.php
Labels: [Type] Performance, [Block] Navigation

#49985 Add `lang` and `dir` attributes to text-formatting tools
  packages/format-library/src/default-formats.js
  packages/format-library/src/language/index.js
  packages/format-library/src/language/style.scss
  packages/format-library/src/style.scss
  packages/icons/src/index.js
  packages/icons/src/library/language.js
Labels: Needs Design Feedback, [Package] Format library, [Type] Feature

#50527 Update PHP docblock for `WP_Theme_JSON_Gutenberg::get_property_value`
  lib/class-wp-theme-json-gutenberg.php
Labels: [Type] Developer Documentation

#50310 Plugin: Use bundled files for enqueuing global styles
  lib/block-editor-settings.php
  lib/compat/wordpress-6.2/block-editor-settings.php
  lib/compat/wordpress-6.2/default-filters.php
  lib/compat/wordpress-6.2/get-global-styles-and-settings.php
  lib/compat/wordpress-6.2/script-loader.php
  lib/global-styles-and-settings.php
  lib/load.php
  lib/script-loader.php
Labels: Gutenberg Plugin, [Type] Regression, Global Styles

#50544 Modals: Update the Cancel action's button design
  packages/block-library/src/navigation/edit/navigation-menu-delete-control.js
  packages/edit-site/src/components/create-template-part-modal/index.js
Labels: Accessibility (a11y), General Interface

#50547 Mobile Release v1.95.0
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS
