Repository WordPress/gutenberg, pull requests merged in 2023-02, with the labels that each got.

#47592 Block Inspector: Make Settings tab the default
  packages/block-editor/src/components/inspector-controls-tabs/index.js
  packages/block-editor/src/components/inspector-controls-tabs/use-inspector-controls-tabs.js
  packages/e2e-tests/specs/editor/blocks/cover.test.js
  test/e2e/specs/editor/blocks/buttons.spec.js
Labels: [Type] Enhancement, [Feature] Inspector Controls, [Feature] Design Tools

#47593 Navigation: Remove filters disabling tabs for link and submenu
  packages/block-library/src/navigation-link/index.php
  packages/block-library/src/navigation-submenu/index.php
Labels: [Type] Task, [Block] Navigation Link, [Block] Submenu

#47611 Fix missing hook deps in distraction free mode
  packages/edit-post/src/components/header/index.js
  packages/edit-post/src/components/layout/index.js
Labels: General Interface, [Type] Code Quality

#46502 Shadow: Add shadow presets and UI tools in global styles
  docs/reference-guides/core-blocks.md
  lib/theme.json
  packages/block-editor/src/components/global-styles/utils.js
  packages/block-library/src/button/block.json
  packages/edit-site/src/components/global-styles/context-menu.js
  packages/edit-site/src/components/global-styles/hooks.js
  packages/edit-site/src/components/global-styles/screen-border.js
  packages/edit-site/src/components/global-styles/shadow-panel.js
  packages/edit-site/src/components/global-styles/style.scss
Labels: Needs Design Feedback

#47627 Stabilize the clearBlockSelection editor setting
  packages/block-editor/README.md
  packages/block-editor/src/components/block-selection-clearer/index.js
  packages/block-editor/src/components/block-selection-clearer/test/index.js
  packages/block-editor/src/store/defaults.js
  packages/editor/src/components/provider/use-block-editor-settings.js
Labels: [Type] Task, [Package] Block editor

#46467 Element: enable concurrent mode by implementing mount/unmount with createRoot
  packages/block-editor/src/components/block-tools/selected-block-popover.js
  packages/block-editor/src/components/rich-text/use-before-input-rules.js
  packages/components/src/slot-fill/bubbles-virtually/fill.js
  packages/components/src/slot-fill/slot.js
  packages/components/src/slot-fill/use-slot.js
  packages/compose/src/hooks/use-async-list/index.ts
  packages/e2e-tests/specs/editor/various/rich-text.test.js
  packages/edit-post/README.md
  packages/edit-post/src/editor.js
  packages/edit-post/src/index.js
  packages/edit-site/src/components/app/index.js
  packages/edit-site/src/components/error-boundary/index.js
  packages/edit-site/src/components/error-boundary/warning.js
  packages/edit-site/src/components/layout/index.js
  packages/edit-site/src/index.js
  packages/edit-widgets/src/components/error-boundary/index.js
  packages/edit-widgets/src/components/layout/index.js
  packages/edit-widgets/src/index.js
  packages/editor/src/components/error-boundary/index.js
  test/e2e/specs/editor/various/font-size-picker.spec.js
Labels: [Package] Element

#44771 Add anchor support for dynamic blocks
  docs/reference-guides/block-api/block-supports.md
  docs/reference-guides/core-blocks.md
  lib/block-supports/anchor.php
  lib/load.php
  packages/block-library/src/archives/block.json
  packages/block-library/src/avatar/block.json
  packages/block-library/src/calendar/block.json
  packages/block-library/src/categories/block.json
  packages/block-library/src/comment-author-avatar/block.json
  packages/block-library/src/comment-author-name/block.json
  packages/block-library/src/comment-content/block.json
  packages/block-library/src/comment-date/block.json
  packages/block-library/src/comment-edit-link/block.json
  packages/block-library/src/comment-reply-link/block.json
  packages/block-library/src/comment-template/block.json
  packages/block-library/src/comments-pagination-next/block.json
  packages/block-library/src/comments-pagination-numbers/block.json
  packages/block-library/src/comments-pagination-previous/block.json
  packages/block-library/src/comments-pagination/block.json
  packages/block-library/src/comments/block.json
  packages/block-library/src/home-link/block.json
  packages/block-library/src/latest-comments/block.json
  packages/block-library/src/latest-posts/block.json
  packages/block-library/src/loginout/block.json
  packages/block-library/src/navigation/block.json
  packages/block-library/src/page-list/block.json
  packages/block-library/src/post-author-biography/block.json
  packages/block-library/src/post-author-name/block.json
  packages/block-library/src/post-author/block.json
  packages/block-library/src/post-comments-count/block.json
  packages/block-library/src/post-comments-form/block.json
  packages/block-library/src/post-comments-link/block.json
  packages/block-library/src/post-content/block.json
  packages/block-library/src/post-date/block.json
  packages/block-library/src/post-excerpt/block.json
  packages/block-library/src/post-featured-image/block.json
  packages/block-library/src/post-navigation-link/block.json
  packages/block-library/src/post-template/block.json
  packages/block-library/src/post-terms/block.json
  packages/block-library/src/post-title/block.json
  packages/block-library/src/query-no-results/block.json
  packages/block-library/src/query-pagination-next/block.json
  packages/block-library/src/query-pagination-numbers/block.json
  packages/block-library/src/query-pagination-previous/block.json
  packages/block-library/src/query-pagination/block.json
  packages/block-library/src/query-title/block.json
  packages/block-library/src/query/block.json
  packages/block-library/src/read-more/block.json
  packages/block-library/src/rss/block.json
  packages/block-library/src/search/block.json
  packages/block-library/src/site-logo/block.json
  packages/block-library/src/site-tagline/block.json
  packages/block-library/src/site-title/block.json
  packages/block-library/src/social-link/block.json
  packages/block-library/src/tag-cloud/block.json
  packages/block-library/src/template-part/block.json
  packages/block-library/src/term-description/block.json
Labels: [Type] Enhancement, [Feature] Blocks, [Type] WP Core Ticket

#47508 [Block Library - Navigation]: Update example with no mobile view
  packages/block-library/src/navigation/index.js
Labels: [Package] Block library, [Block] Navigation

#46450 [Patterns]: Remove bundled patterns
  lib/compat/wordpress-6.2/block-patterns.php
  lib/compat/wordpress-6.2/block-patterns/centered-footer-with-social-links.php
  lib/compat/wordpress-6.2/block-patterns/centered-footer.php
  lib/compat/wordpress-6.2/block-patterns/centered-header.php
  lib/compat/wordpress-6.2/block-patterns/centered-logo-in-navigation.php
  lib/compat/wordpress-6.2/block-patterns/footer-with-background-color-and-three-columns.php
  lib/compat/wordpress-6.2/block-patterns/footer-with-credit-line-and-navigation.php
  lib/compat/wordpress-6.2/block-patterns/footer-with-large-font-size.php
  lib/compat/wordpress-6.2/block-patterns/footer-with-navigation-and-credit-line.php
  lib/compat/wordpress-6.2/block-patterns/footer-with-search-site-title-and-credit-line.php
  lib/compat/wordpress-6.2/block-patterns/footer-with-site-title-and-credit-line.php
  lib/compat/wordpress-6.2/block-patterns/header-with-large-font-size.php
  lib/compat/wordpress-6.2/block-patterns/left-aligned-footer.php
  lib/compat/wordpress-6.2/block-patterns/right-aligned-footer.php
  lib/compat/wordpress-6.2/block-patterns/simple-header-inside-image.php
  lib/compat/wordpress-6.2/block-patterns/simple-header-with-background-color.php
  lib/compat/wordpress-6.2/block-patterns/simple-header-with-image.php
  lib/compat/wordpress-6.2/block-patterns/simple-header-with-tagline-2.php
  lib/compat/wordpress-6.2/block-patterns/simple-header-with-tagline.php
  lib/compat/wordpress-6.2/block-patterns/simple-header.php
  lib/compat/wordpress-6.2/block-patterns/site-title-and-menu-button.php
  lib/compat/wordpress-6.2/block-patterns/site-title-and-vertical-navigation.php
Labels: [Feature] Patterns

#46629 Table Block: Support rowspan attribute in table HTML, including when pasting
  packages/block-library/src/table/block.json
  packages/block-library/src/table/edit.js
  packages/block-library/src/table/save.js
  packages/block-library/src/table/test/utils.js
  packages/block-library/src/table/transforms.js
  packages/block-library/src/table/utils.js
  packages/blocks/src/api/raw-handling/test/paste-handler.js
  test/integration/__snapshots__/blocks-raw-handling.test.js.snap
  test/integration/blocks-raw-handling.test.js
  test/integration/fixtures/documents/google-docs-table-with-colspan-in.html
  test/integration/fixtures/documents/google-docs-table-with-colspan-out.html
  test/integration/fixtures/documents/google-docs-table-with-rowspan-in.html
  test/integration/fixtures/documents/google-docs-table-with-rowspan-out.html
Labels: [Type] Enhancement, [Block] Table

#47638 Make getLastInsertedBlocksClientIds selector private
  docs/reference-guides/data/data-core-block-editor.md
  packages/block-editor/src/components/off-canvas-editor/block-contents.js
  packages/block-editor/src/store/private-selectors.js
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/private-selectors.js
  packages/block-editor/src/store/test/selectors.js
Labels: [Block] Navigation, [Package] Block editor, [Type] Experimental

#47538 Try: Zero out excerpt paragraph margins.
  packages/block-library/src/post-excerpt/style.scss
Labels: [Type] Enhancement, [Block] Post Excerpt, CSS Styling

#47616 fix: Patch react-devtools-core to support jsdom-jscore-rn
  packages/react-native-editor/src/globals.js
  patches/react-devtools-core+4.24.0.patch
Labels: [Type] Bug, Mobile App - i.e. Android or iOS

#47618 feat: Set up Android Flipper integration
  packages/react-native-editor/android/app/build.gradle
  packages/react-native-editor/android/app/src/main/java/com/gutenberg/MainApplication.java
  packages/react-native-editor/android/app/src/main/java/com/gutenberg/ReactNativeFlipper.java
  packages/react-native-editor/android/gradle.properties
Labels: Mobile App - i.e. Android or iOS, [Type] Feature, Mobile App - Automation

#47635 Edit Post: Remove unnecessary 'classnames' in Header component
  packages/edit-post/src/components/header/index.js
Labels: [Type] Code Quality, [Package] Edit Post

#47646 Performance: Fix empty results handling in performance test results
  bin/log-perormance-results.js
Labels: [Type] Performance

#47148 Fix UrlInput combobox to use the ARIA 1.0 pattern.
  changelog.txt
  packages/block-editor/src/components/link-control/test/index.js
  packages/block-editor/src/components/url-input/index.js
Labels: [Type] Bug, Accessibility (a11y), [Type] Regression, [Package] Block editor

#47649 Block Library: Don't use methods with the 'gutenberg_' prefix
  packages/block-library/src/calendar/index.php
  packages/block-library/src/gallery/index.php
  packages/block-library/src/navigation-link/index.php
  packages/block-library/src/navigation-submenu/index.php
  packages/block-library/src/navigation/index.php
Labels: [Type] Bug, [Package] Block library, Backport to WP Beta/RC

#47650 Performance: Restore initial reduce value in perf results log script
  bin/log-perormance-results.js
Labels: [Type] Bug, [Type] Build Tooling, [Type] Performance

#47590 Global styles: Reselect blocks after pasting styles
  packages/block-editor/src/components/block-actions/index.js
Labels: Backport to WP Beta/RC, Global Styles

#47629 Try sharding playwright tests into two separate jobs using a matrix
  .github/workflows/end2end-test.yml
Labels: Automated Testing

#47630 Avatar: Fix application of borders
  packages/block-library/src/avatar/index.php
  packages/block-library/src/avatar/style.scss
Labels: [Type] Bug, [Feature] Design Tools, [Block] Avatar

#47671 Site Editor: Update 'Additional CSS' subtitle string
  packages/edit-site/src/components/global-styles/custom-css.js
Labels: [Type] Task, Global Styles

#47668 Update code and tests for theme json class after the back port in core
  lib/class-wp-theme-json-gutenberg.php
  phpunit/class-wp-theme-json-test.php
Labels: Automated Testing, [Type] Code Quality, [Feature] Style Variations, Backport from WordPress Core

#46812 Scripts: Allow WP_DEVTOOL to set devtool in prod builds
  packages/scripts/CHANGELOG.md
  packages/scripts/config/webpack.config.js
Labels: [Type] Enhancement, [Package] Scripts

#47647 Fix typo in performance script name
  .github/workflows/performance.yml
  bin/log-performance-results.js
Labels: [Priority] Low, [Type] Performance

#45365 Set block attributes to require either type or enum
  schemas/json/block.json
Labels: [Feature] Block API, First-time Contributor

#45832 Add ancestor property to block-registration.md doc
  docs/reference-guides/block-api/block-registration.md
Labels: [Feature] Block API, [Type] Developer Documentation, Needs User Documentation

#45352 Scripts: Add PostCSS (.pcss extension) file support to wp-scripts
  packages/scripts/CHANGELOG.md
  packages/scripts/README.md
  packages/scripts/config/webpack.config.js
  packages/scripts/scripts/lint-style.js
Labels: [Type] Enhancement, [Package] Scripts, First-time Contributor

#44237 Scripts: Use start without watcher using --no-watch
  packages/scripts/scripts/start.js
Labels: [Type] Enhancement, [Package] Scripts

#47678 Lock browse mode selectors and actions
  packages/edit-site/src/components/add-new-template/new-template-part.js
  packages/edit-site/src/components/add-new-template/new-template.js
  packages/edit-site/src/components/block-editor/index.js
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/layout/index.js
  packages/edit-site/src/components/site-hub/index.js
  packages/edit-site/src/components/sync-state-with-url/use-sync-canvas-mode-with-url.js
  packages/edit-site/src/store/actions.js
  packages/edit-site/src/store/index.js
  packages/edit-site/src/store/private-actions.js
  packages/edit-site/src/store/private-selectors.js
  packages/edit-site/src/store/selectors.js
Labels: [Type] Code Quality, Backport to WP Beta/RC, [Feature] Site Editor

#47643 [Mobile] - E2E Initial HTML Test - Update test to use the Paste functionality for Android
  packages/react-native-editor/__device-tests__/pages/editor-page.js
Labels: Mobile App - i.e. Android or iOS, Mobile App - Automation

#47031 Navigation Block List View: Improve the accessible Name of the Tree Grid inside the component.
  packages/block-editor/src/components/off-canvas-editor/index.js
  packages/block-library/src/navigation/edit/menu-inspector-controls.js
Labels: Needs Accessibility Feedback, [Block] Navigation

#47679 Block Directory: Optimize `DownloadableBlocksPanel`
  packages/block-directory/src/components/downloadable-blocks-panel/index.js
Labels: [Type] Performance, [Feature] Block Directory

#47676 Allow clicking the site editor frame to enter edit mode
  packages/block-editor/src/components/iframe/index.js
  packages/edit-site/src/components/block-editor/editor-canvas.js
  packages/edit-site/src/components/block-editor/style.scss
Labels: [Type] Enhancement, Backport to WP Beta/RC, [Feature] Site Editor

#47687 Components: Remove unnecessary `act()` from `Button` tests
  packages/components/src/button/test/index.tsx
Labels: [Type] Code Quality, [Package] Components

#47677 [Patterns]: Support the `blockTypes` prop for patterns fetched from Pattern Directory
  lib/compat/wordpress-6.2/block-patterns.php
  lib/compat/wordpress-6.2/class-gutenberg-rest-block-patterns-controller-6-2.php
  lib/compat/wordpress-6.2/rest-api.php
  phpunit/class-wp-rest-pattern-directory-controller-test.php
  phpunit/fixtures/pattern-directory/browse-all.json
Labels: [Type] Bug, [Priority] High, Backport to WP Beta/RC, [Feature] Patterns, [Feature] Pattern Directory

#47688 [Block Library - Query Loop]: Guard term addtion when the request hasn't resolved
  packages/block-library/src/query/edit/inspector-controls/taxonomy-controls.js
Labels: [Type] Bug, [Package] Block library, Backport to WP Beta/RC, [Block] Query Loop

#47681 Block Editor: Optimize `__unstableGetVisibleBlocks()`
  packages/block-editor/src/store/selectors.js
Labels: [Type] Performance, [Package] Block editor

#47142 Adds a global save button to the site editor
  packages/base-styles/_z-index.scss
  packages/e2e-test-utils-playwright/src/editor/site-editor.ts
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/editor/style.scss
  packages/edit-site/src/components/layout/index.js
  packages/edit-site/src/components/layout/style.scss
  packages/edit-site/src/components/save-panel/index.js
  packages/edit-site/src/components/save-panel/style.scss
  packages/edit-site/src/components/sidebar/index.js
  packages/edit-site/src/components/sidebar/style.scss
  packages/edit-site/src/components/site-hub/style.scss
  packages/edit-site/src/style.scss
  packages/editor/src/components/entities-saved-states/style.scss
Labels: [Type] Enhancement, Backport to WP Beta/RC, [Feature] Site Editor

#47639 Enable React StricMode again
  packages/customize-widgets/src/components/focus-control/index.js
  packages/customize-widgets/src/index.js
  packages/edit-post/src/editor.js
  packages/edit-site/src/components/app/index.js
  packages/edit-widgets/src/components/widget-areas-block-editor-provider/index.js
  test/e2e/specs/widgets/customizing-widgets.spec.js
Labels: Backport to WP Beta/RC

#47693 Pattern Inserter: Fix unintended preview panel display when hovering mouse over pattern
  packages/block-editor/src/components/inserter/menu.js
Labels: [Feature] Inserter, [Type] Regression, Backport to WP Beta/RC, [Feature] Patterns

#47699 Navigation: Only show the deleted menu warning if a ref is specified
  packages/block-library/src/navigation/edit/menu-inspector-controls.js
Labels: [Type] Bug, [Block] Navigation, Backport to Gutenberg RC

#47661 Pattern Explorer Modal: Select the first category as the initial category
  packages/block-editor/src/components/inserter/block-patterns-tab.js
Labels: [Type] Regression, Backport to WP Beta/RC, [Feature] Patterns, Backport to Gutenberg RC

#47622 BoxControl: Convert to TypeScript
  packages/components/CHANGELOG.md
  packages/components/src/box-control/README.md
  packages/components/src/box-control/all-input-control.tsx
  packages/components/src/box-control/axial-input-controls.tsx
  packages/components/src/box-control/icon.tsx
  packages/components/src/box-control/index.tsx
  packages/components/src/box-control/input-controls.tsx
  packages/components/src/box-control/linked-button.tsx
  packages/components/src/box-control/styles/box-control-icon-styles.ts
  packages/components/src/box-control/styles/box-control-styles.ts
  packages/components/src/box-control/styles/box-control-visualizer-styles.ts
  packages/components/src/box-control/test/index.tsx
  packages/components/src/box-control/types.ts
  packages/components/src/box-control/unit-control.tsx
  packages/components/src/box-control/utils.ts
  packages/components/src/utils/hooks/use-controlled-state.js
  packages/components/tsconfig.json
Labels: [Package] Components

#47259 Panel: Convert to TypeScript
  packages/components/CHANGELOG.md
  packages/components/src/panel/README.md
  packages/components/src/panel/header.js
  packages/components/src/panel/header.tsx
  packages/components/src/panel/index.js
  packages/components/src/panel/index.tsx
  packages/components/src/panel/row.js
  packages/components/src/panel/row.tsx
  packages/components/src/panel/stories/index.js
  packages/components/src/panel/test/__snapshots__/header.tsx.snap
  packages/components/src/panel/test/__snapshots__/index.tsx.snap
  packages/components/src/panel/test/__snapshots__/row.tsx.snap
  packages/components/src/panel/test/header.tsx
  packages/components/src/panel/test/index.tsx
  packages/components/src/panel/test/row.tsx
  packages/components/src/panel/types.ts
  packages/components/tsconfig.json
Labels: [Package] Components

#47716 Update gutenberg_get_template_hierarchy.
  lib/compat/wordpress-6.2/block-template-utils.php
Labels: [Type] Enhancement, [Type] Code Quality

#47665 Sticky Position: Fix top position while logged in on mobile
  lib/block-supports/position.php
  packages/block-editor/src/hooks/position.js
  packages/block-library/src/common.scss
  phpunit/block-supports/position-test.php
Labels: [Type] Bug, [Feature] Design Tools

#47523 Block Spacing: Don't show UI when only one direction is supported
  packages/block-editor/src/hooks/dimensions.js
  packages/block-editor/src/hooks/gap.js
Labels: [Type] Bug, [Feature] Block API, [Type] Code Quality, [Feature] Layout

#47714 Global styles: Add check for edit CSS capability to overflow menu
  packages/edit-site/src/components/global-styles/ui.js
Labels: [Type] Bug, Backport to WP Beta/RC, Global Styles

#47720 Copy failing WP_HTML_Tag_Processor_Bookmark_Test tests from Core
  lib/experimental/html/class-wp-html-tag-processor.php
  phpunit/html/wp-html-tag-processor-bookmark-test.php
Labels: Automated Testing

#47461 Style Book: Exclude blocks that are not allowed to insert
  docs/reference-guides/block-api/block-supports.md
  packages/edit-site/CHANGELOG.md
  packages/edit-site/src/components/style-book/index.js
  schemas/json/block.json
Labels: Global Styles, Developer Experience

#47595 Add basic tsconfig.json validation
  bin/validate-tsconfig.mjs
  package-lock.json
  package.json
  packages/block-editor/tsconfig.json
  packages/block-library/tsconfig.json
  packages/components/tsconfig.json
  packages/compose/tsconfig.json
  packages/core-data/tsconfig.json
  packages/date/tsconfig.json
  packages/e2e-test-utils-playwright/tsconfig.json
  packages/eslint-plugin/tsconfig.json
  tsconfig.json
Labels: [Type] Build Tooling

#47387 Add ability to open the editor on the selected post on navigation.
  packages/block-editor/src/components/off-canvas-editor/index.js
  packages/edit-site/src/components/navigation-inspector/index.js
  packages/edit-site/src/components/navigation-inspector/navigation-menu.js
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menus/index.js
Labels: Backport to WP Beta/RC, [Feature] Site Editor

#47692 Components: Remove unnecessary `act()` from `DropdownMenu` tests
  packages/components/src/dropdown-menu/test/index.js
Labels: [Type] Code Quality, [Package] Components

#47690 Components: Remove unnecessary `act()` from `Popover` tests
  packages/components/src/popover/test/index.tsx
Labels: [Type] Code Quality, [Package] Components

#47516 TreeGrid: Convert to TypeScript
  packages/components/CHANGELOG.md
  packages/components/src/tree-grid/README.md
  packages/components/src/tree-grid/cell.js
  packages/components/src/tree-grid/cell.tsx
  packages/components/src/tree-grid/index.tsx
  packages/components/src/tree-grid/item.js
  packages/components/src/tree-grid/item.tsx
  packages/components/src/tree-grid/roving-tab-index-context.ts
  packages/components/src/tree-grid/roving-tab-index-item.js
  packages/components/src/tree-grid/roving-tab-index-item.tsx
  packages/components/src/tree-grid/roving-tab-index.tsx
  packages/components/src/tree-grid/row.js
  packages/components/src/tree-grid/row.tsx
  packages/components/src/tree-grid/stories/index.js
  packages/components/src/tree-grid/stories/index.tsx
  packages/components/src/tree-grid/test/__snapshots__/cell.tsx.snap
  packages/components/src/tree-grid/test/__snapshots__/index.tsx.snap
  packages/components/src/tree-grid/test/__snapshots__/roving-tab-index-item.tsx.snap
  packages/components/src/tree-grid/test/__snapshots__/roving-tab-index.tsx.snap
  packages/components/src/tree-grid/test/__snapshots__/row.tsx.snap
  packages/components/src/tree-grid/test/cell.tsx
  packages/components/src/tree-grid/test/index.tsx
  packages/components/src/tree-grid/test/roving-tab-index-item.tsx
  packages/components/src/tree-grid/test/roving-tab-index.tsx
  packages/components/src/tree-grid/test/row.tsx
  packages/components/src/tree-grid/types.ts
  packages/components/tsconfig.json
  packages/dom/src/focusable.js
Labels: [Package] Components

#47733 Add <LinkControl> code owner
  .github/CODEOWNERS
Labels: [Feature] Link Editing

#47691 Components: Remove unnecessary `act()` from `ToolsPanel` tests
  packages/components/src/tools-panel/test/index.js
Labels: [Type] Code Quality, [Package] Components

#47736 Site Logo: Simplify the method for getting block editor settings
  packages/block-library/src/site-logo/edit.js
Labels: [Type] Code Quality, [Block] Site Logo

#47737 Lodash: Remove from `@wordpress/keycodes` package
  package-lock.json
  packages/keycodes/package.json
  packages/keycodes/src/index.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Keycodes

#47734 Fix multi entities saved state in the post editor
  packages/e2e-test-utils-playwright/src/editor/publish-post.ts
  packages/edit-post/src/components/layout/style.scss
  packages/editor/src/components/entities-saved-states/style.scss
  packages/interface/src/components/interface-skeleton/style.scss
Labels: [Type] Bug, Backport to WP Beta/RC

#47606 Extract the getSupportedStyles selector to the blocks store as a private selector
  package-lock.json
  packages/blocks/package.json
  packages/blocks/src/api/raw-handling/test/utils.js
  packages/blocks/src/experiments.js
  packages/blocks/src/store/index.js
  packages/blocks/src/store/private-selectors.js
  packages/blocks/src/store/test/private-selectors.js
  packages/edit-site/src/components/global-styles/border-panel.js
  packages/edit-site/src/components/global-styles/color-utils.js
  packages/edit-site/src/components/global-styles/dimensions-panel.js
  packages/edit-site/src/components/global-styles/hooks.js
  packages/edit-site/src/components/global-styles/screen-background-color.js
  packages/edit-site/src/components/global-styles/screen-button-color.js
  packages/edit-site/src/components/global-styles/screen-colors.js
  packages/edit-site/src/components/global-styles/screen-heading-color.js
  packages/edit-site/src/components/global-styles/screen-link-color.js
  packages/edit-site/src/components/global-styles/screen-text-color.js
  packages/edit-site/src/components/global-styles/shadow-panel.js
  packages/edit-site/src/components/global-styles/typography-panel.js
  packages/edit-site/src/hooks/push-changes-to-global-styles/index.js
Labels: [Type] Code Quality

#47633 Fixes undo and redo for nesting operations in the navigation block's inspector
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation-submenu/edit.js
Labels: [Type] Bug, [Priority] High, [Block] Navigation

#47711 Mobile Release v1.88.0
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Gemfile.lock
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS

#47700 Fix unbalanced parenthesis in Element README
  packages/element/README.md
Labels: [Type] Bug, [Type] Developer Documentation, [Package] Element

#47670 Show a pointer/hint in the settings tab informing the user about the styles tab
  package-lock.json
  packages/block-editor/package.json
  packages/block-editor/src/components/inspector-controls-tabs/settings-tab-hint.js
  packages/block-editor/src/components/inspector-controls-tabs/settings-tab.js
  packages/block-editor/src/components/inspector-controls-tabs/style.scss
Labels: [Type] Enhancement, Needs Design Feedback, Needs Accessibility Feedback, [Package] Block editor, Backport to WP Beta/RC, Backport to Gutenberg RC

#47719 Add tests for gutenberg_render_layout_support_flag
  phpunit/block-supports/layout-test.php
Labels: Automated Testing, [Feature] Layout

#47753 Table Block: Don't render empty section
  packages/block-library/src/table/edit.js
Labels: [Type] Code Quality, [Block] Table

#47725 Make process_blocks_custom_css method protected
  lib/class-wp-theme-json-gutenberg.php
  phpunit/class-wp-theme-json-test.php
Labels: [Type] Task, [Feature] Site Editor

#47742 Lodash: Refactor away from `_.mapValues()` in data registry
  packages/data/src/registry.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Data

#47740 [Block Editor]: Lock `blockInspectorAnimation` setting
  lib/experimental/class-wp-rest-block-editor-settings-controller.php
  packages/block-editor/src/components/block-inspector/index.js
  packages/block-editor/src/store/defaults.js
  packages/block-editor/src/store/private-actions.js
  packages/block-library/src/navigation-link/index.php
  packages/block-library/src/navigation-submenu/index.php
  packages/block-library/src/navigation/index.php
  packages/editor/src/components/provider/use-block-editor-settings.js
Labels: [Type] Bug, [Package] Block editor, Backport to WP Beta/RC

#47752 useBlockSync: change subscribed.current on unsubscribe
  packages/block-editor/src/components/provider/use-block-sync.js
Labels: Backport to WP Beta/RC

#47229 CustomSelectControl: Privatise __experimentalShowSelectedHint using @wordpress/experiments
  package-lock.json
  package.json
  packages/block-editor/src/components/block-tools/selected-block-popover.js
  packages/block-editor/src/components/off-canvas-editor/block-contents.js
  packages/block-editor/src/components/provider/index.js
  packages/block-editor/src/experiments.js
  packages/block-editor/src/hooks/dimensions.js
  packages/block-editor/src/hooks/position.js
  packages/block-editor/src/lock-unlock.js
  packages/block-editor/src/store/index.js
  packages/block-editor/tsconfig.json
  packages/block-library/tsconfig.json
  packages/components/package.json
  packages/components/src/custom-select-control/index.js
  packages/components/src/custom-select-control/stories/index.js
  packages/components/src/custom-select-control/test/index.js
  packages/components/src/experiments.js
  packages/components/src/index.js
  packages/components/tsconfig.json
  packages/data/tsconfig.json
  packages/experiments/package.json
  packages/experiments/src/implementation.js
  packages/experiments/tsconfig.json
  storybook/main.js
  test/native/setup.js
  test/unit/config/gutenberg-env.js
  test/unit/jest.config.js
  tools/webpack/shared.js
  tsconfig.json
  typings/gutenberg-env/index.d.ts
Labels: [Type] Code Quality, [Package] Components

#47774 [Block Library - Gallery]: Minor code quality update
  packages/block-library/src/gallery/index.php
Labels: [Type] Code Quality, Backport to WP Beta/RC

#43848 Fix the headings hierarchy in the styles sidebar
  packages/block-editor/src/components/colors-gradients/control.js
  packages/components/src/color-palette/index.tsx
  packages/components/src/color-palette/types.ts
  packages/components/src/gradient-picker/index.js
  packages/components/src/palette-edit/index.js
  packages/components/src/tools-panel/tools-panel-header/component.tsx
  packages/components/src/tools-panel/tools-panel/component.tsx
  packages/components/src/tools-panel/types.ts
  packages/edit-site/src/components/global-styles/color-palette-panel.js
  packages/edit-site/src/components/global-styles/dimensions-panel.js
  packages/edit-site/src/components/global-styles/gradients-palette-panel.js
  packages/edit-site/src/components/global-styles/header.js
  packages/edit-site/src/components/global-styles/palette.js
  packages/edit-site/src/components/global-styles/screen-background-color.js
  packages/edit-site/src/components/global-styles/screen-button-color.js
  packages/edit-site/src/components/global-styles/screen-colors.js
  packages/edit-site/src/components/global-styles/screen-heading-color.js
  packages/edit-site/src/components/global-styles/screen-link-color.js
  packages/edit-site/src/components/global-styles/screen-text-color.js
  packages/edit-site/src/components/global-styles/screen-typography.js
  packages/edit-site/src/components/global-styles/style.scss
  packages/edit-site/src/components/global-styles/subtitle.js
Labels: [Type] Bug, Accessibility (a11y)

#47756 ResizableBox: refactor styles to TypeScript
  packages/components/CHANGELOG.md
  packages/components/src/resizable-box/resize-tooltip/styles/resize-tooltip.styles.ts
  packages/components/src/resizable-box/styles/resizable-box.styles.js
Labels: [Type] Code Quality, [Package] Components

#47779 CustomSelectControl: update size prop options to new format in Storybook examples
  packages/components/src/custom-select-control/stories/index.js
Labels: [Type] Code Quality, [Package] Components, Storybook

#47776 LocalAutosaveNotice: use stable notice id to prevent double notices
  packages/editor/src/components/local-autosave-monitor/index.js
Labels: Backport to WP Beta/RC

#45820 AnglePickerControl: refactor to TypeScript
  packages/components/CHANGELOG.md
  packages/components/src/angle-picker-control/README.md
  packages/components/src/angle-picker-control/angle-circle.tsx
  packages/components/src/angle-picker-control/index.tsx
  packages/components/src/angle-picker-control/stories/index.js
  packages/components/src/angle-picker-control/stories/index.tsx
  packages/components/src/angle-picker-control/styles/angle-picker-control-styles.tsx
  packages/components/src/angle-picker-control/types.ts
  packages/components/src/custom-gradient-picker/index.js
  packages/components/tsconfig.json
Labels: [Feature] UI Components, [Type] Code Quality, [Package] Components

#47697 Fix infinite render of inline block preview
  packages/edit-site/src/components/global-styles/block-preview-panel.js
  packages/edit-site/src/components/global-styles/style.scss
Labels: [Type] Bug, Backport to WP Beta/RC, Global Styles

#47755 BorderBoxControl: migrate tests to TypeScript, remove `act()` call
  packages/components/CHANGELOG.md
  packages/components/src/border-box-control/test/index.tsx
  packages/components/src/border-box-control/test/utils.ts
Labels: [Type] Code Quality, [Package] Components

#47581 ComboboxControl: Convert to TypeScript
  packages/components/CHANGELOG.md
  packages/components/src/combobox-control/README.md
  packages/components/src/combobox-control/index.tsx
  packages/components/src/combobox-control/stories/index.js
  packages/components/src/combobox-control/stories/index.tsx
  packages/components/src/combobox-control/styles.ts
  packages/components/src/combobox-control/test/index.tsx
  packages/components/src/combobox-control/types.ts
  packages/components/tsconfig.json
Labels: [Package] Components

#47788 Components: polish heading level component APIs
  packages/components/CHANGELOG.md
  packages/components/src/color-palette/README.md
  packages/components/src/color-palette/types.ts
  packages/components/src/gradient-picker/README.md
  packages/components/src/palette-edit/index.js
  packages/components/src/tools-panel/tools-panel-header/README.md
  packages/components/src/tools-panel/tools-panel-header/hook.ts
  packages/components/src/tools-panel/tools-panel/README.md
  packages/components/src/tools-panel/tools-panel/hook.ts
  packages/components/src/tools-panel/types.ts
  packages/edit-site/src/components/global-styles/color-palette-panel.js
  packages/edit-site/src/components/global-styles/gradients-palette-panel.js
Labels: [Type] Developer Documentation, [Package] Components, [Type] New API

#47766 Image: Allow deprecated blocks to render border-radius
  packages/block-library/src/image/editor.scss
  packages/block-library/src/image/style.scss
Labels: [Type] Bug, [Block] Image, [Feature] Design Tools

#46881 Fixed incorrect type annotations in @wordpress/data
  packages/data/README.md
  packages/data/src/components/use-dispatch/use-dispatch.js
  packages/data/src/components/use-select/index.js
  packages/data/src/index.js
  packages/data/src/redux-store/index.js
Labels: [Type] Code Quality, [Package] Data

#47773 Docs: Fix the incorrect link to eslint-plugin-jsx-a11y
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/README.md
Labels: [Type] Developer Documentation

#47749 HTML API: Move into 6.2 Compat Folder since inclusion in Core
  lib/compat/wordpress-6.2/html-api/class-wp-html-attribute-token.php
  lib/compat/wordpress-6.2/html-api/class-wp-html-span.php
  lib/compat/wordpress-6.2/html-api/class-wp-html-tag-processor.php
  lib/compat/wordpress-6.2/html-api/class-wp-html-text-replacement.php
  lib/experimental/html/wp-html.php
  lib/load.php
  phpcs.xml.dist
  phpunit/html/wp-html-tag-processor-bookmark-test.php
  phpunit/html/wp-html-tag-processor-test.php
Labels: [Feature] Block API, Backport from WordPress Core

#47811 Core Data: Fix ESLint warnings for the hooks directory
  packages/core-data/src/hooks/use-entity-record.ts
  packages/core-data/src/hooks/use-entity-records.ts
  packages/core-data/src/hooks/use-resource-permissions.ts
Labels: [Type] Code Quality, [Package] Core data

#47505 Popover: lock the __experimentalPopoverPositionToPlacement function
  packages/block-editor/src/components/url-popover/index.js
  packages/components/CHANGELOG.md
  packages/components/src/experiments.js
  packages/components/src/index.js
Labels: [Type] Code Quality, [Package] Components, [Package] Block editor

#47180 `MenuItemsChoice`: Refactor to TypeScript
  packages/components/CHANGELOG.md
  packages/components/src/menu-items-choice/index.js
  packages/components/src/menu-items-choice/index.tsx
  packages/components/src/menu-items-choice/stories/index.tsx
  packages/components/src/menu-items-choice/types.ts
  packages/components/tsconfig.json
Labels: [Type] Code Quality, [Package] Components

#47004 Zoom out mode: scale iframe instead of contents
  packages/block-editor/src/components/block-popover/inbetween.js
  packages/block-editor/src/components/iframe/index.js
  packages/components/CHANGELOG.md
  packages/components/src/popover/README.md
  packages/components/src/popover/index.tsx
  packages/components/src/popover/overlay-middlewares.tsx
  packages/components/src/popover/stories/index.tsx
  packages/components/src/popover/types.ts
  packages/components/src/popover/utils.ts
  packages/edit-site/src/components/block-editor/editor-canvas.js
Labels: [Package] Components, [Package] Edit Site

#47824 Navigation: Remove the IS_GUTENBERG_PLUGIN check around block_core_navigation_parse_blocks_from_menu_items
  packages/block-library/src/navigation/index.php
Labels: [Type] Bug, [Block] Navigation, Backport to WP Beta/RC

#47792 Mobile - Fix Experiments native variant breakage
  packages/block-editor/src/experiments.native.js
Labels: Mobile App - i.e. Android or iOS

#47823 Plugin: Fix the 'WP_HTML_Tag_Processor' file path
  lib/load.php
Labels: [Type] Bug, Gutenberg Plugin

#47754 NavigatorButton: Reuse Button types
  packages/components/CHANGELOG.md
  packages/components/src/button/types.ts
  packages/components/src/navigator/navigator-button/README.md
  packages/components/src/navigator/types.ts
Labels: [Type] Code Quality, [Package] Components

#47683 Enable undo after creating a new menu
  packages/block-library/src/navigation/edit/index.js
  packages/block-library/src/navigation/edit/use-create-navigation-menu.js
Labels: [Type] Bug, [Block] Navigation

#47832 Cherry-pick CLI: Fix the default label to match the documentation
  bin/cherry-pick.mjs
Labels: [Type] Bug, [Type] Project Management, Developer Experience

#47835 Lodash: Remove from `useDispatchWithMap()`
  packages/data/src/components/use-dispatch/use-dispatch-with-map.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Data

#47373 ColorPalette: Ensure text label contrast checking works with CSS variables
  packages/components/CHANGELOG.md
  packages/components/src/color-palette/index.tsx
  packages/components/src/color-palette/test/utils.ts
  packages/components/src/color-palette/utils.ts
Labels: [Type] Bug, [Package] Components

#47831 Dependency Extraction Webpack Plugin: Update json2php dependency
  package-lock.json
  packages/dependency-extraction-webpack-plugin/CHANGELOG.md
  packages/dependency-extraction-webpack-plugin/package.json
Labels: [Type] Bug, [Package] Dependency Extraction Webpack Plugin

#47828 Navigation Block inspector: fix link UI popover opening on links that have a url
  packages/block-editor/src/components/off-canvas-editor/block-contents.js
Labels: [Type] Bug, [Block] Navigation

#47790 Lodash: Refactor persistence plugin away from `_.merge()`
  package-lock.json
  packages/data/package.json
  packages/data/src/plugins/persistence/index.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Data

#44574 Button: Adopt support for border color, style, and width
  packages/block-library/src/button/block.json
  packages/block-library/src/button/editor.scss
  packages/block-library/src/button/style.scss
Labels: [Type] Enhancement, [Block] Buttons, [Feature] Design Tools

#47851 Site editor: specify active state color for template navigation button
  packages/edit-site/src/components/sidebar-navigation-screen/style.scss
Labels: [Type] Bug, [Feature] Site Editor

#47727 ToolsPanel: Display optional items when values are updated externally
  packages/block-editor/src/components/block-actions/index.js
  packages/components/CHANGELOG.md
  packages/components/src/tools-panel/test/index.js
  packages/components/src/tools-panel/tools-panel/hook.ts
Labels: [Type] Bug, [Feature] Blocks, Backport to WP Beta/RC, [Feature] Design Tools

#47781 Global Styles: Move more link about custom CSS to part of description
  packages/edit-site/src/components/global-styles/screen-css.js
  packages/edit-site/src/components/global-styles/style.scss
Labels: Global Styles, [Feature] Site Editor

#47686 File block: Re-add editor styles for classic themes
  packages/block-library/src/classic.scss
Labels: Backwards Compatibility, [Block] File, Backport to WP Beta/RC

#47160 Migrate from TextControl to NumberControl to remove margin overrides
  packages/block-editor/src/components/image-size-control/index.js
  packages/block-editor/src/components/image-size-control/style.scss
  packages/editor/src/components/page-attributes/order.js
  packages/editor/src/components/page-attributes/style.scss
  packages/editor/src/style.scss
  packages/format-library/src/image/index.js
  packages/format-library/src/image/style.scss
Labels: [Type] Enhancement

#41870 Add color block support to File block
  docs/reference-guides/core-blocks.md
  packages/block-library/src/file/block.json
  packages/block-library/src/file/style.scss
Labels: [Type] Enhancement, [Block] File

#47617 Update image block margins on RTL
  packages/block-library/src/image/style.scss
Labels: [Type] Bug, [Block] Image

#47848 Lodash: Remove from `@wordpress/data`
  package-lock.json
  packages/data/README.md
  packages/data/package.json
  packages/data/src/redux-store/index.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Data

#47875 Sync: Widget import changes from the core
  lib/compat/wordpress-6.2/theme.php
  lib/compat/wordpress-6.2/widgets.php
Labels: [Type] Task, [Feature] Themes

#47825 Add integration tests for NavigationMenuSelector component
  packages/block-library/src/navigation/edit/navigation-menu-selector.js
  packages/block-library/src/navigation/edit/test/navigation-menu-selector.js
Labels: [Block] Navigation

#47878 ESLint: Change `jsdoc/check-line-alignment` from `warn` to `error`
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/configs/jsdoc.js
Labels: [Type] Code Quality, [Package] ESLint plugin

#47744 Navigation block e2e tests: default to my only existing menu
  test/e2e/specs/editor/blocks/navigation.spec.js
Labels: Automated Testing, [Block] Navigation

#47843 Refactor: usePatternsCategories: simplify category sorting
  packages/block-editor/src/components/inserter/block-patterns-tab.js
Labels: [Type] Code Quality, [Feature] Patterns

#47795 Term sorting is incorrect in flat term selector
  packages/editor/src/components/post-taxonomies/flat-term-selector.js
Labels: [Type] Enhancement, [Feature] Document Settings

#47855 Site Editor: Append template type and name to the site editor page title
  packages/edit-site/src/components/editor/index.js
Labels: [Type] Bug, [Type] Enhancement, Accessibility (a11y), [Feature] Site Editor

#47864 ToolsPanel: Ensure display of optional items when panel id is null
  packages/components/CHANGELOG.md
  packages/components/src/tools-panel/test/index.js
  packages/components/src/tools-panel/tools-panel-item/hook.ts
Labels: [Type] Bug, [Feature] Design Tools

#44964 Post excerpt: Add excerpt length control
  docs/reference-guides/core-blocks.md
  packages/block-library/src/post-excerpt/block.json
  packages/block-library/src/post-excerpt/edit.js
  packages/block-library/src/post-excerpt/index.php
  test/integration/fixtures/blocks/core__post-excerpt.json
  test/integration/fixtures/blocks/core__query__deprecated-3.json
Labels: [Type] Enhancement, [Block] Post Excerpt

#47899 Add missing period in keyboard shortcut descriptions
  packages/customize-widgets/src/components/keyboard-shortcut-help-modal/config.js
  packages/edit-post/src/components/keyboard-shortcut-help-modal/config.js
  packages/edit-post/src/components/keyboard-shortcut-help-modal/test/__snapshots__/index.js.snap
  packages/edit-site/src/components/keyboard-shortcut-help-modal/config.js
  packages/edit-widgets/src/components/keyboard-shortcut-help-modal/config.js
Labels: [Type] Code Quality, Backport to WP Beta/RC

#47898 Add an aria label to the site save dialog
  packages/edit-site/src/components/save-panel/index.js
Labels: Accessibility (a11y), [Feature] Site Editor

#47903 Image: Simplify the method for getting block editor settings
  packages/block-library/src/image/image.js
Labels: [Type] Code Quality, [Block] Image

#47356 Extract the Global Styles Typography Panel into block-editor package
  packages/block-editor/src/components/font-appearance-control/index.js
  packages/block-editor/src/components/global-styles/hooks.js
  packages/block-editor/src/components/global-styles/index.js
  packages/block-editor/src/components/global-styles/typography-panel.js
  packages/block-editor/src/hooks/font-appearance.js
  packages/block-editor/src/hooks/font-family.js
  packages/block-editor/src/hooks/font-size.js
  packages/block-editor/src/hooks/index.js
  packages/block-editor/src/hooks/letter-spacing.js
  packages/block-editor/src/hooks/line-height.js
  packages/block-editor/src/hooks/text-decoration.js
  packages/block-editor/src/hooks/text-transform.js
  packages/block-editor/src/hooks/typography.js
  packages/edit-site/src/components/global-styles/color-utils.js
  packages/edit-site/src/components/global-styles/context-menu.js
  packages/edit-site/src/components/global-styles/screen-block-list.js
  packages/edit-site/src/components/global-styles/typography-panel.js
Labels: Global Styles, [Feature] Design Tools

#47913 Remove obsolete failing test for Font Size Picker
  test/e2e/specs/editor/various/font-size-picker.spec.js
Labels: [Package] E2E Tests

#47911 Remove BaseField component
  docs/manifest.json
  packages/components/src/base-field/README.md
  packages/components/src/base-field/hook.ts
  packages/components/src/base-field/index.ts
  packages/components/src/base-field/styles.ts
  packages/components/src/base-field/test/__snapshots__/index.tsx.snap
  packages/components/src/base-field/test/index.tsx
  packages/components/src/base-field/types.ts
Labels: [Type] Code Quality, [Package] Components

#47311 Prepend HTTP to Buttons block links when missing protocol
  packages/block-library/src/button/edit.js
  test/e2e/specs/editor/blocks/buttons.spec.js
Labels: [Block] Buttons, [Feature] Link Editing

#46248 Add: Modal to choose a start pattern on new templates.
  lib/compat/wordpress-6.1/rest-api.php
  lib/compat/wordpress-6.2/class-gutenberg-rest-templates-controller-6-2.php
  lib/compat/wordpress-6.2/rest-api.php
  lib/load.php
  packages/edit-site/src/components/add-new-template/new-template.js
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/start-template-options/index.js
  packages/edit-site/src/components/start-template-options/style.scss
  packages/edit-site/src/style.scss
  phpunit/class-gutenberg-rest-templates-controller-test.php
  test/emptytheme/templates/tag.html
Labels: [Feature] Site Editor

#47651 Page List: Respect the selected parent page when converting to a list of navigation links
  packages/block-library/src/page-list/edit.js
  packages/block-library/src/page-list/test/convert-to-links-modal.js
  packages/block-library/src/page-list/use-convert-to-navigation-links.js
Labels: [Block] Page List

#47927 Add: Modal to choose a start pattern on new templates. Take 2.
  lib/compat/wordpress-6.1/rest-api.php
  lib/compat/wordpress-6.2/class-gutenberg-rest-templates-controller-6-2.php
  lib/compat/wordpress-6.2/rest-api.php
  lib/load.php
  packages/edit-site/src/components/add-new-template/new-template.js
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/start-template-options/index.js
  packages/edit-site/src/components/start-template-options/style.scss
  packages/edit-site/src/style.scss
  phpunit/class-gutenberg-rest-templates-controller-test.php
  test/emptytheme/templates/tag.html
Labels: [Type] Bug

#24914 Enable react-hooks/exhaustive-deps eslint rules
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/configs/react.js
Labels: [Type] Code Quality

#47906 [Block Library - Cover]: Ensure `url` is not malformed due to sanitization through `wp_kses`
  packages/block-library/src/cover/edit/index.js
Labels: [Type] Bug, [Block] Cover, Backport to WP Beta/RC, [Feature] Pattern Directory

#47844 Update: Make OffCanvasEditor use LeafMoreMenu by default.
  packages/block-editor/src/components/off-canvas-editor/leaf-more-menu.js
  packages/block-editor/src/private-apis.js
  packages/block-library/src/navigation/edit/menu-inspector-controls.js
  packages/edit-site/src/components/navigation-inspector/navigation-menu.js
Labels: [Type] Feature

#47910 Navigator: add more pattern matching tests, refine existing tests
  packages/components/CHANGELOG.md
  packages/components/src/navigator/test/index.tsx
Labels: [Type] Code Quality, [Package] Components, Backport to WP Beta/RC

#47932 Site Editor: Fix custom Template Parts rename action
  packages/edit-site/src/components/list/actions/rename-menu-item.js
Labels: [Type] Bug, [Package] Edit Site, [Feature] Site Editor

#47940 Add: database credentials to wp-env docs
  packages/env/README.md
Labels: [Type] Enhancement, [Type] Developer Documentation, First-time Contributor

#47854 Add aspect-ratio to post featured image block
  docs/reference-guides/core-blocks.md
  lib/compat/wordpress-6.2/blocks.php
  packages/block-editor/src/components/image-editor/aspect-ratio-dropdown.js
  packages/block-library/src/post-featured-image/block.json
  packages/block-library/src/post-featured-image/dimension-controls.js
  packages/block-library/src/post-featured-image/edit.js
  packages/block-library/src/post-featured-image/index.php
Labels: [Type] Feature, [Feature] Design Tools

#47953 [Documentation]: Minor updates in Private APIs
  docs/contributors/code/coding-guidelines.md
  packages/private-apis/README.md
Labels: [Type] Developer Documentation

#47958 Docs: Don't recommend using short array syntax in WP_HTML_Tag_Processor
  lib/compat/wordpress-6.2/html-api/class-wp-html-tag-processor.php
Labels: Backport to WP Beta/RC

#47912 Update deps for the useEffect that creates navigation menus
  packages/block-library/src/navigation/edit/index.js
  packages/block-library/src/navigation/edit/unsaved-inner-blocks.js
Labels: [Type] Regression, [Block] Navigation, Backport to WP Beta/RC

#47938 Performance suite: track Largest Contentful Paint in the front-end
  bin/plugin/commands/performance.js
  packages/e2e-tests/specs/performance/front-end-block-theme.test.js
  packages/e2e-tests/specs/performance/front-end-classic-theme.test.js
Labels: [Type] Build Tooling, [Type] Performance

#47965 Front-end classic performance test: set TwentyTwentyOne when running in isolation
  packages/e2e-tests/specs/performance/front-end-classic-theme.test.js
Labels: [Type] Build Tooling, [Type] Code Quality

#47955 Migrate Heading block tests to Playwright
  packages/e2e-tests/specs/editor/blocks/__snapshots__/heading.test.js.snap
  packages/e2e-tests/specs/editor/blocks/heading.test.js
  test/e2e/specs/editor/blocks/heading.spec.js
Labels: Automated Testing

#45207 Navigation: Add warning test
  test/e2e/specs/editor/blocks/navigation.spec.js
Labels: [Block] Navigation, [Package] E2E Tests

#47926 Fix clicking on the toggle button not closing the block inserter
  packages/e2e-test-utils-playwright/src/editor/get-blocks.ts
  packages/edit-post/src/components/header/header-toolbar/index.js
  packages/edit-site/src/components/header-edit-mode/index.js
  test/e2e/specs/editor/various/inserting-blocks.spec.js
  test/e2e/specs/site-editor/site-editor-inserter.spec.js
Labels: [Type] Bug, [Feature] Inserter, Backport to WP Beta/RC

#47893 SelectControl: Fix `multiple` prop styling
  packages/components/CHANGELOG.md
  packages/components/src/dimension-control/test/__snapshots__/index.test.js.snap
  packages/components/src/select-control/README.md
  packages/components/src/select-control/index.tsx
  packages/components/src/select-control/style.scss
  packages/components/src/select-control/styles/select-control-styles.ts
  packages/components/src/select-control/types.ts
Labels: [Type] Bug, [Package] Components, Backport to WP Beta/RC

#47889 E2E perf tests: run each test in a separate page
  packages/e2e-tests/config/setup-performance-test.js
  packages/e2e-tests/specs/performance/post-editor.test.js
  packages/e2e-tests/specs/performance/site-editor.test.js
Labels: [Type] Enhancement, [Type] Performance, Needs Testing

#47094 Performance: Avoid string-allocation on keypress with inputRule
  packages/format-library/src/code/index.js
Labels: [Type] Performance, [Package] Format library

#47967 Block Heading Dropdown - Add support for mobile
  packages/block-editor/src/components/block-heading-level-dropdown/heading-level-icon.js
  packages/block-editor/src/components/block-heading-level-dropdown/index.js
  packages/block-editor/src/components/block-heading-level-dropdown/index.native.js
  packages/block-editor/src/components/index.native.js
Labels: Mobile App - i.e. Android or iOS
