Repository WordPress/gutenberg, pull requests merged in 2023-06, with the labels that each got.

#51146 Fluid typography: ensure max viewport width is used in the editor
  packages/block-editor/src/components/global-styles/test/typography-utils.js
  packages/block-editor/src/components/global-styles/typography-utils.js
  packages/block-editor/src/components/global-styles/use-global-styles-output.js
  packages/block-editor/src/components/global-styles/utils.js
  phpunit/block-supports/typography-test.php
  schemas/json/theme.json
Labels: [Type] Bug, Global Styles, [Feature] Typography

#51041 Replace react-native-hr library
  package-lock.json
  packages/block-library/src/more/edit.native.js
  packages/block-library/src/nextpage/edit.native.js
  packages/primitives/src/horizontal-rule/index.native.js
  packages/primitives/src/horizontal-rule/styles.native.scss
  packages/react-native-editor/package.json
  test/native/__mocks__/react-native-hr/index.js
  test/native/setup.js
Labels: Mobile App - i.e. Android or iOS, Mobile App - Automation

#51130 Remove the insert.ref field from insertUsage data
  packages/block-editor/src/store/reducer.js
  packages/block-editor/src/store/test/reducer.js
Labels: [Type] Code Quality

#51152 Rename directives suffix character and island directive in the Interactivity API
  lib/experimental/interactivity-api/blocks.php
  packages/block-library/src/image/index.php
  packages/block-library/src/utils/interactivity/constants.js
  packages/block-library/src/utils/interactivity/directives.js
  packages/block-library/src/utils/interactivity/hydration.js
  packages/block-library/src/utils/interactivity/vdom.js
Labels: [Block] Image, [Block] File, [Block] Navigation, [Feature] Interactivity API

#51153 Fix styling of actions in site editor navigation sidebar
  packages/edit-site/src/components/sidebar-navigation-screen-global-styles/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-page/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-template/index.js
  packages/edit-site/src/components/sidebar-navigation-screen/index.js
  packages/edit-site/src/components/sidebar-navigation-screen/style.scss
Labels: [Feature] Site Editor

#51123 Prevent freeform and shortcode blocks from converting HTML entities
  packages/block-library/src/freeform/block.json
  packages/block-library/src/shortcode/block.json
  packages/e2e-tests/specs/editor/various/invalid-block.test.js
Labels: [Type] Bug, [Feature] Parsing

#51013 Update README.md on SlotFills to add info + example about the prop `fillProps`
  packages/components/src/slot-fill/README.md
Labels: [Type] Developer Documentation

#51158 PreferenceToggleMenuItem: add missing useSelect dependency
  packages/preferences/src/components/preference-toggle-menu-item/index.js
Labels: [Type] Code Quality

#51098 Lodash: Remove more `_.isEmpty()` from block editor
  packages/block-editor/src/components/color-palette/with-color-context.js
  packages/block-editor/src/components/colors-gradients/control.js
  packages/block-editor/src/components/colors-gradients/panel-color-gradient-settings.js
  packages/block-editor/src/components/global-styles/get-block-css-selector.js
  packages/block-editor/src/components/global-styles/use-global-styles-output.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Block editor

#51159 mapValues: use fromEntries, avoid re-creating object in each reducer call
  packages/data/src/redux-store/index.js
Labels: [Type] Code Quality

#51096 Lodash: Remove `_.isEmpty()` from `Fill` props
  packages/block-editor/src/components/block-controls/fill.js
  packages/block-editor/src/components/inspector-controls/fill.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Block editor

#50147 Post Title: improve preview on the editor site
  docs/reference-guides/core-blocks.md
  packages/block-library/src/post-title/block.json
  packages/block-library/src/post-title/edit.js
  packages/e2e-tests/specs/editor/blocks/post-title.test.js
Labels: [Type] Enhancement, [Package] Block library, Good First Review, [Block] Post Title

#51160 mapSelectorsWithResolvers: don't init hasResolver, mapSelectors already did it
  packages/data/src/redux-store/index.js
Labels: [Type] Code Quality, [Package] Data

#51103 [RNMobile] Avoid "429 - Too Many Request" error when fetching translations
  packages/react-native-editor/bin/i18n-translations-download.js
Labels: Mobile App - i.e. Android or iOS

#51165 Query Pagination: address feedback from #50779
  packages/block-library/src/query-pagination-next/edit.js
  packages/block-library/src/query-pagination-previous/edit.js
  packages/block-library/src/query-pagination/edit.js
Labels: [Block] Query Pagination

#51161 Move action-binding code to a bindAction function
  packages/data/src/redux-store/index.js
Labels: [Package] Data

#51166 Data: fix a bug where private selectors on a store with resolvers are inaccessible
  packages/data/src/redux-store/index.js
  packages/data/src/test/privateAPIs.js
Labels: [Type] Bug, [Package] Data

#51157 Fix headings in the View component readme.
  packages/components/src/view/README.md
Labels: Accessibility (a11y), [Type] Developer Documentation

#51178 [Fonts API] Make local font asset file URL absolute
  lib/experimental/fonts-api/class-wp-fonts-provider-local.php
Labels: [Type] Bug, [Type] Regression, [Feature] Fonts API, Backport to Gutenberg Minor Release

#51079 Add inert attribute to disabled blocks that have only disabled descendants
  packages/block-editor/src/components/block-list/use-block-props/index.js
  packages/block-editor/src/store/private-selectors.js
  packages/block-editor/src/store/test/private-selectors.js
Labels: [Type] Bug, [Package] Block editor

#51148 Improvements to how blocks with a 'disabled' editing mode behave
  packages/block-editor/src/components/block-list-appender/index.js
  packages/block-editor/src/components/block-list/content.scss
  packages/block-editor/src/store/private-selectors.js
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/private-selectors.js
  packages/block-editor/src/store/test/selectors.js
Labels: [Type] Bug, [Package] Block editor

#51185 Make getBlockEditingMode() return 'default' when parent is 'contentOnly'
  packages/block-editor/src/store/private-selectors.js
  packages/block-editor/src/store/test/private-selectors.js
Labels: [Type] Performance, [Package] Block editor

#50912 Disable block supports derived design tools when Blocking Editing Mode is not `default`
  packages/block-editor/src/components/block-inspector/index.js
  packages/block-editor/src/components/inspector-controls-tabs/index.js
  packages/block-editor/src/components/inspector-controls-tabs/use-inspector-controls-tabs.js
  packages/block-editor/src/hooks/anchor.js
  packages/block-editor/src/hooks/custom-class-name.js
  packages/block-editor/src/hooks/layout.js
  packages/block-editor/src/hooks/style.js
  packages/edit-site/src/hooks/push-changes-to-global-styles/index.js
Labels: [Feature] Site Editor

#50857 Site Editor: Add ability to focus on editing a page's content vs the page's template
  docs/reference-guides/data/data-core-edit-site.md
  packages/block-library/src/navigation/editor.scss
  packages/block-library/src/post-title/edit.js
  packages/e2e-tests/specs/performance/site-editor.test.js
  packages/e2e-tests/specs/site-editor/settings-sidebar.test.js
  packages/edit-site/src/components/block-editor/index.js
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/header-edit-mode/document-actions/index.js
  packages/edit-site/src/components/header-edit-mode/document-actions/style.scss
  packages/edit-site/src/components/page-content-lock/constants.js
  packages/edit-site/src/components/page-content-lock/index.js
  packages/edit-site/src/components/page-content-lock/use-disable-non-content-blocks.js
  packages/edit-site/src/components/page-content-lock/use-page-content-lock-notifications.js
  packages/edit-site/src/components/sidebar-edit-mode/index.js
  packages/edit-site/src/components/sidebar-edit-mode/page-panels/content-blocks-list.js
  packages/edit-site/src/components/sidebar-edit-mode/page-panels/index.js
  packages/edit-site/src/components/sidebar-edit-mode/page-panels/style.scss
  packages/edit-site/src/components/sidebar-edit-mode/settings-header/index.js
  packages/edit-site/src/components/sidebar-edit-mode/sidebar-card/index.js
  packages/edit-site/src/components/sidebar-edit-mode/sidebar-card/style.scss
  packages/edit-site/src/components/sidebar-edit-mode/template-panel/index.js
  packages/edit-site/src/components/sidebar-edit-mode/template-panel/last-revision.js
  packages/edit-site/src/components/sidebar-edit-mode/template-panel/style.scss
  packages/edit-site/src/components/sidebar-edit-mode/template-panel/template-actions.js
  packages/edit-site/src/components/sidebar-edit-mode/template-panel/template-areas.js
  packages/edit-site/src/store/actions.js
  packages/edit-site/src/store/reducer.js
  packages/edit-site/src/store/selectors.js
  packages/edit-site/src/store/test/actions.js
  packages/edit-site/src/store/test/reducer.js
  packages/edit-site/src/store/test/selectors.js
  packages/edit-site/src/style.scss
Labels: [Type] Feature, [Feature] Site Editor

#51139 Mobile Release v1.96.1
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS

#51174 Use getBlockType selector in `BlockDraggable` component
  packages/block-editor/src/components/block-draggable/index.js
Labels: [Type] Code Quality

#51137 Term Description: Handle default margin styles
  packages/block-library/src/style.scss
  packages/block-library/src/term-description/style.scss
Labels: [Block] Term Description

#51193 Hide the save draft button for published posts
  packages/editor/src/components/post-saved-state/index.js
Labels: [Type] Bug, [Feature] Saving

#51169 Marks the selectors and actions of the commands store as a public API
  packages/commands/README.md
  packages/commands/src/hooks/use-command-context.js
  packages/commands/src/index.js
  packages/commands/src/lock-unlock.js
  packages/commands/src/private-apis.js
  packages/commands/src/store/actions.js
  packages/commands/src/store/index.js
  packages/commands/src/store/private-actions.js
  packages/edit-post/src/components/header/document-title/index.js
  packages/edit-site/src/components/header-edit-mode/document-actions/index.js
  packages/edit-site/src/components/site-hub/index.js
Labels: [Feature] Extensibility, [Type] New API

#51162 Scripts: Optimize updating render paths when developing blocks
  packages/scripts/CHANGELOG.md
  packages/scripts/config/webpack.config.js
Labels: [Type] Enhancement, [Package] Scripts

#51208 Update React docs link for propTypes
  docs/contributors/code/coding-guidelines.md
Labels: [Type] Developer Documentation

#50487 Search Block: add button only with expandable input
  docs/reference-guides/core-blocks.md
  packages/block-library/src/search/block.json
  packages/block-library/src/search/edit.js
  packages/block-library/src/search/index.php
  packages/block-library/src/search/style.scss
  packages/block-library/src/search/view.js
  test/integration/fixtures/blocks/core__search.json
  test/integration/fixtures/blocks/core__search__custom-text.json
Labels: [Type] Enhancement, [Block] Search

#51199 iframe compat layer: clarify how dependencies related to inline styles work
  packages/block-editor/src/components/iframe/use-compatibility-styles.js
Labels: [Type] Code Quality

#51106 Docs: Remove Block Grammar doc and all corresponding internal links.
  bin/generate-public-grammar.js
  docs/contributors/code/grammar.md
  docs/manifest.json
  docs/toc.json
  packages/block-serialization-default-parser/README.md
  packages/block-serialization-spec-parser/README.md
Labels: [Type] Developer Documentation

#51189 Browse Mode: Remove horizontal scrollbar during screen transitions
  packages/edit-site/src/components/sidebar/style.scss
Labels: [Type] Bug, [Feature] Site Editor

#51076 [RNMobile] Fix Gallery v1 caption selector
  packages/block-library/src/gallery/v1/save.js
Labels: Mobile App - i.e. Android or iOS, Mobile App - Automation

#51163 ListView: Converted additional content render into a Component
  packages/block-editor/src/components/list-view/block-contents.js
  packages/block-editor/src/components/list-view/index.js
  packages/block-library/src/navigation/edit/menu-inspector-controls.js
Labels: [Type] Enhancement, [Feature] List View

#51155 Navigation: Memoize link value passed to the LinkControl
  packages/block-library/src/navigation-link/link-ui.js
Labels: [Type] Bug, [Block] Navigation, [Feature] Link Editing

#51036 Add tests to `useIsDirty`
  packages/editor/src/components/entities-saved-states/test/use-is-dirty.js
Labels: Automated Testing, [Package] Editor

#51224 DocumentActions: Animate between page and template mode
  packages/edit-site/src/components/header-edit-mode/document-actions/index.js
  packages/edit-site/src/components/header-edit-mode/document-actions/style.scss
Labels: [Type] Enhancement, [Feature] Site Editor

#50565 Create new page
  packages/edit-site/src/components/add-new-page/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-pages/index.js
  test/e2e/specs/site-editor/pages.spec.js
Labels: First-time Contributor

#51149 Styles Screen: Add link to global styles revisions
  packages/edit-site/src/components/global-styles/ui.js
  packages/edit-site/src/components/sidebar-navigation-screen-global-styles/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-global-styles/style.scss
  packages/edit-site/src/components/sidebar-navigation-screen-page/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-page/style.scss
  packages/edit-site/src/components/sidebar-navigation-screen/index.js
  packages/edit-site/src/components/sidebar-navigation-screen/style.scss
  packages/edit-site/src/components/sidebar/style.scss
  packages/edit-site/src/style.scss
Labels: [Type] Enhancement, Global Styles

#51188 Fluid typography: extract logic to derive fluid typography settings
  packages/block-editor/src/components/global-styles/test/typography-utils.js
  packages/block-editor/src/components/global-styles/typography-utils.js
  packages/block-editor/src/components/global-styles/use-global-styles-output.js
  packages/block-editor/src/components/global-styles/utils.js
Labels: [Type] Code Quality, [Feature] Typography

#50567 Directly save if only changing current context
  packages/edit-site/src/components/save-button/index.js
  packages/edit-site/src/components/save-hub/index.js
  packages/edit-site/src/components/save-hub/style.scss
  packages/edit-site/src/components/sidebar/index.js
Labels: First-time Contributor

#51117 Link Control: Fix the 'Save' button's disabled state
  packages/block-editor/src/components/link-control/index.js
  packages/block-editor/src/components/link-control/test/index.js
  packages/e2e-tests/specs/editor/various/links.test.js
Labels: [Type] Bug, Accessibility (a11y), [Feature] Link Editing

#50167 Post Excerpt: improve preview on the editor site
  docs/reference-guides/core-blocks.md
  packages/block-library/src/post-excerpt/block.json
  packages/block-library/src/post-excerpt/edit.js
Labels: [Type] Enhancement, [Package] Block library, Good First Review, [Block] Post Excerpt

#51239 Image Lightbox: Add a reset button.
  packages/block-editor/src/hooks/behaviors.js
  test/e2e/specs/editor/various/behaviors.spec.js
Labels: [Type] Enhancement, [Block] Image, [Feature] Interactivity API

#51197 BorderControl: Improve color code readability in aria-label
  packages/components/CHANGELOG.md
  packages/components/src/border-control/border-control-dropdown/component.tsx
  packages/components/src/border-control/test/index.js
Labels: Accessibility (a11y), [Package] Components

#51268 Docs: Fix text in readme.
  README.md
Labels: [Type] Developer Documentation, First-time Contributor

#51241 Rename syntax to double hyphen and data-wp-interactive
  packages/interactivity/src/constants.js
  packages/interactivity/src/directives.js
  packages/interactivity/src/hydration.js
  packages/interactivity/src/vdom.js
Labels: [Type] Experimental, [Feature] Interactivity API

#51229 Interactivity API: initial support for SSR
  lib/experimental/interactivity-api/blocks.php
  lib/experimental/interactivity-api/class-wp-directive-context.php
  lib/experimental/interactivity-api/class-wp-directive-processor.php
  lib/experimental/interactivity-api/directive-processing.php
  lib/experimental/interactivity-api/directives/wp-bind.php
  lib/experimental/interactivity-api/directives/wp-class.php
  lib/experimental/interactivity-api/directives/wp-context.php
  lib/experimental/interactivity-api/directives/wp-style.php
  lib/experimental/interactivity-api/directives/wp-text.php
  lib/experimental/interactivity-api/store.php
  lib/load.php
  phpunit/experimental/interactivity-api/class-wp-directive-processor-test.php
  phpunit/experimental/interactivity-api/class-wp-interactivity-store-test.php
  phpunit/experimental/interactivity-api/directive-processing-test.php
  phpunit/experimental/interactivity-api/directives/wp-bind-test.php
  phpunit/experimental/interactivity-api/directives/wp-class-test.php
  phpunit/experimental/interactivity-api/directives/wp-context-test.php
  phpunit/experimental/interactivity-api/directives/wp-style-test.php
  phpunit/experimental/interactivity-api/directives/wp-text-test.php
Labels: [Type] Experimental, [Feature] Interactivity API

#51266 Remove experimental flag from navigation and file blocks to use the Interactivity API (as private)
  lib/experimental/interactivity-api/blocks.php
  lib/experiments-page.php
  lib/load.php
  packages/block-library/src/file/block.json
  packages/block-library/src/file/index.php
  packages/block-library/src/file/view.js
  packages/block-library/src/navigation/block.json
  packages/block-library/src/navigation/index.php
  packages/block-library/src/navigation/interactivity.js
  packages/block-library/src/navigation/view-modal.js
  packages/block-library/src/navigation/view.js
  phpunit/blocks/render-block-file-test.php
Labels: [Feature] Interactivity API

#51232 Move the directives and markup needed for the lightbox to block supports
  docs/reference-guides/core-blocks.md
  lib/block-supports/behaviors.php
  lib/load.php
  packages/block-editor/src/hooks/behaviors.js
  packages/block-library/src/image/block.json
  packages/block-library/src/image/index.php
Labels: [Feature] Interactivity API

#51278 Image lightbox: Add support for external urls in the lightbox
  lib/block-supports/behaviors.php
Labels: [Block] Image, [Feature] Interactivity API

#51252 DimensionsPanel: Fix site editor error on Columns block level screen
  packages/block-editor/src/components/global-styles/dimensions-panel.js
Labels: [Type] Bug, Global Styles

#51274 Update the bottom sticky section in the site editor details panel
  packages/edit-site/src/components/sidebar-navigation-screen/style.scss
Labels: [Feature] Site Editor

#51176 Merge selector-binding code (except resolvers) into a new bindSelector function
  packages/data/src/redux-store/index.js
Labels: [Package] Data

#51264 Block Controls SlotFill: refactor to allow passing multiple contexts, including internal components context
  packages/block-editor/src/components/block-controls/fill.js
  packages/block-editor/src/components/block-controls/slot.js
  packages/block-editor/src/components/block-controls/slot.native.js
  packages/components/src/private-apis.ts
Labels: [Type] Enhancement, [Package] Block editor

#51273 Search block: refactor to use HTML Tag Processor
  packages/block-library/src/search/index.php
  packages/block-library/src/search/view.js
Labels: [Type] Enhancement, [Block] Search

#51181 Fix Navigable Toolbar initialIndex
  packages/block-editor/src/components/block-tools/selected-block-popover.js
  packages/block-editor/src/components/navigable-toolbar/index.js
Labels: [Package] Block editor, [a11y] Keyboard & Focus

#51280 Rename 'page content lock' to 'page content focus'
  docs/reference-guides/data/data-core-edit-site.md
  packages/edit-site/src/components/block-editor/index.js
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/header-edit-mode/document-actions/index.js
  packages/edit-site/src/components/page-content-focus/constants.js
  packages/edit-site/src/components/page-content-focus/disable-non-page-content-blocks.js
  packages/edit-site/src/components/page-content-focus/index.js
  packages/edit-site/src/components/page-content-focus/use-page-content-focus-notifications.js
  packages/edit-site/src/components/page-content-lock/index.js
  packages/edit-site/src/components/sidebar-edit-mode/index.js
  packages/edit-site/src/components/sidebar-edit-mode/page-panels/content-blocks-list.js
  packages/edit-site/src/components/sidebar-edit-mode/page-panels/index.js
  packages/edit-site/src/components/sidebar-edit-mode/settings-header/index.js
  packages/edit-site/src/store/actions.js
  packages/edit-site/src/store/reducer.js
  packages/edit-site/src/store/selectors.js
  packages/edit-site/src/store/test/actions.js
  packages/edit-site/src/store/test/reducer.js
  packages/edit-site/src/store/test/selectors.js
Labels: [Type] Code Quality, [Feature] Site Editor

#51285 Try providing a non-zero value for client width in image editor.
  packages/block-library/src/image/image.js
Labels: [Type] Bug, [Block] Image

#51279 Site editor: only show view site link in view mode
  packages/edit-site/src/components/site-hub/index.js
Labels: [Type] Enhancement, [Feature] Site Editor

#51051 Private actions and selectors: return stable references, expose to thunks
  packages/data/src/factory.js
  packages/data/src/redux-store/index.js
  packages/data/src/test/privateAPIs.js
Labels: [Package] Data

#51311 Query: Fix deprecation error when migrating layout
  packages/block-library/src/query/deprecated.js
Labels: [Type] Bug, [Block] Query Loop

#51094 Navigation: Fix ListView deprecation notice
  packages/block-library/src/navigation/edit/menu-inspector-controls.js
Labels: [Type] Code Quality, [Block] Navigation

#51316 Global styles revisions: ensure redirect runs once for back button
  packages/edit-site/src/components/global-styles/ui.js
Labels: [Type] Bug, Global Styles, Backport to Gutenberg RC

#51154 Use internal context system to apply toolbar variant to toolbar dropdowns
  packages/block-editor/src/components/alignment-control/ui.js
  packages/block-editor/src/components/block-alignment-control/constants.js
  packages/block-editor/src/components/block-alignment-control/ui.js
  packages/block-editor/src/components/block-alignment-matrix-control/index.js
  packages/block-editor/src/components/block-settings-menu/block-settings-dropdown.js
  packages/block-editor/src/components/block-switcher/index.js
  packages/block-editor/src/components/block-vertical-alignment-control/ui.js
  packages/block-editor/src/components/duotone-control/index.js
  packages/block-editor/src/components/image-editor/constants.js
  packages/block-editor/src/components/media-replace-flow/index.js
  packages/block-editor/src/components/preview-options/index.js
  packages/block-editor/src/components/rich-text/format-toolbar/index.js
  packages/block-editor/src/layouts/flex.js
  packages/block-library/src/buttons/edit.native.js
  packages/block-library/src/navigation/edit/leaf-more-menu.js
  packages/components/CHANGELOG.md
  packages/components/src/circular-option-picker/types.ts
  packages/components/src/dropdown-menu-v2/index.tsx
  packages/components/src/dropdown-menu-v2/styles.ts
  packages/components/src/dropdown-menu-v2/types.ts
  packages/components/src/dropdown-menu/index.tsx
  packages/components/src/dropdown-menu/stories/index.tsx
  packages/components/src/dropdown-menu/types.ts
  packages/components/src/dropdown/index.tsx
  packages/components/src/dropdown/types.ts
  packages/components/src/popover/stories/index.tsx
  packages/components/src/toolbar/toolbar-dropdown-menu/index.js
  packages/components/src/toolbar/toolbar/index.tsx
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menus/leaf-more-menu.js
Labels: [Package] Components, [Package] Block library, [Package] Block editor, [Feature] Component System

#51049 Edit Site: Add a loading timeout
  packages/edit-site/src/components/layout/hooks.js
Labels: [Type] Enhancement, Needs Design Feedback, [Type] Performance, [Package] Edit Site, [Feature] Site Editor

#51190 Latest posts: make more link consistent between frontend and editor
  packages/block-library/src/latest-posts/edit.js
  packages/block-library/src/latest-posts/index.php
Labels: [Type] Bug, [Block] Latest Posts

#51281 DRY up ContentBlocksList and BlockInspectorLockedBlocks
  packages/block-editor/src/components/block-inspector/index.js
  packages/block-editor/src/components/block-inspector/style.scss
  packages/block-editor/src/components/block-quick-navigation/index.js
  packages/block-editor/src/private-apis.js
  packages/block-editor/src/store/selectors.js
  packages/edit-site/src/components/sidebar-edit-mode/page-panels/content-blocks-list.js
  packages/edit-site/src/components/sidebar-edit-mode/page-panels/index.js
  packages/edit-site/src/components/sidebar-edit-mode/page-panels/page-content.js
Labels: [Type] Code Quality, [Feature] Site Editor, [Feature] Block Locking

#51360 PageContent: Fix unlock import
  packages/edit-site/src/components/sidebar-edit-mode/page-panels/page-content.js
Labels: [Type] Code Quality, [Feature] Site Editor

#51358 Post Template: Output number of columns as classname for backwards compatibility
  packages/block-library/src/post-template/edit.js
  packages/block-library/src/post-template/index.php
Labels: Backwards Compatibility, [Type] Regression, [Block] Post Template, [Feature] Layout

#51365 Styles Navigation Screen: close style book using location
  packages/edit-site/src/components/sidebar-navigation-screen-main/index.js
Labels: [Type] Code Quality, [Package] E2E Tests

#51352 Consolidate duplicate block tests
  test/e2e/specs/editor/various/duplicating-blocks.spec.js
Labels: [Package] E2E Tests

#51105 Focus first focusable on Link UI
  packages/block-editor/src/components/link-control/index.js
  packages/e2e-tests/specs/editor/various/links.test.js
Labels: [a11y] Keyboard & Focus, [Feature] Link Editing

#50819 Updated unstyledButton hover selector to change fill of svg and path element
  packages/components/CHANGELOG.md
  packages/components/src/item-group/styles.ts
  packages/edit-post/src/components/preferences-modal/test/__snapshots__/index.js.snap
Labels: [Feature] Inserter

#51382 Navigation: Just a simple refactor
  packages/block-library/src/navigation/edit/index.js
Labels: [Block] Navigation

#51381 Performance tests: update base point to compare
  .github/workflows/performance.yml
Labels: [Type] Performance

#51380 Mobile Release v1.97.0
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS

#51345 Post Author - don't show 0 in inspector controls
  packages/block-library/src/post-author/edit.js
Labels: Good First Review, [Block] Post Author

#51341 Add script to compile usage of experimental APIs
  bin/list-experimental-api-matches.sh
Labels: Gutenberg Plugin

#51372 Remove Details block setting field from the experiments page
  lib/experiments-page.php
Labels: [Type] Enhancement, [Block] Details

#51298 Updated getEntityRecord doc by using selector instead of dispatch
  docs/explanations/architecture/entities.md
Labels: [Type] Developer Documentation

#51288 Remove anchor support from dynamic blocks
  docs/reference-guides/block-api/block-supports.md
  docs/reference-guides/core-blocks.md
  lib/block-supports/anchor.php
  lib/load.php
  packages/block-library/src/archives/block.json
  packages/block-library/src/avatar/block.json
  packages/block-library/src/calendar/block.json
  packages/block-library/src/categories/block.json
  packages/block-library/src/comment-author-avatar/block.json
  packages/block-library/src/comment-author-name/block.json
  packages/block-library/src/comment-content/block.json
  packages/block-library/src/comment-date/block.json
  packages/block-library/src/comment-edit-link/block.json
  packages/block-library/src/comment-reply-link/block.json
  packages/block-library/src/comment-template/block.json
  packages/block-library/src/comments-pagination-next/block.json
  packages/block-library/src/comments-pagination-numbers/block.json
  packages/block-library/src/comments-pagination-previous/block.json
  packages/block-library/src/comments-pagination/block.json
  packages/block-library/src/comments/block.json
  packages/block-library/src/home-link/block.json
  packages/block-library/src/latest-comments/block.json
  packages/block-library/src/latest-posts/block.json
  packages/block-library/src/loginout/block.json
  packages/block-library/src/navigation/block.json
  packages/block-library/src/page-list/block.json
  packages/block-library/src/post-author-biography/block.json
  packages/block-library/src/post-author-name/block.json
  packages/block-library/src/post-author/block.json
  packages/block-library/src/post-comments-count/block.json
  packages/block-library/src/post-comments-form/block.json
  packages/block-library/src/post-comments-link/block.json
  packages/block-library/src/post-content/block.json
  packages/block-library/src/post-date/block.json
  packages/block-library/src/post-excerpt/block.json
  packages/block-library/src/post-featured-image/block.json
  packages/block-library/src/post-navigation-link/block.json
  packages/block-library/src/post-template/block.json
  packages/block-library/src/post-terms/block.json
  packages/block-library/src/post-title/block.json
  packages/block-library/src/query-no-results/block.json
  packages/block-library/src/query-pagination-next/block.json
  packages/block-library/src/query-pagination-numbers/block.json
  packages/block-library/src/query-pagination-previous/block.json
  packages/block-library/src/query-pagination/block.json
  packages/block-library/src/query-title/block.json
  packages/block-library/src/query/block.json
  packages/block-library/src/read-more/block.json
  packages/block-library/src/rss/block.json
  packages/block-library/src/search/block.json
  packages/block-library/src/site-logo/block.json
  packages/block-library/src/site-tagline/block.json
  packages/block-library/src/site-title/block.json
  packages/block-library/src/social-link/block.json
  packages/block-library/src/tag-cloud/block.json
  packages/block-library/src/template-part/block.json
  packages/block-library/src/term-description/block.json
Labels: [Feature] Blocks, Gutenberg Plugin, Backwards Compatibility

#51321 Fix broken links in editor documentation
  docs/contributors/code/react-native/getting-started-react-native.md
  packages/README.md
  packages/react-native-editor/__device-tests__/CONTRIBUTING.md
  packages/react-native-editor/__device-tests__/README.md
Labels: [Type] Developer Documentation

#51340 Remove pattern directory categories endpoint
  lib/compat/wordpress-6.2/rest-api.php
  lib/compat/wordpress-6.3/class-gutenberg-rest-pattern-directory-controller-6-3.php
  lib/compat/wordpress-6.3/rest-api.php
  lib/load.php
  phpunit/class-wp-rest-pattern-directory-controller-test.php
Labels: [Type] Code Quality

#50880 Allow renaming, duplication and deleting of Navigation menus from Browse Mode Sidebar
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menu/delete-modal.js
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menu/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menu/more-menu.js
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menu/rename-modal.js
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menu/style.scss
  packages/edit-site/src/style.scss
Labels: [Block] Navigation, [Feature] Navigation Menu Sidebar

#51324 Show pages with any status in the command center
  packages/core-commands/src/site-editor-navigation-commands.js
Labels: [Type] Bug

#51374 Site Editor: Fix gradient background color repeats
  packages/block-editor/src/components/iframe/index.js
Labels: Global Styles, [Feature] Site Editor

#51200 Block manager: Display a 'Reset' button when blocks are hidden to quickly enable all
  packages/edit-post/src/components/block-manager/index.js
  packages/edit-post/src/components/block-manager/style.scss
Labels: [Type] Enhancement, Needs Design Feedback, [Package] Preferences

#51420 Show actions for empty menus in Navigation on Browse mode
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menu/index.js
Labels: [Feature] Navigation Menu Sidebar

#51410 Add tests for WP_Classic_To_Block_Menu_Converter class
  lib/experimental/class-wp-classic-to-block-menu-converter.php
  phpunit/class-wp-classic-to-block-menu-converter-test.php
Labels: [Type] Code Quality

#51320 Popover: Allow legitimate 0 positions to update popover position
  packages/block-editor/src/components/url-popover/test/__snapshots__/index.js.snap
  packages/components/CHANGELOG.md
  packages/components/src/popover/index.tsx
  packages/components/src/popover/test/index.tsx
  packages/components/src/popover/utils.ts
Labels: [Type] Bug, [Feature] UI Components, [Feature] Drag and Drop, [Package] Components, [Feature] List View

#51363 MediaPlaceholder: Fix position of URLPopover
  packages/block-editor/src/components/media-placeholder/index.js
Labels: [Type] Bug, [Feature] UI Components, [Block] Image

#51317 Fix invalid Spacer markup when set to fill
  packages/block-library/src/spacer/save.js
Labels: [Type] Bug, [Block] Spacer

#51397 Clarify error message if duotone color values is incorrect
  lib/class-wp-duotone-gutenberg.php
Labels: [Package] Style Engine

#51431 Make sure post content always has correct layout.
  packages/edit-post/src/components/visual-editor/index.js
Labels: [Type] Bug, [Block] Post Content, [Feature] Layout

#50944 Block Toolbar: Fix text only label for locked blocks
  packages/block-editor/src/components/block-lock/style.scss
  packages/block-editor/src/components/block-toolbar/style.scss
Labels: [Type] Bug, Accessibility (a11y), [Package] Block editor

#51432 Improve DocumentActions performance
  packages/edit-site/src/components/header-edit-mode/document-actions/index.js
Labels: [Type] Performance, [Feature] Site Editor

#51319 Improve PagePanels performance
  packages/edit-site/src/components/sidebar-edit-mode/page-panels/edit-template.js
  packages/edit-site/src/components/sidebar-edit-mode/page-panels/index.js
Labels: [Type] Performance, [Type] Code Quality, [Feature] Site Editor

#50766 Try/table view
  packages/base-styles/_z-index.scss
  packages/edit-site/src/components/layout/index.js
  packages/edit-site/src/components/layout/style.scss
  packages/edit-site/src/components/page-library/index.js
  packages/edit-site/src/components/page-main/index.js
  packages/edit-site/src/components/page-templates/index.js
  packages/edit-site/src/components/page/header.js
  packages/edit-site/src/components/page/index.js
  packages/edit-site/src/components/page/style.scss
  packages/edit-site/src/components/table/index.js
  packages/edit-site/src/components/table/style.scss
  packages/edit-site/src/style.scss
Labels: [Feature] Site Editor

#51427 Indicate Draft status of menus in Nav block menu selector
  packages/block-library/src/navigation/edit/navigation-menu-selector.js
Labels: [Block] Navigation

#51354 Force disable suggestions until URL field is dirty in Link Control
  packages/block-editor/src/components/link-control/search-input.js
  packages/block-editor/src/components/link-control/test/index.js
Labels: [Feature] Link Editing

#49963 fixed error 'Avatar block not 1:1 between the editor and the front-en…
  packages/block-library/src/avatar/style.scss
Labels: [Type] Bug, First-time Contributor, [Block] Avatar

#51329 Fix site editor rendering of Categories block
  packages/block-library/src/post-terms/edit.js
Labels: [Block] Post Terms

#51470 Add 'Mamaduka' as one of the code owners for Playwright tests
  .github/CODEOWNERS
Labels: Automated Testing, [Type] Project Management

#51404 List View: A11Y focus enhancements for edit-site based on modifications to edit-post
  packages/edit-site/src/components/keyboard-shortcuts/edit-mode.js
  packages/edit-site/src/components/keyboard-shortcuts/index.js
  packages/edit-site/src/components/secondary-sidebar/list-view-sidebar.js
  test/e2e/specs/site-editor/list-view.spec.js
Labels: [Type] Enhancement, Accessibility (a11y), Needs Accessibility Feedback, [a11y] Keyboard & Focus, [Package] Edit Site

#51429 Block Editor: Improve data selector for BlockQuickNavigationItem
  packages/block-editor/src/components/block-quick-navigation/index.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Block editor

#51474 Global styles revisions: move from experimental to 6.3
  lib/compat/wordpress-6.3/class-gutenberg-rest-global-styles-revisions-controller-6-3.php
  lib/compat/wordpress-6.3/rest-api.php
  lib/load.php
  phpunit/class-gutenberg-rest-global-styles-revisions-controller-test.php
Labels: [Type] Code Quality, Global Styles

#51405 Post editor: Make the Post Content block available as a child of the Query block
  packages/edit-post/src/index.js
Labels: [Type] Bug, [Type] Enhancement, [Block] Post Content

#47407 Adjust the name of the custom field button labels
  packages/edit-post/src/components/preferences-modal/options/enable-custom-fields.js
  packages/edit-post/src/components/preferences-modal/options/test/__snapshots__/enable-custom-fields.js.snap
Labels: [Type] Enhancement, Needs Copy Review, [Package] Edit Post

#51440 Formats: Avoid rerendering language edit component when typing
  packages/format-library/src/language/index.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Format library

#51439 getBlockParentsByBlockName: simplify filtering condition
  packages/block-editor/src/store/selectors.js
Labels: [Type] Code Quality

#45242 Add a description key to theme.json style variations
  lib/class-wp-theme-json-gutenberg.php
  lib/theme-i18n.json
  packages/edit-site/src/components/global-styles/style-variations-container.js
  schemas/json/theme.json
Labels: [a11y] Labelling

#51407 Try to fix performance test failure on trunk
  packages/e2e-tests/specs/performance/site-editor.test.js
Labels: GitHub Actions

#51469 Edit Site: Refactor the NavigationMenuContent component and fix the deprecation notice
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menus/navigation-menu-content.js
Labels: [Type] Code Quality, [Feature] Site Editor

#50621 Layout: Move layout definitions out of theme.json
  lib/block-supports/layout.php
  lib/class-wp-theme-json-gutenberg.php
  lib/theme.json
  packages/block-editor/src/components/global-styles/index.js
  packages/block-editor/src/components/global-styles/test/use-global-styles-output.js
  packages/block-editor/src/components/global-styles/use-global-styles-output.js
  packages/block-editor/src/hooks/layout.js
  packages/block-editor/src/layouts/constrained.js
  packages/block-editor/src/layouts/definitions.js
  packages/block-editor/src/layouts/flex.js
  packages/block-editor/src/layouts/flow.js
  packages/block-editor/src/layouts/grid.js
  packages/block-editor/src/layouts/test/utils.js
  packages/block-editor/src/layouts/utils.js
  packages/edit-post/src/components/visual-editor/index.js
  packages/edit-post/src/editor.js
  phpunit/class-wp-theme-json-test.php
Labels: [Type] Bug, [Type] Code Quality, [Feature] Layout

#51513 wp-env: try to fix failing PHP Github actions
  packages/env/lib/init-config.js
Labels: [Type] Build Tooling, Automated Testing, [Package] Env

#51438 Update/page list footer
  packages/edit-site/src/components/sidebar-navigation-screen-pages/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-templates/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-templates/style.scss
  packages/edit-site/src/components/sidebar-navigation-screen/style.scss
  packages/edit-site/src/style.scss
Labels: [Feature] Navigation Component

#51284 ListView: Update drop indicator line positioning to support rtl languages
  packages/block-editor/src/components/list-view/drop-indicator.js
  packages/block-editor/src/components/list-view/test/use-list-view-drop-zone.js
  packages/block-editor/src/components/list-view/use-list-view-drop-zone.js
Labels: [Type] Bug, [Feature] Drag and Drop, [Feature] List View

#51476 [Block Library - Post Terms]: Custom taxonomies do not show icons when transforming from the toolbar.
  packages/block-library/src/post-terms/hooks.js
Labels: [Feature] Block Variations, [Block] Post Terms

#51498 Color Panel: Fix rendering of tabs with no color
  packages/block-editor/src/components/global-styles/color-panel.js
Labels: [Type] Bug, Global Styles, [Feature] Colors

#51517 Migrate block hierarchy navigation tests to Playwright
  packages/e2e-tests/specs/editor/various/__snapshots__/block-hierarchy-navigation.test.js.snap
  packages/e2e-tests/specs/editor/various/block-hierarchy-navigation.test.js
  test/e2e/specs/editor/various/block-hierarchy-navigation.spec.js
Labels: Automated Testing, [Package] E2E Tests

#51362 Templates API: return post modified datetime in response
  lib/compat/wordpress-6.3/class-gutenberg-rest-templates-controller-6-3.php
  lib/compat/wordpress-6.3/rest-api.php
  phpunit/class-gutenberg-rest-templates-controller-test.php
Labels: [Type] Enhancement, [Feature] Templates API

#51434 Try stabilising layout and its associated APIs
  docs/explanations/architecture/styles.md
  docs/reference-guides/core-blocks.md
  lib/block-supports/layout.php
  lib/class-wp-theme-json-gutenberg.php
  packages/block-editor/src/components/block-edit/index.js
  packages/block-editor/src/components/block-list/index.js
  packages/block-editor/src/components/block-preview/index.js
  packages/block-editor/src/components/global-styles/use-global-styles-output.js
  packages/block-editor/src/components/index.js
  packages/block-editor/src/components/inner-blocks/index.js
  packages/block-editor/src/components/inner-blocks/index.native.js
  packages/block-editor/src/hooks/layout.js
  packages/block-editor/src/hooks/supports.js
  packages/block-editor/src/index.js
  packages/block-editor/src/private-apis.js
  packages/block-library/src/buttons/block.json
  packages/block-library/src/buttons/edit.native.js
  packages/block-library/src/column/block.json
  packages/block-library/src/columns/block.json
  packages/block-library/src/comments-pagination/block.json
  packages/block-library/src/cover/block.json
  packages/block-library/src/gallery/block.json
  packages/block-library/src/gallery/gallery.native.js
  packages/block-library/src/group/block.json
  packages/block-library/src/group/deprecated.js
  packages/block-library/src/navigation/block.json
  packages/block-library/src/navigation/deprecated.js
  packages/block-library/src/post-content/block.json
  packages/block-library/src/post-template/block.json
  packages/block-library/src/query-pagination/block.json
  packages/block-library/src/query/block.json
  packages/block-library/src/query/deprecated.js
  packages/block-library/src/social-links/block.json
  packages/block-library/src/template-part/edit/inner-blocks.js
  packages/edit-post/src/components/visual-editor/index.js
  packages/edit-site/src/components/block-editor/index.js
Labels: [Type] Code Quality, Needs Dev Note, Needs PHP backport, [Feature] Layout

#51497 Update BlockEditorProvider tests
  packages/block-editor/src/components/provider/test/experimental-provider.js
Labels: Automated Testing

#51483 Lodash: Refactor away from `_.mergeWith()`
  .eslintrc.js
  package-lock.json
  packages/edit-site/package.json
  packages/edit-site/src/components/global-styles/global-styles-provider.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Edit Site

#51524 Refactor Site Editor block editor code
  packages/edit-site/src/components/block-editor/back-button.js
  packages/edit-site/src/components/block-editor/constants.js
  packages/edit-site/src/components/block-editor/index.js
  packages/edit-site/src/components/block-editor/providers/default-block-editor-provider.js
  packages/edit-site/src/components/block-editor/site-editor-canvas.js
  packages/edit-site/src/components/block-editor/use-site-editor-settings.js
Labels: [Type] Code Quality, [Feature] Site Editor

#51492 Add Navigation Menus to Template Parts screen sidebar in Browse Mode
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menu/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menu/navigation-menu-editor.js
  packages/edit-site/src/components/sidebar-navigation-screen-template-part/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-template-part/style.scss
  packages/edit-site/src/components/sidebar-navigation-screen-template-part/template-part-navigation-menu-list-item.js
  packages/edit-site/src/components/sidebar-navigation-screen-template-part/template-part-navigation-menu-list.js
  packages/edit-site/src/components/sidebar-navigation-screen-template-part/template-part-navigation-menu.js
  packages/edit-site/src/components/sidebar-navigation-screen-template-part/template-part-navigation-menus.js
  packages/edit-site/src/style.scss
Labels: [Block] Navigation, [Type] Feature

#51435 [RNMobile] Fix crash when using the delete key to remove a single button
  packages/block-editor/src/components/block-list/block.native.js
  packages/block-library/src/buttons/test/__snapshots__/edit.native.js.snap
  packages/block-library/src/buttons/test/edit.native.js
Labels: Mobile App - i.e. Android or iOS, Mobile App - Automation

#51186 List block: Add numbering type selection
  packages/block-library/src/list/ordered-list-settings.js
  test/integration/fixtures/blocks/core__list__ol-with-type.html
  test/integration/fixtures/blocks/core__list__ol-with-type.json
  test/integration/fixtures/blocks/core__list__ol-with-type.parsed.json
  test/integration/fixtures/blocks/core__list__ol-with-type.serialized.html
Labels: [Type] Enhancement, Needs Design Feedback, [Block] List

#49321 Sticky Position: Try re-enabling non-root sticky position
  packages/block-editor/src/hooks/position.js
Labels: [Type] Experimental, [Feature] Design Tools

#51558 Fix Library routing on mobile
  packages/edit-site/src/components/layout/index.js
  packages/edit-site/src/components/page-library/patterns-list.js
  packages/edit-site/src/components/page-library/style.scss
  packages/edit-site/src/components/sidebar-navigation-screen-library/category-item.js
  packages/edit-site/src/utils/get-is-list-page.js
Labels: [Type] Bug, Mobile Web

#51364 Add 'Edit template' and 'Back to page' commands
  packages/edit-site/src/hooks/commands/use-edit-mode-commands.js
Labels: [Type] Bug, [Type] Enhancement, [Feature] Site Editor

#51539 Color Randomizer: Fix an error when the theme has no color palette
  packages/edit-site/src/components/global-styles/palette.js
Labels: [Type] Experimental, Global Styles, [Feature] Colors

#51529 Search Block: Fix problem with buttons not outputting primary status
  packages/block-library/src/search/edit.js
Labels: [Type] Bug, [Block] Search

#51541 Block Locking: Fix regression in selectors
  packages/block-editor/src/store/selectors.js
  test/e2e/specs/editor/various/block-locking.spec.js
Labels: [Type] Regression, [Feature] Block Locking

#51534 useEntityRecord: Fix destructure error when `enabled` option is `false`
  packages/core-data/src/hooks/use-entity-record.ts
Labels: [Package] Core data

#51560 Playwright Utils: Simplify editor preference updates in createNewPost
  packages/e2e-test-utils-playwright/src/admin/create-new-post.js
Labels: [Type] Enhancement, [Package] E2E Test Utils

#39286 Add focus mode for Navigation Menus
  docs/reference-guides/data/data-core-edit-site.md
  lib/compat/wordpress-6.3/link-template.php
  lib/compat/wordpress-6.3/rest-api.php
  packages/block-library/src/navigation/edit/index.js
  packages/block-library/src/navigation/edit/menu-inspector-controls.js
  packages/edit-site/src/components/block-editor/back-button.js
  packages/edit-site/src/components/block-editor/constants.js
  packages/edit-site/src/components/block-editor/get-block-editor-provider.js
  packages/edit-site/src/components/block-editor/index.js
  packages/edit-site/src/components/block-editor/providers/navigation-block-editor-provider.js
  packages/edit-site/src/components/block-editor/site-editor-canvas.js
  packages/edit-site/src/components/block-editor/style.scss
  packages/edit-site/src/components/block-editor/use-site-editor-settings.js
  packages/edit-site/src/components/header-edit-mode/document-actions/index.js
  packages/edit-site/src/components/header-edit-mode/index.js
  packages/edit-site/src/components/sidebar-edit-mode/settings-header/index.js
  packages/edit-site/src/components/sidebar-edit-mode/template-panel/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menu/edit-button.js
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menu/index.js
  packages/edit-site/src/components/sync-state-with-url/use-init-edited-entity-from-url.js
  packages/edit-site/src/hooks/index.js
  packages/edit-site/src/hooks/navigation-menu-edit.js
  packages/edit-site/src/store/actions.js
Labels: [Block] Navigation, [Type] Feature, [Feature] Navigation Menu Sidebar

#51562 Code Data: Fix ESLint warning for the 'useEntityRecord' hook
  packages/core-data/src/hooks/use-entity-record.ts
Labels: [Type] Bug, [Package] Core data

#51254 Update: Adjust modal radius to be between frame and buttons.
  packages/components/CHANGELOG.md
  packages/components/src/modal/style.scss
Labels: [Type] Enhancement, Needs Design Feedback, [Feature] UI Components, Needs Figma Update, CSS Styling

#51571 Remove the hydration console log of the Interactivity API
  packages/block-library/src/utils/interactivity/index.js
Labels: [Feature] Interactivity API

#51463 Mobile - Image block - Fix issue with set width and height images
  packages/components/src/mobile/image/index.native.js
  packages/react-native-editor/CHANGELOG.md
Labels: Mobile App - i.e. Android or iOS, [Block] Image, Mobile App - Automation

#51564 Fix flaky 'Switch to Draft' action in preview e2e tests
  test/e2e/specs/editor/various/preview.spec.js
Labels: [Type] Bug, [Package] E2E Tests

#51567 [RNMobile] Ensure text input field is not editable when Bottom sheet cell is disabled
  packages/components/src/mobile/bottom-sheet/cell.native.js
Labels: [Type] Bug, Mobile App - i.e. Android or iOS

#51573 Fix flaky Image block interactivity e2e test
  test/e2e/specs/editor/blocks/image.spec.js
Labels: [Type] Bug, [Package] E2E Tests

#51547 Browse Mode: Move CSS to more generic selector
  packages/edit-site/src/components/sidebar-navigation-screen-template-part/style.scss
  packages/edit-site/src/components/sidebar-navigation-screen/style.scss
  packages/edit-site/src/style.scss
Labels: [Type] Code Quality, [Feature] Site Editor

#51572 Move Navigation fallback files to 6.3 directory
  lib/compat/wordpress-6.3/class-wp-classic-to-block-menu-converter.php
  lib/compat/wordpress-6.3/class-wp-navigation-fallback-gutenberg.php
  lib/compat/wordpress-6.3/class-wp-rest-navigation-fallback-controller.php
  lib/compat/wordpress-6.3/navigation-fallback.php
  lib/load.php
  phpunit/class-wp-navigation-fallback-gutenberg-test.php
Labels: [Type] Code Quality, [Block] Navigation
