Repository WordPress/gutenberg, pull requests merged in 2023-03, with the labels that each got.

#48605 Global Styles: Fix typo in valid settings for fluid typography
  packages/block-editor/src/components/global-styles/hooks.js
Labels: [Type] Bug, Global Styles

#47866 ToggleControl: remove margin overrides and add opt-in prop
  packages/block-editor/src/components/block-lock/modal.js
  packages/block-editor/src/components/block-lock/style.scss
  packages/block-editor/src/components/date-format-picker/index.js
  packages/block-editor/src/components/date-format-picker/style.scss
  packages/block-editor/src/components/link-control/settings.js
  packages/block-editor/src/components/responsive-block-control/index.js
  packages/block-editor/src/components/url-popover/stories/index.js
  packages/block-editor/src/hooks/layout.js
  packages/block-editor/src/layouts/flex.js
  packages/block-library/src/archives/edit.js
  packages/block-library/src/audio/edit.js
  packages/block-library/src/avatar/edit.js
  packages/block-library/src/categories/edit.js
  packages/block-library/src/columns/edit.js
  packages/block-library/src/comment-author-name/edit.js
  packages/block-library/src/comment-date/edit.js
  packages/block-library/src/comment-edit-link/edit.js
  packages/block-library/src/comments-title/edit.js
  packages/block-library/src/cover/edit/inspector-controls.js
  packages/block-library/src/embed/embed-controls.js
  packages/block-library/src/file/inspector.js
  packages/block-library/src/gallery/edit.js
  packages/block-library/src/gallery/v1/edit.js
  packages/block-library/src/latest-comments/edit.js
  packages/block-library/src/latest-posts/edit.js
  packages/block-library/src/list/ordered-list-settings.js
  packages/block-library/src/loginout/edit.js
  packages/block-library/src/media-text/edit.js
  packages/block-library/src/more/edit.js
  packages/block-library/src/navigation/edit/index.js
  packages/block-library/src/navigation/edit/overlay-menu-preview.js
  packages/block-library/src/paragraph/edit.js
  packages/block-library/src/post-author-name/edit.js
  packages/block-library/src/post-author/edit.js
  packages/block-library/src/post-date/edit.js
  packages/block-library/src/post-excerpt/edit.js
  packages/block-library/src/post-featured-image/edit.js
  packages/block-library/src/post-navigation-link/edit.js
  packages/block-library/src/post-title/edit.js
  packages/block-library/src/query-title/edit.js
  packages/block-library/src/query/edit/inspector-controls/index.js
  packages/block-library/src/read-more/edit.js
  packages/block-library/src/rss/edit.js
  packages/block-library/src/site-logo/edit.js
  packages/block-library/src/site-title/edit/index.js
  packages/block-library/src/social-links/edit.js
  packages/block-library/src/table-of-contents/edit.js
  packages/block-library/src/table/edit.js
  packages/block-library/src/tag-cloud/edit.js
  packages/block-library/src/video/edit-common-settings.js
Labels: [Type] Enhancement, [Package] Block library, [Package] Block editor

#47949 MediaReplaceFlow: fix styling for LinkControl
  packages/block-editor/src/components/media-replace-flow/style.scss
Labels: [Type] Bug, [Feature] Media, Needs Design Feedback, [Package] Block editor, [Feature] Link Editing

#48592 [WP6.2] Revert dynamic block anchor support
  docs/reference-guides/core-blocks.md
  lib/block-supports/anchor.php
  lib/load.php
  packages/block-library/src/archives/block.json
  packages/block-library/src/avatar/block.json
  packages/block-library/src/calendar/block.json
  packages/block-library/src/categories/block.json
  packages/block-library/src/comment-author-avatar/block.json
  packages/block-library/src/comment-author-name/block.json
  packages/block-library/src/comment-content/block.json
  packages/block-library/src/comment-date/block.json
  packages/block-library/src/comment-edit-link/block.json
  packages/block-library/src/comment-reply-link/block.json
  packages/block-library/src/comment-template/block.json
  packages/block-library/src/comments-pagination-next/block.json
  packages/block-library/src/comments-pagination-numbers/block.json
  packages/block-library/src/comments-pagination-previous/block.json
  packages/block-library/src/comments-pagination/block.json
  packages/block-library/src/comments/block.json
  packages/block-library/src/home-link/block.json
  packages/block-library/src/latest-comments/block.json
  packages/block-library/src/latest-posts/block.json
  packages/block-library/src/loginout/block.json
  packages/block-library/src/navigation/block.json
  packages/block-library/src/page-list/block.json
  packages/block-library/src/post-author-biography/block.json
  packages/block-library/src/post-author-name/block.json
  packages/block-library/src/post-author/block.json
  packages/block-library/src/post-comments-count/block.json
  packages/block-library/src/post-comments-form/block.json
  packages/block-library/src/post-comments-link/block.json
  packages/block-library/src/post-content/block.json
  packages/block-library/src/post-date/block.json
  packages/block-library/src/post-excerpt/block.json
  packages/block-library/src/post-featured-image/block.json
  packages/block-library/src/post-navigation-link/block.json
  packages/block-library/src/post-template/block.json
  packages/block-library/src/post-terms/block.json
  packages/block-library/src/post-title/block.json
  packages/block-library/src/query-no-results/block.json
  packages/block-library/src/query-pagination-next/block.json
  packages/block-library/src/query-pagination-numbers/block.json
  packages/block-library/src/query-pagination-previous/block.json
  packages/block-library/src/query-pagination/block.json
  packages/block-library/src/query-title/block.json
  packages/block-library/src/query/block.json
  packages/block-library/src/read-more/block.json
  packages/block-library/src/rss/block.json
  packages/block-library/src/search/block.json
  packages/block-library/src/site-logo/block.json
  packages/block-library/src/site-tagline/block.json
  packages/block-library/src/site-title/block.json
  packages/block-library/src/social-link/block.json
  packages/block-library/src/tag-cloud/block.json
  packages/block-library/src/template-part/block.json
  packages/block-library/src/term-description/block.json
Labels: [Type] Bug, [Priority] High

#48611 Only add layout classes to inner wrapper if block is a container.
  lib/block-supports/layout.php
Labels: [Type] Bug, [Feature] Block Validation/Deprecation, Backport to WP Beta/RC, Backport from WordPress Core, [Feature] Layout

#48204 Focus 1st parent block on block remove, if no previous block is available
  docs/reference-guides/data/data-core-block-editor.md
  packages/block-editor/src/components/block-settings-menu/block-settings-dropdown.js
  packages/block-editor/src/store/actions.js
  packages/block-editor/src/store/test/actions.js
  packages/block-library/src/list-item/hooks/use-outdent-list-item.js
  packages/e2e-tests/specs/widgets/editing-widgets.test.js
  test/e2e/specs/editor/various/block-deletion.spec.js
Labels: [Type] Bug, [Priority] High, Accessibility (a11y), Backport to WP Beta/RC

#48585 Navigation: Don't create a fallback navigation menu if there are inner blocks
  packages/block-library/src/navigation/edit/index.js
Labels: [Block] Navigation

#48614 Add command to run performance tests in debug mode
  package.json
  packages/scripts/scripts/test-e2e.js
Labels: [Type] Build Tooling

#48623 Fix: Inserter does not appear on sidebar navigation.
  packages/block-editor/src/components/off-canvas-editor/branch.js
Labels: [Type] Bug

#48622 Clarify backport status of `appearance-tools` theme support
  lib/class-wp-theme-json-resolver-gutenberg.php
Labels: [Type] Developer Documentation, [Type] Code Quality

#48624 `WP_Theme_JSON_Gutenberg`: update comments to be aligned with core, so backports are easier
  lib/class-wp-theme-json-gutenberg.php
Labels: [Type] Developer Documentation, [Type] Code Quality

#48435 fix: Enable access to block settings within UBE
  packages/react-native-bridge/android/react-native-bridge/src/main/java/org/wordpress/mobile/ReactNativeGutenbergBridge/GutenbergWebViewActivity.java
  packages/react-native-bridge/common/gutenberg-web-single-block/content-functions.js
  packages/react-native-bridge/common/gutenberg-web-single-block/editor-behavior-overrides.js
  packages/react-native-bridge/common/gutenberg-web-single-block/editor-style-overrides.css
  packages/react-native-bridge/common/gutenberg-web-single-block/inject-css.js
  packages/react-native-bridge/ios/GutenbergWebFallback/FallbackJavascriptInjection.swift
  packages/react-native-bridge/ios/GutenbergWebFallback/GutenbergWebSingleBlockViewController.swift
  packages/react-native-bridge/ios/SourceFile.swift
  packages/react-native-editor/CHANGELOG.md
Labels: [Type] Regression, Mobile App - i.e. Android or iOS, Mobile App - Automation

#48640 Sync `gutenberg_build_query_vars_from_query_block` with core
  lib/compat/wordpress-6.1/blocks.php
  lib/compat/wordpress-6.2/blocks.php
Labels: Backport from WordPress Core

#48639 List Item: Avoid an error when the 'onReplace' prop is undefined
  packages/block-library/src/list-item/edit.js
Labels: [Type] Bug, [Block] List

#48648 Fix typo: use the gutenberg class name
  lib/class-wp-theme-json-resolver-gutenberg.php
Labels: [Type] Bug, Global Styles

#47751 Autocomplete: refactor to TypeScript
  packages/components/CHANGELOG.md
  packages/components/src/autocomplete/README.md
  packages/components/src/autocomplete/autocompleter-ui.tsx
  packages/components/src/autocomplete/get-default-use-items.tsx
  packages/components/src/autocomplete/index.tsx
  packages/components/src/autocomplete/test/index.tsx
  packages/components/src/autocomplete/types.ts
  packages/components/tsconfig.json
Labels: [Type] Code Quality, [Package] Components

#48480 Media Text: Refactored constants to it's designated file
  packages/block-library/src/media-text/constants.js
  packages/block-library/src/media-text/edit.js
  packages/block-library/src/media-text/edit.native.js
Labels: [Type] Code Quality, [Block] Media & Text

#48654 [post-excerpt][15.2.3] Fix the "is rest api?" condition in the `post-excerpt` PHP package entry point
  packages/block-library/src/post-excerpt/index.php
Labels: [Type] Bug

#48653 Add links to hook documentation in curation doc
  docs/how-to-guides/curating-the-editor-experience.md
Labels: [Type] Developer Documentation, [Feature] Extensibility

#48607 duotone.php code cleanup
  lib/block-supports/duotone.php
  phpunit/block-supports/duotone-test.php
Labels: [Type] Code Quality

#48447 Add missing playwright e2e docs to toc.json
  docs/contributors/code/e2e/README.md
  docs/contributors/code/e2e/migration.md
  docs/manifest.json
  docs/toc.json
  test/e2e/README.md
Labels: [Type] Developer Documentation

#48299 Upgrade `typescript` to 4.9.5
  package-lock.json
  package.json
  packages/components/package.json
  packages/components/src/button/types.ts
  packages/components/src/icon/index.tsx
  packages/components/src/number-control/index.tsx
  packages/components/src/placeholder/index.tsx
  packages/components/src/placeholder/test/index.tsx
  packages/components/src/placeholder/types.ts
  packages/components/src/range-control/index.tsx
  packages/components/src/range-control/types.ts
  packages/components/src/tab-panel/types.ts
  packages/compose/src/higher-order/if-condition/index.tsx
  packages/compose/src/higher-order/pure/index.tsx
  packages/data/src/components/with-dispatch/index.js
  packages/data/src/components/with-select/index.js
  packages/dom/src/focusable.js
  packages/keycodes/src/index.js
Labels: [Type] Code Quality

#48662 Fix duplication of block classname in feature selectors for style variations.
  lib/class-wp-theme-json-gutenberg.php
Labels: [Type] Bug, [Feature] Style Variations, CSS Styling

#47914 Fix HStack and VStack alignment prop
  packages/block-editor/src/components/color-palette/test/__snapshots__/control.js.snap
  packages/components/src/color-palette/test/__snapshots__/index.tsx.snap
  packages/components/src/flex/flex/hook.ts
  packages/components/src/h-stack/README.md
  packages/components/src/h-stack/types.ts
  packages/components/src/h-stack/utils.ts
  packages/components/src/v-stack/README.md
  packages/components/src/v-stack/hook.ts
  packages/components/src/v-stack/stories/index.tsx
  packages/components/src/v-stack/test/__snapshots__/index.tsx.snap
  packages/components/src/v-stack/types.ts
Labels: [Type] Bug, [Feature] UI Components, [Package] Components

#48636 Extract a BorderPanel component as a reusable component between Global Styles and Block Inspector
  packages/block-editor/src/components/global-styles/border-panel.js
  packages/block-editor/src/components/global-styles/hooks.js
  packages/block-editor/src/components/global-styles/index.js
  packages/block-editor/src/hooks/border-radius.js
  packages/block-editor/src/hooks/border.js
  packages/block-editor/src/hooks/utils.js
  packages/components/src/index.native.js
  packages/edit-site/src/components/global-styles/border-panel.js
  packages/edit-site/src/components/global-styles/context-menu.js
  packages/edit-site/src/components/global-styles/hooks.js
  packages/edit-site/src/components/global-styles/screen-block-list.js
  packages/edit-site/src/components/global-styles/screen-border.js
Labels: [Type] Code Quality, Global Styles

#48484 Mobile - Fix parsing of css units for null matched values
  packages/block-editor/src/utils/parse-css-unit-to-px.js
  packages/block-editor/src/utils/test/parse-css-unit-to-px.js
Labels: Mobile App - i.e. Android or iOS, Mobile App - Automation

#48646 `WP_Theme_JSON`: sync indirect properties changes from core
  lib/class-wp-theme-json-gutenberg.php
Labels: Backport from WordPress Core

#48643 Mobile Release v1.89.1
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS

#48642 Fix PostContent initial render by waiting for the canEdit request
  packages/block-library/src/post-content/edit.js
Labels: [Package] Block library

#48243 Add artifacts upload for the performance tests
  .github/workflows/performance.yml
  bin/plugin/commands/performance.js
Labels: Automated Testing, [Type] Performance, GitHub Actions

#48629 components/utils/font: refactor away from lodash `.get`
  packages/components/src/utils/font.js
Labels: [Type] Code Quality, [Package] Components

#45464 Refactor away state in Nav menu selector
  packages/block-library/src/navigation/edit/navigation-menu-selector.js
Labels: [Block] Navigation

#48677 Renames parent selection boolean param and improves docs
  docs/reference-guides/data/data-core-block-editor.md
  packages/block-editor/src/store/actions.js
Labels: [Type] Code Quality, Backport to WP Beta/RC

#48399 Prevent the saving button from showing when renaming templates
  packages/edit-site/src/components/layout/style.scss
  packages/edit-site/src/components/save-button/index.js
  packages/edit-site/src/components/save-hub/index.js
  packages/edit-site/src/components/save-hub/style.scss
  packages/edit-site/src/components/sidebar/index.js
  packages/edit-site/src/components/sidebar/style.scss
  packages/edit-site/src/style.scss
Labels: [Type] Enhancement, Backport to WP Beta/RC

#48650 Site Editor: Add page details when viewing a specific page.
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-item/index.js
  packages/edit-site/src/components/sidebar-navigation-screen/style.scss
Labels: [Feature] Site Editor

#48679 Fixes extra UI in navigation block inspector
  packages/block-library/src/navigation/edit/menu-inspector-controls.js
Labels: [Type] Bug, [Block] Navigation, Backport to WP Beta/RC

#47493 `Guide`: refactor to TypeScript
  packages/components/CHANGELOG.md
  packages/components/src/guide/README.md
  packages/components/src/guide/icons.tsx
  packages/components/src/guide/index.tsx
  packages/components/src/guide/page-control.tsx
  packages/components/src/guide/page.tsx
  packages/components/src/guide/stories/index.tsx
  packages/components/src/guide/test/index.tsx
  packages/components/src/guide/types.ts
  packages/components/tsconfig.json
Labels: [Type] Code Quality, [Package] Components

#48685 LinkControl: Remove HTML from suggestion title before passing it to TextHighlight component
  packages/block-editor/src/components/link-control/search-item.js
Labels: [Type] Bug, [Feature] Link Editing

#48634 Add support for `:link` and `:any-link` in `theme.json`
  lib/class-wp-theme-json-gutenberg.php
Labels: Backport from WordPress Core

#47042 Animation: refactor to TypeScript
  packages/components/src/animation/index.tsx
Labels: [Package] Components

#48431 Remove unused CSS from LinkControl Apply button
  packages/block-editor/src/components/link-control/index.js
  packages/block-editor/src/components/link-control/style.scss
Labels: [Type] Code Quality, [Feature] Link Editing

#48694 Mobile Release v1.90.0
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: Mobile App - i.e. Android or iOS

#47702 PanelBody: Convert to TypeScript
  packages/components/CHANGELOG.md
  packages/components/src/panel/README.md
  packages/components/src/panel/body.tsx
  packages/components/src/panel/stories/index.tsx
  packages/components/src/panel/test/__snapshots__/body.tsx.snap
  packages/components/src/panel/test/body.tsx
  packages/components/src/panel/types.ts
  packages/components/tsconfig.json
Labels: [Package] Components

#48660 Theme JSON: Clarify status of fixed position opt-in in appearance tools
  lib/class-wp-theme-json-gutenberg.php
Labels: [Type] Code Quality, Global Styles

#48332 Navigation Block: Fix big spinner
  packages/block-library/src/navigation/edit/index.js
  packages/block-library/src/navigation/editor.scss
  packages/block-library/src/page-list/edit.js
  packages/block-library/src/page-list/editor.scss
Labels: [Type] Bug, [Block] Navigation

#48663 Don't add Post Content layout styles to title in the post editor.
  packages/edit-post/src/components/visual-editor/index.js
Labels: [Type] Bug, [Package] Edit Post, [Feature] Layout

#48035 Migrate multi-block selection E2E tests to Playwright
  packages/e2e-tests/specs/editor/various/__snapshots__/multi-block-selection.test.js.snap
  packages/e2e-tests/specs/editor/various/multi-block-selection.test.js
  test/e2e/specs/editor/various/multi-block-selection.spec.js
Labels: Automated Testing, [Package] E2E Tests

#48691 Columns Block: Don't show the column count change UI when `templateLock` is `all`
  packages/block-library/src/columns/edit.js
Labels: [Feature] Inserter, [Block] Columns

#48582 Welcome Guide link points to a redirected help article
  packages/customize-widgets/src/components/welcome-guide/index.js
  packages/edit-post/src/components/welcome-guide/default.js
  packages/edit-widgets/src/components/welcome-guide/index.js
Labels: [Type] Task, General Interface

#48575 Site editor: Add hover animation to site editor canvas
  packages/edit-site/src/components/block-editor/editor-canvas.js
  packages/edit-site/src/components/layout/index.js
Labels: [Type] Enhancement, Backport to WP Beta/RC

#48632 navigateRegions: Convert to TypeScript
  packages/components/CHANGELOG.md
  packages/components/src/higher-order/navigate-regions/index.tsx
  packages/components/tsconfig.json
  packages/keycodes/src/index.js
Labels: [Package] Components

#48720 withFallbackStyles: Convert to TypeScript
  packages/components/CHANGELOG.md
  packages/components/src/higher-order/with-fallback-styles/index.tsx
  packages/components/tsconfig.json
Labels: [Package] Components

#48689 Navigation Sidebar: Change the logic about which navigation gets selected for the sidebar
  packages/block-editor/src/components/inserter/index.js
  packages/block-editor/src/components/off-canvas-editor/branch.js
  packages/block-editor/src/components/off-canvas-editor/index.js
  packages/edit-site/src/components/navigation-inspector/index.js
  packages/edit-site/src/components/navigation-inspector/navigation-menu.js
  packages/edit-site/src/components/navigation-inspector/style.scss
  packages/edit-site/src/components/sidebar-button/style.scss
  packages/edit-site/src/components/sidebar-navigation-item/style.scss
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menus/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menus/loader.js
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menus/navigation-menu-content.js
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menus/style.scss
  packages/edit-site/src/style.scss
Labels: [Type] Enhancement, Backport to WP Beta/RC

#48219 Navigation: Don't save the level of the link in an attribute
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation-link/index.php
  packages/block-library/src/navigation-submenu/edit.js
  packages/block-library/src/navigation-submenu/index.php
Labels: [Block] Navigation, Backport to WP Beta/RC

#48727 ci: Add Rich Text code owner
  .github/CODEOWNERS
Labels: [Type] Project Management

#48729 Playwright Utils: Fix the 'publishPost' address locator
  packages/e2e-test-utils-playwright/src/editor/publish-post.ts
Labels: [Type] Bug, Automated Testing

#47648 Introduce prependHTTPS url util
  packages/url/README.md
  packages/url/src/index.js
  packages/url/src/prepend-https.js
  packages/url/src/test/index.js
Labels: [Package] Url

#48733 Rich text: fix range equality checks for Safari
  packages/rich-text/src/component/use-selection-change-compat.js
  packages/rich-text/src/is-range-equal.js
  packages/rich-text/src/to-dom.js
Labels: Browser Issues

#48680 Fix Nav block exhaustive deps warnings
  packages/block-library/src/navigation/edit/index.js
  packages/block-library/src/navigation/edit/navigation-menu-selector.js
  packages/block-library/src/navigation/edit/unsaved-inner-blocks.js
  packages/block-library/src/navigation/edit/use-convert-classic-menu-to-block-menu.js
  packages/block-library/src/navigation/edit/use-create-navigation-menu.js
  packages/block-library/src/navigation/edit/use-navigation-notice.js
Labels: [Type] Code Quality, [Block] Navigation

#48715 Rich text: useAnchor: remove value dependency
  packages/block-editor/src/components/rich-text/format-toolbar-container.js
  packages/components/src/autocomplete/autocompleter-ui.tsx
  packages/components/src/autocomplete/test/index.tsx
  packages/components/src/autocomplete/types.ts
  packages/format-library/src/image/index.js
  packages/format-library/src/link/inline.js
  packages/format-library/src/text-color/inline.js
  packages/rich-text/README.md
  packages/rich-text/src/component/use-anchor.js
Labels: [Type] Performance, [Type] Code Quality

#48735 Scripts: Fix `render.php` isn't copied in Windows OS
  packages/scripts/CHANGELOG.md
  packages/scripts/utils/config.js
Labels: [Type] Bug, [Package] Scripts

#48709 Custom Classname block support: Update code comments to remove reference to anchor id
  packages/block-editor/src/hooks/custom-class-name.js
  packages/block-editor/src/hooks/custom-class-name.native.js
Labels: [Type] Code Quality

#48763 Docs: Add position: sticky to the Opt-in into UI controls appearanceTools section
  docs/how-to-guides/themes/theme-json.md
Labels: [Type] Developer Documentation, [Feature] Design Tools

#33587 Block Supports: Add text columns (column count) to typography block supports
  docs/how-to-guides/themes/theme-json.md
  docs/reference-guides/theme-json-reference/theme-json-living.md
  docs/reference-guides/theme-json-reference/theme-json-migrations.md
  lib/block-supports/typography.php
  lib/class-wp-theme-json-gutenberg.php
  lib/theme.json
  packages/block-editor/src/components/global-styles/hooks.js
  packages/block-editor/src/components/global-styles/typography-panel.js
  packages/block-editor/src/hooks/supports.js
  packages/block-editor/src/hooks/test/style.js
  packages/block-editor/src/hooks/test/use-typography-props.js
  packages/block-editor/src/hooks/typography.js
  packages/block-editor/src/hooks/utils.js
  packages/blocks/src/api/constants.js
  packages/blocks/src/store/private-selectors.js
  phpunit/class-wp-theme-json-test.php
  schemas/json/theme.json
Labels: [Type] Enhancement, [Feature] Design Tools

#48710 Site Editor: Move "Add Template"'s descriptions to tooltips
  packages/components/src/tooltip/index.js
  packages/edit-site/src/components/add-new-template/new-template.js
  packages/edit-site/src/components/add-new-template/style.scss
Labels: [Type] Enhancement, [Feature] Site Editor

#48163 withSpokenMessages: Change js files to typescript
  packages/components/CHANGELOG.md
  packages/components/src/higher-order/with-spoken-messages/index.tsx
  packages/components/src/higher-order/with-spoken-messages/test/index.tsx
Labels: [Type] Code Quality, [Package] Components, First-time Contributor

#48740 Make sure the directly inserted block in the Nav block is a Page link
  packages/block-library/src/navigation/edit/inner-blocks.js
Labels: [Block] Navigation, Backport to WP Beta/RC

#48731 Fix browser history when synchronising state with urls
  packages/edit-site/src/components/list/index.js
  packages/edit-site/src/components/routes/link.js
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-item/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-template/index.js
  packages/edit-site/src/components/sync-state-with-url/use-sync-canvas-mode-with-url.js
  packages/edit-site/src/components/sync-state-with-url/use-sync-path-with-url.js
  packages/edit-site/src/components/template-details/index.js
  packages/edit-site/src/components/use-edited-entity-record/index.js
  packages/edit-site/src/utils/history.js
  test/e2e/specs/site-editor/browser-history.spec.js
Labels: [Type] Bug, Backport to WP Beta/RC, [Feature] Site Editor

#48759 Fix: Incorrect selector generated by `append_to_selector` method
  lib/class-wp-theme-json-gutenberg.php
Labels: [Type] Performance, [Feature] Themes

#48746 Fix: Show creation popover on empty page links in the navigation sidebar.
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menus/navigation-menu-content.js
Labels: [Type] Bug, Backport to WP Beta/RC

#48770 Packages: Remove completely two deprecated webpack plugins
  .github/CODEOWNERS
  docs/manifest.json
  packages/custom-templated-path-webpack-plugin/.npmrc
  packages/custom-templated-path-webpack-plugin/CHANGELOG.md
  packages/custom-templated-path-webpack-plugin/README.md
  packages/custom-templated-path-webpack-plugin/index.js
  packages/custom-templated-path-webpack-plugin/package.json
  packages/custom-templated-path-webpack-plugin/test/fixtures/entry/index.js
  packages/custom-templated-path-webpack-plugin/test/fixtures/webpack.config.js
  packages/custom-templated-path-webpack-plugin/test/index.js
  packages/library-export-default-webpack-plugin/.npmrc
  packages/library-export-default-webpack-plugin/CHANGELOG.md
  packages/library-export-default-webpack-plugin/README.md
  packages/library-export-default-webpack-plugin/index.js
  packages/library-export-default-webpack-plugin/package.json
Labels: npm Packages

#48771 Import Classic Menu using the menu name as the block menu title
  packages/block-library/src/navigation/index.php
Labels: [Type] Bug, [Block] Navigation

#48773 i18n of created Navigation menu title
  packages/block-library/src/navigation/index.php
Labels: Internationalization (i18n), [Block] Navigation

#48739 Update: Add descriptions to all panels in the Site Editor's dark side… (#48739)Co-authored-by: Matias Ventura <mv@matiasventura.com>
  packages/edit-site/src/components/sidebar-navigation-screen-main/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-item/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menus/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menus/style.scss
  packages/edit-site/src/components/sidebar-navigation-screen-template/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-templates-browse/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-templates/index.js
  packages/edit-site/src/components/sidebar-navigation-screen/index.js
Labels: [Type] Enhancement, Backport to WP Beta/RC

#48776 Lodash: Refactor away from `_.kebabCase()` in `EditorHelpTopics`
  packages/editor/src/components/editor-help/index.native.js
Labels: [Type] Performance, [Type] Code Quality, Mobile App - i.e. Android or iOS, [Package] Editor

#48778 Fix: Browse mode descriptions margin.
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menus/style.scss
  packages/edit-site/src/components/sidebar-navigation-screen/style.scss
Labels: [Type] Bug, Backport to WP Beta/RC

#48781 Fix typo in template parts description
  packages/edit-site/src/components/sidebar-navigation-screen-templates-browse/index.js
Labels: Backport to WP Beta/RC

#48752 Order initial block items in Navigation with PrivateInserter
  packages/block-editor/src/components/inserter/index.js
  packages/block-editor/src/components/inserter/quick-inserter.js
  packages/block-editor/src/components/inserter/search-results.js
  packages/block-editor/src/components/off-canvas-editor/appender.js
  packages/block-editor/src/private-apis.js
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menus/index.js
Labels: [Type] Bug, [Feature] Inserter, [Block] Navigation

#48793 [Query Loop]: Show variant patterns even if there are no patterns for the Query Loop block
  packages/block-library/src/query/edit/query-placeholder.js
Labels: [Type] Bug, [Package] Block library, [Block] Query Loop

#48468 FontSizePicker: Allow custom units
  packages/components/CHANGELOG.md
  packages/components/src/font-size-picker/README.md
  packages/components/src/font-size-picker/index.tsx
  packages/components/src/font-size-picker/stories/index.tsx
  packages/components/src/font-size-picker/test/index.tsx
  packages/components/src/font-size-picker/types.ts
Labels: [Type] Enhancement, [Package] Components, [Feature] Design Tools

#48760 Update missing translation from label
  packages/block-library/src/columns/edit.native.js
  packages/block-library/src/comments/edit/placeholder.js
Labels: [Type] Bug, Internationalization (i18n), [Package] Block library, [Block] Columns, First-time Contributor, [Block] Comments

#48798 Add border radius to off canvas navigation menu items
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menus/style.scss
Labels: Backport to WP Beta/RC, [Feature] Site Editor

#48817 [WP6.2] Add missing 'unlock' import after conflict resolution
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menus/index.js
Labels: [Type] Bug

#48138 Improve Site Editor performance tests
  packages/e2e-tests/config/setup-performance-test.js
  packages/e2e-tests/specs/performance/site-editor.test.js
  packages/e2e-tests/specs/performance/utils.js
Labels: [Type] Performance

#48822 Fix: Scrollbar in site editor.
  packages/edit-site/src/components/layout/style.scss
  packages/edit-site/src/components/sidebar/style.scss
Labels: [Type] Regression, Backport to WP Beta/RC, [Feature] Site Editor

#48821 Add Nav block files to those triggering error for exhaustive deps
  .eslintrc.js
Labels: [Type] Code Quality, [Block] Navigation

#48573 ResponsiveWrapper: use aspect-ratio CSS prop and support SVG elements
  packages/components/CHANGELOG.md
  packages/components/src/responsive-wrapper/README.md
  packages/components/src/responsive-wrapper/index.tsx
  packages/components/src/responsive-wrapper/stories/index.tsx
  packages/components/src/responsive-wrapper/style.scss
  packages/components/src/responsive-wrapper/types.ts
Labels: [Type] Bug, [Package] Components

#48811 Fix classic menu fallback race condition
  packages/block-library/src/navigation/edit/index.js
Labels: [Type] Bug, [Block] Navigation

#47390 SelectControl: improve prop types for single vs multiple selection
  packages/components/CHANGELOG.md
  packages/components/src/query-controls/author-select.tsx
  packages/components/src/query-controls/category-select.tsx
  packages/components/src/select-control/index.tsx
  packages/components/src/select-control/stories/index.tsx
  packages/components/src/select-control/types.ts
  packages/components/src/tree-select/index.tsx
  packages/components/src/tree-select/types.ts
Labels: [Type] Code Quality, [Package] Components

#48673 Prefer committer over author date for perf results timestamp
  .github/workflows/performance.yml
Labels: [Type] Performance, GitHub Actions

#48602 Revert: Navigation: Always create a fallback menu
  packages/block-library/src/navigation/edit/index.js
  packages/block-library/src/navigation/index.php
  test/e2e/specs/editor/blocks/navigation.spec.js
Labels: [Block] Navigation

#48792 [RNMobile] Allow wildcard block transformations for container blocks
  packages/block-library/src/paragraph/test/__snapshots__/transforms.native.js.snap
  packages/block-library/src/paragraph/test/transforms.native.js
  packages/blocks/src/api/factory.js
  test/native/integration-test-helpers/README.md
  test/native/integration-test-helpers/index.js
  test/native/integration-test-helpers/open-block-actions-menu.js
  test/native/integration-test-helpers/trigger-block-list-layout.js
Labels: [Type] Bug, Mobile App - i.e. Android or iOS, [Block] Paragraph

#48723 Open convert to links modal on select of a page item
  docs/reference-guides/data/data-core-block-editor.md
  packages/block-editor/src/store/selectors.js
  packages/block-library/src/page-list-item/edit.js
  packages/block-library/src/page-list/edit.js
Labels: [Type] Enhancement, Needs Design Feedback, Needs Technical Feedback, [Block] Page List

#47351 `DimensionControl(Experimental)`: refactor to TypeScript
  packages/components/CHANGELOG.md
  packages/components/src/dimension-control/README.md
  packages/components/src/dimension-control/index.js
  packages/components/src/dimension-control/index.tsx
  packages/components/src/dimension-control/sizes.ts
  packages/components/src/dimension-control/stories/index.tsx
  packages/components/src/dimension-control/types.ts
  packages/components/tsconfig.json
Labels: [Type] Code Quality, [Package] Components

#48895 Adding examples of how to programmatically remove the panels in Document sidebar.
  docs/reference-guides/slotfills/plugin-document-setting-panel.md
Labels: [Type] Developer Documentation, Developer Experience

#45299 Try getting Post Content layout on server before editor loads
  lib/experimental/block-editor-settings.php
  lib/load.php
  packages/block-editor/src/hooks/layout.js
  packages/edit-post/src/components/visual-editor/index.js
  packages/editor/src/components/provider/use-block-editor-settings.js
Labels: [Package] Edit Post, [Block] Post Content, [Feature] Layout

#48780 Fix flaky block hierarchy navigation test by better inserter selection
  packages/e2e-tests/specs/editor/various/block-hierarchy-navigation.test.js
Labels: [Package] E2E Tests

#48664 Style Book: Move iframe to root of content area to support styles that overflow block previews
  packages/edit-site/src/components/style-book/index.js
  packages/edit-site/src/components/style-book/style.scss
  test/e2e/specs/site-editor/style-book.spec.js
Labels: [Type] Bug, Backport to WP Beta/RC, Global Styles

#48907 Fix navigation block off-canvas appender for empty menus
  packages/block-editor/src/components/off-canvas-editor/appender.js
  packages/block-editor/src/components/off-canvas-editor/index.js
  packages/block-library/src/navigation/edit/menu-inspector-controls.js
Labels: [Type] Bug, [Block] Navigation, Backport to WP Beta/RC

#48908 Site Editor: Improve the Navigation panel's menu query
  packages/edit-site/src/components/sidebar-navigation-screen-main/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menus/index.js
Labels: [Type] Performance, [Feature] Site Editor

#48775 Lodash: Remove from e2e-tests package
  package-lock.json
  packages/e2e-tests/config/setup-test-framework.js
  packages/e2e-tests/package.json
  packages/e2e-tests/specs/widgets/editing-widgets.test.js
Labels: [Type] Performance, [Type] Code Quality, [Package] E2E Tests

#48802 Editor: Provide static native editor help article slugs
  packages/editor/src/components/editor-help/index.native.js
Labels: [Type] Enhancement, Mobile App - i.e. Android or iOS, [Package] Editor

#48786 Lodash: Refactor away from `edit-post` package
  package-lock.json
  packages/edit-post/package.json
  packages/edit-post/src/components/header/post-publish-button-or-toggle.js
  packages/edit-post/src/components/header/template-title/edit-template-title.js
  packages/edit-post/src/components/header/tools-more-menu-group/index.js
  packages/edit-post/src/components/preferences-modal/index.js
  packages/edit-post/src/components/sidebar/post-taxonomies/taxonomy-panel.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Edit Post

#48742 Navigation: refactor to TypeScript
  packages/components/CHANGELOG.md
  packages/components/src/animate/index.js
  packages/components/src/navigation/README.md
  packages/components/src/navigation/back-button/index.tsx
  packages/components/src/navigation/constants.tsx
  packages/components/src/navigation/context.tsx
  packages/components/src/navigation/group/context.js
  packages/components/src/navigation/group/context.tsx
  packages/components/src/navigation/group/index.tsx
  packages/components/src/navigation/index.tsx
  packages/components/src/navigation/item/base-content.tsx
  packages/components/src/navigation/item/base.tsx
  packages/components/src/navigation/item/index.tsx
  packages/components/src/navigation/item/use-navigation-tree-item.tsx
  packages/components/src/navigation/menu/context.js
  packages/components/src/navigation/menu/context.tsx
  packages/components/src/navigation/menu/index.tsx
  packages/components/src/navigation/menu/menu-title-search.tsx
  packages/components/src/navigation/menu/menu-title.tsx
  packages/components/src/navigation/menu/search-no-results-found.tsx
  packages/components/src/navigation/menu/use-navigation-tree-menu.tsx
  packages/components/src/navigation/stories/index.js
  packages/components/src/navigation/stories/index.tsx
  packages/components/src/navigation/stories/utils/controlled-state.tsx
  packages/components/src/navigation/stories/utils/default.tsx
  packages/components/src/navigation/stories/utils/group.tsx
  packages/components/src/navigation/stories/utils/hide-if-empty.tsx
  packages/components/src/navigation/stories/utils/more-examples.tsx
  packages/components/src/navigation/stories/utils/search.tsx
  packages/components/src/navigation/styles/navigation-styles.tsx
  packages/components/src/navigation/test/index.tsx
  packages/components/src/navigation/types.ts
  packages/components/src/navigation/use-create-navigation-tree.tsx
  packages/components/src/navigation/use-navigation-tree-nodes.tsx
  packages/components/src/navigation/utils.tsx
  packages/components/tsconfig.json
Labels: [Type] Code Quality, [Package] Components

#48737 [RNMobile] Update placeholder logic in two BottomSheet components
  packages/components/src/mobile/bottom-sheet-text-control/README.md
  packages/components/src/mobile/bottom-sheet-text-control/index.native.js
  packages/components/src/mobile/bottom-sheet/cell.native.js
Labels: Mobile App - i.e. Android or iOS, [Block] Image, Mobile App - Automation

#48916 Navigation: Simplify the method for finding the fallback menu
  packages/block-library/src/navigation/edit/index.js
Labels: [Type] Code Quality, [Block] Navigation

#48918 Fix: Site button metrics
  packages/edit-site/src/components/site-hub/style.scss
Labels: [Type] Bug, Backport to WP Beta/RC

#47388 Upgrade Jest from 27 to 29.5.0
  package-lock.json
  package.json
  packages/README.md
  packages/components/src/mobile/bottom-sheet/bottom-sheet-navigation/test/navigation-container.native.js
  packages/components/src/mobile/link-settings/test/link-settings-navigation.native.js
  packages/data/src/test/privateAPIs.js
  packages/data/src/test/registry.js
  packages/e2e-test-utils/CHANGELOG.md
  packages/e2e-test-utils/package.json
  packages/e2e-tests/CHANGELOG.md
  packages/e2e-tests/babel.config.js
  packages/e2e-tests/package.json
  packages/edit-post/src/test/editor.native.js
  packages/editor/src/components/autosave-monitor/test/index.js
  packages/format-library/src/link/test/index.native.js
  packages/jest-console/CHANGELOG.md
  packages/jest-console/package.json
  packages/jest-preset-default/CHANGELOG.md
  packages/jest-preset-default/jest-preset.js
  packages/jest-preset-default/package.json
  packages/jest-puppeteer-axe/CHANGELOG.md
  packages/jest-puppeteer-axe/package.json
  packages/react-native-editor/jest_ui.config.js
  packages/react-native-editor/jest_ui_test_environment.js
  packages/report-flaky-tests/package.json
  packages/scripts/CHANGELOG.md
  packages/scripts/config/jest-environment-puppeteer/index.js
  packages/scripts/package.json
  packages/url/src/test/fixtures/wpt-data.json
  test/native/babel.config.js
  test/native/integration-test-helpers/with-fake-timers.js
  test/native/jest.config.js
  test/unit/jest.config.js
  test/unit/scripts/resolver.js
Labels: Automated Testing, [Package] Scripts

#48925 jest-preset-default: update README to reflect current status
  packages/jest-preset-default/README.md
Labels: [Type] Developer Documentation, [Package] Jest preset

#48921 Navigation: Fix missing state for MenuControls
  packages/block-library/src/navigation/edit/index.js
  packages/block-library/src/navigation/edit/menu-inspector-controls.js
Labels: [Type] Bug, [Block] Navigation

#48358 [Mobile] - E2E tests - Add new helpers
  packages/block-library/src/buttons/edit.native.js
  packages/edit-post/src/components/header/header-toolbar/index.native.js
  packages/react-native-editor/__device-tests__/helpers/utils.js
  packages/react-native-editor/__device-tests__/pages/editor-page.js
Labels: Mobile App - i.e. Android or iOS

#48928 Adjust whileHover effect to be a bit subtler and less pronounced.
  packages/edit-site/src/components/layout/index.js
Labels: [Type] Enhancement, [Feature] Site Editor

#48265 Docs: Table of styles keys with since versions
  docs/manifest.json
  docs/reference-guides/theme-json-reference/styles-versions.md
  docs/toc.json
Labels: [Type] Developer Documentation

#48941 Fix: Navigation sidebar shows a wrong submenu popover.
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menus/style.scss
Labels: [Type] Bug, Backport to WP Beta/RC

#48935 Remove actions from SidebarNavigationScreenWrapper
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menus/index.js
Labels: [Type] Bug, Backport to WP Beta/RC

#45326 Add constrained/flow layout to Cover block.
  packages/block-editor/src/layouts/constrained.js
  packages/block-library/src/cover/block.json
  packages/block-library/src/cover/index.js
  packages/block-library/src/cover/variations.js
  packages/e2e-tests/specs/editor/various/__snapshots__/inserting-blocks.test.js.snap
Labels: [Block] Cover, [Feature] Design Tools, [Feature] Layout

#48805 ResizeTooltip: Use default.fontFamily on tooltip
  packages/components/CHANGELOG.md
  packages/components/src/resizable-box/resize-tooltip/styles/resize-tooltip.styles.ts
Labels: [Type] Bug, [Package] Components

#47952 Add compound class to layout wrapper for global spacing styles
  docs/reference-guides/core-blocks.md
  lib/block-supports/layout.php
  lib/class-wp-theme-json-gutenberg.php
  packages/block-editor/src/components/global-styles/test/use-global-styles-output.js
  packages/block-editor/src/components/global-styles/use-global-styles-output.js
  packages/block-editor/src/hooks/layout.js
  packages/block-library/src/cover/block.json
  phpunit/block-supports/layout-test.php
  phpunit/class-wp-theme-json-test.php
Labels: [Block] Cover, [Feature] Design Tools, [Feature] Layout

#48764 Site editor: go direct to edit from manage all templates list
  packages/edit-site/src/components/list/table.js
Labels: [Type] Enhancement, [Feature] Site Editor

#48905 Fix template part actions in List View
  packages/edit-site/src/components/template-part-converter/convert-to-regular.js
  packages/edit-site/src/components/template-part-converter/convert-to-template-part.js
  packages/edit-site/src/components/template-part-converter/index.js
Labels: [Type] Bug, [Feature] Site Editor

#48910 Fix grouping actions in List View
  packages/block-editor/src/components/block-settings-menu-controls/index.js
  packages/block-editor/src/components/convert-to-group-buttons/use-convert-to-group-button-props.js
Labels: [Type] Bug, [Package] Block editor

#48931 Fix URL mismatch
  packages/core-data/README.md
Labels: [Type] Developer Documentation

#48948 Theme JSON schema: Add sticky position to settings, minHeight to styles
  docs/reference-guides/theme-json-reference/theme-json-living.md
  schemas/json/theme.json
Labels: [Type] Developer Documentation, [Feature] Themes

#48947 Distraction Free Mode: Don't show the metaboxes
  packages/edit-post/src/components/layout/index.js
Labels: [Type] Bug, General Interface, [Package] Edit Post, Backport to WP Beta/RC

#48951 Update the E2E tests documentation
  docs/contributors/code/e2e/README.md
Labels: [Type] Developer Documentation

#48491 Lodash: Remove `_.get()` from various blocks
  packages/block-library/src/columns/edit.js
  packages/block-library/src/latest-posts/edit.js
  packages/block-library/src/media-text/edit.native.js
  packages/block-library/src/pullquote/deprecated.js
  packages/block-library/src/query/utils.js
  packages/block-library/src/table/state.js
  packages/block-library/src/text-columns/edit.js
  packages/block-library/src/text-columns/save.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Block library, [Block] Table, [Block] Columns, [Block] Media & Text, [Block] Latest Posts, [Block] Pullquote, [Block] Query Loop

#48825 [RNMobile] Add block transforms integration tests for Media blocks
  packages/block-library/src/audio/test/__snapshots__/transforms.native.js.snap
  packages/block-library/src/audio/test/transforms.native.js
  packages/block-library/src/cover/test/__snapshots__/transforms.native.js.snap
  packages/block-library/src/cover/test/transforms.native.js
  packages/block-library/src/file/test/__snapshots__/transforms.native.js.snap
  packages/block-library/src/file/test/transforms.native.js
  packages/block-library/src/gallery/test/__snapshots__/transforms.native.js.snap
  packages/block-library/src/gallery/test/transforms.native.js
  packages/block-library/src/image/test/__snapshots__/transforms.native.js.snap
  packages/block-library/src/image/test/transforms.native.js
  packages/block-library/src/media-text/test/__snapshots__/transforms.native.js.snap
  packages/block-library/src/media-text/test/transforms.native.js
  packages/block-library/src/video/test/__snapshots__/transforms.native.js.snap
  packages/block-library/src/video/test/transforms.native.js
  test/native/__mocks__/styleMock.js
  test/native/setup.js
Labels: Mobile App - i.e. Android or iOS

#48883 [RNMobile] Add block transforms integration tests for Container blocks
  packages/block-library/src/columns/test/__snapshots__/transforms.native.js.snap
  packages/block-library/src/columns/test/transforms.native.js
  packages/block-library/src/group/test/__snapshots__/transforms.native.js.snap
  packages/block-library/src/group/test/transforms.native.js
Labels: Mobile App - i.e. Android or iOS

#48889 [RNMobile] Add block transforms integration tests for Other blocks
  packages/block-editor/src/components/block-mover/test/__snapshots__/index.native.js.snap
  packages/block-library/src/audio/test/__snapshots__/edit.native.js.snap
  packages/block-library/src/block/test/__snapshots__/transforms.native.js.snap
  packages/block-library/src/block/test/transforms.native.js
  packages/block-library/src/buttons/test/__snapshots__/transforms.native.js.snap
  packages/block-library/src/buttons/test/transforms.native.js
  packages/block-library/src/embed/test/__snapshots__/transforms.native.js.snap
  packages/block-library/src/embed/test/transforms.native.js
  packages/block-library/src/file/test/__snapshots__/edit.native.js.snap
  packages/block-library/src/freeform/test/__snapshots__/transforms.native.js.snap
  packages/block-library/src/freeform/test/transforms.native.js
  packages/block-library/src/latest-posts/test/__snapshots__/transforms.native.js.snap
  packages/block-library/src/latest-posts/test/transforms.native.js
  packages/block-library/src/missing/test/__snapshots__/edit.native.js.snap
  packages/block-library/src/more/test/__snapshots__/transforms.native.js.snap
  packages/block-library/src/more/test/transforms.native.js
  packages/block-library/src/nextpage/test/__snapshots__/transforms.native.js.snap
  packages/block-library/src/nextpage/test/transforms.native.js
  packages/block-library/src/search/test/__snapshots__/edit.native.js.snap
  packages/block-library/src/search/test/__snapshots__/transforms.native.js.snap
  packages/block-library/src/search/test/transforms.native.js
  packages/block-library/src/separator/test/__snapshots__/transforms.native.js.snap
  packages/block-library/src/separator/test/transforms.native.js
  packages/block-library/src/social-links/test/__snapshots__/transforms.native.js.snap
  packages/block-library/src/social-links/test/transforms.native.js
  packages/block-library/src/spacer/test/__snapshots__/transforms.native.js.snap
  packages/block-library/src/spacer/test/transforms.native.js
  test/native/setup.js
Labels: Mobile App - i.e. Android or iOS

#48888 Try: Update Tertiary Button appearance
  packages/components/src/button/style.scss
Labels: General Interface, Needs Design Feedback, [Package] Components

#48960 Inserter: Remove unnecessary dependency 'delayedFilterValue'
  packages/block-editor/src/components/inserter/menu.js
Labels: [Feature] Inserter, [Type] Code Quality

#48945 Fix settings tab active state border in block inspector
  packages/block-editor/src/components/block-inspector/style.scss
Labels: [Type] Bug, [Feature] Inspector Controls, Backport to WP Beta/RC

#48952 Env: Fix typo / grammar README.md
  packages/env/README.md
Labels: First-time Contributor, [Package] Env

#48961 Inserter: Remove outer scope values dependencies
  packages/block-editor/src/components/inserter/tabs.js
Labels: [Feature] Inserter, [Type] Code Quality

#48721 withFilters: Convert to TypeScript
  packages/components/CHANGELOG.md
  packages/components/src/higher-order/with-filters/index.tsx
  packages/components/src/higher-order/with-filters/test/__snapshots__/index.tsx.snap
  packages/components/src/higher-order/with-filters/test/index.tsx
  packages/components/tsconfig.json
Labels: [Package] Components

#48927 Navigation Link: Remove color generation code
  packages/block-library/src/navigation-link/index.php
Labels: [Block] Navigation, [Block] Navigation Link

#48933 Site Editor Navigation panel: Update appearance of non-link blocks
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menus/style.scss
Labels: Needs Design Feedback, [Feature] Site Editor

#48748 withFocusReturn: Convert to TypeScript
  packages/components/CHANGELOG.md
  packages/components/src/higher-order/with-focus-return/index.js
  packages/components/src/higher-order/with-focus-return/index.tsx
  packages/components/src/higher-order/with-focus-return/test/index.tsx
  packages/components/tsconfig.json
Labels: [Package] Components

#48820 Comments Block (Legacy): Update missing translation
  packages/block-library/src/comments/edit/placeholder.js
Labels: Internationalization (i18n), [Package] Block library, [Block] Comments

#49011 Update: Move the global styles provider to the app level component.
  packages/edit-site/src/components/app/index.js
  packages/edit-site/src/components/editor/index.js
Labels: [Type] Enhancement, Global Styles

#41572 Cover: Add text color block support
  docs/reference-guides/core-blocks.md
  packages/block-library/src/cover/block.json
  packages/block-library/src/cover/style.scss
  packages/block-library/src/media-text/transforms.js
Labels: [Type] Enhancement, [Block] Cover, [Feature] Design Tools

#49004 Fix kses filter for un-prettified filters
  lib/experimental/kses.php
Labels: [Type] Bug

#48784 Lodash: Refactor away from `_.set()` in core-data
  packages/core-data/src/queried-data/selectors.js
  packages/core-data/src/selectors.ts
  packages/core-data/src/utils/index.js
  packages/core-data/src/utils/set-nested-value.js
  packages/core-data/src/utils/test/set-nested-value.js
Labels: [Type] Performance, [Type] Code Quality, [Package] Core data

#48772 [Page list Block] Show untitled pages on page list on the editor
  packages/block-library/src/page-list-item/edit.js
  packages/block-library/src/page-list/edit.js
Labels: [Block] Page List

#49024 Fix: Global Styles getPresetsClasses crashes if no selector is passed.
  packages/block-editor/src/components/global-styles/use-global-styles-output.js
Labels: [Type] Bug, Global Styles

#48913 Fix lingering insertion point within template parts
  packages/block-editor/src/store/selectors.js
Labels: [Type] Regression, Backport to WP Beta/RC, [Feature] Site Editor

#48996 Preferences Modal: Fix double focus outline in tab item
  packages/interface/src/components/preferences-modal-tabs/style.scss
Labels: [Feature] UI Components, [a11y] Keyboard & Focus, [Package] Interface, CSS Styling

#48930 Post Editor: Fix animation and browser console error when returning from template edit mode
  packages/edit-post/src/components/visual-editor/index.js
Labels: [Package] Edit Post

#48132 Navigation block e2e tests: default to my most recently created menu
  test/e2e/specs/editor/blocks/navigation.spec.js
Labels: Automated Testing, [Block] Navigation

#49044 Fix: Global Styles getNodesWithStyles expects an object with elements.
  packages/block-editor/src/components/global-styles/use-global-styles-output.js
Labels: [Type] Bug, Global Styles
