Repository WordPress/gutenberg, pull requests merged in 2024-01, with the labels that each got.

#57432 Migrate remaining 'publish panel' e2e tests to Playwright
  packages/e2e-tests/specs/editor/various/publish-panel.test.js
  test/e2e/specs/editor/various/publish-panel.spec.js
Labels: [Type] Automated Testing

#57383 Core Data: Pass the 'options' argument to data action shortcuts
  packages/core-data/src/index.js
Labels: [Type] Bug, [Package] Core data

#57214 Editor: Unify the DocumentTools component
  packages/e2e-test-utils/src/inserter.js
  packages/e2e-test-utils/src/list-view.js
  packages/e2e-tests/specs/editor/various/editor-modes.test.js
  packages/e2e-tests/specs/editor/various/inserting-blocks.test.js
  packages/edit-post/src/components/header/index.js
  packages/edit-post/src/components/header/style.scss
  packages/edit-post/src/style.scss
  packages/edit-site/src/components/block-editor/use-site-editor-settings.js
  packages/edit-site/src/components/header-edit-mode/document-tools/index.js
  packages/edit-site/src/components/header-edit-mode/mode-switcher/index.js
  packages/edit-site/src/components/header-edit-mode/style.scss
  packages/edit-site/src/components/header-edit-mode/undo-redo/redo.js
  packages/edit-site/src/components/header-edit-mode/undo-redo/undo.js
  packages/editor/src/components/document-tools/index.js
  packages/editor/src/components/document-tools/style.scss
  packages/editor/src/private-apis.js
  packages/editor/src/style.scss
  test/e2e/specs/editor/plugins/post-type-locking.spec.js
Labels: [Type] Code Quality

#57257 Avoid using a memoized selector without dependencies
  packages/edit-widgets/src/store/private-selectors.js
  packages/edit-widgets/src/store/reducer.js
  packages/editor/src/store/private-selectors.js
  packages/editor/src/store/reducer.js
Labels: [Type] Bug

#57413 Quality: avoid React warning when changing rendering mode
  packages/editor/src/components/editor-canvas/index.js
Labels: [Type] Code Quality, [Package] Editor

#57411 Global style revisions: move change summary code and tests to block editor package
  packages/block-editor/src/components/global-styles/get-global-styles-changes.js
  packages/block-editor/src/components/global-styles/index.js
  packages/block-editor/src/components/global-styles/test/get-global-styles-changes.js
  packages/edit-site/src/components/global-styles/screen-revisions/revisions-buttons.js
Labels: [Type] Task, [Package] Block editor, Global Styles

#57471 Site editor: add padding to entity save panel header
  packages/editor/src/components/entities-saved-states/style.scss
Labels: [Type] Enhancement, [Feature] Saving

#57473 Site editor: add margin to entity save panel header via a classname
  packages/editor/src/components/entities-saved-states/index.js
  packages/editor/src/components/entities-saved-states/style.scss
Labels: [Type] Task, [Feature] Saving

#57448 Migrate 'sidebar' e2e tests to Playwright
  packages/e2e-tests/specs/editor/various/sidebar.test.js
  test/e2e/specs/editor/various/sidebar.spec.js
Labels: [Type] Automated Testing

#57273 [RNMobile] Auto-scroll upon block insertion
  packages/block-editor/src/components/block-draggable/index.native.js
  packages/block-editor/src/components/block-draggable/test/helpers.native.js
  packages/block-editor/src/components/block-draggable/use-scroll-when-dragging.native.js
  packages/block-editor/src/components/block-list/block-list-item-cell.native.js
  packages/block-editor/src/components/block-list/block.native.js
  packages/block-editor/src/components/block-list/index.native.js
  packages/block-editor/src/components/block-list/use-scroll-upon-insertion.native.js
  packages/components/src/mobile/keyboard-aware-flat-list/index.android.js
  packages/components/src/mobile/keyboard-aware-flat-list/index.ios.js
  packages/components/src/mobile/keyboard-aware-flat-list/test/use-scroll-to-section.native.js
  packages/components/src/mobile/keyboard-aware-flat-list/test/use-scroll.native.js
  packages/components/src/mobile/keyboard-aware-flat-list/use-scroll-to-element.native.js
  packages/components/src/mobile/keyboard-aware-flat-list/use-scroll-to-section.native.js
  packages/components/src/mobile/keyboard-aware-flat-list/use-scroll.native.js
  packages/react-native-editor/CHANGELOG.md
Labels: [Type] Enhancement, Mobile App - i.e. Android or iOS, Mobile App - Automation

#57472 Global styles revisions: add individual headings translations, update tests
  packages/block-editor/src/components/global-styles/get-global-styles-changes.js
  packages/block-editor/src/components/global-styles/test/get-global-styles-changes.js
Labels: [Type] Bug, Global Styles

#57333 DataViews: Use in patterns page
  packages/edit-site/src/components/page-main/index.js
  packages/edit-site/src/components/page-patterns/dataviews-pattern-actions.js
  packages/edit-site/src/components/page-patterns/dataviews-patterns.js
  packages/edit-site/src/components/page-patterns/style.scss
Labels: Needs Design, [Type] Experimental, [Feature] Data Views

#57279 [Mobile] Unselect blocks using the hardware back button (Android)
  packages/edit-post/src/test/editor.native.js
  packages/editor/src/components/provider/index.native.js
  packages/react-native-aztec/src/AztecInputState.js
  packages/react-native-aztec/src/test/AztecInputState.test.js
  packages/react-native-bridge/android/react-native-bridge/src/main/java/org/wordpress/mobile/WPAndroidGlue/WPAndroidGlueCode.java
  packages/react-native-bridge/index.js
  packages/react-native-editor/CHANGELOG.md
  test/native/setup.js
Labels: [Type] Task, Mobile App - i.e. Android or iOS

#57165 Remove deprecated `behaviors` syntax
  lib/block-supports/behaviors.php
  lib/blocks.php
  lib/class-wp-theme-json-gutenberg.php
  lib/class-wp-theme-json-schema-gutenberg.php
  lib/load.php
  packages/block-library/src/image/index.php
Labels: [Feature] Block API, Backwards Compatibility, [Type] Breaking Change, [Block] Image

#57398 Add `compact` size variant to InputControl-based components
  packages/components/CHANGELOG.md
  packages/components/src/input-control/styles/input-control-styles.tsx
  packages/components/src/input-control/types.ts
  packages/components/src/select-control/styles/select-control-styles.ts
  packages/components/src/unit-control/index.tsx
Labels: [Type] Enhancement, [Package] Components

#57330 Block editor: give iframe fallback background color
  packages/block-editor/src/components/block-canvas/index.js
  packages/block-editor/src/components/block-canvas/style.scss
  packages/block-editor/src/style.scss
  packages/edit-site/src/components/block-editor/style.scss
Labels: [Type] Bug, [Package] Block editor

#57474 Background image block support: Add tests for size and repeat output
  packages/style-engine/src/test/index.js
  phpunit/block-supports/background-test.php
  phpunit/style-engine/style-engine-test.php
Labels: [Type] Code Quality, [Feature] Design Tools, Needs PHP backport

#57475 ResizableEditor: Fix tab order for resize handles
  packages/edit-site/src/components/block-editor/resizable-editor.js
Labels: [Type] Bug, [Focus] Accessibility (a11y), Needs Accessibility Feedback, [Feature] Site Editor

#57468 Editor: Unify right click override preference
  packages/edit-post/src/components/preferences-modal/index.js
  packages/edit-post/src/components/preferences-modal/options/enable-feature.js
  packages/edit-post/src/editor.js
  packages/edit-post/src/index.js
  packages/edit-site/src/components/block-editor/use-site-editor-settings.js
  packages/edit-site/src/components/preferences-modal/enable-feature.js
  packages/edit-site/src/components/preferences-modal/index.js
  packages/edit-site/src/index.js
  packages/editor/src/components/provider/use-block-editor-settings.js
  packages/preferences-persistence/src/migrations/preferences-package-data/convert-editor-settings.js
  packages/preferences-persistence/src/migrations/preferences-package-data/index.js
  packages/preferences-persistence/src/migrations/preferences-package-data/test/convert-editor-settings.js
Labels: [Type] Enhancement, [Package] Preferences

#57481 Update copyright year to 2024 in `license.md`.
  LICENSE.md
Labels: [Type] Developer Documentation, Gutenberg Plugin

#57496 Allowed Patterns E2E test - move tests that run with a subset of allowed blocks into a group
  test/e2e/specs/editor/various/allowed-patterns.spec.js
Labels: [Type] Automated Testing

#57466 Editor: Unify the inserter sidebar
  packages/e2e-tests/specs/editor/various/inserting-blocks.test.js
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/secondary-sidebar/style.scss
  packages/edit-post/src/style.scss
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/secondary-sidebar/inserter-sidebar.js
  packages/edit-site/src/components/secondary-sidebar/style.scss
  packages/editor/src/components/inserter-sidebar/index.js
  packages/editor/src/components/inserter-sidebar/style.scss
  packages/editor/src/private-apis.js
  packages/editor/src/style.scss
Labels: [Feature] Inserter, [Type] Code Quality

#57420 Make sure comamnd palette toggle does not disappear while being clicked.
  packages/edit-site/src/components/site-hub/style.scss
Labels: [Type] Bug, [Package] Edit Site

#57036 Patterns: edit source pattern in focus mode in post editor
  lib/experiments-page.php
  packages/block-editor/src/components/block-inspector/index.js
  packages/block-editor/src/components/block-list/use-in-between-inserter.js
  packages/block-editor/src/store/selectors.js
  packages/block-library/src/block/edit.js
  packages/edit-post/src/components/browser-url/index.js
  packages/edit-post/src/components/header/index.js
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/editor.js
  packages/edit-post/src/hooks/use-post-history.js
  packages/edit-site/src/components/block-editor/back-button.js
  packages/edit-site/src/components/block-editor/use-post-link-props.js
  packages/edit-site/src/components/block-editor/use-site-editor-settings.js
  packages/edit-site/src/components/routes/link.js
  packages/editor/src/components/document-bar/index.js
  packages/editor/src/components/editor-canvas/index.js
  packages/editor/src/components/editor-canvas/style.scss
  packages/editor/src/components/provider/use-block-editor-settings.js
  packages/editor/src/style.scss
Labels: [Type] Enhancement, [Feature] Patterns

#57449 Block Library: Remove store subscriptions from Audio and Video blocks
  packages/block-library/src/audio/edit.js
  packages/block-library/src/video/edit.js
Labels: [Type] Performance, [Package] Block library

#57422 Migrate 'block editor keyboard shortcuts' e2e tests to Playwright
  packages/e2e-tests/specs/editor/various/__snapshots__/block-editor-keyboard-shortcuts.test.js.snap
  packages/e2e-tests/specs/editor/various/block-editor-keyboard-shortcuts.test.js
  test/e2e/specs/editor/various/block-editor-keyboard-shortcuts.spec.js
Labels: [Type] Automated Testing

#57479 Editor: Unify context text cursor preference
  packages/edit-post/src/components/preferences-modal/index.js
  packages/edit-post/src/editor.js
  packages/edit-site/src/components/block-editor/use-site-editor-settings.js
  packages/edit-site/src/components/preferences-modal/index.js
  packages/edit-site/src/index.js
  packages/editor/src/components/provider/use-block-editor-settings.js
  packages/preferences-persistence/src/migrations/preferences-package-data/convert-editor-settings.js
Labels: [Type] Enhancement, [Package] Preferences

#57503 Site editor: reinstate iframe CSS for editor canvas container
  packages/edit-site/src/components/block-editor/style.scss
Labels: [Type] Bug, [Feature] Site Editor

#57488 Dataviews: Add some client side data handling utils
  packages/dataviews/src/index.js
  packages/dataviews/src/utils.js
  packages/edit-site/src/components/page-patterns/dataviews-patterns.js
  packages/edit-site/src/components/page-templates/index.js
Labels: [Type] Experimental, [Feature] Data Views

#57467 Editor: Unify the list view sidebar between the post and site editors
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/secondary-sidebar/list-view-outline.js
  packages/edit-post/src/style.scss
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/secondary-sidebar/list-view-sidebar.js
  packages/edit-site/src/components/secondary-sidebar/style.scss
  packages/edit-site/src/style.scss
  packages/editor/src/components/document-outline/index.js
  packages/editor/src/components/document-outline/style.scss
  packages/editor/src/components/list-view-sidebar/index.js
  packages/editor/src/components/list-view-sidebar/list-view-outline.js
  packages/editor/src/components/list-view-sidebar/style.scss
  packages/editor/src/private-apis.js
  packages/editor/src/style.scss
  test/e2e/specs/site-editor/list-view.spec.js
Labels: [Type] Code Quality, [Feature] List View

#57480 Editor: Unify show icon labels preference
  packages/edit-post/src/components/header/index.js
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/preferences-modal/index.js
  packages/edit-post/src/components/sidebar/plugin-sidebar/index.js
  packages/edit-post/src/index.js
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/header-edit-mode/document-tools/index.js
  packages/edit-site/src/components/header-edit-mode/index.js
  packages/edit-site/src/components/preferences-modal/index.js
  packages/edit-site/src/components/sidebar-edit-mode/default-sidebar.js
  packages/edit-site/src/components/sidebar-edit-mode/plugin-sidebar/index.js
  packages/editor/src/components/document-tools/index.js
  packages/editor/src/components/post-saved-state/index.js
  packages/editor/src/components/post-view-link/index.js
  packages/editor/src/components/preview-dropdown/index.js
  packages/interface/src/components/complementary-area/index.js
  packages/preferences-persistence/src/migrations/preferences-package-data/convert-editor-settings.js
Labels: [Type] Enhancement, [Package] Preferences

#57506 Editor: Unify the show block breadcrumbs preference
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/preferences-modal/index.js
  packages/edit-post/src/hooks/commands/use-common-commands.js
  packages/edit-post/src/index.js
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/preferences-modal/index.js
  packages/edit-site/src/hooks/commands/use-edit-mode-commands.js
  packages/edit-site/src/index.js
  packages/preferences-persistence/src/migrations/preferences-package-data/convert-editor-settings.js
Labels: [Type] Enhancement, [Package] Preferences

#57513 Site Logo: Remove unnecessary 'block-editor' store subscription
  packages/block-library/src/site-logo/edit.js
Labels: [Type] Performance, [Block] Site Logo

#57424 Commands: Combine selectors in 'useTransformCommands'
  packages/block-editor/src/components/use-block-commands/index.js
Labels: [Type] Code Quality, [Package] Commands

#57483 Migrate `editing-widgets` to Playwright
  .eslintrc.js
  package-lock.json
  packages/e2e-test-utils-playwright/src/editor/get-blocks.ts
  packages/e2e-test-utils-playwright/src/editor/insert-block.ts
  packages/e2e-tests/jest.config.js
  packages/e2e-tests/package.json
  packages/e2e-tests/specs/editor/various/nux.test.js
  packages/e2e-tests/specs/widgets/editing-widgets.test.js
  test/e2e/specs/widgets/editing-widgets.spec.js
Labels: [Type] Automated Testing

#57505 DataViews: use DropdownMenuRadioItem component when possible
  packages/dataviews/src/add-filter.js
  packages/dataviews/src/view-actions.js
  packages/dataviews/src/view-table.js
Labels: [Type] Enhancement, [Feature] Data Views

#57498 NavigatorProvider: Exclude size value from contain CSS rule
  packages/components/CHANGELOG.md
  packages/components/src/navigator/styles.ts
Labels: [Type] Bug, [Package] Components

#57490 [RNMobile] Update unit tests of Aztec input state
  packages/react-native-aztec/src/test/AztecInputState.test.js
Labels: [Type] Automated Testing, Mobile App - i.e. Android or iOS

#57504 Editor: Unify list view open preference
  packages/edit-post/src/components/preferences-modal/index.js
  packages/edit-post/src/index.js
  packages/edit-site/src/components/editor-canvas-container/index.js
  packages/edit-site/src/components/preferences-modal/index.js
  packages/edit-site/src/components/sidebar-edit-mode/global-styles-sidebar.js
  packages/edit-site/src/index.js
  packages/edit-site/src/store/private-actions.js
  packages/preferences-persistence/src/migrations/preferences-package-data/convert-editor-settings.js
  test/e2e/specs/editor/various/block-renaming.spec.js
  test/e2e/specs/site-editor/list-view.spec.js
Labels: [Type] Enhancement, [Package] Preferences

#57489 DuotonePicker: Fix top margin when no duotone options
  packages/components/CHANGELOG.md
  packages/components/src/duotone-picker/duotone-picker.tsx
Labels: [Type] Bug, [Package] Components

#57493 List view: add drag cursor to draggable list items
  packages/block-editor/src/components/list-view/block.js
  packages/block-editor/src/components/list-view/style.scss
Labels: [Type] Enhancement, [Feature] List View

#57373 Block JSON schema: add renaming key to supports definition
  schemas/json/block.json
Labels: [Type] Developer Documentation, [Feature] Blocks

#57477 Gallery Block: Add random order setting
  docs/reference-guides/core-blocks.md
  packages/block-library/src/gallery/block.json
  packages/block-library/src/gallery/edit.js
  packages/block-library/src/gallery/index.php
  packages/block-library/src/gallery/transforms.js
  test/integration/fixtures/blocks/core__gallery-with-caption.json
  test/integration/fixtures/blocks/core__gallery.json
  test/integration/fixtures/blocks/core__gallery__columns.json
  test/integration/fixtures/blocks/core__gallery__deprecated-7.json
Labels: [Block] Gallery, [Type] Feature

#57511 File: Remove 'block-editor' store subscription
  packages/block-library/src/file/edit.js
Labels: [Type] Performance, [Block] File

#57509 Update 'missing block' e2e tests to use the 'setContent' helper
  test/e2e/specs/editor/blocks/missing.spec.js
Labels: [Type] Automated Testing

#57501 Custom field connections: better description on Experiments page
  lib/experiments-page.php
Labels: [Type] Experimental

#55688 Update the position of the patterns tab in the inserter menu
  packages/block-editor/src/components/inserter/index.js
  packages/block-editor/src/components/inserter/library.js
  packages/block-editor/src/components/inserter/menu.js
  packages/block-editor/src/components/inserter/tabs.js
Labels: [Type] Enhancement, [Focus] Accessibility (a11y), [Feature] Inserter

#57508 Migrate 'invalid blocks' e2e tests to Playwright
  packages/e2e-tests/specs/editor/various/invalid-block.test.js
  test/e2e/specs/editor/various/invalid-block.spec.js
Labels: [Type] Automated Testing

#57533 Editor: Unify spotlight mode preference
  packages/edit-post/src/components/header/writing-menu/index.js
  packages/edit-post/src/components/preferences-modal/index.js
  packages/edit-post/src/editor.js
  packages/edit-post/src/editor.native.js
  packages/edit-post/src/hooks/commands/use-common-commands.js
  packages/edit-site/src/components/block-editor/use-site-editor-settings.js
  packages/edit-site/src/components/header-edit-mode/more-menu/index.js
  packages/edit-site/src/components/preferences-modal/index.js
  packages/edit-site/src/hooks/commands/use-edit-mode-commands.js
  packages/edit-site/src/index.js
  packages/editor/src/components/provider/use-block-editor-settings.js
  packages/preferences-persistence/src/migrations/preferences-package-data/convert-editor-settings.js
Labels: [Type] Enhancement, [Package] Preferences

#57527 Remove unused parameters from useOnBlockDrop
  packages/block-editor/src/components/use-on-block-drop/index.js
  packages/block-editor/src/components/use-on-block-drop/test/index.js
Labels: [Type] Code Quality, Good First Review, [Package] Block editor

#57408 BaseControl: Connect to context system
  packages/components/CHANGELOG.md
  packages/components/src/base-control/index.tsx
  packages/components/src/context/wordpress-component.ts
Labels: [Type] Enhancement, [Package] Components

#57542 Migrate 'nux' e2e tests to Playwright
  packages/e2e-tests/specs/editor/various/nux.test.js
  test/e2e/specs/editor/various/nux.spec.js
Labels: [Type] Automated Testing

#57543 [RNMobile] Ensure keyboard opens after requesting focus on Android
  packages/react-native-aztec/android/src/main/java/org/wordpress/mobile/ReactNativeAztec/ReactAztecText.java
  packages/react-native-editor/android/app/src/main/java/com/gutenberg/MainActivity.java
Labels: [Type] Bug, Mobile App - i.e. Android or iOS

#57536 Mobile Release v1.110.0
  package-lock.json
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: [Type] Build Tooling, Mobile App - i.e. Android or iOS

#57181 Components: replace `TabPanel` with `Tabs` in the Font Library `Modal`
  packages/edit-site/src/components/global-styles/font-library-modal/font-collection.js
  packages/edit-site/src/components/global-styles/font-library-modal/index.js
  packages/edit-site/src/components/global-styles/font-library-modal/installed-fonts.js
  packages/edit-site/src/components/global-styles/font-library-modal/style.scss
  packages/edit-site/src/components/global-styles/font-library-modal/tab-panel-layout.js
Labels: [Type] Enhancement, [Package] Edit Site

#57322 Rich text: add HTML string methods to RichTextData
  packages/rich-text/src/create.js
Labels: [Type] Bug, [Package] Rich text, Backport to Gutenberg Minor Release

#57550 Update: Material design icons link.
  docs/explanations/user-interface/block-design.md
Labels: [Type] Developer Documentation

#57532 DataViews: Add sync filter in patterns page
  packages/dataviews/src/add-filter.js
  packages/dataviews/src/filter-summary.js
  packages/dataviews/src/filters.js
  packages/dataviews/src/view-grid.js
  packages/dataviews/src/view-table.js
  packages/edit-site/src/components/page-patterns/dataviews-patterns.js
Labels: [Type] Experimental, [Feature] Data Views

#57551 Fix: Create block getting started links.
  README.md
  docs/contributors/documentation/README.md
  docs/explanations/architecture/key-concepts.md
  docs/how-to-guides/README.md
  docs/how-to-guides/block-tutorial/applying-styles-with-stylesheets.md
  docs/how-to-guides/metabox.md
Labels: [Type] Developer Documentation

#57229 Keep Lock button it in the toolbar until unmounted
  packages/block-editor/src/components/block-lock/toolbar.js
  packages/block-editor/src/components/block-toolbar/index.js
  test/e2e/specs/editor/various/block-locking.spec.js
Labels: [Type] Bug, [Feature] Block Locking

#57199 Dependency Extraction Webpack Plugin: Add Module support
  packages/dependency-extraction-webpack-plugin/CHANGELOG.md
  packages/dependency-extraction-webpack-plugin/README.md
  packages/dependency-extraction-webpack-plugin/lib/.eslintrc.json
  packages/dependency-extraction-webpack-plugin/lib/index.js
  packages/dependency-extraction-webpack-plugin/lib/types.d.ts
  packages/dependency-extraction-webpack-plugin/lib/util.js
  packages/dependency-extraction-webpack-plugin/test/__snapshots__/build.js.snap
  packages/dependency-extraction-webpack-plugin/test/build.js
  packages/dependency-extraction-webpack-plugin/test/fixtures/combine-assets/webpack.config.js
  packages/dependency-extraction-webpack-plugin/test/fixtures/cyclic-dependency-graph/a.js
  packages/dependency-extraction-webpack-plugin/test/fixtures/cyclic-dependency-graph/b.js
  packages/dependency-extraction-webpack-plugin/test/fixtures/cyclic-dependency-graph/index.js
  packages/dependency-extraction-webpack-plugin/test/fixtures/cyclic-dependency-graph/webpack.config.js
  packages/dependency-extraction-webpack-plugin/test/fixtures/cyclic-dynamic-dependency-graph/a.js
  packages/dependency-extraction-webpack-plugin/test/fixtures/cyclic-dynamic-dependency-graph/b.js
  packages/dependency-extraction-webpack-plugin/test/fixtures/cyclic-dynamic-dependency-graph/index.js
  packages/dependency-extraction-webpack-plugin/test/fixtures/cyclic-dynamic-dependency-graph/webpack.config.js
  packages/dependency-extraction-webpack-plugin/test/fixtures/dynamic-import/webpack.config.js
  packages/dependency-extraction-webpack-plugin/test/fixtures/function-output-filename/webpack.config.js
  packages/dependency-extraction-webpack-plugin/test/fixtures/has-extension-suffix/webpack.config.js
  packages/dependency-extraction-webpack-plugin/test/fixtures/module-renames/index.js
  packages/dependency-extraction-webpack-plugin/test/fixtures/module-renames/webpack.config.js
  packages/dependency-extraction-webpack-plugin/test/fixtures/option-function-output-filename/webpack.config.js
  packages/dependency-extraction-webpack-plugin/test/fixtures/option-output-filename/webpack.config.js
  packages/dependency-extraction-webpack-plugin/test/fixtures/overrides/webpack.config.js
  packages/dependency-extraction-webpack-plugin/test/fixtures/runtime-chunk-single/webpack.config.js
  packages/dependency-extraction-webpack-plugin/test/fixtures/style-imports/webpack.config.js
  packages/dependency-extraction-webpack-plugin/test/fixtures/wordpress-interactivity/index.js
  packages/dependency-extraction-webpack-plugin/test/fixtures/wordpress-interactivity/webpack.config.js
  packages/dependency-extraction-webpack-plugin/test/fixtures/wordpress-require/webpack.config.js
  packages/dependency-extraction-webpack-plugin/test/fixtures/wordpress/webpack.config.js
Labels: [Type] Enhancement, [Package] Dependency Extraction Webpack Plugin, [Feature] Modules API

#57460 [Mobile] - Update E2E Tests related to the Writing flow
  packages/react-native-bridge/android/react-native-bridge/src/main/java/org/wordpress/mobile/WPAndroidGlue/GutenbergProps.kt
  packages/react-native-editor/__device-tests__/gutenberg-editor-device-actions.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-heading-@canary.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-paragraph.test.js
  packages/react-native-editor/__device-tests__/gutenberg-editor-writing-flow-@canary.test.js
  packages/react-native-editor/__device-tests__/pages/editor-page.js
  packages/react-native-editor/android/app/src/main/java/com/gutenberg/MainActivity.java
  packages/react-native-editor/ios/GutenbergDemo/GutenbergViewController.swift
Labels: [Type] Automated Testing, Mobile App - i.e. Android or iOS

#57559 Add new section to the Quick Start Guide about wp-env
  docs/getting-started/quick-start-guide.md
Labels: [Type] Developer Documentation

#56573 Post Featured Image: Add a useFirstImageFromPost attribute
  docs/reference-guides/core-blocks.md
  packages/block-library/src/post-featured-image/block.json
  packages/block-library/src/post-featured-image/edit.js
  packages/block-library/src/post-featured-image/index.php
  test/integration/fixtures/blocks/core__post-featured-image.json
Labels: [Type] Enhancement, [Block] Post Featured Image

#57520 Navigation: Refactor mobile overlay breakpoints to JS
  lib/compat/wordpress-6.5/class-wp-navigation-block-renderer.php
  packages/block-library/src/navigation/constants.js
  packages/block-library/src/navigation/edit/index.js
  packages/block-library/src/navigation/editor.scss
  packages/block-library/src/navigation/style.scss
  packages/block-library/src/navigation/view.js
Labels: [Block] Navigation

#57563 Preferences: update accessibility scope to "core"
  packages/edit-site/src/components/preferences-modal/index.js
Labels: [Type] Bug, [Package] Preferences

#57345 Tooltip: improve tests
  packages/components/CHANGELOG.md
  packages/components/src/modal/index.tsx
  packages/components/src/tooltip/index.tsx
  packages/components/src/tooltip/test/index.tsx
Labels: [Type] Enhancement, [Package] Components

#57495 Background image: Add has-background classname when background image is applied
  lib/block-supports/background.php
  packages/block-editor/src/hooks/background.js
  packages/block-editor/src/hooks/color.js
  phpunit/block-supports/background-test.php
Labels: [Status] In Progress, [Type] Code Quality, [Block] Group, Needs PHP backport

#57538 [Pattern Overrides] Fix duplication of inner blocks
  packages/block-library/src/block/edit.js
Labels: [Type] Experimental, [Feature] Patterns

#53467 Search Block: Remove unused `buttonBehavior` attribute
  docs/reference-guides/core-blocks.md
  packages/block-library/src/search/block.json
  packages/block-library/src/search/edit.js
  packages/block-library/src/search/index.php
  packages/block-library/src/search/style.scss
  test/integration/fixtures/blocks/core__search.json
  test/integration/fixtures/blocks/core__search__custom-text.json
Labels: [Type] Code Quality, [Block] Search

#57568 Code Quality: Rename `patternBlock` to `patternPost`
  packages/edit-site/src/components/page-patterns/dataviews-pattern-actions.js
  packages/edit-site/src/components/page-patterns/duplicate-menu-item.js
  packages/edit-site/src/components/page-patterns/grid-item.js
  packages/edit-site/src/components/page-patterns/use-patterns.js
Labels: [Type] Code Quality, [Feature] Patterns

#57539 Migrate 'scheduling' e2e tests to Playwright
  packages/e2e-tests/specs/editor/various/scheduling.test.js
  test/e2e/specs/editor/various/scheduling.spec.js
Labels: [Type] Automated Testing

#57545 Migrate 'datepicker' e2e tests to Playwright
  packages/e2e-tests/specs/editor/various/datepicker.test.js
  test/e2e/specs/editor/various/datepicker.spec.js
Labels: [Type] Automated Testing

#57574 Migrate 'editor modes' e2e tests to Playwright
  packages/e2e-tests/specs/editor/various/editor-modes.test.js
  test/e2e/specs/editor/various/editor-modes.spec.js
Labels: [Type] Automated Testing

#57570 Code Quality: Improve inserter pattern constants
  packages/block-editor/src/components/block-patterns-list/index.js
  packages/block-editor/src/components/inserter-draggable-blocks/index.js
  packages/block-editor/src/components/inserter/block-patterns-explorer/pattern-list.js
  packages/block-editor/src/components/inserter/block-patterns-tab/pattern-category-previews.js
  packages/block-editor/src/components/inserter/block-patterns-tab/patterns-filter.js
  packages/block-editor/src/components/inserter/block-patterns-tab/use-pattern-categories.js
  packages/block-editor/src/components/inserter/block-patterns-tab/utils.js
  packages/block-editor/src/components/inserter/hooks/use-patterns-state.js
  packages/block-editor/src/store/utils.js
Labels: [Type] Code Quality, [Feature] Patterns

#57531 Editor: Unify the top toolbar preference
  packages/e2e-test-utils-playwright/src/editor/set-is-fixed-toolbar.ts
  packages/edit-post/src/components/header/index.js
  packages/edit-post/src/components/header/writing-menu/index.js
  packages/edit-post/src/components/preferences-modal/index.js
  packages/edit-post/src/editor.js
  packages/edit-post/src/editor.native.js
  packages/edit-post/src/hooks/commands/use-common-commands.js
  packages/edit-post/src/index.js
  packages/edit-post/src/index.native.js
  packages/edit-post/src/store/actions.js
  packages/edit-post/src/store/test/actions.js
  packages/edit-site/src/components/block-editor/use-site-editor-settings.js
  packages/edit-site/src/components/header-edit-mode/index.js
  packages/edit-site/src/components/header-edit-mode/more-menu/index.js
  packages/edit-site/src/components/layout/index.js
  packages/edit-site/src/components/preferences-modal/index.js
  packages/edit-site/src/hooks/commands/use-edit-mode-commands.js
  packages/edit-site/src/index.js
  packages/edit-site/src/store/actions.js
  packages/edit-site/src/store/test/actions.js
  packages/editor/src/components/provider/use-block-editor-settings.js
  packages/preferences-persistence/src/migrations/preferences-package-data/convert-editor-settings.js
  packages/preferences-persistence/src/migrations/preferences-package-data/test/index.js
  test/e2e/specs/editor/blocks/links.spec.js
Labels: [Type] Enhancement, [Package] Preferences

#57529 Editor: Migrate and unify the panel preferences
  packages/edit-post/src/components/preferences-modal/test/__snapshots__/meta-boxes-section.js.snap
  packages/edit-post/src/index.js
  packages/edit-post/src/index.native.js
  packages/edit-post/src/store/selectors.js
  packages/edit-site/src/components/preferences-modal/enable-panel-option.js
  packages/edit-site/src/components/preferences-modal/index.js
  packages/edit-site/src/index.js
  packages/editor/src/store/actions.js
  packages/editor/src/store/selectors.js
  packages/interface/src/components/preferences-modal-section/index.js
  packages/interface/src/components/preferences-modal-section/style.scss
  packages/preferences-persistence/src/migrations/preferences-package-data/convert-editor-settings.js
  packages/preferences-persistence/src/migrations/preferences-package-data/test/index.js
Labels: [Type] Enhancement, [Package] Preferences

#57577 Dependency Extraction Webpack Plugin: Use `import` for module externals
  packages/dependency-extraction-webpack-plugin/lib/index.js
  packages/dependency-extraction-webpack-plugin/test/__snapshots__/build.js.snap
Labels: [Type] Bug, [Package] Dependency Extraction Webpack Plugin

#57548 Align icon size + placement in Patterns data view
  packages/edit-site/src/components/page-patterns/dataviews-patterns.js
  packages/edit-site/src/components/page-patterns/style.scss
Labels: [Type] Experimental, [Feature] Data Views

#57340 [Dataviews] Table layout: Ensure focus is not lost on interaction
  packages/dataviews/src/view-table.js
Labels: [Focus] Accessibility (a11y), Needs Design Feedback, [Type] Experimental, [Feature] Data Views

#57565 Dataview: Change the stacking order of table header
  packages/dataviews/src/style.scss
Labels: [Type] Experimental, [Feature] Data Views

#57518 Fullscreen mode description: use full text instead of abbreviation.
  packages/edit-post/src/components/header/writing-menu/index.js
Labels: [Type] Bug, [Focus] Accessibility (a11y), [Package] Edit Post

#57602 DependencyExtractionWebpackPlugin: Use module for @wordpress/interactivity
  packages/dependency-extraction-webpack-plugin/lib/util.js
  packages/dependency-extraction-webpack-plugin/test/__snapshots__/build.js.snap
Labels: [Type] Bug, [Package] Dependency Extraction Webpack Plugin

#57590 Editor: Unify the distraction free preference
  packages/edit-post/src/components/header/writing-menu/index.js
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/preferences-modal/index.js
  packages/edit-post/src/editor.js
  packages/edit-post/src/hooks/commands/use-common-commands.js
  packages/edit-post/src/index.js
  packages/edit-post/src/store/actions.js
  packages/edit-post/src/store/test/actions.js
  packages/edit-site/src/components/block-editor/use-site-editor-settings.js
  packages/edit-site/src/components/header-edit-mode/index.js
  packages/edit-site/src/components/header-edit-mode/more-menu/index.js
  packages/edit-site/src/components/layout/index.js
  packages/edit-site/src/components/preferences-modal/index.js
  packages/edit-site/src/hooks/commands/use-edit-mode-commands.js
  packages/edit-site/src/index.js
  packages/edit-site/src/store/actions.js
  packages/edit-site/src/store/private-actions.js
  packages/edit-site/src/store/test/actions.js
  packages/editor/src/components/provider/use-block-editor-settings.js
  packages/preferences-persistence/src/migrations/preferences-package-data/convert-editor-settings.js
Labels: [Type] Enhancement, [Package] Preferences

#57585 File: Remove unnecessary synchronization effect
  packages/block-library/src/file/edit.js
Labels: [Type] Code Quality, [Block] File

#57554 PostFeaturedImage: Remove unnecessary 'block-editor' store subscription
  packages/editor/src/components/post-featured-image/index.js
Labels: [Type] Performance, [Package] Editor

#57599 Footnotes: fix wrong link when adding more than 9 footnotes
  packages/core-data/src/footnotes/index.js
Labels: [Type] Bug, [Block] Footnotes

#57627 fix two typos in tutorial.md
  docs/getting-started/tutorial.md
Labels: [Type] Developer Documentation, First-time Contributor

#57564 Use `is-layout` pattern on layout generated classname
  lib/block-supports/layout.php
  packages/block-editor/src/hooks/layout.js
Labels: Backport from WordPress Core, [Feature] Layout

#57592 DataViews: Add `duplicate pattern` action in patterns page
  packages/dataviews/src/item-actions.js
  packages/edit-site/src/components/page-patterns/dataviews-pattern-actions.js
  packages/edit-site/src/components/page-patterns/dataviews-patterns.js
  packages/edit-site/src/components/page-patterns/style.scss
  packages/patterns/src/components/create-pattern-modal.js
  packages/patterns/src/components/duplicate-pattern-modal.js
  packages/patterns/src/private-apis.js
Labels: [Type] Experimental, [Feature] Data Views

#57019 Improve pre-publish checks naming consistency.
  packages/e2e-test-utils/src/disable-pre-publish-checks.js
  packages/e2e-test-utils/src/enable-pre-publish-checks.js
  packages/edit-post/src/components/preferences-modal/index.js
  packages/edit-post/src/hooks/commands/use-common-commands.js
  packages/interface/src/components/preferences-modal/README.md
  test/e2e/specs/editor/various/pref-modal.spec.js
Labels: [Type] Bug, [Focus] Accessibility (a11y), [Package] Edit Post, [Package] Interface

#57463 Font Library: add progress-bar while uploading font assets
  packages/edit-site/src/components/global-styles/font-library-modal/local-fonts.js
  packages/edit-site/src/components/global-styles/font-library-modal/style.scss
Labels: [Type] Enhancement, [Feature] Typography

#57522 Fix Link UI displaying out of sync results
  packages/block-editor/src/components/url-input/index.js
Labels: [Type] Bug, [Feature] Link Editing

#57637 Editor: Add the show most used blocks preference to the site editor
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/preferences-modal/index.js
  packages/edit-site/src/components/preferences-modal/index.js
  packages/editor/src/components/inserter-sidebar/index.js
  packages/preferences-persistence/src/migrations/preferences-package-data/convert-editor-settings.js
Labels: [Type] Enhancement, [Package] Preferences

#57593 DependencyExtractionWebpackPlugin: Add true shorthand for requestToExternalModule
  packages/dependency-extraction-webpack-plugin/README.md
  packages/dependency-extraction-webpack-plugin/lib/index.js
  packages/dependency-extraction-webpack-plugin/lib/types.d.ts
  packages/dependency-extraction-webpack-plugin/test/fixtures/combine-assets/webpack.config.js
  packages/dependency-extraction-webpack-plugin/test/fixtures/dynamic-import/webpack.config.js
  packages/dependency-extraction-webpack-plugin/test/fixtures/function-output-filename/webpack.config.js
  packages/dependency-extraction-webpack-plugin/test/fixtures/has-extension-suffix/webpack.config.js
  packages/dependency-extraction-webpack-plugin/test/fixtures/option-function-output-filename/webpack.config.js
  packages/dependency-extraction-webpack-plugin/test/fixtures/option-output-filename/webpack.config.js
  packages/dependency-extraction-webpack-plugin/test/fixtures/overrides/webpack.config.js
  packages/dependency-extraction-webpack-plugin/test/fixtures/runtime-chunk-single/webpack.config.js
  packages/dependency-extraction-webpack-plugin/test/fixtures/style-imports/webpack.config.js
  packages/dependency-extraction-webpack-plugin/test/fixtures/wordpress-require/webpack.config.js
  packages/dependency-extraction-webpack-plugin/test/fixtures/wordpress/webpack.config.js
Labels: [Type] Task, [Package] Dependency Extraction Webpack Plugin

#57638 DataViews: Add duplicate template pattern action
  packages/edit-site/src/components/create-template-part-modal/index.js
  packages/edit-site/src/components/page-patterns/dataviews-pattern-actions.js
  packages/edit-site/src/components/page-patterns/dataviews-patterns.js
  packages/edit-site/src/components/page-patterns/style.scss
Labels: [Type] Experimental, [Feature] Data Views

#57256 Modules: Load the import map polyfill when needed
  lib/experimental/modules/class-gutenberg-modules.php
Labels: [Type] Technical Prototype, [Type] Experimental

#54701 Font Library: unregister font collection
  lib/experimental/fonts/font-library/class-wp-font-library.php
  lib/experimental/fonts/font-library/font-library.php
  phpunit/tests/fonts/font-library/wpFontLibrary/base.php
  phpunit/tests/fonts/font-library/wpFontLibrary/getFontCollection.php
  phpunit/tests/fonts/font-library/wpFontLibrary/getFontCollections.php
  phpunit/tests/fonts/font-library/wpFontLibrary/getFontsDir.php
  phpunit/tests/fonts/font-library/wpFontLibrary/getMimeTypes.php
  phpunit/tests/fonts/font-library/wpFontLibrary/registerFontCollection.php
  phpunit/tests/fonts/font-library/wpFontLibrary/setUploadDir.php
  phpunit/tests/fonts/font-library/wpFontLibrary/unregisterFontCollection.php
Labels: [Type] Enhancement, Needs PHP backport, [Feature] Typography

#57569 Font Library: singularize install font families endpoint
  lib/experimental/fonts/font-library/class-wp-rest-font-families-controller.php
  packages/edit-site/src/components/global-styles/font-library-modal/context.js
  packages/edit-site/src/components/global-styles/font-library-modal/font-collection.js
  packages/edit-site/src/components/global-styles/font-library-modal/local-fonts.js
  packages/edit-site/src/components/global-styles/font-library-modal/resolvers.js
  packages/edit-site/src/components/global-styles/font-library-modal/utils/index.js
  packages/edit-site/src/components/global-styles/font-library-modal/utils/test/makeFormDataFromFontFamilies.spec.js
  packages/edit-site/src/components/global-styles/font-library-modal/utils/test/makeFormDataFromFontFamily.spec.js
  phpunit/tests/fonts/font-library/wpRestFontFamiliesController/installFonts.php
Labels: [Type] Enhancement, [Feature] Typography

#57617 Add Template Modal: Update scroll related layout
  packages/edit-site/src/components/add-new-template/style.scss
Labels: [Type] Enhancement, Needs Design Feedback, [Feature] Site Editor, OS Issues

#57553 Data views: Make title display in grid views consistent
  packages/dataviews/src/style.scss
  packages/edit-site/src/components/list/style.scss
  packages/edit-site/src/components/page-pages/index.js
  packages/edit-site/src/components/page-pages/style.scss
  packages/edit-site/src/components/page-patterns/dataviews-patterns.js
  packages/edit-site/src/components/page-templates/index.js
Labels: [Type] Experimental, [Feature] Data Views

#57644 Update Table layout design details
  packages/dataviews/src/pagination.js
  packages/dataviews/src/style.scss
  packages/dataviews/src/view-table.js
  packages/edit-site/src/components/page-pages/style.scss
Labels: [Type] Experimental, [Feature] Data Views

#57287 Components: replace `TabPanel` with `Tabs` in the Style Book
  packages/edit-site/src/components/style-book/index.js
  packages/edit-site/src/components/style-book/style.scss
Labels: [Type] Enhancement, [Package] Components

#57292 Components: replace `TabPanel` with `Tabs` in inline color picker
  package-lock.json
  packages/format-library/package.json
  packages/format-library/src/lock-unlock.js
  packages/format-library/src/text-color/inline.js
  packages/format-library/src/text-color/style.scss
  packages/private-apis/src/implementation.js
Labels: [Type] Enhancement, [Package] Format library

#56937 feat: Update Image block failed upload visuals
  packages/block-editor/src/components/index.native.js
  packages/block-editor/src/components/media-upload-progress/constants.js
  packages/block-editor/src/components/media-upload-progress/index.native.js
  packages/block-editor/src/components/media-upload-progress/test/index.native.js
  packages/block-library/src/image/edit.native.js
  packages/block-library/src/media-text/media-container.native.js
  packages/components/src/index.native.js
  packages/components/src/mobile/image/constants.js
  packages/components/src/mobile/image/index.native.js
  packages/components/src/mobile/image/style.native.scss
  packages/icons/src/library/offline.js
  packages/react-native-bridge/android/react-native-bridge/src/main/java/org/wordpress/mobile/ReactNativeGutenbergBridge/GutenbergBridgeJS2Parent.java
  packages/react-native-bridge/android/react-native-bridge/src/main/java/org/wordpress/mobile/WPAndroidGlue/DeferredEventEmitter.java
  packages/react-native-bridge/android/react-native-bridge/src/main/java/org/wordpress/mobile/WPAndroidGlue/WPAndroidGlueCode.java
  packages/react-native-bridge/ios/Gutenberg.swift
  packages/react-native-editor/CHANGELOG.md
Labels: [Type] Enhancement, Mobile App - i.e. Android or iOS, Mobile App - Automation

#57573 [Pattern overrides] Allow multiple attributes overrides
  lib/experimental/blocks.php
  lib/experimental/connection-sources/index.php
  packages/block-library/src/block/edit.js
Labels: [Type] Experimental, [Feature] Patterns

#57661 Pattern Overrides: Add `template-lock: all` to pattern inner blocks to prevent deletion/insertion
  packages/block-library/src/block/edit.js
Labels: [Type] Bug, [Feature] Synced Patterns, [Feature] Patterns, [Block] Pattern

#57662 Migrate 'taxonomies' e2e tests to Playwright
  packages/e2e-tests/specs/editor/various/taxonomies.test.js
  test/e2e/specs/editor/various/taxonomies.spec.js
Labels: [Type] Automated Testing

#57658 build: Patch boost install checksum mismatch error
  package-lock.json
  package.json
  patches/react-native+0.71.11+001+initial.patch
  patches/react-native+0.71.11+002+boost-podspec.patch
Labels: [Type] Build Tooling, Mobile App - i.e. Android or iOS, Mobile App - Automation

#57578 DataViews: make it the root for pages and add details
  packages/dataviews/README.md
  packages/dataviews/src/dataviews.js
  packages/dataviews/src/style.scss
  packages/dataviews/src/view-list.js
  packages/edit-site/src/components/page-main/index.js
  packages/edit-site/src/components/page-pages/index.js
  packages/edit-site/src/components/sidebar-dataviews/add-new-view.js
  packages/edit-site/src/components/sidebar-dataviews/default-views.js
  packages/edit-site/src/components/sidebar-dataviews/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-page/index.js
  packages/edit-site/src/components/sidebar/index.js
  packages/edit-site/src/utils/get-is-list-page.js
Labels: [Type] Experimental, [Feature] Data Views

#57671 Update table header gap
  packages/dataviews/src/style.scss
Labels: [Type] Experimental, [Feature] Data Views

#57670 Data views: Update pagination spacing in List layout
  packages/dataviews/src/style.scss
Labels: [Type] Experimental, [Feature] Data Views

#57461 WP Scripts: Build block.json viewModule
  packages/scripts/CHANGELOG.md
  packages/scripts/README.md
  packages/scripts/config/webpack.config.js
  packages/scripts/scripts/build.js
  packages/scripts/scripts/start.js
  packages/scripts/utils/block-json.js
  packages/scripts/utils/config.js
  packages/scripts/utils/index.js
Labels: [Feature] Block API, [Type] Build Tooling, [Package] Scripts, [Feature] Modules API

#57612 Make getLastFocus and setLastFocus private
  docs/reference-guides/data/data-core-block-editor.md
  packages/block-editor/src/components/navigable-toolbar/index.js
  packages/block-editor/src/components/writing-flow/use-tab-nav.js
  packages/block-editor/src/store/actions.js
  packages/block-editor/src/store/private-actions.js
  packages/block-editor/src/store/private-selectors.js
  packages/block-editor/src/store/selectors.js
Labels: [Type] Code Quality

#57437 Blocks: Add handling for block.json viewModule
  lib/experimental/modules/class-gutenberg-modules.php
Labels: [Feature] Blocks, Needs Dev Note, [Type] New API, [Feature] Modules API

#57656 Font Library: add wp_font_face post type and scaffold font face REST API controller
  lib/experimental/fonts/font-library/class-wp-rest-font-faces-controller.php
  lib/experimental/fonts/font-library/font-library.php
  lib/load.php
  phpunit/tests/fonts/font-library/wpRestFontFacesController.php
Labels: REST API Interaction, [Type] Experimental, [Feature] Typography

#57686 DataViews: Use i18n._x to clarify term "Duplicate"
  packages/edit-site/src/components/page-patterns/dataviews-pattern-actions.js
Labels: [Type] Bug, Internationalization (i18n), [Feature] Data Views

#57682 Add links to additional local dev tools in Block Developement Environment readme
  docs/getting-started/devenv/README.md
Labels: [Type] Developer Documentation

#57556 Interactivity API: Implement `wp_initial_state()`
  lib/experimental/interactivity-api/class-wp-directive-processor.php
  lib/experimental/interactivity-api/class-wp-interactivity-initial-state.php
  lib/experimental/interactivity-api/class-wp-interactivity-store.php
  lib/experimental/interactivity-api/directive-processing.php
  lib/experimental/interactivity-api/directives/wp-bind.php
  lib/experimental/interactivity-api/directives/wp-class.php
  lib/experimental/interactivity-api/directives/wp-context.php
  lib/experimental/interactivity-api/directives/wp-interactive.php
  lib/experimental/interactivity-api/directives/wp-style.php
  lib/experimental/interactivity-api/directives/wp-text.php
  lib/experimental/interactivity-api/initial-state.php
  lib/experimental/interactivity-api/store.php
  lib/load.php
  phpunit/experimental/interactivity-api/class-wp-interactivity-initial-state-test.php
  phpunit/experimental/interactivity-api/class-wp-interactivity-store-test.php
  phpunit/experimental/interactivity-api/directive-processing-test.php
  phpunit/experimental/interactivity-api/directives/wp-bind-test.php
  phpunit/experimental/interactivity-api/directives/wp-class-test.php
  phpunit/experimental/interactivity-api/directives/wp-context-test.php
  phpunit/experimental/interactivity-api/directives/wp-style-test.php
  phpunit/experimental/interactivity-api/directives/wp-text-test.php
Labels: [Type] Enhancement, [Feature] Interactivity API

#57699 Table: Remove unnecessary margin override in editor styles
  packages/block-library/src/table/editor.scss
Labels: [Type] Bug, [Block] Table

#57659 Reduce specificity of block style variation selectors.
  lib/class-wp-theme-json-gutenberg.php
  packages/block-library/src/button/style.scss
Labels: [Type] Enhancement, CSS Styling, [Feature] Block Styles

#57683 Label the HeightControl.
  packages/block-editor/src/components/height-control/index.js
Labels: [Type] Bug, [Focus] Accessibility (a11y), [Package] Components, [Package] Block editor

#57663 Migrate 'dropdown menu' e2e tests to Playwright
  packages/e2e-tests/specs/editor/various/dropdown-menu.test.js
  test/e2e/specs/editor/various/dropdown-menu.spec.js
Labels: [Type] Automated Testing

#57581 Migrate 'core settings' e2e tests to Playwright
  test/e2e/specs/editor/various/core-settings.spec.js
Labels: [Type] Automated Testing

#57655 Patterns: Refactor the findOrCreate term method
  packages/patterns/src/components/create-pattern-modal.js
Labels: [Type] Bug, [Feature] Patterns

#57652 [RNMobile] Fix losing undo/redo history when using non-breaking space HTML entity
  packages/block-editor/src/components/rich-text/native/index.native.js
  packages/block-editor/src/components/rich-text/native/test/__snapshots__/index.native.js.snap
  packages/block-editor/src/components/rich-text/native/test/index.native.js
Labels: [Type] Bug, [Feature] Writing Flow, Mobile App - i.e. Android or iOS

#57685 DataViews: add new page button in `Pages`
  packages/edit-site/src/components/page-pages/index.js
Labels: [Type] Experimental, [Feature] Data Views

#57704 Image Block: Change upload icon label
  packages/block-library/src/image/image.js
  test/e2e/specs/editor/blocks/image.spec.js
Labels: [Type] Copy, [Block] Image

#57680 Use full text instead of abbreviation for min height setting.
  packages/block-editor/src/components/global-styles/dimensions-panel.js
  packages/block-editor/src/components/height-control/README.md
Labels: [Type] Bug, [Focus] Accessibility (a11y), [Package] Block editor

#57705 Editor: Use hooks instead of HoCs in 'PostVisibilityCheck'
  packages/editor/src/components/post-visibility/check.js
  packages/editor/src/components/post-visibility/test/check.js
Labels: [Priority] Low, [Type] Code Quality, [Package] Editor

#57519 Clean up code editor CSS.
  packages/edit-post/src/components/text-editor/style.scss
  packages/edit-site/src/components/code-editor/style.scss
Labels: [Feature] Code Editor, [Type] Code Quality

#57714 Fix webpack not setting environment.module true
  packages/scripts/config/webpack.config.js
Labels: [Type] Bug, [Package] Scripts

#57715 Audio block: Add integration tests to cover enabling autoplay and loop setting in Audio block
  packages/block-library/src/audio/test/__snapshots__/edit.native.js.snap
  packages/block-library/src/audio/test/edit.native.js
Labels: [Type] Automated Testing, Mobile App - i.e. Android or iOS, [Block] Audio

#57690 DataViews: add footer to Pages sidebar
  packages/edit-site/src/components/sidebar-navigation-screen-pages-dataviews/index.js
  packages/edit-site/src/components/sidebar/index.js
Labels: [Type] Experimental, [Feature] Data Views

#57712 Interactive template: Use viewModule
  packages/create-block-interactive-template/CHANGELOG.md
  packages/create-block-interactive-template/README.md
  packages/create-block-interactive-template/block-templates/render.php.mustache
  packages/create-block-interactive-template/index.js
  packages/create-block-interactive-template/plugin-templates/$slug.php.mustache
  packages/create-block/CHANGELOG.md
  packages/create-block/lib/init-block.js
  packages/create-block/lib/scaffold.js
  packages/interactivity/docs/1-getting-started.md
Labels: [Type] Feature, [Package] Create Block, [Feature] Interactivity API

#57547 Update @ariakit/react to v0.3.12 and @ariakit/test to v0.3.7
  package-lock.json
  package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/components/src/alignment-matrix-control/test/index.tsx
  packages/components/src/toggle-group-control/test/index.tsx
Labels: [Type] Enhancement, [Package] Components

#57605 [Mobile] - Fix missing custom gradient indicator in the color palette
  packages/block-library/src/buttons/test/__snapshots__/edit.native.js.snap
  packages/block-library/src/buttons/test/edit.native.js
  packages/block-library/src/cover/edit.native.js
  packages/components/src/color-palette/index.native.js
  packages/components/src/mobile/color-settings/palette.screen.native.js
  packages/react-native-editor/CHANGELOG.md
Labels: [Type] Bug, Mobile App - i.e. Android or iOS

#57697 Font Library: filter fonts upload directory
  lib/experimental/fonts/font-library/class-wp-font-family.php
  lib/experimental/fonts/font-library/class-wp-font-library.php
  phpunit/tests/fonts/font-library/wpFontLibrary/fontsDir.php
  phpunit/tests/fonts/font-library/wpFontLibrary/getFontsDir.php
  phpunit/tests/fonts/font-library/wpFontLibrary/setUploadDir.php
Labels: [Type] Enhancement, [Feature] Typography

#57202 Tooltip: no-op when nested inside another Tooltip component
  packages/components/CHANGELOG.md
  packages/components/src/tooltip/README.md
  packages/components/src/tooltip/index.tsx
  packages/components/src/tooltip/stories/index.story.tsx
  packages/components/src/tooltip/test/index.tsx
  packages/components/src/tooltip/types.ts
Labels: [Type] Enhancement, [Package] Components

#57730 Font Library: add wp_get_font_dir() function.
  lib/experimental/fonts/font-library/class-wp-font-family.php
  lib/experimental/fonts/font-library/class-wp-font-library.php
  lib/experimental/fonts/font-library/class-wp-rest-font-families-controller.php
  lib/experimental/fonts/font-library/font-library.php
  phpunit/tests/fonts/font-library/fontsDir.php
  phpunit/tests/fonts/font-library/wpFontFamily/base.php
  phpunit/tests/fonts/font-library/wpRestFontFamiliesController/base.php
Labels: [Type] Feature, [Feature] Typography

#57274 Disable lock button if user cannot control lock state
  packages/block-editor/src/components/block-lock/toolbar.js
Labels: [Type] Enhancement, Needs Design

#57741 docs: Note the mobile E2E tests `jq` dependency
  packages/react-native-editor/__device-tests__/README.md
Labels: [Type] Developer Documentation, Mobile App - i.e. Android or iOS

#57731 chore: Enable offline media upload features
  packages/edit-post/src/components/layout/index.native.js
  packages/react-native-editor/CHANGELOG.md
Labels: [Type] Task, Mobile App - i.e. Android or iOS

#57716 Add description to the save panel header when nothing is checked
  packages/editor/src/components/entities-saved-states/index.js
Labels: [Type] Copy, [Feature] Saving, [Package] Editor

#57746 Gallery Block: Remove duplicate return statement
  packages/block-library/src/gallery/index.php
Labels: [Type] Code Quality, [Block] Gallery, Good First Review

#57753 Remove obsolete check from dataviews modal actions title
  packages/dataviews/src/item-actions.js
Labels: [Type] Code Quality, [Feature] Data Views

#56661 Add defaultFontSizes option to theme.json
  docs/reference-guides/theme-json-reference/theme-json-living.md
  lib/class-wp-theme-json-gutenberg.php
  lib/theme.json
  packages/block-editor/src/components/global-styles/hooks.js
  packages/block-editor/src/components/global-styles/typography-panel.js
  packages/block-editor/src/hooks/utils.js
  packages/block-editor/src/utils/object.js
  schemas/json/theme.json
Labels: Needs Dev Note, [Type] Feature, [Feature] Typography

#57734 Font Library: Use data or src file to define font collection data
  lib/experimental/fonts/font-library/class-wp-font-collection.php
  lib/experimental/fonts/font-library/class-wp-rest-font-collections-controller.php
  lib/experimental/fonts/font-library/font-library.php
  phpunit/tests/fonts/font-library/wpFontCollection/__construct.php
  phpunit/tests/fonts/font-library/wpFontCollection/getConfig.php
  phpunit/tests/fonts/font-library/wpFontCollection/getConfigAndData.php
Labels: [Type] Enhancement, [Feature] Typography

#57735 Use `slug` instead of `id` for Font Collection
  lib/experimental/fonts/font-library/class-wp-font-collection.php
  lib/experimental/fonts/font-library/class-wp-font-library.php
  lib/experimental/fonts/font-library/class-wp-rest-font-collections-controller.php
  lib/experimental/fonts/font-library/font-library.php
  phpunit/tests/fonts/font-library/wpFontCollection/__construct.php
  phpunit/tests/fonts/font-library/wpFontCollection/getConfig.php
  phpunit/tests/fonts/font-library/wpFontCollection/getConfigAndData.php
  phpunit/tests/fonts/font-library/wpFontLibrary/getFontCollection.php
  phpunit/tests/fonts/font-library/wpFontLibrary/getFontCollections.php
  phpunit/tests/fonts/font-library/wpFontLibrary/registerFontCollection.php
  phpunit/tests/fonts/font-library/wpFontLibrary/unregisterFontCollection.php
  phpunit/tests/fonts/font-library/wpRestFontCollectionsController/getFontCollection.php
  phpunit/tests/fonts/font-library/wpRestFontCollectionsController/getFontCollections.php
  phpunit/tests/fonts/font-library/wpRestFontCollectionsController/registerRoutes.php
Labels: [Type] Experimental, [Feature] Typography

#57711 Group templates in sidebar list
  packages/edit-site/src/components/sidebar-navigation-screen-templates/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-templates/style.scss
  packages/edit-site/src/style.scss
Labels: [Type] Enhancement, [Feature] Site Editor
