Repository WordPress/gutenberg, pull requests merged in 2024-10, with the labels that each got.

#65713 Block Bindings: Open the stable editor APIs
  packages/block-editor/README.md
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/hooks/block-bindings.js
  packages/block-editor/src/private-apis.js
  packages/block-editor/src/utils/block-bindings.js
  packages/block-editor/src/utils/index.js
  packages/block-library/src/block/edit.js
  packages/block-library/src/button/edit.js
  packages/block-library/src/image/edit.js
  packages/block-library/src/image/image.js
  packages/blocks/README.md
  packages/blocks/src/api/index.js
  packages/blocks/src/api/registration.js
  packages/blocks/src/store/reducer.js
  packages/e2e-tests/plugins/block-bindings/index.js
  packages/editor/src/bindings/api.js
  packages/editor/src/hooks/pattern-overrides.js
  packages/patterns/src/components/pattern-overrides-controls.js
Labels: Needs Dev Note, Backport to WP 6.7 Beta/RC, [Type] New API, [Feature] Block bindings

#65707 List view: fix miscolored icons
  packages/block-editor/src/components/list-view/style.scss
Labels: [Type] Bug, [Feature] List View

#65716 Buttons: add box-sizing:border-box rule
  packages/block-library/src/buttons/style.scss
Labels: [Type] Enhancement, [Block] Buttons

#64959 Update block-filters.md
  docs/reference-guides/filters/block-filters.md
Labels: [Type] Developer Documentation, First-time Contributor

#65732 Limit zoom out toggle to specific post types
  packages/editor/src/components/header/index.js
Labels: [Type] Bug, [Feature] Focus Mode

#65740 SearchControl: Fix rest props mutation
  packages/components/src/search-control/index.tsx
Labels: [Type] Code Quality, [Package] Components

#65739 Edit Site: Fix `useLink` prop mutation
  packages/edit-site/src/components/routes/link.js
Labels: [Type] Code Quality, [Feature] Themes, [Package] Edit Site

#65742 Button: Add `__next40pxDefaultSize` in block-editor 6
  packages/block-editor/src/components/skip-to-selected-block/index.js
  packages/block-editor/src/components/skip-to-selected-block/style.scss
  packages/block-editor/src/components/tool-selector/index.js
  packages/block-editor/src/components/url-input/button.js
  packages/block-editor/src/components/url-input/index.js
  packages/block-editor/src/components/url-input/style.scss
  packages/block-editor/src/layouts/flex.js
Labels: [Type] Code Quality, [Package] Block editor, Backport to WP 6.7 Beta/RC

#65753 Navigator: use stable export instead of experimental export
  packages/block-editor/src/components/inserter/mobile-tab-navigation.js
  packages/components/src/index.ts
  packages/edit-site/src/components/global-styles-sidebar/index.js
  packages/edit-site/src/components/global-styles/font-library-modal/font-card.js
  packages/edit-site/src/components/global-styles/font-library-modal/font-collection.js
  packages/edit-site/src/components/global-styles/font-library-modal/installed-fonts.js
  packages/edit-site/src/components/global-styles/font-sizes/font-size.js
  packages/edit-site/src/components/global-styles/header.js
  packages/edit-site/src/components/global-styles/navigation-button.js
  packages/edit-site/src/components/global-styles/screen-revisions/index.js
  packages/edit-site/src/components/global-styles/shadows-edit-panel.js
  packages/edit-site/src/components/global-styles/ui.js
  packages/preferences/src/components/preferences-modal-tabs/index.js
Labels: [Type] Code Quality, [Package] Block editor, [Package] Edit Site, [Package] Preferences

#65763 Navigator: fix README heading hierarchy
  packages/components/src/navigator/README.md
Labels: [Type] Developer Documentation, [Package] Components

#65793 Temp disable test for Classic Block Media issue
  test/e2e/specs/editor/blocks/classic.spec.js
Labels: [Type] Bug

#65475 BorderControl: Promote to stable
  packages/components/CHANGELOG.md
  packages/components/src/border-control/border-control-dropdown/component.tsx
  packages/components/src/border-control/border-control/README.md
  packages/components/src/border-control/border-control/component.tsx
  packages/components/src/border-control/stories/index.story.tsx
  packages/components/src/border-control/test/index.js
  packages/components/src/border-control/types.ts
  packages/components/src/index.ts
  storybook/manager-head.html
Labels: [Type] Code Quality, [Package] Components, Needs Dev Note

#65175 ToggleGroupControl: improve animation
  packages/components/CHANGELOG.md
  packages/components/src/toggle-group-control/test/__snapshots__/index.tsx.snap
  packages/components/src/toggle-group-control/toggle-group-control-option-base/component.tsx
  packages/components/src/toggle-group-control/toggle-group-control-option-base/styles.ts
  packages/components/src/toggle-group-control/toggle-group-control/as-button-group.tsx
  packages/components/src/toggle-group-control/toggle-group-control/as-radio-group.tsx
  packages/components/src/toggle-group-control/toggle-group-control/component.tsx
  packages/components/src/toggle-group-control/toggle-group-control/styles.ts
  packages/components/src/toggle-group-control/types.ts
  packages/components/src/utils/element-rect.ts
  packages/components/src/utils/hooks/use-on-value-update.ts
Labels: [Type] Enhancement, [Package] Components

#65761 Fix focus loss when deleting selected block in zoom out mode
  packages/block-editor/src/components/block-tools/zoom-out-toolbar.js
Labels: [Type] Bug, [Feature] Zoom Out

#65769 Social Links: Fix block appender size
  packages/block-library/src/social-links/editor.scss
Labels: [Type] Bug, [Block] Social

#65809 Revert "Temp disable test for Classic Block Media issue."
  test/e2e/specs/editor/blocks/classic.spec.js
Labels: [Type] Automated Testing

#65804 Restore accidentally removed entries in changelog (components package)
  packages/components/CHANGELOG.md
Labels: [Type] Bug, [Package] Components

#65810 Global style revisions: remove unnecessary `goTo` navigation call
  packages/edit-site/src/components/global-styles/screen-revisions/index.js
Labels: [Type] Code Quality, Global Styles

#65796 Block Bindings: Add `@since` tag in bindings apis JSDocs
  packages/block-editor/README.md
  packages/block-editor/src/utils/block-bindings.js
  packages/blocks/README.md
  packages/blocks/src/api/registration.js
Labels: [Type] Developer Documentation, [Feature] Block bindings

#65731 Resize cover block only in normal mode
  packages/block-library/src/cover/edit/index.js
Labels: [Type] Bug, [Block] Cover, Backport to WP 6.7 Beta/RC, [Feature] Zoom Out

#65700 Inserter: Fix Block visibility manager
  packages/block-editor/src/components/inserter/hooks/use-patterns-state.js
  packages/block-editor/src/store/selectors.js
  test/e2e/specs/editor/various/allowed-patterns.spec.js
Labels: [Type] Bug, [Feature] Inserter

#65791 Avoid errors when a fontSize preset is not available
  packages/edit-site/src/components/global-styles/font-sizes/font-size.js
Labels: [Type] Bug, Backport to WP 6.7 Beta/RC, Global Styles

#65789 Hide Zoom Out Inserters when dragging into canvas
  packages/block-editor/src/components/block-tools/index.js
Labels: [Type] Bug, [Feature] Zoom Out

#65765 Fix: Shadow/Font size preset panel crashes the editor
  packages/edit-site/src/components/global-styles/font-sizes/font-size.js
  packages/edit-site/src/components/global-styles/shadows-edit-panel.js
Labels: [Type] Bug, Global Styles

#65802 Navigator: mark experimental exports as deprecated
  packages/components/CHANGELOG.md
  packages/components/src/index.ts
Labels: [Type] Code Quality, [Package] Components

#62062 Docs/interactivity api router package readme
  packages/interactivity-router/README.md
Labels: [Type] Developer Documentation, [Feature] Interactivity API, [Package] Interactivity Router

#65821 Composite: fix legacy implementation passing store prop
  packages/components/CHANGELOG.md
  packages/components/src/composite/group-label.tsx
  packages/components/src/composite/group.tsx
  packages/components/src/composite/hover.tsx
  packages/components/src/composite/index.tsx
  packages/components/src/composite/item.tsx
  packages/components/src/composite/row.tsx
  packages/components/src/composite/typeahead.tsx
Labels: [Type] Bug, [Package] Components

#65399 DataForm - Add combined fields support
  packages/dataviews/src/components/dataform-combined-edit/index.tsx
  packages/dataviews/src/components/dataform-combined-edit/style.scss
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/dataforms-layouts/get-visible-fields.ts
  packages/dataviews/src/dataforms-layouts/panel/index.tsx
  packages/dataviews/src/dataforms-layouts/regular/index.tsx
  packages/dataviews/src/normalize-fields.ts
  packages/dataviews/src/style.scss
  packages/dataviews/src/types.ts
  packages/dataviews/src/validation.ts
Labels: [Type] Enhancement, [Feature] Data Views

#65807 Customize widgets, edit post: refactor Button to new sizes
  packages/customize-widgets/src/components/error-boundary/index.js
  packages/customize-widgets/src/components/inserter/index.js
  packages/customize-widgets/src/components/welcome-guide/index.js
  packages/edit-post/src/components/back-button/fullscreen-mode-close.js
  packages/edit-post/src/components/back-button/test/__snapshots__/fullscreen-mode-close.js.snap
  packages/edit-post/src/components/init-pattern-modal/index.js
  packages/edit-post/src/components/preferences-modal/enable-custom-fields.js
  packages/edit-post/src/components/preferences-modal/test/__snapshots__/enable-custom-fields.js.snap
Labels: [Type] Code Quality, [Package] Edit Post, [Feature] Widgets Customizer

#65764 Light branding for the reference site
  storybook/main.js
  storybook/static/wp-logo@2x.png
  storybook/theme.js
Labels: [Type] Enhancement, First-time Contributor, Storybook, Design System

#65808 `ToggleGroupControl`: clean up animation logic
  packages/components/src/toggle-group-control/test/__snapshots__/index.tsx.snap
  packages/components/src/toggle-group-control/toggle-group-control/component.tsx
  packages/components/src/toggle-group-control/toggle-group-control/styles.ts
Labels: [Type] Code Quality, [Package] Components

#65817 Composite: add "With Tooltip" storybook example
  packages/components/src/composite/stories/index.story.tsx
Labels: [Type] Developer Documentation, [Package] Components

#65787 File block: Allow content only editing
  packages/block-library/src/file/block.json
Labels: [Type] Enhancement, [Block] File

#65780 Storybook: allow for case-agnostic filtering of icons
  packages/icons/src/icon/stories/index.story.js
Labels: [Type] Enhancement, Storybook, [Package] Icons

#63994 Makes spacing consistent in zoom out vertical toolbar
  packages/block-editor/src/components/block-tools/style.scss
Labels: [Type] Bug, [Feature] Zoom Out

#65835 Filter UI: Remove popover max height
  packages/dataviews/src/components/dataviews-filters/style.scss
Labels: [Type] Enhancement, [Feature] Data Views

#65720 Composite: make items tabbable if active element gets removed
  packages/components/CHANGELOG.md
  packages/components/src/composite/item.tsx
  packages/components/src/composite/test/index.tsx
Labels: [Type] Bug, [Package] Components

#65839 Top Toolbar: Show document bar when no block is selected even if block tools are expanded
  packages/editor/src/components/header/index.js
Labels: [Type] Bug, General Interface, Backport to WP 6.7 Beta/RC

#65662 Remove user-select:text
  packages/block-editor/src/components/block-list/content.scss
  packages/block-library/src/editor.scss
  packages/block-library/src/post-content/editor.scss
Labels: [Type] Bug, [Feature] Writing Flow

#65853 Backport #65821 to 6.7
  packages/components/CHANGELOG.md
  packages/components/src/composite/group-label.tsx
  packages/components/src/composite/group.tsx
  packages/components/src/composite/hover.tsx
  packages/components/src/composite/index.tsx
  packages/components/src/composite/item.tsx
  packages/components/src/composite/row.tsx
  packages/components/src/composite/typeahead.tsx
Labels: [Type] Bug, [Package] Components

#65840 Button: Move to stricter lint rule for 40px size adherence
  .eslintrc.js
  packages/editor/src/components/post-template/classic-theme.js
Labels: [Type] Code Quality

#65843 Focus first section root block if no selected block and tabbing to zoom out canvas
  packages/block-editor/src/components/writing-flow/use-tab-nav.js
Labels: [Type] Bug, [Feature] Zoom Out

#65848 Post Terms: Fix fatal error when 'get_the_term_list' returns 'WP_Error'
  packages/block-library/src/post-terms/index.php
Labels: [Type] Bug, [Block] Post Terms

#65854 Type the router package
  packages/router/CHANGELOG.md
  packages/router/package.json
  packages/router/src/history.ts
  packages/router/src/index.ts
  packages/router/src/lock-unlock.ts
  packages/router/src/private-apis.ts
  packages/router/src/router.tsx
  packages/router/tsconfig.json
  tsconfig.json
Labels: [Type] Code Quality

#65867 Post Terms: Remove unnecessary 'get_the_terms' call
  packages/block-library/src/post-terms/index.php
Labels: [Type] Code Quality, [Block] Post Terms

#65858 Fix components coding standards in Zoom Out Toolbar
  packages/block-editor/src/components/block-tools/style.scss
Labels: [Type] Code Quality, Backport to WP 6.7 Beta/RC, [Feature] Zoom Out

#63768 add: usage examples in core editor docs
  docs/reference-guides/data/data-core-editor.md
  packages/editor/src/store/actions.js
  packages/editor/src/store/selectors.js
Labels: [Type] Developer Documentation

#65879 Update jsdom to 25.0.1
  package-lock.json
  package.json
Labels: [Type] Enhancement

#65878 Clean up Tabs animation logic
  packages/components/CHANGELOG.md
  packages/components/src/tabs/styles.ts
  packages/components/src/tabs/tablist.tsx
  packages/components/src/toggle-group-control/toggle-group-control/component.tsx
  packages/components/src/utils/hooks/use-animated-offset-rect.ts
Labels: [Type] Code Quality, [Package] Components, Backport to Gutenberg RC

#65772 `PaletteEdit`: dedupe palette element slugs
  packages/components/CHANGELOG.md
  packages/components/src/palette-edit/index.tsx
  packages/components/src/palette-edit/test/index.tsx
Labels: [Type] Bug, [Status] In Progress, Backport to WP 6.7 Beta/RC, Global Styles

#65877 Query Loop: Fix query type indicator
  packages/block-library/src/query/edit/inspector-controls/index.js
Labels: [Type] Bug, [Block] Query Loop

#65465 Interactivity API: Correctly handle lazily added, deeply nested properties with `deepMerge()`
  packages/interactivity/CHANGELOG.md
  packages/interactivity/src/proxies/state.ts
  packages/interactivity/src/proxies/test/context-proxy.ts
  packages/interactivity/src/proxies/test/deep-merge.ts
Labels: [Type] Bug, Backport to WP 6.7 Beta/RC, [Feature] Interactivity API, [Packages] Interactivity

#65760 Update/replace edit button with enter on selection
  packages/block-editor/src/components/block-list/use-block-props/use-selected-block-event-handlers.js
  packages/block-editor/src/components/block-tools/zoom-out-toolbar.js
Labels: [Type] Enhancement, [Feature] Zoom Out

#65880 Block Visibility: Add e2e test
  test/e2e/specs/editor/various/block-visibility.spec.js
Labels: [Type] Code Quality, [Package] Editor

#65875 Global Styles: fix overflow caused by RangeControl tooltip
  packages/components/CHANGELOG.md
  packages/components/src/range-control/styles/range-control-styles.ts
  packages/components/src/range-control/tooltip.tsx
  packages/edit-site/src/components/global-styles/font-sizes/font-size.js
Labels: [Type] Bug, [Package] Components, [Package] Edit Site

#65834 Remove unused select toolbar code
  packages/block-editor/src/components/block-tools/index.js
Labels: [Type] Code Quality

#65819 Testing: Add an e2e test to check the interactions in write mode
  packages/block-editor/src/components/tool-selector/index.js
  packages/e2e-test-utils-playwright/src/editor/index.ts
  packages/e2e-test-utils-playwright/src/editor/switch-editor-tool.ts
  test/e2e/specs/editor/various/write-design-mode.spec.js
Labels: [Type] Automated Testing

#65785 Try zooming out when selecting the patterns tab in the inserter
  packages/block-editor/src/components/inserter/menu.js
Labels: [Type] Enhancement, Backport to WP 6.7 Beta/RC, [Feature] Zoom Out

#65364 Post Content Block: Fix conflict between clearFix and focus ring in the editor
  packages/block-library/src/post-content/style.scss
Labels: [Type] Bug, Backport to WP 6.7 Beta/RC, [Block] Post Content

#65898 Private APIs: remove obsolete try/catch block
  packages/private-apis/src/implementation.js
Labels: [Type] Code Quality

#65737 Block Editor: use shallow memo for prioritized inserter blocks
  packages/block-editor/src/components/inner-blocks/use-nested-settings-update.js
Labels: [Type] Enhancement, [Feature] Inserter, [Feature] Nested / Inner Blocks, [Package] Block editor

#65913 Dedupe npm packages
  package-lock.json
Labels: [Type] Code Quality

#65798 Fix DropZone class names on drop
  packages/components/CHANGELOG.md
  packages/components/src/drop-zone/index.tsx
  packages/components/src/drop-zone/style.scss
Labels: [Type] Bug, [Feature] Drag and Drop, [Block] Image, Backport to WP 6.7 Beta/RC

#65923 Update npm lockfile to version 3
  .npmrc
  package-lock.json
Labels: [Type] Build Tooling

#65815 Interactivity API: Allow "default" suffix values
  packages/e2e-tests/plugins/interactive-blocks/directive-class/render.php
  packages/e2e-tests/plugins/interactive-blocks/directive-class/view.js
  packages/e2e-tests/plugins/interactive-blocks/directive-init/view.js
  packages/e2e-tests/plugins/interactive-blocks/directive-on-document/view.js
  packages/e2e-tests/plugins/interactive-blocks/directive-on-window/view.js
  packages/e2e-tests/plugins/interactive-blocks/directive-run/view.js
  packages/e2e-tests/plugins/interactive-blocks/directive-watch/view.js
  packages/e2e-tests/plugins/interactive-blocks/tovdom-islands/view.js
  packages/interactivity/CHANGELOG.md
  packages/interactivity/src/directives.tsx
  packages/interactivity/src/hooks.tsx
  packages/interactivity/src/vdom.ts
  test/e2e/specs/interactivity/directive-class.spec.ts
Labels: [Type] Bug, [Feature] Interactivity API, [Packages] Interactivity

#65387 Tabs: unify vertical tabs styles
  packages/block-editor/src/components/inserter/category-tabs/index.js
  packages/block-editor/src/components/inserter/style.scss
  packages/components/CHANGELOG.md
  packages/components/src/tabs/styles.ts
  packages/components/src/tabs/tab.tsx
  packages/components/src/tabs/tablist.tsx
  test/e2e/specs/editor/various/a11y.spec.js
Labels: [Type] Enhancement, [Package] Components, Backport to Gutenberg RC

#65922 Simplify logical expression in `InitPatternModal`
  packages/edit-post/src/components/init-pattern-modal/index.js
Labels: [Type] Code Quality

#65458 Match visible label of search inputs with their actual label.
  packages/block-editor/src/components/inserter/block-patterns-explorer/pattern-explorer-sidebar.js
  packages/block-editor/src/components/inserter/menu.js
  packages/block-editor/src/components/inserter/quick-inserter.js
  packages/block-editor/src/components/link-control/search-input.js
  packages/block-editor/src/components/link-control/search-results.js
  packages/block-editor/src/components/link-control/test/index.js
  packages/block-editor/src/components/media-replace-flow/test/index.js
  packages/block-library/src/query/edit/pattern-selection-modal.js
  packages/block-library/src/template-part/edit/selection-modal.js
  packages/edit-site/src/components/global-styles/screen-block-list.js
  packages/editor/src/components/post-taxonomies/hierarchical-term-selector.js
  test/e2e/specs/editor/blocks/buttons.spec.js
  test/e2e/specs/editor/blocks/group.spec.js
  test/e2e/specs/editor/blocks/links.spec.js
  test/e2e/specs/editor/blocks/navigation-list-view.spec.js
  test/e2e/specs/editor/blocks/navigation.spec.js
  test/e2e/specs/editor/plugins/allowed-blocks.spec.js
  test/e2e/specs/editor/plugins/block-directory.spec.js
  test/e2e/specs/editor/plugins/block-variations.spec.js
  test/e2e/specs/editor/various/adding-patterns.spec.js
  test/e2e/specs/editor/various/allowed-patterns.spec.js
  test/e2e/specs/editor/various/inserting-blocks.spec.js
  test/e2e/specs/editor/various/parsing-patterns.spec.js
  test/e2e/specs/editor/various/patterns.spec.js
  test/e2e/specs/site-editor/block-style-variations.spec.js
  test/e2e/specs/site-editor/global-styles-sidebar.spec.js
  test/e2e/specs/site-editor/site-editor-inserter.spec.js
  test/e2e/specs/widgets/customizing-widgets.spec.js
  test/e2e/specs/widgets/editing-widgets.spec.js
Labels: [Type] Bug, [Focus] Accessibility (a11y), Needs Design Feedback, [Package] Editor, [Package] Block library, [Package] Block editor, [Package] Edit Site, [Feature] Component System

#65478 Fix: Embed Block: Match HTML in the editor and frontend
  packages/block-library/src/embed/edit.js
  packages/block-library/src/embed/embed-preview.js
  test/e2e/specs/editor/various/embedding.spec.js
Labels: [Type] Enhancement, [Block] Embed

#65905 Backport #65772 to 6.7
  packages/components/CHANGELOG.md
  packages/components/src/palette-edit/index.tsx
  packages/components/src/palette-edit/test/index.tsx
Labels: [Type] Bug, Global Styles

#65408 Pattern block: Ensure consistent editing of overrides in Write Mode
  packages/block-editor/src/store/private-selectors.js
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/private-selectors.js
  packages/block-editor/src/store/test/selectors.js
  packages/block-library/src/block/edit.js
Labels: [Type] Bug, [Feature] Synced Patterns

#63611 Fix navigate regions shortcuts on the back button WP logo slot
  packages/edit-post/src/components/layout/index.js
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/layout/index.js
  packages/edit-widgets/src/components/layout/index.js
  packages/edit-widgets/src/components/layout/interface.js
  packages/editor/src/components/editor-interface/index.js
  packages/interface/CHANGELOG.md
  packages/interface/src/components/interface-skeleton/index.js
Labels: [Focus] Accessibility (a11y), [Type] Regression, [Package] Editor, Needs Dev Note, Backport to WP 6.7 Beta/RC, [Package] Edit Widgets, [Package] Interface, [Package] Edit Site

#65914 Update "hidden" icon to be clearer, and invert logic as used in Data Views
  packages/dataviews/CHANGELOG.md
  packages/dataviews/src/components/dataviews-view-config/index.tsx
  packages/icons/CHANGELOG.md
  packages/icons/src/library/unseen.js
Labels: [Type] Enhancement, [Package] Icons, [Package] DataViews

#65937 Block Bindings: Register bindings sources in widgets screens
  package-lock.json
  packages/customize-widgets/package.json
  packages/customize-widgets/src/index.js
  packages/edit-widgets/package.json
  packages/edit-widgets/src/index.js
Labels: [Type] Enhancement, [Feature] Block bindings

#65935 Global styles: leave screen if current shadow entry gets deleted
  packages/edit-site/src/components/global-styles/shadows-edit-panel.js
Labels: [Type] Bug, Backport to WP 6.7 Beta/RC, Global Styles

#65806 List all active fonts in the typography section
  packages/edit-site/src/components/global-styles/font-families.js
Labels: [Type] Bug, Backport to WP 6.7 Beta/RC

#65885 Post editor: Fix "typewriter" spacing style application
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/layout/use-padding-appender.js
Labels: [Type] Bug, [Package] Edit Post

#65906 Icons: Update cloud upload and add cloud download icon.
  packages/editor/src/components/post-saved-state/test/__snapshots__/index.js.snap
  packages/icons/CHANGELOG.md
  packages/icons/src/index.js
  packages/icons/src/library/cloud-download.js
  packages/icons/src/library/cloud-upload.js
Labels: [Type] Enhancement, First-time Contributor, [Package] Icons

#64067 Interactivity API: Improvements to the experimental full-page navigation
  packages/interactivity-router/CHANGELOG.md
  packages/interactivity-router/src/head.ts
  packages/interactivity-router/src/index.ts
Labels: [Type] Bug, [Feature] Interactivity API, [Packages] Interactivity, No Core Sync Required

#65466 Post editor: fix meta boxes accessibility
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/layout/style.scss
  packages/interface/src/components/navigable-region/index.js
Labels: [Type] Bug, [Focus] Accessibility (a11y), [Feature] Meta Boxes, [Package] Edit Post, Backport to WP 6.7 Beta/RC

#65953 Revert "Pattern block: Ensure consistent editing of overrides in Write Mode (#65408)"
  packages/block-editor/src/store/private-selectors.js
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/private-selectors.js
  packages/block-editor/src/store/test/selectors.js
  packages/block-library/src/block/edit.js
Labels: [Type] Task, [Feature] Patterns

#65952 Composite: add legacy unit tests to stable version
  packages/components/src/composite/test/index.tsx
Labels: [Type] Automated Testing, [Package] Components

#65926 Upgrade browserslist and webcompat data packages
  package-lock.json
  package.json
  packages/dependency-extraction-webpack-plugin/test/__snapshots__/build.js.snap
  packages/readable-js-assets-webpack-plugin/test/__snapshots__/build.js.snap
  packages/scripts/package.json
  tools/webpack/blocks.js
Labels: [Type] Build Tooling

#65972 Docs: env: Expand examples of path syntax
  packages/env/README.md
Labels: [Type] Developer Documentation, [Package] Env

#65957 Update node-fetch to 2.7.0
  package-lock.json
  package.json
  packages/e2e-test-utils/package.json
  packages/react-native-editor/package.json
Labels: [Type] Build Tooling

#65818 Block Bindings: Accept client ID as parameter for `useBlockBindingsUtils`
  packages/block-editor/README.md
  packages/block-editor/src/utils/block-bindings.js
  packages/block-editor/src/utils/test/use-block-bindings-utils.js
Labels: [Type] Bug, Backport to WP 6.7 Beta/RC, [Feature] Block bindings

#65995 consistent with block-development-examples data-basics-59c8f8
  docs/how-to-guides/data-basics/1-data-basics-setup.md
Labels: First-time Contributor

#65977 BlockCanvas: Fix the height prop and width of the block editor
  packages/block-editor/src/components/iframe/content.scss
  packages/block-editor/src/components/iframe/index.js
  packages/block-editor/src/components/iframe/style.scss
  packages/block-editor/src/style.scss
  storybook/stories/playground/box/index.js
Labels: [Type] Bug, Framework

#65892 ToggleGroupControl: Don't autoselect option on first group focus
  packages/components/CHANGELOG.md
  packages/components/src/toggle-group-control/test/__snapshots__/index.tsx.snap
  packages/components/src/toggle-group-control/test/index.tsx
  packages/components/src/toggle-group-control/toggle-group-control-option-base/component.tsx
  packages/components/src/toggle-group-control/toggle-group-control/as-radio-group.tsx
  packages/components/src/toggle-group-control/types.ts
Labels: [Type] Bug, [Focus] Accessibility (a11y), [Package] Components, Backport to WP 6.7 Beta/RC

#65946 Global styles: improve navigation logic for revisions screen
  packages/edit-site/src/components/global-styles-sidebar/index.js
  packages/edit-site/src/components/global-styles/screen-revisions/index.js
  packages/edit-site/src/components/global-styles/ui.js
Labels: [Type] Enhancement, Global Styles, [Package] Edit Site

#66004 Fix: Don't render image when `src` attribute is empty
  packages/block-library/src/image/index.php
Labels: [Type] Bug, Backport to WP 6.7 Beta/RC, [Feature] Block bindings

#65982 Storybook: Add stub doc on existing colors.
  storybook/stories/tokens/color.mdx
Labels: [Type] Enhancement, Storybook, Design System

#65993 Add type tokens to storybook
  storybook/stories/tokens/typography.mdx
Labels: [Type] Enhancement, Storybook, Design System

#66017 Make zoom transition smoother
  packages/base-styles/_animations.scss
Labels: [Type] Enhancement, Backport to WP 6.7 Beta/RC, [Feature] Zoom Out

#66018 Use consistent canvas frame spacing on device preview and zoom out
  packages/block-editor/src/components/use-resize-canvas/index.js
  packages/editor/src/components/visual-editor/index.js
Labels: [Type] Bug, Backport to WP 6.7 Beta/RC, [Feature] Zoom Out

#65989 Tooltip: add aria-describedby to anchor only if not redundant
  packages/components/CHANGELOG.md
  packages/components/src/tooltip/index.tsx
  packages/components/src/tooltip/test/index.tsx
Labels: [Type] Bug, [Focus] Accessibility (a11y), [Package] Components, Backport to WP 6.7 Beta/RC

#65963 Zoom Out: When double clicking a template while zoomed out , reset zoom level instead of showing dialog
  packages/block-editor/src/private-apis.js
  packages/editor/src/components/visual-editor/edit-template-blocks-notification.js
  packages/editor/src/components/visual-editor/index.js
Labels: [Type] Bug, Backport to WP 6.7 Beta/RC, [Feature] Site Editor, [Feature] Zoom Out

#65998 Zoom out: fix scaling issues
  packages/block-editor/src/components/iframe/content.scss
  packages/block-editor/src/components/iframe/index.js
  packages/block-editor/src/components/iframe/style.scss
Labels: [Type] Bug, [Feature] Zoom Out

#66002 Backport from WordPress Core: improve performance of WP_Theme_JSON::merge when merging background styles
  lib/class-wp-theme-json-gutenberg.php
  phpunit/class-wp-theme-json-test.php
Labels: [Type] Regression, Backport from WordPress Core

#65626 Update z-index hierarchy
  packages/base-styles/_z-index.scss
  packages/block-library/src/cover/editor.scss
  packages/block-library/src/cover/style.scss
Labels: [Type] Bug, [Block] Navigation, Backport to WP 6.7 Beta/RC, CSS Styling

#66003 Post Content: Fix display of block support styles
  packages/block-library/src/post-content/edit.js
Labels: [Type] Bug, Backport to WP 6.7 Beta/RC, [Block] Post Content, [Block] Query Loop

#66022 Fix: pattern rendering issue
  packages/edit-site/src/components/page-patterns/index.js
Labels: [Type] Bug, Backport to WP 6.7 Beta/RC, [Feature] Data Views

#65924 Cherry pick "Fix DropZone class names on drop (#65798)" to wp/6.7
  packages/components/CHANGELOG.md
  packages/components/src/drop-zone/index.tsx
  packages/components/src/drop-zone/style.scss
Labels: [Type] Bug, [Package] Components

#65943 Zoom out: e2e test - zoomed out mode zooms the canvas
  test/e2e/specs/site-editor/zoom-out.spec.js
Labels: [Type] Automated Testing, [Package] E2E Tests, [Feature] Zoom Out

#66023 Always preview style variations using desktop device type
  packages/edit-site/src/components/global-styles/screen-style-variations.js
Labels: [Type] Bug, [Feature] Theme Style Variations, Backport to WP 6.7 Beta/RC, Global Styles

#66057 Backport "Remove editorMode from blockProps (#65326)" to wp/6.7
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/use-block-props/index.js
  packages/block-editor/src/components/block-list/use-block-props/use-zoom-out-mode-exit.js
Labels: [Type] Performance, [Package] Block editor

#66060 Block Editor: Cleanup `AutoBlockPreview` render memoization of `BlockList`
  packages/block-editor/src/components/block-preview/auto.js
Labels: [Type] Enhancement, [Package] Block editor

#66076 Add heading level curation documentation
  docs/how-to-guides/curating-the-editor-experience/disable-editor-functionality.md
Labels: [Type] Developer Documentation

#65984 Query Loop: Fix isControlAllowed and isTemplate combined logic
  packages/block-library/src/query/edit/inspector-controls/index.js
Labels: [Type] Bug, Backport to WP 6.7 Beta/RC, [Block] Query Loop

#65945 Write/Design tool: Persist as a user preference
  packages/block-editor/src/store/actions.js
  packages/block-editor/src/store/reducer.js
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/private-selectors.js
  packages/block-editor/src/store/test/selectors.js
  packages/edit-site/src/store/private-actions.js
  packages/reusable-blocks/src/store/test/actions.js
Labels: [Type] Enhancement

#66046 Cherry pick "ToggleGroupControl: Don't autoselect option on first group focus (#65892)" to wp/6.7
  packages/components/CHANGELOG.md
  packages/components/src/toggle-group-control/test/__snapshots__/index.tsx.snap
  packages/components/src/toggle-group-control/test/index.tsx
  packages/components/src/toggle-group-control/toggle-group-control-option-base/component.tsx
  packages/components/src/toggle-group-control/toggle-group-control/as-radio-group.tsx
  packages/components/src/toggle-group-control/types.ts
Labels: [Type] Bug, [Focus] Accessibility (a11y), [Package] Components

#66048 Cherry pick "Block Bindings: Accept client ID as parameter for useBlockBindingsUtils (#65818)" to wp/6.7
  packages/block-editor/README.md
  packages/block-editor/src/utils/block-bindings.js
  packages/block-editor/src/utils/test/use-block-bindings-utils.js
Labels: [Type] Bug, [Feature] Block bindings

#66038 Editor: Prevent wrapping text when showing icon labels in header
  packages/editor/src/components/header/style.scss
Labels: [Type] Bug, Backport to WP 6.7 Beta/RC, CSS Styling

#66047 Backport Zoom out: fix scaling issues (#65998) to WP 6.7
  packages/block-editor/src/components/iframe/content.scss
  packages/block-editor/src/components/iframe/index.js
  packages/block-editor/src/components/iframe/style.scss
Labels: [Type] Bug, [Feature] Zoom Out

#65971 Backport #63611 to 6.7
  packages/edit-post/src/components/layout/index.js
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/layout/index.js
  packages/edit-widgets/src/components/layout/index.js
  packages/edit-widgets/src/components/layout/interface.js
  packages/editor/src/components/editor-interface/index.js
  packages/interface/CHANGELOG.md
  packages/interface/src/components/interface-skeleton/index.js
Labels: [Focus] Accessibility (a11y), [Type] Regression, [Package] Editor, Needs Dev Note, [Package] Edit Widgets, [Package] Interface, [Package] Edit Site

#66041 Zoom layout shift: second alternate fix.
  packages/block-editor/src/components/iframe/content.scss
Labels: [Type] Bug, Backport to WP 6.7 Beta/RC, [Feature] Zoom Out

#66065 Hide grid visualizer when grid is template locked or block editing mode is not default
  packages/block-editor/src/hooks/grid-visualizer.js
  packages/block-editor/src/hooks/layout-child.js
Labels: [Type] Bug, [Block] Group, Backport to WP 6.7 Beta/RC

#66089 Fix e2e Storybook config
  test/storybook-playwright/storybook/main.js
Labels: [Type] Automated Testing, Storybook

#66045 Fix : Secondary Button Transition
  packages/components/CHANGELOG.md
  packages/components/src/button/style.scss
Labels: [Type] Bug, [Package] Components

#63669 Improve PostURL terminology and accessibility
  packages/editor/src/components/post-url/index.js
  packages/editor/src/components/post-url/panel.js
  packages/editor/src/components/post-url/style.scss
Labels: [Type] Bug, [Focus] Accessibility (a11y), Needs Design Feedback, [Package] Editor

#65891 Code block: set LTR direction for RTL languages
  packages/block-library/src/code/style.scss
Labels: [Type] Bug, [Block] Code

#65999 Restores setting zoom out mode to useZoomOut hook
  packages/block-editor/README.md
  packages/block-editor/src/hooks/use-zoom-out.js
  test/e2e/specs/editor/various/parsing-patterns.spec.js
Labels: [Type] Bug, Backport to WP 6.7 Beta/RC, [Feature] Zoom Out

#65941 Fixed : Modal dialog: small improvement for elementShouldBeHidden
  packages/components/CHANGELOG.md
  packages/components/src/modal/aria-helper.ts
Labels: [Type] Enhancement, [Focus] Accessibility (a11y), [Package] Components, First-time Contributor

#65376 Data Views list layout: revise for improved text truncation
  packages/dataviews/src/dataviews-layouts/list/index.tsx
  packages/dataviews/src/dataviews-layouts/list/style.scss
Labels: [Type] Bug, Backport to WP 6.7 Beta/RC, [Feature] Data Views

#66074 Revert "Update z-index hierarchy"
  packages/base-styles/_z-index.scss
  packages/block-library/src/cover/editor.scss
  packages/block-library/src/cover/style.scss
Labels: [Type] Regression, [Block] Cover, Backport to WP 6.7 Beta/RC

#65983 Remove the verb Toggle from the Block Inserter button.
  packages/block-editor/src/components/inserter/menu.js
  packages/e2e-test-utils/src/inserter.js
  packages/edit-widgets/src/components/header/document-tools/index.js
  packages/edit-widgets/src/components/secondary-sidebar/inserter-sidebar.js
  packages/editor/src/components/document-tools/index.js
  test/e2e/specs/editor/blocks/columns.spec.js
  test/e2e/specs/editor/blocks/group.spec.js
  test/e2e/specs/editor/blocks/image.spec.js
  test/e2e/specs/editor/plugins/allowed-blocks.spec.js
  test/e2e/specs/editor/plugins/block-directory.spec.js
  test/e2e/specs/editor/plugins/block-icons.spec.js
  test/e2e/specs/editor/plugins/block-variations.spec.js
  test/e2e/specs/editor/plugins/child-blocks.spec.js
  test/e2e/specs/editor/plugins/inner-blocks-allowed-blocks.spec.js
  test/e2e/specs/editor/plugins/pattern-recursion.spec.js
  test/e2e/specs/editor/plugins/post-type-locking.spec.js
  test/e2e/specs/editor/plugins/register-block-type-hooks.spec.js
  test/e2e/specs/editor/various/a11y.spec.js
  test/e2e/specs/editor/various/adding-patterns.spec.js
  test/e2e/specs/editor/various/allowed-patterns.spec.js
  test/e2e/specs/editor/various/block-visibility.spec.js
  test/e2e/specs/editor/various/editor-modes.spec.js
  test/e2e/specs/editor/various/inserting-blocks.spec.js
  test/e2e/specs/editor/various/parsing-patterns.spec.js
  test/e2e/specs/editor/various/patterns.spec.js
  test/e2e/specs/editor/various/shortcut-focus-toolbar.spec.js
  test/e2e/specs/site-editor/block-style-variations.spec.js
  test/e2e/specs/site-editor/pages.spec.js
  test/e2e/specs/site-editor/site-editor-inserter.spec.js
  test/e2e/specs/site-editor/style-book.spec.js
  test/e2e/specs/widgets/editing-widgets.spec.js
  test/performance/specs/post-editor.spec.js
Labels: [Type] Enhancement, General Interface, Needs Copy Review, Good First Review

#66010 Tests: Add unit tests for image rendering
  phpunit/blocks/render-block-image-test.php
Labels: [Type] Automated Testing, [Block] Image, Needs PHP backport

#66058 Block Bindings: Bootstrap server sources earlier
  backport-changelog/6.7/7552.md
  lib/compat/wordpress-6.7/block-bindings.php
  packages/blocks/src/api/registration.js
  packages/blocks/src/api/test/registration.js
  packages/blocks/src/store/private-actions.js
  packages/blocks/src/store/reducer.js
  packages/customize-widgets/src/index.js
  packages/e2e-tests/plugins/block-bindings/index.js
  packages/edit-post/src/index.js
  packages/edit-site/src/index.js
  packages/edit-widgets/src/index.js
  packages/editor/src/bindings/api.js
  packages/editor/src/private-apis.js
Labels: [Type] Bug, Backport to WP 6.7 Beta/RC, [Feature] Block bindings

#65627 Make zoom out vertical toolbar consistent
  packages/block-editor/src/components/block-popover/index.js
  packages/block-editor/src/components/block-tools/use-show-block-tools.js
  packages/block-editor/src/components/block-tools/zoom-out-popover.js
Labels: [Type] Bug, Backport to WP 6.7 Beta/RC, [Feature] Zoom Out

#65432 Cover Block: Refactor setting panel
  packages/block-library/src/cover/edit/inspector-controls.js
  packages/block-library/src/cover/test/edit.js
Labels: [Type] Enhancement, [Block] Cover

#66118 Correct capability for the Experiments page
  lib/init.php
Labels: [Type] Bug, No Core Sync Required

#66107 Revert the "Manage fonts" button in Global Styles
  packages/edit-site/src/components/global-styles/font-families.js
  test/e2e/specs/site-editor/font-library.spec.js
Labels: [Type] Bug, [Focus] Accessibility (a11y), Needs Design Feedback, Backport to WP 6.7 Beta/RC, [Feature] Typography, [Feature] Font Library

#66034 Position scaled html within available container space
  packages/base-styles/_animations.scss
  packages/block-editor/src/components/block-canvas/style.scss
  packages/block-editor/src/components/iframe/content.scss
  packages/block-editor/src/components/iframe/index.js
  packages/block-editor/src/components/iframe/style.scss
  test/e2e/specs/site-editor/zoom-out.spec.js
Labels: [Type] Bug, [Feature] Zoom Out

#65929 Fix duotone on parallax/repeated featured image cover blocks
  packages/block-library/src/cover/index.php
Labels: [Type] Bug, [Block] Cover

#66100 data-basics/4-building-a-create-page-form is ready now
  docs/how-to-guides/data-basics/3-building-an-edit-form.md
  docs/how-to-guides/data-basics/4-building-a-create-page-form.md
  docs/manifest.json
Labels: [Type] Developer Documentation

#66001 Leverage scheduler.yield in splitTask when available
  packages/interactivity/src/utils.ts
Labels: [Type] Performance, [Feature] Interactivity API, [Packages] Interactivity

#66084 Updated several typos in client-assets.php file
  backport-changelog/6.7/7561.md
  lib/client-assets.php
Labels: [Type] Developer Documentation

#66130 Edit Site: Remove redundant state in `StyleVariationsContainer`
  packages/edit-site/src/components/global-styles/style-variations-container.js
Labels: [Type] Code Quality, Global Styles, [Package] Edit Site

#66137 Edit Site: Avoid recomputing variations when no theme variations
  packages/edit-site/src/hooks/use-theme-style-variations/use-theme-style-variations-by-property.js
Labels: [Type] Code Quality, [Feature] Theme Style Variations, Global Styles, [Package] Edit Site

#66154 Theme JSON: remove redundant check and relocate $selectors assignment
  backport-changelog/6.8/7575.md
  lib/class-wp-theme-json-gutenberg.php
Labels: [Type] Code Quality

#66159 Memoize pattern objects returned from getAllowedPatterns
  packages/block-editor/src/store/selectors.js
Labels: [Type] Bug, [Feature] Inserter, Backport to WP 6.7 Beta/RC, [Feature] Patterns

#66145 .screen-reader-text CSS update for responsive-block-control style.scss
  packages/block-editor/src/components/responsive-block-control/style.scss
Labels: [Focus] Accessibility (a11y), [Type] Code Quality, First-time Contributor

#66120 Add missing CHANGELOG entries for #64067
  packages/interactivity-router/CHANGELOG.md
Labels: [Type] Code Quality

#66126 Query Loop Block: Remove redundant sticky state
  packages/block-library/src/query/edit/inspector-controls/index.js
Labels: [Type] Code Quality, [Package] Block library, [Block] Query Loop

#66165 Add argument with post ID to the editor.savePost hook
  packages/edit-post/src/store/actions.js
  packages/editor/src/store/actions.js
Labels: [Type] Bug, Backport to WP 6.7 Beta/RC

#66163 Fix rich text toolbar corners
  packages/block-editor/src/components/rich-text/style.scss
Labels: [Type] Bug, Backport to WP 6.7 Beta/RC

#66166 Fix site editor back button visual regressions
  packages/edit-site/src/components/sidebar-button/index.js
  packages/edit-site/src/components/sidebar-button/style.scss
  packages/edit-site/src/components/sidebar-navigation-screen/style.scss
Labels: [Type] Regression, Backport to WP 6.7 Beta/RC, [Feature] Site Editor

#66035 Components: Set up README auto-generator
  bin/api-docs/gen-components-docs/index.mjs
  bin/api-docs/gen-components-docs/markdown/index.mjs
  bin/api-docs/gen-components-docs/markdown/props.mjs
  package-lock.json
  package.json
  packages/components/schemas/docs-manifest.json
  packages/components/src/alignment-matrix-control/README.md
  packages/components/src/alignment-matrix-control/docs-manifest.json
  packages/components/src/alignment-matrix-control/types.ts
  packages/components/src/angle-picker-control/README.md
  packages/components/src/angle-picker-control/docs-manifest.json
Labels: [Type] Developer Documentation, [Package] Components

#66144 Remove clip and -webkit-clip for block-library common.scss
  packages/block-library/src/common.scss
Labels: [Focus] Accessibility (a11y), [Type] Code Quality, First-time Contributor

#66102 Fix: Return result from wp_register_block_template function
  lib/compat/wordpress-6.7/block-templates.php
Labels: [Type] Bug, First-time Contributor, No Core Sync Required
