Repository WordPress/gutenberg, pull requests merged in 2024-05, with the labels that each got.

#61080 Classic Theme: Expose new Patterns page and remove Template Parts submenu
  lib/compat/wordpress-6.6/compat.php
  lib/load.php
  packages/core-commands/src/admin-navigation-commands.js
  packages/edit-post/src/components/header/more-menu/manage-patterns-menu-item.js
  packages/edit-site/src/components/add-new-pattern/index.js
  packages/edit-site/src/components/layout/router.js
  packages/edit-site/src/components/page-patterns/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-pattern/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-patterns/index.js
  packages/edit-site/src/components/sync-state-with-url/use-init-edited-entity-from-url.js
  packages/patterns/src/components/patterns-manage-button.js
  packages/reusable-blocks/src/components/reusable-blocks-menu-items/reusable-blocks-manage-button.js
  test/e2e/specs/site-editor/hybrid-theme.spec.js
Labels: [Type] Enhancement, [Feature] Site Editor

#61263 Testing: Remove `react-test-renderer` use
  packages/block-editor/src/components/block-draggable/test/helpers.native.js
  packages/block-library/src/gallery/test/helpers.native.js
  test/native/integration-test-helpers/dismiss-modal.js
  test/native/integration-test-helpers/get-block-transform-options.js
  test/native/integration-test-helpers/get-block.js
  test/native/integration-test-helpers/get-inner-block.js
  test/native/integration-test-helpers/rich-text-paste.js
  test/native/integration-test-helpers/rich-text-select-range.js
  test/native/integration-test-helpers/rich-text-type.js
  test/native/integration-test-helpers/text-input-change-text.js
  test/native/integration-test-helpers/transform-block.js
  test/native/integration-test-helpers/trigger-block-list-layout.js
  test/native/integration-test-helpers/wait-for-modal-visible.js
  test/native/matchers/to-be-visible.js
Labels: [Type] Automated Testing, Mobile App - i.e. Android or iOS

#61270 Remove `Button` component from social link block, replace with `button` element
  packages/block-library/src/social-link/edit.js
  packages/block-library/src/social-link/editor.scss
Labels: [Type] Enhancement, Needs Dev Note, [Block] Social

#60712 Consolidate editor/canvas resize handles
  packages/edit-site/src/components/block-editor/resize-handle.js
  packages/edit-site/src/components/block-editor/style.scss
  packages/edit-site/src/components/resizable-frame/index.js
Labels: [Type] Enhancement, [Feature] Site Editor

#61115 components/elevation: Remove deprecated reducedMotion util.
  packages/components/src/elevation/hook.ts
  packages/components/src/elevation/test/__snapshots__/index.tsx.snap
Labels: [Type] Code Quality, [Package] Components

#61274 Hotfix: Fixed failing snapshot test.
  packages/components/src/card/test/__snapshots__/index.tsx.snap
Labels: [Type] Automated Testing

#61244 Templates API: Fix template files query by post-type
  lib/compat/wordpress-6.6/block-template-utils.php
  lib/compat/wordpress-6.6/class-gutenberg-rest-templates-controller-6-6.php
  phpunit/blocks/get-block-templates-test.php
  phpunit/data/themedir1/block-theme/templates/custom-hero-template.html
  phpunit/data/themedir1/block-theme/templates/custom-single-post-template.html
  phpunit/data/themedir1/block-theme/templates/index.html
  phpunit/data/themedir1/block-theme/templates/page-home.html
Labels: [Type] Bug, [Feature] Templates API

#61238 editPost: __experimentalPluginPostExcerpt return `<PluginPostExcerpt />`
  packages/edit-post/src/deprecated.js
Labels: Backwards Compatibility, [Package] Block editor

#60936 Rich text: combine all ref effects
  packages/block-editor/src/components/rich-text/event-listeners/before-input-rules.js
  packages/block-editor/src/components/rich-text/event-listeners/delete.js
  packages/block-editor/src/components/rich-text/event-listeners/enter.js
  packages/block-editor/src/components/rich-text/event-listeners/firefox-compat.js
  packages/block-editor/src/components/rich-text/event-listeners/index.js
  packages/block-editor/src/components/rich-text/event-listeners/input-events.js
  packages/block-editor/src/components/rich-text/event-listeners/input-rules.js
  packages/block-editor/src/components/rich-text/event-listeners/insert-replacement-text.js
  packages/block-editor/src/components/rich-text/event-listeners/paste-handler.js
  packages/block-editor/src/components/rich-text/event-listeners/remove-browser-shortcuts.js
  packages/block-editor/src/components/rich-text/event-listeners/shortcuts.js
  packages/block-editor/src/components/rich-text/event-listeners/undo-automatic-change.js
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/components/rich-text/use-before-input-rules.js
  packages/block-editor/src/components/rich-text/use-delete.js
  packages/block-editor/src/components/rich-text/use-enter.js
  packages/block-editor/src/components/rich-text/use-firefox-compat.js
  packages/block-editor/src/components/rich-text/use-input-events.js
  packages/block-editor/src/components/rich-text/use-input-rules.js
  packages/block-editor/src/components/rich-text/use-insert-replacement-text.js
  packages/block-editor/src/components/rich-text/use-paste-handler.js
  packages/block-editor/src/components/rich-text/use-remove-browser-shortcuts.js
  packages/block-editor/src/components/rich-text/use-shortcuts.js
  packages/block-editor/src/components/rich-text/use-undo-automatic-change.js
  packages/rich-text/src/component/event-listeners/copy-handler.js
  packages/rich-text/src/component/event-listeners/delete.js
  packages/rich-text/src/component/event-listeners/format-boundaries.js
  packages/rich-text/src/component/event-listeners/index.js
  packages/rich-text/src/component/event-listeners/input-and-selection.js
  packages/rich-text/src/component/event-listeners/select-object.js
  packages/rich-text/src/component/event-listeners/selection-change-compat.js
  packages/rich-text/src/component/index.js
  packages/rich-text/src/component/use-copy-handler.js
  packages/rich-text/src/component/use-delete.js
  packages/rich-text/src/component/use-format-boundaries.js
  packages/rich-text/src/component/use-input-and-selection.js
  packages/rich-text/src/component/use-select-object.js
  packages/rich-text/src/component/use-selection-change-compat.js
Labels: [Type] Performance

#60642 Output post classes in the editor
  lib/compat/wordpress-6.6/rest-api.php
  packages/block-library/src/post-template/edit.js
Labels: [Type] Enhancement, Core REST API Task, First-time Contributor

#61108 Move search into inserter tabs
  packages/block-editor/src/components/inserter/block-patterns-tab/index.js
  packages/block-editor/src/components/inserter/block-types-tab.js
  packages/block-editor/src/components/inserter/media-tab/media-tab.js
  packages/block-editor/src/components/inserter/menu.js
  packages/block-editor/src/components/inserter/style.scss
  packages/block-editor/src/components/inserter/tabs.js
  packages/edit-widgets/src/components/layout/style.scss
  packages/edit-widgets/src/components/secondary-sidebar/inserter-sidebar.js
  packages/editor/src/components/inserter-sidebar/index.js
  test/e2e/specs/editor/various/adding-patterns.spec.js
  test/e2e/specs/editor/various/inserting-blocks.spec.js
  test/performance/specs/post-editor.spec.js
Labels: [Type] Enhancement, [Feature] Inserter, Needs Accessibility Feedback

#61301 Theme JSON: backport PHP annotations from Core
  lib/class-wp-theme-json-gutenberg.php
Labels: Backport from WordPress Core

#61227 Code Quality: Use contentOnly locking for pattern block
  packages/block-editor/src/components/block-inspector/index.js
  packages/block-library/src/block/edit.js
Labels: [Feature] Synced Patterns, [Type] Code Quality

#61304 Background image: tools panel shouldn't show reset button for inherited values
  packages/block-editor/src/components/global-styles/background-panel.js
Labels: [Type] Bug, Global Styles

#61235 Editor: move around wordcount, post status and last edited info in page summary
  packages/edit-post/src/components/sidebar/post-status/index.js
  packages/edit-site/src/components/sidebar-edit-mode/page-panels/page-summary.js
  packages/editor/src/components/post-card-panel/index.js
  packages/editor/src/components/post-card-panel/style.scss
  packages/editor/src/components/post-content-information/index.js
  packages/editor/src/components/post-content-information/style.scss
  packages/editor/src/components/post-featured-image/index.js
  packages/editor/src/components/post-featured-image/style.scss
  packages/editor/src/components/post-last-edited-panel/index.js
  packages/editor/src/components/post-last-edited-panel/style.scss
  packages/editor/src/components/post-panel-row/style.scss
  packages/editor/src/components/post-schedule/panel.js
  packages/editor/src/components/post-schedule/style.scss
  packages/editor/src/components/post-status/index.js
  packages/editor/src/components/post-status/style.scss
  packages/editor/src/components/post-template/block-theme.js
  packages/editor/src/components/post-url/panel.js
  packages/editor/src/private-apis.js
  packages/editor/src/style.scss
Labels: [Type] Enhancement, [Package] Editor

#61309 Add aria-haspopup="dialog" to Enable/Disable overrides button
  packages/patterns/src/components/pattern-overrides-controls.js
Labels: [Type] Enhancement, [Focus] Accessibility (a11y), [Feature] Synced Patterns

#61240 Editor: Cleanup edit-post classnames and docs
  docs/reference-guides/slotfills/plugin-post-publish-panel.md
  docs/reference-guides/slotfills/plugin-pre-publish-panel.md
  packages/block-directory/src/plugins/installed-blocks-pre-publish-panel/index.js
  packages/editor/README.md
  packages/editor/src/components/list-view-sidebar/index.js
  packages/editor/src/components/list-view-sidebar/style.scss
  packages/editor/src/components/plugin-post-publish-panel/index.js
  packages/editor/src/components/plugin-pre-publish-panel/index.js
  packages/editor/src/components/plugin-sidebar/index.js
  packages/editor/src/components/post-excerpt/plugin.js
  packages/editor/src/components/post-template/classic-theme.js
  packages/editor/src/components/post-text-editor/style.scss
  packages/editor/src/components/post-title/style.scss
Labels: [Type] Code Quality

#61312 fix use local version of theme.json schema in bundled files
  lib/theme.json
  phpunit/data/themedir1/block-theme-child-with-fluid-layout/theme.json
  phpunit/data/themedir1/block-theme-child-with-fluid-typography-config/theme.json
  phpunit/data/themedir1/block-theme-child-with-fluid-typography/theme.json
  phpunit/data/themedir1/block-theme-child/theme.json
  phpunit/data/themedir1/block-theme/theme.json
  phpunit/data/themedir1/fonts-block-theme/theme.json
  test/emptytheme/theme.json
  test/gutenberg-test-themes/style-variations/theme.json
  test/integration/theme-schema.test.js
Labels: [Type] Developer Documentation

#61296 Fix block tab spacing when few available blocks
  packages/block-editor/src/components/inserter/style.scss
Labels: [Type] Bug

#61285 Use `math.div` for scss division
  packages/edit-site/src/components/block-editor/style.scss
Labels: [Type] Code Quality

#61321 Quality: fix php warning error
  lib/compat/wordpress-6.6/compat.php
Labels: [Type] Code Quality, [Feature] Themes

#61311 Fix ESLint warning in Performance test files
  test/performance/specs/post-editor.spec.js
  test/performance/specs/site-editor.spec.js
Labels: [Type] Automated Testing

#60220 Global Styles: Filter out color and typography variations
  packages/edit-site/src/components/global-styles/style-variations-container.js
  packages/edit-site/src/hooks/use-theme-style-variations/use-theme-style-variations-by-property.js
Labels: [Type] Enhancement, Global Styles

#61319 Fix styles panel header
  packages/components/CHANGELOG.md
  packages/components/src/panel/style.scss
Labels: [Type] Regression

#61157 Align list and table layout visuals
  packages/dataviews/src/style.scss
Labels: [Type] Enhancement, [Feature] Data Views

#61250 Make pattern preview click area larger
  packages/dataviews/src/style.scss
  packages/edit-site/src/components/page-pages/style.scss
Labels: [Type] Enhancement, [Feature] Data Views

#61314 Docs: How-to Guides > Meta Boxes - Update metabox.md
  docs/how-to-guides/metabox.md
Labels: [Type] Developer Documentation

#61295 Refactor InserterTabs to use children and remove re-memoizing
  packages/block-editor/src/components/inserter/menu.js
  packages/block-editor/src/components/inserter/tabs.js
Labels: [Type] Performance

#61306 Theme.json: update schema with working create theme link
  schemas/json/theme.json
Labels: [Type] Developer Documentation

#61328 Fix WP versions for theme.json v3 migration in inline docs
  lib/class-wp-theme-json-schema-gutenberg.php
Labels: [Type] Developer Documentation

#61340 Reduce specificity of global styles body margin reset rule.
  lib/class-wp-theme-json-gutenberg.php
  packages/block-editor/src/components/global-styles/test/use-global-styles-output.js
  packages/block-editor/src/components/global-styles/use-global-styles-output.js
  phpunit/class-wp-theme-json-test.php
Labels: [Type] Bug, Global Styles

#61332 Added check for duplicated slugs during manifest.json generation
  docs/tool/manifest.js
Labels: [Type] Developer Documentation

#54543 Writing Flow/Rich Text: unify split logic
  docs/reference-guides/core-blocks.md
  packages/block-editor/src/components/editable-text/README.md
  packages/block-editor/src/components/iframe/index.js
  packages/block-editor/src/components/rich-text/README.md
  packages/block-editor/src/components/rich-text/event-listeners/enter.js
  packages/block-editor/src/components/rich-text/event-listeners/paste-handler.js
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/components/rich-text/multiline.js
  packages/block-editor/src/components/rich-text/split-value.js
  packages/block-editor/src/components/writing-flow/use-clipboard-handler.js
  packages/block-editor/src/components/writing-flow/use-input.js
  packages/block-editor/src/store/actions.js
  packages/block-editor/src/utils/selection.js
  packages/block-library/src/button/block.json
  packages/block-library/src/button/edit.js
  packages/block-library/src/heading/block.json
  packages/block-library/src/heading/edit.js
  packages/block-library/src/list-item/block.json
  packages/block-library/src/list-item/edit.js
  packages/block-library/src/paragraph/block.json
  packages/block-library/src/paragraph/edit.js
  packages/rich-text/src/component/event-listeners/copy-handler.js
  packages/rich-text/src/component/event-listeners/input-and-selection.js
  test/e2e/specs/editor/various/__snapshots__/Copy-cut-paste-should-copy-and-paste-individual-blocks-with-collapsed-selection-2-chromium.txt
  test/e2e/specs/editor/various/__snapshots__/Copy-cut-paste-should-cut-and-paste-individual-blocks-with-collapsed-selection-2-chromium.txt
  test/e2e/specs/editor/various/copy-cut-paste.spec.js
  test/e2e/specs/editor/various/multi-block-selection.spec.js
  test/e2e/specs/editor/various/rich-text-deprecated-on-split.spec.js
  test/e2e/specs/editor/various/rich-text.spec.js
Labels: [Type] Bug, [Feature] Writing Flow, Needs Dev Note

#61308 Fix: Remove font weight on toolbar tab button - #61254
  packages/block-library/src/html/edit.js
  packages/components/src/toolbar/toolbar/style.scss
Labels: [Type] Enhancement, Needs Design Feedback, [Block] HTML

#61337 Improve `LineHeightControl` unit tests
  packages/block-editor/src/components/line-height-control/test/index.js
Labels: [Type] Code Quality, [Package] Block editor

#61354 Docs: Update theme-json-living.md to fix little issue
  docs/reference-guides/theme-json-reference/theme-json-living.md
Labels: [Type] Developer Documentation

#61351 Site Logo: Add setting labels via the 'register_setting' method
  lib/compat/wordpress-6.6/option.php
  packages/block-library/src/site-logo/index.php
Labels: [Type] Enhancement, [Block] Site Logo

#61359 Tests: Fix flaky interactivity deferred test
  packages/e2e-tests/plugins/interactive-blocks/deferred-store/view.js
Labels: [Type] Code Quality

#61275 Remove default entry into Navigation Menu focus mode but retain ability to access via "Edit"
  packages/edit-site/src/components/layout/router.js
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menu/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menu/more-menu.js
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menu/single-navigation-menu.js
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menus/index.js
  packages/edit-site/src/components/sidebar-navigation-screen/index.js
Labels: [Type] Enhancement, [Feature] Navigation Menus

#61355 Docs: Interactivity API - Add viewScriptModule as a requirement to work with the Interactivity API
  docs/reference-guides/interactivity-api/README.md
Labels: [Type] Developer Documentation, [Feature] Interactivity API

#61334 Update color variations
  packages/edit-site/src/components/global-styles/color-palette-panel.js
  packages/edit-site/src/components/global-styles/preset-colors.js
  packages/edit-site/src/components/global-styles/preview-colors.js
  packages/edit-site/src/components/global-styles/screen-colors.js
  packages/edit-site/src/components/global-styles/variations/style.scss
  packages/edit-site/src/components/global-styles/variations/variation.js
  packages/edit-site/src/components/global-styles/variations/variations-color.js
  packages/edit-site/src/components/sidebar-navigation-screen/style.scss
Labels: [Type] Enhancement, Global Styles

#61379 Several Typo Correction in Inline doc
  lib/compat/wordpress-6.4/block-hooks.php
  lib/compat/wordpress-6.5/fonts/class-wp-font-utils.php
Labels: [Type] Developer Documentation

#60962 Update Node.js requirement in create-block docs.
  package-lock.json
  packages/create-block/README.md
  packages/create-block/package.json
Labels: [Type] Developer Documentation, First-time Contributor, [Package] Create Block

#61352 Embeds: Add Bluesky variation
  packages/block-library/src/embed/icons.js
  packages/block-library/src/embed/variations.js
Labels: [Type] Enhancement, [Block] Embed, First-time Contributor

#61387 Background images: remove required "file" prop
  lib/block-supports/background.php
  packages/block-editor/src/components/global-styles/test/get-global-styles-changes.js
  packages/block-editor/src/hooks/background.js
  packages/style-engine/src/styles/background/index.ts
  packages/style-engine/src/test/index.js
  phpunit/class-wp-theme-json-test.php
  schemas/json/theme.json
Labels: [Type] Enhancement, Global Styles

#61246 DataViews: Type the ViewList component
  packages/dataviews/src/lock-unlock.ts
  packages/dataviews/src/types.ts
  packages/dataviews/src/view-list.tsx
  packages/dataviews/tsconfig.json
Labels: [Type] Code Quality, [Feature] Data Views

#61323 Docs: Interactivity API : New pages - About and FAQ
  docs/manifest.json
  docs/reference-guides/interactivity-api/README.md
  docs/reference-guides/interactivity-api/iapi-about.md
  docs/reference-guides/interactivity-api/iapi-faq.md
  docs/toc.json
Labels: [Type] Developer Documentation, [Feature] Interactivity API

#61403 Docs: Interactivity Api - Small fixes
  docs/reference-guides/interactivity-api/README.md
  docs/reference-guides/interactivity-api/iapi-about.md
  docs/reference-guides/interactivity-api/iapi-faq.md
Labels: [Type] Developer Documentation, [Feature] Interactivity API

#61386 Post Publish Flow: Simplify status term
  packages/editor/src/components/post-status/index.js
Labels: [Type] Enhancement, Needs Design Feedback, [Package] Editor

#61366 Change "Solid" tab to "Color"
  packages/block-editor/src/components/colors-gradients/control.js
  packages/block-editor/src/components/colors-gradients/test/control.js
  packages/block-editor/src/components/global-styles/color-panel.js
  packages/components/src/mobile/color-settings/utils.native.js
  packages/edit-site/src/components/global-styles/screen-color-palette.js
Labels: [Type] Enhancement, Global Styles

#61397 Editor styles: fix cache (by wrapper selector)
  packages/block-editor/src/utils/transform-styles/index.js
Labels: [Type] Bug, [Package] Block editor

#61200 Zoom-out: fix iframe ref error
  packages/block-editor/src/components/iframe/index.js
Labels: [Type] Bug

#61392 Check child layout exists before generating classname.
  lib/block-supports/layout.php
  phpunit/block-supports/layout-test.php
Labels: [Type] Enhancement, [Feature] Layout

#61420 Grid placement controls: Improve `max` attribute logic
  packages/block-editor/src/components/child-layout-control/index.js
Labels: [Type] Bug, [Feature] Layout

#61365 Improve panel title and description for palette
  packages/edit-site/src/components/global-styles/screen-color-palette.js
Labels: [Type] Enhancement, Global Styles

#47271 Add aspect ratio presets support via theme.json
  docs/reference-guides/theme-json-reference/theme-json-living.md
  lib/class-wp-theme-json-gutenberg.php
  lib/theme.json
  packages/block-editor/src/components/dimensions-tool/aspect-ratio-tool.js
  packages/block-editor/src/components/dimensions-tool/test/index.js
  packages/block-editor/src/components/image-editor/aspect-ratio-dropdown.js
  packages/block-editor/src/components/image-editor/index.js
  packages/block-editor/src/components/image-editor/test/index.js
  packages/block-library/src/post-featured-image/dimension-controls.js
  packages/blocks/src/api/constants.js
  schemas/json/theme.json
  test/e2e/specs/editor/blocks/image.spec.js
Labels: [Type] Enhancement, [Block] Cover, [Block] Image, Needs Dev Note, Global Styles, [Block] Post Featured Image, Needs PHP backport

#61430 Create Block: Match specified engines with Gutenberg and Core
  package-lock.json
  packages/create-block/README.md
  packages/create-block/package.json
Labels: [Type] Build Tooling, [Package] Create Block

#61439 Revert "Testing: Remove `react-test-renderer` use"
  packages/block-editor/src/components/block-draggable/test/helpers.native.js
  packages/block-library/src/gallery/test/helpers.native.js
  test/native/integration-test-helpers/dismiss-modal.js
  test/native/integration-test-helpers/get-block-transform-options.js
  test/native/integration-test-helpers/get-block.js
  test/native/integration-test-helpers/get-inner-block.js
  test/native/integration-test-helpers/rich-text-paste.js
  test/native/integration-test-helpers/rich-text-select-range.js
  test/native/integration-test-helpers/rich-text-type.js
  test/native/integration-test-helpers/text-input-change-text.js
  test/native/integration-test-helpers/transform-block.js
  test/native/integration-test-helpers/trigger-block-list-layout.js
  test/native/integration-test-helpers/wait-for-modal-visible.js
  test/native/matchers/to-be-visible.js
Labels: [Type] Automated Testing, Mobile App - i.e. Android or iOS

#61414 Lightbox UI block override tests
  packages/e2e-tests/plugins/lightbox-allow-editing-false-enabled-false.php
  test/e2e/specs/editor/blocks/image.spec.js
Labels: [Type] Automated Testing, [Block] Image

#61009 Interactivity API: Allow multiple event handlers for the same type with `data-wp-on-document` and `data-wp-on-window`.
  packages/e2e-tests/plugins/interactive-blocks/directive-on-document/render.php
  packages/e2e-tests/plugins/interactive-blocks/directive-on-document/view.js
  packages/e2e-tests/plugins/interactive-blocks/directive-on-window/render.php
  packages/e2e-tests/plugins/interactive-blocks/directive-on-window/view.js
  packages/interactivity/CHANGELOG.md
  packages/interactivity/src/directives.js
  test/e2e/specs/interactivity/directive-on-document.spec.ts
  test/e2e/specs/interactivity/directive-on-window.spec.ts
Labels: [Type] Bug, [Packages] Interactivity

#61426 Add visible close button to inserter sidebar
  packages/base-styles/_z-index.scss
  packages/block-editor/src/components/inserter/style.scss
  packages/editor/src/components/inserter-sidebar/index.js
  packages/editor/src/components/inserter-sidebar/style.scss
Labels: [Type] Enhancement, [Feature] Zoom Out

#61445 Small fixes as per feedback received
  docs/reference-guides/interactivity-api/README.md
  docs/reference-guides/interactivity-api/iapi-about.md
  docs/reference-guides/interactivity-api/iapi-faq.md
Labels: [Type] Developer Documentation, [Feature] Interactivity API

#61286 Site Editor sidebar: provide explicit backPaths, remove the getBackPath helper
  packages/edit-site/src/components/layout/router.js
  packages/edit-site/src/components/sidebar-navigation-screen-global-styles/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menu/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menu/single-navigation-menu.js
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menus/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-pattern/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-patterns/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-template/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-templates-browse/index.js
  packages/edit-site/src/components/sidebar-navigation-screen/index.js
Labels: [Type] Code Quality, [Feature] Site Editor

#61236 Block Bindings: Simplify the HTML replacement logic until the HTML API is ready
  lib/compat/wordpress-6.5/blocks.php
Labels: [Type] Code Quality, [Feature] Block bindings

#61249 Interactivity API: Prevent wrong written directives from killing the runtime
  packages/e2e-tests/plugins/interactive-blocks/directive-on/render.php
  packages/interactivity/CHANGELOG.md
  packages/interactivity/src/vdom.ts
Labels: [Type] Bug, [Packages] Interactivity

#61461 Tiny tweak to position close button properly in the inserter
  packages/editor/src/components/inserter-sidebar/style.scss
Labels: [Type] Enhancement, [Feature] Inserter

#61004 Zoomed Out View: Don't close the inserter
  packages/editor/src/components/inserter-sidebar/index.js
  test/e2e/specs/editor/various/inserting-blocks.spec.js
Labels: [Type] Enhancement, [Feature] Zoom Out

#61368 Tweak palette panel spacing and empty message
  packages/components/CHANGELOG.md
  packages/components/src/palette-edit/index.tsx
  packages/components/src/palette-edit/styles.ts
  packages/edit-site/src/components/global-styles/color-palette-panel.js
  packages/edit-site/src/components/global-styles/gradients-palette-panel.js
Labels: [Type] Enhancement, Global Styles

#60757 Enhance block outlines and selection interactions
  packages/block-editor/src/components/block-content-overlay/content.scss
  packages/block-editor/src/components/block-list/content.scss
  packages/block-library/src/block/editor.scss
  packages/block-library/src/template-part/editor.scss
  packages/edit-site/src/components/block-editor/style.scss
Labels: [Type] Enhancement, General Interface

#61418 Block editor: scroll block into view on insert
  packages/block-editor/src/components/block-list/use-block-props/index.js
  packages/block-editor/src/components/block-list/use-block-props/use-scroll-into-view.js
Labels: [Type] Bug

#61293 Editor: Enable Zoom-out mode in the post editor
  packages/block-editor/src/components/inserter/menu.js
  packages/block-editor/src/components/inserter/style.scss
  packages/edit-post/src/components/header/index.js
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/visual-editor/index.js
  packages/edit-site/src/components/block-editor/editor-canvas.js
  packages/edit-site/src/components/header-edit-mode/document-tools/index.js
  packages/edit-site/src/components/header-edit-mode/index.js
  packages/edit-site/src/components/header-edit-mode/style.scss
  packages/edit-site/src/components/layout/index.js
  packages/editor/src/components/document-tools/index.js
  packages/editor/src/components/editor-canvas/index.js
  packages/editor/src/components/editor-canvas/utils.js
Labels: [Type] Enhancement, [Feature] Zoom Out

#61466 Revert 61426
  packages/base-styles/_z-index.scss
  packages/block-editor/src/components/inserter/style.scss
  packages/editor/src/components/inserter-sidebar/index.js
  packages/editor/src/components/inserter-sidebar/style.scss
Labels: [Type] Bug, [Feature] Zoom Out

#61331 Fix inconsistent complementary header styles
  packages/edit-post/src/components/sidebar/style.scss
  packages/edit-site/src/components/global-styles/ui.js
  packages/edit-site/src/components/sidebar-edit-mode/global-styles-sidebar.js
  packages/edit-site/src/components/sidebar-edit-mode/settings-header/style.scss
  packages/edit-site/src/components/sidebar-edit-mode/style.scss
  packages/interface/src/components/complementary-area-header/style.scss
  packages/interface/src/components/complementary-area/index.js
  packages/interface/src/components/complementary-area/style.scss
Labels: [Type] Enhancement, General Interface, [Package] Components, Global Styles

#61469 Background images: remove lingering "file" prop
  lib/class-wp-theme-json-gutenberg.php
Labels: [Type] Code Quality

#61473 Zoom out: add bottom and top inserters
  packages/block-editor/src/components/block-tools/zoom-out-mode-inserters.js
Labels: [Type] Bug, [Feature] Zoom Out

#61464 Zoom Out: Pass the section root ID to the inserter
  packages/editor/src/components/inserter-sidebar/index.js
Labels: [Type] Bug, [Feature] Zoom Out

#61470 Image Block: Enable crop action when image has a link
  packages/block-library/src/image/editor.scss
  packages/block-library/src/image/image.js
Labels: [Type] Bug, [Package] Block library, [Block] Image

#61421 Inserter: Add close button
  packages/block-editor/src/components/inserter/library.js
  packages/block-editor/src/components/inserter/menu.js
  packages/block-editor/src/components/inserter/style.scss
  packages/block-editor/src/components/inserter/tabs.js
  packages/editor/src/components/inserter-sidebar/index.js
  packages/editor/src/components/inserter-sidebar/style.scss
Labels: [Type] Enhancement, [Feature] Zoom Out

#61388 Background image: size controls should show when an image is set
  packages/edit-site/src/components/global-styles/background-panel.js
Labels: [Type] Bug, Global Styles

#61336 Components: Do not render FormTokenField label when not defined
  packages/components/CHANGELOG.md
  packages/components/src/form-token-field/index.tsx
Labels: [Package] Components

#61444 Fix user capabilities check for the Site Editor
  packages/core-commands/src/admin-navigation-commands.js
  packages/core-commands/src/hooks.js
  packages/core-commands/src/site-editor-navigation-commands.js
  packages/edit-post/src/components/header/more-menu/manage-patterns-menu-item.js
  packages/patterns/src/components/patterns-manage-button.js
  packages/reusable-blocks/src/components/reusable-blocks-menu-items/reusable-blocks-manage-button.js
Labels: [Type] Bug, [Feature] Site Editor

#61448 PluginSidebar: show pin/unpin button on the site eitor
  packages/edit-site/src/style.scss
Labels: [Type] Enhancement, [Feature] Extensibility

#61478 Fix regression on keyboard navigation
  packages/dataviews/src/view-list.tsx
Labels: [Type] Regression, [Feature] Data Views

#61480 Revert "useBlockSync: remove isControlled effect"
  packages/block-editor/src/components/provider/use-block-sync.js
  test/e2e/specs/site-editor/undo.spec.js
Labels: [Type] Regression

#61476 RadioControl: Fix shrinking radio controls
  packages/base-styles/_mixins.scss
Labels: [Type] Bug, [Feature] UI Components, [Package] Components

#61501 build: Suggest workaround if `tsc --build` fails
  package.json
Labels: [Type] Build Tooling

#61497 Editor: Move the sidebar component to the editor package
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/sidebar/post-format/style.scss
  packages/edit-post/src/components/sidebar/post-pending-status/index.js
  packages/edit-post/src/components/sidebar/post-sticky/index.js
  packages/edit-post/src/components/sidebar/post-trash/index.js
  packages/edit-post/src/components/sidebar/post-visibility/index.js
  packages/edit-post/src/components/sidebar/post-visibility/style.scss
  packages/edit-post/src/style.scss
  packages/editor/src/components/post-format/panel.js
  packages/editor/src/components/post-format/style.scss
  packages/editor/src/components/post-slug/panel.js
  packages/editor/src/components/post-slug/style.scss
  packages/editor/src/components/post-sticky/panel.js
  packages/editor/src/components/post-trash/panel.js
  packages/editor/src/components/sidebar/constants.js
  packages/editor/src/components/sidebar/header.js
  packages/editor/src/components/sidebar/index.js
  packages/editor/src/components/sidebar/post-summary.js
  packages/editor/src/components/sidebar/style.scss
  packages/editor/src/private-apis.js
  packages/editor/src/style.scss
  packages/interface/src/components/complementary-area/style.scss
  packages/react-native-bridge/common/gutenberg-web-single-block/editor-style-overrides.css
Labels: [Type] Code Quality, [Package] Editor

#61484 Zoom out: don't select last block
  packages/block-editor/src/store/actions.js
Labels: [Type] Bug, [Feature] Zoom Out

#61472 Focus currently selected block when entering canvas
  packages/block-editor/src/components/inserter/hooks/use-insertion-point.js
  packages/block-editor/src/components/writing-flow/use-tab-nav.js
Labels: [Type] Bug, [Focus] Accessibility (a11y), [Feature] Writing Flow

#61265 Fix zoom out UI scale
  packages/block-editor/src/components/block-content-overlay/content.scss
  packages/block-editor/src/components/block-list/content.scss
  packages/block-editor/src/components/iframe/content.scss
  packages/block-editor/src/components/iframe/index.js
  packages/block-editor/src/content.scss
Labels: [Type] Bug

#61468 Edit post: Do not consider sidebars mutually exclusive
  packages/edit-post/src/components/layout/index.js
  test/e2e/specs/editor/blocks/image.spec.js
  test/performance/specs/post-editor.spec.js
Labels: [Type] Code Quality, [Package] Edit Post

#61510 Hide the close button on the inserter for widgets editor
  packages/edit-widgets/src/components/layout/style.scss
Labels: [Type] Bug

#61396 Add list item wrapper to social links when used in navigation block
  packages/block-library/src/navigation/index.php
Labels: [Type] Bug, [Block] Navigation, Needs Dev Note, [Block] Social

#61434 Open inserter sidebar when clicking on inserter buttons on zoom-out mode
  packages/block-editor/src/components/block-tools/style.scss
  packages/block-editor/src/components/block-tools/zoom-out-mode-inserters.js
  packages/block-editor/src/components/inserter/library.js
  packages/block-editor/src/components/inserter/menu.js
  packages/block-editor/src/components/inserter/tabs.js
  packages/editor/src/components/inserter-sidebar/index.js
  test/e2e/specs/site-editor/zoom-out.spec.js
Labels: [Type] Enhancement

#61423 Grid interactivity: Improve how grid resizer handles 0-width and 0-height cells
  packages/block-editor/src/components/grid-visualizer/grid-item-resizer.js
Labels: [Type] Experimental, [Feature] Layout

#61509 Remove experimental zoom out control
  lib/experimental/editor-settings.php
  lib/experiments-page.php
  packages/block-editor/src/components/inserter/menu.js
  packages/editor/src/components/document-tools/index.js
  test/e2e/specs/site-editor/zoom-out.spec.js
Labels: [Type] Enhancement, [Feature] Zoom Out

#61512 Zoom out: don't allow dropping outside section root
  packages/block-editor/src/components/inner-blocks/index.js
Labels: [Type] Bug, [Feature] Zoom Out

#61394 Preserve the wp_theme_preview query arg when navigating in Site Editor
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menus/leaf-more-menu.js
  packages/edit-site/src/utils/use-activate-theme.js
  packages/router/src/history.js
Labels: [Type] Bug, [Feature] Site Editor

#61402 Trigger sidebar animations only on cross-route navigations
  packages/edit-site/src/components/sidebar-navigation-item/index.js
  packages/edit-site/src/components/sidebar-navigation-screen/index.js
  packages/edit-site/src/components/sidebar/index.js
Labels: [Type] Bug, [Feature] Site Editor

#61500 Edit Post: Fix the 'usePaddingAppender' error
  packages/edit-post/src/components/visual-editor/use-padding-appender.js
Labels: [Type] Bug, [Package] Edit Post

#61525 Updated links to developer resources on README.md
  README.md
Labels: [Type] Developer Documentation

#61530 build:package-types: Run silently to reduce user confusion
  package.json
Labels: [Type] Build Tooling

#60621 Fix sticking “Reset” option in `ToolsPanel`
  packages/components/CHANGELOG.md
  packages/components/src/tools-panel/tools-panel-item/hook.ts
  packages/components/src/tools-panel/tools-panel/hook.ts
  packages/components/src/tools-panel/types.ts
Labels: [Type] Bug, [Package] Components

#61513 Zoom out: add patterns loading state
  packages/block-editor/src/components/inserter/block-patterns-tab/index.js
  packages/block-editor/src/components/inserter/style.scss
  packages/block-editor/src/store/private-selectors.js
  packages/editor/src/components/provider/use-block-editor-settings.js
Labels: [Type] Bug, [Feature] Zoom Out

#61077 Components: Assess stabilization of `Theme`
  packages/components/src/theme/stories/index.story.tsx
  storybook/manager-head.html
Labels: [Type] Code Quality, [Package] Components

#61517 Revert "Use contentOnly locking for pattern block, remove hard-coded block check in block inspector"
  packages/block-editor/src/components/block-inspector/index.js
  packages/block-library/src/block/edit.js
Labels: [Type] Bug, [Feature] Synced Patterns

#61526 Background image: explicitly set background repeat value in user styles
  packages/block-editor/src/components/global-styles/background-panel.js
  packages/blocks/src/api/constants.js
  packages/style-engine/src/styles/background/index.ts
Labels: [Type] Bug, Global Styles

#61505 Add link to VS Code Playwright Extension
  docs/contributors/code/e2e/README.md
Labels: [Type] Developer Documentation

#61545 Remove Post Template background override.
  packages/block-library/src/post-template/style.scss
Labels: [Type] Bug, Global Styles, [Block] Post Template

#61467 Focus inserter toggle when closing the inserter sidebar
  packages/edit-widgets/src/components/header/document-tools/index.js
  packages/edit-widgets/src/store/private-selectors.js
  packages/edit-widgets/src/store/reducer.js
  packages/editor/src/components/document-tools/index.js
  packages/editor/src/components/inserter-sidebar/index.js
  packages/editor/src/store/private-selectors.js
  packages/editor/src/store/reducer.js
Labels: [Focus] Accessibility (a11y), [Feature] Inserter, [Type] Regression

#61548 Fix double scrollbars in site editor with zoom out view enabled
  packages/edit-site/src/components/block-editor/style.scss
  packages/interface/src/components/interface-skeleton/style.scss
Labels: [Type] Bug

#61523 theme.json schema: remove duplicate key
  schemas/json/theme.json
Labels: [Type] Developer Documentation

#61424 Zoom out: keep original viewport width (single scale)
  packages/block-editor/src/components/iframe/content.scss
  packages/block-editor/src/components/iframe/index.js
  packages/editor/src/components/editor-canvas/index.js
  packages/editor/src/components/editor-canvas/utils.js
Labels: [Type] Enhancement, [Feature] Zoom Out

#46972 Block editor: add a keyboard shortcut to create group from the selected blocks
  docs/getting-started/faq.md
  packages/block-editor/src/components/block-tools/index.js
  packages/block-editor/src/components/convert-to-group-buttons/index.js
  packages/block-editor/src/components/keyboard-shortcuts/index.js
  packages/block-editor/src/components/list-view/block.js
  test/e2e/specs/editor/various/block-editor-keyboard-shortcuts.spec.js
  test/e2e/specs/editor/various/list-view.spec.js
Labels: [Type] Enhancement, Needs Accessibility Feedback, [Package] Keyboard Shortcuts

#61203 Remove usage of aria-details from InputControl and BaseControl.
  packages/components/CHANGELOG.md
  packages/components/src/base-control/README.md
  packages/components/src/base-control/hooks.ts
  packages/components/src/base-control/test/index.tsx
  packages/components/src/base-control/types.ts
  packages/components/src/input-control/index.tsx
  packages/components/src/input-control/test/index.js
Labels: [Type] Bug, [Focus] Accessibility (a11y), [Package] Components

#61552 Only show grid resizer if grid block allows resizing on children.
  packages/block-editor/src/hooks/layout-child.js
Labels: [Type] Bug, [Feature] Layout

#60986 Fix resizing items to top and left with GridItemResizer
  packages/block-editor/src/components/block-popover/cover.js
  packages/block-editor/src/components/grid-visualizer/grid-item-resizer.js
  packages/block-editor/src/components/grid-visualizer/style.scss
Labels: [Type] Enhancement, Needs Design Feedback, [Feature] Layout

#61556 Editor: Add global styles to settings using existing context code
  package-lock.json
  packages/block-editor/src/private-apis.js
  packages/block-editor/src/store/private-keys.js
  packages/edit-site/package.json
  packages/edit-site/src/components/app/index.js
  packages/edit-site/src/components/global-styles/hooks.js
  packages/edit-site/src/components/global-styles/stories/index.story.js
  packages/edit-site/src/components/global-styles/typography-example.js
  packages/edit-site/src/components/global-styles/variations/variation.js
  packages/edit-site/src/components/revisions/index.js
  packages/edit-site/src/components/style-book/index.js
  packages/edit-site/src/hooks/use-theme-style-variations/use-theme-style-variations-by-property.js
  packages/editor/package.json
  packages/editor/src/components/global-styles-provider/index.js
  packages/editor/src/components/provider/use-block-editor-settings.js
  packages/editor/src/private-apis.js
Labels: [Type] Enhancement, [Package] Editor

#61557 Only add the selected pattern category in metadata during insertion
  packages/block-editor/src/components/block-patterns-list/index.js
  packages/block-editor/src/components/inserter/block-patterns-explorer/pattern-list.js
  packages/block-editor/src/components/inserter/block-patterns-tab/pattern-category-previews.js
  packages/block-editor/src/components/inserter/hooks/use-patterns-state.js
Labels: [Type] Enhancement, [Feature] Patterns

#61127 Add content only descriptions in dropdown menus for patterns and templates
  packages/block-editor/src/components/block-actions/index.js
  packages/block-editor/src/components/block-settings-menu-controls/index.js
  packages/block-editor/src/components/block-settings-menu/block-settings-dropdown.js
  packages/block-editor/src/components/list-view/block-select-button.js
  packages/block-editor/src/components/list-view/block.js
  packages/block-editor/src/hooks/content-lock-ui.js
  packages/block-editor/src/store/private-actions.js
  packages/block-editor/src/store/selectors.js
  packages/edit-site/src/components/template-part-converter/index.js
  packages/editor/src/components/block-settings-menu/content-only-settings-menu.js
  packages/editor/src/components/block-settings-menu/content-only-settings-menu.native.js
  packages/editor/src/components/block-settings-menu/style.scss
  packages/editor/src/components/provider/index.js
  packages/editor/src/style.scss
Labels: [Type] Enhancement, Needs Design Feedback, [Feature] Synced Patterns

#61540 Scripts: Add RTLCSS to wp-scripts.
  bin/test-create-block.sh
  package-lock.json
  packages/scripts/CHANGELOG.md
  packages/scripts/config/webpack.config.js
  packages/scripts/package.json
Labels: [Type] Enhancement, [Package] Scripts

#61532 Dedupe packages
  package-lock.json
Labels: [Type] Task

#61373 Convert FocalPointPicker tests to TypeScript
  packages/components/src/focal-point-picker/test/index.tsx
  packages/components/src/focal-point-picker/test/media.tsx
Labels: [Type] Automated Testing, [Package] Components, First-time Contributor

#61539 Improve success messages of some post actions.
  packages/editor/src/components/post-actions/actions.js
Labels: [Type] Enhancement

#61520 Post Type Actions: Unify the list of available actions
  packages/edit-site/src/components/dataviews-actions/index.js
  packages/edit-site/src/components/page-pages/index.js
  packages/edit-site/src/components/page-patterns/dataviews-pattern-actions.js
  packages/edit-site/src/components/page-patterns/index.js
  packages/edit-site/src/components/page-templates/index.js
  packages/editor/src/components/post-actions/actions.js
  packages/editor/src/components/post-actions/index.js
Labels: [Type] Enhancement, [Feature] Data Views

#61503 Upgrade @use-gesture/react
  package-lock.json
  packages/components/CHANGELOG.md
  packages/components/package.json
Labels: [Type] Task

#60007 Enforce @since tags in /packages/block-serialization-default-parser/ and other files
  packages/block-library/src/latest-posts/index.php
  packages/block-library/src/navigation/index.php
  packages/widgets/src/blocks/legacy-widget/index.php
  packages/widgets/src/blocks/widget-group/index.php
  phpcs.xml.dist
  test/php/gutenberg-coding-standards/Gutenberg/Sniffs/Commenting/FunctionCommentSinceTagSniff.php
  test/php/gutenberg-coding-standards/Gutenberg/Sniffs/Commenting/SinceTagSniff.php
  test/php/gutenberg-coding-standards/Gutenberg/Tests/AbstractSniffUnitTest.php
  test/php/gutenberg-coding-standards/Gutenberg/Tests/CodeAnalysis/ForbiddenFunctionsAndClassesUnitTest.php
  test/php/gutenberg-coding-standards/Gutenberg/Tests/CodeAnalysis/GuardedFunctionAndClassNamesUnitTest.php
  test/php/gutenberg-coding-standards/Gutenberg/Tests/Commenting/FunctionCommentSinceTagUnitTest.inc
  test/php/gutenberg-coding-standards/Gutenberg/Tests/Commenting/FunctionCommentSinceTagUnitTest.php
  test/php/gutenberg-coding-standards/Gutenberg/Tests/Commenting/SinceTagUnitTest.inc
  test/php/gutenberg-coding-standards/Gutenberg/Tests/Commenting/SinceTagUnitTest.php
  test/php/gutenberg-coding-standards/Gutenberg/Tests/NamingConventions/ValidBlockLibraryFunctionNameUnitTest.php
  test/php/gutenberg-coding-standards/Gutenberg/ruleset.xml
  test/php/gutenberg-coding-standards/composer.json
Labels: [Type] Code Quality

#61451 Playwright Utils: Silence some of the warnings coming from Firefox
  packages/e2e-test-utils-playwright/src/test.ts
Labels: [Type] Enhancement, [Package] E2E Test Utils

#61572 Upgrade framer-motion
  package-lock.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/components/src/toggle-group-control/test/__snapshots__/index.tsx.snap
  packages/nux/src/components/dot-tip/test/__snapshots__/index.js.snap
Labels: [Type] Task

#61576 Fix the RRS block placeholder labeling and improve spacing
  packages/block-library/src/rss/edit.js
  packages/block-library/src/rss/editor.scss
Labels: [Type] Bug, [Focus] Accessibility (a11y), [Block] RSS

#61591 Docs: Remove list of keyboard shortcuts from FAQ page
  docs/getting-started/faq.md
Labels: [Type] Developer Documentation

#61564 PHP load: move rest template controller 6.6 import to "REST" area :)
  lib/load.php
Labels: [Type] Code Quality

#61029 Block Styles: Add extended version of register block style functions
  lib/experimental/blocks.php
  packages/blocks/README.md
  packages/blocks/src/api/registration.js
  packages/blocks/src/store/actions.js
  packages/blocks/src/store/reducer.js
  packages/blocks/src/store/test/reducer.js
  phpunit/blocks/register-block-style-test.php
Labels: [Type] Enhancement, [Feature] Block Styles

#61429 Grid interactivity: Show grid visualizer when block inspector is closed
  packages/block-editor/src/components/grid-visualizer/grid-visualizer.js
  packages/block-editor/src/layouts/grid.js
Labels: [Type] Experimental, [Feature] Layout

#61599 Bug: False positives for `react-hooks/exhaustive-deps`
  packages/eslint-plugin/configs/react.js
Labels: [Type] Bug, [Package] ESLint plugin, First-time Contributor

#61583 List View: Account for text fields in shortcut handler
  packages/block-editor/src/components/list-view/block.js
  test/e2e/specs/editor/various/block-renaming.spec.js
Labels: [Type] Bug, [Feature] List View, Backport to Gutenberg Minor Release

#61603 Hide Image block resizer when inside a grid layout.
  packages/block-library/src/image/edit.js
  packages/block-library/src/image/image.js
Labels: [Type] Enhancement, [Block] Image, [Feature] Layout

#61490 Try: Improve date-wrapping in prepublish flow
  packages/editor/src/components/post-publish-panel/style.scss
Labels: [Type] Enhancement

#60785 Update: Move pattern actions to the editor package.
  package-lock.json
  packages/edit-site/package.json
  packages/edit-site/src/components/page-patterns/dataviews-pattern-actions.js
  packages/edit-site/src/components/page-patterns/index.js
  packages/editor/package.json
  packages/editor/src/components/post-actions/actions.js
Labels: [Type] Enhancement

#61407 Post Actions: Don't export duplicatePostAction for now
  packages/editor/src/components/post-actions/actions.js
Labels: [Type] Code Quality

#61507 Editor: Unify the sidebar between the post and site editors
  packages/edit-post/src/components/layout/index.js
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/global-styles-sidebar/default-sidebar.js
  packages/edit-site/src/components/global-styles-sidebar/index.js
  packages/edit-site/src/components/global-styles-sidebar/style.scss
  packages/edit-site/src/components/sidebar-edit-mode/index.js
  packages/edit-site/src/components/sidebar-edit-mode/page-panels/index.js
  packages/edit-site/src/components/sidebar-edit-mode/page-panels/page-summary.js
  packages/edit-site/src/components/sidebar-edit-mode/settings-header/index.js
  packages/edit-site/src/components/sidebar-edit-mode/settings-header/style.scss
  packages/edit-site/src/components/sidebar-edit-mode/template-panel/index.js
  packages/edit-site/src/components/sidebar-edit-mode/template-panel/style.scss
  packages/edit-site/src/style.scss
  packages/editor/src/components/page-attributes/test/order.js
  packages/editor/src/components/post-last-revision/test/check.js
  packages/editor/src/components/post-slug/test/check.js
  packages/editor/src/components/post-slug/test/index.js
  packages/editor/src/components/post-transform-panel/hooks.js
  packages/editor/src/components/post-transform-panel/index.js
  packages/editor/src/components/post-type-support-check/index.js
  packages/editor/src/components/post-type-support-check/test/index.js
  packages/editor/src/components/sidebar/index.js
  packages/editor/src/components/sidebar/post-summary.js
  packages/editor/src/components/template-content-panel/index.js
  test/e2e/specs/editor/various/change-detection.spec.js
  test/e2e/specs/site-editor/template-revert.spec.js
Labels: [Type] Enhancement

#61615 Interactivity API: Fix flaky tests for attribute hydration
  packages/e2e-tests/plugins/interactive-blocks/directive-bind/render.php
  packages/e2e-tests/plugins/interactive-blocks/directive-bind/view.js
  test/e2e/specs/interactivity/directive-bind.spec.ts
Labels: [Type] Automated Testing, [Package] E2E Tests, [Feature] Interactivity API

#61450 Performance Tests: Improve collection and reporting
  .github/workflows/performance.yml
  bin/plugin/commands/performance.js
  packages/e2e-tests/mu-plugins/server-timing.php
  test/performance/config/performance-reporter.ts
  test/performance/specs/front-end-block-theme.spec.js
  test/performance/specs/front-end-classic-theme.spec.js
  test/performance/specs/post-editor.spec.js
  test/performance/specs/site-editor.spec.js
Labels: [Type] Performance

#61183 GitHub Actions: Fix PHP file change detection filter pattern
  .github/workflows/php-changes-detection.yml
Labels: [Type] Regression, GitHub Actions

#55028 Shortcode Block: fix layout margin override
  packages/block-library/src/shortcode/edit.js
  packages/block-library/src/shortcode/editor.scss
Labels: [Type] Bug, [Block] Shortcode

#61592 Block Editor: Remove `multiline` prop from `Richtext` doc
  packages/block-editor/src/components/rich-text/README.md
Labels: [Type] Developer Documentation

#61595 Update old document URLs to new ones
  docs/contributors/code/getting-started-with-code-contribution.md
  docs/how-to-guides/themes/global-settings-and-styles.md
  packages/scripts/CHANGELOG.md
  packages/scripts/README.md
Labels: [Type] Developer Documentation

#61636 Fix grid item resizing in non-iframed editor.
  packages/block-editor/src/components/grid-visualizer/grid-item-resizer.js
  packages/block-editor/src/components/grid-visualizer/style.scss
Labels: [Type] Bug, [Feature] Layout

#61606 List View: Add a special case for shortcuts coming from modals
  packages/block-editor/src/components/list-view/block.js
Labels: [Type] Bug, [Feature] List View

#61641 Grid Visualizer: Fix grid item resizing in site editor
  packages/edit-site/src/components/block-editor/style.scss
Labels: [Type] Bug, [Feature] Layout
