Repository WordPress/gutenberg, pull requests merged in 2024-02, with the labels that each got.

#58423 Drag and drop: Allow dropping within template parts
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/inner-blocks/index.js
  packages/editor/src/components/editor-canvas/index.js
Labels: [Type] Enhancement, Needs Design Feedback, [Feature] Drag and Drop

#58533 List View: Fix error when switching between template preview modes
  packages/block-editor/src/components/list-view/block.js
Labels: [Type] Bug, [Feature] List View

#58427 DataViews: add primary filter API
  packages/dataviews/README.md
  packages/dataviews/src/add-filter.js
  packages/dataviews/src/filters.js
  packages/dataviews/src/reset-filters.js
  packages/edit-site/src/components/page-pages/index.js
  packages/edit-site/src/components/page-patterns/index.js
Labels: [Type] Enhancement, [Feature] Data Views

#58536 Data views: Fix double scrollbar in grid layout
  packages/edit-site/src/components/page/style.scss
Labels: [Type] Bug, [Feature] Data Views

#58545 Update versions-in-wordpress.md
  docs/contributors/versions-in-wordpress.md
Labels: [Type] Developer Documentation, First-time Contributor

#58546 Enable dynamic import transform for React Native tests
  test/native/babel.config.js
Labels: [Type] Build Tooling

#58529 Font Library: Use Button's API to disable footer buttons
  packages/edit-site/src/components/global-styles/font-library-modal/font-collection.js
  packages/edit-site/src/components/global-styles/font-library-modal/installed-fonts.js
Labels: [Type] Code Quality, [Feature] Font Library

#58552 Writing flow: don't prepare for multi selection when dragging inwards
  packages/block-editor/src/components/writing-flow/use-drag-selection.js
Labels: [Type] Bug, [Feature] Writing Flow

#58538 Block Library: Rename variation build methods
  packages/block-library/src/navigation-link/index.php
  packages/block-library/src/post-terms/index.php
  phpcs.xml.dist
Labels: [Type] Code Quality, [Package] Block library

#58559 Components: Allow limiting the number of maximum visible Snackbars
  packages/components/CHANGELOG.md
  packages/components/src/snackbar/list.tsx
  packages/components/src/snackbar/types.ts
  packages/edit-widgets/src/components/notices/index.js
  packages/editor/src/components/editor-snackbars/index.js
Labels: [Type] Enhancement, [Package] Components

#58556 Block editor: reduce appender sync! subscriptions
  packages/block-editor/src/components/block-list-appender/index.js
  packages/block-editor/src/components/block-list/index.js
Labels: [Type] Performance

#58557 RichTextData: use a private property
  bin/packages/check-build-type-declaration-files.js
  packages/rich-text/README.md
  packages/rich-text/src/create.js
Labels: [Type] Code Quality, [Package] Rich text

#58562 Block Switcher: Don't use the 'useBlockDisplayInformation' hook
  packages/block-editor/src/components/block-switcher/index.js
Labels: [Type] Code Quality, [Package] Block editor

#58320 E2E Utils: Ensure deleteAllUsers does not delete current user
  packages/e2e-test-utils-playwright/src/request-utils/users.ts
Labels: [Type] Bug, [Package] E2E Test Utils

#58263 Script Modules API: Add import map polyfill
  lib/compat/wordpress-6.5/class-wp-script-modules.php
  lib/compat/wordpress-6.5/scripts-modules.php
Labels: [Type] Bug, Needs PHP backport, [Feature] Script Modules API

#58547 Fix: remove mention of weekly meeting from first time contributor PR label
  packages/project-management-automation/lib/tasks/first-time-contributor-label/index.js
  packages/project-management-automation/lib/tasks/first-time-contributor-label/test/index.js
Labels: [Type] Build Tooling, [Package] Project management automation

#57696 Components: Tabs: Improve Controlled Mode Focus Handling
  packages/components/CHANGELOG.md
  packages/components/src/tabs/index.tsx
  packages/components/src/tabs/tablist.tsx
  packages/components/src/tabs/test/index.tsx
  test/e2e/specs/editor/various/keyboard-navigable-blocks.spec.js
Labels: [Type] Bug, [Package] Components, Needs Accessibility Feedback

#58576 Introduce a Props Bot workflow
  .github/workflows/props-bot.yml
Labels: [Type] Project Management, props-bot

#58574 Font Library: simplify font collection schema
  schemas/json/font-collection.json
Labels: [Type] Code Quality, [Feature] Font Library

#58502 [Font Library] Update PHPUnit tests per Core coding standards and practices
  phpunit/tests/fonts/font-library/fontFamilyBackwardsCompatibility.php
  phpunit/tests/fonts/font-library/fontLibraryHooks.php
  phpunit/tests/fonts/font-library/wpFontCollection/__construct.php
  phpunit/tests/fonts/font-library/wpFontCollection/loadFromJson.php
  phpunit/tests/fonts/font-library/wpFontLibrary/getMimeTypes.php
  phpunit/tests/fonts/font-library/wpFontUtils/formatFontFamily.php
  phpunit/tests/fonts/font-library/wpFontUtils/getFontFaceSlug.php
  phpunit/tests/fonts/font-library/wpFontsDir.php
  phpunit/tests/fonts/font-library/wpRestFontCollectionsController.php
  phpunit/tests/fonts/font-library/wpRestFontFacesController.php
  phpunit/tests/fonts/font-library/wpRestFontFamiliesController.php
Labels: [Type] Code Quality, [Feature] Font Library

#58339 Font Library modal: Try to improve checkbox labelling
  packages/components/CHANGELOG.md
  packages/components/src/checkbox-control/README.md
  packages/components/src/checkbox-control/test/index.tsx
  packages/components/src/checkbox-control/types.ts
  packages/edit-site/src/components/global-styles/font-library-modal/collection-font-variant.js
  packages/edit-site/src/components/global-styles/font-library-modal/library-font-variant.js
Labels: [Type] Enhancement, [Focus] Accessibility (a11y), [Package] Components, Needs Accessibility Feedback, [Feature] Font Library

#58580 Font Library: Show 'Add fonts' button when there are no fonts installed
  packages/edit-site/src/components/global-styles/font-families.js
  packages/edit-site/src/components/global-styles/style.scss
Labels: [Type] Enhancement, Global Styles, [Feature] Font Library

#58540 Mobile Release v1.112.0
  package-lock.json
  packages/react-native-aztec/package.json
  packages/react-native-bridge/package.json
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/ios/Podfile.lock
  packages/react-native-editor/package.json
Labels: [Type] Build Tooling, Mobile App - i.e. Android or iOS

#58525 List View: unmemo recursive getEnabledClientIdsTree
  packages/block-editor/src/store/private-selectors.js
Labels: [Type] Performance, [Feature] List View

#58591 Components: Update the Snackbar warning message
  packages/components/CHANGELOG.md
  packages/components/src/snackbar/index.tsx
Labels: [Type] Copy, [Package] Components

#58597 MediaReplaceFlow: restore popover width
  packages/block-editor/src/components/media-replace-flow/style.scss
Labels: [Type] Regression, [Package] Block editor

#57886 Implement Tabs in widget editor settings
  packages/edit-widgets/src/components/sidebar/index.js
  packages/edit-widgets/src/components/sidebar/style.scss
Labels: [Type] Enhancement, [Package] Components, Needs Accessibility Feedback

#58602 Fix Query pagination not working in template parts and patterns
  docs/reference-guides/core-blocks.md
  packages/block-library/src/query-pagination/block.json
Labels: [Type] Enhancement, [Block] Query Pagination

#58612 Fix font library unit tests nit-picks [round 2]
  phpunit/tests/fonts/font-library/fontFamilyBackwardsCompatibility.php
  phpunit/tests/fonts/font-library/wpFontCollection/loadFromJson.php
  phpunit/tests/fonts/font-library/wpFontLibrary/getFontCollections.php
  phpunit/tests/fonts/font-library/wpFontLibrary/unregisterFontCollection.php
  phpunit/tests/fonts/font-library/wpRestFontCollectionsController.php
  phpunit/tests/fonts/font-library/wpRestFontFacesController.php
Labels: [Type] Code Quality, [Feature] Font Library

#58604 Components: Fix the Snackbar auto-dismissal timers
  packages/components/CHANGELOG.md
  packages/components/src/snackbar/index.tsx
Labels: [Type] Bug, [Package] Components

#58513 Navigation: Fix performance regression
  packages/block-library/src/navigation/index.php
Labels: [Type] Performance

#58588 Navigation: Update the fallback block list to avoid a PHP Warning
  packages/block-library/src/navigation/index.php
Labels: [Type] Bug, [Block] Navigation, Needs PHP backport, [Feature] Navigation Menus

#58608 Move Fonts Library to compat dir for 6.5
  lib/compat/wordpress-6.5/fonts/class-wp-font-collection.php
  lib/compat/wordpress-6.5/fonts/class-wp-font-library.php
  lib/compat/wordpress-6.5/fonts/class-wp-font-utils.php
  lib/compat/wordpress-6.5/fonts/class-wp-rest-font-collections-controller.php
  lib/compat/wordpress-6.5/fonts/class-wp-rest-font-faces-controller.php
  lib/compat/wordpress-6.5/fonts/class-wp-rest-font-families-controller.php
  lib/compat/wordpress-6.5/fonts/fonts.php
  lib/experimental/font-face/bc-layer/class-gutenberg-fonts-api-bc-layer.php
  lib/experimental/font-face/bc-layer/class-wp-fonts-provider-local.php
  lib/experimental/font-face/bc-layer/class-wp-fonts-provider.php
  lib/experimental/font-face/bc-layer/class-wp-fonts-resolver.php
  lib/experimental/font-face/bc-layer/class-wp-fonts-utils.php
  lib/experimental/font-face/bc-layer/class-wp-fonts.php
  lib/experimental/font-face/bc-layer/class-wp-web-fonts.php
  lib/experimental/font-face/bc-layer/class-wp-webfonts-provider-local.php
  lib/experimental/font-face/bc-layer/class-wp-webfonts-provider.php
  lib/experimental/font-face/bc-layer/class-wp-webfonts-utils.php
  lib/experimental/font-face/bc-layer/class-wp-webfonts.php
  lib/experimental/font-face/bc-layer/webfonts-deprecations.php
  lib/load.php
Labels: [Type] Code Quality, [Feature] Font Library

#58575 Inner blocks: don't re-render list when controlled blocks change
  packages/block-editor/src/components/inner-blocks/index.js
Labels: [Type] Performance

#58616 Refine when Props Bot runs
  .github/workflows/props-bot.yml
Labels: [Type] Project Management

#57304 Implementing `useCompositeState` with Ariakit
  packages/components/CHANGELOG.md
  packages/components/src/composite/current/index.ts
  packages/components/src/composite/current/stories/index.story.tsx
  packages/components/src/composite/current/stories/utils.tsx
  packages/components/src/composite/index.ts
  packages/components/src/composite/legacy/index.tsx
  packages/components/src/composite/legacy/stories/index.story.tsx
  packages/components/src/composite/legacy/stories/utils.tsx
  packages/components/src/composite/legacy/test/index.tsx
  packages/components/src/composite/test/index.tsx
  packages/components/src/composite/unstable/index.ts
  packages/components/src/composite/unstable/stories/index.story.tsx
  packages/components/src/composite/unstable/stories/utils.tsx
  packages/components/src/composite/unstable/test/index.tsx
  packages/components/src/composite/v2.ts
Labels: [Type] Enhancement, [Package] Components

#58041 Set post editor sidebar tabs to manual activation
  packages/edit-post/src/components/sidebar/settings-header/index.js
  packages/edit-post/src/components/sidebar/settings-sidebar/index.js
  test/e2e/specs/editor/various/keyboard-navigable-blocks.spec.js
Labels: [Type] Bug, [Package] Components

#58614 Docs: Minor copy edits for the Block Development Environment page
  docs/getting-started/devenv/README.md
Labels: [Type] Developer Documentation

#58623 Font Library: Remove slug from collection schema to accommodate the changes on the wp_register_font_collection function signature
  schemas/json/font-collection.json
Labels: [Type] Code Quality, [Feature] Font Library

#58476 Backport theme.json tests from Core
  lib/class-wp-theme-json-gutenberg.php
  lib/class-wp-theme-json-resolver-gutenberg.php
  lib/class-wp-theme-json-schema-gutenberg.php
  lib/load.php
  phpunit/class-wp-rest-global-styles-controller-gutenberg-test.php
  phpunit/class-wp-theme-json-resolver-test.php
  phpunit/class-wp-theme-json-schema-test.php
  phpunit/class-wp-theme-json-test.php
  phpunit/data/languages/themes/block-theme-pl_PL.mo
  phpunit/data/languages/themes/block-theme-pl_PL.po
  phpunit/data/themedir1/block-theme-child/styles/variation-b.json
  phpunit/data/themedir1/block-theme/styles/variation.json
  phpunit/data/themedir1/block-theme/theme.json
Labels: Backport from WordPress Core

#58624 Docs: Update the Getting Started readme in the Block Editor Handbook
  docs/getting-started/README.md
Labels: [Type] Developer Documentation

#58620 Removing Reakit `Composite` implementation
  packages/components/CHANGELOG.md
  packages/components/src/composite/index.ts
  packages/components/src/composite/legacy/index.tsx
  packages/components/src/composite/legacy/stories/index.story.tsx
  packages/components/src/composite/legacy/test/index.tsx
  packages/components/src/composite/unstable/index.ts
  packages/components/src/composite/unstable/stories/index.story.tsx
  packages/components/src/composite/unstable/stories/utils.tsx
  packages/components/src/composite/unstable/test/index.tsx
Labels: [Type] Task, [Package] Components, Needs Dev Note

#58625 Tabs: delay `activeId` updates until focus can be properly detected
  packages/components/CHANGELOG.md
  packages/components/src/tabs/index.tsx
Labels: [Type] Bug, [Package] Components

#58617 More refinements to Props Bot run conditions.
  .github/workflows/props-bot.yml
Labels: [Type] Project Management

#58530 Font Collections: lazy load json configuration for better performance
  lib/compat/wordpress-6.5/fonts/class-wp-font-collection.php
  lib/compat/wordpress-6.5/fonts/class-wp-font-library.php
  lib/compat/wordpress-6.5/fonts/class-wp-rest-font-collections-controller.php
  lib/compat/wordpress-6.5/fonts/class-wp-rest-font-faces-controller.php
  lib/compat/wordpress-6.5/fonts/class-wp-rest-font-families-controller.php
  lib/compat/wordpress-6.5/fonts/fonts.php
  phpunit/tests/fonts/font-library/wpFontCollection/__construct.php
  phpunit/tests/fonts/font-library/wpFontCollection/getData.php
  phpunit/tests/fonts/font-library/wpFontCollection/loadFromJson.php
  phpunit/tests/fonts/font-library/wpFontLibrary/registerFontCollection.php
  phpunit/tests/fonts/font-library/wpRestFontCollectionsController.php
Labels: [Type] Performance, [Feature] Font Library

#58630 Docs: Update list formatting and descriptions in the Fundamentals of Block Development doc.
  docs/getting-started/fundamentals/README.md
Labels: [Type] Developer Documentation

#58606 Show borders for disabled secondary buttons.
  packages/components/CHANGELOG.md
  packages/components/src/button/style.scss
Labels: [Type] Enhancement, [Package] Components

#58571 Font Library: Add sanitize from schema util
  lib/compat/wordpress-6.5/fonts/class-wp-font-utils.php
  phpunit/tests/fonts/font-library/wpFontUtils/sanitizeFromSchema.php
Labels: [Type] Enhancement, [Feature] Font Library

#58598 Editor: Limit visible Snackbars from the consumers
  packages/components/CHANGELOG.md
  packages/components/src/snackbar/list.tsx
  packages/components/src/snackbar/types.ts
  packages/edit-widgets/src/components/notices/index.js
  packages/editor/src/components/editor-snackbars/index.js
Labels: [Type] Enhancement, [Package] Editor

#58633 Update to rename reusable blocks
  docs/how-to-guides/propagating-updates.md
Labels: [Type] Developer Documentation

#56959 Implement `Tabs` in site-editor settings
  packages/edit-site/src/components/sidebar-edit-mode/index.js
  packages/edit-site/src/components/sidebar-edit-mode/settings-header/index.js
  packages/edit-site/src/components/sidebar-edit-mode/settings-header/style.scss
  packages/edit-site/src/components/sidebar-edit-mode/style.scss
  test/e2e/specs/site-editor/settings-sidebar.spec.js
  test/e2e/specs/site-editor/template-revert.spec.js
  test/e2e/specs/site-editor/writing-flow.spec.js
Labels: [Type] Enhancement, [Package] Components, Needs Accessibility Feedback

#58550 Block Bindings: Add block bindings e2e tests
  packages/e2e-tests/plugins/block-bindings.php
  test/e2e/specs/editor/various/block-bindings.spec.js
Labels: [Type] Automated Testing, [Feature] Custom Fields

#58634 Button: Add focusable disabled variant to vizreg Storybook
  packages/components/src/button/stories/e2e/index.story.tsx
Labels: [Type] Automated Testing, [Package] Components, Storybook

#58619 Update Font Library REST API code to align with Core standards
  lib/compat/wordpress-6.5/fonts/class-wp-rest-font-collections-controller.php
  lib/compat/wordpress-6.5/fonts/class-wp-rest-font-faces-controller.php
  lib/compat/wordpress-6.5/fonts/class-wp-rest-font-families-controller.php
Labels: [Type] Code Quality, [Feature] Font Library

#58607 Update Font Library non-REST API code to align with Core standards
  lib/compat/wordpress-6.5/fonts/class-wp-font-collection.php
  lib/compat/wordpress-6.5/fonts/class-wp-font-library.php
  lib/compat/wordpress-6.5/fonts/class-wp-font-utils.php
  lib/compat/wordpress-6.5/fonts/fonts.php
Labels: [Type] Code Quality, [Feature] Font Library

#58642 Fix flaky test of data-wp-on-window directive
  test/e2e/specs/interactivity/directive-on-window.spec.ts
Labels: [Type] Bug, [Packages] Interactivity

#58496 Interactivity Router: Fix initial page cache
  packages/block-library/src/query/view.js
  packages/interactivity-router/src/index.js
  packages/interactivity/src/index.js
  packages/interactivity/src/init.js
  packages/interactivity/src/vdom.js
Labels: [Type] Enhancement, [Feature] Interactivity API

#58498 Interactivity API: Server Directive Processor for `data-wp-each`
  lib/compat/wordpress-6.5/compat.php
  lib/compat/wordpress-6.5/interactivity-api/class-wp-interactivity-api-directives-processor.php
  lib/compat/wordpress-6.5/interactivity-api/class-wp-interactivity-api.php
  lib/experimental/interactivity-api.php
  lib/load.php
  packages/e2e-tests/plugins/interactive-blocks/directive-each/render.php
  packages/interactivity/src/directives.js
  packages/interactivity/src/index.ts
  packages/interactivity/src/utils/kebab-to-camelcase.js
  packages/interactivity/src/utils/test/utils.js
  packages/interactivity/src/vdom.ts
  phpunit/interactivity-api/class-wp-interactivity-api-directives-processor-test.php
  phpunit/interactivity-api/class-wp-interactivity-api-test.php
  phpunit/interactivity-api/class-wp-interactivity-api-wp-each-test.php
  phpunit/interactivity-api/class-wp-interactivity-api-wp-text-test.php
  test/e2e/specs/interactivity/directive-each.spec.ts
Labels: [Type] Enhancement, [Feature] Interactivity API

#58534 Template editing: update fullscreen WP back functionality
  packages/edit-post/src/components/header/fullscreen-mode-close/index.js
  packages/edit-post/src/components/header/fullscreen-mode-close/test/index.js
  packages/edit-post/src/components/header/index.js
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/editor.js
  packages/edit-post/src/hooks/use-post-history.js
Labels: [Type] Bug, [Package] Edit Post

#58589 Drag and drop: Allow dragging from inserter or desktop to template parts
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/inner-blocks/index.js
  packages/block-editor/src/components/inserter-draggable-blocks/index.js
  packages/block-editor/src/components/use-block-drop-zone/index.js
  packages/block-editor/src/store/private-actions.js
  packages/block-editor/src/store/private-selectors.js
  packages/block-editor/src/store/reducer.js
  packages/block-editor/src/store/test/private-actions.js
  packages/block-editor/src/store/test/private-selectors.js
  packages/block-editor/src/store/test/reducer.js
Labels: [Type] Enhancement, [Feature] Drag and Drop

#58646 Pattern: Use the '__experimentalLabel' method to get a title
  packages/block-editor/src/components/block-title/test/index.js
  packages/block-editor/src/components/block-title/use-block-display-title.js
  packages/block-library/src/block/index.js
Labels: [Type] Enhancement, [Block] Pattern

#58596 Pattern overrides: Update overrides attribute data structure and rename it to `content`
  docs/reference-guides/core-blocks.md
  lib/compat/wordpress-6.5/block-bindings/sources/pattern.php
  packages/block-library/src/block/block.json
  packages/block-library/src/block/deprecated.js
  packages/block-library/src/block/edit.js
  packages/block-library/src/block/index.js
  packages/block-library/src/block/index.php
  test/e2e/specs/editor/various/pattern-overrides.spec.js
Labels: [Type] Code Quality, [Feature] Patterns, Needs PHP backport

#58600 Try: Fix lightbox URL popover position.
  packages/block-editor/src/components/url-popover/image-url-input-ui.js
Labels: [Type] Bug

#58306 Shadow: Update shadow support to allow explicit skipping of serialization
  docs/reference-guides/core-blocks.md
  packages/block-editor/src/hooks/style.js
  packages/block-library/src/button/block.json
  schemas/json/block.json
Labels: [Type] Enhancement

#58658 Block editor: settings may be undefined
  packages/block-editor/src/components/provider/index.js
Labels: [Type] Bug

#58590 Font Library REST API: sanitize font family and font face settings
  lib/compat/wordpress-6.5/fonts/class-wp-font-utils.php
  lib/compat/wordpress-6.5/fonts/class-wp-rest-font-faces-controller.php
  lib/compat/wordpress-6.5/fonts/class-wp-rest-font-families-controller.php
  phpunit/tests/fonts/font-library/wpFontUtils/sanitizeFontFamily.php
  phpunit/tests/fonts/font-library/wpRestFontFacesController.php
  phpunit/tests/fonts/font-library/wpRestFontFamiliesController.php
Labels: REST API Interaction, [Type] Security, [Feature] Font Library

#58654 Font Collections: standardizes docblock comments
  lib/compat/wordpress-6.5/fonts/class-wp-font-collection.php
  lib/compat/wordpress-6.5/fonts/class-wp-font-library.php
  lib/compat/wordpress-6.5/fonts/class-wp-font-utils.php
  lib/compat/wordpress-6.5/fonts/fonts.php
Labels: [Type] Code Quality, [Feature] Font Library

#58584 Font Library: Change referenced tab name on Google Fonts confirmation dialog
  packages/edit-site/src/components/global-styles/font-library-modal/google-fonts-confirm-dialog.js
Labels: [Type] Bug, [Feature] Typography

#58609 DataViews: Make it possible to toggle Author field in templates and template parts
  packages/edit-site/src/components/page-templates-template-parts/index.js
Labels: [Type] Bug, [Feature] Data Views

#58451 Font Library: Fix font preview vertical alignment and respect reduce motion preference
  packages/edit-site/src/components/global-styles/font-library-modal/font-demo.js
  packages/edit-site/src/components/global-styles/font-library-modal/style.scss
Labels: [Type] Bug, [Focus] Accessibility (a11y), CSS Styling, [Feature] Typography, [Feature] Font Library

#58647 ImageURLInputUI: fix focus loss when settings are changed
  packages/block-editor/src/components/url-popover/image-url-input-ui.js
  packages/block-editor/src/components/url-popover/index.js
  test/e2e/specs/editor/blocks/image.spec.js
Labels: [Type] Bug, Needs Accessibility Feedback, [Package] Block editor, [Feature] Link Editing

#58668 Interactivity API: Fix flaky test in `data-wp-on-document`
  test/e2e/specs/interactivity/directive-on-document.spec.ts
Labels: [Type] Bug, [Packages] Interactivity

#58667 Move getAllowedMimeTypes to FontUtils
  lib/compat/wordpress-6.5/fonts/class-wp-font-library.php
  lib/compat/wordpress-6.5/fonts/class-wp-font-utils.php
  lib/compat/wordpress-6.5/fonts/class-wp-rest-font-faces-controller.php
  phpunit/tests/fonts/font-library/fontLibraryHooks.php
  phpunit/tests/fonts/font-library/wpFontLibrary/getMimeTypes.php
Labels: Backport from WordPress Core, [Feature] Font Library

#58669 Font Library: Refactor as a singleton
  lib/compat/wordpress-6.5/fonts/class-wp-font-library.php
  lib/compat/wordpress-6.5/fonts/class-wp-rest-font-collections-controller.php
  lib/compat/wordpress-6.5/fonts/fonts.php
  phpunit/tests/fonts/font-library/wpFontLibrary/base.php
  phpunit/tests/fonts/font-library/wpFontLibrary/getFontCollection.php
  phpunit/tests/fonts/font-library/wpFontLibrary/getFontCollections.php
  phpunit/tests/fonts/font-library/wpFontLibrary/registerFontCollection.php
  phpunit/tests/fonts/font-library/wpFontLibrary/unregisterFontCollection.php
Labels: Backport from WordPress Core, [Feature] Font Library

#58671 Font Library: Synchronize code with Gutenberg 17.6
  lib/compat/wordpress-6.5/fonts/class-wp-font-collection.php
  lib/compat/wordpress-6.5/fonts/class-wp-font-library.php
  lib/compat/wordpress-6.5/fonts/class-wp-font-utils.php
  lib/compat/wordpress-6.5/fonts/class-wp-rest-font-collections-controller.php
  lib/compat/wordpress-6.5/fonts/class-wp-rest-font-faces-controller.php
  lib/compat/wordpress-6.5/fonts/class-wp-rest-font-families-controller.php
  lib/compat/wordpress-6.5/fonts/fonts.php
  lib/experimental/font-face/bc-layer/class-gutenberg-fonts-api-bc-layer.php
  lib/experimental/font-face/bc-layer/class-wp-fonts-provider-local.php
  lib/experimental/font-face/bc-layer/class-wp-fonts-provider.php
  lib/experimental/font-face/bc-layer/class-wp-fonts-resolver.php
  lib/experimental/font-face/bc-layer/class-wp-fonts-utils.php
  lib/experimental/font-face/bc-layer/class-wp-fonts.php
  lib/experimental/font-face/bc-layer/class-wp-web-fonts.php
  lib/experimental/font-face/bc-layer/class-wp-webfonts-provider-local.php
  lib/experimental/font-face/bc-layer/class-wp-webfonts-provider.php
  lib/experimental/font-face/bc-layer/class-wp-webfonts-utils.php
  lib/experimental/font-face/bc-layer/class-wp-webfonts.php
  lib/experimental/font-face/bc-layer/webfonts-deprecations.php
  lib/experimental/fonts/font-library/class-wp-font-collection.php
  lib/experimental/fonts/font-library/class-wp-font-library.php
  lib/experimental/fonts/font-library/class-wp-font-utils.php
  lib/load.php
  phpunit/tests/fonts/font-library/fontFamilyBackwardsCompatibility.php
  phpunit/tests/fonts/font-library/fontLibraryHooks.php
  phpunit/tests/fonts/font-library/wpFontCollection/__construct.php
  phpunit/tests/fonts/font-library/wpFontCollection/getContent.php
  phpunit/tests/fonts/font-library/wpFontCollection/getData.php
  phpunit/tests/fonts/font-library/wpFontCollection/isConfigValid.php
  phpunit/tests/fonts/font-library/wpFontLibrary/base.php
  phpunit/tests/fonts/font-library/wpFontLibrary/getFontCollection.php
  phpunit/tests/fonts/font-library/wpFontLibrary/getFontCollections.php
  phpunit/tests/fonts/font-library/wpFontLibrary/getMimeTypes.php
  phpunit/tests/fonts/font-library/wpFontLibrary/registerFontCollection.php
  phpunit/tests/fonts/font-library/wpFontLibrary/unregisterFontCollection.php
  phpunit/tests/fonts/font-library/wpFontUtils/getFontFaceSlug.php
  phpunit/tests/fonts/font-library/wpFontUtils/sanitizeFontFamily.php
  phpunit/tests/fonts/font-library/wpFontUtils/sanitizeFromSchema.php
  phpunit/tests/fonts/font-library/wpFontsDir.php
  phpunit/tests/fonts/font-library/wpRestFontCollectionsController.php
  phpunit/tests/fonts/font-library/wpRestFontFacesController.php
  phpunit/tests/fonts/font-library/wpRestFontFamiliesController.php
Labels: Backport from WordPress Core, [Feature] Font Library

#58652 Docs: Copy edits and list formatting for main Block Editor Handbook readme
  docs/README.md
Labels: [Type] Developer Documentation

#58631 Removing Reakit as a dependency
  .eslintrc.js
  package-lock.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/components/src/composite/v2.ts
  packages/components/src/context/wordpress-component.ts
  packages/components/src/divider/README.md
  packages/components/src/utils/hooks/use-update-effect.js
  packages/edit-site/src/components/page-patterns/grid-item.js
Labels: [Type] Task, [Package] Components

#58677 Reduce label and fix capitalization for image block upload label
  packages/block-library/src/image/image.js
  test/e2e/specs/editor/blocks/image.spec.js
Labels: [Type] Copy, [Block] Image

#58463 Change cover block's "Media settings" label to "Settings"
  packages/block-library/src/cover/edit/inspector-controls.js
  packages/block-library/src/cover/test/edit.js
Labels: [Feature] Inspector Controls, [Type] Copy, [Block] Cover

#58447 Tweak Media & Text inspector controls
  packages/block-library/src/media-text/edit.js
  packages/block-library/src/media-text/edit.native.js
Labels: [Type] Enhancement, [Feature] Inspector Controls, [Block] Media & Text

#58655 Docs: Fix list formatting and some grammar in the Entities explanation doc
  docs/explanations/architecture/entities.md
  docs/manifest.json
Labels: [Type] Developer Documentation

#58681 Docs: Copy and formatting edits for the "Static or Dynamic rendering" guide
  docs/getting-started/fundamentals/static-dynamic-rendering.md
Labels: [Type] Developer Documentation

#58637 Escape as Select/Edit mode Toggle
  packages/block-editor/src/components/block-tools/block-selection-button.js
  packages/block-editor/src/components/block-tools/index.js
  test/e2e/specs/editor/various/multi-block-selection.spec.js
  test/e2e/specs/editor/various/writing-flow.spec.js
Labels: [Type] Enhancement, Needs Accessibility Feedback

#57982 Add shadow support for column, columns and image
  docs/reference-guides/core-blocks.md
  packages/block-library/src/column/block.json
  packages/block-library/src/columns/block.json
  packages/block-library/src/image/block.json
  packages/block-library/src/image/edit.js
  packages/block-library/src/image/image.js
  packages/block-library/src/image/save.js
Labels: [Package] Block library, [Type] Feature

#58684 Writing flow: maintain correct selection after drag-selecting outside block
  packages/block-editor/src/components/writing-flow/use-drag-selection.js
  test/e2e/specs/editor/various/multi-block-selection.spec.js
Labels: [Type] Bug, [Feature] Writing Flow, [Priority] Highest (OMGBBQ)

#58570 Don't move focus within the toolbar if it is already focused
  packages/block-editor/src/components/navigable-toolbar/index.js
  test/e2e/specs/editor/various/navigable-toolbar.spec.js
Labels: [Type] Bug, [Package] Block editor

#58452 Add missing PanelBody title for the columns block inspector
  packages/block-library/src/columns/edit.js
  test/e2e/specs/editor/various/block-hierarchy-navigation.spec.js
Labels: [Type] Bug, [Feature] Inspector Controls, [Block] Columns

#58407 Organize gallery controls
  packages/block-library/src/gallery/edit.js
  packages/block-library/src/gallery/test/index.native.js
Labels: [Type] Enhancement, [Block] Gallery

#58686 useOnBlockDrop: Fix TypeError via array coercion
  packages/block-editor/src/components/use-on-block-drop/index.js
Labels: [Type] Regression, [Feature] Drag and Drop, [Block] Gallery, Backport to Gutenberg Minor Release

#58691 Font Library: address feedback from wordpress-develop#6027
  lib/compat/wordpress-6.5/fonts/class-wp-font-collection.php
  lib/compat/wordpress-6.5/fonts/class-wp-font-library.php
  lib/compat/wordpress-6.5/fonts/fonts.php
Labels: [Type] Code Quality, [Feature] Font Library

#58585 CustomSelect: disable `virtualFocus` to fix issue for screenreaders
  packages/components/CHANGELOG.md
  packages/components/src/custom-select-control-v2/index.tsx
Labels: [Type] Bug, [Focus] Accessibility (a11y), Browser Issues, [Package] Components

#58697 Docs: Copy and formatting edits for the "The block in the Editor" guide
  docs/getting-started/fundamentals/block-in-the-editor.md
Labels: [Type] Developer Documentation

#58528 Update "focus mode" to consistently use the Document Bar's Back button
  packages/block-editor/src/components/block-canvas/style.scss
  packages/edit-post/src/components/visual-editor/style.scss
  packages/edit-site/src/components/block-editor/back-button.js
  packages/edit-site/src/components/block-editor/site-editor-canvas.js
  packages/edit-site/src/components/block-editor/style.scss
  packages/edit-site/src/components/block-editor/use-site-editor-settings.js
  test/e2e/specs/site-editor/pages.spec.js
Labels: [Type] Enhancement, Needs Design Feedback, [Feature] Site Editor, [Feature] Focus Mode

#58455 Add default restoration of UI when exiting distraction free mode
  packages/edit-post/src/components/header/writing-menu/index.js
  packages/edit-post/src/store/actions.js
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/header-edit-mode/more-menu/index.js
  packages/edit-site/src/store/actions.js
  packages/preferences/src/components/preference-toggle-menu-item/index.js
Labels: [Type] Bug, [Feature] Distraction Free

#58649 fix: innerBlocks schema description in block.json
  schemas/json/block.json
Labels: [Type] Developer Documentation, First-time Contributor

#58486 Migrate remaining 'pattern block' e2e tests to Playwright
  packages/e2e-tests/specs/editor/various/__snapshots__/pattern-blocks.test.js.snap
  packages/e2e-tests/specs/editor/various/pattern-blocks.test.js
  test/e2e/specs/editor/various/patterns.spec.js
Labels: [Type] Automated Testing

#58711 useOnBlockDrop: Fix the Gallery block check
  packages/block-editor/src/components/use-on-block-drop/index.js
Labels: [Type] Bug, [Feature] Drag and Drop, [Package] Block editor

#58707 Global styles: update return values from getGlobalStylesChanges()
  packages/block-editor/src/components/global-styles/get-global-styles-changes.js
  packages/block-editor/src/components/global-styles/test/get-global-styles-changes.js
  packages/edit-site/src/components/global-styles/screen-revisions/revisions-buttons.js
  packages/editor/src/components/entities-saved-states/entity-type-list.js
  test/e2e/specs/site-editor/user-global-styles-revisions.spec.js
Labels: [Type] Enhancement, Global Styles

#58615 Fix image link preset suggestions arrow key navigation
  packages/block-editor/src/components/url-popover/image-url-input-ui.js
Labels: [Focus] Accessibility (a11y), [Type] Regression, [Block] Image

#58587 Support button's link settings for Pattern Overrides
  lib/compat/wordpress-6.5/blocks.php
  packages/block-library/src/block/edit.js
  packages/patterns/src/constants.js
  test/e2e/specs/editor/various/pattern-overrides.spec.js
Labels: [Type] Enhancement, [Feature] Synced Patterns, Needs PHP backport

#58676 Block Bindings: Add tests for the frontend and polish the existing ones
  packages/e2e-tests/plugins/block-bindings.php
  test/e2e/specs/editor/various/block-bindings.spec.js
Labels: [Type] Automated Testing, [Feature] Custom Fields

#58682 DataViews: remove test artifact (status filter was set as primary)
  packages/edit-site/src/components/page-pages/index.js
Labels: [Type] Bug, [Feature] Data Views

#58683 Block Bindings: Backport block bindings refactor from WordPress core
  lib/compat/wordpress-6.5/block-bindings/block-bindings.php
  lib/compat/wordpress-6.5/block-bindings/class-wp-block-bindings-registry.php
  lib/compat/wordpress-6.5/block-bindings/pattern-overrides.php
  lib/compat/wordpress-6.5/block-bindings/post-meta.php
  lib/compat/wordpress-6.5/blocks.php
  lib/load.php
Labels: [Feature] Custom Fields, Backport from WordPress Core

#58583 CustomSelect: add tests for new features
  packages/components/CHANGELOG.md
  packages/components/src/custom-select-control-v2/test/index.tsx
Labels: [Type] Automated Testing, [Package] Components

#58541 Fix nested pattern overrides and disable editing inner pattern
  packages/block-library/src/block/edit.js
  packages/e2e-test-utils-playwright/src/editor/get-blocks.ts
  test/e2e/specs/editor/various/pattern-overrides.spec.js
Labels: [Type] Bug, [Feature] Synced Patterns

#58726 Fix: Dataviews selection on patterns grid view.
  packages/dataviews/src/dataviews.js
Labels: [Type] Bug, [Feature] Data Views

#58700 AnglePickerControl: Hard deprecate bottom margin
  packages/components/CHANGELOG.md
  packages/components/src/angle-picker-control/README.md
  packages/components/src/angle-picker-control/index.tsx
  packages/components/src/angle-picker-control/stories/index.story.tsx
  packages/components/src/angle-picker-control/styles/angle-picker-control-styles.tsx
  packages/components/src/angle-picker-control/types.ts
  packages/components/src/custom-gradient-picker/index.tsx
Labels: [Type] Code Quality, [Package] Components, Needs Dev Note

#58693 SearchControl: Add unit tests
  packages/components/src/search-control/test/index.tsx
Labels: [Type] Automated Testing, [Package] Components

#58699 CustomGradientPicker: Hard deprecate outer margins
  packages/components/CHANGELOG.md
  packages/components/src/custom-gradient-picker/index.tsx
  packages/components/src/custom-gradient-picker/stories/index.story.tsx
  packages/components/src/custom-gradient-picker/style.scss
  packages/components/src/custom-gradient-picker/types.ts
  packages/components/src/gradient-picker/index.tsx
  packages/components/src/palette-edit/index.tsx
Labels: [Type] Code Quality, [Package] Components, Needs Dev Note

#58688 Docs: Copy and formatting edits for the "Markup representation of a block" guide
  docs/getting-started/fundamentals/markup-representation-block.md
Labels: [Type] Developer Documentation

#58701 GradientPicker: Hard deprecate outer margins
  packages/block-editor/src/components/colors-gradients/control.js
  packages/components/CHANGELOG.md
  packages/components/src/gradient-picker/README.md
  packages/components/src/gradient-picker/index.tsx
  packages/components/src/gradient-picker/stories/index.story.tsx
  packages/components/src/gradient-picker/types.ts
  packages/components/src/palette-edit/index.tsx
Labels: [Type] Code Quality, [Package] Components, Needs Dev Note

#58694 Use toBeDisabled instead of aria-disabled check
  test/e2e/specs/editor/various/navigable-toolbar.spec.js
Labels: [Type] Code Quality, [Package] E2E Tests

#58702 FontSizePicker: Hard deprecate bottom margin
  packages/block-editor/CHANGELOG.md
  packages/block-editor/src/components/font-sizes/README.MD
  packages/block-editor/src/components/global-styles/typography-panel.js
  packages/block-editor/src/hooks/font-size.js
  packages/components/CHANGELOG.md
  packages/components/src/font-size-picker/README.md
  packages/components/src/font-size-picker/font-size-picker-toggle-group.tsx
  packages/components/src/font-size-picker/index.tsx
  packages/components/src/font-size-picker/stories/index.story.tsx
  packages/components/src/font-size-picker/styles.ts
  packages/components/src/font-size-picker/test/index.tsx
  packages/components/src/font-size-picker/types.ts
Labels: [Type] Code Quality, [Package] Components, Needs Dev Note

#58108 Migrate remaining 'inserting blocks' e2e tests to Playwright
  packages/e2e-tests/specs/editor/various/__snapshots__/inserting-blocks.test.js.snap
  packages/e2e-tests/specs/editor/various/inserting-blocks.test.js
  test/e2e/specs/editor/various/inserting-blocks.spec.js
  test/e2e/specs/editor/various/keyboard-navigable-blocks.spec.js
Labels: [Type] Automated Testing

#58746 Font Library: update fonts collection data url for Gutenberg 17.7
  lib/compat/wordpress-6.5/fonts/fonts.php
Labels: [Type] Code Quality, [Feature] Font Library

#58472 Improve SiteIcon display and transition
  packages/edit-site/src/components/site-hub/style.scss
  packages/edit-site/src/components/site-icon/index.js
  packages/edit-site/src/components/site-icon/style.scss
Labels: [Type] Enhancement, [Feature] Site Editor

#58107 HTML API: Backport updates from Core
  lib/compat/wordpress-6.5/html-api/class-gutenberg-html-processor-6-5.php
  lib/compat/wordpress-6.5/html-api/class-gutenberg-html-tag-processor-6-5.php
Labels: Backport from WordPress Core, [Feature] HTML API

#58592 Background image support: Try adding background position controls
  packages/block-editor/src/hooks/background.js
  packages/block-editor/src/hooks/test/background.js
  packages/components/CHANGELOG.md
  packages/components/src/focal-point-picker/index.tsx
  packages/style-engine/src/styles/background/index.ts
  packages/style-engine/src/test/index.js
Labels: [Type] Enhancement, [Block] Group, [Feature] Design Tools

#58752 Font Library: remove tests from classes that were already merged in core
  phpunit/tests/fonts/font-library/fontLibraryHooks.php
  phpunit/tests/fonts/font-library/wpFontCollection/__construct.php
  phpunit/tests/fonts/font-library/wpFontCollection/getData.php
  phpunit/tests/fonts/font-library/wpFontLibrary/base.php
  phpunit/tests/fonts/font-library/wpFontLibrary/getFontCollection.php
  phpunit/tests/fonts/font-library/wpFontLibrary/getFontCollections.php
  phpunit/tests/fonts/font-library/wpFontLibrary/registerFontCollection.php
  phpunit/tests/fonts/font-library/wpFontLibrary/unregisterFontCollection.php
  phpunit/tests/fonts/font-library/wpFontUtils/getFontFaceSlug.php
  phpunit/tests/fonts/font-library/wpFontUtils/sanitizeFontFamily.php
  phpunit/tests/fonts/font-library/wpFontUtils/sanitizeFromSchema.php
  phpunit/tests/fonts/font-library/wpFontsDir.php
  phpunit/tests/fonts/font-library/wpRestFontCollectionsController.php
Labels: [Type] Code Quality, [Feature] Font Library

#58722 Interactivity API: Mark all core block stores as private
  packages/block-library/src/file/view.js
  packages/block-library/src/image/view.js
  packages/block-library/src/navigation/view.js
  packages/block-library/src/query/view.js
  packages/block-library/src/search/view.js
Labels: [Type] Enhancement, [Feature] Interactivity API, [Packages] Interactivity

#58735 Font Library: return null if a font collection is not registered
  lib/compat/wordpress-6.5/fonts/class-wp-font-library.php
  lib/compat/wordpress-6.5/fonts/class-wp-rest-font-collections-controller.php
  phpunit/tests/fonts/font-library/wpRestFontCollectionsController.php
Labels: [Type] Code Quality, [Feature] Font Library

#58716 Editor: Ensure the current author is included in the dropdown
  packages/editor/src/components/post-author/select.js
Labels: [Type] Bug, [Feature] Document Settings

#58719 Editor: Don't hide authors' Combobox if the current author is missing
  packages/editor/src/components/post-author/combobox.js
Labels: [Type] Bug, [Feature] Document Settings, [Package] Editor

#58466 Move Shadow controls to Border panel
  packages/block-editor/src/components/block-inspector/index.js
  packages/block-editor/src/components/global-styles/border-panel.js
  packages/block-editor/src/components/global-styles/effects-panel.js
  packages/block-editor/src/components/global-styles/index.js
  packages/block-editor/src/components/global-styles/shadow-panel-components.js
  packages/block-editor/src/components/global-styles/style.scss
  packages/block-editor/src/components/inspector-controls-tabs/styles-tab.js
  packages/block-editor/src/hooks/border.js
  packages/block-editor/src/hooks/effects.js
  packages/block-editor/src/hooks/style.js
  packages/block-editor/src/hooks/test/effects.js
  packages/edit-site/src/components/global-styles/screen-block.js
  test/integration/fixtures/blocks/core__avatar.json
  test/integration/fixtures/blocks/core__avatar.serialized.html
Labels: [Type] Enhancement

#58710 Site Editor: Only show 'Back' button when user came from an editor canvas
  packages/edit-site/src/components/block-editor/use-site-editor-settings.js
Labels: [Type] Enhancement, [Feature] Site Editor

#57907 Add a control per block to reset pattern overrides
  packages/block-library/src/block/edit.js
  packages/editor/src/hooks/pattern-partial-syncing.js
  packages/patterns/src/components/reset-overrides-control.js
  packages/patterns/src/private-apis.js
  test/e2e/specs/editor/various/pattern-overrides.spec.js
Labels: [Feature] Synced Patterns, [Type] Experimental

#58715 Add the block name to the pattern content data
  packages/block-library/src/block/edit.js
Labels: [Type] Enhancement, [Feature] Patterns

#58416 Editor Settings: Rename the getPostLinkProps setting
  packages/block-library/src/block/edit.js
  packages/edit-post/src/components/header/index.js
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/editor.js
  packages/edit-post/src/hooks/use-navigate-to-entity-record.js
  packages/edit-site/src/components/block-editor/use-navigate-to-entity-record.js
  packages/edit-site/src/components/block-editor/use-post-link-props.js
  packages/edit-site/src/components/block-editor/use-site-editor-settings.js
  packages/edit-site/src/components/routes/link.js
  packages/editor/src/components/document-bar/index.js
  packages/editor/src/components/editor-canvas/edit-template-blocks-notification.js
  packages/editor/src/components/editor-canvas/index.js
  packages/editor/src/components/post-template/block-theme.js
  packages/editor/src/components/post-template/classic-theme.js
  packages/editor/src/components/post-template/create-new-template-modal.js
  packages/editor/src/components/provider/use-block-editor-settings.js
  test/e2e/specs/editor/various/pattern-overrides.spec.js
  test/e2e/specs/editor/various/patterns.spec.js
Labels: [Type] Code Quality, [Package] Editor

#58743 Interactivity API: Support setting a namespace using a string in `data-wp-interactive`
  packages/e2e-tests/plugins/interactive-blocks/tovdom-islands/render.php
  packages/interactivity/CHANGELOG.md
  packages/interactivity/src/vdom.ts
  test/e2e/specs/interactivity/tovdom-islands.spec.ts
Labels: [Type] Enhancement, [Feature] Interactivity API, [Packages] Interactivity

#58678 Interactivity API - Blocks: Move interactivity registration to render
  packages/block-library/src/file/index.php
  packages/block-library/src/image/index.php
  packages/block-library/src/navigation/index.php
  packages/block-library/src/query/index.php
  packages/block-library/src/search/index.php
Labels: [Type] Code Quality, [Package] Block library

#58763 Site Editor: Break long URL in page sidebar
  packages/edit-site/src/components/sidebar-navigation-screen/style.scss
Labels: [Type] Bug, [Feature] Site Editor

#58742 Update dataviews search input placeholder
  packages/dataviews/src/search.js
  test/e2e/specs/site-editor/new-templates-list.spec.js
Labels: [Type] Enhancement, Needs Design Feedback, [Feature] Data Views

#58733 Try: Make gallery randomization work when nested
  packages/block-library/src/gallery/index.php
Labels: [Type] Bug, [Block] Gallery

#58754 Interactivity API: Fix state intialization for asynchronous private stores
  packages/interactivity/CHANGELOG.md
  packages/interactivity/src/store.ts
Labels: [Type] Bug, [Feature] Interactivity API, [Packages] Interactivity

#58760 Editor: Reuse data query in the post author components
  packages/editor/src/components/post-author/combobox.js
  packages/editor/src/components/post-author/constants.js
  packages/editor/src/components/post-author/hook.js
  packages/editor/src/components/post-author/select.js
Labels: [Type] Code Quality, [Package] Editor

#58664 Interactivity API: Remove non default suffix data wp context processing.
  packages/e2e-tests/plugins/interactive-blocks/directive-context/render.php
  packages/interactivity/CHANGELOG.md
  packages/interactivity/src/directives.js
  test/e2e/specs/interactivity/directive-context.spec.ts
Labels: [Type] Bug, [Packages] Interactivity

#58713 Update workflows to use gradle/actions/setup-gradle (#58628)
  .github/workflows/rnmobile-android-runner.yml
Labels: [Type] Build Tooling, Mobile App - i.e. Android or iOS

#58738 Add outline to template preview in table layout
  packages/edit-site/src/components/page-templates-template-parts/style.scss
Labels: [Type] Enhancement, [Feature] Data Views

#58750 InputBase: Add `isBorderless` prop
  packages/components/CHANGELOG.md
  packages/components/src/dimension-control/test/__snapshots__/index.test.js.snap
  packages/components/src/input-control/backdrop.tsx
  packages/components/src/input-control/input-base.tsx
  packages/components/src/input-control/styles/input-control-styles.tsx
  packages/components/src/input-control/types.ts
Labels: [Type] Enhancement, [Package] Components

#58769 Font Library: Do not register the google fonts collection if already registered
  lib/compat/wordpress-6.5/fonts/fonts.php
  phpunit/tests/fonts/font-library/wpRestFontCollectionsController.php
Labels: [Type] Bug, [Feature] Font Library

#58211 Interactive Template: Use viewScriptModule
  packages/create-block-interactive-template/index.js
Labels: [Type] Enhancement, [Package] Create Block

#58739 Data views: Update spacing around title in grid layout
  packages/dataviews/src/style.scss
Labels: [Type] Enhancement, [Feature] Data Views

#58751 Tweak revisions panel for improved scanning
  packages/editor/src/components/post-last-revision/index.js
  packages/editor/src/components/post-last-revision/style.scss
  test/e2e/specs/editor/various/footnotes.spec.js
Labels: [Type] Enhancement, [Feature] Document Settings

#58731 Blocks: Add handling for block.json viewScriptModule
  docs/reference-guides/block-api/block-metadata.md
  lib/experimental/script-modules.php
Labels: [Feature] Block API, Needs Dev Note, [Type] New API, [Feature] Script Modules API

#58203 Scripts: Add viewScriptModule block.json support
  packages/scripts/CHANGELOG.md
  packages/scripts/README.md
  packages/scripts/utils/block-json.js
Labels: [Type] Enhancement, [Package] Scripts

#58778 Font Library: Remove tests from font library rest controllers already merged into core
  phpunit/tests/fonts/font-library/wpRestFontCollectionsController.php
  phpunit/tests/fonts/font-library/wpRestFontFacesController.php
  phpunit/tests/fonts/font-library/wpRestFontFamiliesController.php
Labels: [Type] Code Quality, [Feature] Font Library

#58770 DEWP: Fix script module import field
  packages/dependency-extraction-webpack-plugin/CHANGELOG.md
  packages/dependency-extraction-webpack-plugin/README.md
  packages/dependency-extraction-webpack-plugin/lib/index.js
  packages/dependency-extraction-webpack-plugin/test/__snapshots__/build.js.snap
Labels: [Type] Bug, [Package] Dependency Extraction Webpack Plugin

#57927 Add BlockJsonDependenciesPlugin to modules build
  packages/scripts/CHANGELOG.md
  packages/scripts/config/webpack.config.js
Labels: [Type] Enhancement, [Package] Scripts

#58183 Use consistent labels, remove additional settings, and copySmall icon LinkControl
  packages/block-editor/src/components/link-control/link-preview.js
  packages/block-editor/src/components/link-control/style.scss
  packages/block-editor/src/components/link-control/test/index.js
  packages/block-editor/src/components/media-replace-flow/test/index.js
  packages/icons/src/index.js
  packages/icons/src/library/copy-small.js
  test/e2e/specs/editor/blocks/links.spec.js
  test/e2e/specs/editor/various/pattern-overrides.spec.js
Labels: [Type] Enhancement, [Feature] Link Editing

#58703 Components: Remove deprecation warnings for `__next36pxDefaultSize`
  packages/components/CHANGELOG.md
  packages/components/src/combobox-control/index.tsx
  packages/components/src/custom-select-control/index.js
  packages/components/src/form-token-field/index.tsx
  packages/components/src/input-control/index.tsx
  packages/components/src/input-control/input-base.tsx
  packages/components/src/number-control/index.tsx
  packages/components/src/select-control/index.tsx
  packages/components/src/tree-select/index.tsx
  packages/components/src/unit-control/index.tsx
  packages/components/src/utils/use-deprecated-props.ts
Labels: [Type] Code Quality, [Package] Components, Needs Dev Note
