Repository WordPress/gutenberg, pull requests merged in 2024-12, with the labels that each got.

#67423 Fix: Styles section does not moves stylebook to typography.
  packages/edit-site/src/components/style-book/index.js
Labels: [Type] Bug, Global Styles, [Feature] Style Book

#67446 Updated old URL in Documentation
  docs/reference-guides/block-api/block-transforms.md
  platform-docs/docs/create-block/transforms.md
Labels: [Type] Developer Documentation

#67450 Preload: fix settings fields order
  lib/compat/wordpress-6.8/preload.php
Labels: Backport from WordPress Core

#67273 Cover Block: Image size option for featured image
  packages/block-library/src/cover/edit/index.js
  packages/block-library/src/cover/edit/inspector-controls.js
  packages/block-library/src/cover/index.php
Labels: [Type] Enhancement, [Block] Cover

#67379 Fix List View not updating when switching editor modes
  packages/block-editor/src/store/private-selectors.js
  test/e2e/specs/editor/various/write-design-mode.spec.js
Labels: [Type] Bug, [Feature] List View, [Feature] Write mode

#67457 Removed trailing space in "Color randomizer "
  lib/experiments-page.php
Labels: [Type] Code Quality, First-time Contributor

#67368 Remove inline-block display from image anchor in style.scss
  packages/block-library/src/image/style.scss
Labels: [Type] Bug, [Block] Image

#67072 Inserter: Patterns: remove loading indicator
  packages/block-editor/src/components/inserter/block-patterns-tab/index.js
  packages/block-editor/src/store/private-selectors.js
Labels: [Type] Bug, [Feature] Inserter, [Feature] Patterns, Backport to WP Minor Release

#67232 Disable Zoom Out if no section root to allow for Theme opt in
  packages/block-editor/src/components/inserter/menu.js
  packages/editor/src/components/header/index.js
  test/e2e/specs/editor/various/parsing-patterns.spec.js
  test/e2e/specs/editor/various/pattern-overrides.spec.js
  test/e2e/specs/site-editor/zoom-out.spec.js
Labels: [Type] Bug, Backport to Gutenberg RC, [Feature] Zoom Out

#62739 PR template: add before/after table
  .github/PULL_REQUEST_TEMPLATE.md
Labels: [Type] Project Management

#67458 Site Editor: Fix focus mode navigation
  packages/edit-site/src/components/block-editor/use-navigate-to-entity-record.js
  packages/router/src/router.tsx
  test/e2e/specs/site-editor/template-part-focus-mode.spec.js
Labels: [Type] Bug

#67469 Site editor: Allow access to quick edit
  packages/edit-site/src/components/site-editor-routes/pages.js
Labels: [Type] Bug

#67465 Preload: parse post ID from p (path)
  backport-changelog/6.8/7695.md
  lib/compat/wordpress-6.8/preload.php
Labels: [Type] Regression

#67402 DataViews: Better handling of missing onClickItem prop
  packages/dataviews/src/components/dataviews-context/index.ts
  packages/dataviews/src/components/dataviews/index.tsx
  packages/dataviews/src/dataviews-layouts/grid/index.tsx
  packages/dataviews/src/dataviews-layouts/table/index.tsx
  packages/dataviews/src/dataviews-layouts/utils/get-clickable-item-props.ts
  packages/dataviews/src/types.ts
Labels: [Type] Bug

#67434 [mini] drag and drop: fix misplaced drop indicator
  packages/block-editor/src/components/block-popover/inbetween.js
Labels: [Type] Bug, [Feature] Drag and Drop

#67370 Extensibility: Make Block Bindings work with `editor.BlockEdit` hook
  packages/block-editor/src/components/block-edit/edit.js
  packages/block-editor/src/components/block-edit/with-block-bindings-support.js
  packages/block-editor/src/components/block-list/use-block-props/index.js
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/hooks/block-bindings.js
  packages/block-editor/src/hooks/index.js
  packages/block-editor/src/utils/block-bindings.js
  packages/e2e-tests/plugins/block-bindings.php
  packages/e2e-tests/plugins/block-bindings/index.js
  test/e2e/specs/editor/various/block-bindings/post-meta.spec.js
Labels: [Type] Bug, [Feature] Extensibility, [Feature] Block bindings

#67367 Prefer exact matches in Link Search results sorting
  packages/core-data/src/fetch/__experimental-fetch-link-suggestions.ts
  packages/core-data/src/fetch/test/__experimental-fetch-link-suggestions.js
Labels: [Type] Enhancement, [Feature] Link Editing

#67254 Fix Meta boxes saving when they’re not present
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/meta-boxes/index.js
  packages/edit-post/src/components/meta-boxes/use-meta-box-initialization.js
Labels: [Feature] Meta Boxes, [Type] Regression, [Package] Edit Post, Backport to WP Minor Release

#67471 SlotFill: remove explicit rerender from portal version
  packages/components/CHANGELOG.md
  packages/components/src/slot-fill/bubbles-virtually/fill.tsx
  packages/components/src/slot-fill/bubbles-virtually/slot-fill-provider.tsx
  packages/components/src/slot-fill/bubbles-virtually/slot.tsx
  packages/components/src/slot-fill/types.ts
Labels: [Type] Code Quality, [Package] Components

#67351 Fix EntitiesSavedStates panel dialog props.
  packages/edit-site/src/components/save-panel/index.js
  packages/editor/README.md
  packages/editor/src/components/entities-saved-states/index.js
  packages/editor/src/components/post-publish-button/index.js
  packages/editor/src/components/save-publish-panels/index.js
Labels: [Type] Bug, [Focus] Accessibility (a11y), [Package] Editor, [Package] Edit Site

#67169 Correctly apply current-menu-ancestor class in Nav block
  packages/block-library/src/navigation-submenu/index.php
Labels: [Type] Code Quality, [Block] Navigation, Needs Dev Note

#66654 Site Editor: Pages: Preload template lookup
  backport-changelog/6.8/7695.md
  lib/compat/wordpress-6.8/preload.php
Labels: [Type] Performance

#67481 Block Editor: Animate `useScaleCanvas()` only when toggling zoomed out mode
  packages/block-editor/src/components/iframe/use-scale-canvas.js
Labels: [Type] Bug, [Package] Block editor, Global Styles, [Feature] Zoom Out

#67435 DropdownMenu: Increase option height to 40px
  packages/components/CHANGELOG.md
  packages/components/src/dropdown-menu/index.tsx
  packages/components/src/dropdown-menu/style.scss
  packages/components/src/menu-items-choice/style.scss
Labels: [Type] Enhancement, [Package] Components, Needs Figma Update

#67441 CustomSelectControl: Deprecate 36px default size
  packages/block-editor/src/components/font-appearance-control/index.js
  packages/block-editor/src/components/font-family/index.js
  packages/components/CHANGELOG.md
  packages/components/src/custom-select-control/README.md
  packages/components/src/custom-select-control/index.tsx
  packages/components/src/custom-select-control/stories/index.story.tsx
  packages/components/src/custom-select-control/test/index.tsx
  packages/components/src/custom-select-control/types.ts
  packages/components/src/font-size-picker/font-size-picker-select.tsx
Labels: [Type] Code Quality, [Package] Components, Needs Dev Note

#67438 FormFileUpload: Deprecate 36px default size
  packages/components/CHANGELOG.md
  packages/components/src/form-file-upload/README.md
  packages/components/src/form-file-upload/docs-manifest.json
  packages/components/src/form-file-upload/index.tsx
  packages/components/src/form-file-upload/stories/index.story.tsx
  packages/components/src/form-file-upload/test/index.tsx
  packages/components/src/form-file-upload/types.ts
Labels: [Type] Code Quality, [Package] Components, Needs Dev Note

#67440 ToolbarButton: Set size to "compact"
  packages/block-editor/src/components/alignment-control/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/block-alignment-control/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/block-vertical-alignment-control/test/__snapshots__/index.js.snap
  packages/components/CHANGELOG.md
  packages/components/src/toolbar/toolbar-button/index.tsx
Labels: [Type] Code Quality, [Package] Components

#67495 Zoom out: fix for inserter
  packages/block-editor/src/components/iframe/use-scale-canvas.js
Labels: [Type] Regression, [Feature] Zoom Out

#67429 LetteringSpacingControl: Deprecate 36px default size
  packages/block-editor/src/components/letter-spacing-control/README.md
  packages/block-editor/src/components/letter-spacing-control/index.js
Labels: [Type] Code Quality, [Package] Block editor

#67497 Preload: fix e2e test
  backport-changelog/6.8/7687.md
  lib/compat/wordpress-6.8/preload.php
  test/e2e/specs/site-editor/preload.spec.js
Labels: [Type] Performance

#67347 Inline Commenting: Added new sidebar as extension of the canvas
  packages/editor/src/components/collab-sidebar/constants.js
  packages/editor/src/components/collab-sidebar/index.js
  packages/editor/src/components/collab-sidebar/style.scss
Labels: [Type] Enhancement, Collaborative Workflows

#67442 Storybook: Support keyword search in Icon Library
  packages/icons/src/icon/stories/index.story.js
  packages/icons/src/icon/stories/keywords.ts
Labels: [Type] Developer Documentation, Storybook, [Package] Icons

#66974 Added disableAlpha prop to CustomGradientPicker and GradientPicker components
  packages/components/CHANGELOG.md
  packages/components/src/custom-gradient-picker/index.tsx
  packages/components/src/custom-gradient-picker/types.ts
  packages/components/src/gradient-picker/README.md
  packages/components/src/gradient-picker/index.tsx
  packages/components/src/gradient-picker/types.ts
Labels: [Type] Enhancement, [Package] Components, First-time Contributor

#67488 Fixes issue with double-clicking "Create a new menu" causing duplicate menus.
  packages/block-library/src/navigation/edit/deleted-navigation-warning.js
Labels: [Type] Bug, [Block] Navigation, First-time Contributor

#67500 Fix: Fixed site-editor crashing when added front-page template and clicking more option
  packages/editor/src/components/post-actions/actions.js
Labels: [Type] Bug, [Feature] Site Editor, [Feature] DataViews

#67467 Site Editor: Fix the patterns route on mobile
  packages/edit-site/src/components/site-editor-routes/patterns.js
Labels: [Type] Bug, [Feature] Patterns

#67198 Align Submenu block and Nav Link block by including description and wrapping span
  packages/block-library/src/navigation-submenu/edit.js
  packages/block-library/src/navigation-submenu/index.php
  packages/block-library/src/navigation/README.md
Labels: [Type] Bug, [Block] Navigation, Needs Dev Note, [Block] Submenu

#67516 Revert "Extensibility: Make Block Bindings work with `editor.BlockEdit` hook"
  packages/block-editor/src/components/block-edit/edit.js
  packages/block-editor/src/components/block-list/use-block-props/index.js
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/hooks/block-bindings.js
  packages/block-editor/src/hooks/index.js
  packages/block-editor/src/hooks/use-bindings-attributes.js
  packages/block-editor/src/utils/block-bindings.js
  packages/e2e-tests/plugins/block-bindings.php
  packages/e2e-tests/plugins/block-bindings/index.js
  test/e2e/specs/editor/various/block-bindings/post-meta.spec.js
Labels: [Type] Regression, [Feature] Block bindings

#64924 Scripts: Make React Fast Refresh work with multiple blocks
  packages/dependency-extraction-webpack-plugin/lib/index.js
  packages/dependency-extraction-webpack-plugin/test/__snapshots__/build.js.snap
  packages/scripts/CHANGELOG.md
  packages/scripts/config/webpack.config.js
Labels: [Type] Bug, [Tool] WP Scripts, [Tool] Dependency Extraction Webpack Plugin

#67518 [mini] Preload: add post type
  backport-changelog/6.8/7695.md
  lib/compat/wordpress-6.8/preload.php
Labels: [Type] Performance

#67491 Docs: Remove invalid key projects links on the documentation.
  docs/contributors/repository-management.md
Labels: [Type] Developer Documentation

#67230 Exclude Set instance methods from polyfills
  packages/babel-preset-default/polyfill-exclusions.js
Labels: [Type] Regression, [Tool] Babel preset, Needs Technical Feedback

#66706 Split view with meta boxes even with legacy canvas
  packages/block-editor/src/components/block-canvas/index.js
  packages/block-editor/src/components/use-resize-canvas/index.js
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/layout/style.scss
  packages/editor/src/components/editor-interface/style.scss
  packages/editor/src/components/visual-editor/index.js
  packages/editor/src/components/visual-editor/style.scss
Labels: [Type] Bug, General Interface, [Feature] Meta Boxes, Backport to WP Minor Release, Backport to Gutenberg RC

#67502 BlockSwitcher: Refactor to use Button layout properly
  packages/block-editor/src/components/block-switcher/index.js
  packages/block-editor/src/components/block-switcher/style.scss
Labels: [Type] Bug, [Focus] Accessibility (a11y), [Package] Block editor

#67536 Fix zoom animation scrollbar
  packages/block-editor/src/components/iframe/content.scss
  packages/block-editor/src/components/iframe/use-scale-canvas.js
Labels: [Type] Bug, [Feature] Zoom Out

#67489 Fix: Invalid JSDoc for optional string parameter and return value.
  docs/reference-guides/data/data-core-blocks.md
  docs/reference-guides/data/data-core-editor.md
  docs/reference-guides/data/data-core-keyboard-shortcuts.md
  packages/block-editor/src/hooks/gap.js
  packages/block-library/src/list-item/hooks/use-merge.js
  packages/blocks/src/store/selectors.js
  packages/date/README.md
  packages/date/src/index.js
  packages/e2e-test-utils/README.md
  packages/e2e-test-utils/src/delete-theme.js
  packages/e2e-test-utils/src/get-current-user.js
  packages/e2e-test-utils/src/install-plugin.js
  packages/e2e-test-utils/src/install-theme.js
  packages/editor/src/store/selectors.js
  packages/keyboard-shortcuts/src/store/selectors.js
Labels: [Type] Code Quality

#67529 Update extending-the-query-loop-block.md
  docs/how-to-guides/block-tutorial/extending-the-query-loop-block.md
Labels: [Type] Developer Documentation

#67537 Fix: Fixed styling tab not opening on themes without style variations on mobile & desktop
  packages/edit-site/src/components/sidebar-navigation-screen-global-styles/index.js
Labels: [Type] Bug, [Package] Edit Site, Backport to Gutenberg RC

#67545 Site Editor Sidebar: remove `hasGlobalStyleVariations` condition for the Styles nav item
  packages/edit-site/src/components/sidebar-navigation-screen-global-styles/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-main/index.js
Labels: [Type] Code Quality, [Package] Edit Site

#67547 Site Editor: Fix the templates route on mobile
  packages/edit-site/src/components/site-editor-routes/templates.js
Labels: [Type] Bug, [Package] Edit Site

#67551 Block Editor: Group 'onRemove' callback with other public APIs
  packages/block-editor/src/components/block-list/block.js
Labels: [Type] Code Quality, [Package] Block editor

#66927 Inline Commenting: Re-order the comments in sidebar in which blocks are listed
  packages/editor/src/components/collab-sidebar/index.js
  packages/editor/src/components/collab-sidebar/utils.js
Labels: [Type] Enhancement, Collaborative Workflows

#67530 Separator block: Allow divs to be used as separators
  docs/reference-guides/core-blocks.md
  packages/block-library/src/separator/block.json
  packages/block-library/src/separator/deprecated.js
  packages/block-library/src/separator/edit.js
  packages/block-library/src/separator/save.js
  packages/block-library/src/separator/test/edit.js
  test/integration/fixtures/blocks/core__separator-color.json
  test/integration/fixtures/blocks/core__separator-custom-color.json
  test/integration/fixtures/blocks/core__separator.json
  test/integration/fixtures/blocks/core__separator__deprecated-color-v1.json
  test/integration/fixtures/blocks/core__separator__deprecated-custom-color-v1.json
Labels: [Type] Enhancement, [Block] Separator

#67557 Site Editor: Fix sidebar plugins
  packages/edit-site/src/components/app/index.js
  packages/edit-site/src/components/layout/index.js
Labels: [Type] Bug

#67504 Fix hiding and showing of meta boxes
  packages/edit-post/src/components/meta-boxes/index.js
Labels: [Type] Bug, [Feature] Meta Boxes, [Package] Edit Post

#67550 19.8 Edit Site: styles nav item does not open on mobile for themes without style variations
  packages/edit-site/src/components/sidebar-navigation-screen-global-styles/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-main/index.js
Labels: [Type] Bug, [Package] Edit Site

#67121 Fix unexpected unlock control in block toolbar in non-default editing mode
  packages/block-editor/src/components/block-toolbar/index.js
Labels: [Type] Regression, Backport to WP Minor Release, [Feature] Page Content Focus

#67562 Site Editor: Fix featured image not appearing in pages dataviews
  packages/editor/src/dataviews/store/private-actions.ts
Labels: [Type] Bug, [Feature] DataViews

#67503 [WP 6.7] Fix meta boxes saving when they’re not present
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/meta-boxes/index.js
  packages/edit-post/src/components/meta-boxes/use-meta-box-initialization.js
Labels: [Type] Regression, Backport to WP Minor Release

#67499 Refine `getServerState()` & `getServerContext()` docs
  docs/reference-guides/interactivity-api/core-concepts/undestanding-global-state-local-context-and-derived-state.md
Labels: [Type] Developer Documentation, [Feature] Interactivity API

#67577 QuickEdit: prevent site-editor from crashing when slug is not an object
  packages/fields/src/fields/slug/slug-view.tsx
  packages/fields/src/fields/slug/utils.ts
Labels: [Type] Bug, [Feature] DataViews

#67590 DataViews build-wp: don't bundle singleton WordPress packages
  packages/dataviews/build.js
Labels: [Type] Build Tooling, [Package] DataViews

#67599 Update misc types and revert WPCompleter export from components
  packages/block-editor/src/autocompleters/block.js
  packages/block-editor/src/autocompleters/link.js
  packages/components/CHANGELOG.md
  packages/components/src/index.ts
  packages/editor/README.md
  packages/editor/src/components/autocompleters/user.js
  packages/editor/src/components/post-trash/check.js
Labels: [Type] Code Quality

#67548 Edit site: remove empty preview border and redirect to editor in global styles navigation
  packages/edit-site/src/components/global-styles/style.scss
  packages/edit-site/src/components/site-editor-routes/styles.js
Labels: [Type] Bug, Global Styles, [Package] Edit Site

#67546 Update style book headings to new design
  packages/edit-site/src/components/style-book/constants.ts
Labels: [Type] Enhancement, [Feature] Style Book

#67594 Block Editor: Reduce the 'isZoomOut' selector calls in the block toolbar
  packages/block-editor/src/components/block-toolbar/index.js
Labels: [Type] Code Quality, [Package] Block editor

#67587 Fix: Write Mode mode persists as enabled in widget editor.
  packages/customize-widgets/src/components/sidebar-block-editor/index.js
  packages/edit-widgets/src/components/widget-areas-block-editor-provider/index.js
Labels: [Type] Bug, [Feature] Write mode

#67576 Storybook: Remove unnecessary feature flags
  storybook/main.js
Labels: [Type] Enhancement, Storybook

#67578 Storybook: Use manager-api instead of addons package
  storybook/manager.js
Labels: [Type] Enhancement, Storybook

#67580 improve documentation for fields package
  packages/fields/README.md
  packages/fields/src/actions/delete-post.tsx
  packages/fields/src/actions/duplicate-pattern.tsx
  packages/fields/src/actions/duplicate-post.native.tsx
  packages/fields/src/actions/duplicate-post.tsx
  packages/fields/src/actions/duplicate-template-part.tsx
  packages/fields/src/actions/export-pattern.native.tsx
  packages/fields/src/actions/export-pattern.tsx
  packages/fields/src/actions/index.ts
  packages/fields/src/actions/permanently-delete-post.tsx
  packages/fields/src/actions/rename-post.tsx
  packages/fields/src/actions/reorder-page.native.tsx
  packages/fields/src/actions/reorder-page.tsx
  packages/fields/src/actions/reset-post.tsx
  packages/fields/src/actions/restore-post.tsx
  packages/fields/src/actions/trash-post.tsx
  packages/fields/src/actions/view-post-revisions.tsx
  packages/fields/src/actions/view-post.tsx
  packages/fields/src/fields/featured-image/index.ts
  packages/fields/src/fields/order/index.ts
  packages/fields/src/fields/parent/index.ts
  packages/fields/src/fields/password/index.tsx
  packages/fields/src/fields/slug/index.ts
  packages/fields/src/fields/template/index.ts
  packages/fields/src/fields/title/index.ts
  packages/fields/src/index.native.ts
Labels: [Type] Developer Documentation, [Package] Fields

#67589 Fix: Remove unused test code on tools panel.
  packages/components/src/tools-panel/test/index.tsx
Labels: [Type] Code Quality

#67439 Drag and drop: fix firefox compat logic
  packages/block-editor/src/components/block-list/use-block-props/index.js
  packages/block-editor/src/components/block-list/use-block-props/use-firefox-draggable-compatibility.js
Labels: [Type] Bug, [Feature] Drag and Drop

#67558 DataViews: Create a single component for rendering the actions list
  packages/dataviews/src/components/dataviews-item-actions/index.tsx
Labels: [Type] Code Quality, [Feature] DataViews

#67602 Global styles: controls in grid should match between sidebar panel and editor
  packages/edit-site/src/components/global-styles/style.scss
Labels: [Type] Enhancement, Global Styles

#67612 DataViews build-wp: don't bundle the date package
  packages/dataviews/build.js
Labels: [Type] Build Tooling, [Package] DataViews

#67522 InspectorControlsSlot: remove unused framer motion context forwarding
  packages/block-editor/src/components/inspector-controls/slot.js
Labels: [Type] Code Quality, [Package] Block editor

#67603 docs: Describe patch files
  patches/README.md
Labels: [Type] Developer Documentation, Mobile App - i.e. Android or iOS

#67615 Keycodes: improve tree shaking by annotating exports as pure
  packages/keycodes/src/index.js
Labels: [Type] Build Tooling, [Package] Keycodes

#67623 Remove `__unstableMotionContext` from `@wordpress/components`
  packages/components/CHANGELOG.md
  packages/components/src/animation/index.tsx
  packages/components/src/index.ts
Labels: [Type] Code Quality, [Package] Components

#67582 Storybook: Update `ArgsTable` to `Controls` in preview
  storybook/preview.js
Labels: [Type] Enhancement, Storybook

#67652 Docs: Fix Playwright Page Object Model link.
  docs/contributors/code/e2e/README.md
Labels: [Type] Developer Documentation

#67656 Storybook: Revert "Preview: ArgsTable => Controls (#67582)"
  storybook/preview.js
Labels: [Type] Developer Documentation, Storybook

#67605 Style book: scroll to top at styles root
  packages/edit-site/src/components/style-book/index.js
Labels: [Type] Enhancement, [Feature] Style Book

#67552 Global Styles: Fix handling of booleans when stabilizing block supports
  backport-changelog/6.8/7069.md
  lib/compat/wordpress-6.8/blocks.php
  phpunit/block-supports/border-test.php
Labels: [Type] Bug, [Feature] Design Tools

#67585 Navigation: Enable all non-interactive formats
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation-submenu/edit.js
Labels: [Type] Enhancement, [Block] Navigation Link, [Block] Submenu

#66442 Fix latest post block spacing issue.
  packages/block-library/src/latest-posts/style.scss
Labels: [Type] Enhancement, [Block] Latest Posts

#67654 Welcome guide headline update
  packages/edit-post/src/components/welcome-guide/default.js
  packages/edit-widgets/src/components/welcome-guide/index.js
  test/e2e/specs/editor/various/nux.spec.js
Labels: [Feature] NUX, [Type] Copy

#67390 Add header to the quick edit when bulk editing
  packages/base-styles/_mixins.scss
  packages/edit-site/src/components/post-edit/header.js
  packages/edit-site/src/components/post-edit/index.js
  packages/edit-site/src/components/post-edit/style.scss
  packages/edit-site/src/style.scss
  packages/editor/src/components/document-bar/index.js
  packages/editor/src/components/post-card-panel/index.js
  packages/editor/src/components/post-card-panel/style.scss
  packages/editor/src/utils/pageTypeBadge.js
Labels: [Type] Enhancement, [Feature] DataViews

#67461 Upgrade TypeScript to 5.7 and fix types
  package-lock.json
  package.json
  packages/components/src/dropdown-menu/index.tsx
  packages/components/src/modal/test/index.tsx
  packages/components/src/tree-grid/cell.tsx
  packages/components/src/tree-grid/types.ts
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/rich-text/src/create.js
  packages/router/src/router.tsx
  packages/vips/README.md
  packages/vips/src/index.ts
Labels: [Type] Build Tooling

#67572 WP Scripts: Update webpack dependencies related to styling
  package-lock.json
  package.json
  packages/dependency-extraction-webpack-plugin/test/__snapshots__/build.js.snap
  packages/scripts/CHANGELOG.md
  packages/scripts/config/webpack.config.js
  packages/scripts/package.json
Labels: [Type] Bug, [Tool] WP Scripts

#67477 DataViews: Unify layout config
  packages/dataviews/CHANGELOG.md
  packages/dataviews/README.md
  packages/dataviews/src/components/dataviews-selection-checkbox/index.tsx
  packages/dataviews/src/components/dataviews-view-config/index.tsx
  packages/dataviews/src/components/dataviews-view-config/style.scss
  packages/dataviews/src/components/dataviews/stories/fixtures.tsx
  packages/dataviews/src/components/dataviews/stories/index.story.tsx
  packages/dataviews/src/components/dataviews/style.scss
  packages/dataviews/src/dataviews-layouts/grid/index.tsx
  packages/dataviews/src/dataviews-layouts/grid/style.scss
  packages/dataviews/src/dataviews-layouts/index.ts
  packages/dataviews/src/dataviews-layouts/list/index.tsx
  packages/dataviews/src/dataviews-layouts/table/column-header-menu.tsx
  packages/dataviews/src/dataviews-layouts/table/column-primary.tsx
  packages/dataviews/src/dataviews-layouts/table/index.tsx
  packages/dataviews/src/dataviews-layouts/table/style.scss
  packages/dataviews/src/dataviews-layouts/utils/get-clickable-item-props.ts
  packages/dataviews/src/types.ts
  packages/edit-site/src/components/page-patterns/index.js
  packages/edit-site/src/components/page-templates/index.js
  packages/edit-site/src/components/post-list/index.js
  packages/edit-site/src/components/sidebar-dataviews/default-views.js
Labels: [Type] Enhancement, [Feature] DataViews

#64245 Site Editor: Wrap each router area in 'ErrorBoundary'
  packages/edit-post/src/components/layout/index.js
  packages/edit-site/src/components/error-boundary/index.js
  packages/edit-site/src/components/error-boundary/test/error-boundary.js
  packages/edit-site/src/components/error-boundary/warning.js
  packages/edit-site/src/components/layout/index.js
  packages/editor/src/components/error-boundary/index.js
  packages/editor/src/components/error-boundary/style.scss
Labels: [Type] Bug, [Feature] Site Editor

#67675 Block Editor: Remove 'React.Children' legacy API in 'Warning' component
  packages/block-editor/src/components/warning/index.js
  packages/block-editor/src/components/warning/test/index.js
Labels: [Type] Code Quality, [Package] Block editor

#67672 Storybook: Fix `BlockPatternsList` fixtures
  packages/block-editor/src/components/block-patterns-list/stories/fixtures.js
Labels: [Type] Enhancement, [Package] Block editor, Storybook

#67674 Popover: Use `anchor` instead of `anchorRef` in story
  packages/components/src/popover/stories/index.story.tsx
Labels: [Type] Enhancement, [Package] Components, Storybook

#67681 Theme: Fix contrast in nested story
  packages/components/src/theme/stories/index.story.tsx
Labels: [Type] Enhancement, [Package] Components, Storybook

#67679 Disabled: Suppress `contentEditable` warning in story
  packages/components/src/disabled/stories/index.story.tsx
Labels: [Type] Enhancement, [Package] Components, Storybook

#67683 Scrollable: Fix story by declaring field as readonly
  packages/components/src/scrollable/stories/index.story.tsx
Labels: [Type] Enhancement, [Package] Components, Storybook

#67678 DateTime: Add default date/time to stories
  packages/components/src/date-time/stories/date-time.story.tsx
  packages/components/src/date-time/stories/date.story.tsx
  packages/components/src/date-time/stories/time.story.tsx
Labels: [Type] Enhancement, [Package] Components, Storybook

#67633 Menu granular subcomponents: Refactor block bindings panel menu
  packages/block-editor/src/hooks/block-bindings.js
Labels: [Type] Task, [Package] Block editor

#67686 Storybook: Fix table markup in Design Language - Radius docs
  storybook/stories/foundations/design-language/radius.mdx
Labels: [Type] Enhancement, Storybook

#67684 Storybook: Fix storybook blocks imports
  storybook/stories/foundations/design-language/elevation.mdx
  storybook/stories/foundations/design-language/radius.mdx
  storybook/stories/tokens/elevation.mdx
  storybook/stories/tokens/typography.mdx
Labels: [Type] Enhancement, Storybook

#67611 RangeControl: Update the default marks styles to match the padding/margin control
  packages/block-editor/src/components/spacing-sizes-control/style.scss
  packages/components/CHANGELOG.md
  packages/components/src/range-control/mark.tsx
  packages/components/src/range-control/styles/range-control-styles.ts
Labels: [Feature] UI Components, [Type] Code Quality, Needs Figma Update

#67328 Update pre-publish panel wording to accurately describe the review process
  packages/editor/src/components/post-publish-panel/prepublish.js
  packages/editor/src/components/post-publish-panel/test/__snapshots__/index.js.snap
Labels: [Type] Bug, Needs Design Feedback, [Package] Editor

#67591 Fix useZoomOut inserter behavior
  packages/block-editor/src/hooks/use-zoom-out.js
  test/e2e/specs/site-editor/preload.spec.js
  test/e2e/specs/site-editor/site-editor-inserter.spec.js
Labels: [Type] Bug, [Feature] Zoom Out

#67673 Site Editor: remove default page slug
  packages/edit-site/src/components/add-new-post/index.js
Labels: [Type] Bug, [Feature] Site Editor

#67437 Simplify description and option names in the Lock modal dialog
  packages/block-editor/src/components/block-lock/modal.js
  test/e2e/specs/editor/blocks/columns.spec.js
  test/e2e/specs/editor/various/block-locking.spec.js
  test/e2e/specs/editor/various/block-switcher.spec.js
Labels: [Type] Copy, [Feature] Block Locking

#67703 Style book: Fix critical error when blocks are not registered
  packages/edit-site/src/components/style-book/examples.tsx
  packages/edit-site/src/components/style-book/types.ts
Labels: [Type] Bug, [Feature] Style Book

#67709 CreateTemplatePartModal: replace `ts-ignore` with `ts-expect-error`
  packages/fields/src/components/create-template-part-modal/index.tsx
Labels: [Type] Code Quality, [Package] Fields

#67575 Remove .components-item-group selector in edit-site components[2]
  packages/edit-site/src/components/sidebar-dataviews/index.js
  packages/edit-site/src/components/sidebar-dataviews/style.scss
  packages/edit-site/src/components/sidebar-navigation-screen-main/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-main/style.scss
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menus/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menus/style.scss
  packages/edit-site/src/components/sidebar-navigation-screen-patterns/style.scss
  packages/edit-site/src/components/sidebar-navigation-screen-templates-browse/content.js
  packages/edit-site/src/components/sidebar-navigation-screen-templates-browse/style.scss
  packages/edit-site/src/components/sidebar-navigation-screen/style.scss
  packages/edit-site/src/style.scss
Labels: [Type] Code Quality, [Package] Edit Site

#67716 Update global stylesheet docblocks with `custom-css` parameter.
  backport-changelog/6.8/7976.md
  lib/class-wp-theme-json-gutenberg.php
  lib/global-styles-and-settings.php
Labels: [Type] Developer Documentation

#67711 Update README.md
  packages/dataviews/README.md
Labels: [Type] Developer Documentation, First-time Contributor, [Feature] DataViews

#67715 Data views: expand config drop down on mobile
  packages/dataviews/src/components/dataviews-view-config/index.tsx
  packages/dataviews/src/components/dataviews-view-config/style.scss
Labels: [Type] Enhancement

#67713 Data: Include more details when shallow equality fails in 'useSelect'
  packages/data/src/components/use-select/index.js
Labels: [Type] Enhancement, [Package] Data

#45994 add ability to show drop cap setting in paragraph block by default
  packages/block-library/src/paragraph/edit.js
Labels: [Feature] Extensibility, [Block] Paragraph, [Feature] Typography

#67657 Feature: Allow Post Template block to get deeply nested within Query Block
  docs/reference-guides/core-blocks.md
  packages/block-library/src/post-template/block.json
Labels: [Type] Enhancement, [Block] Query Loop, [Block] Post Template

#67664 DataViews: Refactor actions to render modal outside of the menu
  packages/dataviews/src/components/dataviews-bulk-actions/index.tsx
  packages/dataviews/src/components/dataviews-item-actions/index.tsx
  packages/dataviews/src/dataviews-layouts/list/index.tsx
  packages/editor/src/components/post-actions/index.js
Labels: [Type] Enhancement, [Feature] DataViews

#48348 [Block Library]: Update the relationship of `No results` block to `ancestor`
  docs/reference-guides/core-blocks.md
  packages/block-library/src/query-no-results/block.json
Labels: [Type] Enhancement, [Package] Block library, [Block] Query Loop, [Block] Query Pagination, [Block] Post Template

#67597 Stylebook: render overview colors in 4 columns
  packages/edit-site/src/components/style-book/color-examples.tsx
  packages/edit-site/src/components/style-book/constants.ts
  packages/edit-site/src/components/style-book/examples.tsx
Labels: [Type] Enhancement, [Feature] Style Book

#67732 Navigation: Fix active item hover color
  packages/components/CHANGELOG.md
  packages/components/src/navigation/styles/navigation-styles.tsx
Labels: [Type] Enhancement, [Package] Components

#67649 Components: Deprecate `COLORS.white`
  packages/components/CHANGELOG.md
  packages/components/src/menu/styles.ts
  packages/components/src/navigation/styles/navigation-styles.tsx
  packages/components/src/toggle-group-control/test/__snapshots__/index.tsx.snap
  packages/components/src/toggle-group-control/toggle-group-control-option-base/styles.ts
  packages/components/src/toggle-group-control/toggle-group-control/styles.ts
  packages/components/src/utils/colors-values.js
  packages/components/src/utils/config-values.js
Labels: [Type] Enhancement, [Package] Components

#67735 Data: Expose 'useSelect' warning to third-party consumers
  packages/block-editor/src/hooks/test/font-size.js
  packages/core-data/src/hooks/test/use-query-select.js
  packages/data/src/components/use-select/index.js
  packages/data/src/components/use-select/test/index.js
  packages/data/src/components/with-select/test/index.js
Labels: [Type] Enhancement, [Package] Data

#67680 Feature: Add `navigation.isLoading` state to core/router store
  packages/interactivity-router/src/index.ts
Labels: [Type] Enhancement, [Package] Interactivity Router

#67667 TypeScript: Convert factory utils in data package to TS
  packages/core-data/src/private-selectors.ts
  packages/data/README.md
  packages/data/src/create-selector.ts
  packages/data/src/factory.ts
Labels: [Type] Code Quality, [Package] Data, [Package] Core data

#67740 DataViews: Fix filters lost when switching layouts
  packages/edit-site/src/components/post-list/index.js
  test/e2e/specs/site-editor/page-list.spec.js
Labels: [Type] Bug, [Feature] DataViews

#67588 wp-env: Add phpMyAdmin support
  .wp-env.json
  packages/env/CHANGELOG.md
  packages/env/README.md
  packages/env/lib/build-docker-compose-config.js
  packages/env/lib/commands/start.js
  packages/env/lib/config/get-config-from-environment-vars.js
  packages/env/lib/config/parse-config.js
  packages/env/lib/config/test/__snapshots__/config-integration.js.snap
  packages/env/lib/config/test/parse-config.js
  packages/env/lib/validate-run-container.js
  schemas/json/wp-env.json
Labels: [Type] Enhancement, Needs Dev Note, [Tool] Env

#67707 Replace remaining custom deep cloning with 'structuredClone'
  packages/block-editor/src/components/global-styles/use-global-styles-output.js
  packages/block-editor/src/hooks/style.js
  test/unit/config/global-mocks.js
Labels: [Type] Code Quality, [Package] Block editor, [Package] Edit Site

#67689 Fix: Dataviews remove primary field concept from some classes.
  packages/dataviews/src/dataviews-layouts/grid/index.tsx
  packages/dataviews/src/dataviews-layouts/grid/style.scss
  packages/dataviews/src/dataviews-layouts/list/style.scss
Labels: [Type] Code Quality

#66851 Add stylebook screen for classic themes
  backport-changelog/6.8/7865.md
  lib/block-editor-settings.php
  lib/compat/wordpress-6.8/site-editor.php
  packages/edit-site/src/components/maybe-editor/index.js
  packages/edit-site/src/components/resizable-frame/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-main/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-patterns/index.js
  packages/edit-site/src/components/site-editor-routes/home.js
  packages/edit-site/src/components/site-editor-routes/index.js
  packages/edit-site/src/components/site-editor-routes/stylebook.js
  packages/edit-site/src/components/site-editor-routes/template-item.js
  packages/edit-site/src/components/site-editor-routes/template-part-item.js
  packages/edit-site/src/components/style-book/examples.tsx
  packages/edit-site/src/components/style-book/index.js
  packages/edit-site/src/components/style-book/style.scss
  test/e2e/specs/site-editor/navigation.spec.js
  test/e2e/specs/site-editor/style-book.spec.js
Labels: [Type] Enhancement, Needs Design Feedback, [Feature] Style Book

#67770 Fix re-renders caused by `getEntityRecordsPermissions` after #67667
  packages/core-data/src/private-selectors.ts
Labels: [Type] Performance, [Package] Core data

#67771 Site Editor: fix sidebar item animation regression
  packages/edit-site/src/components/layout/index.js
Labels: [Type] Regression, [Feature] Site Editor

#67775 Updated 'Set featured image' text in dropdown
  packages/block-library/src/image/image.js
Labels: [Type] Bug, [Block] Image

#67744 DataViews: Preserve filters when switching layouts in templates dataviews
  packages/edit-site/src/components/page-templates/index.js
  test/e2e/specs/site-editor/templates.spec.js
Labels: [Type] Bug, [Feature] DataViews

#67385 Inline commenting: UX Enhancements for Comments
  packages/editor/src/components/collab-sidebar/add-comment.js
  packages/editor/src/components/collab-sidebar/comment-button.js
  packages/editor/src/components/collab-sidebar/comment-form.js
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/index.js
  packages/editor/src/components/collab-sidebar/style.scss
Labels: [Type] Enhancement, Collaborative Workflows

#67743 Update bulk header with actions
  packages/edit-site/src/components/post-edit/header.js
  packages/edit-site/src/components/post-edit/index.js
  packages/edit-site/src/components/post-edit/style.scss
  packages/editor/src/components/post-actions/index.js
  packages/editor/src/components/post-card-panel/index.js
  packages/editor/src/components/post-card-panel/style.scss
  packages/editor/src/utils/pageTypeBadge.js
Labels: [Type] Enhancement, [Feature] DataViews

#67762 Update the title, description, and order of Experiments page
  lib/experiments-page.php
Labels: [Type] Enhancement

#67778 DataViews: Fix hidden List layout actions dropdown
  packages/dataviews/src/dataviews-layouts/list/style.scss
Labels: [Type] Bug, [Feature] DataViews

#67706 Switch Several Links to https in Document Files
  docs/contributors/code/release.md
  docs/contributors/design/README.md
Labels: [Type] Developer Documentation

#67705 Shadows: Improve design and a11y of remove button
  packages/edit-site/src/components/global-styles/shadows-edit-panel.js
  packages/edit-site/src/components/global-styles/style.scss
Labels: [Type] Enhancement, Global Styles

#67777 DataViews: Fix reordering fields in list and grid layouts
  packages/dataviews/src/dataviews-layouts/grid/index.tsx
  packages/dataviews/src/dataviews-layouts/list/index.tsx
Labels: [Type] Enhancement, [Feature] DataViews

#67343 Storybook: Add WritingModeControl story
  packages/block-editor/src/components/writing-mode-control/stories/index.story.js
Labels: [Type] Developer Documentation, Storybook

#67294 Storybook: Add stories for HeadingLevelDropdown component
  packages/block-editor/src/components/block-heading-level-dropdown/stories/index.story.js
Labels: [Type] Developer Documentation, Storybook

#67116 Add reset button to color control
  packages/block-editor/src/components/colors-gradients/style.scss
  packages/block-editor/src/components/global-styles/color-panel.js
  test/e2e/specs/editor/blocks/heading.spec.js
  test/e2e/specs/site-editor/user-global-styles-revisions.spec.js
Labels: [Type] Enhancement, [Feature] Colors

#67786 CreateTemplatePartModal: avoid identity warning in useSelect
  packages/fields/src/components/create-template-part-modal/index.tsx
Labels: [Type] Code Quality, [Package] Fields

#67727 Docs: Include the strategy for setting `engines` for WordPress packages
  packages/README.md
Labels: [Type] Developer Documentation, npm Packages

#67708 Security: Update npm dependencies to fix issues reported by audit
  bin/plugin/commands/packages.js
  package-lock.json
  package.json
  packages/create-block/CHANGELOG.md
  packages/create-block/package.json
  packages/e2e-test-utils-playwright/package.json
  packages/e2e-test-utils-playwright/src/lighthouse/index.ts
  packages/e2e-test-utils/package.json
  packages/e2e-tests/package.json
  packages/env/CHANGELOG.md
  packages/env/lib/commands/destroy.js
  packages/env/lib/commands/start.js
  packages/env/lib/download-sources.js
  packages/env/package.json
  packages/scripts/CHANGELOG.md
  packages/scripts/package.json
  packages/scripts/scripts/test/build-blocks-manifest.js
  patches/lighthouse+12.2.2.patch
Labels: npm Packages, [Type] Security

#67628 Document layout in Storybook
  storybook/stories/foundations/layout.mdx
  storybook/stories/foundations/static/areas.svg
  storybook/stories/foundations/static/page-layout-example-1.svg
  storybook/stories/foundations/static/page-layout-example-2.svg
  storybook/stories/foundations/static/page-layout-example-3.svg
  storybook/stories/foundations/static/page-layout-example-4.svg
Labels: [Type] Enhancement, Storybook, Design System

#67690 [a11y] Fix: Media button on the page view grid does not have an accessible name.
  packages/dataviews/src/dataviews-layouts/grid/index.tsx
Labels: [Type] Bug, [Focus] Accessibility (a11y), [Feature] DataViews

#67734 Inserter: Hide child blocks from the inserter when needed
  packages/block-editor/src/components/inserter/block-types-tab.js
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/selectors.js
Labels: [Type] Bug, [Feature] Inserter

#66672 e2e-test-utils-playwright: Increase timeout of site-editor selector
  packages/e2e-test-utils-playwright/src/admin/visit-site-editor.ts
Labels: [Type] Automated Testing, First-time Contributor
