Repository WordPress/gutenberg, pull requests merged in 2024-04, with the labels that each got.

#60278 Block Editor: Deprecate '__experimentalGetReusableBlockTitle' selector
  packages/block-editor/src/components/use-block-display-information/index.js
  packages/block-editor/src/store/selectors.js
Labels: [Type] Enhancement, [Package] Editor

#60253 Data views list layout: Apply focus styles to items on `focus-visible` rather than `focus`
  packages/dataviews/src/style.scss
Labels: [Type] Enhancement, [Focus] Accessibility (a11y), Needs Design Feedback, [Feature] Data Views

#60331 Raw handling: preserve class
  packages/blocks/src/api/raw-handling/html-to-blocks.js
  test/integration/__snapshots__/blocks-raw-handling.test.js.snap
  test/native/integration/__snapshots__/blocks-raw-handling.native.js.snap
Labels: [Type] Bug, [Feature] Raw Handling

#60334 [Editor]: Unify publish sidebar preference
  packages/e2e-test-utils/src/are-pre-publish-checks-enabled.js
  packages/edit-post/src/hooks/commands/use-common-commands.js
  packages/edit-post/src/index.js
  packages/edit-post/src/index.native.js
  packages/editor/src/store/actions.js
  packages/editor/src/store/selectors.js
  packages/preferences-persistence/src/migrations/legacy-local-storage-data/index.js
  packages/preferences-persistence/src/migrations/preferences-package-data/convert-editor-settings.js
  packages/preferences/src/store/selectors.js
  test/e2e/specs/editor/various/multi-entity-saving.spec.js
  test/e2e/specs/editor/various/publishing.spec.js
Labels: [Type] Enhancement, [Package] Editor

#60315 Fix: use `viewportWidth` in pattern preview data view
  packages/edit-site/src/components/page-patterns/index.js
Labels: [Type] Bug, [Package] Edit Site, [Feature] Site Editor, [Feature] Data Views

#60340 Editor: Move publish panel handling to `editor` store
  docs/reference-guides/data/data-core-edit-post.md
  docs/reference-guides/data/data-core-editor.md
  packages/data/src/controls.js
  packages/edit-post/src/components/header/index.js
  packages/edit-post/src/components/header/post-publish-button-or-toggle.js
  packages/edit-post/src/components/layout/actions-panel.js
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/store/actions.js
  packages/edit-post/src/store/reducer.js
  packages/edit-post/src/store/selectors.js
  packages/editor/src/store/actions.js
  packages/editor/src/store/reducer.js
  packages/editor/src/store/selectors.js
Labels: [Type] Enhancement, [Package] Editor

#60092 Update: Move post actions to the editor package.
  packages/edit-site/src/components/page-pages/index.js
  packages/edit-site/src/components/page-templates-template-parts/index.js
  packages/editor/src/components/post-actions/actions.js
  packages/editor/src/private-apis.js
Labels: [Type] Enhancement

#60214 Add a delete control to toolbar on zoom-out mode
  packages/block-editor/src/components/block-tools/block-selection-button.js
Labels: [Type] Enhancement, [Feature] Zoom Out

#60336 Fix block toolbar dropdown separator color.
  packages/components/CHANGELOG.md
  packages/components/src/dropdown/style.scss
Labels: [Type] Regression

#60338 Update image role description text to fix spacing.
  packages/block-editor/src/hooks/anchor.js
  packages/block-editor/src/hooks/anchor.scss
  packages/block-editor/src/style.scss
Labels: [Type] Enhancement

#60330 Block editor: optimise hasSelectedInnerBlock selector
  packages/block-editor/src/store/selectors.js
Labels: [Type] Performance

#60345 Patterns: remove manage all of my patterns link
  packages/edit-site/src/components/sidebar-navigation-screen-patterns/index.js
Labels: [Type] Enhancement, [Feature] Patterns, [Feature] Site Editor

#60327 RichText: Switch from disableEditing to standard html readonly attribute
  packages/block-editor/src/components/rich-text/index.js
  packages/block-library/src/image/image.js
  packages/block-library/src/utils/caption.js
Labels: [Type] Code Quality, [Package] Rich text

#60267 Additional CSS: Add code comments contextualising tranformStyles for clarity
  packages/block-editor/src/components/global-styles/advanced-panel.js
Labels: [Type] Code Quality, Global Styles, [Feature] Design Tools

#56329 Wiriting flow: Backspace at beginning of first paragraph block prevents block from being deleted
  packages/block-editor/src/components/block-list/block.js
  test/e2e/specs/editor/blocks/heading.spec.js
Labels: [Type] Bug, [Feature] Writing Flow

#60141 Backport r57868 from WordPress-Develop.
  lib/compat/wordpress-6.5/fonts/class-wp-rest-font-faces-controller.php
  lib/compat/wordpress-6.5/fonts/fonts.php
Labels: Backport from WordPress Core

#60326 Render non-editable preview of template part when user does not have capability to edit template part
  packages/block-library/src/template-part/edit/inner-blocks.js
Labels: [Type] Enhancement, [Block] Template Part, [Feature] Template Editing Mode

#60204 Shadow: revert shadow default presets opt-in to opt-out
  docs/reference-guides/theme-json-reference/theme-json-living.md
  lib/class-wp-theme-json-gutenberg.php
  lib/class-wp-theme-json-resolver-gutenberg.php
  lib/theme.json
  phpunit/class-wp-theme-json-resolver-test.php
  phpunit/class-wp-theme-json-test.php
  phpunit/data/themedir1/block-theme/theme.json
  schemas/json/theme.json
Labels: [Type] Regression, Backport from WordPress Core

#59977 Add content schema to pattern editing view
  packages/block-library/src/block/edit.js
  packages/edit-post/src/components/sidebar/settings-sidebar/index.js
  packages/edit-site/src/components/sidebar-edit-mode/template-panel/index.js
  packages/editor/src/components/pattern-overrides-panel/index.js
  packages/editor/src/private-apis.js
  packages/patterns/src/api/index.js
  packages/patterns/src/components/overrides-panel.js
  packages/patterns/src/private-apis.js
Labels: [Type] Enhancement, Needs Design Feedback, [Feature] Patterns

#60300 Make sure the CSS class is-dark-theme is added to the editor iframe body
  packages/block-editor/src/components/iframe/index.js
Labels: [Type] Bug, [Package] Block editor

#60351 Update: Remove template summary component.
  packages/edit-post/src/components/sidebar/settings-sidebar/index.js
  packages/edit-post/src/components/sidebar/template-summary/index.js
  packages/edit-post/src/components/sidebar/template-summary/style.scss
  packages/edit-post/src/style.scss
Labels: [Type] Code Quality, [Package] Edit Post

#59311 Automated Testing: Remove Puppeteer CI Job
  .github/workflows/end2end-test.yml
Labels: [Type] Automated Testing

#60356 Documentation: Add auto generated API docs for `editor` package
  packages/editor/README.md
  packages/editor/src/components/deprecated.js
Labels: [Type] Developer Documentation, [Package] Editor

#60337 Patterns page: enable table layout
  packages/edit-site/src/components/page-patterns/index.js
Labels: [Type] Enhancement, Needs Design Feedback, [Feature] Patterns, [Feature] Site Editor, [Feature] Data Views

#60194 Consolidate when showing revisions link or action
  packages/edit-site/src/components/sidebar-navigation-screen-details-footer/index.js
Labels: [Type] Enhancement, [Feature] Site Editor

#60339 Try: Show copy shortcut in block options.
  packages/block-editor/src/components/block-settings-menu/block-settings-dropdown.js
Labels: [Type] Enhancement, Needs Design Feedback

#60179 Move template areas to editor package
  packages/edit-site/src/components/sidebar-edit-mode/template-panel/index.js
  packages/edit-site/src/components/sidebar-edit-mode/template-panel/style.scss
  packages/edit-site/src/store/selectors.js
  packages/editor/src/components/post-card-panel/index.js
  packages/editor/src/components/template-areas/index.js
  packages/editor/src/components/template-areas/style.scss
  packages/editor/src/store/constants.js
  packages/editor/src/store/private-selectors.js
  packages/editor/src/store/utils/get-filtered-template-parts.js
  packages/editor/src/store/utils/test/get-filtered-template-parts.js
  packages/editor/src/style.scss
Labels: [Type] Code Quality

#60361 Templates: fix deferred rendering
  packages/edit-site/src/components/page-templates-template-parts/index.js
Labels: [Type] Bug, [Feature] Site Editor, [Feature] Data Views

#60288 Blocks: Fix double `gutenberg_` prefix in built dynamic blocks PHP
  tools/webpack/blocks.js
Labels: [Type] Build Tooling, Developer Experience

#60363 Site Editor: Improve the frame animation
  .github/workflows/unit-test.yml
  package-lock.json
  packages/edit-site/package.json
  packages/edit-site/src/components/layout/animation.js
  packages/edit-site/src/components/layout/index.js
  packages/edit-site/src/components/layout/router.js
  packages/edit-site/src/components/layout/style.scss
Labels: [Type] Enhancement, [Feature] Site Editor

#60349 Templates perf: resolve patterns server side
  lib/compat/wordpress-6.6/resolve-patterns.php
  lib/load.php
  test/e2e/specs/editor/plugins/pattern-recursion.spec.js
Labels: [Type] Performance

#60389 Fix: Non existent link to submitting to the block directory.
  docs/reference-guides/block-api/block-metadata.md
Labels: [Type] Developer Documentation

#60350 Add component props docs
  packages/components/README.md
Labels: [Type] Developer Documentation, [Package] Components, First-time Contributor

#60321 Search Block: Apply font-related style inheritance to input field
  packages/block-library/src/search/style.scss
Labels: [Type] Bug, [Block] Search

#60285 Fix Font Collection JSON schema definition
  schemas/json/font-collection.json
Labels: [Type] Developer Documentation, Developer Experience

#60385 Editor: Use the 'ConfirmDialog' component in template validation notice
  packages/editor/src/components/template-validation-notice/index.js
  packages/editor/src/components/template-validation-notice/style.scss
  packages/editor/src/style.scss
Labels: [Type] Enhancement, [Package] Editor

#60387 DataViews: remove `onDetailsChange` event
  packages/dataviews/CHANGELOG.md
  packages/dataviews/README.md
  packages/dataviews/src/dataviews.js
  packages/dataviews/src/style.scss
  packages/dataviews/src/view-list.js
Labels: [Type] Code Quality, [Feature] Data Views

#60407 Fix default layout config in pages list
  packages/edit-site/src/components/sidebar-dataviews/default-views.js
Labels: [Type] Bug, [Feature] Data Views

#60333 [Mobile] - BottomSheetSelectControl - Add empty fallback option
  packages/components/src/mobile/bottom-sheet-select-control/index.native.js
  packages/react-native-editor/CHANGELOG.md
Labels: [Type] Bug, Mobile App - i.e. Android or iOS

#60380 Editor: Use hooks instead of HoCs in 'PostTrashCheck'
  packages/editor/src/components/post-trash/check.js
Labels: [Type] Code Quality, [Package] Editor

#60368 Snackbar: Make the `explicitDismiss` string translatable
  packages/components/src/snackbar/index.tsx
Labels: [Type] Bug, l10n

#60370 Reexport createSelector from data package
  package-lock.json
  packages/annotations/package.json
  packages/annotations/src/store/selectors.js
  packages/block-editor/package.json
  packages/block-editor/src/store/private-selectors.js
  packages/block-editor/src/store/selectors.js
  packages/blocks/package.json
  packages/blocks/src/store/private-selectors.js
  packages/blocks/src/store/selectors.js
  packages/commands/package.json
  packages/commands/src/store/selectors.js
  packages/core-data/package.json
  packages/core-data/src/private-selectors.ts
  packages/core-data/src/queried-data/selectors.js
  packages/core-data/src/selectors.ts
  packages/data/CHANGELOG.md
  packages/data/README.md
  packages/data/src/create-selector.js
  packages/data/src/index.js
  packages/data/src/redux-store/metadata/selectors.js
  packages/data/src/test/registry-selectors.js
  packages/edit-post/package.json
  packages/edit-post/src/store/selectors.js
  packages/edit-site/package.json
  packages/edit-site/src/components/page-patterns/use-patterns.js
  packages/edit-widgets/package.json
  packages/editor/package.json
  packages/editor/src/store/private-selectors.js
  packages/editor/src/store/selectors.js
  packages/keyboard-shortcuts/package.json
  packages/keyboard-shortcuts/src/store/selectors.js
  packages/nux/package.json
  packages/nux/src/store/selectors.js
  packages/rich-text/package.json
  packages/rich-text/src/store/selectors.js
Labels: [Type] Code Quality, [Package] Data

#60381 Don't allow shuffle for locked patterns
  packages/block-editor/src/components/block-tools/block-selection-button.js
Labels: [Type] Bug, [Feature] Zoom Out

#57374 Test: Validate block & theme json
  lib/theme.json
  packages/edit-widgets/src/blocks/widget-area/block.json
  packages/widgets/src/blocks/widget-group/block.json
  test/integration/blocks-schema.test.js
  test/integration/theme-schema.test.js
Labels: [Type] Code Quality

#60388 ProgressBar: moved width to css var for perf
  packages/components/CHANGELOG.md
  packages/components/src/progress-bar/index.tsx
  packages/components/src/progress-bar/styles.ts
  packages/components/src/progress-bar/test/index.tsx
Labels: [Type] Enhancement, [Package] Components, First-time Contributor

#55656 List: Disable edit as HTML support
  docs/reference-guides/core-blocks.md
  packages/block-library/src/list/block.json
Labels: [Type] Bug, [Block] List

#60419 Site Editor: Fix site icon animation
  packages/edit-site/src/components/layout/style.scss
  packages/edit-site/src/components/site-hub/style.scss
Labels: [Type] Bug, [Feature] Site Editor

#60255 ExternalLink: Replace icon with unicode arrow
  packages/block-editor/src/components/link-control/test/index.js
  packages/components/CHANGELOG.md
  packages/components/src/external-link/index.tsx
  packages/components/src/external-link/style.scss
  packages/components/src/external-link/styles/external-link-styles.ts
  packages/components/src/style.scss
  test/e2e/specs/editor/various/pattern-overrides.spec.js
Labels: [Type] Enhancement, Needs Design Feedback, [Package] Components

#60422 Editor: Optimize the 'PostSlug' component
  packages/editor/src/components/post-slug/index.js
  packages/editor/src/components/post-slug/test/index.js
Labels: [Type] Code Quality, [Package] Editor

#60348 Adjust block selection button
  packages/block-editor/src/components/block-tools/block-selection-button.js
Labels: [Type] Enhancement, [Feature] Zoom Out

#60426 Only show inserter in document tools if DFM is off
  packages/edit-post/src/components/header/style.scss
  packages/editor/src/components/document-tools/index.js
Labels: [Type] Bug, Backport to WP Minor Release, [Feature] Distraction Free

#60406 Fix don't close overlay menu when focus leaves submenu
  packages/block-library/src/navigation/view.js
Labels: [Type] Bug, [Block] Navigation, Backport to WP Minor Release

#60428 Tests: Share JavaScript build assets across PHP workflows
  .github/workflows/unit-test.yml
Labels: [Type] Code Quality, Developer Experience

#57311 Dependencies: Upgrade babel
  package-lock.json
  package.json
Labels: [Type] Build Tooling

#60045 Tests: Shard JS unit tests
  .github/workflows/unit-test.yml
Labels: [Type] Code Quality, Developer Experience

#60451 Fix experimental useHasRecursion deprecation
  packages/block-editor/src/components/recursion-provider/index.js
Labels: [Type] Bug, Backwards Compatibility, Backport to WP Minor Release

#60452 Fix pattern block recursion handling
  packages/block-library/src/block/edit.js
Labels: [Type] Regression, Backport to WP Minor Release, [Block] Pattern

#60427 Site Editor: Fix small regression on the resize handle
  packages/edit-site/src/components/layout/style.scss
Labels: [Type] Bug

#60270 Details Block: remove `overflow:hidden` style
  packages/block-library/src/details/style.scss
Labels: [Type] Bug, [Focus] Accessibility (a11y), [Block] Details

#60454 Site Editor: Remove outdated border radius animation
  packages/edit-site/src/components/resizable-frame/index.js
Labels: [Type] Bug, [Feature] Site Editor

#60431 Remove alpha from edit post header
  packages/edit-post/src/components/header/style.scss
Labels: [Type] Bug, Backport to WP Minor Release, [Feature] Distraction Free

#60377 Fix: Honor 'template_hierarchy' filters on template fallbacks.
  lib/compat/wordpress-6.6/block-template-utils.php
  lib/compat/wordpress-6.6/class-gutenberg-rest-templates-controller-6-6.php
  lib/load.php
Labels: [Type] Bug

#60425 Block preview: build in async rendering
  package-lock.json
  packages/dataviews/README.md
  packages/dataviews/src/dataviews.js
  packages/dataviews/src/view-grid.js
  packages/dataviews/src/view-list.js
  packages/dataviews/src/view-table.js
  packages/edit-site/package.json
  packages/edit-site/src/components/async/index.js
  packages/edit-site/src/components/page-patterns/index.js
  packages/edit-site/src/components/page-templates-template-parts/index.js
Labels: [Type] Performance

#60376 Automated Testing: Update e2e test npm commands
  .github/workflows/end2end-test.yml
  docs/contributors/code/e2e/README.md
  docs/contributors/code/testing-overview.md
  package.json
  test/e2e/playwright.config.ts
Labels: [Type] Automated Testing

#60069 Index view for Templates & Parts: use `grid` layout as default
  packages/edit-site/src/components/page-templates-template-parts/index.js
  test/e2e/specs/site-editor/hybrid-theme.spec.js
  test/e2e/specs/site-editor/new-templates-list.spec.js
Labels: [Type] Enhancement, [Feature] Site Editor, [Feature] Data Views

#60464 Patterns: guard for unknown pattern in server-side resolver
  lib/compat/wordpress-6.6/resolve-patterns.php
Labels: [Type] Bug

#60445 [Create Block] Adding documentation for the transformer property
  packages/create-block/docs/external-template.md
Labels: [Type] Developer Documentation, [Package] Create Block

#60164 Text: Add text-wrap: pretty
  packages/components/CHANGELOG.md
  packages/components/src/dimension-control/test/__snapshots__/index.test.js.snap
  packages/components/src/heading/test/__snapshots__/index.tsx.snap
  packages/components/src/text/styles.ts
  packages/components/src/text/test/__snapshots__/index.tsx.snap
Labels: [Type] Enhancement, [Package] Components

#60453 Remove block renaming control from advanced inspector controls group
  packages/block-editor/src/hooks/block-renaming.js
  packages/block-editor/src/hooks/index.js
  test/e2e/specs/editor/blocks/heading.spec.js
  test/e2e/specs/editor/various/block-renaming.spec.js
  test/e2e/specs/editor/various/pattern-overrides.spec.js
Labels: [Type] Enhancement, [Feature] Blocks

#60489 Layout: Skip outputting base layout rules that reference content or wide sizes if no layout sizes exist
  lib/class-wp-theme-json-gutenberg.php
  phpunit/class-wp-theme-json-test.php
Labels: [Type] Bug, Backport to WP Minor Release, Backport to Gutenberg RC, [Feature] Layout

#60232 Site Editor: Add rename and trash actions to page panel
  packages/edit-site/src/components/page-actions/index.js
  packages/edit-site/src/components/page-actions/trash-page-menu-item.js
  packages/edit-site/src/components/rename-post-menu-item/index.js
  packages/edit-site/src/components/sidebar-edit-mode/page-panels/index.js
  packages/edit-site/src/components/sidebar-edit-mode/page-panels/style.scss
  packages/edit-site/src/components/sidebar-navigation-screen-page/index.js
  packages/edit-site/src/components/template-actions/index.js
Labels: [Type] Enhancement, [Feature] Site Editor

#60492 File: Mark update for setting default label as non-persistent
  packages/block-library/src/file/edit.js
Labels: [Type] Bug, [Block] File

#60262 Update standardisation of 'Navigation Menu' to have both words capitalised in user-facing menus
  packages/block-library/src/navigation/edit/accessible-menu-description.js
  packages/block-library/src/navigation/edit/deleted-navigation-warning.js
  packages/block-library/src/navigation/edit/index.js
  packages/block-library/src/navigation/edit/menu-inspector-controls.js
  packages/block-library/src/navigation/edit/navigation-menu-delete-control.js
  packages/block-library/src/navigation/edit/navigation-menu-selector.js
  packages/block-library/src/navigation/edit/test/navigation-menu-selector.js
Labels: [Type] Bug, First-time Contributor

#60491 Add null check to prevent errors in `get_block_template` filter
  lib/compat/wordpress-6.6/resolve-patterns.php
Labels: [Type] Bug

#60493 Performance: Optimize the rendering of the EditorStyles component
  packages/block-editor/src/components/editor-styles/index.js
  packages/block-editor/src/hooks/utils.js
Labels: [Type] Performance

#60494 File: Use HTML API to update the PDF preview label
  packages/block-library/src/file/index.php
Labels: [Type] Enhancement, [Block] File

#60284 Data views: Add ability to display fields as a badge in grid layout
  packages/dataviews/src/style.scss
  packages/dataviews/src/view-grid.js
  packages/edit-site/src/components/page-patterns/index.js
  packages/edit-site/src/components/page-patterns/style.scss
Labels: [Type] Enhancement, Needs Design Feedback, [Feature] Data Views

#60409 Pages: display content frame in mobile when canvas is not edit
  packages/edit-site/src/components/layout/index.js
  packages/edit-site/src/components/layout/router.js
  packages/edit-site/src/components/layout/style.scss
  packages/edit-site/src/components/page-patterns/style.scss
Labels: [Type] Enhancement, [Feature] Site Editor, [Feature] Data Views

#60504 Data Views: Rename displayAsColumnFields to columnFields API
  packages/dataviews/src/view-grid.js
  packages/edit-site/src/components/page-templates-template-parts/index.js
Labels: [Type] Code Quality, [Feature] Data Views

#59514 Global Styles: Use text and button background color for color indicators
  packages/edit-site/src/components/global-styles/hooks.js
Labels: [Type] Enhancement, Global Styles

#60517 Correct link to the theme json reference.
  docs/getting-started/glossary.md
Labels: [Type] Bug, [Type] Developer Documentation

#59915 Upgrade simple-git dependency
  package-lock.json
  package.json
Labels: [Type] Task

#60516 Perf: improve way we measure template loading by adding posts
  test/performance/specs/site-editor.spec.js
Labels: [Type] Automated Testing

#60006 Update the query block to permit non-core interactive blocks
  packages/block-library/src/query/edit/enhanced-pagination-modal.js
  packages/block-library/src/query/utils.js
Labels: [Type] Bug, [Block] Query Loop, Backport to WP Minor Release, [Feature] Interactivity API

#60518 Fix: Link to the block building tutorial.
  docs/getting-started/faq.md
Labels: [Type] Developer Documentation

#60236 [Site Editor]: Fix ability to edit trashed pages
  packages/dataviews/src/style.scss
  packages/edit-site/src/components/block-editor/editor-canvas.js
  packages/edit-site/src/components/page-pages/index.js
  packages/edit-site/src/components/page-pages/style.scss
Labels: [Type] Bug, [Feature] Site Editor

#60509 Performance Tests: I'm tired of doing head math 😊
  bin/plugin/commands/performance.js
  test/performance/config/performance-reporter.ts
Labels: [Type] Automated Testing

#60531 Post Title: avoid accidental types requests
  packages/block-library/src/post-title/edit.js
Labels: [Type] Performance

#60520 I18N: Add context to 'Library' string
  packages/edit-site/src/components/global-styles/font-library-modal/index.js
Labels: [Type] Bug, Internationalization (i18n), Backport to WP Minor Release, [Feature] Font Library

#60555 Global Styles: fix browser warning regarding highlight colors
  packages/edit-site/src/components/global-styles/highlighted-colors.js
Labels: [Type] Code Quality, Global Styles

#60543 Previews: avoid unneeded block selectors
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/index.js
Labels: [Type] Performance

#59781 Post Editor Header: Make block toolbar toggle button focus visible
  packages/edit-post/src/components/header/style.scss
  packages/edit-site/src/components/header-edit-mode/style.scss
Labels: [Type] Bug, General Interface, [Package] Edit Post

#60544 Preview: skip rendering rich text
  packages/block-editor/src/components/block-edit/context.js
  packages/block-editor/src/components/block-edit/index.js
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/rich-text/content.js
  packages/block-editor/src/components/rich-text/index.js
Labels: [Type] Performance

#60441 Prevent exiting Zoom Out mode from stealing focus
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/use-block-props/use-focus-first-element.js
  test/e2e/specs/site-editor/zoom-out.spec.js
Labels: [Type] Bug, [Feature] Zoom Out

#60572 Navigation block: avoid selector + style recalc on mount
  packages/block-library/src/navigation/edit/index.js
Labels: [Type] Performance, [Block] Navigation

#60490 Background image: display default background size value in global styles
  packages/block-editor/src/components/global-styles/background-panel.js
  packages/block-editor/src/hooks/background.js
  packages/edit-site/src/components/global-styles/background-panel.js
Labels: [Type] Enhancement, Global Styles

#60577 Cherry-picked bug fixes for 6.5.1
  packages/block-editor/src/components/inserter/block-patterns-explorer/index.js
  packages/block-editor/src/components/inserter/block-patterns-explorer/pattern-list.js
  packages/block-editor/src/components/recursion-provider/index.js
  packages/block-editor/src/components/url-popover/image-url-input-ui.js
  packages/block-library/src/block/edit.js
  packages/block-library/src/image/image.js
  packages/block-library/src/navigation/view.js
  packages/block-library/src/query/edit/enhanced-pagination-modal.js
  packages/block-library/src/query/utils.js
  packages/components/CHANGELOG.md
  packages/components/src/date-time/date/styles.ts
  packages/edit-post/src/components/header/style.scss
  packages/edit-site/src/components/global-styles/font-library-modal/context.js
  packages/edit-site/src/components/global-styles/font-library-modal/font-collection.js
  packages/edit-site/src/components/global-styles/font-library-modal/index.js
  packages/edit-site/src/components/global-styles/font-library-modal/installed-fonts.js
  packages/edit-site/src/hooks/push-changes-to-global-styles/index.js
  packages/edit-site/src/utils/set-nested-value.js
  packages/editor/src/components/document-tools/index.js
Labels: [Type] Bug

#60579 Make sure display name is correctly formatted in comments
  packages/block-library/src/avatar/index.php
Labels: [Type] Bug, Backport to Gutenberg Minor Release

#60408 Site Editor: Improve the header animation
  packages/base-styles/_z-index.scss
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/layout/animation.js
  packages/edit-site/src/components/layout/index.js
  packages/edit-site/src/components/layout/style.scss
  test/e2e/specs/site-editor/hybrid-theme.spec.js
Labels: [Type] Enhancement, [Feature] Site Editor

#60562 [Mobile] - ColorPalette - Check for ScrollView reference
  packages/components/src/color-palette/index.native.js
Labels: [Type] Bug, Mobile App - i.e. Android or iOS

#60588 Fix: Grammar typo on packages/dataviews/src/search-widget.js.
  packages/dataviews/src/search-widget.js
Labels: [Type] Developer Documentation

#60514 Interactivity API: Include `preact/debug` when `SCRIPT_DEBUG` is enabled
  lib/interactivity-api.php
  packages/interactivity/src/debug.ts
  tools/webpack/interactivity.js
Labels: [Type] Enhancement, Developer Experience, [Feature] Interactivity API, [Packages] Interactivity

#60596 Chore: Fix missing comma on welcome guide styles.
  packages/edit-site/src/components/welcome-guide/style.scss
Labels: [Type] Bug

#60591 getEntityRecords: batch actions
  packages/core-data/src/resolvers.js
  packages/core-data/src/test/resolvers.js
Labels: [Type] Performance

#60586 Performance: Optimize the AddTemplate component used in data views pages
  packages/edit-site/src/components/add-new-template/index.js
  packages/edit-site/src/components/add-new-template/new-template.js
  packages/edit-site/src/components/add-new-template/style.scss
  packages/edit-site/src/components/add-new-template/template-actions-loading-screen.js
  packages/edit-site/src/components/add-new-template/utils.js
  packages/edit-site/src/components/page-templates-template-parts/add-new-template-part.js
  packages/edit-site/src/components/page-templates-template-parts/index.js
  test/e2e/specs/site-editor/site-editor-url-navigation.spec.js
Labels: [Type] Performance, [Feature] Data Views

#60597 Fix: Trash Post action and permanently delete post action do not show errors on single item
  packages/editor/src/components/post-actions/actions.js
Labels: [Type] Bug

#60581 Image: fix cropper resize on align change (react-easy-crop upgrade)
  package-lock.json
  packages/block-editor/package.json
Labels: [Type] Bug, [Block] Image, [Block] Site Logo

#60616 Revert "Make sure the CSS class id-dark-theme is added to the editor iframe body. (#60300)
  packages/block-editor/src/components/iframe/index.js
Labels: [Type] Bug, Backport to Gutenberg RC

#60575 Remove animation from InlineLinkUI
  packages/format-library/src/link/inline.js
Labels: [Type] Enhancement, [Feature] Link Editing

#60372 Template parts in patterns page: add author field
  packages/edit-site/src/components/page-patterns/index.js
Labels: [Type] Enhancement, [Feature] Site Editor, [Feature] Data Views

#60592 Fix: Style issue on page actions button.
  packages/edit-site/src/components/sidebar-navigation-screen-page/style.scss
Labels: [Type] Bug

#60585 Update: Remove keyCode usage from dataviews package.
  packages/dataviews/src/filter-summary.js
Labels: [Type] Code Quality

#60625 Fix display of shortcut to add non breaking space in the post editor.
  packages/edit-post/src/components/keyboard-shortcut-help-modal/config.js
Labels: [Type] Bug, [Package] Edit Post

#60589 Adjust frame animation profile
  packages/edit-site/src/components/layout/animation.js
Labels: [Type] Enhancement, [Feature] Site Editor

#60149 Interactivity API refactor to TypeScript (utils & kebabToCamelCase)
  packages/interactivity/src/utils.js
  packages/interactivity/src/utils.ts
  packages/interactivity/src/utils/kebab-to-camelcase.js
  packages/interactivity/src/utils/kebab-to-camelcase.ts
Labels: [Type] Code Quality, First-time Contributor, [Packages] Interactivity

#59762 Refactor Link UI States
  packages/format-library/src/link/index.js
Labels: [Type] Code Quality, [Feature] Link Editing

#60476 [Mobile] - Fix Quote Block styles
  packages/block-library/src/quote/edit.js
  packages/primitives/src/block-quotation/index.native.js
  packages/primitives/src/block-quotation/style.native.scss
  packages/react-native-editor/CHANGELOG.md
  packages/react-native-editor/__device-tests__/helpers/test-data.js
Labels: [Type] Bug, Mobile App - i.e. Android or iOS, [Block] Quote

#60635 Upgrade Playwright to v1.43
  package-lock.json
  package.json
  packages/scripts/package.json
Labels: [Type] Automated Testing

#60576 ProgressBar: Fix CSS variable with invalid value
  packages/components/CHANGELOG.md
  packages/components/src/progress-bar/index.tsx
  packages/components/src/progress-bar/test/index.tsx
Labels: [Type] Bug, [Package] Components

#60649 Pullquote: Reduce specificity of padding rule to avoid conflicts with global styles
  packages/block-library/src/pullquote/style.scss
Labels: [Type] Bug, [Block] Pullquote

#60620 Fix inserter pattern pagination focus loss
  packages/block-editor/src/components/block-patterns-paging/index.js
Labels: [Type] Bug, [Focus] Accessibility (a11y), [Feature] Inserter, [Feature] Patterns, Backport to WP Minor Release

#60612 Layout support: avoid two block editor store subs
  packages/block-editor/src/hooks/layout.js
Labels: [Type] Performance, [Feature] Layout

#60659 Patterns page: add edit & view revision actions to parts
  packages/edit-site/src/components/page-patterns/index.js
  packages/edit-site/src/components/page-patterns/use-patterns.js
Labels: [Type] Enhancement, [Feature] Patterns, [Feature] Site Editor, [Feature] Data Views

#59410 Fix for isPossibleTransformForSource handling selecting inexistent block
  packages/block-editor/src/components/use-block-commands/index.js
Labels: [Type] Bug, [Package] Block editor

#60561 Editor: Animate opening and closing editor right sidebar
  packages/components/CHANGELOG.md
  packages/components/src/navigator/navigator-provider/component.tsx
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/sidebar/settings-sidebar/index.js
  packages/edit-post/src/style.scss
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/sidebar-edit-mode/index.js
  packages/edit-widgets/src/components/layout/interface.js
  packages/interface/src/components/complementary-area/index.js
  packages/interface/src/components/interface-skeleton/index.js
  packages/interface/src/components/interface-skeleton/style.scss
  test/e2e/specs/editor/various/multi-block-selection.spec.js
Labels: [Type] Enhancement, General Interface

#60632 Editor: Update post URL component
  packages/editor/src/components/post-url/index.js
  packages/editor/src/components/post-url/panel.js
  packages/editor/src/components/post-url/style.scss
  test/e2e/specs/editor/various/sidebar-permalink.spec.js
Labels: [Type] Enhancement, [Package] Editor

#60662 Fix: Remove unused CSS code from the site editor.
  packages/edit-site/src/components/sidebar/style.scss
Labels: [Type] Code Quality, [Feature] Site Editor

#60608 Fix static posts page setting resolved template
  packages/e2e-test-utils-playwright/src/request-utils/site-settings.ts
  packages/edit-post/src/store/selectors.js
  packages/edit-site/src/components/sync-state-with-url/use-init-edited-entity-from-url.js
  test/e2e/specs/editor/various/template-resolution.spec.js
Labels: [Feature] Templates API, [Type] Regression, Backport to WP Minor Release

#60664 Update: Use util getVariationClassName instead of computing the variation inline.
  packages/edit-site/src/components/global-styles/block-preview-panel.js
Labels: [Type] Code Quality

#59249 Introduce section container selection when assembling patterns (zoom out mode)
  packages/block-editor/src/store/actions.js
  packages/block-editor/src/store/selectors.js
  packages/editor/src/components/provider/index.js
  packages/editor/src/components/provider/use-block-editor-settings.js
Labels: [Type] Enhancement, [Feature] Zoom Out

#60665 Editor: Animate the inserter and list view panels
  packages/interface/src/components/interface-skeleton/index.js
Labels: [Type] Enhancement, General Interface

#60395 Update: Move template actions to the editor store.
  packages/edit-site/src/components/page-pages/index.js
  packages/edit-site/src/components/page-patterns/dataviews-pattern-actions.js
  packages/edit-site/src/components/page-templates-template-parts/actions.js
  packages/edit-site/src/components/page-templates-template-parts/index.js
  packages/edit-site/src/store/actions.js
  packages/edit-site/src/store/private-actions.js
  packages/editor/src/components/post-actions/actions.js
  packages/editor/src/store/constants.js
  packages/editor/src/store/private-actions.js
  packages/editor/src/store/utils/is-template-revertable.js
Labels: [Type] Code Quality

#60580 Zoom-out: scale should be stable function
  packages/block-editor/src/components/iframe/index.js
Labels: [Type] Performance

#60617 Consolidate "bound block" color and "synced" colors
  packages/base-styles/_default-custom-properties.scss
  packages/block-editor/src/components/block-bindings-toolbar-indicator/style.scss
  packages/block-editor/src/components/block-list/use-block-props/index.js
Labels: [Type] Enhancement, [Feature] Synced Patterns, [Feature] Block bindings

#60626 [Mobile] - RichText - Pass meta param when replacing blocks
  packages/block-editor/src/components/block-list/block.native.js
  packages/block-editor/src/components/rich-text/index.native.js
Labels: [Type] Enhancement, Mobile App - i.e. Android or iOS

#60641 Font Library: Fix modal scrollbar
  packages/edit-site/src/components/global-styles/font-library-modal/installed-fonts.js
  packages/edit-site/src/components/global-styles/font-library-modal/style.scss
Labels: [Type] Bug, [Feature] Font Library

#60667 Template parts: set backpath to patterns page
  packages/edit-site/src/components/page-templates-template-parts/index.js
  packages/edit-site/src/components/sidebar-edit-mode/template-panel/index.js
  packages/edit-site/src/components/sidebar-navigation-screen-template/index.js
  packages/edit-site/src/hooks/commands/use-edit-mode-commands.js
Labels: [Type] Enhancement, [Feature] Site Editor, [Feature] Data Views

#60310 Pattern block: avoid fetching all reusable blocks on mount
  packages/block-editor/src/store/private-selectors.js
  packages/block-editor/src/store/selectors.js
Labels: [Type] Performance, [Block] Pattern

#60661 Interactivity API: Allow multiple event handlers for the same type with `data-wp-on`.
  packages/e2e-tests/plugins/interactive-blocks/directive-on/render.php
  packages/e2e-tests/plugins/interactive-blocks/directive-on/view.js
  packages/interactivity/src/directives.js
  test/e2e/specs/interactivity/directive-on.spec.ts
Labels: [Type] Bug, [Feature] Interactivity API, [Packages] Interactivity

#60647 Only show block icon in toolbar for contentOnly blocks when block is a synced block
  packages/block-editor/src/components/block-toolbar/index.js
Labels: [Type] Bug, [Feature] Page Content Focus

#60686 PHP unit test workflow: Try removing 7.0 and 7.1
  .github/workflows/unit-test.yml
Labels: [Type] Automated Testing, GitHub Actions

#60651 List View: Support insert before/after keyboard shortcuts when focus is within the list view
  packages/block-editor/src/components/list-view/block-select-button.js
  test/e2e/specs/editor/various/list-view.spec.js
Labels: [Type] Enhancement, [Feature] List View

#60674 Image cropper: remove clientWidth prop with useResizeObserver
  packages/block-editor/src/components/image-editor/cropper.js
  packages/block-editor/src/components/image-editor/index.js
  packages/block-library/src/image/edit.js
  packages/block-library/src/image/image.js
  packages/block-library/src/image/use-client-width.js
  packages/block-library/src/site-logo/edit.js
Labels: [Type] Performance, [Block] Image, [Block] Site Logo

#60682 Editor canvas: reduces resize listeners
  packages/block-editor/src/components/iframe/index.js
  packages/edit-site/src/components/block-editor/site-editor-canvas.js
Labels: [Type] Performance

#60693 Animation: Avoid fixed width when animating the secondary sidebar
  packages/interface/src/components/interface-skeleton/index.js
Labels: [Type] Enhancement, General Interface, [Feature] Zoom Out

#60675 Fix flaky Site Editor URL navigation e2e test
  test/e2e/specs/site-editor/site-editor-url-navigation.spec.js
Labels: [Type] Automated Testing

#60699 Fix activating a theme in site editor when previewing
  packages/editor/src/store/private-actions.js
Labels: [Type] Regression, [Feature] Site Editor

#60496 Media & Text: Hide the alt text option for featured images
  packages/block-library/src/media-text/edit.js
  packages/block-library/src/media-text/index.php
Labels: [Type] Bug, [Block] Media & Text

#60548 Post title: Re-add the paragraph level (without UI)
  packages/block-library/src/post-title/edit.js
  packages/block-library/src/post-title/index.php
Labels: [Type] Regression, [Block] Post Title

#60707 Add e2e test for activating themes in site editor
  test/e2e/specs/site-editor/activate-theme.spec.js
Labels: [Type] Automated Testing
