Repository WordPress/gutenberg, pull requests merged in 2025-02, with the labels that each got.

#68971 Fast follow: Redirections of deprecated site editor URLs.
  backport-changelog/6.8/7903.md
  lib/compat/wordpress-6.8/site-editor.php
Labels: [Type] Code Quality, [Feature] Site Editor

#68992 Changed Inline Document Order
  packages/block-editor/src/components/inner-blocks/index.js
  packages/block-editor/src/components/inner-blocks/index.native.js
Labels: [Type] Developer Documentation

#68693 Inserter: Remove block default icon from no results message
  packages/block-directory/src/components/downloadable-blocks-panel/no-results.js
  packages/block-editor/src/components/inserter/no-results.js
Labels: [Type] Bug, [Feature] Inserter, Needs Design Feedback

#69000 Social Links: Remove redundant reduce-motion mixin
  packages/block-library/src/social-links/editor.scss
Labels: [Type] Code Quality, [Block] Social

#68999 Editor: Display error message when loading current post fails
  packages/editor/src/components/editor/index.js
Labels: [Type] Enhancement, [Package] Editor

#68994 Block Editor: Fix regression for root appender logic
  packages/block-editor/src/components/block-list/index.js
Labels: [Type] Regression, [Package] Block editor

#68685 Archives: Add Color Support
  docs/reference-guides/core-blocks.md
  packages/block-library/src/archives/block.json
Labels: [Type] Enhancement, [Block] Archives, [Feature] Design Tools

#68976 Disable hover animation on preview frame for classic themes
  packages/edit-site/src/components/resizable-frame/index.js
Labels: [Type] Enhancement, First-time Contributor

#69002 Block support: Preserve aria-label value in comment delimiter
  packages/block-editor/src/hooks/aria-label.js
  packages/blocks/src/api/parser/apply-built-in-validation-fixes.js
  packages/blocks/src/api/parser/fix-aria-label.js
  packages/blocks/src/api/parser/test/index.js
Labels: [Type] Bug, [Feature] Block API, [Focus] Accessibility (a11y)

#68848 Added discord in social links.
  packages/block-library/src/social-link/icons/discord.js
  packages/block-library/src/social-link/icons/index.js
  packages/block-library/src/social-link/index.php
  packages/block-library/src/social-link/socials-with-bg.scss
  packages/block-library/src/social-link/socials-without-bg.scss
  packages/block-library/src/social-link/variations.js
  test/integration/fixtures/blocks/core__social-link-discord.html
  test/integration/fixtures/blocks/core__social-link-discord.json
  test/integration/fixtures/blocks/core__social-link-discord.parsed.json
  test/integration/fixtures/blocks/core__social-link-discord.serialized.html
Labels: [Type] Enhancement, First-time Contributor, [Block] Social

#68983 Query Block: Fix 'parents' argument validation
  backport-changelog/6.8/8245.md
  lib/compat/wordpress-6.8/blocks.php
Labels: [Type] Bug, [Block] Query Loop

#68970 REST API: Add support for the 'ignore_sticky_posts' argument
  backport-changelog/6.8/8228.md
  lib/compat/wordpress-6.8/rest-api.php
Labels: [Type] Bug, REST API Interaction, [Block] Query Loop

#68990 ComboboxControl: Add an `isLoading` prop to show a loading spinner
  packages/components/CHANGELOG.md
  packages/components/src/combobox-control/README.md
  packages/components/src/combobox-control/index.tsx
  packages/components/src/combobox-control/style.scss
  packages/components/src/combobox-control/types.ts
Labels: [Type] Enhancement, Needs Design Feedback, [Package] Components

#69027 Add missing list role to the list of blocks in the global Styles.
  packages/edit-site/src/components/global-styles/screen-block-list.js
Labels: [Type] Bug, [Focus] Accessibility (a11y), Global Styles, [Package] Edit Site

#69018 Inserter: Remove unused no-results-icon styles
  packages/block-editor/src/components/inserter/style.scss
Labels: [Type] Code Quality, [Package] Block editor

#68913 E2E: Add regression test for spacer block in themes without spacing units
  test/e2e/specs/editor/blocks/spacer.spec.js
Labels: [Type] Code Quality, [Block] Spacer

#69046 Remove block icon from InstalledBlocksPrePublishPanel.
  packages/block-directory/src/plugins/index.js
  packages/block-directory/src/plugins/installed-blocks-pre-publish-panel/index.js
Labels: [Type] Bug, [Feature] Block Directory

#69050 Refactor font variant components to use useId for checkbox IDs
  packages/edit-site/src/components/global-styles/font-library-modal/collection-font-variant.js
  packages/edit-site/src/components/global-styles/font-library-modal/library-font-variant.js
Labels: [Type] Bug, [Feature] Font Library

#69047 Fix installing svn during deploys
  .github/workflows/upload-release-to-plugin-repo.yml
Labels: [Type] Build Tooling

#67780 Fix: Prevent Errors in Header Processing and Encode URLs Properly
  packages/api-fetch/src/middlewares/preloading.js
  packages/api-fetch/src/middlewares/test/preloading.js
Labels: [Type] Bug, REST API Interaction, [Package] API fetch, First-time Contributor

#69068 Relocate changelog file for WP#6910 to 6.9 backports
  backport-changelog/6.9/6910.md
Labels: [Type] Project Management

#68724 wp-env: Add lifecycleScripts to the schema
  packages/env/README.md
  schemas/json/wp-env.json
Labels: [Type] Developer Documentation, First-time Contributor, [Tool] Env

#69058 iAPI Router: Fix CSS rule order in some constructed style sheets (#68…
  .eslintrc.js
  packages/e2e-tests/plugins/interactive-blocks/router-styles-wrapper/render.php
  packages/e2e-tests/plugins/interactive-blocks/router-styles-wrapper/style-from-link.css
  packages/interactivity-router/src/assets/styles.ts
  test/e2e/specs/editor/plugins/wp-editor-meta-box.spec.js
  test/e2e/specs/interactivity/router-styles.spec.ts
Labels: [Type] Bug, [Packages] Interactivity

#69076 Fix the background, arrowUpLeft, keyboardReturn and square icons.
  packages/icons/src/library/arrow-up-left.js
  packages/icons/src/library/background.js
  packages/icons/src/library/keyboard-return.js
  packages/icons/src/library/square.js
Labels: [Type] Bug, [Package] Icons

#68215 Social Links: Fix appender size in non-iframe editor
  packages/block-library/src/social-links/editor.scss
Labels: [Type] Bug, [Block] Social

#69028 Quick Inserter: Restore pattern search and insertion
  packages/block-editor/src/components/inserter/quick-inserter.js
  packages/block-editor/src/components/inserter/search-results.js
Labels: [Type] Enhancement, [Feature] Inserter, [Feature] Patterns

#68991 Editor: Add loading state to the 'PostAuthorCombobox' component
  packages/editor/src/components/post-author/combobox.js
  packages/editor/src/components/post-author/hook.js
Labels: [Type] Enhancement, [Package] Editor

#69070 Exclude Iterator helpers from polyfills
  packages/babel-preset-default/polyfill-exclusions.js
  phpunit/script-dependencies-test.php
Labels: [Type] Regression, [Tool] Babel preset, No Core Sync Required

#68998 Editor: Don't use selector shortcuts for the taxonomy queries
  packages/editor/src/components/post-publish-panel/maybe-category-panel.js
  packages/editor/src/components/post-publish-panel/maybe-tags-panel.js
  packages/editor/src/components/post-taxonomies/check.js
  packages/editor/src/components/post-taxonomies/flat-term-selector.js
  packages/editor/src/components/post-taxonomies/hierarchical-term-selector.js
  packages/editor/src/components/post-taxonomies/index.js
  packages/editor/src/components/post-taxonomies/test/index.js
Labels: [Type] Performance, [Package] Editor

#69092 Disable Clear button if there's no shadow.
  packages/block-editor/src/components/global-styles/shadow-panel-components.js
Labels: [Type] Enhancement, Global Styles

#68672 Duotone Settings: Add `reset` button and improve toggle rendering in FiltersPanel
  packages/block-editor/src/components/global-styles/filters-panel.js
  packages/block-editor/src/components/global-styles/style.scss
Labels: [Type] Enhancement, Global Styles

#69083 fix ensure post meta panel stays visible in all rendering modes
  packages/edit-post/src/components/layout/index.js
Labels: [Type] Regression, Backport to WP Minor Release

#69104 Added Missing Global Documentation
  lib/experimental/navigation-theme-opt-in.php
Labels: [Type] Developer Documentation

#69105 Editor: Optimize 'PostAuthorCheck' component data selection
  packages/editor/src/components/post-author/check.js
Labels: [Feature] Document Settings, [Type] Performance, [Package] Editor

#69057 Query block: Add option to ignore sticky posts behavior
  backport-changelog/6.8/8265.md
  lib/compat/wordpress-6.8/blocks.php
  packages/block-library/src/post-template/edit.js
  packages/block-library/src/query/edit/inspector-controls/sticky-control.js
Labels: [Type] Enhancement, [Block] Query Loop, [Block] Post Template

#69111 e2e: Fix "add new" selector
  test/e2e/specs/editor/various/block-editor-keyboard-shortcuts.spec.js
  test/e2e/specs/editor/various/inserting-blocks.spec.js
  test/e2e/specs/editor/various/pattern-overrides.spec.js
  test/e2e/specs/editor/various/patterns.spec.js
  test/e2e/specs/editor/various/taxonomies.spec.js
  test/e2e/specs/editor/various/writing-flow.spec.js
  test/e2e/specs/site-editor/block-style-variations.spec.js
  test/e2e/specs/site-editor/pages.spec.js
  test/e2e/specs/site-editor/patterns.spec.js
  test/e2e/specs/site-editor/site-editor-url-navigation.spec.js
  test/e2e/specs/site-editor/template-registration.spec.js
  test/e2e/specs/site-editor/templates.spec.js
Labels: [Type] Automated Testing

#69118 Remove `react-native` dependabot group.
  .github/dependabot.yml
Labels: [Type] Build Tooling, GitHub Actions

#68993 Enabled Full height in Additional CSS
  packages/edit-site/src/components/global-styles/screen-root.js
  packages/edit-site/src/components/global-styles/style.scss
Labels: [Type] Bug, CSS Styling, [Feature] Site Editor

#69093 Site Editor: Use the same editor component for all routes
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/editor/site-preview.js
  packages/edit-site/src/components/site-editor-routes/home.js
  packages/edit-site/src/components/site-editor-routes/template-item.js
  packages/edit-site/src/components/site-editor-routes/template-part-item.js
Labels: [Type] Bug, [Feature] Site Editor

#68997 Fixed: Empty Pattern Overlap in Pattern Title in Dataviews Table Layout
  packages/edit-site/src/components/page-patterns/style.scss
  packages/edit-site/src/components/page-templates/style.scss
Labels: [Type] Bug, [Feature] DataViews

#69074 Update keyboard shortcuts to use `primaryShift+backspace` for block deletion
  packages/block-editor/src/components/keyboard-shortcuts/index.js
  packages/block-editor/src/components/rich-text/event-listeners/delete.js
  test/e2e/specs/editor/blocks/navigation.spec.js
  test/e2e/specs/editor/various/block-deletion.spec.js
  test/e2e/specs/editor/various/block-locking.spec.js
  test/e2e/specs/editor/various/list-view.spec.js
  test/e2e/specs/site-editor/template-part.spec.js
  test/e2e/specs/widgets/editing-widgets.spec.js
Labels: [Type] Enhancement, [Feature] Writing Flow

#69062 Editor: Add loading state to the 'PageAttributesParent' component
  packages/editor/src/components/page-attributes/parent.js
Labels: [Type] Enhancement, [Feature] Document Settings, [Package] Editor

#69148 Monitor workflow files in non-default locations
  .github/dependabot.yml
Labels: [Type] Build Tooling

#69079 Writing Flow: restore early return for no block selection in tab nav hook
  packages/block-editor/src/components/writing-flow/use-tab-nav.js
Labels: [Type] Bug, [Feature] Writing Flow

#69151 Core Data: add type for term entity
  packages/core-data/src/dynamic-entities.ts
  packages/core-data/src/entity-types/index.ts
  packages/core-data/src/entity-types/term.ts
Labels: [Type] Code Quality, [Package] Core data

#69009 Fix: Site Editor should display a 404 message
  packages/edit-site/src/components/layout/style.scss
  packages/edit-site/src/components/sidebar-navigation-screen-main/index.js
  packages/edit-site/src/components/site-editor-routes/index.js
  packages/edit-site/src/components/site-editor-routes/notfound.js
Labels: [Type] Bug, [Feature] Site Editor

#69085 Rename `aspect` property to `ratio` to carry the `defaultAspect` in `AspectRatioDropdown`
  packages/block-editor/src/components/image-editor/aspect-ratio-dropdown.js
Labels: [Type] Bug, [Package] Block editor

#69038 Font Size Picker: Remove Custom option from FontSizePickerSelect dropdown
  packages/components/CHANGELOG.md
  packages/components/src/font-size-picker/font-size-picker-select.tsx
  packages/components/src/font-size-picker/test/index.tsx
  schemas/json/wp-env.json
Labels: [Type] Bug, [Focus] Accessibility (a11y), [Package] Components

#69100 Fix: Extra top and bottom margin issue in Social Link block for classic theme below twenty twenty
  packages/block-library/src/social-link/editor.scss
Labels: [Type] Bug, [Block] Social

#68894 ESLint: Add rule to prevent usage of the word 'sidebar' in translatable strings
  .eslintrc.js
  packages/edit-site/src/components/add-new-template/add-custom-generic-template-modal-content.js
  packages/edit-site/src/components/welcome-guide/page.js
  packages/edit-widgets/src/components/sidebar/widget-areas.js
  packages/editor/src/components/post-template/create-new-template-modal.js
  packages/editor/src/components/preferences-modal/index.js
  packages/editor/src/components/sidebar/header.js
  packages/editor/src/components/sidebar/index.js
Labels: Gutenberg Plugin

#69168 Fix typo incorrect article before "user interface"
  docs/how-to-guides/themes/global-settings-and-styles.md
Labels: [Type] Developer Documentation, First-time Contributor

#69160 Editor: Conditionally enable the new default rendering mode for Pages
  backport-changelog/6.8/8123.md
  lib/compat/wordpress-6.8/post.php
Labels: [Type] Enhancement, [Package] Editor, [Feature] Template Editing Mode

#68958 ESLint: Improve lint regex for preventing "toggle" word usage in translation ready functions
  .eslintrc.js
  packages/block-editor/src/components/tool-selector/index.js
  packages/block-editor/src/hooks/layout.js
  packages/components/src/mobile/bottom-sheet/switch-cell.native.js
Labels: Internationalization (i18n), [Type] Automated Testing

#69171 Plugin: Fix typo for 'ignore_sticky_posts' REST API support
  lib/compat/wordpress-6.8/rest-api.php
Labels: Gutenberg Plugin, No Core Sync Required

#69033 NumberControl: Fix invalid HTML attributes for infinite bounds
  packages/components/CHANGELOG.md
  packages/components/src/number-control/index.tsx
Labels: [Type] Bug, [Package] Components

#67792 Improve the EntitiesSavedStates modal dialog design and labeling
  packages/edit-site/src/components/save-panel/index.js
  packages/editor/README.md
  packages/editor/src/components/entities-saved-states/entity-record-item.js
  packages/editor/src/components/entities-saved-states/entity-type-list.js
  packages/editor/src/components/entities-saved-states/index.js
  packages/editor/src/components/entities-saved-states/style.scss
Labels: [Type] Bug, [Focus] Accessibility (a11y), [Package] Editor, [Package] Edit Site, [Feature] Site Editor

#69157 Site Hub: Navigate correctly in mobile view
  packages/edit-site/src/components/site-hub/index.js
Labels: [Type] Bug, Mobile Web, [Feature] Site Editor

#69166 Fix Syntax Issue in Documentation
  packages/interactivity-router/README.md
Labels: [Type] Developer Documentation

#69192 Site Editor: fix back link from “Navigation” sub-menus in mobile web
  packages/edit-site/src/components/site-editor-routes/navigation-item.js
Labels: [Type] Bug, Mobile Web

#69175 Media Utils: Restrict file uploads with `multiple` prop in `uploadMedia` and `mediaUpload`
  packages/block-editor/src/components/background-image-control/index.js
  packages/block-editor/src/components/media-placeholder/index.js
  packages/block-library/src/site-logo/edit.js
  packages/editor/README.md
  packages/editor/src/components/post-featured-image/index.js
  packages/editor/src/utils/media-upload/index.js
  packages/media-utils/README.md
  packages/media-utils/src/utils/test/upload-media.ts
  packages/media-utils/src/utils/upload-media.ts
Labels: [Type] Enhancement, [Feature] Media, [Package] Media Utils

#69066 BorderControl: always show Reset button
  packages/components/CHANGELOG.md
  packages/components/src/border-control/border-control-dropdown/component.tsx
  packages/components/src/border-control/border-control-dropdown/hook.ts
  packages/components/src/border-control/styles.ts
Labels: [Type] Enhancement, [Feature] UI Components, Global Styles

#69207 Added Missing Double Quote in Number Control
  packages/components/src/number-control/README.md
Labels: [Type] Developer Documentation, [Package] Components

#69210 Performance Tests: Update method for creating sample content
  packages/e2e-test-utils-playwright/src/request-utils/pages.ts
  test/performance/fixtures/perf-utils.ts
  test/performance/specs/site-editor.spec.js
Labels: [Type] Automated Testing

#69209 Editor: Add an extra check before enabling the new default rendering mode for Pages
  backport-changelog/6.8/8123.md
  lib/compat/wordpress-6.8/post.php
Labels: [Type] Bug, [Package] Editor

#65455 Docs: Removes notes about Block Hooks only supporting static theme elements
  docs/reference-guides/block-api/block-registration.md
Labels: [Type] Developer Documentation, [Feature] Block hooks

#67722 Update template-related messages to improve clarity for custom post types
  packages/editor/src/components/entities-saved-states/entity-type-list.js
  packages/editor/src/components/visual-editor/edit-template-blocks-notification.js
Labels: [Type] Copy, [Package] Editor

#69204 Components: Fix typo for notice color in readme.md
  packages/components/src/notice/README.md
Labels: [Type] Developer Documentation, First-time Contributor

#69215 Media Utils: Add tests for new error behavior
  packages/media-utils/src/utils/test/upload-media.ts
  packages/media-utils/src/utils/upload-media.ts
Labels: [Type] Automated Testing, [Package] Media Utils

#69134 Post Template Panel: Display popover on the left side of the sidebar
  packages/editor/src/components/post-template/block-theme.js
  packages/editor/src/components/post-template/classic-theme.js
  packages/editor/src/components/post-template/panel.js
Labels: [Type] Enhancement, [Package] Editor

#69044 E2E Tests: Add Block Hooks Test Coverage
  packages/e2e-tests/plugins/block-hooks.php
  test/e2e/specs/editor/plugins/block-hooks.spec.js
Labels: [Type] Automated Testing, [Package] E2E Tests, [Feature] Block hooks

#69128 Generate built CSS file containing the admin color theme CSS custom properties
  packages/base-styles/README.md
  packages/base-styles/src/admin-schemes.scss
Labels: [Type] Enhancement, [Package] Base styles

#69222 iAPI Router: Revert "Handle styles assets on region-based navigation"
  packages/e2e-tests/plugins/interactive-blocks/router-styles-blue/assets/10x10_e2e_test_image_blue.png
  packages/e2e-tests/plugins/interactive-blocks/router-styles-blue/block.json
  packages/e2e-tests/plugins/interactive-blocks/router-styles-blue/render.php
  packages/e2e-tests/plugins/interactive-blocks/router-styles-blue/style-from-link.css
  packages/e2e-tests/plugins/interactive-blocks/router-styles-blue/style.css
  packages/e2e-tests/plugins/interactive-blocks/router-styles-green/assets/10x10_e2e_test_image_green.png
  packages/e2e-tests/plugins/interactive-blocks/router-styles-green/block.json
  packages/e2e-tests/plugins/interactive-blocks/router-styles-green/render.php
  packages/e2e-tests/plugins/interactive-blocks/router-styles-green/style-from-link.css
  packages/e2e-tests/plugins/interactive-blocks/router-styles-green/style.css
  packages/e2e-tests/plugins/interactive-blocks/router-styles-red/assets/10x10_e2e_test_image_red.png
  packages/e2e-tests/plugins/interactive-blocks/router-styles-red/block.json
  packages/e2e-tests/plugins/interactive-blocks/router-styles-red/render.php
  packages/e2e-tests/plugins/interactive-blocks/router-styles-red/style-from-link.css
  packages/e2e-tests/plugins/interactive-blocks/router-styles-red/style.css
  packages/e2e-tests/plugins/interactive-blocks/router-styles-wrapper/block.json
  packages/e2e-tests/plugins/interactive-blocks/router-styles-wrapper/render.php
  packages/e2e-tests/plugins/interactive-blocks/router-styles-wrapper/style-from-link.css
  packages/e2e-tests/plugins/interactive-blocks/router-styles-wrapper/style.css
  packages/e2e-tests/plugins/interactive-blocks/router-styles-wrapper/view.asset.php
  packages/e2e-tests/plugins/interactive-blocks/router-styles-wrapper/view.js
  packages/interactivity-router/CHANGELOG.md
  packages/interactivity-router/src/assets/styles.ts
  packages/interactivity-router/src/head.ts
  packages/interactivity-router/src/index.ts
  test/e2e/specs/interactivity/__snapshots__/Router-styles-should-support-relative-URLs-in-referenced-style-sheets-1-chromium.png
  test/e2e/specs/interactivity/__snapshots__/Router-styles-should-support-relative-URLs-in-referenced-style-sheets-2-chromium.png
  test/e2e/specs/interactivity/__snapshots__/Router-styles-should-support-relative-URLs-in-referenced-style-sheets-3-chromium.png
  test/e2e/specs/interactivity/__snapshots__/Router-styles-should-support-relative-URLs-in-referenced-style-sheets-4-chromium.png
  test/e2e/specs/interactivity/__snapshots__/Router-styles-should-support-relative-URLs-in-referenced-style-sheets-5-chromium.png
  test/e2e/specs/interactivity/fixtures/interactivity-utils.ts
  test/e2e/specs/interactivity/router-styles.spec.ts
Labels: [Type] Bug, Backport to Gutenberg RC, [Feature] Interactivity API, [Package] Interactivity Router

#69106 REST API: Adds the site reading options to the index
  backport-changelog/6.8/8345.md
  lib/compat/wordpress-6.8/preload.php
  lib/compat/wordpress-6.8/rest-api.php
  packages/core-data/src/entities.js
  packages/core-data/src/private-selectors.ts
  test/e2e/specs/site-editor/preload.spec.js
Labels: REST API Interaction, [Type] Regression, [Package] Editor

#69173 Editor: Avoid a 'flash' when rendering in 'template-locked' mode
  packages/editor/src/components/provider/index.js
Labels: [Type] Regression, [Package] Editor

#69081 Editor: Restore starter content modal
  packages/base-styles/_z-index.scss
  packages/block-editor/src/components/inserter/block-patterns-explorer/index.js
  packages/block-editor/src/components/inserter/block-patterns-tab/index.js
  packages/block-editor/src/components/inserter/block-patterns-tab/pattern-category-previews.js
  packages/block-editor/src/components/inserter/block-patterns-tab/patterns-filter.js
  packages/block-editor/src/components/inserter/category-tabs/index.js
  packages/block-editor/src/hooks/use-zoom-out.js
  packages/editor/src/components/start-page-options/index.js
  packages/editor/src/components/start-page-options/style.scss
  test/e2e/specs/editor/various/template-resolution.spec.js
  test/e2e/specs/site-editor/block-style-variations.spec.js
  test/e2e/specs/site-editor/pages.spec.js
Labels: [Type] Enhancement, [Package] Editor, [Feature] Patterns

#69159 Inserter: Hide drag-and-drop help text on mobile devices when previewing patterns
  packages/block-editor/src/components/inserter/style.scss
Labels: [Type] Bug, [Feature] Inserter, Mobile Web

#69228 Tests: Fix preloading e2e test
  test/e2e/specs/site-editor/preload.spec.js
Labels: [Type] Automated Testing

#68481 Fix CSS classes for the post editor iframe body.
  packages/block-editor/src/components/iframe/index.js
  test/e2e/specs/editor/various/block-editor-dark-background.spec.js
  test/e2e/specs/site-editor/site-editor-dark-background.spec.js
  test/gutenberg-test-themes/darktheme/block-templates/index.html
  test/gutenberg-test-themes/darktheme/block-templates/singular.html
  test/gutenberg-test-themes/darktheme/index.php
  test/gutenberg-test-themes/darktheme/style.css
  test/gutenberg-test-themes/darktheme/theme.json
Labels: [Type] Bug, [Focus] Accessibility (a11y), [Package] Block editor

#68434 Docs: Add Documentation for Adding Block Variations Using get_block_type_variations Hook
  docs/reference-guides/block-api/block-variations.md
Labels: [Type] Developer Documentation, [Feature] Block Variations

#69206 Site Editor: show pattern category step in navigation for mobile
  packages/edit-site/src/components/site-editor-routes/patterns.js
Labels: [Type] Bug, Mobile Web, [Feature] Site Editor

#69233 Added Missing Global Documentation in Query Total Block
  packages/block-library/src/query-total/index.php
Labels: [Type] Developer Documentation, [Block] Query Total

#69226 Notice: Fix text contrast for dark mode
  packages/components/CHANGELOG.md
  packages/components/src/notice/style.scss
Labels: [Type] Bug, Needs Design Feedback, [Package] Components

#69251 Block Editor: Fix 'isBlockVisibleInTheInserter' selector helper performance (#68898)
  packages/block-editor/src/store/selectors.js
Labels: [Type] Performance

#69257 Core Data: Allow 'null' as raw attribute value
  packages/core-data/src/selectors.ts
  packages/core-data/src/test/selectors.js
Labels: [Type] Regression, [Package] Core data

#69234 Enhance 404 message styling
  packages/edit-site/src/components/layout/style.scss
  packages/edit-site/src/components/sidebar-navigation-screen/index.js
  packages/edit-site/src/components/site-editor-routes/notfound.js
Labels: [Type] Enhancement, Needs Design Feedback, [Feature] Site Editor

#68097 Introduce `withSyncEvent` action wrapper utility and proxy `event` object whenever it is not used
  docs/reference-guides/interactivity-api/api-reference.md
  packages/block-library/src/image/view.js
  packages/block-library/src/navigation/view.js
  packages/block-library/src/query/view.js
  packages/block-library/src/search/view.js
  packages/e2e-tests/plugins/interactive-blocks/directive-each/view.js
  packages/e2e-tests/plugins/interactive-blocks/directive-init/view.js
  packages/e2e-tests/plugins/interactive-blocks/directive-on-document/view.js
  packages/e2e-tests/plugins/interactive-blocks/directive-on-window/view.js
  packages/e2e-tests/plugins/interactive-blocks/directive-priorities/view.js
  packages/e2e-tests/plugins/interactive-blocks/directive-run/view.js
  packages/e2e-tests/plugins/interactive-blocks/directive-watch/view.js
  packages/e2e-tests/plugins/interactive-blocks/get-server-context/view.js
  packages/e2e-tests/plugins/interactive-blocks/get-server-state/view.js
  packages/e2e-tests/plugins/interactive-blocks/router-navigate/view.js
  packages/e2e-tests/plugins/interactive-blocks/router-regions/view.js
  packages/e2e-tests/plugins/interactive-blocks/tovdom-islands/view.js
  packages/interactivity-router/README.md
  packages/interactivity/src/directives.tsx
  packages/interactivity/src/hooks.tsx
  packages/interactivity/src/index.ts
  packages/interactivity/src/utils.ts
Labels: [Type] Performance, [Feature] Interactivity API, [Packages] Interactivity

#68223 Post Comments Count: Add Border Support
  packages/block-library/src/post-comments-count/block.json
  packages/block-library/src/post-comments-count/style.scss
  packages/block-library/src/style.scss
Labels: [Type] Enhancement, [Feature] Design Tools, [Block] Post Comments Count

#69268 docs: correction in plugin-sidebar-0.md
  docs/how-to-guides/plugin-sidebar-0.md
Labels: [Type] Developer Documentation, First-time Contributor

#68521 Allow :focus-visible pseudo-selector to be set in theme.json
  backport-changelog/6.8/8261.md
  docs/how-to-guides/themes/global-settings-and-styles.md
  lib/class-wp-theme-json-gutenberg.php
  schemas/json/theme.json
Labels: [Type] Enhancement, Global Styles, Needs PHP backport

#62431 Update javascript-in-the-block-editor.md - fix link
  docs/getting-started/README.md
  docs/getting-started/fundamentals/javascript-in-the-block-editor.md
Labels: [Type] Developer Documentation

#68840 Dataviews: Fix alignment issue of "Title" column header
  packages/dataviews/src/dataviews-layouts/table/index.tsx
  packages/dataviews/src/dataviews-layouts/table/style.scss
Labels: [Type] Bug, [Package] DataViews

#69232 Video Block: Disable autoplay when video is not muted
  packages/block-library/src/video/edit-common-settings.js
Labels: [Type] Bug, [Block] Video

#69288 Editor: Use a stable array ref as fallback value in 'BlockVisibility'
  packages/editor/src/components/preferences-modal/block-visibility.js
Labels: [Type] Code Quality, [Package] Editor

#69280 Added php.net/date links
  packages/date/README.md
  packages/date/src/index.js
Labels: [Type] Developer Documentation

#69096 Block support: Add server-side processing for ariaLabel
  backport-changelog/6.8/8274.md
  lib/block-supports/aria-label.php
  lib/load.php
  phpunit/block-supports/aria-label-test.php
Labels: [Type] Bug, [Feature] Block API

#69272 Test: Add e2e test for 404 page
  test/e2e/specs/site-editor/navigation.spec.js
Labels: [Type] Code Quality, [Feature] Site Editor

#69309 Template Part block: Guard against `get_block_file_template` returning `null`
  packages/block-library/src/template-part/index.php
Labels: [Type] Bug, [Block] Template Part

#69313 Fix addQueryArgs and removeQueryArg on URLs with fragments
  packages/url/src/add-query-args.js
  packages/url/src/remove-query-args.js
  packages/url/src/test/index.js
Labels: [Type] Bug, [Package] Url

#69325 Post Navigation Link: Enable all non-interactive formats
  packages/block-library/src/post-navigation-link/edit.js
Labels: [Type] Enhancement, [Block] Post Navigation Link

#68121 Pullquote: Adding missing alignment style
  packages/block-library/src/pullquote/style.scss
Labels: [Type] Enhancement, [Block] Pullquote

#69073 Document outline: Show heading blocks when template-lock is enabled
  packages/editor/src/components/document-outline/index.js
Labels: [Type] Bug, [Feature] Document Outline

#69344 Fields: Avoid 'useSelect' warnings in the template component
  packages/fields/src/fields/template/template-edit.tsx
Labels: [Type] Code Quality, [Package] Fields

#68975 Close patterns modal on insertion and focus on inserted pattern
  packages/block-editor/src/components/inserter/block-patterns-explorer/index.js
  packages/block-editor/src/components/inserter/block-patterns-explorer/pattern-list.js
Labels: [Focus] Accessibility (a11y), [Type] Regression, [Feature] Patterns

#69327 Site Editor: Fix space on the left or right of the menu in mobile view
  packages/edit-site/src/components/layout/style.scss
Labels: [Type] Bug, Mobile Web, [Feature] Site Editor

#68881 Format Library: Text-color popover width to fit sidebar
  packages/format-library/src/text-color/style.scss
Labels: [Type] Bug, [Package] Format library, [Feature] Colors

#68936 FontSizePicker: Fix FontSizePicker Storybook control type and improve documentation
  packages/components/CHANGELOG.md
  packages/components/src/font-size-picker/README.md
  packages/components/src/font-size-picker/stories/index.story.tsx
  packages/components/src/font-size-picker/types.ts
Labels: [Type] Developer Documentation, [Package] Components, Storybook

#69312 Remove unnecessary opacity override for Firefox placeholders
  packages/base-styles/_mixins.scss
  packages/components/CHANGELOG.md
  packages/components/src/textarea-control/styles/textarea-control-styles.ts
  packages/editor/src/components/post-text-editor/style.scss
Labels: [Type] Code Quality

#69330 Revert "Feature: Add `navigation.isLoading` state to core/router store (#67680)"
  packages/interactivity-router/src/index.ts
Labels: [Type] Code Quality, [Package] Interactivity Router

#68554 Block Action: Implement cut functionality in block actions and settings menu
  packages/block-editor/src/components/block-settings-menu/block-settings-dropdown.js
  packages/block-editor/src/components/keyboard-shortcuts/index.js
  test/e2e/specs/editor/various/write-design-mode.spec.js
  test/e2e/specs/site-editor/zoom-out.spec.js
Labels: [Type] Enhancement, Needs Design Feedback, [Package] Block editor, [Feature] Block settings menu

#68666 Image block: unwrap img element in editor
  packages/block-library/src/image/constants.js
  packages/block-library/src/image/editor.scss
  packages/block-library/src/image/image.js
Labels: [Type] Bug, Needs Testing, [Block] Image
