Repository WordPress/gutenberg, pull requests merged in 2025-04, with the labels that each got.

#69767 Create Block: Improve support for blocks manifest and relevant Core APIs
  packages/create-block/lib/templates/plugin/$slug.php.mustache
Labels: [Type] Developer Documentation, [Tool] Create Block

#69778 Iframe: Don't enable for block themes in core if v2 blocks exist
  packages/edit-post/src/components/layout/use-should-iframe.js
Labels: [Type] Bug, [Package] Edit Post, Backport to WP 6.8 Beta/RC

#69781 Block drag & drop: Enable mouse click on input/textarea elements in Firefox
  packages/block-editor/src/components/block-list/use-block-props/use-firefox-draggable-compatibility.js
Labels: Browser Issues, [Type] Regression, [Feature] Drag and Drop, Backport to WP 6.8 Beta/RC

#69747 Fix: Space visualizer showing previous value
  packages/block-editor/src/hooks/spacing-visualizer.js
Labels: [Type] Bug, [Package] Block editor, First-time Contributor, [Feature] Layout

#69405 Search: `wp-block-search__inside-wrapper` classname trailing spaces
  packages/block-library/src/search/index.php
Labels: [Type] Code Quality, [Block] Search

#69785 Code Quality: Fix Documentation inconsistencies in `Block Parser` classes
  packages/block-serialization-default-parser/class-wp-block-parser-block.php
  packages/block-serialization-default-parser/class-wp-block-parser.php
Labels: [Type] Code Quality, No Core Sync Required

#69791 Workflows: Ignore 'block-serialization-default-parser' for manual backports
  .github/workflows/check-backport-changelog.yml
Labels: [Type] Build Tooling, GitHub Actions

#69689 Navigation Link, Navigation Submenu: Remove the title attribute controls
  docs/reference-guides/core-blocks.md
  packages/block-library/src/navigation-link/block.json
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation-link/index.php
  packages/block-library/src/navigation-link/transforms.js
  packages/block-library/src/navigation-link/update-attributes.js
  packages/block-library/src/navigation-submenu/block.json
  packages/block-library/src/navigation-submenu/edit.js
  packages/block-library/src/navigation-submenu/index.php
Labels: [Type] Enhancement, [Focus] Accessibility (a11y), Needs Dev Note, [Block] Navigation Link, [Block] Submenu

#69775 Fix: Incorrect Type of `wp_widget_factory` in `render_block_core_legacy_widget` Doc Block
  packages/widgets/src/blocks/legacy-widget/index.php
Labels: [Type] Developer Documentation, [Block] Legacy Widget, First-time Contributor, No Core Sync Required

#69792 Workflows: Ignore 'widgets' for manual backports
  .github/workflows/check-backport-changelog.yml
Labels: [Type] Automated Testing, GitHub Actions

#69799 Block Parser: Remove description for singular since tag
  packages/block-serialization-default-parser/class-wp-block-parser-block.php
Labels: [Type] Code Quality

#69795 Block Tools: Prevent showing block toolbar when block interface is hidden
  packages/block-editor/src/components/block-tools/use-show-block-tools.js
Labels: [Type] Bug, [Package] Block editor

#69801 Block Directory: Update metadata fields requested from server
  packages/block-directory/src/store/actions.js
Labels: [Type] Code Quality, [Feature] Block Directory

#69805 Featured Image: Don't render empty Resolution tools panel if media is not set
  packages/block-library/src/post-featured-image/edit.js
Labels: [Type] Bug, [Block] Post Featured Image

#69804 PostPublishPanel: Fix post title overflow
  packages/editor/src/components/post-publish-panel/style.scss
Labels: [Type] Bug, [Feature] Document Settings

#69783 Update gradient-parser dependency from 0.1.5 to 1.0.2
  package-lock.json
  packages/components/CHANGELOG.md
  packages/components/package.json
Labels: [Type] Code Quality, [Package] Components

#69638 UI Components: Add theme support for `FormTokenField` and `ComboboxControl`
  packages/base-styles/_mixins.scss
  packages/components/CHANGELOG.md
  packages/components/src/combobox-control/style.scss
  packages/components/src/form-token-field/style.scss
Labels: [Type] Bug, [Package] Components

#69811 ToC: Fix condition for 'Limit heading levels'
  packages/block-library/src/table-of-contents/edit.js
Labels: [Type] Bug, Good First Review, [Block] Table of contents (experimental)

#69812 Heading: Add/correct typography examples
  packages/edit-site/src/components/style-book/examples.tsx
Labels: [Type] Enhancement, [Block] Heading

#69816 Remove `@shopify/web-worker` Dependency from `packages/upload-media`
  package-lock.json
  packages/upload-media/package.json
Labels: [Type] Enhancement, [Feature] Media

#69609 ActionModal: Add support for customisable `focusOnMount`
  packages/dataviews/README.md
  packages/dataviews/src/components/dataviews-item-actions/index.tsx
  packages/dataviews/src/components/dataviews/stories/fixtures.tsx
  packages/dataviews/src/types.ts
  packages/editor/src/components/post-actions/set-as-homepage.js
  packages/editor/src/components/post-actions/set-as-posts-page.js
  packages/fields/src/actions/delete-post.tsx
  packages/fields/src/actions/duplicate-pattern.tsx
  packages/fields/src/actions/duplicate-post.tsx
  packages/fields/src/actions/duplicate-template-part.tsx
  packages/fields/src/actions/permanently-delete-post.tsx
  packages/fields/src/actions/rename-post.tsx
  packages/fields/src/actions/reorder-page.tsx
  packages/fields/src/actions/reset-post.tsx
  packages/fields/src/actions/trash-post.tsx
Labels: [Type] Bug, [Focus] Accessibility (a11y), [Feature] DataViews

#69821 Social Icons: Remove custom placeholder state
  packages/block-library/src/social-links/edit.js
  packages/block-library/src/social-links/editor.scss
Labels: [Type] Bug, [Focus] Accessibility (a11y), [Block] Social

#69836 Social Icons: Remove unused editor style
  packages/block-library/src/social-links/editor.scss
Labels: [Type] Code Quality, [Block] Social

#69730 Enhance Featured Image Block: Don't include interactive elements within a element
  packages/block-library/src/post-featured-image/edit.js
Labels: [Type] Bug, [Block] Post Featured Image

#69837 Navigation block: fix submenu Escape key behavior
  packages/block-library/src/navigation/index.php
  packages/block-library/src/navigation/view.js
  test/e2e/specs/editor/blocks/navigation-frontend-interactivity.spec.js
Labels: [Type] Bug, [Focus] Accessibility (a11y), [Block] Navigation

#69845 Query Loop: Improve debouncing for 'Keyword' control
  packages/block-library/src/query/edit/inspector-controls/index.js
  packages/block-library/src/query/edit/inspector-controls/parent-control.js
  packages/block-library/src/query/edit/inspector-controls/taxonomy-controls.js
Labels: [Type] Bug, [Block] Query Loop

#69231 E2E: Split list view keyboard shortcuts into multiple tests
  test/e2e/specs/editor/various/list-view.spec.js
Labels: [Type] Automated Testing, [Type] Code Quality

#68610 Fixed Media & Text Block - Image not rendered properly on frontend when inside stack
  packages/block-library/src/media-text/style.scss
Labels: [Type] Bug, [Block] Media & Text

#69619 Fix: Expose TypeScript types for subcomponents
  packages/components/CHANGELOG.md
  packages/components/src/popover/index.tsx
  packages/components/src/popover/stories/index.story.tsx
  packages/components/src/popover/test/utils/index.tsx
  packages/components/src/popover/types.ts
Labels: [Type] Developer Documentation, [Package] Components, Developer Experience

#69343 Navigation in Site View: Automatically expand all options
  packages/edit-site/src/components/sidebar-navigation-screen-navigation-menus/navigation-menu-content.js
Labels: [Type] Enhancement, [Block] Navigation

#69856 Docs: Improve document and parameters in render_block_core_* function
  packages/block-library/src/button/index.php
  packages/block-library/src/file/index.php
  packages/block-library/src/latest-comments/index.php
  packages/block-library/src/navigation-link/index.php
  packages/block-library/src/search/index.php
Labels: [Type] Developer Documentation, [Package] Block library

#69846 DataViews: Ensure consistent display of primary ellipsis in list layout
  packages/dataviews/src/dataviews-layouts/list/style.scss
Labels: [Type] Bug, [Package] DataViews

#69865 Playwright e2e utils: add new `emulateNetworkConditions` helper
  packages/e2e-test-utils-playwright/CHANGELOG.md
  packages/e2e-test-utils-playwright/src/page-utils/emulate-network-conditions.ts
  packages/e2e-test-utils-playwright/src/page-utils/index.ts
  packages/e2e-test-utils-playwright/src/test.ts
Labels: [Type] Enhancement, [Tool] E2E Test Utils

#69688 Add WithCloseHandlers story
  packages/components/CHANGELOG.md
  packages/components/src/popover/stories/index.story.tsx
Labels: [Type] Developer Documentation, [Package] Components, Storybook

#69860 Fix: Restore static properties on deprecated __experimentalLinkControl
  packages/block-editor/src/components/link-control/index.js
Labels: Backwards Compatibility, [Type] Regression, [Package] Block editor, Backport to WP 6.8 Beta/RC, [Feature] Link Editing

#69685 Stylelint-config: Add stylelint-scss as a peer dependency
  package-lock.json
  packages/stylelint-config/package.json
Labels: [Type] Code Quality, [Tool] stylelint config

#69889 Latest Posts: Embed author in response
  packages/block-library/src/latest-posts/edit.js
Labels: [Type] Performance, [Block] Latest Posts, Good First Review

#69912 Try: Fix 'wp-polyfill' script dependents unit test
  phpunit/script-dependencies-test.php
Labels: [Type] Automated Testing, No Core Sync Required

#68733 Fix: Prevent `FontSizePicker` crash when no font size exists
  packages/block-editor/src/hooks/typography.js
Labels: [Type] Bug, [Feature] Typography

#69667 Editor: Add search functionality to template swapping modal
  packages/base-styles/_z-index.scss
  packages/editor/src/components/post-template/style.scss
  packages/editor/src/components/post-template/swap-template-button.js
  packages/editor/src/utils/search-templates.js
Labels: [Type] Enhancement, [Feature] Document Settings

#69898 Latest Posts: Delay inspector control queries until the block is selected
  packages/block-library/src/latest-posts/edit.js
Labels: [Type] Performance, [Block] Latest Posts

#69907 Guide: Make `next` and `previous` button text customizable
  packages/components/CHANGELOG.md
  packages/components/src/guide/README.md
  packages/components/src/guide/index.tsx
  packages/components/src/guide/stories/index.story.tsx
  packages/components/src/guide/types.ts
Labels: [Type] Enhancement, [Feature] UI Components

#69802 Create Block: Add `--textdomain` flag to create block tool
  packages/create-block/CHANGELOG.md
  packages/create-block/lib/index.js
Labels: [Type] Enhancement, [Tool] Create Block

#69927 Create Block: Add `--textdomain` in create-block README
  packages/create-block/README.md
Labels: [Type] Developer Documentation

#69918 Block Editor: Prevent block merging on blocks with the 'disabled' editing mode.
  packages/block-editor/src/store/actions.js
  packages/block-editor/src/store/test/actions.js
Labels: [Type] Bug, [Feature] Rich Text, [Package] Block editor, First-time Contributor

#68845 Block Editor: Prevent negative width values in Spacer block when used inside a row block
  packages/block-editor/src/components/child-layout-control/index.js
Labels: [Type] Bug, [Block] Spacer

#69920 Docs: Added copy and code for style_data
  docs/reference-guides/block-api/block-styles.md
Labels: [Type] Developer Documentation

#69902 Block Editor: Allow editing invalid blocks as HTML
  packages/block-editor/src/components/block-settings-menu/block-mode-toggle.js
  packages/block-editor/src/components/block-settings-menu/test/block-mode-toggle.js
Labels: [Type] Bug, [Feature] Blocks, [Package] Block editor

#69551 Fix: Missing conversion from json styled variable to CSS variable
  packages/style-engine/src/styles/utils.ts
Labels: [Type] Bug, [Feature] Block API, [Package] Style Engine

#69943 Automated Testing: Skip storybook smoke test
  .github/workflows/storybook-check.yml
Labels: [Type] Automated Testing

#69949 Author, Author Name block: fix PHP warning error when there is no context
  packages/block-library/src/post-author-name/index.php
  packages/block-library/src/post-author/index.php
Labels: [Type] Bug, [Block] Post Author, Backport to WP Minor Release, [Block] Author Name

#69931 Keyboard Shortcuts: Revert delete shortcut to `access + z`
  packages/block-editor/src/components/keyboard-shortcuts/index.js
  packages/block-editor/src/components/rich-text/event-listeners/delete.js
  test/e2e/specs/editor/blocks/navigation.spec.js
  test/e2e/specs/editor/various/block-deletion.spec.js
  test/e2e/specs/editor/various/block-locking.spec.js
  test/e2e/specs/editor/various/list-view.spec.js
  test/e2e/specs/site-editor/template-part.spec.js
  test/e2e/specs/widgets/editing-widgets.spec.js
Labels: [Type] Bug, [Focus] Accessibility (a11y), Backport to WP Minor Release

#69951 Navigation Link, Navigation Submenu: Fix undefined key warning
  packages/block-library/src/navigation-link/index.php
  packages/block-library/src/navigation-submenu/index.php
Labels: [Type] Bug, First-time Contributor, [Block] Navigation Link, [Block] Submenu

#69237 ServerSideRender: refactor fetchData to use `useCallback` and `refs`
  packages/server-side-render/CHANGELOG.md
  packages/server-side-render/src/server-side-render.js
Labels: [Type] Bug, [Package] Server Side Render

#69950 Document Settings: Lazy load post authors' data
  packages/editor/src/components/post-author/check.js
  packages/editor/src/components/post-author/panel.js
  packages/editor/src/components/post-author/test/check.js
Labels: [Feature] Document Settings, [Type] Performance

#69957 Documentation: Fix typos
  docs/contributors/code/coding-guidelines.md
  docs/contributors/code/release.md
Labels: [Type] Developer Documentation

#69839 Latest Posts: Update content display labels to `Display post content` and `Content length`
  packages/block-library/src/latest-posts/edit.js
Labels: [Type] Bug, [Block] Latest Posts, l10n

#69960 Fix: Remove an unnecessary `@return` tag from this filter docblock.
  packages/block-library/src/navigation/index.php
Labels: [Type] Developer Documentation

#67838 Widget Editor: Don't close the inserter when focusing outside it
  packages/edit-widgets/src/components/secondary-sidebar/inserter-sidebar.js
Labels: [Type] Enhancement, [Feature] Inserter, [Package] Edit Widgets

#69961 Calendar block: Disable edit as HTML support
  docs/reference-guides/core-blocks.md
  packages/block-library/src/calendar/block.json
Labels: [Type] Bug, [Block] Calendar

#43747 Icons: Remove width / height attributes from svg element
  packages/icons/src/library/at-symbol.js
  packages/icons/src/library/comment-edit-link.js
  packages/icons/src/library/comment-reply-link.js
  packages/icons/src/library/drag-handle.js
  packages/icons/src/library/drawer-left.js
  packages/icons/src/library/drawer-right.js
  packages/icons/src/library/help-filled.js
  packages/icons/src/library/pin-small.js
Labels: [Type] Bug, [Package] Icons

#69969 ToggleGroupControl: Fix active background for empty string value
  packages/components/CHANGELOG.md
  packages/components/src/toggle-group-control/toggle-group-control/component.tsx
Labels: [Type] Bug, [Feature] UI Components, [Package] Components, Backport to WP Minor Release

#69972 Documentation: Add WP version note for 'setAttributes' updater function
  docs/reference-guides/block-api/block-edit-save.md
Labels: [Type] Developer Documentation

#69904 Add new HTMLElementControl component
  packages/block-editor/src/components/html-element-control/index.js
  packages/block-editor/src/components/html-element-control/messages.js
  packages/block-editor/src/private-apis.js
  packages/block-editor/src/private-apis.native.js
  packages/block-library/src/comments/edit/comments-inspector-controls.js
  packages/block-library/src/comments/edit/index.js
  packages/block-library/src/cover/edit/inspector-controls.js
  packages/block-library/src/group/edit.js
  packages/block-library/src/query/edit/query-content.js
  packages/block-library/src/separator/edit.js
  packages/block-library/src/template-part/edit/advanced-controls.js
  packages/block-library/src/template-part/edit/index.js
Labels: [Type] Enhancement, [Focus] Accessibility (a11y), Needs Design Feedback, [Package] Block library

#69203 ColorPicker: Add tests for `ColorPicker` Alpha slider
  packages/components/CHANGELOG.md
  packages/components/src/color-picker/test/index.tsx
Labels: [Type] Code Quality, [Package] Components

#69958 Use split view for meta boxes only when canvas is iframed and “Desktop” view
  packages/block-editor/src/components/block-canvas/index.js
  packages/block-editor/src/components/use-resize-canvas/index.js
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/layout/style.scss
  packages/editor/src/components/editor-interface/style.scss
  packages/editor/src/components/visual-editor/index.js
  packages/editor/src/components/visual-editor/style.scss
Labels: [Type] Task, [Feature] Meta Boxes, Backport to WP Minor Release

#69988 ServerSideRender: Don't render the previous error response in loading state
  packages/server-side-render/src/server-side-render.js
Labels: [Type] Bug, [Package] Server Side Render, Good First Review

#70006 [WP6.8] Fix 'wp-polyfill' script dependents unit test
  phpunit/script-dependencies-test.php
Labels: [Type] Automated Testing

#70001 [WP6.8.1] Author, Author Name block: fix PHP warning error when there is no context
  packages/block-library/src/post-author-name/index.php
  packages/block-library/src/post-author/index.php
Labels: [Type] Bug, [Block] Post Author, [Block] Author Name

#69996 [WP6.8.1] Use split view for meta boxes only when canvas is iframed and “Desktop” view
  packages/block-editor/src/components/block-canvas/index.js
  packages/block-editor/src/components/use-resize-canvas/index.js
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/layout/style.scss
  packages/editor/src/components/editor-interface/style.scss
  packages/editor/src/components/visual-editor/index.js
  packages/editor/src/components/visual-editor/style.scss
Labels: [Type] Task, [Feature] Meta Boxes

#70000 [WP6.8.1] ToggleGroupControl: Fix active background for empty string value
  packages/components/CHANGELOG.md
  packages/components/src/toggle-group-control/toggle-group-control/component.tsx
Labels: [Type] Bug, [Package] Components

#69999 ServerSideRender: Use `useLayoutEffect` to update `latestPropsRef`
  packages/server-side-render/src/server-side-render.js
Labels: [Type] Code Quality, [Package] Server Side Render

#70007 Persist git credentials when publishing via lerna
  .github/workflows/publish-npm-packages.yml
Labels: [Type] Regression

#69985 Image: Avoid stale URL when reselecting the same image from the library
  packages/block-library/src/image/edit.js
Labels: [Type] Bug, [Block] Image

#69979 List View: Add E2E test to verify pasting block styles via keyboard
  test/e2e/specs/editor/various/list-view.spec.js
Labels: [Type] Automated Testing, [Feature] List View

#70008 Simplify color specifications from `rgba` to `rgb`
  lib/theme.json
  phpunit/class-wp-theme-json-resolver-test.php
Labels: [Type] Code Quality, [Feature] Themes, No Core Sync Required
