Repository WordPress/gutenberg, pull requests merged in 2025-10, with the labels that each got.

#71203 Block API: Add block visibility control support and UI
  backport-changelog/6.9/10110.md
  docs/reference-guides/core-blocks.md
  lib/block-supports/block-visibility.php
  lib/load.php
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/content.scss
  packages/block-editor/src/components/block-list/use-block-props/index.js
  packages/block-editor/src/components/block-settings-menu-controls/index.js
  packages/block-editor/src/components/block-toolbar/index.js
  packages/block-editor/src/components/block-visibility/index.js
  packages/block-editor/src/components/block-visibility/menu-item.js
  packages/block-editor/src/components/block-visibility/toolbar.js
  packages/block-editor/src/components/list-view/block-select-button.js
  packages/block-editor/src/components/list-view/block.js
  packages/block-editor/src/components/list-view/style.scss
  packages/block-editor/src/components/use-block-drop-zone/index.js
  packages/block-editor/src/store/private-selectors.js
  packages/block-library/src/accordion-header/block.json
  packages/block-library/src/accordion-panel/block.json
  packages/block-library/src/block/block.json
  packages/block-library/src/pattern/block.json
  packages/block-library/src/template-part/block.json
  packages/block-library/src/utils/get-transformed-metadata.js
Labels: [Feature] Block API, Needs Design Feedback, [Feature] List View, [Type] New API

#72005 Link Control: Update button text from Save to Apply
  packages/block-editor/src/components/link-control/index.js
  packages/block-editor/src/components/link-control/test/index.js
  packages/block-editor/src/components/media-replace-flow/test/index.js
  test/e2e/specs/editor/blocks/buttons.spec.js
  test/e2e/specs/editor/blocks/links.spec.js
Labels: [Type] Enhancement, Needs Design Feedback, [Feature] Link Editing

#72010 Global Styles: Add shadow and layout to the global styles changes translation map array
  packages/block-editor/src/components/global-styles/get-global-styles-changes.js
Labels: [Type] Enhancement, Global Styles

#71993 Modal: Replace `justify-content: left` with `flex-start` in modal header
  packages/components/src/modal/style.scss
Labels: [Type] Code Quality, [Package] Components

#71893 Image block: Conditionally remove empty `<figcaption>`
  packages/block-library/src/image/index.php
  phpunit/blocks/render-block-image-test.php
Labels: [Type] Enhancement, [Block] Image, [Feature] Block bindings

#72020 Added Global Documentation in template-activate file
  lib/compat/wordpress-6.9/template-activate.php
Labels: [Type] Developer Documentation, No Core Sync Required

#72013 Allow submenu flyout menus to be visible outside of template part canvas
  packages/editor/src/components/visual-editor/index.js
Labels: [Type] Enhancement, [Feature] Focus Mode

#72025 Remove extra traverseBlockTree call
  packages/block-editor/src/store/reducer.js
Labels: [Type] Performance, [Package] Block editor

#72038 iAPI: Add missing changelog entries for #71870 and #71635 PRs
  packages/interactivity-router/CHANGELOG.md
  packages/interactivity/CHANGELOG.md
Labels: [Type] Code Quality, [Packages] Interactivity, [Package] Interactivity Router

#72046 Accordion Heading: Remove the padding from the heading when it has a background color
  packages/block-library/src/accordion-heading/block.json
  packages/block-library/src/accordion-heading/style.scss
Labels: [Type] Bug, [Block] Accordion (experimental)

#72036 Stabilize Accordion block
  docs/reference-guides/core-blocks.md
  packages/block-library/src/accordion-heading/block.json
  packages/block-library/src/accordion-item/block.json
  packages/block-library/src/accordion-item/index.php
  packages/block-library/src/accordion-panel/block.json
  packages/block-library/src/accordion/block.json
  packages/block-library/src/accordion/index.php
  packages/block-library/src/index.js
  test/e2e/specs/editor/various/autocomplete-and-mentions.spec.js
  test/e2e/specs/site-editor/push-to-global-styles.spec.js
  test/integration/fixtures/blocks/core__accordion-heading.html
  test/integration/fixtures/blocks/core__accordion-heading.json
  test/integration/fixtures/blocks/core__accordion-heading.parsed.json
  test/integration/fixtures/blocks/core__accordion-heading.serialized.html
  test/integration/fixtures/blocks/core__accordion-item.html
  test/integration/fixtures/blocks/core__accordion-item.json
  test/integration/fixtures/blocks/core__accordion-item.parsed.json
  test/integration/fixtures/blocks/core__accordion-item.serialized.html
  test/integration/fixtures/blocks/core__accordion-panel.html
  test/integration/fixtures/blocks/core__accordion-panel.json
  test/integration/fixtures/blocks/core__accordion-panel.parsed.json
  test/integration/fixtures/blocks/core__accordion-panel.serialized.html
  test/integration/fixtures/blocks/core__accordion.html
  test/integration/fixtures/blocks/core__accordion.json
  test/integration/fixtures/blocks/core__accordion.parsed.json
  test/integration/fixtures/blocks/core__accordion.serialized.html
Labels: [Type] Enhancement, [Block] Accordion (experimental)

#72047 PHP-only blocks: Auto-register blocks with block API version 3 by default
  packages/block-library/src/index.js
  packages/e2e-tests/plugins/server-side-rendered-block.php
  test/e2e/specs/editor/plugins/server-side-rendered-block.spec.js
Labels: [Feature] Block API, [Type] Experimental

#72056 DataViews: collocate normalizeFormFields where it is used
  packages/dataviews/CHANGELOG.md
  packages/dataviews/src/components/dataform/index.tsx
  packages/dataviews/src/dataform-layouts/card/index.tsx
  packages/dataviews/src/dataform-layouts/card/style.scss
  packages/dataviews/src/dataform-layouts/data-form-layout.tsx
  packages/dataviews/src/dataform-layouts/get-summary-fields.ts
  packages/dataviews/src/dataform-layouts/index.tsx
  packages/dataviews/src/dataform-layouts/is-combined-field.ts
  packages/dataviews/src/dataform-layouts/normalize-form-fields.ts
  packages/dataviews/src/dataform-layouts/panel/dropdown.tsx
  packages/dataviews/src/dataform-layouts/panel/index.tsx
  packages/dataviews/src/dataform-layouts/panel/modal.tsx
  packages/dataviews/src/dataform-layouts/panel/style.scss
  packages/dataviews/src/dataform-layouts/panel/summary-button.tsx
  packages/dataviews/src/dataform-layouts/regular/index.tsx
  packages/dataviews/src/dataform-layouts/regular/style.scss
  packages/dataviews/src/dataform-layouts/row/index.tsx
  packages/dataviews/src/dataform-layouts/row/style.scss
  packages/dataviews/src/style.scss
  packages/dataviews/src/test/normalize-form-fields.ts
Labels: [Type] Code Quality, [Package] DataViews

#72058 DataViews: collocate render-from-elements util where it's used
  packages/dataviews/CHANGELOG.md
  packages/dataviews/src/field-types/boolean.tsx
  packages/dataviews/src/field-types/color.tsx
  packages/dataviews/src/field-types/date.ts
  packages/dataviews/src/field-types/datetime.tsx
  packages/dataviews/src/field-types/email.tsx
  packages/dataviews/src/field-types/index.tsx
  packages/dataviews/src/field-types/integer.tsx
  packages/dataviews/src/field-types/password.tsx
  packages/dataviews/src/field-types/telephone.tsx
  packages/dataviews/src/field-types/text.tsx
  packages/dataviews/src/field-types/url.tsx
  packages/dataviews/src/field-types/utils/render-from-elements.ts
Labels: [Type] Code Quality, [Package] DataViews

#72049 Template activation: fix /lookup endpoint to use custom resolve fn
  backport-changelog/6.9/8063.md
  lib/compat/wordpress-6.9/class-gutenberg-rest-old-templates-controller.php
  lib/compat/wordpress-6.9/template-activate.php
  packages/core-data/src/private-selectors.ts
  test/e2e/specs/editor/various/post-editor-template-mode.spec.js
Labels: [Type] Bug

#72066 DataForm: row layout can control field width
  packages/dataviews/CHANGELOG.md
  packages/dataviews/src/dataform-layouts/normalize-form-fields.ts
  packages/dataviews/src/dataform-layouts/row/index.tsx
  packages/dataviews/src/stories/dataform.story.tsx
  packages/dataviews/src/types/dataform.ts
Labels: [Type] Enhancement, [Feature] DataViews

#72054 Accordion Block: Added anchor support
  docs/reference-guides/core-blocks.md
  packages/block-library/src/accordion/block.json
Labels: [Type] Enhancement, [Feature] Block API, [Block] Accordion

#72021 Fix auto focus in accordion block
  packages/block-library/src/accordion-heading/edit.js
  packages/block-library/src/accordion/edit.js
Labels: [Type] Bug, First-time Contributor, [Block] Accordion

#72075 Changelog automation: add "Collaboration" mapping
  bin/plugin/commands/changelog.js
Labels: [Type] Project Management

#72090 Block Editor: Document 'selectBlock' skip focus behavior
  docs/reference-guides/data/data-core-block-editor.md
  packages/block-editor/src/store/actions.js
Labels: [Type] Developer Documentation, [Package] Block editor

#71793 Blocks: Add Breadcrumbs block
  docs/reference-guides/core-blocks.md
  lib/blocks.php
  packages/block-library/src/breadcrumbs/block.json
  packages/block-library/src/breadcrumbs/edit.js
  packages/block-library/src/breadcrumbs/index.js
  packages/block-library/src/breadcrumbs/index.php
  packages/block-library/src/breadcrumbs/style.scss
  packages/block-library/src/index.js
  packages/block-library/src/style.scss
  packages/editor/src/components/provider/use-hide-blocks-from-inserter.js
  packages/icons/src/library/breadcrumbs.svg
  test/integration/fixtures/blocks/core__breadcrumbs.html
  test/integration/fixtures/blocks/core__breadcrumbs.json
  test/integration/fixtures/blocks/core__breadcrumbs.parsed.json
  test/integration/fixtures/blocks/core__breadcrumbs.serialized.html
Labels: New Block, [Package] Block library, No Core Sync Required

#72100 Fix flaky Template Activate e2e test
  test/e2e/specs/site-editor/template-activate.spec.js
Labels: [Type] Automated Testing

#72024 Block Comment: Add utility function to focus thead
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/index.js
  packages/editor/src/components/collab-sidebar/utils.js
Labels: [Focus] Accessibility (a11y), [Type] Code Quality, [Feature] Block Commenting

#72087 Build: Support watching SVG icons to generate TSX
  bin/packages/build-worker.js
  bin/packages/watch.js
  packages/icons/lib/build-worker-utils.js
  packages/icons/lib/generate-library.js
  packages/icons/package.json
Labels: [Type] Build Tooling, [Package] Icons

#72102 DataViews: Add views package to be used to persist view modifications and use it for patterns
  docs/manifest.json
  package-lock.json
  packages/dependency-extraction-webpack-plugin/lib/util.js
  packages/edit-site/package.json
  packages/edit-site/src/components/page-patterns/header.js
  packages/edit-site/src/components/page-patterns/index.js
  packages/edit-site/tsconfig.json
  packages/views/README.md
  packages/views/package.json
  packages/views/src/index.ts
  packages/views/src/load-view.ts
  packages/views/src/preference-keys.ts
  packages/views/src/types.ts
  packages/views/src/use-view.ts
  packages/views/tsconfig.json
  tools/webpack/packages.js
  tsconfig.json
Labels: [Type] Enhancement

#72071 Fix Navigation Link Focus Loss
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation-link/shared/controls.js
  packages/block-library/src/navigation-link/shared/test/controls.js
Labels: [Type] Bug, [Focus] Accessibility (a11y), [Block] Navigation Link

#72103 Block Comments: Add a11y related e2e tests
  test/e2e/specs/editor/various/block-comments.spec.js
Labels: [Type] Automated Testing

#72069 Block Comments: Ensure sort order matches blocks
  packages/editor/src/components/collab-sidebar/hooks.js
  test/e2e/specs/editor/various/block-comments.spec.js
Labels: [Type] Bug, [Feature] Block Commenting

#72117 Editor Canvas: Fix background color caused by invalid Sass value
  packages/base-styles/_default-custom-properties.scss
Labels: [Type] Bug, [Feature] Site Editor

#72079 Create Block: Enable `alias` package installation
  packages/create-block/CHANGELOG.md
  packages/create-block/lib/init-package-json.js
Labels: [Type] Enhancement, First-time Contributor, [Tool] Create Block

#72104 Add aspect ratio control for gallery block (#71116)
  docs/reference-guides/core-blocks.md
  packages/block-library/src/gallery/block.json
  packages/block-library/src/gallery/edit.js
  test/integration/fixtures/blocks/core__gallery-with-caption.json
  test/integration/fixtures/blocks/core__gallery.json
  test/integration/fixtures/blocks/core__gallery__columns.json
  test/integration/fixtures/blocks/core__gallery__deprecated-7.json
Labels: [Type] Enhancement, [Block] Gallery

#72127 Pages Dataviews: Support persistence
  packages/edit-site/src/components/page-templates/index.js
  packages/edit-site/src/components/page-templates/view-utils.js
  packages/edit-site/src/components/post-list/index.js
  packages/edit-site/src/components/post-list/view-utils.js
  packages/edit-site/src/components/posts-app-routes/posts.js
  packages/edit-site/src/components/sidebar-dataviews/dataview-item.js
  packages/edit-site/src/components/sidebar-dataviews/default-views.js
  packages/edit-site/src/components/sidebar-dataviews/index.js
  packages/edit-site/src/components/site-editor-routes/pages.js
Labels: [Type] Enhancement

#72011 Template activation: allow empty array to be set
  backport-changelog/6.9/8063.md
  lib/compat/wordpress-6.9/template-activate.php
  packages/core-data/src/private-selectors.ts
  packages/edit-site/src/components/dataviews-actions/index.js
  packages/editor/src/components/post-template/block-theme.js
Labels: [Type] Bug, Backport to Gutenberg RC

#72134 Fix: Prevent custom links from creating empty block bindings
  packages/block-library/src/navigation-link/shared/test/use-entity-binding.js
  packages/block-library/src/navigation-link/shared/use-entity-binding.js
Labels: [Type] Bug, [Block] Navigation Link, [Block] Submenu

#72149 Editor post featured image: Ensure hidden text is hidden when common CSS is not loaded
  packages/editor/src/components/post-featured-image/style.scss
Labels: [Type] Bug, [Package] Editor, CSS Styling

#72144 Block Comments: Simplify 'Actions' eligibility logic
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Type] Code Quality, [Feature] Block Commenting

#71986 Introduce block support and UI for allowedBlocks
  docs/reference-guides/block-api/block-supports.md
  docs/reference-guides/core-blocks.md
  packages/base-styles/_z-index.scss
  packages/block-editor/src/components/block-allowed-blocks/allowed-blocks-control.js
  packages/block-editor/src/components/block-allowed-blocks/index.js
  packages/block-editor/src/components/block-allowed-blocks/modal.js
  packages/block-editor/src/components/block-allowed-blocks/style.scss
  packages/block-editor/src/components/block-manager/index.js
  packages/block-editor/src/components/block-manager/style.scss
  packages/block-editor/src/components/inspector-controls-tabs/advanced-controls-panel.js
  packages/block-editor/src/components/inspector-controls/groups.js
  packages/block-editor/src/hooks/allowed-blocks.js
  packages/block-editor/src/hooks/index.js
  packages/block-editor/src/style.scss
  packages/block-library/src/group/block.json
  packages/editor/src/components/block-visibility/index.js
  packages/editor/src/components/block-visibility/style.scss
  packages/editor/src/components/preferences-modal/index.js
  packages/editor/src/style.scss
  schemas/json/block.json
  test/e2e/specs/editor/various/allowed-blocks.spec.js
Labels: [Type] Enhancement, [Feature] Blocks, [Feature] Extensibility, Needs Design Feedback

#72078 Fix Dataviews ItemClickable when set to false.
  packages/dataviews/CHANGELOG.md
  packages/dataviews/src/dataviews-layouts/utils/item-click-wrapper.tsx
Labels: [Type] Bug, [Feature] DataViews

#72126 Block Comments: Highlight block with new toggleBlockSpotlight private API
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/content.scss
  packages/block-editor/src/components/block-list/use-block-props/index.js
  packages/block-editor/src/store/private-actions.js
  packages/block-editor/src/store/private-selectors.js
  packages/block-editor/src/store/reducer.js
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Type] Enhancement, Needs Design Feedback, [Feature] Block Commenting

#72152 Block Comments: Extract CRUD actions into a separate hook
  packages/editor/src/components/collab-sidebar/hooks.js
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Type] Code Quality, [Feature] Block Commenting

#72154 Block API: Add block visibility control in the command center
  packages/block-editor/src/components/use-block-commands/index.js
Labels: [Type] Enhancement, [Feature] Block API

#72140 Build: Replace webpack bundling with esbuild for packages marked as v2
  bin/packages/build-v2.mjs
  bin/packages/build-worker-esbuild.js
  bin/packages/build-worker.js
  bin/packages/v2-packages.js
  package.json
  tools/webpack/packages.js
Labels: [Type] Build Tooling

#72095 Accordion panel item: Disable edit as HTML support
  docs/reference-guides/core-blocks.md
  packages/block-library/src/accordion-item/block.json
  packages/block-library/src/accordion-panel/block.json
Labels: [Type] Bug, [Block] Accordion

#72156 Template activation: add meta to all newly created templates
  backport-changelog/6.9/8063.md
  lib/compat/wordpress-6.9/template-activate.php
Labels: [Type] Bug, Backport to Gutenberg RC

#71904 Add: Fit text/stretch text block supports and variation.
  backport-changelog/6.9/10190.md
  docs/reference-guides/core-blocks.md
  lib/block-supports/typography.php
  packages/block-editor/package.json
  packages/block-editor/src/hooks/fit-text.js
  packages/block-editor/src/hooks/index.js
  packages/block-editor/src/hooks/typography.js
  packages/block-editor/src/utils/fit-text-frontend.js
  packages/block-editor/src/utils/fit-text-utils.js
  packages/block-library/src/common.scss
  packages/block-library/src/heading/block.json
  packages/block-library/src/heading/index.js
  packages/block-library/src/heading/variations.js
  packages/block-library/src/paragraph/block.json
  packages/block-library/src/paragraph/index.js
  packages/block-library/src/paragraph/variations.js
  test/e2e/specs/editor/blocks/details.spec.js
  test/e2e/specs/editor/blocks/list.spec.js
  test/e2e/specs/editor/plugins/allowed-blocks.spec.js
  test/e2e/specs/editor/plugins/block-variations.spec.js
  test/e2e/specs/editor/plugins/child-blocks.spec.js
  test/e2e/specs/editor/plugins/inner-blocks-allowed-blocks.spec.js
  test/e2e/specs/editor/plugins/post-type-locking.spec.js
  test/e2e/specs/editor/various/autocomplete-and-mentions.spec.js
  test/e2e/specs/editor/various/block-hierarchy-navigation.spec.js
  test/e2e/specs/editor/various/block-switcher.spec.js
  test/e2e/specs/editor/various/block-visibility.spec.js
  test/e2e/specs/editor/various/inserting-blocks.spec.js
  test/e2e/specs/editor/various/list-view.spec.js
  test/e2e/specs/editor/various/navigable-toolbar.spec.js
  test/e2e/specs/widgets/editing-widgets.spec.js
Labels: [Type] Enhancement, [Feature] Block API

#72146 Properly position color panel popover
  packages/block-editor/src/components/global-styles/color-panel.js
Labels: [Type] Bug, [Feature] Colors
