Repository WordPress/gutenberg, pull requests merged in 2025-06, with the labels that each got.

#70247 Comment Edit Link: Refactor settings panel to use ToolsPanel
  packages/block-library/src/comment-edit-link/edit.js
Labels: [Type] Enhancement, [Block] Comment Edit Link

#70292 Small grammar fix in glossary.md
  docs/getting-started/glossary.md
Labels: [Type] Developer Documentation, First-time Contributor

#41118 Remove forced focus of `InputControl` on mousedown
  packages/components/CHANGELOG.md
  packages/components/src/input-control/input-field.tsx
  packages/components/src/input-control/test/index.js
Labels: [Type] Code Quality, [Package] Components

#70215 Create Block: Add documentation for custom block namespace
  packages/create-block/README.md
Labels: [Type] Developer Documentation, [Tool] Create Block

#70309 iAPI: Fix the changelog to include PR 70296 in 6.25
  packages/interactivity/CHANGELOG.md
Labels: [Type] Code Quality, [Packages] Interactivity

#70302 iAPI: Fix duplicated nested regions
  packages/e2e-tests/plugins/interactive-blocks/router-regions/render.php
  packages/e2e-tests/plugins/interactive-blocks/router-regions/view.js
  packages/interactivity-router/CHANGELOG.md
  packages/interactivity-router/src/index.ts
  test/e2e/specs/interactivity/router-regions.spec.ts
Labels: [Type] Bug, [Feature] Interactivity API, [Package] Interactivity Router

#70315 iAPI: Export `NavigateOptions` and `PrefetchOptions` types
  packages/interactivity-router/CHANGELOG.md
  packages/interactivity-router/src/index.ts
Labels: [Type] Enhancement, [Feature] Interactivity API, [Package] Interactivity Router

#70304 iAPI: Fix parsing of comments without siblings
  packages/e2e-tests/plugins/interactive-blocks/tovdom/processing-instructions.js
  packages/e2e-tests/plugins/interactive-blocks/tovdom/render.php
  packages/interactivity/CHANGELOG.md
  packages/interactivity/src/init.ts
  packages/interactivity/src/test/vdom.ts
  packages/interactivity/src/vdom.ts
  test/e2e/specs/interactivity/directive-priorities.spec.ts
  test/e2e/specs/interactivity/tovdom.spec.ts
Labels: [Type] Bug, [Feature] Interactivity API, [Packages] Interactivity

#70307 Navigation Block: Flip submenu indicator icon on submenu expansion
  packages/block-library/src/navigation/style.scss
Labels: [Type] Enhancement, Needs Design Feedback, [Block] Navigation, First-time Contributor

#69141 E2E Tests: Add test case for `Link` color support
  test/e2e/specs/editor/various/color-support.spec.js
Labels: [Type] Automated Testing

#70331 test: improve document settings sidebar locator
  packages/e2e-test-utils-playwright/src/editor/open-document-settings-sidebar.ts
Labels: [Type] Enhancement, [Tool] E2E Test Utils, First-time Contributor

#70346 Image: Fix outdated accessibility hint on native component
  packages/components/src/mobile/image/index.native.js
Labels: First-time Contributor

#67972 Refactor Site Logo "Settings" Panel to Use ToolsPanel
  packages/block-library/src/site-logo/edit.js
Labels: [Type] Enhancement, First-time Contributor, [Block] Site Logo

#70348 Social Link: Use `placement` prop for popover positioning
  packages/block-library/src/social-link/edit.js
Labels: [Type] Code Quality, [Block] Social

#70375 Fix typo folder-structure.md
  docs/contributors/folder-structure.md
Labels: [Type] Developer Documentation

#70361 block-attributes: Add `role` attribute explanation
  docs/reference-guides/block-api/block-attributes.md
Labels: [Type] Developer Documentation

#70359 Circular Option Picker: Use 'placement' prop for popover positioning
  packages/components/src/circular-option-picker/stories/index.story.tsx
Labels: [Type] Code Quality, [Package] Components

#70382 E2E Tests: Minor code quality improvement in some tests
  test/e2e/specs/editor/blocks/classic.spec.js
  test/e2e/specs/editor/blocks/cover.spec.js
  test/e2e/specs/editor/blocks/gallery.spec.js
  test/e2e/specs/editor/blocks/image.spec.js
  test/e2e/specs/editor/plugins/image-size.spec.js
  test/e2e/specs/editor/various/adding-inline-tokens.spec.js
Labels: [Type] Automated Testing

#52036 Add private selector support to resolveSelect and suspendSelect
  packages/data/CHANGELOG.md
  packages/data/src/redux-store/index.js
  packages/data/src/redux-store/test/index.js
  packages/data/src/test/privateAPIs.js
Labels: [Type] Bug, [Package] Data

#70091 Enhance: Add back button & fix focus loss when navigating
  packages/edit-site/src/components/add-new-template/add-custom-generic-template-modal-content.js
  packages/edit-site/src/components/add-new-template/add-custom-template-modal-content.js
  packages/edit-site/src/components/add-new-template/index.js
Labels: [Type] Bug, [Focus] Accessibility (a11y), [Feature] Templates API, [Feature] Site Editor

#67952 Avatar: Refactor settings panel to use ToolsPanel
  packages/block-library/src/avatar/edit.js
Labels: [Type] Enhancement, [Block] Avatar

#70394 Form Block: Apply class names correctly in the block editor
  packages/block-library/src/form/edit.js
Labels: [Type] Bug, [Block] Form (experimental)

#70360 Comments Pagination: Remove unwanted bottom margin from links
  packages/block-library/src/comments-pagination/editor.scss
  packages/block-library/src/comments-pagination/style.scss
Labels: [Type] Enhancement, [Block] Comments Pagination

#70402 Fix: Incorrect style handle in RTL style registration for wp-list-reusable-blocks
  lib/client-assets.php
Labels: Gutenberg Plugin, [Feature] Synced Patterns, First-time Contributor, No Core Sync Required

#70427 Revert "Flip submenu indicator icon on submenu expansion (#70307)"
  packages/block-library/src/navigation/style.scss
Labels: [Type] Bug, [Block] Navigation

#70354 FormFileUpload: Extend audio accept MIME types for iOS compatibility
  packages/components/CHANGELOG.md
  packages/components/src/form-file-upload/index.tsx
Labels: [Type] Bug, [Block] Audio, First-time Contributor

#70435 Data forms: achieve vertical spacing with vertical spacing rather than cell padding
  packages/dataviews/src/dataforms-layouts/data-form-layout.tsx
  packages/dataviews/src/dataforms-layouts/panel/style.scss
  packages/dataviews/src/dataforms-layouts/regular/style.scss
Labels: [Type] Bug, [Feature] DataViews, [Package] DataViews

#70410 Fix: Update post-publish panel to use taxonomy label instead of hardcoded "Tags"
  packages/editor/src/components/post-publish-panel/maybe-tags-panel.js
Labels: [Type] Bug, General Interface, [Package] Editor

#70460 Skip falling e2e tests
  test/e2e/specs/editor/blocks/site-title.spec.js
  test/e2e/specs/editor/various/multi-entity-saving.spec.js
Labels: [Type] Automated Testing

#70405 Media: Invalidate entities when new media is uploaded
  packages/editor/src/hooks/media-upload.js
  packages/editor/src/utils/media-upload/index.js
Labels: [Type] Bug, [Feature] Media

#70416 Fix image lightbox issues in new full client-side navigation logic
  packages/block-library/src/image/index.php
  packages/block-library/src/image/view.js
Labels: [Type] Bug, [Block] Image, [Feature] Interactivity API

#70421 iAPI Router: Add support for new router regions with `attachTo`
  packages/e2e-tests/plugins/interactive-blocks/router-regions/render.php
  packages/e2e-tests/plugins/interactive-blocks/router-regions/view.js
  packages/interactivity-router/CHANGELOG.md
  packages/interactivity-router/README.md
  packages/interactivity-router/src/index.ts
  test/e2e/specs/interactivity/router-regions.spec.ts
Labels: [Type] Feature, [Feature] Interactivity API, [Package] Interactivity Router

#70473 Docs: Fix broken links on Developer.WordPress.org
  docs/reference-guides/block-api/block-transforms.md
  docs/reference-guides/interactivity-api/core-concepts/server-side-rendering.md
  docs/reference-guides/interactivity-api/core-concepts/using-typescript.md
Labels: [Type] Developer Documentation

#69326 TypeScript: Converts HtmlEntities Package to TS
  packages/html-entities/src/index.ts
  packages/html-entities/src/test/entities.ts
Labels: [Type] Code Quality, [Package] HTML entities

#70480 Remove screencast.com embed block variation.
  packages/block-library/src/embed/variations.js
Labels: [Type] WP Core Ticket, [Block] Embed

#70489 iAPI Router: Fix dynamic imports on new visited pages
  packages/e2e-tests/plugins/interactive-blocks/router-script-modules-alpha/module-alpha-1.js
  packages/e2e-tests/plugins/interactive-blocks/router-script-modules-alpha/module-alpha-2.js
  packages/e2e-tests/plugins/interactive-blocks/router-script-modules-alpha/module.js
  packages/e2e-tests/plugins/interactive-blocks/router-script-modules-alpha/render.php
  packages/e2e-tests/plugins/interactive-blocks/router-script-modules-alpha/view.asset.php
  packages/e2e-tests/plugins/interactive-blocks/router-script-modules-alpha/view.js
  packages/e2e-tests/plugins/interactive-blocks/router-script-modules-bravo/module-bravo-1.js
  packages/e2e-tests/plugins/interactive-blocks/router-script-modules-bravo/module-bravo-2.js
  packages/e2e-tests/plugins/interactive-blocks/router-script-modules-bravo/module.js
  packages/e2e-tests/plugins/interactive-blocks/router-script-modules-bravo/render.php
  packages/e2e-tests/plugins/interactive-blocks/router-script-modules-bravo/view.asset.php
  packages/e2e-tests/plugins/interactive-blocks/router-script-modules-bravo/view.js
  packages/e2e-tests/plugins/interactive-blocks/router-script-modules-charlie/module-charlie-1.js
  packages/e2e-tests/plugins/interactive-blocks/router-script-modules-charlie/module-charlie-2.js
  packages/e2e-tests/plugins/interactive-blocks/router-script-modules-charlie/module.js
  packages/e2e-tests/plugins/interactive-blocks/router-script-modules-charlie/render.php
  packages/e2e-tests/plugins/interactive-blocks/router-script-modules-charlie/view.asset.php
  packages/e2e-tests/plugins/interactive-blocks/router-script-modules-charlie/view.js
  packages/e2e-tests/plugins/interactive-blocks/router-script-modules-wrapper/module-initial-1.js
  packages/e2e-tests/plugins/interactive-blocks/router-script-modules-wrapper/module-initial-2.js
  packages/e2e-tests/plugins/interactive-blocks/router-script-modules-wrapper/render.php
  packages/e2e-tests/plugins/interactive-blocks/router-script-modules-wrapper/view.asset.php
  packages/interactivity-router/CHANGELOG.md
  packages/interactivity-router/src/assets/dynamic-importmap/index.ts
  packages/interactivity-router/src/assets/dynamic-importmap/loader.ts
  packages/interactivity-router/src/assets/script-modules.ts
  test/e2e/specs/interactivity/router-script-modules.spec.ts
Labels: [Type] Bug, Backport to Gutenberg RC, [Feature] Interactivity API, [Package] Interactivity Router

#70398 Image: fixed resetAll to return image resolution to default value
  packages/block-library/src/image/image.js
Labels: [Type] Bug, [Block] Image

#70295 Video Block: Guard against duplicate tracks
  packages/block-library/src/video/tracks-editor.js
Labels: [Type] Bug, [Block] Video

#70505 Navigation Link: Add `dropdownMenuProps` and a `resetAll` function
  packages/block-library/src/navigation-link/edit.js
Labels: [Type] Enhancement, [Block] Navigation Link

#70512 PostAuthorCombobox: Simplify 'onFilterValueChange' debounced callback
  packages/editor/src/components/post-author/combobox.js
Labels: [Type] Code Quality, [Package] Editor

#70511 Avatar: Optimize user control query
  packages/block-library/src/avatar/user-control.js
Labels: [Type] Performance, [Block] Avatar

#70520 Fix submenu border visibility in Navigation block
  packages/block-library/src/navigation/style.scss
Labels: [Type] Bug, [Block] Navigation, First-time Contributor

#70510 Post Author: Optimize and improve user control queries
  packages/block-library/src/post-author/edit.js
Labels: [Type] Performance, [Block] Post Author

#70527 RawHTML: Clarify the wrapper 'div' element behavior
  packages/element/README.md
  packages/element/src/raw-html.js
Labels: [Type] Developer Documentation, [Package] Element

#70529 ServerSideRender: Use data hooks instead of HoC
  packages/server-side-render/src/index.js
Labels: [Type] Code Quality, [Package] Server Side Render

#70514 Featured Image: fixed resetAll to return image resolution to default value
  packages/block-library/src/post-featured-image/edit.js
Labels: [Type] Bug, [Block] Post Featured Image

#70551 e2e: Re-enable skipped E2E tests related to the settings REST API
  test/e2e/specs/editor/blocks/site-title.spec.js
  test/e2e/specs/editor/various/multi-entity-saving.spec.js
Labels: [Type] Automated Testing, First-time Contributor

#70553 Fix Floating UI packages dependencies
  package-lock.json
  packages/components/package.json
Labels: [Type] Code Quality, [Package] Components

#70535 usePostActions: avoid fetching all templates (unbound request)
  packages/editor/src/components/post-actions/actions.js
Labels: [Type] Performance

#70564 Updated support for MS Word Images
  packages/blocks/src/api/raw-handling/readme.md
Labels: [Type] Developer Documentation, First-time Contributor

#70565 CodeVitals: Use a different SHA for the base branch
  .github/workflows/performance.yml
Labels: [Type] Automated Testing

#70556 Background panel: Remove unused style
  packages/block-editor/src/components/background-image-control/style.scss
Labels: [Type] Code Quality, [Package] Block editor

#67262 Navigation Link: Add "Open in new tab" toggle to navigation block sidebar
  packages/block-library/src/navigation-link/edit.js
Labels: [Type] Enhancement, Needs Design Feedback, [Block] Navigation Link
