Repository WordPress/gutenberg, pull requests merged in 2025-08, with the labels that each got.

#70999 Cache redundant function call for is_user_logged_in() function
  packages/block-library/src/form-input/index.php
  packages/block-library/src/loginout/index.php
Labels: [Type] Code Quality, [Block] Login/out

#71004 DataViews: `perPageSizes` tweaks
  packages/dataviews/CHANGELOG.md
  packages/dataviews/README.md
  packages/dataviews/src/components/dataviews-context/index.ts
  packages/dataviews/src/components/dataviews-view-config/index.tsx
  packages/dataviews/src/components/dataviews/index.tsx
  packages/dataviews/src/components/dataviews/stories/index.story.tsx
Labels: [Type] Enhancement, [Feature] DataViews

#71008 Add changelog entry for #70493.
  packages/dataviews/CHANGELOG.md
  packages/dataviews/README.md
Labels: [Type] Developer Documentation

#70985 Dataviews: make the media item clickable as well
  packages/dataviews/CHANGELOG.md
  packages/dataviews/src/dataviews-layouts/table/column-primary.tsx
Labels: [Type] Enhancement, [Feature] DataViews

#71021 DataViews: do not render an empty level span if level is 0
  packages/dataviews/CHANGELOG.md
  packages/dataviews/src/dataviews-layouts/table/column-primary.tsx
Labels: [Type] Bug, [Feature] DataViews

#70983 Added max-width to DataView columns
  packages/dataviews/CHANGELOG.md
  packages/dataviews/src/components/dataviews/stories/fixtures.tsx
  packages/dataviews/src/dataviews-layouts/table/column-primary.tsx
  packages/dataviews/src/dataviews-layouts/table/style.scss
  packages/dataviews/src/test/filter-and-sort-data-view.js
  packages/edit-site/src/components/page-templates/fields.js
  packages/edit-site/src/components/page-templates/index.js
  packages/edit-site/src/components/page-templates/style.scss
Labels: [Type] Bug, First-time Contributor, [Feature] DataViews, [Package] DataViews

#70867 Dataviews: Allow dataviews empty state to be customised
  packages/dataviews/CHANGELOG.md
  packages/dataviews/README.md
  packages/dataviews/src/components/dataviews-context/index.ts
  packages/dataviews/src/components/dataviews-layout/index.tsx
  packages/dataviews/src/components/dataviews/index.tsx
  packages/dataviews/src/components/dataviews/stories/index.story.tsx
  packages/dataviews/src/components/dataviews/stories/style.css
  packages/dataviews/src/dataviews-layouts/grid/index.tsx
  packages/dataviews/src/dataviews-layouts/list/index.tsx
  packages/dataviews/src/dataviews-layouts/table/index.tsx
  packages/dataviews/src/types.ts
Labels: [Type] Feature, [Feature] DataViews, [Package] DataViews

#71027 Image Block: Prepend HTTP to links when missing protocol
  packages/block-editor/src/components/url-popover/image-url-input-ui.js
  test/e2e/specs/editor/blocks/image.spec.js
Labels: [Type] Bug, [Block] Image

#71023 CI: add workflow to check if there is a changelog entry for dataviews
  .github/workflows/check-dataviews-changelog.yml
Labels: [Type] Automated Testing

#71041 Field elements: add changelog for custom empty element
  packages/dataviews/CHANGELOG.md
  packages/dataviews/README.md
Labels: [Type] Developer Documentation, [Feature] DataViews

#70783 Blocks: Display browser console warnings for blocks with apiVersion below 2
  docs/reference-guides/block-api/block-api-versions.md
  packages/blocks/src/store/process-block-type.js
  test/unit/config/suppress-browser-warnings.js
  test/unit/jest.config.js
Labels: [Type] Developer Documentation, Backwards Compatibility, [Package] Blocks, Needs Dev Note

#70943 Synced Pattern block: Pass block context to pattern content
  packages/block-library/src/block/index.php
  phpunit/blocks/renderReusable.php
Labels: [Type] Bug, [Feature] Synced Patterns, [Feature] Block bindings

#71040 Clarify block name immutability and namespace best practices [docs]
  docs/reference-guides/block-api/block-registration.md
Labels: [Feature] Block API, [Type] Developer Documentation

#70466 Migrate `keycodes` package to TypeScript
  packages/keycodes/README.md
  packages/keycodes/src/index.ts
  packages/keycodes/src/platform.ts
  packages/keycodes/src/test/index.ts
  packages/keycodes/src/test/platform.js
  packages/keycodes/src/test/platform.ts
Labels: [Type] Code Quality, [Package] Keycodes

#71016 Add preview example for `comments-count` and `comments-link`
  packages/block-library/src/post-comments-count/block.json
  packages/block-library/src/post-comments-link/block.json
Labels: [Type] Enhancement, [Block] Comments Count, [Block] Comment Link

#71059 Pages: filters should not be visible if they are present in the bundled view
  packages/edit-site/src/components/post-list/index.js
Labels: [Type] Bug, [Feature] DataViews

#71062 MediaReplaceFlow: Correctly truncate long URL
  packages/block-editor/src/components/media-replace-flow/style.scss
Labels: [Type] Bug, [Feature] Media, [Package] Block editor

#70855 Override the existing file paths using those from a variant
  packages/create-block/CHANGELOG.md
  packages/create-block/docs/external-template.md
  packages/create-block/lib/scaffold.js
  packages/create-block/lib/templates.js
Labels: [Type] Feature, [Tool] Create Block, Developer Experience

#71071 Mentioning Playground CLI instead wp-now
  docs/getting-started/devenv/README.md
  docs/reference-guides/interactivity-api/iapi-quick-start-guide.md
Labels: [Type] Developer Documentation

#71032 Updated Inline Documentation order in duotone file
  lib/block-supports/duotone.php
Labels: [Type] Developer Documentation, No Core Sync Required

#71053 List: Add keyboard shortcuts to Indent/Outdent tooltips
  packages/block-library/src/list-item/edit.js
Labels: [Type] Enhancement, [Feature] Writing Flow, [Block] List

#71084 Update LTR and RTL icons
  packages/icons/src/library/format-ltr.tsx
  packages/icons/src/library/format-rtl.tsx
Labels: [Type] Enhancement, [Package] Icons

#70747 Add Term Template block
  docs/reference-guides/core-blocks.md
  lib/blocks.php
  packages/block-library/src/editor.scss
  packages/block-library/src/index.js
  packages/block-library/src/term-template/block.json
  packages/block-library/src/term-template/edit.js
  packages/block-library/src/term-template/editor.scss
  packages/block-library/src/term-template/index.js
  packages/block-library/src/term-template/index.php
  packages/block-library/src/term-template/save.js
  packages/block-library/src/terms-query/README.md
  packages/block-library/src/terms-query/block.json
  packages/block-library/src/terms-query/terms-query-content.js
  test/integration/fixtures/blocks/core__term-template.html
  test/integration/fixtures/blocks/core__term-template.json
  test/integration/fixtures/blocks/core__term-template.parsed.json
  test/integration/fixtures/blocks/core__term-template.serialized.html
Labels: New Block, [Type] Experimental

#71096 Editor: Move editor-sidebar CSS reset closer to its target
  packages/edit-post/src/style.scss
  packages/edit-site/src/components/global-styles-sidebar/style.scss
  packages/editor/src/components/header/style.scss
  packages/editor/src/components/post-publish-panel/style.scss
  packages/editor/src/components/sidebar/style.scss
  packages/editor/src/components/text-editor/style.scss
Labels: [Type] Bug, [Package] Editor, Good First Review, [Package] Edit Post

#71038 Core data: Deprecate the root/media entity
  docs/reference-guides/data/data-core-editor.md
  docs/reference-guides/data/data-core.md
  packages/block-library/src/cover/edit/index.js
  packages/block-library/src/cover/edit/inspector-controls.js
  packages/block-library/src/file/edit.js
  packages/block-library/src/file/edit.native.js
  packages/block-library/src/file/transforms.js
  packages/block-library/src/gallery/use-get-media.js
  packages/block-library/src/gallery/use-get-media.native.js
  packages/block-library/src/image/edit.native.js
  packages/block-library/src/image/image.js
  packages/block-library/src/image/test/edit.native.js
  packages/block-library/src/media-text/edit.js
  packages/block-library/src/post-featured-image/edit.js
  packages/block-library/src/site-logo/edit.js
  packages/core-data/README.md
  packages/core-data/src/actions.js
  packages/core-data/src/entities.js
  packages/core-data/src/hooks/test/use-resource-permissions.js
  packages/core-data/src/hooks/use-resource-permissions.ts
  packages/core-data/src/index.js
  packages/core-data/src/private-actions.js
  packages/core-data/src/private-selectors.ts
  packages/core-data/src/resolvers.js
  packages/core-data/src/selectors.ts
  packages/core-data/src/test/deprecated-entity-logging.js
  packages/core-data/src/test/private-actions.js
  packages/core-data/src/test/resolvers.js
  packages/core-data/src/test/selectors.js
  packages/core-data/src/utils/log-entity-deprecation.ts
  packages/core-data/src/utils/test/log-entity-deprecation.js
  packages/customize-widgets/src/components/sidebar-block-editor/index.js
  packages/edit-site/src/components/media/index.js
  packages/edit-site/src/components/page-templates/hooks.js
  packages/edit-site/src/components/style-book/index.js
  packages/edit-site/src/store/selectors.js
  packages/edit-widgets/src/components/widget-areas-block-editor-provider/index.js
  packages/editor/src/components/media-categories/index.js
  packages/editor/src/components/post-featured-image/index.js
  packages/editor/src/components/provider/index.native.js
  packages/editor/src/components/provider/use-block-editor-settings.js
  packages/editor/src/store/actions.js
  packages/editor/src/store/selectors.js
  packages/editor/src/utils/media-upload/index.js
  packages/fields/src/fields/featured-image/featured-image-edit.tsx
  packages/fields/src/fields/featured-image/featured-image-view.tsx
  test/native/integration-test-helpers/transform-block.js
Labels: [Type] Task, [Package] Core data, Needs Dev Note

#71075 DataViews: introduce locked filters
  packages/dataviews/CHANGELOG.md
  packages/dataviews/README.md
  packages/dataviews/src/components/dataviews-filters/filter.tsx
  packages/dataviews/src/components/dataviews-filters/index.tsx
  packages/dataviews/src/components/dataviews-filters/reset-filters.tsx
  packages/dataviews/src/components/dataviews-filters/style.scss
  packages/dataviews/src/components/dataviews/index.tsx
  packages/dataviews/src/types.ts
  packages/edit-site/src/components/post-list/index.js
  packages/edit-site/src/components/sidebar-dataviews/default-views.js
Labels: [Type] Enhancement, [Feature] DataViews

#71085 Update old table icons.
  packages/icons/src/library/table-column-after.tsx
  packages/icons/src/library/table-column-before.tsx
  packages/icons/src/library/table-column-delete.tsx
  packages/icons/src/library/table-row-after.tsx
  packages/icons/src/library/table-row-before.tsx
  packages/icons/src/library/table-row-delete.tsx
  packages/icons/src/library/table.tsx
Labels: [Type] Enhancement, [Package] Icons

#69117 E2E Tests: Split large Navigation tests into smaller tests
  test/e2e/specs/editor/blocks/navigation.spec.js
Labels: [Type] Code Quality, [Block] Navigation

#71106 wordcount: fix count function signature to make `userSettings` parameter optional
  packages/wordcount/src/index.ts
Labels: [Type] Code Quality

#70503 Upgrade Playwright to v1.54.2
  package-lock.json
  package.json
  packages/e2e-tests/plugins/custom-grouping-block/index.js
  packages/scripts/package.json
  test/e2e/specs/editor/blocks/buttons.spec.js
  test/e2e/specs/editor/blocks/links.spec.js
  test/e2e/specs/editor/blocks/list.spec.js
  test/e2e/specs/editor/blocks/quote.spec.js
  test/e2e/specs/editor/blocks/spacer.spec.js
  test/e2e/specs/editor/plugins/block-variations.spec.js
  test/e2e/specs/editor/various/autocomplete-and-mentions.spec.js
  test/e2e/specs/editor/various/copy-cut-paste.spec.js
  test/e2e/specs/editor/various/multi-block-selection.spec.js
  test/e2e/specs/editor/various/writing-flow.spec.js
  test/e2e/specs/interactivity/router-styles.spec.ts
Labels: [Type] Automated Testing

#71121 FormTokenField: Improve use case stories
  packages/components/src/form-token-field/stories/index.story.tsx
Labels: [Type] Developer Documentation, [Package] Components, Storybook

#71061 Fix: Hide crop and dimensions controls in site-logo block when in Write Mode
  packages/block-library/src/site-logo/edit.js
Labels: [Type] Enhancement, [Block] Site Logo, [Feature] Write mode

#71151 Fix duotone `cleanEmptyObject` attributes
  packages/block-editor/src/hooks/duotone.js
Labels: [Type] Bug, [Feature] Design Tools

#71034 File Block: Follow HTML API best practices
  packages/block-library/src/file/index.php
Labels: [Type] Code Quality, [Block] File

#70674 Primary button: Update disabled state to be less prominent.
  packages/components/CHANGELOG.md
  packages/components/src/button/style.scss
Labels: [Type] Enhancement, [Feature] Component System

#71120 Add `enableMoving` option to the `table` layout to allow or disallow column moving left and right
  packages/dataviews/CHANGELOG.md
  packages/dataviews/src/components/dataviews/stories/index.story.tsx
  packages/dataviews/src/dataviews-layouts/table/column-header-menu.tsx
  packages/dataviews/src/dataviews-layouts/table/index.tsx
  packages/dataviews/src/types.ts
Labels: [Type] Enhancement, Needs Design Feedback, [Feature] DataViews

#71077 Add smaller preview size to dataviews grid layout
  packages/dataviews/CHANGELOG.md
  packages/dataviews/src/dataviews-layouts/grid/index.tsx
  packages/dataviews/src/dataviews-layouts/grid/preview-size-picker.tsx
  packages/dataviews/src/dataviews-layouts/grid/style.scss
Labels: [Type] Enhancement, [Feature] DataViews

#71183 DocumentBar: Only show template icon when back button is not present
  packages/editor/src/components/document-bar/index.js
Labels: [Type] Bug, [Package] Editor, [Feature] Site Editor, [Feature] Write mode

#71155 Fix viewbox for table and formatting related icons
  packages/icons/src/library/format-ltr.tsx
  packages/icons/src/library/format-rtl.tsx
  packages/icons/src/library/insert-after.tsx
  packages/icons/src/library/insert-before.tsx
  packages/icons/src/library/table-column-after.tsx
  packages/icons/src/library/table-column-before.tsx
  packages/icons/src/library/table-column-delete.tsx
  packages/icons/src/library/table-row-after.tsx
  packages/icons/src/library/table-row-before.tsx
  packages/icons/src/library/table-row-delete.tsx
Labels: [Type] Bug, [Package] Icons

#71126 Automated Testing: Re-enable storybook smoke test
  .github/workflows/storybook-check.yml
Labels: [Type] Automated Testing, Storybook

#71185 Update `@tannin/sprintf` for full precision typing support in `@wordpress/i18n`'s sprintf
  package-lock.json
  packages/i18n/package.json
Labels: [Type] Enhancement, [Package] i18n

#71148 Classic block: Prevent event bubbubbling on paste
  packages/block-library/src/freeform/edit.js
Labels: [Type] Bug, [Feature] Paste, [Block] Classic

#71136 DataForm: add `array` control
  packages/dataviews/CHANGELOG.md
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/dataform-controls/array.tsx
  packages/dataviews/src/dataform-controls/index.tsx
  packages/dataviews/src/field-types/array.tsx
Labels: [Type] Enhancement, First-time Contributor, [Feature] DataViews

#71178 DataViews story: rename "Non-interactive" to "Minimal UI"
  packages/dataviews/src/components/dataviews/stories/index.story.tsx
Labels: [Type] Enhancement, [Feature] DataViews

#71197 Site editor e2e: ensure dismissal notice waits for the first occurrence of an updated/published notice
  packages/e2e-test-utils-playwright/src/editor/site-editor.ts
Labels: [Type] Automated Testing, [Package] E2E Tests

#71090 Dynamically set `node-version-file` input
  .github/setup-node/action.yml
Labels: [Type] Build Tooling

#71179 Post Excerpts Block: Fix "read more" theme override
  packages/block-library/src/post-excerpt/index.php
  phpunit/blocks/renderBlockCorePostExcerpt.php
Labels: [Type] Bug, [Block] Post Excerpt

#64119 Add Accordions Block
  docs/reference-guides/core-blocks.md
  lib/blocks.php
  packages/block-library/package.json
  packages/block-library/src/accordion-header/block.json
  packages/block-library/src/accordion-header/edit.js
  packages/block-library/src/accordion-header/index.js
  packages/block-library/src/accordion-header/init.js
  packages/block-library/src/accordion-header/save.js
  packages/block-library/src/accordion-item/block.json
  packages/block-library/src/accordion-item/edit.js
  packages/block-library/src/accordion-item/icons.js
  packages/block-library/src/accordion-item/index.js
  packages/block-library/src/accordion-item/index.php
  packages/block-library/src/accordion-item/init.js
  packages/block-library/src/accordion-item/save.js
  packages/block-library/src/accordion-panel/block.json
  packages/block-library/src/accordion-panel/edit.js
  packages/block-library/src/accordion-panel/index.js
  packages/block-library/src/accordion-panel/init.js
  packages/block-library/src/accordion-panel/save.js
  packages/block-library/src/accordions/block.json
  packages/block-library/src/accordions/edit.js
  packages/block-library/src/accordions/index.js
  packages/block-library/src/accordions/index.php
  packages/block-library/src/accordions/init.js
  packages/block-library/src/accordions/save.js
  packages/block-library/src/accordions/style.scss
  packages/block-library/src/accordions/view.js
  packages/block-library/src/index.js
  packages/block-library/src/style.scss
  packages/icons/src/index.ts
  packages/icons/src/library/accordion-header.tsx
  packages/icons/src/library/accordion-item.tsx
  packages/icons/src/library/accordion-panel.tsx
  packages/icons/src/library/accordion.tsx
Labels: New Block, Needs Accessibility Feedback, No Core Sync Required, [Block] Accordion

#71186 Components: Update gradient-parser from 1.0.2 to 1.1.1
  package-lock.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/components/src/custom-gradient-picker/serializer.ts
  packages/components/src/custom-gradient-picker/test/serializer.ts
  packages/components/src/custom-gradient-picker/utils.ts
  packages/components/src/gradient-picker/stories/index.story.tsx
Labels: [Type] Enhancement, [Package] Components

#71100 DataForm: add new `card` layout
  packages/dataviews/CHANGELOG.md
  packages/dataviews/README.md
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/dataforms-layouts/card/index.tsx
  packages/dataviews/src/dataforms-layouts/card/style.scss
  packages/dataviews/src/dataforms-layouts/data-form-layout.tsx
  packages/dataviews/src/dataforms-layouts/index.tsx
  packages/dataviews/src/dataforms-layouts/panel/index.tsx
  packages/dataviews/src/dataforms-layouts/regular/index.tsx
  packages/dataviews/src/normalize-form-fields.ts
  packages/dataviews/src/test/dataform.tsx
  packages/dataviews/src/test/normalize-form-fields.ts
  packages/dataviews/src/types.ts
  packages/edit-site/src/components/post-edit/index.js
Labels: [Type] Enhancement, [Feature] DataViews

#71217 Fields Components: Add missing style resets for fieldset elements
  packages/fields/src/components/create-template-part-modal/index.tsx
  packages/fields/src/components/create-template-part-modal/style.scss
  packages/fields/src/fields/featured-image/style.scss
  packages/fields/src/fields/parent/style.scss
  packages/fields/src/fields/password/style.scss
  packages/fields/src/fields/slug/style.scss
  packages/fields/src/fields/template/style.scss
  packages/fields/src/style.scss
Labels: [Type] Bug, CSS Styling, [Package] Fields

#71172 Deprecate moreHorizontalMobile.
  packages/block-editor/src/components/block-toolbar/block-toolbar-menu.native.js
  packages/icons/CHANGELOG.md
  packages/icons/src/index.ts
  packages/icons/src/library/more-horizontal-mobile.tsx
Labels: [Type] Breaking Change, Needs Dev Note, [Package] Icons, Design System

#71225 Accordion: Refactor settings panel to use ToolsPanel
  packages/block-library/src/accordion-item/edit.js
  packages/block-library/src/accordions/edit.js
Labels: [Type] Code Quality, [Block] Accordion (experimental)

#71173 DataViews: allow hiding config
  packages/dataviews/CHANGELOG.md
  packages/dataviews/README.md
  packages/dataviews/src/components/dataviews-context/index.ts
  packages/dataviews/src/components/dataviews-view-config/index.tsx
  packages/dataviews/src/components/dataviews/index.tsx
  packages/dataviews/src/components/dataviews/stories/index.story.tsx
Labels: [Type] Enhancement, [Feature] DataViews

#71229 Accordion Blocks: Make block icons internal
  packages/block-library/src/accordion-header/icon.js
  packages/block-library/src/accordion-header/index.js
  packages/block-library/src/accordion-item/icon.js
  packages/block-library/src/accordion-item/index.js
  packages/block-library/src/accordion-panel/icon.js
  packages/block-library/src/accordion-panel/index.js
  packages/block-library/src/accordions/icon.js
  packages/block-library/src/accordions/index.js
  packages/icons/src/index.ts
Labels: Backwards Compatibility, [Type] Experimental, [Block] Accordion (experimental)

#71030 Experimental: Enable Command Palette in admin dashboard
  lib/experimental/commands.php
  lib/experiments-page.php
  lib/load.php
  packages/core-commands/README.md
  packages/core-commands/src/index.js
  packages/router/src/router.tsx
Labels: [Type] Experimental, [Package] Core commands, [Type] Command Palette

#71248 DateCalendar, DateRangeCalendar: use px instead of rem units, better theming support
  packages/components/CHANGELOG.md
  packages/components/src/calendar/style.scss
  packages/components/src/utils/theme-variables.scss
Labels: [Type] Bug, [Package] Components

#71212 DataForm: panel layout can open as `dropdown` or `modal`
  packages/dataviews/CHANGELOG.md
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/dataforms-layouts/panel/dropdown.tsx
  packages/dataviews/src/dataforms-layouts/panel/index.tsx
  packages/dataviews/src/dataforms-layouts/panel/modal.tsx
  packages/dataviews/src/dataforms-layouts/panel/style.scss
  packages/dataviews/src/normalize-form-fields.ts
  packages/dataviews/src/test/dataform.tsx
  packages/dataviews/src/test/normalize-form-fields.ts
  packages/dataviews/src/types.ts
Labels: [Type] Enhancement, [Package] DataViews

#71241 Editor: Fix drag and drop to the top of the page
  packages/block-editor/src/components/use-block-drop-zone/index.js
  packages/block-library/src/post-comments-link/edit.js
Labels: [Type] Bug, [Feature] Drag and Drop

#71274 Fix DataViews primary actions horizontal layout consistency
  packages/dataviews/CHANGELOG.md
  packages/dataviews/src/components/dataviews-item-actions/index.tsx
Labels: [Type] Bug, [Feature] DataViews, [Package] DataViews

#71285 Upgrade Playwright to v1.55
  package-lock.json
  package.json
  packages/scripts/package.json
  test/e2e/specs/editor/various/pattern-overrides.spec.js
  test/e2e/specs/editor/various/patterns.spec.js
Labels: [Type] Automated Testing

#71262 Move `Site Editor` command from `@wordpress/editor` package to `@wordpress/core-commands`
  packages/core-commands/src/admin-navigation-commands.js
  packages/editor/src/components/commands/index.js
Labels: [Type] Enhancement, [Package] Core commands

#70624 feat: added keyword support & added basic keywords for post/page
  packages/commands/README.md
  packages/commands/src/components/command-menu.js
  packages/commands/src/hooks/use-command.js
  packages/commands/src/store/actions.js
  packages/commands/src/store/reducer.js
  packages/core-commands/src/admin-navigation-commands.js
  test/e2e/specs/site-editor/command-center.spec.js
Labels: [Type] Enhancement, [Package] Commands

#71279 Block Editor: Fold `uniqueByBlock` into `options` object
  docs/reference-guides/data/data-core-block-editor.md
  packages/block-editor/src/store/actions.js
  packages/block-editor/src/store/reducer.js
  packages/block-editor/src/store/test/actions.js
  packages/block-editor/src/store/test/reducer.js
  packages/block-library/src/gallery/edit.js
Labels: [Type] Code Quality, [Package] Block editor

#71080 wp-scripts: Remove `clean-webpack-plugin` dependency.
  package-lock.json
  packages/scripts/CHANGELOG.md
  packages/scripts/config/webpack.config.js
  packages/scripts/package.json
Labels: [Type] Bug, [Tool] WP Scripts

#71280 Fix: Add JSON_HEX_TAG flag to wp_json_encode in script tags
  lib/compat/wordpress-6.9/customizer-preview-custom-css.php
  lib/experimental/posts/load.php
Labels: [Type] Code Quality, No Core Sync Required

#71264 Command Palette: Enqueue assets globally
  backport-changelog/6.9/9542.md
  lib/compat/wordpress-6.9/command-palette.php
  lib/experimental/commands.php
  lib/experiments-page.php
  lib/load.php
  package-lock.json
  packages/core-commands/src/index.js
  packages/edit-post/package.json
  packages/edit-post/src/components/layout/index.js
  packages/edit-site/package.json
  packages/edit-site/src/components/layout/index.js
Labels: [Type] Code Quality, [Type] Command Palette

#71292 Image block: Remove unused code
  packages/block-library/src/image/edit.js
Labels: [Type] Code Quality, [Block] Image

#71288 Hooks: Document 'hookName' and 'namespace' parameters
  packages/hooks/README.md
Labels: [Type] Developer Documentation, [Package] Hooks

#71298 DataForm: better story for validation
  packages/dataviews/src/components/dataform/stories/index.story.tsx
Labels: [Type] Developer Documentation, [Package] DataViews

#71304 Core Data: Forward resolvers for pagination selectors
  packages/core-data/src/resolvers.js
Labels: [Type] Enhancement, [Package] Core data

#71305 Core Data: Remove unused reducers
  packages/core-data/src/reducer.js
  packages/core-data/src/test/reducer.js
Labels: [Type] Code Quality, [Package] Core data

#71329 Image: Don't allow convert to cover controls in contentOnly mode
  packages/block-library/src/image/image.js
Labels: [Type] Bug, [Block] Image, [Feature] Write mode

#71325 Core Data: Improve 'registry.batch' documentation
  packages/data/README.md
Labels: [Type] Developer Documentation, [Package] Core data

#71331 Interface: Remove leftover comment
  packages/interface/src/store/index.js
Labels: [Type] Code Quality, [Package] Interface

#71332 Editor: Fix theme stylesheet injection in 'useAvailablePatterns'
  packages/editor/src/components/post-transform-panel/hooks.js
Labels: [Type] Bug, [Package] Editor, [Feature] Patterns

#71334 DataViews: Fix `defaultLayouts` documentation error
  packages/dataviews/CHANGELOG.md
  packages/dataviews/README.md
Labels: [Type] Developer Documentation, [Feature] DataViews, [Package] DataViews

#71333 Editor: Improve the 'Design' sidebar panel performance
  packages/editor/src/components/post-transform-panel/hooks.js
  packages/editor/src/components/post-transform-panel/index.js
Labels: [Type] Performance, [Package] Editor, [Feature] Patterns

#71276 DataViews: support the "Minimal UI" story by using `DataViews.Footer`
  packages/dataviews/CHANGELOG.md
  packages/dataviews/README.md
  packages/dataviews/src/components/dataviews-context/index.ts
  packages/dataviews/src/components/dataviews/index.tsx
  packages/dataviews/src/components/dataviews/stories/index.story.tsx
Labels: [Type] Enhancement, [Feature] DataViews

#71345 DataForm: Streamline validation behavior
  packages/dataviews/CHANGELOG.md
  packages/dataviews/README.md
  packages/dataviews/src/components/dataform/index.tsx
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/test/dataform.tsx
  packages/dataviews/src/types.ts
  packages/fields/src/actions/reorder-page.tsx
Labels: [Type] Enhancement, [Feature] DataViews

#70693 Add wp-env SPX profiler option
  packages/env/README.md
  packages/env/lib/cli.js
  packages/env/lib/commands/start.js
  packages/env/lib/init-config.js
  packages/env/lib/parse-spx-mode.js
  packages/env/lib/test/parse-spx-mode.js
Labels: [Type] Performance, [Tool] Env

#71260 ControlWithError: Show validating state when transitioning from error state
  package-lock.json
  package.json
  packages/components/CHANGELOG.md
  packages/components/src/validated-form-controls/components/stories/overview.story.tsx
  packages/components/src/validated-form-controls/control-with-error.tsx
  packages/components/src/validated-form-controls/test/control-with-error.tsx
  storybook/main.js
Labels: [Type] Bug, [Package] Components

#67665 Convert date package to TypeScript
  packages/date/CHANGELOG.md
  packages/date/README.md
  packages/date/src/index.ts
  packages/date/src/types.ts
Labels: [Type] Code Quality, [Package] Date

#67669 Convert api-fetch package to TypeScript
  packages/api-fetch/src/index.ts
  packages/api-fetch/src/middlewares/fetch-all-middleware.ts
  packages/api-fetch/src/middlewares/http-v1.ts
  packages/api-fetch/src/middlewares/media-upload.ts
  packages/api-fetch/src/middlewares/namespace-endpoint.ts
  packages/api-fetch/src/middlewares/nonce.ts
  packages/api-fetch/src/middlewares/preloading.ts
  packages/api-fetch/src/middlewares/root-url.js
  packages/api-fetch/src/middlewares/root-url.ts
  packages/api-fetch/src/middlewares/test/fetch-all-middleware.ts
  packages/api-fetch/src/middlewares/test/http-v1.ts
  packages/api-fetch/src/middlewares/test/media-upload.ts
  packages/api-fetch/src/middlewares/test/namespace-endpoint.ts
  packages/api-fetch/src/middlewares/test/nonce.ts
  packages/api-fetch/src/middlewares/test/preloading.ts
  packages/api-fetch/src/middlewares/test/root-url.ts
  packages/api-fetch/src/middlewares/test/user-locale.ts
  packages/api-fetch/src/middlewares/theme-preview.js
  packages/api-fetch/src/middlewares/theme-preview.ts
  packages/api-fetch/src/middlewares/user-locale.ts
  packages/api-fetch/src/types.ts
  packages/api-fetch/src/utils/response.ts
Labels: [Type] Code Quality, [Package] API fetch

#71368 Audio and Video: Hide caption controls in contentOnly mode
  packages/block-library/src/audio/edit.js
  packages/block-library/src/video/edit.js
Labels: [Type] Bug, [Block] Image, [Block] Video, [Feature] Write mode

#70840 Query Loop Block: Fix broken placeholder
  packages/block-library/src/query/edit/index.js
  packages/block-library/src/query/edit/query-content.js
  packages/block-library/src/query/edit/query-placeholder.js
  packages/block-library/src/query/edit/query-toolbar.js
  packages/block-library/src/query/editor.scss
Labels: [Type] Enhancement, [Block] Query Loop

#71348 Scripts: do not access `window` global
  packages/scripts/scripts/test-playwright.js
Labels: [Type] Bug, [Tool] WP Scripts

#71347 Update types of getCurrentPostId
  docs/reference-guides/data/data-core-editor.md
  packages/editor/src/store/selectors.js
Labels: [Type] Code Quality, [Package] Editor

#71410 Inserter: Fix `InserterListbox` rendering for React 19
  packages/block-editor/src/components/inserter-listbox/index.js
Labels: [Type] Enhancement, Framework, [Feature] Inserter

#71388 Accordion: Add an "Add" button
  packages/block-library/src/accordion/edit.js
Labels: [Type] Enhancement, [Block] Accordion (experimental)
