Repository WordPress/gutenberg, pull requests merged in 2025-09, with the labels that each got.

#71232 Prevent nested containers with `content` role from showing inserter in write mode
  packages/block-editor/src/components/block-actions/index.js
  packages/block-editor/src/store/private-selectors.js
  packages/block-editor/src/store/selectors.js
  packages/block-library/src/gallery/block.json
  test/e2e/specs/editor/various/write-design-mode.spec.js
Labels: [Type] Bug, [Feature] Write mode

#71407 Accordion Content, Header, Panel: Remove example field
  packages/block-library/src/accordion-content/block.json
  packages/block-library/src/accordion-content/index.js
  packages/block-library/src/accordion-header/block.json
  packages/block-library/src/accordion-header/index.js
  packages/block-library/src/accordion-panel/block.json
  packages/block-library/src/accordion-panel/index.js
Labels: [Type] Bug, [Block] Accordion (experimental), [Feature] Style Book

#71423 Edit Post: Check for meta box container before adding constraints
  packages/edit-post/src/components/layout/index.js
Labels: [Type] Enhancement, Framework, [Feature] Meta Boxes

#71439 api-fetch: cleanup and improve unit tests
  packages/api-fetch/src/test/index.js
Labels: [Type] Code Quality, [Package] API fetch

#71429 Group Block variation:remove variation text color.
  packages/block-library/src/group/variations.js
Labels: [Type] Bug, Needs Design Feedback, [Block] Group

#71453 Storybook: Set `DateCalendar` and `DateRangeCalendar` components as private.
  packages/components/src/calendar/stories/date-calendar.story.tsx
  packages/components/src/calendar/stories/date-range-calendar.story.tsx
Labels: [Type] Developer Documentation, Storybook

#71380 DataForm: add description support for the combined fields and show the description in the Card layout
  packages/dataviews/CHANGELOG.md
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/dataforms-layouts/card/index.tsx
  packages/dataviews/src/dataforms-layouts/card/style.scss
  packages/dataviews/src/style.scss
  packages/dataviews/src/types.ts
Labels: [Type] Enhancement, [Feature] DataViews

#71458 api-fetch: clean up error handling
  packages/api-fetch/src/index.ts
  packages/api-fetch/src/middlewares/media-upload.ts
  packages/api-fetch/src/test/index.js
  packages/api-fetch/src/utils/response.ts
Labels: [Type] Code Quality, [Package] API fetch

#71454 Accordion Panel: Remove unnecessary wrapper div and simplify save
  packages/block-library/src/accordion-panel/edit.js
  packages/block-library/src/accordion-panel/save.js
Labels: [Type] Enhancement, [Block] Accordion (experimental)

#71445 Fix issue of css affecting the nested accordion icon.
  packages/block-library/src/accordion/style.scss
Labels: [Type] Bug, First-time Contributor, [Block] Accordion (experimental)

#71480 Accordion Header: Fix RTL toggle button layout
  packages/block-library/src/accordion/style.scss
Labels: [Type] Bug, Internationalization (i18n), [Block] Accordion (experimental)

#71465 Block Editor: Remove duplicate 'InsertionPointOpenRef' context definition
  packages/block-editor/src/components/block-popover/inbetween.js
Labels: [Type] Code Quality, [Package] Block editor

#71213 Hide 'Add block' control in Link UI when Navigation Link block is in contentOnly mode
  packages/block-library/src/navigation-link/link-ui.js
Labels: [Type] Bug, [Block] Navigation Link, [Feature] Write mode

#71484 fix: prevent scrollbars on accordion header and toggle
  packages/block-library/src/accordion/style.scss
Labels: [Type] Bug, [Block] Accordion (experimental)

#71391 Validated form controls: Fix Sass var handling for red color
  packages/components/CHANGELOG.md
  packages/components/src/validated-form-controls/style.scss
Labels: [Type] Bug, [Package] Components

#70378 Global styles: add element support for text related inputs
  backport-changelog/6.9/9600.md
  lib/class-wp-theme-json-gutenberg.php
  packages/block-library/src/form-input/style.scss
  packages/block-library/src/post-comments-form/style.scss
  packages/block-library/src/search/style.scss
  packages/blocks/src/api/constants.js
  schemas/json/theme.json
Labels: [Type] New API, Global Styles, [Block] Form (experimental)

#71163 Normalize the Navigation block appender behavior between canvas and list view contexts
  packages/block-editor/src/components/inserter/index.js
  packages/block-editor/src/components/list-view/appender.js
  packages/block-library/src/navigation-link/link-ui.js
  packages/block-library/src/navigation/edit/leaf-more-menu.js
  packages/block-library/src/navigation/edit/menu-inspector-controls.js
  test/e2e/specs/editor/blocks/navigation-list-view.spec.js
Labels: [Type] Enhancement, [Status] Blocked, [Block] Navigation

#71481 Search: Border radius presets work correctly
  packages/block-library/src/search/edit.js
  packages/block-library/src/search/index.php
Labels: [Type] Bug, [Block] Search, Global Styles

#71461 Accordion: Add BlockGap support to content & panel
  docs/reference-guides/core-blocks.md
  packages/block-library/src/accordion-content/block.json
  packages/block-library/src/accordion-content/edit.js
  packages/block-library/src/accordion-panel/block.json
  packages/block-library/src/accordion/style.scss
Labels: [Type] Bug, [Block] Accordion (experimental)

#71311 Modal headings and labels missing editor text color
  packages/components/CHANGELOG.md
  packages/components/src/modal/style.scss
Labels: [Type] Bug, [Package] Components

#71476 Command Palette: Register menu navigation based on Core Menu API
  backport-changelog/6.9/9542.md
  lib/compat/wordpress-6.9/command-palette.php
  packages/core-commands/README.md
  packages/core-commands/src/admin-navigation-commands.js
  packages/core-commands/src/index.js
  test/e2e/specs/site-editor/command-center.spec.js
Labels: [Type] Enhancement, [Package] Core commands, No Core Sync Required

#70886 Migrate element package to TS
  packages/element/README.md
  packages/element/src/create-interpolate-element.ts
  packages/element/src/index.ts
  packages/element/src/platform.ts
  packages/element/src/raw-html.ts
  packages/element/src/react-platform.ts
  packages/element/src/react.ts
  packages/element/src/serialize.ts
  packages/element/src/utils.ts
Labels: [Type] Code Quality, [Package] Element

#71356 Fix: Hide "View Post" link for non-viewable post types
  packages/edit-post/src/components/editor-initialization/listener-hooks.js
  packages/edit-post/src/components/editor-initialization/test/listener-hooks.js
Labels: [Type] Bug, [Package] Edit Post

#71499 Clean up LinkUI duplication for Add block and Create page flows
  packages/block-library/src/navigation-link/block-inserter.js
  packages/block-library/src/navigation-link/dialog-wrapper.js
  packages/block-library/src/navigation-link/link-ui.js
  packages/block-library/src/navigation-link/page-creator.js
Labels: [Type] Code Quality, [Block] Navigation Link

#71505 DataForm: switch boolean field types from toggle to checkbox UI
  packages/components/CHANGELOG.md
  packages/components/src/private-apis.ts
  packages/dataviews/CHANGELOG.md
  packages/dataviews/src/dataform-controls/checkbox.tsx
  packages/dataviews/src/dataform-controls/index.tsx
  packages/dataviews/src/dataform-controls/toggle.tsx
  packages/dataviews/src/field-types/boolean.tsx
  packages/dataviews/src/field-types/stories/index.story.tsx
Labels: [Type] Enhancement, [Feature] DataViews

#71537 Site Editor: Always show Additional CSS button
  packages/edit-site/src/components/global-styles/screen-root.js
Labels: [Type] Enhancement, Global Styles, [Feature] Site Editor

#71402 Editor: Try displaying intermediate results for hierarchical terms
  packages/edit-post/src/components/back-button/test/fullscreen-mode-close.js
  packages/editor/src/components/post-taxonomies/hierarchical-term-selector.js
Labels: [Type] Performance, [Package] Editor

#71534 DataViews: Remove leftover code for Pages
  packages/edit-site/src/components/post-list/index.js
Labels: [Type] Code Quality, [Feature] DataViews

#71514 Dataforms: Add icons to email and telephone controls
  packages/components/src/private-apis.ts
  packages/dataviews/src/dataform-controls/email.tsx
  packages/dataviews/src/dataform-controls/telephone.tsx
  packages/dataviews/src/dataform-controls/url.tsx
  packages/dataviews/src/dataform-controls/utils/validated-text.tsx
  packages/dataviews/src/test/dataform.tsx
Labels: [Type] Enhancement, [Feature] DataViews

#71522 Add color field type and control to DataViews
  package-lock.json
  packages/components/src/private-apis.ts
  packages/dataviews/package.json
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/dataform-controls/color.tsx
  packages/dataviews/src/dataform-controls/index.tsx
  packages/dataviews/src/field-types/color.tsx
  packages/dataviews/src/field-types/index.tsx
  packages/dataviews/src/field-types/stories/index.story.tsx
  packages/dataviews/src/types.ts
Labels: [Type] Enhancement, [Feature] DataViews

#71543 DataViews grid layout: rounded corners for media
  packages/dataviews/CHANGELOG.md
  packages/dataviews/src/dataviews-layouts/grid/style.scss
Labels: [Type] Bug, [Feature] DataViews

#67606 Refactor: Content only template locking block editing modes to reducer
  packages/block-editor/src/store/private-selectors.js
  packages/block-editor/src/store/reducer.js
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/reducer.js
  packages/block-editor/src/store/test/selectors.js
Labels: [Feature] Blocks, [Type] Code Quality

#71538 Gallery Block: Add E2E test for image randomization
  test/e2e/specs/editor/blocks/gallery.spec.js
Labels: [Type] Code Quality, [Block] Gallery

#71503 Localize labels in getVisualTypeName() for link control search items
  packages/block-editor/src/components/link-control/search-item.js
  packages/block-editor/src/components/link-control/style.scss
  packages/block-editor/src/components/link-control/test/index.js
Labels: [Type] Enhancement, Internationalization (i18n), [Feature] Link Editing

#71350 Add support for ValidatedFormTokenField
  packages/components/CHANGELOG.md
  packages/components/src/validated-form-controls/components/form-token-field.tsx
  packages/components/src/validated-form-controls/components/index.ts
  packages/components/src/validated-form-controls/components/stories/form-token-field.story.tsx
  packages/components/src/validated-form-controls/style.scss
Labels: [Type] Enhancement, [Package] Components

#71565 Command Palette: Move custom CSS command to `core-commands` from `edit-site` package
  packages/core-commands/src/site-editor-navigation-commands.js
  packages/edit-site/src/hooks/commands/use-common-commands.js
Labels: [Type] Enhancement, [Package] Core commands

#71591 Update CODEOWNERS to remove ndiego
  .github/CODEOWNERS
Labels: [Type] Project Management

#71629 Core Data: Fix field conditions in 'getRevision' selector
  packages/core-data/src/selectors.ts
Labels: [Type] Bug, [Package] Core data

#71657 CODEOWNERS: Remove some block code owners
  .github/CODEOWNERS
Labels: [Type] Code Quality

#71638 Block Commenting: Use rendered comment content
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/style.scss
Labels: [Type] Enhancement, Collaborative Workflows

#63858 Block Variations: Have `getActiveBlockVariation` fall back to default variation
  packages/block-editor/src/components/block-variation-transforms/index.js
  packages/blocks/src/store/selectors.js
  packages/blocks/src/store/test/selectors.js
Labels: [Type] Enhancement, [Feature] Block Variations

#71662 Date block: Move `block_bindings_supported_attributes` filter to compat layer
  backport-changelog/6.9/9299.md
  lib/compat/wordpress-6.9/block-bindings.php
  packages/block-library/src/post-date/index.php
Labels: [Type] Code Quality, [Block] Post Date, [Feature] Block bindings

#71509 Update datetime control to use calendar UI
  packages/dataviews/src/dataform-controls/datetime.tsx
  test/e2e/specs/site-editor/page-list.spec.js
Labels: [Type] Enhancement, [Feature] DataViews

#71671 Hide Spacer resizable box in write mode
  packages/block-library/src/spacer/edit.js
Labels: [Type] Bug, [Feature] Write mode

#71655 Content Only Pattern experiment: Restore purple block icon color for synced patterns
  packages/block-editor/src/components/block-toolbar/style.scss
Labels: [Type] Bug, [Feature] Patterns

#71271 Block comments: Add comment indicators in the block toolbar
  packages/editor/src/components/collab-sidebar/comment-button-toolbar.js
  packages/editor/src/components/collab-sidebar/comment-indicator-toolbar.js
  packages/editor/src/components/collab-sidebar/index.js
  packages/editor/src/components/collab-sidebar/style.scss
Labels: [Type] Enhancement, Needs Design Feedback, Collaborative Workflows

#71653 contentOnly Patterns experiment: Add Edit Contents button to block inspector and show 'Detach' block action
  packages/block-editor/src/components/block-card/index.js
  packages/block-editor/src/components/block-inspector/edit-contents-button.js
  packages/block-editor/src/components/block-inspector/index.js
  packages/block-editor/src/components/block-inspector/style.scss
  packages/block-editor/src/store/reducer.js
  packages/patterns/src/components/pattern-convert-button.js
  packages/patterns/src/components/patterns-manage-button.js
  test/e2e/specs/editor/various/patterns.spec.js
Labels: [Type] Experimental, [Feature] Patterns

#71665 DataForm select control: support validation
  packages/components/CHANGELOG.md
  packages/components/src/private-apis.ts
  packages/dataviews/CHANGELOG.md
  packages/dataviews/src/components/dataform/stories/index.story.tsx
  packages/dataviews/src/dataform-controls/select.tsx
Labels: [Type] Enhancement, [Feature] DataViews

#71631 BorderRadius Presets: Fix Generating wrong variable names in pattern code
  packages/block-editor/src/components/border-radius-control/test/utils.js
  packages/block-editor/src/components/border-radius-control/utils.js
  packages/block-editor/src/components/global-styles/border-panel.js
Labels: [Type] Bug, Global Styles

#71387 Block Comments: Make "n more replies" text clickable for accessibility
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/style.scss
Labels: [Type] Bug, [Focus] Accessibility (a11y), Needs Design Feedback, Collaborative Workflows

#71688 contentOnly patterns experiment: Add reducer tests
  packages/block-editor/src/store/test/reducer.js
Labels: [Type] Automated Testing, [Feature] Patterns

#71685 i18n: show "1 more reply" instead of "1 more replies" in block comments
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Type] Bug, Collaborative Workflows

#71663 Block Bindings: Add `block_bindings_supported_attributes` filter
  backport-changelog/6.9/9891.md
  lib/compat/wordpress-6.9/block-bindings.php
Labels: [Type] Enhancement, [Feature] Block bindings

#71607 useClipboardHandler: Prevent file paste for users without media upload permissions
  packages/block-editor/src/components/writing-flow/use-clipboard-handler.js
  packages/block-library/src/utils/hooks.js
Labels: [Type] Bug, [Feature] Paste, [Package] Block editor

#71686 Add contentRole to Query block and make sure Change design always works as expected
  docs/reference-guides/core-blocks.md
  packages/block-library/src/query/block.json
  packages/block-library/src/query/edit/pattern-selection.js
Labels: [Type] Bug, [Feature] Write mode

#71483 Image block: Save `<figcaption>` if `caption` attr is bound
  backport-changelog/6.9/9702.md
  lib/compat/wordpress-6.9/block-bindings.php
  packages/block-editor/src/utils/block-bindings.js
  packages/block-library/src/image/image.js
  packages/block-library/src/image/save.js
  test/integration/fixtures/blocks/core__image__caption-block-bindings.html
  test/integration/fixtures/blocks/core__image__caption-block-bindings.json
  test/integration/fixtures/blocks/core__image__caption-block-bindings.parsed.json
  test/integration/fixtures/blocks/core__image__caption-block-bindings.serialized.html
Labels: [Type] Enhancement, [Block] Image, [Feature] Block bindings

#71712 Filter comment clause based on current query.
  lib/experimental/block-comments.php
Labels: [Type] Bug, Collaborative Workflows

#71708 Section block multi-selection: disable transforms and inspector controls
  packages/block-editor/src/components/block-inspector/index.js
  packages/block-editor/src/components/block-switcher/index.js
Labels: [Feature] Block Multi Selection, [Type] Feature, [Feature] Patterns

#71701 Improve comments panel close icon label
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Type] Enhancement, Collaborative Workflows

#71667 Updated Block Commenting: Show date or human-readable time diff code
  packages/editor/src/components/collab-sidebar/comment-author-info.js
Labels: [Type] Enhancement, Collaborative Workflows

#71608 Refactor block-inspector: improve maintainability and readability
  packages/block-editor/src/components/block-inspector/index.js
Labels: [Type] Code Quality

#71745 Accordion Header: use withoutInteractiveFormatting instead of hardcoded formats
  packages/block-library/src/accordion-header/edit.js
Labels: [Type] Enhancement, [Block] Accordion (experimental)

#71365 Accordion: Add example block preview
  packages/block-library/src/accordion/index.js
Labels: [Type] Enhancement, [Block] Accordion (experimental)

#71750 Accordion Block: hide "Add" button when multiple blocks are selected
  packages/block-library/src/accordion/edit.js
Labels: [Type] Bug, [Block] Accordion (experimental)

#71756 Accordion: Remove label from Add button
  packages/block-library/src/accordion/edit.js
Labels: [Type] Bug, [Focus] Accessibility (a11y), [Block] Accordion (experimental)

#71550 Site Editor: make less prominent Addtional CSS UI
  packages/edit-site/src/components/global-styles/screen-css.js
  packages/edit-site/src/components/global-styles/screen-root.js
  packages/edit-site/src/components/sidebar-global-styles-wrapper/index.js
Labels: [Type] Enhancement, Needs Design Feedback, Global Styles, [Feature] Site Editor

#71633 Terms Query inspector controls revamp + add subterms option
  docs/reference-guides/core-blocks.md
  packages/block-library/src/term-template/block.json
  packages/block-library/src/term-template/edit.js
  packages/block-library/src/term-template/index.php
  packages/block-library/src/terms-query/block.json
  packages/block-library/src/terms-query/inspector-controls.js
  packages/block-library/src/terms-query/inspector-controls/advanced-controls.js
  packages/block-library/src/terms-query/inspector-controls/display-options.js
  packages/block-library/src/terms-query/inspector-controls/empty-terms-control.js
  packages/block-library/src/terms-query/inspector-controls/hierarchy-control.js
  packages/block-library/src/terms-query/inspector-controls/index.js
  packages/block-library/src/terms-query/inspector-controls/max-terms-control.js
  packages/block-library/src/terms-query/inspector-controls/ordering-controls.js
  packages/block-library/src/terms-query/inspector-controls/taxonomy-control.js
Labels: [Type] Enhancement, [Block] Terms Query (experimental)

#71742 Accordion Block: Simplify script module enqueueing
  packages/block-library/src/accordion/block.json
  packages/block-library/src/accordion/index.php
Labels: [Type] Code Quality, [Block] Accordion (experimental)

#71766 Block Comments: Unfold custom styles
  packages/editor/src/components/collab-sidebar/style.scss
Labels: [Type] Code Quality, Collaborative Workflows

#71723 PostTypeSupportCheck: Handle support keys sub-features
  packages/editor/src/components/post-type-support-check/index.js
  packages/editor/src/components/post-type-support-check/test/index.js
Labels: [Type] Enhancement, [Package] Editor

#71623 Add ability to toggle meta box pane open and closed
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/layout/style.scss
  test/e2e/specs/editor/plugins/wp-editor-meta-box.spec.js
Labels: [Type] Enhancement, [Feature] Meta Boxes

#71736 Textarea Component: Add default resize vertical rule
  packages/components/CHANGELOG.md
  packages/components/src/textarea-control/styles/textarea-control-styles.ts
Labels: [Type] Enhancement, [Feature] UI Components, [Package] Components

#71786 Accordion Block: Add additional keypress handlers for navigation
  packages/block-library/src/accordion-content/index.php
  packages/block-library/src/accordion/index.php
  packages/block-library/src/accordion/view.js
Labels: [Type] Enhancement, [Focus] Accessibility (a11y), [Block] Accordion (experimental)

#71802 Fix accordion gradient background.
  docs/reference-guides/core-blocks.md
  packages/block-library/src/accordion-content/block.json
  packages/block-library/src/accordion-header/block.json
  packages/block-library/src/accordion-panel/block.json
  packages/block-library/src/accordion/block.json
Labels: [Type] Bug, [Block] Accordion (experimental)

#71809 Fixes Accordion block width issue when applying padding
  packages/block-library/src/accordion/style.scss
Labels: [Type] Bug, [Block] Accordion (experimental)

#71829 Navigation Block: Use path for all navigation toogle icons
  packages/block-library/src/navigation/index.php
Labels: [Type] Code Quality, [Block] Navigation, First-time Contributor

#71859 Accordion Header: fix toggle icon position in the editor
  packages/block-library/src/accordion-header/edit.js
Labels: [Type] Bug, [Block] Accordion (experimental)

#71849 Backport changelog: Update for 9702 (to 9949)
  backport-changelog/6.9/9702.md
  backport-changelog/6.9/9949.md
Labels: [Type] Code Quality

#71862 Block Comments: Fix canceling the form for a selected block
  packages/editor/src/components/collab-sidebar/comments.js
Labels: [Type] Bug, Collaborative Workflows

#71753 Site Editor: Fix the PHP warning for the URL query
  lib/compat/wordpress-6.9/preload.php
  test/e2e/specs/site-editor/preload.spec.js
Labels: [Type] Bug, [Feature] Site Editor, No Core Sync Required

#71852 JSON Schema: Update block.json apiVersion to 3
  packages/e2e-tests/plugins/interactive-blocks/deferred-store/block.json
  packages/e2e-tests/plugins/interactive-blocks/directive-bind/block.json
  packages/e2e-tests/plugins/interactive-blocks/directive-class/block.json
  packages/e2e-tests/plugins/interactive-blocks/directive-context/block.json
  packages/e2e-tests/plugins/interactive-blocks/directive-each/block.json
  packages/e2e-tests/plugins/interactive-blocks/directive-init/block.json
  packages/e2e-tests/plugins/interactive-blocks/directive-key/block.json
  packages/e2e-tests/plugins/interactive-blocks/directive-on-document/block.json
  packages/e2e-tests/plugins/interactive-blocks/directive-on-window/block.json
  packages/e2e-tests/plugins/interactive-blocks/directive-on/block.json
  packages/e2e-tests/plugins/interactive-blocks/directive-priorities/block.json
  packages/e2e-tests/plugins/interactive-blocks/directive-run/block.json
  packages/e2e-tests/plugins/interactive-blocks/directive-style/block.json
  packages/e2e-tests/plugins/interactive-blocks/directive-text/block.json
  packages/e2e-tests/plugins/interactive-blocks/directive-watch/block.json
  packages/e2e-tests/plugins/interactive-blocks/generator-scope/block.json
  packages/e2e-tests/plugins/interactive-blocks/get-server-context/block.json
  packages/e2e-tests/plugins/interactive-blocks/get-server-state/block.json
  packages/e2e-tests/plugins/interactive-blocks/namespace/block.json
  packages/e2e-tests/plugins/interactive-blocks/negation-operator/block.json
  packages/e2e-tests/plugins/interactive-blocks/router-navigate/block.json
  packages/e2e-tests/plugins/interactive-blocks/router-regions/block.json
  packages/e2e-tests/plugins/interactive-blocks/router-script-modules-alpha/block.json
  packages/e2e-tests/plugins/interactive-blocks/router-script-modules-bravo/block.json
  packages/e2e-tests/plugins/interactive-blocks/router-script-modules-charlie/block.json
  packages/e2e-tests/plugins/interactive-blocks/router-script-modules-wrapper/block.json
  packages/e2e-tests/plugins/interactive-blocks/router-styles-blue/block.json
  packages/e2e-tests/plugins/interactive-blocks/router-styles-green/block.json
  packages/e2e-tests/plugins/interactive-blocks/router-styles-red/block.json
  packages/e2e-tests/plugins/interactive-blocks/router-styles-wrapper/block.json
  packages/e2e-tests/plugins/interactive-blocks/store-tag/block.json
  packages/e2e-tests/plugins/interactive-blocks/store/block.json
  packages/e2e-tests/plugins/interactive-blocks/tovdom-islands/block.json
  packages/e2e-tests/plugins/interactive-blocks/tovdom/block.json
  packages/e2e-tests/plugins/interactive-blocks/with-scope/block.json
  packages/scripts/scripts/test/__snapshots__/build-blocks-manifest.js.snap
  packages/scripts/scripts/test/fixtures/build-blocks-manifest/input/custom-header/block.json
  packages/scripts/scripts/test/fixtures/build-blocks-manifest/input/image-gallery/block.json
  packages/scripts/scripts/test/fixtures/build-blocks-manifest/input/simple-button/block.json
Labels: [Type] Code Quality

#71869 Block Comments: New 'useBlockComments' hook and perf improvements
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/hooks.js
  packages/editor/src/components/collab-sidebar/index.js
  packages/editor/src/components/collab-sidebar/utils.js
Labels: [Type] Performance, Collaborative Workflows

#71841 Time To Read: Add a word count option
  docs/reference-guides/core-blocks.md
  packages/block-library/src/post-time-to-read/block.json
  packages/block-library/src/post-time-to-read/edit.js
  packages/block-library/src/post-time-to-read/index.php
  phpunit/blocks/render-post-time-to-read-test.php
  test/integration/fixtures/blocks/core__post-time-to-read.json
Labels: [Type] Enhancement, [Block] Time to Read

#71877 Block Comments: Update 'Actions' menu design
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/style.scss
  test/e2e/specs/editor/various/block-comments.spec.js
Labels: [Type] Enhancement, Collaborative Workflows

#71865 DataViewsPicker Grid layout: Support hiding the title
  packages/dataviews/CHANGELOG.md
  packages/dataviews/src/dataviews-layouts/picker-grid/index.tsx
Labels: [Type] Bug, [Feature] DataViews

#71586 Table of Contents: Add aria label to the nav element
  docs/reference-guides/core-blocks.md
  lib/blocks.php
  packages/block-library/src/table-of-contents/block.json
  packages/block-library/src/table-of-contents/index.php
Labels: [Type] Bug, [Block] Table of contents (experimental), No Core Sync Required

#71884 Block Comments: Match the show more replies button UI to the design
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/style.scss
Labels: [Type] Enhancement, Needs Design Feedback, Collaborative Workflows

#71892 Block Comments: Simplify action callbacks
  packages/editor/src/components/collab-sidebar/add-comment.js
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/index.js
  test/e2e/specs/editor/various/block-comments.spec.js
Labels: [Type] Enhancement, Collaborative Workflows

#71909 add decodeEntities for CollabSideBarContent errors
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Type] Bug, Collaborative Workflows

#71874 Fix comment counts with filter
  lib/experimental/block-comments.php
Labels: [Type] Bug, Collaborative Workflows

#71820 Block Bindings: Communicate supported block attributes from server side
  backport-changelog/6.9/9992.md
  lib/compat/wordpress-6.9/block-bindings.php
  packages/block-editor/src/components/block-edit/edit.js
  packages/block-editor/src/components/block-list/use-block-props/index.js
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/hooks/block-bindings.js
  packages/block-editor/src/utils/block-bindings.js
  packages/editor/src/components/provider/use-block-editor-settings.js
Labels: [Type] Enhancement, [Feature] Block bindings

#71921 Block Comment: make blockCommentId as part of the metadata
  packages/block-library/src/utils/get-transformed-metadata.js
  packages/editor/src/components/collab-sidebar/add-comment.js
  packages/editor/src/components/collab-sidebar/comments.js
  packages/editor/src/components/collab-sidebar/hooks.js
  packages/editor/src/components/collab-sidebar/index.js
Labels: [Type] Bug, Collaborative Workflows

#71928 Add reset button to BackgroundControlsPanel
  packages/block-editor/src/components/background-image-control/index.js
  packages/block-editor/src/components/background-image-control/style.scss
Labels: [Type] Enhancement, [Feature] Media, Global Styles

#71945 Consistently show (no title) as a fallback for pages and templates with empty titles
  packages/edit-post/src/components/layout/index.js
  packages/edit-site/src/components/add-new-post/index.js
  packages/edit-site/src/components/add-new-template/index.js
  packages/edit-site/src/components/editor/index.js
  packages/fields/src/actions/duplicate-post.tsx
  packages/fields/src/actions/rename-post.tsx
  packages/fields/src/actions/utils.ts
Labels: [Type] Bug

#71929 Post Editor: Add the back button animation similar to the site editor
  packages/edit-post/src/components/back-button/fullscreen-mode-close.js
  packages/edit-post/src/components/back-button/style.scss
  packages/edit-post/src/components/back-button/test/__snapshots__/fullscreen-mode-close.js.snap
  packages/edit-post/src/components/back-button/test/fullscreen-mode-close.js
Labels: [Type] Enhancement

#71790 Docs: Use `gutenberg` instead of `Gutenberg` in package name
  lib/class-wp-theme-json-resolver-gutenberg.php
  lib/class-wp-theme-json-schema-gutenberg.php
  lib/experimental/posts/load.php
  packages/style-engine/class-wp-style-engine-css-declarations.php
  packages/style-engine/class-wp-style-engine-css-rule.php
  packages/style-engine/class-wp-style-engine-css-rules-store.php
  packages/style-engine/class-wp-style-engine-processor.php
  packages/style-engine/class-wp-style-engine.php
  packages/style-engine/style-engine.php
  phpunit/block-bindings-test.php
  phpunit/block-supports/aria-label-test.php
  phpunit/block-supports/background-test.php
  phpunit/block-supports/block-style-variations-test.php
  phpunit/block-supports/border-test.php
  phpunit/block-supports/colors-test.php
  phpunit/block-supports/dimensions-test.php
  phpunit/block-supports/elements-test.php
  phpunit/block-supports/layout-test.php
  phpunit/block-supports/position-test.php
  phpunit/block-supports/shadow-test.php
  phpunit/block-supports/spacing-test.php
  phpunit/block-supports/typography-test.php
  phpunit/blocks/class-wp-navigation-block-renderer-test.php
  phpunit/bootstrap.php
  phpunit/class-block-fixture-test.php
  phpunit/class-gutenberg-hierarchical-sort-test.php
  phpunit/class-override-script-test.php
  phpunit/class-phpunit-environment-setup-test.php
  phpunit/class-test-plugin-version-meta-test.php
  phpunit/class-wp-duotone-test.php
  phpunit/class-wp-rest-global-styles-controller-gutenberg-test.php
  phpunit/class-wp-theme-json-resolver-test.php
  phpunit/class-wp-theme-json-schema-test.php
  phpunit/class-wp-theme-json-test.php
  phpunit/script-loader-test.php
  phpunit/wp-theme-json-test.php
  test/emptytheme/functions.php
  test/emptytheme/index.php
  test/gutenberg-test-themes/block-bindings/index.php
  test/gutenberg-test-themes/darktheme/index.php
  test/gutenberg-test-themes/emptyhybrid/functions.php
  test/gutenberg-test-themes/emptyhybrid/index.php
  test/gutenberg-test-themes/style-variations/index.php
Labels: [Type] Developer Documentation, No Core Sync Required

#71965 Time to Read: Simplify edit function
  packages/block-library/src/post-time-to-read/edit.js
Labels: [Type] Code Quality, [Block] Time to Read

#71947 Add paragraph level option to post type label block
  packages/block-library/src/query-title/edit.js
  packages/block-library/src/query-title/index.php
Labels: [Type] Enhancement, First-time Contributor, [Block] Query Title

#71798 Template activation: fix saveEntityRecord with theme ID
  packages/core-data/src/actions.js
  test/e2e/specs/site-editor/save-entity-record-template-compat.spec.js
Labels: [Type] Bug
